Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

[CSS Fonts] Implement animation support for FontSizeAdjust metrics two-value syntax https://bugs.webkit.org/show_bug.cgi?id=254266
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/animations/font-size-adjust-interpolation-expected.txt
  Source/WebCore/animation/CSSPropertyAnimation.cpp
Owners: @graouts

Implement the "only the first wheel event is cancelable" behavior for UI-side compositing https://bugs.webkit.org/show_bug.cgi?id=250236 rdar://103969246
  Source/WebCore/page/scrolling/ScrollingTree.cpp
  Source/WebCore/page/scrolling/ScrollingTree.h
  Source/WebCore/page/scrolling/ThreadedScrollingTree.h
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingTree.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeEventDispatcher.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeEventDispatcher.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingCoordinatorProxyMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingCoordinatorProxyMac.mm
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingTreeMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingTreeMac.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteScrollingCoordinator.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteScrollingCoordinator.mm
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
Owners: @cdumez

[Cocoa] Fix typo in TextShaping logging https://bugs.webkit.org/show_bug.cgi?id=254187 rdar://106964746
  Source/WebCore/platform/graphics/mac/ComplexTextControllerCoreText.mm
Owners: none

[Cocoa] Log font attributes to the TextShaping log channel https://bugs.webkit.org/show_bug.cgi?id=254188 rdar://106965417
  Source/WebCore/platform/graphics/coretext/FontCoreText.cpp
  Source/WebCore/platform/graphics/mac/ComplexTextControllerCoreText.mm
Owners: none

[UI-side compositing] Have RemoteLayerTreeScrollingPerformanceData log data after each event https://bugs.webkit.org/show_bug.cgi?id=254747 rdar://107424375
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeScrollingPerformanceData.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
Owners: @cdumez

[ GARDNEING ] [ New Test ] [ Mac wk2 ] http/tests/misc/heic-accept -header.html is a flaky crash (254770) https://bugs.webkit.org/show_bug.cgi?id=254770 rdar://107439027
  LayoutTests/platform/mac-wk2/TestExpectations
Owners: none

Cherry-pick 903910f95dd3. rdar://problem/107430896
  LayoutTests/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebCore/html/CanvasBase.h
  Source/WebCore/html/CustomPaintCanvas.h
  Source/WebCore/html/HTMLCanvasElement.cpp
  Source/WebCore/html/HTMLCanvasElement.h
  Source/WebCore/html/OffscreenCanvas.cpp
  Source/WebCore/html/OffscreenCanvas.h
  Source/WebCore/html/OffscreenCanvas.idl
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLSync.cpp
Owners: @cdumez, @rniwa

Unreviewed cache-storage test gardening https://bugs.webkit.org/show_bug.cgi?id=248824 rdar://103030498
  LayoutTests/platform/mac/TestExpectations
Owners: none

[macOS] Fix TestWebKitAPI.WebKit.ResponsivenessTimerCrash timeout https://bugs.webkit.org/show_bug.cgi?id=253660 rdar://problem/106509558
  Source/WebKit/UIProcess/ProcessThrottler.h
Owners: @cdumez

[MotionMark] Live version of 4 tests just show a 403 Access Denied page https://bugs.webkit.org/show_bug.cgi?id=254782 rdar://107208247
  Websites/browserbench.org/MotionMark1.2/resources/debug-runner/tests.js
  Websites/browserbench.org/MotionMark1.2/tests/bouncing-particles/resources/bouncing-canvas-images.js
  Websites/browserbench.org/MotionMark1.2/tests/bouncing-particles/resources/bouncing-svg-images.js
Owners: none

Re-import html/semantics/disabled-elements WPT https://bugs.webkit.org/show_bug.cgi?id=254779 rdar://107445944
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/disabled-elements/disabled-event-dispatch.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/disabled-elements/disabled-event-dispatch.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/disabled-elements/event-propagate-disabled-keyboard.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/disabled-elements/event-propagate-disabled-keyboard.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/disabled-elements/event-propagate-disabled.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/disabled-elements/event-propagate-disabled.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/disabled-elements/fieldset-event-propagation.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/disabled-elements/fieldset-event-propagation.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/disabled-elements/w3c-import.log
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/html/semantics/disabled-elements/event-propagate-disabled.tentative-expected.txt
  LayoutTests/tests-options.json
Owners: none

[git-webkit] Handle publishing the current branch https://bugs.webkit.org/show_bug.cgi?id=253549 rdar://106390107
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/mocks/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/publish.py
Owners: @facetothefate, @JonWBedard

[JSC] Reduce # of parameters of function#bind operations https://bugs.webkit.org/show_bug.cgi?id=254752 rdar://problem/107427493
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/dfg/DFGOperations.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
Owners: @WebKit/jsc-reviewers

[iOS] screen.colorDepth reports incorrect value https://bugs.webkit.org/show_bug.cgi?id=244845 rdar://99871925
  LayoutTests/platform/ios-device/TestExpectations
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/css/cssom-view/Screen-pixelDepth-Screen-colorDepth001-expected.txt
  Source/WebCore/platform/ios/PlatformScreenIOS.mm
Owners: none

Enable new WebGL conformance tests, conformance/{context,extensions} https://bugs.webkit.org/show_bug.cgi?id=254208 rdar://106989736
  LayoutTests/TestExpectations
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/gtk-wayland/TestExpectations
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/ios-simulator-wk2/TestExpectations
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/wincairo/TestExpectations
  LayoutTests/platform/wk2/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
  LayoutTests/webgl/TestExpectations
  LayoutTests/webgl/conformance/extensions/ext-float-blend-expected.txt
  LayoutTests/webgl/conformance/extensions/ext-float-blend.html
  LayoutTests/webgl/conformance/extensions/ext-texture-compression-rgtc-expected.txt
  LayoutTests/webgl/conformance/extensions/ext-texture-compression-rgtc.html
  LayoutTests/webgl/conformance/extensions/khr-parallel-shader-compile-expected.txt
  LayoutTests/webgl/conformance/extensions/khr-parallel-shader-compile.html
  LayoutTests/webgl/conformance/extensions/oes-fbo-render-mipmap-expected.txt
  LayoutTests/webgl/conformance/extensions/oes-fbo-render-mipmap.html
  LayoutTests/webgl/conformance/extensions/s3tc-and-rgtc-expected.txt
  LayoutTests/webgl/conformance/extensions/s3tc-and-rgtc.html
  LayoutTests/webgl/conformance/extensions/webgl-multi-draw-expected.txt
  LayoutTests/webgl/conformance/extensions/webgl-multi-draw.html
Owners: none

Avoid CPU time under AnimationEffect::getBasicTiming() when no animation event listeners are registered https://bugs.webkit.org/show_bug.cgi?id=254792
  Source/WebCore/animation/DeclarativeAnimation.cpp
  Source/WebCore/animation/DeclarativeAnimation.h
Owners: @graouts

Enable new WebGL conformance tests, conformance/{glsl,limits} https://bugs.webkit.org/show_bug.cgi?id=254320 rdar://107122630
  LayoutTests/TestExpectations
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/gtk-wayland/TestExpectations
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/wincairo/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
Owners: none

[WGSL] Fix overload test https://bugs.webkit.org/show_bug.cgi?id=254746 rdar://107424282
  Source/WebGPU/WGSL/tests/valid/overload.wgsl
Owners: none

Remove workarounds for Microsoft My Day, Messenger, and Outlook https://bugs.webkit.org/show_bug.cgi?id=252816
  Source/WebCore/WebCore.order
  Source/WebCore/platform/RuntimeApplicationChecks.h
  Source/WebCore/platform/cocoa/RuntimeApplicationChecksCocoa.mm
  Source/WebKitLegacy/WebKitLegacy.xcodeproj/project.pbxproj
  Source/WebKitLegacy/mac/Configurations/WebKitLegacy.xcconfig
  Source/WebKitLegacy/mac/Misc/OutlookQuirksUserScript.js
  Source/WebKitLegacy/mac/Misc/WebKitVersionChecks.h
  Source/WebKitLegacy/mac/WebView/WebFrame.mm
  Source/WebKitLegacy/mac/WebView/WebPreferencesDefaultValues.mm
  Source/WebKitLegacy/mac/WebView/WebView.mm
Owners: none

Cherry-pick 32cc4c04ce78. rdar://problem/107431177
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/translation-animation-on-important-property-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/translation-animation-on-important-property.html
  LayoutTests/webanimations/combining-transform-animations-with-different-acceleration-capabilities-4-expected.txt
  LayoutTests/webanimations/combining-transform-animations-with-different-acceleration-capabilities-4.html
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/animation/KeyframeEffect.h
  Source/WebCore/animation/KeyframeEffectStack.cpp
  Source/WebCore/animation/KeyframeEffectStack.h
  Source/WebCore/style/StyleTreeResolver.cpp
Owners: @graouts

Cherry-pick f80a253f84ff. rdar://problem/107430860
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/webanimations/combining-transform-animations-with-different-acceleration-capabilities-5-expected.txt
  LayoutTests/webanimations/combining-transform-animations-with-different-acceleration-capabilities-5.html
  Source/WebCore/animation/KeyframeEffectStack.cpp
  Source/WebCore/animation/KeyframeEffectStack.h
  Source/WebCore/style/PropertyCascade.cpp
  Source/WebCore/style/PropertyCascade.h
  Source/WebCore/style/StyleBuilder.h
  Source/WebCore/style/StyleTreeResolver.cpp
  Source/WebCore/style/StyleTreeResolver.h
Owners: @graouts

[CSS] Implement CSSOM insertRule() on StyleRule https://bugs.webkit.org/show_bug.cgi?id=254601 rdar://107322119
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/cssom-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/invalid-inner-rules-expected.txt
  Source/WebCore/css/CSSGroupingRule.cpp
  Source/WebCore/css/CSSGroupingRule.h
  Source/WebCore/css/CSSRule.cpp
  Source/WebCore/css/CSSRule.h
  Source/WebCore/css/CSSStyleRule.cpp
  Source/WebCore/css/CSSStyleSheet.cpp
  Source/WebCore/css/CSSStyleSheet.h
  Source/WebCore/css/StyleRule.cpp
  Source/WebCore/css/StyleRule.h
  Source/WebCore/css/StyleSheetContents.h
  Source/WebCore/css/parser/CSSParser.cpp
  Source/WebCore/css/parser/CSSParser.h
  Source/WebCore/css/parser/CSSParserImpl.cpp
  Source/WebCore/css/parser/CSSParserImpl.h
  Source/WebCore/css/parser/CSSSelectorParser.cpp
Owners: none

Support rendering non-native <meter> in vertical writing mode https://bugs.webkit.org/show_bug.cgi?id=248182 rdar://102595455
  LayoutTests/fast/dom/HTMLMeterElement/meter-clone-expected.txt
  LayoutTests/fast/dom/HTMLMeterElement/meter-clone.html
  LayoutTests/fast/dom/HTMLMeterElement/meter-element-markup-expected.txt
  LayoutTests/fast/dom/HTMLMeterElement/meter-writing-mode-expected.html
  LayoutTests/fast/dom/HTMLMeterElement/meter-writing-mode.html
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/css/css-writing-modes/forms/meter-appearance-native-computed-style.optional-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-writing-modes/forms/meter-appearance-native-computed-style.optional.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-writing-modes/forms/meter-appearance-native-horizontal.optional-expected-mismatch.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-writing-modes/forms/meter-appearance-native-horizontal.optional.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-writing-modes/forms/meter-appearance-native-vertical.optional-expected-mismatch.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-writing-modes/forms/meter-appearance-native-vertical.optional.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-writing-modes/forms/w3c-import.log
  LayoutTests/platform/glib/fast/dom/HTMLMeterElement/meter-element-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-writing-modes/forms/meter-appearance-native-computed-style.optional-expected.txt
  Source/WebCore/css/horizontalFormControls.css
  Source/WebCore/css/html.css
  Source/WebCore/html/HTMLMeterElement.cpp
  Source/WebCore/html/shadow/meterElementShadow.css
Owners: @rniwa, @cdumez

Refactor StyleRuleCounterStyle for eliminating StyleProperties https://bugs.webkit.org/show_bug.cgi?id=254524 rdar://107267784
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/prefix-suffix-syntax-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/speak-as-syntax-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/symbols-syntax-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-prefix-suffix-syntax-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-speak-as-syntax-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-symbols-syntax-expected.txt
  Source/WebCore/css/CSSCounterStyle.cpp
  Source/WebCore/css/CSSCounterStyle.h
  Source/WebCore/css/CSSCounterStyleDescriptors.cpp
  Source/WebCore/css/CSSCounterStyleDescriptors.h
  Source/WebCore/css/CSSCounterStyleRule.cpp
  Source/WebCore/css/CSSCounterStyleRule.h
  Source/WebCore/css/parser/CSSParserImpl.cpp
  Source/WebCore/rendering/RenderListMarker.cpp
Owners: none

Add masked corners support to InteractionRegions https://bugs.webkit.org/show_bug.cgi?id=254775 <rdar://104098230>
  LayoutTests/interaction-region/border-radii-expected.txt
  LayoutTests/interaction-region/border-radii.html
  Source/WebCore/page/InteractionRegion.cpp
  Source/WebCore/page/InteractionRegion.h
  Source/WebCore/platform/graphics/RoundedRect.h
  Source/WebCore/rendering/EventRegion.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeInteractionRegionLayers.mm
Owners: @cdumez

Support unclosed parentheses at end of sizes attribute
  LayoutTests/TestExpectations
  LayoutTests/fast/dom/HTMLImageElement/sizes/image-sizes-w3c-1-expected.txt
  LayoutTests/fast/dom/HTMLImageElement/sizes/image-sizes-w3c-1.html
  LayoutTests/fast/dom/HTMLImageElement/sizes/image-sizes-w3c-2-expected.txt
  LayoutTests/fast/dom/HTMLImageElement/sizes/image-sizes-w3c-2.html
  LayoutTests/fast/dom/HTMLImageElement/sizes/image-sizes-w3c-3-expected.txt
  LayoutTests/fast/dom/HTMLImageElement/sizes/image-sizes-w3c-3.html
  LayoutTests/fast/dom/HTMLImageElement/sizes/image-sizes-w3c-4-expected.txt
  LayoutTests/fast/dom/HTMLImageElement/sizes/image-sizes-w3c-4.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute-expected.txt
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute-display-none-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute-quirks-mode-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute-standards-mode-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute-width-1000px-expected.txt
  LayoutTests/platform/ios-simulator/TestExpectations
  LayoutTests/platform/ios/fast/dom/HTMLImageElement/sizes/image-sizes-w3c-1-expected.txt
  LayoutTests/platform/ios/fast/dom/HTMLImageElement/sizes/image-sizes-w3c-2-expected.txt
  LayoutTests/platform/ios/fast/dom/HTMLImageElement/sizes/image-sizes-w3c-3-expected.txt
  LayoutTests/platform/ios/fast/dom/HTMLImageElement/sizes/image-sizes-w3c-4-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute-display-none-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute-quirks-mode-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute-standards-mode-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute-width-1000px-expected.txt
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/css/parser/SizesCalcParser.cpp
Owners: @rniwa

[WGSL] Add typing for unary expressions https://bugs.webkit.org/show_bug.cgi?id=254748 rdar://107424606
  Source/WebGPU/WGSL/Overload.h
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/TypeDeclarations.rb
  Source/WebGPU/WGSL/generator/main.rb
  Source/WebGPU/WGSL/tests/invalid/overload.wgsl
  Source/WebGPU/WGSL/tests/valid/overload.wgsl
Owners: none

[Margin-trim] Remove a virtual function call on this rare property while computing margins https://bugs.webkit.org/show_bug.cgi?id=254675
  Source/WebCore/rendering/RenderBlockFlow.cpp
  Source/WebCore/rendering/RenderBlockFlow.h
  Source/WebCore/rendering/RenderBox.h
  Source/WebCore/rendering/RenderFlexibleBox.cpp
  Source/WebCore/rendering/RenderFlexibleBox.h
  Source/WebCore/rendering/RenderGrid.cpp
  Source/WebCore/rendering/RenderGrid.h
Owners: none

[CSS] Enable CSS Nesting feature https://bugs.webkit.org/show_bug.cgi?id=254767 rdar://106825062
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Owners: none

[WGSL] Don't attempt to resolve overloads when one of the arguments is bottom https://bugs.webkit.org/show_bug.cgi?id=254741 rdar://107420386
  Source/WebGPU/WGSL/Overload.cpp
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/tests/invalid/overload.wgsl
Owners: none

jsc.exe is unable to dump exception output to a file https://bugs.webkit.org/show_bug.cgi?id=254799
  Source/JavaScriptCore/jsc.cpp
Owners: @WebKit/jsc-reviewers

[popover] Fix popover-focus-child-dialog.html https://bugs.webkit.org/show_bug.cgi?id=254809
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-focus-child-dialog-expected.txt
  Source/WebCore/dom/Element.cpp
Owners: @rniwa, @cdumez

Opcode: memset opcodeCounts and opcodePairCounts to 0 https://bugs.webkit.org/show_bug.cgi?id=254815
  Source/JavaScriptCore/bytecode/Opcode.cpp
Owners: @WebKit/jsc-reviewers

fetch should compute its origin from its context https://bugs.webkit.org/show_bug.cgi?id=254734 rdar://problem/107414766
  LayoutTests/http/wpt/fetch/origin-no-cors-disabled-expected.txt
  LayoutTests/http/wpt/fetch/origin-no-cors-disabled.html
  LayoutTests/http/wpt/fetch/resources/echo-origin-cors-disabled.py
  Source/WebCore/loader/cache/CachedResourceRequest.cpp
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebCore/page/SecurityOrigin.h
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
Owners: @cdumez

REGRESSION (262337@main) swipe-back-with-passive-wheel-listener.html fails https://bugs.webkit.org/show_bug.cgi?id=254795 rdar://107456894
  LayoutTests/swipe/resources/swipe-test.js
  LayoutTests/swipe/swipe-back-with-active-wheel-listener-expected.txt
  LayoutTests/swipe/swipe-back-with-passive-wheel-listener-expected.txt
  LayoutTests/swipe/wheel-prevent-default-prevents-swipe-back-expected.txt
Owners: none

[GTK] Unreviewed, build fix for Ubuntu 20.04 after 262210@main https://bugs.webkit.org/show_bug.cgi?id=252988
  Source/WebKit/WebProcess/WebProcess.h
Owners: @cdumez

[git-webkit] Forward environment to cherry-pick https://bugs.webkit.org/show_bug.cgi?id=254786 rdar://107447403
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/cherry_pick.py
Owners: @facetothefate, @JonWBedard

Add RELEASE_LOG_FAULT when decoding child class of allowed class through _WKRemoteObjectRegistry https://bugs.webkit.org/show_bug.cgi?id=254776 rdar://106810634
  Source/WebKit/Platform/Logging.h
  Source/WebKit/Shared/API/Cocoa/WKRemoteObjectCoder.mm
  Source/WebKit/Shared/API/Cocoa/_WKRemoteObjectInterface.mm
Owners: @cdumez

HTML parser: correct CDATASectionDoubleRightSquareBracketState https://bugs.webkit.org/show_bug.cgi?id=254744 rdar://107421580
  LayoutTests/html5lib/generated/run-tests21-data-expected.txt
  LayoutTests/html5lib/generated/run-tests21-write-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/parsing/html5lib_tests21_run_type=uri-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/parsing/html5lib_tests21_run_type=write-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/parsing/html5lib_tests21_run_type=write_single-expected.txt
  Source/WebCore/html/parser/HTMLTokenizer.cpp
Owners: @cdumez, @rniwa

Resolve FIXME about creating emptyURLs without Objective-C https://bugs.webkit.org/show_bug.cgi?id=253248
  Source/WTF/wtf/URL.h
  Source/WTF/wtf/cf/URLCF.cpp
  Source/WTF/wtf/cocoa/URLCocoa.mm
  Source/WebKit/Shared/Cocoa/ArgumentCodersCocoa.mm
  Source/WebKit/Shared/cf/ArgumentCodersCF.cpp
Owners: none

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
