Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

Send `windowScreenDidChange` to the DrawingAreaProxy https://bugs.webkit.org/show_bug.cgi?id=246778 rdar://101357455
  Source/WebKit/UIProcess/DrawingAreaProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
Owners: @cdumez

[Cocoa] Fix build after 6c7943f6c9bc009014a5bfbbf96adf05a3414eaa https://bugs.webkit.org/show_bug.cgi?id=246830 rdar://101401037
  Source/WebCore/PAL/libavif/Configurations/Base.xcconfig
  Source/WebCore/PAL/libavif/dav1d/Configurations/Base.xcconfig
  Source/WebCore/PAL/libavif/dav1d/Configurations/DebugRelease.xcconfig
Owners: none

Throw a DataCloneError when attempting to serialize an ImageBitmap without the origin-clean flag. https://bugs.webkit.org/show_bug.cgi?id=246783 <rdar://100901435>
  LayoutTests/imported/w3c/web-platform-tests/html/canvas/element/manual/imagebitmap/createImageBitmap-serializable-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/canvas/element/manual/imagebitmap/createImageBitmap-transfer-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/canvas/element/manual/imagebitmap/createImageBitmap-serializable-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/canvas/element/manual/imagebitmap/createImageBitmap-transfer-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/html/canvas/element/manual/imagebitmap/createImageBitmap-serializable-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/html/canvas/element/manual/imagebitmap/createImageBitmap-transfer-expected.txt
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
Owners: @cdumez

[LFC][IFC] Add support for "line-box-contain: replaced" https://bugs.webkit.org/show_bug.cgi?id=246786
  LayoutTests/fast/block/float/floats-offset-linebox-contain-inline.html
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingGeometry.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineLineBuilder.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineLineBuilder.h
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.cpp
Owners: none

iOS: Text insertion caret can get out of sync with the page content https://bugs.webkit.org/show_bug.cgi?id=244105 rdar://96977291
  Source/WebKit/Shared/EditorState.cpp
  Source/WebKit/Shared/EditorState.h
  Source/WebKit/Shared/EditorState.serialization.in
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/glib/WebKitEditorState.cpp
  Source/WebKit/UIProcess/API/gtk/WebKitWebViewBase.cpp
  Source/WebKit/UIProcess/API/wpe/WPEView.cpp
  Source/WebKit/UIProcess/DrawingAreaProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/ios/WKContentView.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/ios/WebPageProxyIOS.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/glib/WebPageGLib.cpp
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Source/WebKit/WebProcess/WebPage/mac/WebPageMac.mm
Owners: @cdumez, @WebKit/glib-reviewers, @zdobersek

[WPT] Remove some 3-second sleeps in test cases https://bugs.webkit.org/show_bug.cgi?id=246887 <rdar://problem/101444494>
  LayoutTests/imported/w3c/web-platform-tests/content-security-policy/reporting/report-preload-and-consume.https.html
  LayoutTests/imported/w3c/web-platform-tests/reporting/cross-origin-report-no-credentials.https.sub.html
  LayoutTests/imported/w3c/web-platform-tests/reporting/cross-origin-reports-isolated.https.sub.html
  LayoutTests/imported/w3c/web-platform-tests/reporting/document-reporting-destroy-after-document-close.https.sub.html
  LayoutTests/imported/w3c/web-platform-tests/reporting/same-origin-report-credentials.https.sub.html
Owners: none

text-transform:uppercase in SVG causes misplaced letters
  LayoutTests/svg/text/text-transform-whitespace-rules-expected.svg
  LayoutTests/svg/text/text-transform-whitespace-rules.svg
  Source/WebCore/rendering/svg/RenderSVGInlineText.cpp
Owners: none

caretRangeFromPoint returns bad results near input type checkbox or radio in Strict Mode
  LayoutTests/fast/dom/Document/CaretRangeFromPoint/caretRangeFromPoint-in-strict-mode-wtih-checkbox-expected.txt
  LayoutTests/fast/dom/Document/CaretRangeFromPoint/caretRangeFromPoint-in-strict-mode-wtih-checkbox.html
  Source/WebCore/rendering/RenderBlock.cpp
Owners: @rniwa

[GTK] Fix GIR build failure when cross compiling https://bugs.webkit.org/show_bug.cgi?id=246907
  Source/cmake/FindGI.cmake
Owners: none

Add masonry as valid value to grid-template-rows/grid-template-columns. https://bugs.webkit.org/show_bug.cgi?id=246541 rdar://101188057
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/masonry-grid-template-columns-computed-withcontent-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/masonry-parsing-expected.txt
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/css/CSSValueKeywords.in
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/parser/CSSParserContext.cpp
  Source/WebCore/css/parser/CSSParserContext.h
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/StyleGridData.cpp
  Source/WebCore/rendering/style/StyleGridData.h
  Source/WebCore/style/StyleBuilderConverter.h
Owners: @graouts

Rename some functions related to display refresh https://bugs.webkit.org/show_bug.cgi?id=246897 rdar://101451193
  Source/WebKit/UIProcess/CoordinatedGraphics/DrawingAreaProxyCoordinatedGraphics.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteLayerTreeDrawingAreaProxyIOS.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteLayerTreeDrawingAreaProxyIOS.mm
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.mm
  Source/WebKit/UIProcess/wc/DrawingAreaProxyWC.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.h
  Source/WebKit/WebProcess/WebPage/DrawingArea.h
  Source/WebKit/WebProcess/WebPage/DrawingArea.messages.in
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDisplayRefreshMonitor.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDisplayRefreshMonitor.mm
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDrawingArea.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDrawingArea.mm
  Source/WebKit/WebProcess/WebPage/wc/DrawingAreaWC.cpp
  Source/WebKit/WebProcess/WebPage/wc/DrawingAreaWC.h
Owners: @magomez, @zdobersek, @cdumez

AX: AccessibilityNodeObject::ariaLabeledByText appends to a Vector that it never uses https://bugs.webkit.org/show_bug.cgi?id=246905 rdar://problem/101462816
  Source/WebCore/accessibility/AccessibilityNodeObject.cpp
Owners: none

AX: Simplify AXObjectCache by making better use of AXIsolatedTree::treeForPageID(std::optional<PageIdentifier>) https://bugs.webkit.org/show_bug.cgi?id=246904 rdar://problem/101462585
  Source/WebCore/accessibility/AXObjectCache.cpp
Owners: none

text-combine-upright text-shadow is not correctly positioned https://bugs.webkit.org/show_bug.cgi?id=112655 rdar://101467340
  LayoutTests/imported/w3c/web-platform-tests/css/css-writing-modes/text-combine-upright-shadow-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-writing-modes/text-combine-upright-shadow-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-writing-modes/text-combine-upright-shadow.html
  Source/WebCore/rendering/TextPainter.cpp
Owners: none

font-face must accept ranges in reverse order, and reverse them for *computed* style https://bugs.webkit.org/show_bug.cgi?id=246585 rdar://problem/101210777
  LayoutTests/TestExpectations
  LayoutTests/fast/text/font-face-javascript-expected.txt
  LayoutTests/fast/text/font-face-javascript.html
  LayoutTests/fast/text/font-loading-font-display-expected.txt
  LayoutTests/fast/text/font-loading-font-display.html
  LayoutTests/fast/text/font-selection-font-face-parse-expected.txt
  LayoutTests/fast/text/font-selection-font-face-parse.html
  LayoutTests/fast/text/font-selection-font-loading-api-parse-expected.txt
  LayoutTests/fast/text/font-selection-font-loading-api-parse.html
  LayoutTests/fast/text/variations/font-loading-api-parse-ranges-expected.txt
  LayoutTests/fast/text/variations/font-loading-api-parse-ranges.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/font-face-range-order-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/variations/at-font-face-descriptors-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/variations/at-font-face-font-matching-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/variations/font-parse-numeric-stretch-style-weight-expected.txt
  LayoutTests/platform/gtk/fast/text/font-selection-font-loading-api-parse-expected.txt
  LayoutTests/platform/ios/fast/text/font-selection-font-face-parse-expected.txt
  LayoutTests/platform/ios/fast/text/font-selection-font-loading-api-parse-expected.txt
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/mac/fast/text/font-selection-font-face-parse-expected.txt
  LayoutTests/platform/mac/fast/text/font-selection-font-loading-api-parse-expected.txt
  LayoutTests/platform/wpe/fast/text/font-selection-font-face-parse-expected.txt
  LayoutTests/platform/wpe/fast/text/font-selection-font-loading-api-parse-expected.txt
  Source/WebCore/css/CSSFontFace.cpp
  Source/WebCore/css/CSSFontFace.h
  Source/WebCore/css/CSSFontFaceSet.cpp
  Source/WebCore/css/CSSFontFaceSet.h
  Source/WebCore/css/CSSFontSelector.cpp
  Source/WebCore/css/CSSFontSelector.h
  Source/WebCore/css/CSSSegmentedFontFace.cpp
  Source/WebCore/css/FontFace.cpp
  Source/WebCore/css/FontFace.h
  Source/WebCore/css/FontFace.idl
  Source/WebCore/css/parser/CSSPropertyParserWorkerSafe.cpp
  Source/WebCore/css/parser/CSSPropertyParserWorkerSafe.h
  Source/WebCore/platform/graphics/FontSelectionAlgorithm.h
Owners: none

[JSC] Add support for Atomics.waitAsync (ParkingLot Version WIP) https://bugs.webkit.org/show_bug.cgi?id=241414 rdar://94655073
  JSTests/stress/SharedArrayBuffer.js
  JSTests/stress/bigint-atomics-fail.js
  JSTests/stress/settimeout-starvation.js
  JSTests/stress/shared-array-buffer-bigint.js
  JSTests/stress/waitasync-notify.js
  JSTests/stress/waitasync-waiterlist.js
  JSTests/test262/config.yaml
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/scripting/processing-model-2/integration-with-the-javascript-agent-formalism/requires-failure.https.any.js
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/scripting/processing-model-2/integration-with-the-javascript-agent-formalism/requires-success.any.js
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/Sources.txt
  Source/JavaScriptCore/jsc.cpp
  Source/JavaScriptCore/runtime/AtomicsObject.cpp
  Source/JavaScriptCore/runtime/AtomicsObject.h
  Source/JavaScriptCore/runtime/Intrinsic.h
  Source/JavaScriptCore/runtime/JSGlobalObject.h
  Source/JavaScriptCore/runtime/OptionsList.h
  Source/JavaScriptCore/runtime/SimpleTypedArrayController.cpp
  Source/JavaScriptCore/runtime/SimpleTypedArrayController.h
  Source/JavaScriptCore/runtime/VM.cpp
  Source/JavaScriptCore/runtime/WaiterListManager.cpp
  Source/JavaScriptCore/runtime/WaiterListManager.h
  Source/WTF/wtf/ParkingLot.cpp
  Source/WTF/wtf/ParkingLot.h
  Source/WebCore/bindings/js/WebCoreTypedArrayController.cpp
  Source/WebCore/bindings/js/WebCoreTypedArrayController.h
  WebKit.xcworkspace/contents.xcworkspacedata
Owners: @WebKit/jsc-reviewers, @cdumez

font shorthand should not reject values that happen to have CSS-wide keywords as non-first identifiers in a font family name https://bugs.webkit.org/show_bug.cgi?id=246570 rdar://problem/101459948
  LayoutTests/fast/css/font-shorthand-mix-inherit-expected.txt
  LayoutTests/fast/css/font-shorthand-mix-inherit.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/test_font_family_parsing-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-pseudo/target-text-007-expected.txt
  Source/WebCore/css/FontSelectionValueInlines.h
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.h
Owners: none

[web-animations] commitStyles() should update layout prior to committing animations https://bugs.webkit.org/show_bug.cgi?id=246913
  LayoutTests/imported/w3c/web-platform-tests/web-animations/interfaces/Animation/commitStyles-expected.txt
  Source/WebCore/animation/WebAnimation.cpp
Owners: @graouts

[WK2] Provide a variadic-template ArgumentCoder specialization for IPC::ArrayReferenceTuple https://bugs.webkit.org/show_bug.cgi?id=246535
  Source/WebCore/platform/graphics/GraphicsTypesGL.h
  Source/WebCore/platform/graphics/angle/GraphicsContextGLANGLE.cpp
  Source/WebKit/Platform/IPC/ArgumentCoders.h
  Source/WebKit/Platform/IPC/ArrayReferenceTuple.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxy.cpp
Owners: @cdumez

[LFC][IFC] Add support for "line-box-contain: font" https://bugs.webkit.org/show_bug.cgi?id=246896
  LayoutTests/platform/ios/fast/block/lineboxcontain/font-replaced-expected.txt
  LayoutTests/platform/mac/fast/block/lineboxcontain/font-replaced-expected.txt
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingGeometry.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineLevelBox.h
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.cpp
Owners: none

[LFC][IFC] Introduce enclosingGlyphBoundsForText https://bugs.webkit.org/show_bug.cgi?id=246921
  Source/WebCore/layout/formattingContexts/inline/text/TextUtil.cpp
  Source/WebCore/layout/formattingContexts/inline/text/TextUtil.h
Owners: none

Potential crash in FrameView::updateScrollCorner
  Source/WebCore/page/FrameView.cpp
Owners: @cdumez

[WinCairo] Unreviewed build fix after 255889@main https://bugs.webkit.org/show_bug.cgi?id=246897
  Source/WebKit/WebProcess/WebPage/wc/DrawingAreaWC.cpp
Owners: @cdumez

[LFC][IFC] WPT progressions https://bugs.webkit.org/show_bug.cgi?id=246920
  LayoutTests/TestExpectations
Owners: none

[WebXR] Catch undeleted GL objects with OwnedGLObject https://bugs.webkit.org/show_bug.cgi?id=246841 rdar://101410305
  Source/WebCore/Modules/webxr/WebXROpaqueFramebuffer.cpp
  Source/WebCore/Modules/webxr/WebXROpaqueFramebuffer.h
  Source/WebCore/platform/graphics/GraphicsTypesGL.h
Owners: none

Add coders for std::array and WTF::EnumeratedArray https://bugs.webkit.org/show_bug.cgi?id=246898 <rdar://problem/101453146>
  Source/WTF/wtf/EnumeratedArray.h
  Source/WTF/wtf/Forward.h
  Source/WebKit/Platform/IPC/ArgumentCoders.h
Owners: @cdumez

CSSNumericValue.cpp sometimes fails to build https://bugs.webkit.org/show_bug.cgi?id=246926 rdar://101481899
  Source/WebCore/css/typedom/CSSNumericValue.cpp
Owners: none

Handle <attachment> painting in GPUP https://bugs.webkit.org/show_bug.cgi?id=246368 rdar://83459796
  LayoutTests/fast/attachment/mac/attachment-element-gpu-process-expected.html
  LayoutTests/fast/attachment/mac/attachment-element-gpu-process.html
  Source/WebCore/SourcesCocoa.txt
  Source/WebCore/rendering/AttachmentLayout.h
  Source/WebCore/rendering/AttachmentLayout.mm
  Source/WebCore/rendering/RenderTheme.cpp
  Source/WebCore/rendering/RenderTheme.h
  Source/WebCore/rendering/RenderThemeCocoa.h
  Source/WebCore/rendering/RenderThemeCocoa.mm
  Source/WebCore/rendering/RenderThemeIOS.h
  Source/WebCore/rendering/RenderThemeIOS.mm
  Source/WebCore/rendering/RenderThemeMac.h
  Source/WebCore/rendering/RenderThemeMac.mm
Owners: none

Fix clang build warning in WebSocketTaskCurl https://bugs.webkit.org/show_bug.cgi?id=246847
  Source/WebKit/NetworkProcess/curl/WebSocketTaskCurl.cpp
Owners: @cdumez

Omit "normal" values from font shorthand https://bugs.webkit.org/show_bug.cgi?id=246600 rdar://problem/101468196
  LayoutTests/fast/css/font-calculated-value-expected.txt
  LayoutTests/fast/css/font-calculated-value.html
  LayoutTests/fast/css/font-shorthand-expected.txt
  LayoutTests/fast/css/font-shorthand-from-longhands-expected.txt
  LayoutTests/fast/css/font-shorthand-from-longhands.html
  LayoutTests/fast/css/font-shorthand-mix-inherit-expected.txt
  LayoutTests/fast/css/font-shorthand-mix-inherit.html
  LayoutTests/fast/css/getComputedStyle/computed-style-font-expected.txt
  LayoutTests/fast/css/getComputedStyle/computed-style-font.html
  LayoutTests/fast/text/font-stretch-parse-expected.txt
  LayoutTests/fast/text/font-stretch-parse.html
  LayoutTests/fast/text/font-style-parse-expected.txt
  LayoutTests/fast/text/font-style-parse.html
  LayoutTests/fast/text/font-weight-parse-expected.txt
  LayoutTests/fast/text/font-weight-parse.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/font-palette-vs-shorthand-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-pseudo/first-letter-allowed-properties-expected.txt
  LayoutTests/platform/gtk/fast/css/css2-system-fonts-expected.txt
  LayoutTests/platform/gtk/fast/text/font-stretch-parse-expected.txt
  LayoutTests/platform/gtk/fast/text/font-style-parse-expected.txt
  LayoutTests/platform/ios/fast/css/css2-system-fonts-expected.txt
  LayoutTests/platform/ios/fast/text/font-stretch-parse-expected.txt
  LayoutTests/platform/ios/fast/text/font-style-parse-expected.txt
  LayoutTests/platform/mac/fast/css/css2-system-fonts-expected.txt
  LayoutTests/platform/mac/fast/text/font-stretch-parse-expected.txt
  LayoutTests/platform/mac/fast/text/font-style-parse-expected.txt
  LayoutTests/platform/wincairo/fast/css/css2-system-fonts-expected.txt
  LayoutTests/platform/wpe/fast/css/css2-system-fonts-expected.txt
  LayoutTests/platform/wpe/fast/text/font-stretch-parse-expected.txt
  LayoutTests/platform/wpe/fast/text/font-style-parse-expected.txt
  Source/WebCore/css/CSSFontValue.cpp
  Source/WebCore/css/CSSFontValue.h
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/ComputedStyleExtractor.h
  Source/WebCore/css/StyleProperties.cpp
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
Owners: none

Simplify FEComponentTransfer coding https://bugs.webkit.org/show_bug.cgi?id=246908 <rdar://problem/101464975>
  Source/WebCore/platform/graphics/filters/FEComponentTransfer.h
Owners: none

Merge 255721@main - [SOUP] Spammed by 0-byte downloads on imgur.com https://bugs.webkit.org/show_bug.cgi?id=245625
  Source/WebKit/UIProcess/API/glib/WebKitWebView.cpp
  Tools/TestWebKitAPI/Tests/WebKitGLib/TestResources.cpp
Owners: @WebKit/glib-reviewers

Unreviewed, reverting 255405@main.
  Source/WebCore/accessibility/AXObjectCache.h
Owners: none

Remove style spans to follow the styles of list item
  LayoutTests/editing/deleting/backspace-merge-into-list-item-expected.txt
  LayoutTests/editing/deleting/backspace-merge-into-list-item.html
  LayoutTests/editing/execCommand/switch-list-type-expected.txt
  Source/WebCore/editing/ReplaceSelectionCommand.cpp
Owners: @rniwa

HTML Parser: Update formatting element list bookmarks on element removal https://bugs.webkit.org/show_bug.cgi?id=246936
  Source/WebCore/html/parser/HTMLFormattingElementList.cpp
  Source/WebCore/html/parser/HTMLFormattingElementList.h
  Source/WebCore/html/parser/HTMLTreeBuilder.cpp
Owners: @cdumez, @rniwa

Add missing undef MESSAGE_CHECK for cpp file https://bugs.webkit.org/show_bug.cgi?id=246935
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
Owners: @cdumez

REGRESSION(254947@main): [GTK] GBM dependency breaks build https://bugs.webkit.org/show_bug.cgi?id=246812
  Source/cmake/OptionsGTK.cmake
Owners: @WebKit/glib-reviewers

Enable ShadowRealm JS tests Need the bug URL (OOPS!).
  LayoutTests/TestExpectations
Owners: none

[GTK] [2.38.1] Non-unified builds broken https://bugs.webkit.org/show_bug.cgi?id=246816
  Source/JavaScriptCore/interpreter/StackVisitor.cpp
Owners: @WebKit/jsc-reviewers

Merge 255910@main - [GTK] [2.38.1] Non-unified builds broken https://bugs.webkit.org/show_bug.cgi?id=246816
  Source/JavaScriptCore/interpreter/StackVisitor.cpp
Owners: @WebKit/jsc-reviewers
