Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @calvaris, @philn, @ntrrgc, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @graouts

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard
/Tools/TestWebKitAPI

# ================================================================================

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn

# ================================================================================

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

/Source/WebCore/Modules/apple-pay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/apple-pay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

# ================================================================================

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

Enforce the absence of static initializers https://bugs.webkit.org/show_bug.cgi?id=242428
  Source/JavaScriptCore/Configurations/JavaScriptCore.xcconfig
  Source/WebCore/Configurations/WebCore.xcconfig
  Source/WebGPU/Configurations/WebGPU.xcconfig
  Source/WebKit/Configurations/BaseXPCService.xcconfig
  Source/WebKit/Configurations/WebKit.xcconfig
  Source/WebKit/Configurations/adattributiond.xcconfig
  Source/WebKitLegacy/mac/Configurations/WebKitLegacy.xcconfig
  Tools/sanitizer/asan.xcconfig
  Tools/sanitizer/tsan.xcconfig
  Tools/sanitizer/ubsan.xcconfig
Owners: @WebKit/jsc-reviewers, @JonWBedard

Fix the build https://bugs.webkit.org/show_bug.cgi?id=242492
  Source/WebCore/platform/cocoa/VideoFullscreenInterfacePiP.mm
Owners: none

Revert [252203@main] Move WebRTC H265 flag from experimental to internal https://bugs.webkit.org/show_bug.cgi?id=242385
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WTF/Scripts/Preferences/WebPreferencesInternal.yaml
Owners: none

svg/animations/smil-leak-*.svg tests are flaky https://bugs.webkit.org/show_bug.cgi?id=114280
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/win/TestExpectations
  LayoutTests/svg/animations/smil-leak-dynamically-added-element-instances.svg
  LayoutTests/svg/animations/smil-leak-element-instances.svg
  LayoutTests/svg/animations/smil-leak-elements.svg
Owners: none

:focus pseudo class fails to repaint on a shadow host when focus moves from outside the page inside a shadow tree https://bugs.webkit.org/show_bug.cgi?id=205531
  LayoutTests/fast/shadow-dom/focus-ring-on-shadow-host-expected.html
  LayoutTests/fast/shadow-dom/focus-ring-on-shadow-host.html
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/win/TestExpectations
  LayoutTests/resources/ui-helper.js
  Source/WebCore/editing/FrameSelection.cpp
  Tools/WebKitTestRunner/cocoa/UIScriptControllerCocoa.h
  Tools/WebKitTestRunner/cocoa/UIScriptControllerCocoa.mm
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.h
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.mm
  Tools/WebKitTestRunner/mac/UIScriptControllerMac.h
  Tools/WebKitTestRunner/mac/UIScriptControllerMac.mm
Owners: @JonWBedard

[JSC] GCIncomingRefSet gets wrong size when array-buffer is transferred https://bugs.webkit.org/show_bug.cgi?id=242494
  JSTests/stress/gc-invocation-with-transfer.js
  Source/JavaScriptCore/heap/GCIncomingRefCountedSetInlines.h
  Source/JavaScriptCore/tools/JSDollarVM.cpp
Owners: @WebKit/jsc-reviewers

Adjust call inline candidate parameter for DFG https://bugs.webkit.org/show_bug.cgi?id=242496
  Source/JavaScriptCore/runtime/OptionsList.h
Owners: @WebKit/jsc-reviewers

[ iOS15 wk2 Release ] compositing/reflections/mask-and-reflection.html is a consistent failure https://bugs.webkit.org/show_bug.cgi?id=242489
  LayoutTests/compositing/reflections/mask-and-reflection.html
Owners: none

The script webkit-filter-log is broken since the github migration https://bugs.webkit.org/show_bug.cgi?id=242434
  Tools/Scripts/webkit-filter-log
Owners: @JonWBedard

ImageBuffer subclasses should not be templates https://bugs.webkit.org/show_bug.cgi?id=240058 rdar://93085945
  Source/WebCore/platform/graphics/ConcreteImageBuffer.h
  Source/WebCore/platform/graphics/ImageBuffer.cpp
  Source/WebCore/platform/graphics/ImageBufferBackend.h
  Source/WebCore/platform/graphics/PlatformImageBuffer.h
  Source/WebCore/platform/graphics/displaylists/DisplayListImageBuffer.h
  Source/WebKit/GPUProcess/graphics/ImageBufferShareableAllocator.cpp
  Source/WebKit/GPUProcess/graphics/RemoteImageBuffer.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStoreCollection.mm
  Source/WebKit/Shared/WebImage.cpp
  Source/WebKit/Sources.txt
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/GPU/graphics/PlatformRemoteImageBufferProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/ThreadSafeRemoteImageBufferFlusher.cpp
  Source/WebKit/WebProcess/GPU/graphics/ThreadSafeRemoteImageBufferFlusher.h
  Source/WebKit/WebProcess/GPU/webrtc/AudioMediaStreamTrackRendererInternalUnitManager.cpp
  Source/WebKit/WebProcess/Inspector/WebInspectorUIExtensionController.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.cpp
  Source/WebKit/WebProcess/WebPage/wc/DrawingAreaWC.cpp
  Source/WebKit/WebProcess/WebPage/wc/WCBackingStore.h
Owners: @dcrousso, @patrickangle

[ Mac EWS ] imported/w3c/web-platform-tests/workers/semantics/multiple-workers/004.html is a flaky text failure https://bugs.webkit.org/show_bug.cgi?id=237095 rdar://problem/89367636
  LayoutTests/http/wpt/shared-workers/connect-event-ordering-expected.txt
  LayoutTests/http/wpt/shared-workers/connect-event-ordering-sharedworker.js
  LayoutTests/http/wpt/shared-workers/connect-event-ordering.html
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/win/TestExpectations
  LayoutTests/platform/wincairo-wk1/TestExpectations
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorker.cpp
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorker.h
Owners: none
