Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Add SerialFunctionDispatcher interface. https://bugs.webkit.org/show_bug.cgi?id=246305
  Source/WTF/wtf/FunctionDispatcher.h
  Source/WTF/wtf/RunLoop.cpp
  Source/WTF/wtf/RunLoop.h
  Source/WebCore/workers/WorkerOrWorkletThread.cpp
  Source/WebCore/workers/WorkerOrWorkletThread.h
Owners: @cdumez

[Gardening]: REBASELINE: [ iPadOS16 ] imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml.html is constantly failing https://bugs.webkit.org/show_bug.cgi?id=245803
  LayoutTests/platform/ipad/TestExpectations
  LayoutTests/platform/ipad/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
Owners: none

Address post-landing feedback on 255832@main https://bugs.webkit.org/show_bug.cgi?id=246877
  Source/WebKit/Shared/WebFoundTextRange.cpp
Owners: none

Fix rounding for rgb channels in parseColorIntOrPercentage https://bugs.webkit.org/show_bug.cgi?id=243525 rdar://98091263
  LayoutTests/TestExpectations
  LayoutTests/fast/canvas/rgba-parsing-expected.txt
  LayoutTests/fast/canvas/rgba-parsing.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-rgb-expected.txt
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/svg/import/color-prop-02-f-manual-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/svg/import/color-prop-03-t-manual-expected.txt
  LayoutTests/platform/glib/svg/W3C-SVG-1.1/color-prop-02-f-expected.txt
  LayoutTests/platform/glib/svg/W3C-SVG-1.1/color-prop-03-t-expected.txt
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1/color-prop-02-f-expected.png
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1/color-prop-02-f-expected.txt
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1/color-prop-03-t-expected.png
  LayoutTests/platform/ios-simulator/imported/w3c/web-platform-tests/svg/import/color-prop-02-f-manual-expected.txt
  LayoutTests/platform/ios-simulator/imported/w3c/web-platform-tests/svg/import/color-prop-03-t-manual-expected.txt
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/ios/svg/W3C-SVG-1.1/color-prop-02-f-expected.txt
  LayoutTests/platform/ios/svg/W3C-SVG-1.1/color-prop-03-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/color-prop-02-f-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/color-prop-03-t-expected.txt
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/mac/imported/w3c/web-platform-tests/svg/import/color-prop-02-f-manual-expected.txt
  LayoutTests/platform/mac/imported/w3c/web-platform-tests/svg/import/color-prop-03-t-manual-expected.txt
  LayoutTests/platform/mac/svg/W3C-SVG-1.1/color-prop-02-f-expected.txt
  LayoutTests/platform/mac/svg/W3C-SVG-1.1/color-prop-03-t-expected.txt
  LayoutTests/platform/win/TestExpectations
  LayoutTests/platform/win/svg/W3C-SVG-1.1/color-prop-03-t-expected.txt
  LayoutTests/platform/wpe/svg/W3C-SVG-1.1/color-prop-02-f-expected.txt
  LayoutTests/platform/wpe/svg/W3C-SVG-1.1/color-prop-03-t-expected.txt
  LayoutTests/svg/custom/mask-colorspace-expected.txt
  LayoutTests/svg/filters/feDisplacementMap-filterUnits-expected.svg
  LayoutTests/svg/filters/feDisplacementMap-filterUnits.svg
  Source/WebCore/css/parser/CSSParserFastPaths.cpp
Owners: none

Cap cookie lifetimes to 7 days for responses from third party IP addresses https://bugs.webkit.org/show_bug.cgi?id=246477 rdar://100831206
  Source/WebCore/platform/network/DNS.cpp
  Source/WebCore/platform/network/DNS.h
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.h
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebCore/IPAddressTests.cpp
Owners: @cdumez

Unreviewed, add exception scope check https://bugs.webkit.org/show_bug.cgi?id=246886 rdar://101442161
  Source/JavaScriptCore/runtime/ArrayPrototype.cpp
Owners: @WebKit/jsc-reviewers

Adopt work interval API https://bugs.webkit.org/show_bug.cgi?id=246829 rdar://101398504
  Source/WTF/WTF.xcodeproj/project.pbxproj
  Source/WTF/wtf/PlatformHave.h
  Source/WTF/wtf/cocoa/WorkgroupInterval.h
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Owners: @cdumez

Fix sandbox violations with sandbox version 2 https://bugs.webkit.org/show_bug.cgi?id=246885 rdar://101440426
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
  Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Owners: @cdumez

Remove bot654 from config (Follow-up fix) https://bugs.webkit.org/show_bug.cgi?id=246819 rdar://101350575
  Tools/CISupport/build-webkit-org/config.json
Owners: @aj062, @JonWBedard, @ryanhaddad

Add request-merge-queue label https://bugs.webkit.org/show_bug.cgi?id=246875 rdar://101436556
  Tools/CISupport/ews-build/steps.py
Owners: @aj062, @JonWBedard, @ryanhaddad

Fix more misc compiler warnings, late October 2022 edition https://bugs.webkit.org/show_bug.cgi?id=246861
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT32_64.cpp
  Source/JavaScriptCore/jit/GCAwareJITStubRoutine.cpp
  Source/JavaScriptCore/parser/Lexer.cpp
  Source/ThirdParty/capstone/CMakeLists.txt
  Source/WebCore/Modules/mediastream/SFrameUtils.cpp
  Source/WebCore/crypto/openssl/OpenSSLCryptoUniquePtr.h
  Source/WebCore/platform/VideoPixelFormat.cpp
Owners: @WebKit/jsc-reviewers, @zdobersek

SVG text in RTL mixes characters
  LayoutTests/svg/text/bidi-dir-rtl-expected.txt
  LayoutTests/svg/text/bidi-dir-rtl.html
  Source/WebCore/rendering/svg/SVGRootInlineBox.cpp
Owners: none

Enable logging in WebThreadEnable() for all Apple-owned processes <https://webkit.org/b/246820> <rdar://55415109>
  Source/WebCore/platform/ios/wak/WebCoreThread.mm
Owners: none

Clamp fullscreen window size based on video dimensions https://bugs.webkit.org/show_bug.cgi?id=246883 <rdar://problem/101439923>
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
Owners: @cdumez

Follow up fix to 252432.636@safari-7614-branch (186ccd051cc8)
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Owners: none

[WGSL] Turn AST::Attribute variants into data Need the bug URL (OOPS!). Include a Radar link (OOPS!).
  Source/WebGPU/WGSL/AST/ASTAttribute.h
  Source/WebGPU/WGSL/AST/ASTForward.h
  Source/WebGPU/WGSL/AST/ASTStringDumper.cpp
  Source/WebGPU/WGSL/AST/ASTStringDumper.h
  Source/WebGPU/WGSL/AST/ASTVisitor.cpp
  Source/WebGPU/WGSL/AST/ASTVisitor.h
  Source/WebGPU/WGSL/Parser.cpp
Owners: none

Use min-intrinsic size to compute min-content size for non-replaced flex items. https://bugs.webkit.org/show_bug.cgi?id=246755 rdar://101346126
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/aspect-ratio/flex-aspect-ratio-002.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/aspect-ratio/flex-aspect-ratio-004.html
  Source/WebCore/rendering/RenderFlexibleBox.cpp
Owners: none

[JSC] Add StringLocaleCompare DFG node https://bugs.webkit.org/show_bug.cgi?id=246893 rdar://101447718
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGClobberize.h
  Source/JavaScriptCore/dfg/DFGDoesGC.cpp
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGNodeType.h
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/dfg/DFGOperations.h
  Source/JavaScriptCore/dfg/DFGPredictionPropagationPhase.cpp
  Source/JavaScriptCore/dfg/DFGSafeToExecute.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT32_64.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/ftl/FTLCapabilities.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/runtime/IntlCollator.cpp
  Source/JavaScriptCore/runtime/IntlCollator.h
  Source/JavaScriptCore/runtime/IntlCollatorPrototype.cpp
  Source/JavaScriptCore/runtime/Intrinsic.cpp
  Source/JavaScriptCore/runtime/Intrinsic.h
  Source/JavaScriptCore/runtime/StringPrototype.cpp
Owners: @WebKit/jsc-reviewers

[Live Range Selection] Fix some tests that throw exception https://bugs.webkit.org/show_bug.cgi?id=246839
  LayoutTests/editing/deleting/delete-contenteditable-crash.html
  LayoutTests/editing/inserting/edit-style-and-insert-image.html
  LayoutTests/editing/selection/move-selection-backwards-at-end-of-table-by-sentence-granularity.html
Owners: @rniwa

[Live Range Selection] editing/execCommand/format-block-contenteditable-false.html fails https://bugs.webkit.org/show_bug.cgi?id=246833
  LayoutTests/editing/execCommand/format-block-contenteditable-false-live-range-expected.txt
  LayoutTests/editing/execCommand/format-block-contenteditable-false-live-range.html
  Source/WebCore/editing/ApplyBlockElementCommand.cpp
Owners: @rniwa

[web-animations] updating timing should invalidate the effect https://bugs.webkit.org/show_bug.cgi?id=246865
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/keyframe-effects/effect-value-iteration-composite-operation-expected.txt
  Source/WebCore/animation/KeyframeEffect.cpp
Owners: @graouts

[css-typed-om] Use `std::optional<CSSNumberish>&&` instead of `std::optional<CSSNumberish>` https://bugs.webkit.org/show_bug.cgi?id=246881
  Source/WebCore/css/typedom/transform/CSSScale.cpp
  Source/WebCore/css/typedom/transform/CSSScale.h
Owners: none

[web-animations] setting iterationComposite should invalidate the effect https://bugs.webkit.org/show_bug.cgi?id=246864
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/keyframe-effects/effect-value-context-filling-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/interfaces/KeyframeEffect/iterationComposite-expected.txt
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/animation/KeyframeEffect.h
Owners: @graouts

[IFC][Integration] Expand initial-letter check for the root box https://bugs.webkit.org/show_bug.cgi?id=246874
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.cpp
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.h
Owners: none

AsyncScrolling: add ScrollingTreeOverflowScrollProxyNode base class https://bugs.webkit.org/show_bug.cgi?id=246849
  Source/WebCore/PlatformMac.cmake
  Source/WebCore/PlatformPlayStation.cmake
  Source/WebCore/Sources.txt
  Source/WebCore/SourcesCocoa.txt
  Source/WebCore/SourcesGTK.txt
  Source/WebCore/SourcesWPE.txt
  Source/WebCore/page/scrolling/ScrollingTreeNode.h
  Source/WebCore/page/scrolling/ScrollingTreeOverflowScrollProxyNode.cpp
  Source/WebCore/page/scrolling/ScrollingTreeOverflowScrollProxyNode.h
  Source/WebCore/page/scrolling/cocoa/ScrollingTreeOverflowScrollProxyNode.h
  Source/WebCore/page/scrolling/cocoa/ScrollingTreeOverflowScrollProxyNode.mm
  Source/WebCore/page/scrolling/cocoa/ScrollingTreeOverflowScrollProxyNodeCocoa.h
  Source/WebCore/page/scrolling/cocoa/ScrollingTreeOverflowScrollProxyNodeCocoa.mm
  Source/WebCore/page/scrolling/mac/ScrollingTreeMac.mm
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeOverflowScrollProxyNode.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeOverflowScrollProxyNode.h
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeOverflowScrollProxyNodeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeOverflowScrollProxyNodeNicosia.h
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeStickyNodeNicosia.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingTree.cpp
Owners: @cdumez, @magomez, @zdobersek

Allow creating IPC::Connection with a SerialFunctionDispatcher other than the main RunLoop. https://bugs.webkit.org/show_bug.cgi?id=244825
  Source/WebKit/Platform/IPC/Connection.cpp
  Source/WebKit/Platform/IPC/Connection.h
Owners: @cdumez

Update FEComponentTransfer filter effect when a child transfer function attribute changes https://bugs.webkit.org/show_bug.cgi?id=246602 <rdar://problem/101232007>
  LayoutTests/svg/resource-invalidation/filter-resource-invalidation-expected.html
  LayoutTests/svg/resource-invalidation/filter-resource-invalidation.html
  Source/WTF/wtf/EnumeratedArray.h
  Source/WebCore/platform/graphics/filters/FEComponentTransfer.cpp
  Source/WebCore/platform/graphics/filters/FEComponentTransfer.h
  Source/WebCore/svg/SVGComponentTransferFunctionElement.cpp
  Source/WebCore/svg/SVGComponentTransferFunctionElement.h
  Source/WebCore/svg/SVGComponentTransferFunctionElementInlines.h
  Source/WebCore/svg/SVGFEComponentTransferElement.cpp
  Source/WebCore/svg/SVGFEComponentTransferElement.h
  Source/WebCore/svg/SVGFEFuncAElement.h
  Source/WebCore/svg/SVGFEFuncBElement.h
  Source/WebCore/svg/SVGFEFuncGElement.h
  Source/WebCore/svg/SVGFEFuncRElement.h
  Source/WebCore/svg/SVGFilterPrimitiveStandardAttributes.cpp
  Source/WebCore/svg/SVGFilterPrimitiveStandardAttributes.h
Owners: none

[web-animations] support CSSNumberish? values for Animation.startTime and Animation.currentTime setters https://bugs.webkit.org/show_bug.cgi?id=246876
  LayoutTests/imported/w3c/web-platform-tests/web-animations/timing-model/animations/setting-the-current-time-of-an-animation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/timing-model/animations/setting-the-current-time-of-an-animation.html
  LayoutTests/imported/w3c/web-platform-tests/web-animations/timing-model/animations/setting-the-start-time-of-an-animation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/timing-model/animations/setting-the-start-time-of-an-animation.html
  Source/WebCore/animation/CSSAnimation.cpp
  Source/WebCore/animation/CSSAnimation.h
  Source/WebCore/animation/WebAnimation.cpp
  Source/WebCore/animation/WebAnimation.h
  Source/WebCore/animation/WebAnimation.idl
Owners: @graouts

BubblewrapLauncher.cpp: Add paths required for pipewire
  Source/WebKit/UIProcess/Launcher/glib/BubblewrapLauncher.cpp
Owners: @WebKit/glib-reviewers

Cherry-pick 255179@main (dc7fdb2e0a35). rdar://100516446
  Source/WebCore/layout/integration/inline/InlineIteratorLineBox.h
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.cpp
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.h
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderBlock.h
  Source/WebCore/rendering/RenderBlockFlow.cpp
  Source/WebCore/rendering/RenderBlockFlow.h
  Source/WebCore/rendering/RenderBox.h
Owners: none

font shorthand should reject out-of-range angles in for font-style https://bugs.webkit.org/show_bug.cgi?id=246572 rdar://problem/101437235
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/variations/font-shorthand-expected.txt
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.h
Owners: none

[Live Range Selection] Tests for inserting paragraph separator fails https://bugs.webkit.org/show_bug.cgi?id=246836
  LayoutTests/editing/inserting/insert-paragraph-after-non-editable-node-before-text-live-range-expected.txt
  LayoutTests/editing/inserting/insert-paragraph-after-non-editable-node-before-text-live-range.html
  LayoutTests/editing/inserting/insert-paragraph-before-space-live-range-expected.txt
  LayoutTests/editing/inserting/insert-paragraph-before-space-live-range.html
  LayoutTests/editing/inserting/insert-paragraph-between-text-live-range-expected.txt
  LayoutTests/editing/inserting/insert-paragraph-between-text-live-range.html
  LayoutTests/editing/inserting/insert-paragraph-in-designmode-document-live-range-expected.txt
  LayoutTests/editing/inserting/insert-paragraph-in-designmode-document-live-range.html
  LayoutTests/editing/inserting/return-key-before-br-in-span-live-range-expected.txt
  LayoutTests/editing/inserting/return-key-before-br-in-span-live-range.html
  LayoutTests/editing/inserting/return-key-middle-of-span-live-range-expected.txt
  LayoutTests/editing/inserting/return-key-middle-of-span-live-range.html
  Source/WebCore/editing/InsertParagraphSeparatorCommand.cpp
Owners: @rniwa

font-weight should be clamped to 1 as minimum https://bugs.webkit.org/show_bug.cgi?id=246575 rdar://problem/101441591
  LayoutTests/fast/text/font-weight-parse-expected.txt
  LayoutTests/fast/text/font-weight-parse.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/variations/font-shorthand-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/variations/font-weight-parsing-expected.txt
  LayoutTests/platform/gtk/fast/text/font-weight-parse-expected.txt
  LayoutTests/platform/ios/fast/text/font-weight-parse-expected.txt
  LayoutTests/platform/mac/fast/text/font-weight-parse-expected.txt
  LayoutTests/platform/wpe/fast/text/font-weight-parse-expected.txt
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
Owners: none

[IFC][Integration] Do not try to update style on non-content type of renderers https://bugs.webkit.org/show_bug.cgi?id=246900 <rdar://101454527>
  LayoutTests/fast/block/non-content-type-renderers-style-update-crash-expected.txt
  LayoutTests/fast/block/non-content-type-renderers-style-update-crash.html
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.cpp
Owners: none

font-style: oblique must allow angles equal to 90deg or -90deg https://bugs.webkit.org/show_bug.cgi?id=246901 rdar://101461149
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/variations/at-font-face-descriptors-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/variations/font-parse-numeric-stretch-style-weight-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/variations/font-style-parsing-expected.txt
  Source/WebCore/css/parser/CSSPropertyParserHelpers.h
Owners: none

CSSPerspective.toMatrix() should throw if its length is not compatible with 'px' unit https://bugs.webkit.org/show_bug.cgi?id=246891
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssTransformComponent-toMatrix-relative-units-expected.txt
  Source/WebCore/css/typedom/transform/CSSPerspective.cpp
Owners: none

Support appending to CSSUnparsedValue via its indexed setter https://bugs.webkit.org/show_bug.cgi?id=246889
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssUnparsedValue-indexed-getter-setter-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssUnparsedValue-length-expected.txt
  Source/WebCore/css/typedom/CSSUnparsedValue.cpp
Owners: none

Adopt CoreMedia API to use media parser daemon https://bugs.webkit.org/show_bug.cgi?id=246805 rdar://99653449
  Source/WebCore/PAL/pal/spi/cocoa/AVStreamDataParserSPI.h
  Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferParserAVFObjC.mm
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.GPU.sb.in
Owners: none

Add layout tests for third party IP cookie expiry capping https://bugs.webkit.org/show_bug.cgi?id=246578 rdar://100831206
  LayoutTests/http/tests/resourceLoadStatistics/cname-cloaking-top-cname-sub-1p-cname.html
  LayoutTests/http/tests/resourceLoadStatistics/cname-cloaking-top-cname-sub-3p-cname.html
  LayoutTests/http/tests/resourceLoadStatistics/cname-cloaking-top-no-cname-sub-1p-cname.html
  LayoutTests/http/tests/resourceLoadStatistics/cname-cloaking-top-no-cname-sub-3p-cname.html
  LayoutTests/http/tests/resourceLoadStatistics/ip-address-cloaking-first-party-address-expected.txt
  LayoutTests/http/tests/resourceLoadStatistics/ip-address-cloaking-first-party-address.html
  LayoutTests/http/tests/resourceLoadStatistics/ip-address-cloaking-third-party-address-expected.txt
  LayoutTests/http/tests/resourceLoadStatistics/ip-address-cloaking-third-party-address.html
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/wk2/TestExpectations
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkProcess.messages.in
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/NetworkSession.h
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
  Source/WebKit/UIProcess/API/C/WKWebsiteDataStoreRef.cpp
  Source/WebKit/UIProcess/API/C/WKWebsiteDataStoreRef.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.h
  Tools/WebKitTestRunner/InjectedBundle/Bindings/TestRunner.idl
  Tools/WebKitTestRunner/InjectedBundle/InjectedBundle.cpp
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.cpp
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.h
  Tools/WebKitTestRunner/TestController.cpp
  Tools/WebKitTestRunner/TestController.h
  Tools/WebKitTestRunner/TestInvocation.cpp
  Tools/WebKitTestRunner/TestInvocation.h
Owners: @cdumez, @JonWBedard
