Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @calvaris, @philn, @ntrrgc, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @graouts

[Gardening]: [ iOS 14 & 15 ] fast/images/image-subsampling.html is a flaky image failure (230857) https://bugs.webkit.org/show_bug.cgi?id=230857
  LayoutTests/platform/ios-wk2/TestExpectations
Owners: none

[WebGPU] Parse literal integer/floats as AbstractInt/AbstractFloat https://bugs.webkit.org/show_bug.cgi?id=241755 <rdar://95925953>
  Source/WebGPU/WGSL/AST/Expression.h
  Source/WebGPU/WGSL/AST/Expressions/LiteralExpressions.h
  Source/WebGPU/WGSL/Parser.cpp
  Source/WebGPU/WGSLUnitTests/Parser/ConstLiteralTests.mm
  Source/WebGPU/WGSLUnitTests/WGSLParserTests.mm
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
Owners: none

[Gardening]: [ iOS ] fast/mediastream/apply-constraints-video.html is a flaky failure (231618) https://bugs.webkit.org/show_bug.cgi?id=231618
  LayoutTests/platform/ios-wk2/TestExpectations
Owners: none

[LFC][FFC] Rename LayoutIntegration::FlexLayout::rootLayoutBox() to flexBox() https://bugs.webkit.org/show_bug.cgi?id=242135
  Source/WebCore/layout/integration/flex/LayoutIntegrationFlexLayout.cpp
  Source/WebCore/layout/integration/flex/LayoutIntegrationFlexLayout.h
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Cherry-pick ab57d8fd825e. rdar://problem/96307912
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/spi/cocoa/AVFoundationSPI.h
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/platform/graphics/MediaPlayer.cpp
  Source/WebCore/platform/graphics/MediaPlayer.h
  Source/WebCore/platform/graphics/MediaPlayerPrivate.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.messages.in
  Source/WebKit/GPUProcess/media/cocoa/RemoteMediaPlayerProxyCocoa.mm
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.h
Owners: none

Unreviewed integration fix. rdar://96096907
  Source/WTF/wtf/PlatformHave.h
Owners: none

Crash under SQLiteIDBBackingStore::getAllObjectStoreRecords() https://bugs.webkit.org/show_bug.cgi?id=242257 <rdar://71160678>
  Source/WebCore/Modules/indexeddb/server/SQLiteIDBBackingStore.cpp
Owners: none

Fix memory leak https://bugs.webkit.org/show_bug.cgi?id=242259 <rdar://96029757>
  Source/WebKit/UIProcess/Cocoa/AuxiliaryProcessProxyCocoa.mm
Owners: none

Remove unused function from SQLitedatabase https://bugs.webkit.org/show_bug.cgi?id=242205
  Source/WebCore/platform/sql/SQLiteDatabase.cpp
  Source/WebCore/platform/sql/SQLiteDatabase.h
Owners: none

Provide correct icon size when requesting icon from the UI process https://bugs.webkit.org/show_bug.cgi?id=242152 <rdar://90663179>
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
Owners: none

Make getSpace return an optional LayoutUnit https://bugs.webkit.org/show_bug.cgi?id=242188
  Source/WebCore/rendering/RenderBoxModelObject.cpp
Owners: none

Add Rupin Mittal to contributors.json https://bugs.webkit.org/show_bug.cgi?id=242255
  metadata/contributors.json
Owners: @JonWBedard

compare-results attempts to dvide by zero https://bugs.webkit.org/show_bug.cgi?id=240261
  Tools/Scripts/webkitpy/benchmark_runner/benchmark_results.py
Owners: @JonWBedard

Remove GraphicsLayer::supportsRoundedClip and RenderLayerBacking::m_childClippingMaskLayer https://bugs.webkit.org/show_bug.cgi?id=242209
  Source/WebCore/platform/graphics/GraphicsLayer.cpp
  Source/WebCore/platform/graphics/GraphicsLayer.h
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.cpp
  Source/WebCore/rendering/RenderLayerBacking.cpp
  Source/WebCore/rendering/RenderLayerBacking.h
Owners: none

Revert "Cherry-pick ab57d8fd825e. rdar://problem/96307912"
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/spi/cocoa/AVFoundationSPI.h
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/platform/graphics/MediaPlayer.cpp
  Source/WebCore/platform/graphics/MediaPlayer.h
  Source/WebCore/platform/graphics/MediaPlayerPrivate.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.messages.in
  Source/WebKit/GPUProcess/media/cocoa/RemoteMediaPlayerProxyCocoa.mm
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.h
Owners: none

Initial Stubs for Compression Streams API https://bugs.webkit.org/show_bug.cgi?id=241964
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WebCore/CMakeLists.txt
  Source/WebCore/DerivedSources-input.xcfilelist
  Source/WebCore/DerivedSources-output.xcfilelist
  Source/WebCore/DerivedSources.make
  Source/WebCore/Headers.cmake
  Source/WebCore/Modules/compression/CompressionStream.cpp
  Source/WebCore/Modules/compression/CompressionStream.h
  Source/WebCore/Modules/compression/CompressionStream.idl
  Source/WebCore/Modules/compression/DecompressionStream.cpp
  Source/WebCore/Modules/compression/DecompressionStream.h
  Source/WebCore/Modules/compression/DecompressionStream.idl
  Source/WebCore/Modules/compression/Formats.h
  Source/WebCore/Modules/streams/GenericTransformStream.idl
  Source/WebCore/Modules/websockets/WebSocket.cpp
  Source/WebCore/Sources.txt
  Source/WebCore/bindings/js/WebCoreBuiltinNames.h
  Source/WebCore/dom/EventTargetFactory.in
  Source/WebCore/features.json
Owners: none

[iOS] Fix WKTR build after 252016@main https://bugs.webkit.org/show_bug.cgi?id=242271
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.mm
Owners: @JonWBedard

[Gardening]: [ iOS Debug ] fast/encoding/char-after-fast-path-ascii-decoding.html is a flaky failure https://bugs.webkit.org/show_bug.cgi?id=242270 <rdar://96316372>
  LayoutTests/platform/ios/TestExpectations
Owners: none

Merge 252042@main - Crash under ContentSecurityPolicy::copyUpgradeInsecureRequestStateFrom() https://bugs.webkit.org/show_bug.cgi?id=242208 <rdar://95846191>
  Source/WebCore/loader/WorkerThreadableLoader.cpp
  Source/WebCore/page/csp/ContentSecurityPolicy.cpp
  Source/WebCore/page/csp/ContentSecurityPolicy.h
Owners: none

Add compile time guard for fullscreen video dismissal gestures https://bugs.webkit.org/show_bug.cgi?id=242222
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
Owners: none

webkitbot should accept commit identifier https://bugs.webkit.org/show_bug.cgi?id=224063 <rdar://76114559>
  Tools/Scripts/webkitpy/common/checkout/checkout.py
  Tools/Scripts/webkitpy/common/checkout/checkout_mock.py
  Tools/Scripts/webkitpy/common/checkout/scm/git.py
  Tools/Scripts/webkitpy/common/config/urls.py
  Tools/Scripts/webkitpy/common/net/bugzilla/attachment.py
  Tools/Scripts/webkitpy/tool/commands/download.py
  Tools/Scripts/webkitpy/tool/commands/download_unittest.py
  Tools/Scripts/webkitpy/tool/steps/reopenbugafterrevert.py
  Tools/WebKitBot/src/WebKitBot.mjs
Owners: @JonWBedard

[Gardening]: [ iOS ] fast/events/ios/dragstart-on-image-by-long-pressing.html is a flaky failure https://bugs.webkit.org/show_bug.cgi?id=242273 <rdar://96317337>
  LayoutTests/platform/ios/TestExpectations
Owners: none

[JSC] Clean up ControlEntry code in wasm https://bugs.webkit.org/show_bug.cgi?id=242276 rdar://96053526
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
Owners: @WebKit/jsc-reviewers

git-webkit broke webkitbot https://bugs.webkit.org/show_bug.cgi?id=241824 <rdar://95642497>
  Tools/WebKitBot/src/WebKitBot.mjs
Owners: @JonWBedard

[iOS][WPE] svg/animations/animation-leak-list-property-instances.html is randomly failing https://bugs.webkit.org/show_bug.cgi?id=242231
  LayoutTests/svg/animations/animation-leak-list-property-instances-expected.txt
  LayoutTests/svg/animations/animation-leak-list-property-instances.html
Owners: none

webkitbot should accept commit identifier (Follow-up fix) https://bugs.webkit.org/show_bug.cgi?id=224063 <rdar://76114559>
  Tools/WebKitBot/src/WebKitBot.mjs
Owners: @JonWBedard

Merge 252048@main - Add a null check in TextManipulationController::replace https://bugs.webkit.org/show_bug.cgi?id=242216
  Source/WebCore/editing/TextManipulationController.cpp
  Source/WebCore/platform/Logging.h
Owners: none

Merge 252063@main - Crash under SQLiteIDBBackingStore::getAllObjectStoreRecords() https://bugs.webkit.org/show_bug.cgi?id=242257 <rdar://71160678>
  Source/WebCore/Modules/indexeddb/server/SQLiteIDBBackingStore.cpp
Owners: none

[Curl] Report HTTP/3 in NetworkLoadMetrics https://bugs.webkit.org/show_bug.cgi?id=242272
  Source/WebCore/platform/network/curl/CurlContext.cpp
Owners: none

[Make] Recognize feature flags in BUILD_WEBKIT_OPTIONS https://bugs.webkit.org/show_bug.cgi?id=242258
  Tools/Scripts/webkitdirs.pm
  Tools/Scripts/webkitperl/FeatureList.pm
Owners: @JonWBedard

[Make] Pick the correct ARCHS setting for an overridden SDKROOT rdar://86340301
  Makefile.shared
Owners: none

Build failure following bug 242061 on catalyst target https://bugs.webkit.org/show_bug.cgi?id=242283 <rdar://96326646>
  Source/WebCore/PAL/pal/spi/cocoa/AVKitSPI.h
Owners: none

Crash under ~TimerBase() from LibWebRTCAudioModule https://bugs.webkit.org/show_bug.cgi?id=242262 <rdar://81438938>
  Source/WebCore/platform/mediastream/libwebrtc/LibWebRTCAudioModule.cpp
  Source/WebCore/platform/mediastream/libwebrtc/LibWebRTCAudioModule.h
Owners: none

Refine JSDOMGuardedObject https://bugs.webkit.org/show_bug.cgi?id=242282 rdar://94649571
  Source/WebCore/bindings/js/JSDOMGuardedObject.cpp
Owners: none

[LFC][FFC] Add support for non-stretching flex items with flex-basis https://bugs.webkit.org/show_bug.cgi?id=242112
  Source/WebCore/layout/formattingContexts/flex/FlexLayout.cpp
Owners: none

[Media Player] Fix media engine fallback logic https://bugs.webkit.org/show_bug.cgi?id=242202
  Source/WebCore/platform/graphics/MediaPlayer.cpp
  Source/WebCore/platform/graphics/MediaPlayer.h
Owners: none

Remove GraphicsLayer::supportsBackgroundColorContent https://bugs.webkit.org/show_bug.cgi?id=242265
  Source/WebCore/platform/graphics/GraphicsLayer.cpp
  Source/WebCore/platform/graphics/GraphicsLayer.h
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.cpp
  Source/WebCore/rendering/RenderLayerBacking.cpp
Owners: none

Add a regression test that the same path is used for different data types https://bugs.webkit.org/show_bug.cgi?id=242149
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebsiteDataStoreCustomPaths.mm
Owners: none

Ensure promise is not garbage collected https://bugs.webkit.org/show_bug.cgi?id=242287
  Source/WebCore/crypto/SubtleCrypto.cpp
Owners: none

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard
/Tools/TestWebKitAPI

# ================================================================================

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn

# ================================================================================

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

/Source/WebCore/Modules/apple-pay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/apple-pay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

# ================================================================================

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts
