Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

Cherry-pick 4af3e6bf9f74. rdar://problem/100178048
  Source/WebCore/rendering/RenderThemeAdwaita.cpp
  Source/WebCore/rendering/RenderThemeIOS.mm
Owners: none

Cherry-pick 5ed2b1dffea4. rdar://problem/99557242
  LayoutTests/imported/w3c/web-platform-tests/css/css-scroll-snap/snap-after-relayout/resnap-to-focused-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-scroll-snap/snap-after-relayout/snap-to-different-targets-expected.txt
  Source/WebCore/page/FrameView.cpp
  Source/WebCore/page/scrolling/ScrollSnapOffsetsInfo.cpp
  Source/WebCore/page/scrolling/ScrollSnapOffsetsInfo.h
  Source/WebCore/platform/ScrollSnapAnimatorState.cpp
  Source/WebCore/platform/ScrollSnapAnimatorState.h
  Source/WebCore/platform/ScrollableArea.cpp
  Source/WebCore/rendering/RenderLayerScrollableArea.cpp
  Source/WebKit/Shared/RemoteLayerTree/RemoteScrollingCoordinatorTransaction.cpp
Owners: @cdumez

Cherry-pick 6e08c53f0243. rdar://problem/98498151
  Source/JavaScriptCore/runtime/ObjectPrototype.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 831cdc3f8d5a. rdar://problem/100263647
  JSTests/stress/stale-check-for-define-own-property-with-index.js
  Source/JavaScriptCore/runtime/JSObject.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 89c0d4c38e9a. rdar://problem/99815328
  JSTests/stress/array-literal-lexing-for-class-public-fields.js
  Source/JavaScriptCore/parser/Parser.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 94ed12904cda. rdar://problem/99210200
  Source/WebKit/WebProcess/Network/WebLoaderStrategy.cpp
Owners: @cdumez

Cherry-pick aabdfc49a52b. rdar://problem/98994290
  LayoutTests/fast/canvas/canvas-strokePath-strokeStyle-expected.html
  LayoutTests/fast/canvas/canvas-strokePath-strokeStyle.html
  Source/WebCore/platform/graphics/displaylists/DisplayListRecorder.cpp
Owners: none

Cherry-pick adb079825b35. rdar://problem/98692644
  LayoutTests/fast/canvas/canvas-drawImage-hdr-video-expected.txt
  LayoutTests/fast/canvas/canvas-drawImage-hdr-video.html
  LayoutTests/fast/canvas/resources/hdr.mp4
  LayoutTests/platform/gtk/fast/canvas/canvas-drawImage-hdr-video-expected.txt
  LayoutTests/platform/win/TestExpectations
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/spi/cg/CoreGraphicsSPI.h
  Source/WebCore/platform/graphics/cg/GraphicsContextCG.cpp
  Source/WebCore/platform/graphics/cg/GraphicsContextCG.h
  Source/WebCore/platform/graphics/cocoa/GraphicsContextCocoa.mm
  Source/WebCore/platform/graphics/cocoa/IOSurface.h
  Source/WebCore/platform/graphics/cocoa/IOSurface.mm
  Source/WebCore/platform/graphics/win/GraphicsContextCGWin.cpp
Owners: none

Cherry-pick b87209ee89e8. rdar://problem/99854408
  LayoutTests/TestExpectations
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1/types-basicDOM-01-b-expected.txt
  LayoutTests/platform/gtk/svg/batik/text/smallFonts-expected.txt
  LayoutTests/platform/gtk/svg/batik/text/textFeatures-expected.txt
  LayoutTests/platform/gtk/svg/text/select-textLength-spacing-squeeze-2-expected.txt
  LayoutTests/platform/ios/svg/W3C-SVG-1.1-SE/types-dom-01-b-expected.txt
  LayoutTests/platform/ios/svg/W3C-SVG-1.1/types-basicDOM-01-b-expected.txt
  LayoutTests/platform/ios/svg/batik/text/textFeatures-expected.txt
  LayoutTests/platform/ios/svg/text/append-text-node-to-tspan-expected.txt
  LayoutTests/platform/ios/svg/text/modify-text-node-in-tspan-expected.txt
  LayoutTests/platform/ios/svg/text/remove-text-node-from-tspan-expected.txt
  LayoutTests/platform/ios/svg/text/scaled-font-expected.txt
  LayoutTests/platform/ios/svg/text/scaling-font-with-geometric-precision-expected.txt
  LayoutTests/platform/mac/svg/W3C-SVG-1.1/types-basicDOM-01-b-expected.txt
  LayoutTests/platform/mac/svg/batik/text/smallFonts-expected.txt
  LayoutTests/platform/mac/svg/batik/text/textFeatures-expected.txt
  LayoutTests/platform/mac/svg/text/scaling-font-with-geometric-precision-expected.txt
  Source/WebCore/rendering/svg/RenderSVGText.cpp
  Source/WebCore/svg/SVGTextElement.cpp
  Source/WebCore/svg/SVGTextElement.h
Owners: none

Cherry-pick c69e0a9fdc0c. rdar://problem/100187365
  Source/WebCore/css/StyleColor.cpp
  Source/WebCore/css/StyleColor.h
  Source/WebCore/style/ElementRuleCollector.cpp
  Source/WebCore/style/StyleBuilderCustom.h
Owners: none

Cherry-pick c3fc3e57c1a4. rdar://problem/100506739
  Source/WebCore/css/FontVariantBuilder.cpp
  Source/WebCore/css/FontVariantBuilder.h
Owners: none

Cherry-pick ce7674d47d3c. rdar://problem/99270573
  JSTests/stress/strcat-bigint-oom.js
  Source/JavaScriptCore/dfg/DFGOperations.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick d146ac52ed34. rdar://problem/98312727
  JSTests/stress/ic-stats-concurrent.js
  Source/JavaScriptCore/jit/ICStats.cpp
  Source/WTF/wtf/Spectrum.h
  Source/WTF/wtf/StackShotProfiler.h
Owners: @WebKit/jsc-reviewers

Cherry-pick da2a972847cb. rdar://problem/100286875
  Source/bmalloc/bmalloc/ProcessCheck.mm
Owners: @Constellation

Cherry-pick f3b946f8835c. rdar://problem/98341809
  LayoutTests/fast/forms/auto-fill-button/show-auto-fill-button-while-selection-inside-field-expected.txt
  LayoutTests/fast/forms/auto-fill-button/show-auto-fill-button-while-selection-inside-field.html
  Source/WebCore/html/HTMLTextFormControlElement.h
  Source/WebCore/html/TextFieldInputType.cpp
Owners: @cdumez, @rniwa

Cherry-pick ef443ccb8927. rdar://problem/97347572
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.h
  Source/WebCore/PAL/pal/spi/cocoa/AVFoundationSPI.h
  Source/WebCore/platform/graphics/avfoundation/objc/CDMInstanceFairPlayStreamingAVFObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.mm
Owners: none

Cherry-pick fbf76efc64df. rdar://problem/99778071
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/parsing/grid-area-valid-expected.txt
  Source/WebCore/css/StyleProperties.cpp
  Source/WebCore/css/StyleProperties.h
Owners: none

Cherry-pick b3153ed03ada. rdar://problem/101003260
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/parsing/transform-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/parsing/transform-valid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/parsing/translate-parsing-valid.html
  Source/WebCore/css/CSSComputedStyleDeclaration.cpp
  Source/WebCore/css/parser/CSSPropertyParser.cpp
Owners: none

Cherry-pick c905475c417a. rdar://problem/101002203
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
Owners: none

Cherry-pick 171714d05e19. rdar://problem/100640104
  Source/WebKit/Shared/Cocoa/ArgumentCodersCocoa.mm
Owners: none

Cherry-pick 1aa25b42a5eb. rdar://problem/100839849
  LayoutTests/accessibility-isolated-tree/TestExpectations
  LayoutTests/accessibility/select-element-at-index-expected.txt
  LayoutTests/accessibility/select-element-at-index.html
  Source/WebCore/accessibility/AXLogger.cpp
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AXObjectCache.h
  Source/WebCore/accessibility/atspi/AXObjectCacheAtspi.cpp
  Source/WebCore/accessibility/ios/AXObjectCacheIOS.mm
  Source/WebCore/accessibility/mac/AXObjectCacheMac.mm
  Source/WebCore/html/HTMLOptionElement.cpp
Owners: @WebKit/glib-reviewers, @cdumez, @rniwa

Cherry-pick 2b695e173dbe. rdar://problem/100263647
  Source/JavaScriptCore/runtime/JSObject.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 2e321fec72f9. rdar://problem/100652939
  Source/WebCore/page/scrolling/ScrollSnapOffsetsInfo.cpp
  Source/WebCore/platform/ScrollSnapAnimatorState.cpp
Owners: @cdumez

Cherry-pick c0048e83eb23. rdar://problem/100910532
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/baseline-rules/inline-table-inline-block-baseline-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/baseline-rules/inline-table-inline-block-baseline-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/baseline-rules/inline-table-inline-block-baseline-vert-rl-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/baseline-rules/inline-table-inline-block-baseline-vert-rl-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/baseline-rules/inline-table-inline-block-baseline-vert-rl.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/baseline-rules/inline-table-inline-block-baseline.html
  Source/WebCore/rendering/RenderTable.cpp
Owners: none

Cherry-pick ea3d0e681f4b. rdar://problem/97347572
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.h
  Source/WebCore/PAL/pal/spi/cocoa/AVFoundationSPI.h
  Source/WebCore/platform/graphics/avfoundation/objc/CDMInstanceFairPlayStreamingAVFObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.mm
Owners: none

Cherry-pick 1d07fae7e956. rdar://problem/101002974
  Source/WebCore/layout/integration/inline/InlineIteratorBox.cpp
  Source/WebCore/layout/integration/inline/InlineIteratorBox.h
  Source/WebCore/layout/integration/inline/InlineIteratorBoxLegacyPath.h
  Source/WebCore/layout/integration/inline/InlineIteratorBoxModernPath.h
Owners: none

Cherry-pick 24aba83b228b. rdar://problem/101002815
  LayoutTests/platform/ios/editing/selection/3690703-2-expected.txt
  LayoutTests/platform/ios/editing/selection/3690703-expected.txt
  LayoutTests/platform/ios/editing/selection/3690719-expected.txt
  LayoutTests/platform/mac/editing/selection/3690703-2-expected.txt
  LayoutTests/platform/mac/editing/selection/3690703-expected.txt
  LayoutTests/platform/mac/editing/selection/3690719-expected.txt
  Source/WebCore/rendering/LegacyRootInlineBox.cpp
Owners: none

Cherry-pick 29debc1135da. rdar://problem/101003103
  LayoutTests/TestExpectations
Owners: none

Cherry-pick 466a830e85aa. rdar://problem/101003866
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/StyleRareInheritedData.cpp
  Source/WebCore/rendering/style/StyleRareNonInheritedData.cpp
Owners: none

Cherry-pick 5dae5b149b60. rdar://problem/101003672
  Source/WebCore/rendering/TextBoxPainter.cpp
  Source/WebCore/rendering/TextDecorationPainter.cpp
  Source/WebCore/rendering/TextDecorationPainter.h
Owners: none

Cherry-pick 7de67f9a0ccc. rdar://problem/101003413
  LayoutTests/fast/loader/nested-document-handling-expected.txt
  LayoutTests/fast/loader/nested-document-handling.html
  LayoutTests/fast/repaint/repaint-during-scroll-with-zoom.html
  LayoutTests/http/tests/navigation/lockedhistory-iframe-expected.txt
  LayoutTests/http/tests/security/contentSecurityPolicy/block-all-mixed-content/insecure-image-in-javascript-url-iframe-in-iframe-expected.txt
  LayoutTests/http/tests/security/contentSecurityPolicy/javascript-url-allowed-expected.txt
  LayoutTests/http/tests/security/showModalDialog-sync-cross-origin-page-load2-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/nodes/Document-contentType/contentType/contenttype_javascripturi-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/forms/form-submission-0/jsurl-navigation-then-form-submit-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/scripting-1/the-script-element/execution-timing/109-expected.txt
  LayoutTests/platform/wk2/http/tests/security/contentSecurityPolicy/block-all-mixed-content/insecure-image-in-javascript-url-iframe-in-iframe-expected.txt
  LayoutTests/webarchive/loading/javascript-url-iframe-crash-expected.txt
  Source/WebCore/bindings/js/ScriptController.cpp
  Source/WebCore/bindings/js/ScriptController.h
  Source/WebCore/loader/DocumentLoader.cpp
  Source/WebCore/loader/FrameLoadRequest.h
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/loader/FrameLoader.h
  Source/WebCore/loader/FrameLoaderTypes.h
  Source/WebCore/loader/NavigationAction.h
  Source/WebCore/loader/PolicyChecker.cpp
  Source/WebCore/loader/PolicyChecker.h
  Source/WebCore/loader/SubframeLoader.cpp
  Source/WebCore/page/csp/ContentSecurityPolicy.cpp
  Source/WebKit/Scripts/webkit/messages.py
Owners: @cdumez

Cherry-pick a13c5f0934c3. rdar://problem/101002880
  Source/WebCore/rendering/TextBoxPainter.cpp
  Source/WebCore/rendering/TextDecorationPainter.cpp
  Source/WebCore/rendering/TextDecorationPainter.h
Owners: none

Remove some dead code and make raw pointers WeakPtr https://bugs.webkit.org/show_bug.cgi?id=246297 rdar://100994894
  Source/WebCore/dom/Document.cpp
  Source/WebCore/loader/FrameLoaderClient.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.h
Owners: @rniwa, @cdumez

Fix the TestWebKitAPI build https://bugs.webkit.org/show_bug.cgi?id=246360 rdar://101046614
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebPushDaemon.mm
Owners: none

[WPE] Failures after ANGLE activation as default WebGL backend https://bugs.webkit.org/show_bug.cgi?id=246337
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
Owners: none

Cherry-pick 77495cc12dd9. rdar://problem/101003360
  LayoutTests/TestExpectations
  Source/WebCore/rendering/RenderTableSection.cpp
Owners: none

Cherry-pick 78731544fca9. rdar://problem/101002586
  LayoutTests/css3/color-filters/color-filter-text-decoration-shadow.html
  Source/WebCore/rendering/TextDecorationPainter.cpp
  Source/WebCore/rendering/TextDecorationPainter.h
Owners: none

New tests: [macOS Debug WK2] imported/w3c/web-platform-tests/import-maps/multiple-import-maps tests are flaky failures https://bugs.webkit.org/show_bug.cgi?id=246355 rdar://101044632
  LayoutTests/platform/mac/TestExpectations
Owners: none

[git-webkit] Use correct cherry-pick message after conflict resolution https://bugs.webkit.org/show_bug.cgi?id=246341 rdar://problem/101035018
  Tools/Scripts/hooks/prepare-commit-msg
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/setup.py
Owners: @JonWBedard, @facetothefate

New test: [iOS/macOS WK2] imported/w3c/web-platform-tests/feature-policy/reporting/payment-reporting.https.html is a flaky failure https://bugs.webkit.org/show_bug.cgi?id=246357 rdar://101045236
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Owners: none
