Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

Use String::isNull instead of std::optional<String> https://bugs.webkit.org/show_bug.cgi?id=255337 rdar://107758556
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/font-variant-alternates-03.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/font-variant-alternates-06.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/font-variant-alternates-09.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/font-variant-alternates-12.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/font-variant-alternates-15.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/font-variant-alternates-18.html
  Source/WebCore/platform/text/TextFlags.cpp
Owners: none

Pull back some upstream css-backgrounds changes based on WPT team review https://bugs.webkit.org/show_bug.cgi?id=255301
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/border-image-repeat-space-8.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/border-image-space-001.html
Owners: none

Web Inspector: Support ES2022 Private Fields https://bugs.webkit.org/show_bug.cgi?id=254961 <rdar://problem/107863310>
  LayoutTests/inspector/runtime/getDisplayableProperties-expected.txt
  LayoutTests/inspector/runtime/getDisplayableProperties.html
  LayoutTests/inspector/runtime/getProperties-expected.txt
  LayoutTests/inspector/runtime/getProperties.html
  LayoutTests/inspector/runtime/resources/property-descriptor-utilities.js
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
  Source/JavaScriptCore/bytecompiler/NodesCodegen.cpp
  Source/JavaScriptCore/inspector/InjectedScriptSource.js
  Source/JavaScriptCore/inspector/JSInjectedScriptHost.cpp
  Source/JavaScriptCore/inspector/JSInjectedScriptHost.h
  Source/JavaScriptCore/inspector/JSInjectedScriptHostPrototype.cpp
  Source/JavaScriptCore/inspector/protocol/Runtime.json
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/PrivateName.h
  Source/JavaScriptCore/runtime/Symbol.cpp
  Source/WTF/wtf/text/SymbolImpl.cpp
  Source/WTF/wtf/text/SymbolImpl.h
  Source/WebInspectorUI/UserInterface/Models/PropertyDescriptor.js
  Source/WebInspectorUI/UserInterface/Models/PropertyPath.js
  Source/WebInspectorUI/UserInterface/Views/ObjectTreePropertyTreeElement.css
  Source/WebInspectorUI/UserInterface/Views/ObjectTreePropertyTreeElement.js
  Source/WebInspectorUI/UserInterface/Views/ObjectTreeView.js
  Source/WebKit/WebProcess/WebPage/IPCTestingAPI.cpp
Owners: @patrickangle, @WebKit/jsc-reviewers, @dcrousso, @cdumez

Make priority hints tests more stable https://bugs.webkit.org/show_bug.cgi?id=254885
  LayoutTests/http/tests/priority-hints/fetch-api-priority.html
  LayoutTests/http/tests/priority-hints/link-header-fetch-priority.py
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
Owners: none

Fix PACGA encoding in ARM64EAssembler.h. https://bugs.webkit.org/show_bug.cgi?id=255362 rdar://107956903
  Source/JavaScriptCore/assembler/ARM64EAssembler.h
Owners: @WebKit/jsc-reviewers

<rdar://96239333> Linker picks up .order files automatically, please do not hardcode their paths
  Source/JavaScriptCore/Configurations/JavaScriptCore.xcconfig
  Source/WebCore/Configurations/WebCore.xcconfig
  Source/WebKit/Configurations/WebKit.xcconfig
  Source/WebKitLegacy/mac/Configurations/WebKitLegacy.xcconfig
Owners: @WebKit/jsc-reviewers

Cherry-pick 261069@main (558d4317538c). https://bugs.webkit.org/show_bug.cgi?id=253159
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerPeerConnectionBackend.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeOutgoingVideoSourceGStreamer.cpp
Owners: @philn

Cherry-pick 261070@main (c9a7acf64ee3). https://bugs.webkit.org/show_bug.cgi?id=253237
  Source/WebCore/platform/audio/gstreamer/AudioDestinationGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/GRefPtrGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/GRefPtrGStreamer.h
Owners: @philn

Cherry-pick 261070@main (c9a7acf64ee3). https://bugs.webkit.org/show_bug.cgi?id=253237
  Source/WebCore/platform/audio/gstreamer/AudioDestinationGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/GRefPtrGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/GRefPtrGStreamer.h
Owners: @philn

Cherry-pick 261074@main (7878d72b0fd7). https://bugs.webkit.org/show_bug.cgi?id=251428
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerWebRTCUtils.h
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.cpp
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.h
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingVideoSourceGStreamer.cpp
Owners: @philn

Cherry-pick 261074@main (7878d72b0fd7). https://bugs.webkit.org/show_bug.cgi?id=251428
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerWebRTCUtils.h
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.cpp
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.h
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingVideoSourceGStreamer.cpp
Owners: @philn

Cherry-pick 261328@main (1581c8aa2d3c). https://bugs.webkit.org/show_bug.cgi?id=253074
  Source/WebCore/Modules/mediasource/SourceBuffer.cpp
Owners: none

Cherry-pick 261328@main (1581c8aa2d3c). https://bugs.webkit.org/show_bug.cgi?id=253074
  Source/WebCore/Modules/mediasource/SourceBuffer.cpp
Owners: none

[Mac] Adopt -setEligibleForBTSmartRoutingConsideration:error: https://bugs.webkit.org/show_bug.cgi?id=255343 rdar://107144097
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.mm
  Source/WebCore/PAL/pal/spi/cocoa/AVFoundationSPI.h
  Source/WebCore/platform/audio/cocoa/AudioSessionCocoa.h
  Source/WebCore/platform/audio/cocoa/AudioSessionCocoa.mm
  Source/WebCore/platform/audio/ios/AudioSessionIOS.h
  Source/WebCore/platform/audio/ios/AudioSessionIOS.mm
  Source/WebCore/platform/audio/mac/AudioSessionMac.h
  Source/WebCore/platform/audio/mac/AudioSessionMac.mm
Owners: none

Cherry-pick 261516@main (cb882e942695). https://bugs.webkit.org/show_bug.cgi?id=250119
  LayoutTests/editing/pasteboard/copy-paste-text-with-trailing-colon-expected.txt
  LayoutTests/editing/pasteboard/copy-paste-text-with-trailing-colon.html
  LayoutTests/platform/ios-wk2/TestExpectations
  Source/WebCore/page/Page.cpp
Owners: @rniwa, @cdumez

MiniBrowser: Web Inspector is partially obscured by web view’s layer hosting view https://bugs.webkit.org/show_bug.cgi?id=255312 rdar://problem/107911224
  Source/WebCore/PAL/pal/spi/mac/NSViewSPI.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
Owners: @cdumez

Cherry-pick 261571@main (c5cfffe19659). https://bugs.webkit.org/show_bug.cgi?id=252310
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.h
Owners: @philn

Cherry-pick 261571@main (c5cfffe19659). https://bugs.webkit.org/show_bug.cgi?id=252310
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.h
Owners: @philn

Cherry-pick 261626@main (e2ccf6b69511). https://bugs.webkit.org/show_bug.cgi?id=253833
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.h
Owners: @philn

Cherry-pick 261626@main (e2ccf6b69511). https://bugs.webkit.org/show_bug.cgi?id=253833
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.h
Owners: @philn

Cherry-pick 261681@main (2e8371efc38c). https://bugs.webkit.org/show_bug.cgi?id=253955
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerStatsCollector.cpp
Owners: @philn

Cherry-pick 261681@main (2e8371efc38c). https://bugs.webkit.org/show_bug.cgi?id=253955
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerStatsCollector.cpp
Owners: @philn

Cherry-pick 261683@main (758056c72f5c). https://bugs.webkit.org/show_bug.cgi?id=253954
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerDataChannelHandler.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerDataChannelHandler.h
Owners: @philn

Cherry-pick 261683@main (758056c72f5c). https://bugs.webkit.org/show_bug.cgi?id=253954
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerDataChannelHandler.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerDataChannelHandler.h
Owners: @philn

Cherry-pick 261684@main (8f08fa82eddb). https://bugs.webkit.org/show_bug.cgi?id=253000
  Source/WebCore/platform/graphics/gstreamer/GStreamerRegistryScanner.cpp
  Source/WebCore/platform/graphics/gstreamer/GStreamerRegistryScanner.h
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/eme/WebKitThunderDecryptorGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.cpp
Owners: @philn

Cherry-pick 261684@main (8f08fa82eddb). https://bugs.webkit.org/show_bug.cgi?id=253000
  Source/WebCore/platform/graphics/gstreamer/GStreamerRegistryScanner.cpp
  Source/WebCore/platform/graphics/gstreamer/GStreamerRegistryScanner.h
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/eme/WebKitThunderDecryptorGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.cpp
Owners: @philn

Cherry-pick 261785@main (8684905426f0). https://bugs.webkit.org/show_bug.cgi?id=254018
  Source/WebCore/platform/mediastream/RealtimeMediaSource.h
  Source/WebCore/platform/mediastream/RealtimeMediaSourceCenter.h
Owners: none

Cherry-pick 261785@main (8684905426f0). https://bugs.webkit.org/show_bug.cgi?id=254018
  Source/WebCore/platform/mediastream/RealtimeMediaSource.h
  Source/WebCore/platform/mediastream/RealtimeMediaSourceCenter.h
Owners: none

Cherry-pick 261830@main (8575978fe5ef). https://bugs.webkit.org/show_bug.cgi?id=254076
  Source/WebCore/Modules/mediasource/MediaSource.cpp
  Source/WebCore/platform/mock/mediasource/MockMediaSourcePrivate.cpp
Owners: none

Cherry-pick 261830@main (8575978fe5ef). https://bugs.webkit.org/show_bug.cgi?id=254076
  Source/WebCore/Modules/mediasource/MediaSource.cpp
  Source/WebCore/platform/mock/mediasource/MockMediaSourcePrivate.cpp
Owners: none

[ews] Add a script to upload a file to given url https://bugs.webkit.org/show_bug.cgi?id=255340
  Tools/Scripts/upload-file-to-url
Owners: @JonWBedard

Cherry-pick 261914@main (71eaa127b96b). https://bugs.webkit.org/show_bug.cgi?id=254159
  Source/WebCore/Modules/encryptedmedia/InitDataRegistry.cpp
Owners: none

Cherry-pick 261914@main (71eaa127b96b). https://bugs.webkit.org/show_bug.cgi?id=254159
  Source/WebCore/Modules/encryptedmedia/InitDataRegistry.cpp
Owners: none

Cherry-pick 262711@main (6833b7d7f7be). rdar://problem/105684663
  Source/WebCore/Headers.cmake
  Source/WebCore/workers/service/SWClientConnection.cpp
  Source/WebCore/workers/service/SWClientConnection.h
  Source/WebCore/workers/service/ServiceWorkerClientPendingMessage.h
  Source/WebCore/workers/service/ServiceWorkerContainer.cpp
  Source/WebCore/workers/service/WorkerSWClientConnection.cpp
  Source/WebCore/workers/service/WorkerSWClientConnection.h
  Source/WebCore/workers/service/server/SWServer.cpp
  Source/WebCore/workers/service/server/SWServer.h
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerConnection.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerConnection.h
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerConnection.messages.in
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/WebProcess/Storage/WebSWClientConnection.cpp
  Source/WebKit/WebProcess/Storage/WebSWClientConnection.h
  Source/WebKit/WebProcess/Storage/WebSWClientConnection.messages.in
Owners: @cdumez

AX: Properly expose lists that have display:contents list items https://bugs.webkit.org/show_bug.cgi?id=255325 rdar://problem/107924637
  LayoutTests/accessibility/display-contents-list-expected.txt
  LayoutTests/accessibility/display-contents-list.html
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AccessibilityList.cpp
  Source/WebCore/accessibility/AccessibilityList.h
  Source/WebCore/accessibility/AccessibilityNodeObject.cpp
  Source/WebCore/accessibility/AccessibilityNodeObject.h
  Source/WebCore/accessibility/AccessibilityObject.cpp
  Source/WebCore/accessibility/AccessibilityObject.h
  Source/WebCore/accessibility/AccessibilityRenderObject.cpp
  Source/WebCore/accessibility/AccessibilityRenderObject.h
Owners: none

Versioning.
  Configurations/Version.xcconfig
Owners: none

[iOS] Make eager soft-linking of Data Detection frameworks non-fatal https://bugs.webkit.org/show_bug.cgi?id=255369 <rdar://107752677>
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Owners: @cdumez

[WGSL] Variable declaration should update concretized types https://bugs.webkit.org/show_bug.cgi?id=255117 rdar://107726803
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/tests/valid/concretization.wgsl
Owners: none

Adopt strict coding of PKPaymentSetupConfiguration https://bugs.webkit.org/show_bug.cgi?id=255190 rdar://107553429
  Source/WebKit/Shared/ApplePay/PaymentSetupConfiguration.mm
  Source/WebKit/Shared/ApplePay/PaymentSetupConfiguration.serialization.in
  Source/WebKit/Shared/ApplePay/PaymentSetupConfigurationWebKit.h
  Source/WebKit/Shared/ApplePay/cocoa/WebPaymentCoordinatorProxyCocoa.mm
  Source/WebKit/Shared/Cocoa/ArgumentCodersCocoa.mm
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Owners: none

[ macOS ] 4x css/css-background/background-size tests are constant ImageOnly failures. https://bugs.webkit.org/show_bug.cgi?id=255372 rdar://107964187
  LayoutTests/platform/mac/TestExpectations
Owners: none
