Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

IPC::MessageSender::sendWithAsyncReply is not consistent with send failures https://bugs.webkit.org/show_bug.cgi?id=246457 rdar://problem/101124692
  Source/WebKit/Platform/IPC/Connection.cpp
  Source/WebKit/Platform/IPC/Connection.h
  Source/WebKit/Platform/IPC/HandleMessage.h
  Source/WebKit/Platform/IPC/MessageSender.cpp
  Source/WebKit/Platform/IPC/MessageSender.h
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.cpp
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.h
  Source/WebKit/UIProcess/DrawingAreaProxy.cpp
  Source/WebKit/UIProcess/DrawingAreaProxy.h
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.h
  Source/WebKit/UIProcess/SuspendedPageProxy.cpp
  Source/WebKit/UIProcess/SuspendedPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/WebProcess/WebPage/IPCTestingAPI.cpp
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/IPC/ConnectionTests.cpp
  Tools/TestWebKitAPI/Tests/IPC/IPCTestUtilities.cpp
  Tools/TestWebKitAPI/Tests/IPC/IPCTestUtilities.h
  Tools/TestWebKitAPI/Tests/IPC/MessageSenderTests.cpp
Owners: @cdumez

[LFC][IFC] Replace LayoutBoundsMetrics with TextMetrics https://bugs.webkit.org/show_bug.cgi?id=246963
  Source/WebCore/layout/formattingContexts/inline/InlineLineBoxBuilder.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineLineBoxBuilder.h
Owners: none

JSC: Fix -Wreturn-type error/warning https://bugs.webkit.org/show_bug.cgi?id=247058
  Source/JavaScriptCore/jit/Width.h
Owners: @WebKit/jsc-reviewers

CSSStyleValue.parse() should throw when passed an empty string as custom property value https://bugs.webkit.org/show_bug.cgi?id=247026
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-objects/parse-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-objects/parseAll-invalid-expected.txt
  Source/WebCore/css/typedom/CSSStyleValueFactory.cpp
Owners: none

HashMapStylePropertyMap is readonly and shouldn't be subclassing StylePropertyMap https://bugs.webkit.org/show_bug.cgi?id=247012
  Source/WebCore/Sources.txt
  Source/WebCore/css/typedom/MainThreadStylePropertyMapReadOnly.cpp
  Source/WebCore/css/typedom/MainThreadStylePropertyMapReadOnly.h
  Source/WebCore/css/typedom/StylePropertyMap.cpp
  Source/WebCore/css/typedom/StylePropertyMap.h
  Source/WebCore/html/CustomPaintImage.cpp
Owners: @cdumez, @rniwa

[css-scroll-snap] Improve snapping behavior with incremental directional scrolls https://bugs.webkit.org/show_bug.cgi?id=237360 <rdar://problem/90024215>
  LayoutTests/imported/w3c/web-platform-tests/css/css-scroll-snap/input/keyboard-expected.txt
  LayoutTests/platform/mac/imported/w3c/web-platform-tests/css/css-scroll-snap/input/keyboard-expected.txt
  Source/WebCore/page/scrolling/ScrollSnapOffsetsInfo.cpp
Owners: @cdumez

[ANGLE] Render pipeline descriptor missing casses GPU-Process crash https://bugs.webkit.org/show_bug.cgi?id=246777 rdar://97847673
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/ContextMtl.mm
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/ProgramMtl.mm
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/mtl_command_buffer.h
Owners: none

[git-webkit] Deeply inspect potential gardening commits https://bugs.webkit.org/show_bug.cgi?id=247034 rdar://101568509
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pickable.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/pickable_unittest.py
  metadata/git_config_extension
Owners: @facetothefate, @JonWBedard

WPE: Tentative build fix for the Ubuntu LTS bot https://bugs.webkit.org/show_bug.cgi?id=247062
  Tools/wpe/backends/fdo/WindowViewBackend.cpp
Owners: @WebKit/glib-reviewers, @zdobersek

Add setting to set default URL for MobileMiniBrowser https://bugs.webkit.org/show_bug.cgi?id=247046 rdar://101575186
  Tools/MobileMiniBrowser/MobileMiniBrowser.xcodeproj/project.pbxproj
  Tools/MobileMiniBrowser/MobileMiniBrowser/Base.lproj/LaunchScreen.storyboard
  Tools/MobileMiniBrowser/MobileMiniBrowserFramework/Base.lproj/Main.storyboard
  Tools/MobileMiniBrowser/MobileMiniBrowserFramework/SettingsViewController.h
  Tools/MobileMiniBrowser/MobileMiniBrowserFramework/SettingsViewController.m
  Tools/MobileMiniBrowser/MobileMiniBrowserFramework/WebViewController.m
Owners: @JonWBedard

[WebCodecs] Update WPT validateBlackDots to test 4 pixels instead of just one https://bugs.webkit.org/show_bug.cgi?id=247003 rdar://problem/101540548
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-encoder-utils.js
Owners: none

[CMake] Enable AVIF by default, no longer experimental https://bugs.webkit.org/show_bug.cgi?id=246966
  Source/cmake/OptionsGTK.cmake
  Source/cmake/OptionsMac.cmake
  Source/cmake/OptionsPlayStation.cmake
  Source/cmake/OptionsWPE.cmake
  Source/cmake/OptionsWin.cmake
  Source/cmake/WebKitFeatures.cmake
Owners: @WebKit/glib-reviewers, @mcatanzaro

Cherry-pick 256014@main (28f6affda692). rdar://101568509
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pickable.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/pickable_unittest.py
  metadata/git_config_extension
Owners: @facetothefate, @JonWBedard

Add entitlements to enable sandbox state variables https://bugs.webkit.org/show_bug.cgi?id=247031 rdar://101564410
  Source/WebKit/Scripts/process-entitlements.sh
Owners: none

[MSE][GStreamer] Add documentation comments to createOptionalParserForFormat()
  Source/WebCore/platform/graphics/gstreamer/mse/AppendPipeline.cpp
Owners: @philn

Migrate more WebCore argument coders to generated serialization format https://bugs.webkit.org/show_bug.cgi?id=246965 rdar://101516916
  Source/WebCore/Modules/indexeddb/IndexedDB.h
  Source/WebCore/Modules/indexeddb/server/MemoryIndex.h
  Source/WebCore/Modules/indexeddb/server/MemoryObjectStore.h
  Source/WebCore/Modules/indexeddb/shared/IDBGetAllRecordsData.h
  Source/WebCore/testing/MockContentFilter.cpp
  Source/WebCore/testing/MockContentFilterSettings.cpp
  Source/WebCore/testing/MockContentFilterSettings.h
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.cpp
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.h
  Source/WebKit/Scripts/webkit/tests/SerializedTypeInfo.cpp
  Source/WebKit/Scripts/webkit/tests/TestSerializedType.serialization.in
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Owners: none

Fix CSSKeywordValue serialization to properly escape identifier https://bugs.webkit.org/show_bug.cgi?id=247022
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-serialization/cssKeywordValue.tentative-expected.txt
  Source/WebCore/css/typedom/CSSKeywordValue.cpp
Owners: none

[LFC][IFC] LineBoxBuilder::setLayoutBounds should not call setAscentAndDescent https://bugs.webkit.org/show_bug.cgi?id=246964
  Source/WebCore/layout/formattingContexts/inline/InlineLineBoxBuilder.cpp
Owners: none

Implement input validation for CSSRGB constructor and setters https://bugs.webkit.org/show_bug.cgi?id=246972
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssRGB-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssRGB.html
  Source/WebCore/Sources.txt
  Source/WebCore/css/typedom/color/CSSColorValue.cpp
  Source/WebCore/css/typedom/color/CSSColorValue.h
  Source/WebCore/css/typedom/color/CSSRGB.cpp
  Source/WebCore/css/typedom/color/CSSRGB.h
Owners: none

This ensures that the viewport anchor layer will be updated when updating compositing layers upon style change https://bugs.webkit.org/show_bug.cgi?id=246890 rdar://99568474
  LayoutTests/compositing/scrolling/fixed-style-with-rotation-expected.txt
  LayoutTests/compositing/scrolling/fixed-style-with-rotation.html
  LayoutTests/compositing/scrolling/sticky-style-with-rotation-expected.txt
  LayoutTests/compositing/scrolling/sticky-style-with-rotation.html
  Source/WebCore/rendering/RenderLayerCompositor.cpp
Owners: none

Clean up code related to how TiledCoreAnimationDrawingArea gets layers for zooming and shadow https://bugs.webkit.org/show_bug.cgi?id=247047 rdar://101575253
  Source/WebCore/page/FrameView.cpp
  Source/WebCore/page/FrameView.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreeTransaction.mm
  Source/WebKit/WebProcess/WebPage/mac/TiledCoreAnimationDrawingArea.mm
Owners: @cdumez

[JSC] Accelerate DirectArguments slice https://bugs.webkit.org/show_bug.cgi?id=247040 rdar://101570036
  JSTests/microbenchmarks/direct-arguments-slice.js
  Source/JavaScriptCore/runtime/DirectArguments.cpp
  Source/JavaScriptCore/runtime/DirectArguments.h
  Source/JavaScriptCore/runtime/JSArray.cpp
Owners: @WebKit/jsc-reviewers

[web-animations] contain-intrinsic-* properties should support animations https://bugs.webkit.org/show_bug.cgi?id=241184
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/animation/contain-intrinsic-size-interpolation-expected.txt
  Source/WebCore/animation/CSSPropertyAnimation.cpp
Owners: @graouts

Unreviewed, reverting r255952@main. https://bugs.webkit.org/show_bug.cgi?id=247077
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WTF/Scripts/Preferences/WebPreferencesInternal.yaml
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

[MQ4] Add FeatureSchemas for most media query features https://bugs.webkit.org/show_bug.cgi?id=247061 <rdar://problem/101586285>
  Source/WebCore/Sources.txt
  Source/WebCore/css/query/ContainerQueryFeatures.cpp
  Source/WebCore/css/query/ContainerQueryFeatures.h
  Source/WebCore/css/query/GenericMediaQueryEvaluator.cpp
  Source/WebCore/css/query/GenericMediaQueryEvaluator.h
  Source/WebCore/css/query/GenericMediaQueryParser.cpp
  Source/WebCore/css/query/GenericMediaQueryTypes.h
  Source/WebCore/css/query/MediaQueryEvaluator.cpp
  Source/WebCore/css/query/MediaQueryEvaluator.h
  Source/WebCore/css/query/MediaQueryFeatures.cpp
  Source/WebCore/css/query/MediaQueryFeatures.h
  Source/WebCore/css/query/MediaQueryParser.cpp
  Source/WebCore/loader/DocumentLoader.h
  Source/WebCore/style/ContainerQueryEvaluator.cpp
Owners: @cdumez

Consistently use dashes when displaying built-products-dir argument. https://bugs.webkit.org/show_bug.cgi?id=246988 <rdar://problem/101528104>
  Tools/Scripts/generate-compile-commands
Owners: @JonWBedard

Adjust a check in `EventHandler::handleDrag` when setting `restrictedOriginForImageData` https://bugs.webkit.org/show_bug.cgi?id=247067 rdar://101554713
  Source/WebCore/page/EventHandler.cpp
Owners: @cdumez

Cherry-pick a98a1455c175. rdar://problem/93083601
  Source/WebKit/WebProcess/WebPage/IPCTestingAPI.cpp
Owners: @cdumez

Cherry-pick 1b24ccb77e41. rdar://problem/84550136
  Source/WebKit/Platform/IPC/StreamConnectionBuffer.cpp
  Source/WebKit/Platform/IPC/StreamConnectionBuffer.h
Owners: @cdumez

Correctly teardown children for elements with NULL renderer which have display contents changed.
  Source/WebCore/dom/ContainerNode.cpp
Owners: @rniwa, @cdumez

REBASELINE REGRESSION [ Mac iOS ] fast/css/focus-ring-exists-for-search-field.html is constant failure rdar://problem/100049123
  LayoutTests/TestExpectations
  LayoutTests/platform/ios/fast/css/focus-ring-exists-for-search-field-expected.txt
  LayoutTests/platform/mac/fast/css/focus-ring-exists-for-search-field-expected.txt
Owners: none

[JSC] Prefer array move in unshift https://bugs.webkit.org/show_bug.cgi?id=247027 rdar://101561203
  JSTests/stress/unshiftCountSlowCase-correct-postCapacity.js
  Source/JavaScriptCore/runtime/ArrayPrototype.cpp
  Source/JavaScriptCore/runtime/JSArray.cpp
  Source/JavaScriptCore/runtime/JSArray.h
Owners: @WebKit/jsc-reviewers

Remove unused webXREnabled deprecated global setting https://bugs.webkit.org/show_bug.cgi?id=247075 rdar://101595916
  Source/WebCore/page/DeprecatedGlobalSettings.h
Owners: @cdumez

Fix the iOS Debug build with recent SDK https://bugs.webkit.org/show_bug.cgi?id=247086
  Source/WebKit/webpushd/ICAppBundle.mm
Owners: none

[git-webkit] Match "Cherry-picked" as a cherry-pick https://bugs.webkit.org/show_bug.cgi?id=247083 rdar://101602436
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/trace.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/trace_unittest.py
Owners: @facetothefate, @JonWBedard

Stop creating visibility propagation view for the WebContent process https://bugs.webkit.org/show_bug.cgi?id=247090 rdar://101606390
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Owners: @cdumez

Cherry-pick 256036@main (f5a276c914c5). rdar://101602436
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/trace.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/trace_unittest.py
Owners: @facetothefate, @JonWBedard

[LFC][IFC] Introduce LineBoxBuilder::setVerticalPropertiesForInlineLevelBox https://bugs.webkit.org/show_bug.cgi?id=246968
  Source/WebCore/layout/formattingContexts/inline/InlineLineBoxBuilder.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineLineBoxBuilder.h
Owners: none
