Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

Cherry-pick 261399@main. rdar://107431084 _removeDataStoreWithIdentifier should fail when the data store is being used by web page
  Source/WebKit/UIProcess/WebsiteData/Cocoa/WebsiteDataStoreCocoa.mm
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.h
Owners: @cdumez

Remove and replace respondsToSelector calls where they are not needed https://bugs.webkit.org/show_bug.cgi?id=252901
  Source/WebCore/bridge/objc/objc_instance.mm
  Source/WebCore/platform/graphics/avfoundation/objc/CDMInstanceFairPlayStreamingAVFObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/WebCoreAVFResourceLoader.mm
  Source/WebCore/platform/network/cocoa/CookieCocoa.mm
  Source/WebKit/Platform/cocoa/ImageAnalysisUtilities.mm
  Source/WebKit/UIProcess/mac/WebContextMenuProxyMac.mm
  Source/WebKitLegacy/mac/WebView/WebView.mm
Owners: @cdumez

Check the modal of the presentedViewController in WKActionSheet https://bugs.webkit.org/show_bug.cgi?id=251916
  Source/WebKit/UIProcess/ios/WKActionSheet.mm
Owners: @cdumez

Web Inspector: Web inspector become unresponsive after opening online photos https://bugs.webkit.org/show_bug.cgi?id=254602
  LayoutTests/http/tests/inspector/network/resource-mime-type-expected.txt
  LayoutTests/http/tests/inspector/network/resource-mime-type.html
  Source/WebCore/inspector/agents/InspectorPageAgent.cpp
  Source/WebInspectorUI/UserInterface/Views/ResourceClusterContentView.js
Owners: @patrickangle, @dcrousso

Versioning.
  Configurations/Version.xcconfig
Owners: none

Always use originSaltFileName to create salt file path in CacheStorageManger https://bugs.webkit.org/show_bug.cgi?id=254705 rdar://107393253
  Source/WebKit/NetworkProcess/storage/CacheStorageManager.cpp
Owners: @cdumez

Unreviewed, reverting r262333@main. https://bugs.webkit.org/show_bug.cgi?id=254825
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaSourceProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaSourceProxy.h
  Source/WebKit/WebProcess/GPU/media/MediaSourcePrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/MediaSourcePrivateRemote.h
  Source/WebKit/WebProcess/GPU/media/MediaSourcePrivateRemote.messages.in
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.h
Owners: @cdumez

Cherry-pick 3891a934a192. rdar://problem/107153896
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.cpp
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.h
  Source/WebKit/GPUProcess/GPUProcess.cpp
  Source/WebKit/GPUProcess/GPUProcess.h
  Source/WebKit/GPUProcess/GPUProcess.messages.in
  Source/WebKit/Shared/GPUProcessConnectionParameters.h
  Source/WebKit/UIProcess/GPU/GPUProcessProxy.cpp
  Source/WebKit/UIProcess/GPU/GPUProcessProxy.h
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
Owners: @cdumez

Cherry-pick 252432.1044@safari-7614-branch (22cbd76bcc96). rdar://107446655
  LayoutTests/fast/css-grid-layout/grid-stylechange-crash-expected.txt
  LayoutTests/fast/css-grid-layout/grid-stylechange-crash.html
  Source/WebCore/rendering/GridTrackSizingAlgorithm.cpp
  Source/WebCore/rendering/RenderGrid.cpp
  Source/WebCore/rendering/RenderGrid.h
Owners: none

Cherry-pick 259548.22@safari-7615-branch (433aae06c3e1). rdar://107445621
  Source/WebCore/platform/graphics/IntRect.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Owners: none

Cherry-pick 256843.4@webkit-2022.12-embargoed (6234ec9c65b9). rdar://107445724
  LayoutTests/fast/table/table-cell-crash-when-detached-state-2-expected.txt
  LayoutTests/fast/table/table-cell-crash-when-detached-state-2.html
  Source/WebCore/rendering/RenderLayerModelObject.cpp
Owners: none

Cherry-pick 252432.1040@safari-7614-branch (5f64e30a652b). rdar://107445664
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteScrollingCoordinatorProxyIOS.mm
Owners: @cdumez

Cherry-pick 256843.6@webkit-2022.12-embargoed (c4c0ef6360b2). rdar://107446251
  LayoutTests/fast/dom/set-outer-text-on-moved-element-expected.html
  LayoutTests/fast/dom/set-outer-text-on-moved-element.html
  Source/WebCore/rendering/updating/RenderTreeUpdater.cpp
Owners: @rniwa

Cherry-pick 259548.25@safari-7615-branch (1a20160f826c). rdar://107446004
  JSTests/wasm/stress/many-locals-small-wasm-stack.js
  JSTests/wasm/stress/many-locals-small-wasm-stack.wasm
  JSTests/wasm/stress/many-locals-small-wasm-stack.wat
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 252432.1043@safari-7614-branch (6633438abd8b). rdar://107446401
  LayoutTests/inspector/console/console-recursive-logging-expected.txt
  LayoutTests/inspector/console/console-recursive-logging.html
  Source/JavaScriptCore/inspector/agents/InspectorConsoleAgent.cpp
  Source/JavaScriptCore/inspector/agents/InspectorConsoleAgent.h
Owners: @patrickangle

Cherry-pick 259548.27@safari-7615-branch (97035e098145). rdar://107446353
  Source/WebKit/UIProcess/WebProcessProxy.cpp
Owners: @cdumez

Cherry-pick 259548.30@safari-7615-branch (49109db4ab87). rdar://107446551
  Source/JavaScriptCore/runtime/Error.cpp
  Source/JavaScriptCore/runtime/StackFrame.cpp
  Source/JavaScriptCore/runtime/StackFrame.h
  Source/WTF/wtf/URL.cpp
  Source/WTF/wtf/URL.h
  Source/WebInspectorUI/UserInterface/Base/URLUtilities.js
  Source/WebInspectorUI/UserInterface/Models/DebuggerData.js
  Tools/TestWebKitAPI/Tests/WTF/URL.cpp
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Cherry-pick 259548.29@safari-7615-branch (ce8f16b1a26e). rdar://107446506
  Source/WebKit/UIProcess/ios/WebPageProxyIOS.mm
Owners: @cdumez

Cherry-pick 3891a934a192. rdar://problem/107153896
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.cpp
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.h
  Source/WebKit/GPUProcess/GPUProcess.cpp
  Source/WebKit/GPUProcess/GPUProcess.h
  Source/WebKit/GPUProcess/GPUProcess.messages.in
  Source/WebKit/Shared/GPUProcessConnectionParameters.h
  Source/WebKit/UIProcess/GPU/GPUProcessProxy.cpp
  Source/WebKit/UIProcess/GPU/GPUProcessProxy.h
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
Owners: @cdumez

Fix RemoteObjectRegistry debug API tests after 262407@main https://bugs.webkit.org/show_bug.cgi?id=254827 rdar://107477420
  Source/WebKit/Shared/API/Cocoa/WKRemoteObjectCoder.mm
Owners: none

CloneDeserializer::deserialize() should store cell pointers in a MarkedVector. https://bugs.webkit.org/show_bug.cgi?id=254797 rdar://107369977
  Source/JavaScriptCore/heap/Heap.cpp
  Source/JavaScriptCore/heap/Heap.h
  Source/JavaScriptCore/heap/HeapInlines.h
  Source/JavaScriptCore/runtime/ArgList.cpp
  Source/JavaScriptCore/runtime/ArgList.h
  Source/WebCore/Modules/webaudio/AudioWorkletProcessor.cpp
  Source/WebCore/Modules/webaudio/AudioWorkletProcessor.h
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
Owners: @WebKit/jsc-reviewers, @cdumez

Apply patch. rdar://problem/106142457
  Source/WebCore/platform/mediastream/mac/AVVideoCaptureSource.h
  Source/WebCore/platform/mediastream/mac/AVVideoCaptureSource.mm
Owners: none

[margin-trim] Trigger layout on margin-trim style change. https://bugs.webkit.org/show_bug.cgi?id=254300 rdar://107108810
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-style-change-triggers-layout-block-start-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-style-change-triggers-layout-block-start.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-block-start-dynamic-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-style-change-triggers-layout-block-end-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-style-change-triggers-layout-block-end-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-style-change-triggers-layout-block-end.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-style-change-triggers-layout-block-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-style-change-triggers-layout-block-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-style-change-triggers-layout-block-start-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-style-change-triggers-layout-block-start-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-style-change-triggers-layout-block-start.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-style-change-triggers-layout-block.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-style-change-triggers-layout-inline-end-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-style-change-triggers-layout-inline-end-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-style-change-triggers-layout-inline-end.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-style-change-triggers-layout-inline-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-style-change-triggers-layout-inline-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-style-change-triggers-layout-inline-start-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-style-change-triggers-layout-inline-start-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-style-change-triggers-layout-inline-start.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-style-change-triggers-layout-inline.html
  Source/WebCore/rendering/style/RenderStyle.cpp
Owners: none

REGRESSION(259969@main): Screen sharing is no longer working in public builds and causing UIProcess to crash https://bugs.webkit.org/show_bug.cgi?id=254155 rdar://107265903
  Source/WebCore/platform/mediastream/mac/CGDisplayStreamScreenCaptureSource.h
  Source/WebCore/platform/mediastream/mac/CGDisplayStreamScreenCaptureSource.mm
  Source/WebKit/UIProcess/mac/DisplayCaptureSessionManager.mm
Owners: @cdumez

Make SMIL interval position calculations more resilient
  LayoutTests/svg/animations/simple-duration-mutation-crash-expected.txt
  LayoutTests/svg/animations/simple-duration-mutation-crash.html
  Source/WebCore/svg/animation/SVGSMILElement.cpp
Owners: none

Web Inspector: Fonts: Warning text for synthesized oblique/italic should mention the correct property value https://bugs.webkit.org/show_bug.cgi?id=254759
  Source/WebInspectorUI/Localizations/en.lproj/localizedStrings.js
  Source/WebInspectorUI/UserInterface/Views/FontDetailsPanel.js
Owners: @dcrousso, @patrickangle

Apply patch. rdar://problem/106142457
  Source/WebCore/platform/mediastream/mac/AVVideoCaptureSource.h
  Source/WebCore/platform/mediastream/mac/AVVideoCaptureSource.mm
Owners: none

Unreviewed, reverting r262411@main. https://bugs.webkit.org/show_bug.cgi?id=254831
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaSourceProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaSourceProxy.h
  Source/WebKit/WebProcess/GPU/media/MediaSourcePrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/MediaSourcePrivateRemote.h
  Source/WebKit/WebProcess/GPU/media/MediaSourcePrivateRemote.messages.in
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.h
Owners: @cdumez

Prefer retain over CFRetain and copy for ObjC Callbacks https://bugs.webkit.org/show_bug.cgi?id=252575i
  Source/JavaScriptCore/API/ObjCCallbackFunction.mm
Owners: @WebKit/jsc-reviewers

Re-import html/semantics/popovers WPT https://bugs.webkit.org/show_bug.cgi?id=254810
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-anchor-idl-property-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-anchor-idl-property.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-light-dismiss-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-light-dismiss.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-shadow-dom-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-shadow-dom.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-target-element-disabled-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-target-element-disabled.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/w3c-import.log
Owners: none

Unreviewed, reverting r262370@main. https://bugs.webkit.org/show_bug.cgi?id=254832
  Source/WTF/wtf/spi/cocoa/IOSurfaceSPI.h
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.cpp
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.mm
  Source/WebCore/platform/graphics/cocoa/IOSurface.h
  Source/WebCore/platform/graphics/cocoa/IOSurface.mm
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferShareableMappedIOSurfaceBackend.cpp
  Tools/DumpRenderTree/ios/PixelDumpSupportIOS.mm
  Tools/TestWebKitAPI/Tests/WebCore/cocoa/IOSurfaceTests.mm
Owners: @cdumez, @JonWBedard

[ iOS, macOS ] imported/w3c/web-platform-tests/mathml/relations/html5-tree/dynamic-childlist-002.html is a constant text failure. https://bugs.webkit.org/show_bug.cgi?id=254621 rdar://107335821
  LayoutTests/platform/mac-wk1/TestExpectations
Owners: none

Remove support for TagName::command https://bugs.webkit.org/show_bug.cgi?id=254737 rdar://107416609
  LayoutTests/html5lib/generated/run-tests25-data-expected.txt
  LayoutTests/html5lib/generated/run-tests25-write-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/parsing/html5lib_tests25_run_type=uri-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/parsing/html5lib_tests25_run_type=write-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/parsing/html5lib_tests25_run_type=write_single-expected.txt
  Source/WebCore/WebCore.order
  Source/WebCore/WebCoreMacros.cmake
  Source/WebCore/html/HTMLObjectElement.cpp
  Source/WebCore/html/HTMLTagNames.in
  Source/WebCore/html/parser/HTMLStackItem.h
  Source/WebCore/html/parser/HTMLTreeBuilder.cpp
Owners: @cdumez, @rniwa

AXObjectCache::characterOffsetFromVisiblePosition can deref a nullptr when underlying renderer is destroyed https://bugs.webkit.org/show_bug.cgi?id=254798 rdar://103456792
  Source/WebCore/accessibility/AXObjectCache.cpp
Owners: none

AX: Don't include password input value in aria-labelledby description https://bugs.webkit.org/show_bug.cgi?id=248717 rdar://problem/102815043
  LayoutTests/accessibility-isolated-tree/TestExpectations
  LayoutTests/accessibility/aria-labelledby-on-password-input-expected.txt
  LayoutTests/accessibility/aria-labelledby-on-password-input.html
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/accessibility/AccessibilityNodeObject.cpp
Owners: none

Versioning.
  Configurations/Version.xcconfig
Owners: none

Fix build of SourceBrush.cpp https://bugs.webkit.org/show_bug.cgi?id=254821
  Source/WebCore/platform/graphics/SourceBrush.cpp
Owners: none

Make RemoteRenderingData::cacheFont reconstruct a Font using Attributes, and a reference to FontCustomPlatformData. https://bugs.webkit.org/show_bug.cgi?id=254490 <rdar://106965215>
  Source/WebCore/css/CSSFontFaceSource.h
  Source/WebCore/loader/cache/CachedFont.cpp
  Source/WebCore/loader/cache/CachedFont.h
  Source/WebCore/platform/graphics/Font.cpp
  Source/WebCore/platform/graphics/Font.h
  Source/WebCore/platform/graphics/FontCustomPlatformData.h
  Source/WebCore/platform/graphics/FontPlatformData.cpp
  Source/WebCore/platform/graphics/FontPlatformData.h
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/coretext/FontCoreText.cpp
  Source/WebCore/platform/graphics/coretext/FontPlatformDataCoreText.cpp
  Source/WebCore/platform/graphics/freetype/FontCustomPlatformDataFreeType.cpp
  Source/WebCore/platform/graphics/mac/FontCustomPlatformDataMac.cpp
  Source/WebCore/platform/graphics/win/FontCustomPlatformDataWin.cpp
  Source/WebCore/platform/graphics/win/FontPlatformDataCairoWin.cpp
  Source/WebCore/platform/graphics/win/FontPlatformDataWin.cpp
  Source/WebCore/workers/WorkerFontLoadRequest.h
  Source/WebKit/GPUProcess/graphics/QualifiedResourceHeap.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.messages.in
  Source/WebKit/GPUProcess/graphics/RemoteResourceCache.cpp
  Source/WebKit/GPUProcess/graphics/RemoteResourceCache.h
  Source/WebKit/Shared/Cocoa/WebCoreArgumentCodersCocoa.mm
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.h
  Source/WebKit/Shared/cf/ArgumentCodersCF.cpp
  Source/WebKit/Shared/playstation/WebCoreArgumentCodersPlayStation.cpp
  Source/WebKit/Shared/soup/WebCoreArgumentCodersSoup.cpp
  Source/WebKit/Shared/win/WebCoreArgumentCodersWin.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.h
Owners: @cdumez, @WebKit/glib-reviewers

Apply patch. rdar://problem/106142457
  Source/WebCore/platform/mediastream/mac/AVVideoCaptureSource.h
  Source/WebCore/platform/mediastream/mac/AVVideoCaptureSource.mm
Owners: none

Cherry-pick 2c49ff7b0481. rdar://problem/107369977
  Source/JavaScriptCore/heap/Heap.cpp
  Source/JavaScriptCore/heap/Heap.h
  Source/JavaScriptCore/heap/HeapInlines.h
  Source/JavaScriptCore/runtime/ArgList.cpp
  Source/JavaScriptCore/runtime/ArgList.h
  Source/WebCore/Modules/webaudio/AudioWorkletProcessor.cpp
  Source/WebCore/Modules/webaudio/AudioWorkletProcessor.h
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
Owners: @WebKit/jsc-reviewers, @cdumez
