Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

Adjust interaction regions to match updated spec. https://bugs.webkit.org/show_bug.cgi?id=254254 rdar://106317786
  LayoutTests/interaction-region/aria-roles-expected.txt
  LayoutTests/interaction-region/consolidated-nested-regions-expected.txt
  LayoutTests/interaction-region/inline-link-dark-background-expected.txt
  LayoutTests/interaction-region/inline-link-expected.txt
  LayoutTests/interaction-region/inline-link-in-composited-iframe-expected.txt
  LayoutTests/interaction-region/inline-link-in-layer-expected.txt
  LayoutTests/interaction-region/inline-link-in-non-composited-iframe-expected.txt
  LayoutTests/interaction-region/inline-link-with-pointer-events-none-content-expected.txt
  LayoutTests/interaction-region/layer-tree-expected.txt
  LayoutTests/interaction-region/overlap-expected.txt
  LayoutTests/interaction-region/split-inline-link-expected.txt
  LayoutTests/interaction-region/wrapped-inline-link-expected.txt
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/page/InteractionRegion.cpp
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewTesting.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeInteractionRegionLayers.mm
Owners: @cdumez

[ iOS, macOS ] imported/w3c/web-platform-tests/css/css-backgrounds/border-image-space-001.html is a constant ImageOnly Failure. https://bugs.webkit.org/show_bug.cgi?id=254348 rdar://107142323
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/border-image-space-001.html
Owners: none

Add Swift modulemap for WebKit Private APIs
  Source/WebKit/Configurations/Base.xcconfig
  Source/WebKit/Configurations/WebKit.xcconfig
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources-output.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Modules/OSX_Private.modulemap
  Source/WebKit/Modules/iOS_Private.modulemap
  Source/WebKit/Platform/cocoa/WKCrashReporter.h
  Source/WebKit/Platform/unix/EnvironmentUtilities.h
  Source/WebKit/Shared/Cocoa/XPCEndpoint.h
  Source/WebKit/Shared/Cocoa/XPCEndpointClient.h
  Source/WebKit/Shared/WebPushDaemonConstants.h
  Source/WebKit/UIProcess/API/C/WKNotificationManager.h
  Source/WebKit/UIProcess/API/C/WKWebsitePolicies.h
  Source/WebKit/UIProcess/API/Cocoa/WKContextMenuElementInfoPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivateForTesting.h
  Source/WebKit/UIProcess/API/Cocoa/_WKInspectorPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/_WKInspectorPrivateForTesting.h
  Source/WebKit/UIProcess/API/Cocoa/_WKRemoteWebInspectorViewControllerPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebAuthenticationPanelForTesting.h
  Source/WebKit/UIProcess/API/cpp/WKRetainPtr.h
  Source/WebKit/UIProcess/ios/fullscreen/FullscreenTouchSecheuristic.h
  Source/WebKit/UIProcess/ios/fullscreen/FullscreenTouchSecheuristicParameters.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Owners: @cdumez, @WebKit/glib-reviewers

[ iOS ] imported/w3c/web-platform-tests/css/css-backgrounds/border-image-slice-percentage.html is a constant ImageOnly Failure. https://bugs.webkit.org/show_bug.cgi?id=254349 rdar://107142566
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/border-image-slice-percentage.html
Owners: none

REGRESSION(261820@main): ASSERTION FAILED: [source isKindOfClass:[DestinationClass class]] https://bugs.webkit.org/show_bug.cgi?id=254306 rdar://107112432
  Source/WebKit/Shared/Cocoa/APIObject.mm
Owners: none

[UI-side compositing] css3/scroll-snap/scroll-snap-drag-scrollbar-thumb-with-sticky.html fails https://bugs.webkit.org/show_bug.cgi?id=254344 rdar://106115142
  LayoutTests/css3/scroll-snap/scroll-snap-drag-scrollbar-thumb-with-sticky.html
Owners: none

TextManipulationController can remove whitespace between a list of white-space: nowrap items https://bugs.webkit.org/show_bug.cgi?id=254319 <rdar://103521673>
  Source/WebCore/editing/TextManipulationController.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/TextManipulation.mm
Owners: @rniwa

[ iOS, macOS ] imported/w3c/web-platform-tests/css/css-backgrounds/border-image-round-and-stretch.html is a constant ImageOnly Failure. https://bugs.webkit.org/show_bug.cgi?id=254351 rdar://107144311
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/border-image-round-and-stretch.html
Owners: none

@counter-style rule can't redefine certain predefined styles. https://bugs.webkit.org/show_bug.cgi?id=254339 rdar://107138989
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/name-syntax-expected.txt
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
Owners: none

Offscreen Canvas does not respect size set via CSS. https://bugs.webkit.org/show_bug.cgi?id=253821 <rdar://106941318>
  LayoutTests/fast/canvas/offscreen-scaling-expected.html
  LayoutTests/fast/canvas/offscreen-scaling.html
  Source/WebCore/platform/graphics/ca/cocoa/GraphicsLayerAsyncContentsDisplayDelegateCocoa.mm
Owners: none

Port ApplePayLineItem::Type to the new serialization format https://bugs.webkit.org/show_bug.cgi?id=254333 rdar://107134569
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Owners: none

Apply cookie policy on WebSocket request https://bugs.webkit.org/show_bug.cgi?id=254220 rdar://106831525
  LayoutTests/http/tests/resources/redirect.py
  LayoutTests/http/tests/websocket/tests/hybi/websocket-blocked-sending-cookie-as-third-party-after-redirect-expected.txt
  LayoutTests/http/tests/websocket/tests/hybi/websocket-blocked-sending-cookie-as-third-party-after-redirect.html
  LayoutTests/http/tests/websocket/tests/hybi/websocket-blocked-sending-cookie-as-third-party-after-ws-redirect-expected.txt
  LayoutTests/http/tests/websocket/tests/hybi/websocket-blocked-sending-cookie-as-third-party-after-ws-redirect.html
  LayoutTests/http/tests/websocket/tests/hybi/websocket-blocked-sending-cookie-as-third-party-expected.txt
  LayoutTests/http/tests/websocket/tests/hybi/websocket-blocked-sending-cookie-as-third-party.html
  LayoutTests/http/tests/websocket/tests/hybi/websocket-blocked-sending-cookie-as-third-party_wsh.py
  LayoutTests/platform/mac-wk1/TestExpectations
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.h
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.messages.in
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/NetworkSession.h
  Source/WebKit/NetworkProcess/NetworkSocketChannel.cpp
  Source/WebKit/NetworkProcess/NetworkSocketChannel.h
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.h
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.h
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.mm
  Source/WebKit/NetworkProcess/cocoa/NetworkTaskCocoa.h
  Source/WebKit/NetworkProcess/cocoa/NetworkTaskCocoa.mm
  Source/WebKit/NetworkProcess/cocoa/WebSocketTaskCocoa.h
  Source/WebKit/NetworkProcess/cocoa/WebSocketTaskCocoa.mm
  Source/WebKit/NetworkProcess/curl/NetworkSessionCurl.cpp
  Source/WebKit/NetworkProcess/curl/NetworkSessionCurl.h
  Source/WebKit/NetworkProcess/soup/NetworkSessionSoup.cpp
  Source/WebKit/NetworkProcess/soup/NetworkSessionSoup.h
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/Network/WebSocketChannel.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKHTTPCookieStore.mm
Owners: @cdumez, @WebKit/glib-reviewers

[UI-side compositing] Two imported/w3c/web-platform-tests/css/cssom-view/scroll-behavior tests fail https://bugs.webkit.org/show_bug.cgi?id=254335 rdar://106116027
  Source/WebCore/page/scrolling/ScrollingCoordinatorTypes.cpp
  Source/WebCore/page/scrolling/ScrollingCoordinatorTypes.h
  Source/WebCore/page/scrolling/ScrollingStateScrollingNode.cpp
  Source/WebCore/page/scrolling/ScrollingStateScrollingNode.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteScrollingCoordinatorTransaction.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingTreeMac.mm
Owners: @cdumez

REGRESSION(261998@main): [ Monterey+ wk2 ] 2X http/tests/webgpu/webgpu/ap i/operation (layout-tests) are flaky crashes (254364) https://bugs.webkit.org/show_bug.cgi?id=254364 rdar://107150380
  LayoutTests/platform/mac-wk2/TestExpectations
Owners: none

Fix inline-block abspos bug
  LayoutTests/fast/block/bug369123-expected.html
  LayoutTests/fast/block/bug369123.html
  Source/WebCore/rendering/RenderLayerModelObject.cpp
Owners: none

UI-side Compositing: PDF scrollbars are not draggable and don't grow when hovered https://bugs.webkit.org/show_bug.cgi?id=254363 rdar://105908418
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
Owners: @cdumez

ASSERTION FAILED: Options::useWebAssemblyGC() https://bugs.webkit.org/show_bug.cgi?id=254362 rdar://107126788
  Source/JavaScriptCore/wasm/WasmTypeDefinition.cpp
Owners: @WebKit/jsc-reviewers

Revert weak linking ARKit to soft linking https://bugs.webkit.org/show_bug.cgi?id=254366 rdar://107151256
  Source/WebKit/Configurations/WebKit.xcconfig
  Source/WebKit/Shared/Cocoa/ARKitSoftLink.h
  Source/WebKit/Shared/Cocoa/ARKitSoftLink.mm
  Source/WebKit/Shared/Cocoa/WebIconUtilities.mm
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/Cocoa/SystemPreviewControllerCocoa.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Owners: @cdumez

[JSC] Track @@toStringTag in Structure https://bugs.webkit.org/show_bug.cgi?id=254257 rdar://107111713
  JSTests/microbenchmarks/to-string-object.js
  Source/JavaScriptCore/builtins/BuiltinNames.cpp
  Source/JavaScriptCore/builtins/BuiltinNames.h
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/runtime/CommonIdentifiers.cpp
  Source/JavaScriptCore/runtime/CommonIdentifiers.h
  Source/JavaScriptCore/runtime/JSObject.cpp
  Source/JavaScriptCore/runtime/JSObject.h
  Source/JavaScriptCore/runtime/JSObjectInlines.h
  Source/JavaScriptCore/runtime/ObjectPrototype.cpp
  Source/JavaScriptCore/runtime/ObjectPrototype.h
  Source/JavaScriptCore/runtime/ObjectPrototypeInlines.h
  Source/JavaScriptCore/runtime/SmallStrings.cpp
  Source/JavaScriptCore/runtime/SmallStrings.h
  Source/JavaScriptCore/runtime/Structure.cpp
  Source/JavaScriptCore/runtime/Structure.h
  Source/JavaScriptCore/runtime/StructureInlines.h
  Source/JavaScriptCore/runtime/SymbolConstructor.cpp
  Source/WTF/wtf/text/SymbolImpl.h
Owners: @WebKit/jsc-reviewers

Remove unused function declaration in WorkerCacheStorageConnection.h https://bugs.webkit.org/show_bug.cgi?id=254357 rdar://107146101
  Source/WebCore/Modules/cache/WorkerCacheStorageConnection.h
Owners: none

[CMake] Quiet pkgconfig output https://bugs.webkit.org/show_bug.cgi?id=254365
  Source/cmake/FindATK.cmake
  Source/cmake/FindAVIF.cmake
  Source/cmake/FindBreakpad.cmake
  Source/cmake/FindBrotli.cmake
  Source/cmake/FindEGL.cmake
  Source/cmake/FindLibtasn1.cmake
  Source/cmake/FindManette.cmake
  Source/cmake/FindOpenGLES2.cmake
  Source/cmake/FindOpenXR.cmake
  Source/cmake/FindThunder.cmake
  Source/cmake/FindWOFF2.cmake
Owners: none

Fast HTML parser fails to call beginParsingChildren() / finishParsingChildren() on Elements it parses https://bugs.webkit.org/show_bug.cgi?id=254361
  Source/WebCore/dom/Document.h
  Source/WebCore/html/FormController.h
  Source/WebCore/html/HTMLDocument.h
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
  Tools/TestWebKitAPI/Tests/WebCore/HTMLParserIdioms.cpp
Owners: @rniwa, @cdumez

The HTML fast parser may not parse HTML entities correctly https://bugs.webkit.org/show_bug.cgi?id=254370
  LayoutTests/fast/parser/fast-html-parser-consume-entity-expected.txt
  LayoutTests/fast/parser/fast-html-parser-consume-entity.html
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
Owners: @cdumez, @rniwa

Assertion failure in CompositeEditCommand::moveParagraph via InsertListCommand::listifyParagraph https://bugs.webkit.org/show_bug.cgi?id=254375
  LayoutTests/editing/execCommand/insert-list-move-paragraph-display-contents-crash-expected.txt
  LayoutTests/editing/execCommand/insert-list-move-paragraph-display-contents-crash.html
  Source/WebCore/editing/InsertListCommand.cpp
Owners: @rniwa

Attempting to release memory from RemoteResourceCacheProxy can create a new GPU Process connection. https://bugs.webkit.org/show_bug.cgi?id=254369 <rdar://106852656>
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
Owners: @cdumez

Only apply certain UA styles to HTML elements https://bugs.webkit.org/show_bug.cgi?id=254380 rdar://107162842
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-and-svg-expected.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-and-svg-ref.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-and-svg.html
  Source/WebCore/css/captions.css
  Source/WebCore/css/dialog.css
  Source/WebCore/css/mediaControls.css
  Source/WebCore/css/plugIns.css
  Source/WebCore/css/popover.css
  Source/WebCore/css/quirks.css
Owners: none

[JSC] Refine DFG AI type speculations for GetInternalField when called on ProxyObject https://bugs.webkit.org/show_bug.cgi?id=254271 <rdar://problem/107056889>
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
Owners: @WebKit/jsc-reviewers

[WinCairo] Unreviewed test gardening
  LayoutTests/platform/wincairo/TestExpectations
  LayoutTests/platform/wincairo/editing/selection/selection-display-block-sibling-expected.txt
  LayoutTests/platform/wincairo/editing/selection/selection-display-flex-expected.txt
  LayoutTests/platform/wincairo/editing/selection/vertical-rl-rtl-extend-line-backward-br-mixed-expected.txt
  LayoutTests/platform/wincairo/editing/selection/vertical-rl-rtl-extend-line-backward-p-mixed-expected.txt
  LayoutTests/platform/wincairo/editing/selection/vertical-rl-rtl-extend-line-forward-br-mixed-expected.txt
  LayoutTests/platform/wincairo/editing/selection/vertical-rl-rtl-extend-line-forward-p-mixed-expected.txt
  LayoutTests/platform/wincairo/fast/css/vertical-text-overflow-ellipsis-text-align-center-mixed-expected.txt
  LayoutTests/platform/wincairo/fast/css/vertical-text-overflow-ellipsis-text-align-justify-mixed-expected.txt
  LayoutTests/platform/wincairo/fast/css/vertical-text-overflow-ellipsis-text-align-left-mixed-expected.txt
  LayoutTests/platform/wincairo/fast/css/vertical-text-overflow-ellipsis-text-align-right-mixed-expected.txt
  LayoutTests/platform/wincairo/fast/html/details-marker-style-mixed-expected.txt
  LayoutTests/platform/wincairo/fast/html/details-writing-mode-mixed-expected.txt
  LayoutTests/platform/wincairo/fast/text/combining-enclosing-keycap-expected.txt
  LayoutTests/platform/wincairo/fast/text/han-generic-font-families-expected.txt
  LayoutTests/platform/wincairo/fast/text/hangul-generic-font-families-expected.txt
  LayoutTests/platform/wincairo/fast/text/vertical-rl-rtl-linebreak-mixed-expected.txt
Owners: none

[JSC] Handle side-effectful element addition in fastJoin https://bugs.webkit.org/show_bug.cgi?id=254393 rdar://107170193
  Source/JavaScriptCore/runtime/ArrayPrototype.cpp
  Source/JavaScriptCore/runtime/JSStringJoiner.h
Owners: @WebKit/jsc-reviewers

[IFC] InlineFormattingContextIntegrationEnabled belongs to CSS category https://bugs.webkit.org/show_bug.cgi?id=254345
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Owners: none

Re-import image-set() WPT https://bugs.webkit.org/show_bug.cgi?id=254390 rdar://107167728
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/image-set/image-set-calc-x-rendering-2-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/image-set/image-set-calc-x-rendering-2.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/image-set/image-set-calc-x-rendering-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/image-set/image-set-calc-x-rendering.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/image-set/image-set-computed.sub-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/image-set/image-set-computed.sub.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/image-set/image-set-invalid-resolution-rendering-2.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/image-set/image-set-negative-resolution-rendering-2-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/image-set/image-set-negative-resolution-rendering-2.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/image-set/image-set-negative-resolution-rendering-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/image-set/image-set-negative-resolution-rendering.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/image-set/image-set-parsing-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/image-set/image-set-parsing.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/image-set/w3c-import.log
Owners: none

[image-set] Stop rejecting negative resolutions https://bugs.webkit.org/show_bug.cgi?id=254388 rdar://107167273
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/image-set/image-set-parsing-expected.txt
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
Owners: none

Block unused resources in v3 sandbox https://bugs.webkit.org/show_bug.cgi?id=254291 rdar://106827256
  Source/WebKit/Shared/Sandbox/common.sb
Owners: @brentfulgham, @pvollan

[Gardening] http/tests/priority-hints/fetch-api-priority.html https://bugs.webkit.org/show_bug.cgi?id=254259
  LayoutTests/TestExpectations
Owners: none

Custom highlight creation behind marked text should not be gated on input sources supporting live conversion only https://bugs.webkit.org/show_bug.cgi?id=254354 rdar://107142115
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Owners: @cdumez

[GTK] font-size-adjust does not work for non-Ahem fonts https://bugs.webkit.org/show_bug.cgi?id=254145
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1-SE/coords-units-03-b-expected.png
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1-SE/coords-units-03-b-expected.txt
  LayoutTests/platform/wpe/svg/W3C-SVG-1.1-SE/coords-units-03-b-expected.txt
  Source/WebCore/platform/graphics/freetype/SimpleFontDataFreeType.cpp
Owners: @WebKit/glib-reviewers

[WGSL] Add support for textures https://bugs.webkit.org/show_bug.cgi?id=254278 <rdar://problem/107067119>
  Source/WebGPU/WGSL/AST/ASTTypeName.h
  Source/WebGPU/WGSL/Metal/MetalFunctionWriter.cpp
  Source/WebGPU/WGSL/TypeStore.cpp
  Source/WebGPU/WGSL/TypeStore.h
  Source/WebGPU/WGSL/Types.cpp
  Source/WebGPU/WGSL/Types.h
Owners: none

[media-controls] volume slider should animate when mute button is toggled https://bugs.webkit.org/show_bug.cgi?id=254350 rdar://102427937
  LayoutTests/media/modern-media-controls/volume-support/volume-support-media-api-expected.txt
  LayoutTests/media/modern-media-controls/volume-support/volume-support-media-api-mute-expected.txt
  LayoutTests/media/modern-media-controls/volume-support/volume-support-media-api-mute.html
  LayoutTests/media/modern-media-controls/volume-support/volume-support-media-api.html
  Source/WebCore/Modules/modern-media-controls/controls/slider-base.js
  Source/WebCore/Modules/modern-media-controls/media/media-controller-support.js
  Source/WebCore/Modules/modern-media-controls/media/volume-support.js
Owners: none

[MediaStream][GStreamer] Add support for InputDeviceInfo https://bugs.webkit.org/show_bug.cgi?id=254040
  LayoutTests/platform/glib/TestExpectations
  Source/WebKit/UIProcess/glib/UserMediaPermissionRequestManagerProxyGLib.cpp
  Source/WebKit/WebProcess/glib/UserMediaCaptureManager.cpp
  Source/WebKit/WebProcess/glib/UserMediaCaptureManager.h
  Source/WebKit/WebProcess/glib/UserMediaCaptureManager.messages.in
Owners: @WebKit/glib-reviewers

[GStreamer] Harness: Support for output stream caps changes https://bugs.webkit.org/show_bug.cgi?id=254332
  Source/WebCore/platform/gstreamer/GStreamerElementHarness.cpp
  Source/WebCore/platform/gstreamer/GStreamerElementHarness.h
Owners: @philn

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
