Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

Cherry-pick c20d51c646be. rdar://problem/107422122
  LayoutTests/fast/dom/Range/range-commonroot-notfound-expected.txt
  LayoutTests/fast/dom/Range/range-commonroot-notfound.html
  Source/WebCore/dom/Range.cpp
Owners: @rniwa, @cdumez

Build fix around std::variant in SourceBrush for Clang/libstdc++ https://bugs.webkit.org/show_bug.cgi?id=254742
  Source/WebCore/platform/graphics/SourceBrush.cpp
  Source/WebCore/platform/graphics/SourceBrush.h
  Source/WebKit/Platform/IPC/ArgumentCoders.h
Owners: @cdumez

[ews-build.webkit.org] Allow for PRs comprised of cherry-picks to include multiple commits https://bugs.webkit.org/show_bug.cgi?id=254701 rdar://107391286
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Owners: @aj062, @JonWBedard, @ryanhaddad

display: flex element not ignore font (content) like as other browser engines. https://bugs.webkit.org/show_bug.cgi?id=254595
  LayoutTests/fast/flexbox/out-of-flow-with-sibling-anon-flex-item-expected.html
  LayoutTests/fast/flexbox/out-of-flow-with-sibling-anon-flex-item.html
  Source/WebCore/rendering/updating/RenderTreeBuilderBlock.cpp
Owners: none

REGRESSION (259663@main): lowes.com: Product image is blank https://bugs.webkit.org/show_bug.cgi?id=254603 rdar://106926883
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/grid-item-image-percentage-min-height-computes-as-0-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/grid-item-image-percentage-min-height-computes-as-0.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/nested-flexbox-image-percentage-max-height-computes-as-none-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/nested-flexbox-image-percentage-max-height-computes-as-none.html
  Source/WebCore/rendering/RenderBox.cpp
Owners: none

[ews-build.webkit.org] Classify commits in pull-requests (Follow-up fix) https://bugs.webkit.org/show_bug.cgi?id=254680 rdar://107381451
  Tools/CISupport/ews-build/events.py
Owners: @aj062, @JonWBedard, @ryanhaddad

[WGSL] Don't build wgslc by default https://bugs.webkit.org/show_bug.cgi?id=254756 rdar://107428966
  Source/WebGPU/WebGPU.xcodeproj/xcshareddata/xcschemes/WebGPU.xcscheme
Owners: none

Cherry-pick 202e031fdd6b. rdar://problem/103911764
  Source/WebInspectorUI/UserInterface/Views/FontDetailsPanel.js
  Source/WebInspectorUI/UserInterface/Views/FontVariationDetailsSectionRow.js
Owners: @dcrousso, @patrickangle

Cherry-pick c5064e5e284d. rdar://problem/104889944
  LayoutTests/inspector/css/getMatchedStylesForNode.html
  LayoutTests/inspector/css/getMatchedStylesForNodeBackdropPseudoId-expected.txt
  LayoutTests/inspector/css/getMatchedStylesForNodeBackdropPseudoId.html
  Source/WebCore/inspector/agents/InspectorCSSAgent.cpp
Owners: @patrickangle

[ews-build.webkit.org] Omit commit title when checking if squashed https://bugs.webkit.org/show_bug.cgi?id=254754 rdar://107428840
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Owners: @aj062, @JonWBedard, @ryanhaddad

[ iOS, macOS ] imported/w3c/web-platform-tests/css/css-backgrounds/background-margin-root.html is a constant ImageOnly failure. rdar://107393679 https://bugs.webkit.org/show_bug.cgi?id=254707
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
Owners: none

Cherry-pick 252432.1036@safari-7614-branch (c553da3adc35). rdar://107367612
  JSTests/stress/regexp-testinline-stacklimits.js
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/runtime/RegExp.h
  Source/JavaScriptCore/yarr/YarrJIT.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 256843.5@webkit-2022.12-embargoed (312254f5776d). rdar://107366942
  LayoutTests/fast/css/content/quote-display-contents-crash-expected.txt
  LayoutTests/fast/css/content/quote-display-contents-crash.html
  Source/WebCore/dom/Element.cpp
Owners: @rniwa, @cdumez

Cherry-pick 252432.1017@safari-7614-branch (94d37ad7d541). rdar://107366983
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
  Source/WebKitLegacy/mac/WebView/WebJSPDFDoc.mm
Owners: @cdumez

Cherry-pick 252432.1023@safari-7614-branch (55c2b9caae92). rdar://107367011
  Source/WebKit/UIProcess/WebPageProxy.cpp
Owners: @cdumez

Cherry-pick 252432.1024@safari-7614-branch (2ea437d75522). rdar://107367090
  Source/WebCore/Modules/contact-picker/ContactsManager.cpp
  Source/WebCore/Modules/contact-picker/ContactsManager.h
Owners: @marcoscaceres

Cherry-pick 252432.1026@safari-7614-branch (2a8469e53b2f). rdar://107367418
  LayoutTests/editing/editability/design-mode-does-not-inherit-across-frames-expected.txt
  LayoutTests/editing/editability/design-mode-does-not-inherit-across-frames.html
  LayoutTests/fast/dom/HTMLElement/iscontenteditable-designmodeon-allinherit-subframe-expected.txt
  LayoutTests/fast/dom/HTMLElement/iscontenteditable-designmodeon-allinherit-subframe.html
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
Owners: @rniwa, @cdumez

Cherry-pick 252432.1029@safari-7614-branch (9dda7bfe768d). rdar://107367461
  JSTests/wasm/stress/wasm-tuple-return.js
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 252432.1033@safari-7614-branch (02e324c57689). rdar://107367530
  Source/WebKit/Shared/RemoteLayerTree/RemoteScrollingCoordinatorTransaction.cpp
Owners: none

Cherry-pick 252432.1034@safari-7614-branch (3ee4a8321986). rdar://107367566
  LayoutTests/imported/w3c/web-platform-tests/content-security-policy/generic/wildcard-host-checks-path.sub-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/content-security-policy/generic/wildcard-host-checks-path.sub.html
  Source/WebCore/page/csp/ContentSecurityPolicySource.cpp
Owners: @cdumez

Add missing simple pseudo elements to selector compiler https://bugs.webkit.org/show_bug.cgi?id=254671 rdar://107315560
  Source/WebCore/cssjit/SelectorCompiler.cpp
Owners: none

[Wasm-GC] Implement `array.new_canon_fixed` https://bugs.webkit.org/show_bug.cgi?id=252350
  JSTests/wasm/gc/array_new_fixed.js
  JSTests/wasm/gc/array_new_fixed_long.js
  JSTests/wasm/wasm.json
  Source/JavaScriptCore/bytecode/BytecodeList.rb
  Source/JavaScriptCore/wasm/WasmAirIRGeneratorBase.h
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.h
  Source/JavaScriptCore/wasm/WasmOperations.cpp
  Source/JavaScriptCore/wasm/WasmOperations.h
  Source/JavaScriptCore/wasm/WasmOperationsInlines.h
  Source/JavaScriptCore/wasm/WasmSlowPaths.cpp
  Source/JavaScriptCore/wasm/wasm.json
Owners: @WebKit/jsc-reviewers

Delete "All" target from WebGPU https://bugs.webkit.org/show_bug.cgi?id=254765 rdar://107435715
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
Owners: none

Replace bridge + CFRetain with CFBridgingRetain https://bugs.webkit.org/show_bug.cgi?id=252574
  Source/JavaScriptCore/API/ObjCCallbackFunction.mm
  Source/WebCore/editing/cocoa/WebContentReaderCocoa.mm
  Source/WebKitLegacy/mac/DOM/ObjCEventListener.mm
Owners: @WebKit/jsc-reviewers, @rniwa

Make SelectorQueryCache global https://bugs.webkit.org/show_bug.cgi?id=254732 rdar://107414722
  Source/WebCore/css/parser/CSSSelectorParser.cpp
  Source/WebCore/css/parser/CSSSelectorParser.h
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/dom/SelectorQuery.cpp
  Source/WebCore/dom/SelectorQuery.h
  Source/WebCore/page/MemoryRelease.cpp
Owners: @rniwa, @cdumez

webkit-flatpak: Add build path in build message https://bugs.webkit.org/show_bug.cgi?id=247366
  Tools/flatpak/flatpakutils.py
Owners: @philn

Revert [259548.512@safari-7615-branch] Cherry-pick 985abe673058. rdar://problem/105885360
  Source/WebCore/loader/DocumentLoader.cpp
  Source/WebCore/loader/FetchOptions.h
  Source/WebCore/loader/WorkerThreadableLoader.cpp
  Source/WebCore/loader/cache/CachedResourceRequest.cpp
  Source/WebCore/workers/WorkerScriptLoader.cpp
  Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerConnection.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerConnection.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Owners: @cdumez

Cherry-pick 262288@main (f05f3c942884). rdar://107385426
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/install_hooks.py
Owners: @facetothefate, @JonWBedard

[NFC] WebCore: Fix typos regarding "WebCore" https://bugs.webkit.org/show_bug.cgi?id=254764
  Source/WebCore/Modules/applepay/cocoa/PaymentSummaryItemsCocoa.mm
  Source/WebCore/html/FormListedElement.cpp
  Source/WebCore/html/HTMLFormControlElement.cpp
  Source/WebCore/html/HTMLMaybeFormAssociatedCustomElement.cpp
  Source/WebCore/html/HTMLTextFormControlElement.cpp
  Source/WebCore/html/ValidatedFormListedElement.cpp
  Source/WebCore/platform/mediastream/gstreamer/GStreamerWebRTCProvider.h
Owners: @cdumez, @rniwa, @philn

Rewrite FIXME to note that only tvOS and watchOS fails to compile some API tests https://bugs.webkit.org/show_bug.cgi?id=251928
  Source/JavaScriptCore/API/tests/testapi.mm
Owners: @WebKit/jsc-reviewers

Return value of LineBoxBuilder::lineContent is not a reference https://bugs.webkit.org/show_bug.cgi?id=254750
  Source/WebCore/layout/formattingContexts/inline/InlineLineBoxBuilder.h
Owners: none

Avoid calling hasAttributeWithoutSynchronization() and then attributeWithoutSynchronization() for performance in HTMLAnchorElement.cpp
  Source/WebCore/html/HTMLAnchorElement.cpp
Owners: @cdumez, @rniwa

Harden deserialization in AuxiliaryProcess::decodePreferenceValue https://bugs.webkit.org/show_bug.cgi?id=254749 rdar://107426841
  Source/WebKit/Shared/Cocoa/AuxiliaryProcessCocoa.mm
Owners: none

Null ptr deref in CSSStyleSheet::replaceSync. https://bugs.webkit.org/show_bug.cgi?id=254727. rdar://101629411.
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/css-stylesheet-replaceSync-null-deref-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/css-stylesheet-replaceSync-null-deref.html
  Source/WebCore/css/CSSStyleSheet.cpp
Owners: none

Ignore snap offsets with an identifier of zero https://bugs.webkit.org/show_bug.cgi?id=254383 rdar://107130316
  LayoutTests/fast/scrolling/scroll-snap-crash-expected.txt
  LayoutTests/fast/scrolling/scroll-snap-crash.html
  Source/WebCore/platform/ScrollSnapAnimatorState.cpp
Owners: none

Add Julia Hanson to the WebKit project
  metadata/contributors.json
Owners: @JonWBedard

Revert 262331@main: May have caused memory regression https://bugs.webkit.org/show_bug.cgi?id=141586 rdar://problem/89791501
  Source/WTF/wtf/spi/cocoa/IOSurfaceSPI.h
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.cpp
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.mm
  Source/WebCore/platform/graphics/cocoa/IOSurface.h
  Source/WebCore/platform/graphics/cocoa/IOSurface.mm
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferShareableMappedIOSurfaceBackend.cpp
  Tools/DumpRenderTree/ios/PixelDumpSupportIOS.mm
  Tools/TestWebKitAPI/Tests/WebCore/cocoa/IOSurfaceTests.mm
Owners: @cdumez, @JonWBedard

REGRESSION (262263@main): Caused the GPU process to kill the web process sometimes https://bugs.webkit.org/show_bug.cgi?id=254774 <rdar://107412422>
  Source/WebCore/css/CSSFontFaceSource.h
  Source/WebCore/loader/cache/CachedFont.cpp
  Source/WebCore/loader/cache/CachedFont.h
  Source/WebCore/platform/graphics/Font.cpp
  Source/WebCore/platform/graphics/Font.h
  Source/WebCore/platform/graphics/FontCustomPlatformData.h
  Source/WebCore/platform/graphics/FontPlatformData.cpp
  Source/WebCore/platform/graphics/FontPlatformData.h
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/coretext/FontCoreText.cpp
  Source/WebCore/platform/graphics/coretext/FontPlatformDataCoreText.cpp
  Source/WebCore/platform/graphics/freetype/FontCustomPlatformDataFreeType.cpp
  Source/WebCore/platform/graphics/mac/FontCustomPlatformDataMac.cpp
  Source/WebCore/platform/graphics/win/FontCustomPlatformDataWin.cpp
  Source/WebCore/platform/graphics/win/FontPlatformDataCairoWin.cpp
  Source/WebCore/platform/graphics/win/FontPlatformDataWin.cpp
  Source/WebCore/workers/WorkerFontLoadRequest.h
  Source/WebKit/GPUProcess/graphics/QualifiedResourceHeap.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.messages.in
  Source/WebKit/GPUProcess/graphics/RemoteResourceCache.cpp
  Source/WebKit/GPUProcess/graphics/RemoteResourceCache.h
  Source/WebKit/Shared/Cocoa/WebCoreArgumentCodersCocoa.mm
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.h
  Source/WebKit/Shared/cf/ArgumentCodersCF.cpp
  Source/WebKit/Shared/playstation/WebCoreArgumentCodersPlayStation.cpp
  Source/WebKit/Shared/soup/WebCoreArgumentCodersSoup.cpp
  Source/WebKit/Shared/win/WebCoreArgumentCodersWin.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.h
Owners: @cdumez, @WebKit/glib-reviewers

[ Ventura Debug ] fast/images/avif-image-decoding.html is a flaky crash. https://bugs.webkit.org/show_bug.cgi?id=254778 rdar://107443896
  LayoutTests/platform/mac-wk2/TestExpectations
Owners: none

Images on webpage appear black https://bugs.webkit.org/show_bug.cgi?id=254461 rdar://107049001
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Owners: @cdumez
