Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

RenderBox::computeInlineDirectionMargins() is causing system malloc heap allocations https://bugs.webkit.org/show_bug.cgi?id=254646
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderBox.h
Owners: none

REGRESSION (iOS 16.4): Photo library picker shows videos even for accept="image/*" https://bugs.webkit.org/show_bug.cgi?id=254604 rdar://107330772
  Source/WebKit/UIProcess/ios/forms/WKFileUploadPanel.mm
Owners: @cdumez

Inline a few trivial getters that show on profiles https://bugs.webkit.org/show_bug.cgi?id=254645
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/editing/VisibleSelection.cpp
  Source/WebCore/editing/VisibleSelection.h
  Source/WebCore/page/LocalFrame.h
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderBox.h
Owners: @rniwa, @cdumez

[IFC] Enable to layout floats and out-of-flow content only https://bugs.webkit.org/show_bug.cgi?id=254394
  LayoutTests/TestExpectations
  LayoutTests/fast/backgrounds/size/contain-and-cover-zoomed-expected.txt
  LayoutTests/fast/repaint/absolute-position-change-containing-block-expected.txt
  LayoutTests/fast/repaint/incorrect-repaint-when-container-changes-from-overflow-visible-to-hidden-expected.txt
  LayoutTests/platform/ios/fast/block/float/016-expected.txt
  Source/WebCore/layout/formattingContexts/inline/InlineItemsBuilder.cpp
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.cpp
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.h
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.cpp
  Source/WebCore/rendering/RenderBlockFlow.cpp
Owners: none

[LayoutTests] Gardening 'css-style-attr-decl-block'
  LayoutTests/TestExpectations
Owners: none

Cherry-pick 262271@main (79337ba40eb1). rdar://107343100
  metadata/trackers.json
Owners: @JonWBedard

WasmBBQJIT I64Rotl incorrectly masks immediate to be less than 32 https://bugs.webkit.org/show_bug.cgi?id=254626 rdar://107028963
  JSTests/wasm/stress/big-shifts-and-rotations.js
  JSTests/wasm/stress/wrapping-shifts-and-rotations.js
  Source/JavaScriptCore/assembler/X86Assembler.h
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
Owners: @WebKit/jsc-reviewers

Revert 3a1ba44290d8. rdar://problem/107371524
  LayoutTests/fast/editing/insert-text-hit-testing-crash-expected.txt
  LayoutTests/fast/editing/insert-text-hit-testing-crash.html
  Source/WebCore/dom/Document.cpp
  Source/WebCore/rendering/HitTestRequest.h
Owners: @rniwa, @cdumez

Promised file data should contain UTType identifier instead of file extension https://bugs.webkit.org/show_bug.cgi?id=254555 rdar://104449116
  Source/WebKit/UIProcess/mac/PageClientImplMac.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Tools/TestWebKitAPI/Tests/mac/DragAndDropTestsMac.mm
Owners: @cdumez

Exiting fullscreen on ign.com fails to restore scroll position https://bugs.webkit.org/show_bug.cgi?id=254632 rdar://106774841
  LayoutTests/fullscreen/fullscreen-restore-scroll-position-overflow-auto-expected.txt
  LayoutTests/fullscreen/fullscreen-restore-scroll-position-overflow-auto.html
  LayoutTests/platform/mac-wk1/TestExpectations
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.cpp
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.h
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundlePage.cpp
Owners: @cdumez

[Wasm-GC] Add extern.internalize/externalize https://bugs.webkit.org/show_bug.cgi?id=251039
  JSTests/wasm/gc/extern.js
  JSTests/wasm/wasm.json
  Source/JavaScriptCore/bytecode/BytecodeList.rb
  Source/JavaScriptCore/llint/WebAssembly32_64.asm
  Source/JavaScriptCore/llint/WebAssembly64.asm
  Source/JavaScriptCore/runtime/JSType.cpp
  Source/JavaScriptCore/runtime/JSType.h
  Source/JavaScriptCore/wasm/WasmAirIRGeneratorBase.h
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
  Source/JavaScriptCore/wasm/WasmFormat.h
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Source/JavaScriptCore/wasm/WasmLLIntBuiltin.h
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmOperations.cpp
  Source/JavaScriptCore/wasm/WasmOperations.h
  Source/JavaScriptCore/wasm/WasmOperationsInlines.h
  Source/JavaScriptCore/wasm/WasmSlowPaths.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.h
  Source/JavaScriptCore/wasm/js/JSWebAssemblyArray.h
  Source/JavaScriptCore/wasm/js/JSWebAssemblyStruct.h
  Source/JavaScriptCore/wasm/wasm.json
Owners: @WebKit/jsc-reviewers

Cherry-pick 262152@main (1fa0bf2759a8). rdar://107268120
  Tools/TestWebKitAPI/Tests/WebKitCocoa/AppPrivacyReport.mm
Owners: none

[popover] event.preventDefault() should not cancel popover light dismiss https://bugs.webkit.org/show_bug.cgi?id=254384
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/light-dismiss-event-ordering-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-light-dismiss-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/semantics/popovers/popover-light-dismiss-expected.txt
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/dom/Node.cpp
  Source/WebCore/page/PointerCaptureController.cpp
Owners: @rniwa, @cdumez

RenderLayer::hasVisibleContent() incorrect when layer removed
  LayoutTests/compositing/visibility/visibility-remove-layer-expected.html
  LayoutTests/compositing/visibility/visibility-remove-layer.html
  Source/WebCore/rendering/RenderLayer.cpp
Owners: none

innerHTML escapes <, >, &, and nbsp inside noembed, noframes, iframe and plaintext
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/parsing-html-fragments/tokenizer-modes-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/serializing-html-fragments/serializing-expected.txt
  Source/WebCore/editing/MarkupAccumulator.cpp
Owners: @rniwa

Preload based ServiceWorkerFetchTask should not fail if its context is stopped https://bugs.webkit.org/show_bug.cgi?id=254649 rdar://107290643
  Source/WebKit/NetworkProcess/ServiceWorker/ServiceWorkerFetchTask.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ServiceWorkerBasic.mm
Owners: @cdumez

[Xcode] Remove additional legacy build system script phases and build settings https://bugs.webkit.org/show_bug.cgi?id=243221 rdar://89701972
  Source/ThirdParty/libwebrtc/libwebrtc.xcodeproj/project.pbxproj
  Source/WebCore/PAL/ThirdParty/libavif/Configurations/Base.xcconfig
  Source/WebCore/PAL/ThirdParty/libavif/Configurations/libavif.xcconfig
  Source/WebCore/PAL/ThirdParty/libavif/ThirdParty/dav1d/Configurations/Base.xcconfig
  Source/WebCore/PAL/ThirdParty/libavif/ThirdParty/dav1d/Configurations/dav1d.xcconfig
  Tools/WebGPUPlayground/Configurations/Base.xcconfig
Owners: @JonWBedard

[git-webkit] Look for hooks in the GIT_DIR, not the worktree https://bugs.webkit.org/show_bug.cgi?id=254677
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/install_hooks.py
Owners: @facetothefate, @JonWBedard

New test (262039@main): [iOS / macOS WK1] fast/canvas/offscreen-scaling.html is flaky failure https://bugs.webkit.org/show_bug.cgi?id=254630 rdar://107369322
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
Owners: none

[JSC] CrashOnOverflow in CharacterClassConstructor::unicodeOpSorted() https://bugs.webkit.org/show_bug.cgi?id=254582 rdar://107314153
  JSTests/stress/regexp-vflag-property-of-strings.js
  Source/JavaScriptCore/yarr/YarrPattern.cpp
Owners: @WebKit/jsc-reviewers

CacheStorageManager: don't create stray salt file in CWD https://bugs.webkit.org/show_bug.cgi?id=254663
  Source/WebKit/NetworkProcess/storage/CacheStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/CacheStorageManager.h
Owners: @cdumez

Re-import css/css-conditional WPT https://bugs.webkit.org/show_bug.cgi?id=254681 rdar://107382110
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/at-supports-047-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/at-supports-047.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/at-supports-font-tech-001.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/at-supports-selector-detecting-invalid-in-logical-combinations-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/at-supports-selector-detecting-invalid-in-logical-combinations-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/at-supports-selector-detecting-invalid-in-logical-combinations.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/js/CSS-supports-L4-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/js/CSS-supports-L4.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/js/CSS-supports-L5-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/js/CSS-supports-L5.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/js/CSS-supports-selector-detecting-invalid-in-logical-combinations-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/js/CSS-supports-selector-detecting-invalid-in-logical-combinations.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/js/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/w3c-import.log
Owners: none

Unreviewed test gardening. Remove the failing test expectation now that the test is passing.
  LayoutTests/platform/mac-gpup/TestExpectations
Owners: none

Avoid heap allocation in jsEventTargetCast() https://bugs.webkit.org/show_bug.cgi?id=254672
  Source/WebCore/bindings/js/JSEventTargetCustom.cpp
  Source/WebCore/bindings/js/JSEventTargetCustom.h
  Source/WebCore/dom/MouseEvent.cpp
Owners: @cdumez, @rniwa

Category and subsystem is not being logged https://bugs.webkit.org/show_bug.cgi?id=253579 rdar://106762697
  Source/WTF/wtf/spi/cocoa/OSLogSPI.h
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.h
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.messages.in
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Owners: @cdumez

[UI-side compositing] [GPU Process] Emailing a webpage from Safari causes the tab to stop rendering https://bugs.webkit.org/show_bug.cgi?id=254683 rdar://107329972
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/GPUProcess.mm
Owners: @cdumez

Don't include unnecessary direct touch type for mouse gesture recognizer https://bugs.webkit.org/show_bug.cgi?id=254684 rdar://105696890
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Owners: @cdumez

Use Ref for m_node in ComposedTreeAncestorIterator https://bugs.webkit.org/show_bug.cgi?id=254274 rdar://107061402
  Source/WebCore/dom/ComposedTreeAncestorIterator.h
Owners: @rniwa, @cdumez

WKWebAuthenticationPanel: attributesArrayRef is not released https://bugs.webkit.org/show_bug.cgi?id=254667
  Source/WebKit/UIProcess/API/Cocoa/_WKWebAuthenticationPanel.mm
Owners: @cdumez

[GPUP][MSE] incorrect handling when multiple init segments are processed during a single appendBuffer https://bugs.webkit.org/show_bug.cgi?id=254079 rdar://106859839
  LayoutTests/media/media-source/media-source-multiple-concurrent-initialization-segments-expected.txt
  LayoutTests/media/media-source/media-source-multiple-concurrent-initialization-segments.html
  LayoutTests/media/media-source/media-source-stpp-crash-expected.txt
  LayoutTests/media/media-source/media-source-stpp-crash.html
  Source/WebCore/Modules/mediasource/SourceBuffer.cpp
  Source/WebCore/Modules/mediasource/SourceBuffer.h
  Source/WebCore/platform/graphics/AudioTrackPrivate.h
  Source/WebCore/platform/graphics/InbandTextTrackPrivate.h
  Source/WebCore/platform/graphics/SourceBufferPrivate.cpp
  Source/WebCore/platform/graphics/SourceBufferPrivate.h
  Source/WebCore/platform/graphics/SourceBufferPrivateClient.h
  Source/WebCore/platform/graphics/TrackPrivateBase.h
  Source/WebCore/platform/graphics/VideoTrackPrivate.h
  Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferPrivateAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferPrivateAVFObjC.mm
  Source/WebCore/platform/graphics/gstreamer/mse/SourceBufferPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/SourceBufferPrivateGStreamer.h
  Source/WebCore/platform/mock/mediasource/MockSourceBufferPrivate.cpp
  Source/WebKit/GPUProcess/media/RemoteSourceBufferProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteSourceBufferProxy.h
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.h
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.messages.in
Owners: @philn, @cdumez

[UI-side compositing] Fix for assert in scrollbar tests: scrollerImp == scroller->scrollerImp() https://bugs.webkit.org/show_bug.cgi?id=254678 rdar://107380404
  Source/WebCore/page/scrolling/mac/ScrollerMac.h
  Source/WebCore/page/scrolling/mac/ScrollerMac.mm
Owners: @cdumez

[GARDENING]REGRESSION(262009@main): 2X webgl/conformance/textures/canvas (layout-tests) are flaky timeouts https://bugs.webkit.org/show_bug.cgi?id=254690 rdar://107390761
  LayoutTests/platform/ios/TestExpectations
Owners: none

[UI-side compositing] Fix ScrollerMac::scrollbarState https://bugs.webkit.org/show_bug.cgi?id=254685 rdar://107384908
  Source/WebCore/page/scrolling/mac/ScrollerMac.mm
Owners: @cdumez

[ iOS ] imported/w3c/web-platform-tests/css/css-images/image-set/image-set-calc-x-rendering-2.html is a constant failure. https://bugs.webkit.org/show_bug.cgi?id=254714 rdar://107395155
  LayoutTests/platform/ios/TestExpectations
Owners: none

[css-conditional-5] Support `@supports font-format()` https://bugs.webkit.org/show_bug.cgi?id=254679 rdar://107381176
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/js/CSS-supports-L5-expected.txt
  Source/WebCore/css/CSSValueKeywords.in
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.h
  Source/WebCore/css/parser/CSSPropertyParserWorkerSafe.cpp
  Source/WebCore/css/parser/CSSSupportsParser.cpp
  Source/WebCore/css/parser/CSSSupportsParser.h
Owners: none

WebXR should be considered a foreground session for view visibility purposes https://bugs.webkit.org/show_bug.cgi?id=254709 rdar://106763470
  Source/WebKit/UIProcess/ios/PageClientImplIOS.mm
Owners: @cdumez

Avoid premature canvas readback when post-processing image buffers https://bugs.webkit.org/show_bug.cgi?id=254715 rdar://107393842
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/html/CanvasBase.cpp
  Source/WebCore/html/CanvasBase.h
  Source/WebCore/html/canvas/CanvasRenderingContext2DBase.cpp
Owners: @cdumez, @rniwa

[css-conditional] Fix unknown function parsing in @supports rule https://bugs.webkit.org/show_bug.cgi?id=254716 rdar://107397723
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/js/supports-conditionText-expected.txt
  Source/WebCore/css/parser/CSSSupportsParser.cpp
Owners: none

[CSS Fonts] Implement two-value syntax of font-size-adjust https://bugs.webkit.org/show_bug.cgi?id=254191
  LayoutTests/TestExpectations
  LayoutTests/http/tests/incremental/stylesheet-body-incremental-rendering.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/layer-counter-style-override-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/animations/font-size-adjust-interpolation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-size-adjust-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-size-adjust-valid-expected.txt
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/mac-ventura-wk2/imported/w3c/web-platform-tests/css/css-cascade/layer-counter-style-override-expected.txt
  Source/WebCore/Headers.cmake
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/css/CSSPrimitiveValueMappings.h
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/CSSValueKeywords.in
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.h
  Source/WebCore/platform/graphics/FontCascadeCache.h
  Source/WebCore/platform/graphics/FontCascadeDescription.cpp
  Source/WebCore/platform/graphics/FontCascadeDescription.h
  Source/WebCore/platform/graphics/FontDescription.h
  Source/WebCore/platform/graphics/FontPlatformData.cpp
  Source/WebCore/platform/graphics/FontPlatformData.h
  Source/WebCore/platform/graphics/FontSizeAdjust.h
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/style/StyleBuilderConverter.h
  Source/WebCore/style/StyleBuilderCustom.h
  Source/WebCore/style/StyleFontSizeFunctions.cpp
  Source/WebCore/style/StyleFontSizeFunctions.h
Owners: @graouts

Leverage ElementName enum in the HTML fast parser https://bugs.webkit.org/show_bug.cgi?id=254718
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
Owners: @cdumez, @rniwa

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
