Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @calvaris, @philn, @ntrrgc, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @graouts

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard
/Tools/TestWebKitAPI

# ================================================================================

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn

# ================================================================================

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

/Source/WebCore/Modules/apple-pay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/apple-pay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

# ================================================================================

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

REGRESSION (iOS 16): 2 finger click with trackpad does not select editable text if context menu is already shown https://bugs.webkit.org/show_bug.cgi?id=241993 rdar://93638100
  Source/WebCore/page/EventHandler.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/iOSMouseSupport.mm
Owners: none

[web-animations] support custom properties in JS-originated animations https://bugs.webkit.org/show_bug.cgi?id=242005
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/animation-important-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-properties-values-api/at-property-animation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/interfaces/Animatable/animate-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/interfaces/KeyframeEffect/constructor-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/interfaces/KeyframeEffect/setKeyframes-expected.txt
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/animation/KeyframeEffect.h
  Source/WebCore/animation/WebAnimation.cpp
  Source/WebCore/bindings/js/JSKeyframeEffectCustom.cpp
Owners: @graouts

IOSurfacePool has to stop its collection timer when it is being deleted https://bugs.webkit.org/show_bug.cgi?id=242013 rdar://94516877
  Source/WebCore/platform/graphics/cg/IOSurfacePool.cpp
  Source/WebCore/platform/graphics/cg/IOSurfacePool.h
Owners: none

Documentation, Introduction.md: HTTP => HTTPS
  Introduction.md
Owners: none

[web-animations] support custom properties in Animation.commitStyles() https://bugs.webkit.org/show_bug.cgi?id=242007
  LayoutTests/imported/w3c/web-platform-tests/web-animations/interfaces/Animation/commitStyles-expected.txt
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/animation/KeyframeEffect.h
  Source/WebCore/animation/WebAnimation.cpp
Owners: @graouts

refactor7
  Source/JavaScriptCore/bytecode/BytecodeOperandsForCheckpoint.h
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/bytecode/CodeBlockInlines.h
  Source/JavaScriptCore/bytecode/Opcode.h
  Source/JavaScriptCore/bytecode/UnlinkedCodeBlock.cpp
  Source/JavaScriptCore/llint/LLIntSlowPaths.cpp
Owners: @WebKit/jsc-reviewers

refactor6
  Source/JavaScriptCore/bytecode/Opcode.h
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.h
  Source/JavaScriptCore/jit/JIT.h
  Source/JavaScriptCore/jit/JITOperations.cpp
  Source/JavaScriptCore/jit/JITPropertyAccess.cpp
  Source/JavaScriptCore/llint/LLIntSlowPaths.cpp
  Source/JavaScriptCore/runtime/CommonSlowPaths.cpp
  Source/JavaScriptCore/runtime/CommonSlowPathsInlines.h
Owners: @WebKit/jsc-reviewers

refactor4
  Source/JavaScriptCore/jit/JIT.h
  Source/JavaScriptCore/jit/JITPropertyAccess.cpp
Owners: @WebKit/jsc-reviewers

refactor1
  Source/JavaScriptCore/bytecode/BytecodeList.rb
  Source/JavaScriptCore/bytecode/BytecodeUseDef.cpp
  Source/JavaScriptCore/bytecode/CallLinkInfo.cpp
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.h
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/jit/JITOperations.cpp
  Source/JavaScriptCore/jit/JITOperations.h
  Source/JavaScriptCore/jit/JITPropertyAccess.cpp
  Source/JavaScriptCore/llint/LLIntSlowPaths.cpp
  Source/JavaScriptCore/llint/LLIntSlowPaths.h
  Source/JavaScriptCore/llint/LowLevelInterpreter.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter64.asm
  Source/JavaScriptCore/runtime/CommonSlowPaths.cpp
  Source/JavaScriptCore/runtime/CommonSlowPaths.h
Owners: @WebKit/jsc-reviewers

baseline
  Source/JavaScriptCore/bytecode/BytecodeList.rb
  Source/JavaScriptCore/bytecode/BytecodeLivenessAnalysis.cpp
  Source/JavaScriptCore/bytecode/BytecodeUseDef.cpp
  Source/JavaScriptCore/bytecode/CallLinkInfo.cpp
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/bytecode/Opcode.h
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.h
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGCapabilities.cpp
  Source/JavaScriptCore/jit/JIT.cpp
  Source/JavaScriptCore/jit/JIT.h
  Source/JavaScriptCore/jit/JITOperations.cpp
  Source/JavaScriptCore/jit/JITOperations.h
  Source/JavaScriptCore/jit/JITPropertyAccess.cpp
  Source/JavaScriptCore/llint/LLIntSlowPaths.cpp
  Source/JavaScriptCore/llint/LLIntSlowPaths.h
  Source/JavaScriptCore/llint/LowLevelInterpreter.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter64.asm
  Source/JavaScriptCore/runtime/CommonSlowPaths.cpp
  Source/JavaScriptCore/runtime/CommonSlowPaths.h
  Source/JavaScriptCore/runtime/CommonSlowPathsInlines.h
  Source/JavaScriptCore/runtime/OptionsList.h
Owners: @WebKit/jsc-reviewers

refactor5
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
Owners: @WebKit/jsc-reviewers

refactor2
  Source/JavaScriptCore/bytecode/Opcode.h
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter64.asm
  Source/JavaScriptCore/runtime/CommonSlowPaths.cpp
  Source/JavaScriptCore/runtime/CommonSlowPathsInlines.h
Owners: @WebKit/jsc-reviewers

refactor3
  Source/JavaScriptCore/jit/JITOperations.cpp
Owners: @WebKit/jsc-reviewers

[WinCairo] Unreviewed test gardening https://bugs.webkit.org/show_bug.cgi?id=240439
  LayoutTests/platform/wincairo-wk1/TestExpectations
  LayoutTests/platform/wincairo/TestExpectations
  LayoutTests/platform/wincairo/css1/box_properties/width-expected.txt
  LayoutTests/platform/wincairo/css1/formatting_model/replaced_elements-expected.txt
  LayoutTests/platform/wincairo/css1/text_properties/vertical_align-expected.txt
  LayoutTests/platform/wincairo/css2.1/t090501-c414-flt-03-b-g-expected.txt
Owners: none

Clean up AccessibilitySupportSPI.h https://bugs.webkit.org/show_bug.cgi?id=241995
  Source/WebCore/PAL/pal/spi/cocoa/AccessibilitySupportSPI.h
  Source/WebKit/Platform/spi/Cocoa/AccessibilitySupportSPI.h
  Tools/Scripts/webkitpy/style/checkers/cpp.py
Owners: @JonWBedard

[Cocoa] Add SPI for implementing accessibility bold https://bugs.webkit.org/show_bug.cgi?id=242021
  Source/WebCore/PAL/pal/spi/cf/CoreTextSPI.h
  Source/WebCore/PAL/pal/spi/cocoa/AccessibilitySupportSPI.h
  Source/WebKit/Platform/spi/Cocoa/AccessibilitySupportSPI.h
Owners: none

Support WebGL's base_vertex_base_instance draft extensions https://bugs.webkit.org/show_bug.cgi?id=219140
  LayoutTests/TestExpectations
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WebCore/CMakeLists.txt
  Source/WebCore/DerivedSources-input.xcfilelist
  Source/WebCore/DerivedSources-output.xcfilelist
  Source/WebCore/DerivedSources.make
  Source/WebCore/Sources.txt
  Source/WebCore/bindings/js/JSDOMConvertWebGL.cpp
  Source/WebCore/html/canvas/WebGL2RenderingContext.cpp
  Source/WebCore/html/canvas/WebGLDrawInstancedBaseVertexBaseInstance.cpp
  Source/WebCore/html/canvas/WebGLDrawInstancedBaseVertexBaseInstance.h
  Source/WebCore/html/canvas/WebGLDrawInstancedBaseVertexBaseInstance.idl
  Source/WebCore/html/canvas/WebGLExtension.h
  Source/WebCore/html/canvas/WebGLMultiDrawInstancedBaseVertexBaseInstance.cpp
  Source/WebCore/html/canvas/WebGLMultiDrawInstancedBaseVertexBaseInstance.h
  Source/WebCore/html/canvas/WebGLMultiDrawInstancedBaseVertexBaseInstance.idl
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
  Source/WebCore/platform/graphics/GraphicsContextGL.h
  Source/WebCore/platform/graphics/GraphicsTypesGL.h
  Source/WebCore/platform/graphics/angle/GraphicsContextGLANGLE.cpp
  Source/WebCore/platform/graphics/angle/GraphicsContextGLANGLE.h
  Source/WebCore/platform/graphics/opengl/GraphicsContextGLOpenGL.cpp
  Source/WebCore/platform/graphics/opengl/GraphicsContextGLOpenGL.h
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGL.cpp
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGL.h
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGL.messages.in
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGLFunctionsGenerated.h
  Source/WebKit/Platform/IPC/ArgumentCoders.h
  Source/WebKit/Platform/IPC/ArrayReferenceTuple.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxyFunctionsGenerated.cpp
  Tools/Scripts/generate-gpup-webgl
Owners: @JonWBedard

[media-controls] allow for ::before and ::after augmentation of the container https://bugs.webkit.org/show_bug.cgi?id=241972
  Source/WebCore/Modules/modern-media-controls/controls/media-controls.css
Owners: @dcrousso

[media-controls] add a plain variant of the overflow icon https://bugs.webkit.org/show_bug.cgi?id=241965
  Source/WebCore/Modules/modern-media-controls/controls/icon-service.js
  Source/WebCore/Modules/modern-media-controls/images/iOS/Ellipsis.svg
  Source/WebCore/Modules/modern-media-controls/images/macOS/Ellipsis.svg
Owners: @dcrousso

[WPE] Disable FTP directory support by default https://bugs.webkit.org/show_bug.cgi?id=241094
  Source/cmake/OptionsWPE.cmake
Owners: none

[GLib] Fix build without ContentExtensions https://bugs.webkit.org/show_bug.cgi?id=240719
  Source/WebKit/UIProcess/API/glib/WebKitUserContent.cpp
  Source/WebKit/UIProcess/API/glib/WebKitUserContentFilterStore.cpp
  Source/WebKit/UIProcess/API/glib/WebKitUserContentManager.cpp
Owners: none

[GStreamer][WebRTC] Implement data-channel id retrieval https://bugs.webkit.org/show_bug.cgi?id=242025
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerDataChannelHandler.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerDataChannelHandler.h
Owners: @calvaris, @philn

[Flatpak SDK] Bump to GStreamer 1.20.3 https://bugs.webkit.org/show_bug.cgi?id=242024
  Tools/buildstream/elements/sdk-platform.bst
  Tools/buildstream/elements/sdk/gst-libav.bst
  Tools/buildstream/elements/sdk/gst-plugins-bad.bst
  Tools/buildstream/elements/sdk/gst-plugins-base.bst
  Tools/buildstream/elements/sdk/gst-plugins-good.bst
  Tools/buildstream/elements/sdk/gst-plugins-ugly.bst
  Tools/buildstream/elements/sdk/gstreamer.bst
  Tools/buildstream/elements/sdk/libsecret.bst
Owners: @JonWBedard

[media-controls] remove the RangeControl class and all of its usage https://bugs.webkit.org/show_bug.cgi?id=241976
  Source/WebCore/CMakeLists.txt
  Source/WebCore/DerivedSources-input.xcfilelist
  Source/WebCore/DerivedSources.make
  Source/WebCore/Modules/modern-media-controls/controls/brightness-button.js
  Source/WebCore/Modules/modern-media-controls/controls/icon-service.js
  Source/WebCore/Modules/modern-media-controls/controls/media-controls.js
  Source/WebCore/Modules/modern-media-controls/controls/range-button.css
  Source/WebCore/Modules/modern-media-controls/controls/range-button.js
  Source/WebCore/Modules/modern-media-controls/controls/volume-button.js
  Source/WebCore/Modules/modern-media-controls/images/adwaita/Brightness.svg
  Source/WebCore/Modules/modern-media-controls/images/iOS/Brightness.svg
  Source/WebCore/Modules/modern-media-controls/images/macOS/Brightness.svg
  Source/WebCore/Modules/modern-media-controls/js-files
  Source/WebCore/Modules/modern-media-controls/media/brightness-support.js
  Source/WebCore/Modules/modern-media-controls/media/media-controller.js
  Source/WebCore/Modules/modern-media-controls/media/mute-and-volume-support.js
  Source/WebCore/PlatformGLib.cmake
Owners: @dcrousso

Block unused syscall https://bugs.webkit.org/show_bug.cgi?id=242011
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
Owners: none

Pass structure to GenerateConditions functor to avoid duplication. https://bugs.webkit.org/show_bug.cgi?id=241930
  Source/JavaScriptCore/bytecode/ObjectPropertyConditionSet.cpp
Owners: @WebKit/jsc-reviewers

[media-controls] Allow for Slider subclasses https://bugs.webkit.org/show_bug.cgi?id=241973
  LayoutTests/media/modern-media-controls/resources/media-controls-loader.js
  LayoutTests/media/modern-media-controls/slider/slider-constructor-expected.txt
  LayoutTests/media/modern-media-controls/slider/slider-constructor.html
  Source/WebCore/CMakeLists.txt
  Source/WebCore/DerivedSources-input.xcfilelist
  Source/WebCore/DerivedSources.make
  Source/WebCore/Modules/modern-media-controls/controls/slider-base.css
  Source/WebCore/Modules/modern-media-controls/controls/slider-base.js
  Source/WebCore/Modules/modern-media-controls/controls/slider.css
  Source/WebCore/Modules/modern-media-controls/controls/slider.js
  Source/WebCore/Modules/modern-media-controls/js-files
Owners: @dcrousso

Find top privately controlled domain in the UI process https://bugs.webkit.org/show_bug.cgi?id=238216 <rdar://89108256>
  Source/WebCore/platform/PublicSuffix.h
  Source/WebCore/platform/mac/PublicSuffixMac.mm
  Source/WebCore/platform/network/curl/PublicSuffixCurl.cpp
  Source/WebCore/platform/soup/PublicSuffixSoup.cpp
  Source/WebKit/Shared/LoadParameters.cpp
  Source/WebKit/Shared/LoadParameters.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Owners: none

[Cocoa] Temporarily disable accessibility bold tests while it's being reimplemented https://bugs.webkit.org/show_bug.cgi?id=242023
  LayoutTests/TestExpectations
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/win/TestExpectations
  Source/WebCore/platform/graphics/FontCache.h
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/cocoa/SystemFontDatabaseCoreText.cpp
  Source/WebCore/rendering/RenderTheme.h
  Source/WebCore/rendering/RenderThemeIOS.h
  Source/WebCore/testing/InternalSettings.cpp
  Source/WebCore/testing/InternalSettings.h
Owners: none

Web Inspector: Update CSSDocumentation.js with upstream data. June 2022 https://bugs.webkit.org/show_bug.cgi?id=242026
  Source/WebInspectorUI/UserInterface/External/CSSDocumentation/CSSDocumentation.js
Owners: @dcrousso, @patrickangle

[ews-build.webkit.org] Remove Commit-Queue bot setup https://bugs.webkit.org/show_bug.cgi?id=242029 <rdar://93108418>
  Tools/EWSTools/configure-git-svn.sh
  Tools/EWSTools/configure-git-user.sh
  Tools/EWSTools/configure-svn-auth.sh
  Tools/EWSTools/configure-svn-config.sh
  Tools/EWSTools/setup-commit-queue.sh
Owners: @JonWBedard

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

[Gardening]: New test landed failing: [ macOS ] TestWebKitAPI.WebKit2.ConnectedToHardwareConsole is a consistent failure https://bugs.webkit.org/show_bug.cgi?id=241984 <rdar://95878755>
  Tools/TestWebKitAPI/Tests/WebKit/GetUserMedia.mm
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

webpushd should protect incoming pushes with an os_transaction https://bugs.webkit.org/show_bug.cgi?id=241740
  Source/WebKit/webpushd/PushService.mm
  Source/WebKit/webpushd/WebPushDaemon.h
  Source/WebKit/webpushd/WebPushDaemon.mm
  Source/WebKit/webpushd/WebPushDaemonMain.mm
Owners: none

[WebAuthn] Fix swapped page / frame ids https://bugs.webkit.org/show_bug.cgi?id=242030 rdar://95987244
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/WebAuthenticatorCoordinatorProxy.mm
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Cherry-pick 612c245823a5. rdar://problem/83326477
  Source/JavaScriptCore/wasm/WasmModuleInformation.h
  Source/JavaScriptCore/wasm/WasmSectionParser.cpp
  Source/JavaScriptCore/wasm/WasmSectionParser.h
  Source/JavaScriptCore/wasm/WasmSections.h
  Source/JavaScriptCore/wasm/WasmStreamingParser.cpp
Owners: @WebKit/jsc-reviewers

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle
