Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

Revert "Cherry-pick f06787f3c33a. rdar://problem/102970285"
  Source/WebKit/WebProcess/GPU/media/cocoa/VideoLayerRemoteCocoa.mm
Owners: @cdumez

Revert "Apply patch. rdar://problem/106142457"
  Source/WebCore/platform/mediastream/mac/AVVideoCaptureSource.h
  Source/WebCore/platform/mediastream/mac/AVVideoCaptureSource.mm
Owners: none

Cherry-pick 2c49ff7b0481. rdar://problem/107369977
  Source/JavaScriptCore/heap/Heap.cpp
  Source/JavaScriptCore/heap/Heap.h
  Source/JavaScriptCore/heap/HeapInlines.h
  Source/JavaScriptCore/runtime/ArgList.cpp
  Source/JavaScriptCore/runtime/ArgList.h
  Source/WebCore/Modules/webaudio/AudioWorkletProcessor.cpp
  Source/WebCore/Modules/webaudio/AudioWorkletProcessor.h
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
Owners: @WebKit/jsc-reviewers, @cdumez

Deprecate WKContextSetCustomWebContentServiceBundleIdentifier https://bugs.webkit.org/show_bug.cgi?id=254699
  Source/WebKit/UIProcess/API/APIProcessPoolConfiguration.cpp
  Source/WebKit/UIProcess/API/APIProcessPoolConfiguration.h
  Source/WebKit/UIProcess/API/C/WKContext.cpp
  Source/WebKit/UIProcess/API/C/WKContext.h
  Source/WebKit/UIProcess/API/Cocoa/_WKProcessPoolConfiguration.h
  Source/WebKit/UIProcess/API/Cocoa/_WKProcessPoolConfiguration.mm
  Source/WebKit/UIProcess/Launcher/ProcessLauncher.h
  Source/WebKit/UIProcess/Launcher/cocoa/ProcessLauncherCocoa.mm
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessPool.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKProcessPoolConfiguration.mm
Owners: @cdumez

Share more code between local and remote postMessage https://bugs.webkit.org/show_bug.cgi?id=254773
  Source/WebCore/CMakeLists.txt
  Source/WebCore/DerivedSources-input.xcfilelist
  Source/WebCore/DerivedSources-output.xcfilelist
  Source/WebCore/DerivedSources.make
  Source/WebCore/Headers.cmake
  Source/WebCore/Sources.txt
  Source/WebCore/page/DOMWindow.cpp
  Source/WebCore/page/DOMWindow.idl
  Source/WebCore/page/LocalDOMWindow.cpp
  Source/WebCore/page/LocalDOMWindow.h
  Source/WebCore/page/LocalDOMWindow.idl
  Source/WebCore/page/RemoteDOMWindow.cpp
  Source/WebCore/page/RemoteDOMWindow.h
  Source/WebCore/page/RemoteDOMWindow.idl
  Source/WebCore/page/WindowPostMessageOptions.h
  Source/WebCore/page/WindowPostMessageOptions.idl
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
Owners: @cdumez

[macOS] TestWebKitAPI.WebKit.MediaBufferingPolicy is a constant failure https://bugs.webkit.org/show_bug.cgi?id=253658 rdar://problem/106508946
  Tools/TestWebKitAPI/Tests/WebKitCocoa/MediaBufferingPolicy.mm
Owners: none

[UI-side compositing] History swipes can fail if you swipe over an element with a wheel event handler https://bugs.webkit.org/show_bug.cgi?id=254837 rdar://107481980
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingTreeMac.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteScrollingCoordinator.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteScrollingCoordinator.mm
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
Owners: @cdumez

[popover] Implement "check and possibly close popover stack" algorithm https://bugs.webkit.org/show_bug.cgi?id=254382
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-target-element-disabled-expected.txt
  Source/WebCore/html/HTMLElement.cpp
  Source/WebCore/html/HTMLElement.h
  Source/WebCore/html/HTMLFormControlElement.cpp
  Source/WebCore/html/HTMLFormControlElement.h
  Source/WebCore/html/HTMLInputElement.cpp
Owners: @cdumez, @rniwa

REGRESSION (261705@main): [ iOS, macOS ] fast/text/web-font-load-invisible-during-loading.html is a flaky text failure. https://bugs.webkit.org/show_bug.cgi?id=254637 rdar://107373558
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Owners: none

Potential use-after-free in WebAnimation::commitStyles https://bugs.webkit.org/show_bug.cgi?id=254840 rdar://107444873
  Source/WebCore/animation/WebAnimation.cpp
Owners: @graouts

Cherry-pick 256843.9@webkit-2022.12-embargoed (4c3dcd480f7e). rdar://107475307
  LayoutTests/fast/css/content/content-on-focus-change-expected.txt
  LayoutTests/fast/css/content/content-on-focus-change.html
Owners: none

Cherry-pick 259548.51@safari-7615-branch (44f75343da9e). rdar://107475121
  LayoutTests/fast/css/display-contents-slot-to-none-expected.txt
  LayoutTests/fast/css/display-contents-slot-to-none.html
  Source/WebCore/style/StyleTreeResolver.cpp
Owners: none

Cherry-pick 259548.47@safari-7615-branch (0f2c12121b0a). rdar://107474791
  JSTests/stress/arguments-elimination-should-happen-only-when-stack-slot-is-available-at-replacement-site.js
  Source/JavaScriptCore/dfg/DFGArgumentsEliminationPhase.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 256843.7@webkit-2022.12-embargoed (3b92d70ba3ea). rdar://107475202
  LayoutTests/fast/multicol/nested-columns-out-of-flow-crash-expected.txt
  LayoutTests/fast/multicol/nested-columns-out-of-flow-crash.html
  Source/WebCore/rendering/RenderObject.cpp
  Source/WebCore/rendering/RenderObject.h
Owners: none

Cherry-pick 256843.8@webkit-2022.12-embargoed (fe2f16c1dabe). rdar://107475239
  LayoutTests/fast/layers/normal-flow-dialog-remove-layer-crash-expected.html
  LayoutTests/fast/layers/normal-flow-dialog-remove-layer-crash.html
  Source/WebCore/rendering/RenderLayer.cpp
Owners: none

Cherry-pick 252432.1045@safari-7614-branch (77446d5c727e). rdar://107473787
  Source/JavaScriptCore/API/JSCallbackConstructor.h
  Source/JavaScriptCore/API/JSCallbackFunction.h
  Source/JavaScriptCore/API/JSClassRef.h
  Source/JavaScriptCore/API/JSWeakObjectMapRefInternal.h
  Source/JavaScriptCore/API/ObjCCallbackFunction.h
  Source/JavaScriptCore/runtime/ClassInfo.h
  Source/JavaScriptCore/runtime/Lookup.h
Owners: @WebKit/jsc-reviewers

Cherry-pick 259548.39@safari-7615-branch (c68b7da0d9b4). rdar://107474520
  Source/JavaScriptCore/API/JSScript.mm
  Source/JavaScriptCore/API/JSScriptRef.cpp
  Source/JavaScriptCore/inspector/ScriptCallFrame.cpp
  Source/JavaScriptCore/inspector/ScriptCallFrame.h
  Source/JavaScriptCore/inspector/ScriptCallStackFactory.cpp
  Source/JavaScriptCore/interpreter/StackVisitor.cpp
  Source/JavaScriptCore/interpreter/StackVisitor.h
  Source/JavaScriptCore/parser/SourceProvider.cpp
  Source/JavaScriptCore/parser/SourceProvider.h
  Source/JavaScriptCore/runtime/CachedTypes.cpp
  Source/JavaScriptCore/runtime/ScriptExecutable.h
  Source/WebCore/bindings/js/CachedScriptSourceProvider.h
  Source/WebCore/bindings/js/ScriptBufferSourceProvider.h
  Source/WebCore/bindings/js/ScriptModuleLoader.cpp
  Source/WebCore/bindings/js/ScriptSourceCode.h
  Source/WebCore/page/csp/ContentSecurityPolicy.cpp
  Source/WebCore/workers/WorkerGlobalScope.cpp
  Source/WebCore/workers/WorkerThread.cpp
Owners: @WebKit/jsc-reviewers, @patrickangle, @cdumez

Cherry-pick 259548.40@safari-7615-branch (bf2c7c5b03b0). rdar://107474555
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/out-of-flow/all-mathml-containers-expected.txt
  LayoutTests/mathml/mathmltoken-layout-crash-expected.txt
  LayoutTests/mathml/mathmltoken-layout-crash.html
  Source/WebCore/rendering/mathml/RenderMathMLToken.cpp
Owners: none

Cherry-pick 259548.45@safari-7615-branch (9930b53ebce1). rdar://107474607
  Source/JavaScriptCore/yarr/YarrJIT.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 259548.46@safari-7615-branch (a00a15e7abe0). rdar://107474676
  Source/WTF/wtf/PlatformUse.h
  Source/WebCore/page/MemoryRelease.cpp
  Source/WebCore/platform/audio/HRTFElevation.cpp
  Source/WebCore/platform/audio/HRTFElevation.h
Owners: @cdumez

Revert "Apply patch. rdar://problem/106142457" Revert "Apply patch. rdar://problem/106142457"
  Source/WebCore/platform/mediastream/mac/AVVideoCaptureSource.h
  Source/WebCore/platform/mediastream/mac/AVVideoCaptureSource.mm
Owners: none

[UI-side compositing] Several layout tests fail with pixel tolerances https://bugs.webkit.org/show_bug.cgi?id=254836 rdar://107460054
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/border-radius-clip-001.html
  LayoutTests/svg/compositing/outermost-svg-with-border-padding.html
Owners: none

Cherry-pick a0366a917abe. rdar://problem/106142457
  Source/WebCore/platform/mediastream/mac/AVVideoCaptureSource.mm
Owners: none

[iOS] Rakuten cellular data activation portal is sometimes clipped when presented in a web sheet https://bugs.webkit.org/show_bug.cgi?id=254846 rdar://107301827
  Source/WebKit/UIProcess/ios/WebPageProxyIOS.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ProcessSwapOnNavigation.mm
Owners: @cdumez

Cherry-pick b59d14452d4b. rdar://problem/107490241
  Source/WebKit/UIProcess/ios/WebPageProxyIOS.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ProcessSwapOnNavigation.mm
Owners: @cdumez

Skip check for superclasses when decoding _WKRemoteObjectRegistry classes on macOS https://bugs.webkit.org/show_bug.cgi?id=254818
  Source/WebKit/Shared/API/Cocoa/WKRemoteObjectCoder.mm
  Source/WebKit/Shared/API/Cocoa/_WKRemoteObjectRegistry.mm
Owners: none

image/jxl isn't added to the Accept: header when USE(JPEGXL) is enabled https://bugs.webkit.org/show_bug.cgi?id=254780 rdar://107446115
  Source/WebCore/loader/cache/CachedResourceRequest.cpp
Owners: @cdumez

Apply patch. rdar://problem/107487307
  Source/JavaScriptCore/heap/Heap.cpp
  Source/JavaScriptCore/heap/Heap.h
  Source/JavaScriptCore/heap/HeapInlines.h
  Source/JavaScriptCore/runtime/ArgList.cpp
  Source/JavaScriptCore/runtime/ArgList.h
  Source/WebCore/Modules/webaudio/AudioWorkletProcessor.cpp
  Source/WebCore/Modules/webaudio/AudioWorkletProcessor.h
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
Owners: @WebKit/jsc-reviewers, @cdumez

Bug 254830 - AX: remove shouldIgnoreGroup checks https://bugs.webkit.org/show_bug.cgi?id=254830 rdar://107478003
  LayoutTests/accessibility/mac/ignore-redundant-accessibility-text-groups-expected.txt
  LayoutTests/accessibility/mac/ignore-redundant-accessibility-text-groups.html
  Source/WebCore/accessibility/mac/AccessibilityObjectMac.mm
Owners: none

Remove _webkit_fixedCarbonPOSIXPath https://bugs.webkit.org/show_bug.cgi?id=252818
  Source/WebKitLegacy/mac/Misc/WebKitNSStringExtras.mm
  Source/WebKitLegacy/mac/WebKit.order
Owners: none

Enable v3 sandbox telemetry https://bugs.webkit.org/show_bug.cgi?id=254851 rdar://107494723
  Source/WebKit/Shared/Sandbox/common.sb
Owners: @brentfulgham, @pvollan

Versioning.
  Configurations/Version.xcconfig
Owners: none

[Wasm-GC] Implement basic support in tables for GC types https://bugs.webkit.org/show_bug.cgi?id=251041
  JSTests/wasm/function-references/table.js
  JSTests/wasm/gc-spec-harness.js
  JSTests/wasm/gc-spec-tests/ref_cast.wast.js
  JSTests/wasm/gc/arrays.js
  JSTests/wasm/gc/i31.js
  JSTests/wasm/gc/structs.js
  JSTests/wasm/js-api/table.js
  Source/JavaScriptCore/wasm/WasmFormat.h
  Source/JavaScriptCore/wasm/WasmOperationsInlines.h
  Source/JavaScriptCore/wasm/WasmSectionParser.cpp
  Source/JavaScriptCore/wasm/WasmSlowPaths.cpp
  Source/JavaScriptCore/wasm/WasmTable.cpp
  Source/JavaScriptCore/wasm/WasmTable.h
  Source/JavaScriptCore/wasm/WasmTypeDefinition.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.h
  Source/JavaScriptCore/wasm/js/WebAssemblyModuleRecord.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyTableConstructor.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyTablePrototype.cpp
Owners: @WebKit/jsc-reviewers

Fix !ENABLE(ASYNC_SCROLLING) build after 262439@main https://bugs.webkit.org/show_bug.cgi?id=254850
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Owners: @cdumez

Fix !ENABLE(WEB_AUDIO) build after 262451@main https://bugs.webkit.org/show_bug.cgi?id=254852
  Source/WebCore/page/MemoryRelease.cpp
Owners: @cdumez

[Win] WebInspector: enable "inspector-resource:" scheme for remote inspector https://bugs.webkit.org/show_bug.cgi?id=254803
  Source/WebKit/UIProcess/Inspector/win/RemoteWebInspectorUIProxyWin.cpp
Owners: @cdumez

Can't activate feature with all caps tag via font-feature-settings https://bugs.webkit.org/show_bug.cgi?id=254146 rdar://106966601
  LayoutTests/fast/text/font-feature-settings-case-sensitive-expected.html
  LayoutTests/fast/text/font-feature-settings-case-sensitive.html
  LayoutTests/fast/text/resources/Ahem-feature-x-left-spacing.otf
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-feature-settings-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-feature-settings-valid-expected.txt
  Source/WebCore/css/parser/CSSPropertyParserWorkerSafe.cpp
Owners: none

unicode-range may cause us to use Times's font metrics erroneously https://bugs.webkit.org/show_bug.cgi?id=244757
  LayoutTests/http/tests/text/primary-font-interstitial-expected.html
  LayoutTests/http/tests/text/primary-font-interstitial.html
  LayoutTests/http/tests/text/resources/Gulf-regular.ttf
  Source/WebCore/platform/graphics/FontCascadeFonts.h
  Source/WebCore/platform/graphics/FontRanges.h
Owners: none

Add a fast abort path for StringImpl's equalInternal() https://bugs.webkit.org/show_bug.cgi?id=254766
  Source/WTF/wtf/text/StringImpl.cpp
Owners: none

Keyboard scrolling in WebKit with Page Up / Down is no longer smooth https://bugs.webkit.org/show_bug.cgi?id=254624 rdar://107214002
  Source/WebCore/editing/EditorCommand.cpp
  Source/WebCore/page/EventHandler.h
  Source/WebKit/WebProcess/WebPage/mac/WebPageMac.mm
Owners: @rniwa, @cdumez
