Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

[GTK] Bump GTK 4 API version to -6.0 https://bugs.webkit.org/show_bug.cgi?id=245296
  Source/cmake/OptionsGTK.cmake
Owners: @WebKit/glib-reviewers

[CMake] All post-commit buildbots should build with --no-fatal-warnings https://bugs.webkit.org/show_bug.cgi?id=246760
  Tools/CISupport/build-webkit-org/steps.py
  Tools/CISupport/build-webkit-org/steps_unittest.py
Owners: @aj062, @JonWBedard, @ryanhaddad

Add myself(pgorszkowski-igalia) to contributors.json https://bugs.webkit.org/show_bug.cgi?id=246953
  metadata/contributors.json
Owners: @JonWBedard

[build.webkit.org] BuildAndTestAllButJSCFactory must forward parameters correctly to BuildAndTestFactory https://bugs.webkit.org/show_bug.cgi?id=246957
  Tools/CISupport/build-webkit-org/factories.py
Owners: @aj062, @JonWBedard, @ryanhaddad

[WebCodecs] Flush before reconfiguring the encoder https://bugs.webkit.org/show_bug.cgi?id=246994 rdar://problem/101532393
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/reconfiguring-encoder.https.any_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/reconfiguring-encoder.https.any_h264_avc-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/reconfiguring-encoder.https.any_vp8-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/reconfiguring-encoder.https.any_vp9_p0-expected.txt
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.h
Owners: none

[WebCodecs] Implement pixel buffer conversion for video frames produced by libwebrtc VPX decoders https://bugs.webkit.org/show_bug.cgi?id=246998 rdar://problem/101534191
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-createImageBitmap.https.any-expected.txt
  Source/WebCore/platform/LibWebRTCVPXVideoDecoder.cpp
Owners: none

[GTK][WPE] Async Scrolling: Slow scrolling and CSS animations on a static page https://bugs.webkit.org/show_bug.cgi?id=221738
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeScrollingNodeDelegateNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeScrollingNodeDelegateNicosia.h
Owners: @magomez, @zdobersek

Cherry-pick 252432.595@safari-7614-branch (60a99963fd45). rdar://101205947
  Source/WebCore/rendering/RenderImage.cpp
Owners: none

[CMake] Turn on fatal warnings for developer mode https://bugs.webkit.org/show_bug.cgi?id=245312
  Source/cmake/WebKitCompilerFlags.cmake
Owners: @mcatanzaro

[WebCodecs] schedule dequeue event when encoder queue size decreases https://bugs.webkit.org/show_bug.cgi?id=247000 rdar://problem/101539115
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-encoder.https.any-expected.txt
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.cpp
Owners: none

[WebCodecs] Set VPx decoder frame type based on given parameter https://bugs.webkit.org/show_bug.cgi?id=247002 rdar://problem/101540061
  Source/WebCore/platform/LibWebRTCVPXVideoDecoder.cpp
Owners: none

Make programmatic scrolls work with macOS UI-side compositing https://bugs.webkit.org/show_bug.cgi?id=246990 rdar://101529255
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingCoordinatorProxyMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingCoordinatorProxyMac.mm
Owners: @cdumez

Cherry-pick 255527@main (f6f2c95eb900). rdar://95570441
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/Element.h
  Source/WebCore/rendering/updating/RenderTreeUpdater.cpp
Owners: @rniwa, @cdumez

AX: Improve Ref / RefPtr hygiene in WebAccessibilityObjectWrapperMac https://bugs.webkit.org/show_bug.cgi?id=246979 rdar://100895546
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperBase.mm
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperMac.mm
Owners: none

WebFoundTextRangeController.cpp fails to build with non-unified builds https://bugs.webkit.org/show_bug.cgi?id=247011
  Source/WebKit/WebProcess/WebPage/WebFoundTextRangeController.cpp
Owners: @cdumez

Creating a shared worker connection should retry without providing a specific webprocess https://bugs.webkit.org/show_bug.cgi?id=246999 rdar://101506812
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServer.cpp
Owners: @cdumez

macOS Ventura Open Source Bringup https://bugs.webkit.org/show_bug.cgi?id=246956
  Tools/CISupport/build-webkit-org/config.json
  Tools/CISupport/build-webkit-org/factories_unittest.py
  Tools/CISupport/build-webkit-org/public_html/dashboard/Scripts/Dashboard.js
  Tools/CISupport/build-webkit-org/public_html/dashboard/Scripts/WebKitBuildbot.js
  Tools/CISupport/build-webkit-org/public_html/dashboard/Styles/Main.css
  Tools/CISupport/build-webkit-org/wkbuild.py
Owners: @aj062, @JonWBedard, @ryanhaddad

Prepare DisplayLink to support UI-side compositing https://bugs.webkit.org/show_bug.cgi?id=246694 rdar://101296426
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebProcessPool.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/UIProcess/mac/DisplayLink.cpp
  Source/WebKit/UIProcess/mac/DisplayLink.h
  Source/WebKit/UIProcess/mac/DisplayLinkProcessProxyClient.cpp
  Source/WebKit/UIProcess/mac/DisplayLinkProcessProxyClient.h
  Source/WebKit/UIProcess/mac/WebProcessProxyMac.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDisplayRefreshMonitor.mm
Owners: @cdumez

Implement css property contain-intrinsic-size https://bugs.webkit.org/show_bug.cgi?id=238867
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/auto-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/auto-004-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/auto-005-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/contain-intrinsic-size-009-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/contain-intrinsic-size-029-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/contain-intrinsic-size-030-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/contain-intrinsic-size-031-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/contain-intrinsic-size-032-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/contain-intrinsic-size-logical-003-expected.txt
  Source/WebCore/rendering/GridTrackSizingAlgorithm.cpp
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderBlockFlow.cpp
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderBox.h
  Source/WebCore/rendering/RenderDeprecatedFlexibleBox.cpp
  Source/WebCore/rendering/RenderFileUploadControl.cpp
  Source/WebCore/rendering/RenderFlexibleBox.cpp
  Source/WebCore/rendering/RenderGrid.cpp
  Source/WebCore/rendering/RenderGrid.h
  Source/WebCore/rendering/RenderListBox.cpp
  Source/WebCore/rendering/RenderMenuList.cpp
  Source/WebCore/rendering/RenderReplaced.cpp
  Source/WebCore/rendering/RenderReplaced.h
  Source/WebCore/rendering/RenderSlider.cpp
  Source/WebCore/rendering/RenderTextControl.cpp
  Source/WebCore/rendering/RenderVideo.cpp
  Source/WebCore/rendering/style/RenderStyle.cpp
Owners: none

Unreviewed GCC warning fixes https://bugs.webkit.org/show_bug.cgi?id=247014
  Source/JavaScriptCore/jit/SIMDInfo.h
  Source/JavaScriptCore/wasm/WasmTypeDefinition.h
  Source/WebCore/accessibility/AccessibilityProgressIndicator.cpp
  Tools/wpe/backends/fdo/WindowViewBackend.cpp
Owners: @WebKit/jsc-reviewers, @WebKit/glib-reviewers, @zdobersek

macOS Ventura Open Source Bringup follow-up https://bugs.webkit.org/show_bug.cgi?id=246956
  Tools/CISupport/build-webkit-org/public_html/dashboard/Styles/Main.css
Owners: @aj062, @JonWBedard, @ryanhaddad

Update fuzziness in fast/ for accelerated drawing https://bugs.webkit.org/show_bug.cgi?id=246837 rdar://101449704
  LayoutTests/fast/backgrounds/background-opaque-clipped-gradients.html
  LayoutTests/fast/backgrounds/generated-bck-image-with-small-relative-size.html
  LayoutTests/fast/backgrounds/hidpi-background-image-contain-cover-scale-needs-more-precision.html
  LayoutTests/fast/backgrounds/scaled-gradient-background.html
  LayoutTests/fast/borders/border-image-fill-inline-no-border.html
  LayoutTests/fast/borders/border-image-repeat-stretch.html
  LayoutTests/fast/borders/border-painting-correctness-dashed.html
  LayoutTests/fast/borders/border-painting-correctness-dotted.html
  LayoutTests/fast/borders/hidpi-double-border-with-border-radius-always-produce-solid-line.html
  LayoutTests/fast/borders/outline-border-radius-simple.html
  LayoutTests/fast/box-shadow/box-shadow-with-zero-radius.html
  LayoutTests/fast/box-shadow/inset-box-shadow.html
  LayoutTests/fast/css/text-decorations-on-first-line-and-containing-block.html
  LayoutTests/fast/filter-image/clipped-filter.html
  LayoutTests/fast/forms/date/date-editable-components/date-editable-components-placeholder-color.html
  LayoutTests/fast/gradients/conic-center-outside-box.html
  LayoutTests/fast/gradients/radial-two-hints.html
  LayoutTests/fast/images/async-image-background-image-repeated.html
  LayoutTests/fast/images/exif-orientation-background-image-repeat.html
  LayoutTests/fast/images/hidpi-image-position-on-device-pixels-with-border-radius.html
  LayoutTests/fast/images/image-map-outline-with-paint-root-offset.html
  LayoutTests/fast/images/sprite-sheet-image-draw.html
  LayoutTests/fast/layers/parent-clipping-overflow-is-overwritten-by-child-clipping.html
  LayoutTests/fast/layers/wrong-clipping-semi-transparent-compositing-layer-on-subpixel-position.html
  LayoutTests/fast/multicol/simple-line-layout-line-index-after-strut.html
  LayoutTests/fast/repaint/gradients-em-stops-repaint.html
  LayoutTests/fast/table/table-border-radius.html
  LayoutTests/fast/text/empty-shadow.html
  LayoutTests/fast/text/frequent-text.html
  LayoutTests/fast/text/initial-advance-selected-text.html
  LayoutTests/fast/transforms/skew-x-135deg-with-gradient.html
  LayoutTests/fast/transforms/skew-y-135deg-with-gradient.html
Owners: none

Update fuzziness in compositing/ for accelerated drawing https://bugs.webkit.org/show_bug.cgi?id=246726 rdar://101317781
  LayoutTests/compositing/backgrounds/fixed-background-on-descendant.html
  LayoutTests/compositing/backgrounds/fixed-backgrounds.html
  LayoutTests/compositing/clipping/border-radius-async-overflow-non-stacking.html
  LayoutTests/compositing/clipping/border-radius-with-composited-descendant-nested.html
  LayoutTests/compositing/clipping/border-radius-with-composited-descendant.html
  LayoutTests/compositing/geometry/css-clip-oversize.html
  LayoutTests/compositing/geometry/scroller-with-clipping-and-foreground-layers.html
  LayoutTests/compositing/masks/compositing-clip-path-and-mask.html
  LayoutTests/compositing/patterns/direct-pattern-compositing-contain.html
  LayoutTests/compositing/patterns/direct-pattern-compositing-cover.html
  LayoutTests/compositing/patterns/direct-pattern-compositing-position.html
  LayoutTests/compositing/patterns/direct-pattern-compositing-size.html
  LayoutTests/platform/mac-wk1/TestExpectations
Owners: none

[JSC] Use stp in BaselineJIT op_enter https://bugs.webkit.org/show_bug.cgi?id=246996 rdar://101533122
  Source/JavaScriptCore/jit/JITOpcodes.cpp
Owners: @WebKit/jsc-reviewers

[EWS] Limit number of retries on trunk build failures https://bugs.webkit.org/show_bug.cgi?id=247019
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Owners: @aj062, @JonWBedard, @ryanhaddad

Update fuzziness in css3/ for accelerated drawing https://bugs.webkit.org/show_bug.cgi?id=246832 rdar://101408931
  LayoutTests/css3/background/background-repeat-space-border.html
  LayoutTests/css3/background/background-repeat-space-content.html
  LayoutTests/css3/background/background-repeat-space-padding.html
  LayoutTests/css3/blending/background-blend-mode-body-image.html
  LayoutTests/css3/blending/background-blend-mode-data-uri-svg-image.html
  LayoutTests/css3/color-filters/color-filter-color-text-decorations.html
  LayoutTests/css3/color-filters/color-filter-text-decoration-shadow.html
  LayoutTests/css3/masking/mask-base64.html
  LayoutTests/css3/masking/mask-luminance-gradient.html
  LayoutTests/css3/masking/mask-repeat-round-content.html
  LayoutTests/css3/masking/mask-repeat-space-border.html
  LayoutTests/css3/masking/mask-repeat-space-content.html
Owners: none

Update fuzziness in imported/ for accelerated drawing https://bugs.webkit.org/show_bug.cgi?id=246895 rdar://101450189
  LayoutTests/TestExpectations
  LayoutTests/imported/blink/compositing/will-change/stacking-context-creation.html
  LayoutTests/imported/blink/css3/blending/mix-blend-mode-with-squashing-layer.html
  LayoutTests/imported/mozilla/svg/linearGradient-basic-03.svg
  LayoutTests/imported/mozilla/svg/marker-orientation-01.svg
  LayoutTests/imported/mozilla/svg/opacity-and-gradient-02.svg
  LayoutTests/imported/mozilla/svg/rect-02.svg
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/background-repeat-space-6.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/background-size-025.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-012.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-014.html
Owners: none

[git-webkit] Identify all unpicked pickable commits https://bugs.webkit.org/show_bug.cgi?id=246542 rdar://97399813
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pickable.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/pickable_unittest.py
Owners: @facetothefate, @JonWBedard

Apply patch. rdar://problem/98151497
  LayoutTests/fast/backgrounds/background-shorthand-with-backgroundSize-style-expected.txt
  LayoutTests/fast/backgrounds/background-shorthand-with-backgroundSize-style.html
  LayoutTests/fast/backgrounds/size/parsing-background-size-values-expected.txt
  LayoutTests/fast/backgrounds/size/parsing-inherit-expected.txt
  LayoutTests/fast/backgrounds/size/resources/parsing-background-size-values.js
  LayoutTests/fast/backgrounds/size/resources/parsing-inherit.js
  LayoutTests/fast/css/getComputedStyle/computed-style-expected.txt
  LayoutTests/fast/css/getComputedStyle/computed-style-without-renderer-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/KeyframeEffect-getKeyframes.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/background-332-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/background-size-001.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/parsing/background-size-computed.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-detached-subtree-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/quirks/unitless-length/excluded-properties-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/quirks/unitless-length/excluded-properties-002.html
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-detached-subtree-expected.txt
  LayoutTests/platform/wpe/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/wpe/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-detached-subtree-expected.txt
  LayoutTests/svg/css/getComputedStyle-basic-expected.txt
  Source/WebCore/css/CSSComputedStyleDeclaration.cpp
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/StyleProperties.cpp
  Source/WebCore/css/parser/CSSPropertyParser.cpp
Owners: none

Cherry-pick 255979@main (13e85ed5ecae). rdar://97399813
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pickable.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/pickable_unittest.py
Owners: @facetothefate, @JonWBedard

[User name change] Update contributors.json https://bugs.webkit.org/show_bug.cgi?id=247013
  metadata/contributors.json
Owners: @JonWBedard

Versioning.
  Configurations/Version.xcconfig
Owners: none

[MSVC] Suppress warning C4805: 'operation' : unsafe mix of type 'type' and type 'type' in operation https://bugs.webkit.org/show_bug.cgi?id=247024
  Source/cmake/OptionsMSVC.cmake
Owners: none

[JSC] Clean up DFG WatchpointSets and remove WatchpointCollectionPhase https://bugs.webkit.org/show_bug.cgi?id=246993 rdar://101532282
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/Sources.txt
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGConstantFoldingPhase.cpp
  Source/JavaScriptCore/dfg/DFGDesiredWatchpoints.cpp
  Source/JavaScriptCore/dfg/DFGDesiredWatchpoints.h
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGGraph.cpp
  Source/JavaScriptCore/dfg/DFGGraph.h
  Source/JavaScriptCore/dfg/DFGPlan.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT32_64.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/dfg/DFGStrengthReductionPhase.cpp
  Source/JavaScriptCore/dfg/DFGWatchpointCollectionPhase.cpp
  Source/JavaScriptCore/dfg/DFGWatchpointCollectionPhase.h
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/interpreter/Interpreter.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter.asm
  Source/JavaScriptCore/llint/LowLevelInterpreter32_64.asm
  Source/JavaScriptCore/llint/LowLevelInterpreter64.asm
  Source/JavaScriptCore/runtime/CommonSlowPathsInlines.h
  Source/JavaScriptCore/runtime/InternalFunction.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.h
  Source/JavaScriptCore/runtime/RegExpPrototype.cpp
  Source/WebCore/bindings/scripts/CodeGeneratorJS.pm
  Source/WebCore/bindings/scripts/test/JS/JSTestEventTarget.h
Owners: @WebKit/jsc-reviewers, @cdumez

Adopt explicit notifications for automatic live resize snapshotting https://bugs.webkit.org/show_bug.cgi?id=246992 rdar://96692698
  Source/WTF/wtf/PlatformHave.h
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
Owners: @cdumez

[macOS Monterey and Big Sur] Enable AVIF image decoding using libavif and dav1d https://bugs.webkit.org/show_bug.cgi?id=246925 rdar://101481679
  LayoutTests/platform/mac/TestExpectations
  Source/WTF/wtf/PlatformUse.h
  Source/WebCore/Configurations/WebCore.xcconfig
  Source/WebCore/PAL/libavif/Configurations/libavif.xcconfig
  Source/WebCore/SourcesCocoa.txt
  Source/WebCore/platform/graphics/ImageDecoder.cpp
  Source/WebCore/platform/graphics/cg/ImageBackingStoreCG.cpp
  Source/WebCore/platform/graphics/cg/ImageDecoderCG.cpp
  Source/WebCore/platform/graphics/cg/ImageDecoderCG.h
  Source/WebCore/platform/graphics/cg/UTIRegistry.cpp
  Source/WebCore/platform/image-decoders/ScalableImageDecoder.cpp
  Source/WebCore/platform/image-decoders/avif/AVIFImageReader.cpp
Owners: none

Fix unused function warning in CSSPropertyParserHelpers.cpp https://bugs.webkit.org/show_bug.cgi?id=247025
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
Owners: none

Apply patch. rdar://problem/99778041
  LayoutTests/fast/css-grid-layout/grid-item-column-row-get-set-expected.txt
  LayoutTests/fast/css-grid-layout/grid-item-column-row-get-set.html
  LayoutTests/fast/css-grid-layout/grid-item-end-after-get-set-expected.txt
  LayoutTests/fast/css-grid-layout/grid-item-end-after-get-set.html
  LayoutTests/fast/css-grid-layout/grid-item-start-before-get-set-expected.txt
  LayoutTests/fast/css-grid-layout/grid-item-start-before-get-set.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/grid-layout-properties.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/parsing/grid-area-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/parsing/grid-area-computed.html
  Source/WebCore/css/CSSComputedStyleDeclaration.cpp
Owners: none

Remove references to CPReadingModel https://bugs.webkit.org/show_bug.cgi?id=247016 rdar://101550960
  Source/WebKit/WebProcess/Plugins/PDF/PDFLayerControllerSPI.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
Owners: @cdumez

Cherry-pick fc014916474a. rdar://problem/98486403
  LayoutTests/TestExpectations
  LayoutTests/webanimations/accelerated-web-animation-with-single-interval-and-easing-y-axis-above-1.html
  Source/WebCore/rendering/RenderElement.cpp
  Source/WebCore/rendering/RenderElement.h
  Source/WebCore/rendering/RenderFragmentedFlow.cpp
  Source/WebCore/rendering/RenderFragmentedFlow.h
Owners: none
