Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

Allow empty leaf inline level box https://bugs.webkit.org/show_bug.cgi?id=246633 rdar://99219313
  Source/WebCore/layout/integration/inline/InlineIteratorLineBox.cpp
Owners: none

[WPE] checkbox and radio button aren't painted because ThemeAdwaita::m_accentColor is the invalid color https://bugs.webkit.org/show_bug.cgi?id=246667
  Source/WebCore/platform/adwaita/ThemeAdwaita.cpp
  Source/WebCore/platform/adwaita/ThemeAdwaita.h
Owners: @WebKit/glib-reviewers

worker and other values are valid keyword for the 'as' property in link preload https://bugs.webkit.org/show_bug.cgi?id=245415 rdar://problem/100161255
  LayoutTests/http/tests/preload/download_resources-expected.txt
  LayoutTests/http/tests/preload/download_resources_from_header_iframe-expected.txt
  LayoutTests/http/tests/preload/onerror_event-expected.txt
  LayoutTests/http/wpt/preload/as-attribute-expected.txt
  LayoutTests/http/wpt/preload/as-attribute.html
  LayoutTests/imported/w3c/web-platform-tests/preload/onload-event-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/preload/preload-csp.sub-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/preload/preload-default-csp.sub-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/preload/single-download-preload-expected.txt
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/bindings/js/JSDOMConvertEnumeration.h
  Source/WebCore/bindings/scripts/CodeGeneratorJS.pm
  Source/WebCore/bindings/scripts/test/JS/JSTestCallbackInterface.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestCallbackInterface.h
  Source/WebCore/bindings/scripts/test/JS/JSTestDefaultToJSONEnum.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestDefaultToJSONEnum.h
  Source/WebCore/bindings/scripts/test/JS/JSTestObj.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestObj.h
  Source/WebCore/bindings/scripts/test/JS/JSTestStandaloneDictionary.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestStandaloneDictionary.h
  Source/WebCore/bindings/scripts/test/JS/JSTestStandaloneEnumeration.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestStandaloneEnumeration.h
  Source/WebCore/loader/LinkLoader.cpp
  Source/WebCore/loader/LinkLoader.h
Owners: @cdumez

More unified-build fixes https://bugs.webkit.org/show_bug.cgi?id=246684
  Source/WebCore/css/parser/CSSParserImpl.cpp
  Source/WebCore/page/FrameView.cpp
Owners: @cdumez

Merge 255668@main - [WPE] checkbox and radio button aren't painted because ThemeAdwaita::m_accentColor is the invalid color https://bugs.webkit.org/show_bug.cgi?id=246667
  Source/WebCore/platform/adwaita/ThemeAdwaita.cpp
  Source/WebCore/platform/adwaita/ThemeAdwaita.h
Owners: @WebKit/glib-reviewers

[WPE] Set cog's PKG_CONFIG_PATH via cmake https://bugs.webkit.org/show_bug.cgi?id=246680
  Tools/PlatformWPE.cmake
  Tools/flatpak/flatpakutils.py
Owners: @JonWBedard, @philn

Rebaseline fast/text/hyphenate-avoid-orphaned-word.html https://bugs.webkit.org/show_bug.cgi?id=245733
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/mac/fast/text/hyphenate-avoid-orphaned-word-expected.txt
Owners: none

[GStreamer][EME] Prevent race conditions when flushing https://bugs.webkit.org/show_bug.cgi?id=246682
  Source/WebCore/platform/graphics/gstreamer/eme/WebKitCommonEncryptionDecryptorGStreamer.cpp
Owners: @philn

[GLib] JPEG2000 produces warning about maybe uninitialized variable https://bugs.webkit.org/show_bug.cgi?id=246248
  Source/WebCore/platform/image-decoders/jpeg2000/JPEG2000ImageDecoder.cpp
Owners: none

[WPE] fast/events/touch/force-press-event.html is crashing
  LayoutTests/platform/wpe/TestExpectations
Owners: none

Resync css/css-typed-om WPT tests from upstream https://bugs.webkit.org/show_bug.cgi?id=246655
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/resources/import-expectations.json
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/idlharness-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/resources/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/rotate-by-added-angle-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/rotate-by-added-angle-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-normalization/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-objects/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-serialization/crashtests/cssTransform-Internal-value-expected.png
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-serialization/crashtests/cssTransform-Internal-value-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-serialization/crashtests/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-serialization/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/numeric-objects/resources/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/numeric-objects/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/computed/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/declared/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/inline/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/resources/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/text-transform.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/width-by-clamp-px-em-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/width-by-clamp-px-em-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/width-by-max-px-em-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/width-by-max-px-em-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/width-by-min-px-em-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/width-by-min-px-em-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/interfaces/css-typed-om.idl
  LayoutTests/tests-options.json
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Apply patch. rdar://problem/101205947
  Source/WebCore/rendering/RenderImage.cpp
Owners: none

Apply patch. rdar://problem/101205947
  Source/WebCore/rendering/RenderImage.cpp
Owners: none

Parsing for at-rule @font-feature-values https://bugs.webkit.org/show_bug.cgi?id=246120 rdar://100830599
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/idlharness-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/test_font_feature_values_parsing-expected.txt
  Source/WebCore/CMakeLists.txt
  Source/WebCore/DerivedSources-input.xcfilelist
  Source/WebCore/DerivedSources-output.xcfilelist
  Source/WebCore/DerivedSources.make
  Source/WebCore/Sources.txt
  Source/WebCore/bindings/js/JSCSSRuleCustom.cpp
  Source/WebCore/css/CSSFontFeatureValuesRule.cpp
  Source/WebCore/css/CSSFontFeatureValuesRule.h
  Source/WebCore/css/CSSFontFeatureValuesRule.idl
  Source/WebCore/css/StyleRule.cpp
  Source/WebCore/css/StyleRule.h
  Source/WebCore/css/StyleRuleType.h
  Source/WebCore/css/StyleSheetContents.cpp
  Source/WebCore/css/parser/CSSAtRuleID.cpp
  Source/WebCore/css/parser/CSSAtRuleID.h
  Source/WebCore/css/parser/CSSParserImpl.cpp
  Source/WebCore/css/parser/CSSParserImpl.h
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.h
  Source/WebCore/inspector/InspectorStyleSheet.cpp
Owners: @cdumez, @dcrousso, @patrickangle

watchOS 9 Post Commit Open Source Bringup https://bugs.webkit.org/show_bug.cgi?id=246657 rdar://99766421
  Tools/CISupport/build-webkit-org/config.json
  Tools/CISupport/build-webkit-org/factories_unittest.py
  Tools/CISupport/build-webkit-org/public_html/dashboard/Images/WatchOS9.png
  Tools/CISupport/build-webkit-org/public_html/dashboard/Images/WatchOSSimulator9.png
  Tools/CISupport/build-webkit-org/public_html/dashboard/Scripts/Dashboard.js
  Tools/CISupport/build-webkit-org/public_html/dashboard/Scripts/WebKitBuildbot.js
  Tools/CISupport/build-webkit-org/public_html/dashboard/Styles/Main.css
Owners: @aj062, @JonWBedard, @ryanhaddad

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Add support for CSSNumericValue.toSum() https://bugs.webkit.org/show_bug.cgi?id=246673
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssTransformComponent-toMatrix-relative-units-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/numeric-objects/toSum.tentative-expected.txt
  Source/WebCore/css/CSSUnits.cpp
  Source/WebCore/css/CSSUnits.h
  Source/WebCore/css/typedom/CSSNumericValue.cpp
  Source/WebCore/css/typedom/CSSUnitValue.cpp
  Source/WebCore/css/typedom/numeric/CSSNumericType.cpp
Owners: none

Stop using deprecated UIAction SPI https://bugs.webkit.org/show_bug.cgi?id=246666 rdar://101229984
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/ios/forms/WKFormSelectPicker.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ImageAnalysisTests.mm
  Tools/TestWebKitAPI/ios/UIKitSPI.h
Owners: @cdumez

Apply patch. rdar://problem/101296275
  Source/WebCore/rendering/RenderImage.cpp
Owners: none

[JSC] Use fast iteration for array destructuring https://bugs.webkit.org/show_bug.cgi?id=246672 rdar://101275126
  JSTests/microbenchmarks/map-iteration-and-array-destructuring.js
  JSTests/stress/destructuring-assignment-accepts-iterables.js
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
  Source/JavaScriptCore/bytecompiler/NodesCodegen.cpp
Owners: @WebKit/jsc-reviewers

Remove unused SOAuthorization https://bugs.webkit.org/show_bug.cgi?id=246503 rdar://100171989
  Source/WebKit/UIProcess/Cocoa/SOAuthorization/SOAuthorizationCoordinator.h
  Source/WebKit/UIProcess/Cocoa/SOAuthorization/SOAuthorizationCoordinator.mm
Owners: @cdumez

Cherry-pick 255413@main (3c70a091d1fb). rdar://101002204
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/install_git_lfs.py
Owners: @facetothefate, @JonWBedard

[git-webkit] Handle invalid commit reference https://bugs.webkit.org/show_bug.cgi?id=246549 rdar://101191143
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/trace.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/trace_unittest.py
Owners: @facetothefate, @JonWBedard

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Apply patch. rdar://problem/101296275
  Source/WebCore/rendering/RenderImage.cpp
Owners: none

[Gardening]: REGRESSION?(255635@main): [ iOS ] media/video-object-fit.html is a constant failure https://bugs.webkit.org/show_bug.cgi?id=246698
  LayoutTests/platform/ios-wk2/TestExpectations
Owners: none

[MQ4] Add evaluator https://bugs.webkit.org/show_bug.cgi?id=246690 <rdar://problem/101294154>
  Source/WebCore/Sources.txt
  Source/WebCore/css/query/MediaQuery.h
  Source/WebCore/css/query/MediaQueryEvaluator.cpp
  Source/WebCore/css/query/MediaQueryEvaluator.h
Owners: none

[git-webkit] Prioritize identity commit relationships over references https://bugs.webkit.org/show_bug.cgi?id=246661 rdar://101269112
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/trace.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/trace_unittest.py
Owners: @facetothefate, @JonWBedard

Cherry-pick 255293@main (2aad28d7cce3). rdar://100913040
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/13/AssertionServices.framework/AssertionServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/13/AuthKit.framework/AuthKit.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/13/CorePDF.framework/CorePDF.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/13/DeviceIdentity.framework/DeviceIdentity.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/13/IOKit.framework/IOKit.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/13/LocalAuthentication.framework/LocalAuthentication.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/13/SafariSafeBrowsing.framework/SafariSafeBrowsing.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/13/URLFormatting.framework/URLFormatting.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/14/AppSupport.framework/AppSupport.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/14/AssertionServices.framework/AssertionServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/14/AuthKit.framework/AuthKit.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/14/CorePrediction.framework/CorePrediction.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/14/DeviceIdentity.framework/DeviceIdentity.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/14/FileProvider.framework/FileProvider.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/14/GraphicsServices.framework/GraphicsServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/14/IOKit.framework/IOKit.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/14/LocalAuthentication.framework/LocalAuthentication.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/14/RunningBoardServices.framework/RunningBoardServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/14/SafariSafeBrowsing.framework/SafariSafeBrowsing.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/14/URLFormatting.framework/URLFormatting.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/16/AppSupport.framework/AppSupport.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/16/CorePrediction.framework/CorePrediction.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/16/FileProvider.framework/FileProvider.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/16/GraphicsServices.framework/GraphicsServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/16/IOSurfaceAccelerator.framework/IOSurfaceAccelerator.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/16/PrototypeTools.framework/PrototypeTools.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/16/RunningBoardServices.framework/RunningBoardServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/9/FileProvider.framework/FileProvider.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/9/IOSurfaceAccelerator.framework/IOSurfaceAccelerator.tbd
Owners: none

Cherry-pick 255495@main (72ad3b19fdd6). rdar://101060897
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
Owners: @facetothefate, @JonWBedard

[git-webkit] Improve 'trace' regexes https://bugs.webkit.org/show_bug.cgi?id=246543 rdar://101188306
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/trace.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/trace_unittest.py
Owners: @facetothefate, @JonWBedard

[JSC] OpCallShape should include iterator_open and iterator_next https://bugs.webkit.org/show_bug.cgi?id=246678 rdar://101279679
  Source/JavaScriptCore/bytecode/OpcodeInlines.h
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
Owners: @WebKit/jsc-reviewers

[webkitscmpy] Add merge-base function https://bugs.webkit.org/show_bug.cgi?id=246689 rdar://101292972
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/mocks/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/git_unittest.py
Owners: @facetothefate, @JonWBedard

Cherry-pick 255516@main (df651783f47d). rdar://101153360
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/scm_base.py
Owners: @facetothefate, @JonWBedard

[git-webkit] Allow caller to scope find command https://bugs.webkit.org/show_bug.cgi?id=246695 rdar://101296555
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/mocks/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/find.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/find_unittest.py
Owners: @facetothefate, @JonWBedard

Cherry-pick 255517@main (5e26e2d126df). rdar://101150808
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/__init__.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/null_context.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/tests/null_context_unittest.py
Owners: @JonWBedard

[JSC] Intl.NumberFormat ignores maximumFractionDigits with compact notation (both currency and decimal) https://bugs.webkit.org/show_bug.cgi?id=246646 rdar://101298045
  JSTests/stress/intl-numberformat-fd-handling-v2.js
  Source/JavaScriptCore/runtime/IntlNumberFormatInlines.h
Owners: @WebKit/jsc-reviewers

Unreviewed, drop logging landed by mistake with 255679@main https://bugs.webkit.org/show_bug.cgi?id=246704 rdar://101303904
  Source/WebCore/css/typedom/CSSNumericValue.cpp
Owners: none
