Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

Remove smart pointer violation in NetworkContentRuleListManager, LegacyCustomProtocolManager. https://bugs.webkit.org/show_bug.cgi?id=254500. rdar://107255403.
  Source/WebKit/NetworkProcess/CustomProtocols/LegacyCustomProtocolManager.cpp
  Source/WebKit/NetworkProcess/CustomProtocols/LegacyCustomProtocolManager.h
  Source/WebKit/NetworkProcess/NetworkContentRuleListManager.cpp
  Source/WebKit/NetworkProcess/NetworkContentRuleListManager.h
  Source/WebKit/NetworkProcess/NetworkProcess.h
Owners: @cdumez

web manifest: implement orientation member parsing https://bugs.webkit.org/show_bug.cgi?id=247275 rdar://101770484
  Source/WebCore/Modules/applicationmanifest/ApplicationManifest.h
  Source/WebCore/Modules/applicationmanifest/ApplicationManifestParser.cpp
  Source/WebCore/Modules/applicationmanifest/ApplicationManifestParser.h
  Source/WebCore/page/ScreenOrientationLockType.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/API/Cocoa/_WKApplicationManifest.h
  Source/WebKit/UIProcess/API/Cocoa/_WKApplicationManifest.mm
  Tools/TestWebKitAPI/Tests/WebCore/ApplicationManifestParser.cpp
Owners: @marcoscaceres, @cdumez

Cherry-pick 252432.1033@safari-7614-branch (02e324c57689). https://bugs.webkit.org/show_bug.cgi?id=250742
  Source/WebKit/Shared/RemoteLayerTree/RemoteScrollingCoordinatorTransaction.cpp
Owners: none

Cherry-pick 252432.1034@safari-7614-branch (3ee4a8321986). https://bugs.webkit.org/show_bug.cgi?id=250709
  LayoutTests/imported/w3c/web-platform-tests/content-security-policy/generic/wildcard-host-checks-path.sub-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/content-security-policy/generic/wildcard-host-checks-path.sub.html
  Source/WebCore/page/csp/ContentSecurityPolicySource.cpp
Owners: @cdumez

Change InteracitonRegion to hold an IntRect instead of a Region https://bugs.webkit.org/show_bug.cgi?id=254456 rdar://107216144
  LayoutTests/interaction-region/aria-roles-expected.txt
  LayoutTests/interaction-region/click-handler-dynamically-added-expected.txt
  LayoutTests/interaction-region/click-handler-expected.txt
  LayoutTests/interaction-region/click-handler-in-shadowed-layer-expected.txt
  LayoutTests/interaction-region/consolidated-nested-regions-expected.txt
  LayoutTests/interaction-region/event-region-overflow-expected.txt
  LayoutTests/interaction-region/full-page-overlay-expected.txt
  LayoutTests/interaction-region/icon-inside-button-single-region-expected.txt
  LayoutTests/interaction-region/inline-link-dark-background-expected.txt
  LayoutTests/interaction-region/inline-link-expected.txt
  LayoutTests/interaction-region/inline-link-in-composited-iframe-expected.txt
  LayoutTests/interaction-region/inline-link-in-layer-expected.txt
  LayoutTests/interaction-region/inline-link-in-non-composited-iframe-expected.txt
  LayoutTests/interaction-region/inline-link-with-pointer-events-none-content-expected.txt
  LayoutTests/interaction-region/input-type-file-region-expected.txt
  LayoutTests/interaction-region/input-type-range-region-expected.txt
  LayoutTests/interaction-region/nested-composited-text-painter-expected.txt
  LayoutTests/interaction-region/overlap-expected.txt
  LayoutTests/interaction-region/overlap-same-group-expected.txt
  LayoutTests/interaction-region/overlay-expected.txt
  LayoutTests/interaction-region/paused-video-regions-expected.txt
  LayoutTests/interaction-region/pseudo-element-expected.txt
  LayoutTests/interaction-region/split-inline-link-expected.txt
  LayoutTests/interaction-region/wrapped-inline-link-expected.txt
  Source/WebCore/page/DebugPageOverlays.cpp
  Source/WebCore/page/InteractionRegion.cpp
  Source/WebCore/page/InteractionRegion.h
  Source/WebCore/rendering/EventRegion.cpp
  Source/WebCore/rendering/EventRegion.h
  Source/WebCore/rendering/RenderLayerBacking.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeInteractionRegionLayers.mm
Owners: @cdumez

[UI-side compositing] RenderListBox scrollbars do not show https://bugs.webkit.org/show_bug.cgi?id=253750 rdar://106382552
  LayoutTests/fast/forms/select/mac-wk2/listbox-scrollbar-painting-expected-mismatch.html
  LayoutTests/fast/forms/select/mac-wk2/listbox-scrollbar-painting.html
  Source/WebCore/platform/Scrollbar.cpp
  Source/WebCore/platform/Scrollbar.h
  Source/WebCore/platform/mac/ScrollbarThemeMac.mm
Owners: none

[ iOS ] imported/w3c/web-platform-tests/css/css-backgrounds/border-image-repeat-round.html is a constant ImageOnly Failure (254356) https://bugs.webkit.org/show_bug.cgi?id=254356 <rdar://107145200>
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/reference/border-image-repeat-round-ref.html
Owners: none

[UI-side compositing] Two RTL scrolling tests fail https://bugs.webkit.org/show_bug.cgi?id=254618
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingTreeMac.mm
Owners: @cdumez

Cherry-pick 259548.8@safari-7615-branch (5a0f792b008f). rdar://107333395
  LayoutTests/fast/backgrounds/background-color-lch-crash-expected.txt
  LayoutTests/fast/backgrounds/background-color-lch-crash.html
  Source/WebCore/platform/graphics/ColorBlending.cpp
Owners: none

[UI-side compositing] Add helper function to ui-helper.js to get scrollbar state https://bugs.webkit.org/show_bug.cgi?id=254615 rdar://107332737
  LayoutTests/resources/ui-helper.js
Owners: none

Cherry-pick 252432.1030@safari-7614-branch (433db4f29219). rdar://problem/107335960
  Source/WebCore/bindings/js/JSErrorHandler.cpp
  Source/WebCore/bindings/js/JSEventListener.cpp
  Source/WebCore/bindings/js/JSEventListener.h
  Source/WebCore/bindings/js/JSLazyEventListener.cpp
  Source/WebCore/bindings/js/WebCoreJSClientData.cpp
  Source/WebCore/bindings/js/WebCoreJSClientData.h
  Source/WebCore/dom/EventTarget.cpp
  Source/WebCore/inspector/CommandLineAPIHost.cpp
  Source/WebCore/inspector/WebInjectedScriptHost.cpp
  Source/WebCore/inspector/agents/InspectorDOMAgent.cpp
Owners: @cdumez, @rniwa, @patrickangle

Hulu.com video doesn't play https://bugs.webkit.org/show_bug.cgi?id=254605 rdar://106667631
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
Owners: @cdumez, @rniwa

PDF disappears during live-ish resize https://bugs.webkit.org/show_bug.cgi?id=254623 rdar://105852767
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
Owners: @cdumez

Cherry-pick f73dcb9ce6b7. rdar://problem/107277206
  Source/WebCore/rendering/RenderBox.cpp
Owners: none

Cherry-pick 252432.1031@safari-7614-branch (9f7e401c42a8). rdar://107335776
  JSTests/stress/cell-speculated-array-indexof.js
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
Owners: @WebKit/jsc-reviewers

Remove redundant quirk on ignoring centered text when positioning https://bugs.webkit.org/show_bug.cgi?id=254608
  LayoutTests/fast/block/legacy-text-align-position-quirk-expected.html
  LayoutTests/fast/block/legacy-text-align-position-quirk.html
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/rendering/RenderBlockFlow.cpp
  Source/WebKit/UIProcess/API/C/WKPreferences.cpp
  Source/WebKit/UIProcess/API/C/WKPreferencesRefPrivate.h
  Source/WebKitLegacy/mac/WebView/WebPreferenceKeysPrivate.h
  Source/WebKitLegacy/mac/WebView/WebPreferences.mm
  Source/WebKitLegacy/mac/WebView/WebPreferencesPrivate.h
Owners: @cdumez

Use smart pointers for ScriptExecutionContext and CanvasRenderingContext (m_context) https://bugs.webkit.org/show_bug.cgi?id=254347 rdar://107142041
  Source/WTF/wtf/CheckedRef.h
  Source/WTF/wtf/Ref.h
  Source/WTF/wtf/RefPtr.h
  Source/WTF/wtf/WeakPtr.h
  Source/WebCore/Modules/websockets/ThreadableWebSocketChannelClientWrapper.cpp
  Source/WebCore/Modules/websockets/ThreadableWebSocketChannelClientWrapper.h
  Source/WebCore/bindings/js/ScriptModuleLoader.cpp
  Source/WebCore/bindings/js/ScriptModuleLoader.h
  Source/WebCore/dom/RejectedPromiseTracker.cpp
  Source/WebCore/dom/RejectedPromiseTracker.h
  Source/WebCore/dom/ScriptExecutionContext.h
  Source/WebCore/html/canvas/CanvasRenderingContext.h
  Source/WebCore/inspector/InspectorCanvas.cpp
  Source/WebCore/inspector/InspectorCanvas.h
  Source/WebCore/page/DOMTimer.cpp
  Source/WebCore/page/DOMTimer.h
Owners: @cdumez, @rniwa, @patrickangle

[UI-side compositing] Have ScrollerPairMac::setScrollbarStyle update the NSScrollerImp style https://bugs.webkit.org/show_bug.cgi?id=254619 rdar://107334257
  Source/WebCore/page/scrolling/mac/ScrollerMac.h
  Source/WebCore/page/scrolling/mac/ScrollerMac.mm
  Source/WebCore/page/scrolling/mac/ScrollerPairMac.mm
Owners: @cdumez

[UI side compositing] attachment-element-gpu-process.html fails https://bugs.webkit.org/show_bug.cgi?id=254628
  LayoutTests/fast/attachment/mac/attachment-element-gpu-process.html
Owners: none

[UI side compositing] fast/attachment/mac/wide-attachment-element-gpu-process.html fails https://bugs.webkit.org/show_bug.cgi?id=254629
  LayoutTests/fast/attachment/mac/wide-attachment-element-gpu-process.html
Owners: none

Add const to ApplicationManifestParser
  Source/WebCore/Modules/applicationmanifest/ApplicationManifestParser.cpp
  Source/WebCore/Modules/applicationmanifest/ApplicationManifestParser.h
Owners: @marcoscaceres

Some ApplicationManifestParsermember function could be marked as const https://bugs.webkit.org/show_bug.cgi?id=254635 rdar://107345868
  Source/WebCore/Modules/applicationmanifest/ApplicationManifestParser.cpp
  Source/WebCore/Modules/applicationmanifest/ApplicationManifestParser.h
Owners: @marcoscaceres

Disconnect WKView from its WebViewImpl https://bugs.webkit.org/show_bug.cgi?id=254570 rdar://107299990
  Source/WebKit/UIProcess/API/Cocoa/WKView.h
  Source/WebKit/UIProcess/API/mac/WKView.mm
Owners: @cdumez

[Windows] Fix loading modules from JSC shell https://bugs.webkit.org/show_bug.cgi?id=254606
  Source/JavaScriptCore/jsc.cpp
Owners: @WebKit/jsc-reviewers

[UI-side compositing] Add logging for painting new tile for ScrollPerf https://bugs.webkit.org/show_bug.cgi?id=254050 rdar://106775893
  Source/WebCore/platform/graphics/ca/TileController.cpp
  Source/WebCore/platform/graphics/ca/TileController.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeHost.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeNode.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeScrollingPerformanceData.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeScrollingPerformanceData.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemoteTiledBacking.cpp
Owners: @cdumez

[ iOS, macOS ] imported/w3c/web-platform-tests/mathml/relations/html5-tree/dynamic-childlist-002.html is a constant text failure. https://bugs.webkit.org/show_bug.cgi?id=254621
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/mathml/relations/html5-tree/dynamic-childlist-002-expected.txt
  LayoutTests/platform/mac-ventura/imported/w3c/web-platform-tests/mathml/relations/html5-tree/dynamic-childlist-002-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/mathml/relations/html5-tree/dynamic-childlist-002-expected.txt
  LayoutTests/platform/mac-wk2/imported/w3c/web-platform-tests/mathml/relations/html5-tree/dynamic-childlist-002-expected.txt
Owners: none

Only CPU(X86_64) should do constant blinding. https://bugs.webkit.org/show_bug.cgi?id=254634 <rdar://problem/107345556>
  Source/JavaScriptCore/assembler/MacroAssembler.h
Owners: @WebKit/jsc-reviewers

[UI-side compositing] Banners on reddit.com flicker https://bugs.webkit.org/show_bug.cgi?id=254644 rdar://104192825
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.cpp
Owners: @cdumez

Make more use of UniqueRef in WebCore::Page https://bugs.webkit.org/show_bug.cgi?id=254513 rdar://problem/107265298
  Source/WebCore/page/Chrome.h
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebCore/page/UserContentProvider.cpp
Owners: @cdumez

Make RemoteRenderingData::cacheFont reconstruct a Font using Attributes, and a reference to FontCustomPlatformData. https://bugs.webkit.org/show_bug.cgi?id=254490 <rdar://106965215>
  Source/WebCore/css/CSSFontFaceSource.h
  Source/WebCore/loader/cache/CachedFont.cpp
  Source/WebCore/loader/cache/CachedFont.h
  Source/WebCore/platform/graphics/Font.cpp
  Source/WebCore/platform/graphics/Font.h
  Source/WebCore/platform/graphics/FontCustomPlatformData.h
  Source/WebCore/platform/graphics/FontPlatformData.cpp
  Source/WebCore/platform/graphics/FontPlatformData.h
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/coretext/FontCoreText.cpp
  Source/WebCore/platform/graphics/coretext/FontPlatformDataCoreText.cpp
  Source/WebCore/platform/graphics/freetype/FontCustomPlatformDataFreeType.cpp
  Source/WebCore/platform/graphics/mac/FontCustomPlatformDataMac.cpp
  Source/WebCore/platform/graphics/win/FontCustomPlatformDataWin.cpp
  Source/WebCore/platform/graphics/win/FontPlatformDataCairoWin.cpp
  Source/WebCore/platform/graphics/win/FontPlatformDataWin.cpp
  Source/WebCore/workers/WorkerFontLoadRequest.h
  Source/WebKit/GPUProcess/graphics/QualifiedResourceHeap.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.messages.in
  Source/WebKit/GPUProcess/graphics/RemoteResourceCache.cpp
  Source/WebKit/GPUProcess/graphics/RemoteResourceCache.h
  Source/WebKit/Shared/Cocoa/WebCoreArgumentCodersCocoa.mm
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.h
  Source/WebKit/Shared/cf/ArgumentCodersCF.cpp
  Source/WebKit/Shared/playstation/WebCoreArgumentCodersPlayStation.cpp
  Source/WebKit/Shared/soup/WebCoreArgumentCodersSoup.cpp
  Source/WebKit/Shared/win/WebCoreArgumentCodersWin.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.h
Owners: @cdumez, @WebKit/glib-reviewers

@counter-style: extends system should always extend first symbol for fixed system https://bugs.webkit.org/show_bug.cgi?id=254597 rdar://107320608
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/system-extends-fixed-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/system-extends-fixed-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/system-extends-fixed.html
  Source/WebCore/css/CSSCounterStyle.cpp
  Source/WebCore/css/CSSCounterStyle.h
Owners: none

[GStreamer] media tests gardening https://bugs.webkit.org/show_bug.cgi?id=254657
  LayoutTests/platform/glib/TestExpectations
Owners: none

[GStreamer][WebRTC] Tests gardening https://bugs.webkit.org/show_bug.cgi?id=254659
  LayoutTests/platform/glib/TestExpectations
Owners: none

innerHTML serialization should not have a special handling for javascript: URLs
  LayoutTests/fast/innerHTML/javascript-url-expected.txt
  LayoutTests/fast/innerHTML/javascript-url.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/flex-aspect-ratio-img-column-017-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/serializing-html-fragments/serializing-expected.txt
  LayoutTests/platform/ios/css3/flexbox/flexitem-expected.txt
  Source/WebCore/editing/MarkupAccumulator.cpp
  Source/WebCore/editing/MarkupAccumulator.h
Owners: @rniwa

LegacyTileGrid: Proper bounds checking for Legacy Tiles https://bugs.webkit.org/show_bug.cgi?id=252172
  Source/WebCore/platform/ios/LegacyTileGrid.mm
Owners: none

[WPE][GTK] Gardening `fast/multicol`
  LayoutTests/platform/glib/fast/multicol/client-rects-spanners-complex-expected.txt
  LayoutTests/platform/glib/fast/multicol/float-multicol-expected.txt
  LayoutTests/platform/glib/fast/multicol/span/anonymous-style-inheritance-expected.txt
  LayoutTests/platform/glib/fast/multicol/span/span-as-immediate-columns-child-expected.txt
  LayoutTests/platform/glib/fast/multicol/table-vertical-align-expected.txt
Owners: none

[css-lists] `content: counter()` does not update visually if `position: absolute` is set https://bugs.webkit.org/show_bug.cgi?id=254575
  LayoutTests/fast/dynamic/out-of-flow-counter-do-not-update-expected.html
  LayoutTests/fast/dynamic/out-of-flow-counter-do-not-update.html
  Source/WebCore/rendering/CounterNode.cpp
Owners: none

AX: The platform wrapper code is unnecessarily creating an additional SimpleRange when calculating a TextMarkerRange length. https://bugs.webkit.org/show_bug.cgi?id=254620 <rdar://problem/107335186>
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AXObjectCache.h
  Source/WebCore/accessibility/ios/WebAccessibilityObjectWrapperIOS.mm
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperMac.mm
Owners: none

[git-webkit] Correct redacted expressions for Bugzilla https://bugs.webkit.org/show_bug.cgi?id=254631 rdar://107343100
  metadata/trackers.json
Owners: @JonWBedard

[JSC] Fix Win crash in Temporal since/until methods https://bugs.webkit.org/show_bug.cgi?id=254650
  Source/JavaScriptCore/runtime/TemporalObject.cpp
Owners: @WebKit/jsc-reviewers

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
