Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @calvaris, @philn, @ntrrgc, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @graouts

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard
/Tools/TestWebKitAPI

# ================================================================================

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn

# ================================================================================

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

/Source/WebCore/Modules/apple-pay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/apple-pay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

# ================================================================================

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

[run-benchmark] Avoid race condition when killing the browser subprocess on Linux https://bugs.webkit.org/show_bug.cgi?id=242083
  Tools/Scripts/webkitpy/benchmark_runner/browser_driver/linux_browser_driver.py
Owners: @JonWBedard

[Alternate WebM Player] Register SourceBufferParserWebM Logger https://bugs.webkit.org/show_bug.cgi?id=242093
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.mm
Owners: none

[WebAuthn] Reject too long or too short user id https://bugs.webkit.org/show_bug.cgi?id=242073 rdar://90281685
  LayoutTests/http/wpt/webauthn/public-key-credential-create-success-hid.https-expected.txt
  LayoutTests/http/wpt/webauthn/public-key-credential-create-success-hid.https.html
  LayoutTests/http/wpt/webauthn/public-key-credential-create-with-invalid-parameters.https-expected.txt
  LayoutTests/http/wpt/webauthn/public-key-credential-create-with-invalid-parameters.https.html
  Source/WebCore/Modules/webauthn/AuthenticatorCoordinator.cpp
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Cherry-pick 24dd48e8bf01. rdar://problem/93674270
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
  Source/WebKit/UIProcess/RemoteLayerTree/cocoa/RemoteLayerTreeLayers.mm
Owners: none

AX ITM: Retrieving table column and row headers is broken in isolated tree mode. https://bugs.webkit.org/show_bug.cgi?id=242071
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.h
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.cpp
Owners: none

Introduction.md missing new GitHub workflow https://bugs.webkit.org/show_bug.cgi?id=242050
  Introduction.md
Owners: none

[LFC][FFC] "display: inline-flex" creates a flex box https://bugs.webkit.org/show_bug.cgi?id=242009
  Source/WebCore/layout/layouttree/LayoutBox.h
Owners: none

[LFC][FFC] Remove RenderFlexibleBox::m_flexLayout https://bugs.webkit.org/show_bug.cgi?id=242010
  Source/WebCore/rendering/RenderFlexibleBox.cpp
  Source/WebCore/rendering/RenderFlexibleBox.h
Owners: none

[LFC][FFC] Populate canUseForFlexLayout with unsupported styles and content https://bugs.webkit.org/show_bug.cgi?id=242008
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.cpp
Owners: none

[Big Sur] Fix Big Sur build after 251860@main https://bugs.webkit.org/show_bug.cgi?id=242095
  Source/WTF/wtf/PlatformHave.h
  Source/WebKit/Platform/spi/Cocoa/AccessibilitySupportSPI.h
Owners: none

[JSC] Clean up delegate's error message https://bugs.webkit.org/show_bug.cgi?id=242099
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
Owners: @WebKit/jsc-reviewers

[Gardening]: [ iOS Release ] TestWebKitAPI.PictureInPicture.ExitPiPOnSuspendVideoElement is a flaky failure https://bugs.webkit.org/show_bug.cgi?id=242014 <rdar://95936294>
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ExitPiPOnSuspendVideoElement.mm
Owners: none

[Gardening]: REGRESSION (251244@main): [ iOS ] TestWebKitAPI.HSTS.Preconnect is a flaky timeout https://bugs.webkit.org/show_bug.cgi?id=242017 <rdar://95937659>
  Tools/TestWebKitAPI/Tests/WebKitCocoa/HSTS.mm
Owners: none

[JSC] Add a resolve_and_get_from_scope bytecode opcode https://bugs.webkit.org/show_bug.cgi?id=237836
  JSTests/stress/call-link-info-osrexit-repatch.js
  Source/JavaScriptCore/bytecode/BytecodeList.rb
  Source/JavaScriptCore/bytecode/BytecodeLivenessAnalysis.cpp
  Source/JavaScriptCore/bytecode/BytecodeOperandsForCheckpoint.h
  Source/JavaScriptCore/bytecode/BytecodeUseDef.cpp
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/bytecode/CodeBlockInlines.h
  Source/JavaScriptCore/bytecode/UnlinkedCodeBlock.cpp
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.h
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGCapabilities.cpp
  Source/JavaScriptCore/jit/JIT.cpp
  Source/JavaScriptCore/jit/JIT.h
  Source/JavaScriptCore/jit/JITOperations.cpp
  Source/JavaScriptCore/jit/JITOperations.h
  Source/JavaScriptCore/jit/JITPropertyAccess.cpp
  Source/JavaScriptCore/llint/LLIntSlowPaths.cpp
  Source/JavaScriptCore/llint/LLIntSlowPaths.h
  Source/JavaScriptCore/llint/LowLevelInterpreter32_64.asm
  Source/JavaScriptCore/llint/LowLevelInterpreter64.asm
  Source/JavaScriptCore/runtime/CommonSlowPaths.cpp
  Source/JavaScriptCore/runtime/CommonSlowPaths.h
  Source/JavaScriptCore/runtime/CommonSlowPathsInlines.h
Owners: @WebKit/jsc-reviewers

[GTK][WPE] REGRESSION(251560@main): createFromPixelBuffer was not updated in GraphicsContextGLTextureMapperANGLE https://bugs.webkit.org/show_bug.cgi?id=242105
  Source/WebCore/platform/graphics/texmap/GraphicsContextGLTextureMapperANGLE.cpp
Owners: none

WIP patch
  Source/WebCore/platform/graphics/gbm/GraphicsContextGLGBM.cpp
  Source/WebCore/platform/graphics/gbm/GraphicsContextGLGBM.h
  Source/WebCore/platform/graphics/gbm/GraphicsContextGLGBMTextureMapper.cpp
  Source/WebCore/platform/graphics/gbm/GraphicsContextGLGBMTextureMapper.h
  Source/WebCore/platform/graphics/nicosia/texmap/NicosiaGCGLANGLELayer.cpp
  Source/WebCore/platform/graphics/nicosia/texmap/NicosiaGCGLANGLELayer.h
  Source/WebCore/platform/graphics/texmap/GraphicsContextGLTextureMapperANGLE.cpp
  Source/WebCore/platform/graphics/texmap/GraphicsContextGLTextureMapperANGLE.h
Owners: none

[git-webkit] Prefer 'fork' over personal remote name when checking out PR https://bugs.webkit.org/show_bug.cgi?id=242070 <rdar://problem/96076687>
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/local/git.py
Owners: @facetothefate, @JonWBedard

Add RuleSet bucket for attribute selectors https://bugs.webkit.org/show_bug.cgi?id=242058 <rdar://95790940>
  Source/WebCore/style/ElementRuleCollector.cpp
  Source/WebCore/style/RuleData.cpp
  Source/WebCore/style/RuleSet.cpp
  Source/WebCore/style/RuleSet.h
Owners: none

[GLib] Add a websetting gating WebRTC support https://bugs.webkit.org/show_bug.cgi?id=242103
  Source/WebKit/UIProcess/API/glib/WebKitSettings.cpp
  Source/WebKit/UIProcess/API/gtk/WebKitSettings.h
  Source/WebKit/UIProcess/API/wpe/WebKitSettings.h
  Tools/TestWebKitAPI/Tests/WebKitGLib/TestWebKitSettings.cpp
Owners: none

REGRESSION (251356@main): TestWebKitAPI.IPCTestingAPI.CanSendSharedMemory is consistently timing out https://bugs.webkit.org/show_bug.cgi?id=241385 rdar://problem/94566204
  Source/WebKit/UIProcess/Cocoa/WebPasteboardProxyCocoa.mm
  Source/WebKit/UIProcess/WebPasteboardProxy.h
  Source/WebKit/UIProcess/WebPasteboardProxy.messages.in
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IPCTestingAPI.mm
Owners: none

remove resolveType from args
  Source/JavaScriptCore/bytecode/BytecodeList.rb
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
Owners: @WebKit/jsc-reviewers

Enable OFFLINE_ASM_USE_ALT_ENTRY on Mac and Apple platforms using newer SDKs. https://bugs.webkit.org/show_bug.cgi?id=242088 <rdar://problem/94232529>
  Source/JavaScriptCore/llint/LowLevelInterpreter.cpp
Owners: @WebKit/jsc-reviewers

Revert [251706@main] getComputedStyle(img).height returns string of a rounded int not a float https://bugs.webkit.org/show_bug.cgi?id=206161 <rdar://93860607>
  LayoutTests/fast/block/positioning/replaced-inside-fixed-top-bottom-expected.txt
  LayoutTests/fast/writing-mode/block-level-images-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/replaced-fractional-height-from-aspect-ratio-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/attributes-for-embedded-content-and-images/img-aspect-ratio-expected.txt
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/css2.1/t090501-c414-flt-03-b-g-expected.txt
  LayoutTests/platform/glib/fast/block/positioning/replaced-inside-fixed-top-bottom-expected.txt
  LayoutTests/platform/glib/tables/mozilla_expected_failures/bugs/bug85016-expected.txt
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/gtk/css1/box_properties/width-expected.txt
  LayoutTests/platform/gtk/css1/formatting_model/replaced_elements-expected.txt
  LayoutTests/platform/gtk/css1/text_properties/vertical_align-expected.txt
  LayoutTests/platform/gtk/css2.1/t090501-c414-flt-03-b-g-expected.png
  LayoutTests/platform/gtk/fast/repaint/block-layout-inline-children-replaced-expected.png
  LayoutTests/platform/gtk/fast/repaint/block-layout-inline-children-replaced-expected.txt
  LayoutTests/platform/gtk/fast/replaced/width100percent-image-expected.txt
  LayoutTests/platform/gtk/tables/mozilla/bugs/bug14929-expected.txt
  LayoutTests/platform/ios/css1/text_properties/vertical_align-expected.txt
  LayoutTests/platform/ios/fast/replaced/width100percent-image-expected.txt
  LayoutTests/platform/ios/tables/mozilla/bugs/bug14929-expected.txt
  LayoutTests/platform/ios/tables/mozilla_expected_failures/bugs/bug85016-expected.txt
  LayoutTests/platform/mac/css1/box_properties/width-expected.txt
  LayoutTests/platform/mac/css1/formatting_model/replaced_elements-expected.txt
  LayoutTests/platform/mac/css1/text_properties/vertical_align-expected.txt
  LayoutTests/platform/mac/fast/repaint/block-layout-inline-children-replaced-expected.txt
  LayoutTests/platform/mac/fast/replaced/width100percent-image-expected.txt
  LayoutTests/platform/mac/svg/wicd/test-rightsizing-b-expected.txt
  LayoutTests/platform/mac/tables/mozilla/bugs/bug14929-expected.txt
  LayoutTests/platform/mac/tables/mozilla_expected_failures/bugs/bug85016-expected.txt
  LayoutTests/svg/css/max-width-2-expected.html
  Source/WebCore/rendering/RenderReplaced.cpp
Owners: none

[JSC] Remove unused type StackVisitor::Status https://bugs.webkit.org/show_bug.cgi?id=242117
  Source/JavaScriptCore/interpreter/StackVisitor.h
Owners: @WebKit/jsc-reviewers

Adding iframe flushes microtasks synchronously with dirty stack https://bugs.webkit.org/show_bug.cgi?id=235322
  LayoutTests/http/tests/eventloop/inserting-iframe-should-not-perform-microtask-checkpoint-expected.txt
  LayoutTests/http/tests/eventloop/inserting-iframe-should-not-perform-microtask-checkpoint.html
  LayoutTests/http/tests/eventloop/resources/hello.html
  Source/WebCore/dom/Document.cpp
  Source/WebCore/loader/DocumentLoader.cpp
  Source/WebCore/loader/DocumentLoader.h
Owners: none

Adding iframe flushes microtasks synchronously with dirty stack https://bugs.webkit.org/show_bug.cgi?id=235322
  Source/WebCore/dom/Document.cpp
Owners: none

Make sure we protect |this| in the lambda in WebPermissionController::tryProcessingRequests() https://bugs.webkit.org/show_bug.cgi?id=242120
  Source/WebKit/WebProcess/WebCoreSupport/WebPermissionController.cpp
Owners: none

Turn macOS smooth keyboard scrolling on by default https://bugs.webkit.org/show_bug.cgi?id=228159 rdar://80912063
  Source/WTF/Scripts/Preferences/WebPreferencesInternal.yaml
Owners: none

[macOS] Allow access to Power log daemon when Task mode query is not present in the macOS version https://bugs.webkit.org/show_bug.cgi?id=242126 <rdar://96154445>
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Add non-interactive flag for build-and-collect-pgo-profiles https://bugs.webkit.org/show_bug.cgi?id=242127
  Tools/Scripts/build-and-collect-pgo-profiles
Owners: @JonWBedard

Clean up some uses of `new` and `delete` in drag and drop code inside WebViewImpl https://bugs.webkit.org/show_bug.cgi?id=242113 Work towards rdar://96074318
  Source/WebKit/UIProcess/Cocoa/WebViewImpl.mm
Owners: none

Add ability to mask URLs from DOM and JavaScript. https://bugs.webkit.org/show_bug.cgi?id=238576 rdar://81991245
  Source/WebCore/bindings/scripts/CodeGenerator.pm
  Source/WebCore/bindings/scripts/test/JS/JSTestObj.cpp
  Source/WebCore/dom/Attr.cpp
  Source/WebCore/dom/Attr.h
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/Element.h
  Source/WebCore/dom/Element.idl
  Source/WebCore/dom/ElementInlines.h
  Source/WebCore/dom/ShadowRoot.cpp
  Source/WebCore/editing/MarkupAccumulator.cpp
  Source/WebCore/editing/cocoa/EditorCocoa.mm
  Source/WebCore/editing/gtk/EditorGtk.cpp
  Source/WebCore/editing/libwpe/EditorLibWPE.cpp
  Source/WebCore/editing/mac/EditorMac.mm
  Source/WebCore/editing/markup.cpp
  Source/WebCore/editing/markup.h
  Source/WebCore/html/HTMLImageElement.cpp
  Source/WebCore/html/HTMLImageElement.h
  Source/WebCore/html/HTMLImageElement.idl
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebCore/page/PageConfiguration.h
  Source/WebCore/platform/win/PasteboardWin.cpp
  Source/WebKit/Shared/WebPageCreationParameters.cpp
  Source/WebKit/Shared/WebPageCreationParameters.h
  Source/WebKit/UIProcess/API/APIPageConfiguration.cpp
  Source/WebKit/UIProcess/API/APIPageConfiguration.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewConfiguration.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewConfigurationPrivate.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/WebProcess/WebCoreSupport/gtk/WebEditorClientGtk.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebViewConfiguration.mm
Owners: none

[Gardening]: [ iOS ] 3X fast/text/accessibility-bold-system-font (Layout-tests) are a constant failures https://bugs.webkit.org/show_bug.cgi?id=242119
  LayoutTests/TestExpectations
  LayoutTests/platform/ios/TestExpectations
Owners: none

REGRESSION (r289765-r289784): [iOS] Flaky crash under WebKit::RemoteLayerTreeDrawingAreaProxy::commitLayerTree() https://bugs.webkit.org/show_bug.cgi?id=236794 <rdar://89100788>
  Tools/WebKitTestRunner/TestInvocation.cpp
Owners: @JonWBedard

Web Inspector: Typo in error handling for picking color from screen https://bugs.webkit.org/show_bug.cgi?id=242133 rdar://problem/96165101
  Source/WebInspectorUI/UserInterface/Views/ColorPicker.js
Owners: @dcrousso, @patrickangle

Don't allocate backing stores for non-animated compositing layers with zero opacity https://bugs.webkit.org/show_bug.cgi?id=241935
  LayoutTests/compositing/backing/zero-opacity-expected.txt
  LayoutTests/compositing/backing/zero-opacity-invalidation-expected.txt
  LayoutTests/compositing/backing/zero-opacity-invalidation.html
  LayoutTests/compositing/backing/zero-opacity.html
  LayoutTests/compositing/geometry/bounds-ignores-hidden-dynamic-negzindex-expected.txt
  LayoutTests/compositing/geometry/fixed-position-flipped-writing-mode-expected.txt
  LayoutTests/compositing/visibility/layer-visible-content-expected.txt
  LayoutTests/platform/gtk/compositing/visibility/layer-visible-content-expected.txt
  LayoutTests/platform/ios-wk2/compositing/geometry/bounds-ignores-hidden-dynamic-negzindex-expected.txt
  LayoutTests/platform/ios/compositing/geometry/fixed-position-flipped-writing-mode-expected.txt
  Source/WebCore/rendering/RenderLayerBacking.cpp
  Source/WebCore/rendering/RenderLayerCompositor.cpp
  Source/WebCore/style/Styleable.cpp
  Source/WebCore/style/Styleable.h
Owners: none

[Gardening]: [ macOS iOS EWS ] fast/text/accessibility-bold-system-font/accessibility-bold-system-font-2.html is a consistent failure https://bugs.webkit.org/show_bug.cgi?id=242139 <rdar://96170698>
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Owners: none

Crash under IPC::Connection::sendSync<Messages::WebPageProxy::RootViewToScreen>() https://bugs.webkit.org/show_bug.cgi?id=242132 <rdar://96098823>
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
Owners: none
