Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

Refactor PlatformCALayer to support finishing the delegated layer contents before compositing https://bugs.webkit.org/show_bug.cgi?id=254988 rdar://107605713
  Source/WebCore/PlatformMac.cmake
  Source/WebCore/SourcesCocoa.txt
  Source/WebCore/html/canvas/GPUCanvasContextCocoa.cpp
  Source/WebCore/html/canvas/GPUCanvasContextCocoa.h
  Source/WebCore/html/canvas/GPUCanvasContextCocoa.mm
  Source/WebCore/platform/graphics/ca/PlatformCALayer.cpp
  Source/WebCore/platform/graphics/ca/PlatformCALayer.h
  Source/WebCore/platform/graphics/ca/PlatformCALayer.mm
  Source/WebCore/platform/graphics/ca/PlatformCALayerDelegatedContents.h
  Source/WebCore/platform/graphics/ca/cocoa/PlatformCALayerCocoa.h
  Source/WebCore/platform/graphics/ca/cocoa/PlatformCALayerCocoa.mm
  Source/WebCore/platform/graphics/cocoa/WebProcessGraphicsContextGLCocoa.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/GPU/graphics/cocoa/RemoteGraphicsContextGLProxyCocoa.mm
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemote.cpp
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemote.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemote.mm
  Source/WebKit/WebProcess/WebPage/mac/WebPageMac.mm
Owners: @cdumez, @rniwa

Cherry-pick 252432.1013@safari-7614-branch (1d545c7ebfef). rdar://102137788
  LayoutTests/animations/animation-set-effect-expected.txt
  LayoutTests/animations/animation-set-effect.html
  Source/WebCore/animation/CSSAnimation.cpp
Owners: @graouts

Cherry-pick 252432.1018@safari-7614-branch (792c09f18dc7). https://bugs.webkit.org/show_bug.cgi?id=249996
  LayoutTests/streams/blob-and-then-expected.txt
  LayoutTests/streams/blob-and-then.html
  Source/WebCore/Modules/fetch/FetchBodyConsumer.cpp
  Source/WebCore/Modules/streams/ReadableStreamSink.cpp
Owners: none

Cherry-pick 252432.1019@safari-7614-branch (1988807a5229). rdar://103307563
  LayoutTests/editing/async-clipboard/clipboard-clear-expected.txt
  LayoutTests/editing/async-clipboard/clipboard-clear.html
  Source/WebCore/Modules/async-clipboard/ClipboardItemBindingsDataSource.cpp
  Source/WebCore/Modules/async-clipboard/ClipboardItemBindingsDataSource.h
Owners: @rniwa

Cherry-pick 259548.8@safari-7615-branch (5a0f792b008f). https://bugs.webkit.org/show_bug.cgi?id=251158
  LayoutTests/fast/backgrounds/background-color-lch-crash-expected.txt
  LayoutTests/fast/backgrounds/background-color-lch-crash.html
  Source/WebCore/platform/graphics/ColorBlending.cpp
Owners: none

Cherry-pick 256843.5@webkit-2022.12-embargoed (312254f5776d). https://bugs.webkit.org/show_bug.cgi?id=248776
  LayoutTests/fast/css/content/quote-display-contents-crash-expected.txt
  LayoutTests/fast/css/content/quote-display-contents-crash.html
  Source/WebCore/dom/Element.cpp
Owners: @rniwa, @cdumez

Cherry-pick 252432.1023@safari-7614-branch (55c2b9caae92). https://bugs.webkit.org/show_bug.cgi?id=250408
  Source/WebKit/UIProcess/WebPageProxy.cpp
Owners: @cdumez

Cherry-pick 252432.1024@safari-7614-branch (2ea437d75522). https://bugs.webkit.org/show_bug.cgi?id=250351
  Source/WebCore/Modules/contact-picker/ContactsManager.cpp
  Source/WebCore/Modules/contact-picker/ContactsManager.h
Owners: @marcoscaceres

Cherry-pick 252432.1026@safari-7614-branch (2a8469e53b2f). https://bugs.webkit.org/show_bug.cgi?id=248615
  LayoutTests/editing/editability/design-mode-does-not-inherit-across-frames-expected.txt
  LayoutTests/editing/editability/design-mode-does-not-inherit-across-frames.html
  LayoutTests/fast/dom/HTMLElement/iscontenteditable-designmodeon-allinherit-subframe-expected.txt
  LayoutTests/fast/dom/HTMLElement/iscontenteditable-designmodeon-allinherit-subframe.html
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
Owners: @rniwa, @cdumez

Cherry-pick 252432.1029@safari-7614-branch (9dda7bfe768d). https://bugs.webkit.org/show_bug.cgi?id=250482
  JSTests/wasm/stress/wasm-tuple-return.js
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 252432.1030@safari-7614-branch (433db4f29219). https://bugs.webkit.org/show_bug.cgi?id=246022
  Source/WebCore/bindings/js/JSErrorHandler.cpp
  Source/WebCore/bindings/js/JSEventListener.cpp
  Source/WebCore/bindings/js/JSEventListener.h
  Source/WebCore/bindings/js/JSLazyEventListener.cpp
  Source/WebCore/bindings/js/WebCoreJSClientData.cpp
  Source/WebCore/bindings/js/WebCoreJSClientData.h
  Source/WebCore/dom/EventTarget.cpp
  Source/WebCore/inspector/CommandLineAPIHost.cpp
  Source/WebCore/inspector/WebInjectedScriptHost.cpp
  Source/WebCore/inspector/agents/InspectorDOMAgent.cpp
Owners: @cdumez, @rniwa, @patrickangle

Cherry-pick 252432.1031@safari-7614-branch (9f7e401c42a8). https://bugs.webkit.org/show_bug.cgi?id=250429
  JSTests/stress/cell-speculated-array-indexof.js
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 252432.1033@safari-7614-branch (02e324c57689). https://bugs.webkit.org/show_bug.cgi?id=250742
  Source/WebKit/Shared/RemoteLayerTree/RemoteScrollingCoordinatorTransaction.cpp
Owners: none

Cherry-pick 252432.1034@safari-7614-branch (3ee4a8321986). https://bugs.webkit.org/show_bug.cgi?id=250709
  LayoutTests/imported/w3c/web-platform-tests/content-security-policy/generic/wildcard-host-checks-path.sub-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/content-security-policy/generic/wildcard-host-checks-path.sub.html
  Source/WebCore/page/csp/ContentSecurityPolicySource.cpp
Owners: @cdumez

Cherry-pick 252432.1036@safari-7614-branch (c553da3adc35). https://bugs.webkit.org/show_bug.cgi?id=250873
  JSTests/stress/regexp-testinline-stacklimits.js
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/runtime/RegExp.h
  Source/JavaScriptCore/yarr/YarrJIT.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 256843.4@webkit-2022.12-embargoed (6234ec9c65b9). https://bugs.webkit.org/show_bug.cgi?id=248773
  LayoutTests/fast/table/table-cell-crash-when-detached-state-2-expected.txt
  LayoutTests/fast/table/table-cell-crash-when-detached-state-2.html
  Source/WebCore/rendering/RenderLayerModelObject.cpp
Owners: none

Cherry-pick 259548.25@safari-7615-branch (1a20160f826c). rdar://104692168
  JSTests/wasm/stress/many-locals-small-wasm-stack.js
  JSTests/wasm/stress/many-locals-small-wasm-stack.wasm
  JSTests/wasm/stress/many-locals-small-wasm-stack.wat
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 256843.6@webkit-2022.12-embargoed (c4c0ef6360b2). https://bugs.webkit.org/show_bug.cgi?id=248775
  LayoutTests/fast/dom/set-outer-text-on-moved-element-expected.html
  LayoutTests/fast/dom/set-outer-text-on-moved-element.html
  Source/WebCore/rendering/updating/RenderTreeUpdater.cpp
Owners: @rniwa

AX: Make AccessibilityNodeObject::m_node hold a WeakPtr<Node> https://bugs.webkit.org/show_bug.cgi?id=255005 rdar://107589983
  Source/WebCore/accessibility/AccessibilityNodeObject.cpp
  Source/WebCore/accessibility/AccessibilityNodeObject.h
Owners: none

Enable new WebGL conformance tests, conformance/{programs,reading,renderbuffers,rendering} https://bugs.webkit.org/show_bug.cgi?id=254804 rdar://107462499
  LayoutTests/TestExpectations
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/gtk-wayland/TestExpectations
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/ios-simulator/TestExpectations
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/wincairo/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
Owners: none

REGRESSION(262547@main) ASSERTION FAILED: !m_size.isEmpty() https://bugs.webkit.org/show_bug.cgi?id=255025
  Source/WebKit/Shared/ShareableBitmap.cpp
Owners: none

Unreviewed non-unified build fixes.
  Source/JavaScriptCore/b3/B3Const128Value.cpp
  Source/WebCore/Modules/push-api/PushMessageData.cpp
  Source/WebCore/Modules/webaudio/AudioBuffer.h
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/bindings/js/JSWorkerGlobalScopeCustom.cpp
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/page/PerformanceMark.cpp
Owners: @WebKit/jsc-reviewers, @cdumez, @graouts

Cherry-pick 262573@main (c48d7192b129). https://bugs.webkit.org/show_bug.cgi?id=254957
  LayoutTests/fast/shadow-dom/selection-collapse-expected.txt
  LayoutTests/fast/shadow-dom/selection-collapse.html
  Source/WebCore/page/DOMSelection.cpp
Owners: @cdumez

Cherry-pick 262563@main (155c4f42d9ef). https://bugs.webkit.org/show_bug.cgi?id=254966
  LayoutTests/imported/w3c/web-platform-tests/editing/other/editable-state-and-focus-in-shadow-dom-in-designMode.tentative-expected.txt
  Source/WebCore/html/HTMLElement.cpp
Owners: @cdumez, @rniwa

Support Apple Pay in cross-origin iframes with allow=payment attribute https://bugs.webkit.org/show_bug.cgi?id=226345
  LayoutTests/http/tests/paymentrequest/payment-allow-attribute.https-expected.txt
  Source/WebCore/Modules/applepay/PaymentSession.cpp
Owners: @marcoscaceres

Cherry-pick 262500@main (08d1bd527b97). https://bugs.webkit.org/show_bug.cgi?id=254892
  Source/WebCore/platform/graphics/gstreamer/VideoFrameGStreamer.cpp
Owners: @philn

Cherry-pick 262464@main (7ba7f4d9fb85). https://bugs.webkit.org/show_bug.cgi?id=244757
  LayoutTests/http/tests/text/primary-font-interstitial-expected.html
  LayoutTests/http/tests/text/primary-font-interstitial.html
  LayoutTests/http/tests/text/resources/Gulf-regular.ttf
  Source/WebCore/platform/graphics/FontCascadeFonts.h
  Source/WebCore/platform/graphics/FontRanges.h
Owners: none

Cherry-pick 262405@main (84f510837198). https://bugs.webkit.org/show_bug.cgi?id=252988
  Source/WebKit/WebProcess/WebProcess.h
Owners: @cdumez

Cherry-pick 262156@main (e800fd7a7833). https://bugs.webkit.org/show_bug.cgi?id=254505
  Source/WebKit/WebProcess/Inspector/RemoteWebInspectorUI.cpp
  Source/WebKit/WebProcess/Inspector/WebInspectorUI.cpp
  Source/WebKit/WebProcess/Inspector/WebInspectorUIExtensionController.cpp
  Source/WebKit/WebProcess/Inspector/WebInspectorUIExtensionController.h
  Source/WebKit/WebProcess/Network/NetworkProcessConnection.cpp
  Source/WebKit/WebProcess/Network/WebLoaderStrategy.cpp
  Source/WebKit/WebProcess/Storage/WebSWClientConnection.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebBadgeClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebPermissionController.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebResourceLoadObserver.cpp
  Source/WebKit/WebProcess/WebPage/VisitedLinkTableController.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPageOverlay.cpp
  Source/WebKit/WebProcess/WebStorage/StorageNamespaceImpl.cpp
  Source/WebKit/WebProcess/WebStorage/WebStorageNamespaceProvider.cpp
Owners: @cdumez

Cherry-pick 262051@main (6e4c6ef4ca8a). https://bugs.webkit.org/show_bug.cgi?id=254375
  LayoutTests/editing/execCommand/insert-list-move-paragraph-display-contents-crash-expected.txt
  LayoutTests/editing/execCommand/insert-list-move-paragraph-display-contents-crash.html
  Source/WebCore/editing/InsertListCommand.cpp
Owners: @rniwa

Cherry-pick 261336@main (945b8f4da6d3). https://bugs.webkit.org/show_bug.cgi?id=253487
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Owners: @cdumez

Cherry-pick 261121@main (393d4a1bb437). https://bugs.webkit.org/show_bug.cgi?id=250383
  LayoutTests/fast/scrolling/scroll-max-value-expected.txt
  LayoutTests/fast/scrolling/scroll-max-value.html
  Source/WebCore/rendering/RenderTextControlSingleLine.cpp
Owners: none

Cherry-pick 261145@main (34d9c5fdefdb). https://bugs.webkit.org/show_bug.cgi?id=253296
  Source/WebCore/bindings/js/JSDOMWindowBase.cpp
  Source/WebCore/bindings/js/JSDOMWindowBase.h
Owners: @cdumez

Cherry-pick 261076@main (2c5baee03fa2). https://bugs.webkit.org/show_bug.cgi?id=253067
  Source/WebCore/style/AttributeChangeInvalidation.cpp
Owners: none

[git-webkit] Provide mechanism to exempt bugs from redaction https://bugs.webkit.org/show_bug.cgi?id=254993 rdar://107615755
  Tools/Scripts/hooks/pre-push
  Tools/Scripts/libraries/webkitbugspy/setup.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/__init__.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/bugzilla.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/github.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/issue.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/radar.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tests/bugzilla_unittest.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tests/github_unittest.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tests/radar_unittest.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tracker.py
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/pull_request_unittest.py
  metadata/trackers.json
Owners: @JonWBedard, @facetothefate

[git-webkit] Clarify fork relationship in creation prompt https://bugs.webkit.org/show_bug.cgi?id=254531 rdar://107271252
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/setup_unittest.py
Owners: @facetothefate, @JonWBedard

Use generated code in ReferrerPolicy.cpp https://bugs.webkit.org/show_bug.cgi?id=252962
  Source/WebCore/platform/ReferrerPolicy.cpp
Owners: none

Revert "Cherry-pick fb964650f526. rdar://problem/107485654"
  Source/WebKit/WebProcess/GPU/media/cocoa/VideoLayerRemoteCocoa.mm
Owners: @cdumez

Cherry-pick fb964650f526. rdar://problem/107485654
  Source/WebKit/WebProcess/GPU/media/cocoa/VideoLayerRemoteCocoa.mm
Owners: @cdumez

Remote Web Inspector: Send the `presentingApplicationPID` to the relay process for WKWebViews https://bugs.webkit.org/show_bug.cgi?id=254537 rdar://105636143
  Source/JavaScriptCore/inspector/remote/RemoteInspectionTarget.cpp
  Source/JavaScriptCore/inspector/remote/RemoteInspectionTarget.h
  Source/JavaScriptCore/inspector/remote/RemoteInspector.h
  Source/JavaScriptCore/inspector/remote/cocoa/RemoteInspectorCocoa.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
Owners: @patrickangle, @cdumez

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
