Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

Revert 80706457f5d9. rdar://problem/106903758
  Source/WebCore/html/HTMLMediaElement.cpp
Owners: @cdumez, @rniwa

Revert 87bfcd1ee704. rdar://problem/106903758
  LayoutTests/http/tests/media/autoplay-if-audio-is-playing-expected.txt
  LayoutTests/http/tests/media/autoplay-if-audio-is-playing.html
  LayoutTests/media/media-fullscreen-inline-expected.txt
  LayoutTests/media/media-fullscreen.js
  LayoutTests/media/playlist-inherits-user-gesture.html
  LayoutTests/media/restricted-audio-playback-with-multiple-settimeouts.html
  LayoutTests/platform/glib/media/media-fullscreen-inline-expected.txt
  LayoutTests/platform/glib/media/media-fullscreen-not-in-document-expected.txt
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/FullscreenManager.cpp
  Source/WebCore/html/HTMLMediaElement.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebsitePolicies.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/autoplaying-multiple-media-elements.html
Owners: @rniwa, @cdumez

Versioning.
  Configurations/Version.xcconfig
Owners: none

Cherry-pick 284c71ac630f. rdar://problem/106767160
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.cpp
Owners: @cdumez

Cherry-pick 313f87a7b574. rdar://problem/103107013
  LayoutTests/editing/execCommand/insert-ordered-list-move-paragraph-removes-destination-expected.txt
  LayoutTests/editing/execCommand/insert-ordered-list-move-paragraph-removes-destination.html
  Source/WebCore/editing/CompositeEditCommand.cpp
Owners: @rniwa

Cherry-pick c27c56bff56c. rdar://problem/107117855
  Source/WebKit/GPUProcess/GPUProcess.cpp
Owners: none

Cherry-pick 79f077301b07. rdar://problem/107531050
  Source/JavaScriptCore/runtime/JSModuleRecord.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 2cd8ae7e10ea. rdar://problem/107589983
  Source/WebCore/accessibility/AccessibilityNodeObject.cpp
  Source/WebCore/accessibility/AccessibilityNodeObject.h
Owners: none

Cherry-pick 95cb10c87569. rdar://problem/107652463
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ProcessSwapOnNavigation.mm
Owners: @cdumez

Cherry-pick ff96b4d0c120. rdar://problem/107674710
  Source/WebCore/accessibility/AccessibilityRenderObject.cpp
Owners: none

Cherry-pick 176479519f31. rdar://problem/106559532
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-inline-end-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-inline-end.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-inline-end-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-inline-end.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-inline-end-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-inline-end.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-inline-end-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-inline-end.html
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderFlexibleBox.cpp
Owners: none

Cherry-pick ef3245fe7ca0. rdar://problem/107666160
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
Owners: none

Cherry-pick 0c3876d9cb24. rdar://problem/107713529
  Source/WebCore/rendering/RenderBox.cpp
Owners: none

Cherry-pick abf098f7f5b0. rdar://problem/107295588
  LayoutTests/http/tests/svg/resources/st-search.svg
  LayoutTests/http/tests/svg/use-custom-property-inheritance-expected.html
  LayoutTests/http/tests/svg/use-custom-property-inheritance.html
  Source/WebCore/style/StyleResolver.cpp
  Source/WebCore/style/StyleResolver.h
  Source/WebCore/svg/SVGElement.cpp
Owners: none

Cherry-pick 61f6c4b76a12. rdar://problem/107716194
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemDirectoryHandle-getDirectoryHandle.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemDirectoryHandle-getDirectoryHandle.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemDirectoryHandle-getFileHandle.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemDirectoryHandle-getFileHandle.https.any.worker-expected.txt
  LayoutTests/storage/filesystemaccess/directory-handle-basics-expected.txt
  LayoutTests/storage/filesystemaccess/directory-handle-basics-worker-expected.txt
  LayoutTests/storage/filesystemaccess/resources/directory-handle-basics.js
  Source/WebKit/NetworkProcess/storage/FileSystemStorageError.h
Owners: @cdumez

Regression(262749@main) Assertion failures under LegacyCustomProtocolManager::addCustomProtocol(WTF::RetainPtr<WKCustomProtocol>&&) https://bugs.webkit.org/show_bug.cgi?id=255234 rdar://107838623
  Source/WebKit/NetworkProcess/CustomProtocols/LegacyCustomProtocolID.h
Owners: @cdumez

Refactor post layout data logic to be more platform agnostic https://bugs.webkit.org/show_bug.cgi?id=255175 rdar://106775615
  Source/WebKit/Shared/EditorState.h
  Source/WebKit/Shared/EditorState.serialization.in
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
Owners: @cdumez

[ macOS ] imported/w3c/web-platform-tests/css/css-cascade/layer-counter-style-override.html is a constant text failure. https://bugs.webkit.org/show_bug.cgi?id=255235 rdar://107839125
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Owners: none

Update findElementName() to use switch statements https://bugs.webkit.org/show_bug.cgi?id=255225
  Source/WebCore/dom/make_names.pl
Owners: @rniwa, @cdumez

Review and unskip correct css/css-backgrounds test cases https://bugs.webkit.org/show_bug.cgi?id=255154 <rdar://problem/107761005>
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/background-clip/clip-text-multi-line.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/background-image-none-gradient-repaint.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/background-repeat-space-4.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/background-repeat-space-5.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/background-size-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/background-size/vector/diagonal-percentage-vector-background.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/border-image-6-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/css-border-radius-001.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/linear-gradient-currentcolor-first-line.html
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/mac/TestExpectationsRosetta
  LayoutTests/platform/wpe/TestExpectations
Owners: none

[UI-side compositing] Tab thumbnail sometimes offset by top content inset when entering tab overview https://bugs.webkit.org/show_bug.cgi?id=255152
  Source/WebKit/UIProcess/API/Cocoa/_WKThumbnailView.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKThumbnailViewInternal.h
  Tools/TestWebKitAPI/Tests/WebKit/WKThumbnailView.mm
Owners: @cdumez

Correct PDF Plugin descriptions returned by navigator.plugins[x].description https://bugs.webkit.org/show_bug.cgi?id=255155 <rdar://problem/107756651>
  LayoutTests/dom/html/navigator-plugins-expected.txt
  LayoutTests/dom/html/navigator-plugins.html
  Source/WebCore/page/Navigator.cpp
Owners: @cdumez

Cherry-pick 0fe5a6846d5f. rdar://problem/107721519
  JSTests/stress/intl-durationformat-digital.js
  Source/JavaScriptCore/runtime/IntlDurationFormat.cpp
Owners: @WebKit/jsc-reviewers

REGRESSION: Thumbnail turns blank after choose A3/Tabloid paper size in Print Screen https://bugs.webkit.org/show_bug.cgi?id=255210 rdar://107503946
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
Owners: @cdumez

TextureMapperGL: Support painting to a BitmapTexture instead of the default frame buffer https://bugs.webkit.org/show_bug.cgi?id=255213
  Source/WebCore/platform/graphics/texmap/TextureMapper.h
  Source/WebCore/platform/graphics/texmap/TextureMapperGL.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperGL.h
  Source/WebCore/platform/graphics/texmap/TextureMapperLayer.cpp
  Source/WebKit/GPUProcess/graphics/wc/WCScene.cpp
Owners: none

Cherry-pick 260851@main (e6a31953a657). https://bugs.webkit.org/show_bug.cgi?id=252589
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-default-object-height-constrained-by-max-width-expected.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-default-object-height-constrained-by-max-width.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-default-object-width-constrained-by-max-height-expected.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-default-object-width-constrained-by-max-height.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-inline-size-containment-no-crash.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-intrinsic-width-height.html
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
  Source/WebCore/rendering/RenderReplaced.cpp
Owners: none

Cherry-pick 260857@main (b5f2eee537a0). https://bugs.webkit.org/show_bug.cgi?id=251676
  Source/WebCore/rendering/RenderLayerScrollableArea.cpp
Owners: none

Cherry-pick eeb7fe30a25b. rdar://problem/106559023
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-block-end-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-block-end.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-block-end-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-block-end.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-block-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-block.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-block-end-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-block-end.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-block-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-block.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-block-end-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-block-end.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-block-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-block.html
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderFlexibleBox.cpp
Owners: none

Cherry-pick c69be377e17c. rdar://problem/106559056
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-inline-start-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-inline-start.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-inline-start-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-inline-start.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-inline-start-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-inline-start.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-inline-start-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-inline-start.html
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderFlexibleBox.cpp
Owners: none

[Base system] Crash when accessing soft-linked Objective-C classes while decoding IPC https://bugs.webkit.org/show_bug.cgi?id=255240 rdar://107838765
  Source/WebKit/Shared/Cocoa/ArgumentCodersCocoa.mm
Owners: none

Cherry-pick 9486a59e98a1. rdar://problem/107446275
  Source/WebCore/animation/AnimationEffect.cpp
  Source/WebCore/animation/AnimationEffect.h
  Source/WebCore/animation/CustomEffect.cpp
  Source/WebCore/animation/CustomEffect.h
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/animation/KeyframeEffect.h
Owners: @graouts

Add OMG WASM tracing debug code https://bugs.webkit.org/show_bug.cgi?id=254711 rdar://107394100
  Source/JavaScriptCore/b3/B3Value.cpp
  Source/JavaScriptCore/b3/B3Value.h
  Source/JavaScriptCore/wasm/WasmAirIRGeneratorBase.h
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmOperations.cpp
  Source/JavaScriptCore/wasm/WasmOperationsInlines.h
  Source/JavaScriptCore/wasm/generateWasmB3IRGeneratorInlinesHeader.py
Owners: @WebKit/jsc-reviewers

Versioning.
  Configurations/Version.xcconfig
Owners: none

REGRESSION (262714@main): compile-webkit-without-change step failing on iOS bots due to unexpected arguments https://bugs.webkit.org/show_bug.cgi?id=255229 rdar://107834466
  Tools/CISupport/ews-build/steps.py
Owners: @aj062, @JonWBedard, @ryanhaddad

REGRESSION(262765@main) builtins-generator-tests is failing https://bugs.webkit.org/show_bug.cgi?id=255217
  Source/JavaScriptCore/Scripts/tests/builtins/expected/JavaScriptCore-Builtin.Promise-Combined.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/JavaScriptCore-Builtin.Promise-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/JavaScriptCore-Builtin.prototype-Combined.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/JavaScriptCore-Builtin.prototype-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/JavaScriptCore-BuiltinConstructor-Combined.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/JavaScriptCore-BuiltinConstructor-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/JavaScriptCore-InternalClashingNames-Combined.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCore-AnotherGuardedInternalBuiltin-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCore-ArbitraryConditionalGuard-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCore-GuardedBuiltin-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCore-GuardedInternalBuiltin-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCore-UnguardedBuiltin-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCore-xmlCasingTest-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCoreJSBuiltins.h-result
Owners: @WebKit/jsc-reviewers

[GTK] AcceleratedBackingStoreDMABuf compile error with GBM OFF https://bugs.webkit.org/show_bug.cgi?id=255027
  Source/WebKit/PlatformGTK.cmake
Owners: none

Regenerate ModuleProgramExecutable unlinkedCodeBlock after being destroyed by low memory cleaning https://bugs.webkit.org/show_bug.cgi?id=255044 rdar://104937190
  Source/JavaScriptCore/runtime/ModuleProgramExecutable.cpp
  Source/JavaScriptCore/runtime/ModuleProgramExecutable.h
  Source/JavaScriptCore/runtime/ScriptExecutable.cpp
Owners: @WebKit/jsc-reviewers

Unreviewed, fix internal builds after 262783@main
  Source/WebKit/Shared/Cocoa/ArgumentCodersCocoa.mm
Owners: none

[WGSL] Type checking should allow concretization of variable initializers https://bugs.webkit.org/show_bug.cgi?id=255020 rdar://107647275
  Source/WebGPU/WGSL/Overload.cpp
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/Types.cpp
  Source/WebGPU/WGSL/Types.h
  Source/WebGPU/WGSL/tests/valid/concretization.wgsl
Owners: none

Cherry-pick beefa0360c1e. rdar://problem/107502795
  LayoutTests/css3/flexbox/flex-item-margin-top-no-crash-expected.html
  LayoutTests/css3/flexbox/flex-item-margin-top-no-crash.html
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/rendering/RenderBox.cpp
Owners: none

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
