Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

[JSC][RISCV64] Use GOT for non-local symbols in backend
  Source/JavaScriptCore/offlineasm/riscv64.rb
Owners: @WebKit/jsc-reviewers

REGRESSION (r294902): Overflowed area is not repainted when just changed to "hidden". https://bugs.webkit.org/show_bug.cgi?id=246203 <rdar://problem/100901132>
  LayoutTests/fast/repaint/incorrect-repaint-when-container-changes-from-overflow-visible-to-hidden-expected.txt
  LayoutTests/fast/repaint/incorrect-repaint-when-container-changes-from-overflow-visible-to-hidden.html
  Source/WebCore/rendering/RenderBox.cpp
Owners: none

Implement WebCodecs VideoFrame allocationSize https://bugs.webkit.org/show_bug.cgi?id=246209 rdar://problem/100893685
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-copyTo.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-copyTo.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-copyTo.crossOriginIsolated.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-copyTo.crossOriginIsolated.https.any.worker-expected.txt
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.h
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrameAlgorithms.cpp
  Source/WebCore/platform/graphics/cv/VideoFrameCV.mm
Owners: none

[Outline] Add support for outline with border-radius (inline edition) https://bugs.webkit.org/show_bug.cgi?id=246192
  LayoutTests/fast/inline/inline-outline-with-border-radius-expected.html
  LayoutTests/fast/inline/inline-outline-with-border-radius.html
  LayoutTests/fast/repaint/inline-outline-repaint.html
  Source/WebCore/platform/graphics/PathUtilities.cpp
  Source/WebCore/rendering/BorderPainter.cpp
  Source/WebCore/rendering/BorderPainter.h
  Source/WebCore/rendering/RenderInline.cpp
Owners: none

[iOS] Disable QuickLook thumbnails when using the Web Share API https://bugs.webkit.org/show_bug.cgi?id=246097 rdar://99294213
  Source/WebCore/page/Navigator.cpp
  Source/WebCore/page/ShareData.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/Cocoa/WKShareSheet.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/ios/WKPDFView.mm
Owners: @cdumez

Implement WebCodecsVideoEncoder with GPUProcess backend https://bugs.webkit.org/show_bug.cgi?id=246068 rdar://problem/100798062
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_h264_avc-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/reconfiguring-encoder.https.any.worker_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/reconfiguring-encoder.https.any_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/reconfiguring-encoder.https.any_h264_avc-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/temporal-svc-encoding.https.any_h264-expected.txt
  Source/WebCore/CMakeLists.txt
  Source/WebCore/DerivedSources-input.xcfilelist
  Source/WebCore/DerivedSources-output.xcfilelist
  Source/WebCore/DerivedSources.make
  Source/WebCore/Modules/webcodecs/AvcEncoderConfig.h
  Source/WebCore/Modules/webcodecs/AvcEncoderConfig.idl
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoderConfig.idl
  Source/WebCore/Sources.txt
  Source/WebCore/platform/VideoEncoder.cpp
  Source/WebCore/platform/VideoEncoder.h
  Source/WebKit/WebProcess/GPU/media/RemoteVideoCodecFactory.cpp
  Source/WebKit/WebProcess/GPU/media/RemoteVideoCodecFactory.h
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.cpp
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.h
  Source/WebKit/WebProcess/GPU/webrtc/SharedVideoFrame.h
Owners: @cdumez

Merge 255268@main - Accept image/jpg for compatibility reasons https://bugs.webkit.org/show_bug.cgi?id=246131 rdar://100835192
  LayoutTests/http/tests/images/jpg-invalid-content-type-expected.html
  LayoutTests/http/tests/images/jpg-invalid-content-type.html
  Source/WebCore/platform/MIMETypeRegistry.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferUtilitiesCG.cpp
Owners: none

Merge 255302@main - Cross-Origin-Embedder-Policy incorrectly blocks scripts on cache hit https://bugs.webkit.org/show_bug.cgi?id=245346 rdar://100389164
  LayoutTests/imported/w3c/web-platform-tests/html/cross-origin-embedder-policy/require-corp-worker-script-revalidation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/cross-origin-embedder-policy/require-corp-worker-script-revalidation.html
  LayoutTests/imported/w3c/web-platform-tests/html/cross-origin-embedder-policy/resources/dedicated-worker-supporting-revalidation.py
  Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp
Owners: @cdumez

Merge 255311@main - [JSC][RISCV64] Use GOT for non-local symbols in backend
  Source/JavaScriptCore/offlineasm/riscv64.rb
Owners: @WebKit/jsc-reviewers

Don't copy shorthands in ComputedStyleExtractor::copyProperties() https://bugs.webkit.org/show_bug.cgi?id=246239
  Source/WebCore/css/CSSProperty.h
  Source/WebCore/css/ComputedStyleExtractor.cpp
Owners: none

Unreviewed, reverting r255309@main. https://bugs.webkit.org/show_bug.cgi?id=246253
  LayoutTests/imported/w3c/web-platform-tests/pointerlock/constructor-expected.txt
  LayoutTests/pointer-lock/mouse-event-api-expected.txt
  LayoutTests/pointer-lock/mouse-event-api.html
  Source/WebCore/dom/DragEvent.cpp
  Source/WebCore/dom/DragEvent.h
  Source/WebCore/dom/MouseEvent.cpp
  Source/WebCore/dom/MouseEvent.h
  Source/WebCore/dom/MouseEvent.idl
  Source/WebCore/dom/MouseEventInit.idl
  Source/WebCore/dom/MouseRelatedEvent.cpp
  Source/WebCore/dom/MouseRelatedEvent.h
  Source/WebCore/dom/PointerEvent.cpp
  Source/WebCore/dom/SimulatedClick.cpp
  Source/WebCore/dom/WheelEvent.cpp
  Source/WebCore/page/EventHandler.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKitLegacy/ios/WebView/WebPDFViewPlaceholder.mm
  Source/WebKitLegacy/mac/WebView/WebPDFView.mm
Owners: @rniwa, @cdumez

Fix bug in WeakHashMap::remove(iterator) https://bugs.webkit.org/show_bug.cgi?id=246252 <rdar://100547602>
  Source/WTF/wtf/WeakHashMap.h
  Tools/TestWebKitAPI/Tests/WTF/WeakPtr.cpp
Owners: none

Removing table border attribute should remove the visual border
  LayoutTests/fast/table/border-changes-expected.txt
  LayoutTests/fast/table/border-changes.html
  LayoutTests/fast/table/border-remove-border-attribute-expected.html
  LayoutTests/fast/table/border-remove-border-attribute.html
  Source/WebCore/html/HTMLElement.cpp
Owners: @cdumez, @rniwa

[WK2] Start removal of legacy decoding methods from ArgumentCoder specializations https://bugs.webkit.org/show_bug.cgi?id=246254
  Source/WebKit/Platform/IPC/ArgumentCoders.cpp
  Source/WebKit/Platform/IPC/ArgumentCoders.h
  Source/WebKit/Platform/IPC/darwin/ArgumentCodersDarwin.h
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.h
Owners: @cdumez

AsyncScrolling: move ScrollingTreeScrollingNodeDelegate member to ScrollingTreeScrollingNode https://bugs.webkit.org/show_bug.cgi?id=246211
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNode.cpp
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNode.h
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNodeDelegate.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeFrameScrollingNodeMac.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeFrameScrollingNodeMac.mm
  Source/WebCore/page/scrolling/mac/ScrollingTreeOverflowScrollingNodeMac.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeOverflowScrollingNodeMac.mm
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeFrameScrollingNodeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeFrameScrollingNodeNicosia.h
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeOverflowScrollingNodeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeOverflowScrollingNodeNicosia.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeFrameScrollingNodeRemoteIOS.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeFrameScrollingNodeRemoteIOS.mm
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeOverflowScrollingNodeIOS.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeOverflowScrollingNodeIOS.mm
Owners: @cdumez, @magomez, @zdobersek

Merge 255321@main - Fix bug in WeakHashMap::remove(iterator) https://bugs.webkit.org/show_bug.cgi?id=246252 <rdar://100547602>
  Source/WTF/wtf/WeakHashMap.h
  Tools/TestWebKitAPI/Tests/WTF/WeakPtr.cpp
Owners: none

[GLib] Implement FileSystem::fileID() https://bugs.webkit.org/show_bug.cgi?id=246143
  Source/WTF/wtf/FileSystem.h
  Source/WTF/wtf/glib/FileSystemGlib.cpp
Owners: @WebKit/glib-reviewers

REGRESSION(254232@main): Causes process launching to use fork + exec instead of posix_spawn https://bugs.webkit.org/show_bug.cgi?id=245784
  Source/WebKit/UIProcess/Launcher/glib/ProcessLauncherGLib.cpp
  Source/WebKit/UIProcess/Launcher/glib/XDGDBusProxy.cpp
Owners: @WebKit/glib-reviewers

[IFC][Integration] Fix editing/inserting/insert-br-at-tabspan-002.html https://bugs.webkit.org/show_bug.cgi?id=246251
  Source/WebCore/editing/InsertLineBreakCommand.cpp
Owners: @rniwa

Non-unified build fixes after 255307@main
  Source/WebCore/Modules/reporting/ReportingScope.h
  Source/WebCore/Modules/reporting/ViolationReportType.h
  Source/WebCore/dom/DocumentFullscreen.cpp
  Source/WebCore/dom/DocumentOrShadowRootFullscreen.cpp
  Source/WebCore/dom/FullscreenManager.cpp
Owners: @rniwa, @cdumez

MouseEventInit should take movementX and movementY https://bugs.webkit.org/show_bug.cgi?id=246067
  LayoutTests/imported/w3c/web-platform-tests/pointerlock/constructor-expected.txt
  LayoutTests/pointer-lock/mouse-event-api-expected.txt
  LayoutTests/pointer-lock/mouse-event-api.html
  Source/WebCore/dom/DragEvent.cpp
  Source/WebCore/dom/DragEvent.h
  Source/WebCore/dom/MouseEvent.cpp
  Source/WebCore/dom/MouseEvent.h
  Source/WebCore/dom/MouseEvent.idl
  Source/WebCore/dom/MouseEventInit.idl
  Source/WebCore/dom/MouseRelatedEvent.cpp
  Source/WebCore/dom/MouseRelatedEvent.h
  Source/WebCore/dom/PointerEvent.cpp
  Source/WebCore/dom/SimulatedClick.cpp
  Source/WebCore/dom/WheelEvent.cpp
  Source/WebCore/dom/ios/MouseEventIOS.cpp
  Source/WebCore/dom/ios/PointerEventIOS.cpp
  Source/WebCore/page/EventHandler.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKitLegacy/ios/WebView/WebPDFViewPlaceholder.mm
  Source/WebKitLegacy/mac/WebView/WebPDFView.mm
Owners: @rniwa, @cdumez

[cssom] Serialize the 'all' shorthand in cssText https://bugs.webkit.org/show_bug.cgi?id=190753
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/cssstyledeclaration-csstext-all-shorthand-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/cssstyledeclaration-csstext-all-shorthand.html
  Source/WebCore/css/StyleProperties.cpp
Owners: none

[WTF] Unsafe String concatenation in optimized clang builds https://bugs.webkit.org/show_bug.cgi?id=245640
  Source/WTF/wtf/text/StringView.h
Owners: none

[GPU Process] Enable drawing form controls for GPU Process on macOS https://bugs.webkit.org/show_bug.cgi?id=246264 rdar://69408789
  Source/ThirdParty/libwebrtc/Source/webrtc/api/dtmf_sender_interface.h
  Source/ThirdParty/libwebrtc/Source/webrtc/pc/dtmf_sender.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/pc/dtmf_sender.h
  Source/WebCore/SourcesCocoa.txt
  Source/WebCore/platform/cocoa/LocalCurrentGraphicsContext.h
  Source/WebCore/platform/cocoa/LocalCurrentGraphicsContextSwitcher.cpp
  Source/WebCore/platform/cocoa/LocalCurrentGraphicsContextSwitcher.h
  Source/WebCore/platform/mac/ThemeMac.mm
  Source/WebCore/rendering/RenderTheme.cpp
  Source/WebCore/rendering/RenderThemeMac.h
  Source/WebCore/rendering/RenderThemeMac.mm
  Source/WebKit/WebProcess/GPU/graphics/RemoteDisplayListRecorderProxy.cpp
Owners: @cdumez

InputEvent.inputType is null when triggering Bold/Italic/Underline using execCommand https://bugs.webkit.org/show_bug.cgi?id=201128
  LayoutTests/editing/execCommand/enabling-and-selection-expected.txt
  LayoutTests/editing/execCommand/enabling-and-selection.html
  LayoutTests/fast/forms/plaintext-mode-1-expected.txt
  LayoutTests/fast/forms/plaintext-mode-1.html
  Source/WebCore/editing/EditorCommand.cpp
Owners: @rniwa

[JSC][32bit] HashTable's deletedValue conflict with cell payload https://bugs.webkit.org/show_bug.cgi?id=246179
  JSTests/stress/hash-deleted-value-cell-32.js
  Source/JavaScriptCore/heap/HeapUtil.h
Owners: @WebKit/jsc-reviewers

contentEditable caret is left aligned instead of centered when :before pseudoelement is used
  LayoutTests/editing/selection/caret-in-empty-div-with-pseudo-content-expected.txt
  LayoutTests/editing/selection/caret-in-empty-div-with-pseudo-content.html
  Source/WebCore/rendering/CaretRectComputation.cpp
Owners: @rniwa

[WTF] ASSERT on source pointer before calling memcpy() https://bugs.webkit.org/show_bug.cgi?id=246267
  Source/WTF/wtf/text/StringImpl.h
Owners: none

IPC::Connection::SyncMessageState does not support multiple runloops https://bugs.webkit.org/show_bug.cgi?id=245475
  Source/WebKit/Platform/IPC/Connection.cpp
  Source/WebKit/Platform/IPC/Connection.h
  Source/WebKit/Platform/IPC/cocoa/ConnectionCocoa.mm
  Source/WebKit/Platform/IPC/unix/ConnectionUnix.cpp
  Source/WebKit/Platform/IPC/win/ConnectionWin.cpp
Owners: @cdumez, @WebKit/glib-reviewers

[Flatpak SDK] Runtime is missing Rust support https://bugs.webkit.org/show_bug.cgi?id=246269
  Tools/flatpak/flatpakutils.py
Owners: @philn

[Flatpak SDK] Update and additional component https://bugs.webkit.org/show_bug.cgi?id=246270
  Tools/buildstream/elements/freedesktop-sdk.bst
  Tools/buildstream/elements/sdk-platform.bst
  Tools/buildstream/elements/sdk/rr.bst
Owners: @philn

Fix typo in hash-deleted-value-cell-32.js https://bugs.webkit.org/show_bug.cgi?id=246273
  JSTests/stress/hash-deleted-value-cell-32.js
Owners: @WebKit/jsc-reviewers

[JSC] Update broken links in features.json https://bugs.webkit.org/show_bug.cgi?id=246215
  Source/JavaScriptCore/features.json
Owners: @WebKit/jsc-reviewers

[LFC][IFC] Fix editing/selection/51344.html https://bugs.webkit.org/show_bug.cgi?id=246256
  Source/WebCore/layout/formattingContexts/inline/InlineItemsBuilder.cpp
Owners: none

[IFC][Integration] Fix editing/selection/caret-in-empty-inline-2.html https://bugs.webkit.org/show_bug.cgi?id=246259
  Source/WebCore/rendering/CaretRectComputation.cpp
Owners: none

[IFC][Integration] Fix editing/selection/doubleclick-beside-cr-span.html https://bugs.webkit.org/show_bug.cgi?id=246262
  LayoutTests/fast/inline/hittest-overflowing-inline-content-expected.txt
  LayoutTests/fast/inline/hittest-overflowing-inline-content.html
  Source/WebCore/layout/integration/inline/LayoutIntegrationLine.h
Owners: none

Add a couple details to my contributors.json entry
  metadata/contributors.json
Owners: @JonWBedard

[results.webkit.org] Support test names with ? https://bugs.webkit.org/show_bug.cgi?id=246240 rdar://100917146
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/controller/suite_controller.py
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/controller/test_controller.py
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/static/js/common.js
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/static/js/timeline.js
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/templates/investigate.html
  Tools/Scripts/libraries/webkitflaskpy/webkitflaskpy/util.py
  Tools/Scripts/libraries/webkitflaskpy/webkitflaskpy/util_unittest.py
Owners: @JonWBedard

[GStreamer][MSE] High resolution video playback broken on Odysee.com due to unimplemented changeType operation https://bugs.webkit.org/show_bug.cgi?id=245851
  LayoutTests/media/media-source/media-source-changetype-second-init.html
  LayoutTests/media/media-source/media-source-changetype-support-expected.txt
  LayoutTests/media/media-source/media-source-changetype-support.html
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/media-source/mediasource-changetype-play-without-codecs-parameter-expected.txt
  LayoutTests/platform/glib/media/media-source/media-source-changetype-second-init-expected.txt
  LayoutTests/platform/glib/media/media-source/media-source-changetype-support-expected.txt
  Source/WTF/Scripts/Preferences/WebPreferences.yaml
Owners: none

Clean up UTF-8 conversion code https://bugs.webkit.org/show_bug.cgi?id=233612
  Source/JavaScriptCore/API/JSStringRef.cpp
  Source/JavaScriptCore/runtime/ConsoleClient.cpp
  Source/WTF/wtf/URL.cpp
  Source/WTF/wtf/text/StringImpl.cpp
  Source/WTF/wtf/text/StringImpl.h
  Source/WTF/wtf/text/StringView.h
  Source/WTF/wtf/text/UTF8ConversionError.h
  Source/WTF/wtf/text/WTFString.cpp
  Source/WTF/wtf/text/WTFString.h
  Source/WTF/wtf/unicode/UTF8Conversion.cpp
  Source/WTF/wtf/unicode/UTF8Conversion.h
  Source/WebCore/dom/TextEncoder.cpp
  Source/WebCore/platform/SharedBuffer.cpp
  Source/WebCore/platform/generic/KeyedEncoderGeneric.cpp
  Source/WebCore/workers/ScriptBuffer.cpp
  Source/WebCore/xml/parser/XMLDocumentParserLibxml2.cpp
  Source/WebKit/Shared/API/c/WKString.cpp
Owners: @WebKit/jsc-reviewers, @rniwa, @cdumez
