Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @calvaris, @philn, @ntrrgc, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @graouts

Ignore RID that appears without an a=simulcast entry https://bugs.webkit.org/show_bug.cgi?id=242435 rdar://problem/96586416
  Source/ThirdParty/libwebrtc/Source/webrtc/pc/peer_connection_simulcast_unittest.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/pc/webrtc_sdp.cc
Owners: none

[iOS][WP] Remove more sandbox telemetry https://bugs.webkit.org/show_bug.cgi?id=242441 <rdar://96465126>
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
Owners: none

Lots of missing tiles when scrolling large source files in github https://bugs.webkit.org/show_bug.cgi?id=242424 <rdar://91790051>
  Source/WebCore/rendering/RenderBlock.cpp
Owners: none

Unreviewed, fix the build with older macOS Ventura or iOS 16 SDKs after 252183@main
  Source/WebCore/PAL/pal/spi/cocoa/AVFoundationSPI.h
Owners: none

[WebCore/css/makeprop.pl] Make sure that `CSSPropertyNames.gprof` is generated in a deterministic manner
  Source/WebCore/css/makeprop.pl
Owners: none

[media-controls] promote secondaryValue member from Slider to SliderBase https://bugs.webkit.org/show_bug.cgi?id=242432 <rdar://96583766>
  Source/WebCore/Modules/modern-media-controls/controls/slider-base.js
  Source/WebCore/Modules/modern-media-controls/controls/slider.js
Owners: @dcrousso

[WebAuthn] Test fix after should reject rp with empty id https://bugs.webkit.org/show_bug.cgi?id=242448
  Tools/TestWebKitAPI/Tests/WebKitCocoa/_WKWebAuthenticationPanel.mm
Owners: none

Revert "Cherry-pick 8c5e775d2f16. rdar://problem/96440888"
  Source/ThirdParty/libwebrtc/Source/webrtc/pc/rtp_sender.cc
Owners: none

Revert "Cherry-pick 8c5e775d2f16. rdar://problem/96440888"
  Source/ThirdParty/libwebrtc/Source/webrtc/pc/rtp_sender.cc
Owners: none

[Gardening]: [ iOS Release ] media/media-can-play-mpeg-audio.html is a flaky failure media/media-can-play-mpeg-audio.html
  LayoutTests/platform/ios-wk2/TestExpectations
Owners: none

Crash under MediaPlayerPrivateRemote::durationMediaTime() https://bugs.webkit.org/show_bug.cgi?id=242453 <rdar://96267301>
  Source/WebKit/WebProcess/GPU/media/MediaSourcePrivateRemote.h
Owners: none

[ews-app] Make status url work with git hash https://bugs.webkit.org/show_bug.cgi?id=242442
  Tools/CISupport/ews-app/ews/urls.py
  Tools/CISupport/ews-app/ews/views/status.py
Owners: @aj062, @JonWBedard, @ryanhaddad

[libpas] Fix local_allocator stop race https://bugs.webkit.org/show_bug.cgi?id=242422 rdar://90119067
  Source/bmalloc/libpas/src/libpas/pas_local_allocator.c
  Source/bmalloc/libpas/src/libpas/pas_local_allocator_inlines.h
  Source/bmalloc/libpas/src/libpas/pas_local_allocator_scavenger_data.c
  Source/bmalloc/libpas/src/libpas/pas_local_view_cache.c
Owners: @Constellation

Prevent reentrancy in HTMLFrameElementBase::didFinishInsertingNode https://bugs.webkit.org/show_bug.cgi?id=242446
  LayoutTests/editing/style/apply-style-iframe-crash-expected.txt
  LayoutTests/fast/parser/adoption-agency-clear-focus-range-expected.txt
  LayoutTests/fast/parser/adoption-agency-clear-focus-range.html
  LayoutTests/fast/parser/adoption-agency-crash-02-expected.txt
  Source/WebCore/html/HTMLFrameElementBase.cpp
  Source/WebCore/html/HTMLFrameElementBase.h
Owners: none

[Flatpak SDK] Update to pipewire master https://bugs.webkit.org/show_bug.cgi?id=242455
  Tools/buildstream/patches/fdo-0001-pipewire-base-Track-master-branch.patch
Owners: @JonWBedard

Detect scroll focus scheduling during layout update https://bugs.webkit.org/show_bug.cgi?id=242381
  Source/WebCore/page/FrameView.cpp
Owners: none

Ensure m_backend is valid during use in RTCRtpTransform::attachToReceiver https://bugs.webkit.org/show_bug.cgi?id=242437
  Source/WebCore/Modules/mediastream/RTCRtpTransform.cpp
Owners: none

MediaCapabilities should respect allowed containers and codecs in Captive Portal mode https://bugs.webkit.org/show_bug.cgi?id=242145 <rdar://92419877>
  LayoutTests/media/mediacapabilities/mediacapabilities-allowed-codecs-expected.txt
  LayoutTests/media/mediacapabilities/mediacapabilities-allowed-codecs.html
  LayoutTests/media/mediacapabilities/mediacapabilities-allowed-containers-expected.txt
  LayoutTests/media/mediacapabilities/mediacapabilities-allowed-containers.html
  LayoutTests/platform/gtk/TestExpectations
  Source/WebCore/Modules/mediacapabilities/MediaCapabilities.cpp
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebCore/platform/graphics/cocoa/MediaEngineConfigurationFactoryCocoa.cpp
  Source/WebCore/platform/mediacapabilities/MediaConfiguration.h
Owners: none

Fix some typos in comments. https://bugs.webkit.org/show_bug.cgi?id=242469
  Source/JavaScriptCore/dfg/DFGCSEPhase.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter.asm
  Source/bmalloc/libpas/src/libpas/pas_local_allocator.c
  Source/bmalloc/libpas/src/libpas/pas_local_view_cache.c
Owners: @WebKit/jsc-reviewers, @Constellation

[WebGPU] Temporarily disable Metal-cpp until we can remove the static initializers https://bugs.webkit.org/show_bug.cgi?id=242427 <rdar://problem/96240816>
  Source/WebGPU/Configurations/WebGPU.xcconfig
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
  Source/WebGPU/WebGPU/config.h
Owners: none

[ews-app] Make retrypatch url work with git hash https://bugs.webkit.org/show_bug.cgi?id=242463
  Tools/CISupport/ews-app/ews/views/retrypatch.py
Owners: @aj062, @JonWBedard, @ryanhaddad

Clean up obsolete code comments https://bugs.webkit.org/show_bug.cgi?id=242472
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/rendering/LegacyLineLayout.cpp
Owners: @graouts

New test: [macOS/iOS arm64] TestWebKitAPI.WKContentRuleListStoreTest.CrossOriginCookieBlocking is crashing https://bugs.webkit.org/show_bug.cgi?id=241653
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKContentExtensionStore.mm
Owners: none

[Gardening]: [ MacOS Monterey wk2 Release ] imported/w3c/web-platform-tests/IndexedDB/string-list-ordering.htm is a flaky failure https://bugs.webkit.org/show_bug.cgi?id=242462
  LayoutTests/platform/mac-wk2/TestExpectations
Owners: none

Cleanup changelog references in Introduction.md https://bugs.webkit.org/show_bug.cgi?id=242433
  Introduction.md
Owners: none

[media-controls] Remove additionalControlScaleFactor() from layout traits https://bugs.webkit.org/show_bug.cgi?id=242473 <rdar://96619325>
  Source/WebCore/Modules/modern-media-controls/controls/button.js
  Source/WebCore/Modules/modern-media-controls/controls/layout-traits.js
Owners: @dcrousso

spurious `RELEASE_LOG` when adjusting the size of a `WKWebView` https://bugs.webkit.org/show_bug.cgi?id=242475
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
Owners: none

Don't repaint the outline bounds for (Legacy)RenderSVGModelObjects when their layout changes https://bugs.webkit.org/show_bug.cgi?id=242426 <rdar://problem/96574197>
  Source/WebCore/rendering/LayoutRepainter.cpp
  Source/WebCore/rendering/LayoutRepainter.h
  Source/WebCore/rendering/svg/LegacyRenderSVGContainer.cpp
  Source/WebCore/rendering/svg/LegacyRenderSVGShape.cpp
  Source/WebCore/rendering/svg/RenderSVGContainer.cpp
  Source/WebCore/rendering/svg/RenderSVGImage.cpp
  Source/WebCore/rendering/svg/RenderSVGShape.cpp
Owners: none

[Gardening]: [ macOS wk2 ] fast/css/direct-adjacent-style-sharing-3.html is a flaky failure https://bugs.webkit.org/show_bug.cgi?id=242481
  LayoutTests/platform/mac/TestExpectations
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

[git-webkit] Document checkout pr support https://bugs.webkit.org/show_bug.cgi?id=242480 <rdar://problem/96625142>
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/checkout.py
Owners: @facetothefate, @JonWBedard

Refactor PlaybackSessionModel::externalPlaybackTargetType to use enum class rdar://63360025 https://bugs.webkit.org/show_bug.cgi?id=242476
  Source/WebCore/platform/cocoa/PlaybackSessionModel.h
  Source/WebCore/platform/cocoa/PlaybackSessionModelMediaElement.mm
  Source/WebCore/platform/ios/PlaybackSessionInterfaceAVKit.mm
  Source/WebCore/platform/ios/VideoFullscreenInterfaceAVKit.mm
  Source/WebCore/platform/ios/WebVideoFullscreenControllerAVKit.mm
  Source/WebKit/UIProcess/Cocoa/PlaybackSessionManagerProxy.h
  Source/WebKit/UIProcess/Cocoa/PlaybackSessionManagerProxy.messages.in
  Source/WebKit/UIProcess/Cocoa/PlaybackSessionManagerProxy.mm
  Source/WebKit/WebProcess/cocoa/PlaybackSessionManager.mm
Owners: none

Restructure AVVideoCaptureSource::setupSession to deal with AVCaptureSession allocation failure https://bugs.webkit.org/show_bug.cgi?id=242482 rdar://96626753
  Source/WebCore/platform/mediastream/mac/AVVideoCaptureSource.mm
  Source/WebKit/GPUProcess/cocoa/GPUConnectionToWebProcessCocoa.mm
Owners: none

Partial revert of 252235@main which broke the ASAN build https://bugs.webkit.org/show_bug.cgi?id=242487
  Source/WebGPU/Configurations/WebGPU.xcconfig
Owners: none

[Gardening]: fast/css/display-contents-all.html https://bugs.webkit.org/show_bug.cgi?id=242484
  LayoutTests/platform/mac/TestExpectations
Owners: none

Extend build-and-collect-pgo-profiles to automatically save profiles for testing https://bugs.webkit.org/show_bug.cgi?id=242416 rdar://96560886
  Tools/Scripts/build-and-collect-pgo-profiles
Owners: @JonWBedard

[Gardening]: fast/css/display-contents-all.html https://bugs.webkit.org/show_bug.cgi?id=242484
  LayoutTests/platform/mac/TestExpectations
Owners: none

Add a very simple live-ish resize SPI https://bugs.webkit.org/show_bug.cgi?id=242431
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewInternal.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
Owners: none

Add ability to mask URLs in Error.stack. https://bugs.webkit.org/show_bug.cgi?id=242278 rdar://81991245
  Source/JavaScriptCore/inspector/ScriptCallStackFactory.cpp
  Source/JavaScriptCore/runtime/Error.cpp
  Source/JavaScriptCore/runtime/Error.h
  Source/JavaScriptCore/runtime/ErrorInstance.cpp
  Source/JavaScriptCore/runtime/StackFrame.cpp
  Source/JavaScriptCore/runtime/StackFrame.h
  Source/JavaScriptCore/runtime/VM.h
  Source/WebCore/bindings/js/WebCoreJSClientData.cpp
  Source/WebCore/bindings/js/WebCoreJSClientData.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebViewConfiguration.mm
Owners: @dcrousso, @patrickangle, @WebKit/jsc-reviewers

Delete empty origin directory when possible https://bugs.webkit.org/show_bug.cgi?id=242118
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.h
  Source/WebKit/NetworkProcess/storage/OriginStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/OriginStorageManager.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebsiteDataStoreCustomPaths.mm
Owners: none

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard
/Tools/TestWebKitAPI

# ================================================================================

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn

# ================================================================================

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

/Source/WebCore/Modules/apple-pay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/apple-pay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

# ================================================================================

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts
