Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

[GStreamer][WebRTC] TWCC extension not listed in SDP generated descriptions https://bugs.webkit.org/show_bug.cgi?id=255096
  LayoutTests/platform/glib/fast/mediastream/RTCPeerConnection-inspect-answer-expected.txt
  LayoutTests/platform/glib/fast/mediastream/RTCPeerConnection-inspect-offer-expected.txt
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerWebRTCUtils.cpp
Owners: @philn

[JSC] Expose $addressBits to skip tests than need a lot of virtual address space https://bugs.webkit.org/show_bug.cgi?id=255144
  JSTests/stress/big-wasm-memory-grow-no-max.js
  JSTests/stress/big-wasm-memory-grow.js
  JSTests/stress/big-wasm-memory.js
  JSTests/stress/typed-array-always-large.js
  JSTests/stress/typed-array-eventually-large.js
  JSTests/stress/typed-array-large-eventually-oob.js
  JSTests/stress/typed-array-large-slice.js
  JSTests/wasm/regress/llint-callee-saves-with-fast-memory.js
  JSTests/wasm/stress/externref-result-tuple.js
  JSTests/wasm/v8/huge-memory.js
  JSTests/wasm/v8/huge-typedarray.js
  Tools/Scripts/run-jsc-stress-tests
Owners: @WebKit/jsc-reviewers, @JonWBedard

[GStreamer] test fast/mediastream/getDisplayMedia-size.html fails https://bugs.webkit.org/show_bug.cgi?id=233731
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/fast/mediastream/getDisplayMedia-size-expected.txt
  Source/WebCore/platform/mediastream/gstreamer/MockRealtimeVideoSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/MockRealtimeVideoSourceGStreamer.h
  Source/WebCore/platform/mock/MockRealtimeMediaSourceCenter.cpp
  Source/WebCore/platform/mock/MockRealtimeVideoSource.h
Owners: @philn

[GStreamer][WebRTC] Outgoing tracks are missing SSRCs https://bugs.webkit.org/show_bug.cgi?id=255099
  LayoutTests/fast/mediastream/resources/sdp-utils.js
  LayoutTests/platform/glib/fast/mediastream/RTCPeerConnection-inspect-answer-expected.txt
  LayoutTests/platform/glib/fast/mediastream/RTCPeerConnection-inspect-offer-expected.txt
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.h
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerWebRTCUtils.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerWebRTCUtils.h
  Source/WebCore/platform/mediastream/gstreamer/RealtimeOutgoingAudioSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeOutgoingAudioSourceGStreamer.h
  Source/WebCore/platform/mediastream/gstreamer/RealtimeOutgoingMediaSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeOutgoingMediaSourceGStreamer.h
  Source/WebCore/platform/mediastream/gstreamer/RealtimeOutgoingVideoSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeOutgoingVideoSourceGStreamer.h
Owners: @philn

[buildbot] Create a dedicated property to use for additional run-webkit-tests arguments https://bugs.webkit.org/show_bug.cgi?id=255251 rdar://107852821
  Tools/CISupport/build-webkit-org/config.json
  Tools/CISupport/build-webkit-org/factories.py
  Tools/CISupport/build-webkit-org/loadConfig.py
  Tools/CISupport/build-webkit-org/loadConfig_unittest.py
  Tools/CISupport/build-webkit-org/steps.py
  Tools/CISupport/ews-build/config.json
  Tools/CISupport/ews-build/factories.py
  Tools/CISupport/ews-build/loadConfig.py
  Tools/CISupport/ews-build/loadConfig_unittest.py
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Owners: @aj062, @JonWBedard, @ryanhaddad

Adopt setVolumeCapacityOverride in WKWebsiteDataStoreConfiguration.OriginQuotaRatio https://bugs.webkit.org/show_bug.cgi?id=255122 rdar://107730062
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebsiteDatastore.mm
Owners: none

REGRESSION(262774@main): [ iOS ] editing/selection/ios/selection-handles-in-readonly-input.html is a constant timeout https://bugs.webkit.org/show_bug.cgi?id=255261 rdar://107860599
  LayoutTests/platform/ios/TestExpectations
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
Owners: @cdumez

Enable resource load statistics before running WebSocket cookie tests https://bugs.webkit.org/show_bug.cgi?id=255129 rdar://107684920
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKHTTPCookieStore.mm
Owners: none

Web Content process crash decoding RVItem when selecting phone number on iOS https://bugs.webkit.org/show_bug.cgi?id=255289 rdar://107673064
  Source/WebKit/Shared/Cocoa/ArgumentCodersCocoa.mm
Owners: none

[Cocoa] font-variation-settings:opsz is not applied when text-rendering:optimizeLegibility is set https://bugs.webkit.org/show_bug.cgi?id=254897 rdar://106814619
  LayoutTests/fast/text/variations/optical-sizing-optimizeLegibility-expected-mismatch.html
  LayoutTests/fast/text/variations/optical-sizing-optimizeLegibility.html
  Source/WTF/wtf/PlatformUse.h
  Source/WebCore/platform/graphics/FontTaggedSettings.h
  Source/WebCore/platform/graphics/cocoa/UnrealizedCoreTextFont.cpp
  Source/WebCore/platform/graphics/cocoa/UnrealizedCoreTextFont.h
Owners: none

[ macOS ] 2 http/tests/media/FairPlay tests are broken. (255294) https://bugs.webkit.org/show_bug.cgi?id=255294 rdar://107891205
  LayoutTests/platform/mac/TestExpectations
Owners: none

[ews] mac-wk2 and api-ios appear in the wrong columns in PR comment https://bugs.webkit.org/show_bug.cgi?id=255295 rdar://107894020
  Tools/CISupport/ews-app/ews/common/github.py
Owners: @aj062, @JonWBedard, @ryanhaddad

[WPE] Gardening `fast/writing-mode/japanese-lr-selection`
  LayoutTests/platform/wpe/fast/writing-mode/japanese-lr-selection-expected.txt
Owners: none

Cherry-pick e9cb06ebfbf5. rdar://problem/104937190
  Source/JavaScriptCore/runtime/ModuleProgramExecutable.cpp
  Source/JavaScriptCore/runtime/ModuleProgramExecutable.h
  Source/JavaScriptCore/runtime/ScriptExecutable.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick d86fed1a2d3d. rdar://problem/107838336
  LayoutTests/fast/forms/select/selected-option-update-inner-html-expected.html
  LayoutTests/fast/forms/select/selected-option-update-inner-html.html
  Source/WebCore/html/HTMLSelectElement.cpp
Owners: @cdumez, @rniwa

Cherry-pick 8b609688f1de. rdar://problem/107856292
  Source/JavaScriptCore/runtime/ModuleProgramExecutable.cpp
  Source/JavaScriptCore/runtime/ModuleProgramExecutable.h
  Source/JavaScriptCore/runtime/ScriptExecutable.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick b8ca1cf1bd0f. rdar://problem/107589985
  LayoutTests/accessibility/mac/aria-hidden-changes-for-non-ignored-elements.html
  LayoutTests/accessibility/mac/iframe-aria-hidden-expected.txt
  LayoutTests/accessibility/mac/iframe-aria-hidden.html
  Source/WebCore/accessibility/AXObjectCache.cpp
Owners: none

Cherry-pick 6e4c6ef4ca8a. rdar://problem/106816068
  LayoutTests/editing/execCommand/insert-list-move-paragraph-display-contents-crash-expected.txt
  LayoutTests/editing/execCommand/insert-list-move-paragraph-display-contents-crash.html
  Source/WebCore/editing/InsertListCommand.cpp
Owners: @rniwa

AX: Create TextMarkerRanges based on the TextContent of AXIsolatedObjects. https://bugs.webkit.org/show_bug.cgi?id=255286 <rdar://problem/107883608>
  Source/WebCore/accessibility/AccessibilityObject.cpp
  Source/WebCore/accessibility/AccessibilityObject.h
  Source/WebCore/accessibility/AccessibilityObjectInterface.h
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.h
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.h
  Source/WebCore/accessibility/isolatedtree/mac/AXIsolatedObjectMac.mm
Owners: none

[WGSL] Add more type declarations https://bugs.webkit.org/show_bug.cgi?id=255115 rdar://107726330
  Source/WebGPU/WGSL/TypeDeclarations.rb
  Source/WebGPU/WGSL/tests/valid/overload.wgsl
Owners: none

[Cocoa] "Pop" of bad audio heard at the start of certain YouTube videos https://bugs.webkit.org/show_bug.cgi?id=255212 rdar://106976225
  LayoutTests/media/media-source/media-webm-opus-partial-abort-expected.txt
  LayoutTests/media/media-source/media-webm-opus-partial-abort.html
  LayoutTests/media/media-source/media-webm-opus-partial-expected.txt
  LayoutTests/media/media-source/media-webm-opus-partial.html
  LayoutTests/media/video-test.js
  Source/WebCore/platform/MediaSample.h
  Source/WebCore/platform/graphics/cocoa/CMUtilities.mm
  Source/WebCore/platform/graphics/cocoa/SourceBufferParserWebM.cpp
  Source/WebCore/platform/graphics/cocoa/SourceBufferParserWebM.h
Owners: none

[WGSL] Add type checking for array constructors https://bugs.webkit.org/show_bug.cgi?id=255110 rdar://problem/107722955
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/tests/invalid/array.wgsl
  Source/WebGPU/WGSL/tests/valid/concretization.wgsl
Owners: none

Remove Quirk needsMillisecondResolutionForHighResTimeStamp on icourse163 https://bugs.webkit.org/show_bug.cgi?id=254906 rdar://107486680
  Source/WebCore/dom/ScriptedAnimationController.cpp
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
Owners: @rniwa, @cdumez

Update SPI availability declarations for iOS 16.5 and macOS 13.4 https://bugs.webkit.org/show_bug.cgi?id=255297
  Source/WebKit/UIProcess/API/Cocoa/WKContentRuleListPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKUIDelegatePrivate.h
Owners: @cdumez

CanvasRenderingContext2D::drawImage() doesn't work correctly with transform when copying from self https://bugs.webkit.org/show_bug.cgi?id=255208 rdar://107844963
  LayoutTests/fast/canvas/canvas-self-drawImage-scaled-context-expected.html
  LayoutTests/fast/canvas/canvas-self-drawImage-scaled-context.html
  Source/WebCore/html/canvas/CanvasRenderingContext2DBase.cpp
Owners: @cdumez, @rniwa

Cherry-pick 261029@main (04a684748a69). https://bugs.webkit.org/show_bug.cgi?id=252886
  LayoutTests/media/media-source/media-source-appendbuffer-durationchange-expected.txt
  LayoutTests/media/media-source/media-source-appendbuffer-durationchange.html
  Source/WebCore/Modules/mediasource/SourceBuffer.cpp
  Source/WebCore/Modules/mediasource/SourceBuffer.h
  Source/WebCore/platform/graphics/SourceBufferPrivate.cpp
  Source/WebCore/platform/graphics/SourceBufferPrivate.h
  Source/WebCore/platform/graphics/SourceBufferPrivateClient.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebCore/platform/graphics/gstreamer/mse/AppendPipeline.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.h
  Source/WebCore/platform/mock/mediasource/MockSourceBufferPrivate.cpp
  Source/WebKit/GPUProcess/media/RemoteSourceBufferProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteSourceBufferProxy.h
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.h
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.messages.in
Owners: @philn, @cdumez

Cherry-pick 259548.395@safari-7615.1.26.11-branch (1039f0c3235f). https://bugs.webkit.org/show_bug.cgi?id=254797
  Source/JavaScriptCore/heap/Heap.cpp
  Source/JavaScriptCore/heap/Heap.h
  Source/JavaScriptCore/heap/HeapInlines.h
  Source/JavaScriptCore/runtime/ArgList.cpp
  Source/JavaScriptCore/runtime/ArgList.h
  Source/WebCore/Modules/webaudio/AudioWorkletProcessor.cpp
  Source/WebCore/Modules/webaudio/AudioWorkletProcessor.h
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
Owners: @WebKit/jsc-reviewers, @cdumez

Fix availability version on JSRemoteInspector*InspectionFollowsInternalPolicies https://bugs.webkit.org/show_bug.cgi?id=255299
  Source/JavaScriptCore/API/JSRemoteInspector.h
Owners: @WebKit/jsc-reviewers

[JSC] Fix Object.assign's temporary structure transition https://bugs.webkit.org/show_bug.cgi?id=255304 rdar://107903084
  Source/JavaScriptCore/heap/Heap.cpp
  Source/JavaScriptCore/runtime/JSObject.cpp
Owners: @WebKit/jsc-reviewers

Stop using goto in HTMLDocumentParserFastPath.cpp https://bugs.webkit.org/show_bug.cgi?id=255292
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
Owners: @cdumez, @rniwa

[iOS] ASSERTION FAILED: isMainThread() under WebKit::RemoteGraphicsContextGLProxy::RemoteGraphicsContextGLProxy https://bugs.webkit.org/show_bug.cgi?id=255307 rdar://107905440
  Source/WebKit/WebProcess/GPU/graphics/GraphicsContextGLIdentifier.h
Owners: @cdumez

[macOS] Enable blocking of launchd in sandbox https://bugs.webkit.org/show_bug.cgi?id=255238 rdar://107557660
  Source/WTF/wtf/PlatformEnableCocoa.h
Owners: none

[JSC] Mark Weak in parallel https://bugs.webkit.org/show_bug.cgi?id=255219 rdar://107824755
  Source/JavaScriptCore/heap/Heap.cpp
  Source/JavaScriptCore/heap/IsoCellSetInlines.h
  Source/JavaScriptCore/heap/MarkedBlock.h
  Source/JavaScriptCore/heap/MarkedSpace.cpp
  Source/JavaScriptCore/heap/MarkedSpace.h
  Source/JavaScriptCore/heap/MarkedSpaceInlines.h
  Source/JavaScriptCore/heap/SubspaceInlines.h
  Source/JavaScriptCore/heap/WeakBlock.h
  Source/JavaScriptCore/heap/WeakSet.cpp
  Source/JavaScriptCore/heap/WeakSet.h
Owners: @WebKit/jsc-reviewers

Unreviewed, fix build after 262846@main https://bugs.webkit.org/show_bug.cgi?id=255309 rdar://107909116
  Source/WTF/wtf/ObjectIdentifier.h
  Source/WebKit/Platform/IPC/Connection.h
  Source/WebKit/Platform/IPC/JSIPCBinding.h
  Source/WebKit/Platform/IPC/StreamServerConnection.h
  Source/WebKit/Shared/AuxiliaryProcess.h
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.h
  Source/WebKit/UIProcess/Extensions/WebExtensionController.h
  Source/WebKit/UIProcess/WebProcessPool.h
Owners: @cdumez, @b-weinstein, @xeenon

[macOS][GPUP] Add syscalls required in Recovery OS https://bugs.webkit.org/show_bug.cgi?id=255313 rdar://107902714
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
Owners: @brentfulgham, @pvollan

Correct status of 'LiveRangeSelectionEnabled' from 'testable' to 'stable' https://bugs.webkit.org/show_bug.cgi?id=255306 <rdar://problem/107903680>
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Owners: none

Tracker traffic is blocked even if user grants tracking permission https://bugs.webkit.org/show_bug.cgi?id=254996 rdar://107359915
  Source/WebKit/Scripts/process-entitlements.sh
Owners: none

[iOS] Pan gestures immediately after tap do not scroll a page with an unresponsive viewport https://bugs.webkit.org/show_bug.cgi?id=255300 rdar://106010038
  LayoutTests/fast/events/touch/ios/swipe-after-tap-scrolls-web-view-in-non-responsive-viewport-expected.txt
  LayoutTests/fast/events/touch/ios/swipe-after-tap-scrolls-web-view-in-non-responsive-viewport.html
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Owners: @rniwa, @cdumez

[ macOS ] inspector/dom/getAccessibilityPropertiesForNode.html is a constant failure. https://bugs.webkit.org/show_bug.cgi?id=255290 rdar://problem/107888356
  LayoutTests/inspector/dom/getAccessibilityPropertiesForNode-expected.txt
Owners: @patrickangle

Cherry-pick 262593@main (8c2d475507f7). rdar://problem/106004017
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.mm
  Source/WebCore/platform/mediastream/mac/AVCaptureDeviceManager.mm
  Source/WebCore/platform/mediastream/mac/AVVideoCaptureSource.mm
Owners: none

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
