Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

Web Inspector: Debugger: symbolic breakpoints should work with intrinsic functions https://bugs.webkit.org/show_bug.cgi?id=243994 <rdar://problem/99037335>
  LayoutTests/inspector/debugger/symbolic-breakpoint-intrinsic-js-exact-case-insensitive-expected.txt
  LayoutTests/inspector/debugger/symbolic-breakpoint-intrinsic-js-exact-case-insensitive.html
  LayoutTests/inspector/debugger/symbolic-breakpoint-intrinsic-js-exact-case-sensitive-expected.txt
  LayoutTests/inspector/debugger/symbolic-breakpoint-intrinsic-js-exact-case-sensitive.html
  LayoutTests/inspector/debugger/symbolic-breakpoint-intrinsic-js-regex-case-insensitive-expected.txt
  LayoutTests/inspector/debugger/symbolic-breakpoint-intrinsic-js-regex-case-insensitive.html
  LayoutTests/inspector/debugger/symbolic-breakpoint-intrinsic-js-regex-case-sensitive-expected.txt
  LayoutTests/inspector/debugger/symbolic-breakpoint-intrinsic-js-regex-case-sensitive.html
  Source/JavaScriptCore/dfg/DFGThunks.cpp
  Source/JavaScriptCore/dfg/DFGThunks.h
  Source/JavaScriptCore/ftl/FTLThunks.cpp
  Source/JavaScriptCore/ftl/FTLThunks.h
  Source/JavaScriptCore/inspector/agents/InspectorDebuggerAgent.cpp
  Source/JavaScriptCore/jit/CCallHelpers.cpp
  Source/JavaScriptCore/jit/CCallHelpers.h
  Source/JavaScriptCore/jit/JIT.cpp
  Source/JavaScriptCore/jit/JIT.h
  Source/JavaScriptCore/jit/JITCall.cpp
  Source/JavaScriptCore/jit/JITCode.cpp
  Source/JavaScriptCore/jit/JITCode.h
  Source/JavaScriptCore/jit/JITOpcodes.cpp
  Source/JavaScriptCore/jit/JITOperations.cpp
  Source/JavaScriptCore/jit/JITOperations.h
  Source/JavaScriptCore/jit/JITPropertyAccess.cpp
  Source/JavaScriptCore/jit/JITThunks.cpp
  Source/JavaScriptCore/jit/JITThunks.h
  Source/JavaScriptCore/jit/JSInterfaceJIT.h
  Source/JavaScriptCore/jit/SpecializedThunkJIT.h
  Source/JavaScriptCore/jit/ThunkGenerator.h
  Source/JavaScriptCore/jit/ThunkGenerators.cpp
  Source/JavaScriptCore/jit/ThunkGenerators.h
  Source/JavaScriptCore/runtime/VM.cpp
  Source/JavaScriptCore/runtime/VM.h
Owners: @patrickangle, @WebKit/jsc-reviewers

Cherry-pick cf8a67802961. rdar://problem/106070798
  Source/WebKit/UIProcess/ProcessThrottler.cpp
  Source/WebKit/UIProcess/ProcessThrottler.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
Owners: @cdumez

Revert "Cherry-pick fb964650f526. rdar://problem/107485654"
  Source/WebKit/WebProcess/GPU/media/cocoa/VideoLayerRemoteCocoa.mm
Owners: @cdumez

Unreviewed, remove some dead code from the HTML fast parser https://bugs.webkit.org/show_bug.cgi?id=255032 rdar://107659867
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
Owners: @cdumez, @rniwa

Fix heap-use-after-free MediaPlayer/MediaPlayerPrivateMediaStreamAVFObjC https://bugs.webkit.org/show_bug.cgi?id=254954 rdar://107363228
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/platform/graphics/avfoundation/MediaPlayerPrivateAVFoundation.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaStreamAVFObjC.h
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.h
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.h
  Source/WebCore/platform/graphics/holepunch/MediaPlayerPrivateHolePunch.h
  Source/WebCore/platform/graphics/win/MediaPlayerPrivateMediaFoundation.h
  Source/WebCore/platform/mock/mediasource/MockMediaPlayerMediaSource.h
Owners: @cdumez, @rniwa, @philn

AcceleratedSurfaceDMABuf: clean up configuration arguments https://bugs.webkit.org/show_bug.cgi?id=254994
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreDMABuf.cpp
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreDMABuf.h
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreDMABuf.messages.in
  Source/WebKit/WebProcess/WebPage/gtk/AcceleratedSurfaceDMABuf.cpp
Owners: @WebKit/glib-reviewers

Enable fetch priority hints by default https://bugs.webkit.org/show_bug.cgi?id=255008 rdar://problem/107630350
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Owners: none

[GTK] gardening: fast/repaint/vertical-text-repaint.html
  LayoutTests/platform/gtk/fast/repaint/vertical-text-repaint-expected.txt
Owners: none

Deduplicate headers in generated GeneratedSerializers file https://bugs.webkit.org/show_bug.cgi?id=254547 rdar://107283996
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.cpp
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.h
  Source/WebKit/Scripts/webkit/tests/SerializedTypeInfo.cpp
  Source/WebKit/Scripts/webkit/tests/TestSerializedType.serialization.in
Owners: none

Potential OOB Read in ISOProtectionSystemSpecificHeaderBox::parse(...). https://bugs.webkit.org/show_bug.cgi?id=254931. rdar://107441432.
  Source/WebCore/platform/graphics/iso/ISOProtectionSystemSpecificHeaderBox.cpp
Owners: none

Revert 262184@main https://bugs.webkit.org/show_bug.cgi?id=255041 rdar://107624168
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
Owners: none

Make sure isLatin1() is a no-op for LChar characters https://bugs.webkit.org/show_bug.cgi?id=255040 rdar://107666559
  Source/WTF/wtf/text/StringCommon.h
Owners: none

Add RELEASE_LOG_FAULT when message checks fail in service worker and shared worker connections https://bugs.webkit.org/show_bug.cgi?id=255037 rdar://107665814
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerConnection.cpp
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServerConnection.cpp
Owners: @cdumez

Cherry-pick f06787f3c33a. rdar://problem/107485654
  Source/WebKit/WebProcess/GPU/media/cocoa/VideoLayerRemoteCocoa.mm
Owners: @cdumez

Cherry-pick fb964650f526. rdar://problem/107485654
  Source/WebKit/WebProcess/GPU/media/cocoa/VideoLayerRemoteCocoa.mm
Owners: @cdumez

Enable GPU Process and UI side compositing on macOS https://bugs.webkit.org/show_bug.cgi?id=254725
  Source/WTF/wtf/PlatformEnable.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Tools/MiniBrowser/mac/SettingsController.m
  Tools/Scripts/webkitpy/layout_tests/run_webkit_tests.py
  Tools/Scripts/webkitpy/port/driver.py
  Tools/WebKitTestRunner/Options.cpp
  Tools/WebKitTestRunner/TestOptions.cpp
  Tools/WebKitTestRunner/TestOptions.h
  Tools/WebKitTestRunner/mac/PlatformWebViewMac.mm
  Tools/WebKitTestRunner/mac/main.mm
Owners: @cdumez, @JonWBedard

v2: CrashTracer: com.apple.WebKit.Networking at JavaScriptCore: WTF::StringImpl::hashSlowCase const rdar://106965632
  Source/WebKit/NetworkProcess/storage/CacheStorageDiskStore.cpp
  Source/WebKit/NetworkProcess/storage/CacheStorageDiskStore.h
Owners: @cdumez

Configuring Xcode 14.3 for Embedded Development Fails https://bugs.webkit.org/show_bug.cgi?id=255038 rdar://107664570
  Tools/Scripts/configure-xcode-for-embedded-development
Owners: @JonWBedard

Migrate ServiceWorkerRegistration data to origin directory https://bugs.webkit.org/show_bug.cgi?id=254771 rdar://106385894
  Source/WebCore/Headers.cmake
  Source/WebCore/Sources.txt
  Source/WebCore/platform/WebCorePersistentCoders.cpp
  Source/WebCore/workers/service/ServiceWorkerRegistrationKey.h
  Source/WebCore/workers/service/ServiceWorkerTypes.h
  Source/WebCore/workers/service/server/RegistrationDatabase.cpp
  Source/WebCore/workers/service/server/RegistrationDatabase.h
  Source/WebCore/workers/service/server/RegistrationStore.cpp
  Source/WebCore/workers/service/server/RegistrationStore.h
  Source/WebCore/workers/service/server/SWRegistrationDatabase.cpp
  Source/WebCore/workers/service/server/SWRegistrationDatabase.h
  Source/WebCore/workers/service/server/SWRegistrationStore.h
  Source/WebCore/workers/service/server/SWServer.cpp
  Source/WebCore/workers/service/server/SWServer.h
  Source/WebCore/workers/service/server/SWServerDelegate.h
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkProcess.messages.in
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/NetworkSession.h
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWRegistrationStore.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWRegistrationStore.h
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.h
  Source/WebKit/NetworkProcess/storage/OriginStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/OriginStorageManager.h
  Source/WebKit/NetworkProcess/storage/ServiceWorkerStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/ServiceWorkerStorageManager.h
  Source/WebKit/Sources.txt
  Source/WebKit/UIProcess/API/Cocoa/WKWebsiteDataStore.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebsiteDataStorePrivate.h
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKitCocoa/Badging.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/PushAPI.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ServiceWorkerBasic.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebsiteDataStoreCustomPaths.mm
Owners: @cdumez

Media: Videos opening fullscreen via JS API have duplicated fullscreen controls https://bugs.webkit.org/show_bug.cgi?id=255012 rdar://103032343
  Source/WebKit/UIProcess/WebFullScreenManagerProxy.cpp
  Source/WebKit/UIProcess/WebFullScreenManagerProxy.h
  Source/WebKit/UIProcess/WebFullScreenManagerProxy.messages.in
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenViewController.h
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenViewController.mm
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.cpp
  Source/WebKit/WebProcess/InjectedBundle/InjectedBundlePageFullScreenClient.cpp
  Source/WebKit/WebProcess/InjectedBundle/InjectedBundlePageFullScreenClient.h
Owners: @cdumez

Versioning.
  Configurations/Version.xcconfig
Owners: none

Cherry-pick 262617@main (e7a1365dc511). rdar://107615755
  Tools/Scripts/hooks/pre-push
  Tools/Scripts/libraries/webkitbugspy/setup.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/__init__.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/bugzilla.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/github.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/issue.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/radar.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tests/bugzilla_unittest.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tests/github_unittest.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tests/radar_unittest.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tracker.py
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/pull_request_unittest.py
  metadata/trackers.json
Owners: @JonWBedard, @facetothefate

Cherry-pick 262159@main (a5d5c8528495). rdar://104246259
  Tools/CISupport/buildbot-cmd
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
  Tools/CISupport/runUnittests.py
  Tools/Scripts/webkitpy/autoinstalled/buildbot.py
  Tools/Scripts/webkitpy/autoinstalled/twisted.py
Owners: @aj062, @JonWBedard, @ryanhaddad

Cherry-pick 262630@main (ff31bbc0bcd4). rdar://107664570
  Tools/Scripts/configure-xcode-for-embedded-development
Owners: @JonWBedard

Versioning.
  Configurations/Version.xcconfig
Owners: none

Tracker traffic is blocked even if user grants tracking permission https://bugs.webkit.org/show_bug.cgi?id=254996 rdar://107359915
  Source/WebKit/Scripts/process-entitlements.sh
Owners: none

[git pre-push] Prevent pushing commits for redacted issues https://bugs.webkit.org/show_bug.cgi?id=255043 rdar://107673301
  Tools/Scripts/hooks/pre-push
Owners: @JonWBedard

More build fixes for ANGLE on embedded platforms https://bugs.webkit.org/show_bug.cgi?id=254933 rdar://107570491
  Source/ThirdParty/ANGLE/src/common/apple/apple_platform.h
  Source/ThirdParty/ANGLE/src/common/apple_platform_utils.mm
  Source/ThirdParty/ANGLE/src/common/platform.h
  Source/ThirdParty/ANGLE/src/common/system_utils.cpp
  Source/ThirdParty/ANGLE/src/common/system_utils_posix.cpp
  Source/ThirdParty/ANGLE/src/gpu_info_util/SystemInfo_internal.h
  Source/ThirdParty/ANGLE/src/gpu_info_util/SystemInfo_ios.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/Caps.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/Display.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/formatutils.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/driver_utils.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/driver_utils.h
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/gl/apple/DisplayApple_api.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/gl/renderergl_utils.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/DisplayMtl.mm
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/ShaderMtl.mm
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/mtl_utils.mm
Owners: none

Disable strict secure coding for PKPaymentSetupConfiguration https://bugs.webkit.org/show_bug.cgi?id=255052 rdar://107626990
  Source/WebKit/Shared/Cocoa/ArgumentCodersCocoa.mm
Owners: none

[PlayStation] Fix build after 262631@main https://bugs.webkit.org/show_bug.cgi?id=255053
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
Owners: @cdumez

[git-webkit] Handle edge-case of commit not on branch https://bugs.webkit.org/show_bug.cgi?id=255050 rdar://107676470
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/scm_base.py
Owners: @facetothefate, @JonWBedard

Revert another piece of 262558@main https://bugs.webkit.org/show_bug.cgi?id=255057 rdar://107676726
  Source/WebKit/Shared/Cocoa/ArgumentCodersCocoa.mm
Owners: none

Remove the mechanism for blocking paint on non-final style https://bugs.webkit.org/show_bug.cgi?id=255045 rdar://106805458
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/html/HTMLFrameSetElement.cpp
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/StyleMiscNonInheritedData.cpp
  Source/WebCore/rendering/style/StyleMiscNonInheritedData.h
  Source/WebCore/rendering/svg/RenderSVGRoot.cpp
  Source/WebCore/style/StyleScope.cpp
  Source/WebCore/style/StyleTreeResolver.cpp
Owners: @rniwa, @cdumez

Unreviewed, reverting r262623@main. https://bugs.webkit.org/show_bug.cgi?id=255062
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Owners: none

[Gardening]: [ Debug ] http/tests/security/webaudio-render-remote-audio-allowed-crossorigin.html and one other test are flakey timeouts https://bugs.webkit.org/show_bug.cgi?id=223724 rdar://75817036
  LayoutTests/platform/ios-simulator/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Owners: none

REGRESSION (Safari 16.4): "box-decoration-break: clone" with "padding-right" is missing padding space https://bugs.webkit.org/show_bug.cgi?id=255036 <rdar://problem/107668970>
  LayoutTests/fast/inline/box-decoration-clone-with-padding-end-expected.html
  LayoutTests/fast/inline/box-decoration-clone-with-padding-end.html
  Source/WebCore/layout/formattingContexts/inline/InlineLine.cpp
Owners: none

[Cocoa] Refactor caps lock indicator display logic https://bugs.webkit.org/show_bug.cgi?id=255056 rdar://107582325
  Source/WebCore/rendering/RenderThemeCocoa.mm
Owners: none

[Gardening]: [ BigSur Debug ] http/tests/security/webaudio-render-remote-audio-blocked-no-crossorigin-redirect.html is a flakey timeout https://bugs.webkit.org/show_bug.cgi?id=223759 rdar://75863566
  LayoutTests/platform/mac/TestExpectations
Owners: none

[Cocoa] Transition Legacy Fairplay CDM off AVStreamSession https://bugs.webkit.org/show_bug.cgi?id=254992 rdar://107202864
  LayoutTests/http/tests/media/fairplay/legacy-eme.js
  LayoutTests/http/tests/media/fairplay/legacy-fairplay-error-expected.txt
  LayoutTests/http/tests/media/fairplay/legacy-fairplay-error.html
  LayoutTests/http/tests/media/fairplay/legacy-fairplay-hls-expected.txt
  LayoutTests/http/tests/media/fairplay/legacy-fairplay-hls.html
  LayoutTests/http/tests/media/fairplay/legacy-fairplay-mse-v2-expected.txt
  LayoutTests/http/tests/media/fairplay/legacy-fairplay-mse-v2.html
  LayoutTests/http/tests/media/fairplay/legacy-fairplay-mse-v3-expected.txt
  LayoutTests/http/tests/media/fairplay/legacy-fairplay-mse-v3.html
  LayoutTests/http/tests/media/fairplay/support.js
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/Modules/encryptedmedia/legacy/LegacyCDM.cpp
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.mm
  Source/WebCore/SourcesCocoa.txt
  Source/WebCore/platform/graphics/LegacyCDMSession.h
  Source/WebCore/platform/graphics/avfoundation/CDMPrivateMediaSourceAVFObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/CDMSessionAVContentKeySession.h
  Source/WebCore/platform/graphics/avfoundation/objc/CDMSessionAVContentKeySession.mm
  Source/WebCore/platform/graphics/avfoundation/objc/CDMSessionAVStreamSession.h
  Source/WebCore/platform/graphics/avfoundation/objc/CDMSessionAVStreamSession.mm
  Source/WebCore/platform/graphics/avfoundation/objc/CDMSessionMediaSourceAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaStreamAVFObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferPrivateAVFObjC.mm
  Source/WebCore/platform/graphics/mac/controls/ImageControlsButtonMac.mm
  Source/WebCore/platform/graphics/mac/controls/MenuListButtonMac.mm
  Tools/TestWebKitAPI/Tests/WebCore/cocoa/AVFoundationSoftLinkTest.mm
Owners: none

[Gardening]: [ BigSur Debug ] http/tests/security/webaudio-render-remote-audio-blocked-no-crossorigin.html is a flakey timeout https://bugs.webkit.org/show_bug.cgi?id=224842 rdar://76926339
  LayoutTests/platform/mac/TestExpectations
Owners: none
