Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

[web-animations] make AnimationEffect and derived classes iso-allocated https://bugs.webkit.org/show_bug.cgi?id=254883 rdar://107446275
  Source/WebCore/animation/AnimationEffect.cpp
  Source/WebCore/animation/AnimationEffect.h
  Source/WebCore/animation/CustomEffect.cpp
  Source/WebCore/animation/CustomEffect.h
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/animation/KeyframeEffect.h
Owners: @graouts

JavaScriptCore: Check for jsValue first before checking for isUndefined https://bugs.webkit.org/show_bug.cgi?id=254890
  Source/JavaScriptCore/API/JSValueRef.cpp
Owners: @WebKit/jsc-reviewers

Unreviewed, fix internal Cocoa builds after 262488@main
  Source/WebKit/Platform/cocoa/NetworkConnectionIntegrityHelpers.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebAuthenticationPanel.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
Owners: @cdumez

[IFC] Floats pushed down to LayoutUnit max may trigger unexpected line state https://bugs.webkit.org/show_bug.cgi?id=254891 <rdar://107406900>
  LayoutTests/fast/inline/crash-when-floats-are-pushed-down-expected.txt
  LayoutTests/fast/inline/crash-when-floats-are-pushed-down.html
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingGeometry.cpp
Owners: none

Unreviewed, fix PlayStation build after 262488@main https://bugs.webkit.org/show_bug.cgi?id=254895
  Source/WebKit/UIProcess/API/C/playstation/WKPagePrivatePlayStation.cpp
  Source/WebKit/UIProcess/API/C/playstation/WKView.cpp
  Source/WebKit/UIProcess/playstation/PageClientImpl.cpp
  Source/WebKit/UIProcess/playstation/WebPageProxyPlayStation.cpp
Owners: @cdumez

Enable new WebGL conformance tests, conformance/{more,misc,offscreencanvas,ogles} https://bugs.webkit.org/show_bug.cgi?id=254801 rdar://107460595
  LayoutTests/TestExpectations
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
  LayoutTests/webgl/TestExpectations
Owners: none

Make priority hints tests more stable https://bugs.webkit.org/show_bug.cgi?id=254885
  LayoutTests/TestExpectations
  LayoutTests/http/tests/priority-hints/link-preload-dynamic-insertion.html
  LayoutTests/http/tests/priority-hints/link-preload-initial-load.html
Owners: none

REGRESSION(259869@main): [GStreamer][WebCodecs] 2 tests now crashing https://bugs.webkit.org/show_bug.cgi?id=254892
  Source/WebCore/platform/graphics/gstreamer/VideoFrameGStreamer.cpp
Owners: @philn

[CMake][GTK] Fix typo in GTK Dev Release preset name https://bugs.webkit.org/show_bug.cgi?id=254656
  CMakePresets.json
Owners: none

HTML parser: only adjust approved SVG and MathML attributes https://bugs.webkit.org/show_bug.cgi?id=254755 rdar://107428878
  LayoutTests/html5lib/resources/tests11.dat
  LayoutTests/html5lib/resources/webkit02.dat
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/parsing/html5lib_tests11_run_type=uri-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/parsing/html5lib_tests11_run_type=write-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/parsing/html5lib_tests11_run_type=write_single-expected.txt
  Source/WebCore/WebCore.order
  Source/WebCore/dom/make_names.pl
  Source/WebCore/html/parser/HTMLTreeBuilder.cpp
  Source/WebCore/mathml/mathattrs.in
  Source/WebCore/svg/SVGElement.cpp
  Source/WebCore/svg/svgattrs.in
  Source/WebCore/xml/xmlattrs.in
Owners: @rniwa, @cdumez

Cherry-pick 259548.40@safari-7615-branch (bf2c7c5b03b0). rdar://104598552
  LayoutTests/mathml/mathmltoken-layout-crash-expected.txt
  LayoutTests/mathml/mathmltoken-layout-crash.html
  Source/WebCore/rendering/mathml/RenderMathMLToken.cpp
Owners: none

Cherry-pick 259548.51@safari-7615-branch (44f75343da9e). https://bugs.webkit.org/show_bug.cgi?id=251788
  LayoutTests/fast/css/display-contents-slot-to-none-expected.txt
  LayoutTests/fast/css/display-contents-slot-to-none.html
  Source/WebCore/style/StyleTreeResolver.cpp
Owners: none

Cherry-pick 252432.1044@safari-7614-branch (22cbd76bcc96). rdar://104559684
  LayoutTests/fast/css-grid-layout/grid-stylechange-crash-expected.txt
  LayoutTests/fast/css-grid-layout/grid-stylechange-crash.html
  Source/WebCore/rendering/GridTrackSizingAlgorithm.cpp
  Source/WebCore/rendering/RenderGrid.cpp
  Source/WebCore/rendering/RenderGrid.h
Owners: none

Cherry-pick 259548.45@safari-7615-branch (9930b53ebce1). https://bugs.webkit.org/show_bug.cgi?id=251741
  Source/JavaScriptCore/yarr/YarrJIT.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 259548.70@safari-7615-branch (4f0cd71e42b8). https://bugs.webkit.org/show_bug.cgi?id=247835
  Source/WebCore/Modules/webxr/WebXRRigidTransform.cpp
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.cpp
  Source/WebCore/platform/graphics/transforms/RotateTransformOperation.cpp
  Source/WebCore/platform/graphics/transforms/TransformationMatrix.cpp
  Source/WebCore/platform/graphics/transforms/TransformationMatrix.h
Owners: @graouts

Cherry-pick 256843.9@webkit-2022.12-embargoed (4c3dcd480f7e). https://bugs.webkit.org/show_bug.cgi?id=251014
  LayoutTests/fast/css/content/content-on-focus-change-expected.txt
  LayoutTests/fast/css/content/content-on-focus-change.html
Owners: none

Cherry-pick 259548.39@safari-7615-branch (c68b7da0d9b4). https://bugs.webkit.org/show_bug.cgi?id=251282
  Source/JavaScriptCore/API/JSScript.mm
  Source/JavaScriptCore/API/JSScriptRef.cpp
  Source/JavaScriptCore/inspector/ScriptCallFrame.cpp
  Source/JavaScriptCore/inspector/ScriptCallFrame.h
  Source/JavaScriptCore/inspector/ScriptCallStackFactory.cpp
  Source/JavaScriptCore/interpreter/StackVisitor.cpp
  Source/JavaScriptCore/interpreter/StackVisitor.h
  Source/JavaScriptCore/parser/SourceProvider.cpp
  Source/JavaScriptCore/parser/SourceProvider.h
  Source/JavaScriptCore/runtime/CachedTypes.cpp
  Source/JavaScriptCore/runtime/ScriptExecutable.h
  Source/WebCore/bindings/js/CachedScriptSourceProvider.h
  Source/WebCore/bindings/js/ScriptBufferSourceProvider.h
  Source/WebCore/bindings/js/ScriptModuleLoader.cpp
  Source/WebCore/bindings/js/ScriptSourceCode.h
  Source/WebCore/page/csp/ContentSecurityPolicy.cpp
  Source/WebCore/workers/WorkerGlobalScope.cpp
  Source/WebCore/workers/WorkerThread.cpp
Owners: @WebKit/jsc-reviewers, @patrickangle, @cdumez

Cherry-pick 259548.47@safari-7615-branch (0f2c12121b0a). https://bugs.webkit.org/show_bug.cgi?id=251640
  JSTests/stress/arguments-elimination-should-happen-only-when-stack-slot-is-available-at-replacement-site.js
  Source/JavaScriptCore/dfg/DFGArgumentsEliminationPhase.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 256843.7@webkit-2022.12-embargoed (3b92d70ba3ea). https://bugs.webkit.org/show_bug.cgi?id=245374
  LayoutTests/fast/multicol/nested-columns-out-of-flow-crash-expected.txt
  LayoutTests/fast/multicol/nested-columns-out-of-flow-crash.html
  Source/WebCore/rendering/RenderObject.cpp
  Source/WebCore/rendering/RenderObject.h
Owners: none

Cherry-pick 252432.1045@safari-7614-branch (77446d5c727e). https://bugs.webkit.org/show_bug.cgi?id=248702
  Source/JavaScriptCore/API/JSCallbackConstructor.h
  Source/JavaScriptCore/API/JSCallbackFunction.h
  Source/JavaScriptCore/API/JSClassRef.h
  Source/JavaScriptCore/API/JSWeakObjectMapRefInternal.h
  Source/JavaScriptCore/API/ObjCCallbackFunction.h
  Source/JavaScriptCore/runtime/ClassInfo.h
  Source/JavaScriptCore/runtime/Lookup.h
Owners: @WebKit/jsc-reviewers

Cherry-pick 256843.8@webkit-2022.12-embargoed (fe2f16c1dabe). https://bugs.webkit.org/show_bug.cgi?id=251013
  LayoutTests/fast/layers/normal-flow-dialog-remove-layer-crash-expected.html
  LayoutTests/fast/layers/normal-flow-dialog-remove-layer-crash.html
  Source/WebCore/rendering/RenderLayer.cpp
Owners: none

Cherry-pick 259548.74@safari-7615-branch (25cddfa82335). rdar://105071050
  LayoutTests/mathml/mathml-mover-layout-crash-expected.txt
  LayoutTests/mathml/mathml-mover-layout-crash.html
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/wpe/imported/w3c/web-platform-tests/mathml/relations/html5-tree/dynamic-childlist-002-expected.txt
  Source/WebCore/rendering/mathml/RenderMathMLUnderOver.cpp
Owners: none

Cherry-pick 259548.46@safari-7615-branch (a00a15e7abe0). https://bugs.webkit.org/show_bug.cgi?id=251643
  Source/WTF/wtf/PlatformUse.h
  Source/WebCore/page/MemoryRelease.cpp
  Source/WebCore/platform/audio/HRTFElevation.cpp
  Source/WebCore/platform/audio/HRTFElevation.h
Owners: @cdumez

Cherry-pick 252432.1035@safari-7614-branch (b9851bb36465). https://bugs.webkit.org/show_bug.cgi?id=250722
  Source/WebCore/platform/mediastream/MediaConstraints.h
Owners: none

Cherry-pick 262493@main (9603260a265d). https://bugs.webkit.org/show_bug.cgi?id=254512
  Source/WebKit/UIProcess/API/glib/WebKitUIClient.cpp
Owners: @WebKit/glib-reviewers

[GLib] Crash opening webkit://gpu when XDG_CURRENT_DESKTOP is undefined https://bugs.webkit.org/show_bug.cgi?id=254913
  Source/WebKit/UIProcess/API/glib/WebKitProtocolHandler.cpp
Owners: @WebKit/glib-reviewers

Unreviewed. Update OptionsWPE.cmake and NEWS for the 2.41.1 release
  Source/WebKit/wpe/NEWS
  Source/cmake/OptionsWPE.cmake
Owners: @WebKit/glib-reviewers, @zdobersek

AcceleratedSurfaceDMABuf: use a renderbuffer for fbo color attachment https://bugs.webkit.org/show_bug.cgi?id=254862
  Source/WebKit/WebProcess/WebPage/gtk/AcceleratedSurfaceDMABuf.cpp
  Source/WebKit/WebProcess/WebPage/gtk/AcceleratedSurfaceDMABuf.h
Owners: @WebKit/glib-reviewers

vertical-align doesn't seem to be intuitive/correct https://bugs.webkit.org/show_bug.cgi?id=156662 <rdar://problem/97039168>
  LayoutTests/fast/inline-block/vertical-align-top-and-bottom-expected.txt
  LayoutTests/fast/inline-block/vertical-align-top-and-bottom.html
  Source/WebCore/layout/formattingContexts/inline/InlineLineBoxVerticalAligner.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineLineBoxVerticalAligner.h
Owners: none

Versioning.
  Configurations/Version.xcconfig
Owners: none

Enforce sandbox telemetry rule in the WebContent process https://bugs.webkit.org/show_bug.cgi?id=254280 rdar://106827358
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Owners: @brentfulgham, @pvollan

Address syscall telemetry in Locdown mode https://bugs.webkit.org/show_bug.cgi?id=254285 rdar://106829971
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Owners: @brentfulgham, @pvollan

Web Inspector: Regression(261966@main) Popovers are 2x the correct size on 2x displays https://bugs.webkit.org/show_bug.cgi?id=254899 rdar://107539887
  Source/WebInspectorUI/UserInterface/Views/Popover.css
Owners: @dcrousso, @patrickangle

<input type=radio> crashes in removeInvalidElementToAncestorFromInsertionPoint() during GC https://bugs.webkit.org/show_bug.cgi?id=253860 <rdar://105086386>
  LayoutTests/fast/forms/input-type-radio-form-gc-crash-expected.txt
  LayoutTests/fast/forms/input-type-radio-form-gc-crash.html
  Source/WebCore/html/FormAssociatedCustomElement.cpp
  Source/WebCore/html/FormAssociatedCustomElement.h
  Source/WebCore/html/ValidatedFormListedElement.cpp
  Source/WebCore/html/ValidatedFormListedElement.h
Owners: @cdumez, @rniwa

[WGSL] Fix wgslc's JavaScriptCore dependency https://bugs.webkit.org/show_bug.cgi?id=254823 rdar://107476092
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
Owners: none

Update layout of child frames before hit testing a document if necessary https://bugs.webkit.org/show_bug.cgi?id=253615 rdar://107375598
  LayoutTests/fast/editing/insert-text-hit-testing-crash-expected.txt
  LayoutTests/fast/editing/insert-text-hit-testing-crash.html
  Source/WebCore/dom/Document.cpp
  Source/WebCore/rendering/HitTestRequest.h
Owners: @rniwa, @cdumez

CDMPrivateFairPlayStreaming parsing of WebCore::ISOTrackEncryptionBox can lead to a heap-buffer-overflow. https://bugs.webkit.org/show_bug.cgi?id=254781. rdar://103849722.
  LayoutTests/http/tests/media/fairplay/fps-init-data-sinf-oob-crash-expected.txt
  LayoutTests/http/tests/media/fairplay/fps-init-data-sinf-oob-crash.html
  Source/WebCore/platform/graphics/iso/ISOTrackEncryptionBox.cpp
Owners: none

REGRESSION(258561@main): :user-valid/:user-invalid stopped working https://bugs.webkit.org/show_bug.cgi?id=254571 <rdar://problem/107300848>
  LayoutTests/imported/w3c/web-platform-tests/css/selectors/user-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/selectors/user-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/selectors/user-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/selectors/user-valid.html
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/css/selectors/user-invalid-expected.txt
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/css/selectors/user-valid-expected.txt
  Source/WebCore/html/HTMLFormControlElement.h
Owners: @cdumez, @rniwa

Versioning.
  Configurations/Version.xcconfig
Owners: none

Handle lone surrogates correctly for non-UTF-8 encodings https://bugs.webkit.org/show_bug.cgi?id=254888 rdar://107530253
  LayoutTests/fast/url/query-expected.txt
  LayoutTests/fast/url/query.html
  LayoutTests/imported/w3c/web-platform-tests/html/infrastructure/urls/resolving-urls/query-encoding/lone-surrogates.sub_encoding=windows-1252-expected.txt
  Source/WebCore/PAL/pal/text/TextCodec.cpp
Owners: none
