Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

Use variable template declarations for GCGLSpanTuple, ArrayReferenceTuple https://bugs.webkit.org/show_bug.cgi?id=246923
  Source/WebCore/platform/graphics/GraphicsTypesGL.h
  Source/WebCore/platform/graphics/angle/GraphicsContextGLANGLE.cpp
  Source/WebKit/Platform/IPC/ArgumentCoders.h
  Source/WebKit/Platform/IPC/ArrayReferenceTuple.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxy.cpp
Owners: @cdumez

[web-animations] commitStyles() fails to commit a relative line-height value https://bugs.webkit.org/show_bug.cgi?id=246914
  LayoutTests/imported/w3c/web-platform-tests/web-animations/interfaces/Animation/commitStyles-expected.txt
  Source/WebCore/css/ComputedStyleExtractor.cpp
Owners: none

[GTK][WPE] AsyncScrolling: notify scrolling tree about display refresh through ThreadedCompositor client https://bugs.webkit.org/show_bug.cgi?id=246940
  Source/WebKit/Shared/CoordinatedGraphics/threadedcompositor/ThreadedCompositor.cpp
  Source/WebKit/Shared/CoordinatedGraphics/threadedcompositor/ThreadedCompositor.h
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHost.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHost.h
Owners: @magomez, @zdobersek

[WK2] ArgumentCoder<std::tuple<...>> should decode elements directly into std::optional<> values https://bugs.webkit.org/show_bug.cgi?id=246510
  Source/WebKit/Platform/IPC/ArgumentCoders.h
  Source/WebKit/Platform/IPC/DaemonDecoder.h
Owners: @cdumez

Share libwpe gamepad code https://bugs.webkit.org/show_bug.cgi?id=246934
  Source/WebCore/PlatformPlayStation.cmake
  Source/WebCore/PlatformWPE.cmake
  Source/WebCore/SourcesWPE.txt
  Source/WebCore/platform/gamepad/libwpe/GamepadLibWPE.cpp
  Source/WebCore/platform/gamepad/libwpe/GamepadLibWPE.h
  Source/WebCore/platform/gamepad/libwpe/GamepadProviderLibWPE.cpp
  Source/WebCore/platform/gamepad/libwpe/GamepadProviderLibWPE.h
  Source/WebKit/PlatformPlayStation.cmake
  Source/WebKit/SourcesWPE.txt
  Source/WebKit/UIProcess/API/wpe/WPEView.cpp
  Source/WebKit/UIProcess/Gamepad/libwpe/UIGamepadProviderLibWPE.cpp
Owners: @WebKit/glib-reviewers, @donny-dont, @zdobersek

AX: Make animated image experimental feature respect preferences https://bugs.webkit.org/show_bug.cgi?id=246737
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/testing/Internals.cpp
  Source/WebKit/Platform/spi/Cocoa/AccessibilitySupportSPI.h
  Source/WebKit/Shared/AccessibilityPreferences.cpp
  Source/WebKit/Shared/AccessibilityPreferences.h
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebProcess.h
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Owners: @cdumez

Enable DEVELOPER_MODE_FATAL_WARNINGS by default https://bugs.webkit.org/show_bug.cgi?id=246871
  Source/cmake/WebKitCompilerFlags.cmake
Owners: @mcatanzaro

SVG rendering ignores xml:space="preserve" attribute for text
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/svg/import/text-tspan-02-b-manual-expected.txt
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1-SE/text-tspan-02-b-expected.png
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1-SE/text-tspan-02-b-expected.txt
  LayoutTests/platform/ios-simulator/imported/w3c/web-platform-tests/svg/import/text-tspan-02-b-manual-expected.txt
  LayoutTests/platform/ios/svg/W3C-SVG-1.1-SE/text-tspan-02-b-expected.txt
  LayoutTests/platform/mac/imported/w3c/web-platform-tests/svg/import/text-tspan-02-b-manual-expected.txt
  LayoutTests/platform/mac/svg/W3C-SVG-1.1-SE/text-tspan-02-b-expected.png
  LayoutTests/platform/mac/svg/W3C-SVG-1.1-SE/text-tspan-02-b-expected.txt
  Source/WebCore/css/svg.css
Owners: none

Mac MiniBrowser should match Safari's behavior for anchor links to javascript URLs https://bugs.webkit.org/show_bug.cgi?id=246950 rdar://101502667
  Tools/MiniBrowser/mac/WK2BrowserWindowController.m
Owners: @JonWBedard

When table cell have inline children which change writing-mode, the cell overflows its contents
  LayoutTests/fast/writing-mode/table-vertical-child-width-expected.html
  LayoutTests/fast/writing-mode/table-vertical-child-width.html
  Source/WebCore/rendering/RenderBlockFlow.cpp
Owners: none

Resync contain-intrinsic-size/contain-intrinsic-size-032.html from WPT https://bugs.webkit.org/show_bug.cgi?id=246944
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/contain-intrinsic-size-032-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/contain-intrinsic-size-032.html
Owners: none

[iOS] Add a warning banner upon entering element fullscreen https://bugs.webkit.org/show_bug.cgi?id=246872 rdar://101435275
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenViewController.h
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenViewController.mm
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
Owners: @cdumez

Unreviewed, drop clobberWorld since it is not necessary https://bugs.webkit.org/show_bug.cgi?id=246954 rdar://101506332
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
Owners: @WebKit/jsc-reviewers

[WPE] fast/css/font-systemFontID-parsing.html is failing https://bugs.webkit.org/show_bug.cgi?id=188973
  LayoutTests/platform/wpe/TestExpectations
Owners: none

[Cocoa] Potential channel count mismatch in CARingBuffer FetchABL https://bugs.webkit.org/show_bug.cgi?id=246951 rdar://100412139
  Source/WebCore/platform/audio/cocoa/CARingBuffer.cpp
Owners: none

font-style: oblique with calc() should allow out-of-range angles, and clamp them for computed style https://bugs.webkit.org/show_bug.cgi?id=246909 rdar://problem/101484863
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/variations/at-font-face-descriptors-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/variations/font-parse-numeric-stretch-style-weight-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/variations/font-style-parsing-expected.txt
  Source/WebCore/css/CSSFontFace.cpp
  Source/WebCore/css/parser/CSSPropertyParserWorkerSafe.cpp
  Source/WebCore/style/StyleBuilderConverter.h
Owners: none

With macOS UI-side compositing, point-mapping in ScrollView should map through the scroll position https://bugs.webkit.org/show_bug.cgi?id=246910 rdar://101468086
  Source/WebCore/platform/ScrollView.cpp
  Source/WebCore/platform/ScrollView.h
Owners: none

Add feature flag for SiteIsolation and use it to begin making new process for cross-origin iframes https://bugs.webkit.org/show_bug.cgi?id=246902
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
  Tools/WebKitTestRunner/TestController.cpp
Owners: @cdumez, @JonWBedard

Move frame tree insertion to AbstractFrame constructor https://bugs.webkit.org/show_bug.cgi?id=246903
  Source/WebCore/page/AbstractFrame.cpp
  Source/WebCore/page/AbstractFrame.h
  Source/WebCore/page/Frame.cpp
  Source/WebCore/page/Frame.h
  Source/WebCore/page/RemoteFrame.cpp
  Source/WebCore/page/RemoteFrame.h
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Source/WebKitLegacy/mac/WebView/WebFrame.mm
  Source/WebKitLegacy/win/WebCoreSupport/WebFrameLoaderClient.cpp
Owners: @cdumez

[JSC] Enable Options::useShadowRealms when WebAPIsInShadowRealms feature is enabled BUG=https://bugs.webkit.org/show_bug.cgi?id=246827
  Source/WebCore/page/Frame.cpp
Owners: @cdumez

Versioning.
  Configurations/Version.xcconfig
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

[iOS] Copying and pasting unnamed PDF data into Mail compose should insert an attachment https://bugs.webkit.org/show_bug.cgi?id=246894 rdar://96853551
  Source/WebCore/Configurations/WebCore.xcconfig
  Source/WebCore/platform/ios/PasteboardIOS.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKAttachmentTests.mm
Owners: none

HTMLFieldSetElement shouldn't be allowed as an interaction region https://bugs.webkit.org/show_bug.cgi?id=246879 <rdar://100420346>
  Source/WebCore/page/InteractionRegion.cpp
Owners: @cdumez

Cherry-pick 0297f1253a4f. rdar://problem/100252023
  Source/WebKit/NetworkProcess/storage/SQLiteStorageArea.cpp
  Source/WebKit/NetworkProcess/storage/SQLiteStorageArea.h
Owners: @cdumez

Add "committer" status to mdubet
  metadata/contributors.json
Owners: @JonWBedard

Cherry-pick 219edafe86a2. rdar://problem/100369677
  LayoutTests/fast/forms/placeholder-content-center-line-height-greater-than-content-height-expected.html
  LayoutTests/fast/forms/placeholder-content-center-line-height-greater-than-content-height.html
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/win/TestExpectations
  Source/WebCore/rendering/RenderTextControlSingleLine.cpp
Owners: none

Cherry-pick 2a37b4991267. rdar://problem/98444538
  Source/WebCore/dom/TreeScopeOrderedMap.cpp
Owners: @rniwa, @cdumez

Cherry-pick 2bf7fb96494b. rdar://problem/99248832
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/contain-paint-050-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/contain-paint-050-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/contain-paint-050.html
  Source/WebCore/page/FrameView.cpp
Owners: @cdumez

Cherry-pick 2fe23935f668. rdar://problem/98584661
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.cpp
Owners: none

Cherry-pick 7545fa38ae64. rdar://problem/98089709
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-grid-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-grid-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-grid-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-004-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-fieldset-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-fieldset-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-fieldset-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-flex-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-flex-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-flex-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-flex-004-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-grid-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-grid-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-grid-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-line-clamp-001.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-line-clamp-002.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-line-clamp-003.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-overflow-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-overflow-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-overflow-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-table-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-table-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-table-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-justify-baseline-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-justify-baseline-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-justify-baseline-004-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-table-001-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-table-002-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-table-003-expected.txt
  Source/WebCore/rendering/GridBaselineAlignment.cpp
  Source/WebCore/rendering/GridBaselineAlignment.h
  Source/WebCore/rendering/GridTrackSizingAlgorithm.cpp
  Source/WebCore/rendering/RenderGrid.cpp
  Source/WebCore/rendering/RenderGrid.h
Owners: none

Cherry-pick 7957e0705174. rdar://problem/100882674
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-flex-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-flex-004-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-table-001-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-table-002-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-table-003-expected.txt
  Source/WebCore/rendering/OrderIterator.cpp
  Source/WebCore/rendering/OrderIterator.h
  Source/WebCore/rendering/RenderFlexibleBox.cpp
  Source/WebCore/rendering/RenderFlexibleBox.h
Owners: none

Cherry-pick 9290cdbf360c. rdar://problem/100804084
  Source/WebCore/platform/audio/AudioSourceProvider.h
  Source/WebCore/platform/audio/gstreamer/AudioSourceProviderGStreamer.cpp
  Source/WebCore/platform/audio/gstreamer/AudioSourceProviderGStreamer.h
  Source/WebCore/platform/graphics/avfoundation/AudioSourceProviderAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/AudioSourceProviderAVFObjC.mm
  Source/WebCore/platform/mediastream/mac/WebAudioSourceProviderCocoa.h
  Source/WebCore/platform/mediastream/mac/WebAudioSourceProviderCocoa.mm
Owners: @philn

Cherry-pick 93cd3ae9d2bd. rdar://problem/100412101
  Source/WebKit/GPUProcess/media/RemoteAudioDestinationManager.cpp
Owners: none

Cherry-pick 96ac9c31b19e. rdar://problem/99338799
  JSTests/stress/do-not-use-global-object-from-create-global-object.js
  Source/JavaScriptCore/jsc.cpp
  Source/JavaScriptCore/tools/JSDollarVM.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick a035a72e61b9. rdar://problem/96854364
  Source/WebCore/platform/ios/PlatformPasteboardIOS.mm
  Tools/TestWebKitAPI/Configurations/TestWebKitAPI.xcconfig
  Tools/TestWebKitAPI/Tests/WebKitCocoa/dump-datatransfer-types.html
  Tools/TestWebKitAPI/Tests/ios/UIPasteboardTests.mm
Owners: none

Cherry-pick a7e014a01430. rdar://problem/99506835
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-004-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-005-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-006-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-007-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-fieldset-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-fieldset-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-fieldset-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-flex-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-flex-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-flex-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-flex-004-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-grid-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-grid-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-grid-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-line-clamp-001.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-line-clamp-002.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-line-clamp-003.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-overflow-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-overflow-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-overflow-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-table-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-table-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-table-003-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-table-001-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-table-002-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-table-003-expected.txt
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.h
  Source/WebCore/rendering/RenderFlexibleBox.cpp
Owners: none

Cherry-pick b20dead5847d. rdar://problem/100268173
  Source/WebCore/rendering/RenderTextControlSingleLine.cpp
Owners: none

Cherry-pick b569d5070a64. rdar://problem/100533812
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.h
Owners: @WebKit/jsc-reviewers

Cherry-pick bda70c08fc70. rdar://problem/99755477
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-aspect-ratio-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-aspect-ratio.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-intrinsic-width-height-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-intrinsic-width-height.html
  Source/WebCore/rendering/RenderReplaced.cpp
  Source/WebCore/rendering/RenderReplaced.h
  Source/WebCore/rendering/RenderVideo.cpp
  Source/WebCore/rendering/RenderVideo.h
Owners: none
