Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

Add support for collecting stats on CSS selector operation functions. https://bugs.webkit.org/show_bug.cgi?id=254877 rdar://10752100
  Source/WebCore/cssjit/SelectorCompiler.cpp
Owners: none

Start restricting object serialization which doesn't use the new IPC format. https://bugs.webkit.org/show_bug.cgi?id=253756 rdar://106594341
  Source/WebCore/PAL/pal/spi/cocoa/NSKeyedUnarchiverSPI.h
  Source/WebKit/Platform/Logging.h
  Source/WebKit/Shared/Cocoa/ArgumentCodersCocoa.mm
  Source/WebKit/Shared/Cocoa/WebCoreArgumentCodersCocoa.serialization.in
Owners: @cdumez

Don't show 'cursor: pointer' on unclickable <area> by updating UA Stylesheet
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/the-css-user-agent-style-sheet-and-presentational-hints/mouse-cursor-imagemap-expected.txt
  Source/WebCore/css/html.css
Owners: none

PC_GCRYPT_FOUND should be checked in FindLibGcrypt.cmake https://bugs.webkit.org/show_bug.cgi?id=254402
  Source/cmake/FindLibGcrypt.cmake
Owners: none

[JSC] RegExpGlobalData::performMatch issue leading to OOB read https://bugs.webkit.org/show_bug.cgi?id=254930 rdar://107436732
  JSTests/stress/string-replace-regexp-matchBOL-correct-advancing.js
  Source/JavaScriptCore/runtime/StringPrototype.cpp
  Source/JavaScriptCore/yarr/YarrInterpreter.cpp
Owners: @WebKit/jsc-reviewers

Unreviewed attempt to fix Catalyst build after 262488@main https://bugs.webkit.org/show_bug.cgi?id=254964 rdar://107591818
  Source/WebKit/UIProcess/WebPageProxy.cpp
Owners: @cdumez

Cherry-pick 262515@main (5ee4d1e42570). rdar://107560898
  metadata/commit_classes.json
Owners: @JonWBedard

Cherry-pick 262384@main (d214979f6147). rdar://106390107
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/mocks/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/publish.py
Owners: @facetothefate, @JonWBedard

Cherry-pick 262406@main (a07fdbb0871f). rdar://107447403
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/cherry_pick.py
Owners: @facetothefate, @JonWBedard

Update fast/scrolling/mac/scrollbars tests to use new UIHelper scrollbar state function https://bugs.webkit.org/show_bug.cgi?id=254698 rdar://107389069
  LayoutTests/fast/scrolling/mac/scrollbars/overflow-in-iframe-overlay-scrollbar-hovered.html
  LayoutTests/fast/scrolling/mac/scrollbars/overflow-in-iframe-overlay-scrollbar-reveal.html
  LayoutTests/fast/scrolling/mac/scrollbars/overflow-overlay-scrollbar-hovered.html
  LayoutTests/fast/scrolling/mac/scrollbars/overflow-overlay-scrollbar-reveal.html
  LayoutTests/fast/scrolling/mac/scrollbars/overlay-scrollbar-hovered.html
  LayoutTests/fast/scrolling/mac/scrollbars/overlay-scrollbar-reveal.html
  LayoutTests/fast/scrolling/mac/scrollbars/overlay-scrollbar-state-expected.txt
  LayoutTests/fast/scrolling/mac/scrollbars/overlay-scrollbar-state.html
  LayoutTests/fast/scrolling/mac/scrollbars/scrollbar-state-expected.txt
  LayoutTests/fast/scrolling/mac/scrollbars/scrollbar-state.html
  LayoutTests/fast/scrolling/mac/scrollbars/select-overlay-scrollbar-hovered.html
  LayoutTests/fast/scrolling/mac/scrollbars/select-overlay-scrollbar-reveal.html
  LayoutTests/fast/scrolling/mac/scrollbars/very-wide-overlay-scrollbar.html
  LayoutTests/resources/ui-helper.js
Owners: none

[Win] Enable ProcessSwapOnCrossSiteNavigationEnabled by default https://bugs.webkit.org/show_bug.cgi?id=254939
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Owners: none

designMode should not affect shadow tree https://bugs.webkit.org/show_bug.cgi?id=254966
  LayoutTests/imported/w3c/web-platform-tests/editing/other/editable-state-and-focus-in-shadow-dom-in-designMode.tentative-expected.txt
  Source/WebCore/html/HTMLElement.cpp
Owners: @cdumez, @rniwa

Update HTMLFastPathParser::scanText() to return a String https://bugs.webkit.org/show_bug.cgi?id=254963
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
Owners: @cdumez, @rniwa

Apply Pay buttons don't paint in BifurcatedGraphicsContext's secondary context https://bugs.webkit.org/show_bug.cgi?id=254971 rdar://106769942
  Source/WebCore/platform/graphics/BifurcatedGraphicsContext.cpp
  Source/WebCore/platform/graphics/BifurcatedGraphicsContext.h
Owners: none

AX: aria-owns attribute does not work as expected for role radio https://bugs.webkit.org/show_bug.cgi?id=151498 rdar://75885927
  LayoutTests/accessibility/aria-controls-expected.txt
  LayoutTests/accessibility/aria-controls.html
  LayoutTests/accessibility/aria-flowto.html
  LayoutTests/accessibility/aria-grid-with-aria-owns-rows.html
  LayoutTests/accessibility/aria-owns-cycles-expected.txt
  LayoutTests/accessibility/aria-owns-cycles.html
  LayoutTests/accessibility/aria-owns-expected.txt
  LayoutTests/accessibility/aria-owns-hierarchy-remap-expected.txt
  LayoutTests/accessibility/aria-owns-hierarchy-remap.html
  LayoutTests/accessibility/aria-owns.html
  LayoutTests/accessibility/element-reflection-ariaactivedescendant-expected.txt
  LayoutTests/accessibility/element-reflection-ariaactivedescendant.html
  LayoutTests/accessibility/element-reflection-ariacontrols-expected.txt
  LayoutTests/accessibility/element-reflection-ariacontrols.html
  LayoutTests/accessibility/element-reflection-ariaflowto-expected.txt
  LayoutTests/accessibility/element-reflection-ariaflowto.html
  LayoutTests/accessibility/element-reflection-ariaowns-expected.txt
  LayoutTests/accessibility/element-reflection-ariaowns.html
  LayoutTests/accessibility/grid-with-aria-owned-cells.html
  LayoutTests/accessibility/mac/aria-tree-activedescendant.html
  LayoutTests/accessibility/mac/aria-treegrid-expected.txt
  LayoutTests/accessibility/mac/aria-treegrid.html
  LayoutTests/accessibility/mac/table-headers-attribute.html
  LayoutTests/accessibility/mac/treeitem-row-delegation-expected.txt
  LayoutTests/accessibility/mac/treeitem-row-delegation.html
  LayoutTests/accessibility/svg-labelledby-expected.txt
  LayoutTests/accessibility/svg-labelledby.html
  LayoutTests/accessibility/text-alternative-calculation-hidden-nodes-expected.txt
  LayoutTests/accessibility/text-alternative-calculation-hidden-nodes.html
  LayoutTests/platform/glib/accessibility/text-alternative-calculation-hidden-nodes-expected.txt
  LayoutTests/platform/gtk/inspector/dom/getAccessibilityPropertiesForNode-expected.txt
  LayoutTests/platform/mac/accessibility/aria-controls-expected.txt
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AXObjectCache.h
  Source/WebCore/accessibility/AccessibilityNodeObject.cpp
  Source/WebCore/accessibility/AccessibilityNodeObject.h
  Source/WebCore/accessibility/AccessibilityRenderObject.cpp
  Source/WebCore/dom/Element.cpp
  Source/WebCore/page/LocalFrameView.cpp
Owners: @rniwa, @cdumez

Avoid calling ref() of NetworkStorageManager in its constructor https://bugs.webkit.org/show_bug.cgi?id=254849 rdar://107492842
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
Owners: @cdumez

PC_GCRYPT_FOUND should be checked in FindLibGcrypt.cmake https://bugs.webkit.org/show_bug.cgi?id=254402
  Source/cmake/FindLibGcrypt.cmake
Owners: none

[WinCairo] Unreviewed test gardening
  LayoutTests/platform/wincairo/TestExpectations
  LayoutTests/platform/wincairo/editing/selection/doubleclick-crash-expected.txt
  LayoutTests/platform/wincairo/fast/dom/HTMLMeterElement/meter-element-expected.txt
Owners: none

Unreviewed, fix !ENABLE(ACCESSIBILITY) build following 262566@main https://bugs.webkit.org/show_bug.cgi?id=254977
  Source/WebCore/accessibility/AXObjectCache.h
Owners: none

GraphicsContextGLANGLE duplicates constructor and accessors across platforms https://bugs.webkit.org/show_bug.cgi?id=254907 rdar://problem/107548342
  Source/WebCore/platform/graphics/angle/GraphicsContextGLANGLE.cpp
  Source/WebCore/platform/graphics/angle/GraphicsContextGLANGLE.h
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.mm
  Source/WebCore/platform/graphics/gbm/GraphicsContextGLANGLELinux.cpp
  Source/WebCore/platform/graphics/texmap/GraphicsContextGLTextureMapperANGLE.cpp
Owners: none

[WPE][Debug] ASSERTION FAILED: !m_compositingAccordingToProxyMessages https://bugs.webkit.org/show_bug.cgi?id=254917
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.cpp
Owners: @magomez, @zdobersek

REGRESSION(259904@main): Comment editor on huffpost.com doesn't update the caret position after inserting new line https://bugs.webkit.org/show_bug.cgi?id=254957 <rdar://106426103>
  LayoutTests/fast/shadow-dom/selection-collapse-expected.txt
  LayoutTests/fast/shadow-dom/selection-collapse.html
  Source/WebCore/page/DOMSelection.cpp
Owners: @cdumez

Cherry-pick 262572@main (42d171124def). https://bugs.webkit.org/show_bug.cgi?id=254917
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.cpp
Owners: @magomez, @zdobersek

Cherry-pick 262568@main (2bbc81a78b68). https://bugs.webkit.org/show_bug.cgi?id=254402
  Source/cmake/FindLibGcrypt.cmake
Owners: none

[WPE] Gardening `accessibility/color-input-value-changes.html`
  LayoutTests/platform/wpe/TestExpectations
Owners: none

REGRESSION(262518@main) [cairo] Crash under GraphicsContextGL::paintToCanvas https://bugs.webkit.org/show_bug.cgi?id=254942
  Source/WebCore/platform/graphics/NativeImage.h
  Source/WebCore/platform/graphics/cairo/GraphicsContextGLCairo.cpp
  Source/WebCore/platform/graphics/cairo/NativeImageCairo.cpp
Owners: @magomez, @zdobersek

AcceleratedSurfaceDMABuf: properly handle modifier values https://bugs.webkit.org/show_bug.cgi?id=254937
  Source/WebCore/platform/graphics/gbm/DMABufFormat.h
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreDMABuf.cpp
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreDMABuf.h
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreDMABuf.messages.in
  Source/WebKit/WebProcess/WebPage/gtk/AcceleratedSurfaceDMABuf.cpp
Owners: @WebKit/glib-reviewers

Revert 262487@main https://bugs.webkit.org/show_bug.cgi?id=254970 rdar://107581037
  LayoutTests/platform/ios-simulator-wk2/TestExpectations
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/html/shadow/MediaControlTextTrackContainerElement.cpp
  Source/WebCore/platform/graphics/TextTrackRepresentation.cpp
  Source/WebCore/platform/graphics/TextTrackRepresentation.h
  Source/WebCore/platform/graphics/cocoa/TextTrackRepresentationCocoa.h
  Source/WebCore/platform/graphics/cocoa/TextTrackRepresentationCocoa.mm
  Source/WebCore/platform/ios/VideoFullscreenInterfaceAVKit.h
  Source/WebCore/platform/ios/VideoFullscreenInterfaceAVKit.mm
  Source/WebKit/UIProcess/Cocoa/VideoFullscreenManagerProxy.h
  Source/WebKit/UIProcess/Cocoa/VideoFullscreenManagerProxy.messages.in
  Source/WebKit/UIProcess/Cocoa/VideoFullscreenManagerProxy.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/cocoa/TextTrackRepresentationCocoa.h
  Source/WebKit/WebProcess/cocoa/VideoFullscreenManager.h
  Source/WebKit/WebProcess/cocoa/VideoFullscreenManager.mm
Owners: @cdumez, @rniwa

Fix equals() for GlyphDisplayListCacheEntryHash https://bugs.webkit.org/show_bug.cgi?id=254941 rdar://107416408
  LayoutTests/fast/rendering/glyph-display-list-cache-crash-expected.txt
  LayoutTests/fast/rendering/glyph-display-list-cache-crash.html
  Source/WebCore/rendering/GlyphDisplayListCache.h
Owners: none

Unreviewed, reverting r262577@main. https://bugs.webkit.org/show_bug.cgi?id=254995
  LayoutTests/platform/ios-simulator-wk2/TestExpectations
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/html/shadow/MediaControlTextTrackContainerElement.cpp
  Source/WebCore/platform/graphics/TextTrackRepresentation.h
  Source/WebCore/platform/graphics/cocoa/TextTrackRepresentationCocoa.h
  Source/WebCore/platform/graphics/cocoa/TextTrackRepresentationCocoa.mm
  Source/WebCore/platform/ios/VideoFullscreenInterfaceAVKit.h
  Source/WebCore/platform/ios/VideoFullscreenInterfaceAVKit.mm
  Source/WebKit/UIProcess/Cocoa/VideoFullscreenManagerProxy.h
  Source/WebKit/UIProcess/Cocoa/VideoFullscreenManagerProxy.messages.in
  Source/WebKit/UIProcess/Cocoa/VideoFullscreenManagerProxy.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/cocoa/TextTrackRepresentationCocoa.h
  Source/WebKit/WebProcess/cocoa/VideoFullscreenManager.h
  Source/WebKit/WebProcess/cocoa/VideoFullscreenManager.mm
Owners: @cdumez, @rniwa

Unreviewed build fix after 262488@main https://bugs.webkit.org/show_bug.cgi?id=254997
  Source/WebKit/UIProcess/Cocoa/TextCheckingController.mm
Owners: @cdumez

Update HTMLFastPathParser::scanAttributeValue() to return an AtomString https://bugs.webkit.org/show_bug.cgi?id=254962
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
Owners: @cdumez, @rniwa

Use more ICU surrogate code point macros https://bugs.webkit.org/show_bug.cgi?id=254984 rdar://107602109
  Source/JavaScriptCore/runtime/JSImmutableButterfly.cpp
  Source/JavaScriptCore/runtime/RegExpObjectInlines.h
  Source/WTF/wtf/text/StringImpl.cpp
  Source/WebCore/PAL/pal/text/TextCodec.cpp
  Source/WebCore/css/parser/CSSTokenizer.cpp
  Source/WebCore/dom/TextEncoderStreamEncoder.cpp
  Source/WebCore/dom/TextEncoderStreamEncoder.h
Owners: @WebKit/jsc-reviewers, @rniwa, @cdumez

Cherry-pick bc8d5b0f582f. rdar://problem/107300848
  LayoutTests/imported/w3c/web-platform-tests/css/selectors/user-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/selectors/user-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/selectors/user-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/selectors/user-valid.html
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/css/selectors/user-invalid-expected.txt
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/css/selectors/user-valid-expected.txt
  Source/WebCore/html/HTMLFormControlElement.h
Owners: @cdumez, @rniwa

[macOS] Stop ProcessThrottler for dead processes https://bugs.webkit.org/show_bug.cgi?id=254838 rdar://106070798
  Source/WebKit/UIProcess/ProcessThrottler.cpp
  Source/WebKit/UIProcess/ProcessThrottler.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
Owners: @cdumez

Cherry-pick 262394@main (90d00dc15a7b). rdar://107322119
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/cssom-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/invalid-inner-rules-expected.txt
  Source/WebCore/css/CSSGroupingRule.cpp
  Source/WebCore/css/CSSGroupingRule.h
  Source/WebCore/css/CSSRule.cpp
  Source/WebCore/css/CSSRule.h
  Source/WebCore/css/CSSStyleRule.cpp
  Source/WebCore/css/CSSStyleSheet.cpp
  Source/WebCore/css/CSSStyleSheet.h
  Source/WebCore/css/StyleRule.cpp
  Source/WebCore/css/StyleRule.h
  Source/WebCore/css/StyleSheetContents.h
  Source/WebCore/css/parser/CSSParser.cpp
  Source/WebCore/css/parser/CSSParser.h
  Source/WebCore/css/parser/CSSParserImpl.cpp
  Source/WebCore/css/parser/CSSParserImpl.h
  Source/WebCore/css/parser/CSSSelectorParser.cpp
Owners: none

Cherry-pick 262552@main (951180b3bdc6). rdar://107582190
  Source/ThirdParty/libwebrtc/Configurations/Base.xcconfig
Owners: none

Cherry-pick 262555@main (6d90410e92df). rdar://107582190
  Source/JavaScriptCore/API/ObjCCallbackFunction.mm
  Source/WebCore/editing/cocoa/DataDetection.mm
Owners: @WebKit/jsc-reviewers, @rniwa

Add console logging message to missing or late showNotification calls in service worker https://bugs.webkit.org/show_bug.cgi?id=254811 rdar://problem/107471641
  LayoutTests/TestExpectations
  LayoutTests/http/wpt/service-workers/push-console-messages-no-showNotification.https-expected.txt
  LayoutTests/http/wpt/service-workers/push-console-messages-no-showNotification.https.html
  LayoutTests/http/wpt/service-workers/push-console-messages-showNotification-async.https-expected.txt
  LayoutTests/http/wpt/service-workers/push-console-messages-showNotification-async.https.html
  LayoutTests/http/wpt/service-workers/push-console-messages-showNotification-late.https-expected.txt
  LayoutTests/http/wpt/service-workers/push-console-messages-showNotification-late.https.html
  LayoutTests/http/wpt/service-workers/push-console-messages-showNotification-sync.https-expected.txt
  LayoutTests/http/wpt/service-workers/push-console-messages-showNotification-sync.https.html
  LayoutTests/http/wpt/service-workers/push-console-messages-worker.js
  LayoutTests/http/wpt/service-workers/push-console-messages.js
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebCore/testing/ServiceWorkerInternals.cpp
  Source/WebCore/testing/ServiceWorkerInternals.h
  Source/WebCore/testing/ServiceWorkerInternals.idl
  Source/WebCore/workers/WorkerGlobalScope.h
  Source/WebCore/workers/service/ServiceWorkerGlobalScope.cpp
  Source/WebCore/workers/service/ServiceWorkerGlobalScope.h
  Source/WebCore/workers/service/ServiceWorkerRegistration.cpp
  Source/WebCore/workers/service/context/SWContextManager.h
  Source/WebCore/workers/service/context/ServiceWorkerThread.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerToContextConnection.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerToContextConnection.h
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerToContextConnection.messages.in
  Source/WebKit/UIProcess/API/Cocoa/WKWebsiteDataStore.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebsiteDataStoreDelegate.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.messages.in
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.h
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStoreClient.h
  Source/WebKit/WebProcess/Storage/WebSWContextManagerConnection.cpp
  Source/WebKit/WebProcess/Storage/WebSWContextManagerConnection.h
  Tools/WebKitTestRunner/TestController.cpp
  Tools/WebKitTestRunner/TestController.h
  Tools/WebKitTestRunner/cocoa/TestWebsiteDataStoreDelegate.mm
Owners: @cdumez, @JonWBedard

Update Source/JavaScriptCore/API/JSAPIWrapperObject.mm
  Source/JavaScriptCore/API/JSAPIWrapperObject.mm
Owners: @WebKit/jsc-reviewers

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
