Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

Skip out-of-scope elements when searching TreeScopeOrderedMap https://bugs.webkit.org/show_bug.cgi?id=246419 rdar://101091930
  Source/WebCore/dom/TreeScopeOrderedMap.cpp
Owners: @rniwa, @cdumez

Remove invalid assertion hit on 30 API tests since 255719@main https://bugs.webkit.org/show_bug.cgi?id=246759 rdar://101344112
  Source/WebKit/UIProcess/FrameLoadState.cpp
  Source/WebKit/UIProcess/FrameLoadState.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
Owners: @cdumez

Move FrameIdentifier from Frame to AbstractFrame https://bugs.webkit.org/show_bug.cgi?id=246758 rdar://101347931
  Source/WebCore/page/AbstractFrame.cpp
  Source/WebCore/page/AbstractFrame.h
  Source/WebCore/page/Frame.cpp
  Source/WebCore/page/Frame.h
  Source/WebCore/page/RemoteFrame.cpp
  Source/WebCore/page/RemoteFrame.h
Owners: @cdumez

Delete update-wasm-gcc-torture.py https://bugs.webkit.org/show_bug.cgi?id=246767 rdar://101352641
  Tools/Scripts/update-wasm-gcc-torture.py
Owners: @JonWBedard

Disable search for meeting registration entries https://bugs.webkit.org/show_bug.cgi?id=246770
  Websites/webkit.org/wp-content/plugins/meeting-registration/plugin.php
Owners: none

Set HAVE_MAP_ALIGNED flag as OFF in OptionsPlayStation.cmake [https://bugs.webkit.org/show_bug.cgi?id=246763](https://bugs.webkit.org/show_bug.cgi?id=246763)
  Source/cmake/OptionsPlayStation.cmake
Owners: none

[GTK] -Wunused-function warnings when building with GTK 4 https://bugs.webkit.org/show_bug.cgi?id=246713
  Tools/TestWebKitAPI/Tests/WebKitGLib/TestDownloads.cpp
  Tools/TestWebKitAPI/Tests/WebKitGLib/TestOptionMenu.cpp
Owners: @WebKit/glib-reviewers

Fix -Wformat warning from 255745@main https://bugs.webkit.org/show_bug.cgi?id=246634
  Source/WebCore/platform/audio/gstreamer/AudioSourceProviderGStreamer.cpp
Owners: @philn

Remove dead code in WKDateTimeInputControl https://bugs.webkit.org/show_bug.cgi?id=246731 rdar://101237159
  Source/WTF/wtf/PlatformHave.h
  Source/WebKit/UIProcess/ios/forms/WKDateTimeInputControl.mm
Owners: @cdumez

Cherry-pick 09496e855222. rdar://problem/100873493
  Source/WTF/wtf/EnumTraits.h
  Source/WebCore/platform/graphics/GraphicsContextState.cpp
  Source/WebCore/platform/graphics/Path.h
Owners: none

Cherry-pick 0efae6b49e5c. rdar://problem/99897147
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-scroll-snap/snap-to-visible-areas-both-expected.txt
  Source/WebCore/page/scrolling/ScrollSnapOffsetsInfo.cpp
Owners: @cdumez

Cherry-pick 3c6b4ac4654c. rdar://problem/100647287
  LayoutTests/TestExpectations
  Source/WebCore/rendering/svg/LegacyRenderSVGContainer.cpp
  Source/WebCore/rendering/svg/LegacyRenderSVGTransformableContainer.cpp
  Source/WebCore/rendering/svg/LegacyRenderSVGTransformableContainer.h
Owners: none

[Gardening]: REGRESSION?(255711@main): [ macOS Debug wk2 ] 3X ASSERTION FAILED: !needsLayout() (layout tests) are constant crashes https://bugs.webkit.org/show_bug.cgi?id=246773
  LayoutTests/platform/mac-wk2/TestExpectations
Owners: none

Cherry-pick 43c46e90c400. rdar://problem/100604972
  Source/WTF/wtf/spi/darwin/SandboxSPI.h
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKit/SyscallUnixSandboxCheck.mm
Owners: @cdumez

Cherry-pick 4b8892b1ab9c. rdar://problem/99780447
  LayoutTests/TestExpectations
  Source/WebCore/rendering/RenderBlockFlow.cpp
Owners: none

Cherry-pick 4c88d2e1e4e3. rdar://problem/84550571
  Source/WebKit/Platform/IPC/StreamConnectionBuffer.h
Owners: @cdumez

Fix -Wreturn-type warning from 255736@main https://bugs.webkit.org/show_bug.cgi?id=246487
  Source/JavaScriptCore/wasm/generateWasmOpsHeader.py
Owners: @WebKit/jsc-reviewers

Cherry-pick 501296a3e648. rdar://problem/100737724
  LayoutTests/TestExpectations
  Source/WebCore/platform/ScrollSnapAnimatorState.cpp
Owners: none

Cherry-pick 69059cf01c12. rdar://problem/97021716
  Source/WebKit/UIProcess/Cocoa/WebViewImpl.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/PrepareForMoveToWindow.mm
Owners: @cdumez

WebFrame should own an AbstractFrame instead of a Frame https://bugs.webkit.org/show_bug.cgi?id=246774 rdar://101355716
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.h
Owners: @cdumez

Mark svg/gradients/spreadMethodClose2.svg as expected fail on macOS https://bugs.webkit.org/show_bug.cgi?id=246772 <rdar://problem/101354140>
  LayoutTests/platform/mac/TestExpectations
Owners: none

Cherry-pick 6cfe0a4e9efc. rdar://problem/100477469
  Source/WebCore/html/HTMLMediaElement.h
  Source/WebCore/html/MediaElementSession.cpp
  Source/WebCore/platform/graphics/MediaUsageInfo.h
Owners: @cdumez, @rniwa

Cherry-pick 78726649cdde. rdar://problem/100547602
  Source/WTF/wtf/WeakHashMap.h
  Tools/TestWebKitAPI/Tests/WTF/WeakPtr.cpp
Owners: none

Cherry-pick 848a8058df32. rdar://problem/100329828
  LayoutTests/http/wpt/webauthn/public-key-credential-get-failure-u2f-silent.https.html
  LayoutTests/http/wpt/webauthn/public-key-credential-get-failure-u2f.https.html
  Source/WebKit/UIProcess/WebAuthentication/fido/U2fAuthenticator.cpp
  Source/WebKit/UIProcess/WebAuthentication/fido/U2fAuthenticator.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/web-authentication-get-assertion-u2f-no-credentials.html
Owners: @cdumez

Cherry-pick 8913e90d9b69. rdar://problem/100028649
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/animation/color-interpolation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-contrast-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-contrast-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-mix-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-mix-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-mixed-num-pct-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/relative-color-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/relative-color-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/relative-color-valid-expected.txt
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/platform/graphics/ColorConversion.cpp
  Source/WebCore/platform/graphics/ColorSerialization.cpp
Owners: none

Cherry-pick 92d0f2039e48. rdar://problem/100604972
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Owners: @cdumez

[WTF] MediaTime: compute flags on multiplication with doubles https://bugs.webkit.org/show_bug.cgi?id=246746
  Source/WTF/wtf/MediaTime.cpp
  Tools/TestWebKitAPI/Tests/WTF/MediaTime.cpp
Owners: none

Cherry-pick a6b1febb7774. rdar://problem/100231009
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-contrast-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-contrast-computed.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-contrast-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-contrast-valid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-mix-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-mix-computed.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-mix-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-mix-valid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-valid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/relative-color-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/relative-color-computed.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/relative-color-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/relative-color-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/relative-color-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/relative-color-valid.html
Owners: none

Cherry-pick a728674047d7. rdar://problem/101003928
  LayoutTests/imported/w3c/web-platform-tests/css/css-scroll-snap/scroll-target-margin-005-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-scroll-snap/scroll-target-margin-005.html
  Source/WebCore/page/FrameView.cpp
Owners: @cdumez

[PlayStation] Build fix after 255724@main https://bugs.webkit.org/show_bug.cgi?id=246779
  Source/WebCore/PlatformPlayStation.cmake
Owners: none

Cherry-pick c9b6f8603f3a. rdar://problem/34281872
  LayoutTests/platform/mac/fast/css/continuationCrash-expected.txt
  LayoutTests/platform/mac/fast/forms/button-sizes-expected.txt
  LayoutTests/platform/mac/fast/forms/control-restrict-line-height-expected.txt
  LayoutTests/platform/mac/fast/forms/input-appearance-spinbutton-expected.txt
  LayoutTests/platform/mac/fast/forms/number/number-appearance-spinbutton-disabled-readonly-expected.txt
  LayoutTests/platform/mac/fast/forms/select-list-box-with-height-expected.txt
  LayoutTests/platform/mac/fast/forms/select/optgroup-rendering-expected.txt
  LayoutTests/platform/mac/tables/mozilla/bugs/bug2479-3-expected.txt
  LayoutTests/platform/mac/tables/mozilla/bugs/bug26178-expected.txt
Owners: none

Cherry-pick d6bea689bd25. rdar://problem/99777985
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/parsing/grid-shorthand-serialization-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/parsing/grid-shorthand-serialization.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/parsing/grid-shorthand-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/parsing/grid-shorthand-valid.html
  Source/WebCore/css/StyleProperties.cpp
Owners: none

RegisterSet build fix https://bugs.webkit.org/show_bug.cgi?id=246781
  Source/JavaScriptCore/jit/Reg.h
  Source/JavaScriptCore/jit/Width.h
Owners: @WebKit/jsc-reviewers

Cherry-pick dc7fdb2e0a35. rdar://problem/100516446
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.cpp
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.h
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderBlock.h
  Source/WebCore/rendering/RenderBlockFlow.cpp
  Source/WebCore/rendering/RenderBlockFlow.h
  Source/WebCore/rendering/RenderBox.h
Owners: none

Cherry-pick df01a61834c7. rdar://problem/101108536
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.mm
Owners: @cdumez

Cherry-pick e093fe3f0975. rdar://problem/99193252
  LayoutTests/TestExpectations
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderBox.h
  Source/WebCore/rendering/RenderFlexibleBox.cpp
  Source/WebCore/rendering/RenderFlexibleBox.h
  Source/WebCore/rendering/RenderReplaced.cpp
Owners: none

Cherry-pick fd57a49d07c9. rdar://problem/100494823
  Source/JavaScriptCore/dfg/DFGClobberize.h
Owners: @WebKit/jsc-reviewers

Cherry-pick 1431af177119. rdar://problem/101344112
  Source/WebKit/UIProcess/FrameLoadState.cpp
  Source/WebKit/UIProcess/FrameLoadState.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
Owners: @cdumez

Sanitize lookalike characters in shared link URLs https://bugs.webkit.org/show_bug.cgi?id=246761
  Source/WebCore/rendering/HitTestResult.cpp
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
Owners: @cdumez

[IFC][Integration] Enable "-webkit-box-decoration-break: clone" for IFC https://bugs.webkit.org/show_bug.cgi?id=246749
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.cpp
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.h
Owners: none

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
