Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

Add initial slew of tests for wide-layout attachment https://bugs.webkit.org/show_bug.cgi?id=254203 rdar://106984208
  LayoutTests/TestExpectations
  LayoutTests/fast/attachment/cocoa/wide-attachment-class-expected.html
  LayoutTests/fast/attachment/cocoa/wide-attachment-class.html
  LayoutTests/fast/attachment/cocoa/wide-attachment-default-icon-expected.html
  LayoutTests/fast/attachment/cocoa/wide-attachment-default-icon.html
  LayoutTests/fast/attachment/cocoa/wide-attachment-dom-expected.txt
  LayoutTests/fast/attachment/cocoa/wide-attachment-dom.html
  LayoutTests/fast/attachment/cocoa/wide-attachment-folder-icon-expected.html
  LayoutTests/fast/attachment/cocoa/wide-attachment-folder-icon.html
  LayoutTests/fast/attachment/cocoa/wide-attachment-icon-from-file-extension-expected.html
  LayoutTests/fast/attachment/cocoa/wide-attachment-icon-from-file-extension.html
  LayoutTests/fast/attachment/cocoa/wide-attachment-id-expected.html
  LayoutTests/fast/attachment/cocoa/wide-attachment-id.html
  LayoutTests/fast/attachment/cocoa/wide-attachment-rendering.html
  LayoutTests/fast/attachment/cocoa/wide-attachment-save-event-expected.txt
  LayoutTests/fast/attachment/cocoa/wide-attachment-save-event.html
  LayoutTests/fast/attachment/cocoa/wide-attachment-uti-expected.html
  LayoutTests/fast/attachment/cocoa/wide-attachment-uti.html
  LayoutTests/fast/attachment/cocoa/wide-attachment-wrapping-action-expected-mismatch.html
  LayoutTests/fast/attachment/cocoa/wide-attachment-wrapping-action.html
  LayoutTests/fast/attachment/mac/wide-attachment-element-gpu-process-expected.html
  LayoutTests/fast/attachment/mac/wide-attachment-element-gpu-process.html
  LayoutTests/fast/attachment/mac/wide-attachment-image-controls-basic-expected.txt
  LayoutTests/fast/attachment/mac/wide-attachment-image-controls-basic.html
  LayoutTests/fast/attachment/mac/wide-attachment-type-attribute-expected.html
  LayoutTests/fast/attachment/mac/wide-attachment-type-attribute.html
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/ios-wk2/fast/attachment/cocoa/wide-attachment-rendering-expected.txt
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/mac-wk2/fast/attachment/cocoa/wide-attachment-rendering-expected.txt
  Source/WebCore/html/HTMLAttachmentElement.cpp
Owners: @cdumez, @rniwa

[MSE] media/media-source/media-source-fudge-factor.html times out https://bugs.webkit.org/show_bug.cgi?id=254385 rdar://107162814
  LayoutTests/media/media-source/media-source-fudge-factor-expected.txt
  LayoutTests/media/media-source/media-source-fudge-factor.html
Owners: none

m_styleScope should be a WeakPtr in InlineStyleSheetOwner https://bugs.webkit.org/show_bug.cgi?id=254397
  Source/WebCore/dom/InlineStyleSheetOwner.cpp
  Source/WebCore/dom/InlineStyleSheetOwner.h
Owners: @rniwa, @cdumez

[MSE] media/media-source/media-source-video-playback-quality.html is a constant failure with MockMSE in GPUP https://bugs.webkit.org/show_bug.cgi?id=254405 rdar://107182984
  LayoutTests/media/media-source/media-source-video-playback-quality-expected.txt
  LayoutTests/media/media-source/media-source-video-playback-quality.html
Owners: none

Cherry-pick 262061@main (9bd41e74f05f). https://bugs.webkit.org/show_bug.cgi?id=254145
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1-SE/coords-units-03-b-expected.png
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1-SE/coords-units-03-b-expected.txt
  LayoutTests/platform/wpe/svg/W3C-SVG-1.1-SE/coords-units-03-b-expected.txt
  Source/WebCore/platform/graphics/freetype/SimpleFontDataFreeType.cpp
Owners: @WebKit/glib-reviewers

Implement URL.canParse() https://bugs.webkit.org/show_bug.cgi?id=254147 rdar://106934916
  LayoutTests/imported/w3c/web-platform-tests/url/historical.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/url/historical.any.js
  LayoutTests/imported/w3c/web-platform-tests/url/historical.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/url/url-statics-canparse.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/url/url-statics-canparse.any.html
  LayoutTests/imported/w3c/web-platform-tests/url/url-statics-canparse.any.js
  Source/WebCore/html/DOMURL.cpp
  Source/WebCore/html/DOMURL.h
  Source/WebCore/html/DOMURL.idl
Owners: @cdumez, @rniwa

Synchronize fetch/range WPT https://bugs.webkit.org/show_bug.cgi?id=254416 rdar://107184642
  LayoutTests/imported/w3c/web-platform-tests/fetch/range/blob.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fetch/range/blob.any.worker.html
  LayoutTests/imported/w3c/web-platform-tests/fetch/range/w3c-import.log
Owners: none

[EGL] Merge GLContext and GLContextEGL https://bugs.webkit.org/show_bug.cgi?id=254270
  Source/WebCore/Headers.cmake
  Source/WebCore/PlatformPlayStation.cmake
  Source/WebCore/PlatformWin.cmake
  Source/WebCore/SourcesGTK.txt
  Source/WebCore/SourcesWPE.txt
  Source/WebCore/platform/graphics/GLContext.cpp
  Source/WebCore/platform/graphics/GLContext.h
  Source/WebCore/platform/graphics/PlatformDisplay.cpp
  Source/WebCore/platform/graphics/egl/GLContext.cpp
  Source/WebCore/platform/graphics/egl/GLContext.h
  Source/WebCore/platform/graphics/egl/GLContextEGL.h
  Source/WebCore/platform/graphics/egl/GLContextLibWPE.cpp
  Source/WebCore/platform/graphics/egl/GLContextWayland.cpp
  Source/WebCore/platform/graphics/egl/GLContextX11.cpp
  Source/WebCore/platform/graphics/gstreamer/PlatformDisplayGStreamer.cpp
  Source/WebCore/platform/graphics/libwpe/PlatformDisplayLibWPE.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerDmabuf.cpp
  Source/WebCore/platform/graphics/wayland/PlatformDisplayWayland.cpp
  Source/WebCore/platform/xr/openxr/PlatformXROpenXR.cpp
  Source/WebCore/platform/xr/openxr/PlatformXROpenXR.h
  Source/WebKit/GPUProcess/graphics/wc/WCSceneContext.cpp
  Source/WebKit/Shared/CoordinatedGraphics/threadedcompositor/ThreadedCompositor.cpp
  Source/WebKit/UIProcess/API/glib/WebKitProtocolHandler.cpp
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreWayland.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHostTextureMapper.cpp
Owners: @philn, @WebKit/glib-reviewers, @donny-dont, @zdobersek, @magomez

[GTK] Allow pasting content with async clipboard when origin is the same https://bugs.webkit.org/show_bug.cgi?id=254408
  LayoutTests/platform/gtk/TestExpectations
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebKit/UIProcess/API/gtk/PageClientImpl.cpp
Owners: @WebKit/glib-reviewers

Animations inside a Details tag only fire once https://bugs.webkit.org/show_bug.cgi?id=254401
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/animation-canceled-by-parent-details-element-being-closed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/animation-canceled-by-parent-details-element-being-closed.html
  Source/WebCore/rendering/updating/RenderTreeUpdater.cpp
Owners: none

RenderBlockFlows with no children should not even try to run inline layout https://bugs.webkit.org/show_bug.cgi?id=254391
  Source/WebCore/rendering/RenderBlockFlow.cpp
Owners: none

WritableStreamDefaultController constructor should throw if called directly https://bugs.webkit.org/show_bug.cgi?id=254418 rdar://problem/107185937
  LayoutTests/imported/w3c/web-platform-tests/streams/writable-streams/constructor.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/writable-streams/constructor.any.worker-expected.txt
  Source/WebCore/Modules/streams/WritableStreamDefaultController.js
Owners: none

ReadableStream.tee should make sure to have its internal pull promises handled https://bugs.webkit.org/show_bug.cgi?id=254407 rdar://problem/107183268
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-byte-streams/tee.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-byte-streams/tee.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-byte-streams/tee.any.sharedworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-byte-streams/tee.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/tee.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/tee.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/tee.any.sharedworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/tee.any.worker-expected.txt
  Source/WebCore/Modules/streams/ReadableStreamInternals.js
Owners: none

ARQL: Launch Preview needs to be passed along the appropriate disableScaling and customSharing fragment identifiers https://bugs.webkit.org/show_bug.cgi?id=254371 rdar://106193234
  Source/WebKit/UIProcess/Cocoa/LegacyDownloadClient.mm
  Source/WebKit/UIProcess/Cocoa/SystemPreviewControllerCocoa.mm
Owners: @cdumez

Trimmed block-start margins for flex items in horizontal writing mode should be reflected in computed style https://bugs.webkit.org/show_bug.cgi?id=253712 rdar://106558991
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-block-start-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-block-start.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-block-start-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-block-start.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-block-start-dynamic-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-block-start-dynamic.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-block-start-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-block-start.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-block-start-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-block-start.html
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderBlock.h
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderBox.h
  Source/WebCore/rendering/RenderFlexibleBox.cpp
  Source/WebCore/rendering/RenderObject.h
Owners: none

[UI-side compositing] Add infrastructure to get scrollbar state in layout tests https://bugs.webkit.org/show_bug.cgi?id=254372 rdar://107154212
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNode.h
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNodeDelegate.h
  Source/WebCore/page/scrolling/mac/ScrollerMac.h
  Source/WebCore/page/scrolling/mac/ScrollerMac.mm
  Source/WebCore/page/scrolling/mac/ScrollerPairMac.h
  Source/WebCore/page/scrolling/mac/ScrollerPairMac.mm
  Source/WebCore/page/scrolling/mac/ScrollingTreeScrollingNodeDelegateMac.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeScrollingNodeDelegateMac.mm
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivateForTesting.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewTesting.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/ScrollingTreeFrameScrollingNodeRemoteMac.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/mac/ScrollingTreeFrameScrollingNodeRemoteMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/ScrollingTreeOverflowScrollingNodeRemoteMac.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/mac/ScrollingTreeOverflowScrollingNodeRemoteMac.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Tools/TestRunnerShared/UIScriptContext/Bindings/UIScriptController.idl
  Tools/TestRunnerShared/UIScriptContext/UIScriptController.h
  Tools/WebKitTestRunner/mac/UIScriptControllerMac.h
  Tools/WebKitTestRunner/mac/UIScriptControllerMac.mm
Owners: @cdumez, @JonWBedard

WebCore: Prefer mutableCopy over mutableCopyWithZone https://bugs.webkit.org/show_bug.cgi?id=253825
  Source/WebCore/platform/mac/WebNSAttributedStringExtras.mm
  Source/WebCore/platform/network/cocoa/WebCoreNSURLSession.mm
Owners: none

JavaScriptCore: m_linkBuffer should be initialized via WTF::makeUnique https://bugs.webkit.org/show_bug.cgi?id=253156
  Source/JavaScriptCore/jit/JIT.cpp
Owners: @WebKit/jsc-reviewers

Re-import css/css-color WPT https://bugs.webkit.org/show_bug.cgi?id=254429 rdar://107190185
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/oklch-010.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-color-function-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-color-function.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-color-mix-function-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-color-mix-function.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-lab-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-lab.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-relative-color-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-relative-color.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-invalid-color-function-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-invalid-color-function.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-invalid-color-mix-function-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-invalid-color-mix-function.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-valid-color-function-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-valid-color-function.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-valid-color-mix-function-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-valid-color-mix-function.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-valid-lab-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-valid-lab.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-valid-relative-color-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-valid-relative-color.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/gamut-mapping-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/gamut-mapping.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/w3c-import.log
Owners: none

[UI-side compositing] tiled-drawing/tiled-backing-in-window.html fails when run on a 2x display https://bugs.webkit.org/show_bug.cgi?id=254387 rdar://107038034
  LayoutTests/tiled-drawing/tiled-backing-in-window.html
  Tools/WebKitTestRunner/mac/PlatformWebViewMac.mm
Owners: @JonWBedard

[ews-build.webkit.org] Convert add_label to Twisted requests https://bugs.webkit.org/show_bug.cgi?id=251724 rdar://105023225
  Tools/CISupport/ews-build/steps.py
Owners: @aj062, @JonWBedard, @ryanhaddad

Fix PlayStation build after 262028@main https://bugs.webkit.org/show_bug.cgi?id=254439
  Tools/MiniBrowser/playstation/MainWindow.cpp
Owners: @JonWBedard

Fix build of ReloadPageAfterCrash on PlayStation https://bugs.webkit.org/show_bug.cgi?id=254440
  Tools/TestWebKitAPI/Tests/WebKit/ReloadPageAfterCrash.cpp
Owners: none

Default MotionMark runner should be able to specify subtests to run https://bugs.webkit.org/show_bug.cgi?id=254434 rdar://107193496
  PerformanceTests/MotionMark/resources/runner/motionmark.js
Owners: none

[hooks/pre-push] Handle no defined security level https://bugs.webkit.org/show_bug.cgi?id=254299 rdar://107108896
  Tools/Scripts/hooks/pre-push
Owners: @JonWBedard

Platform should support showing more descriptive label instead of name. https://bugs.webkit.org/show_bug.cgi?id=254360 rdar://107119770
  Websites/perf.webkit.org/init-database.sql
  Websites/perf.webkit.org/migrate-database.sql
  Websites/perf.webkit.org/public/admin/platforms.php
  Websites/perf.webkit.org/public/include/manifest-generator.php
  Websites/perf.webkit.org/public/v3/components/chart-styles.js
  Websites/perf.webkit.org/public/v3/components/custom-analysis-task-configurator.js
  Websites/perf.webkit.org/public/v3/components/custom-configuration-test-group-form.js
  Websites/perf.webkit.org/public/v3/models/platform.js
  Websites/perf.webkit.org/public/v3/pages/chart-pane.js
  Websites/perf.webkit.org/public/v3/pages/summary-page.js
  Websites/perf.webkit.org/public/v3/pages/test-freshness-page.js
  Websites/perf.webkit.org/server-tests/api-manifest-tests.js
Owners: none

Verify WebGPU is enabled in GPUConnectionToWebProcess::createRemoteGPU https://bugs.webkit.org/show_bug.cgi?id=254373 rdar://107153896
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.cpp
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.h
  Source/WebKit/GPUProcess/GPUProcess.cpp
  Source/WebKit/GPUProcess/GPUProcess.h
  Source/WebKit/GPUProcess/GPUProcess.messages.in
  Source/WebKit/Shared/GPUProcessConnectionParameters.h
  Source/WebKit/UIProcess/GPU/GPUProcessProxy.cpp
  Source/WebKit/UIProcess/GPU/GPUProcessProxy.h
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
Owners: @cdumez

REGRESSION(260512@main) canvas-drawImage-hdr-video.html has been consistently failing on the EWS bots https://bugs.webkit.org/show_bug.cgi?id=254293 rdar://107083380
  LayoutTests/fast/canvas/canvas-drawImage-hdr-video-expected.txt
  LayoutTests/fast/canvas/canvas-drawImage-hdr-video.html
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/fast/canvas/canvas-drawImage-hdr-video-expected.txt
  LayoutTests/platform/ios/fast/canvas/canvas-drawImage-hdr-video-expected.txt
Owners: none

Move "Image Animation Control Enabled" to Animation category in UnifiedWebPreferences.yaml https://bugs.webkit.org/show_bug.cgi?id=254442 rdar://107199263
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Owners: none

Move WebCodecs prefs to Media category in UnifiedWebPreferences.yaml https://bugs.webkit.org/show_bug.cgi?id=254436 rdar://107198355
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Owners: none

iPad test results have not kept up with the new testable features in the build https://bugs.webkit.org/show_bug.cgi?id=254438 <rdar://107193654>
  LayoutTests/platform/ipad/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
Owners: none

Reserve capacity for SelectorFilter::m_parentStack https://bugs.webkit.org/show_bug.cgi?id=254423
  Source/WebCore/css/SelectorFilter.cpp
  Source/WebCore/css/SelectorFilter.h
  Source/WebCore/style/StyleInvalidator.cpp
Owners: none

Add more logging to iOS print preview generation https://bugs.webkit.org/show_bug.cgi?id=254377 rdar://107159671
  Source/WebCore/page/PrintContext.cpp
  Source/WebCore/platform/Logging.h
  Source/WebKit/UIProcess/_WKWebViewPrintFormatter.mm
  Source/WebKit/UIProcess/ios/WKContentView.mm
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
Owners: @cdumez

Cherry-pick 262027@main (8a9cc8641cbc). rdar://106760739
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/install_hooks.py
Owners: @facetothefate, @JonWBedard

color() function parsing incorrectly parses missing components https://bugs.webkit.org/show_bug.cgi?id=251152 rdar://104679823
  LayoutTests/css3/color/color-function-computed-style-expected.txt
  LayoutTests/css3/color/color-function-computed-style.html
  LayoutTests/css3/color/color-function-parsing-expected.txt
  LayoutTests/css3/color/color-function-parsing.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-invalid-color-function-expected.txt
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
Owners: none

REGRESSION(261977@main): TestWebKitAPI.ProcessSwap.ResizeWebViewDuringCrossSiteProvisionalNavigation is a constant crash https://bugs.webkit.org/show_bug.cgi?id=254378 rdar://107161569
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.cpp
Owners: @cdumez

Add HTML category to UnifiedWebPreferences.yaml https://bugs.webkit.org/show_bug.cgi?id=254352 rdar://107144335
  Source/WTF/Scripts/GeneratePreferences.rb
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebKit/UIProcess/API/APIFeatureStatus.h
  Source/WebKit/UIProcess/API/Cocoa/_WKFeature.mm
  Source/WebKitLegacy/mac/WebView/WebFeature.h
Owners: @cdumez

Use CMAKE_<LANG>_COMPILER_LAUNCHER for ccache instead of RULE_LAUNCH_COMPILE https://bugs.webkit.org/show_bug.cgi?id=254216
  Source/cmake/WebKitCCache.cmake
Owners: none

Replace ResourceResponse with ResourceResponse::CrossThreadData in CacheStorage messages https://bugs.webkit.org/show_bug.cgi?id=254231 rdar://107020237
  Source/WebCore/Modules/cache/DOMCacheEngine.cpp
  Source/WebCore/Modules/cache/DOMCacheEngine.h
  Source/WebCore/loader/CrossOriginAccessControl.cpp
  Source/WebCore/loader/CrossOriginAccessControl.h
  Source/WebCore/platform/network/ResourceResponseBase.cpp
  Source/WebCore/platform/network/ResourceResponseBase.h
  Source/WebKit/NetworkProcess/storage/CacheStorageCache.cpp
  Source/WebKit/NetworkProcess/storage/CacheStorageCache.h
  Source/WebKit/NetworkProcess/storage/CacheStorageDiskStore.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.h
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.messages.in
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/WebProcess/Cache/WebCacheStorageConnection.cpp
Owners: @cdumez

Versioning.
  Configurations/Version.xcconfig
Owners: none
