Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

[WGSL] Add a scheme to build wgslc https://bugs.webkit.org/show_bug.cgi?id=254824 rdar://107476293
  Source/WebGPU/WebGPU.xcodeproj/xcshareddata/xcschemes/wgslc.xcscheme
Owners: none

[Versioning] Expand eligible versioning commit messages https://bugs.webkit.org/show_bug.cgi?id=254921 rdar://107560898
  metadata/commit_classes.json
Owners: @JonWBedard

Cherry-pick 3891a934a192. rdar://problem/107562531
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.cpp
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.h
  Source/WebKit/GPUProcess/GPUProcess.cpp
  Source/WebKit/GPUProcess/GPUProcess.h
  Source/WebKit/GPUProcess/GPUProcess.messages.in
  Source/WebKit/Shared/GPUProcessConnectionParameters.h
  Source/WebKit/UIProcess/GPU/GPUProcessProxy.cpp
  Source/WebKit/UIProcess/GPU/GPUProcessProxy.h
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
Owners: @cdumez

Cherry-pick 2c49ff7b0481. rdar://problem/107562512
  Source/JavaScriptCore/heap/Heap.cpp
  Source/JavaScriptCore/heap/Heap.h
  Source/JavaScriptCore/heap/HeapInlines.h
  Source/JavaScriptCore/runtime/ArgList.cpp
  Source/JavaScriptCore/runtime/ArgList.h
  Source/WebCore/Modules/webaudio/AudioWorkletProcessor.cpp
  Source/WebCore/Modules/webaudio/AudioWorkletProcessor.h
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
Owners: @WebKit/jsc-reviewers, @cdumez

Prefer uncheckedArgument over argument where possible for callFrame
  Source/JavaScriptCore/API/APICallbackFunction.h
  Source/JavaScriptCore/dfg/DFGOSREntry.cpp
  Source/JavaScriptCore/interpreter/Interpreter.cpp
  Source/JavaScriptCore/jsc.cpp
  Source/JavaScriptCore/runtime/ConsoleObject.cpp
  Source/JavaScriptCore/runtime/DatePrototype.cpp
  Source/JavaScriptCore/runtime/FunctionPrototype.cpp
  Source/JavaScriptCore/runtime/JSBoundFunction.cpp
  Source/JavaScriptCore/runtime/JSGlobalObjectFunctions.cpp
  Source/JavaScriptCore/runtime/JSRemoteFunction.cpp
  Source/JavaScriptCore/runtime/MathObject.cpp
  Source/JavaScriptCore/runtime/ObjectConstructor.cpp
  Source/JavaScriptCore/runtime/ProxyConstructor.cpp
  Source/JavaScriptCore/runtime/ReflectObject.cpp
  Source/JavaScriptCore/runtime/TemporalDurationConstructor.cpp
  Source/JavaScriptCore/runtime/TemporalPlainDateTimeConstructor.cpp
  Source/JavaScriptCore/runtime/TemporalPlainTimeConstructor.cpp
  Source/JavaScriptCore/tools/JSDollarVM.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyExceptionPrototype.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyFunction.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyGlobalPrototype.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyTablePrototype.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyTagConstructor.cpp
  Source/WebCore/bindings/js/JSLocalDOMWindowCustom.cpp
  Source/WebCore/bindings/js/JSPluginElementFunctions.cpp
  Source/WebCore/bridge/objc/objc_instance.mm
Owners: @WebKit/jsc-reviewers, @cdumez

AX: Stop caching 21 isolated object properties that can be expressed entirely in terms of AXCoreObject functions https://bugs.webkit.org/show_bug.cgi?id=254871 rdar://problem/107516136
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AccessibilityImageMapLink.h
  Source/WebCore/accessibility/AccessibilityMenuList.h
  Source/WebCore/accessibility/AccessibilityMenuListPopup.cpp
  Source/WebCore/accessibility/AccessibilityMenuListPopup.h
  Source/WebCore/accessibility/AccessibilityNodeObject.cpp
  Source/WebCore/accessibility/AccessibilityNodeObject.h
  Source/WebCore/accessibility/AccessibilityObject.cpp
  Source/WebCore/accessibility/AccessibilityObject.h
  Source/WebCore/accessibility/AccessibilityObjectInterface.h
  Source/WebCore/accessibility/AccessibilityRenderObject.cpp
  Source/WebCore/accessibility/AccessibilityRenderObject.h
  Source/WebCore/accessibility/AccessibilityScrollbar.h
  Source/WebCore/accessibility/AccessibilitySlider.h
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.h
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.h
Owners: none

[WebGL] Avoid using glReadPixels to paint WebGL canvas into 2D canvas https://bugs.webkit.org/show_bug.cgi?id=252795 rdar://87173127
  Source/WebCore/platform/graphics/GraphicsContextGL.cpp
  Source/WebCore/platform/graphics/GraphicsContextGL.h
  Source/WebCore/platform/graphics/angle/GraphicsContextGLANGLE.cpp
  Source/WebCore/platform/graphics/angle/GraphicsContextGLANGLE.h
  Source/WebCore/platform/graphics/cairo/GraphicsContextGLCairo.cpp
  Source/WebCore/platform/graphics/cg/GraphicsContextGLCG.cpp
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.h
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.mm
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLIOSurfaceSwapChain.h
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGL.cpp
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGL.h
Owners: @magomez, @zdobersek

Versioning.
  Configurations/Version.xcconfig
Owners: none

fast/events/wheel/redispatched-wheel-event.html is a flaky failure when enabling UI side compositing https://bugs.webkit.org/show_bug.cgi?id=254927 rdar://107294737
  LayoutTests/fast/events/wheel/redispatched-wheel-event.html
Owners: @rniwa

Avoid calling scanTagName() in HTMLFastPathParser::parseContainerElement() https://bugs.webkit.org/show_bug.cgi?id=254920
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
  Source/WebCore/html/parser/ParsingUtilities.h
Owners: @cdumez, @rniwa

Cherry-pick 5e38273c02f7. rdar://problem/107431229
  LayoutTests/fast/css/image-set-parsing-invalid-expected.txt
  LayoutTests/fast/css/image-set-parsing-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/image-set/image-set-computed.sub-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/image-set/image-set-parsing-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/image-set/image-set-parsing.html
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-images/image-set/image-set-computed.sub-expected.txt
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
Owners: none

run-api-tests should have options to disable GPU process for DOM rendering and UI side compositing https://bugs.webkit.org/show_bug.cgi?id=254789
  Tools/Scripts/run-api-tests
  Tools/Scripts/webkitpy/api_tests/runner.py
  Tools/TestWebKitAPI/mac/mainMac.mm
Owners: @JonWBedard

Remove UnencodableHandling::QuestionMarks https://bugs.webkit.org/show_bug.cgi?id=254903 rdar://107544821
  Source/WebCore/PAL/pal/text/TextCodec.cpp
  Source/WebCore/PAL/pal/text/TextCodecCJK.cpp
  Source/WebCore/PAL/pal/text/TextCodecICU.cpp
  Source/WebCore/PAL/pal/text/UnencodableHandling.h
Owners: none

Cherry-pick b9ee985deec4. rdar://problem/107478385
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-last-child-with-border-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-last-child-with-border.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-nested-last-child-with-border-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-nested-last-child-with-border.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-self-collapsing-children-nested-at-bottom-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-self-collapsing-children-nested-at-bottom.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-self-collapsing-children-nested-margin-trim-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-self-collapsing-children-nested-margin-trim.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-self-collapsing-children-offsets-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-self-collapsing-children-offsets-nested-multiple-times-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-self-collapsing-children-offsets-nested-multiple-times.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-self-collapsing-children-offsets-nested-once-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-self-collapsing-children-offsets-nested-once.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-self-collapsing-children-offsets-vert-lr-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-self-collapsing-children-offsets-vert-lr.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-self-collapsing-children-offsets.html
  Source/WebCore/rendering/RenderBlockFlow.cpp
  Source/WebCore/rendering/RenderBlockFlow.h
Owners: none

Cherry-pick ca4bed3b60ef. rdar://problem/104829495
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Owners: none

Cherry-pick d4ec309d5e67. rdar://problem/106926883
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/grid-item-image-percentage-min-height-computes-as-0-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/grid-item-image-percentage-min-height-computes-as-0.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/nested-flexbox-image-percentage-max-height-computes-as-none-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/nested-flexbox-image-percentage-max-height-computes-as-none.html
  Source/WebCore/rendering/RenderBox.cpp
Owners: none

Cherry-pick 90d00dc15a7b. rdar://problem/107322119
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/cssom-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/invalid-inner-rules-expected.txt
  Source/WebCore/css/CSSGroupingRule.cpp
  Source/WebCore/css/CSSGroupingRule.h
  Source/WebCore/css/CSSRule.cpp
  Source/WebCore/css/CSSRule.h
  Source/WebCore/css/CSSStyleRule.cpp
  Source/WebCore/css/CSSStyleSheet.cpp
  Source/WebCore/css/CSSStyleSheet.h
  Source/WebCore/css/StyleRule.cpp
  Source/WebCore/css/StyleRule.h
  Source/WebCore/css/StyleSheetContents.h
  Source/WebCore/css/parser/CSSParser.cpp
  Source/WebCore/css/parser/CSSParser.h
  Source/WebCore/css/parser/CSSParserImpl.cpp
  Source/WebCore/css/parser/CSSParserImpl.h
  Source/WebCore/css/parser/CSSSelectorParser.cpp
Owners: none

Cherry-pick afcf053c3394. rdar://problem/106825062
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Owners: none

Cherry-pick 9b097d0ecda3. rdar://problem/104210977
  LayoutTests/http/tests/inspector/network/resource-mime-type-expected.txt
  LayoutTests/http/tests/inspector/network/resource-mime-type.html
  Source/WebCore/inspector/agents/InspectorPageAgent.cpp
  Source/WebInspectorUI/UserInterface/Views/ResourceClusterContentView.js
Owners: @patrickangle, @dcrousso

Cherry-pick 226684b758a0. rdar://problem/107108810
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-style-change-triggers-layout-block-start-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-style-change-triggers-layout-block-start.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-block-start-dynamic-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-style-change-triggers-layout-block-end-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-style-change-triggers-layout-block-end-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-style-change-triggers-layout-block-end.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-style-change-triggers-layout-block-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-style-change-triggers-layout-block-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-style-change-triggers-layout-block-start-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-style-change-triggers-layout-block-start-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-style-change-triggers-layout-block-start.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-style-change-triggers-layout-block.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-style-change-triggers-layout-inline-end-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-style-change-triggers-layout-inline-end-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-style-change-triggers-layout-inline-end.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-style-change-triggers-layout-inline-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-style-change-triggers-layout-inline-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-style-change-triggers-layout-inline-start-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-style-change-triggers-layout-inline-start-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-style-change-triggers-layout-inline-start.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-style-change-triggers-layout-inline.html
  Source/WebCore/rendering/style/RenderStyle.cpp
Owners: none

Cherry-pick 7d93b07962d5. rdar://problem/103456792
  Source/WebCore/accessibility/AXObjectCache.cpp
Owners: none

Cherry-pick b59d14452d4b. rdar://problem/107301827
  Source/WebKit/UIProcess/ios/WebPageProxyIOS.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ProcessSwapOnNavigation.mm
Owners: @cdumez

Cherry-pick f3426a32f875. rdar://problem/107214002
  Source/WebCore/editing/EditorCommand.cpp
  Source/WebCore/page/EventHandler.h
  Source/WebKit/WebProcess/WebPage/mac/WebPageMac.mm
Owners: @rniwa, @cdumez

Non-unified build fixes, early April 2023 edition https://bugs.webkit.org/show_bug.cgi?id=254916
  Source/WebKit/UIProcess/ProvisionalFrameProxy.cpp
  Source/WebKit/UIProcess/SpeechRecognitionPermissionManager.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPreferences.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebURLSchemeTask.cpp
  Source/WebKit/UIProcess/gtk/WebColorPickerGtk.cpp
Owners: @cdumez, @WebKit/glib-reviewers

Cherry-pick 9e694b9ad56e. rdar://problem/107406900
  LayoutTests/fast/inline/crash-when-floats-are-pushed-down-expected.txt
  LayoutTests/fast/inline/crash-when-floats-are-pushed-down.html
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingGeometry.cpp
Owners: none

Remove Google Legacy ID support https://bugs.webkit.org/show_bug.cgi?id=254848 rdar://107068173
  Source/WebCore/Modules/webauthn/AuthenticationExtensionsClientInputs.cpp
  Source/WebCore/Modules/webauthn/AuthenticationExtensionsClientInputs.h
  Source/WebCore/Modules/webauthn/AuthenticationExtensionsClientInputs.idl
  Source/WebCore/Modules/webauthn/AuthenticatorCoordinator.cpp
  Source/WebCore/Modules/webauthn/fido/U2fCommandConstructor.cpp
  Source/WebCore/Modules/webauthn/fido/U2fCommandConstructor.h
  Source/WebKit/Platform/spi/Cocoa/AuthenticationServicesCoreSPI.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/API/Cocoa/_WKAuthenticationExtensionsClientInputs.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebAuthenticationPanel.mm
  Source/WebKit/UIProcess/WebAuthentication/AuthenticatorManager.cpp
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/WebAuthenticatorCoordinatorProxy.mm
  Source/WebKit/UIProcess/WebAuthentication/fido/CtapAuthenticator.cpp
  Source/WebKit/UIProcess/WebAuthentication/fido/CtapAuthenticator.h
  Source/WebKit/UIProcess/WebAuthentication/fido/U2fAuthenticator.cpp
  Tools/TestWebKitAPI/Tests/WebCore/U2fCommandConstructorTest.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/_WKWebAuthenticationPanel.mm
Owners: @cdumez

Unreviewed attempt to fix Catalyst build after 262488@main https://bugs.webkit.org/show_bug.cgi?id=254935 rdar://107570744
  Source/WebKit/UIProcess/WebPageProxy.h
Owners: @cdumez

[GLib] Fix various -Werror,-Wundefined-inline build failures after 262488@main https://bugs.webkit.org/show_bug.cgi?id=254932
  Source/WebKit/UIProcess/API/gtk/DropTargetGtk4.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Source/WebKit/WebProcess/WebPage/glib/WebPageGLib.cpp
  Source/WebKit/WebProcess/WebPage/gtk/WebPageGtk.cpp
Owners: @WebKit/glib-reviewers, @cdumez

Cherry-pick 262504@main (6a3c0713422d). https://bugs.webkit.org/show_bug.cgi?id=254913
  Source/WebKit/UIProcess/API/glib/WebKitProtocolHandler.cpp
Owners: @WebKit/glib-reviewers

[ews] uat instance builds showing up on GitHub PRs https://bugs.webkit.org/show_bug.cgi?id=254928
  Tools/CISupport/ews-build/events.py
  Tools/CISupport/ews-build/master.cfg
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/utils.py
Owners: @aj062, @JonWBedard, @ryanhaddad

fast/scrolling/mac/wheel-event-deltas-are-not-filtered.html is a flaky failure when enabling UI side compositing https://bugs.webkit.org/show_bug.cgi?id=254940 rdar://107295078
  LayoutTests/fast/scrolling/mac/wheel-event-deltas-are-not-filtered.html
Owners: none

[WGSL] Serialize variables without type declarations https://bugs.webkit.org/show_bug.cgi?id=254808 rdar://107469795
  Source/WebGPU/WGSL/AST/ASTTypeName.h
  Source/WebGPU/WGSL/EntryPointRewriter.cpp
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
  Source/WebGPU/WGSL/Metal/MetalFunctionWriter.cpp
  Source/WebGPU/WGSL/TypeCheck.cpp
  Tools/TestWebKitAPI/Tests/WGSL/MetalGenerationTests.cpp
Owners: none

Remove unneeded check in functionAtob
  Source/JavaScriptCore/jsc.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 259548.153@safari-7615-branch (c49d1e6e50a4). https://bugs.webkit.org/show_bug.cgi?id=252091
  LayoutTests/fast/css/style-update-timer-crash-expected.txt
  LayoutTests/fast/css/style-update-timer-crash.html
  Source/WebCore/style/StyleScope.cpp
Owners: none

Cherry-pick 256843.10@webkit-2022.12-embargoed (b7f9b7f4679b). https://bugs.webkit.org/show_bug.cgi?id=248772
  LayoutTests/fast/dom/element-clearing-display-contents-on-node-removal-expected.txt
  LayoutTests/fast/dom/element-clearing-display-contents-on-node-removal.html
Owners: @rniwa

Cherry-pick 256843.11@webkit-2022.12-embargoed (7d616c4d06eb). https://bugs.webkit.org/show_bug.cgi?id=245377
  LayoutTests/fast/frames/disconnected-frame-set-to-eager-crash-expected.txt
  LayoutTests/fast/frames/disconnected-frame-set-to-eager-crash.html
Owners: none

Cherry-pick 259548.185@safari-7615-branch (41af95f8b4e7). https://bugs.webkit.org/show_bug.cgi?id=252200
  Source/WebCore/loader/SubresourceLoader.cpp
Owners: @cdumez

Cherry-pick 259548.186@safari-7615-branch (1aa5ac3e3745). https://bugs.webkit.org/show_bug.cgi?id=252200
  Source/WebCore/loader/SubresourceLoader.cpp
  Source/WebCore/loader/SubresourceLoader.h
  Source/WebCore/loader/cache/CachedResourceLoader.h
Owners: @cdumez

Cherry-pick 259548.192@safari-7615-branch (da35f298761e). https://bugs.webkit.org/show_bug.cgi?id=252276
  Source/WebKit/Platform/Logging.h
  Source/WebKit/UIProcess/mac/SecItemShimProxy.cpp
  Source/WebKit/UIProcess/mac/SecItemShimProxy.h
Owners: @cdumez

Cherry-pick 259548.204@safari-7615-branch (e110042815de). https://bugs.webkit.org/show_bug.cgi?id=252426
  LayoutTests/fast/dom/focus-dialog-blur-input-type-change-crash-expected.txt
  LayoutTests/fast/dom/focus-dialog-blur-input-type-change-crash.html
  Source/WebCore/dom/Document.cpp
Owners: @rniwa, @cdumez

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
