Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @calvaris, @philn, @ntrrgc, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @graouts

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard
/Tools/TestWebKitAPI

# ================================================================================

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn

# ================================================================================

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

/Source/WebCore/Modules/apple-pay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/apple-pay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

# ================================================================================

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

Need a short description (OOPS!). Need the bug URL (OOPS!).
  Source/JavaScriptCore/bytecode/BytecodeOperandsForCheckpoint.h
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/bytecode/UnlinkedCodeBlock.cpp
Owners: @WebKit/jsc-reviewers

Implicit extension enabling should use WebGL frontend https://bugs.webkit.org/show_bug.cgi?id=241918
  Source/WebCore/html/canvas/EXTColorBufferFloat.cpp
  Source/WebCore/html/canvas/OESTextureFloat.cpp
  Source/WebCore/html/canvas/OESTextureHalfFloat.cpp
  Source/WebCore/html/canvas/WebGLColorBufferFloat.cpp
  Source/WebCore/html/canvas/WebGLMultiDraw.cpp
Owners: none

test3
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/jit/JITPropertyAccess.cpp
  Source/JavaScriptCore/llint/LLIntSlowPaths.cpp
  Source/JavaScriptCore/runtime/CommonSlowPaths.cpp
Owners: @WebKit/jsc-reviewers

Enable JSC binary tests on armv7 post-commit buildbots https://bugs.webkit.org/show_bug.cgi?id=241021
  Tools/CISupport/build-webkit-org/steps.py
Owners: @aj062, @JonWBedard, @ryanhaddad

[GTK] AX: AtspiCollection is not implemented on the document https://bugs.webkit.org/show_bug.cgi?id=240517
  Source/WebCore/SourcesGTK.txt
  Source/WebCore/SourcesWPE.txt
  Source/WebCore/accessibility/atspi/AccessibilityAtspiEnums.h
  Source/WebCore/accessibility/atspi/AccessibilityObjectAtspi.cpp
  Source/WebCore/accessibility/atspi/AccessibilityObjectAtspi.h
  Source/WebCore/accessibility/atspi/AccessibilityObjectCollectionAtspi.cpp
  Source/WebCore/accessibility/atspi/xml/Collection.xml
  Tools/TestWebKitAPI/Tests/WebKitGtk/TestWebKitAccessibility.cpp
Owners: none

[GPU Process] RemoteRenderingBackend has to explicitly stop IOSurfacePool::m_collectionTimer before destruction https://bugs.webkit.org/show_bug.cgi?id=242031 rdar://94516877
  Source/WebCore/platform/graphics/cg/IOSurfacePool.cpp
  Source/WebCore/platform/graphics/cg/IOSurfacePool.h
Owners: none

Fix block-aspect-ratio-037.html https://bugs.webkit.org/show_bug.cgi?id=242000
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/aspect-ratio/block-aspect-ratio-037-expected.xht
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/aspect-ratio/block-aspect-ratio-037.html
  Source/WebCore/rendering/RenderBox.cpp
Owners: none

Updated Swedish translation https://bugs.webkit.org/show_bug.cgi?id=241759
  Source/WebCore/platform/gtk/po/sv.po
Owners: none

test4
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/llint/LLIntSlowPaths.cpp
  Source/JavaScriptCore/runtime/CommonSlowPaths.cpp
Owners: @WebKit/jsc-reviewers

Fix WEBGL_draw_buffers failures https://bugs.webkit.org/show_bug.cgi?id=242028
  LayoutTests/TestExpectations
  LayoutTests/fast/canvas/webgl/webgl-draw-buffers-expected.txt
  LayoutTests/fast/canvas/webgl/webgl-draw-buffers.html
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/wincairo/TestExpectations
  LayoutTests/webgl/1.0.3/conformance/extensions/webgl-draw-buffers-expected.txt
  LayoutTests/webgl/2.0.0/conformance/extensions/webgl-draw-buffers-expected.txt
  Source/WebCore/html/canvas/WebGLDrawBuffers.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
Owners: none

[Flatpak SDK] Update Mold to version 1.3.0 https://bugs.webkit.org/show_bug.cgi?id=242033
  Tools/buildstream/elements/sdk/mold.bst
  Tools/buildstream/elements/sdk/tbb.bst
  Tools/buildstream/patches/tbb-Retry-if-pthread_create-fails-with-EAGAIN.patch
Owners: @JonWBedard

Change my (Youssef Soliman) primary committer email https://bugs.webkit.org/show_bug.cgi?id=242062
  metadata/contributors.json
Owners: @JonWBedard

match
  Source/JavaScriptCore/jit/JITOperations.cpp
Owners: @WebKit/jsc-reviewers

match
  Source/JavaScriptCore/jit/JITOperations.cpp
Owners: @WebKit/jsc-reviewers

test3
  Source/JavaScriptCore/jit/JITOperations.cpp
Owners: @WebKit/jsc-reviewers

test4
  Source/JavaScriptCore/jit/JITPropertyAccess.cpp
Owners: @WebKit/jsc-reviewers

[Cocoa] Implement Alternate WebM Player Logic https://bugs.webkit.org/show_bug.cgi?id=241949
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebCore/Sources.txt
  Source/WebCore/platform/graphics/WebMResourceClient.cpp
  Source/WebCore/platform/graphics/WebMResourceClient.h
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.h
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.mm
Owners: none

test3
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/runtime/CommonSlowPaths.cpp
Owners: @WebKit/jsc-reviewers

Add functionality for macOS smooth keyboard scrolling to scroll recursively on ancestor regions https://bugs.webkit.org/show_bug.cgi?id=241562 <rdar://95045588>
  LayoutTests/fast/scrolling/mac/smooth-scroll-recursive-frame-to-frame-expected.txt
  LayoutTests/fast/scrolling/mac/smooth-scroll-recursive-frame-to-frame.html
  LayoutTests/fast/scrolling/mac/smooth-scroll-recursive-frame-to-overflow-expected.txt
  LayoutTests/fast/scrolling/mac/smooth-scroll-recursive-frame-to-overflow.html
  LayoutTests/fast/scrolling/mac/smooth-scroll-recursive-overflow-to-frame-expected.txt
  LayoutTests/fast/scrolling/mac/smooth-scroll-recursive-overflow-to-frame.html
  LayoutTests/fast/scrolling/mac/smooth-scroll-recursive-overflow-to-overflow-expected.txt
  LayoutTests/fast/scrolling/mac/smooth-scroll-recursive-overflow-to-overflow.html
  Source/WebCore/Headers.cmake
  Source/WebCore/page/EventHandler.cpp
  Source/WebCore/page/EventHandler.h
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebCore/platform/KeyboardScrollingAnimator.cpp
  Source/WebCore/platform/KeyboardScrollingAnimator.h
Owners: none

[ews-build.webkit.org] Remove check-github-integrity (Part 2) https://bugs.webkit.org/show_bug.cgi?id=241859 <rdar://93108238>
  Tools/Scripts/check-github-mirror-integrity
Owners: @JonWBedard

[WebAuthn] Include hybrid transport in IDL https://bugs.webkit.org/show_bug.cgi?id=242065 rdar://problem/96072746
  Source/WebCore/Modules/webauthn/AuthenticatorTransport.idl
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

REGRESSION (r293933): [ iOS Debug ][ macOS Debug wk2 ] ASSERTION FAILED: m_requestCount > -1 https://bugs.webkit.org/show_bug.cgi?id=240325 rdar://93140932
  Source/WebCore/loader/SubresourceLoader.cpp
  Source/WebCore/loader/SubresourceLoader.h
  Source/WebCore/loader/cache/CachedResourceLoader.cpp
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Cherry-pick 27d302ab3481. rdar://problem/94859656
  JSTests/wasm/stress/exception-simple-delegate.js
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 484126cfed9e. rdar://problem/89619762
  Source/bmalloc/libpas/src/libpas/pas_local_view_cache.c
Owners: @Constellation

Cherry-pick 27d302ab3481. rdar://problem/94859656
  JSTests/wasm/stress/exception-simple-delegate.js
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 484126cfed9e. rdar://problem/89619762
  Source/bmalloc/libpas/src/libpas/pas_local_view_cache.c
Owners: @Constellation

Create a way to reflect process-wide state in WebCore https://bugs.webkit.org/show_bug.cgi?id=242049
  Source/WebCore/Headers.cmake
  Source/WebCore/Sources.txt
  Source/WebCore/platform/ProcessCapabilities.cpp
  Source/WebCore/platform/ProcessCapabilities.h
  Source/WebCore/platform/graphics/cg/ImageDecoderCG.cpp
  Source/WebCore/platform/graphics/cg/ImageDecoderCG.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebProcess.cpp
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Owners: none

Text selection menu keeps dismissing when selecting text in BitBucket (Stash) https://bugs.webkit.org/show_bug.cgi?id=241980 rdar://92488700
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
Owners: none

Update ReadMe.md to reflect our completed transition away from SVN https://bugs.webkit.org/show_bug.cgi?id=242068
  ReadMe.md
Owners: none

Allow downsampling when invoking Remove Background or Copy Subject https://bugs.webkit.org/show_bug.cgi?id=242048 rdar://95833363
  Source/WebCore/PAL/pal/cocoa/VisionKitCoreSoftLink.h
  Source/WebCore/PAL/pal/cocoa/VisionKitCoreSoftLink.mm
  Source/WebCore/PAL/pal/spi/cocoa/VisionKitCoreSPI.h
  Source/WebKit/Platform/cocoa/ImageAnalysisUtilities.h
  Source/WebKit/Platform/cocoa/ImageAnalysisUtilities.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/mac/WebContextMenuProxyMac.mm
Owners: none

Build fix https://bugs.webkit.org/show_bug.cgi?id=242080
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Owners: none

Remove GraphicsLayer::setMasksToBoundsRect https://bugs.webkit.org/show_bug.cgi?id=242001
  Source/WebCore/platform/graphics/GraphicsLayer.cpp
  Source/WebCore/platform/graphics/GraphicsLayer.h
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.cpp
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.h
  Source/WebCore/rendering/RenderLayerBacking.cpp
Owners: none

Revert 484126cfed9e. rdar://problem/89619762
  Source/bmalloc/libpas/src/libpas/pas_local_view_cache.c
Owners: @Constellation

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Revert 484126cfed9e. rdar://problem/89619762
  Source/bmalloc/libpas/src/libpas/pas_local_view_cache.c
Owners: @Constellation

[Cocoa] REGRESSION(r281291): When accessibility bold is enabled, font-family:system-ui is supposed to be bold https://bugs.webkit.org/show_bug.cgi?id=237817 <rdar://problem/88249241>
  LayoutTests/TestExpectations
  LayoutTests/fast/text/accessibility-bold-expected-mismatch.html
  LayoutTests/fast/text/accessibility-bold.html
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/PAL/pal/spi/cf/CoreTextSPI.h
  Source/WebCore/PAL/pal/spi/cocoa/AccessibilitySupportSPI.h
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.h
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
Owners: none

Revert r291846 because it caused a 3% performance regression https://bugs.webkit.org/show_bug.cgi?id=239323 <rdar://problem/91046238>
  LayoutTests/TestExpectations
  LayoutTests/fast/text/accessibility-bold-expected-mismatch.html
  LayoutTests/fast/text/accessibility-bold.html
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/PAL/pal/spi/cf/CoreTextSPI.h
  Source/WebCore/PAL/pal/spi/cocoa/AccessibilitySupportSPI.h
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.h
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
Owners: none
