Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

[LFC][IFC] InlineFormattingGeometry::floatConstraintsForLine should return FloatingContext::Constraints https://bugs.webkit.org/show_bug.cgi?id=246387
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingGeometry.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingGeometry.h
  Source/WebCore/layout/formattingContexts/inline/InlineLineBuilder.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineLineBuilder.h
Owners: none

_setInterfaceOrientationOverride does extraneous work if set to the same value it currently has https://bugs.webkit.org/show_bug.cgi?id=246429 rdar://101100067
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
Owners: @cdumez

Increase padding between StreamConnectionBuffer::Header fields https://bugs.webkit.org/show_bug.cgi?id=246390 <rdar://problem/101063947>
  LayoutTests/ipc/stream-buffer-read-write.html
  LayoutTests/ipc/stream-check-autoreleasepool.html
  LayoutTests/ipc/stream-sync-crash-no-timeout.html
  LayoutTests/ipc/stream-sync-reply-shared-memory.html
  Source/WebKit/Platform/IPC/StreamConnectionBuffer.h
Owners: @cdumez

[JSC] Improve Object.entries runtime function performance https://bugs.webkit.org/show_bug.cgi?id=246009 rdar://100783096
  Source/JavaScriptCore/runtime/ObjectConstructor.cpp
  Source/JavaScriptCore/runtime/ObjectConstructorInlines.h
Owners: @WebKit/jsc-reviewers

[LFC][IFC] Text content should avoid vertically stacked, intrusive floats within the line https://bugs.webkit.org/show_bug.cgi?id=246400
  LayoutTests/fast/block/float/intrusive-float-with-stretching-inline-box-expected.html
  LayoutTests/fast/block/float/intrusive-float-with-stretching-inline-box.html
  Source/WebCore/layout/formattingContexts/inline/InlineLineBuilder.cpp
Owners: none

[Live Range Selection] Some tests fail due to DeleteSelectionCommand not canonicalizing ending selection https://bugs.webkit.org/show_bug.cgi?id=246412
  LayoutTests/editing/deleting/delete-br-in-last-table-cell-live-range-expected.txt
  LayoutTests/editing/deleting/delete-br-in-last-table-cell-live-range.html
  LayoutTests/editing/deleting/delete-line-break-before-underlined-content-live-range-expected.txt
  LayoutTests/editing/deleting/delete-line-break-before-underlined-content-live-range.html
  LayoutTests/editing/deleting/delete-line-break-between-paragraphs-with-same-style-live-range-expected.txt
  LayoutTests/editing/deleting/delete-line-break-between-paragraphs-with-same-style-live-range.html
  LayoutTests/editing/deleting/delete-table-cell-contents-live-range-expected.txt
  LayoutTests/editing/deleting/delete-table-cell-contents-live-range.html
  LayoutTests/editing/deleting/deleting-line-break-preserves-underline-color-live-range-expected.txt
  LayoutTests/editing/deleting/deleting-line-break-preserves-underline-color-live-range.html
  LayoutTests/editing/deleting/merge-div-from-span-with-style-live-range-expected.txt
  LayoutTests/editing/deleting/merge-div-from-span-with-style-live-range.html
  LayoutTests/editing/deleting/merge-div-with-inline-style-live-range-expected.txt
  LayoutTests/editing/deleting/merge-div-with-inline-style-live-range.html
  LayoutTests/editing/deleting/merge-paragraph-from-h6-with-style-2-live-range-expected.txt
  LayoutTests/editing/deleting/merge-paragraph-from-h6-with-style-2-live-range.html
  LayoutTests/editing/deleting/merge-paragraph-from-h6-with-style-live-range-expected.txt
  LayoutTests/editing/deleting/merge-paragraph-from-h6-with-style-live-range.html
  LayoutTests/editing/deleting/merge-paragraph-from-p-with-style-2-live-range-expected.txt
  LayoutTests/editing/deleting/merge-paragraph-from-p-with-style-2-live-range.html
  LayoutTests/editing/deleting/merge-paragraph-from-p-with-style-3-live-range-expected.txt
  LayoutTests/editing/deleting/merge-paragraph-from-p-with-style-3-live-range.html
  LayoutTests/editing/deleting/merge-paragraph-from-p-with-style-live-range-expected.txt
  LayoutTests/editing/deleting/merge-paragraph-from-p-with-style-live-range.html
  LayoutTests/editing/deleting/merge-paragraph-from-span-with-multiple-text-decoration-live-range-expected.txt
  LayoutTests/editing/deleting/merge-paragraph-from-span-with-multiple-text-decoration-live-range.html
  LayoutTests/editing/deleting/merge-paragraph-from-span-with-style-live-range-expected.txt
  LayoutTests/editing/deleting/merge-paragraph-from-span-with-style-live-range.html
  LayoutTests/editing/deleting/merge-paragraph-into-h1-with-dir-2-live-range-expected.txt
  LayoutTests/editing/deleting/merge-paragraph-into-h1-with-dir-2-live-range.html
  LayoutTests/editing/deleting/merge-paragraph-into-h1-with-style-live-range-expected.txt
  LayoutTests/editing/deleting/merge-paragraph-into-h1-with-style-live-range.html
  LayoutTests/editing/deleting/merge-paragraph-with-style-from-rule-live-range-expected.txt
  LayoutTests/editing/deleting/merge-paragraph-with-style-from-rule-live-range.html
  LayoutTests/editing/deleting/select-and-delete-last-char-in-table-live-range-expected.txt
  LayoutTests/editing/deleting/select-and-delete-last-char-in-table-live-range.html
  LayoutTests/editing/unsupported-content/table-delete-001-live-range-expected.txt
  LayoutTests/editing/unsupported-content/table-delete-001-live-range.html
  Source/WebCore/editing/DeleteSelectionCommand.cpp
Owners: @rniwa

Factor out default GPU process DOM rendering enabled state https://bugs.webkit.org/show_bug.cgi?id=246444 <rdar://problem/101110968>
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WTF/wtf/PlatformEnable.h
Owners: none

Don't use defaulted comparison operator yet https://bugs.webkit.org/show_bug.cgi?id=246447
  Source/WebCore/css/StyleColor.h
  Source/WebCore/platform/text/TextFlags.h
Owners: none

Non-unified build fixes after 255379@main
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeScrollingNodeDelegateNicosia.h
  Source/WebCore/rendering/CaretRectComputation.cpp
  Source/WebCore/rendering/style/StylePaintImage.cpp
  Source/WebCore/style/StyleBuilderState.cpp
Owners: @magomez, @zdobersek

Generate many WTF class serializers https://bugs.webkit.org/show_bug.cgi?id=246389
  Source/WTF/wtf/GenericTimeMixin.h
  Source/WTF/wtf/MediaTime.h
  Source/WTF/wtf/Seconds.h
  Source/WTF/wtf/URL.h
  Source/WebCore/platform/network/NetworkLoadMetrics.h
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Platform/IPC/ArgumentCoders.cpp
  Source/WebKit/Platform/IPC/ArgumentCoders.h
  Source/WebKit/Platform/IPC/DaemonCoders.h
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.cpp
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.h
  Source/WebKit/Scripts/webkit/tests/SerializedTypeInfo.cpp
  Source/WebKit/Scripts/webkit/tests/TestSerializedType.serialization.in
  Source/WebKit/Shared/WTFArgumentCoders.serialization.in
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Owners: @cdumez

Add support for WebCodecs encoder bitrate related parameters https://bugs.webkit.org/show_bug.cgi?id=246399 rdar://problem/101075781
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.iOS.exp
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.iOSsim.exp
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.mac.exp
  Source/WebCore/Configurations/WebCore.xcconfig
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.cpp
  Source/WebCore/platform/LibWebRTCVPXVideoEncoder.cpp
  Source/WebCore/platform/VideoEncoder.h
  Source/WebKit/WebProcess/GPU/media/RemoteVideoCodecFactory.cpp
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.cpp
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.h
Owners: @cdumez

Remote decoders should support negative timestamps https://bugs.webkit.org/show_bug.cgi?id=246395 rdar://problem/101069840
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any.worker_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any.worker_h264_avc-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any_h264_avc-expected.txt
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.iOS.exp
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.iOSsim.exp
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.mac.exp
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/WebKit/WebKitDecoder.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/WebKit/WebKitDecoder.mm
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/base/RTCVideoFrame.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoDecoderH264.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoDecoderH264.mm
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoDecoderH265.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoDecoderH265.mm
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoDecoderVTBVP9.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoDecoderVTBVP9.mm
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.h
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.messages.in
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.mm
  Source/WebKit/WebProcess/GPU/media/RemoteVideoCodecFactory.cpp
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.cpp
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.h
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.messages.in
Owners: @cdumez

Make sure to create VPx WebCodecs encoders and decoders asynchronously https://bugs.webkit.org/show_bug.cgi?id=246396 rdar://problem/101070923
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any.worker_vp8-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any.worker_vp9-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any_vp8-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any_vp9-expected.txt
  Source/WebCore/platform/LibWebRTCVPXVideoDecoder.cpp
  Source/WebCore/platform/LibWebRTCVPXVideoDecoder.h
  Source/WebCore/platform/LibWebRTCVPXVideoEncoder.cpp
  Source/WebCore/platform/LibWebRTCVPXVideoEncoder.h
  Source/WebCore/platform/VideoDecoder.cpp
  Source/WebCore/platform/VideoEncoder.cpp
Owners: none

[LFC][IFC] Figure out the logicalTopForNextLine without passing in the initial line rect https://bugs.webkit.org/show_bug.cgi?id=246416
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingContext.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingGeometry.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingGeometry.h
Owners: none

Cleanup Line::resetBidiLevelForTrailingWhitespace https://bugs.webkit.org/show_bug.cgi?id=246458 <rdar://100601196>
  Source/WebCore/layout/formattingContexts/inline/InlineLine.cpp
Owners: none

Resync web-platform-tests/screen-orientation from upstream https://bugs.webkit.org/show_bug.cgi?id=246436
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/META.yml
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/active-lock-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/active-lock.html
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/resources/empty.html
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/resources/orientation-utils.js
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/resources/w3c-import.log
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/screen-orientation/active-lock-expected.txt
Owners: none

[GCC] Build error in Ubuntu 20.04 after 255095@main ihttps://bugs.webkit.org/show_bug.cgi?id=246447
  Source/WebCore/css/StyleColor.h
  Source/WebCore/platform/text/TextFlags.h
Owners: none

Cherry-pick 254391@main (7655272de94c). rdar://99205736
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/spi/cocoa/NSAttributedStringSPI.h
  Source/WebCore/PAL/pal/spi/cocoa/PassKitSPI.h
  Source/WebCore/PAL/pal/spi/cocoa/VisionKitCoreSPI.h
  Source/WebCore/PAL/pal/spi/ios/UIKitSPI.h
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
  Source/WebKit/UIProcess/Cocoa/WKStorageAccessAlert.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKitCocoa/FindInPage.mm
  Tools/TestWebKitAPI/ios/UIKitSPI.h
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/13/AssertionServices.framework/AssertionServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/13/CorePDF.framework/CorePDF.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/13/DeviceIdentity.framework/DeviceIdentity.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/13/IOSurfaceAccelerator.framework/IOSurfaceAccelerator.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/14/AppSupport.framework/AppSupport.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/14/AssertionServices.framework/AssertionServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/14/AuthKit.framework/AuthKit.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/14/BackBoardServices.framework/BackBoardServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/14/CorePrediction.framework/CorePrediction.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/14/DeviceIdentity.framework/DeviceIdentity.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/14/GraphicsServices.framework/GraphicsServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/14/IOSurfaceAccelerator.framework/IOSurfaceAccelerator.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/14/RunningBoardServices.framework/RunningBoardServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/14/SafariSafeBrowsing.framework/SafariSafeBrowsing.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/16/AppServerSupport.framework/AppServerSupport.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/16/AppStoreDaemon.framework/AppStoreDaemon.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/16/AppSupport.framework/AppSupport.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/16/ApplePushService.framework/ApplePushService.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/16/AuthKit.framework/AuthKit.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/16/BackBoardServices.framework/BackBoardServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/16/CorePrediction.framework/CorePrediction.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/16/GraphicsServices.framework/GraphicsServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/16/InstallCoordination.framework/InstallCoordination.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/16/PrototypeTools.framework/PrototypeTools.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/16/RunningBoardServices.framework/RunningBoardServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/16/SafariSafeBrowsing.framework/SafariSafeBrowsing.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/16/URLFormatting.framework/URLFormatting.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/16/VisionKitCore.framework/VisionKitCore.tbd
Owners: @cdumez

Unreviewed, screen orientation tests are flaky time outs on iOS simulator https://bugs.webkit.org/show_bug.cgi?id=246463 rdar://101130157
  LayoutTests/platform/ios-wk2/TestExpectations
Owners: none

Add RemoteLayerTreeDrawingAreaProxyIOS https://bugs.webkit.org/show_bug.cgi?id=246439 rdar://101109019
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteLayerTreeDrawingAreaProxyIOS.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteLayerTreeDrawingAreaProxyIOS.mm
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.h
  Source/WebKit/UIProcess/ios/WKContentView.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Owners: @cdumez

Encrypt function for AES_GCM, support to CryptoKit https://bugs.webkit.org/show_bug.cgi?id=246350 rdar://problem/101040216
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/SourcesCocoa.txt
  Source/WebCore/crypto/algorithms/CryptoAlgorithmAES_GCM.h
  Source/WebCore/crypto/mac/CryptoAlgorithmAES_GCMMac.cpp
  Source/WebCore/crypto/mac/CryptoAlgorithmAES_GCMMac.mm
  Source/WebCore/crypto/mac/CryptoKeyECMac.cpp
Owners: @zdobersek

[Gardening]: [ iOS16 BigSur wk2 ] http/tests/privateClickMeasurement/store-private-click-measurement-with-source-nonce.html is a flakey failure https://bugs.webkit.org/show_bug.cgi?id=227369
  LayoutTests/platform/ios-simulator/TestExpectations
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac-bigsur-wk2/TestExpectations
Owners: none

More non-unified builds after 255459@main
  Source/JavaScriptCore/wasm/WasmTypeDefinition.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineLineBuilder.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineLineBuilder.h
  Source/WebCore/page/ScreenOrientation.cpp
  Source/WebCore/page/ScreenOrientationLockType.h
Owners: @WebKit/jsc-reviewers, @cdumez

Fix VideoFrame displayWidth and displayHeight when creating a frame from another one https://bugs.webkit.org/show_bug.cgi?id=246449 rdar://problem/101118814
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-construction.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-construction.any.worker-expected.txt
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.h
Owners: none

[MQ4] Make more media query code generic https://bugs.webkit.org/show_bug.cgi?id=246452 rdar://101121497
  Source/WebCore/Sources.txt
  Source/WebCore/css/CSSContainerRule.cpp
  Source/WebCore/css/ContainerQuery.cpp
  Source/WebCore/css/ContainerQuery.h
  Source/WebCore/css/ContainerQueryParser.cpp
  Source/WebCore/css/ContainerQueryParser.h
  Source/WebCore/css/query/GenericMediaQueryEvaluator.h
  Source/WebCore/css/query/GenericMediaQueryParser.cpp
  Source/WebCore/css/query/GenericMediaQueryParser.h
  Source/WebCore/css/query/GenericMediaQuerySerialization.cpp
  Source/WebCore/css/query/GenericMediaQuerySerialization.h
  Source/WebCore/css/query/GenericMediaQueryTypes.h
  Source/WebCore/css/query/MediaQueryParser.cpp
  Source/WebCore/css/query/MediaQueryParser.h
  Source/WebCore/style/ContainerQueryEvaluator.cpp
  Source/WebCore/style/ContainerQueryEvaluator.h
Owners: none

Validate width, height, x and y for I420 and NV12 video frames https://bugs.webkit.org/show_bug.cgi?id=246394 rdar://problem/101068854
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-construction.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-construction.any.worker-expected.txt
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.cpp
Owners: none

Cherry-pick 254525@main (f8cfeb9c0076). rdar://99949028
  WebKitLibraries/WebKitPrivateFrameworkStubs/iOS/16/IOSurfaceAccelerator.framework/IOSurfaceAccelerator.tbd
Owners: none

Versioning.
  Configurations/Version.xcconfig
Owners: none

Add static_asserts to verify we got all the serialized types correct https://bugs.webkit.org/show_bug.cgi?id=246446 rdar://101113579
  Source/WebCore/Modules/indexeddb/IDBTransaction.h
  Source/WebCore/Modules/indexeddb/shared/IDBTransactionInfo.h
  Source/WebCore/loader/PrivateClickMeasurement.h
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.cpp
Owners: @cdumez

[Gardening]: REGRESSION(255471@main): [ macOS iOS ] fast/box-shadow/inset-spread-box-shadow-split-inline.html is a constant failure https://bugs.webkit.org/show_bug.cgi?id=246464
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Owners: none

NetworkStorageManager can be destroyed on wrong thread https://bugs.webkit.org/show_bug.cgi?id=246375 rdar://101056611
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.h
Owners: @cdumez

[css-scroll-snap] only preserve a target if we have targets for both axes https://bugs.webkit.org/show_bug.cgi?id=245989 <rdar://100737724>
  LayoutTests/TestExpectations
  Source/WebCore/platform/ScrollSnapAnimatorState.cpp
Owners: none

Check alpha option in WebCodecs encoder configuration https://bugs.webkit.org/show_bug.cgi?id=246448 rdar://problem/101116039
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-encoder-config.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-encoder-config.https.any.worker-expected.txt
  Source/WebCore/CMakeLists.txt
  Source/WebCore/DerivedSources-input.xcfilelist
  Source/WebCore/DerivedSources-output.xcfilelist
  Source/WebCore/DerivedSources.make
  Source/WebCore/Modules/webcodecs/WebCodecsAlphaOption.h
  Source/WebCore/Modules/webcodecs/WebCodecsAlphaOption.idl
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoderConfig.idl
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.h
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.idl
  Source/WebCore/Sources.txt
Owners: none

Webkit pr should have an option not to create a commit https://bugs.webkit.org/show_bug.cgi?id=246380 <rdar://problem/101060897>
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
Owners: @facetothefate, @JonWBedard

[WK2] constexpr-ify IPC encoding, decoding of std::tuple<> objects https://bugs.webkit.org/show_bug.cgi?id=246149
  Source/WebKit/Platform/IPC/ArgumentCoders.h
Owners: @cdumez

[Gardening]: [ macOS Debug ] compositing/backing/backing-store-attachment-animating-outside-viewport.html is a flaky failure https://bugs.webkit.org/show_bug.cgi?id=246467
  LayoutTests/platform/mac/TestExpectations
Owners: none

Cherry-pick 6e034bbd2683. rdar://problem/101048572
  JSTests/stress/arith-min-max-multiple.js
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick d03ef2474704. rdar://problem/101057340
  Source/WebCore/Modules/webauthn/AuthenticationExtensionsClientInputs.h
  Source/WebCore/Modules/webauthn/PublicKeyCredentialRequestOptions.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Owners: none

Background WebContent Processes should fully suspend behind runtime flag https://bugs.webkit.org/show_bug.cgi?id=246304 rdar://101001791
  Source/WTF/Scripts/Preferences/WebPreferencesInternal.yaml
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivateForTesting.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewTesting.mm
  Source/WebKit/UIProcess/ProcessThrottler.cpp
  Source/WebKit/UIProcess/ProcessThrottler.h
  Source/WebKit/UIProcess/ProcessThrottlerClient.h
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ServiceWorkerBasic.mm
Owners: @cdumez

Generate serializers for SessionState objects https://bugs.webkit.org/show_bug.cgi?id=246423 rdar://101097050
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Shared/SessionState.cpp
  Source/WebKit/Shared/SessionState.h
  Source/WebKit/Shared/SessionState.serialization.in
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.h
  Source/WebKit/UIProcess/API/glib/WebKitWebViewSessionState.cpp
  Source/WebKit/UIProcess/mac/LegacySessionStateCoding.cpp
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebCoreSupport/SessionStateConversion.cpp
Owners: @WebKit/glib-reviewers, @cdumez
