Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @calvaris, @philn, @ntrrgc, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @graouts

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard
/Tools/TestWebKitAPI

# ================================================================================

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn

# ================================================================================

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

/Source/WebCore/Modules/apple-pay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/apple-pay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

# ================================================================================

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

[JSC] Drop support for the softfp ABI on ARMv7 https://bugs.webkit.org/show_bug.cgi?id=242172
  Source/JavaScriptCore/assembler/testmasm.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.h
  Source/JavaScriptCore/jit/CCallHelpers.h
  Source/JavaScriptCore/jit/FPRInfo.h
  Source/WTF/wtf/PlatformEnable.h
Owners: @WebKit/jsc-reviewers

[webkitpy] runtime error in function _fill from local/git.py https://bugs.webkit.org/show_bug.cgi?id=242238
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/local/git.py
Owners: @facetothefate, @JonWBedard

Merge 248091@main - AX: Protect incoming object with Ref in AXObjectCache::textChanged https://bugs.webkit.org/show_bug.cgi?id=237475
  Source/WebCore/ChangeLog
  Source/WebCore/accessibility/AXObjectCache.cpp
Owners: none

Merge 250250@main - [GStreamer] Mediastream mock audio interruption fixes after r290985 https://bugs.webkit.org/show_bug.cgi?id=239926
  LayoutTests/ChangeLog
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/ChangeLog
  Source/WebCore/platform/mediastream/gstreamer/GStreamerAudioCaptureSource.cpp
  Source/WebCore/platform/mediastream/gstreamer/MockRealtimeAudioSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/MockRealtimeAudioSourceGStreamer.h
  Source/WebCore/platform/mock/MockRealtimeAudioSource.cpp
  Source/WebCore/platform/mock/MockRealtimeVideoSource.cpp
Owners: @calvaris, @philn

css/css-fonts/animations/font-variation-settings-composition.html has failures https://bugs.webkit.org/show_bug.cgi?id=235774 <rdar://88487842>
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/animations/font-variation-settings-composition-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/accumulation-per-property-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/addition-per-property-001-expected.txt
  Source/WebCore/animation/CSSPropertyAnimation.cpp
Owners: @graouts

css/motion/animation/offset-rotate-composition.html has failures https://bugs.webkit.org/show_bug.cgi?id=235786 <rdar://88487956>
  LayoutTests/imported/w3c/web-platform-tests/css/motion/animation/offset-rotate-composition-expected.txt
  Source/WebCore/animation/CSSPropertyAnimation.cpp
Owners: @graouts

css/motion/animation/offset-rotate-composition.html has failures https://bugs.webkit.org/show_bug.cgi?id=235786 <rdar://88487956>
  LayoutTests/imported/w3c/web-platform-tests/css/motion/animation/offset-rotate-composition-expected.txt
  Source/WebCore/animation/CSSPropertyAnimation.cpp
Owners: @graouts

run-webkit-tests with many child processes timeout for initial invocation https://bugs.webkit.org/show_bug.cgi?id=242106
  Tools/Scripts/webkitpy/port/mac.py
  Tools/Scripts/webkitpy/port/port_testcase.py
  Tools/Scripts/webkitpy/port/server_process_mock.py
Owners: @JonWBedard

Remove ARMv7 SoftFP configurations from Buildbot https://bugs.webkit.org/show_bug.cgi?id=242247
  Tools/CISupport/build-webkit-org/config.json
  Tools/CISupport/build-webkit-org/factories_unittest.py
  Tools/CISupport/build-webkit-org/public_html/dashboard/Scripts/WebKitBuildbot.js
Owners: @aj062, @JonWBedard, @ryanhaddad

Merge 252028@main - Add null check for drawingArea in RemoteScrollingCoordinatorProxy::layerTreeHost() https://bugs.webkit.org/show_bug.cgi?id=242207 <rdar://85499764>
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeScrollingNodeDelegateIOS.mm
Owners: none

Merge 252022@main - Crash under PageOverlay::fadeAnimationTimerFired() https://bugs.webkit.org/show_bug.cgi?id=242213 <rdar://95482221>
  Source/WebCore/page/PageOverlay.cpp
Owners: none

[webkitperl] Remove warning when building JSC with CMake https://bugs.webkit.org/show_bug.cgi?id=242240
  Tools/Scripts/webkitperl/BuildSubproject.pm
Owners: @JonWBedard

Merge 251730@main - [GLIB] Change MPRIS bus name to be sandbox friendly https://bugs.webkit.org/show_bug.cgi?id=241807
  Source/WebCore/platform/audio/glib/MediaSessionGLib.cpp
  Source/WebKit/UIProcess/Launcher/glib/XDGDBusProxy.cpp
Owners: none

Merge 251744@main - [GLIB] Fix invalid D-Bus name for MPRIS https://bugs.webkit.org/show_bug.cgi?id=241807
  Source/WebCore/platform/audio/glib/MediaSessionGLib.cpp
Owners: none

[GStreamer][VideoCapture] Ensure video/x-raw mime-type caps have a format https://bugs.webkit.org/show_bug.cgi?id=242243
  Source/WebCore/platform/mediastream/gstreamer/GStreamerVideoCapturer.cpp
Owners: @calvaris, @philn

[browserperfdash-benchmark] Fix error logging from server after 251530@main https://bugs.webkit.org/show_bug.cgi?id=242242
  Tools/Scripts/webkitpy/browserperfdash/browserperfdash_runner.py
Owners: @JonWBedard

REGRESSION(r283437) a number of media tests fail/timeout on the test bots https://bugs.webkit.org/show_bug.cgi?id=231811 <rdar://problem/84552871>
  LayoutTests/ChangeLog
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/ChangeLog
  Source/WebCore/platform/audio/glib/MediaSessionGLib.cpp
  Source/WebCore/platform/audio/glib/MediaSessionManagerGLib.h
  Source/WebCore/testing/Internals.cpp
Owners: none

Merge 251779@main - [GLIB] MediaSessionGlib shows multiple players for a single video https://bugs.webkit.org/show_bug.cgi?id=241857
  Source/WebCore/platform/audio/glib/MediaSessionGLib.cpp
  Source/WebCore/platform/audio/glib/MediaSessionGLib.h
Owners: none

[LFC][FFC] Flex-basis should be taken into account when computing the content logical width https://bugs.webkit.org/show_bug.cgi?id=242115
  Source/WebCore/layout/formattingContexts/flex/FlexLayout.cpp
Owners: none

Merge 252039@main - [GStreamer][VideoCapture] Ensure video/x-raw mime-type caps have a format https://bugs.webkit.org/show_bug.cgi?id=242243
  Source/WebCore/platform/mediastream/gstreamer/GStreamerVideoCapturer.cpp
Owners: @calvaris, @philn

Crash under ContentSecurityPolicy::copyUpgradeInsecureRequestStateFrom() https://bugs.webkit.org/show_bug.cgi?id=242208 <rdar://95846191>
  Source/WebCore/loader/WorkerThreadableLoader.cpp
  Source/WebCore/page/csp/ContentSecurityPolicy.cpp
  Source/WebCore/page/csp/ContentSecurityPolicy.h
Owners: none

REGRESSION(251219@main): xml-stripblanks requires executable xmllint https://bugs.webkit.org/show_bug.cgi?id=242237
  Tools/glib/dependencies/apt
Owners: @JonWBedard

Merge 252029@main - Pressing shift+tab when focused in the middle of a contenteditable element doesn't work https://bugs.webkit.org/show_bug.cgi?id=241902
  LayoutTests/fast/events/sequential-focus-navigation-after-clicking-editable-text-expected.txt
  LayoutTests/fast/events/sequential-focus-navigation-after-clicking-editable-text.html
  LayoutTests/platform/ios/TestExpectations
  Source/WebCore/dom/Document.cpp
Owners: none

Merge 251516@main - [WPE][GTK] REGRESSION (r294381): WPEWebProcess leak after closing browser https://bugs.webkit.org/show_bug.cgi?id=241353
  Source/WebKit/UIProcess/API/glib/WebKitWebView.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebViewInternal.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Tools/TestWebKitAPI/Tests/WebKitGLib/TestWebKitWebContext.cpp
  Tools/TestWebKitAPI/glib/WebKitGLib/WebViewTest.cpp
  Tools/TestWebKitAPI/glib/WebKitGLib/WebViewTest.h
Owners: none

[LFC][FFC] Take the flex box's min-height into account when computing the available vertical space for flex items https://bugs.webkit.org/show_bug.cgi?id=242134
  Source/WebCore/layout/integration/flex/LayoutIntegrationFlexLayout.cpp
Owners: none

[Gardening]: webanimations/accelerated-animation-after-forward-filling-animation.html Bug web URL: https://bugs.webkit.org/show_bug.cgi?id=242249
  LayoutTests/platform/mac/TestExpectations
Owners: none

run-webkit-tests runs xcodebuild an unnecessary amount of times https://bugs.webkit.org/show_bug.cgi?id=216568
  Tools/Scripts/bisect-builds
  Tools/Scripts/webkitpy/common/system/crashlogs_unittest.py
  Tools/Scripts/webkitpy/common/system/path_unittest.py
  Tools/Scripts/webkitpy/common/system/systemhost.py
  Tools/Scripts/webkitpy/common/version_name_map.py
  Tools/Scripts/webkitpy/common/version_name_map_unittest.py
  Tools/Scripts/webkitpy/layout_tests/run_webkit_tests_integrationtest.py
  Tools/Scripts/webkitpy/port/server_process_unittest.py
  Tools/Scripts/webkitpy/port/win.py
  Tools/Scripts/webkitpy/style/checkers/featuredefines.py
  Tools/Scripts/webkitpy/style/checkers/jstest.py
  Tools/Scripts/webkitpy/style/checkers/png.py
  Tools/Scripts/webkitpy/style/checkers/sdkvariant.py
  Tools/Scripts/webkitpy/test/printer.py
  Tools/Scripts/webkitpy/tool/steps/addsvnmimetypeforpng.py
  Tools/Scripts/webkitpy/tool/steps/formatcppfiles.py
  Tools/Scripts/webkitpy/xcode/simulated_device.py
  Tools/lldb/dump_class_layout_unittest.py
  Tools/lldb/lldb_dump_class_layout.py
  Tools/lldb/lldb_webkit_unittest.py
Owners: @JonWBedard

run-webkit-tests runs xcodebuild an unnecessary amount of times https://bugs.webkit.org/show_bug.cgi?id=216568
  Tools/Scripts/bisect-builds
  Tools/Scripts/webkitpy/common/system/crashlogs_unittest.py
  Tools/Scripts/webkitpy/common/system/path_unittest.py
  Tools/Scripts/webkitpy/common/system/systemhost.py
  Tools/Scripts/webkitpy/common/version_name_map.py
  Tools/Scripts/webkitpy/common/version_name_map_unittest.py
  Tools/Scripts/webkitpy/layout_tests/run_webkit_tests_integrationtest.py
  Tools/Scripts/webkitpy/port/server_process_unittest.py
  Tools/Scripts/webkitpy/port/win.py
  Tools/Scripts/webkitpy/style/checkers/featuredefines.py
  Tools/Scripts/webkitpy/style/checkers/jstest.py
  Tools/Scripts/webkitpy/style/checkers/png.py
  Tools/Scripts/webkitpy/style/checkers/sdkvariant.py
  Tools/Scripts/webkitpy/test/printer.py
  Tools/Scripts/webkitpy/tool/steps/addsvnmimetypeforpng.py
  Tools/Scripts/webkitpy/tool/steps/formatcppfiles.py
  Tools/Scripts/webkitpy/xcode/simulated_device.py
  Tools/lldb/dump_class_layout_unittest.py
  Tools/lldb/lldb_dump_class_layout.py
  Tools/lldb/lldb_webkit_unittest.py
Owners: @JonWBedard

Add a null check in TextManipulationController::replace https://bugs.webkit.org/show_bug.cgi?id=242216
  Source/WebCore/editing/TextManipulationController.cpp
  Source/WebCore/platform/Logging.h
Owners: none

[LFC][FFC] Re-layout flex items using their final size after flexing https://bugs.webkit.org/show_bug.cgi?id=242146
  Source/WebCore/layout/integration/flex/LayoutIntegrationFlexLayout.cpp
Owners: none

[Make] Avoid passing default xcodebuild options to installsrc https://bugs.webkit.org/show_bug.cgi?id=242089 rdar://95680722
  Makefile.shared
Owners: none

Update Copy Permalink for GitHub https://bugs.webkit.org/show_bug.cgi?id=242166
  Tools/CopyPermalink/Sublime Text/CopyWebKitPermalink/CopyWebKitPermalink.py
  Tools/CopyPermalink/Sublime Text/CopyWebKitPermalink/CopyWebKitPermalink.sublime-settings
Owners: @JonWBedard

[Gardening]: [iOS wk2 iPad] platform/ipad/media/modern-media-controls/media-documents/media-document-video-ios-sizing.html is a flaky timeout (230419) https://bugs.webkit.org/show_bug.cgi?id=230419
  LayoutTests/platform/ipad/TestExpectations
Owners: none

Crash under NetworkResourceLoader::sendDidReceiveResponsePotentiallyInNewBrowsingContextGroup() https://bugs.webkit.org/show_bug.cgi?id=242150 <rdar://85454011>
  Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Cherry-pick ab57d8fd825e. rdar://problem/96096907
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/spi/cocoa/AVFoundationSPI.h
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/platform/graphics/MediaPlayer.cpp
  Source/WebCore/platform/graphics/MediaPlayer.h
  Source/WebCore/platform/graphics/MediaPlayerPrivate.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.messages.in
  Source/WebKit/GPUProcess/media/cocoa/RemoteMediaPlayerProxyCocoa.mm
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.h
Owners: none

[macOS] Allow syscall used during launch of the WebContent process https://bugs.webkit.org/show_bug.cgi?id=242218 <rdar://95210336>
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Owners: none

[Gardening]: [iOS] http/tests/navigation/back-to-slow-frame.html is a flaky crash under MediaPlayer::getSupportedTypes (230434) https://bugs.webkit.org/show_bug.cgi?id=230434
  LayoutTests/platform/ios-wk2/TestExpectations
Owners: none

[Gardening]: [ BigSur wk2 ] http/tests/cache/disk-cache/shattered-deduplication.html is flaky image failure (230650) https://bugs.webkit.org/show_bug.cgi?id=230650
  LayoutTests/platform/mac-wk2/TestExpectations
Owners: none

[git-webkit] Consider origin when determing branch https://bugs.webkit.org/show_bug.cgi?id=242094
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/mocks/local/git.py
Owners: @facetothefate, @JonWBedard
