Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

Fix a few mistakes in 255711@main https://bugs.webkit.org/show_bug.cgi?id=246790 rdar://101365658
  Source/WebCore/page/FrameTree.cpp
  Source/WebCore/page/FrameView.cpp
Owners: @cdumez

Width.h Redefinition Build Fix https://bugs.webkit.org/show_bug.cgi?id=246788
  Source/JavaScriptCore/wasm/generateWasmOpsHeader.py
Owners: @WebKit/jsc-reviewers

Unreviewed, build fix https://bugs.webkit.org/show_bug.cgi?id=246794
  Source/JavaScriptCore/wasm/WasmTypeDefinition.h
  Source/JavaScriptCore/wasm/generateWasmOpsHeader.py
Owners: @WebKit/jsc-reviewers

Make WebCodecs isConfigSupported more accurate by relying on codec creation code path https://bugs.webkit.org/show_bug.cgi?id=246677 rdar://problem/101278486
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any.worker_vp9_p2-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_vp9_p2-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/reconfiguring-encoder.https.any.worker_vp9_p2-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/reconfiguring-encoder.https.any_vp9_p2-expected.txt
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoder.h
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoder.idl
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoderConfig.h
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.h
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.idl
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoderConfig.h
  Source/WebCore/dom/ScriptExecutionContext.cpp
  Source/WebCore/dom/ScriptExecutionContext.h
  Source/WebCore/platform/VideoDecoder.h
  Source/WebCore/platform/VideoEncoder.h
Owners: @rniwa, @cdumez

Add WebCodecs VideoFrame support for createImageBitmap https://bugs.webkit.org/show_bug.cgi?id=246739 rdar://problem/101331058
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-alpha.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-canvasImageSource-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-construction.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-createImageBitmap.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-createImageBitmap.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-createImageBitmap.https.any-expected.txt
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.h
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrameAlgorithms.cpp
  Source/WebCore/html/ImageBitmap.cpp
  Source/WebCore/html/ImageBitmap.h
  Source/WebCore/page/WindowOrWorkerGlobalScope.idl
  Source/WebCore/platform/graphics/cv/VideoFrameCV.mm
Owners: @cdumez, @rniwa

Stop playing before setting the ringBuffer in RemoteAudioDestination::RemoteAudioDestination() https://bugs.webkit.org/show_bug.cgi?id=246664 rdar://100412101
  Source/WebKit/GPUProcess/media/RemoteAudioDestinationManager.cpp
Owners: none

WebGL compilation disabling WebGL 2 is broken https://bugs.webkit.org/show_bug.cgi?id=246753
  Source/WebCore/inspector/InspectorCanvas.cpp
  Source/WebCore/inspector/InspectorCanvasCallTracer.h
Owners: @dcrousso, @patrickangle

Unreviewed. Update OptionsGTK.cmake and NEWS for 2.38.1 release
  Source/WebKit/gtk/NEWS
  Source/cmake/OptionsGTK.cmake
Owners: @WebKit/glib-reviewers

Unreviewed, fix build breakage part 2 https://bugs.webkit.org/show_bug.cgi?id=246795
  Source/JavaScriptCore/wasm/WasmTypeDefinition.h
  Source/JavaScriptCore/wasm/generateWasmOpsHeader.py
Owners: @WebKit/jsc-reviewers

WebCodecsVideoDecoderConfig description should be undefined instead of null if there is no description to provide https://bugs.webkit.org/show_bug.cgi?id=246685 rdar://problem/101288923
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_h264_avc-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_vp8-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_vp9_p0-expected.txt
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.cpp
Owners: none

[WPE] Gardening accent-color
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/gtk/TestExpectations
Owners: none

[ews-app] Add python 3 support - part 2 https://bugs.webkit.org/show_bug.cgi?id=246802
  Tools/CISupport/ews-app/ews/models/__init__.py
Owners: @aj062, @JonWBedard, @ryanhaddad

[GTK] dnf install-dependencies has some deprecated packages https://bugs.webkit.org/show_bug.cgi?id=246801
  Tools/glib/dependencies/dnf
  Tools/gtk/dependencies/dnf
Owners: @WebKit/glib-reviewers

Support WebCodecsVideoFrame as input to canvas texImage2D https://bugs.webkit.org/show_bug.cgi?id=246798 rdar://problem/101375988
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-texImage.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-texImage.any.js
  Source/WebCore/html/canvas/WebGL2RenderingContext.h
  Source/WebCore/html/canvas/WebGL2RenderingContext.idl
  Source/WebCore/html/canvas/WebGLRenderingContext.idl
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
Owners: @cdumez, @rniwa

Implement WebCodecs video encoder flush https://bugs.webkit.org/show_bug.cgi?id=246686 rdar://problem/101288914
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_h264_avc-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/reconfiguring-encoder.https.any_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/reconfiguring-encoder.https.any_h264_avc-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/temporal-svc-encoding.https.any_h264-expected.txt
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.iOS.exp
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.iOSsim.exp
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.mac.exp
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/WebKit/WebKitEncoder.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/WebKit/WebKitEncoder.mm
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoEncoderH264.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoEncoderH264.mm
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoEncoderH265.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoEncoderH265.mm
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.h
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.messages.in
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.mm
  Source/WebKit/WebProcess/GPU/media/RemoteVideoCodecFactory.cpp
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.cpp
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.h
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.messages.in
Owners: @cdumez

Implement WebCodecs Validate VideoFrameInit algorithm https://bugs.webkit.org/show_bug.cgi?id=246796 rdar://problem/101373396
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-construction.any-expected.txt
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.h
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrameAlgorithms.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrameAlgorithms.h
  Source/WebCore/platform/VideoPixelFormat.cpp
  Source/WebCore/platform/VideoPixelFormat.h
Owners: none

[ews-app] Add python 3 support - part 3 https://bugs.webkit.org/show_bug.cgi?id=246808
  Tools/CISupport/ews-app/ews/common/bugzilla.py
  Tools/CISupport/ews-app/ews/common/buildbot.py
Owners: @aj062, @JonWBedard, @ryanhaddad

Introduce StructuredSerializeInternal forStorage parameter https://bugs.webkit.org/show_bug.cgi?id=246744 rdar://problem/101367447
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/chunk-serialization.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/chunk-serialization.any.js
  Source/WebCore/Modules/indexeddb/IDBCursor.cpp
  Source/WebCore/Modules/indexeddb/IDBObjectStore.cpp
  Source/WebCore/Modules/webaudio/AudioWorkletNode.cpp
  Source/WebCore/bindings/js/JSDOMConvertSerializedScriptValue.h
  Source/WebCore/bindings/js/JSDOMWrapper.cpp
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
  Source/WebCore/bindings/js/SerializedScriptValue.h
  Source/WebCore/dom/ErrorEvent.cpp
  Source/WebCore/dom/PopStateEvent.cpp
  Source/WebCore/page/DOMWindow.cpp
  Source/WebCore/page/WindowOrWorkerGlobalScope.cpp
  Source/WebCore/workers/DedicatedWorkerGlobalScope.cpp
  Source/WebCore/workers/Worker.cpp
  Source/WebCore/workers/service/ExtendableMessageEvent.cpp
  Source/WebCore/workers/service/ServiceWorker.cpp
  Source/WebCore/workers/service/ServiceWorkerClient.cpp
Owners: @cdumez, @rniwa

Resync contain-intrinsic-size/contain-intrinsic-size-009.html from WPT https://bugs.webkit.org/show_bug.cgi?id=246807
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/contain-intrinsic-size-009-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/contain-intrinsic-size-009.html
Owners: none

[JSC] Optimize runtime iterations for arguments and string https://bugs.webkit.org/show_bug.cgi?id=246714 rdar://101317088
  JSTests/microbenchmarks/cloned-arguments-varargs.js
  JSTests/microbenchmarks/spread-string.js
  JSTests/stress/array-storage-fast-slice-hole.js
  JSTests/stress/array-storage-slice.js
  JSTests/stress/cloned-arguments-varargs.js
  JSTests/stress/spread-arguments-slow.js
  JSTests/stress/spread-arguments.js
  JSTests/stress/spread-string.js
  Source/JavaScriptCore/CMakeLists.txt
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/interpreter/Interpreter.cpp
  Source/JavaScriptCore/runtime/ArrayPrototype.cpp
  Source/JavaScriptCore/runtime/ClonedArguments.cpp
  Source/JavaScriptCore/runtime/ClonedArguments.h
  Source/JavaScriptCore/runtime/CommonSlowPaths.cpp
  Source/JavaScriptCore/runtime/CommonSlowPathsInlines.h
  Source/JavaScriptCore/runtime/DirectArguments.cpp
  Source/JavaScriptCore/runtime/DirectArguments.h
  Source/JavaScriptCore/runtime/IntlObject.cpp
  Source/JavaScriptCore/runtime/JSArray.cpp
  Source/JavaScriptCore/runtime/JSArrayInlines.h
  Source/JavaScriptCore/runtime/JSCJSValue.cpp
  Source/JavaScriptCore/runtime/JSCJSValue.h
  Source/JavaScriptCore/runtime/JSGlobalObject.h
  Source/JavaScriptCore/runtime/JSGlobalObjectInlines.h
  Source/JavaScriptCore/runtime/JSImmutableButterfly.cpp
  Source/JavaScriptCore/runtime/JSImmutableButterfly.h
  Source/JavaScriptCore/runtime/JSONObject.cpp
  Source/JavaScriptCore/runtime/JSObjectInlines.h
  Source/JavaScriptCore/runtime/JSString.h
  Source/JavaScriptCore/runtime/MathCommon.h
  Source/JavaScriptCore/runtime/ScopedArguments.cpp
  Source/JavaScriptCore/runtime/ScopedArguments.h
  Source/JavaScriptCore/runtime/StringConstructor.cpp
Owners: @WebKit/jsc-reviewers

Add support for CSSNumericValue.parse() https://bugs.webkit.org/show_bug.cgi?id=246775
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-normalization/normalize-numeric.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/numeric-objects/parse.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/timing-model/animations/setting-the-current-time-of-an-animation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/timing-model/animations/setting-the-start-time-of-an-animation-expected.txt
  Source/WebCore/css/calc/CSSCalcPrimitiveValueNode.h
  Source/WebCore/css/typedom/CSSNumericValue.cpp
Owners: none

[LFC][Integration] Add layout box to showRenderTree https://bugs.webkit.org/show_bug.cgi?id=246809
  Source/WebCore/rendering/FloatingObjects.cpp
  Source/WebCore/rendering/RenderObject.cpp
Owners: none

Run in-process render server https://bugs.webkit.org/show_bug.cgi?id=246817 rdar://101387770
  Source/WebCore/PAL/pal/spi/cocoa/QuartzCoreSPI.h
  Source/WebKit/Platform/cocoa/LayerHostingContext.h
  Source/WebKit/Platform/cocoa/LayerHostingContext.mm
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Owners: @cdumez

Reverting 255626@main because introduced crashing layout test.
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/mac-monterey-wk2-lbse-text/TestExpectations
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/hixie/mixed/009-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/text/zoom-hixie-mixed-009-expected.txt
  LayoutTests/platform/win/TestExpectations
  LayoutTests/svg/custom/display-table-caption-foreignObject.svg
  LayoutTests/svg/custom/display-table-caption-inherit-foreignObject.xhtml
  LayoutTests/svg/custom/use-on-use-with-child.svg
  LayoutTests/svg/dom/SVGScriptElement/script-async-attr.svg
  LayoutTests/svg/dom/SVGScriptElement/script-load-and-error-events.svg
  LayoutTests/svg/dom/SVGScriptElement/script-onerror-bubbling.svg
  LayoutTests/svg/dom/SVGScriptElement/script-reexecution.svg
  LayoutTests/svg/dom/SVGScriptElement/script-type-attribute.svg
  LayoutTests/svg/dom/smil-methods.svg
  LayoutTests/svg/foreignObject/respect-block-margin-expected.html
  LayoutTests/svg/foreignObject/respect-block-margin.html
  LayoutTests/svg/hittest/svg-standalone-tooltip.svg
  LayoutTests/svg/hixie/mixed/009.xml
  LayoutTests/svg/zoom/page/zoom-hixie-mixed-009.xml
  LayoutTests/svg/zoom/text/zoom-hixie-mixed-009.xml
  Source/WebCore/rendering/RenderElement.cpp
  Source/WebCore/rendering/RenderLayer.cpp
Owners: none

Add option for presenting the web view share sheet modally https://bugs.webkit.org/show_bug.cgi?id=246376 rdar://101050446
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/Cocoa/WKShareSheet.mm
Owners: @cdumez

Revert [252432.608@safari-7614-branch] Cherry-pick 09496e855222. rdar://problem/100873493
  Source/WTF/wtf/EnumTraits.h
  Source/WebCore/platform/graphics/GraphicsContextState.cpp
  Source/WebCore/platform/graphics/Path.h
Owners: none

[css-typed-om] support reification of <transform-list> https://bugs.webkit.org/show_bug.cgi?id=246797
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-normalization/transformvalue-normalization.tentative-expected.txt
  Source/WebCore/Headers.cmake
  Source/WebCore/Sources.txt
  Source/WebCore/css/CSSTransformListValue.cpp
  Source/WebCore/css/CSSTransformListValue.h
  Source/WebCore/css/CSSValue.cpp
  Source/WebCore/css/CSSValue.h
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/parser/CSSParserFastPaths.cpp
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/css/typedom/CSSStyleValueFactory.cpp
  Source/WebCore/css/typedom/transform/CSSTransformValue.cpp
  Source/WebCore/css/typedom/transform/CSSTransformValue.h
Owners: none

Revert [252432.625@safari-7614-branch] Cherry-pick dc7fdb2e0a35. rdar://problem/100516446
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.cpp
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.h
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderBlock.h
  Source/WebCore/rendering/RenderBlockFlow.cpp
  Source/WebCore/rendering/RenderBlockFlow.h
  Source/WebCore/rendering/RenderBox.h
Owners: none

Remove bot654 from config https://bugs.webkit.org/show_bug.cgi?id=246819
  Tools/CISupport/build-webkit-org/config.json
Owners: @aj062, @JonWBedard, @ryanhaddad

[ews-app] Add python 3 support - part 4 https://bugs.webkit.org/show_bug.cgi?id=246826
  Tools/CISupport/ews-app/ews/common/bugzilla.py
Owners: @aj062, @JonWBedard, @ryanhaddad

Safari crashes upon clicking the object in AR Quicklook https://bugs.webkit.org/show_bug.cgi?id=246821 rdar://100022666
  Source/WebKit/Shared/Cocoa/ARKitSoftLink.mm
Owners: none

[IFC][Integration] Move inline content dimension update from RenderBlockFlow to LineLayout https://bugs.webkit.org/show_bug.cgi?id=246815
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.cpp
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.h
  Source/WebCore/rendering/RenderBlockFlow.cpp
Owners: none

Testing testing: let's see how well the EWS handles -Werror
  Source/cmake/WebKitCompilerFlags.cmake
Owners: @mcatanzaro

[LBSE] Fix transform support for SVG <text> elements https://bugs.webkit.org/show_bug.cgi?id=245508
  LayoutTests/platform/mac-monterey-wk2-lbse-text/TestExpectations
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/types-basicDOM-01-b-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/batik/text/smallFonts-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/batik/text/textFeatures-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/custom/SVGPoint-matrixTransform-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/text/append-text-node-to-tspan-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/text/font-size-below-point-five-2-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/text/modify-text-node-in-tspan-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/text/remove-text-node-from-tspan-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/text/remove-tspan-from-text-expected.txt
  Source/WebCore/rendering/RenderBox.h
  Source/WebCore/rendering/RenderLayerModelObject.cpp
  Source/WebCore/rendering/svg/RenderSVGBlock.cpp
  Source/WebCore/rendering/svg/RenderSVGBlock.h
  Source/WebCore/rendering/svg/RenderSVGText.cpp
  Source/WebCore/rendering/svg/RenderSVGText.h
  Source/WebCore/svg/SVGGraphicsElement.cpp
  Source/WebCore/svg/SVGGraphicsElement.h
  Source/WebCore/svg/SVGUseElement.cpp
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Add the class FilterTargetSwitcher https://bugs.webkit.org/show_bug.cgi?id=246822
  Source/WebCore/Sources.txt
  Source/WebCore/platform/graphics/filters/FilterTargetSwitcher.cpp
  Source/WebCore/platform/graphics/filters/FilterTargetSwitcher.h
Owners: none

[webkitpy] Style checker should ignore WebDriverTests python code https://bugs.webkit.org/show_bug.cgi?id=246825
  Tools/Scripts/webkitpy/style/checker.py
  Tools/Scripts/webkitpy/style/checker_unittest.py
Owners: @JonWBedard

MobileMail sometimes crashes underneath -[WKContentView(WKInteraction) deferringGestures] https://bugs.webkit.org/show_bug.cgi?id=246823 rdar://100971798
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/ios/CustomContentViewGestures.mm
Owners: @cdumez

[Cocoa] Fix build after 6c7943f6c9bc009014a5bfbbf96adf05a3414eaa https://bugs.webkit.org/show_bug.cgi?id=246830 rdar://101401037
  Source/WebCore/PAL/libavif/Configurations/Base.xcconfig
  Source/WebCore/PAL/libavif/dav1d/Configurations/Base.xcconfig
Owners: none

Move EditorState to generated serialization https://bugs.webkit.org/show_bug.cgi?id=246748
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Shared/EditorState.cpp
  Source/WebKit/Shared/EditorState.h
  Source/WebKit/Shared/EditorState.serialization.in
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/glib/WebKitEditorState.cpp
  Source/WebKit/UIProcess/API/gtk/WebKitWebViewBase.cpp
  Source/WebKit/UIProcess/API/mac/WKWebViewTestingMac.mm
  Source/WebKit/UIProcess/API/wpe/WPEView.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/ios/WKContentView.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/ios/WebPageProxyIOS.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/glib/WebPageGLib.cpp
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Source/WebKit/WebProcess/WebPage/mac/WebPageMac.mm
Owners: @cdumez, @WebKit/glib-reviewers, @zdobersek
