Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @calvaris, @philn, @ntrrgc, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @graouts

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard
/Tools/TestWebKitAPI

# ================================================================================

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn

# ================================================================================

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

/Source/WebCore/Modules/apple-pay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/apple-pay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

# ================================================================================

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Cherry-pick 6d4c5f059b87. rdar://problem/93608011
  LayoutTests/compositing/backing/zero-opacity-expected.txt
  LayoutTests/compositing/backing/zero-opacity-invalidation-expected.txt
  LayoutTests/compositing/backing/zero-opacity-invalidation.html
  LayoutTests/compositing/backing/zero-opacity.html
  LayoutTests/compositing/geometry/bounds-ignores-hidden-dynamic-negzindex-expected.txt
  LayoutTests/compositing/geometry/fixed-position-flipped-writing-mode-expected.txt
  LayoutTests/compositing/visibility/layer-visible-content-expected.txt
  LayoutTests/platform/gtk/compositing/visibility/layer-visible-content-expected.txt
  LayoutTests/platform/ios-wk2/compositing/geometry/bounds-ignores-hidden-dynamic-negzindex-expected.txt
  LayoutTests/platform/ios/compositing/geometry/fixed-position-flipped-writing-mode-expected.txt
  Source/WebCore/rendering/RenderLayerBacking.cpp
  Source/WebCore/rendering/RenderLayerCompositor.cpp
  Source/WebCore/style/Styleable.cpp
  Source/WebCore/style/Styleable.h
Owners: none

Cherry-pick 977bfd8fa243. rdar://problem/93449777
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Owners: none

Rename flag for build-and-collect-pgo-profiles https://bugs.webkit.org/show_bug.cgi?id=242127
  Tools/Scripts/build-and-collect-pgo-profiles
Owners: @JonWBedard

[Gardening]: REGRESSION (251723@main): [ iOS ] compositing/images/positioned-image-content-rect.html is a flaky image failure https://bugs.webkit.org/show_bug.cgi?id=242194 <rdar://96230716>
  LayoutTests/platform/ios/TestExpectations
Owners: none

REGRESSION (10/5/2021?): [iOS] http/wpt/cross-origin-opener-policy/single-request-to-server.html is a flaky failure https://bugs.webkit.org/show_bug.cgi?id=233284 <rdar://85520978>
  LayoutTests/http/wpt/cross-origin-opener-policy/single-request-to-server.html
  LayoutTests/platform/ios/TestExpectations
Owners: none

Float color buffer extensions must extend renderbufferStorage https://bugs.webkit.org/show_bug.cgi?id=242168
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
Owners: none

Adjust mini mode number for libpas https://bugs.webkit.org/show_bug.cgi?id=242195
  Source/bmalloc/bmalloc/bmalloc.cpp
Owners: @Constellation

Fix unused variable warning in RenderElement.cpp https://bugs.webkit.org/show_bug.cgi?id=242198
  Source/WebCore/rendering/RenderElement.cpp
Owners: none

AX: Update the isolated tree in response to dynamic changes to aria-{dropeffect, colcount, rowcount, colindex, rowindex, colspan, rowspan} attributes https://bugs.webkit.org/show_bug.cgi?id=242092
  LayoutTests/accessibility/aria-table-attributes-expected.txt
  LayoutTests/accessibility/aria-table-attributes.html
  LayoutTests/accessibility/mac/aria-drag-drop-expected.txt
  LayoutTests/accessibility/mac/aria-drag-drop.html
  LayoutTests/accessibility/table-exposure-updates-dynamically-expected.txt
  LayoutTests/accessibility/table-exposure-updates-dynamically.html
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/ios/accessibility/table-exposure-updates-dynamically-expected.txt
  Source/WebCore/accessibility/AXLogger.cpp
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AXObjectCache.h
  Source/WebCore/accessibility/atspi/AXObjectCacheAtspi.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.cpp
  Source/WebCore/dom/Element.h
  Source/WebCore/html/HTMLTablePartElement.h
Owners: none

Revert 5726cb78f5b2. rdar://problem/95519668
  Source/WebCore/platform/graphics/ConcreteImageBuffer.h
  Source/WebCore/platform/graphics/ImageBuffer.cpp
  Source/WebCore/platform/graphics/ImageBuffer.h
  Source/WebCore/platform/graphics/ImageBufferBackend.cpp
  Source/WebCore/platform/graphics/ImageBufferBackend.h
  Source/WebCore/platform/graphics/cairo/ImageBufferCairoBackend.cpp
  Source/WebCore/platform/graphics/cairo/ImageBufferCairoBackend.h
  Source/WebCore/platform/graphics/cg/ImageBufferCGBackend.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferCGBackend.h
  Source/WebKit/WebProcess/GPU/graphics/ImageBufferShareableBitmapBackend.cpp
  Source/WebKit/WebProcess/GPU/graphics/ImageBufferShareableBitmapBackend.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.h
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferRemoteIOSurfaceBackend.cpp
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferRemoteIOSurfaceBackend.h
Owners: none

Add threading assertions to ProcessThrottler https://bugs.webkit.org/show_bug.cgi?id=242192 <rdar://94673452>
  Source/WebKit/UIProcess/ProcessThrottler.cpp
  Source/WebKit/UIProcess/ProcessThrottler.h
Owners: none

[WebKitTestRunner] Change description for no-enable-all-experimental-features option https://bugs.webkit.org/show_bug.cgi?id=242201
  Tools/Scripts/webkitpy/layout_tests/run_webkit_tests.py
Owners: @JonWBedard

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Revert 5726cb78f5b2. rdar://problem/95519668
  Source/WebCore/platform/graphics/ConcreteImageBuffer.h
  Source/WebCore/platform/graphics/ImageBuffer.cpp
  Source/WebCore/platform/graphics/ImageBuffer.h
  Source/WebCore/platform/graphics/ImageBufferBackend.cpp
  Source/WebCore/platform/graphics/ImageBufferBackend.h
  Source/WebCore/platform/graphics/cairo/ImageBufferCairoBackend.cpp
  Source/WebCore/platform/graphics/cairo/ImageBufferCairoBackend.h
  Source/WebCore/platform/graphics/cg/ImageBufferCGBackend.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferCGBackend.h
  Source/WebKit/WebProcess/GPU/graphics/ImageBufferShareableBitmapBackend.cpp
  Source/WebKit/WebProcess/GPU/graphics/ImageBufferShareableBitmapBackend.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.h
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferRemoteIOSurfaceBackend.cpp
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferRemoteIOSurfaceBackend.h
Owners: none

[Gardening]: imported/w3c/web-platform-tests/css/css-transforms/huge-length-tiny-scale.html https://bugs.webkit.org/show_bug.cgi?id=242138
  LayoutTests/platform/mac-wk2/TestExpectations
Owners: none

Merge 251965@main - Don't allocate backing stores for non-animated compositing layers with zero opacity https://bugs.webkit.org/show_bug.cgi?id=241935
  LayoutTests/compositing/backing/zero-opacity-expected.txt
  LayoutTests/compositing/backing/zero-opacity-invalidation-expected.txt
  LayoutTests/compositing/backing/zero-opacity-invalidation.html
  LayoutTests/compositing/backing/zero-opacity.html
  LayoutTests/compositing/geometry/bounds-ignores-hidden-dynamic-negzindex-expected.txt
  LayoutTests/compositing/geometry/fixed-position-flipped-writing-mode-expected.txt
  LayoutTests/compositing/visibility/layer-visible-content-expected.txt
  LayoutTests/platform/gtk/compositing/visibility/layer-visible-content-expected.txt
  LayoutTests/platform/ios-wk2/compositing/geometry/bounds-ignores-hidden-dynamic-negzindex-expected.txt
  LayoutTests/platform/ios/compositing/geometry/fixed-position-flipped-writing-mode-expected.txt
  Source/WebCore/rendering/RenderLayerBacking.cpp
  Source/WebCore/rendering/RenderLayerCompositor.cpp
  Source/WebCore/style/Styleable.cpp
  Source/WebCore/style/Styleable.h
Owners: none

[GLib] Modernize Tools/glib/apply-build-revision-to-files.py https://bugs.webkit.org/show_bug.cgi?id=242191
  Tools/glib/apply-build-revision-to-files.py
Owners: @JonWBedard

[JSC] Adopt Intl.NumberFormat v3 spec change for useGrouping option https://bugs.webkit.org/show_bug.cgi?id=242200 rdar://93712843
  JSTests/stress/intl-numberformat-usegrouping-v3.js
  JSTests/test262/expectations.yaml
  PerformanceTests/Skipped
  Source/JavaScriptCore/runtime/IntlNumberFormat.cpp
  Source/JavaScriptCore/runtime/IntlObjectInlines.h
Owners: @WebKit/jsc-reviewers

Add setContentsRectClipsDescendants support to TextureMapper, GraphicsLayerTextureMapper, GraphicsLayerWC and CoordinatedGraphicsLayer https://bugs.webkit.org/show_bug.cgi?id=242097
  LayoutTests/platform/gtk/TestExpectations
  Source/WebCore/platform/graphics/GraphicsLayer.cpp
  Source/WebCore/platform/graphics/nicosia/NicosiaPlatformLayer.h
  Source/WebCore/platform/graphics/texmap/GraphicsLayerTextureMapper.cpp
  Source/WebCore/platform/graphics/texmap/GraphicsLayerTextureMapper.h
  Source/WebCore/platform/graphics/texmap/TextureMapperLayer.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperLayer.h
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedGraphicsLayer.cpp
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedGraphicsLayer.h
  Source/WebKit/GPUProcess/graphics/wc/WCScene.cpp
  Source/WebKit/Shared/CoordinatedGraphics/CoordinatedGraphicsScene.cpp
  Source/WebKit/WebProcess/WebPage/wc/GraphicsLayerWC.cpp
  Source/WebKit/WebProcess/WebPage/wc/GraphicsLayerWC.h
  Source/WebKit/WebProcess/WebPage/wc/WCUpateInfo.h
Owners: none

Adding iframe flushes microtasks synchronously with dirty stack https://bugs.webkit.org/show_bug.cgi?id=235322
  LayoutTests/http/tests/eventloop/inserting-iframe-should-not-perform-microtask-checkpoint-expected.txt
  LayoutTests/http/tests/eventloop/inserting-iframe-should-not-perform-microtask-checkpoint.html
  LayoutTests/http/tests/eventloop/resources/hello.html
  Source/WebCore/dom/Document.cpp
  Source/WebCore/loader/DocumentLoader.cpp
  Source/WebCore/loader/DocumentLoader.h
Owners: none

Revert 6d4c5f059b87. rdar://problem/93608011
  LayoutTests/compositing/backing/zero-opacity-expected.txt
  LayoutTests/compositing/backing/zero-opacity-invalidation-expected.txt
  LayoutTests/compositing/backing/zero-opacity-invalidation.html
  LayoutTests/compositing/backing/zero-opacity.html
  LayoutTests/compositing/geometry/bounds-ignores-hidden-dynamic-negzindex-expected.txt
  LayoutTests/compositing/geometry/fixed-position-flipped-writing-mode-expected.txt
  LayoutTests/compositing/visibility/layer-visible-content-expected.txt
  LayoutTests/platform/gtk/compositing/visibility/layer-visible-content-expected.txt
  LayoutTests/platform/ios-wk2/compositing/geometry/bounds-ignores-hidden-dynamic-negzindex-expected.txt
  LayoutTests/platform/ios/compositing/geometry/fixed-position-flipped-writing-mode-expected.txt
  Source/WebCore/rendering/RenderLayerBacking.cpp
  Source/WebCore/rendering/RenderLayerCompositor.cpp
  Source/WebCore/style/Styleable.cpp
  Source/WebCore/style/Styleable.h
Owners: none

[iOS 16] All layout tests in fast/events/ios/rotation time out https://bugs.webkit.org/show_bug.cgi?id=242199 rdar://93784344
  Source/WTF/wtf/PlatformHave.h
  Tools/WebKitTestRunner/ios/TestControllerIOS.mm
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.h
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.mm
Owners: @JonWBedard

REGRESSION (iOS 15): http/tests/websocket/tests/hybi/close-code-and-reason.html is failing https://bugs.webkit.org/show_bug.cgi?id=231329
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/ios-wk2/http/tests/websocket/tests/hybi/close-code-and-reason-expected.txt
Owners: none

Unreviewed, Revert [251953@main] Enable OFFLINE_ASM_USE_ALT_ENTRY on Mac and Apple platforms using newer SDKs. https://bugs.webkit.org/show_bug.cgi?id=242088 <rdar://problem/94232529>
  Source/JavaScriptCore/llint/LowLevelInterpreter.cpp
Owners: @WebKit/jsc-reviewers

Make code look safer in ScriptBufferSourceProvider::source() https://bugs.webkit.org/show_bug.cgi?id=242116
  Source/WebCore/bindings/js/ScriptBufferSourceProvider.h
Owners: none

Add WKNavigation SPI to check if the navigation had a user interaction https://bugs.webkit.org/show_bug.cgi?id=242203 <rdar://96231513>
  Source/WebKit/UIProcess/API/Cocoa/WKNavigation.mm
  Source/WebKit/UIProcess/API/Cocoa/WKNavigationPrivate.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.h
  Tools/TestWebKitAPI/Tests/WebKit/WKBackForwardList.mm
Owners: none

HTMLCanvasElement::removedFromAncestor() triggers IOSurface creation https://bugs.webkit.org/show_bug.cgi?id=242098 <rdar://95618211>
  Source/WebCore/platform/ProcessCapabilities.cpp
  Source/WebCore/platform/ProcessCapabilities.h
  Source/WebCore/platform/graphics/ImageBuffer.cpp
  Source/WebCore/platform/graphics/cocoa/IOSurface.mm
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Owners: none

Crash under PageOverlay::fadeAnimationTimerFired() https://bugs.webkit.org/show_bug.cgi?id=242213 <rdar://95482221>
  Source/WebCore/page/PageOverlay.cpp
Owners: none

[Gardening]: REGRESSION(251564@main-251572@main?): [ Mac wk2 ] media/media-source/media-webm-vorbis-partial.html is a constant text failure https://bugs.webkit.org/show_bug.cgi?id=242212
  LayoutTests/platform/mac-wk2/TestExpectations
Owners: none

[Gardening]: REGRESSION(251564@main-251572@main?): [ Mac wk2 ] media/media-source/media-webm-vorbis-partial.html is a constant text failure https://bugs.webkit.org/show_bug.cgi?id=242212
  LayoutTests/platform/mac-wk2/TestExpectations
Owners: none

Unreviewed, revert 251761@main
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/spi/cocoa/AVFoundationSPI.h
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/platform/graphics/MediaPlayer.cpp
  Source/WebCore/platform/graphics/MediaPlayer.h
  Source/WebCore/platform/graphics/MediaPlayerPrivate.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.messages.in
  Source/WebKit/GPUProcess/media/cocoa/RemoteMediaPlayerProxyCocoa.mm
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.h
Owners: none

[Gardening]: [ iOS Release ] Two http/wpt/service-workers/ tests are a flaky failures https://bugs.webkit.org/show_bug.cgi?id=242225 <rdar://96268616>
  LayoutTests/platform/ios/TestExpectations
Owners: none

[Gardening]: REGRESSION(r289770):[ iPad ] imported/blink/svg/filters/filter-huge-clamping.svg is a constant image failure - Accelerated Drawing https://bugs.webkit.org/show_bug.cgi?id=237569
  LayoutTests/platform/ios/TestExpectations
Owners: none

Add null check for drawingArea in RemoteScrollingCoordinatorProxy::layerTreeHost() https://bugs.webkit.org/show_bug.cgi?id=242207 <rdar://85499764>
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeScrollingNodeDelegateIOS.mm
Owners: none

Pressing shift+tab when focused in the middle of a contenteditable element doesn't work https://bugs.webkit.org/show_bug.cgi?id=241902
  LayoutTests/fast/events/sequential-focus-navigation-after-clicking-editable-text-expected.txt
  LayoutTests/fast/events/sequential-focus-navigation-after-clicking-editable-text.html
  LayoutTests/platform/ios/TestExpectations
  Source/WebCore/dom/Document.cpp
Owners: none

Pressing shift+tab when focused in the middle of a contenteditable element doesn't work https://bugs.webkit.org/show_bug.cgi?id=241902
  LayoutTests/fast/events/sequential-focus-navigation-after-clicking-editable-text-expected.txt
  LayoutTests/fast/events/sequential-focus-navigation-after-clicking-editable-text.html
  LayoutTests/platform/ios/TestExpectations
  Source/WebCore/dom/Document.cpp
Owners: none

[Gardening]: [ iOS ] http/tests/privateClickMeasurement/attribution-conversion-through-fetch-keepalive.html is a flaky failure timeout https://bugs.webkit.org/show_bug.cgi?id=242228 <rdar://96272318>
  LayoutTests/platform/ios/TestExpectations
Owners: none

Canvas.toDataURL causes excessive GPUP memory use on Cocoa https://bugs.webkit.org/show_bug.cgi?id=240639 <rdar://93567863>
  LayoutTests/fast/canvas/toDataURL-alpha-permutation-expected.html
  LayoutTests/fast/canvas/toDataURL-alpha-permutation.html
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/win/TestExpectations
  Source/WebCore/html/HTMLCanvasElement.cpp
  Source/WebCore/platform/MIMETypeRegistry.cpp
  Source/WebCore/platform/MIMETypeRegistry.h
  Source/WebCore/platform/graphics/ConcreteImageBuffer.h
  Source/WebCore/platform/graphics/ImageBuffer.cpp
  Source/WebCore/platform/graphics/ImageBuffer.h
  Source/WebCore/platform/graphics/ImageBufferBackend.h
  Source/WebCore/platform/graphics/cairo/ImageBufferCairoBackend.cpp
  Source/WebCore/platform/graphics/cairo/ImageBufferCairoBackend.h
  Source/WebCore/platform/graphics/cairo/ImageBufferUtilitiesCairo.cpp
  Source/WebCore/platform/graphics/cairo/ImageBufferUtilitiesCairo.h
  Source/WebCore/platform/graphics/cg/ImageBufferCGBackend.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferCGBackend.h
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.h
  Source/WebCore/platform/graphics/cg/ImageBufferUtilitiesCG.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferUtilitiesCG.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.messages.in
  Source/WebKit/Shared/API/c/cg/WKImageCG.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.h
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferRemoteIOSurfaceBackend.cpp
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferRemoteIOSurfaceBackend.h
Owners: none

Adopt new AVPictureInPictureController for handling Picture In Picture https://bugs.webkit.org/show_bug.cgi?id=242061 rdar://96066192
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebCore/PAL/pal/spi/cocoa/AVKitSPI.h
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/platform/cocoa/VideoFullscreenInterfacePiP.h
  Source/WebCore/platform/cocoa/VideoFullscreenInterfacePiP.mm
  Source/WebCore/platform/cocoa/WebAVPlayerLayer.h
  Source/WebCore/platform/cocoa/WebAVPlayerLayer.mm
  Source/WebCore/platform/ios/VideoFullscreenInterfaceAVKit.h
  Source/WebCore/platform/ios/VideoFullscreenInterfaceAVKit.mm
  Source/WebCore/platform/ios/WebVideoFullscreenControllerAVKit.mm
  Source/WebKit/UIProcess/Cocoa/VideoFullscreenManagerProxy.h
  Source/WebKit/UIProcess/Cocoa/VideoFullscreenManagerProxy.mm
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
  Source/WebKit/WebProcess/cocoa/VideoFullscreenManager.mm
Owners: none
