Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

Fix the iOS16 and macOS Ventura builds https://bugs.webkit.org/show_bug.cgi?id=254720 rdar://107145727
  Source/JavaScriptCore/API/ObjCCallbackFunction.mm
  Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/crypto/x509/t_x509.c
  Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vp8/encoder/onyx_if.c
  Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vp9/encoder/vp9_encodeframe.c
  Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vp9/encoder/vp9_ratectrl.c
  Source/WebCore/editing/cocoa/DataDetection.mm
Owners: @WebKit/jsc-reviewers, @rniwa

Entering/Leaving YouTube fullscreen causes the video to not scale fully to screen edges https://bugs.webkit.org/show_bug.cgi?id=254686 rdar://102970285
  Source/WebKit/WebProcess/GPU/media/cocoa/VideoLayerRemoteCocoa.mm
Owners: @cdumez

Update ReadableStream.tee to latest spec https://bugs.webkit.org/show_bug.cgi?id=254583 rdar://problem/107314234
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-byte-streams/tee.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-byte-streams/tee.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-byte-streams/tee.any.sharedworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-byte-streams/tee.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/tee.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/tee.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/tee.any.sharedworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/tee.any.worker-expected.txt
  Source/WebCore/Modules/streams/ReadableStreamInternals.js
Owners: none

Use correct globals when creating readers and readable streams https://bugs.webkit.org/show_bug.cgi?id=254589 rdar://problem/107317226
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/global-expected.txt
  Source/WebCore/Modules/streams/ReadableStream.js
  Source/WebCore/Modules/streams/ReadableStreamInternals.js
  Source/WebCore/bindings/js/JSDOMGlobalObject.cpp
  Source/WebCore/bindings/js/WebCoreBuiltinNames.h
Owners: @cdumez

Wrap captured variable with WeakPtr in GPUProcess::initializeGPUProcess https://bugs.webkit.org/show_bug.cgi?id=254316 rdar://107117855
  Source/WebKit/GPUProcess/GPUProcess.cpp
Owners: none

Cherry-pick 252432.1036@safari-7614-branch (c553da3adc35). https://bugs.webkit.org/show_bug.cgi?id=250873
  JSTests/stress/regexp-testinline-stacklimits.js
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/runtime/RegExp.h
  Source/JavaScriptCore/yarr/YarrJIT.cpp
Owners: @WebKit/jsc-reviewers

[WGSL] Add type declarations for all matrix constructors https://bugs.webkit.org/show_bug.cgi?id=254651 rdar://107358275
  Source/WebGPU/WGSL/Overload.h
  Source/WebGPU/WGSL/TypeDeclarations.rb
  Source/WebGPU/WGSL/generator/main.rb
  Source/WebGPU/WGSL/tests/valid/overload.wgsl
Owners: none

[WGSL] WTF::Vector no longer needs the explicit namespace https://bugs.webkit.org/show_bug.cgi?id=254654 rdar://107359112
  Source/WebGPU/WGSL/Overload.h
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/WGSL.h
Owners: none

[GTK][GTK4] MiniBrowser asserts in isInAcceleratedCompositingMode opening page in debug mode https://bugs.webkit.org/show_bug.cgi?id=233455
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.cpp
Owners: @magomez, @zdobersek

webgl/1.0.x/conformance/extensions/webgl-multi-draw.html times out frequently https://bugs.webkit.org/show_bug.cgi?id=254660 rdar://107364131
  LayoutTests/webgl/resources/webkit-webgl-test-harness.js
Owners: none

[WGSL] Add overloads for vecN constructors https://bugs.webkit.org/show_bug.cgi?id=254586 rdar://107315663
  Source/WebGPU/WGSL/Overload.h
  Source/WebGPU/WGSL/TypeDeclarations.rb
  Source/WebGPU/WGSL/generator/main.rb
  Source/WebGPU/WGSL/tests/valid/overload.wgsl
Owners: none

Cherry-pick 262317@main (8203d28d8126). https://bugs.webkit.org/show_bug.cgi?id=233455
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.cpp
Owners: @magomez, @zdobersek

Unreviewed. Update OptionsGTK.cmake and NEWS for 2.41.1 release
  Source/WebKit/gtk/NEWS
  Source/cmake/OptionsGTK.cmake
Owners: @WebKit/glib-reviewers

Update TestExpectation for css-conditional passing tests that are @counter-styles related https://bugs.webkit.org/show_bug.cgi?id=254689 rdar://107386443
  LayoutTests/TestExpectations
Owners: none

Remove unused BlobRegistryImpl::writeBlobToFilePath https://bugs.webkit.org/show_bug.cgi?id=254563 rdar://107295924
  Source/WebCore/platform/network/BlobRegistryImpl.cpp
  Source/WebCore/platform/network/BlobRegistryImpl.h
Owners: none

[WGSL] Overload resolution shouldn't assume we can materialize all variables https://bugs.webkit.org/show_bug.cgi?id=254588 rdar://problem/107316646
  Source/WebGPU/WGSL/Overload.cpp
  Source/WebGPU/WGSL/TypeDeclarations.rb
Owners: none

[WGSL] Re-land the command line tool to run the compiler https://bugs.webkit.org/show_bug.cgi?id=253892 rdar://106708690
  Source/WebGPU/Configurations/wgslc.xcconfig
  Source/WebGPU/WGSL/wgslc.cpp
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
  Source/WebGPU/WebGPU.xcodeproj/xcshareddata/xcschemes/WebGPU.xcscheme
Owners: none

[WGSL] Add support for constructors with explicit type arguments https://bugs.webkit.org/show_bug.cgi?id=254653 rdar://problem/107358772
  Source/WebGPU/WGSL/Overload.cpp
  Source/WebGPU/WGSL/Overload.h
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/tests/invalid/overload.wgsl
  Source/WebGPU/WGSL/tests/valid/overload.wgsl
Owners: none

[GTK] Unified sources build fix for Debian Stable after 262210@main
  Source/WebKit/SourcesGTK.txt
  Source/WebKit/WebProcess/WebPage/gtk/AcceleratedSurfaceDMABuf.cpp
Owners: @WebKit/glib-reviewers

[web-animations] first frame of "transform" animation is visible when !important style overrides the animated value https://bugs.webkit.org/show_bug.cgi?id=254665
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/webanimations/combining-transform-animations-with-different-acceleration-capabilities-5-expected.txt
  LayoutTests/webanimations/combining-transform-animations-with-different-acceleration-capabilities-5.html
  Source/WebCore/animation/KeyframeEffectStack.cpp
  Source/WebCore/animation/KeyframeEffectStack.h
  Source/WebCore/style/PropertyCascade.cpp
  Source/WebCore/style/PropertyCascade.h
  Source/WebCore/style/StyleBuilder.h
  Source/WebCore/style/StyleTreeResolver.cpp
  Source/WebCore/style/StyleTreeResolver.h
Owners: @graouts

Stop caching supplied colors for canvas noise injection https://bugs.webkit.org/show_bug.cgi?id=254735 rdar://107298162
  Source/WebCore/html/CanvasBase.cpp
  Source/WebCore/html/CanvasBase.h
  Source/WebCore/html/HTMLCanvasElement.cpp
  Source/WebCore/html/canvas/CanvasRenderingContext2DBase.cpp
Owners: @cdumez, @rniwa

[WGSL] Validate constraints on type variables when resolving overloads https://bugs.webkit.org/show_bug.cgi?id=254669 rdar://problem/107370152
  Source/WebGPU/WGSL/Overload.cpp
  Source/WebGPU/WGSL/Overload.h
  Source/WebGPU/WGSL/tests/invalid/overload.wgsl
Owners: none

Default build configuration for WebKit should be Debug https://bugs.webkit.org/show_bug.cgi?id=254712 rdar://107394752
  Source/WebKit/WebKit.xcodeproj/xcshareddata/xcschemes/WebKit.xcscheme
Owners: none

Remove Quirks::needsHDRPixelDepthQuirk() https://bugs.webkit.org/show_bug.cgi?id=254670 rdar://107370756
  Source/WebCore/loader/ResourceLoadStatistics.cpp
  Source/WebCore/loader/ResourceLoadStatistics.h
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
  Source/WebCore/page/Screen.cpp
  Source/WebCore/page/Screen.h
  Source/WebCore/page/Screen.idl
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Owners: @cdumez

Give WebKit-owned IOSurfaces names https://bugs.webkit.org/show_bug.cgi?id=141586 rdar://problem/89791501
  Source/WTF/wtf/spi/cocoa/IOSurfaceSPI.h
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.cpp
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.mm
  Source/WebCore/platform/graphics/cocoa/IOSurface.h
  Source/WebCore/platform/graphics/cocoa/IOSurface.mm
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferShareableMappedIOSurfaceBackend.cpp
  Tools/DumpRenderTree/ios/PixelDumpSupportIOS.mm
  Tools/TestWebKitAPI/Tests/WebCore/cocoa/IOSurfaceTests.mm
Owners: @cdumez, @JonWBedard

[ews-build.webkit.org] Classify commits in pull-requests https://bugs.webkit.org/show_bug.cgi?id=254680 rdar://107381451
  Tools/CISupport/ews-build/events.py
  Tools/CISupport/ews-build/events_unittest.py
  Tools/CISupport/runUnittests.py
Owners: @aj062, @JonWBedard, @ryanhaddad

ASSERTION FAILED: Unhandled message RemoteSourceBufferProxy_SetTimestampOffset https://bugs.webkit.org/show_bug.cgi?id=249703 rdar://103590497
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaSourceProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaSourceProxy.h
  Source/WebKit/WebProcess/GPU/media/MediaSourcePrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/MediaSourcePrivateRemote.h
  Source/WebKit/WebProcess/GPU/media/MediaSourcePrivateRemote.messages.in
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.h
Owners: @cdumez

Versioning.
  Configurations/Version.xcconfig
Owners: none

Make postMessage work for site-isolation https://bugs.webkit.org/show_bug.cgi?id=253588 rdar://106439413
  Source/WebCore/page/DOMWindow.cpp
  Source/WebCore/page/DOMWindow.h
  Source/WebCore/page/LocalDOMWindow.cpp
  Source/WebCore/page/LocalDOMWindow.h
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/PageConfiguration.cpp
  Source/WebCore/page/PageConfiguration.h
  Source/WebCore/page/RemoteDOMWindow.cpp
  Source/WebCore/page/RemoteDOMWindow.h
  Source/WebCore/page/RemoteFrame.cpp
  Source/WebCore/page/RemoteFrame.h
  Source/WebCore/page/RemoteFrameClient.h
  Source/WebKit/Shared/FrameTreeCreationParameters.h
  Source/WebKit/Shared/FrameTreeCreationParameters.serialization.in
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/UIProcess/WebProcessProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebRemoteFrameClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebRemoteFrameClient.h
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.h
  Source/WebKit/WebProcess/WebPage/WebFrame.messages.in
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebProcess.cpp
  Source/WebKit/WebProcess/WebProcess.h
  Source/WebKit/WebProcess/WebProcess.messages.in
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
Owners: @cdumez

Cherry-pick 985abe673058. rdar://problem/105885360
  Source/WebCore/loader/DocumentLoader.cpp
  Source/WebCore/loader/FetchOptions.h
  Source/WebCore/loader/WorkerThreadableLoader.cpp
  Source/WebCore/loader/cache/CachedResourceRequest.cpp
  Source/WebCore/workers/WorkerScriptLoader.cpp
  Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerConnection.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerConnection.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Owners: @cdumez

Cherry-pick 1b539330d2ad. rdar://problem/107363679
  LayoutTests/fast/dynamic/out-of-flow-counter-do-not-update-expected.html
  LayoutTests/fast/dynamic/out-of-flow-counter-do-not-update.html
  Source/WebCore/rendering/CounterNode.cpp
Owners: none

Cherry-pick 6c610b79ff6c. rdar://problem/107330772
  Source/WebKit/UIProcess/ios/forms/WKFileUploadPanel.mm
Owners: @cdumez

Cherry-pick 2db314d62ff0. rdar://problem/104449116
  Source/WebKit/UIProcess/mac/PageClientImplMac.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Tools/TestWebKitAPI/Tests/mac/DragAndDropTestsMac.mm
Owners: @cdumez

WasmBBQJIT performs redundant overflow check when dividend is constant https://bugs.webkit.org/show_bug.cgi?id=254710 rdar://106823148
  JSTests/wasm/stress/foldable-division.js
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick f06787f3c33a. rdar://problem/102970285
  Source/WebKit/WebProcess/GPU/media/cocoa/VideoLayerRemoteCocoa.mm
Owners: @cdumez

Support rendering non-native <progress> in vertical writing mode https://bugs.webkit.org/show_bug.cgi?id=247754 rdar://102477867
  LayoutTests/TestExpectations
  LayoutTests/editing/style/apply-style-atomic-expected.txt
  LayoutTests/editing/style/apply-style-atomic-live-range-expected.txt
  LayoutTests/fast/dom/HTMLProgressElement/progress-clone-expected.txt
  LayoutTests/fast/dom/HTMLProgressElement/progress-clone.html
  LayoutTests/fast/dom/HTMLProgressElement/progress-element-markup-expected.txt
  LayoutTests/fast/dom/HTMLProgressElement/progress-element-markup.html
  LayoutTests/fast/dom/HTMLProgressElement/progress-writing-mode-expected.html
  LayoutTests/fast/dom/HTMLProgressElement/progress-writing-mode.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-writing-modes/forms/progress-appearance-native-computed-style.optional-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-writing-modes/forms/progress-appearance-native-computed-style.optional-expected.txt
  Source/WebCore/css/horizontalFormControls.css
  Source/WebCore/css/html.css
  Source/WebCore/html/HTMLProgressElement.cpp
  Source/WebCore/html/shadow/ProgressShadowElement.cpp
  Source/WebCore/html/shadow/ProgressShadowElement.h
Owners: @rniwa, @cdumez

[UI side compositing] Fix swipe tests to work with UI-side compositing https://bugs.webkit.org/show_bug.cgi?id=254723 rdar://107403038
  LayoutTests/swipe/resources/swipe-test.js
  LayoutTests/swipe/swipe-back-with-passive-wheel-listener.html
Owners: none

REGRESSION (iOS 16.4): Form controls are drawn incorrectly when lockdown mode is enabled https://bugs.webkit.org/show_bug.cgi?id=254719 rdar://104829495
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Owners: none

Cherry-pick b8bf24826066. rdar://problem/106774841
  LayoutTests/fullscreen/fullscreen-restore-scroll-position-overflow-auto-expected.txt
  LayoutTests/fullscreen/fullscreen-restore-scroll-position-overflow-auto.html
  LayoutTests/platform/mac-wk1/TestExpectations
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.cpp
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.h
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundlePage.cpp
Owners: @cdumez

Clean up IOSurfaceSPI https://bugs.webkit.org/show_bug.cgi?id=254753 rdar://problem/107427508
  Source/WTF/wtf/spi/cocoa/IOSurfaceSPI.h
Owners: none
