Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

Discard decoded image data in Web processes with no foreground tabs https://bugs.webkit.org/show_bug.cgi?id=254768 <rdar://problem/107437769>
  Source/WebCore/rendering/RenderBoxModelObject.cpp
  Source/WebKit/GPUProcess/graphics/QualifiedResourceHeap.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.messages.in
  Source/WebKit/GPUProcess/graphics/RemoteResourceCache.cpp
  Source/WebKit/GPUProcess/graphics/RemoteResourceCache.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStoreCollection.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStoreCollection.mm
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.h
  Source/WebKit/WebProcess/WebPage/DrawingArea.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeContext.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeContext.mm
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDrawingArea.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDrawingArea.mm
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebProcess.cpp
  Source/WebKit/WebProcess/WebProcess.h
Owners: @cdumez

RemoteRenderingBackend::moveToImageBuffer can be called multiple times simultaneously. https://bugs.webkit.org/show_bug.cgi?id=254367 <rdar://106972794>
  Source/WebKit/GPUProcess/graphics/RemoteImageBuffer.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
Owners: none

Use WPE_RENDERER on PlayStation https://bugs.webkit.org/show_bug.cgi?id=248480
  Source/WebKit/UIProcess/playstation/PageClientImpl.cpp
  Source/WebKit/UIProcess/playstation/PageClientImpl.h
  Source/WebKit/UIProcess/playstation/WebProcessPoolPlayStation.cpp
  Source/WebKit/WebProcess/EntryPoint/playstation/WebProcessMain.cpp
  Source/WebKit/WebProcess/playstation/WebProcessPlayStation.cpp
  Source/cmake/OptionsPlayStation.cmake
Owners: @cdumez

Versioning.
  Configurations/Version.xcconfig
Owners: none

Fix memory leaks introduced by 262558@main https://bugs.webkit.org/show_bug.cgi?id=254972
  Source/WebKit/Shared/Cocoa/ArgumentCodersCocoa.mm
Owners: none

Versioning.
  Configurations/Version.xcconfig
Owners: none

Versioning.
  Configurations/Version.xcconfig
Owners: none

Make config changes for iOS 16 Post Commit bot bringup https://bugs.webkit.org/show_bug.cgi?id=254999 rdar://107385095
  Tools/CISupport/build-webkit-org/config.json
  Tools/CISupport/build-webkit-org/factories_unittest.py
  Tools/CISupport/build-webkit-org/public_html/dashboard/Scripts/WebKitBuildbot.js
Owners: @aj062, @JonWBedard, @ryanhaddad

Don't let intrinsic padding skew pagination struts on table cells
  LayoutTests/fast/table/intrinsic-padding-when-cell-child-doesnt-layout-expected.html
  LayoutTests/fast/table/intrinsic-padding-when-cell-child-doesnt-layout.html
  LayoutTests/fast/table/table-cell-intrinsic-padding-pagination-strut-expected.html
  LayoutTests/fast/table/table-cell-intrinsic-padding-pagination-strut.html
  Source/WebCore/rendering/RenderTableRow.cpp
Owners: none

[PlayStation] Register process provider in MiniBrowser https://bugs.webkit.org/show_bug.cgi?id=255004
  Tools/MiniBrowser/playstation/main.cpp
Owners: @JonWBedard

Refactor ReadableStream like done for WritableStream https://bugs.webkit.org/show_bug.cgi?id=248307 rdar://problem/102648417
  LayoutTests/imported/w3c/web-platform-tests/streams/idlharness.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/idlharness.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/idlharness.any.sharedworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/idlharness.any.worker-expected.txt
  Source/WebCore/CMakeLists.txt
  Source/WebCore/DerivedSources.make
  Source/WebCore/Modules/fetch/FetchBody.cpp
  Source/WebCore/Modules/fetch/FetchBodyOwner.cpp
  Source/WebCore/Modules/fetch/FetchResponse.cpp
  Source/WebCore/Modules/mediastream/RTCRtpSFrameTransform.cpp
  Source/WebCore/Modules/streams/ReadableStream.cpp
  Source/WebCore/Modules/streams/ReadableStream.h
  Source/WebCore/Modules/streams/ReadableStream.idl
  Source/WebCore/Modules/streams/ReadableStream.js
  Source/WebCore/Modules/streams/ReadableStreamBYOBReader.js
  Source/WebCore/Modules/streams/ReadableStreamDefaultReader.js
  Source/WebCore/Modules/streams/ReadableStreamInternals.js
  Source/WebCore/Modules/streams/TransformStreamDefaultController.js
  Source/WebCore/Modules/streams/TransformStreamInternals.js
  Source/WebCore/Modules/streams/WritableStream.idl
  Source/WebCore/Sources.txt
  Source/WebCore/bindings/js/InternalReadableStream.cpp
  Source/WebCore/bindings/js/InternalReadableStream.h
  Source/WebCore/bindings/js/JSDOMGlobalObject.cpp
  Source/WebCore/bindings/js/ReadableStream.cpp
  Source/WebCore/bindings/js/ReadableStream.h
  Source/WebCore/bindings/js/WebCoreBuiltinNames.h
  Source/WebCore/bindings/scripts/CodeGeneratorJS.pm
  Source/WebCore/fileapi/Blob.cpp
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
Owners: @cdumez

MacOS follow-up after 262487@main https://bugs.webkit.org/show_bug.cgi?id=254922 rdar://107560995
  Source/WebCore/platform/cocoa/VideoFullscreenCaptions.h
  Source/WebCore/platform/cocoa/VideoFullscreenCaptions.mm
  Source/WebCore/platform/ios/VideoFullscreenInterfaceAVKit.h
  Source/WebCore/platform/ios/VideoFullscreenInterfaceAVKit.mm
  Source/WebCore/platform/mac/VideoFullscreenInterfaceMac.h
  Source/WebCore/rendering/RenderLayerBacking.cpp
  Source/WebKit/UIProcess/Cocoa/VideoFullscreenManagerProxy.mm
  Source/WebKit/WebProcess/cocoa/VideoFullscreenManager.h
  Source/WebKit/WebProcess/cocoa/VideoFullscreenManager.mm
Owners: @cdumez

[WPE] Always call glBindAttribLocation before glLinkProgram https://bugs.webkit.org/show_bug.cgi?id=255006
  Source/WebKit/UIProcess/API/wpe/qt/WPEQtViewBackend.cpp
  Tools/wpe/backends/fdo/WindowViewBackend.cpp
Owners: @philn, @WebKit/glib-reviewers, @zdobersek

Make soft linked AVCaptureDeviceType strings optional https://bugs.webkit.org/show_bug.cgi?id=254950
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.mm
  Source/WebCore/platform/mediastream/mac/AVCaptureDeviceManager.mm
Owners: none

Cherry-pick 262486@main (30500262a0f1). rdar://problem/105752952
  Source/WebCore/platform/graphics/DecomposedGlyphs.h
  Source/WebCore/platform/graphics/Font.cpp
  Source/WebCore/platform/graphics/ImageBuffer.h
  Source/WebCore/platform/graphics/NativeImage.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.h
  Tools/TestWebKitAPI/Tests/WebCore/cg/DisplayListTestsCG.cpp
Owners: @cdumez

Add WebKitAdditions bits for WKWebViewConfiguration https://bugs.webkit.org/show_bug.cgi?id=254956 rdar://105197136
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewConfiguration.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewConfiguration.mm
Owners: @cdumez

Harden WebArchive response deserialization https://bugs.webkit.org/show_bug.cgi?id=255011 rdar://107633540
  Source/WebCore/loader/archive/cf/LegacyWebArchiveMac.mm
Owners: @cdumez

Cherry-pick fb964650f526. rdar://problem/107485654
  Source/WebKit/WebProcess/GPU/media/cocoa/VideoLayerRemoteCocoa.mm
Owners: @cdumez

Cherry-pick cf8a67802961. rdar://problem/106070798
  Source/WebKit/UIProcess/ProcessThrottler.cpp
  Source/WebKit/UIProcess/ProcessThrottler.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
Owners: @cdumez

[ iOS, macOS ] imported/w3c/web-platform-tests/html/dom/idlharness.https.html near constant failure. https://bugs.webkit.org/show_bug.cgi?id=254706 rdar://107393338
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Owners: none

UI-side compositing: Weather.com background lags when scrolling. https://bugs.webkit.org/show_bug.cgi?id=254998 <rdar://104436838>
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingTree.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingTree.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeEventDispatcher.cpp
Owners: @cdumez

Remove unused CoreIPC endpoints https://bugs.webkit.org/show_bug.cgi?id=253729 rdar://106568397
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebKit/UIProcess/API/mac/WKWebViewTestingMac.mm
  Source/WebKit/UIProcess/PDF/WKPDFHUDView.h
  Source/WebKit/UIProcess/PDF/WKPDFHUDView.mm
  Source/WebKit/UIProcess/PageClient.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/UIProcess/mac/PageClientImplMac.h
  Source/WebKit/UIProcess/mac/PageClientImplMac.mm
  Source/WebKit/UIProcess/mac/WebPageProxyMac.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKit/WebProcess/Plugins/PDF/PDFLayerControllerSPI.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
  Source/WebKit/WebProcess/WebPage/mac/WebPageMac.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKPDFView.mm
Owners: @cdumez

[UI-side compositing] fast/scrolling/mac/momentum-scroll-with-borders.html is flakey https://bugs.webkit.org/show_bug.cgi?id=254855 rdar://107499791
  Tools/WebKitTestRunner/InjectedBundle/EventSendingController.h
  Tools/WebKitTestRunner/InjectedBundle/InjectedBundle.cpp
  Tools/WebKitTestRunner/mac/EventSenderProxy.mm
Owners: @JonWBedard

Versioning.
  Configurations/Version.xcconfig
Owners: none

Versioning.
  Configurations/Version.xcconfig
Owners: none

REGRESSION(262547@main): Multiple layout tests crash when decoding a null ShareableBitmapHandle https://bugs.webkit.org/show_bug.cgi?id=255001 rdar://107625511
  Source/WebKit/Shared/ShareableBitmap.cpp
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
Owners: @cdumez

REGRESSION(262479@main): IOKit extensions are not being created. https://bugs.webkit.org/show_bug.cgi?id=255010 rdar://107624406
  Source/WebKit/UIProcess/WebPageProxy.cpp
Owners: @cdumez

AX: Make help-text.html and list-detection2.html async-friendly so they can pass consistently in ITM https://bugs.webkit.org/show_bug.cgi?id=254981 rdar://problem/107600415
  LayoutTests/accessibility/help-text-expected.txt
  LayoutTests/accessibility/help-text.html
  LayoutTests/accessibility/list-detection2-expected.txt
  LayoutTests/accessibility/list-detection2.html
  LayoutTests/platform/glib/accessibility/help-text-expected.txt
Owners: none

Optimize WTF::Bitmap::forEachSetBit to use hardware intrinsics when available https://bugs.webkit.org/show_bug.cgi?id=254959 rdar://107584830
  Source/WTF/wtf/Bitmap.h
Owners: none

Web Inspector: Network tab cleared items reappear with Preserve Log enabled https://bugs.webkit.org/show_bug.cgi?id=254948
  Source/WebInspectorUI/UserInterface/Views/NetworkTableContentView.js
Owners: @dcrousso, @patrickangle

Revert "Cherry-pick cf8a67802961. rdar://problem/106070798"
  Source/WebKit/UIProcess/ProcessThrottler.cpp
  Source/WebKit/UIProcess/ProcessThrottler.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
Owners: @cdumez

[JSC] Intl tests should support ICU 72 / CLDR 42 https://bugs.webkit.org/show_bug.cgi?id=254904
  JSTests/stress/intl-displaynames.js
  JSTests/stress/intl-numberformat-unified.js
  JSTests/stress/intl-relativetimeformat.js
Owners: @WebKit/jsc-reviewers

[WinCairo] Unreviewed test gardening
  LayoutTests/platform/wincairo/TestExpectations
Owners: none

Unreviewed, address Darin's feedback on #12098 https://bugs.webkit.org/show_bug.cgi?id=255014
  Source/JavaScriptCore/runtime/TemporalObject.cpp
Owners: @WebKit/jsc-reviewers

[GPU Process] To encode a CGImage, copy its pixels to a SharedMemory https://bugs.webkit.org/show_bug.cgi?id=254794 rdar://106794138
  Source/WebKit/Platform/Logging.h
  Source/WebKit/Shared/ShareableBitmap.cpp
  Source/WebKit/Shared/ShareableBitmap.h
  Source/WebKit/Shared/cg/ShareableBitmapCG.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.cpp
Owners: @cdumez

Speculative fix for crash mitigation in JSModuleRecord::instantiateDeclarations https://bugs.webkit.org/show_bug.cgi?id=255013 rdar://107634974
  Source/JavaScriptCore/runtime/JSModuleRecord.cpp
Owners: @WebKit/jsc-reviewers

[ANGLE] Speculative fix for div-by-zero in DispatchCompute https://bugs.webkit.org/show_bug.cgi?id=255002 rdar://problem/106789544
  Source/ThirdParty/ANGLE/changes.diff
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/mtl_render_utils.mm
Owners: none

Use isInDocumentTree in HTMLElement::editabilityFromContentEditableAttr https://bugs.webkit.org/show_bug.cgi?id=254982
  Source/WebCore/html/HTMLElement.cpp
Owners: @cdumez, @rniwa

Unreviewed gardening for ChakraCore tests on Win JSC https://bugs.webkit.org/show_bug.cgi?id=255019
  JSTests/ChakraCore.yaml
  JSTests/ChakraCore/test/es5/hasItem.baseline-jsc-windows
Owners: @WebKit/jsc-reviewers

Use fixed-size deadCells vector in MarkedBlock::sweep https://bugs.webkit.org/show_bug.cgi?id=254960 rdar://107585451
  Source/JavaScriptCore/heap/MarkedBlock.h
  Source/JavaScriptCore/heap/MarkedBlockInlines.h
Owners: @WebKit/jsc-reviewers

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
