Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

[Gardening]: [ iOS ] animations/steps-transform-rendering-updates.html is a flaky failure https://bugs.webkit.org/show_bug.cgi?id=246547
  LayoutTests/platform/ios-wk2/TestExpectations
Owners: none

Remove longstanding iOS-specific image painting antialiasing quirk https://bugs.webkit.org/show_bug.cgi?id=246551 rdar://100183888
  Source/WebCore/platform/graphics/cg/GraphicsContextCG.cpp
Owners: none

Modified regex to ignore commit id when it is part of a range URL (starts with https://). https://bugs.webkit.org/show_bug.cgi?id=246478 rdar://98541419
  Websites/bugs.webkit.org/extensions/Commits/Extension.pm
Owners: none

Apply patch. rdar://problem/98935540
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/ios/WebPageProxyIOS.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/iOSMouseSupport.mm
Owners: @cdumez

[WebInspector] Display OpenGL object ids in canvas inspector https://bugs.webkit.org/show_bug.cgi?id=246186 rdar://problem/100875691 Reviewed by Devin Rousso and Dean Jackson.
  LayoutTests/inspector/canvas/recording-webgl-full-expected.txt
  LayoutTests/inspector/canvas/recording-webgl-snapshots-expected.txt
  LayoutTests/platform/mac-wk1/inspector/canvas/recording-webgl-full-expected.txt
  LayoutTests/platform/mac-wk1/inspector/canvas/recording-webgl-snapshots-expected.txt
  LayoutTests/platform/mac-wk1/inspector/canvas/recording-webgl2-full-expected.txt
  LayoutTests/platform/mac-wk1/inspector/canvas/recording-webgl2-snapshots-expected.txt
  Source/WebCore/inspector/InspectorCanvas.cpp
  Source/WebInspectorUI/UserInterface/Views/RecordingActionTreeElement.css
  Source/WebInspectorUI/UserInterface/Views/RecordingActionTreeElement.js
Owners: @dcrousso, @patrickangle

[LFC][IFC] Fix fast/block/float/floats-offset-image-quirk-lineheight.html https://bugs.webkit.org/show_bug.cgi?id=246424
  LayoutTests/fast/block/float/tall-line-vs-intrusive-floats-quirks-mode-expected.html
  LayoutTests/fast/block/float/tall-line-vs-intrusive-floats-quirks-mode.html
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingGeometry.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingQuirks.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingQuirks.h
Owners: none

Fix unused-but-set-variable warning in WebGL code https://bugs.webkit.org/show_bug.cgi?id=246538
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
Owners: @cdumez, @rniwa

Support loading Web Extension URLs and load the background page or service worker. https://bugs.webkit.org/show_bug.cgi?id=246409
  Source/WebCore/en.lproj/Localizable.strings
  Source/WebKit/Shared/WebPageCreationParameters.cpp
  Source/WebKit/Shared/WebPageCreationParameters.h
  Source/WebKit/UIProcess/API/APIPageConfiguration.cpp
  Source/WebKit/UIProcess/API/APIPageConfiguration.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewConfiguration.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewConfigurationPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionContext.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionContext.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionController.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionControllerCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionURLSchemeHandlerCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtension.h
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/UIProcess/Extensions/WebExtensionController.h
  Source/WebKit/UIProcess/Extensions/WebExtensionURLSchemeHandler.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebURLSchemeHandler.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionController.mm
Owners: @cdumez

[Gardening] Unmark some WPT as failing https://bugs.webkit.org/show_bug.cgi?id=246557 rdar://101198083
  LayoutTests/TestExpectations
  LayoutTests/platform/gtk/TestExpectations
Owners: none

[WGSL] Add a helper to aid working with vectors of AST nodes https://bugs.webkit.org/show_bug.cgi?id=246500 rdar://problem/101156657
  Source/WTF/WTF.xcodeproj/project.pbxproj
  Source/WTF/wtf/CMakeLists.txt
  Source/WTF/wtf/UniqueRefVector.h
  Tools/TestWebKitAPI/CMakeLists.txt
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WTF/UniqueRefVector.cpp
Owners: none

Refactor some networkConnectionIntegrity codepaths for handling resource errors https://bugs.webkit.org/show_bug.cgi?id=246530 rdar://100523322
  Source/WebCore/inspector/agents/WebConsoleAgent.cpp
  Source/WebCore/platform/network/cf/ResourceError.h
  Source/WebCore/platform/network/mac/ResourceErrorMac.mm
Owners: @dcrousso, @patrickangle

Add AllowShared to VideoDecoderConfig.description https://bugs.webkit.org/show_bug.cgi?id=246512 rdar://problem/101164749
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-decoder.crossOriginIsolated.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-decoder.crossOriginIsolated.https.any.worker-expected.txt
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoderConfig.idl
  Source/WebCore/bindings/js/JSDOMConvertUnion.h
Owners: @cdumez

Modules with invalid "type" assertion should throw https://bugs.webkit.org/show_bug.cgi?id=246207 rdar://101166148
  JSTests/stress/invalid-import-assertion.js
  JSTests/stress/resources/empty.js
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/scripting-1/the-script-element/css-module/import-css-module-dynamic-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/scripting-1/the-script-element/import-assertions/dynamic-import-with-assertion-argument.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/scripting-1/the-script-element/import-assertions/dynamic-import-with-assertion-argument.any.sharedworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/scripting-1/the-script-element/import-assertions/dynamic-import-with-assertion-argument.any.worker-expected.txt
  Source/JavaScriptCore/API/JSAPIGlobalObject.mm
  Source/JavaScriptCore/jsc.cpp
  Source/JavaScriptCore/runtime/Completion.cpp
  Source/JavaScriptCore/runtime/Completion.h
  Source/WebCore/bindings/js/ScriptModuleLoader.cpp
Owners: @WebKit/jsc-reviewers, @cdumez

Implement lastLineBaseline for flex containers. https://bugs.webkit.org/show_bug.cgi?id=246201 rdar://100882674
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-flex-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-flex-004-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-flex-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-flex-004-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-table-001-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-table-002-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-table-003-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-table-001-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-table-002-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-table-003-expected.txt
  Source/WebCore/rendering/OrderIterator.cpp
  Source/WebCore/rendering/OrderIterator.h
  Source/WebCore/rendering/RenderFlexibleBox.cpp
  Source/WebCore/rendering/RenderFlexibleBox.h
Owners: none

CompletionHandler cannot be called from arbitrary thread https://bugs.webkit.org/show_bug.cgi?id=246271 rdar://problem/100969234
  Source/WTF/wtf/CompletionHandler.h
  Source/WTF/wtf/ThreadAssertions.h
  Tools/TestWebKitAPI/CMakeLists.txt
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WTF/CompletionHandlerTests.cpp
  Tools/TestWebKitAPI/Tests/WTF/RunLoop.cpp
  Tools/TestWebKitAPI/Utilities.h
Owners: none

Add space and make GitHub icons work in dark mode on webkit.org/team/ https://bugs.webkit.org/show_bug.cgi?id=246563
  Websites/webkit.org/wp-content/themes/webkit/team.php
Owners: none

[CSS] Remove -webkit-mask-position-y alias to itself https://bugs.webkit.org/show_bug.cgi?id=237213 rdar://89479324
  Source/WebCore/css/CSSProperties.json
Owners: none

IPC::Connection message throttling refers to main run loop https://bugs.webkit.org/show_bug.cgi?id=246276 rdar://problem/100974660
  Source/WebKit/Platform/IPC/Connection.cpp
  Source/WebKit/Platform/IPC/Connection.h
  Tools/TestWebKitAPI/Tests/IPC/ConnectionTests.cpp
  Tools/TestWebKitAPI/Tests/WTF/RunLoop.cpp
Owners: @cdumez

[ macOS Debug EWS ] compositing/backing/backing-store-attachment-animating-outside-viewport.html is a flaky failure https://bugs.webkit.org/show_bug.cgi?id=246467 <rdar://problem/101136540>
  LayoutTests/compositing/backing/backing-store-attachment-animating-outside-viewport.html
  LayoutTests/platform/mac/TestExpectations
Owners: none

Fix unqualified calls to std::move in PlayStation MiniBrowser https://bugs.webkit.org/show_bug.cgi?id=246546
  Tools/MiniBrowser/playstation/MainWindow.cpp
  Tools/MiniBrowser/playstation/ToolkittenUtils.h
  Tools/MiniBrowser/playstation/main.cpp
Owners: @JonWBedard

Make GraphicsLayerTextureMapper code platform agnostic https://bugs.webkit.org/show_bug.cgi?id=246497
  Source/WebKit/Shared/WebPageCreationParameters.cpp
  Source/WebKit/Shared/WebPageCreationParameters.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHostTextureMapper.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHostTextureMapper.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
Owners: @cdumez, @magomez, @zdobersek

Start preparing to instantiate RemoteFrames https://bugs.webkit.org/show_bug.cgi?id=246562
  Source/WebCore/page/AbstractFrame.cpp
  Source/WebCore/page/AbstractFrame.h
  Source/WebCore/page/Frame.cpp
  Source/WebCore/page/Frame.h
  Source/WebCore/page/FrameTree.cpp
  Source/WebCore/page/FrameTree.h
  Source/WebCore/page/RemoteFrame.cpp
  Source/WebCore/page/RemoteFrame.h
  Source/WebCore/page/ios/FrameIOS.mm
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.h
Owners: @cdumez

Support struct.new, struct.get and struct.set. https://bugs.webkit.org/show_bug.cgi?id=243208
  JSTests/wasm/gc/structs.js
  JSTests/wasm/wasm.json
  Source/JavaScriptCore/CMakeLists.txt
  Source/JavaScriptCore/DerivedSources-output.xcfilelist
  Source/JavaScriptCore/DerivedSources.make
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/Sources.txt
  Source/JavaScriptCore/bytecode/BytecodeList.rb
  Source/JavaScriptCore/heap/Heap.cpp
  Source/JavaScriptCore/heap/Heap.h
  Source/JavaScriptCore/heap/HeapSubspaceTypes.h
  Source/JavaScriptCore/llint/WebAssembly.asm
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.h
  Source/JavaScriptCore/wasm/WasmAirIRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmOperations.cpp
  Source/JavaScriptCore/wasm/WasmOperations.h
  Source/JavaScriptCore/wasm/WasmSectionParser.cpp
  Source/JavaScriptCore/wasm/WasmSlowPaths.cpp
  Source/JavaScriptCore/wasm/WasmSlowPaths.h
  Source/JavaScriptCore/wasm/WasmTypeDefinition.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.h
  Source/JavaScriptCore/wasm/js/JSWebAssemblyHelpers.h
  Source/JavaScriptCore/wasm/js/JSWebAssemblyStruct.cpp
  Source/JavaScriptCore/wasm/js/JSWebAssemblyStruct.h
  Source/JavaScriptCore/wasm/js/WebAssemblyStructConstructor.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyStructConstructor.h
  Source/JavaScriptCore/wasm/js/WebAssemblyStructPrototype.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyStructPrototype.h
  Source/JavaScriptCore/wasm/wasm.json
Owners: @WebKit/jsc-reviewers

AX: AXPropertyName::SelectedChildren for tree-role objects is not updated when their tree-item children become selected https://bugs.webkit.org/show_bug.cgi?id=246534 rdar://problem/101186153
  LayoutTests/accessibility-isolated-tree/TestExpectations
  LayoutTests/accessibility/mac/aria-multiselectable-expected.txt
  LayoutTests/accessibility/mac/aria-multiselectable.html
  Source/WebCore/accessibility/AXObjectCache.cpp
Owners: none

Have WKUIDelegate._webViewLockScreenOrientation return a boolean https://bugs.webkit.org/show_bug.cgi?id=246545
  Source/WebKit/UIProcess/API/Cocoa/WKUIDelegatePrivate.h
  Source/WebKit/UIProcess/Cocoa/UIDelegate.mm
Owners: @cdumez

[MQ4] Validate features against schemas https://bugs.webkit.org/show_bug.cgi?id=246517 rdar://101170872
  Source/WebCore/css/ContainerQueryParser.cpp
  Source/WebCore/css/ContainerQueryParser.h
  Source/WebCore/css/parser/CSSParserImpl.cpp
  Source/WebCore/css/query/GenericMediaQueryParser.cpp
  Source/WebCore/css/query/GenericMediaQueryParser.h
  Source/WebCore/css/query/GenericMediaQueryTypes.h
  Source/WebCore/css/query/MediaQueryParser.cpp
  Source/WebCore/css/query/MediaQueryParser.h
  Source/WebCore/style/ContainerQueryEvaluator.cpp
Owners: none

Treat display: -webkit-box as block type (RenderStyle::isDisplayBlockType) https://bugs.webkit.org/show_bug.cgi?id=246577
  Source/WebCore/rendering/style/RenderStyle.h
Owners: none

[WPE] Gardening https://bugs.webkit.org/show_bug.cgi?id=246571
  LayoutTests/platform/glib/TestExpectations
Owners: none

Unreviewed, build fix because DerivedSources-input.xcfilelist update is missing https://bugs.webkit.org/show_bug.cgi?id=243208 rdar://97971445
  Source/JavaScriptCore/DerivedSources-input.xcfilelist
Owners: @WebKit/jsc-reviewers

Update import of WPT css-animations parsing https://bugs.webkit.org/show_bug.cgi?id=246582 rdar://101210467
  LayoutTests/imported/w3c/resources/import-expectations.json
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/parsing/animation-name-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/parsing/animation-name-computed.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/parsing/animation-name-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/parsing/animation-name-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/parsing/animation-name-valid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/parsing/animation-timing-function-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/parsing/animation-timing-function-computed.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/parsing/animation-timing-function-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/parsing/animation-timing-function-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/parsing/animation-timing-function-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/parsing/animation-timing-function-valid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/parsing/keyframes-name-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/parsing/keyframes-name-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/parsing/keyframes-name-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/parsing/keyframes-name-valid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/parsing/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/support/parsing-testcommon.js
Owners: none

Treat 'rem' and 'rlh' as absolute units for font size https://bugs.webkit.org/show_bug.cgi?id=246566 rdar://101209364
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/rlh-in-monospace-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/rlh-in-monospace-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/rlh-in-monospace.html
  Source/WebCore/css/CSSPrimitiveValue.h
  Source/WebCore/style/StyleBuilderCustom.h
Owners: none

Use MTLSharedTexture for bounds calculation in WebXR https://bugs.webkit.org/show_bug.cgi?id=246555 rdar://101195746
  Source/WebCore/Modules/webxr/WebXROpaqueFramebuffer.cpp
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.h
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.mm
Owners: none

[WGSL] Use UniqueRefVector to simplify working with AST https://bugs.webkit.org/show_bug.cgi?id=246560 rdar://problem/101198284
  Source/WebGPU/WGSL/AST/Attribute.h
  Source/WebGPU/WGSL/AST/Decl.h
  Source/WebGPU/WGSL/AST/Expression.h
  Source/WebGPU/WGSL/AST/Expressions/ArrayAccess.h
  Source/WebGPU/WGSL/AST/Expressions/CallableExpression.h
  Source/WebGPU/WGSL/AST/FunctionDecl.h
  Source/WebGPU/WGSL/AST/GlobalDirective.h
  Source/WebGPU/WGSL/AST/ShaderModule.h
  Source/WebGPU/WGSL/AST/Statement.h
  Source/WebGPU/WGSL/AST/Statements/CompoundStatement.h
  Source/WebGPU/WGSL/AST/StructureDecl.h
  Source/WebGPU/WGSL/AST/VariableDecl.h
  Source/WebGPU/WGSL/Parser.cpp
  Source/WebGPU/WGSL/ParserPrivate.h
  Tools/TestWebKitAPI/Tests/WGSL/ParserTests.cpp
Owners: none

[LFC][IFC] Enable non-replaced out-of-flow positioned content for IFC https://bugs.webkit.org/show_bug.cgi?id=245766
  LayoutTests/TestExpectations
  LayoutTests/compositing/iframes/page-cache-layer-tree-expected.txt
  LayoutTests/platform/ios-wk2/compositing/iframes/page-cache-layer-tree-expected.txt
  LayoutTests/platform/ios/fast/multicol/client-rects-expected.txt
  LayoutTests/platform/ios/fast/multicol/client-rects-spanners-complex-expected.txt
  LayoutTests/platform/ios/fast/multicol/client-rects-spanners-expected.txt
  LayoutTests/platform/ios/fast/multicol/newmulticol/client-rects-expected.txt
  LayoutTests/platform/mac/fast/multicol/client-rects-expected.txt
  LayoutTests/platform/mac/fast/multicol/client-rects-spanners-complex-expected.txt
  LayoutTests/platform/mac/fast/multicol/client-rects-spanners-expected.txt
  LayoutTests/platform/mac/fast/multicol/newmulticol/client-rects-expected.txt
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingContext.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingContext.h
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingGeometry.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingGeometry.h
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.cpp
Owners: none

AX: Make 6 layout tests async so they can pass in ITM https://bugs.webkit.org/show_bug.cgi?id=246550 rdar://problem/101191194
  LayoutTests/accessibility-isolated-tree/TestExpectations
  LayoutTests/accessibility/aria-scrollbar-role-expected.txt
  LayoutTests/accessibility/aria-scrollbar-role.html
  LayoutTests/accessibility/aria-selected-menu-items.html
  LayoutTests/accessibility/content-editable-as-textarea.html
  LayoutTests/accessibility/mac/aria-menuitem-focus-expected.txt
  LayoutTests/accessibility/mac/aria-menuitem-focus.html
  LayoutTests/accessibility/set-value-not-work-for-disabled-sliders-expected.txt
  LayoutTests/accessibility/set-value-not-work-for-disabled-sliders.html
  LayoutTests/platform/glib/accessibility/content-editable-as-textarea-expected.txt
  LayoutTests/platform/mac/accessibility/content-editable-as-textarea-expected.txt
Owners: none

[libpas] Support MallocStackLogging https://bugs.webkit.org/show_bug.cgi?id=246581 rdar://101210195
  Source/bmalloc/CMakeLists.txt
  Source/bmalloc/bmalloc.xcodeproj/project.pbxproj
  Source/bmalloc/bmalloc/Environment.cpp
  Source/bmalloc/libpas/src/libpas/pas_darwin_spi.h
  Source/bmalloc/libpas/src/libpas/pas_deallocate.c
  Source/bmalloc/libpas/src/libpas/pas_deallocate.h
  Source/bmalloc/libpas/src/libpas/pas_local_allocator_inlines.h
  Source/bmalloc/libpas/src/libpas/pas_malloc_stack_logging.c
  Source/bmalloc/libpas/src/libpas/pas_malloc_stack_logging.h
  Source/bmalloc/libpas/src/libpas/pas_thread_local_cache.h
  Source/bmalloc/libpas/src/libpas/pas_try_allocate_common.h
  Source/bmalloc/libpas/src/libpas/pas_try_reallocate.h
Owners: @Constellation

Unprefix font-size: -webkit-xxx-large https://bugs.webkit.org/show_bug.cgi?id=246574 rdar://101207950
  LayoutTests/editing/style/push-down-font-styles-mac-expected.txt
  LayoutTests/editing/style/push-down-font-styles-mac.html
  LayoutTests/editing/style/push-down-font-styles-win-expected.txt
  LayoutTests/editing/style/push-down-font-styles-win.html
  LayoutTests/fast/css/font-size-webkit-xxx-large-expected.html
  LayoutTests/fast/css/font-size-webkit-xxx-large.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/font-size-xxx-large.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-size-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-size-valid-expected.txt
  Source/WebCore/css/CSSValueKeywords.in
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/editing/EditingStyle.cpp
  Source/WebCore/html/HTMLFontElement.cpp
  Source/WebCore/platform/graphics/FontCascadeDescription.h
  Source/WebCore/style/StyleBuilderCustom.h
  Source/WebCore/style/StyleFontSizeFunctions.h
  Source/WebCore/style/StyleResolveForFontRaw.cpp
  Source/WebInspectorUI/UserInterface/Models/CSSKeywordCompletions.js
Owners: @rniwa, @cdumez, @dcrousso, @patrickangle

Update @font-palette-values override-colors order https://bugs.webkit.org/show_bug.cgi?id=246565 rdar://problem/101216288
  LayoutTests/TestExpectations
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
Owners: none

[Debug] Build failure in ThreadAssertions.h https://bugs.webkit.org/show_bug.cgi?id=246592
  Source/WTF/wtf/ThreadAssertions.h
Owners: none

IPC::Connection cannot be bound to arbitrary run loop https://bugs.webkit.org/show_bug.cgi?id=246336 rdar://problem/101030022
  Source/WebKit/Platform/IPC/Connection.cpp
  Source/WebKit/Platform/IPC/Connection.h
  Tools/TestWebKitAPI/Tests/IPC/ConnectionTests.cpp
Owners: @cdumez
