Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @calvaris, @philn, @ntrrgc, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @graouts

REGRESSION (249800@main): Cannot edit compose body field on outlook.com https://bugs.webkit.org/show_bug.cgi?id=242006 <rdar://94619119>
  Source/WTF/wtf/cocoa/RuntimeApplicationChecksCocoa.cpp
  Source/WTF/wtf/cocoa/RuntimeApplicationChecksCocoa.h
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/css/CSSComputedStyleDeclaration.cpp
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/parser/CSSParserFastPaths.cpp
  Source/WebCore/dom/Node.cpp
Owners: @graouts

[Gardening]: [ iOS Release ] http/tests/paymentrequest/updateWith-shippingOptions.https.html is a flaky failure https://bugs.webkit.org/show_bug.cgi?id=242264
  LayoutTests/platform/ios-wk2/TestExpectations
Owners: none

ServiceWorkerFetch::dispatchFetchEvent active registration assert is no longer true https://bugs.webkit.org/show_bug.cgi?id=241627 rdar://problem/95670031
  Source/WebCore/workers/service/context/ServiceWorkerFetch.cpp
Owners: none

[Gardening]: [ iOS15 Mac wk2 Debug ] imported/w3c/web-platform-tests/webrtc/simulcast/basic.https.html is a flaky failure https://bugs.webkit.org/show_bug.cgi?id=231780
  LayoutTests/platform/mac-wk2/TestExpectations
Owners: none

REGRESSION(250469@main) svg/animations/animation-leak-list-property-instances.html is randomly failing https://bugs.webkit.org/show_bug.cgi?id=242230
  LayoutTests/platform/win/TestExpectations
  LayoutTests/svg/animations/animation-leak-list-property-instances-expected.txt
  LayoutTests/svg/animations/animation-leak-list-property-instances.html
Owners: none

[Gardening]: [ iOS15 Mac wk2 Debug ] imported/w3c/web-platform-tests/webrtc/simulcast/basic.https.html is a flaky failure https://bugs.webkit.org/show_bug.cgi?id=231780
  LayoutTests/platform/mac-wk2/TestExpectations
Owners: none

Add more logging to webrtc/video-setDirection.html in case of error https://bugs.webkit.org/show_bug.cgi?id=242307
  LayoutTests/webrtc/video-setDirection.html
Owners: none

Remove telemetry in the GPU process https://bugs.webkit.org/show_bug.cgi?id=242350 <rdar://problem/96457831>
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
Owners: none

[iOS] REGRESSION(251612@main): fullscreen close/PiP buttons are too close to the top of the screen https://bugs.webkit.org/show_bug.cgi?id=242361 <rdar://problem/92740201>
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenViewController.mm
Owners: none

[iOS][GPUP] Remove sandbox telemetry https://bugs.webkit.org/show_bug.cgi?id=242356 <rdar://problem/96464281>
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.GPU.sb.in
Owners: none

[git-webkit] Fix issue assignee failure https://bugs.webkit.org/show_bug.cgi?id=242324
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/github.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/mocks/github.py
Owners: @JonWBedard

[iOS] Fix sandbox violations https://bugs.webkit.org/show_bug.cgi?id=242363 <rdar://96319951>
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.GPU.sb.in
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.Networking.sb.in
Owners: none

Cherry-pick c60ef5766625. rdar://problem/92740201
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenViewController.mm
Owners: none

[Gardening]: [ BigSure wk1 Debug ] fast/selectors/pseudo-element-inside-any.html is a flaky crash https://bugs.webkit.org/show_bug.cgi?id=232046
  LayoutTests/platform/mac-wk1/TestExpectations
Owners: none

Fix AttributeError: 'PullRequest' object has no attribute 'link'
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
Owners: @facetothefate, @JonWBedard

[Gardening]: [ iOS15 Debug ] media/media-fragments/TC0001.html is a flaky timeout https://bugs.webkit.org/show_bug.cgi?id=231636
  LayoutTests/platform/ios-wk2/TestExpectations
Owners: none

[JSC] Activate wasm fault handler when signaling memory is used https://bugs.webkit.org/show_bug.cgi?id=242358 rdar://96056675
  Source/JavaScriptCore/jsc.cpp
  Source/JavaScriptCore/runtime/InitializeThreading.cpp
  Source/JavaScriptCore/shell/playstation/TestShell.cpp
  Source/JavaScriptCore/wasm/WasmFaultSignalHandler.cpp
  Source/JavaScriptCore/wasm/WasmFaultSignalHandler.h
  Source/JavaScriptCore/wasm/WasmMemory.cpp
  Source/WebKit/WebProcess/WebProcess.cpp
Owners: @WebKit/jsc-reviewers

Introduction.md web IDL section missing CMakeLists.txt https://bugs.webkit.org/show_bug.cgi?id=242051
  Introduction.md
Owners: none

REGRESSION (251473@main): [watchOS] Crash when focusing an input field with spellcheck="false" https://bugs.webkit.org/show_bug.cgi?id=242364 rdar://96458889
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Owners: none

REGRESSION (iOS 16): RELEASE_ASSERT in slow_path_wasm_loop_osr https://bugs.webkit.org/show_bug.cgi?id=242294
  Source/JavaScriptCore/wasm/WasmBBQPlan.cpp
  Source/JavaScriptCore/wasm/WasmBBQPlan.h
  Source/JavaScriptCore/wasm/WasmSlowPaths.cpp
Owners: @WebKit/jsc-reviewers

Add const to some fields that are meant to be immutable after construction. https://bugs.webkit.org/show_bug.cgi?id=242353
  Source/JavaScriptCore/bindings/ScriptFunctionCall.h
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/bytecode/CodeBlock.h
  Source/JavaScriptCore/bytecode/CodeBlockWithJITType.h
  Source/JavaScriptCore/bytecode/FullCodeOrigin.h
  Source/JavaScriptCore/bytecode/PolymorphicAccess.h
  Source/JavaScriptCore/bytecode/StructureStubClearingWatchpoint.h
  Source/JavaScriptCore/debugger/Debugger.cpp
  Source/JavaScriptCore/debugger/DebuggerEvalEnabler.h
  Source/JavaScriptCore/debugger/ScriptProfilingScope.h
  Source/JavaScriptCore/dfg/DFGAbstractInterpreter.h
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGGraph.h
  Source/JavaScriptCore/heap/MarkedBlock.cpp
  Source/JavaScriptCore/heap/MarkedBlock.h
  Source/JavaScriptCore/heap/WeakSet.h
  Source/JavaScriptCore/interpreter/VMEntryRecord.h
  Source/JavaScriptCore/jit/AssemblyHelpers.h
  Source/JavaScriptCore/jit/JIT.cpp
  Source/JavaScriptCore/jit/JIT.h
  Source/JavaScriptCore/jit/JITDisassembler.h
  Source/JavaScriptCore/jit/JSInterfaceJIT.h
  Source/JavaScriptCore/jit/PolymorphicCallStubRoutine.h
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.h
  Source/JavaScriptCore/runtime/LiteralParser.h
  Source/JavaScriptCore/runtime/RegExpCache.h
  Source/JavaScriptCore/wasm/js/JSWebAssemblyInstance.h
  Source/JavaScriptCore/yarr/YarrJIT.cpp
  Source/WebCore/bindings/js/JSExecState.h
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
  Source/WebCore/dom/CustomElementReactionQueue.h
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Adjust VM heap growth factor https://bugs.webkit.org/show_bug.cgi?id=242347
  Source/JavaScriptCore/runtime/OptionsList.h
Owners: @WebKit/jsc-reviewers

RemoteResourceCacheProxy::clearDecomposedGlyphsMap should deregister observers https://bugs.webkit.org/show_bug.cgi?id=242325 rdar://96209023
  LayoutTests/fast/text/glyph-display-lists/glyph-display-list-gpu-process-crash-expected.txt
  LayoutTests/fast/text/glyph-display-lists/glyph-display-list-gpu-process-crash.html
  Source/WebCore/rendering/TextPainter.cpp
  Source/WebCore/rendering/TextPainter.h
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.cpp
Owners: none

Add tests for re-compile when doing loop osr in BBQ B3 mode. https://bugs.webkit.org/show_bug.cgi?id=242294.
  JSTests/wasm/regress/242294.js
  Tools/Scripts/run-jsc-stress-tests
Owners: @WebKit/jsc-reviewers, @JonWBedard

[libpas] Add no-shutting-down scavenger mode https://bugs.webkit.org/show_bug.cgi?id=242371
  Source/JavaScriptCore/runtime/InitializeThreading.cpp
  Source/JavaScriptCore/runtime/OptionsList.h
  Source/bmalloc/libpas/src/libpas/pas_scavenger.c
  Source/bmalloc/libpas/src/libpas/pas_scavenger.h
Owners: @WebKit/jsc-reviewers, @Constellation

fast/dom/inline-event-attributes-release.html randomly fails https://bugs.webkit.org/show_bug.cgi?id=83618
  LayoutTests/fast/dom/inline-event-attributes-release-expected.txt
  LayoutTests/fast/dom/inline-event-attributes-release.html
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/win/TestExpectations
Owners: none

[WebGPU] Rename TypeConversion to CallableExpression and some refactoring https://bugs.webkit.org/show_bug.cgi?id=242368
  Source/WebGPU/WGSL/AST/Expression.h
  Source/WebGPU/WGSL/AST/Expressions/CallableExpression.h
  Source/WebGPU/WGSL/Parser.cpp
  Source/WebGPU/WGSLUnitTests/WGSLParserTests.mm
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
Owners: none

Move service worker registration and worker state updates out of main thread for service worker contexts https://bugs.webkit.org/show_bug.cgi?id=242383 rdar://problem/96510954
  Source/WebCore/workers/Worker.cpp
  Source/WebCore/workers/service/SWClientConnection.cpp
  Source/WebCore/workers/service/SWClientConnection.h
  Source/WebCore/workers/service/ServiceWorkerRegistrationData.h
  Source/WebCore/workers/service/WorkerSWClientConnection.h
  Source/WebCore/workers/service/context/SWContextManager.cpp
  Source/WebCore/workers/service/context/SWContextManager.h
  Source/WebCore/workers/service/context/ServiceWorkerFetch.cpp
  Source/WebCore/workers/service/context/ServiceWorkerThreadProxy.cpp
  Source/WebCore/workers/service/context/ServiceWorkerThreadProxy.h
  Source/WebCore/workers/shared/context/SharedWorkerContextManager.cpp
  Source/WebKit/WebProcess/Network/NetworkProcessConnection.cpp
  Source/WebKit/WebProcess/Storage/WebSWClientConnection.cpp
  Source/WebKit/WebProcess/Storage/WebSWClientConnection.h
  Source/WebKit/WebProcess/Storage/WebSWContextManagerConnection.cpp
  Source/WebKit/WebProcess/Storage/WebSWContextManagerConnection.h
  Source/WebKit/WebProcess/WebProcess.cpp
Owners: none

Web Inspector: Styles: CSS documentation popover is needlessly persistent with broken background https://bugs.webkit.org/show_bug.cgi?id=242338
  Source/WebInspectorUI/UserInterface/Views/SpreadsheetStyleProperty.js
Owners: @dcrousso, @patrickangle

Rename libpasSavengeContinuously to libpasScavengeContinuously. https://bugs.webkit.org/show_bug.cgi?id=242382
  Source/JavaScriptCore/runtime/InitializeThreading.cpp
  Source/JavaScriptCore/runtime/OptionsList.h
Owners: @WebKit/jsc-reviewers

Rename libpasSavengeContinuously to libpasScavengeContinuously. https://bugs.webkit.org/show_bug.cgi?id=242382
  Source/JavaScriptCore/runtime/InitializeThreading.cpp
  Source/JavaScriptCore/runtime/OptionsList.h
Owners: @WebKit/jsc-reviewers

[iOS] "A problem repeatedly occurred" error page when safari resuming from background https://bugs.webkit.org/show_bug.cgi?id=242352
  Source/WebKit/UIProcess/SuspendedPageProxy.cpp
  Source/WebKit/UIProcess/WebProcessCache.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ProcessSwapOnNavigation.mm
Owners: none

[iOS][WP] Remove sandbox telemetry https://bugs.webkit.org/show_bug.cgi?id=242362 <rdar://96465126>
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
Owners: none

[Mac] Display capture is broken in GPUProcess https://bugs.webkit.org/show_bug.cgi?id=242389 rdar://problem/96516944
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
Owners: none

[iOS] Add SPI to vend the find overlay layer https://bugs.webkit.org/show_bug.cgi?id=241357 rdar://90466280
  Source/WebCore/page/PageOverlay.cpp
  Source/WebCore/page/PageOverlay.h
  Source/WebCore/page/PageOverlayController.cpp
  Source/WebCore/platform/graphics/GraphicsLayer.cpp
  Source/WebCore/platform/graphics/GraphicsLayer.h
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.cpp
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.h
  Source/WebKit/UIProcess/API/APIFindClient.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewInternal.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/_WKFindDelegate.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/UIProcess/Cocoa/FindClient.h
  Source/WebKit/UIProcess/Cocoa/FindClient.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/WebProcess/WebPage/WebFoundTextRangeController.cpp
  Source/WebKit/WebProcess/WebPage/WebFoundTextRangeController.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
  Tools/TestWebKitAPI/Tests/WebKitCocoa/FindInPage.mm
Owners: none

[git-webkit] Add `-o`/`--open` to `git-webkit pr` that automatically opens the created PR https://bugs.webkit.org/show_bug.cgi?id=242398 <rdar://problem/93440727>
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
Owners: @facetothefate, @JonWBedard

Use `-[AVSampleBufferDisplayLayer copyDisplayedPixelBuffer]` for MSE inline painting when possible https://bugs.webkit.org/show_bug.cgi?id=242293 rdar://96256430
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.mm
  Source/WebCore/PAL/pal/spi/cocoa/AVFoundationSPI.h
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/platform/graphics/MediaPlayer.cpp
  Source/WebCore/platform/graphics/MediaPlayer.h
  Source/WebCore/platform/graphics/MediaPlayerPrivate.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.messages.in
  Source/WebKit/GPUProcess/media/cocoa/RemoteMediaPlayerProxyCocoa.mm
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.h
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Remove an invalid test compositing/overlap-blending/nested-overlap-overflow.html https://bugs.webkit.org/show_bug.cgi?id=114338
  LayoutTests/compositing/overlap-blending/nested-overlap-overflow-expected.html
  LayoutTests/compositing/overlap-blending/nested-overlap-overflow.html
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Owners: none

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard
/Tools/TestWebKitAPI

# ================================================================================

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn

# ================================================================================

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

/Source/WebCore/Modules/apple-pay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/apple-pay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

# ================================================================================

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts
