Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @calvaris, @philn, @ntrrgc, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @graouts

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard
/Tools/TestWebKitAPI

# ================================================================================

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn

# ================================================================================

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

/Source/WebCore/Modules/apple-pay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/apple-pay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

# ================================================================================

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

[JSC] testair: testZDefOfSpillSlotWithOffsetNeedingToBeMaterializedInARegister incorrectly passes https://bugs.webkit.org/show_bug.cgi?id=242254
  Source/JavaScriptCore/b3/air/testair.cpp
Owners: @WebKit/jsc-reviewers

[LFC][FFC] Populate canUseForFlexLayout with unsupported styles and content https://bugs.webkit.org/show_bug.cgi?id=242304
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.cpp
  Source/WebCore/layout/integration/flex/LayoutIntegrationFlexLayout.cpp
Owners: none

[TEST PR] Testing assignee assignment * Tools/Scripts/libraries/webkitbugspy/webkitbugspy/github.py:
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/github.py
Owners: @JonWBedard

Unreviewed. Update OptionsGTK.cmake and NEWS for the 2.36.4 release
  ChangeLog
  Source/WebKit/ChangeLog
  Source/WebKit/gtk/NEWS
  Source/cmake/OptionsGTK.cmake
Owners: none

Unreviewed. Update OptionsWPE.cmake and NEWS for the 2.36.4 release
  ChangeLog
  Source/WebKit/ChangeLog
  Source/WebKit/wpe/NEWS
  Source/cmake/OptionsWPE.cmake
Owners: none

[results.webkit.org] Link test names to Github https://bugs.webkit.org/show_bug.cgi?id=242320
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/__init__.py
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/static/js/common.js
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/templates/search.html
  Tools/Scripts/libraries/resultsdbpy/setup.py
Owners: @JonWBedard

AffineTranform variables should be able to be constexpr https://bugs.webkit.org/show_bug.cgi?id=242323
  Source/WebCore/platform/graphics/SourceBrush.cpp
  Source/WebCore/platform/graphics/coretext/FontCascadeCoreText.cpp
  Source/WebCore/platform/graphics/transforms/AffineTransform.cpp
  Source/WebCore/platform/graphics/transforms/AffineTransform.h
  Source/WebCore/rendering/RenderObject.cpp
  Source/WebCore/rendering/svg/SVGRenderSupport.h
  Source/WebCore/svg/properties/SVGAnimationAdditiveListFunctionImpl.h
  Tools/TestWebKitAPI/Tests/WebCore/AffineTransform.cpp
Owners: none

[Mac] svg/animations/smil-leak-list-property-instances.svg is a flaky failure https://bugs.webkit.org/show_bug.cgi?id=214574
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/win/TestExpectations
  LayoutTests/svg/animations/smil-leak-list-property-instances.svg
Owners: none

[GStreamer][VideoCapture] Use GRefPtr for GstSample in pushSample https://bugs.webkit.org/show_bug.cgi?id=242332
  Source/WebCore/platform/mediastream/gstreamer/GStreamerMediaStreamSource.cpp
Owners: @calvaris, @philn

[FreeType] Add an implementation for FontPlatformData::familyName() https://bugs.webkit.org/show_bug.cgi?id=242310
  Source/WebCore/platform/graphics/FontPlatformData.cpp
  Source/WebCore/platform/graphics/freetype/FontPlatformDataFreeType.cpp
Owners: none

Change contributor status of Nikolas Zimmermann from committer to reviewer https://bugs.webkit.org/show_bug.cgi?id=242335
  metadata/contributors.json
Owners: @JonWBedard

[GStreamer][WebRTC] Additional data-channel improvements and initial layout tests coverage https://bugs.webkit.org/show_bug.cgi?id=242177
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/webrtc/datachannel/bufferedAmountLowThreshold.html
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerDataChannelHandler.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerDataChannelHandler.h
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.h
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerSctpTransportBackend.cpp
Owners: @calvaris, @philn

SVG load external file via <use> ignores ServiceWorker when offline https://bugs.webkit.org/show_bug.cgi?id=194948 rdar://problem/96318522
  LayoutTests/http/wpt/service-workers/use-element-worker.js
  LayoutTests/http/wpt/service-workers/use-element.https-expected.txt
  LayoutTests/http/wpt/service-workers/use-element.https.html
  Source/WebCore/svg/SVGUseElement.cpp
Owners: none

Web Inspector: Styles: Pop-up for resolved CSS variable values is inconsistent with other pop-ups https://bugs.webkit.org/show_bug.cgi?id=242315
  Source/WebInspectorUI/UserInterface/Views/InlineSwatch.css
  Source/WebInspectorUI/UserInterface/Views/InlineSwatch.js
Owners: @dcrousso, @patrickangle

[FreeType] Add implementation for FontPlatformData::variationAxes() https://bugs.webkit.org/show_bug.cgi?id=242337
  Source/WebCore/platform/graphics/FontPlatformData.cpp
  Source/WebCore/platform/graphics/freetype/FontCacheFreeType.cpp
  Source/WebCore/platform/graphics/freetype/FontCacheFreeType.h
  Source/WebCore/platform/graphics/freetype/FontPlatformDataFreeType.cpp
Owners: none

Update debug assertion in RtpSenderBase::SetSsrc https://bugs.webkit.org/show_bug.cgi?id=242339
  Source/ThirdParty/libwebrtc/Source/webrtc/pc/rtp_sender.cc
Owners: none

SharedVideoFrameWriter can hang on its semaphore in case of bad CVPixelBuffers https://bugs.webkit.org/show_bug.cgi?id=242334 rdar://95326241
  Source/WebKit/WebProcess/GPU/webrtc/SharedVideoFrame.cpp
  Source/WebKit/WebProcess/GPU/webrtc/SharedVideoFrame.h
Owners: none

Unreviewed, reverting r251129@main. https://bugs.webkit.org/show_bug.cgi?id=242340
  Source/JavaScriptCore/CMakeLists.txt
  Tools/WebKitTestRunner/CMakeLists.txt
  Tools/WebKitTestRunner/PlatformGTK.cmake
  Tools/WebKitTestRunner/PlatformWin.cmake
Owners: @WebKit/jsc-reviewers, @JonWBedard

SharedVideoFrameWriter can hang on its semaphore in case of bad CVPixelBuffers https://bugs.webkit.org/show_bug.cgi?id=242334 rdar://95326241
  Source/WebKit/WebProcess/GPU/webrtc/SharedVideoFrame.cpp
  Source/WebKit/WebProcess/GPU/webrtc/SharedVideoFrame.h
Owners: none

Switch test results from Trac to Github links https://bugs.webkit.org/show_bug.cgi?id=242316
  LayoutTests/fast/harness/results.html
  ManualTests/resources/test-results-page.html
Owners: none

NetworkRTCUDPSocketCocoaConnections should check for nw_content_context_get_is_final when reading data https://bugs.webkit.org/show_bug.cgi?id=242306 rdar://94867381
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCUDPSocketCocoa.mm
Owners: none

Wrong specificity of :has() pseudo-classes https://bugs.webkit.org/show_bug.cgi?id=242328
  LayoutTests/imported/w3c/web-platform-tests/css/selectors/has-specificity-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/selectors/has-specificity.html
  Source/WebCore/css/CSSSelector.cpp
Owners: none

[Alternate WebM Player] Add wireless playback support https://bugs.webkit.org/show_bug.cgi?id=242321
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.h
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.mm
Owners: none

[WebAuthn] Should reject rp with empty id https://bugs.webkit.org/show_bug.cgi?id=242091 rdar://90281653
  LayoutTests/http/wpt/webauthn/public-key-credential-create-failure.https-expected.txt
  LayoutTests/http/wpt/webauthn/public-key-credential-create-failure.https.html
  Source/WebCore/Modules/webauthn/AuthenticatorCoordinator.cpp
  Source/WebCore/Modules/webauthn/PublicKeyCredentialCreationOptions.h
  Source/WebCore/Modules/webauthn/fido/DeviceRequestConverter.cpp
  Source/WebCore/Modules/webauthn/fido/U2fCommandConstructor.cpp
  Source/WebKit/UIProcess/API/Cocoa/_WKWebAuthenticationPanel.mm
  Source/WebKit/UIProcess/WebAuthentication/AuthenticatorManager.cpp
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/LocalAuthenticator.mm
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/WebAuthenticatorCoordinatorProxy.mm
  Source/WebKit/UIProcess/WebAuthentication/fido/U2fAuthenticator.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/_WKWebAuthenticationPanel.mm
Owners: none

[Xcode] Stop passing build settings on the command line to avoid invalidating IDE builds rdar://88135402
  Makefile.shared
  Tools/CISupport/build-webkit-org/steps.py
  Tools/CISupport/ews-build/steps.py
  Tools/Scripts/build-webkit
Owners: @aj062, @JonWBedard, @ryanhaddad

[iOS] Add support for keyboard shortcut and menu item to find using the current selection https://bugs.webkit.org/show_bug.cgi?id=242196 rdar://93530469
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/WebProcess/WebPage/WebFoundTextRangeController.cpp
Owners: none

[webkitbot] Use commits.webkit.org instead of trac.webkit.org https://bugs.webkit.org/show_bug.cgi?id=242280 <rdar://problem/96321862>
  Tools/WebKitBot/src/WebKitBot.mjs
Owners: @JonWBedard

Add support for showing a spinner in an <input> https://bugs.webkit.org/show_bug.cgi?id=242067 rdar://94641774
  LayoutTests/fast/forms/auto-fill-button/input-loading-auto-fill-button-expected-mismatch.html
  LayoutTests/fast/forms/auto-fill-button/input-loading-auto-fill-button.html
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperMac.mm
  Source/WebCore/css/html.css
  Source/WebCore/en.lproj/Localizable.strings
  Source/WebCore/html/HTMLTextFormControlElement.h
  Source/WebCore/html/TextFieldInputType.cpp
  Source/WebCore/html/shadow/ShadowPseudoIds.cpp
  Source/WebCore/html/shadow/ShadowPseudoIds.h
  Source/WebCore/platform/LocalizedStrings.cpp
  Source/WebCore/platform/LocalizedStrings.h
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
  Source/WebKit/WebProcess/InjectedBundle/API/Cocoa/WKWebProcessPlugInNodeHandle.mm
  Source/WebKit/WebProcess/InjectedBundle/API/Cocoa/WKWebProcessPlugInNodeHandlePrivate.h
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundleNodeHandle.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundleNodeHandlePrivate.h
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Cherry-pick 8c5e775d2f16. rdar://problem/96440888
  Source/ThirdParty/libwebrtc/Source/webrtc/pc/rtp_sender.cc
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

[WebGPU] Strengthen compiler warnings https://bugs.webkit.org/show_bug.cgi?id=242326
  Source/WebGPU/Configurations/WebGPU.xcconfig
Owners: none

Web Inspector: Screenshots timeline overview records do not adjust their position when zooming in/out https://bugs.webkit.org/show_bug.cgi?id=242341 rdar://96325691
  Source/WebInspectorUI/UserInterface/Views/ScreenshotsTimelineOverviewGraph.js
Owners: @dcrousso, @patrickangle

vw units doesn't get updated inside shadow trees as frame is resized https://bugs.webkit.org/show_bug.cgi?id=216240
  LayoutTests/fast/shadow-dom/shadow-style-invalidation-vw-units-expected.html
  LayoutTests/fast/shadow-dom/shadow-style-invalidation-vw-units.html
  Source/WebCore/dom/Document.cpp
  Source/WebCore/style/StyleScope.cpp
  Source/WebCore/style/StyleScope.h
Owners: none

vw units doesn't get updated inside shadow trees as frame is resized https://bugs.webkit.org/show_bug.cgi?id=216240
  LayoutTests/fast/shadow-dom/shadow-style-invalidation-vw-units-expected.html
  LayoutTests/fast/shadow-dom/shadow-style-invalidation-vw-units.html
  Source/WebCore/dom/Document.cpp
  Source/WebCore/style/StyleScope.cpp
  Source/WebCore/style/StyleScope.h
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Cherry-pick 8c5e775d2f16. rdar://problem/96440888
  Source/ThirdParty/libwebrtc/Source/webrtc/pc/rtp_sender.cc
Owners: none

Cherry-pick 8c5e775d2f16. rdar://problem/96440888
  Source/ThirdParty/libwebrtc/Source/webrtc/pc/rtp_sender.cc
Owners: none

Cherry-pick 8c5e775d2f16. rdar://problem/96440888
  Source/ThirdParty/libwebrtc/Source/webrtc/pc/rtp_sender.cc
Owners: none
