Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

Use instancesRespondToSelector instead of respondsToSelector for checking if Managed Domains SPI exists. https://bugs.webkit.org/show_bug.cgi?id=247323 rdar://101812900
  Source/WebKit/UIProcess/WebsiteData/Cocoa/WebsiteDataStoreCocoa.mm
Owners: @cdumez

REGRESSION (STP): Animating image inside clipping border-radius ignores overflow hidden https://bugs.webkit.org/show_bug.cgi?id=245769 rdar://100514998
  LayoutTests/compositing/clipping/clip-stack-hidden-and-radius-expected.html
  LayoutTests/compositing/clipping/clip-stack-hidden-and-radius.html
  Source/WebCore/rendering/RenderLayerCompositor.cpp
Owners: none

Revert 256101@main https://bugs.webkit.org/show_bug.cgi?id=247340 rdar://101751819
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.h
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.h
  Source/WebKit/UIProcess/WebFrameProxy.messages.in
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
Owners: @cdumez

Add a way to customize the console log message when content extensions block requests https://bugs.webkit.org/show_bug.cgi?id=247330
  Source/WebCore/contentextensions/ContentExtensionsBackend.cpp
  Source/WebCore/contentextensions/ContentExtensionsBackend.h
  Source/WebCore/loader/cache/CachedResourceLoader.cpp
Owners: @cdumez

Check that STL container has contains method https://bugs.webkit.org/show_bug.cgi?id=247343
  Source/WTF/wtf/PlatformHave.h
  Source/WTF/wtf/StdMap.h
  Source/WTF/wtf/StdSet.h
  Source/WTF/wtf/StdUnorderedMap.h
  Source/WTF/wtf/StdUnorderedSet.h
  Source/WebCore/rendering/RenderLayerModelObject.cpp
  Source/cmake/OptionsCommon.cmake
  Source/cmake/WebKitCompilerFlags.cmake
Owners: @mcatanzaro

Modernize presentation of password field in password-protected PDF view
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
Owners: @cdumez

[LFC][IFC][Floats] Bootstrap 3 pagination widget layout is broken https://bugs.webkit.org/show_bug.cgi?id=247322 <rdar://101779195>
  LayoutTests/fast/block/float/float-box-with-negative-horizontal-margin-expected.html
  LayoutTests/fast/block/float/float-box-with-negative-horizontal-margin.html
  Source/WebCore/layout/floats/FloatingState.cpp
Owners: none

[LFC][IFC] Do not cache lineHasOverflow in LineBuilder::close::trimTrailingContent https://bugs.webkit.org/show_bug.cgi?id=247329 <rdar://101815457>
  LayoutTests/fast/inline/white-space-trimming-with-nbsp-mode-assert-expected.txt
  LayoutTests/fast/inline/white-space-trimming-with-nbsp-mode-assert.html
  Source/WebCore/layout/formattingContexts/inline/InlineLineBuilder.cpp
Owners: none

drawingBufferColorSpace support in WebGL canvas on macOS https://bugs.webkit.org/show_bug.cgi?id=247165 <rdar://101663516>
  LayoutTests/fast/canvas/webgl/colorspaces-test-expected.txt
  LayoutTests/fast/canvas/webgl/colorspaces-test.html
  LayoutTests/fast/canvas/webgl/context-lost-restored-p3-expected.txt
  LayoutTests/fast/canvas/webgl/context-lost-restored-p3.html
  LayoutTests/fast/canvas/webgl/match-page-color-space-p3-expected.html
  LayoutTests/fast/canvas/webgl/match-page-color-space-p3.html
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
  Source/WebCore/html/canvas/WebGLRenderingContextBase.idl
  Source/WebCore/inspector/InspectorCanvas.cpp
  Source/WebCore/inspector/InspectorCanvasCallTracer.h
  Source/WebCore/platform/graphics/GraphicsContextGL.cpp
  Source/WebCore/platform/graphics/GraphicsContextGL.h
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.h
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.mm
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGL.messages.in
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGLFunctionsGenerated.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxyFunctionsGenerated.cpp
Owners: @cdumez, @rniwa, @dcrousso, @patrickangle

Regression(254490@main): null dereference in Permissions::query https://bugs.webkit.org/show_bug.cgi?id=247304 rdar://101789656
  Source/WebCore/Modules/permissions/Permissions.cpp
Owners: none

Remove operationAllocateResultsArray assert https://bugs.webkit.org/show_bug.cgi?id=247338
  JSTests/wasm/stress/f32-tuple-jsapi-exported.js
  JSTests/wasm/stress/f32-tuple-jsapi.js
  Source/JavaScriptCore/wasm/WasmOperations.cpp
  Source/JavaScriptCore/wasm/js/JSToWasm.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyFunction.cpp
Owners: @WebKit/jsc-reviewers

Use more constrained types to represent CSS gradient values https://bugs.webkit.org/show_bug.cgi?id=247235 rdar://101720047
  Source/WebCore/css/CSSGradientValue.cpp
  Source/WebCore/css/CSSGradientValue.h
  Source/WebCore/css/CSSValue.cpp
  Source/WebCore/css/CSSValue.h
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/html/HTMLInputElement.cpp
  Source/WebCore/rendering/style/StyleGradientImage.cpp
  Source/WebCore/rendering/style/StyleGradientImage.h
  Source/WebCore/style/StyleBuilderState.cpp
  Source/WebCore/style/StylePendingResources.cpp
Owners: @cdumez, @rniwa

Add the support for outputting ranges to dump-as-markup.js and use it in editing/selection/getRangeAt.html https://bugs.webkit.org/show_bug.cgi?id=247309
  LayoutTests/editing/selection/getRangeAt-expected.txt
  LayoutTests/editing/selection/getRangeAt.html
  LayoutTests/resources/dump-as-markup.js
Owners: @rniwa

REGRESSION (255929@main): Some Facebook links cannot be opened in Safari https://bugs.webkit.org/show_bug.cgi?id=247351 rdar://101818726
  Source/WebKit/UIProcess/WebPageProxy.cpp
Owners: @cdumez

[Cocoa] Disable Audible codec in WebAudio https://bugs.webkit.org/show_bug.cgi?id=247337 rdar://100515218
  Source/WebCore/platform/audio/cocoa/AudioFileReaderCocoa.cpp
Owners: none

[GLIB] Gardening, update baselines after 256073@main
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-backgrounds/animations/background-image-interpolation-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-backgrounds/animations/border-image-source-interpolation-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-backgrounds/parsing/background-image-computed.sub-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-backgrounds/parsing/border-image-source-computed.sub-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-lists/animations/list-style-image-interpolation-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-lists/parsing/list-style-image-computed.sub-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-masking/animations/mask-image-interpolation-expected.txt
Owners: none

RenderElement::updateFillImages should take pointer arguments like other similar functions https://bugs.webkit.org/show_bug.cgi?id=247317 rdar://100273147
  Source/WebCore/rendering/RenderElement.cpp
  Source/WebCore/rendering/RenderElement.h
Owners: none

Experimental features menu is missing checkmarks in MiniBrowser https://bugs.webkit.org/show_bug.cgi?id=247356
  Tools/MiniBrowser/mac/SettingsController.m
Owners: @JonWBedard

[GLIB][GTK] Gardening, remove redundant baselines
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/fetch/stale-while-revalidate/stale-css-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/fetch/stale-while-revalidate/stale-script-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/mathml/presentation-markup/operators/operator-dictionary-stretchy-001-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/mathml/presentation-markup/operators/operator-dictionary-stretchy-002-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/service-workers/service-worker/navigation-preload/samesite-cookies.https-expected.txt
  LayoutTests/platform/gtk/fast/repaint/focus-ring-repaint-expected.txt
Owners: none

Merge 253241@main - Punycode a few more Canadian Aboriginal syllabics characters when mixed with Latin characters https://bugs.webkit.org/show_bug.cgi?id=243693 rdar://98135919
  Source/WTF/wtf/URLHelpers.cpp
  Tools/TestWebKitAPI/Tests/WTF/cocoa/URLExtras.mm
Owners: none

[Nicosia] Remove CoordinatedGraphicsState https://bugs.webkit.org/show_bug.cgi?id=247189
  Source/WebCore/platform/TextureMapper.cmake
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedGraphicsLayer.h
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedGraphicsState.h
  Source/WebKit/Shared/CoordinatedGraphics/CoordinatedGraphicsScene.cpp
  Source/WebKit/Shared/CoordinatedGraphics/CoordinatedGraphicsScene.h
  Source/WebKit/Shared/CoordinatedGraphics/threadedcompositor/ThreadedCompositor.cpp
  Source/WebKit/Shared/CoordinatedGraphics/threadedcompositor/ThreadedCompositor.h
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/CompositingCoordinator.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/CompositingCoordinator.h
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHost.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHost.h
Owners: @magomez, @zdobersek

Merge 254055@main - Web Inspector: Use more guaranteed built-ins in Inspector Injected Script https://bugs.webkit.org/show_bug.cgi?id=244622 rdar://98270447
  Source/JavaScriptCore/inspector/InjectedScriptSource.js
Owners: @dcrousso, @patrickangle

Merge 254380@main - Refactor some image drag and drop codepaths https://bugs.webkit.org/show_bug.cgi?id=245058 rdar://98992054
  Source/WebCore/dom/DataTransfer.cpp
  Source/WebCore/dom/DataTransfer.h
  Source/WebCore/page/DragController.cpp
  Source/WebCore/page/DragController.h
  Source/WebCore/page/DragState.h
  Source/WebCore/page/EventHandler.cpp
  Source/WebCore/page/EventHandler.h
  Source/WebCore/page/SecurityOrigin.cpp
  Source/WebCore/platform/DragData.cpp
  Source/WebCore/platform/DragData.h
  Source/WebCore/platform/cocoa/DragDataCocoa.mm
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKitLegacy/mac/WebView/WebView.mm
  Source/WebKitLegacy/win/WebView.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/DragAndDropTests.mm
Owners: @rniwa, @cdumez

[Nicosia] AsyncScrolling: use accessCommitted instead of accessPending when collecting layers for hit testing https://bugs.webkit.org/show_bug.cgi?id=247182
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeNicosia.cpp
Owners: @magomez, @zdobersek

Code style does not allow currently used member function explanation comments for vfuncs, ipc messages https://bugs.webkit.org/show_bug.cgi?id=247313 rdar://problem/101801434
  Websites/webkit.org/code-style.md
Owners: none

[MSE][GStreamer] Relax h264/h265 codec check for MSE https://bugs.webkit.org/show_bug.cgi?id=247129
  Source/WebCore/platform/graphics/gstreamer/GStreamerRegistryScanner.cpp
  Source/WebCore/platform/graphics/gstreamer/GStreamerRegistryScanner.h
  Source/WebCore/platform/graphics/gstreamer/mse/AppendPipeline.cpp
Owners: @philn

Style and performance tweaks to CSS property name and keyword value tables https://bugs.webkit.org/show_bug.cgi?id=247244 rdar://101730654
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/animation/CSSTransition.cpp
  Source/WebCore/animation/CSSTransition.h
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/css/CSSBackgroundRepeatValue.cpp
  Source/WebCore/css/CSSComputedStyleDeclaration.cpp
  Source/WebCore/css/CSSCustomPropertyValue.cpp
  Source/WebCore/css/CSSFunctionValue.cpp
  Source/WebCore/css/CSSGridAutoRepeatValue.cpp
  Source/WebCore/css/CSSPrimitiveValue.cpp
  Source/WebCore/css/CSSStyleDeclaration.cpp
  Source/WebCore/css/CSSValuePool.cpp
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/DOMCSSNamespace.cpp
  Source/WebCore/css/PropertySetCSSStyleDeclaration.cpp
  Source/WebCore/css/PropertySetCSSStyleDeclaration.h
  Source/WebCore/css/StyleColor.cpp
  Source/WebCore/css/StyleProperties.cpp
  Source/WebCore/css/makeprop.pl
  Source/WebCore/css/makevalues.pl
  Source/WebCore/css/parser/CSSParserFastPaths.cpp
  Source/WebCore/css/parser/CSSParserImpl.cpp
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/css/typedom/ComputedStylePropertyMapReadOnly.cpp
  Source/WebCore/css/typedom/MainThreadStylePropertyMapReadOnly.cpp
  Source/WebCore/css/typedom/StylePropertyMap.cpp
  Source/WebCore/dom/Document.cpp
  Source/WebCore/html/CustomPaintImage.cpp
  Source/WebCore/inspector/InspectorStyleSheet.cpp
  Source/WebCore/inspector/agents/InspectorAnimationAgent.cpp
  Source/WebCore/inspector/agents/InspectorCSSAgent.cpp
  Source/WebCore/page/CaptionUserPreferencesMediaAF.cpp
  Source/WebCore/platform/HashTools.h
  Source/WebCore/platform/animation/Animation.cpp
  Source/WebCore/rendering/style/RenderStyleConstants.cpp
  Source/WebCore/style/PropertyCascade.cpp
  Source/WebCore/style/StyleBuilderCustom.h
Owners: @graouts, @rniwa, @cdumez, @dcrousso, @patrickangle

[MSE] Bring back some useful SourceBuffer logs https://bugs.webkit.org/show_bug.cgi?id=247122
  Source/WebCore/Modules/mediasource/SourceBuffer.cpp
Owners: none

[GStreamer][WebRTC] Media rendering improvements https://bugs.webkit.org/show_bug.cgi?id=247319
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.h
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingAudioSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingVideoSourceGStreamer.cpp
Owners: @philn

Add temporary backdrop workaround for fullscreen elements https://bugs.webkit.org/show_bug.cgi?id=247349 rdar://101600873
  Source/WebCore/css/CSSSelector.cpp
  Source/WebCore/css/CSSSelector.h
  Source/WebCore/css/SelectorChecker.cpp
  Source/WebCore/css/SelectorCheckerTestFunctions.h
  Source/WebCore/css/SelectorPseudoClassAndCompatibilityElementMap.in
  Source/WebCore/css/fullscreen.css
  Source/WebCore/cssjit/SelectorCompiler.cpp
  Source/WebCore/rendering/updating/RenderTreeUpdaterGeneratedContent.cpp
Owners: none

Undo unrelated change that added an unneeded include https://bugs.webkit.org/show_bug.cgi?id=247349 rdar://101600873
  Source/WebCore/rendering/updating/RenderTreeUpdaterGeneratedContent.cpp
Owners: none

Fix CSSStyleValue.parse() / parseAll() for shorthand CSS properties https://bugs.webkit.org/show_bug.cgi?id=247205
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-objects/parse.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-objects/parseAll-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-objects/parseAll.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-serialization/cssStyleValue-string-expected.txt
  Source/WebCore/css/typedom/CSSStyleValueFactory.cpp
  Source/WebCore/css/typedom/CSSStyleValueFactory.h
  Source/WebCore/css/typedom/MainThreadStylePropertyMapReadOnly.cpp
Owners: none

Implement input validation for CSSColorValues https://bugs.webkit.org/show_bug.cgi?id=247167
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/resources/testhelper.js
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssHSL-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssHSL.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssHWB-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssHWB.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssLCH-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssLCH.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssLab-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssLab.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssOKLCH-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssOKLCH.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssOKLab-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssOKLab.html
  Source/WebCore/css/typedom/color/CSSColorValue.cpp
  Source/WebCore/css/typedom/color/CSSColorValue.h
  Source/WebCore/css/typedom/color/CSSHSL.cpp
  Source/WebCore/css/typedom/color/CSSHSL.h
  Source/WebCore/css/typedom/color/CSSHWB.cpp
  Source/WebCore/css/typedom/color/CSSHWB.h
  Source/WebCore/css/typedom/color/CSSLCH.cpp
  Source/WebCore/css/typedom/color/CSSLCH.h
  Source/WebCore/css/typedom/color/CSSLab.cpp
  Source/WebCore/css/typedom/color/CSSLab.h
  Source/WebCore/css/typedom/color/CSSOKLCH.cpp
  Source/WebCore/css/typedom/color/CSSOKLCH.h
  Source/WebCore/css/typedom/color/CSSOKLab.cpp
  Source/WebCore/css/typedom/color/CSSOKLab.h
  Source/WebCore/css/typedom/color/CSSRGB.h
Owners: none

Align CSSOMVariableReferenceValue serialization with Blink https://bugs.webkit.org/show_bug.cgi?id=247202
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-serialization/cssUnparsedValue-expected.txt
  Source/WebCore/css/typedom/CSSOMVariableReferenceValue.cpp
Owners: none

[WK2] Further simplify ArgumentCoder decoding for std::tuple<>, std::array<> https://bugs.webkit.org/show_bug.cgi?id=247227
  Source/WebKit/Platform/IPC/ArgumentCoders.h
Owners: @cdumez

Cherry-pick 254991@main (de8591441940). https://bugs.webkit.org/show_bug.cgi?id=245814
  Source/WebCore/html/HTMLIFrameElement.cpp
Owners: @cdumez, @rniwa

[GTK] Handle files being disallowed in DragDataGtk after 254380@main https://bugs.webkit.org/show_bug.cgi?id=247359
  Source/WebCore/platform/gtk/DragDataGtk.cpp
Owners: @WebKit/glib-reviewers

Versioning.
  Configurations/Version.xcconfig
Owners: none

Missing undef MESSAGE_CHECK in WebFrameProxy.cpp https://bugs.webkit.org/show_bug.cgi?id=247362
  Source/WebKit/UIProcess/WebFrameProxy.cpp
Owners: @cdumez

module loader fetch should queue macro-task https://bugs.webkit.org/show_bug.cgi?id=246355 rdar://101044632
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/scripting-1/the-script-element/module/dynamic-import/delay-load-event-expected.txt
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/bindings/js/ScriptModuleLoader.cpp
Owners: @cdumez
