Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

Turn ENABLE_LAYER_BASED_SVG_ENGINE ON for PlayStation https://bugs.webkit.org/show_bug.cgi?id=247386
  Source/cmake/OptionsPlayStation.cmake
Owners: none

Cherry pick ebefbab, rdar://101872145
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
Owners: @cdumez

JetStream2 driver should be able to specify individual subtests/test groups to run https://bugs.webkit.org/show_bug.cgi?id=247301 rdar://101783726
  PerformanceTests/JetStream2/JetStreamDriver.js
  PerformanceTests/JetStream3/JetStreamDriver.js
Owners: none

Implement focus fixup rule https://bugs.webkit.org/show_bug.cgi?id=237273 rdar://89902824
  LayoutTests/imported/w3c/web-platform-tests/inert/dynamic-inert-on-focused-element-expected.txt
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
Owners: @cdumez

Versioning.
  Configurations/Version.xcconfig
Owners: none

Initially allow syscall mach in sandbox v2 https://bugs.webkit.org/show_bug.cgi?id=247402 rdar://101888960
  Source/WebKit/Shared/Sandbox/macOS/common.sb
Owners: none

Versioning.
  Configurations/Version.xcconfig
Owners: none

Cherry-pick 81941f622bb4. rdar://problem/101888960
  Source/WebKit/Shared/Sandbox/macOS/common.sb
Owners: none

Scrolling by pressing space bar has regressed in trunk, is choppy (not 120Hz) https://bugs.webkit.org/show_bug.cgi?id=246878 rdar://101052130
  LayoutTests/css3/scroll-snap/scroll-padding-overflow-paging.html
  LayoutTests/fast/repaint/fixed-move-after-keyboard-scroll.html
  LayoutTests/fast/scrolling/keyboard-scrolling-distance-downArrow.html
  LayoutTests/fast/scrolling/mac/keyboard-scrolling-overflow-scroll.html
  LayoutTests/fast/scrolling/mac/smooth-scroll-recursive-frame-to-overflow.html
  LayoutTests/fast/scrolling/mac/smooth-scroll-recursive-overflow-to-overflow.html
  LayoutTests/fast/scrolling/unfocusing-page-while-keyboard-scrolling.html
  LayoutTests/platform/mac/fast/repaint/fixed-move-after-keyboard-scroll-expected.txt
  Source/WebCore/Sources.txt
  Source/WebCore/page/FrameView.cpp
  Source/WebCore/page/FrameView.h
  Source/WebCore/page/scrolling/AsyncScrollingCoordinator.cpp
  Source/WebCore/page/scrolling/AsyncScrollingCoordinator.h
  Source/WebCore/page/scrolling/ScrollingCoordinator.h
  Source/WebCore/page/scrolling/ScrollingCoordinatorTypes.h
  Source/WebCore/page/scrolling/ScrollingStateNode.h
  Source/WebCore/page/scrolling/ScrollingStateScrollingNode.cpp
  Source/WebCore/page/scrolling/ScrollingStateScrollingNode.h
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNode.cpp
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNode.h
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNodeDelegate.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeScrollingNodeDelegateMac.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeScrollingNodeDelegateMac.mm
  Source/WebCore/platform/KeyboardScrollingAnimator.cpp
  Source/WebCore/platform/KeyboardScrollingAnimator.h
  Source/WebCore/platform/ScrollAnimation.cpp
  Source/WebCore/platform/ScrollAnimation.h
  Source/WebCore/platform/ScrollAnimationKeyboard.cpp
  Source/WebCore/platform/ScrollAnimationKeyboard.h
  Source/WebCore/platform/ScrollAnimator.cpp
  Source/WebCore/platform/ScrollableArea.cpp
  Source/WebCore/platform/ScrollableArea.h
  Source/WebCore/platform/ScrollingEffectsController.cpp
  Source/WebCore/platform/ScrollingEffectsController.h
  Source/WebCore/rendering/RenderLayerScrollableArea.cpp
  Source/WebCore/rendering/RenderLayerScrollableArea.h
  Tools/TestWebKitAPI/Tests/WebKit/SpacebarScrolling.cpp
Owners: @cdumez

Punycode all IPA extensions code points in URLs https://bugs.webkit.org/show_bug.cgi?id=247289 rdar://101429376
  Source/WTF/wtf/URLHelpers.cpp
  Tools/TestWebKitAPI/Tests/WTF/cocoa/URLExtras.mm
Owners: none

Fix internal build after rdar://100429656 https://bugs.webkit.org/show_bug.cgi?id=247408 rdar://101896139
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
Owners: @cdumez

Unreviewed, reverting r256262@main. https://bugs.webkit.org/show_bug.cgi?id=247409
  Tools/Scripts/libraries/webkitcorepy/setup.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/__init__.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/multiprocessing_utils.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/task_pool.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/tests/multiprocessing_utils_unittest.py
Owners: @JonWBedard

Use std::clamp() in PropertyWrapperFontWeight instead of std::min/max https://bugs.webkit.org/show_bug.cgi?id=247404 rdar://101890698
  Source/WebCore/animation/CSSPropertyAnimation.cpp
Owners: @graouts

Merge 256232@main - [GTK] Handle files being disallowed in DragDataGtk after 254380@main https://bugs.webkit.org/show_bug.cgi?id=247359
  Source/WebCore/platform/gtk/DragDataGtk.cpp
Owners: @WebKit/glib-reviewers

Merge 255722@main - [Nicosia] AsyncScrolling: lock/unlock layers for hit testing is not implemented https://bugs.webkit.org/show_bug.cgi?id=246687
  Source/WebCore/page/scrolling/ThreadedScrollingTree.cpp
  Source/WebCore/page/scrolling/ThreadedScrollingTree.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeMac.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeMac.mm
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeNicosia.cpp
Owners: @cdumez, @magomez, @zdobersek

Merge 255959@main - [GTK][WPE] Async Scrolling: Slow scrolling and CSS animations on a static page https://bugs.webkit.org/show_bug.cgi?id=221738
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeScrollingNodeDelegateNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeScrollingNodeDelegateNicosia.h
Owners: @magomez, @zdobersek

Merge 256004@main - [GTK][WPE] AsyncScrolling: site bobbyhadz.com/blog/git-commit-skip-hooks is not scrollable https://bugs.webkit.org/show_bug.cgi?id=247004
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeNicosia.cpp
  Source/WebCore/platform/graphics/nicosia/NicosiaPlatformLayer.h
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedGraphicsLayer.cpp
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedGraphicsLayer.h
Owners: @magomez, @zdobersek

Merge 256220@main - [Nicosia] AsyncScrolling: use accessCommitted instead of accessPending when collecting layers for hit testing https://bugs.webkit.org/show_bug.cgi?id=247182
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeNicosia.cpp
Owners: @magomez, @zdobersek

Merge 254673@main - [GLIB] Bump Safari version in user agent header for Safari 16 https://bugs.webkit.org/show_bug.cgi?id=245373
  Source/WebCore/platform/glib/UserAgentGLib.cpp
Owners: @WebKit/glib-reviewers

Merge 256149@main - [GStreamer][WebRTC] Events forwarding between end-point and its consumers https://bugs.webkit.org/show_bug.cgi?id=247126
  Source/WebCore/platform/mediastream/RealtimeMediaSource.h
  Source/WebCore/platform/mediastream/gstreamer/GStreamerMediaStreamSource.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingAudioSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingAudioSourceGStreamer.h
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingSourceGStreamer.h
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingVideoSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingVideoSourceGStreamer.h
Owners: @philn

Merge 256151@main - [GTK] Unreviewed, build fix for Debian stable after 256149@main
  Source/WebCore/platform/mediastream/RealtimeMediaSource.h
Owners: none

Merge 255627@main - [GStreamer] Fix prolonged buffering during progressive live playback https://bugs.webkit.org/show_bug.cgi?id=246352
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.h
Owners: @philn

Merge 256225@main - [GStreamer][WebRTC] Media rendering improvements https://bugs.webkit.org/show_bug.cgi?id=247319
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.h
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingAudioSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingVideoSourceGStreamer.cpp
Owners: @philn

Remove webrtc::copyPixelBufferInI420Buffer https://bugs.webkit.org/show_bug.cgi?id=247178 rdar://101476647
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.iOS.exp
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.iOSsim.exp
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.mac.exp
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/WebKit/WebKitUtilities.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/WebKit/WebKitUtilities.mm
Owners: none

Use WEBGL prefix for the provoking vertex extension https://bugs.webkit.org/show_bug.cgi?id=247335
  LayoutTests/TestExpectations
  LayoutTests/platform/ios-simulator/webgl/webgl-draft-extensions-flag-default-expected.txt
  LayoutTests/platform/ios-simulator/webgl/webgl-draft-extensions-flag-off-expected.txt
  LayoutTests/platform/ios-simulator/webgl/webgl-draft-extensions-flag-on-expected.txt
  LayoutTests/webgl/2.0.y/conformance2/extensions/webgl-provoking-vertex-expected.txt
  LayoutTests/webgl/2.0.y/conformance2/extensions/webgl-provoking-vertex.html
  LayoutTests/webgl/resources/webgl-draft-extensions-flag.js
  LayoutTests/webgl/resources/webgl_test_files/conformance2/extensions/webgl-provoking-vertex.html
  LayoutTests/webgl/webgl-draft-extensions-flag-default-expected.txt
  LayoutTests/webgl/webgl-draft-extensions-flag-off-expected.txt
  LayoutTests/webgl/webgl-draft-extensions-flag-on-expected.txt
  Source/WebCore/CMakeLists.txt
  Source/WebCore/DerivedSources-input.xcfilelist
  Source/WebCore/DerivedSources-output.xcfilelist
  Source/WebCore/DerivedSources.make
  Source/WebCore/Sources.txt
  Source/WebCore/bindings/js/JSDOMConvertWebGL.cpp
  Source/WebCore/html/canvas/WebGL2RenderingContext.cpp
  Source/WebCore/html/canvas/WebGLExtension.h
  Source/WebCore/html/canvas/WebGLProvokingVertex.cpp
  Source/WebCore/html/canvas/WebGLProvokingVertex.h
  Source/WebCore/html/canvas/WebGLProvokingVertex.idl
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
  Source/WebCore/platform/graphics/GraphicsContextGL.h
Owners: @cdumez, @rniwa

Remove dead code in never enabled ENABLE(CSS_TRAILING_WORD) blocks https://bugs.webkit.org/show_bug.cgi?id=247405 rdar://101891162
  Source/WebCore/css/CSSPrimitiveValueMappings.h
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/parser/CSSParserFastPaths.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/RenderStyleConstants.h
Owners: none

Punycode U+0E01 when in the context of non-Thai characters https://bugs.webkit.org/show_bug.cgi?id=247287 rdar://101434628
  LayoutTests/fast/encoding/idn-security-expected.txt
  LayoutTests/fast/encoding/idn-security.html
  Source/WTF/wtf/URLHelpers.cpp
  Tools/TestWebKitAPI/Tests/WTF/cocoa/URLExtras.mm
Owners: none
