Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

Add VectorTraits for StringView and StringViewWithUnderlyingString https://bugs.webkit.org/show_bug.cgi?id=254469
  Source/WTF/wtf/text/StringView.h
Owners: none

Add fast path to JSStringJoiner::join() when there is only one string in the vector https://bugs.webkit.org/show_bug.cgi?id=254463
  Source/JavaScriptCore/runtime/JSStringJoiner.cpp
  Source/JavaScriptCore/runtime/JSStringJoiner.h
Owners: @WebKit/jsc-reviewers

Convert JavaScriptCore to Modern Objective-C https://bugs.webkit.org/show_bug.cgi?id=251797
  Source/JavaScriptCore/API/APICallbackFunction.h
  Source/JavaScriptCore/API/JSAPIGlobalObject.mm
  Source/JavaScriptCore/API/JSContext.mm
  Source/JavaScriptCore/API/JSContextInternal.h
  Source/JavaScriptCore/API/JSManagedValue.h
  Source/JavaScriptCore/API/JSManagedValue.mm
  Source/JavaScriptCore/API/JSScript.h
  Source/JavaScriptCore/API/JSScript.mm
  Source/JavaScriptCore/API/JSScriptInternal.h
  Source/JavaScriptCore/API/JSScriptSourceProvider.mm
  Source/JavaScriptCore/API/JSValue.mm
  Source/JavaScriptCore/API/JSVirtualMachine.mm
  Source/JavaScriptCore/API/JSWrapperMap.mm
  Source/JavaScriptCore/API/ObjCCallbackFunction.mm
  Source/JavaScriptCore/API/tests/CurrentThisInsideBlockGetterTest.mm
  Source/JavaScriptCore/API/tests/DateTests.mm
  Source/JavaScriptCore/API/tests/Regress141275.mm
  Source/JavaScriptCore/API/tests/Regress141809.mm
  Source/JavaScriptCore/API/tests/testapi.mm
  Source/JavaScriptCore/inspector/ContentSearchUtilities.cpp
  Source/JavaScriptCore/inspector/remote/cocoa/RemoteInspectorCocoa.mm
  Source/JavaScriptCore/inspector/remote/cocoa/RemoteInspectorXPCConnection.mm
  Source/JavaScriptCore/testmem/testmem.mm
  Source/WTF/wtf/cocoa/FileSystemCocoa.mm
  Source/WTF/wtf/cocoa/LanguageCocoa.mm
  Source/WTF/wtf/cocoa/NSURLExtras.mm
  Source/WebCore/bridge/objc/objc_utility.mm
  Source/WebCore/platform/graphics/transforms/TransformationMatrix.cpp
  Source/WebCore/platform/mac/PluginBlocklist.mm
  Source/WebGPU/WebGPU/Adapter.mm
  Source/WebGPU/WebGPU/Device.mm
  Source/WebGPU/WebGPU/HardwareCapabilities.mm
  Source/WebKit/UIProcess/API/Cocoa/APIContentRuleListStoreCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionControllerConfiguration.mm
  Source/WebKit/UIProcess/WebsiteData/Cocoa/WebsiteDataStoreCocoa.mm
  Source/bmalloc/bmalloc/ProcessCheck.mm
Owners: @WebKit/jsc-reviewers, @patrickangle, @cdumez, @b-weinstein, @xeenon, @Constellation

_presentedViewControllerWhileRotating could be nil https://bugs.webkit.org/show_bug.cgi?id=251916
  Source/WebKit/UIProcess/ios/WKActionSheet.mm
Owners: @cdumez

Remove Outdated Optnone Workaround for LLVM https://bugs.webkit.org/show_bug.cgi?id=252315 <rdar://problem/49792205>
  Source/JavaScriptCore/runtime/CachedTypes.cpp
Owners: @WebKit/jsc-reviewers

Add test function to expose if in UI-side compositing mode https://bugs.webkit.org/show_bug.cgi?id=254288 rdar://107078044
  LayoutTests/fast/scrolling/ios/ui-side-compositing-check-expected.txt
  LayoutTests/fast/scrolling/ios/ui-side-compositing-check.html
  Source/WebCore/page/ChromeClient.h
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.h
Owners: @cdumez

Cleanup / optimize InteractionRegion layers updates https://bugs.webkit.org/show_bug.cgi?id=254409 <rdar://105196721>
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewTesting.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeHost.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeInteractionRegionLayers.mm
Owners: @cdumez

Avoid is8Bit checks in JSRopeString for each fiber when the whole rope is 8 bit https://bugs.webkit.org/show_bug.cgi?id=254487
  Source/JavaScriptCore/runtime/JSString.cpp
Owners: @WebKit/jsc-reviewers

Unreviewed non-unified build fixes.
  Source/WebCore/html/BaseDateAndTimeInputType.cpp
  Source/WebCore/html/HTMLInputElement.cpp
Owners: @cdumez, @rniwa

AX: Correctionn for https://bugs.webkit.org/show_bug.cgi?id=254468 https://bugs.webkit.org/show_bug.cgi?id=254486 <rdar://problem/107245642>
  Source/WebCore/accessibility/mac/AccessibilityObjectMac.mm
Owners: none

[WinCairo] Unreviewed test gardening
  LayoutTests/platform/wincairo/TestExpectations
  LayoutTests/platform/wincairo/http/tests/loading/simple-subframe-expected.txt
Owners: none

JSC: Disable JIT for Windows https://bugs.webkit.org/show_bug.cgi?id=254478
  Source/cmake/WebKitFeatures.cmake
Owners: @mcatanzaro

REGRESSION(261559@main) [Win] js/ShadowRealm-iframe-detach.html is randomly timing out https://bugs.webkit.org/show_bug.cgi?id=253868
  LayoutTests/platform/wincairo/TestExpectations
  Source/WebCore/bindings/js/GCController.cpp
Owners: @cdumez

Error on piped ReadableStream leads to Unhandled Promise Rejection https://bugs.webkit.org/show_bug.cgi?id=251463 rdar://problem/105149496
  LayoutTests/imported/w3c/web-platform-tests/streams/piping/abort.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/piping/abort.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/piping/abort.any.sharedworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/piping/abort.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/piping/close-propagation-backward.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/piping/error-propagation-backward.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/piping/error-propagation-backward.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/piping/error-propagation-backward.any.sharedworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/piping/error-propagation-backward.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/piping/error-propagation-forward.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/piping/error-propagation-forward.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/piping/error-propagation-forward.any.sharedworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/piping/error-propagation-forward.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/piping/flow-control.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/piping/flow-control.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/piping/flow-control.any.sharedworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/piping/flow-control.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/piping/multiple-propagation.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/piping/multiple-propagation.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/piping/multiple-propagation.any.sharedworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/piping/multiple-propagation.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/transform-streams/backpressure.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/transform-streams/terminate.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/transform-streams/terminate.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/transform-streams/terminate.any.sharedworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/transform-streams/terminate.any.worker-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/streams/piping/abort.any-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/streams/piping/close-propagation-backward.any-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/streams/piping/close-propagation-forward.any-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/streams/piping/error-propagation-backward.any-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/streams/piping/error-propagation-forward.any-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/streams/piping/flow-control.any-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/streams/piping/general.any-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/streams/piping/multiple-propagation.any-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/streams/piping/pipe-through.any-expected.txt
  LayoutTests/streams/pipeTo-unhandled-promise-expected.txt
  LayoutTests/streams/pipeTo-unhandled-promise.html
  Source/WebCore/Modules/streams/ReadableStreamInternals.js
Owners: none

Update Source/WebKit/UIProcess/API/glib/WebKitWebContext.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebContext.cpp
Owners: @WebKit/glib-reviewers

Update Source/WebKit/UIProcess/API/glib/WebKitWebContext.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebContext.cpp
Owners: @WebKit/glib-reviewers

[GStreamer] Clarify video sample passing semantics between video sink and player https://bugs.webkit.org/show_bug.cgi?id=254404
  Source/WebCore/platform/graphics/gstreamer/GStreamerVideoSinkCommon.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.h
Owners: @philn

[JSC] Bound function name should be resolved https://bugs.webkit.org/show_bug.cgi?id=254499 rdar://107243150
  JSTests/stress/bound-function-name-rope.js
  Source/JavaScriptCore/runtime/JSBoundFunction.cpp
Owners: @WebKit/jsc-reviewers

Mark pipeThrough pipeTo promise as handled as per streams spec https://bugs.webkit.org/show_bug.cgi?id=254400 rdar://problem/107179072
  LayoutTests/imported/w3c/web-platform-tests/streams/piping/pipe-through.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/piping/pipe-through.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/piping/pipe-through.any.sharedworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/piping/pipe-through.any.worker-expected.txt
  Source/WebCore/Modules/streams/ReadableStream.js
Owners: none

GPU Process spends time decoding DestinationColorSpace on Cocoa https://bugs.webkit.org/show_bug.cgi?id=254406 rdar://107183239
  Source/WebCore/platform/graphics/cg/ColorSpaceCG.h
  Source/WebKit/Shared/cf/ArgumentCodersCF.cpp
Owners: none

InteractionRegions grouped together should not overlap https://bugs.webkit.org/show_bug.cgi?id=254435 <rdar://107135607>
  LayoutTests/interaction-region/overlap-same-group-expected.txt
  LayoutTests/interaction-region/overlap-same-group.html
  Source/WebCore/rendering/EventRegion.cpp
  Source/WebCore/rendering/EventRegion.h
Owners: none

[mac][ios][win] CodecDelay webm field isn't being honored https://bugs.webkit.org/show_bug.cgi?id=254222
  LayoutTests/TestExpectations
  LayoutTests/media/media-source/content/test-opus-codecdelay-manifest.json
  LayoutTests/media/media-source/content/test-opus-codecdelay.webm
  LayoutTests/media/media-source/content/test-opus.webm
  LayoutTests/media/media-source/media-webm-opus-codecdelay-expected.txt
  LayoutTests/media/media-source/media-webm-opus-codecdelay.html
  LayoutTests/platform/glib/TestExpectations
Owners: none

[MSE][GStreamer] Missing support for aborts not followed by an initialization segment https://bugs.webkit.org/show_bug.cgi?id=228820
  Source/WebCore/platform/graphics/gstreamer/mse/AppendPipeline.cpp
Owners: @philn

Add missing journald include for WTF https://bugs.webkit.org/show_bug.cgi?id=254495
  Source/WTF/wtf/CMakeLists.txt
Owners: none

[Resize-observer] The `getBoundingBox` of a non-empty SVG element is 0x0 https://bugs.webkit.org/show_bug.cgi?id=252903
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/auto-007-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/resize-observer/svg-with-css-box-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/resize-observer/svg-with-css-box-002-expected.txt
  Source/WebCore/dom/Element.cpp
  Source/WebCore/page/ResizeObservation.cpp
  Source/WebCore/svg/SVGElement.cpp
  Source/WebCore/svg/SVGElement.h
Owners: @rniwa, @cdumez

[WGSL] Add missing Texture entries to the AST dumping https://bugs.webkit.org/show_bug.cgi?id=254421 rdar://107186502
  Source/WebGPU/WGSL/AST/ASTStringDumper.cpp
  Source/WebGPU/WGSL/AST/ASTTypeName.h
Owners: none

[IFC] Move horizontalAlignmentOffset logic under InlineFormattingGeometry https://bugs.webkit.org/show_bug.cgi?id=254471
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingGeometry.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingGeometry.h
  Source/WebCore/layout/formattingContexts/inline/InlineLineBuilder.cpp
Owners: none

Style change unnecessarily computed as Change::NonInherited when nothing changes https://bugs.webkit.org/show_bug.cgi?id=254426 <rdar://problem/107188441>
  LayoutTests/fast/css/mask-box-image-parsing-expected.txt
  Source/WebCore/style/StyleAdjuster.cpp
  Source/WebCore/style/StyleChange.cpp
Owners: none

Update XHR to use new XMLHttpRequestBodyInit https://bugs.webkit.org/show_bug.cgi?id=212731 rdar://64033262
  Source/WebCore/xml/XMLHttpRequest.cpp
  Source/WebCore/xml/XMLHttpRequest.idl
Owners: @cdumez

StyleRuleGroup should use composition instead of inheritance https://bugs.webkit.org/show_bug.cgi?id=254297 rdar://107103847
  Source/WebCore/css/CSSConditionRule.cpp
  Source/WebCore/css/CSSConditionRule.h
  Source/WebCore/css/CSSContainerRule.cpp
  Source/WebCore/css/CSSGroupingRule.cpp
  Source/WebCore/css/CSSGroupingRule.h
  Source/WebCore/css/CSSLayerBlockRule.cpp
  Source/WebCore/css/CSSMediaRule.cpp
  Source/WebCore/css/CSSSupportsRule.cpp
  Source/WebCore/css/StyleRule.cpp
  Source/WebCore/css/StyleRule.h
  Source/WebCore/css/StyleSheetContents.cpp
  Source/WebCore/style/RuleSetBuilder.cpp
  Source/WebCore/style/StyleInvalidator.cpp
Owners: none

CSS Nesting: implement CSSOM (insertRule, deleteRule, cssRules) https://bugs.webkit.org/show_bug.cgi?id=251374 rdar://103844456
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/cssom-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/invalid-inner-rules-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/parsing-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/serialize-group-rules-with-decls.tentative-expected.txt
  Source/WebCore/css/CSSGroupingRule.cpp
  Source/WebCore/css/CSSRule.cpp
  Source/WebCore/css/CSSRule.h
  Source/WebCore/css/CSSSelectorList.cpp
  Source/WebCore/css/CSSSelectorList.h
  Source/WebCore/css/CSSStyleRule.cpp
  Source/WebCore/css/CSSStyleRule.h
  Source/WebCore/css/CSSStyleRule.idl
  Source/WebCore/css/CSSStyleSheet.cpp
  Source/WebCore/css/CSSStyleSheet.h
  Source/WebCore/css/StyleRule.cpp
  Source/WebCore/css/StyleRule.h
  Source/WebCore/css/StyleSheetContents.cpp
  Source/WebCore/css/StyleSheetContents.h
  Source/WebCore/css/parser/CSSParser.cpp
  Source/WebCore/css/parser/CSSParser.h
  Source/WebCore/css/parser/CSSParserImpl.cpp
  Source/WebCore/css/parser/CSSParserImpl.h
  Source/WebCore/css/parser/CSSSelectorParser.h
  Source/WebCore/inspector/InspectorStyleSheet.cpp
  Source/WebCore/style/RuleSetBuilder.cpp
Owners: @patrickangle

Re-import css/css-counter-styles/cssom WPT tests https://bugs.webkit.org/show_bug.cgi?id=254465 rdar://107223884
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/cssom/cssom-additive-symbols-setter-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/cssom/cssom-fallback-setter-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/cssom/cssom-name-setter-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/cssom/cssom-negative-setter-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/cssom/cssom-pad-setter-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/cssom/cssom-prefix-suffix-setter-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/cssom/cssom-range-setter-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/cssom/cssom-symbols-setter-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/cssom/cssom-system-setter-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/cssom/w3c-import.log
Owners: none

[ews-build.webkit.org] Make GitHubMixin.get_pr_json asynchronous https://bugs.webkit.org/show_bug.cgi?id=254446 rdar://107207345
  Tools/CISupport/ews-build/steps.py
Owners: @aj062, @JonWBedard, @ryanhaddad

Revert "Switching focus from a UITextField to an editable WKWebView causes the keyboard to dance"
  LayoutTests/fast/forms/ios/keyboard-stability-when-tapping-editable-element-expected.txt
  LayoutTests/fast/forms/ios/keyboard-stability-when-tapping-editable-element.html
  LayoutTests/resources/ui-helper.js
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/PageClient.h
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/UIProcess/ios/InputViewUpdateDeferrer.h
  Source/WebKit/UIProcess/ios/InputViewUpdateDeferrer.mm
  Source/WebKit/UIProcess/ios/PageClientImplIOS.h
  Source/WebKit/UIProcess/ios/PageClientImplIOS.mm
  Source/WebKit/UIProcess/ios/WKContentView.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/ios/WebPageProxyIOS.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Tools/TestRunnerShared/UIScriptContext/Bindings/UIScriptController.idl
  Tools/TestRunnerShared/UIScriptContext/UIScriptController.h
  Tools/WebKitTestRunner/cocoa/TestRunnerWKWebView.h
  Tools/WebKitTestRunner/cocoa/TestRunnerWKWebView.mm
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.h
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.mm
Owners: @cdumez, @JonWBedard

Revert "Revert "Switching focus from a UITextField to an editable WKWebView causes the keyboard to dance""
  LayoutTests/fast/forms/ios/keyboard-stability-when-tapping-editable-element-expected.txt
  LayoutTests/fast/forms/ios/keyboard-stability-when-tapping-editable-element.html
  LayoutTests/resources/ui-helper.js
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/PageClient.h
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/UIProcess/ios/InputViewUpdateDeferrer.h
  Source/WebKit/UIProcess/ios/InputViewUpdateDeferrer.mm
  Source/WebKit/UIProcess/ios/PageClientImplIOS.h
  Source/WebKit/UIProcess/ios/PageClientImplIOS.mm
  Source/WebKit/UIProcess/ios/WKContentView.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/ios/WebPageProxyIOS.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Tools/TestRunnerShared/UIScriptContext/Bindings/UIScriptController.idl
  Tools/TestRunnerShared/UIScriptContext/UIScriptController.h
  Tools/WebKitTestRunner/cocoa/TestRunnerWKWebView.h
  Tools/WebKitTestRunner/cocoa/TestRunnerWKWebView.mm
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.h
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.mm
Owners: @cdumez, @JonWBedard

Revert "Cherry-pick 5df7702c29e6. rdar://problem/103712135"
  LayoutTests/fast/forms/ios/keyboard-stability-when-tapping-editable-element-expected.txt
  LayoutTests/fast/forms/ios/keyboard-stability-when-tapping-editable-element.html
  LayoutTests/resources/ui-helper.js
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/PageClient.h
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/UIProcess/ios/InputViewUpdateDeferrer.h
  Source/WebKit/UIProcess/ios/InputViewUpdateDeferrer.mm
  Source/WebKit/UIProcess/ios/PageClientImplIOS.h
  Source/WebKit/UIProcess/ios/PageClientImplIOS.mm
  Source/WebKit/UIProcess/ios/WKContentView.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/ios/WebPageProxyIOS.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Tools/TestRunnerShared/UIScriptContext/Bindings/UIScriptController.idl
  Tools/TestRunnerShared/UIScriptContext/UIScriptController.h
  Tools/WebKitTestRunner/cocoa/TestRunnerWKWebView.h
  Tools/WebKitTestRunner/cocoa/TestRunnerWKWebView.mm
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.h
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.mm
Owners: @cdumez, @JonWBedard

Cherry-pick 5df7702c29e6. rdar://problem/103712135
  LayoutTests/fast/forms/ios/keyboard-stability-when-tapping-editable-element-expected.txt
  LayoutTests/fast/forms/ios/keyboard-stability-when-tapping-editable-element.html
  LayoutTests/resources/ui-helper.js
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/PageClient.h
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/UIProcess/ios/InputViewUpdateDeferrer.h
  Source/WebKit/UIProcess/ios/InputViewUpdateDeferrer.mm
  Source/WebKit/UIProcess/ios/PageClientImplIOS.h
  Source/WebKit/UIProcess/ios/PageClientImplIOS.mm
  Source/WebKit/UIProcess/ios/WKContentView.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/ios/WebPageProxyIOS.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Tools/TestRunnerShared/UIScriptContext/Bindings/UIScriptController.idl
  Tools/TestRunnerShared/UIScriptContext/UIScriptController.h
  Tools/WebKitTestRunner/cocoa/TestRunnerWKWebView.h
  Tools/WebKitTestRunner/cocoa/TestRunnerWKWebView.mm
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.h
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.mm
Owners: @cdumez, @JonWBedard

REGRESSION(259811@main-259818@main): [ iOS Debug ] 4X TestWebKitAPI.AppPrivacyReport (API-Tests) are constant timeouts https://bugs.webkit.org/show_bug.cgi?id=254289 rdar://107077600
  Tools/TestWebKitAPI/Tests/WebKitCocoa/AppPrivacyReport.mm
Owners: none

New test: [macOS WK1] imported/w3c/web-platform-tests/preload/onerror-event.html is a flaky failure https://bugs.webkit.org/show_bug.cgi?id=254528 rdar://107269834
  LayoutTests/platform/mac-wk1/TestExpectations
Owners: none

[IFC] Incorrect out-of-flow box placement when text-align is not start (display: inline) https://bugs.webkit.org/show_bug.cgi?id=254477
  LayoutTests/fast/inline/out-of-flow-inline-with-text-align-on-last-line-expected.html
  LayoutTests/fast/inline/out-of-flow-inline-with-text-align-on-last-line.html
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingContext.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingContext.h
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingGeometry.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingGeometry.h
Owners: none
