Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

EWS builds on tester queues do not display Identifier in buildbot build https://bugs.webkit.org/show_bug.cgi?id=246514
  Tools/CISupport/ews-build/steps.py
Owners: @aj062, @JonWBedard, @ryanhaddad

Merge 255218@main - [GLib] D-Bus proxy quietly fails if host session bus address is an abstract socket https://bugs.webkit.org/show_bug.cgi?id=245843
  Source/WebKit/UIProcess/Launcher/glib/BubblewrapLauncher.cpp
  Source/WebKit/UIProcess/Launcher/glib/XDGDBusProxy.cpp
  Source/WebKit/UIProcess/Launcher/glib/XDGDBusProxy.h
Owners: @WebKit/glib-reviewers

Merge 255530@main - [GTK] D-Bus proxy quietly fails if host bus address is not mounted in xdg-dbus-proxy's sandbox https://bugs.webkit.org/show_bug.cgi?id=246159
  Source/WTF/wtf/glib/Sandbox.cpp
  Source/WTF/wtf/glib/Sandbox.h
  Source/WebCore/platform/graphics/PlatformDisplay.h
  Source/WebKit/UIProcess/Launcher/glib/BubblewrapLauncher.cpp
  Source/WebKit/UIProcess/Launcher/glib/XDGDBusProxy.cpp
  Source/WebKit/UIProcess/Launcher/glib/XDGDBusProxy.h
  Source/WebKit/UIProcess/glib/WebProcessPoolGLib.cpp
Owners: @WebKit/glib-reviewers

Resync WPT tests for contain-intrinsic-size https://bugs.webkit.org/show_bug.cgi?id=246462
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/auto-009-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/auto-009.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/auto-010-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/auto-010.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/contain-intrinsic-size-009-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/contain-intrinsic-size-009-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/contain-intrinsic-size-009-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/contain-intrinsic-size-009.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/w3c-import.log
Owners: none

Revert [255512@main] Support loading Web Extension URLs and load the background page or service worker. https://bugs.webkit.org/show_bug.cgi?id=246409 rdar://101174536
  Source/WebCore/en.lproj/Localizable.strings
  Source/WebKit/Shared/WebPageCreationParameters.cpp
  Source/WebKit/Shared/WebPageCreationParameters.h
  Source/WebKit/UIProcess/API/APIPageConfiguration.cpp
  Source/WebKit/UIProcess/API/APIPageConfiguration.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewConfiguration.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewConfigurationPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionContext.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionContext.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionController.mm
  Source/WebKit/UIProcess/Cocoa/WebURLSchemeHandlerCocoa.h
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionControllerCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionURLSchemeHandlerCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtension.h
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/UIProcess/Extensions/WebExtensionController.h
  Source/WebKit/UIProcess/Extensions/WebExtensionURLSchemeHandler.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebURLSchemeHandler.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionController.mm
Owners: @cdumez

Non-unified build with LLD fails due to undefined AuxiliaryBarrier<JSC::Butterfly*> constructor https://bugs.webkit.org/show_bug.cgi?id=246515
  Source/JavaScriptCore/wasm/js/WebAssemblyArrayPrototype.cpp
Owners: @WebKit/jsc-reviewers

Follow-up fix to 252432.566@safari-7614-branch https://bugs.webkit.org/show_bug.cgi?id=244144 rdar://99205736
  Source/WebCore/PAL/pal/spi/cocoa/VisionKitCoreSPI.h
Owners: none

Add a mechanism to remember the last IP address of the response for the main resource request https://bugs.webkit.org/show_bug.cgi?id=246128 rdar://100831206
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/spi/cf/CFNetworkSPI.h
  Source/WebCore/platform/network/DNS.cpp
  Source/WebCore/platform/network/DNS.h
  Source/WebKit/NetworkProcess/NetworkDataTask.cpp
  Source/WebKit/NetworkProcess/NetworkDataTask.h
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/NetworkSession.h
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.h
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
Owners: @cdumez

Adjust the corner radius of fullscreen windows https://bugs.webkit.org/show_bug.cgi?id=246482 rdar://97042030
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenViewController.mm
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
Owners: @cdumez

[Gardening]: [ BigSur+ iOS16 ] Two IndexedDB wpt tests are failing since import https://bugs.webkit.org/show_bug.cgi?id=243681
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Owners: none

Enable lh/rlh unit support https://bugs.webkit.org/show_bug.cgi?id=246522 rdar://101172926
  Source/WTF/Scripts/Preferences/WebPreferencesInternal.yaml
Owners: none

Sanitize origin/size of rect so that we don't trip over assertions in AppKit
  Source/WebKit/UIProcess/mac/WebDataListSuggestionsDropdownMac.mm
Owners: @cdumez

[ iOS16 ] fast/canvas/canvas-large-dimensions-drawing.html is a constant failure https://bugs.webkit.org/show_bug.cgi?id=245597 rdar://100335937
  LayoutTests/fast/canvas/canvas-large-dimensions-drawing-expected.html
  LayoutTests/fast/canvas/canvas-large-dimensions-drawing.html
  LayoutTests/platform/ios-wk2/TestExpectations
Owners: none

[Gardening]: RE-REBASELINE(255471@main): [ iOS ] fast/lists/inlineBoxWrapperNullCheck.html is a constant failure https://bugs.webkit.org/show_bug.cgi?id=246469
  LayoutTests/platform/ios/fast/lists/inlineBoxWrapperNullCheck-expected.txt
Owners: none

WebXR should respond to changes in frame size https://bugs.webkit.org/show_bug.cgi?id=246496 <rdar://problem/101151986>
  Source/WebCore/Modules/webxr/WebXROpaqueFramebuffer.cpp
Owners: none

[ macOS Debug EWS ] compositing/backing/backing-store-attachment-animating-outside-viewport.html is a flaky failure https://bugs.webkit.org/show_bug.cgi?id=246467
  LayoutTests/platform/mac/TestExpectations
Owners: none

Add name to contributors
  metadata/contributors.json
Owners: @JonWBedard

Implement lastLineBaseline for tables. https://bugs.webkit.org/show_bug.cgi?id=244858 rdar://99621230
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-table-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-table-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-table-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-table-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-table-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-table-003-expected.txt
  Source/WebCore/rendering/RenderTable.cpp
  Source/WebCore/rendering/RenderTable.h
  Source/WebCore/rendering/RenderTableSection.cpp
  Source/WebCore/rendering/RenderTableSection.h
Owners: none

Hook up temporary timer-based displayDidRefresh in RemoteLayerTreeDrawingAreaProxyMac https://bugs.webkit.org/show_bug.cgi?id=246531 <rdar://problem/101182095>
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.mm
Owners: @cdumez

[libpas] libpas is unconditionally built with -Werror https://bugs.webkit.org/show_bug.cgi?id=246520
  Source/bmalloc/libpas/CMakeLists.txt
Owners: @Constellation

[webkitscmpy] Handle unexpected PR data https://bugs.webkit.org/show_bug.cgi?id=246035 <rdar://100778857>
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/remote/git_hub.py
Owners: @facetothefate, @JonWBedard

Link GitHub accounts on /team/ https://bugs.webkit.org/show_bug.cgi?id=246455
  Websites/webkit.org/wp-content/themes/webkit/team.php
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Update some Element::requestFullscreen() preflight checks https://bugs.webkit.org/show_bug.cgi?id=246293
  LayoutTests/fullscreen/full-screen-iframe-with-max-width-height.html
  LayoutTests/imported/w3c/web-platform-tests/fullscreen/api/element-request-fullscreen-dialog-expected.txt
  Source/WebCore/dom/FullscreenManager.cpp
Owners: @rniwa, @cdumez

[JSC] Integrate constant folding for StringSlice https://bugs.webkit.org/show_bug.cgi?id=246433 rdar://problem/101107093
  JSTests/microbenchmarks/string-slice-constants-binary.js
  JSTests/microbenchmarks/string-slice-constants-identity.js
  JSTests/microbenchmarks/string-slice-constants.js
  JSTests/microbenchmarks/string-slice-empty-constant-folding.js
  JSTests/microbenchmarks/string-slice-length-constant.js
  JSTests/microbenchmarks/string-slice2.js
  JSTests/microbenchmarks/string-starts-with-mod-prototype-slice.js
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/dfg/DFGOperations.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/dfg/DFGStrengthReductionPhase.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/runtime/StringPrototype.cpp
  Source/JavaScriptCore/runtime/StringPrototypeInlines.h
Owners: @WebKit/jsc-reviewers

[JSC] Return JSProxy from createGlobalObject in JSC shell https://bugs.webkit.org/show_bug.cgi?id=244546 rdar://99338799
  JSTests/stress/do-not-use-global-object-from-create-global-object.js
  Source/JavaScriptCore/jsc.cpp
  Source/JavaScriptCore/tools/JSDollarVM.cpp
Owners: @WebKit/jsc-reviewers

ScrollingThread::dispatchFunctionsFromScrollingThread() is unused and should be removed https://bugs.webkit.org/show_bug.cgi?id=246513
  Source/WebCore/page/scrolling/ScrollingThread.h
Owners: @cdumez

[iOS] Add screen orientation locking / unlocking support outside layout tests https://bugs.webkit.org/show_bug.cgi?id=246435
  Source/WebKit/UIProcess/WebFullScreenManagerProxy.cpp
  Source/WebKit/UIProcess/WebFullScreenManagerProxy.h
  Source/WebKit/UIProcess/WebScreenOrientationManagerProxy.cpp
  Source/WebKit/UIProcess/ios/PageClientImplIOS.h
  Source/WebKit/UIProcess/ios/PageClientImplIOS.mm
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenViewController.h
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenViewController.mm
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.h
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
Owners: @cdumez

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

[LFC][IFC] Use the line's margin box rect when probing for intrusive floats https://bugs.webkit.org/show_bug.cgi?id=246527
  LayoutTests/fast/inline/negative-text-indext-with-float-expected.html
  LayoutTests/fast/inline/negative-text-indext-with-float.html
  Source/WebCore/layout/formattingContexts/inline/InlineLineBuilder.cpp
Owners: none

Merge 255548@main - [libpas] libpas is unconditionally built with -Werror https://bugs.webkit.org/show_bug.cgi?id=246520
  Source/bmalloc/libpas/CMakeLists.txt
Owners: @Constellation

Remove Source/ThirdParty/libwebrtc/Source/third_party/yasm/config/. rdar://101187943
  Source/ThirdParty/libwebrtc/Source/third_party/yasm/config/compile
  Source/ThirdParty/libwebrtc/Source/third_party/yasm/config/config.guess
  Source/ThirdParty/libwebrtc/Source/third_party/yasm/config/config.rpath
  Source/ThirdParty/libwebrtc/Source/third_party/yasm/config/config.sub
  Source/ThirdParty/libwebrtc/Source/third_party/yasm/config/depcomp
  Source/ThirdParty/libwebrtc/Source/third_party/yasm/config/install-sh
  Source/ThirdParty/libwebrtc/Source/third_party/yasm/config/missing
  Source/ThirdParty/libwebrtc/Source/third_party/yasm/config/mkinstalldirs
  Source/ThirdParty/libwebrtc/Source/third_party/yasm/config/test-driver
Owners: none

Test gardening for Windows https://bugs.webkit.org/show_bug.cgi?id=246540 rdar://101187885
  LayoutTests/platform/win/TestExpectations
  LayoutTests/platform/win/accessibility/loading-iframe-updates-axtree-expected.txt
  LayoutTests/platform/win/editing/execCommand/insert-list-nested-with-orphaned-live-range-expected.txt
  LayoutTests/platform/win/fast/dom/Window/window-appendages-cleared-expected.txt
  LayoutTests/platform/win/fast/dom/dom-constructors-expected.txt
  LayoutTests/platform/win/fast/dom/null-page-show-modal-dialog-crash-expected.txt
  LayoutTests/platform/win/fast/dom/wrapper-identity-expected.txt
  LayoutTests/platform/win/performance-api/resource-timing-apis-expected.txt
  LayoutTests/platform/win/svg/custom/use-invalid-pattern-expected.txt
  LayoutTests/platform/win/svg/custom/use-invalid-style-expected.txt
Owners: none

Versioning.
  Configurations/Version.xcconfig
Owners: none

WKNavigationAction should expose _WKHitTestResult https://bugs.webkit.org/show_bug.cgi?id=246539 <rdar://100526247>
  Source/WebKit/Shared/NavigationActionData.cpp
  Source/WebKit/Shared/NavigationActionData.h
  Source/WebKit/UIProcess/API/APINavigationAction.h
  Source/WebKit/UIProcess/API/Cocoa/WKNavigationAction.mm
  Source/WebKit/UIProcess/API/Cocoa/WKNavigationActionPrivate.h
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/DecidePolicyForNavigationAction.mm
Owners: @cdumez

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

[JSC] Add uDFG validation phase https://bugs.webkit.org/show_bug.cgi?id=246499 rdar://101154136
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/Sources.txt
  Source/JavaScriptCore/dfg/DFGPlan.cpp
  Source/JavaScriptCore/dfg/DFGValidateUnlinked.cpp
  Source/JavaScriptCore/dfg/DFGValidateUnlinked.h
  Source/JavaScriptCore/runtime/OptionsList.h
Owners: @WebKit/jsc-reviewers

Add setting to disable the fullscreen requirement to lock screen orientation https://bugs.webkit.org/show_bug.cgi?id=246528
  Source/WTF/Scripts/Preferences/WebPreferencesInternal.yaml
  Source/WebCore/page/ScreenOrientation.cpp
  Source/WebKit/UIProcess/API/Cocoa/WKPreferences.mm
  Source/WebKit/UIProcess/API/Cocoa/WKPreferencesPrivate.h
Owners: @cdumez

Show file names next to file inputs on iOS https://bugs.webkit.org/show_bug.cgi?id=245996 rdar://100741418
  Source/WebKit/UIProcess/ios/forms/WKFileUploadPanel.mm
Owners: @cdumez

[Win] fast/events/mouse-cursor-multiframecur.html is consistently failing https://bugs.webkit.org/show_bug.cgi?id=246544 rdar://101188656
  LayoutTests/platform/win/TestExpectations
Owners: none

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
