Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

[UI-side compositing] Flash of flipped content when pinching into tab overview in Safari https://bugs.webkit.org/show_bug.cgi?id=255042 rdar://107499419
  Source/WebKit/UIProcess/API/Cocoa/_WKThumbnailView.mm
  Tools/TestWebKitAPI/SourcesCocoa.txt
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKit/WKThumbnailView.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/GPUProcess.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ImageAnalysisTests.mm
  Tools/TestWebKitAPI/cocoa/CGImagePixelReader.cpp
  Tools/TestWebKitAPI/cocoa/CGImagePixelReader.h
  Tools/TestWebKitAPI/cocoa/EnableUISideCompositingScope.h
  Tools/TestWebKitAPI/cocoa/EnableUISideCompositingScope.mm
Owners: @cdumez

Adjust fullscreen transition logic https://bugs.webkit.org/show_bug.cgi?id=255046 rdar://105242390
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
Owners: @cdumez

[JSC] strcat-bigint-oom.js should only run on WASM platforms https://bugs.webkit.org/show_bug.cgi?id=255074
  JSTests/stress/strcat-bigint-oom.js
Owners: @WebKit/jsc-reviewers

REGRESSION (Safari 16.4): "box-decoration-break: clone" with "padding-right" wraps inline content unexpectedly https://bugs.webkit.org/show_bug.cgi?id=255065 <rdar://problem/107684833>
  LayoutTests/fast/inline/box-decoration-clone-with-padding-end-expected.html
  LayoutTests/fast/inline/box-decoration-clone-with-padding-end-line-wrap-expected.html
  LayoutTests/fast/inline/box-decoration-clone-with-padding-end-line-wrap.html
  Source/WebCore/layout/formattingContexts/inline/InlineLineBuilder.cpp
Owners: none

[Lockdown Mode] Disable Web Codecs API https://bugs.webkit.org/show_bug.cgi?id=255054 <rdar://107652463>
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ProcessSwapOnNavigation.mm
Owners: @cdumez

No videos play if opened in full screen on first play https://bugs.webkit.org/show_bug.cgi?id=255048 rdar://107540521
  Source/WebKit/WebProcess/cocoa/VideoFullscreenManager.h
  Source/WebKit/WebProcess/cocoa/VideoFullscreenManager.mm
Owners: @cdumez

Small interaction regions need to be guarded with occlusion regions. https://bugs.webkit.org/show_bug.cgi?id=254785 rdar://105092716
  LayoutTests/interaction-region/input-type-file-region-expected.txt
  LayoutTests/interaction-region/tiny-regions-expected.txt
  LayoutTests/interaction-region/tiny-regions.html
  Source/WebCore/page/DebugPageOverlays.cpp
  Source/WebCore/rendering/EventRegion.cpp
  Source/WebCore/rendering/RenderLayerBacking.cpp
Owners: @cdumez

AX: AccessibilityRenderObject::addRemoteSVGChildren() should protect the created SVG object with a RefPtr https://bugs.webkit.org/show_bug.cgi?id=255047 rdar://problem/107674710
  Source/WebCore/accessibility/AccessibilityRenderObject.cpp
Owners: none

CodeBlock::baselineAlternative() lookup only needs an if statement. https://bugs.webkit.org/show_bug.cgi?id=255030 <rdar://problem/107657983>
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
Owners: @WebKit/jsc-reviewers

Use quaternary-fill UIColor in iOS attachment https://bugs.webkit.org/show_bug.cgi?id=255055 rdar://problem/107679227
  LayoutTests/platform/ios-wk2/fast/attachment/cocoa/wide-attachment-rendering-expected.txt
  Source/WebCore/PAL/pal/spi/ios/UIKitSPI.h
  Source/WebCore/css/CSSValueKeywords.in
  Source/WebCore/css/parser/CSSParserIdioms.cpp
  Source/WebCore/html/shadow/attachmentElementShadow.css
  Source/WebCore/rendering/RenderThemeIOS.mm
Owners: @cdumez, @rniwa

Unreviewed build fixes after 2a5102da30b5
  Source/WebCore/platform/graphics/cairo/CairoUtilities.cpp
  Source/WebKit/UIProcess/WebPasteboardProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebPlatformStrategies.cpp
Owners: @magomez, @zdobersek, @cdumez

[Xcode] Fix yasm build due to apparent code signing race condition https://bugs.webkit.org/show_bug.cgi?id=255079
  Source/ThirdParty/libwebrtc/Configurations/yasm.xcconfig
Owners: none

Cherry-pick 261076@main (2c5baee03fa2). https://bugs.webkit.org/show_bug.cgi?id=253067
  Source/WebCore/style/AttributeChangeInvalidation.cpp
Owners: none

Cherry-pick 261883@main (96c03ed0c66b). https://bugs.webkit.org/show_bug.cgi?id=253956
  Source/WebInspectorUI/UserInterface/Models/DOMNodeStyles.js
  Source/WebInspectorUI/UserInterface/Views/SpreadsheetRulesStyleDetailsPanel.js
Owners: @dcrousso, @patrickangle

Ensure Win JSC can run complex.yaml tests https://bugs.webkit.org/show_bug.cgi?id=255078
  JSTests/complex.yaml
  Source/JavaScriptCore/jsc.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 261017@main (0c6de669a59b). https://bugs.webkit.org/show_bug.cgi?id=251087
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/history/the-location-interface/location-protocol-setter-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/history/the-location-interface/location-protocol-setter-non-broken.html
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/history/the-location-interface/location-protocol-setter-sameish-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/history/the-location-interface/location-protocol-setter-sameish.html
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/history/the-location-interface/location-protocol-setter.html
  LayoutTests/imported/w3c/web-platform-tests/url/url-setters-stripping.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/url/url-setters-stripping.any.worker-expected.txt
  Source/WTF/wtf/URLParser.cpp
Owners: none

Cherry-pick 261817@main (52c77eeabac7). https://bugs.webkit.org/show_bug.cgi?id=254045
  Source/WebCore/Modules/speech/SpeechSynthesisUtterance.h
Owners: none

Cherry-pick 261924@main (38e9c1ce273d). https://bugs.webkit.org/show_bug.cgi?id=254065
  LayoutTests/http/wpt/html/cross-origin-embedder-policy/cached-iframe-require-corp.https-expected.txt
  LayoutTests/http/wpt/html/cross-origin-embedder-policy/cached-iframe-require-corp.https.html
  LayoutTests/http/wpt/html/cross-origin-embedder-policy/cached-iframe-require-corp.https.html.headers
  LayoutTests/http/wpt/html/cross-origin-embedder-policy/resources/require-corp-cacheable-iframe.html
  LayoutTests/http/wpt/html/cross-origin-embedder-policy/resources/require-corp-cacheable-iframe.html.headers
  Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp
Owners: @cdumez

Cherry-pick 261006@main (e7b74be2715f). https://bugs.webkit.org/show_bug.cgi?id=253142
  JSTests/stress/tdz-check-catch-read.js
  Source/JavaScriptCore/bytecompiler/NodesCodegen.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 261827@main (7acdd2650a9b). https://bugs.webkit.org/show_bug.cgi?id=254062
  LayoutTests/css3/filters/effect-blur-hw.html
  LayoutTests/css3/filters/effect-blur.html
  LayoutTests/css3/filters/effect-combined.html
  LayoutTests/css3/filters/svg-morphology-clipped-expected.html
  LayoutTests/css3/filters/svg-morphology-clipped.html
  LayoutTests/fast/filter-image/filter-image-blur-expected.html
  LayoutTests/fast/filter-image/filter-image-blur.html
  LayoutTests/fast/filter-image/resources/svg-blur.svg
  LayoutTests/fast/filter-image/resources/svg-noblur.svg
  LayoutTests/fast/hidpi/filters-drop-shadow-expected.html
  LayoutTests/fast/hidpi/filters-drop-shadow.html
  LayoutTests/imported/w3c/web-platform-tests/css/filter-effects/filter-region-transformed-child-001-expected.html
  Source/WebCore/platform/graphics/filters/Filter.cpp
  Source/WebCore/platform/graphics/filters/Filter.h
  Source/WebCore/platform/graphics/filters/FilterEffect.cpp
  Source/WebCore/rendering/CSSFilter.cpp
  Source/WebCore/rendering/CSSFilter.h
  Source/WebCore/rendering/RenderLayerFilters.cpp
  Source/WebCore/rendering/style/StyleFilterImage.cpp
  Source/WebCore/rendering/svg/RenderSVGResourceFilter.cpp
  Source/WebCore/rendering/svg/SVGRenderTreeAsText.cpp
  Source/WebCore/svg/SVGFEMorphologyElement.cpp
  Source/WebCore/svg/SVGFEMorphologyElement.h
  Source/WebCore/svg/graphics/filters/SVGFilter.cpp
  Source/WebCore/svg/graphics/filters/SVGFilter.h
  Source/WebCore/svg/graphics/filters/SVGFilterGraph.h
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
Owners: none

Cherry-pick 261017@main (0c6de669a59b). https://bugs.webkit.org/show_bug.cgi?id=251087
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/history/the-location-interface/location-protocol-setter-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/history/the-location-interface/location-protocol-setter-non-broken.html
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/history/the-location-interface/location-protocol-setter-sameish-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/history/the-location-interface/location-protocol-setter-sameish.html
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/history/the-location-interface/location-protocol-setter.html
  LayoutTests/imported/w3c/web-platform-tests/url/url-setters-stripping.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/url/url-setters-stripping.any.worker-expected.txt
  Source/WTF/wtf/URLParser.cpp
Owners: none

Cherry-pick 261883@main (96c03ed0c66b). https://bugs.webkit.org/show_bug.cgi?id=253956
  Source/WebInspectorUI/UserInterface/Models/DOMNodeStyles.js
  Source/WebInspectorUI/UserInterface/Views/SpreadsheetRulesStyleDetailsPanel.js
Owners: @dcrousso, @patrickangle

AcceleratedSurfaceDMABuf: Use WeakPtrFactoryInitialization::Eager https://bugs.webkit.org/show_bug.cgi?id=255085
  Source/WebKit/WebProcess/WebPage/gtk/AcceleratedSurfaceDMABuf.h
Owners: @WebKit/glib-reviewers

Non-unified build fixes, 6th April 2023 edition https://bugs.webkit.org/show_bug.cgi?id=255083
  Source/WebCore/Modules/speech/SpeechSynthesisErrorEventInit.h
  Source/WebCore/accessibility/mac/AccessibilityObjectMac.mm
  Source/WebCore/dom/DeviceMotionEvent.h
  Source/WebKit/Shared/WebEvent.h
  Source/WebKit/UIProcess/API/APIAttachment.cpp
  Source/WebKit/UIProcess/API/APIAttachment.h
  Source/WebKit/UIProcess/HighPerformanceGraphicsUsageSampler.cpp
  Source/WebKit/UIProcess/Inspector/Cocoa/InspectorExtensionDelegate.h
  Source/WebKit/UIProcess/Inspector/mac/WKInspectorViewController.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeHost.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingTree.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeEventDispatcher.cpp
  Source/WebKit/UIProcess/SpeechRecognitionRemoteRealtimeMediaSource.h
  Source/WebKit/UIProcess/SpeechRecognitionRemoteRealtimeMediaSourceManager.cpp
  Source/WebKit/UIProcess/WebAuthentication/Mock/MockLocalConnection.h
  Source/WebKit/UIProcess/WebContextMenuProxy.cpp
  Source/WebKit/UIProcess/WebScreenOrientationManagerProxy.cpp
  Source/WebKit/UIProcess/mac/DisplayCaptureSessionManager.mm
  Source/WebKit/UIProcess/mac/WKFullScreenWindowController.mm
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
Owners: @rniwa, @cdumez

AX: Fix for crash in AXIsolatedObject::textMarkerRange() https://bugs.webkit.org/show_bug.cgi?id=255051 <rdar://problem/107677029>
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.h
  Source/WebCore/accessibility/isolatedtree/mac/AXIsolatedObjectMac.mm
Owners: none

Trimmed inline-end margins for flex items in horizontal writing-mode should be reflected in computed style. https://bugs.webkit.org/show_bug.cgi?id=253715 rdar://106559532
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-inline-end-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-inline-end.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-inline-end-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-inline-end.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-inline-end-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-inline-end.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-inline-end-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-inline-end.html
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderFlexibleBox.cpp
Owners: none

Fix build with GCC 13 -Werror https://bugs.webkit.org/show_bug.cgi?id=254758
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
  Source/JavaScriptCore/heap/AbstractSlotVisitorInlines.h
  Source/WebCore/animation/DocumentTimeline.cpp
  Source/WebCore/platform/animation/TimingFunction.h
  Source/WebCore/platform/graphics/AudioTrackPrivate.h
  Source/WebCore/platform/graphics/InbandTextTrackPrivate.h
  Source/WebCore/platform/graphics/TrackPrivateBase.h
  Source/WebCore/platform/graphics/VideoTrackPrivate.h
  Source/WebCore/style/ElementRuleCollector.cpp
  Source/WebCore/svg/SVGPathSeg.h
  Source/bmalloc/libpas/src/libpas/pas_fast_megapage_table.c
  Tools/TestWebKitAPI/Tests/WTF/BoxPtr.cpp
  Tools/TestWebKitAPI/Tests/WTF/CompactRefPtr.cpp
  Tools/TestWebKitAPI/Tests/WTF/NakedPtr.cpp
  Tools/TestWebKitAPI/Tests/WTF/PackedRefPtr.cpp
  Tools/TestWebKitAPI/Tests/WTF/RefPtr.cpp
Owners: @WebKit/jsc-reviewers, @graouts, @Constellation

[Cocoa] Enable SampleBufferContentKeySessionSupport by default https://bugs.webkit.org/show_bug.cgi?id=255067 rdar://101343393
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebKit/Shared/Cocoa/WebPreferencesDefaultValuesCocoa.mm
  Source/WebKit/Shared/WebPreferencesDefaultValues.h
Owners: none

REGRESSION (iOS 16.4): Our page crashes on page load due to service workers https://bugs.webkit.org/show_bug.cgi?id=254938 rdar://problem/107602025
  LayoutTests/http/wpt/service-workers/controlled-module-dedicatedworker.https-expected.txt
  LayoutTests/http/wpt/service-workers/controlled-module-dedicatedworker.https.html
  LayoutTests/http/wpt/service-workers/module-dedicatedworker-worker.js
  LayoutTests/http/wpt/service-workers/resources/controlled-module-worker.js
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerConnection.cpp
Owners: @cdumez

REGRESSION(262647@main): Broken build on SDKs < Ventura https://bugs.webkit.org/show_bug.cgi?id=255091 rdar://107709977
  Source/WebCore/platform/graphics/avfoundation/objc/CDMSessionAVContentKeySession.mm
Owners: none

Cherry-pick 262618@main (700cb2cd6435). rdar://107271252
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/setup_unittest.py
Owners: @facetothefate, @JonWBedard

Cherry-pick 262635@main (34c241927fad). rdar://107673301
  Tools/Scripts/hooks/pre-push
Owners: @JonWBedard

Cherry-pick 262639@main (40e8ecb625c1). rdar://107676470
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/scm_base.py
Owners: @facetothefate, @JonWBedard

Cherry-pick 4b5b02b50968. rdar://problem/107713636
  Source/ThirdParty/ANGLE/src/common/apple/apple_platform.h
  Source/ThirdParty/ANGLE/src/common/apple_platform_utils.mm
  Source/ThirdParty/ANGLE/src/common/platform.h
  Source/ThirdParty/ANGLE/src/common/system_utils.cpp
  Source/ThirdParty/ANGLE/src/common/system_utils_posix.cpp
  Source/ThirdParty/ANGLE/src/gpu_info_util/SystemInfo_internal.h
  Source/ThirdParty/ANGLE/src/gpu_info_util/SystemInfo_ios.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/Caps.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/Display.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/formatutils.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/driver_utils.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/driver_utils.h
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/gl/apple/DisplayApple_api.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/gl/renderergl_utils.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/DisplayMtl.mm
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/ShaderMtl.mm
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/mtl_utils.mm
Owners: none

[WTF] Prepare for InstallAPI by hiding project headers and fixing inconsistencies https://bugs.webkit.org/show_bug.cgi?id=254614 rdar://107332243
  Source/JavaScriptCore/runtime/Options.cpp
  Source/JavaScriptCore/tools/Integrity.cpp
  Source/WTF/WTF.xcodeproj/project.pbxproj
  Source/WTF/wtf/AutodrainedPool.h
  Source/WTF/wtf/CMakeLists.txt
  Source/WTF/wtf/FastFloat.cpp
  Source/WTF/wtf/MemoryPressureHandler.cpp
  Source/WTF/wtf/MemoryPressureHandler.h
  Source/WTF/wtf/SingleRootGraph.h
  Source/WTF/wtf/Threading.cpp
  Source/WTF/wtf/WallTime.h
  Source/WTF/wtf/WorkQueue.h
  Source/WTF/wtf/darwin/OSLogPrintStream.h
  Source/WTF/wtf/darwin/OSLogPrintStream.mm
  Source/WTF/wtf/fast_float/ascii_number.h
  Source/WTF/wtf/fast_float/bigint.h
  Source/WTF/wtf/fast_float/decimal_to_binary.h
  Source/WTF/wtf/fast_float/digit_comparison.h
  Source/WTF/wtf/fast_float/fast_float.h
  Source/WTF/wtf/fast_float/parse_number.h
  Source/WTF/wtf/fast_float/simple_decimal_conversion.h
  Source/WTF/wtf/ios/WebCoreThread.h
  Source/WTF/wtf/text/WTFString.h
Owners: @WebKit/jsc-reviewers

Add the ability to show alternative text when "Correct Spelling Automatically" is disabled https://bugs.webkit.org/show_bug.cgi?id=255077 rdar://106713199
  Source/WebCore/editing/AlternativeTextController.cpp
Owners: @rniwa

[css-grid] grid-template-rows: masonry has an effect, even when the feature is turned off https://bugs.webkit.org/show_bug.cgi?id=255022
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
Owners: none

Import WPT text-emphasis-style-property-010* tests https://bugs.webkit.org/show_bug.cgi?id=255090 rdar://107709906
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-text-decor/text-emphasis-style-property-010-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text-decor/text-emphasis-style-property-010Cc-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text-decor/text-emphasis-style-property-010Cc.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text-decor/text-emphasis-style-property-010Cf-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text-decor/text-emphasis-style-property-010Cf.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text-decor/text-emphasis-style-property-010Cn-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text-decor/text-emphasis-style-property-010Cn.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text-decor/text-emphasis-style-property-010Zl-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text-decor/text-emphasis-style-property-010Zl.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text-decor/text-emphasis-style-property-010Zp-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text-decor/text-emphasis-style-property-010Zp.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text-decor/text-emphasis-style-property-010Zs-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text-decor/text-emphasis-style-property-010Zs.html
Owners: none

[UI-side compositing] Plumb mouseEnteredContentArea and mouseExitedContentArea events to UI process https://bugs.webkit.org/show_bug.cgi?id=255061 rdar://107685729
  Source/WebCore/page/EventHandler.cpp
  Source/WebCore/page/scrolling/AsyncScrollingCoordinator.cpp
  Source/WebCore/page/scrolling/AsyncScrollingCoordinator.h
  Source/WebCore/page/scrolling/ScrollingCoordinator.h
  Source/WebCore/page/scrolling/ScrollingStateNode.h
  Source/WebCore/page/scrolling/ScrollingStateScrollingNode.cpp
  Source/WebCore/page/scrolling/ScrollingStateScrollingNode.h
  Source/WebCore/page/scrolling/mac/ScrollerPairMac.h
  Source/WebCore/page/scrolling/mac/ScrollerPairMac.mm
  Source/WebCore/page/scrolling/mac/ScrollingTreeScrollingNodeDelegateMac.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteScrollingCoordinatorTransaction.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/RemoteLayerTree/mac/ScrollingTreeFrameScrollingNodeRemoteMac.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/mac/ScrollingTreeFrameScrollingNodeRemoteMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/ScrollingTreeOverflowScrollingNodeRemoteMac.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/mac/ScrollingTreeOverflowScrollingNodeRemoteMac.h
Owners: @cdumez

[ews-build] Split iOS layout test queue into no-WPT / only-WPT configurations https://bugs.webkit.org/show_bug.cgi?id=254559 rdar://107291888
  Tools/CISupport/ews-app/ews/common/buildbot.py
  Tools/CISupport/ews-app/ews/common/github.py
  Tools/CISupport/ews-app/ews/views/statusbubble.py
  Tools/CISupport/ews-build/config.json
  Tools/CISupport/ews-build/factories.py
  Tools/CISupport/ews-build/factories_unittest.py
  Tools/CISupport/ews-build/loadConfig.py
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Owners: @aj062, @JonWBedard, @ryanhaddad

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
