Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

[IFC] Incorrect decorating box position in vertical writing mode https://bugs.webkit.org/show_bug.cgi?id=255256
  LayoutTests/TestExpectations
  LayoutTests/fast/inline/aligned-inline-box-decoration-in-vertical-writing-mode-expected.html
  LayoutTests/fast/inline/aligned-inline-box-decoration-in-vertical-writing-mode.html
  Source/WebCore/layout/formattingContexts/inline/display/InlineDisplayContentBuilder.cpp
  Source/WebCore/layout/formattingContexts/inline/display/InlineDisplayContentBuilder.h
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.cpp
Owners: none

Cherry-pick 262666@main (96af04c5e6b2). rdar://problem/107602025
  LayoutTests/http/wpt/service-workers/controlled-module-dedicatedworker.https-expected.txt
  LayoutTests/http/wpt/service-workers/controlled-module-dedicatedworker.https.html
  LayoutTests/http/wpt/service-workers/module-dedicatedworker-worker.js
  LayoutTests/http/wpt/service-workers/resources/controlled-module-worker.js
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerConnection.cpp
Owners: @cdumez

HTML fast parser fails to parse complex HTML entities https://bugs.webkit.org/show_bug.cgi?id=255302
  Source/WebCore/Headers.cmake
  Source/WebCore/dom/ContainerNode.h
  Source/WebCore/dom/DocumentFragment.h
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.h
  Source/WebCore/html/parser/HTMLEntityParser.cpp
  Tools/TestWebKitAPI/Tests/WebCore/HTMLParserIdioms.cpp
Owners: @rniwa, @cdumez

[Cocoa] Fix the WebGPU build https://bugs.webkit.org/show_bug.cgi?id=255317 rdar://107920484
  Source/WTF/wtf/PlatformUse.h
  Source/WebGPU/WebGPU/BindGroupLayout.mm
Owners: none

[ iOS ] fast/gradients/linear-two-hints-angle.html is a constant ImageOnlyFailure https://bugs.webkit.org/show_bug.cgi?id=255181 rdar://107774707
  LayoutTests/fast/gradients/linear-two-hints-angle.html
  LayoutTests/platform/ios/TestExpectations
Owners: none

[Cocoa] Fix the WebGPU build again https://bugs.webkit.org/show_bug.cgi?id=255318 rdar://107920935
  Source/WTF/wtf/PlatformUse.h
  Source/WebGPU/WebGPU/BindGroupLayout.mm
Owners: none

Cap height is incorrect on platforms using FreeType. https://bugs.webkit.org/show_bug.cgi?id=255082
  LayoutTests/fast/css-generated-content/initial-letter-first-line-wrapping-expected.html
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/fast/text/combining-enclosing-keycap-expected.txt
  LayoutTests/platform/gtk/fast/css-generated-content/initial-letter-basic-expected.txt
  LayoutTests/platform/gtk/fast/css-generated-content/initial-letter-border-padding-expected.txt
  LayoutTests/platform/gtk/fast/css-generated-content/initial-letter-clearance-expected.txt
  LayoutTests/platform/gtk/fast/css-generated-content/initial-letter-descender-expected.txt
  LayoutTests/platform/gtk/fast/css-generated-content/initial-letter-raised-expected.txt
  LayoutTests/platform/gtk/fast/css-generated-content/initial-letter-sunken-expected.txt
  LayoutTests/platform/wpe/fast/css-generated-content/initial-letter-basic-expected.txt
  LayoutTests/platform/wpe/fast/css-generated-content/initial-letter-border-padding-expected.txt
  LayoutTests/platform/wpe/fast/css-generated-content/initial-letter-clearance-expected.txt
  LayoutTests/platform/wpe/fast/css-generated-content/initial-letter-descender-expected.txt
  LayoutTests/platform/wpe/fast/css-generated-content/initial-letter-raised-expected.txt
  LayoutTests/platform/wpe/fast/css-generated-content/initial-letter-sunken-expected.txt
  Source/WebCore/platform/graphics/freetype/SimpleFontDataFreeType.cpp
Owners: @WebKit/glib-reviewers

Disable UI side compositing in Recovery OS https://bugs.webkit.org/show_bug.cgi?id=255315 rdar://107902714
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
Owners: @cdumez

[WGSL] Implement if statement codegen https://bugs.webkit.org/show_bug.cgi?id=255267 rdar://problem/107862445
  Source/WebGPU/WGSL/AST/ASTStringDumper.cpp
  Source/WebGPU/WGSL/AST/ASTStringDumper.h
  Source/WebGPU/WGSL/Metal/MetalFunctionWriter.cpp
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/tests/valid/if.wgsl
Owners: none

Test freshness page should handle horizontal overflow. https://bugs.webkit.org/show_bug.cgi?id=255314 rdar://107119770
  Websites/perf.webkit.org/public/v3/pages/test-freshness-page.js
Owners: none

Unreviewed non-unified build fix.
  Source/WebCore/html/ImageData.cpp
Owners: @cdumez, @rniwa

[GTK] Add support for swrast without using wpe renderer https://bugs.webkit.org/show_bug.cgi?id=254587
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreDMABuf.cpp
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreDMABuf.h
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreDMABuf.messages.in
  Source/WebKit/WebProcess/WebPage/gtk/AcceleratedSurfaceDMABuf.cpp
  Source/WebKit/WebProcess/WebPage/gtk/AcceleratedSurfaceDMABuf.h
Owners: @WebKit/glib-reviewers

[CMake] Remove unneeded ATKBridge find module https://bugs.webkit.org/show_bug.cgi?id=255329
  Source/cmake/FindATKBridge.cmake
Owners: none

Cherry-pick 262163@main (f2566d6ee880). https://bugs.webkit.org/show_bug.cgi?id=254475
  Source/cmake/FindJournald.cmake
Owners: none

Cherry-pick 262819@main (cc44de0d9d44). https://bugs.webkit.org/show_bug.cgi?id=251550
  Source/WebCore/testing/MockCDMFactory.cpp
Owners: none

gcGLSpanDynamicExtent is defined in incorrect header, GCGLSpan.h included in wrong order https://bugs.webkit.org/show_bug.cgi?id=253887 rdar://106701929
  Source/WebCore/Modules/webxr/WebXROpaqueFramebuffer.cpp
  Source/WebCore/html/canvas/WebGL2RenderingContext.cpp
  Source/WebCore/html/canvas/WebGL2RenderingContext.h
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
  Source/WebCore/platform/graphics/GCGLSpan.h
  Source/WebCore/platform/graphics/GraphicsContextGL.cpp
  Source/WebCore/platform/graphics/GraphicsContextGL.h
  Source/WebCore/platform/graphics/angle/GraphicsContextGLANGLE.cpp
  Source/WebCore/platform/graphics/angle/GraphicsContextGLANGLE.h
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGL.cpp
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGLFunctionsGenerated.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxyFunctionsGenerated.cpp
  Tools/Scripts/generate-gpup-webgl
Owners: @cdumez, @rniwa, @JonWBedard

REGRESSION(262812@main): [CoordinatedGraphics] Contents rendered at the wrong size in HiDPI https://bugs.webkit.org/show_bug.cgi?id=255330
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Owners: @cdumez

[IFC] Incorrect vertical positioning when ideographic baseline is present https://bugs.webkit.org/show_bug.cgi?id=255224
  LayoutTests/fast/inline/ideographic-baseline-with-vertical-align-expected.html
  LayoutTests/fast/inline/ideographic-baseline-with-vertical-align.html
  Source/WebCore/layout/formattingContexts/inline/InlineLineBoxBuilder.cpp
Owners: none

Cherry-pick 262812@main (f938f81c9a7b). https://bugs.webkit.org/show_bug.cgi?id=255221
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.h
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHost.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHost.h
  Source/WebKit/WebProcess/WebPage/DrawingArea.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Owners: @magomez, @zdobersek, @cdumez

Cherry-pick 261029@main (04a684748a69). https://bugs.webkit.org/show_bug.cgi?id=252886
  LayoutTests/media/media-source/media-source-appendbuffer-durationchange-expected.txt
  LayoutTests/media/media-source/media-source-appendbuffer-durationchange.html
  Source/WebCore/Modules/mediasource/SourceBuffer.cpp
  Source/WebCore/Modules/mediasource/SourceBuffer.h
  Source/WebCore/platform/graphics/SourceBufferPrivate.cpp
  Source/WebCore/platform/graphics/SourceBufferPrivate.h
  Source/WebCore/platform/graphics/SourceBufferPrivateClient.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebCore/platform/graphics/gstreamer/mse/AppendPipeline.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.h
  Source/WebCore/platform/mock/mediasource/MockSourceBufferPrivate.cpp
  Source/WebKit/GPUProcess/media/RemoteSourceBufferProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteSourceBufferProxy.h
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.h
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.messages.in
Owners: @philn, @cdumez

Cherry-pick 262860@main (eb50f369243c). https://bugs.webkit.org/show_bug.cgi?id=255082
  LayoutTests/fast/css-generated-content/initial-letter-first-line-wrapping-expected.html
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/fast/text/combining-enclosing-keycap-expected.txt
  LayoutTests/platform/gtk/fast/css-generated-content/initial-letter-basic-expected.txt
  LayoutTests/platform/gtk/fast/css-generated-content/initial-letter-border-padding-expected.txt
  LayoutTests/platform/gtk/fast/css-generated-content/initial-letter-clearance-expected.txt
  LayoutTests/platform/gtk/fast/css-generated-content/initial-letter-descender-expected.txt
  LayoutTests/platform/gtk/fast/css-generated-content/initial-letter-raised-expected.txt
  LayoutTests/platform/gtk/fast/css-generated-content/initial-letter-sunken-expected.txt
  LayoutTests/platform/wpe/fast/css-generated-content/initial-letter-basic-expected.txt
  LayoutTests/platform/wpe/fast/css-generated-content/initial-letter-border-padding-expected.txt
  LayoutTests/platform/wpe/fast/css-generated-content/initial-letter-clearance-expected.txt
  LayoutTests/platform/wpe/fast/css-generated-content/initial-letter-descender-expected.txt
  LayoutTests/platform/wpe/fast/css-generated-content/initial-letter-raised-expected.txt
  LayoutTests/platform/wpe/fast/css-generated-content/initial-letter-sunken-expected.txt
  Source/WebCore/platform/graphics/freetype/SimpleFontDataFreeType.cpp
Owners: @WebKit/glib-reviewers

Cherry-pick 262819@main (cc44de0d9d44). https://bugs.webkit.org/show_bug.cgi?id=251550
  Source/WebCore/testing/MockCDMFactory.cpp
Owners: none

Cherry-pick 262867@main (b762cdb7aea0). https://bugs.webkit.org/show_bug.cgi?id=255330
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Owners: @cdumez

Cherry-pick 259548.395@safari-7615.1.26.11-branch (1039f0c3235f). https://bugs.webkit.org/show_bug.cgi?id=254797
  Source/JavaScriptCore/heap/Heap.cpp
  Source/JavaScriptCore/heap/Heap.h
  Source/JavaScriptCore/heap/HeapInlines.h
  Source/JavaScriptCore/runtime/ArgList.cpp
  Source/JavaScriptCore/runtime/ArgList.h
  Source/WebCore/Modules/webaudio/AudioWorkletProcessor.cpp
  Source/WebCore/Modules/webaudio/AudioWorkletProcessor.h
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
Owners: @WebKit/jsc-reviewers, @cdumez

Cherry-pick 262791@main (d86fed1a2d3d). https://bugs.webkit.org/show_bug.cgi?id=255230
  LayoutTests/fast/forms/select/selected-option-update-inner-html-expected.html
  LayoutTests/fast/forms/select/selected-option-update-inner-html.html
  Source/WebCore/html/HTMLSelectElement.cpp
Owners: @cdumez, @rniwa

Cherry-pick 262709@main (2dbbdbf493db). https://bugs.webkit.org/show_bug.cgi?id=255102
  Source/WebKit/Shared/Cocoa/SandboxExtensionCocoa.mm
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ProcessSwapOnNavigation.mm
Owners: @cdumez

Cherry-pick 262512@main (bc8d5b0f582f). https://bugs.webkit.org/show_bug.cgi?id=254571
  LayoutTests/imported/w3c/web-platform-tests/css/selectors/user-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/selectors/user-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/selectors/user-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/selectors/user-valid.html
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/css/selectors/user-invalid-expected.txt
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/css/selectors/user-valid-expected.txt
  Source/WebCore/html/HTMLFormControlElement.h
Owners: @cdumez, @rniwa

Cherry-pick 262339@main (fd977228c791). https://bugs.webkit.org/show_bug.cgi?id=254742
  Source/WebCore/platform/graphics/SourceBrush.cpp
  Source/WebCore/platform/graphics/SourceBrush.h
  Source/WebKit/Platform/IPC/ArgumentCoders.h
Owners: @cdumez

Cherry-pick 260986@main (a7c8d725eade). https://bugs.webkit.org/show_bug.cgi?id=253128
  Source/WebCore/loader/FrameLoader.cpp
Owners: @cdumez

Web Inspector: Regression(260175@main) Grid overlay for grids using repeat syntax triggers assert performing downcast https://bugs.webkit.org/show_bug.cgi?id=255311 rdar://107764654
  LayoutTests/inspector/dom/showGridOverlay.html
  Source/WebCore/inspector/InspectorOverlay.cpp
Owners: @patrickangle

Web Inspector: Support ES2022 Private Fields https://bugs.webkit.org/show_bug.cgi?id=254961
  LayoutTests/inspector/runtime/getDisplayableProperties-expected.txt
  LayoutTests/inspector/runtime/getDisplayableProperties.html
  LayoutTests/inspector/runtime/getProperties-expected.txt
  LayoutTests/inspector/runtime/getProperties.html
  LayoutTests/inspector/runtime/resources/property-descriptor-utilities.js
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
  Source/JavaScriptCore/bytecompiler/NodesCodegen.cpp
  Source/JavaScriptCore/inspector/InjectedScriptSource.js
  Source/JavaScriptCore/inspector/JSInjectedScriptHost.cpp
  Source/JavaScriptCore/inspector/JSInjectedScriptHost.h
  Source/JavaScriptCore/inspector/JSInjectedScriptHostPrototype.cpp
  Source/JavaScriptCore/inspector/protocol/Runtime.json
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/PrivateName.h
  Source/JavaScriptCore/runtime/Symbol.cpp
  Source/WTF/wtf/text/SymbolImpl.cpp
  Source/WTF/wtf/text/SymbolImpl.h
  Source/WebInspectorUI/UserInterface/Models/PropertyDescriptor.js
  Source/WebInspectorUI/UserInterface/Models/PropertyPath.js
  Source/WebInspectorUI/UserInterface/Views/ObjectTreePropertyTreeElement.css
  Source/WebInspectorUI/UserInterface/Views/ObjectTreePropertyTreeElement.js
  Source/WebInspectorUI/UserInterface/Views/ObjectTreeView.js
  Source/WebKit/WebProcess/WebPage/IPCTestingAPI.cpp
Owners: @patrickangle, @WebKit/jsc-reviewers, @dcrousso, @cdumez

background-size should not accept unitless lengths https://bugs.webkit.org/show_bug.cgi?id=139029 rdar://97039770
  LayoutTests/fast/backgrounds/size/parsing-background-size-values-expected.txt
  LayoutTests/fast/backgrounds/size/parsing-inherit-expected.txt
  LayoutTests/fast/backgrounds/size/resources/parsing-background-size-values.js
  LayoutTests/fast/backgrounds/size/resources/parsing-inherit.js
  LayoutTests/imported/w3c/web-platform-tests/quirks/unitless-length/excluded-properties-002-expected.txt
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
Owners: none

Support JetStream3 in compare-results https://bugs.webkit.org/show_bug.cgi?id=255344 rdar://107942609
  Tools/Scripts/compare-results
Owners: @JonWBedard

REGRESSION (260399@main): animations flicker on https://payto.com.au https://bugs.webkit.org/show_bug.cgi?id=255338 rdar://107532064
  LayoutTests/webanimations/accelerated-animation-addition-lower-in-effect-stack-expected.html
  LayoutTests/webanimations/accelerated-animation-addition-lower-in-effect-stack.html
  Source/WebCore/animation/DocumentTimeline.cpp
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/animation/KeyframeEffect.h
  Source/WebCore/animation/KeyframeEffectStack.cpp
  Source/WebCore/animation/KeyframeEffectStack.h
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.cpp
Owners: @graouts

[bmalloc] Prepare for InstallAPI by fixing headers and hiding libpas declarations https://bugs.webkit.org/show_bug.cgi?id=254612
  Source/JavaScriptCore/Configurations/JavaScriptCore.xcconfig
  Source/bmalloc/Configurations/libpas.xcconfig
  Source/bmalloc/bmalloc.xcodeproj/project.pbxproj
  Source/bmalloc/bmalloc/CryptoRandom.cpp
  Source/bmalloc/bmalloc/Gigacage.cpp
  Source/bmalloc/bmalloc/StaticPerProcess.h
  Source/bmalloc/libpas/src/libpas/pas_debug_heap.h
  Source/bmalloc/libpas/src/libpas/pas_enumerate_initially_unaccounted_pages.h
  Source/bmalloc/libpas/src/libpas/pas_enumerate_unaccounted_pages_as_meta.h
  Source/bmalloc/libpas/src/libpas/pas_utils_prefix.h
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/lldb/lldbWebKitTester/lldbWebKitTester.xcodeproj/project.pbxproj
Owners: @WebKit/jsc-reviewers, @Constellation, @JonWBedard

Unreviewed, reverting r262870@main. https://bugs.webkit.org/show_bug.cgi?id=255352
  LayoutTests/inspector/runtime/getDisplayableProperties-expected.txt
  LayoutTests/inspector/runtime/getDisplayableProperties.html
  LayoutTests/inspector/runtime/getProperties-expected.txt
  LayoutTests/inspector/runtime/getProperties.html
  LayoutTests/inspector/runtime/resources/property-descriptor-utilities.js
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
  Source/JavaScriptCore/bytecompiler/NodesCodegen.cpp
  Source/JavaScriptCore/inspector/InjectedScriptSource.js
  Source/JavaScriptCore/inspector/JSInjectedScriptHost.cpp
  Source/JavaScriptCore/inspector/JSInjectedScriptHost.h
  Source/JavaScriptCore/inspector/JSInjectedScriptHostPrototype.cpp
  Source/JavaScriptCore/inspector/protocol/Runtime.json
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/PrivateName.h
  Source/JavaScriptCore/runtime/Symbol.cpp
  Source/WTF/wtf/text/SymbolImpl.cpp
  Source/WTF/wtf/text/SymbolImpl.h
  Source/WebInspectorUI/UserInterface/Models/PropertyDescriptor.js
  Source/WebInspectorUI/UserInterface/Models/PropertyPath.js
  Source/WebInspectorUI/UserInterface/Views/ObjectTreePropertyTreeElement.css
  Source/WebInspectorUI/UserInterface/Views/ObjectTreePropertyTreeElement.js
  Source/WebInspectorUI/UserInterface/Views/ObjectTreeView.js
  Source/WebKit/WebProcess/WebPage/IPCTestingAPI.cpp
Owners: @patrickangle, @WebKit/jsc-reviewers, @dcrousso, @cdumez

Cherry-pick 262840@main (156322851446). https://bugs.webkit.org/show_bug.cgi?id=255297
  Source/WebKit/UIProcess/API/Cocoa/WKContentRuleListPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKUIDelegatePrivate.h
Owners: @cdumez

[PlayStation][CFI] Remove unnecessary cast in FrameTree.cpp https://bugs.webkit.org/show_bug.cgi?id=255348
  Source/WebCore/page/FrameTree.cpp
Owners: @cdumez

Make document.applets always return an empty list https://bugs.webkit.org/show_bug.cgi?id=255326 rdar://107926196
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/leaktests/html-collection-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/leaktests/html-collection.html
  Source/WebCore/dom/Document.cpp
  Source/WebCore/html/CollectionType.h
  Source/WebCore/html/GenericCachedHTMLCollection.cpp
  Source/WebCore/html/HTMLCollection.cpp
  Source/WebCore/html/HTMLObjectElement.cpp
  Source/WebCore/html/HTMLObjectElement.h
Owners: @rniwa, @cdumez

Remove checks for Java Applets https://bugs.webkit.org/show_bug.cgi?id=255355
  Source/WebCore/html/HTMLObjectElement.cpp
  Source/WebCore/platform/MIMETypeRegistry.cpp
  Source/WebCore/platform/MIMETypeRegistry.h
Owners: @cdumez, @rniwa
