Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

Remove _WKWebsiteDataStore.h https://bugs.webkit.org/show_bug.cgi?id=247282 rdar://101772089
  Source/WebKit/UIProcess/API/Cocoa/_WKWebsiteDataStore.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Owners: @cdumez

Use sandbox API to set sandbox state variable https://bugs.webkit.org/show_bug.cgi?id=247281 rdar://101772011
  Source/WebKit/Scripts/process-entitlements.sh
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Owners: @cdumez

Cherry-pick f6816a3f3c66. rdar://problem/101562445
  LayoutTests/http/tests/navigation/resources/shared-worker-script.js
  LayoutTests/http/tests/workers/shared/shared-worker-with-service-workers-disabled-expected.txt
  LayoutTests/http/tests/workers/shared/shared-worker-with-service-workers-disabled.html
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/win/TestExpectations
  Source/WebCore/workers/WorkerScriptLoader.cpp
  Source/WebCore/workers/WorkerScriptLoader.h
Owners: @cdumez

Cherry-pick 5fd2411bada8. rdar://problem/101806362
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
  Source/WebKit/Shared/Sandbox/macOS/common.sb
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Owners: @cdumez

Cherry-pick 193d0064ca5b. rdar://problem/101784403
  Source/WebKit/UIProcess/WebsiteData/Cocoa/WebsiteDataStoreCocoa.mm
Owners: @cdumez

Cherry-pick 495019c115fe. rdar://problem/101818726
  Source/WebKit/UIProcess/WebPageProxy.cpp
Owners: @cdumez

Cherry-pick d7bab9d6f7c4. rdar://problem/101600873
  Source/WebCore/css/CSSSelector.cpp
  Source/WebCore/css/CSSSelector.h
  Source/WebCore/css/SelectorChecker.cpp
  Source/WebCore/css/SelectorCheckerTestFunctions.h
  Source/WebCore/css/SelectorPseudoClassAndCompatibilityElementMap.in
  Source/WebCore/css/fullscreen.css
  Source/WebCore/cssjit/SelectorCompiler.cpp
  Source/WebCore/rendering/updating/RenderTreeUpdaterGeneratedContent.cpp
Owners: none

Cherry-pick b4153dffcbf5. rdar://problem/101600873
  Source/WebCore/rendering/updating/RenderTreeUpdaterGeneratedContent.cpp
Owners: none

Add Harrison Weinerman to contributors.json https://bugs.webkit.org/show_bug.cgi?id=247353
  metadata/contributors.json
Owners: @JonWBedard

Clear floats added dynamically to previous siblings
  LayoutTests/fast/block/margin-collapse/clear-dynamically-added-float-expected.txt
  LayoutTests/fast/block/margin-collapse/clear-dynamically-added-float.html
  Source/WebCore/rendering/RenderBlockFlow.cpp
Owners: none

Eligible Author Origin-declared properties do not disable native appearance of elements https://bugs.webkit.org/show_bug.cgi?id=246980 rdar://101521275
  LayoutTests/TestExpectations
  LayoutTests/fast/forms/auto-fill-button/input-auto-filled-and-obscured.html
  LayoutTests/fast/forms/hidpi-textfield-background-bleeding-expected.html
  LayoutTests/fast/forms/hidpi-textfield-background-bleeding.html
  LayoutTests/fast/forms/input-background-ua-media-query.html
  LayoutTests/fast/forms/select-style.html
  LayoutTests/fast/selectors/text-field-selection-stroke-color-expected.html
  LayoutTests/fast/selectors/text-field-selection-text-shadow-expected.html
  LayoutTests/fast/selectors/text-field-selection-window-inactive-stroke-color-expected.html
  LayoutTests/fast/selectors/text-field-selection-window-inactive-text-shadow-expected.html
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/fast/forms/select-style-expected.txt
  LayoutTests/platform/win/TestExpectations
  Source/WTF/wtf/cocoa/RuntimeApplicationChecksCocoa.h
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/makeprop.pl
  Source/WebCore/rendering/RenderTheme.cpp
  Source/WebCore/rendering/RenderThemeCocoa.h
  Source/WebCore/rendering/RenderThemeCocoa.mm
  Source/WebCore/rendering/RenderThemeIOS.mm
  Source/WebCore/rendering/RenderThemeMac.mm
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/StyleRareNonInheritedData.cpp
  Source/WebCore/rendering/style/StyleRareNonInheritedData.h
  Source/WebCore/style/StyleBuilderCustom.h
  Source/WebCore/style/StyleBuilderState.h
  Tools/Scripts/webkitpy/style/checkers/jsonchecker.py
Owners: @JonWBedard

Revert 45729b130aab. rdar://problem/101788379
  Source/WebCore/workers/service/ServiceWorkerRegistrationKey.cpp
  Source/WebCore/workers/service/ServiceWorkerRegistrationKey.h
  Source/WebCore/workers/service/server/SWServer.cpp
  Source/WebCore/workers/service/server/SWServer.h
  Source/WebCore/workers/service/server/SWServerWorker.h
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServer.cpp
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServer.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.messages.in
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessPool.h
  Source/WebKit/WebProcess/Storage/WebSWContextManagerConnection.cpp
Owners: @cdumez

Add a logging channel for debugging content extensions https://bugs.webkit.org/show_bug.cgi?id=247348 rdar://101820591
  Source/WebCore/contentextensions/ContentExtensionActions.cpp
  Source/WebCore/platform/Logging.h
Owners: none

Cherry-pick 193d0064ca5b. rdar://problem/101784403
  Source/WebKit/UIProcess/WebsiteData/Cocoa/WebsiteDataStoreCocoa.mm
Owners: @cdumez

Cherry-pick db1bc3388c3f. rdar://problem/101820591
  Source/WebCore/contentextensions/ContentExtensionActions.cpp
  Source/WebCore/platform/Logging.h
Owners: none

Cherry-pick 0abef5e06954. rdar://problem/101605181
  Source/WebCore/dom/SecurityContext.h
  Source/WebCore/history/CachedFrame.cpp
  Source/WebCore/history/CachedFrame.h
  Source/WebCore/loader/EmptyClients.cpp
  Source/WebCore/loader/EmptyFrameLoaderClient.h
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/loader/FrameLoader.h
  Source/WebCore/loader/FrameLoaderClient.h
  Source/WebCore/loader/ResourceLoader.cpp
  Source/WebCore/platform/network/ResourceResponseBase.cpp
  Source/WebCore/platform/network/ResourceResponseBase.h
  Source/WebKit/NetworkProcess/NetworkDataTask.cpp
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
  Source/WebKit/UIProcess/Cocoa/NavigationState.h
  Source/WebKit/UIProcess/Cocoa/NavigationState.mm
  Source/WebKit/UIProcess/PageLoadState.cpp
  Source/WebKit/UIProcess/PageLoadState.h
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.mm
  Source/WebKitLegacy/win/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKitLegacy/win/WebCoreSupport/WebFrameLoaderClient.h
Owners: @rniwa, @cdumez

Add Web Extension code generator scripts, bindings glue, and some IDL files. https://bugs.webkit.org/show_bug.cgi?id=246410
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources-output.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Scripts/generate-derived-sources.sh
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIExtensionCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPINamespaceCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIRuntimeCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIExtension.h
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPINamespace.h
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIObject.h
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIRuntime.h
  Source/WebKit/WebProcess/Extensions/Bindings/Cocoa/JSWebExtensionWrapperCocoa.mm
  Source/WebKit/WebProcess/Extensions/Bindings/JSWebExtensionWrappable.h
  Source/WebKit/WebProcess/Extensions/Bindings/JSWebExtensionWrapper.cpp
  Source/WebKit/WebProcess/Extensions/Bindings/JSWebExtensionWrapper.h
  Source/WebKit/WebProcess/Extensions/Bindings/Scripts/CodeGeneratorExtensions.pm
  Source/WebKit/WebProcess/Extensions/Bindings/Scripts/IDLAttributes.json
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPIExtension.idl
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPINamespace.idl
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPIRuntime.idl
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebMessagePortChannelProvider.h
  Source/WebKit/WebProcess/WebPage/WebFoundTextRangeController.cpp
Owners: @cdumez

Strength reduction analyzes RegEx.exec incorrectly and generate a hole for the result array https://bugs.webkit.org/show_bug.cgi?id=245464 rdar://100494428
  JSTests/stress/regexp-strengthreduce-results-noholes.js
  Source/JavaScriptCore/dfg/DFGStrengthReductionPhase.cpp
Owners: @WebKit/jsc-reviewers

ThemeAdwaita: checkbox and radio buttons are invisible in black backgrounds https://bugs.webkit.org/show_bug.cgi?id=246785
  Source/WebCore/platform/adwaita/ThemeAdwaita.cpp
Owners: @WebKit/glib-reviewers

Fix ASAN false positives when dumping disassembly https://bugs.webkit.org/show_bug.cgi?id=245896
  Source/JavaScriptCore/b3/B3Value.cpp
  Source/JavaScriptCore/b3/B3Value.h
  Source/JavaScriptCore/b3/air/AirInst.cpp
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/WTF/wtf/Assertions.h
Owners: @WebKit/jsc-reviewers

[Wasm-GC] Add support for subtyping declarations https://bugs.webkit.org/show_bug.cgi?id=239668
  JSTests/wasm/gc/sub.js
  JSTests/wasm/wasm.json
  Source/JavaScriptCore/wasm/WasmFormat.h
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmLimits.h
  Source/JavaScriptCore/wasm/WasmSectionParser.cpp
  Source/JavaScriptCore/wasm/WasmSectionParser.h
  Source/JavaScriptCore/wasm/WasmTypeDefinition.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.h
  Source/JavaScriptCore/wasm/js/JSWebAssemblyStruct.cpp
  Source/JavaScriptCore/wasm/js/WasmToJS.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyModuleRecord.cpp
  Source/JavaScriptCore/wasm/wasm.json
Owners: @WebKit/jsc-reviewers

[JSC] Fix Clang build fails with -Wcast-align in ZycoreList.c https://bugs.webkit.org/show_bug.cgi?id=247064 rdar://101862332
  Source/JavaScriptCore/disassembler/zydis/Zydis/ZycoreList.c
Owners: @WebKit/jsc-reviewers

REGRESSION: 4 PiP API tests consistently failing on Big Sur EWS https://bugs.webkit.org/show_bug.cgi?id=247373 rdar://101873453
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ExitFullscreenOnEnterPiP.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebViewCloseAllMediaPresentations.mm
Owners: none

Remove flaky painting api test. https://bugs.webkit.org/show_bug.cgi?id=240167 rdar://92859076
  LayoutTests/fast/css-custom-paint/animate-repaint-expected.txt
  LayoutTests/fast/css-custom-paint/animate-repaint.html
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Owners: none

Typo error in RenderLayerCompositor::destroyRootLayer() for Horizontal Scrollbar
  Source/WebCore/rendering/RenderLayerCompositor.cpp
Owners: none

Use OptionSet for WebCore::PaintPhase in layer based SVG engine https://bugs.webkit.org/show_bug.cgi?id=247346
  Source/WebCore/rendering/PaintPhase.h
  Source/WebCore/rendering/RenderLayerModelObject.cpp
  Source/WebCore/rendering/RenderLayerModelObject.h
  Source/WebCore/rendering/svg/RenderSVGContainer.cpp
  Source/WebCore/rendering/svg/RenderSVGImage.cpp
  Source/WebCore/rendering/svg/RenderSVGShape.cpp
  Source/WebCore/rendering/svg/RenderSVGText.cpp
Owners: none

[Build Fix] Replace Deprecated macros with direct calls.
  Tools/MobileMiniBrowser/MobileMiniBrowserUITests/MobileMiniBrowserUITests.m
Owners: @JonWBedard

[Gardening]: New Tests(255047@main): [ iOS macOS ] 3X imported/w3c/web-platform-tests/feature-policy/(Layout tests) are constantly failing https://bugs.webkit.org/show_bug.cgi?id=245967
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/feature-policy/reporting/picture-in-picture-reporting-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/feature-policy/experimental-features/vertical-scroll-scrollintoview.tentative-expected.txt
Owners: none

Rendering artifacts when presenting fullscreen video https://bugs.webkit.org/show_bug.cgi?id=247155 rdar://101352957
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
Owners: @cdumez

MobileMiniBrowser should accept the '--url' command line argument https://bugs.webkit.org/show_bug.cgi?id=247378 rdar://101878523
  Tools/MobileMiniBrowser/MobileMiniBrowserFramework/WebViewController.m
Owners: @JonWBedard

ASSERT(!m_beginTime) in SMILTimeContainer::begin fires on many sites https://bugs.webkit.org/show_bug.cgi?id=172490
  LayoutTests/svg/animations/start-animation-twice-crash-expected.txt
  LayoutTests/svg/animations/start-animation-twice-crash.html
  Source/WebCore/svg/SVGSVGElement.cpp
  Source/WebCore/svg/animation/SMILTimeContainer.cpp
  Source/WebCore/svg/animation/SMILTimeContainer.h
Owners: none

Add missing Mac platform check in sandbox https://bugs.webkit.org/show_bug.cgi?id=247385 rdar://101874781
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Owners: @cdumez

Cherry-pick f1b974f02e12. rdar://problem/101874781
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Owners: @cdumez

Crash in gamepads in WKWebView apps that also listen to the GameController framework themselves https://bugs.webkit.org/show_bug.cgi?id=247368 and rdar://100036005
  Source/WebKit/UIProcess/Gamepad/UIGamepadProvider.cpp
Owners: @cdumez

Don't apply aspect ratio scaling to gradient background images that don't have a natural aspect ratio https://bugs.webkit.org/show_bug.cgi?id=247298 <rdar://101661731>
  LayoutTests/TestExpectations
  LayoutTests/css3/masking/mask-luminance-gradient-expected.html
  LayoutTests/css3/masking/mask-luminance-gradient.html
  Source/WebCore/display/css/DisplayFillLayerImageGeometry.cpp
  Source/WebCore/rendering/BackgroundPainter.cpp
  Source/WebCore/rendering/RenderBoxModelObject.cpp
  Source/WebCore/rendering/style/StyleGeneratedImage.h
  Source/WebCore/rendering/style/StyleImage.h
Owners: none

Support modules for web extension service workers. https://bugs.webkit.org/show_bug.cgi?id=247325 rdar://100429656
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtension.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionPrivate.h
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtension.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ServiceWorkerBasic.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtension.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionController.mm
Owners: @cdumez

Hide more standard library exports https://bugs.webkit.org/show_bug.cgi?id=247388 rdar://101884652
  Source/JavaScriptCore/Configurations/JavaScriptCore.xcconfig
Owners: @WebKit/jsc-reviewers

[Content Extensions] QueryTransforms should not unconditionally redirect to form-encoded URLs https://bugs.webkit.org/show_bug.cgi?id=247365
  Source/WebCore/contentextensions/ContentExtensionActions.cpp
  Tools/TestWebKitAPI/Tests/WebCore/ContentExtensions.cpp
Owners: none

AX ITM: Fix for LayoutTests/accessibility/svg-remote-element.html in isolated tree mode. https://bugs.webkit.org/show_bug.cgi?id=247316 <rdar://problem/101804648> <rdar://problem/101804648>
  LayoutTests/accessibility-isolated-tree/TestExpectations
  LayoutTests/accessibility/svg-remote-element.html
  LayoutTests/platform/glib/accessibility/svg-remote-element-expected.txt
  LayoutTests/platform/mac/accessibility/svg-remote-element-expected.txt
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AXObjectCache.h
  Source/WebCore/accessibility/AccessibilityRenderObject.cpp
  Source/WebCore/accessibility/AccessibilitySVGElement.cpp
  Source/WebCore/accessibility/AccessibilitySVGElement.h
  Source/WebCore/accessibility/AccessibilitySVGRoot.cpp
  Source/WebCore/accessibility/AccessibilitySVGRoot.h
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.cpp
Owners: none

[run-webkit-tests] Extra thread spawned for each worker https://bugs.webkit.org/show_bug.cgi?id=247324 rdar://101813483
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/__init__.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/multiprocessing_utils.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/task_pool.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/tests/multiprocessing_utils_unittest.py
Owners: @JonWBedard
