Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @calvaris, @philn, @ntrrgc, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @graouts

Use a reference instead of a nonnull pointer in systemFallbackForCharacters() https://bugs.webkit.org/show_bug.cgi?id=242284
  Source/WebCore/platform/graphics/Font.cpp
  Source/WebCore/platform/graphics/FontCache.h
  Source/WebCore/platform/graphics/cairo/FontCairoHarfbuzzNG.cpp
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/freetype/FontCacheFreeType.cpp
  Source/WebCore/platform/graphics/win/FontCacheWin.cpp
Owners: none

Web Inspector: REGRESSION (Bug 241817 ) Filter bars missing from Styles and Computed panels https://bugs.webkit.org/show_bug.cgi?id=242186
  Source/WebInspectorUI/UserInterface/Views/GeneralStyleDetailsSidebarPanel.js
Owners: @dcrousso, @patrickangle

[LFC][FFC] Resolve flex-basis upfront and use it at available space distribution https://bugs.webkit.org/show_bug.cgi?id=242131
  Source/WebCore/layout/formattingContexts/flex/FlexLayout.cpp
Owners: none

[LFC][FFC] Flex items with 0 logical width should still be able to flex https://bugs.webkit.org/show_bug.cgi?id=242161
  Source/WebCore/layout/formattingContexts/flex/FlexLayout.cpp
Owners: none

REGRESSION (iOS 16): Characters outside a font-face's unicode-range attribute don't render when characters in that range are present https://bugs.webkit.org/show_bug.cgi?id=241831 <rdar://95646820>
  LayoutTests/fast/text/font-face-fall-off-end-expected.html
  LayoutTests/fast/text/font-face-fall-off-end.html
  Source/WebCore/platform/graphics/Font.cpp
  Source/WebCore/platform/graphics/FontPlatformData.h
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/coretext/FontCoreText.cpp
Owners: none

[Flatpak SDK] Update Mold to version 1.3.1 https://bugs.webkit.org/show_bug.cgi?id=242279
  Tools/buildstream/elements/sdk/mold.bst
Owners: @JonWBedard

Merge 252091@main - Ensure promise is not garbage collected https://bugs.webkit.org/show_bug.cgi?id=242287
  Source/WebCore/crypto/SubtleCrypto.cpp
Owners: none

Change adoptNode() for a DocumentFragment with host https://bugs.webkit.org/show_bug.cgi?id=204980
  LayoutTests/imported/w3c/web-platform-tests/dom/nodes/adoption.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/scripting-1/the-template-element/template-element/template-content-hierarcy-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/serializing-html-fragments/template-expected.txt
  Source/WebCore/dom/ContainerNode.cpp
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/TemplateContentDocumentFragment.h
Owners: none

:lang pseudo class should work across shadow boundaries https://bugs.webkit.org/show_bug.cgi?id=235020
  LayoutTests/fast/shadow-dom/lang-pseudo-class-across-shadow-boundaries-expected.html
  LayoutTests/fast/shadow-dom/lang-pseudo-class-across-shadow-boundaries.html
  Source/WebCore/dom/Element.cpp
Owners: none

[GLIB] Fix memory leak in KeyedEncoderGlib finishEncoding() https://bugs.webkit.org/show_bug.cgi?id=242295
  Source/WebCore/platform/glib/KeyedEncoderGlib.cpp
Owners: none

Merge 252100@main - [GLIB] Fix memory leak in KeyedEncoderGlib finishEncoding() https://bugs.webkit.org/show_bug.cgi?id=242295
  Source/WebCore/platform/glib/KeyedEncoderGlib.cpp
Owners: none

[GStreamer] Improve error/warning message logging https://bugs.webkit.org/show_bug.cgi?id=242289
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
Owners: @ntrrgc, @calvaris, @philn

[GStreamer][VideoCapture] do not call reconfigure() in settingsDidChange unless size or framerate sucessfully changes https://bugs.webkit.org/show_bug.cgi?id=242291
  Source/WebCore/platform/mediastream/gstreamer/GStreamerVideoCaptureSource.cpp
Owners: @calvaris, @philn

[GStreamer][VideoCapture] Remove video/x-raw mime-type caps filters https://bugs.webkit.org/show_bug.cgi?id=242256
  Source/WebCore/platform/mediastream/gstreamer/GStreamerCaptureDeviceManager.cpp
Owners: @calvaris, @philn

[GStreamer][VideoCapture] Fix video/x-raw mime-type format check https://bugs.webkit.org/show_bug.cgi?id=242296
  Source/WebCore/platform/mediastream/gstreamer/GStreamerVideoCapturer.cpp
Owners: @calvaris, @philn

WKWebView: Username/Password autocomplete does not prompt on non-password inputs in Shadow DOM https://bugs.webkit.org/show_bug.cgi?id=203299
  Tools/TestWebKitAPI/Tests/ios/WKWebViewAutofillTests.mm
Owners: none

Performing a no-op animated resize cancels any pending resize immediately https://bugs.webkit.org/show_bug.cgi?id=242233
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/AnimatedResize.mm
Owners: none

iOS: click event doesn't get dispatched when there is a click event listener on ShadowRoot https://bugs.webkit.org/show_bug.cgi?id=218923
  LayoutTests/fast/shadow-dom/click-eventlistener-on-shadow-root-expected.txt
  LayoutTests/fast/shadow-dom/click-eventlistener-on-shadow-root.html
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
Owners: none

[iOS] "A problem repeatedly occurred" error page when safari resuming from background https://bugs.webkit.org/show_bug.cgi?id=242292 <rdar://96178034>
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebContentProcessDidTerminate.mm
Owners: none

Rename offlineasm's asm.deferAction to asm.deferOSDarwinAction. https://bugs.webkit.org/show_bug.cgi?id=242301
  Source/JavaScriptCore/offlineasm/arm64.rb
  Source/JavaScriptCore/offlineasm/asm.rb
Owners: @WebKit/jsc-reviewers

The :host() function pseudo-class should only accept a single compound-selector https://bugs.webkit.org/show_bug.cgi?id=222733
  LayoutTests/fast/shadow-dom/shadow-host-compound-selector-expected.html
  LayoutTests/fast/shadow-dom/shadow-host-compound-selector.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-scoping/host-parsing-expected.txt
  Source/WebCore/css/parser/CSSSelectorParser.cpp
Owners: none

Simplify resolveForDocument https://bugs.webkit.org/show_bug.cgi?id=242181
  Source/WebCore/rendering/RenderBlockFlow.cpp
  Source/WebCore/rendering/RenderBlockFlow.h
  Source/WebCore/style/StyleResolveForDocument.cpp
Owners: none

[GStreamer][VideoCapture] fix getVideoSizeAndFormatFromCaps/getVideoResolutionFromCaps for video/x-raw mime-type caps without format https://bugs.webkit.org/show_bug.cgi?id=242290
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.cpp
Owners: @ntrrgc, @calvaris, @philn

Merge 252086@main - Refine JSDOMGuardedObject https://bugs.webkit.org/show_bug.cgi?id=242282 rdar://94649571
  Source/WebCore/bindings/js/JSDOMGuardedObject.cpp
Owners: none

[GStreamer] Build failure with ENABLE_MEDIA_CAPTURE=ON https://bugs.webkit.org/show_bug.cgi?id=242309
  Source/WebKit/WebProcess/InjectedBundle/API/gtk/DOM/WebKitDOMHTMLInputElement.cpp
Owners: none

[resultsdb] Expose reported flakiness information in the UI https://bugs.webkit.org/show_bug.cgi?id=238809
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/model/suite_context.py
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/static/js/timeline.js
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/templates/search.html
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/templates/suite_results.html
Owners: @JonWBedard

Drop ARM softfp bot https://bugs.webkit.org/show_bug.cgi?id=242236
  Tools/CISupport/build-webkit-org/config.json
  Tools/CISupport/build-webkit-org/factories_unittest.py
  Tools/CISupport/build-webkit-org/public_html/dashboard/Scripts/WebKitBuildbot.js
Owners: @aj062, @JonWBedard, @ryanhaddad

[JSC] testair: testZDefOfSpillSlotWithOffsetNeedingToBeMaterializedInARegister incorrectly passes
  Source/JavaScriptCore/b3/air/testair.cpp
Owners: @WebKit/jsc-reviewers

[LFC][FFC] ContentPosition::Left/Start/Right/End are non-logical alignment values https://bugs.webkit.org/show_bug.cgi?id=242298
  Source/WebCore/layout/formattingContexts/flex/FlexLayout.cpp
Owners: none

[iOS] Mail occasionally crashes under WebKit: API::Attachment::enclosingImageData() https://bugs.webkit.org/show_bug.cgi?id=242251 rdar://96131691
  Source/WebKit/UIProcess/API/APIAttachment.cpp
  Source/WebKit/UIProcess/API/APIAttachment.h
  Source/WebKit/UIProcess/API/Cocoa/APIAttachmentCocoa.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKAttachment.mm
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
  Source/WebKit/UIProcess/Cocoa/WebViewImpl.mm
  Source/WebKit/UIProcess/QuickLookThumbnailLoader.h
  Source/WebKit/UIProcess/QuickLookThumbnailLoader.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKAttachmentTests.mm
Owners: none

Elide Move32 in Air register allocation on 32-bit platforms
  Source/JavaScriptCore/b3/air/AirAllocateRegistersAndStackAndGenerateCode.cpp
  Source/JavaScriptCore/b3/air/AirAllocateRegistersByGraphColoring.cpp
Owners: @WebKit/jsc-reviewers

block Air from using vfpv3-d32 registers
  Source/JavaScriptCore/b3/air/AirCode.cpp
Owners: @WebKit/jsc-reviewers

Merge 252113@main - [GStreamer] Build failure with ENABLE_MEDIA_CAPTURE=ON https://bugs.webkit.org/show_bug.cgi?id=242309
  Source/WebKit/WebProcess/InjectedBundle/API/gtk/DOM/WebKitDOMHTMLInputElement.cpp
Owners: none

[CSS Container Queries] Rename container-type value 'none' to 'normal' https://bugs.webkit.org/show_bug.cgi?id=242311 <rdar://96397509>
  LayoutTests/platform/mac-wk1/TestExpectations
Owners: none

[LFC][FFC] Add support for overconstrained alignment cases https://bugs.webkit.org/show_bug.cgi?id=242299
  Source/WebCore/layout/formattingContexts/flex/FlexLayout.cpp
Owners: none

[JSC] Use memchr in WTF::find for long strings https://bugs.webkit.org/show_bug.cgi?id=242305
  JSTests/microbenchmarks/string-index-of-10000001-404.js
  JSTests/microbenchmarks/string-index-of-10000001-beg.js
  JSTests/microbenchmarks/string-index-of-10000001-end.js
  JSTests/microbenchmarks/string-index-of-10000001-mid.js
  JSTests/microbenchmarks/string-index-of-1000001-404.js
  JSTests/microbenchmarks/string-index-of-1000001-beg.js
  JSTests/microbenchmarks/string-index-of-1000001-end.js
  JSTests/microbenchmarks/string-index-of-1000001-mid.js
  JSTests/microbenchmarks/string-index-of-100001-404.js
  JSTests/microbenchmarks/string-index-of-100001-beg.js
  JSTests/microbenchmarks/string-index-of-100001-end.js
  JSTests/microbenchmarks/string-index-of-100001-mid.js
  JSTests/microbenchmarks/string-index-of-10001-404.js
  JSTests/microbenchmarks/string-index-of-10001-beg.js
  JSTests/microbenchmarks/string-index-of-10001-end.js
  JSTests/microbenchmarks/string-index-of-10001-mid.js
  JSTests/microbenchmarks/string-index-of-1001-404.js
  JSTests/microbenchmarks/string-index-of-1001-beg.js
  JSTests/microbenchmarks/string-index-of-1001-end.js
  JSTests/microbenchmarks/string-index-of-1001-mid.js
  JSTests/microbenchmarks/string-index-of-101-404.js
  JSTests/microbenchmarks/string-index-of-101-beg.js
  JSTests/microbenchmarks/string-index-of-101-end.js
  JSTests/microbenchmarks/string-index-of-101-mid.js
  JSTests/microbenchmarks/string-index-of-11-404.js
  JSTests/microbenchmarks/string-index-of-11-beg.js
  JSTests/microbenchmarks/string-index-of-11-end.js
  JSTests/microbenchmarks/string-index-of-11-mid.js
  Source/WTF/wtf/text/StringCommon.h
Owners: @WebKit/jsc-reviewers

[LFC][FFC] Add flex-basis support for column direction https://bugs.webkit.org/show_bug.cgi?id=242300
  Source/WebCore/layout/formattingContexts/flex/FlexFormattingContext.cpp
  Source/WebCore/layout/formattingContexts/flex/FlexLayout.cpp
Owners: none

vw units doesn't get updated inside shadow trees as frame is resized https://bugs.webkit.org/show_bug.cgi?id=216240
  LayoutTests/fast/shadow-dom/shadow-style-invalidation-vw-units-expected.html
  LayoutTests/fast/shadow-dom/shadow-style-invalidation-vw-units.html
  Source/WebCore/dom/Document.cpp
  Source/WebCore/style/StyleScope.cpp
  Source/WebCore/style/StyleScope.h
Owners: none

[Alternate WebM Player] Allow device sleep during playback https://bugs.webkit.org/show_bug.cgi?id=242317
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.mm
Owners: none

[LFC][FFC] Flex item's min/max should include margin, border and padding https://bugs.webkit.org/show_bug.cgi?id=242302
  Source/WebCore/layout/integration/flex/LayoutIntegrationFlexLayout.cpp
Owners: none

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard
/Tools/TestWebKitAPI

# ================================================================================

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn

# ================================================================================

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

/Source/WebCore/Modules/apple-pay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/apple-pay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

# ================================================================================

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts
