Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

Add PropertyWrapperFontWeight to bound the values for weight https://bugs.webkit.org/show_bug.cgi?id=247140 rdar://problem/100986499
  LayoutTests/fonts/font-weight-invalid-crash-expected.txt
  LayoutTests/fonts/font-weight-invalid-crash.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/animations/system-fonts-expected.txt
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/css/css-fonts/animations/system-fonts-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-fonts/animations/system-fonts-expected.txt
  LayoutTests/platform/wpe/imported/w3c/web-platform-tests/css/css-fonts/animations/system-fonts-expected.txt
  Source/WebCore/animation/CSSPropertyAnimation.cpp
Owners: @graouts

Fix error in entitlement array https://bugs.webkit.org/show_bug.cgi?id=247219 rdar://101697089
  Source/WebKit/Scripts/process-entitlements.sh
Owners: none

Fix hasRareData() check in Element
  Source/WebCore/dom/Element.cpp
Owners: @rniwa, @cdumez

XMLSerializer.serializeToString() should support Attr node as parameter
  LayoutTests/fast/dom/XMLSerializer-expected.txt
  LayoutTests/fast/dom/XMLSerializer.html
  Source/WebCore/editing/MarkupAccumulator.cpp
Owners: @rniwa

GraphicsContextFlushIdentifier is defined in wrong layer https://bugs.webkit.org/show_bug.cgi?id=247185 rdar://problem/101674440
  Source/WebCore/Headers.cmake
  Source/WebCore/platform/graphics/GraphicsContextFlushIdentifier.h
  Source/WebCore/platform/graphics/ImageBuffer.h
  Source/WebKit/GPUProcess/graphics/RemoteDisplayListRecorder.cpp
  Source/WebKit/GPUProcess/graphics/RemoteDisplayListRecorder.h
  Source/WebKit/GPUProcess/graphics/RemoteDisplayListRecorder.messages.in
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.h
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/Scripts/webkit/tests/MessageArgumentDescriptions.cpp
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/GPU/graphics/DisplayListRecorderFlushIdentifier.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteDisplayListRecorderFlushIdentifier.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteDisplayListRecorderProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteDisplayListRecorderProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.messages.in
  Source/WebKit/WebProcess/GPU/graphics/ThreadSafeRemoteImageBufferFlusher.h
Owners: @cdumez

Style checker has issue with test implementation files with no primary headers https://bugs.webkit.org/show_bug.cgi?id=185057 rdar://problem/101670878
  Tools/Scripts/webkitpy/style/checkers/cpp.py
  Tools/Scripts/webkitpy/style/checkers/cpp_unittest.py
Owners: @JonWBedard

ImageBuffer::drawingContext() is an unused function https://bugs.webkit.org/show_bug.cgi?id=247193 rdar://problem/101676969
  Source/WebCore/platform/graphics/ImageBuffer.h
  Source/WebCore/platform/graphics/displaylists/DisplayListImageBuffer.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.h
Owners: @cdumez

Unreviewed, reverting r256120@main. https://bugs.webkit.org/show_bug.cgi?id=247224
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources-output.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Scripts/generate-derived-sources.sh
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIExtensionCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPINamespaceCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIRuntimeCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIExtension.h
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPINamespace.h
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIObject.h
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIRuntime.h
  Source/WebKit/WebProcess/Extensions/Bindings/Cocoa/JSWebExtensionWrapperCocoa.mm
  Source/WebKit/WebProcess/Extensions/Bindings/JSWebExtensionWrappable.h
  Source/WebKit/WebProcess/Extensions/Bindings/JSWebExtensionWrapper.cpp
  Source/WebKit/WebProcess/Extensions/Bindings/JSWebExtensionWrapper.h
  Source/WebKit/WebProcess/Extensions/Bindings/Scripts/CodeGeneratorExtensions.pm
  Source/WebKit/WebProcess/Extensions/Bindings/Scripts/IDLAttributes.json
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPIExtension.idl
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPINamespace.idl
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPIRuntime.idl
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebMessagePortChannelProvider.h
  Source/WebKit/WebProcess/WebPage/WebFoundTextRangeController.cpp
Owners: @cdumez

StringOperations.cpp test re-defines WTF::StringTypeAdapter implementation, undefined behaviour https://bugs.webkit.org/show_bug.cgi?id=247121 rdar://problem/101669240
  Source/WTF/wtf/text/StringConcatenate.h
  Source/WTF/wtf/text/StringView.cpp
  Tools/TestWebKitAPI/CMakeLists.txt
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WTF/StringOperators.cpp
  Tools/TestWebKitAPI/WTFStringUtilities.cpp
  Tools/TestWebKitAPI/WTFStringUtilities.h
Owners: none

Add findDoubleNan / findFloatNaN https://bugs.webkit.org/show_bug.cgi?id=247225 rdar://101708661
  Source/JavaScriptCore/runtime/JSArray.cpp
  Source/WTF/wtf/text/StringCommon.cpp
  Source/WTF/wtf/text/StringCommon.h
Owners: @WebKit/jsc-reviewers

Elements with negative margins do not avoid floats when appropriate
  LayoutTests/fast/block/float/avoid-floats-with-negative-margins-expected.html
  LayoutTests/fast/block/float/avoid-floats-with-negative-margins.html
  LayoutTests/platform/ios/fast/block/float/032-expected.txt
  LayoutTests/platform/mac/fast/block/float/032-expected.png
  LayoutTests/platform/mac/fast/block/float/032-expected.txt
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderBlock.h
  Source/WebCore/rendering/RenderBlockFlow.cpp
Owners: none

[Curl] Add some missing NetworkLoadMetrics information for curl port https://bugs.webkit.org/show_bug.cgi?id=247160
  LayoutTests/platform/wincairo/TestExpectations
  Source/WebCore/platform/network/curl/CurlContext.cpp
  Source/WebCore/platform/network/curl/CurlRequest.cpp
  Source/WebCore/platform/network/curl/CurlResourceHandleDelegate.cpp
  Source/WebCore/platform/network/curl/ResourceHandleCurl.cpp
  Source/WebKit/NetworkProcess/curl/NetworkDataTaskCurl.cpp
  Source/WebKit/NetworkProcess/curl/NetworkDataTaskCurl.h
Owners: @cdumez

[LFC][IFC] Add support for line-box-contain: glyphs https://bugs.webkit.org/show_bug.cgi?id=247072
  LayoutTests/fast/text/simple-line-layout-line-box-contain-glyphs-expected.html
  LayoutTests/fast/text/simple-line-layout-line-box-contain-glyphs.html
  Source/WebCore/layout/formattingContexts/inline/InlineLevelBox.h
  Source/WebCore/layout/formattingContexts/inline/InlineLineBoxBuilder.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineLineBoxBuilder.h
  Source/WebCore/layout/formattingContexts/inline/InlineLineBoxVerticalAligner.cpp
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.cpp
Owners: none

WPE: Tentative build-fix for the Ubuntu LTS bot https://bugs.webkit.org/show_bug.cgi?id=247228
  Tools/wpe/backends/fdo/WindowViewBackend.cpp
Owners: @WebKit/glib-reviewers, @zdobersek

Unreviewed, fix the Catalyst build after 256119@main
  Source/WebKit/UIProcess/WebsiteData/Cocoa/WebsiteDataStoreCocoa.mm
Owners: @cdumez

Non-unified build fixes, late October 2022 edition https://bugs.webkit.org/show_bug.cgi?id=247211
  Source/JavaScriptCore/inspector/remote/socket/RemoteInspectorServer.cpp
  Source/JavaScriptCore/inspector/remote/socket/RemoteInspectorSocketEndpoint.cpp
  Source/WTF/wtf/win/FileSystemWin.cpp
  Source/WebCore/Modules/reporting/ReportingScope.cpp
  Source/WebCore/css/CSSFontValue.cpp
  Source/WebCore/css/CSSValue.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/css/typedom/DeclaredStylePropertyMap.cpp
  Source/WebCore/css/typedom/StylePropertyMap.cpp
  Source/WebCore/dom/NodeList.h
  Source/WebCore/html/HTMLMetaElement.cpp
  Source/WebCore/html/URLSearchParams.h
  Source/WebCore/platform/graphics/filters/FilterTargetSwitcher.h
  Source/WebCore/platform/network/win/DownloadBundleWin.cpp
  Source/WebCore/platform/win/KeyEventWin.cpp
  Source/WebCore/rendering/style/StyleCanvasImage.h
  Source/WebCore/rendering/style/StyleCursorImage.h
  Source/WebCore/rendering/style/StyleGeneratedImage.cpp
  Source/WebCore/style/FilterOperationsBuilder.cpp
  Source/WebCore/style/FilterOperationsBuilder.h
  Source/WebCore/svg/SVGComponentTransferFunctionElement.cpp
  Source/WebDriver/socket/SessionHostSocket.cpp
  Source/WebKit/GPUProcess/graphics/ImageBufferShareableAllocator.cpp
  Source/WebKit/GPUProcess/graphics/ImageBufferShareableAllocator.h
  Source/WebKit/GPUProcess/graphics/RemoteImageBuffer.h
  Source/WebKit/Platform/IPC/IPCUtilities.h
  Source/WebKit/Shared/win/WebEventFactory.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebMessagePortChannelProvider.h
Owners: @dcrousso, @patrickangle, @rniwa, @cdumez, @carlosgcampos

Fix clientLeft value for RTL direction, while the element have vertical scrollbar in left side
  LayoutTests/fast/events/offsetX-offsetY.html
  LayoutTests/scrollbars/rtl/div-horizontal-with-vertical-scrollbar-expected.txt
  LayoutTests/scrollbars/rtl/div-horizontal-with-vertical-scrollbar.html
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderBox.h
Owners: @rniwa

Move more policy decision messages to WebFrameProxy https://bugs.webkit.org/show_bug.cgi?id=247201 rdar://101681444
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.h
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.h
  Source/WebKit/UIProcess/WebFrameProxy.messages.in
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
Owners: @cdumez

additionalOutlineSize is always zero in ShadowData[cpp|h]
  Source/WebCore/rendering/style/ShadowData.cpp
  Source/WebCore/rendering/style/ShadowData.h
Owners: none

Versioning.
  Configurations/Version.xcconfig
Owners: none

Unreviewed. Update OptionsWPE.cmake and NEWS for the 2.38.1 release
  Source/WebKit/wpe/NEWS
  Source/cmake/OptionsWPE.cmake
Owners: @WebKit/glib-reviewers, @zdobersek

[IFC][Integration] Disable IFC for RenderVTTCue https://bugs.webkit.org/show_bug.cgi?id=247238
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.cpp
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.h
Owners: none

[IFC][Integration] Disable IFC for nested deprecated flex content with line-clamp https://bugs.webkit.org/show_bug.cgi?id=247234
  LayoutTests/fast/block/line-clamp-collapse-nested-blocks-expected.html
  LayoutTests/fast/block/line-clamp-collapse-nested-blocks.html
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.cpp
  Source/WebCore/rendering/RenderBox.h
  Source/WebCore/rendering/RenderElement.h
Owners: none

[Nicosia] Remove Nicosia::CompositionLayer::updateState https://bugs.webkit.org/show_bug.cgi?id=247186
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeFixedNodeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeFrameScrollingNodeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeOverflowScrollProxyNodeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeOverflowScrollingNodeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreePositionedNodeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeStickyNodeNicosia.cpp
  Source/WebCore/platform/graphics/nicosia/NicosiaPlatformLayer.h
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedGraphicsLayer.cpp
Owners: @magomez, @zdobersek

[GTK][WPE] Improve detection of the web view main resource https://bugs.webkit.org/show_bug.cgi?id=247177
  Source/WebCore/loader/DocumentLoader.cpp
  Source/WebKit/UIProcess/API/glib/WebKitInjectedBundleClient.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebResource.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebResourcePrivate.h
  Source/WebKit/UIProcess/API/glib/WebKitWebView.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebViewPrivate.h
Owners: @cdumez, @WebKit/glib-reviewers

[GTK][WPE] Use a single global JavaScript context to serialize/deserialize script values https://bugs.webkit.org/show_bug.cgi?id=247180
  Source/WebKit/Shared/API/APISerializedScriptValue.h
  Source/WebKit/UIProcess/API/glib/APISerializedScriptValueGLib.cpp
  Source/WebKit/UIProcess/API/glib/WebKitJavascriptResult.cpp
  Source/WebKit/UIProcess/API/glib/WebKitJavascriptResultPrivate.h
  Source/WebKit/UIProcess/API/glib/WebKitWebView.cpp
Owners: @WebKit/glib-reviewers

Cherry-pick c19a629. rdar://101637166
  Source/WebCore/platform/text/TextFlags.cpp
Owners: none

Cherry-pick c00fe941b56e. rdar://problem/100122748
  Source/WebCore/rendering/style/SVGRenderStyleDefs.cpp
  Source/WebCore/rendering/style/StyleRareInheritedData.cpp
Owners: none

Cherry-pick eba490ba3cc4. rdar://problem/99926239
  LayoutTests/TestExpectations
  LayoutTests/compositing/backgrounds/fixed-background-on-descendant.html
  LayoutTests/compositing/backgrounds/fixed-backgrounds.html
  Source/WebCore/rendering/RenderBoxModelObject.cpp
Owners: none

[IFC][Integration] Disable IFC for RenderVTTCue https://bugs.webkit.org/show_bug.cgi?id=247238
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.cpp
Owners: none

Resync web-platform-tests/screen-orientation from upstream https://bugs.webkit.org/show_bug.cgi?id=247111 rdar://101619487
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/active-lock-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/active-lock.html
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/event-before-promise-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/event-before-promise.html
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/fullscreen-interactions-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/fullscreen-interactions.html
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/lock-basic-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/lock-basic.html
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/lock-sandboxed-iframe-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/lock-sandboxed-iframe.html
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/lock-unlock-check-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/lock-unlock-check.html
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/nested-documents-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/nested-documents.html
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/non-fully-active.html
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/onchange-event-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/onchange-event-subframe-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/onchange-event-subframe.html
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/onchange-event.html
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/orientation-reading-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/orientation-reading.html
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/resources/orientation-utils.js
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/resources/sandboxed-iframe-locking.html
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/unlock-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/unlock.html
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/screen-orientation/active-lock-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/screen-orientation/fullscreen-interactions-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/screen-orientation/lock-basic-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/screen-orientation/lock-sandboxed-iframe-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/screen-orientation/lock-unlock-check-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/screen-orientation/nested-documents-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/screen-orientation/onchange-event-subframe-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/screen-orientation/orientation-reading-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/screen-orientation/unlock-expected.txt
Owners: none

[WebDriver] Support "Get Computed Label" command https://bugs.webkit.org/show_bug.cgi?id=246814
  Source/WebDriver/Session.cpp
  Source/WebDriver/Session.h
  Source/WebDriver/WebDriverService.cpp
  Source/WebDriver/WebDriverService.h
  WebDriverTests/TestExpectations.json
Owners: @carlosgcampos

[LFC][IFC] Add support for "line-box-contain: inline-box" https://bugs.webkit.org/show_bug.cgi?id=247108
  LayoutTests/fast/block/lineboxcontain/inline-box.html
  LayoutTests/platform/ios/fast/block/lineboxcontain/inline-box-expected.txt
  LayoutTests/platform/ios/fast/block/lineboxcontain/inline-box-replaced-expected.txt
  LayoutTests/platform/ios/fast/block/lineboxcontain/inline-box-vertical-expected.txt
  LayoutTests/platform/mac/fast/block/lineboxcontain/inline-box-expected.txt
  LayoutTests/platform/mac/fast/block/lineboxcontain/inline-box-vertical-expected.txt
  Source/WebCore/layout/formattingContexts/inline/InlineLineBoxBuilder.cpp
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.cpp
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.h
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.cpp
  Source/WebCore/layout/layouttree/LayoutBoxGeometry.h
Owners: none

[GTK] Unreviewed, build fix for Debian stable after 256143@main
  Source/WebKit/Shared/API/APISerializedScriptValue.h
Owners: none

[GStreamer][WebRTC] Events forwarding between end-point and its consumers https://bugs.webkit.org/show_bug.cgi?id=247126
  Source/WebCore/platform/mediastream/RealtimeMediaSource.h
  Source/WebCore/platform/mediastream/gstreamer/GStreamerMediaStreamSource.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingAudioSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingAudioSourceGStreamer.h
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingSourceGStreamer.h
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingVideoSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingVideoSourceGStreamer.h
Owners: @philn

[IFC][Integration] Remove redundant FlowTextIsCombineText flag https://bugs.webkit.org/show_bug.cgi?id=247243
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.cpp
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.h
Owners: none

[GTK] Unreviewed, build fix for Debian stable after 256149@main
  Source/WebCore/platform/mediastream/RealtimeMediaSource.h
Owners: none

[GTK] REGRESSION(255909@main): GBM dependency may be disabled by mistake https://bugs.webkit.org/show_bug.cgi?id=247132
  Source/cmake/OptionsGTK.cmake
Owners: @WebKit/glib-reviewers

Unreviewed, reverting r256138@main. https://bugs.webkit.org/show_bug.cgi?id=247264
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.h
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.h
  Source/WebKit/UIProcess/WebFrameProxy.messages.in
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
Owners: @cdumez

JSON FastStringifier should adapt its buffer capacity based on remaining stack capacity. https://bugs.webkit.org/show_bug.cgi?id=244323 <rdar://problem/99064587>
  JSTests/stress/json-fast-stringifier-on-cyclic-structure.js
  Source/JavaScriptCore/runtime/JSONObject.cpp
Owners: @WebKit/jsc-reviewers

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
