Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

Cherry-pick 255401@main (8de977259722). rdar://101035018
  Tools/Scripts/hooks/prepare-commit-msg
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/setup.py
Owners: @JonWBedard, @facetothefate

Migrate from UIImagePickerController to PHPickerViewController for image/video upload UI https://bugs.webkit.org/show_bug.cgi?id=245906 rdar://82449143
  Source/WebKit/Platform/spi/ios/PhotosUISPI.h
  Source/WebKit/Shared/Cocoa/WebIconUtilities.mm
  Source/WebKit/UIProcess/ios/forms/WKFileUploadPanel.mm
Owners: @cdumez

[CMake] PlayStation VSI needs to set language on C files https://bugs.webkit.org/show_bug.cgi?id=245430
  Source/JavaScriptCore/PlatformPlayStation.cmake
  Source/bmalloc/CMakeLists.txt
  Source/bmalloc/PlatformPlayStation.cmake
  Source/cmake/WebKitMacros.cmake
Owners: @WebKit/jsc-reviewers, @Constellation

[LFC][IFC] Introduce LineBuilder::rootStyle https://bugs.webkit.org/show_bug.cgi?id=246383
  Source/WebCore/layout/formattingContexts/inline/InlineLineBuilder.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineLineBuilder.h
Owners: none

New Test(255420@main): [ macOS Release ] TestWebKitAPI.WKHTTPCookieStore.CookieAccessAfterNetworkProcessTermination is a flaky failure https://bugs.webkit.org/show_bug.cgi?id=246404 rdar://101081594
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKHTTPCookieStore.mm
Owners: none

-Wfree-nonheap-object and -Wuse-after-free from CSSValue.h https://bugs.webkit.org/show_bug.cgi?id=246292
  Source/WebCore/css/CSSValue.h
Owners: none

Fix iOS build after 255435@main https://bugs.webkit.org/show_bug.cgi?id=246408 rdar://101084829
  Source/WebKit/UIProcess/ios/forms/WKFileUploadPanel.mm
Owners: @cdumez

Shadows paint at the wrong scale in replayed CGDisplayLists https://bugs.webkit.org/show_bug.cgi?id=246369 rdar://96967173
  Source/WebCore/platform/graphics/cg/GraphicsContextCG.cpp
  Source/WebCore/platform/graphics/cg/GraphicsContextCG.h
  Source/WebKit/Shared/RemoteLayerTree/CGDisplayListImageBufferBackend.mm
Owners: none

Add validators to the new CoreIPC serialization format https://bugs.webkit.org/show_bug.cgi?id=246407 <rdar://problem/101082457>
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Shared/ShareableBitmap.serialization.in
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Owners: none

Fix armv7 compilation after 254890@main https://bugs.webkit.org/show_bug.cgi?id=246403
  Source/WebKit/UIProcess/Launcher/glib/ProcessProviderGLib.cpp
Owners: @WebKit/glib-reviewers

Merge 255431@main - [GStreamer] Introduce workaround for race condition in appsink
  Source/WebCore/platform/GStreamer.cmake
  Source/WebCore/platform/graphics/gstreamer/AppSinkWorkaround.cpp
  Source/WebCore/platform/graphics/gstreamer/AppSinkWorkaround.h
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.cpp
  Tools/Scripts/webkitpy/style/checker.py
Owners: @philn, @JonWBedard

Mark Compression Streams as Supported https://bugs.webkit.org/show_bug.cgi?id=246415
  Source/WebCore/features.json
Owners: none

[MQ4] Add an initial version of the modern media query parser https://bugs.webkit.org/show_bug.cgi?id=246398 <rdar://problem/101073075>
  Source/WebCore/Sources.txt
  Source/WebCore/css/CSSValueKeywords.in
  Source/WebCore/css/ContainerQuery.cpp
  Source/WebCore/css/ContainerQuery.h
  Source/WebCore/css/ContainerQueryParser.cpp
  Source/WebCore/css/query/GenericMediaQueryTypes.h
  Source/WebCore/css/query/MediaQueryParser.cpp
  Source/WebCore/css/query/MediaQueryParser.h
  Source/WebCore/style/ContainerQueryEvaluator.cpp
Owners: none

[32bit] skip stress/verify-can-gc-node-index.js if it's memory limited
  JSTests/stress/verify-can-gc-node-index.js
Owners: @WebKit/jsc-reviewers

rdar://101088767 ([safari-7614-branch] content-security-policy/gen/top.http-rp/script-src-wildcard WPT tests consistently failing)
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Owners: none

re-land r255421@main https://bugs.webkit.org/show_bug.cgi?id=246411 rdar://101085321
  Source/WebCore/dom/Document.cpp
  Source/WebCore/inspector/InspectorFrontendHost.cpp
  Source/WebCore/loader/DocumentLoader.cpp
  Source/WebCore/loader/EmptyClients.cpp
  Source/WebCore/loader/EmptyFrameLoaderClient.h
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/loader/FrameLoader.h
  Source/WebCore/loader/FrameLoaderClient.h
  Source/WebCore/loader/NavigationRequester.cpp
  Source/WebCore/loader/PolicyChecker.cpp
  Source/WebCore/loader/ResourceLoader.cpp
  Source/WebCore/loader/SubresourceLoader.cpp
  Source/WebCore/loader/cache/CachedResource.cpp
  Source/WebCore/loader/cache/CachedResourceLoader.cpp
  Source/WebCore/page/Frame.cpp
  Source/WebCore/page/Frame.h
  Source/WebCore/page/FrameView.cpp
  Source/WebCore/testing/Internals.cpp
  Source/WebKit/WebProcess/Network/WebLoaderStrategy.cpp
  Source/WebKit/WebProcess/Storage/RemoteWorkerFrameLoaderClient.cpp
  Source/WebKit/WebProcess/Storage/RemoteWorkerFrameLoaderClient.h
  Source/WebKit/WebProcess/Storage/WebSWContextManagerConnection.cpp
  Source/WebKit/WebProcess/Storage/WebSharedWorkerContextManagerConnection.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.h
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.mm
  Source/WebKitLegacy/win/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKitLegacy/win/WebCoreSupport/WebFrameLoaderClient.h
Owners: @rniwa, @cdumez, @dcrousso, @patrickangle

[JSC] Use watchpoint-set for StringPrototype sane chain checks https://bugs.webkit.org/show_bug.cgi?id=246384 rdar://101062242
  Source/JavaScriptCore/dfg/DFGGraph.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.h
  Source/JavaScriptCore/runtime/JSGlobalObjectInlines.h
  Source/JavaScriptCore/runtime/StringPrototype.h
Owners: @WebKit/jsc-reviewers

Fix additional Clang unused warnings https://bugs.webkit.org/show_bug.cgi?id=246366
  Source/JavaScriptCore/heap/GCSegmentedArrayInlines.h
  Source/WebCore/platform/graphics/playstation/SystemFontDatabasePlayStation.cpp
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebKit/NetworkProcess/curl/NetworkDataTaskCurl.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/WebProcess/WebProcess.cpp
Owners: @WebKit/jsc-reviewers, @cdumez

CSS perspective should only affect direct DOM children. https://bugs.webkit.org/show_bug.cgi?id=73268 <rdar://problem/100834757>
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/3d-rendering-context-behavior-expected.txt
  Source/WebCore/rendering/RenderLayerBacking.cpp
  Source/WebCore/rendering/RenderLayerBacking.h
  Source/WebCore/rendering/RenderLayerCompositor.cpp
  Source/WebCore/rendering/RenderObject.cpp
Owners: none

Add Sammy Gill as committer to contributors.json. https://bugs.webkit.org/show_bug.cgi?id=246418 rdar://101090417
  metadata/contributors.json
Owners: @JonWBedard

absolute element with drop-shadow is not repainted when relative parent moves. https://bugs.webkit.org/show_bug.cgi?id=118411
  Source/WebCore/rendering/RenderLayer.cpp
Owners: none

Encode WebCore::Paths using a trailing "end of path" marker instead of an element count prefix https://bugs.webkit.org/show_bug.cgi?id=246322 rdar://100873493
  Source/WTF/wtf/EnumTraits.h
  Source/WebCore/platform/graphics/GraphicsContextState.cpp
  Source/WebCore/platform/graphics/Path.h
Owners: none

SVG text transform css animation has no effect
  LayoutTests/resources/ahem.js
  LayoutTests/svg/repaint/transform-foreign-object-expected.txt
  LayoutTests/svg/repaint/transform-foreign-object.html
  LayoutTests/svg/repaint/transform-text-element-expected.txt
  LayoutTests/svg/repaint/transform-text-element.html
  Source/WebCore/rendering/svg/RenderSVGInline.cpp
Owners: none

[LFC][IFC] Update m_contentIsConstrainedByFloat even when only part of the candidate content is added to the current line https://bugs.webkit.org/show_bug.cgi?id=246402
  Source/WebCore/layout/formattingContexts/inline/InlineLineBuilder.cpp
Owners: none

Versioning.
  Configurations/Version.xcconfig
Owners: none

[JSC] Use storage node in ArrayPush for SlowPutArray https://bugs.webkit.org/show_bug.cgi?id=246405 rdar://problem/101081844
  JSTests/stress/slow-put-array-empty-push.js
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
Owners: @WebKit/jsc-reviewers

Implement last baseline alignment for CSS Grid. https://bugs.webkit.org/show_bug.cgi?id=243524 rdar://98089709
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-grid-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-grid-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-grid-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-004-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-fieldset-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-fieldset-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-fieldset-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-flex-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-flex-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-flex-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-flex-004-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-grid-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-grid-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-grid-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-line-clamp-001.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-line-clamp-002.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-line-clamp-003.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-overflow-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-overflow-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-overflow-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-table-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-justify-baseline-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-justify-baseline-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-justify-baseline-004-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-table-001-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-table-002-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-table-003-expected.txt
  Source/WebCore/rendering/GridBaselineAlignment.cpp
  Source/WebCore/rendering/GridBaselineAlignment.h
  Source/WebCore/rendering/GridTrackSizingAlgorithm.cpp
  Source/WebCore/rendering/RenderGrid.cpp
  Source/WebCore/rendering/RenderGrid.h
Owners: none

[Gardening]: New tests: [macOS WK2] imported/w3c/web-platform-tests/import-maps/multiple-import-maps tests are flaky failures https://bugs.webkit.org/show_bug.cgi?id=246355
  LayoutTests/platform/mac/TestExpectations
Owners: none

Re-enable GPU process DOM rendering on watchOS https://bugs.webkit.org/show_bug.cgi?id=246425 rdar://92484900
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
Owners: none

[iOS] the second pointer region request in a row can sometimes get stuck https://bugs.webkit.org/show_bug.cgi?id=246241 <rdar://problem/100143379>
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Owners: @cdumez

[Gardening]: New test(255354@main): [ macOS iOS ] imported/w3c/web-platform-tests/preload/preload-referrer-policy.html is a flaky failure https://bugs.webkit.org/show_bug.cgi?id=246427
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Owners: none

Cherry-pick 253305@main (16213795b52d). rdar://96998207
  Source/WebCore/Modules/applepay/paymentrequest/ApplePayPaymentHandler.cpp
  Source/WebCore/PAL/pal/spi/cg/CoreGraphicsSPI.h
  Source/WebCore/PAL/pal/spi/cocoa/PassKitSPI.h
  Source/WebCore/PAL/pal/spi/cocoa/VisionKitCoreSPI.h
  Source/WebCore/PAL/pal/spi/mac/NSSharingServicePickerSPI.h
  Source/WebKit/UIProcess/Cocoa/WebViewImpl.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/FullscreenVideoTextRecognition.mm
Owners: @dcrousso, @cdumez

Add initial support for screen orientation locking / unlocking https://bugs.webkit.org/show_bug.cgi?id=246302
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/non-fully-active-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/non-fully-active.html
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/onchange-event.html
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/screen-orientation/active-lock-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/screen-orientation/event-before-promise-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/screen-orientation/lock-basic-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/screen-orientation/lock-sandboxed-iframe-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/screen-orientation/lock-unlock-check-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/screen-orientation/onchange-event-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/screen-orientation/onchange-event-subframe-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/screen-orientation/orientation-reading-expected.txt
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebCore/Sources.txt
  Source/WebCore/page/ScreenOrientation.cpp
  Source/WebCore/page/ScreenOrientation.h
  Source/WebCore/page/ScreenOrientationType.h
  Source/WebCore/platform/ScreenOrientationManager.cpp
  Source/WebCore/platform/ScreenOrientationManager.h
  Source/WebKit/UIProcess/API/APIUIClient.h
  Source/WebKit/UIProcess/API/C/WKPage.cpp
  Source/WebKit/UIProcess/API/C/WKPageUIClient.h
  Source/WebKit/UIProcess/API/Cocoa/WKUIDelegatePrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewInternal.h
  Source/WebKit/UIProcess/Cocoa/UIDelegate.h
  Source/WebKit/UIProcess/Cocoa/UIDelegate.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebScreenOrientationManagerProxy.cpp
  Source/WebKit/UIProcess/WebScreenOrientationManagerProxy.h
  Tools/WebKitTestRunner/TestController.cpp
  Tools/WebKitTestRunner/TestController.h
  Tools/WebKitTestRunner/cocoa/TestRunnerWKWebView.h
  Tools/WebKitTestRunner/cocoa/TestRunnerWKWebView.mm
  Tools/WebKitTestRunner/ios/PlatformWebViewIOS.mm
  Tools/WebKitTestRunner/ios/TestControllerIOS.mm
Owners: @cdumez, @JonWBedard

[Wasm-GC] Fix handling of recursive types using shorthand encoding https://bugs.webkit.org/show_bug.cgi?id=246049
  JSTests/wasm/gc/rec.js
  Source/JavaScriptCore/wasm/WasmFormat.h
  Source/JavaScriptCore/wasm/WasmParser.h
  Source/JavaScriptCore/wasm/WasmSectionParser.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.h
Owners: @WebKit/jsc-reviewers

WKCGCommandsContext backing store is always sRGB https://bugs.webkit.org/show_bug.cgi?id=245983 <rdar://100735292>
  Source/WebKit/Shared/RemoteLayerTree/CGDisplayListImageBufferBackend.mm
Owners: none

Block syscall related to signal handling https://bugs.webkit.org/show_bug.cgi?id=246020 <rdar://100604972>
  Source/WTF/wtf/spi/darwin/SandboxSPI.h
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKit/SyscallUnixSandboxCheck.mm
Owners: @cdumez

REGRESSION(255205@main): Not all members of PublicKeyCredentialRequestOptions should be serialized https://bugs.webkit.org/show_bug.cgi?id=246432 rdar://101057340
  Source/WebCore/Modules/webauthn/AuthenticationExtensionsClientInputs.h
  Source/WebCore/Modules/webauthn/PublicKeyCredentialRequestOptions.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Owners: none

[Xcode] Add a style check to keep xcschemes in sync https://bugs.webkit.org/show_bug.cgi?id=245587
  Tools/Scripts/webkitpy/style/checker.py
  Tools/Scripts/webkitpy/style/checkers/xcscheme.py
  WebKit.xcworkspace/xcshareddata/xcschemes/All WebKit Tools.xcscheme
  WebKit.xcworkspace/xcshareddata/xcschemes/Everything up to WebKit.xcscheme
Owners: @JonWBedard

[JSC] Fix ArithMin/ArithMax handling for double, and Int32 speculation https://bugs.webkit.org/show_bug.cgi?id=246422 rdar://101048572
  JSTests/stress/arith-min-max-multiple.js
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
Owners: @WebKit/jsc-reviewers

[Gardening] Skip CSP tests that time out https://bugs.webkit.org/show_bug.cgi?id=246443 rdar://problem/101109993
  LayoutTests/TestExpectations
Owners: none

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
