Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

Versioning.
  Configurations/Version.xcconfig
Owners: none

REGRESSION (255086@main): Safari 16.4 and above does not render <option> label/text updates until <select> is focused https://bugs.webkit.org/show_bug.cgi?id=255230 rdar://107838336
  LayoutTests/fast/forms/select/selected-option-update-inner-html-expected.html
  LayoutTests/fast/forms/select/selected-option-update-inner-html.html
  Source/WebCore/html/HTMLSelectElement.cpp
Owners: @cdumez, @rniwa

[build.webkit.org / EWS] Increase iOS simulator child processes from 5 to 6 https://bugs.webkit.org/show_bug.cgi?id=255244 rdar://107850108
  Tools/CISupport/build-webkit-org/config.json
  Tools/CISupport/ews-build/config.json
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Owners: @aj062, @JonWBedard, @ryanhaddad

Cherry-pick 1d6fe184ea53. rdar://problem/107856564
  Source/WebCore/animation/WebAnimation.cpp
Owners: @graouts

Cherry-pick e34edaa74575. rdar://problem/107856432
  JSTests/stress/string-replace-regexp-matchBOL-correct-advancing.js
  Source/JavaScriptCore/runtime/StringPrototype.cpp
  Source/JavaScriptCore/yarr/YarrInterpreter.cpp
Owners: @WebKit/jsc-reviewers

[GARDENING][ iOS ] compositing/geometry/css-clip-oversize.html is a constant imageonlyfailure https://bugs.webkit.org/show_bug.cgi?id=255179 rdar://107774301
  LayoutTests/compositing/geometry/css-clip-oversize.html
  LayoutTests/platform/ios/TestExpectations
Owners: none

Cherry-pick 6c237e364b18. rdar://problem/104635569
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/platform/network/BlobRegistryImpl.h
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkProcess.messages.in
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/NetworkSession.h
  Source/WebKit/NetworkProcess/NetworkSessionCreationParameters.cpp
  Source/WebKit/NetworkProcess/NetworkSessionCreationParameters.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.h
Owners: @cdumez

Versioning.
  Configurations/Version.xcconfig
Owners: none

Cherry-pick 1d6fe184ea53. rdar://problem/107856564
  Source/WebCore/animation/WebAnimation.cpp
Owners: @graouts

Cherry-pick e34edaa74575. rdar://problem/107856432
  JSTests/stress/string-replace-regexp-matchBOL-correct-advancing.js
  Source/JavaScriptCore/runtime/StringPrototype.cpp
  Source/JavaScriptCore/yarr/YarrInterpreter.cpp
Owners: @WebKit/jsc-reviewers

[REBASELINE]REGRESSION(262768@main): [ iOS ]4X fast/block/lineboxcontain (layout-tests) are constant text failures https://bugs.webkit.org/show_bug.cgi?id=255260 rdar://problem/107857807
  LayoutTests/platform/ios/fast/block/lineboxcontain/font-replaced-expected.txt
  LayoutTests/platform/ios/fast/block/lineboxcontain/inline-box-expected.txt
  LayoutTests/platform/ios/fast/block/lineboxcontain/inline-box-replaced-expected.txt
  LayoutTests/platform/ios/fast/block/lineboxcontain/inline-box-vertical-expected.txt
Owners: none

[GARDENING] REGRESSION(262774@main): [ iOS ] editing/selection/ios/selection-handles-in-readonly-input.html is a constant timeout https://bugs.webkit.org/show_bug.cgi?id=255261 rdar://107860599
  LayoutTests/platform/ios/TestExpectations
Owners: none

Add missing exception check in ScriptExecutable::newCodeBlockFor https://bugs.webkit.org/show_bug.cgi?id=255259 rdar://107856292
  Source/JavaScriptCore/runtime/ModuleProgramExecutable.cpp
  Source/JavaScriptCore/runtime/ModuleProgramExecutable.h
  Source/JavaScriptCore/runtime/ScriptExecutable.cpp
Owners: @WebKit/jsc-reviewers

OMG should pop try arguments rdar://106354199
  JSTests/wasm/stress/block_end_aliasing.js
  JSTests/wasm/stress/block_end_aliasing.wasm
  JSTests/wasm/stress/block_end_aliasing_2.js
  JSTests/wasm/stress/block_end_aliasing_2.wasm
  JSTests/wasm/stress/block_end_aliasing_2.wat
  JSTests/wasm/stress/if-block-arguments-2.js
  JSTests/wasm/stress/if-block-arguments.js
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp
Owners: @WebKit/jsc-reviewers

REGRESSION(261193@main): Context menu on AnkiApp is hidden https://bugs.webkit.org/show_bug.cgi?id=255252 rdar://106810768
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WTF/wtf/cocoa/RuntimeApplicationChecksCocoa.h
  Source/WebKit/Shared/WebPreferencesDefaultValues.cpp
  Source/WebKit/Shared/WebPreferencesDefaultValues.h
  Source/WebKitLegacy/mac/WebView/WebPreferencesDefaultValues.h
  Source/WebKitLegacy/mac/WebView/WebPreferencesDefaultValues.mm
Owners: none

Remove Legacy Dashboard Support https://bugs.webkit.org/show_bug.cgi?id=255204
  Source/WebCore/platform/mac/PasteboardMac.mm
  Source/WebKit/Configurations/WebKit.xcconfig
  Source/WebKit/MigratedHeaders-input.xcfilelist
  Source/WebKit/MigratedHeaders-output.xcfilelist
  Source/WebKit/Modules/OSX_Private.modulemap
  Source/WebKitLegacy/PlatformMac.cmake
  Source/WebKitLegacy/WebKitLegacy.xcodeproj/project.pbxproj
  Source/WebKitLegacy/mac/Configurations/WebKitLegacy.xcconfig
  Source/WebKitLegacy/mac/WebKit.order
  Source/WebKitLegacy/mac/WebView/WebDashboardRegion.h
  Source/WebKitLegacy/mac/WebView/WebDashboardRegion.mm
  Source/WebKitLegacy/mac/WebView/WebUIDelegatePrivate.h
  Source/WebKitLegacy/mac/WebView/WebView.mm
  Source/WebKitLegacy/mac/WebView/WebViewData.h
  Source/WebKitLegacy/mac/WebView/WebViewPrivate.h
Owners: none

[WGSL] Update argument types after overload resolution https://bugs.webkit.org/show_bug.cgi?id=255049 rdar://107676263
  Source/WTF/wtf/UniqueRef.h
  Source/WebGPU/WGSL/Metal/MetalFunctionWriter.cpp
  Source/WebGPU/WGSL/Overload.cpp
  Source/WebGPU/WGSL/Overload.h
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/tests/invalid/overload.wgsl
  Source/WebGPU/WGSL/tests/valid/concretization.wgsl
Owners: none

[CSS Fonts] Implement the from-font value for font-size-adjust https://bugs.webkit.org/show_bug.cgi?id=254790
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/font-size-adjust-013-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/font-size-adjust-013.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-size-adjust-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-size-adjust-computed.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-size-adjust-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-size-adjust-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-size-adjust-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-size-adjust-valid.html
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/CSSValueKeywords.in
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/platform/graphics/FontSizeAdjust.h
  Source/WebCore/style/StyleBuilderConverter.h
  Source/WebCore/style/StyleFontSizeFunctions.cpp
  Source/WebCore/style/StyleFontSizeFunctions.h
Owners: none

[UI-side compositing] Scrolling is not as smooth as it should be on 120Hz displays https://bugs.webkit.org/show_bug.cgi?id=255254 <rdar://107837416>
  Source/WebCore/page/scrolling/ScrollingTree.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeEventDispatcher.cpp
Owners: @cdumez

[WGSL] Implement if statement parsing https://bugs.webkit.org/show_bug.cgi?id=255183 rdar://problem/107775701
  Source/WebGPU/WGSL/AST/ASTIfStatement.h
  Source/WebGPU/WGSL/AST/ASTVisitor.cpp
  Source/WebGPU/WGSL/Lexer.cpp
  Source/WebGPU/WGSL/Parser.cpp
  Source/WebGPU/WGSL/ParserPrivate.h
  Source/WebGPU/WGSL/Token.cpp
  Source/WebGPU/WGSL/Token.h
  Tools/TestWebKitAPI/Tests/WGSL/LexerTests.cpp
  Tools/TestWebKitAPI/Tests/WGSL/ParserTests.cpp
Owners: none

Upstream Safari 16-16.4 RuntimeApplicationChecks https://bugs.webkit.org/show_bug.cgi?id=255253 rdar://107853760
  Source/WTF/wtf/cocoa/RuntimeApplicationChecksCocoa.cpp
  Source/WTF/wtf/spi/darwin/dyldSPI.h
Owners: none

AX: Defer handling children changes for dynamic aria-hidden attribute updates https://bugs.webkit.org/show_bug.cgi?id=255245 rdar://107589985
  LayoutTests/accessibility/mac/aria-hidden-changes-for-non-ignored-elements.html
  LayoutTests/accessibility/mac/iframe-aria-hidden-expected.txt
  LayoutTests/accessibility/mac/iframe-aria-hidden.html
  Source/WebCore/accessibility/AXObjectCache.cpp
Owners: none

[Cocoa] Upgrade ManagedMediaSource status to preview https://bugs.webkit.org/show_bug.cgi?id=255241 rdar://105992988
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebKit/Shared/WebPreferencesDefaultValues.cpp
Owners: none

Fix macOS 13.4 typo in dyldSPI.h https://bugs.webkit.org/show_bug.cgi?id=255271 rdar://107866431
  Source/WTF/wtf/cocoa/RuntimeApplicationChecksCocoa.cpp
  Source/WTF/wtf/spi/darwin/dyldSPI.h
Owners: none

[GTK] Unreviewed, build fix for Debian Stable after 262488@main https://bugs.webkit.org/show_bug.cgi?id=253964
  Source/WebKit/UIProcess/gtk/PointerLockManagerWayland.cpp
  Source/WebKit/UIProcess/gtk/PointerLockManagerX11.cpp
Owners: @WebKit/glib-reviewers

[JSC] Make StructureTransitionTable link half-weak https://bugs.webkit.org/show_bug.cgi?id=255137 rdar://107739562
  JSTests/microbenchmarks/object-assign-multiple.js
  Source/JavaScriptCore/builtins/BuiltinExecutables.cpp
  Source/JavaScriptCore/builtins/BuiltinExecutables.h
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/bytecode/CodeBlock.h
  Source/JavaScriptCore/bytecode/UnlinkedFunctionExecutable.cpp
  Source/JavaScriptCore/bytecode/UnlinkedFunctionExecutable.h
  Source/JavaScriptCore/heap/Heap.cpp
  Source/JavaScriptCore/heap/Heap.h
  Source/JavaScriptCore/runtime/ArgList.h
  Source/JavaScriptCore/runtime/ErrorInstance.cpp
  Source/JavaScriptCore/runtime/ErrorInstance.h
  Source/JavaScriptCore/runtime/FunctionExecutable.h
  Source/JavaScriptCore/runtime/FunctionExecutableInlines.h
  Source/JavaScriptCore/runtime/GlobalExecutable.cpp
  Source/JavaScriptCore/runtime/GlobalExecutable.h
  Source/JavaScriptCore/runtime/InferredValue.h
  Source/JavaScriptCore/runtime/InferredValueInlines.h
  Source/JavaScriptCore/runtime/JSFinalizationRegistry.cpp
  Source/JavaScriptCore/runtime/JSFinalizationRegistry.h
  Source/JavaScriptCore/runtime/JSObject.cpp
  Source/JavaScriptCore/runtime/JSObject.h
  Source/JavaScriptCore/runtime/JSWeakObjectRef.cpp
  Source/JavaScriptCore/runtime/JSWeakObjectRef.h
  Source/JavaScriptCore/runtime/ObjectConstructor.cpp
  Source/JavaScriptCore/runtime/ObjectConstructorInlines.h
  Source/JavaScriptCore/runtime/Structure.cpp
  Source/JavaScriptCore/runtime/Structure.h
  Source/JavaScriptCore/runtime/StructureInlines.h
  Source/JavaScriptCore/runtime/StructureRareData.cpp
  Source/JavaScriptCore/runtime/StructureRareData.h
  Source/JavaScriptCore/runtime/StructureTransitionTable.h
  Source/JavaScriptCore/runtime/SymbolTable.h
  Source/JavaScriptCore/runtime/SymbolTableInlines.h
  Source/JavaScriptCore/runtime/WeakMapImpl.h
  Source/JavaScriptCore/runtime/WeakMapImplInlines.h
  Source/JavaScriptCore/wasm/js/JSWebAssemblyModule.cpp
  Source/JavaScriptCore/wasm/js/JSWebAssemblyModule.h
Owners: @WebKit/jsc-reviewers

imported/w3c/web-platform-tests/preload/modulepreload.html is a flaky failure https://bugs.webkit.org/show_bug.cgi?id=255242 <rdar://107840455>
  LayoutTests/TestExpectations
  Source/WebCore/loader/ResourceTimingInformation.cpp
  Source/WebCore/loader/ResourceTimingInformation.h
Owners: @cdumez

Unreviewed, follow-up after 262809@main https://bugs.webkit.org/show_bug.cgi?id=255273 rdar://107871233
  Source/JavaScriptCore/runtime/JSObject.cpp
  Source/JavaScriptCore/runtime/ObjectConstructor.cpp
  Source/JavaScriptCore/runtime/StructureInlines.h
Owners: @WebKit/jsc-reviewers

REGRESSION(262572@main): [GTK] No contents renderer after process swap for navigation https://bugs.webkit.org/show_bug.cgi?id=255221
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.h
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHost.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHost.h
  Source/WebKit/WebProcess/WebPage/DrawingArea.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/gtk/AcceleratedSurfaceDMABuf.cpp
Owners: @magomez, @zdobersek, @cdumez, @WebKit/glib-reviewers

Handle vary headers appropriately for DOMCache opaque response https://bugs.webkit.org/show_bug.cgi?id=255170 rdar://problem/107769146
  LayoutTests/imported/w3c/web-platform-tests/service-workers/cache-storage/cache-match.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/service-workers/cache-storage/cache-match.https.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/service-workers/cache-storage/cache-match.https.any.sharedworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/service-workers/cache-storage/cache-match.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/service-workers/cache-storage/serviceworker/cache-match.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/service-workers/cache-storage/window/cache-match.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/service-workers/cache-storage/worker/cache-match.https-expected.txt
  Source/WebKit/NetworkProcess/storage/CacheStorageCache.cpp
  Source/WebKit/NetworkProcess/storage/CacheStorageDiskStore.cpp
  Source/WebKit/NetworkProcess/storage/CacheStorageRecord.h
Owners: @cdumez

[GCC] Build error in Ubuntu 20.04 after 262721@main https://bugs.webkit.org/show_bug.cgi?id=255264
  Source/WebCore/page/scrolling/ScrollingStateScrollingNode.h
Owners: @cdumez

ManagedMediaSource: remove BufferingPolicy attribute and add event listener. https://bugs.webkit.org/show_bug.cgi?id=255262 rdar://107862766
  Source/WebCore/Modules/mediasource/ManagedMediaSource.cpp
  Source/WebCore/Modules/mediasource/ManagedMediaSource.h
  Source/WebCore/Modules/mediasource/ManagedMediaSource.idl
  Source/WebCore/dom/EventNames.h
Owners: @rniwa, @cdumez

Unreviewed Win JSC stress test gardening https://bugs.webkit.org/show_bug.cgi?id=255274
  JSTests/stress/ensure-crash.js
  JSTests/stress/regexp-testinline-stacklimits.js
Owners: @WebKit/jsc-reviewers

[SOUP] Do not handle HSTS upgrade as a redirection in case of redirection https://bugs.webkit.org/show_bug.cgi?id=255218
  Source/WebKit/NetworkProcess/soup/NetworkDataTaskSoup.cpp
Owners: @WebKit/glib-reviewers

Finalize postMessage support to being created service worker clients https://bugs.webkit.org/show_bug.cgi?id=255203 rdar://problem/107802408
  LayoutTests/imported/w3c/web-platform-tests/service-workers/service-worker/controlled-dedicatedworker-postMessage.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/service-workers/service-worker/controlled-iframe-postMessage.https-expected.txt
  Source/WebCore/workers/service/SWClientConnection.cpp
  Source/WebCore/workers/service/SWClientConnection.h
  Source/WebCore/workers/service/ServiceWorkerContainer.cpp
  Source/WebCore/workers/service/WorkerSWClientConnection.cpp
  Source/WebCore/workers/service/WorkerSWClientConnection.h
  Source/WebCore/workers/service/server/SWServer.cpp
  Source/WebCore/workers/service/server/SWServer.h
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerConnection.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerConnection.h
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerConnection.messages.in
  Source/WebKit/WebProcess/Storage/WebSWClientConnection.cpp
  Source/WebKit/WebProcess/Storage/WebSWClientConnection.h
  Source/WebKit/WebProcess/Storage/WebSWClientConnection.messages.in
Owners: @cdumez

[EME] media/encrypted-media/mock-MediaKeySession-generateRequest.html is a flaky crash https://bugs.webkit.org/show_bug.cgi?id=251550
  Source/WebCore/testing/MockCDMFactory.cpp
Owners: none

[GStreamer] Refactor appsink callbacks handling https://bugs.webkit.org/show_bug.cgi?id=255093
  Source/WebCore/platform/audio/gstreamer/AudioFileReaderGStreamer.cpp
  Source/WebCore/platform/audio/gstreamer/AudioSourceProviderGStreamer.cpp
  Source/WebCore/platform/mediarecorder/MediaRecorderPrivateGStreamer.cpp
Owners: @philn

[Web Inspector] Fix crash when inspecting counter style rule https://bugs.webkit.org/show_bug.cgi?id=255084 rdar://107576505
  LayoutTests/inspector/css/getMatchedStylesForNode.html
  Source/WebCore/css/parser/CSSParserImpl.cpp
Owners: @patrickangle

Avoid wptserve triggering "accept incoming network connections?" prompt https://bugs.webkit.org/show_bug.cgi?id=253164
  LayoutTests/imported/w3c/resources/config.json
  Tools/Scripts/webkitpy/layout_tests/servers/web_platform_test_server.py
Owners: @JonWBedard

Avoid unnecessary StyleColor copying in animation wrappers https://bugs.webkit.org/show_bug.cgi?id=255278 rdar://107875297
  Source/WebCore/animation/CSSPropertyAnimation.cpp
Owners: @graouts

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
