Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

[iOS] Fix the iOS build https://bugs.webkit.org/show_bug.cgi?id=255370 rdar://107962711
  Source/WTF/wtf/PlatformUse.h
  Source/WebKit/Shared/ApplePay/cocoa/WebPaymentCoordinatorProxyCocoa.mm
Owners: none

[Gardening]: REGRESSION(256042@main): [ iOS Debug ] accessibility/visible-character-range-scrolling.html is a constant timeout https://bugs.webkit.org/show_bug.cgi?id=251300 rdar://104766054
  LayoutTests/platform/ios/TestExpectations
Owners: none

[WebGPU] RemoteBuffer unmap should check the input vector https://bugs.webkit.org/show_bug.cgi?id=255350 <rdar://107947502>
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteBuffer.cpp
Owners: none

Enable logd blocking in WebContent https://bugs.webkit.org/show_bug.cgi?id=255222 rdar://106827155
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WTF/wtf/spi/cocoa/OSLogSPI.h
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.h
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.messages.in
  Source/WebKit/WebProcess/WebProcess.cpp
  Source/WebKit/WebProcess/WebProcess.h
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Owners: @cdumez

Cherry-pick 261925@main (38857c77abb9). https://bugs.webkit.org/show_bug.cgi?id=254215
  Source/WebCore/platform/graphics/gstreamer/eme/CDMThunder.cpp
Owners: @philn

Cherry-pick 261925@main (38857c77abb9). https://bugs.webkit.org/show_bug.cgi?id=254215
  Source/WebCore/platform/graphics/gstreamer/eme/CDMThunder.cpp
Owners: @philn

Cherry-pick 261948@main (4433b2e3d9c8). https://bugs.webkit.org/show_bug.cgi?id=254164
  LayoutTests/fast/mediastream/RTCPeerConnection-inspect-answer-expected.txt
  LayoutTests/fast/mediastream/RTCPeerConnection-inspect-offer-expected.txt
  LayoutTests/fast/mediastream/resources/sdp-utils.js
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/fast/mediastream/RTCPeerConnection-inspect-answer-expected.txt
  LayoutTests/platform/glib/fast/mediastream/RTCPeerConnection-inspect-offer-expected.txt
Owners: none

Cherry-pick 261948@main (4433b2e3d9c8). https://bugs.webkit.org/show_bug.cgi?id=254164
  LayoutTests/fast/mediastream/RTCPeerConnection-inspect-answer-expected.txt
  LayoutTests/fast/mediastream/RTCPeerConnection-inspect-offer-expected.txt
  LayoutTests/fast/mediastream/resources/sdp-utils.js
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/fast/mediastream/RTCPeerConnection-inspect-answer-expected.txt
  LayoutTests/platform/glib/fast/mediastream/RTCPeerConnection-inspect-offer-expected.txt
Owners: none

Cherry-pick 261951@main (aff28bc50d0e). https://bugs.webkit.org/show_bug.cgi?id=254212
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/webrtc/routines.js
  LayoutTests/webrtc/video-disabled-black.html
  Source/WebCore/platform/mediastream/gstreamer/GStreamerMediaStreamSource.cpp
Owners: @philn

Cherry-pick 261954@main (2a1e99580320). https://bugs.webkit.org/show_bug.cgi?id=254163
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/fast/mediastream/RTCPeerConnection-have-local-offer-expected.txt
  LayoutTests/platform/glib/fast/mediastream/RTCPeerConnection-stable-expected.txt
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.cpp
Owners: @philn

Cherry-pick 261954@main (2a1e99580320). https://bugs.webkit.org/show_bug.cgi?id=254163
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/fast/mediastream/RTCPeerConnection-have-local-offer-expected.txt
  LayoutTests/platform/glib/fast/mediastream/RTCPeerConnection-stable-expected.txt
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.cpp
Owners: @philn

REGRESSION(r262728): elementsFromPoint misses elements if they are in different paint passes. https://bugs.webkit.org/show_bug.cgi?id=255266 <rdar://problem/107862197>
  LayoutTests/fast/dom/elementsFromPoint-z-index-expected.txt
  LayoutTests/fast/dom/elementsFromPoint-z-index.html
  Source/WebCore/rendering/RenderLayer.cpp
Owners: @rniwa

Query LaunchServices to determine the host app bundle identifier https://bugs.webkit.org/show_bug.cgi?id=255361 rdar://107931346
  Source/WebCore/PAL/pal/spi/cocoa/LaunchServicesSPI.h
  Source/WebKit/Configurations/WebKit.xcconfig
  Source/WebKit/Scripts/process-entitlements.sh
  Source/WebKit/webpushd/PushClientConnection.h
  Source/WebKit/webpushd/PushClientConnection.mm
Owners: none

[JSC] MSVC miscompiles PropertyCatchalls_setProperty in testapi.c https://bugs.webkit.org/show_bug.cgi?id=255331
  Source/JavaScriptCore/API/tests/testapi.c
Owners: @WebKit/jsc-reviewers

Make data eviction based on user interaction time when ITP is enabled https://bugs.webkit.org/show_bug.cgi?id=255272
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsDatabaseStore.cpp
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsDatabaseStore.h
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsStore.h
  Source/WebKit/NetworkProcess/Classifier/WebResourceLoadStatisticsStore.cpp
  Source/WebKit/NetworkProcess/Classifier/WebResourceLoadStatisticsStore.h
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.h
  Source/WebKit/NetworkProcess/storage/OriginQuotaManager.cpp
  Source/WebKit/NetworkProcess/storage/OriginQuotaManager.h
  Source/WebKit/NetworkProcess/storage/OriginStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/OriginStorageManager.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebsiteDatastore.mm
Owners: @cdumez

Unreviewed, reverting r262886@main. https://bugs.webkit.org/show_bug.cgi?id=255386
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.mm
  Source/WebCore/PAL/pal/spi/cocoa/AVFoundationSPI.h
  Source/WebCore/platform/audio/cocoa/AudioSessionCocoa.h
  Source/WebCore/platform/audio/cocoa/AudioSessionCocoa.mm
  Source/WebCore/platform/audio/ios/AudioSessionIOS.h
  Source/WebCore/platform/audio/ios/AudioSessionIOS.mm
  Source/WebCore/platform/audio/mac/AudioSessionMac.h
  Source/WebCore/platform/audio/mac/AudioSessionMac.mm
Owners: none
