Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @calvaris, @philn, @ntrrgc, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @graouts

Apply patch. rdar://problem/96070380
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/ContextMtl.mm
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/mtl_buffer_pool.mm
Owners: none

Apply patch. rdar://problem/96070380
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/ContextMtl.mm
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/mtl_buffer_pool.mm
Owners: none

Add myself as reviewer to contributors.json. https://bugs.webkit.org/show_bug.cgi?id=242402
  metadata/contributors.json
Owners: @JonWBedard

Resync WPT tests for custom elements https://bugs.webkit.org/show_bug.cgi?id=242373
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/form-associated/ElementInternals-accessibility.html
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/form-associated/ElementInternals-form-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/form-associated/ElementInternals-form.html
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/form-associated/ElementInternals-labels.html
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/form-associated/ElementInternals-reportValidity-bubble-expected.html
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/form-associated/ElementInternals-reportValidity-bubble-ref.html
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/form-associated/ElementInternals-reportValidity-bubble.html
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/form-associated/ElementInternals-setFormValue-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/form-associated/ElementInternals-setFormValue.html
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/form-associated/ElementInternals-validation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/form-associated/ElementInternals-validation.html
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/form-associated/fieldset-elements-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/form-associated/fieldset-elements.html
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/form-associated/form-associated-callback.html
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/form-associated/form-elements-namedItem-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/form-associated/form-elements-namedItem.html
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/form-associated/label-delegatesFocus-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/form-associated/label-delegatesFocus.html
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/form-associated/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/pseudo-class-defined-print-ref.html
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/reactions/HTMLSourceElement-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/reactions/HTMLSourceElement.html
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/reactions/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/w3c-import.log
Owners: none

Regression(252033@main) Sometimes plays audio without video when going fullscreen https://bugs.webkit.org/show_bug.cgi?id=242410 <rdar://96484603>
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebCore/PAL/pal/spi/cocoa/AVKitSPI.h
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/platform/cocoa/VideoFullscreenInterfacePiP.h
  Source/WebCore/platform/cocoa/VideoFullscreenInterfacePiP.mm
  Source/WebCore/platform/cocoa/WebAVPlayerLayer.h
  Source/WebCore/platform/cocoa/WebAVPlayerLayer.mm
  Source/WebCore/platform/ios/VideoFullscreenInterfaceAVKit.h
  Source/WebCore/platform/ios/VideoFullscreenInterfaceAVKit.mm
  Source/WebCore/platform/ios/WebVideoFullscreenControllerAVKit.mm
  Source/WebKit/UIProcess/Cocoa/VideoFullscreenManagerProxy.h
  Source/WebKit/UIProcess/Cocoa/VideoFullscreenManagerProxy.mm
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
  Source/WebKit/WebProcess/cocoa/VideoFullscreenManager.mm
Owners: none

[GPU Process] RemoteRenderingBackend must ignore resource messages once m_remoteResourceCache is cleared https://bugs.webkit.org/show_bug.cgi?id=242142 rdar://94143906
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.h
  Source/WebKit/Platform/IPC/StreamConnectionWorkQueue.cpp
  Source/WebKit/Platform/IPC/StreamConnectionWorkQueue.h
Owners: none

[ews-build.webkit.org] Clean identifier cache https://bugs.webkit.org/show_bug.cgi?id=242411 <rdar://problem/96545255>
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Owners: @aj062, @JonWBedard, @ryanhaddad

REGRESSION (iOS 15 / r275792): rAF sometimes seems to lose connection to v-sync signal and runs at < 60 fps https://bugs.webkit.org/show_bug.cgi?id=234923 <rdar://87465488>
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/ios/WKContentView.mm
  Source/WebKit/UIProcess/ios/WebPageProxyIOS.mm
Owners: none

[iOS 15.3+] Crash at -[UIViewController presentViewController:withAnimationController:completion:], called on a wrong thread https://bugs.webkit.org/show_bug.cgi?id=242235 rdar://96305779
  Source/WebCore/Modules/mediastream/MediaDevices.cpp
  Source/WebCore/Modules/mediastream/MediaDevices.h
  Source/WebKit/UIProcess/Cocoa/MediaPermissionUtilities.mm
  Source/WebKit/UIProcess/Cocoa/UIDelegate.mm
Owners: none

Constructing a custom element should immediately execute microtasks if there are no scripts https://bugs.webkit.org/show_bug.cgi?id=188629
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/microtasks-and-constructors-expected.txt
  Source/WebCore/bindings/js/JSCustomElementInterface.cpp
  Source/WebCore/bindings/js/JSCustomElementInterface.h
  Source/WebCore/html/parser/HTMLDocumentParser.cpp
Owners: none

Add telemetry to dump how long it takes to remove background from an image https://bugs.webkit.org/show_bug.cgi?id=242412 Work towards rdar://94488144
  Source/WebKit/Platform/cocoa/ImageAnalysisUtilities.mm
Owners: none

Don't allow Flush/PhantomLocal to be the head variable in a block in ThreadedCPS https://bugs.webkit.org/show_bug.cgi?id=242096
  Source/JavaScriptCore/dfg/DFGCPSRethreadingPhase.cpp
  Source/JavaScriptCore/dfg/DFGGraph.cpp
Owners: @WebKit/jsc-reviewers

REGRESSION(251359@main) Subtitles in PiP and Fullscreen are blank https://bugs.webkit.org/show_bug.cgi?id=242239
  Source/WebCore/platform/graphics/ImageBuffer.cpp
  Source/WebCore/platform/graphics/ImageBuffer.h
  Tools/TestWebKitAPI/TestUtilities.h
  Tools/TestWebKitAPI/Tests/WebCore/ImageBufferTests.cpp
Owners: none

Web Inspector: CSS autocomplete: most commonly used property should account for fuzzy-matching https://bugs.webkit.org/show_bug.cgi?id=242354
  LayoutTests/inspector/css/css-property-expected.txt
  LayoutTests/inspector/css/css-property.html
  LayoutTests/inspector/unit-tests/array-utilities-expected.txt
  LayoutTests/inspector/unit-tests/array-utilities.html
  Source/WebInspectorUI/UserInterface/Base/Utilities.js
  Source/WebInspectorUI/UserInterface/Models/CSSProperty.js
  Source/WebInspectorUI/UserInterface/Models/QueryResult.js
  Source/WebInspectorUI/UserInterface/Views/SpreadsheetStyleProperty.js
  Source/WebInspectorUI/UserInterface/Views/SpreadsheetTextField.js
Owners: @dcrousso, @patrickangle

Web Inspector: CSS autocomplete: property usage counts should ignore variables https://bugs.webkit.org/show_bug.cgi?id=242397
  LayoutTests/inspector/css/css-property-expected.txt
  LayoutTests/inspector/css/css-property.html
  Source/WebInspectorUI/UserInterface/Models/CSSProperty.js
  Source/WebInspectorUI/UserInterface/Models/CSSStyleDeclaration.js
  Source/WebInspectorUI/UserInterface/Views/SpreadsheetStyleProperty.js
Owners: @dcrousso, @patrickangle

Revert "[Make] Pick the correct ARCHS setting for an overridden SDKROOT" rdar://86340301
  Makefile.shared
Owners: none

Regression(252033@main) Sometimes plays audio without video when going fullscreen https://bugs.webkit.org/show_bug.cgi?id=242410 rdar://96484603
  Source/WebKit/WebProcess/cocoa/VideoFullscreenManager.mm
Owners: none

Cherry-pick 9b27c49c3b67. rdar://problem/96484603
  Source/WebKit/WebProcess/cocoa/VideoFullscreenManager.mm
Owners: none

[WebGPU] Support parsing @vertex, @fragment, @compute attributes https://bugs.webkit.org/show_bug.cgi?id=242414
  Source/WebGPU/WGSL/Parser.cpp
  Source/WebGPU/WGSLUnitTests/WGSLLexerTests.mm
  Source/WebGPU/WGSLUnitTests/WGSLParserTests.mm
Owners: none

New test: [macOS/iOS arm64] TestWebKitAPI.WKContentRuleListStoreTest.CrossOriginCookieBlocking is crashing https://bugs.webkit.org/show_bug.cgi?id=241653
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKContentExtensionStore.mm
Owners: none

Re-sync web-platform-tests/dom from upstream WPT https://bugs.webkit.org/show_bug.cgi?id=242275
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/dom/abort/crashtests/timeout-close.html
  LayoutTests/imported/w3c/web-platform-tests/dom/abort/crashtests/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/dom/events/AddEventListenerOptions-signal.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/events/AddEventListenerOptions-signal.any.js
  LayoutTests/imported/w3c/web-platform-tests/dom/events/AddEventListenerOptions-signal.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/events/Event-constructors.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/events/Event-constructors.any.js
  LayoutTests/imported/w3c/web-platform-tests/dom/events/Event-constructors.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/events/passive-by-default-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/events/passive-by-default.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/scroll_support.js
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/scrollend-event-fired-after-sequence-of-scrolls.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/scrollend-event-fired-after-sequence-of-scrolls.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/scrollend-event-fired-to-document.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/scrollend-event-not-fired-after-removing-scroller.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/scrollend-event-not-fired-after-removing-scroller.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/dom/events/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/dom/historical-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/historical.html
  LayoutTests/imported/w3c/web-platform-tests/dom/nodes/Document-createEvent-touchevent.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/nodes/Document-createEvent-touchevent.window.html
  LayoutTests/imported/w3c/web-platform-tests/dom/nodes/Document-createEvent-touchevent.window.js
  LayoutTests/imported/w3c/web-platform-tests/dom/nodes/Document-createEvent.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/nodes/Document-createEvent.https.html
  LayoutTests/imported/w3c/web-platform-tests/dom/nodes/aria-attribute-reflection.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/nodes/aria-attribute-reflection.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/dom/nodes/aria-element-reflection.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/nodes/aria-element-reflection.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/dom/nodes/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/dom/xslt/strip-space-crash.xml
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/dom/nodes/Document-createEvent-touchevent.window-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/dom/nodes/Document-createEvent.https-expected.txt
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/dom/nodes/Document-createEvent.https-expected.txt
Owners: none

Web Driver: [Cocoa] Viewport snapshots do not correctly represent CSS transforms https://bugs.webkit.org/show_bug.cgi?id=242214 rdar://33925578
  Source/WebKit/UIProcess/Automation/WebAutomationSession.cpp
  Source/WebKit/UIProcess/Automation/cocoa/WebAutomationSessionCocoa.mm
  Source/WebKit/UIProcess/Cocoa/WebViewImpl.mm
Owners: none

Introduction.md missing new GitHub workflow https://bugs.webkit.org/show_bug.cgi?id=242050
  Introduction.md
Owners: none

Move WebRTC H265 flag from experimental to internal https://bugs.webkit.org/show_bug.cgi?id=242385
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WTF/Scripts/Preferences/WebPreferencesInternal.yaml
Owners: none

Ensure m_backend is valid during use in RTCRtpTransform::attachToSender https://bugs.webkit.org/show_bug.cgi?id=242405
  Source/WebCore/Modules/mediastream/RTCRtpTransform.cpp
Owners: none

Remove assert in RenderLayerCompositor::updateScrollingNodeForScrollingProxyRole when no clippingStack is present https://bugs.webkit.org/show_bug.cgi?id=242415
  Source/WebCore/rendering/RenderLayerCompositor.cpp
Owners: none

Avoid accessing an invalid parent node in SimplifyMarkupCommand::doApply https://bugs.webkit.org/show_bug.cgi?id=242404
  Source/WebCore/editing/SimplifyMarkupCommand.cpp
Owners: none

Mock display capture should skip the window selection step https://bugs.webkit.org/show_bug.cgi?id=242390 rdar://problem/96519577
  Source/WebKit/UIProcess/mac/DisplayCaptureSessionManager.h
  Source/WebKit/UIProcess/mac/DisplayCaptureSessionManager.mm
Owners: none

[GTK][WPE] Add a fallback mode for the DMABuf architecture https://bugs.webkit.org/show_bug.cgi?id=242108
  Source/WebCore/SourcesGTK.txt
  Source/WebCore/SourcesWPE.txt
  Source/WebCore/platform/TextureMapper.cmake
  Source/WebCore/platform/graphics/gbm/GraphicsContextGLANGLELinux.cpp
  Source/WebCore/platform/graphics/gbm/GraphicsContextGLFallback.cpp
  Source/WebCore/platform/graphics/gbm/GraphicsContextGLFallback.h
  Source/WebCore/platform/graphics/gbm/GraphicsContextGLGBM.h
  Source/WebCore/platform/graphics/gbm/GraphicsContextGLGBMTextureMapper.cpp
  Source/WebCore/platform/graphics/nicosia/texmap/NicosiaGCGLANGLELayer.cpp
  Source/WebCore/platform/graphics/nicosia/texmap/NicosiaGCGLANGLELayer.h
Owners: none

[ews] send data to ews django app for PR based builds https://bugs.webkit.org/show_bug.cgi?id=242357
  Tools/CISupport/ews-build/events.py
Owners: @aj062, @JonWBedard, @ryanhaddad

[ews-app] Accept data from PR based ews builds https://bugs.webkit.org/show_bug.cgi?id=242351
  Tools/CISupport/ews-app/ews/models/build.py
  Tools/CISupport/ews-app/ews/models/patch.py
  Tools/CISupport/ews-app/ews/urls.py
  Tools/CISupport/ews-app/ews/views/results.py
  Tools/CISupport/ews-app/ews/views/statusbubble.py
Owners: @aj062, @JonWBedard, @ryanhaddad

Vorbis decoding no longer works following bug 241339 https://bugs.webkit.org/show_bug.cgi?id=242040 <rdar://96023176>
  Source/WebKit/GPUProcess/mac/GPUProcessMac.mm
  Source/WebKit/Scripts/process-entitlements.sh
Owners: none

[ews-build.webkit.org] Update PR on Merge-Queue retry https://bugs.webkit.org/show_bug.cgi?id=242253 <rdar://problem/96299099>
  Tools/CISupport/ews-build/steps.py
Owners: @aj062, @JonWBedard, @ryanhaddad

[ews] status url results in 500 for unknown patch id https://bugs.webkit.org/show_bug.cgi?id=242440
  Tools/CISupport/ews-app/ews/views/status.py
Owners: @aj062, @JonWBedard, @ryanhaddad

Insert break instructions in the LLInt asm to ensure that some global labels are not aliased. https://bugs.webkit.org/show_bug.cgi?id=242417 <rdar://problem/94232529>
  Source/JavaScriptCore/llint/LowLevelInterpreter.asm
  Source/JavaScriptCore/offlineasm/asm.rb
Owners: @WebKit/jsc-reviewers

REGRESSION (r221177): Redundant icon fetching in the web process for file inputs https://bugs.webkit.org/show_bug.cgi?id=242418
  Source/WebCore/html/FileInputType.cpp
Owners: none

gtk builds shouldn't fail when there is issue with commit identifier calculation https://bugs.webkit.org/show_bug.cgi?id=242443
  Tools/glib/apply-build-revision-to-files.py
Owners: @JonWBedard

Avoid unnecessary isolatedCopy() calls when decoding strings in WKRemoteObjectCoder.mm https://bugs.webkit.org/show_bug.cgi?id=242413
  Source/WebKit/Shared/API/Cocoa/WKRemoteObjectCoder.mm
Owners: none

Ignore RID that appears without an a=simulcast entry https://bugs.webkit.org/show_bug.cgi?id=242435 rdar://problem/96586416
  Source/ThirdParty/libwebrtc/Source/webrtc/pc/peer_connection_simulcast_unittest.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/pc/webrtc_sdp.cc
Owners: none

Cache ImageBufferIOSurfaceBackend volatility state https://bugs.webkit.org/show_bug.cgi?id=242430
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.h
Owners: none

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard
/Tools/TestWebKitAPI

# ================================================================================

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn

# ================================================================================

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

/Source/WebCore/Modules/apple-pay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/apple-pay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

# ================================================================================

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts
