Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

Increase max scrollbar update passes rdar://104064235
  LayoutTests/fast/editing/frame-selection-in-child-view-crash-expected.txt
  LayoutTests/fast/editing/frame-selection-in-child-view-crash.html
  Source/WebCore/platform/ScrollView.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/CSSViewportUnits.mm
Owners: none

Re-add Yvonne Lai as a WebKit Committer to contributors.json https://bugs.webkit.org/show_bug.cgi?id=254240 rdar://107027965
  metadata/contributors.json
Owners: @JonWBedard

Skip site isolation layout test on iOS https://bugs.webkit.org/show_bug.cgi?id=254252 rdar://107034831
  LayoutTests/platform/ios/TestExpectations
Owners: none

REGRESSION(260575@main): Subtitles do not work when playing Apple Event video in full screen https://bugs.webkit.org/show_bug.cgi?id=254229 rdar://106342886
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/rendering/RenderLayerBacking.cpp
Owners: none

Convert some cached blob URLs into URLKeepingBlobAlive https://bugs.webkit.org/show_bug.cgi?id=254228 rdar://107016322
  Source/WebCore/Modules/fetch/FetchLoader.cpp
  Source/WebCore/Modules/fetch/FetchLoader.h
  Source/WebCore/fileapi/FileReaderLoader.cpp
  Source/WebCore/fileapi/FileReaderLoader.h
  Source/WebCore/fileapi/URLKeepingBlobAlive.h
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/html/HTMLMediaElement.h
Owners: @cdumez, @rniwa

Cherry-pick 260286.15@webkit-2023.2-embargoed (028f984310b6). rdar://107007113
  LayoutTests/fast/multicol/crash-when-constructing-nested-columns2-expected.txt
  LayoutTests/fast/multicol/crash-when-constructing-nested-columns2.html
  Source/WebCore/rendering/updating/RenderTreeBuilderMultiColumn.cpp
Owners: none

[JSC] Misc fixes for Function#bind found by test262 https://bugs.webkit.org/show_bug.cgi?id=254248 rdar://107032476
  Source/JavaScriptCore/runtime/FunctionPrototype.cpp
  Source/JavaScriptCore/runtime/IntlCollatorPrototype.cpp
  Source/JavaScriptCore/runtime/IntlDateTimeFormatPrototype.cpp
  Source/JavaScriptCore/runtime/IntlNumberFormatPrototype.cpp
Owners: @WebKit/jsc-reviewers

Re-enable new Set methods following confirmation of intersection algorithm https://bugs.webkit.org/show_bug.cgi?id=254249
  JSTests/stress/set-prototype-intersection.js
  LayoutTests/js/Object-getOwnPropertyNames-expected.txt
  LayoutTests/js/script-tests/Object-getOwnPropertyNames.js
  Source/JavaScriptCore/builtins/SetPrototype.js
  Source/JavaScriptCore/runtime/OptionsList.h
Owners: @WebKit/jsc-reviewers

[WinCairo] Unreviewed test gardening
  LayoutTests/platform/wincairo/TestExpectations
Owners: none

Remove SocketStreamHandleImpl.h of curl and soup ports https://bugs.webkit.org/show_bug.cgi?id=254201
  Source/WebCore/Modules/websockets/WebSocketChannel.cpp
  Source/WebCore/Sources.txt
  Source/WebCore/SourcesCocoa.txt
  Source/WebCore/page/SocketProvider.cpp
  Source/WebCore/platform/Curl.cmake
  Source/WebCore/platform/Soup.cmake
  Source/WebCore/platform/network/cf/SocketStreamHandleImpl.cpp
  Source/WebCore/platform/network/curl/SocketStreamHandleImpl.h
  Source/WebCore/platform/network/soup/SocketStreamHandleImpl.h
Owners: @cdumez, @WebKit/glib-reviewers

[GStreamer][WebRTC] fast/mediastream/RTCPeerConnection-inspect-{offer,answer}.html fail https://bugs.webkit.org/show_bug.cgi?id=254164
  LayoutTests/fast/mediastream/RTCPeerConnection-inspect-answer-expected.txt
  LayoutTests/fast/mediastream/RTCPeerConnection-inspect-offer-expected.txt
  LayoutTests/fast/mediastream/resources/sdp-utils.js
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/fast/mediastream/RTCPeerConnection-inspect-answer-expected.txt
  LayoutTests/platform/glib/fast/mediastream/RTCPeerConnection-inspect-offer-expected.txt
Owners: none

readyState may not move from HAVE_METADATA following a seek. https://bugs.webkit.org/show_bug.cgi?id=254136 rdar://problem/106914173
  LayoutTests/http/tests/media/fairplay/fps-mse-unmuxed-audio-only-expected.txt
  LayoutTests/media/media-source/media-source-allowed-codecs-expected.txt
  LayoutTests/media/media-source/media-source-allowed-codecs.html
  LayoutTests/media/media-source/media-source-monitor-playing-event-expected.txt
  Source/WebCore/Modules/mediasource/ManagedMediaSource.cpp
  Source/WebCore/Modules/mediasource/MediaSource.cpp
  Source/WebCore/Modules/mediasource/MediaSource.h
  Source/WebCore/Modules/mediasource/SourceBuffer.cpp
  Source/WebCore/Modules/mediasource/SourceBuffer.h
  Source/WebCore/platform/graphics/MediaSourcePrivate.h
  Source/WebCore/platform/graphics/MediaSourcePrivateClient.h
  Source/WebCore/platform/graphics/SourceBufferPrivate.cpp
  Source/WebCore/platform/graphics/SourceBufferPrivate.h
  Source/WebCore/platform/graphics/SourceBufferPrivateClient.h
  Source/WebKit/GPUProcess/media/RemoteMediaSourceProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaSourceProxy.h
  Source/WebKit/GPUProcess/media/RemoteSourceBufferProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteSourceBufferProxy.h
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.h
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.messages.in
Owners: @cdumez

[WGSL] Make AST::Structure::role changes reversible https://bugs.webkit.org/show_bug.cgi?id=254223 <rdar://problem/107008054>
  Source/WebGPU/WGSL/AST/ASTStructure.h
  Source/WebGPU/WGSL/EntryPointRewriter.cpp
  Source/WebGPU/WGSL/WGSLShaderModule.h
Owners: none

[Gstreamer][WebRTC] webrtc/video-disabled-black.html fails https://bugs.webkit.org/show_bug.cgi?id=254212
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/webrtc/routines.js
  LayoutTests/webrtc/video-disabled-black.html
  Source/WebCore/platform/mediastream/gstreamer/GStreamerMediaStreamSource.cpp
Owners: @philn

[PlayStation] Remove Warnings https://bugs.webkit.org/show_bug.cgi?id=254243
  Source/WebCore/loader/cache/CachedResourceLoader.cpp
  Source/WebCore/platform/network/curl/SynchronousLoaderClientCurl.cpp
Owners: @cdumez

Non-unified build fixes, late March 2023 edition https://bugs.webkit.org/show_bug.cgi?id=254260
  Source/WebCore/Modules/mediastream/MediaDeviceInfo.cpp
  Source/WebCore/Modules/speech/SpeechRecognitionErrorEvent.cpp
  Source/WebCore/Modules/speech/SpeechSynthesisErrorEvent.cpp
  Source/WebCore/Modules/speech/SpeechSynthesisEvent.cpp
  Source/WebCore/css/typedom/InlineStylePropertyMap.h
  Source/WebCore/dom/DecodedDataDocumentParser.cpp
  Source/WebCore/dom/DocumentSharedObjectPool.h
  Source/WebCore/html/track/InbandWebVTTTextTrack.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineLineBuilder.cpp
  Source/WebCore/rendering/RenderHTMLCanvas.cpp
  Source/WebKit/UIProcess/API/C/WKContext.cpp
  Source/WebKit/UIProcess/ProvisionalFrameProxy.cpp
  Source/WebKit/UIProcess/SuspendedPageProxy.cpp
  Source/WebKit/UIProcess/WebFormClient.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebScreenOrientationManagerProxy.cpp
Owners: @rniwa, @cdumez

[GStreamer][WebRTC] webrtc/libwebrtc/setLocalDescriptionCrash.html fails https://bugs.webkit.org/show_bug.cgi?id=254163
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/fast/mediastream/RTCPeerConnection-have-local-offer-expected.txt
  LayoutTests/platform/glib/fast/mediastream/RTCPeerConnection-stable-expected.txt
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.cpp
Owners: @philn

[MSE] readyState should change back to HAVE_METADATA when removing sample at current playtime https://bugs.webkit.org/show_bug.cgi?id=254198 rdar://106979551
  LayoutTests/media/media-source/media-source-monitor-playing-event.html
  LayoutTests/media/media-source/media-source-remove-readystate-expected.txt
  LayoutTests/media/media-source/media-source-remove-readystate.html
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/Modules/mediasource/SourceBuffer.cpp
  Source/WebCore/platform/graphics/SourceBufferPrivate.cpp
Owners: none

[GLib] webkit_user_content_manager_register_script_message_handler() world_name parameter should be nullable https://bugs.webkit.org/show_bug.cgi?id=254264
  Source/WebKit/UIProcess/API/glib/WebKitUserContentManager.h.in
Owners: @WebKit/glib-reviewers

Have RemoteMediaSourceProxy keep a mirror of the MediaSource's buffered range. https://bugs.webkit.org/show_bug.cgi?id=254209 rdar://106990497
  Source/WebCore/Modules/mediasource/MediaSource.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaSourceProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaSourceProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaSourceProxy.messages.in
  Source/WebKit/WebProcess/GPU/media/MediaSourcePrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/MediaSourcePrivateRemote.h
Owners: @cdumez

Cherry-pick 261956@main (48a7c504b397). https://bugs.webkit.org/show_bug.cgi?id=254264
  Source/WebKit/UIProcess/API/glib/WebKitUserContentManager.h.in
Owners: @WebKit/glib-reviewers

[EGL] Move image API helpers from GLContext to PlatformDisplay https://bugs.webkit.org/show_bug.cgi?id=254206
  Source/WebCore/platform/graphics/PlatformDisplay.cpp
  Source/WebCore/platform/graphics/PlatformDisplay.h
  Source/WebCore/platform/graphics/egl/GLContextEGL.cpp
  Source/WebCore/platform/graphics/egl/GLContextEGL.h
  Source/WebCore/platform/graphics/gbm/DMABufEGLUtilities.h
  Source/WebCore/platform/graphics/gbm/GraphicsContextGLGBM.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerDmabuf.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerProxyDMABuf.cpp
Owners: none

Cherry-pick 260572@main (ab3a72163b82). https://bugs.webkit.org/show_bug.cgi?id=252614
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 260597@main (2a0f7a05e87b). https://bugs.webkit.org/show_bug.cgi?id=252654
  Source/JavaScriptCore/assembler/AbstractMacroAssembler.h
  Source/JavaScriptCore/jit/FPRInfo.h
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
  Source/JavaScriptCore/wasm/WasmExceptionType.h
Owners: @WebKit/jsc-reviewers

Cherry-pick 260700@main (672628fb19da). https://bugs.webkit.org/show_bug.cgi?id=252736
  Source/JavaScriptCore/b3/air/AirLowerMacros.cpp
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 261048@main (adae6f119127). https://bugs.webkit.org/show_bug.cgi?id=253227
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 261060@main (5725527e969e). https://bugs.webkit.org/show_bug.cgi?id=253230
  Source/JavaScriptCore/assembler/MacroAssembler.h
  Source/JavaScriptCore/assembler/MacroAssemblerARM64.h
  Source/JavaScriptCore/assembler/MacroAssemblerX86_64.h
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 261498@main (c07cdb6ae80b). https://bugs.webkit.org/show_bug.cgi?id=253700
  Source/JavaScriptCore/assembler/MacroAssembler.h
  Source/JavaScriptCore/offlineasm/riscv64.rb
  Source/WTF/wtf/PlatformEnable.h
Owners: @WebKit/jsc-reviewers

`playing` event isn't fired as early as it should https://bugs.webkit.org/show_bug.cgi?id=254256 rdar://107041118
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.cpp
Owners: @cdumez

[fetch] Implement the `Response.json` static method https://bugs.webkit.org/show_bug.cgi?id=240375
  LayoutTests/imported/w3c/web-platform-tests/fetch/api/response/response-static-json.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fetch/api/response/response-static-json.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fetch/api/response/response-static-json.any.sharedworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fetch/api/response/response-static-json.any.worker-expected.txt
  Source/WebCore/Modules/fetch/FetchBody.h
  Source/WebCore/Modules/fetch/FetchResponse.cpp
  Source/WebCore/Modules/fetch/FetchResponse.h
  Source/WebCore/Modules/fetch/FetchResponse.idl
Owners: none

[GTK] Slow scroll adjustment when using a mouse wheel https://bugs.webkit.org/show_bug.cgi?id=168300
  Source/WebCore/page/LocalFrameView.cpp
  Source/WebCore/platform/ScrollView.cpp
  Source/WebCore/platform/Scrollbar.cpp
  Source/WebCore/platform/Scrollbar.h
  Source/WebCore/rendering/RenderLayerScrollableArea.cpp
  Source/WebCore/testing/Internals.cpp
  Source/WebKit/Shared/NativeWebWheelEvent.h
  Source/WebKit/Shared/gtk/NativeWebWheelEventGtk.cpp
  Source/WebKit/Shared/gtk/WebEventFactory.cpp
  Source/WebKit/Shared/gtk/WebEventFactory.h
  Source/WebKit/UIProcess/API/gtk/WebKitWebViewBase.cpp
Owners: @cdumez, @WebKit/glib-reviewers

(REGRESSION 255300@main) Transparent outlines not rendered around all elements https://bugs.webkit.org/show_bug.cgi?id=251987 <rdar://problem/105545310>
  LayoutTests/fast/block/transparent-outline-with-and-without-border-radius-expected.html
  LayoutTests/fast/block/transparent-outline-with-and-without-border-radius.html
  Source/WebCore/rendering/BorderPainter.cpp
Owners: none

[media-controls] buffered data indicator looks wrong when scrubbing back https://bugs.webkit.org/show_bug.cgi?id=254217
  Source/WebCore/Modules/modern-media-controls/media/scrubbing-support.js
Owners: none

Switching focus from a UITextField to an editable WKWebView causes the keyboard to dance https://bugs.webkit.org/show_bug.cgi?id=254236 rdar://103712135
  LayoutTests/fast/forms/ios/keyboard-stability-when-tapping-editable-element-expected.txt
  LayoutTests/fast/forms/ios/keyboard-stability-when-tapping-editable-element.html
  LayoutTests/resources/ui-helper.js
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/PageClient.h
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/UIProcess/ios/InputViewUpdateDeferrer.h
  Source/WebKit/UIProcess/ios/InputViewUpdateDeferrer.mm
  Source/WebKit/UIProcess/ios/PageClientImplIOS.h
  Source/WebKit/UIProcess/ios/PageClientImplIOS.mm
  Source/WebKit/UIProcess/ios/WKContentView.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/ios/WebPageProxyIOS.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Tools/TestRunnerShared/UIScriptContext/Bindings/UIScriptController.idl
  Tools/TestRunnerShared/UIScriptContext/UIScriptController.h
  Tools/WebKitTestRunner/cocoa/TestRunnerWKWebView.h
  Tools/WebKitTestRunner/cocoa/TestRunnerWKWebView.mm
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.h
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.mm
Owners: @cdumez, @JonWBedard

WebKit MACH_EXCEPTION_IDENTITY_PROTECTED_OPT_OUT adoption rdar://106682713
  Source/WTF/wtf/threads/Signals.cpp
Owners: none

Web Inspector: replace getCSSCanvasContext with canvas https://bugs.webkit.org/show_bug.cgi?id=253414
  Source/WebInspectorUI/UserInterface/Views/Popover.css
  Source/WebInspectorUI/UserInterface/Views/Popover.js
Owners: @dcrousso, @patrickangle

sfgate.com is unreadable when dark mode is forced using `-[WKWebpagePreferences _setColorSchemePreference:]` https://bugs.webkit.org/show_bug.cgi?id=254239 rdar://106873224
  Source/WebCore/css/query/MediaQueryFeatures.cpp
  Source/WebCore/dom/Document.cpp
  Source/WebCore/page/Page.cpp
  Tools/TestWebKitAPI/Tests/WebKit/color-scheme.html
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebsitePolicies.mm
Owners: @rniwa, @cdumez

Blob range request test failures https://bugs.webkit.org/show_bug.cgi?id=248994 rdar://103171187
  LayoutTests/imported/w3c/web-platform-tests/cors/cors-safelisted-request-header.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/cors/cors-safelisted-request-header.any.js
  LayoutTests/imported/w3c/web-platform-tests/cors/cors-safelisted-request-header.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fetch/range/blob.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fetch/range/blob.any.html
  LayoutTests/imported/w3c/web-platform-tests/fetch/range/blob.any.js
  Source/WebCore/platform/network/BlobResourceHandle.cpp
  Source/WebCore/platform/network/BlobResourceHandle.h
  Source/WebCore/platform/network/HTTPParsers.cpp
  Source/WebCore/platform/network/HTTPParsers.h
  Source/WebKit/NetworkProcess/NetworkDataTaskBlob.cpp
  Source/WebKit/NetworkProcess/NetworkDataTaskBlob.h
Owners: @cdumez

[GTK] gardening: fast/text/whitespace/nbsp-mode-and-linewraps.html
  LayoutTests/platform/glib/fast/text/whitespace/nbsp-mode-and-linewraps-expected.txt
Owners: none

[git-webkit] Force pre-push hooks to be up-to-date https://bugs.webkit.org/show_bug.cgi?id=253972 rdar://106760739
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/install_hooks.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/land.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/publish.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/install_hooks_unittest.py
Owners: @facetothefate, @JonWBedard
