Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

MathML element in "display: flex" is not repainted on content change. https://bugs.webkit.org/show_bug.cgi?id=254722
  LayoutTests/fast/repaint/mathm-gains-new-content-blank-expected.txt
  LayoutTests/fast/repaint/mathm-gains-new-content-blank.html
  Source/WebCore/rendering/mathml/RenderMathMLBlock.cpp
  Source/WebCore/rendering/mathml/RenderMathMLMath.cpp
  Source/WebCore/rendering/mathml/RenderMathMLRow.cpp
Owners: none

[ews] Adjust iOS queue configurations for new hardware https://bugs.webkit.org/show_bug.cgi?id=255105 rdar://107720268
  Tools/CISupport/ews-build/config.json
Owners: @aj062, @JonWBedard, @ryanhaddad

Add canLoad checks to AVVideoCaptureSource::facingModeFitnessScoreAdjustment implementation https://bugs.webkit.org/show_bug.cgi?id=255058 rdar://107677782
  Source/WebCore/platform/mediastream/mac/AVCaptureDeviceManager.mm
  Source/WebCore/platform/mediastream/mac/AVVideoCaptureSource.h
  Source/WebCore/platform/mediastream/mac/AVVideoCaptureSource.mm
Owners: none

Use WebCore::AttributedString for DictionaryPopupInfoCocoa https://bugs.webkit.org/show_bug.cgi?id=255073
  Source/WebCore/editing/DictionaryPopupInfo.h
  Source/WebCore/editing/cocoa/AttributedString.h
  Source/WebCore/editing/cocoa/AttributedString.mm
  Source/WebCore/editing/cocoa/DictionaryLookup.mm
  Source/WebKit/Shared/Cocoa/ArgumentCodersCocoa.mm
  Source/WebKit/Shared/Cocoa/WebCoreArgumentCodersCocoa.serialization.in
  Source/WebKit/Shared/WebHitTestResultData.h
  Source/WebKit/UIProcess/API/APIHitTestResult.cpp
  Source/WebKit/UIProcess/mac/WKImmediateActionController.mm
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/mac/WebPageMac.mm
  Source/WebKitLegacy/mac/WebView/WebImmediateActionController.mm
  Source/WebKitLegacy/mac/WebView/WebView.mm
Owners: @rniwa, @cdumez

Versioning.
  Configurations/Version.xcconfig
Owners: none

Be less aggressive about setting timeout during HTTPSOnly https://bugs.webkit.org/show_bug.cgi?id=254640 rdar://107074579
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
Owners: @cdumez

[ANGLE] Cherry pick AMD fix
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/DisplayMtl.mm
Owners: none

Check rendererCanHaveTrimmedMargin before calling box->hasTrimmedMargin https://bugs.webkit.org/show_bug.cgi?id=254859 rdar://problem/107502795
  LayoutTests/css3/flexbox/flex-item-margin-top-no-crash-expected.html
  LayoutTests/css3/flexbox/flex-item-margin-top-no-crash.html
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/rendering/RenderBox.cpp
Owners: none

Cherry-pick 262664@main (2b34340acfdb). https://bugs.webkit.org/show_bug.cgi?id=254758
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
  Source/JavaScriptCore/heap/AbstractSlotVisitorInlines.h
  Source/WebCore/animation/DocumentTimeline.cpp
  Source/WebCore/platform/animation/TimingFunction.h
  Source/WebCore/platform/graphics/AudioTrackPrivate.h
  Source/WebCore/platform/graphics/InbandTextTrackPrivate.h
  Source/WebCore/platform/graphics/TrackPrivateBase.h
  Source/WebCore/platform/graphics/VideoTrackPrivate.h
  Source/WebCore/style/ElementRuleCollector.cpp
  Source/WebCore/svg/SVGPathSeg.h
  Source/bmalloc/libpas/src/libpas/pas_fast_megapage_table.c
  Tools/TestWebKitAPI/Tests/WTF/BoxPtr.cpp
  Tools/TestWebKitAPI/Tests/WTF/CompactRefPtr.cpp
  Tools/TestWebKitAPI/Tests/WTF/NakedPtr.cpp
  Tools/TestWebKitAPI/Tests/WTF/PackedRefPtr.cpp
  Tools/TestWebKitAPI/Tests/WTF/RefPtr.cpp
Owners: @WebKit/jsc-reviewers, @graouts, @Constellation

[CMake] Use imported targets in find module for libgbm https://bugs.webkit.org/show_bug.cgi?id=255104
  Source/WebCore/PlatformGTK.cmake
  Source/WebCore/PlatformWPE.cmake
  Source/cmake/FindGBM.cmake
Owners: none

Updated Swedish translation https://bugs.webkit.org/show_bug.cgi?id=255109
  Source/WebCore/platform/gtk/po/sv.po
Owners: @WebKit/glib-reviewers

[JSC] Apply the new display computation for digital in Intl.DurationFormat https://bugs.webkit.org/show_bug.cgi?id=255108 rdar://problem/107721519
  JSTests/stress/intl-durationformat-digital.js
  Source/JavaScriptCore/runtime/IntlDurationFormat.cpp
Owners: @WebKit/jsc-reviewers

When the WP crashes, some pages also crash the GPUP under RemoteMediaSourceProxy::~RemoteMediaSourceProxy() https://bugs.webkit.org/show_bug.cgi?id=255063 rdar://107668734
  Source/WebKit/GPUProcess/media/RemoteMediaSourceProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteSourceBufferProxy.cpp
  Source/WebKit/WebProcess/GPU/media/MediaSourcePrivateRemote.cpp
Owners: @cdumez

Remove redundant code from RenderBox::hasTrimmedMargin(PhysicalDirection) https://bugs.webkit.org/show_bug.cgi?id=255098 rdar://problem/107713529
  Source/WebCore/rendering/RenderBox.cpp
Owners: none

Add proxy setting to Slack's API, and corrected ENV names for storing Bugzilla credentials https://bugs.webkit.org/show_bug.cgi?id=254839 rdar://problem/107483623
  Tools/WebKitBot/src/WebKitBot.mjs
  Tools/WebKitBot/src/index.mjs
Owners: @JonWBedard

Unaccelerated rendering with GPUP shows stale content. https://bugs.webkit.org/show_bug.cgi?id=255112 <rdar://107717934>
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
Owners: none

Enable telemetry to debug top crash below JSModuleRecord::instantiateDeclarations https://bugs.webkit.org/show_bug.cgi?id=255089 rdar://107644069
  Source/JavaScriptCore/runtime/JSModuleRecord.cpp
Owners: @WebKit/jsc-reviewers

[prepare-commit-msg] Fix 'git commit --reedit-message' https://bugs.webkit.org/show_bug.cgi?id=255121 rdar://107729416
  Tools/Scripts/hooks/prepare-commit-msg
Owners: @JonWBedard

[WGSL] Add type declarations for clamp, min & max https://bugs.webkit.org/show_bug.cgi?id=255119 rdar://problem/107728319
  Source/WebGPU/WGSL/TypeDeclarations.rb
  Source/WebGPU/WGSL/tests/valid/overload.wgsl
Owners: none

SVGPathSegValue::clone<>() rename to SVGPathSegValue::cloneInternal<>() https://bugs.webkit.org/show_bug.cgi?id=254757 rdar://107719787
  Source/WebCore/svg/SVGPathSeg.h
  Source/WebCore/svg/SVGPathSegImpl.h
  Source/WebCore/svg/SVGPathSegValue.h
Owners: none

Unreviewed build fix after 259548.585@safari-7615-branch
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/DisplayMtl.mm
Owners: none

Avoid calling FrameSelection::updateAppearanceAfterLayout() when performing post-layout tasks https://bugs.webkit.org/show_bug.cgi?id=247041
  LayoutTests/accessibility/mac/focus-setting-selection-syncronizing-not-clearing-expected.txt
  LayoutTests/accessibility/mac/selection-boundary-userinfo.html
  LayoutTests/accessibility/mac/selection-change-userinfo.html
  LayoutTests/accessibility/mac/selection-element-tabbing-to-link.html
  LayoutTests/accessibility/mac/selection-value-changes-for-aria-textbox-expected.txt
  LayoutTests/editing/input/caret-at-the-edge-of-input.html
  LayoutTests/fast/forms/autofocus-opera-003.html
  LayoutTests/fast/forms/input-text-scroll-left-on-blur.html
  LayoutTests/fast/forms/password-scrolled-after-caps-lock-toggled.html
  LayoutTests/fast/forms/scroll-into-view-and-show-validation-message.html
  LayoutTests/fast/repaint/4776765.html
  LayoutTests/fast/repaint/selection-gap-absolute-child.html
  LayoutTests/fast/repaint/selection-gap-flipped-absolute-child.html
  LayoutTests/fast/repaint/selection-gap-transformed-absolute-child.html
  LayoutTests/fast/repaint/selection-gap-transformed-fixed-child.html
  LayoutTests/fast/repaint/selection-ruby-rl.html
  LayoutTests/fast/repaint/text-selection-overflow-hidden.html
  LayoutTests/fast/text/incorrect-deselection-across-multiple-elements.html
  LayoutTests/platform/mac-wk1/fast/repaint/4776765-expected.txt
  Source/WebCore/dom/Document.cpp
  Source/WebCore/editing/Editor.cpp
  Source/WebCore/editing/FrameSelection.cpp
  Source/WebCore/editing/FrameSelection.h
  Source/WebCore/page/LocalFrameView.cpp
  Source/WebCore/page/Page.cpp
Owners: @rniwa, @cdumez

Versioning.
  Configurations/Version.xcconfig
Owners: none

CDMPrivateFairPlayStreaming parsing of WebCore::ISOFairPlayStreamingKeyRequestInfoBox can trigger an OOB read. https://bugs.webkit.org/show_bug.cgi?id=255075 rdar://103843976.
  LayoutTests/http/tests/media/fairplay/fps-init-data-cenc-oob-crash-expected.txt
  LayoutTests/http/tests/media/fairplay/fps-init-data-cenc-oob-crash.html
  Source/WebCore/platform/graphics/avfoundation/ISOFairPlayStreamingPsshBox.cpp
Owners: none

[JSC] Function#bind's default length should be 0 https://bugs.webkit.org/show_bug.cgi?id=254728 rdar://107408929
  JSTests/stress/function-bind-proxy.js
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/runtime/FunctionPrototype.cpp
Owners: @WebKit/jsc-reviewers

offscreen-scaling.html fails intermittently. https://bugs.webkit.org/show_bug.cgi?id=254630 <rdar://107369322>
  LayoutTests/fast/canvas/offscreen-scaling.html
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
Owners: none

Devirtualize GraphicsContext::drawConsumingImageBuffer() https://bugs.webkit.org/show_bug.cgi?id=251809 rdar://105092612
  Source/WebCore/platform/graphics/GraphicsContext.cpp
  Source/WebCore/platform/graphics/GraphicsContext.h
  Source/WebCore/platform/graphics/NullGraphicsContext.h
Owners: none

[IFC] Allow single "link content" when -webkit-line-clamp is present https://bugs.webkit.org/show_bug.cgi?id=255124
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.cpp
Owners: none

Cherry-pick 9e54e083d6c2. rdar://problem/107735186
  Source/WebKit/UIProcess/WebProcessPool.cpp
Owners: @cdumez

Regression(259658@main) Geolocation permission prompt is no longer showing in modal view https://bugs.webkit.org/show_bug.cgi?id=255133 rdar://107352115
  Source/WebKit/UIProcess/ios/WKWebGeolocationPolicyDeciderIOS.mm
Owners: @cdumez

[GPUP][CoreIPC] Integer overflow in SharedVideoFrameInfo::storageSize leading to OOB read rdar://107023292
  LayoutTests/ipc/shared-video-frame-size-expected.txt
  LayoutTests/ipc/shared-video-frame-size.html
  LayoutTests/platform/mac-wk1/TestExpectations
  Source/WebCore/platform/cocoa/SharedVideoFrameInfo.h
  Source/WebCore/platform/cocoa/SharedVideoFrameInfo.mm
Owners: none

REGRESSION(259818@main...259759@main?): CSS variables are not applied to the SVG use element's shadow tree https://bugs.webkit.org/show_bug.cgi?id=254549 rdar://107295588
  LayoutTests/http/tests/svg/resources/st-search.svg
  LayoutTests/http/tests/svg/use-custom-property-inheritance-expected.html
  LayoutTests/http/tests/svg/use-custom-property-inheritance.html
  Source/WebCore/style/StyleResolver.cpp
  Source/WebCore/style/StyleResolver.h
  Source/WebCore/svg/SVGElement.cpp
Owners: none

[UI-side compositing] Plumb mouseMovedInContentArea event to UI process https://bugs.webkit.org/show_bug.cgi?id=255126 rdar://107732708
  Source/WebCore/page/EventHandler.cpp
  Source/WebCore/page/scrolling/AsyncScrollingCoordinator.cpp
  Source/WebCore/page/scrolling/AsyncScrollingCoordinator.h
  Source/WebCore/page/scrolling/ScrollingCoordinator.h
  Source/WebCore/page/scrolling/ScrollingStateNode.h
  Source/WebCore/page/scrolling/ScrollingStateScrollingNode.cpp
  Source/WebCore/page/scrolling/ScrollingStateScrollingNode.h
  Source/WebCore/page/scrolling/mac/ScrollerPairMac.h
  Source/WebCore/page/scrolling/mac/ScrollerPairMac.mm
  Source/WebCore/page/scrolling/mac/ScrollingTreeScrollingNodeDelegateMac.mm
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Owners: @cdumez

Trimmed block-end margins for flex items in horizontal writing mode should be reflected in computed style https://bugs.webkit.org/show_bug.cgi?id=253713 rdar://106559023
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-block-end-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-block-end.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-block-end-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-block-end.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-block-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-block.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-block-end-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-block-end.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-block-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-block.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-block-end-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-block-end.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-block-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-block.html
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderFlexibleBox.cpp
Owners: none

Remove WKSecureCodingURLWrapper and enable strict decoding with PKPaymentSetupConfiguration https://bugs.webkit.org/show_bug.cgi?id=255139 rdar://107742603
  Source/WebKit/Shared/Cocoa/ArgumentCodersCocoa.mm
Owners: none

[JSC] Watchdog calls valid timers "stale" on Windows https://bugs.webkit.org/show_bug.cgi?id=255135
  Source/JavaScriptCore/runtime/Watchdog.cpp
Owners: @WebKit/jsc-reviewers

[Flatpak] Update webkit-flatpak-run-nightly for 22.08 SDK and new revision semantics https://bugs.webkit.org/show_bug.cgi?id=254740
  Tools/Scripts/webkit-flatpak-run-nightly
Owners: @JonWBedard

Don't launch GPU process just to update whether WebGPU is enabled https://bugs.webkit.org/show_bug.cgi?id=255116 rdar://107684550
  Source/WebKit/UIProcess/WebProcessProxy.cpp
Owners: @cdumez

Unreviewed, unskip test on arm Need the bug URL (OOPS!).
  JSTests/wasm/stress/wasm-shared-memory-growable.js
Owners: @WebKit/jsc-reviewers

[iPad] Vimeo video goes black navigating from PiP back to full screen https://bugs.webkit.org/show_bug.cgi?id=255145 rdar://107592139
  Source/WebCore/platform/ios/VideoFullscreenInterfaceAVKit.mm
Owners: none
