Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @calvaris, @philn, @ntrrgc

Add NetBSD support for MachineContext https://bugs.webkit.org/show_bug.cgi?id=241125
  Source/JavaScriptCore/runtime/MachineContext.h
  Source/WTF/wtf/PlatformHave.h
Owners: none

REGRESSION(247105@main): Set protections on MAP_ALIGNED platforms too https://bugs.webkit.org/show_bug.cgi?id=241386
  Source/WTF/wtf/posix/OSAllocatorPOSIX.cpp
Owners: none

NetworkLoad audit token scope needs to match Span that points to it https://bugs.webkit.org/show_bug.cgi?id=241422
  Source/WebKit/NetworkProcess/NetworkLoad.cpp
Owners: none

AX: Update the isolated tree in response to dynamic aria-valuemin, aria-valuemax, and aria-multiselectable changes https://bugs.webkit.org/show_bug.cgi?id=241394
  LayoutTests/accessibility/aria-multiselectable-grid-expected.txt
  LayoutTests/accessibility/aria-multiselectable-grid.html
  LayoutTests/accessibility/aria-slider-value-expected.txt
  LayoutTests/accessibility/aria-slider-value.html
  LayoutTests/platform/ios/TestExpectations
  Source/WebCore/accessibility/AXLogger.cpp
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AXObjectCache.h
  Source/WebCore/accessibility/atspi/AXObjectCacheAtspi.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.cpp
Owners: none

REGRESSION(r295200): Avoid style update when resolving container queries in other frames https://bugs.webkit.org/show_bug.cgi?id=241409 <rdar://94536162>
  LayoutTests/fast/css/container-query-style-recursion-expected.txt
  LayoutTests/fast/css/container-query-style-recursion.html
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/page/FrameViewLayoutContext.cpp
Owners: none

Undo temporary libpas fix for PlayStation https://bugs.webkit.org/show_bug.cgi?id=241425
  Source/bmalloc/libpas/src/libpas/pas_random.h
Owners: none

Unreviewed !ENABLE(ACCESSIBILITY) build fix for r295139.
  Source/WebCore/accessibility/AXObjectCache.h
Owners: none

Cherry-pick 43b89275f1a1. rdar://problem/94314081
  Source/WebKit/UIProcess/ios/ProcessAssertionIOS.mm
Owners: none

Add git-webkit squash and refactory mock git
  Tools/Scripts/hooks/prepare-commit-msg
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/mocks/git-repo.json
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/mocks/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/mocks/remote/bitbucket.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/mocks/remote/git_hub.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/squash.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/checkout_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/git_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/land_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/pull_request_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/squash_unittest.py
Owners: @JonWBedard, @facetothefate

REGRESSION (251316@main): Release-configuration WTF::StringView is not usable from apps building in Debug https://bugs.webkit.org/show_bug.cgi?id=241397 rdar://94587929
  Source/WTF/wtf/text/StringView.cpp
  Source/WTF/wtf/text/StringView.h
Owners: none

NetworkLoad audit token scope needs to match Span that points to it https://bugs.webkit.org/show_bug.cgi?id=241422
  Source/WebKit/NetworkProcess/NetworkLoad.cpp
Owners: none

Align ITP client side cookie cap with other script-writable storage https://bugs.webkit.org/show_bug.cgi?id=240248 rdar://90468671
  LayoutTests/http/tests/resourceLoadStatistics/capped-lifetime-for-cookie-set-in-js-24-hours.html
  LayoutTests/http/tests/resourceLoadStatistics/website-data-removal-for-site-navigated-to-with-link-decoration-js-cookie-checking.html
  LayoutTests/http/tests/resourceLoadStatistics/website-data-removal-for-site-without-user-interaction-js-cookie-checking.html
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/wk2/TestExpectations
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebCore/platform/network/NetworkStorageSession.cpp
  Source/WebCore/platform/network/NetworkStorageSession.h
  Source/WebCore/platform/network/cf/NetworkStorageSessionCFNetWin.cpp
  Source/WebCore/platform/network/cocoa/NetworkStorageSessionCocoa.mm
  Source/WebCore/platform/network/curl/NetworkStorageSessionCurl.cpp
  Source/WebCore/platform/network/soup/NetworkStorageSessionSoup.cpp
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsDatabaseStore.cpp
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsDatabaseStore.h
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsStore.cpp
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsStore.h
  Source/WebKit/NetworkProcess/Classifier/WebResourceLoadStatisticsStore.h
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkProcess.messages.in
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
Owners: none

Cherry-pick c989ce3f9a6c. rdar://problem/76389334
  LayoutTests/accessibility/mac/selection-boundary-userinfo.html
  LayoutTests/accessibility/mac/selection-change-userinfo.html
  LayoutTests/accessibility/mac/selection-value-changes-for-aria-textbox.html
  LayoutTests/editing/selection-with-absolute-positioned-empty-content.html
  LayoutTests/fast/forms/textarea-scrolled-endline-caret.html
  LayoutTests/fast/repaint/selection-gap-absolute-child-expected.txt
  LayoutTests/fast/repaint/selection-gap-absolute-child.html
  LayoutTests/fast/repaint/selection-gap-fixed-child-expected.txt
  LayoutTests/fast/repaint/selection-gap-fixed-child.html
  LayoutTests/fast/repaint/selection-gap-flipped-absolute-child-expected.txt
  LayoutTests/fast/repaint/selection-gap-flipped-absolute-child.html
  LayoutTests/fast/repaint/selection-gap-transformed-absolute-child-expected.txt
  LayoutTests/fast/repaint/selection-gap-transformed-absolute-child.html
  LayoutTests/fast/repaint/selection-gap-transformed-fixed-child-expected.txt
  LayoutTests/fast/repaint/selection-gap-transformed-fixed-child.html
  LayoutTests/fast/repaint/selection-paint-invalidation-expected.txt
  LayoutTests/fast/repaint/selection-ruby-rl.html
  LayoutTests/fast/repaint/text-selection-overflow-hidden-expected.txt
  LayoutTests/fast/repaint/text-selection-overflow-hidden.html
  LayoutTests/fast/text/incorrect-deselection-across-multiple-elements.html
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/gtk/fast/repaint/selection-ruby-rl-expected.txt
  LayoutTests/platform/gtk/fast/repaint/text-selection-overflow-hidden-expected.txt
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac-wk1/accessibility/mac/focus-setting-selection-syncronizing-not-clearing-expected.txt
  LayoutTests/platform/mac-wk1/fast/repaint/4776765-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/css/css-scroll-snap/scroll-target-margin-005-expected.txt
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/win/fast/repaint/4776765-expected.txt
  LayoutTests/platform/win/fast/repaint/selection-gap-fixed-child-expected.txt
  LayoutTests/platform/win/fast/repaint/selection-ruby-rl-expected.txt
  LayoutTests/platform/win/fast/repaint/text-selection-overflow-hidden-expected.txt
  Source/WebCore/Modules/highlight/AppHighlightStorage.cpp
  Source/WebCore/editing/Editor.cpp
  Source/WebCore/editing/Editor.h
  Source/WebCore/editing/FrameSelection.cpp
  Source/WebCore/editing/FrameSelection.h
  Source/WebCore/page/EventHandler.cpp
  Source/WebCore/page/Page.cpp
Owners: none

Apply patch. rdar://problem/94467773
  Source/WebKit/ChangeLog
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewTesting.mm
  Tools/ChangeLog
Owners: @JonWBedard

Apply patch. rdar://problem/93518191
  Source/WebCore/css/CSSComputedStyleDeclaration.cpp
  Source/WebCore/css/parser/CSSParserContext.cpp
  Source/WebCore/css/parser/CSSParserContext.h
  Source/WebCore/css/parser/CSSPropertyParser.cpp
Owners: none

REGRESSION (250836@main): [iOS] Found text is not scrolled into view when highlighting the next/previous result https://bugs.webkit.org/show_bug.cgi?id=241431 rdar://94584301
  Source/WebKit/WebProcess/WebPage/WebFoundTextRangeController.cpp
Owners: none

RenderImageResource::setCachedImage may produce a null renderer https://bugs.webkit.org/show_bug.cgi?id=241435 <rdar://93714107>
  Source/WebCore/rendering/RenderImageResource.cpp
Owners: none

Allow keyboard smooth scrolling to take place in overflow:scroll regions https://bugs.webkit.org/show_bug.cgi?id=228158 rdar://80911829
  LayoutTests/fast/scrolling/mac/keyboard-scrolling-overflow-scroll-expected.txt
  LayoutTests/fast/scrolling/mac/keyboard-scrolling-overflow-scroll.html
  Source/WebCore/page/EventHandler.cpp
  Source/WebCore/page/EventHandler.h
Owners: none

[Win] WebKitQuartzCoreAdditions.dll is not installed https://bugs.webkit.org/show_bug.cgi?id=241430 <rdar://89637009>
  Source/WebKitLegacy/WebKitLegacy.vcxproj/WebKitLegacy.proj
Owners: none

App-overridden WKScrollView deceleration is reset every time WebKit commits the layer tree https://bugs.webkit.org/show_bug.cgi?id=241436 <rdar://problem/41019318>
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/UIProcess/ios/WKScrollView.h
  Source/WebKit/UIProcess/ios/WKScrollView.mm
  Tools/TestWebKitAPI/Tests/ios/WKScrollViewTests.mm
Owners: @JonWBedard

Add missing includes in ScreenCaptureKit headers https://bugs.webkit.org/show_bug.cgi?id=241440 <rdar://94669166>
  Source/WebCore/platform/mediastream/mac/ScreenCaptureKitCaptureSource.h
  Source/WebCore/platform/mediastream/mac/ScreenCaptureKitSharingSessionManager.h
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: none

Cherry-pick bc46adc5bb1f. rdar://problem/93714107
  Source/WebCore/rendering/RenderImageResource.cpp
Owners: none

OSAllocator::hintMemoryNotNeedsSoon() is used by CF. https://bugs.webkit.org/show_bug.cgi?id=241439
  Source/WTF/wtf/OSAllocator.h
  Source/WTF/wtf/posix/OSAllocatorPOSIX.cpp
  Source/WebCore/loader/cache/CachedResource.cpp
  Source/WebCore/platform/SharedBuffer.cpp
  Source/WebCore/platform/SharedBuffer.h
Owners: none

[Gardening]: REGRESSION: [iOS] TestWebKitAPI.HSTS.ThirdParty is consistely failing https://bugs.webkit.org/show_bug.cgi?id=241342 <rdar://94448628>
  Tools/TestWebKitAPI/Tests/WebKitCocoa/HSTS.mm
Owners: @JonWBedard

Handle a disconnected view during applyTopLeftLocationOffset https://bugs.webkit.org/show_bug.cgi?id=241355 <rdar://92432637>
  Source/WebCore/rendering/RenderBox.h
Owners: none

WTF::CrossThreadCopierBase::copy() should use std::forward <https://webkit.org/b/241426> <rdar://94648592>
  Source/WTF/wtf/CrossThreadCopier.h
Owners: none

Bump webkitcorepy version
  Tools/Scripts/libraries/webkitcorepy/setup.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/__init__.py
Owners: @JonWBedard

Cherry-pick bc46adc5bb1f. rdar://problem/93714107
  Source/WebCore/rendering/RenderImageResource.cpp
Owners: none

REGRESSION(r295372): [Win, WinCairo] 30 tests crash when creating ImageData https://bugs.webkit.org/show_bug.cgi?id=241429
  Source/WebCore/html/ImageData.cpp
  Source/WebCore/platform/graphics/ByteArrayPixelBuffer.cpp
  Source/WebCore/platform/graphics/ByteArrayPixelBuffer.h
Owners: none

[Gardening]: REGRESSION (r293829): [ iOS ] TestWebKitAPI.GPUProcess.WebProcessTerminationAfterTooManyGPUProcessCrashes is a flaky crash https://bugs.webkit.org/show_bug.cgi?id=240692 <rdar://93611089>
  Tools/TestWebKitAPI/Tests/WebKitCocoa/GPUProcess.mm
Owners: @JonWBedard

[Gardening]:[ iOS ] fast/events/ios/rotation/la yout-viewport-during-safari -type-rotation.html is a constant text failure https://bugs.webkit.org/show_bug.cgi?id=231266
  LayoutTests/platform/ios/fast/events/ios/rotation/layout-viewport-during-safari-type-rotation-expected.txt
Owners: none

[GARDENING]:Some layout tests are failing on EWS but not post commit testing due to a OS difference https://bugs.webkit.org/show_bug.cgi?id=239564
  LayoutTests/platform/ios/TestExpectations
Owners: none

[WebAuthn] Support credProps extension and refactor extension handling https://bugs.webkit.org/show_bug.cgi?id=241199 rdar://90281799
  Source/WebCore/Modules/webauthn/AuthenticationExtensionsClientInputs.cpp
  Source/WebCore/Modules/webauthn/AuthenticationExtensionsClientInputs.h
  Source/WebCore/Modules/webauthn/AuthenticationExtensionsClientInputs.idl
  Source/WebCore/Modules/webauthn/AuthenticationExtensionsClientOutputs.cpp
  Source/WebCore/Modules/webauthn/AuthenticationExtensionsClientOutputs.h
  Source/WebCore/Modules/webauthn/AuthenticationExtensionsClientOutputs.idl
  Source/WebCore/Modules/webauthn/AuthenticatorCoordinator.cpp
  Source/WebCore/Modules/webauthn/AuthenticatorResponse.cpp
  Source/WebCore/Modules/webauthn/AuthenticatorResponse.h
  Source/WebCore/Modules/webauthn/AuthenticatorResponseData.h
  Source/WebKit/Platform/spi/Cocoa/AuthenticationServicesCoreSPI.h
  Source/WebKit/UIProcess/API/Cocoa/_WKAuthenticatorAssertionResponse.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKAuthenticatorAssertionResponseInternal.h
  Source/WebKit/UIProcess/API/Cocoa/_WKAuthenticatorAttestationResponse.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKAuthenticatorAttestationResponseInternal.h
  Source/WebKit/UIProcess/API/Cocoa/_WKAuthenticatorResponse.h
  Source/WebKit/UIProcess/API/Cocoa/_WKAuthenticatorResponse.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKAuthenticatorResponseInternal.h
  Source/WebKit/UIProcess/API/Cocoa/_WKPublicKeyCredentialCreationOptions.h
  Source/WebKit/UIProcess/API/Cocoa/_WKPublicKeyCredentialCreationOptions.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKPublicKeyCredentialRequestOptions.h
  Source/WebKit/UIProcess/API/Cocoa/_WKPublicKeyCredentialRequestOptions.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebAuthenticationPanel.mm
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/LocalAuthenticator.h
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/LocalAuthenticator.mm
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/WebAuthenticatorCoordinatorProxy.mm
  Source/WebKit/UIProcess/WebAuthentication/fido/CtapAuthenticator.cpp
  Source/WebKit/UIProcess/WebAuthentication/fido/U2fAuthenticator.cpp
Owners: none

Rename MAC_CATALYST_GRAMMAR_CHECKING to ENABLE_POST_EDITING_GRAMMAR_CHECKING for clarity. https://bugs.webkit.org/show_bug.cgi?id=241434
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebCore/editing/Editor.cpp
  Source/WebCore/platform/graphics/cocoa/GraphicsContextCocoa.mm
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/ios/TextCheckerIOS.mm
Owners: none

Combine leaf layer transforms into the content scale https://bugs.webkit.org/show_bug.cgi?id=241443
  LayoutTests/compositing/canvas/hidpi-canvas-backing-store-expected.txt
  LayoutTests/compositing/canvas/hidpi-canvas-backing-store.html
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.cpp
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.h
Owners: none

Create Alc
  Alc
Owners: none

WebGPU::ShaderModule::convertCheckResult() should use std::forward <https://webkit.org/b/241437> <rdar://94662366>
  Source/WebGPU/WebGPU/ShaderModule.mm
Owners: none

Cache system font shorthand information https://bugs.webkit.org/show_bug.cgi?id=241404
  Source/WebCore/PAL/pal/spi/cf/CoreTextSPI.h
  Source/WebCore/PlatformPlayStation.cmake
  Source/WebCore/PlatformWin.cmake
  Source/WebCore/Sources.txt
  Source/WebCore/SourcesCocoa.txt
  Source/WebCore/SourcesGTK.txt
  Source/WebCore/SourcesWPE.txt
  Source/WebCore/css/CSSValueKeywords.in
  Source/WebCore/platform/graphics/SystemFontDatabase.cpp
  Source/WebCore/platform/graphics/SystemFontDatabase.h
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.h
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.h
  Source/WebCore/platform/graphics/cocoa/SystemFontDatabaseCocoa.mm
  Source/WebCore/platform/graphics/cocoa/SystemFontDatabaseCoreText.cpp
  Source/WebCore/platform/graphics/cocoa/SystemFontDatabaseCoreText.h
  Source/WebCore/platform/graphics/gtk/SystemFontDatabaseGTK.cpp
  Source/WebCore/platform/graphics/playstation/SystemFontDatabasePlayStation.cpp
  Source/WebCore/platform/graphics/win/SystemFontDatabaseWin.cpp
  Source/WebCore/platform/graphics/wpe/SystemFontDatabaseWPE.cpp
  Source/WebCore/rendering/RenderEmbeddedObject.cpp
Owners: none

Upstream some camera-related sandbox extensions https://bugs.webkit.org/show_bug.cgi?id=241446
  Source/WTF/wtf/PlatformHave.h
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Owners: none

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

# ================================================================================

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
