Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

[WTF] MediaTime: assert not double in timeValue() and timeScale() https://bugs.webkit.org/show_bug.cgi?id=246406
  Source/WTF/wtf/MediaTime.h
Owners: none

WebCodecsVideoDecoderConfig description should be undefined instead of null if there is no description to provide https://bugs.webkit.org/show_bug.cgi?id=246685 rdar://problem/101288923
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_h264_avc-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_vp8-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_vp9_p0-expected.txt
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.cpp
  Source/WebCore/platform/graphics/cv/VideoFrameCV.mm
Owners: none

[LBSE] Fix/enable zooming & panning - improve interop https://bugs.webkit.org/show_bug.cgi?id=245507
  LayoutTests/platform/mac-monterey-wk2-lbse-text/TestExpectations
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/custom/pan-direction-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/absolute-sized-document-no-scrollbars-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/absolute-sized-document-scrollbars-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/relative-sized-document-scrollbars-expected.png
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/relative-sized-document-scrollbars-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-coords-viewattr-01-b-expected.png
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-coords-viewattr-01-b-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-foreign-content-expected.png
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-foreign-content-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-foreignObject-expected.png
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-foreignObject-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-hixie-mixed-008-expected.png
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-hixie-mixed-008-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-hixie-mixed-009-expected.png
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-hixie-mixed-009-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-hixie-rendering-model-004-expected.png
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-hixie-rendering-model-004-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-img-preserveAspectRatio-support-1-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-replaced-intrinsic-ratio-001-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-svg-as-object-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-svg-float-border-padding-expected.png
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-svg-float-border-padding-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-svg-through-object-with-absolute-size-2-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-svg-through-object-with-auto-size-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-svg-through-object-with-override-size-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/text/zoom-hixie-mixed-008-expected.png
  Source/WebCore/rendering/svg/RenderSVGRoot.cpp
  Source/WebCore/rendering/svg/RenderSVGRoot.h
  Source/WebCore/rendering/svg/RenderSVGViewportContainer.cpp
  Source/WebCore/rendering/svg/RenderSVGViewportContainer.h
  Source/WebCore/svg/SVGSVGElement.cpp
Owners: none

[ews-app] Add python 3 support https://bugs.webkit.org/show_bug.cgi?id=246725
  Tools/CISupport/ews-app/ews/common/github.py
  Tools/CISupport/ews-app/ews/fetcher.py
  Tools/CISupport/ews-app/ews/views/statusbubble.py
Owners: @aj062, @JonWBedard, @ryanhaddad

Unreviewed, reverting r255726@main. https://bugs.webkit.org/show_bug.cgi?id=246740
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_h264_avc-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_vp8-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_vp9_p0-expected.txt
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.cpp
  Source/WebCore/platform/graphics/cv/VideoFrameCV.mm
Owners: none

Unreviewed, reverting r255717@main. https://bugs.webkit.org/show_bug.cgi?id=246741
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any.worker_vp9_p2-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_vp9_p2-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/reconfiguring-encoder.https.any.worker_vp9_p2-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/reconfiguring-encoder.https.any_vp9_p2-expected.txt
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoder.h
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoder.idl
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoderConfig.h
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.h
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.idl
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoderConfig.h
  Source/WebCore/dom/ScriptExecutionContext.cpp
  Source/WebCore/dom/ScriptExecutionContext.h
  Source/WebCore/platform/VideoDecoder.h
  Source/WebCore/platform/VideoEncoder.h
Owners: @rniwa, @cdumez

AsyncScrolling: add ScrollingTreeFixedNode base class https://bugs.webkit.org/show_bug.cgi?id=246612
  Source/WebCore/PlatformMac.cmake
  Source/WebCore/Sources.txt
  Source/WebCore/SourcesCocoa.txt
  Source/WebCore/SourcesGTK.txt
  Source/WebCore/SourcesWPE.txt
  Source/WebCore/page/scrolling/ScrollingTreeFixedNode.cpp
  Source/WebCore/page/scrolling/ScrollingTreeFixedNode.h
  Source/WebCore/page/scrolling/ScrollingTreeNode.h
  Source/WebCore/page/scrolling/ScrollingTreePositionedNode.h
  Source/WebCore/page/scrolling/ScrollingTreeStickyNode.h
  Source/WebCore/page/scrolling/cocoa/ScrollingTreeFixedNode.h
  Source/WebCore/page/scrolling/cocoa/ScrollingTreeFixedNode.mm
  Source/WebCore/page/scrolling/cocoa/ScrollingTreeFixedNodeCocoa.h
  Source/WebCore/page/scrolling/cocoa/ScrollingTreeFixedNodeCocoa.mm
  Source/WebCore/page/scrolling/cocoa/ScrollingTreeOverflowScrollProxyNode.mm
  Source/WebCore/page/scrolling/cocoa/ScrollingTreePositionedNodeCocoa.h
  Source/WebCore/page/scrolling/cocoa/ScrollingTreeStickyNodeCocoa.h
  Source/WebCore/page/scrolling/mac/ScrollingCoordinatorMac.mm
  Source/WebCore/page/scrolling/mac/ScrollingTreeMac.mm
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeFixedNode.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeFixedNode.h
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeFixedNodeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeFixedNodeNicosia.h
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeStickyNodeNicosia.h
  Source/WebCore/platform/TextureMapper.cmake
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingTree.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteScrollingCoordinatorProxyIOS.mm
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteScrollingCoordinator.mm
Owners: @cdumez, @magomez, @zdobersek

Don't unnecessarily tear down top layer renderers in RenderTreeUpdater https://bugs.webkit.org/show_bug.cgi?id=246735 rdar://101324926
  Source/WebCore/rendering/updating/RenderTreeUpdater.cpp
Owners: none

[GTK][WPE] Test accessibility/element-line-rects-and-text.html fails since it was added in r281108 https://bugs.webkit.org/show_bug.cgi?id=229261
  LayoutTests/platform/glib/TestExpectations
Owners: none

Add an `isThirdParty` argument when calling into `enableNetworkConnectionIntegrity` https://bugs.webkit.org/show_bug.cgi?id=246722 rdar://101316400
  Source/WebCore/platform/network/ResourceRequestBase.cpp
  Source/WebCore/platform/network/ResourceRequestBase.h
  Source/WebKit/NetworkProcess/NetworkDataTask.cpp
  Source/WebKit/NetworkProcess/NetworkDataTask.h
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.h
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.mm
Owners: @cdumez

[JSC] Fix AssemblyCommentRegistry when not using libpas jit heap https://bugs.webkit.org/show_bug.cgi?id=246705
  Source/JavaScriptCore/jit/ExecutableAllocator.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 255686@main (8c46e2483e88). rdar://101269112
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/trace.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/trace_unittest.py
Owners: @facetothefate, @JonWBedard

Add more logging to Tools/Scripts/delete-if-too-large https://bugs.webkit.org/show_bug.cgi?id=245489 rdar://99293146
  Tools/Scripts/delete-if-too-large
Owners: @JonWBedard

Cherry-pick 255687@main (1fe7fc8f2bd0). rdar://101188306
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/trace.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/trace_unittest.py
Owners: @facetothefate, @JonWBedard

Warnings when building ANGLE https://bugs.webkit.org/show_bug.cgi?id=246289
  Source/ThirdParty/ANGLE/CMakeLists.txt
  Source/ThirdParty/ANGLE/adjust-angle-include-paths.py
Owners: none

Cherry-pick 255689@main (402b4118973b). rdar://101292972
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/mocks/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/git_unittest.py
Owners: @facetothefate, @JonWBedard

ASSERTION FAILED: !is8Bit() https://bugs.webkit.org/show_bug.cgi?id=246688 rdar://101291623
  Source/WTF/wtf/text/StringImpl.h
  Source/WTF/wtf/text/StringView.h
Owners: none

Fire error event when link preload fails synchronously. https://bugs.webkit.org/show_bug.cgi?id=246663 rdar://101269688
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/content-security-policy/font-src/font-mismatch-blocked.sub-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/content-security-policy/font-src/font-none-blocked.sub-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/content-security-policy/reporting/report-preload-and-consume.https-expected.txt
  Source/WebCore/loader/LinkLoader.cpp
  Source/WebCore/loader/LinkLoader.h
Owners: @cdumez

Add function to copy the state of a GraphicsContext to another GraphicsContext https://bugs.webkit.org/show_bug.cgi?id=246681
  Source/WebCore/platform/graphics/BifurcatedGraphicsContext.cpp
  Source/WebCore/platform/graphics/GraphicsContext.cpp
  Source/WebCore/platform/graphics/GraphicsContext.h
  Source/WebCore/platform/graphics/GraphicsContextState.cpp
  Source/WebCore/platform/graphics/GraphicsContextState.h
  Source/WebCore/platform/graphics/displaylists/DisplayListItems.cpp
  Source/WebCore/platform/graphics/displaylists/DisplayListRecorder.cpp
Owners: none

Cherry-pick 255690@main (ffbe8fc30f0c). rdar://101296555
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/mocks/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/find.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/find_unittest.py
Owners: @facetothefate, @JonWBedard

AX: AXPropertyName::CurrentState is not updated after dynamic aria-current changes https://bugs.webkit.org/show_bug.cgi?id=246662 rdar://problem/101269589
  LayoutTests/accessibility/aria-current-state-changed-notification.html
  LayoutTests/platform/ios/accessibility/aria-current-state-changed-notification-expected.txt
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AccessibilityObject.cpp
  Source/WebCore/accessibility/AccessibilityObject.h
  Source/WebCore/accessibility/AccessibilityObjectInterface.h
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.h
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.h
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Use Aspect Ratio Computed From Presentational Hints Before Video Loads. https://bugs.webkit.org/show_bug.cgi?id=245001 rdar://99755477
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-aspect-ratio-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-aspect-ratio.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-intrinsic-width-height-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-intrinsic-width-height.html
  Source/WebCore/rendering/RenderReplaced.cpp
  Source/WebCore/rendering/RenderReplaced.h
  Source/WebCore/rendering/RenderVideo.cpp
  Source/WebCore/rendering/RenderVideo.h
Owners: none

Fire error event when CSP blocks inline stylesheets https://bugs.webkit.org/show_bug.cgi?id=246710 rdar://101308540
  LayoutTests/TestExpectations
  LayoutTests/http/tests/security/contentSecurityPolicy/style-src-blocked-error-event-expected.txt
  LayoutTests/http/tests/security/contentSecurityPolicy/style-src-blocked-error-event.html
  LayoutTests/imported/w3c/web-platform-tests/content-security-policy/style-src/style-src-error-event-fires-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/content-security-policy/style-src/style-src-inline-style-nonce-blocked-error-event-expected.txt
  Source/WebCore/dom/InlineStyleSheetOwner.cpp
Owners: @rniwa, @cdumez

Cherry-pick 636ad3860681. rdar://problem/101309133
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/SuspendedPageProxy.cpp
  Source/WebKit/UIProcess/SuspendedPageProxy.h
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
Owners: @cdumez

AudioSourceProviderAVFObjC::m_client should be Weak https://bugs.webkit.org/show_bug.cgi?id=246634 rdar://100804084
  Source/WebCore/platform/audio/AudioSourceProvider.h
  Source/WebCore/platform/audio/gstreamer/AudioSourceProviderGStreamer.cpp
  Source/WebCore/platform/audio/gstreamer/AudioSourceProviderGStreamer.h
  Source/WebCore/platform/graphics/avfoundation/AudioSourceProviderAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/AudioSourceProviderAVFObjC.mm
  Source/WebCore/platform/mediastream/mac/WebAudioSourceProviderCocoa.h
  Source/WebCore/platform/mediastream/mac/WebAudioSourceProviderCocoa.mm
Owners: @philn

Add missing implementation for CSSMathClamp::toSumValue() https://bugs.webkit.org/show_bug.cgi?id=246703
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/numeric-objects/to.tentative-expected.txt
  Source/WebCore/css/typedom/numeric/CSSMathClamp.cpp
Owners: none

Versioning.
  Configurations/Version.xcconfig
Owners: none

Avoid full style rebuild for :-webkit-animating-full-screen-transition and :-webkit-full-screen-controls-hidden https://bugs.webkit.org/show_bug.cgi?id=246736 rdar://101325585
  Source/WebCore/dom/FullscreenManager.cpp
  Source/WebCore/dom/FullscreenManager.h
Owners: @rniwa, @cdumez

Revert [255693@main] [macOS] Use RunningBoard to manage process priorities https://bugs.webkit.org/show_bug.cgi?id=245752 rdar://100477336
  Source/WTF/Scripts/Preferences/WebPreferencesInternal.yaml
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.cpp
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.h
  Source/WebKit/UIProcess/Cocoa/LegacyDownloadClient.mm
  Source/WebKit/UIProcess/Cocoa/NavigationState.h
  Source/WebKit/UIProcess/Cocoa/NavigationState.mm
  Source/WebKit/UIProcess/GPU/GPUProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/PageClient.h
  Source/WebKit/UIProcess/ProcessAssertion.h
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.h
  Source/WebKit/UIProcess/SuspendedPageProxy.cpp
  Source/WebKit/UIProcess/SuspendedPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/UIProcess/mac/PageClientImplMac.h
  Source/WebKit/UIProcess/mac/WebProcessProxyMac.mm
Owners: @cdumez

Cherry-pick 2d8149bbed87. rdar://problem/101223521
  Source/WebCore/accessibility/AccessibilityLabel.h
  Source/WebCore/accessibility/AccessibilityMediaObject.h
  Source/WebCore/accessibility/AccessibilityObject.cpp
  Source/WebCore/accessibility/AccessibilityObject.h
  Source/WebCore/accessibility/AccessibilityObjectInterface.h
  Source/WebCore/accessibility/AccessibilityProgressIndicator.h
  Source/WebCore/accessibility/AccessibilityRenderObject.cpp
  Source/WebCore/accessibility/AccessibilityRenderObject.h
  Source/WebCore/accessibility/AccessibilityScrollView.h
  Source/WebCore/accessibility/AccessibilityScrollbar.h
  Source/WebCore/accessibility/AccessibilitySlider.h
  Source/WebCore/accessibility/AccessibilitySpinButton.h
  Source/WebCore/accessibility/AccessibilityTableColumn.h
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.h
Owners: none

Cherry-pick 33f7c1b9c1e2. rdar://problem/101191194
  LayoutTests/accessibility-isolated-tree/TestExpectations
  LayoutTests/accessibility/aria-scrollbar-role-expected.txt
  LayoutTests/accessibility/aria-scrollbar-role.html
  LayoutTests/accessibility/aria-selected-menu-items.html
  LayoutTests/accessibility/content-editable-as-textarea.html
  LayoutTests/accessibility/mac/aria-menuitem-focus-expected.txt
  LayoutTests/accessibility/mac/aria-menuitem-focus.html
  LayoutTests/accessibility/set-value-not-work-for-disabled-sliders-expected.txt
  LayoutTests/accessibility/set-value-not-work-for-disabled-sliders.html
  LayoutTests/platform/glib/accessibility/content-editable-as-textarea-expected.txt
  LayoutTests/platform/mac/accessibility/content-editable-as-textarea-expected.txt
Owners: none

Cherry-pick 757b65c09d72. rdar://problem/101194307
  LayoutTests/accessibility-isolated-tree/TestExpectations
  LayoutTests/accessibility/mac/document-title-used-for-description-expected.txt
  LayoutTests/accessibility/mac/document-title-used-for-description.html
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AXObjectCache.h
  Source/WebCore/dom/Document.cpp
Owners: @rniwa, @cdumez

Cherry-pick 80e097afe06f. rdar://problem/101269589
  LayoutTests/accessibility/aria-current-state-changed-notification.html
  LayoutTests/platform/ios/accessibility/aria-current-state-changed-notification-expected.txt
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AccessibilityObject.cpp
  Source/WebCore/accessibility/AccessibilityObject.h
  Source/WebCore/accessibility/AccessibilityObjectInterface.h
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.h
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.h
Owners: none

Cherry-pick b6eab27a3f8d. rdar://problem/101209793
  LayoutTests/accessibility/aria-modal-multiple-dialogs-expected.txt
  LayoutTests/accessibility/aria-modal-multiple-dialogs.html
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AXObjectCache.h
Owners: none

Cherry-pick bcdb262e70e8. rdar://problem/101186153
  LayoutTests/accessibility-isolated-tree/TestExpectations
  LayoutTests/accessibility/mac/aria-multiselectable-expected.txt
  LayoutTests/accessibility/mac/aria-multiselectable.html
  Source/WebCore/accessibility/AXObjectCache.cpp
Owners: none

Pixel cracks in text-masked background images in replayed CG display lists https://bugs.webkit.org/show_bug.cgi?id=246738 rdar://100183888
  Source/WebCore/platform/graphics/BifurcatedGraphicsContext.cpp
  Source/WebCore/platform/graphics/BifurcatedGraphicsContext.h
  Source/WebCore/platform/graphics/GraphicsContext.h
  Source/WebCore/platform/graphics/NullGraphicsContext.h
  Source/WebCore/platform/graphics/cairo/CairoOperations.cpp
  Source/WebCore/platform/graphics/cairo/CairoOperations.h
  Source/WebCore/platform/graphics/cairo/GraphicsContextCairo.cpp
  Source/WebCore/platform/graphics/cairo/GraphicsContextCairo.h
  Source/WebCore/platform/graphics/cg/GraphicsContextCG.cpp
  Source/WebCore/platform/graphics/cg/GraphicsContextCG.h
  Source/WebCore/platform/graphics/displaylists/DisplayListRecorder.cpp
  Source/WebCore/platform/graphics/displaylists/DisplayListRecorder.h
  Source/WebCore/platform/graphics/nicosia/cairo/NicosiaCairoOperationRecorder.cpp
  Source/WebCore/platform/graphics/nicosia/cairo/NicosiaCairoOperationRecorder.h
  Source/WebKit/Shared/RemoteLayerTree/CGDisplayListImageBufferBackend.mm
Owners: @magomez, @zdobersek

[macOS] Fix absolute paths to macOS libraries in WebKit https://bugs.webkit.org/show_bug.cgi?id=246747 rdar://101228686
  Source/WebKit/Configurations/WebKit.xcconfig
Owners: none

[ews-app]: Use python3 supported BeautifulSoup https://bugs.webkit.org/show_bug.cgi?id=246754
  Tools/CISupport/ews-app/ews/thirdparty/BeautifulSoup.py
  Tools/CISupport/ews-app/ews/thirdparty/BeautifulSoup_legacy.py
Owners: @aj062, @JonWBedard, @ryanhaddad

Update fuzzy annotations for tests running on macOS with accelerated drawing enabled https://bugs.webkit.org/show_bug.cgi?id=246674 <rdar://problem/101275358>
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/background-size-027.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/background-size-028.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/background-size-029.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/background-size-030.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/background-size-031.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/border-bottom-left-radius-004.xht
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/border-bottom-right-radius-004.xht
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/border-image-repeat-round-2.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/border-top-left-radius-004.xht
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/border-top-right-radius-004.xht
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/css-box-shadow-001.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/contain-paint-clip-015.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/contain-paint-clip-016.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/justify-content-001.htm
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/justify-content-005.htm
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/tiled-radial-gradients.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-masking/mask-image/mask-mode-c.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-multicol/multicol-rule-dashed-000.xht
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/2d-rotate-001.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/css-skew-002.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/preserve3d-and-flattening-z-order-008.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/skew-test1.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transforms-rotate-degree-45.html
  LayoutTests/imported/w3c/web-platform-tests/svg/extensibility/foreignObject/masked.html
  LayoutTests/scrollingcoordinator/mac/rtl-programmatic-overflow-scroll.html
  LayoutTests/svg/animations/animated-string-href.svg
  LayoutTests/svg/clip-path/clip-path-line-use-before-defined.svg
  LayoutTests/svg/clip-path/clip-path-shape-rounded-inset-1.svg
  LayoutTests/svg/clip-path/clip-path-shape-rounded-inset-2.svg
  LayoutTests/svg/clip-path/svg-in-html.html
  LayoutTests/svg/compositing/outermost-svg-with-border-overflow-visible.html
  LayoutTests/svg/compositing/outermost-svg-with-border.html
  LayoutTests/svg/custom/hidpi-masking-clipping.svg
  LayoutTests/svg/custom/local-url-reference-stroke.html
  LayoutTests/svg/custom/pattern-content-inheritance-cycle.svg
  LayoutTests/svg/gradients/spreadMethodAlpha.svg
  LayoutTests/svg/gradients/spreadMethodDiagonal.svg
  LayoutTests/svg/gradients/spreadMethodDiagonal2.svg
  LayoutTests/tiled-drawing/top-content-inset-fixed-attachment-local.html
  LayoutTests/tiled-drawing/top-content-inset-fixed-attachment.html
Owners: none
