Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

Cherry-pick 1614f108945. rdar://22959741
  Source/WTF/wtf/FastMalloc.h
  Source/bmalloc/bmalloc/IsoHeap.h
  Source/bmalloc/bmalloc/IsoHeapInlines.h
Owners: @Constellation

WKNavigationAction should expose _WKHitTestResult https://bugs.webkit.org/show_bug.cgi?id=246539 <rdar://100526247>
  Source/WebKit/Shared/NavigationActionData.cpp
  Source/WebKit/Shared/NavigationActionData.h
  Source/WebKit/UIProcess/API/APINavigationAction.h
  Source/WebKit/UIProcess/API/Cocoa/WKNavigationAction.mm
  Source/WebKit/UIProcess/API/Cocoa/WKNavigationActionPrivate.h
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/DecidePolicyForNavigationAction.mm
Owners: @cdumez

Cherry-pick ca08a222c80. rdar://99753615
  Source/JavaScriptCore/runtime/TemporalPlainDate.cpp
  Source/WebCore/css/CSSCrossfadeValue.cpp
  Source/WebCore/css/CSSCrossfadeValue.h
  Source/WebCore/css/CSSFilterImageValue.cpp
  Source/WebCore/css/CSSFilterImageValue.h
  Source/WebCore/css/CSSFontFaceSrcValue.cpp
  Source/WebCore/css/CSSFontFaceSrcValue.h
  Source/WebCore/css/CSSFunctionValue.cpp
  Source/WebCore/css/CSSFunctionValue.h
  Source/WebCore/css/CSSGridAutoRepeatValue.cpp
  Source/WebCore/css/CSSGridIntegerRepeatValue.cpp
  Source/WebCore/css/CSSGridLineNamesValue.cpp
  Source/WebCore/css/CSSImageSetValue.cpp
  Source/WebCore/css/CSSImageSetValue.h
  Source/WebCore/css/CSSImageValue.cpp
  Source/WebCore/css/CSSImageValue.h
  Source/WebCore/css/CSSPrimitiveValue.cpp
  Source/WebCore/css/CSSPrimitiveValue.h
  Source/WebCore/css/CSSValue.cpp
  Source/WebCore/css/CSSValue.h
  Source/WebCore/css/CSSValueList.cpp
  Source/WebCore/css/CSSValueList.h
  Source/WebCore/css/DeprecatedCSSOMPrimitiveValue.h
  Source/WebCore/css/DeprecatedCSSOMValue.cpp
  Source/WebCore/css/DeprecatedCSSOMValue.h
  Source/WebCore/css/DeprecatedCSSOMValueList.cpp
  Source/WebCore/css/DeprecatedCSSOMValueList.h
  Source/WebCore/css/PropertySetCSSStyleDeclaration.cpp
  Source/WebCore/css/StyleProperties.cpp
  Source/WebCore/css/StyleProperties.h
  Source/WebCore/css/parser/CSSParserTokenRange.h
  Source/WebCore/css/parser/CSSPropertyParser.h
  Source/WebCore/css/typedom/CSSNumericValue.h
  Source/WebCore/css/typedom/numeric/CSSMathMax.cpp
  Source/WebCore/css/typedom/numeric/CSSMathProduct.cpp
  Source/WebCore/css/typedom/numeric/CSSMathSum.cpp
  Source/WebCore/rendering/style/StyleCustomPropertyData.h
Owners: @WebKit/jsc-reviewers

Cherry-pick 96c123ec8040. rdar://problem/22959741
  LayoutTests/fast/text/font-variant-shorthand-expected.txt
  LayoutTests/fast/text/font-variant-shorthand.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-variant-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/accumulation-per-property-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/addition-per-property-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/interpolation-per-property-001-expected.txt
  Source/WebCore/Sources.txt
  Source/WebCore/css/CSSComputedStyleDeclaration.cpp
  Source/WebCore/css/CSSFontVariantAlternatesValue.cpp
  Source/WebCore/css/CSSFontVariantAlternatesValue.h
  Source/WebCore/css/CSSPrimitiveValueMappings.h
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/CSSValue.cpp
  Source/WebCore/css/CSSValue.h
  Source/WebCore/css/CSSValueKeywords.in
  Source/WebCore/css/StyleProperties.cpp
  Source/WebCore/css/parser/CSSParserFastPaths.cpp
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/platform/graphics/FontCascadeCache.h
  Source/WebCore/platform/graphics/FontCascadeDescription.cpp
  Source/WebCore/platform/graphics/FontCascadeDescription.h
  Source/WebCore/platform/graphics/FontDescription.cpp
  Source/WebCore/platform/graphics/FontDescription.h
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/harfbuzz/ComplexTextControllerHarfBuzz.cpp
  Source/WebCore/platform/text/TextFlags.cpp
  Source/WebCore/platform/text/TextFlags.h
  Source/WebCore/style/StyleBuilderCustom.h
Owners: @WebKit/glib-reviewers

Cherry-pick b036a036e04c. rdar://problem/100895546
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperBase.mm
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperMac.mm
Owners: none

Cherry-pick 1ecea79c59bf. rdar://problem/101608755
  Source/WebCore/css/StyleProperties.cpp
Owners: none

Cherry-pick 303ef67fea1e. rdar://problem/101608713
  JSTests/stress/jsonp-program-evaluate-path-must-consider-global-lexical-environment.js
  JSTests/stress/jsonp-program-evaluate-path-must-handle-tdz.js
  Source/JavaScriptCore/interpreter/Interpreter.cpp
Owners: @WebKit/jsc-reviewers

[perf.webkit.org] Only parse identifiers at the beginning of a line https://bugs.webkit.org/show_bug.cgi?id=247097 rdar://101608465
  Websites/perf.webkit.org/tools/sync-commits.py
Owners: none

[JSC] Allow the same array for fast concat https://bugs.webkit.org/show_bug.cgi?id=247038 rdar://101569531
  JSTests/microbenchmarks/same-array-concat.js
  Source/JavaScriptCore/runtime/ArrayPrototype.cpp
  Source/JavaScriptCore/runtime/JSArray.cpp
  Source/JavaScriptCore/runtime/JSArray.h
  Source/JavaScriptCore/runtime/JSArrayInlines.h
Owners: @WebKit/jsc-reviewers

Cherry-pick 89d57a6f366a. rdar://problem/101001547
  Source/WebCore/layout/formattingContexts/inline/display/InlineDisplayContentBuilder.cpp
  Source/WebCore/rendering/LegacyLineLayout.cpp
  Source/WebCore/rendering/TextDecorationPainter.cpp
  Source/WebCore/style/InlineTextBoxStyle.cpp
  Source/WebCore/style/InlineTextBoxStyle.h
Owners: none

Updated Swedish translation https://bugs.webkit.org/show_bug.cgi?id=247094
  Source/WebCore/platform/gtk/po/sv.po
Owners: @WebKit/glib-reviewers

Cherry-pick 5535cabfe075. rdar://problem/101426315
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/harfbuzz/ComplexTextControllerHarfBuzz.cpp
  Source/WebCore/platform/text/TextFlags.cpp
  Source/WebCore/platform/text/TextFlags.h
Owners: @WebKit/glib-reviewers

Cherry-pick a994d178e9d6. rdar://problem/101151548
  Source/WebCore/css/StyleColor.h
  Source/WebCore/platform/text/TextFlags.h
Owners: none

Avoid geometry update assertions in some tests when UI side compositing is enabled on macOS https://bugs.webkit.org/show_bug.cgi?id=242884 rdar://97583976
  LayoutTests/platform/ios-simulator-wk2/TestExpectations
  LayoutTests/platform/ios-simulator-wk2/accessibility/visible-character-range-height-changes-expected.txt
  LayoutTests/platform/ios-simulator-wk2/accessibility/visible-character-range-width-changes-expected.txt
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
Owners: @cdumez

Cherry-pick 8070eaf88efe. rdar://problem/98091263
  LayoutTests/fast/canvas/rgba-parsing-expected.txt
  LayoutTests/fast/canvas/rgba-parsing.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-rgb-expected.txt
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/svg/import/color-prop-02-f-manual-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/svg/import/color-prop-03-t-manual-expected.txt
  LayoutTests/platform/glib/svg/W3C-SVG-1.1/color-prop-02-f-expected.txt
  LayoutTests/platform/glib/svg/W3C-SVG-1.1/color-prop-03-t-expected.txt
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1/color-prop-02-f-expected.png
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1/color-prop-02-f-expected.txt
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1/color-prop-03-t-expected.png
  LayoutTests/platform/ios-simulator/imported/w3c/web-platform-tests/svg/import/color-prop-02-f-manual-expected.txt
  LayoutTests/platform/ios-simulator/imported/w3c/web-platform-tests/svg/import/color-prop-03-t-manual-expected.txt
  LayoutTests/platform/ios/svg/W3C-SVG-1.1/color-prop-02-f-expected.txt
  LayoutTests/platform/ios/svg/W3C-SVG-1.1/color-prop-03-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/color-prop-02-f-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/color-prop-03-t-expected.txt
  LayoutTests/platform/mac/imported/w3c/web-platform-tests/svg/import/color-prop-02-f-manual-expected.txt
  LayoutTests/platform/mac/imported/w3c/web-platform-tests/svg/import/color-prop-03-t-manual-expected.txt
  LayoutTests/platform/mac/svg/W3C-SVG-1.1/color-prop-02-f-expected.txt
  LayoutTests/platform/mac/svg/W3C-SVG-1.1/color-prop-03-t-expected.txt
  LayoutTests/platform/win/TestExpectations
  LayoutTests/platform/win/svg/W3C-SVG-1.1/color-prop-03-t-expected.txt
  LayoutTests/platform/wpe/svg/W3C-SVG-1.1/color-prop-02-f-expected.txt
  LayoutTests/platform/wpe/svg/W3C-SVG-1.1/color-prop-03-t-expected.txt
  LayoutTests/svg/custom/mask-colorspace-expected.txt
  LayoutTests/svg/filters/feDisplacementMap-filterUnits-expected.svg
  LayoutTests/svg/filters/feDisplacementMap-filterUnits.svg
  Source/WebCore/css/parser/CSSParserFastPaths.cpp
Owners: none

Cherry-pick eba490ba3cc4. rdar://problem/99926239
  LayoutTests/TestExpectations
  LayoutTests/compositing/backgrounds/fixed-background-on-descendant.html
  LayoutTests/compositing/backgrounds/fixed-backgrounds.html
  Source/WebCore/rendering/RenderBoxModelObject.cpp
Owners: none

Web Inspector: Support editing @rules in the Styles sidebar https://bugs.webkit.org/show_bug.cgi?id=246768 rdar://99871652
  LayoutTests/inspector/css/generateFormattedText-expected.txt
  LayoutTests/inspector/css/getMatchedStylesForNode-expected.txt
  LayoutTests/inspector/css/setGroupingHeaderText-expected.txt
  LayoutTests/inspector/css/setGroupingHeaderText.html
  Source/JavaScriptCore/inspector/protocol/CSS.json
  Source/WebCore/css/parser/CSSParser.h
  Source/WebCore/css/parser/CSSParserImpl.cpp
  Source/WebCore/css/parser/CSSParserImpl.h
  Source/WebCore/inspector/InspectorStyleSheet.cpp
  Source/WebCore/inspector/InspectorStyleSheet.h
  Source/WebCore/inspector/agents/InspectorCSSAgent.cpp
  Source/WebCore/inspector/agents/InspectorCSSAgent.h
  Source/WebInspectorUI/UserInterface/Main.html
  Source/WebInspectorUI/UserInterface/Models/CSSGrouping.js
  Source/WebInspectorUI/UserInterface/Models/DOMNodeStyles.js
  Source/WebInspectorUI/UserInterface/Views/SpreadsheetCSSStyleDeclarationSection.css
  Source/WebInspectorUI/UserInterface/Views/SpreadsheetCSSStyleDeclarationSection.js
  Source/WebInspectorUI/UserInterface/Views/SpreadsheetRuleHeaderField.js
  Source/WebInspectorUI/UserInterface/Views/SpreadsheetRulesStyleDetailsPanel.js
  Source/WebInspectorUI/UserInterface/Views/StyleOriginView.js
Owners: @dcrousso, @patrickangle

[Curl] Add Timing-Allow-Origin checks for Curl port https://bugs.webkit.org/show_bug.cgi?id=247048
  LayoutTests/platform/wincairo/TestExpectations
  Source/WebCore/platform/network/curl/CurlResourceHandleDelegate.cpp
  Source/WebCore/platform/network/curl/CurlResourceHandleDelegate.h
  Source/WebKit/NetworkProcess/NetworkDataTask.cpp
  Source/WebKit/NetworkProcess/curl/NetworkDataTaskCurl.cpp
  Source/WebKit/NetworkProcess/curl/NetworkDataTaskCurl.h
Owners: @cdumez

Top scoreboard of espn.com cutting off team names https://bugs.webkit.org/show_bug.cgi?id=247081 <rdar://101519984>
  LayoutTests/fast/block/shrink-to-fit-with-trailing-whitespace-and-ellipsis-expected.html
  LayoutTests/fast/block/shrink-to-fit-with-trailing-whitespace-and-ellipsis.html
  Source/WebCore/layout/formattingContexts/inline/InlineLineBuilder.cpp
Owners: none

Further adjust some network connection integrity behaviors https://bugs.webkit.org/show_bug.cgi?id=247080
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/NetworkSession.h
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.h
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.mm
Owners: @cdumez

[LFC][IFC] InlineLevelBox::createAtomicInlineLevelBox should not take height as parameter https://bugs.webkit.org/show_bug.cgi?id=246974
  Source/WebCore/layout/formattingContexts/inline/InlineLevelBox.h
  Source/WebCore/layout/formattingContexts/inline/InlineLineBoxBuilder.cpp
Owners: none

Switch FontCache to use ThreadSpecific instead of ThreadGlobalData https://bugs.webkit.org/show_bug.cgi?id=244919
  Source/WebCore/css/CSSFontSelector.cpp
  Source/WebCore/platform/ThreadGlobalData.cpp
  Source/WebCore/platform/ThreadGlobalData.h
  Source/WebCore/platform/graphics/FontCache.cpp
  Source/WebCore/platform/graphics/FontCache.h
  Source/WebCore/workers/WorkerOrWorkletThread.cpp
Owners: @cdumez

Add a runtime feature flag to control URL lookalike character sanitization in links https://bugs.webkit.org/show_bug.cgi?id=247101 rdar://101614362
  Source/WTF/Scripts/Preferences/WebPreferencesInternal.yaml
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
Owners: @cdumez

Add unregister functions for VM and SAB destruction
  Source/JavaScriptCore/runtime/ArrayBuffer.cpp
  Source/JavaScriptCore/runtime/ArrayBuffer.h
  Source/JavaScriptCore/runtime/AtomicsObject.cpp
  Source/JavaScriptCore/runtime/VM.cpp
  Source/JavaScriptCore/runtime/VM.h
  Source/JavaScriptCore/runtime/WaiterListManager.cpp
  Source/JavaScriptCore/runtime/WaiterListManager.h
Owners: @WebKit/jsc-reviewers

Remove main thread assertion in Font::canRenderCombiningCharacterSequence https://bugs.webkit.org/show_bug.cgi?id=247105 <rdar://problem/101617568>
  Source/WebCore/platform/graphics/Font.cpp
Owners: none

WebGL crashes when GPUP DOM Rendering is enabled https://bugs.webkit.org/show_bug.cgi?id=247056 rdar://problem/101582758
  LayoutTests/webgl/webgl-and-dom-in-gpup-expected.html
  LayoutTests/webgl/webgl-and-dom-in-gpup.html
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Owners: @cdumez

[WebCodecs] Expose encoder color space in decoder config https://bugs.webkit.org/show_bug.cgi?id=247054 rdar://problem/101582123
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-encoder.https.any-expected.txt
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.cpp
  Source/WebCore/platform/LibWebRTCVPXVideoEncoder.cpp
  Source/WebCore/platform/VideoEncoder.h
  Source/WebKit/WebProcess/GPU/media/RemoteVideoCodecFactory.cpp
Owners: @cdumez

Tweak more test expectations to prepare for accelerated drawing on macOS https://bugs.webkit.org/show_bug.cgi?id=247093 <rdar://problem/101607757>
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/background-size-027.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/border-bottom-left-radius-004.xht
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/border-top-left-radius-004.xht
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/css-box-shadow-001.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/contain-paint-clip-015.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/contain-paint-clip-016.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-masking/mask-image/mask-opacity-1a.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-masking/mask-image/mask-opacity-1b.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-masking/mask-image/mask-opacity-1c.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-shapes/shape-outside/shape-image/gradients/shape-outside-linear-gradient-001.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/preserve3d-and-flattening-z-order-008.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/skewX/svg-skewxy-001.html
  LayoutTests/platform/mac-wk1/compositing/canvas/accelerated-canvas-compositing-size-limit-expected.txt
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/mac-wk2/compositing/canvas/accelerated-canvas-compositing-size-limit-expected.txt
  LayoutTests/svg/animations/polyline-set.svg
  LayoutTests/svg/compositing/outermost-svg-directly-composited-group-child-overflow-hidden.html
  LayoutTests/svg/filters/feImage-element-primitive-subregion.svg
Owners: none

[WebCodecs] Disable tests in Win https://bugs.webkit.org/show_bug.cgi?id=247116 rdar://problem/101623753
  LayoutTests/platform/win/TestExpectations
Owners: none

CSSValue pointer returned from DeclaredStylePropertyMap::propertyValue() causes use-after-free errors https://bugs.webkit.org/show_bug.cgi?id=247055
  Source/WebCore/css/typedom/ComputedStylePropertyMapReadOnly.cpp
  Source/WebCore/css/typedom/DeclaredStylePropertyMap.cpp
  Source/WebCore/css/typedom/DeclaredStylePropertyMap.h
  Source/WebCore/css/typedom/MainThreadStylePropertyMapReadOnly.h
  Source/WebCore/css/typedom/StylePropertyMapReadOnly.cpp
  Source/WebCore/css/typedom/StylePropertyMapReadOnly.h
  Source/WebCore/dom/StyledElement.cpp
  Source/WebCore/html/CustomPaintImage.cpp
Owners: @rniwa, @cdumez

REGRESSION(255953@main): [GTK] Library version now matches project version https://bugs.webkit.org/show_bug.cgi?id=247098
  Source/cmake/OptionsGTK.cmake
Owners: @WebKit/glib-reviewers

[GTK][WPE] Add API to check if a response policy decision is for the main resource https://bugs.webkit.org/show_bug.cgi?id=247059
  Source/WebKit/UIProcess/API/glib/WebKitResponsePolicyDecision.cpp
  Source/WebKit/UIProcess/API/glib/WebKitResponsePolicyDecision.h.in
  Tools/MiniBrowser/gtk/BrowserTab.c
  Tools/TestWebKitAPI/Tests/WebKitGLib/TestWebKitPolicyClient.cpp
Owners: @WebKit/glib-reviewers

[WebCodecs] H264AnnexBBufferToCMSampleBuffer is not always computing the right AVC buffer size https://bugs.webkit.org/show_bug.cgi?id=247069 rdar://problem/101593041
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any.worker_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any_h264_annexb-expected.txt
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/nalu_rewriter.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/nalu_rewriter.h
Owners: none

[Cocoa] Enable WebCodecs by default https://bugs.webkit.org/show_bug.cgi?id=247070 rdar://problem/101593295
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
Owners: none

[LFC][IFC] Not every inline level box has computed layout bounds https://bugs.webkit.org/show_bug.cgi?id=246983
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingGeometry.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineLevelBox.h
  Source/WebCore/layout/formattingContexts/inline/InlineLineBoxBuilder.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineLineBoxVerticalAligner.cpp
Owners: none

Mark more WebCodec tests as no longer flakky https://bugs.webkit.org/show_bug.cgi?id=247125 rdar://problem/101632120
  LayoutTests/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Owners: none

Stop ignoring GCC's use-after-free warnings in CSSValue::deref() https://bugs.webkit.org/show_bug.cgi?id=247120
  Source/WebCore/css/CSSValue.h
  Source/WebCore/css/StyleProperties.cpp
  Source/WebCore/css/parser/CSSPropertyParser.cpp
Owners: none

[MQ4] Add schemas for resolution and -webkit-device-pixel-ratio features https://bugs.webkit.org/show_bug.cgi?id=247118 rdar://101625468
  Source/WTF/wtf/text/StringOperators.h
  Source/WebCore/css/query/GenericMediaQueryEvaluator.cpp
  Source/WebCore/css/query/GenericMediaQueryEvaluator.h
  Source/WebCore/css/query/GenericMediaQueryParser.cpp
  Source/WebCore/css/query/MediaQueryFeatures.cpp
Owners: none

Add check that request's firstPartyForCookies is reasonable https://bugs.webkit.org/show_bug.cgi?id=246504
  Source/WebCore/workers/service/ServiceWorkerRegistrationKey.cpp
  Source/WebCore/workers/service/ServiceWorkerRegistrationKey.h
  Source/WebCore/workers/service/server/SWServer.cpp
  Source/WebCore/workers/service/server/SWServer.h
  Source/WebCore/workers/service/server/SWServerWorker.h
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServer.cpp
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServer.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.messages.in
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessPool.h
  Source/WebKit/WebProcess/Storage/WebSWContextManagerConnection.cpp
Owners: @cdumez

Remove unused didDetectXSS https://bugs.webkit.org/show_bug.cgi?id=247112
  Source/WebCore/loader/EmptyClients.cpp
  Source/WebCore/loader/EmptyFrameLoaderClient.h
  Source/WebCore/loader/FrameLoaderClient.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/InjectedBundle/API/APIInjectedBundlePageLoaderClient.h
  Source/WebKit/WebProcess/InjectedBundle/InjectedBundlePageLoaderClient.cpp
  Source/WebKit/WebProcess/InjectedBundle/InjectedBundlePageLoaderClient.h
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.mm
  Source/WebKitLegacy/win/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKitLegacy/win/WebCoreSupport/WebFrameLoaderClient.h
  Tools/WebKitTestRunner/InjectedBundle/InjectedBundlePage.cpp
  Tools/WebKitTestRunner/InjectedBundle/InjectedBundlePage.h
Owners: @cdumez, @JonWBedard

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
