Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

Revert [252432.703@safari-7614-branch] Cherry-pick eba490ba3cc4. rdar://problem/99926239
  LayoutTests/TestExpectations
  LayoutTests/compositing/backgrounds/fixed-background-on-descendant.html
  LayoutTests/compositing/backgrounds/fixed-backgrounds.html
  Source/WebCore/rendering/RenderBoxModelObject.cpp
Owners: none

[LFC][IFC] Set layout bounds only on inline box and related types of inline level boxes https://bugs.webkit.org/show_bug.cgi?id=246986
  Source/WebCore/layout/formattingContexts/inline/InlineLineBoxBuilder.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineLineBoxBuilder.h
Owners: none

[WebCodecs] Expose decoded video frames colorSpace https://bugs.webkit.org/show_bug.cgi?id=247060 rdar://problem/101584578
  LayoutTests/http/wpt/webcodecs/videoFrame-colorSpace-expected.txt
  LayoutTests/http/wpt/webcodecs/videoFrame-colorSpace.html
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.iOS.exp
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.iOSsim.exp
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.mac.exp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.h
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrameData.h
  Source/WebCore/platform/LibWebRTCVPXVideoDecoder.cpp
  Source/WebCore/platform/VideoFrame.cpp
  Source/WebCore/platform/VideoFrame.h
  Source/WebCore/platform/graphics/cv/VideoFrameCV.h
  Source/WebCore/platform/graphics/cv/VideoFrameCV.mm
  Source/WebCore/platform/mediastream/libwebrtc/VideoFrameLibWebRTC.cpp
  Source/WebCore/platform/mediastream/libwebrtc/VideoFrameLibWebRTC.h
  Source/WebCore/platform/mediastream/mac/RealtimeIncomingVideoSourceCocoa.mm
  Source/WebKit/WebProcess/GPU/media/RemoteVideoFrameProxy.cpp
  Source/WebKit/WebProcess/GPU/media/RemoteVideoFrameProxy.h
Owners: @cdumez

(REGRESSION:255635@main) No video in Netflix hover previews https://bugs.webkit.org/show_bug.cgi?id=247021 rdar://101520126
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.messages.in
  Source/WebKit/GPUProcess/media/cocoa/RemoteMediaPlayerProxyCocoa.mm
  Source/WebKit/GPUProcess/media/win/RemoteMediaPlayerProxyWin.cpp
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.h
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.messages.in
  Source/WebKit/WebProcess/GPU/media/cocoa/MediaPlayerPrivateRemoteCocoa.mm
  Source/WebKit/WebProcess/GPU/media/cocoa/VideoLayerRemoteCocoa.mm
Owners: @cdumez

Calling CSSStyleValue.parseAll() on a list-valued CSS property should split its value list https://bugs.webkit.org/show_bug.cgi?id=247063
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-objects/parseAll-expected.txt
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/CSSProperty.h
  Source/WebCore/css/makeprop.pl
  Source/WebCore/css/typedom/CSSStyleValueFactory.cpp
  Source/WebCore/css/typedom/CSSStyleValueFactory.h
  Tools/Scripts/webkitpy/style/checkers/jsonchecker.py
Owners: @JonWBedard

Cherry-pick bb61b0638af6. rdar://problem/101639166
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.cpp
  Tools/TestWebKitAPI/Tests/WebCore/ImageBufferTests.cpp
Owners: @cdumez

Make WebFrame and WebFrameProxy message senders and receivers https://bugs.webkit.org/show_bug.cgi?id=247110
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources-output.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.h
  Source/WebKit/UIProcess/WebFrameProxy.messages.in
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.h
  Source/WebKit/WebProcess/WebPage/WebFrame.messages.in
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
Owners: @cdumez

Cherry-pick 05fcfed179c8. rdar://problem/101520126
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.messages.in
  Source/WebKit/GPUProcess/media/cocoa/RemoteMediaPlayerProxyCocoa.mm
  Source/WebKit/GPUProcess/media/win/RemoteMediaPlayerProxyWin.cpp
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.h
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.messages.in
  Source/WebKit/WebProcess/GPU/media/cocoa/MediaPlayerPrivateRemoteCocoa.mm
  Source/WebKit/WebProcess/GPU/media/cocoa/VideoLayerRemoteCocoa.mm
Owners: @cdumez

Cherry-pick 435426cf4b3b. rdar://problem/101641884
  Source/WebCore/css/CSSCounterStyleRule.cpp
  Source/WebCore/css/CSSCounterStyleRule.h
  Source/WebCore/css/CSSFontFace.h
  Source/WebCore/css/CSSFontFaceSet.h
  Source/WebCore/css/CSSFontPaletteValuesRule.cpp
  Source/WebCore/css/CSSFontPaletteValuesRule.h
  Source/WebCore/css/CSSFontSelector.h
  Source/WebCore/css/CSSGroupingRule.cpp
  Source/WebCore/css/CSSImportRule.h
  Source/WebCore/css/CSSKeyframeRule.h
  Source/WebCore/css/CSSKeyframesRule.cpp
  Source/WebCore/css/CSSLayerBlockRule.h
  Source/WebCore/css/CSSLayerStatementRule.cpp
  Source/WebCore/css/CSSLayerStatementRule.h
  Source/WebCore/css/CSSPropertySourceData.h
  Source/WebCore/css/CSSStyleSheet.cpp
  Source/WebCore/css/CSSSupportsRule.h
  Source/WebCore/css/StyleRule.cpp
  Source/WebCore/css/StyleRule.h
  Source/WebCore/css/StyleRuleImport.h
  Source/WebCore/css/parser/CSSParserImpl.h
  Source/WebCore/css/parser/CSSParserObserver.h
  Source/WebCore/css/parser/CSSPropertyParser.h
  Source/WebCore/css/typedom/CSSStyleValueFactory.cpp
  Source/WebCore/html/track/WebVTTParser.cpp
  Source/WebCore/svg/properties/SVGAttributeAnimator.cpp
Owners: @cdumez, @rniwa

Cherry-pick 4303ed343b77. rdar://problem/100830599
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/idlharness-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/test_font_feature_values_parsing-expected.txt
  Source/WebCore/CMakeLists.txt
  Source/WebCore/DerivedSources-input.xcfilelist
  Source/WebCore/DerivedSources-output.xcfilelist
  Source/WebCore/DerivedSources.make
  Source/WebCore/Sources.txt
  Source/WebCore/bindings/js/JSCSSRuleCustom.cpp
  Source/WebCore/css/CSSFontFeatureValuesRule.cpp
  Source/WebCore/css/CSSFontFeatureValuesRule.h
  Source/WebCore/css/CSSFontFeatureValuesRule.idl
  Source/WebCore/css/StyleRule.cpp
  Source/WebCore/css/StyleRule.h
  Source/WebCore/css/StyleRuleType.h
  Source/WebCore/css/StyleSheetContents.cpp
  Source/WebCore/css/parser/CSSAtRuleID.cpp
  Source/WebCore/css/parser/CSSAtRuleID.h
  Source/WebCore/css/parser/CSSParserImpl.cpp
  Source/WebCore/css/parser/CSSParserImpl.h
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.h
  Source/WebCore/inspector/InspectorStyleSheet.cpp
Owners: @cdumez, @dcrousso, @patrickangle

Cherry-pick 5a42f279267d. rdar://problem/101311092
  Source/WebCore/css/parser/CSSParserImpl.cpp
Owners: none

Cherry-pick a14a556da51f. rdar://problem/100830615
  LayoutTests/TestExpectations
  LayoutTests/platform/gtk/TestExpectations
  Source/WebCore/Headers.cmake
  Source/WebCore/Sources.txt
  Source/WebCore/css/CSSFontFace.cpp
  Source/WebCore/css/CSSFontFace.h
  Source/WebCore/css/CSSFontFeatureValuesRule.cpp
  Source/WebCore/css/CSSFontSelector.cpp
  Source/WebCore/css/CSSFontSelector.h
  Source/WebCore/css/CSSSegmentedFontFace.cpp
  Source/WebCore/css/CSSSegmentedFontFace.h
  Source/WebCore/css/StyleRule.cpp
  Source/WebCore/css/StyleRule.h
  Source/WebCore/css/parser/CSSParserImpl.cpp
  Source/WebCore/platform/graphics/FontCreationContext.h
  Source/WebCore/platform/graphics/FontFeatureValues.cpp
  Source/WebCore/platform/graphics/FontFeatureValues.h
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/coretext/FontPlatformDataCoreText.cpp
  Source/WebCore/platform/graphics/harfbuzz/ComplexTextControllerHarfBuzz.cpp
  Source/WebCore/platform/text/TextFlags.cpp
  Source/WebCore/platform/text/TextFlags.h
  Source/WebCore/style/RuleSetBuilder.cpp
Owners: @WebKit/glib-reviewers

Cherry-pick eaf5e543e50d. rdar://problem/101346126
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/aspect-ratio/flex-aspect-ratio-002.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/aspect-ratio/flex-aspect-ratio-004.html
  Source/WebCore/rendering/RenderFlexibleBox.cpp
Owners: none

[macOS] Use RunningBoard to manage process priorities https://bugs.webkit.org/show_bug.cgi?id=245752 rdar://100477336
  Source/WTF/Scripts/Preferences/WebPreferencesInternal.yaml
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.cpp
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.h
  Source/WebKit/UIProcess/Cocoa/LegacyDownloadClient.mm
  Source/WebKit/UIProcess/Cocoa/NavigationState.h
  Source/WebKit/UIProcess/Cocoa/NavigationState.mm
  Source/WebKit/UIProcess/GPU/GPUProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/PageClient.h
  Source/WebKit/UIProcess/ProcessAssertion.h
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.h
  Source/WebKit/UIProcess/SuspendedPageProxy.cpp
  Source/WebKit/UIProcess/SuspendedPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/UIProcess/mac/PageClientImplMac.h
Owners: @cdumez

Cherry-pick 05fcfed179c8. rdar://problem/101520126
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.messages.in
  Source/WebKit/GPUProcess/media/cocoa/RemoteMediaPlayerProxyCocoa.mm
  Source/WebKit/GPUProcess/media/win/RemoteMediaPlayerProxyWin.cpp
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.h
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.messages.in
  Source/WebKit/WebProcess/GPU/media/cocoa/MediaPlayerPrivateRemoteCocoa.mm
  Source/WebKit/WebProcess/GPU/media/cocoa/VideoLayerRemoteCocoa.mm
Owners: @cdumez

Apply build fix. rdar://99753615
  Source/WebCore/css/typedom/CSSNumericValue.h
Owners: none

Apply build fix.
  Source/WebCore/css/CSSFontFace.h
Owners: none

Cherry-pick 4678ec459cc8. rdar://problem/100130953
  Source/WebCore/Modules/fetch/FetchHeaders.cpp
  Source/WebCore/platform/network/HTTPParsers.cpp
  Source/WebCore/platform/network/HTTPParsers.h
  Source/WebCore/xml/XMLHttpRequest.cpp
Owners: @cdumez

Cherry-pick 4abefb791c76. rdar://problem/101232007
  LayoutTests/svg/resource-invalidation/filter-resource-invalidation-expected.html
  LayoutTests/svg/resource-invalidation/filter-resource-invalidation.html
  Source/WTF/wtf/EnumeratedArray.h
  Source/WebCore/platform/graphics/filters/FEComponentTransfer.cpp
  Source/WebCore/platform/graphics/filters/FEComponentTransfer.h
  Source/WebCore/svg/SVGComponentTransferFunctionElement.cpp
  Source/WebCore/svg/SVGComponentTransferFunctionElement.h
  Source/WebCore/svg/SVGComponentTransferFunctionElementInlines.h
  Source/WebCore/svg/SVGFEComponentTransferElement.cpp
  Source/WebCore/svg/SVGFEComponentTransferElement.h
  Source/WebCore/svg/SVGFEFuncAElement.h
  Source/WebCore/svg/SVGFEFuncBElement.h
  Source/WebCore/svg/SVGFEFuncGElement.h
  Source/WebCore/svg/SVGFEFuncRElement.h
  Source/WebCore/svg/SVGFilterPrimitiveStandardAttributes.cpp
  Source/WebCore/svg/SVGFilterPrimitiveStandardAttributes.h
Owners: none

Cherry-pick 62dfaac6890c. rdar://problem/101506812
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServer.cpp
Owners: @cdumez

Cherry-pick 8fc38a332dc4. rdar://problem/100402480
  Source/WTF/wtf/PlatformEnableCocoa.h
Owners: none

Cherry-pick 9404eeeb89ae. rdar://problem/101133602
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsDatabaseStore.cpp
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsDatabaseStore.h
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerToContextConnection.cpp
Owners: @cdumez

Cherry-pick bb1da00b9ba8. rdar://problem/97847673
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/ContextMtl.mm
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/ProgramMtl.mm
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/mtl_command_buffer.h
Owners: none

Cherry-pick dd872d60f501. rdar://problem/97896551
  LayoutTests/editing/resources/selection-scrolling-in-multiple-nested-subframes-iframe.html
  LayoutTests/editing/selection/selection-scrolling-in-multiple-nested-subframes-expected.txt
  LayoutTests/editing/selection/selection-scrolling-in-multiple-nested-subframes.html
  Source/WebCore/page/FrameView.cpp
Owners: @rniwa, @cdumez

Computed value CSS gradients need to serialize colors in their computed form https://bugs.webkit.org/show_bug.cgi?id=246927
  LayoutTests/fast/css/getComputedStyle/computed-style-cross-fade-expected.txt
  LayoutTests/fast/css/getComputedStyle/computed-style-cross-fade.html
  LayoutTests/fast/css/getComputedStyle/computed-style-with-zoom-expected.txt
  LayoutTests/fast/css/getComputedStyle/computed-style-with-zoom.html
  LayoutTests/fast/gradients/css3-gradient-parsing-expected.txt
  LayoutTests/fast/gradients/css3-gradient-parsing.html
  LayoutTests/fast/gradients/unprefixed-gradient-parsing-expected.txt
  LayoutTests/fast/gradients/unprefixed-gradient-parsing.html
  LayoutTests/fast/shapes/parsing/parsing-shape-outside-expected.txt
  LayoutTests/http/wpt/css/css-images-4/conic-gradient-parsing.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/animations/background-image-interpolation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/animations/border-image-source-interpolation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/parsing/background-image-computed.sub-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/parsing/border-image-source-computed.sub-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/parsing/gradient-interpolation-method-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/parsing/gradient-interpolation-method-computed.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-lists/animations/list-style-image-interpolation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-lists/parsing/list-style-image-computed.sub-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-masking/animations/mask-image-interpolation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-variables/variable-substitution-background-properties.html
  Source/WebCore/css/CSSGradientValue.cpp
  Source/WebCore/css/CSSGradientValue.h
  Source/WebCore/css/StyleColor.cpp
  Source/WebCore/css/StyleColor.h
  Source/WebCore/html/HTMLInputElement.cpp
  Source/WebCore/rendering/style/StyleGradientImage.cpp
  Source/WebCore/rendering/style/StyleGradientImage.h
  Source/WebCore/style/StyleBuilderState.h
Owners: @cdumez, @rniwa

Allow http/https scheme in WebSocket (and by proxy, relative URLs). https://bugs.webkit.org/show_bug.cgi?id=247149
  Source/WebCore/Modules/websockets/WebSocket.cpp
Owners: none

Upstream Pencil Hover https://bugs.webkit.org/show_bug.cgi?id=247085 rdar://88513609
  Source/WTF/wtf/PlatformEnable.h
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebCore/html/HTMLTextFormControlElement.cpp
  Source/WebCore/page/EventHandler.cpp
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/ios/WKMouseGestureRecognizer.mm
Owners: @cdumez, @rniwa

Validate import-assertions in static module imports https://bugs.webkit.org/show_bug.cgi?id=247102 rdar://101616551
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/scripting-1/the-script-element/css-module/content-type-checking-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/scripting-1/the-script-element/css-module/import-css-module-basic-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/scripting-1/the-script-element/css-module/integrity-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/scripting-1/the-script-element/css-module/load-error-events-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/scripting-1/the-script-element/import-assertions/invalid-type-assertion-error-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/semantics/scripting-1/the-script-element/css-module/credentials.sub-expected.txt
  Source/JavaScriptCore/parser/ModuleAnalyzer.cpp
  Source/JavaScriptCore/parser/ModuleAnalyzer.h
  Source/JavaScriptCore/parser/Nodes.h
  Source/JavaScriptCore/parser/NodesAnalyzeModule.cpp
  Source/JavaScriptCore/runtime/Completion.cpp
  Source/JavaScriptCore/runtime/JSModuleLoader.cpp
  Source/JavaScriptCore/runtime/ScriptFetchParameters.h
Owners: @WebKit/jsc-reviewers

Fix the build iOS Debug with recent SDK
  Source/WebKit/UIProcess/ios/WKPDFPageNumberIndicator.mm
Owners: @cdumez

Remove ImageBitmapEnabled from DeprecatedGlobalSettings https://bugs.webkit.org/show_bug.cgi?id=247099 rdar://101610138
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WebCore/html/ImageBitmap.idl
  Source/WebCore/html/canvas/ImageBitmapRenderingContext.idl
  Source/WebCore/page/DeprecatedGlobalSettings.h
  Source/WebCore/page/WindowOrWorkerGlobalScope.idl
  Source/WebKit/WebProcess/Inspector/WebInspectorUI.cpp
Owners: @cdumez, @rniwa

WTF::removeQueryParameters should not reencode and reparse the query string if nothing was removed https://bugs.webkit.org/show_bug.cgi?id=247131
  Source/WTF/wtf/URL.cpp
  Source/WTF/wtf/URLParser.cpp
  Source/WTF/wtf/URLParser.h
  Tools/TestWebKitAPI/Tests/WTF/URL.cpp
Owners: none

[Build-fix][PlayStation] build-fix after b8e45f3 256065@main https://bugs.webkit.org/show_bug.cgi?id=247136
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServer.cpp
Owners: @cdumez

Remove support for WKBundlePagePolicyActionUse https://bugs.webkit.org/show_bug.cgi?id=247143 rdar://101642406
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Tools/TestWebKitAPI/Tests/WebKitObjC/CustomProtocolsInvalidScheme_Bundle.cpp
  Tools/WebKitTestRunner/InjectedBundle/InjectedBundlePage.cpp
Owners: @cdumez, @JonWBedard

Regression(252759@main) Unable to log into marcus.com https://bugs.webkit.org/show_bug.cgi?id=247153 rdar://101086391
  Source/WebCore/page/Quirks.cpp
Owners: @cdumez

[JSC] Use array-move shift with threshold https://bugs.webkit.org/show_bug.cgi?id=247104 rdar://101617332
  Source/JavaScriptCore/runtime/JSArray.cpp
  Source/JavaScriptCore/runtime/JSArray.h
Owners: @WebKit/jsc-reviewers

REGRESSION(255063@main): [ iOS ] editing/selection/ios/do-not-hide-selection-in-visible-container.html is a constant timeout https://bugs.webkit.org/show_bug.cgi?id=245984 <rdar://problem/100736393>
  LayoutTests/platform/ios-wk2/TestExpectations
Owners: none

Migrate GPUProcess structures to generated serialization https://bugs.webkit.org/show_bug.cgi?id=247150 rdar://101651187
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/GPUProcess/GPUProcessSessionParameters.h
  Source/WebKit/GPUProcess/GPUProcessSessionParameters.serialization.in
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackendCreationParameters.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackendCreationParameters.serialization.in
  Source/WebKit/GPUProcess/media/InitializationSegmentInfo.serialization.in
  Source/WebKit/GPUProcess/media/MediaDescriptionInfo.h
  Source/WebKit/GPUProcess/media/MediaDescriptionInfo.serialization.in
  Source/WebKit/GPUProcess/media/RemoteMediaDescription.h
  Source/WebKit/GPUProcess/media/TextTrackPrivateRemoteConfiguration.h
  Source/WebKit/GPUProcess/media/TextTrackPrivateRemoteConfiguration.serialization.in
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Owners: none

Refactor some logic for dragging promised images on macOS https://bugs.webkit.org/show_bug.cgi?id=247158 rdar://101578922
  Source/WebKit/UIProcess/Cocoa/WebPasteboardProxyCocoa.mm
  Source/WebKit/UIProcess/mac/WebPageProxyMac.mm
Owners: @cdumez

JSC DFG Number.prototype.toString does not throw an exception when the parameter is Object https://bugs.webkit.org/show_bug.cgi?id=245463 <rdar://problem/100494175>
  JSTests/stress/number-prototype-to-string-dfg-bad-this-value-radix-10.js
  JSTests/stress/number-prototype-to-string-dfg-bad-this-value-radix-absent.js
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGConstantFoldingPhase.cpp
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGNode.h
Owners: @WebKit/jsc-reviewers

Add RELEASE_LOG_FAULT in Connection::markCurrentlyDispatchedMessageAsInvalid https://bugs.webkit.org/show_bug.cgi?id=247138 rdar://101641127
  Source/WebKit/GPUProcess/webrtc/RemoteMediaRecorder.cpp
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/Platform/IPC/Connection.h
Owners: @cdumez
