Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

[Gardening]: [ iOS ] TestWebKitAPI.WKWebExtensionController.BackgroundPageLoading is a constant failure https://bugs.webkit.org/show_bug.cgi?id=246632
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionController.mm
Owners: none

WebPush.ITPCleanup test always fails https://bugs.webkit.org/show_bug.cgi?id=246601 rdar://problem/101228159
  Tools/TestWebKitAPI/TestNotificationProvider.cpp
  Tools/TestWebKitAPI/TestNotificationProvider.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/PushAPI.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebPushDaemon.mm
Owners: none

rdar://100332030 ([ iOS16 ] 2x mathml/presentation/(Layout tests) are constant failures (245588))
  LayoutTests/platform/ios-wk2/TestExpectations
Owners: none

Omit document.referrer for third-party requests while in ephemeral mode https://bugs.webkit.org/show_bug.cgi?id=244518 <rdar://99578273>
  LayoutTests/http/tests/resourceLoadStatistics/omit-document-referrer-nested-third-party-iframe-ephemeral-expected.txt
  LayoutTests/http/tests/resourceLoadStatistics/omit-document-referrer-nested-third-party-iframe-ephemeral.html
  LayoutTests/http/tests/resourceLoadStatistics/omit-document-referrer-third-party-iframe-ephemeral-expected.txt
  LayoutTests/http/tests/resourceLoadStatistics/omit-document-referrer-third-party-iframe-ephemeral.html
  LayoutTests/http/tests/resourceLoadStatistics/omit-referrer-for-navigation-ephemeral-expected.txt
  LayoutTests/http/tests/resourceLoadStatistics/omit-referrer-for-navigation-ephemeral.html
  Source/WebCore/dom/Document+HTML.idl
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
Owners: @rniwa, @cdumez

[git-webkit] Ring terminal bell if input hangs https://bugs.webkit.org/show_bug.cgi?id=244625 <rdar://problem/99397362>
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/__init__.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/terminal.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/timer.py
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/branch.py
Owners: @JonWBedard, @facetothefate

(partial) Cherry pick of 253162@main to resolve rdar://101088767 ([safari-7614-branch] content-security-policy/gen/top.http-rp/script-src-wildcard WPT tests consistently failing)
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  Tools/WebKitTestRunner/InjectedBundle/InjectedBundlePage.cpp
Owners: @JonWBedard

rdar://101261303 ([ REBASLINE ][ Safari-7614-branch ]3x Mathml tests are constant failures)
  LayoutTests/platform/ios/mathml/presentation/mo-stretch-expected.txt
  LayoutTests/platform/ios/mathml/presentation/roots-expected.txt
  LayoutTests/platform/ios/mathml/radical-fallback-expected.txt
  LayoutTests/platform/mac/mathml/presentation/mo-stretch-expected.txt
  LayoutTests/platform/mac/mathml/presentation/roots-expected.txt
  LayoutTests/platform/mac/mathml/radical-fallback-expected.txt
Owners: none

Scrolling by pressing space bar has regressed in trunk, is choppy (not 120Hz) Need the bug URL (OOPS!). rdar://101052130
  Source/WebCore/Sources.txt
  Source/WebCore/page/EventHandler.cpp
  Source/WebCore/page/EventHandler.h
  Source/WebCore/page/FrameView.cpp
  Source/WebCore/page/FrameView.h
  Source/WebCore/page/scrolling/AsyncScrollingCoordinator.cpp
  Source/WebCore/page/scrolling/AsyncScrollingCoordinator.h
  Source/WebCore/page/scrolling/ScrollingCoordinator.h
  Source/WebCore/page/scrolling/ScrollingCoordinatorTypes.h
  Source/WebCore/page/scrolling/ScrollingStateNode.h
  Source/WebCore/page/scrolling/ScrollingStateScrollingNode.cpp
  Source/WebCore/page/scrolling/ScrollingStateScrollingNode.h
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNode.cpp
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNode.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeScrollingNodeDelegateMac.mm
  Source/WebCore/platform/KeyboardScroll.h
  Source/WebCore/platform/KeyboardScrollingAnimator.cpp
  Source/WebCore/platform/KeyboardScrollingAnimator.h
  Source/WebCore/platform/KeyboardScrollingState.cpp
  Source/WebCore/platform/KeyboardScrollingState.h
  Source/WebCore/platform/ScrollAnimation.cpp
  Source/WebCore/platform/ScrollAnimation.h
  Source/WebCore/platform/ScrollAnimationKeyboard.cpp
  Source/WebCore/platform/ScrollAnimationKeyboard.h
  Source/WebCore/platform/ScrollAnimator.cpp
  Source/WebCore/platform/ScrollAnimator.h
  Source/WebCore/platform/ScrollableArea.cpp
  Source/WebCore/platform/ScrollableArea.h
  Source/WebCore/platform/ScrollingEffectsController.cpp
  Source/WebCore/platform/ScrollingEffectsController.h
  Source/WebCore/rendering/RenderLayerScrollableArea.cpp
  Source/WebCore/rendering/RenderLayerScrollableArea.h
  Source/WebKit/WebProcess/WebPage/EventDispatcher.cpp
Owners: @cdumez

Land stubs for FileSystemAccess file picker APIs https://bugs.webkit.org/show_bug.cgi?id=246650
  LayoutTests/imported/w3c/web-platform-tests/file-system-access/idlharness.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/file-system-access/opaque-origin.https.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/file-system-access/showPicker-errors.https.window-expected.txt
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WebCore/CMakeLists.txt
  Source/WebCore/DerivedSources-input.xcfilelist
  Source/WebCore/DerivedSources-output.xcfilelist
  Source/WebCore/DerivedSources.make
  Source/WebCore/Modules/filesystemaccess/DOMWindow+FileSystemAccess.idl
  Source/WebCore/Modules/filesystemaccess/DOMWindowFileSystemAccess.cpp
  Source/WebCore/Modules/filesystemaccess/DOMWindowFileSystemAccess.h
  Source/WebCore/Modules/filesystemaccess/DirectoryPickerOptions.h
  Source/WebCore/Modules/filesystemaccess/DirectoryPickerOptions.idl
  Source/WebCore/Modules/filesystemaccess/FilePickerAcceptType.h
  Source/WebCore/Modules/filesystemaccess/FilePickerAcceptType.idl
  Source/WebCore/Modules/filesystemaccess/FilePickerOptions.h
  Source/WebCore/Modules/filesystemaccess/FilePickerOptions.idl
  Source/WebCore/Modules/filesystemaccess/FileSystemPermissionMode.h
  Source/WebCore/Modules/filesystemaccess/FileSystemPermissionMode.idl
  Source/WebCore/Modules/filesystemaccess/OpenFilePickerOptions.h
  Source/WebCore/Modules/filesystemaccess/OpenFilePickerOptions.idl
  Source/WebCore/Modules/filesystemaccess/SaveFilePickerOptions.h
  Source/WebCore/Modules/filesystemaccess/SaveFilePickerOptions.idl
  Source/WebCore/Modules/filesystemaccess/StartInDirectory.h
  Source/WebCore/Modules/filesystemaccess/WellKnownDirectory.h
  Source/WebCore/Modules/filesystemaccess/WellKnownDirectory.idl
  Source/WebCore/Modules/mediastream/RTCIceCandidateFields.cpp
  Source/WebCore/Sources.txt
  Source/WebCore/bindings/js/WebCoreBuiltinNames.h
Owners: @cdumez

Add Daniel Jalkut to contributors https://bugs.webkit.org/show_bug.cgi?id=246644
  metadata/contributors.json
Owners: @JonWBedard

Add setting for experimental sandbox changes https://bugs.webkit.org/show_bug.cgi?id=246629 rdar://101248059
  Source/WTF/Scripts/Preferences/WebPreferencesInternal.yaml
  Source/WebKit/Scripts/process-entitlements.sh
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Owners: @cdumez

[GARDENING] rdar://99988927 ([ iOS ] imported/w3c/web-platform-tests/css/cssom/cssstyledeclaration-csstext.html is a constant failure)
  LayoutTests/platform/ios/TestExpectations
Owners: none

[CSP] Implement prefetch-src directive https://bugs.webkit.org/show_bug.cgi?id=185070 rdar://problem/39821187
  LayoutTests/http/tests/security/contentSecurityPolicy/prefetch-src/prefetch-allowed-expected.txt
  LayoutTests/http/tests/security/contentSecurityPolicy/prefetch-src/prefetch-allowed.html
  LayoutTests/http/tests/security/contentSecurityPolicy/prefetch-src/prefetch-blocked-by-default-expected.txt
  LayoutTests/http/tests/security/contentSecurityPolicy/prefetch-src/prefetch-blocked-by-default.html
  LayoutTests/http/tests/security/contentSecurityPolicy/prefetch-src/prefetch-blocked-expected.txt
  LayoutTests/http/tests/security/contentSecurityPolicy/prefetch-src/prefetch-blocked.html
  LayoutTests/platform/win/http/tests/security/contentSecurityPolicy/prefetch-src/prefetch-allowed-expected.txt
  LayoutTests/platform/win/http/tests/security/contentSecurityPolicy/prefetch-src/prefetch-blocked-by-default-expected.txt
  LayoutTests/platform/win/http/tests/security/contentSecurityPolicy/prefetch-src/prefetch-blocked-expected.txt
  Source/WebCore/loader/LinkLoader.cpp
  Source/WebCore/loader/cache/CachedResourceLoader.cpp
  Source/WebCore/page/csp/ContentSecurityPolicy.cpp
  Source/WebCore/page/csp/ContentSecurityPolicy.h
  Source/WebCore/page/csp/ContentSecurityPolicyDirectiveList.cpp
  Source/WebCore/page/csp/ContentSecurityPolicyDirectiveList.h
  Source/WebCore/page/csp/ContentSecurityPolicyDirectiveNames.cpp
  Source/WebCore/page/csp/ContentSecurityPolicyDirectiveNames.h
Owners: @cdumez

[GARDENING] rdar://99988689 ([ iOS ] imported/w3c/web-platform-tests/css/cssom/getComputedStyle-detached-subtree.html is a constant failure)
  LayoutTests/platform/ios/TestExpectations
Owners: none

Unreviewed, fix JSWebAssemblyStruct's wrong construction https://bugs.webkit.org/show_bug.cgi?id=246641 rdar://101256379
  Source/JavaScriptCore/wasm/WasmOperations.cpp
  Source/JavaScriptCore/wasm/js/JSWebAssemblyStruct.cpp
  Source/JavaScriptCore/wasm/js/JSWebAssemblyStruct.h
Owners: @WebKit/jsc-reviewers

Upstream some code for Private Click Measurement in NetworkDataTask https://bugs.webkit.org/show_bug.cgi?id=246642 rdar://101254515
  Source/WebCore/PAL/pal/spi/cf/CFNetworkSPI.h
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
Owners: @cdumez

[GARDENING] rdar://99988058 ([ iOS ] imported/w3c/web-platform-tests/dom/events/focus-event-document-move.html is a constant failure)
  LayoutTests/platform/ios/TestExpectations
Owners: none

[GARDENING] rdar://100047661 ([ iOS ] 2X fast/events/touch/ios/long-press-on-(Layout tests))
  LayoutTests/platform/ios/TestExpectations
Owners: none

[GARDENING] rdar://100044592 ([ iOS ] fast/images/text-recognition/ios/show-data-detector-context-menu.html is a constant failure)
  LayoutTests/platform/ios/TestExpectations
Owners: none

[iPadOS] screen.orientation.lock() promise should get rejected when the app supports multiple scenes https://bugs.webkit.org/show_bug.cgi?id=246556
  Source/WebKit/UIProcess/WebScreenOrientationManagerProxy.cpp
  Source/WebKit/UIProcess/WebScreenOrientationManagerProxy.h
  Source/WebKit/UIProcess/ios/WebScreenOrientationManagerProxyIOS.mm
Owners: @cdumez

Increase fuziness on recently imported WPT flexbox and grid tests. https://bugs.webkit.org/show_bug.cgi?id=246576 rdar://101207880
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/align-content-001.htm
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/align-content-002.htm
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/align-content-003.htm
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/align-content-004.htm
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/align-content-005.htm
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/align-items-001.htm
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/align-items-002.htm
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/align-items-003.htm
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/align-items-004.htm
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/layout-algorithm/flex-sizing-rows-indefinite-height.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/layout-algorithm/grid-template-flexible-rerun-track-sizing.html
Owners: none

[GARDENING] rdar://99942843 ([ iOS Mac ] imported/w3c/web-platform-tests/html/rendering/non-replaced-elements/form-controls/resets.html is a constant failure)
  LayoutTests/platform/mac/TestExpectations
Owners: none

[REBASLINE] rdar://99942291 ([ iOS ] 2X imported/w3c/web-platform-tests/inert/inert-(Layout tests) are constant failures)
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/inert/inert-iframe-hittest-expected.txt
Owners: none

[GARDENING] rdar://99894939 (REGRESSION(252432.159@safari-7614-branch - 252432.293@safari-7614-branch): [ iOS ] svg/css/invalid-color-cascade.svg is an almost constant failure)
  LayoutTests/platform/ios/TestExpectations
Owners: none

[WK2] Turn on the screen orientation API feature flag https://bugs.webkit.org/show_bug.cgi?id=246548
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
Owners: none

Cherry-pick 254449@main (88f9f7427b61). rdar://99880491
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/platform/ios/VideoFullscreenInterfaceAVKit.mm
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/6/AssertionServices.framework/AssertionServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/6/AuthKit.framework/AuthKit.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/6/CorePDF.framework/CorePDF.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/6/DeviceIdentity.framework/DeviceIdentity.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/6/FileProvider.framework/FileProvider.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/6/IOKit.framework/IOKit.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/6/IOSurfaceAccelerator.framework/IOSurfaceAccelerator.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/6/LocalAuthentication.framework/LocalAuthentication.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/6/PepperUICore.framework/PepperUICore.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/7/AppSupport.framework/AppSupport.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/7/AssertionServices.framework/AssertionServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/7/AuthKit.framework/AuthKit.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/7/CorePrediction.framework/CorePrediction.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/7/DeviceIdentity.framework/DeviceIdentity.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/7/FileProvider.framework/FileProvider.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/7/GraphicsServices.framework/GraphicsServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/7/IOKit.framework/IOKit.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/7/IOSurfaceAccelerator.framework/IOSurfaceAccelerator.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/7/LocalAuthentication.framework/LocalAuthentication.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/7/PepperUICore.framework/PepperUICore.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/7/RunningBoardServices.framework/RunningBoardServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/7/SafariSafeBrowsing.framework/SafariSafeBrowsing.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/7/URLFormatting.framework/URLFormatting.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/9/AppSupport.framework/AppSupport.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/9/CorePrediction.framework/CorePrediction.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/9/GraphicsServices.framework/GraphicsServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/9/PepperUICore.framework/PepperUICore.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/9/PrototypeTools.framework/PrototypeTools.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/9/RunningBoardServices.framework/RunningBoardServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/9/SafariSafeBrowsing.framework/SafariSafeBrowsing.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/9/URLFormatting.framework/URLFormatting.tbd
Owners: none

[REBASLINE] rdar://99893129 (REGRESSION(252432.159@safari-7614-branch - 252432.293@safari-7614-branch): [ iOS ] svg/hixie/error/012.xml is an almost constant failure)
  LayoutTests/platform/ios/svg/hixie/error/012-expected.txt
  LayoutTests/platform/mac/svg/hixie/error/012-expected.txt
Owners: none

Versioning.
  Configurations/Version.xcconfig
Owners: none

Make delete-stale-build-files python 2 compatible https://bugs.webkit.org/show_bug.cgi?id=246665
  Tools/CISupport/delete-stale-build-files
Owners: @aj062, @JonWBedard, @ryanhaddad

[ GARDENING ] rdar://95420649 (2X fast/canvas/canvas-createPattern-video (layout-tests) are constant text failures)
  LayoutTests/platform/ios-wk2/TestExpectations
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Apply patch. rdar://problem/101205947
  Source/WebCore/rendering/RenderImage.cpp
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Apply patch. rdar://problem/101205947
  Source/WebCore/rendering/RenderImage.cpp
Owners: none

[JSC] Make JSGlobalObject unlinked in uDFG https://bugs.webkit.org/show_bug.cgi?id=246654 rdar://101263760
  Source/JavaScriptCore/dfg/DFGJITCode.cpp
  Source/JavaScriptCore/dfg/DFGJITCode.h
  Source/JavaScriptCore/dfg/DFGJITCompiler.cpp
  Source/JavaScriptCore/dfg/DFGJITCompiler.h
  Source/JavaScriptCore/dfg/DFGPlan.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT32_64.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
Owners: @WebKit/jsc-reviewers

RenderTextControlSingleLine's placeholder may not always produce line layout structures https://bugs.webkit.org/show_bug.cgi?id=246649 <rdar://100268173>
  Source/WebCore/rendering/RenderTextControlSingleLine.cpp
Owners: none

[macOS] Upgrade sandbox version https://bugs.webkit.org/show_bug.cgi?id=243400 <rdar://problem/97906921>
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
  Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/Shared/Sandbox/macOS/common.sb
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Owners: @cdumez

AX: The isolated tree is not updated when document titles change https://bugs.webkit.org/show_bug.cgi?id=246553 rdar://problem/101194307
  LayoutTests/accessibility-isolated-tree/TestExpectations
  LayoutTests/accessibility/mac/document-title-used-for-description-expected.txt
  LayoutTests/accessibility/mac/document-title-used-for-description.html
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AXObjectCache.h
  Source/WebCore/dom/Document.cpp
Owners: @rniwa, @cdumez

AX: WebKit does not break AX modality when focus is explicitly moved outside the modal https://bugs.webkit.org/show_bug.cgi?id=246580 rdar://problem/101209793
  LayoutTests/accessibility/aria-modal-multiple-dialogs-expected.txt
  LayoutTests/accessibility/aria-modal-multiple-dialogs.html
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AXObjectCache.h
Owners: none

Make sure to set bitrate and framerate for VPX encoders https://bugs.webkit.org/show_bug.cgi?id=246626 rdar://problem/101245414
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_h264_avc-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_vp8-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_vp9_p0-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/reconfiguring-encoder.https.any_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/reconfiguring-encoder.https.any_h264_avc-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/reconfiguring-encoder.https.any_vp8-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/reconfiguring-encoder.https.any_vp9_p0-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/temporal-svc-encoding.https.any_vp8-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/temporal-svc-encoding.https.any_vp9-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-encoder.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-createImageBitmap.https.any-expected.txt
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.h
  Source/WebCore/platform/LibWebRTCVPXVideoEncoder.cpp
  Source/WebCore/platform/LibWebRTCVPXVideoEncoder.h
Owners: none

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
