Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

[JSC] Deploy more loadPair / storePair in DFG https://bugs.webkit.org/show_bug.cgi?id=246502 rdar://101156906
  Source/JavaScriptCore/assembler/MacroAssembler.h
  Source/JavaScriptCore/assembler/MacroAssemblerRISCV64.h
  Source/JavaScriptCore/assembler/MacroAssemblerX86_64.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/jit/AssemblyHelpers.cpp
  Source/JavaScriptCore/jit/AssemblyHelpers.h
Owners: @WebKit/jsc-reviewers

Support installsrc for tools https://bugs.webkit.org/show_bug.cgi?id=246532 <rdar://101182524>
  Tools/Makefile
  Tools/WebKitTestRunner/Configurations/Base.xcconfig
Owners: @JonWBedard

AX: Remove 32 ASSERT_NOT_REACHED AXIsolatedObject functions from the AXCoreObject interface https://bugs.webkit.org/show_bug.cgi?id=246593 rdar://problem/101223521
  Source/WebCore/accessibility/AccessibilityLabel.h
  Source/WebCore/accessibility/AccessibilityMediaObject.h
  Source/WebCore/accessibility/AccessibilityObject.cpp
  Source/WebCore/accessibility/AccessibilityObject.h
  Source/WebCore/accessibility/AccessibilityObjectInterface.h
  Source/WebCore/accessibility/AccessibilityProgressIndicator.h
  Source/WebCore/accessibility/AccessibilityRenderObject.cpp
  Source/WebCore/accessibility/AccessibilityRenderObject.h
  Source/WebCore/accessibility/AccessibilityScrollView.h
  Source/WebCore/accessibility/AccessibilityScrollbar.h
  Source/WebCore/accessibility/AccessibilitySlider.h
  Source/WebCore/accessibility/AccessibilitySpinButton.h
  Source/WebCore/accessibility/AccessibilityTableColumn.h
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.h
Owners: none

CSP: Test allowed hash of empty content block. https://bugs.webkit.org/show_bug.cgi?id=233071
  LayoutTests/imported/w3c/web-platform-tests/content-security-policy/style-src/style-src-injected-inline-style-allowed-with-content-hash-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/content-security-policy/style-src/style-src-injected-inline-style-allowed-with-content-hash.html
Owners: none

[GTK] Gardening WTF_WordLock.ManyContendedLongSections timeouts
  Tools/TestWebKitAPI/glib/TestExpectations.json
Owners: @WebKit/glib-reviewers

[WebXR] Use ANGLE extension to signal compositor completion event https://bugs.webkit.org/show_bug.cgi?id=246589 rdar://problem/101212895
  Source/WTF/wtf/PlatformUse.h
  Source/WebCore/Modules/webxr/WebXROpaqueFramebuffer.cpp
  Source/WebCore/Modules/webxr/WebXROpaqueFramebuffer.h
  Source/WebCore/PAL/pal/spi/cocoa/MetalSPI.h
  Source/WebCore/SourcesCocoa.txt
  Source/WebCore/platform/graphics/cocoa/ANGLEUtilitiesCocoa.h
  Source/WebCore/platform/graphics/cocoa/ANGLEUtilitiesCocoa.mm
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.h
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.mm
  Source/WebCore/platform/xr/PlatformXR.h
Owners: none

[WGSL] Prefix AST files to avoid name clashes https://bugs.webkit.org/show_bug.cgi?id=246561 rdar://problem/101198489
  Source/WebGPU/WGSL/AST/ASTArrayAccess.h
  Source/WebGPU/WGSL/AST/ASTAssignmentStatement.h
  Source/WebGPU/WGSL/AST/ASTAttribute.h
  Source/WebGPU/WGSL/AST/ASTCallableExpression.h
  Source/WebGPU/WGSL/AST/ASTCompoundStatement.h
  Source/WebGPU/WGSL/AST/ASTDecl.h
  Source/WebGPU/WGSL/AST/ASTExpression.h
  Source/WebGPU/WGSL/AST/ASTFunctionDecl.h
  Source/WebGPU/WGSL/AST/ASTGlobalDirective.h
  Source/WebGPU/WGSL/AST/ASTIdentifierExpression.h
  Source/WebGPU/WGSL/AST/ASTLiteralExpressions.h
  Source/WebGPU/WGSL/AST/ASTNode.h
  Source/WebGPU/WGSL/AST/ASTReturnStatement.h
  Source/WebGPU/WGSL/AST/ASTShaderModule.h
  Source/WebGPU/WGSL/AST/ASTStatement.h
  Source/WebGPU/WGSL/AST/ASTStructureAccess.h
  Source/WebGPU/WGSL/AST/ASTStructureDecl.h
  Source/WebGPU/WGSL/AST/ASTTypeDecl.h
  Source/WebGPU/WGSL/AST/ASTUnaryExpression.h
  Source/WebGPU/WGSL/AST/ASTVariableDecl.h
  Source/WebGPU/WGSL/AST/ASTVariableQualifier.h
  Source/WebGPU/WGSL/AST/ASTVariableStatement.h
  Source/WebGPU/WGSL/AST/FunctionDecl.h
  Source/WebGPU/WGSL/Parser.cpp
  Source/WebGPU/WGSL/Parser.h
  Source/WebGPU/WGSL/ParserPrivate.h
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Configurations/TestWGSL.xcconfig
  Tools/TestWebKitAPI/Tests/WGSL/ConstLiteralTests.cpp
  Tools/TestWebKitAPI/Tests/WGSL/ParserTests.cpp
Owners: none

Fix the non-unified build https://bugs.webkit.org/show_bug.cgi?id=246608
  Source/JavaScriptCore/heap/StructureAlignedMemoryAllocator.cpp
Owners: @WebKit/jsc-reviewers

[WebIDL] Cache extended attributes of WebIDL file https://bugs.webkit.org/show_bug.cgi?id=241960
  Source/WebCore/bindings/scripts/CodeGenerator.pm
Owners: @cdumez

REGRESSION (Lazy tree creation): css3/calc/transitions-dependent.html is frequently failing https://bugs.webkit.org/show_bug.cgi?id=126142
  LayoutTests/css3/calc/transitions-dependent.html
Owners: none

Automate deletion of temporary files on windows bots https://bugs.webkit.org/show_bug.cgi?id=245786 <rdar://100635624>
  Tools/CISupport/delete-stale-build-files
  Tools/CISupport/ews-build/factories.py
  Tools/CISupport/ews-build/factories_unittest.py
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Owners: @aj062, @JonWBedard, @ryanhaddad

[WK2][Unix] Alias IPC::Attachment to UnixFileDescriptor https://bugs.webkit.org/show_bug.cgi?id=245830
  Source/WebKit/Platform/IPC/Attachment.h
  Source/WebKit/Platform/IPC/unix/AttachmentUnix.cpp
  Source/WebKit/Platform/IPC/unix/ConnectionUnix.cpp
  Source/WebKit/PlatformPlayStation.cmake
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
  Source/WebKit/Shared/WebPageCreationParameters.h
  Source/WebKit/Shared/WebProcessCreationParameters.h
  Source/WebKit/Shared/glib/UserMessage.cpp
  Source/WebKit/SourcesGTK.txt
  Source/WebKit/SourcesWPE.txt
  Source/WebKit/UIProcess/API/gtk/PageClientImpl.cpp
  Source/WebKit/UIProcess/API/gtk/PageClientImpl.h
  Source/WebKit/UIProcess/API/wpe/PageClientImpl.cpp
  Source/WebKit/UIProcess/API/wpe/PageClientImpl.h
  Source/WebKit/UIProcess/PageClient.h
  Source/WebKit/UIProcess/glib/WebProcessPoolGLib.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/glib/WebProcessGLib.cpp
Owners: @cdumez, @WebKit/glib-reviewers, @zdobersek

Fix even more misc compiler warnings, mid October 2022 edition https://bugs.webkit.org/show_bug.cgi?id=246523
  Source/WebKit/Platform/IPC/ArgumentCoders.cpp
  Source/WebKit/UIProcess/ProcessThrottler.cpp
Owners: @cdumez

[MQ4] Rename MediaQueryEvaluator to LegacyMediaQueryEvaluator https://bugs.webkit.org/show_bug.cgi?id=246611 rdar://101239718
  Source/WebCore/Headers.cmake
  Source/WebCore/Sources.txt
  Source/WebCore/css/LegacyMediaQueryEvaluator.cpp
  Source/WebCore/css/LegacyMediaQueryEvaluator.h
  Source/WebCore/css/MediaQueryList.cpp
  Source/WebCore/css/MediaQueryList.h
  Source/WebCore/css/MediaQueryMatcher.cpp
  Source/WebCore/css/MediaQueryMatcher.h
  Source/WebCore/css/parser/SizesAttributeParser.cpp
  Source/WebCore/dom/InlineStyleSheetOwner.cpp
  Source/WebCore/html/HTMLImageElement.cpp
  Source/WebCore/html/HTMLImageElement.h
  Source/WebCore/html/HTMLLinkElement.cpp
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/html/HTMLMetaElement.cpp
  Source/WebCore/html/parser/HTMLPreloadScanner.cpp
  Source/WebCore/html/parser/HTMLResourcePreloader.cpp
  Source/WebCore/loader/LinkLoader.cpp
  Source/WebCore/style/ElementRuleCollector.h
  Source/WebCore/style/RuleData.cpp
  Source/WebCore/style/RuleSet.cpp
  Source/WebCore/style/RuleSet.h
  Source/WebCore/style/RuleSetBuilder.cpp
  Source/WebCore/style/RuleSetBuilder.h
  Source/WebCore/style/StyleInvalidator.cpp
  Source/WebCore/style/StyleInvalidator.h
  Source/WebCore/style/StyleResolver.cpp
  Source/WebCore/style/StyleResolver.h
  Source/WebCore/style/StyleScope.h
  Source/WebCore/style/StyleScopeRuleSets.cpp
  Source/WebCore/style/StyleScopeRuleSets.h
  Source/WebCore/style/UserAgentStyle.cpp
  Source/WebKitLegacy/mac/DOM/DOM.mm
Owners: @rniwa, @cdumez

[WPE] Gardening css2.1/t090501-c414-flt-03-b-g.html https://bugs.webkit.org/show_bug.cgi?id=246624
  LayoutTests/platform/glib/TestExpectations
Owners: none

Switch to alternate <source> element for AirPlay when necessary https://bugs.webkit.org/show_bug.cgi?id=246466 <rdar://101136233>
  LayoutTests/TestExpectations
  LayoutTests/media/media-source/remoteplayback-from-source-element-expected.txt
  LayoutTests/media/media-source/remoteplayback-from-source-element.html
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/Modules/remoteplayback/RemotePlayback.cpp
  Source/WebCore/Modules/remoteplayback/RemotePlayback.h
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/html/HTMLMediaElement.h
  Source/WebCore/html/MediaElementSession.cpp
  Source/WebCore/platform/graphics/MediaPlayer.cpp
  Source/WebCore/platform/graphics/MediaPlayer.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaStreamAVFObjC.mm
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.mm
  Source/WebCore/testing/Internals.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.messages.in
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/RemoteMediaPlayerMIMETypeCache.cpp
  Source/WebKit/WebProcess/GPU/media/RemoteMediaPlayerMIMETypeCache.h
Owners: @cdumez, @rniwa

[LBSE] Fix SVGImage container size propagation https://bugs.webkit.org/show_bug.cgi?id=246034
  LayoutTests/platform/mac-monterey-wk2-lbse-text/TestExpectations
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/as-background-image/svg-as-background-6-expected.png
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/as-image/svg-non-integer-scaled-image-expected.png
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-background-images-expected.png
  Source/WebCore/loader/cache/CachedImage.cpp
  Source/WebCore/loader/cache/CachedImage.h
  Source/WebCore/platform/graphics/ImageObserver.h
  Source/WebCore/svg/graphics/SVGImage.cpp
Owners: @cdumez

[LBSE] Assure <foreignObject> HTML descendants create a new formatting context https://bugs.webkit.org/show_bug.cgi?id=245908
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/mac-monterey-wk2-lbse-text/TestExpectations
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/hixie/mixed/009-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/text/zoom-hixie-mixed-009-expected.txt
  LayoutTests/platform/win/TestExpectations
  LayoutTests/svg/custom/display-table-caption-foreignObject.svg
  LayoutTests/svg/custom/display-table-caption-inherit-foreignObject.xhtml
  LayoutTests/svg/custom/use-on-use-with-child.svg
  LayoutTests/svg/dom/SVGScriptElement/script-async-attr.svg
  LayoutTests/svg/dom/SVGScriptElement/script-load-and-error-events.svg
  LayoutTests/svg/dom/SVGScriptElement/script-onerror-bubbling.svg
  LayoutTests/svg/dom/SVGScriptElement/script-reexecution.svg
  LayoutTests/svg/dom/SVGScriptElement/script-type-attribute.svg
  LayoutTests/svg/dom/smil-methods.svg
  LayoutTests/svg/foreignObject/respect-block-margin-expected.html
  LayoutTests/svg/foreignObject/respect-block-margin.html
  LayoutTests/svg/hittest/svg-standalone-tooltip.svg
  LayoutTests/svg/hixie/mixed/009.xml
  LayoutTests/svg/zoom/page/zoom-hixie-mixed-009.xml
  LayoutTests/svg/zoom/text/zoom-hixie-mixed-009.xml
  Source/WebCore/rendering/RenderElement.cpp
  Source/WebCore/rendering/RenderLayer.cpp
Owners: none

[GStreamer] Fix prolonged buffering during progressive live playback https://bugs.webkit.org/show_bug.cgi?id=246352
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.h
Owners: @philn

Fix serialization of font-stretch in font shorthand https://bugs.webkit.org/show_bug.cgi?id=246573 rdar://problem/101217780
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/font-shorthand-serialization-font-stretch-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/font-shorthand-serialization-font-stretch.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-valid-expected.txt
  Source/WebCore/css/StyleProperties.cpp
Owners: none

REGRESSION (255602@main) Fix webkitpy test failure https://bugs.webkit.org/show_bug.cgi?id=246574 rdar://101207950
  Tools/Scripts/webkitpy/w3c/test_converter_unittest.py
Owners: @JonWBedard

Close WebCodecsVideo remote decoders in case of failure https://bugs.webkit.org/show_bug.cgi?id=246449 rdar://problem/101118814
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any.worker_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any.worker_h264_avc-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any.worker_vp8-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any.worker_vp9-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any_h264_avc-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any_vp8-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any_vp9-expected.txt
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/WebKit/WebKitDecoder.mm
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/base/RTCVideoDecoder.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoDecoderH264.mm
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoDecoderH265.mm
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoDecoderVTBVP9.mm
  Source/ThirdParty/libwebrtc/libwebrtc.xcodeproj/project.pbxproj
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoder.cpp
  Source/WebCore/platform/LibWebRTCVPXVideoDecoder.cpp
  Source/WebCore/platform/VideoDecoder.h
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.mm
  Source/WebKit/WebProcess/GPU/media/RemoteVideoCodecFactory.cpp
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.cpp
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.h
Owners: @cdumez

[GStreamer] Critical warnings in appsink workaround thing https://bugs.webkit.org/show_bug.cgi?id=246630
  Source/WebCore/platform/graphics/gstreamer/AppSinkWorkaround.cpp
Owners: @philn

[MQ4] Rename MediaQuery to LegacyMediaQuery https://bugs.webkit.org/show_bug.cgi?id=246628 rdar://101247447
  Source/WebCore/Sources.txt
  Source/WebCore/css/LegacyMediaQuery.cpp
  Source/WebCore/css/LegacyMediaQuery.h
  Source/WebCore/css/LegacyMediaQueryEvaluator.cpp
  Source/WebCore/css/MediaList.cpp
  Source/WebCore/css/MediaList.h
  Source/WebCore/css/MediaQueryList.cpp
  Source/WebCore/css/parser/LegacyMediaQueryParser.cpp
  Source/WebCore/css/parser/LegacyMediaQueryParser.h
  Source/WebCore/style/ContainerQueryEvaluator.cpp
Owners: none

[git-webkit] Ring terminal bell if input hangs https://bugs.webkit.org/show_bug.cgi?id=244625 <rdar://problem/99397362>
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/__init__.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/terminal.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/timer.py
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/branch.py
Owners: @JonWBedard, @facetothefate

Expose DOMException to ShadowRealms https://bugs.webkit.org/show_bug.cgi?id=246639
  Source/WebCore/bindings/js/WebCoreBuiltinNames.h
  Source/WebCore/dom/DOMException.idl
Owners: @cdumez, @rniwa

REGRESSION: Netflix incorrect layout (size & location) when starting playback https://bugs.webkit.org/show_bug.cgi?id=246552 rdar://100770538
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/platform/graphics/MediaPlayer.cpp
  Source/WebCore/platform/graphics/MediaPlayer.h
  Source/WebCore/platform/graphics/MediaPlayerPrivate.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaStreamAVFObjC.mm
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.h
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.mm
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.h
  Source/WebCore/platform/graphics/win/MediaPlayerPrivateMediaFoundation.cpp
  Source/WebCore/platform/graphics/win/MediaPlayerPrivateMediaFoundation.h
  Source/WebCore/platform/mock/mediasource/MockMediaPlayerMediaSource.cpp
  Source/WebCore/platform/mock/mediasource/MockMediaPlayerMediaSource.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.messages.in
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxyConfiguration.h
  Source/WebKit/GPUProcess/media/cocoa/RemoteMediaPlayerProxyCocoa.mm
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.h
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.messages.in
  Source/WebKit/WebProcess/GPU/media/RemoteMediaPlayerManager.cpp
  Source/WebKit/WebProcess/GPU/media/cocoa/MediaPlayerPrivateRemoteCocoa.mm
  Source/WebKit/WebProcess/GPU/media/cocoa/VideoLayerRemoteCocoa.mm
Owners: @cdumez, @rniwa, @philn

Display can go to sleep when camera is on https://bugs.webkit.org/show_bug.cgi?id=245726 rdar://100423979
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
  Tools/TestWebKitAPI/Tests/WebKit/GetUserMedia.mm
  Tools/TestWebKitAPI/Tests/WebKit/getDisplayMedia.html
  Tools/TestWebKitAPI/Tests/WebKitCocoa/GetDisplayMediaWindowAndScreen.mm
  Tools/TestWebKitAPI/Tests/WebKitLegacy/ios/video-with-audio.html
Owners: @rniwa, @cdumez

Revert [255634@main] Broke Python 2 https://bugs.webkit.org/show_bug.cgi?id=244625 <rdar://problem/99397362>
  Tools/Scripts/libraries/webkitcorepy/setup.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/__init__.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/terminal.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/timer.py
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/branch.py
Owners: @JonWBedard, @facetothefate

Unreviewed build fix after 255636@main https://bugs.webkit.org/show_bug.cgi?id=246643 rdar://101257347
  Tools/TestWebKitAPI/Tests/WebKitCocoa/GetDisplayMediaWindowAndScreen.mm
Owners: none

[Fetch API] Headers iteration should not happen on cached headers list https://bugs.webkit.org/show_bug.cgi?id=246526 rdar://problem/101235580
  LayoutTests/imported/w3c/web-platform-tests/fetch/api/headers/headers-basic.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fetch/api/headers/headers-basic.any.js
  LayoutTests/imported/w3c/web-platform-tests/fetch/api/headers/headers-basic.any.worker-expected.txt
  Source/WebCore/Modules/fetch/FetchHeaders.cpp
  Source/WebCore/Modules/fetch/FetchHeaders.h
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

CSS Keyframes names can't be CSS wide keywords https://bugs.webkit.org/show_bug.cgi?id=246596 rdar://101226253
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/parsing/keyframes-name-invalid-expected.txt
  Source/WebCore/css/parser/CSSParserImpl.cpp
Owners: none

Remove RenderFullScreen and RenderTreeBuilderFullScreen https://bugs.webkit.org/show_bug.cgi?id=246065 rdar://100793009
  LayoutTests/compositing/no-compositing-when-fulll-screen-is-present-expected.txt
  LayoutTests/fullscreen/full-screen-layer-dump-expected.txt
  LayoutTests/fullscreen/full-screen-placeholder-expected.txt
  LayoutTests/fullscreen/full-screen-placeholder.html
  LayoutTests/fullscreen/fullscreen-restore-scroll-position.html
  LayoutTests/platform/glib/fullscreen/full-screen-placeholder-expected.txt
  LayoutTests/platform/gtk/compositing/no-compositing-when-fulll-screen-is-present-expected.txt
  Source/WebCore/Sources.txt
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/FullscreenManager.cpp
  Source/WebCore/dom/FullscreenManager.h
  Source/WebCore/page/FrameView.cpp
  Source/WebCore/rendering/RenderFullScreen.cpp
  Source/WebCore/rendering/RenderFullScreen.h
  Source/WebCore/rendering/RenderInline.cpp
  Source/WebCore/rendering/RenderLayerCompositor.cpp
  Source/WebCore/rendering/RenderVideo.cpp
  Source/WebCore/rendering/RenderVideo.h
  Source/WebCore/rendering/updating/RenderTreeBuilder.cpp
  Source/WebCore/rendering/updating/RenderTreeBuilder.h
  Source/WebCore/rendering/updating/RenderTreeBuilderBlock.cpp
  Source/WebCore/rendering/updating/RenderTreeBuilderFullScreen.cpp
  Source/WebCore/rendering/updating/RenderTreeBuilderFullScreen.h
  Source/WebCore/rendering/updating/RenderTreeBuilderInline.cpp
  Source/WebCore/rendering/updating/RenderTreeUpdater.cpp
Owners: @rniwa, @cdumez

REGRESSION (254359@main): Yellow highlight for lookup doesn't show text https://bugs.webkit.org/show_bug.cgi?id=246586 rdar://100828328
  Source/WebCore/PlatformMac.cmake
  Source/WebCore/SourcesCocoa.txt
  Source/WebCore/editing/cocoa/DictionaryLookup.mm
  Source/WebCore/editing/mac/DictionaryLookup.h
  Source/WebCore/platform/mac/RevealUtilities.h
  Source/WebCore/platform/mac/RevealUtilities.mm
  Source/WebKit/Platform/mac/MenuUtilities.mm
  Tools/TestWebKitAPI/Configurations/TestWebKitAPI.xcconfig
  Tools/TestWebKitAPI/Tests/mac/ImmediateActionTests.mm
Owners: @rniwa, @cdumez

Make basic scrolling work with ui-side compositing on macOS https://bugs.webkit.org/show_bug.cgi?id=246640 <rdar://problem/101254817>
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingCoordinatorProxyMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingCoordinatorProxyMac.mm
Owners: @cdumez

[Gardening] Rebaseline tests for Windows https://bugs.webkit.org/show_bug.cgi?id=246645 rdar://101259616
  LayoutTests/platform/win/accessibility/loading-iframe-updates-axtree-expected.txt
  LayoutTests/platform/win/fast/mediacapturefromelement/CanvasCaptureMediaStream-offscreencanvas-expected.txt
Owners: none

More unified-build fixes https://bugs.webkit.org/show_bug.cgi?id=246637
  Source/JavaScriptCore/runtime/NumberPredictionFuzzerAgent.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyArrayPrototype.cpp
  Source/WebCore/css/query/GenericMediaQueryTypes.h
  Source/WebCore/page/AbstractFrame.cpp
  Source/WebCore/page/ScreenOrientation.cpp
  Source/WebCore/platform/graphics/SourceBufferPrivateClient.cpp
  Source/WebKit/UIProcess/OverrideLanguages.cpp
Owners: @WebKit/jsc-reviewers, @cdumez

[PlayStation][gpup]Add platform specific entry for gpu process on playstation port. https://bugs.webkit.org/show_bug.cgi?id=246024
  Source/WebKit/GPUProcess/EntryPoint/playstation/GPUProcessMain.cpp
  Source/WebKit/PlatformPlayStation.cmake
Owners: none

Versioning.
  Configurations/Version.xcconfig
Owners: none
