Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

[macOS] Unable to load image decoder plugin https://bugs.webkit.org/show_bug.cgi?id=247163 rdar://101661127
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Owners: @cdumez

Fix use-after-free memory error rdar://101637166
  Source/WebCore/platform/text/TextFlags.cpp
Owners: none

Simplify code in CSSPropertyAnimation.cpp https://bugs.webkit.org/show_bug.cgi?id=247117
  Source/WebCore/animation/CSSPropertyAnimation.cpp
Owners: @graouts

"A MediaStreamTrack ended due to a capture failure" when selecting bluetooth headphones as audio input device https://bugs.webkit.org/show_bug.cgi?id=247119 rdar://problem/101628857
  LayoutTests/fast/mediastream/mediastreamtrack-configurationchange.html
  Source/WebCore/platform/mediastream/mac/CoreAudioSharedUnit.cpp
  Source/WebCore/platform/mediastream/mac/CoreAudioSharedUnit.h
  Source/WebCore/platform/mediastream/mac/MockAudioSharedUnit.h
  Source/WebCore/platform/mediastream/mac/MockAudioSharedUnit.mm
  Source/WebCore/platform/mock/MockRealtimeMediaSourceCenter.cpp
Owners: none

[WPE] Support the stable xdg_shell protocol in WindowViewBackend https://bugs.webkit.org/show_bug.cgi?id=247176
  Tools/wpe/backends/PlatformWPE.cmake
  Tools/wpe/backends/fdo/WindowViewBackend.cpp
  Tools/wpe/backends/fdo/WindowViewBackend.h
Owners: @WebKit/glib-reviewers, @zdobersek

[MQ4] Use the new parser and evaluator in mediaAttributeMatches() functions https://bugs.webkit.org/show_bug.cgi?id=247124 rdar://101631539
  Source/WebCore/css/ContainerQueryParser.cpp
  Source/WebCore/css/ContainerQueryParser.h
  Source/WebCore/css/query/GenericMediaQueryParser.cpp
  Source/WebCore/css/query/GenericMediaQueryParser.h
  Source/WebCore/css/query/MediaQueryEvaluator.cpp
  Source/WebCore/css/query/MediaQueryParser.cpp
  Source/WebCore/css/query/MediaQueryParser.h
  Source/WebCore/html/HTMLLinkElement.cpp
  Source/WebCore/html/HTMLMetaElement.cpp
  Source/WebCore/html/HTMLMetaElement.h
Owners: @cdumez, @rniwa

Always use percentages for computed values of font-stretch, never keywords https://bugs.webkit.org/show_bug.cgi?id=247008 rdar://problem/101546363
  LayoutTests/fast/css/getComputedStyle/computed-style-font-family-expected.txt
  LayoutTests/fast/text/font-stretch-parse-expected.txt
  LayoutTests/fast/text/font-stretch-parse.html
  LayoutTests/fast/text/variations/out-of-bounds-selection-properties-expected.txt
  LayoutTests/fast/text/variations/out-of-bounds-selection-properties.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/animations/font-stretch-interpolation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/animations/font-stretch-interpolation.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/animations/system-fonts-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/inheritance-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-stretch-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/variations/font-stretch-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-variables/variable-presentation-attribute.html
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/css/css-fonts/animations/system-fonts-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-fonts/animations/system-fonts-expected.txt
  LayoutTests/platform/wpe/imported/w3c/web-platform-tests/css/css-fonts/animations/system-fonts-expected.txt
  Source/WebCore/css/ComputedStyleExtractor.cpp
Owners: none

Allow calc() with combined percentages and lengths for line-height https://bugs.webkit.org/show_bug.cgi?id=247007 rdar://problem/101546260
  LayoutTests/css3/calc/line-height-expected.txt
  LayoutTests/fast/css/calc-with-percent-and-number-in-line-height-crash-expected.txt
  LayoutTests/fast/css/calc-with-percent-and-number-in-line-height-crash.html
  LayoutTests/fast/css/line-height-1-expected.html
  LayoutTests/fast/css/line-height-1.html
  LayoutTests/fast/css/line-height-2-expected.html
  LayoutTests/fast/css/line-height-2.html
  LayoutTests/fast/css/line-height-basics-expected.txt
  LayoutTests/fast/css/line-height-basics.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-computed-expected.txt
  Source/WebCore/style/StyleBuilderConverter.h
Owners: none

Unreviewed. [CMake] Fix the build after 256093@main
  Source/WebCore/Headers.cmake
Owners: none

Fix build after 256093@main https://bugs.webkit.org/show_bug.cgi?id=247190
  Source/WebCore/Headers.cmake
Owners: none

[WPE] Gardening touch events
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
Owners: none

Fix default angle cases from at-font-face-descriptors.html https://bugs.webkit.org/show_bug.cgi?id=247172 rdar://101666575
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/variations/at-font-face-descriptors-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/variations/at-font-face-descriptors.html
Owners: none

Regression(iOS 16.1) Use of Shared Workers cause Web Content process crash in non-default-browser WKWebViews https://bugs.webkit.org/show_bug.cgi?id=247147 rdar://101562445
  LayoutTests/http/tests/navigation/resources/shared-worker-script.js
  LayoutTests/http/tests/workers/shared/shared-worker-with-service-workers-disabled-expected.txt
  LayoutTests/http/tests/workers/shared/shared-worker-with-service-workers-disabled.html
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/win/TestExpectations
  Source/WebCore/workers/WorkerScriptLoader.cpp
Owners: @cdumez

[GTK] Add GTK 4 migration guide https://bugs.webkit.org/show_bug.cgi?id=247133
  Source/WebKit/gtk/migrating-to-webkitgtk-6.0.md
  Source/WebKit/gtk/webkitgtk.toml.in
Owners: @WebKit/glib-reviewers

Allow building with ICU 60 https://bugs.webkit.org/show_bug.cgi?id=235367
  Source/JavaScriptCore/runtime/IntlCache.cpp
  Source/JavaScriptCore/runtime/IntlCache.h
  Source/JavaScriptCore/runtime/IntlDisplayNames.cpp
  Source/JavaScriptCore/runtime/IntlDisplayNames.h
  Source/JavaScriptCore/runtime/IntlObject.cpp
  Source/cmake/OptionsGTK.cmake
  Source/cmake/OptionsWPE.cmake
Owners: @WebKit/jsc-reviewers, @WebKit/glib-reviewers

Move decidePolicyForNavigationAction to WebFrameProxy https://bugs.webkit.org/show_bug.cgi?id=247157 rdar://101658524
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.h
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.h
  Source/WebKit/UIProcess/WebFrameProxy.messages.in
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
Owners: @cdumez

[WPE] Gardening fast/filter-image/filter-image-svg.html
  LayoutTests/platform/wpe/TestExpectations
Owners: none

Add myself (Vitaly Dyachkov) to contributors https://bugs.webkit.org/show_bug.cgi?id=247200
  metadata/contributors.json
Owners: @JonWBedard

Expose KVO SPI WKWebView._wasPrivateRelayed https://bugs.webkit.org/show_bug.cgi?id=247109 rdar://101605181
  Source/WebCore/dom/SecurityContext.h
  Source/WebCore/history/CachedFrame.cpp
  Source/WebCore/history/CachedFrame.h
  Source/WebCore/loader/EmptyClients.cpp
  Source/WebCore/loader/EmptyFrameLoaderClient.h
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/loader/FrameLoader.h
  Source/WebCore/loader/FrameLoaderClient.h
  Source/WebCore/loader/ResourceLoader.cpp
  Source/WebCore/platform/network/ResourceResponseBase.cpp
  Source/WebCore/platform/network/ResourceResponseBase.h
  Source/WebKit/NetworkProcess/NetworkDataTask.cpp
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
  Source/WebKit/UIProcess/Cocoa/NavigationState.h
  Source/WebKit/UIProcess/Cocoa/NavigationState.mm
  Source/WebKit/UIProcess/PageLoadState.cpp
  Source/WebKit/UIProcess/PageLoadState.h
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.mm
  Source/WebKitLegacy/win/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKitLegacy/win/WebCoreSupport/WebFrameLoaderClient.h
Owners: @rniwa, @cdumez

[webkitbugspy] Support radar users with no username https://bugs.webkit.org/show_bug.cgi?id=247145 rdar://101645349
  Tools/Scripts/libraries/webkitbugspy/setup.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/__init__.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/radar.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tests/radar_unittest.py
Owners: @JonWBedard

[LFC][IFC] Bail out of simplified vertical alignment when line-box-contain is present https://bugs.webkit.org/show_bug.cgi?id=247194
  Source/WebCore/layout/formattingContexts/inline/InlineLevelBox.h
  Source/WebCore/layout/formattingContexts/inline/InlineLineBoxVerticalAligner.cpp
Owners: none

Cherry-pick c5651d8d797d. rdar://problem/101661127
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Owners: @cdumez

[ Gardening ] Mass-Expectations for EWS stability. rdar://101611951
  LayoutTests/TestExpectations
Owners: none

Add sandbox telemetry for version 2 https://bugs.webkit.org/show_bug.cgi?id=247195 rdar://101678178
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
  Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in
  Source/WebKit/Shared/Sandbox/macOS/common.sb
Owners: @cdumez

More SortedArrayMap clients can use the Packed types from that header for efficiency https://bugs.webkit.org/show_bug.cgi?id=246924 rdar://problem/101478661
  Source/WTF/wtf/FileSystem.h
  Source/WTF/wtf/text/ASCIILiteral.h
  Source/WTF/wtf/text/Base64.h
  Source/WTF/wtf/text/StringImpl.h
  Source/WTF/wtf/text/StringSearch.h
  Source/WebCore/html/EnterKeyHint.cpp
  Source/WebCore/html/parser/HTMLTokenizer.h
  Source/WebCore/html/track/WebVTTParser.cpp
  Source/WebCore/platform/KeyboardScrollingAnimator.cpp
  Source/WebCore/platform/graphics/HEVCUtilities.cpp
  Source/WebCore/platform/text/LocaleToScriptMapping.cpp
  Source/WebCore/svg/SVGComponentTransferFunctionElement.h
  Source/WebCore/xml/XPathFunctions.cpp
Owners: @cdumez, @rniwa

[JSC] uDFG should be able to watch JSGlobalObject WatchpointSets https://bugs.webkit.org/show_bug.cgi?id=247154 rdar://101657085
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
  Source/JavaScriptCore/dfg/DFGArgumentsEliminationPhase.cpp
  Source/JavaScriptCore/dfg/DFGArrayMode.cpp
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGGraph.h
  Source/JavaScriptCore/dfg/DFGJITCode.cpp
  Source/JavaScriptCore/dfg/DFGJITCode.h
  Source/JavaScriptCore/dfg/DFGJITCompiler.cpp
  Source/JavaScriptCore/dfg/DFGJITCompiler.h
  Source/JavaScriptCore/dfg/DFGJITFinalizer.cpp
  Source/JavaScriptCore/dfg/DFGPlan.cpp
  Source/JavaScriptCore/dfg/DFGPlan.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
Owners: @WebKit/jsc-reviewers

nullptr crash in WebCore::IDBTransaction::dispatchEvent https://bugs.webkit.org/show_bug.cgi?id=246706 rdar://94637046
  LayoutTests/storage/indexeddb/crash-on-getdatabases-expected.txt
  LayoutTests/storage/indexeddb/crash-on-getdatabases.html
  LayoutTests/storage/indexeddb/resources/crash-on-getdatabases.js
  Source/WebCore/Modules/indexeddb/IDBTransaction.cpp
Owners: none

[JSC][armv7] Use register numbers, not names, in disassembly https://bugs.webkit.org/show_bug.cgi?id=246708
  Source/JavaScriptCore/disassembler/CapstoneDisassembler.cpp
Owners: @WebKit/jsc-reviewers

Remove WebGLLoadPolicy code https://bugs.webkit.org/show_bug.cgi?id=247039 rdar://101569935
  LayoutTests/fast/canvas/webgl/useWhilePending-expected.txt
  LayoutTests/fast/canvas/webgl/useWhilePending.html
  LayoutTests/platform/mac-wk1/TestExpectations
  Source/WebCore/html/canvas/WebGL2RenderingContext.cpp
  Source/WebCore/html/canvas/WebGLRenderingContext.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
  Source/WebCore/loader/FrameLoaderClient.h
  Source/WebCore/loader/FrameLoaderTypes.h
  Source/WebCore/page/Settings.yaml
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/UIProcess/API/APINavigationClient.h
  Source/WebKit/UIProcess/API/C/WKAPICast.h
  Source/WebKit/UIProcess/API/C/WKPage.cpp
  Source/WebKit/UIProcess/API/C/WKPageLoaderClient.h
  Source/WebKit/UIProcess/API/Cocoa/WKNavigationDelegatePrivate.h
  Source/WebKit/UIProcess/Cocoa/NavigationState.h
  Source/WebKit/UIProcess/Cocoa/NavigationState.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/mac/WebPageMac.mm
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.mm
  Tools/TestWebKitAPI/SourcesCocoa.txt
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebGLPolicy.mm
Owners: @cdumez, @rniwa

[JSC] Simplify toThis operation https://bugs.webkit.org/show_bug.cgi?id=247162 rdar://101662631
  Source/JavaScriptCore/API/JSContextRef.cpp
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGGraph.h
  Source/JavaScriptCore/runtime/ClassInfo.h
  Source/JavaScriptCore/runtime/JSCJSValue.cpp
  Source/JavaScriptCore/runtime/JSCJSValue.h
  Source/JavaScriptCore/runtime/JSCJSValueInlines.h
  Source/JavaScriptCore/runtime/JSCell.cpp
  Source/JavaScriptCore/runtime/JSCell.h
  Source/JavaScriptCore/runtime/JSObject.cpp
  Source/JavaScriptCore/runtime/JSObject.h
  Source/JavaScriptCore/runtime/JSScope.cpp
  Source/JavaScriptCore/runtime/JSScope.h
  Source/JavaScriptCore/runtime/JSString.cpp
  Source/JavaScriptCore/runtime/JSString.h
Owners: @WebKit/jsc-reviewers

Remove ./Source/WebCore/PAL/libavif/android_jni/gradle/wrapper/gradle-wrapper.jar https://bugs.webkit.org/show_bug.cgi?id=247216 rdar://101694967
  Source/WebCore/PAL/libavif/android_jni/gradle/wrapper/gradle-wrapper.jar
Owners: none

Cherry-pick 256105@main (3fca3f4cf3f6). rdar://101645349
  Tools/Scripts/libraries/webkitbugspy/setup.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/__init__.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/radar.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tests/radar_unittest.py
Owners: @JonWBedard

Versioning.
  Configurations/Version.xcconfig
Owners: none

Cherry-pick f7b1858ae823. rdar://problem/101694967
  Source/WebCore/PAL/libavif/android_jni/gradle/wrapper/gradle-wrapper.jar
Owners: none

CG display lists should be replayed with asynchronous rendering if appropriate https://bugs.webkit.org/show_bug.cgi?id=247214 rdar://99473475
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
Owners: none

Ingest managed domains for ResourceLoadStatistics and loosen restrictions for them. https://bugs.webkit.org/show_bug.cgi?id=246290 rdar://97344886
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-exempt-from-website-data-deletion-database-expected.txt
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-exempt-from-website-data-deletion-database.html
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-exempt-from-website-data-deletion-expected.txt
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-exempt-from-website-data-deletion.html
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-granted-storage-access-api-expected.txt
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-granted-storage-access-api.html
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-third-party-resources-exempt-from-cookie-blocking-expected.txt
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-third-party-resources-exempt-from-cookie-blocking.html
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebCore/PAL/pal/spi/ios/ManagedConfigurationSPI.h
  Source/WebCore/platform/network/NetworkStorageSession.cpp
  Source/WebCore/platform/network/NetworkStorageSession.h
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsStore.cpp
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsStore.h
  Source/WebKit/NetworkProcess/Classifier/WebResourceLoadStatisticsStore.cpp
  Source/WebKit/NetworkProcess/Classifier/WebResourceLoadStatisticsStore.h
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkProcess.messages.in
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.mm
  Source/WebKit/Shared/ResourceLoadStatisticsParameters.h
  Source/WebKit/UIProcess/API/C/WKWebsiteDataStoreRef.cpp
  Source/WebKit/UIProcess/API/C/WKWebsiteDataStoreRef.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/WebFramePolicyListenerProxy.h
  Source/WebKit/UIProcess/WebsiteData/Cocoa/WebsiteDataStoreCocoa.mm
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.h
  Tools/WebKitTestRunner/InjectedBundle/Bindings/TestRunner.idl
  Tools/WebKitTestRunner/InjectedBundle/InjectedBundle.cpp
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.cpp
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.h
  Tools/WebKitTestRunner/TestController.cpp
  Tools/WebKitTestRunner/TestController.h
  Tools/WebKitTestRunner/TestInvocation.cpp
  Tools/WebKitTestRunner/TestInvocation.h
Owners: @cdumez, @JonWBedard

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Add Web Extension code generator scripts, bindings glue, and some IDL files. https://bugs.webkit.org/show_bug.cgi?id=246410
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources-output.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Scripts/generate-derived-sources.sh
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIExtensionCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPINamespaceCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIRuntimeCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIExtension.h
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPINamespace.h
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIObject.h
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIRuntime.h
  Source/WebKit/WebProcess/Extensions/Bindings/Cocoa/JSWebExtensionWrapperCocoa.mm
  Source/WebKit/WebProcess/Extensions/Bindings/JSWebExtensionWrappable.h
  Source/WebKit/WebProcess/Extensions/Bindings/JSWebExtensionWrapper.cpp
  Source/WebKit/WebProcess/Extensions/Bindings/JSWebExtensionWrapper.h
  Source/WebKit/WebProcess/Extensions/Bindings/Scripts/CodeGeneratorExtensions.pm
  Source/WebKit/WebProcess/Extensions/Bindings/Scripts/IDLAttributes.json
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPIExtension.idl
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPINamespace.idl
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPIRuntime.idl
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebMessagePortChannelProvider.h
  Source/WebKit/WebProcess/WebPage/WebFoundTextRangeController.cpp
Owners: @cdumez

[Cocoa] Follow-up localized string addition for fullscreen mode https://bugs.webkit.org/show_bug.cgi?id=247217 rdar://101695343
  Source/WebCore/en.lproj/Localizable.strings
Owners: none

SVG animations should respect Page::imageAnimationEnabled https://bugs.webkit.org/show_bug.cgi?id=245399 rdar://100143723
  LayoutTests/fast/images/pagewide-play-pause-animateTransform-svg-animation-expected.txt
  LayoutTests/fast/images/pagewide-play-pause-animateTransform-svg-animation.html
  LayoutTests/fast/images/pagewide-play-pause-offscreen-animations-expected.txt
  LayoutTests/fast/images/pagewide-play-pause-offscreen-animations.html
  LayoutTests/platform/mac-wk1/TestExpectations
  Source/WebCore/page/FrameView.cpp
  Source/WebCore/page/FrameView.h
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebCore/rendering/RenderElement.cpp
  Source/WebCore/rendering/RenderView.cpp
  Source/WebCore/rendering/RenderView.h
  Source/WebCore/svg/SVGDocumentExtensions.cpp
  Source/WebCore/svg/SVGDocumentExtensions.h
  Source/WebCore/svg/SVGSVGElement.cpp
  Source/WebCore/svg/SVGSVGElement.h
  Source/WebCore/svg/graphics/SVGImage.cpp
  Source/WebCore/svg/graphics/SVGImage.h
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
Owners: @cdumez

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
