Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @calvaris, @philn, @ntrrgc, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @graouts

[Gardening]: [ macOS iOS EWS ] fast/text/accessibility-bold-system-font/accessibility-bold-system-font-2.html is a consistent failure https://bugs.webkit.org/show_bug.cgi?id=242139 <rdar://96170698>
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Owners: none

We create /System/Library/LaunchDaemons/ for builds that don't install plists in that path https://bugs.webkit.org/show_bug.cgi?id=242081 <rdar://96013133>
  Source/WebKit/Configurations/adattributiond.xcconfig
  Source/WebKit/Configurations/webpushd.xcconfig
  Source/WebKit/Scripts/copy-launchd-plist-and-create-symlink.sh
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Owners: none

REGRESSION (251244@main): [ iOS ] TestWebKitAPI.HSTS.Preconnect is a flaky timeout https://bugs.webkit.org/show_bug.cgi?id=242017
  Tools/TestWebKitAPI/Tests/WebKitCocoa/HSTS.mm
  Tools/TestWebKitAPI/cocoa/HTTPServer.h
  Tools/TestWebKitAPI/cocoa/HTTPServer.mm
Owners: none

remove resolveType from metadata
  Source/JavaScriptCore/bytecode/BytecodeList.rb
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/jit/JIT.h
  Source/JavaScriptCore/jit/JITOperations.cpp
  Source/JavaScriptCore/jit/JITPropertyAccess.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter64.asm
  Source/JavaScriptCore/runtime/CommonSlowPaths.cpp
  Source/JavaScriptCore/runtime/GetPutInfo.h
Owners: @WebKit/jsc-reviewers

Cherry-pick d0b2da359950. rdar://problem/96013133
  Source/WebKit/Configurations/adattributiond.xcconfig
  Source/WebKit/Configurations/webpushd.xcconfig
  Source/WebKit/Scripts/copy-launchd-plist-and-create-symlink.sh
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

[Big Sur] Fix Big Sur more after 251860@main https://bugs.webkit.org/show_bug.cgi?id=242147
  Source/WTF/wtf/PlatformHave.h
Owners: none

[JSC] Typed array private name resolvable only after public name has been seen https://bugs.webkit.org/show_bug.cgi?id=167697
  JSTests/stress/typed-array-builtin-names.js
  LayoutTests/TestExpectations
  Source/JavaScriptCore/bytecode/LinkTimeConstant.h
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
Owners: @WebKit/jsc-reviewers

[Alternate WebM Player] Support non-zero start times https://bugs.webkit.org/show_bug.cgi?id=242074
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.h
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.mm
Owners: none

Canvas.toDataURL causes excessive GPUP memory use on Cocoa https://bugs.webkit.org/show_bug.cgi?id=240639 <rdar://93567863>
  LayoutTests/fast/canvas/toDataURL-alpha-permutation-expected.html
  LayoutTests/fast/canvas/toDataURL-alpha-permutation.html
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/win/TestExpectations
  Source/WebCore/html/HTMLCanvasElement.cpp
  Source/WebCore/platform/MIMETypeRegistry.cpp
  Source/WebCore/platform/MIMETypeRegistry.h
  Source/WebCore/platform/graphics/ConcreteImageBuffer.h
  Source/WebCore/platform/graphics/ImageBuffer.cpp
  Source/WebCore/platform/graphics/ImageBuffer.h
  Source/WebCore/platform/graphics/ImageBufferBackend.h
  Source/WebCore/platform/graphics/cairo/ImageBufferCairoBackend.cpp
  Source/WebCore/platform/graphics/cairo/ImageBufferCairoBackend.h
  Source/WebCore/platform/graphics/cairo/ImageBufferUtilitiesCairo.cpp
  Source/WebCore/platform/graphics/cairo/ImageBufferUtilitiesCairo.h
  Source/WebCore/platform/graphics/cg/ImageBufferCGBackend.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferCGBackend.h
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.h
  Source/WebCore/platform/graphics/cg/ImageBufferUtilitiesCG.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferUtilitiesCG.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.messages.in
  Source/WebKit/Shared/API/c/cg/WKImageCG.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.h
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferRemoteIOSurfaceBackend.cpp
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferRemoteIOSurfaceBackend.h
Owners: none

Move some Mac-only code to WebProcessPoolCocoa https://bugs.webkit.org/show_bug.cgi?id=242148
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessPool.h
Owners: none

RemoteRenderingBackend::prepareBuffersForDisplay should move its result into the completion handler https://bugs.webkit.org/show_bug.cgi?id=242158
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
Owners: none

[macOS] Checkboxes are not rendered https://bugs.webkit.org/show_bug.cgi?id=242153 <rdar://93449777>
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Owners: none

Crash after unparenting an editable WKWebView twice https://bugs.webkit.org/show_bug.cgi?id=242160 <rdar://87728837>
  Source/WebKit/UIProcess/Cocoa/WebViewImpl.mm
  Tools/TestWebKitAPI/Tests/mac/FontManagerTests.mm
Owners: none

Don't always escape allocations when they're written to the stack in StoreBarrierInsertionPhase https://bugs.webkit.org/show_bug.cgi?id=242157
  Source/JavaScriptCore/dfg/DFGStoreBarrierInsertionPhase.cpp
Owners: @WebKit/jsc-reviewers

[GPU Process] Vertical text is incorrectly displaced https://bugs.webkit.org/show_bug.cgi?id=239484 <rdar://91187123>
  LayoutTests/platform/ios-wk2/TestExpectations
  Source/WebCore/platform/graphics/coretext/DrawGlyphsRecorderCoreText.cpp
  Source/WebCore/platform/graphics/coretext/FontCascadeCoreText.cpp
Owners: none

Revert [251950@main] Add RuleSet bucket for attribute selectors https://bugs.webkit.org/show_bug.cgi?id=242159
  Source/WebCore/style/ElementRuleCollector.cpp
  Source/WebCore/style/RuleData.cpp
  Source/WebCore/style/RuleSet.cpp
  Source/WebCore/style/RuleSet.h
Owners: none

Regression(247804@main): Network process is terminated while fetching website data https://bugs.webkit.org/show_bug.cgi?id=241830
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/NetworkProcess.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebsiteDatastore.mm
Owners: none

[ iOS ] 2X fast/text/accessibility-bold-system-font (Layout-tests) are constant failures https://bugs.webkit.org/show_bug.cgi?id=242119 <rdar://96150140>
  LayoutTests/TestExpectations
  LayoutTests/fast/text/accessibility-bold-system-font/accessibility-bold-system-font-2-expected.html
  LayoutTests/fast/text/accessibility-bold-system-font/accessibility-bold-system-font-2.html
  LayoutTests/fast/text/accessibility-bold-system-font/accessibility-bold-system-font.html
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Owners: none

Fix webgl/1.0.x/conformance/programs/program-test failure https://bugs.webkit.org/show_bug.cgi?id=237414
  LayoutTests/TestExpectations
  LayoutTests/platform/gtk/TestExpectations
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
Owners: none

[libpas] pas_utils.c fails to build due to missing parameter names in pas_crash_with_info_impl() https://bugs.webkit.org/show_bug.cgi?id=242090
  Source/bmalloc/libpas/src/libpas/pas_utils.c
Owners: @Constellation

Web Inspector: Network panel: Disable context menu items for incomplete resources https://bugs.webkit.org/show_bug.cgi?id=242035
  Source/WebInspectorUI/UserInterface/Models/Resource.js
  Source/WebInspectorUI/UserInterface/Views/ContextMenuUtilities.js
Owners: @dcrousso, @patrickangle

Revert [251974@main] Canvas.toDataURL causes excessive GPUP memory use on Cocoa https://bugs.webkit.org/show_bug.cgi?id=242175
  LayoutTests/fast/canvas/toDataURL-alpha-permutation-expected.html
  LayoutTests/fast/canvas/toDataURL-alpha-permutation.html
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/win/TestExpectations
  Source/WebCore/html/HTMLCanvasElement.cpp
  Source/WebCore/platform/MIMETypeRegistry.cpp
  Source/WebCore/platform/MIMETypeRegistry.h
  Source/WebCore/platform/graphics/ConcreteImageBuffer.h
  Source/WebCore/platform/graphics/ImageBuffer.cpp
  Source/WebCore/platform/graphics/ImageBuffer.h
  Source/WebCore/platform/graphics/ImageBufferBackend.h
  Source/WebCore/platform/graphics/cairo/ImageBufferCairoBackend.cpp
  Source/WebCore/platform/graphics/cairo/ImageBufferCairoBackend.h
  Source/WebCore/platform/graphics/cairo/ImageBufferUtilitiesCairo.cpp
  Source/WebCore/platform/graphics/cairo/ImageBufferUtilitiesCairo.h
  Source/WebCore/platform/graphics/cg/ImageBufferCGBackend.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferCGBackend.h
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.h
  Source/WebCore/platform/graphics/cg/ImageBufferUtilitiesCG.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferUtilitiesCG.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.messages.in
  Source/WebKit/Shared/API/c/cg/WKImageCG.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.h
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferRemoteIOSurfaceBackend.cpp
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferRemoteIOSurfaceBackend.h
Owners: none

Add RuleSet bucket for attribute selectors https://bugs.webkit.org/show_bug.cgi?id=242058 <rdar://95790940>
  LayoutTests/fast/css/attribute-synchronization-crash-expected.txt
  LayoutTests/fast/css/attribute-synchronization-crash.html
  Source/WebCore/style/ElementRuleCollector.cpp
  Source/WebCore/style/RuleData.cpp
  Source/WebCore/style/RuleSet.cpp
  Source/WebCore/style/RuleSet.h
Owners: none

My test bug https://bugs.webkit.org/show_bug.cgi?id=242179
  my.txt
Owners: none

[GStreamer][WebRTC] Allow backend to keep track of buffered-amount https://bugs.webkit.org/show_bug.cgi?id=235879 <rdar://problem/88561869>
  Source/WebCore/Modules/mediastream/RTCDataChannel.h
  Source/WebCore/Modules/mediastream/RTCDataChannelRemoteSource.h
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerDataChannelHandler.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerDataChannelHandler.h
  Source/WebCore/platform/mediastream/RTCDataChannelHandlerClient.h
Owners: @calvaris, @philn

[GLib] Tools/glib/apply-build-revision-to-files.py fails on Git worktrees https://bugs.webkit.org/show_bug.cgi?id=242176
  Tools/glib/apply-build-revision-to-files.py
Owners: @JonWBedard

[ews-build.webkit.org] Handle push failure after PR update https://bugs.webkit.org/show_bug.cgi?id=242140
  Tools/CISupport/ews-build/steps.py
Owners: @aj062, @JonWBedard, @ryanhaddad

[ews-build.webkit.org] Allow unreviewed versioning commits https://bugs.webkit.org/show_bug.cgi?id=242144
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Owners: @aj062, @JonWBedard, @ryanhaddad

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Merge 251991@main - [GLib] Tools/glib/apply-build-revision-to-files.py fails on Git worktrees https://bugs.webkit.org/show_bug.cgi?id=242176
  Tools/glib/apply-build-revision-to-files.py
Owners: @JonWBedard

Merge 251657@main - General Protection Fault in WebKitWebProcess on 32bit CPUs
  Source/WebCore/platform/audio/DenormalDisabler.h
Owners: none

Merge 251906@main - [GTK] AX: AtspiCollection is not implemented on the document https://bugs.webkit.org/show_bug.cgi?id=240517
  Source/WebCore/SourcesGTK.txt
  Source/WebCore/SourcesWPE.txt
  Source/WebCore/accessibility/atspi/AccessibilityAtspiEnums.h
  Source/WebCore/accessibility/atspi/AccessibilityObjectAtspi.cpp
  Source/WebCore/accessibility/atspi/AccessibilityObjectAtspi.h
  Source/WebCore/accessibility/atspi/AccessibilityObjectCollectionAtspi.cpp
  Source/WebCore/accessibility/atspi/xml/Collection.xml
  Tools/TestWebKitAPI/Tests/WebKitGtk/TestWebKitAccessibility.cpp
Owners: none

[LFC][FFC] Add missing margin values when computing the visual geometry https://bugs.webkit.org/show_bug.cgi?id=242111
  Source/WebCore/layout/formattingContexts/flex/FlexFormattingContext.cpp
Owners: none

[macOS] "text/uri-list" is always empty when dragging and dropping from the unified field in Safari https://bugs.webkit.org/show_bug.cgi?id=242143 rdar://96074318
  Source/WebKit/UIProcess/Cocoa/WebViewImpl.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Tools/TestWebKitAPI/Tests/mac/DragAndDropTestsMac.mm
  Tools/TestWebKitAPI/cocoa/DragAndDropSimulator.h
  Tools/TestWebKitAPI/mac/DragAndDropSimulatorMac.mm
  Tools/TestWebKitAPI/mac/TestFilePromiseReceiver.mm
Owners: none

Do not create origin directory or origin file for LocalStorage prewarming https://bugs.webkit.org/show_bug.cgi?id=242064
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.h
  Source/WebKit/NetworkProcess/storage/OriginStorageManager.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebsiteDataStoreCustomPaths.mm
Owners: none

REGRESSION (250816@main): composite option in Element.animate() is ignored https://bugs.webkit.org/show_bug.cgi?id=242178
  Source/WebCore/animation/KeyframeEffect.cpp
Owners: @graouts

[iOS] Remove AGX related sandbox extension code https://bugs.webkit.org/show_bug.cgi?id=242124 <rdar://96153598>
  Source/WTF/wtf/PlatformHave.h
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.GPU.sb.in
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/UIProcess/GPU/GPUProcessProxy.cpp
Owners: none

remoteFunctionCallForJSFunction should placate MarkedArgumentBuffer overflow check. https://bugs.webkit.org/show_bug.cgi?id=242125 <rdar://problem/96143046>
  JSTests/stress/remoteFunctionCallForJSFunction-should-placate-overflow-check.js
  JSTests/stress/remoteFunctionCallForJSFunction-should-placate-overflow-check2.js
  Source/JavaScriptCore/runtime/JSRemoteFunction.cpp
Owners: @WebKit/jsc-reviewers

Implement aspect-ratio mapping for canvas element. https://bugs.webkit.org/show_bug.cgi?id=240887
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/attributes-for-embedded-content-and-images/canvas-aspect-ratio-expected.txt
  Source/WebCore/html/HTMLCanvasElement.cpp
  Source/WebCore/html/HTMLCanvasElement.h
  Source/WebCore/html/HTMLElement.cpp
  Source/WebCore/html/HTMLElement.h
  Source/WebCore/rendering/RenderBox.h
  Source/WebCore/rendering/RenderReplaced.cpp
Owners: none

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard
/Tools/TestWebKitAPI

# ================================================================================

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn

# ================================================================================

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

/Source/WebCore/Modules/apple-pay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/apple-pay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

# ================================================================================

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts
