Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

untagArrayPtr() should do validation if FPAC is not available, not the other way around. https://bugs.webkit.org/show_bug.cgi?id=255136 rdar://107739543
  Source/JavaScriptCore/assembler/MacroAssemblerARM64E.h
Owners: @WebKit/jsc-reviewers

Unskip JSTests/wasm/regress/242294.js on arm https://bugs.webkit.org/show_bug.cgi?id=255147
  JSTests/wasm/regress/242294.js
Owners: @WebKit/jsc-reviewers

Unreviewed revert of 259548.590@safari-7615-branch (dd4ad7b0b).
  LayoutTests/ipc/shared-video-frame-size-expected.txt
  LayoutTests/ipc/shared-video-frame-size.html
  LayoutTests/platform/mac-wk1/TestExpectations
  Source/WebCore/platform/cocoa/SharedVideoFrameInfo.h
  Source/WebCore/platform/cocoa/SharedVideoFrameInfo.mm
Owners: none

Add cybai to contributors.json https://bugs.webkit.org/show_bug.cgi?id=255141
  metadata/contributors.json
Owners: @JonWBedard

Unreviewed, unskip test on arm https://bugs.webkit.org/show_bug.cgi?id=255151
  JSTests/wasm/stress/wasm-shared-memory-growable.js
Owners: @WebKit/jsc-reviewers

[git-webkit] Handle trailing cherry-pick annotation https://bugs.webkit.org/show_bug.cgi?id=255113 rdar://107725282
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/commit.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/commit_classifier.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/trace.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/classify_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/commit_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/trace_unittest.py
  metadata/commit_classes.json
Owners: @facetothefate, @JonWBedard

Trimmed inline-start margins for flex items in horizontal writing mode should be reflected in computed style. https://bugs.webkit.org/show_bug.cgi?id=253714 rdar://106559056
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-inline-start-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-inline-start.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-inline-start-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-inline-start.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-inline-start-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-inline-start.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-inline-start-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-inline-start.html
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderFlexibleBox.cpp
Owners: none

REGRESSION (iOS 16.4): Chrome crashes in WebBackForwardCache::takeSuspendedPage https://bugs.webkit.org/show_bug.cgi?id=255102 rdar://107723629
  Source/WebKit/Shared/Cocoa/SandboxExtensionCocoa.mm
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ProcessSwapOnNavigation.mm
Owners: @cdumez

getFileHandle() should return TypeMismatchError on unexpected entry type https://bugs.webkit.org/show_bug.cgi?id=255092 rdar://107716194
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemDirectoryHandle-getDirectoryHandle.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemDirectoryHandle-getDirectoryHandle.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemDirectoryHandle-getFileHandle.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemDirectoryHandle-getFileHandle.https.any.worker-expected.txt
  LayoutTests/storage/filesystemaccess/directory-handle-basics-expected.txt
  LayoutTests/storage/filesystemaccess/directory-handle-basics-worker-expected.txt
  LayoutTests/storage/filesystemaccess/resources/directory-handle-basics.js
  Source/WebKit/NetworkProcess/storage/FileSystemStorageError.h
Owners: @cdumez

Initial ServiceWorkerWindowClient in a Home Screen web app launched to handle notificationclick handler is inert for a short period https://bugs.webkit.org/show_bug.cgi?id=252544 rdar://105684663
  Source/WebCore/Headers.cmake
  Source/WebCore/workers/service/SWClientConnection.cpp
  Source/WebCore/workers/service/SWClientConnection.h
  Source/WebCore/workers/service/ServiceWorkerClientPendingMessage.h
  Source/WebCore/workers/service/ServiceWorkerContainer.cpp
  Source/WebCore/workers/service/WorkerSWClientConnection.cpp
  Source/WebCore/workers/service/WorkerSWClientConnection.h
  Source/WebCore/workers/service/server/SWServer.cpp
  Source/WebCore/workers/service/server/SWServer.h
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerConnection.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerConnection.h
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerConnection.messages.in
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/WebProcess/Storage/WebSWClientConnection.cpp
  Source/WebKit/WebProcess/Storage/WebSWClientConnection.h
  Source/WebKit/WebProcess/Storage/WebSWClientConnection.messages.in
Owners: @cdumez

Micro-optimize jsStringWithCache() https://bugs.webkit.org/show_bug.cgi?id=255106
  Source/JavaScriptCore/runtime/JSString.cpp
  Source/JavaScriptCore/runtime/JSString.h
Owners: @WebKit/jsc-reviewers

Round total disk space up to nearest GB value in quota computation https://bugs.webkit.org/show_bug.cgi?id=255016 rdar://problem/107711233
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/NetworkSessionCreationParameters.cpp
  Source/WebKit/NetworkProcess/NetworkSessionCreationParameters.h
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.h
  Source/WebKit/NetworkProcess/storage/OriginQuotaManager.cpp
  Source/WebKit/NetworkProcess/storage/OriginQuotaManager.h
  Source/WebKit/NetworkProcess/storage/OriginStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/OriginStorageManager.h
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.h
Owners: @cdumez

[ews-build] Split iOS layout test queue into no-WPT / only-WPT configurations https://bugs.webkit.org/show_bug.cgi?id=254559 rdar://107291888
  Tools/CISupport/ews-build/config.json
  Tools/CISupport/ews-build/factories.py
  Tools/CISupport/ews-build/factories_unittest.py
  Tools/CISupport/ews-build/loadConfig.py
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Owners: @aj062, @JonWBedard, @ryanhaddad

[ews-build.webkit.org] Handle trailing cherry-pick annotation https://bugs.webkit.org/show_bug.cgi?id=255125 rdar://107732291
  Tools/CISupport/ews-build/events.py
  Tools/CISupport/ews-build/events_unittest.py
Owners: @aj062, @JonWBedard, @ryanhaddad

[iOS] Rebaseline tests for iOS 16.4 https://bugs.webkit.org/show_bug.cgi?id=255140 rdar://107742631
  LayoutTests/platform/ios-wk2/fast/block/basic/011-expected.txt
  LayoutTests/platform/ios-wk2/fast/block/basic/minheight-expected.txt
  LayoutTests/platform/ios-wk2/fast/block/margin-collapse/103-expected.txt
  LayoutTests/platform/ios-wk2/fast/css/002-expected.txt
  LayoutTests/platform/ios-wk2/fast/invalid/008-expected.txt
  LayoutTests/platform/ios-wk2/fast/overflow/003-expected.txt
  LayoutTests/platform/ios-wk2/fast/overflow/infiniteRecursion-expected.txt
  LayoutTests/platform/ios-wk2/fast/text/international/bidi-explicit-embedding-expected.txt
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/ios/css1/box_properties/acid_test-expected.txt
  LayoutTests/platform/ios/css2.1/t09-c5526c-display-00-e-expected.txt
  LayoutTests/platform/ios/fast/block/basic/011-expected.txt
  LayoutTests/platform/ios/fast/block/margin-collapse/103-expected.txt
  LayoutTests/platform/ios/fast/forms/search-styled-expected.txt
  LayoutTests/platform/ios/fast/overflow/003-expected.txt
  LayoutTests/platform/ios/fast/table/rowindex-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-writing-modes/forms/meter-appearance-native-computed-style.optional-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/fetch/content-length/api-and-duplicate-headers.any-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/fetch/content-length/api-and-duplicate-headers.any.worker-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/html/dom/idlharness.https_exclude=(Document_Window_HTML._)-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/html/semantics/disabled-elements/disabled-event-dispatch.tentative-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/html/semantics/popovers/popover-light-dismiss-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/screen-orientation/nested-documents-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/screen-orientation/unlock-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/svg/import/metadata-example-01-t-manual-expected.txt
  LayoutTests/platform/ios/scrollbars/overflow-scrollbar-combinations-expected.txt
  LayoutTests/platform/ios/svg/W3C-SVG-1.1/metadata-example-01-b-expected.txt
  LayoutTests/platform/ios/svg/custom/svg-fonts-in-html-expected.txt
  LayoutTests/platform/ios/svg/custom/use-on-symbol-inside-pattern-expected.txt
  LayoutTests/platform/ios/tables/mozilla/bugs/bug2479-2-expected.txt
Owners: none

Use stable_sort to sort media capture devices according the fitness distance https://bugs.webkit.org/show_bug.cgi?id=255131 rdar://problem/107735578
  Source/WebCore/platform/mediastream/RealtimeMediaSourceCenter.cpp
Owners: none

postprocess-asm rule doesn't respect RUBY_EXECUTABLE https://bugs.webkit.org/show_bug.cgi?id=254965
  Source/JavaScriptCore/CMakeLists.txt
Owners: @WebKit/jsc-reviewers

[WGSL] Add type declarations for trigonometric functions https://bugs.webkit.org/show_bug.cgi?id=255119 rdar://problem/107759133
  Source/WebGPU/WGSL/TypeDeclarations.rb
  Source/WebGPU/WGSL/tests/valid/overload.wgsl
Owners: none

[UI-side compositing] Legacy scrollbars do not flash grey when hovered over https://bugs.webkit.org/show_bug.cgi?id=254721 rdar://107447969
  Source/WebCore/page/EventHandler.cpp
  Source/WebCore/page/scrolling/AsyncScrollingCoordinator.cpp
  Source/WebCore/page/scrolling/AsyncScrollingCoordinator.h
  Source/WebCore/page/scrolling/ScrollingCoordinator.h
  Source/WebCore/page/scrolling/ScrollingStateNode.h
  Source/WebCore/page/scrolling/ScrollingStateScrollingNode.cpp
  Source/WebCore/page/scrolling/ScrollingStateScrollingNode.h
  Source/WebCore/page/scrolling/mac/ScrollerMac.h
  Source/WebCore/page/scrolling/mac/ScrollerMac.mm
  Source/WebCore/page/scrolling/mac/ScrollerPairMac.h
  Source/WebCore/page/scrolling/mac/ScrollerPairMac.mm
  Source/WebCore/page/scrolling/mac/ScrollingTreeScrollingNodeDelegateMac.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteScrollingCoordinatorTransaction.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Owners: @cdumez

Cache lowercase version of the localName in QualifiedName https://bugs.webkit.org/show_bug.cgi?id=255123 rdar://problem/107757119
  Source/WebCore/css/CSSSelector.cpp
  Source/WebCore/css/CSSSelector.h
  Source/WebCore/css/SelectorChecker.cpp
  Source/WebCore/css/SelectorFilter.cpp
  Source/WebCore/css/parser/CSSParserSelector.h
  Source/WebCore/css/parser/CSSSelectorParser.cpp
  Source/WebCore/css/parser/CSSSelectorParser.h
  Source/WebCore/cssjit/SelectorCompiler.cpp
  Source/WebCore/dom/Attribute.h
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/Element.h
  Source/WebCore/dom/QualifiedName.cpp
  Source/WebCore/dom/QualifiedName.h
  Source/WebCore/dom/QualifiedNameCache.cpp
  Source/WebCore/html/HTMLElement.cpp
  Source/WebCore/html/parser/HTMLTreeBuilder.cpp
  Source/WebCore/style/AttributeChangeInvalidation.cpp
  Source/WebCore/style/PseudoClassChangeInvalidation.cpp
  Source/WebCore/style/RuleFeature.cpp
  Source/WebCore/style/RuleFeature.h
  Source/WebCore/style/RuleSet.cpp
  Source/WebCore/style/RuleSet.h
  Source/WebCore/style/StyleResolver.cpp
  Source/WebCore/style/StyleResolver.h
Owners: @rniwa, @cdumez

Vimeo video goes black if you hit the in-website play button while the video is open in PiP https://bugs.webkit.org/show_bug.cgi?id=255163 rdar://107592139
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
  Source/WebCore/platform/ios/VideoFullscreenInterfaceAVKit.mm
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.cpp
  Source/WebKit/WebProcess/cocoa/VideoFullscreenManager.h
Owners: @cdumez

[WGSL] Add type declarations for hyperbolic trigonometric functions https://bugs.webkit.org/show_bug.cgi?id=255160 rdar://107759751
  Source/WebGPU/WGSL/TypeDeclarations.rb
  Source/WebGPU/WGSL/tests/valid/overload.wgsl
Owners: none

AX: Add basic relative frame tests for shadow DOM elements, aria-owns, iframes, SVGs, and tables https://bugs.webkit.org/show_bug.cgi?id=255132 rdar://problem/107736321
  LayoutTests/accessibility/mac/aria-owned-object-relative-frame-expected.txt
  LayoutTests/accessibility/mac/aria-owned-object-relative-frame.html
  LayoutTests/accessibility/mac/iframe-relative-frame-expected.txt
  LayoutTests/accessibility/mac/iframe-relative-frame.html
  LayoutTests/accessibility/mac/shadow-dom-relative-frame-expected.txt
  LayoutTests/accessibility/mac/shadow-dom-relative-frame.html
  LayoutTests/accessibility/mac/svg-relative-frame-expected.txt
  LayoutTests/accessibility/mac/svg-relative-frame.html
  LayoutTests/accessibility/mac/table-relative-frame-expected.txt
  LayoutTests/accessibility/mac/table-relative-frame.html
  LayoutTests/platform/mac-wk1/TestExpectations
Owners: none

Use different cherry-pick format for main https://bugs.webkit.org/show_bug.cgi?id=255088 rdar://107708812
  Tools/Scripts/hooks/prepare-commit-msg
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/canonicalize/message.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/install_hooks.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/canonicalize_unittest.py
Owners: @JonWBedard, @facetothefate

[ews-build] Split iOS layout test queue into no-WPT / only-WPT configurations https://bugs.webkit.org/show_bug.cgi?id=254559 rdar://107291888
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Owners: @aj062, @JonWBedard, @ryanhaddad

transform-style:preserve-3d has incorrect hit-testing of negative z-index ::after. https://bugs.webkit.org/show_bug.cgi?id=255028
  LayoutTests/transforms/3d/hit-testing/hit-preserves-3d-2-expected.txt
  LayoutTests/transforms/3d/hit-testing/hit-preserves-3d-2.html
  Source/WebCore/rendering/RenderLayer.cpp
Owners: none

Remove duplicated code from RenderLayer::hitTestLayer. https://bugs.webkit.org/show_bug.cgi?id=255166
  Source/WebCore/rendering/RenderLayer.cpp
Owners: none

Ignore fully disabled RuleSets https://bugs.webkit.org/show_bug.cgi?id=255165 rdar://problem/107766483
  Source/WebCore/style/ElementRuleCollector.cpp
  Source/WebCore/style/RuleSet.cpp
  Source/WebCore/style/RuleSet.h
Owners: none

REGRESSION(262723@main) Unreviewed build fix for non-Cocoa ports https://bugs.webkit.org/show_bug.cgi?id=255163
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.cpp
Owners: @cdumez

Remove bot641, 682, 673 from config https://bugs.webkit.org/show_bug.cgi?id=255167 rdar://problem/107206847
  Tools/CISupport/build-webkit-org/config.json
Owners: @aj062, @JonWBedard, @ryanhaddad

Vimeo video goes black if you hit the in-website play button while the video is open in PiP (Follow-up fix) https://bugs.webkit.org/show_bug.cgi?id=255163 rdar://107592139
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.cpp
Owners: @cdumez

Cherry-pick 262688@main (ba739f2564d7). rdar://107729416
  Tools/Scripts/hooks/prepare-commit-msg
Owners: @JonWBedard

Cherry-pick 262707@main (0a38586f401a). rdar://107725282
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/commit.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/commit_classifier.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/trace.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/classify_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/commit_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/trace_unittest.py
  metadata/commit_classes.json
Owners: @facetothefate, @JonWBedard

Cherry-pick 262726@main (659cd39a8658). rdar://107708812
  Tools/Scripts/hooks/prepare-commit-msg
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/canonicalize/message.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/install_hooks.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/canonicalize_unittest.py
Owners: @JonWBedard, @facetothefate

JSTests: lower memory threshold to enable a test on Arm https://bugs.webkit.org/show_bug.cgi?id=255146
  JSTests/wasm/stress/only-referenced.js
  JSTests/wasm/stress/resources/only-referenced.wasm
Owners: @WebKit/jsc-reviewers

[WGSL] Distinguish between abstract and concrete float literals https://bugs.webkit.org/show_bug.cgi?id=255127 rdar://problem/107732951
  Source/WebGPU/WGSL/Lexer.cpp
  Source/WebGPU/WGSL/Parser.cpp
  Source/WebGPU/WGSL/Token.cpp
  Source/WebGPU/WGSL/Token.h
  Tools/TestWebKitAPI/Tests/WGSL/LexerTests.cpp
Owners: none

[WinCairo] Unreviewed test gardening
  LayoutTests/platform/wincairo/TestExpectations
Owners: none

[GARDNEING] Batch mark expectations for newly failing tests introduced with iOS 16.4 update https://bugs.webkit.org/show_bug.cgi?id=255177 rdar://problem/107772432
  LayoutTests/platform/ios/TestExpectations
Owners: none

Fix run-benchmark and compare-results https://bugs.webkit.org/show_bug.cgi?id=255172 rdar://107770597
  Tools/Scripts/compare-results
  Tools/Scripts/webkitpy/benchmark_runner/webserver_benchmark_runner.py
Owners: @JonWBedard

[GARDENING] [ Ventura iOS arm64 ] 3X imported/w3c/web-platform-tests/css/css-color/parsing (layout-tests) are constant text failures https://bugs.webkit.org/show_bug.cgi?id=255178 rdar://107773785
  LayoutTests/platform/mac/TestExpectations
Owners: none

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
