Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

Add unit test for what will be site isolation https://bugs.webkit.org/show_bug.cgi?id=246301 rdar://100998554
  Source/WebKit/UIProcess/API/Cocoa/WKFrameInfo.mm
  Source/WebKit/UIProcess/API/Cocoa/WKFrameInfoPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/_WKFrameTreeNode.mm
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.h
  Tools/TestWebKitAPI/SourcesCocoa.txt
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/StoreBlobThenDelete.mm
  Tools/TestWebKitAPI/cocoa/HTTPServer.h
  Tools/TestWebKitAPI/cocoa/HTTPServer.mm
Owners: @cdumez

[Live Range Selection] A few tests fail due to behavior difference in VisibleSelection::selectionFromContentsOfNode https://bugs.webkit.org/show_bug.cgi?id=246284
  LayoutTests/editing/deleting/paste-with-transparent-background-color-live-range-expected.txt
  LayoutTests/editing/deleting/paste-with-transparent-background-color-live-range.html
  LayoutTests/editing/execCommand/delete-selection-has-style-live-range-expected.txt
  LayoutTests/editing/execCommand/delete-selection-has-style-live-range.html
  LayoutTests/editing/input/select-all-clear-input-method-live-range-expected.txt
  LayoutTests/editing/input/select-all-clear-input-method-live-range.html
  LayoutTests/editing/pasteboard/contenteditable-pre-2-live-range-expected.txt
  LayoutTests/editing/pasteboard/contenteditable-pre-2-live-range.html
  LayoutTests/editing/pasteboard/copy-paste-content-starting-and-ending-canvas-live-range-expected.txt
  LayoutTests/editing/pasteboard/copy-paste-content-starting-and-ending-canvas-live-range.html
  LayoutTests/editing/pasteboard/preserve-line-break-at-end-of-pasted-content-live-range-expected.txt
  LayoutTests/editing/pasteboard/preserve-line-break-at-end-of-pasted-content-live-range.html
  LayoutTests/editing/selection/select-all-user-select-none-live-range-expected.txt
  LayoutTests/editing/selection/select-all-user-select-none-live-range.html
  Source/WebCore/editing/VisibleSelection.cpp
Owners: @rniwa

Remove temporary from writeBlobsToTemporaryFilesForIndexedDB and registerTemporaryBlobFilePaths https://bugs.webkit.org/show_bug.cgi?id=246311
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
  Source/WebCore/platform/network/BlobRegistry.h
  Source/WebCore/platform/network/BlobRegistryImpl.cpp
  Source/WebCore/platform/network/BlobRegistryImpl.h
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.h
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.messages.in
  Source/WebKit/NetworkProcess/NetworkProcessPlatformStrategies.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.h
  Source/WebKit/WebProcess/FileAPI/BlobRegistryProxy.cpp
  Source/WebKit/WebProcess/FileAPI/BlobRegistryProxy.h
  Source/WebKit/WebProcess/Network/NetworkProcessConnection.cpp
  Source/WebKit/WebProcess/Network/NetworkProcessConnection.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebPlatformStrategies.mm
  Source/WebKitLegacy/win/WebCoreSupport/WebPlatformStrategies.cpp
Owners: @cdumez

Minor coding style cleanup in HTMLTextFormControlElement::setSelectionRange https://bugs.webkit.org/show_bug.cgi?id=246287
  Source/WebCore/html/HTMLTextFormControlElement.cpp
Owners: @cdumez, @rniwa

Add _WKWebExtensionContext and WebKit::WebExtensionContext. https://bugs.webkit.org/show_bug.cgi?id=246255
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources-output.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Platform/cocoa/CocoaHelpers.h
  Source/WebKit/Platform/cocoa/CocoaHelpers.mm
  Source/WebKit/Shared/API/APIObject.h
  Source/WebKit/Shared/Cocoa/APIObject.mm
  Source/WebKit/Shared/WebExtensionContextIdentifier.h
  Source/WebKit/Shared/WebExtensionContextParameters.h
  Source/WebKit/Shared/WebExtensionContextParameters.serialization.in
  Source/WebKit/Sources.txt
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtension.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtension.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionContext.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionContext.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionContextInternal.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionContextPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionTab.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionWindow.h
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionMatchPatternCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtension.h
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.cpp
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.messages.in
  Source/WebKit/UIProcess/Extensions/WebExtensionController.cpp
  Source/WebKit/UIProcess/Extensions/WebExtensionMatchPattern.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/Extensions/WebExtensionContextProxy.cpp
  Source/WebKit/WebProcess/Extensions/WebExtensionContextProxy.h
  Source/WebKit/WebProcess/Extensions/WebExtensionContextProxy.messages.in
  Source/WebKit/WebProcess/GPU/webrtc/MediaRecorderPrivate.h
  Tools/TestWebKitAPI/SourcesCocoa.txt
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtension.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionContext.mm
Owners: @cdumez

Support text style based formatting in WKWebView https://bugs.webkit.org/show_bug.cgi?id=246261 rdar://100631963
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
  Source/WebKit/UIProcess/API/mac/WKWebViewMac.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/FontAttributes.mm
Owners: @cdumez

Move background-image document element painting to RenderView https://bugs.webkit.org/show_bug.cgi?id=245032 rdar://99782177
  Source/WebCore/rendering/BackgroundPainter.cpp
  Source/WebCore/rendering/RenderElement.cpp
  Source/WebCore/rendering/RenderView.cpp
Owners: none

Add missing switch FALLTHROUGH in EventHandler::passSubframeEventToSubframe. https://bugs.webkit.org/show_bug.cgi?id=246310 rdar://problem/101005766
  Source/WebCore/page/mac/EventHandlerMac.mm
Owners: @cdumez

Unreviewed, mark a couple of screen orientation tests as flaky https://bugs.webkit.org/show_bug.cgi?id=246318 rdar://101013987
  LayoutTests/TestExpectations
Owners: none

Encode Markable values without a separate isEmpty boolean https://bugs.webkit.org/show_bug.cgi?id=246319 <rdar://problem/101014331>
  Source/WTF/wtf/ApproximateTime.h
  Source/WTF/wtf/Markable.h
  Source/WTF/wtf/MonotonicTime.h
  Source/WTF/wtf/ObjectIdentifier.h
  Source/WTF/wtf/Seconds.h
  Source/WTF/wtf/WallTime.h
  Source/WebCore/page/csp/ContentSecurityPolicyResponseHeaders.h
  Source/WebCore/platform/ProcessQualified.h
Owners: @cdumez

Fix comment in Assertions.h to point to the right place https://bugs.webkit.org/show_bug.cgi?id=246324 <rdar://problem/101016546>
  Source/WTF/wtf/Assertions.h
Owners: none

Merge 255368@main - [JSC] Should model BigInt with side effects https://bugs.webkit.org/show_bug.cgi?id=246291 rdar://100494823
  Source/JavaScriptCore/dfg/DFGClobberize.h
Owners: @WebKit/jsc-reviewers

AsyncScrolling: add ThreadedScrollingTreeScrollingNodeDelegate https://bugs.webkit.org/show_bug.cgi?id=246212
  Source/WebCore/Sources.txt
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNode.cpp
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNode.h
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNodeDelegate.h
  Source/WebCore/page/scrolling/ThreadedScrollingTreeScrollingNodeDelegate.cpp
  Source/WebCore/page/scrolling/ThreadedScrollingTreeScrollingNodeDelegate.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeFrameScrollingNodeMac.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeFrameScrollingNodeMac.mm
  Source/WebCore/page/scrolling/mac/ScrollingTreeOverflowScrollingNodeMac.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeOverflowScrollingNodeMac.mm
  Source/WebCore/page/scrolling/mac/ScrollingTreeScrollingNodeDelegateMac.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeScrollingNodeDelegateMac.mm
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeFrameScrollingNodeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeFrameScrollingNodeNicosia.h
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeOverflowScrollingNodeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeOverflowScrollingNodeNicosia.h
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeScrollingNodeDelegateNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeScrollingNodeDelegateNicosia.h
Owners: @cdumez, @magomez, @zdobersek

[GStreamer][MSE][CMake] make configurable video decoder limits https://bugs.webkit.org/show_bug.cgi?id=245660
  Source/WebCore/platform/GStreamer.cmake
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.cpp
  Source/cmake/OptionsGTK.cmake
  Source/cmake/OptionsWPE.cmake
Owners: @philn, @WebKit/glib-reviewers

~NetworkStorageManager is run in the wrong thread in certain conditions https://bugs.webkit.org/show_bug.cgi?id=245869 rdar://problem/100602521
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebPushDaemon.mm
Owners: @cdumez

[IFC][Integration] Fix editing/input/composition-underline-color.html https://bugs.webkit.org/show_bug.cgi?id=246316
  Source/WebCore/rendering/RenderText.cpp
  Source/WebCore/rendering/RenderText.h
Owners: none

Cherry-pick 255305@main (f8b4d273d3df). rdar://100907445
  Tools/Scripts/webkitpy/common/find_files.py
  Tools/Scripts/webkitpy/layout_tests/controllers/layout_test_finder_legacy.py
  Tools/Scripts/webkitpy/layout_tests/controllers/layout_test_finder_legacy_unittest.py
Owners: @JonWBedard

Turn 'delegates scrolling' into an enum https://bugs.webkit.org/show_bug.cgi?id=246299 rdar://100995741
  Source/WebCore/page/FrameView.cpp
  Source/WebCore/page/FrameView.h
  Source/WebCore/platform/ScrollView.cpp
  Source/WebCore/platform/ScrollView.h
  Source/WebCore/rendering/RenderLayerCompositor.cpp
  Source/WebCore/testing/Internals.cpp
  Source/WebKit/UIProcess/DrawingAreaProxy.cpp
  Source/WebKit/UIProcess/DrawingAreaProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebPage/DrawingArea.cpp
  Source/WebKit/WebProcess/WebPage/DrawingArea.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDrawingArea.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDrawingArea.mm
  Source/WebKit/WebProcess/WebPage/mac/TiledCoreAnimationDrawingArea.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.mm
Owners: @cdumez

Implement last baseline alignment for Flexbox containers. https://bugs.webkit.org/show_bug.cgi?id=244734 rdar://99506835
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-004-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-005-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-006-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-007-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-fieldset-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-fieldset-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-fieldset-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-flex-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-flex-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-flex-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-flex-004-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-grid-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-grid-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-grid-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-line-clamp-001.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-line-clamp-002.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-line-clamp-003.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-overflow-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-overflow-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-overflow-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-table-003-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-table-001-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-table-002-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-table-003-expected.txt
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.h
  Source/WebCore/rendering/RenderFlexibleBox.cpp
Owners: none

[Live Range Selection] editing/text-iterator/find-string-on-flat-tree.html fails https://bugs.webkit.org/show_bug.cgi?id=246312
  LayoutTests/editing/text-iterator/find-string-on-flat-tree-expected.txt
  LayoutTests/editing/text-iterator/find-string-on-flat-tree.html
  Source/WebCore/dom/StaticRange.idl
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
Owners: @rniwa, @cdumez

[Live Range Selection] hidden-textarea-selection-quirk.html fails https://bugs.webkit.org/show_bug.cgi?id=246309
  LayoutTests/editing/text-iterator/hidden-textarea-selection-quirk.html
Owners: @rniwa

Add Style types for generated image derived classes in preparation of moving functionality https://bugs.webkit.org/show_bug.cgi?id=246315 rdar://101011710
  Source/WebCore/Sources.txt
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/css/CSSCanvasValue.h
  Source/WebCore/css/CSSCrossfadeValue.h
  Source/WebCore/css/CSSNamedImageValue.h
  Source/WebCore/css/CSSPaintImageValue.h
  Source/WebCore/html/HTMLInputElement.cpp
  Source/WebCore/rendering/style/StyleCachedImage.cpp
  Source/WebCore/rendering/style/StyleCanvasImage.cpp
  Source/WebCore/rendering/style/StyleCanvasImage.h
  Source/WebCore/rendering/style/StyleCrossfadeImage.cpp
  Source/WebCore/rendering/style/StyleCrossfadeImage.h
  Source/WebCore/rendering/style/StyleCursorImage.cpp
  Source/WebCore/rendering/style/StyleCursorImage.h
  Source/WebCore/rendering/style/StyleFilterImage.cpp
  Source/WebCore/rendering/style/StyleFilterImage.h
  Source/WebCore/rendering/style/StyleGeneratedImage.cpp
  Source/WebCore/rendering/style/StyleGeneratedImage.h
  Source/WebCore/rendering/style/StyleGradientImage.cpp
  Source/WebCore/rendering/style/StyleGradientImage.h
  Source/WebCore/rendering/style/StyleImage.h
  Source/WebCore/rendering/style/StyleImageSet.cpp
  Source/WebCore/rendering/style/StyleImageSet.h
  Source/WebCore/rendering/style/StyleMultiImage.cpp
  Source/WebCore/rendering/style/StyleMultiImage.h
  Source/WebCore/rendering/style/StyleNamedImage.cpp
  Source/WebCore/rendering/style/StyleNamedImage.h
  Source/WebCore/rendering/style/StylePaintImage.cpp
  Source/WebCore/rendering/style/StylePaintImage.h
  Source/WebCore/style/StyleBuilderCustom.h
  Source/WebCore/style/StyleBuilderState.cpp
Owners: @graouts, @cdumez, @rniwa

Add AllowShared to EncodedVideoChunkInit data https://bugs.webkit.org/show_bug.cgi?id=246272 rdar://problem/100969969
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/encoded-video-chunk.crossOriginIsolated.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/encoded-video-chunk.crossOriginIsolated.https.any.worker-expected.txt
  Source/WebCore/Modules/webcodecs/WebCodecsEncodedVideoChunk.idl
Owners: none

Implement GPU based WebCodecsVideoDecoder flush https://bugs.webkit.org/show_bug.cgi?id=246328
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any.worker_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any_h264_annexb-expected.txt
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.iOS.exp
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.iOSsim.exp
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.mac.exp
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/WebKit/WebKitDecoder.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/WebKit/WebKitDecoder.mm
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoDecoderH264.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoDecoderH264.mm
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoDecoderH265.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoDecoderH265.mm
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoDecoderVTBVP9.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoDecoderVTBVP9.mm
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.h
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.messages.in
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.mm
  Source/WebKit/WebProcess/GPU/media/RemoteVideoCodecFactory.cpp
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.cpp
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.h
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.messages.in
Owners: @cdumez

Unreviewed, reverting r255361@main. https://bugs.webkit.org/show_bug.cgi?id=246349
  Source/JavaScriptCore/API/JSContext.h
  Source/JavaScriptCore/API/JSContext.mm
  Source/JavaScriptCore/API/JSContextPrivate.h
  Source/JavaScriptCore/API/JSContextRef.cpp
  Source/JavaScriptCore/API/JSContextRef.h
  Source/JavaScriptCore/API/JSContextRefPrivate.h
  Source/JavaScriptCore/API/JSRemoteInspector.cpp
  Source/JavaScriptCore/API/JSRemoteInspector.h
  Source/JavaScriptCore/API/WebKitAvailability.h
  Source/JavaScriptCore/API/tests/testIncludes.m
  Source/JavaScriptCore/config.h
  Source/JavaScriptCore/inspector/JSGlobalObjectInspectorController.cpp
  Source/JavaScriptCore/inspector/remote/RemoteInspectionTarget.cpp
  Source/JavaScriptCore/inspector/remote/RemoteInspectionTarget.h
  Source/JavaScriptCore/inspector/remote/RemoteInspector.h
  Source/JavaScriptCore/inspector/remote/cocoa/RemoteInspectorCocoa.mm
  Source/JavaScriptCore/inspector/remote/glib/RemoteInspectorGlib.cpp
  Source/JavaScriptCore/inspector/remote/socket/RemoteInspectorSocket.cpp
  Source/JavaScriptCore/jsc.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.h
  Source/WTF/wtf/cocoa/RuntimeApplicationChecksCocoa.h
  Source/WebCore/config.h
  Source/WebCore/inspector/InspectorController.cpp
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebCore/workers/service/context/ServiceWorkerThreadProxy.cpp
  Source/WebKit/UIProcess/API/C/WKPage.cpp
  Source/WebKit/UIProcess/API/Cocoa/APISerializedScriptValueCocoa.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
  Source/WebKit/UIProcess/Inspector/mac/WKInspectorViewController.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/WebKit2Prefix.h
  Source/WebKitLegacy/mac/WebView/WebView.mm
  Tools/MiniBrowser/mac/WK2BrowserWindowController.m
  Tools/MobileMiniBrowser/MobileMiniBrowserFramework/WebViewController.m
  Tools/WebKitTestRunner/cocoa/TestRunnerWKWebView.mm
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @WebKit/glib-reviewers, @cdumez, @JonWBedard

Add support for RGBX and BGRX pixel formats https://bugs.webkit.org/show_bug.cgi?id=246332 rdar://problem/101026504
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-construction.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-construction.any.worker-expected.txt
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.h
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.idl
Owners: none

REGRESSION(253790@main): Fullscreen animation on NHL.com looks weird https://bugs.webkit.org/show_bug.cgi?id=246023 <rdar://100463264>
  LayoutTests/TestExpectations
  LayoutTests/fullscreen/full-screen-test.js
  LayoutTests/fullscreen/fullscreen-enter-bottom-padding-animation-expected.txt
  LayoutTests/fullscreen/fullscreen-enter-bottom-padding-animation.html
  LayoutTests/platform/wk2/TestExpectations
  Source/WebCore/rendering/RenderLayerBacking.h
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.cpp
  Tools/WebKitTestRunner/InjectedBundle/InjectedBundlePage.cpp
Owners: @cdumez, @JonWBedard

Debugging a test time out. Not for review.
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKContentExtensionStore.mm
Owners: none

For testing https://bugs.webkit.org/show_bug.cgi?id=246354 rdar://101043375
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebPushDaemon.mm
Owners: none

Merge 255380@main - [GStreamer][MSE][CMake] make configurable video decoder limits https://bugs.webkit.org/show_bug.cgi?id=245660
  Source/WebCore/platform/GStreamer.cmake
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.cpp
  Source/cmake/OptionsGTK.cmake
  Source/cmake/OptionsWPE.cmake
Owners: @philn, @WebKit/glib-reviewers

Merge 254293@main - [GTK][WPE] Use a single xdg-dbus-proxy process https://bugs.webkit.org/show_bug.cgi?id=244930
  Source/WebKit/UIProcess/Launcher/glib/BubblewrapLauncher.cpp
  Source/WebKit/UIProcess/Launcher/glib/XDGDBusProxy.cpp
  Source/WebKit/UIProcess/Launcher/glib/XDGDBusProxy.h
Owners: @WebKit/glib-reviewers

(REGRESSION (255363@main): [macOS debug] ipc/web-authenticator-get-assertion.html is consistently failing (246342)) rdar://101036535
  LayoutTests/ipc/web-authenticator-get-assertion.html
Owners: none

New test: [macOS WK1] imported/w3c/web-platform-tests/reporting/reporting-api-honors-limits.https.sub.html is consistently failing https://bugs.webkit.org/show_bug.cgi?id=246351 rdar://101040717
  LayoutTests/platform/mac-wk1/TestExpectations
Owners: none

Implement cancel event on <input type=file> https://bugs.webkit.org/show_bug.cgi?id=227799 rdar://80340803
  Source/WebCore/html/FileInputType.cpp
  Source/WebCore/html/FileInputType.h
  Source/WebCore/html/HTMLFormControlElement.cpp
  Source/WebCore/html/HTMLFormControlElement.h
  Source/WebCore/platform/FileChooser.cpp
  Source/WebCore/platform/FileChooser.h
  Source/WebKit/WebProcess/WebPage/WebOpenPanelResultListener.cpp
  Source/WebKit/WebProcess/WebPage/WebOpenPanelResultListener.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/RunOpenPanel.mm
Owners: @cdumez, @rniwa

Cherry-pick 137ee9c4498d. rdar://problem/100199385
  Source/WebCore/rendering/style/RenderStyle.cpp
Owners: none

Cherry-pick 1c9bd752d959. rdar://problem/99569065
  JSTests/stress/proxy-helper-this.js
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/jit/JITOpcodes.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter32_64.asm
  Source/JavaScriptCore/llint/LowLevelInterpreter64.asm
Owners: @WebKit/jsc-reviewers

Cherry-pick 3c544f1bec3e. rdar://problem/99272310
  JSTests/stress/shadow-realm-arguments.js
  Source/JavaScriptCore/API/JSAPIGlobalObject.mm
  Source/JavaScriptCore/runtime/JSModuleLoader.cpp
  Source/JavaScriptCore/runtime/JSPromise.cpp
  Source/JavaScriptCore/runtime/JSRemoteFunction.cpp
  Source/JavaScriptCore/runtime/TemporalCalendarPrototype.cpp
  Source/JavaScriptCore/runtime/VM.cpp
  Source/JavaScriptCore/tools/JSDollarVM.cpp
  Source/JavaScriptCore/wasm/WasmOperations.cpp
  Source/WebCore/Modules/webaudio/AudioWorkletProcessor.cpp
  Source/WebCore/bindings/js/JSDOMMapLike.cpp
  Source/WebCore/bindings/js/JSDOMPromise.cpp
  Source/WebCore/bindings/js/JSDOMSetLike.cpp
  Source/WebCore/bindings/js/ReadableStreamDefaultController.cpp
  Source/WebCore/bindings/js/ScriptController.cpp
Owners: @WebKit/jsc-reviewers, @cdumez

Cherry-pick 3c74d31715ca. rdar://problem/98333507
  Source/WebKit/UIProcess/API/Cocoa/NSAttributedString.mm
  Source/WebKit/UIProcess/API/Cocoa/NSAttributedStringPrivate.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/AdditionalReadAccessAllowedURLs.mm
Owners: @cdumez

Cherry-pick 3cf19dcd601e. rdar://problem/100901132
  LayoutTests/fast/repaint/incorrect-repaint-when-container-changes-from-overflow-visible-to-hidden-expected.txt
  LayoutTests/fast/repaint/incorrect-repaint-when-container-changes-from-overflow-visible-to-hidden.html
  Source/WebCore/rendering/RenderBox.cpp
Owners: none

Cherry-pick 52eab19e0684. rdar://problem/100625347
  Source/WebCore/loader/FrameLoader.cpp
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKit/WKBackForwardList.mm
  Tools/TestWebKitAPI/Tests/WebKit/fragment-navigation-before-load-event.html
Owners: @cdumez

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
