Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

rdar://100911363 (Take artraces during speedometer)
  Tools/Scripts/webkitpy/benchmark_runner/benchmark_builder.py
  Tools/Scripts/webkitpy/benchmark_runner/benchmark_runner.py
  Tools/Scripts/webkitpy/benchmark_runner/browser_driver/browser_driver.py
  Tools/Scripts/webkitpy/benchmark_runner/browser_driver/osx_safari_driver.py
  Tools/Scripts/webkitpy/benchmark_runner/data/patches/signposts/speedometer2-controlled.patch
  Tools/Scripts/webkitpy/benchmark_runner/data/patches/signposts/speedometer2.patch
  Tools/Scripts/webkitpy/benchmark_runner/data/plans/speedometer2.1.plan
  Tools/Scripts/webkitpy/benchmark_runner/run_benchmark.py
  Tools/Scripts/webkitpy/benchmark_runner/webdriver_benchmark_runner.py
  Tools/Scripts/webkitpy/benchmark_runner/webserver_benchmark_runner.py
Owners: @JonWBedard

Deprecate -[WKNavigationDelegate _webView:didStartProvisionalNavigation:userInfo:] https://bugs.webkit.org/show_bug.cgi?id=245856 <rdar://problem/100586318>
  Source/WebKit/UIProcess/API/Cocoa/WKNavigationDelegatePrivate.h
  Source/WebKit/UIProcess/Cocoa/NavigationState.mm
Owners: @cdumez

Fix compile error in ScrollingTreeFrameScrollingNodeMac.mm when -Wthread-safety-analysis is enabled https://bugs.webkit.org/show_bug.cgi?id=246238 rdar://100915503
  Source/WebCore/page/scrolling/mac/ScrollingTreeFrameScrollingNodeMac.h
Owners: @cdumez

A/B test results should only highlight when p-value <= 0.05 https://bugs.webkit.org/show_bug.cgi?id=246224 rdar://100648227
  Websites/perf.webkit.org/public/v3/models/test-group.js
Owners: none

Cherry-pick 255148@main (49a7efc12b9f). rdar://100737006
  Tools/Scripts/libraries/webkitbugspy/setup.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/__init__.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/radar.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tests/bugzilla_unittest.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tests/radar_unittest.py
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/branch_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/cherry_pick_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/pull_request_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/trace_unittest.py
Owners: @JonWBedard, @facetothefate

Handle blob: PolicyContainer inheritance from the Network Process https://bugs.webkit.org/show_bug.cgi?id=246093 <rdar://100813396>
  LayoutTests/imported/w3c/web-platform-tests/content-security-policy/inheritance/history-iframe.sub-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/content-security-policy/inheritance/history.sub-expected.txt
  Source/WebCore/Sources.txt
  Source/WebCore/loader/CrossOriginEmbedderPolicy.cpp
  Source/WebCore/loader/CrossOriginEmbedderPolicy.h
  Source/WebCore/loader/CrossOriginOpenerPolicy.cpp
  Source/WebCore/loader/CrossOriginOpenerPolicy.h
  Source/WebCore/loader/DocumentWriter.cpp
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/loader/PolicyContainer.cpp
  Source/WebCore/loader/PolicyContainer.h
  Source/WebCore/page/csp/ContentSecurityPolicyResponseHeaders.cpp
  Source/WebCore/page/csp/ContentSecurityPolicyResponseHeaders.h
  Source/WebCore/platform/network/BlobResourceHandle.cpp
  Source/WebKit/NetworkProcess/NetworkDataTaskBlob.cpp
Owners: @cdumez

[JSC] LICM should not hoist DFG nodes with side effects https://bugs.webkit.org/show_bug.cgi?id=246280 rdar://100494823
  JSTests/stress/licm-bigint-operands.js
  Source/JavaScriptCore/dfg/DFGClobberize.cpp
  Source/JavaScriptCore/dfg/DFGClobberize.h
Owners: @WebKit/jsc-reviewers

Link headers don't support referrerpolicy https://bugs.webkit.org/show_bug.cgi?id=241059 <rdar://94384756>
  LayoutTests/imported/w3c/web-platform-tests/preload/preload-referrer-policy-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/preload/preload-referrer-policy.html
  LayoutTests/imported/w3c/web-platform-tests/preload/resources/echo-referrer.py
  LayoutTests/imported/w3c/web-platform-tests/preload/resources/link-header-referrer-policy.html
  LayoutTests/imported/w3c/web-platform-tests/preload/resources/link-header-referrer-policy.py
  Source/WebCore/loader/LinkHeader.cpp
  Source/WebCore/loader/LinkHeader.h
  Source/WebCore/loader/LinkLoader.cpp
Owners: @cdumez

[macOS] Display thumbnail of selected file for <input type=file> https://bugs.webkit.org/show_bug.cgi?id=245993 rdar://100570349
  Source/WebCore/SourcesCocoa.txt
  Source/WebCore/platform/graphics/Icon.h
  Source/WebCore/platform/graphics/cocoa/IconCocoa.mm
  Source/WebCore/platform/graphics/cv/VideoFrameCV.mm
  Source/WebCore/platform/graphics/mac/IconMac.mm
  Source/WebCore/rendering/RenderFileUploadControl.cpp
  Source/WebCore/rendering/RenderThemeCocoa.h
  Source/WebCore/rendering/RenderThemeCocoa.mm
  Source/WebCore/rendering/RenderThemeIOS.h
  Source/WebCore/rendering/RenderThemeIOS.mm
  Source/WebCore/rendering/RenderThemeMac.mm
  Source/WebKit/Shared/Cocoa/WebIconUtilities.h
  Source/WebKit/Shared/Cocoa/WebIconUtilities.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerWithRemoteRenderingBackingStoreCollection.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerWithRemoteRenderingBackingStoreCollection.mm
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/ios/forms/WKFileUploadPanel.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClientCocoa.mm
  Source/WebKit/WebProcess/WebCoreSupport/ios/WebChromeClientIOS.mm
Owners: @cdumez

Have the DrawingAreaProxy control `delegatesScrolling` in the UI process https://bugs.webkit.org/show_bug.cgi?id=246243 rdar://100924685
  Source/WebKit/UIProcess/API/mac/WKContentViewMac.mm
  Source/WebKit/UIProcess/DrawingAreaProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/ios/WKContentView.mm
Owners: @cdumez

Add margin when comptuing baseline position for tables. https://bugs.webkit.org/show_bug.cgi?id=97239 rdar://problem/100910532
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/baseline-rules/inline-table-inline-block-baseline-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/baseline-rules/inline-table-inline-block-baseline-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/baseline-rules/inline-table-inline-block-baseline-vert-rl-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/baseline-rules/inline-table-inline-block-baseline-vert-rl-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/baseline-rules/inline-table-inline-block-baseline-vert-rl.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/baseline-rules/inline-table-inline-block-baseline.html
  Source/WebCore/rendering/RenderTable.cpp
Owners: none

Complete id-ref reflection implementation for ARIAAttributes https://bugs.webkit.org/show_bug.cgi?id=245301
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
Owners: none

[macOS] TV app crashes when unparenting a web view while setting up Apple One https://bugs.webkit.org/show_bug.cgi?id=246250 rdar://97021716
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/PrepareForMoveToWindow.mm
Owners: @cdumez

Merge 255304@main - Non-unified build fixes, early October 2022 edition
  Source/WebCore/Modules/mediastream/RTCEncodedAudioFrame.cpp
  Source/WebCore/Modules/mediastream/RTCEncodedVideoFrame.cpp
  Source/WebCore/css/CSSFontFace.h
  Source/WebCore/css/StyleSheetContents.cpp
  Source/WebCore/css/parser/CSSParserFastPaths.cpp
  Source/WebCore/css/parser/CSSParserImpl.h
  Source/WebCore/css/parser/CSSParserObserverWrapper.h
  Source/WebCore/css/parser/CSSSupportsParser.cpp
  Source/WebCore/display/css/DisplayBoxFactory.cpp
  Source/WebCore/dom/TreeScope.h
  Source/WebCore/layout/layouttree/LayoutListMarkerBox.cpp
  Source/WebKit/UIProcess/ProcessThrottler.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/gtk/DOM/WebKitDOMHTMLTableSectionElement.cpp
Owners: @rniwa, @cdumez, @WebKit/glib-reviewers

Merge 255330@main - [WTF] Unsafe String concatenation in optimized clang builds https://bugs.webkit.org/show_bug.cgi?id=245640
  Source/WTF/wtf/text/StringView.h
Owners: none

Merge 255331@main - InputEvent.inputType is null when triggering Bold/Italic/Underline using execCommand https://bugs.webkit.org/show_bug.cgi?id=201128
  LayoutTests/editing/execCommand/enabling-and-selection-expected.txt
  LayoutTests/editing/execCommand/enabling-and-selection.html
  LayoutTests/fast/forms/plaintext-mode-1-expected.txt
  LayoutTests/fast/forms/plaintext-mode-1.html
  Source/WebCore/editing/EditorCommand.cpp
Owners: @rniwa

Merge 255332@main - [JSC][32bit] HashTable's deletedValue conflict with cell payload https://bugs.webkit.org/show_bug.cgi?id=246179
  JSTests/stress/hash-deleted-value-cell-32.js
  Source/JavaScriptCore/heap/HeapUtil.h
Owners: @WebKit/jsc-reviewers

Merge 255337@main - Fix typo in hash-deleted-value-cell-32.js https://bugs.webkit.org/show_bug.cgi?id=246273
  JSTests/stress/hash-deleted-value-cell-32.js
Owners: @WebKit/jsc-reviewers

Merge 255325@main - REGRESSION(254232@main): Causes process launching to use fork + exec instead of posix_spawn https://bugs.webkit.org/show_bug.cgi?id=245784
  Source/WebKit/UIProcess/Launcher/glib/ProcessLauncherGLib.cpp
  Source/WebKit/UIProcess/Launcher/glib/XDGDBusProxy.cpp
Owners: @WebKit/glib-reviewers

Merge 255333@main - contentEditable caret is left aligned instead of centered when :before pseudoelement is used
  LayoutTests/editing/selection/caret-in-empty-div-with-pseudo-content-expected.txt
  LayoutTests/editing/selection/caret-in-empty-div-with-pseudo-content.html
  Source/WebCore/rendering/CaretRectComputation.cpp
Owners: @rniwa

Merge 255345@main - [GStreamer][MSE] High resolution video playback broken on Odysee.com due to unimplemented changeType operation https://bugs.webkit.org/show_bug.cgi?id=245851
  LayoutTests/media/media-source/media-source-changetype-second-init.html
  LayoutTests/media/media-source/media-source-changetype-support-expected.txt
  LayoutTests/media/media-source/media-source-changetype-support.html
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/media-source/mediasource-changetype-play-without-codecs-parameter-expected.txt
  LayoutTests/platform/glib/media/media-source/media-source-changetype-second-init-expected.txt
  LayoutTests/platform/glib/media/media-source/media-source-changetype-support-expected.txt
  Source/WTF/Scripts/Preferences/WebPreferences.yaml
Owners: none

Fix miscellaneous compiler warnings
  Source/JavaScriptCore/assembler/testmasm.cpp
  Source/JavaScriptCore/runtime/ArrayBufferView.cpp
  Source/WTF/wtf/text/StringCommon.h
Owners: @WebKit/jsc-reviewers

Remote Web Inspector: [Cocoa] `inspectable` API https://bugs.webkit.org/show_bug.cgi?id=245986 rdar://100736163
  Source/JavaScriptCore/API/JSContext.h
  Source/JavaScriptCore/API/JSContext.mm
  Source/JavaScriptCore/API/JSContextPrivate.h
  Source/JavaScriptCore/API/JSContextRef.cpp
  Source/JavaScriptCore/API/JSContextRef.h
  Source/JavaScriptCore/API/JSContextRefPrivate.h
  Source/JavaScriptCore/API/JSRemoteInspector.cpp
  Source/JavaScriptCore/API/JSRemoteInspector.h
  Source/JavaScriptCore/API/WebKitAvailability.h
  Source/JavaScriptCore/API/tests/testIncludes.m
  Source/JavaScriptCore/config.h
  Source/JavaScriptCore/inspector/JSGlobalObjectInspectorController.cpp
  Source/JavaScriptCore/inspector/remote/RemoteInspectionTarget.cpp
  Source/JavaScriptCore/inspector/remote/RemoteInspectionTarget.h
  Source/JavaScriptCore/inspector/remote/RemoteInspector.h
  Source/JavaScriptCore/inspector/remote/cocoa/RemoteInspectorCocoa.mm
  Source/JavaScriptCore/inspector/remote/glib/RemoteInspectorGlib.cpp
  Source/JavaScriptCore/inspector/remote/socket/RemoteInspectorSocket.cpp
  Source/JavaScriptCore/jsc.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.h
  Source/WTF/wtf/cocoa/RuntimeApplicationChecksCocoa.h
  Source/WebCore/config.h
  Source/WebCore/inspector/InspectorController.cpp
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebCore/workers/service/context/ServiceWorkerThreadProxy.cpp
  Source/WebKit/UIProcess/API/C/WKPage.cpp
  Source/WebKit/UIProcess/API/Cocoa/APISerializedScriptValueCocoa.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
  Source/WebKit/UIProcess/Inspector/mac/WKInspectorViewController.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/WebKit2Prefix.h
  Source/WebKitLegacy/mac/WebView/WebView.mm
  Tools/MiniBrowser/mac/WK2BrowserWindowController.m
  Tools/MobileMiniBrowser/MobileMiniBrowserFramework/WebViewController.m
  Tools/WebKitTestRunner/cocoa/TestRunnerWKWebView.mm
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @WebKit/glib-reviewers, @cdumez, @JonWBedard

Cherry-pick 255245@main (00b8477c7f93). rdar://100412099
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/commit.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/commit_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/pull_request_unittest.py
Owners: @facetothefate, @JonWBedard

[WinCairo][WK2] Enable EventHandlerDrivenSmoothKeyboardScrollingEnabled by default https://bugs.webkit.org/show_bug.cgi?id=246247
  Source/WTF/Scripts/Preferences/WebPreferencesInternal.yaml
Owners: none

Versioning.
  Configurations/Version.xcconfig
Owners: none

REGRESSION(255346@main): [ macOS Debug ] 5X TestWebKitAPI.IPCTestingAPI.(API tests) are constant timeouts/failures https://bugs.webkit.org/show_bug.cgi?id=246288 rdar://100992210
  Source/JavaScriptCore/runtime/JSCJSValue.h
  Source/WebKit/WebProcess/WebPage/IPCTestingAPI.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IPCTestingAPI.mm
Owners: @WebKit/jsc-reviewers, @cdumez

WebPageProxy should own frame tree structure https://bugs.webkit.org/show_bug.cgi?id=246281 rdar://100985963
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.h
Owners: @cdumez

Fix a misspelled function name in LinkHeader.cpp https://bugs.webkit.org/show_bug.cgi?id=246296 rdar://100995773
  Source/WebCore/loader/LinkHeader.cpp
Owners: @cdumez

[JSC] Relax ArrayPush DFG optimization https://bugs.webkit.org/show_bug.cgi?id=246266 rdar://100964873
  JSTests/stress/array-push-slow-put.js
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/dfg/DFGOperations.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/dfg/DFGStoreBarrierInsertionPhase.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
Owners: @WebKit/jsc-reviewers

fix armv7 build
  Source/JavaScriptCore/jit/Reg.h
  Source/JavaScriptCore/jit/RegisterSet.h
  Source/WTF/wtf/Bitmap.h
Owners: @WebKit/jsc-reviewers

fix mips build
  Source/JavaScriptCore/jit/RegisterSet.h
Owners: @WebKit/jsc-reviewers

WebDriver: Regression(255346@main) Session hangs after evaluating JavaScript instead of returning evaluation result https://bugs.webkit.org/show_bug.cgi?id=246298 rdar://100995005
  Source/WebKit/WebProcess/Automation/WebAutomationSessionProxy.js
Owners: @cdumez

[JSC] Should model BigInt with side effects https://bugs.webkit.org/show_bug.cgi?id=246291 rdar://100494823
  Source/JavaScriptCore/dfg/DFGClobberize.h
Owners: @WebKit/jsc-reviewers

Cherry-pick 255283@main (755130ccaa69). rdar://100859270
  Tools/Scripts/libraries/webkitcorepy/setup.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/__init__.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/mocks/requests_.py
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/mocks/remote/git_hub.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/remote/git_hub.py
Owners: @JonWBedard, @facetothefate

Add SerialFunctionDispatcher interface. https://bugs.webkit.org/show_bug.cgi?id=246305
  Source/WTF/wtf/FunctionDispatcher.h
  Source/WTF/wtf/RunLoop.cpp
  Source/WTF/wtf/RunLoop.h
  Source/WebCore/workers/WorkerOrWorkletThread.cpp
  Source/WebCore/workers/WorkerOrWorkletThread.h
Owners: @cdumez

Don't force CompletionHandlerCallThread::MainThread for async replies https://bugs.webkit.org/show_bug.cgi?id=246308
  Source/WebKit/Platform/IPC/Connection.h
Owners: @cdumez

[GARDENING] rdar://100033005 ([ iOS ] imported/w3c/web-platform-tests/css/css-lists/content-property/marker-text-matches-lower-greek.html is a constant failure)
  LayoutTests/platform/ios-simulator/TestExpectations
Owners: none

[JSC] Use watchpoint set for sane chain checks https://bugs.webkit.org/show_bug.cgi?id=246258 rdar://100951262
  Source/JavaScriptCore/CMakeLists.txt
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/bytecode/AdaptiveInferredPropertyValueWatchpointBase.h
  Source/JavaScriptCore/bytecode/ChainedWatchpoint.h
  Source/JavaScriptCore/bytecode/LLIntPrototypeLoadAdaptiveStructureWatchpoint.h
  Source/JavaScriptCore/bytecode/StructureStubClearingWatchpoint.h
  Source/JavaScriptCore/bytecode/Watchpoint.cpp
  Source/JavaScriptCore/bytecode/Watchpoint.h
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
  Source/JavaScriptCore/dfg/DFGAdaptiveStructureWatchpoint.h
  Source/JavaScriptCore/dfg/DFGArgumentsEliminationPhase.cpp
  Source/JavaScriptCore/dfg/DFGArrayMode.cpp
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGGraph.h
  Source/JavaScriptCore/runtime/CachedSpecialPropertyAdaptiveStructureWatchpoint.h
  Source/JavaScriptCore/runtime/FunctionRareData.h
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.h
  Source/JavaScriptCore/runtime/JSGlobalObjectInlines.h
  Source/JavaScriptCore/runtime/StructureRareDataInlines.h
Owners: @WebKit/jsc-reviewers

[webkitcorepy] Create process-like Thread object https://bugs.webkit.org/show_bug.cgi?id=245913 <rdar://100642035>
  Tools/Scripts/libraries/webkitcorepy/setup.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/__init__.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/subprocess_utils.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/tests/subprocess_utils_unittest.py
Owners: @JonWBedard
