Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

Cherry-pick bf33593289e7. rdar://problem/99621230
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-table-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-table-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-table-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-table-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-table-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/alignment/grid-align-baseline-table-003-expected.txt
  Source/WebCore/rendering/RenderTable.cpp
  Source/WebCore/rendering/RenderTable.h
  Source/WebCore/rendering/RenderTableSection.cpp
  Source/WebCore/rendering/RenderTableSection.h
Owners: none

Cherry-pick c4c58496ef4a. rdar://problem/101165751
  Source/JavaScriptCore/dfg/DFGFailedFinalizer.h
  Source/JavaScriptCore/dfg/DFGFinalizer.h
  Source/JavaScriptCore/dfg/DFGJITFinalizer.h
  Source/JavaScriptCore/dfg/DFGPlan.cpp
  Source/JavaScriptCore/ftl/FTLJITFinalizer.h
Owners: @WebKit/jsc-reviewers

Cherry-pick c97fbc8c36ec. rdar://problem/100770538
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/platform/graphics/MediaPlayer.cpp
  Source/WebCore/platform/graphics/MediaPlayer.h
  Source/WebCore/platform/graphics/MediaPlayerPrivate.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaStreamAVFObjC.mm
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.h
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.mm
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.h
  Source/WebCore/platform/graphics/win/MediaPlayerPrivateMediaFoundation.cpp
  Source/WebCore/platform/graphics/win/MediaPlayerPrivateMediaFoundation.h
  Source/WebCore/platform/mock/mediasource/MockMediaPlayerMediaSource.cpp
  Source/WebCore/platform/mock/mediasource/MockMediaPlayerMediaSource.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.messages.in
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxyConfiguration.h
  Source/WebKit/GPUProcess/media/cocoa/RemoteMediaPlayerProxyCocoa.mm
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.h
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.messages.in
  Source/WebKit/WebProcess/GPU/media/RemoteMediaPlayerManager.cpp
  Source/WebKit/WebProcess/GPU/media/cocoa/MediaPlayerPrivateRemoteCocoa.mm
  Source/WebKit/WebProcess/GPU/media/cocoa/VideoLayerRemoteCocoa.mm
Owners: @cdumez, @rniwa, @philn

Cherry-pick da5e573f8723. rdar://problem/100171989
  Source/WebKit/UIProcess/Cocoa/SOAuthorization/SOAuthorizationCoordinator.h
  Source/WebKit/UIProcess/Cocoa/SOAuthorization/SOAuthorizationCoordinator.mm
Owners: @cdumez

Cherry-pick dbdfaebb4747. rdar://problem/99854408
  LayoutTests/TestExpectations
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1/types-basicDOM-01-b-expected.txt
  LayoutTests/platform/gtk/svg/batik/text/smallFonts-expected.txt
  LayoutTests/platform/gtk/svg/batik/text/textFeatures-expected.txt
  LayoutTests/platform/gtk/svg/text/select-textLength-spacing-squeeze-2-expected.txt
  LayoutTests/platform/ios/svg/W3C-SVG-1.1-SE/types-dom-01-b-expected.txt
  LayoutTests/platform/ios/svg/W3C-SVG-1.1/types-basicDOM-01-b-expected.txt
  LayoutTests/platform/ios/svg/batik/text/textFeatures-expected.txt
  LayoutTests/platform/ios/svg/text/append-text-node-to-tspan-expected.txt
  LayoutTests/platform/ios/svg/text/modify-text-node-in-tspan-expected.txt
  LayoutTests/platform/ios/svg/text/remove-text-node-from-tspan-expected.txt
  LayoutTests/platform/ios/svg/text/scaled-font-expected.txt
  LayoutTests/platform/ios/svg/text/scaling-font-with-geometric-precision-expected.txt
  LayoutTests/platform/mac/svg/W3C-SVG-1.1/types-basicDOM-01-b-expected.txt
  LayoutTests/platform/mac/svg/batik/text/smallFonts-expected.txt
  LayoutTests/platform/mac/svg/batik/text/textFeatures-expected.txt
  LayoutTests/platform/mac/svg/text/scaling-font-with-geometric-precision-expected.txt
  Source/WebCore/rendering/svg/RenderSVGText.cpp
  Source/WebCore/svg/SVGTextElement.cpp
  Source/WebCore/svg/SVGTextElement.h
Owners: none

Cherry-pick ec6b5337e777. rdar://problem/99945248
  LayoutTests/fast/block/scroll-overflow-in-vertical-writing-mode-expected.html
  LayoutTests/fast/block/scroll-overflow-in-vertical-writing-mode.html
  LayoutTests/platform/ios/fast/lists/001-vertical-expected.txt
  LayoutTests/platform/ios/fast/writing-mode/border-styles-vertical-lr-expected.txt
  LayoutTests/platform/ios/fast/writing-mode/border-styles-vertical-lr-mixed-expected.txt
  LayoutTests/platform/ios/fast/writing-mode/border-styles-vertical-rl-expected.txt
  LayoutTests/platform/ios/fast/writing-mode/border-styles-vertical-rl-mixed-expected.txt
  LayoutTests/platform/mac/fast/lists/001-vertical-expected.txt
  LayoutTests/platform/mac/fast/writing-mode/border-styles-vertical-lr-expected.txt
  LayoutTests/platform/mac/fast/writing-mode/border-styles-vertical-lr-mixed-expected.txt
  LayoutTests/platform/mac/fast/writing-mode/border-styles-vertical-rl-expected.txt
  LayoutTests/platform/mac/fast/writing-mode/border-styles-vertical-rl-mixed-expected.txt
  Source/WebCore/layout/integration/inline/LayoutIntegrationInlineContentBuilder.cpp
Owners: none

[CMake] Set VS startup project for PlayStation https://bugs.webkit.org/show_bug.cgi?id=246967
  Source/JavaScriptCore/shell/PlatformPlayStation.cmake
  Tools/MiniBrowser/playstation/CMakeLists.txt
Owners: @WebKit/jsc-reviewers, @JonWBedard

Cherry-pick f0f73dc0e8a5. rdar://problem/99706364
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/en.lproj/Localizable.strings
  Source/WebKit/Shared/WebHitTestResultData.cpp
  Source/WebKit/Shared/WebHitTestResultData.h
  Source/WebKit/UIProcess/mac/WebContextMenuProxyMac.mm
Owners: @cdumez

Cherry-pick f407579f73e5. rdar://problem/98685762
  Source/WebCore/html/HTMLMediaElement.cpp
Owners: @cdumez, @rniwa

Cherry-pick f66eadee1b7a. rdar://problem/100463264
  LayoutTests/TestExpectations
  LayoutTests/fullscreen/full-screen-test.js
  LayoutTests/fullscreen/fullscreen-enter-bottom-padding-animation-expected.txt
  LayoutTests/fullscreen/fullscreen-enter-bottom-padding-animation.html
  LayoutTests/platform/wk2/TestExpectations
  Source/WebCore/rendering/RenderLayerBacking.h
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.cpp
  Tools/WebKitTestRunner/InjectedBundle/InjectedBundlePage.cpp
Owners: @cdumez, @JonWBedard

Cherry-pick fd7b349b71ef. rdar://problem/100761060
  LayoutTests/fast/text/font-variant-shorthand-expected.txt
  LayoutTests/fast/text/font-variant-shorthand.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-variant-east-asian-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-variant-east-asian-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-variant-valid-expected.txt
  Source/WebCore/css/parser/CSSPropertyParser.cpp
Owners: none

Cherry-pick fdc295002ed6. rdar://problem/100971798
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/ios/CustomContentViewGestures.mm
Owners: @cdumez

Create GraphicsClient for the graphics specific subset of ChromeClient that needs to be accessed from worker threads. https://bugs.webkit.org/show_bug.cgi?id=244828
  Source/WebCore/Headers.cmake
  Source/WebCore/html/HTMLCanvasElement.cpp
  Source/WebCore/html/ImageBitmap.cpp
  Source/WebCore/html/ImageBitmap.h
  Source/WebCore/html/OffscreenCanvas.cpp
  Source/WebCore/platform/HostWindow.h
  Source/WebCore/platform/graphics/ImageBuffer.cpp
  Source/WebCore/platform/graphics/ImageBuffer.h
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.cpp
  Source/WebCore/platform/graphics/cocoa/IOSurface.h
  Source/WebCore/platform/graphics/cocoa/IOSurface.mm
  Source/WebCore/rendering/style/StyleFilterImage.cpp
Owners: @cdumez, @rniwa

[CMake] Build Gamepad API when using WPE Backend PlayStation https://bugs.webkit.org/show_bug.cgi?id=246969
  Source/WebKit/UIProcess/Gamepad/UIGamepadProvider.cpp
  Source/WebKit/UIProcess/Gamepad/libwpe/UIGamepadProviderLibWPE.cpp
  Source/cmake/OptionsPlayStation.cmake
Owners: @cdumez, @WebKit/glib-reviewers, @donny-dont, @zdobersek

[JSC] Use ObjectIdentifier for VM ID https://bugs.webkit.org/show_bug.cgi?id=246970
  Source/JavaScriptCore/heap/Heap.cpp
  Source/JavaScriptCore/runtime/VM.cpp
  Source/JavaScriptCore/runtime/VM.h
Owners: @WebKit/jsc-reviewers

Reduce use of FrameTree::uniqueName https://bugs.webkit.org/show_bug.cgi?id=246975 rdar://101521779
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/loader/HistoryController.cpp
  Source/WebCore/loader/ProgressTracker.cpp
  Source/WebCore/rendering/RenderLayerCompositor.cpp
Owners: @cdumez

Move CreationContext out of ImageBuffer. https://bugs.webkit.org/show_bug.cgi?id=244830
  Source/WebCore/html/HTMLCanvasElement.cpp
  Source/WebCore/platform/graphics/ImageBuffer.h
  Source/WebCore/platform/graphics/cairo/ImageBufferCairoImageSurfaceBackend.cpp
  Source/WebCore/platform/graphics/cairo/ImageBufferCairoImageSurfaceBackend.h
  Source/WebCore/platform/graphics/cg/ImageBufferCGBitmapBackend.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferCGBitmapBackend.h
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.h
  Source/WebCore/platform/graphics/displaylists/DisplayListImageBuffer.h
  Source/WebKit/Shared/RemoteLayerTree/CGDisplayListImageBufferBackend.h
  Source/WebKit/Shared/RemoteLayerTree/CGDisplayListImageBufferBackend.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
  Source/WebKit/WebProcess/GPU/graphics/ImageBufferShareableBitmapBackend.cpp
  Source/WebKit/WebProcess/GPU/graphics/ImageBufferShareableBitmapBackend.h
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferShareableMappedIOSurfaceBackend.cpp
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferShareableMappedIOSurfaceBackend.h
Owners: @cdumez, @rniwa, @magomez, @zdobersek

Support async replies for stream connections. https://bugs.webkit.org/show_bug.cgi?id=244830
  Source/WebKit/Platform/IPC/StreamClientConnection.h
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.h
Owners: @cdumez

Don't implement DisplayList::ResourceHeap in QualifiedResourceHeap. https://bugs.webkit.org/show_bug.cgi?id=244830
  Source/WebKit/GPUProcess/graphics/QualifiedResourceHeap.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
Owners: none

Add SerializedImageBuffer for passing ImageBuffers between threads. https://bugs.webkit.org/show_bug.cgi?id=244830
  Source/WebCore/page/Chrome.cpp
  Source/WebCore/page/Chrome.h
  Source/WebCore/page/ChromeClient.cpp
  Source/WebCore/page/ChromeClient.h
  Source/WebCore/platform/GraphicsClient.h
  Source/WebCore/platform/graphics/ImageBuffer.cpp
  Source/WebCore/platform/graphics/ImageBuffer.h
  Source/WebCore/platform/graphics/ImageBufferBackend.h
  Source/WebCore/platform/graphics/NativeImage.h
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.h
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.cpp
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.h
  Source/WebKit/GPUProcess/graphics/RemoteImageBuffer.cpp
  Source/WebKit/GPUProcess/graphics/RemoteImageBuffer.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.messages.in
  Source/WebKit/GPUProcess/graphics/RemoteResourceCache.cpp
  Source/WebKit/GPUProcess/graphics/RemoteResourceCache.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteDisplayListRecorderProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteDisplayListRecorderProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.h
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.h
  Source/WebKit/WebProcess/WebCoreSupport/WebWorkerClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebWorkerClient.h
Owners: @cdumez

Use SerializedImageBuffer to pass ImageBuffers between workers and the main thread. https://bugs.webkit.org/show_bug.cgi?id=244830 <rdar://99857231>
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
  Source/WebCore/html/ImageBitmap.cpp
  Source/WebCore/html/ImageBitmapBacking.cpp
  Source/WebCore/html/ImageBitmapBacking.h
  Source/WebCore/html/OffscreenCanvas.cpp
  Source/WebCore/html/OffscreenCanvas.h
  Source/WebCore/platform/graphics/ImageBuffer.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.h
Owners: @cdumez, @rniwa

Support async replies for stream connections. https://bugs.webkit.org/show_bug.cgi?id=235965
  Source/WebKit/Platform/IPC/StreamClientConnection.h
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.h
Owners: @cdumez

Add Kyle's github username https://bugs.webkit.org/show_bug.cgi?id=246985 rdar://101526825
  metadata/contributors.json
Owners: @JonWBedard

[JSC] Optimize arity-fixup via load-pair / store-pair https://bugs.webkit.org/show_bug.cgi?id=244486
  Source/JavaScriptCore/assembler/MacroAssemblerARM64.h
  Source/JavaScriptCore/assembler/MacroAssemblerX86_64.h
  Source/JavaScriptCore/disassembler/ARM64/A64DOpcode.cpp
  Source/JavaScriptCore/jit/ThunkGenerators.cpp
Owners: @WebKit/jsc-reviewers

Fix the HAVE(ACCESSIBILITY_ANIMATED_IMAGES) build for some SDK versions https://bugs.webkit.org/show_bug.cgi?id=246989
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
Owners: @cdumez

generate-compile-commands --delete-invalid https://bugs.webkit.org/show_bug.cgi?id=246984 <rdar://problem/101526717>
  Tools/Scripts/generate-compile-commands
Owners: @JonWBedard

WIP for packed arrays Need the bug URL (OOPS!).
  JSTests/wasm/gc/arrays.js
  JSTests/wasm/gc/packed-arrays.js
  JSTests/wasm/wasm.json
  Source/JavaScriptCore/bytecode/BytecodeList.rb
  Source/JavaScriptCore/llint/WebAssembly.asm
  Source/JavaScriptCore/wasm/WasmAirIRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmFormat.h
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmOperations.cpp
  Source/JavaScriptCore/wasm/WasmOperations.h
  Source/JavaScriptCore/wasm/WasmSectionParser.cpp
  Source/JavaScriptCore/wasm/WasmSectionParser.h
  Source/JavaScriptCore/wasm/WasmSlowPaths.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.h
  Source/JavaScriptCore/wasm/generateWasm.py
  Source/JavaScriptCore/wasm/generateWasmOpsHeader.py
  Source/JavaScriptCore/wasm/js/JSWebAssemblyArray.cpp
  Source/JavaScriptCore/wasm/js/JSWebAssemblyArray.h
  Source/JavaScriptCore/wasm/js/JSWebAssemblyStruct.cpp
  Source/JavaScriptCore/wasm/wasm.json
Owners: @WebKit/jsc-reviewers

Fix at-font-face-descriptors.html to not expect clamped specified value for font-style https://bugs.webkit.org/show_bug.cgi?id=246960 rdar://101517323
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/variations/at-font-face-descriptors-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/variations/at-font-face-descriptors.html
Owners: none

[MQ4] Make the evaluation function a part of the FeatureSchema https://bugs.webkit.org/show_bug.cgi?id=246948 <rdar://problem/101500034>.
  Source/WebCore/Sources.txt
  Source/WebCore/css/ContainerQuery.cpp
  Source/WebCore/css/ContainerQueryParser.cpp
  Source/WebCore/css/query/ContainerQueryFeatures.cpp
  Source/WebCore/css/query/ContainerQueryFeatures.h
  Source/WebCore/css/query/GenericMediaQueryEvaluator.h
  Source/WebCore/css/query/GenericMediaQueryTypes.h
  Source/WebCore/style/ContainerQueryEvaluator.cpp
  Source/WebCore/style/ContainerQueryEvaluator.h
Owners: none

Invalid counters after contain: style https://bugs.webkit.org/show_bug.cgi?id=246216
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/contain-style-counters-005-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/contain-style-counters-005.html
  Source/WebCore/rendering/RenderCounter.cpp
Owners: none

Update idlharness-shadowrealm.js.
  LayoutTests/imported/w3c/web-platform-tests/resources/idlharness-shadowrealm.js
Owners: none

[web-animations] "Commits transforms as a transform list" subtest fails in web-animations/interfaces/Animation/commitStyles.html https://bugs.webkit.org/show_bug.cgi?id=246011 rdar://101021972
  LayoutTests/imported/w3c/web-platform-tests/web-animations/interfaces/Animation/commitStyles-expected.txt
  Source/WebCore/platform/graphics/transforms/TransformOperations.cpp
Owners: none

Garden AVIF tests https://bugs.webkit.org/show_bug.cgi?id=246991 rdar://101529722
  LayoutTests/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Owners: none

Optimize postMessage between two MessageChannel ports living in the same process https://bugs.webkit.org/show_bug.cgi?id=246943 rdar://problem/101497189
  Source/WebKit/WebProcess/WebCoreSupport/WebMessagePortChannelProvider.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebMessagePortChannelProvider.h
Owners: @cdumez

[Cocoa] Support HEIC/HEIF images for Apple ports https://bugs.webkit.org/show_bug.cgi?id=244424
  LayoutTests/fast/canvas/toDataURL-unsupportedTypes-expected.txt
  LayoutTests/fast/canvas/toDataURL-unsupportedTypes.html
  LayoutTests/fast/forms/file/entries-api/image-no-transcode-drag-drop-expected.txt
  LayoutTests/fast/forms/file/entries-api/image-no-transcode-open-panel-expected.txt
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/loader/cache/CachedResourceRequest.cpp
  Source/WebCore/platform/MIMETypeRegistry.cpp
  Source/WebCore/platform/graphics/cg/UTIRegistry.cpp
Owners: @cdumez

Add WebCodecsVideoFrame initial support for serialisation and transfer https://bugs.webkit.org/show_bug.cgi?id=246854 rdar://problem/101425176
  LayoutTests/http/wpt/webcodecs/videoFrame-serialization-expected.txt
  LayoutTests/http/wpt/webcodecs/videoFrame-serialization.html
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-frame-serialization.any-expected.txt
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
  Source/WebCore/Headers.cmake
  Source/WebCore/Modules/webcodecs/VideoColorSpace.h
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.h
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrameAlgorithms.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrameAlgorithms.h
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrameData.h
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
  Source/WebCore/bindings/js/SerializedScriptValue.h
Owners: @cdumez

[WPE] fast/css/vertical-align-block-elements.html is failing https://bugs.webkit.org/show_bug.cgi?id=188980
  LayoutTests/platform/wpe/TestExpectations
Owners: none

[WPE] Gardening fast/dom/Window/Plug-ins.html
  LayoutTests/platform/wpe/TestExpectations
Owners: none

File input value is not cloned by importNode()
  LayoutTests/fast/forms/file/file-cloneNode-expected.txt
  LayoutTests/fast/forms/file/file-cloneNode.html
  Source/WebCore/html/FileInputType.cpp
  Source/WebCore/html/FileInputType.h
  Source/WebCore/html/HTMLInputElement.cpp
  Source/WebCore/html/HTMLInputElement.h
  Source/WebCore/html/InputType.cpp
  Source/WebCore/html/InputType.h
Owners: @cdumez, @rniwa

Make WebGL use GPU process on macOS layout tests by default https://bugs.webkit.org/show_bug.cgi?id=246445 rdar://problem/101113326
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WTF/Scripts/Preferences/WebPreferencesInternal.yaml
Owners: none
