Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

Cherry-pick 259548.221@safari-7615-branch (31f1a2d977a5). https://bugs.webkit.org/show_bug.cgi?id=252502
  LayoutTests/ipc/wait-for-video-output-will-change-expected.txt
  LayoutTests/ipc/wait-for-video-output-will-change.html
  Source/WebCore/html/HTMLVideoElement.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerManagerProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerManagerProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.messages.in
Owners: @cdumez, @rniwa

Cherry-pick 259548.232@safari-7615-branch (2009557bee01). https://bugs.webkit.org/show_bug.cgi?id=252580
  LayoutTests/fast/rendering/render-tree-as-text-uaf-expected.txt
  LayoutTests/fast/rendering/render-tree-as-text-uaf.html
  Source/WebCore/rendering/RenderTreeAsText.cpp
Owners: none

Cherry-pick 259548.261@safari-7615-branch (89f337538ec6). https://bugs.webkit.org/show_bug.cgi?id=252787
  JSTests/stress/loaded-argument-conflict-with-new-argument.js
  Source/JavaScriptCore/dfg/DFGArgumentsEliminationPhase.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 259548.273@safari-7615-branch (0501c9fc905e). https://bugs.webkit.org/show_bug.cgi?id=252785
  LayoutTests/editing/selection/redo-selection-restore-different-document-crash-expected.txt
  LayoutTests/editing/selection/redo-selection-restore-different-document-crash.html
  Source/WebCore/editing/Editor.cpp
  Source/WebCore/editing/VisibleSelection.cpp
Owners: @rniwa

Cherry-pick 259548.275@safari-7615-branch (b022d8caf560). https://bugs.webkit.org/show_bug.cgi?id=252798
  Source/JavaScriptCore/dfg/DFGArgumentsEliminationPhase.cpp
  Source/JavaScriptCore/dfg/DFGAvailabilityMap.h
  Source/JavaScriptCore/dfg/DFGForAllKills.h
Owners: @WebKit/jsc-reviewers

Cherry-pick 259548.279@safari-7615-branch (41f425bc0ef8). https://bugs.webkit.org/show_bug.cgi?id=249434
  Source/WebCore/css/CSSFontSelector.h
  Source/WebCore/rendering/svg/RenderSVGInlineText.cpp
  Source/WebCore/rendering/svg/RenderSVGText.cpp
  Source/WebCore/rendering/svg/RenderSVGText.h
  Source/WebCore/svg/SVGFontFaceElement.cpp
Owners: none

Cherry-pick 259548.317@safari-7615-branch (92bb5fbd72e5). https://bugs.webkit.org/show_bug.cgi?id=253015
  Source/ThirdParty/libwebrtc/Source/third_party/libaom/source/libaom/av1/encoder/encodeframe_utils.c
Owners: none

Cherry-pick 259548.355@safari-7615.2.1-branch (630b1e2aa50f). https://bugs.webkit.org/show_bug.cgi?id=253267
  Source/WebCore/html/OffscreenCanvas.cpp
Owners: @cdumez, @rniwa

Cherry-pick 259548.408@safari-7615.2.1-branch (0489426718c9). https://bugs.webkit.org/show_bug.cgi?id=253431
  LayoutTests/fast/canvas/offscreen-disabled-construct3-quirk-expected.txt
  LayoutTests/fast/canvas/offscreen-disabled-construct3-quirk.html
  Source/WebCore/bindings/js/JSDOMWindowCustom.cpp
Owners: @cdumez

Cherry-pick 259548.387@safari-7615.2.1-branch (dd026e944caa). rdar://problem/106557770
  LayoutTests/accessibility/changing-aria-hidden-with-display-none-parent-expected.txt
  LayoutTests/accessibility/changing-aria-hidden-with-display-none-parent.html
  LayoutTests/platform/ios-simulator/accessibility/changing-aria-hidden-with-display-none-parent-expected.txt
  LayoutTests/platform/ios/TestExpectations
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AccessibilityNodeObject.cpp
Owners: none

Refactor some network connection integrity code https://bugs.webkit.org/show_bug.cgi?id=254893 rdar://107535003
  Source/WebCore/page/LookalikeCharactersSanitizationData.h
  Source/WebKit/Platform/cocoa/NetworkConnectionIntegrityHelpers.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
Owners: @cdumez

UIKit controls sometimes do not receive tap events https://bugs.webkit.org/show_bug.cgi?id=254829 rdar://107398700
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Owners: @cdumez

Simplify HTMLFastPathParser::scanEscapedAttributeValue() https://bugs.webkit.org/show_bug.cgi?id=254929
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
Owners: @cdumez, @rniwa

Simplify PAL::TextCodecUTF8::encodeUTF8 and use it more https://bugs.webkit.org/show_bug.cgi?id=254909 rdar://107549740
  Source/WebCore/Modules/fetch/FetchBody.cpp
  Source/WebCore/PAL/pal/text/TextCodecReplacement.cpp
  Source/WebCore/PAL/pal/text/TextCodecUTF8.cpp
  Source/WebCore/PAL/pal/text/TextCodecUTF8.h
  Source/WebCore/fileapi/BlobBuilder.cpp
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.mm
  Source/WebCore/xml/XMLHttpRequest.cpp
Owners: @cdumez

REGRESSION(262311@main): Netflix video is blank https://bugs.webkit.org/show_bug.cgi?id=254841 rdar://107485654
  Source/WebKit/WebProcess/GPU/media/cocoa/VideoLayerRemoteCocoa.mm
Owners: @cdumez

xml encode quotes in MiniBrowser.entitlements https://bugs.webkit.org/show_bug.cgi?id=254944 rdar://107576906
  Tools/MiniBrowser/MiniBrowser.entitlements
Owners: @JonWBedard

Implement scroll synchronisation for UI-side compositing. https://bugs.webkit.org/show_bug.cgi?id=254772 <rdar://106293351>
  Source/WebCore/page/scrolling/ScrollingTree.cpp
  Source/WebCore/page/scrolling/ScrollingTree.h
  Source/WebCore/page/scrolling/ThreadedScrollingTree.cpp
  Source/WebCore/page/scrolling/ThreadedScrollingTree.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeEventDispatcher.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeEventDispatcher.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingCoordinatorProxyMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingCoordinatorProxyMac.mm
Owners: @cdumez

Revert aa76afc8e7b4. rdar://107322119
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/cssom-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/invalid-inner-rules-expected.txt
  Source/WebCore/css/CSSGroupingRule.cpp
  Source/WebCore/css/CSSGroupingRule.h
  Source/WebCore/css/CSSRule.cpp
  Source/WebCore/css/CSSRule.h
  Source/WebCore/css/CSSStyleRule.cpp
  Source/WebCore/css/CSSStyleSheet.cpp
  Source/WebCore/css/CSSStyleSheet.h
  Source/WebCore/css/StyleRule.cpp
  Source/WebCore/css/StyleRule.h
  Source/WebCore/css/StyleSheetContents.h
  Source/WebCore/css/parser/CSSParser.cpp
  Source/WebCore/css/parser/CSSParser.h
  Source/WebCore/css/parser/CSSParserImpl.cpp
  Source/WebCore/css/parser/CSSParserImpl.h
  Source/WebCore/css/parser/CSSSelectorParser.cpp
Owners: none

Gradient object should use RenderingResourceIdentifier::allocateThreadSafe. https://bugs.webkit.org/show_bug.cgi?id=254949 <rdar://107574124>
  Source/WebCore/rendering/svg/RenderSVGResourceLinearGradient.cpp
  Source/WebCore/rendering/svg/RenderSVGResourceRadialGradient.cpp
Owners: none

Cherry-pick 259548.273@safari-7615-branch (0501c9fc905e). rdar://107562054
  LayoutTests/editing/selection/redo-selection-restore-different-document-crash-expected.txt
  LayoutTests/editing/selection/redo-selection-restore-different-document-crash.html
  Source/WebCore/editing/Editor.cpp
  Source/WebCore/editing/VisibleSelection.cpp
Owners: @rniwa

Cherry-pick 259548.185@safari-7615-branch (41af95f8b4e7). rdar://107561393
  Source/WebCore/loader/SubresourceLoader.cpp
Owners: @cdumez

Cherry-pick 259548.186@safari-7615-branch (1aa5ac3e3745). rdar://107561498
  Source/WebCore/loader/SubresourceLoader.cpp
  Source/WebCore/loader/SubresourceLoader.h
  Source/WebCore/loader/cache/CachedResourceLoader.h
Owners: @cdumez

Cherry-pick 259548.192@safari-7615-branch (da35f298761e). rdar://107561523
  Source/WebKit/Platform/Logging.h
  Source/WebKit/UIProcess/mac/SecItemShimProxy.cpp
  Source/WebKit/UIProcess/mac/SecItemShimProxy.h
Owners: @cdumez

Cherry-pick 259548.204@safari-7615-branch (e110042815de). rdar://107561689
  LayoutTests/fast/dom/focus-dialog-blur-input-type-change-crash-expected.txt
  LayoutTests/fast/dom/focus-dialog-blur-input-type-change-crash.html
  LayoutTests/platform/ios/fast/dom/focus-dialog-blur-input-type-change-crash-expected.txt
  Source/WebCore/dom/Document.cpp
Owners: @rniwa, @cdumez

Cherry-pick 259548.221@safari-7615-branch (31f1a2d977a5). rdar://107561804
  LayoutTests/ipc/wait-for-video-output-will-change-expected.txt
  LayoutTests/ipc/wait-for-video-output-will-change.html
  Source/WebCore/html/HTMLVideoElement.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerManagerProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerManagerProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.messages.in
Owners: @cdumez, @rniwa

Cherry-pick 259548.232@safari-7615-branch (2009557bee01). rdar://107561932
  LayoutTests/fast/rendering/render-tree-as-text-uaf-expected.txt
  LayoutTests/fast/rendering/render-tree-as-text-uaf.html
  Source/WebCore/rendering/RenderTreeAsText.cpp
Owners: none

Cherry-pick 259548.261@safari-7615-branch (89f337538ec6). rdar://107561976
  JSTests/stress/loaded-argument-conflict-with-new-argument.js
  Source/JavaScriptCore/dfg/DFGArgumentsEliminationPhase.cpp
Owners: @WebKit/jsc-reviewers

Build failures incurred by -Werror,-Wunused-but-set-variable https://bugs.webkit.org/show_bug.cgi?id=254953
  Source/JavaScriptCore/API/ObjCCallbackFunction.mm
  Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/crypto/x509/t_x509.c
  Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vp8/encoder/onyx_if.c
  Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vp9/encoder/vp9_encodeframe.c
  Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vp9/encoder/vp9_ratectrl.c
Owners: @WebKit/jsc-reviewers

Unreviewed Build Fix for PlatformXRSystem https://bugs.webkit.org/show_bug.cgi?id=254952 rdar://107582238
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/ios/PageClientImplIOS.mm
Owners: @cdumez

Use tighter typing in the HTML fast parser https://bugs.webkit.org/show_bug.cgi?id=254945
  Source/WebCore/html/HTMLFormControlElement.h
  Source/WebCore/html/HTMLInputElement.h
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
Owners: @cdumez, @rniwa

[GPU Process] Refactor ShareableBitmapConfiguration https://bugs.webkit.org/show_bug.cgi?id=254925 rdar://107567337
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
  Source/WebKit/GPUProcess/graphics/wc/WCScene.cpp
  Source/WebKit/GPUProcess/media/RemoteImageDecoderAVFProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerManagerProxy.cpp
  Source/WebKit/Shared/ContextMenuContextData.cpp
  Source/WebKit/Shared/ShareableBitmap.cpp
  Source/WebKit/Shared/ShareableBitmap.h
  Source/WebKit/Shared/ShareableBitmap.serialization.in
  Source/WebKit/Shared/ShareableBitmapHandle.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
  Source/WebKit/Shared/cairo/ShareableBitmapCairo.cpp
  Source/WebKit/Shared/cg/ShareableBitmapCG.cpp
  Source/WebKit/Shared/gtk/ArgumentCodersGtk.cpp
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
  Source/WebKit/WebProcess/GPU/graphics/ImageBufferShareableBitmapBackend.cpp
  Source/WebKit/WebProcess/GPU/graphics/ImageBufferShareableBitmapBackend.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.cpp
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
  Source/WebKit/WebProcess/WebCoreSupport/ShareableBitmapUtilities.cpp
  Source/WebKit/WebProcess/WebCoreSupport/gtk/WebDragClientGtk.cpp
  Source/WebKit/WebProcess/WebCoreSupport/mac/WebDragClientMac.mm
  Source/WebKit/WebProcess/WebCoreSupport/win/WebPopupMenuWin.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.cpp
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Source/WebKit/WebProcess/cocoa/TextTrackRepresentationCocoa.mm
Owners: @magomez, @zdobersek, @WebKit/glib-reviewers, @cdumez

Unreviewed, address post-landing review feedback from Darin for 262531@main https://bugs.webkit.org/show_bug.cgi?id=254955 rdar://107583254
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
Owners: @cdumez, @rniwa

wasm/stress/timer-exception.js should not run on non-WASM platforms https://bugs.webkit.org/show_bug.cgi?id=254908
  JSTests/wasm/stress/timer-exception.js
Owners: @WebKit/jsc-reviewers

(REGRESSION 258589@main) Slow typing in large GitHub review https://bugs.webkit.org/show_bug.cgi?id=254858 rdar://107377754
  LayoutTests/fast/repaint/leftover-after-shrinking-content-expected.txt
  Source/WebKit/Shared/EditorState.h
  Source/WebKit/Shared/EditorState.serialization.in
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
Owners: @cdumez

[GARDENING]Block access to updateQuotaBasedOnSpaceUsageForTesting when not testing https://bugs.webkit.org/show_bug.cgi?id=253101 rdar://problem/106079448
  LayoutTests/platform/mac-wk1/TestExpectations
Owners: none

iOS 16.4 and macOS Ventura 13.3 build fix for third-party (254951) https://bugs.webkit.org/show_bug.cgi?id=254951 rdar://107582190
  Source/ThirdParty/libwebrtc/Configurations/Base.xcconfig
Owners: none

HTML parser: remove support for layer and nolayer https://bugs.webkit.org/show_bug.cgi?id=254915 rdar://107554605
  LayoutTests/fast/dom/wrapper-classes-expected.txt
  LayoutTests/fast/dom/wrapper-classes.html
  LayoutTests/imported/w3c/web-platform-tests/html/dom/elements/elements-in-the-dom/unknown-element-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/dom/elements/elements-in-the-dom/unknown-element.html
  LayoutTests/imported/w3c/web-platform-tests/html/dom/historical-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/dom/historical.html
  Source/WebCore/html/HTMLTagNames.in
Owners: @rniwa, @cdumez

[Cocoa] Migrate OpticalSizingType from an enum to a variant https://bugs.webkit.org/show_bug.cgi?id=254896 rdar://107538476
  Source/WebCore/platform/graphics/cocoa/UnrealizedCoreTextFont.cpp
  Source/WebCore/platform/graphics/cocoa/UnrealizedCoreTextFont.h
Owners: none

Fix JSC and WebCore build failures for iOS16.4 and macOS Ventura 13.3 https://bugs.webkit.org/show_bug.cgi?id=254951 rdar://107582190
  Source/JavaScriptCore/API/ObjCCallbackFunction.mm
  Source/WebCore/editing/cocoa/DataDetection.mm
Owners: @WebKit/jsc-reviewers, @rniwa

Serialize NSAttributedString font attributes as WebCore::Font https://bugs.webkit.org/show_bug.cgi?id=254860 rdar://107503178
  Source/WebCore/editing/cocoa/AttributedString.h
  Source/WebCore/editing/cocoa/AttributedString.mm
  Source/WebCore/editing/cocoa/HTMLConverter.mm
  Source/WebCore/platform/graphics/FontPlatformData.h
  Source/WebCore/platform/graphics/coretext/FontPlatformDataCoreText.cpp
  Source/WebCore/platform/ios/UIFoundationSoftLink.h
  Source/WebCore/platform/ios/UIFoundationSoftLink.mm
  Source/WebKit/Shared/Cocoa/WebCoreArgumentCodersCocoa.mm
  Source/WebKit/Shared/Cocoa/WebCoreArgumentCodersCocoa.serialization.in
  Source/WebKitLegacy/mac/WebCoreSupport/PopupMenuMac.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/NSAttributedStringWebKitAdditions.mm
Owners: @rniwa

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
