Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

[GARDENING][ Ventura iOS arm64 ] transforms/3d/hit-testing/overlapping-layers-hit-test.html is a constant text failure https://bugs.webkit.org/show_bug.cgi?id=255184 rdar://107775721
  LayoutTests/platform/mac/TestExpectations
Owners: none

[JSC] Restore liveness based interference analysis too https://bugs.webkit.org/show_bug.cgi?id=252798 rdar://problem/105818549
  Source/JavaScriptCore/dfg/DFGArgumentsEliminationPhase.cpp
  Source/JavaScriptCore/dfg/DFGAvailabilityMap.h
  Source/JavaScriptCore/dfg/DFGForAllKills.h
Owners: @WebKit/jsc-reviewers

Cherry-pick aom 3154860bdbe978da9271ba55eea60973b0be06b5 https://bugs.webkit.org/show_bug.cgi?id=253015 rdar://105507028
  Source/ThirdParty/libwebrtc/Source/third_party/libaom/source/libaom/av1/encoder/encodeframe_utils.c
Owners: none

Disable main-thread WebGL in OffscreenCanvas. https://bugs.webkit.org/show_bug.cgi?id=253267 <rdar://105684718>
  Source/WebCore/html/OffscreenCanvas.cpp
Owners: @cdumez, @rniwa

OffscreenCanvas support without WebGL breaks Construct 3 content. https://bugs.webkit.org/show_bug.cgi?id=253431 <rdar://106341361>
  LayoutTests/fast/canvas/offscreen-disabled-construct3-quirk-expected.txt
  LayoutTests/fast/canvas/offscreen-disabled-construct3-quirk.html
  Source/WebCore/bindings/js/JSLocalDOMWindowCustom.cpp
Owners: @cdumez

Remove superclass loop when decoding ObjC classes from _WKRemoteObjectRegistry on iOS https://bugs.webkit.org/show_bug.cgi?id=255157 rdar://107758849
  Source/WebKit/Platform/Logging.h
  Source/WebKit/Shared/API/Cocoa/WKRemoteObjectCoder.mm
Owners: @cdumez

REGRESSION (macOS 13.3): Holding down-arrow beeps while scrolling before reaching end of document in WKWebView https://bugs.webkit.org/show_bug.cgi?id=255039 rdar://107667589
  Source/WebCore/platform/KeyboardScrollingAnimator.cpp
  Tools/TestWebKitAPI/Tests/mac/KeyboardEventTests.mm
Owners: none

[UI-side compositing] Create RemoteScrollbarsController for plumbing web process events to the scrolling coordinator https://bugs.webkit.org/show_bug.cgi?id=255173 rdar://107770765
  Source/WebCore/page/EventHandler.cpp
  Source/WebCore/page/scrolling/AsyncScrollingCoordinator.cpp
  Source/WebCore/page/scrolling/AsyncScrollingCoordinator.h
  Source/WebCore/page/scrolling/ScrollingCoordinator.h
  Source/WebCore/platform/ScrollbarsController.h
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.cpp
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteScrollbarsController.cpp
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteScrollbarsController.h
Owners: @cdumez

[GPUP][CoreIPC] Integer overflow in SharedVideoFrameInfo::storageSize leading to OOB read rdar://107023292
  LayoutTests/ipc/shared-video-frame-size-expected.txt
  LayoutTests/ipc/shared-video-frame-size.html
  Source/WebCore/platform/cocoa/SharedVideoFrameInfo.mm
Owners: none

[iOS] fast/forms/caps-lock-indicator-width.html is a constant crash https://bugs.webkit.org/show_bug.cgi?id=255168 rdar://107730715
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.mm
Owners: @JonWBedard

SourceBufferPrivate::ResetParserState shouldn't synchronously dispatch tasks https://bugs.webkit.org/show_bug.cgi?id=255120 rdar://107729258
  LayoutTests/media/media-source/media-mp4-h264-partial-abort-expected.txt
  LayoutTests/media/media-source/media-mp4-h264-partial-abort.html
  Source/WebCore/platform/graphics/SourceBufferPrivate.cpp
  Source/WebCore/platform/graphics/SourceBufferPrivate.h
  Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferPrivateAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferPrivateAVFObjC.mm
  Source/WebCore/platform/graphics/cocoa/SourceBufferParser.h
  Source/WebCore/platform/graphics/gstreamer/mse/SourceBufferPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/SourceBufferPrivateGStreamer.h
  Source/WebCore/platform/mock/mediasource/MockSourceBufferPrivate.cpp
  Source/WebCore/platform/mock/mediasource/MockSourceBufferPrivate.h
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.h
Owners: @philn, @cdumez

Cherry-pick 261695@main (8519e6435f57). rdar://106725307
  LayoutTests/css3/blending/background-blend-mode-body-image.html
  LayoutTests/css3/blending/background-blend-mode-body-transparent-color-and-image.html
  LayoutTests/css3/blending/background-blend-mode-body-transparent-image.html
  LayoutTests/css3/filters/effect-grayscale-hw.html
  LayoutTests/fast/images/sprite-sheet-image-draw.html
  LayoutTests/imported/w3c/web-platform-tests/compat/webkit-linear-gradient-line-right.html
  LayoutTests/imported/w3c/web-platform-tests/compat/webkit-linear-gradient-line-top.html
  LayoutTests/svg/css/invalid-color-cascade.svg
  LayoutTests/svg/gradients/spreadMethodDiagonal3.svg
  LayoutTests/svg/gradients/spreadMethodDiagonal4.svg
Owners: none

Cherry-pick 262304@main (b9cac8123642). rdar://107395155
  LayoutTests/platform/ios/TestExpectations
Owners: none

Cherry-pick 262441@main (e3babff08eae). rdar://107373558
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Owners: none

Cherry-pick 262595@main (4798b5317d9d). rdar://107393338
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Owners: none

Remove `PKApplePayLaterMode` staging code https://bugs.webkit.org/show_bug.cgi?id=255189 rdar://106983272
  Source/WebCore/PAL/pal/spi/cocoa/PassKitSPI.h
  Source/WebKit/Shared/ApplePay/cocoa/WebPaymentCoordinatorProxyCocoa.mm
Owners: none

Accessing null RemoteScrollingCoordinatorProxy in [WKWebViewIOS _didFinishScrolling] https://bugs.webkit.org/show_bug.cgi?id=255162 rdar://106894608
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
Owners: @cdumez

SourceBufferPrivateAVFObjC, Stop using WeakPtrFactory https://bugs.webkit.org/show_bug.cgi?id=255171 rdar://107769670
  Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferPrivateAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferPrivateAVFObjC.mm
Owners: none

[WPE][GTK] Gardening `fast/block/float/016.html`
  LayoutTests/platform/glib/fast/block/float/016-expected.png
  LayoutTests/platform/glib/fast/block/float/016-expected.txt
  LayoutTests/platform/gtk/fast/block/float/016-expected.png
Owners: none

AX: Eliminate all ways AXCoreObject::elementRect could be called on an AXIsolatedObject https://bugs.webkit.org/show_bug.cgi?id=255138 rdar://problem/107741185
  Source/WebCore/accessibility/AccessibilityMenuListPopup.h
  Source/WebCore/accessibility/AccessibilityObject.h
  Source/WebCore/accessibility/AccessibilityObjectInterface.h
  Source/WebCore/accessibility/cocoa/AccessibilityObjectCocoa.mm
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.h
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperMac.mm
Owners: none

Improve Ref / RefPtr hygiene in AXObjectCache::handleAttributeChange and AccessibilityNodeObject::textUnderElement rdar://problem/106557770
  LayoutTests/accessibility/changing-aria-hidden-with-display-none-parent-expected.txt
  LayoutTests/accessibility/changing-aria-hidden-with-display-none-parent.html
  LayoutTests/platform/glib/accessibility/changing-aria-hidden-with-display-none-parent-expected.txt
  LayoutTests/platform/ios-simulator/accessibility/changing-aria-hidden-with-display-none-parent-expected.txt
  LayoutTests/platform/ios/TestExpectations
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AccessibilityNodeObject.cpp
Owners: none

REGRESSION(262749@main) [GraphicsLayerWC] WCContentBufferIdentifier should use ObjectIdentifierThreadSafeAccessTraits https://bugs.webkit.org/show_bug.cgi?id=255195
  Source/WebKit/GPUProcess/graphics/wc/WCContentBuffer.h
  Source/WebKit/Shared/wc/WCContentBufferIdentifier.h
Owners: none

Remove WebKit main thread workaround.
  Source/WebCore/PAL/pal/spi/mac/NSWindowSPI.h
  Source/WebKitLegacy/mac/WebKit.order
  Source/WebKitLegacy/mac/WebView/WebHTMLView.mm
  Source/WebKitLegacy/mac/WebView/WebView.mm
Owners: none

Import Shape Detection API IDLs https://bugs.webkit.org/show_bug.cgi?id=255191 rdar://107783367
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/CMakeLists.txt
  Source/WebCore/DerivedSources-input.xcfilelist
  Source/WebCore/DerivedSources-output.xcfilelist
  Source/WebCore/DerivedSources.make
  Source/WebCore/Modules/ShapeDetection/BarcodeDetector.cpp
  Source/WebCore/Modules/ShapeDetection/BarcodeDetector.h
  Source/WebCore/Modules/ShapeDetection/BarcodeDetector.idl
  Source/WebCore/Modules/ShapeDetection/BarcodeDetectorOptions.h
  Source/WebCore/Modules/ShapeDetection/BarcodeDetectorOptions.idl
  Source/WebCore/Modules/ShapeDetection/BarcodeFormat.h
  Source/WebCore/Modules/ShapeDetection/BarcodeFormat.idl
  Source/WebCore/Modules/ShapeDetection/DetectedBarcode.h
  Source/WebCore/Modules/ShapeDetection/DetectedBarcode.idl
  Source/WebCore/Modules/ShapeDetection/DetectedFace.h
  Source/WebCore/Modules/ShapeDetection/DetectedFace.idl
  Source/WebCore/Modules/ShapeDetection/DetectedText.h
  Source/WebCore/Modules/ShapeDetection/DetectedText.idl
  Source/WebCore/Modules/ShapeDetection/FaceDetector.cpp
  Source/WebCore/Modules/ShapeDetection/FaceDetector.h
  Source/WebCore/Modules/ShapeDetection/FaceDetector.idl
  Source/WebCore/Modules/ShapeDetection/FaceDetectorOptions.h
  Source/WebCore/Modules/ShapeDetection/FaceDetectorOptions.idl
  Source/WebCore/Modules/ShapeDetection/Landmark.h
  Source/WebCore/Modules/ShapeDetection/Landmark.idl
  Source/WebCore/Modules/ShapeDetection/LandmarkType.h
  Source/WebCore/Modules/ShapeDetection/LandmarkType.idl
  Source/WebCore/Modules/ShapeDetection/Point2D.h
  Source/WebCore/Modules/ShapeDetection/Point2D.idl
  Source/WebCore/Modules/ShapeDetection/TextDetector.cpp
  Source/WebCore/Modules/ShapeDetection/TextDetector.h
  Source/WebCore/Modules/ShapeDetection/TextDetector.idl
  Source/WebCore/Modules/applepay/ApplePaySetupWebCore.h
  Source/WebCore/Sources.txt
  Source/WebCore/bindings/js/WebCoreBuiltinNames.h
Owners: @cdumez

Crash in SVGFontFaceElement::associatedFontElement crash when removing SVGFontFaceElement https://bugs.webkit.org/show_bug.cgi?id=249434 <rdar://problem/103420468>
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/svg/import/text-intro-02-b-manual-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/svg/import/text-intro-03-b-manual-expected.txt
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1-SE/text-intro-09-b-expected.txt
  LayoutTests/platform/wpe/imported/w3c/web-platform-tests/svg/import/text-intro-02-b-manual-expected.txt
  LayoutTests/platform/wpe/svg/W3C-SVG-1.1-SE/text-intro-09-b-expected.txt
  Source/WebCore/css/CSSFontSelector.h
  Source/WebCore/rendering/svg/RenderSVGInlineText.cpp
  Source/WebCore/rendering/svg/RenderSVGText.cpp
  Source/WebCore/rendering/svg/RenderSVGText.h
  Source/WebCore/svg/SVGFontFaceElement.cpp
Owners: none

Add service worker tests related to resultingClientId https://bugs.webkit.org/show_bug.cgi?id=255194 rdar://problem/107793594
  LayoutTests/imported/w3c/web-platform-tests/service-workers/service-worker/controlled-dedicatedworker-postMessage.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/service-workers/service-worker/controlled-dedicatedworker-postMessage.https.html
  LayoutTests/imported/w3c/web-platform-tests/service-workers/service-worker/controlled-iframe-postMessage.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/service-workers/service-worker/controlled-iframe-postMessage.https.html
  LayoutTests/imported/w3c/web-platform-tests/service-workers/service-worker/postMessage-client-worker.js
  LayoutTests/imported/w3c/web-platform-tests/service-workers/service-worker/resources/controlled-frame-postMessage.html
  LayoutTests/imported/w3c/web-platform-tests/service-workers/service-worker/resources/controlled-worker-late-postMessage.js
  LayoutTests/imported/w3c/web-platform-tests/service-workers/service-worker/resources/controlled-worker-postMessage.js
Owners: none

Reimplement the progress display in wide-layout attachments https://bugs.webkit.org/show_bug.cgi?id=255100 rdar://problem/107716507
  Source/WebCore/html/HTMLAttachmentElement.cpp
  Source/WebCore/html/HTMLAttachmentElement.h
  Source/WebCore/html/shadow/attachmentElementShadow.css
Owners: @cdumez, @rniwa

Better attachment save icon svg, with correct colors https://bugs.webkit.org/show_bug.cgi?id=255161 rdar://107157484
  LayoutTests/platform/ios-wk2/fast/attachment/cocoa/wide-attachment-rendering-expected.txt
  LayoutTests/platform/mac-wk2/fast/attachment/cocoa/wide-attachment-rendering-expected.txt
  Source/WebCore/html/shadow/attachmentElementShadow.css
Owners: @cdumez, @rniwa

Add WTF::exitProcess and WTF::terminateProcess https://bugs.webkit.org/show_bug.cgi?id=255199 rdar://107798593
  Source/JavaScriptCore/API/tests/ExecutionTimeLimitTest.cpp
  Source/JavaScriptCore/API/tests/testapi.mm
  Source/JavaScriptCore/assembler/testmasm.cpp
  Source/JavaScriptCore/b3/air/testair.cpp
  Source/JavaScriptCore/b3/testb3.h
  Source/JavaScriptCore/dfg/testdfg.cpp
  Source/JavaScriptCore/jsc.cpp
  Source/JavaScriptCore/testRegExp.cpp
  Source/JavaScriptCore/tools/FunctionOverrides.cpp
  Source/JavaScriptCore/tools/JSDollarVM.cpp
  Source/WTF/WTF.xcodeproj/project.pbxproj
  Source/WTF/wtf/CMakeLists.txt
  Source/WTF/wtf/Process.cpp
  Source/WTF/wtf/Process.h
  Source/WebCore/workers/service/context/SWContextManager.cpp
  Source/WebGPU/WGSL/wgslc.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/Platform/IPC/Connection.cpp
  Source/WebKit/Shared/AuxiliaryProcess.cpp
  Source/WebKit/Shared/EntryPointUtilities/Cocoa/XPCService/XPCServiceEntryPoint.h
  Source/WebKit/Shared/EntryPointUtilities/Cocoa/XPCService/XPCServiceEntryPoint.mm
  Source/WebKit/Shared/EntryPointUtilities/Cocoa/XPCService/XPCServiceMain.mm
  Source/WebKit/Shared/IPCStreamTester.cpp
  Source/WebKit/Shared/mac/AuxiliaryProcessMac.mm
  Source/WebKit/WebProcess/WebProcess.cpp
  Source/WebKit/webpushd/WebPushDaemonMain.mm
  Source/WebKit/webpushd/webpushtool/WebPushToolMain.mm
  Tools/DumpRenderTree/mac/DumpRenderTree.mm
  Tools/WebKitTestRunner/TestController.cpp
  Tools/WebKitTestRunner/gtk/TestControllerGtk.cpp
  Tools/WebKitTestRunner/win/TestControllerWin.cpp
  Tools/WebKitTestRunner/wpe/TestControllerWPE.cpp
Owners: @WebKit/jsc-reviewers, @cdumez, @JonWBedard, @WebKit/glib-reviewers, @zdobersek

Test case check on EWS rdar://106419524
  LayoutTests/fast/layout/Crash-test-expected.txt
  LayoutTests/fast/layout/Crash-test.html
Owners: none

wtf/Process.h is conflicting with process.h on Windows https://bugs.webkit.org/show_bug.cgi?id=255214
  Source/JavaScriptCore/API/tests/ExecutionTimeLimitTest.cpp
  Source/JavaScriptCore/API/tests/testapi.mm
  Source/JavaScriptCore/assembler/testmasm.cpp
  Source/JavaScriptCore/b3/air/testair.cpp
  Source/JavaScriptCore/b3/testb3.h
  Source/JavaScriptCore/dfg/testdfg.cpp
  Source/JavaScriptCore/jsc.cpp
  Source/JavaScriptCore/runtime/ResourceExhaustion.cpp
  Source/JavaScriptCore/testRegExp.cpp
  Source/JavaScriptCore/tools/FunctionOverrides.cpp
  Source/JavaScriptCore/tools/JSDollarVM.cpp
  Source/WTF/WTF.xcodeproj/project.pbxproj
  Source/WTF/wtf/CMakeLists.txt
  Source/WTF/wtf/WTFProcess.cpp
  Source/WTF/wtf/WTFProcess.h
  Source/WebCore/workers/service/context/SWContextManager.cpp
  Source/WebGPU/WGSL/wgslc.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/Platform/IPC/Connection.cpp
  Source/WebKit/Shared/AuxiliaryProcess.cpp
  Source/WebKit/Shared/EntryPointUtilities/Cocoa/XPCService/XPCServiceEntryPoint.h
  Source/WebKit/Shared/EntryPointUtilities/Cocoa/XPCService/XPCServiceEntryPoint.mm
  Source/WebKit/Shared/EntryPointUtilities/Cocoa/XPCService/XPCServiceMain.mm
  Source/WebKit/Shared/IPCStreamTester.cpp
  Source/WebKit/Shared/mac/AuxiliaryProcessMac.mm
  Source/WebKit/WebProcess/WebProcess.cpp
  Source/WebKit/webpushd/WebPushDaemonMain.mm
  Source/WebKit/webpushd/webpushtool/WebPushToolMain.mm
  Tools/DumpRenderTree/mac/DumpRenderTree.mm
  Tools/WebKitTestRunner/TestController.cpp
  Tools/WebKitTestRunner/gtk/TestControllerGtk.cpp
  Tools/WebKitTestRunner/win/TestControllerWin.cpp
  Tools/WebKitTestRunner/wpe/TestControllerWPE.cpp
Owners: @WebKit/jsc-reviewers, @cdumez, @JonWBedard, @WebKit/glib-reviewers, @zdobersek

AX: article speaks "landmark" and shows up in landmarks rotor on iOS-only https://bugs.webkit.org/show_bug.cgi?id=254317 rdar://107118745
  LayoutTests/accessibility/ios-simulator/landmark-type-expected.txt
  LayoutTests/accessibility/ios-simulator/landmark-type.html
  Source/WebCore/accessibility/ios/WebAccessibilityObjectWrapperIOS.mm
Owners: none

[popover] Rename :open to :popover-open and remove :closed https://bugs.webkit.org/show_bug.cgi?id=254816
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/hide-other-popover-side-effects.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/light-dismiss-event-ordering.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-anchor-nesting.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-attribute-basic-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-attribute-basic.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-document-open.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-events.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-focus-2.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-focus-child-dialog.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-focus.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-hidden-display.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-inside-display-none.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-invoking-attribute.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-light-dismiss-on-scroll.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-light-dismiss.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-not-keyboard-focusable.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-removal-2.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-removal.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-shadow-dom.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-stacking.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-target-element-disabled.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-top-layer-combinations.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-top-layer-interactions.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-types-with-hints.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-types.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/resources/popover-utils.js
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/html/semantics/popovers/popover-attribute-basic-expected.txt
  Source/WebCore/css/CSSSelector.cpp
  Source/WebCore/css/CSSSelector.h
  Source/WebCore/css/SelectorChecker.cpp
  Source/WebCore/css/SelectorCheckerTestFunctions.h
  Source/WebCore/css/SelectorPseudoClassAndCompatibilityElementMap.in
  Source/WebCore/css/popover.css
  Source/WebCore/cssjit/SelectorCompiler.cpp
  Source/WebCore/html/HTMLElement.cpp
Owners: @cdumez, @rniwa

Speculative fix for PS Release build https://bugs.webkit.org/show_bug.cgi?id=255217
  Source/JavaScriptCore/Scripts/wkbuiltins/builtins_generate_combined_implementation.py
  Source/JavaScriptCore/Scripts/wkbuiltins/builtins_generate_internals_wrapper_implementation.py
  Source/JavaScriptCore/Scripts/wkbuiltins/builtins_generate_separate_implementation.py
  Source/WebCore/bindings/js/JSDOMGlobalObjectInlines.h
Owners: @WebKit/jsc-reviewers, @cdumez

[PlayStation] Avoid mincore() call in BlockDirectory::updatePercentageOfPagedOutPages() https://bugs.webkit.org/show_bug.cgi?id=255202
  Source/JavaScriptCore/heap/BlockDirectory.cpp
Owners: @WebKit/jsc-reviewers

Enable CA render server blocking https://bugs.webkit.org/show_bug.cgi?id=254874 rdar://107194227
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Owners: @brentfulgham, @pvollan

[IFC][line-box-contain] line-height should not affect enclosing height https://bugs.webkit.org/show_bug.cgi?id=255211
  LayoutTests/fast/inline/line-box-contain-with-line-height-expected.html
  LayoutTests/fast/inline/line-box-contain-with-line-height.html
  Source/WebCore/layout/formattingContexts/inline/InlineLineBoxBuilder.cpp
Owners: none

Update to PDF.js v3.5.141 https://bugs.webkit.org/show_bug.cgi?id=254924
  Source/ThirdParty/pdfjs/build/pdf.js
  Source/ThirdParty/pdfjs/build/pdf.sandbox.js
  Source/ThirdParty/pdfjs/build/pdf.worker.js
  Source/ThirdParty/pdfjs/web/debugger.css
  Source/ThirdParty/pdfjs/web/locale/ca/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/cak/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/cy/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/dsb/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/el/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/en-CA/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/eo/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/fi/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/hy-AM/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/ja/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/kab/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/sc/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/tg/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/th/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/tr/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/zh-CN/viewer.properties
  Source/ThirdParty/pdfjs/web/viewer.css
  Source/ThirdParty/pdfjs/web/viewer.html
  Source/ThirdParty/pdfjs/web/viewer.js
Owners: none

AX: Test gardening new ITM failures. https://bugs.webkit.org/show_bug.cgi?id=255128 <rdar://problem/107733919>
  LayoutTests/accessibility-isolated-tree/TestExpectations
Owners: none

Versioning.
  Configurations/Version.xcconfig
Owners: none

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
