Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

Fix @counter-style behavior for empty-string symbol. https://bugs.webkit.org/show_bug.cgi?id=254269 rdar://107053810
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/empty-string-symbol-expected-mismatch.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/empty-string-symbol-notref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/empty-string-symbol.html
  Source/WebCore/css/CSSCounterStyle.cpp
Owners: none

WebRTC: Camera input is rotated by 90 degrees https://bugs.webkit.org/show_bug.cgi?id=254185 rdar://106396515
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewInternal.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/ios/WebPageProxyIOS.mm
  Tools/TestWebKitAPI/Tests/WebKit/GetUserMedia.mm
  Tools/TestWebKitAPI/Tests/WebKit/getUserMedia.html
Owners: @cdumez

Stop exporting -expected-mismatch.html files to WPT https://bugs.webkit.org/show_bug.cgi?id=254273 rdar://107061127
  Tools/Scripts/webkitpy/w3c/test_exporter.py
  Tools/Scripts/webkitpy/w3c/test_exporter_unittest.py
Owners: @JonWBedard

allowedLookalikeCharacterStrings should support more than one string per domain https://bugs.webkit.org/show_bug.cgi?id=254241 rdar://107026826
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
Owners: @cdumez

[ews-build] Always clone from WebKit/WebKit https://bugs.webkit.org/show_bug.cgi?id=254227 rdar://107016139
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Owners: @aj062, @JonWBedard, @ryanhaddad

[UI-side compositing] Resizing window doesn't cause scrollbars to show/change size https://bugs.webkit.org/show_bug.cgi?id=253739 rdar://106385267
  Source/WebCore/page/scrolling/ScrollingTree.cpp
  Source/WebCore/page/scrolling/ScrollingTree.h
  Source/WebCore/page/scrolling/ScrollingTreeFrameScrollingNode.h
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNodeDelegate.h
  Source/WebCore/page/scrolling/mac/ScrollerPairMac.h
  Source/WebCore/page/scrolling/mac/ScrollerPairMac.mm
  Source/WebCore/page/scrolling/mac/ScrollingTreeScrollingNodeDelegateMac.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeScrollingNodeDelegateMac.mm
  Source/WebKit/UIProcess/DrawingAreaProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/ScrollingTreeFrameScrollingNodeRemoteMac.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/mac/ScrollingTreeFrameScrollingNodeRemoteMac.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
Owners: @cdumez

Address v3 sandbox telemetry https://bugs.webkit.org/show_bug.cgi?id=254075 rdar://106827256
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
  Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in
  Source/WebKit/Shared/Sandbox/common.sb
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Owners: @brentfulgham, @pvollan

[WGSL] Temporarily disable early compilation https://bugs.webkit.org/show_bug.cgi?id=254224 <rdar://problem/107008408>
  Source/WebGPU/WGSL/EntryPointRewriter.cpp
  Source/WebGPU/WebGPU/ShaderModule.mm
Owners: none

Switch ARKit from soft linking to weak linking https://bugs.webkit.org/show_bug.cgi?id=254218
  Source/WebKit/Configurations/WebKit.xcconfig
  Source/WebKit/Shared/Cocoa/ARKitSoftLink.h
  Source/WebKit/Shared/Cocoa/ARKitSoftLink.mm
  Source/WebKit/Shared/Cocoa/WebIconUtilities.mm
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/Cocoa/SystemPreviewControllerCocoa.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Owners: @cdumez

Change WebAutocorrectionData to serialize only the required font properties https://bugs.webkit.org/show_bug.cgi?id=253981 rdar://106770646
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/Shared/ios/WebAutocorrectionData.mm
  Source/WebKit/Shared/ios/WebAutocorrectionData.serialization.in
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Owners: @cdumez

[iOS] Address v3 sandbox telemetry https://bugs.webkit.org/show_bug.cgi?id=254232 rdar://106827256
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.GPU.sb.in
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.Networking.sb.in
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/Shared/Sandbox/iOS/common.sb
Owners: @brentfulgham, @pvollan

[Wasm-GC] Implement array.new_canon_data https://bugs.webkit.org/show_bug.cgi?id=251329
  JSTests/wasm/gc/array_new_data.js
  JSTests/wasm/wasm.json
  Source/JavaScriptCore/wasm/WasmAirIRGeneratorBase.h
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
  Source/JavaScriptCore/wasm/WasmExceptionType.h
  Source/JavaScriptCore/wasm/WasmFormat.h
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Source/JavaScriptCore/wasm/WasmInstance.cpp
  Source/JavaScriptCore/wasm/WasmInstance.h
  Source/JavaScriptCore/wasm/WasmLLIntBuiltin.h
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmOperations.cpp
  Source/JavaScriptCore/wasm/WasmOperations.h
  Source/JavaScriptCore/wasm/WasmOperationsInlines.h
  Source/JavaScriptCore/wasm/WasmSlowPaths.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.h
  Source/JavaScriptCore/wasm/wasm.json
Owners: @WebKit/jsc-reviewers

Begin hardening NSAttributedString deserialization https://bugs.webkit.org/show_bug.cgi?id=254250 rdar://107033670
  Source/WebCore/SourcesCocoa.txt
  Source/WebCore/editing/cocoa/AttributedString.h
  Source/WebCore/editing/cocoa/AttributedString.mm
  Source/WebCore/editing/cocoa/EditorCocoa.mm
  Source/WebCore/editing/cocoa/HTMLConverter.mm
  Source/WebCore/editing/mac/EditorMac.mm
  Source/WebKit/Shared/Cocoa/ArgumentCodersCocoa.mm
  Source/WebKit/Shared/Cocoa/WebCoreArgumentCodersCocoa.serialization.in
  Source/WebKit/Shared/DocumentEditingContext.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Source/WebKit/WebProcess/WebPage/mac/WebPageMac.mm
  Source/WebKitLegacy/mac/WebCoreSupport/WebSelectionServiceController.mm
  Source/WebKitLegacy/mac/WebView/WebHTMLRepresentation.mm
  Source/WebKitLegacy/mac/WebView/WebHTMLView.mm
  Source/WebKitLegacy/mac/WebView/WebImmediateActionController.mm
Owners: @rniwa, @cdumez

counter() integration with counter-styles https://bugs.webkit.org/show_bug.cgi?id=253920 rdar://106084053
  LayoutTests/TestExpectations
  LayoutTests/css2.1/t1202-counter-01-b.html
  LayoutTests/css2.1/t1202-counter-16-f.html
  LayoutTests/css2.1/t1202-counters-01-b.html
  LayoutTests/css2.1/t1202-counters-18-f.html
  LayoutTests/fast/css/counters/counter-cssText-expected.txt
  LayoutTests/fast/css/counters/counter-cssText.html
  LayoutTests/fast/css/counters/getCounterValue-expected.txt
  LayoutTests/fast/css/counters/getCounterValue.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/layer-counter-style-override-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-lists/parsing/content-invalid-expected.txt
  LayoutTests/platform/glib/css2.1/t1202-counter-01-b-expected.txt
  LayoutTests/platform/glib/css2.1/t1202-counters-01-b-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-cascade/layer-counter-style-override-expected.txt
  LayoutTests/platform/gtk/css2.1/t1202-counter-01-b-expected.png
  LayoutTests/platform/gtk/css2.1/t1202-counters-01-b-expected.png
  LayoutTests/platform/ios/css2.1/t1202-counter-01-b-expected.txt
  LayoutTests/platform/ios/css2.1/t1202-counters-01-b-expected.txt
  LayoutTests/platform/mac/css2.1/t1202-counter-01-b-expected.png
  LayoutTests/platform/mac/css2.1/t1202-counter-01-b-expected.txt
  LayoutTests/platform/mac/css2.1/t1202-counters-01-b-expected.png
  LayoutTests/platform/mac/css2.1/t1202-counters-01-b-expected.txt
  LayoutTests/platform/wincairo/css2.1/t1202-counter-01-b-expected.txt
  LayoutTests/platform/wincairo/css2.1/t1202-counters-01-b-expected.txt
  Source/WebCore/css/CSSCounterStyleRegistry.cpp
  Source/WebCore/css/CSSCounterStyleRegistry.h
  Source/WebCore/css/CSSCounterValue.cpp
  Source/WebCore/css/CSSCounterValue.h
  Source/WebCore/css/DeprecatedCSSOMCounter.h
  Source/WebCore/css/DeprecatedCSSOMPrimitiveValue.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/rendering/RenderCounter.cpp
  Source/WebCore/rendering/RenderCounter.h
  Source/WebCore/rendering/RenderListMarker.cpp
  Source/WebCore/rendering/style/CounterContent.h
  Source/WebCore/style/StyleBuilderCustom.h
Owners: none

Cherry-pick 261839@main (4ad4b2d3a795). https://bugs.webkit.org/show_bug.cgi?id=253877
  Source/WebCore/platform/UserAgentQuirks.cpp
  Tools/TestWebKitAPI/Tests/WebCore/UserAgentQuirks.cpp
Owners: none

New test: TestWebKitAPI.TextManipulation.StartTextManipulationFindsContentInIframeInsertedLater is a flaky failure on iOS and Ventura https://bugs.webkit.org/show_bug.cgi?id=254192
  Tools/TestWebKitAPI/Tests/WebKitCocoa/TextManipulation.mm
Owners: none

Web Inspector: Deeply nested async stack traces are not fully truncated https://bugs.webkit.org/show_bug.cgi?id=254244 rdar://105900359
  LayoutTests/inspector/debugger/async-stack-trace-truncate-expected.txt
  LayoutTests/inspector/debugger/async-stack-trace-truncate.html
  Source/JavaScriptCore/inspector/AsyncStackTrace.cpp
  Source/JavaScriptCore/inspector/ScriptCallStack.cpp
  Source/JavaScriptCore/inspector/ScriptCallStack.h
Owners: @patrickangle

Make visibility a fast-path inherited property https://bugs.webkit.org/show_bug.cgi?id=254265 rdar://107049260
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/rendering/style/RenderStyle.cpp
Owners: none

Cherry-pick 6cee2aec2971. rdar://problem/106744687
  LayoutTests/fast/mediastream/audio-session-category-capture-audio-context-expected.txt
  LayoutTests/fast/mediastream/audio-session-category-capture-audio-context.html
  Source/WebCore/Modules/webaudio/AudioContext.cpp
  Source/WebCore/Modules/webaudio/AudioContext.h
  Source/WebCore/html/HTMLMediaElement.h
  Source/WebCore/platform/audio/PlatformMediaSession.cpp
  Source/WebCore/platform/audio/PlatformMediaSession.h
  Source/WebCore/platform/audio/cocoa/MediaSessionManagerCocoa.mm
Owners: @cdumez, @rniwa

Cherry-pick 2972c6591e21. rdar://problem/104744690
  LayoutTests/media/modern-media-controls/overflow-support/dropped-when-narrow-expected.txt
  LayoutTests/media/modern-media-controls/overflow-support/dropped-when-narrow.html
  Source/WebCore/Modules/modern-media-controls/controls/inline-media-controls.js
Owners: none

Cherry-pick 3b84731a5f6a. rdar://problem/106476286
  Source/WebCore/platform/LocalizedStrings.h
  Source/WebCore/platform/cocoa/LocalizedStringsCocoa.mm
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
Owners: @cdumez

Speed up JSNodeList indexing https://bugs.webkit.org/show_bug.cgi?id=254190
  Source/WebCore/bindings/scripts/CodeGeneratorJS.pm
  Source/WebCore/bindings/scripts/IDLAttributes.json
  Source/WebCore/bindings/scripts/test/JS/JSTestEventTarget.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestIndexedSetterNoIdentifier.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestIndexedSetterThrowingException.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestIndexedSetterWithIdentifier.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestNamedAndIndexedSetterNoIdentifier.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestNamedAndIndexedSetterThrowingException.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestNamedAndIndexedSetterWithIdentifier.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestNamedDeleterWithIndexedGetter.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestNamedSetterWithIndexedGetter.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestNamedSetterWithIndexedGetterAndSetter.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestObj.cpp
  Source/WebCore/css/typedom/CSSUnparsedValue.cpp
  Source/WebCore/css/typedom/CSSUnparsedValue.h
  Source/WebCore/css/typedom/CSSUnparsedValue.idl
  Source/WebCore/css/typedom/numeric/CSSNumericArray.cpp
  Source/WebCore/css/typedom/numeric/CSSNumericArray.h
  Source/WebCore/css/typedom/transform/CSSTransformValue.cpp
  Source/WebCore/css/typedom/transform/CSSTransformValue.h
  Source/WebCore/svg/SVGLengthList.idl
  Source/WebCore/svg/SVGNumberList.idl
  Source/WebCore/svg/SVGPathSegList.idl
  Source/WebCore/svg/SVGPointList.idl
  Source/WebCore/svg/SVGStringList.idl
  Source/WebCore/svg/SVGTransformList.idl
Owners: @cdumez

(REGRESSION 261688@main) Repaint issue when adding text to a textbox https://bugs.webkit.org/show_bug.cgi?id=254282 <rdar://107038111>
  LayoutTests/fast/repaint/content-change-in-out-of-flow-container-expected.txt
  LayoutTests/fast/repaint/content-change-in-out-of-flow-container.html
  Source/WebCore/layout/integration/inline/LayoutIntegrationInlineContentBuilder.cpp
Owners: none

Cherry-pick f2c69208138b. rdar://problem/107070886
  Source/WebCore/css/CSSContainerRule.cpp
  Source/WebCore/css/CSSGroupingRule.cpp
  Source/WebCore/css/CSSGroupingRule.h
  Source/WebCore/css/CSSLayerBlockRule.cpp
  Source/WebCore/css/CSSMediaRule.cpp
  Source/WebCore/css/CSSSupportsRule.cpp
  Source/WebCore/css/parser/CSSParserImpl.cpp
Owners: none

Cherry-pick bb3ba56cc5da. rdar://problem/105545310
  LayoutTests/fast/block/transparent-outline-with-and-without-border-radius-expected.html
  LayoutTests/fast/block/transparent-outline-with-and-without-border-radius.html
  Source/WebCore/rendering/BorderPainter.cpp
Owners: none

Add Joseph Griego as a committer. https://bugs.webkit.org/show_bug.cgi?id=254287
  metadata/contributors.json
Owners: @JonWBedard

Versioning.
  Configurations/Version.xcconfig
Owners: none

REGRESSION(261973@main) [curl] Unreviewed build fix https://bugs.webkit.org/show_bug.cgi?id=254221
  Source/WebKit/NetworkProcess/curl/WebSocketTaskCurl.cpp
  Source/WebKit/NetworkProcess/curl/WebSocketTaskCurl.h
Owners: @cdumez

Migrate LoadParameters and WebPageCreationParameters to serialization.in https://bugs.webkit.org/show_bug.cgi?id=254284 rdar://107073832
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Shared/Cocoa/LoadParametersCocoa.mm
  Source/WebKit/Shared/Cocoa/WebIconUtilities.mm
  Source/WebKit/Shared/LoadParameters.cpp
  Source/WebKit/Shared/LoadParameters.h
  Source/WebKit/Shared/LoadParameters.serialization.in
  Source/WebKit/Shared/WebPageCreationParameters.cpp
  Source/WebKit/Shared/WebPageCreationParameters.serialization.in
  Source/WebKit/Sources.txt
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Owners: none

Cherry-pick 261961@main (645e981e523d). https://bugs.webkit.org/show_bug.cgi?id=168300
  Source/WebCore/page/FrameView.cpp
  Source/WebCore/platform/ScrollView.cpp
  Source/WebCore/platform/Scrollbar.cpp
  Source/WebCore/platform/Scrollbar.h
  Source/WebCore/rendering/RenderLayerScrollableArea.cpp
  Source/WebCore/testing/Internals.cpp
  Source/WebKit/Shared/NativeWebWheelEvent.h
  Source/WebKit/Shared/gtk/NativeWebWheelEventGtk.cpp
  Source/WebKit/Shared/gtk/WebEventFactory.cpp
  Source/WebKit/Shared/gtk/WebEventFactory.h
  Source/WebKit/UIProcess/API/gtk/WebKitWebViewBase.cpp
Owners: @cdumez, @WebKit/glib-reviewers

[UI-side compositing] RenderListBox scrollbars do not show https://bugs.webkit.org/show_bug.cgi?id=253750 rdar://106382552
  Source/WebCore/platform/mac/ScrollbarThemeMac.mm
Owners: none

Versioning.
  Configurations/Version.xcconfig
Owners: none

Revert 80706457f5d9. rdar://problem/106963188
  Source/WebCore/html/HTMLMediaElement.cpp
Owners: @cdumez, @rniwa

Revert 87bfcd1ee704. rdar://problem/106963188
  LayoutTests/http/tests/media/autoplay-if-audio-is-playing-expected.txt
  LayoutTests/http/tests/media/autoplay-if-audio-is-playing.html
  LayoutTests/media/media-fullscreen-inline-expected.txt
  LayoutTests/media/media-fullscreen.js
  LayoutTests/media/playlist-inherits-user-gesture.html
  LayoutTests/media/restricted-audio-playback-with-multiple-settimeouts.html
  LayoutTests/platform/glib/media/media-fullscreen-inline-expected.txt
  LayoutTests/platform/glib/media/media-fullscreen-not-in-document-expected.txt
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/FullscreenManager.cpp
  Source/WebCore/html/HTMLMediaElement.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebsitePolicies.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/autoplaying-multiple-media-elements.html
Owners: @rniwa, @cdumez

[GStreamer][MSE] Avoid seeking in READY or NULL pipeline state https://bugs.webkit.org/show_bug.cgi?id=245358
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.cpp
Owners: @philn

Revert [261922@main] [WGSL] Fix the wgslc build https://bugs.webkit.org/show_bug.cgi?id=254213 rdar://106995791
  Source/WebGPU/WGSL/wgslc.cpp
Owners: none

Revert [261911@main] [WGSL] Add command line tool to run the compiler https://bugs.webkit.org/show_bug.cgi?id=253892 rdar://106708690
  Source/WebGPU/Configurations/wgslc.xcconfig
  Source/WebGPU/WGSL/wgslc.cpp
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
  Source/WebGPU/WebGPU.xcodeproj/xcshareddata/xcschemes/WebGPU.xcscheme
Owners: none

Cherry-pick 261970@main (57dd97a2399f). rdar://106760739
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/install_hooks.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/land.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/publish.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/install_hooks_unittest.py
Owners: @facetothefate, @JonWBedard

Avoid unnecessary calls to updateGlobalPosition() in AnimationTimeline::animationTimingDidChange() https://bugs.webkit.org/show_bug.cgi?id=254298
  Source/WebCore/animation/AnimationTimeline.cpp
Owners: @graouts

web manifest: implement orientation member parsing https://bugs.webkit.org/show_bug.cgi?id=247275 rdar://101770484
  Source/WebCore/Modules/applicationmanifest/ApplicationManifest.h
  Source/WebCore/Modules/applicationmanifest/ApplicationManifestParser.cpp
  Source/WebCore/Modules/applicationmanifest/ApplicationManifestParser.h
  Source/WebCore/page/ScreenOrientationLockType.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/API/Cocoa/_WKApplicationManifest.h
  Source/WebKit/UIProcess/API/Cocoa/_WKApplicationManifest.mm
  Tools/TestWebKitAPI/Tests/WebCore/ApplicationManifestParser.cpp
Owners: @marcoscaceres, @cdumez
