Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

[Gardening]: [iPadOS16] imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml.html is a constant failure https://bugs.webkit.org/show_bug.cgi?id=245803
  LayoutTests/platform/ipad/TestExpectations
Owners: none

[Gardening]: REBASELINE: [ iOS16 ] imported/w3c/web-platform-tests/css/css-flexbox/negative-overflow-002.html is a constant failure https://bugs.webkit.org/show_bug.cgi?id=243836
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/css/css-flexbox/negative-overflow-002-expected.txt
  LayoutTests/platform/ios/TestExpectations
Owners: none

[LFC][IFC] Fix editing/selection/move-by-line-003.html https://bugs.webkit.org/show_bug.cgi?id=246730
  LayoutTests/accessibility/node-only-object-element-rect-expected.txt
  LayoutTests/fast/repaint/focus-ring-repaint-expected.txt
  LayoutTests/platform/ios/accessibility/node-only-object-element-rect-expected.txt
  Source/WebCore/layout/formattingContexts/inline/display/InlineDisplayLineBuilder.cpp
Owners: none

Adjust a call to `enableNetworkConnectionIntegrity` https://bugs.webkit.org/show_bug.cgi?id=246831
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
Owners: @cdumez

[WGSL] Convert AST into string representation https://bugs.webkit.org/show_bug.cgi?id=246791 rdar://problem/101366942
  Source/WebGPU/WGSL/AST/ASTStringDumper.cpp
  Source/WebGPU/WGSL/AST/ASTStringDumper.h
  Source/WebGPU/WGSL/AST/ASTVisitor.cpp
  Source/WebGPU/WGSL/AST/ASTVisitor.h
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WGSL/ASTStringDumperTests.cpp
  Tools/TestWebKitAPI/Tests/WGSL/ParserTests.cpp
  Tools/TestWebKitAPI/Tests/WGSL/TestWGSLAPI.cpp
  Tools/TestWebKitAPI/Tests/WGSL/TestWGSLAPI.h
Owners: none

IPC::Connection cannot be bound to arbitrary run loop https://bugs.webkit.org/show_bug.cgi?id=246336 rdar://problem/101030022
  Source/WebKit/Platform/IPC/Connection.cpp
  Source/WebKit/Platform/IPC/Connection.h
  Tools/TestWebKitAPI/Tests/IPC/ConnectionTests.cpp
Owners: @cdumez

Call setMostRecentWebPushInteractionTime when a web push is interacted with successfully https://bugs.webkit.org/show_bug.cgi?id=246468 rdar://101133602
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsDatabaseStore.cpp
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsDatabaseStore.h
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerToContextConnection.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebPushDaemon.mm
Owners: @cdumez

[ITP Cleanup] Move ResourceLoadStatisticsEnabled out of DeprecatedGlobalSettings https://bugs.webkit.org/show_bug.cgi?id=246835
  Source/WebCore/dom/Document.cpp
  Source/WebCore/editing/markup.cpp
  Source/WebCore/page/DeprecatedGlobalSettings.cpp
  Source/WebCore/page/DeprecatedGlobalSettings.h
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/PageConfiguration.h
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Settings.yaml
  Source/WebCore/svg/graphics/SVGImage.cpp
  Source/WebCore/testing/Internals.cpp
  Source/WebKit/WebProcess/Storage/WebSWContextManagerConnection.cpp
  Source/WebKit/WebProcess/Storage/WebSharedWorkerContextManagerConnection.cpp
  Source/WebKit/WebProcess/WebPage/WebCookieJar.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebProcess.cpp
  Source/WebKit/WebProcess/WebProcess.h
  Source/WebKitLegacy/mac/WebView/WebView.mm
Owners: @rniwa, @cdumez

[GTK][WPE] Remove support for named spaces and nonzero unitless lengths https://bugs.webkit.org/show_bug.cgi?id=197494
  LayoutTests/TestExpectations
  LayoutTests/accessibility/mac/mathml-line-fraction.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/fractions/frac-linethickness-001.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/fractions/frac-linethickness-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/fractions/frac-linethickness-002.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/mpadded/mpadded-legacy-length-values-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/mpadded/mpadded-legacy-length-values.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/operators/mo-lspace-rspace-legacy-length-values-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/operators/mo-lspace-rspace-legacy-length-values.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/operators/mo-minsize-maxsize-legacy-length-values-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/operators/mo-minsize-maxsize-legacy-length-values.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/spaces/mspace-legacy-length-values-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/spaces/mspace-legacy-length-values.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/lengths-2-expected.txt
  LayoutTests/mathml/non-core/positive-namedspace-expected.html
  LayoutTests/mathml/non-core/positive-namedspace.html
  LayoutTests/mathml/presentation/mo-form-expected.html
  LayoutTests/mathml/presentation/non-bmp-operators-spacing-expected.html
  LayoutTests/mathml/presentation/non-bmp-operators-stretching-expected.html
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/mathml/relations/css-styling/lengths-2-expected.txt
  Source/WebCore/mathml/MathMLFractionElement.cpp
  Source/WebCore/mathml/MathMLPresentationElement.cpp
  Source/WebCore/mathml/MathMLPresentationElement.h
Owners: none

[MQ4] Use FeatureSchema more https://bugs.webkit.org/show_bug.cgi?id=246804 <rdar://problem/101381659>
  Source/WebCore/css/ContainerQuery.cpp
  Source/WebCore/css/ContainerQuery.h
  Source/WebCore/css/ContainerQueryParser.cpp
  Source/WebCore/css/ContainerQueryParser.h
  Source/WebCore/css/query/GenericMediaQueryEvaluator.cpp
  Source/WebCore/css/query/GenericMediaQueryEvaluator.h
  Source/WebCore/css/query/GenericMediaQueryParser.cpp
  Source/WebCore/css/query/GenericMediaQueryParser.h
  Source/WebCore/css/query/GenericMediaQueryTypes.h
  Source/WebCore/css/query/MediaQueryEvaluator.cpp
  Source/WebCore/css/query/MediaQueryEvaluator.h
  Source/WebCore/css/query/MediaQueryParser.cpp
  Source/WebCore/css/query/MediaQueryParser.h
  Source/WebCore/style/ContainerQueryEvaluator.cpp
  Source/WebCore/style/ContainerQueryEvaluator.h
Owners: none

ThemeAdwaita: checkbox, radio and inner spin button don't scale along by page zoom https://bugs.webkit.org/show_bug.cgi?id=246679
  LayoutTests/platform/gtk/transforms/2d/zoom-menulist-expected.png
  LayoutTests/platform/gtk/transforms/2d/zoom-menulist-expected.txt
  Source/WebCore/platform/adwaita/ThemeAdwaita.cpp
  Source/WebCore/platform/adwaita/ThemeAdwaita.h
  Source/WebCore/rendering/RenderThemeAdwaita.cpp
Owners: @WebKit/glib-reviewers

IFC does not support nested out-of-flow content yet. https://bugs.webkit.org/show_bug.cgi?id=246771 rdar://101236223
  LayoutTests/fast/inline/inline-content-with-nested-out-of-flow-crash-expected.txt
  LayoutTests/fast/inline/inline-content-with-nested-out-of-flow-crash.html
  LayoutTests/platform/ios/fast/multicol/client-rects-expected.txt
  LayoutTests/platform/ios/fast/multicol/client-rects-spanners-complex-expected.txt
  LayoutTests/platform/ios/fast/multicol/client-rects-spanners-expected.txt
  LayoutTests/platform/ios/fast/multicol/newmulticol/client-rects-expected.txt
  LayoutTests/platform/mac/fast/multicol/client-rects-expected.txt
  LayoutTests/platform/mac/fast/multicol/client-rects-spanners-complex-expected.txt
  LayoutTests/platform/mac/fast/multicol/client-rects-spanners-expected.txt
  LayoutTests/platform/mac/fast/multicol/newmulticol/client-rects-expected.txt
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.cpp
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.cpp
Owners: none

Make dropAnonymousBoxChild rely on moveAllChildrenToInternal https://bugs.webkit.org/show_bug.cgi?id=246846
  Source/WebCore/rendering/updating/RenderTreeBuilder.cpp
  Source/WebCore/rendering/updating/RenderTreeBuilderBlock.cpp
Owners: none

Cherry-pick 254732@main (f121c13339f2). <rdar://99840839>
  LayoutTests/imported/w3c/web-platform-tests/css/css-scroll-snap/scroll-margin-visibility-check-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-scroll-snap/scroll-margin-visibility-check.html
  Source/WebCore/dom/Element.cpp
  Source/WebCore/page/FrameView.cpp
  Source/WebCore/platform/ScrollableArea.cpp
  Source/WebCore/platform/ScrollableArea.h
  Source/WebCore/rendering/RenderElement.cpp
  Source/WebCore/rendering/RenderElement.h
  Source/WebCore/rendering/RenderLayer.h
  Source/WebCore/rendering/RenderLayerScrollableArea.cpp
Owners: @rniwa, @cdumez

[WPE] Gardening fast/css/content-counter-010.htm
  LayoutTests/platform/glib/TestExpectations
Owners: none

[WebDriver] Support "Get Computed Role" command https://bugs.webkit.org/show_bug.cgi?id=246813
  Source/WebDriver/Session.cpp
  Source/WebDriver/Session.h
  Source/WebDriver/WebDriverService.cpp
  Source/WebDriver/WebDriverService.h
  WebDriverTests/TestExpectations.json
Owners: @carlosgcampos

[GTK] Remove WebKitWebContext:process-swap-on-cross-site-navigation-enabled and ensure PSON is always enabled with GTK 4 https://bugs.webkit.org/show_bug.cgi?id=220116
  Source/WebKit/UIProcess/API/glib/WebKitWebContext.cpp
  Tools/MiniBrowser/gtk/main.c
  Tools/TestWebKitAPI/glib/WebKitGLib/TestMain.h
Owners: @WebKit/glib-reviewers

Always enable probabilistic sandbox state flag for testing https://bugs.webkit.org/show_bug.cgi?id=246762 rdar://101349573
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Owners: @cdumez

[dav1d] Fix typo in xcconfig file
  Source/WebCore/PAL/libavif/dav1d/Configurations/DebugRelease.xcconfig
Owners: none

Provide a way to crash a WebKit XPC service for testing https://bugs.webkit.org/show_bug.cgi?id=246782 rdar://99339140
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebKit/Configurations/WebContentService.Crashy.xcconfig
  Source/WebKit/Configurations/WebContentService.xcconfig
  Source/WebKit/Scripts/process-entitlements.sh
  Source/WebKit/Shared/EntryPointUtilities/Cocoa/XPCService/XPCServiceEntryPoint.mm
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessPool.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Owners: @cdumez

[JSC] Optimize DUCET localeCompare fast path https://bugs.webkit.org/show_bug.cgi?id=246843 rdar://101411702
  Source/JavaScriptCore/runtime/IntlCollator.cpp
  Source/JavaScriptCore/runtime/IntlObject.cpp
  Source/JavaScriptCore/runtime/IntlObject.h
  Source/JavaScriptCore/runtime/IntlObjectInlines.h
Owners: @WebKit/jsc-reviewers

Cherry-pick 255452@main (09496e855222). rdar://100873493
  Source/WTF/wtf/EnumTraits.h
  Source/WebCore/platform/graphics/GraphicsContextState.cpp
  Source/WebCore/platform/graphics/Path.h
Owners: none

Conditionally block access to launchd in sandbox on iOS https://bugs.webkit.org/show_bug.cgi?id=246693 rdar://101295943
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
Owners: @cdumez

WebDriver: [Cocoa] Enable basic touch events on iOS (and also aliasing mouse events to touch events) https://bugs.webkit.org/show_bug.cgi?id=246810 rdar://100402480
  Source/WTF/wtf/PlatformEnableCocoa.h
Owners: none

Cherry-pick 255315@main (e844ed6399a9). <rdar://99294213>
  Source/WebCore/page/Navigator.cpp
  Source/WebCore/page/ShareData.h
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
  Source/WebKit/UIProcess/Cocoa/WKShareSheet.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/ios/WKPDFView.mm
Owners: @cdumez

Update AirPlay runtime logging https://bugs.webkit.org/show_bug.cgi?id=246859 rdar://100004713
  Source/WebCore/Modules/airplay/WebMediaSessionManager.cpp
  Source/WebCore/Modules/remoteplayback/RemotePlayback.h
  Source/WebCore/html/MediaElementSession.cpp
  Source/WebCore/html/MediaElementSession.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.mm
Owners: @cdumez, @rniwa

Cherry-pick 3f65989a37af. rdar://problem/99339140
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebKit/Configurations/WebContentService.Crashy.xcconfig
  Source/WebKit/Configurations/WebContentService.xcconfig
  Source/WebKit/Scripts/process-entitlements.sh
  Source/WebKit/Shared/EntryPointUtilities/Cocoa/XPCService/XPCServiceEntryPoint.mm
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessPool.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Owners: @cdumez

[web-animations] web-animations/timing-model/animations/seamlessly-updating-the-playback-rate-of-an-animation.html has one failure https://bugs.webkit.org/show_bug.cgi?id=246850
  LayoutTests/imported/w3c/web-platform-tests/web-animations/timing-model/animations/seamlessly-updating-the-playback-rate-of-an-animation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/timing-model/animations/seamlessly-updating-the-playback-rate-of-an-animation.html
  Source/WebCore/animation/WebAnimation.cpp
Owners: @graouts

[web-animations] account for iterationComposite when blending https://bugs.webkit.org/show_bug.cgi?id=246855
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/keyframe-effects/effect-value-iteration-composite-operation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/interfaces/KeyframeEffect/iterationComposite-expected.txt
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/animation/KeyframeEffect.h
Owners: @graouts

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Unreviewed, reverting r255827@main. https://bugs.webkit.org/show_bug.cgi?id=246866
  Source/WebCore/PAL/libavif/dav1d/Configurations/DebugRelease.xcconfig
Owners: none

AX: meter and progress elements are ignored when -webkit-appearance: none is set https://bugs.webkit.org/show_bug.cgi?id=232569 rdar://problem/84885223
  LayoutTests/accessibility/appearance-none-meter-and-progress-elements-expected.txt
  LayoutTests/accessibility/appearance-none-meter-and-progress-elements.html
  LayoutTests/platform/win/TestExpectations
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AccessibilityProgressIndicator.cpp
  Source/WebCore/accessibility/AccessibilityProgressIndicator.h
Owners: none

Unreviewed, reverting r255805@main. https://bugs.webkit.org/show_bug.cgi?id=246867
  Source/WebCore/PAL/libavif/Configurations/Base.xcconfig
  Source/WebCore/PAL/libavif/dav1d/Configurations/Base.xcconfig
Owners: none

REGRESSION(255399@main-255410@main?): [ Win EWS ] 10X CSS Layout-tests are constant ImageOnlyFailures https://bugs.webkit.org/show_bug.cgi?id=246869
  LayoutTests/platform/win/TestExpectations
Owners: none

Revert "Cherry-pick 3f65989a37af. rdar://problem/99339140"
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebKit/Configurations/WebContentService.Crashy.xcconfig
  Source/WebKit/Configurations/WebContentService.xcconfig
  Source/WebKit/Scripts/process-entitlements.sh
  Source/WebKit/Shared/EntryPointUtilities/Cocoa/XPCService/XPCServiceEntryPoint.mm
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessPool.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Owners: @cdumez

Cherry-pick 3f65989a37af. rdar://problem/99339140
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebKit/Configurations/WebContentService.Crashy.xcconfig
  Source/WebKit/Configurations/WebContentService.xcconfig
  Source/WebKit/Scripts/process-entitlements.sh
  Source/WebKit/Shared/EntryPointUtilities/Cocoa/XPCService/XPCServiceEntryPoint.mm
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessPool.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Owners: @cdumez

[WPE] Gardening fast/css/font-shorthand-line-height.html
  LayoutTests/platform/wpe/TestExpectations
Owners: none

Versioning.
  Configurations/Version.xcconfig
Owners: none

Factorize common platform code for font variant settings https://bugs.webkit.org/show_bug.cgi?id=246856 rdar://101426315
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/harfbuzz/ComplexTextControllerHarfBuzz.cpp
  Source/WebCore/platform/text/TextFlags.cpp
  Source/WebCore/platform/text/TextFlags.h
Owners: @WebKit/glib-reviewers

Introduce platform-specific subclasses of RemoteScrollingTree https://bugs.webkit.org/show_bug.cgi?id=246834 rdar://101405405
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingTree.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteScrollingTreeIOS.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteScrollingTreeIOS.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingTreeMac.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingTreeMac.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Owners: @cdumez

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
