Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

JSRopeString::resolveRopeToAtomString() doesn't need to copy characters to a buffer when it is a substring https://bugs.webkit.org/show_bug.cgi?id=254441
  Source/JavaScriptCore/runtime/JSString.cpp
  Source/JavaScriptCore/runtime/JSString.h
  Source/WTF/wtf/text/AtomString.h
Owners: @WebKit/jsc-reviewers

Cherry-pick 262090@main (0610e673a850). rdar://107108896
  Tools/Scripts/hooks/pre-push
Owners: @JonWBedard

Cherry-pick aa394d9f173f. rdar://problem/107078574
  Source/WebKit/UIProcess/WebFrameProxy.cpp
Owners: @cdumez

[ews-build.webkit.org] Convert AnalyzeLayoutTestsResults to new-style https://bugs.webkit.org/show_bug.cgi?id=251736 rdar://105041006
  Tools/CISupport/ews-build/steps.py
Owners: @aj062, @JonWBedard, @ryanhaddad

REGRESSION (262041@main): Keyboard scrolling animates from (0, 0) when smooth keyboard scrolling is disabled and UI-side compositing is enabled https://bugs.webkit.org/show_bug.cgi?id=254428
  LayoutTests/fast/scrolling/programmatic-smooth-scroll-from-nonzero-offset-expected.txt
  LayoutTests/fast/scrolling/programmatic-smooth-scroll-from-nonzero-offset.html
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/page/scrolling/ScrollingCoordinatorTypes.cpp
  Source/WebCore/page/scrolling/ScrollingStateScrollingNode.cpp
  Source/WebCore/page/scrolling/ScrollingStateScrollingNode.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteScrollingCoordinatorTransaction.cpp
Owners: @cdumez

Cherry-pick 5df7702c29e6. rdar://problem/103712135
  LayoutTests/fast/forms/ios/keyboard-stability-when-tapping-editable-element-expected.txt
  LayoutTests/fast/forms/ios/keyboard-stability-when-tapping-editable-element.html
  LayoutTests/resources/ui-helper.js
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/PageClient.h
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/UIProcess/ios/InputViewUpdateDeferrer.h
  Source/WebKit/UIProcess/ios/InputViewUpdateDeferrer.mm
  Source/WebKit/UIProcess/ios/PageClientImplIOS.h
  Source/WebKit/UIProcess/ios/PageClientImplIOS.mm
  Source/WebKit/UIProcess/ios/WKContentView.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/ios/WebPageProxyIOS.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Tools/TestRunnerShared/UIScriptContext/Bindings/UIScriptController.idl
  Tools/TestRunnerShared/UIScriptContext/UIScriptController.h
  Tools/WebKitTestRunner/cocoa/TestRunnerWKWebView.h
  Tools/WebKitTestRunner/cocoa/TestRunnerWKWebView.mm
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.h
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.mm
Owners: @cdumez, @JonWBedard

Cherry-pick 81223299d3fb. rdar://problem/106558991
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-block-start-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-block-start.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-block-start-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-block-start.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-block-start-dynamic-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-block-start-dynamic.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-block-start-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-block-start.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-block-start-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-block-start.html
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderBlock.h
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderBox.h
  Source/WebCore/rendering/RenderFlexibleBox.cpp
  Source/WebCore/rendering/RenderObject.h
Owners: none

Cherry-pick dcbe4246df7c. rdar://problem/107083380
  LayoutTests/fast/canvas/canvas-drawImage-hdr-video-expected.txt
  LayoutTests/fast/canvas/canvas-drawImage-hdr-video.html
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/fast/canvas/canvas-drawImage-hdr-video-expected.txt
  LayoutTests/platform/ios/fast/canvas/canvas-drawImage-hdr-video-expected.txt
Owners: none

Web Inspector: (Regression: 254636@main) Mini console always opens when choosing "Inspect Element", even if it was previously closed https://bugs.webkit.org/show_bug.cgi?id=253273 rdar://106260652
  Source/WebInspectorUI/UserInterface/Controllers/JavaScriptLogViewController.js
  Source/WebInspectorUI/UserInterface/Models/ConsoleCommandResultMessage.js
  Source/WebInspectorUI/UserInterface/Views/AnimationContentView.js
  Source/WebInspectorUI/UserInterface/Views/CanvasContentView.js
  Source/WebInspectorUI/UserInterface/Views/CanvasTreeElement.js
  Source/WebInspectorUI/UserInterface/Views/ContextMenuUtilities.js
  Source/WebInspectorUI/UserInterface/Views/ObjectPreviewView.js
  Source/WebInspectorUI/UserInterface/Views/ObjectTreeBaseTreeElement.js
  Source/WebInspectorUI/UserInterface/Views/QuickConsole.js
  Source/WebInspectorUI/UserInterface/Views/WebSocketResourceTreeElement.js
Owners: @dcrousso, @patrickangle

[PlayStation] Fix assertion crash of libpas pthread implementation. https://bugs.webkit.org/show_bug.cgi?id=254452
  Source/bmalloc/libpas/src/libpas/pas_lock.h
Owners: @Constellation

fast/scrolling/mac/keyboard-scrolling-terminates.html doesn't verify that scrolling terminates after 258483@main https://bugs.webkit.org/show_bug.cgi?id=254444
  LayoutTests/fast/scrolling/mac/keyboard-scrolling-terminates.html
Owners: none

REGRESSION (260451@main): Opening any PDF in WebKit opens it halfway down the first page https://bugs.webkit.org/show_bug.cgi?id=254374 rdar://106880773
  LayoutTests/platform/mac-wk2/plugins/pdf-plugin-initial-scroll-position-expected.txt
  LayoutTests/platform/mac-wk2/plugins/pdf-plugin-initial-scroll-position.html
  Source/WebCore/plugins/PluginViewBase.h
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
  Source/WebKit/WebProcess/Plugins/PluginView.cpp
  Source/WebKit/WebProcess/Plugins/PluginView.h
Owners: @cdumez

[UI-Side Compositing] WebKit crashes when pressing Page Up/Fn Up key https://bugs.webkit.org/show_bug.cgi?id=254453 rdar://107206783
  LayoutTests/fast/scrolling/mac/keyboard-scrolling-pagedown-pageup-expected.txt
  LayoutTests/fast/scrolling/mac/keyboard-scrolling-pagedown-pageup.html
  Source/WebKit/Shared/RemoteLayerTree/RemoteScrollingCoordinatorTransaction.cpp
Owners: none

[MSE] video's readyState keeps incorrectly switching between HAVE_CURRENT_DATA and HAVE_METADATA https://bugs.webkit.org/show_bug.cgi?id=254399 rdar://107178961
  Source/WebCore/Modules/mediasource/ManagedMediaSource.cpp
  Source/WebCore/Modules/mediasource/MediaSource.cpp
  Source/WebCore/Modules/mediasource/MediaSource.h
  Source/WebCore/Sources.txt
  Source/WebCore/platform/graphics/MediaPlayer.cpp
  Source/WebCore/platform/graphics/MediaPlayer.h
  Source/WebCore/platform/graphics/MediaPlayerPrivate.h
  Source/WebCore/platform/graphics/MediaSourcePrivate.cpp
  Source/WebCore/platform/graphics/MediaSourcePrivate.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.h
  Source/WebCore/platform/mock/mediasource/MockMediaPlayerMediaSource.cpp
  Source/WebCore/platform/mock/mediasource/MockMediaPlayerMediaSource.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.cpp
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.cpp
Owners: @philn, @cdumez

Unreviewed, reverting r262101@main. https://bugs.webkit.org/show_bug.cgi?id=254458
  Source/cmake/WebKitCCache.cmake
Owners: none

[MSE] video's readyState keeps incorrectly switching between HAVE_CURRENT_DATA and HAVE_METADATA https://bugs.webkit.org/show_bug.cgi?id=254399 rdar://107178961
  Source/WebCore/Modules/mediasource/ManagedMediaSource.cpp
  Source/WebCore/Modules/mediasource/MediaSource.cpp
  Source/WebCore/Modules/mediasource/MediaSource.h
  Source/WebCore/Sources.txt
  Source/WebCore/platform/graphics/MediaPlayer.cpp
  Source/WebCore/platform/graphics/MediaPlayer.h
  Source/WebCore/platform/graphics/MediaPlayerPrivate.h
  Source/WebCore/platform/graphics/MediaSourcePrivate.cpp
  Source/WebCore/platform/graphics/MediaSourcePrivate.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.h
  Source/WebCore/platform/mock/mediasource/MockMediaPlayerMediaSource.cpp
  Source/WebCore/platform/mock/mediasource/MockMediaPlayerMediaSource.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.cpp
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.cpp
Owners: @philn, @cdumez

REGRESSION (260675@main): [ macOS, iOS ] 2 x fast/text/glyph-display-lis t tests are a constant failure. https://bugs.webkit.org/show_bug.cgi?id=252866 <rdar://105854585>
  LayoutTests/TestExpectations
  LayoutTests/fast/text/font-weight-download-3-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/fallback-remote-to-data-url-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/font-display/font-display-failure-fallback-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/operators/mo-stretch-properties-001-expected.txt
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WTF/wtf/PlatformUse.h
  Source/WebCore/platform/graphics/ComplexTextController.cpp
  Source/WebCore/platform/graphics/Font.h
  Source/WebCore/platform/graphics/FontCascade.cpp
  Source/WebCore/rendering/RenderText.cpp
Owners: none

[IFC] Move margin-trim check to canUseForStyle https://bugs.webkit.org/show_bug.cgi?id=254460
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.cpp
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.h
Owners: none

Cherry-pick 262106@main (ed99b93877dd). https://bugs.webkit.org/show_bug.cgi?id=253273
  Source/WebInspectorUI/UserInterface/Controllers/JavaScriptLogViewController.js
  Source/WebInspectorUI/UserInterface/Models/ConsoleCommandResultMessage.js
  Source/WebInspectorUI/UserInterface/Views/AnimationContentView.js
  Source/WebInspectorUI/UserInterface/Views/CanvasContentView.js
  Source/WebInspectorUI/UserInterface/Views/CanvasTreeElement.js
  Source/WebInspectorUI/UserInterface/Views/ContextMenuUtilities.js
  Source/WebInspectorUI/UserInterface/Views/ObjectPreviewView.js
  Source/WebInspectorUI/UserInterface/Views/ObjectTreeBaseTreeElement.js
  Source/WebInspectorUI/UserInterface/Views/QuickConsole.js
  Source/WebInspectorUI/UserInterface/Views/WebSocketResourceTreeElement.js
Owners: @dcrousso, @patrickangle

Cherry-pick 262076@main (46d858959377). https://bugs.webkit.org/show_bug.cgi?id=254401
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/animation-canceled-by-parent-details-element-being-closed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/animation-canceled-by-parent-details-element-being-closed.html
  Source/WebCore/rendering/updating/RenderTreeUpdater.cpp
Owners: none

Cherry-pick 262075@main (9a3c1c8a3991). https://bugs.webkit.org/show_bug.cgi?id=254408
  LayoutTests/platform/gtk/TestExpectations
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebKit/UIProcess/API/gtk/PageClientImpl.cpp
Owners: @WebKit/glib-reviewers

Simplify JSStringJoiner https://bugs.webkit.org/show_bug.cgi?id=254464
  Source/JavaScriptCore/runtime/ArrayPrototype.cpp
  Source/JavaScriptCore/runtime/JSGenericTypedArrayViewPrototypeFunctions.h
  Source/JavaScriptCore/runtime/JSStringJoiner.h
Owners: @WebKit/jsc-reviewers

Bug 254443 - AX: Only FRED VP visible on the Text To Speech Sound Check page https://bugs.webkit.org/show_bug.cgi?id=254443 rdar://107199586
  LayoutTests/TestExpectations
  LayoutTests/fast/speechsynthesis/mac/samantha-voice-available-expected.txt
  LayoutTests/fast/speechsynthesis/mac/samantha-voice-available.html
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebCore/PAL/pal/spi/cocoa/AXSpeechManagerSPI.h
  Source/WebCore/platform/cocoa/PlatformSpeechSynthesizerCocoa.mm
Owners: none

Cherry-pick 261912@main (2972c6591e21). https://bugs.webkit.org/show_bug.cgi?id=254165
  LayoutTests/media/modern-media-controls/overflow-support/dropped-when-narrow-expected.txt
  LayoutTests/media/modern-media-controls/overflow-support/dropped-when-narrow.html
  Source/WebCore/Modules/modern-media-controls/controls/inline-media-controls.js
Owners: none

Cherry-pick 261808@main (2e5421f37cc9). https://bugs.webkit.org/show_bug.cgi?id=254063
  LayoutTests/fast/css/mask-box-image-parsing-expected.txt
  LayoutTests/fast/css/mask-box-image-parsing.html
  LayoutTests/fast/css/mask-box-image-slices-expected.html
  LayoutTests/fast/css/mask-box-image-slices.html
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/style/StyleBuilderCustom.h
Owners: none

Cherry-pick 261804@main (bc8856c0306b). https://bugs.webkit.org/show_bug.cgi?id=250136
  Source/WebInspectorUI/UserInterface/Views/SpreadsheetCSSStyleDeclarationSection.js
Owners: @dcrousso, @patrickangle

Cherry-pick 261406@main (b625b7e2bbd3). https://bugs.webkit.org/show_bug.cgi?id=253547
  Source/WebCore/layout/formattingContexts/inline/text/TextUtil.cpp
Owners: none

REGRESSION: Top bar is jumpy and glitchy on scmp.com https://bugs.webkit.org/show_bug.cgi?id=253503 rdar://106407870
  LayoutTests/platform/ios-wk2/scrollingcoordinator/scrolling-tree/fixed-inside-relative-inside-stacking-overflow-inside-transformed-expected.txt
  LayoutTests/platform/wpe/scrollingcoordinator/scrolling-tree/fixed-inside-stacking-overflow-inside-transformed-expected.txt
  LayoutTests/scrollingcoordinator/scrolling-tree/fixed-inside-relative-inside-stacking-overflow-inside-transformed-expected.txt
  LayoutTests/scrollingcoordinator/scrolling-tree/fixed-inside-relative-inside-stacking-overflow-inside-transformed.html
  Source/WebCore/rendering/RenderLayerCompositor.cpp
Owners: none

AX: inverse role synonyms "presentation" and "none" to make "none" the primary https://bugs.webkit.org/show_bug.cgi?id=224617 rdar://76713760
  LayoutTests/inspector/dom/getAccessibilityPropertiesForNode-expected.txt
  LayoutTests/platform/gtk/inspector/dom/getAccessibilityPropertiesForNode-expected.txt
  Source/WebCore/accessibility/AccessibilityObject.cpp
Owners: @patrickangle

[UI-side compositing] Unpainted regions (missing tiles) when scrolling with the keyboard https://bugs.webkit.org/show_bug.cgi?id=254466 rdar://107163092
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStoreCollection.mm
Owners: none

Simplify valueForImageSliceSide https://bugs.webkit.org/show_bug.cgi?id=248325
  Source/WebCore/css/ComputedStyleExtractor.cpp
Owners: none

Cherry-pick 260880@main (e0fa0f2073f1). https://bugs.webkit.org/show_bug.cgi?id=111329
  LayoutTests/imported/w3c/web-platform-tests/css/css-transitions/transition-important-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-transitions/transition-important.html
  Source/WebCore/style/PropertyCascade.cpp
  Source/WebCore/style/PropertyCascade.h
  Source/WebCore/style/StyleTreeResolver.cpp
  Source/WebCore/style/StyleTreeResolver.h
Owners: none

Re-remove WKView https://bugs.webkit.org/show_bug.cgi?id=252587 rdar://105688385
  Source/WebKit/Modules/OSX_Private.modulemap
  Source/WebKit/Modules/iOS_Private.modulemap
  Source/WebKit/PlatformMac.cmake
  Source/WebKit/UIProcess/API/C/mac/WKPagePrivateMac.mm
  Source/WebKit/UIProcess/API/Cocoa/WKBrowsingContextController.mm
  Source/WebKit/UIProcess/API/Cocoa/WKView.h
  Source/WebKit/UIProcess/API/Cocoa/WKViewPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKThumbnailView.h
  Source/WebKit/UIProcess/API/Cocoa/_WKThumbnailView.mm
  Source/WebKit/UIProcess/API/mac/WKView.mm
  Source/WebKit/UIProcess/API/mac/WKViewInternal.h
  Source/WebKit/UIProcess/Gamepad/mac/UIGamepadProviderMac.mm
  Source/WebKit/UIProcess/Inspector/mac/WebInspectorUIProxyMac.mm
  Source/WebKit/UIProcess/PageClient.h
  Source/WebKit/UIProcess/mac/PageClientImplMac.h
  Source/WebKit/UIProcess/mac/PageClientImplMac.mm
  Source/WebKit/UIProcess/mac/WKFullScreenWindowController.h
  Source/WebKit/UIProcess/mac/WKFullScreenWindowController.mm
  Source/WebKit/UIProcess/mac/WebPopupMenuProxyMac.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Owners: @cdumez

Avoid doing event-related work for CSS transition & animation playback events when no event listener is registered https://bugs.webkit.org/show_bug.cgi?id=254454 rdar://107077986
  LayoutTests/imported/w3c/web-platform-tests/css/css-transitions/transition-events-with-document-change-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-transitions/transition-events-with-document-change.html
  Source/WebCore/animation/DeclarativeAnimation.cpp
  Source/WebCore/animation/DocumentTimeline.cpp
  Source/WebCore/animation/WebAnimation.cpp
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/dom/EventNames.h
Owners: @graouts, @rniwa, @cdumez

Unreviewed, reverting r262122@main. https://bugs.webkit.org/show_bug.cgi?id=254476
  Source/WebKit/Modules/OSX_Private.modulemap
  Source/WebKit/Modules/iOS_Private.modulemap
  Source/WebKit/PlatformMac.cmake
  Source/WebKit/UIProcess/API/C/mac/WKPagePrivateMac.mm
  Source/WebKit/UIProcess/API/Cocoa/WKBrowsingContextController.mm
  Source/WebKit/UIProcess/API/Cocoa/WKView.h
  Source/WebKit/UIProcess/API/Cocoa/WKViewPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKThumbnailView.h
  Source/WebKit/UIProcess/API/Cocoa/_WKThumbnailView.mm
  Source/WebKit/UIProcess/API/mac/WKView.mm
  Source/WebKit/UIProcess/API/mac/WKViewInternal.h
  Source/WebKit/UIProcess/Inspector/mac/WebInspectorUIProxyMac.mm
  Source/WebKit/UIProcess/PageClient.h
  Source/WebKit/UIProcess/mac/PageClientImplMac.h
  Source/WebKit/UIProcess/mac/PageClientImplMac.mm
  Source/WebKit/UIProcess/mac/WKFullScreenWindowController.h
  Source/WebKit/UIProcess/mac/WKFullScreenWindowController.mm
  Source/WebKit/UIProcess/mac/WebPopupMenuProxyMac.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Owners: @cdumez

[WinCairo] Compile error with ninja and ccache inside Batch https://bugs.webkit.org/show_bug.cgi?id=254216 <rdar://problem/107149973>
  Source/cmake/WebKitCCache.cmake
Owners: none

Cherry-pick 262118@main (cf604717c41c). https://bugs.webkit.org/show_bug.cgi?id=253503
  LayoutTests/platform/ios-wk2/scrollingcoordinator/scrolling-tree/fixed-inside-relative-inside-stacking-overflow-inside-transformed-expected.txt
  LayoutTests/platform/wpe/scrollingcoordinator/scrolling-tree/fixed-inside-stacking-overflow-inside-transformed-expected.txt
  LayoutTests/scrollingcoordinator/scrolling-tree/fixed-inside-relative-inside-stacking-overflow-inside-transformed-expected.txt
  LayoutTests/scrollingcoordinator/scrolling-tree/fixed-inside-relative-inside-stacking-overflow-inside-transformed.html
  Source/WebCore/rendering/RenderLayerCompositor.cpp
Owners: none

[GLib] Allow application to provide its ID to the WebContext https://bugs.webkit.org/show_bug.cgi?id=254482
  Source/WebKit/UIProcess/API/APIProcessPoolConfiguration.cpp
  Source/WebKit/UIProcess/API/APIProcessPoolConfiguration.h
  Source/WebKit/UIProcess/API/glib/WebKitWebContext.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebContext.h.in
  Source/WebKit/UIProcess/Launcher/glib/BubblewrapLauncher.cpp
  Source/WebKit/UIProcess/glib/WebProcessPoolGLib.cpp
  Source/WebKit/UIProcess/glib/WebProcessProxyGLib.cpp
Owners: @cdumez, @WebKit/glib-reviewers

VoiceOver not reading entered text in text fields. https://bugs.webkit.org/show_bug.cgi?id=254468 rdar://106958414
  LayoutTests/accessibility/native-text-control-attributed-string-expected.txt
  LayoutTests/platform/mac/accessibility/content-editable-as-textarea-expected.txt
  LayoutTests/platform/mac/accessibility/element-line-rects-and-text-expected.txt
  Source/WebCore/accessibility/mac/AccessibilityObjectMac.mm
Owners: none

Archives on https://webkit.org/build-archives lack content and don't work https://bugs.webkit.org/show_bug.cgi?id=254447 rdar://103536499
  Tools/CISupport/built-product-archive
Owners: @aj062, @JonWBedard, @ryanhaddad

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
