Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

[macOS] Use RunningBoard to manage process priorities https://bugs.webkit.org/show_bug.cgi?id=245752 rdar://100477336
  Source/WTF/Scripts/Preferences/WebPreferencesInternal.yaml
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.cpp
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.h
  Source/WebKit/UIProcess/Cocoa/LegacyDownloadClient.mm
  Source/WebKit/UIProcess/Cocoa/NavigationState.h
  Source/WebKit/UIProcess/Cocoa/NavigationState.mm
  Source/WebKit/UIProcess/GPU/GPUProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/PageClient.h
  Source/WebKit/UIProcess/ProcessAssertion.h
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.h
  Source/WebKit/UIProcess/SuspendedPageProxy.cpp
  Source/WebKit/UIProcess/SuspendedPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/UIProcess/mac/PageClientImplMac.h
  Source/WebKit/UIProcess/mac/WebProcessProxyMac.mm
Owners: @cdumez

Cherry-pick 255549@main (9dd26e36dd84). rdar://100778857
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/remote/git_hub.py
Owners: @facetothefate, @JonWBedard

tvOS 16 Post Commit Open Source Bringup https://bugs.webkit.org/show_bug.cgi?id=246658 rdar://99766486
  Tools/CISupport/build-webkit-org/config.json
  Tools/CISupport/build-webkit-org/factories_unittest.py
  Tools/CISupport/build-webkit-org/public_html/dashboard/Images/TvOS16.png
  Tools/CISupport/build-webkit-org/public_html/dashboard/Images/TvOS16Simulator.png
  Tools/CISupport/build-webkit-org/public_html/dashboard/Scripts/Dashboard.js
  Tools/CISupport/build-webkit-org/public_html/dashboard/Scripts/WebKitBuildbot.js
  Tools/CISupport/build-webkit-org/public_html/dashboard/Styles/Main.css
  Tools/CISupport/build-webkit-org/wkbuild.py
  Tools/CISupport/build-webkit-org/wkbuild_unittest.py
Owners: @aj062, @JonWBedard, @ryanhaddad

Add some missing CSS-Typed-OM functions on the CSS namespace https://bugs.webkit.org/show_bug.cgi?id=246696
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/idlharness-expected.txt
  Source/WebCore/css/DOMCSSNamespace+CSSNumericFactory.idl
  Source/WebCore/css/typedom/CSSNumericFactory.h
Owners: none

[Gardening]: RE-SYNC(255459@main): [ iOS iPadOS ] 7X imported/w3c/web-platform-tests/screen-orientation/(Layout tests) are constant/flaky failures https://bugs.webkit.org/show_bug.cgi?id=246701
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/ipad/TestExpectations
Owners: none

[macOS] Block IOKit in WebContent process based on setting https://bugs.webkit.org/show_bug.cgi?id=246370 rdar://101053348
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Owners: @cdumez

Apply patch. rdar://problem/101296275
  Source/WebCore/rendering/RenderImage.cpp
Owners: none

Add serializer for struct Cookie, struct VideoFrameMetadata, struct NavigationPreloadState
  Source/WebCore/platform/Cookie.h
  Source/WebCore/platform/VideoFrameMetadata.h
  Source/WebCore/platform/WebCorePersistentCoders.cpp
  Source/WebCore/workers/service/NavigationPreloadState.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Owners: @cdumez

Versioning.
  Configurations/Version.xcconfig
Owners: none

watchOS 9 Open Source Bringup https://bugs.webkit.org/show_bug.cgi?id=246700 rdar://99766626
  Tools/CISupport/build-webkit-org/wkbuild.py
  Tools/CISupport/build-webkit-org/wkbuild_unittest.py
Owners: @aj062, @JonWBedard, @ryanhaddad

[PlayStation] Fix JSC build. https://bugs.webkit.org/show_bug.cgi?id=246659
  Source/cmake/OptionsPlayStation.cmake
Owners: none

[Gardening] http/tests/security/contentSecurityPolicy/prefetch-src timeout on Windows WK1 https://bugs.webkit.org/show_bug.cgi?id=246711 rdar://101309438
  LayoutTests/platform/win/TestExpectations
Owners: none

Revert 252432.593@safari-7614-branch (90d371cdf7e3)
  Source/WebCore/rendering/RenderImage.cpp
Owners: none

Remove some SVG bindings https://bugs.webkit.org/show_bug.cgi?id=246245
  LayoutTests/imported/w3c/web-platform-tests/svg/historical-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/svg/historical.html
  LayoutTests/svg/custom/global-constructors-expected.txt
  LayoutTests/svg/custom/insertItemBefore-from-non-list-origin.svg
  LayoutTests/svg/dom/altGlyph-dom-expected.txt
  LayoutTests/svg/dom/baseVal-animVal-crash.html
  LayoutTests/svg/dom/font-face-elements-expected.txt
  LayoutTests/svg/dom/font-face-elements.html
  LayoutTests/svg/dom/resources/altGlyph-dom.js
  LayoutTests/svg/dom/svg2-inheritance-expected.txt
  LayoutTests/svg/dom/svg2-inheritance.html
  LayoutTests/svg/dynamic-updates/SVGCursorElement-svgdom-x-prop-expected.txt
  LayoutTests/svg/dynamic-updates/SVGCursorElement-svgdom-x-prop.html
  LayoutTests/svg/dynamic-updates/SVGCursorElement-svgdom-y-prop-expected.txt
  LayoutTests/svg/dynamic-updates/SVGCursorElement-svgdom-y-prop.html
  Source/WebCore/CMakeLists.txt
  Source/WebCore/DerivedSources-input.xcfilelist
  Source/WebCore/DerivedSources-output.xcfilelist
  Source/WebCore/DerivedSources.make
  Source/WebCore/Sources.txt
  Source/WebCore/svg/SVGAltGlyphDefElement.idl
  Source/WebCore/svg/SVGAltGlyphElement.idl
  Source/WebCore/svg/SVGAltGlyphItemElement.idl
  Source/WebCore/svg/SVGCursorElement.idl
  Source/WebCore/svg/SVGFontFaceElement.idl
  Source/WebCore/svg/SVGFontFaceFormatElement.idl
  Source/WebCore/svg/SVGFontFaceNameElement.idl
  Source/WebCore/svg/SVGFontFaceSrcElement.idl
  Source/WebCore/svg/SVGFontFaceUriElement.idl
  Source/WebCore/svg/SVGGlyphElement.idl
  Source/WebCore/svg/SVGGlyphRefElement.idl
  Source/WebCore/svg/SVGHKernElement.idl
  Source/WebCore/svg/SVGMissingGlyphElement.idl
  Source/WebCore/svg/SVGVKernElement.idl
  Source/WebCore/svg/svgtags.in
Owners: none

Add command line option to enable/disable ResourceLoadStatistics when launching MiniBrowser https://bugs.webkit.org/show_bug.cgi?id=246233
  Tools/MiniBrowser/playstation/MainWindow.cpp
  Tools/MiniBrowser/playstation/MainWindow.h
  Tools/MiniBrowser/playstation/main.cpp
Owners: @JonWBedard

Crash in RenderImage::paintReplaced https://bugs.webkit.org/show_bug.cgi?id=246712 rdar://101205947
  Source/WebCore/rendering/RenderImage.cpp
Owners: none

Versioning.
  Configurations/Version.xcconfig
Owners: none

Cherry-pick 255650@main (1f96c91d66dc). rdar://99397362
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/__init__.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/terminal.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/timer.py
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/branch.py
Owners: @JonWBedard, @facetothefate

[iOS] "text/uri-list" can't be read upon paste if the pasteboard set NSData for "public.url" https://bugs.webkit.org/show_bug.cgi?id=246699 rdar://96854364
  Source/WebCore/platform/ios/PlatformPasteboardIOS.mm
  Tools/TestWebKitAPI/Configurations/TestWebKitAPI.xcconfig
  Tools/TestWebKitAPI/Tests/WebKitCocoa/dump-datatransfer-types.html
  Tools/TestWebKitAPI/Tests/ios/UIPasteboardTests.mm
Owners: none

Cherry-pick 255683@main (06adbe55de54). rdar://101191143
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/trace.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/trace_unittest.py
Owners: @facetothefate, @JonWBedard

Remove WebArchiveDebugMode https://bugs.webkit.org/show_bug.cgi?id=245488 <rdar://problem/88406961>
  LayoutTests/platform/wk2/webarchive/loading/test-loading-archive-subresource-null-mimetype-expected.txt
  LayoutTests/webarchive/loading/test-loading-archive-subresource-null-mimetype-expected.txt
  Source/WTF/Scripts/Preferences/WebPreferences.yaml
  Source/WebCore/editing/cocoa/WebContentReaderCocoa.mm
  Source/WebCore/loader/DocumentLoader.cpp
  Source/WebCore/loader/DocumentLoader.h
  Source/WebCore/loader/ResourceLoader.cpp
  Source/WebCore/loader/archive/ArchiveResourceCollection.cpp
  Source/WebCore/loader/archive/ArchiveResourceCollection.h
  Source/WebCore/loader/archive/cf/LegacyWebArchive.cpp
  Source/WebCore/loader/archive/cf/LegacyWebArchive.h
  Source/WebCore/page/SecurityOrigin.cpp
  Source/WebKit/UIProcess/API/C/WKPreferences.cpp
  Source/WebKit/UIProcess/API/C/WKPreferencesRefPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKPreferences.mm
  Source/WebKit/UIProcess/API/Cocoa/WKPreferencesPrivate.h
  Source/WebKitLegacy/mac/WebView/WebView.mm
  Tools/TestWebKitAPI/Tests/mac/LoadWebArchive.mm
Owners: @rniwa, @cdumez

Move BuilderState::createFilterOperations() to a separate file https://bugs.webkit.org/show_bug.cgi?id=246675
  Source/WebCore/Sources.txt
  Source/WebCore/css/CSSFilterImageValue.cpp
  Source/WebCore/style/ColorFromPrimitiveValue.cpp
  Source/WebCore/style/ColorFromPrimitiveValue.h
  Source/WebCore/style/FilterOperationsBuilder.cpp
  Source/WebCore/style/FilterOperationsBuilder.h
  Source/WebCore/style/StyleBuilderConverter.h
  Source/WebCore/style/StyleBuilderState.cpp
  Source/WebCore/style/StyleBuilderState.h
Owners: none

Fix broken Windows build after r255677 https://bugs.webkit.org/show_bug.cgi?id=246715 rdar://problem/101311092
  Source/WebCore/css/parser/CSSParserImpl.cpp
Owners: none

Add a codepath to adjust URLs and plain text before writing to the system pasteboard https://bugs.webkit.org/show_bug.cgi?id=246635 rdar://101212078
  Source/WebCore/Modules/async-clipboard/ClipboardItemBindingsDataSource.cpp
  Source/WebCore/Modules/async-clipboard/ClipboardItemBindingsDataSource.h
  Source/WebCore/dom/DataTransfer.cpp
  Source/WebCore/dom/DataTransfer.h
  Source/WebCore/dom/DataTransfer.idl
  Source/WebCore/dom/DataTransferItemList.cpp
  Source/WebCore/dom/DataTransferItemList.h
  Source/WebCore/dom/DataTransferItemList.idl
  Source/WebCore/editing/Editor.cpp
  Source/WebCore/page/ChromeClient.h
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.h
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/WebPage.h
Owners: @rniwa, @cdumez

[Xcode] Fix race condition when generating IDLFileNamesList.txt https://bugs.webkit.org/show_bug.cgi?id=246718
  Source/WebCore/DerivedSources-output.xcfilelist
  Source/WebCore/DerivedSources.make
Owners: none

[webkitdirs] Support building from a symlink base path https://bugs.webkit.org/show_bug.cgi?id=246720
  Tools/Scripts/webkitdirs.pm
Owners: @JonWBedard

Add preference for size of fullscreen window https://bugs.webkit.org/show_bug.cgi?id=246728 rdar://101319114
  Source/WTF/Scripts/Preferences/WebPreferences.yaml
  Source/WebKit/UIProcess/API/Cocoa/WKPreferences.mm
  Source/WebKit/UIProcess/API/Cocoa/WKPreferencesPrivate.h
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
Owners: @cdumez

Add an experimental feature control for CanvasRenderingContext2D.filter API https://bugs.webkit.org/show_bug.cgi?id=246697
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
Owners: none

[JSC] Simplify Finalization in DFG / FTL https://bugs.webkit.org/show_bug.cgi?id=246724 rdar://101165751
  Source/JavaScriptCore/dfg/DFGFailedFinalizer.h
  Source/JavaScriptCore/dfg/DFGFinalizer.h
  Source/JavaScriptCore/dfg/DFGJITFinalizer.h
  Source/JavaScriptCore/dfg/DFGPlan.cpp
  Source/JavaScriptCore/ftl/FTLJITFinalizer.h
Owners: @WebKit/jsc-reviewers

[WinCairo] Use RenderThemeAdwaita instead of RenderThemeWin https://bugs.webkit.org/show_bug.cgi?id=246604
  Source/WTF/wtf/PlatformUse.h
  Source/WebCore/CMakeLists.txt
  Source/WebCore/Modules/mediacontrols/MediaControlsHost.cpp
  Source/WebCore/PlatformPlayStation.cmake
  Source/WebCore/PlatformWin.cmake
  Source/WebCore/platform/adwaita/ScrollbarThemeAdwaita.cpp
  Source/WebCore/rendering/RenderThemeAdwaita.cpp
  Source/WebKit/UIProcess/win/WebPopupMenuProxyWin.cpp
  Source/WebKitLegacy/win/WebKitDLL.cpp
  Source/cmake/OptionsWin.cmake
Owners: @dcrousso, @WebKit/glib-reviewers, @cdumez

Add cropping support to WebCodecsVideoFrame copyTo https://bugs.webkit.org/show_bug.cgi?id=246683 rdar://problem/101282697
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-copyTo.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-copyTo.any.js
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-copyTo.any.worker-expected.txt
  Source/WebCore/platform/graphics/cv/VideoFrameCV.mm
Owners: none

Make WebCodecs isConfigSupported more accurate by relying on codec creation code path https://bugs.webkit.org/show_bug.cgi?id=246677 rdar://problem/101278486
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any.worker_vp9_p2-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_vp9_p2-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/reconfiguring-encoder.https.any.worker_vp9_p2-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/reconfiguring-encoder.https.any_vp9_p2-expected.txt
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoder.h
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoder.idl
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoderConfig.h
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.h
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.idl
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoderConfig.h
  Source/WebCore/dom/ScriptExecutionContext.cpp
  Source/WebCore/dom/ScriptExecutionContext.h
  Source/WebCore/platform/VideoDecoder.h
  Source/WebCore/platform/VideoEncoder.h
Owners: @rniwa, @cdumez

Make WebCodecsEncodedVideoChunk serializable https://bugs.webkit.org/show_bug.cgi?id=246610 rdar://problem/101239648
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/chunk-serialization.any-expected.txt
  Source/WebCore/Headers.cmake
  Source/WebCore/Modules/webcodecs/WebCodecsEncodedVideoChunk.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsEncodedVideoChunk.h
  Source/WebCore/Modules/webcodecs/WebCodecsEncodedVideoChunkData.h
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
  Source/WebCore/bindings/js/SerializedScriptValue.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Owners: @cdumez

SuspendedPageProxy should keep Ref<WebFrameProxy> instead of just the FrameIdentifier https://bugs.webkit.org/show_bug.cgi?id=246729 rdar://101309133
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/SuspendedPageProxy.cpp
  Source/WebKit/UIProcess/SuspendedPageProxy.h
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
Owners: @cdumez

Canvas should be able to draw a WebCodecsVideoFrame https://bugs.webkit.org/show_bug.cgi?id=246392 rdar://problem/101066016
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-alpha.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-canvasImageSource-expected.txt
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/webcodecs/videoFrame-drawImage.any-expected.txt
  LayoutTests/platform/mac-bigsur-wk2/imported/w3c/web-platform-tests/webcodecs/videoFrame-drawImage.any-expected.txt
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.h
  Source/WebCore/html/canvas/CanvasDrawImage.idl
  Source/WebCore/html/canvas/CanvasFillStrokeStyles.idl
  Source/WebCore/html/canvas/CanvasRenderingContext2DBase.cpp
  Source/WebCore/html/canvas/CanvasRenderingContext2DBase.h
  Source/WebCore/inspector/InspectorCanvas.cpp
  Source/WebCore/inspector/InspectorCanvasCallTracer.h
  Source/WebCore/platform/VideoFrame.cpp
  Source/WebCore/platform/VideoFrame.h
  Source/WebCore/platform/graphics/GraphicsContext.cpp
  Source/WebCore/platform/graphics/GraphicsContext.h
  Source/WebCore/platform/graphics/cv/VideoFrameCV.mm
  Source/WebCore/platform/graphics/displaylists/DisplayListRecorder.cpp
  Source/WebCore/platform/graphics/displaylists/DisplayListRecorder.h
Owners: @cdumez, @rniwa, @dcrousso, @patrickangle

[SOUP] Spammed by 0-byte downloads on imgur.com https://bugs.webkit.org/show_bug.cgi?id=245625
  Source/WebKit/UIProcess/API/glib/WebKitWebView.cpp
  Tools/TestWebKitAPI/Tests/WebKitGLib/TestResources.cpp
Owners: @WebKit/glib-reviewers

[Nicosia] AsyncScrolling: lock/unlock layers for hit testing is not implemented https://bugs.webkit.org/show_bug.cgi?id=246687
  Source/WebCore/page/scrolling/ThreadedScrollingTree.cpp
  Source/WebCore/page/scrolling/ThreadedScrollingTree.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeMac.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeMac.mm
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeNicosia.cpp
Owners: @cdumez, @magomez, @zdobersek

Do not use the CoreAnimation big angle workaround for 2d rotation https://bugs.webkit.org/show_bug.cgi?id=243864
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.cpp
Owners: none

AsyncScrolling: add ScrollingTreePositionedNode base class https://bugs.webkit.org/show_bug.cgi?id=246453
  Source/WebCore/Sources.txt
  Source/WebCore/SourcesCocoa.txt
  Source/WebCore/SourcesGTK.txt
  Source/WebCore/SourcesWPE.txt
  Source/WebCore/page/scrolling/ScrollingTreeNode.h
  Source/WebCore/page/scrolling/ScrollingTreePositionedNode.cpp
  Source/WebCore/page/scrolling/ScrollingTreePositionedNode.h
  Source/WebCore/page/scrolling/cocoa/ScrollingTreeFixedNode.mm
  Source/WebCore/page/scrolling/cocoa/ScrollingTreePositionedNode.h
  Source/WebCore/page/scrolling/cocoa/ScrollingTreePositionedNode.mm
  Source/WebCore/page/scrolling/cocoa/ScrollingTreePositionedNodeCocoa.h
  Source/WebCore/page/scrolling/cocoa/ScrollingTreePositionedNodeCocoa.mm
  Source/WebCore/page/scrolling/mac/ScrollingTreeMac.mm
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeFixedNode.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreePositionedNode.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreePositionedNode.h
  Source/WebCore/page/scrolling/nicosia/ScrollingTreePositionedNodeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreePositionedNodeNicosia.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingTree.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteScrollingCoordinatorProxyIOS.mm
Owners: @cdumez, @magomez, @zdobersek

[WGSL] AST Visitor helper https://bugs.webkit.org/show_bug.cgi?id=246660 rdar://problem/101268329
  Source/WebGPU/WGSL/AST/AST.h
  Source/WebGPU/WGSL/AST/ASTArrayAccess.h
  Source/WebGPU/WGSL/AST/ASTForward.h
  Source/WebGPU/WGSL/AST/ASTVisitor.cpp
  Source/WebGPU/WGSL/AST/ASTVisitor.h
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
Owners: none
