Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

[git-webkit] Prefer radar over bugzilla when cherry-picking https://bugs.webkit.org/show_bug.cgi?id=246361 rdar://101046976
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/cherry_pick.py
Owners: @facetothefate, @JonWBedard

Have DisplayLink use IPC::Connection::UniqueID, rather than IPC::Connection https://bugs.webkit.org/show_bug.cgi?id=246320 rdar://101014516
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/UIProcess/WebProcessPool.h
  Source/WebKit/UIProcess/mac/DisplayLink.cpp
  Source/WebKit/UIProcess/mac/DisplayLink.h
Owners: @cdumez

Fix !ENABLE(ACCESSIBILITY) build after 255279@main https://bugs.webkit.org/show_bug.cgi?id=246362
  Source/WebCore/accessibility/AXObjectCache.h
Owners: none

Handle transform changes causing overflow updates https://bugs.webkit.org/show_bug.cgi?id=243812
  LayoutTests/TestExpectations
  LayoutTests/webanimations/accelerated-web-animation-with-single-interval-and-easing-y-axis-above-1.html
  Source/WebCore/rendering/RenderElement.cpp
  Source/WebCore/rendering/RenderElement.h
  Source/WebCore/rendering/RenderFragmentedFlow.cpp
  Source/WebCore/rendering/RenderFragmentedFlow.h
Owners: none

Fix issue where iframe content wasn't included in the accessibility tree
  LayoutTests/platform/mac/accessibility/loading-iframe-updates-axtree-expected.txt
  LayoutTests/platform/win/TestExpectations
  LayoutTests/platform/wincairo-wk1/TestExpectations
  LayoutTests/platform/wk2/TestExpectations
  Source/WebCore/rendering/RenderWidget.cpp
Owners: none

Account for CTM scale when deciding the image resampling algorithm
  ManualTests/image-resampling-with-scale.html
  Source/WebCore/rendering/ImageQualityController.cpp
Owners: none

Add basic loading to _WKWebExtensionController and add _WKWebExtensionControllerDelegate. https://bugs.webkit.org/show_bug.cgi?id=246353
  Source/WebCore/en.lproj/Localizable.strings
  Source/WebInspectorUI/Localizations/en.lproj/localizedStrings.js
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionContext.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionContext.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionController.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionControllerDelegate.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionControllerInternal.h
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionControllerCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtension.h
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/UIProcess/Extensions/WebExtensionController.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/SourcesCocoa.txt
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionController.mm
Owners: @dcrousso, @patrickangle, @cdumez

[Live Range Selection] Some tests fail due to ApplyStyleCommand not canonicalizing ending selection https://bugs.webkit.org/show_bug.cgi?id=246314
  LayoutTests/editing/execCommand/remove-format-background-color-live-range-expected.txt
  LayoutTests/editing/execCommand/remove-format-background-color-live-range.html
  LayoutTests/editing/execCommand/remove-format-image-live-range-expected.txt
  LayoutTests/editing/execCommand/remove-format-image-live-range.html
  LayoutTests/editing/execCommand/remove-format-in-table-cell-live-range-expected.txt
  LayoutTests/editing/execCommand/remove-format-in-table-cell-live-range.html
  LayoutTests/editing/execCommand/remove-format-textdecoration-in-iframe-live-range-expected.txt
  LayoutTests/editing/execCommand/remove-format-textdecoration-in-iframe-live-range.html
  LayoutTests/editing/execCommand/remove-formatting-2-live-range-expected.txt
  LayoutTests/editing/execCommand/remove-formatting-2-live-range.html
  LayoutTests/editing/execCommand/remove-formatting-live-range-expected.txt
  LayoutTests/editing/execCommand/remove-formatting-live-range.html
  LayoutTests/editing/style/apply-font-size-to-multiple-nodes-live-range-expected.txt
  LayoutTests/editing/style/apply-font-size-to-multiple-nodes-live-range.html
  LayoutTests/editing/style/apply-style-atomic-live-range-expected.txt
  LayoutTests/editing/style/apply-style-atomic-live-range.html
  LayoutTests/editing/style/invalid-font-size-live-range-expected.txt
  LayoutTests/editing/style/invalid-font-size-live-range.html
  LayoutTests/editing/style/remove-styled-element-with-style-span-live-range-expected.txt
  LayoutTests/editing/style/remove-styled-element-with-style-span-live-range.html
  LayoutTests/editing/undo/redo-split-text-node-live-range-expected.txt
  LayoutTests/editing/undo/redo-split-text-node-live-range.html
  LayoutTests/platform/ios/editing/execCommand/remove-formatting-2-live-range-expected.txt
  Source/WebCore/editing/ApplyStyleCommand.cpp
Owners: @rniwa

[Flatpak SDK][WebDriver] Incompatible python and pytest versions https://bugs.webkit.org/show_bug.cgi?id=246317
  Tools/Scripts/webkitpy/__init__.py
Owners: @JonWBedard

Add RemoteLayerTreeDrawingAreaMac, RemoteLayerTreeDrawingAreaProxyMac and RemoteScrollingCoordinatorProxyMac https://bugs.webkit.org/show_bug.cgi?id=246363 rdar://101048413
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.mm
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingCoordinatorProxyMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingCoordinatorProxyMac.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebPage/DrawingArea.cpp
  Source/WebKit/WebProcess/WebPage/mac/RemoteLayerTreeDrawingAreaMac.h
  Source/WebKit/WebProcess/WebPage/mac/RemoteLayerTreeDrawingAreaMac.mm
Owners: @cdumez

Generate more serialization code, separating DaemonCoders from ArgumentCoders https://bugs.webkit.org/show_bug.cgi?id=246367 rdar://101053162
  Source/WebCore/platform/RegistrableDomain.h
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Platform/IPC/DaemonCoders.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/Shared/WebPushDaemonConnectionConfiguration.h
  Source/WebKit/Shared/WebPushDaemonConnectionConfiguration.serialization.in
  Source/WebKit/Shared/WebPushMessage.h
  Source/WebKit/Shared/WebPushMessage.serialization.in
  Source/WebKit/UIProcess/API/C/WKPage.cpp
  Source/WebKit/UIProcess/API/Cocoa/WKWebsiteDataStore.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Owners: @cdumez

`InstallGitLFS.install()` should support alternate URLs for `git-lfs` GitHub release asset URL https://bugs.webkit.org/show_bug.cgi?id=246306 rdar://problem/101002204
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/install_git_lfs.py
Owners: @facetothefate, @JonWBedard

[PlayStation][gpup]Add platform specific entry for gpu process on playstation port. https://bugs.webkit.org/show_bug.cgi?id=246024
  Source/WebKit/GPUProcess/EntryPoint/playstation/GPUProcessMain.cpp
  Source/WebKit/PlatformPlayStation.cmake
Owners: none

[CMake][PlayStation] Specify WebP names https://bugs.webkit.org/show_bug.cgi?id=246365
  Source/cmake/OptionsPlayStation.cmake
Owners: none

[PlayStation] Use OpenSSL_LOAD_AT in NetworkProcess https://bugs.webkit.org/show_bug.cgi?id=246374
  Source/WebKit/NetworkProcess/EntryPoint/playstation/NetworkProcessMain.cpp
Owners: @cdumez

CSS 3D transform by matrix3d with translations doesn't take page zoom into account https://bugs.webkit.org/show_bug.cgi?id=164580
  LayoutTests/fast/css/getComputedStyle/computed-style-with-zoom-expected.txt
  LayoutTests/fast/css/getComputedStyle/computed-style-with-zoom.html
  LayoutTests/transforms/3d/general/cssmatrix-3d-zoom-expected.html
  LayoutTests/transforms/3d/general/cssmatrix-3d-zoom-expected.png
  LayoutTests/transforms/3d/general/cssmatrix-3d-zoom-expected.txt
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/TransformFunctions.cpp
  Source/WebCore/platform/graphics/transforms/TransformationMatrix.cpp
  Source/WebCore/platform/graphics/transforms/TransformationMatrix.h
Owners: none

[JSC] Optimize ObjectToString in DFG / FTL https://bugs.webkit.org/show_bug.cgi?id=246359 rdar://101046029
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGClobberize.h
  Source/JavaScriptCore/dfg/DFGDoesGC.cpp
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGNodeType.h
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/dfg/DFGOperations.h
  Source/JavaScriptCore/dfg/DFGPredictionPropagationPhase.cpp
  Source/JavaScriptCore/dfg/DFGSafeToExecute.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT32_64.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/ftl/FTLAbstractHeap.cpp
  Source/JavaScriptCore/ftl/FTLAbstractHeapRepository.cpp
  Source/JavaScriptCore/ftl/FTLAbstractHeapRepository.h
  Source/JavaScriptCore/ftl/FTLCapabilities.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/jit/JITOperations.cpp
  Source/JavaScriptCore/runtime/ArrayPrototype.cpp
  Source/JavaScriptCore/runtime/ObjectPrototype.cpp
  Source/JavaScriptCore/runtime/ObjectPrototypeInlines.h
  Source/JavaScriptCore/runtime/StructureRareData.h
  Source/JavaScriptCore/runtime/StructureRareDataInlines.h
Owners: @WebKit/jsc-reviewers

[iOS] Paste alert should not show up in WebKit apps when presenting the edit menu https://bugs.webkit.org/show_bug.cgi?id=246364 rdar://100730751
  Source/WebKit/Shared/EditorState.cpp
  Source/WebKit/Shared/EditorState.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/PasteMixedContent.mm
Owners: @cdumez

Fix WKContentRuleListStore API tests after 255298@main https://bugs.webkit.org/show_bug.cgi?id=246391
  Source/WebCore/contentextensions/ContentExtensionActions.cpp
  Source/WebKit/UIProcess/API/APIContentRuleListStore.h
Owners: @cdumez

Network process should check firstPartyForCookies is an expected URL https://bugs.webkit.org/show_bug.cgi?id=244068 rdar://99063901
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkProcess.messages.in
  Source/WebKit/NetworkProcess/NetworkProcessCreationParameters.h
  Source/WebKit/NetworkProcess/NetworkProcessCreationParameters.serialization.in
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ProcessSwapOnNavigation.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKHTTPCookieStore.mm
Owners: @cdumez

Merge 255405@main - Fix !ENABLE(ACCESSIBILITY) build after 255279@main https://bugs.webkit.org/show_bug.cgi?id=246362
  Source/WebCore/accessibility/AXObjectCache.h
Owners: none

Merge 255407@main - Fix issue where iframe content wasn't included in the accessibility tree
  LayoutTests/platform/mac/accessibility/loading-iframe-updates-axtree-expected.txt
  LayoutTests/platform/win/TestExpectations
  LayoutTests/platform/wincairo-wk1/TestExpectations
  LayoutTests/platform/wk2/TestExpectations
  Source/WebCore/rendering/RenderWidget.cpp
Owners: none

Merge 255416@main - CSS 3D transform by matrix3d with translations doesn't take page zoom into account https://bugs.webkit.org/show_bug.cgi?id=164580
  LayoutTests/fast/css/getComputedStyle/computed-style-with-zoom-expected.txt
  LayoutTests/fast/css/getComputedStyle/computed-style-with-zoom.html
  LayoutTests/transforms/3d/general/cssmatrix-3d-zoom-expected.html
  LayoutTests/transforms/3d/general/cssmatrix-3d-zoom-expected.png
  LayoutTests/transforms/3d/general/cssmatrix-3d-zoom-expected.txt
  Source/WebCore/css/TransformFunctions.cpp
  Source/WebCore/platform/graphics/transforms/TransformationMatrix.cpp
  Source/WebCore/platform/graphics/transforms/TransformationMatrix.h
Owners: none

FrameIdentifier should identify Frame instead of WebFrameLoaderClient https://bugs.webkit.org/show_bug.cgi?id=246377 rdar://101057246
  Source/WebCore/dom/Document.cpp
  Source/WebCore/inspector/InspectorFrontendHost.cpp
  Source/WebCore/loader/DocumentLoader.cpp
  Source/WebCore/loader/EmptyClients.cpp
  Source/WebCore/loader/EmptyFrameLoaderClient.h
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/loader/FrameLoader.h
  Source/WebCore/loader/FrameLoaderClient.h
  Source/WebCore/loader/NavigationRequester.cpp
  Source/WebCore/loader/PolicyChecker.cpp
  Source/WebCore/loader/ResourceLoader.cpp
  Source/WebCore/loader/SubresourceLoader.cpp
  Source/WebCore/loader/cache/CachedResource.cpp
  Source/WebCore/loader/cache/CachedResourceLoader.cpp
  Source/WebCore/page/Frame.cpp
  Source/WebCore/page/Frame.h
  Source/WebCore/page/FrameView.cpp
  Source/WebCore/testing/Internals.cpp
  Source/WebKit/WebProcess/Network/WebLoaderStrategy.cpp
  Source/WebKit/WebProcess/Storage/RemoteWorkerFrameLoaderClient.cpp
  Source/WebKit/WebProcess/Storage/RemoteWorkerFrameLoaderClient.h
  Source/WebKit/WebProcess/Storage/WebSWContextManagerConnection.cpp
  Source/WebKit/WebProcess/Storage/WebSharedWorkerContextManagerConnection.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.h
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.mm
Owners: @rniwa, @cdumez, @dcrousso, @patrickangle

Add support for AVC H264 WebCodecsVideoDecoder https://bugs.webkit.org/show_bug.cgi?id=246141 rdar://problem/100844377
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any.worker_h264_avc-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any_h264_avc-expected.txt
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.iOS.exp
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.iOSsim.exp
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.mac.exp
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/WebKit/WebKitDecoder.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/WebKit/WebKitDecoder.mm
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoDecoderH264.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoDecoderH264.mm
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoDecoderH265.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoDecoderH265.mm
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.h
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.messages.in
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.mm
  Source/WebKit/WebProcess/GPU/media/RemoteVideoCodecFactory.cpp
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.cpp
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.h
Owners: @cdumez

[WinCairo] Unreviewed test gardening https://bugs.webkit.org/show_bug.cgi?id=240439
  LayoutTests/platform/wincairo/TestExpectations
Owners: none

Validate planeSize and planeEnd in https://w3c.github.io/webcodecs/#videoframe-compute-layout-and-allocation-size https://bugs.webkit.org/show_bug.cgi?id=246268 rdar://problem/100968161
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-copyTo.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-copyTo.any.worker-expected.txt
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrameAlgorithms.cpp
Owners: none

[JSC] better compilation defaults for arm 32-bit https://bugs.webkit.org/show_bug.cgi?id=244253
  Source/JavaScriptCore/runtime/Options.cpp
Owners: @WebKit/jsc-reviewers

[Nicosia] AsyncScrolling: snap scrolling doesn't work https://bugs.webkit.org/show_bug.cgi?id=246277
  Source/WebCore/page/scrolling/AsyncScrollingCoordinator.cpp
  Source/WebCore/page/scrolling/AsyncScrollingCoordinator.h
  Source/WebCore/page/scrolling/ScrollingTree.h
  Source/WebCore/page/scrolling/ThreadedScrollingTree.cpp
  Source/WebCore/page/scrolling/ThreadedScrollingTree.h
  Source/WebCore/page/scrolling/ThreadedScrollingTreeScrollingNodeDelegate.cpp
  Source/WebCore/page/scrolling/ThreadedScrollingTreeScrollingNodeDelegate.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeFrameScrollingNodeMac.mm
  Source/WebCore/page/scrolling/mac/ScrollingTreeScrollingNodeDelegateMac.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeScrollingNodeDelegateMac.mm
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeFrameScrollingNodeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeOverflowScrollingNodeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeScrollingNodeDelegateNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeScrollingNodeDelegateNicosia.h
  Source/WebCore/platform/ScrollAnimator.cpp
  Source/WebCore/platform/ScrollingEffectsController.cpp
Owners: @cdumez, @magomez, @zdobersek

[GStreamer] Passing unexpected value type to g_object_set() leads to buffer over-read https://bugs.webkit.org/show_bug.cgi?id=246334
  Source/WebCore/platform/mediastream/gstreamer/GStreamerVideoCapturer.cpp
Owners: @philn

Merge 255427@main - [GStreamer] Passing unexpected value type to g_object_set() leads to buffer over-read https://bugs.webkit.org/show_bug.cgi?id=246334
  Source/WebCore/platform/mediastream/gstreamer/GStreamerVideoCapturer.cpp
Owners: @philn

[GTK] Add missing system libraries after 255081@main https://bugs.webkit.org/show_bug.cgi?id=246397
  Tools/gtk/dependencies/apt
Owners: @WebKit/glib-reviewers

Merge 255425@main - [JSC] better compilation defaults for arm 32-bit https://bugs.webkit.org/show_bug.cgi?id=244253
  Source/JavaScriptCore/runtime/Options.cpp
Owners: @WebKit/jsc-reviewers

Implement WebCodecs VideoFrame copyTo https://bugs.webkit.org/show_bug.cgi?id=246210 rdar://problem/100893780
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-copyTo.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-copyTo.any.js
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-copyTo.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-copyTo.crossOriginIsolated.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-copyTo.crossOriginIsolated.https.any.worker-expected.txt
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.iOS.exp
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.iOSsim.exp
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.mac.exp
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/WebKit/WebKitUtilities.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/WebKit/WebKitUtilities.mm
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrameAlgorithms.cpp
  Source/WebCore/platform/graphics/cv/VideoFrameCV.mm
Owners: none

Add support for AVC H264 WebCodecsVideoEncoder https://bugs.webkit.org/show_bug.cgi?id=246150 rdar://problem/100851081
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_h264_avc-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/reconfiguring-encoder.https.any.worker_h264_avc-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/reconfiguring-encoder.https.any_h264_avc-expected.txt
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.iOS.exp
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.iOSsim.exp
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.mac.exp
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/WebKit/WebKitEncoder.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/WebKit/WebKitEncoder.mm
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/base/RTCVideoEncoder.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoEncoderH264.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoEncoderH264.mm
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoEncoderH265.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoEncoderH265.mm
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.h
  Source/WebCore/platform/LibWebRTCVPXVideoEncoder.cpp
  Source/WebCore/platform/LibWebRTCVPXVideoEncoder.h
  Source/WebCore/platform/VideoEncoder.cpp
  Source/WebCore/platform/VideoEncoder.h
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.h
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.messages.in
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.mm
  Source/WebKit/WebProcess/GPU/media/RemoteVideoCodecFactory.cpp
  Source/WebKit/WebProcess/GPU/media/RemoteVideoCodecFactory.h
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.cpp
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.h
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.messages.in
Owners: @cdumez

[GStreamer] Introduce workaround for race condition in appsink
  Source/WebCore/platform/GStreamer.cmake
  Source/WebCore/platform/graphics/gstreamer/AppSinkWorkaround.cpp
  Source/WebCore/platform/graphics/gstreamer/AppSinkWorkaround.h
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.cpp
  Tools/Scripts/webkitpy/style/checker.py
Owners: @philn, @JonWBedard

Misc compiler warnings, mid October 2022 edition https://bugs.webkit.org/show_bug.cgi?id=246295
  Source/WebCore/css/CSSValue.cpp
  Source/WebCore/css/StyleRule.cpp
  Source/WebCore/html/canvas/WebGL2RenderingContext.cpp
  Source/WebCore/platform/VideoPixelFormat.cpp
  Source/WebCore/platform/graphics/ColorBlending.cpp
Owners: @cdumez, @rniwa

Resync web-platform-tests/screen-orientation from upstream https://bugs.webkit.org/show_bug.cgi?id=246382
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/META.yml
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/active-lock.html
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/lock-basic-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/lock-basic.html
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/lock-sandboxed-iframe-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/lock-sandboxed-iframe.html
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/non-fully-active-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/non-fully-active.html
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/onchange-event-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/onchange-event-subframe.html
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/onchange-event.html
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/orientation-reading-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/orientation-reading.html
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/resources/iframe-listen-orientation-change.html
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/resources/sandboxed-iframe-locking.html
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/w3c-import.log
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/screen-orientation/lock-sandboxed-iframe-expected.txt
Owners: none

Unreviewed, reverting r255421@main. https://bugs.webkit.org/show_bug.cgi?id=246401
  Source/WebCore/dom/Document.cpp
  Source/WebCore/inspector/InspectorFrontendHost.cpp
  Source/WebCore/loader/DocumentLoader.cpp
  Source/WebCore/loader/EmptyClients.cpp
  Source/WebCore/loader/EmptyFrameLoaderClient.h
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/loader/FrameLoader.h
  Source/WebCore/loader/FrameLoaderClient.h
  Source/WebCore/loader/NavigationRequester.cpp
  Source/WebCore/loader/PolicyChecker.cpp
  Source/WebCore/loader/ResourceLoader.cpp
  Source/WebCore/loader/SubresourceLoader.cpp
  Source/WebCore/loader/cache/CachedResource.cpp
  Source/WebCore/loader/cache/CachedResourceLoader.cpp
  Source/WebCore/page/Frame.cpp
  Source/WebCore/page/Frame.h
  Source/WebCore/page/FrameView.cpp
  Source/WebCore/testing/Internals.cpp
  Source/WebKit/WebProcess/Network/WebLoaderStrategy.cpp
  Source/WebKit/WebProcess/Storage/RemoteWorkerFrameLoaderClient.cpp
  Source/WebKit/WebProcess/Storage/RemoteWorkerFrameLoaderClient.h
  Source/WebKit/WebProcess/Storage/WebSWContextManagerConnection.cpp
  Source/WebKit/WebProcess/Storage/WebSharedWorkerContextManagerConnection.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.h
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.mm
Owners: @rniwa, @cdumez, @dcrousso, @patrickangle

Cherry-pick 255370@main (dc2cb0fa4c7f). rdar://100642035
  Tools/Scripts/libraries/webkitcorepy/setup.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/__init__.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/subprocess_utils.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/tests/subprocess_utils_unittest.py
Owners: @JonWBedard
