Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

Versioning.
  Configurations/Version.xcconfig
Owners: none

Update WebPage::fromCorePage similarly to WebKitLegacy https://bugs.webkit.org/show_bug.cgi?id=254505 rdar://problem/107259664
  Source/WebKit/WebProcess/Inspector/RemoteWebInspectorUI.cpp
  Source/WebKit/WebProcess/Inspector/WebInspectorUI.cpp
  Source/WebKit/WebProcess/Inspector/WebInspectorUIExtensionController.cpp
  Source/WebKit/WebProcess/Inspector/WebInspectorUIExtensionController.h
  Source/WebKit/WebProcess/Network/NetworkProcessConnection.cpp
  Source/WebKit/WebProcess/Network/WebLoaderStrategy.cpp
  Source/WebKit/WebProcess/Storage/WebSWClientConnection.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebBadgeClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebPermissionController.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebResourceLoadObserver.cpp
  Source/WebKit/WebProcess/WebPage/VisitedLinkTableController.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPageOverlay.cpp
  Source/WebKit/WebProcess/WebStorage/StorageNamespaceImpl.cpp
  Source/WebKit/WebProcess/WebStorage/WebStorageNamespaceProvider.cpp
Owners: @cdumez

[GStreamer] Unreviewed media test gardening https://bugs.webkit.org/show_bug.cgi?id=254517
  LayoutTests/TestExpectations
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/semantics/embedded-content/media-elements/track/track-element/track-data-url-expected.txt
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/html/semantics/embedded-content/media-elements/track/track-element/cloneNode-expected.txt
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
Owners: none

Revert "Cherry-pick 229b3dbf26eb. rdar://problem/105770085"
  Source/WebCore/html/OffscreenCanvas.cpp
Owners: @cdumez, @rniwa

Revert "Revert "Cherry-pick 229b3dbf26eb. rdar://problem/105770085""
  Source/WebCore/html/OffscreenCanvas.cpp
Owners: @cdumez, @rniwa

Regression(262103@main) JSRopeString::resolveRopeToAtomString() no longer reports extra memory https://bugs.webkit.org/show_bug.cgi?id=254474
  Source/JavaScriptCore/runtime/JSString.cpp
Owners: @WebKit/jsc-reviewers

[CISupport] Autoinstall buildbot dependencies https://bugs.webkit.org/show_bug.cgi?id=250604 <rdar://problem/104246259>
  Tools/CISupport/buildbot-cmd
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
  Tools/CISupport/runUnittests.py
  Tools/Scripts/webkitpy/autoinstalled/buildbot.py
  Tools/Scripts/webkitpy/autoinstalled/twisted.py
Owners: @aj062, @JonWBedard, @ryanhaddad

Add Ada Rose Cannon and Ricky Mondello
  metadata/contributors.json
Owners: @JonWBedard

[Cocoa] Add test coverage for corrupted LocalStorage database https://bugs.webkit.org/show_bug.cgi?id=250892 rdar://104740551
  Source/WebKit/NetworkProcess/storage/SQLiteStorageArea.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/LocalStoragePersistence.mm
Owners: @cdumez

Remove legacy build system script phases and build settings https://bugs.webkit.org/show_bug.cgi?id=243221 rdar://89701972
  Source/JavaScriptCore/Configurations/Base.xcconfig
  Source/JavaScriptCore/Configurations/JavaScriptCore.xcconfig
  Source/JavaScriptCore/Configurations/ToolExecutable.xcconfig
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/ThirdParty/ANGLE/ANGLE.xcodeproj/project.pbxproj
  Source/ThirdParty/ANGLE/Configurations/ANGLE-dynamic.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Base.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Base.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/libabsl.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.xcconfig
  Source/ThirdParty/libwebrtc/libwebrtc.xcodeproj/project.pbxproj
  Source/WTF/Configurations/Base.xcconfig
  Source/WTF/Configurations/WTF.xcconfig
  Source/WTF/WTF.xcodeproj/project.pbxproj
  Source/WebCore/PAL/Configurations/Base.xcconfig
  Source/WebCore/PAL/Configurations/PAL.xcconfig
  Source/WebCore/PAL/PAL.xcodeproj/project.pbxproj
  Source/WebGPU/Configurations/Base.xcconfig
  Source/WebGPU/Configurations/WGSL.xcconfig
  Source/WebKit/Configurations/Base.xcconfig
  Source/WebKit/Configurations/WebKit.xcconfig
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKitLegacy/WebKitLegacy.xcodeproj/project.pbxproj
  Source/WebKitLegacy/mac/Configurations/Base.xcconfig
  Source/WebKitLegacy/mac/Configurations/WebKitLegacy.xcconfig
  Tools/DumpRenderTree/mac/Configurations/Base.xcconfig
  Tools/DumpRenderTree/mac/Configurations/DumpRenderTreeLibrary.xcconfig
  Tools/DumpRenderTree/mac/Configurations/LayoutTestHelper.xcconfig
  Tools/TestWebKitAPI/Configurations/Base.xcconfig
  Tools/TestWebKitAPI/Configurations/TestWTFLibrary.xcconfig
Owners: @WebKit/jsc-reviewers, @JonWBedard

Fallback to elogind when systemd is unavailable at build time https://bugs.webkit.org/show_bug.cgi?id=254475
  Source/cmake/FindJournald.cmake
Owners: none

ReadableStreamError should reject closed promise before erroring read promises https://bugs.webkit.org/show_bug.cgi?id=254509 rdar://problem/107262301
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/general.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/general.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/general.any.sharedworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/general.any.worker-expected.txt
  LayoutTests/streams/readable-stream-default-reader-read.html
  Source/WebCore/Modules/streams/ReadableStreamInternals.js
Owners: none

Update ReadableStream constructor type checking according spec https://bugs.webkit.org/show_bug.cgi?id=254503 rdar://problem/107257592
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/general.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/general.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/general.any.sharedworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/general.any.worker-expected.txt
  Source/WebCore/Modules/streams/ReadableStream.js
Owners: none

Have functions that only require VMs take a VM reference https://bugs.webkit.org/show_bug.cgi?id=202392
  Source/JavaScriptCore/runtime/JSONObject.cpp
  Source/WebCore/Modules/encryptedmedia/MediaKeyStatusMap.cpp
  Source/WebCore/bindings/js/JSDOMConvertEnumeration.h
  Source/WebCore/bindings/scripts/CodeGeneratorJS.pm
  Source/WebCore/bindings/scripts/test/JS/JSTestCallbackInterface.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestCallbackInterface.h
  Source/WebCore/bindings/scripts/test/JS/JSTestDefaultToJSONEnum.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestDefaultToJSONEnum.h
  Source/WebCore/bindings/scripts/test/JS/JSTestObj.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestObj.h
  Source/WebCore/bindings/scripts/test/JS/JSTestStandaloneDictionary.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestStandaloneDictionary.h
  Source/WebCore/bindings/scripts/test/JS/JSTestStandaloneEnumeration.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestStandaloneEnumeration.h
Owners: @WebKit/jsc-reviewers, @cdumez

Cherry-pick 261877@main (1ed9893d3737). rdar://problem/106142457
  Source/WebCore/platform/mediastream/mac/AVVideoCaptureSource.mm
Owners: none

Cherry-pick 262163@main (f2566d6ee880). https://bugs.webkit.org/show_bug.cgi?id=254475
  Source/cmake/FindJournald.cmake
Owners: none

Passkey access groups https://bugs.webkit.org/show_bug.cgi?id=254082 rdar://105987226
  Source/WebCore/Modules/webauthn/AuthenticatorAssertionResponse.h
  Source/WebKit/UIProcess/API/APIWebAuthenticationAssertionResponse.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebAuthenticationAssertionResponse.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebAuthenticationAssertionResponse.mm
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/LocalAuthenticator.mm
Owners: @cdumez

Fix build warning after 105196721 https://bugs.webkit.org/show_bug.cgi?id=254541 <rdar://107278449>
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeInteractionRegionLayers.mm
Owners: @cdumez

Cherry-pick d191671333e1. rdar://problem/106880773
  LayoutTests/platform/mac-wk2/plugins/pdf-plugin-initial-scroll-position-expected.txt
  LayoutTests/platform/mac-wk2/plugins/pdf-plugin-initial-scroll-position.html
  Source/WebCore/plugins/PluginViewBase.h
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
  Source/WebKit/WebProcess/Plugins/PluginView.cpp
  Source/WebKit/WebProcess/Plugins/PluginView.h
Owners: @cdumez

Cherry-pick f20573ec09c6. rdar://problem/107199586
  LayoutTests/TestExpectations
  LayoutTests/fast/speechsynthesis/mac/samantha-voice-available-expected.txt
  LayoutTests/fast/speechsynthesis/mac/samantha-voice-available.html
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebCore/PAL/pal/spi/cocoa/AXSpeechManagerSPI.h
  Source/WebCore/platform/cocoa/PlatformSpeechSynthesizerCocoa.mm
Owners: none

Cherry-pick cf604717c41c. rdar://problem/106407870
  LayoutTests/platform/ios-wk2/scrollingcoordinator/scrolling-tree/fixed-inside-relative-inside-stacking-overflow-inside-transformed-expected.txt
  LayoutTests/platform/wpe/scrollingcoordinator/scrolling-tree/fixed-inside-stacking-overflow-inside-transformed-expected.txt
  LayoutTests/scrollingcoordinator/scrolling-tree/fixed-inside-relative-inside-stacking-overflow-inside-transformed-expected.txt
  LayoutTests/scrollingcoordinator/scrolling-tree/fixed-inside-relative-inside-stacking-overflow-inside-transformed.html
  Source/WebCore/rendering/RenderLayerCompositor.cpp
Owners: none

Leverage jsNontrivialString() in LiteralParser<CharType>::makeJSString() https://bugs.webkit.org/show_bug.cgi?id=254479
  Source/JavaScriptCore/runtime/LiteralParser.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick aa394d9f173f. rdar://problem/107078574
  Source/WebKit/UIProcess/WebFrameProxy.cpp
Owners: @cdumez

Versioning.
  Configurations/Version.xcconfig
Owners: none

[IFC] Incorrect out-of-flow box placement when text-indent is present (display: inline) https://bugs.webkit.org/show_bug.cgi?id=254492
  LayoutTests/fast/inline/out-of-flow-inline-with-text-indent-on-last-line-expected.html
  LayoutTests/fast/inline/out-of-flow-inline-with-text-indent-on-last-line.html
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingGeometry.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingGeometry.h
Owners: none

[CG] Handle properly the case when an image does not have a valid output colorspace https://bugs.webkit.org/show_bug.cgi?id=254410 rdar://107103646
  Source/WebCore/html/ImageBitmap.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/platform/graphics/BitmapImage.cpp
  Source/WebCore/platform/graphics/BitmapImage.h
  Source/WebCore/platform/graphics/Image.cpp
  Source/WebCore/platform/graphics/Image.h
  Source/WebCore/platform/graphics/MediaPlayer.cpp
  Source/WebCore/platform/graphics/MediaPlayer.h
  Source/WebCore/platform/graphics/MediaPlayerPrivate.h
  Source/WebCore/platform/graphics/NativeImage.h
  Source/WebCore/platform/graphics/avfoundation/MediaPlayerPrivateAVFoundation.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaStreamAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaStreamAVFObjC.mm
  Source/WebCore/platform/graphics/cairo/NativeImageCairo.cpp
  Source/WebCore/platform/graphics/cg/NativeImageCG.cpp
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.h
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.mm
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.h
  Source/WebCore/platform/graphics/holepunch/MediaPlayerPrivateHolePunch.h
  Source/WebCore/platform/graphics/win/MediaPlayerPrivateMediaFoundation.cpp
  Source/WebCore/platform/graphics/win/MediaPlayerPrivateMediaFoundation.h
  Source/WebCore/platform/mock/mediasource/MockMediaPlayerMediaSource.cpp
  Source/WebCore/platform/mock/mediasource/MockMediaPlayerMediaSource.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.messages.in
  Source/WebKit/GPUProcess/media/cocoa/RemoteMediaPlayerProxyCocoa.mm
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.h
  Source/WebKit/WebProcess/GPU/media/cocoa/MediaPlayerPrivateRemoteCocoa.mm
Owners: @cdumez, @rniwa, @magomez, @zdobersek, @philn

Fix crash in FetchResponse::jsonForBindings https://bugs.webkit.org/show_bug.cgi?id=254536 rdar://107265435
  LayoutTests/js/fetch-response-json-crash-expected.txt
  LayoutTests/js/fetch-response-json-crash.html
  Source/WebCore/Modules/fetch/FetchResponse.cpp
Owners: @WebKit/jsc-reviewers

Avoid unnecessary is8Bit() check for each string in JSStringJoiner when m_isAll8Bit is true https://bugs.webkit.org/show_bug.cgi?id=254485
  Source/JavaScriptCore/runtime/JSStringJoiner.cpp
Owners: @WebKit/jsc-reviewers

Run MockMediaSource in the GPU Process https://bugs.webkit.org/show_bug.cgi?id=254074 rdar://106858091
  LayoutTests/media/media-source/media-source-minimumupcomingpresentationtime.html
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/html/HTMLMediaElement.h
  Source/WebCore/page/DeprecatedGlobalSettings.cpp
  Source/WebCore/platform/MediaStrategy.cpp
  Source/WebCore/platform/MediaStrategy.h
  Source/WebCore/platform/graphics/MediaPlayer.cpp
  Source/WebCore/platform/mock/mediasource/MockMediaPlayerMediaSource.cpp
  Source/WebCore/platform/mock/mediasource/MockMediaPlayerMediaSource.h
  Source/WebCore/platform/mock/mediasource/MockSourceBufferPrivate.h
  Source/WebCore/testing/Internals.cpp
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.cpp
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.h
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.messages.in
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteSourceBufferProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteSourceBufferProxy.h
  Source/WebKit/GPUProcess/media/RemoteSourceBufferProxy.messages.in
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.h
  Source/WebKit/WebProcess/GPU/media/WebMediaStrategy.cpp
  Source/WebKit/WebProcess/GPU/media/WebMediaStrategy.h
Owners: @cdumez, @rniwa

[macOS] Disable background webcontent suspension by default https://bugs.webkit.org/show_bug.cgi?id=254535 rdar://107233385
  Source/WebKit/Shared/WebPreferencesDefaultValues.cpp
Owners: none

Cherry-pick 259548.3@safari-7615-branch (e8f7233310fd). <bug>
  LayoutTests/animations/animation-set-effect-expected.txt
  LayoutTests/animations/animation-set-effect.html
  Source/WebCore/animation/CSSAnimation.cpp
Owners: @graouts

Cherry-pick 259548.6@safari-7615-branch (1b17df7c2063). <bug>
  LayoutTests/streams/blob-and-then-expected.txt
  LayoutTests/streams/blob-and-then.html
  Source/WebCore/Modules/fetch/FetchBodyConsumer.cpp
  Source/WebCore/Modules/streams/ReadableStreamSink.cpp
Owners: none

Cherry-pick 259548.7@safari-7615-branch (83422ec49be9). <bug>
  LayoutTests/editing/async-clipboard/clipboard-clear-expected.txt
  LayoutTests/editing/async-clipboard/clipboard-clear.html
  Source/WebCore/Modules/async-clipboard/ClipboardItemBindingsDataSource.cpp
  Source/WebCore/Modules/async-clipboard/ClipboardItemBindingsDataSource.h
Owners: @rniwa

Cherry-pick 259548.8@safari-7615-branch (5a0f792b008f). https://bugs.webkit.org/show_bug.cgi?id=251158
  LayoutTests/fast/backgrounds/background-color-lch-crash-expected.txt
  LayoutTests/fast/backgrounds/background-color-lch-crash.html
  Source/WebCore/platform/graphics/ColorBlending.cpp
Owners: none

Cherry-pick 256843.5@webkit-2022.12-embargoed (312254f5776d). https://bugs.webkit.org/show_bug.cgi?id=248776
  LayoutTests/fast/css/content/quote-display-contents-crash-expected.txt
  LayoutTests/fast/css/content/quote-display-contents-crash.html
  Source/WebCore/dom/Element.cpp
Owners: @rniwa, @cdumez

Cherry-pick 259548.12@safari-7615-branch (099b24dd9eb3). <bug>
  Source/WebKit/UIProcess/WebPageProxy.cpp
Owners: @cdumez

Cherry-pick 259548.13@safari-7615-branch (f322e936fb84). <bug>
  Source/WebCore/Modules/contact-picker/ContactsManager.cpp
  Source/WebCore/Modules/contact-picker/ContactsManager.h
Owners: @marcoscaceres

[CG] Building the dictionary of the async image decoding options is not thread safe https://bugs.webkit.org/show_bug.cgi?id=254532 rdar://106302373
  Source/WebCore/platform/graphics/cg/ImageDecoderCG.cpp
Owners: none

[UI-side compositng] Use ScrollbarsController base class to avoid NSScrollerImp usage https://bugs.webkit.org/show_bug.cgi?id=253684 rdar://106531543
  Source/WebCore/page/ChromeClient.cpp
  Source/WebCore/page/ChromeClient.h
  Source/WebCore/page/LocalFrameView.cpp
  Source/WebCore/platform/ScrollableArea.cpp
  Source/WebCore/platform/ScrollableArea.h
  Source/WebCore/platform/ScrollbarsController.h
  Source/WebCore/rendering/RenderLayerScrollableArea.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.h
Owners: @cdumez

CSS Nesting: serialization support for CSSOM https://bugs.webkit.org/show_bug.cgi?id=254432 rdar://107190613
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/cssom-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/invalid-inner-rules-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/parsing-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/serialize-group-rules-with-decls.tentative-expected.txt
  Source/WebCore/css/CSSGroupingRule.cpp
  Source/WebCore/css/CSSSelectorList.cpp
  Source/WebCore/css/CSSSelectorList.h
  Source/WebCore/css/CSSStyleRule.cpp
  Source/WebCore/css/CSSStyleRule.h
  Source/WebCore/css/CSSStyleRule.idl
Owners: none
