Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

[GTK] Unreviewed, build fix for Debian Stable after 261972@main https://bugs.webkit.org/show_bug.cgi?id=254221
  Source/WebKit/NetworkProcess/soup/WebSocketTaskSoup.cpp
Owners: @WebKit/glib-reviewers

Remove Apple-style-span CSS class support
  LayoutTests/editing/inserting/page-zoom-font-size-expected.txt
  LayoutTests/editing/inserting/page-zoom-font-size.html
  LayoutTests/editing/pasteboard/4930986-1-expected.txt
  LayoutTests/editing/pasteboard/4930986-1.html
  LayoutTests/editing/pasteboard/4930986-2-expected.txt
  LayoutTests/editing/pasteboard/4930986-2.html
  LayoutTests/editing/pasteboard/4930986-3-expected.txt
  LayoutTests/editing/pasteboard/4930986-3.html
  LayoutTests/editing/pasteboard/5245519-expected.txt
  LayoutTests/editing/pasteboard/5245519.html
  LayoutTests/editing/pasteboard/paste-with-redundant-style-expected.txt
  LayoutTests/editing/pasteboard/paste-with-redundant-style.html
  LayoutTests/editing/style/remove-styled-element-with-style-span-expected.txt
  LayoutTests/editing/style/remove-styled-element-with-style-span.html
  Source/WebCore/editing/ApplyStyleCommand.cpp
  Source/WebCore/editing/EditingStyle.cpp
  Source/WebCore/editing/HTMLInterchange.h
  Source/WebCore/editing/ReplaceSelectionCommand.cpp
  Source/WebCore/editing/ReplaceSelectionCommand.h
  Source/WebCore/rendering/RenderTreeAsText.cpp
Owners: @rniwa

[Draft] Speculatively sweep to freelist during down time https://bugs.webkit.org/show_bug.cgi?id=254305 rdar://107111250
  Source/JavaScriptCore/heap/BlockDirectory.cpp
  Source/JavaScriptCore/heap/BlockDirectory.h
  Source/JavaScriptCore/heap/IncrementalSweeper.cpp
  Source/JavaScriptCore/heap/IncrementalSweeper.h
  Source/JavaScriptCore/heap/MarkedBlock.cpp
  Source/JavaScriptCore/heap/MarkedBlock.h
  Source/JavaScriptCore/heap/MarkedBlockInlines.h
Owners: @WebKit/jsc-reviewers

.
  Source/JavaScriptCore/heap/MarkedBlock.cpp
Owners: @WebKit/jsc-reviewers

WebXR should be considered a foreground session for gamepad purposes https://bugs.webkit.org/show_bug.cgi?id=254290 rdar://103417224
  Source/WebKit/UIProcess/Gamepad/ios/UIGamepadProviderIOS.mm
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/UIProcess/XR/PlatformXRSystem.h
Owners: @cdumez

MTLDebugDevice does not respond to _purgeDevice https://bugs.webkit.org/show_bug.cgi?id=254301 <radar://107108867>
  Source/WebKit/GPUProcess/graphics/ScopedRenderingResourcesRequestCocoa.mm
Owners: none

[WebGPU] RenderPassEncoder::draw() will fail debug device if pipeline is not set https://bugs.webkit.org/show_bug.cgi?id=254105 <radar://106888082>
  Source/WebGPU/WebGPU/ComputePassEncoder.h
  Source/WebGPU/WebGPU/ComputePassEncoder.mm
  Source/WebGPU/WebGPU/RenderBundleEncoder.h
  Source/WebGPU/WebGPU/RenderBundleEncoder.mm
  Source/WebGPU/WebGPU/RenderPassEncoder.h
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
Owners: none

Assertion failure in compositeeditcommand::moveParagraphs https://bugs.webkit.org/show_bug.cgi?id=254302
  LayoutTests/editing/execCommand/insert-ordered-list-move-paragraph-removes-destination-expected.txt
  LayoutTests/editing/execCommand/insert-ordered-list-move-paragraph-removes-destination.html
  Source/WebCore/editing/CompositeEditCommand.cpp
Owners: @rniwa

DocumentTimeline doesn't need to unregister itself from DocumentTimelinesController https://bugs.webkit.org/show_bug.cgi?id=254296
  Source/WebCore/animation/AnimationTimeline.h
  Source/WebCore/animation/DocumentTimeline.cpp
  Source/WebCore/animation/DocumentTimeline.h
  Source/WebCore/animation/DocumentTimelinesController.cpp
Owners: @graouts

Avoid virtual function calls for AnimationTimeline::isDocumentTimeline() https://bugs.webkit.org/show_bug.cgi?id=254295
  Source/WebCore/animation/AnimationTimeline.h
  Source/WebCore/animation/DocumentTimeline.h
Owners: @graouts

Minor tweaks to WebAnimation https://bugs.webkit.org/show_bug.cgi?id=254312
  Source/WebCore/animation/DocumentTimeline.cpp
  Source/WebCore/animation/WebAnimation.cpp
  Source/WebCore/animation/WebAnimation.h
  Source/WebCore/dom/Element.cpp
Owners: @graouts, @rniwa, @cdumez

Minor tweaks to DocumentTimelinesController https://bugs.webkit.org/show_bug.cgi?id=254310
  Source/WebCore/animation/DocumentTimelinesController.cpp
  Source/WebCore/animation/DocumentTimelinesController.h
  Source/WebCore/animation/FrameRateAligner.h
Owners: @graouts

Improve ShouldUpdateAnimationsAndSendEvents enumeration https://bugs.webkit.org/show_bug.cgi?id=254309
  Source/WebCore/animation/DocumentTimeline.h
Owners: @graouts

Avoid HashSet copy in DocumentTimeline::applyPendingAcceleratedAnimations() https://bugs.webkit.org/show_bug.cgi?id=254308
  Source/WebCore/animation/DocumentTimeline.cpp
Owners: @graouts

Fix heap use-after-free in Update::addSVGRendererUpdate https://bugs.webkit.org/show_bug.cgi?id=254281 rdar://107052707
  LayoutTests/svg/animations/svg-element-attribute-changed-crash-expected.txt
  LayoutTests/svg/animations/svg-element-attribute-changed-crash.html
  Source/WebCore/svg/properties/SVGAnimatedProperty.cpp
Owners: none

[web-animations] Make WPT test at animation-model/keyframe-effects/effect-value-transformed-distance.html pass reliably https://bugs.webkit.org/show_bug.cgi?id=186493 <rdar://problem/41000157>
  LayoutTests/imported/w3c/web-platform-tests/css/css-easing/cubic-bezier-timing-functions-output-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/keyframe-effects/effect-value-transformed-distance-expected.txt
  LayoutTests/transitions/frames-timing-function-expected.txt
  Source/WebCore/platform/graphics/UnitBezier.h
Owners: none

OffscreenCanvas does not work as TexImageSource in WebGL https://bugs.webkit.org/show_bug.cgi?id=253886 rdar://106700463
  LayoutTests/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  Source/WebCore/html/canvas/WebGL2RenderingContext.h
  Source/WebCore/html/canvas/WebGL2RenderingContext.idl
  Source/WebCore/html/canvas/WebGLRenderingContext.idl
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
Owners: @cdumez, @rniwa

ImageBufferIOSurfaceBackend should flush only when GraphicsContextCG has drawn https://bugs.webkit.org/show_bug.cgi?id=253309 rdar://106192612
  Source/WebCore/platform/graphics/cg/GraphicsContextCG.cpp
  Source/WebCore/platform/graphics/cg/GraphicsContextCG.h
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.h
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferShareableMappedIOSurfaceBackend.cpp
  Tools/TestWebKitAPI/Tests/WebCore/cg/GraphicsContextCGTests.mm
Owners: @cdumez

[WGSL] Add sampler type https://bugs.webkit.org/show_bug.cgi?id=254279 rdar://107067530
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/TypeStore.cpp
  Source/WebGPU/WGSL/TypeStore.h
  Source/WebGPU/WGSL/Types.h
Owners: none

Drop AnimationTimeline::m_allAnimations https://bugs.webkit.org/show_bug.cgi?id=254294
  Source/WebCore/animation/AnimationTimeline.cpp
  Source/WebCore/animation/AnimationTimeline.h
  Source/WebCore/animation/DocumentTimeline.cpp
  Source/WebCore/animation/WebAnimation.cpp
Owners: @graouts

StyleRuleGroup should use composition instead of inheritance https://bugs.webkit.org/show_bug.cgi?id=254297 rdar://107103847
  Source/WebCore/css/CSSConditionRule.cpp
  Source/WebCore/css/CSSConditionRule.h
  Source/WebCore/css/CSSContainerRule.cpp
  Source/WebCore/css/CSSGroupingRule.cpp
  Source/WebCore/css/CSSGroupingRule.h
  Source/WebCore/css/CSSLayerBlockRule.cpp
  Source/WebCore/css/CSSMediaRule.cpp
  Source/WebCore/css/CSSSupportsRule.cpp
  Source/WebCore/css/StyleRule.cpp
  Source/WebCore/css/StyleRule.h
  Source/WebCore/css/StyleSheetContents.cpp
  Source/WebCore/style/RuleSetBuilder.cpp
  Source/WebCore/style/StyleInvalidator.cpp
Owners: none

[LibWebRTC] Fix build with CMake >= 3.26 https://bugs.webkit.org/show_bug.cgi?id=254323
  Source/ThirdParty/libwebrtc/CMakeLists.txt
Owners: none

remotemediaplayermanager::supportsTypeAndCodecs always returned false for mediaSource in <source> child https://bugs.webkit.org/show_bug.cgi?id=254321 rdar://107125077
  Source/WebCore/html/HTMLMediaElement.cpp
Owners: @cdumez, @rniwa

media/media-source/media-source-first-append-not-starting-at-zero.html is a permanent failure when MockMSE runs in GPU Process https://bugs.webkit.org/show_bug.cgi?id=254330 rdar://107131645
  Source/WebKit/GPUProcess/media/RemoteSourceBufferProxy.cpp
Owners: none

[UI-side compositing] Send events to the WebWheelEventCoalescer before sending them to the scrolling thread https://bugs.webkit.org/show_bug.cgi?id=254247 rdar://107032016
  LayoutTests/tiled-drawing/scrolling/fast-scroll-div-latched-mainframe-with-handler.html
  Source/WebKit/Shared/WebWheelEventCoalescer.cpp
  Source/WebKit/Shared/WebWheelEventCoalescer.h
  Source/WebKit/UIProcess/API/C/playstation/WKPagePrivatePlayStation.cpp
  Source/WebKit/UIProcess/API/gtk/WebKitWebViewBase.cpp
  Source/WebKit/UIProcess/API/wpe/PageClientImpl.cpp
  Source/WebKit/UIProcess/API/wpe/WPEView.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeEventDispatcher.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeEventDispatcher.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingCoordinatorProxyMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingCoordinatorProxyMac.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKit/UIProcess/win/WebView.cpp
Owners: @cdumez, @WebKit/glib-reviewers, @zdobersek

[GPUP][MSE] networkState doesn't move to NETWORK_IDLE once MediaSource.endOfStream() is called https://bugs.webkit.org/show_bug.cgi?id=254324 rdar://107129124
  LayoutTests/media/media-source/media-source-end-of-stream.html
  Source/WebCore/platform/graphics/MediaSourcePrivate.h
  Source/WebCore/platform/graphics/SourceBufferPrivate.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaSourceProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaSourceProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaSourceProxy.messages.in
  Source/WebKit/WebProcess/GPU/media/MediaSourcePrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/MediaSourcePrivateRemote.h
Owners: @cdumez

[JSC] Align RegExp V Flags Syntax errors with V8 https://bugs.webkit.org/show_bug.cgi?id=254313 rdar://107116409
  JSTests/stress/regexp-vflag-property-of-strings.js
  Source/JavaScriptCore/yarr/YarrParser.h
Owners: @WebKit/jsc-reviewers

Unreviewed, reverting r261984@main. https://bugs.webkit.org/show_bug.cgi?id=254337
  Source/WebCore/SourcesCocoa.txt
  Source/WebCore/editing/cocoa/AttributedString.h
  Source/WebCore/editing/cocoa/AttributedString.mm
  Source/WebCore/editing/cocoa/EditorCocoa.mm
  Source/WebCore/editing/cocoa/HTMLConverter.mm
  Source/WebCore/editing/mac/EditorMac.mm
  Source/WebKit/Shared/Cocoa/ArgumentCodersCocoa.mm
  Source/WebKit/Shared/Cocoa/WebCoreArgumentCodersCocoa.serialization.in
  Source/WebKit/Shared/DocumentEditingContext.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Source/WebKit/WebProcess/WebPage/mac/WebPageMac.mm
  Source/WebKitLegacy/mac/WebCoreSupport/WebSelectionServiceController.mm
  Source/WebKitLegacy/mac/WebView/WebHTMLRepresentation.mm
  Source/WebKitLegacy/mac/WebView/WebHTMLView.mm
  Source/WebKitLegacy/mac/WebView/WebImmediateActionController.mm
Owners: @rniwa, @cdumez

Add Olivier Blin as a committer
  metadata/contributors.json
Owners: @JonWBedard

[GPU Process] Introduce RenderingResource and make it the base of DecomposedGlyphs and NativeImage https://bugs.webkit.org/show_bug.cgi?id=220943 <rdar://problem/73843739>
  Source/WebCore/Headers.cmake
  Source/WebCore/platform/graphics/DecomposedGlyphs.cpp
  Source/WebCore/platform/graphics/DecomposedGlyphs.h
  Source/WebCore/platform/graphics/NativeImage.cpp
  Source/WebCore/platform/graphics/NativeImage.h
  Source/WebCore/platform/graphics/RenderingResource.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.messages.in
  Source/WebKit/GPUProcess/graphics/RemoteResourceCache.cpp
  Source/WebKit/GPUProcess/graphics/RemoteResourceCache.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.h
  Tools/TestWebKitAPI/Tests/IPC/StreamConnectionTests.cpp
Owners: @cdumez

REGRESSION (260842@main): Rendered document markers are always opaque https://bugs.webkit.org/show_bug.cgi?id=254314 rdar://106372237
  Source/WebCore/rendering/TextBoxPainter.cpp
Owners: none

[WebGPU] query_set/destroy.html is a flaky failure https://bugs.webkit.org/show_bug.cgi?id=254342 <radar://107140519>
  LayoutTests/platform/mac/TestExpectations
Owners: none

REGRESSION(260575@main): Subtitles do not work when playing Apple Event video in full screen https://bugs.webkit.org/show_bug.cgi?id=254229 rdar://106342886
  Source/WebCore/platform/cocoa/VideoFullscreenModelVideoElement.mm
  Source/WebCore/platform/cocoa/WebAVPlayerLayer.mm
  Source/WebKit/WebProcess/cocoa/VideoFullscreenManager.mm
Owners: @cdumez

Switch to upward linking ARKit https://bugs.webkit.org/show_bug.cgi?id=254355 rdar://107141566
  Source/WebKit/Configurations/WebKit.xcconfig
Owners: none

[macOS] Prevent WebContent Process from Jetsam https://bugs.webkit.org/show_bug.cgi?id=254338 rdar://106721207
  Source/WTF/wtf/PlatformUse.h
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.cpp
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.h
  Source/WebKit/UIProcess/Cocoa/ProcessAssertionCocoa.mm
  Source/WebKit/UIProcess/ProcessAssertion.cpp
  Source/WebKit/UIProcess/ProcessAssertion.h
  Source/WebKit/UIProcess/ProcessThrottler.cpp
Owners: @cdumez

[popover] Handle showPopover changing popover attribute during beforetoggle https://bugs.webkit.org/show_bug.cgi?id=254268
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-attribute-basic-expected.txt
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/html/semantics/popovers/popover-attribute-basic-expected.txt
  Source/WebCore/html/HTMLElement.cpp
Owners: @cdumez, @rniwa

[git-webkit] Force pre-push hooks to be up-to-date (Follow-up fix) https://bugs.webkit.org/show_bug.cgi?id=253972 rdar://106760739
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/install_hooks.py
Owners: @facetothefate, @JonWBedard

[CMake] Replace WebKit_INCLUDE_DIRECTORIES with WebKit_PRIVATE_INCLUDE_DIRECTORIES to stop the propagation https://bugs.webkit.org/show_bug.cgi?id=254216
  Source/WebKit/CMakeLists.txt
  Source/WebKit/PlatformGTK.cmake
  Source/WebKit/PlatformGTKDeprecated.cmake
  Source/WebKit/PlatformPlayStation.cmake
  Source/WebKit/PlatformWPE.cmake
  Source/WebKit/PlatformWin.cmake
  Tools/MiniBrowser/gtk/CMakeLists.txt
  Tools/TestWebKitAPI/PlatformGTK.cmake
  Tools/TestWebKitAPI/glib/CMakeLists.txt
  Tools/WebKitTestRunner/PlatformGTK.cmake
  Tools/WebKitTestRunner/PlatformWPE.cmake
Owners: @WebKit/glib-reviewers, @JonWBedard

Support ENABLE_TOUCH_EVENTS on PlayStation https://bugs.webkit.org/show_bug.cgi?id=254353
  Source/WebKit/PlatformPlayStation.cmake
  Source/WebKit/UIProcess/playstation/PageClientImpl.cpp
  Source/WebKit/UIProcess/playstation/PageClientImpl.h
Owners: @cdumez

Versioning.
  Configurations/Version.xcconfig
Owners: none
