Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

Cherry-pick 441ea713e1af. rdar://problem/101578922
  Source/WebKit/UIProcess/Cocoa/WebPasteboardProxyCocoa.mm
  Source/WebKit/UIProcess/mac/WebPageProxyMac.mm
Owners: @cdumez

Cherry-pick 569066b52c66. rdar://problem/101003151
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperMac.mm
  Source/WebCore/rendering/StyledMarkedText.cpp
  Source/WebCore/rendering/TextDecorationPainter.cpp
  Source/WebCore/rendering/TextDecorationPainter.h
  Source/WebCore/style/InlineTextBoxStyle.cpp
  Source/WebCore/style/InlineTextBoxStyle.h
Owners: none

Cherry-pick 67c0ccbbabbd. rdar://problem/99568474
  LayoutTests/compositing/scrolling/fixed-style-with-rotation-expected.txt
  LayoutTests/compositing/scrolling/fixed-style-with-rotation.html
  LayoutTests/compositing/scrolling/sticky-style-with-rotation-expected.txt
  LayoutTests/compositing/scrolling/sticky-style-with-rotation.html
  Source/WebCore/rendering/RenderLayerCompositor.cpp
Owners: none

Cherry-pick a01dc7839d46. rdar://problem/101003209
  Source/WebCore/style/InlineTextBoxStyle.cpp
Owners: none

Cherry-pick be0a403feb9d. rdar://problem/97453557
  LayoutTests/fast/canvas/webgl/largeBuffer.html
  LayoutTests/platform/gtk/fast/canvas/webgl/largeBuffer-expected.txt
  LayoutTests/webgl/buffer-copysubdata-overlap-no-crash-expected.txt
  LayoutTests/webgl/buffer-copysubdata-overlap-no-crash.html
  LayoutTests/webgl/webgl-allow-shared-expected.txt
  Source/WebCore/html/canvas/WebGL2RenderingContext.cpp
  Source/WebCore/html/canvas/WebGL2RenderingContext.h
  Source/WebCore/html/canvas/WebGLBuffer.cpp
  Source/WebCore/html/canvas/WebGLBuffer.h
  Source/WebCore/html/canvas/WebGLRenderingContext.cpp
  Source/WebCore/html/canvas/WebGLRenderingContext.h
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
Owners: @cdumez, @rniwa

Unreviewed, reverting r254127@main. https://bugs.webkit.org/show_bug.cgi?id=247297
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/image-loading-lazy-multiple-times-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/image-loading-lazy-multiple-times.html
  Source/WebCore/loader/ImageLoader.cpp
Owners: @cdumez

[JSC] fix wrong text in WASM error message https://bugs.webkit.org/show_bug.cgi?id=247280 rdar://101023980
  JSTests/stress/wasm-error-message-get-local.js
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
Owners: @WebKit/jsc-reviewers

Cherry-pick cd16428bf17b. rdar://problem/101781565
  LayoutTests/fast/block/non-content-type-renderers-style-update-crash-expected.txt
  LayoutTests/fast/block/non-content-type-renderers-style-update-crash.html
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.cpp
Owners: none

Cherry-pick 168374201dbf. rdar://problem/101002420
  Source/WebCore/rendering/TextDecorationPainter.cpp
Owners: none

Handle bitmap allocation failure in OffscreenCanvas::transferToImageBitmap. https://bugs.webkit.org/show_bug.cgi?id=247247 <rdar://101591380>
  LayoutTests/fast/canvas/offscreen-giant-transfer-to-imagebitmap-expected.txt
  LayoutTests/fast/canvas/offscreen-giant-transfer-to-imagebitmap.html
  LayoutTests/platform/mac-wk1/fast/canvas/offscreen-giant-transfer-to-imagebitmap-expected.txt
  LayoutTests/platform/win/fast/canvas/offscreen-giant-transfer-to-imagebitmap-expected.txt
  Source/WebCore/html/OffscreenCanvas.cpp
Owners: @cdumez, @rniwa

REGRESSION (256117@main): Unable to toggle network connection integrity using `-_setNetworkConnectionIntegrityEnabled:` https://bugs.webkit.org/show_bug.cgi?id=247246
  Source/WebKit/UIProcess/API/Cocoa/WKWebpagePreferences.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebsitePolicies.mm
Owners: @cdumez

Enable accelerated drawing for macOS layout tests https://bugs.webkit.org/show_bug.cgi?id=246285 rdar://100990507
  Tools/WebKitTestRunner/TestOptions.cpp
Owners: @JonWBedard

Drive macOS RemoteLayerTreeDrawingAreaProxy updates from a DisplayLink https://bugs.webkit.org/show_bug.cgi?id=247222 rdar://101704617
  Source/WebCore/page/scrolling/ScrollingTree.cpp
  Source/WebCore/page/scrolling/ScrollingTree.h
  Source/WebCore/page/scrolling/ThreadedScrollingTree.cpp
  Source/WebCore/page/scrolling/ThreadedScrollingTree.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteLayerTreeDrawingAreaProxyIOS.mm
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.mm
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingCoordinatorProxyMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingCoordinatorProxyMac.mm
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingTreeMac.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingTreeMac.h
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebProcessPool.h
  Source/WebKit/UIProcess/mac/DisplayLink.h
Owners: @cdumez

Web Manifest: support id member https://bugs.webkit.org/show_bug.cgi?id=230596 rdar://83656112
  Source/WebCore/Modules/applicationmanifest/ApplicationManifest.h
  Source/WebCore/Modules/applicationmanifest/ApplicationManifestParser.cpp
  Source/WebCore/Modules/applicationmanifest/ApplicationManifestParser.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/API/Cocoa/_WKApplicationManifest.h
  Source/WebKit/UIProcess/API/Cocoa/_WKApplicationManifest.mm
  Tools/TestWebKitAPI/Tests/WebCore/ApplicationManifestParser.cpp
Owners: @cdumez

Layout issue on IMDB page for Robbie Coltrane https://bugs.webkit.org/show_bug.cgi?id=247293 <rdar://101193884>
  LayoutTests/fast/block/float/float-with-margin-bottom-incorrect-expected.html
  LayoutTests/fast/block/float/float-with-margin-bottom-incorrect.html
  Source/WebCore/layout/floats/FloatingState.h
Owners: none

compositing/iframes/border-radius-composited-frame.html fails sometimes https://bugs.webkit.org/show_bug.cgi?id=247300 rdar://80333071
  LayoutTests/compositing/iframes/border-radius-composited-frame.html
  LayoutTests/platform/mac/TestExpectations
Owners: none

Add support for css content-visibility: hidden https://bugs.webkit.org/show_bug.cgi?id=236710
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-015-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-016-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-017-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-018-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-029-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-035-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-038-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-047-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-072-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-img-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-input-image-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-svg-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/auto-006-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/auto-009-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/auto-010-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-embed-element/embed-document-under-content-visibility-focus-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-embed-element/embed-document-under-content-visibility-gbcr-expected.txt
  Source/WebCore/dom/Element.cpp
  Source/WebCore/page/FrameView.cpp
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderElement.h
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/RenderLayerBacking.cpp
  Source/WebCore/rendering/RenderObject.cpp
  Source/WebCore/rendering/RenderObject.h
  Source/WebCore/rendering/RenderReplaced.cpp
  Source/WebCore/rendering/RenderWidget.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/StyleRareInheritedData.cpp
  Source/WebCore/rendering/style/StyleRareInheritedData.h
  Source/WebCore/style/StyleAdjuster.cpp
Owners: @rniwa, @cdumez

Regression(iOS 16.1) Use of Shared Workers cause Web Content process crash in non-default-browser WKWebViews https://bugs.webkit.org/show_bug.cgi?id=247147 rdar://101562445
  LayoutTests/http/tests/navigation/resources/shared-worker-script.js
  LayoutTests/http/tests/workers/shared/shared-worker-with-service-workers-disabled-expected.txt
  LayoutTests/http/tests/workers/shared/shared-worker-with-service-workers-disabled.html
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/win/TestExpectations
  Source/WebCore/workers/WorkerScriptLoader.cpp
  Source/WebCore/workers/WorkerScriptLoader.h
Owners: @cdumez

Add support for css content-visibility: hidden https://bugs.webkit.org/show_bug.cgi?id=236710
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-015-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-016-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-017-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-018-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-029-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-035-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-038-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-047-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-072-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-img-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-input-image-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-svg-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/auto-006-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/auto-009-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/auto-010-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-embed-element/embed-document-under-content-visibility-focus-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-embed-element/embed-document-under-content-visibility-gbcr-expected.txt
  Source/WebCore/dom/Element.cpp
  Source/WebCore/page/FrameView.cpp
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderElement.h
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/RenderLayerBacking.cpp
  Source/WebCore/rendering/RenderObject.cpp
  Source/WebCore/rendering/RenderObject.h
  Source/WebCore/rendering/RenderReplaced.cpp
  Source/WebCore/rendering/RenderWidget.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/StyleRareInheritedData.cpp
  Source/WebCore/rendering/style/StyleRareInheritedData.h
  Source/WebCore/style/StyleAdjuster.cpp
Owners: @rniwa, @cdumez

[LFC][Floats] FloatAvoider::right incorrectly encloses margin-after (instead of margin-end) https://bugs.webkit.org/show_bug.cgi?id=247294
  LayoutTests/fast/block/float/float-with-margin-bottom-incorrect-2-expected.html
  LayoutTests/fast/block/float/float-with-margin-bottom-incorrect-2.html
  Source/WebCore/layout/floats/FloatAvoider.h
Owners: none

Handle managed preferences file not found for MDM ITP relaxation https://bugs.webkit.org/show_bug.cgi?id=247320
  Source/WebKit/UIProcess/WebsiteData/Cocoa/WebsiteDataStoreCocoa.mm
Owners: @cdumez

Remove sandbox v2 telemetry for known entries https://bugs.webkit.org/show_bug.cgi?id=247318 rdar://101806362
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
  Source/WebKit/Shared/Sandbox/macOS/common.sb
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Owners: @cdumez

[WinCairo] Enable UseGPUProcessForDOMRenderingEnabled by default https://bugs.webkit.org/show_bug.cgi?id=246733
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
Owners: none

REGRESSION (256119@main, 256136@main): The News app crashes on launch https://bugs.webkit.org/show_bug.cgi?id=247321 rdar://101784403
  Source/WebKit/UIProcess/WebsiteData/Cocoa/WebsiteDataStoreCocoa.mm
Owners: @cdumez

Use the correct paint methods for painting a section rect of RenderWidgets
  LayoutTests/editing/selection/iframe-select-expected.html
  LayoutTests/editing/selection/iframe-select.html
  Source/WebCore/rendering/RenderElement.h
  Source/WebCore/rendering/RenderObject.h
  Source/WebCore/rendering/RenderWidget.cpp
Owners: @rniwa

Unreviewed, reverting r256172@main. https://bugs.webkit.org/show_bug.cgi?id=247328
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
Owners: @cdumez

[git-webkit] Handle branch names which might be hashes https://bugs.webkit.org/show_bug.cgi?id=247210 rdar://101691330
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/local/git.py
Owners: @facetothefate, @JonWBedard

Drop assertions landed in r244971 to debug a crash in the wild https://bugs.webkit.org/show_bug.cgi?id=247259 rdar://problem/101756784
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/history/CachedFrame.cpp
Owners: @rniwa, @cdumez

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Simplify MiniBrowser settings menu construction https://bugs.webkit.org/show_bug.cgi?id=247305
  Tools/MiniBrowser/mac/SettingsController.m
Owners: @JonWBedard

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Cherry-pick 193d0064ca5b. rdar://problem/101784403
  Source/WebKit/UIProcess/WebsiteData/Cocoa/WebsiteDataStoreCocoa.mm
Owners: @cdumez

Updating commiter name.
  metadata/contributors.json
Owners: @JonWBedard

Trace trap in JIT-compiled code. https://bugs.webkit.org/show_bug.cgi?id=246942 rdar://101496803
  JSTests/stress/array-push-stack-overflow-exception-check.js
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick d0fd4738e8b3. rdar://problem/101605181
  Source/WebCore/dom/SecurityContext.h
  Source/WebCore/history/CachedFrame.cpp
  Source/WebCore/history/CachedFrame.h
  Source/WebCore/loader/EmptyClients.cpp
  Source/WebCore/loader/EmptyFrameLoaderClient.h
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/loader/FrameLoader.h
  Source/WebCore/loader/FrameLoaderClient.h
  Source/WebCore/loader/ResourceLoader.cpp
  Source/WebCore/platform/network/ResourceResponseBase.cpp
  Source/WebCore/platform/network/ResourceResponseBase.h
  Source/WebKit/NetworkProcess/NetworkDataTask.cpp
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
  Source/WebKit/UIProcess/Cocoa/NavigationState.h
  Source/WebKit/UIProcess/Cocoa/NavigationState.mm
  Source/WebKit/UIProcess/PageLoadState.cpp
  Source/WebKit/UIProcess/PageLoadState.h
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.mm
  Source/WebKitLegacy/win/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKitLegacy/win/WebCoreSupport/WebFrameLoaderClient.h
Owners: @rniwa, @cdumez

Updating commiter name.
  metadata/contributors.json
Owners: @JonWBedard

Cherry-pick d0fd4738e8b3. rdar://problem/101605181
  Source/WebCore/dom/SecurityContext.h
  Source/WebCore/history/CachedFrame.cpp
  Source/WebCore/history/CachedFrame.h
  Source/WebCore/loader/EmptyClients.cpp
  Source/WebCore/loader/EmptyFrameLoaderClient.h
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/loader/FrameLoader.h
  Source/WebCore/loader/FrameLoaderClient.h
  Source/WebCore/loader/ResourceLoader.cpp
  Source/WebCore/platform/network/ResourceResponseBase.cpp
  Source/WebCore/platform/network/ResourceResponseBase.h
  Source/WebKit/NetworkProcess/NetworkDataTask.cpp
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
  Source/WebKit/UIProcess/Cocoa/NavigationState.h
  Source/WebKit/UIProcess/Cocoa/NavigationState.mm
  Source/WebKit/UIProcess/PageLoadState.cpp
  Source/WebKit/UIProcess/PageLoadState.h
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.mm
  Source/WebKitLegacy/win/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKitLegacy/win/WebCoreSupport/WebFrameLoaderClient.h
Owners: @rniwa, @cdumez

([ GARDENING ] REGRESSION 9* fast/* layout-tests are constant text failures) rdar://101816726
  LayoutTests/TestExpectations
Owners: none

Order Web Inspector reference pages by column https://bugs.webkit.org/show_bug.cgi?id=234902
  Websites/webkit.org/wp-content/themes/webkit/archive-web_inspector_page.php
Owners: none

Crash trying to scroll a main frame PDF with UI-side compositing on macOS. https://bugs.webkit.org/show_bug.cgi?id=247302 rdar://101786249
  Source/WebKit/WebProcess/WebPage/EventDispatcher.cpp
Owners: @cdumez
