Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

[GTK] Use DMABuf and WebKit IPC for rendering instead of wpe/x11 https://bugs.webkit.org/show_bug.cgi?id=252988
  Source/WebCore/PlatformGTK.cmake
  Source/WebCore/SourcesGTK.txt
  Source/WebCore/platform/graphics/PlatformDisplay.cpp
  Source/WebCore/platform/graphics/PlatformDisplay.h
  Source/WebCore/platform/graphics/egl/GLContext.cpp
  Source/WebCore/platform/graphics/egl/GLContext.h
  Source/WebCore/platform/graphics/egl/GLContextLibWPE.cpp
  Source/WebCore/platform/graphics/egl/GLContextWayland.cpp
  Source/WebCore/platform/graphics/egl/GLContextX11.cpp
  Source/WebCore/platform/graphics/egl/PlatformDisplayHeadless.cpp
  Source/WebCore/platform/graphics/egl/PlatformDisplayHeadless.h
  Source/WebKit/PlatformGTK.cmake
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/Shared/CoordinatedGraphics/threadedcompositor/ThreadedCompositor.cpp
  Source/WebKit/Shared/CoordinatedGraphics/threadedcompositor/ThreadedCompositor.h
  Source/WebKit/Shared/WebProcessCreationParameters.cpp
  Source/WebKit/Shared/WebProcessCreationParameters.h
  Source/WebKit/SourcesGTK.txt
  Source/WebKit/UIProcess/API/glib/WebKitProtocolHandler.cpp
  Source/WebKit/UIProcess/glib/WebProcessPoolGLib.cpp
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStore.cpp
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreDMABuf.cpp
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreDMABuf.h
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreDMABuf.messages.in
  Source/WebKit/WebProcess/WebPage/AcceleratedSurface.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHost.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHost.h
  Source/WebKit/WebProcess/WebPage/gtk/AcceleratedSurfaceDMABuf.cpp
  Source/WebKit/WebProcess/WebPage/gtk/AcceleratedSurfaceDMABuf.h
  Source/WebKit/WebProcess/WebProcess.h
  Source/WebKit/WebProcess/glib/WebProcessGLib.cpp
Owners: @magomez, @zdobersek, @WebKit/glib-reviewers, @cdumez

[IFC] Fix imported/w3c/web-platform-tests/css/css-text/text-indent/text-indent-with-absolute-pos-child.html https://bugs.webkit.org/show_bug.cgi?id=254561
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingGeometry.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingGeometry.h
Owners: none

Optimize createJSHTMLWrapper() https://bugs.webkit.org/show_bug.cgi?id=254564
  Source/WebCore/dom/make_names.pl
Owners: @rniwa, @cdumez

LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/general-expected.txt is no longer needed https://bugs.webkit.org/show_bug.cgi?id=254584 rdar://problem/107314616
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/general-expected.txt
Owners: none

[IFC] Issue repaint on newly positioned float boxes https://bugs.webkit.org/show_bug.cgi?id=254569
  LayoutTests/fast/repaint/float-box-appears-and-no-inline-content-expected.txt
  LayoutTests/fast/repaint/float-box-appears-and-no-inline-content.html
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.cpp
Owners: none

Cherry-pick ed99b93877dd. rdar://problem/107297033
  Source/WebInspectorUI/UserInterface/Controllers/JavaScriptLogViewController.js
  Source/WebInspectorUI/UserInterface/Models/ConsoleCommandResultMessage.js
  Source/WebInspectorUI/UserInterface/Views/AnimationContentView.js
  Source/WebInspectorUI/UserInterface/Views/CanvasContentView.js
  Source/WebInspectorUI/UserInterface/Views/CanvasTreeElement.js
  Source/WebInspectorUI/UserInterface/Views/ContextMenuUtilities.js
  Source/WebInspectorUI/UserInterface/Views/ObjectPreviewView.js
  Source/WebInspectorUI/UserInterface/Views/ObjectTreeBaseTreeElement.js
  Source/WebInspectorUI/UserInterface/Views/QuickConsole.js
  Source/WebInspectorUI/UserInterface/Views/WebSocketResourceTreeElement.js
Owners: @dcrousso, @patrickangle

REGRESSION(261943@main) [iOS] media/video-object-fit.html failing https://bugs.webkit.org/show_bug.cgi?id=254560 rdar://107290418
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemote.cpp
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemoteCustom.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemoteCustom.mm
Owners: @cdumez

Cherry-pick 04196137234f. rdar://problem/106302373
  Source/WebCore/platform/graphics/cg/ImageDecoderCG.cpp
Owners: none

Document Quirks.cpp with original bugs https://bugs.webkit.org/show_bug.cgi?id=254389 rdar://107167633
  Source/WebCore/page/Quirks.cpp
Owners: @cdumez

hasTrimmedMargin should return false for out of flow boxes https://bugs.webkit.org/show_bug.cgi?id=254540 rdar://107277206
  Source/WebCore/rendering/RenderBox.cpp
Owners: none

Migrate ContentFilterUnblockHandler to new serialization format https://bugs.webkit.org/show_bug.cgi?id=254568
  Source/WebCore/PAL/PAL.xcodeproj/project.pbxproj
  Source/WebCore/PAL/pal/spi/cocoa/NSKeyedUnarchiverSPI.h
  Source/WebCore/platform/ContentFilterUnblockHandler.h
  Source/WebCore/platform/cocoa/ContentFilterUnblockHandlerCocoa.mm
  Source/WebKit/Shared/Cocoa/WebCoreArgumentCodersCocoa.serialization.in
  Source/WebKit/Shared/WebCoreArgumentCoders.h
  Source/WebKit/Shared/mac/WebCoreArgumentCodersMac.mm
Owners: none

Use DOMCacheEngine::CrossThreadRecord in CacheStorageConnection https://bugs.webkit.org/show_bug.cgi?id=254430 rdar://107290770
  Source/WebCore/Modules/cache/CacheStorageConnection.h
  Source/WebCore/Modules/cache/DOMCache.cpp
  Source/WebCore/Modules/cache/DOMCacheEngine.cpp
  Source/WebCore/Modules/cache/DOMCacheEngine.h
  Source/WebCore/Modules/cache/WorkerCacheStorageConnection.cpp
  Source/WebCore/Modules/cache/WorkerCacheStorageConnection.h
  Source/WebCore/page/CacheStorageProvider.h
  Source/WebKit/WebProcess/Cache/WebCacheStorageConnection.cpp
  Source/WebKit/WebProcess/Cache/WebCacheStorageConnection.h
Owners: @cdumez

Revert "Cherry-pick 04196137234f. rdar://problem/106302373"
  Source/WebCore/platform/graphics/cg/ImageDecoderCG.cpp
Owners: none

[GStreamer][WebCodec] Gardening after 262208@main https://bugs.webkit.org/show_bug.cgi?id=254593
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any.worker_vp9_p2-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_vp9_p2-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/webcodecs/reconfiguring-encoder.https.any.worker_vp9_p2-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/webcodecs/reconfiguring-encoder.https.any_vp9_p2-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/webcodecs/videoFrame-construction.any-expected.txt
Owners: none

HTML Comments after </body> are placed at the bottom of the <body> contents https://bugs.webkit.org/show_bug.cgi?id=79273 rdar://95557786
  LayoutTests/editing/selection/doubleclick-crash-expected.txt
  LayoutTests/html5lib/resources/webkit01.dat
  LayoutTests/platform/gtk/editing/selection/doubleclick-crash-expected.txt
  Source/WebCore/html/parser/HTMLTreeBuilder.cpp
  Source/WebCore/html/parser/HTMLTreeBuilder.h
Owners: @rniwa, @cdumez

WebSWServerConnection::scheduleJobInServer should check that the job data's top level origin is valid https://bugs.webkit.org/show_bug.cgi?id=254572 rdar://107063897
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerConnection.cpp
Owners: @cdumez

[IFC] Fix fast/repaint/block-layout-inline-children-float-positioned.html https://bugs.webkit.org/show_bug.cgi?id=254565
  LayoutTests/fast/inline/out-of-flow-inline-with-float-and-text-align-on-last-line-expected.html
  LayoutTests/fast/inline/out-of-flow-inline-with-float-and-text-align-on-last-line.html
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingGeometry.cpp
Owners: none

[UI-side compositing] imported/w3c/web-platform-tests/webcodecs/videoFrame-texImage.any.html fails https://bugs.webkit.org/show_bug.cgi?id=254581 rdar://106116371
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
Owners: @cdumez, @rniwa

REGRESSION (262146@main): TestWGSL.WGSLASTDumperTests.dumpTriangleVert is failing https://bugs.webkit.org/show_bug.cgi?id=254596 rdar://107320480
  Tools/TestWebKitAPI/Tests/WGSL/ASTStringDumperTests.cpp
Owners: none

Cherry-pick 04196137234f. rdar://problem/106302373
  Source/WebCore/platform/graphics/cg/ImageDecoderCG.cpp
Owners: none

Cherry-pick 252432.1019@safari-7614-branch (1988807a5229). rdar://107319167
  LayoutTests/editing/async-clipboard/clipboard-clear-expected.txt
  LayoutTests/editing/async-clipboard/clipboard-clear.html
  Source/WebCore/Modules/async-clipboard/ClipboardItemBindingsDataSource.cpp
  Source/WebCore/Modules/async-clipboard/ClipboardItemBindingsDataSource.h
Owners: @rniwa

Avoid some string allocations in JSStringJoiner::join() https://bugs.webkit.org/show_bug.cgi?id=254594
  Source/JavaScriptCore/runtime/JSStringJoiner.h
  Source/WTF/wtf/text/StringView.h
Owners: @WebKit/jsc-reviewers

Cherry-pick 252432.1018@safari-7614-branch (792c09f18dc7). rdar://107315556
  LayoutTests/streams/blob-and-then-expected.txt
  LayoutTests/streams/blob-and-then.html
  Source/WebCore/Modules/fetch/FetchBodyConsumer.cpp
  Source/WebCore/Modules/streams/ReadableStreamSink.cpp
Owners: none

Cherry-pick 51c4e45400a9. rdar://problem/106722223
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCTCPSocketCocoa.mm
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCUDPSocketCocoa.mm
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCUtilitiesCocoa.h
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCUtilitiesCocoa.mm
  Source/WebKit/Platform/spi/Cocoa/NWSPI.h
Owners: @cdumez

Cherry-pick f4dfe341bdcc. rdar://problem/107190613
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/cssom-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/invalid-inner-rules-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/parsing-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/serialize-group-rules-with-decls.tentative-expected.txt
  Source/WebCore/css/CSSGroupingRule.cpp
  Source/WebCore/css/CSSSelectorList.cpp
  Source/WebCore/css/CSSSelectorList.h
  Source/WebCore/css/CSSStyleRule.cpp
  Source/WebCore/css/CSSStyleRule.h
  Source/WebCore/css/CSSStyleRule.idl
Owners: none

Revert [261851@main] Add a debug mode for adjusting URL for bindings https://bugs.webkit.org/show_bug.cgi?id=254100 rdar://106885457
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/dom/Document.cpp
Owners: @rniwa, @cdumez

Avoid doing event-related work for CSS animation events when no event listener is registered https://bugs.webkit.org/show_bug.cgi?id=254546
  Source/WebCore/animation/DeclarativeAnimation.cpp
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/dom/EventNames.h
Owners: @graouts, @rniwa, @cdumez

[Wasm-GC] Implement `array.new_canon_elem` https://bugs.webkit.org/show_bug.cgi?id=251338
  JSTests/wasm/gc/array_new_elem.js
  JSTests/wasm/wasm.json
  Source/JavaScriptCore/wasm/WasmAirIRGeneratorBase.h
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
  Source/JavaScriptCore/wasm/WasmExceptionType.h
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Source/JavaScriptCore/wasm/WasmInstance.cpp
  Source/JavaScriptCore/wasm/WasmInstance.h
  Source/JavaScriptCore/wasm/WasmLLIntBuiltin.h
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmOperations.cpp
  Source/JavaScriptCore/wasm/WasmOperations.h
  Source/JavaScriptCore/wasm/WasmOperationsInlines.h
  Source/JavaScriptCore/wasm/WasmSectionParser.cpp
  Source/JavaScriptCore/wasm/WasmSlowPaths.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.cpp
  Source/JavaScriptCore/wasm/wasm.json
Owners: @WebKit/jsc-reviewers

Unreviewed crash fix for Windows Debug https://bugs.webkit.org/show_bug.cgi?id=254573
  Source/JavaScriptCore/jit/CCallHelpers.h
Owners: @WebKit/jsc-reviewers

Fix build failure from 262184@main https://bugs.webkit.org/show_bug.cgi?id=254613 rdar://107332292
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
Owners: none

Cherry-pick 252432.1026@safari-7614-branch (2a8469e53b2f). https://bugs.webkit.org/show_bug.cgi?id=248615
  LayoutTests/editing/editability/design-mode-does-not-inherit-across-frames-expected.txt
  LayoutTests/editing/editability/design-mode-does-not-inherit-across-frames.html
  LayoutTests/fast/dom/HTMLElement/iscontenteditable-designmodeon-allinherit-subframe-expected.txt
  LayoutTests/fast/dom/HTMLElement/iscontenteditable-designmodeon-allinherit-subframe.html
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
Owners: @rniwa, @cdumez

Fix build failure from 262184@main https://bugs.webkit.org/show_bug.cgi?id=254613 <rdar://107332292>
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
Owners: none

Cherry-pick 252432.1029@safari-7614-branch (9dda7bfe768d). https://bugs.webkit.org/show_bug.cgi?id=250482
  JSTests/wasm/stress/wasm-tuple-return.js
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 252432.1030@safari-7614-branch (433db4f29219). https://bugs.webkit.org/show_bug.cgi?id=246022
  Source/WebCore/bindings/js/JSErrorHandler.cpp
  Source/WebCore/bindings/js/JSEventListener.cpp
  Source/WebCore/bindings/js/JSEventListener.h
  Source/WebCore/bindings/js/JSLazyEventListener.cpp
  Source/WebCore/bindings/js/WebCoreJSClientData.cpp
  Source/WebCore/bindings/js/WebCoreJSClientData.h
  Source/WebCore/dom/EventTarget.cpp
  Source/WebCore/inspector/CommandLineAPIHost.cpp
  Source/WebCore/inspector/WebInjectedScriptHost.cpp
  Source/WebCore/inspector/agents/InspectorDOMAgent.cpp
Owners: @cdumez, @rniwa, @patrickangle

Mark HTMLFastPathParser::processAttribute() as static https://bugs.webkit.org/show_bug.cgi?id=254611
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
Owners: @cdumez, @rniwa

[Wasm-GC] Avoid stack consistency checking in LLIntGenerator::addStructNew() https://bugs.webkit.org/show_bug.cgi?id=254226
  JSTests/wasm/gc/bug254226.js
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
Owners: @WebKit/jsc-reviewers

Improve error handling for badging API https://bugs.webkit.org/show_bug.cgi?id=254193 rdar://106969959
  LayoutTests/imported/w3c/web-platform-tests/badging/META.yml
  LayoutTests/imported/w3c/web-platform-tests/badging/badge-error.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/badging/badge-error.https.html
  LayoutTests/imported/w3c/web-platform-tests/badging/badge-success.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/badging/badge-success.https.html
  LayoutTests/imported/w3c/web-platform-tests/badging/idlharness.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/badging/idlharness.https.any.html
  LayoutTests/imported/w3c/web-platform-tests/badging/idlharness.https.any.js
  LayoutTests/imported/w3c/web-platform-tests/badging/idlharness.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/badging/idlharness.https.any.worker.html
  LayoutTests/imported/w3c/web-platform-tests/badging/non-fully-active.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/badging/non-fully-active.https.html
  LayoutTests/imported/w3c/web-platform-tests/badging/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/workers/interfaces/WorkerUtils/navigator/007.js
  LayoutTests/platform/gtk/fast/dom/navigator-detached-no-crash-expected.txt
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac-wk2/fast/dom/navigator-detached-no-crash-expected.txt
  LayoutTests/platform/wpe/fast/dom/navigator-detached-no-crash-expected.txt
  Source/WebCore/page/Navigator.cpp
  Source/WebCore/page/WorkerNavigator.cpp
  Tools/WebKitTestRunner/TestOptions.cpp
Owners: @cdumez, @JonWBedard

Remove use of raw pointers in cachedResourceLoader class, IconLoader, ApplicationManifestLoader. https://bugs.webkit.org/show_bug.cgi?id=254437. rdar://107196321.
  Source/WebCore/loader/ApplicationManifestLoader.cpp
  Source/WebCore/loader/ApplicationManifestLoader.h
  Source/WebCore/loader/cache/CachedResourceLoader.cpp
  Source/WebCore/loader/cache/CachedResourceLoader.h
  Source/WebCore/loader/icon/IconLoader.cpp
  Source/WebCore/loader/icon/IconLoader.h
Owners: @cdumez

[JSC] Fix Paren Context allocation and use with Duplicate Named Capture groups https://bugs.webkit.org/show_bug.cgi?id=254600 rdar://107180725
  JSTests/stress/regexp-duplicate-named-captures.js
  Source/JavaScriptCore/yarr/YarrJIT.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 252432.1031@safari-7614-branch (9f7e401c42a8). https://bugs.webkit.org/show_bug.cgi?id=250429
  JSTests/stress/cell-speculated-array-indexof.js
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
Owners: @WebKit/jsc-reviewers
