Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @calvaris, @philn, @ntrrgc, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @graouts

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard
/Tools/TestWebKitAPI

# ================================================================================

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn

# ================================================================================

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

/Source/WebCore/Modules/apple-pay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/apple-pay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

# ================================================================================

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

[Cocoa] Rename [de]normalizeWeight() to [de]normalizeGXWeight() https://bugs.webkit.org/show_bug.cgi?id=241112
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
Owners: none

Delete RenderTheme::cachedSystemFontDescription() because it does nothing https://bugs.webkit.org/show_bug.cgi?id=241329
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/page/linux/ResourceUsageOverlayLinux.cpp
  Source/WebCore/rendering/RenderEmbeddedObject.cpp
  Source/WebCore/rendering/RenderTheme.cpp
  Source/WebCore/rendering/RenderTheme.h
  Source/WebCore/rendering/RenderThemeAdwaita.h
  Source/WebCore/rendering/RenderThemeCocoa.h
  Source/WebCore/rendering/RenderThemeCocoa.mm
  Source/WebCore/rendering/RenderThemeGtk.cpp
  Source/WebCore/rendering/RenderThemeGtk.h
  Source/WebCore/rendering/RenderThemePlayStation.cpp
  Source/WebCore/rendering/RenderThemePlayStation.h
  Source/WebCore/rendering/RenderThemeWin.cpp
  Source/WebCore/rendering/RenderThemeWin.h
Owners: none

[Cocoa] Move contentSizeCategory to platform/ https://bugs.webkit.org/show_bug.cgi?id=241360
  Source/WebCore/SourcesCocoa.txt
  Source/WebCore/platform/graphics/cocoa/FontCacheCocoa.mm
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.h
  Source/WebCore/platform/graphics/cocoa/SystemFontDatabaseCoreText.cpp
  Source/WebCore/rendering/RenderThemeCocoa.h
  Source/WebCore/rendering/RenderThemeCocoa.mm
  Source/WebCore/rendering/RenderThemeIOS.h
  Source/WebCore/rendering/RenderThemeIOS.mm
  Source/WebCore/rendering/RenderThemeMac.h
  Source/WebCore/rendering/RenderThemeMac.mm
  Source/WebCore/testing/Internals.cpp
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
  Tools/TestWebKitAPI/Tests/ios/TextStyleFontSize.mm
Owners: none

Cache system font shorthand information https://bugs.webkit.org/show_bug.cgi?id=241404
  Source/WebCore/PAL/pal/spi/cf/CoreTextSPI.h
  Source/WebCore/PlatformPlayStation.cmake
  Source/WebCore/PlatformWin.cmake
  Source/WebCore/Sources.txt
  Source/WebCore/SourcesCocoa.txt
  Source/WebCore/SourcesGTK.txt
  Source/WebCore/SourcesWPE.txt
  Source/WebCore/css/CSSValueKeywords.in
  Source/WebCore/platform/graphics/SystemFontDatabase.cpp
  Source/WebCore/platform/graphics/SystemFontDatabase.h
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.h
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.h
  Source/WebCore/platform/graphics/cocoa/SystemFontDatabaseCocoa.mm
  Source/WebCore/platform/graphics/cocoa/SystemFontDatabaseCoreText.cpp
  Source/WebCore/platform/graphics/cocoa/SystemFontDatabaseCoreText.h
  Source/WebCore/platform/graphics/gtk/SystemFontDatabaseGTK.cpp
  Source/WebCore/platform/graphics/playstation/SystemFontDatabasePlayStation.cpp
  Source/WebCore/platform/graphics/win/SystemFontDatabaseWin.cpp
  Source/WebCore/platform/graphics/wpe/SystemFontDatabaseWPE.cpp
  Source/WebCore/rendering/RenderEmbeddedObject.cpp
Owners: none

Adopt EnumeratedArray in SystemFontDatabase https://bugs.webkit.org/show_bug.cgi?id=241506
  Source/WTF/wtf/CMakeLists.txt
  Source/WebCore/platform/graphics/SystemFontDatabase.cpp
  Source/WebCore/platform/graphics/SystemFontDatabase.h
Owners: none

Add EnumeratedArray type https://bugs.webkit.org/show_bug.cgi?id=241451
  Source/WTF/WTF.xcodeproj/project.pbxproj
  Source/WTF/wtf/EnumeratedArray.h
  Tools/Scripts/webkitpy/style/checkers/cpp.py
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WTF/EnumeratedArray.cpp
Owners: @JonWBedard

Delay system font shorthand resolution until after parsing https://bugs.webkit.org/show_bug.cgi?id=241454
  LayoutTests/fast/text/font-shorthand-resolution-expected.txt
  LayoutTests/fast/text/font-shorthand-resolution.html
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/StyleProperties.cpp
  Source/WebCore/css/StyleProperties.h
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.h
  Source/WebCore/editing/EditingStyle.cpp
  Source/WebCore/page/linux/ResourceUsageOverlayLinux.cpp
  Source/WebCore/platform/graphics/SystemFontDatabase.h
  Source/WebCore/platform/graphics/wpe/SystemFontDatabaseWPE.cpp
  Source/WebCore/rendering/RenderTheme.h
  Source/WebCore/rendering/RenderThemeAdwaita.h
  Source/WebCore/rendering/RenderThemeCocoa.h
  Source/WebCore/rendering/RenderThemeCocoa.mm
  Source/WebCore/rendering/RenderThemeGtk.cpp
  Source/WebCore/rendering/RenderThemeGtk.h
  Source/WebCore/rendering/RenderThemePlayStation.cpp
  Source/WebCore/rendering/RenderThemeWin.cpp
  Source/WebCore/rendering/RenderThemeWin.h
  Source/WebCore/style/StyleBuilderConverter.h
  Source/WebCore/style/StyleBuilderCustom.h
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Owners: none

Design an intentional way to invalidate platform font caches https://bugs.webkit.org/show_bug.cgi?id=241537
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/cocoa/MemoryReleaseCocoa.mm
  Source/WebCore/platform/graphics/FontCache.cpp
  Source/WebCore/platform/graphics/FontCache.h
  Source/WebCore/platform/graphics/SystemFontDatabase.cpp
  Source/WebCore/platform/graphics/SystemFontDatabase.h
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/cocoa/SystemFontDatabaseCoreText.cpp
  Source/WebCore/platform/graphics/cocoa/SystemFontDatabaseCoreText.h
  Source/WebCore/platform/graphics/freetype/FontCacheFreeType.cpp
  Source/WebCore/platform/graphics/gtk/SystemFontDatabaseGTK.cpp
  Source/WebCore/platform/graphics/playstation/SystemFontDatabasePlayStation.cpp
  Source/WebCore/platform/graphics/win/FontCacheWin.cpp
  Source/WebCore/platform/graphics/win/SystemFontDatabaseWin.cpp
  Source/WebCore/platform/graphics/wpe/SystemFontDatabaseWPE.cpp
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Source/WebKit/WebProcess/WebProcess.cpp
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Owners: none

[GPUP] Avoid race in GPUP teardown https://bugs.webkit.org/show_bug.cgi?id=241770
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
Owners: none

Clean up AccessibilitySupportSPI.h https://bugs.webkit.org/show_bug.cgi?id=241995
  Source/WebCore/PAL/pal/spi/cocoa/AccessibilitySupportSPI.h
  Source/WebKit/Platform/spi/Cocoa/AccessibilitySupportSPI.h
  Tools/Scripts/webkitpy/style/checkers/cpp.py
Owners: @JonWBedard

[Cocoa] Add SPI for implementing accessibility bold https://bugs.webkit.org/show_bug.cgi?id=242021
  Source/WebCore/PAL/pal/spi/cf/CoreTextSPI.h
  Source/WebCore/PAL/pal/spi/cocoa/AccessibilitySupportSPI.h
  Source/WebKit/Platform/spi/Cocoa/AccessibilitySupportSPI.h
Owners: none

[Cocoa] Temporarily disable accessibility bold tests while it's being reimplemented https://bugs.webkit.org/show_bug.cgi?id=242023
  LayoutTests/TestExpectations
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/win/TestExpectations
  Source/WebCore/platform/graphics/FontCache.h
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/cocoa/SystemFontDatabaseCoreText.cpp
  Source/WebCore/rendering/RenderTheme.h
  Source/WebCore/rendering/RenderThemeIOS.h
  Source/WebCore/testing/InternalSettings.cpp
  Source/WebCore/testing/InternalSettings.h
Owners: none

Build fix. rdar://88249241
  Source/WebCore/style/StyleBuilderCustom.h
Owners: none

[Cocoa] When accessibility bold is enabled, font-family:system-ui is supposed to be bold https://bugs.webkit.org/show_bug.cgi?id=237817 <rdar://88249241>
  LayoutTests/TestExpectations
  LayoutTests/fast/text/accessibility-bold-system-font/accessibility-bold-system-font-2-expected.html
  LayoutTests/fast/text/accessibility-bold-system-font/accessibility-bold-system-font-2.html
  LayoutTests/fast/text/accessibility-bold-system-font/accessibility-bold-system-font-3-expected-mismatch.html
  LayoutTests/fast/text/accessibility-bold-system-font/accessibility-bold-system-font-3.html
  LayoutTests/fast/text/accessibility-bold-system-font/accessibility-bold-system-font-expected.txt
  LayoutTests/fast/text/accessibility-bold-system-font/accessibility-bold-system-font.html
  LayoutTests/platform/ios/TestExpectations
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.h
  Source/WebCore/testing/InternalSettings.cpp
  Source/WebCore/testing/Internals.cpp
  Source/WebKit/Shared/AccessibilityPreferences.cpp
  Source/WebKit/Shared/AccessibilityPreferences.h
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Owners: none

Revert 13598088cf22. rdar://problem/96086171
  Source/WebKit/NetworkProcess/NetworkCORSPreflightChecker.cpp
  Source/WebKit/NetworkProcess/cache/NetworkCacheSpeculativeLoad.cpp
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.mm
  Source/WebKit/WebProcess/Network/WebLoaderStrategy.cpp
Owners: none

Revert 13598088cf22. rdar://problem/96086171
  Source/WebKit/NetworkProcess/NetworkCORSPreflightChecker.cpp
  Source/WebKit/NetworkProcess/cache/NetworkCacheSpeculativeLoad.cpp
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.mm
  Source/WebKit/WebProcess/Network/WebLoaderStrategy.cpp
Owners: none

Cherry-pick f86ff68089a5. rdar://problem/96086171
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.mm
Owners: none

Cherry-pick f86ff68089a5. rdar://problem/96086171
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.mm
Owners: none

AX: FrameView::removeFromAXObjectCache() is not always successful because FrameView::axObjectCache() sometimes returns null https://bugs.webkit.org/show_bug.cgi?id=242045
  Source/WebCore/accessibility/AccessibilityImageMapLink.cpp
  Source/WebCore/accessibility/AccessibilityMockObject.h
  Source/WebCore/accessibility/AccessibilityObject.h
  Source/WebCore/accessibility/AccessibilityRenderObject.h
  Source/WebCore/page/FrameView.cpp
Owners: none

test commit
  LayoutTests/platform/gtk/TestExpectations
Owners: none

Cherry-pick 484126cfed9e. rdar://problem/89619762
  Source/bmalloc/libpas/src/libpas/pas_local_view_cache.c
Owners: @Constellation

Cherry-pick 484126cfed9e. rdar://problem/89619762
  Source/bmalloc/libpas/src/libpas/pas_local_view_cache.c
Owners: @Constellation

Cherry-pick 59d774a32243. rdar://problem/95742091
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/loader/cache/CachedResourceRequest.cpp
  Source/WebCore/platform/MIMETypeRegistry.cpp
  Source/WebCore/platform/graphics/cg/ImageDecoderCG.cpp
  Source/WebCore/platform/graphics/cg/ImageDecoderCG.h
  Source/WebCore/platform/graphics/cg/UTIRegistry.cpp
  Source/WebKit/Shared/WebProcessCreationParameters.cpp
  Source/WebKit/Shared/WebProcessCreationParameters.h
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Owners: none

Cherry-pick c35cd6f16cca. rdar://problem/95872119
  Source/WebKit/GPUProcess/cocoa/GPUConnectionToWebProcessCocoa.mm
  Source/WebKit/Platform/spi/ios/SystemStatusSPI.h
Owners: none

Regression(r290521): Network process is terminated while fetching website data https://bugs.webkit.org/show_bug.cgi?id=241830
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebsiteDatastore.mm
Owners: none

Make StoreBarrierInsertion aware of the implications of concurrent marking https://bugs.webkit.org/show_bug.cgi?id=242046
  Source/JavaScriptCore/dfg/DFGStoreBarrierInsertionPhase.cpp
Owners: @WebKit/jsc-reviewers

[WebGPU] Fix compilation and style errors in WGSL unit tests https://bugs.webkit.org/show_bug.cgi?id=241828
  Source/WebGPU/WGSLUnitTests/WGSLLexerTests.mm
  Source/WebGPU/WGSLUnitTests/WGSLParserTests.mm
Owners: none

Set a flag on `LTUITranslationViewController` to indicate whether the text selection is in Live Text https://bugs.webkit.org/show_bug.cgi?id=242078 rdar://94351954
  Source/WebCore/page/ContextMenuController.cpp
  Source/WebCore/page/TranslationContextMenuInfo.h
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/Cocoa/WebViewImpl.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Owners: none

Add NSWindowCollectionBehaviorStationary to the fullscreen video NSWindow to make Stage Manager transitions nicer https://bugs.webkit.org/show_bug.cgi?id=242082
  Source/WebKit/UIProcess/mac/WKFullScreenWindowController.mm
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Cherry-pick 59d774a32243. rdar://problem/95742091
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/loader/cache/CachedResourceRequest.cpp
  Source/WebCore/platform/MIMETypeRegistry.cpp
  Source/WebCore/platform/graphics/cg/ImageDecoderCG.cpp
  Source/WebCore/platform/graphics/cg/ImageDecoderCG.h
  Source/WebCore/platform/graphics/cg/UTIRegistry.cpp
  Source/WebKit/Shared/WebProcessCreationParameters.cpp
  Source/WebKit/Shared/WebProcessCreationParameters.h
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Owners: none

[Gardening]: [ macOS Release ] TestWebKitAPI.VideoControlsManager.VideoControlsManagerMultipleVideosScrollPlayingMutedVideoOutOfView is a flaky timeout https://bugs.webkit.org/show_bug.cgi?id=242043
  Tools/TestWebKitAPI/Tests/WebKitCocoa/VideoControlsManager.mm
Owners: none

Web Inspector: Regression(250246@main) jsmin 3.0.1 breaks minifying CodeMirrorCompletionController.js https://bugs.webkit.org/show_bug.cgi?id=242086 rdar://problem/96094217
  Source/JavaScriptCore/Scripts/jsmin.py
Owners: @WebKit/jsc-reviewers

REGRESSION (r295094): Rivian’s reservation page is blank https://bugs.webkit.org/show_bug.cgi?id=242044 <rdar://95659285>
  LayoutTests/fast/css/fill-available-with-percent-height-no-quirk-expected.html
  LayoutTests/fast/css/fill-available-with-percent-height-no-quirk-flex-expected.html
  LayoutTests/fast/css/fill-available-with-percent-height-no-quirk-flex.html
  LayoutTests/fast/css/fill-available-with-percent-height-no-quirk-flex2-expected.html
  LayoutTests/fast/css/fill-available-with-percent-height-no-quirk-flex2.html
  LayoutTests/fast/css/fill-available-with-percent-height-no-quirk.html
  LayoutTests/fast/css/fill-available-with-percent-height-quirk-expected.html
  LayoutTests/fast/css/fill-available-with-percent-height-quirk.html
  Source/WebCore/rendering/RenderBox.cpp
Owners: none

Revert 13598088cf22. rdar://problem/96086171
  Source/WebKit/NetworkProcess/NetworkCORSPreflightChecker.cpp
  Source/WebKit/NetworkProcess/cache/NetworkCacheSpeculativeLoad.cpp
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.mm
  Source/WebKit/WebProcess/Network/WebLoaderStrategy.cpp
Owners: none

Cherry-pick f86ff68089a5. rdar://problem/96086171
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.mm
Owners: none

[git-webkit] Fix branch_point computation https://bugs.webkit.org/show_bug.cgi?id=242076 <rdar://96080523>
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/branch.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/land_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/pull_request_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/revert_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/squash_unittest.py
Owners: @facetothefate, @JonWBedard

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

[Modern Media Controls] [iOS] adjust appearance of time scrubber https://bugs.webkit.org/show_bug.cgi?id=242075 <rdar://problem/95642930>
  Source/WebCore/Modules/modern-media-controls/controls/slider-base.css
  Source/WebCore/Modules/modern-media-controls/controls/slider-base.js
  Source/WebCore/Modules/modern-media-controls/controls/slider.css
  Source/WebCore/Modules/modern-media-controls/controls/slider.js
Owners: @dcrousso

Cherry-pick 27d302ab3481. rdar://problem/94859656
  JSTests/wasm/stress/exception-simple-delegate.js
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
Owners: @WebKit/jsc-reviewers
