Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/

[git-webkit] Prefer single-line issue references over ones in title line https://bugs.webkit.org/show_bug.cgi?id=247262 rdar://101758893
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/commit.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/commit_unittest.py
Owners: @facetothefate, @JonWBedard

Support :user-invalid / :user-valid pseudo-classes. https://bugs.webkit.org/show_bug.cgi?id=222267 <rdar://problem/74866546>
  Source/WebCore/css/CSSSelector.cpp
  Source/WebCore/css/CSSSelector.h
  Source/WebCore/css/SelectorChecker.cpp
  Source/WebCore/css/SelectorCheckerTestFunctions.h
  Source/WebCore/cssjit/SelectorCompiler.cpp
  Source/WebCore/html/FileInputType.cpp
  Source/WebCore/html/HTMLFormControlElement.cpp
  Source/WebCore/html/HTMLFormControlElement.h
  Source/WebCore/html/HTMLFormElement.cpp
  Source/WebCore/html/HTMLTextFormControlElement.cpp
Owners: @cdumez, @rniwa

[Gardening]: REGRESSION(256099@main): [ iOS macOS Debug ] 27X imported/w3c/web-platform-tests/(Layout tests) are constantly crashing https://bugs.webkit.org/show_bug.cgi?id=247268
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Owners: none

[ews.webkit.org] Consider project when linking to PR https://bugs.webkit.org/show_bug.cgi?id=247265 rdar://101760435
  Tools/CISupport/ews-app/ews/common/github.py
Owners: @aj062, @JonWBedard, @ryanhaddad

Versioning.
  Configurations/Version.xcconfig
Owners: none

[JSC] Fix WebAssembly.Tag.getArg's thrown error type https://bugs.webkit.org/show_bug.cgi?id=247223 rdar://101705666
  JSTests/wasm/stress/create-tag-from.js
  JSTests/wasm/v8/exceptions-api.js
  LayoutTests/imported/w3c/web-platform-tests/wasm/compile_worker.js
  LayoutTests/imported/w3c/web-platform-tests/wasm/create_multiple_memory.worker.js
  LayoutTests/imported/w3c/web-platform-tests/wasm/jsapi/exception/getArg.tentative.any.js
  LayoutTests/imported/w3c/web-platform-tests/wasm/resources/load_wasm.js
  LayoutTests/imported/w3c/web-platform-tests/wasm/webapi/origin.sub.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/wasm/webapi/origin.sub.any.js
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/wasm/webapi/origin.sub.any-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/wasm/webapi/origin.sub.any.worker-expected.txt
  Source/JavaScriptCore/wasm/js/WebAssemblyExceptionPrototype.cpp
Owners: @WebKit/jsc-reviewers

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Fix IPC testing API after 256008@main https://bugs.webkit.org/show_bug.cgi?id=247236 rdar://101720110
  Source/WebKit/WebProcess/WebPage/IPCTestingAPI.cpp
Owners: @cdumez

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Cherry-pick 3a69dcff7bec. rdar://problem/97344886
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-exempt-from-website-data-deletion-database-expected.txt
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-exempt-from-website-data-deletion-database.html
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-exempt-from-website-data-deletion-expected.txt
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-exempt-from-website-data-deletion.html
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-granted-storage-access-api-expected.txt
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-granted-storage-access-api.html
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-third-party-resources-exempt-from-cookie-blocking-expected.txt
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-third-party-resources-exempt-from-cookie-blocking.html
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebCore/PAL/pal/spi/ios/ManagedConfigurationSPI.h
  Source/WebCore/platform/network/NetworkStorageSession.cpp
  Source/WebCore/platform/network/NetworkStorageSession.h
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsStore.cpp
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsStore.h
  Source/WebKit/NetworkProcess/Classifier/WebResourceLoadStatisticsStore.cpp
  Source/WebKit/NetworkProcess/Classifier/WebResourceLoadStatisticsStore.h
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkProcess.messages.in
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.mm
  Source/WebKit/Shared/ResourceLoadStatisticsParameters.h
  Source/WebKit/UIProcess/API/C/WKWebsiteDataStoreRef.cpp
  Source/WebKit/UIProcess/API/C/WKWebsiteDataStoreRef.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/WebFramePolicyListenerProxy.h
  Source/WebKit/UIProcess/WebsiteData/Cocoa/WebsiteDataStoreCocoa.mm
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.h
  Tools/WebKitTestRunner/InjectedBundle/Bindings/TestRunner.idl
  Tools/WebKitTestRunner/InjectedBundle/InjectedBundle.cpp
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.cpp
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.h
  Tools/WebKitTestRunner/TestController.cpp
  Tools/WebKitTestRunner/TestController.h
  Tools/WebKitTestRunner/TestInvocation.cpp
  Tools/WebKitTestRunner/TestInvocation.h
Owners: @cdumez, @JonWBedard

Cherry-pick 3a69dcff7bec. rdar://problem/97344886
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-exempt-from-website-data-deletion-database-expected.txt
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-exempt-from-website-data-deletion-database.html
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-exempt-from-website-data-deletion-expected.txt
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-exempt-from-website-data-deletion.html
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-granted-storage-access-api-expected.txt
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-granted-storage-access-api.html
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-third-party-resources-exempt-from-cookie-blocking-expected.txt
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-third-party-resources-exempt-from-cookie-blocking.html
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebCore/PAL/pal/spi/ios/ManagedConfigurationSPI.h
  Source/WebCore/platform/network/NetworkStorageSession.cpp
  Source/WebCore/platform/network/NetworkStorageSession.h
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsStore.cpp
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsStore.h
  Source/WebKit/NetworkProcess/Classifier/WebResourceLoadStatisticsStore.cpp
  Source/WebKit/NetworkProcess/Classifier/WebResourceLoadStatisticsStore.h
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkProcess.messages.in
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.mm
  Source/WebKit/Shared/ResourceLoadStatisticsParameters.h
  Source/WebKit/UIProcess/API/C/WKWebsiteDataStoreRef.cpp
  Source/WebKit/UIProcess/API/C/WKWebsiteDataStoreRef.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/WebFramePolicyListenerProxy.h
  Source/WebKit/UIProcess/WebsiteData/Cocoa/WebsiteDataStoreCocoa.mm
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.h
  Tools/WebKitTestRunner/InjectedBundle/Bindings/TestRunner.idl
  Tools/WebKitTestRunner/InjectedBundle/InjectedBundle.cpp
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.cpp
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.h
  Tools/WebKitTestRunner/TestController.cpp
  Tools/WebKitTestRunner/TestController.h
  Tools/WebKitTestRunner/TestInvocation.cpp
  Tools/WebKitTestRunner/TestInvocation.h
Owners: @cdumez, @JonWBedard

Cherry-pick 72233df9cfd3. rdar://problem/97344886
  Source/WebKit/UIProcess/WebsiteData/Cocoa/WebsiteDataStoreCocoa.mm
Owners: @cdumez

Revert [256099@main] Regression(iOS 16.1) Use of Shared Workers cause Web Content process crash in non-default-browser WKWebViews https://bugs.webkit.org/show_bug.cgi?id=247147 rdar://101562445
  LayoutTests/http/tests/navigation/resources/shared-worker-script.js
  LayoutTests/http/tests/workers/shared/shared-worker-with-service-workers-disabled-expected.txt
  LayoutTests/http/tests/workers/shared/shared-worker-with-service-workers-disabled.html
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/win/TestExpectations
  Source/WebCore/workers/WorkerScriptLoader.cpp
Owners: @cdumez

Fix asserts when running SiteIsolation.ProcessIdentifiers API test in debug builds https://bugs.webkit.org/show_bug.cgi?id=247273 rdar://101766451
  Source/WebKit/UIProcess/WebFrameProxy.cpp
Owners: @cdumez

Guard against ARKitSoftLink on macOS https://bugs.webkit.org/show_bug.cgi?id=247082 rdar://101447167
  Source/WebKit/Shared/Cocoa/ARKitSoftLink.mm
Owners: none

Versioning.
  Configurations/Version.xcconfig
Owners: none

Cherry-pick 25a3ea9dbd79. rdar://problem/101759751
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.h
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.h
  Source/WebKit/UIProcess/WebFrameProxy.messages.in
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
Owners: @cdumez

REGRESSION(256099@main): [ iOS macOS Debug ] 27X imported/w3c/web-platform-tests/(Layout tests) are constantly crashing https://bugs.webkit.org/show_bug.cgi?id=247268 rdar://101762941
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Owners: none

Web Inspector: drop support for iOS 10.3 https://bugs.webkit.org/show_bug.cgi?id=213765
  Source/WebInspectorUI/UserInterface/Controllers/DOMDebuggerManager.js
  Source/WebInspectorUI/UserInterface/Controllers/NetworkManager.js
  Source/WebInspectorUI/UserInterface/Models/Resource.js
  Source/WebInspectorUI/UserInterface/Models/WebSocketResource.js
  Source/WebInspectorUI/UserInterface/Protocol/CSSObserver.js
  Source/WebInspectorUI/UserInterface/Protocol/Legacy/iOS/10.3/InspectorBackendCommands.js
  Source/WebInspectorUI/UserInterface/Protocol/NetworkObserver.js
  Source/WebInspectorUI/UserInterface/Views/NetworkTableContentView.js
  Source/WebInspectorUI/UserInterface/Views/NetworkTimelineView.js
  Source/WebInspectorUI/UserInterface/Views/ResourceDetailsSidebarPanel.js
  Source/WebInspectorUI/UserInterface/Views/WebSocketContentView.js
  Source/WebInspectorUI/Versions/Inspector-iOS-10.3.json
Owners: @dcrousso, @patrickangle

Web Inspector: drop support for iOS 11.* https://bugs.webkit.org/show_bug.cgi?id=211320
  Source/WebInspectorUI/UserInterface/Base/Main.js
  Source/WebInspectorUI/UserInterface/Controllers/DOMManager.js
  Source/WebInspectorUI/UserInterface/Models/DOMNode.js
  Source/WebInspectorUI/UserInterface/Protocol/CSSObserver.js
  Source/WebInspectorUI/UserInterface/Protocol/Legacy/iOS/11.0/InspectorBackendCommands.js
  Source/WebInspectorUI/UserInterface/Protocol/Legacy/iOS/11.3/InspectorBackendCommands.js
  Source/WebInspectorUI/UserInterface/Protocol/NetworkObserver.js
  Source/WebInspectorUI/UserInterface/Views/EventListenerSectionGroup.js
  Source/WebInspectorUI/Versions/Inspector-iOS-11.0.json
  Source/WebInspectorUI/Versions/Inspector-iOS-11.3.json
Owners: @dcrousso, @patrickangle

[Modern Media Controls] [macOS] REGRESSION(252362@main): adding `border-radius: inherit` causes negative power perf impact https://bugs.webkit.org/show_bug.cgi?id=247152 <rdar://problem/100234334>
  Source/WebCore/Modules/modern-media-controls/controls/adwaita-layout-traits.js
  Source/WebCore/Modules/modern-media-controls/controls/ios-inline-media-controls.css
  Source/WebCore/Modules/modern-media-controls/controls/ios-layout-traits.js
  Source/WebCore/Modules/modern-media-controls/controls/layout-traits.js
  Source/WebCore/Modules/modern-media-controls/controls/macos-layout-traits.js
  Source/WebCore/Modules/modern-media-controls/controls/media-controls.css
  Source/WebCore/Modules/modern-media-controls/controls/media-controls.js
  Source/WebCore/Modules/modern-media-controls/controls/watchos-layout-traits.js
Owners: @dcrousso

Color gamut blog post "Currently showing" indicator does not update for WebKit logo example https://bugs.webkit.org/show_bug.cgi?id=247277
  Websites/webkit.org/blog-files/color-gamut/index.html
Owners: none

[JSC] StringSubstring can throw OOM https://bugs.webkit.org/show_bug.cgi?id=247272 rdar://101235545
  JSTests/stress/string-substring-oom.js
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
Owners: @WebKit/jsc-reviewers

[MQ4] Simplify dynamic media feature handling with legacy evaluator https://bugs.webkit.org/show_bug.cgi?id=247263 <rdar://problem/101758954>
  Source/WebCore/css/LegacyMediaQueryEvaluator.cpp
  Source/WebCore/css/LegacyMediaQueryEvaluator.h
  Source/WebCore/css/parser/SizesAttributeParser.cpp
  Source/WebCore/css/parser/SizesAttributeParser.h
  Source/WebCore/css/query/MediaQuery.h
  Source/WebCore/html/HTMLImageElement.cpp
  Source/WebCore/html/HTMLImageElement.h
  Source/WebCore/style/RuleSetBuilder.cpp
  Source/WebCore/style/RuleSetBuilder.h
  Source/WebCore/style/UserAgentStyle.cpp
Owners: @cdumez, @rniwa

Cherry-pick 256155@main (6d6e625aa870). rdar://101758893
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/commit.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/commit_unittest.py
Owners: @facetothefate, @JonWBedard

Remove tvOS 15 from bot watchers dashboard https://bugs.webkit.org/show_bug.cgi?id=247278 rdar://101769709
  Tools/CISupport/build-webkit-org/public_html/dashboard/Scripts/WebKitBuildbot.js
Owners: @aj062, @JonWBedard, @ryanhaddad

Make sure frame creation message gets processed before DecidePolicyForNavigationActionSync https://bugs.webkit.org/show_bug.cgi?id=247213 rdar://101692692
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
Owners: @cdumez

Cherry-pick 944f38100ec3. rdar://problem/98194323
  Source/WebCore/rendering/TextDecorationPainter.cpp
  Source/WebCore/style/InlineTextBoxStyle.cpp
  Source/WebCore/style/InlineTextBoxStyle.h
Owners: none

Cherry-pick 7fb461c6b698. rdar://problem/97518877
  Source/WebCore/rendering/LegacyInlineFlowBox.cpp
  Source/WebCore/rendering/LegacyInlineTextBox.cpp
  Source/WebCore/rendering/LegacyInlineTextBox.h
  Source/WebCore/rendering/RenderText.cpp
  Source/WebCore/rendering/RenderText.h
  Source/WebCore/rendering/TextBoxPainter.cpp
Owners: none

Cherry-pick 2107ba5adf9a. rdar://problem/98273126
  Source/WebCore/rendering/TextBoxPainter.cpp
  Source/WebCore/rendering/TextDecorationPainter.cpp
  Source/WebCore/rendering/TextDecorationPainter.h
Owners: none

Cherry-pick c99710d339f4. rdar://problem/98223304
  Source/WebCore/style/InlineTextBoxStyle.cpp
  Source/WebCore/style/InlineTextBoxStyle.h
Owners: none

Cherry-pick 91aa421767e7. rdar://problem/98209140
  Source/WebCore/style/InlineTextBoxStyle.cpp
  Source/WebCore/style/InlineTextBoxStyle.h
Owners: none

Cherry-pick 3a69dcff7bec. rdar://problem/97344886
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-exempt-from-website-data-deletion-database-expected.txt
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-exempt-from-website-data-deletion-database.html
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-exempt-from-website-data-deletion-expected.txt
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-exempt-from-website-data-deletion.html
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-granted-storage-access-api-expected.txt
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-granted-storage-access-api.html
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-third-party-resources-exempt-from-cookie-blocking-expected.txt
  LayoutTests/http/tests/resourceLoadStatistics/exemptDomains/managed-domains-third-party-resources-exempt-from-cookie-blocking.html
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebCore/PAL/pal/spi/ios/ManagedConfigurationSPI.h
  Source/WebCore/platform/network/NetworkStorageSession.cpp
  Source/WebCore/platform/network/NetworkStorageSession.h
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsStore.cpp
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsStore.h
  Source/WebKit/NetworkProcess/Classifier/WebResourceLoadStatisticsStore.cpp
  Source/WebKit/NetworkProcess/Classifier/WebResourceLoadStatisticsStore.h
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkProcess.messages.in
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.mm
  Source/WebKit/Shared/ResourceLoadStatisticsParameters.h
  Source/WebKit/UIProcess/API/C/WKWebsiteDataStoreRef.cpp
  Source/WebKit/UIProcess/API/C/WKWebsiteDataStoreRef.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/WebFramePolicyListenerProxy.h
  Source/WebKit/UIProcess/WebsiteData/Cocoa/WebsiteDataStoreCocoa.mm
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.h
  Tools/WebKitTestRunner/InjectedBundle/Bindings/TestRunner.idl
  Tools/WebKitTestRunner/InjectedBundle/InjectedBundle.cpp
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.cpp
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.h
  Tools/WebKitTestRunner/TestController.cpp
  Tools/WebKitTestRunner/TestController.h
  Tools/WebKitTestRunner/TestInvocation.cpp
  Tools/WebKitTestRunner/TestInvocation.h
Owners: @cdumez, @JonWBedard

Cherry-pick 72233df9cfd3. rdar://problem/97344886
  Source/WebKit/UIProcess/WebsiteData/Cocoa/WebsiteDataStoreCocoa.mm
Owners: @cdumez

DumpRenderTree does not seem to support PingLoad to HTTPS https://bugs.webkit.org/show_bug.cgi?id=246719 <rdar://101040717>
  LayoutTests/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac-wk1/http/tests/inspector/network/getSerializedCertificate-expected.txt
  LayoutTests/platform/mac-wk1/http/tests/loading/oauth-expected.txt
  LayoutTests/platform/mac-wk1/http/tests/security/basic-auth-subresource-expected.txt
  LayoutTests/platform/mac-wk1/http/tests/security/contentSecurityPolicy/1.1/securitypolicyviolation-block-image-https-expected.txt
  LayoutTests/platform/mac-wk1/http/tests/security/contentSecurityPolicy/report-status-code-zero-when-using-https-expected.txt
  LayoutTests/platform/mac-wk1/http/tests/security/contentSecurityPolicy/video-with-https-url-allowed-by-csp-media-src-star-expected.txt
  LayoutTests/platform/mac-wk1/http/tests/security/mixedContent/insecure-image-redirects-to-basic-auth-secure-image-expected.txt
  LayoutTests/platform/mac-wk1/http/tests/security/mixedContent/secure-redirect-to-insecure-redirect-to-basic-auth-secure-image.https-expected.txt
  LayoutTests/platform/mac-wk1/http/tests/security/mixedContent/secure-redirect-to-secure-redirect-to-basic-auth-secure-image.https-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/html/semantics/embedded-content/media-elements/autoplay-allowed-by-feature-policy-attribute-redirect-on-load.https.sub-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/html/semantics/embedded-content/media-elements/autoplay-allowed-by-feature-policy-attribute.https.sub-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/html/semantics/embedded-content/media-elements/autoplay-disabled-by-feature-policy.https.sub-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/infrastructure/server/wpt-server-http.sub-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/secure-contexts/basic-popup-and-iframe-tests-expected.txt
  Source/WebCore/page/DeprecatedGlobalSettings.h
  Source/WebCore/testing/js/WebCoreTestSupport.cpp
  Source/WebCore/testing/js/WebCoreTestSupport.h
  Tools/DumpRenderTree/TestRunner.cpp
  Tools/DumpRenderTree/TestRunner.h
  Tools/DumpRenderTree/mac/DumpRenderTree.mm
  Tools/DumpRenderTree/mac/ResourceLoadDelegate.mm
Owners: @cdumez, @JonWBedard

Revert 7fb461c6b698. rdar://problem/97518877
  Source/WebCore/rendering/LegacyInlineFlowBox.cpp
  Source/WebCore/rendering/LegacyInlineTextBox.cpp
  Source/WebCore/rendering/LegacyInlineTextBox.h
  Source/WebCore/rendering/RenderText.cpp
  Source/WebCore/rendering/RenderText.h
  Source/WebCore/rendering/TextBoxPainter.cpp
Owners: none

Versioning.
  Configurations/Version.xcconfig
Owners: none

[Live Range Selection] Expanding selection by granularity should expand anchor & focus https://bugs.webkit.org/show_bug.cgi?id=247239
  LayoutTests/editing/selection/double-click-expands-focus-anchor-live-range-expected.txt
  LayoutTests/editing/selection/double-click-expands-focus-anchor-live-range.html
  Source/WebCore/editing/VisibleSelection.cpp
  Source/WebCore/page/EventHandler.cpp
  Source/WebCore/page/EventHandler.h
Owners: @rniwa, @cdumez

Cherry-pick 3f94a77b8952. rdar://problem/101002700
  Source/WebCore/layout/formattingContexts/inline/display/InlineDisplayContentBuilder.cpp
  Source/WebCore/style/InlineTextBoxStyle.cpp
  Source/WebCore/style/InlineTextBoxStyle.h
Owners: none
