Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @calvaris, @philn, @ntrrgc, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @graouts

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard
/Tools/TestWebKitAPI

# ================================================================================

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn

# ================================================================================

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

/Source/WebCore/Modules/apple-pay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/apple-pay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

# ================================================================================

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

Web Inspector: Update user agent overrides in Web Inspector to match options in Safari 16 https://bugs.webkit.org/show_bug.cgi?id=241497 rdar://94770649
  Source/WebInspectorUI/UserInterface/Base/Main.js
Owners: @dcrousso, @patrickangle

Cherry-pick 612c245823a5. rdar://problem/83326477
  Source/JavaScriptCore/wasm/WasmModuleInformation.h
  Source/JavaScriptCore/wasm/WasmSectionParser.cpp
  Source/JavaScriptCore/wasm/WasmSectionParser.h
  Source/JavaScriptCore/wasm/WasmSections.h
  Source/JavaScriptCore/wasm/WasmStreamingParser.cpp
Owners: @WebKit/jsc-reviewers

[WebGPU] Remove size member from GPUCanvasConfiguration https://bugs.webkit.org/show_bug.cgi?id=242003
  Source/WebCore/Modules/WebGPU/GPUCanvasConfiguration.h
  Source/WebCore/Modules/WebGPU/GPUCanvasConfiguration.idl
  Source/WebCore/PAL/pal/graphics/WebGPU/WebGPUCanvasConfiguration.h
  Source/WebKit/Shared/WebGPU/WebGPUCanvasConfiguration.cpp
  Source/WebKit/Shared/WebGPU/WebGPUCanvasConfiguration.h
Owners: none

Cherry-pick c35cd6f16cca. rdar://problem/95872119
  Source/WebKit/GPUProcess/cocoa/GPUConnectionToWebProcessCocoa.mm
  Source/WebKit/Platform/spi/ios/SystemStatusSPI.h
Owners: none

[Cocoa] When accessibility bold is enabled, font-family:system-ui is supposed to be bold https://bugs.webkit.org/show_bug.cgi?id=237817 <rdar://88249241>
  LayoutTests/TestExpectations
  LayoutTests/fast/text/accessibility-bold-system-font/accessibility-bold-system-font-2-expected.html
  LayoutTests/fast/text/accessibility-bold-system-font/accessibility-bold-system-font-2.html
  LayoutTests/fast/text/accessibility-bold-system-font/accessibility-bold-system-font-3-expected-mismatch.html
  LayoutTests/fast/text/accessibility-bold-system-font/accessibility-bold-system-font-3.html
  LayoutTests/fast/text/accessibility-bold-system-font/accessibility-bold-system-font-expected.txt
  LayoutTests/fast/text/accessibility-bold-system-font/accessibility-bold-system-font.html
  LayoutTests/platform/ios/TestExpectations
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.h
  Source/WebCore/testing/InternalSettings.cpp
  Source/WebCore/testing/Internals.cpp
  Source/WebKit/Shared/AccessibilityPreferences.cpp
  Source/WebKit/Shared/AccessibilityPreferences.h
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Owners: none

Web Inspector: provide an option for controlling whether local overrides entirely replace or have some passthrough https://bugs.webkit.org/show_bug.cgi?id=241990
  LayoutTests/http/tests/inspector/network/intercept-request-properties-expected.txt
  LayoutTests/http/tests/inspector/network/intercept-request-properties.html
  LayoutTests/http/tests/inspector/network/local-resource-override-basic-expected.txt
  LayoutTests/http/tests/inspector/network/local-resource-override-basic.html
  Source/WebInspectorUI/Localizations/en.lproj/localizedStrings.js
  Source/WebInspectorUI/UserInterface/Controllers/NetworkManager.js
  Source/WebInspectorUI/UserInterface/Models/LocalResourceOverride.js
  Source/WebInspectorUI/UserInterface/Views/LocalResourceOverridePopover.css
  Source/WebInspectorUI/UserInterface/Views/LocalResourceOverridePopover.js
Owners: @dcrousso, @patrickangle

REGRESSION (248034@main): Safari crashes when focusing text field on srsre.com https://bugs.webkit.org/show_bug.cgi?id=242018 rdar://95149057
  LayoutTests/fast/events/ios/blur-and-prompt-after-focus-expected.txt
  LayoutTests/fast/events/ios/blur-and-prompt-after-focus.html
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Owners: none

Fix race condition in pas_local_view_cache_stop. https://bugs.webkit.org/show_bug.cgi?id=242034 <rdar://problem/89619762>
  Source/bmalloc/libpas/src/libpas/pas_local_view_cache.c
Owners: @Constellation

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Cherry-pick 998553b10918. rdar://problem/91281385
  Source/WebCore/Modules/indexeddb/IDBValue.cpp
  Source/WebCore/Modules/webaudio/AudioWorkletNode.cpp
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
  Source/WebCore/bindings/js/SerializedScriptValue.h
  Source/WebCore/dom/BroadcastChannel.cpp
  Source/WebCore/dom/MessageEvent.cpp
  Source/WebCore/dom/MessageEvent.h
  Source/WebCore/dom/MessagePort.cpp
  Source/WebCore/page/DOMWindow.cpp
  Source/WebCore/page/EventSource.cpp
  Source/WebCore/page/History.cpp
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/workers/WorkerMessagingProxy.cpp
  Source/WebCore/workers/service/ServiceWorkerContainer.cpp
  Source/WebKit/ChangeLog
  Source/WebKit/Shared/API/APISerializedScriptValue.h
  Source/WebKit/Shared/SessionState.cpp
  Source/WebKit/Shared/UserData.cpp
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/Inspector/WebInspectorUIExtensionControllerProxy.cpp
  Source/WebKit/UIProcess/UserContent/WebUserContentControllerProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/WebProcess/Inspector/WebInspectorUIExtensionController.cpp
  Source/WebKit/WebProcess/UserContent/WebUserContentController.cpp
  Source/WebKit/WebProcess/WebCoreSupport/SessionStateConversion.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Owners: @dcrousso, @patrickangle

Cherry-pick 98e230059eea. rdar://problem/91281385
  LayoutTests/ChangeLog
  LayoutTests/workers/worker-user-gesture-expected.txt
  LayoutTests/workers/worker-user-gesture.html
  LayoutTests/workers/worker-user-gesture.js
  Source/WebCore/workers/WorkerMessagingProxy.cpp
  Source/WebCore/workers/WorkerMessagingProxy.h
Owners: none

Build fix. rdar://problem/91281385
  Source/WebCore/workers/shared/SharedWorkerManager.cpp
  Source/WebCore/workers/shared/SharedWorkerProxy.cpp
Owners: none

Apply patch. rdar://problem/92715090
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderFlexibleBox.cpp
  Source/WebCore/rendering/RenderFlexibleBox.h
Owners: none

Apply patch. rdar://problem/91484572
  Source/WebCore/layout/formattingContexts/inline/display/InlineDisplayContentBuilder.cpp
  Source/WebCore/layout/integration/LayoutIntegrationInlineContent.cpp
  Source/WebCore/layout/integration/LayoutIntegrationInlineContent.h
  Source/WebCore/layout/integration/LayoutIntegrationInlineContentBuilder.cpp
  Source/WebCore/rendering/RenderBlockFlow.cpp
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Cherry-pick 998553b10918. rdar://problem/91281385
  Source/WebCore/Modules/indexeddb/IDBValue.cpp
  Source/WebCore/Modules/webaudio/AudioWorkletNode.cpp
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
  Source/WebCore/bindings/js/SerializedScriptValue.h
  Source/WebCore/dom/BroadcastChannel.cpp
  Source/WebCore/dom/MessageEvent.cpp
  Source/WebCore/dom/MessageEvent.h
  Source/WebCore/dom/MessagePort.cpp
  Source/WebCore/page/DOMWindow.cpp
  Source/WebCore/page/EventSource.cpp
  Source/WebCore/page/History.cpp
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/workers/WorkerMessagingProxy.cpp
  Source/WebCore/workers/service/ServiceWorkerContainer.cpp
  Source/WebKit/ChangeLog
  Source/WebKit/Shared/API/APISerializedScriptValue.h
  Source/WebKit/Shared/SessionState.cpp
  Source/WebKit/Shared/UserData.cpp
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/Inspector/WebInspectorUIExtensionControllerProxy.cpp
  Source/WebKit/UIProcess/UserContent/WebUserContentControllerProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/WebProcess/Inspector/WebInspectorUIExtensionController.cpp
  Source/WebKit/WebProcess/UserContent/WebUserContentController.cpp
  Source/WebKit/WebProcess/WebCoreSupport/SessionStateConversion.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Owners: @dcrousso, @patrickangle

Cherry-pick 98e230059eea. rdar://problem/91281385
  LayoutTests/ChangeLog
  LayoutTests/workers/worker-user-gesture-expected.txt
  LayoutTests/workers/worker-user-gesture.html
  LayoutTests/workers/worker-user-gesture.js
  Source/WebCore/workers/WorkerMessagingProxy.cpp
  Source/WebCore/workers/WorkerMessagingProxy.h
Owners: none

Build fix. rdar://problem/91281385
  Source/WebCore/workers/shared/SharedWorkerManager.cpp
  Source/WebCore/workers/shared/SharedWorkerProxy.cpp
Owners: none

Apply patch. rdar://problem/92715090
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderFlexibleBox.cpp
  Source/WebCore/rendering/RenderFlexibleBox.h
Owners: none

Apply patch. rdar://problem/91484572
  Source/WebCore/layout/formattingContexts/inline/display/InlineDisplayContentBuilder.cpp
  Source/WebCore/layout/integration/LayoutIntegrationInlineContent.cpp
  Source/WebCore/layout/integration/LayoutIntegrationInlineContent.h
  Source/WebCore/layout/integration/LayoutIntegrationInlineContentBuilder.cpp
  Source/WebCore/rendering/RenderBlockFlow.cpp
Owners: none

[WTF] Remove MSVC hack for alignof https://bugs.webkit.org/show_bug.cgi?id=242032
  Source/WTF/wtf/text/StringImpl.h
Owners: none

Define post launch Mach bootstrap filter https://bugs.webkit.org/show_bug.cgi?id=241970
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/Shared/Cocoa/SandboxExtensionCocoa.mm
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Owners: none

Build fix. rdar://problem/91281385
  Source/WebCore/workers/shared/SharedWorkerProxy.cpp
Owners: none

Build fix. rdar://problem/91281385
  Source/WebCore/workers/shared/SharedWorkerProxy.cpp
Owners: none

[Gardening]: New test: [macOS/iOS arm64] TestWebKitAPI.WKContentRuleListStoreTest.CrossOriginCookieBlocking is crashing https://bugs.webkit.org/show_bug.cgi?id=241653
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKContentExtensionStore.mm
Owners: none

New test landed failing: [ macOS ] TestWebKitAPI.WebKit2.ConnectedToHardwareConsole is a consistent failure https://bugs.webkit.org/show_bug.cgi?id=241984 rdar://95878755
  Tools/TestWebKitAPI/Tests/WebKit/GetUserMedia.mm
Owners: none

Fix the Mac Catalyst TestWebKitAPI build https://bugs.webkit.org/show_bug.cgi?id=242037
  Source/WTF/wtf/PlatformHave.h
  Tools/TestWebKitAPI/Configurations/Base.xcconfig
Owners: none

Log a message when initializing the WebContent process https://bugs.webkit.org/show_bug.cgi?id=241829
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Owners: none

key is validated too late in RegistrationDatabase::importRecords() https://bugs.webkit.org/show_bug.cgi?id=242036 <rdar://87056249>
  Source/WebCore/workers/service/server/RegistrationDatabase.cpp
Owners: none

Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Revert c35cd6f16cca. rdar://problem/95872119
  Source/WebKit/GPUProcess/cocoa/GPUConnectionToWebProcessCocoa.mm
  Source/WebKit/Platform/spi/ios/SystemStatusSPI.h
Owners: none

Fix include gstreamer path on cross compiler toolchains https://bugs.webkit.org/show_bug.cgi?id=241483
  Source/cmake/FindGStreamer.cmake
Owners: none

Change contributor status of myself to committer https://bugs.webkit.org/show_bug.cgi?id=242042
  metadata/contributors.json
Owners: @JonWBedard

Download::platformCancelNetworkLoad() may call its completion handler on the wrong thread https://bugs.webkit.org/show_bug.cgi?id=242039 <rdar://74650424>
  Source/WebKit/NetworkProcess/Downloads/cocoa/DownloadCocoa.mm
Owners: none

Have DumpRenderTree use legacy scrolling https://bugs.webkit.org/show_bug.cgi?id=242038 <rdar://92772409>
  Tools/DumpRenderTree/mac/DumpRenderTree.mm
Owners: @JonWBedard

video.currentSrc should not be reset when a new load errors https://bugs.webkit.org/show_bug.cgi?id=225451 <rdar://77961629>
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/media-elements/loading-the-media-resource/resource-selection-currentSrc-expected.txt
  LayoutTests/media/video-currentsrc-cleared-expected.txt
  LayoutTests/media/video-currentsrc-cleared.html
  Source/WebCore/html/HTMLMediaElement.cpp
Owners: none

Ignore history items added by JS without user interaction via fragment navigation when navigation back/forward via the WKWebView API https://bugs.webkit.org/show_bug.cgi?id=241924 <rdar://95790598>
  Source/WebCore/loader/FrameLoader.cpp
  Tools/TestWebKitAPI/Tests/WebKit/WKBackForwardList.mm
Owners: none

[iOS] Selection highlight is not visible after right clicking non-editable text for the first time https://bugs.webkit.org/show_bug.cgi?id=242041 rdar://95810910
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/iOSMouseSupport.mm
Owners: none

[JSC] Drop wasm stale assertion https://bugs.webkit.org/show_bug.cgi?id=242047 rdar://95866655
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
Owners: @WebKit/jsc-reviewers

fix
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
  Source/JavaScriptCore/jit/JITPropertyAccess.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter32_64.asm
  Source/JavaScriptCore/llint/LowLevelInterpreter64.asm
  Source/JavaScriptCore/runtime/OptionsList.h
Owners: @WebKit/jsc-reviewers
