Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

Revert dbdfaebb4747. rdar://problem/99854408
  LayoutTests/TestExpectations
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1/types-basicDOM-01-b-expected.txt
  LayoutTests/platform/gtk/svg/batik/text/smallFonts-expected.txt
  LayoutTests/platform/gtk/svg/batik/text/textFeatures-expected.txt
  LayoutTests/platform/gtk/svg/text/select-textLength-spacing-squeeze-2-expected.txt
  LayoutTests/platform/ios/svg/W3C-SVG-1.1-SE/types-dom-01-b-expected.txt
  LayoutTests/platform/ios/svg/W3C-SVG-1.1/types-basicDOM-01-b-expected.txt
  LayoutTests/platform/ios/svg/batik/text/textFeatures-expected.txt
  LayoutTests/platform/ios/svg/text/append-text-node-to-tspan-expected.txt
  LayoutTests/platform/ios/svg/text/modify-text-node-in-tspan-expected.txt
  LayoutTests/platform/ios/svg/text/remove-text-node-from-tspan-expected.txt
  LayoutTests/platform/ios/svg/text/scaled-font-expected.txt
  LayoutTests/platform/ios/svg/text/scaling-font-with-geometric-precision-expected.txt
  LayoutTests/platform/mac/svg/W3C-SVG-1.1/types-basicDOM-01-b-expected.txt
  LayoutTests/platform/mac/svg/batik/text/smallFonts-expected.txt
  LayoutTests/platform/mac/svg/batik/text/textFeatures-expected.txt
  LayoutTests/platform/mac/svg/text/scaling-font-with-geometric-precision-expected.txt
  Source/WebCore/rendering/svg/RenderSVGText.cpp
  Source/WebCore/svg/SVGTextElement.cpp
  Source/WebCore/svg/SVGTextElement.h
Owners: none

Revert b87209ee89e8. rdar://problem/99854408
  LayoutTests/TestExpectations
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1/types-basicDOM-01-b-expected.txt
  LayoutTests/platform/gtk/svg/batik/text/smallFonts-expected.txt
  LayoutTests/platform/gtk/svg/batik/text/textFeatures-expected.txt
  LayoutTests/platform/gtk/svg/text/select-textLength-spacing-squeeze-2-expected.txt
  LayoutTests/platform/ios/svg/W3C-SVG-1.1-SE/types-dom-01-b-expected.txt
  LayoutTests/platform/ios/svg/W3C-SVG-1.1/types-basicDOM-01-b-expected.txt
  LayoutTests/platform/ios/svg/batik/text/textFeatures-expected.txt
  LayoutTests/platform/ios/svg/text/append-text-node-to-tspan-expected.txt
  LayoutTests/platform/ios/svg/text/modify-text-node-in-tspan-expected.txt
  LayoutTests/platform/ios/svg/text/remove-text-node-from-tspan-expected.txt
  LayoutTests/platform/ios/svg/text/scaled-font-expected.txt
  LayoutTests/platform/ios/svg/text/scaling-font-with-geometric-precision-expected.txt
  LayoutTests/platform/mac/svg/W3C-SVG-1.1/types-basicDOM-01-b-expected.txt
  LayoutTests/platform/mac/svg/batik/text/smallFonts-expected.txt
  LayoutTests/platform/mac/svg/batik/text/textFeatures-expected.txt
  LayoutTests/platform/mac/svg/text/scaling-font-with-geometric-precision-expected.txt
  Source/WebCore/rendering/svg/RenderSVGText.cpp
  Source/WebCore/svg/SVGTextElement.cpp
  Source/WebCore/svg/SVGTextElement.h
Owners: none

Cherry-picked ec9527d7aa0. rdar://99854408
  LayoutTests/TestExpectations
  Source/WebCore/rendering/svg/RenderSVGText.cpp
  Source/WebCore/svg/SVGTextElement.cpp
  Source/WebCore/svg/SVGTextElement.h
Owners: none

[LFC][IFC] Decouple layout bounds and ascent/descent on inline level boxes https://bugs.webkit.org/show_bug.cgi?id=246962
  Source/WebCore/layout/formattingContexts/inline/InlineLineBoxBuilder.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineLineBoxBuilder.h
Owners: none

[git-webkit] Trace reverted cherry-picks https://bugs.webkit.org/show_bug.cgi?id=246949 rdar://101501010
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/trace.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/trace_unittest.py
Owners: @facetothefate, @JonWBedard

[Xcode] Fix intermittent build failure by changing reference to libgtest.a https://bugs.webkit.org/show_bug.cgi?id=247018 rdar://100915618
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
Owners: none

[JSC] Add support for Atomics.waitAsync https://bugs.webkit.org/show_bug.cgi?id=241414 rdar://94655073
  JSTests/stress/SharedArrayBuffer.js
  JSTests/stress/bigint-atomics-fail.js
  JSTests/stress/settimeout-starvation.js
  JSTests/stress/shared-array-buffer-bigint.js
  JSTests/stress/waitasync-notify.js
  JSTests/stress/waitasync-waiterlist.js
  JSTests/test262/config.yaml
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/Sources.txt
  Source/JavaScriptCore/jsc.cpp
  Source/JavaScriptCore/runtime/AtomicsObject.cpp
  Source/JavaScriptCore/runtime/AtomicsObject.h
  Source/JavaScriptCore/runtime/Intrinsic.h
  Source/JavaScriptCore/runtime/JSGlobalObject.h
  Source/JavaScriptCore/runtime/OptionsList.h
  Source/JavaScriptCore/runtime/VM.cpp
  Source/JavaScriptCore/runtime/WaiterListManager.cpp
  Source/JavaScriptCore/runtime/WaiterListManager.h
  WebKit.xcworkspace/contents.xcworkspacedata
Owners: @WebKit/jsc-reviewers

Fix divide by zero warning in TextureMapperLayer https://bugs.webkit.org/show_bug.cgi?id=247033
  Source/WebCore/platform/graphics/texmap/TextureMapperLayer.cpp
Owners: none

MobileMiniBrowser default URL setting
  Tools/MobileMiniBrowser/MobileMiniBrowser.xcodeproj/project.pbxproj
  Tools/MobileMiniBrowser/MobileMiniBrowser/Base.lproj/LaunchScreen.storyboard
  Tools/MobileMiniBrowser/MobileMiniBrowserFramework/Base.lproj/Main.storyboard
  Tools/MobileMiniBrowser/MobileMiniBrowserFramework/SettingsViewController.h
  Tools/MobileMiniBrowser/MobileMiniBrowserFramework/SettingsViewController.m
  Tools/MobileMiniBrowser/MobileMiniBrowserFramework/WebViewController.m
Owners: @JonWBedard

Crashes in -[WebProcessPoolCocoa registerNotificationObservers] after 255941@main https://bugs.webkit.org/show_bug.cgi?id=247029 rdar://101563115
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
Owners: @cdumez

[git-webkit] Recognize partial cherry-picks https://bugs.webkit.org/show_bug.cgi?id=247015 rdar://101554254
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/trace.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/trace_unittest.py
Owners: @facetothefate, @JonWBedard

Cherry-pick 255988@main (ce254b14bda6). rdar://101501010
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/trace.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/trace_unittest.py
Owners: @facetothefate, @JonWBedard

Automatic live-ish resize engages late; one frame after the live resize starts https://bugs.webkit.org/show_bug.cgi?id=247028 rdar://101562669
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
Owners: @cdumez

Omit "normal" value for line-height from font shorthand in specified style too, not just computed https://bugs.webkit.org/show_bug.cgi?id=246931 rdar://problem/101487839
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-valid-expected.txt
  Source/WebCore/css/parser/CSSPropertyParser.cpp
Owners: none

Add help for running configure-xcode-for-embedded-development on Ventura https://bugs.webkit.org/show_bug.cgi?id=247032
  Tools/Scripts/configure-xcode-for-embedded-development
Owners: @JonWBedard

Cherry-pick 255991@main (afc379f14fb1). rdar://101554254
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/trace.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/trace_unittest.py
Owners: @facetothefate, @JonWBedard

[WPE][WebDriver] Fix Cog path in capabilities after 252411@main https://bugs.webkit.org/show_bug.cgi?id=247010
  Tools/Scripts/webkitpy/webdriver_tests/webdriver_driver_wpe.py
Owners: @JonWBedard

Cherry-pick 09df074a4a88. rdar://problem/87050763
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/system-color-valid-expected.txt
  Source/WebCore/css/CSSValueKeywords.in
  Source/WebCore/css/StyleColor.cpp
  Source/WebCore/css/StyleColor.h
  Source/WebCore/css/html.css
  Source/WebCore/rendering/RenderTheme.cpp
Owners: none

Cherry-pick 25abb3d63d29. rdar://problem/87050763
  LayoutTests/fast/css/internal-document-text-color-unexposed-expected.html
  LayoutTests/fast/css/internal-document-text-color-unexposed.html
  LayoutTests/fast/css/webkit-text-quirks-mode-expected.html
  LayoutTests/fast/css/webkit-text-quirks-mode.html
  Source/WebCore/css/CSSValueKeywords.in
  Source/WebCore/css/StyleColor.cpp
  Source/WebCore/css/parser/CSSParserIdioms.cpp
  Source/WebCore/css/quirks.css
  Source/WebCore/style/StyleBuilderState.cpp
Owners: none

Cherry-pick b6c018250b04. rdar://problem/87050763
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/css/CSSComputedStyleDeclaration.cpp
  Source/WebCore/css/CSSComputedStyleDeclaration.h
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/SVGCSSComputedStyleDeclaration.cpp
  Source/WebCore/css/StyleColor.cpp
  Source/WebCore/css/StyleColor.h
  Source/WebCore/css/makeprop.pl
  Source/WebCore/dom/Document.h
  Source/WebCore/editing/EditingStyle.cpp
  Source/WebCore/editing/FrameSelection.cpp
  Source/WebCore/editing/cocoa/DataDetection.mm
  Source/WebCore/page/DragController.cpp
  Source/WebCore/rendering/RenderReplaced.cpp
  Source/WebCore/rendering/RenderThemeIOS.mm
  Source/WebCore/rendering/RenderTreeAsText.cpp
  Source/WebCore/rendering/StyledMarkedText.cpp
  Source/WebCore/rendering/style/BorderValue.cpp
  Source/WebCore/rendering/style/BorderValue.h
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/SVGRenderStyle.h
  Source/WebCore/rendering/style/SVGRenderStyleDefs.h
  Source/WebCore/rendering/style/StyleBackgroundData.h
  Source/WebCore/rendering/style/StyleInheritedData.h
  Source/WebCore/rendering/style/StyleMultiColData.h
  Source/WebCore/rendering/style/StyleRareInheritedData.cpp
  Source/WebCore/rendering/style/StyleRareInheritedData.h
  Source/WebCore/rendering/style/StyleRareNonInheritedData.h
  Source/WebCore/rendering/svg/RenderSVGResource.cpp
  Source/WebCore/style/StyleBuilderConverter.h
  Source/WebCore/style/StyleBuilderCustom.h
  Source/WebCore/style/StyleBuilderState.cpp
  Source/WebCore/style/StyleBuilderState.h
  Source/WebCore/svg/SVGFEDiffuseLightingElement.cpp
  Source/WebCore/svg/SVGFEDropShadowElement.cpp
  Source/WebCore/svg/SVGFEFloodElement.cpp
  Source/WebCore/svg/SVGFESpecularLightingElement.cpp
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
Owners: @graouts, @rniwa, @cdumez

Cherry-pick 38edf7c001d. rdar://86505855
  Source/WebCore/Headers.cmake
  Source/WebCore/Sources.txt
  Source/WebCore/platform/graphics/Font.cpp
  Source/WebCore/platform/graphics/Font.h
  Source/WebCore/platform/graphics/FontCache.h
  Source/WebCore/platform/graphics/SystemFallbackFontCache.cpp
  Source/WebCore/platform/graphics/SystemFallbackFontCache.h
  Source/WebCore/platform/graphics/freetype/FontCacheFreeType.cpp
Owners: @WebKit/glib-reviewers

Cherry-pick ca08a222c80. rdar://99753615
  Source/JavaScriptCore/runtime/TemporalPlainDate.cpp
  Source/WebCore/css/CSSCrossfadeValue.cpp
  Source/WebCore/css/CSSCrossfadeValue.h
  Source/WebCore/css/CSSFilterImageValue.cpp
  Source/WebCore/css/CSSFilterImageValue.h
  Source/WebCore/css/CSSFontFaceSrcValue.cpp
  Source/WebCore/css/CSSFontFaceSrcValue.h
  Source/WebCore/css/CSSFunctionValue.cpp
  Source/WebCore/css/CSSFunctionValue.h
  Source/WebCore/css/CSSGridAutoRepeatValue.cpp
  Source/WebCore/css/CSSGridIntegerRepeatValue.cpp
  Source/WebCore/css/CSSGridLineNamesValue.cpp
  Source/WebCore/css/CSSImageSetValue.cpp
  Source/WebCore/css/CSSImageSetValue.h
  Source/WebCore/css/CSSImageValue.cpp
  Source/WebCore/css/CSSImageValue.h
  Source/WebCore/css/CSSPrimitiveValue.cpp
  Source/WebCore/css/CSSPrimitiveValue.h
  Source/WebCore/css/CSSValue.cpp
  Source/WebCore/css/CSSValue.h
  Source/WebCore/css/CSSValueList.cpp
  Source/WebCore/css/CSSValueList.h
  Source/WebCore/css/DeprecatedCSSOMPrimitiveValue.h
  Source/WebCore/css/DeprecatedCSSOMValue.cpp
  Source/WebCore/css/DeprecatedCSSOMValue.h
  Source/WebCore/css/DeprecatedCSSOMValueList.cpp
  Source/WebCore/css/DeprecatedCSSOMValueList.h
  Source/WebCore/css/PropertySetCSSStyleDeclaration.cpp
  Source/WebCore/css/StyleProperties.cpp
  Source/WebCore/css/StyleProperties.h
  Source/WebCore/css/parser/CSSParserTokenRange.h
  Source/WebCore/css/parser/CSSPropertyParser.h
  Source/WebCore/css/typedom/CSSNumericValue.h
  Source/WebCore/css/typedom/numeric/CSSMathMax.cpp
  Source/WebCore/css/typedom/numeric/CSSMathProduct.cpp
  Source/WebCore/css/typedom/numeric/CSSMathSum.cpp
  Source/WebCore/rendering/style/StyleCustomPropertyData.h
Owners: @WebKit/jsc-reviewers

Cherry-pick 3c15ae3f06ea. rdar://86506031
  Source/WebCore/Headers.cmake
  Source/WebCore/Sources.txt
  Source/WebCore/page/MemoryRelease.cpp
  Source/WebCore/page/SettingsBase.cpp
  Source/WebCore/platform/graphics/FontCache.cpp
  Source/WebCore/platform/graphics/FontCache.h
  Source/WebCore/platform/graphics/FontCascadeCache.cpp
  Source/WebCore/platform/graphics/FontCascadeCache.h
Owners: @cdumez

Cherry-pick c5bd323a7d36. rdar://problem/100785096
  Source/WebCore/Modules/airplay/WebMediaSessionManager.cpp
  Source/WebCore/accessibility/AccessibilityObject.cpp
  Source/WebCore/accessibility/AccessibilityObject.h
  Source/WebCore/accessibility/AccessibilityObjectInterface.h
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.h
  Source/WebCore/bindings/js/JSDOMGlobalObject.cpp
  Source/WebCore/css/StyleColor.cpp
  Source/WebCore/css/StyleColor.h
  Source/WebCore/html/canvas/WebGLVertexArrayObjectBase.cpp
  Source/WebCore/page/DragController.cpp
  Source/WebCore/platform/network/ParsedContentType.h
  Source/WebCore/rendering/RenderTreeAsText.cpp
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/style/StyleBuilderCustom.h
Owners: @cdumez, @rniwa

Cherry-pick 96c123ec8040. rdar://problem/22959741
  LayoutTests/fast/text/font-variant-shorthand-expected.txt
  LayoutTests/fast/text/font-variant-shorthand.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-variant-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/accumulation-per-property-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/addition-per-property-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/interpolation-per-property-001-expected.txt
  Source/WebCore/Sources.txt
  Source/WebCore/css/CSSComputedStyleDeclaration.cpp
  Source/WebCore/css/CSSFontVariantAlternatesValue.cpp
  Source/WebCore/css/CSSFontVariantAlternatesValue.h
  Source/WebCore/css/CSSPrimitiveValueMappings.h
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/CSSValue.cpp
  Source/WebCore/css/CSSValue.h
  Source/WebCore/css/CSSValueKeywords.in
  Source/WebCore/css/StyleProperties.cpp
  Source/WebCore/css/parser/CSSParserFastPaths.cpp
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/platform/graphics/FontCascadeCache.h
  Source/WebCore/platform/graphics/FontCascadeDescription.cpp
  Source/WebCore/platform/graphics/FontCascadeDescription.h
  Source/WebCore/platform/graphics/FontDescription.cpp
  Source/WebCore/platform/graphics/FontDescription.h
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/harfbuzz/ComplexTextControllerHarfBuzz.cpp
  Source/WebCore/platform/text/TextFlags.cpp
  Source/WebCore/platform/text/TextFlags.h
  Source/WebCore/style/StyleBuilderCustom.h
Owners: @WebKit/glib-reviewers

macOS Ventura Open Source Bring-up https://bugs.webkit.org/show_bug.cgi?id=246956
  Tools/CISupport/build-webkit-org/config.json
Owners: @aj062, @JonWBedard, @ryanhaddad

[MSVC] Suppress warning C4723: The second operand in a divide operation evaluated to zero at compile time https://bugs.webkit.org/show_bug.cgi?id=247033
  Source/cmake/OptionsMSVC.cmake
Owners: none

Revert "Cherry-pick 96c123ec8040. rdar://problem/22959741"
  LayoutTests/fast/text/font-variant-shorthand-expected.txt
  LayoutTests/fast/text/font-variant-shorthand.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-variant-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/accumulation-per-property-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/addition-per-property-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/interpolation-per-property-001-expected.txt
  Source/WebCore/Sources.txt
  Source/WebCore/css/CSSComputedStyleDeclaration.cpp
  Source/WebCore/css/CSSFontVariantAlternatesValue.cpp
  Source/WebCore/css/CSSFontVariantAlternatesValue.h
  Source/WebCore/css/CSSPrimitiveValueMappings.h
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/CSSValue.cpp
  Source/WebCore/css/CSSValue.h
  Source/WebCore/css/CSSValueKeywords.in
  Source/WebCore/css/StyleProperties.cpp
  Source/WebCore/css/parser/CSSParserFastPaths.cpp
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/platform/graphics/FontCascadeCache.h
  Source/WebCore/platform/graphics/FontCascadeDescription.cpp
  Source/WebCore/platform/graphics/FontCascadeDescription.h
  Source/WebCore/platform/graphics/FontDescription.cpp
  Source/WebCore/platform/graphics/FontDescription.h
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/harfbuzz/ComplexTextControllerHarfBuzz.cpp
  Source/WebCore/platform/text/TextFlags.cpp
  Source/WebCore/platform/text/TextFlags.h
  Source/WebCore/style/StyleBuilderCustom.h
Owners: @WebKit/glib-reviewers

Revert "Cherry-pick ca08a222c80. rdar://99753615"
  Source/JavaScriptCore/runtime/TemporalPlainDate.cpp
  Source/WebCore/css/CSSCrossfadeValue.cpp
  Source/WebCore/css/CSSCrossfadeValue.h
  Source/WebCore/css/CSSFilterImageValue.cpp
  Source/WebCore/css/CSSFilterImageValue.h
  Source/WebCore/css/CSSFontFaceSrcValue.cpp
  Source/WebCore/css/CSSFontFaceSrcValue.h
  Source/WebCore/css/CSSFunctionValue.cpp
  Source/WebCore/css/CSSFunctionValue.h
  Source/WebCore/css/CSSGridAutoRepeatValue.cpp
  Source/WebCore/css/CSSGridIntegerRepeatValue.cpp
  Source/WebCore/css/CSSGridLineNamesValue.cpp
  Source/WebCore/css/CSSImageSetValue.cpp
  Source/WebCore/css/CSSImageSetValue.h
  Source/WebCore/css/CSSImageValue.cpp
  Source/WebCore/css/CSSImageValue.h
  Source/WebCore/css/CSSPrimitiveValue.cpp
  Source/WebCore/css/CSSPrimitiveValue.h
  Source/WebCore/css/CSSValue.cpp
  Source/WebCore/css/CSSValue.h
  Source/WebCore/css/CSSValueList.cpp
  Source/WebCore/css/CSSValueList.h
  Source/WebCore/css/DeprecatedCSSOMPrimitiveValue.h
  Source/WebCore/css/DeprecatedCSSOMValue.cpp
  Source/WebCore/css/DeprecatedCSSOMValue.h
  Source/WebCore/css/DeprecatedCSSOMValueList.cpp
  Source/WebCore/css/DeprecatedCSSOMValueList.h
  Source/WebCore/css/PropertySetCSSStyleDeclaration.cpp
  Source/WebCore/css/StyleProperties.cpp
  Source/WebCore/css/StyleProperties.h
  Source/WebCore/css/parser/CSSParserTokenRange.h
  Source/WebCore/css/parser/CSSPropertyParser.h
  Source/WebCore/css/typedom/CSSNumericValue.h
  Source/WebCore/css/typedom/numeric/CSSMathMax.cpp
  Source/WebCore/css/typedom/numeric/CSSMathProduct.cpp
  Source/WebCore/css/typedom/numeric/CSSMathSum.cpp
  Source/WebCore/rendering/style/StyleCustomPropertyData.h
Owners: @WebKit/jsc-reviewers

Release assert while scrolling subframes under reentrant calls to updateAppearanceAfterLayout() https://bugs.webkit.org/show_bug.cgi?id=246978 rdar://97896551
  LayoutTests/editing/resources/selection-scrolling-in-multiple-nested-subframes-iframe.html
  LayoutTests/editing/selection/selection-scrolling-in-multiple-nested-subframes-expected.txt
  LayoutTests/editing/selection/selection-scrolling-in-multiple-nested-subframes.html
  Source/WebCore/page/FrameView.cpp
Owners: @rniwa, @cdumez

Works!
  Tools/MobileMiniBrowser/MobileMiniBrowser.xcodeproj/project.pbxproj
  Tools/MobileMiniBrowser/MobileMiniBrowserFramework/Base.lproj/Main.storyboard
  Tools/MobileMiniBrowser/MobileMiniBrowserFramework/SettingsViewController.h
  Tools/MobileMiniBrowser/MobileMiniBrowserFramework/SettingsViewController.m
Owners: @JonWBedard

Don't default to a fixed layout WKContentView on macOS https://bugs.webkit.org/show_bug.cgi?id=247045 <rdar://problem/101574314>
  Source/WebKit/UIProcess/API/mac/WKContentViewMac.mm
Owners: @cdumez

[SOUP] http/tests/security/cookies/cookie-theft-with-javascript-doc.html crashing since 255420@main
  LayoutTests/platform/gtk/TestExpectations
Owners: none

Add specific test expectations to imported/w3c/web-platform-tests/webcodecs/videoFrame-createImageBitmap.any.html https://bugs.webkit.org/show_bug.cgi?id=246946 rdar://problem/101497926
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/webcodecs/videoFrame-createImageBitmap.any-expected.txt
  LayoutTests/platform/mac-bigsur-wk2/imported/w3c/web-platform-tests/webcodecs/videoFrame-createImageBitmap.any-expected.txt
Owners: none

Implement font-variant-alternates matching https://bugs.webkit.org/show_bug.cgi?id=246121 rdar://100830615
  LayoutTests/TestExpectations
  LayoutTests/platform/gtk/TestExpectations
  Source/WebCore/Headers.cmake
  Source/WebCore/Sources.txt
  Source/WebCore/css/CSSFontFace.cpp
  Source/WebCore/css/CSSFontFace.h
  Source/WebCore/css/CSSFontFeatureValuesRule.cpp
  Source/WebCore/css/CSSFontSelector.cpp
  Source/WebCore/css/CSSFontSelector.h
  Source/WebCore/css/CSSSegmentedFontFace.cpp
  Source/WebCore/css/CSSSegmentedFontFace.h
  Source/WebCore/css/StyleRule.cpp
  Source/WebCore/css/StyleRule.h
  Source/WebCore/css/parser/CSSParserImpl.cpp
  Source/WebCore/platform/graphics/FontCreationContext.h
  Source/WebCore/platform/graphics/FontFeatureValues.cpp
  Source/WebCore/platform/graphics/FontFeatureValues.h
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/coretext/FontPlatformDataCoreText.cpp
  Source/WebCore/platform/graphics/harfbuzz/ComplexTextControllerHarfBuzz.cpp
  Source/WebCore/platform/text/TextFlags.cpp
  Source/WebCore/platform/text/TextFlags.h
  Source/WebCore/style/RuleSetBuilder.cpp
Owners: @WebKit/glib-reviewers

Align fetch header handling with fetch specification https://bugs.webkit.org/show_bug.cgi?id=247050 rdar://100130953
  Source/WebCore/Modules/fetch/FetchHeaders.cpp
  Source/WebCore/platform/network/HTTPParsers.cpp
  Source/WebCore/platform/network/HTTPParsers.h
  Source/WebCore/xml/XMLHttpRequest.cpp
Owners: @cdumez

[GTK][WPE] AsyncScrolling: site bobbyhadz.com/blog/git-commit-skip-hooks is not scrollable https://bugs.webkit.org/show_bug.cgi?id=247004
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeNicosia.cpp
  Source/WebCore/platform/graphics/nicosia/NicosiaPlatformLayer.h
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedGraphicsLayer.cpp
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedGraphicsLayer.h
Owners: @magomez, @zdobersek

Null check containingShadowRoot in more places https://bugs.webkit.org/show_bug.cgi?id=247051 rdar://99343630
  Source/WebCore/style/ElementRuleCollector.cpp
  Source/WebCore/style/StyleInvalidationFunctions.h
Owners: none

LibWebRTCVPXVideoEncoder does not need to set the decoder codecType https://bugs.webkit.org/show_bug.cgi?id=247001 rdar://problem/101539998
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_vp9_p0-expected.txt
  Source/WebCore/platform/LibWebRTCVPXVideoEncoder.cpp
Owners: none

[WebCodecs] an encoder or decoder with being processed content should not be GCed https://bugs.webkit.org/show_bug.cgi?id=246995 rdar://problem/101533086
  LayoutTests/TestExpectations
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoder.h
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.h
Owners: none

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
