Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @dcrousso, @patrickangle, @rniwa, @cdumez, @graouts, @zdobersek, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

[Gardening]: REBASELINE(255471@main): [ iOS ] fast/lists/inlineBoxWrapperNullCheck.html is a constant failure https://bugs.webkit.org/show_bug.cgi?id=246469
  LayoutTests/platform/ios/fast/lists/inlineBoxWrapperNullCheck-expected.txt
Owners: none

New tests: [Win] http/wpt/selection-live-range tests failing / timing out https://bugs.webkit.org/show_bug.cgi?id=246470 rdar://101139410
  LayoutTests/platform/win/TestExpectations
Owners: none

[Gardening]: New test(255354@main): [macOS iOS] imported/w3c/web-platform-tests/preload/preload-referrer-policy.html is a flaky failure https://bugs.webkit.org/show_bug.cgi?id=246427
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Owners: none

[media-controls] Duplicate buttons in top leading corner of fullscreen video https://bugs.webkit.org/show_bug.cgi?id=246414 rdar://100870340
  Source/WebKit/UIProcess/WebFullScreenManagerProxy.cpp
  Source/WebKit/UIProcess/WebFullScreenManagerProxy.h
  Source/WebKit/UIProcess/WebFullScreenManagerProxy.messages.in
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.cpp
  Source/WebKit/WebProcess/InjectedBundle/InjectedBundlePageFullScreenClient.cpp
  Source/WebKit/WebProcess/InjectedBundle/InjectedBundlePageFullScreenClient.h
Owners: @cdumez

Margin collapsing should not occur at the foreignObject boundary
  LayoutTests/svg/foreignObject/fO-margin-collapse-expected.html
  LayoutTests/svg/foreignObject/fO-margin-collapse.html
  Source/WebCore/rendering/RenderElement.cpp
Owners: none

Add EWS105, EWS112, and EWS102 into the macOS-BigSur-Debug-WK1-Tests-EWS queue https://bugs.webkit.org/show_bug.cgi?id=246190 rdar://problem/100193067>
  Tools/CISupport/ews-build/config.json
Owners: @aj062, @JonWBedard, @ryanhaddad

[curl] Add new WK C API to get the server certificate chain https://bugs.webkit.org/show_bug.cgi?id=246379
  Source/WebKit/Shared/API/c/curl/WKCertificateInfoCurl.cpp
  Source/WebKit/UIProcess/API/C/curl/WKProtectionSpaceCurl.cpp
  Source/WebKit/UIProcess/API/C/curl/WKProtectionSpaceCurl.h
  Tools/MiniBrowser/win/WebKitBrowserWindow.cpp
Owners: @cdumez, @JonWBedard

Unreviewed, reverting r255499@main. https://bugs.webkit.org/show_bug.cgi?id=246473
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Shared/SessionState.cpp
  Source/WebKit/Shared/SessionState.h
  Source/WebKit/Shared/SessionState.serialization.in
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.h
  Source/WebKit/UIProcess/API/glib/WebKitWebViewSessionState.cpp
  Source/WebKit/UIProcess/mac/LegacySessionStateCoding.cpp
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebCoreSupport/SessionStateConversion.cpp
Owners: @WebKit/glib-reviewers, @cdumez

Add a mechanism to remember the last IP address of the response for the main resource request https://bugs.webkit.org/show_bug.cgi?id=246128 rdar://100831206
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/spi/cf/CFNetworkSPI.h
  Source/WebCore/platform/network/DNS.cpp
  Source/WebCore/platform/network/DNS.h
  Source/WebKit/NetworkProcess/NetworkDataTask.cpp
  Source/WebKit/NetworkProcess/NetworkDataTask.h
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/NetworkSession.h
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.h
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
Owners: @cdumez

[BigSur+] Two IndexedDB wpt tests are failing since import https://bugs.webkit.org/show_bug.cgi?id=243681
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/wk2/TestExpectations
Owners: none

[Gardening]: REGRESSION(255471@main): [macOS iOS] fast/box-shadow/inset-spread-box-shadow-split-inline.html is a constant failure https://bugs.webkit.org/show_bug.cgi?id=246464
  LayoutTests/TestExpectations
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Owners: none

[Gardening]: RE-REBASELINE(254828@main): [ iOS16 ] fast/text/capitalize-boundaries.html is a constant failure https://bugs.webkit.org/show_bug.cgi?id=245708
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/ios-wk2/fast/text/capitalize-boundaries-expected.txt
Owners: none

[GTK] Gardening some API test failures
  Tools/TestWebKitAPI/glib/TestExpectations.json
Owners: @WebKit/glib-reviewers

Support loading Web Extension URLs and load the background page or service worker. https://bugs.webkit.org/show_bug.cgi?id=246409
  Source/WebCore/en.lproj/Localizable.strings
  Source/WebKit/Shared/WebPageCreationParameters.cpp
  Source/WebKit/Shared/WebPageCreationParameters.h
  Source/WebKit/UIProcess/API/APIPageConfiguration.cpp
  Source/WebKit/UIProcess/API/APIPageConfiguration.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewConfiguration.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewConfigurationPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionContext.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionContext.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionController.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionControllerCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionURLSchemeHandlerCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtension.h
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/UIProcess/Extensions/WebExtensionController.h
  Source/WebKit/UIProcess/Extensions/WebExtensionURLSchemeHandler.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebURLSchemeHandler.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionController.mm
Owners: @cdumez

Start moving classes which use SharedBitmap across to the new Serialization format. https://bugs.webkit.org/show_bug.cgi?id=246087 <rdar://100808518>
  Source/WebCore/platform/Cursor.h
  Source/WebCore/platform/Pasteboard.cpp
  Source/WebCore/platform/Pasteboard.h
  Source/WebCore/platform/cocoa/PasteboardCocoa.mm
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Shared/Pasteboard.serialization.in
  Source/WebKit/Shared/ShareableBitmap.cpp
  Source/WebKit/Shared/ShareableBitmap.h
  Source/WebKit/Shared/ShareableBitmap.serialization.in
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/Shared/ios/InteractionInformationAtPosition.h
  Source/WebKit/Shared/ios/InteractionInformationAtPosition.mm
  Source/WebKit/Shared/ios/InteractionInformationAtPosition.serialization.in
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Owners: none

[SKAdNetwork for Web Ads] Safari/WebKit should indicate version as "4.0" when calling SKAdNetwork SPI https://bugs.webkit.org/show_bug.cgi?id=246479 <rdar://101108536>
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.mm
Owners: @cdumez

REGRESSION(255511) [GTK] Fix API test expectation
  Tools/TestWebKitAPI/glib/TestExpectations.json
Owners: @WebKit/glib-reviewers

Prioritize the currently checked out branch when picking the canonical one. https://bugs.webkit.org/show_bug.cgi?id=246385
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/scm_base.py
Owners: @facetothefate, @JonWBedard

[webkitcorepy] Add NullContext https://bugs.webkit.org/show_bug.cgi?id=246494 rdar://101150808
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/__init__.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/null_context.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/tests/null_context_unittest.py
Owners: @JonWBedard

Cherry-pick 255403@main (4f144420a531). rdar://101046976
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/cherry_pick.py
Owners: @facetothefate, @JonWBedard

[JSC] Attach descriptive names to private internal functions https://bugs.webkit.org/show_bug.cgi?id=246474 rdar://101144740
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
Owners: @WebKit/jsc-reviewers

Generate serializers for struct AudioConfiguration
  Source/WebCore/platform/mediacapabilities/AudioConfiguration.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Owners: none

Add SPI to clear data for WKWebsiteDataStore created with identifier https://bugs.webkit.org/show_bug.cgi?id=246282 rdar://100920122
  Source/WTF/WTF.xcodeproj/project.pbxproj
  Source/WTF/wtf/UUID.h
  Source/WTF/wtf/cocoa/UUIDCocoa.mm
  Source/WebKit/Platform/cocoa/CocoaHelpers.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebsiteDataStore.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebsiteDataStorePrivate.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebsiteDataStoreConfiguration.mm
  Source/WebKit/UIProcess/WebsiteData/Cocoa/WebsiteDataStoreCocoa.mm
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.h
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStoreConfiguration.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebsiteDatastore.mm
Owners: @cdumez

Regression(252759@main) Unable to log into pandora.com https://bugs.webkit.org/show_bug.cgi?id=246430 rdar://100243111
  LayoutTests/editing/execCommand/show-modal-dialog-during-execCommand-expected.txt
  LayoutTests/fast/animation/request-animation-frame-during-modal-expected.txt
  LayoutTests/fast/dom/Window/delete-operations-expected.txt
  LayoutTests/fast/dom/Window/forbid-showModalDialog-expected.txt
  LayoutTests/fast/dom/Window/open-window-min-size-expected.txt
  LayoutTests/fast/dom/Window/showModalDialog-mandatory-parameter-expected.txt
  LayoutTests/fast/dom/Window/window-function-frame-getter-precedence-expected.txt
  LayoutTests/fast/dom/Window/window-function-name-getter-precedence-expected.txt
  LayoutTests/fast/dom/Window/window-lookup-precedence-expected.txt
  LayoutTests/fast/dom/null-page-show-modal-dialog-crash-expected.txt
  LayoutTests/fast/dom/wrapper-identity-expected.txt
  LayoutTests/http/tests/cookies/document-cookie-after-showModalDialog-expected.txt
  LayoutTests/http/tests/security/cross-frame-access-call-expected.txt
  LayoutTests/http/tests/security/cross-frame-access-put-expected.txt
  LayoutTests/http/tests/security/cross-origin-modal-dialog-base-expected.txt
  LayoutTests/http/tests/security/navigate-when-restoring-cached-page-expected.txt
  LayoutTests/http/tests/security/showModalDialog-sync-cross-origin-page-load2-expected.txt
  LayoutTests/js/dom/function-length-expected.txt
  LayoutTests/js/dom/global-function-resolve-expected.txt
  LayoutTests/platform/gtk/fast/dom/Window/window-lookup-precedence-expected.txt
  LayoutTests/platform/mac-wk1/fast/events/beforeunload-showModalDialog-expected.txt
  LayoutTests/platform/mac-wk1/fast/events/pagehide-showModalDialog-expected.txt
  LayoutTests/platform/mac-wk1/fast/events/unload-showModalDialog-expected.txt
  LayoutTests/platform/mac-wk2/fast/dom/Window/window-lookup-precedence-expected.txt
  Source/WebCore/bindings/js/JSDOMWindowBase.cpp
  Source/WebCore/bindings/js/JSDOMWindowCustom.cpp
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
Owners: @rniwa, @WebKit/jsc-reviewers, @cdumez

[LFC][IFC] Fix fast/inline/inline-root-with-negative-margin-and-sibling-float.html https://bugs.webkit.org/show_bug.cgi?id=246465
  LayoutTests/TestExpectations
  Source/WebCore/layout/formattingContexts/inline/InlineLineBuilder.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineLineBuilder.h
Owners: none

[PlayStation] Introduce VMTag https://bugs.webkit.org/show_bug.cgi?id=246434
  Source/bmalloc/bmalloc/BVMTags.h
  Source/bmalloc/libpas/src/libpas/pas_page_malloc.c
  Source/cmake/OptionsPlayStation.cmake
Owners: @Constellation

Blob support for the private browsing backing store https://bugs.webkit.org/show_bug.cgi?id=156347
  Source/WebCore/Modules/indexeddb/IDBObjectStore.cpp
  Source/WebCore/Modules/indexeddb/IDBTransaction.cpp
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
  Source/WebCore/bindings/js/SerializedScriptValue.h
  Source/WebCore/platform/network/BlobRegistry.h
  Source/WebCore/platform/network/BlobRegistryImpl.cpp
  Source/WebCore/platform/network/BlobRegistryImpl.h
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.h
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.messages.in
  Source/WebKit/NetworkProcess/NetworkProcessPlatformStrategies.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.h
  Source/WebKit/WebProcess/FileAPI/BlobRegistryProxy.cpp
  Source/WebKit/WebProcess/FileAPI/BlobRegistryProxy.h
  Source/WebKit/WebProcess/Network/NetworkProcessConnection.cpp
  Source/WebKit/WebProcess/Network/NetworkProcessConnection.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebPlatformStrategies.mm
  Source/WebKitLegacy/win/WebCoreSupport/WebPlatformStrategies.cpp
Owners: @cdumez

Screen orientation tests are flaky time outs on iOS simulator https://bugs.webkit.org/show_bug.cgi?id=246463 rdar://101130157
  LayoutTests/platform/ios-wk2/TestExpectations
  Tools/WebKitTestRunner/ios/PlatformWebViewIOS.mm
  Tools/WebKitTestRunner/ios/TestControllerIOS.mm
Owners: @JonWBedard

[Gardening] REGRESSION(255324@main): WebProcess crash while running TestUIClient https://bugs.webkit.org/show_bug.cgi?id=246480
  Source/WTF/wtf/FileSystem.h
  Source/WTF/wtf/glib/FileSystemGlib.cpp
Owners: @WebKit/glib-reviewers

Serialize template content correctly https://bugs.webkit.org/show_bug.cgi?id=246507 rdar://99568381
  Source/WebCore/editing/MarkupAccumulator.cpp
Owners: @rniwa

Tear down child renderers when removing display: contents https://bugs.webkit.org/show_bug.cgi?id=246450 rdar://95570441
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/Element.h
  Source/WebCore/rendering/updating/RenderTreeUpdater.cpp
Owners: @rniwa, @cdumez

"display" property value of computed style for audio element without controls is "inline" (not "none")
  LayoutTests/media/audio-controls-hidden-display-none-expected.txt
  LayoutTests/media/audio-controls-hidden-display-none.html
  Source/WebCore/css/html.css
Owners: none

More non-unified build fixes after 255488@main
  Source/WebCore/css/query/MediaQueryParser.cpp
Owners: none

Merge 255496@main - [WK2] constexpr-ify IPC encoding, decoding of std::tuple<> objects https://bugs.webkit.org/show_bug.cgi?id=246149
  Source/WebKit/Platform/IPC/ArgumentCoders.h
Owners: @cdumez

Merge 255521@main - Regression(252759@main) Unable to log into pandora.com https://bugs.webkit.org/show_bug.cgi?id=246430 rdar://100243111
  LayoutTests/editing/execCommand/show-modal-dialog-during-execCommand-expected.txt
  LayoutTests/fast/animation/request-animation-frame-during-modal-expected.txt
  LayoutTests/fast/dom/Window/delete-operations-expected.txt
  LayoutTests/fast/dom/Window/forbid-showModalDialog-expected.txt
  LayoutTests/fast/dom/Window/open-window-min-size-expected.txt
  LayoutTests/fast/dom/Window/showModalDialog-mandatory-parameter-expected.txt
  LayoutTests/fast/dom/Window/window-function-frame-getter-precedence-expected.txt
  LayoutTests/fast/dom/Window/window-function-name-getter-precedence-expected.txt
  LayoutTests/fast/dom/Window/window-lookup-precedence-expected.txt
  LayoutTests/fast/dom/null-page-show-modal-dialog-crash-expected.txt
  LayoutTests/fast/dom/wrapper-identity-expected.txt
  LayoutTests/http/tests/cookies/document-cookie-after-showModalDialog-expected.txt
  LayoutTests/http/tests/security/cross-frame-access-call-expected.txt
  LayoutTests/http/tests/security/cross-frame-access-put-expected.txt
  LayoutTests/http/tests/security/cross-origin-modal-dialog-base-expected.txt
  LayoutTests/http/tests/security/navigate-when-restoring-cached-page-expected.txt
  LayoutTests/http/tests/security/showModalDialog-sync-cross-origin-page-load2-expected.txt
  LayoutTests/js/dom/function-length-expected.txt
  LayoutTests/js/dom/global-function-resolve-expected.txt
  LayoutTests/platform/gtk/fast/dom/Window/window-lookup-precedence-expected.txt
  LayoutTests/platform/mac-wk1/fast/events/beforeunload-showModalDialog-expected.txt
  LayoutTests/platform/mac-wk1/fast/events/pagehide-showModalDialog-expected.txt
  LayoutTests/platform/mac-wk1/fast/events/unload-showModalDialog-expected.txt
  LayoutTests/platform/mac-wk2/fast/dom/Window/window-lookup-precedence-expected.txt
  Source/WebCore/bindings/js/JSDOMWindowBase.cpp
  Source/WebCore/bindings/js/JSDOMWindowCustom.cpp
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
Owners: @rniwa, @WebKit/jsc-reviewers, @cdumez

Merge 255492@main - NetworkStorageManager can be destroyed on wrong thread https://bugs.webkit.org/show_bug.cgi?id=246375 rdar://101056611
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.h
Owners: @cdumez

[GTK] D-Bus proxy quietly fails if host bus address is not mounted in xdg-dbus-proxy's sandbox https://bugs.webkit.org/show_bug.cgi?id=246159
  Source/WTF/wtf/glib/Sandbox.cpp
  Source/WTF/wtf/glib/Sandbox.h
  Source/WebCore/platform/graphics/PlatformDisplay.h
  Source/WebKit/UIProcess/Launcher/glib/BubblewrapLauncher.cpp
  Source/WebKit/UIProcess/Launcher/glib/XDGDBusProxy.cpp
  Source/WebKit/UIProcess/Launcher/glib/XDGDBusProxy.h
  Source/WebKit/UIProcess/glib/WebProcessPoolGLib.cpp
Owners: @WebKit/glib-reviewers

Safari crashes on knowyourmeme.com/memes/oh-the-huge-manatee https://bugs.webkit.org/show_bug.cgi?id=246481 <rdar://100914598>
  LayoutTests/fast/block/out-of-flow-becomes-float-crash-expected.txt
  LayoutTests/fast/block/out-of-flow-becomes-float-crash.html
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.cpp
Owners: none

Unreviewed, reverting r255507@main. https://bugs.webkit.org/show_bug.cgi?id=246516
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/spi/cf/CFNetworkSPI.h
  Source/WebCore/platform/network/DNS.cpp
  Source/WebCore/platform/network/DNS.h
  Source/WebKit/NetworkProcess/NetworkDataTask.cpp
  Source/WebKit/NetworkProcess/NetworkDataTask.h
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/NetworkSession.h
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.h
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
Owners: @cdumez

[WK2] Generalize IPC encoding, decoding of easily-initializable types https://bugs.webkit.org/show_bug.cgi?id=246505
  Source/WebKit/GPUProcess/GPUProcessCreationParameters.cpp
  Source/WebKit/GPUProcess/GPUProcessCreationParameters.h
  Source/WebKit/GPUProcess/GPUProcessSessionParameters.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackendCreationParameters.h
  Source/WebKit/GPUProcess/media/InitializationSegmentInfo.h
  Source/WebKit/GPUProcess/media/RemoteMediaDescription.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxyConfiguration.h
  Source/WebKit/GPUProcess/media/TextTrackPrivateRemoteConfiguration.h
  Source/WebKit/NetworkProcess/Classifier/WebResourceLoadStatisticsStore.cpp
  Source/WebKit/NetworkProcess/Classifier/WebResourceLoadStatisticsStore.h
  Source/WebKit/NetworkProcess/NetworkSessionCreationParameters.cpp
  Source/WebKit/NetworkProcess/NetworkSessionCreationParameters.h
  Source/WebKit/Platform/IPC/ArgumentCoders.h
  Source/WebKit/WebProcess/GPU/media/MediaOverridesForTesting.h
  Source/WebKit/WebProcess/GPU/media/RemoteAudioSessionConfiguration.h
  Source/WebKit/WebProcess/GPU/media/RemoteCDMConfiguration.h
  Source/WebKit/WebProcess/GPU/media/RemoteCDMInstanceConfiguration.h
  Source/WebKit/WebProcess/GPU/media/RemoteMediaPlayerConfiguration.h
  Source/WebKit/WebProcess/GPU/media/RemoteMediaPlayerState.h
  Source/WebKit/WebProcess/GPU/media/RemoteVideoFrameProxy.h
  Source/WebKit/WebProcess/Network/NetworkProcessConnectionInfo.h
  Source/WebKit/WebProcess/WebCoreSupport/WebSpeechSynthesisVoice.h
Owners: @cdumez

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @dcrousso @patrickangle
/Source/JavaScriptCore/inspector @dcrousso @patrickangle
/Source/WebCore/inspector @dcrousso @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @dcrousso @patrickangle
/Source/WebKit/WebProcess/Inspector @dcrousso @patrickangle
/Tools/Scripts/webkitpy/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/inspector @dcrousso @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @dcrousso @patrickangle
/LayoutTests/inspector @dcrousso @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applepay @dcrousso
/Source/WebCore/Modules/paymentrequest @dcrousso
/LayoutTests/http/tests/paymentrequest @dcrousso
/LayoutTests/http/tests/ssl/applepay @dcrousso

/Source/WebCore/Modules/applepay-ams-ui @dcrousso
/LayoutTests/http/tests/ssl/applepay-ams-ui @dcrousso

/Source/WebCore/Modules/mediacontrols @dcrousso
/Source/WebCore/Modules/modern-media-controls @dcrousso
/LayoutTests/media/modern-media-controls @dcrousso

/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/loader @cdumez
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez

Source/WebCore/animation @graouts
Source/WebCore/Modules/model-element @graouts

/Source/WebCore/crypto/ @zdobersek

# ================================================================================
# WebKit

/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/Platform @cdumez
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/WebProcess @cdumez

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
