Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

[JSC] Refactor scattered JIT code into InlineCacheCompiler and make AccessCases more pure-data objects https://bugs.webkit.org/show_bug.cgi?id=254445 rdar://107203467
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/Sources.txt
  Source/JavaScriptCore/bytecode/AccessCase.cpp
  Source/JavaScriptCore/bytecode/AccessCase.h
  Source/JavaScriptCore/bytecode/AccessCaseSnippetParams.cpp
  Source/JavaScriptCore/bytecode/AccessCaseSnippetParams.h
  Source/JavaScriptCore/bytecode/CheckPrivateBrandStatus.cpp
  Source/JavaScriptCore/bytecode/DeleteByStatus.cpp
  Source/JavaScriptCore/bytecode/GetByStatus.cpp
  Source/JavaScriptCore/bytecode/GetterSetterAccessCase.cpp
  Source/JavaScriptCore/bytecode/GetterSetterAccessCase.h
  Source/JavaScriptCore/bytecode/InByStatus.cpp
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.cpp
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.h
  Source/JavaScriptCore/bytecode/InstanceOfAccessCase.h
  Source/JavaScriptCore/bytecode/InstanceOfStatus.cpp
  Source/JavaScriptCore/bytecode/IntrinsicGetterAccessCase.cpp
  Source/JavaScriptCore/bytecode/IntrinsicGetterAccessCase.h
  Source/JavaScriptCore/bytecode/ModuleNamespaceAccessCase.cpp
  Source/JavaScriptCore/bytecode/ModuleNamespaceAccessCase.h
  Source/JavaScriptCore/bytecode/PolymorphicAccess.cpp
  Source/JavaScriptCore/bytecode/ProxyObjectAccessCase.cpp
  Source/JavaScriptCore/bytecode/ProxyObjectAccessCase.h
  Source/JavaScriptCore/bytecode/ProxyableAccessCase.h
  Source/JavaScriptCore/bytecode/PutByStatus.cpp
  Source/JavaScriptCore/bytecode/Repatch.cpp
  Source/JavaScriptCore/bytecode/SetPrivateBrandStatus.cpp
  Source/JavaScriptCore/bytecode/StructureStubInfo.cpp
  Source/JavaScriptCore/bytecode/StructureStubInfo.h
  Source/JavaScriptCore/jit/IntrinsicEmitter.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 2f169036ec50. rdar://problem/106956544
  Source/WebCore/Modules/cache/DOMCacheEngine.cpp
  Source/WebCore/Modules/cache/DOMCacheEngine.h
  Source/WebCore/loader/CrossOriginAccessControl.cpp
  Source/WebCore/loader/CrossOriginAccessControl.h
  Source/WebCore/platform/network/ResourceResponseBase.cpp
  Source/WebCore/platform/network/ResourceResponseBase.h
  Source/WebKit/NetworkProcess/storage/CacheStorageCache.cpp
  Source/WebKit/NetworkProcess/storage/CacheStorageCache.h
  Source/WebKit/NetworkProcess/storage/CacheStorageDiskStore.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.h
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.messages.in
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/WebProcess/Cache/WebCacheStorageConnection.cpp
Owners: @cdumez

Cherry-pick 509d2d337d1c. rdar://problem/107225367
  LayoutTests/accessibility/password-field-value-expected.txt
  LayoutTests/accessibility/password-field-value.html
  LayoutTests/accessibility/secure-field-value-expected.txt
  LayoutTests/accessibility/secure-field-value.html
  Source/WebCore/accessibility/AXLogger.cpp
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AXObjectCache.h
  Source/WebCore/accessibility/AccessibilityNodeObject.cpp
  Source/WebCore/accessibility/AccessibilityNodeObject.h
  Source/WebCore/accessibility/AccessibilityObject.cpp
  Source/WebCore/accessibility/AccessibilityObject.h
  Source/WebCore/accessibility/AccessibilityObjectInterface.h
  Source/WebCore/accessibility/AccessibilityRenderObject.cpp
  Source/WebCore/accessibility/AccessibilityRenderObject.h
  Source/WebCore/accessibility/atspi/AccessibilityObjectAtspi.cpp
  Source/WebCore/accessibility/atspi/AccessibilityObjectTextAtspi.cpp
  Source/WebCore/accessibility/ios/AccessibilityObjectIOS.mm
  Source/WebCore/accessibility/ios/WebAccessibilityObjectWrapperIOS.mm
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.h
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.h
  Source/WebCore/accessibility/mac/AccessibilityObjectMac.mm
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperMac.mm
  Source/WebCore/html/HTMLInputElement.cpp
  Source/WebCore/html/HTMLInputElement.h
Owners: @WebKit/glib-reviewers, @cdumez, @rniwa

[JSC] Make HasOwnPropertyCache::hash better https://bugs.webkit.org/show_bug.cgi?id=254554 rdar://107289916
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/runtime/HasOwnPropertyCache.h
Owners: @WebKit/jsc-reviewers

Cherry-pick 252432.1013@safari-7614-branch (1d545c7ebfef). rdar://107285836
  LayoutTests/animations/animation-set-effect-expected.txt
  LayoutTests/animations/animation-set-effect.html
  Source/WebCore/animation/CSSAnimation.cpp
Owners: @graouts

Fix for build with new SDK. https://bugs.webkit.org/show_bug.cgi?id=254534 <rdar://problem/107275292>
  Tools/DumpRenderTree/mac/AccessibilityUIElementMac.mm
  Tools/WebKitTestRunner/InjectedBundle/mac/AccessibilityUIElementMac.mm
Owners: @JonWBedard

Revert 509d2d337d1c. rdar://problem/107225367
  LayoutTests/accessibility/password-field-value-expected.txt
  LayoutTests/accessibility/password-field-value.html
  LayoutTests/accessibility/secure-field-value-expected.txt
  LayoutTests/accessibility/secure-field-value.html
  Source/WebCore/accessibility/AXLogger.cpp
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AXObjectCache.h
  Source/WebCore/accessibility/AccessibilityNodeObject.cpp
  Source/WebCore/accessibility/AccessibilityNodeObject.h
  Source/WebCore/accessibility/AccessibilityObject.cpp
  Source/WebCore/accessibility/AccessibilityObject.h
  Source/WebCore/accessibility/AccessibilityObjectInterface.h
  Source/WebCore/accessibility/AccessibilityRenderObject.cpp
  Source/WebCore/accessibility/AccessibilityRenderObject.h
  Source/WebCore/accessibility/atspi/AccessibilityObjectAtspi.cpp
  Source/WebCore/accessibility/atspi/AccessibilityObjectTextAtspi.cpp
  Source/WebCore/accessibility/ios/AccessibilityObjectIOS.mm
  Source/WebCore/accessibility/ios/WebAccessibilityObjectWrapperIOS.mm
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.h
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.h
  Source/WebCore/accessibility/mac/AccessibilityObjectMac.mm
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperMac.mm
  Source/WebCore/html/HTMLInputElement.cpp
  Source/WebCore/html/HTMLInputElement.h
Owners: @WebKit/glib-reviewers, @cdumez, @rniwa

Add SessionID to the name of WorkQueue in NetworkStorageManager https://bugs.webkit.org/show_bug.cgi?id=254483 rdar://107243681
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.h
Owners: @cdumez

Two media/track/track-webvtt-snap-to-lines tests sometimes fail https://bugs.webkit.org/show_bug.cgi?id=254538 rdar://106031213
  LayoutTests/media/track/track-webvtt-snap-to-lines-inline-style.html
  LayoutTests/media/track/track-webvtt-snap-to-lines-left-right.html
Owners: none

[GPU Process] Focus outline is off on <select> on wpt.fyi/interop-2023 https://bugs.webkit.org/show_bug.cgi?id=254472 rdar://107165828
  Source/WebCore/platform/graphics/mac/controls/ControlMac.mm
Owners: none

CG display lists should be replayed with asynchronous rendering if appropriate https://bugs.webkit.org/show_bug.cgi?id=247214 rdar://99473475
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
Owners: none

Declare as abort_with_reason as SPI and add support for older builds. https://bugs.webkit.org/show_bug.cgi?id=254551 <rdar://problem/107277043>
  Source/JavaScriptCore/llint/LLIntSlowPaths.cpp
  Source/WTF/WTF.xcodeproj/project.pbxproj
  Source/WTF/wtf/Assertions.h
  Source/WTF/wtf/spi/darwin/AbortWithReasonSPI.h
Owners: @WebKit/jsc-reviewers

[GPU Process] Cache Gradient as a rendering resource https://bugs.webkit.org/show_bug.cgi?id=253599 rdar://106447608
  Source/WebCore/platform/graphics/DecomposedGlyphs.cpp
  Source/WebCore/platform/graphics/DecomposedGlyphs.h
  Source/WebCore/platform/graphics/Gradient.cpp
  Source/WebCore/platform/graphics/Gradient.h
  Source/WebCore/platform/graphics/GraphicsContextState.h
  Source/WebCore/platform/graphics/NativeImage.h
  Source/WebCore/platform/graphics/RenderingResource.h
  Source/WebCore/platform/graphics/SourceBrush.cpp
  Source/WebCore/platform/graphics/SourceBrush.h
  Source/WebCore/platform/graphics/displaylists/DisplayList.h
  Source/WebCore/platform/graphics/displaylists/DisplayListItems.h
  Source/WebCore/platform/graphics/displaylists/DisplayListRecorder.cpp
  Source/WebCore/platform/graphics/displaylists/DisplayListRecorder.h
  Source/WebCore/platform/graphics/displaylists/DisplayListRecorderImpl.cpp
  Source/WebCore/platform/graphics/displaylists/DisplayListRecorderImpl.h
  Source/WebCore/platform/graphics/displaylists/DisplayListResourceHeap.h
  Source/WebCore/rendering/svg/RenderSVGResourceLinearGradient.cpp
  Source/WebCore/rendering/svg/RenderSVGResourceRadialGradient.cpp
  Source/WebKit/GPUProcess/graphics/QualifiedResourceHeap.h
  Source/WebKit/GPUProcess/graphics/RemoteDisplayListRecorder.cpp
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.messages.in
  Source/WebKit/GPUProcess/graphics/RemoteResourceCache.cpp
  Source/WebKit/GPUProcess/graphics/RemoteResourceCache.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/WebProcess/GPU/graphics/RemoteDisplayListRecorderProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteDisplayListRecorderProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.h
Owners: @cdumez

[UI-side compositing] Have internals.setUsesOverlayScrollbars() plumb bit to UI process https://bugs.webkit.org/show_bug.cgi?id=254381 rdar://107161887
  Source/WebCore/page/scrolling/AsyncScrollingCoordinator.cpp
  Source/WebCore/page/scrolling/ScrollingStateFrameScrollingNode.cpp
  Source/WebCore/page/scrolling/ScrollingStateFrameScrollingNode.h
  Source/WebCore/page/scrolling/ScrollingStateNode.h
  Source/WebCore/page/scrolling/ScrollingTree.cpp
  Source/WebCore/page/scrolling/ScrollingTree.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteScrollingCoordinatorTransaction.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.mm
  Tools/WebKitTestRunner/mac/UIScriptControllerMac.h
Owners: @cdumez, @JonWBedard

Compilation failure with some configurations: no member named 'enableMockMediaSource' https://bugs.webkit.org/show_bug.cgi?id=254558 rdar://107291538
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.messages.in
Owners: none

Revert "Cherry-pick aa394d9f173f. rdar://problem/107078574"
  Source/WebKit/UIProcess/WebFrameProxy.cpp
Owners: @cdumez

Cherry-pick aa394d9f173f. rdar://problem/107078574
  Source/WebKit/UIProcess/WebFrameProxy.cpp
Owners: @cdumez

Cherry-pick af3f7f9c0743. rdar://problem/107277043
  Source/JavaScriptCore/llint/LLIntSlowPaths.cpp
  Source/WTF/WTF.xcodeproj/project.pbxproj
  Source/WTF/wtf/Assertions.h
  Source/WTF/wtf/spi/darwin/AbortWithReasonSPI.h
Owners: @WebKit/jsc-reviewers

[RemoteInspector][Socket] change RunLoop::cycle() to non-blocking https://bugs.webkit.org/show_bug.cgi?id=254396
  Source/WTF/wtf/win/RunLoopWin.cpp
Owners: none

[IFC] Incorrect out-of-flow box placement when float is present (display: inline) https://bugs.webkit.org/show_bug.cgi?id=254539
  LayoutTests/fast/inline/out-of-flow-inline-with-float-on-last-line-expected.html
  LayoutTests/fast/inline/out-of-flow-inline-with-float-on-last-line.html
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingContext.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingContext.h
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingGeometry.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingGeometry.h
Owners: none

TextureMirrorClampToEdgeEXT is not available on watchOS https://bugs.webkit.org/show_bug.cgi?id=254557 rdar://107290832
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/DisplayMtl.mm
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/mtl_utils.mm
Owners: none

[JSC] Add ImplementationVisibility to Wasm::Callee https://bugs.webkit.org/show_bug.cgi?id=254455 rdar://107213008
  JSTests/wasm/function-tests/nameSection.js
  JSTests/wasm/function-tests/stack-trace.js
  JSTests/wasm/function-tests/trap-after-cross-instance-call.js
  JSTests/wasm/function-tests/trap-load-2.js
  JSTests/wasm/function-tests/trap-load-shared.js
  JSTests/wasm/function-tests/trap-load.js
  JSTests/wasm/stress/simple-inline-stacktrace-2.js
  JSTests/wasm/stress/simple-inline-stacktrace-with-catch-2.js
  JSTests/wasm/stress/simple-inline-stacktrace-with-catch.js
  JSTests/wasm/stress/simple-inline-stacktrace.js
  Source/JavaScriptCore/interpreter/StackVisitor.cpp
  Source/JavaScriptCore/wasm/WasmCallee.cpp
  Source/JavaScriptCore/wasm/WasmCallee.h
Owners: @WebKit/jsc-reviewers

Begin hardening NSAttributedString deserialization https://bugs.webkit.org/show_bug.cgi?id=254250 rdar://107033670
  Source/WebCore/SourcesCocoa.txt
  Source/WebCore/editing/cocoa/AttributedString.h
  Source/WebCore/editing/cocoa/AttributedString.mm
  Source/WebCore/editing/cocoa/EditorCocoa.mm
  Source/WebCore/editing/cocoa/HTMLConverter.mm
  Source/WebCore/editing/mac/EditorMac.mm
  Source/WebCore/platform/ios/UIFoundationSoftLink.h
  Source/WebCore/platform/ios/UIFoundationSoftLink.mm
  Source/WebKit/Shared/Cocoa/ArgumentCodersCocoa.mm
  Source/WebKit/Shared/Cocoa/WebCoreArgumentCodersCocoa.serialization.in
  Source/WebKit/Shared/DocumentEditingContext.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/Cocoa/TextCheckingController.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKit/WebProcess/WebPage/Cocoa/TextCheckingControllerProxy.mm
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Source/WebKit/WebProcess/WebPage/mac/WebPageMac.mm
  Source/WebKitLegacy/mac/WebCoreSupport/WebSelectionServiceController.mm
  Source/WebKitLegacy/mac/WebView/WebHTMLRepresentation.mm
  Source/WebKitLegacy/mac/WebView/WebHTMLView.mm
  Source/WebKitLegacy/mac/WebView/WebImmediateActionController.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebViewGetContents.mm
Owners: @rniwa, @cdumez

[JSC] Use TerminateProcess for Windows https://bugs.webkit.org/show_bug.cgi?id=254566 rdar://107296359
  Source/JavaScriptCore/jsc.cpp
Owners: @WebKit/jsc-reviewers

[UI-side compositing] Safari occasionally crashes when scrolling underneath `NSScrollerImpPair` https://bugs.webkit.org/show_bug.cgi?id=254484 rdar://107139674
  LayoutTests/tiled-drawing/scrolling/fast-scroll-div-latched-mainframe-with-handler.html
  Source/WebCore/page/scrolling/mac/ScrollerMac.mm
  Source/WebCore/page/scrolling/mac/ScrollerPairMac.h
  Source/WebCore/page/scrolling/mac/ScrollerPairMac.mm
  Source/WebCore/page/scrolling/mac/ScrollingTreeScrollingNodeDelegateMac.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeScrollingNodeDelegateMac.mm
  Source/WebCore/platform/mac/ScrollTypesMac.h
Owners: @cdumez

web manifest: implement background_color member parsing https://bugs.webkit.org/show_bug.cgi?id=254253 rdar://107035193
  Source/WebCore/Modules/applicationmanifest/ApplicationManifest.h
  Source/WebCore/Modules/applicationmanifest/ApplicationManifestParser.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/API/Cocoa/_WKApplicationManifest.h
  Source/WebKit/UIProcess/API/Cocoa/_WKApplicationManifest.mm
  Tools/TestWebKitAPI/Tests/WebCore/ApplicationManifestParser.cpp
Owners: @marcoscaceres, @cdumez

Allow setting a storage limit for all origins https://bugs.webkit.org/show_bug.cgi?id=254011 rdar://106792298
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/NetworkSessionCreationParameters.cpp
  Source/WebKit/NetworkProcess/NetworkSessionCreationParameters.h
  Source/WebKit/NetworkProcess/storage/NetworkQuotaManager.cpp
  Source/WebKit/NetworkProcess/storage/NetworkQuotaManager.h
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.h
  Source/WebKit/NetworkProcess/storage/OriginQuotaManager.cpp
  Source/WebKit/NetworkProcess/storage/OriginQuotaManager.h
  Source/WebKit/NetworkProcess/storage/OriginStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/OriginStorageManager.h
  Source/WebKit/Sources.txt
  Source/WebKit/UIProcess/API/Cocoa/_WKWebsiteDataStoreConfiguration.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebsiteDataStoreConfiguration.mm
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStoreConfiguration.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStoreConfiguration.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebsiteDatastore.mm
Owners: @cdumez

[WGSL] CompoundStatement should introduce a new scope https://bugs.webkit.org/show_bug.cgi?id=254523 rdar://107267001
  Source/WebGPU/WGSL/MangleNames.cpp
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/tests/valid/scope.wgsl
Owners: none

[WGSL] Add overload resolution tests https://bugs.webkit.org/show_bug.cgi?id=254530 rdar://107270787
  Source/WebGPU/WGSL/tests/valid/overload.wgsl
Owners: none

[WGSL] Add overload resolution for (non-parameterized) value constructors https://bugs.webkit.org/show_bug.cgi?id=254419 rdar://107185949
  Source/WebGPU/WGSL/TypeCheck.cpp
Owners: none

[WGSL] Textures and samplers shouldn't be references https://bugs.webkit.org/show_bug.cgi?id=254425 rdar://107188253
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
Owners: none

[JSC] Fix Windows x64 calling convention https://bugs.webkit.org/show_bug.cgi?id=254573 rdar://107303745
  Source/JavaScriptCore/CMakeLists.txt
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/assembler/MacroAssemblerX86_64.h
  Source/JavaScriptCore/bytecode/RepatchInlines.h
  Source/JavaScriptCore/dfg/DFGJITCompiler.h
  Source/JavaScriptCore/dfg/DFGOperations.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.h
  Source/JavaScriptCore/jit/CCallHelpers.h
  Source/JavaScriptCore/jit/JIT.h
  Source/JavaScriptCore/jit/JITOpcodes.cpp
  Source/JavaScriptCore/jit/JITOperations.cpp
  Source/JavaScriptCore/jit/JITOperations.h
  Source/JavaScriptCore/jit/SlowPathCall.cpp
  Source/JavaScriptCore/jit/ThunkGenerators.cpp
  Source/JavaScriptCore/llint/LLIntSlowPaths.cpp
  Source/JavaScriptCore/llint/LLIntSlowPaths.h
  Source/JavaScriptCore/llint/LowLevelInterpreter.cpp
  Source/JavaScriptCore/offlineasm/cloop.rb
  Source/JavaScriptCore/runtime/CommonSlowPaths.cpp
  Source/JavaScriptCore/runtime/CommonSlowPaths.h
  Source/JavaScriptCore/runtime/MatchResult.h
  Source/JavaScriptCore/runtime/SlowPathFunction.h
  Source/JavaScriptCore/runtime/UGPRPair.h
  Source/JavaScriptCore/wasm/WasmSlowPaths.cpp
  Source/JavaScriptCore/wasm/WasmSlowPaths.h
  Source/JavaScriptCore/yarr/YarrJIT.h
Owners: @WebKit/jsc-reviewers

[GTK] Add WebKitClipboardPermissionRequest to handle DOM paste access requests https://bugs.webkit.org/show_bug.cgi?id=254510
  Source/WebKit/PlatformGTK.cmake
  Source/WebKit/SourcesGTK.txt
  Source/WebKit/UIProcess/API/glib/WebKitClipboardPermissionRequest.cpp
  Source/WebKit/UIProcess/API/glib/WebKitClipboardPermissionRequest.h.in
  Source/WebKit/UIProcess/API/glib/WebKitClipboardPermissionRequestPrivate.h
  Source/WebKit/UIProcess/API/glib/webkit.h.in
  Source/WebKit/UIProcess/API/gtk/PageClientImpl.cpp
  Tools/MiniBrowser/gtk/BrowserTab.c
  Tools/TestWebKitAPI/Tests/WebKitGtk/TestWebViewEditor.cpp
Owners: @WebKit/glib-reviewers

Fix @counter-style CSSOM update https://bugs.webkit.org/show_bug.cgi?id=254411 rdar://107184142
  LayoutTests/TestExpectations
  Source/WebCore/css/CSSCounterStyleDescriptors.cpp
  Source/WebCore/css/CSSCounterStyleDescriptors.h
  Source/WebCore/css/CSSCounterStyleRegistry.cpp
  Source/WebCore/css/CSSCounterStyleRegistry.h
  Source/WebCore/css/CSSCounterStyleRule.cpp
  Source/WebCore/css/CSSCounterStyleRule.h
  Source/WebCore/style/RuleSetBuilder.cpp
  Source/WebCore/style/StyleScope.cpp
Owners: none

webkit-flatpak: Add build path in build message https://bugs.webkit.org/show_bug.cgi?id=254579
  Tools/flatpak/flatpakutils.py
Owners: @philn

[WGSL] Add overloads for textureSample https://bugs.webkit.org/show_bug.cgi?id=254431 rdar://107190590
  Source/WebGPU/WGSL/Overload.h
  Source/WebGPU/WGSL/TypeDeclarations.rb
  Source/WebGPU/WGSL/generator/main.rb
  Source/WebGPU/WGSL/tests/valid/overload.wgsl
Owners: none

Unreviewed, reverting r262134@main. https://bugs.webkit.org/show_bug.cgi?id=254577
  Source/cmake/WebKitFeatures.cmake
Owners: @mcatanzaro

[WGSL] Add code generation for textureSample and vecN https://bugs.webkit.org/show_bug.cgi?id=254433 rdar://107193052
  Source/WebGPU/WGSL/Metal/MetalFunctionWriter.cpp
Owners: none

ReadableStreamDefaultReader.releaseLock is now rejecting pending read promises https://bugs.webkit.org/show_bug.cgi?id=254511 rdar://problem/107263837
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-byte-streams/general.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-byte-streams/general.any.sharedworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/default-reader.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/default-reader.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/default-reader.any.sharedworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/default-reader.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/templated.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/templated.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/templated.any.sharedworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/templated.any.worker-expected.txt
  Source/WebCore/Modules/streams/ReadableStreamDefaultReader.js
  Source/WebCore/Modules/streams/ReadableStreamInternals.js
Owners: none

[IFC] Decouple in- and out-of-flow type of layout (static position for out-of-flow) https://bugs.webkit.org/show_bug.cgi?id=254550
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingContext.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingContext.h
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.cpp
Owners: none

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
