Repository WebKit/WebKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonWBedard, @aj062, @ryanhaddad, @facetothefate, @WebKit/glib-reviewers, @philn, @Constellation, @WebKit/jsc-reviewers, @patrickangle, @dcrousso, @rniwa, @cdumez, @marcoscaceres, @graouts, @brentfulgham, @karlcow, @zdobersek, @b-weinstein, @xeenon, @pvollan, @carlosgcampos, @mcatanzaro, @magomez, @calvaris, @ntrrgc, @donny-dont

Add fast abort case for StringCommon's equalCommon() https://bugs.webkit.org/show_bug.cgi?id=254819
  Source/WTF/wtf/text/StringCommon.h
Owners: none

Fix some performance-related warnings reported by cppcheck https://bugs.webkit.org/show_bug.cgi?id=254854
  Source/WebCore/Modules/fetch/FetchBody.h
  Source/WebCore/Modules/websockets/WebSocketDeflater.cpp
  Source/WebCore/css/MediaQueryParserContext.cpp
  Source/WebCore/css/parser/CSSParserObserverWrapper.cpp
  Source/WebCore/css/parser/CSSParserSelector.cpp
  Source/WebCore/display/css/DisplayStyle.cpp
  Source/WebCore/inspector/InspectorStyleSheet.h
  Source/WebCore/loader/LinkPreloadResourceClients.cpp
  Source/WebCore/page/UserContentURLPattern.cpp
  Source/WebCore/page/ViewportConfiguration.cpp
  Source/WebCore/platform/DragImage.cpp
  Source/WebCore/platform/ThreadSafeDataBuffer.h
  Source/WebCore/platform/graphics/Color.h
  Source/WebCore/platform/image-decoders/png/PNGImageDecoder.cpp
  Source/WebCore/platform/ios/SelectionGeometry.cpp
  Source/WebCore/platform/ios/SelectionGeometry.h
  Source/WebCore/style/StyleScopeRuleSets.cpp
  Source/WebCore/svg/SVGPathByteStreamSource.cpp
  Source/WebCore/testing/MallocStatistics.h
  Source/WebKit/Platform/IPC/unix/UnixMessage.h
Owners: @patrickangle, @cdumez, @WebKit/glib-reviewers

Move HashCountedSet to WeakHashCountedSet in StyleGeneratedImage https://bugs.webkit.org/show_bug.cgi?id=254835 rdar://107480319
  Source/WebCore/html/CanvasBase.cpp
  Source/WebCore/rendering/style/StyleCanvasImage.cpp
  Source/WebCore/rendering/style/StyleCrossfadeImage.cpp
  Source/WebCore/rendering/style/StyleFilterImage.cpp
  Source/WebCore/rendering/style/StyleGeneratedImage.cpp
  Source/WebCore/rendering/style/StyleGeneratedImage.h
  Source/WebCore/rendering/style/StyleGradientImage.cpp
Owners: @cdumez, @rniwa

Incorrectly positioned out-of-flow box when layout boundary is present https://bugs.webkit.org/show_bug.cgi?id=254666
  LayoutTests/TestExpectations
  LayoutTests/fast/block/positioning/static_out_of_flow_inside_layout_boundary-expected.html
  LayoutTests/fast/block/positioning/static_out_of_flow_inside_layout_boundary.html
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.cpp
Owners: none

Cherry-pick 259548.70@safari-7615-branch (4f0cd71e42b8). rdar://107499416
  Source/WebCore/Modules/webxr/WebXRRigidTransform.cpp
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.cpp
  Source/WebCore/platform/graphics/transforms/RotateTransformOperation.cpp
  Source/WebCore/platform/graphics/transforms/TransformationMatrix.cpp
  Source/WebCore/platform/graphics/transforms/TransformationMatrix.h
Owners: @graouts

Cherry-pick 259548.153@safari-7615-branch (c49d1e6e50a4). rdar://107499581
  LayoutTests/fast/css/style-update-timer-crash-expected.txt
  LayoutTests/fast/css/style-update-timer-crash.html
  Source/WebCore/style/StyleScope.cpp
Owners: none

Cherry-pick 259548.74@safari-7615-branch (25cddfa82335). rdar://107499427
  LayoutTests/mathml/mathml-mover-layout-crash-expected.txt
  LayoutTests/mathml/mathml-mover-layout-crash.html
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/mathml/relations/html5-tree/dynamic-childlist-002-expected.txt
  Source/WebCore/rendering/mathml/RenderMathMLUnderOver.cpp
Owners: none

Cherry-pick 256843.10@webkit-2022.12-embargoed (b7f9b7f4679b). rdar://107499606
  LayoutTests/fast/dom/element-clearing-display-contents-on-node-removal-expected.txt
  LayoutTests/fast/dom/element-clearing-display-contents-on-node-removal.html
Owners: @rniwa

Cherry-pick 256843.11@webkit-2022.12-embargoed (7d616c4d06eb). rdar://107499625
  LayoutTests/fast/frames/disconnected-frame-set-to-eager-crash-expected.txt
  LayoutTests/fast/frames/disconnected-frame-set-to-eager-crash.html
Owners: none

[GTK] AcceleratedSurfaceDMABuf.cpp does not build on i386 https://bugs.webkit.org/show_bug.cgi?id=254828
  Source/WebKit/WebProcess/WebPage/gtk/AcceleratedSurfaceDMABuf.cpp
Owners: @WebKit/glib-reviewers

Support unclosed parentheses at end of sizes attribute
  LayoutTests/TestExpectations
  LayoutTests/fast/dom/HTMLImageElement/sizes/image-sizes-w3c-1-expected.txt
  LayoutTests/fast/dom/HTMLImageElement/sizes/image-sizes-w3c-1.html
  LayoutTests/fast/dom/HTMLImageElement/sizes/image-sizes-w3c-2-expected.txt
  LayoutTests/fast/dom/HTMLImageElement/sizes/image-sizes-w3c-2.html
  LayoutTests/fast/dom/HTMLImageElement/sizes/image-sizes-w3c-3-expected.txt
  LayoutTests/fast/dom/HTMLImageElement/sizes/image-sizes-w3c-3.html
  LayoutTests/fast/dom/HTMLImageElement/sizes/image-sizes-w3c-4-expected.txt
  LayoutTests/fast/dom/HTMLImageElement/sizes/image-sizes-w3c-4.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute-expected.txt
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute-display-none-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute-quirks-mode-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute-standards-mode-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute-width-1000px-expected.txt
  LayoutTests/platform/ios-simulator/TestExpectations
  LayoutTests/platform/ios/fast/dom/HTMLImageElement/sizes/image-sizes-w3c-1-expected.txt
  LayoutTests/platform/ios/fast/dom/HTMLImageElement/sizes/image-sizes-w3c-2-expected.txt
  LayoutTests/platform/ios/fast/dom/HTMLImageElement/sizes/image-sizes-w3c-3-expected.txt
  LayoutTests/platform/ios/fast/dom/HTMLImageElement/sizes/image-sizes-w3c-4-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute-display-none-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute-quirks-mode-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute-standards-mode-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute-width-1000px-expected.txt
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/css/parser/SizesCalcParser.cpp
Owners: @rniwa

Prefer std::copy_n over std::copy https://bugs.webkit.org/show_bug.cgi?id=254029
  Source/JavaScriptCore/jsc.cpp
  Source/JavaScriptCore/runtime/JSBigInt.cpp
  Source/JavaScriptCore/wasm/WasmParser.h
  Source/WTF/wtf/Vector.h
  Source/WebCore/platform/KeyedCoding.h
Owners: @WebKit/jsc-reviewers

[iOS] Enable blocking of launchd in sandbox https://bugs.webkit.org/show_bug.cgi?id=253534 rdar://106381430
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebKit/Shared/WebPageCreationParameters.cpp
  Source/WebKit/Shared/WebPageCreationParameters.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Owners: @cdumez

AX: Move AXTextMarkerRangeForUIElement off of the main thread for those objects caching AttributedStrings. https://bugs.webkit.org/show_bug.cgi?id=254817 <rdar://problem/107473776>
  LayoutTests/accessibility/mac/character-offset-from-upstream-position-expected.txt
  LayoutTests/accessibility/mac/character-offset-from-upstream-position.html
  LayoutTests/accessibility/mac/character-offset-visible-position-conversion-with-emoji-expected.txt
  LayoutTests/accessibility/mac/character-offset-visible-position-conversion-with-emoji.html
  LayoutTests/accessibility/mac/listmarker-suffix-expected.txt
  LayoutTests/accessibility/mac/listmarker-suffix.html
  LayoutTests/accessibility/text-marker/text-marker-previous-next.html
  Source/WebCore/accessibility/AXObjectCache.h
  Source/WebCore/accessibility/AXTextMarker.cpp
  Source/WebCore/accessibility/AXTextMarker.h
  Source/WebCore/accessibility/cocoa/AXTextMarkerCocoa.mm
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.cpp
  Source/WebCore/accessibility/isolatedtree/mac/AXIsolatedObjectMac.mm
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperMac.mm
Owners: none

Let siblings layout if an adjacent float may no longer affect them https://bugs.webkit.org/show_bug.cgi?id=254183 <rdar://problem/107283741>
  LayoutTests/fast/block/float/float-not-intruding-anymore-expected.html
  LayoutTests/fast/block/float/float-not-intruding-anymore.html
  Source/WebCore/rendering/RenderBlockFlow.cpp
Owners: none

Fix some minor warnings from cppcheck in WTF https://bugs.webkit.org/show_bug.cgi?id=254856
  Source/WTF/wtf/CryptographicallyRandomNumber.cpp
  Source/WTF/wtf/HexNumber.h
  Source/WTF/wtf/JSONValues.cpp
  Source/WTF/wtf/MediaTime.cpp
  Source/WTF/wtf/ObjectIdentifier.cpp
  Source/WTF/wtf/ObjectIdentifier.h
  Source/WTF/wtf/URLParser.cpp
  Source/WTF/wtf/Vector.h
  Source/WTF/wtf/dtoa.cpp
  Source/WTF/wtf/dtoa/fast-dtoa.cc
  Source/WTF/wtf/dtoa/strtod.cc
  Source/WTF/wtf/text/StringBuilderJSON.cpp
  Source/WTF/wtf/text/StringImpl.cpp
  Source/WTF/wtf/text/icu/UTextProviderLatin1.cpp
  Source/WTF/wtf/unicode/UTF8Conversion.cpp
  Source/WTF/wtf/unicode/UTF8Conversion.h
Owners: none

Fix some errors reported by cppcheck https://bugs.webkit.org/show_bug.cgi?id=254853
  Source/WTF/wtf/text/SymbolImpl.cpp
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/editing/ReplaceSelectionCommand.cpp
  Source/WebCore/platform/graphics/HEVCUtilities.h
  Source/WebCore/testing/Internals.cpp
  Source/WebKit/UIProcess/API/glib/WebKitNetworkSession.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebContext.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebView.cpp
  Source/WebKit/UIProcess/Downloads/DownloadProxyMap.cpp
  Source/WebKit/UIProcess/Downloads/DownloadProxyMap.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessPool.h
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.h
Owners: @rniwa, @WebKit/glib-reviewers, @cdumez

Update HTMLFastPathParser::scanTagName() to return an ElementName https://bugs.webkit.org/show_bug.cgi?id=254857
  Source/WebCore/dom/make_names.pl
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
Owners: @rniwa, @cdumez

Compile fix after https://commits.webkit.org/262479@main https://bugs.webkit.org/show_bug.cgi?id=254869 rdar://107511773
  Source/WebKit/UIProcess/WebPageProxy.cpp
Owners: @cdumez

Use shorthand for-in loops where possible https://bugs.webkit.org/show_bug.cgi?id=254834
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperMac.mm
  Source/WebCore/bridge/objc/objc_class.mm
  Source/WebCore/editing/cocoa/HTMLConverter.mm
  Source/WebCore/platform/ios/PasteboardIOS.mm
  Source/WebCore/platform/ios/wak/WAKView.mm
  Source/WebCore/platform/mac/PlatformPasteboardMac.mm
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/LocalAuthenticator.mm
  Source/WebKit/UIProcess/ios/WKActionSheetAssistant.mm
  Source/WebKitLegacy/mac/Plugins/WebPluginController.mm
  Source/WebKitLegacy/mac/Storage/WebDatabaseManager.mm
  Source/WebKitLegacy/mac/WebView/WebArchive.mm
  Source/WebKitLegacy/mac/WebView/WebFrameView.mm
  Source/WebKitLegacy/mac/WebView/WebHTMLRepresentation.mm
  Source/WebKitLegacy/mac/WebView/WebPDFView.mm
  Source/WebKitLegacy/mac/WebView/WebView.mm
  Source/bmalloc/bmalloc/Bits.h
  Source/bmalloc/bmalloc/BulkDecommit.h
  Source/bmalloc/bmalloc/Environment.cpp
  Source/bmalloc/bmalloc/Gigacage.cpp
Owners: @rniwa, @cdumez, @Constellation

Cherry-pick 261131@main (151a757aa72b). https://bugs.webkit.org/show_bug.cgi?id=253046
  LayoutTests/TestExpectations
  LayoutTests/http/tests/misc/heic-accept-header-expected.txt
  LayoutTests/http/tests/misc/heic-accept-header.html
  LayoutTests/http/tests/misc/resources/green-400x400.heic
  LayoutTests/http/tests/misc/resources/image-heic-accept.py
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/loader/cache/CachedResourceRequest.cpp
Owners: @cdumez

Cherry-pick 262455@main (8778787cbaef). https://bugs.webkit.org/show_bug.cgi?id=254780
  Source/WebCore/loader/cache/CachedResourceRequest.cpp
Owners: @cdumez

Cherry-pick 262463@main (6e7c8de0a165). https://bugs.webkit.org/show_bug.cgi?id=254146
  LayoutTests/fast/text/font-feature-settings-case-sensitive-expected.html
  LayoutTests/fast/text/font-feature-settings-case-sensitive.html
  LayoutTests/fast/text/resources/Ahem-feature-x-left-spacing.otf
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-feature-settings-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-feature-settings-valid-expected.txt
  Source/WebCore/css/parser/CSSPropertyParserWorkerSafe.cpp
Owners: none

Cherry-pick 259548.22@safari-7615-branch (433aae06c3e1). rdar://101324985
  Source/WebCore/platform/graphics/IntRect.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Owners: none

Cherry-pick 256843.4@webkit-2022.12-embargoed (6234ec9c65b9). https://bugs.webkit.org/show_bug.cgi?id=248773
  LayoutTests/fast/table/table-cell-crash-when-detached-state-2-expected.txt
  LayoutTests/fast/table/table-cell-crash-when-detached-state-2.html
  Source/WebCore/rendering/RenderLayerModelObject.cpp
Owners: none

Cherry-pick 259548.25@safari-7615-branch (1a20160f826c). rdar://104692168
  JSTests/wasm/stress/many-locals-small-wasm-stack.js
  JSTests/wasm/stress/many-locals-small-wasm-stack.wasm
  JSTests/wasm/stress/many-locals-small-wasm-stack.wat
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
Owners: @WebKit/jsc-reviewers

Cherry-pick 256843.6@webkit-2022.12-embargoed (c4c0ef6360b2). https://bugs.webkit.org/show_bug.cgi?id=248775
  LayoutTests/fast/dom/set-outer-text-on-moved-element-expected.html
  LayoutTests/fast/dom/set-outer-text-on-moved-element.html
  Source/WebCore/rendering/updating/RenderTreeUpdater.cpp
Owners: @rniwa

Cherry-pick 259548.27@safari-7615-branch (97035e098145). https://bugs.webkit.org/show_bug.cgi?id=251454
  Source/WebKit/UIProcess/WebProcessProxy.cpp
Owners: @cdumez

Cherry-pick 252432.1043@safari-7614-branch (6633438abd8b). https://bugs.webkit.org/show_bug.cgi?id=251018
  LayoutTests/inspector/console/console-recursive-logging-expected.txt
  LayoutTests/inspector/console/console-recursive-logging.html
  Source/JavaScriptCore/inspector/agents/InspectorConsoleAgent.cpp
  Source/JavaScriptCore/inspector/agents/InspectorConsoleAgent.h
Owners: @patrickangle

Cherry-pick 259548.30@safari-7615-branch (49109db4ab87). https://bugs.webkit.org/show_bug.cgi?id=250760
  Source/JavaScriptCore/runtime/Error.cpp
  Source/JavaScriptCore/runtime/StackFrame.cpp
  Source/JavaScriptCore/runtime/StackFrame.h
  Source/WTF/wtf/URL.cpp
  Source/WTF/wtf/URL.h
  Source/WebInspectorUI/UserInterface/Base/URLUtilities.js
  Source/WebInspectorUI/UserInterface/Models/DebuggerData.js
  Tools/TestWebKitAPI/Tests/WTF/URL.cpp
Owners: @WebKit/jsc-reviewers, @dcrousso, @patrickangle

Remove and replace respondsToSelector calls where they are not needed https://bugs.webkit.org/show_bug.cgi?id=252901
  Source/WebCore/bridge/objc/objc_instance.mm
  Source/WebCore/platform/graphics/avfoundation/objc/CDMInstanceFairPlayStreamingAVFObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/WebCoreAVFResourceLoader.mm
  Source/WebCore/platform/network/cocoa/CookieCocoa.mm
  Source/WebKit/Platform/cocoa/ImageAnalysisUtilities.mm
  Source/WebKit/UIProcess/mac/WebContextMenuProxyMac.mm
  Source/WebKitLegacy/mac/WebView/WebView.mm
Owners: @cdumez

Use generateThreadSafe for RenderingResourceIdentifier. https://bugs.webkit.org/show_bug.cgi?id=254796 <rdar://105752952>
  Source/WebCore/platform/graphics/DecomposedGlyphs.h
  Source/WebCore/platform/graphics/Font.cpp
  Source/WebCore/platform/graphics/FontCustomPlatformData.h
  Source/WebCore/platform/graphics/ImageBuffer.h
  Source/WebCore/platform/graphics/NativeImage.h
  Source/WebCore/platform/graphics/win/FontCustomPlatformDataWin.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.h
  Tools/TestWebKitAPI/Tests/WebCore/cg/DisplayListTestsCG.cpp
Owners: @cdumez

Text tracks are not visible in fullscreen https://bugs.webkit.org/show_bug.cgi?id=254473 rdar://107230116
  LayoutTests/platform/ios-simulator-wk2/TestExpectations
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/html/shadow/MediaControlTextTrackContainerElement.cpp
  Source/WebCore/platform/graphics/TextTrackRepresentation.cpp
  Source/WebCore/platform/graphics/TextTrackRepresentation.h
  Source/WebCore/platform/graphics/cocoa/TextTrackRepresentationCocoa.h
  Source/WebCore/platform/graphics/cocoa/TextTrackRepresentationCocoa.mm
  Source/WebCore/platform/ios/VideoFullscreenInterfaceAVKit.h
  Source/WebCore/platform/ios/VideoFullscreenInterfaceAVKit.mm
  Source/WebKit/UIProcess/Cocoa/VideoFullscreenManagerProxy.h
  Source/WebKit/UIProcess/Cocoa/VideoFullscreenManagerProxy.messages.in
  Source/WebKit/UIProcess/Cocoa/VideoFullscreenManagerProxy.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/cocoa/TextTrackRepresentationCocoa.h
  Source/WebKit/WebProcess/cocoa/TextTrackRepresentationCocoa.mm
  Source/WebKit/WebProcess/cocoa/VideoFullscreenManager.h
  Source/WebKit/WebProcess/cocoa/VideoFullscreenManager.mm
Owners: @cdumez, @rniwa

Add a few more always-allowed classes for _WKRemoteObjectRegistry decoder https://bugs.webkit.org/show_bug.cgi?id=254875 rdar://107519277
  Source/WebKit/Shared/API/Cocoa/WKRemoteObjectCoder.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/RemoteObjectRegistry.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/RemoteObjectRegistry.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/RemoteObjectRegistryPlugIn.mm
Owners: none

Add null check in WebCore::toNSDictionary https://bugs.webkit.org/show_bug.cgi?id=254876 rdar://107516455
  Source/WebCore/editing/cocoa/AttributedString.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/NSAttributedStringWebKitAdditions.mm
Owners: @rniwa

Add length check to avoid calling operationEqualIgnoringASCIICaseNonNull. https://bugs.webkit.org/show_bug.cgi?id=254878 rdar://107521383
  Source/WebCore/cssjit/SelectorCompiler.cpp
Owners: none

Non-unified build fixes, April 1st 2023 edition https://bugs.webkit.org/show_bug.cgi?id=254870
  Source/JavaScriptCore/b3/air/AirCCallingConvention.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.cpp
  Source/WebCore/accessibility/AXLogger.cpp
  Source/WebCore/accessibility/AXTextMarker.cpp
  Source/WebCore/css/CSSCounterStyleDescriptors.h
  Source/WebCore/css/CSSCounterValue.cpp
  Source/WebCore/css/parser/CSSSelectorParser.cpp
  Source/WebCore/css/parser/CSSSupportsParser.cpp
  Source/WebCore/dom/DragEvent.cpp
  Source/WebCore/dom/RejectedPromiseTracker.h
  Source/WebCore/html/BaseDateAndTimeInputType.cpp
  Source/WebCore/html/HTMLInputElement.cpp
  Source/WebCore/html/canvas/WebGL2RenderingContext.cpp
  Source/WebCore/loader/cache/CachedResourceRequest.cpp
  Source/WebCore/page/DOMWindow.cpp
  Source/WebCore/page/RemoteDOMWindow.cpp
  Source/WebCore/platform/graphics/MediaSourcePrivate.cpp
  Source/WebCore/style/StyleFontSizeFunctions.h
Owners: @WebKit/jsc-reviewers, @rniwa, @cdumez

Serialize xmlns attributes first https://bugs.webkit.org/show_bug.cgi?id=248747 rdar://103234827
  LayoutTests/fast/dom/XMLSerializer-attribute-namespace-prefix-conflicts-expected.txt
  LayoutTests/fast/dom/XMLSerializer-same-prefix-different-namespaces-conflict-expected.txt
  LayoutTests/fast/dom/serialize-nodes-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/domparsing/XMLSerializer-serializeToString-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/serializing-html-fragments/template-expected.txt
  LayoutTests/svg/custom/xlink-prefix-generation-in-attributes-expected.txt
  Source/WebCore/editing/MarkupAccumulator.cpp
Owners: @rniwa

Margin collapsing should not occur at the foreignObject boundary
  LayoutTests/imported/w3c/web-platform-tests/svg/extensibility/foreignObject/containing-block-expected.txt
  LayoutTests/platform/glib/svg/custom/dominant-baseline-hanging-expected.txt
  LayoutTests/platform/glib/svg/foreignObject/multiple-foreign-objects-expected.txt
  LayoutTests/platform/ios/svg/custom/dominant-baseline-hanging-expected.txt
  LayoutTests/platform/mac/svg/custom/dominant-baseline-hanging-expected.png
  LayoutTests/platform/mac/svg/custom/dominant-baseline-hanging-expected.txt
  LayoutTests/svg/foreignObject/background-render-phase.html
  Source/WebCore/rendering/RenderElement.cpp
Owners: none

Fix typo in default database quota definition https://bugs.webkit.org/show_bug.cgi?id=254512
  Source/WebKit/UIProcess/API/glib/WebKitUIClient.cpp
Owners: @WebKit/glib-reviewers

.github/CODEOWNERS:

# Copyright (C) 2022 Apple Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1.  Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2.  Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# ================================================================================
#
#     Contributors do not "own" WebKit components. This file is used to
#     automatically add reviewers to pull requests.
#
#     Documentation:
#       https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#       https://git-scm.com/docs/gitignore#_pattern_format
#
# ================================================================================

/.github @JonWBedard
/metadata @JonWBedard

# ================================================================================
# Tools

/Tools @JonWBedard

/Tools/CISupport @aj062 @JonWBedard @ryanhaddad

/Tools/Scripts/libraries @JonWBedard
/Tools/Scripts/libraries/webkitscmpy @facetothefate @JonWBedard

/Tools/TestWebKitAPI
/Tools/TestWebKitAPI/Tests/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/Tests/WPEQt/ @philn
/Tools/TestWebKitAPI/WebKitGLib/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WebKitGtk/ @WebKit/glib-reviewers
/Tools/TestWebKitAPI/WPEQt/ @philn

/Tools/buildstream/ @philn
/Tools/flatpak/ @philn
/Tools/gstreamer/ @WebKit/glib-reviewers @philn
/Tools/jhbuild/ @WebKit/glib-reviewers

# ================================================================================
# bmalloc

/Source/bmalloc @Constellation
/Tools/TestWebKitAPI/Tests/WTF/bmalloc @Constellation

# ================================================================================
# JavaScriptCore

/Source/JavaScriptCore @WebKit/jsc-reviewers
/JSTests @WebKit/jsc-reviewers
/LayoutTests/js @WebKit/jsc-reviewers
/Tools/TestWebKitAPI/Tests/JavaScriptCore @WebKit/jsc-reviewers

# ================================================================================
# Web Inspector

/Source/JavaScriptCore/debugger @patrickangle
/Source/JavaScriptCore/inspector @patrickangle
/Source/WebCore/inspector @patrickangle
/Source/WebInspectorUI @dcrousso @patrickangle
/Source/WebKit/UIProcess/Inspector @patrickangle
/Source/WebKit/WebProcess/Inspector @patrickangle
/Tools/Scripts/webkitpy/inspector @patrickangle
/LayoutTests/http/tests/inspector @patrickangle
/LayoutTests/http/tests/websocket/tests/hybi/inspector @patrickangle
/LayoutTests/inspector @patrickangle

# ================================================================================
# WebCore

/Source/WebCore/dom @rniwa @cdumez
/LayoutTests/fast/dom @rniwa
/LayoutTests/fast/events @rniwa

/Source/WebCore/editing @rniwa
/LayoutTests/editing @rniwa

/Source/WebCore/Modules/applicationmanifest/ @marcoscaceres
/Source/WebCore/Modules/beacon @cdumez
/Source/WebCore/Modules/contact-picker @marcoscaceres
/Source/WebCore/Modules/entriesapi @cdumez
/Source/WebCore/Modules/geolocation @cdumez @marcoscaceres
/Source/WebCore/Modules/model-element @graouts @marcoscaceres
/Source/WebCore/Modules/notifications @cdumez
/Source/WebCore/Modules/paymentrequest @marcoscaceres
/Source/WebCore/Modules/permissions @marcoscaceres
/Source/WebCore/Modules/screen-wake-lock @marcoscaceres
/Source/WebCore/Modules/web-locks @cdumez
/Source/WebCore/Modules/webaudio @cdumez
/Source/WebCore/bindings @cdumez
/Source/WebCore/html @cdumez @rniwa
/Source/WebCore/html/UserActivation.* @marcoscaceres
/Source/WebCore/loader @cdumez
/Source/WebCore/page/Quirks.cpp @brentfulgham @karlcow
/Source/WebCore/workers @cdumez
/Source/WebCore/worklets @cdumez
/Source/WebCore/xml @cdumez
/Source/WebCore/page @cdumez
./Source/WebCore/page/Navigator.* @marcoscaceres

/Source/WebCore/animation @graouts


/Source/WebCore/crypto/ @zdobersek

/LayoutTests/http/tests/paymentrequest @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/geolocation-API @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/payment-request @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/permissions @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/screen-orientation @marcoscaceres
/LayoutTests/imported/w3c/web-platform-tests/web-share @marcoscaceres

# ================================================================================
# WebKit

*ContentExtension* @b-weinstein @xeenon
*InspectorExtension* @b-weinstein @xeenon
*WebExtension* @b-weinstein @xeenon
/Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/NetworkProcess @cdumez
/Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in @brentfulgham @pvollan
/Source/WebKit/Platform @cdumez
/Source/WebKit/Resources/SandboxProfiles @brentfulgham @pvollan
/Source/WebKit/Shared/Sandbox @brentfulgham @pvollan
/Source/WebKit/UIProcess @cdumez
/Source/WebKit/UIProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess @cdumez
/Source/WebKit/WebProcess/Extensions @b-weinstein @xeenon
/Source/WebKit/WebProcess/com.apple.WebProcess.sb.in  @brentfulgham @pvollan

# ================================================================================
# WebDriver

/Source/WebDriver/ @carlosgcampos

# ================================================================================
# CMake

/Source/cmake/WebKitCompilerFlags.cmake @mcatanzaro
/Source/cmake/WebKitFeatures.cmake @mcatanzaro

# ================================================================================
# Linux graphics

CoordinatedGraphics/ @magomez @zdobersek
cairo/ @magomez @zdobersek
coordinated/ @magomez @zdobersek
nicosia/ @magomez @zdobersek

# ================================================================================
# Linux Multimedia

/Source/WebCore/Modules/mediastream/gstreamer @calvaris @philn
/Source/WebCore/platform/audio/gstreamer @calvaris @philn
/Source/WebCore/platform/graphics/gstreamer @ntrrgc @calvaris @philn
/Source/WebCore/platform/mediastream/gstreamer @calvaris @philn
gstreamer/ @philn

# ================================================================================
# WPE WebKit and WebKitGTK

/Source/ThirdParty/xdgmime/ @WebKit/glib-reviewers
/Source/cmake/OptionsGTK.cmake @WebKit/glib-reviewers
/Source/cmake/OptionsWPE.cmake @WebKit/glib-reviewers

adwaita/ @WebKit/glib-reviewers
atspi/ @WebKit/glib-reviewers
freetype/ @WebKit/glib-reviewers
glib/ @WebKit/glib-reviewers
gtk4/ @WebKit/glib-reviewers
gtk/ @WebKit/glib-reviewers
harfbuzz/ @WebKit/glib-reviewers
libwpe/ @WebKit/glib-reviewers @donny-dont @zdobersek
linux/ @WebKit/glib-reviewers
soup/ @WebKit/glib-reviewers
unix/ @WebKit/glib-reviewers
xdg/ @WebKit/glib-reviewers
wpe/ @WebKit/glib-reviewers @zdobersek
**/wpe/qt/ @philn

/LayoutTests/platform/glib/
/LayoutTests/platform/gtk/
/LayoutTests/platform/gtk4/
/LayoutTests/platform/gtk-wayland/
/LayoutTests/platform/gtk-wk2/
/LayoutTests/platform/wpe/
