Repository WebKit/WebKit, pull requests merged in 2022-08, with the labels that each got.

#2884 [JSC] Simplify Wasm::Memory
  Source/JavaScriptCore/jsc.cpp
  Source/JavaScriptCore/wasm/WasmMemory.cpp
  Source/JavaScriptCore/wasm/WasmMemory.h
  Source/JavaScriptCore/wasm/WasmOperations.cpp
  Source/JavaScriptCore/wasm/js/JSWebAssemblyInstance.cpp
  Source/JavaScriptCore/wasm/js/JSWebAssemblyMemory.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyMemoryConstructor.cpp
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#2889 srcdoc iframes fail to clear when srcdoc attribute removed
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-iframe-element/srcdoc-attribute-reset-expected.txt
  Source/WebCore/html/HTMLFrameElementBase.cpp
Labels: merge-queue, Frames, Safari 15

#2883 Parsing of <body link vlink alink> is not per spec
  LayoutTests/fast/html/body-color-legacy-parsing-1-expected.html
  LayoutTests/fast/html/body-color-legacy-parsing-1.html
  LayoutTests/fast/html/body-color-legacy-parsing-2-expected.html
  LayoutTests/fast/html/body-color-legacy-parsing-2.html
  LayoutTests/fast/html/body-color-legacy-parsing-3-expected.html
  LayoutTests/fast/html/body-color-legacy-parsing-3.html
  LayoutTests/platform/ios/TestExpectations
  Source/WebCore/html/HTMLBodyElement.cpp
  Source/WebCore/html/HTMLElement.cpp
  Source/WebCore/html/HTMLElement.h
Labels: merge-queue, DOM, WebKit Nightly Build

#2887 [Flatpak SDK] Enable GStreamer iSAC and g722 support
  Tools/buildstream/elements/freedesktop-sdk.bst
  Tools/buildstream/elements/sdk-platform.bst
  Tools/buildstream/elements/sdk/abseil-cpp.bst
  Tools/buildstream/elements/sdk/ffmpeg.bst
  Tools/buildstream/elements/sdk/gst-plugins-bad.bst
  Tools/buildstream/elements/sdk/webrtc-audio-processing-1.bst
  Tools/buildstream/patches/fdo-0001-pipewire-base-Track-master-branch-and-disable-AEC-mo.patch
  Tools/buildstream/patches/gst-plugins-bad-mr-2341.patch
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#2896 Non-unified build fixes, early August 2022 edition
  Source/WebCore/layout/formattingContexts/inline/display/InlineDisplayContentBuilder.cpp
  Source/WebCore/layout/formattingContexts/inline/display/InlineDisplayContentBuilder.h
  Source/WebCore/svg/SVGUseElement.h
  Source/WebKit/UIProcess/API/C/WKPreferences.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebNotificationClient.h
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#2848 [ews-app] Add comment_id field in django app database to save github comment id
  Tools/CISupport/ews-app/ews/migrations/0008_add_comment_id_for_change.py
  Tools/CISupport/ews-app/ews/models/patch.py
Labels: unsafe-merge-queue, Tools / Tests, Other

#2875 [Alternate WebM Player] Process media data in buffered chunks
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.mm
Labels: merge-queue, Media, WebKit Nightly Build

#2901 [ews-app] Save github comment_id to database and retrieve it appropriately
  Tools/CISupport/ews-app/ews/common/github.py
  Tools/CISupport/ews-app/ews/models/patch.py
Labels: unsafe-merge-queue, Tools / Tests, Other

#2902 warning: inline function ‘static void JSC::JSCell::visitOutputConstraints(JSC::JSCell*, JSC::SlotVisitor&)’ used but never defined
  Source/JavaScriptCore/wasm/js/WebAssemblyFunctionBase.cpp
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#2836 [Cocoa] Allow decoding the animated AVIF image whose image type is "public.avis"
  Source/WebCore/platform/graphics/cg/ImageDecoderCG.cpp
  Source/WebCore/platform/graphics/cg/UTIRegistry.cpp
Labels: merge-queue, Images, WebKit Nightly Build

#2908 Versioning.
  Source/JavaScriptCore/Configurations/Version.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Version.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Version.xcconfig
  Source/WebCore/Configurations/Version.xcconfig
  Source/WebCore/PAL/Configurations/Version.xcconfig
  Source/WebGPU/Configurations/Version.xcconfig
  Source/WebInspectorUI/Configurations/Version.xcconfig
  Source/WebKit/Configurations/Version.xcconfig
  Source/WebKitLegacy/mac/Configurations/Version.xcconfig
Labels: unsafe-merge-queue

#2909 Unreviewed. [WPE] Fix make dist
  Tools/wpe/manifest.txt.in
Labels: unsafe-merge-queue

#2912 Update browerbench.org's link to Speedometer2.1
  Websites/browserbench.org/index.html
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#2905 CrashTracer: com.apple.WebKit.GPU at com.apple.WebCore: invocation function for block in WebCore::SourceBufferPrivateAVFObjC::enqueueSample
  Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferPrivateAVFObjC.mm
Labels: merge-queue, Media, WebKit Nightly Build

#2917 Unreviewed. Update OptionsWPE.cmake and NEWS for the 2.37.1 release
  Source/WebKit/wpe/NEWS
  Source/cmake/OptionsWPE.cmake
Labels: unsafe-merge-queue

#2904 REGRESSION(252485@main): [GTK] webkit_web_context_get_default() crashes in Eclipse since webkit-gtk v2.36.5, v2.36.4 was fine
  Source/WTF/wtf/generic/MainThreadGeneric.cpp
Labels: merge-queue, WebKitGTK, WebKit Nightly Build

#2911 [Media] Fix RemoteMediaPlayerProxy::stopVideoFrameMetadataGathering typo
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.mm
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.cpp
Labels: merge-queue, Media, WebKit Nightly Build

#2918 CrashTracer: com.apple.WebKit.GPU at com.apple.WebCore: WebCore::WebCoreDecompressionSession::handleDecompressionOutput
  Source/WebCore/platform/graphics/cocoa/WebCoreDecompressionSession.mm
Labels: merge-queue, Media, WebKit Nightly Build

#2790 REGRESSION (iOS 15.5): Angular Materials style triggers poor performance on a long scrolling page
  Source/WebCore/page/scrolling/ScrollingTree.cpp
  Source/WebCore/page/scrolling/ScrollingTree.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteScrollingCoordinator.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteScrollingCoordinator.messages.in
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteScrollingCoordinator.mm
Labels: merge-queue, Layout and Rendering, Safari 15

#2925 [Gardening]: New test: [ iOS15 wk2 Release ] compositing/reflections/mask-and-reflection.html is a consistent failure
  LayoutTests/platform/ios-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#2929 Make myself a reviewer, as announced on webkit-dev.
  metadata/contributors.json
Labels: unsafe-merge-queue

#2913 fast/events/touch/ios/slow-touchmove-event-listener-does-not-prevent-scrolling.html is a flaky failure
  LayoutTests/fast/events/touch/ios/slow-touchmove-event-listener-does-not-prevent-scrolling-expected.txt
  LayoutTests/fast/events/touch/ios/slow-touchmove-event-listener-does-not-prevent-scrolling.html
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#2932 REGRESSION(252899@main): JavaScriptCore.framework/Versions/A/PrivateHeaders/CombinedDomains.json is present in a previous action (installhdrs), but with different content
  Source/JavaScriptCore/Scripts/generate-combined-inspector-json.py
  Source/WebInspectorUI/Versions/Inspector-iOS-14.0.json
  Source/WebInspectorUI/Versions/Inspector-iOS-14.5.json
  Source/WebInspectorUI/Versions/Inspector-iOS-15.0.json
  Source/WebInspectorUI/Versions/Inspector-iOS-15.4.json
  Source/WebInspectorUI/Versions/Inspector-iOS-16.0.json
  Source/WebInspectorUI/Versions/Inspector-macOS-12.0.json
  Source/WebInspectorUI/Versions/Inspector-macOS-12.3.json
  Source/WebInspectorUI/Versions/Inspector-macOS-13.0.json
Labels: unsafe-merge-queue, Web Inspector, WebKit Nightly Build

#2910 EME test playback issues
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WTF/Scripts/Preferences/WebPreferencesInternal.yaml
  Source/WebCore/Modules/encryptedmedia/MediaKeySession.cpp
  Source/WebCore/Modules/encryptedmedia/MediaKeySession.h
  Source/WebKit/GPUProcess/media/RemoteCDMFactoryProxy.messages.in
  Source/WebKit/WebProcess/GPU/media/RemoteCDMFactory.cpp
  Source/WebKit/WebProcess/GPU/media/RemoteCDMFactory.h
  Source/WebKit/WebProcess/GPU/media/RemoteCDMInstance.cpp
  Source/WebKit/WebProcess/GPU/media/RemoteCDMInstanceSession.cpp
  Source/WebKit/WebProcess/GPU/media/RemoteCDMInstanceSession.h
Labels: merge-queue, Media, Other

#2888 [GTK][WPE] Enable ENABLE_WEBGL2 compile-time guard when ANGLE WebGL is used
  Source/cmake/OptionsGTK.cmake
  Source/cmake/OptionsWPE.cmake
Labels: merge-queue, New Bugs, WebKit Nightly Build

#2938 We should not assume that WeakPtr Console is accessed by one thread in JSC
  Source/JavaScriptCore/inspector/JSGlobalObjectInspectorController.cpp
Labels: merge-queue, Web Inspector, WebKit Nightly Build

#2941 nullptr crash in XMLDocumentParser::doEnd()
  LayoutTests/fast/parser/xml-parser-stop-parsing-during-subtree-modified-crash-expected.txt
  LayoutTests/fast/parser/xml-parser-stop-parsing-during-subtree-modified-crash.xhtml
  Source/WebCore/xml/parser/XMLDocumentParserLibxml2.cpp
Labels: merge-queue, DOM, 528+ (Nightly build)

#2906 Implement FEBlendNeonApplier
  Source/WebCore/Sources.txt
  Source/WebCore/platform/graphics/cpu/arm/filters/FEBlendNEON.h
  Source/WebCore/platform/graphics/cpu/arm/filters/FEBlendNeonApplier.cpp
  Source/WebCore/platform/graphics/cpu/arm/filters/FEBlendNeonApplier.h
  Source/WebCore/platform/graphics/cpu/arm/filters/NEONHelpers.h
  Source/WebCore/platform/graphics/filters/FEBlend.cpp
  Source/WebCore/platform/graphics/filters/FEBlend.h
  Source/WebCore/platform/graphics/filters/software/FEBlendSoftwareApplier.cpp
  Source/WebCore/platform/graphics/filters/software/FEBlendSoftwareApplier.h
Labels: merge-queue, Layout and Rendering, WebKit Nightly Build

#2891 Explicitly check for videos playing in the viewport when computing ActivityState::IsVisuallyIdle
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/html/MediaElementSession.cpp
  Source/WebCore/platform/graphics/MediaUsageInfo.h
  Source/WebKit/UIProcess/Media/MediaUsageManager.h
  Source/WebKit/UIProcess/Media/cocoa/MediaUsageManagerCocoa.h
  Source/WebKit/UIProcess/Media/cocoa/MediaUsageManagerCocoa.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: merge-queue, Media, WebKit Nightly Build

#2944 ANGLE _test_expectations.txt are erroneously renamed to TestExpectations
  Source/ThirdParty/ANGLE/changes.diff
  Source/ThirdParty/ANGLE/src/tests/deqp_support/deqp_egl_test_expectations.txt
  Source/ThirdParty/ANGLE/src/tests/deqp_support/deqp_gles2_test_expectations.txt
  Source/ThirdParty/ANGLE/src/tests/deqp_support/deqp_gles31_rotate_test_expectations.txt
  Source/ThirdParty/ANGLE/src/tests/deqp_support/deqp_gles31_test_expectations.txt
  Source/ThirdParty/ANGLE/src/tests/deqp_support/deqp_gles3_rotate_test_expectations.txt
  Source/ThirdParty/ANGLE/src/tests/deqp_support/deqp_gles3_test_expectations.txt
  Source/ThirdParty/ANGLE/src/tests/deqp_support/deqp_khr_gles2_test_expectations.txt
  Source/ThirdParty/ANGLE/src/tests/deqp_support/deqp_khr_gles31_test_expectations.txt
  Source/ThirdParty/ANGLE/src/tests/deqp_support/deqp_khr_gles32_test_expectations.txt
  Source/ThirdParty/ANGLE/src/tests/deqp_support/deqp_khr_gles3_test_expectations.txt
Labels: merge-queue, ANGLE, WebKit Nightly Build

#2946 Unreviewed, fix build error after 252943@main
  Source/WebCore/html/LinkRelAttribute.h
Labels: unsafe-merge-queue

#2852 [macOS][WP] Remove syscall telemetry
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Labels: WebKit Misc., Safari 15

#2919 JSON Parse error: Unrecognized token '<' on web.autocad.com
  LayoutTests/http/tests/workers/service/interception-from-dedicated-worker-on-reload-expected.txt
  LayoutTests/http/tests/workers/service/interception-from-dedicated-worker-on-reload.html
  LayoutTests/http/tests/workers/service/resources/foo.txt
  LayoutTests/http/tests/workers/service/resources/interception-from-dedicated-worker-on-reload-cacheable-worker.py
  LayoutTests/http/tests/workers/service/resources/interception-from-dedicated-worker-on-reload-iframe.html
  LayoutTests/http/tests/workers/service/resources/interception-from-dedicated-worker-on-reload-sw.js
  Source/WebCore/loader/cache/CachedResourceLoader.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/ServiceWorkerFetchTask.cpp
Labels: merge-queue, Service Workers, WebKit Nightly Build

#2939 [XHTML] innerHTML and outerHTML setters use a wrong default namespace
  LayoutTests/fast/parser/innerHTML-setter-default-namespace-expected.txt
  LayoutTests/fast/parser/innerHTML-setter-default-namespace.xhtml
  Source/WebCore/xml/parser/XMLDocumentParser.cpp
Labels: merge-queue, DOM, WebKit Nightly Build

#2922 Bypass CSP for webkit-pdfjs-viewer by default
  Source/WebCore/platform/LegacySchemeRegistry.cpp
Labels: merge-queue, PDF, WebKit Nightly Build

#2706 System colors do not always respect inherited color-scheme values
  LayoutTests/css-dark-mode/color-scheme-inherited-expected.html
  LayoutTests/css-dark-mode/color-scheme-inherited.html
  Source/WebCore/style/MatchedDeclarationsCache.cpp
Labels: CSS, Safari 15

#2928 Drop NetworkProcessProxy::retrieveCacheStorageParameters
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/NetworkSession.h
  Source/WebKit/NetworkProcess/cache/CacheStorageEngine.cpp
  Source/WebKit/NetworkProcess/cache/CacheStorageEngine.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.messages.in
Labels: merge-queue, WebKit Misc., WebKit Nightly Build

#2920 [Gardening]: REGRESSION(252871@main): [ iPadOS ] 2X TestWebKitAPI.WebKit2 (API tests) are constantly failing
  Tools/TestWebKitAPI/Tests/WebKit/GetUserMedia.mm
Labels: merge-queue, New Bugs, WebKit Nightly Build

#2942 [JSC] Make Date.UTC simpler
  JSTests/test262/expectations.yaml
  Source/JavaScriptCore/runtime/DateConstructor.cpp
  Source/JavaScriptCore/runtime/JSDateMath.cpp
  Source/JavaScriptCore/runtime/JSDateMath.h
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#2940 Disable optimized 3d transforms
  Source/WTF/Scripts/Preferences/WebPreferences.yaml
  Source/WTF/wtf/PlatformEnableCocoa.h
Labels: merge-queue, Layout and Rendering, WebKit Nightly Build

#2956 Can't decode empty formdata with fetch
  LayoutTests/imported/w3c/web-platform-tests/fetch/api/body/formdata.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fetch/api/body/formdata.any.js
  LayoutTests/imported/w3c/web-platform-tests/fetch/api/body/formdata.any.worker-expected.txt
  Source/WebCore/Modules/fetch/FetchBodyConsumer.cpp
Labels: merge-queue, DOM, Safari 14

#2954 Comment on GitHub PR with status-bubble emulation when a build event is received from buildbot
  Tools/CISupport/ews-app/ews/views/results.py
  Tools/CISupport/ews-build/events.py
Labels: unsafe-merge-queue, Tools / Tests, Other

#2936 Remove incorrect ASSERT in RemoteLayerTreeLayers
  Source/WebKit/UIProcess/RemoteLayerTree/cocoa/RemoteLayerTreeLayers.mm
Labels: merge-queue, WebKit2, WebKit Nightly Build

#2960 [Gardening]: [ GTK iOS15 wk2 ] compositing/overflow/rtl-scrollbar-layer-positioning.html is failing since added in r260445
  LayoutTests/platform/ios-wk2/TestExpectations
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#2950 [MSE] Make startVideoFrameMetadataGathering idempotent
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.mm
Labels: merge-queue, Media, WebKit Nightly Build

#2961 REGRESSION(252930@main): [ iOS15 ] 3 Mathml (layout-tests) are constant text failures
  LayoutTests/platform/ios-15/mathml/presentation/mo-stretch-expected.txt
  LayoutTests/platform/ios-15/mathml/presentation/roots-expected.txt
  LayoutTests/platform/ios-15/mathml/radical-fallback-expected.txt
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#2951 <html> element should not have 'manifest' IDL attribute
  LayoutTests/fast/dom/HTMLHtmlElement/html-element-manifest-expected.txt
  LayoutTests/fast/dom/HTMLHtmlElement/html-element-manifest.html
  LayoutTests/fast/dom/URL-attribute-reflection-expected.txt
  LayoutTests/fast/dom/URL-attribute-reflection.html
  Source/WebCore/html/HTMLHtmlElement.idl
Labels: merge-queue, DOM, 528+ (Nightly build)

#2487 [LBSE] Enable compositing support for SVG elements
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/mac-monterey-wk2-lbse-text/TestExpectations
  LayoutTests/platform/win/TestExpectations
  LayoutTests/svg/compositing/outermost-svg-directly-composited-group-child-expected.html
  LayoutTests/svg/compositing/outermost-svg-directly-composited-group-child-overflow-hidden-expected.html
  LayoutTests/svg/compositing/outermost-svg-directly-composited-group-child-overflow-hidden.html
  LayoutTests/svg/compositing/outermost-svg-directly-composited-group-child.html
  LayoutTests/svg/compositing/outermost-svg-directly-composited-shape-child-expected.html
  LayoutTests/svg/compositing/outermost-svg-directly-composited-shape-child.html
  LayoutTests/svg/compositing/outermost-svg-directly-composited-transformed-group-child-expected.html
  LayoutTests/svg/compositing/outermost-svg-directly-composited-transformed-group-child.html
  LayoutTests/svg/compositing/outermost-svg-with-border-expected.html
  LayoutTests/svg/compositing/outermost-svg-with-border-overflow-visible-expected.html
  LayoutTests/svg/compositing/outermost-svg-with-border-overflow-visible.html
  LayoutTests/svg/compositing/outermost-svg-with-border-padding-expected.html
  LayoutTests/svg/compositing/outermost-svg-with-border-padding-margin-expected.html
  LayoutTests/svg/compositing/outermost-svg-with-border-padding-margin.html
  LayoutTests/svg/compositing/outermost-svg-with-border-padding.html
  LayoutTests/svg/compositing/outermost-svg-with-border.html
  LayoutTests/svg/compositing/svg-poster-circle-expected.html
  LayoutTests/svg/compositing/svg-poster-circle.html
  LayoutTests/svg/z-index/group-with-zindex-expected.svg
  LayoutTests/svg/z-index/group-with-zindex.svg
  LayoutTests/svg/z-index/shapes-with-zindex-expected.svg
  LayoutTests/svg/z-index/shapes-with-zindex.svg
  Source/WebCore/platform/graphics/GraphicsLayer.h
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.cpp
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.h
  Source/WebCore/rendering/RenderLayerBacking.cpp
  Source/WebCore/style/StyleAdjuster.cpp
Labels: merge-queue, SVG, WebKit Local Build

#2934 History items added by the client app should never be skipped on back/forward navigation
  Source/WebCore/loader/DocumentLoader.cpp
  Source/WebCore/loader/DocumentLoader.h
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/loader/NavigationAction.h
  Tools/TestWebKitAPI/Tests/WebKit/WKBackForwardList.mm
Labels: merge-queue, WebKit2, WebKit Nightly Build

#2927 Re-import css/css-contain WPT
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/contain-flexbox-outline-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/contain-inline-size-intrinsic-expected.xht
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/contain-inline-size-intrinsic.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/contain-inline-size-replaced-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/contain-inline-size-replaced.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/contain-layout-breaks-002-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/contain-layout-breaks-002.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/contain-paint-clip-015.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/contain-paint-clip-016.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/contain-size-fieldset-004-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/contain-size-fieldset-004-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/contain-style-counters-002.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/animation-display-lock-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/animation-display-lock.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-auto-state-changed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-auto-state-changed.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-canvas-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-canvas-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-canvas.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-img.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-output-crash.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-video-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-video-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-video.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/scrollIntoView-target-with-contents-hidden-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/scrollIntoView-target-with-contents-hidden-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/scrollIntoView-target-with-contents-hidden.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/scrollIntoView-with-focus-target-with-contents-hidden-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/scrollIntoView-with-focus-target-with-contents-hidden-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/scrollIntoView-with-focus-target-with-contents-hidden.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/slot-content-visibility-22-crash.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/crashtests/contain-nested-crash-002.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/crashtests/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/quote-scoping-002-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/quote-scoping-empty-style-boundaries-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/quote-scoping-empty-style-boundaries.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/w3c-import.log
  LayoutTests/tests-options.json
Labels: merge-queue, CSS, WebKit Nightly Build

#2802 [Alternate WebM Player] Incorrect first frame paint
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.h
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.mm
Labels: merge-queue, Media, WebKit Nightly Build

#2953 Resync shadow DOM tests
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus/focus-click-on-shadow-host-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus/focus-click-on-shadow-host.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus/focus-tab-on-shadow-host-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus/focus-tab-on-shadow-host.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus/focus-tabindex-order-shadow-varying-tabindex-2-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus/focus-tabindex-order-shadow-varying-tabindex-2.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus/focus-tabindex-order-shadow-varying-tabindex-3-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus/focus-tabindex-order-shadow-varying-tabindex-3.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/historical.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/shadow-style-invalidation-vw-units-expected.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/shadow-style-invalidation-vw-units-ref.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/shadow-style-invalidation-vw-units.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/slot-fallback-content-001-expected.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/slot-fallback-content-001-ref.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/slot-fallback-content-001.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/slot-fallback-content-002-expected.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/slot-fallback-content-002-ref.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/slot-fallback-content-002.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/slot-fallback-content-003-expected.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/slot-fallback-content-003-ref.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/slot-fallback-content-003.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/slot-fallback-content-004-expected.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/slot-fallback-content-004-ref.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/slot-fallback-content-004.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/slot-fallback-content-005-expected.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/slot-fallback-content-005-ref.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/slot-fallback-content-005.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/slot-fallback-content-006-expected.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/slot-fallback-content-006-ref.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/slot-fallback-content-006.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/slot-fallback-content-007-expected.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/slot-fallback-content-007-ref.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/slot-fallback-content-007.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/slot-fallback-content-008-expected.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/slot-fallback-content-008-ref.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/slot-fallback-content-008.html
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/w3c-import.log
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#2344 Prune coresymbolicationd cache if it grows larger than 10G
  Tools/CISupport/build-webkit-org/factories.py
  Tools/CISupport/build-webkit-org/factories_unittest.py
  Tools/CISupport/build-webkit-org/steps.py
  Tools/Scripts/delete-if-too-large
Labels: merge-queue

#2958 v2: CrashTracer: com.apple.WebKit.GPU at com.apple.WebCore: WebCore::SourceBufferPrivateAVFObjC::layerDidReceiveError
  Source/WebCore/platform/graphics/SourceBufferPrivate.cpp
  Source/WebCore/platform/graphics/SourceBufferPrivate.h
  Source/WebCore/platform/graphics/SourceBufferPrivateClient.h
Labels: merge-queue, Media, WebKit Nightly Build

#2969 Add myself to metadata/contributors.json
  metadata/contributors.json
Labels: unsafe-merge-queue

#2947 [aspect-ratio] Use correct box-sizing when calculating block size
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/aspect-ratio/block-aspect-ratio-050-expected.xht
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/aspect-ratio/block-aspect-ratio-050.html
  Source/WebCore/rendering/RenderBox.cpp
Labels: merge-queue, CSS, Safari 15

#2869 [PlayStation] RunLoopGeneric has memory leak in vector of ScheduledTask
  Source/WTF/wtf/RunLoop.h
  Source/WTF/wtf/generic/RunLoopGeneric.cpp
Labels: merge-queue

#2897 [GStreamer][MediaStream] Prevent infinite wait in case of disposal of the src element without pushing buffers
  Source/WebCore/platform/mediastream/gstreamer/GStreamerMediaStreamSource.cpp
Labels: merge-queue, Platform, WebKit Nightly Build

#2895 [GStreamer][MediaStream] Cache audio silent sample
  Source/WebCore/platform/mediastream/gstreamer/GStreamerMediaStreamSource.cpp
Labels: merge-queue, Platform, WebKit Nightly Build

#2935 [GTK4] Scrolling with touchpad is broken on Wayland
  Source/WebKit/Shared/gtk/WebEventFactory.cpp
  Source/WebKit/UIProcess/gtk/ViewGestureControllerGtk.cpp
Labels: merge-queue, WebKitGTK, WebKit Nightly Build

#2957 Cloning a `textarea` should not set the initial selection at the end of the text content
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/forms/textfieldselection/select-event-expected.txt
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/html/semantics/forms/textfieldselection/select-event-expected.txt
  Source/WebCore/html/HTMLTextAreaElement.cpp
Labels: merge-queue, Forms, WebKit Nightly Build

#2975 [GTK] Updated Swedish translation
  Source/WebCore/platform/gtk/po/sv.po
Labels: merge-queue, WebKitGTK, WebKit Nightly Build

#2966 html/semantics/forms/form-submission-0/form-double-submit-multiple-targets.html is failing in WebKit
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/forms/form-submission-0/form-double-submit-multiple-targets-expected.txt
  Source/WebCore/html/HTMLFormElement.cpp
Labels: unsafe-merge-queue, WebCore Misc., WebKit Nightly Build

#2967 [iOS] Safari sometimes crashes with an NSInternalInconsistencyException after long pressing on an image
  Source/WTF/wtf/CallbackAggregator.h
  Source/WebKit/NetworkProcess/cache/CacheStorageEngine.h
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/WebProcess/WebCoreSupport/WebBroadcastChannelRegistry.h
Labels: merge-queue, Platform, WebKit Nightly Build

#2973 [LBSE] Activate support for 'switch' and 'use' elements
  LayoutTests/platform/mac-monterey-wk2-lbse-text/TestExpectations
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-30-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-36-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-39-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-40-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-41-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-46-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-61-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-63-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-64-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-65-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-66-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-67-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-68-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-69-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-70-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-77-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-78-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-80-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/filters-gauss-01-b-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/filters-morph-01-f-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/fonts-elem-05-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/fonts-elem-06-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/fonts-kern-01-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/pservers-grad-13-b-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/struct-cond-01-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/struct-cond-02-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/struct-cond-03-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/struct-group-03-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/struct-image-02-b-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/struct-symbol-01-b-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/struct-use-01-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/struct-use-03-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/text-path-01-b-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/text-text-04-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/text-text-05-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/text-text-06-t-expected.txt
  Source/WebCore/rendering/RenderLayerModelObject.cpp
  Source/WebCore/rendering/RenderLayerModelObject.h
  Source/WebCore/rendering/svg/RenderSVGShape.cpp
  Source/WebCore/rendering/svg/RenderSVGTransformableContainer.cpp
  Source/WebCore/rendering/svg/RenderSVGViewportContainer.cpp
  Source/WebCore/svg/SVGElement.cpp
  Source/WebCore/svg/SVGSwitchElement.cpp
  Source/WebCore/svg/SVGUseElement.cpp
Labels: merge-queue, SVG, WebKit Local Build

#2979 [Gardening]: [ iOS Debug ][ macOS Debug wk1 ] compositing/layer-creation/scale-rotation-animation-overlap.html is a flaky timeout
  LayoutTests/platform/ios-15/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#2968 Remove ancient immediate repaint hack in Element::setActive()
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/Element.h
  Source/WebCore/dom/SimulatedClick.cpp
  Source/WebCore/html/BaseCheckableInputType.cpp
  Source/WebCore/html/BaseClickableWithKeyInputType.cpp
  Source/WebCore/html/HTMLAnchorElement.cpp
  Source/WebCore/html/HTMLAnchorElement.h
  Source/WebCore/html/HTMLButtonElement.cpp
  Source/WebCore/html/HTMLLabelElement.cpp
  Source/WebCore/html/HTMLLabelElement.h
  Source/WebCore/html/HTMLSummaryElement.cpp
  Source/WebCore/page/ChromeClient.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebChromeClient.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebChromeClient.mm
Labels: merge-queue, Forms, WebKit Nightly Build

#2963 Land baselines for imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/ tests
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/a-click-during-load-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/a-click-during-pageshow-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/a-click-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/a-user-click-during-load-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/a-user-click-during-pageshow-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/a-user-click-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-requestsubmit-during-load-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-requestsubmit-during-pageshow-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-requestsubmit-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-submit-button-click-during-load-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-submit-button-click-during-pageshow-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-submit-button-click-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-submit-during-load-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-submit-during-pageshow-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-submit-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/history-pushstate-during-load-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/history-pushstate-during-pageshow-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/history-pushstate-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/iframe-src-during-load-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/iframe-src-during-pageshow-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/iframe-src-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-assign-during-load-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-assign-during-pageshow-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-assign-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-assign-user-click-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-setter-during-load-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-setter-during-pageshow-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-setter-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-setter-user-click-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-setter-user-mouseup-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/window-open-popup-during-load-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/window-open-popup-during-pageshow-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/window-open-popup-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/window-open-self-during-load-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/window-open-self-during-pageshow-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/window-open-self-expected.txt
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/a-click-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/window-open-self-during-load-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/window-open-self-during-pageshow-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/window-open-self-expected.txt
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#2981 [ews] Update the icon for ongoing builds used in ews GitHub comments
  Tools/CISupport/ews-app/ews/common/github.py
Labels: unsafe-merge-queue, Tools / Tests, Other

#2976 [ews-build] Improve error message when Merge-Queue fails to find reviewer
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: unsafe-merge-queue, Tools / Tests, Other

#2978 [GTK4] Handle hold gesture events
  Source/WebKit/Shared/gtk/WebEventFactory.cpp
  Source/WebKit/UIProcess/API/gtk/WebKitWebViewBase.cpp
  Source/WebKit/UIProcess/gtk/ViewGestureControllerGtk.cpp
Labels: merge-queue, WebKitGTK, WebKit Nightly Build

#2866 [JSC] Support ARM64 Disassembly Comments.
  Source/JavaScriptCore/CMakeLists.txt
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/Sources.txt
  Source/JavaScriptCore/assembler/AbstractMacroAssembler.h
  Source/JavaScriptCore/assembler/AssemblyComments.cpp
  Source/JavaScriptCore/assembler/AssemblyComments.h
  Source/JavaScriptCore/assembler/LinkBuffer.cpp
  Source/JavaScriptCore/assembler/LinkBuffer.h
  Source/JavaScriptCore/disassembler/ARM64Disassembler.cpp
  Source/JavaScriptCore/jit/AssemblyHelpers.cpp
  Source/JavaScriptCore/jit/ExecutableAllocator.cpp
  Source/JavaScriptCore/runtime/InitializeThreading.cpp
Labels: merge-queue

#2985 Unreviewed, rebaseline JS bindings tests
  Source/WebCore/bindings/scripts/test/JS/JSTestObj.cpp
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#2980 Resolve logical viewport units properly in font-size
  LayoutTests/TestExpectations
  Source/WebCore/css/CSSPrimitiveValue.cpp
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/CSSToLengthConversionData.cpp
  Source/WebCore/css/CSSToLengthConversionData.h
  Source/WebCore/css/makeprop.pl
  Source/WebCore/style/StyleBuilder.cpp
  Source/WebCore/style/StyleBuilder.h
  Source/WebCore/style/StyleBuilderCustom.h
  Source/WebCore/style/StyleResolver.cpp
  Tools/Scripts/webkitpy/style/checkers/jsonchecker.py
Labels: merge-queue, CSS, WebKit Nightly Build

#2996 [Gardening]: [ iOS15 Debug ] 11X SVG (Layout tests) are a consistent crash
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#2995 [Alternate WebM Player] Fix video seek buttons
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.mm
Labels: merge-queue, Media, WebKit Nightly Build

#2986 [Cocoa] Avoid unnecessary debug ASSERT when starting capture
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaStreamAVFObjC.mm
Labels: merge-queue, WebRTC, WebKit Nightly Build

#2877 Allow decoupling of display updates from the display link refresh rate for testing
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
Labels: merge-queue, Layout and Rendering, WebKit Nightly Build

#2863 User style sheets should also apply pseudo-element styles
  LayoutTests/userscripts/insert-stylesheets-with-pseudo-expected.txt
  LayoutTests/userscripts/insert-stylesheets-with-pseudo.html
  Source/WebCore/style/ElementRuleCollector.cpp
  Source/WebCore/style/ElementRuleCollector.h
  Source/WebCore/style/StyleInvalidationFunctions.h
  Source/WebCore/style/StyleInvalidator.cpp
  Source/WebCore/style/StyleScopeRuleSets.cpp
  Source/WebCore/style/StyleScopeRuleSets.h
  Source/WebCore/style/StyleSharingResolver.cpp
Labels: merge-queue, CSS, WebKit Nightly Build

#2998 Reset builtins-generator-tests results after 253022@main
  Source/JavaScriptCore/Scripts/tests/builtins/expected/JavaScriptCore-Builtin.Promise-Combined.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/JavaScriptCore-Builtin.Promise-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/JavaScriptCore-Builtin.prototype-Combined.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/JavaScriptCore-Builtin.prototype-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/JavaScriptCore-BuiltinConstructor-Combined.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/JavaScriptCore-BuiltinConstructor-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/JavaScriptCore-InternalClashingNames-Combined.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCore-AnotherGuardedInternalBuiltin-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCore-ArbitraryConditionalGuard-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCore-GuardedBuiltin-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCore-GuardedInternalBuiltin-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCore-UnguardedBuiltin-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCore-xmlCasingTest-Separate.js-result
Labels: merge-queue, Tools / Tests, WebKit Local Build

#2993 [Xcode] Some projects do not have a scheme committed, breaking single-project workspace builds
  PerformanceTests/Makefile.shared
  Source/ThirdParty/gtest/xcode/Makefile
  Source/ThirdParty/gtest/xcode/gtest.xcodeproj/xcshareddata/xcschemes/gtest.xcscheme
  Source/ThirdParty/libwebrtc/libwebrtc.xcodeproj/xcshareddata/xcschemes/libwebrtc.xcscheme
  Source/WebInspectorUI/WebInspectorUI.xcodeproj/xcshareddata/xcschemes/WebInspectorUI.xcscheme
  Tools/ContentExtensionTester/Makefile
  Tools/ImageDiff/Makefile
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#2997 [Cocoa] Remove invalid logging when using mock audio capture device
  Source/WebCore/platform/mediastream/mac/CoreAudioSharedUnit.cpp
  Source/WebCore/platform/mediastream/mac/CoreAudioSharedUnit.h
Labels: merge-queue, WebRTC, WebKit Nightly Build

#2930 Long press hint for Rich Links in Mail is solid black
  LayoutTests/fast/text-indicator/text-indicator-nested-anchors-expected.txt
  LayoutTests/fast/text-indicator/text-indicator-nested-anchors.html
  Source/WebCore/page/TextIndicator.cpp
  Source/WebCore/page/TextIndicator.h
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
  Source/WebKit/WebProcess/WebPage/mac/WebPageMac.mm
Labels: merge-queue

#2092 [Filters] Implement identity filters
  LayoutTests/css3/filters/identity-filters-expected.html
  LayoutTests/css3/filters/identity-filters.html
  Source/WebCore/platform/graphics/filters/FilterOperation.cpp
  Source/WebCore/platform/graphics/filters/FilterOperation.h
  Source/WebCore/rendering/CSSFilter.cpp
  Source/WebCore/rendering/CSSFilter.h
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/RenderLayerFilters.cpp
  Source/WebCore/rendering/RenderLayerFilters.h
  Source/WebCore/rendering/svg/RenderSVGResourceFilter.cpp
  Source/WebCore/rendering/svg/RenderSVGResourceFilter.h
  Source/WebCore/rendering/svg/SVGRenderingContext.cpp
  Source/WebCore/svg/SVGFEDropShadowElement.cpp
  Source/WebCore/svg/SVGFEDropShadowElement.h
  Source/WebCore/svg/SVGFEGaussianBlurElement.cpp
  Source/WebCore/svg/SVGFEGaussianBlurElement.h
  Source/WebCore/svg/SVGFEMorphologyElement.cpp
  Source/WebCore/svg/SVGFEMorphologyElement.h
  Source/WebCore/svg/SVGFEOffsetElement.cpp
  Source/WebCore/svg/SVGFEOffsetElement.h
  Source/WebCore/svg/SVGFilterPrimitiveStandardAttributes.h
  Source/WebCore/svg/graphics/filters/SVGFilter.cpp
  Source/WebCore/svg/graphics/filters/SVGFilter.h
Labels: merge-queue, Layout and Rendering, WebKit Nightly Build

#2984 Many tests under imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/ are timing out
  LayoutTests/TestExpectations
  LayoutTests/fast/history/history-subframe-with-name-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-requestsubmit-during-load-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-requestsubmit-during-pageshow-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-requestsubmit-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-submit-button-click-during-load-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-submit-button-click-during-pageshow-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-submit-button-click-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-submit-during-load-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-submit-during-pageshow-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-submit-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/iframe-src-during-load-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/iframe-src-during-pageshow-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/iframe-src-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-assign-during-load-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-assign-during-pageshow-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-assign-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-setter-during-load-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-setter-during-pageshow-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-setter-expected.txt
  LayoutTests/platform/mac-wk1/TestExpectations
  Source/WebCore/loader/HistoryController.cpp
Labels: merge-queue, WebCore Misc., WebKit Nightly Build

#3001 Update ANGLE changes.diff as of 2022-08-04
  Source/ThirdParty/ANGLE/changes.diff
Labels: unsafe-merge-queue, ANGLE, WebKit Nightly Build

#2990 [JSC] Rename Array#groupBy to Array#group and enable them
  JSTests/stress/array-group-by-null-or-undefined.js
  JSTests/stress/array-groupBy.js
  JSTests/stress/array-groupByToMap.js
  JSTests/stress/unscopables.js
  JSTests/test262/config.yaml
  JSTests/test262/test/built-ins/Array/prototype/Symbol.unscopables/array-grouping.js
  LayoutTests/inspector/model/remote-object-get-properties-expected.txt
  LayoutTests/js/Object-getOwnPropertyNames-expected.txt
  LayoutTests/js/array-unscopables-properties-expected.txt
  LayoutTests/js/script-tests/Object-getOwnPropertyNames.js
  LayoutTests/js/script-tests/array-unscopables-properties.js
  Source/JavaScriptCore/builtins/ArrayPrototype.js
  Source/JavaScriptCore/runtime/ArrayPrototype.cpp
  Source/JavaScriptCore/runtime/OptionsList.h
  Source/WebInspectorUI/UserInterface/Models/NativeFunctionParameters.js
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#2880 [GTK][WPE] Some entities are missing brief descriptions, or are too long
  Source/WebKit/Shared/API/glib/WebKitContextMenu.cpp
  Source/WebKit/Shared/API/glib/WebKitContextMenuItem.cpp
  Source/WebKit/Shared/API/glib/WebKitURIResponse.cpp
  Source/WebKit/Shared/API/glib/WebKitUserMessage.cpp
  Source/WebKit/UIProcess/API/glib/WebKitApplicationInfo.cpp
  Source/WebKit/UIProcess/API/glib/WebKitAuthenticationRequest.cpp
  Source/WebKit/UIProcess/API/glib/WebKitAutomationSession.cpp
  Source/WebKit/UIProcess/API/glib/WebKitBackForwardListItem.cpp
  Source/WebKit/UIProcess/API/glib/WebKitCookieManager.cpp
  Source/WebKit/UIProcess/API/glib/WebKitCredential.cpp
  Source/WebKit/UIProcess/API/glib/WebKitDownload.cpp
  Source/WebKit/UIProcess/API/glib/WebKitEditorState.cpp
  Source/WebKit/UIProcess/API/glib/WebKitFaviconDatabase.cpp
  Source/WebKit/UIProcess/API/glib/WebKitFileChooserRequest.cpp
  Source/WebKit/UIProcess/API/glib/WebKitFindController.cpp
  Source/WebKit/UIProcess/API/glib/WebKitFormSubmissionRequest.cpp
  Source/WebKit/UIProcess/API/glib/WebKitGeolocationManager.cpp
  Source/WebKit/UIProcess/API/glib/WebKitInputMethodContext.cpp
  Source/WebKit/UIProcess/API/glib/WebKitInstallMissingMediaPluginsPermissionRequest.cpp
  Source/WebKit/UIProcess/API/glib/WebKitJavascriptResult.cpp
  Source/WebKit/UIProcess/API/glib/WebKitMemoryPressureSettings.cpp
  Source/WebKit/UIProcess/API/glib/WebKitMimeInfo.cpp
  Source/WebKit/UIProcess/API/glib/WebKitNavigationAction.cpp
  Source/WebKit/UIProcess/API/glib/WebKitNetworkProxySettings.cpp
  Source/WebKit/UIProcess/API/glib/WebKitNotification.cpp
  Source/WebKit/UIProcess/API/glib/WebKitOptionMenu.cpp
  Source/WebKit/UIProcess/API/glib/WebKitPlugin.cpp
  Source/WebKit/UIProcess/API/glib/WebKitPolicyDecision.cpp
  Source/WebKit/UIProcess/API/glib/WebKitResponsePolicyDecision.cpp
  Source/WebKit/UIProcess/API/glib/WebKitScriptDialog.cpp
  Source/WebKit/UIProcess/API/glib/WebKitSecurityManager.cpp
  Source/WebKit/UIProcess/API/glib/WebKitSecurityOrigin.cpp
  Source/WebKit/UIProcess/API/glib/WebKitSettings.cpp
  Source/WebKit/UIProcess/API/glib/WebKitURISchemeRequest.cpp
  Source/WebKit/UIProcess/API/glib/WebKitURISchemeResponse.cpp
  Source/WebKit/UIProcess/API/glib/WebKitURIUtilities.cpp
  Source/WebKit/UIProcess/API/glib/WebKitUserContent.cpp
  Source/WebKit/UIProcess/API/glib/WebKitUserContentFilterStore.cpp
  Source/WebKit/UIProcess/API/glib/WebKitUserContentManager.cpp
  Source/WebKit/UIProcess/API/glib/WebKitVersion.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebContext.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebResource.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebView.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebViewSessionState.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebsiteData.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebsiteDataManager.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebsitePolicies.cpp
  Source/WebKit/UIProcess/API/gtk/WebKitColorChooserRequest.cpp
  Source/WebKit/UIProcess/API/gtk/WebKitInputMethodContextGtk.cpp
  Source/WebKit/UIProcess/API/gtk/WebKitPrintCustomWidget.cpp
  Source/WebKit/UIProcess/API/gtk/WebKitPrintOperation.cpp
  Source/WebKit/UIProcess/API/gtk/WebKitWebInspector.cpp
  Source/WebKit/UIProcess/API/gtk/WebKitWebView.h
  Source/WebKit/UIProcess/API/gtk/WebKitWebViewGtk.cpp
  Source/WebKit/UIProcess/API/wpe/WebKitWebView.h
Labels: merge-queue

#2665 [ARM64] Use link register instead of pinning a register for materializing big load constants
  Source/JavaScriptCore/b3/B3Common.cpp
  Source/JavaScriptCore/b3/B3Common.h
  Source/JavaScriptCore/b3/air/AirAllocateRegistersAndStackAndGenerateCode.cpp
  Source/JavaScriptCore/b3/air/AirCode.cpp
  Source/JavaScriptCore/b3/air/AirLowerStackArgs.cpp
  Source/JavaScriptCore/ftl/FTLThunks.cpp
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#2898 [GStreamer][MediaStream] Apply timestamps to mock audio/video buffers
  Source/WebCore/platform/graphics/gstreamer/VideoFrameGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/MockRealtimeAudioSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/MockRealtimeVideoSourceGStreamer.cpp
Labels: merge-queue, Platform, WebKit Nightly Build

#3008 [Flatpak SDK] Enable GStreamer iSAC support (for real)
  Tools/buildstream/elements/sdk/gst-plugins-bad.bst
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#2949 [webkitperl] Define package webkitdirs and export functions used in other modules
  Tools/Scripts/do-webcore-rename
  Tools/Scripts/package-root
  Tools/Scripts/run-javascriptcore-tests
  Tools/Scripts/run-regexp-tests
  Tools/Scripts/run-sunspider
  Tools/Scripts/set-webkit-configuration
  Tools/Scripts/sunspider-compare-results
  Tools/Scripts/update-webkit-libs-jhbuild
  Tools/Scripts/webkit-build-directory
  Tools/Scripts/webkitdirs.pm
  Tools/Scripts/webkitperl/BuildSubproject.pm
  Tools/Scripts/webkitperl/FeatureList.pm
  Tools/Scripts/webkitperl/prepare-ChangeLog_unittest/parser_unittests.pl
Labels: merge-queue

#3007 [iOS][WP] Update sandbox message filter
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
Labels: merge-queue, WebKit Misc., Safari 15

#2948 [macOS] Suppress sandbox reports and telemetry
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
  Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Labels: merge-queue, WebKit Misc., Safari 15

#2977 [LBSE] Activate support for 'a' / 'altGlyph' / 'textPath' / 'tref' and 'tspan' elements
  LayoutTests/platform/mac-monterey-wk2-lbse-text/TestExpectations
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-20-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-21-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-29-b-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-36-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-39-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-41-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-46-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-77-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/animate-elem-78-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/interact-cursor-01-f-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/interact-order-02-b-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/interact-order-03-b-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/linking-a-01-b-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/linking-a-02-b-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/linking-a-03-b-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/linking-a-04-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/linking-a-05-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/linking-a-07-t-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/linking-uri-01-b-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/linking-uri-02-b-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/linking-uri-03-t-expected.txt
  Source/WebCore/rendering/RenderInline.h
  Source/WebCore/rendering/svg/RenderSVGInline.cpp
  Source/WebCore/rendering/svg/RenderSVGTextPath.cpp
  Source/WebCore/svg/SVGAElement.cpp
  Source/WebCore/svg/SVGElement.cpp
Labels: merge-queue, SVG, WebKit Local Build

#3000 REGRESSION (iOS 16): Unable to search in PDFs in Safari
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/FindInPage.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKPDFView.mm
Labels: merge-queue, WebKit API, Other

#2970 [iOS] Tapping on Now Playing opens wrong app when using SFSafariViewController
  Source/WebCore/html/MediaElementSession.cpp
  Source/WebCore/platform/RuntimeApplicationChecks.h
  Source/WebCore/platform/cocoa/RuntimeApplicationChecksCocoa.mm
  Source/WebKit/Shared/WebProcessCreationParameters.cpp
  Source/WebKit/Shared/WebProcessCreationParameters.h
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Labels: merge-queue, Media, Other

#3012 REGRESSION(252611@main): [ macOS ] http/tests/cache/willsendrequest-returns-null-for-memory-cache-load.html is a constant crash
  Source/WebCore/loader/ResourceLoadNotifier.cpp
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#3013 [Gardening]: REGRESSION (252871@main?): [ iOS ] fast/mediastream/getUserMedia-to-canvas-1.html is a flaky timeout
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#3014 Revert [253110@main] [webkitperl] Define package webkitdirs and export functions used in other modules
  Tools/Scripts/do-webcore-rename
  Tools/Scripts/package-root
  Tools/Scripts/run-javascriptcore-tests
  Tools/Scripts/run-regexp-tests
  Tools/Scripts/run-sunspider
  Tools/Scripts/set-webkit-configuration
  Tools/Scripts/sunspider-compare-results
  Tools/Scripts/update-webkit-libs-jhbuild
  Tools/Scripts/webkit-build-directory
  Tools/Scripts/webkitdirs.pm
  Tools/Scripts/webkitperl/BuildSubproject.pm
  Tools/Scripts/webkitperl/FeatureList.pm
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#3006 Release assert in ContainerNode::takeAllChildrenFrom via executeTakeAllChildrenAndReparentTask
  LayoutTests/fast/parser/parser-take-all-children-from-iframe-load-mutation-expected.txt
  LayoutTests/fast/parser/parser-take-all-children-from-iframe-load-mutation.html
  Source/WebCore/dom/ContainerNode.cpp
Labels: unsafe-merge-queue, DOM, WebKit Nightly Build

#2876 [JSC] Add NoIndexing miss optimization
  JSTests/microbenchmarks/array-from-derived-object-func.js
  JSTests/microbenchmarks/array-from-object-func.js
  JSTests/microbenchmarks/array-from-object.js
  JSTests/stress/no-indexing-shape-invalidate.js
  JSTests/stress/no-indexing-shape-multiple.js
  JSTests/stress/no-indexing-shape-negative.js
  JSTests/stress/no-indexing-shape-other-array.js
  JSTests/stress/no-indexing-shape-prototype-invalidate.js
  Source/JavaScriptCore/assembler/MacroAssemblerARM64.h
  Source/JavaScriptCore/bytecode/AccessCase.cpp
  Source/JavaScriptCore/bytecode/AccessCase.h
  Source/JavaScriptCore/bytecode/ArrayProfile.h
  Source/JavaScriptCore/bytecode/ObjectPropertyCondition.h
  Source/JavaScriptCore/bytecode/ObjectPropertyConditionSet.cpp
  Source/JavaScriptCore/bytecode/ObjectPropertyConditionSet.h
  Source/JavaScriptCore/bytecode/PolymorphicAccess.cpp
  Source/JavaScriptCore/bytecode/PropertyCondition.cpp
  Source/JavaScriptCore/bytecode/PropertyCondition.h
  Source/JavaScriptCore/bytecode/Repatch.cpp
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#3009 REGRESSION(248082@main): wpt /html/browsers/browsing-the-web/overlapping-navigations-and-traversals/tentative/forward-to-pruned-entry.html is flaky
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebPage/WebBackForwardListProxy.cpp
Labels: merge-queue, History, WebKit Nightly Build

#2959 XML Parser should invoke reactions when creating/inserting new custom elements
  LayoutTests/fast/custom-elements/perform-microtask-checkpoint-before-construction-xml-parser-expected.txt
  LayoutTests/fast/custom-elements/perform-microtask-checkpoint-before-construction-xml-parser.xhtml
  LayoutTests/fast/custom-elements/throw-on-dynamic-markup-insertion-counter-construct-xml-parser-expected.txt
  LayoutTests/fast/custom-elements/throw-on-dynamic-markup-insertion-counter-construct-xml-parser.xhtml
  LayoutTests/fast/custom-elements/throw-on-dynamic-markup-insertion-counter-reactions-xml-parser-expected.txt
  LayoutTests/fast/custom-elements/throw-on-dynamic-markup-insertion-counter-reactions-xml-parser.xhtml
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/innerHTML-setter-expected.txt
  LayoutTests/platform/win/TestExpectations
  Source/WebCore/bindings/js/JSCustomElementInterface.cpp
  Source/WebCore/dom/CustomElementRegistry.cpp
  Source/WebCore/xml/parser/XMLDocumentParserLibxml2.cpp
Labels: merge-queue, DOM, WebKit Nightly Build

#3003 MediaQueryList.matches should update parent document layout for viewport-dependent media queries
  LayoutTests/fast/css/media-query-matches-in-iframe-expected.txt
  LayoutTests/fast/css/media-query-matches-in-iframe.html
  LayoutTests/printing/print-with-media-query-destory-expected.txt
  Source/WebCore/css/MediaQueryEvaluator.cpp
  Source/WebCore/css/MediaQueryExpression.cpp
  Source/WebCore/css/MediaQueryExpression.h
  Source/WebCore/css/MediaQueryList.cpp
  Source/WebCore/css/MediaQueryList.h
  Source/WebCore/css/MediaQueryMatcher.cpp
  Source/WebCore/css/MediaQueryMatcher.h
  Source/WebCore/dom/Document.cpp
Labels: merge-queue, CSS, WebKit Nightly Build

#3010 Simplify JSGlobalObject::objectPrototypeIsSaneConcurrently()
  Source/JavaScriptCore/runtime/JSGlobalObjectInlines.h
Labels: unsafe-merge-queue, JavaScriptCore, WebKit Nightly Build

#3011 Utilize setIndexQuicklyForArrayStorageIndexingType() in JSObject::setIndexQuickly()
  Source/JavaScriptCore/runtime/JSObject.h
Labels: unsafe-merge-queue, JavaScriptCore, WebKit Nightly Build

#3017 CrashTracer: com.apple.WebKit.GPU at WebCore: WebCore::MediaPlayerPrivateAVFoundationObjC::updateLastImage
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.mm
Labels: merge-queue, Media, WebKit Nightly Build

#3022 [ iOS ] 2* imported/w3c/web-platform-tests/css/css-contain/contain-paint-clip* tests are constant Image failures
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, CSS, WebKit Nightly Build

#2417 Add scrolling options to PDFJS context menus.
  Source/WebCore/en.lproj/Localizable.strings
  Source/WebCore/page/ContextMenuController.cpp
  Source/WebCore/platform/ContextMenuItem.cpp
  Source/WebCore/platform/ContextMenuItem.h
  Source/WebCore/platform/LocalizedStrings.cpp
  Source/WebCore/platform/LocalizedStrings.h
  Source/WebKitLegacy/mac/WebView/WebHTMLView.mm
Labels: merge-queue, PDF, WebKit Nightly Build

#3026 [ iOS ] fast/canvas/image-object-in-canvas.html is a flaky timeout on iOS
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#3023 [JSC] Make JSMap and JSSet construction more simple and efficient
  JSTests/stress/map-clear-get.js
  JSTests/stress/set-clear-has.js
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/runtime/AbstractModuleRecord.cpp
  Source/JavaScriptCore/runtime/HashMapImpl.h
  Source/JavaScriptCore/runtime/HashMapImplInlines.h
  Source/JavaScriptCore/runtime/JSMap.h
  Source/JavaScriptCore/runtime/JSModuleLoader.cpp
  Source/JavaScriptCore/runtime/JSSet.h
  Source/JavaScriptCore/runtime/MapConstructor.cpp
  Source/JavaScriptCore/runtime/MapPrototype.cpp
  Source/JavaScriptCore/runtime/SetConstructor.cpp
  Source/JavaScriptCore/runtime/SetPrototype.cpp
  Source/JavaScriptCore/runtime/WeakMapImplInlines.h
  Source/WebCore/bindings/js/JSDOMMapLike.cpp
  Source/WebCore/bindings/js/JSDOMSetLike.cpp
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#3028 REGRESSION(253079@main): [ iOS ] fast/layers/add-layer-with-nested-stacking.html is a constant text failure
  LayoutTests/platform/ios/fast/layers/add-layer-with-nested-stacking-expected.txt
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#3030 [Gardening]: [ iOS15 macOS wk2 ] fast/dom/HTMLLinkElement/link-stylesheet-load-once.html is a constant failure
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#2860 Enable Atomics object unconditionally.
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
Labels: merge-queue, WebKit2, WebKit Nightly Build

#3032 Sort headers alphabetically in the Network tab of Web Inspector.
  Source/WebInspectorUI/UserInterface/Views/ResourceHeadersContentView.js
Labels: unsafe-merge-queue

#3031 Make iOS scrolling API test assert if the wrong kind of simulated device is being used
  Tools/TestWebKitAPI/Tests/WebKitCocoa/RestoreScrollPosition.mm
Labels: merge-queue, Tools / Tests, Safari Technology Preview

#3034 REGRESSION(250037@main): wpt /service-workers/service-worker/registration-updateviacache.https.html has become flaky
  LayoutTests/imported/w3c/web-platform-tests/service-workers/service-worker/resources/update-max-aged-worker.py
  LayoutTests/platform/ios/TestExpectations
  Source/WebCore/workers/WorkerScriptLoader.cpp
  Source/WebCore/workers/service/SWClientConnection.cpp
  Source/WebCore/workers/service/SWClientConnection.h
  Source/WebCore/workers/service/ServiceWorkerJob.cpp
  Source/WebCore/workers/service/ServiceWorkerJob.h
  Source/WebCore/workers/service/server/SWServer.cpp
  Source/WebCore/workers/service/server/SWServer.h
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerConnection.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerConnection.h
  Source/WebKit/WebProcess/Storage/WebSWClientConnection.messages.in
Labels: merge-queue, Service Workers, WebKit Nightly Build

#1726 Enable Power logging in task mode
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/spi/mac/PowerLogSPI.h
  Source/WebKit/UIProcess/Cocoa/GPUProcessProxyCocoa.mm
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/UIProcess/WebProcessPool.h
Labels: WebKit Misc., Safari 15

#3039 Unreviewed. Adding myself as a code owner for WebCore/html.
  .github/CODEOWNERS
Labels: unsafe-merge-queue

#3035 fast/dom/HTMLLinkElement/link-stylesheet-load-once.html very frequently fail
  LayoutTests/fast/dom/HTMLLinkElement/link-stylesheet-load-once-expected.txt
  LayoutTests/fast/dom/HTMLLinkElement/link-stylesheet-load-once.html
  LayoutTests/fast/dom/HTMLLinkElement/resources/link-stylesheet-load-once.css
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk1/fast/dom/HTMLLinkElement/link-stylesheet-load-once-expected.txt
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/win/fast/dom/HTMLLinkElement/link-stylesheet-load-once-expected.txt
Labels: merge-queue, New Bugs, WebKit Nightly Build

#3043 [Gardening]: REGRESSION(253140@main): [ iOS MacOS Debug wk2 ] 5X Web-platform/service-workers (layout-tests) are constant crashes
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#3046 REGRESSION(253140@main): [ iOS MacOS Debug wk2 ] 5X Web-platform/service-workers (layout-tests) are constant crashes
  Source/WebCore/workers/service/server/SWServer.cpp
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#3045 Make Elliott Williams a reviewer
  metadata/contributors.json
Labels: unsafe-merge-queue

#3047 [ews] Update the icon and text style for cancelled builds in EWS GitHub comments
  Tools/CISupport/ews-app/ews/common/github.py
Labels: unsafe-merge-queue, Tools / Tests, Other

#3020 CrashTracer: com.apple.WebKit.GPU at WebKit: WebKit::RemoteLegacyCDMSessionProxy::generateKeyRequest
  Source/WebKit/GPUProcess/media/RemoteLegacyCDMSessionProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteLegacyCDMSessionProxy.h
Labels: merge-queue, Media, WebKit Nightly Build

#3038 [JSC] TypedArray iteration does not need to get "length"
  JSTests/stress/detached-typed-array-iteration.js
  JSTests/stress/typed-array-from-custom-length.js
  Source/JavaScriptCore/builtins/ArrayIteratorPrototype.js
  Source/JavaScriptCore/runtime/JSArrayBufferView.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.h
  Source/JavaScriptCore/runtime/JSTypedArrayViewPrototype.cpp
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#3053 Fix a parenting issue in the Adoption Agency Algorithm
  Source/WebCore/html/parser/HTMLConstructionSite.cpp
Labels: unsafe-merge-queue, DOM, WebKit Nightly Build

#3037 Resync WPT tests for custom elements
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/perform-microtask-checkpoint-before-construction-xml-parser-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/perform-microtask-checkpoint-before-construction-xml-parser.xhtml
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/reactions/Animation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/reactions/Animation.html
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/reactions/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/resources/custom-elements-helpers.js
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/throw-on-dynamic-markup-insertion-counter-construct-xml-parser-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/throw-on-dynamic-markup-insertion-counter-construct-xml-parser.xhtml
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/throw-on-dynamic-markup-insertion-counter-reactions-xml-parser-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/throw-on-dynamic-markup-insertion-counter-reactions-xml-parser.xhtml
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/w3c-import.log
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#2693 [JSC] The fast path for JSONP should handle TDZ
  JSTests/stress/jsonp-program-evaluate-path-must-consider-global-lexical-environment.js
  JSTests/stress/jsonp-program-evaluate-path-must-handle-tdz.js
  Source/JavaScriptCore/interpreter/Interpreter.cpp
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#3050 Unreviewed, not using `asObject` for WeakMap / WeakSet keys
  Source/JavaScriptCore/dfg/DFGOperations.cpp
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#3057 [ews] Update the icon and text style for skipped builds in EWS GitHub comments
  Tools/CISupport/ews-app/ews/common/github.py
Labels: unsafe-merge-queue, Tools / Tests, Other

#3044 Crash in `-[UIKeyboardTaskQueue performTaskOnMainThread:waitUntilDone:]` when opening a new tab while focusing a text field
  LayoutTests/fast/forms/ios/remove-view-after-focus-expected.txt
  LayoutTests/fast/forms/ios/remove-view-after-focus.html
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Labels: merge-queue, Platform, WebKit Nightly Build

#3056 Rename TextBreakIteratorCF::Mode values to be more honest about what they are
  Source/WTF/wtf/text/cf/TextBreakIteratorCF.h
  Source/WTF/wtf/text/cocoa/TextBreakIteratorInternalICUCocoa.cpp
Labels: merge-queue, Text, WebKit Nightly Build

#3048 CrashTracer: com.apple.WebKit.GPU at com.apple.WebCore: WebCore::RangeResponseGenerator::removeTask
  Source/WebCore/platform/network/cocoa/RangeResponseGenerator.mm
Labels: merge-queue, Media, WebKit Nightly Build

#3021 Reland "[GLIB] REGRESSION(250811@main): Undefined subroutine &Test262::Runner::isWindows"
  Tools/Scripts/do-webcore-rename
  Tools/Scripts/make-new-script-test
  Tools/Scripts/package-root
  Tools/Scripts/run-javascriptcore-tests
  Tools/Scripts/run-regexp-tests
  Tools/Scripts/run-sunspider
  Tools/Scripts/set-webkit-configuration
  Tools/Scripts/sunspider-compare-results
  Tools/Scripts/test262/Runner.pm
  Tools/Scripts/update-iexploder-cssproperties
  Tools/Scripts/update-webkit-libs-jhbuild
  Tools/Scripts/webkit-build-directory
  Tools/Scripts/webkitdirs.pm
  Tools/Scripts/webkitperl/BuildSubproject.pm
  Tools/Scripts/webkitperl/FeatureList.pm
Labels: merge-queue, New Bugs, WebKit Nightly Build

#3058 Link to the test duration treemap from results.html
  LayoutTests/fast/harness/results-expected.txt
  LayoutTests/fast/harness/results.html
  Tools/Scripts/webkitpy/layout_tests/controllers/manager.py
Labels: merge-queue, Tables, Safari Technology Preview

#3064 Adopt Upgrade-Insecure-Request in SharedWorker handling
  LayoutTests/imported/w3c/web-platform-tests/upgrade-insecure-requests/gen/iframe-blank-inherit.meta/upgrade/sharedworker-classic.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/upgrade-insecure-requests/gen/iframe-blank-inherit.meta/upgrade/sharedworker-module.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/upgrade-insecure-requests/gen/srcdoc-inherit.meta/upgrade/sharedworker-classic.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/upgrade-insecure-requests/gen/srcdoc-inherit.meta/upgrade/sharedworker-module.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/upgrade-insecure-requests/gen/top.http-rp/upgrade/sharedworker-classic.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/upgrade-insecure-requests/gen/top.http-rp/upgrade/sharedworker-module.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/upgrade-insecure-requests/gen/top.meta/upgrade/sharedworker-classic.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/upgrade-insecure-requests/gen/top.meta/upgrade/sharedworker-module.https-expected.txt
  Source/WebCore/workers/shared/SharedWorker.cpp
Labels: merge-queue, Page Loading, WebKit Nightly Build

#3049 Deprecate window.styleMedia and remove its matchMedium() method
  LayoutTests/fast/dom/style-media-null-document-element-expected.txt
  LayoutTests/fast/dom/style-media-null-document-element.html
  LayoutTests/fast/loader/window-properties-restored-from-page-cache-expected.txt
  LayoutTests/fast/loader/window-properties-restored-from-page-cache.html
  LayoutTests/fast/media/invalid-lengths.html
  LayoutTests/fast/media/lifetime-expected.txt
  LayoutTests/fast/media/lifetime.html
  LayoutTests/fast/media/matchmedium-query-api.html
  LayoutTests/fast/media/print-restores-previous-mediatype-expected.txt
  LayoutTests/fast/media/print-restores-previous-mediatype.html
  LayoutTests/fast/media/video-playable-inline-media-query.html
  LayoutTests/http/tests/dom/same-origin-detached-window-properties-expected.txt
  LayoutTests/http/tests/dom/same-origin-detached-window-properties.html
  LayoutTests/imported/w3c/web-platform-tests/WebIDL/ecmascript-binding/attributes-accessors-unique-function-objects-expected.txt
  Source/WebCore/css/StyleMedia.cpp
  Source/WebCore/css/StyleMedia.h
  Source/WebCore/css/StyleMedia.idl
  Source/WebCore/page/DOMWindow+CSSOMView.idl
  Source/WebInspectorUI/UserInterface/Models/NativeFunctionParameters.js
Labels: unsafe-merge-queue, CSS, WebKit Nightly Build

#2921 Rewrite swipe tests to use async/await
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/ios/swipe/main-frame-pinning-requirement-expected.txt
  LayoutTests/swipe/basic-cached-back-swipe.html
  LayoutTests/swipe/main-frame-pinning-requirement.html
  LayoutTests/swipe/pushState-cached-back-swipe.html
  LayoutTests/swipe/pushState-programmatic-back-while-swiping-crash.html
  LayoutTests/swipe/pushstate-with-manual-scrollrestoration.html
  LayoutTests/swipe/resources/swipe-test.js
Labels: merge-queue, Tools / Tests, Safari Technology Preview

#3054 Cache CFString lengths in TextBreakIteratorCF
  Source/WTF/wtf/text/cf/TextBreakIteratorCF.h
Labels: merge-queue, unsafe-merge-queue, Text, WebKit Nightly Build

#3063 Layout test results pages should support dark mode
  LayoutTests/fast/harness/image-diff-template.html
  LayoutTests/fast/harness/results.html
  LayoutTests/fast/harness/test-duration-treemap.html
Labels: merge-queue, Tools / Tests, Safari Technology Preview

#3061 Upgrade GCC requirement to 9.3.0
  Source/WTF/wtf/PlatformHave.h
  Source/cmake/WebKitCommon.cmake
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#3036 [WebGL2] Don't apply buffer offset twice in getBufferSubData
  LayoutTests/fast/canvas/webgl/webgl2-getbuffersubdata-expected.txt
  LayoutTests/fast/canvas/webgl/webgl2-getbuffersubdata.html
  LayoutTests/platform/gtk/TestExpectations
  Source/WebCore/html/canvas/WebGL2RenderingContext.cpp
Labels: merge-queue, WebGL, Safari 15

#3041 [WebRTC] Minor test cleanups
  LayoutTests/webrtc/audio-peer-connection-g722.html
  LayoutTests/webrtc/routines.js
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#3040 [WPE][GTK] Drop libnotify
  Source/WebCore/platform/gtk/GtkVersioning.h
  Source/WebCore/platform/gtk/po/POTFILES.in
  Source/WebKit/PlatformGTK.cmake
  Source/WebKit/PlatformWPE.cmake
  Source/WebKit/SourcesGTK.txt
  Source/WebKit/SourcesWPE.txt
  Source/WebKit/UIProcess/API/glib/WebKitNotification.cpp
  Source/WebKit/UIProcess/API/glib/WebKitNotificationPrivate.h
  Source/WebKit/UIProcess/API/glib/WebKitNotificationProvider.cpp
  Source/WebKit/UIProcess/API/glib/WebKitNotificationProvider.h
  Source/WebKit/UIProcess/API/glib/WebKitWebView.cpp
  Source/WebKit/UIProcess/Notifications/glib/NotificationService.cpp
  Source/WebKit/UIProcess/Notifications/glib/NotificationService.h
  Source/cmake/FindLibNotify.cmake
  Source/cmake/OptionsGTK.cmake
Labels: unsafe-merge-queue, WebKitGTK, WebKit Nightly Build

#3075 Revert [253165@main] Reland "[GLIB] REGRESSION(250811@main): Undefined subroutine &Test262::Runner::isWindows"
  Tools/Scripts/do-webcore-rename
  Tools/Scripts/make-new-script-test
  Tools/Scripts/package-root
  Tools/Scripts/run-javascriptcore-tests
  Tools/Scripts/run-regexp-tests
  Tools/Scripts/run-sunspider
  Tools/Scripts/set-webkit-configuration
  Tools/Scripts/sunspider-compare-results
  Tools/Scripts/test262/Runner.pm
  Tools/Scripts/update-iexploder-cssproperties
  Tools/Scripts/update-webkit-libs-jhbuild
  Tools/Scripts/webkit-build-directory
  Tools/Scripts/webkitdirs.pm
  Tools/Scripts/webkitperl/BuildSubproject.pm
  Tools/Scripts/webkitperl/FeatureList.pm
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#3073 [iPad] fast/dom/HTMLLinkElement/link-stylesheet-load-once.html is flaky
  LayoutTests/fast/dom/HTMLLinkElement/link-stylesheet-load-once-expected.txt
  LayoutTests/fast/dom/HTMLLinkElement/link-stylesheet-load-once.html
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#3077 Unreviewed, annotate setIndexQuicklyForArrayStorageIndexingType with ALWAYS_INLINE
  Source/JavaScriptCore/runtime/JSObjectInlines.h
Labels: unsafe-merge-queue, JavaScriptCore, WebKit Nightly Build

#3079 Add a runtime flag for imperative slot API
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WebCore/features.json
Labels: unsafe-merge-queue, DOM, WebKit Nightly Build
