Repository WebKit/WebKit, pull requests merged in 2022-07, with the labels that each got.

#1915 HTMLCanvasElement::removedFromAncestor() triggers IOSurface creation
  Source/WebCore/platform/ProcessCapabilities.cpp
  Source/WebCore/platform/ProcessCapabilities.h
  Source/WebCore/platform/graphics/ImageBuffer.cpp
  Source/WebCore/platform/graphics/cocoa/IOSurface.mm
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Labels: merge-queue, Canvas, WebKit Nightly Build

#1967 Crash under PageOverlay::fadeAnimationTimerFired()
  Source/WebCore/page/PageOverlay.cpp
Labels: merge-queue, WebCore Misc., WebKit Nightly Build

#1972 Unreviewed, revert 251761@main
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/spi/cocoa/AVFoundationSPI.h
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/platform/graphics/MediaPlayer.cpp
  Source/WebCore/platform/graphics/MediaPlayer.h
  Source/WebCore/platform/graphics/MediaPlayerPrivate.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.messages.in
  Source/WebKit/GPUProcess/media/cocoa/RemoteMediaPlayerProxyCocoa.mm
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.h
Labels: merge-queue

#1891 Revert "[Gardening]: REGRESSION (250044@main?): [ Monterey Debug wk2 ] webgl/1.0.3/conformance/attribs/gl-vertexattribpointer-offsets.html is an almost consistent timeout"
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: merge-queue, WebGL

#1976 [Gardening]: [ iOS Release ] Two http/wpt/service-workers/ tests are a flaky failures
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#1977 [Gardening]: REGRESSION(r289770):[ iPad ] imported/blink/svg/filters/filter-huge-clamping.svg is a constant image failure - Accelerated Drawing
  LayoutTests/platform/ios/TestExpectations
Labels: merge-queue, New Bugs, WebKit Nightly Build

#1963 Add null check for drawingArea in RemoteScrollingCoordinatorProxy::layerTreeHost()
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeScrollingNodeDelegateIOS.mm
Labels: merge-queue, New Bugs, WebKit Nightly Build

#1978 [Gardening]: [BigSur wk2 Release]: http/tests/privateClickMeasurement/attribution-conversion-through-fetch-keepalive.html is a flaky failure
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#1979 [Gardening]: [ iOS ] http/tests/privateClickMeasurement/attribution-conversion-through-fetch-keepalive.html is a flaky failure timeout
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#1951 Canvas.toDataURL causes excessive GPUP memory use on Cocoa
  LayoutTests/fast/canvas/toDataURL-alpha-permutation-expected.html
  LayoutTests/fast/canvas/toDataURL-alpha-permutation.html
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/win/TestExpectations
  Source/WebCore/html/HTMLCanvasElement.cpp
  Source/WebCore/platform/MIMETypeRegistry.cpp
  Source/WebCore/platform/MIMETypeRegistry.h
  Source/WebCore/platform/graphics/ConcreteImageBuffer.h
  Source/WebCore/platform/graphics/ImageBuffer.cpp
  Source/WebCore/platform/graphics/ImageBuffer.h
  Source/WebCore/platform/graphics/ImageBufferBackend.h
  Source/WebCore/platform/graphics/cairo/ImageBufferCairoBackend.cpp
  Source/WebCore/platform/graphics/cairo/ImageBufferCairoBackend.h
  Source/WebCore/platform/graphics/cairo/ImageBufferUtilitiesCairo.cpp
  Source/WebCore/platform/graphics/cairo/ImageBufferUtilitiesCairo.h
  Source/WebCore/platform/graphics/cg/ImageBufferCGBackend.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferCGBackend.h
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.h
  Source/WebCore/platform/graphics/cg/ImageBufferUtilitiesCG.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferUtilitiesCG.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.messages.in
  Source/WebKit/Shared/API/c/cg/WKImageCG.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.h
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferRemoteIOSurfaceBackend.cpp
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferRemoteIOSurfaceBackend.h
Labels: merge-queue, Canvas, Safari 15

#1939 [JSC] Drop support for the softfp ABI on ARMv7
  Source/JavaScriptCore/assembler/testmasm.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.h
  Source/JavaScriptCore/jit/CCallHelpers.h
  Source/JavaScriptCore/jit/FPRInfo.h
  Source/WTF/wtf/PlatformEnable.h
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#1982 css/css-fonts/animations/font-variation-settings-composition.html has failures
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/animations/font-variation-settings-composition-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/accumulation-per-property-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/addition-per-property-001-expected.txt
  Source/WebCore/animation/CSSPropertyAnimation.cpp
Labels: merge-queue, Animations, WebKit Nightly Build

#1892 run-webkit-tests with many child processes timeout for initial invocation
  Tools/Scripts/webkitpy/port/mac.py
  Tools/Scripts/webkitpy/port/port_testcase.py
  Tools/Scripts/webkitpy/port/server_process_mock.py
Labels: merge-queue

#1987 [webkitperl] Remove warning when building JSC with CMake
  Tools/Scripts/webkitperl/BuildSubproject.pm
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#1990 [GStreamer][VideoCapture] Ensure video/x-raw mime-type caps have a format
  Source/WebCore/platform/mediastream/gstreamer/GStreamerVideoCapturer.cpp
Labels: merge-queue

#1985 REGRESSION(251219@main): xml-stripblanks requires executable xmllint
  Tools/glib/dependencies/apt
Labels: merge-queue

#1993 [Gardening]: [ iOS ] imported/w3c/web-platform-tests/html/browsers/history/the-history-interface/joint_session_history/002.html is a flaky failure timeout
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#1994 [Gardening]: webanimations/accelerated-animation-after-forward-filling-animation.html
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue

#1877 [Make] Avoid passing default xcodebuild options to installsrc
  Makefile.shared
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#1936 Update Copy Permalink for GitHub
  Tools/CopyPermalink/Sublime Text/CopyWebKitPermalink/CopyWebKitPermalink.py
  Tools/CopyPermalink/Sublime Text/CopyWebKitPermalink/CopyWebKitPermalink.sublime-settings
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#1969 [macOS] Allow syscall used during launch of the WebContent process
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Labels: merge-queue, WebKit Misc., Safari 15

#1997 [Gardening]: [iOS] http/tests/navigation/back-to-slow-frame.html is a flaky crash under MediaPlayer::getSupportedTypes (230434)
  LayoutTests/platform/ios-wk2/TestExpectations
Labels: unsafe-merge-queue

#1999 [Gardening]: [ BigSur wk2 ] http/tests/cache/disk-cache/shattered-deduplication.html is flaky image failure (230650)
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue

#1896 [git-webkit] Consider origin when determing branch
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/mocks/local/git.py
Labels: merge-queue, Tools / Tests, WebKit Local Build

#2003 [Gardening]: [ iOS 14 & 15 ] fast/images/image-subsampling.html is a flaky image failure (230857)
  LayoutTests/platform/ios-wk2/TestExpectations
Labels: unsafe-merge-queue

#1621 [WebGPU] Parse literal integer/floats as AbstractInt/AbstractFloat
  Source/WebGPU/WGSL/AST/Expression.h
  Source/WebGPU/WGSL/AST/Expressions/LiteralExpressions.h
  Source/WebGPU/WGSL/Parser.cpp
  Source/WebGPU/WGSLUnitTests/Parser/ConstLiteralTests.mm
  Source/WebGPU/WGSLUnitTests/WGSLParserTests.mm
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
Labels: WebGPU, WebKit Local Build

#2005 [Gardening]: [ iOS ] fast/mediastream/apply-constraints-video.html is a flaky failure (231618)
  LayoutTests/platform/ios-wk2/TestExpectations
Labels: unsafe-merge-queue

#2002 Crash under SQLiteIDBBackingStore::getAllObjectStoreRecords()
  Source/WebCore/Modules/indexeddb/server/SQLiteIDBBackingStore.cpp
Labels: merge-queue, WebKit2, WebKit Nightly Build

#2008 Fix memory leak
  Source/WebKit/UIProcess/Cocoa/AuxiliaryProcessProxyCocoa.mm
Labels: merge-queue, WebKit Misc., Safari 15

#1964 Remove unused function from SQLitedatabase
  Source/WebCore/platform/sql/SQLiteDatabase.cpp
  Source/WebCore/platform/sql/SQLiteDatabase.h
Labels: merge-queue

#1928 Provide correct icon size when requesting icon from the UI process
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
Labels: merge-queue, WebKit Misc., Safari 15

#1945 Make getSpace return an optional LayoutUnit
  Source/WebCore/rendering/RenderBoxModelObject.cpp
Labels: merge-queue, Images, Safari 15

#2007 Add Rupin Mittal to contributors.json
  metadata/contributors.json
Labels: unsafe-merge-queue

#574 compare-results attempts to dvide by zero
  Tools/Scripts/webkitpy/benchmark_runner/benchmark_results.py
Labels: Tools / Tests, Other

#2012 [iOS] Fix WKTR build after 252016@main
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.mm
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#2013 [Gardening]: [ iOS Debug ] fast/encoding/char-after-fast-path-ascii-decoding.html is a flaky failure
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#1974 Add compile time guard for fullscreen video dismissal gestures
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
Labels: merge-queue, Media, WebKit Nightly Build

#1992 webkitbot should accept commit identifier
  Tools/Scripts/webkitpy/common/checkout/checkout.py
  Tools/Scripts/webkitpy/common/checkout/checkout_mock.py
  Tools/Scripts/webkitpy/common/checkout/scm/git.py
  Tools/Scripts/webkitpy/common/config/urls.py
  Tools/Scripts/webkitpy/common/net/bugzilla/attachment.py
  Tools/Scripts/webkitpy/tool/commands/download.py
  Tools/Scripts/webkitpy/tool/commands/download_unittest.py
  Tools/Scripts/webkitpy/tool/steps/reopenbugafterrevert.py
  Tools/WebKitBot/src/WebKitBot.mjs
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#2017 [Gardening]: [ iOS ] fast/events/ios/dragstart-on-image-by-long-pressing.html is a flaky failure
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#2018 [JSC] Clean up ControlEntry code in wasm
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
Labels: unsafe-merge-queue, JavaScriptCore, WebKit Nightly Build

#2011 git-webkit broke webkitbot
  Tools/WebKitBot/src/WebKitBot.mjs
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#2019 webkitbot should accept commit identifier (Follow-up fix)
  Tools/WebKitBot/src/WebKitBot.mjs
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#2014 [Curl] Report HTTP/3 in NetworkLoadMetrics
  Source/WebCore/platform/network/curl/CurlContext.cpp
Labels: merge-queue, Platform, WebKit Nightly Build

#2004 [Make] Recognize feature flags in BUILD_WEBKIT_OPTIONS
  Tools/Scripts/webkitdirs.pm
  Tools/Scripts/webkitperl/FeatureList.pm
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#2023 [Make] Pick the correct ARCHS setting for an overridden SDKROOT
  Makefile.shared
Labels: merge-queue

#2025 Build failure following bug 242061 on catalyst target
  Source/WebCore/PAL/pal/spi/cocoa/AVKitSPI.h
Labels: unsafe-merge-queue, Media, Other

#2010 Crash under ~TimerBase() from LibWebRTCAudioModule
  Source/WebCore/platform/mediastream/libwebrtc/LibWebRTCAudioModule.cpp
  Source/WebCore/platform/mediastream/libwebrtc/LibWebRTCAudioModule.h
Labels: merge-queue, Media, WebKit Nightly Build

#2024 Refine JSDOMGuardedObject
  Source/WebCore/bindings/js/JSDOMGuardedObject.cpp
Labels: unsafe-merge-queue, JavaScriptCore, WebKit Nightly Build

#1960 [Media Player] Fix media engine fallback logic
  Source/WebCore/platform/graphics/MediaPlayer.cpp
  Source/WebCore/platform/graphics/MediaPlayer.h
Labels: merge-queue, Media, WebKit Nightly Build

#1927 Add a regression test that the same path is used for different data types
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebsiteDataStoreCustomPaths.mm
Labels: merge-queue, Website Storage, WebKit Nightly Build

#2028 Ensure promise is not garbage collected
  Source/WebCore/crypto/SubtleCrypto.cpp
Labels: merge-queue, WebCore Misc., WebKit Nightly Build

#2026 Use a reference instead of a nonnull pointer in systemFallbackForCharacters()
  Source/WebCore/platform/graphics/Font.cpp
  Source/WebCore/platform/graphics/FontCache.h
  Source/WebCore/platform/graphics/cairo/FontCairoHarfbuzzNG.cpp
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/freetype/FontCacheFreeType.cpp
  Source/WebCore/platform/graphics/win/FontCacheWin.cpp
Labels: merge-queue, Text, WebKit Nightly Build

#1946 Web Inspector: REGRESSION (Bug 241817 ) Filter bars missing from Styles and Computed panels
  Source/WebInspectorUI/UserInterface/Views/GeneralStyleDetailsSidebarPanel.js
Labels: merge-queue, Web Inspector, WebKit Nightly Build

#2029 REGRESSION (iOS 16): Characters outside a font-face's unicode-range attribute don't render when characters in that range are present
  LayoutTests/fast/text/font-face-fall-off-end-expected.html
  LayoutTests/fast/text/font-face-fall-off-end.html
  Source/WebCore/platform/graphics/Font.cpp
  Source/WebCore/platform/graphics/FontPlatformData.h
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/coretext/FontCoreText.cpp
Labels: merge-queue, Text, WebKit Nightly Build

#2020 [Flatpak SDK] Update Mold to version 1.3.1
  Tools/buildstream/elements/sdk/mold.bst
Labels: merge-queue, Tools / Tests, WebKit Local Build

#2034 Change adoptNode() for a DocumentFragment with host
  LayoutTests/imported/w3c/web-platform-tests/dom/nodes/adoption.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/scripting-1/the-template-element/template-element/template-content-hierarcy-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/serializing-html-fragments/template-expected.txt
  Source/WebCore/dom/ContainerNode.cpp
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/TemplateContentDocumentFragment.h
Labels: merge-queue, DOM, WebKit Nightly Build

#2036 :lang pseudo class should work across shadow boundaries
  LayoutTests/fast/shadow-dom/lang-pseudo-class-across-shadow-boundaries-expected.html
  LayoutTests/fast/shadow-dom/lang-pseudo-class-across-shadow-boundaries.html
  Source/WebCore/dom/Element.cpp
Labels: merge-queue, CSS, WebKit Nightly Build

#2039 [GLIB] Fix memory leak in KeyedEncoderGlib finishEncoding()
  Source/WebCore/platform/glib/KeyedEncoderGlib.cpp
Labels: merge-queue

#2030 [GStreamer] Improve error/warning message logging
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
Labels: merge-queue

#2032 [GStreamer][VideoCapture] do not call reconfigure() in settingsDidChange unless size or framerate sucessfully changes
  Source/WebCore/platform/mediastream/gstreamer/GStreamerVideoCaptureSource.cpp
Labels: merge-queue

#2001 [GStreamer][VideoCapture] Remove video/x-raw mime-type caps filters
  Source/WebCore/platform/mediastream/gstreamer/GStreamerCaptureDeviceManager.cpp
Labels: merge-queue

#2041 [GStreamer][VideoCapture] Fix video/x-raw mime-type format check
  Source/WebCore/platform/mediastream/gstreamer/GStreamerVideoCapturer.cpp
Labels: merge-queue

#2037 WKWebView: Username/Password autocomplete does not prompt on non-password inputs in Shadow DOM
  Tools/TestWebKitAPI/Tests/ios/WKWebViewAutofillTests.mm
Labels: merge-queue, WebKit2, Safari 13

#1981 Performing a no-op animated resize cancels any pending resize immediately
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/AnimatedResize.mm
Labels: merge-queue, WebKit Misc., WebKit Nightly Build

#2043 iOS: click event doesn't get dispatched when there is a click event listener on ShadowRoot
  LayoutTests/fast/shadow-dom/click-eventlistener-on-shadow-root-expected.txt
  LayoutTests/fast/shadow-dom/click-eventlistener-on-shadow-root.html
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
Labels: merge-queue, UI Events, Safari 14

#2033 [iOS] "A problem repeatedly occurred" error page when safari resuming from background
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebContentProcessDidTerminate.mm
Labels: merge-queue, WebKit2, WebKit Nightly Build

#2046 Rename offlineasm's asm.deferAction to asm.deferOSDarwinAction.
  Source/JavaScriptCore/offlineasm/arm64.rb
  Source/JavaScriptCore/offlineasm/asm.rb
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#2045 The :host() function pseudo-class should only accept a single compound-selector
  LayoutTests/fast/shadow-dom/shadow-host-compound-selector-expected.html
  LayoutTests/fast/shadow-dom/shadow-host-compound-selector.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-scoping/host-parsing-expected.txt
  Source/WebCore/css/parser/CSSSelectorParser.cpp
Labels: merge-queue, CSS, Safari 13

#2052 [GStreamer] Build failure with ENABLE_MEDIA_CAPTURE=ON
  Source/WebKit/WebProcess/InjectedBundle/API/gtk/DOM/WebKitDOMHTMLInputElement.cpp
Labels: merge-queue, Tools / Tests, WebKit Local Build

#2051 [resultsdb] Expose reported flakiness information in the UI
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/model/suite_context.py
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/static/js/timeline.js
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/templates/search.html
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/templates/suite_results.html
Labels: merge-queue, New Bugs, WebKit Nightly Build

#2044 [iOS] Mail occasionally crashes under WebKit: API::Attachment::enclosingImageData()
  Source/WebKit/UIProcess/API/APIAttachment.cpp
  Source/WebKit/UIProcess/API/APIAttachment.h
  Source/WebKit/UIProcess/API/Cocoa/APIAttachmentCocoa.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKAttachment.mm
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
  Source/WebKit/UIProcess/Cocoa/WebViewImpl.mm
  Source/WebKit/UIProcess/QuickLookThumbnailLoader.h
  Source/WebKit/UIProcess/QuickLookThumbnailLoader.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKAttachmentTests.mm
Labels: merge-queue, Platform, WebKit Nightly Build

#2048 [JSC] Use memchr in WTF::find for long strings
  JSTests/microbenchmarks/string-index-of-10000001-404.js
  JSTests/microbenchmarks/string-index-of-10000001-beg.js
  JSTests/microbenchmarks/string-index-of-10000001-end.js
  JSTests/microbenchmarks/string-index-of-10000001-mid.js
  JSTests/microbenchmarks/string-index-of-1000001-404.js
  JSTests/microbenchmarks/string-index-of-1000001-beg.js
  JSTests/microbenchmarks/string-index-of-1000001-end.js
  JSTests/microbenchmarks/string-index-of-1000001-mid.js
  JSTests/microbenchmarks/string-index-of-100001-404.js
  JSTests/microbenchmarks/string-index-of-100001-beg.js
  JSTests/microbenchmarks/string-index-of-100001-end.js
  JSTests/microbenchmarks/string-index-of-100001-mid.js
  JSTests/microbenchmarks/string-index-of-10001-404.js
  JSTests/microbenchmarks/string-index-of-10001-beg.js
  JSTests/microbenchmarks/string-index-of-10001-end.js
  JSTests/microbenchmarks/string-index-of-10001-mid.js
  JSTests/microbenchmarks/string-index-of-1001-404.js
  JSTests/microbenchmarks/string-index-of-1001-beg.js
  JSTests/microbenchmarks/string-index-of-1001-end.js
  JSTests/microbenchmarks/string-index-of-1001-mid.js
  JSTests/microbenchmarks/string-index-of-101-404.js
  JSTests/microbenchmarks/string-index-of-101-beg.js
  JSTests/microbenchmarks/string-index-of-101-end.js
  JSTests/microbenchmarks/string-index-of-101-mid.js
  JSTests/microbenchmarks/string-index-of-11-404.js
  JSTests/microbenchmarks/string-index-of-11-beg.js
  JSTests/microbenchmarks/string-index-of-11-end.js
  JSTests/microbenchmarks/string-index-of-11-mid.js
  Source/WTF/wtf/text/StringCommon.h
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#2059 [Alternate WebM Player] Allow device sleep during playback
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.mm
Labels: merge-queue, Media, WebKit Nightly Build

#1998 [JSC] testair: testZDefOfSpillSlotWithOffsetNeedingToBeMaterializedInARegister incorrectly passes
  Source/JavaScriptCore/b3/air/testair.cpp
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#2066 AffineTranform variables should be able to be constexpr
  Source/WebCore/platform/graphics/SourceBrush.cpp
  Source/WebCore/platform/graphics/coretext/FontCascadeCoreText.cpp
  Source/WebCore/platform/graphics/transforms/AffineTransform.cpp
  Source/WebCore/platform/graphics/transforms/AffineTransform.h
  Source/WebCore/rendering/RenderObject.cpp
  Source/WebCore/rendering/svg/SVGRenderSupport.h
  Source/WebCore/svg/properties/SVGAnimationAdditiveListFunctionImpl.h
  Tools/TestWebKitAPI/Tests/WebCore/AffineTransform.cpp
Labels: merge-queue, Layout and Rendering, WebKit Nightly Build

#2053 [FreeType] Add an implementation for FontPlatformData::familyName()
  Source/WebCore/platform/graphics/FontPlatformData.cpp
  Source/WebCore/platform/graphics/freetype/FontPlatformDataFreeType.cpp
Labels: merge-queue, Platform, WebKit Nightly Build

#2060 [GStreamer][WebRTC] Additional data-channel improvements and initial layout tests coverage
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/webrtc/datachannel/bufferedAmountLowThreshold.html
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerDataChannelHandler.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerDataChannelHandler.h
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.h
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerSctpTransportBackend.cpp
Labels: merge-queue, Platform, WebKit Nightly Build

#2056 SVG load external file via <use> ignores ServiceWorker when offline
  LayoutTests/http/wpt/service-workers/use-element-worker.js
  LayoutTests/http/wpt/service-workers/use-element.https-expected.txt
  LayoutTests/http/wpt/service-workers/use-element.https.html
  Source/WebCore/svg/SVGUseElement.cpp
Labels: merge-queue, Service Workers, Safari 12

#2055 Web Inspector: Styles: Pop-up for resolved CSS variable values is inconsistent with other pop-ups
  Source/WebInspectorUI/UserInterface/Views/InlineSwatch.css
  Source/WebInspectorUI/UserInterface/Views/InlineSwatch.js
Labels: merge-queue, Web Inspector, WebKit Nightly Build

#2078 Update debug assertion in RtpSenderBase::SetSsrc
  Source/ThirdParty/libwebrtc/Source/webrtc/pc/rtp_sender.cc
Labels: unsafe-merge-queue, WebKit Misc., WebKit Nightly Build

#2057 Switch test results from Trac to Github links
  LayoutTests/fast/harness/results.html
  ManualTests/resources/test-results-page.html
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#2049 NetworkRTCUDPSocketCocoaConnections should check for nw_content_context_get_is_final when reading data
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCUDPSocketCocoa.mm
Labels: merge-queue, WebRTC, WebKit Nightly Build

#2064 [Alternate WebM Player] Add wireless playback support
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.h
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.mm
Labels: merge-queue, Media, WebKit Nightly Build

#1879 [WebAuthn] Should reject rp with empty id
  LayoutTests/http/wpt/webauthn/public-key-credential-create-failure.https-expected.txt
  LayoutTests/http/wpt/webauthn/public-key-credential-create-failure.https.html
  Source/WebCore/Modules/webauthn/AuthenticatorCoordinator.cpp
  Source/WebCore/Modules/webauthn/PublicKeyCredentialCreationOptions.h
  Source/WebCore/Modules/webauthn/fido/DeviceRequestConverter.cpp
  Source/WebCore/Modules/webauthn/fido/U2fCommandConstructor.cpp
  Source/WebKit/UIProcess/API/Cocoa/_WKWebAuthenticationPanel.mm
  Source/WebKit/UIProcess/WebAuthentication/AuthenticatorManager.cpp
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/LocalAuthenticator.mm
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/WebAuthenticatorCoordinatorProxy.mm
  Source/WebKit/UIProcess/WebAuthentication/fido/U2fAuthenticator.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/_WKWebAuthenticationPanel.mm
Labels: merge-queue, WebKit Misc., WebKit Nightly Build

#1954 [iOS] Add support for keyboard shortcut and menu item to find using the current selection
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/WebProcess/WebPage/WebFoundTextRangeController.cpp
Labels: merge-queue, WebKit API, Other

#2022 [webkitbot] Use commits.webkit.org instead of trac.webkit.org
  Tools/WebKitBot/src/WebKitBot.mjs
Labels: merge-queue, Tools / Tests, Other

#1858 Add support for showing a spinner in an <input>
  LayoutTests/fast/forms/auto-fill-button/input-loading-auto-fill-button-expected-mismatch.html
  LayoutTests/fast/forms/auto-fill-button/input-loading-auto-fill-button.html
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperMac.mm
  Source/WebCore/css/html.css
  Source/WebCore/en.lproj/Localizable.strings
  Source/WebCore/html/HTMLTextFormControlElement.h
  Source/WebCore/html/TextFieldInputType.cpp
  Source/WebCore/html/shadow/ShadowPseudoIds.cpp
  Source/WebCore/html/shadow/ShadowPseudoIds.h
  Source/WebCore/platform/LocalizedStrings.cpp
  Source/WebCore/platform/LocalizedStrings.h
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
  Source/WebKit/WebProcess/InjectedBundle/API/Cocoa/WKWebProcessPlugInNodeHandle.mm
  Source/WebKit/WebProcess/InjectedBundle/API/Cocoa/WKWebProcessPlugInNodeHandlePrivate.h
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundleNodeHandle.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundleNodeHandlePrivate.h
Labels: merge-queue

#2070 [WebGPU] Strengthen compiler warnings
  Source/WebGPU/Configurations/WebGPU.xcconfig
Labels: merge-queue, WebGPU, WebKit Nightly Build

#2079 Web Inspector: Screenshots timeline overview records do not adjust their position when zooming in/out
  Source/WebInspectorUI/UserInterface/Views/ScreenshotsTimelineOverviewGraph.js
Labels: merge-queue, Web Inspector, WebKit Nightly Build

#2090 [Gardening]: [ iOS Release ] http/tests/paymentrequest/updateWith-shippingOptions.https.html is a flaky failure
  LayoutTests/platform/ios-wk2/TestExpectations
Labels: unsafe-merge-queue

#2095 [Gardening]: [ macOS wk2 ] http/tests/xmlhttprequest/access-control-repeated-failed-preflight-crash.html is a flaky crash: exception 'NSInternalInconsistencyException', reason: 'This task has already been stopped'
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue

#2077 ServiceWorkerFetch::dispatchFetchEvent active registration assert is no longer true
  Source/WebCore/workers/service/context/ServiceWorkerFetch.cpp
Labels: merge-queue, Service Workers, WebKit Nightly Build

#2050 Add more logging to webrtc/video-setDirection.html in case of error
  LayoutTests/webrtc/video-setDirection.html
Labels: merge-queue, WebRTC, WebKit Nightly Build

#2083 Remove telemetry in the GPU process
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
Labels: merge-queue, WebKit Misc., Safari 15

#2093 [iOS] REGRESSION(251612@main): fullscreen close/PiP buttons are too close to the top of the screen
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenViewController.mm
Labels: merge-queue, Media, WebKit Nightly Build

#2088 [iOS][GPUP] Remove sandbox telemetry
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.GPU.sb.in
Labels: merge-queue, WebKit Misc., Safari 15

#2068 [git-webkit] Fix issue assignee failure
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/github.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/mocks/github.py
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#2099 [iOS] Fix sandbox violations
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.GPU.sb.in
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.Networking.sb.in
Labels: merge-queue, WebKit Misc., Safari 15

#2101 [Gardening]: [ BigSure wk1 Debug ] fast/selectors/pseudo-element-inside-any.html is a flaky crash
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue

#2107 Fix AttributeError: 'PullRequest' object has no attribute 'link'
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
Labels: merge-queue

#2104 [Gardening]: [ iOS15 Debug ] media/media-fragments/TC0001.html is a flaky timeout
  LayoutTests/platform/ios-wk2/TestExpectations
Labels: unsafe-merge-queue

#2100 REGRESSION (251473@main): [watchOS] Crash when focusing an input field with spellcheck="false"
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Labels: merge-queue, Forms, WebKit Nightly Build

#2105 REGRESSION (iOS 16): RELEASE_ASSERT in slow_path_wasm_loop_osr
  Source/JavaScriptCore/wasm/WasmBBQPlan.cpp
  Source/JavaScriptCore/wasm/WasmBBQPlan.h
  Source/JavaScriptCore/wasm/WasmSlowPaths.cpp
Labels: merge-queue

#2086 Add const to some fields that are meant to be immutable after construction.
  Source/JavaScriptCore/bindings/ScriptFunctionCall.h
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/bytecode/CodeBlock.h
  Source/JavaScriptCore/bytecode/CodeBlockWithJITType.h
  Source/JavaScriptCore/bytecode/FullCodeOrigin.h
  Source/JavaScriptCore/bytecode/PolymorphicAccess.h
  Source/JavaScriptCore/bytecode/StructureStubClearingWatchpoint.h
  Source/JavaScriptCore/debugger/Debugger.cpp
  Source/JavaScriptCore/debugger/DebuggerEvalEnabler.h
  Source/JavaScriptCore/debugger/ScriptProfilingScope.h
  Source/JavaScriptCore/dfg/DFGAbstractInterpreter.h
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGGraph.h
  Source/JavaScriptCore/heap/MarkedBlock.cpp
  Source/JavaScriptCore/heap/MarkedBlock.h
  Source/JavaScriptCore/heap/WeakSet.h
  Source/JavaScriptCore/interpreter/VMEntryRecord.h
  Source/JavaScriptCore/jit/AssemblyHelpers.h
  Source/JavaScriptCore/jit/JIT.cpp
  Source/JavaScriptCore/jit/JIT.h
  Source/JavaScriptCore/jit/JITDisassembler.h
  Source/JavaScriptCore/jit/JSInterfaceJIT.h
  Source/JavaScriptCore/jit/PolymorphicCallStubRoutine.h
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.h
  Source/JavaScriptCore/runtime/LiteralParser.h
  Source/JavaScriptCore/runtime/RegExpCache.h
  Source/JavaScriptCore/wasm/js/JSWebAssemblyInstance.h
  Source/JavaScriptCore/yarr/YarrJIT.cpp
  Source/WebCore/bindings/js/JSExecState.h
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
  Source/WebCore/dom/CustomElementReactionQueue.h
Labels: unsafe-merge-queue, JavaScriptCore, WebKit Nightly Build

#2082 Adjust VM heap growth factor
  Source/JavaScriptCore/runtime/OptionsList.h
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#2069 RemoteResourceCacheProxy::clearDecomposedGlyphsMap should deregister observers
  LayoutTests/fast/text/glyph-display-lists/glyph-display-list-gpu-process-crash-expected.txt
  LayoutTests/fast/text/glyph-display-lists/glyph-display-list-gpu-process-crash.html
  Source/WebCore/rendering/TextPainter.cpp
  Source/WebCore/rendering/TextPainter.h
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.cpp
Labels: unsafe-merge-queue, WebKit Process Model, WebKit Nightly Build

#2110 [libpas] Add no-shutting-down scavenger mode
  Source/JavaScriptCore/runtime/InitializeThreading.cpp
  Source/JavaScriptCore/runtime/OptionsList.h
  Source/bmalloc/libpas/src/libpas/pas_scavenger.c
  Source/bmalloc/libpas/src/libpas/pas_scavenger.h
Labels: unsafe-merge-queue, bmalloc, WebKit Nightly Build

#2108 [WebGPU] Rename TypeConversion to CallableExpression and some refactoring
  Source/WebGPU/WGSL/AST/Expression.h
  Source/WebGPU/WGSL/AST/Expressions/CallableExpression.h
  Source/WebGPU/WGSL/Parser.cpp
  Source/WebGPU/WGSLUnitTests/WGSLParserTests.mm
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
Labels: merge-queue, WebGPU, WebKit Local Build

#2076 Web Inspector: Styles: CSS documentation popover is needlessly persistent with broken background
  Source/WebInspectorUI/UserInterface/Views/SpreadsheetStyleProperty.js
Labels: merge-queue, Web Inspector, WebKit Nightly Build

#2085 [iOS] "A problem repeatedly occurred" error page when safari resuming from background
  Source/WebKit/UIProcess/SuspendedPageProxy.cpp
  Source/WebKit/UIProcess/WebProcessCache.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ProcessSwapOnNavigation.mm
Labels: merge-queue, WebKit2, WebKit Nightly Build

#2096 [iOS][WP] Remove sandbox telemetry
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
Labels: merge-queue, WebKit Misc., Safari 15

#2118 [Mac] Display capture is broken in GPUProcess
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
Labels: merge-queue, WebRTC, WebKit Nightly Build

#1340 [iOS] Add SPI to vend the find overlay layer
  Source/WebCore/page/PageOverlay.cpp
  Source/WebCore/page/PageOverlay.h
  Source/WebCore/page/PageOverlayController.cpp
  Source/WebCore/platform/graphics/GraphicsLayer.cpp
  Source/WebCore/platform/graphics/GraphicsLayer.h
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.cpp
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.h
  Source/WebKit/UIProcess/API/APIFindClient.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewInternal.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/_WKFindDelegate.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/UIProcess/Cocoa/FindClient.h
  Source/WebKit/UIProcess/Cocoa/FindClient.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/WebProcess/WebPage/WebFoundTextRangeController.cpp
  Source/WebKit/WebProcess/WebPage/WebFoundTextRangeController.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
  Tools/TestWebKitAPI/Tests/WebKitCocoa/FindInPage.mm
Labels: merge-queue, WebKit API, Other

#2125 [git-webkit] Add `-o`/`--open` to `git-webkit pr` that automatically opens the created PR
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#2035 Use `-[AVSampleBufferDisplayLayer copyDisplayedPixelBuffer]` for MSE inline painting when possible
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.mm
  Source/WebCore/PAL/pal/spi/cocoa/AVFoundationSPI.h
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/platform/graphics/MediaPlayer.cpp
  Source/WebCore/platform/graphics/MediaPlayer.h
  Source/WebCore/platform/graphics/MediaPlayerPrivate.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.messages.in
  Source/WebKit/GPUProcess/media/cocoa/RemoteMediaPlayerProxyCocoa.mm
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.h
Labels: merge-queue, Media, WebKit Nightly Build

#2126 Add myself as reviewer to contributors.json.
  metadata/contributors.json
Labels: unsafe-merge-queue, Tools / Tests, Other

#2113 REGRESSION (iOS 15 / r275792): rAF sometimes seems to lose connection to v-sync signal and runs at < 60 fps
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/ios/WKContentView.mm
  Source/WebKit/UIProcess/ios/WebPageProxyIOS.mm
Labels: merge-queue, Safari 15

#2132 Constructing a custom element should immediately execute microtasks if there are no scripts
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/microtasks-and-constructors-expected.txt
  Source/WebCore/bindings/js/JSCustomElementInterface.cpp
  Source/WebCore/bindings/js/JSCustomElementInterface.h
  Source/WebCore/html/parser/HTMLDocumentParser.cpp
Labels: merge-queue, DOM, WebKit Nightly Build

#2137 Add telemetry to dump how long it takes to remove background from an image
  Source/WebKit/Platform/cocoa/ImageAnalysisUtilities.mm
Labels: merge-queue, Platform, WebKit Nightly Build

#1883 Don't allow Flush/PhantomLocal to be the head variable in a block in ThreadedCPS
  Source/JavaScriptCore/dfg/DFGCPSRethreadingPhase.cpp
  Source/JavaScriptCore/dfg/DFGGraph.cpp
Labels: merge-queue, WebKit Nightly Build

#1988 REGRESSION(251359@main) Subtitles in PiP and Fullscreen are blank
  Source/WebCore/platform/graphics/ImageBuffer.cpp
  Source/WebCore/platform/graphics/ImageBuffer.h
  Tools/TestWebKitAPI/TestUtilities.h
  Tools/TestWebKitAPI/Tests/WebCore/ImageBufferTests.cpp
Labels: merge-queue

#2087 Web Inspector: CSS autocomplete: most commonly used property should account for fuzzy-matching
  LayoutTests/inspector/css/css-property-expected.txt
  LayoutTests/inspector/css/css-property.html
  LayoutTests/inspector/unit-tests/array-utilities-expected.txt
  LayoutTests/inspector/unit-tests/array-utilities.html
  Source/WebInspectorUI/UserInterface/Base/Utilities.js
  Source/WebInspectorUI/UserInterface/Models/CSSProperty.js
  Source/WebInspectorUI/UserInterface/Models/QueryResult.js
  Source/WebInspectorUI/UserInterface/Views/SpreadsheetStyleProperty.js
  Source/WebInspectorUI/UserInterface/Views/SpreadsheetTextField.js
Labels: unsafe-merge-queue, Web Inspector, WebKit Nightly Build

#2124 Web Inspector: CSS autocomplete: property usage counts should ignore variables
  LayoutTests/inspector/css/css-property-expected.txt
  LayoutTests/inspector/css/css-property.html
  Source/WebInspectorUI/UserInterface/Models/CSSProperty.js
  Source/WebInspectorUI/UserInterface/Models/CSSStyleDeclaration.js
  Source/WebInspectorUI/UserInterface/Views/SpreadsheetStyleProperty.js
Labels: unsafe-merge-queue, Web Inspector, WebKit Nightly Build

#2142 Revert "[Make] Pick the correct ARCHS setting for an overridden SDKROOT"
  Makefile.shared
Labels: unsafe-merge-queue

#2139 Regression(252033@main) Sometimes plays audio without video when going fullscreen
  Source/WebKit/WebProcess/cocoa/VideoFullscreenManager.mm
Labels: merge-queue, Media, WebKit Nightly Build

#2141 [WebGPU] Support parsing @vertex, @fragment, @compute attributes
  Source/WebGPU/WGSL/Parser.cpp
  Source/WebGPU/WGSLUnitTests/WGSLLexerTests.mm
  Source/WebGPU/WGSLUnitTests/WGSLParserTests.mm
Labels: merge-queue, WebGPU, WebKit Local Build

#1968 Web Driver: [Cocoa] Viewport snapshots do not correctly represent CSS transforms
  Source/WebKit/UIProcess/Automation/WebAutomationSession.cpp
  Source/WebKit/UIProcess/Automation/cocoa/WebAutomationSessionCocoa.mm
  Source/WebKit/UIProcess/Cocoa/WebViewImpl.mm
Labels: merge-queue, WebDriver, WebKit Nightly Build

#2117 Move WebRTC H265 flag from experimental to internal
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WTF/Scripts/Preferences/WebPreferencesInternal.yaml
Labels: merge-queue, WebRTC, WebKit Nightly Build

#2144 Remove assert in RenderLayerCompositor::updateScrollingNodeForScrollingProxyRole when no clippingStack is present
  Source/WebCore/rendering/RenderLayerCompositor.cpp
Labels: merge-queue, Layout and Rendering, Other

#2120 Mock display capture should skip the window selection step
  Source/WebKit/UIProcess/mac/DisplayCaptureSessionManager.h
  Source/WebKit/UIProcess/mac/DisplayCaptureSessionManager.mm
Labels: merge-queue, WebRTC, WebKit Nightly Build

#2089 [ews] send data to ews django app for PR based builds
  Tools/CISupport/ews-build/events.py
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#2084 [ews-app] Accept data from PR based ews builds
  Tools/CISupport/ews-app/ews/models/build.py
  Tools/CISupport/ews-app/ews/models/patch.py
  Tools/CISupport/ews-app/ews/urls.py
  Tools/CISupport/ews-app/ews/views/results.py
  Tools/CISupport/ews-app/ews/views/statusbubble.py
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#2149 Insert break instructions in the LLInt asm to ensure that some global labels are not aliased.
  Source/JavaScriptCore/llint/LowLevelInterpreter.asm
  Source/JavaScriptCore/offlineasm/asm.rb
Labels: unsafe-merge-queue, JavaScriptCore, WebKit Nightly Build

#2148 REGRESSION (r221177): Redundant icon fetching in the web process for file inputs
  Source/WebCore/html/FileInputType.cpp
Labels: merge-queue, Forms, WebKit Nightly Build

#2169 gtk builds shouldn't fail when there is issue with commit identifier calculation
  Tools/glib/apply-build-revision-to-files.py
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#2153 Lots of missing tiles when scrolling large source files in github
  Source/WebCore/rendering/RenderBlock.cpp
Labels: merge-queue, Layout and Rendering, Safari Technology Preview

#2176 Unreviewed, fix the build with older macOS Ventura or iOS 16 SDKs after 252183@main
  Source/WebCore/PAL/pal/spi/cocoa/AVFoundationSPI.h
Labels: unsafe-merge-queue

#2160 [media-controls] promote secondaryValue member from Slider to SliderBase
  Source/WebCore/Modules/modern-media-controls/controls/slider-base.js
  Source/WebCore/Modules/modern-media-controls/controls/slider.js
Labels: merge-queue, Media, WebKit Nightly Build

#2171 [WebAuthn] Test fix after should reject rp with empty id
  Tools/TestWebKitAPI/Tests/WebKitCocoa/_WKWebAuthenticationPanel.mm
Labels: merge-queue, WebKit Misc., WebKit Nightly Build

#2103 [Gardening]: [ iOS Release ] media/media-can-play-mpeg-audio.html is a flaky failure
  LayoutTests/platform/ios-wk2/TestExpectations
Labels: unsafe-merge-queue

#2173 Crash under MediaPlayerPrivateRemote::durationMediaTime()
  Source/WebKit/WebProcess/GPU/media/MediaSourcePrivateRemote.h
Labels: merge-queue, Media, WebKit Nightly Build

#2178 [ews-app] Make status url work with git hash
  Tools/CISupport/ews-app/ews/urls.py
  Tools/CISupport/ews-app/ews/views/status.py
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#2177 [Flatpak SDK] Update to pipewire master
  Tools/buildstream/patches/fdo-0001-pipewire-base-Track-master-branch.patch
Labels: merge-queue

#2166 Ensure m_backend is valid during use in RTCRtpTransform::attachToReceiver
  Source/WebCore/Modules/mediastream/RTCRtpTransform.cpp
Labels: merge-queue, WebCore Misc., Other

#1921 MediaCapabilities should respect allowed containers and codecs in Captive Portal mode
  LayoutTests/media/mediacapabilities/mediacapabilities-allowed-codecs-expected.txt
  LayoutTests/media/mediacapabilities/mediacapabilities-allowed-codecs.html
  LayoutTests/media/mediacapabilities/mediacapabilities-allowed-containers-expected.txt
  LayoutTests/media/mediacapabilities/mediacapabilities-allowed-containers.html
  LayoutTests/platform/gtk/TestExpectations
  Source/WebCore/Modules/mediacapabilities/MediaCapabilities.cpp
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebCore/platform/graphics/cocoa/MediaEngineConfigurationFactoryCocoa.cpp
  Source/WebCore/platform/mediacapabilities/MediaConfiguration.h
Labels: merge-queue, Media, Other

#2185 Fix some typos in comments.
  Source/JavaScriptCore/dfg/DFGCSEPhase.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter.asm
  Source/bmalloc/libpas/src/libpas/pas_local_allocator.c
  Source/bmalloc/libpas/src/libpas/pas_local_view_cache.c
Labels: unsafe-merge-queue, JavaScriptCore, WebKit Nightly Build

#2182 [ews-app] Make retrypatch url work with git hash
  Tools/CISupport/ews-app/ews/views/retrypatch.py
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#2156 Don't repaint the outline bounds for (Legacy)RenderSVGModelObjects when their layout changes
  Source/WebCore/rendering/LayoutRepainter.cpp
  Source/WebCore/rendering/LayoutRepainter.h
  Source/WebCore/rendering/svg/LegacyRenderSVGContainer.cpp
  Source/WebCore/rendering/svg/LegacyRenderSVGShape.cpp
  Source/WebCore/rendering/svg/RenderSVGContainer.cpp
  Source/WebCore/rendering/svg/RenderSVGImage.cpp
  Source/WebCore/rendering/svg/RenderSVGShape.cpp
Labels: merge-queue, SVG, WebKit Nightly Build

#2199 [Gardening]: [ macOS wk2 ] fast/css/direct-adjacent-style-sharing-3.html is a flaky failure
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue

#2194 [git-webkit] Document checkout pr support
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/checkout.py
Labels: merge-queue, Tools / Tests, Other
