Repository WebKit/WebKit, pull requests merged in 2022-11, with the labels that each got.

#5975 [JSC] fix wrong text in WASM error message
  JSTests/stress/wasm-error-message-get-local.js
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#5947 Handle bitmap allocation failure in OffscreenCanvas::transferToImageBitmap.
  LayoutTests/fast/canvas/offscreen-giant-transfer-to-imagebitmap-expected.txt
  LayoutTests/fast/canvas/offscreen-giant-transfer-to-imagebitmap.html
  LayoutTests/platform/mac-wk1/fast/canvas/offscreen-giant-transfer-to-imagebitmap-expected.txt
  LayoutTests/platform/win/fast/canvas/offscreen-giant-transfer-to-imagebitmap-expected.txt
  Source/WebCore/html/OffscreenCanvas.cpp
Labels: merge-queue, Canvas, WebKit Nightly Build

#5946 REGRESSION (256117@main): Unable to toggle network connection integrity using `-_setNetworkConnectionIntegrityEnabled:`
  Source/WebKit/UIProcess/API/Cocoa/WKWebpagePreferences.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebsitePolicies.mm
Labels: unsafe-merge-queue, Platform, WebKit Nightly Build

#5781 Enable accelerated drawing for macOS layout tests
  Tools/WebKitTestRunner/TestOptions.cpp
Labels: merge-queue, Tools / Tests, Safari Technology Preview

#5930 Drive macOS RemoteLayerTreeDrawingAreaProxy updates from a DisplayLink
  Source/WebCore/page/scrolling/ScrollingTree.cpp
  Source/WebCore/page/scrolling/ScrollingTree.h
  Source/WebCore/page/scrolling/ThreadedScrollingTree.cpp
  Source/WebCore/page/scrolling/ThreadedScrollingTree.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteLayerTreeDrawingAreaProxyIOS.mm
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.mm
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingCoordinatorProxyMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingCoordinatorProxyMac.mm
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingTreeMac.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingTreeMac.h
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebProcessPool.h
  Source/WebKit/UIProcess/mac/DisplayLink.h
Labels: merge-queue, WebKit Process Model, WebKit Local Build

#5800 Web Manifest: support id member
  Source/WebCore/Modules/applicationmanifest/ApplicationManifest.h
  Source/WebCore/Modules/applicationmanifest/ApplicationManifestParser.cpp
  Source/WebCore/Modules/applicationmanifest/ApplicationManifestParser.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/API/Cocoa/_WKApplicationManifest.h
  Source/WebKit/UIProcess/API/Cocoa/_WKApplicationManifest.mm
  Tools/TestWebKitAPI/Tests/WebCore/ApplicationManifestParser.cpp
Labels: New Bugs, Other

#5989 compositing/iframes/border-radius-composited-frame.html fails sometimes
  LayoutTests/compositing/iframes/border-radius-composited-frame.html
  LayoutTests/platform/mac/TestExpectations
Labels: merge-queue, Tools / Tests, WebKit Local Build

#5972 Regression(iOS 16.1) Use of Shared Workers cause Web Content process crash in non-default-browser WKWebViews
  LayoutTests/http/tests/navigation/resources/shared-worker-script.js
  LayoutTests/http/tests/workers/shared/shared-worker-with-service-workers-disabled-expected.txt
  LayoutTests/http/tests/workers/shared/shared-worker-with-service-workers-disabled.html
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/win/TestExpectations
  Source/WebCore/workers/WorkerScriptLoader.cpp
  Source/WebCore/workers/WorkerScriptLoader.h
Labels: unsafe-merge-queue, Service Workers, WebKit Nightly Build

#6000 REGRESSION (256119@main, 256136@main): The News app crashes on launch
  Source/WebKit/UIProcess/WebsiteData/Cocoa/WebsiteDataStoreCocoa.mm
Labels: Platform, WebKit Nightly Build

#5704 Use the correct paint methods for painting a section rect of RenderWidgets
  LayoutTests/editing/selection/iframe-select-expected.html
  LayoutTests/editing/selection/iframe-select.html
  Source/WebCore/rendering/RenderElement.h
  Source/WebCore/rendering/RenderObject.h
  Source/WebCore/rendering/RenderWidget.cpp
Labels: Layout and Rendering, WebKit Nightly Build

#5920 [git-webkit] Handle branch names which might be hashes
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/local/git.py
Labels: Tools / Tests, Other

#5954 Drop assertions landed in r244971 to debug a crash in the wild
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/history/CachedFrame.cpp
Labels: unsafe-merge-queue, Page Loading, WebKit Nightly Build

#5992 Simplify MiniBrowser settings menu construction
  Tools/MiniBrowser/mac/SettingsController.m
Labels: unsafe-merge-queue, Tools / Tests, WebKit Local Build

#6005 Updating commiter name.
  metadata/contributors.json
Labels: unsafe-merge-queue

#5973 Trace trap in JIT-compiled code.
  JSTests/stress/array-push-stack-overflow-exception-check.js
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
Labels: unsafe-merge-queue, JavaScriptCore, WebKit Nightly Build

#6007 Order Web Inspector reference pages by column
  Websites/webkit.org/wp-content/themes/webkit/archive-web_inspector_page.php
Labels: unsafe-merge-queue, WebKit Website, WebKit Nightly Build

#5990 Crash trying to scroll a main frame PDF with UI-side compositing on macOS.
  Source/WebKit/WebProcess/WebPage/EventDispatcher.cpp
Labels: merge-queue, WebKit Process Model, WebKit Local Build

#6008 Use instancesRespondToSelector instead of respondsToSelector for checking if Managed Domains SPI exists.
  Source/WebKit/UIProcess/WebsiteData/Cocoa/WebsiteDataStoreCocoa.mm
Labels: merge-queue, WebKit Misc., WebKit Nightly Build

#5983 REGRESSION (STP): Animating image inside clipping border-radius ignores overflow hidden
  LayoutTests/compositing/clipping/clip-stack-hidden-and-radius-expected.html
  LayoutTests/compositing/clipping/clip-stack-hidden-and-radius.html
  Source/WebCore/rendering/RenderLayerCompositor.cpp
Labels: merge-queue, Compositing, Safari Technology Preview

#6013 Revert 256101@main
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.h
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.h
  Source/WebKit/UIProcess/WebFrameProxy.messages.in
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
Labels: unsafe-merge-queue, WebKit Process Model, WebKit Local Build

#6004 Add a way to customize the console log message when content extensions block requests
  Source/WebCore/contentextensions/ContentExtensionsBackend.cpp
  Source/WebCore/contentextensions/ContentExtensionsBackend.h
  Source/WebCore/loader/cache/CachedResourceLoader.cpp
Labels: merge-queue, Platform, WebKit Nightly Build

#6009 Modernize presentation of password field in password-protected PDF view
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
Labels: merge-queue

#5613 drawingBufferColorSpace support in WebGL canvas on macOS
  LayoutTests/fast/canvas/webgl/colorspaces-test-expected.txt
  LayoutTests/fast/canvas/webgl/colorspaces-test.html
  LayoutTests/fast/canvas/webgl/context-lost-restored-p3-expected.txt
  LayoutTests/fast/canvas/webgl/context-lost-restored-p3.html
  LayoutTests/fast/canvas/webgl/match-page-color-space-p3-expected.html
  LayoutTests/fast/canvas/webgl/match-page-color-space-p3.html
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
  Source/WebCore/html/canvas/WebGLRenderingContextBase.idl
  Source/WebCore/inspector/InspectorCanvas.cpp
  Source/WebCore/inspector/InspectorCanvasCallTracer.h
  Source/WebCore/platform/graphics/GraphicsContextGL.cpp
  Source/WebCore/platform/graphics/GraphicsContextGL.h
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.h
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.mm
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGL.messages.in
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGLFunctionsGenerated.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxyFunctionsGenerated.cpp
Labels: merge-queue, WebGL, WebKit Nightly Build

#5991 Regression(254490@main): null dereference in Permissions::query
  Source/WebCore/Modules/permissions/Permissions.cpp
Labels: merge-queue, WebKit Misc., WebKit Nightly Build

#6012 Remove operationAllocateResultsArray assert
  JSTests/wasm/stress/f32-tuple-jsapi-exported.js
  JSTests/wasm/stress/f32-tuple-jsapi.js
  Source/JavaScriptCore/wasm/WasmOperations.cpp
  Source/JavaScriptCore/wasm/js/JSToWasm.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyFunction.cpp
Labels: merge-queue, JavaScriptCore, WebKit Local Build

#5941 Use more constrained types to represent CSS gradient values
  Source/WebCore/css/CSSGradientValue.cpp
  Source/WebCore/css/CSSGradientValue.h
  Source/WebCore/css/CSSValue.cpp
  Source/WebCore/css/CSSValue.h
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/html/HTMLInputElement.cpp
  Source/WebCore/rendering/style/StyleGradientImage.cpp
  Source/WebCore/rendering/style/StyleGradientImage.h
  Source/WebCore/style/StyleBuilderState.cpp
  Source/WebCore/style/StylePendingResources.cpp
Labels: CSS, WebKit Nightly Build

#5994 Add the support for outputting ranges to dump-as-markup.js and use it in editing/selection/getRangeAt.html
  LayoutTests/editing/selection/getRangeAt-expected.txt
  LayoutTests/editing/selection/getRangeAt.html
  LayoutTests/resources/dump-as-markup.js
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#6023 REGRESSION (255929@main): Some Facebook links cannot be opened in Safari
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: merge-queue, Platform, WebKit Nightly Build

#6026 [GLIB] Gardening, update baselines after 256073@main
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-backgrounds/animations/background-image-interpolation-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-backgrounds/animations/border-image-source-interpolation-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-backgrounds/parsing/background-image-computed.sub-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-backgrounds/parsing/border-image-source-computed.sub-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-lists/animations/list-style-image-interpolation-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-lists/parsing/list-style-image-computed.sub-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-masking/animations/mask-image-interpolation-expected.txt
Labels: unsafe-merge-queue

#6027 Experimental features menu is missing checkmarks in MiniBrowser
  Tools/MiniBrowser/mac/SettingsController.m
Labels: unsafe-merge-queue, WebKit Local Build

#6028 [GLIB][GTK] Gardening, remove redundant baselines
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/fetch/stale-while-revalidate/stale-css-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/fetch/stale-while-revalidate/stale-script-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/mathml/presentation-markup/operators/operator-dictionary-stretchy-001-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/mathml/presentation-markup/operators/operator-dictionary-stretchy-002-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/service-workers/service-worker/navigation-preload/samesite-cookies.https-expected.txt
  LayoutTests/platform/gtk/fast/repaint/focus-ring-repaint-expected.txt
Labels: unsafe-merge-queue

#5904 [Nicosia] Remove CoordinatedGraphicsState
  Source/WebCore/platform/TextureMapper.cmake
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedGraphicsLayer.h
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedGraphicsState.h
  Source/WebKit/Shared/CoordinatedGraphics/CoordinatedGraphicsScene.cpp
  Source/WebKit/Shared/CoordinatedGraphics/CoordinatedGraphicsScene.h
  Source/WebKit/Shared/CoordinatedGraphics/threadedcompositor/ThreadedCompositor.cpp
  Source/WebKit/Shared/CoordinatedGraphics/threadedcompositor/ThreadedCompositor.h
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/CompositingCoordinator.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/CompositingCoordinator.h
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHost.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHost.h
Labels: Platform, WebKit Nightly Build

#5899 [Nicosia] AsyncScrolling: use accessCommitted instead of accessPending when collecting layers for hit testing
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeNicosia.cpp
Labels: merge-queue, Scrolling, WebKit Nightly Build

#5996 Code style does not allow currently used member function explanation comments for vfuncs, ipc messages
  Websites/webkit.org/code-style.md
Labels: merge-queue, Tools / Tests, Safari Technology Preview

#5861 [MSE][GStreamer] Relax h264/h265 codec check for MSE
  Source/WebCore/platform/graphics/gstreamer/GStreamerRegistryScanner.cpp
  Source/WebCore/platform/graphics/gstreamer/GStreamerRegistryScanner.h
  Source/WebCore/platform/graphics/gstreamer/mse/AppendPipeline.cpp
Labels: merge-queue, Media, WebKit Nightly Build

#5986 Style and performance tweaks to CSS property name and keyword value tables
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/animation/CSSTransition.cpp
  Source/WebCore/animation/CSSTransition.h
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/css/CSSBackgroundRepeatValue.cpp
  Source/WebCore/css/CSSComputedStyleDeclaration.cpp
  Source/WebCore/css/CSSCustomPropertyValue.cpp
  Source/WebCore/css/CSSFunctionValue.cpp
  Source/WebCore/css/CSSGridAutoRepeatValue.cpp
  Source/WebCore/css/CSSPrimitiveValue.cpp
  Source/WebCore/css/CSSStyleDeclaration.cpp
  Source/WebCore/css/CSSValuePool.cpp
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/DOMCSSNamespace.cpp
  Source/WebCore/css/PropertySetCSSStyleDeclaration.cpp
  Source/WebCore/css/PropertySetCSSStyleDeclaration.h
  Source/WebCore/css/StyleColor.cpp
  Source/WebCore/css/StyleProperties.cpp
  Source/WebCore/css/makeprop.pl
  Source/WebCore/css/makevalues.pl
  Source/WebCore/css/parser/CSSParserFastPaths.cpp
  Source/WebCore/css/parser/CSSParserImpl.cpp
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/css/typedom/ComputedStylePropertyMapReadOnly.cpp
  Source/WebCore/css/typedom/MainThreadStylePropertyMapReadOnly.cpp
  Source/WebCore/css/typedom/StylePropertyMap.cpp
  Source/WebCore/dom/Document.cpp
  Source/WebCore/html/CustomPaintImage.cpp
  Source/WebCore/inspector/InspectorStyleSheet.cpp
  Source/WebCore/inspector/agents/InspectorAnimationAgent.cpp
  Source/WebCore/inspector/agents/InspectorCSSAgent.cpp
  Source/WebCore/page/CaptionUserPreferencesMediaAF.cpp
  Source/WebCore/platform/HashTools.h
  Source/WebCore/platform/animation/Animation.cpp
  Source/WebCore/rendering/style/RenderStyleConstants.cpp
  Source/WebCore/style/PropertyCascade.cpp
  Source/WebCore/style/StyleBuilderCustom.h
Labels: merge-queue, CSS

#5854 [MSE] Bring back some useful SourceBuffer logs
  Source/WebCore/Modules/mediasource/SourceBuffer.cpp
Labels: Media, WebKit Nightly Build

#5998 [GStreamer][WebRTC] Media rendering improvements
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.h
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingAudioSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingVideoSourceGStreamer.cpp
Labels: merge-queue, Platform, WebKit Nightly Build

#6021 Add temporary backdrop workaround for fullscreen elements
  Source/WebCore/css/CSSSelector.cpp
  Source/WebCore/css/CSSSelector.h
  Source/WebCore/css/SelectorChecker.cpp
  Source/WebCore/css/SelectorCheckerTestFunctions.h
  Source/WebCore/css/SelectorPseudoClassAndCompatibilityElementMap.in
  Source/WebCore/css/fullscreen.css
  Source/WebCore/cssjit/SelectorCompiler.cpp
  Source/WebCore/rendering/updating/RenderTreeUpdaterGeneratedContent.cpp
Labels: CSS, WebKit Nightly Build

#6034 Undo unrelated change that added an unneeded include
  Source/WebCore/rendering/updating/RenderTreeUpdaterGeneratedContent.cpp
Labels: unsafe-merge-queue, CSS, WebKit Nightly Build

#5888 Implement input validation for CSSColorValues
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/resources/testhelper.js
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssHSL-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssHSL.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssHWB-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssHWB.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssLCH-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssLCH.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssLab-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssLab.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssOKLCH-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssOKLCH.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssOKLab-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssOKLab.html
  Source/WebCore/css/typedom/color/CSSColorValue.cpp
  Source/WebCore/css/typedom/color/CSSColorValue.h
  Source/WebCore/css/typedom/color/CSSHSL.cpp
  Source/WebCore/css/typedom/color/CSSHSL.h
  Source/WebCore/css/typedom/color/CSSHWB.cpp
  Source/WebCore/css/typedom/color/CSSHWB.h
  Source/WebCore/css/typedom/color/CSSLCH.cpp
  Source/WebCore/css/typedom/color/CSSLCH.h
  Source/WebCore/css/typedom/color/CSSLab.cpp
  Source/WebCore/css/typedom/color/CSSLab.h
  Source/WebCore/css/typedom/color/CSSOKLCH.cpp
  Source/WebCore/css/typedom/color/CSSOKLCH.h
  Source/WebCore/css/typedom/color/CSSOKLab.cpp
  Source/WebCore/css/typedom/color/CSSOKLab.h
  Source/WebCore/css/typedom/color/CSSRGB.h
Labels: CSS, WebKit Nightly Build

#5915 Align CSSOMVariableReferenceValue serialization with Blink
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-serialization/cssUnparsedValue-expected.txt
  Source/WebCore/css/typedom/CSSOMVariableReferenceValue.cpp
Labels: CSS, WebKit Nightly Build

#5933 [WK2] Further simplify ArgumentCoder decoding for std::tuple<>, std::array<>
  Source/WebKit/Platform/IPC/ArgumentCoders.h
Labels: WebKit2, WebKit Nightly Build

#6031 [GTK] Handle files being disallowed in DragDataGtk after 254380@main
  Source/WebCore/platform/gtk/DragDataGtk.cpp
Labels: merge-queue, WebKitGTK, WebKit Nightly Build

#6033 Missing undef MESSAGE_CHECK in WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.cpp
Labels: merge-queue, New Bugs, WebKit Nightly Build

#6017 module loader fetch should queue macro-task
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/scripting-1/the-script-element/module/dynamic-import/delay-load-event-expected.txt
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/bindings/js/ScriptModuleLoader.cpp
Labels: unsafe-merge-queue, New Bugs, Other

#5974 Use sandbox API to set sandbox state variable
  Source/WebKit/Scripts/process-entitlements.sh
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Labels: merge-queue, WebKit Misc.

#6024 Add Harrison Weinerman to contributors.json
  metadata/contributors.json
Labels: unsafe-merge-queue

#5948 Clear floats added dynamically to previous siblings
  LayoutTests/fast/block/margin-collapse/clear-dynamically-added-float-expected.txt
  LayoutTests/fast/block/margin-collapse/clear-dynamically-added-float.html
  Source/WebCore/rendering/RenderBlockFlow.cpp
Labels: merge-queue, Layout and Rendering, WebKit Nightly Build

#6020 Add a logging channel for debugging content extensions
  Source/WebCore/contentextensions/ContentExtensionActions.cpp
  Source/WebCore/platform/Logging.h
Labels: unsafe-merge-queue, WebCore Misc., WebKit Nightly Build

#5939 Add Web Extension code generator scripts, bindings glue, and some IDL files.
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources-output.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Scripts/generate-derived-sources.sh
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIExtensionCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPINamespaceCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIRuntimeCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIExtension.h
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPINamespace.h
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIObject.h
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIRuntime.h
  Source/WebKit/WebProcess/Extensions/Bindings/Cocoa/JSWebExtensionWrapperCocoa.mm
  Source/WebKit/WebProcess/Extensions/Bindings/JSWebExtensionWrappable.h
  Source/WebKit/WebProcess/Extensions/Bindings/JSWebExtensionWrapper.cpp
  Source/WebKit/WebProcess/Extensions/Bindings/JSWebExtensionWrapper.h
  Source/WebKit/WebProcess/Extensions/Bindings/Scripts/CodeGeneratorExtensions.pm
  Source/WebKit/WebProcess/Extensions/Bindings/Scripts/IDLAttributes.json
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPIExtension.idl
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPINamespace.idl
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPIRuntime.idl
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebMessagePortChannelProvider.h
  Source/WebKit/WebProcess/WebPage/WebFoundTextRangeController.cpp
Labels: unsafe-merge-queue, WebKit Local Build, WebKit Extensions

#5988 Strength reduction analyzes RegEx.exec incorrectly and generate a hole for the result array
  JSTests/stress/regexp-strengthreduce-results-noholes.js
  Source/JavaScriptCore/dfg/DFGStrengthReductionPhase.cpp
Labels: merge-queue, JavaScriptCore, WebKit Local Build

#5786 [Wasm-GC] Add support for subtyping declarations
  JSTests/wasm/gc/sub.js
  JSTests/wasm/wasm.json
  Source/JavaScriptCore/wasm/WasmFormat.h
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmLimits.h
  Source/JavaScriptCore/wasm/WasmSectionParser.cpp
  Source/JavaScriptCore/wasm/WasmSectionParser.h
  Source/JavaScriptCore/wasm/WasmTypeDefinition.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.h
  Source/JavaScriptCore/wasm/js/JSWebAssemblyStruct.cpp
  Source/JavaScriptCore/wasm/js/WasmToJS.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyModuleRecord.cpp
  Source/JavaScriptCore/wasm/wasm.json
Labels: merge-queue, WebAssembly, WebKit Nightly Build

#6042 [JSC] Fix Clang build fails with -Wcast-align in ZycoreList.c
  Source/JavaScriptCore/disassembler/zydis/Zydis/ZycoreList.c
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#6043 REGRESSION: 4 PiP API tests consistently failing on Big Sur EWS
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ExitFullscreenOnEnterPiP.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebViewCloseAllMediaPresentations.mm
Labels: unsafe-merge-queue, Tools / Tests, Other

#6052 Remove flaky painting api test.
  LayoutTests/fast/css-custom-paint/animate-repaint-expected.txt
  LayoutTests/fast/css-custom-paint/animate-repaint.html
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#6039 Typo error in RenderLayerCompositor::destroyRootLayer() for Horizontal Scrollbar
  Source/WebCore/rendering/RenderLayerCompositor.cpp
Labels: merge-queue, Layout and Rendering, WebKit Nightly Build

#6022 Use OptionSet for WebCore::PaintPhase in layer based SVG engine
  Source/WebCore/rendering/PaintPhase.h
  Source/WebCore/rendering/RenderLayerModelObject.cpp
  Source/WebCore/rendering/RenderLayerModelObject.h
  Source/WebCore/rendering/svg/RenderSVGContainer.cpp
  Source/WebCore/rendering/svg/RenderSVGImage.cpp
  Source/WebCore/rendering/svg/RenderSVGShape.cpp
  Source/WebCore/rendering/svg/RenderSVGText.cpp
Labels: merge-queue, Layout and Rendering, WebKit Nightly Build

#6055 [Build Fix] Replace Deprecated macros with direct calls.
  Tools/MobileMiniBrowser/MobileMiniBrowserUITests/MobileMiniBrowserUITests.m
Labels: unsafe-merge-queue

#6056 [Gardening]: New Tests(255047@main): [ iOS macOS ] 3X imported/w3c/web-platform-tests/feature-policy/(Layout tests) are constantly failing
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/feature-policy/reporting/picture-in-picture-reporting-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/feature-policy/experimental-features/vertical-scroll-scrollintoview.tentative-expected.txt
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#5883 Rendering artifacts when presenting fullscreen video
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
Labels: merge-queue, New Bugs, Other

#6049 MobileMiniBrowser should accept the '--url' command line argument
  Tools/MobileMiniBrowser/MobileMiniBrowserFramework/WebViewController.m
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#6057 Add missing Mac platform check in sandbox
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Labels: unsafe-merge-queue, WebKit Misc.

#6054 Crash in gamepads in WKWebView apps that also listen to the GameController framework themselves
  Source/WebKit/UIProcess/Gamepad/UIGamepadProvider.cpp
Labels: merge-queue, WebKit Misc.

#5987 Don't apply aspect ratio scaling to gradient background images that don't have a natural aspect ratio
  LayoutTests/TestExpectations
  LayoutTests/css3/masking/mask-luminance-gradient-expected.html
  LayoutTests/css3/masking/mask-luminance-gradient.html
  Source/WebCore/display/css/DisplayFillLayerImageGeometry.cpp
  Source/WebCore/rendering/BackgroundPainter.cpp
  Source/WebCore/rendering/RenderBoxModelObject.cpp
  Source/WebCore/rendering/style/StyleGeneratedImage.h
  Source/WebCore/rendering/style/StyleImage.h
Labels: merge-queue, Layout and Rendering, WebKit Nightly Build

#6010 Support modules for web extension service workers.
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtension.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionPrivate.h
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtension.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ServiceWorkerBasic.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtension.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionController.mm
Labels: unsafe-merge-queue

#6060 Hide more standard library exports
  Source/JavaScriptCore/Configurations/JavaScriptCore.xcconfig
Labels: unsafe-merge-queue, JavaScriptCore, WebKit Local Build

#6045 [Content Extensions] QueryTransforms should not unconditionally redirect to form-encoded URLs
  Source/WebCore/contentextensions/ContentExtensionActions.cpp
  Tools/TestWebKitAPI/Tests/WebCore/ContentExtensions.cpp
Labels: merge-queue, Platform, WebKit Nightly Build

#6059 Turn ENABLE_LAYER_BASED_SVG_ENGINE ON for PlayStation
  Source/cmake/OptionsPlayStation.cmake
Labels: merge-queue, CMake, WebKit Nightly Build

#6046 JetStream2 driver should be able to specify individual subtests/test groups to run
  PerformanceTests/JetStream2/JetStreamDriver.js
  PerformanceTests/JetStream3/JetStreamDriver.js
Labels: merge-queue, Tools / Tests, Other

#6070 Initially allow syscall mach in sandbox v2
  Source/WebKit/Shared/Sandbox/macOS/common.sb
Labels: unsafe-merge-queue, WebKit Misc.

#5980 Punycode all IPA extensions code points in URLs
  Source/WTF/wtf/URLHelpers.cpp
  Tools/TestWebKitAPI/Tests/WTF/cocoa/URLExtras.mm
Labels: unsafe-merge-queue, WebKit Misc., WebKit Local Build

#6076 Fix internal build after rdar://100429656
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
Labels: unsafe-merge-queue, WebKit API, WebKit Local Build

#6071 Use std::clamp() in PropertyWrapperFontWeight instead of std::min/max
  Source/WebCore/animation/CSSPropertyAnimation.cpp
Labels: merge-queue, Animations, WebKit Nightly Build

#5897 Remove webrtc::copyPixelBufferInI420Buffer
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.iOS.exp
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.iOSsim.exp
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.mac.exp
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/WebKit/WebKitUtilities.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/WebKit/WebKitUtilities.mm
Labels: Media, WebKit Nightly Build

#6072 Remove dead code in never enabled ENABLE(CSS_TRAILING_WORD) blocks
  Source/WebCore/css/CSSPrimitiveValueMappings.h
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/parser/CSSParserFastPaths.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/RenderStyleConstants.h
Labels: merge-queue, WebKit Misc., WebKit Local Build

#6081 Web Inspector: Regression(256223@main) Assertion in LayoutTests/inspector/css/getSupportedCSSProperties.html at WebCore::CSSProperty::isInheritedProperty
  Source/WebCore/css/makeprop.pl
Labels: unsafe-merge-queue, Web Inspector, WebKit Nightly Build

#5978 Punycode U+0E01 when in the context of non-Thai characters
  LayoutTests/fast/encoding/idn-security-expected.txt
  LayoutTests/fast/encoding/idn-security.html
  Source/WTF/wtf/URLHelpers.cpp
  Tools/TestWebKitAPI/Tests/WTF/cocoa/URLExtras.mm
Labels: WebKit Misc., WebKit Local Build

#6088 Unreviewed, change my email and watchlist and etc.
  .github/CODEOWNERS
  metadata/contributors.json
Labels: unsafe-merge-queue

#6086 [Flatpak SDK] Update FDO junction for openssl new version
  Tools/buildstream/elements/freedesktop-sdk.bst
Labels: unsafe-merge-queue, Platform, WebKit Nightly Build

#6063 REGRESSION (255095@main): [iOS] 'caret-color: auto' displays a black caret color
  LayoutTests/editing/caret/ios/caret-color-auto-expected.txt
  LayoutTests/editing/caret/ios/caret-color-auto.html
  LayoutTests/editing/caret/ios/caret-color-currentcolor-expected.txt
  LayoutTests/editing/caret/ios/caret-color-currentcolor.html
  Source/WebCore/editing/FrameSelection.cpp
Labels: merge-queue, HTML Editing, Other

#6051 Fix -Wformat errors in logs added in 256087@main
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/Platform/IPC/Connection.h
Labels: merge-queue, Platform, WebKit Nightly Build

#6087 [GStreamer] Bump minimum version requirement to 1.16.2
  Source/WebCore/Modules/webaudio/MediaStreamAudioSourceGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/GLVideoSinkGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/eme/GStreamerEMEUtilities.h
  Source/WebCore/platform/graphics/gstreamer/eme/WebKitCommonEncryptionDecryptorGStreamer.cpp
  Source/cmake/GStreamerChecks.cmake
Labels: merge-queue, Platform

#6002 [WASM-Function-References] Change call_ref to take a type index
  JSTests/wasm/funcref-spec-harness.js
  JSTests/wasm/funcref-spec-harness/async_index.js
  JSTests/wasm/funcref-spec-harness/sync_index.js
  JSTests/wasm/function-references-spec-tests/call-null-ref.wast.js
  JSTests/wasm/function-references-spec-tests/call_ref.wast.js
  JSTests/wasm/function-references/call_ref.js
  JSTests/wasm/gc/rec.js
  JSTests/wasm/gc/wast.js
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Tools/Scripts/run-jsc-stress-tests
Labels: merge-queue, WebAssembly, WebKit Nightly Build

#6077 Assertion failure in TreeScopeOrderedMap::add by TreeScope::addElementByName
  LayoutTests/fast/dom/move-element-with-empty-name-crash-expected.txt
  LayoutTests/fast/dom/move-element-with-empty-name-crash.html
  Source/WebCore/dom/Element.cpp
Labels: merge-queue, DOM, WebKit Nightly Build

#6089 Add remaining sandbox rules implicitly allowed in v1
  Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in
  Source/WebKit/Shared/Sandbox/macOS/common.sb
Labels: unsafe-merge-queue, WebKit Misc.

#6038 [GPUP][x64] Add sandbox access to accelerated graphics
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
Labels: unsafe-merge-queue, WebKit Misc.

#6095 MiniBrowser should accept the '--url' command line argument
  Tools/MiniBrowser/mac/AppDelegate.m
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#6050 Add helper function to match identifiers and return a corresponding enum mapped enum value for CSS property parser
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
Labels: merge-queue, CSS, WebKit Local Build

#5955 Fix Mach lookup sandbox violation
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Labels: unsafe-merge-queue, WebKit Misc.

#6094 Add functions for generating random unsigned integers
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/WTF/wtf/RandomNumber.cpp
  Source/WTF/wtf/RandomNumber.h
  Source/WebCore/platform/network/FormDataBuilder.cpp
  Source/WebCore/style/RuleSetBuilder.cpp
  Source/WebKit/Platform/IPC/win/ConnectionWin.cpp
  Source/WebKit/Platform/unix/SharedMemoryUnix.cpp
Labels: merge-queue, WebKit Nightly Build

#6084 Change MDM keys for ResourceLoadStatistics relaxation
  Source/WebCore/PAL/pal/spi/ios/ManagedConfigurationSPI.h
  Source/WebKit/UIProcess/WebsiteData/Cocoa/WebsiteDataStoreCocoa.mm
Labels: merge-queue, WebKit Misc., WebKit Nightly Build

#6100 [iOS][GPUP] Add sandbox access to media parser service
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.GPU.sb.in
Labels: merge-queue, WebKit Misc.

#5962 REGRESSION(255205@main): [ macOS iOS Release ] 4X http/wpt/webauthn/public-key-credential(Layout tests) are constant crashes
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#6097 Assertion failure in RenderView::decrementRendersWithOutline
  LayoutTests/fast/css/outline-display-table-crash-expected.txt
  LayoutTests/fast/css/outline-display-table-crash.html
  Source/WebCore/rendering/RenderElement.cpp
Labels: merge-queue, Layout and Rendering, WebKit Nightly Build

#5984 WebPermissionControllerProxy::Query message reply should go to correct completion handler
  Source/WebKit/WebProcess/WebCoreSupport/WebPermissionController.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebPermissionController.h
Labels: unsafe-merge-queue, WebKit Misc., WebKit Local Build

#5950 Use device pixel scaled backing store for <canvas> with image-rendering: pixelated.
  LayoutTests/platform/ios-wk2/TestExpectations
  Source/WebCore/rendering/RenderLayerBacking.cpp
  Source/WebCore/rendering/RenderLayerCompositor.cpp
Labels: merge-queue, Layout and Rendering, WebKit Nightly Build

#6104 Added Abigail Fox as a contributor, affiliated with Apple
  metadata/contributors.json
Labels: unsafe-merge-queue

#6103 Unconditionally add runningboard entitlement on macOS 13
  Source/WebKit/Scripts/process-entitlements.sh
Labels: merge-queue, New Bugs, WebKit Nightly Build

#6106 Fix unused function warnings when ENABLE(CSS_CONIC_GRADIENTS) is OFF
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
Labels: merge-queue, CSS, WebKit Nightly Build

#6105 Remove unused field in TextureMapperGL
  Source/WebCore/platform/graphics/texmap/TextureMapperGL.h
Labels: merge-queue, Platform, WebKit Nightly Build

#6109 JetStream driver should ignore references to URL parameters when run in `jsc` shell
  PerformanceTests/JetStream2/JetStreamDriver.js
  PerformanceTests/JetStream3/JetStreamDriver.js
Labels: merge-queue, Tools / Tests, Other

#6115 Revert [256301@main] Unconditionally add runningboard entitlement on macOS 13
  Source/WebKit/Scripts/process-entitlements.sh
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#6108 Fix warnings in WPEToolingBackends for PlayStation
  Tools/wpe/backends/ViewBackend.cpp
  Tools/wpe/backends/playstation/HeadlessViewBackendPlayStation.cpp
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#6110 Fix warnings in TestWebKitAPI
  Tools/TestWebKitAPI/CMakeLists.txt
  Tools/TestWebKitAPI/Tests/WebCore/IntSizeTests.cpp
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#6116 Rename randomNumber to cryptographicallyRandomUnitInterval
  Source/WTF/wtf/RandomNumber.cpp
  Source/WTF/wtf/RandomNumber.h
  Source/WebCore/Modules/cache/CacheStorageConnection.cpp
  Source/WebCore/Modules/mediastream/MediaDevices.cpp
  Source/WebCore/loader/PrivateClickMeasurement.cpp
  Source/WebCore/page/DOMTimer.cpp
  Source/WebCore/page/DiagnosticLoggingClient.h
  Source/WebKit/NetworkProcess/cache/NetworkCacheStorage.cpp
  Source/WebKit/UIProcess/UserMediaPermissionRequestManagerProxy.cpp
  Tools/TestWebKitAPI/Tests/WTF/BloomFilter.cpp
  Tools/TestWebKitAPI/Tests/WTF/StdLibExtras.cpp
Labels: merge-queue, WebKit Nightly Build

#6111 [JSC] Use bit flags for ArrayProfile additional information to easily extend them
  Source/JavaScriptCore/bytecode/AccessCase.cpp
  Source/JavaScriptCore/bytecode/ArrayProfile.cpp
  Source/JavaScriptCore/bytecode/ArrayProfile.h
  Source/JavaScriptCore/llint/LowLevelInterpreter.asm
  Source/JavaScriptCore/llint/LowLevelInterpreter32_64.asm
  Source/JavaScriptCore/llint/LowLevelInterpreter64.asm
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#6122 Re-land 255499@main
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Shared/SessionState.cpp
  Source/WebKit/Shared/SessionState.h
  Source/WebKit/Shared/SessionState.serialization.in
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.h
  Source/WebKit/UIProcess/API/glib/WebKitWebViewSessionState.cpp
  Source/WebKit/UIProcess/mac/LegacySessionStateCoding.cpp
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebCoreSupport/SessionStateConversion.cpp
Labels: merge-queue, WebKit Misc., WebKit Local Build

#6126 Fix duplicated name in class static block
  JSTests/stress/class-static-block.js
  Source/JavaScriptCore/parser/Parser.cpp
Labels: merge-queue, JavaScriptCore, WebKit Local Build

#6124 [JSC] Fix uDFG watchpoint condition
  Source/JavaScriptCore/dfg/DFGGraph.h
Labels: unsafe-merge-queue, JavaScriptCore, WebKit Nightly Build

#6121 Custom content extension load blocking console message should not surface as a resource load error
  Source/WebCore/loader/cache/CachedResourceLoader.cpp
Labels: merge-queue, Platform, WebKit Nightly Build

#6127 JSTests/stress/array-isarray-error-message.js fails when run with --useJIT=0.
  Source/JavaScriptCore/runtime/ArrayConstructor.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.h
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#6019 Positioned element with percentage padding should recalc width when containing block changed
  LayoutTests/fast/block/absolute-position-change-width-with-inline-container-expected.html
  LayoutTests/fast/block/absolute-position-change-width-with-inline-container.html
  LayoutTests/fast/block/containing-block-change-percentage-padding-width-recalc-expected.html
  LayoutTests/fast/block/containing-block-change-percentage-padding-width-recalc.html
  Source/WebCore/rendering/RenderBlock.cpp
Labels: merge-queue, Layout and Rendering, WebKit Nightly Build

#6080 [content-visibility] Fix content-visibility-canvas.html
  LayoutTests/TestExpectations
  Source/WebCore/rendering/RenderReplaced.cpp
Labels: merge-queue, CSS, Safari 15, request-merge-queue

#6044 [MSE] Bring back some useful SourceBuffer logs
  Source/WebCore/Modules/mediasource/SourceBuffer.cpp
  Source/WebCore/platform/graphics/PlatformTimeRanges.cpp
  Source/WebCore/platform/graphics/PlatformTimeRanges.h
Labels: Media, WebKit Nightly Build

#5891 imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any.html tests are failing on arm64
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-encoder-utils.js
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: Media, WebKit Nightly Build

#6078 Explicitly close a document RTCNetworkManager on document teardown
  Source/WebCore/Modules/mediastream/RTCNetworkManager.h
  Source/WebCore/dom/Document.cpp
  Source/WebKit/WebProcess/Network/webrtc/LibWebRTCNetworkManager.cpp
  Source/WebKit/WebProcess/Network/webrtc/LibWebRTCNetworkManager.h
Labels: merge-queue, WebRTC, WebKit Nightly Build

#5982 REGRESSION?(255635@main): [ iOS ] media/video-object-fit.html is a constant failure
  LayoutTests/media/video-object-fit.html
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/platform/graphics/avfoundation/MediaPlayerPrivateAVFoundation.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.messages.in
  Source/WebKit/GPUProcess/media/cocoa/RemoteMediaPlayerProxyCocoa.mm
  Source/WebKit/GPUProcess/media/gstreamer/RemoteMediaPlayerProxyGStreamer.cpp
  Source/WebKit/GPUProcess/media/playstation/RemoteMediaPlayerProxyPlayStation.cpp
  Source/WebKit/GPUProcess/media/win/RemoteMediaPlayerProxyWin.cpp
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.h
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.messages.in
  Source/WebKit/WebProcess/GPU/media/cocoa/MediaPlayerPrivateRemoteCocoa.mm
Labels: New Bugs, WebKit Nightly Build

#6117 REGRESSION(255229@main): Do not restore selection when changing input types
  LayoutTests/fast/forms/change-input-type-during-setSelectionRange-crash-expected.txt
  LayoutTests/fast/forms/change-input-type-during-setSelectionRange-crash.html
  Source/WebCore/html/TextFieldInputType.cpp
  Source/WebCore/html/TextFieldInputType.h
Labels: unsafe-merge-queue, DOM, WebKit Nightly Build

#6090 REGRESSION (iOS 16): <optgroup> labels are duplicated
  Source/WebKit/UIProcess/ios/forms/WKFormSelectPicker.mm
Labels: merge-queue, Forms, Other

#5985 REGRESSION(254597@main): [ macOS wk1 Debug ] 4X imported/w3c/web-platform-tests/upgrade-insecure-requests/gen/worker-classic.http-rp/upgrade/(Layout tests) are flakily crashing
  LayoutTests/platform/mac-wk1/TestExpectations
  Source/WebCore/workers/WorkerMessagingProxy.cpp
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#6125 Generate remaining simple argument coders
  Source/WebCore/platform/graphics/displaylists/DisplayListItems.h
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.cpp
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.h
  Source/WebKit/Scripts/webkit/tests/SerializedTypeInfo.cpp
  Source/WebKit/Scripts/webkit/tests/TestSerializedType.serialization.in
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Labels: unsafe-merge-queue, WebKit Misc., WebKit Local Build

#6136 Followup to 256313@main
  Source/WebCore/loader/cache/CachedResourceLoader.cpp
Labels: merge-queue, Platform, WebKit Nightly Build

#6112 WKWebView _loadHTMLString needs to add an allowed first party for cookies
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SchemeRegistry.mm
Labels: unsafe-merge-queue, WebKit Process Model, WebKit Local Build

#6107 Punycode Arabic diacritics when not preceded by an Arabic code point in a URL host
  Source/WTF/wtf/URLHelpers.cpp
  Tools/TestWebKitAPI/Tests/WTF/cocoa/URLExtras.mm
Labels: merge-queue, WebKit Misc., WebKit Local Build

#6145 [ New Test ] (256112@main): ASSERTION FAILED: isValidIdentifier(m_identifier)
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#6058 WebDriver: [Cocoa] Regression(255359@main) Exception when deleting remote automation session
  Source/WebKit/UIProcess/mac/WebViewImpl.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
Labels: unsafe-merge-queue, Web Inspector, WebKit Nightly Build

#3209 Rebuild SVGResources when relevant style property changes even with StyleDifference::Equal
  LayoutTests/TestExpectations
  LayoutTests/platform/mac-monterey-wk2-lbse-text/TestExpectations
  Source/WebCore/rendering/svg/SVGResourcesCache.cpp
Labels: SVG, WebKit Nightly Build

#6135 Unblock open source macOS 13 testers by disabling runningboard on open source builds
  Source/WTF/wtf/PlatformUse.h
Labels: merge-queue, New Bugs, WebKit Nightly Build

#6102 [git-webkit] Improve logging when automatically determining target remote
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
Labels: unsafe-merge-queue, Tools / Tests, Other

#6142 Fix IntlDateTimeFormat misspells
  JSTests/stress/intl-date-time-format-error-message.js
  Source/JavaScriptCore/runtime/IntlDateTimeFormat.cpp
Labels: merge-queue, JavaScriptCore

#6150 Rebaseline interaction-region tests
  LayoutTests/interaction-region/click-handler-expected.txt
  LayoutTests/interaction-region/click-handler-in-shadowed-layer-expected.txt
  LayoutTests/interaction-region/inline-link-dark-background-expected.txt
  LayoutTests/interaction-region/inline-link-expected.txt
  LayoutTests/interaction-region/inline-link-in-composited-iframe-expected.txt
  LayoutTests/interaction-region/inline-link-in-layer-expected.txt
  LayoutTests/interaction-region/inline-link-in-non-composited-iframe-expected.txt
  LayoutTests/interaction-region/paused-video-regions-expected.txt
  LayoutTests/interaction-region/split-inline-link-expected.txt
  LayoutTests/interaction-region/wrapped-inline-link-expected.txt
Labels: unsafe-merge-queue, WebKit Misc., WebKit Local Build

#6099 MessagePort is unexpectedly GC'ed after activity absence
  LayoutTests/fast/events/message-port-gc-after-closing-expected.txt
  LayoutTests/fast/events/message-port-gc-after-closing.html
  LayoutTests/fast/events/message-port-gc-after-removing-event-listener-expected.txt
  LayoutTests/fast/events/message-port-gc-after-removing-event-listener.html
  LayoutTests/fast/events/resources/message-port-gc-worker.js
  LayoutTests/http/tests/messaging/messageport-gc-after-xhr-expected.txt
  LayoutTests/http/tests/messaging/messageport-gc-after-xhr.html
  LayoutTests/http/tests/messaging/resources/messageport-pong-after-xhr.html
  Source/WebCore/dom/MessagePort.cpp
  Source/WebCore/dom/MessagePort.h
  Source/WebCore/dom/MessagePort.idl
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
Labels: merge-queue, WebCore JavaScript, WebKit Nightly Build

#6151 [MobileMiniBrowser] Add a close button to the Settings modal.
  Tools/MobileMiniBrowser/MobileMiniBrowserFramework/Base.lproj/Main.storyboard
  Tools/MobileMiniBrowser/MobileMiniBrowserFramework/SettingsViewController.h
  Tools/MobileMiniBrowser/MobileMiniBrowserFramework/SettingsViewController.m
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#6113 Added more information to Gamepad IPC crashes
  Source/WebKit/WebProcess/Gamepad/WebGamepadProvider.cpp
Labels: merge-queue, WebKit2, Other

#6146 Bug 247500: DumpRenderTree: Ignore deprecation warnings for _UIApplicationLoadWebKit()
  Tools/DumpRenderTree/mac/DumpRenderTree.mm
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#6134 [ews-build.webkit.org] Add Python hooks for results.webkit.org results-summary endpoint
  Tools/CISupport/ews-build/results_db.py
Labels: merge-queue, Tools / Tests, Other

#5724 [WebXR] Use typed GL object helpers
  Source/WebCore/Modules/webxr/WebXROpaqueFramebuffer.cpp
  Source/WebCore/Modules/webxr/WebXROpaqueFramebuffer.h
  Source/WebCore/platform/graphics/GraphicsContextGL.h
  Source/WebCore/platform/graphics/GraphicsTypesGL.h
Labels: WebXR, Other

#6101 The second pointerdown/touchstart event is missing on double-tap gesture
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Labels: merge-queue, UI Events

#6165 Add Web Extension code generator scripts, bindings glue, and some IDL files.
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources-output.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Scripts/generate-derived-sources.sh
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIExtensionCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPINamespaceCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIRuntimeCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIExtension.h
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPINamespace.h
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIObject.h
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIRuntime.h
  Source/WebKit/WebProcess/Extensions/Bindings/Cocoa/JSWebExtensionWrapperCocoa.mm
  Source/WebKit/WebProcess/Extensions/Bindings/JSWebExtensionWrappable.h
  Source/WebKit/WebProcess/Extensions/Bindings/JSWebExtensionWrapper.cpp
  Source/WebKit/WebProcess/Extensions/Bindings/JSWebExtensionWrapper.h
  Source/WebKit/WebProcess/Extensions/Bindings/Scripts/CodeGeneratorExtensions.pm
  Source/WebKit/WebProcess/Extensions/Bindings/Scripts/IDLAttributes.json
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPIExtension.idl
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPINamespace.idl
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPIRuntime.idl
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebMessagePortChannelProvider.h
  Source/WebKit/WebProcess/WebPage/WebFoundTextRangeController.cpp
  Tools/Scripts/webkitpy/generate_xcfilelists_lib/generators.py
Labels: unsafe-merge-queue, WebKit Local Build, WebKit Extensions

#6139 [Cocoa] Adopt AVContentKeySession compatibility mode APIs
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.mm
  Source/WebCore/PAL/pal/spi/cocoa/AVFoundationSPI.h
  Source/WebCore/platform/graphics/avfoundation/objc/CDMInstanceFairPlayStreamingAVFObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.mm
Labels: merge-queue, Media, Other

#6006 CRASH: Assertion in WPT /webvtt/rendering/cues-with-video/processing-model/regions/viewportanchor_y_50_percent.html
  Source/WebCore/html/HTMLMediaElement.cpp
Labels: Media, Other

#6172 [Cocoa] Adopt AVContentKeySession compatibility mode APIs
  Source/WebCore/PAL/pal/spi/cocoa/AVFoundationSPI.h
Labels: unsafe-merge-queue, Media, Other

#6154 CORS issue when doing fetch requests from a background service worker in safari web extension
  Source/WebCore/page/Page.h
  Source/WebKit/WebProcess/Storage/WebSWContextManagerConnection.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ServiceWorkerBasic.mm
Labels: unsafe-merge-queue, Service Workers, WebKit Nightly Build

#6156 REGRESSION (252960@main): [ iOS ] Four imported/w3c/web-platform-tests/html/cross-origin-opener-policy tests are a consistent/flaky failure
  LayoutTests/TestExpectations
  LayoutTests/platform/ios/TestExpectations
Labels: merge-queue, New Bugs, WebKit Nightly Build

#6062 IOSurface size limit in the web content process is too small, only 1024x1024
  Source/WebCore/platform/graphics/IntSize.h
  Source/WebCore/platform/graphics/cocoa/IOSurface.mm
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Labels: merge-queue, Layout and Rendering, WebKit Nightly Build

#5927 WebKit should not depend on CA's implicit auto-upgrade to extendedSRGB
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStoreCollection.mm
Labels: merge-queue, WebKit Misc., WebKit Local Build

#6176 Fix some style mishaps in MiniBrowser
  Tools/MiniBrowser/mac/BrowserWindowController.m
  Tools/MiniBrowser/mac/ExtensionManagerWindowController.m
  Tools/MiniBrowser/mac/WK2BrowserWindowController.m
Labels: merge-queue, Tools / Tests, WebKit Local Build

#6177 Add Networking process pid to MiniBrowser title
  Tools/MiniBrowser/mac/WK2BrowserWindowController.m
Labels: merge-queue, Tools / Tests, WebKit Local Build

#6175 Unconditionally adopt SF Symbols in MiniBrowser
  Tools/MiniBrowser/mac/BrowserWindow.xib
  Tools/MiniBrowser/mac/BrowserWindowController.m
  Tools/MiniBrowser/mac/WK2BrowserWindowController.m
Labels: merge-queue, Tools / Tests, WebKit Local Build
