Repository WebKit/WebKit, pull requests merged in 2022-12, with the labels that each got.

#6147 [SIMD] Skip LLInt for SIMD functions.
  JSTests/wasm/v8/exceptions-simd.js
  JSTests/wasm/v8/multi-value-simd.js
  JSTests/wasm/v8/simd-errors.js
  Source/JavaScriptCore/assembler/JITOperationList.cpp
  Source/JavaScriptCore/bytecode/BytecodeList.rb
  Source/JavaScriptCore/llint/LLIntThunks.cpp
  Source/JavaScriptCore/llint/LLIntThunks.h
  Source/JavaScriptCore/llint/LowLevelInterpreter.asm
  Source/JavaScriptCore/llint/WebAssembly.asm
  Source/JavaScriptCore/offlineasm/arm64.rb
  Source/JavaScriptCore/offlineasm/instructions.rb
  Source/JavaScriptCore/offlineasm/risc.rb
  Source/JavaScriptCore/offlineasm/x86.rb
  Source/JavaScriptCore/runtime/Options.cpp
  Source/JavaScriptCore/wasm/WasmAirIRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmCallee.h
  Source/JavaScriptCore/wasm/WasmFormat.h
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmLLIntPlan.cpp
  Source/JavaScriptCore/wasm/WasmModuleInformation.h
  Source/JavaScriptCore/wasm/WasmOperations.cpp
  Source/JavaScriptCore/wasm/WasmSectionParser.cpp
  Source/JavaScriptCore/wasm/WasmSlowPaths.cpp
  Source/JavaScriptCore/wasm/WasmSlowPaths.h
  Source/JavaScriptCore/wasm/WasmTypeDefinition.h
Labels: merge-queue, JavaScriptCore

#6932 Potential crash fix by bailing from DeleteSelectionCommand::doApply when selection isn't editable
  LayoutTests/editing/execCommand/delete-non-editable-range-crash-expected.txt
  LayoutTests/editing/execCommand/delete-non-editable-range-crash.html
  Source/WebCore/editing/DeleteSelectionCommand.cpp
Labels: merge-queue, HTML Editing

#6999 Spelling fix in StyleGridData.h
  Source/WebCore/rendering/style/StyleGridData.h
Labels: unsafe-merge-queue, WebCore Misc.

#6953 Keep `br` while replacing plain texts with content ending with newline
  LayoutTests/editing/pasteboard/paste-newline-in-all-selected-textarea-expected.txt
  LayoutTests/editing/pasteboard/paste-newline-in-all-selected-textarea.html
  Source/WebCore/editing/ReplaceSelectionCommand.cpp
Labels: merge-queue, HTML Editing

#7000 Show thumbnail when navigating to a USDZ file
  Source/WebKit/UIProcess/Cocoa/WKWebViewContentProviderRegistry.mm
  Source/WebKit/UIProcess/ios/WKUSDPreviewView.h
  Source/WebKit/UIProcess/ios/WKUSDPreviewView.mm
Labels: unsafe-merge-queue, WebKit Misc.

#6915 Fix constant timeouts in transition tests
  LayoutTests/TestExpectations
  LayoutTests/transitions/resources/transition-test-helpers.js
Labels: CSS

#6966 Textarea placeholder text does not disappear when inserting text without a user gesture
  LayoutTests/fast/forms/textarea/textarea-placeholder-visibility-3-expected.html
  LayoutTests/fast/forms/textarea/textarea-placeholder-visibility-3.html
  Source/WebCore/html/HTMLTextAreaElement.cpp
Labels: merge-queue, Forms

#6938 Plumb exposed unfilled area logging through RemoteScrollingTree for ScrollPerf
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingTree.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingTree.h
Labels: New Bugs

#6712 Enable UserActivation API in WebKit
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
Labels: WebKit Misc.

#6874 Fix handling of calculated values in CSSStyleValue.parse()
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/idlharness-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-normalization/transformvalue-normalization.tentative-expected.txt
  Source/WebCore/css/calc/CSSCalcValue.h
  Source/WebCore/css/typedom/CSSNumericValue.cpp
  Source/WebCore/css/typedom/CSSNumericValue.h
  Source/WebCore/css/typedom/CSSStyleValueFactory.cpp
Labels: merge-queue, CSS

#6979 Replace std::forward_like implementation with one without std::move
  Source/WTF/wtf/StdLibExtras.h
Labels: unsafe-merge-queue, WebKit Misc.

#6946 [run-benchmark] Error when running a plan with source type git_archive on a system with GNU tar
  Tools/Scripts/webkitpy/benchmark_runner/benchmark_builder.py
  Tools/Scripts/webkitpy/benchmark_runner/benchmark_runner.py
Labels: Tools / Tests

#6486 Keyboard smooth scrolling with spacebar doesn't rubber band at edges like iPad
  LayoutTests/fast/scrolling/mac/smooth-scroll-recursive-overflow-to-frame.html
  LayoutTests/fast/scrolling/mac/smooth-scroll-recursive-overflow-to-overflow.html
  Source/WebCore/platform/KeyboardScrollingAnimator.cpp
  Source/WebCore/platform/KeyboardScrollingAnimator.h
  Source/WebCore/platform/ScrollAnimationKeyboard.cpp
  Source/WebCore/platform/ScrollAnimationKeyboard.h
  Source/WebCore/platform/ScrollTypes.h
Labels: Scrolling

#6969 DumpRenderTree: dumpChildFramesAsText inconsistent with WTR
  Tools/DumpRenderTree/mac/DumpRenderTree.mm
  Tools/DumpRenderTree/win/DumpRenderTree.cpp
Labels: merge-queue, Tools / Tests

#6790 [WK2] Stop generating message-replies headers
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-output.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Platform/IPC/HandleMessage.h
  Source/WebKit/Scripts/generate-message-receiver.py
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/Scripts/webkit/tests/TestWithCVPixelBufferMessages.h
  Source/WebKit/Scripts/webkit/tests/TestWithCVPixelBufferMessagesReplies.h
  Source/WebKit/Scripts/webkit/tests/TestWithIfMessageMessages.h
  Source/WebKit/Scripts/webkit/tests/TestWithIfMessageMessagesReplies.h
  Source/WebKit/Scripts/webkit/tests/TestWithIfReceiverMessagesReplies.h
  Source/WebKit/Scripts/webkit/tests/TestWithImageDataMessages.h
  Source/WebKit/Scripts/webkit/tests/TestWithImageDataMessagesReplies.h
  Source/WebKit/Scripts/webkit/tests/TestWithLegacyReceiverMessages.h
  Source/WebKit/Scripts/webkit/tests/TestWithLegacyReceiverMessagesReplies.h
  Source/WebKit/Scripts/webkit/tests/TestWithSemaphoreMessages.h
  Source/WebKit/Scripts/webkit/tests/TestWithSemaphoreMessagesReplies.h
  Source/WebKit/Scripts/webkit/tests/TestWithStreamBatchedMessages.h
  Source/WebKit/Scripts/webkit/tests/TestWithStreamBatchedMessagesReplies.h
  Source/WebKit/Scripts/webkit/tests/TestWithStreamBufferMessages.h
  Source/WebKit/Scripts/webkit/tests/TestWithStreamBufferMessagesReplies.h
  Source/WebKit/Scripts/webkit/tests/TestWithStreamMessages.h
  Source/WebKit/Scripts/webkit/tests/TestWithStreamMessagesReplies.h
  Source/WebKit/Scripts/webkit/tests/TestWithSuperclassMessages.h
  Source/WebKit/Scripts/webkit/tests/TestWithSuperclassMessagesReplies.h
  Source/WebKit/Scripts/webkit/tests/TestWithoutAttributesMessages.h
  Source/WebKit/Scripts/webkit/tests/TestWithoutAttributesMessagesReplies.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: WebKit2

#7011 [ Gardening ] Batch mark expectations for Ventura test failures
  LayoutTests/platform/mac-gpup/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#6959 Follow-Up Fix for 256844@main REGRESSION(256180@main): Enabling accelerated drawing caused some ImageOnly Failures
  LayoutTests/fast/borders/border-painting-outset.html
Labels: unsafe-merge-queue, Tools / Tests

#6961 [GTK][WPE] Deprecate WebKitDOMDocument
  Source/WebKit/WebProcess/InjectedBundle/API/glib/DOM/WebKitDOMDocument.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/glib/WebKitWebEditor.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/glib/WebKitWebPage.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/glib/WebKitWebPage.h.in
  Source/WebKit/WebProcess/InjectedBundle/API/gtk/DOM/WebKitDOMDocument.h
  Source/WebKit/WebProcess/InjectedBundle/API/wpe/DOM/WebKitDOMDocument.h
  Tools/TestWebKitAPI/Tests/WebKitGLib/FrameTest.cpp
  Tools/TestWebKitAPI/Tests/WebKitGLib/WebExtensionTest.cpp
  Tools/TestWebKitAPI/Tests/WebKitGtk/AutocleanupsTest.cpp
Labels: unsafe-merge-queue, WebKitGTK

#5134 [iOS] Remove WebContent sandbox extensions for IOKit
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: WebKit Misc.

#6971 [MQ4] MediaQueryList API should use the new parser and evaluator
  LayoutTests/fast/media/matchmedium-query-api-expected.txt
  LayoutTests/fast/media/matchmedium-query-api.html
  LayoutTests/fast/media/media-query-list-01-expected.txt
  LayoutTests/fast/media/media-query-list-01.html
  LayoutTests/imported/w3c/web-platform-tests/css/mediaqueries/dynamic-range-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/mediaqueries/forced-colors-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/mediaqueries/navigation-controls.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/mediaqueries/prefers-color-scheme-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/mediaqueries/prefers-contrast-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/mediaqueries/prefers-reduced-data-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/mediaqueries/prefers-reduced-motion-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/mediaqueries/test_media_queries-expected.txt
  Source/WebCore/css/MediaQueryList.cpp
  Source/WebCore/css/MediaQueryList.h
  Source/WebCore/css/MediaQueryMatcher.cpp
  Source/WebCore/css/MediaQueryMatcher.h
  Source/WebCore/css/parser/CSSParserImpl.cpp
  Source/WebCore/css/query/GenericMediaQueryEvaluator.cpp
  Source/WebCore/css/query/GenericMediaQueryEvaluator.h
  Source/WebCore/css/query/MediaQueryFeatures.cpp
Labels: CSS

#6298 CoreIPC should be explicit about which methods can be called when WaitingForSyncReply
  LayoutTests/ipc/pasteboard-write-custom-data.html
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.messages.in
  Source/WebKit/GPUProcess/GPUProcess.messages.in
  Source/WebKit/GPUProcess/media/RemoteVideoFrameObjectHeap.messages.in
  Source/WebKit/NetworkProcess/NetworkProcess.messages.in
  Source/WebKit/Platform/IPC/Connection.cpp
  Source/WebKit/Platform/IPC/Decoder.cpp
  Source/WebKit/Platform/IPC/Decoder.h
  Source/WebKit/Platform/IPC/Encoder.cpp
  Source/WebKit/Platform/IPC/Encoder.h
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/Scripts/webkit/model.py
  Source/WebKit/Scripts/webkit/tests/MessageNames.cpp
  Source/WebKit/Scripts/webkit/tests/MessageNames.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/UIProcess/WebProcessProxy.messages.in
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
Labels: WebKit Process Model

#6855 Allow `auto` and `normal` as container-name
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/at-container-parsing-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/at-container-parsing.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/at-container-serialization-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/at-container-serialization.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/container-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/container-computed.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/container-for-shadow-dom-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/container-for-shadow-dom.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/container-inside-multicol-with-table-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/container-inside-multicol-with-table.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/container-name-parsing-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/container-name-parsing.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/container-name-tree-scoped-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/container-name-tree-scoped.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/container-parsing-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/container-parsing.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/container-size-shadow-invalidation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/container-size-shadow-invalidation.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/container-type-parsing-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/container-type-parsing.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/container-units-invalidation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/container-units-invalidation.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/container-units-shadow.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/crashtests/chrome-bug-1362391-crash.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/crashtests/chrome-layout-root-crash.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/crashtests/marker-gcs-after-disconnect-crash.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/crashtests/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/custom-property-style-queries-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/custom-property-style-queries.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/custom-property-style-query-change-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/custom-property-style-query-change.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/font-relative-units-dynamic-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/font-relative-units-dynamic.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/font-relative-units-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/font-relative-units.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/pseudo-elements-005-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/pseudo-elements-005.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/support/cq-testcommon.js
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/transition-style-change-event-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/transition-style-change-event-002.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/resources/declarative-shadow-dom-polyfill.js
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
Labels: unsafe-merge-queue, CSS, request-merge-queue

#7018 Assertions in database and ITP code cause crashes when running tests in debug builds
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsDatabaseStore.cpp
  Source/WebKit/NetworkProcess/DatabaseUtilities.cpp
Labels: merge-queue, Tools / Tests

#7023 [EWS] Include flavor (wk1/wk2) in results database request when evaluating pre-existing failures
  Tools/CISupport/ews-build/steps.py
Labels: unsafe-merge-queue, Tools / Tests

#6406 Use formatting context root's writing mode and text orientation when synthesizing baselines.
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-006-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-007-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-line-clamp-002.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/alignment/flex-align-baseline-line-clamp-003.tentative-expected.txt
  Source/WebCore/platform/graphics/FontBaseline.h
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderBlockFlow.cpp
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderBox.h
  Source/WebCore/rendering/RenderFlexibleBox.cpp
  Source/WebCore/rendering/RenderGrid.cpp
Labels: merge-queue, CSS

#7024 [ews] Use separate log category for results database logs in buildbot builds
  Tools/CISupport/ews-build/steps.py
Labels: unsafe-merge-queue, Tools / Tests

#6990 Add exports to link a shared WebCore with TestWebCore for WinCairo
  Source/WebCore/PAL/pal/text/TextEncoding.cpp
  Source/WebCore/PAL/pal/text/TextEncoding.h
  Source/WebCore/platform/graphics/transforms/TransformationMatrix.h
  Source/WebCore/platform/network/curl/CookieJarDB.h
  Source/WebCore/platform/network/curl/OpenSSLHelper.h
Labels: merge-queue, Platform

#7020 Unskip stress/call-apply-exponential-bytecode-size.js on mips
  JSTests/stress/call-apply-exponential-bytecode-size.js
Labels: merge-queue, JavaScriptCore

#6975 Avoid potential CAFenceHandle invalidation issue and re-enable model tests
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebKit/UIProcess/Cocoa/ModelElementControllerCocoa.mm
Labels: unsafe-merge-queue, New Bugs

#6963 Resync Source/ThirdParty/libwebrtc/Source/webrtc/test/testsupport/file_utils_unittest.cc as it has merge conflicts
  Source/ThirdParty/libwebrtc/Source/webrtc/test/testsupport/file_utils_unittest.cc
Labels: merge-queue, WebRTC

#6919 First subtest is failing in css/css-typed-om/the-stylepropertymap/computed/computed.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/computed/computed.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/serialize-all-longhands-expected.txt
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/typedom/CSSStyleValueFactory.cpp
Labels: merge-queue, CSS

#7033 WK2 test gardening
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, Tools / Tests

#6964 Potential Crash fix by not propagating empty value for face attribute
  LayoutTests/fast/css/font-face-attribute-remove-expected.html
  LayoutTests/fast/css/font-face-attribute-remove.html
  Source/WebCore/html/HTMLFontElement.cpp
Labels: merge-queue, CSS

#7003 Make some data structures const.
  Source/JavaScriptCore/API/tests/CustomGlobalObjectClassTest.c
  Source/JavaScriptCore/API/tests/JSNode.c
  Source/JavaScriptCore/API/tests/JSNodeList.c
  Source/JavaScriptCore/API/tests/PingPongStackOverflowTest.cpp
  Source/JavaScriptCore/API/tests/testapi.c
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
  Source/WebKitLegacy/mac/WebView/WebJSPDFDoc.mm
  Tools/DumpRenderTree/AccessibilityTextMarker.cpp
  Tools/DumpRenderTree/AccessibilityUIElement.cpp
  Tools/WebKitTestRunner/InjectedBundle/EventSendingController.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#7012 [JSC] Implement String#isWellFormed and String#toWellFormed
  JSTests/stress/string-well-formed.js
  LayoutTests/js/Object-getOwnPropertyNames-expected.txt
  LayoutTests/js/script-tests/Object-getOwnPropertyNames.js
  Source/JavaScriptCore/runtime/CommonIdentifiers.h
  Source/JavaScriptCore/runtime/OptionsList.h
  Source/JavaScriptCore/runtime/StringPrototype.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#7035 [webkitscmpy] Fix off-by-one in empty branches (Follow-up fix)
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/local/git.py
Labels: unsafe-merge-queue, Tools / Tests

#7028 Only wait for one listener in video-fullscreen-reload-crash.html
  LayoutTests/media/video-fullscreen-reload-crash.html
Labels: unsafe-merge-queue, DOM

#6923 Move some more "softlinked wrapper" classes across to the new CoreIPC serialization format
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/PlatformMac.cmake
  Source/WebKit/Shared/ApplePay/ApplePayPaymentSetupFeatures.mm
  Source/WebKit/Shared/ApplePay/ApplePayPaymentSetupFeatures.serialization.in
  Source/WebKit/Shared/ApplePay/ApplePayPaymentSetupFeaturesWebKit.h
  Source/WebKit/Shared/ApplePay/PaymentSetupConfiguration.mm
  Source/WebKit/Shared/ApplePay/PaymentSetupConfiguration.serialization.in
  Source/WebKit/Shared/ApplePay/PaymentSetupConfigurationWebKit.h
  Source/WebKit/Shared/Cocoa/DataDetectionResult.h
  Source/WebKit/Shared/Cocoa/DataDetectionResult.mm
  Source/WebKit/Shared/Cocoa/DataDetectionResult.serialization.in
  Source/WebKit/Shared/Cocoa/RevealItem.h
  Source/WebKit/Shared/Cocoa/RevealItem.mm
  Source/WebKit/Shared/Cocoa/RevealItem.serialization.in
  Source/WebKit/Shared/WebPopupItem.cpp
  Source/WebKit/Shared/WebPopupItem.h
  Source/WebKit/Shared/WebPopupItem.serialization.in
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: unsafe-merge-queue, WebKit Process Model

#6771 Implement hit-testing changes for transform-style:preserve-3d and perspective to only apply to direct DOM children.
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/3d-rendering-context-behavior-expected.txt
  LayoutTests/platform/gtk/transforms/3d/point-mapping/3d-point-mapping-2-expected.txt
  LayoutTests/platform/ios/transforms/3d/point-mapping/3d-point-mapping-2-expected.txt
  LayoutTests/platform/mac/transforms/3d/point-mapping/3d-point-mapping-2-expected.txt
  LayoutTests/transforms/3d/hit-testing/overlapping-layers-hit-test-expected.txt
  LayoutTests/transforms/3d/hit-testing/overlapping-layers-hit-test.html
  LayoutTests/transforms/3d/hit-testing/rotated-hit-test-2-expected.txt
  LayoutTests/transforms/3d/hit-testing/rotated-hit-test-2.html
  LayoutTests/transforms/3d/point-mapping/3d-point-mapping-2.html
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/RenderLayer.h
  Source/WebCore/rendering/RenderObject.cpp
Labels: Layout and Rendering

#6973 [content-visibility] Support content-visibility for resize/intersection observer
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-030-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-031-expected.txt
  Source/WebCore/dom/Document.cpp
  Source/WebCore/page/ResizeObservation.cpp
  Source/WebCore/page/ResizeObservation.h
Labels: merge-queue, CSS

#6995 Adopt HAVE(MACH_PORT_CALAYER_CONTENTS)
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeHost.mm
Labels: merge-queue, WebKit Process Model

#7039 Remove usage of Element::containsFullscreenElement() in WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
Labels: unsafe-merge-queue, DOM

#6976 Get subscrollers working with macOS UI-side compositing
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingCoordinatorProxyMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingCoordinatorProxyMac.mm
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingTreeMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingTreeMac.mm
  Source/WebKit/UIProcess/RemoteLayerTree/mac/ScrollingTreeFrameScrollingNodeRemoteMac.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/mac/ScrollingTreeOverflowScrollingNodeRemoteMac.cpp
Labels: Scrolling

#6994 Remove the unused DisableMediaExperiencePIDInheritance experimental feature
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WebCore/page/DeprecatedGlobalSettings.h
  Source/WebCore/platform/audio/ios/MediaSessionHelperIOS.mm
Labels: merge-queue, WebKit Misc.

#6983 [macOS] Data detector highlights are broken with UI-side compositing
  Source/WebCore/platform/mac/DataDetectorHighlight.h
  Source/WebCore/platform/mac/DataDetectorHighlight.mm
Labels: merge-queue, New Bugs

#7032 Update m_grid(Columns/Rows) variable names to m_grid(Column/Row)TrackSizes
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/rendering/GridTrackSizingAlgorithm.cpp
  Source/WebCore/rendering/RenderGrid.cpp
  Source/WebCore/rendering/style/GridPositionsResolver.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/StyleGridData.cpp
  Source/WebCore/rendering/style/StyleGridData.h
Labels: merge-queue, WebCore Misc.

#7061 Unreviewed, revert [257194@main] Support ::backdrop renderer on all elements
  Source/WebCore/css/dialog.css
  Source/WebCore/css/html.css
  Source/WebCore/rendering/updating/RenderTreeUpdaterGeneratedContent.cpp
Labels: unsafe-merge-queue, Layout and Rendering

#7058 Updating myself as committer to contributors.json after receiving invitation from Alex Christensen.
  metadata/contributors.json
Labels: unsafe-merge-queue, New Bugs

#6996 Remove GetOriginsWithPushSubscriptions
  Source/WebCore/Modules/push-api/PushDatabase.cpp
  Source/WebCore/Modules/push-api/PushDatabase.h
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkProcess.messages.in
  Source/WebKit/NetworkProcess/Notifications/NetworkNotificationManager.cpp
  Source/WebKit/NetworkProcess/Notifications/NetworkNotificationManager.h
  Source/WebKit/Shared/WebPushDaemonConstants.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebsiteDataStore.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebsiteDataStorePrivate.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/webpushd/PushService.h
  Source/WebKit/webpushd/PushService.mm
  Source/WebKit/webpushd/WebPushDaemon.h
  Source/WebKit/webpushd/WebPushDaemon.mm
  Tools/TestWebKitAPI/Tests/WebCore/PushDatabase.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebPushDaemon.mm
Labels: merge-queue, WebKit Misc.

#6879 Support running RemoteRenderingBackendProxy objects per-thread.
  Source/WebKit/Platform/IPC/StreamClientConnection.cpp
  Source/WebKit/Platform/IPC/StreamClientConnection.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.h
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteGPUProxy.h
  Source/WebKit/WebProcess/WebPage/IPCTestingAPI.cpp
  Tools/TestWebKitAPI/Tests/IPC/StreamConnectionTests.cpp
Labels: Layout and Rendering

#6806 [QUIRK] Remove needsshouldStripQuotationMarkInFontFaceSetFamily
  Source/WebCore/css/FontFace.cpp
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
Labels: merge-queue, CSS

#6793 Remove needsBlackFullscreenBackgroundQuirk
  LayoutTests/TestExpectations
  LayoutTests/compositing/no-compositing-when-fulll-screen-is-present-expected.txt
  LayoutTests/platform/gtk/compositing/no-compositing-when-fulll-screen-is-present-expected.txt
  Source/WebCore/css/fullscreen.css
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
  Source/WebCore/rendering/RenderTheme.h
  Source/WebCore/style/UserAgentStyle.cpp
Labels: unsafe-merge-queue, CSS

#6864 Upgrade to sandbox version 3 on iOS and macOS
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
  Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.GPU.sb.in
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.Networking.sb.in
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/Shared/Sandbox/common.sb
  Source/WebKit/Shared/Sandbox/iOS/common.sb
  Source/WebKit/Shared/Sandbox/macOS/common.sb
  Source/WebKit/Shared/Sandbox/util.sb
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Labels: unsafe-merge-queue, WebKit Misc.

#7009 Clean up enable_ifs using `if constexpr`
  Source/JavaScriptCore/assembler/Printer.h
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.h
  Source/JavaScriptCore/jit/JIT.h
  Source/JavaScriptCore/jsc.cpp
  Source/JavaScriptCore/parser/Parser.cpp
  Source/JavaScriptCore/runtime/CachedTypes.cpp
  Source/JavaScriptCore/runtime/CodeCache.h
  Source/WTF/wtf/CrossThreadTask.h
  Source/WTF/wtf/FileSystem.cpp
  Source/WTF/wtf/HashTraits.h
  Source/WTF/wtf/OptionSet.h
  Source/WebCore/bindings/js/JSDOMWrapperCache.h
  Source/WebCore/platform/graphics/displaylists/DisplayListItemBuffer.cpp
Labels: merge-queue, JavaScriptCore

#7010 [Filters] Make ImageBuffer::filteredImage() use FilterTargetSwitcher to apply the filter
  Source/WebCore/platform/graphics/ImageBuffer.cpp
  Source/WebCore/platform/graphics/ImageBuffer.h
  Source/WebCore/platform/graphics/filters/Filter.cpp
  Source/WebCore/platform/graphics/filters/Filter.h
  Source/WebCore/platform/graphics/filters/FilterEffect.cpp
  Source/WebCore/platform/graphics/filters/FilterStyleTargetSwitcher.cpp
  Source/WebCore/platform/graphics/filters/FilterStyleTargetSwitcher.h
  Source/WebCore/platform/graphics/filters/FilterTargetSwitcher.cpp
  Source/WebCore/rendering/CSSFilter.cpp
  Source/WebCore/rendering/style/StyleFilterImage.cpp
  Source/WebCore/svg/graphics/filters/SVGFilter.cpp
  Source/WebKit/Platform/IPC/FilterReference.h
Labels: merge-queue, Layout and Rendering

#7037 [GTK] gsk_renderer_render_texture: assertion 'GSK_IS_RENDER_NODE (root)' failed in webkitWebViewBaseTakeViewSnapshot
  Source/WebKit/UIProcess/API/gtk/WebKitWebViewBase.cpp
Labels: unsafe-merge-queue, WebKitGTK

#7055 [SIMD] Intel support for replace_lane and extract_lane
  Source/JavaScriptCore/assembler/MacroAssemblerX86_64.h
  Source/JavaScriptCore/assembler/X86Assembler.h
  Source/JavaScriptCore/b3/air/AirOpcode.opcodes
  Source/JavaScriptCore/wasm/WasmAirIRGenerator.cpp
Labels: merge-queue, JavaScriptCore

#7019 Update streams WebIDL according latest spec
  LayoutTests/imported/w3c/web-platform-tests/streams/idlharness-shadowrealm.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/idlharness.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/idlharness.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/idlharness.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-byte-streams/construct-byob-request.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/default-reader.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/default-reader.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/readable-streams/default-reader.any.worker-expected.txt
  Source/WebCore/Modules/streams/ReadableStreamDefaultController.idl
  Source/WebCore/Modules/streams/ReadableStreamDefaultController.js
  Source/WebCore/Modules/streams/ReadableStreamDefaultReader.idl
  Source/WebCore/Modules/streams/ReadableStreamDefaultReader.js
  Source/WebCore/Modules/streams/TransformStreamDefaultController.idl
  Source/WebCore/Modules/streams/TransformStreamDefaultController.js
  Source/WebCore/Modules/streams/TransformStreamInternals.js
  Source/WebCore/Modules/streams/WritableStreamDefaultController.idl
  Source/WebCore/Modules/streams/WritableStreamDefaultController.js
  Source/WebCore/Modules/streams/WritableStreamDefaultWriter.js
  Source/WebCore/Modules/streams/WritableStreamInternals.js
Labels: WebCore Misc.

#7068 Fix CSS.supports behaviour with regards to !important and whitespace
  LayoutTests/css3/supports-dom-api-expected.txt
  LayoutTests/css3/supports-dom-api.html
  Source/WebCore/css/DOMCSSNamespace.cpp
Labels: unsafe-merge-queue, CSS

#7053 [cssom] Fix serialization for 'marker' shorthand
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/cssom-getPropertyValue-common-checks-expected.txt
  Source/WebCore/css/StyleProperties.cpp
Labels: merge-queue, CSS

#7006 Avoid code duplication between ComputedStylePropertyMapReadOnly and MainThreadStylePropertyMapReadOnly
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/background-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/border-radius-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/flex-flow-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/font-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/font-synthesis-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/font-variant-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/grid-area-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/grid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/grid-template-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/marker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/mask-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/offset-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/text-decoration-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/text-decoration-skip-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/transition-expected.txt
  Source/WebCore/css/typedom/CSSStyleValueFactory.cpp
  Source/WebCore/css/typedom/CSSStyleValueFactory.h
  Source/WebCore/css/typedom/ComputedStylePropertyMapReadOnly.cpp
  Source/WebCore/css/typedom/ComputedStylePropertyMapReadOnly.h
  Source/WebCore/css/typedom/DeclaredStylePropertyMap.cpp
  Source/WebCore/css/typedom/DeclaredStylePropertyMap.h
  Source/WebCore/css/typedom/MainThreadStylePropertyMapReadOnly.cpp
  Source/WebCore/css/typedom/MainThreadStylePropertyMapReadOnly.h
  Source/WebCore/dom/StyledElement.cpp
  Source/WebCore/html/CustomPaintImage.cpp
Labels: unsafe-merge-queue, CSS

#7069 Skip stress/call-apply-exponential-bytecode-size.js on mips, again
  JSTests/stress/call-apply-exponential-bytecode-size.js
Labels: merge-queue, JavaScriptCore

#7071 Revert [257280@main] Fix CSS.supports behaviour with regards to !important and whitespace because it broke the build for the bots
  LayoutTests/css3/supports-dom-api-expected.txt
  LayoutTests/css3/supports-dom-api.html
  Source/WebCore/css/DOMCSSNamespace.cpp
Labels: unsafe-merge-queue, CSS

#6972 Move TextManipulationItem/Token to the new CoreIPC serialization format
  Source/WebCore/Headers.cmake
  Source/WebCore/editing/TextManipulationController.cpp
  Source/WebCore/editing/TextManipulationController.h
  Source/WebCore/editing/TextManipulationItem.h
  Source/WebCore/editing/TextManipulationToken.h
  Source/WebCore/platform/EventTrackingRegions.h
  Source/WebCore/platform/PasteboardCustomData.cpp
  Source/WebCore/platform/PasteboardCustomData.h
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Shared/Databases/IndexedDB/WebIDBResult.cpp
  Source/WebKit/Shared/Databases/IndexedDB/WebIDBResult.h
  Source/WebKit/Shared/Databases/IndexedDB/WebIDBResult.serialization.in
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/Sources.txt
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
Labels: merge-queue, WebKit Process Model

#6992 Calling StylePropertyMap.set() with a `calc()` ends up dropping the calc
  LayoutTests/fast/css/css-typed-om/style-property-map-set-CSSMathSum-value-expected.txt
  LayoutTests/fast/css/css-typed-om/style-property-map-set-CSSMathSum-value.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/animation-delay-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/baseline-shift-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/bottom-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/center-coordinate-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/coordinate-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/fill-opacity-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/flood-opacity-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/left-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/logical-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/margin-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/offset-distance-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/opacity-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/outline-offset-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/right-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/scroll-margin-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/shape-image-threshold-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/stop-opacity-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/stroke-dashoffset-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/stroke-opacity-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/text-decoration-thickness-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/text-indent-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/text-underline-offset-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/top-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/transition-delay-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/vertical-align-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/word-spacing-expected.txt
  LayoutTests/platform/win/TestExpectations
  Source/WebCore/css/typedom/CSSNumericValue.cpp
  Source/WebCore/css/typedom/numeric/CSSMathValue.h
Labels: unsafe-merge-queue, CSS

#7074 [ews] Adjust Big Sur bot allocation
  Tools/CISupport/ews-app/ews/views/statusbubble.py
  Tools/CISupport/ews-build/config.json
  Tools/CISupport/ews-build/factories_unittest.py
Labels: unsafe-merge-queue, Tools / Tests

#7060 Add width and height content attributes to <model>
  LayoutTests/model-element/model-element-width-height-expected.txt
  LayoutTests/model-element/model-element-width-height-visual-expected.html
  LayoutTests/model-element/model-element-width-height-visual.html
  LayoutTests/model-element/model-element-width-height.html
  Source/WebCore/Modules/model-element/HTMLModelElement.cpp
  Source/WebCore/Modules/model-element/HTMLModelElement.h
  Source/WebCore/Modules/model-element/HTMLModelElement.idl
Labels: merge-queue, WebXR

#7008 Don't crash when RenderStyle is NULL for elements like optgroup when
  LayoutTests/fast/rendering/render-style-null-optgroup-crash-expected.txt
  LayoutTests/fast/rendering/render-style-null-optgroup-crash.html
  Source/WebCore/rendering/RenderListBox.cpp
Labels: merge-queue, Layout and Rendering

#7059 [SIMD] Skip LLInt for SIMD functions.
  JSTests/wasm/v8/exceptions-simd.js
  JSTests/wasm/v8/multi-value-simd.js
  JSTests/wasm/v8/simd-errors.js
  Source/JavaScriptCore/assembler/JITOperationList.cpp
  Source/JavaScriptCore/bytecode/BytecodeList.rb
  Source/JavaScriptCore/llint/LLIntThunks.cpp
  Source/JavaScriptCore/llint/LLIntThunks.h
  Source/JavaScriptCore/llint/LowLevelInterpreter.asm
  Source/JavaScriptCore/llint/WebAssembly.asm
  Source/JavaScriptCore/offlineasm/arm64.rb
  Source/JavaScriptCore/offlineasm/instructions.rb
  Source/JavaScriptCore/offlineasm/risc.rb
  Source/JavaScriptCore/offlineasm/x86.rb
  Source/JavaScriptCore/runtime/Options.cpp
  Source/JavaScriptCore/wasm/WasmAirIRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmCallee.h
  Source/JavaScriptCore/wasm/WasmFormat.h
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmLLIntPlan.cpp
  Source/JavaScriptCore/wasm/WasmModuleInformation.h
  Source/JavaScriptCore/wasm/WasmOperations.cpp
  Source/JavaScriptCore/wasm/WasmSectionParser.cpp
  Source/JavaScriptCore/wasm/WasmSlowPaths.cpp
  Source/JavaScriptCore/wasm/WasmSlowPaths.h
  Source/JavaScriptCore/wasm/WasmTypeDefinition.h
Labels: unsafe-merge-queue

#7051 Masonry repeat(auto-fit) should behave as repeat(auto-fill)
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/masonry-grid-template-columns-computed-withcontent.html
  Source/WebCore/rendering/RenderGrid.cpp
  Source/WebCore/rendering/RenderGrid.h
Labels: merge-queue, CSS

#7080 Unreviewed, fix stale assertion
  Source/JavaScriptCore/runtime/JSArrayBufferViewInlines.h
Labels: JavaScriptCore

#7046 Soundcloud.com Login Issue
  Source/WebCore/page/Quirks.cpp
Labels: unsafe-merge-queue, New Bugs

#7049 [iOS] Flaky crash under ScreenOrientationProvider::screenOrientationDidChange()
  Source/WebCore/platform/ScreenOrientationProvider.cpp
  Source/WebCore/platform/ScreenOrientationProvider.h
  Source/WebCore/platform/ios/ScreenOrientationProviderIOS.mm
Labels: unsafe-merge-queue, WebCore Misc.

#7072 [ews-build.webkit.org] Skip deleted PRs
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: unsafe-merge-queue, Tools / Tests

#7052 [Cocoa] Extend networkConnectionIntegrity with support for HTTPS-Only
  Source/WebCore/platform/network/NetworkConnectionIntegrity.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebpagePreferences.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebpagePreferencesPrivate.h
Labels: merge-queue

#7034 Skip run-layout-tests-without-change step when first and second layout test run have only flaky failures
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: unsafe-merge-queue, Tools / Tests

#7045 Set PDFKit user defaults for when IOKit blocking is fully enabled
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
Labels: merge-queue, New Bugs

#7099 Revert [257229@main] CoreIPC should be explicit about which methods can be called when WaitingForSyncReply
  LayoutTests/ipc/pasteboard-write-custom-data.html
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.messages.in
  Source/WebKit/GPUProcess/GPUProcess.messages.in
  Source/WebKit/GPUProcess/media/RemoteVideoFrameObjectHeap.messages.in
  Source/WebKit/NetworkProcess/NetworkProcess.messages.in
  Source/WebKit/Platform/IPC/Connection.cpp
  Source/WebKit/Platform/IPC/Decoder.cpp
  Source/WebKit/Platform/IPC/Decoder.h
  Source/WebKit/Platform/IPC/Encoder.cpp
  Source/WebKit/Platform/IPC/Encoder.h
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/Scripts/webkit/model.py
  Source/WebKit/Scripts/webkit/tests/MessageNames.cpp
  Source/WebKit/Scripts/webkit/tests/MessageNames.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/UIProcess/WebProcessProxy.messages.in
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
Labels: unsafe-merge-queue, WebKit Process Model

#7077 Add _WKWebExtensionControllerConfiguration to control extension storage.
  Source/WebKit/Platform/Logging.h
  Source/WebKit/Platform/cocoa/CocoaHelpers.h
  Source/WebKit/Platform/cocoa/CocoaHelpers.mm
  Source/WebKit/Shared/API/APIObject.h
  Source/WebKit/Shared/Cocoa/APIObject.mm
  Source/WebKit/Sources.txt
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewConfiguration.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionController.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionController.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionControllerConfiguration.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionControllerConfiguration.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionControllerConfigurationInternal.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionControllerConfigurationPrivate.h
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionControllerCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionControllerConfiguration.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/UIProcess/Extensions/WebExtensionController.cpp
  Source/WebKit/UIProcess/Extensions/WebExtensionController.h
  Source/WebKit/UIProcess/Extensions/WebExtensionControllerConfiguration.cpp
  Source/WebKit/UIProcess/Extensions/WebExtensionControllerConfiguration.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/SourcesCocoa.txt
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionController.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionControllerConfiguration.mm
  Tools/TestWebKitAPI/cocoa/WebExtensionUtilities.h
  Tools/TestWebKitAPI/cocoa/WebExtensionUtilities.mm
Labels: unsafe-merge-queue, WebKit Extensions

#7095 Clean up some options initialization workflow.
  Source/JavaScriptCore/jit/ExecutableAllocator.cpp
  Source/JavaScriptCore/jit/ExecutableAllocator.h
  Source/JavaScriptCore/jsc.cpp
  Source/JavaScriptCore/runtime/InitializeThreading.cpp
  Source/JavaScriptCore/runtime/Options.cpp
  Source/JavaScriptCore/runtime/Options.h
  Source/WebKit/Shared/EntryPointUtilities/Cocoa/XPCService/XPCServiceEntryPoint.h
Labels: unsafe-merge-queue, JavaScriptCore

#7102 [JSC] Use sqrdmulh for vectorMulSat
  Source/JavaScriptCore/assembler/ARM64Assembler.h
  Source/JavaScriptCore/assembler/MacroAssemblerARM64.h
Labels: merge-queue, JavaScriptCore

#7100 Fix CSS.supports behaviour with regards to !important and whitespace
  LayoutTests/css3/supports-dom-api-expected.txt
  LayoutTests/css3/supports-dom-api.html
  Source/WebCore/css/DOMCSSNamespace.cpp
Labels: merge-queue, CSS

#6845 testdriver-vendor.js could use a cleanup + type annotations
  LayoutTests/imported/w3c/web-platform-tests/resources/testdriver-vendor.js
Labels: Tools / Tests

#7089 [SIMD] Intel support for splat
  Source/JavaScriptCore/assembler/MacroAssemblerX86_64.h
  Source/JavaScriptCore/assembler/X86Assembler.h
  Source/JavaScriptCore/b3/air/AirOpcode.opcodes
  Source/JavaScriptCore/wasm/WasmAirIRGenerator.cpp
Labels: merge-queue, JavaScriptCore

#7105 Make the debug assertion in AuxiliaryProcess::registerWithStateDumper more descriptive
  Source/WebKit/Shared/Cocoa/AuxiliaryProcessCocoa.mm
Labels: merge-queue, WebKit2

#7056 Remove Document.getOverrideStyle()
  Source/WebCore/dom/Document.h
  Source/WebCore/dom/Document.idl
Labels: unsafe-merge-queue, CSS

#7084 ::backdrop UA styles should be appended unconditionally
  Source/WebCore/css/dialog.css
  Source/WebCore/css/html.css
  Source/WebCore/rendering/updating/RenderTreeUpdaterGeneratedContent.cpp
Labels: unsafe-merge-queue, CSS

#7115 [Gardening] Remove platform-specific baselines for getComputedStyle-pseudo.html & getComputedStyle-detached-subtree.html
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-pseudo-expected.txt
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-detached-subtree-expected.txt
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-pseudo-expected.txt
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-detached-subtree-expected.txt
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-pseudo-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-detached-subtree-expected.txt
  LayoutTests/platform/ipad/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-detached-subtree-expected.txt
  LayoutTests/platform/ipad/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-pseudo-expected.txt
  LayoutTests/platform/wpe/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-detached-subtree-expected.txt
  LayoutTests/platform/wpe/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-pseudo-expected.txt
Labels: unsafe-merge-queue, Tools / Tests

#7107 [JSC] Make BaselineCallLinkInfo more compact
  Source/JavaScriptCore/bytecode/CallLinkInfo.cpp
  Source/JavaScriptCore/bytecode/CallLinkInfo.h
  Source/JavaScriptCore/bytecode/CallLinkStatus.cpp
  Source/JavaScriptCore/bytecode/CallLinkStatus.h
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT32_64.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/jit/JITCall.cpp
  Source/JavaScriptCore/llint/LLIntSlowPaths.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#7097 Add printing entitlement to Minibrowser
  Tools/MiniBrowser/Configurations/Base.xcconfig
  Tools/MiniBrowser/MiniBrowser.entitlements
Labels: New Bugs

#7083 [Live Range Selection] editing/mac/pasteboard/paste-and-match-style-selector-event.html fails
  LayoutTests/editing/mac/pasteboard/paste-and-match-style-selector-event-expected.txt
  LayoutTests/editing/mac/pasteboard/paste-and-match-style-selector-event.html
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, HTML Editing

#7087 [Live Range Selection] editing/pasteboard/drag-list-item.html fails
  LayoutTests/editing/pasteboard/drag-list-item.html
Labels: unsafe-merge-queue, HTML Editing

#7085 [Live Range Selection] editing/pasteboard/cleanup-on-move.html fails
  LayoutTests/editing/pasteboard/cleanup-on-move.html
Labels: HTML Editing

#7121 Avoid trailing whitespace when generating import-expectations.json
  Tools/Scripts/webkitpy/w3c/test_downloader.py
Labels: unsafe-merge-queue, Tools / Tests

#7122 Unreviewed, do not use (void)
  Source/JavaScriptCore/assembler/MacroAssemblerX86_64.h
Labels: unsafe-merge-queue, JavaScriptCore

#7116 [SIMD] Refactor X86Assembler.h: All destinations should be on the right side.
  Source/JavaScriptCore/assembler/MacroAssemblerX86_64.h
  Source/JavaScriptCore/assembler/X86Assembler.h
Labels: merge-queue, JavaScriptCore

#7108 Unreviewed, JSC test cleaning up
  JSTests/stress/get-my-argument-by-val-negative-1.js
  JSTests/stress/get-my-argument-by-val-negative-2.js
  JSTests/stress/get-my-argument-by-val-negative-3.js
  JSTests/stress/lars-sab-workers.js
  JSTests/stress/run-backwards-propagation-before-osr-exit-pruning.js
  JSTests/stress/waitasync-notify-multi-workers.js
  JSTests/stress/waitasync-promise-timeout-finite-gc.js
  JSTests/stress/waitasync-promise-timeout-infinity-gc.js
  JSTests/stress/waitasync-timeout-finite-gc.js
  JSTests/stress/waitasync-timeout-infinity-gc.js
  JSTests/stress/waitasync-wait-infinity-notify-all-multi-workers.js
  JSTests/stress/waitasync-wait-infinity-notify-half-multi-workers.js
  JSTests/stress/waitasync-wait-timeout-multi-workers.js
Labels: unsafe-merge-queue, JavaScriptCore

#7066 [WK2] Flaky ASSERTION FAILED: m_gamepads.isEmpty() on gamepad/gamepad-polling-access.html
  LayoutTests/gamepad/gamepad-polling-access-expected.txt
  LayoutTests/gamepad/gamepad-polling-access.html
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/MockGamepadProvider.cpp
  Source/WebCore/testing/MockGamepadProvider.h
Labels: merge-queue, WebCore Misc.

#7128 Garden some WK1 layout test results
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/scroll-behavior-expected.txt
Labels: unsafe-merge-queue, Tools / Tests

#7127 Skip WPT tests that are timing out to speed up layout tests run time
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/html/obsolete/requirements-for-implementations/the-marquee-element-0/marquee-events-expected.txt
Labels: unsafe-merge-queue, Tools / Tests

#7129 Garden some service-workers tests
  LayoutTests/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, Tools / Tests

#6998 Index setters of HTMLSelectElement and HTMLOptionsCollection should do nothing if the requested index is too large
  LayoutTests/fast/forms/select-max-length-expected.txt
  LayoutTests/fast/forms/select-max-length.html
  Source/WebCore/html/HTMLSelectElement.cpp
Labels: merge-queue, Forms

#7130 Fix WinCairo build following 257311@main
  Source/WebKit/Shared/win/AuxiliaryProcessMainWin.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#7135 Garden some service worker tests
  LayoutTests/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/wincairo/TestExpectations
Labels: unsafe-merge-queue, Tools / Tests

#6981 Add an iterator for the StyleProperties family of classes
  Source/WTF/wtf/Vector.h
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/css/CSSKeyframeRule.cpp
  Source/WebCore/css/CSSValueList.cpp
  Source/WebCore/css/CSSValueList.h
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/PropertySetCSSStyleDeclaration.cpp
  Source/WebCore/css/StyleProperties.cpp
  Source/WebCore/css/StyleProperties.h
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/css/typedom/DeclaredStylePropertyMap.cpp
  Source/WebCore/css/typedom/InlineStylePropertyMap.cpp
  Source/WebCore/editing/EditingStyle.cpp
  Source/WebCore/editing/Editor.cpp
  Source/WebCore/page/PageSerializer.cpp
  Source/WebCore/style/ElementRuleCollector.cpp
  Source/WebCore/style/PropertyCascade.cpp
  Source/WebCore/style/StyleResolver.cpp
Labels: WebCore Misc.

#7054 Move masonry logic from RenderGrid to GridMasonryLayout.
  Source/WebCore/rendering/GridMasonryLayout.cpp
  Source/WebCore/rendering/GridMasonryLayout.h
  Source/WebCore/rendering/RenderGrid.cpp
  Source/WebCore/rendering/RenderGrid.h
  Source/WebCore/rendering/style/GridPositionsResolver.h
Labels: merge-queue, CSS

#6705 AlternativeTextType as enum class with EnumTraits and serialization
  LayoutTests/ipc/webpageproxy-correctionpanel-no-crash-expected.txt
  LayoutTests/ipc/webpageproxy-correctionpanel-no-crash.html
  Source/WebCore/editing/AlternativeTextController.cpp
  Source/WebCore/editing/Editor.cpp
  Source/WebCore/page/AlternativeTextClient.h
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/UIProcess/mac/CorrectionPanel.mm
  Source/WebKitLegacy/mac/WebCoreSupport/CorrectionPanel.mm
Labels: WebKit Misc.

#7021 Update TransformStream options getters to check for undefined
  LayoutTests/imported/w3c/web-platform-tests/streams/transform-streams/patched-global.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/transform-streams/patched-global.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/transform-streams/patched-global.any.worker-expected.txt
  Source/WebCore/Modules/streams/StreamInternals.js
Labels: WebCore Misc.

#7078 Video Texture set to repeat is clamped
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/webgl/resources/pot-video.mp4
  LayoutTests/webgl/tex-2d-video-no-change-wrap-expected.txt
  LayoutTests/webgl/tex-2d-video-no-change-wrap.html
  Source/WebCore/platform/graphics/cv/GraphicsContextGLCVCocoa.cpp
Labels: merge-queue, WebGL

#7029 Import WPT css/css-nesting
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/resources/import-expectations.json
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/conditional-properties-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/conditional-properties-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/conditional-properties.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/conditional-rules-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/conditional-rules-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/conditional-rules.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/cssom-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/cssom.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/implicit-nesting-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/implicit-nesting-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/implicit-nesting.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/implicit-parent-insertion-crash.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/invalid-inner-rules-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/invalid-inner-rules.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/invalidation-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/invalidation-001.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/invalidation-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/invalidation-002.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/invalidation-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/invalidation-003.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/invalidation-004-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/invalidation-004.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/nesting-basic-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/nesting-basic-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/nesting-basic.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/parsing-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/parsing.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/pseudo-part-crash.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/serialize-group-rules-with-decls.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/serialize-group-rules-with-decls.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/w3c-import.log
Labels: WebKit Misc.

#7146 Revert REGRESSION (251289@main): [ Ventura ] fast/images/animated-heics-draw.html is a consistent timeout because it caused the test to flaky crash
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
Labels: unsafe-merge-queue, New Bugs

#6933 Remove a float from an element's list even if its style suggests it can't contain floats
  LayoutTests/fast/block/overhanging-float-crashes-when-sibling-becomes-formatting-context-expected.txt
  LayoutTests/fast/block/overhanging-float-crashes-when-sibling-becomes-formatting-context.html
  Source/WebCore/rendering/RenderBlockFlow.cpp
Labels: Layout and Rendering

#7137 iOS Mail app issues with copying attachments from an email and pasting into new email or note or Files
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKAttachmentTests.mm
Labels: merge-queue, Platform

#7150 EWS pulls the wrong revision when checking out the tree for testing for PRs
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: unsafe-merge-queue, Tools / Tests

#6980 Add checks to allowsFirstPartyForCookies before adding a new ID<->origin mapping
  Source/WebCore/workers/service/server/SWServer.cpp
  Source/WebCore/workers/service/server/SWServer.h
  Source/WebCore/workers/service/server/SWServerJobQueue.cpp
  Source/WebCore/workers/service/server/SWServerJobQueue.h
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkSession.cpp
Labels: unsafe-merge-queue, New Bugs

#6924 Make WebGL use GPU process by default on Cocoa
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WTF/Scripts/Preferences/WebPreferencesInternal.yaml
Labels: merge-queue, WebGL

#6015 Have PlatformCALayerRemoteCustom plumb preservesFlip to UIProcess
  Source/WebCore/PAL/pal/spi/cocoa/QuartzCoreSPI.h
  Source/WebCore/platform/graphics/cocoa/WebCoreCALayerExtras.h
  Source/WebCore/platform/graphics/cocoa/WebCoreCALayerExtras.mm
  Source/WebKit/Platform/cocoa/LayerHostingContext.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreeTransaction.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreeTransaction.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeHost.mm
  Source/WebKit/UIProcess/mac/PageClientImplMac.mm
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
  Source/WebKit/WebProcess/Plugins/PluginView.cpp
  Source/WebKit/WebProcess/Plugins/PluginView.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemoteCustom.mm
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
Labels: New Bugs

#7153 TransformOperation::OperationType enum should be an `enum class`
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/TransformFunctions.cpp
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.cpp
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.h
  Source/WebCore/platform/graphics/transforms/IdentityTransformOperation.h
  Source/WebCore/platform/graphics/transforms/Matrix3DTransformOperation.h
  Source/WebCore/platform/graphics/transforms/MatrixTransformOperation.h
  Source/WebCore/platform/graphics/transforms/PerspectiveTransformOperation.h
  Source/WebCore/platform/graphics/transforms/RotateTransformOperation.cpp
  Source/WebCore/platform/graphics/transforms/RotateTransformOperation.h
  Source/WebCore/platform/graphics/transforms/ScaleTransformOperation.h
  Source/WebCore/platform/graphics/transforms/SkewTransformOperation.h
  Source/WebCore/platform/graphics/transforms/TransformOperation.cpp
  Source/WebCore/platform/graphics/transforms/TransformOperation.h
  Source/WebCore/platform/graphics/transforms/TransformOperations.h
  Source/WebCore/platform/graphics/transforms/TranslateTransformOperation.h
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/style/RenderStyle.cpp
Labels: unsafe-merge-queue, Layout and Rendering

#7126 [JSC] Clean up and enhance X86 vector instructions
  Source/JavaScriptCore/assembler/MacroAssemblerX86Common.cpp
  Source/JavaScriptCore/assembler/MacroAssemblerX86Common.h
  Source/JavaScriptCore/assembler/MacroAssemblerX86_64.h
  Source/JavaScriptCore/assembler/X86Assembler.h
Labels: unsafe-merge-queue, JavaScriptCore

#7138 [JSC] Make Object.values faster
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/runtime/JSONObject.cpp
  Source/JavaScriptCore/runtime/JSObject.h
  Source/JavaScriptCore/runtime/JSObjectInlines.h
  Source/JavaScriptCore/runtime/ObjectConstructor.cpp
  Source/JavaScriptCore/runtime/ObjectConstructorInlines.h
  Source/JavaScriptCore/runtime/Structure.h
  Source/JavaScriptCore/runtime/StructureInlines.h
Labels: merge-queue, JavaScriptCore

#7164 Remove an ASSERT from WebFullScreenManager::willExitFullScreen()
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.cpp
Labels: merge-queue, WebKit Misc.

#6773 Disable sorting of CALayers that aren't CATransformLayers.
  Source/WebCore/PAL/pal/spi/cocoa/QuartzCoreSPI.h
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.cpp
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.h
  Source/WebCore/platform/graphics/ca/PlatformCALayerClient.h
  Source/WebCore/platform/graphics/ca/cocoa/PlatformCALayerCocoa.mm
Labels: Layout and Rendering

#7091 Remove unused InProcessCookieCacheEnabled feature flag
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WebKit/WebProcess/WebPage/WebCookieJar.cpp
Labels: merge-queue, WebKit Misc.

#6986 Plumb synchronous scrolling reason changed through RemoteScrollingTree for ScrollPerf
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingTree.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingTree.h
Labels: unsafe-merge-queue, New Bugs

#7163 [JSC] Fix x86_64 specific JS tests
  JSTests/stress/big-wasm-memory-grow-no-max.js
  JSTests/stress/big-wasm-memory-grow.js
  JSTests/stress/big-wasm-memory.js
  JSTests/stress/call-apply-exponential-bytecode-size.js
  JSTests/stress/dont-link-virtual-calls-on-compiler-thread.js
  JSTests/stress/elidable-new-object-roflcopter-then-exit.js
  JSTests/stress/materialize-regexp-cyclic-regexp.js
  JSTests/stress/materialized-regexp-has-correct-last-index-set-by-match.js
  JSTests/stress/regress-173035.js
  JSTests/stress/stack-overflow-in-yarr-byteCompile.js
  JSTests/stress/typed-array-always-large.js
  JSTests/stress/typed-array-eventually-large.js
  JSTests/stress/typed-array-large-eventually-oob.js
  JSTests/stress/typed-array-large-slice.js
  JSTests/wasm/function-tests/trap-load-shared.js
  JSTests/wasm/function-tests/trap-store-shared.js
  JSTests/wasm/js-api/test_memory.js
  JSTests/wasm/modules/wasm-imports-js-exports.js
  JSTests/wasm/stress/atomic-decrement.js
  JSTests/wasm/stress/atomic-increment.js
  JSTests/wasm/stress/invalid-atomic-alignment.js
  JSTests/wasm/stress/simd-const-spill.js
  JSTests/wasm/stress/simd-const.js
  JSTests/wasm/stress/simd-load.js
  JSTests/wasm/stress/simd-register-allocation.js
  JSTests/wasm/stress/simd-return-value-alignment.js
  Tools/Scripts/run-jsc-stress-tests
Labels: unsafe-merge-queue, JavaScriptCore

#7160 [Live Range Selection] editing/selection/doubleclick-whitespace-live-range.html fails
  LayoutTests/editing/selection/doubleclick-whitespace-live-range-expected.txt
  LayoutTests/editing/selection/doubleclick-whitespace-live-range.html
  Source/WebCore/editing/VisibleSelection.cpp
Labels: unsafe-merge-queue, HTML Editing

#7169 [Live Range Selection] editing/spelling/spelling-attribute-change.html fails
  LayoutTests/editing/spelling/spelling-attribute-change.html
Labels: unsafe-merge-queue, HTML Editing

#7141 [JSC] Use getIfPropertyExists instead of hasProperty+get
  Source/JavaScriptCore/runtime/ObjectConstructor.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#7170 [Live Range Selection] editing/spelling/spelling-linebreak.html fails
  LayoutTests/editing/spelling/spelling-linebreak.html
Labels: unsafe-merge-queue, HTML Editing

#7184 Skip test waitasync-waiter-list-order.js
  JSTests/stress/waitasync-waiter-list-order.js
Labels: unsafe-merge-queue, JavaScriptCore

#7172 Add deprecation guards for various AVFoundation calls
  Source/WebCore/PAL/pal/avfoundation/OutputDevice.mm
  Source/WebCore/platform/graphics/avfoundation/objc/CDMSessionAVFoundationObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/ImageDecoderAVFObjC.mm
Labels: unsafe-merge-queue, Media

#7165 [Live Range Selection] editing/pasteboard/drag-drop-dead-frame.html fails
  LayoutTests/editing/pasteboard/drag-drop-dead-frame.html
Labels: merge-queue, HTML Editing

#7022 Add WritableStreamDefaultController signal getter
  LayoutTests/imported/w3c/web-platform-tests/streams/idlharness.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/idlharness.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/streams/idlharness.any.worker-expected.txt
  Source/WebCore/Modules/streams/WritableStreamDefaultController.idl
  Source/WebCore/Modules/streams/WritableStreamDefaultController.js
  Source/WebCore/Modules/streams/WritableStreamInternals.js
  Source/WebCore/bindings/js/JSDOMGlobalObject.cpp
  Source/WebCore/bindings/js/WebCoreBuiltinNames.h
Labels: merge-queue, WebCore Misc.

#7112 Make RemoveFormat command to work with mixed editable
  LayoutTests/editing/execCommand/remove-format-mixed-editable-crash-expected.txt
  LayoutTests/editing/execCommand/remove-format-mixed-editable-crash.html
  Source/WebCore/editing/ApplyStyleCommand.cpp
Labels: HTML Editing

#7125 [SIMD] Intel support for swizzle and shuffle and fix extract_lane and replace_lane
  Source/JavaScriptCore/assembler/MacroAssemblerX86_64.h
  Source/JavaScriptCore/assembler/X86Assembler.h
  Source/JavaScriptCore/b3/air/AirOpcode.opcodes
  Source/JavaScriptCore/wasm/WasmAirIRGenerator.cpp
Labels: merge-queue, JavaScriptCore

#7168 [Live Range Selection] editing/pasteboard/drag-selected-image-to-contenteditable.html fails
  LayoutTests/editing/pasteboard/drag-selected-image-to-contenteditable.html
Labels: merge-queue, HTML Editing

#7015 Add experimental WebCodecs AV1 support
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any.worker_av1-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any_av1-expected.txt
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.iOS.exp
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.iOSsim.exp
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.mac.exp
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoder.h
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoder.idl
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.h
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.idl
  Source/WebCore/platform/VideoDecoder.cpp
  Source/WebCore/platform/VideoEncoder.cpp
  Source/WebCore/platform/libwebrtc/LibWebRTCVPXVideoDecoder.cpp
  Source/WebCore/platform/libwebrtc/LibWebRTCVPXVideoDecoder.h
  Source/WebCore/platform/libwebrtc/LibWebRTCVPXVideoEncoder.cpp
  Source/WebCore/platform/libwebrtc/LibWebRTCVPXVideoEncoder.h
Labels: Media

#7026 Align WEBGL_provoking_vertex parameter name with the spec
  Source/WebCore/html/canvas/WebGLProvokingVertex.cpp
  Source/WebCore/html/canvas/WebGLProvokingVertex.h
  Source/WebCore/html/canvas/WebGLProvokingVertex.idl
  Source/WebCore/platform/graphics/GraphicsContextGL.h
  Source/WebCore/platform/graphics/angle/GraphicsContextGLANGLE.cpp
  Source/WebCore/platform/graphics/angle/GraphicsContextGLANGLE.h
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGL.messages.in
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGLFunctionsGenerated.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxyFunctionsGenerated.cpp
Labels: merge-queue

#7086 WebDriver: [Cocoa] [Actions] [Key] Right-hand modifier keys report as their left-hand counterpart
  Source/WebKit/UIProcess/Automation/Automation.json
  Source/WebKit/UIProcess/Automation/WebAutomationSession.cpp
  Source/WebKit/UIProcess/Automation/cocoa/WebAutomationSessionCocoa.mm
  Source/WebKit/UIProcess/Automation/gtk/WebAutomationSessionGtk.cpp
  Source/WebKit/UIProcess/Automation/ios/WebAutomationSessionIOS.mm
  Source/WebKit/UIProcess/Automation/libwpe/WebAutomationSessionLibWPE.cpp
  Source/WebKit/UIProcess/Automation/mac/WebAutomationSessionMac.mm
Labels: merge-queue, WebDriver

#7174 Regression(255052@main) Unable to log into Marcus.com on iOS
  Source/WebCore/page/Navigator.cpp
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
Labels: unsafe-merge-queue, Plug-ins

#7133 [GStreamer][MSE] Misc capabilities and EOS handling improvements
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.h
  Source/WebCore/platform/graphics/gstreamer/mse/MediaSourcePrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/SourceBufferPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/SourceBufferPrivateGStreamer.h
Labels: merge-queue, Platform

#7155 Copied rdar:// links lose their `href` after pasting into Mail compose
  Source/WebCore/editing/cocoa/WebContentReaderCocoa.mm
  Source/WebCore/editing/markup.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/PasteHTML.mm
Labels: merge-queue, HTML Editing

#7027 [iOS] Allow clients to override text input traits
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Tools/TestWebKitAPI/Tests/ios/KeyboardInputTestsIOS.mm
Labels: unsafe-merge-queue, New Bugs

#7209 [Gardening] Many cache-storage tests failing on EWS in sequence
  LayoutTests/TestExpectations
Labels: unsafe-merge-queue, Service Workers

#7212 Many cache-storage tests failing on EWS in sequence
  LayoutTests/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, Service Workers

#7096 Improve <textarea> validation performance
  Source/WebCore/html/FileInputType.cpp
  Source/WebCore/html/FormController.cpp
  Source/WebCore/html/HTMLInputElement.cpp
  Source/WebCore/html/HTMLInputElement.h
  Source/WebCore/html/HTMLTextAreaElement.cpp
  Source/WebCore/html/HTMLTextAreaElement.h
  Source/WebCore/html/HTMLTextFormControlElement.cpp
  Source/WebCore/html/HTMLTextFormControlElement.h
  Source/WebCore/html/InputType.h
  Source/WebCore/html/TextFieldInputType.cpp
  Source/WebCore/html/TextFieldInputType.h
  Source/WebCore/loader/EmptyClients.cpp
  Source/WebCore/page/Chrome.cpp
  Source/WebCore/platform/FileChooser.cpp
  Source/WebCore/platform/FileChooser.h
  Source/WebKitLegacy/mac/DOM/DOMHTMLInputElement.mm
  Source/WebKitLegacy/mac/DOM/DOMHTMLTextAreaElement.mm
Labels: merge-queue, Forms

#7090 Add IDLs for WebNavigation.
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPIWebNavigation.idl
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPIWebNavigationEvent.idl
Labels: merge-queue, unsafe-merge-queue, WebKit Extensions

#7132 [GStreamer][MSE] Logging improvements
  Source/WebCore/platform/graphics/gstreamer/mse/AppendPipeline.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.h
  Source/WebCore/platform/graphics/gstreamer/mse/MediaSourcePrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/SourceBufferPrivateGStreamer.cpp
Labels: merge-queue, Platform

#7048 [JSC] Fix race condition in Atomics.{wait,waitAsync}
  JSTests/stress/waitasync-waiter-list-order.js
  Source/JavaScriptCore/runtime/AtomicsObject.cpp
  Source/JavaScriptCore/runtime/WaiterListManager.cpp
  Source/JavaScriptCore/runtime/WaiterListManager.h
Labels: unsafe-merge-queue, JavaScriptCore

#7175 [Live Range Selection] editing/selection/programmatic-selection-on-mac-is-directionless.html fails
  LayoutTests/editing/selection/programmatic-selection-on-mac-is-directionless.html
Labels: unsafe-merge-queue, HTML Editing
