Repository WebKit/WebKit, pull requests merged in 2022-10, with the labels that each got.

#4890 Fix datalist suggestion for Apple
  Websites/webkit.org/wp-content/plugins/meeting-registration/form.php
Labels: unsafe-merge-queue, WebKit Website, WebKit Nightly Build

#3433 Fixed backgrounds should behave like 'scroll' inside transformed elements
  LayoutTests/TestExpectations
  LayoutTests/compositing/backgrounds/fixed-background-on-descendant.html
  LayoutTests/compositing/backgrounds/fixed-backgrounds.html
  Source/WebCore/rendering/BackgroundPainter.cpp
Labels: merge-queue, Layout and Rendering, 523.x (Safari 3)

#4882 Shrink shorthandPropertyUsed and shorthandPropertyAppeared
  Source/WebCore/css/StyleProperties.cpp
Labels: CSS, WebKit Nightly Build

#4906 Unreviewed, drop unnecessary #include introduced in 255061@main
  Source/WebCore/dom/TreeScope.h
Labels: unsafe-merge-queue, WebCore Misc., WebKit Nightly Build

#4903 Turn on constructible & adoptable CSSStyleSheet objects
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
Labels: unsafe-merge-queue, CSS, WebKit Nightly Build

#4907 [JSC] Support all rounding modes in Temporal
  JSTests/test262/config.yaml
  JSTests/test262/expectations.yaml
  Source/JavaScriptCore/runtime/TemporalDuration.cpp
  Source/JavaScriptCore/runtime/TemporalDuration.h
  Source/JavaScriptCore/runtime/TemporalObject.cpp
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#4852 [JSC][ARMv7] Fix clang compiler errors Constexpr if with a non-bool condition
  Source/JavaScriptCore/jit/CCallHelpers.cpp
  Source/JavaScriptCore/wasm/js/JSToWasm.cpp
  Source/JavaScriptCore/wasm/js/WasmToJS.cpp
Labels: JavaScriptCore, WebKit Nightly Build

#4908 SUMMARY element: click() for invisible SUMMARY should toggle DETAILS element
  LayoutTests/fast/html/summary-invisible-click-expected.txt
  LayoutTests/fast/html/summary-invisible-click.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/interactive-elements/the-summary-element/activation-behavior-expected.txt
  Source/WebCore/html/HTMLSummaryElement.cpp
Labels: merge-queue, Forms, WebKit Nightly Build

#4887 CoordinatedGraphicsLayer is missing ENABLE(SCROLLING_THREAD) guards
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedGraphicsLayer.cpp
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedGraphicsLayer.h
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#4884 [Cocoa] Instruct ArgumentCoderCocoa to use the full set of classes used by NSAttributedString
  Source/WebKit/Shared/Cocoa/ArgumentCodersCocoa.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/AdditionalReadAccessAllowedURLs.mm
Labels: merge-queue, WebKit2, WebKit Nightly Build

#4913 Fix !ENABLE(CONTEXT_MENUS) build after 255052@main
  Source/WebCore/platform/LocalizedStrings.cpp
  Source/WebCore/platform/LocalizedStrings.h
Labels: Tools / Tests, WebKit Nightly Build

#4916 Follow-up build fix for 4a38830.
  Source/WebKit/UIProcess/mac/DisplayCaptureSessionManager.mm
Labels: unsafe-merge-queue

#4856 [GTK] Remove internal nested wayland compositor
  Source/WebCore/PlatformGTK.cmake
  Source/WebCore/platform/graphics/wayland/PlatformDisplayWayland.cpp
  Source/WebCore/platform/graphics/wayland/PlatformDisplayWayland.h
  Source/WebKit/PlatformGTK.cmake
  Source/WebKit/Shared/CoordinatedGraphics/threadedcompositor/ThreadedCompositor.cpp
  Source/WebKit/Shared/gtk/WebKitWaylandProtocol.xml
  Source/WebKit/SourcesGTK.txt
  Source/WebKit/UIProcess/API/glib/WebKitProtocolHandler.cpp
  Source/WebKit/UIProcess/Launcher/glib/BubblewrapLauncher.cpp
  Source/WebKit/UIProcess/glib/WebProcessPoolGLib.cpp
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStore.cpp
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreWayland.cpp
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreWayland.h
  Source/WebKit/UIProcess/gtk/WaylandCompositor.cpp
  Source/WebKit/UIProcess/gtk/WaylandCompositor.h
  Source/WebKit/WebProcess/WebPage/AcceleratedSurface.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.cpp
  Source/WebKit/WebProcess/WebPage/gtk/AcceleratedSurfaceWayland.cpp
  Source/WebKit/WebProcess/WebProcess.h
  Source/WebKit/WebProcess/glib/WebProcessGLib.cpp
  Source/WebKit/WebProcess/gtk/WaylandCompositorDisplay.cpp
  Source/WebKit/WebProcess/gtk/WaylandCompositorDisplay.h
  Source/cmake/OptionsGTK.cmake
Labels: merge-queue, WebKitGTK, WebKit Nightly Build

#4661 [webkitpy] Add option to disable crash log gathering of expected crashes
  Tools/Scripts/webkitpy/layout_tests/run_webkit_tests.py
  Tools/Scripts/webkitpy/port/base.py
  Tools/Scripts/webkitpy/port/driver.py
Labels: Tools / Tests, WebKit Nightly Build

#4918 [GTK] Remove WaylandCompositorDisplay and AcceleratedSurfaceWayland after 255081@main
  Source/WebKit/SourcesGTK.txt
  Source/WebKit/WebProcess/WebPage/AcceleratedSurface.cpp
  Source/WebKit/WebProcess/WebPage/gtk/AcceleratedSurfaceWayland.cpp
  Source/WebKit/WebProcess/WebPage/gtk/AcceleratedSurfaceWayland.h
  Source/WebKit/WebProcess/WebProcess.cpp
  Source/WebKit/WebProcess/WebProcess.h
  Source/WebKit/WebProcess/glib/WebProcessGLib.cpp
  Source/WebKit/WebProcess/gtk/WaylandCompositorDisplay.cpp
  Source/WebKit/WebProcess/gtk/WaylandCompositorDisplay.h
Labels: unsafe-merge-queue, WebKitGTK, WebKit Nightly Build

#4846 [GTK] The Debug bot has issues starting and checking the Xvfb driver when running layout tests.
  Tools/Scripts/webkitpy/port/xvfbdriver.py
  Tools/Scripts/webkitpy/port/xvfbdriver_unittest.py
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#4899 Updating Text nodes children of an OPTION element should not reset selection of the owner SELECT element
  LayoutTests/fast/forms/select/select-selection-reset-by-option-text-expected.txt
  LayoutTests/fast/forms/select/select-selection-reset-by-option-text.html
  Source/WebCore/html/HTMLSelectElement.cpp
Labels: merge-queue, Forms, WebKit Nightly Build

#4925 [GStreamer][WebRTC] Require OpenSSL 3
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerWebRTCUtils.cpp
  Source/WebCore/PlatformGTK.cmake
  Source/WebCore/PlatformWPE.cmake
  Source/cmake/GStreamerChecks.cmake
Labels: Platform, WebKit Nightly Build

#4932 [Gardening]: New Tests(255047@main): [ iOS macOS ] 3X imported/w3c/web-platform-tests/feature-policy/(Layout tests) are constant failures
  LayoutTests/platform/ios-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#4929 [JSC] RISCV64 support for WebAssembly
  Source/JavaScriptCore/llint/WebAssembly64.asm
  Source/JavaScriptCore/offlineasm/riscv64.rb
  Source/WTF/wtf/PlatformEnable.h
Labels: merge-queue

#4895 Add _WKWebExtensionMatchPattern class.
  Source/WebKit/Platform/cocoa/CocoaHelpers.h
  Source/WebKit/Platform/cocoa/CocoaHelpers.mm
  Source/WebKit/Shared/API/APIObject.h
  Source/WebKit/Shared/Cocoa/APIObject.mm
  Source/WebKit/Shared/Cocoa/WKObject.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionMatchPattern.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionMatchPattern.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionMatchPatternInternal.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionMatchPatternPrivate.h
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionMatchPatternCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionMatchPattern.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/SourcesCocoa.txt
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionMatchPattern.mm
Labels: WebKit API, WebKit Local Build

#4068 Use StyleColor object instead of Color in WebCore
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/ComputedStyleExtractor.h
  Source/WebCore/css/SVGCSSComputedStyleDeclaration.cpp
  Source/WebCore/css/StyleColor.cpp
  Source/WebCore/css/StyleColor.h
  Source/WebCore/css/makeprop.pl
  Source/WebCore/dom/Document.h
  Source/WebCore/editing/EditingStyle.cpp
  Source/WebCore/editing/FrameSelection.cpp
  Source/WebCore/editing/cocoa/DataDetection.mm
  Source/WebCore/page/DragController.cpp
  Source/WebCore/rendering/RenderReplaced.cpp
  Source/WebCore/rendering/RenderThemeIOS.mm
  Source/WebCore/rendering/RenderTreeAsText.cpp
  Source/WebCore/rendering/StyledMarkedText.cpp
  Source/WebCore/rendering/style/BorderValue.cpp
  Source/WebCore/rendering/style/BorderValue.h
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/SVGRenderStyle.h
  Source/WebCore/rendering/style/SVGRenderStyleDefs.h
  Source/WebCore/rendering/style/StyleBackgroundData.h
  Source/WebCore/rendering/style/StyleInheritedData.h
  Source/WebCore/rendering/style/StyleMultiColData.h
  Source/WebCore/rendering/style/StyleRareInheritedData.cpp
  Source/WebCore/rendering/style/StyleRareInheritedData.h
  Source/WebCore/rendering/style/StyleRareNonInheritedData.h
  Source/WebCore/rendering/svg/RenderSVGResource.cpp
  Source/WebCore/style/StyleBuilderConverter.h
  Source/WebCore/style/StyleBuilderCustom.h
  Source/WebCore/style/StyleBuilderState.cpp
  Source/WebCore/style/StyleBuilderState.h
  Source/WebCore/svg/SVGFEDiffuseLightingElement.cpp
  Source/WebCore/svg/SVGFEDropShadowElement.cpp
  Source/WebCore/svg/SVGFEFloodElement.cpp
  Source/WebCore/svg/SVGFESpecularLightingElement.cpp
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
Labels: CSS, Other

#4940 [Gardening]: RE-REBASELINE(255032@main): [ iOS ] imported/w3c/web-platform-tests/screen-orientation/orientation-reading.html is a constant failure
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/screen-orientation/orientation-reading-expected.txt
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#4914 Keyboard scrolling spring damping animation doesn't finish and leads to endless flickering scrolling (229697)
  Source/WTF/Scripts/Preferences/WebPreferencesInternal.yaml
Labels: merge-queue, Scrolling, WebKit Nightly Build

#4892 Remove some dead code after Bug 245396
  Source/WebCore/plugins/PluginData.cpp
  Source/WebCore/plugins/PluginData.h
Labels: merge-queue, WebCore Misc., WebKit Nightly Build

#4948 [Gardening]: REGRESSION(255063@main): [ iOS ] editing/selection/ios/do-not-hide-selection-in-visible-container.html is a constant timeout
  LayoutTests/platform/ios-wk2/TestExpectations
Labels: New Bugs, WebKit Nightly Build

#4955 [Gardening]: REGRESSION(254847@main): [ iOS macOS ] imported/w3c/web-platform-tests/streams/readable-byte-streams/construct-byob-request.any.worker.html is a flaky failure
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#4956 REGRESSION (254919@main): [iPadOS] 5X scrolling related layout tests are constant failures
  LayoutTests/platform/ipad/TestExpectations
  LayoutTests/platform/ipad/compositing/overflow/scrolling-content-clip-to-viewport-expected.txt
  LayoutTests/platform/ipad/compositing/rtl/rtl-scrolling-with-transformed-descendants-expected.txt
  LayoutTests/platform/ipad/fast/scrolling/ios/overflow-scrolling-ancestor-clip-expected.txt
  LayoutTests/platform/ipad/fast/scrolling/ios/overflow-scrolling-ancestor-clip-size-expected.txt
  LayoutTests/platform/ipad/fast/scrolling/ios/subpixel-overflow-scrolling-with-ancestor-expected.txt
Labels: New Bugs, WebKit Nightly Build

#4909 [JSC] Introduce new_array_with_species bytecode and optimize it through all tiers
  JSTests/microbenchmarks/array-map.js
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/builtins/ArrayPrototype.js
  Source/JavaScriptCore/builtins/BuiltinNames.h
  Source/JavaScriptCore/bytecode/BytecodeIntrinsicRegistry.h
  Source/JavaScriptCore/bytecode/BytecodeList.rb
  Source/JavaScriptCore/bytecode/BytecodeUseDef.cpp
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/bytecode/LinkTimeConstant.h
  Source/JavaScriptCore/bytecode/Opcode.h
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.h
  Source/JavaScriptCore/bytecompiler/NodesCodegen.cpp
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
  Source/JavaScriptCore/dfg/DFGBackwardsPropagationPhase.cpp
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGClobberize.h
  Source/JavaScriptCore/dfg/DFGDoesGC.cpp
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGGraph.h
  Source/JavaScriptCore/dfg/DFGNode.cpp
  Source/JavaScriptCore/dfg/DFGNode.h
  Source/JavaScriptCore/dfg/DFGNodeType.h
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/dfg/DFGOperations.h
  Source/JavaScriptCore/dfg/DFGPredictionPropagationPhase.cpp
  Source/JavaScriptCore/dfg/DFGSafeToExecute.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT32_64.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/ftl/FTLCapabilities.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/jit/JIT.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter.asm
  Source/JavaScriptCore/runtime/ArrayPrototype.cpp
  Source/JavaScriptCore/runtime/ArrayPrototype.h
  Source/JavaScriptCore/runtime/ArrayPrototypeInlines.h
  Source/JavaScriptCore/runtime/CommonSlowPaths.cpp
  Source/JavaScriptCore/runtime/CommonSlowPaths.h
  Source/JavaScriptCore/runtime/JSArrayBufferPrototype.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
Labels: unsafe-merge-queue, JavaScriptCore, WebKit Nightly Build

#4960 [css-scroll-snap] Add check for element when setting scroll snap id and isFocused for render box
  Source/WebCore/page/scrolling/ScrollSnapOffsetsInfo.cpp
  Source/WebCore/platform/ScrollSnapAnimatorState.cpp
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#4963 Add myself to contributors.json.
  metadata/contributors.json
Labels: unsafe-merge-queue

#4922 NetworkStorageManager incorrectly accesses temporaryBlobPathsByConnection from multiple threads
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.h
Labels: merge-queue, Website Storage, Safari Technology Preview

#4851 Remove keyword values for mathsize when MathMLCore is enabled
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/lengths-1.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/lengths-2-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/lengths-2.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/mathsize-attribute-css-keywords.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/mathsize-attribute-legacy-values.html
  LayoutTests/mathml/presentation/attributes-mathsize.html
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/mathml/relations/css-styling/lengths-2-expected.txt
  Source/WebCore/mathml/MathMLElement.cpp
Labels: MathML, WebKit Nightly Build

#4828 WebCodecsVideoFrameInit.visibleRect is not required
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-canvasImageSource-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-construction.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-construction.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-construction.crossOriginIsolated.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-construction.crossOriginIsolated.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-construction.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-copyTo.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-copyTo.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-copyTo.crossOriginIsolated.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-copyTo.crossOriginIsolated.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-createImageBitmap.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-createImageBitmap.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-drawImage.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-drawImage.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-texImage.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-texImage.any.worker-expected.txt
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.idl
Labels: Media, WebKit Nightly Build

#4793 [GStreamer][MSE] Initialize duration to invalid
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.h
Labels: merge-queue, Media, WebKit Nightly Build

#4863 [WK2] Simplify IPC encoding, decoding of std::variant<> objects
  Source/WebKit/Platform/IPC/ArgumentCoders.h
Labels: WebKit2, WebKit Nightly Build

#4941 Add initial manifest parsing to the _WKWebExtension class.
  Source/WebCore/en.lproj/Localizable.strings
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtension.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtension.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionPermission.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionPermission.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionPrivate.h
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtension.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/SourcesCocoa.txt
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtension.mm
Labels: WebKit API, WebKit Local Build

#4939 Add search result summaries and query highlights
  Websites/webkit.org/wp-content/themes/webkit/header.php
  Websites/webkit.org/wp-content/themes/webkit/images/search.svg
  Websites/webkit.org/wp-content/themes/webkit/search.php
  Websites/webkit.org/wp-content/themes/webkit/style.css
Labels: unsafe-merge-queue, WebKit Website, WebKit Nightly Build

#4984 [JSC] Fix assertion failures on riscv64
  Source/WTF/wtf/PlatformCPU.h
Labels: unsafe-merge-queue

#4972 [web-animations] Animation.commitStyles() triggers a mutation even when the styles are unchanged
  LayoutTests/imported/w3c/web-platform-tests/web-animations/interfaces/Animation/commitStyles-expected.txt
  Source/WebCore/animation/WebAnimation.cpp
Labels: unsafe-merge-queue, Animations, Safari Technology Preview

#4968 Remove needsAppIdQuirks in 2023
  Source/WebCore/Modules/webauthn/AuthenticatorCoordinator.cpp
Labels: unsafe-merge-queue, WebCore Misc., WebKit Nightly Build

#4967 Make ResizeObserver and IntersectionObserver timing match other browsers
  LayoutTests/imported/w3c/web-platform-tests/resize-observer/ordering-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/resize-observer/ordering.html
  Source/WebCore/page/Page.cpp
Labels: unsafe-merge-queue, Layout and Rendering, WebKit Nightly Build

#4919 https://github.com/webrtc/samples/tree/gh-pages/src/content/insertable-streams/endtoend-encryption is super slow in STP
  LayoutTests/http/wpt/webrtc/audio-video-transform.js
  LayoutTests/http/wpt/webrtc/audiovideo-script-transform-expected.txt
  LayoutTests/http/wpt/webrtc/audiovideo-script-transform.html
  Source/WebCore/Modules/mediastream/RTCEncodedFrame.cpp
  Source/WebCore/Modules/mediastream/RTCEncodedFrame.h
  Source/WebCore/Modules/mediastream/RTCRtpSFrameTransform.cpp
  Source/WebCore/Modules/mediastream/RTCRtpScriptTransformer.cpp
Labels: merge-queue, WebRTC, WebKit Nightly Build

#4945 Allow font-variant east-asian shorthand in any position
  LayoutTests/fast/text/font-variant-shorthand-expected.txt
  LayoutTests/fast/text/font-variant-shorthand.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-variant-east-asian-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-variant-east-asian-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-variant-valid-expected.txt
  Source/WebCore/css/parser/CSSPropertyParser.cpp
Labels: WebCore Misc., WebKit Nightly Build

#4905 File inputs with added files show ugly UUID filenames after resuming
  Source/WebCore/html/FileInputType.cpp
  Source/WebCore/html/FileInputType.h
  Source/WebCore/html/HTMLInputElement.cpp
  Source/WebCore/rendering/RenderFileUploadControl.cpp
  Source/WebKit/UIProcess/ios/forms/WKFileUploadPanel.mm
Labels: merge-queue, Forms, WebKit Nightly Build

#4849 [Cocoa] Add the ability to perform line breaking via CFStringTokenizer
  PerformanceTests/Layout/chinese-line-breaking.html
  Source/WTF/WTF.xcodeproj/project.pbxproj
  Source/WTF/wtf/text/cf/TextBreakIteratorCF.h
  Source/WTF/wtf/text/cf/TextBreakIteratorCFCharacterCluster.h
  Source/WTF/wtf/text/cf/TextBreakIteratorCFStringTokenizer.h
  Source/WTF/wtf/text/cocoa/TextBreakIteratorInternalICUCocoa.cpp
Labels: Text, WebKit Nightly Build

#4993 [Gardening]: REGRESSION (255063@main ): [ Monterey ] fast/forms/button-sizes.html is a consistent failure
  LayoutTests/platform/mac-monterey/fast/forms/button-sizes-expected.txt
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#4987 [Flatpak SDK][GLIB] Try ostree fsck command when the flatpak update fails
  Tools/flatpak/flatpakutils.py
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#4998 [LBSE] Unreviewed gardening -- update text baseline if needed
  LayoutTests/platform/mac-monterey-wk2-lbse-text/TestExpectations
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/color-prop-01-b-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/W3C-SVG-1.1/pservers-grad-13-b-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/as-background-image/background-image-preserveaspectRatio-support-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/as-border-image/svg-as-border-image-2-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/as-border-image/svg-as-border-image-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/as-image/img-preserveAspectRatio-support-1-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/as-image/img-preserveAspectRatio-support-2-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/as-image/svg-non-integer-scaled-image-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/batik/paints/patternPreserveAspectRatioA-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/custom/bug45331-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/custom/scrolling-embedded-svg-file-image-repaint-problem-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/custom/svg-fonts-in-html-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/custom/svg-fonts-with-no-element-reference-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/custom/svg-fonts-without-missing-glyph-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/custom/use-on-symbol-inside-pattern-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/hixie/text/003-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/wicd/sizing-flakiness-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/wicd/test-rightsizing-b-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/wicd/test-scalable-background-image1-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/wicd/test-scalable-background-image2-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-background-image-tiled-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-background-images-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-svg-as-background-with-relative-size-and-viewBox-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-svg-as-background-with-relative-size-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-svg-as-image-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-svg-as-relative-image-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-svg-through-object-with-absolute-size-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-svg-through-object-with-huge-size-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/zoom/page/zoom-svg-through-object-with-percentage-size-expected.txt
Labels: unsafe-merge-queue, SVG, WebKit Local Build

#3791 [Curl] Represent IPv6 addresses according to RFC 5952 addressing architecture
  Source/WebCore/platform/network/curl/OpenSSLHelper.cpp
  Source/WebCore/platform/network/curl/OpenSSLHelper.h
  Tools/TestWebKitAPI/PlatformPlayStation.cmake
  Tools/TestWebKitAPI/PlatformWin.cmake
  Tools/TestWebKitAPI/Tests/WebCore/curl/OpenSSLHelperTests.cpp
Labels: merge-queue

#4947 [webkitbugspy] Strip <> from radar links
  Tools/Scripts/libraries/webkitbugspy/setup.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/__init__.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/radar.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tests/bugzilla_unittest.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tests/radar_unittest.py
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/branch_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/cherry_pick_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/pull_request_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/trace_unittest.py
Labels: unsafe-merge-queue, Tools / Tests, Other

#5006 Temporarily re-add _WKUserContentFilter and _WKUserContentExtensionStore
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/API/Cocoa/WKUserContentController.mm
  Source/WebKit/UIProcess/API/Cocoa/WKUserContentControllerPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/_WKUserContentExtensionStore.h
  Source/WebKit/UIProcess/API/Cocoa/_WKUserContentExtensionStore.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKUserContentExtensionStoreInternal.h
  Source/WebKit/UIProcess/API/Cocoa/_WKUserContentExtensionStorePrivate.h
  Source/WebKit/UIProcess/API/Cocoa/_WKUserContentFilter.h
  Source/WebKit/UIProcess/API/Cocoa/_WKUserContentFilter.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKUserContentFilterInternal.h
  Source/WebKit/UIProcess/API/Cocoa/_WKUserContentFilterPrivate.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: merge-queue, WebKit API, WebKit Local Build

#5010 REGRESSION (254408@main): [iOS16 Release arm64] 2x css3/filters/(Layout tests) are constant failures
  LayoutTests/css3/filters/effect-brightness-hw.html
  LayoutTests/css3/filters/effect-invert-hw.html
  LayoutTests/platform/ios-wk2/TestExpectations
Labels: merge-queue, New Bugs, WebKit Nightly Build

#5009 Allow generated serialization of nested classes
  Source/WebCore/Modules/applicationmanifest/ApplicationManifest.h
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.cpp
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.h
  Source/WebKit/Scripts/webkit/tests/SerializedTypeInfo.cpp
  Source/WebKit/Scripts/webkit/tests/TestSerializedType.serialization.in
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Labels: merge-queue, WebKit2, WebKit Local Build

#4981 [css-typed-om] css/css-typed-om/stylevalue-subclasses/cssTranslate.tentative.html has failures
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssTranslate.tentative-expected.txt
  Source/WebCore/css/typedom/transform/CSSTranslate.cpp
  Source/WebCore/css/typedom/transform/CSSTranslate.h
Labels: unsafe-merge-queue, CSS, Safari Technology Preview

#4951 [ New Test ] (250315@main): [ macOS Debug ] TestWTF.WTF_SuspendableWorkQueue.Suspend is a flaky failure
  Tools/TestWebKitAPI/Tests/WTF/SuspendableWorkQueue.cpp
Labels: merge-queue, Website Storage, WebKit Nightly Build

#4830 WTFReportBacktrace fails to print backtrace and crashes on ASAN
  Source/JavaScriptCore/b3/B3Value.cpp
  Source/JavaScriptCore/heap/VerifierSlotVisitor.cpp
  Source/JavaScriptCore/inspector/JSGlobalObjectInspectorController.cpp
  Source/JavaScriptCore/runtime/ExceptionScope.cpp
  Source/JavaScriptCore/runtime/SamplingProfiler.cpp
  Source/JavaScriptCore/runtime/VM.cpp
  Source/WTF/wtf/Assertions.cpp
  Source/WTF/wtf/Assertions.h
  Source/WTF/wtf/StackCheck.cpp
  Source/WTF/wtf/StackShotProfiler.h
  Source/WTF/wtf/StackTrace.cpp
  Source/WTF/wtf/StackTrace.h
  Source/WTF/wtf/win/DbgHelperWin.h
  Tools/TestWebKitAPI/CMakeLists.txt
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WTF/StackTraceTest.cpp
Labels: Safari Technology Preview

#3608 WebGLRenderingContextBase::readPixels should early reject FLOAT_32_UNSIGNED_INT_24_8_REV type
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
Labels: WebGL, Other

#5018 [css-typed-om] css/css-typed-om/stylevalue-subclasses/cssSkewX.tentative.html has failures
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssSkewX.tentative-expected.txt
  Source/WebCore/css/typedom/transform/CSSSkewX.cpp
  Source/WebCore/css/typedom/transform/CSSSkewX.h
Labels: CSS, Safari Technology Preview

#5022 Update WebGL conformance tests 2022-10-05
  LayoutTests/webgl/2.0.y/conformance2/extensions/ext-provoking-vertex-expected.txt
  LayoutTests/webgl/2.0.y/conformance2/extensions/ext-provoking-vertex.html
Labels: merge-queue, WebGL, Safari Technology Preview

#4329 Implement font-synthesis longhand properties
  LayoutTests/fast/css/getComputedStyle/computed-style-expected.txt
  LayoutTests/fast/css/getComputedStyle/computed-style-font-family-expected.txt
  LayoutTests/fast/css/getComputedStyle/computed-style-without-renderer-expected.txt
  LayoutTests/fast/css/getComputedStyle/resources/property-names.js
  LayoutTests/fast/css3-text/font-synthesis-parse-expected.txt
  LayoutTests/fast/css3-text/font-synthesis-parse.html
  LayoutTests/imported/w3c/resources/import-expectations.json
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/all-prop-revert-layer-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-synthesis-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-synthesis-computed.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-synthesis-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-synthesis-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-synthesis-small-caps-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-synthesis-small-caps-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-synthesis-small-caps-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-synthesis-small-caps-valid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-synthesis-style-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-synthesis-style-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-synthesis-style-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-synthesis-style-valid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-synthesis-weight-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-synthesis-weight-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-synthesis-weight-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-synthesis-weight-valid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-pseudo/parsing/marker-supported-properties-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-pseudo/parsing/marker-supported-properties-in-animation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-detached-subtree-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-pseudo-expected.txt
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-detached-subtree-expected.txt
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-pseudo-expected.txt
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-pseudo-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-detached-subtree-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/css/css-cascade/all-prop-revert-layer-expected.txt
  LayoutTests/svg/css/getComputedStyle-basic-expected.txt
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/css/CSSPrimitiveValueMappings.h
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/CSSSegmentedFontFace.cpp
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/StyleProperties.cpp
  Source/WebCore/css/StyleProperties.h
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/css/parser/CSSPropertyParser.h
  Source/WebCore/platform/graphics/ComplexTextController.cpp
  Source/WebCore/platform/graphics/FontCascadeCache.h
  Source/WebCore/platform/graphics/FontCascadeDescription.h
  Source/WebCore/platform/graphics/FontDescription.cpp
  Source/WebCore/platform/graphics/FontDescription.h
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/freetype/FontCacheFreeType.cpp
  Source/WebCore/platform/text/TextFlags.h
  Source/WebCore/style/PropertyAllowlist.cpp
  Source/WebCore/style/StyleBuilderConverter.h
  Source/WebInspectorUI/UserInterface/External/CSSDocumentation/CSSDocumentation-overrides.json
  Source/WebInspectorUI/UserInterface/Models/CSSKeywordCompletions.js
Labels: CSS, WebKit Nightly Build

#4372 [JSC] Implement support for class static initialization blocks
  JSTests/ChakraCore/test/es6/globalCatchNewTargetSyntaxError.baseline-jsc
  JSTests/ChakraCore/test/es6/globalNewTargetSyntaxError.baseline-jsc
  JSTests/ChakraCore/test/es6/globalParamCatchNewTargetSyntaxError.baseline-jsc
  JSTests/stress/class-static-block.js
  JSTests/stress/code-cache-incorrect-caching.js
  JSTests/stress/modules-syntax-error.js
  JSTests/test262/config.yaml
  Source/JavaScriptCore/bytecompiler/NodesCodegen.cpp
  Source/JavaScriptCore/parser/ASTBuilder.h
  Source/JavaScriptCore/parser/NodeConstructors.h
  Source/JavaScriptCore/parser/Nodes.h
  Source/JavaScriptCore/parser/Parser.cpp
  Source/JavaScriptCore/parser/Parser.h
  Source/JavaScriptCore/parser/ParserModes.h
  Source/JavaScriptCore/parser/SyntaxChecker.h
  Source/JavaScriptCore/runtime/FunctionExecutable.cpp
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#5007 Remove some user-specific data from WebKitTestRunner.xcscheme
  Tools/WebKitTestRunner/WebKitTestRunner.xcodeproj/xcshareddata/xcschemes/WebKitTestRunner.xcscheme
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#5033 Fix typo plartformAccessibilityBusAddress -> platformAccessibilityBusAddress
  Source/WebCore/platform/graphics/PlatformDisplay.cpp
  Source/WebCore/platform/graphics/PlatformDisplay.h
  Source/WebCore/platform/graphics/x11/PlatformDisplayX11.cpp
  Source/WebCore/platform/graphics/x11/PlatformDisplayX11.h
Labels: merge-queue, WebKitGTK, WebKit Nightly Build

#4799 Add RenderBox::lastLineBaseline and implementation for block flow objects
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.cpp
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.h
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderBlock.h
  Source/WebCore/rendering/RenderBlockFlow.cpp
  Source/WebCore/rendering/RenderBlockFlow.h
  Source/WebCore/rendering/RenderBox.h
Labels: CSS, WebKit Nightly Build

#5040 Unreviewed build fix after 255149@main
  Source/WebKit/UIProcess/Cocoa/WebProcessProxyCocoa.mm
Labels: unsafe-merge-queue, WebKit2, WebKit Nightly Build

#4997 [Xcode] Link against bmalloc at an exact path
  Source/JavaScriptCore/Configurations/JavaScriptCore.xcconfig
  Source/WTF/WTF.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/lldb/lldbWebKitTester/lldbWebKitTester.xcodeproj/project.pbxproj
Labels: merge-queue

#5008 [JSC][uDFG] Introduce unlinked CallLinkInfo in DFG
  Source/JavaScriptCore/bytecode/AccessCase.cpp
  Source/JavaScriptCore/bytecode/CallLinkInfo.cpp
  Source/JavaScriptCore/bytecode/CallLinkInfo.h
  Source/JavaScriptCore/bytecode/ProxyObjectAccessCase.cpp
  Source/JavaScriptCore/dfg/DFGCommonData.h
  Source/JavaScriptCore/dfg/DFGJITCode.cpp
  Source/JavaScriptCore/dfg/DFGJITCode.h
  Source/JavaScriptCore/dfg/DFGJITCompiler.cpp
  Source/JavaScriptCore/dfg/DFGJITCompiler.h
  Source/JavaScriptCore/dfg/DFGPlan.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT32_64.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/ftl/FTLState.cpp
  Source/JavaScriptCore/ftl/FTLState.h
  Source/JavaScriptCore/jit/BaselineJITCode.h
  Source/JavaScriptCore/jit/JIT.cpp
  Source/JavaScriptCore/jit/JIT.h
  Source/JavaScriptCore/jit/JITCall.cpp
  Source/JavaScriptCore/wasm/js/WasmToJS.cpp
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#5027 [css-typed-om] Implement CSSScale::toMatrix()
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssTransformComponent-toMatrix-expected.txt
  Source/WebCore/css/typedom/transform/CSSScale.cpp
Labels: unsafe-merge-queue, CSS, Safari Technology Preview

#5030 [css-typed-om] Implement CSSSkewY::toMatrix()
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssTransformComponent-toMatrix-expected.txt
  Source/WebCore/css/typedom/transform/CSSSkewY.cpp
Labels: CSS, Safari Technology Preview

#5031 [css-typed-om] Implement CSSRotate::toMatrix()
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssTransformComponent-toMatrix-expected.txt
  Source/WebCore/css/typedom/transform/CSSRotate.cpp
Labels: unsafe-merge-queue, CSS, Safari Technology Preview

#5032 [css-typed-om] Implement CSSPerspective::toMatrix()
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/stylevalue-subclasses/cssTransformComponent-toMatrix-expected.txt
  Source/WebCore/css/typedom/transform/CSSPerspective.cpp
Labels: unsafe-merge-queue, CSS, Safari Technology Preview

#4931 [PlayStation] Provide defaults in WebsiteDataStore
  Source/WebKit/UIProcess/WebsiteData/playstation/WebsiteDataStorePlayStation.cpp
Labels: Platform, WebKit Nightly Build

#4845 REGRESSION (iOS 16): New context menu (UIEditMenuInteraction) can't be disabled
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/ios/WebPageProxyIOS.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/iOSMouseSupport.mm
Labels: merge-queue, UI Events, Other

#5051 Fix MiniBrowser build with stricter C warnings (take 2)
  Tools/MiniBrowser/mac/WK2BrowserWindowController.m
Labels: unsafe-merge-queue, New Bugs, WebKit Local Build

#4990 Add a log channel for IntersectionObserver
  Source/WebCore/dom/DOMRectReadOnly.h
  Source/WebCore/loader/ImageLoader.cpp
  Source/WebCore/page/IntersectionObserver.cpp
  Source/WebCore/page/IntersectionObserverEntry.cpp
  Source/WebCore/page/IntersectionObserverEntry.h
  Source/WebCore/platform/Logging.h
Labels: DOM, Safari Technology Preview

#4803 [macOS] Stop leaking a boost on GPU and Network processes
  Source/WebKit/GPUProcess/EntryPoint/Cocoa/XPCService/GPUServiceEntryPoint.mm
  Source/WebKit/NetworkProcess/EntryPoint/Cocoa/XPCService/NetworkService/Info-OSX.plist
  Source/WebKit/NetworkProcess/EntryPoint/Cocoa/XPCService/NetworkServiceEntryPoint.mm
  Source/WebKit/Shared/AuxiliaryProcess.cpp
  Source/WebKit/Shared/AuxiliaryProcess.h
  Source/WebKit/Shared/Cocoa/AuxiliaryProcessCocoa.mm
  Source/WebKit/Shared/EntryPointUtilities/Cocoa/XPCService/XPCServiceEntryPoint.h
  Source/WebKit/Shared/EntryPointUtilities/Cocoa/XPCService/XPCServiceEntryPoint.mm
  Source/WebKit/Shared/EntryPointUtilities/Cocoa/XPCService/XPCServiceMain.mm
  Source/WebKit/UIProcess/Launcher/cocoa/ProcessLauncherCocoa.mm
  Source/WebKit/WebProcess/EntryPoint/Cocoa/XPCService/WebContentServiceEntryPoint.mm
Labels: WebKit Process Model, WebKit Nightly Build

#5050 Fixed the search icon color in the navigation header
  Websites/webkit.org/wp-content/themes/webkit/header.php
  Websites/webkit.org/wp-content/themes/webkit/style.css
Labels: unsafe-merge-queue, WebKit Website, WebKit Nightly Build

#5059 Web Inspector: Inline breakpoint indicators appear for every line after refresh+hitting a breakpoint
  Source/WebInspectorUI/UserInterface/Views/SourceCodeTextEditor.js
Labels: unsafe-merge-queue, Web Inspector, WebKit Nightly Build

#5013 [iOS] Background for multi-file upload icon is drawn incorrectly
  Source/WebCore/rendering/RenderThemeIOS.mm
Labels: merge-queue, Forms, WebKit Nightly Build

#5062 Fix build errors associated with disabling ORIENTATION_EVENTS
  Source/WebKit/WebProcess/WebCoreSupport/ios/WebChromeClientIOS.mm
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Source/WebKitLegacy/mac/WebView/WebFrame.mm
Labels: merge-queue, DOM, WebKit Local Build

#5053 Generate more IPC serialization code from WebCore/Modules
  Source/WebCore/Headers.cmake
  Source/WebCore/Modules/cache/DOMCacheEngine.h
  Source/WebCore/Modules/cache/RetrieveRecordsOptions.h
  Source/WebCore/Modules/contact-picker/ContactInfo.h
  Source/WebCore/Modules/contact-picker/ContactsRequestData.h
  Source/WebCore/Modules/mediasession/MediaImage.h
  Source/WebCore/Modules/mediasession/MediaMetadataInit.h
  Source/WebCore/Modules/mediasession/MediaPositionState.h
  Source/WebCore/Modules/mediastream/DetachedRTCDataChannel.h
  Source/WebCore/Modules/model-element/HTMLModelElementCamera.h
  Source/WebCore/Modules/notifications/NotificationData.h
  Source/WebCore/Modules/permissions/PermissionDescriptor.h
  Source/WebCore/Modules/push-api/PushSubscriptionData.h
  Source/WebCore/Modules/reporting/DeprecationReportBody.h
  Source/WebCore/Modules/reporting/Report.cpp
  Source/WebCore/Modules/reporting/Report.h
  Source/WebCore/Modules/reporting/TestReportBody.h
  Source/WebCore/Modules/speech/SpeechRecognitionError.h
  Source/WebCore/Modules/speech/SpeechRecognitionRequestInfo.h
  Source/WebCore/Modules/speech/SpeechRecognitionResultData.h
  Source/WebCore/Modules/web-locks/WebLockManagerSnapshot.h
  Source/WebCore/Modules/webauthn/AuthenticationExtensionsClientInputs.h
  Source/WebCore/Modules/webauthn/AuthenticationExtensionsClientOutputs.h
  Source/WebCore/Modules/webauthn/PublicKeyCredentialCreationOptions.h
  Source/WebCore/Modules/webauthn/PublicKeyCredentialDescriptor.h
  Source/WebCore/Modules/webauthn/PublicKeyCredentialRequestOptions.h
  Source/WebCore/bindings/js/SerializedScriptValue.h
  Source/WebKit/Platform/IPC/DaemonCoders.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Labels: unsafe-merge-queue, WebKit Misc., WebKit Local Build

#4959 Remove WebCertificateInfo
  Source/WebCore/platform/network/cf/CertificateInfo.h
  Source/WebCore/platform/network/curl/CertificateInfo.h
  Source/WebCore/platform/network/soup/CertificateInfo.h
  Source/WebKit/Shared/API/c/WKCertificateInfo.cpp
  Source/WebKit/Shared/API/c/WKCertificateInfo.h
  Source/WebKit/Shared/API/c/WKSharedAPICast.h
  Source/WebKit/Shared/API/c/curl/WKCertificateInfoCurl.cpp
  Source/WebKit/Shared/API/c/curl/WKCertificateInfoCurl.h
  Source/WebKit/Shared/UserData.cpp
  Source/WebKit/Shared/WebCertificateInfo.h
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/API/C/WKAuthenticationChallenge.cpp
  Source/WebKit/UIProcess/API/C/WKContext.cpp
  Source/WebKit/UIProcess/API/C/WKCredential.cpp
  Source/WebKit/UIProcess/API/C/curl/WKProtectionSpaceCurl.cpp
  Source/WebKit/UIProcess/API/C/curl/WKProtectionSpaceCurl.h
  Source/WebKit/UIProcess/API/C/mac/WKFrameMac.cpp
  Source/WebKit/UIProcess/API/C/mac/WKPagePrivateMac.mm
  Source/WebKit/UIProcess/API/Cocoa/WKBrowsingContextController.mm
  Source/WebKit/UIProcess/API/Cocoa/WKNSURLAuthenticationChallenge.mm
  Source/WebKit/UIProcess/API/Cocoa/WKProcessGroup.mm
  Source/WebKit/UIProcess/API/Cocoa/WKProcessPool.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/glib/WebKitWebContext.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebView.cpp
  Source/WebKit/UIProcess/Authentication/AuthenticationChallengeProxy.cpp
  Source/WebKit/UIProcess/Authentication/AuthenticationDecisionListener.cpp
  Source/WebKit/UIProcess/Authentication/WebCredential.cpp
  Source/WebKit/UIProcess/Authentication/WebCredential.h
  Source/WebKit/UIProcess/Authentication/mac/WebCredentialMac.mm
  Source/WebKit/UIProcess/PageLoadState.cpp
  Source/WebKit/UIProcess/PageLoadState.h
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/ios/forms/WKFileUploadPanel.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/InjectedBundle/InjectedBundle.h
Labels: unsafe-merge-queue, WebKit Misc., WebKit Local Build

#5067 Fix build with stricter C warnings
  Source/ThirdParty/libwebrtc/Source/third_party/libsrtp/crypto/kernel/crypto_kernel.c
  Source/ThirdParty/libwebrtc/Source/third_party/libsrtp/crypto/kernel/err.c
  Source/ThirdParty/libwebrtc/Source/third_party/libsrtp/srtp/srtp.c
  Source/ThirdParty/libwebrtc/Source/third_party/pffft/src/pffft.c
  Source/ThirdParty/libwebrtc/Source/third_party/usrsctp/usrsctplib/usrsctplib/netinet/sctp_pcb.c
  Source/ThirdParty/libwebrtc/Source/third_party/usrsctp/usrsctplib/usrsctplib/netinet/sctp_sysctl.c
  Source/bmalloc/libpas/src/libpas/pas_large_sharing_pool.c
  Source/bmalloc/libpas/src/libpas/pas_probabilistic_guard_malloc_allocator.c
  Source/bmalloc/libpas/src/libpas/pas_thread_local_cache.c
  Source/bmalloc/libpas/src/libpas/pas_thread_local_cache_layout.c
  Source/bmalloc/libpas/src/libpas/pas_utils.c
Labels: merge-queue, New Bugs, WebKit Nightly Build

#4975 [GStreamer][WebRTC] Set MTU to 1200 on RTP payloaders
  Source/WebCore/platform/mediastream/gstreamer/RealtimeOutgoingAudioSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeOutgoingVideoSourceGStreamer.cpp
Labels: Platform, WebKit Nightly Build

#5076 REGRESSION(255206@main) [GLIB] WebKitTestRunner crash with g_tls_certificate_is_same: assertion 'G_IS_TLS_CERTIFICATE (cert_one)' failed
  Source/WebCore/platform/network/soup/CertificateInfo.h
Labels: unsafe-merge-queue, WebKitGTK, WebKit Nightly Build

#5011 [GLib] D-Bus proxy quietly fails if host session bus address is an abstract socket
  Source/WebKit/UIProcess/Launcher/glib/BubblewrapLauncher.cpp
  Source/WebKit/UIProcess/Launcher/glib/XDGDBusProxy.cpp
  Source/WebKit/UIProcess/Launcher/glib/XDGDBusProxy.h
Labels: merge-queue, WebKitGTK, WebKit Nightly Build

#5087 REGRESSION(r275515) [WPE] accessibility/aria-modal.html is timing out
  LayoutTests/platform/wpe/TestExpectations
Labels: unsafe-merge-queue, Accessibility, WebKit Nightly Build

#5061 Address search input and search result layout issues
  Websites/webkit.org/wp-content/themes/webkit/404.php
  Websites/webkit.org/wp-content/themes/webkit/header.php
  Websites/webkit.org/wp-content/themes/webkit/style.css
Labels: WebKit Website, WebKit Nightly Build

#5092 Add David Degazio as contributor
  metadata/contributors.json
Labels: unsafe-merge-queue

#4950 stagent.dev: Clicking email field on sign up form does not allow input until you click a second time
  LayoutTests/fast/forms/auto-fill-button/show-auto-fill-button-while-selection-inside-field-expected.txt
  LayoutTests/fast/forms/auto-fill-button/show-auto-fill-button-while-selection-inside-field.html
  Source/WebCore/html/HTMLTextFormControlElement.h
  Source/WebCore/html/TextFieldInputType.cpp
Labels: merge-queue, Forms, Other

#5088 Fix build on compilers without std::experimental::coroutine
  Tools/TestWebKitAPI/cocoa/HTTPServer.h
  Tools/TestWebKitAPI/cocoa/HTTPServer.mm
Labels: unsafe-merge-queue, Tools / Tests, WebKit Local Build

#5064 Disable ModelDocument everywhere
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
Labels: merge-queue, WebGL, WebKit Nightly Build

#5102 [Gardening]: REGRESSION(255205@main): [ macOS iOS Release ] 4X http/wpt/webauthn/public-key-credential(Layout tests) are constant crashes
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#5094 [ Windows Debug ] jscore-tests fail
  Tools/CISupport/build-webkit-org/steps.py
Labels: merge-queue, New Bugs, WebKit Nightly Build

#5054 Incorrect event.keyIdentifier value for F10 and F11 keys
  Source/WebCore/platform/win/KeyEventWin.cpp
Labels: merge-queue, WebKit Nightly Build

#4400 Add debug logging for process and page state
  Source/WTF/wtf/MemoryPressureHandler.cpp
  Source/WTF/wtf/MemoryPressureHandler.h
  Source/WebCore/page/MemoryRelease.cpp
  Source/WebCore/platform/CountedUserActivity.h
  Source/WebCore/platform/Logging.h
  Source/WebCore/platform/UserActivity.cpp
  Source/WebCore/platform/UserActivity.h
  Source/WebCore/platform/mac/UserActivityMac.mm
  Source/WebCore/platform/mediastream/cocoa/DisplayCaptureSourceCocoa.cpp
  Source/WebKit/Shared/AuxiliaryProcess.cpp
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/UIProcess/ProcessAssertion.cpp
  Source/WebKit/UIProcess/ProcessAssertion.h
  Source/WebKit/UIProcess/ProcessThrottler.cpp
  Source/WebKit/UIProcess/ProcessThrottler.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebProcess.cpp
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Labels: WebKit Process Model, WebKit Nightly Build

#5106 Update API test after 255206@main
  Tools/TestWebKitAPI/Tests/WebKit/PageLoadState.cpp
Labels: unsafe-merge-queue, Tools / Tests, WebKit Local Build

#5082 [GLib] Implement FileSystem::fileCreationTime()
  Source/WTF/wtf/glib/FileSystemGlib.cpp
Labels: merge-queue, WebKit Nightly Build

#4708 [git-webkit] Pull branch name from commit message
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/commit.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/commit_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/pull_request_unittest.py
Labels: Tools / Tests, WebKit Nightly Build

#5115 Setup and add EWS116 to API-Tests-macOS-EWS
  Tools/CISupport/ews-build/config.json
Labels: unsafe-merge-queue

#5084 Port TextFlags encoders/decoders over to the new serialization format
  Source/WebCore/platform/text/TextFlags.h
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Shared/TextFlags.serialization.in
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: merge-queue, WebKit Process Model, Other

#5117 Update my email alias.
  metadata/contributors.json
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#5121 Update djg's expertise
  metadata/contributors.json
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#5090 Update css/css-transforms WPT
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/animation/translate-interpolation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/animation/translate-interpolation.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/change-perspective-property-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/change-perspective-property.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/change-transform-origin-property-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/change-transform-origin-property.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/individual-transform/change-rotate-property-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/individual-transform/change-rotate-property.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/individual-transform/change-scale-property-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/individual-transform/change-scale-property.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/individual-transform/change-translate-property-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/individual-transform/change-translate-property.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/individual-transform/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/rotate/svg-rotate-angle-45-001.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/rotate/svg-rotate-angle-45-011.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/rotate/svg-rotate-angle-45-022.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/scroll-preserve-3d-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/scroll-preserve-3d.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/support/transform-triangle-left-small.svg
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/support/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform-background-003.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform-background-004.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform-background-007-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform-background-007.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform-background-008-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform-background-008.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform-root-bg-001-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform-root-bg-001-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform-root-bg-001.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform-root-bg-002-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform-root-bg-003-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform-root-bg-003-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform-root-bg-003.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform-translate-background-001.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform-translate-background-002.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform3d-perspective-002.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform3d-preserve3d-006.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform3d-preserve3d-007.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform3d-preserve3d-008.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform3d-preserve3d-009.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform3d-preserve3d-013.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform3d-scale-001.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform3d-scale-002.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform3d-scale-003.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform3d-scale-005.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/transform3d-scale-006.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/ttwf-css-3d-polygon-cycle.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/w3c-import.log
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/ios/TestExpectations
Labels: merge-queue, CSS, WebKit Nightly Build

#5128 REGRESSION(255128@main): [ macOS Debug ] TestWTF.WTF_RunLoop.CapabilityIsCurrentNegativeDeathTest is a constant failure
  Tools/TestWebKitAPI/Tests/WTF/RunLoop.cpp
Labels: merge-queue, New Bugs, WebKit Nightly Build

#5093 [JSC] Use "short" for "digital" style in Intl.DurationFormat
  JSTests/stress/intl-durationformat-digital.js
  JSTests/stress/intl-durationformat-format-to-parts.js
  Source/JavaScriptCore/runtime/IntlDurationFormat.cpp
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#3605 WebGLRenderingContextBase::readPixels should allow null pixels on the IDL level
  LayoutTests/TestExpectations
  Source/WebCore/html/canvas/WebGL2RenderingContext.cpp
  Source/WebCore/html/canvas/WebGL2RenderingContext.h
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
  Source/WebCore/html/canvas/WebGLRenderingContextBase.idl
Labels: WebGL, Other

#5101 [ANGLE] Fix link order error with libdl
  Source/ThirdParty/ANGLE/CMakeLists.txt
Labels: merge-queue

#5035 Fix WebCodecsVideoDecoder isValidDecoderConfig
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-decoder.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-decoder.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any.worker_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any.worker_h264_avc-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any.worker_vp8-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any.worker_vp9-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any_h264_avc-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any_vp8-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any_vp9-expected.txt
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoder.cpp
Labels: merge-queue, Media, WebKit Nightly Build

#5129 Add missing include that broke all linux builds
  Source/WebCore/css/FontFace.h
Labels: unsafe-merge-queue, CSS, WebKit Nightly Build

#4977 Set empty string for reflection of IDREF attributes
  LayoutTests/accessibility/ARIA-reflection-expected.txt
  LayoutTests/accessibility/ARIA-reflection.html
  LayoutTests/fast/custom-elements/reactions-for-aria-element-attributes.html
  LayoutTests/imported/w3c/web-platform-tests/html/dom/aria-element-reflection-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/dom/aria-element-reflection.html
  Source/WebCore/dom/Element.cpp
Labels: merge-queue, Accessibility, WebKit Nightly Build

#5125 Fix the redundant move build warnings since 254713,175338@main
  Source/WebCore/platform/WebCorePersistentCoders.cpp
Labels: unsafe-merge-queue

#5060 Add SPI to create _WKWebsiteDataStoreConfiguration with identifier
  Source/WTF/wtf/UUID.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebsiteDataStoreConfiguration.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebsiteDataStoreConfiguration.mm
  Source/WebKit/UIProcess/WebsiteData/Cocoa/WebsiteDataStoreCocoa.mm
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.h
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStoreConfiguration.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStoreConfiguration.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebsiteDataStoreCustomPaths.mm
Labels: merge-queue, WebKit API, WebKit Nightly Build

#4885 Send bogus registration if no credentials match for U2F authenticators
  LayoutTests/http/wpt/webauthn/public-key-credential-get-failure-u2f-silent.https.html
  LayoutTests/http/wpt/webauthn/public-key-credential-get-failure-u2f.https.html
  Source/WebKit/UIProcess/WebAuthentication/fido/U2fAuthenticator.cpp
  Source/WebKit/UIProcess/WebAuthentication/fido/U2fAuthenticator.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/web-authentication-get-assertion-u2f-no-credentials.html
Labels: WebKit Misc., WebKit Nightly Build

#5020 WTF::ThreadAssertion is not useful as most of the code is run with a WorkQueue
  Source/WTF/wtf/MainThread.h
  Source/WTF/wtf/ThreadAssertions.h
  Source/WTF/wtf/Threading.cpp
  Source/WTF/wtf/Threading.h
  Source/WTF/wtf/WorkQueue.h
  Source/WTF/wtf/cocoa/WorkQueueCocoa.cpp
  Source/WTF/wtf/generic/MainThreadGeneric.cpp
  Source/WTF/wtf/generic/WorkQueueGeneric.cpp
  Source/WTF/wtf/win/MainThreadWin.cpp
  Source/WebCore/platform/graphics/mac/DisplayConfigurationMonitor.cpp
  Source/WebKit/GPUProcess/media/RemoteVideoFrameObjectHeap.cpp
  Source/WebKit/GPUProcess/webrtc/RemoteSampleBufferDisplayLayer.h
  Tools/TestWebKitAPI/Tests/WTF/ThreadAssertionsTest.cpp
  Tools/TestWebKitAPI/Tests/WTF/WorkQueue.cpp
Labels: merge-queue, Other

#5123 [JSC] Update Intl.NumberFormat's useGrouping handling
  JSTests/stress/intl-numberformat-usegrouping-v3.js
  JSTests/test262/expectations.yaml
  Source/JavaScriptCore/runtime/IntlNumberFormat.cpp
  Source/JavaScriptCore/runtime/IntlObjectInlines.h
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#5144 Debug build fix after 255274@main
  Source/WTF/wtf/generic/WorkQueueGeneric.cpp
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#5096 Support GitHub Release Asset Downloads
  Tools/Scripts/libraries/webkitcorepy/setup.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/__init__.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/mocks/requests_.py
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/mocks/remote/git_hub.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/remote/git_hub.py
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#5133 Make use of crc32c to compute dcsctp checksum
  Source/ThirdParty/libwebrtc/Source/webrtc/net/dcsctp/packet/crc32c.cc
Labels: merge-queue, WebRTC, WebKit Nightly Build

#5138 [GPU Process] Refactor some logic in StreamConnectionBuffer::decode()
  Source/WebKit/Platform/IPC/StreamConnectionBuffer.cpp
  Source/WebKit/Platform/IPC/StreamConnectionBuffer.h
Labels: merge-queue, WebKit Misc., WebKit Nightly Build

#5127 [JSC] Optimize 3~ parameter Math.min / Math.max
  JSTests/stress/arith-min-max-multiple-constant-fold.js
  JSTests/stress/arith-min-max-multiple.js
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
  Source/JavaScriptCore/dfg/DFGArgumentsUtilities.cpp
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGClobberize.h
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGGraph.h
  Source/JavaScriptCore/dfg/DFGNodeType.h
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/dfg/DFGOperations.h
  Source/JavaScriptCore/dfg/DFGPredictionPropagationPhase.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/dfg/DFGValidate.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
Labels: unsafe-merge-queue, JavaScriptCore, WebKit Nightly Build

#4992 [LBSE] Enable size negotiation logic for <object> + RenderSVGRoot in LBSE
  LayoutTests/platform/mac-monterey-wk2-lbse-text/TestExpectations
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/as-image/img-preserveAspectRatio-support-2-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/as-object/deep-nested-embedded-svg-size-changes-no-layout-triggers-1-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/as-object/deep-nested-embedded-svg-size-changes-no-layout-triggers-2-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/as-object/embedded-svg-size-changes-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/as-object/embedded-svg-size-changes-no-layout-triggers-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/as-object/nested-embedded-svg-size-changes-no-layout-triggers-1-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/as-object/nested-embedded-svg-size-changes-no-layout-triggers-2-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/hixie/intrinsic/003-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/hixie/text/003-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/wicd/sizing-flakiness-expected.txt
  LayoutTests/platform/mac-monterey-wk2-lbse-text/svg/wicd/test-rightsizing-b-expected.txt
  Source/WebCore/page/FrameView.cpp
Labels: SVG, WebKit Local Build

#5152 Web Inspector: hard to disable inline breakpoints without entirely removing them
  Source/WebInspectorUI/UserInterface/Views/BreakpointInlineWidget.css
  Source/WebInspectorUI/UserInterface/Views/BreakpointInlineWidget.js
Labels: unsafe-merge-queue, Web Inspector, WebKit Nightly Build

#5147 Add additional framework stubs for watchOS 9 and tvOS 16
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/13/AssertionServices.framework/AssertionServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/13/AuthKit.framework/AuthKit.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/13/CorePDF.framework/CorePDF.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/13/DeviceIdentity.framework/DeviceIdentity.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/13/IOKit.framework/IOKit.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/13/LocalAuthentication.framework/LocalAuthentication.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/13/SafariSafeBrowsing.framework/SafariSafeBrowsing.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/13/URLFormatting.framework/URLFormatting.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/14/AppSupport.framework/AppSupport.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/14/AssertionServices.framework/AssertionServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/14/AuthKit.framework/AuthKit.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/14/CorePrediction.framework/CorePrediction.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/14/DeviceIdentity.framework/DeviceIdentity.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/14/FileProvider.framework/FileProvider.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/14/GraphicsServices.framework/GraphicsServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/14/IOKit.framework/IOKit.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/14/LocalAuthentication.framework/LocalAuthentication.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/14/RunningBoardServices.framework/RunningBoardServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/14/SafariSafeBrowsing.framework/SafariSafeBrowsing.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/14/URLFormatting.framework/URLFormatting.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/16/AppSupport.framework/AppSupport.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/16/CorePrediction.framework/CorePrediction.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/16/FileProvider.framework/FileProvider.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/16/GraphicsServices.framework/GraphicsServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/16/IOSurfaceAccelerator.framework/IOSurfaceAccelerator.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/16/PrototypeTools.framework/PrototypeTools.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/appletvos/16/RunningBoardServices.framework/RunningBoardServices.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/9/FileProvider.framework/FileProvider.tbd
  WebKitLibraries/WebKitPrivateFrameworkStubs/watchos/9/IOSurfaceAccelerator.framework/IOSurfaceAccelerator.tbd
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#5155 Revert [255287@main] [Cocoa] Adopt AVContentKeySession compatibility mode APIs
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.h
  Source/WebCore/PAL/pal/spi/cocoa/AVFoundationSPI.h
  Source/WebCore/platform/graphics/avfoundation/objc/CDMInstanceFairPlayStreamingAVFObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.mm
Labels: unsafe-merge-queue, Media, Other

#5146 [JSC] Optimize Array#indexOf in DFG / FTL
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/runtime/ArrayPrototype.cpp
  Source/JavaScriptCore/runtime/JSString.cpp
  Source/JavaScriptCore/runtime/JSString.h
  Source/JavaScriptCore/runtime/JSStringInlines.h
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#5089 `change` event for input[type=file] does not fire when different file with same name is selected
  Source/WTF/wtf/FileSystem.h
  Source/WTF/wtf/glib/FileSystemGlib.cpp
  Source/WTF/wtf/posix/FileSystemPOSIX.cpp
  Source/WTF/wtf/win/FileSystemWin.cpp
  Source/WebCore/fileapi/File.cpp
  Source/WebCore/fileapi/File.h
  Source/WebCore/html/FileInputType.cpp
  Source/WebCore/platform/FileChooser.cpp
Labels: DOM, Safari Technology Preview

#5150 Remove the DidExceedBackgroundResourceLimitWhileInForeground delegate callback
  Source/WTF/wtf/MemoryPressureHandler.cpp
  Source/WTF/wtf/MemoryPressureHandler.h
  Source/WebKit/UIProcess/API/APIUIClient.h
  Source/WebKit/UIProcess/API/C/WKPage.cpp
  Source/WebKit/UIProcess/API/C/WKPageUIClient.h
  Source/WebKit/UIProcess/API/Cocoa/WKUIDelegatePrivate.h
  Source/WebKit/UIProcess/Cocoa/UIDelegate.h
  Source/WebKit/UIProcess/Cocoa/UIDelegate.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/UIProcess/WebProcessProxy.messages.in
  Source/WebKit/WebProcess/WebProcess.cpp
Labels: merge-queue, WebKit API, WebKit Nightly Build

#5141 Cross-Origin-Embedder-Policy incorrectly blocks scripts on cache hit
  LayoutTests/imported/w3c/web-platform-tests/html/cross-origin-embedder-policy/require-corp-worker-script-revalidation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/cross-origin-embedder-policy/require-corp-worker-script-revalidation.html
  LayoutTests/imported/w3c/web-platform-tests/html/cross-origin-embedder-policy/resources/dedicated-worker-supporting-revalidation.py
  Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp
Labels: merge-queue, Page Loading, Safari 15

#5151 [PlayStation] Build fix after 255274@main
  Source/WTF/wtf/ThreadAssertions.h
Labels: merge-queue

#5110 Non-unified build fixes, early October 2022 edition
  Source/WebCore/Modules/mediastream/RTCEncodedAudioFrame.cpp
  Source/WebCore/Modules/mediastream/RTCEncodedVideoFrame.cpp
  Source/WebCore/css/CSSComputedStyleDeclaration.cpp
  Source/WebCore/css/CSSFontFace.h
  Source/WebCore/css/StyleSheetContents.cpp
  Source/WebCore/css/parser/CSSParserFastPaths.cpp
  Source/WebCore/css/parser/CSSParserImpl.h
  Source/WebCore/css/parser/CSSParserObserverWrapper.h
  Source/WebCore/css/parser/CSSSupportsParser.cpp
  Source/WebCore/display/css/DisplayBoxFactory.cpp
  Source/WebCore/dom/TreeScope.h
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/ScreenOrientation.cpp
  Source/WebCore/page/ScreenOrientationType.h
  Source/WebCore/rendering/BorderPainter.cpp
  Source/WebKit/UIProcess/ProcessThrottler.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/gtk/DOM/WebKitDOMHTMLTableSectionElement.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebScreenOrientationManager.cpp
Labels: merge-queue

#5149 [run-webkit-tests] Support user specifying variant directly
  Tools/Scripts/webkitpy/common/find_files.py
  Tools/Scripts/webkitpy/layout_tests/controllers/layout_test_finder_legacy.py
  Tools/Scripts/webkitpy/layout_tests/controllers/layout_test_finder_legacy_unittest.py
Labels: Tools / Tests, Other

#5163 KeyframeEffect::setAnimation should clear blending key frames for an old CSSAnimation
  Source/WebCore/animation/KeyframeEffect.cpp
Labels: merge-queue, Animations, WebKit Nightly Build

#5015 MouseEventInit should take movementX and movementY
  LayoutTests/imported/w3c/web-platform-tests/pointerlock/constructor-expected.txt
  LayoutTests/pointer-lock/mouse-event-api-expected.txt
  LayoutTests/pointer-lock/mouse-event-api.html
  Source/WebCore/dom/DragEvent.cpp
  Source/WebCore/dom/DragEvent.h
  Source/WebCore/dom/MouseEvent.cpp
  Source/WebCore/dom/MouseEvent.h
  Source/WebCore/dom/MouseEvent.idl
  Source/WebCore/dom/MouseEventInit.idl
  Source/WebCore/dom/MouseRelatedEvent.cpp
  Source/WebCore/dom/MouseRelatedEvent.h
  Source/WebCore/dom/PointerEvent.cpp
  Source/WebCore/dom/SimulatedClick.cpp
  Source/WebCore/dom/WheelEvent.cpp
  Source/WebCore/page/EventHandler.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKitLegacy/ios/WebView/WebPDFViewPlaceholder.mm
  Source/WebKitLegacy/mac/WebView/WebPDFView.mm
Labels: UI Events, WebKit Nightly Build

#5131 AsyncScrolling: move ScrollingTreeScrollingNodeDelegate member to ScrollingTreeScrollingNode
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNode.cpp
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNode.h
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNodeDelegate.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeFrameScrollingNodeMac.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeFrameScrollingNodeMac.mm
  Source/WebCore/page/scrolling/mac/ScrollingTreeOverflowScrollingNodeMac.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeOverflowScrollingNodeMac.mm
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeFrameScrollingNodeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeFrameScrollingNodeNicosia.h
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeOverflowScrollingNodeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeOverflowScrollingNodeNicosia.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeFrameScrollingNodeRemoteIOS.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeFrameScrollingNodeRemoteIOS.mm
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeOverflowScrollingNodeIOS.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeOverflowScrollingNodeIOS.mm
Labels: merge-queue, Scrolling, WebKit Nightly Build

#5081 [GLib] Implement FileSystem::fileID()
  Source/WTF/wtf/FileSystem.h
  Source/WTF/wtf/glib/FileSystemGlib.cpp
Labels: WebKit Nightly Build

#4868 REGRESSION(254232@main): Causes process launching to use fork + exec instead of posix_spawn
  Source/WebKit/UIProcess/Launcher/glib/ProcessLauncherGLib.cpp
  Source/WebKit/UIProcess/Launcher/glib/XDGDBusProxy.cpp
Labels: merge-queue, WebKitGTK, WebKit Nightly Build

#5169 MouseEventInit should take movementX and movementY
  LayoutTests/imported/w3c/web-platform-tests/pointerlock/constructor-expected.txt
  LayoutTests/pointer-lock/mouse-event-api-expected.txt
  LayoutTests/pointer-lock/mouse-event-api.html
  Source/WebCore/dom/DragEvent.cpp
  Source/WebCore/dom/DragEvent.h
  Source/WebCore/dom/MouseEvent.cpp
  Source/WebCore/dom/MouseEvent.h
  Source/WebCore/dom/MouseEvent.idl
  Source/WebCore/dom/MouseEventInit.idl
  Source/WebCore/dom/MouseRelatedEvent.cpp
  Source/WebCore/dom/MouseRelatedEvent.h
  Source/WebCore/dom/PointerEvent.cpp
  Source/WebCore/dom/SimulatedClick.cpp
  Source/WebCore/dom/WheelEvent.cpp
  Source/WebCore/dom/ios/MouseEventIOS.cpp
  Source/WebCore/dom/ios/PointerEventIOS.cpp
  Source/WebCore/page/EventHandler.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKitLegacy/ios/WebView/WebPDFViewPlaceholder.mm
  Source/WebKitLegacy/mac/WebView/WebPDFView.mm
Labels: UI Events, WebKit Nightly Build

#5029 [cssom] Serialize the 'all' shorthand in cssText
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/cssstyledeclaration-csstext-all-shorthand-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/cssstyledeclaration-csstext-all-shorthand.html
  Source/WebCore/css/StyleProperties.cpp
Labels: merge-queue, CSS, WebKit Nightly Build

#5173 InputEvent.inputType is null when triggering Bold/Italic/Underline using execCommand
  LayoutTests/editing/execCommand/enabling-and-selection-expected.txt
  LayoutTests/editing/execCommand/enabling-and-selection.html
  LayoutTests/fast/forms/plaintext-mode-1-expected.txt
  LayoutTests/fast/forms/plaintext-mode-1.html
  Source/WebCore/editing/EditorCommand.cpp
Labels: unsafe-merge-queue, HTML Editing, WebKit Nightly Build

#4566 IPC::Connection::SyncMessageState does not support multiple runloops
  Source/WebKit/Platform/IPC/Connection.cpp
  Source/WebKit/Platform/IPC/Connection.h
  Source/WebKit/Platform/IPC/cocoa/ConnectionCocoa.mm
  Source/WebKit/Platform/IPC/unix/ConnectionUnix.cpp
  Source/WebKit/Platform/IPC/win/ConnectionWin.cpp
Labels: merge-queue, WebKit2, Other

#5183 [Flatpak SDK] Runtime is missing Rust support
  Tools/flatpak/flatpakutils.py
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#5189 Fix typo in hash-deleted-value-cell-32.js
  JSTests/stress/hash-deleted-value-cell-32.js
Labels: JavaScriptCore, WebKit Nightly Build

#5186 Add a couple details to my contributors.json entry
  metadata/contributors.json
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#5158 [results.webkit.org] Support test names with ?
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/controller/suite_controller.py
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/controller/test_controller.py
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/static/js/common.js
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/static/js/timeline.js
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/templates/investigate.html
  Tools/Scripts/libraries/webkitflaskpy/webkitflaskpy/util.py
  Tools/Scripts/libraries/webkitflaskpy/webkitflaskpy/util_unittest.py
Labels: unsafe-merge-queue, Tools / Tests, Other

#5085 [GStreamer][MSE] High resolution video playback broken on Odysee.com due to unimplemented changeType operation
  LayoutTests/media/media-source/media-source-changetype-second-init.html
  LayoutTests/media/media-source/media-source-changetype-support-expected.txt
  LayoutTests/media/media-source/media-source-changetype-support.html
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/media-source/mediasource-changetype-play-without-codecs-parameter-expected.txt
  LayoutTests/platform/glib/media/media-source/media-source-changetype-second-init-expected.txt
  LayoutTests/platform/glib/media/media-source/media-source-changetype-support-expected.txt
  Source/WTF/Scripts/Preferences/WebPreferences.yaml
Labels: merge-queue, Media, Other

#5002 Move WebFrameProxy ownership from WebProcessProxy to WebPageProxy
  Source/WebCore/dom/Document.cpp
  Source/WebCore/loader/DocumentLoader.cpp
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/loader/PolicyChecker.cpp
  Source/WebCore/loader/ResourceLoader.cpp
  Source/WebCore/loader/SubresourceLoader.cpp
  Source/WebCore/loader/cache/CachedResource.cpp
  Source/WebCore/loader/cache/CachedResourceLoader.cpp
  Source/WebCore/page/FrameIdentifier.h
  Source/WebCore/page/FrameView.cpp
  Source/WebCore/testing/Internals.cpp
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerToContextConnection.cpp
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/Scripts/webkit/tests/MessageArgumentDescriptions.cpp
  Source/WebKit/Shared/API/Cocoa/_WKFrameHandle.mm
  Source/WebKit/UIProcess/API/C/WKFrameHandleRef.cpp
  Source/WebKit/UIProcess/API/C/WKPage.cpp
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKInspector.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKResourceLoadInfo.mm
  Source/WebKit/UIProcess/API/mac/WKWebViewMac.mm
  Source/WebKit/UIProcess/Automation/WebAutomationSession.cpp
  Source/WebKit/UIProcess/Cocoa/SOAuthorization/SubFrameSOAuthorizationSession.mm
  Source/WebKit/UIProcess/Cocoa/UIDelegate.mm
  Source/WebKit/UIProcess/Cocoa/WKReloadFrameErrorRecoveryAttempter.mm
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.messages.in
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/UserMediaPermissionRequestManagerProxy.cpp
  Source/WebKit/UIProcess/WebAuthentication/AuthenticatorManager.cpp
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/WebAuthenticatorCoordinatorProxy.mm
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/UIProcess/WebProcessProxy.messages.in
  Source/WebKit/WebProcess/Automation/WebAutomationSessionProxy.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/glib/WebKitFrame.cpp
  Source/WebKit/WebProcess/Network/NetworkProcessConnection.cpp
  Source/WebKit/WebProcess/Network/WebLoaderStrategy.cpp
  Source/WebKit/WebProcess/Network/WebResourceLoader.cpp
  Source/WebKit/WebProcess/Storage/RemoteWorkerFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebAuthentication/WebAuthenticatorCoordinator.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebPage/IPCTestingAPI.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebURLSchemeTaskProxy.cpp
  Source/WebKit/WebProcess/WebProcess.cpp
  Source/WebKit/WebProcess/WebProcess.h
Labels: unsafe-merge-queue, WebKit Process Model, WebKit Local Build

#4760 Clean up UTF-8 conversion code
  Source/JavaScriptCore/API/JSStringRef.cpp
  Source/JavaScriptCore/runtime/ConsoleClient.cpp
  Source/WTF/wtf/URL.cpp
  Source/WTF/wtf/text/StringImpl.cpp
  Source/WTF/wtf/text/StringImpl.h
  Source/WTF/wtf/text/StringView.h
  Source/WTF/wtf/text/UTF8ConversionError.h
  Source/WTF/wtf/text/WTFString.cpp
  Source/WTF/wtf/text/WTFString.h
  Source/WTF/wtf/unicode/UTF8Conversion.cpp
  Source/WTF/wtf/unicode/UTF8Conversion.h
  Source/WebCore/dom/TextEncoder.cpp
  Source/WebCore/platform/SharedBuffer.cpp
  Source/WebCore/platform/generic/KeyedEncoderGeneric.cpp
  Source/WebCore/workers/ScriptBuffer.cpp
  Source/WebCore/xml/parser/XMLDocumentParserLibxml2.cpp
  Source/WebKit/Shared/API/c/WKString.cpp
Labels: merge-queue, New Bugs, WebKit Nightly Build

#4866 Deprecate -[WKNavigationDelegate _webView:didStartProvisionalNavigation:userInfo:]
  Source/WebKit/UIProcess/API/Cocoa/WKNavigationDelegatePrivate.h
  Source/WebKit/UIProcess/Cocoa/NavigationState.mm
Labels: merge-queue, WebKit API, WebKit Nightly Build
