Repository WebKit/WebKit, pull requests merged in 2022-06, with the labels that each got.

#1240 [Gardening]: REGRESSION (250836@main): [ iOS ] fast/forms/textfield-outline.html is a flaky failure
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#1274 [Gardening]: [ Windows EWS ] webanimations/accelerated-transform-animation-from-scale-zero-and-implicit-to-kefyrame.html is a flaky image failure
  LayoutTests/platform/win/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#1287 [Gardening]: [ macOS Debug wk2 EWS ] fast/animation/request-animation-frame-throttling-detached-iframe.html is a flaky failure
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#1371 Unreviewed build fix after r295376
  Source/WebCore/platform/graphics/cocoa/GraphicsContextCocoa.mm
Labels: unsafe-merge-queue, WebKit Misc., WebKit Nightly Build

#1449 jsc.exe --module-file should understand Windows paths
  Source/JavaScriptCore/jsc.cpp
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#1711 Unreviewed, update .github/CODEOWNERS for TestWebKitAPI
  .github/CODEOWNERS
Labels: unsafe-merge-queue

#1680 Make sure to close connections in webrtc/datachannel/mdns-ice-candidates.html
  LayoutTests/webrtc/datachannel/mdns-ice-candidates-expected.txt
  LayoutTests/webrtc/datachannel/mdns-ice-candidates.html
Labels: merge-queue, WebRTC, WebKit Nightly Build

#1713 [Merge-Queue] Commit directly to GitHub
  Tools/CISupport/ews-build/factories.py
  Tools/CISupport/ews-build/factories_unittest.py
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#1727 [git-webkit] WebKit is no longer canonically subversion
  Tools/Scripts/git-webkit
Labels: unsafe-merge-queue, Tools / Tests, Other

#1696 [Modern Media Controls] [iOS] controls should only be shown after a "full" tap, not just touchstart
  Source/WebCore/Modules/modern-media-controls/controls/auto-hide-controller.js
Labels: unsafe-merge-queue, Media, WebKit Nightly Build

#1681 Enable Intersection Observer in WebKit1
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-030-expected.txt
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Tools/DumpRenderTree/TestOptions.cpp
Labels: merge-queue, New Bugs, WebKit Nightly Build

#1723 REGRESSION (r286944?): web-platform-tests/html/semantics/text-level-semantics/the-a-element/a-download-click tests have become flaky failures
  LayoutTests/platform/mac-wk2/TestExpectations
  Tools/WebKitTestRunner/TestController.cpp
Labels: merge-queue, New Bugs, WebKit Nightly Build

#1731 [Gardening]: REGRESSION (r285418): Intl/numberformat-create-all-options.html performance test fails
  PerformanceTests/Skipped
Labels: unsafe-merge-queue, JavaScriptCore, WebKit Nightly Build

#1732 [Gardening]: Layout/nested-flexbox.html is a consistent failure
  PerformanceTests/Skipped
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#1722 LocalSampleBufferDisplayLayer::layerErrorDidChange should let know its client that a failure happened
  Source/WebCore/platform/graphics/avfoundation/objc/LocalSampleBufferDisplayLayer.h
  Source/WebCore/platform/graphics/avfoundation/objc/LocalSampleBufferDisplayLayer.mm
Labels: merge-queue, WebRTC, WebKit Nightly Build

#1725 Add further logging to webrtc/datachannel/mdns-ice-candidates.html
  LayoutTests/webrtc/datachannel/mdns-ice-candidates-expected.txt
  LayoutTests/webrtc/datachannel/mdns-ice-candidates.html
Labels: merge-queue, WebRTC, WebKit Nightly Build

#1720 Make LayoutTests/webrtc/video-setDirection.html more verbose when failing
  LayoutTests/webrtc/video-setDirection.html
Labels: merge-queue, WebRTC, WebKit Nightly Build

#1718 WebRTC DataChannel id of initiator not set
  LayoutTests/imported/w3c/web-platform-tests/webrtc/RTCDataChannel-id-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webrtc/RTCPeerConnection-createDataChannel-expected.txt
  LayoutTests/webrtc/datachannel/creation-expected.txt
  LayoutTests/webrtc/datachannel/creation.html
  Source/WebCore/Modules/mediastream/RTCDataChannel.cpp
  Source/WebCore/Modules/mediastream/RTCDataChannel.h
  Source/WebCore/Modules/mediastream/RTCPeerConnection.cpp
  Source/WebCore/Modules/mediastream/libwebrtc/LibWebRTCDataChannelHandler.cpp
  Source/WebCore/Modules/mediastream/libwebrtc/LibWebRTCDataChannelHandler.h
  Source/WebCore/platform/mediastream/RTCDataChannelHandler.h
Labels: merge-queue, WebRTC, Safari 11

#1368 [GPU Process] [Filters] Transfer the ownership of the FilterImage buffers from GPUProcess to WebProcess
  Source/WTF/wtf/PlatformHave.h
  Source/WebKit/GPUProcess/graphics/ImageBufferShareableAllocator.cpp
  Source/WebKit/GPUProcess/graphics/ImageBufferShareableAllocator.h
  Source/WebKit/GPUProcess/graphics/RemoteDisplayListRecorder.cpp
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.h
  Source/WebKit/Platform/SharedMemory.cpp
  Source/WebKit/Platform/SharedMemory.h
  Source/WebKit/Platform/cocoa/SharedMemoryCocoa.cpp
Labels: Layout and Rendering, WebKit Nightly Build

#1716 Add ldp and stp support to ARM64 and ARM64E offlineasm.
  Source/JavaScriptCore/llint/LowLevelInterpreter.asm
  Source/JavaScriptCore/llint/WebAssembly.asm
  Source/JavaScriptCore/offlineasm/arm64.rb
  Source/JavaScriptCore/offlineasm/instructions.rb
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#1737 [JSC] Refactor wasm section ordering code
  Source/JavaScriptCore/wasm/WasmModuleInformation.h
  Source/JavaScriptCore/wasm/WasmSectionParser.cpp
  Source/JavaScriptCore/wasm/WasmSectionParser.h
  Source/JavaScriptCore/wasm/WasmSections.h
  Source/JavaScriptCore/wasm/WasmStreamingParser.cpp
Labels: unsafe-merge-queue, JavaScriptCore, WebKit Nightly Build

#1730 Regression(r291141) Flashing when hovering photos on nytimes.com
  Source/WebCore/loader/ImageLoader.cpp
  Source/WebCore/loader/ImageLoader.h
  Source/WebCore/loader/cache/CachedImage.cpp
  Source/WebCore/loader/cache/CachedImageClient.h
Labels: merge-queue, Images, WebKit Nightly Build

#1715 [iOS 16] A couple of editing/selection/ios tests time out or fail
  LayoutTests/editing/selection/ios/select-all-in-readonly-input-does-not-overflow.html
  LayoutTests/editing/selection/ios/selection-after-changing-text-with-callout-menu-expected.txt
  LayoutTests/editing/selection/ios/selection-after-changing-text-with-callout-menu.html
  Tools/WebKitTestRunner/InjectedBundle/Bindings/TestRunner.idl
  Tools/WebKitTestRunner/InjectedBundle/InjectedBundle.cpp
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.cpp
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.h
  Tools/WebKitTestRunner/TestController.cpp
  Tools/WebKitTestRunner/TestController.h
  Tools/WebKitTestRunner/TestInvocation.cpp
  Tools/WebKitTestRunner/TestInvocation.h
  Tools/WebKitTestRunner/cocoa/TestControllerCocoa.mm
  Tools/WebKitTestRunner/cocoa/TestRunnerWKWebView.h
  Tools/WebKitTestRunner/cocoa/TestRunnerWKWebView.mm
  Tools/WebKitTestRunner/ios/TestControllerIOS.mm
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#1742 clean-webkit should prevent extremely large local repositories
  Tools/Scripts/clean-webkit
  Tools/Scripts/webkitpy/common/checkout/scm/git.py
  Tools/Scripts/webkitpy/common/checkout/scm/scm.py
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#1745 Fix internal build break on iOS simulator after https://commits.webkit.org/251798@main
  Source/WebKit/Platform/cocoa/SharedMemoryCocoa.cpp
Labels: unsafe-merge-queue, Layout and Rendering, WebKit Nightly Build

#1748 Regression (247017@main): correct an ASSERT in SQLiteIDBBackingStore
  Source/WebCore/Modules/indexeddb/server/SQLiteIDBBackingStore.cpp
Labels: merge-queue, Website Storage, WebKit Nightly Build

#1692 Update lldbWebKitTester's CLANG_DEBUG_INFORMATION_LEVEL workaround for workspace builds
  Tools/CISupport/build-webkit-org/steps.py
  Tools/CISupport/ews-build/steps.py
  Tools/Scripts/webkitdirs.pm
  Tools/lldb/lldbWebKitTester/Configurations/lldbWebKitTester.xcconfig
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#1749 [JSC] Fractional part of an ISO8601 Duration string must not be interpreted as floating-point
  JSTests/test262/expectations.yaml
  Source/JavaScriptCore/runtime/ISO8601.cpp
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#1757 Add JetBrains metadata directory to .gitignore
  .gitignore
Labels: unsafe-merge-queue, Tools / Tests, Other

#1739 Check weak linked symbol before use
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
Labels: merge-queue, WebKit Misc., Safari 15

#1678 GIFImageReader: Be tolerant about invalid GIF files without a trailer(;)
  LayoutTests/fast/images/bad-trailer-gif-expected.html
  LayoutTests/fast/images/bad-trailer-gif.html
  LayoutTests/fast/images/resources/bad-trailer.gif
  Source/WebCore/platform/image-decoders/gif/GIFImageReader.cpp
Labels: merge-queue, Images, WebKit Nightly Build

#1756 Fix the Mac Catalyst build
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewTesting.mm
Labels: unsafe-merge-queue, WebRTC, WebKit Nightly Build

#1753 Web Inspector: include `referrerPolicy` in "Copy as fetch"
  LayoutTests/http/tests/inspector/network/copy-as-fetch-expected.txt
  LayoutTests/http/tests/inspector/network/copy-as-fetch.html
  Source/JavaScriptCore/inspector/protocol/Network.json
  Source/WebCore/inspector/InspectorInstrumentation.cpp
  Source/WebCore/inspector/InspectorInstrumentation.h
  Source/WebCore/inspector/agents/InspectorNetworkAgent.cpp
  Source/WebCore/inspector/agents/InspectorNetworkAgent.h
  Source/WebCore/inspector/agents/InspectorPageAgent.cpp
  Source/WebCore/inspector/agents/InspectorPageAgent.h
  Source/WebCore/loader/ResourceLoadNotifier.cpp
  Source/WebCore/loader/ResourceLoadNotifier.h
  Source/WebCore/loader/ResourceLoader.cpp
  Source/WebCore/loader/appcache/ApplicationCacheGroup.cpp
  Source/WebInspectorUI/UserInterface/Controllers/NetworkManager.js
  Source/WebInspectorUI/UserInterface/Models/Resource.js
Labels: merge-queue, Web Inspector, WebKit Nightly Build

#1759 Web Inspector: include `integrity` in "Copy as fetch"
  LayoutTests/http/tests/inspector/network/copy-as-fetch-expected.txt
  LayoutTests/http/tests/inspector/network/copy-as-fetch.html
  Source/JavaScriptCore/inspector/protocol/Network.json
  Source/WebCore/inspector/agents/InspectorNetworkAgent.cpp
  Source/WebInspectorUI/UserInterface/Controllers/NetworkManager.js
  Source/WebInspectorUI/UserInterface/Models/Resource.js
Labels: merge-queue, Web Inspector, WebKit Nightly Build

#1751 [iOS 16] LayoutTests that synthesize touches with keyboard modifiers fail or time out
  LayoutTests/fast/events/touch/ios/pointer-events-with-modifiers.html
  LayoutTests/fast/events/touch/ios/touch-events-with-modifiers.html
  Source/WebKit/Platform/spi/ios/BackBoardServicesSPI.h
  Tools/WebKitTestRunner/ios/HIDEventGenerator.h
  Tools/WebKitTestRunner/ios/HIDEventGenerator.mm
  Tools/WebKitTestRunner/ios/TestControllerIOS.mm
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#1763 [macOS] Unreviewed, fix unified source build error after r295757
  Source/WebKit/UIProcess/Cocoa/WebProcessProxyCocoa.mm
Labels: unsafe-merge-queue

#1766 Revert https://commits.webkit.org/r295776 as it is crashing in debug
  LayoutTests/http/wpt/service-workers/shared-workers/connect-event-ordering-expected.txt
  LayoutTests/http/wpt/service-workers/shared-workers/connect-event-ordering-sharedworker.js
  LayoutTests/http/wpt/service-workers/shared-workers/connect-event-ordering.html
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorker.cpp
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorker.h
Labels: merge-queue

#1764 [WTF] Need specialization for DefaultHash<CompactPtr<StringImpl>> with StringHash
  Source/WTF/wtf/text/StringHash.h
  Source/WTF/wtf/text/StringImpl.h
  Tools/TestWebKitAPI/Tests/WTF/CompactPtr.cpp
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#1735 [GLIB] Fix overloaded-virtual warnings
  Tools/TestWebKitAPI/glib/WebKitGLib/LoadTrackingTest.cpp
  Tools/TestWebKitAPI/glib/WebKitGLib/LoadTrackingTest.h
Labels: merge-queue, WebKitGTK, WebKit Nightly Build

#1770 [GTK][WPE] Unreviewed GPUProcess build fixes
  Source/WebKit/GPUProcess/GPUProcess.cpp
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGL.cpp
Labels: merge-queue, New Bugs, WebKit Nightly Build

#1750 Add some release logging for WebPageProxy::m_suppressVisibilityUpdates
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: merge-queue, WebKit2, WebKit Nightly Build

#1365 Right-click on links doesn't work in WebKit with Edit Menu enabled
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Labels: merge-queue, UI Events, Other

#1604 IntersectionObserver stops tracking when cmd+ is used to zoom in
  LayoutTests/intersection-observer/root-margin-percentage-units-with-zoom-expected.txt
  LayoutTests/intersection-observer/root-margin-percentage-units-with-zoom.html
  LayoutTests/platform/ios/TestExpectations
  Source/WebCore/dom/Document.cpp
Labels: merge-queue, DOM, Safari Technology Preview

#1758 Test gardening PR workflow is too noisy
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/land.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/land_unittest.py
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#1744 Fix PushManager in ephemeral sessions
  LayoutTests/http/tests/push-api/permissions-ephemeral-expected.txt
  LayoutTests/http/tests/push-api/permissions-ephemeral.html
  LayoutTests/http/tests/push-api/resources/subscribe-tests.js
  LayoutTests/http/tests/push-api/resources/subscribe-worker.js
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/win/TestExpectations
  Source/WebKit/NetworkProcess/Notifications/NetworkNotificationManager.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebNotificationClient.cpp
Labels: merge-queue, WebKit Misc., WebKit Nightly Build

#1774 [JSC] Optimize wasm exception handling callsite emission
  Source/JavaScriptCore/bytecode/BytecodeDumper.cpp
  Source/JavaScriptCore/bytecode/BytecodeDumper.h
  Source/JavaScriptCore/wasm/WasmAirIRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmAirIRGenerator.h
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.h
  Source/JavaScriptCore/wasm/WasmBBQPlan.cpp
  Source/JavaScriptCore/wasm/WasmBBQPlan.h
  Source/JavaScriptCore/wasm/WasmHandlerInfo.h
  Source/JavaScriptCore/wasm/WasmIRGeneratorHelpers.h
  Source/JavaScriptCore/wasm/WasmOMGPlan.cpp
  Source/JavaScriptCore/wasm/WasmOMGPlan.h
  Source/JavaScriptCore/wasm/WasmOSREntryPlan.cpp
  Source/JavaScriptCore/wasm/WasmOSREntryPlan.h
  Source/JavaScriptCore/wasm/WasmOperations.cpp
  Source/JavaScriptCore/wasm/WasmSlowPaths.cpp
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#1773 WKCGDisplayListContents does not take effect
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
  Source/WebKit/UIProcess/RemoteLayerTree/cocoa/RemoteLayerTreeLayers.mm
Labels: merge-queue, WebKit Misc., WebKit Nightly Build

#1708 Replaced deprecated NSPasteboardNames with latest API constants
  Source/WebCore/editing/cocoa/EditorCocoa.mm
  Source/WebCore/editing/mac/EditorMac.mm
  Source/WebCore/platform/mac/PasteboardMac.mm
  Source/WebKit/UIProcess/Cocoa/GlobalFindInPageState.mm
  Source/WebKit/UIProcess/Cocoa/WebViewImpl.mm
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
  Source/WebKit/WebProcess/WebCoreSupport/mac/WebDragClientMac.mm
  Source/WebKitLegacy/mac/Misc/WebNSPasteboardExtras.h
  Source/WebKitLegacy/mac/Misc/WebNSPasteboardExtras.mm
  Source/WebKitLegacy/mac/WebView/WebHTMLView.mm
Labels: merge-queue

#1746 Stripping whitespace in <animate> values attribute should use stripLeadingAndTrailingMatchedCharacters(isHTMLSpace<UChar>)
  Source/WebCore/svg/SVGAnimationElement.cpp
Labels: merge-queue, SVG, WebKit Nightly Build

#1738 Navigations via swipe gestures should also skip back/forward list items without a user gesture
  Source/WebKit/UIProcess/ViewGestureController.cpp
  Source/WebKit/UIProcess/WebBackForwardList.cpp
  Source/WebKit/UIProcess/WebBackForwardList.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/ios/ViewGestureControllerIOS.mm
  Tools/TestWebKitAPI/Tests/WebKit/WKBackForwardList.mm
  Tools/TestWebKitAPI/cocoa/TestNavigationDelegate.mm
Labels: merge-queue, WebKit2, WebKit Nightly Build

#1785 Delete WebKit Owners file
  Source/WebKit/Owners
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#1787 Web Inspector: REGRESSION(251279@main): Uncaught Exception: ReferenceError: Can't find variable: sourceCode
  Source/WebInspectorUI/UserInterface/Views/LocalResourceOverrideWarningView.js
Labels: unsafe-merge-queue, Web Inspector, WebKit Nightly Build

#1790 Revert [251654@main] video.currentSrc should not be reset when a new load errors
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/media-elements/loading-the-media-resource/resource-selection-currentSrc-expected.txt
  LayoutTests/media/video-currentsrc-cleared-expected.txt
  LayoutTests/media/video-currentsrc-cleared.html
  Source/WebCore/html/HTMLMediaElement.cpp
Labels: merge-queue, Media, Safari Technology Preview

#1782 GPUConnectionToWebProcess::setCaptureAttributionString() should call setCurrentAttributionWebsiteString API when available
  Source/WebKit/GPUProcess/cocoa/GPUConnectionToWebProcessCocoa.mm
  Source/WebKit/Platform/spi/ios/SystemStatusSPI.h
Labels: merge-queue, WebKit2, WebKit Nightly Build

#1788 [WebAuthn] Update forward declarations according to internal needs
  Source/WebKit/Platform/spi/Cocoa/AuthenticationServicesCoreSPI.h
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/AuthenticationServicesCoreSoftLink.h
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/AuthenticationServicesCoreSoftLink.mm
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/WebAuthenticatorCoordinatorProxy.mm
Labels: merge-queue, WebKit Misc., WebKit Nightly Build

#1701 [WebAuthn] Add getPublicKey/Algorithm to AuthenticatorAttestationResponse
  LayoutTests/http/wpt/webauthn/public-key-credential-create-success-local.https-expected.txt
  LayoutTests/http/wpt/webauthn/public-key-credential-create-success-local.https.html
  Source/WebCore/Modules/webauthn/AuthenticatorAttestationResponse.cpp
  Source/WebCore/Modules/webauthn/AuthenticatorAttestationResponse.h
  Source/WebCore/Modules/webauthn/AuthenticatorAttestationResponse.idl
  Source/WebCore/Modules/webauthn/WebAuthenticationUtils.cpp
  Source/WebCore/Modules/webauthn/WebAuthenticationUtils.h
  Source/WebCore/Modules/webauthn/fido/Pin.cpp
  Source/WebCore/Modules/webauthn/fido/Pin.h
Labels: merge-queue, WebKit Misc., WebKit Nightly Build

#1464 Design an intentional way to invalidate platform font caches
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/cocoa/MemoryReleaseCocoa.mm
  Source/WebCore/platform/graphics/FontCache.cpp
  Source/WebCore/platform/graphics/FontCache.h
  Source/WebCore/platform/graphics/SystemFontDatabase.cpp
  Source/WebCore/platform/graphics/SystemFontDatabase.h
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/cocoa/SystemFontDatabaseCoreText.cpp
  Source/WebCore/platform/graphics/cocoa/SystemFontDatabaseCoreText.h
  Source/WebCore/platform/graphics/freetype/FontCacheFreeType.cpp
  Source/WebCore/platform/graphics/gtk/SystemFontDatabaseGTK.cpp
  Source/WebCore/platform/graphics/playstation/SystemFontDatabasePlayStation.cpp
  Source/WebCore/platform/graphics/win/FontCacheWin.cpp
  Source/WebCore/platform/graphics/win/SystemFontDatabaseWin.cpp
  Source/WebCore/platform/graphics/wpe/SystemFontDatabaseWPE.cpp
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Source/WebKit/WebProcess/WebProcess.cpp
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Labels: merge-queue, Text, WebKit Nightly Build

#1784 [iOS] Simplify some EditorState update logic after r295626
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
Labels: merge-queue, HTML Editing, WebKit Nightly Build

#1791 [JSC] Add writeFile function to JSC shell
  Source/JavaScriptCore/jsc.cpp
  Source/JavaScriptCore/runtime/JSArrayBufferView.h
Labels: unsafe-merge-queue, JavaScriptCore, WebKit Nightly Build

#1768 Add the gradient space transform to SourceBrush logging
  Source/WebCore/platform/graphics/SourceBrush.cpp
Labels: unsafe-merge-queue, Platform, WebKit Nightly Build

#1717 [Cocoa] Support AVIF images for macOS Ventura and iOS 16
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/loader/cache/CachedResourceRequest.cpp
  Source/WebCore/platform/MIMETypeRegistry.cpp
  Source/WebCore/platform/graphics/cg/ImageDecoderCG.cpp
  Source/WebCore/platform/graphics/cg/ImageDecoderCG.h
  Source/WebCore/platform/graphics/cg/UTIRegistry.cpp
  Source/WebKit/Shared/WebProcessCreationParameters.cpp
  Source/WebKit/Shared/WebProcessCreationParameters.h
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Labels: merge-queue, Images, WebKit Nightly Build

#1780 Add a code owner for animation and model directories
  .github/CODEOWNERS
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#1804 [JSC] Add more debug information for wasm LLIntGenerator
  JSTests/wasm/stress/exception-simple-delegate.js
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
Labels: unsafe-merge-queue, JavaScriptCore, WebKit Nightly Build

#1795 [JSC] Add $vm.setCrashLogMessage
  Source/JavaScriptCore/tools/JSDollarVM.cpp
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#1796 [JSC] remote function call thunk does not have tag registers
  JSTests/stress/shadow-realm-tag-registers.js
  Source/JavaScriptCore/jit/ThunkGenerators.cpp
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#1802 REGRESSION (iOS 16): 2 finger click with trackpad does not select editable text if context menu is already shown
  Source/WebCore/page/EventHandler.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/iOSMouseSupport.mm
Labels: merge-queue, Platform, WebKit Nightly Build

#1805 [web-animations] support custom properties in JS-originated animations
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/animation-important-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-properties-values-api/at-property-animation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/interfaces/Animatable/animate-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/interfaces/KeyframeEffect/constructor-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/interfaces/KeyframeEffect/setKeyframes-expected.txt
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/animation/KeyframeEffect.h
  Source/WebCore/animation/WebAnimation.cpp
  Source/WebCore/bindings/js/JSKeyframeEffectCustom.cpp
Labels: merge-queue, Animations, WebKit Nightly Build

#1806 Documentation, Introduction.md: HTTP => HTTPS
  Introduction.md
Labels: merge-queue

#1810 [web-animations] support custom properties in Animation.commitStyles()
  LayoutTests/imported/w3c/web-platform-tests/web-animations/interfaces/Animation/commitStyles-expected.txt
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/animation/KeyframeEffect.h
  Source/WebCore/animation/WebAnimation.cpp
Labels: merge-queue, Animations, WebKit Nightly Build

#1793 Clean up AccessibilitySupportSPI.h
  Source/WebCore/PAL/pal/spi/cocoa/AccessibilitySupportSPI.h
  Source/WebKit/Platform/spi/Cocoa/AccessibilitySupportSPI.h
  Tools/Scripts/webkitpy/style/checkers/cpp.py
Labels: merge-queue, Accessibility, WebKit Nightly Build

#1812 [Cocoa] Add SPI for implementing accessibility bold
  Source/WebCore/PAL/pal/spi/cf/CoreTextSPI.h
  Source/WebCore/PAL/pal/spi/cocoa/AccessibilitySupportSPI.h
  Source/WebKit/Platform/spi/Cocoa/AccessibilitySupportSPI.h
Labels: merge-queue, Text, WebKit Nightly Build

#1776 [media-controls] allow for ::before and ::after augmentation of the container
  Source/WebCore/Modules/modern-media-controls/controls/media-controls.css
Labels: unsafe-merge-queue, Media, WebKit Nightly Build

#1772 [media-controls] add a plain variant of the overflow icon
  Source/WebCore/Modules/modern-media-controls/controls/icon-service.js
  Source/WebCore/Modules/modern-media-controls/images/iOS/Ellipsis.svg
  Source/WebCore/Modules/modern-media-controls/images/macOS/Ellipsis.svg
Labels: unsafe-merge-queue, Media, WebKit Nightly Build

#1153 [WPE] Disable FTP directory support by default
  Source/cmake/OptionsWPE.cmake
Labels: merge-queue

#834 [GLib] Fix build without ContentExtensions
  Source/WebKit/UIProcess/API/glib/WebKitUserContent.cpp
  Source/WebKit/UIProcess/API/glib/WebKitUserContentFilterStore.cpp
  Source/WebKit/UIProcess/API/glib/WebKitUserContentManager.cpp
Labels: merge-queue

#1815 [GStreamer][WebRTC] Implement data-channel id retrieval
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerDataChannelHandler.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerDataChannelHandler.h
Labels: merge-queue, Platform, WebKit Nightly Build

#1814 [Flatpak SDK] Bump to GStreamer 1.20.3
  Tools/buildstream/elements/sdk-platform.bst
  Tools/buildstream/elements/sdk/gst-libav.bst
  Tools/buildstream/elements/sdk/gst-plugins-bad.bst
  Tools/buildstream/elements/sdk/gst-plugins-base.bst
  Tools/buildstream/elements/sdk/gst-plugins-good.bst
  Tools/buildstream/elements/sdk/gst-plugins-ugly.bst
  Tools/buildstream/elements/sdk/gstreamer.bst
  Tools/buildstream/elements/sdk/libsecret.bst
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#1736 Pass structure to GenerateConditions functor to avoid duplication.
  Source/JavaScriptCore/bytecode/ObjectPropertyConditionSet.cpp
Labels: merge-queue, JavaScriptCore, WebKit Local Build

#1602 Find top privately controlled domain in the UI process
  Source/WebCore/platform/PublicSuffix.h
  Source/WebCore/platform/mac/PublicSuffixMac.mm
  Source/WebCore/platform/network/curl/PublicSuffixCurl.cpp
  Source/WebCore/platform/soup/PublicSuffixSoup.cpp
  Source/WebKit/Shared/LoadParameters.cpp
  Source/WebKit/Shared/LoadParameters.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Labels: merge-queue, WebKit Misc., WebKit Nightly Build

#1813 [Cocoa] Temporarily disable accessibility bold tests while it's being reimplemented
  LayoutTests/TestExpectations
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/win/TestExpectations
  Source/WebCore/platform/graphics/FontCache.h
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/cocoa/SystemFontDatabaseCoreText.cpp
  Source/WebCore/rendering/RenderTheme.h
  Source/WebCore/rendering/RenderThemeIOS.h
  Source/WebCore/testing/InternalSettings.cpp
  Source/WebCore/testing/InternalSettings.h
Labels: merge-queue, Text, WebKit Nightly Build

#1816 Web Inspector: Update CSSDocumentation.js with upstream data. June 2022
  Source/WebInspectorUI/UserInterface/External/CSSDocumentation/CSSDocumentation.js
Labels: merge-queue, Web Inspector, WebKit Nightly Build

#1818 [ews-build.webkit.org] Remove Commit-Queue bot setup
  Tools/EWSTools/configure-git-svn.sh
  Tools/EWSTools/configure-git-user.sh
  Tools/EWSTools/configure-svn-auth.sh
  Tools/EWSTools/configure-svn-config.sh
  Tools/EWSTools/setup-commit-queue.sh
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#1609 webpushd should protect incoming pushes with an os_transaction
  Source/WebKit/webpushd/PushService.mm
  Source/WebKit/webpushd/WebPushDaemon.h
  Source/WebKit/webpushd/WebPushDaemon.mm
  Source/WebKit/webpushd/WebPushDaemonMain.mm
Labels: merge-queue, WebKit Misc., WebKit Nightly Build

#1819 [WebAuthn] Fix swapped page / frame ids
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/WebAuthenticatorCoordinatorProxy.mm
Labels: merge-queue, WebKit Misc., WebKit Nightly Build

#1435 Web Inspector: Update user agent overrides in Web Inspector to match options in Safari 16
  Source/WebInspectorUI/UserInterface/Base/Main.js
Labels: Web Inspector, WebKit Nightly Build

#1803 [WebGPU] Remove size member from GPUCanvasConfiguration
  Source/WebCore/Modules/WebGPU/GPUCanvasConfiguration.h
  Source/WebCore/Modules/WebGPU/GPUCanvasConfiguration.idl
  Source/WebCore/PAL/pal/graphics/WebGPU/WebGPUCanvasConfiguration.h
  Source/WebKit/Shared/WebGPU/WebGPUCanvasConfiguration.cpp
  Source/WebKit/Shared/WebGPU/WebGPUCanvasConfiguration.h
Labels: merge-queue, WebGPU, WebKit Local Build

#1823 [Cocoa] When accessibility bold is enabled, font-family:system-ui is supposed to be bold
  LayoutTests/TestExpectations
  LayoutTests/fast/text/accessibility-bold-system-font/accessibility-bold-system-font-2-expected.html
  LayoutTests/fast/text/accessibility-bold-system-font/accessibility-bold-system-font-2.html
  LayoutTests/fast/text/accessibility-bold-system-font/accessibility-bold-system-font-3-expected-mismatch.html
  LayoutTests/fast/text/accessibility-bold-system-font/accessibility-bold-system-font-3.html
  LayoutTests/fast/text/accessibility-bold-system-font/accessibility-bold-system-font-expected.txt
  LayoutTests/fast/text/accessibility-bold-system-font/accessibility-bold-system-font.html
  LayoutTests/platform/ios/TestExpectations
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.h
  Source/WebCore/testing/InternalSettings.cpp
  Source/WebCore/testing/Internals.cpp
  Source/WebKit/Shared/AccessibilityPreferences.cpp
  Source/WebKit/Shared/AccessibilityPreferences.h
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Labels: merge-queue, New Bugs, WebKit Nightly Build

#1786 Web Inspector: provide an option for controlling whether local overrides entirely replace or have some passthrough
  LayoutTests/http/tests/inspector/network/intercept-request-properties-expected.txt
  LayoutTests/http/tests/inspector/network/intercept-request-properties.html
  LayoutTests/http/tests/inspector/network/local-resource-override-basic-expected.txt
  LayoutTests/http/tests/inspector/network/local-resource-override-basic.html
  Source/WebInspectorUI/Localizations/en.lproj/localizedStrings.js
  Source/WebInspectorUI/UserInterface/Controllers/NetworkManager.js
  Source/WebInspectorUI/UserInterface/Models/LocalResourceOverride.js
  Source/WebInspectorUI/UserInterface/Views/LocalResourceOverridePopover.css
  Source/WebInspectorUI/UserInterface/Views/LocalResourceOverridePopover.js
Labels: Web Inspector, WebKit Nightly Build

#1811 REGRESSION (248034@main): Safari crashes when focusing text field on srsre.com
  LayoutTests/fast/events/ios/blur-and-prompt-after-focus-expected.txt
  LayoutTests/fast/events/ios/blur-and-prompt-after-focus.html
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Labels: HTML Editing, WebKit Nightly Build

#1830 Fix race condition in pas_local_view_cache_stop.
  Source/bmalloc/libpas/src/libpas/pas_local_view_cache.c
Labels: unsafe-merge-queue, JavaScriptCore, WebKit Nightly Build

#1820 [WTF] Remove MSVC hack for alignof
  Source/WTF/wtf/text/StringImpl.h
Labels: merge-queue, WebKit Nightly Build

#1833 [Gardening]: New test: [macOS/iOS arm64] TestWebKitAPI.WKContentRuleListStoreTest.CrossOriginCookieBlocking is crashing
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKContentExtensionStore.mm
Labels: merge-queue, New Bugs, Safari 13

#1829 New test landed failing: [ macOS ] TestWebKitAPI.WebKit2.ConnectedToHardwareConsole is a consistent failure
  Tools/TestWebKitAPI/Tests/WebKit/GetUserMedia.mm
Labels: merge-queue, New Bugs, WebKit Nightly Build

#1832 Fix the Mac Catalyst TestWebKitAPI build
  Source/WTF/wtf/PlatformHave.h
  Tools/TestWebKitAPI/Configurations/Base.xcconfig
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#1666 Log a message when initializing the WebContent process
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Labels: merge-queue, WebKit Misc., Safari 15

#1831 key is validated too late in RegistrationDatabase::importRecords()
  Source/WebCore/workers/service/server/RegistrationDatabase.cpp
Labels: merge-queue, WebKit2, WebKit Nightly Build

#1789 REGRESSION (251792@main?): [ macOS ][ iOS ] TestWebKitAPI.WKBackForwardList.BackForwardNavigationDoesNotSkipItemsWithUserGesture is a flaky failure and crash
  Tools/TestWebKitAPI/Tests/WebKit/WKBackForwardList.mm
  Tools/TestWebKitAPI/cocoa/TestNavigationDelegate.h
  Tools/TestWebKitAPI/cocoa/TestNavigationDelegate.mm
Labels: merge-queue, New Bugs, WebKit Nightly Build

#1428 Fix include gstreamer path on cross compiler toolchains
  Source/cmake/FindGStreamer.cmake
Labels: merge-queue, CMake, WebKit Local Build

#1838 Change contributor status of myself to committer
  metadata/contributors.json
Labels: merge-queue, WebKit Misc., WebKit Nightly Build

#1837 Download::platformCancelNetworkLoad() may call its completion handler on the wrong thread
  Source/WebKit/NetworkProcess/Downloads/cocoa/DownloadCocoa.mm
Labels: merge-queue, WebKit2, WebKit Nightly Build

#1834 Have DumpRenderTree use legacy scrolling
  Tools/DumpRenderTree/mac/DumpRenderTree.mm
Labels: merge-queue, New Bugs, WebKit Nightly Build

#1835 video.currentSrc should not be reset when a new load errors
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/media-elements/loading-the-media-resource/resource-selection-currentSrc-expected.txt
  LayoutTests/media/video-currentsrc-cleared-expected.txt
  LayoutTests/media/video-currentsrc-cleared.html
  Source/WebCore/html/HTMLMediaElement.cpp
Labels: merge-queue, Media, Safari Technology Preview

#1734 Ignore history items added by JS without user interaction via fragment navigation when navigation back/forward via the WKWebView API
  Source/WebCore/loader/FrameLoader.cpp
  Tools/TestWebKitAPI/Tests/WebKit/WKBackForwardList.mm
Labels: merge-queue, WebKit2, WebKit Nightly Build

#1839 [iOS] Selection highlight is not visible after right clicking non-editable text for the first time
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/iOSMouseSupport.mm
Labels: merge-queue, HTML Editing, WebKit Nightly Build

#1841 [JSC] Drop wasm stale assertion
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#1836 If an <object> is removed from the page while its fallback content is being used, Safari will automatically use fallback content when the object is re-inserted.
  LayoutTests/fast/dom/HTMLObjectElement/object-element-fallback-content-update-expected.txt
  LayoutTests/fast/dom/HTMLObjectElement/object-element-fallback-content-update.html
  Source/WebCore/html/HTMLObjectElement.cpp
Labels: merge-queue, DOM, 528+ (Nightly build)

#1729 Implicit extension enabling should use WebGL frontend
  Source/WebCore/html/canvas/EXTColorBufferFloat.cpp
  Source/WebCore/html/canvas/OESTextureFloat.cpp
  Source/WebCore/html/canvas/OESTextureHalfFloat.cpp
  Source/WebCore/html/canvas/WebGLColorBufferFloat.cpp
  Source/WebCore/html/canvas/WebGLMultiDraw.cpp
Labels: merge-queue

#1096 Enable JSC binary tests on armv7 post-commit buildbots
  Tools/CISupport/build-webkit-org/steps.py
Labels: merge-queue

#1821 [GPU Process] RemoteRenderingBackend has to explicitly stop IOSurfacePool::m_collectionTimer before destruction
  Source/WebCore/platform/graphics/cg/IOSurfacePool.cpp
  Source/WebCore/platform/graphics/cg/IOSurfacePool.h
Labels: merge-queue, Layout and Rendering, WebKit Nightly Build

#1817 Fix WEBGL_draw_buffers failures
  LayoutTests/TestExpectations
  LayoutTests/fast/canvas/webgl/webgl-draw-buffers-expected.txt
  LayoutTests/fast/canvas/webgl/webgl-draw-buffers.html
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/wincairo/TestExpectations
  LayoutTests/webgl/1.0.3/conformance/extensions/webgl-draw-buffers-expected.txt
  LayoutTests/webgl/2.0.0/conformance/extensions/webgl-draw-buffers-expected.txt
  Source/WebCore/html/canvas/WebGLDrawBuffers.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
Labels: merge-queue

#1822 [Flatpak SDK] Update Mold to version 1.3.0
  Tools/buildstream/elements/sdk/mold.bst
  Tools/buildstream/elements/sdk/tbb.bst
  Tools/buildstream/patches/tbb-Retry-if-pthread_create-fails-with-EAGAIN.patch
Labels: merge-queue, Tools / Tests, WebKit Local Build

#1755 [ews-build.webkit.org] Remove check-github-integrity (Part 2)
  Tools/Scripts/check-github-mirror-integrity
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#1856 [WebAuthn] Include hybrid transport in IDL
  Source/WebCore/Modules/webauthn/AuthenticatorTransport.idl
Labels: merge-queue, WebKit Misc., WebKit Nightly Build

#1851 Allow downsampling when invoking Remove Background or Copy Subject
  Source/WebCore/PAL/pal/cocoa/VisionKitCoreSoftLink.h
  Source/WebCore/PAL/pal/cocoa/VisionKitCoreSoftLink.mm
  Source/WebCore/PAL/pal/spi/cocoa/VisionKitCoreSPI.h
  Source/WebKit/Platform/cocoa/ImageAnalysisUtilities.h
  Source/WebKit/Platform/cocoa/ImageAnalysisUtilities.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/mac/WebContextMenuProxyMac.mm
Labels: merge-queue, Platform, WebKit Nightly Build

#1864 Build fix
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Labels: unsafe-merge-queue, WebKit Process Model, WebKit Nightly Build

#1840 Make StoreBarrierInsertion aware of the implications of concurrent marking
  Source/JavaScriptCore/dfg/DFGStoreBarrierInsertionPhase.cpp
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#1670 [WebGPU] Fix compilation and style errors in WGSL unit tests
  Source/WebGPU/WGSLUnitTests/WGSLLexerTests.mm
  Source/WebGPU/WGSLUnitTests/WGSLParserTests.mm
Labels: merge-queue, WebGPU, WebKit Local Build

#1869 Add NSWindowCollectionBehaviorStationary to the fullscreen video NSWindow to make Stage Manager transitions nicer
  Source/WebKit/UIProcess/mac/WKFullScreenWindowController.mm
Labels: merge-queue, WebKit Misc., WebKit Local Build

#1857 [Gardening]: [ macOS Release ] TestWebKitAPI.VideoControlsManager.VideoControlsManagerMultipleVideosScrollPlayingMutedVideoOutOfView is a flaky timeout
  Tools/TestWebKitAPI/Tests/WebKitCocoa/VideoControlsManager.mm
Labels: merge-queue, Media, WebKit Nightly Build

#1873 [Gardening]: [ iOS Release ] TestWebKitAPI.RequestTextInputContext.TextInteraction_FocusingAssistedElementShouldNotScrollToReveal is a flaky failure
  Tools/TestWebKitAPI/Tests/WebKitCocoa/RequestTextInputContext.mm
Labels: merge-queue, New Bugs, WebKit Nightly Build

#1872 Web Inspector: Regression(250246@main) jsmin 3.0.1 breaks minifying CodeMirrorCompletionController.js
  Source/JavaScriptCore/Scripts/jsmin.py
Labels: merge-queue, Web Inspector, WebKit Nightly Build

#1861 [git-webkit] Fix branch_point computation
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/branch.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/land_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/pull_request_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/revert_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/squash_unittest.py
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#1863 [Modern Media Controls] [iOS] adjust appearance of time scrubber
  Source/WebCore/Modules/modern-media-controls/controls/slider-base.css
  Source/WebCore/Modules/modern-media-controls/controls/slider-base.js
  Source/WebCore/Modules/modern-media-controls/controls/slider.css
  Source/WebCore/Modules/modern-media-controls/controls/slider.js
Labels: merge-queue, Media, WebKit Nightly Build

#1874 [run-benchmark] Avoid race condition when killing the browser subprocess on Linux
  Tools/Scripts/webkitpy/benchmark_runner/browser_driver/linux_browser_driver.py
Labels: merge-queue

#1880 [Alternate WebM Player] Register SourceBufferParserWebM Logger
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.mm
Labels: merge-queue, Media, WebKit Nightly Build

#1860 [WebAuthn] Reject too long or too short user id
  LayoutTests/http/wpt/webauthn/public-key-credential-create-success-hid.https-expected.txt
  LayoutTests/http/wpt/webauthn/public-key-credential-create-success-hid.https.html
  LayoutTests/http/wpt/webauthn/public-key-credential-create-with-invalid-parameters.https-expected.txt
  LayoutTests/http/wpt/webauthn/public-key-credential-create-with-invalid-parameters.https.html
  Source/WebCore/Modules/webauthn/AuthenticatorCoordinator.cpp
Labels: merge-queue, WebKit Misc., WebKit Nightly Build

#1881 [Big Sur] Fix Big Sur build after 251860@main
  Source/WTF/wtf/PlatformHave.h
  Source/WebKit/Platform/spi/Cocoa/AccessibilitySupportSPI.h
Labels: merge-queue, Text, WebKit Nightly Build

#1884 [JSC] Clean up delegate's error message
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
Labels: unsafe-merge-queue, JavaScriptCore, WebKit Nightly Build

#1887 [Gardening]: REGRESSION (251244@main): [ iOS ] TestWebKitAPI.HSTS.Preconnect is a flaky timeout
  Tools/TestWebKitAPI/Tests/WebKitCocoa/HSTS.mm
Labels: merge-queue, New Bugs, WebKit Nightly Build

#1859 [git-webkit] Prefer 'fork' over personal remote name when checking out PR
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/local/git.py
Labels: merge-queue, Tools / Tests, Other

#1889 [GLib] Add a websetting gating WebRTC support
  Source/WebKit/UIProcess/API/glib/WebKitSettings.cpp
  Source/WebKit/UIProcess/API/gtk/WebKitSettings.h
  Source/WebKit/UIProcess/API/wpe/WebKitSettings.h
  Tools/TestWebKitAPI/Tests/WebKitGLib/TestWebKitSettings.cpp
Labels: merge-queue, WebKitGTK, WebKit Nightly Build

#1502 REGRESSION (251356@main): TestWebKitAPI.IPCTestingAPI.CanSendSharedMemory is consistently timing out
  Source/WebKit/UIProcess/Cocoa/WebPasteboardProxyCocoa.mm
  Source/WebKit/UIProcess/WebPasteboardProxy.h
  Source/WebKit/UIProcess/WebPasteboardProxy.messages.in
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IPCTestingAPI.mm
Labels: merge-queue, New Bugs, Safari 13

#1875 Enable OFFLINE_ASM_USE_ALT_ENTRY on Mac and Apple platforms using newer SDKs.
  Source/JavaScriptCore/llint/LowLevelInterpreter.cpp
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#1901 [JSC] Remove unused type StackVisitor::Status
  Source/JavaScriptCore/interpreter/StackVisitor.h
Labels: merge-queue, JavaScriptCore, WebKit Local Build

#1906 [macOS] Allow access to Power log daemon when Task mode query is not present in the macOS version
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
Labels: merge-queue, WebKit Misc., Safari 15

#1910 Add non-interactive flag for build-and-collect-pgo-profiles
  Tools/Scripts/build-and-collect-pgo-profiles
Labels: merge-queue

#1899 Clean up some uses of `new` and `delete` in drag and drop code inside WebViewImpl
  Source/WebKit/UIProcess/Cocoa/WebViewImpl.mm
Labels: merge-queue, HTML Editing, WebKit Nightly Build

#1912 [Gardening]: REGRESSION (251741@main-251739@main?): [ iOS ] TestWebKitAPI.AutocorrectionTests.AutocorrectionContextBeforeAndAfterEditing is a flaky failure
  Tools/TestWebKitAPI/Tests/ios/AutocorrectionTestsIOS.mm
Labels: merge-queue, New Bugs, WebKit Nightly Build

#1783 Add ability to mask URLs from DOM and JavaScript.
  Source/WebCore/bindings/scripts/CodeGenerator.pm
  Source/WebCore/bindings/scripts/test/JS/JSTestObj.cpp
  Source/WebCore/dom/Attr.cpp
  Source/WebCore/dom/Attr.h
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/Element.h
  Source/WebCore/dom/Element.idl
  Source/WebCore/dom/ElementInlines.h
  Source/WebCore/dom/ShadowRoot.cpp
  Source/WebCore/editing/MarkupAccumulator.cpp
  Source/WebCore/editing/cocoa/EditorCocoa.mm
  Source/WebCore/editing/gtk/EditorGtk.cpp
  Source/WebCore/editing/libwpe/EditorLibWPE.cpp
  Source/WebCore/editing/mac/EditorMac.mm
  Source/WebCore/editing/markup.cpp
  Source/WebCore/editing/markup.h
  Source/WebCore/html/HTMLImageElement.cpp
  Source/WebCore/html/HTMLImageElement.h
  Source/WebCore/html/HTMLImageElement.idl
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebCore/page/PageConfiguration.h
  Source/WebCore/platform/win/PasteboardWin.cpp
  Source/WebKit/Shared/WebPageCreationParameters.cpp
  Source/WebKit/Shared/WebPageCreationParameters.h
  Source/WebKit/UIProcess/API/APIPageConfiguration.cpp
  Source/WebKit/UIProcess/API/APIPageConfiguration.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewConfiguration.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewConfigurationPrivate.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/WebProcess/WebCoreSupport/gtk/WebEditorClientGtk.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebViewConfiguration.mm
Labels: merge-queue, WebKit API, WebKit Local Build

#1911 [Gardening]: [ iOS ] 3X fast/text/accessibility-bold-system-font (Layout-tests) are a constant failures
  LayoutTests/TestExpectations
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue

#1914 Web Inspector: Typo in error handling for picking color from screen
  Source/WebInspectorUI/UserInterface/Views/ColorPicker.js
Labels: merge-queue, Web Inspector, WebKit Nightly Build

#1743 Don't allocate backing stores for non-animated compositing layers with zero opacity
  LayoutTests/compositing/backing/zero-opacity-expected.txt
  LayoutTests/compositing/backing/zero-opacity-invalidation-expected.txt
  LayoutTests/compositing/backing/zero-opacity-invalidation.html
  LayoutTests/compositing/backing/zero-opacity.html
  LayoutTests/compositing/geometry/bounds-ignores-hidden-dynamic-negzindex-expected.txt
  LayoutTests/compositing/geometry/fixed-position-flipped-writing-mode-expected.txt
  LayoutTests/compositing/visibility/layer-visible-content-expected.txt
  LayoutTests/platform/gtk/compositing/visibility/layer-visible-content-expected.txt
  LayoutTests/platform/ios-wk2/compositing/geometry/bounds-ignores-hidden-dynamic-negzindex-expected.txt
  LayoutTests/platform/ios/compositing/geometry/fixed-position-flipped-writing-mode-expected.txt
  Source/WebCore/rendering/RenderLayerBacking.cpp
  Source/WebCore/rendering/RenderLayerCompositor.cpp
  Source/WebCore/style/Styleable.cpp
  Source/WebCore/style/Styleable.h
Labels: merge-queue, Layout and Rendering, WebKit Nightly Build

#1918 [Gardening]: [ macOS iOS EWS ] fast/text/accessibility-bold-system-font/accessibility-bold-system-font-2.html is a consistent failure
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#1913 Crash under IPC::Connection::sendSync<Messages::WebPageProxy::RootViewToScreen>()
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
Labels: merge-queue, WebKit2, WebKit Nightly Build

#1923 [Gardening]: [ macOS iOS EWS ] fast/text/accessibility-bold-system-font/accessibility-bold-system-font-2.html is a consistent failure
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#1866 We create /System/Library/LaunchDaemons/ for builds that don't install plists in that path
  Source/WebKit/Configurations/adattributiond.xcconfig
  Source/WebKit/Configurations/webpushd.xcconfig
  Source/WebKit/Scripts/copy-launchd-plist-and-create-symlink.sh
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: merge-queue, Platform, WebKit Nightly Build

#1925 [Big Sur] Fix Big Sur more after 251860@main
  Source/WTF/wtf/PlatformHave.h
Labels: merge-queue, Text, WebKit Nightly Build

#1566 [JSC] Typed array private name resolvable only after public name has been seen
  JSTests/stress/typed-array-builtin-names.js
  LayoutTests/TestExpectations
  Source/JavaScriptCore/bytecode/LinkTimeConstant.h
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
Labels: JavaScriptCore, WebKit Nightly Build

#1862 [Alternate WebM Player] Support non-zero start times
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.h
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.mm
Labels: merge-queue, Media, WebKit Nightly Build

#1741 Canvas.toDataURL causes excessive GPUP memory use on Cocoa
  LayoutTests/fast/canvas/toDataURL-alpha-permutation-expected.html
  LayoutTests/fast/canvas/toDataURL-alpha-permutation.html
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/win/TestExpectations
  Source/WebCore/html/HTMLCanvasElement.cpp
  Source/WebCore/platform/MIMETypeRegistry.cpp
  Source/WebCore/platform/MIMETypeRegistry.h
  Source/WebCore/platform/graphics/ConcreteImageBuffer.h
  Source/WebCore/platform/graphics/ImageBuffer.cpp
  Source/WebCore/platform/graphics/ImageBuffer.h
  Source/WebCore/platform/graphics/ImageBufferBackend.h
  Source/WebCore/platform/graphics/cairo/ImageBufferCairoBackend.cpp
  Source/WebCore/platform/graphics/cairo/ImageBufferCairoBackend.h
  Source/WebCore/platform/graphics/cairo/ImageBufferUtilitiesCairo.cpp
  Source/WebCore/platform/graphics/cairo/ImageBufferUtilitiesCairo.h
  Source/WebCore/platform/graphics/cg/ImageBufferCGBackend.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferCGBackend.h
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.h
  Source/WebCore/platform/graphics/cg/ImageBufferUtilitiesCG.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferUtilitiesCG.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.messages.in
  Source/WebKit/Shared/API/c/cg/WKImageCG.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.h
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferRemoteIOSurfaceBackend.cpp
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferRemoteIOSurfaceBackend.h
Labels: merge-queue, Canvas, Safari 15
