Repository WebKit/WebKit, pull requests merged in 2022-09, with the labels that each got.

#3887 [Gardening]: [ iOS arm64 Release wk2 ] imported/w3c/web-platform-tests/mimesniff/mime-types/charset-parameter.window.html is a flaky failure
  LayoutTests/platform/ios-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#3801 :has(~:dir(~)) should work
  LayoutTests/TestExpectations
  LayoutTests/fast/css/dir-pseudo-container-query-expected.html
  LayoutTests/fast/css/dir-pseudo-container-query-invalidation-expected.html
  LayoutTests/fast/css/dir-pseudo-container-query-invalidation.html
  LayoutTests/fast/css/dir-pseudo-container-query.html
  LayoutTests/platform/win/TestExpectations
  Source/WebCore/css/SelectorCheckerTestFunctions.h
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/dom/Node.cpp
  Source/WebCore/dom/Node.h
  Source/WebCore/html/HTMLElement.cpp
  Source/WebCore/html/HTMLElement.h
  Source/WebCore/html/HTMLInputElement.cpp
  Source/WebCore/html/HTMLTextAreaElement.cpp
Labels: merge-queue, CSS, WebKit Nightly Build

#3890 Web Inspector: Elements Tab: don't show the Target in the Event badge popover
  Source/WebInspectorUI/UserInterface/Views/DOMTreeElement.js
  Source/WebInspectorUI/UserInterface/Views/EventListenerSectionGroup.js
Labels: unsafe-merge-queue, Web Inspector, WebKit Nightly Build

#3859 Remove unused ContentExtensionTester
  Tools/ContentExtensionTester/Configurations/Base.xcconfig
  Tools/ContentExtensionTester/Configurations/ContentExtensionTester.xcconfig
  Tools/ContentExtensionTester/Configurations/DebugRelease.xcconfig
  Tools/ContentExtensionTester/ContentExtensionTester.xcodeproj/project.pbxproj
  Tools/ContentExtensionTester/Makefile
  Tools/ContentExtensionTester/main.m
  Tools/Scripts/run-content-extension-tester
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#3889 test-webkitpy --all failures on main (Follow-up)
  Tools/Scripts/webkitpy/common/checkout/scm/scm_unittest.py
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#3894 [Gardening]: REGRESSION (253946@main): [ macOS wk1 Debug ] imported/w3c/web-platform-tests/css/css-align/baseline-rules/synthesized-baseline-flexbox-001.html is a flaky crash
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#3677 Web Inspector: Add a setting to turn off dimming unrendered nodes
  Source/WebInspectorUI/Localizations/en.lproj/localizedStrings.js
  Source/WebInspectorUI/UserInterface/Base/Setting.js
  Source/WebInspectorUI/UserInterface/Views/DOMTreeContentView.js
  Source/WebInspectorUI/UserInterface/Views/DOMTreeOutline.css
  Source/WebInspectorUI/UserInterface/Views/SettingsTabContentView.js
Labels: Web Inspector, WebKit Nightly Build

#3899 [Gardening]: Test addition (252960@main): [ macOS wk1 Debug ] imported/w3c/web-platform-tests/html/semantics/embedded-content/bfcache/embedded-mp4.html is a flaky crash
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#3809 Blob should report its underlying memory cost to garbage collection
  LayoutTests/fast/storage/serialized-script-value.html
  Source/WebCore/Modules/fetch/FetchBody.cpp
  Source/WebCore/Modules/websockets/WorkerThreadableWebSocketChannel.cpp
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
  Source/WebCore/dom/MessageEvent.cpp
  Source/WebCore/fileapi/Blob.cpp
  Source/WebCore/fileapi/Blob.h
  Source/WebCore/fileapi/Blob.idl
  Source/WebCore/fileapi/File.cpp
Labels: merge-queue, WebCore Misc., WebKit Nightly Build

#3729 Change JetStream benchmark harness to pre-fetch files first.
  PerformanceTests/JetStream2/JetStream.css
  PerformanceTests/JetStream2/JetStreamDriver.js
  PerformanceTests/JetStream2/in-depth.html
  PerformanceTests/JetStream2/index.html
Labels: JavaScriptCore, WebKit Nightly Build

#3624 Divs with border-radius are not repainted correctly when bounds change
  LayoutTests/fast/repaint/border-radius-repaint-2-expected.txt
  LayoutTests/fast/repaint/border-radius-repaint-2.html
  LayoutTests/platform/gtk/fast/repaint/border-radius-repaint-2-expected.txt
  LayoutTests/platform/ios/fast/repaint/border-radius-repaint-2-expected.txt
  LayoutTests/platform/mac-bigsur-wk1/fast/repaint/border-radius-repaint-2-expected.txt
  LayoutTests/platform/win/fast/repaint/border-radius-repaint-2-expected.txt
  Source/WebCore/platform/graphics/RoundedRect.h
  Source/WebCore/rendering/RenderElement.cpp
Labels: merge-queue, Layout and Rendering, 528+ (Nightly build)

#3873 REGRESSION (253350@main): ASSERTION FAILED: [[dataSource webFrame] dataSource] || [[dataSource webFrame] provisionalDataSource] on fast/loader/opaque-base-url.html consistently
  LayoutTests/platform/mac-wk1/TestExpectations
  Source/WebCore/loader/FrameLoader.cpp
Labels: unsafe-merge-queue, Page Loading, WebKit Nightly Build

#3865 Regression(r222993) Code in addChildNodesToDeletionQueue() that checks that node has a refcount of 0 is now dead
  Source/WebCore/dom/ContainerNode.h
  Source/WebCore/dom/ContainerNodeAlgorithms.cpp
Labels: merge-queue, WebCore Misc., WebKit Nightly Build

#3916 [Gardening]: [ macOS wk1 Debug ] imported/w3c/web-platform-tests/navigation-timing/dom_interactive_media_document.html is a flaky crash
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#3852 Optimize HTMLConstructionSite::mergeAttributesFromTokenIntoElement()
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/Element.h
  Source/WebCore/html/parser/HTMLConstructionSite.cpp
Labels: merge-queue, WebCore Misc., WebKit Nightly Build

#3855 ITP should hold off longer on deleting website data for domains with WebPush that the user interacts with
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsDatabaseStore.cpp
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsDatabaseStore.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebPushDaemon.mm
Labels: merge-queue, WebKit Misc., WebKit Local Build

#3910 Fix CMake configuring on macOS
  Source/WebKit/PlatformMac.cmake
Labels: merge-queue, WebKit Misc., WebKit Nightly Build

#3907 Enable :dir by default
  LayoutTests/platform/win/TestExpectations
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
Labels: unsafe-merge-queue, CSS, WebKit Nightly Build

#3893 Web Inspector: inline breakpoint widget should have a context menu to edit the breakpoint
  Source/WebInspectorUI/UserInterface/Views/BreakpointInlineWidget.js
Labels: unsafe-merge-queue, Web Inspector, WebKit Nightly Build

#3921 [Gardening]: New Test?: [ macOS wk1 ] media/media-source/media-source-istypesupported-vp8-without-vp9.html is a constant text failure
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#3900 Web Inspector: When selecting timeline records from a coalesced record bar, select the record nearest the cursor, not the first record in the group
  Source/WebInspectorUI/UserInterface/Views/TimelineOverviewGraph.js
  Source/WebInspectorUI/UserInterface/Views/TimelineRecordBar.js
Labels: merge-queue, Web Inspector, WebKit Nightly Build

#3919 Web Inspector: inline breakpoint widget should show auto-continue status
  Source/WebInspectorUI/UserInterface/Views/BreakpointInlineWidget.css
  Source/WebInspectorUI/UserInterface/Views/BreakpointInlineWidget.js
Labels: unsafe-merge-queue, Web Inspector, WebKit Nightly Build

#3924 [Gardening]: Test addition (253931@main): [ macOS wk1 Debug ] media/track/track-description-cue.html is a consistent crash
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#3913 rdar://99440019 (REGRESSION(254007@main): [ iOS macOS Debug ] 5X TestWebKitAPI.Content(API tests) are constant crashes (244669))
  Source/WebCore/contentextensions/ContentExtensionParser.cpp
Labels: merge-queue, WebCore Misc., WebKit Nightly Build

#3315 Web Inspector: Show "Scroll" labels in the element tree for scrollable elements
  LayoutTests/inspector/css/nodeLayoutFlagsChanged-Scrollable-expected.txt
  LayoutTests/inspector/css/nodeLayoutFlagsChanged-Scrollable.html
  Source/JavaScriptCore/inspector/protocol/CSS.json
  Source/WebCore/inspector/InspectorInstrumentation.cpp
  Source/WebCore/inspector/InspectorInstrumentation.h
  Source/WebCore/inspector/agents/InspectorCSSAgent.cpp
  Source/WebCore/inspector/agents/InspectorCSSAgent.h
  Source/WebCore/page/FrameView.cpp
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/RenderLayerModelObject.cpp
  Source/WebCore/rendering/RenderLayerScrollableArea.cpp
  Source/WebInspectorUI/Localizations/en.lproj/localizedStrings.js
  Source/WebInspectorUI/UserInterface/Models/DOMNode.js
  Source/WebInspectorUI/UserInterface/Views/DOMTreeContentView.js
  Source/WebInspectorUI/UserInterface/Views/DOMTreeElement.js
Labels: merge-queue, Web Inspector, Safari Technology Preview

#3914 Web Inspector: Elements Tab DOM Tree does not update when a top-level item in the DOM tree is added/removed
  Source/WebInspectorUI/UserInterface/Views/DOMTreeUpdater.js
Labels: merge-queue, Web Inspector, WebKit Nightly Build

#3932 Github status-bubble email notifications are unhelpful
  Tools/CISupport/ews-app/ews/common/github.py
Labels: unsafe-merge-queue, Tools / Tests, Other

#3933 Clarify some details in JetStream 2.1's In-Depth Analysis text.
  PerformanceTests/JetStream2/in-depth.html
  Websites/browserbench.org/JetStream2.1/in-depth.html
Labels: unsafe-merge-queue, JavaScriptCore, WebKit Nightly Build

#3920 Web Inspector: Assertion when removing event listener in CSSPropertyNameCompletions.js
  Source/WebInspectorUI/UserInterface/Models/CSSPropertyNameCompletions.js
Labels: merge-queue, Web Inspector, WebKit Nightly Build

#3937 [Gardening]: REGRESSION (253726@main): [ macOS wk1 Debug ] ASSERTION FAILED: !needsLayout() page/FrameView.cpp(4560) : virtual void WebCore::FrameView::paintContents(WebCore::GraphicsContext &
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#3884 [git-webkit] Add track command
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/mocks/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/track.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/git_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/track_unittest.py
Labels: unsafe-merge-queue, Tools / Tests, Other

#3935 Link to PR in the ews github email notifications
  Tools/CISupport/ews-app/ews/common/github.py
Labels: unsafe-merge-queue, Tools / Tests, Other

#3939 [TestIPC] Fix watchOS build failure
  Tools/TestWebKitAPI/Configurations/TestIPC.xcconfig
Labels: unsafe-merge-queue, WebKit2, Other

#3945 [Gardening]: [ iOS iPadOS Release ] 2X imported/w3c/web-platform-tests/IndexedDB/idbfactory(Layout tests) are flaky failures
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/ipad/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#3930 Unreviewed, non-unified build fixes after 254061@main
  Source/WebCore/rendering/RenderLayerModelObject.cpp
  Source/WebCore/rendering/RenderLayerScrollableArea.cpp
Labels: merge-queue

#3842 Resync css/selectors/dir-style-01a.html and dir-style-01b.html
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/selectors/dir-style-01a.html
  LayoutTests/imported/w3c/web-platform-tests/css/selectors/dir-style-01b.html
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#3928 [iOS] Keyboard obscures note content when finding a string in HTML Notes
  LayoutTests/TestExpectations
  LayoutTests/editing/find/cocoa/find-and-replace-adjacent-words-expected.txt
  LayoutTests/editing/find/cocoa/find-and-replace-adjacent-words.html
  LayoutTests/editing/find/cocoa/find-and-replace-at-editing-boundary-expected.txt
  LayoutTests/editing/find/cocoa/find-and-replace-at-editing-boundary.html
  LayoutTests/editing/find/cocoa/find-and-replace-basic-expected.txt
  LayoutTests/editing/find/cocoa/find-and-replace-basic.html
  LayoutTests/editing/find/cocoa/find-and-replace-in-subframes-expected.txt
  LayoutTests/editing/find/cocoa/find-and-replace-in-subframes.html
  LayoutTests/editing/find/cocoa/find-and-replace-no-matches-expected.txt
  LayoutTests/editing/find/cocoa/find-and-replace-no-matches.html
  LayoutTests/editing/find/cocoa/find-and-replace-noneditable-matches-expected.txt
  LayoutTests/editing/find/cocoa/find-and-replace-noneditable-matches.html
  LayoutTests/editing/find/cocoa/find-and-replace-replacement-text-input-events-expected.txt
  LayoutTests/editing/find/cocoa/find-and-replace-replacement-text-input-events.html
  LayoutTests/editing/find/cocoa/find-short-and-long-strings-expected.txt
  LayoutTests/editing/find/cocoa/find-short-and-long-strings.html
  LayoutTests/editing/find/ios/find-interaction-adjusts-scroll-view-insets-expected.txt
  LayoutTests/editing/find/ios/find-interaction-adjusts-scroll-view-insets.html
  LayoutTests/platform/ios-15/TestExpectations
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/resources/ui-helper.js
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Tools/TestRunnerShared/UIScriptContext/Bindings/UIScriptController.idl
  Tools/TestRunnerShared/UIScriptContext/UIScriptController.h
  Tools/WebKitTestRunner/TestOptions.cpp
  Tools/WebKitTestRunner/TestOptions.h
  Tools/WebKitTestRunner/ios/TestControllerIOS.mm
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.h
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.mm
Labels: merge-queue, WebKit API, Other

#3915 Remove _WKWebsiteDataStore.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebsiteDataStore.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: WebKit Misc., WebKit Nightly Build

#3922 Deprecate and remove most of _WKUserContentFilter
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/API/Cocoa/WKContentRuleListStore.mm
  Source/WebKit/UIProcess/API/Cocoa/WKContentRuleListStorePrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKUserContentController.mm
  Source/WebKit/UIProcess/API/Cocoa/WKUserContentControllerPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/_WKUserContentExtensionStore.h
  Source/WebKit/UIProcess/API/Cocoa/_WKUserContentExtensionStore.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKUserContentExtensionStoreInternal.h
  Source/WebKit/UIProcess/API/Cocoa/_WKUserContentExtensionStorePrivate.h
  Source/WebKit/UIProcess/API/Cocoa/_WKUserContentFilter.h
  Source/WebKit/UIProcess/API/Cocoa/_WKUserContentFilter.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKUserContentFilterInternal.h
  Source/WebKit/UIProcess/API/Cocoa/_WKUserContentFilterPrivate.h
  Source/WebKit/UIProcess/API/mac/WKWebViewTestingMac.mm
  Source/WebKit/UIProcess/Cocoa/UIProcessLogInitializationCocoa.mm
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/CcidConnection.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Tools/MiniBrowser/mac/AppDelegate.m
  Tools/MiniBrowser/mac/ExtensionManagerWindowController.m
  Tools/TestWebKitAPI/SourcesCocoa.txt
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKContentExtensionStore.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebsitePolicies.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/_WKUserContentExtensionStore.mm
  Tools/WebKitTestRunner/cocoa/TestControllerCocoa.mm
  Tools/WebKitTestRunner/mac/TestControllerMac.mm
Labels: merge-queue, New Bugs, WebKit Nightly Build

#3674 [JSC] Add ProxyObjectLoad IC
  JSTests/microbenchmarks/proxy-get-miss-handler.js
  JSTests/microbenchmarks/proxy-get.js
  JSTests/stress/proxy-get-symbol.js
  Source/JavaScriptCore/CMakeLists.txt
  Source/JavaScriptCore/DerivedSources-input.xcfilelist
  Source/JavaScriptCore/DerivedSources.make
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/Sources.txt
  Source/JavaScriptCore/builtins/BuiltinNames.h
  Source/JavaScriptCore/builtins/ProxyHelpers.js
  Source/JavaScriptCore/bytecode/AccessCase.cpp
  Source/JavaScriptCore/bytecode/AccessCase.h
  Source/JavaScriptCore/bytecode/BytecodeIntrinsicRegistry.h
  Source/JavaScriptCore/bytecode/BytecodeList.rb
  Source/JavaScriptCore/bytecode/GetterSetterAccessCase.cpp
  Source/JavaScriptCore/bytecode/InlineAccess.cpp
  Source/JavaScriptCore/bytecode/LinkTimeConstant.h
  Source/JavaScriptCore/bytecode/ModuleNamespaceAccessCase.cpp
  Source/JavaScriptCore/bytecode/PolymorphicAccess.cpp
  Source/JavaScriptCore/bytecode/PolymorphicAccess.h
  Source/JavaScriptCore/bytecode/ProxyObjectAccessCase.cpp
  Source/JavaScriptCore/bytecode/ProxyObjectAccessCase.h
  Source/JavaScriptCore/bytecode/Repatch.cpp
  Source/JavaScriptCore/bytecode/Repatch.h
  Source/JavaScriptCore/bytecode/StructureStubInfo.cpp
  Source/JavaScriptCore/bytecode/StructureStubInfo.h
  Source/JavaScriptCore/bytecompiler/NodesCodegen.cpp
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGJITCode.h
  Source/JavaScriptCore/dfg/DFGJITCompiler.cpp
  Source/JavaScriptCore/dfg/DFGJITCompiler.h
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/dfg/DFGOperations.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT32_64.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/jit/BaselineJITRegisters.h
  Source/JavaScriptCore/jit/ICStats.h
  Source/JavaScriptCore/jit/IntrinsicEmitter.cpp
  Source/JavaScriptCore/jit/JIT.cpp
  Source/JavaScriptCore/jit/JIT.h
  Source/JavaScriptCore/jit/JITInlineCacheGenerator.cpp
  Source/JavaScriptCore/jit/JITInlineCacheGenerator.h
  Source/JavaScriptCore/jit/JITOperations.cpp
  Source/JavaScriptCore/jit/JITOperations.h
  Source/JavaScriptCore/jit/JITPropertyAccess.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/Operations.h
  Source/JavaScriptCore/runtime/ProxyObject.h
Labels: JavaScriptCore, WebKit Nightly Build

#3909 [GStreamer][MediaStream] Build failing for GStreamer versions < 1.18
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.cpp
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.h
Labels: Platform, WebKit Nightly Build

#3925 REGRESSION(253383@main): Build broken with ENABLE(VIDEO) disabled
  Source/WebCore/dom/FragmentDirectiveRangeFinder.cpp
  Source/WebCore/page/ContextMenuController.cpp
Labels: Tools / Tests, WebKit Nightly Build

#3946 [WGSL] Handle lexing of negative numbers
  Source/WebGPU/WGSL/Lexer.cpp
  Source/WebGPU/WGSL/Token.cpp
  Source/WebGPU/WGSL/Token.h
  Source/WebGPU/WGSLUnitTests/WGSLLexerTests.mm
Labels: merge-queue, WebGPU, Other

#3878 [GLIB] WheelEvent (phase=ended) has to be relayed to the scrollingTree if user scroll is in progress
  Source/WebKit/WebProcess/WebPage/EventDispatcher.cpp
Labels: merge-queue, WebKit2, WebKit Nightly Build

#3770 [WPE] Kinetic scrolling doesn't work in overflow scrolling
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNode.cpp
Labels: merge-queue, WebKitGTK, WebKit Nightly Build

#3956 Revert [253988@main] WebPageProxy::MouseDidMoveOverElement Modifiers Serialization
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.cpp
Labels: Other

#3957 [Gardening]: REGRESSION (253726@main): [ macOS wk1 Debug ] ASSERTION FAILED: !needsLayout() WebCore::Widget::SecurityOriginPaintPolicy, WebCore::EventRegionContext*)
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#3958 [Gardening]: Test addition (247071@main): [ macOS wk1 Debug ] Two imported/w3c/web-platform-tests/xhr/ tests are a flaky failure
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#3875 Test addition (248077@main): [ macOS wk1 Debug ] http/tests/loading/form-submission-no-load-event.html is a flaky crash
  LayoutTests/http/tests/loading/form-submission-no-load-event-expected.txt
  LayoutTests/http/tests/navigation/form-submission-no-load-event-expected.txt
  LayoutTests/http/tests/navigation/form-submission-no-load-event.html
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: merge-queue, New Bugs, WebKit Nightly Build

#3947 CSS JIT should be able to compile :dir pseudo class
  Source/WebCore/cssjit/SelectorCompiler.cpp
Labels: unsafe-merge-queue, CSS, WebKit Nightly Build

#3943 Add UIMenuOptions SPI to UIKitSPI.h
  Source/WTF/wtf/PlatformHave.h
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/ios/forms/WKFormSelectPicker.mm
Labels: merge-queue, WebKit Misc., Other

#3941 Add .serialization.in files for SupportedFeatures
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Shared/WebGPU/WebGPUSupportedFeatures.h
  Source/WebKit/Shared/WebGPU/WebGPUSupportedFeatures.serialization.in
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: merge-queue, WebKit Process Model, WebKit Nightly Build

#3970 [Gardening]: Test addition (254041@main): [ Monterey wk1 ] fast/repaint/border-radius-repaint-2.html is a consistent failure
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#3962 Debug assertion under `ImageOverlay::updateWithTextRecognitionResult` when hovering over certain images
  LayoutTests/fast/images/text-recognition/image-overlay-reversed-range-expected.txt
  LayoutTests/fast/images/text-recognition/image-overlay-reversed-range.html
  Source/WebCore/dom/ImageOverlay.cpp
Labels: merge-queue, Platform, WebKit Nightly Build

#3967 Add an additional bot to webkit-cq
  Tools/CISupport/ews-build/config.json
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#3977 [Gardening]: [ iOS macOS ] http/wpt/cross-origin-opener-policy/non-secure-to-secure-context-navigation.https.html is a flaky failure
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#3968 [GLib] Fix build with CMake < 3.17
  Source/WebKit/PdfJSGResources.cmake
Labels: merge-queue, WebKitGTK, WebKit Nightly Build

#3969 [Reporting API] WebDriver: Add support for generateTestReport
  Source/WebCore/Modules/reporting/ReportingScope.cpp
  Source/WebCore/Modules/reporting/ReportingScope.h
  Source/WebKit/UIProcess/Automation/Automation.json
  Source/WebKit/UIProcess/Automation/WebAutomationSession.cpp
  Source/WebKit/UIProcess/Automation/WebAutomationSession.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundleFrame.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundleFramePrivate.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
  Tools/WebKitTestRunner/InjectedBundle/Bindings/TestRunner.idl
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.cpp
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.h
Labels: merge-queue, WebDriver, WebKit Nightly Build

#3950 Run-benchmark should be able to checkout out a fixed version of benchmark from Git/GitHub
  Tools/Scripts/webkitpy/benchmark_runner/benchmark_builder.py
  Tools/Scripts/webkitpy/benchmark_runner/data/plans/jetstream2.1.plan
  Tools/Scripts/webkitpy/benchmark_runner/data/plans/motionmark1.2.1.plan
  Tools/Scripts/webkitpy/benchmark_runner/github_downloader.py
  Tools/Scripts/webkitpy/benchmark_runner/plan_file_optimizer.py
Labels: merge-queue, unsafe-merge-queue, New Bugs, WebKit Nightly Build

#3984 Expose _overrideDeviceScaleFactor property on iOS (currently macOS only)
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
  Source/WebKit/UIProcess/API/mac/WKView.mm
  Source/WebKit/UIProcess/API/mac/WKWebViewMac.mm
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/mac/WebViewImpl.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
Labels: merge-queue, WebKit Misc., WebKit Nightly Build

#3953 Move out of OnTrack/OnRemoveTrack libwebrtc callbacks
  LayoutTests/imported/w3c/web-platform-tests/webrtc/RTCPeerConnection-setRemoteDescription-rollback-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webrtc/RTCRtpSender-setStreams.https-expected.txt
  Source/WebCore/Modules/mediastream/MediaStream.h
  Source/WebCore/Modules/mediastream/MediaStreamTrack.cpp
  Source/WebCore/Modules/mediastream/MediaStreamTrack.h
  Source/WebCore/Modules/mediastream/PeerConnectionBackend.cpp
  Source/WebCore/Modules/mediastream/PeerConnectionBackend.h
  Source/WebCore/Modules/mediastream/RTCRtpReceiver.h
  Source/WebCore/Modules/mediastream/RTCRtpTransceiver.h
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.cpp
  Source/WebCore/Modules/mediastream/libwebrtc/LibWebRTCMediaEndpoint.cpp
  Source/WebCore/Modules/mediastream/libwebrtc/LibWebRTCMediaEndpoint.h
Labels: merge-queue, WebRTC, WebKit Nightly Build

#3964 [JSC] Reduce cost of ValueProfile
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/bytecode/CodeBlock.h
  Source/JavaScriptCore/bytecode/SpeculatedType.cpp
  Source/JavaScriptCore/llint/LLIntSlowPaths.cpp
  Source/JavaScriptCore/runtime/JSType.h
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#3990 Support InputEvent.isComposing
  LayoutTests/fast/events/input-event-insert-replacement-expected.txt
  LayoutTests/fast/events/input-event-insert-replacement.html
  LayoutTests/fast/events/input-events-drag-and-drop-expected.txt
  LayoutTests/fast/events/input-events-drag-and-drop.html
  LayoutTests/fast/events/input-events-fired-when-typing-expected.txt
  LayoutTests/fast/events/input-events-fired-when-typing.html
  LayoutTests/fast/events/input-events-forecolor-data-expected.txt
  LayoutTests/fast/events/input-events-forecolor-data.html
  LayoutTests/fast/events/input-events-ime-composition-expected.txt
  LayoutTests/fast/events/input-events-ime-composition.html
  LayoutTests/fast/events/input-events-ime-recomposition-expected.txt
  LayoutTests/fast/events/input-events-ime-recomposition.html
  LayoutTests/fast/events/input-events-insert-by-drop.html
  LayoutTests/fast/events/input-events-typing-data-expected.txt
  LayoutTests/fast/events/input-events-typing-data.html
  LayoutTests/imported/w3c/web-platform-tests/uievents/constructors/inputevent-constructor-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/uievents/idlharness.window-expected.txt
  Source/WebCore/dom/InputEvent.cpp
  Source/WebCore/dom/InputEvent.h
  Source/WebCore/dom/InputEvent.idl
  Source/WebCore/editing/CompositeEditCommand.cpp
  Source/WebCore/editing/CompositeEditCommand.h
  Source/WebCore/editing/EditCommand.cpp
  Source/WebCore/editing/EditCommand.h
  Source/WebCore/editing/Editor.cpp
  Source/WebCore/editing/TypingCommand.cpp
  Source/WebCore/editing/TypingCommand.h
Labels: unsafe-merge-queue, HTML Editing, Safari Technology Preview

#3995 imported/w3c/web-platform-tests/content-security-policy/gen/top.http-rp/script-src-wildcard/worker-classic.http.html is a flaky crash
  Source/WebCore/workers/WorkerOrWorkletThread.cpp
Labels: merge-queue, WebCore Misc., WebKit Nightly Build

#3989 [WGSL] Remove Global prefix from Decls
  Source/WebGPU/WGSL/AST/Decl.h
  Source/WebGPU/WGSL/AST/FunctionDecl.h
  Source/WebGPU/WGSL/AST/ShaderModule.h
  Source/WebGPU/WGSL/AST/StructureDecl.h
  Source/WebGPU/WGSL/AST/VariableDecl.h
  Source/WebGPU/WGSL/Parser.cpp
  Source/WebGPU/WGSL/ParserPrivate.h
  Source/WebGPU/WGSLUnitTests/WGSLParserTests.mm
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
Labels: merge-queue, WebGPU, Other

#3982 [WebIDL] A default value = {} in a dictionary is not supported
  Source/WebCore/bindings/scripts/IDLParser.pm
  Source/WebCore/bindings/scripts/test/JS/JSTestObj.cpp
  Source/WebCore/bindings/scripts/test/TestObj.idl
Labels: merge-queue, Bindings, WebKit Nightly Build

#3996 Optimize SpaceSplitString creation in classAttributeChanged() & partAttributeChanged()
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/SpaceSplitString.h
Labels: merge-queue, WebCore Misc., WebKit Nightly Build

#3802 [GStreamer] MediaPlayerPrivateGStreamer: Abort stale tasks on flushes
  Source/WebCore/platform/graphics/gstreamer/GStreamerVideoSinkCommon.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.h
Labels: merge-queue, WebKitGTK, WebKit Nightly Build

#4006 REGRESSION(254142@main): 3 new MSE test crashes in Debug builds
  LayoutTests/platform/glib/TestExpectations
Labels: unsafe-merge-queue, Platform, WebKit Nightly Build

#4008 Run-benchmark should be able to checkout out a fixed version of benchmark from Git/GitHub. (Follow-up)
  Tools/Scripts/webkitpy/benchmark_runner/benchmark_builder.py
  Tools/Scripts/webkitpy/benchmark_runner/github_downloader.py
Labels: New Bugs, WebKit Nightly Build

#4013 Unreviewed, build fix after 254136@main
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#4012 Update FIXME comment in DFG CSE to be more descriptive
  Source/JavaScriptCore/dfg/DFGCSEPhase.cpp
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#3983 [JSC] Optimize String.replace with String / String case more in DFG / FTL
  JSTests/microbenchmarks/string-replace-string.js
  JSTests/stress/string-replace-deopt-object.js
  JSTests/stress/string-replace-deopt-regexp.js
  JSTests/stress/string-replace-deopt.js
  JSTests/stress/string-replace-strength-reduction-fail.js
  JSTests/stress/string-replace-strength-reduction.js
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGClobberize.h
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGGraph.h
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/dfg/DFGOperations.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/dfg/DFGStrengthReductionPhase.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.h
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#3847 Connection::Identifier should be a struct for all ports
  Source/WebKit/GPUProcess/GPUProcess.cpp
  Source/WebKit/Platform/IPC/Connection.h
  Source/WebKit/Platform/IPC/unix/ConnectionUnix.cpp
  Source/WebKit/Platform/IPC/win/ConnectionWin.cpp
  Source/WebKit/Shared/IPCConnectionTester.cpp
  Source/WebKit/Shared/unix/AuxiliaryProcessMain.cpp
  Source/WebKit/Shared/win/AuxiliaryProcessMainWin.cpp
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.cpp
  Source/WebKit/UIProcess/GPU/GPUProcessProxy.cpp
  Source/WebKit/UIProcess/Launcher/glib/ProcessLauncherGLib.cpp
  Source/WebKit/UIProcess/Launcher/win/ProcessLauncherWin.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/WebProcess/Inspector/WebInspector.cpp
  Source/WebKit/WebProcess/WebProcess.cpp
  Tools/TestWebKitAPI/Tests/IPC/ConnectionTests.cpp
Labels: WebKit2, Other

#4021 Unreviewed, second build fix after 254136@main
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Labels: merge-queue, New Bugs, WebKit Nightly Build

#4022 [LBSE] Fix null-pointer access in SVGGraphicsElement::didAttachRenderers()
  Source/WebCore/svg/SVGGraphicsElement.cpp
Labels: merge-queue, SVG, WebKit Local Build

#4024 [IPC] Fix Unix IPC after 254157@main
  Source/WebKit/Platform/IPC/unix/ConnectionUnix.cpp
Labels: Platform, WebKit Nightly Build

#3858 [GTK] Begin reducing references to WebKit2
  Source/WebCore/platform/gtk/po/CMakeLists.txt
  Source/WebInspectorUI/PlatformGTK.cmake
  Source/WebKit/PlatformGTK.cmake
  Source/cmake/OptionsGTK.cmake
Labels: merge-queue, WebKitGTK, WebKit Nightly Build

#4037 Unreviewed PlayStation build fix following 254157@main
  Source/WebKit/UIProcess/Launcher/playstation/ProcessLauncherPlayStation.cpp
Labels: New Bugs, WebKit Nightly Build

#4028 [LBSE] Finish TestExpectations update for both release/debug builds
  LayoutTests/platform/mac-monterey-wk2-lbse-text/TestExpectations
Labels: merge-queue, SVG, WebKit Local Build

#4039 [OpenSSL] Use AES_wrap_key/AES_unwrap_key directly to wrap/unwrap keys
  Source/WebCore/crypto/openssl/CryptoAlgorithmAES_KWOpenSSL.cpp
  Source/WebCore/crypto/openssl/OpenSSLUtilities.cpp
  Source/WebCore/crypto/openssl/OpenSSLUtilities.h
Labels: merge-queue, Platform, WebKit Nightly Build

#3814 Some scrolling events should be ignored in overlay regions
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
Labels: Scrolling, WebKit Nightly Build

#4042 [WGSL] Implement unary minus expression.
  Source/WebGPU/WGSL/AST/Expression.h
  Source/WebGPU/WGSL/AST/Expressions/UnaryExpression.h
  Source/WebGPU/WGSL/Parser.cpp
  Source/WebGPU/WGSLUnitTests/WGSLParserTests.mm
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
Labels: merge-queue, WebGPU, Other

#4032 Test addition (254041@main): [ Monterey wk1 ] fast/repaint/border-radius-repaint-2.html is a consistent failure
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac-wk1/fast/repaint/border-radius-repaint-2-expected.txt
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#4020 Avoid linking TestIPC to WebKit.framework after 254088@main
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
Labels: WebKit2, Other

#4041 EventTarget::isNode uses bit in weakPtrFactory
  Source/WebCore/dom/EventTarget.cpp
  Source/WebCore/dom/EventTarget.h
  Source/WebCore/dom/Node.cpp
  Source/WebCore/dom/Node.h
Labels: merge-queue, New Bugs, WebKit Nightly Build

#4048 [Nicosia] Improve build guards in NicosiaGCGLANGLELayer
  Source/WebCore/platform/graphics/nicosia/texmap/NicosiaGCGLANGLELayer.cpp
  Source/WebCore/platform/graphics/nicosia/texmap/NicosiaGCGLANGLELayer.h
Labels: merge-queue, New Bugs, Other

#4047 [WGSL] Implement parsing for ArrayAccess postfix expression.
  Source/WebGPU/WGSL/AST/Expression.h
  Source/WebGPU/WGSL/AST/Expressions/ArrayAccess.h
  Source/WebGPU/WGSL/Parser.cpp
  Source/WebGPU/WGSLUnitTests/WGSLParserTests.mm
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
Labels: merge-queue, WebGPU, Other

#4029 [GTK] Crash in Nicosia::GC3DLayer::makeContextCurrent, failure to play fullscreen video due to failure in EGL display creation
  Source/WebCore/platform/graphics/nicosia/texmap/NicosiaGCGLLayer.cpp
  Source/WebCore/platform/graphics/nicosia/texmap/NicosiaGCGLLayer.h
  Source/WebCore/platform/graphics/opengl/GraphicsContextGLOpenGL.cpp
Labels: merge-queue, WebKitGTK, WebKit Nightly Build

#4052 [Flatpak SDK] Update mold to version 1.4.2
  Tools/buildstream/elements/sdk/mold.bst
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#4056 [Gardening]: REGRESSION (253727@main): [ macOS wk2 ] inspector/css/setLayoutContextTypeChangedMode.html is a flaky failure
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: New Bugs, WebKit Nightly Build

#3963 Web Inspector: Show warnings in the Font details sidebar for synthesized boldness/obliqueness
  LayoutTests/inspector/css/getComputedPrimaryFontForNode-expected.txt
  LayoutTests/inspector/css/getComputedPrimaryFontForNode.html
  Source/JavaScriptCore/inspector/protocol/CSS.json
  Source/WebCore/inspector/agents/InspectorCSSAgent.cpp
  Source/WebInspectorUI/Localizations/en.lproj/localizedStrings.js
  Source/WebInspectorUI/UserInterface/Models/Font.js
  Source/WebInspectorUI/UserInterface/Views/DetailsSection.css
  Source/WebInspectorUI/UserInterface/Views/DetailsSectionSimpleRow.js
  Source/WebInspectorUI/UserInterface/Views/FontDetailsPanel.js
Labels: merge-queue, Web Inspector, WebKit Nightly Build

#3537 Fix invalid %{public} %{private} format strings in cross-platform code
  Source/WebCore/workers/shared/SharedWorker.cpp
  Source/WebCore/workers/shared/SharedWorkerObjectConnection.cpp
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsStore.cpp
  Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp
  Source/WebKit/NetworkProcess/PrivateClickMeasurement/PrivateClickMeasurementDatabase.cpp
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServer.cpp
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServerConnection.cpp
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServerToContextConnection.cpp
  Source/WebKit/NetworkProcess/storage/OriginStorageManager.cpp
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCProvider.cpp
  Source/WebKit/Platform/IPC/Connection.cpp
  Source/WebKit/UIProcess/GPU/GPUProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/WebProcess/Storage/WebSharedWorkerObjectConnection.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebResourceLoadObserver.cpp
  Source/WebKit/WebProcess/WebPage/MomentumEventDispatcher.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Labels: merge-queue, WebKitGTK, WebKit Nightly Build

#3423 Resolve cases when border and padding are added twice to computed min and max sizes
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/flex-item-transferred-sizes-padding-border-sizing-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/flex-item-transferred-sizes-padding-border-sizing.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/flex-item-transferred-sizes-padding-content-sizing-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-flexbox/flex-item-transferred-sizes-padding-content-sizing.html
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderBox.cpp
Labels: Compositing, WebKit Nightly Build

#3934 Generate IndexedDB object serializers
  Source/WebCore/Modules/indexeddb/IDBDatabaseIdentifier.h
  Source/WebCore/Modules/indexeddb/IDBGetAllResult.h
  Source/WebCore/Modules/indexeddb/IDBGetResult.h
  Source/WebCore/Modules/indexeddb/IDBKeyData.h
  Source/WebCore/Modules/indexeddb/IDBKeyRangeData.h
  Source/WebCore/Modules/indexeddb/IDBValue.h
  Source/WebCore/Modules/indexeddb/shared/IDBCursorInfo.h
  Source/WebCore/Modules/indexeddb/shared/IDBCursorRecord.h
  Source/WebCore/Modules/indexeddb/shared/IDBDatabaseInfo.cpp
  Source/WebCore/Modules/indexeddb/shared/IDBDatabaseInfo.h
  Source/WebCore/Modules/indexeddb/shared/IDBDatabaseNameAndVersion.h
  Source/WebCore/Modules/indexeddb/shared/IDBError.h
  Source/WebCore/Modules/indexeddb/shared/IDBGetAllRecordsData.h
  Source/WebCore/Modules/indexeddb/shared/IDBGetRecordData.h
  Source/WebCore/Modules/indexeddb/shared/IDBIndexInfo.h
  Source/WebCore/Modules/indexeddb/shared/IDBIterateCursorData.h
  Source/WebCore/Modules/indexeddb/shared/IDBObjectStoreInfo.cpp
  Source/WebCore/Modules/indexeddb/shared/IDBObjectStoreInfo.h
  Source/WebCore/Modules/indexeddb/shared/IDBRequestData.cpp
  Source/WebCore/Modules/indexeddb/shared/IDBRequestData.h
  Source/WebCore/Modules/indexeddb/shared/IDBResourceIdentifier.h
  Source/WebCore/Modules/indexeddb/shared/IDBResultData.h
  Source/WebCore/Modules/indexeddb/shared/IDBTransactionInfo.cpp
  Source/WebCore/Modules/indexeddb/shared/IDBTransactionInfo.h
  Source/WebCore/bindings/js/JSIDBRequestCustom.cpp
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.cpp
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.h
  Source/WebKit/Scripts/webkit/tests/SerializedTypeInfo.cpp
  Source/WebKit/Scripts/webkit/tests/TestSerializedType.serialization.in
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Labels: unsafe-merge-queue, WebKit Process Model, WebKit Nightly Build

#4063 Unreviewed, fix build of CompactPointerTuple
  Source/WTF/wtf/CompactPointerTuple.h
Labels: merge-queue, WebKitGTK, WebKit Nightly Build

#3888 Print AIR in WASM BBQ disassembly
  Source/JavaScriptCore/assembler/AbstractMacroAssembler.h
  Source/JavaScriptCore/assembler/LinkBuffer.cpp
  Source/JavaScriptCore/b3/B3Common.cpp
  Source/JavaScriptCore/b3/B3PatchpointSpecial.cpp
  Source/JavaScriptCore/b3/B3Value.cpp
  Source/JavaScriptCore/b3/B3Value.h
  Source/JavaScriptCore/disassembler/X86Disassembler.cpp
  Source/JavaScriptCore/jit/AssemblyHelpers.cpp
  Source/JavaScriptCore/jit/AssemblyHelpersSpoolers.h
  Source/JavaScriptCore/jit/ScratchRegisterAllocator.cpp
  Source/JavaScriptCore/wasm/WasmAirIRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmBBQPlan.cpp
  Source/JavaScriptCore/wasm/WasmBBQPlan.h
  Source/JavaScriptCore/wasm/WasmThunks.cpp
  Source/JavaScriptCore/wasm/generateWasmOpsHeader.py
  Source/JavaScriptCore/wasm/js/JSToWasm.cpp
  Source/WTF/wtf/Assertions.h
  Source/WTF/wtf/StackTrace.cpp
  Source/WTF/wtf/StackTrace.h
Labels: JavaScriptCore, WebKit Local Build

#4065 [Gardening]: REGRESSION(254047@main): [ iOS ] platform/ios/mediastream/video-muted-in-background-tab.html is a almost constant crash
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#4070 [Gardening]: REGRESSION(254047@main): [ iOS Debug wk2 ] platform/ios/mediastream/video-muted-in-background-tab.html is a near constant crash
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#3792 Make sure RemoteLayerTreeDrawingArea::updateRendering calls didPaintLayers when we have flushing work to do.
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDrawingArea.mm
Labels: Layout and Rendering, WebKit Nightly Build

#4074 Fix extra printing in 254198@main
  Source/JavaScriptCore/wasm/WasmBBQPlan.cpp
Labels: unsafe-merge-queue, JavaScriptCore, WebKit Local Build

#4062 Resync COEP WPT tests from upstream
  LayoutTests/imported/w3c/web-platform-tests/html/cross-origin-embedder-policy/reflection-credentialless.tentative.https.any.js
  LayoutTests/imported/w3c/web-platform-tests/html/cross-origin-embedder-policy/reflection-credentialless.tentative.https.any.serviceworker-module-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/cross-origin-embedder-policy/reflection-credentialless.tentative.https.any.serviceworker-module.html
  LayoutTests/imported/w3c/web-platform-tests/html/cross-origin-embedder-policy/reflection-require-corp.tentative.https.any.js
  LayoutTests/imported/w3c/web-platform-tests/html/cross-origin-embedder-policy/reflection-require-corp.tentative.https.any.serviceworker-module-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/cross-origin-embedder-policy/reflection-require-corp.tentative.https.any.serviceworker-module.html
  LayoutTests/imported/w3c/web-platform-tests/html/cross-origin-embedder-policy/reflection-unsafe-none.tentative.https.any.js
  LayoutTests/imported/w3c/web-platform-tests/html/cross-origin-embedder-policy/reflection-unsafe-none.tentative.https.any.serviceworker-module-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/cross-origin-embedder-policy/reflection-unsafe-none.tentative.https.any.serviceworker-module.html
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#4055 [OpenSSL] Use AES_encrypt() directly for AES-CFB8
  Source/WebCore/crypto/openssl/CryptoAlgorithmAES_CFBOpenSSL.cpp
Labels: merge-queue, Platform, WebKit Nightly Build

#3985 [WebGL] Reinstate const only access to GCGLSpan buffer size
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/platform/graphics/GraphicsContextGL.cpp
  Source/WebCore/platform/graphics/GraphicsTypesGL.h
  Source/WebCore/platform/graphics/angle/GraphicsContextGLANGLE.cpp
  Source/WebCore/platform/graphics/opengl/ExtensionsGLOpenGL.cpp
  Source/WebCore/platform/graphics/opengl/GraphicsContextGLOpenGL.cpp
  Source/WebCore/platform/graphics/opengl/GraphicsContextGLOpenGLBase.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxyFunctionsGenerated.cpp
  Tools/Scripts/generate-gpup-webgl
Labels: merge-queue, WebGL, Other

#4080 [webkitcorepy] Autoinstaller unsafe with multiple processes
  Tools/Scripts/libraries/webkitcorepy/setup.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/__init__.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/autoinstall.py
Labels: Tools / Tests, WebKit Nightly Build

#4046 [libpas] Drop Catalina support in libpas
  Source/bmalloc/CMakeLists.txt
  Source/bmalloc/bmalloc.xcodeproj/project.pbxproj
  Source/bmalloc/libpas/libpas.xcodeproj/project.pbxproj
  Source/bmalloc/libpas/src/libpas/pas_darwin_spi.h
  Source/bmalloc/libpas/src/libpas/pas_thread_local_cache.c
  Source/bmalloc/libpas/src/libpas/pas_thread_local_cache.h
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#4005 [webkitpy] Introduce GLibPort base class
  Tools/Scripts/webkitpy/port/glib.py
  Tools/Scripts/webkitpy/port/gtk.py
  Tools/Scripts/webkitpy/port/wpe.py
  Tools/Scripts/webkitpy/port/wpe_unittest.py
Labels: Tools / Tests, WebKit Nightly Build

#4088 Revert 252943@main for causing constant flickering on aa.com
  LayoutTests/TestExpectations
  LayoutTests/fast/dom/HTMLLinkElement/link-preload-load-once-expected.txt
  LayoutTests/fast/dom/HTMLLinkElement/link-preload-load-once.html
  LayoutTests/fast/dom/HTMLLinkElement/link-stylesheet-load-once-expected.txt
  LayoutTests/fast/dom/HTMLLinkElement/link-stylesheet-load-once.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/document-metadata/the-link-element/link-multiple-error-events-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/document-metadata/the-link-element/link-multiple-load-events-expected.txt
  LayoutTests/platform/mac-wk1/fast/dom/HTMLLinkElement/link-preload-load-once-expected.txt
  LayoutTests/platform/win/fast/dom/HTMLLinkElement/link-preload-load-once-expected.txt
  Source/WebCore/html/HTMLLinkElement.cpp
  Source/WebCore/html/HTMLLinkElement.h
  Source/WebCore/html/LinkRelAttribute.h
Labels: unsafe-merge-queue, CSS, WebKit Nightly Build

#4051 Memory allocation performed on the audio thread in AudioSampleDataConverter::updateBufferedAmount
  Source/WebCore/platform/audio/cocoa/AudioSampleDataConverter.mm
Labels: merge-queue, WebRTC, Other

#4033 Expose MediaStreamTrack displaySurface setting
  LayoutTests/fast/mediastream/getDisplayMedia-displaySurface-expected.txt
  LayoutTests/fast/mediastream/getDisplayMedia-displaySurface.html
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/Modules/mediastream/MediaDevices.cpp
  Source/WebCore/Modules/mediastream/MediaStreamTrack.cpp
  Source/WebCore/Modules/mediastream/MediaStreamTrack.h
  Source/WebCore/Modules/mediastream/MediaStreamTrack.idl
  Source/WebCore/Modules/mediastream/MediaTrackSupportedConstraints.h
  Source/WebCore/Modules/mediastream/MediaTrackSupportedConstraints.idl
  Source/WebCore/platform/mediastream/RealtimeMediaSourceCenter.cpp
  Source/WebCore/platform/mediastream/RealtimeMediaSourceSettings.cpp
  Source/WebCore/platform/mediastream/RealtimeMediaSourceSettings.h
Labels: merge-queue, WebRTC, WebKit Nightly Build

#4079 [JSC] Fix String#replace DFG handling to handle substitutions
  JSTests/stress/replace-string-constant-fold-substitution.js
  JSTests/stress/replace-string-substitution.js
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/dfg/DFGOperations.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/dfg/DFGStrengthReductionPhase.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/runtime/StringPrototype.cpp
  Source/JavaScriptCore/runtime/StringPrototype.h
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#4027 Make MediaStreamTrack Document agnostic
  Source/WebCore/Modules/mediastream/MediaStream.h
  Source/WebCore/Modules/mediastream/MediaStreamTrack.cpp
  Source/WebCore/Modules/mediastream/MediaStreamTrack.h
  Source/WebCore/Modules/mediastream/UserMediaRequest.cpp
Labels: WebRTC, WebKit Nightly Build

#2538 WebM file fail to play
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.mm
Labels: Media, Other

#4050 [GTK4] Allow non-composited mode in the web process
  Source/WebKit/UIProcess/API/gtk/WebKitWebViewBase.cpp
  Source/WebKit/UIProcess/gtk/HardwareAccelerationManager.cpp
Labels: WebKitGTK, WebKit Nightly Build

#4058 [GStreamer] WebAudio drums demo makes WebKit GStreamer based ports crash
  Source/WebCore/platform/audio/gstreamer/AudioFileReaderGStreamer.cpp
Labels: WebCore Misc., WebKit Nightly Build

#4092 [Gardening]: Rebaseline (254131@main ): [ macOS wk1 ] fast/events/input-events-insert-by-drop.html is a consistent failure
  LayoutTests/platform/mac-wk1/fast/events/input-events-insert-by-drop-expected.txt
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#4093 [Gardening]-ASSERTION-FAILED-!needsLayout() WebCore::Widget::SecurityOriginPaintPolicy, WebCore::EventRegionContext*)
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue, Media, WebKit Nightly Build

#4078 Import x-frame-options WPT tests
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/resources/import-expectations.json
  LayoutTests/imported/w3c/web-platform-tests/x-frame-options/META.yml
  LayoutTests/imported/w3c/web-platform-tests/x-frame-options/README.md
  LayoutTests/imported/w3c/web-platform-tests/x-frame-options/deny-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/x-frame-options/deny.html
  LayoutTests/imported/w3c/web-platform-tests/x-frame-options/get-decode-split-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/x-frame-options/get-decode-split.html
  LayoutTests/imported/w3c/web-platform-tests/x-frame-options/invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/x-frame-options/invalid.html
  LayoutTests/imported/w3c/web-platform-tests/x-frame-options/multiple-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/x-frame-options/multiple.html
  LayoutTests/imported/w3c/web-platform-tests/x-frame-options/redirect-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/x-frame-options/redirect.html
  LayoutTests/imported/w3c/web-platform-tests/x-frame-options/sameorigin.sub-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/x-frame-options/sameorigin.sub.html
  LayoutTests/imported/w3c/web-platform-tests/x-frame-options/support/helper.sub.js
  LayoutTests/imported/w3c/web-platform-tests/x-frame-options/support/nested.py
  LayoutTests/imported/w3c/web-platform-tests/x-frame-options/support/redirect.py
  LayoutTests/imported/w3c/web-platform-tests/x-frame-options/support/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/x-frame-options/support/xfo.py
  LayoutTests/imported/w3c/web-platform-tests/x-frame-options/w3c-import.log
  LayoutTests/tests-options.json
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#4094 [WPE][GTK] web-process-terminated signal not emitted for first web view when bubblewrap sandbox is enabled
  Source/WebKit/UIProcess/Launcher/glib/ProcessLauncherGLib.cpp
  Source/WebKit/UIProcess/Launcher/glib/XDGDBusProxy.cpp
Labels: merge-queue, WebKitGTK, WebKit Nightly Build

#4095 [GTK4] UI process hang when opening HTML select elements (combo boxes)
  Source/WebKit/UIProcess/gtk/WebPopupMenuProxyGtk.cpp
Labels: merge-queue, WebKitGTK, WebKit Nightly Build

#4075 BlobURLHandle doesn't work as intended for opaque origin Blob URLs
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/url/sandboxed-iframe-expected.txt
  Source/WebCore/fileapi/ThreadableBlobRegistry.cpp
Labels: merge-queue, WebCore Misc., WebKit Nightly Build

#3986 Stop calling NSDisableScreenUpdates()/NSEnableScreenUpdates()
  Source/WebKit/UIProcess/mac/WKFullScreenWindowController.mm
  Source/WebKitLegacy/mac/WebView/WebFullScreenController.mm
Labels: merge-queue, Media, Safari Technology Preview

#4102 [git-webkit] Determine remote before existing pull-request
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
Labels: merge-queue, Tools / Tests, Other

#4099 [Revert]: (253931@main): [ macOS wk1 Debug ] media/track/track-description-cue.html consistently hits ASSERTION FAILED: !m_currentSpeechUtterance
  LayoutTests/TestExpectations
  LayoutTests/media/track/captions-webvtt/captions-descriptions.vtt
  LayoutTests/media/track/track-description-cue-expected.txt
  LayoutTests/media/track/track-description-cue.html
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WebCore/Modules/speech/SpeechSynthesis.cpp
  Source/WebCore/Modules/speech/SpeechSynthesis.h
  Source/WebCore/Modules/speech/SpeechSynthesisUtterance.cpp
  Source/WebCore/Modules/speech/SpeechSynthesisUtterance.h
  Source/WebCore/Modules/speech/SpeechSynthesisUtterance.idl
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/html/HTMLMediaElement.h
  Source/WebCore/html/shadow/MediaControlTextTrackContainerElement.cpp
  Source/WebCore/html/track/InbandGenericTextTrack.cpp
  Source/WebCore/html/track/TextTrack.cpp
  Source/WebCore/html/track/TextTrack.h
  Source/WebCore/html/track/TextTrackCue.cpp
  Source/WebCore/html/track/TextTrackCue.h
  Source/WebCore/html/track/VTTCue.cpp
  Source/WebCore/html/track/VTTCue.h
  Source/WebCore/html/track/VTTCue.idl
  Source/WebCore/page/CaptionUserPreferences.cpp
  Source/WebCore/page/CaptionUserPreferencesMediaAF.cpp
  Source/WebCore/page/CaptionUserPreferencesMediaAF.h
  Source/WebCore/platform/cf/MediaAccessibilitySoftLink.cpp
  Source/WebCore/platform/cf/MediaAccessibilitySoftLink.h
  Source/WebCore/platform/cocoa/PlatformSpeechSynthesizerCocoa.mm
  Source/WebCore/platform/graphics/InbandGenericCue.cpp
  Source/WebCore/platform/graphics/iso/ISOVTTCue.cpp
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: Media, WebKit Nightly Build

#4101 Improve CODEOWNERS for TestWebKitAPI
  .github/CODEOWNERS
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#4107 Add expectation files to Monterey
  LayoutTests/platform/mac-monterey-wk1/TestExpectations
  LayoutTests/platform/mac-monterey-wk2/TestExpectations
  LayoutTests/platform/mac-monterey/TestExpectations
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#4061 Unreviewed, non-unified build fixes after 254173@main
  Source/WebCore/css/CSSFontFaceSrcValue.h
  Source/WebCore/css/MediaQueryMatcher.h
  Source/WebCore/css/StyleSheetList.h
  Source/WebCore/dom/ScriptedAnimationController.h
  Source/WebCore/html/parser/HTMLScriptRunner.h
  Source/WebCore/inspector/agents/InspectorCSSAgent.h
  Source/WebCore/inspector/agents/InspectorLayerTreeAgent.h
  Source/WebCore/loader/MediaResourceLoader.h
  Source/WebCore/loader/appcache/ApplicationCacheHost.h
  Source/WebCore/page/ImageOverlayController.h
  Source/WebCore/page/ModalContainerObserver.h
  Source/WebCore/page/Quirks.h
  Source/WebCore/page/ResizeObservation.h
  Source/WebCore/page/UndoItem.h
  Source/WebCore/svg/SVGDocumentExtensions.h
  Source/WebCore/svg/SVGViewSpec.h
Labels: merge-queue

#4109 [Gardening]: [ macOS wk1 ][ macOS wk2 ] http/tests/history/back-to-post.php is flaky failing.
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, Tools / Tests, WebKit Nightly Build

#4083 Move Scroll To Text Fragment tests to a better location.
  LayoutTests/http/tests/scroll-to-text-fragment/no-iframe-match-expected.html
  LayoutTests/http/tests/scroll-to-text-fragment/no-iframe-match.html
  LayoutTests/http/tests/scroll-to-text-fragment/resources/iframe-scroll-to-text-fragment.html
  LayoutTests/http/tests/scroll-to-text-fragment/start-text-emoji-expected.html
  LayoutTests/http/tests/scroll-to-text-fragment/start-text-emoji.html
  LayoutTests/http/tests/scroll-to-text-fragment/start-text-sentence-expected.html
  LayoutTests/http/tests/scroll-to-text-fragment/start-text-sentence.html
  LayoutTests/http/tests/scroll-to-text-fragment/start-text-word-expected.html
  LayoutTests/http/tests/scroll-to-text-fragment/start-text-word.html
  LayoutTests/platform/gtk/http/tests/scroll-to-text-fragment/start-text-emoji-expected.html
  LayoutTests/platform/gtk/http/tests/scroll-to-text-fragment/start-text-sentence-expected.html
  LayoutTests/platform/gtk/http/tests/scroll-to-text-fragment/start-text-word-expected.html
  LayoutTests/platform/win/TestExpectations
Labels: merge-queue, Tools / Tests, WebKit Nightly Build

#4105 Small cleanup of EventTargetFlag
  Source/WebCore/dom/EventTarget.h
Labels: merge-queue, DOM, WebKit Nightly Build

#3883 border-radius clipping of composited layers doesn't work
  LayoutTests/compositing/clipping/border-radius-async-overflow-non-stacking.html
  LayoutTests/compositing/clipping/border-radius-with-composited-descendant-dynamic-expected.html
  LayoutTests/compositing/clipping/border-radius-with-composited-descendant-dynamic.html
  LayoutTests/compositing/clipping/border-radius-with-composited-descendant-expected.html
  LayoutTests/compositing/clipping/border-radius-with-composited-descendant-nested-expected.html
  LayoutTests/compositing/clipping/border-radius-with-composited-descendant-nested.html
  LayoutTests/compositing/clipping/border-radius-with-composited-descendant.html
  LayoutTests/compositing/layer-creation/clipping-scope/nested-scroller-overlap-expected.txt
  LayoutTests/compositing/layer-creation/clipping-scope/overlap-constrained-inside-scroller-expected.txt
  LayoutTests/compositing/layer-creation/clipping-scope/scroller-with-negative-z-children-expected.txt
  LayoutTests/compositing/overflow/scrolling-content-clip-to-viewport-expected.txt
  LayoutTests/compositing/rtl/rtl-scrolling-with-transformed-descendants-expected.txt
  LayoutTests/compositing/scrolling/async-overflow-scrolling/clipped-layer-in-overflow-clipped-by-scroll-expected.txt
  LayoutTests/compositing/scrolling/async-overflow-scrolling/clipped-layer-in-overflow-expected.txt
  LayoutTests/compositing/scrolling/async-overflow-scrolling/clipped-layer-in-overflow-nested-expected.txt
  LayoutTests/compositing/scrolling/async-overflow-scrolling/layer-for-negative-z-in-scroller-expected.txt
  LayoutTests/compositing/scrolling/async-overflow-scrolling/layer-in-overflow-clip-to-hidden-expected.txt
  LayoutTests/compositing/scrolling/async-overflow-scrolling/layer-in-overflow-clip-to-visible-expected.txt
  LayoutTests/compositing/scrolling/async-overflow-scrolling/layer-in-overflow-expected.txt
  LayoutTests/compositing/scrolling/async-overflow-scrolling/layer-in-overflow-gain-clipping-layer-expected.txt
  LayoutTests/compositing/scrolling/async-overflow-scrolling/layer-in-overflow-in-clipped-expected.txt
  LayoutTests/compositing/scrolling/async-overflow-scrolling/layer-in-overflow-lose-clipping-layer-expected.txt
  LayoutTests/compositing/scrolling/async-overflow-scrolling/nested-scrollers-backing-attachment-expected.txt
  LayoutTests/compositing/scrolling/async-overflow-scrolling/overlapped-overlay-scrollbar-expected.txt
  LayoutTests/compositing/scrolling/async-overflow-scrolling/overlapped-overlay-scrollbar-inside-hidden-expected.txt
  LayoutTests/compositing/scrolling/async-overflow-scrolling/overlapped-overlay-scrollbar-nested-expected.txt
  LayoutTests/compositing/shared-backing/overflow-scroll/composited-absolute-in-absolute-in-relative-in-scroller-expected.txt
  LayoutTests/compositing/shared-backing/overflow-scroll/previous-sibling-prevents-inclusiveness-expected.txt
  LayoutTests/platform/ios-wk2/compositing/layer-creation/clipping-scope/nested-scroller-overlap-expected.txt
  LayoutTests/platform/ios-wk2/compositing/layer-creation/clipping-scope/overlap-constrained-inside-scroller-expected.txt
  LayoutTests/platform/ios-wk2/compositing/layer-creation/clipping-scope/scroller-with-negative-z-children-expected.txt
  LayoutTests/platform/ios-wk2/compositing/scrolling/async-overflow-scrolling/clipped-layer-in-overflow-clipped-by-scroll-expected.txt
  LayoutTests/platform/ios-wk2/compositing/scrolling/async-overflow-scrolling/clipped-layer-in-overflow-expected.txt
  LayoutTests/platform/ios-wk2/compositing/scrolling/async-overflow-scrolling/clipped-layer-in-overflow-nested-expected.txt
  LayoutTests/platform/ios-wk2/compositing/scrolling/async-overflow-scrolling/layer-for-negative-z-in-scroller-expected.txt
  LayoutTests/platform/ios-wk2/compositing/scrolling/async-overflow-scrolling/layer-in-overflow-clip-to-hidden-expected.txt
  LayoutTests/platform/ios-wk2/compositing/scrolling/async-overflow-scrolling/layer-in-overflow-clip-to-visible-expected.txt
  LayoutTests/platform/ios-wk2/compositing/scrolling/async-overflow-scrolling/layer-in-overflow-expected.txt
  LayoutTests/platform/ios-wk2/compositing/scrolling/async-overflow-scrolling/layer-in-overflow-gain-clipping-layer-expected.txt
  LayoutTests/platform/ios-wk2/compositing/scrolling/async-overflow-scrolling/layer-in-overflow-in-clipped-expected.txt
  LayoutTests/platform/ios-wk2/compositing/scrolling/async-overflow-scrolling/layer-in-overflow-lose-clipping-layer-expected.txt
  LayoutTests/platform/ios-wk2/compositing/scrolling/async-overflow-scrolling/nested-scrollers-backing-attachment-expected.txt
  LayoutTests/platform/ios-wk2/compositing/shared-backing/overflow-scroll/composited-absolute-in-absolute-in-relative-in-scroller-expected.txt
  LayoutTests/platform/ios-wk2/compositing/shared-backing/overflow-scroll/previous-sibling-prevents-inclusiveness-expected.txt
  Source/WebCore/platform/graphics/RoundedRect.cpp
  Source/WebCore/platform/graphics/RoundedRect.h
  Source/WebCore/rendering/LayerAncestorClippingStack.cpp
  Source/WebCore/rendering/LayerAncestorClippingStack.h
  Source/WebCore/rendering/RenderLayer.h
  Source/WebCore/rendering/RenderLayerBacking.cpp
  Source/WebCore/rendering/RenderLayerCompositor.cpp
  Source/WebCore/rendering/RenderLayerCompositor.h
Labels: merge-queue, Layout and Rendering, 528+ (Nightly build)

#4076 imported/w3c/web-platform-tests/FileAPI/url/url-reload.window.html is timing out in WebKit
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/url/url-reload.window-expected.txt
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
Labels: merge-queue, WebCore Misc., WebKit Nightly Build

#4113 [Gardening]: New Test(254216@main): [ iOS Debug x86_64 wk2 ] fast/mediastream/getDisplayMedia-displaySurface.html is a constant crash
  LayoutTests/platform/ios-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#3877 [Quirks] Disable resolution media feature on Expedia Group sites
  Source/WebCore/page/Quirks.cpp
Labels: merge-queue, CSS, WebKit Nightly Build

#4116 [Gardening]: [ Monterey ] webanimations/relative-ordering-of-translate-and-scale-properties-accelerated.html is a flaky image failure
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#4087 Call prepareForDisplayWithPaint so that WebGL buffers get cleared.
  Source/WebCore/html/OffscreenCanvas.cpp
Labels: merge-queue, Layout and Rendering, WebKit Nightly Build

#4091 Linux compilation from case-insensitive filesystem fails due to Syscall.h
  Source/bmalloc/CMakeLists.txt
  Source/bmalloc/bmalloc.xcodeproj/project.pbxproj
  Source/bmalloc/bmalloc/BSyscall.h
  Source/bmalloc/bmalloc/VMAllocate.h
Labels: merge-queue, bmalloc, WebKit Nightly Build

#4106 [JSC] TypedArray can stop [[Prototype]] lookup chain
  JSTests/stress/poly-proto-typed-array-case.js
  Source/JavaScriptCore/bytecode/ObjectPropertyConditionSet.cpp
  Source/JavaScriptCore/bytecode/ObjectPropertyConditionSet.h
  Source/JavaScriptCore/bytecode/PolyProtoAccessChain.cpp
  Source/JavaScriptCore/bytecode/PolyProtoAccessChain.h
  Source/JavaScriptCore/bytecode/Repatch.cpp
  Source/JavaScriptCore/llint/LLIntSlowPaths.cpp
  Source/JavaScriptCore/runtime/JSGenericTypedArrayViewInlines.h
  Source/JavaScriptCore/runtime/JSObjectInlines.h
  Source/JavaScriptCore/runtime/PropertyName.h
  Source/JavaScriptCore/runtime/StructureRareData.cpp
Labels: merge-queue, JavaScriptCore, WebKit Nightly Build

#4112 AX: Consider VTT-based audio descriptions with text-to-speech.
  LayoutTests/TestExpectations
  LayoutTests/media/track/captions-webvtt/captions-descriptions.vtt
  LayoutTests/media/track/track-description-cue-expected.txt
  LayoutTests/media/track/track-description-cue.html
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  Source/WTF/Scripts/Preferences/WebPreferencesExperimental.yaml
  Source/WebCore/Modules/speech/SpeechSynthesis.cpp
  Source/WebCore/Modules/speech/SpeechSynthesis.h
  Source/WebCore/Modules/speech/SpeechSynthesisUtterance.cpp
  Source/WebCore/Modules/speech/SpeechSynthesisUtterance.h
  Source/WebCore/Modules/speech/SpeechSynthesisUtterance.idl
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/html/HTMLMediaElement.h
  Source/WebCore/html/shadow/MediaControlTextTrackContainerElement.cpp
  Source/WebCore/html/track/InbandGenericTextTrack.cpp
  Source/WebCore/html/track/TextTrack.cpp
  Source/WebCore/html/track/TextTrack.h
  Source/WebCore/html/track/TextTrackCue.cpp
  Source/WebCore/html/track/TextTrackCue.h
  Source/WebCore/html/track/VTTCue.cpp
  Source/WebCore/html/track/VTTCue.h
  Source/WebCore/html/track/VTTCue.idl
  Source/WebCore/page/CaptionUserPreferences.cpp
  Source/WebCore/page/CaptionUserPreferencesMediaAF.cpp
  Source/WebCore/page/CaptionUserPreferencesMediaAF.h
  Source/WebCore/platform/cf/MediaAccessibilitySoftLink.cpp
  Source/WebCore/platform/cf/MediaAccessibilitySoftLink.h
  Source/WebCore/platform/cocoa/PlatformSpeechSynthesizerCocoa.mm
  Source/WebCore/platform/graphics/InbandGenericCue.cpp
  Source/WebCore/platform/graphics/iso/ISOVTTCue.cpp
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: unsafe-merge-queue, Accessibility, WebKit Nightly Build

#4125 [Gardening]: REGRESSION(254254@main): [ macOS ] http/tests/media/fairplay/fps-mse-unmuxed-multiple-keys.html is a constant failure
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#4126 [Gardening]: [ macOS wk2 Release ] http/tests/history/back-to-post.py is a flaky timeout
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#4130 [Gardening]: Test addition (230714@main): [ macOS ] webanimations/accelerated-overlapping-transform-animations.html is a flaky image failure
  LayoutTests/platform/mac/TestExpectations
Labels: New Bugs, WebKit Nightly Build

#4103 Remove logs added by error in RealtimeMediaSourceCenter::shouldInterruptAudioOnPageVisibilityChange
  Source/WebCore/platform/mediastream/mac/RealtimeMediaSourceCenterMac.mm
Labels: merge-queue, WebRTC, WebKit Nightly Build

#4117 Fancy Quotes and Apostrophes are not matched to Scroll To Text Fragment fragments.
  LayoutTests/http/tests/scroll-to-text-fragment/start-text-quote-expected.html
  LayoutTests/http/tests/scroll-to-text-fragment/start-text-quote.html
  Source/WebCore/dom/FragmentDirectiveRangeFinder.cpp
Labels: merge-queue, DOM, WebKit Nightly Build

#4124 [JSC] Use sysctlbyname instead of cpuid 7 0
  Source/JavaScriptCore/assembler/MacroAssemblerX86Common.cpp
Labels: JavaScriptCore, WebKit Nightly Build

#3980 Modernize MotionMark plan files.
  Tools/Scripts/webkitpy/benchmark_runner/data/plans/motionmark.plan
  Tools/Scripts/webkitpy/benchmark_runner/data/plans/motionmark1.0.plan
Labels: merge-queue, New Bugs, WebKit Nightly Build

#4138 [Gardening]: New Test(252960@main): [ iOS macOS ] imported/w3c/web-platform-tests/html/capability-delegation/delegate-fullscreen-request-subframe-cross-origin.https.sub.tentative.html is a near constant timeout
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, New Bugs, WebKit Nightly Build

#4089 Add _WKWebsiteDataStoreConfiguration SPI to set resourceLoadStatisticsDebugMode on WebsiteDataStore creation
  Source/WebKit/UIProcess/API/Cocoa/_WKWebsiteDataStoreConfiguration.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebsiteDataStoreConfiguration.mm
  Source/WebKit/UIProcess/WebsiteData/Cocoa/WebsiteDataStoreCocoa.mm
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStoreConfiguration.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStoreConfiguration.h
Labels: merge-queue, New Bugs, WebKit Nightly Build

#3468 [git-webkit] Automatically CC radar when creating bugs
  Tools/Scripts/libraries/webkitbugspy/setup.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/__init__.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/bugzilla.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/github.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/issue.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/mocks/base.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/mocks/bugzilla.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/mocks/data.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/radar.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tests/bugzilla_unittest.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tracker.py
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/branch.py
  metadata/trackers.json
Labels: Tools / Tests, Other

#4132 Rename unique origin to opaque origin to match the naming in the specification
  Source/WebCore/Modules/web-locks/WebLockManager.cpp
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/DocumentStorageAccess.cpp
  Source/WebCore/dom/EmptyScriptExecutionContext.h
  Source/WebCore/dom/ScriptExecutionContext.cpp
  Source/WebCore/dom/SecurityContext.cpp
  Source/WebCore/dom/WindowEventLoop.cpp
  Source/WebCore/fileapi/ThreadableBlobRegistry.cpp
  Source/WebCore/loader/CrossOriginAccessControl.cpp
  Source/WebCore/loader/CrossOriginOpenerPolicy.cpp
  Source/WebCore/loader/DocumentLoader.cpp
  Source/WebCore/loader/DocumentThreadableLoader.cpp
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/loader/SubresourceLoader.cpp
  Source/WebCore/page/DOMWindow.cpp
  Source/WebCore/page/History.cpp
  Source/WebCore/page/SecurityOrigin.cpp
  Source/WebCore/page/SecurityOrigin.h
  Source/WebCore/page/SecurityOriginData.h
  Source/WebCore/page/SecurityPolicy.cpp
  Source/WebCore/page/csp/ContentSecurityPolicyDirectiveList.cpp
  Source/WebCore/workers/Worker.cpp
  Source/WebCore/worklets/WorkletGlobalScope.cpp
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.cpp
  Source/WebKit/NetworkProcess/NetworkLoadChecker.cpp
  Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebBroadcastChannelRegistry.cpp
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/TestSOAuthorization.mm
Labels: merge-queue, WebCore Misc., WebKit Nightly Build
