Repository WebKit/WebKit, pull requests merged in 2023-01, with the labels that each got.

#8077 [JSC] Simplify Wasm Call IC generated code
  Source/JavaScriptCore/wasm/js/JSToWasm.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyFunction.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#8116 [@property] Fallback that does not match syntax should make var() invalid
  LayoutTests/imported/w3c/web-platform-tests/css/css-properties-values-api/var-reference-registered-properties-expected.txt
  Source/WebCore/css/CSSVariableReferenceValue.cpp
  Source/WebCore/css/CSSVariableReferenceValue.h
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/css/parser/CSSPropertyParser.h
Labels: merge-queue, CSS

#8112 [JSC] Store JSWebAssemblyInstance in WasmToJS stub instead of JSWebAssemblyModule
  Source/JavaScriptCore/bytecode/Repatch.cpp
  Source/JavaScriptCore/interpreter/CallFrame.cpp
  Source/JavaScriptCore/interpreter/StackVisitor.cpp
  Source/JavaScriptCore/runtime/JSCast.h
  Source/JavaScriptCore/runtime/JSCellInlines.h
  Source/JavaScriptCore/runtime/JSType.cpp
  Source/JavaScriptCore/runtime/JSType.h
  Source/JavaScriptCore/wasm/js/JSWebAssemblyInstance.cpp
  Source/JavaScriptCore/wasm/js/JSWebAssemblyModule.cpp
  Source/JavaScriptCore/wasm/js/JSWebAssemblyModule.h
  Source/JavaScriptCore/wasm/js/WasmToJS.cpp
  Source/JavaScriptCore/wasm/js/WasmToJS.h
Labels: unsafe-merge-queue, JavaScriptCore

#8117 [JSC] Add lowest/highest accessible address functions
  Source/JavaScriptCore/tools/Integrity.h
  Source/WTF/WTF.xcodeproj/project.pbxproj
  Source/WTF/wtf/AccessibleAddress.h
  Source/WTF/wtf/CMakeLists.txt
  Source/WTF/wtf/Threading.cpp
  Source/WTF/wtf/WTFConfig.cpp
  Source/WTF/wtf/WTFConfig.h
Labels: unsafe-merge-queue, JavaScriptCore

#8114 Wasm Tail Call needs to restore callee save registers preserved by caller.
  Source/JavaScriptCore/llint/WebAssembly.asm
Labels: unsafe-merge-queue, JavaScriptCore

#8093 [GLIB] Many network process crashes when running WPT tests
  Source/WTF/wtf/glib/RunLoopSourcePriority.h
  Source/WebKit/NetworkProcess/cache/NetworkCacheIOChannel.h
  Source/WebKit/NetworkProcess/cache/NetworkCacheIOChannelGLib.cpp
  Source/WebKit/NetworkProcess/cache/NetworkCacheStorage.cpp
Labels: unsafe-merge-queue, Tools / Tests

#8106 [WPE][GTK] Robustly handle subprocess leaks
  Source/WebKit/WebProcess/WebProcess.cpp
Labels: merge-queue, WebKitGTK

#8115 Add enough BNF support for all CSS property longhand grammars
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/process-css-properties.py
  Tools/Scripts/webkitpy/style/checkers/jsonchecker.py
Labels: merge-queue, CSS

#8108 [ITP] User initiated cross-domain link navigations getting counted as Top Frame Redirects
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: unsafe-merge-queue, WebKit Misc.

#8109 Remove unneeded content extension logging
  Source/WebCore/contentextensions/ContentExtensionActions.cpp
  Source/WebCore/platform/Logging.h
Labels: merge-queue, WebCore Misc.

#8143 AccessibilityObjectAtspi::textAttributes() should move attributes HashMap into the returning struct
  Source/WebCore/accessibility/atspi/AccessibilityObjectTextAtspi.cpp
Labels: merge-queue, New Bugs

#8142 Fix up copy-prone uses of std::tuple structured binding
  Source/WebCore/html/TextFieldInputType.cpp
  Source/WebCore/style/RuleFeature.cpp
  Source/WebKit/NetworkProcess/cache/PrefetchCache.cpp
Labels: merge-queue, New Bugs

#8130 Remove some childTypeAllowed overrides
  Source/WebCore/dom/CDATASection.cpp
  Source/WebCore/dom/CDATASection.h
  Source/WebCore/dom/Comment.cpp
  Source/WebCore/dom/Comment.h
  Source/WebCore/dom/Text.cpp
  Source/WebCore/dom/Text.h
Labels: DOM

#8137 Remove support for 'custom-parser' in CSSProperties.json
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/process-css-properties.py
  Tools/Scripts/webkitpy/style/checkers/jsonchecker.py
Labels: merge-queue, CSS

#8140 Selector argument for :nth-of-type or :nth-last-of-type should be rejected
  LayoutTests/TestExpectations
  Source/WebCore/css/parser/CSSSelectorParser.cpp
Labels: unsafe-merge-queue, CSS

#8119 Move oncopy/oncut/onpaste to GlobalEventHandlers
  LayoutTests/fast/dom/event-attribute-availability-expected.txt
  LayoutTests/fast/dom/event-handler-attributes-expected.txt
  LayoutTests/fast/dom/event-handler-attributes.html
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/scripting/events/event-handler-attributes-body-window-expected.txt
  Source/WebCore/dom/DocumentAndElementEventHandlers.idl
  Source/WebCore/dom/GlobalEventHandlers.idl
Labels: merge-queue, UI Events

#8124 Fix assert when parsing invalid CSS selector
  Source/WebCore/css/parser/CSSSelectorParser.cpp
Labels: unsafe-merge-queue, WebKit Misc.

#8023 HTMLVideoElement::supportsFullscreen() is incorrect when video uses element fullscreen and the fullscreen API is disabled
  Source/WebCore/html/HTMLVideoElement.cpp
Labels: New Bugs

#8025 REGRESSION (248723@main): Videos on bbc.co.uk fail to load when content filtering is enabled
  LayoutTests/http/tests/contentfiltering/load-event-in-allowed-subframe-expected.txt
  LayoutTests/http/tests/contentfiltering/load-event-in-allowed-subframe.html
  LayoutTests/http/tests/contentfiltering/resources/lots-of-text.html
  Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp
Labels: merge-queue, Platform

#8147 Set value of m_textAsOfLastFormControlChangeEvent before triggering change event
  LayoutTests/fast/events/onchange-js-expected.txt
  LayoutTests/fast/events/onchange-js.html
  Source/WebCore/html/HTMLTextFormControlElement.cpp
Labels: merge-queue, Forms

#8082 Remove HTMLHeadElement.profile
  LayoutTests/dom/html/level2/html/HTMLHeadElement01-expected.txt
  LayoutTests/dom/html/level2/html/HTMLHeadElement01.html
  LayoutTests/dom/html/level2/html/HTMLHeadElement01.js
  LayoutTests/dom/xhtml/level2/html/HTMLHeadElement01-expected.txt
  LayoutTests/dom/xhtml/level2/html/HTMLHeadElement01.js
  LayoutTests/dom/xhtml/level2/html/HTMLHeadElement01.xhtml
  LayoutTests/fast/dom/element-attribute-js-null-expected.txt
  LayoutTests/fast/dom/element-attribute-js-null.html
  Source/WebCore/html/HTMLAttributeNames.in
  Source/WebCore/html/HTMLHeadElement.idl
  Source/WebKit/WebProcess/InjectedBundle/API/gtk/DOM/WebKitDOMHTMLHeadElement.cpp
  Source/WebKitLegacy/mac/DOM/DOMHTMLHeadElement.mm
Labels: DOM

#8076 Incorrect caret movement in some RTL contenteditable elements
  LayoutTests/editing/selection/skip-non-editable-rtl-expected.txt
  LayoutTests/editing/selection/skip-non-editable-rtl.html
  Source/WebCore/editing/VisiblePosition.cpp
Labels: HTML Editing

#7431 Snapshotting of mainframe and subframe PDFs are blank in UI-side compositing mode
  Source/WebKit/WebProcess/Plugins/PluginView.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Labels: New Bugs

#8015 Convert six API classes to use generated serialization
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Shared/API/APIError.cpp
  Source/WebKit/Shared/API/APIError.h
  Source/WebKit/Shared/API/APIError.serialization.in
  Source/WebKit/Shared/API/APIFrameHandle.cpp
  Source/WebKit/Shared/API/APIFrameHandle.h
  Source/WebKit/Shared/API/APIFrameHandle.serialization.in
  Source/WebKit/Shared/API/APIPageHandle.cpp
  Source/WebKit/Shared/API/APIPageHandle.h
  Source/WebKit/Shared/API/APIPageHandle.serialization.in
  Source/WebKit/Shared/API/APIURL.h
  Source/WebKit/Shared/API/APIURL.serialization.in
  Source/WebKit/Shared/API/APIURLRequest.cpp
  Source/WebKit/Shared/API/APIURLRequest.h
  Source/WebKit/Shared/API/APIURLRequest.serialization.in
  Source/WebKit/Shared/API/APIURLResponse.cpp
  Source/WebKit/Shared/API/APIURLResponse.h
  Source/WebKit/Shared/API/APIURLResponse.serialization.in
  Source/WebKit/Shared/Cocoa/SharedCARingBuffer.cpp
  Source/WebKit/Shared/UserData.cpp
  Source/WebKit/Sources.txt
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: merge-queue, WebKit Misc.

#8144 Cleanup Changelog Scripts
  Tools/Scripts/roll-over-ChangeLogs
Labels: Tools / Tests

#8154 Add required syscall to all WebKit sandboxes
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
  Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.GPU.sb.in
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.Networking.sb.in
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Labels: merge-queue, WebKit Misc.

#8156 [CSS-Typed-OM] flex-basis / flex-grow / flex-shrink computed values should be clamped
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/flex-basis-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/flex-basis.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/flex-grow-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/flex-grow.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/flex-shrink-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/flex-shrink.html
Labels: merge-queue, CSS

#8155 Don't punycode U+00ED
  Source/WTF/wtf/URLHelpers.cpp
  Tools/TestWebKitAPI/Tests/WTF/cocoa/URLExtras.mm
Labels: merge-queue, WebKit Misc.

#8148 'parser-grammar-unused-reason' used for a few properties with used parser-grammars
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/process-css-properties.py
Labels: merge-queue, CSS

#8160 [CSS-Typed-OM] Fix WPT tests to stop expecting negative computed values for CSS properties that only allow positive values
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/animation-duration-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/animation-duration.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/animation-iteration-count-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/animation-iteration-count.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/block-size-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/block-size.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/font-size-adjust-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/font-size-adjust.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/font-stretch-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/font-stretch.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/gap-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/gap.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/logical-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/logical.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/shape-margin-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/shape-margin.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/stroke-dasharray-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/stroke-dasharray.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/width-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/width.html
Labels: merge-queue, CSS

#8057 Add Masonry Track Sizing Tests
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-explicit-block-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-explicit-block-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-explicit-block.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-span-row-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-span-row-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-span-row.html
Labels: CSS

#8136 Add support for custom annotations in the CSS BNF syntax
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.h
  Source/WebCore/css/parser/CSSPropertyParserWorkerSafe.cpp
  Source/WebCore/css/parser/CSSPropertyParserWorkerSafe.h
  Source/WebCore/css/process-css-properties.py
Labels: merge-queue, CSS

#8169 Initially allow syscall mach in sandbox v3
  Source/WebKit/Shared/Sandbox/common.sb
Labels: merge-queue, WebKit Misc.

#7983 Interaction: Have to tap twice to navigate on YouTube search results
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
  Source/WebCore/page/ios/ContentChangeObserver.cpp
  Source/WebCore/page/ios/ContentChangeObserver.h
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
Labels: UI Events

#8107 WebKit::WebPageProxy::takeFocus() should take a WebCore::FocusDirection
  Source/WebCore/page/FocusDirection.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.cpp
Labels: unsafe-merge-queue, WebKit2

#8152 Make sure calling moveParagaph() with proper parameters in InsertListCommand::listifyParagraph()
  LayoutTests/editing/execCommand/listify-output-crash-expected.txt
  LayoutTests/editing/execCommand/listify-output-crash.html
  Source/WebCore/editing/InsertListCommand.cpp
Labels: merge-queue, HTML Editing

#8168 Share some adjustTransientZoom() code between TiledCoreAnimationDrawingArea and RemoteLayerTreeDrawingAreaMac
  Source/WebKit/WebProcess/WebPage/DrawingArea.cpp
  Source/WebKit/WebProcess/WebPage/DrawingArea.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDrawingArea.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDrawingArea.mm
  Source/WebKit/WebProcess/WebPage/mac/RemoteLayerTreeDrawingAreaMac.h
  Source/WebKit/WebProcess/WebPage/mac/RemoteLayerTreeDrawingAreaMac.mm
  Source/WebKit/WebProcess/WebPage/mac/TiledCoreAnimationDrawingArea.h
  Source/WebKit/WebProcess/WebPage/mac/TiledCoreAnimationDrawingArea.mm
Labels: merge-queue, New Bugs

#8163 Skip masonry-columns-item-placement-auto-flow-next-001.html due to consistent failures on iOS
  LayoutTests/TestExpectations
Labels: merge-queue, New Bugs

#8073 Add plumbing to raise Xcode issues when client-side network issues are detected
  Source/WebCore/PAL/pal/spi/cf/CFNetworkSPI.h
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/NetworkSession.h
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.mm
  Source/WebKit/Platform/SourcesCocoa.txt
  Source/WebKit/Platform/cocoa/NetworkIssueReporter.h
  Source/WebKit/Platform/cocoa/NetworkIssueReporter.mm
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.messages.in
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: Platform

#8174 [CMake] Fix version detection of libwpe
  Source/cmake/FindWPE.cmake
  Source/cmake/OptionsPlayStation.cmake
Labels: merge-queue, CMake

#7845 Limit DOMAudioSession to third-party iframes having microphone access
  LayoutTests/http/tests/webrtc/audioSessionInFrames-expected.txt
  LayoutTests/http/tests/webrtc/audioSessionInFrames.html
  LayoutTests/http/tests/webrtc/resources/audioSessionFrame.html
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/Modules/audiosession/DOMAudioSession.cpp
Labels: Media

#8182 Remove unused "positionListMarker" from RenderListItem.h
  Source/WebCore/rendering/RenderListItem.h
Labels: unsafe-merge-queue, Layout and Rendering

#8159 Remove unused "nodeUnderMouse" from EventHandler.h
  Source/WebCore/page/EventHandler.h
Labels: New Bugs

#8128 media/audioSession/audioSessionType.html is flaky
  LayoutTests/media/audioSession/audioSessionType.html
Labels: merge-queue, Media

#8131 Make sure LibWebRTCCodecs is correctly configured in WebCodecs only code path
  Source/WebKit/WebProcess/GPU/GPUProcessConnection.cpp
  Source/WebKit/WebProcess/GPU/GPUProcessConnection.h
  Source/WebKit/WebProcess/GPU/media/RemoteVideoCodecFactory.cpp
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.cpp
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.h
  Source/WebKit/WebProcess/Network/webrtc/LibWebRTCProvider.cpp
  Source/WebKit/WebProcess/Network/webrtc/LibWebRTCProvider.h
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
Labels: Media

#7751 Consider using HAL output unit in case echo cancellation is disabled
  Source/WebCore/platform/mediastream/mac/CoreAudioCaptureSource.cpp
  Source/WebCore/platform/mediastream/mac/CoreAudioCaptureSource.h
  Source/WebCore/platform/mediastream/mac/CoreAudioSharedUnit.cpp
  Source/WebCore/platform/mediastream/mac/CoreAudioSharedUnit.h
  Source/WebCore/platform/mediastream/mac/MockAudioSharedUnit.mm
  Source/WebKit/GPUProcess/webrtc/RemoteAudioMediaStreamTrackRendererInternalUnitManager.cpp
Labels: WebRTC

#8188 [GLib] Allow GStreamer tracer usage in test harness
  Tools/Scripts/webkitpy/port/glib.py
Labels: merge-queue, Tools / Tests

#7273 Remove HTMLElement::form() and de-virtualize the method
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/scripting/events/compile-event-handler-lexical-scopes-form-owner-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/scripting/events/compile-event-handler-lexical-scopes-form-owner.html
  Source/WebCore/bindings/js/JSHTMLElementCustom.cpp
  Source/WebCore/html/HTMLElement.cpp
  Source/WebCore/html/HTMLElement.h
  Source/WebCore/html/HTMLFormControlElement.cpp
  Source/WebCore/html/HTMLFormControlElement.h
  Source/WebCore/html/HTMLFormElement.cpp
  Source/WebCore/html/HTMLFormElement.h
  Source/WebCore/html/HTMLImageElement.h
  Source/WebCore/html/HTMLLabelElement.h
  Source/WebCore/html/HTMLLegendElement.h
  Source/WebCore/html/HTMLObjectElement.h
  Source/WebCore/html/HTMLOptionElement.h
Labels: DOM

#8129 Re-land <https://commits.webkit.org/257982@main>
  Source/WTF/wtf/PlatformHave.h
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/Shared/Cocoa/SandboxExtensionCocoa.mm
  Source/WebKit/Shared/SandboxExtension.h
  Source/WebKit/Shared/WebPageCreationParameters.cpp
  Source/WebKit/Shared/WebPageCreationParameters.h
  Source/WebKit/Shared/WebProcessCreationParameters.cpp
  Source/WebKit/Shared/WebProcessCreationParameters.h
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/UIProcess/Cocoa/WebProcessProxyCocoa.mm
  Source/WebKit/UIProcess/SpeechRecognitionRemoteRealtimeMediaSourceManager.cpp
  Source/WebKit/UIProcess/UserMediaPermissionRequestManagerProxy.cpp
  Source/WebKit/UIProcess/UserMediaProcessManager.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/WebProcess/MediaStream/MediaDeviceSandboxExtensions.cpp
  Source/WebKit/WebProcess/MediaStream/MediaDeviceSandboxExtensions.h
  Source/WebKit/WebProcess/Speech/SpeechRecognitionRealtimeMediaSourceManager.cpp
  Source/WebKit/WebProcess/Speech/SpeechRecognitionRealtimeMediaSourceManager.h
  Source/WebKit/WebProcess/Speech/SpeechRecognitionRealtimeMediaSourceManager.messages.in
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
  Source/WebKit/WebProcess/WebProcess.cpp
  Source/WebKit/WebProcess/WebProcess.h
  Source/WebKit/WebProcess/WebProcess.messages.in
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
  Source/WebKit/WebProcess/glib/WebProcessGLib.cpp
  Source/WebKit/WebProcess/win/WebProcessWin.cpp
Labels: merge-queue, WebKit Misc.

#8196 [PlayStation] Fix build after 258431@main
  Source/WebKit/WebProcess/playstation/WebProcessPlayStation.cpp
Labels: unsafe-merge-queue, Tools / Tests

#7624 [JSC] Expose error messages from ShadowRealms to outer realm
  JSTests/stress/shadow-realm-evaluate.js
  Source/JavaScriptCore/runtime/Error.cpp
  Source/JavaScriptCore/runtime/Error.h
  Source/JavaScriptCore/runtime/ShadowRealmPrototype.cpp
Labels: merge-queue, JavaScriptCore

#8177 Safari should pass current URL to ARQL when using ASVLaunchPreview
  Source/WebKit/UIProcess/Cocoa/SystemPreviewControllerCocoa.mm
  Source/WebKit/UIProcess/SystemPreviewController.h
Labels: unsafe-merge-queue, WebKit Misc.

#8200 [EWS] Adjust Big Sur bot allocation
  Tools/CISupport/ews-build/config.json
Labels: unsafe-merge-queue, Tools / Tests

#8170 REGRESSION(257823@main): named-groups/lookbehind.js Test262-test is failing
  JSTests/stress/regexp-lookaround-captures.js
  Source/JavaScriptCore/yarr/YarrInterpreter.cpp
  Source/JavaScriptCore/yarr/YarrInterpreter.h
  Source/JavaScriptCore/yarr/YarrJIT.cpp
  Source/JavaScriptCore/yarr/YarrParser.h
  Source/JavaScriptCore/yarr/YarrPattern.cpp
  Source/JavaScriptCore/yarr/YarrPattern.h
  Source/JavaScriptCore/yarr/YarrSyntaxChecker.cpp
  Source/WebCore/contentextensions/URLFilterParser.cpp
Labels: merge-queue, JavaScriptCore

#8197 [CMake] Add PlayStation system module variable
  Source/cmake/OptionsPlayStation.cmake
Labels: merge-queue, CMake

#8171 Call FontCache::invalidate under memory pressure
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
Labels: unsafe-merge-queue, Layout and Rendering

#8207 Align Masonry Track Sizing Tests with WPT
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-overflow-left-side-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-overflow-left-side-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-overflow-left-side.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-overflow-right-side-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-overflow-right-side-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-overflow-right-side.html
Labels: unsafe-merge-queue, WebCore Misc.

#8186 Remove HTMLPreElement.wrap IDL attribute
  LayoutTests/fast/dom/boolean-attribute-reflection-expected.txt
  LayoutTests/fast/dom/boolean-attribute-reflection.html
  Source/WebCore/html/HTMLPreElement.idl
Labels: merge-queue, DOM

#8184 StringConcatenate's StringTypeAdapter<std::tuple<>> incorrectly writes into a 16-bit destination
  Source/WTF/wtf/text/StringConcatenate.h
  Tools/TestWebKitAPI/Tests/WTF/StringConcatenate.cpp
Labels: merge-queue, New Bugs

#8167 Fix css/css-typed-om/the-stylepropertymap/properties/letter-spacing.html WPT test
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/letter-spacing-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/letter-spacing.html
Labels: CSS

#8210 Add JC Alvarado to contributors.json
  metadata/contributors.json
Labels: New Bugs

#8192 REGRESSION (246550@main): WKFoundTextRange leaks an NSString
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Labels: unsafe-merge-queue, WebKit2

#8199 Build failure: WebCore/PAL/pal/spi/cocoa/PassKitSPI.h:147:9: fatal error: 'PassKitMacHelper/PKPaymentAuthorizationViewController_Private.h' file not found
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/cocoa/PassKitSoftLink.h
  Source/WebCore/PAL/pal/cocoa/PassKitSoftLink.mm
  Source/WebCore/PAL/pal/spi/cocoa/PassKitSPI.h
  Source/WebKit/Shared/ApplePay/mac/WebPaymentCoordinatorProxyMac.mm
Labels: unsafe-merge-queue, Platform

#8208 Minimum effective device width changes made during live-ish resize take effect immediately
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewInternal.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/AnimatedResize.mm
Labels: merge-queue, WebKit2

#8201 [Live Range Selection] editing/execCommand/apply-inline-style-to-element-with-no-renderer-crash.html fails
  LayoutTests/editing/execCommand/apply-inline-style-to-element-with-no-renderer-crash.html
Labels: unsafe-merge-queue, HTML Editing

#8123 [JSC] Add SensitiveToNaN flag to B3 Kind
  JSTests/wasm/spec-tests/float_exprs.wast.js
  Source/JavaScriptCore/b3/B3Kind.cpp
  Source/JavaScriptCore/b3/B3Kind.h
  Source/JavaScriptCore/b3/B3ReduceStrength.cpp
  Source/JavaScriptCore/b3/B3Value.h
  Source/JavaScriptCore/wasm/generateWasmB3IRGeneratorInlinesHeader.py
Labels: JavaScriptCore

#8191 Shrink isValidNameNonASCII by using U16_NEXT only once
  Source/WebCore/dom/Document.cpp
Labels: merge-queue, New Bugs

#7882 Initial implementation margin-trim for block containers (without floats and margin collapsing).
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-001-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-001.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-002-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-002.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-001-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-001.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-002-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-002.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-start-001-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-start-001.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-start-002-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-start-002.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-non-adjoining-item-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-non-adjoining-item.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-replaced-block-end-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-replaced-block-end.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-replaced-block-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-replaced-block-start-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-replaced-block-start.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-replaced-block.html
  Source/WebCore/rendering/RenderBlockFlow.cpp
  Source/WebCore/rendering/RenderBlockFlow.h
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderBox.h
Labels: merge-queue, Layout and Rendering

#8125 [JSC] Remove Wasm FastTLS
  Source/JavaScriptCore/assembler/JITOperationList.cpp
  Source/JavaScriptCore/bytecode/BytecodeList.rb
  Source/JavaScriptCore/jit/AssemblyHelpers.cpp
  Source/JavaScriptCore/llint/LLIntExceptions.cpp
  Source/JavaScriptCore/llint/LLIntThunks.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter.asm
  Source/JavaScriptCore/llint/WebAssembly.asm
  Source/JavaScriptCore/runtime/Gate.h
  Source/JavaScriptCore/runtime/Options.cpp
  Source/JavaScriptCore/runtime/OptionsList.h
  Source/JavaScriptCore/wasm/WasmAirIRGeneratorBase.h
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmContext.h
  Source/JavaScriptCore/wasm/WasmContextInlines.h
  Source/JavaScriptCore/wasm/WasmFaultSignalHandler.cpp
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmMemoryInformation.cpp
  Source/JavaScriptCore/wasm/WasmSlowPaths.cpp
  Source/JavaScriptCore/wasm/WasmSlowPaths.h
  Source/JavaScriptCore/wasm/js/JSToWasm.cpp
  Source/JavaScriptCore/wasm/js/WasmToJS.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyFunction.cpp
  Tools/Scripts/run-jsc-stress-tests
Labels: JavaScriptCore

#8194 Import gamepad WPT tests from upstream
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/resources/import-expectations.json
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/gamepad/META.yml
  LayoutTests/imported/w3c/web-platform-tests/gamepad/feature-policy-gamepad.html
  LayoutTests/imported/w3c/web-platform-tests/gamepad/gamepad-default-feature-policy.https.sub-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/gamepad/gamepad-default-feature-policy.https.sub.html
  LayoutTests/imported/w3c/web-platform-tests/gamepad/gamepad-secure-context-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/gamepad/gamepad-secure-context.html
  LayoutTests/imported/w3c/web-platform-tests/gamepad/gamepad-supported-by-feature-policy-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/gamepad/gamepad-supported-by-feature-policy.html
  LayoutTests/imported/w3c/web-platform-tests/gamepad/idlharness-extensions.https.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/gamepad/idlharness-extensions.https.window.html
  LayoutTests/imported/w3c/web-platform-tests/gamepad/idlharness-extensions.https.window.js
  LayoutTests/imported/w3c/web-platform-tests/gamepad/idlharness.https.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/gamepad/idlharness.https.window.html
  LayoutTests/imported/w3c/web-platform-tests/gamepad/idlharness.https.window.js
  LayoutTests/imported/w3c/web-platform-tests/gamepad/not-fully-active.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/gamepad/not-fully-active.https.html
  LayoutTests/imported/w3c/web-platform-tests/gamepad/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/interfaces/gamepad-extensions.idl
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/win/TestExpectations
  LayoutTests/platform/wincairo/TestExpectations
Labels: unsafe-merge-queue, Tools / Tests

#8149 [JSC] Embed globals into Wasm::Instance directly
  Source/JavaScriptCore/wasm/WasmAirIRGeneratorBase.h
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmInstance.cpp
  Source/JavaScriptCore/wasm/WasmInstance.h
  Source/JavaScriptCore/wasm/WasmModuleInformation.h
Labels: JavaScriptCore

#8203 [Live Range Selection] editing/selection/ios/clear-selection-after-tapping-on-element-with-no-click-handler.html fails
  LayoutTests/editing/selection/ios/clear-selection-after-tapping-on-element-with-no-click-handler.html
Labels: unsafe-merge-queue, HTML Editing

#7527 Re-land [Wasm-GC] Implement packed types in arrays
  JSTests/wasm/gc/arrays.js
  JSTests/wasm/gc/packed-arrays.js
  JSTests/wasm/wasm.json
  Source/JavaScriptCore/bytecode/BytecodeList.rb
  Source/JavaScriptCore/wasm/WasmAirIRGeneratorBase.h
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmFormat.h
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmOperations.cpp
  Source/JavaScriptCore/wasm/WasmSectionParser.cpp
  Source/JavaScriptCore/wasm/WasmSectionParser.h
  Source/JavaScriptCore/wasm/WasmSlowPaths.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.h
  Source/JavaScriptCore/wasm/generateWasm.py
  Source/JavaScriptCore/wasm/generateWasmOpsHeader.py
  Source/JavaScriptCore/wasm/js/JSWebAssemblyArray.cpp
  Source/JavaScriptCore/wasm/js/JSWebAssemblyArray.h
  Source/JavaScriptCore/wasm/js/JSWebAssemblyStruct.cpp
  Source/JavaScriptCore/wasm/wasm.json
Labels: WebAssembly

#8204 Begin preparing DrawingAreaProxy to work with multiple web processes with site isolation
  Source/WebKit/UIProcess/API/gtk/PageClientImpl.cpp
  Source/WebKit/UIProcess/API/wpe/PageClientImpl.cpp
  Source/WebKit/UIProcess/CoordinatedGraphics/DrawingAreaProxyCoordinatedGraphics.cpp
  Source/WebKit/UIProcess/CoordinatedGraphics/DrawingAreaProxyCoordinatedGraphics.h
  Source/WebKit/UIProcess/DrawingAreaProxy.cpp
  Source/WebKit/UIProcess/DrawingAreaProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/mac/TiledCoreAnimationDrawingAreaProxy.h
  Source/WebKit/UIProcess/mac/TiledCoreAnimationDrawingAreaProxy.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKit/UIProcess/playstation/PageClientImpl.cpp
  Source/WebKit/UIProcess/wc/DrawingAreaProxyWC.cpp
  Source/WebKit/UIProcess/wc/DrawingAreaProxyWC.h
  Source/WebKit/UIProcess/win/PageClientImpl.cpp
Labels: unsafe-merge-queue, WebKit Process Model

#8190 Potential Assertion Fix - Fix loop condition in BidiRunList::replaceRunWithRuns
  LayoutTests/fast/text/bidi-replace-runs-crash-expected.txt
  LayoutTests/fast/text/bidi-replace-runs-crash.html
  Source/WebCore/platform/text/BidiRunList.h
Labels: merge-queue, Text

#8205 [Live Range Selection] LayoutTests/fast/events/ios/autocorrect-with-range-selection.html fails
  LayoutTests/fast/events/ios/autocorrect-with-range-selection.html
Labels: unsafe-merge-queue, HTML Editing

#8224 Unreviewed, fix Apple internal builds after 258467@main
  Source/WebCore/PAL/pal/spi/cf/CFNetworkSPI.h
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
Labels: unsafe-merge-queue, Platform

#8181 Stop using Safari paths for SafariForWebKitDevelopment
  Source/WebKit/UIProcess/WebsiteData/Cocoa/WebsiteDataStoreCocoa.mm
Labels: merge-queue, Website Storage

#8198 _WKAuthenticatorAttestationResponse and _WKAuthenticatorResponse should retain/copy their instance variables
  Source/WebKit/UIProcess/API/Cocoa/_WKAuthenticatorAttestationResponse.h
  Source/WebKit/UIProcess/API/Cocoa/_WKAuthenticatorAttestationResponse.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKAuthenticatorResponse.h
  Source/WebKit/UIProcess/API/Cocoa/_WKAuthenticatorResponse.mm
Labels: merge-queue, WebKit2

#7972 Make all FileSystemSyncAccessHandle methods sync
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemSyncAccessHandle-close.https.tentative.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemSyncAccessHandle-flush.https.tentative.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemSyncAccessHandle-getSize.https.tentative.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemSyncAccessHandle-truncate.https.tentative.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fs/idlharness.https.any.worker-expected.txt
  LayoutTests/storage/filesystemaccess/resources/sync-access-handle-basics.js
  LayoutTests/storage/filesystemaccess/resources/sync-access-handle-close.js
  LayoutTests/storage/filesystemaccess/resources/sync-access-handle-read-write.js
  LayoutTests/storage/filesystemaccess/sync-access-handle-close-worker-expected.txt
  LayoutTests/storage/filesystemaccess/sync-access-handle-read-write-worker-expected.txt
  Source/WebCore/Modules/filesystemaccess/FileSystemFileHandle.cpp
  Source/WebCore/Modules/filesystemaccess/FileSystemFileHandle.h
  Source/WebCore/Modules/filesystemaccess/FileSystemStorageConnection.h
  Source/WebCore/Modules/filesystemaccess/FileSystemSyncAccessHandle.cpp
  Source/WebCore/Modules/filesystemaccess/FileSystemSyncAccessHandle.h
  Source/WebCore/Modules/filesystemaccess/FileSystemSyncAccessHandle.idl
  Source/WebCore/Modules/filesystemaccess/WorkerFileSystemStorageConnection.cpp
  Source/WebCore/Modules/filesystemaccess/WorkerFileSystemStorageConnection.h
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.h
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebFileSystemStorageConnection.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFileSystemStorageConnection.h
Labels: New Bugs

#8218 eventSender.monitorWheelEvents({ }) is interpreted as eventSender.monitorWheelEvents({ resetLatching: false })
  Tools/DumpRenderTree/mac/EventSendingController.mm
  Tools/TestRunnerShared/Bindings/JSBasics.cpp
  Tools/TestRunnerShared/Bindings/JSBasics.h
Labels: merge-queue, Tools / Tests

#8066 [JSC] Add runtime configuration for AirOpcode table
  Source/JavaScriptCore/assembler/ARM64Assembler.h
  Source/JavaScriptCore/assembler/ARM64EAssembler.h
  Source/JavaScriptCore/assembler/CPU.cpp
  Source/JavaScriptCore/assembler/CPU.h
  Source/JavaScriptCore/assembler/MacroAssemblerARM64.cpp
  Source/JavaScriptCore/assembler/MacroAssemblerARM64.h
  Source/JavaScriptCore/assembler/MacroAssemblerARM64E.h
  Source/JavaScriptCore/assembler/MacroAssemblerX86Common.h
  Source/JavaScriptCore/assembler/testmasm.cpp
  Source/JavaScriptCore/b3/B3Common.cpp
  Source/JavaScriptCore/b3/B3LowerMacros.cpp
  Source/JavaScriptCore/b3/B3LowerToAir.cpp
  Source/JavaScriptCore/b3/air/AirArg.h
  Source/JavaScriptCore/b3/air/AirCCallingConvention.cpp
  Source/JavaScriptCore/b3/air/AirCode.cpp
  Source/JavaScriptCore/b3/air/AirOpcode.opcodes
  Source/JavaScriptCore/b3/air/opcode_generator.rb
  Source/JavaScriptCore/b3/air/testair.cpp
  Source/JavaScriptCore/b3/testb3_8.cpp
  Source/JavaScriptCore/interpreter/Interpreter.cpp
  Source/JavaScriptCore/jit/AssemblyHelpersSpoolers.h
  Source/JavaScriptCore/wasm/WasmAirIRGenerator32_64.cpp
  Source/JavaScriptCore/wasm/WasmAirIRGenerator64.cpp
  Source/JavaScriptCore/wasm/WasmAirIRGeneratorBase.h
  Source/JavaScriptCore/wasm/WasmBBQPlan.cpp
  Source/WTF/wtf/PlatformHave.h
Labels: JavaScriptCore

#8221 [Live Range Selection] text recognition tests fail
  LayoutTests/fast/images/text-recognition/mac/context-menu-for-image-in-link-contains-copy.html
  LayoutTests/fast/images/text-recognition/mac/select-image-overlay-with-mouse-drag-2-expected.html
  LayoutTests/fast/images/text-recognition/mac/select-word-in-draggable-image-overlay.html
  LayoutTests/fast/images/text-recognition/mac/select-word-in-transparent-image-overlay.html
Labels: unsafe-merge-queue, HTML Editing

#8138 [JSC] Wasm Callee should be directly embedded
  Source/JavaScriptCore/interpreter/CalleeBits.h
  Source/JavaScriptCore/llint/LowLevelInterpreter.asm
  Source/JavaScriptCore/llint/WebAssembly.asm
  Source/JavaScriptCore/wasm/WasmAirIRGenerator.h
  Source/JavaScriptCore/wasm/WasmAirIRGenerator32_64.cpp
  Source/JavaScriptCore/wasm/WasmAirIRGenerator64.cpp
  Source/JavaScriptCore/wasm/WasmAirIRGeneratorBase.h
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.h
  Source/JavaScriptCore/wasm/WasmBBQPlan.cpp
  Source/JavaScriptCore/wasm/WasmBBQPlan.h
  Source/JavaScriptCore/wasm/WasmCallee.cpp
  Source/JavaScriptCore/wasm/WasmCallee.h
  Source/JavaScriptCore/wasm/WasmFormat.h
  Source/JavaScriptCore/wasm/WasmLLIntPlan.cpp
  Source/JavaScriptCore/wasm/WasmOMGPlan.cpp
  Source/JavaScriptCore/wasm/WasmOSREntryPlan.cpp
  Source/JavaScriptCore/wasm/js/JSToWasm.cpp
  Source/JavaScriptCore/wasm/js/JSToWasm.h
  Source/WTF/wtf/WTFConfig.cpp
  Source/WTF/wtf/WTFConfig.h
Labels: unsafe-merge-queue, JavaScriptCore

#8145 Painting an in-process VideoFrame in a remotely-backed canvas does not work
  Source/WebCore/platform/cocoa/SharedVideoFrameInfo.mm
  Source/WebCore/platform/graphics/GraphicsContext.cpp
  Source/WebCore/platform/graphics/GraphicsContext.h
  Source/WebCore/platform/graphics/displaylists/DisplayListRecorder.cpp
  Source/WebCore/platform/graphics/displaylists/DisplayListRecorder.h
  Source/WebCore/platform/graphics/displaylists/DisplayListRecorderImpl.cpp
  Source/WebCore/platform/graphics/displaylists/DisplayListRecorderImpl.h
  Source/WebKit/GPUProcess/graphics/RemoteDisplayListRecorder.cpp
  Source/WebKit/GPUProcess/graphics/RemoteDisplayListRecorder.h
  Source/WebKit/GPUProcess/graphics/RemoteDisplayListRecorder.messages.in
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteDisplayListRecorderProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteDisplayListRecorderProxy.h
  Source/WebKit/WebProcess/GPU/webrtc/SharedVideoFrame.cpp
  Source/WebKit/WebProcess/GPU/webrtc/SharedVideoFrame.h
Labels: Media

#7948 Encode 128 bits for IPC's destination identifier
  Source/WTF/wtf/Int128.h
  Source/WTF/wtf/ObjectIdentifier.h
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/Platform/IPC/Connection.cpp
  Source/WebKit/Platform/IPC/Connection.h
  Source/WebKit/Platform/IPC/Decoder.cpp
  Source/WebKit/Platform/IPC/Decoder.h
  Source/WebKit/Platform/IPC/Encoder.cpp
  Source/WebKit/Platform/IPC/Encoder.h
  Source/WebKit/Platform/IPC/MessageReceiveQueueMap.h
  Source/WebKit/Platform/IPC/MessageReceiverMap.cpp
  Source/WebKit/Platform/IPC/MessageReceiverMap.h
  Source/WebKit/Platform/IPC/MessageSender.h
  Source/WebKit/Platform/IPC/ReceiverMatcher.h
  Source/WebKit/Platform/IPC/StreamClientConnection.h
  Source/WebKit/Platform/IPC/StreamServerConnection.cpp
  Source/WebKit/Platform/IPC/StreamServerConnection.h
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/Shared/AuxiliaryProcess.cpp
  Source/WebKit/Shared/AuxiliaryProcess.h
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.cpp
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.h
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessPool.h
  Source/WebKit/WebProcess/Automation/WebAutomationSessionProxy.cpp
  Source/WebKit/WebProcess/WebPage/IPCTestingAPI.cpp
  Source/WebKit/WebProcess/WebProcess.cpp
  Tools/TestWebKitAPI/Tests/IPC/ConnectionTests.cpp
  Tools/TestWebKitAPI/Tests/IPC/IPCTestUtilities.h
  Tools/TestWebKitAPI/Tests/IPC/StreamConnectionTests.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IPCTestingAPI.mm
Labels: WebKit Process Model

#8158 <button> and <select> elements with "readonly" attribute shouldn't be barred from constraint validation
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/forms/the-button-element/button-willvalidate-readonly-attribute-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/forms/the-button-element/button-willvalidate-readonly-attribute.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/forms/the-select-element/select-willvalidate-readonly-attribute-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/forms/the-select-element/select-willvalidate-readonly-attribute.html
  Source/WebCore/html/HTMLFormControlElement.cpp
  Source/WebCore/html/HTMLFormControlElement.h
  Source/WebCore/html/HTMLTextFormControlElement.h
Labels: DOM

#8226 Handle moving a UI-side composited window between displays with different properties
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemote.cpp
  Source/WebKit/WebProcess/WebPage/mac/RemoteLayerTreeDrawingAreaMac.mm
Labels: merge-queue, WebKit Process Model

#8172 Add SPI to copy SessionStorage from one WKWebView to another
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkProcess.messages.in
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.h
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.messages.in
  Source/WebKit/NetworkProcess/storage/SessionStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/SessionStorageManager.h
  Source/WebKit/UIProcess/API/APIPageConfiguration.cpp
  Source/WebKit/UIProcess/API/APIPageConfiguration.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewConfiguration.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewConfigurationPrivate.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebViewConfiguration.mm
Labels: WebKit Misc.

#5837 Lower per-process websocket connection limits to match other browser behavior
  LayoutTests/http/tests/websocket/tests/hybi/multiple-connections-limit-expected.txt
  LayoutTests/http/tests/websocket/tests/hybi/multiple-connections-limit.html
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/win/TestExpectations
  Source/WebKit/WebProcess/Network/WebSocketChannel.cpp
  Source/WebKit/WebProcess/Network/WebSocketChannelManager.h
Labels: WebKit Misc.

#8217 [CMake] Make PlayStation WebDriver build dependent on WPE Backend
  Source/WebKit/PlatformPlayStation.cmake
  Source/cmake/OptionsPlayStation.cmake
Labels: merge-queue, CMake

#8211 Avoid mach lookups of container manager service before load starts.
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/Scripts/process-entitlements.sh
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Labels: unsafe-merge-queue, WebKit Misc.

#8216 Create a navigation delegate to surface lookalike character sanitization on navigation
  Source/WebKit/UIProcess/API/APINavigationClient.h
  Source/WebKit/UIProcess/API/Cocoa/WKNavigationDelegatePrivate.h
  Source/WebKit/UIProcess/Cocoa/NavigationState.h
  Source/WebKit/UIProcess/Cocoa/NavigationState.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/WebPage.h
Labels: merge-queue, WebKit Misc.

#8231 [Live Range Selection] Some tests in TestWebKitAPI.ImageAnalysisTests fail
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ImageAnalysisTests.mm
Labels: unsafe-merge-queue, HTML Editing

#8215 Remove unused SPI definitions.
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
Labels: merge-queue, WebKit Misc.

#8230 [Live Range Selection] Some tests in TestWebKitAPI.FontManagerTests fail
  Tools/TestWebKitAPI/Tests/mac/FontManagerTests.mm
Labels: unsafe-merge-queue, HTML Editing

#7965 [ews-build.webkit.org] Use new-style test in TestWithFailureCount
  Tools/CISupport/ews-build/steps.py
Labels: unsafe-merge-queue, Tools / Tests

#8237 [GStreamer] Gardening for a few media/track tests
  LayoutTests/platform/glib/TestExpectations
Labels: merge-queue, Tools / Tests

#8214 [Cocoa, MSE] MSE video doesn't render in WK1 WebView
  LayoutTests/media/media-source/content/test-red-3s-480x360.png
  LayoutTests/media/media-source/media-source-video-renders-expected.html
  LayoutTests/media/media-source/media-source-video-renders.html
  LayoutTests/media/utilities.js
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: merge-queue, Media

#8240 Clarify webkit style guide around X = Y = Z statements
  Websites/webkit.org/code-style.md
Labels: merge-queue, WebKit Website

#8157 Web Inspector: Add editing capabilities for font variation axes in Fonts sidebar panel
  LayoutTests/inspector/model/font-calculate-properties-expected.txt
  LayoutTests/inspector/model/font-calculate-properties.html
  LayoutTests/inspector/model/font-styles-write-variation-expected.txt
  LayoutTests/inspector/model/font-styles-write-variation.html
  Source/WebInspectorUI/Localizations/en.lproj/localizedStrings.js
  Source/WebInspectorUI/UserInterface/Main.html
  Source/WebInspectorUI/UserInterface/Models/Font.js
  Source/WebInspectorUI/UserInterface/Models/FontStyles.js
  Source/WebInspectorUI/UserInterface/Models/FontVariationAxis.js
  Source/WebInspectorUI/UserInterface/Test.html
  Source/WebInspectorUI/UserInterface/Views/DetailsSection.css
  Source/WebInspectorUI/UserInterface/Views/DetailsSectionRow.js
  Source/WebInspectorUI/UserInterface/Views/DetailsSectionSimpleRow.js
  Source/WebInspectorUI/UserInterface/Views/FontDetailsPanel.js
  Source/WebInspectorUI/UserInterface/Views/FontVariationDetailsSectionRow.css
  Source/WebInspectorUI/UserInterface/Views/FontVariationDetailsSectionRow.js
  Source/WebInspectorUI/UserInterface/Views/Variables.css
Labels: Web Inspector

#8244 Encode 128 bits for IPC's destination identifier (Follow-up fix)
  Source/WebKit/Scripts/webkit/tests/TestWithCVPixelBufferMessageReceiver.cpp
  Source/WebKit/Scripts/webkit/tests/TestWithIfMessageMessageReceiver.cpp
  Source/WebKit/Scripts/webkit/tests/TestWithImageDataMessageReceiver.cpp
  Source/WebKit/Scripts/webkit/tests/TestWithLegacyReceiverMessageReceiver.cpp
  Source/WebKit/Scripts/webkit/tests/TestWithSemaphoreMessageReceiver.cpp
  Source/WebKit/Scripts/webkit/tests/TestWithStreamBatchedMessageReceiver.cpp
  Source/WebKit/Scripts/webkit/tests/TestWithStreamBufferMessageReceiver.cpp
  Source/WebKit/Scripts/webkit/tests/TestWithStreamMessageReceiver.cpp
  Source/WebKit/Scripts/webkit/tests/TestWithSuperclassMessageReceiver.cpp
  Source/WebKit/Scripts/webkit/tests/TestWithoutAttributesMessageReceiver.cpp
Labels: unsafe-merge-queue, WebKit Process Model

#8223 Add support for async wasm subtests
  PerformanceTests/JetStream3/JetStreamDriver.js
Labels: unsafe-merge-queue, JavaScriptCore

#8241 [Live Range Selection] image-overlay-maintain-selection-during-size-change.html fails
  LayoutTests/fast/images/text-recognition/mac/image-overlay-maintain-selection-during-size-change.html
Labels: unsafe-merge-queue, HTML Editing

#8246 Fix internal build after warning from 258484@main
  Source/WTF/wtf/Int128.h
Labels: unsafe-merge-queue

#8248 Add Kiara Rose to WebKit committers.
  metadata/contributors.json
Labels: unsafe-merge-queue

#8242 Remove unused AlignContent enum class
  Source/WebCore/css/CSSPrimitiveValueMappings.h
  Source/WebCore/rendering/style/RenderStyleConstants.h
Labels: CSS

#8161 Move CertificateInfo::containsNonRootSHA1SignedCertificate call from UI to web process
  Source/WebKit/UIProcess/ProvisionalFrameProxy.cpp
  Source/WebKit/UIProcess/ProvisionalFrameProxy.h
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.h
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
Labels: unsafe-merge-queue, WebKit Misc.

#8252 [git-webkit] Handle no TTY in credentials sub-command
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/credentials.py
Labels: unsafe-merge-queue, Tools / Tests

#8042 [WebGPU] WGPUBindGroupEntry::offset is not used while creating the bind group
  Source/WebGPU/WebGPU/BindGroup.mm
  Source/WebGPU/WebGPU/BindGroupLayout.h
  Source/WebGPU/WebGPU/BindGroupLayout.mm
  Websites/webkit.org/demos/webgpu/scripts/two-cubes.js
  Websites/webkit.org/demos/webgpu/two-cubes.html
Labels: WebGPU

#8236 CSS animations should participate in the cascade
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/animation-base-response-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/animation-base-response-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/animation-base-response-004-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/animation-important-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/keyframes-unrelated-custom-property-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-properties-values-api/animation/custom-property-animation-non-inherited-used-by-standard-property-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-properties-values-api/animation/custom-property-transition-non-inherited-used-by-standard-property-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-transitions/transition-base-response-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-transitions/transition-base-response-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-variables/variable-animation-from-to-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-variables/variable-animation-over-transition-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-animations/animation-base-response-001-expected.txt
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/css/css-transitions/transition-base-response-001-expected.txt
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/css/css-transitions/transition-base-response-001-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-animations/animation-base-response-001-expected.txt
  LayoutTests/platform/wpe/imported/w3c/web-platform-tests/css/css-transitions/transition-base-response-001-expected.txt
  Source/WebCore/animation/KeyframeEffectStack.cpp
  Source/WebCore/animation/KeyframeEffectStack.h
  Source/WebCore/animation/WebAnimationTypes.h
  Source/WebCore/dom/Element.h
  Source/WebCore/html/shadow/TextControlInnerElements.cpp
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/style/ElementRuleCollector.cpp
  Source/WebCore/style/ElementRuleCollector.h
  Source/WebCore/style/MatchResult.h
  Source/WebCore/style/PropertyCascade.cpp
  Source/WebCore/style/PropertyCascade.h
  Source/WebCore/style/StyleAdjuster.h
  Source/WebCore/style/StyleBuilder.cpp
  Source/WebCore/style/StyleBuilder.h
  Source/WebCore/style/StyleResolver.cpp
  Source/WebCore/style/StyleResolver.h
  Source/WebCore/style/StyleTreeResolver.cpp
  Source/WebCore/style/StyleTreeResolver.h
  Source/WebCore/style/Styleable.h
Labels: merge-queue, Animations

#8247 [Live Range Selection] AcceptsFirstMouse fails
  Tools/TestWebKitAPI/Tests/mac/AcceptsFirstMouse.mm
  Tools/TestWebKitAPI/Tests/mac/acceptsFirstMouse.html
Labels: unsafe-merge-queue, HTML Editing

#8250 [Live Range Selection] editing/selection/toString-1.html fails
  LayoutTests/editing/selection/toString-1.html
Labels: HTML Editing

#8266 Correct a few settings after Bug 247926
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: unsafe-merge-queue

#8269 Fix some feature flag statuses
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: unsafe-merge-queue, New Bugs

#2621 Enable CSSRelativeColorSyntaxEnabled preference
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: CSS

#8260 "webcoreBinding: DeprecatedGlobalSettings" missing from IsAccessibilityIsolatedTreeEnabled setting
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: unsafe-merge-queue, WebKit Misc.

#8257 Live-ish resize sometimes pops to unexpected scroll position even if layout width doesn't change
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
Labels: merge-queue, WebKit Misc.

#8153 [WebGPU] Implement RenderPipeline::getBindGroupLayout
  Source/WTF/wtf/PlatformHave.h
  Source/WebGPU/WebGPU/BindGroupLayout.h
  Source/WebGPU/WebGPU/BindGroupLayout.mm
  Source/WebGPU/WebGPU/RenderPipeline.h
  Source/WebGPU/WebGPU/RenderPipeline.mm
  Websites/webkit.org/demos/webgpu/scripts/hello-cube-auto-layout.js
  Websites/webkit.org/demos/webgpu/scripts/instanced-textured-cube.js
Labels: merge-queue, WebGPU

#8271 Remove CSSLogicalEnabled preference
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/page/DeprecatedGlobalSettings.h
  Source/WebKitLegacy/mac/WebView/WebPreferenceKeysPrivate.h
  Source/WebKitLegacy/mac/WebView/WebPreferences.mm
  Source/WebKitLegacy/mac/WebView/WebPreferencesPrivate.h
  Tools/DumpRenderTree/TestOptions.cpp
Labels: unsafe-merge-queue, CSS

#8233 Remove flightaware Quirk
  Source/WebCore/css/CSSPrimitiveValue.cpp
  Source/WebCore/css/CSSPrimitiveValue.h
  Source/WebCore/css/CSSValue.h
  Source/WebCore/css/PropertySetCSSStyleDeclaration.cpp
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
Labels: merge-queue, Layout and Rendering

#8282 Remove MouseEventsSimulationEnabled from DeprecatedGlobalSettings
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/page/DeprecatedGlobalSettings.h
  Source/WebCore/page/Quirks.cpp
Labels: merge-queue, DOM

#8283 Remove NotificationEventEnabled from DeprecatedGlobalSettings
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/Modules/notifications/NotificationEvent.idl
  Source/WebCore/page/DeprecatedGlobalSettings.h
  Source/WebCore/workers/service/ServiceWorkerGlobalScope.idl
  Source/WebCore/workers/service/ServiceWorkerRegistration.idl
Labels: DOM

#8285 Remove DirectoryUploadEnabled from DeprecatedGlobalSettings
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/Modules/entriesapi/DOMFileSystem.idl
  Source/WebCore/Modules/entriesapi/FileSystemDirectoryEntry.idl
  Source/WebCore/Modules/entriesapi/FileSystemDirectoryReader.idl
  Source/WebCore/Modules/entriesapi/FileSystemEntry.idl
  Source/WebCore/Modules/entriesapi/FileSystemFileEntry.idl
  Source/WebCore/Modules/entriesapi/HTMLInputElement+EntriesAPI.idl
  Source/WebCore/fileapi/File.idl
  Source/WebCore/html/FileInputType.cpp
  Source/WebCore/page/DeprecatedGlobalSettings.h
Labels: merge-queue, DOM

#8279 Remove CSSTypedOMEnabled & CSSPaintingAPIEnabled from DeprecatedGlobalSettings
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/css/CSSPaintCallback.idl
  Source/WebCore/css/CSSPaintSize.idl
  Source/WebCore/css/DOMCSSNamespace+CSSPainting.idl
  Source/WebCore/css/parser/CSSParserContext.cpp
  Source/WebCore/css/parser/CSSParserContext.h
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/html/canvas/PaintRenderingContext2D.idl
  Source/WebCore/page/DeprecatedGlobalSettings.h
  Source/WebCore/worklets/PaintWorkletGlobalScope.idl
Labels: unsafe-merge-queue, CSS

#8284 Remove OffscreenCanvasEnabled from DeprecatedGlobalSettings
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/html/HTMLCanvasElement.idl
  Source/WebCore/html/OffscreenCanvas.idl
  Source/WebCore/html/canvas/OffscreenCanvasRenderingContext2D.idl
  Source/WebCore/page/DeprecatedGlobalSettings.h
Labels: merge-queue, DOM

#8229 Mark MediaSource API as a stable feature and move it to Experimental options
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: merge-queue, Media

#8288 Remove CacheAPIEnabled from DeprecatedGlobalSettings
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/Modules/cache/DOMCache.idl
  Source/WebCore/Modules/cache/DOMCacheStorage.idl
  Source/WebCore/Modules/cache/WindowOrWorkerGlobalScope+Caches.idl
  Source/WebCore/page/DeprecatedGlobalSettings.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Labels: merge-queue, DOM

#8289 Remove WebAPIStatisticsEnabled from DeprecatedGlobalSettings
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/css/CSSFontFaceSource.cpp
  Source/WebCore/css/CSSFontSelector.cpp
  Source/WebCore/html/HTMLCanvasElement.cpp
  Source/WebCore/html/canvas/CanvasRenderingContext2D.cpp
  Source/WebCore/page/DeprecatedGlobalSettings.h
  Source/WebCore/page/Navigator.cpp
  Source/WebCore/page/Screen.cpp
Labels: WebCore Misc.

#8293 Remove SecureContextChecksEnabled from DeprecatedGlobalSettings
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/dom/Document.cpp
  Source/WebCore/page/DeprecatedGlobalSettings.h
  Source/WebCore/workers/WorkerGlobalScope.cpp
Labels: merge-queue, DOM

#8118 Add size asserts for Element superclasses
  Source/WebCore/dom/ContainerNode.cpp
  Source/WebCore/dom/EventTarget.cpp
  Source/WebCore/dom/Node.cpp
Labels: DOM

#8280 Remove PageAtRuleSupportEnabled from DeprecatedGlobalSettings
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/page/DeprecatedGlobalSettings.h
  Source/WebCore/page/PrintContext.cpp
Labels: merge-queue, DOM

#8263 GitHub links are broken in Bugzilla patch review
  Websites/bugs.webkit.org/PrettyPatch/PrettyPatch.rb
Labels: unsafe-merge-queue, Tools / Tests

#8300 [GLIB] Unreviewed, build fix for Ubuntu 22.04 after 258531@main
  Source/WebCore/css/parser/CSSParserContext.cpp
Labels: unsafe-merge-queue

#7922 [ews-build.webkit.org] Use TwistedAdditions in place of Twisted requests
  Tools/CISupport/ews-build/events.py
  Tools/CISupport/ews-build/twisted_additions.py
Labels: Tools / Tests

#8302 Revert [258542@main] [ews-build.webkit.org] Use TwistedAdditions in place of Twisted requests
  Tools/CISupport/ews-build/events.py
  Tools/CISupport/ews-build/twisted_additions.py
Labels: unsafe-merge-queue, Tools / Tests

#7420 Masonry Alignment and Spacing align-tracks and justify-tracks
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/parsing/align-tracks-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/parsing/align-tracks-computed.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/parsing/align-tracks-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/parsing/align-tracks-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/parsing/align-tracks-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/parsing/align-tracks-valid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/parsing/justify-tracks-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/parsing/justify-tracks-computed.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/parsing/justify-tracks-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/parsing/justify-tracks-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/parsing/justify-tracks-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/parsing/justify-tracks-valid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/all-prop-revert-layer-expected.txt
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/CSSValueKeywords.in
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.h
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/StyleGridData.cpp
  Source/WebCore/rendering/style/StyleGridData.h
  Source/WebCore/style/StyleBuilderConverter.h
Labels: merge-queue, CSS

#8303 Ignore enum compare warning for SFSpeechRecognizerAuthorizationStatus
  Source/WebKit/UIProcess/Cocoa/MediaPermissionUtilities.mm
Labels: merge-queue, New Bugs

#7927 Web Inspector: Remove unused `WIRSimulatorTCPPortNumber` constant from RemoteInspectorConstants.h
  Source/JavaScriptCore/inspector/remote/RemoteInspectorConstants.h
Labels: Web Inspector

#8276 Make more of WheelEventTestMonitor work with UI-side compositing
  Source/WebCore/page/WheelEventTestMonitor.cpp
  Source/WebCore/page/WheelEventTestMonitor.h
  Source/WebCore/platform/PlatformWheelEvent.h
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/Shared/RemoteLayerTree/RemoteScrollingCoordinatorTransaction.cpp
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivateForTesting.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewTesting.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingTree.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingTree.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteScrollingCoordinator.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteScrollingCoordinator.messages.in
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteScrollingCoordinator.mm
  Tools/WebKitTestRunner/EventSenderProxy.h
  Tools/WebKitTestRunner/InjectedBundle/EventSendingController.cpp
  Tools/WebKitTestRunner/InjectedBundle/ios/EventSenderProxyIOS.mm
  Tools/WebKitTestRunner/TestController.cpp
  Tools/WebKitTestRunner/gtk/EventSenderProxyGtk.cpp
  Tools/WebKitTestRunner/libwpe/EventSenderProxyLibWPE.cpp
  Tools/WebKitTestRunner/mac/EventSenderProxy.mm
  Tools/WebKitTestRunner/win/EventSenderProxyWin.cpp
Labels: merge-queue, Scrolling

#8286 Remove LayoutFormattingContextEnabled from DeprecatedGlobalSettings
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/page/DeprecatedGlobalSettings.h
  Source/WebCore/page/FrameView.cpp
  Source/WebCore/page/FrameViewLayoutContext.cpp
  Source/WebCore/page/Page.cpp
Labels: unsafe-merge-queue, Layout and Rendering

#8309 REGRESSION(257981@main): Form control focus ring is clipped when zooming in
  Source/WebCore/platform/graphics/mac/controls/ControlMac.mm
Labels: merge-queue, Layout and Rendering

#8313 Expose _backgroundWebView, _backgroundContentURL and _backgroundContentIsServiceWorker as _WKWebExtension SPI.
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtension.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionContext.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionContextPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionPrivate.h
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
Labels: unsafe-merge-queue, WebKit Extensions

#8151 [iOS] Use link check as default value for suspended assertion preference
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebKit/Shared/WebPreferencesDefaultValues.cpp
  Source/WebKit/Shared/WebPreferencesDefaultValues.h
  Source/WebKit/UIProcess/ProcessThrottler.cpp
Labels: WebKit Process Model

#8319 [GPUP][iOS] Add required CoreMedia services to sandbox
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.GPU.sb.in
Labels: unsafe-merge-queue, WebKit Misc.

#8320 [iOS] TestWebKitAPI.WebKit.QuotaDelegateReload and TestWebKitAPI.WebKit.QuotaDelegateNavigateFragment are flaky failure on EWS
  Tools/TestWebKitAPI/Tests/WebKitCocoa/StorageQuota.mm
Labels: unsafe-merge-queue, New Bugs

#8162 CSS Nesting: nesting at-rule inside style rule
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/invalid-inner-rules-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/invalidation-004-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/nesting-basic-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/nesting-basic.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/parsing-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/serialize-group-rules-with-decls.tentative-expected.txt
  Source/WebCore/css/CSSSelector.cpp
  Source/WebCore/css/CSSSelector.h
  Source/WebCore/css/StyleRule.cpp
  Source/WebCore/css/StyleRule.h
  Source/WebCore/css/parser/CSSParserImpl.cpp
  Source/WebCore/css/parser/CSSParserImpl.h
  Source/WebCore/css/parser/CSSParserSelector.h
  Source/WebCore/css/parser/CSSSelectorParser.cpp
  Source/WebCore/css/parser/CSSSelectorParser.h
  Source/WebCore/style/RuleSetBuilder.cpp
  Source/WebCore/style/RuleSetBuilder.h
Labels: unsafe-merge-queue, WebCore Misc.

#8323 [Gardening] Rebaseline tests for align-tracks/justify-tracks
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/ipad/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/css/css-cascade/all-prop-revert-layer-expected.txt
  LayoutTests/platform/wpe/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
Labels: unsafe-merge-queue, CSS

#8166 Implement margin-trim for flexbox.
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-block-end-trimmed-only-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-block-end-trimmed-only.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-block-start-trimmed-only-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-block-start-trimmed-only.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-block-trimmed-only-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-block-trimmed-only.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-block-multiline-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-block-multiline.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-grow-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-grow.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-inline-multiline-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-inline-multiline.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-orthogonal-item-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-orthogonal-item.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-shrink-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-column-shrink.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-inline-end-trimmed-only-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-inline-end-trimmed-only.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-inline-start-trimmed-only-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-inline-start-trimmed-only.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-inline-trimmed-only-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-inline-trimmed-only.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-block-multiline-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-block-multiline.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-grow-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-grow.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-inline-multiline-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-inline-multiline.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-orthogonal-item-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-orthogonal-item.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-shrink-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-row-shrink.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-trim-all-margins-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-trim-all-margins.html
  LayoutTests/platform/mac/imported/w3c/web-platform-tests/css/css-box/margin-trim/flex-template-expected.txt
  Source/WebCore/rendering/FlexibleBoxAlgorithm.cpp
  Source/WebCore/rendering/FlexibleBoxAlgorithm.h
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderBox.h
  Source/WebCore/rendering/RenderFlexibleBox.cpp
  Source/WebCore/rendering/RenderFlexibleBox.h
Labels: merge-queue, Layout and Rendering

#8322 CSS Nesting: enable preview feature flag
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: unsafe-merge-queue, WebCore Misc.
