Repository WebKit/WebKit, pull requests merged in 2023-07, with the labels that each got.

#15469 REGRESSION(265657@main): imported/w3c/web-platform-tests/svg/import/animate-elem-35-t-manual.svg is failing
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/mac/imported/w3c/web-platform-tests/svg/import/animate-elem-35-t-manual-expected.txt
Labels: merge-queue, SVG

#15461 REGRESSION(264489@main): wpt/webaudio/the-audio-api/the-audioworklet-interface/audioworkletnode-onerror.https.html
  LayoutTests/imported/w3c/web-platform-tests/webaudio/the-audio-api/the-audioworklet-interface/audioworkletnode-onerror.https-expected.txt
  Source/WebCore/Modules/webaudio/AudioWorkletGlobalScope.cpp
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
Labels: merge-queue, Bindings

#15468 Undefined behavior in HashSet<CSSSelector::PseudoClassType>
  Source/WebCore/css/CSSSelector.cpp
  Source/WebCore/css/CSSSelector.h
  Source/WebCore/css/SelectorChecker.cpp
  Source/WebCore/css/SelectorChecker.h
  Source/WebCore/css/SelectorCheckerTestFunctions.h
  Source/WebCore/css/SelectorFilter.cpp
  Source/WebCore/css/SelectorPseudoClassAndCompatibilityElementMap.in
  Source/WebCore/css/makeSelectorPseudoClassAndCompatibilityElementMap.py
  Source/WebCore/css/parser/CSSParserSelector.cpp
  Source/WebCore/css/parser/CSSSelectorParser.cpp
  Source/WebCore/cssjit/SelectorCompiler.cpp
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/FullscreenManager.cpp
  Source/WebCore/editing/FrameSelection.cpp
  Source/WebCore/html/HTMLDialogElement.cpp
  Source/WebCore/html/HTMLElement.cpp
  Source/WebCore/html/HTMLFieldSetElement.cpp
  Source/WebCore/html/HTMLFormControlElement.cpp
  Source/WebCore/html/HTMLFormElement.cpp
  Source/WebCore/html/HTMLInputElement.cpp
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/html/HTMLOptGroupElement.cpp
  Source/WebCore/html/HTMLOptionElement.cpp
  Source/WebCore/html/HTMLProgressElement.cpp
  Source/WebCore/html/HTMLTextFormControlElement.cpp
  Source/WebCore/html/InputType.cpp
  Source/WebCore/html/ValidatedFormListedElement.cpp
  Source/WebCore/inspector/agents/InspectorCSSAgent.cpp
  Source/WebCore/page/EventHandler.cpp
  Source/WebCore/page/InteractionRegion.cpp
  Source/WebCore/style/ChildChangeInvalidation.cpp
  Source/WebCore/style/HasSelectorFilter.cpp
  Source/WebCore/style/RuleFeature.cpp
  Source/WebCore/style/RuleSet.cpp
  Source/WebCore/style/StyleResolver.cpp
Labels: merge-queue, CSS

#15451 REGRESSION(265569@main): All path segments should be coded by StreamConnectionEncoder
  Source/WebCore/platform/graphics/PathSegmentData.cpp
  Source/WebCore/platform/graphics/PathSegmentData.h
  Source/WebCore/platform/graphics/PathStream.cpp
  Source/WebCore/platform/graphics/PathStream.h
  Source/WebCore/platform/graphics/cg/GraphicsContextCG.cpp
  Source/WebCore/platform/graphics/displaylists/DisplayListItems.h
  Source/WebKit/GPUProcess/graphics/PathSegment.serialization.in
  Source/WebKit/GPUProcess/graphics/RemoteDisplayListRecorder.messages.in
  Source/WebKit/Shared/WebCoreArgumentCoders.h
  Tools/TestWebKitAPI/Tests/WebCore/DisplayListTests.cpp
Labels: merge-queue, Layout and Rendering

#15448 [WPE][GTK] Rename `python-gi` apt dependency to `python3-gi`
  Tools/glib/dependencies/apt
Labels: unsafe-merge-queue, WPE WebKit

#15146 [Buildstream SDK] Bump to GStreamer 1.22.4
  Tools/buildstream/elements/freedesktop-sdk.bst
  Tools/buildstream/patches/fdo-0005-GStreamer-Bump-to-1.22.4.patch
Labels: Tools / Tests

#15476 Scroll corner painting ignores color-scheme when overflow: scroll
  Source/WebCore/page/LocalFrameView.cpp
  Source/WebCore/platform/mac/ScrollbarThemeMac.mm
Labels: merge-queue, CSS

#15423 Videos autoplay with sound on cnn.com pages after refresh in Safari
  LayoutTests/TestExpectations
  LayoutTests/fast/html/transient-activation-expected.txt
  LayoutTests/fast/html/transient-activation.html
  LayoutTests/fullscreen/requestFullscreen-escape-key-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/user-activation/activation-trigger-keyboard-enter-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/user-activation/activation-trigger-keyboard-escape-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/user-activation/activation-trigger-mouse-left-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/user-activation/activation-trigger-pointerevent_mouse-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/user-activation/no-activation-thru-escape-key-expected.txt
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/dom/UserGestureIndicator.cpp
  Source/WebCore/dom/UserGestureIndicator.h
  Source/WebCore/page/EventHandler.cpp
Labels: Media

#15475 ScrollerMac shouldn't use hardcoded NSControlSize
  Source/WebCore/page/scrolling/mac/ScrollerMac.mm
  Source/WebCore/page/scrolling/mac/ScrollerPairMac.h
  Source/WebCore/page/scrolling/mac/ScrollerPairMac.mm
  Source/WebCore/platform/mac/ScrollTypesMac.h
  Source/WebCore/platform/mac/ScrollbarThemeMac.mm
Labels: merge-queue, CSS

#15482 REGRESSION (258177@main): Radio buttons are shifted up on facebook.com account sign up/creation page
  LayoutTests/TestExpectations
  LayoutTests/fast/forms/fixed-size-checkbox-vertically-centered-expected.html
  LayoutTests/fast/forms/fixed-size-checkbox-vertically-centered.html
  LayoutTests/fast/forms/fixed-size-radio-vertically-centered-expected.html
  LayoutTests/fast/forms/fixed-size-radio-vertically-centered.html
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebCore/platform/graphics/mac/controls/ToggleButtonMac.h
  Source/WebCore/platform/graphics/mac/controls/ToggleButtonMac.mm
Labels: merge-queue, Forms

#15478 [WPE] run-minibrowser: test_browser_name_default_with_cog_built is failing
  Tools/Scripts/webkitpy/port/wpe_unittest.py
Labels: merge-queue

#15466 Small cleanup on BMPImageReader.cpp
  Source/WebCore/platform/image-decoders/bmp/BMPImageReader.cpp
  Source/WebCore/platform/image-decoders/bmp/BMPImageReader.h
Labels: merge-queue, WebKit Misc.

#15135 New broken test: http/wpt/service-workers/fetch-service-worker-preload-changing-request.https.html fails
  LayoutTests/TestExpectations
  LayoutTests/http/wpt/service-workers/fetch-service-worker-preload-changing-request.https-expected.txt
  LayoutTests/http/wpt/service-workers/fetch-service-worker-preload-changing-request.https.html
  Source/WebCore/Modules/fetch/FetchRequest.cpp
Labels: Tools / Tests

#11801 RedirectSOAuthorizationSession should support all redirections
  Source/WebCore/loader/DocumentLoader.cpp
  Source/WebCore/loader/DocumentLoader.h
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.h
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.messages.in
  Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp
  Source/WebKit/NetworkProcess/NetworkResourceLoader.h
  Source/WebKit/UIProcess/Cocoa/SOAuthorization/RedirectSOAuthorizationSession.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SOAuthorizationTests.mm
Labels: WebKit Misc.

#15442 [WPE][GTK] API test `WebKit.PrivateBrowsingPushStateNoHistoryCallback` is a timeout
  Tools/TestWebKitAPI/Tests/WebKit/PrivateBrowsingPushStateNoHistoryCallback.cpp
  Tools/TestWebKitAPI/glib/TestExpectations.json
Labels: merge-queue, WPE WebKit

#15445 Bounds are not always correctly set when setting twice a MediaStream to a HTMLMediaElement
  LayoutTests/fast/mediastream/video-srcObject-set-twice-expected.html
  LayoutTests/fast/mediastream/video-srcObject-set-twice.html
  Source/WebCore/platform/graphics/avfoundation/SampleBufferDisplayLayer.h
  Source/WebCore/platform/graphics/avfoundation/objc/LocalSampleBufferDisplayLayer.h
  Source/WebCore/platform/graphics/avfoundation/objc/LocalSampleBufferDisplayLayer.mm
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaStreamAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaStreamAVFObjC.mm
  Source/WebKit/GPUProcess/webrtc/RemoteSampleBufferDisplayLayer.cpp
  Source/WebKit/GPUProcess/webrtc/RemoteSampleBufferDisplayLayer.h
  Source/WebKit/GPUProcess/webrtc/RemoteSampleBufferDisplayLayer.messages.in
  Source/WebKit/WebProcess/GPU/webrtc/SampleBufferDisplayLayer.cpp
  Source/WebKit/WebProcess/GPU/webrtc/SampleBufferDisplayLayer.h
Labels: WebRTC

#15362 Generated IPC serializers have tests for removed ReturnEarlyIfTrue feature
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.cpp
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.h
  Source/WebKit/Scripts/webkit/tests/SerializedTypeInfo.cpp
  Source/WebKit/Scripts/webkit/tests/TestSerializedType.serialization.in
Labels: WebKit2

#15438 TestIPC.StreamMessageTest.SendAsyncReplyCancel fails in ASAN builds
  Tools/TestWebKitAPI/Tests/IPC/StreamConnectionTests.cpp
Labels: merge-queue, WebKit2

#15361 Generated IPC serializers for base classes run conditions for all the derived classes
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.cpp
Labels: WebKit2

#15326 REGRESSION (264004@main): Images MotionMark subtest shows incorrect rendering on Intel
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.cpp
  Source/WebCore/platform/graphics/cocoa/IOSurface.h
  Source/WebCore/platform/graphics/cocoa/IOSurface.mm
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferShareableMappedIOSurfaceBitmapBackend.cpp
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferShareableMappedIOSurfaceBitmapBackend.h
Labels: Canvas

#15358 Generated IPC serializers use deprecated stream input operator
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.cpp
Labels: WebKit2

#15441 RemoteRenderingBackend timeouts are inconsistent
  Source/WebKit/WebProcess/GPU/graphics/RemoteDisplayListRecorderProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteDisplayListRecorderProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.h
Labels: merge-queue, Canvas

#15314 [macOS] Update ScreenCaptureKit API used
  Source/WebCore/PAL/pal/spi/mac/ScreenCaptureKitSPI.h
  Source/WebCore/platform/mediastream/mac/ScreenCaptureKitSharingSessionManager.mm
Labels: merge-queue, WebRTC

#15502 [WPE][GTK] API test `TestWebKitWebView` `/webkit/WebKitWebView/is-web-process-responsive` is a timeout
  Tools/TestWebKitAPI/glib/TestExpectations.json
Labels: merge-queue, WPE WebKit

#15499 Update LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-construction.window.js to work around Safari SVG specificites
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-construction.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-construction.window.js
Labels: merge-queue, Media

#15380 Spell checking indicator shows when an inline prediction candidate for a proper noun is being shown
  Source/WebCore/editing/Editor.cpp
  Tools/TestWebKitAPI/Tests/mac/WKWebViewMacEditingTests.mm
Labels: HTML Editing

#15480 Scrollbar gutters don't update when scrollbar-width value does
  LayoutTests/imported/w3c/web-platform-tests/css/css-overflow/scrollbar-gutter-dynamic-003-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-overflow/scrollbar-gutter-dynamic-003-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-overflow/scrollbar-gutter-dynamic-003.html
  Source/WebCore/rendering/style/RenderStyle.cpp
Labels: CSS

#15379 PROGRESSION (263656@main): Three fast/scrolling/mac/scrollbars are a consistent failure or timeout
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/resources/ui-helper.js
Labels: New Bugs

#15508 [GARDENING]([REGRESSION: 265579@main?][ iOS ]TestWebKitAPI.WebKit2.CrashGPUProcessAfterApplyingConstraints (api-tests) is a constant timeout)
  Tools/TestWebKitAPI/Tests/WebKit/GetUserMedia.mm
Labels: WebGPU

#15486 pointerevent_movementxy.html?mouse WPT is failing
  LayoutTests/imported/w3c/web-platform-tests/pointerevents/pointerevent_movementxy_mouse-expected.txt
  Source/WebCore/dom/Event.cpp
  Source/WebCore/dom/Event.h
  Source/WebCore/dom/MouseRelatedEvent.cpp
  Source/WebCore/dom/MouseRelatedEvent.h
Labels: UI Events

#15159 [UI-side compositing] NSScrollerImps are still created in the web process (triggering CATransactions)
  Source/WebCore/platform/Scrollbar.cpp
  Source/WebCore/platform/Scrollbar.h
  Source/WebCore/platform/ScrollbarsController.h
  Source/WebCore/platform/mac/ScrollbarThemeMac.mm
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteScrollbarsController.h
Labels: New Bugs

#15500 MessageEvent::m_data lock is not held when accessed
  Source/WTF/wtf/Locker.h
  Source/WebCore/dom/MessageEvent.cpp
  Source/WebCore/dom/MessageEvent.h
Labels: DOM

#15489 [visionOS] Hide ornaments when entering fullscreen
  Source/WebKit/Platform/spi/visionos/MRUIKitSPI.h
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
Labels: New Bugs

#15496 [popover] Adjust showPopover
  Source/WebCore/html/HTMLElement.cpp
Labels: merge-queue, DOM

#15493 Connection::sendSyncMessage changes NoError to Unspecified if there is no decoder
  Source/WebKit/Platform/IPC/Connection.cpp
Labels: merge-queue, WebKit Process Model

#15510 Update to PDF.js v3.8.162
  Source/ThirdParty/pdfjs/build/pdf.js
  Source/ThirdParty/pdfjs/build/pdf.sandbox.js
  Source/ThirdParty/pdfjs/build/pdf.worker.js
  Source/ThirdParty/pdfjs/web/locale/eu/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/hy-AM/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/pl/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/sat/viewer.properties
  Source/ThirdParty/pdfjs/web/viewer.css
  Source/ThirdParty/pdfjs/web/viewer.js
Labels: merge-queue, PDF

#15515 Revert [265608@main] gperf generated files include absolute path to Xcode
  Source/WebCore/DerivedSources.make
  Source/WebCore/Scripts/generate-derived-sources.sh
Labels: unsafe-merge-queue, Tools / Tests

#15483 Media Controls: Interaction region on visionOS <audio> volume button is too big
  Source/WebCore/Modules/modern-media-controls/controls/vision-media-controls.css
Labels: merge-queue, Media

#15509 The tracker lookup callback should match against the domain of the returned CNAME alias
  Source/WebKit/Platform/cocoa/WebPrivacyHelpers.mm
Labels: WebKit Misc.

#15517 [iOS 17] Software keyboard overlaps position: fixed; text fields near the bottom of the viewport
  LayoutTests/fast/forms/ios/scroll-to-reveal-fixed-input-expected.txt
  LayoutTests/fast/forms/ios/scroll-to-reveal-fixed-input.html
  LayoutTests/resources/ui-helper.js
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Tools/TestRunnerShared/UIScriptContext/Bindings/UIScriptController.idl
  Tools/TestRunnerShared/UIScriptContext/UIScriptController.h
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.h
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.mm
Labels: HTML Editing

#15520 REGRESSION(265615@main): <attachment> icon is stretched
  Source/WebCore/html/shadow/attachmentElementShadow.css
Labels: unsafe-merge-queue, WebCore Misc.

#15519 Debug assertion hit in `WebCore::FrameLoader::checkLoadCompleteForThisFrame`
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/editing/cocoa/DataDetectorType.h
Labels: merge-queue, HTML Editing

#15526 [Win] Skip TestWTF.WTF_DateMath.calculateLocalTimeOffset not in Pacific Time Zone
  Tools/TestWebKitAPI/Tests/WTF/DateMath.cpp
Labels: unsafe-merge-queue, Tools / Tests

#15523 [Win] TestWebKit.WebKit.WKPreferencesDefaults is failing
  Tools/TestWebKitAPI/Tests/WebKit/WKPreferences.cpp
Labels: merge-queue, Tools / Tests

#15487 Fix for an issue while breaking out of an empty list item in case of nested lists
  LayoutTests/editing/inserting/break-out-of-nested-lists-expected.txt
  LayoutTests/editing/inserting/break-out-of-nested-lists.html
  Source/WebCore/editing/Editing.cpp
Labels: HTML Editing

#15498 Update WebCodecsVideoFrame color space to create a valid VideoColorSpace even when closed
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-construction.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-construction.any.worker-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/webcodecs/videoFrame-construction.any-expected.txt
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/webcodecs/videoFrame-construction.any-expected.txt
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.h
Labels: merge-queue, Media

#15532 Make <attachment> progress circle use a single element
  LayoutTests/platform/ios-wk2/fast/attachment/cocoa/wide-attachment-rendering-expected.txt
  LayoutTests/platform/mac-wk2/fast/attachment/cocoa/wide-attachment-rendering-expected.txt
  Source/WebCore/html/HTMLAttachmentElement.cpp
  Source/WebCore/html/shadow/attachmentElementShadow.css
Labels: WebCore Misc.

#15455 [GStreamer][WebRTC] Improved statistics support
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerStatsCollector.cpp
Labels: Platform

#15527 [LibWebRTC] Include AVX2 sources on Intel hosts
  Source/ThirdParty/libwebrtc/CMakeLists.txt
  Source/cmake/DetectAVX2.cmake
  Source/cmake/WebKitCommon.cmake
Labels: merge-queue

#15535 Remove rendererWillBeDestroyed() from HTMLTextAreaElement.h and RenderTextControlMultiLine.cpp
  Source/WebCore/html/HTMLTextAreaElement.h
  Source/WebCore/rendering/RenderTextControlMultiLine.cpp
  Source/WebCore/rendering/RenderTextControlMultiLine.h
Labels: merge-queue, Forms

#15521 SyntheticClickType should be an enum class
  Source/WebCore/dom/DragEvent.cpp
  Source/WebCore/dom/DragEvent.h
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/MouseEvent.cpp
  Source/WebCore/dom/MouseEvent.h
  Source/WebCore/dom/PointerEvent.cpp
  Source/WebCore/dom/SimulatedClick.cpp
  Source/WebCore/dom/WheelEvent.cpp
  Source/WebCore/dom/ios/MouseEventIOS.cpp
  Source/WebCore/dom/ios/PointerEventIOS.cpp
  Source/WebCore/dom/wpe/PointerEventWPE.cpp
  Source/WebCore/loader/NavigationAction.h
  Source/WebCore/page/ContextMenuController.cpp
  Source/WebCore/page/DragController.cpp
  Source/WebCore/page/EventHandler.cpp
  Source/WebCore/page/ios/EventHandlerIOS.mm
  Source/WebCore/platform/PlatformMouseEvent.h
  Source/WebKit/Shared/WebEvent.serialization.in
  Source/WebKit/Shared/WebMouseEvent.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Source/WebKitLegacy/ios/WebView/WebPDFViewPlaceholder.mm
  Source/WebKitLegacy/mac/WebView/WebFrame.mm
  Source/WebKitLegacy/mac/WebView/WebPDFView.mm
Labels: UI Events

#15533 Fix checkSwitchToJITForLoop on ARM64E to work with --returnEarlyFromInfiniteLoopsForFuzzing=1 --useJIT=0.
  Source/JavaScriptCore/bytecode/BytecodeList.rb
  Source/JavaScriptCore/llint/LLIntData.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter32_64.asm
  Source/JavaScriptCore/llint/LowLevelInterpreter64.asm
Labels: unsafe-merge-queue, JavaScriptCore

#15545 LocalSampleBufferDisplayLayer::enqueueVideoFrame callback needs to call assertIsCurrent after checking weakThis
  Source/WebCore/platform/graphics/avfoundation/objc/LocalSampleBufferDisplayLayer.mm
Labels: WebRTC

#15551 StreamClientConnection::trySendSyncStream should return a reply+decoder XOR an actual error
  Source/WebKit/Platform/IPC/StreamClientConnection.h
Labels: merge-queue, WebKit Process Model

#15541 Focused text form controls should not get an Interaction Region
  LayoutTests/interaction-region/text-controls-expected.txt
  LayoutTests/interaction-region/text-controls.html
  LayoutTests/interaction-region/text-input-focused-expected.txt
  LayoutTests/interaction-region/text-input-focused.html
  LayoutTests/interaction-region/textarea-focused-expected.txt
  LayoutTests/interaction-region/textarea-focused.html
  Source/WebCore/page/InteractionRegion.cpp
Labels: Layout and Rendering

#15524 [WebXR] Enable required extensions for simulator builds
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
Labels: WebXR

#15540 fast/mediastream/video-srcObject-set-twice.html is flaky
  LayoutTests/fast/mediastream/video-srcObject-set-twice.html
Labels: WebRTC

#15479 HTMLTableSectionElement.insertRow(0) / HTMLTableRowElement.insertCell(0) do not behave correctly
  LayoutTests/fast/dom/HTMLTableRowElement/insertCell-skips-non-td-th-expected.txt
  LayoutTests/fast/dom/HTMLTableRowElement/insertCell-skips-non-td-th.html
  LayoutTests/fast/dom/HTMLTableSectionElement/insertRow-skips-non-tr-expected.txt
  LayoutTests/fast/dom/HTMLTableSectionElement/insertRow-skips-non-tr.html
  Source/WebCore/html/HTMLTableRowElement.cpp
  Source/WebCore/html/HTMLTableSectionElement.cpp
Labels: DOM

#15550 Make Attr.nodeValue/textContent not nullable
  LayoutTests/fast/dom/coreDOM-element-attribute-js-null-expected.txt
  LayoutTests/fast/dom/coreDOM-element-attribute-js-null.xhtml
  Source/WebCore/dom/Attr.cpp
Labels: merge-queue, DOM

#15561 [Buildstream SDK] Update to latest GTK4
  Tools/buildstream/elements/freedesktop-sdk.bst
  Tools/buildstream/elements/sdk/gtk.bst
  Tools/buildstream/patches/fdo-0007-components-Bump-GLib-to-version-2.76.patch
  Tools/buildstream/patches/fdo-0008-components-Bump-g-i-to-version-1.76.patch
Labels: unsafe-merge-queue, Tools / Tests

#15567 [WPE][GTK] API test `TestWebProcessExtensions` `/webkit/WebKitWebProcessExtension/user-messages` is flaky
  Tools/TestWebKitAPI/Tests/WebKitGLib/TestWebProcessExtensions.cpp
  Tools/TestWebKitAPI/glib/TestExpectations.json
Labels: merge-queue, WPE WebKit

#15444 [GLib] Expose more GStreamer paths in sandbox
  Source/WebKit/UIProcess/Launcher/glib/BubblewrapLauncher.cpp
Labels: WPE WebKit

#15506 Reload reducing privacy protections does not work for navigational protections after redirection
  Source/WebKit/Shared/NavigationActionData.h
  Source/WebKit/Shared/NavigationActionData.serialization.in
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebLocalFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.h
  Tools/TestWebKitAPI/Tests/WebKit/AdvancedPrivacyProtections.mm
Labels: WebKit Misc.

#15573 [WPE] clang warning during WindowViewBackend build
  Tools/wpe/backends/fdo/WindowViewBackend.cpp
Labels: merge-queue, WPE WebKit

#15556 [Win] Remove old files for Apple Windows port
  .gitignore
  Source/WebCore/css/themeWin.css
  Source/WebCore/css/themeWinQuirks.css
  Source/WebCore/platform/graphics/win/WKCAImageQueue.cpp
  Source/WebCore/platform/graphics/win/WKCAImageQueue.h
  Tools/Scripts/update-webkit-dependency
Labels: merge-queue, New Bugs

#15522 [Win] TestWebKit.Curl.CertificateAPI is failing
  Tools/TestWebKitAPI/PlatformPlayStation.cmake
  Tools/TestWebKitAPI/PlatformWin.cmake
  Tools/TestWebKitAPI/Tests/WebKit/curl/Certificates.cpp
Labels: Tools / Tests

#15571 Fix incorrect HAVE macro
  Source/WebCore/PAL/pal/spi/cocoa/LaunchServicesSPI.h
  Source/WebKit/WebProcess/WebPage/mac/WebPageMac.mm
Labels: WebKit Misc.

#15458 REGRESSION (263995@main): preventDefault on wheel events can still result in page scrolling (fast/scrolling/mac/event-region-prevent-default-with-sublayer.html is a consistent failure)
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingTree.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeEventDispatcher.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingTreeMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingTreeMac.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: Scrolling

#15530 Simplify <attachment> wide layout CSS
  LayoutTests/fast/attachment/mac/wide-attachment-image-controls-basic-expected.txt
  LayoutTests/platform/ios-wk2/fast/attachment/cocoa/wide-attachment-rendering-expected.txt
  LayoutTests/platform/mac-wk2/fast/attachment/cocoa/wide-attachment-rendering-expected.txt
  Source/WebCore/html/shadow/attachmentElementShadow.css
Labels: merge-queue, WebCore Misc.

#15576 Fix undefined reference to "value" in test_parser.py
  Tools/Scripts/webkitpy/w3c/test_parser.py
Labels: merge-queue, Tools / Tests

#15577 Clean-up ArrayProfile usage in call opcodes
  Source/JavaScriptCore/bytecode/BytecodeList.rb
  Source/JavaScriptCore/bytecode/BytecodeOperandsForCheckpoint.h
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/bytecode/Opcode.h
  Source/JavaScriptCore/bytecode/UnlinkedCodeBlock.cpp
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/jit/JITCall.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter64.asm
Labels: merge-queue, JavaScriptCore

#15531 Hide icon's <img> when showing progress or placeholder
  LayoutTests/platform/ios-wk2/fast/attachment/cocoa/wide-attachment-rendering-expected.txt
  LayoutTests/platform/mac-wk2/fast/attachment/cocoa/wide-attachment-rendering-expected.txt
  Source/WebCore/html/HTMLAttachmentElement.cpp
Labels: HTML Editing

#15490 Ensure validity of ENABLE(WEBASSEMBLY) without ENABLE(WEBASSEMBLY_B3JIT)
  Source/JavaScriptCore/interpreter/StackVisitor.cpp
  Source/JavaScriptCore/wasm/WasmCallee.cpp
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Source/JavaScriptCore/wasm/js/WebAssemblyExceptionConstructor.cpp
Labels: JavaScriptCore

#15579 Ignore downloads to WebKitLibraries
  .gitignore
Labels: Tools / Tests

#15123 Make topOrigin optional in URLKeepingBlobAlive
  Source/WebCore/fileapi/Blob.cpp
  Source/WebCore/fileapi/URLKeepingBlobAlive.cpp
  Source/WebCore/fileapi/URLKeepingBlobAlive.h
  Source/WebCore/page/SecurityOriginData.h
Labels: New Bugs

#15149 Rename Internal Blob URL registration
  Source/WebCore/fileapi/Blob.cpp
  Source/WebCore/fileapi/File.cpp
  Source/WebCore/fileapi/ThreadableBlobRegistry.cpp
  Source/WebCore/fileapi/ThreadableBlobRegistry.h
  Source/WebCore/platform/network/BlobRegistry.h
  Source/WebCore/platform/network/BlobRegistryImpl.cpp
  Source/WebCore/platform/network/BlobRegistryImpl.h
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.h
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.messages.in
  Source/WebKit/NetworkProcess/NetworkProcessPlatformStrategies.cpp
  Source/WebKit/WebProcess/FileAPI/BlobRegistryProxy.cpp
  Source/WebKit/WebProcess/FileAPI/BlobRegistryProxy.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebPlatformStrategies.mm
Labels: DOM

#15586 [LibWebRTC] Unreviewed build fix after 265754@main
  Source/ThirdParty/libwebrtc/CMakeLists.txt
Labels: unsafe-merge-queue

#15580 Use WebSQLiteDatabaseTracker on macOS
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/ios/NetworkProcessIOS.mm
  Source/WebKit/WebProcess/WebProcess.cpp
  Source/WebKit/WebProcess/WebProcess.h
Labels: Website Storage

#15562 VideoEncoder does not call output callback on FullHD configuration
  LayoutTests/http/wpt/webcodecs/videoFrame-colorSpace-expected.txt
  LayoutTests/http/wpt/webcodecs/videoFrame-colorSpace.html
  LayoutTests/platform/glib/TestExpectations
  Source/WebKit/WebProcess/GPU/media/RemoteVideoCodecFactory.cpp
Labels: merge-queue, Media

#15585 [GTK][WPE] UIScriptController::zoomToScale not implemented
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
  Tools/WebKitTestRunner/gtk/UIScriptControllerGtk.cpp
  Tools/WebKitTestRunner/gtk/UIScriptControllerGtk.h
  Tools/WebKitTestRunner/wpe/UIScriptControllerWPE.cpp
  Tools/WebKitTestRunner/wpe/UIScriptControllerWPE.h
Labels: merge-queue

#15560 [GStreamer][WebRTC] RTP VPx payloader tweaks
  Source/WebCore/platform/mediastream/gstreamer/RealtimeOutgoingVideoSourceGStreamer.cpp
Labels: Platform

#15566 [GStreamer][WebRTC] GRefPtr template specialization for GstWebRTCICE
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.cpp
  Source/WebCore/platform/graphics/gstreamer/GRefPtrGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/GRefPtrGStreamer.h
Labels: Platform

#15568 [GStreamer] Update the registry only if the private video encoder was successfully registered
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.cpp
Labels: Platform

#15559 [GStreamer] Video encoder reconfiguration fails
  Source/WebCore/platform/gstreamer/VideoEncoderPrivateGStreamer.cpp
Labels: merge-queue, Platform

#15595 [browserperfdash-benchmark] Allow to send benchmark data with the timestamp of the git checkout and use it on the bots
  Tools/CISupport/build-webkit-org/steps.py
  Tools/Scripts/webkitpy/browserperfdash/browserperfdash_runner.py
Labels: unsafe-merge-queue, Tools / Tests

#15539 [WPE] `TestWebKitWebView` `/webkit/WebKitWebView/fullscreen` is a timeout
  Source/WebKit/UIProcess/API/glib/WebKitWebView.cpp
  Source/WebKit/UIProcess/API/wpe/APIViewClient.h
  Source/WebKit/UIProcess/API/wpe/PageClientImpl.cpp
  Source/WebKit/UIProcess/API/wpe/WPEView.cpp
  Source/WebKit/UIProcess/API/wpe/WebKitWebViewClient.h
  Tools/TestWebKitAPI/glib/TestExpectations.json
Labels: merge-queue, WPE WebKit

#15593 [GTK] API test /webkit/WebKitWebContext/uri-scheme is flaky failure
  Tools/TestWebKitAPI/glib/TestExpectations.json
Labels: merge-queue, WebKitGTK

#15564 [GStreamer] Emit one warning per missing plugin
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.cpp
Labels: Platform

#15552 Initial scale of a page is not respected when both initial scale and viewport width are set
  LayoutTests/fast/viewport/ios/adjust-fixed-width-and-initial-scale-to-avoid-excessive-zooming.html
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Tools/TestWebKitAPI/Tests/ios/Viewport.mm
Labels: merge-queue, Layout and Rendering

#15591 Reset UserMediaPermissionRequestManagerProxy granted/denied requests in case of a related permission change
  Source/WebKit/UIProcess/UserMediaPermissionRequestManagerProxy.cpp
  Source/WebKit/UIProcess/UserMediaPermissionRequestManagerProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Tools/TestWebKitAPI/Tests/WebKit/GetUserMedia.mm
Labels: merge-queue, WebRTC

#15555 [WPE] Implement click counting in mouse events
  LayoutTests/platform/wpe/TestExpectations
  Source/WebKit/Shared/libwpe/WebEventFactory.cpp
Labels: merge-queue

#15596 [GStreamer] Support serializing caps list fields to JSON
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.cpp
  Tools/TestWebKitAPI/Tests/WebCore/gstreamer/GStreamerTest.cpp
Labels: Platform

#15584 Restore Path cheap copying (refcount/COW PathStream)
  Source/WebCore/platform/graphics/PathStream.cpp
  Source/WebCore/platform/graphics/PathStream.h
Labels: merge-queue, Layout and Rendering

#15594 [GStreamer] Support for high and 10-bits x264 encoding formats
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/platform/gstreamer/VideoEncoderPrivateGStreamer.cpp
Labels: Platform

#14879 Add priority for Highlight
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-priority-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-priority-painting-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-priority-painting-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-priority-painting.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-priority.html
  Source/WebCore/Modules/highlight/Highlight.cpp
  Source/WebCore/Modules/highlight/Highlight.h
  Source/WebCore/Modules/highlight/HighlightRegister.cpp
  Source/WebCore/Modules/highlight/HighlightRegister.h
  Source/WebCore/rendering/MarkedText.cpp
  Source/WebCore/rendering/MarkedText.h
  Source/WebCore/rendering/StyledMarkedText.cpp
  Source/WebCore/rendering/TextBoxPainter.cpp
Labels: CSS

#15597 [WPT] Resync css/css-color
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/color-mix-currentcolor-nested-for-color-property-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/color-mix-currentcolor-nested-for-color-property-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/color-mix-currentcolor-nested-for-color-property.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/lab-l-over-100-1.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/lab-l-over-100-2.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/lch-l-over-100-1.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/lch-l-over-100-2.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/oklab-009-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/oklab-009.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/oklch-011-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/oklch-011.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-color-mix-function-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-color-mix-function.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-relative-color-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-mix-out-of-gamut-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-mix-out-of-gamut.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-valid-color-function-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-valid-color-function.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-valid-color-mix-function-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-valid-color-mix-function.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-valid-relative-color-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/gamut-mapping-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/gamut-mapping.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/w3c-import.log
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/ios-wk2/TestExpectations
Labels: Tools / Tests

#15589 Add a nullptr check to WebSharedWorkerServer::requestSharedWorker
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServer.cpp
Labels: merge-queue, Service Workers

#15427 Fix MemoryBackingStoreTransaction::abort to restore state correctly
  LayoutTests/storage/indexeddb/aborted-rename-of-index-crash-expected.txt
  LayoutTests/storage/indexeddb/aborted-rename-of-index-crash.html
  Source/WebCore/Modules/indexeddb/server/MemoryBackingStoreTransaction.cpp
  Source/WebCore/Modules/indexeddb/server/MemoryObjectStore.cpp
  Source/WebCore/Modules/indexeddb/server/MemoryObjectStore.h
Labels: Website Storage

#15429 Fix crash in WebPageProxy::wheelEventHandlingCompleted()
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: WebKit Process Model

#11435 [Win] Remove DLLLauncherMain.cpp
  Source/JavaScriptCore/jsc.cpp
  Source/JavaScriptCore/shell/DLLLauncherMain.cpp
  Source/JavaScriptCore/shell/PlatformWin.cmake
  Source/WebDriver/PlatformWin.cmake
  Source/WebDriver/WebDriverMain.cpp
  Source/cmake/WebKitMacros.cmake
  Tools/ImageDiff/ImageDiff.cpp
  Tools/ImageDiff/PlatformWin.cmake
  Tools/MiniBrowser/win/CMakeLists.txt
  Tools/MiniBrowser/win/Common.cpp
  Tools/MiniBrowser/win/WinMain.cpp
  Tools/Scripts/run-javascriptcore-tests
  Tools/Scripts/run-jsc
  Tools/Scripts/webkitdirs.pm
  Tools/Scripts/webkitpy/port/win.py
  Tools/TestWebKitAPI/PlatformWin.cmake
  Tools/TestWebKitAPI/win/main.cpp
  Tools/WebKitTestRunner/PlatformWin.cmake
  Tools/WebKitTestRunner/win/main.cpp
  Tools/win/DLLLauncher/DLLLauncherMain.cpp
Labels: CMake

#15529 WTF_Ref.StaticReferenceCastFromRValueReference and WTF_RefPtr.Basic fail due to buffered logs of preceding tests
  Tools/TestWebKitAPI/Tests/WTF/Ref.cpp
Labels: Tools / Tests

#15606 Occasional crash under WebPage::sendEditorStateUpdate() when discarding IME composition
  Source/WebCore/editing/Editor.cpp
  Source/WebCore/loader/EmptyClients.cpp
  Source/WebCore/page/EditorClient.h
  Source/WebKit/WebProcess/WebCoreSupport/WebEditorClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebEditorClient.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebEditorClient.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebEditorClient.mm
  Tools/TestWebKitAPI/Tests/ios/KeyboardInputTestsIOS.mm
Labels: unsafe-merge-queue, HTML Editing

#15604 [WK2][macOS] Update sandbox profile caching to not require file locking
  Source/WebKit/Shared/mac/AuxiliaryProcessMac.mm
Labels: merge-queue, WebKit2

#15600 Avoid triggering image analysis when interrupting scroll deceleration by long pressing on an image
  LayoutTests/fast/images/text-recognition/ios/no-image-analysis-when-interrupting-scrolling-expected.txt
  LayoutTests/fast/images/text-recognition/ios/no-image-analysis-when-interrupting-scrolling.html
  LayoutTests/resources/ui-helper.js
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/UIProcess/Cocoa/MediaPermissionUtilities.mm
  Source/WebKit/UIProcess/Cocoa/WKStorageAccessAlert.mm
  Source/WebKit/UIProcess/ios/UIKitUtilities.h
  Source/WebKit/UIProcess/ios/UIKitUtilities.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/ios/WKHighlightLongPressGestureRecognizer.mm
  Source/WebKit/UIProcess/ios/WKImageAnalysisGestureRecognizer.h
  Source/WebKit/UIProcess/ios/WKImageAnalysisGestureRecognizer.mm
  Source/WebKit/UIProcess/ios/WKPasswordView.mm
  Source/WebKit/UIProcess/ios/WKSyntheticTapGestureRecognizer.mm
  Source/WebKit/UIProcess/ios/WKWebGeolocationPolicyDeciderIOS.mm
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenViewController.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Tools/TestRunnerShared/UIScriptContext/Bindings/UIScriptController.idl
  Tools/TestRunnerShared/UIScriptContext/UIScriptController.h
  Tools/WebKitTestRunner/Configurations/WebKitTestRunnerApp.xcconfig
  Tools/WebKitTestRunner/Configurations/WebKitTestRunnerLibrary.xcconfig
  Tools/WebKitTestRunner/TestController.h
  Tools/WebKitTestRunner/cocoa/TestControllerCocoa.mm
  Tools/WebKitTestRunner/cocoa/UIScriptControllerCocoa.h
  Tools/WebKitTestRunner/cocoa/UIScriptControllerCocoa.mm
Labels: merge-queue, Platform

#15578 REGRESSION(264617@main): fast/forms/ios/file-upload-panel-accept.html is a constant timeout
  Source/WebCore/PAL/pal/spi/cocoa/QuartzCoreSPI.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
Labels: WebKit Misc.

#15590 Allow variable references in matched declarations cache
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/style/ElementRuleCollector.cpp
  Source/WebCore/style/PropertyCascade.cpp
  Source/WebCore/style/PropertyCascade.h
  Source/WebCore/style/StyleBuilder.cpp
  Source/WebCore/style/StyleBuilder.h
  Source/WebCore/style/StyleResolver.cpp
  Source/WebCore/style/StyleTreeResolver.cpp
Labels: unsafe-merge-queue, CSS

#15588 CustomElementQueue and CustomElementReactionQueue should have an inline capacity
  Source/WebCore/dom/CustomElementReactionQueue.cpp
  Source/WebCore/dom/CustomElementReactionQueue.h
  Source/WebCore/dom/GCReachableRef.h
Labels: unsafe-merge-queue, DOM

#15617 Fix internal Apple builds after 265828@main
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkProcess.messages.in
  Source/WebKit/NetworkProcess/NetworkSession.h
  Source/WebKit/NetworkProcess/cocoa/NetworkProcessCocoa.mm
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.h
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.mm
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.h
Labels: unsafe-merge-queue, WebKit Misc.

#15558 Correctly compute baseline of wide-layout attachments
  LayoutTests/fast/attachment/mac/wide-attachment-image-controls-basic-expected.txt
  LayoutTests/platform/ios-wk2/fast/attachment/cocoa/wide-attachment-rendering-expected.txt
  LayoutTests/platform/mac-wk2/fast/attachment/cocoa/wide-attachment-rendering-expected.txt
  Source/WebCore/html/HTMLAttachmentElement.cpp
  Source/WebCore/html/HTMLAttachmentElement.h
  Source/WebCore/rendering/RenderAttachment.cpp
Labels: merge-queue, HTML Editing

#15622 [LibWebRTC] Unreviewed build fix after 265790@main
  Source/ThirdParty/libwebrtc/CMakeLists.txt
Labels: unsafe-merge-queue

#15311 DFG should update backwards propogation after fixup.
  JSTests/stress/propogate-PureInt-double-use.js
  Source/JavaScriptCore/dfg/DFGBackwardsPropagationPhase.cpp
  Source/JavaScriptCore/dfg/DFGBackwardsPropagationPhase.h
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGPlan.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/dfg/DFGStrengthReductionPhase.cpp
Labels: JavaScriptCore

#15605 [WPE] The bots WPE-Linux-RPi4-32bits-Mesa-Release-Perf-Tests are failing to autoinstall the python dependency bcrypt
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/__init__.py
  Tools/Scripts/webkitpy/autoinstalled/twisted.py
Labels: unsafe-merge-queue, Tools / Tests

#15603 [GStreamer] No decoder found for qtrle codec
  Tools/buildstream/patches/fdo-0002-ffmpeg-Support-more-codecs.patch
Labels: Media

#15599 Transparent, composited canvas is rendered black when layer is changed to render layer backing sharing
  Source/WebCore/html/HTMLCanvasElement.cpp
  Source/WebCore/html/HTMLCanvasElement.h
  Source/WebCore/rendering/RenderHTMLCanvas.cpp
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/RenderLayer.h
  Source/WebCore/rendering/RenderLayerBacking.cpp
  Source/WebCore/rendering/RenderLayerBacking.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.h
Labels: Canvas

#15614 Replace log object prewarming with call to topPrivatelyControlledDomain
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Labels: WebKit Misc.

#15628 [run-benchmark] Linux driver executes the browser capturing stdout/stderr but never checks it
  Tools/Scripts/webkitpy/benchmark_runner/browser_driver/linux_browser_driver.py
Labels: Tools / Tests

#15547 Do not convert testharness paths in import-w3c-tests
  Tools/Scripts/webkitpy/w3c/test_converter.py
  Tools/Scripts/webkitpy/w3c/test_converter_unittest.py
  Tools/Scripts/webkitpy/w3c/test_importer.py
Labels: Tools / Tests

#15504 WPT webcodecs videoDecoder-codec-specific.https.any.html test is failing due to resolve promises out of an event queue task
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoDecoder-codec-specific.https.any.js
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoder.cpp
Labels: Media

#15626 VideoFrame buffer constructor doesn't respect codedWidth if visibleRect is present
  LayoutTests/http/wpt/webcodecs/videoFrame-with-stride-expected.txt
  LayoutTests/http/wpt/webcodecs/videoFrame-with-stride.html
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.cpp
Labels: Media

#15565 Service Worker: Redirect loses hash fragment
  LayoutTests/http/wpt/service-workers/navigation-redirect-with-hash-worker.js
  LayoutTests/http/wpt/service-workers/navigation-redirect-with-hash.https-expected.txt
  LayoutTests/http/wpt/service-workers/navigation-redirect-with-hash.https.html
  LayoutTests/http/wpt/service-workers/resources/redirect-with-hash.py
  Source/WebCore/platform/network/ResourceRequestBase.cpp
  Source/WebCore/platform/network/ResourceRequestBase.h
  Source/WebKit/NetworkProcess/ServiceWorker/ServiceWorkerFetchTask.cpp
Labels: merge-queue, Service Workers

#15631 [content-visibility] Rename shouldSkipContent to isSkippedContentRoot
  Source/WebCore/dom/Document.cpp
  Source/WebCore/editing/TextIterator.cpp
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/RenderObject.cpp
  Source/WebCore/rendering/RenderObject.h
  Source/WebCore/rendering/RenderReplaced.cpp
  Source/WebCore/rendering/RenderWidget.cpp
  Source/WebCore/rendering/updating/RenderTreeUpdater.cpp
Labels: CSS

#15627 Use invalidateStyleInternal() for inline style invalidation
  Source/WebCore/dom/StyledElement.cpp
Labels: CSS

#15616 Potential crash under NetworkDataTaskBlob::dispatchDidReceiveResponse()
  Source/WebCore/platform/network/BlobResourceHandle.cpp
  Source/WebCore/platform/network/BlobResourceHandle.h
  Source/WebKit/NetworkProcess/NetworkDataTaskBlob.cpp
  Source/WebKit/NetworkProcess/NetworkDataTaskBlob.h
Labels: WebKit2

#15623 Dictation glow can be rendered exceeding graphics context bounds
  Source/WebCore/platform/graphics/displaylists/DisplayListRecorder.cpp
  Tools/TestWebKitAPI/Tests/WebCore/DisplayListRecorderTests.cpp
Labels: merge-queue, Layout and Rendering

#15514 [webkitscmpy] Add run-tests script
  Tools/Scripts/libraries/webkitscmpy/run-tests
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
Labels: Tools / Tests

#15619 [iOS 17] Correction indicators persist after typing
  Source/WebCore/editing/AlternativeTextController.cpp
  Source/WebCore/editing/AlternativeTextController.h
  Source/WebCore/editing/Editor.cpp
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
  Source/WebKit/UIProcess/API/ios/WKWebViewPrivateForTestingIOS.h
  Source/WebKit/UIProcess/API/ios/WKWebViewTestingIOS.mm
  Tools/TestWebKitAPI/Tests/ios/AutocorrectionTestsIOS.mm
Labels: HTML Editing

#15563 InteractionRegion groupNames should be scoped per layer
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreePropertyApplier.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeInteractionRegionLayers.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeInteractionRegionLayers.mm
Labels: Layout and Rendering

#15610 Protect image inside MemoryCache::destroyDecodedDataForAllImages()
  Source/WebCore/loader/cache/MemoryCache.cpp
Labels: merge-queue, WebCore Misc.

#15640 [content-visibility] Rename effectiveSkipsContent to effectiveSkippedContent
  Source/WebCore/rendering/RenderObject.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/RenderStyleInlines.h
  Source/WebCore/rendering/style/RenderStyleSetters.h
  Source/WebCore/rendering/style/StyleRareInheritedData.cpp
  Source/WebCore/rendering/style/StyleRareInheritedData.h
  Source/WebCore/rendering/updating/RenderTreeUpdater.cpp
  Source/WebCore/style/StyleAdjuster.cpp
Labels: merge-queue, CSS

#15637 REGRESSION(265596@main) Vertical WebVTT cues are laid out horizontally
  LayoutTests/media/track/track-cue-vertical-style-expected.txt
  LayoutTests/media/track/track-cue-vertical-style.html
  Source/WebCore/html/track/VTTCue.cpp
Labels: merge-queue, Media

#15245 Remove Blob's top origin member
  Source/WebCore/fileapi/Blob.cpp
  Source/WebCore/fileapi/Blob.h
Labels: merge-queue, DOM

#15634 CrashTracer: Safari at com.apple.WebKit: WebKit::RemoteLayerTreeDrawingAreaProxyMac::displayLink
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeEventDispatcher.cpp
Labels: Scrolling

#15646 Data Isolation bypass using NetworkSocketChannel to make arbitrary HTTP requests with Secure;HttpOnly; cookies
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
Labels: merge-queue

#15645 Page acts as zoomed even when it is not on visionOS.
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
Labels: merge-queue, WebKit Misc.

#15012 Generate serialization of SharedMemoryHandle
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources-output.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Platform/SharedMemory.cpp
  Source/WebKit/Platform/SharedMemory.h
  Source/WebKit/Platform/SharedMemory.serialization.in
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.cpp
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.h
  Source/WebKit/Scripts/webkit/tests/SerializedTypeInfo.cpp
  Source/WebKit/Scripts/webkit/tests/TestSerializedType.serialization.in
  Source/WebKit/Scripts/webkit/tests/WebKitPlatformGeneratedSerializers.cpp
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: WebKit Misc.

#15613 PutStack sinking phase inserts PutStack with wrong value
  JSTests/stress/PutStack-sinking-through-DeadFlush-unification.js
  Source/JavaScriptCore/dfg/DFGPlan.cpp
  Source/JavaScriptCore/dfg/DFGPutStackSinkingPhase.cpp
  Source/JavaScriptCore/dfg/DFGSSAConversionPhase.cpp
Labels: JavaScriptCore

#15643 3 internal PaymentRequest tests are crashing in debug
  Source/WebCore/Modules/applepay/ApplePaySession.cpp
  Source/WebCore/Modules/applepay/paymentrequest/ApplePayPaymentHandler.cpp
  Source/WebCore/Modules/paymentrequest/PaymentRequest.cpp
  Source/WebCore/testing/MockPaymentCoordinator.cpp
Labels: merge-queue, WebCore Misc.

#15639 [git-webkit] Enable secret scanning on public forks
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/mocks/remote/git_hub.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/setup_unittest.py
  metadata/git_config_extension
Labels: Tools / Tests

#15644 [iOS] Add support for simulating UITextChecker results in WebKitTestRunner
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Tools/DumpRenderTree/ios/UIScriptControllerIOS.h
  Tools/TestRunnerShared/cocoa/LayoutTestSpellChecker.h
  Tools/TestRunnerShared/cocoa/LayoutTestSpellChecker.mm
  Tools/WebKitTestRunner/cocoa/TestControllerCocoa.mm
  Tools/WebKitTestRunner/cocoa/UIScriptControllerCocoa.h
  Tools/WebKitTestRunner/cocoa/UIScriptControllerCocoa.mm
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.h
  Tools/WebKitTestRunner/mac/TestControllerMac.mm
  Tools/WebKitTestRunner/mac/UIScriptControllerMac.h
  Tools/WebKitTestRunner/mac/UIScriptControllerMac.mm
Labels: merge-queue, Tools / Tests

#15570 Avoid initializing ASC softlink when in base system
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/AuthenticationServicesCoreSoftLink.mm
Labels: WebKit Misc.

#15658 REGRESSION(265596@main) VM::performOpportunisticallyScheduledTasks() should hold the JSLock when calling the sweeper.
  Source/JavaScriptCore/runtime/JSLock.cpp
  Source/JavaScriptCore/runtime/VM.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#15381 Use values from UI process to determine if a page has an opener relationship should PSON
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxyInternals.h
  Source/WebKit/UIProcess/WebProcessPool.cpp
Labels: WebKit2

#15650 Fix unused field warning in RunLoopObserver for non-Cocoa platforms
  Source/WebCore/platform/RunLoopObserver.h
Labels: Tools / Tests

#15651 [LibWPE] Fix click count logic
  Source/WebKit/Shared/libwpe/WebEventFactory.cpp
Labels: Platform

#15662 [GARDENING]: [ Debug ] inspector/debugger/async-stack-trace-truncate.html is a constant timeout
  LayoutTests/platform/mac/TestExpectations
Labels: Web Inspector

#15656 CrashTracer: com.apple.WebKit.WebContent at WebCore: WebCore::PrintContext::spoolPage
  Source/WebCore/page/PrintContext.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/ios/WKContentView.mm
  Source/WebKit/UIProcess/ios/WebPageProxyIOS.mm
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
Labels: Printing

#15665 [CSS Math Functions] Correctly serialize abs/sign/exp/log/pow/sqrt root nodes
  LayoutTests/imported/w3c/web-platform-tests/css/css-values/exp-log-serialize-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-values/exp-log-serialize.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-values/hypot-pow-sqrt-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-values/hypot-pow-sqrt-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-values/hypot-pow-sqrt-serialize-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-values/hypot-pow-sqrt-serialize.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-values/signs-abs-serialize-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-values/signs-abs-serialize.html
  Source/WebCore/css/calc/CSSCalcOperationNode.cpp
  Source/WebCore/css/calc/CSSCalcOperationNode.h
Labels: merge-queue, CSS

#15661 Unable to show text alternatives when tapping grammatical error in Mail compose
  LayoutTests/editing/selection/ios/show-grammar-replacements-on-tap-expected.txt
  LayoutTests/editing/selection/ios/show-grammar-replacements-on-tap.html
  LayoutTests/platform/ios-wk2/TestExpectations
  Source/WebCore/dom/DocumentMarkerController.h
  Source/WebKit/Shared/EditorState.h
  Source/WebKit/Shared/EditorState.serialization.in
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
Labels: merge-queue, HTML Editing

#15664 [CSS Math Functions] Correctly serialize sin/cos/tan functions
  LayoutTests/imported/w3c/web-platform-tests/css/css-values/sin-cos-tan-serialize-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-values/sin-cos-tan-serialize.html
  Source/WebCore/css/calc/CSSCalcOperationNode.cpp
  Source/WebCore/css/calc/CSSCalcOperationNode.h
  Source/WebCore/platform/calc/CalcExpressionOperation.cpp
Labels: CSS

#15666 Improve resolving of scrollbar-gutter style
  Source/WebCore/page/LocalFrameView.cpp
  Source/WebCore/page/LocalFrameView.h
  Source/WebCore/platform/ScrollableArea.cpp
  Source/WebCore/platform/ScrollableArea.h
  Source/WebCore/rendering/RenderLayerScrollableArea.cpp
  Source/WebCore/rendering/RenderLayerScrollableArea.h
Labels: CSS
