Repository WebKit/WebKit, pull requests merged in 2023-03, with the labels that each got.

#10824 [UI-side compositing] Assertion under RemoteLayerTreeEventDispatcher::displayLink() running tests
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: merge-queue, Scrolling

#10778 [UI-side compositing] Hook up the MomentumEventGenerator for UI-side scrolling
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeEventDispatcher.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeEventDispatcher.h
  Source/WebKit/WebProcess/WebPage/MomentumEventDispatcher.cpp
Labels: Scrolling

#10840 [JSC] Consume unused Values
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#10218 PGM Enumeration
  Source/bmalloc/libpas/libpas.xcodeproj/project.pbxproj
  Source/bmalloc/libpas/src/libpas/pas_enumerate_large_heaps.c
  Source/bmalloc/libpas/src/libpas/pas_probabilistic_guard_malloc_allocator.c
  Source/bmalloc/libpas/src/libpas/pas_probabilistic_guard_malloc_allocator.h
  Source/bmalloc/libpas/src/libpas/pas_root.c
  Source/bmalloc/libpas/src/libpas/pas_root.h
  Source/bmalloc/libpas/src/test/EnumerationTests.cpp
  Source/bmalloc/libpas/src/test/TestHarness.cpp
Labels: bmalloc

#10842 [Gardening]: [ iOS , macOS ] imported/w3c/web-platform-tests/content-security-policy/reporting-api/reporting-api-works-on-frame-ancestors.https.sub.html is a constant failure.
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#10819 [GPU Process] Update pixel tolerance for fast/
  LayoutTests/fast/gradients/conic-from-angle.html
  LayoutTests/fast/gradients/conic-gradient-alpha-unpremultiplied.html
  LayoutTests/fast/gradients/conic-gradient-alpha.html
  LayoutTests/fast/gradients/conic-gradient-extended-stops.html
  LayoutTests/fast/gradients/conic-gradient.html
  LayoutTests/fast/gradients/linear-two-hints-angle.html
  LayoutTests/fast/layers/overflow-scroll-transform-border-radius.html
  LayoutTests/fast/masking/clip-path-inset-large-radii.html
Labels: unsafe-merge-queue, New Bugs

#10820 [GPU Process] Update pixel tolerance for css3/masking
  LayoutTests/css3/masking/clip-path-inset-corners.html
  LayoutTests/css3/masking/clip-path-restore.html
Labels: unsafe-merge-queue, New Bugs

#10803 [Screen Orientation API] Change natural orientation on iPad and TV to be landscape-primary
  Source/WebCore/page/ScreenOrientation.cpp
  Source/WebCore/page/ScreenOrientationType.h
  Source/WebCore/platform/ios/Device.h
  Source/WebKit/UIProcess/WebScreenOrientationManagerProxy.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#10834 REGRESSION(257542@main): Video is misaligned on YouTube site's PiP player after transitioning from full screen
  LayoutTests/imported/w3c/web-platform-tests/fullscreen/model/move-fullscreen-element-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fullscreen/model/move-fullscreen-element.html
  Source/WebCore/dom/FullscreenManager.cpp
Labels: merge-queue, DOM

#10841 Lookalike characters should be removed from the request URL when deciding navigation policy
  Source/WebCore/loader/FrameLoader.cpp
Labels: merge-queue, Platform

#10848 [JSC] i64.eqz's result is i32
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#10786 ImageBufferBackend has functions marked as const when they are not that in practice
  Source/WebCore/platform/graphics/ImageBuffer.cpp
  Source/WebCore/platform/graphics/ImageBufferBackend.cpp
  Source/WebCore/platform/graphics/ImageBufferBackend.h
  Source/WebCore/platform/graphics/cairo/ImageBufferCairoSurfaceBackend.cpp
  Source/WebCore/platform/graphics/cairo/ImageBufferCairoSurfaceBackend.h
  Source/WebCore/platform/graphics/cg/ImageBufferCGBitmapBackend.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferCGBitmapBackend.h
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.h
  Source/WebKit/WebProcess/GPU/graphics/ImageBufferShareableBitmapBackend.cpp
  Source/WebKit/WebProcess/GPU/graphics/ImageBufferShareableBitmapBackend.h
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferRemoteIOSurfaceBackend.cpp
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferRemoteIOSurfaceBackend.h
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferShareableMappedIOSurfaceBackend.cpp
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferShareableMappedIOSurfaceBackend.h
Labels: Canvas

#10832 [GLib] Bump Safari version in user agent header
  Source/WebCore/platform/glib/UserAgentGLib.cpp
Labels: unsafe-merge-queue, WebKitGTK

#10591 Add support for Background Fetch persistent storage
  LayoutTests/http/wpt/background-fetch/background-fetch-persistency.window-expected.txt
  LayoutTests/http/wpt/background-fetch/background-fetch-persistency.window.html
  LayoutTests/http/wpt/background-fetch/background-fetch-persistency.window.js
  LayoutTests/http/wpt/background-fetch/resources/trickle.py
  LayoutTests/http/wpt/background-fetch/sw.js
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/Headers.cmake
  Source/WebCore/platform/WebCorePersistentCoders.cpp
  Source/WebCore/platform/WebCorePersistentCoders.h
  Source/WebCore/workers/service/ServiceWorkerRegistrationKey.cpp
  Source/WebCore/workers/service/ServiceWorkerRegistrationKey.h
  Source/WebCore/workers/service/background-fetch/BackgroundFetch.cpp
  Source/WebCore/workers/service/background-fetch/BackgroundFetch.h
  Source/WebCore/workers/service/background-fetch/BackgroundFetchEngine.cpp
  Source/WebCore/workers/service/background-fetch/BackgroundFetchEngine.h
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/storage/BackgroundFetchStoreImpl.cpp
  Source/WebKit/NetworkProcess/storage/BackgroundFetchStoreImpl.h
  Source/WebKit/NetworkProcess/storage/BackgroundFetchStoreManager.cpp
  Source/WebKit/NetworkProcess/storage/BackgroundFetchStoreManager.h
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.h
  Source/WebKit/NetworkProcess/storage/OriginStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/OriginStorageManager.h
  Source/WebKit/Shared/WebsiteData/WebsiteData.cpp
  Source/WebKit/Shared/WebsiteData/WebsiteDataType.h
  Source/WebKit/Shared/WebsiteData/WebsiteDataType.serialization.in
  Source/WebKit/Sources.txt
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: Service Workers

#10804 [WGSL] Add a tiny DSL for declaring built-in types
  Source/WebGPU/WGSL/Overload.h
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/TypeDeclarations.rb
  Source/WebGPU/WGSL/generator/main.rb
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
Labels: merge-queue, WebGPU

#10791 Reject background fetch promise if its registration active worker is null
  LayoutTests/imported/w3c/web-platform-tests/background-fetch/fetch.https.window-expected.txt
  Source/WebCore/workers/service/server/SWServer.cpp
Labels: Service Workers

#10792 Restrict background fetch loads to HTTP family
  LayoutTests/imported/w3c/web-platform-tests/background-fetch/mixed-content-and-allowed-schemes.https.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/background-fetch/mixed-content-and-allowed-schemes.https.window.js
  LayoutTests/imported/w3c/web-platform-tests/background-fetch/port-blocking.https.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/background-fetch/port-blocking.https.window.js
  Source/WebCore/workers/service/background-fetch/BackgroundFetch.cpp
  Source/WebKit/NetworkProcess/BackgroundFetchLoad.cpp
Labels: Service Workers

#10849 [GStreamer][GL] Fix includes with USE_WPE_VIDEO_PLANE_DISPLAY_DMABUF
  Source/WebCore/platform/graphics/gstreamer/GStreamerVideoFrameHolder.cpp
  Source/WebCore/platform/graphics/gstreamer/GUniquePtrGStreamer.h
Labels: merge-queue, WPE WebKit

#10800 [GStreamer][1.22] webrtc/receiver-track-should-stay-live-even-if-receiver-is-inactive.html crashing
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerRtpTransceiverBackend.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerWebRTCUtils.cpp
Labels: merge-queue, Platform

#10003 [browserperfdash-benchmark] Support configuring a specific set of plans and default config values on the config file
  Tools/CISupport/build-webkit-org/steps.py
  Tools/Scripts/webkitpy/browserperfdash/browserperfdash_runner.py
  Tools/Scripts/webkitpy/browserperfdash/config-file-example.txt
Labels: Tools / Tests, WebKitGTK, WPE WebKit

#10835 Update to PDF.js v3.4.120
  Source/ThirdParty/pdfjs/PdfJSFiles.cmake
  Source/ThirdParty/pdfjs/build/pdf.js
  Source/ThirdParty/pdfjs/build/pdf.sandbox.js
  Source/ThirdParty/pdfjs/build/pdf.worker.js
  Source/ThirdParty/pdfjs/web/locale/cs/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/da/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/de/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/el/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/en-US/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/es-CL/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/es-ES/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/eu/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/fr/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/fur/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/gn/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/hsb/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/id/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/is/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/ja/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/ka/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/nb-NO/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/nn-NO/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/oc/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/pl/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/pt-PT/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/rm/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/ru/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/sk/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/sl/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/th/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/tr/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/zh-CN/viewer.properties
  Source/ThirdParty/pdfjs/web/locale/zh-TW/viewer.properties
  Source/ThirdParty/pdfjs/web/viewer.css
  Source/ThirdParty/pdfjs/web/viewer.js
Labels: merge-queue, PDF

#10817 Block access to updateQuotaBasedOnSpaceUsageForTesting when not testing
  LayoutTests/TestExpectations
  LayoutTests/http/wpt/cache-storage/cache-quota-after-restart.any.html
  LayoutTests/ipc/restrictedendpoints/deny-access-updateQuotaBasedOnSpaceUsageForTesting.html
  LayoutTests/ipc/restrictedendpoints/no-test-only-ipc-expected-crash.html
  LayoutTests/ipc/restrictedendpoints/test-only-ipc-allowed-expected.txt
  LayoutTests/ipc/restrictedendpoints/test-only-ipc-allowed.html
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.h
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkProcess.messages.in
  Source/WebKit/Shared/NetworkProcessConnectionParameters.h
  Source/WebKit/Shared/NetworkProcessConnectionParameters.serialization.in
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: WebKit Process Model

#10852 [CMake] Wayland scanner uses deprecated "code" parameter
  Source/cmake/OptionsGTK.cmake
  Tools/wpe/backends/PlatformWPE.cmake
Labels: Tools / Tests

#10855 [GTK][WPE] WebKitDownload destination should be a path instead of a URI
  Source/WebKit/UIProcess/API/glib/WebKitDownload.cpp
  Source/WebKit/UIProcess/API/glib/WebKitDownload.h.in
  Source/WebKit/gtk/migrating-to-webkitgtk-6.0.md
  Tools/TestWebKitAPI/Tests/WebKitGLib/TestDownloads.cpp
Labels: unsafe-merge-queue, WebKitGTK

#10797 [css-contain-intrinsic-size] auto-011.html is failing
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/auto-011-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/contain-intrinsic-size-028-expected.txt
  Source/WebCore/rendering/GridTrackSizingAlgorithm.cpp
  Source/WebCore/rendering/GridTrackSizingAlgorithm.h
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderBlockFlow.cpp
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderDeprecatedFlexibleBox.cpp
  Source/WebCore/rendering/RenderFileUploadControl.cpp
  Source/WebCore/rendering/RenderFlexibleBox.cpp
  Source/WebCore/rendering/RenderGrid.cpp
  Source/WebCore/rendering/RenderGrid.h
  Source/WebCore/rendering/RenderListBox.cpp
  Source/WebCore/rendering/RenderMenuList.cpp
  Source/WebCore/rendering/RenderSlider.cpp
  Source/WebCore/rendering/RenderTextControl.cpp
Labels: CSS

#10802 [Lockdown Mode] Conditionalize sandbox access
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Labels: WebKit Misc.

#10866 [Gardening]: REGRESSION (260935@main): [ macOS wk2 ] Caught exception: undefined is not an object (evaluating 'element.addEventListener')
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#4283 [Cocoa] Static images should show the frame whose index is primary image index
  LayoutTests/TestExpectations
  LayoutTests/fast/images/image-overlay-mutiple-frames-expected.html
  LayoutTests/fast/images/image-overlay-mutiple-frames.html
  LayoutTests/fast/images/resources/avif_overlay-exact-bounds-last-frame.avif
  LayoutTests/fast/images/resources/avif_overlay-exact-bounds.avif
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/platform/graphics/BitmapImage.cpp
  Source/WebCore/platform/graphics/BitmapImage.h
  Source/WebCore/platform/graphics/ImageDecoder.h
  Source/WebCore/platform/graphics/ImageSource.cpp
  Source/WebCore/platform/graphics/ImageSource.h
  Source/WebCore/platform/graphics/cg/ImageDecoderCG.cpp
  Source/WebCore/platform/graphics/cg/ImageDecoderCG.h
Labels: Images

#10865 [GLib] Ensure no final classes have public class structs
  Source/WebKit/UIProcess/API/glib/WebKitDownload.cpp
  Source/WebKit/UIProcess/API/glib/WebKitDownload.h.in
  Source/WebKit/UIProcess/API/glib/WebKitWebContext.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebContext.h.in
Labels: merge-queue, WebKitGTK

#10825 Apply opacity to the Interaction Regions layer tree
  LayoutTests/interaction-region/layer-tree-expected.txt
  LayoutTests/interaction-region/layer-tree.html
  Source/WebCore/rendering/EventRegion.cpp
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreePropertyApplier.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewTesting.mm
Labels: merge-queue, Layout and Rendering

#10799 [contain-intrinsic-size] wpt failures related to multi-columns
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/auto-007-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/contain-intrinsic-size-031-expected.txt
  Source/WebCore/rendering/RenderBlockFlow.cpp
Labels: merge-queue, CSS

#10828 Strip tab and newline from Location/URL/<a>/<area>'s protocol setter
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/history/the-location-interface/location-protocol-setter-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/history/the-location-interface/location-protocol-setter-non-broken.html
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/history/the-location-interface/location-protocol-setter-sameish-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/history/the-location-interface/location-protocol-setter-sameish.html
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/history/the-location-interface/location-protocol-setter.html
  LayoutTests/imported/w3c/web-platform-tests/url/url-setters-stripping.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/url/url-setters-stripping.any.worker-expected.txt
  Source/WTF/wtf/URLParser.cpp
Labels: merge-queue, DOM

#10873 REGRESSION(260511@main): [GLib] Fix HSTS storage directory
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
Labels: unsafe-merge-queue, WebKitGTK

#10806 [macOS] Add additional heuristics for context menu QR code detection
  Source/WebCore/page/ContextMenuContext.cpp
  Source/WebCore/page/ContextMenuContext.h
  Source/WebCore/page/ContextMenuController.cpp
  Source/WebKit/Shared/ContextMenuContextData.cpp
  Source/WebKit/Shared/ContextMenuContextData.h
  Source/WebKit/UIProcess/mac/WebContextMenuProxyMac.mm
  Tools/TestWebKitAPI/Tests/mac/ContextMenuTests.mm
  Tools/TestWebKitAPI/cocoa/TestUIDelegate.h
  Tools/TestWebKitAPI/cocoa/TestUIDelegate.mm
  Tools/TestWebKitAPI/cocoa/TestWKWebView.h
  Tools/TestWebKitAPI/cocoa/TestWKWebView.mm
Labels: merge-queue, Platform

#10843 Add selection API that works across shadow boundaries
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: unsafe-merge-queue, DOM

#10773 Improve support for prioritized HTTPS navigations
  Source/WebCore/en.lproj/Localizable.strings
  Source/WebCore/loader/EmptyClients.cpp
  Source/WebCore/loader/EmptyFrameLoaderClient.h
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/loader/FrameLoader.h
  Source/WebCore/loader/FrameLoaderClient.h
  Source/WebCore/loader/ResourceLoader.cpp
  Source/WebCore/loader/ResourceLoader.h
  Source/WebCore/page/csp/ContentSecurityPolicy.cpp
  Source/WebCore/platform/network/mac/ResourceErrorMac.mm
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
  Source/WebKit/Shared/API/APIError.h
  Source/WebKit/Shared/WebErrors.cpp
  Source/WebKit/Shared/WebErrors.h
  Source/WebKit/UIProcess/API/Cocoa/WKErrorPrivate.h
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/Navigation.mm
Labels: merge-queue

#10889 Allow access to setMediaOverridesForTesting to resolve test breakage.
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.cpp
Labels: unsafe-merge-queue, WebKit Process Model

#10895 Build failures in CGDisplayListImageBufferBackend after rdar://106020570
  Source/WebKit/Shared/RemoteLayerTree/CGDisplayListImageBufferBackend.h
  Source/WebKit/Shared/RemoteLayerTree/CGDisplayListImageBufferBackend.mm
Labels: unsafe-merge-queue, Canvas

#10527 Complement Enable HTMLCanvasElement::toVideoFrame with Web Codecs
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
  Source/WebCore/platform/graphics/GraphicsContextGL.h
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.h
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.mm
  Source/WebCore/platform/graphics/gbm/GraphicsContextGLFallback.cpp
  Source/WebCore/platform/graphics/gbm/GraphicsContextGLFallback.h
  Source/WebCore/platform/graphics/gbm/GraphicsContextGLGBM.cpp
  Source/WebCore/platform/graphics/gbm/GraphicsContextGLGBM.h
  Source/WebCore/platform/graphics/texmap/GraphicsContextGLTextureMapperANGLE.cpp
  Source/WebCore/platform/graphics/texmap/GraphicsContextGLTextureMapperANGLE.h
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGL.cpp
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGL.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxy.h
  Source/WebKit/WebProcess/GPU/graphics/wc/RemoteGraphicsContextGLProxyWC.cpp
Labels: merge-queue, Platform, request-merge-queue

#10886 Refactor text input traits updating logic
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Labels: merge-queue, Platform

#10838 Refactor correction indicator removal logic
  Source/WebCore/editing/AlternativeTextController.cpp
  Source/WebCore/editing/Editor.cpp
Labels: unsafe-merge-queue, New Bugs

#10777 [MSE] Only fire durationchange after parsing media buffer.
  LayoutTests/media/media-source/media-source-appendbuffer-durationchange-expected.txt
  LayoutTests/media/media-source/media-source-appendbuffer-durationchange.html
  Source/WebCore/Modules/mediasource/SourceBuffer.cpp
  Source/WebCore/Modules/mediasource/SourceBuffer.h
  Source/WebCore/platform/graphics/SourceBufferPrivate.cpp
  Source/WebCore/platform/graphics/SourceBufferPrivate.h
  Source/WebCore/platform/graphics/SourceBufferPrivateClient.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebCore/platform/graphics/gstreamer/mse/AppendPipeline.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.h
  Source/WebCore/platform/mock/mediasource/MockSourceBufferPrivate.cpp
  Source/WebKit/GPUProcess/media/RemoteSourceBufferProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteSourceBufferProxy.h
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.h
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.messages.in
Labels: merge-queue, Media

#10905 REBASELINE REGRESSION(iPad 9th gen): [ iPad Simulator ] 11x fast/viewport tests are constant text failures.
  LayoutTests/platform/ipad/fast/viewport/ios/device-width-viewport-after-changing-view-scale-expected.txt
  LayoutTests/platform/ipad/fast/viewport/ios/non-responsive-viewport-after-changing-view-scale-expected.txt
  LayoutTests/platform/ipad/fast/viewport/ios/responsive-viewport-with-minimum-width-after-changing-view-scale-expected.txt
  LayoutTests/platform/ipad/fast/viewport/ios/shrink-to-fit-content-large-width-breakpoint-expected.txt
  LayoutTests/platform/ipad/fast/viewport/ios/shrink-to-fit-for-page-without-viewport-meta-expected.txt
  LayoutTests/platform/ipad/fast/viewport/ios/use-minimum-device-width-for-page-without-viewport-meta-expected.txt
  LayoutTests/platform/ipad/fast/viewport/ios/width-is-device-width-expected.txt
  LayoutTests/platform/ipad/fast/viewport/ios/width-is-device-width-overflowing-body-overflow-hidden-expected.txt
  LayoutTests/platform/ipad/fast/viewport/ios/width-is-device-width-overflowing-body-overflow-hidden-tall-expected.txt
  LayoutTests/platform/ipad/fast/viewport/ios/width-is-device-width-overflowing-expected.txt
  LayoutTests/platform/ipad/fast/viewport/ios/width-is-device-width-overflowing-no-shrink-to-fit-expected.txt
Labels: unsafe-merge-queue

#10906 [ iPad OS ] 2 x platform/ipad/fast/viewport are constant failures on iPad.
  LayoutTests/platform/ipad/fast/viewport/viewport-overriden-by-minimum-effective-width-if-ignore-meta-viewport-expected.txt
  LayoutTests/platform/ipad/fast/viewport/viewport-unchanged-by-minimum-effective-width-if-not-ignore-meta-viewport-expected.txt
Labels: unsafe-merge-queue

#10898 [WebGPU] Several command_buffer CTS tests are failing
  LayoutTests/http/tests/webgpu/webgpu/api/operation/command_buffer/basic-expected.txt
  LayoutTests/http/tests/webgpu/webgpu/api/operation/command_buffer/clearBuffer-expected.txt
  LayoutTests/http/tests/webgpu/webgpu/api/operation/command_buffer/copyBufferToBuffer-expected.txt
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUCommandEncoderImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUQueueImpl.cpp
  Source/WebGPU/WebGPU/CommandEncoder.mm
  Source/WebGPU/WebGPU/Texture.mm
Labels: merge-queue, WebGPU

#10911 REBASELINE REGRESSION(iPad 9th gen): [ iPad Simulator ] 15X scrolling layout-tests are constant text failures (253200)
  LayoutTests/platform/ipad/fast/scrolling/ios/change-scrollability-on-content-resize-nested-expected.txt
  LayoutTests/platform/ipad/fast/scrolling/ios/clipping-ancestor-with-accelerated-scrolling-ancestor-expected.txt
  LayoutTests/platform/ipad/fast/scrolling/ios/overflow-scrolling-ancestor-clip-expected.txt
  LayoutTests/platform/ipad/fast/scrolling/ios/overflow-scrolling-ancestor-clip-size-expected.txt
  LayoutTests/platform/ipad/fast/scrolling/ios/scrolling-content-clip-to-viewport-expected.txt
  LayoutTests/platform/ipad/fast/scrolling/ios/subpixel-overflow-scrolling-with-ancestor-expected.txt
  LayoutTests/platform/ipad/fast/scrolling/ios/touch-stacking-expected.txt
  LayoutTests/platform/ipad/scrollingcoordinator/ios/fixed-in-overflow-scroll-scrolling-tree-expected.txt
  LayoutTests/platform/ipad/scrollingcoordinator/ios/fixed-scrolling-with-keyboard-expected.txt
  LayoutTests/platform/ipad/scrollingcoordinator/ios/ui-scrolling-tree-expected.txt
Labels: unsafe-merge-queue, New Bugs

#10904 [JSC] Collect per wasm function feature more
  Source/JavaScriptCore/b3/B3Procedure.h
  Source/JavaScriptCore/wasm/WasmAirIRGenerator64.cpp
  Source/JavaScriptCore/wasm/WasmAirIRGeneratorBase.h
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmBBQPlan.cpp
  Source/JavaScriptCore/wasm/WasmFormat.h
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmLLIntPlan.cpp
  Source/JavaScriptCore/wasm/WasmModuleInformation.h
  Source/JavaScriptCore/wasm/WasmSectionParser.cpp
  Source/JavaScriptCore/wasm/WasmSlowPaths.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#10913 [JSC] Fix wasm SIMD load lane in new BBQ
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#10918 [JSC] Fix X64 WasmBBQJIT stackoverflow check
  Source/JavaScriptCore/assembler/MacroAssemblerX86_64.h
Labels: unsafe-merge-queue, JavaScriptCore

#10916 [JSC] Remove `move(FPRReg, FPRReg)`
  Source/JavaScriptCore/assembler/MacroAssembler.h
  Source/JavaScriptCore/b3/testb3_7.cpp
  Source/JavaScriptCore/jit/CCallHelpers.h
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
  Source/JavaScriptCore/wasm/js/WasmToJS.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#10057 Block logging service in sandbox
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WTF/wtf/spi/cocoa/OSLogSPI.h
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.h
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.messages.in
  Source/WebKit/Platform/Logging.h
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/Scripts/process-entitlements.sh
  Source/WebKit/Shared/EntryPointUtilities/Cocoa/XPCService/XPCServiceMain.mm
  Source/WebKit/UIProcess/Launcher/cocoa/ProcessLauncherCocoa.mm
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Labels: WebKit Misc.

#10925 [WebGPU] Several command_buffer CTS tests are failing
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, WebGPU

#10924 [JSC] x64 CCall returnValueGPR is not in m_validGPRs
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#10782 [web-animations] add encoding and decoding support for various types needed for threaded animation resolution
  Source/WebCore/platform/animation/AcceleratedEffect.cpp
  Source/WebCore/platform/animation/AcceleratedEffect.h
  Source/WebCore/platform/animation/AcceleratedEffectValues.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Labels: Animations

#10897 Send policy decision responses to correct process when navigating site isolated iframes
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/loader/FrameLoader.h
  Source/WebCore/page/AbstractFrame.h
  Source/WebCore/page/Frame.cpp
  Source/WebCore/page/Frame.h
  Source/WebCore/page/RemoteFrame.cpp
  Source/WebCore/page/RemoteFrame.h
  Source/WebKit/UIProcess/ProvisionalFrameProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
  Tools/WebKitTestRunner/cocoa/CrashReporterInfo.mm
Labels: merge-queue, WebKit Process Model

#10914 Fullscreen UIScene adjustments are not reverted if the Web Content process crashes while in fullscreen
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
Labels: merge-queue, Media

#10538 CSS Text Underline Position Left and Right Parsing
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/css/CSSPrimitiveValueMappings.h
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/parser/CSSParserContext.h
  Source/WebCore/rendering/TextDecorationPainter.cpp
  Source/WebCore/rendering/style/RenderStyleConstants.cpp
  Source/WebCore/rendering/style/RenderStyleConstants.h
  Source/WebCore/rendering/style/StyleRareInheritedData.h
Labels: CSS

#10790 Check CSP for background fetches
  LayoutTests/imported/w3c/web-platform-tests/background-fetch/content-security-policy.https.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/background-fetch/content-security-policy.https.window.js
  Source/WebCore/workers/service/background-fetch/BackgroundFetch.cpp
  Source/WebCore/workers/service/background-fetch/BackgroundFetch.h
  Source/WebCore/workers/service/background-fetch/BackgroundFetchEngine.cpp
  Source/WebCore/workers/service/background-fetch/BackgroundFetchManager.cpp
  Source/WebCore/workers/service/background-fetch/BackgroundFetchRequest.h
  Source/WebCore/workers/service/server/SWServer.h
  Source/WebCore/workers/service/server/SWServerDelegate.h
  Source/WebKit/NetworkProcess/BackgroundFetchLoad.cpp
  Source/WebKit/NetworkProcess/BackgroundFetchLoad.h
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/NetworkSession.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Labels: Service Workers

#10919 REGRESSION (260822@main): [macOS] media/media-source/media-webm-opus-partial-abort.html is a flaky failure
  LayoutTests/media/media-source/content/test-opus-manifest.json
Labels: merge-queue, Media

#10863 ImageBufferIOSurfaceBackend loses the display id when recreating the drawing context
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.h
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferShareableMappedIOSurfaceBackend.cpp
Labels: Canvas

#10857 [GTK][WPE] Remote Web Inspector: the remote inspector(HTTP) does not work from any browsers
  Source/WebInspectorUI/UserInterface/Base/BrowserInspectorFrontendHost.js
Labels: Web Inspector

#10787 ImageBufferBackend::clearContents() is redundant function
  Source/WebCore/platform/graphics/ImageBuffer.cpp
  Source/WebCore/platform/graphics/ImageBuffer.h
  Source/WebCore/platform/graphics/ImageBufferBackend.h
  Source/WebKit/Shared/RemoteLayerTree/CGDisplayListImageBufferBackend.h
  Source/WebKit/Shared/RemoteLayerTree/CGDisplayListImageBufferBackend.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
Labels: Canvas

#10893 Add Interaction Regions for aria roles button & menuitem
  LayoutTests/interaction-region/aria-roles-expected.txt
  LayoutTests/interaction-region/aria-roles.html
  Source/WebCore/page/InteractionRegion.cpp
Labels: unsafe-merge-queue, Layout and Rendering

#10926 [JSC] Remove m_dataScratch register in WasmBBQJIT
  Source/JavaScriptCore/assembler/MacroAssembler.h
  Source/JavaScriptCore/assembler/MacroAssemblerARM64.h
  Source/JavaScriptCore/assembler/MacroAssemblerX86_64.h
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
Labels: merge-queue, JavaScriptCore

#10847 Make memory pressure handler call deleteAllCode with PreventCollectionAndDeleteAllCode
  Source/WebCore/page/MemoryRelease.cpp
Labels: WebKit Misc.

#10932 Rebaseline all-prop-initial-xml-expected.txt (iPad)
  LayoutTests/platform/ipad/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
Labels: merge-queue, CSS

#10468 Block level boxes with block-step-size other than none should establish an independent formatting context.
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/block-step-size-establishes-block-formatting-context-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/block-step-size-establishes-block-formatting-context-list-item-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/block-step-size-establishes-block-formatting-context-list-item.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/block-step-size-establishes-block-formatting-context.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/block-step-size-none-does-not-establish-block-formatting-context-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/block-step-size-none-does-not-establish-block-formatting-context.html
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderElement.cpp
Labels: merge-queue, Layout and Rendering

#10861 [GStreamer][Webaudio] Exclude Broadcom native audio decoding path from webaudio decoder
  Source/WebCore/platform/audio/gstreamer/AudioFileReaderGStreamer.cpp
Labels: merge-queue, Media

#10872 Remove WebsiteDataStoreUnix.cpp
  Source/WebKit/SourcesGTK.txt
  Source/WebKit/SourcesWPE.txt
  Source/WebKit/UIProcess/WebsiteData/glib/WebsiteDataStoreGLib.cpp
  Source/WebKit/UIProcess/WebsiteData/unix/WebsiteDataStoreUnix.cpp
Labels: merge-queue, WebKitGTK

#10869 [GStreamer][WebRTC] Logging improvements and disable auto-header-extensions on video payloaders
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerPeerConnectionBackend.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeOutgoingVideoSourceGStreamer.cpp
Labels: merge-queue, Platform

#10933 [GStreamer] GRefPtr template specialization for GstDeviceMonitor
  Source/WebCore/platform/audio/gstreamer/AudioDestinationGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/GRefPtrGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/GRefPtrGStreamer.h
Labels: merge-queue, Platform

#10901 REGRESSION (259655@main): [iOS] Crash when opening a PDF after searching for text in a webpage
  Source/WebKit/UIProcess/ios/WKPDFView.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/FindInPage.mm
Labels: unsafe-merge-queue, New Bugs

#10937 [GStreamer] Establish locking when mapping gbm_bo objects for software-decoded data upload
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
Labels: merge-queue, New Bugs

#10812 Styled text and search fields override their backgrounds with alternate form control design enabled
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/ios/fast/css/text-input-with-webkit-border-radius-expected.txt
  Source/WebCore/rendering/RenderThemeIOS.mm
Labels: merge-queue, WebKit Misc.

#9373 [GStreamer][WebRTC] Implement GstMappedRtpBuffer
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerWebRTCUtils.h
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.cpp
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.h
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingVideoSourceGStreamer.cpp
Labels: merge-queue, Platform

#10877 [webkitbugspy] Handle empty issue members for bugzilla
  Tools/Scripts/libraries/webkitbugspy/setup.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/__init__.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/bugzilla.py
Labels: unsafe-merge-queue, Tools / Tests

#10789 nullptr crash in WebCore::SelectorChecker::attributeSelectorMatches
  Source/WebCore/style/AttributeChangeInvalidation.cpp
Labels: merge-queue, CSS

#10939 [GStreamer] Improve GBM swapchain buffer handling
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
Labels: merge-queue, New Bugs

#10902 Inline AbstractFrame::page() & AbstractFrame::ownerElement()
  Source/WebCore/html/HTMLFrameOwnerElement.h
  Source/WebCore/page/AbstractFrame.cpp
  Source/WebCore/page/AbstractFrame.h
  Source/WebCore/page/Page.h
Labels: merge-queue, WebCore Misc.

#10922 [JSC] Make WasmBBQJIT.cpp no-unify
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/Sources.txt
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#10223 [GPU Process][FormControls] Remove the flipping workaround for drawing a viewless NSCell
  Source/WebCore/platform/cocoa/LocalCurrentGraphicsContext.h
  Source/WebCore/platform/graphics/mac/controls/ControlMac.h
  Source/WebCore/platform/graphics/mac/controls/ControlMac.mm
  Source/WebCore/platform/ios/LocalCurrentGraphicsContextIOS.mm
  Source/WebCore/platform/mac/LocalCurrentGraphicsContextMac.mm
Labels: merge-queue, Layout and Rendering

#10952 NEW TEST [ EWS ]: TestWebKitAPI.WKNavigation.HTTPSOnlyWithSameSiteBypass is a constant failure
  Tools/TestWebKitAPI/Tests/WebKitCocoa/Navigation.mm
Labels: New Bugs

#10883 Ask system malloc to free up memory in non-visible Web processes
  Source/WebKit/WebProcess/WebProcess.cpp
  Source/WebKit/WebProcess/WebProcess.h
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Labels: unsafe-merge-queue, WebKit Misc.

#10837 Update some CTAP IDL types
  Source/WebCore/Modules/webauthn/AttestationConveyancePreference.h
  Source/WebCore/Modules/webauthn/AttestationConveyancePreference.idl
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/API/Cocoa/_WKPublicKeyCredentialCreationOptions.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebAuthenticationPanel.mm
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/WebAuthenticatorCoordinatorProxy.mm
Labels: merge-queue

#10672 Caret painting should listen for change notifications
  Source/WebCore/editing/FrameSelection.cpp
  Source/WebCore/editing/FrameSelection.h
  Source/WebCore/platform/CaretAnimator.cpp
  Source/WebCore/platform/CaretAnimator.h
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/mac/WebViewImpl.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
Labels: merge-queue, Layout and Rendering

#10908 Improve JIT comments for WASM OMG
  Source/JavaScriptCore/assembler/AbstractMacroAssembler.h
  Source/JavaScriptCore/b3/B3Generate.cpp
  Source/JavaScriptCore/b3/B3StackmapValue.cpp
  Source/JavaScriptCore/b3/B3Value.cpp
  Source/JavaScriptCore/jit/AssemblyHelpers.cpp
  Source/JavaScriptCore/jit/AssemblyHelpersSpoolers.h
  Source/JavaScriptCore/runtime/VM.cpp
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmIRGeneratorHelpers.h
  Source/JavaScriptCore/wasm/WasmModuleInformation.h
Labels: merge-queue, JavaScriptCore

#10949 [PlayStation] Load additional libraries at runtime
  Source/WebCore/PlatformPlayStation.cmake
  Source/WebKit/NetworkProcess/EntryPoint/playstation/NetworkProcessMain.cpp
  Source/WebKit/WebProcess/EntryPoint/playstation/WebProcessMain.cpp
  Source/cmake/OptionsPlayStation.cmake
  Tools/MiniBrowser/playstation/main.cpp
Labels: merge-queue, Tools / Tests

#10688 WebGPU-Vulkan: Reserve vector space where possible
  Tools/WebGPUAPIStructure/WebGPU-Vulkan/QueueImpl.cpp
Labels: merge-queue

#10890 Build fixes for !ENABLE(SERVICE_WORKER) after 260990@main
  Source/WebKit/NetworkProcess/storage/OriginStorageManager.cpp
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.cpp
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.h
  Source/WebKit/Scripts/webkit/tests/SerializedTypeInfo.cpp
  Source/WebKit/Scripts/webkit/tests/TestSerializedType.serialization.in
Labels: unsafe-merge-queue, WebKit Misc.

#10930 Move background fetch quota check to BackgroundFetchStoreManager
  Source/WebCore/workers/service/background-fetch/BackgroundFetch.cpp
  Source/WebCore/workers/service/background-fetch/BackgroundFetch.h
  Source/WebCore/workers/service/background-fetch/BackgroundFetchEngine.cpp
  Source/WebCore/workers/service/background-fetch/BackgroundFetchStore.h
  Source/WebCore/workers/service/server/SWServer.h
  Source/WebCore/workers/service/server/SWServerDelegate.h
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/NetworkSession.h
  Source/WebKit/NetworkProcess/storage/BackgroundFetchStoreImpl.cpp
  Source/WebKit/NetworkProcess/storage/BackgroundFetchStoreImpl.h
  Source/WebKit/NetworkProcess/storage/BackgroundFetchStoreManager.cpp
  Source/WebKit/NetworkProcess/storage/BackgroundFetchStoreManager.h
  Source/WebKit/NetworkProcess/storage/OriginStorageManager.cpp
Labels: merge-queue, Service Workers

#10845 Safari doesn't translate shadow DOM content
  Source/WebCore/editing/TextManipulationController.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/TextManipulation.mm
Labels: unsafe-merge-queue, HTML Editing

#10880 [webkitcorepy] AutoInstall unable to install pytest-asyncio (or other packages without setup.py)
  Tools/Scripts/libraries/webkitcorepy/setup.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/__init__.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/autoinstall.py
Labels: unsafe-merge-queue, Tools / Tests, skip-ews

#10885 Block CARenderServer with probability
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
Labels: unsafe-merge-queue, WebKit Misc.

#10940 [web-animations] store, encode and decode accelerated effects on GraphicsLayer and PlatformCALayer
  Source/WebCore/platform/graphics/GraphicsLayer.cpp
  Source/WebCore/platform/graphics/GraphicsLayer.h
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.cpp
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.h
  Source/WebCore/platform/graphics/ca/PlatformCALayer.cpp
  Source/WebCore/platform/graphics/ca/PlatformCALayer.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreeTransaction.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreeTransaction.mm
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemote.cpp
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemote.h
Labels: unsafe-merge-queue, Animations

#10957 Fix PlayStation build after 261091@main
  Source/cmake/OptionsPlayStation.cmake
Labels: unsafe-merge-queue, CMake

#10703 Clicking on save button dispatches a MouseEvent, button location in element's saveButtonClientRect
  Source/WebCore/html/HTMLAttachmentElement.cpp
  Source/WebCore/html/HTMLAttachmentElement.h
  Source/WebCore/html/HTMLAttachmentElement.idl
Labels: merge-queue, HTML Editing

#10956 [JSC] Fix floating point negation in WasmBBQJIT
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#10945 Fix unused param warning in rareDataChangeRequiresLayerRepaint
  Source/WebCore/rendering/style/RenderStyle.cpp
Labels: merge-queue, Tools / Tests

#10943 REGRESSION(260575@main): [iPad] Crash when navigating to next YouTube video in fullscreen mode
  Source/WebKit/UIProcess/Cocoa/VideoFullscreenManagerProxy.mm
Labels: merge-queue, Media

#10967 [ iOS arm64 ] Multiple layout-tests need pixel tolerance adjustments for arm64
  LayoutTests/platform/ios-simulator-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#10969 [ iOS arm64 ] Multiple layout-tests need pixel tolerance adjustments for arm64
  LayoutTests/platform/ios-simulator-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#10947 Network process shouldn't load Cairo
  Source/WebCore/platform/graphics/cairo/CairoUtilities.cpp
Labels: merge-queue, Platform

#10936 Regions too big to be interactions should still be checked for occlusions
  LayoutTests/interaction-region/full-page-overlay-expected.txt
  LayoutTests/interaction-region/full-page-overlay.html
  Source/WebCore/page/InteractionRegion.cpp
Labels: merge-queue, Layout and Rendering

#10850 [Win] WebInspector: Support remote connection by hostname
  Source/JavaScriptCore/inspector/remote/socket/win/RemoteInspectorSocketWin.cpp
Labels: Web Inspector

#10959 [Win] Get UnitsPerEm font metrics
  Source/WebCore/platform/graphics/win/SimpleFontDataCairoWin.cpp
Labels: unsafe-merge-queue, Platform

#10552 Remove legacy build system script phases and build settings
  Source/JavaScriptCore/Configurations/Base.xcconfig
  Source/JavaScriptCore/Configurations/JavaScriptCore.xcconfig
  Source/JavaScriptCore/Configurations/ToolExecutable.xcconfig
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/ThirdParty/ANGLE/ANGLE.xcodeproj/project.pbxproj
  Source/ThirdParty/ANGLE/Configurations/ANGLE-dynamic.xcconfig
  Source/ThirdParty/ANGLE/Configurations/Base.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/Base.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/libabsl.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.xcconfig
  Source/ThirdParty/libwebrtc/libwebrtc.xcodeproj/project.pbxproj
  Source/WTF/Configurations/Base.xcconfig
  Source/WTF/Configurations/WTF.xcconfig
  Source/WTF/WTF.xcodeproj/project.pbxproj
  Source/WebCore/PAL/Configurations/Base.xcconfig
  Source/WebCore/PAL/Configurations/PAL.xcconfig
  Source/WebCore/PAL/PAL.xcodeproj/project.pbxproj
  Source/WebGPU/Configurations/Base.xcconfig
  Source/WebGPU/Configurations/WGSL.xcconfig
  Source/WebKit/Configurations/Base.xcconfig
  Source/WebKit/Configurations/WebKit.xcconfig
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKitLegacy/WebKitLegacy.xcodeproj/project.pbxproj
  Source/WebKitLegacy/mac/Configurations/Base.xcconfig
  Source/WebKitLegacy/mac/Configurations/WebKitLegacy.xcconfig
  Tools/DumpRenderTree/mac/Configurations/Base.xcconfig
  Tools/DumpRenderTree/mac/Configurations/DumpRenderTreeLibrary.xcconfig
  Tools/DumpRenderTree/mac/Configurations/LayoutTestHelper.xcconfig
  Tools/TestWebKitAPI/Configurations/Base.xcconfig
  Tools/TestWebKitAPI/Configurations/TestWTFLibrary.xcconfig
Labels: Tools / Tests

#10879 [macOS] Reset process throttler activities on process exit
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
Labels: WebKit Process Model

#10977 [JSC] Fix x64 F32 / F64 trunc
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#10903 Safari translation should treat a floating list item as its own paragraph
  Source/WebCore/editing/TextManipulationController.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/TextManipulation.mm
Labels: unsafe-merge-queue, HTML Editing

#10606 [WPE] Add EWS WPE WK2 layout tests status-bubbles to PRs
  Tools/CISupport/ews-app/ews/common/buildbot.py
  Tools/CISupport/ews-app/ews/common/github.py
  Tools/CISupport/ews-app/ews/views/statusbubble.py
Labels: unsafe-merge-queue, Tools / Tests, skip-ews

#10980 Fix F32/F64Copysign on Intel in single-pass BBQ JIT
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
Labels: unsafe-merge-queue, WebAssembly

#10954 DocumentFragment::parseHTML() should take contextElement by reference
  Source/WebCore/dom/DocumentFragment.cpp
  Source/WebCore/dom/DocumentFragment.h
  Source/WebCore/editing/cocoa/WebContentReaderCocoa.mm
  Source/WebCore/editing/markup.cpp
  Source/WebCore/inspector/DOMPatchSupport.cpp
Labels: merge-queue, DOM

#10823 [GLib] Need API for asynchronously handling WebKitDownload::decide-destination
  Source/WebKit/UIProcess/API/glib/WebKitDownload.cpp
  Source/WebKit/UIProcess/API/glib/WebKitDownloadClient.cpp
  Source/WebKit/UIProcess/API/glib/WebKitDownloadPrivate.h
  Tools/TestWebKitAPI/Tests/WebKitGLib/TestDownloads.cpp
Labels: WebKitGTK

#10960 [web-animations] update accelerated animations for a RenderLayerBacking
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/animation/KeyframeEffect.h
  Source/WebCore/rendering/RenderLayerBacking.cpp
  Source/WebCore/rendering/RenderLayerBacking.h
Labels: Animations

#10875 Adjust text input scrollWidth and scrollHeight to include padding and any whitespace added by decorations
  LayoutTests/fast/scrolling/scroll-max-value-expected.txt
  LayoutTests/fast/scrolling/scroll-max-value.html
  Source/WebCore/rendering/RenderTextControlSingleLine.cpp
Labels: merge-queue, Layout and Rendering

#10988 Fix control flow with multiple exits on single-pass BBQ JIT
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
Labels: unsafe-merge-queue, WebAssembly

#10546 AX: input[type=date] individual fields are announced as "group"
  LayoutTests/accessibility/date-input-aria-label-and-value-expected.txt
  LayoutTests/accessibility/date-input-aria-label-and-value.html
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
  Source/WebCore/en.lproj/Localizable.strings
  Source/WebCore/html/shadow/DateTimeFieldElements.cpp
  Source/WebCore/html/shadow/DateTimeNumericFieldElement.cpp
  Source/WebCore/html/shadow/DateTimeNumericFieldElement.h
  Source/WebCore/platform/LocalizedStrings.cpp
  Source/WebCore/platform/LocalizedStrings.h
Labels: Accessibility

#10259 [CoordinatedGraphics] Provide scheduled display-update events for better scrolling handling
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeNicosia.h
  Source/WebKit/Shared/CoordinatedGraphics/threadedcompositor/ThreadedCompositor.cpp
  Source/WebKit/Shared/CoordinatedGraphics/threadedcompositor/ThreadedCompositor.h
  Source/WebKit/Shared/CoordinatedGraphics/threadedcompositor/ThreadedDisplayRefreshMonitor.cpp
  Source/WebKit/Shared/CoordinatedGraphics/threadedcompositor/ThreadedDisplayRefreshMonitor.h
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHost.cpp
Labels: New Bugs

#10641 [JSC] Stop eagerly emitting wide32 opcodes
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.h
  Source/JavaScriptCore/bytecompiler/NodesCodegen.cpp
Labels: JavaScriptCore

#10854 [WGSL] Re-land 260735@main
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/TypeCheck.h
  Source/WebGPU/WGSL/TypeDeclarations.rb
  Source/WebGPU/WGSL/WGSL.cpp
Labels: WebGPU

#10874 Opt out of playback preventing app backgrounding for silent videos
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.mm
Labels: Media

#10858 ImageBufferIOSurfaceBackend should get and put data in WP when in mapped mode
  Source/WebCore/platform/graphics/ImageBuffer.cpp
  Source/WebCore/platform/graphics/ImageBuffer.h
  Source/WebCore/platform/graphics/ImageBufferBackend.cpp
  Source/WebCore/platform/graphics/ImageBufferBackend.h
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.h
Labels: Canvas

#10772 Image types enabled by additionalSupportedImageTypes do not show up in the Accept: header
  LayoutTests/TestExpectations
  LayoutTests/http/tests/misc/heic-accept-header-expected.txt
  LayoutTests/http/tests/misc/heic-accept-header.html
  LayoutTests/http/tests/misc/resources/green-400x400.heic
  LayoutTests/http/tests/misc/resources/image-heic-accept.py
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/loader/cache/CachedResourceRequest.cpp
Labels: Images

#10990 [web-animations] ensure accelerated effects do not contain calculated values
  Source/WebCore/platform/animation/AcceleratedEffect.cpp
  Source/WebCore/platform/animation/AcceleratedEffect.h
  Source/WebCore/platform/animation/AcceleratedEffectValues.cpp
  Source/WebCore/platform/animation/AcceleratedEffectValues.h
  Source/WebCore/platform/graphics/transforms/TransformOperation.h
  Source/WebCore/platform/graphics/transforms/TranslateTransformOperation.cpp
  Source/WebCore/platform/graphics/transforms/TranslateTransformOperation.h
  Source/WebCore/rendering/RenderLayerBacking.cpp
Labels: unsafe-merge-queue, Animations

#10962 Get rid of unnecessary layouts on body elements with quirky children
  Source/WebCore/rendering/RenderBlockFlow.cpp
Labels: Layout and Rendering

#10871 Integrate RenderListMarker with @counter-style
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/support/ref-common.css
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/support/test-common.css
  LayoutTests/imported/w3c/web-platform-tests/css/css-lists/parsing/list-style-type-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-lists/parsing/list-style-type-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/list-style-type-expected.txt
  Source/WebCore/css/CSSCounterStyle.cpp
  Source/WebCore/css/CSSCounterStyle.h
  Source/WebCore/css/CSSCounterStyleRegistry.cpp
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/counterStyles.css
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/html/HTMLLIElement.cpp
  Source/WebCore/html/HTMLUListElement.cpp
  Source/WebCore/rendering/RenderListMarker.cpp
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyleConstants.h
  Source/WebCore/style/StyleBuilderCustom.h
Labels: merge-queue, CSS

#10856 Add API to trigger background fetch click event
  LayoutTests/http/wpt/background-fetch/background-fetch-abort.window-expected.txt
  LayoutTests/http/wpt/background-fetch/background-fetch-abort.window.html
  LayoutTests/http/wpt/background-fetch/background-fetch-abort.window.js
  LayoutTests/http/wpt/background-fetch/background-fetch-click.window-expected.txt
  LayoutTests/http/wpt/background-fetch/background-fetch-click.window.html
  LayoutTests/http/wpt/background-fetch/background-fetch-click.window.js
  LayoutTests/http/wpt/background-fetch/sw.js
  Source/WebCore/workers/service/background-fetch/BackgroundFetchEngine.cpp
  Source/WebCore/workers/service/background-fetch/BackgroundFetchEngine.h
  Source/WebCore/workers/service/background-fetch/BackgroundFetchStore.h
  Source/WebCore/workers/service/context/SWContextManager.cpp
  Source/WebCore/workers/service/context/SWContextManager.h
  Source/WebCore/workers/service/context/ServiceWorkerThread.cpp
  Source/WebCore/workers/service/context/ServiceWorkerThread.h
  Source/WebCore/workers/service/context/ServiceWorkerThreadProxy.cpp
  Source/WebCore/workers/service/context/ServiceWorkerThreadProxy.h
  Source/WebCore/workers/service/server/SWServer.cpp
  Source/WebCore/workers/service/server/SWServer.h
  Source/WebCore/workers/service/server/SWServerDelegate.h
  Source/WebCore/workers/service/server/SWServerToContextConnection.h
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkProcess.messages.in
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/NetworkSession.h
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerToContextConnection.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerToContextConnection.h
  Source/WebKit/NetworkProcess/storage/BackgroundFetchStoreImpl.cpp
  Source/WebKit/NetworkProcess/storage/BackgroundFetchStoreImpl.h
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebsiteDataStore.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebsiteDataStorePrivate.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/WebProcess/Storage/WebSWContextManagerConnection.cpp
  Source/WebKit/WebProcess/Storage/WebSWContextManagerConnection.h
  Source/WebKit/WebProcess/Storage/WebSWContextManagerConnection.messages.in
  Tools/WebKitTestRunner/InjectedBundle/Bindings/TestRunner.idl
  Tools/WebKitTestRunner/InjectedBundle/InjectedBundle.cpp
  Tools/WebKitTestRunner/InjectedBundle/InjectedBundle.h
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.cpp
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.h
  Tools/WebKitTestRunner/TestController.cpp
  Tools/WebKitTestRunner/TestController.h
  Tools/WebKitTestRunner/TestInvocation.cpp
  Tools/WebKitTestRunner/cocoa/TestControllerCocoa.mm
Labels: Service Workers

#10794 Disable use of IOSurface in PDFs
  Source/WTF/wtf/PlatformHave.h
  Source/WebKit/Platform/spi/ios/PDFKitSPI.h
  Source/WebKit/UIProcess/ios/WKPDFView.mm
Labels: unsafe-merge-queue, WebKit Misc.

#10735 Block Mach service in all cases
  Source/WebKit/Shared/WebPageCreationParameters.cpp
  Source/WebKit/Shared/WebPageCreationParameters.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Labels: unsafe-merge-queue, WebKit Misc.

#10964 Regression(256456@main) Express checkout is broken on victoriassecret.com
  Source/WebCore/Modules/websockets/ThreadableWebSocketChannel.cpp
  Source/WebCore/loader/cache/CachedResourceLoader.cpp
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
Labels: unsafe-merge-queue, Page Loading

#10979 REGRESSION(255420@main) Embed-loading PDFs from newly opened about:blank terminates web process
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/CookiePrivateBrowsing.mm
Labels: unsafe-merge-queue, WebKit Process Model

#10923 REGRESSION(260774@main): [iPad] Video turns black after entering element fullscreen
  Source/WebCore/platform/cocoa/VideoFullscreenChangeObserver.h
  Source/WebCore/platform/ios/VideoFullscreenInterfaceAVKit.mm
  Source/WebCore/platform/ios/WebVideoFullscreenControllerAVKit.mm
  Source/WebKit/UIProcess/Cocoa/VideoFullscreenManagerProxy.h
  Source/WebKit/UIProcess/Cocoa/VideoFullscreenManagerProxy.mm
Labels: merge-queue, Media

#10978 [Cocoa|MSE] Playback of protected audio tracks stalls
  LayoutTests/http/tests/media/fairplay/fps-mse-unmuxed-audio-only-expected.txt
  LayoutTests/http/tests/media/fairplay/fps-mse-unmuxed-audio-only.html
  Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferPrivateAVFObjC.mm
Labels: merge-queue, Media

#10950 Drop dead code from WebCoreOpaqueRoot
  Source/WebCore/bindings/js/WebCoreOpaqueRoot.h
Labels: merge-queue, WebCore Misc.

#10920 Add assertions in CacheStorageCache to help debug threading issues
  Source/WebKit/NetworkProcess/storage/CacheStorageCache.cpp
  Source/WebKit/NetworkProcess/storage/CacheStorageCache.h
Labels: merge-queue, New Bugs

#10970 REGRESSION(260512@main): HDR images should be drawn directly if the destination context has HDR color space
  Source/WebCore/platform/graphics/GraphicsContext.h
  Source/WebCore/platform/graphics/ImageBuffer.cpp
  Source/WebCore/platform/graphics/cg/NativeImageCG.cpp
Labels: merge-queue, Images

#10975 [PlayStation] Build fix for non-experimental features build after 261079@main
  Source/WebKit/NetworkProcess/EarlyHintsResourceLoader.h
Labels: WebKit Misc.

#10986 [macOS] Show correction panel for grammar errors
  Source/WebCore/editing/AlternativeTextController.cpp
  Source/WebCore/page/AlternativeTextClient.h
  Source/WebKit/UIProcess/mac/CorrectionPanel.mm
  Source/WebKit/WebProcess/WebCoreSupport/WebEditorClient.cpp
  Source/WebKitLegacy/mac/WebCoreSupport/CorrectionPanel.mm
Labels: HTML Editing

#10968 Code outside of ScrollingTree should not access scrolling tree nodes directly
  Source/WebCore/page/scrolling/ScrollingTree.cpp
  Source/WebCore/page/scrolling/ScrollingTree.h
  Source/WebCore/page/scrolling/ThreadedScrollingTree.cpp
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingTree.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteScrollingCoordinatorProxyIOS.mm
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.mm
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingCoordinatorProxyMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingCoordinatorProxyMac.mm
Labels: Scrolling

#10896 Enable single-pass BBQ baseline JIT by default
  Source/JavaScriptCore/runtime/Options.cpp
  Source/JavaScriptCore/runtime/OptionsList.h
  Tools/Scripts/run-jsc-stress-tests
Labels: WebAssembly

#10982 Parse list-style-type custom-ident if counter-style is enabled
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/parser/CSSParserContext.cpp
  Source/WebCore/css/parser/CSSParserContext.h
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.h
  Source/WebCore/style/StyleBuilderCustom.h
Labels: merge-queue, CSS

#10971 Re-import html/semantics/popovers WPT
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-anchor-idl-property.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-anchor-nested-display.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-attribute-basic-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-attribute-basic.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-backdrop-appearance.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-focus-2-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-focus-2.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-focus.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-invoking-attribute-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-invoking-attribute.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-light-dismiss-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-light-dismiss.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-shadow-dom.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-stacking-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-stacking.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-target-element-disabled.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-top-layer-combinations.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/resources/popover-utils.js
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/w3c-import.log
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/html/semantics/popovers/popover-focus-2-expected.txt
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/html/semantics/popovers/popover-light-dismiss-expected.txt
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/html/semantics/popovers/popover-attribute-basic-expected.txt
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/html/semantics/popovers/popover-focus-2-expected.txt
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/html/semantics/popovers/popover-light-dismiss-expected.txt
Labels: DOM

#11010 REGRESSION (260675@main): [ macOS, iOS ] 2 x fast/text/glyph-display-list tests are a constant failure.
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs, skip-ews

#11001 [web-animations] internals.acceleratedAnimationsForElement() should account for threaded animation resolution
  Source/WebCore/animation/DocumentTimeline.cpp
  Source/WebCore/platform/graphics/GraphicsLayer.h
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.cpp
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.h
Labels: unsafe-merge-queue, Animations

#11004 [web-animations] GraphicsLayerCA::isRunningTransformAnimation() needs to account for threaded animation resolution
  Source/WebCore/platform/animation/AcceleratedEffect.cpp
  Source/WebCore/platform/animation/AcceleratedEffect.h
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.cpp
Labels: unsafe-merge-queue, Animations

#10989 [Cocoa] Simplify ScalableImageDecoder fallback logic
  Source/WebCore/platform/graphics/ImageDecoder.cpp
Labels: merge-queue, Images

#10899 Web Inspector: Add precise editing controls for variation axes in Fonts sidebar panel
  LayoutTests/inspector/model/font-styles-conversion.html
  Source/WebInspectorUI/Localizations/en.lproj/localizedStrings.js
  Source/WebInspectorUI/UserInterface/Models/FontStyles.js
  Source/WebInspectorUI/UserInterface/Views/DetailsSection.css
  Source/WebInspectorUI/UserInterface/Views/FontDetailsPanel.js
  Source/WebInspectorUI/UserInterface/Views/FontVariationDetailsSectionRow.css
  Source/WebInspectorUI/UserInterface/Views/FontVariationDetailsSectionRow.js
  Source/WebInspectorUI/UserInterface/Views/Variables.css
Labels: merge-queue, Web Inspector

#11020 [ews-build.webkit.org] Remove manual verifiers
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: unsafe-merge-queue, Tools / Tests, skip-ews

#10961 [iOS] Add enablement flag for CARenderServer blocking in WebContent
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
Labels: unsafe-merge-queue, WebKit Misc.

#11016 Remove export on enum class
  Source/WebCore/css/parser/CSSParserEnum.h
Labels: unsafe-merge-queue, Tools / Tests
