Repository WebKit/WebKit, pull requests merged in 2023-09, with the labels that each got.

#17302 [PlayStation] Enable variation fonts experimentally
  Source/cmake/OptionsPlayStation.cmake
Labels: CMake

#17316 [Gardening]: [ macOS wk2 ] swipe/pushState-cached-back-swipe.html is a flaky timeout / text failure.
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue

#17282 WebGLFramebuffer uses renderbuffer and texture attachments via WebGLObject
  Source/WebCore/html/canvas/WebGL2RenderingContext.cpp
  Source/WebCore/html/canvas/WebGLFramebuffer.cpp
  Source/WebCore/html/canvas/WebGLFramebuffer.h
  Source/WebCore/html/canvas/WebGLObject.h
  Source/WebCore/html/canvas/WebGLRenderbuffer.h
  Source/WebCore/html/canvas/WebGLRenderingContext.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLTexture.h
Labels: merge-queue, WebGL

#17091 [git-webkit] Dupe CCed bug when racing bug importer
  Tools/Scripts/libraries/webkitbugspy/setup.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/__init__.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/bugzilla.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/github.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/issue.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/mocks/bugzilla.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/mocks/radar.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/radar.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tests/bugzilla_unittest.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tests/github_unittest.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tests/radar_unittest.py
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/branch.py
Labels: Tools / Tests

#17296 [visionOS] Find in HTML note obscures matches when they are at the top
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/FindInPage.mm
Labels: merge-queue, New Bugs

#17281 [css-fonts] Implement `font-variant-emoji` CSS property
  LayoutTests/TestExpectations
  LayoutTests/fast/css/font-property-priority-expected.txt
  LayoutTests/fast/css/font-shorthand-expected.txt
  LayoutTests/fast/css/getComputedStyle/computed-style-font-family-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/font-shorthand-serialization-prevention-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/font-shorthand-subproperties-reset-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/inheritance-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-variant-emoji-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-variant-emoji-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/font-variant-emoji-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/font-variant-emoji.html
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/font-shorthand-serialization-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/editing/run/removeformat-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/accumulation-per-property-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/addition-per-property-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/interpolation-per-property-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/property-list.js
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/ipad/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/wpe/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/css/CSSPrimitiveValueMappings.h
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/CSSValueKeywords.in
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/ShorthandSerializer.cpp
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/platform/graphics/FontCascade.cpp
  Source/WebCore/platform/graphics/FontCascadeCache.h
  Source/WebCore/platform/graphics/FontCascadeDescription.h
  Source/WebCore/platform/graphics/FontDescription.cpp
  Source/WebCore/platform/graphics/FontDescription.h
  Source/WebCore/platform/text/TextFlags.h
Labels: CSS

#17167 [Fast text codepath] CharactersTreatedAsSpace is overly prescriptive
  LayoutTests/platform/ios/tables/layering/paint-test-layering-1-expected.txt
  LayoutTests/platform/ios/tables/layering/paint-test-layering-2-expected.txt
  LayoutTests/platform/ios/tables/mozilla/bugs/bug4427-expected.txt
  LayoutTests/platform/ios/tables/mozilla_expected_failures/other/test4-expected.txt
  Source/WebCore/platform/graphics/WidthIterator.cpp
Labels: Text

#17307 [CMake] rewrite-compile-commands reports a lot of warning messages "Failed to find ..."
  Tools/Scripts/rewrite-compile-commands
Labels: Tools / Tests

#17313 Align const member functions of CheckedRef/CheckedPtr with Ref/RefPtr
  Source/WTF/wtf/CheckedPtr.h
  Source/WTF/wtf/CheckedRef.h
Labels: unsafe-merge-queue

#17330 [css-color] Fix serialization of infinity & -infinity in colors
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-valid-color-function-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-valid-lab-expected.txt
  Source/WebCore/platform/graphics/ColorSerialization.cpp
Labels: CSS

#17280 Move WebCodecs VideoFrame serialisation out of agent cluster tests to a separate file
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-serialization.crossAgentCluster.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-serialization.crossAgentCluster.https.html
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-serialization.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/videoFrame-serialization.https.html
Labels: Media

#9550 [content-visibility] Sync visibility bits in RenderLayer with content skipping
  LayoutTests/TestExpectations
  Source/WebCore/rendering/RenderElement.cpp
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/RenderLayerBacking.cpp
  Source/WebCore/rendering/RenderLayerCompositor.cpp
Labels: Layout and Rendering

#17189 [CSS] Allow nesting style rule with relaxed syntax
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/cssom-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/parsing-expected.txt
  Source/WebCore/css/parser/CSSParserImpl.cpp
  Source/WebCore/css/parser/CSSParserImpl.h
  Source/WebCore/css/parser/CSSSelectorParser.cpp
Labels: CSS

#17069 [GStreamer] registerAppsinkWithWorkaroundsIfNeededCallOnce() should be callable from non-main threads
  Source/WebCore/platform/AudioDecoder.cpp
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.cpp
  Source/WebCore/platform/graphics/gstreamer/GStreamerSinksWorkarounds.cpp
Labels: Platform

#17343 hs85jeong@gmail.com needs to update github username
  metadata/contributors.json
Labels: unsafe-merge-queue

#17317 Ensure AutoInstall.install_everything succeeds with implicit_deps
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/autoinstall.py
Labels: Tools / Tests

#17322 COOP header breaks back/forward behavior when client-side redirects are involved
  Source/WebCore/loader/FrameLoader.cpp
  Tools/TestWebKitAPI/Tests/WebKit/WKBackForwardListTests.mm
Labels: merge-queue, History

#17314 Fix some guards for USE(THEME_ADWAITA)
  Source/WTF/wtf/PlatformUse.h
  Source/WebCore/Modules/mediacontrols/MediaControlsHost.cpp
  Source/WebCore/rendering/RenderThemeAdwaita.cpp
Labels: WebKitGTK

#17333 [css-color] Clamp lab/lch/oklab/oklch components to appropriate ranges
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-lab-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-relative-color-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-relative-color.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-valid-color-mix-function-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-valid-lab-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-valid-relative-color-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-valid-relative-color.html
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-relative-color-expected.html
  LayoutTests/platform/mac-monterey/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-relative-color-expected.txt
  LayoutTests/platform/mac-monterey/imported/w3c/web-platform-tests/css/css-color/parsing/color-valid-relative-color-expected.txt
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
Labels: CSS

#16539 [motion-path] Update "<basic-shape>" implementation for offset-path
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/motion/offset-path-shape-circle-001.html
  LayoutTests/imported/w3c/web-platform-tests/css/motion/offset-path-shape-circle-004.html
  LayoutTests/imported/w3c/web-platform-tests/css/motion/offset-path-shape-circle-005.html
  LayoutTests/imported/w3c/web-platform-tests/css/motion/offset-path-shape-ellipse-001.html
  LayoutTests/imported/w3c/web-platform-tests/css/motion/offset-path-shape-ellipse-003.html
  LayoutTests/imported/w3c/web-platform-tests/css/motion/offset-path-shape-ellipse-004.html
  LayoutTests/imported/w3c/web-platform-tests/css/motion/offset-path-shape-ellipse-005.html
  LayoutTests/imported/w3c/web-platform-tests/css/motion/offset-path-shape-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/motion/offset-path-shape-polygon-001.html
  LayoutTests/imported/w3c/web-platform-tests/css/motion/offset-path-shape.html
  Source/WebCore/rendering/MotionPath.cpp
  Source/WebCore/rendering/PathOperation.h
Labels: New Bugs

#17331 Clean up existing Web Extension event dispatch code.
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIAlarmsCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIPermissionsCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionControllerCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionController.h
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIAlarmsCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIPermissionsCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIWebNavigationCocoa.mm
  Source/WebKit/WebProcess/Extensions/Cocoa/WebExtensionContextProxyCocoa.mm
  Source/WebKit/WebProcess/Extensions/Cocoa/WebExtensionControllerProxyCocoa.mm
  Source/WebKit/WebProcess/Extensions/WebExtensionContextProxy.h
  Source/WebKit/WebProcess/Extensions/WebExtensionContextProxy.messages.in
  Source/WebKit/WebProcess/Extensions/WebExtensionControllerProxy.h
Labels: WebKit Extensions

#17196 SyntaxWarning when running 'git-webkit pr'
  Tools/Scripts/webkitpy/common/checkout/checkout.py
Labels: Tools / Tests

#17332 Add support for Web Extension windows events.
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIWindowsCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionWindowCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/UIProcess/Extensions/WebExtensionWindow.h
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIWindowsCocoa.mm
  Source/WebKit/WebProcess/Extensions/WebExtensionContextProxy.h
  Source/WebKit/WebProcess/Extensions/WebExtensionContextProxy.messages.in
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIWindows.mm
Labels: WebKit Extensions

#17352 [Gardening]: REGRESSION(267516@main): [ macOS wk2 ] accessibility/mac/basic-embed-pdf-accessibility.html is a constant failure.
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, Accessibility

#17319 AX: Sometimes web content becomes inaccessible to VoiceOver
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Labels: Accessibility

#17347 Small optimization of FloatPoint serialization in SVGPathByteStream
  Source/WebCore/svg/SVGPathByteStreamBuilder.cpp
  Source/WebCore/svg/SVGPathByteStreamBuilder.h
  Source/WebCore/svg/SVGPathByteStreamSource.h
Labels: merge-queue, SVG

#17328 Add mutation events tests for ContainerNode::replaceChildren and refactor the code
  LayoutTests/fast/dom/replace-children-mutation-events-expected.txt
  LayoutTests/fast/dom/replace-children-mutation-events.html
  Source/WebCore/dom/ContainerNode.cpp
  Source/WebCore/dom/Node.cpp
  Source/WebCore/dom/Node.h
Labels: DOM

#17140 [motion-path] Implement coord-box for ray
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/motion/animation/offset-path-interpolation-005-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/motion/parsing/offset-path-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/motion/parsing/offset-path-parsing-valid-expected.txt
  Source/WebCore/css/CSSRayValue.cpp
  Source/WebCore/css/CSSRayValue.h
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/rendering/MotionPath.cpp
  Source/WebCore/rendering/PathOperation.cpp
  Source/WebCore/rendering/PathOperation.h
  Source/WebCore/style/StyleBuilderConverter.h
Labels: New Bugs

#17362 [Gardening]: [ macOS ] editing/mac/dictionary-lookup/dictionary-lookup.html is a constant text failure.
  LayoutTests/platform/mac/editing/mac/dictionary-lookup/dictionary-lookup-expected.txt
Labels: unsafe-merge-queue, Text

#17357 [Gardening]: REGRESSION(267516@main): [ macOS wk2 ] accessibility/mac/iframe-pdf.html is a constant text failure.
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/mac/accessibility/mac/iframe-pdf-expected.txt
Labels: unsafe-merge-queue, Accessibility

#17353 [JSC] Remove Wasm BBQ Air code generator
  JSTests/wasm.yaml
  JSTests/wasm/gc/bug252719.js
  JSTests/wasm/regress/242294.js
  JSTests/wasm/stress/simd-unreachable.js
  JSTests/wasm/stress/tail-call.js
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/Sources.txt
  Source/JavaScriptCore/interpreter/StackVisitor.cpp
  Source/JavaScriptCore/jit/PCToCodeOriginMap.cpp
  Source/JavaScriptCore/jit/PCToCodeOriginMap.h
  Source/JavaScriptCore/llint/LLIntOfflineAsmConfig.h
  Source/JavaScriptCore/llint/WebAssembly.asm
  Source/JavaScriptCore/runtime/Options.cpp
  Source/JavaScriptCore/runtime/OptionsList.h
  Source/JavaScriptCore/wasm/WasmAirIRGenerator.h
  Source/JavaScriptCore/wasm/WasmAirIRGenerator32_64.cpp
  Source/JavaScriptCore/wasm/WasmAirIRGenerator64.cpp
  Source/JavaScriptCore/wasm/WasmAirIRGeneratorBase.h
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.h
  Source/JavaScriptCore/wasm/WasmBBQDisassembler.cpp
  Source/JavaScriptCore/wasm/WasmBBQDisassembler.h
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
  Source/JavaScriptCore/wasm/WasmBBQJIT.h
  Source/JavaScriptCore/wasm/WasmBBQPlan.cpp
  Source/JavaScriptCore/wasm/WasmBBQPlan.h
  Source/JavaScriptCore/wasm/WasmCallee.cpp
  Source/JavaScriptCore/wasm/WasmCallee.h
  Source/JavaScriptCore/wasm/WasmCalleeGroup.cpp
  Source/JavaScriptCore/wasm/WasmCalleeGroup.h
  Source/JavaScriptCore/wasm/WasmCallsiteCollection.cpp
  Source/JavaScriptCore/wasm/WasmConstExprGenerator.cpp
  Source/JavaScriptCore/wasm/WasmFormat.h
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Source/JavaScriptCore/wasm/WasmIPIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmIRGeneratorHelpers.h
  Source/JavaScriptCore/wasm/WasmOMGPlan.cpp
  Source/JavaScriptCore/wasm/WasmOMGPlan.h
  Source/JavaScriptCore/wasm/WasmOSREntryData.h
  Source/JavaScriptCore/wasm/WasmOSREntryPlan.cpp
  Source/JavaScriptCore/wasm/WasmOSREntryPlan.h
  Source/JavaScriptCore/wasm/WasmOpcodeOrigin.cpp
  Source/JavaScriptCore/wasm/WasmOpcodeOrigin.h
  Source/JavaScriptCore/wasm/WasmOperations.cpp
  Source/JavaScriptCore/wasm/WasmOperations.h
  Source/JavaScriptCore/wasm/WasmSIMDOpcodes.h
  Source/JavaScriptCore/wasm/WasmSlowPaths.cpp
  Source/JavaScriptCore/wasm/WasmSlowPaths.h
  Source/JavaScriptCore/wasm/WasmThunks.cpp
  Source/JavaScriptCore/wasm/WasmThunks.h
  Source/JavaScriptCore/wasm/WasmTierUpCount.cpp
  Source/JavaScriptCore/wasm/WasmTierUpCount.h
  Source/JavaScriptCore/wasm/WasmTypeDefinition.h
  Source/WTF/wtf/PlatformEnable.h
  Source/cmake/WebKitFeatures.cmake
  Tools/Scripts/run-jsc-stress-tests
Labels: JavaScriptCore

#17360 REGRESSION(266896@main): html/semantics/embedded-content/media-elements/location-of-the-media-resource/currentSrc.html is flaky
  Source/WebCore/platform/ThreadTimers.cpp
Labels: unsafe-merge-queue, Media

#17363 [Gardening]: REGRESSION(267516@main): [ macOS ] editing/selection/context-menu-text-selection-lookup.html is a constant text failure.
  LayoutTests/platform/mac/editing/selection/context-menu-text-selection-lookup-expected.txt
Labels: unsafe-merge-queue, Text

#14814 Expose platform specific initialization of GPU Process
  Source/WebKit/GPUProcess/GPUProcess.cpp
  Source/WebKit/GPUProcess/GPUProcess.h
  Source/WebKit/GPUProcess/glib/GPUProcessGLib.cpp
  Source/WebKit/GPUProcess/playstation/GPUProcessPlayStation.cpp
  Source/WebKit/GPUProcess/win/GPUProcessWin.cpp
Labels: WebKit Misc.

#17365 [Gardening]: [ macOS ] Removing outdated crash expectations.
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue

#17279 Import webvtt/api WPT
  LayoutTests/imported/w3c/resources/import-expectations.json
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/align-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/align.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/categories.json
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/common.js
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/constructor-exceptions-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/constructor-exceptions.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/constructor-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/constructor.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/getCueAsHTML-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/getCueAsHTML.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/line-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/line.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/lineAlign-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/lineAlign.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/position-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/position.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/positionAlign-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/positionAlign.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/region-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/region.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/snapToLines-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/snapToLines.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/text-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/text.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/vertical-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/vertical.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTRegion/constructor-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTRegion/constructor.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTRegion/id-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTRegion/id.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTRegion/lines-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTRegion/lines.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTRegion/non-visible-cue-with-region-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTRegion/non-visible-cue-with-region.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTRegion/regionAnchorX-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTRegion/regionAnchorX.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTRegion/regionAnchorY-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTRegion/regionAnchorY.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTRegion/scroll-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTRegion/scroll.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTRegion/viewportAnchorX-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTRegion/viewportAnchorX.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTRegion/viewportAnchorY-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTRegion/viewportAnchorY.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTRegion/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTRegion/width-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTRegion/width.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/categories.json
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/historical-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/historical.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/idlharness.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/idlharness.window.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/idlharness.window.js
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/w3c-import.log
Labels: Tools / Tests

#17349 nullptr dereference in WebCore::WebSocket::close()
  Source/WebCore/Modules/websockets/WebSocket.cpp
Labels: WebCore Misc.

#17174 Deploy more smart pointers in Source/WebKit/UIProcess/Inspector
  Source/WebKit/UIProcess/API/APIContentRuleListStore.cpp
  Source/WebKit/UIProcess/API/APIContentWorld.cpp
  Source/WebKit/UIProcess/API/APIContentWorld.h
  Source/WebKit/UIProcess/API/APIPageConfiguration.cpp
  Source/WebKit/UIProcess/API/C/WKInspector.cpp
  Source/WebKit/UIProcess/Inspector/Agents/InspectorBrowserAgent.cpp
  Source/WebKit/UIProcess/Inspector/Agents/InspectorBrowserAgent.h
  Source/WebKit/UIProcess/Inspector/InspectorTargetProxy.cpp
  Source/WebKit/UIProcess/Inspector/RemoteWebInspectorUIProxy.cpp
  Source/WebKit/UIProcess/Inspector/RemoteWebInspectorUIProxy.h
  Source/WebKit/UIProcess/Inspector/WebInspectorUIProxy.cpp
  Source/WebKit/UIProcess/Inspector/WebInspectorUIProxy.h
  Source/WebKit/UIProcess/Inspector/WebPageInspectorAgentBase.h
  Source/WebKit/UIProcess/Inspector/WebPageInspectorController.cpp
  Source/WebKit/UIProcess/Inspector/WebPageInspectorController.h
  Source/WebKit/UIProcess/Inspector/gtk/RemoteWebInspectorUIProxyGtk.cpp
  Source/WebKit/UIProcess/Inspector/gtk/WebInspectorUIProxyGtk.cpp
  Source/WebKit/UIProcess/Inspector/mac/WKInspectorViewController.mm
  Source/WebKit/UIProcess/Inspector/mac/WebInspectorUIProxyMac.mm
  Source/WebKit/UIProcess/Inspector/win/WebInspectorUIProxyWin.cpp
Labels: WebKit2

#17356 Some code incorrectly compares Document objects using CSSParserContext's comparison operator
  Source/WebCore/css/parser/CSSParserContext.cpp
  Source/WebCore/css/parser/CSSParserContext.h
  Source/WebCore/editing/cocoa/EditorCocoa.mm
  Source/WebCore/html/HTMLElement.cpp
  Source/WebCore/page/csp/ContentSecurityPolicy.cpp
Labels: CSS

#17370 Compare pointers first in CSSCustomPropertyValue::equals()
  Source/WebCore/css/CSSCustomPropertyValue.cpp
Labels: merge-queue, CSS

#17265 Create Navigation when restoring all items in back-forward list
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Tools/TestWebKitAPI/Tests/WebKit/RestoreSessionState.cpp
Labels: merge-queue, Page Loading

#17326 Let the compiler generate more comparison operators in WebCore
  Source/WebCore/css/CSSProperty.h
  Source/WebCore/css/StyleColor.h
  Source/WebCore/css/color/CSSUnresolvedColorMix.cpp
  Source/WebCore/css/color/CSSUnresolvedColorMix.h
  Source/WebCore/css/parser/CSSSelectorParser.h
  Source/WebCore/css/typedom/numeric/CSSNumericType.cpp
  Source/WebCore/css/typedom/numeric/CSSNumericType.h
  Source/WebCore/dom/ComposedTreeAncestorIterator.h
  Source/WebCore/dom/MessagePortIdentifier.h
  Source/WebCore/dom/QualifiedName.h
  Source/WebCore/dom/SimpleRange.cpp
  Source/WebCore/dom/SimpleRange.h
  Source/WebCore/dom/SpaceSplitString.h
  Source/WebCore/html/LinkRelAttribute.h
  Source/WebCore/html/canvas/WebGLFramebuffer.cpp
  Source/WebCore/html/canvas/WebGLFramebuffer.h
  Source/WebCore/inspector/agents/InspectorNetworkAgent.h
  Source/WebCore/layout/LayoutUnits.h
  Source/WebCore/layout/formattingContexts/inline/InlineLevelBox.h
  Source/WebCore/layout/formattingContexts/inline/InlineLineTypes.h
  Source/WebCore/layout/integration/inline/InlineIteratorBoxLegacyPath.h
  Source/WebCore/layout/integration/inline/InlineIteratorBoxModernPath.h
  Source/WebCore/layout/integration/inline/InlineIteratorLineBoxLegacyPath.h
  Source/WebCore/layout/integration/inline/InlineIteratorLineBoxModernPath.h
  Source/WebCore/layout/layouttree/LayoutContainingBlockChainIterator.h
  Source/WebCore/loader/CrossOriginEmbedderPolicy.h
  Source/WebCore/loader/CrossOriginOpenerPolicy.h
  Source/WebCore/loader/PCMSites.h
  Source/WebCore/loader/PolicyContainer.h
  Source/WebCore/loader/ResourceCryptographicDigest.h
  Source/WebCore/page/ClientOrigin.h
  Source/WebCore/page/GlobalWindowIdentifier.h
  Source/WebCore/page/InteractionRegion.h
  Source/WebCore/page/LocalFrameView.h
  Source/WebCore/page/SecurityOriginData.h
  Source/WebCore/page/ViewportConfiguration.h
  Source/WebCore/page/scrolling/ScrollingConstraints.h
  Source/WebCore/page/scrolling/ScrollingCoordinatorTypes.h
  Source/WebCore/page/scrolling/ScrollingStateScrollingNode.h
  Source/WebCore/platform/Decimal.cpp
  Source/WebCore/platform/Decimal.h
  Source/WebCore/platform/EventTrackingRegions.cpp
  Source/WebCore/platform/EventTrackingRegions.h
  Source/WebCore/platform/KeyboardScroll.h
  Source/WebCore/platform/LayoutUnit.h
  Source/WebCore/platform/LengthPoint.h
  Source/WebCore/platform/LengthSize.h
  Source/WebCore/platform/ProcessQualified.h
  Source/WebCore/platform/RectEdges.h
  Source/WebCore/platform/RegistrableDomain.h
  Source/WebCore/platform/ScriptExecutionContextIdentifier.h
  Source/WebCore/platform/Timer.cpp
  Source/WebCore/platform/audio/NowPlayingInfo.h
Labels: merge-queue, WebCore Misc.

#17367 Ignore leading '+' and trailing '.' in input[type=number]
  LayoutTests/fast/forms/number/number-validity-badinput-expected.txt
  LayoutTests/fast/forms/number/number-validity-badinput.html
  Source/WebCore/platform/text/PlatformLocale.cpp
Labels: Forms

#17371 [Simple text codepath] Shadow TextRun's direction within WidthIterator so we can make local changes to it
  Source/WebCore/platform/graphics/WidthIterator.cpp
  Source/WebCore/platform/graphics/WidthIterator.h
Labels: merge-queue, Text

#17354 [GTK] Wrong free function in documentation for webkit_web_view_evaluate_javascript
  Source/WebKit/UIProcess/API/glib/WebKitWebView.cpp
Labels: merge-queue, WebKitGTK

#17372 Add option to force HaveABadTime mode all the time for testing.
  JSTests/microbenchmarks/large-empty-array-join-resolve-rope.js
  JSTests/microbenchmarks/large-empty-array-join.js
  JSTests/microbenchmarks/u16-string-index-of-1000001-404.js
  JSTests/microbenchmarks/u16-string-index-of-1000001-beg.js
  JSTests/microbenchmarks/u16-string-index-of-1000001-end.js
  JSTests/microbenchmarks/u16-string-index-of-1000001-mid.js
  JSTests/stress/array-slice-cow.js
  JSTests/stress/array-unshift-should-not-race-against-compiler-thread.js
  JSTests/stress/arrayprofile-should-not-convert-get-by-val-cow.js
  JSTests/stress/dollarVM-have-a-bad-time-no-params.js
  JSTests/stress/dollarVM-have-a-bad-time-works-for-non-global-object-params.js
  JSTests/stress/out-of-memory-handle-in-join.js
  JSTests/stress/regress-189028.js
  JSTests/stress/typed-array-from-array-iterator-protocol.js
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/OptionsList.h
  Tools/Scripts/run-jsc-stress-tests
Labels: JavaScriptCore

#17374 Correct URL encoding of <base> elements
  LayoutTests/imported/w3c/web-platform-tests/html/infrastructure/urls/resolving-urls/query-encoding/windows-1251_include=base-href-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/infrastructure/urls/resolving-urls/query-encoding/windows-1252_include=base-href-expected.txt
  Source/WebCore/dom/Document.cpp
  Source/WebCore/html/HTMLBaseElement.cpp
  Source/WebCore/xml/parser/XMLDocumentParserLibxml2.cpp
Labels: merge-queue, DOM

#17377 Handle NaN in the Audio delay curves
  Source/WebCore/Modules/webaudio/DelayDSPKernel.cpp
Labels: merge-queue, Web Audio

#16921 [@property] Handle dynamic updates to viewport units
  LayoutTests/imported/w3c/web-platform-tests/css/css-properties-values-api/at-property-viewport-units-dynamic-expected.txt
  Source/WebCore/css/CSSPrimitiveValue.cpp
  Source/WebCore/css/CSSRegisteredCustomProperty.h
  Source/WebCore/css/CSSValue.h
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/DOMCSSRegisterCustomProperty.cpp
  Source/WebCore/style/CustomPropertyRegistry.cpp
  Source/WebCore/style/CustomPropertyRegistry.h
  Source/WebCore/style/StyleScope.cpp
Labels: CSS

#17378 REGRESSION(266896@main): html/semantics/embedded-content/media-elements/location-of-the-media-resource/currentSrc.html is flaky
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/media-elements/location-of-the-media-resource/currentSrc.html
Labels: unsafe-merge-queue, Media

#17380 Don't treat an empty value attribute as null on image input types
  LayoutTests/fast/forms/input-image-button-with-empty-value-expected.html
  LayoutTests/fast/forms/input-image-button-with-empty-value.html
  Source/WebCore/html/HTMLInputElement.cpp
Labels: merge-queue, Forms

#17376 Correct URL encoding of SVG <image> elements
  LayoutTests/imported/w3c/web-platform-tests/html/infrastructure/urls/resolving-urls/query-encoding/windows-1251_include=svg-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/infrastructure/urls/resolving-urls/query-encoding/windows-1252_include=svg-expected.txt
  Source/WebCore/html/HTMLImageLoader.cpp
  Source/WebCore/html/HTMLImageLoader.h
  Source/WebCore/loader/ImageLoader.cpp
  Source/WebCore/loader/ImageLoader.h
  Source/WebCore/svg/SVGImageLoader.cpp
  Source/WebCore/svg/SVGImageLoader.h
Labels: merge-queue, SVG

#17350 Align adoptedStyleSheets (ObservableArray) with the Web IDL specification
  LayoutTests/cssom/observable-array-defineProperty-expected.txt
  LayoutTests/cssom/observable-array-defineProperty.html
  LayoutTests/cssom/observable-array-delete-expected.txt
  LayoutTests/cssom/observable-array-delete.html
  LayoutTests/cssom/observable-array-setter-expected.txt
  LayoutTests/cssom/observable-array-setter.html
  Source/WebCore/bindings/js/JSObservableArray.cpp
  Source/WebCore/bindings/js/JSObservableArray.h
  Source/WebCore/css/CSSStyleSheetObservableArray.cpp
  Source/WebCore/css/CSSStyleSheetObservableArray.h
Labels: merge-queue, DOM

#17338 Allow using longer ancestor chains in StyleCustomPropertyData
  Source/WebCore/css/typedom/ComputedStylePropertyMapReadOnly.cpp
  Source/WebCore/rendering/style/StyleCustomPropertyData.cpp
  Source/WebCore/rendering/style/StyleCustomPropertyData.h
  Source/WebCore/style/Styleable.cpp
Labels: CSS

#17382 Let the compiler generate more comparison operators in WebCore
  Source/WebCore/platform/graphics/ColorInterpolationMethod.h
  Source/WebCore/platform/graphics/ColorMatrix.h
  Source/WebCore/platform/graphics/DecodingOptions.h
  Source/WebCore/platform/graphics/FloatPoint.h
  Source/WebCore/platform/graphics/FloatPoint3D.h
  Source/WebCore/platform/graphics/FloatQuad.h
  Source/WebCore/platform/graphics/FloatRect.h
  Source/WebCore/platform/graphics/FloatRoundedRect.h
  Source/WebCore/platform/graphics/FloatSize.h
  Source/WebCore/platform/graphics/FontCache.cpp
  Source/WebCore/platform/graphics/FontCascadeCache.cpp
  Source/WebCore/platform/graphics/FontCascadeCache.h
  Source/WebCore/platform/graphics/FontCascadeDescription.h
  Source/WebCore/platform/graphics/FontCreationContext.h
  Source/WebCore/platform/graphics/FontDescription.h
  Source/WebCore/platform/graphics/FontSelectionAlgorithm.h
  Source/WebCore/platform/graphics/FontSizeAdjust.h
  Source/WebCore/platform/graphics/FontTaggedSettings.h
  Source/WebCore/platform/graphics/FourCC.h
  Source/WebCore/platform/graphics/GraphicsStyle.h
  Source/WebCore/platform/graphics/GraphicsTypes.h
  Source/WebCore/platform/graphics/ImageOrientation.h
  Source/WebCore/platform/graphics/ImageSource.h
  Source/WebCore/platform/graphics/IntPoint.h
  Source/WebCore/platform/graphics/IntRect.h
  Source/WebCore/platform/graphics/IntSize.h
  Source/WebCore/platform/graphics/LayoutPoint.h
  Source/WebCore/platform/graphics/LayoutRect.h
  Source/WebCore/platform/graphics/LayoutSize.h
  Source/WebCore/platform/graphics/MediaUsageInfo.h
  Source/WebCore/platform/graphics/PathTraversalState.cpp
  Source/WebCore/platform/graphics/PlatformAudioTrackConfiguration.h
  Source/WebCore/platform/graphics/PlatformTimeRanges.cpp
  Source/WebCore/platform/graphics/PlatformTimeRanges.h
  Source/WebCore/platform/graphics/PlatformTrackConfiguration.h
  Source/WebCore/platform/graphics/PlatformVideoColorSpace.h
  Source/WebCore/platform/graphics/PlatformVideoTrackConfiguration.h
  Source/WebCore/platform/graphics/Region.h
  Source/WebCore/platform/graphics/RoundedRect.h
  Source/WebCore/platform/graphics/ScreenDataOverrides.h
  Source/WebCore/platform/graphics/SourceBrush.h
  Source/WebCore/platform/graphics/TabSize.h
  Source/WebCore/platform/graphics/TextBoxIterator.h
  Source/WebCore/platform/graphics/avfoundation/objc/CDMInstanceFairPlayStreamingAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/InbandChapterTrackPrivateAVFObjC.h
  Source/WebCore/platform/graphics/cocoa/SystemFontDatabaseCoreText.h
  Source/WebCore/platform/graphics/cv/GraphicsContextGLCVCocoa.cpp
  Source/WebCore/platform/graphics/cv/GraphicsContextGLCVCocoa.h
  Source/WebCore/platform/graphics/cv/ImageRotationSessionVT.h
  Source/WebCore/platform/graphics/transforms/AffineTransform.h
  Source/WebCore/platform/graphics/transforms/TransformationMatrix.h
  Source/WebCore/platform/network/FormData.h
  Source/WebCore/platform/network/HTTPHeaderMap.h
  Source/WebCore/platform/network/cf/CertificateInfo.h
  Source/WebCore/platform/text/StringWithDirection.h
  Source/WebCore/platform/text/TextFlags.h
  Source/WebCore/platform/text/TextSpacing.h
  Source/WebCore/plugins/PluginData.h
Labels: WebCore Misc.

#17392 [WPE][GTK] Gardening of tests on 03 sept 2023
  LayoutTests/TestExpectations
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/svg/custom/circle-move-invalidation-expected.png
  LayoutTests/platform/glib/svg/custom/circle-move-invalidation-expected.txt
  LayoutTests/platform/glib/svg/custom/mouse-move-on-svg-container-expected.png
  LayoutTests/platform/glib/svg/custom/mouse-move-on-svg-container-expected.txt
  LayoutTests/platform/glib/svg/custom/mouse-move-on-svg-root-expected.png
  LayoutTests/platform/glib/svg/custom/mouse-move-on-svg-root-expected.txt
  LayoutTests/platform/glib/svg/text/small-fonts-in-html5-expected.png
  LayoutTests/platform/glib/svg/text/small-fonts-in-html5-expected.txt
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/gtk/svg/custom/circle-move-invalidation-expected.png
  LayoutTests/platform/gtk/svg/custom/mouse-move-on-svg-container-expected.png
  LayoutTests/platform/gtk/svg/custom/mouse-move-on-svg-root-expected.png
  LayoutTests/platform/gtk/svg/text/small-fonts-in-html5-expected.png
  LayoutTests/platform/wpe/TestExpectations
Labels: unsafe-merge-queue, WPE WebKit

#17384 Invalidate :nth-child() selectors correctly when not in subject position
  LayoutTests/TestExpectations
  Source/WebCore/style/ClassChangeInvalidation.cpp
  Source/WebCore/style/RuleFeature.cpp
  Source/WebCore/style/RuleFeature.h
  Source/WebCore/style/StyleInvalidator.cpp
Labels: merge-queue, CSS

#17387 Cleanup convertingToLengthHasRequiredConversionData after 267590@main
  Source/WebCore/css/CSSPrimitiveValue.cpp
  Source/WebCore/css/CSSPrimitiveValueMappings.h
  Source/WebCore/css/calc/CSSCalcExpressionNode.h
  Source/WebCore/css/calc/CSSCalcInvertNode.h
  Source/WebCore/css/calc/CSSCalcNegateNode.h
  Source/WebCore/css/calc/CSSCalcOperationNode.cpp
  Source/WebCore/css/calc/CSSCalcOperationNode.h
  Source/WebCore/css/calc/CSSCalcPrimitiveValueNode.cpp
  Source/WebCore/css/calc/CSSCalcPrimitiveValueNode.h
  Source/WebCore/css/calc/CSSCalcValue.cpp
  Source/WebCore/css/calc/CSSCalcValue.h
Labels: CSS

#17336 Some ImageBufferBackend implementations use resolutionScale
  Source/WebCore/platform/graphics/ImageBuffer.cpp
  Source/WebCore/platform/graphics/ImageBuffer.h
  Source/WebCore/platform/graphics/ImageBufferBackend.h
  Source/WebCore/platform/graphics/cg/ImageBufferCGBackend.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferCGBackend.h
  Source/WebKit/WebProcess/GPU/graphics/ImageBufferShareableBitmapBackend.cpp
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferRemoteIOSurfaceBackend.h
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferShareableMappedIOSurfaceBitmapBackend.h
Labels: Canvas

#17236 Invoke everything in Tools via Python 3
  Tools/CISupport/build-webkit-org/steps.py
  Tools/Scripts/bisect-builds
  Tools/Scripts/build-webkit
  Tools/Scripts/check-for-platform-layering-violations
  Tools/Scripts/check-inspector-strings
  Tools/Scripts/compare-results
  Tools/Scripts/compare-webkit-configurations
  Tools/Scripts/download-github-release.py
  Tools/Scripts/dump-webkit-tests-run
  Tools/Scripts/export-w3c-performance-wg-tests
  Tools/Scripts/export-w3c-test-changes
  Tools/Scripts/find-duplicate-files
  Tools/Scripts/generate-coverage-data
  Tools/Scripts/import-w3c-performance-wg-tests
  Tools/Scripts/import-webdriver-tests
  Tools/Scripts/malloc-tree
  Tools/Scripts/mark-jsc-stress-test
  Tools/Scripts/merge-result-jsons
  Tools/Scripts/parse-gc-phase-timings
  Tools/Scripts/read-checksum-from-png
  Tools/Scripts/rebase-patch-after-webkit-move
  Tools/Scripts/run-web-platform-tests
  Tools/Scripts/run-webkit-websocketserver
  Tools/Scripts/sampstat
  Tools/Scripts/sync-feature-defines
  Tools/Scripts/update-test-expectations-from-bugzilla
  Tools/Scripts/update-webkit-wincairo-libs.py
  Tools/Scripts/webkitperl/BuildSubproject.pm
  Tools/Scripts/webkitpy/tool/gcovr
  Tools/lldb/dump_class_layout_unittest.py
  Tools/lldb/lldb_webkit_unittest.py
Labels: Tools / Tests

#17409 Remove CSSValueInternalVariableValue
  Source/WebCore/css/CSSCustomPropertyValue.h
  Source/WebCore/css/CSSValueKeywords.in
  Source/WebCore/css/parser/CSSParserIdioms.cpp
  Source/WebCore/css/parser/CSSVariableParser.cpp
  Source/WebCore/style/StyleBuilderCustom.h
Labels: CSS

#17415 Unreviewed, Gardening: skip JSTests/microbenchmarks/array-from-derived-object-func.js on MIPS for lockdown test configuration.
  JSTests/microbenchmarks/array-from-derived-object-func.js
Labels: JavaScriptCore

#17396 Let the compiler generate more comparison operators in WebCore
  Source/WebCore/rendering/CSSValueKey.h
  Source/WebCore/rendering/ClipRect.h
  Source/WebCore/rendering/EventRegion.cpp
  Source/WebCore/rendering/EventRegion.h
  Source/WebCore/rendering/GapRects.h
  Source/WebCore/rendering/HighlightData.h
  Source/WebCore/rendering/LayerAncestorClippingStack.h
  Source/WebCore/rendering/Pagination.h
  Source/WebCore/rendering/shapes/ShapeInterval.h
  Source/WebCore/rendering/style/BasicShapes.cpp
  Source/WebCore/rendering/style/BorderData.h
  Source/WebCore/rendering/style/BorderValue.h
  Source/WebCore/rendering/style/CounterContent.h
  Source/WebCore/rendering/style/CounterDirectives.h
  Source/WebCore/rendering/style/CursorData.h
  Source/WebCore/rendering/style/FillLayer.h
  Source/WebCore/rendering/style/GapLength.h
  Source/WebCore/rendering/style/GridArea.h
  Source/WebCore/rendering/style/GridLength.h
  Source/WebCore/rendering/style/GridPosition.cpp
  Source/WebCore/rendering/style/GridPosition.h
  Source/WebCore/rendering/style/LineClampValue.h
  Source/WebCore/rendering/style/ListStyleType.h
  Source/WebCore/rendering/style/NinePieceImage.h
  Source/WebCore/rendering/style/OffsetRotation.cpp
  Source/WebCore/rendering/style/OffsetRotation.h
  Source/WebCore/rendering/style/OutlineValue.h
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/RenderStyleInlines.h
  Source/WebCore/rendering/style/SVGRenderStyle.h
  Source/WebCore/rendering/style/StyleColorScheme.h
  Source/WebCore/rendering/style/StyleContentAlignmentData.h
  Source/WebCore/rendering/style/StyleGradientImage.cpp
  Source/WebCore/rendering/style/StyleGradientImage.h
  Source/WebCore/rendering/style/StyleGridData.h
  Source/WebCore/rendering/style/StyleScrollSnapPoints.h
  Source/WebCore/rendering/style/StyleSelfAlignmentData.h
  Source/WebCore/rendering/style/StyleTextBoxEdge.h
  Source/WebCore/rendering/style/TextSizeAdjustment.h
  Source/WebCore/rendering/style/TextUnderlineOffset.h
  Source/WebCore/rendering/style/WillChangeData.h
  Source/WebCore/rendering/svg/RenderSVGResourceGradient.h
  Source/WebCore/style/MatchResult.h
  Source/WebCore/svg/SVGLengthValue.h
  Source/WebCore/svg/SVGPathByteStream.h
  Source/WebCore/workers/service/ServiceWorkerJobDataIdentifier.h
  Source/WebCore/workers/service/ServiceWorkerRegistrationKey.cpp
  Source/WebCore/workers/service/ServiceWorkerRegistrationKey.h
  Source/WebCore/workers/shared/SharedWorkerKey.h
Labels: merge-queue, Layout and Rendering

#17381 [motion-path] Use border radius for coord-box
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/motion/offset-path-coord-box-001.html
  LayoutTests/imported/w3c/web-platform-tests/css/motion/offset-path-shape-circle-006-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/motion/offset-path-shape-circle-006.html
  Source/WebCore/rendering/MotionPath.cpp
  Source/WebCore/rendering/MotionPath.h
  Source/WebCore/rendering/PathOperation.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Labels: New Bugs

#17304 maybePauseDisplayRefreshCallbacks doesn't wait for MissedCommit.
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
Labels: Layout and Rendering

#17359 [visionOS] YouTube audio in background tab stops after looking away from Safari for one minute
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/html/HTMLMediaElement.h
Labels: merge-queue, Media

#17420 [Gardening] Fix color-computed-color-mix-function.html baselines
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-color-mix-function-expected.txt
  LayoutTests/platform/mac-monterey/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-color-mix-function-expected.txt
Labels: CSS

#17390 RemoteImageBufferProxy::ensureBackendCreated can wait for a message that isn't pending.
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.cpp
Labels: Layout and Rendering

#17406 Specific methods for the GCrypt based OKP key generation operation.
  Source/WebCore/crypto/gcrypt/CryptoKeyOKPGCrypt.cpp
Labels: WebCore Misc.

#17177 [WGSL] Update keywords and reserved words
  Source/WebGPU/WGSL/Lexer.cpp
  Source/WebGPU/WGSL/Parser.cpp
  Source/WebGPU/WGSL/Token.cpp
  Source/WebGPU/WGSL/Token.h
  Tools/TestWebKitAPI/Tests/WGSL/LexerTests.cpp
Labels: WebGPU

#17318 WorkQueue should inherit from SerialFunctionDispatcher
  Source/WTF/wtf/FunctionDispatcher.h
  Source/WTF/wtf/SuspendableWorkQueue.cpp
  Source/WTF/wtf/SuspendableWorkQueue.h
  Source/WTF/wtf/WorkQueue.cpp
  Source/WTF/wtf/WorkQueue.h
  Source/WTF/wtf/cocoa/WorkQueueCocoa.cpp
  Source/WTF/wtf/generic/WorkQueueGeneric.cpp
Labels: merge-queue

#17178 [WGSL] ParameterizedTypeName should accept more than 1 argument
  Source/WebGPU/WGSL/AST/ASTStringDumper.cpp
  Source/WebGPU/WGSL/AST/ASTTypeName.h
  Source/WebGPU/WGSL/AST/ASTVisitor.cpp
  Source/WebGPU/WGSL/Parser.cpp
  Source/WebGPU/WGSL/TypeCheck.cpp
  Tools/TestWebKitAPI/Tests/WGSL/ParserTests.cpp
Labels: WebGPU

#17426 Implement window.clientInformation in terms of window.navigator
  Source/WebCore/page/LocalDOMWindow.h
  Source/WebCore/page/LocalDOMWindow.idl
Labels: DOM

#17416 [css-color] color-mix() should not serialize to legacy color syntax
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-color-mix-function-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-mix-out-of-gamut-expected.txt
  LayoutTests/platform/gtk/fast/forms/basic-inputs-expected.txt
  LayoutTests/platform/gtk/fast/forms/basic-textareas-expected.txt
  LayoutTests/platform/gtk/fast/forms/basic-textareas-quirks-expected.txt
  LayoutTests/platform/gtk/fast/forms/input-appearance-disabled-expected.txt
  LayoutTests/platform/gtk/fast/forms/input-disabled-color-expected.txt
  LayoutTests/platform/gtk/fast/forms/placeholder-pseudo-style-expected.txt
  LayoutTests/platform/gtk/fast/forms/textarea-placeholder-pseudo-style-expected.txt
  LayoutTests/platform/ios-wk2/fast/forms/basic-textareas-quirks-expected.txt
  LayoutTests/platform/ios/fast/forms/basic-inputs-expected.txt
  LayoutTests/platform/ios/fast/forms/basic-textareas-expected.txt
  LayoutTests/platform/ios/fast/forms/basic-textareas-quirks-expected.txt
  LayoutTests/platform/ios/fast/forms/input-appearance-disabled-expected.txt
  LayoutTests/platform/ios/fast/forms/input-disabled-color-expected.txt
  LayoutTests/platform/ios/fast/forms/number/number-appearance-spinbutton-disabled-readonly-expected.txt
  LayoutTests/platform/ios/fast/forms/placeholder-pseudo-style-expected.txt
  LayoutTests/platform/ios/fast/forms/textarea-placeholder-pseudo-style-expected.txt
  LayoutTests/platform/mac-monterey/fast/forms/basic-inputs-expected.txt
  LayoutTests/platform/mac-monterey/fast/forms/input-disabled-color-expected.txt
  LayoutTests/platform/mac-monterey/fast/forms/number/number-appearance-spinbutton-disabled-readonly-expected.txt
  LayoutTests/platform/mac-monterey/fast/forms/placeholder-pseudo-style-expected.txt
  LayoutTests/platform/mac-monterey/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-color-mix-function-expected.txt
  LayoutTests/platform/mac-ventura/fast/forms/basic-inputs-expected.txt
  LayoutTests/platform/mac-ventura/fast/forms/input-disabled-color-expected.txt
  LayoutTests/platform/mac-ventura/fast/forms/number/number-appearance-spinbutton-disabled-readonly-expected.txt
  LayoutTests/platform/mac-ventura/fast/forms/placeholder-pseudo-style-expected.txt
  LayoutTests/platform/mac/fast/forms/basic-inputs-expected.txt
  LayoutTests/platform/mac/fast/forms/basic-textareas-expected.txt
  LayoutTests/platform/mac/fast/forms/basic-textareas-quirks-expected.txt
  LayoutTests/platform/mac/fast/forms/input-appearance-disabled-expected.txt
  LayoutTests/platform/mac/fast/forms/input-disabled-color-expected.txt
  LayoutTests/platform/mac/fast/forms/number/number-appearance-spinbutton-disabled-readonly-expected.txt
  LayoutTests/platform/mac/fast/forms/placeholder-pseudo-style-expected.txt
  LayoutTests/platform/mac/fast/forms/textarea-placeholder-pseudo-style-expected.txt
  Source/WebCore/css/color/CSSResolvedColorMix.cpp
  Source/WebCore/platform/graphics/ColorNormalization.h
Labels: CSS

#17434 REGRESSION(267569@main?): WasmB3IRGenerator.h:59:21: error: use of undeclared identifier 'BBQDisassembler'
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.h
Labels: JavaScriptCore

#17433 REGRESSION(267532@main): Cannot import bigint.pm even when installed
  Source/JavaScriptCore/create_hash_table
  Source/WebCore/bindings/scripts/Hasher.pm
Labels: merge-queue, JavaScriptCore

#17413 Remove defaultStatus and defaultstatus
  LayoutTests/fast/dom/Window/get-set-properties-expected.txt
  LayoutTests/fast/dom/Window/get-set-properties.html
  LayoutTests/fast/dom/Window/resources/window-properties.js
  LayoutTests/fast/dom/Window/window-lookup-precedence-expected.txt
  LayoutTests/fast/dom/assign-to-window-status-expected.txt
  LayoutTests/fast/dom/resources/wrapper-identity-base.js
  LayoutTests/fast/dom/wrapper-identity-expected.txt
  LayoutTests/http/tests/security/cross-frame-access-put-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/the-window-object/defaultstatus-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/the-window-object/defaultstatus.html
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/the-window-object/w3c-import.log
  LayoutTests/js/dom/global-function-resolve-expected.txt
  LayoutTests/js/dom/script-tests/global-function-resolve.js
  LayoutTests/platform/gtk/fast/dom/Window/window-lookup-precedence-expected.txt
  LayoutTests/platform/mac-wk2/fast/dom/Window/window-lookup-precedence-expected.txt
  LayoutTests/platform/mac/fast/dom/objc-wrapper-identity-expected.txt
  Source/WebCore/bindings/scripts/test/JS/JSTestConditionallyReadWrite.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestGlobalObject.cpp
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/page/LocalDOMWindow.cpp
  Source/WebCore/page/LocalDOMWindow.h
  Source/WebCore/page/LocalDOMWindow.idl
  Source/WebKit/WebProcess/InjectedBundle/API/gtk/DOM/WebKitDOMDOMWindow.cpp
Labels: DOM

#17334 LibWebRTCSocket does no longer need to check for buffered data size
  Source/WebKit/WebProcess/Network/webrtc/LibWebRTCSocket.cpp
  Source/WebKit/WebProcess/Network/webrtc/LibWebRTCSocket.h
Labels: WebRTC

#17323 Build a specific version of webpushd for the WK_RELOCATABLE_FRAMEWORKS build to an override directory
  Source/WebKit/Configurations/BaseTarget.xcconfig
  Source/WebKit/Configurations/WebKit.xcconfig
  Source/WebKit/Configurations/webpushd.xcconfig
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources-output.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/webpushd/WebPushDaemonMain.mm
  Source/WebKit/webpushd/com.apple.webkit.webpushd.relocatable.mac.plist
  Source/WebKit/webpushd/mac/com.apple.WebKit.webpushd.relocatable.mac.sb.in
Labels: merge-queue, WebKit Misc.

#17401 WebRTC remote video codec factories should check video format strings in a case insensitive way
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-decoder.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-decoder.https.any.js
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-decoder.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-encoder-config.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-encoder-config.https.any.js
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-encoder-config.https.any.worker-expected.txt
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/webrtc/video-lowercase-media-subtype-expected.txt
  LayoutTests/webrtc/video-lowercase-media-subtype.html
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.cpp
Labels: WebRTC

#17397 Change --logJIT to dump its header line on a single line.
  Source/JavaScriptCore/assembler/LinkBuffer.cpp
  Source/JavaScriptCore/jit/JITPlan.cpp
  Source/JavaScriptCore/runtime/OptionsList.h
Labels: JavaScriptCore

#17386 Add --jitPolicyScale support to Wasm compilation.
  Source/JavaScriptCore/runtime/Options.cpp
Labels: JavaScriptCore

#17449 REGRESSION(267604@main): Causes PLT regressions
  Source/WebCore/platform/graphics/ImageBuffer.cpp
  Source/WebCore/platform/graphics/ImageBuffer.h
  Source/WebCore/platform/graphics/ImageBufferBackend.h
  Source/WebCore/platform/graphics/cg/ImageBufferCGBackend.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferCGBackend.h
  Source/WebCore/platform/graphics/cg/ImageBufferCGBitmapBackend.cpp
  Source/WebCore/platform/graphics/cg/ImageBufferIOSurfaceBackend.cpp
  Source/WebKit/WebProcess/GPU/graphics/ImageBufferShareableBitmapBackend.cpp
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferRemoteIOSurfaceBackend.h
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferShareableMappedIOSurfaceBitmapBackend.cpp
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferShareableMappedIOSurfaceBitmapBackend.h
Labels: merge-queue, Canvas

#17440 Only use CSSVariableReferenceValues for storing values that actually contain variable references
  Source/WebCore/css/CSSCustomPropertyValue.cpp
  Source/WebCore/css/CSSVariableData.cpp
  Source/WebCore/css/CSSVariableData.h
  Source/WebCore/css/CSSVariableReferenceValue.cpp
  Source/WebCore/css/CSSVariableReferenceValue.h
  Source/WebCore/css/parser/CSSParserTokenRange.h
  Source/WebCore/css/parser/CSSVariableParser.cpp
  Source/WebCore/css/typedom/CSSUnparsedValue.cpp
  Source/WebCore/style/StyleBuilder.cpp
  Source/WebCore/style/StyleBuilder.h
Labels: CSS

#17437 Remove unneeded PaginatedLayoutStateMaintainer
  Source/WebCore/page/LocalFrameViewLayoutContext.cpp
  Source/WebCore/page/LocalFrameViewLayoutContext.h
  Source/WebCore/rendering/RenderLayoutState.cpp
  Source/WebCore/rendering/RenderLayoutState.h
Labels: merge-queue, Layout and Rendering

#17436 To avoid circular dependency, use the intrinsic size of replaced element as width
  LayoutTests/fast/css-intrinsic-dimensions/fit-content-container-with-replaced-child-expected.txt
  LayoutTests/fast/css-intrinsic-dimensions/fit-content-container-with-replaced-child.html
  Source/WebCore/rendering/RenderReplaced.cpp
Labels: merge-queue, Layout and Rendering

#17400 prepare-commit-msg hook doesn't generate a changed file list with Windows Git
  Tools/Scripts/hooks/prepare-commit-msg
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/install_hooks.py
Labels: Tools / Tests

#17379 Check for NaN when creating a DelayNode for WebAudio
  LayoutTests/webaudio/delaynode-maxdelaylimit-expected.txt
  LayoutTests/webaudio/delaynode-maxdelaylimit.html
  Source/WebCore/Modules/webaudio/DelayDSPKernel.cpp
  Source/WebCore/Modules/webaudio/DelayNode.cpp
Labels: merge-queue, Web Audio

#17442 [iOS] Don't crash if -[LSBundleProxy bundleIdentifier] returns nil
  Source/WebCore/platform/audio/ios/AudioSessionIOS.mm
Labels: merge-queue, WebRTC

#17448 When releasing a resize in full screen video, the video content briefly flashes to its original size
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/UIProcess/PageClient.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
  Source/WebKit/UIProcess/ios/PageClientImplIOS.h
  Source/WebKit/UIProcess/ios/PageClientImplIOS.mm
  Source/WebKit/UIProcess/ios/WKContentView.h
  Source/WebKit/UIProcess/ios/WKContentView.mm
  Source/WebKit/UIProcess/ios/WebPageProxyIOS.mm
  Source/WebKit/UIProcess/mac/TiledCoreAnimationDrawingAreaProxy.mm
  Source/WebKit/WebProcess/WebPage/DrawingArea.h
  Source/WebKit/WebProcess/WebPage/DrawingArea.messages.in
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDrawingArea.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDrawingArea.mm
  Source/WebKit/WebProcess/WebPage/mac/TiledCoreAnimationDrawingArea.h
  Source/WebKit/WebProcess/WebPage/mac/TiledCoreAnimationDrawingArea.mm
Labels: Media

#17238 [JSC] Implement CanDeclareGlobalFunction abstract operation and friends
  JSTests/stress/can-declare-global-function-invoked-before-any-binding-is-created-eval.js
  JSTests/stress/can-declare-global-function-invoked-before-any-binding-is-created-global.js
  JSTests/stress/can-declare-global-function-invoked-before-any-func-decl-is-hoisted-eval.js
  JSTests/stress/can-declare-global-function-invoked-before-can-declare-var-eval.js
  JSTests/stress/can-declare-global-function-invoked-before-can-declare-var-global.js
  JSTests/stress/can-declare-global-function-invoked-var-by-the-same-name-eval.js
  JSTests/stress/can-declare-global-function-invoked-var-by-the-same-name-global.js
  JSTests/stress/can-declare-global-var-invoked-before-any-binding-is-created-eval.js
  JSTests/stress/can-declare-global-var-invoked-before-any-binding-is-created-global.js
  JSTests/stress/can-declare-global-var-invoked-before-any-func-decl-is-hoisted-eval.js
  JSTests/stress/can-declare-global-var-invoked-during-func-decl-hoisting-eval.js
  JSTests/stress/can-declare-global-var-invoked-from-jsonp-fast-path.js
  JSTests/stress/create-global-function-binding-updates-descriptor-eval.js
  JSTests/stress/create-global-function-binding-updates-descriptor-global.js
  JSTests/stress/eval-func-decl-block-does-not-invoke-setter.js
  JSTests/test262/expectations.yaml
  LayoutTests/js/dom/function-declarations-shadowing-expected.txt
  LayoutTests/js/dom/function-declarations-shadowing.html
  LayoutTests/js/dom/var-declarations-shadowing-expected.txt
  LayoutTests/js/dom/var-declarations-shadowing.html
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
  Source/JavaScriptCore/interpreter/Interpreter.cpp
  Source/JavaScriptCore/runtime/ExceptionHelpers.cpp
  Source/JavaScriptCore/runtime/ExceptionHelpers.h
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.h
  Source/JavaScriptCore/runtime/JSGlobalObjectInlines.h
  Source/JavaScriptCore/runtime/ProgramExecutable.cpp
Labels: JavaScriptCore

#17435 Colocate ValueProfiles
  JSTests/wasm/stress/simple-inline-stacktrace.js
  LayoutTests/js/script-tests/regress-139548.js
  Source/JavaScriptCore/bytecode/BytecodeGeneratorification.cpp
  Source/JavaScriptCore/bytecode/BytecodeList.rb
  Source/JavaScriptCore/bytecode/BytecodeOperandsForCheckpoint.h
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/bytecode/CodeBlock.h
  Source/JavaScriptCore/bytecode/CodeBlockInlines.h
  Source/JavaScriptCore/bytecode/MetadataTable.cpp
  Source/JavaScriptCore/bytecode/MetadataTable.h
  Source/JavaScriptCore/bytecode/UnlinkedCodeBlock.cpp
  Source/JavaScriptCore/bytecode/UnlinkedCodeBlock.h
  Source/JavaScriptCore/bytecode/UnlinkedCodeBlockGenerator.cpp
  Source/JavaScriptCore/bytecode/UnlinkedMetadataTable.cpp
  Source/JavaScriptCore/bytecode/UnlinkedMetadataTable.h
  Source/JavaScriptCore/bytecode/UnlinkedMetadataTableInlines.h
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.h
  Source/JavaScriptCore/jit/JITInlines.h
  Source/JavaScriptCore/jit/JITPropertyAccess.cpp
  Source/JavaScriptCore/llint/LLIntSlowPaths.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter.asm
  Source/JavaScriptCore/llint/LowLevelInterpreter32_64.asm
  Source/JavaScriptCore/llint/LowLevelInterpreter64.asm
  Source/JavaScriptCore/runtime/CachedTypes.cpp
  Source/JavaScriptCore/runtime/CommonSlowPaths.cpp
Labels: JavaScriptCore

#16815 [motion-path] Implement offset-position: normal
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/motion/inheritance-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/motion/parsing/offset-parsing-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/motion/parsing/offset-position-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/motion/parsing/offset-position-parsing-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/motion/parsing/offset-shorthand-expected.txt
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/css/CSSPrimitiveValue.cpp
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/calc/CSSCalcValue.cpp
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/platform/Length.cpp
  Source/WebCore/platform/Length.h
  Source/WebCore/platform/LengthFunctions.cpp
  Source/WebCore/platform/LengthFunctions.h
  Source/WebCore/rendering/MotionPath.cpp
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/style/RenderStyleInlines.h
  Source/WebCore/style/StyleBuilderConverter.h
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
Labels: CSS

#17388 Put `font-variant-emoji` behind a disabled-by-default feature flag
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/css/CSSProperties.json
Labels: CSS

#17460 [iOS] Don't crash if -[LSBundleProxy bundleIdentifier] returns nil
  Source/WebCore/platform/audio/ios/AudioSessionIOS.mm
Labels: WebRTC

#17461 Deploy more smart pointers in ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
Labels: WebKit2

#17464 [visionOS] System chrome autohides while resizing or repositioning fullscreen video
  Source/WebKit/Configurations/WebKit.xcconfig
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/Platform/spi/visionos/MRUIKitSPI.h
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenViewController.mm
Labels: New Bugs

#17472 REGRESSION(267608@main): [Win] build-webkit is failing with "'python3' is not recognized as an internal or external command"
  Tools/Scripts/build-webkit
Labels: Tools / Tests

#17428 [GStreamer] Missing check on mapped video frame validity before pushing to compositor
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
Labels: merge-queue, Platform

#17450 RemoteDisplayListRecorder uses ThreadSafeWeakPtr to ImageBuffer redundantly
  Source/WebKit/GPUProcess/graphics/RemoteDisplayListRecorder.cpp
  Source/WebKit/GPUProcess/graphics/RemoteDisplayListRecorder.h
Labels: Canvas

#17431 [GStreamer][WebRTC] Debug asserts in incoming video source
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingAudioSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingVideoSourceGStreamer.cpp
Labels: Platform

#17305 REGRESSION(267119@main): [ macOS wk2 release ] fast/repaint/placeholder-after-caps-lock-hidden.html is a constant timeout.
  LayoutTests/fast/events/detect-caps-lock.html
  LayoutTests/fast/repaint/placeholder-after-caps-lock-hidden.html
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/mac-wk2/fast/repaint/placeholder-after-caps-lock-hidden-expected.txt
  Tools/WebKitTestRunner/mac/UIScriptControllerMac.mm
Labels: New Bugs

#17180 WebCodecs VideoEncoder configure should resolve its promise for unknown codecs
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-encoder-config.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-encoder-config.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-encoder.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-encoder.https.any.worker-expected.txt
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.cpp
Labels: Media

#17345 [GTK] `TestWebViewEditor` `/webkit/WebKitWebView/editable/editable` is flaky
  Source/WebKit/UIProcess/API/glib/WebKitEditorState.cpp
  Tools/TestWebKitAPI/Tests/WebKitGtk/TestWebViewEditor.cpp
  Tools/TestWebKitAPI/glib/TestExpectations.json
Labels: WebKitGTK

#17465 Avoid unnecessary vector comparison in RenderLayerBacking::setBackingSharingLayers()
  Source/WebCore/rendering/RenderLayerBacking.cpp
Labels: unsafe-merge-queue, Layout and Rendering

#17457 Crash under -[NSEvent _trackSwipeEventWithOptions:dampenAmountThresholdMin:max:trackingDistance:axis:velocityFilterClass:usingHandler:]
  Source/WebKit/UIProcess/mac/ViewGestureControllerMac.mm
Labels: merge-queue, WebKit Misc.

#17482 REGRESSION(267279@main): media/media-source/media-source-seek-detach-crash.html causes a crash
  Source/WebCore/Modules/mediasource/MediaSource.cpp
Labels: Media

#17470 MediaPlayer::m_client should be a WeakPtr
  Source/WebCore/platform/graphics/MediaPlayer.cpp
  Source/WebCore/platform/graphics/MediaPlayer.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h
Labels: Media

#15494 WebRTC HEVC RFC 7798 RTP Payload Format Implementation
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.xcconfig
  Source/ThirdParty/libwebrtc/Source/webrtc/api/video/video_codec_type.h
  Source/ThirdParty/libwebrtc/Source/webrtc/api/video_codecs/video_codec.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/api/video_codecs/video_codec.h
  Source/ThirdParty/libwebrtc/Source/webrtc/api/video_codecs/video_decoder_software_fallback_wrapper.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/api/video_codecs/video_encoder.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/api/video_codecs/video_encoder.h
  Source/ThirdParty/libwebrtc/Source/webrtc/call/rtp_payload_params.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/common_video/h265/h265_common.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/common_video/h265/h265_common.h
  Source/ThirdParty/libwebrtc/Source/webrtc/common_video/h265/h265_pps_parser.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/common_video/h265/h265_pps_parser.h
  Source/ThirdParty/libwebrtc/Source/webrtc/common_video/h265/h265_sps_parser.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/common_video/h265/h265_sps_parser.h
  Source/ThirdParty/libwebrtc/Source/webrtc/common_video/h265/h265_vps_parser.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/common_video/h265/h265_vps_parser.h
  Source/ThirdParty/libwebrtc/Source/webrtc/logging/rtc_event_log/rtc_event_log_parser.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/media/base/media_constants.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/media/base/media_constants.h
  Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/internal_decoder_factory.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/modules/rtp_rtcp/source/create_video_rtp_depacketizer.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/modules/rtp_rtcp/source/rtp_format.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/modules/rtp_rtcp/source/rtp_format_h265.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/modules/rtp_rtcp/source/rtp_format_h265.h
  Source/ThirdParty/libwebrtc/Source/webrtc/modules/rtp_rtcp/source/rtp_sender_video.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/modules/rtp_rtcp/source/rtp_video_header.h
  Source/ThirdParty/libwebrtc/Source/webrtc/modules/rtp_rtcp/source/video_rtp_depacketizer_h265.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/modules/rtp_rtcp/source/video_rtp_depacketizer_h265.h
  Source/ThirdParty/libwebrtc/Source/webrtc/modules/video_coding/codecs/h265/include/h265_globals.h
  Source/ThirdParty/libwebrtc/Source/webrtc/modules/video_coding/encoded_frame.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/modules/video_coding/h265_vps_sps_pps_tracker.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/modules/video_coding/h265_vps_sps_pps_tracker.h
  Source/ThirdParty/libwebrtc/Source/webrtc/modules/video_coding/include/video_codec_interface.h
  Source/ThirdParty/libwebrtc/Source/webrtc/modules/video_coding/packet_buffer.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/experiments/min_video_bitrate_experiment.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/nalu_rewriter.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/nalu_rewriter.h
  Source/ThirdParty/libwebrtc/Source/webrtc/test/scenario/video_stream.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/test/video_codec_settings.h
  Source/ThirdParty/libwebrtc/Source/webrtc/video/config/video_encoder_config.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/video/config/video_encoder_config.h
  Source/ThirdParty/libwebrtc/Source/webrtc/video/encoder_overshoot_detector.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/video/rtp_video_stream_receiver2.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/video/rtp_video_stream_receiver2.h
  Source/ThirdParty/libwebrtc/Source/webrtc/video/send_statistics_proxy.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/video/video_stream_encoder.cc
  Source/ThirdParty/libwebrtc/libwebrtc.xcodeproj/project.pbxproj
Labels: WebRTC

#17421 WebCodecs VP9 encoder should not trigger IPC to GPUProcess
  Source/WebKit/WebProcess/GPU/media/RemoteVideoCodecFactory.cpp
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.cpp
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.h
Labels: Media

#17488 [Gardening]: [ Ventura wk2 Release ] fast/text-autosizing/ios/text-autosizing-after-back.html is a flaky ImageOnlyFailure.
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: Text

#17489 Unreviewed, fix catalyst build
  Source/WebKit/UIProcess/ios/WKContentView.mm
Labels: unsafe-merge-queue, WebKit2

#17490 [Gardening]: [ Mac wk2 ] imported/w3c/web-platform-tests/beacon/beacon-cors.https.window.html is a flaky failure
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue

#17491 [Gardening]: REGRESSION(267655@main): inspector/sampling-profiler/many-call-frames.html is a constant text failure.
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, Web Inspector

#17483 REGRESSION(266293@main): media/audioSession/audioSessionState.html is a flaky failure
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/testing/Internals.cpp
  Source/WebKit/WebProcess/GPU/media/RemoteAudioSession.cpp
  Source/WebKit/WebProcess/GPU/media/RemoteAudioSession.h
Labels: merge-queue, New Bugs

#17493 [Gardening]: REGRESSION(267620@main): [ macOS wk2 ] webrtc/vp8-then-h264-gpu-process-crash.html is a flaky failure.
  LayoutTests/platform/mac-monterey-wk2/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, WebRTC

#17411 Fix test-webkitpy on Python 3.6
  Tools/Scripts/webkitpy/common/system/executive_unittest.py
  Tools/Scripts/webkitpy/port/config_unittest.py
Labels: Tools / Tests

#17369 [ Monterey+ WK2 ] http/tests/inspector/network/xhr-request-type.html is a constant TEXT failure
  LayoutTests/http/tests/inspector/network/xhr-request-type-expected.txt
  LayoutTests/http/tests/inspector/network/xhr-request-type.html
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: merge-queue, Web Inspector

#17438 Validate WebCodecs encoder HEVC codec string parameters
  LayoutTests/http/wpt/webcodecs/hevc-encoder-config.https.any-expected.txt
  LayoutTests/http/wpt/webcodecs/hevc-encoder-config.https.any.html
  LayoutTests/http/wpt/webcodecs/hevc-encoder-config.https.any.js
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-encoder-config.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-encoder-config.https.any.worker-expected.txt
  LayoutTests/platform/glib/TestExpectations
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.h
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.messages.in
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.mm
  Source/WebKit/WebProcess/GPU/media/RemoteVideoCodecFactory.cpp
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.cpp
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.h
Labels: merge-queue, Media

#17454 Split webkitpy.common.net.bugzilla.TestExpectationUpdater
  Tools/Scripts/webkitpy/common/net/bugzilla/__init__.py
  Tools/Scripts/webkitpy/common/net/bugzilla/ews.py
  Tools/Scripts/webkitpy/common/net/bugzilla/results_fetcher.py
  Tools/Scripts/webkitpy/common/net/bugzilla/results_fetcher_unittest.py
  Tools/Scripts/webkitpy/common/net/bugzilla/test_expectation_updater.py
  Tools/Scripts/webkitpy/common/net/bugzilla/test_expectation_updater_unittest.py
  Tools/Scripts/webkitpy/layout_tests/layout_package/json_results_generator.py
Labels: Tools / Tests

#17502 [Gardening]: NEW TEST (267516@main): [ macOS wk2 ] fast/images/mac/play-pause-individual-animation-context-menu-items.html is a constant timeout.
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue

#17277 AudioSessionRoutingArbitratorProxy and LegacyCustomProtocolManagerProxy should use CheckedRef instead of raw reference
  Source/WebKit/UIProcess/Media/AudioSessionRoutingArbitratorProxy.cpp
  Source/WebKit/UIProcess/Media/AudioSessionRoutingArbitratorProxy.h
  Source/WebKit/UIProcess/Media/cocoa/AudioSessionRoutingArbitratorProxyCocoa.mm
  Source/WebKit/UIProcess/Network/CustomProtocols/LegacyCustomProtocolManagerProxy.cpp
  Source/WebKit/UIProcess/Network/CustomProtocols/LegacyCustomProtocolManagerProxy.h
Labels: WebKit2

#17389 Clean up Web Extension errors to be consistent with helper methods.
  Source/WebKit/Modules/OSX_Private.modulemap
  Source/WebKit/Modules/iOS_Private.modulemap
  Source/WebKit/Shared/Extensions/WebExtensionUtilities.h
  Source/WebKit/Shared/Extensions/WebExtensionUtilities.mm
  Source/WebKit/Shared/Extensions/_WKWebExtensionUtilities.h
  Source/WebKit/Shared/Extensions/_WKWebExtensionUtilities.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionControllerConfiguration.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIPermissionsCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIWindowsCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionTabCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionWindowCocoa.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIAlarmsCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIPermissionsCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPITabsCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPITestCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIWindowsCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIWindowsEventCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIPermissions.h
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIWindows.h
  Source/WebKit/WebProcess/Extensions/Bindings/JSWebExtensionWrapper.h
  Source/WebKit/WebProcess/Extensions/Bindings/Scripts/CodeGeneratorExtensions.pm
  Source/WebKit/WebProcess/Extensions/Cocoa/_WKWebExtensionWebNavigationURLFilter.mm
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPIAlarms.idl
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPITabs.idl
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPIWindows.idl
  Tools/TestWebKitAPI/SourcesCocoa.txt
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIAlarms.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIEvent.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIExtension.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIPermissions.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIRuntime.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIWebNavigation.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIWindows.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionUtilities.mm
Labels: WebKit Extensions

#17223 Remove TextTrack.{add,remove}Region
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/historical-expected.txt
  LayoutTests/media/track/regions-webvtt/vtt-region-list-expected.txt
  LayoutTests/media/track/regions-webvtt/vtt-region-list.html
  Source/WebCore/html/track/TextTrack.cpp
  Source/WebCore/html/track/TextTrack.h
  Source/WebCore/html/track/TextTrack.idl
Labels: Media

#17446 Simplify the CodeGeneratorExtensions.pm generated code for the most common optional argument case.
  Source/WebKit/WebProcess/Extensions/Bindings/Cocoa/JSWebExtensionWrapperCocoa.mm
  Source/WebKit/WebProcess/Extensions/Bindings/Scripts/CodeGeneratorExtensions.pm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIExtension.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIRuntime.mm
Labels: WebKit Extensions

#17455 Crash under NavigationState::NavigationClient::didCommitNavigation()
  Source/WebKit/UIProcess/FrameLoadState.cpp
  Source/WebKit/UIProcess/PageLoadState.cpp
Labels: merge-queue, WebKit2

#17500 Deprecate WKBundlePageSimulateMouse*
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundlePage.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundlePagePrivate.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
Labels: merge-queue, WebKit API

#17487 Avoid linear search in ScrollingStateTree::insertNode() when node is already present at desired index
  Source/WebCore/page/scrolling/ScrollingStateNode.cpp
  Source/WebCore/page/scrolling/ScrollingStateNode.h
  Source/WebCore/page/scrolling/ScrollingStateTree.cpp
Labels: merge-queue, Layout and Rendering

#17506 [Gardening]: NEW TESTS (267310@main): 6 tests are constant timeouts.
  LayoutTests/TestExpectations
  LayoutTests/platform/glib/TestExpectations
Labels: unsafe-merge-queue, Canvas

#17453 Crash under ScrollingStateStickyNode::reconcileLayerPositionForViewportRect()
  Source/WebCore/page/scrolling/ScrollingStateStickyNode.cpp
Labels: Scrolling

#17484 Stop using Vector::removeAll() in RenderLayerBacking::removeBackingSharingLayer()
  Source/WebCore/rendering/RenderLayerBacking.cpp
Labels: merge-queue, Layout and Rendering

#17133 [git-webkit] Recognize self in Bitbucket PRs
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/contributor.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/remote/bitbucket.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/contributor_unittest.py
Labels: Tools / Tests, skip-ews

#17503 REGRESSION (266591@main): Array.splice can return `undefined` for `[].splice(0, 0)`
  JSTests/stress/array-splice-empty-dfg.js
  Source/JavaScriptCore/dfg/DFGOperations.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#17463 Deploy more smart pointers in RemotePageProxy, ResponsivenessTimer, SpeechRecognitionPermissionManager, and SuspendedPageProxy
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.h
  Source/WebKit/UIProcess/RemotePageProxy.cpp
  Source/WebKit/UIProcess/ResponsivenessTimer.cpp
  Source/WebKit/UIProcess/ResponsivenessTimer.h
  Source/WebKit/UIProcess/SpeechRecognitionPermissionManager.cpp
  Source/WebKit/UIProcess/SpeechRecognitionPermissionManager.h
  Source/WebKit/UIProcess/SuspendedPageProxy.cpp
  Source/WebKit/UIProcess/SuspendedPageProxy.h
Labels: unsafe-merge-queue, WebKit2

#17509 Fix the expected results for the WKWebExtensionAPILocalization.i18n test.
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPILocalization.mm
Labels: unsafe-merge-queue, WebKit Extensions

#17298 Add layout test failure analysis script.
  Tools/Scripts/layout-test-failure-analysis
Labels: Tools / Tests

#17508 [ iOS wk2 ] Unskip layout tests exercising caps lock toggling in password fields
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/ios-wk2/fast/forms/password-scrolled-after-caps-lock-toggled-expected.txt
Labels: merge-queue, Tools / Tests

#17504 Seeing 5 windows opened, even though only tapped on 3 model links from Safari
  Source/WebKit/UIProcess/Cocoa/SystemPreviewControllerCocoa.mm
  Source/WebKit/UIProcess/SystemPreviewController.h
Labels: unsafe-merge-queue, WebKit Misc.

#17513 Add argument parsing and error handling for the tabs Web Extension APIs.
  Source/WebKit/Shared/Extensions/WebExtensionTab.serialization.in
  Source/WebKit/Shared/Extensions/WebExtensionTabQueryParameters.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPITabsCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIWindowsCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPITabs.h
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIWindows.h
  Tools/TestWebKitAPI/SourcesCocoa.txt
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPITabs.mm
Labels: WebKit Extensions

#17495 REGRESSION(267655@main): inspector/sampling-profiler/many-call-frames.html is a constant text failure.
  LayoutTests/inspector/sampling-profiler/many-call-frames-expected.txt
  LayoutTests/inspector/sampling-profiler/many-call-frames.html
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, Web Inspector

#17511 Avoid copying range and consuming tokens from this copied range in CSSVariableData()
  Source/WebCore/css/CSSVariableData.cpp
Labels: merge-queue, CSS

#17523 set-webkit-configuration doesn't print O0 optimization level
  Tools/Scripts/set-webkit-configuration
Labels: unsafe-merge-queue, Tools / Tests, skip-ews

#17524 [JSC] Simplify BaselineJITData a bit
  Source/JavaScriptCore/assembler/MacroAssembler.h
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/bytecode/CodeBlock.h
  Source/JavaScriptCore/jit/BaselineJITCode.h
  Source/JavaScriptCore/jit/JIT.cpp
  Source/JavaScriptCore/jit/JIT.h
  Source/JavaScriptCore/jit/JITInlines.h
Labels: unsafe-merge-queue, JavaScriptCore

#17516 Re-import css/css-color-adjust WPT
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/css/css-color-adjust/animation/color-scheme-no-interpolation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color-adjust/animation/color-scheme-no-interpolation.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color-adjust/animation/forced-color-adjust-no-interpolation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color-adjust/animation/forced-color-adjust-no-interpolation.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color-adjust/animation/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-color-adjust/rendering/dark-color-scheme/color-scheme-iframe-background-mismatch-opaque-cross-origin.sub.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color-adjust/rendering/dark-color-scheme/color-scheme-iframe-background-mismatch-used-preferred-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color-adjust/rendering/dark-color-scheme/color-scheme-iframe-background-mismatch-used-preferred-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color-adjust/rendering/dark-color-scheme/color-scheme-iframe-background-mismatch-used-preferred.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color-adjust/rendering/dark-color-scheme/color-scheme-iframe-preferred-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color-adjust/rendering/dark-color-scheme/color-scheme-iframe-preferred-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color-adjust/rendering/dark-color-scheme/color-scheme-iframe-preferred.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color-adjust/rendering/dark-color-scheme/support/prefers-color-scheme-blue-purple.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color-adjust/rendering/dark-color-scheme/support/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-color-adjust/rendering/dark-color-scheme/w3c-import.log
Labels: CSS

#17532 update-angle script summary is incorrect
  Tools/Scripts/update-angle
Labels: unsafe-merge-queue, ANGLE

#17533 update-angle script generates diffs for missing submodule files
  Tools/Scripts/update-angle
Labels: unsafe-merge-queue, ANGLE

#17441 [GStreamer][WebRTC] Some tests hitting hashtable asserts
  Source/WebCore/platform/graphics/gstreamer/VideoFrameMetadataGStreamer.cpp
Labels: Platform

#17480 REGRESSION(267279@main): [ macOS wk2 ] imported/w3c/web-platform-tests/media-source/mediasource-play-then-seek-back.html is a consistent text failure.
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebCore/platform/graphics/MediaPlayer.cpp
  Source/WebCore/platform/graphics/MediaPlayer.h
  Source/WebCore/platform/graphics/avfoundation/MediaPlayerPrivateAVFoundation.cpp
  Source/WebCore/platform/graphics/avfoundation/MediaPlayerPrivateAVFoundation.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.mm
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.h
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.cpp
  Source/WebCore/platform/mock/mediasource/MockMediaPlayerMediaSource.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.h
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.messages.in
  Source/WebKit/WebProcess/GPU/media/RemoteMediaPlayerState.h
  Source/WebKit/WebProcess/GPU/media/RemoteMediaPlayerState.serialization.in
Labels: Media

#17476 WebGL Draft Extensions should be a testable setting
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/ios-simulator/TestExpectations
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Tools/WebKitTestRunner/TestOptions.cpp
Labels: WebGL

#17529 FTL is calling operationGetByIdWithThisMegamorphic with 1 too many arguments.
  JSTests/stress/ftl-operationGetByIdWithThisMegamorphic.js
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
Labels: JavaScriptCore
