Repository WebKit/WebKit, pull requests merged in 2023-04, with the labels that each got.

#12238 Skip check for superclasses when decoding _WKRemoteObjectRegistry classes on macOS
  Source/WebKit/Shared/API/Cocoa/WKRemoteObjectCoder.mm
  Source/WebKit/Shared/API/Cocoa/_WKRemoteObjectRegistry.mm
Labels: unsafe-merge-queue, WebKit Misc.

#12212 image/jxl isn't added to the Accept: header when USE(JPEGXL) is enabled
  Source/WebCore/loader/cache/CachedResourceRequest.cpp
Labels: merge-queue, Images

#10577 Remove _webkit_fixedCarbonPOSIXPath
  Source/WebKitLegacy/mac/Misc/WebKitNSStringExtras.mm
  Source/WebKitLegacy/mac/WebKit.order
Labels: New Bugs

#12264 Enable v3 sandbox telemetry
  Source/WebKit/Shared/Sandbox/common.sb
Labels: WebKit Misc.

#12135 [Wasm-GC] Implement basic support in tables for GC types
  JSTests/wasm/function-references/table.js
  JSTests/wasm/gc-spec-harness.js
  JSTests/wasm/gc-spec-tests/ref_cast.wast.js
  JSTests/wasm/gc/arrays.js
  JSTests/wasm/gc/i31.js
  JSTests/wasm/gc/structs.js
  JSTests/wasm/js-api/table.js
  Source/JavaScriptCore/wasm/WasmFormat.h
  Source/JavaScriptCore/wasm/WasmOperationsInlines.h
  Source/JavaScriptCore/wasm/WasmSectionParser.cpp
  Source/JavaScriptCore/wasm/WasmSlowPaths.cpp
  Source/JavaScriptCore/wasm/WasmTable.cpp
  Source/JavaScriptCore/wasm/WasmTable.h
  Source/JavaScriptCore/wasm/WasmTypeDefinition.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.h
  Source/JavaScriptCore/wasm/js/WebAssemblyModuleRecord.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyTableConstructor.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyTablePrototype.cpp
Labels: WebAssembly

#12263 Fix !ENABLE(ASYNC_SCROLLING) build after 262439@main
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Labels: unsafe-merge-queue, Tools / Tests

#12265 Fix !ENABLE(WEB_AUDIO) build after 262451@main
  Source/WebCore/page/MemoryRelease.cpp
Labels: unsafe-merge-queue, Tools / Tests

#12230 [Win] WebInspector: enable "inspector-resource:" scheme for remote inspector
  Source/WebKit/UIProcess/Inspector/win/RemoteWebInspectorUIProxyWin.cpp
Labels: merge-queue

#11739 Can't activate feature with all caps tag via font-feature-settings
  LayoutTests/fast/text/font-feature-settings-case-sensitive-expected.html
  LayoutTests/fast/text/font-feature-settings-case-sensitive.html
  LayoutTests/fast/text/resources/Ahem-feature-x-left-spacing.otf
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-feature-settings-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-feature-settings-valid-expected.txt
  Source/WebCore/css/parser/CSSPropertyParserWorkerSafe.cpp
Labels: Text

#3988 unicode-range may cause us to use Times's font metrics erroneously
  LayoutTests/http/tests/text/primary-font-interstitial-expected.html
  LayoutTests/http/tests/text/primary-font-interstitial.html
  LayoutTests/http/tests/text/resources/Gulf-regular.ttf
  Source/WebCore/platform/graphics/FontCascadeFonts.h
  Source/WebCore/platform/graphics/FontRanges.h
Labels: Text

#12198 Add a fast abort path for StringImpl's equalInternal()
  Source/WTF/wtf/text/StringImpl.cpp
Labels: merge-queue

#12082 Keyboard scrolling in WebKit with Page Up / Down is no longer smooth
  Source/WebCore/editing/EditorCommand.cpp
  Source/WebCore/page/EventHandler.h
  Source/WebKit/WebProcess/WebPage/mac/WebPageMac.mm
Labels: Scrolling

#12239 Add fast abort case for StringCommon's equalCommon()
  Source/WTF/wtf/text/StringCommon.h
Labels: merge-queue

#12268 Fix some performance-related warnings reported by cppcheck
  Source/WebCore/Modules/fetch/FetchBody.h
  Source/WebCore/Modules/websockets/WebSocketDeflater.cpp
  Source/WebCore/css/MediaQueryParserContext.cpp
  Source/WebCore/css/parser/CSSParserObserverWrapper.cpp
  Source/WebCore/css/parser/CSSParserSelector.cpp
  Source/WebCore/display/css/DisplayStyle.cpp
  Source/WebCore/inspector/InspectorStyleSheet.h
  Source/WebCore/loader/LinkPreloadResourceClients.cpp
  Source/WebCore/page/UserContentURLPattern.cpp
  Source/WebCore/page/ViewportConfiguration.cpp
  Source/WebCore/platform/DragImage.cpp
  Source/WebCore/platform/ThreadSafeDataBuffer.h
  Source/WebCore/platform/graphics/Color.h
  Source/WebCore/platform/image-decoders/png/PNGImageDecoder.cpp
  Source/WebCore/platform/ios/SelectionGeometry.cpp
  Source/WebCore/platform/ios/SelectionGeometry.h
  Source/WebCore/style/StyleScopeRuleSets.cpp
  Source/WebCore/svg/SVGPathByteStreamSource.cpp
  Source/WebCore/testing/MallocStatistics.h
  Source/WebKit/Platform/IPC/unix/UnixMessage.h
Labels: merge-queue, WebCore Misc.

#12252 Move HashCountedSet to WeakHashCountedSet in StyleGeneratedImage
  Source/WebCore/html/CanvasBase.cpp
  Source/WebCore/rendering/style/StyleCanvasImage.cpp
  Source/WebCore/rendering/style/StyleCrossfadeImage.cpp
  Source/WebCore/rendering/style/StyleFilterImage.cpp
  Source/WebCore/rendering/style/StyleGeneratedImage.cpp
  Source/WebCore/rendering/style/StyleGeneratedImage.h
  Source/WebCore/rendering/style/StyleGradientImage.cpp
Labels: New Bugs

#12250 [GTK] AcceleratedSurfaceDMABuf.cpp does not build on i386
  Source/WebKit/WebProcess/WebPage/gtk/AcceleratedSurfaceDMABuf.cpp
Labels: merge-queue, WebKitGTK

#11191 [iOS] Enable blocking of launchd in sandbox
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebKit/Shared/WebPageCreationParameters.cpp
  Source/WebKit/Shared/WebPageCreationParameters.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Labels: WebKit Misc.

#12266 Fix some errors reported by cppcheck
  Source/WTF/wtf/text/SymbolImpl.cpp
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/editing/ReplaceSelectionCommand.cpp
  Source/WebCore/platform/graphics/HEVCUtilities.h
  Source/WebCore/testing/Internals.cpp
  Source/WebKit/UIProcess/API/glib/WebKitNetworkSession.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebContext.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebView.cpp
  Source/WebKit/UIProcess/Downloads/DownloadProxyMap.cpp
  Source/WebKit/UIProcess/Downloads/DownloadProxyMap.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessPool.h
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.h
Labels: merge-queue, WebCore Misc.

#12270 Update HTMLFastPathParser::scanTagName() to return an ElementName
  Source/WebCore/dom/make_names.pl
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
Labels: merge-queue, DOM

#12276 Compile fix after https://commits.webkit.org/262479@main
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: merge-queue, WebKit Misc.

#12226 Use generateThreadSafe for RenderingResourceIdentifier.
  Source/WebCore/platform/graphics/DecomposedGlyphs.h
  Source/WebCore/platform/graphics/Font.cpp
  Source/WebCore/platform/graphics/FontCustomPlatformData.h
  Source/WebCore/platform/graphics/ImageBuffer.h
  Source/WebCore/platform/graphics/NativeImage.h
  Source/WebCore/platform/graphics/win/FontCustomPlatformDataWin.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.h
  Tools/TestWebKitAPI/Tests/WebCore/cg/DisplayListTestsCG.cpp
Labels: merge-queue, Layout and Rendering

#12284 Add a few more always-allowed classes for _WKRemoteObjectRegistry decoder
  Source/WebKit/Shared/API/Cocoa/WKRemoteObjectCoder.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/RemoteObjectRegistry.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/RemoteObjectRegistry.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/RemoteObjectRegistryPlugIn.mm
Labels: unsafe-merge-queue, WebKit Misc.

#12285 Add null check in WebCore::toNSDictionary
  Source/WebCore/editing/cocoa/AttributedString.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/NSAttributedStringWebKitAdditions.mm
Labels: unsafe-merge-queue, WebKit Misc.

#12278 Non-unified build fixes, April 1st 2023 edition
  Source/JavaScriptCore/b3/air/AirCCallingConvention.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.cpp
  Source/WebCore/accessibility/AXLogger.cpp
  Source/WebCore/accessibility/AXTextMarker.cpp
  Source/WebCore/css/CSSCounterStyleDescriptors.h
  Source/WebCore/css/CSSCounterValue.cpp
  Source/WebCore/css/parser/CSSSelectorParser.cpp
  Source/WebCore/css/parser/CSSSupportsParser.cpp
  Source/WebCore/dom/DragEvent.cpp
  Source/WebCore/dom/RejectedPromiseTracker.h
  Source/WebCore/html/BaseDateAndTimeInputType.cpp
  Source/WebCore/html/HTMLInputElement.cpp
  Source/WebCore/html/canvas/WebGL2RenderingContext.cpp
  Source/WebCore/loader/cache/CachedResourceRequest.cpp
  Source/WebCore/page/DOMWindow.cpp
  Source/WebCore/page/RemoteDOMWindow.cpp
  Source/WebCore/platform/graphics/MediaSourcePrivate.cpp
  Source/WebCore/style/StyleFontSizeFunctions.h
Labels: Tools / Tests

#12246 Serialize xmlns attributes first
  LayoutTests/fast/dom/XMLSerializer-attribute-namespace-prefix-conflicts-expected.txt
  LayoutTests/fast/dom/XMLSerializer-same-prefix-different-namespaces-conflict-expected.txt
  LayoutTests/fast/dom/serialize-nodes-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/domparsing/XMLSerializer-serializeToString-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/serializing-html-fragments/template-expected.txt
  LayoutTests/svg/custom/xlink-prefix-generation-in-attributes-expected.txt
  Source/WebCore/editing/MarkupAccumulator.cpp
Labels: unsafe-merge-queue, DOM

#12000 Fix typo in default database quota definition
  Source/WebKit/UIProcess/API/glib/WebKitUIClient.cpp
Labels: New Bugs

#12291 [web-animations] make AnimationEffect and derived classes iso-allocated
  Source/WebCore/animation/AnimationEffect.cpp
  Source/WebCore/animation/AnimationEffect.h
  Source/WebCore/animation/CustomEffect.cpp
  Source/WebCore/animation/CustomEffect.h
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/animation/KeyframeEffect.h
Labels: unsafe-merge-queue, Animations

#12299 Unreviewed, fix PlayStation build after 262488@main
  Source/WebKit/UIProcess/API/C/playstation/WKPagePrivatePlayStation.cpp
  Source/WebKit/UIProcess/API/C/playstation/WKView.cpp
  Source/WebKit/UIProcess/playstation/PageClientImpl.cpp
  Source/WebKit/UIProcess/playstation/WebPageProxyPlayStation.cpp
Labels: unsafe-merge-queue, New Bugs

#12293 Make priority hints tests more stable
  LayoutTests/TestExpectations
  LayoutTests/http/tests/priority-hints/link-preload-dynamic-insertion.html
  LayoutTests/http/tests/priority-hints/link-preload-initial-load.html
Labels: Tools / Tests

#12295 REGRESSION(259869@main): [GStreamer][WebCodecs] 2 tests now crashing
  Source/WebCore/platform/graphics/gstreamer/VideoFrameGStreamer.cpp
Labels: Platform

#12103 [CMake][GTK] Fix typo in GTK Dev Release preset name
  CMakePresets.json
Labels: CMake

#12289 HTML parser: only adjust approved SVG and MathML attributes
  LayoutTests/html5lib/resources/tests11.dat
  LayoutTests/html5lib/resources/webkit02.dat
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/parsing/html5lib_tests11_run_type=uri-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/parsing/html5lib_tests11_run_type=write-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/parsing/html5lib_tests11_run_type=write_single-expected.txt
  Source/WebCore/WebCore.order
  Source/WebCore/dom/make_names.pl
  Source/WebCore/html/parser/HTMLTreeBuilder.cpp
  Source/WebCore/mathml/mathattrs.in
  Source/WebCore/svg/SVGElement.cpp
  Source/WebCore/svg/svgattrs.in
  Source/WebCore/xml/xmlattrs.in
Labels: DOM

#12275 AcceleratedSurfaceDMABuf: use a renderbuffer for fbo color attachment
  Source/WebKit/WebProcess/WebPage/gtk/AcceleratedSurfaceDMABuf.cpp
  Source/WebKit/WebProcess/WebPage/gtk/AcceleratedSurfaceDMABuf.h
Labels: New Bugs

#11818 Enforce sandbox telemetry rule in the WebContent process
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Labels: WebKit Misc.

#11821 Address syscall telemetry in Locdown mode
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Labels: WebKit Misc.

#12242 [WGSL] Fix wgslc's JavaScriptCore dependency
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
Labels: WebGPU

#12142 REGRESSION(258561@main): :user-valid/:user-invalid stopped working
  LayoutTests/imported/w3c/web-platform-tests/css/selectors/user-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/selectors/user-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/selectors/user-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/selectors/user-valid.html
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/css/selectors/user-invalid-expected.txt
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/css/selectors/user-valid-expected.txt
  Source/WebCore/html/HTMLFormControlElement.h
Labels: CSS

#12294 Handle lone surrogates correctly for non-UTF-8 encodings
  LayoutTests/fast/url/query-expected.txt
  LayoutTests/fast/url/query.html
  LayoutTests/imported/w3c/web-platform-tests/html/infrastructure/urls/resolving-urls/query-encoding/lone-surrogates.sub_encoding=windows-1252-expected.txt
  Source/WebCore/PAL/pal/text/TextCodec.cpp
Labels: merge-queue, DOM

#12243 [WGSL] Add a scheme to build wgslc
  Source/WebGPU/WebGPU.xcodeproj/xcshareddata/xcschemes/wgslc.xcscheme
Labels: WebGPU

#12319 Cherry-pick 259548.75@safari-7615-branch (22b0e73428bb). rdar://107499524
  Source/WebCore/page/scrolling/ScrollingTree.cpp
  Source/WebCore/page/scrolling/ScrollingTree.h
  Source/WebCore/page/scrolling/ScrollingTreeFixedNode.cpp
  Source/WebCore/page/scrolling/ScrollingTreeFixedNode.h
  Source/WebCore/page/scrolling/ScrollingTreeFrameHostingNode.cpp
  Source/WebCore/page/scrolling/ScrollingTreeFrameHostingNode.h
  Source/WebCore/page/scrolling/ScrollingTreeFrameScrollingNode.cpp
  Source/WebCore/page/scrolling/ScrollingTreeFrameScrollingNode.h
  Source/WebCore/page/scrolling/ScrollingTreeNode.h
  Source/WebCore/page/scrolling/ScrollingTreeOverflowScrollProxyNode.cpp
  Source/WebCore/page/scrolling/ScrollingTreeOverflowScrollProxyNode.h
  Source/WebCore/page/scrolling/ScrollingTreePositionedNode.cpp
  Source/WebCore/page/scrolling/ScrollingTreePositionedNode.h
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNode.cpp
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNode.h
  Source/WebCore/page/scrolling/ScrollingTreeStickyNode.cpp
  Source/WebCore/page/scrolling/ScrollingTreeStickyNode.h
  Source/WebCore/page/scrolling/cocoa/ScrollingTreeFixedNodeCocoa.h
  Source/WebCore/page/scrolling/cocoa/ScrollingTreeFixedNodeCocoa.mm
  Source/WebCore/page/scrolling/cocoa/ScrollingTreeOverflowScrollProxyNodeCocoa.h
  Source/WebCore/page/scrolling/cocoa/ScrollingTreeOverflowScrollProxyNodeCocoa.mm
  Source/WebCore/page/scrolling/cocoa/ScrollingTreePositionedNodeCocoa.h
  Source/WebCore/page/scrolling/cocoa/ScrollingTreePositionedNodeCocoa.mm
  Source/WebCore/page/scrolling/cocoa/ScrollingTreeStickyNodeCocoa.h
  Source/WebCore/page/scrolling/cocoa/ScrollingTreeStickyNodeCocoa.mm
  Source/WebCore/page/scrolling/mac/ScrollingTreeFrameScrollingNodeMac.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeFrameScrollingNodeMac.mm
  Source/WebCore/page/scrolling/mac/ScrollingTreeOverflowScrollingNodeMac.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeOverflowScrollingNodeMac.mm
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeFixedNodeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeFixedNodeNicosia.h
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeFrameScrollingNodeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeFrameScrollingNodeNicosia.h
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeOverflowScrollProxyNodeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeOverflowScrollProxyNodeNicosia.h
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeOverflowScrollingNodeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeOverflowScrollingNodeNicosia.h
  Source/WebCore/page/scrolling/nicosia/ScrollingTreePositionedNodeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreePositionedNodeNicosia.h
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeStickyNodeNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeStickyNodeNicosia.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeFrameScrollingNodeRemoteIOS.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeFrameScrollingNodeRemoteIOS.mm
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeOverflowScrollingNodeIOS.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeOverflowScrollingNodeIOS.mm
  Source/WebKit/UIProcess/RemoteLayerTree/mac/ScrollingTreeFrameScrollingNodeRemoteMac.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/mac/ScrollingTreeFrameScrollingNodeRemoteMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/ScrollingTreeOverflowScrollingNodeRemoteMac.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/mac/ScrollingTreeOverflowScrollingNodeRemoteMac.h
Labels: Scrolling

#10560 [WebGL] Avoid using glReadPixels to paint WebGL canvas into 2D canvas
  Source/WebCore/platform/graphics/GraphicsContextGL.cpp
  Source/WebCore/platform/graphics/GraphicsContextGL.h
  Source/WebCore/platform/graphics/angle/GraphicsContextGLANGLE.cpp
  Source/WebCore/platform/graphics/angle/GraphicsContextGLANGLE.h
  Source/WebCore/platform/graphics/cairo/GraphicsContextGLCairo.cpp
  Source/WebCore/platform/graphics/cg/GraphicsContextGLCG.cpp
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.h
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.mm
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLIOSurfaceSwapChain.h
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGL.cpp
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGL.h
Labels: WebGL

#12326 fast/events/wheel/redispatched-wheel-event.html is a flaky failure when enabling UI side compositing
  LayoutTests/fast/events/wheel/redispatched-wheel-event.html
Labels: unsafe-merge-queue, Tools / Tests

#12321 Avoid calling scanTagName() in HTMLFastPathParser::parseContainerElement()
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
  Source/WebCore/html/parser/ParsingUtilities.h
Labels: DOM

#12222 run-api-tests should have options to disable GPU process for DOM rendering and UI side compositing
  Tools/Scripts/run-api-tests
  Tools/Scripts/webkitpy/api_tests/runner.py
  Tools/TestWebKitAPI/mac/mainMac.mm
Labels: Tools / Tests

#12304 Remove UnencodableHandling::QuestionMarks
  Source/WebCore/PAL/pal/text/TextCodec.cpp
  Source/WebCore/PAL/pal/text/TextCodecCJK.cpp
  Source/WebCore/PAL/pal/text/TextCodecICU.cpp
  Source/WebCore/PAL/pal/text/UnencodableHandling.h
Labels: WebCore Misc.

#12317 Non-unified build fixes, early April 2023 edition
  Source/WebKit/UIProcess/ProvisionalFrameProxy.cpp
  Source/WebKit/UIProcess/SpeechRecognitionPermissionManager.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPreferences.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebURLSchemeTask.cpp
  Source/WebKit/UIProcess/gtk/WebColorPickerGtk.cpp
Labels: Tools / Tests

#12260 Remove Google Legacy ID support
  Source/WebCore/Modules/webauthn/AuthenticationExtensionsClientInputs.cpp
  Source/WebCore/Modules/webauthn/AuthenticationExtensionsClientInputs.h
  Source/WebCore/Modules/webauthn/AuthenticationExtensionsClientInputs.idl
  Source/WebCore/Modules/webauthn/AuthenticatorCoordinator.cpp
  Source/WebCore/Modules/webauthn/fido/U2fCommandConstructor.cpp
  Source/WebCore/Modules/webauthn/fido/U2fCommandConstructor.h
  Source/WebKit/Platform/spi/Cocoa/AuthenticationServicesCoreSPI.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/API/Cocoa/_WKAuthenticationExtensionsClientInputs.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebAuthenticationPanel.mm
  Source/WebKit/UIProcess/WebAuthentication/AuthenticatorManager.cpp
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/WebAuthenticatorCoordinatorProxy.mm
  Source/WebKit/UIProcess/WebAuthentication/fido/CtapAuthenticator.cpp
  Source/WebKit/UIProcess/WebAuthentication/fido/CtapAuthenticator.h
  Source/WebKit/UIProcess/WebAuthentication/fido/U2fAuthenticator.cpp
  Tools/TestWebKitAPI/Tests/WebCore/U2fCommandConstructorTest.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/_WKWebAuthenticationPanel.mm
Labels: merge-queue, WebKit Misc.

#12331 Unreviewed attempt to fix Catalyst build after 262488@main
  Source/WebKit/UIProcess/WebPageProxy.h
Labels: unsafe-merge-queue, WebKit2

#12334 [ews] uat instance builds showing up on GitHub PRs
  Tools/CISupport/ews-build/events.py
  Tools/CISupport/ews-build/master.cfg
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/utils.py
Labels: unsafe-merge-queue, Tools / Tests, skip-ews

#12231 [WGSL] Serialize variables without type declarations
  Source/WebGPU/WGSL/AST/ASTTypeName.h
  Source/WebGPU/WGSL/EntryPointRewriter.cpp
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
  Source/WebGPU/WGSL/Metal/MetalFunctionWriter.cpp
  Source/WebGPU/WGSL/TypeCheck.cpp
  Tools/TestWebKitAPI/Tests/WGSL/MetalGenerationTests.cpp
Labels: WebGPU

#12298 Refactor some network connection integrity code
  Source/WebCore/page/LookalikeCharactersSanitizationData.h
  Source/WebKit/Platform/cocoa/NetworkConnectionIntegrityHelpers.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: Platform

#12327 Simplify HTMLFastPathParser::scanEscapedAttributeValue()
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
Labels: merge-queue, DOM

#12311 Simplify PAL::TextCodecUTF8::encodeUTF8 and use it more
  Source/WebCore/Modules/fetch/FetchBody.cpp
  Source/WebCore/PAL/pal/text/TextCodecReplacement.cpp
  Source/WebCore/PAL/pal/text/TextCodecUTF8.cpp
  Source/WebCore/PAL/pal/text/TextCodecUTF8.h
  Source/WebCore/fileapi/BlobBuilder.cpp
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.mm
  Source/WebCore/xml/XMLHttpRequest.cpp
Labels: WebCore Misc.

#12257 REGRESSION(262311@main): Netflix video is blank
  Source/WebKit/WebProcess/GPU/media/cocoa/VideoLayerRemoteCocoa.mm
Labels: Media

#12338 xml encode quotes in MiniBrowser.entitlements
  Tools/MiniBrowser/MiniBrowser.entitlements
Labels: unsafe-merge-queue, Tools / Tests

#12203 Implement scroll synchronisation for UI-side compositing.
  Source/WebCore/page/scrolling/ScrollingTree.cpp
  Source/WebCore/page/scrolling/ScrollingTree.h
  Source/WebCore/page/scrolling/ThreadedScrollingTree.cpp
  Source/WebCore/page/scrolling/ThreadedScrollingTree.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeEventDispatcher.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeEventDispatcher.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingCoordinatorProxyMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingCoordinatorProxyMac.mm
Labels: Layout and Rendering

#12341 Gradient object should use RenderingResourceIdentifier::allocateThreadSafe.
  Source/WebCore/rendering/svg/RenderSVGResourceLinearGradient.cpp
  Source/WebCore/rendering/svg/RenderSVGResourceRadialGradient.cpp
Labels: unsafe-merge-queue, Layout and Rendering

#12342 Unreviewed Build Fix for PlatformXRSystem
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/ios/PageClientImplIOS.mm
Labels: unsafe-merge-queue, WebKit Misc.

#12340 Use tighter typing in the HTML fast parser
  Source/WebCore/html/HTMLFormControlElement.h
  Source/WebCore/html/HTMLInputElement.h
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
Labels: merge-queue, DOM

#12325 [GPU Process] Refactor ShareableBitmapConfiguration
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
  Source/WebKit/GPUProcess/graphics/wc/WCScene.cpp
  Source/WebKit/GPUProcess/media/RemoteImageDecoderAVFProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerManagerProxy.cpp
  Source/WebKit/Shared/ContextMenuContextData.cpp
  Source/WebKit/Shared/ShareableBitmap.cpp
  Source/WebKit/Shared/ShareableBitmap.h
  Source/WebKit/Shared/ShareableBitmap.serialization.in
  Source/WebKit/Shared/ShareableBitmapHandle.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
  Source/WebKit/Shared/cairo/ShareableBitmapCairo.cpp
  Source/WebKit/Shared/cg/ShareableBitmapCG.cpp
  Source/WebKit/Shared/gtk/ArgumentCodersGtk.cpp
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
  Source/WebKit/WebProcess/GPU/graphics/ImageBufferShareableBitmapBackend.cpp
  Source/WebKit/WebProcess/GPU/graphics/ImageBufferShareableBitmapBackend.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.cpp
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
  Source/WebKit/WebProcess/WebCoreSupport/ShareableBitmapUtilities.cpp
  Source/WebKit/WebProcess/WebCoreSupport/gtk/WebDragClientGtk.cpp
  Source/WebKit/WebProcess/WebCoreSupport/mac/WebDragClientMac.mm
  Source/WebKit/WebProcess/WebCoreSupport/win/WebPopupMenuWin.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.cpp
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Source/WebKit/WebProcess/cocoa/TextTrackRepresentationCocoa.mm
Labels: merge-queue, Layout and Rendering

#12346 Unreviewed, address post-landing review feedback from Darin for 262531@main
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
Labels: DOM

#12272 (REGRESSION 258589@main) Slow typing in large GitHub review
  LayoutTests/fast/repaint/leftover-after-shrinking-content-expected.txt
  Source/WebKit/Shared/EditorState.h
  Source/WebKit/Shared/EditorState.serialization.in
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
Labels: merge-queue, Layout and Rendering

#12351 [GARDENING]Block access to updateQuotaBasedOnSpaceUsageForTesting when not testing
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue, WebKit Process Model

#12344 iOS 16.4 and macOS Ventura 13.3 build fix for third-party (254951)
  Source/ThirdParty/libwebrtc/Configurations/Base.xcconfig
Labels: merge-queue, Tools / Tests

#12315 HTML parser: remove support for layer and nolayer
  LayoutTests/fast/dom/wrapper-classes-expected.txt
  LayoutTests/fast/dom/wrapper-classes.html
  LayoutTests/imported/w3c/web-platform-tests/html/dom/elements/elements-in-the-dom/unknown-element-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/dom/elements/elements-in-the-dom/unknown-element.html
  LayoutTests/imported/w3c/web-platform-tests/html/dom/historical-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/dom/historical.html
  Source/WebCore/html/HTMLTagNames.in
Labels: DOM

#12300 [Cocoa] Migrate OpticalSizingType from an enum to a variant
  Source/WebCore/platform/graphics/cocoa/UnrealizedCoreTextFont.cpp
  Source/WebCore/platform/graphics/cocoa/UnrealizedCoreTextFont.h
Labels: merge-queue, Text

#12348 Fix JSC and WebCore build failures for iOS16.4 and macOS Ventura 13.3
  Source/JavaScriptCore/API/ObjCCallbackFunction.mm
  Source/WebCore/editing/cocoa/DataDetection.mm
Labels: merge-queue, Tools / Tests

#12274 Serialize NSAttributedString font attributes as WebCore::Font
  Source/WebCore/editing/cocoa/AttributedString.h
  Source/WebCore/editing/cocoa/AttributedString.mm
  Source/WebCore/editing/cocoa/HTMLConverter.mm
  Source/WebCore/platform/graphics/FontPlatformData.h
  Source/WebCore/platform/graphics/coretext/FontPlatformDataCoreText.cpp
  Source/WebCore/platform/ios/UIFoundationSoftLink.h
  Source/WebCore/platform/ios/UIFoundationSoftLink.mm
  Source/WebKit/Shared/Cocoa/WebCoreArgumentCodersCocoa.mm
  Source/WebKit/Shared/Cocoa/WebCoreArgumentCodersCocoa.serialization.in
  Source/WebKitLegacy/mac/WebCoreSupport/PopupMenuMac.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/NSAttributedStringWebKitAdditions.mm
Labels: WebKit Misc.

#12286 Add support for collecting stats on CSS selector operation functions.
  Source/WebCore/cssjit/SelectorCompiler.cpp
Labels: JavaScriptCore

#11402 Start restricting object serialization which doesn't use the new IPC format.
  Source/WebCore/PAL/pal/spi/cocoa/NSKeyedUnarchiverSPI.h
  Source/WebKit/Platform/Logging.h
  Source/WebKit/Shared/Cocoa/ArgumentCodersCocoa.mm
  Source/WebKit/Shared/Cocoa/WebCoreArgumentCodersCocoa.serialization.in
Labels: WebKit Process Model

#12337 Don't show 'cursor: pointer' on unclickable <area> by updating UA Stylesheet
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/the-css-user-agent-style-sheet-and-presentational-hints/mouse-cursor-imagemap-expected.txt
  Source/WebCore/css/html.css
Labels: CSS

#12356 Unreviewed attempt to fix Catalyst build after 262488@main
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: unsafe-merge-queue, WebKit2

#12140 Update fast/scrolling/mac/scrollbars tests to use new UIHelper scrollbar state function
  LayoutTests/fast/scrolling/mac/scrollbars/overflow-in-iframe-overlay-scrollbar-hovered.html
  LayoutTests/fast/scrolling/mac/scrollbars/overflow-in-iframe-overlay-scrollbar-reveal.html
  LayoutTests/fast/scrolling/mac/scrollbars/overflow-overlay-scrollbar-hovered.html
  LayoutTests/fast/scrolling/mac/scrollbars/overflow-overlay-scrollbar-reveal.html
  LayoutTests/fast/scrolling/mac/scrollbars/overlay-scrollbar-hovered.html
  LayoutTests/fast/scrolling/mac/scrollbars/overlay-scrollbar-reveal.html
  LayoutTests/fast/scrolling/mac/scrollbars/overlay-scrollbar-state-expected.txt
  LayoutTests/fast/scrolling/mac/scrollbars/overlay-scrollbar-state.html
  LayoutTests/fast/scrolling/mac/scrollbars/scrollbar-state-expected.txt
  LayoutTests/fast/scrolling/mac/scrollbars/scrollbar-state.html
  LayoutTests/fast/scrolling/mac/scrollbars/select-overlay-scrollbar-hovered.html
  LayoutTests/fast/scrolling/mac/scrollbars/select-overlay-scrollbar-reveal.html
  LayoutTests/fast/scrolling/mac/scrollbars/very-wide-overlay-scrollbar.html
  LayoutTests/resources/ui-helper.js
Labels: merge-queue, New Bugs

#12335 [Win] Enable ProcessSwapOnCrossSiteNavigationEnabled by default
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: unsafe-merge-queue, WebKit2

#12361 designMode should not affect shadow tree
  LayoutTests/imported/w3c/web-platform-tests/editing/other/editable-state-and-focus-in-shadow-dom-in-designMode.tentative-expected.txt
  Source/WebCore/html/HTMLElement.cpp
Labels: unsafe-merge-queue, HTML Editing

#12354 Update HTMLFastPathParser::scanText() to return a String
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
Labels: DOM

#12362 Apply Pay buttons don't paint in BifurcatedGraphicsContext's secondary context
  Source/WebCore/platform/graphics/BifurcatedGraphicsContext.cpp
  Source/WebCore/platform/graphics/BifurcatedGraphicsContext.h
Labels: WebKit Misc.

#12262 Avoid calling ref() of NetworkStorageManager in its constructor
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
Labels: Website Storage

#12368 Unreviewed, fix !ENABLE(ACCESSIBILITY) build following 262566@main
  Source/WebCore/accessibility/AXObjectCache.h
Labels: New Bugs, skip-ews

#12309 GraphicsContextGLANGLE duplicates constructor and accessors across platforms
  Source/WebCore/platform/graphics/angle/GraphicsContextGLANGLE.cpp
  Source/WebCore/platform/graphics/angle/GraphicsContextGLANGLE.h
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.mm
  Source/WebCore/platform/graphics/gbm/GraphicsContextGLANGLELinux.cpp
  Source/WebCore/platform/graphics/texmap/GraphicsContextGLTextureMapperANGLE.cpp
Labels: WebGL

#12318 [WPE][Debug] ASSERTION FAILED: !m_compositingAccordingToProxyMessages
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.cpp
Labels: WPE WebKit

#12365 REGRESSION(262518@main) [cairo] Crash under GraphicsContextGL::paintToCanvas
  Source/WebCore/platform/graphics/NativeImage.h
  Source/WebCore/platform/graphics/cairo/GraphicsContextGLCairo.cpp
  Source/WebCore/platform/graphics/cairo/NativeImageCairo.cpp
Labels: Platform

#12333 AcceleratedSurfaceDMABuf: properly handle modifier values
  Source/WebCore/platform/graphics/gbm/DMABufFormat.h
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreDMABuf.cpp
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreDMABuf.h
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreDMABuf.messages.in
  Source/WebKit/WebProcess/WebPage/gtk/AcceleratedSurfaceDMABuf.cpp
Labels: New Bugs

#12381 Unreviewed build fix after 262488@main
  Source/WebKit/UIProcess/Cocoa/TextCheckingController.mm
Labels: WebKit2

#12353 Update HTMLFastPathParser::scanAttributeValue() to return an AtomString
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
Labels: DOM

#12373 Use more ICU surrogate code point macros
  Source/JavaScriptCore/runtime/JSImmutableButterfly.cpp
  Source/JavaScriptCore/runtime/RegExpObjectInlines.h
  Source/WTF/wtf/text/StringImpl.cpp
  Source/WebCore/PAL/pal/text/TextCodec.cpp
  Source/WebCore/css/parser/CSSTokenizer.cpp
  Source/WebCore/dom/TextEncoderStreamEncoder.cpp
  Source/WebCore/dom/TextEncoderStreamEncoder.h
Labels: WebCore Misc.

#12254 [macOS] Stop ProcessThrottler for dead processes
  Source/WebKit/UIProcess/ProcessThrottler.cpp
  Source/WebKit/UIProcess/ProcessThrottler.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
Labels: WebKit Process Model

#12328 Sliced blobs end up with the wrong Content-Type in fetch
  LayoutTests/fast/files/blob-content-type-expected.txt
  LayoutTests/fast/files/blob-content-type.html
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/Blob-methods-from-detached-frame-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/Blob-methods-from-detached-frame.html
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/FileReader/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/blob/Blob-in-worker.worker.js
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/blob/Blob-stream.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/blob/Blob-stream.any.js
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/blob/Blob-stream.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/file/File-constructor.any.js
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/file/File-constructor.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/file/send-file-form-controls-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/file/send-file-form-controls.html
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/file/send-file-form-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/file/send-file-form-iso-2022-jp-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/file/send-file-form-iso-2022-jp.html
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/file/send-file-form-punctuation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/file/send-file-form-punctuation.html
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/file/send-file-form-utf-8-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/file/send-file-form-utf-8.html
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/file/send-file-form-windows-1252-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/file/send-file-form-windows-1252.html
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/file/send-file-form-x-user-defined-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/file/send-file-form-x-user-defined.html
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/file/send-file-form.html
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/idlharness-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/idlharness.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/idlharness.any.html
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/idlharness.any.js
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/idlharness.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/idlharness.any.worker.html
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/idlharness.html
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/idlharness.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/idlharness.worker.js
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/support/Blob.js
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/support/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/FileAPI/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/fetch/api/basic/scheme-blob.sub.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fetch/api/basic/scheme-blob.sub.any.worker-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/fetch/api/basic/scheme-blob.sub.any-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/fetch/api/basic/scheme-blob.sub.any.worker-expected.txt
  Source/WebCore/platform/network/BlobRegistryImpl.cpp
Labels: DOM

#12236 Add console logging message to missing or late showNotification calls in service worker
  LayoutTests/TestExpectations
  LayoutTests/http/wpt/service-workers/push-console-messages-no-showNotification.https-expected.txt
  LayoutTests/http/wpt/service-workers/push-console-messages-no-showNotification.https.html
  LayoutTests/http/wpt/service-workers/push-console-messages-showNotification-async.https-expected.txt
  LayoutTests/http/wpt/service-workers/push-console-messages-showNotification-async.https.html
  LayoutTests/http/wpt/service-workers/push-console-messages-showNotification-late.https-expected.txt
  LayoutTests/http/wpt/service-workers/push-console-messages-showNotification-late.https.html
  LayoutTests/http/wpt/service-workers/push-console-messages-showNotification-sync.https-expected.txt
  LayoutTests/http/wpt/service-workers/push-console-messages-showNotification-sync.https.html
  LayoutTests/http/wpt/service-workers/push-console-messages-worker.js
  LayoutTests/http/wpt/service-workers/push-console-messages.js
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebCore/testing/ServiceWorkerInternals.cpp
  Source/WebCore/testing/ServiceWorkerInternals.h
  Source/WebCore/testing/ServiceWorkerInternals.idl
  Source/WebCore/workers/WorkerGlobalScope.h
  Source/WebCore/workers/service/ServiceWorkerGlobalScope.cpp
  Source/WebCore/workers/service/ServiceWorkerGlobalScope.h
  Source/WebCore/workers/service/ServiceWorkerRegistration.cpp
  Source/WebCore/workers/service/context/SWContextManager.h
  Source/WebCore/workers/service/context/ServiceWorkerThread.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerToContextConnection.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerToContextConnection.h
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerToContextConnection.messages.in
  Source/WebKit/UIProcess/API/Cocoa/WKWebsiteDataStore.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebsiteDataStoreDelegate.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.messages.in
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.h
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStoreClient.h
  Source/WebKit/WebProcess/Storage/WebSWContextManagerConnection.cpp
  Source/WebKit/WebProcess/Storage/WebSWContextManagerConnection.h
  Tools/WebKitTestRunner/TestController.cpp
  Tools/WebKitTestRunner/TestController.h
  Tools/WebKitTestRunner/cocoa/TestWebsiteDataStoreDelegate.mm
Labels: Service Workers

#12200 Discard decoded image data in Web processes with no foreground tabs
  Source/WebCore/rendering/RenderBoxModelObject.cpp
  Source/WebKit/GPUProcess/graphics/QualifiedResourceHeap.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.messages.in
  Source/WebKit/GPUProcess/graphics/RemoteResourceCache.cpp
  Source/WebKit/GPUProcess/graphics/RemoteResourceCache.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStoreCollection.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStoreCollection.mm
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.h
  Source/WebKit/WebProcess/WebPage/DrawingArea.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeContext.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeContext.mm
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDrawingArea.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDrawingArea.mm
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebProcess.cpp
  Source/WebKit/WebProcess/WebProcess.h
Labels: WebKit Process Model

#6925 Use WPE_RENDERER on PlayStation
  Source/WebKit/UIProcess/playstation/PageClientImpl.cpp
  Source/WebKit/UIProcess/playstation/PageClientImpl.h
  Source/WebKit/UIProcess/playstation/WebProcessPoolPlayStation.cpp
  Source/WebKit/WebProcess/EntryPoint/playstation/WebProcessMain.cpp
  Source/WebKit/WebProcess/playstation/WebProcessPlayStation.cpp
  Source/cmake/OptionsPlayStation.cmake
Labels: Platform

#12363 Fix memory leaks introduced by 262558@main
  Source/WebKit/Shared/Cocoa/ArgumentCodersCocoa.mm
Labels: unsafe-merge-queue, WebKit Misc.

#12385 Make config changes for iOS 16 Post Commit bot bringup
  Tools/CISupport/build-webkit-org/config.json
  Tools/CISupport/build-webkit-org/factories_unittest.py
  Tools/CISupport/build-webkit-org/public_html/dashboard/Scripts/WebKitBuildbot.js
Labels: merge-queue, Tools / Tests

#12390 [PlayStation] Register process provider in MiniBrowser
  Tools/MiniBrowser/playstation/main.cpp
Labels: unsafe-merge-queue, Tools / Tests

#12343 Make soft linked AVCaptureDeviceType strings optional
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.mm
  Source/WebCore/platform/mediastream/mac/AVCaptureDeviceManager.mm
Labels: WebRTC

#12347 Add WebKitAdditions bits for WKWebViewConfiguration
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewConfiguration.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewConfiguration.mm
Labels: Platform

#12396 [ iOS, macOS ] imported/w3c/web-platform-tests/html/dom/idlharness.https.html near constant failure.
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#12383 UI-side compositing: Weather.com background lags when scrolling.
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingTree.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingTree.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeEventDispatcher.cpp
Labels: Layout and Rendering

#11378 Remove unused CoreIPC endpoints
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebKit/UIProcess/API/mac/WKWebViewTestingMac.mm
  Source/WebKit/UIProcess/PDF/WKPDFHUDView.h
  Source/WebKit/UIProcess/PDF/WKPDFHUDView.mm
  Source/WebKit/UIProcess/PageClient.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/UIProcess/mac/PageClientImplMac.h
  Source/WebKit/UIProcess/mac/PageClientImplMac.mm
  Source/WebKit/UIProcess/mac/WebPageProxyMac.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKit/WebProcess/Plugins/PDF/PDFLayerControllerSPI.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
  Source/WebKit/WebProcess/WebPage/mac/WebPageMac.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKPDFView.mm
Labels: WebKit Process Model

#12339 [UI-side compositing] fast/scrolling/mac/momentum-scroll-with-borders.html is flakey
  Tools/WebKitTestRunner/InjectedBundle/EventSendingController.h
  Tools/WebKitTestRunner/InjectedBundle/InjectedBundle.cpp
  Tools/WebKitTestRunner/mac/EventSenderProxy.mm
Labels: Tools / Tests

#12389 REGRESSION(262547@main): Multiple layout tests crash when decoding a null ShareableBitmapHandle
  Source/WebKit/Shared/ShareableBitmap.cpp
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
Labels: unsafe-merge-queue, Layout and Rendering

#12394 REGRESSION(262479@main): IOKit extensions are not being created.
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: merge-queue, WebKit Misc.

#12369 Web Inspector: Network tab cleared items reappear with Preserve Log enabled
  Source/WebInspectorUI/UserInterface/Views/NetworkTableContentView.js
Labels: merge-queue, Web Inspector

#12305 [JSC] Intl tests should support ICU 72 / CLDR 42
  JSTests/stress/intl-displaynames.js
  JSTests/stress/intl-numberformat-unified.js
  JSTests/stress/intl-relativetimeformat.js
Labels: JavaScriptCore

#12400 Unreviewed, address Darin's feedback on #12098
  Source/JavaScriptCore/runtime/TemporalObject.cpp
Labels: merge-queue, JavaScriptCore

#12224 [GPU Process] To encode a CGImage, copy its pixels to a SharedMemory
  Source/WebKit/Platform/Logging.h
  Source/WebKit/Shared/ShareableBitmap.cpp
  Source/WebKit/Shared/ShareableBitmap.h
  Source/WebKit/Shared/cg/ShareableBitmapCG.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.cpp
Labels: Images

#12398 Speculative fix for crash mitigation in JSModuleRecord::instantiateDeclarations
  Source/JavaScriptCore/runtime/JSModuleRecord.cpp
Labels: merge-queue, JavaScriptCore

#12388 [ANGLE] Speculative fix for div-by-zero in DispatchCompute
  Source/ThirdParty/ANGLE/changes.diff
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/mtl_render_utils.mm
Labels: merge-queue, ANGLE

#12371 Use isInDocumentTree in HTMLElement::editabilityFromContentEditableAttr
  Source/WebCore/html/HTMLElement.cpp
Labels: DOM

#12403 Unreviewed gardening for ChakraCore tests on Win JSC
  JSTests/ChakraCore.yaml
  JSTests/ChakraCore/test/es5/hasItem.baseline-jsc-windows
Labels: JavaScriptCore

#12350 Use fixed-size deadCells vector in MarkedBlock::sweep
  Source/JavaScriptCore/heap/MarkedBlock.h
  Source/JavaScriptCore/heap/MarkedBlockInlines.h
Labels: JavaScriptCore

#12310 Enable new WebGL conformance tests, conformance/{programs,reading,renderbuffers,rendering}
  LayoutTests/TestExpectations
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/gtk-wayland/TestExpectations
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/ios-simulator/TestExpectations
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/wincairo/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
Labels: WebGL

#11485 Support Apple Pay in cross-origin iframes with allow=payment attribute
  LayoutTests/http/tests/paymentrequest/payment-allow-attribute.https-expected.txt
  Source/WebCore/Modules/applepay/PaymentSession.cpp
Labels: WebCore Misc.

#12382 [git-webkit] Provide mechanism to exempt bugs from redaction
  Tools/Scripts/hooks/pre-push
  Tools/Scripts/libraries/webkitbugspy/setup.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/__init__.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/bugzilla.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/github.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/issue.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/radar.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tests/bugzilla_unittest.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tests/github_unittest.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tests/radar_unittest.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tracker.py
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/pull_request_unittest.py
  metadata/trackers.json
Labels: Tools / Tests

#12013 [git-webkit] Clarify fork relationship in creation prompt
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/setup_unittest.py
Labels: Tools / Tests, skip-ews

#10696 Use generated code in ReferrerPolicy.cpp
  Source/WebCore/platform/ReferrerPolicy.cpp
Labels: Page Loading

#12024 Remote Web Inspector: Send the `presentingApplicationPID` to the relay process for WKWebViews
  Source/JavaScriptCore/inspector/remote/RemoteInspectionTarget.cpp
  Source/JavaScriptCore/inspector/remote/RemoteInspectionTarget.h
  Source/JavaScriptCore/inspector/remote/RemoteInspector.h
  Source/JavaScriptCore/inspector/remote/cocoa/RemoteInspectorCocoa.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: Web Inspector

#12409 Unreviewed, remove some dead code from the HTML fast parser
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
Labels: DOM

#12380 AcceleratedSurfaceDMABuf: clean up configuration arguments
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreDMABuf.cpp
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreDMABuf.h
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreDMABuf.messages.in
  Source/WebKit/WebProcess/WebPage/gtk/AcceleratedSurfaceDMABuf.cpp
Labels: merge-queue, New Bugs

#12393 Enable fetch priority hints by default
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: merge-queue, Page Loading

#12025 Deduplicate headers in generated GeneratedSerializers file
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.cpp
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.h
  Source/WebKit/Scripts/webkit/tests/SerializedTypeInfo.cpp
  Source/WebKit/Scripts/webkit/tests/TestSerializedType.serialization.in
Labels: Tools / Tests

#12415 Revert 262184@main
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
Labels: unsafe-merge-queue, WebKit Misc.

#12413 Make sure isLatin1() is a no-op for LChar characters
  Source/WTF/wtf/text/StringCommon.h
Labels: merge-queue

#12411 Add RELEASE_LOG_FAULT when message checks fail in service worker and shared worker connections
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerConnection.cpp
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServerConnection.cpp
Labels: merge-queue, WebKit Misc.

#12161 Enable GPU Process and UI side compositing on macOS
  Source/WTF/wtf/PlatformEnable.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Tools/MiniBrowser/mac/SettingsController.m
  Tools/Scripts/webkitpy/layout_tests/run_webkit_tests.py
  Tools/Scripts/webkitpy/port/driver.py
  Tools/WebKitTestRunner/Options.cpp
  Tools/WebKitTestRunner/TestOptions.cpp
  Tools/WebKitTestRunner/TestOptions.h
  Tools/WebKitTestRunner/mac/PlatformWebViewMac.mm
  Tools/WebKitTestRunner/mac/main.mm
Labels: Compositing

#12412 Configuring Xcode 14.3 for Embedded Development Fails
  Tools/Scripts/configure-xcode-for-embedded-development
Labels: Tools / Tests

#12399 Media: Videos opening fullscreen via JS API have duplicated fullscreen controls
  Source/WebKit/UIProcess/WebFullScreenManagerProxy.cpp
  Source/WebKit/UIProcess/WebFullScreenManagerProxy.h
  Source/WebKit/UIProcess/WebFullScreenManagerProxy.messages.in
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenViewController.h
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenViewController.mm
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.cpp
  Source/WebKit/WebProcess/InjectedBundle/InjectedBundlePageFullScreenClient.cpp
  Source/WebKit/WebProcess/InjectedBundle/InjectedBundlePageFullScreenClient.h
Labels: Media

#12379 Tracker traffic is blocked even if user grants tracking permission
  Source/WebKit/Scripts/process-entitlements.sh
Labels: WebKit Misc.

#12417 [git pre-push] Prevent pushing commits for redacted issues
  Tools/Scripts/hooks/pre-push
Labels: Tools / Tests, skip-ews

#12330 More build fixes for ANGLE on embedded platforms
  Source/ThirdParty/ANGLE/src/common/apple/apple_platform.h
  Source/ThirdParty/ANGLE/src/common/apple_platform_utils.mm
  Source/ThirdParty/ANGLE/src/common/platform.h
  Source/ThirdParty/ANGLE/src/common/system_utils.cpp
  Source/ThirdParty/ANGLE/src/common/system_utils_posix.cpp
  Source/ThirdParty/ANGLE/src/gpu_info_util/SystemInfo_internal.h
  Source/ThirdParty/ANGLE/src/gpu_info_util/SystemInfo_ios.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/Caps.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/Display.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/formatutils.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/driver_utils.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/driver_utils.h
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/gl/apple/DisplayApple_api.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/gl/renderergl_utils.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/DisplayMtl.mm
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/ShaderMtl.mm
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/mtl_utils.mm
Labels: ANGLE

#12426 Disable strict secure coding for PKPaymentSetupConfiguration
  Source/WebKit/Shared/Cocoa/ArgumentCodersCocoa.mm
Labels: unsafe-merge-queue, WebKit Misc.

#12423 [git-webkit] Handle edge-case of commit not on branch
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/scm_base.py
Labels: Tools / Tests, skip-ews

#12432 Revert another piece of 262558@main
  Source/WebKit/Shared/Cocoa/ArgumentCodersCocoa.mm
Labels: unsafe-merge-queue, WebKit Misc.

#12427 Remove the mechanism for blocking paint on non-final style
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/html/HTMLFrameSetElement.cpp
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/StyleMiscNonInheritedData.cpp
  Source/WebCore/rendering/style/StyleMiscNonInheritedData.h
  Source/WebCore/rendering/svg/RenderSVGRoot.cpp
  Source/WebCore/style/StyleScope.cpp
  Source/WebCore/style/StyleTreeResolver.cpp
Labels: CSS

#12438 [Gardening]: [ Debug ] http/tests/security/webaudio-render-remote-audio-allowed-crossorigin.html and one other test are flakey timeouts
  LayoutTests/platform/ios-simulator/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, Web Audio

#12431 [Cocoa] Refactor caps lock indicator display logic
  Source/WebCore/rendering/RenderThemeCocoa.mm
Labels: unsafe-merge-queue, Forms

#12439 [Gardening]: [ BigSur Debug ] http/tests/security/webaudio-render-remote-audio-blocked-no-crossorigin-redirect.html is a flakey timeout
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, Web Audio

#12440 [Gardening]: [ BigSur Debug ] http/tests/security/webaudio-render-remote-audio-blocked-no-crossorigin.html is a flakey timeout
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, Web Audio

#12428 [UI-side compositing] Flash of flipped content when pinching into tab overview in Safari
  Source/WebKit/UIProcess/API/Cocoa/_WKThumbnailView.mm
  Tools/TestWebKitAPI/SourcesCocoa.txt
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKit/WKThumbnailView.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/GPUProcess.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ImageAnalysisTests.mm
  Tools/TestWebKitAPI/cocoa/CGImagePixelReader.cpp
  Tools/TestWebKitAPI/cocoa/CGImagePixelReader.h
  Tools/TestWebKitAPI/cocoa/EnableUISideCompositingScope.h
  Tools/TestWebKitAPI/cocoa/EnableUISideCompositingScope.mm
Labels: merge-queue, WebKit2

#12419 Adjust fullscreen transition logic
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
Labels: unsafe-merge-queue, Media

#12445 [JSC] strcat-bigint-oom.js should only run on WASM platforms
  JSTests/stress/strcat-bigint-oom.js
Labels: merge-queue, New Bugs

#12430 [Lockdown Mode] Disable Web Codecs API
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ProcessSwapOnNavigation.mm
Labels: WebKit Misc.

#12422 No videos play if opened in full screen on first play
  Source/WebKit/WebProcess/cocoa/VideoFullscreenManager.h
  Source/WebKit/WebProcess/cocoa/VideoFullscreenManager.mm
Labels: merge-queue, WebKit Misc.

#12421 Use quaternary-fill UIColor in iOS attachment
  LayoutTests/platform/ios-wk2/fast/attachment/cocoa/wide-attachment-rendering-expected.txt
  Source/WebCore/PAL/pal/spi/ios/UIKitSPI.h
  Source/WebCore/css/CSSValueKeywords.in
  Source/WebCore/css/parser/CSSParserIdioms.cpp
  Source/WebCore/html/shadow/attachmentElementShadow.css
  Source/WebCore/rendering/RenderThemeIOS.mm
Labels: HTML Editing

#12450 Ensure Win JSC can run complex.yaml tests
  JSTests/complex.yaml
  Source/JavaScriptCore/jsc.cpp
Labels: JavaScriptCore

#12453 AcceleratedSurfaceDMABuf: Use WeakPtrFactoryInitialization::Eager
  Source/WebKit/WebProcess/WebPage/gtk/AcceleratedSurfaceDMABuf.h
Labels: merge-queue, WebKitGTK

#11741 Trimmed inline-end margins for flex items in horizontal writing-mode should be reflected in computed style.
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-inline-end-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-inline-end.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-inline-end-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-inline-end.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-inline-end-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-inline-end.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-inline-end-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-inline-end.html
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderFlexibleBox.cpp
Labels: CSS

#12191 Fix build with GCC 13 -Werror
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
  Source/JavaScriptCore/heap/AbstractSlotVisitorInlines.h
  Source/WebCore/animation/DocumentTimeline.cpp
  Source/WebCore/platform/animation/TimingFunction.h
  Source/WebCore/platform/graphics/AudioTrackPrivate.h
  Source/WebCore/platform/graphics/InbandTextTrackPrivate.h
  Source/WebCore/platform/graphics/TrackPrivateBase.h
  Source/WebCore/platform/graphics/VideoTrackPrivate.h
  Source/WebCore/style/ElementRuleCollector.cpp
  Source/WebCore/svg/SVGPathSeg.h
  Source/bmalloc/libpas/src/libpas/pas_fast_megapage_table.c
  Tools/TestWebKitAPI/Tests/WTF/BoxPtr.cpp
  Tools/TestWebKitAPI/Tests/WTF/CompactRefPtr.cpp
  Tools/TestWebKitAPI/Tests/WTF/NakedPtr.cpp
  Tools/TestWebKitAPI/Tests/WTF/PackedRefPtr.cpp
  Tools/TestWebKitAPI/Tests/WTF/RefPtr.cpp
Labels: WebKitGTK

#12441 [Cocoa] Enable SampleBufferContentKeySessionSupport by default
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebKit/Shared/Cocoa/WebPreferencesDefaultValuesCocoa.mm
  Source/WebKit/Shared/WebPreferencesDefaultValues.h
Labels: Media

#12418 REGRESSION (iOS 16.4): Our page crashes on page load due to service workers
  LayoutTests/http/wpt/service-workers/controlled-module-dedicatedworker.https-expected.txt
  LayoutTests/http/wpt/service-workers/controlled-module-dedicatedworker.https.html
  LayoutTests/http/wpt/service-workers/module-dedicatedworker-worker.js
  LayoutTests/http/wpt/service-workers/resources/controlled-module-worker.js
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerConnection.cpp
Labels: Service Workers
