Repository WebKit/WebKit, pull requests merged in 2023-11, with the labels that each got.

#19744 Add <input type=checkbox switch> internal pseudo-elements
  Source/WebCore/css/CSSSelector.cpp
  Source/WebCore/css/CSSSelector.h
  Source/WebCore/css/SelectorPseudoElementTypeMap.in
  Source/WebCore/css/htmlSwitchControl.css
  Source/WebCore/css/parser/CSSParserSelector.cpp
  Source/WebCore/css/parser/CSSParserSelector.h
  Source/WebCore/css/parser/CSSSelectorParser.cpp
  Source/WebCore/html/shadow/ShadowPseudoIds.cpp
  Source/WebCore/html/shadow/ShadowPseudoIds.h
  Source/WebCore/html/shadow/SwitchThumbElement.cpp
  Source/WebCore/html/shadow/SwitchThumbElement.h
  Source/WebCore/html/shadow/SwitchTrackElement.cpp
  Source/WebCore/html/shadow/SwitchTrackElement.h
  Source/WebCore/rendering/RenderTheme.cpp
Labels: merge-queue, DOM

#19796 Make SetInlineStroke construct PackedColor::RGBA from SRGBA by calling its constructor
  Source/WebCore/platform/graphics/displaylists/DisplayListItems.h
Labels: merge-queue, Layout and Rendering

#19802 Partial revert of 268586@main
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Labels: merge-queue, WebKit Misc.

#19812 REGRESSION (Sonoma): [ Sonoma wk2 arm64 ] compositing/hidpi-compositing-layer-with-tile-layers-on-subpixel-position.html is a constant failure
  LayoutTests/compositing/hidpi-compositing-layer-with-tile-layers-on-subpixel-position.html
Labels: unsafe-merge-queue, New Bugs

#19798 Add bounds check to AudioArray::operator[]
  Source/WebCore/platform/audio/AudioArray.h
Labels: merge-queue, Web Audio

#19760 Fix layering violation in Frame::disconnectOwnerElement()
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/page/Frame.cpp
  Source/WebCore/page/Frame.h
  Source/WebCore/page/LocalFrame.cpp
  Source/WebCore/page/LocalFrame.h
Labels: unsafe-merge-queue, WebCore Misc.

#15092 setSelectionRange will reset the m_latestFocusTrigger variable, causing the subsequently focused element to match the :focus-visible selector
  LayoutTests/fast/selectors/focus-visible-setSelectionRange-expected.txt
  LayoutTests/fast/selectors/focus-visible-setSelectionRange.html
  Source/WebCore/editing/FrameSelection.cpp
  Source/WebCore/editing/FrameSelection.h
  Source/WebCore/html/HTMLInputElement.cpp
  Source/WebCore/html/HTMLTextAreaElement.cpp
  Source/WebCore/html/HTMLTextAreaElement.h
  Source/WebCore/html/HTMLTextAreaElement.idl
  Source/WebCore/html/HTMLTextFormControlElement.cpp
  Source/WebCore/html/HTMLTextFormControlElement.h
Labels: DOM

#19822 [WinCairo] Unreviewed test gardening
  LayoutTests/platform/wincairo/TestExpectations
Labels: unsafe-merge-queue

#19797 Adopt more smart pointers in DocumentWriter
  Source/WebCore/loader/DocumentWriter.cpp
  Source/WebCore/loader/DocumentWriter.h
Labels: merge-queue, DOM

#19715 WebGLRenderingContextBase preventBufferClearForInspector is redundant
  Source/WebCore/Modules/mediastream/CanvasCaptureMediaStreamTrack.cpp
  Source/WebCore/html/CanvasBase.cpp
  Source/WebCore/html/HTMLCanvasElement.cpp
  Source/WebCore/html/OffscreenCanvas.cpp
  Source/WebCore/html/canvas/CanvasRenderingContext.h
  Source/WebCore/html/canvas/GPUCanvasContextCocoa.h
  Source/WebCore/html/canvas/GPUCanvasContextCocoa.mm
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
  Source/WebCore/inspector/InspectorCanvas.cpp
Labels: WebGL

#19778 [WebGPU] Compiler error opening https://kishimisu.github.io/WebGPU-Fluid-Simulation/
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/tests/valid/scope.wgsl
Labels: WebGPU

#19768 [TextureMapper] Merge TextureMapper and TextureMapperGL
  Source/WebCore/platform/TextureMapper.cmake
  Source/WebCore/platform/graphics/gstreamer/GStreamerVideoFrameHolder.cpp
  Source/WebCore/platform/graphics/gstreamer/GStreamerVideoFrameHolder.h
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.h
  Source/WebCore/platform/graphics/holepunch/MediaPlayerPrivateHolePunch.cpp
  Source/WebCore/platform/graphics/holepunch/MediaPlayerPrivateHolePunch.h
  Source/WebCore/platform/graphics/nicosia/NicosiaGCGLANGLELayer.cpp
  Source/WebCore/platform/graphics/nicosia/NicosiaImageBufferPipe.cpp
  Source/WebCore/platform/graphics/texmap/BitmapTexture.cpp
  Source/WebCore/platform/graphics/texmap/BitmapTexture.h
  Source/WebCore/platform/graphics/texmap/BitmapTextureGL.cpp
  Source/WebCore/platform/graphics/texmap/BitmapTextureGL.h
  Source/WebCore/platform/graphics/texmap/BitmapTexturePool.cpp
  Source/WebCore/platform/graphics/texmap/BitmapTexturePool.h
  Source/WebCore/platform/graphics/texmap/TextureMapper.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapper.h
  Source/WebCore/platform/graphics/texmap/TextureMapperContextAttributes.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperContextAttributes.h
  Source/WebCore/platform/graphics/texmap/TextureMapperGCGLPlatformLayer.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperGL.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperGL.h
  Source/WebCore/platform/graphics/texmap/TextureMapperLayer.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerBuffer.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerBuffer.h
  Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerProxy.h
  Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerProxyDMABuf.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerProxyDMABuf.h
  Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerProxyGL.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperShaderProgram.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperShaderProgram.h
  Source/WebCore/platform/graphics/texmap/TextureMapperTile.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperTile.h
  Source/WebCore/platform/graphics/texmap/TextureMapperTiledBackingStore.cpp
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedBackingStore.cpp
  Source/WebKit/GPUProcess/graphics/wc/WCScene.cpp
  Source/WebKit/GPUProcess/graphics/wc/WCSceneContext.cpp
  Source/WebKit/Shared/CoordinatedGraphics/CoordinatedGraphicsScene.cpp
  Source/WebKit/Shared/CoordinatedGraphics/CoordinatedGraphicsScene.h
  Source/WebKit/WebProcess/GPU/graphics/gbm/RemoteGraphicsContextGLProxyGBM.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHostTextureMapper.cpp
  Source/cmake/OptionsGTK.cmake
  Source/cmake/OptionsPlayStation.cmake
  Source/cmake/OptionsWPE.cmake
  Source/cmake/OptionsWin.cmake
Labels: unsafe-merge-queue, Platform

#19795 Use more smart pointers in SubresourceLoader
  Source/WebCore/loader/ResourceLoader.cpp
  Source/WebCore/loader/ResourceLoader.h
  Source/WebCore/loader/SubresourceLoader.cpp
Labels: unsafe-merge-queue, Page Loading

#19829 [TextureMapper] Use OptionSet for TextureMapperFlags
  Source/WebCore/platform/graphics/gstreamer/GStreamerVideoFrameHolder.cpp
  Source/WebCore/platform/graphics/gstreamer/GStreamerVideoFrameHolder.h
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.h
  Source/WebCore/platform/graphics/nicosia/NicosiaGCGLANGLELayer.cpp
  Source/WebCore/platform/graphics/nicosia/NicosiaImageBufferPipe.cpp
  Source/WebCore/platform/graphics/texmap/BitmapTexture.cpp
  Source/WebCore/platform/graphics/texmap/BitmapTexture.h
  Source/WebCore/platform/graphics/texmap/TextureMapper.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapper.h
  Source/WebCore/platform/graphics/texmap/TextureMapperFlags.h
  Source/WebCore/platform/graphics/texmap/TextureMapperGCGLPlatformLayer.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperLayer.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperLayer.h
  Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerBuffer.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerBuffer.h
  Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerProxyDMABuf.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerProxyDMABuf.h
  Source/WebCore/platform/graphics/texmap/TextureMapperTile.h
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedBackingStore.h
  Source/WebKit/WebProcess/GPU/graphics/gbm/RemoteGraphicsContextGLProxyGBM.cpp
Labels: unsafe-merge-queue, Platform

#19783 [WGSL] ConstantValue should be more precise
  Source/WebGPU/WGSL/AttributeValidator.cpp
  Source/WebGPU/WGSL/ConstantFunctions.h
  Source/WebGPU/WGSL/ConstantValue.cpp
  Source/WebGPU/WGSL/ConstantValue.h
  Source/WebGPU/WGSL/Metal/MetalFunctionWriter.cpp
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WebGPU/ComputePipeline.mm
  Source/WebGPU/WebGPU/Pipeline.mm
Labels: WebGPU

#19833 REGRESSION(267643@main): wpt /css/css-properties-values-api/var-reference-registered-properties.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-properties-values-api/var-reference-registered-properties-expected.txt
  Source/WebCore/css/CSSCustomPropertyValue.cpp
  Source/WebCore/css/CSSCustomPropertyValue.h
Labels: CSS

#19834 REGRESSION(269895@main):[WPE] 52 new API tests failures
  Source/WebKit/UIProcess/WebProcessProxy.cpp
Labels: unsafe-merge-queue, WPE WebKit

#19784 Adopt more smart pointers in LocalFrame
  Source/WebCore/animation/DocumentTimelinesController.h
  Source/WebCore/editing/Editor.h
  Source/WebCore/page/LocalFrame.cpp
  Source/WebCore/page/LocalFrame.h
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
Labels: Frames

#19772 Move macOS specific ipc/restrictedendpoint tests to a mac test subdirectory
  LayoutTests/TestExpectations
  LayoutTests/ipc/restrictedendpoints/mac/allow-access-modelElement-expected.txt
  LayoutTests/ipc/restrictedendpoints/mac/allow-access-modelElement.html
  LayoutTests/ipc/restrictedendpoints/mac/deny-access-modelElement-expected.txt
  LayoutTests/ipc/restrictedendpoints/mac/deny-access-modelElement.html
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/wk2/TestExpectations
Labels: WebKit Process Model

#19811 REGRESSION (Sonoma): [ Sonoma wk1 arm64 ] imported/blink/compositing/layer-creation/incremental-destruction.html is constant failure
  LayoutTests/imported/blink/compositing/layer-creation/incremental-destruction-expected.html
  LayoutTests/imported/blink/compositing/layer-creation/incremental-destruction.html
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: merge-queue, New Bugs

#19782 Incorrect documentation for webkit-cookie-manager-get-cookies-finish
  Source/WebKit/UIProcess/API/glib/WebKitCookieManager.cpp
Labels: merge-queue, WebKitGTK

#19835 [AutoInstall] prefer wheels whenever possible (Follow-up fix)
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
Labels: unsafe-merge-queue, Tools / Tests, skip-ews

#19776 [WGSL] no matching overload for operator >>(i32, u32)
  Source/WebGPU/WGSL/ConstantFunctions.h
  Source/WebGPU/WGSL/TypeDeclarations.rb
  Source/WebGPU/WGSL/tests/valid/overload.wgsl
Labels: WebGPU

#19721 [Cocoa] YouTube videos sometimes do not resize properly in fullscreen
  Source/WebCore/platform/cocoa/VideoPresentationModelVideoElement.mm
  Source/WebCore/platform/cocoa/WebAVPlayerLayer.mm
  Source/WebKit/UIProcess/Cocoa/VideoPresentationManagerProxy.mm
  Source/WebKit/WebProcess/cocoa/VideoPresentationManager.h
  Source/WebKit/WebProcess/cocoa/VideoPresentationManager.messages.in
  Source/WebKit/WebProcess/cocoa/VideoPresentationManager.mm
Labels: Media

#19815 Fix integer overflow in BitstreamReader::ReadBit called from H265SpsParser::ParseSpsInternal
  Source/ThirdParty/libwebrtc/Source/webrtc/common_video/h265/h265_sps_parser.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/bitstream_reader.cc
  Source/ThirdParty/libwebrtc/WebKit/0001-Fix-integer-overflow-in-BitstreamReader-ReadBit-call.patch
Labels: WebRTC

#19841 [GARDENING][ Sonoma EWS ] Suppress failures on EWS to avoid false positives on patches
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue

#19737 Improve launch time of WebKit processes, v3
  Source/WTF/wtf/PlatformUse.h
  Source/WebKit/Configurations/BaseExtension.xcconfig
  Source/WebKit/Platform/spi/Cocoa/ExtensionKitSPI.h
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.cpp
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.h
  Source/WebKit/UIProcess/Cocoa/AuxiliaryProcessProxyCocoa.mm
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/UIProcess/Launcher/ProcessLauncher.h
  Source/WebKit/UIProcess/Launcher/cocoa/ProcessLauncherCocoa.mm
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: merge-queue, WebKit Misc.

#19730 Address some Web Extension API feedback.
  Source/WebKit/Shared/API/Cocoa/WKFoundation.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtension.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionContext.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionControllerConfiguration.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionControllerDelegate.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionMessagePort.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionTab.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionTabCreationOptions.h
Labels: unsafe-merge-queue, WebKit Extensions

#19741 Strong Password button is clipped on google.com and imdb.com
  LayoutTests/fast/forms/auto-fill-button/input-strong-password-viewable-baseline-alignment-expected.html
  LayoutTests/fast/forms/auto-fill-button/input-strong-password-viewable-baseline-alignment.html
  LayoutTests/fast/forms/auto-fill-button/input-strong-password-viewable-taller-button-height-expected.html
  LayoutTests/fast/forms/auto-fill-button/input-strong-password-viewable-taller-button-height.html
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/ios/fast/forms/auto-fill-button/input-strong-password-auto-fill-button-expected.txt
  LayoutTests/platform/mac/fast/forms/auto-fill-button/input-strong-password-auto-fill-button-expected.txt
  Source/WebCore/rendering/RenderBlockFlow.cpp
  Source/WebCore/rendering/RenderTextControlSingleLine.cpp
Labels: Forms

#19837 REGRESSION(269895@main):[WPE] 52 new API tests failures
  Source/WebKit/UIProcess/WebProcessProxy.cpp
Labels: merge-queue, WPE WebKit

#19664 [macOS WKTR] Enable async overflow scrolling by default for WPTs
  LayoutTests/platform/mac-wk2/TestExpectations
  Tools/TestRunnerShared/TestFeatures.cpp
  Tools/TestRunnerShared/WPTFunctions.cpp
  Tools/TestRunnerShared/WPTFunctions.h
  Tools/WebKitTestRunner/WebKitTestRunner.xcodeproj/project.pbxproj
  Tools/WebKitTestRunner/mac/TestControllerMac.mm
Labels: Tools / Tests

#19748 [Xcode] Dead webkitdirs.pm code assumes all signing identities start with "iPhone Developer"
  Source/JavaScriptCore/Configurations/DebugRelease.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/DebugRelease.xcconfig
  Source/WebKit/Configurations/DebugRelease.xcconfig
  Tools/DumpRenderTree/mac/Configurations/DebugRelease.xcconfig
  Tools/MobileMiniBrowser/Configurations/DebugRelease.xcconfig
  Tools/Scripts/webkitdirs.pm
  Tools/TestWebKitAPI/Configurations/DebugRelease.xcconfig
  Tools/WebKitTestRunner/Configurations/DebugRelease.xcconfig
Labels: Tools / Tests

#19844 Work around thread-safety analysis regression in clang
  Source/JavaScriptCore/heap/MarkedBlock.cpp
Labels: merge-queue, JavaScriptCore

#19766 Remove JSC MIPS queues
  Tools/CISupport/build-webkit-org/config.json
  Tools/CISupport/build-webkit-org/factories_unittest.py
  Tools/CISupport/build-webkit-org/public_html/dashboard/Scripts/WebKitBuildbot.js
  Tools/CISupport/build-webkit-org/steps.py
  Tools/CISupport/build-webkit-org/wkbuild.py
  Tools/CISupport/ews-app/ews/common/buildbot.py
  Tools/CISupport/ews-app/ews/common/github.py
  Tools/CISupport/ews-app/ews/views/statusbubble.py
  Tools/CISupport/ews-build/config.json
  Tools/CISupport/ews-build/factories_unittest.py
  Tools/CISupport/ews-build/send_email.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: JavaScriptCore

#19759 Lyrics jump around in Spotify
  LayoutTests/fast/scrolling/cancel-animated-scroll-should-not-scroll-from-zero-expected.txt
  LayoutTests/fast/scrolling/cancel-animated-scroll-should-not-scroll-from-zero-overflow-expected.txt
  LayoutTests/fast/scrolling/cancel-animated-scroll-should-not-scroll-from-zero-overflow.html
  LayoutTests/fast/scrolling/cancel-animated-scroll-should-not-scroll-from-zero.html
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNode.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingTreeMac.mm
Labels: Scrolling

#19799 Listen for language and power mode notifications
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
Labels: WebKit Misc.

#19847 Add support for getBackgroundPage and getViews in Web Extensions.
  Source/WebKit/Shared/Extensions/WebExtensionContextParameters.h
  Source/WebKit/Shared/Extensions/WebExtensionContextParameters.serialization.in
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewConfiguration.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIRuntimeCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionActionCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionURLSchemeHandlerCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.cpp
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.messages.in
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIExtensionCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIRuntimeCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPITabsCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIWindowsCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIExtension.h
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIRuntime.h
  Source/WebKit/WebProcess/Extensions/Bindings/JSWebExtensionWrapper.h
  Source/WebKit/WebProcess/Extensions/Cocoa/WebExtensionContextProxyCocoa.mm
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPIExtension.idl
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPIRuntime.idl
  Source/WebKit/WebProcess/Extensions/WebExtensionContextProxy.cpp
  Source/WebKit/WebProcess/Extensions/WebExtensionContextProxy.h
  Source/WebKit/WebProcess/Extensions/WebExtensionContextProxy.messages.in
  Source/WebKit/WebProcess/Extensions/WebExtensionControllerProxy.cpp
  Source/WebKit/WebProcess/Extensions/WebExtensionControllerProxy.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIAction.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIExtension.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIRuntime.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPITabs.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIWindows.mm
  Tools/TestWebKitAPI/cocoa/WebExtensionUtilities.h
  Tools/TestWebKitAPI/cocoa/WebExtensionUtilities.mm
Labels: WebKit Extensions

#19855 [JSC] Fix StringAppend crash with tryMakeString in initializeDateTimeFormat
  JSTests/stress/intl-data-time-format-string-overflow.js
  Source/JavaScriptCore/runtime/IntlDateTimeFormat.cpp
Labels: JavaScriptCore

#19813 REGRESSION (Sonoma): [ Sonoma wk2 Release ] compositing/reflections/repaint-with-reflection.html is flaky
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeContext.mm
Labels: New Bugs

#19860 Reflect.construct can churn cached internalFunctionAllocationStructure
  JSTests/stress/reflect-construct-reenter-prototype-get-different-global.js
  JSTests/stress/reflect-construct-reenter-prototype-get.js
  Source/JavaScriptCore/runtime/InternalFunction.cpp
Labels: unsafe-merge-queue

#19849 WebKit needs to continue "wrongly" re-exporting libobjc.dylib for compatibility
  Source/WebKit/Configurations/WebKit.xcconfig
Labels: WebKit Misc.

#19852 Add bounds check to TextRun::operator[]
  Source/WebCore/platform/graphics/TextRun.h
Labels: merge-queue, Layout and Rendering

#19854 Add bounds check for CSSValueList::operator[]
  Source/WebCore/css/CSSValueList.h
Labels: merge-queue, CSS

#19826 [LBSE] Reduce SVG state in RenderLayer
  Source/WebCore/rendering/RenderLayer.cpp
Labels: merge-queue, SVG

#19866 platform/ios/mediastream/video-muted-in-background-tab.html causes crashes in subsequent tests
  LayoutTests/platform/ios-wk2/TestExpectations
Labels: unsafe-merge-queue, Media

#19843 REGRESSION (267119@main?): Occasional unrecognized selector under -[WKWebEvent initWithEvent:]
  Source/WebKit/UIProcess/ios/WKWebEvent.mm
Labels: unsafe-merge-queue, Platform

#17845 Re-run meta@name=color-scheme processing when name attribute or content attribute changes
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/document-metadata/the-meta-element/color-scheme/meta-color-scheme-attribute-changes-expected.txt
  Source/WebCore/html/HTMLMetaElement.cpp
  Source/WebCore/html/HTMLMetaElement.h
Labels: DOM

#19865 Unreviewed, fix iOS production builds after 270071@main
  Tools/WebKitTestRunner/WebKitTestRunner.xcodeproj/project.pbxproj
Labels: unsafe-merge-queue

#18790 [ScrollingTree mac] Fix scrolling when event region and scroll container are distinct
  LayoutTests/imported/w3c/web-platform-tests/pointerevents/pointerevent_hit_test_scroll_visible_descendant-expected.txt
  Source/WebCore/page/scrolling/mac/ScrollingTreeMac.mm
  Source/WebCore/platform/graphics/cocoa/WebCoreCALayerExtras.h
  Source/WebCore/platform/graphics/cocoa/WebCoreCALayerExtras.mm
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingTreeMac.mm
Labels: Layout and Rendering

#19825 [JSC] Do not declare callee name when it is function declaration
  JSTests/microbenchmarks/function-declaration-name.js
  Source/JavaScriptCore/API/JSScriptRef.cpp
  Source/JavaScriptCore/API/glib/JSCContext.cpp
  Source/JavaScriptCore/builtins/BuiltinExecutables.cpp
  Source/JavaScriptCore/bytecode/UnlinkedFunctionExecutable.cpp
  Source/JavaScriptCore/debugger/DebuggerParseData.cpp
  Source/JavaScriptCore/parser/Parser.cpp
  Source/JavaScriptCore/parser/Parser.h
  Source/JavaScriptCore/parser/ParserModes.h
  Source/JavaScriptCore/runtime/CodeCache.cpp
  Source/JavaScriptCore/runtime/Completion.cpp
  Source/JavaScriptCore/runtime/JSModuleLoader.cpp
Labels: JavaScriptCore

#19814 [ Sonoma+ iOS ] compositing/masks/compositing-clip-path-change-no-repaint.html is a consistent failure.
  LayoutTests/compositing/masks/compositing-clip-path-change-no-repaint.html
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: Compositing

#19806 [css-grid][aspect-ratio] availableLogicalHeightUsing needs to consider AvailableLogicalHeightType when computing logical height from the aspect ratio
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/grid-with-aspect-ratio-uses-content-box-height-for-track-sizing-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/grid-with-aspect-ratio-uses-content-box-height-for-track-sizing.html
  Source/WebCore/rendering/RenderBox.cpp
Labels: merge-queue, Layout and Rendering

#19856 Use-after-free under WebCore::Scrollbar::supportsUpdateOnSecondaryThread
  Source/WebCore/platform/mac/ScrollbarsControllerMac.mm
Labels: merge-queue

#19624 [JSC] Stop ignoring useWebAssembly=1 when JIT is disabled
  Source/JavaScriptCore/runtime/Options.cpp
Labels: JavaScriptCore

#19763 Deploy even more smart pointers in Source/WebKit/UIProcess
  Source/WebKit/UIProcess/WebProcessCache.cpp
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/mac/TiledCoreAnimationDrawingAreaProxy.mm
  Source/WebKit/UIProcess/mac/WKFullScreenWindowController.mm
  Source/WebKit/UIProcess/mac/WebContextMenuProxyMac.mm
Labels: WebKit2

#19845 REGRESSION (269939@main): [ macOS iOS17 Debug ]ASSERTION FAILED: m_compositingResultsNeedUpdating in imported/w3c/web-platform-tests/html/canvas/offscreen/manual/the-offscreen-canvas/offscreencanvas.resize.html result of constant crash
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: merge-queue, New Bugs

#19842 [WebGPU] MSL compilation error opening https://kishimisu.github.io/WebGPU-Fluid-Simulation/
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/tests/invalid/return.wgsl
  Source/WebGPU/WGSL/tests/valid/return.wgsl
Labels: merge-queue, WebGPU

#19832 [TextureMapper] Make ExposedEdges enum a boolean enum
  Source/WebCore/platform/graphics/texmap/TextureMapper.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapper.h
  Source/WebCore/platform/graphics/texmap/TextureMapperBackingStore.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperBackingStore.h
  Source/WebCore/platform/graphics/texmap/TextureMapperSparseBackingStore.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperTile.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperTile.h
  Source/WebCore/platform/graphics/texmap/TextureMapperTiledBackingStore.cpp
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedBackingStore.cpp
Labels: Platform

#19873 Add an empty stub for Web Extension's runtime.setUninstallURL().
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIRuntimeCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIRuntime.h
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPIRuntime.idl
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIRuntime.mm
Labels: unsafe-merge-queue, WebKit Extensions

#19877 SVGTextMetricsBuilder::measureTextRenderer exhibits O(n^2) behavior
  Source/WebCore/rendering/svg/RenderSVGText.cpp
  Source/WebCore/rendering/svg/SVGTextLayoutAttributesBuilder.cpp
  Source/WebCore/rendering/svg/SVGTextLayoutAttributesBuilder.h
  Source/WebCore/rendering/svg/SVGTextMetricsBuilder.cpp
  Source/WebCore/rendering/svg/SVGTextMetricsBuilder.h
Labels: unsafe-merge-queue, SVG

#19770 Update WebGL conformance tests 2023-10-14 (39b34d8f45ab0d5c243f336420d7475dbe4ed61f)
  LayoutTests/TestExpectations
  LayoutTests/platform/ios-simulator/TestExpectations
  LayoutTests/webgl/2.0.y/conformance2/canvas/drawingbuffer-storage-test-expected.txt
  LayoutTests/webgl/2.0.y/conformance2/canvas/drawingbuffer-storage-test.html
  LayoutTests/webgl/2.0.y/conformance2/query/occlusion-query-scissor-expected.txt
  LayoutTests/webgl/2.0.y/conformance2/query/occlusion-query-scissor.html
  LayoutTests/webgl/2.0.y/conformance2/wasm/readpixels-16gb-wasm-memory-expected.txt
  LayoutTests/webgl/2.0.y/conformance2/wasm/readpixels-16gb-wasm-memory.html
  LayoutTests/webgl/2.0.y/conformance2/wasm/readpixels-4gb-wasm-memory-expected.txt
  LayoutTests/webgl/2.0.y/conformance2/wasm/readpixels-4gb-wasm-memory.html
  LayoutTests/webgl/2.0.y/conformance2/wasm/teximage2d-16gb-wasm-memory-expected.txt
  LayoutTests/webgl/2.0.y/conformance2/wasm/teximage2d-16gb-wasm-memory.html
  LayoutTests/webgl/2.0.y/conformance2/wasm/teximage2d-4gb-wasm-memory-expected.txt
  LayoutTests/webgl/2.0.y/conformance2/wasm/teximage2d-4gb-wasm-memory.html
  LayoutTests/webgl/2.0.y/conformance2/wasm/texsubimage2d-16gb-wasm-memory-expected.txt
  LayoutTests/webgl/2.0.y/conformance2/wasm/texsubimage2d-16gb-wasm-memory.html
  LayoutTests/webgl/2.0.y/conformance2/wasm/texsubimage2d-4gb-wasm-memory-expected.txt
  LayoutTests/webgl/2.0.y/conformance2/wasm/texsubimage2d-4gb-wasm-memory.html
  LayoutTests/webgl/resources/webgl_test_files/conformance/canvas/drawingbuffer-storage-test.html
  LayoutTests/webgl/resources/webgl_test_files/conformance/extensions/khr-parallel-shader-compile.html
  LayoutTests/webgl/resources/webgl_test_files/conformance2/canvas/drawingbuffer-storage-test.html
  LayoutTests/webgl/resources/webgl_test_files/conformance2/query/occlusion-query-scissor.html
  LayoutTests/webgl/resources/webgl_test_files/conformance2/renderbuffers/framebuffer-texture-layer.html
  LayoutTests/webgl/resources/webgl_test_files/conformance2/rendering/blitframebuffer-test.html
  LayoutTests/webgl/resources/webgl_test_files/conformance2/textures/misc/tex-image-10bpc.html
  LayoutTests/webgl/resources/webgl_test_files/conformance2/wasm/readpixels-16gb-wasm-memory.html
  LayoutTests/webgl/resources/webgl_test_files/conformance2/wasm/readpixels-4gb-wasm-memory.html
  LayoutTests/webgl/resources/webgl_test_files/conformance2/wasm/teximage2d-16gb-wasm-memory.html
  LayoutTests/webgl/resources/webgl_test_files/conformance2/wasm/teximage2d-4gb-wasm-memory.html
  LayoutTests/webgl/resources/webgl_test_files/conformance2/wasm/texsubimage2d-16gb-wasm-memory.html
  LayoutTests/webgl/resources/webgl_test_files/conformance2/wasm/texsubimage2d-4gb-wasm-memory.html
  LayoutTests/webgl/resources/webgl_test_files/js/tests/drawingbuffer-storage-test.js
  LayoutTests/webgl/resources/webgl_test_files/resources/red-gradient-8x1-10bit-untagged.png
Labels: WebGL

#19670 Web Inspector: Add Versioned Protocol for iOS 17.0 and macOS 14.0
  Source/WebInspectorUI/UserInterface/Protocol/Legacy/iOS/17.0/InspectorBackendCommands.js
  Source/WebInspectorUI/UserInterface/Protocol/Legacy/macOS/14.0/InspectorBackendCommands.js
  Source/WebInspectorUI/Versions/Inspector-iOS-17.0.json
  Source/WebInspectorUI/Versions/Inspector-macOS-14.0.json
Labels: Web Inspector, skip-ews

#19819 Serialize content of style information element with URL replacement
  Source/WebCore/css/CSSFontFaceRule.cpp
  Source/WebCore/css/CSSFontFaceRule.h
  Source/WebCore/css/CSSFontFaceSrcValue.cpp
  Source/WebCore/css/CSSFontFaceSrcValue.h
  Source/WebCore/css/CSSImageValue.cpp
  Source/WebCore/css/CSSImageValue.h
  Source/WebCore/css/CSSRule.h
  Source/WebCore/css/CSSStyleRule.cpp
  Source/WebCore/css/CSSStyleRule.h
  Source/WebCore/css/CSSValue.cpp
  Source/WebCore/css/CSSValue.h
  Source/WebCore/css/CSSValueList.cpp
  Source/WebCore/css/CSSValueList.h
  Source/WebCore/css/StyleProperties.cpp
  Source/WebCore/css/StyleProperties.h
  Source/WebCore/editing/MarkupAccumulator.cpp
  Source/WebCore/editing/MarkupAccumulator.h
  Source/WebCore/html/HTMLStyleElement.cpp
  Source/WebCore/html/HTMLStyleElement.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/CreateWebArchive.mm
Labels: merge-queue, New Bugs

#19890 [Gardening]: NEW TEST: [ macOS wk1 arm64 ] 2 tests in imported/w3c/web-platform-tests/css/css-backgrounds/background-size have constant image failure
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#19863 [iOS] vimeo.com: Full screen, wide aspect-ratio videos are vertically offset
  Source/WebCore/dom/Document+Fullscreen.idl
  Source/WebCore/dom/DocumentOrShadowRoot+Fullscreen.idl
  Source/WebCore/dom/Element+Fullscreen.idl
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
Labels: Media

#19892 [Gardening]: REGRESSION (Sonoma): [ Sonoma wk2 arm64 ] compositing/hidpi-compositing-layer-with-tile-layers-on-subpixel-position.html is a constant failure
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#19872 WebCore::ProcessingUserGestureState should be an enum class
  Source/WebCore/Modules/mediacontrols/MediaControlsHost.cpp
  Source/WebCore/Modules/mediasession/MediaSession.cpp
  Source/WebCore/accessibility/AccessibilityNodeObject.cpp
  Source/WebCore/accessibility/AccessibilityObject.cpp
  Source/WebCore/bindings/js/ScriptController.cpp
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/DocumentStorageAccess.cpp
  Source/WebCore/dom/UserGestureIndicator.cpp
  Source/WebCore/dom/UserGestureIndicator.h
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/inspector/InspectorFrontendClientLocal.cpp
  Source/WebCore/inspector/InspectorFrontendHost.cpp
  Source/WebCore/inspector/UserGestureEmulationScope.cpp
  Source/WebCore/inspector/agents/InspectorPageAgent.cpp
  Source/WebCore/page/EventHandler.cpp
  Source/WebCore/platform/cocoa/VideoPresentationModelVideoElement.mm
  Source/WebCore/rendering/HitTestResult.cpp
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/WebXRTest.cpp
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.cpp
  Source/WebKit/WebProcess/Notifications/WebNotificationManager.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebContextMenuClient.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Source/WebKit/WebProcess/cocoa/PlaybackSessionManager.mm
Labels: WebCore Misc.

#19867 Refactor RevealItem to replace RVItem for IPC messaging
  Source/WebCore/editing/cocoa/DictionaryLookup.mm
  Source/WebKit/Shared/Cocoa/RevealItem.h
  Source/WebKit/Shared/Cocoa/RevealItem.mm
  Source/WebKit/Shared/Cocoa/RevealItem.serialization.in
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
Labels: merge-queue, WebKit Misc.

#19868 JSC should throw an exception when BigUint64Array copy value from Int32Array
  JSTests/stress/bigint-array-set.js
  Source/JavaScriptCore/runtime/JSGenericTypedArrayViewInlines.h
Labels: merge-queue, JavaScriptCore

#19817 Adopt UIAsyncTextInteraction behind the "Async UIKit Interactions" setting
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/ios/WKContentView.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/ios/WKTextInteractionWrapper.h
  Source/WebKit/UIProcess/ios/WKTextInteractionWrapper.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: Platform

#19895 Fix REGRESSION (267685@main): lldb-webkit-test is failing
  Tools/Scripts/test-lldb-webkit
  Tools/Scripts/webkitpy/test/finder_unittest.py
Labels: merge-queue, Tools / Tests

#19864 WebKit Cursor Pulsing is too slow while dictating
  Source/WebCore/platform/DictationCaretAnimator.cpp
Labels: merge-queue, Layout and Rendering

#19908 Revert [270072@main] [Xcode] Dead webkitdirs.pm code assumes all signing identities start with "iPhone Developer"
  Source/JavaScriptCore/Configurations/DebugRelease.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/DebugRelease.xcconfig
  Source/WebKit/Configurations/DebugRelease.xcconfig
  Tools/DumpRenderTree/mac/Configurations/DebugRelease.xcconfig
  Tools/MobileMiniBrowser/Configurations/DebugRelease.xcconfig
  Tools/Scripts/webkitdirs.pm
  Tools/TestWebKitAPI/Configurations/DebugRelease.xcconfig
  Tools/WebKitTestRunner/Configurations/DebugRelease.xcconfig
Labels: unsafe-merge-queue, Tools / Tests

#19851 Adopt more smart pointers in WidthIterator
  Source/WebCore/platform/graphics/FontCascade.cpp
  Source/WebCore/platform/graphics/FontCascade.h
  Source/WebCore/platform/graphics/TextRun.cpp
  Source/WebCore/platform/graphics/TextRun.h
  Source/WebCore/platform/graphics/WidthIterator.cpp
  Source/WebCore/platform/graphics/WidthIterator.h
  Source/WebCore/rendering/svg/SVGTextMetricsBuilder.cpp
Labels: merge-queue, Layout and Rendering

#19900 [CSS Highlight API] Argument is missing from CSS highlight pseudo-element serialization
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-pseudo-parsing-expected.txt
  Source/WebCore/css/CSSSelector.cpp
Labels: unsafe-merge-queue, CSS

#19905 [Xcode] Stop passing -fvisibility-inlines-hidden to TAPI
  Source/JavaScriptCore/Configurations/JavaScriptCore.xcconfig
  Source/WebKitLegacy/mac/Configurations/WebKitLegacy.xcconfig
Labels: merge-queue, Tools / Tests

#19914 [Gardening]: REGRESSION ( Sonoma ): [ Sonoma wk2 ] 3 tests in webrtc are consistent failure
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#19902 [JSC] Fix LocaleIDBuilder::setKeywordValue by letting the callers to handle U_SUCCESS
  JSTests/stress/intl-locale-exceptions.js
  Source/JavaScriptCore/runtime/IntlLocale.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#19906 We should cache the first base element in Document
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/dom/SelectorQuery.cpp
Labels: DOM

#19922 REBASELINE (Sonoma): Failure in fast/css/text-overflow-input.html following Sonoma bring-up.
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-monterey/fast/css/text-overflow-input-expected.txt
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/mac/fast/css/text-overflow-input-expected.txt
Labels: unsafe-merge-queue, CSS

#19923 Unreviewed, add @aprotyas to ApplePay/PaymentRequest watchlist
  .github/CODEOWNERS
Labels: skip-ews

#19878 Modernize perf dashboard service scripts to python3.
  Websites/perf.webkit.org/tools/pull-os-versions.py
  Websites/perf.webkit.org/tools/sync-commits.py
  Websites/perf.webkit.org/tools/util.py
Labels: merge-queue

#19916 Remove FetchAPIEnabled preference
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/Modules/fetch/FetchBody.idl
  Source/WebCore/Modules/fetch/FetchRequest.idl
  Source/WebCore/Modules/fetch/FetchResponse.idl
  Source/WebCore/Modules/fetch/WindowOrWorkerGlobalScope+Fetch.idl
Labels: merge-queue, DOM

#19928 Add --ignore-external-source-id option to display-sampling-profiler-output
  Tools/Scripts/display-sampling-profiler-output
Labels: unsafe-merge-queue, JavaScriptCore

#19794 Repeated calls to scrollIntoView({ block: 'center' }) can cause jiggling (affects Spotify lyrics)
  LayoutTests/TestExpectations
  LayoutTests/fast/scrolling/scroll-into-view-block-center-expected.txt
  LayoutTests/fast/scrolling/scroll-into-view-block-center.html
  Source/WebCore/platform/ScrollableArea.cpp
  Source/WebCore/rendering/RenderLayerScrollableArea.cpp
Labels: merge-queue, Scrolling

#19934 Add NativePromiseRequest and GenericPromise to Forward.h
  Source/WTF/wtf/Forward.h
  Source/WTF/wtf/NativePromise.h
Labels: merge-queue

#19875 [WebGPU] makeRenderBundleICBWithResources has a typo preventing correct generation of render bundles
  Source/WebGPU/WebGPU/RenderBundleEncoder.mm
Labels: WebGPU

#19882 [GStreamer][WebRTC] Support for remote outbound RTP statistics
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerStatsCollector.cpp
Labels: Platform

#19883 [TextureMapper] Remove texture mapper paint flags
  Source/WebCore/platform/graphics/texmap/TextureMapper.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapper.h
  Source/WebKit/GPUProcess/graphics/wc/WCScene.cpp
  Source/WebKit/Shared/CoordinatedGraphics/CoordinatedGraphicsScene.cpp
  Source/WebKit/Shared/CoordinatedGraphics/CoordinatedGraphicsScene.h
  Source/WebKit/Shared/CoordinatedGraphics/threadedcompositor/ThreadedCompositor.cpp
  Source/WebKit/Shared/CoordinatedGraphics/threadedcompositor/ThreadedCompositor.h
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHost.cpp
Labels: Platform

#19941 [TextureMapper] Make WrapMode an enum class
  Source/WebCore/platform/graphics/texmap/TextureMapper.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapper.h
  Source/WebCore/platform/graphics/texmap/TextureMapperLayer.cpp
Labels: Platform

#17383 Correct URL encoding of CSS
  LayoutTests/http/tests/webarchive/test-css-url-encoding-expected.webarchive
  LayoutTests/http/tests/webarchive/test-css-url-encoding-shift-jis-expected.webarchive
  LayoutTests/http/tests/webarchive/test-css-url-encoding-utf-8-expected.webarchive
  LayoutTests/imported/w3c/web-platform-tests/html/infrastructure/urls/resolving-urls/query-encoding/utf-8_include=css-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/infrastructure/urls/resolving-urls/query-encoding/windows-1251_include=css-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/infrastructure/urls/resolving-urls/query-encoding/windows-1252_include=css-expected.txt
  Source/WebCore/css/parser/CSSParserContext.cpp
Labels: CSS

#19885 Remove message filter entitlement
  Source/WebKit/Scripts/process-entitlements.sh
Labels: WebKit Misc.

#19943 [CoordinatedGraphics] Do not force a repaint on the first layer flush
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.h
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHost.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHost.h
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHostTextureMapper.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHostTextureMapper.h
  Source/WebKit/WebProcess/WebPage/DrawingArea.h
Labels: unsafe-merge-queue, WebKitGTK

#19945 [TextureMapper] Remove TextureMapperContextAttributes
  Source/WebCore/platform/TextureMapper.cmake
  Source/WebCore/platform/graphics/egl/GLContext.cpp
  Source/WebCore/platform/graphics/egl/GLContext.h
  Source/WebCore/platform/graphics/gstreamer/GStreamerVideoFrameHolder.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/nicosia/NicosiaImageBufferPipe.cpp
  Source/WebCore/platform/graphics/texmap/BitmapTexture.cpp
  Source/WebCore/platform/graphics/texmap/BitmapTexture.h
  Source/WebCore/platform/graphics/texmap/BitmapTexturePool.cpp
  Source/WebCore/platform/graphics/texmap/BitmapTexturePool.h
  Source/WebCore/platform/graphics/texmap/TextureMapper.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapper.h
  Source/WebCore/platform/graphics/texmap/TextureMapperContextAttributes.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperContextAttributes.h
  Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerBuffer.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperSparseBackingStore.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperSparseBackingStore.h
  Source/WebCore/platform/graphics/texmap/TextureMapperTile.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperTile.h
  Source/WebCore/platform/graphics/texmap/TextureMapperTiledBackingStore.cpp
  Source/WebKit/GPUProcess/graphics/wc/WCScene.cpp
Labels: Platform

#19898 [WGSL] Add validation to integer division during code generation
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
  Source/WebGPU/WGSL/Metal/MetalCodeGenerator.cpp
  Source/WebGPU/WGSL/Metal/MetalFunctionWriter.cpp
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/WGSLShaderModule.h
  Source/WebGPU/WGSL/tests/lit.cfg
  Source/WebGPU/WGSL/tests/valid/division.wgsl
  Tools/TestWebKitAPI/Tests/WGSL/MetalGenerationTests.cpp
Labels: WebGPU

#19926 Mark SwitchControlEnabled testable
  LayoutTests/imported/w3c/web-platform-tests/html-aam/roles-dynamic-switch.tentative.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html-aam/roles-dynamic-switch.tentative.window.html
  LayoutTests/imported/w3c/web-platform-tests/html-aam/roles-dynamic-switch.tentative.window.js
  LayoutTests/imported/w3c/web-platform-tests/html-aam/roles.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html-aam/roles.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/widgets/input-checkbox-switch-indeterminate-ref.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/widgets/input-checkbox-switch-indeterminate.tentative-expected.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/widgets/input-checkbox-switch-indeterminate.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/widgets/input-checkbox-switch-notref.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/widgets/input-checkbox-switch-ref.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/widgets/input-checkbox-switch.tentative-expected-mismatch.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/widgets/input-checkbox-switch.tentative-expected.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/widgets/input-checkbox-switch.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/widgets/input-checkbox-switch.tentative.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/widgets/input-checkbox-switch.tentative.window.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/widgets/input-checkbox-switch.tentative.window.js
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/selectors/pseudo-classes/input-checkbox-switch.tentative.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/selectors/pseudo-classes/input-checkbox-switch.tentative.window.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/selectors/pseudo-classes/input-checkbox-switch.tentative.window.js
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: merge-queue, DOM

#19901 [WGSL] Add validation to integer division during constant evaluation
  Source/WebGPU/WGSL/ConstantFunctions.h
  Source/WebGPU/WGSL/ConstantValue.cpp
  Source/WebGPU/WGSL/Overload.h
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/tests/invalid/division.wgsl
Labels: WebGPU

#19955 [Gardening]: [ Ventura+ wk1 Release ] http/wpt/workers/modules/dedicated-worker-import-csp.html is a near-constant failure.
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue

#19818 Harden WebRTC HEVC RFC 7798 RTP Payload Format Implementation
  Source/ThirdParty/libwebrtc/Source/webrtc/common_video/h265/h265_sps_parser.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/bitstream_reader.cc
  Source/ThirdParty/libwebrtc/WebKit/0001-Harden-WebRTC-HEVC-RFC-7798-RTP-Payload-Format-Imple.patch
Labels: unsafe-merge-queue, WebRTC

#19929 RE-BASELINE: Failure in fast/replaced/replaced-breaking.html following Sonoma bring-up.
  LayoutTests/platform/mac-ventura-wk1/fast/replaced/replaced-breaking-expected.txt
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac-wk1/fast/replaced/replaced-breaking-expected.txt
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/mac/fast/replaced/replaced-breaking-expected.txt
Labels: Layout and Rendering

#19777 AX: comboboxes with aria-activedescendant but no aria-owns no longer work
  LayoutTests/accessibility/aria-combobox-no-owns-expected.txt
  LayoutTests/accessibility/aria-combobox-no-owns.html
  LayoutTests/platform/glib/accessibility/aria-combobox-no-owns-expected.txt
  Source/WebCore/accessibility/AXObjectCache.cpp
Labels: Accessibility

#19954 Remove references to GTK+ and WebKitGTK+ from README
  ReadMe.md
Labels: merge-queue, WebKitGTK

#19921 [iOS] Keyboard should not learn autocorrections after revealing password in Gmail login flow
  Source/WebCore/html/HTMLInputElement.cpp
  Source/WebCore/html/HTMLInputElement.h
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/Shared/FocusedElementInformation.h
  Source/WebKit/Shared/FocusedElementInformation.serialization.in
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Tools/TestRunnerShared/spi/UIKitSPIForTesting.h
  Tools/TestWebKitAPI/Tests/ios/AutocorrectionTestsIOS.mm
Labels: Media

#19956 REGRESSION(267516@main): [ macOS ] imported/w3c/web-platform-tests/content-security-policy/reporting-api/report-to-directive-allowed-in-meta.https.sub.html is constantly failing.
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, Tools / Tests

#19874 [WebRTC] Add target for h265_depacketizer_fuzzer
  Source/ThirdParty/libwebrtc/Configurations/h265_depacketizer_fuzzer.xcconfig
  Source/ThirdParty/libwebrtc/Source/webrtc/test/fuzzers/h265_depacketizer_fuzzer.cc
  Source/ThirdParty/libwebrtc/libwebrtc.xcodeproj/project.pbxproj
Labels: WebRTC

#19936 [WebGPU] validateLinearTextureData is incorrect for single row textures (height == 1)
  Source/WebGPU/WebGPU/Texture.mm
Labels: WebGPU

#16225 [JSC] Allow GC while running B3
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGGraph.cpp
  Source/JavaScriptCore/dfg/DFGGraph.h
  Source/JavaScriptCore/dfg/DFGLiveCatchVariablePreservationPhase.cpp
  Source/JavaScriptCore/ftl/FTLCompile.cpp
Labels: JavaScriptCore

#19961 [Gardening]: NEW TEST (270000@main): [ macOS ] http/tests/webgpu/webgpu/api/operation/adapter/requestAdapterInfo.html is a constant failure
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#19930 Regression(270013@main): Crash when loading bgtime.tv
  Source/WebCore/platform/graphics/GlyphPage.h
Labels: unsafe-merge-queue, Text

#19666 [WebGPU] Enable several passing API tests and add their expectations
  LayoutTests/http/tests/webgpu/webgpu/api/operation/compute/basic-expected.txt
  LayoutTests/http/tests/webgpu/webgpu/api/operation/compute_pipeline/overrides-expected.txt
  LayoutTests/http/tests/webgpu/webgpu/api/operation/render_pipeline/culling_tests-expected.txt
  LayoutTests/http/tests/webgpu/webgpu/api/operation/render_pipeline/overrides-expected.txt
  LayoutTests/http/tests/webgpu/webgpu/api/operation/render_pipeline/primitive_topology-expected.txt
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: WebGPU

#19944 Remove TransformStreamAPIEnabled preference
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/Modules/streams/TransformStream.idl
  Source/WebCore/Modules/streams/TransformStreamDefaultController.idl
  Source/WebCore/dom/TextDecoderStream.idl
  Source/WebCore/dom/TextDecoderStreamDecoder.idl
  Source/WebCore/dom/TextEncoderStream.idl
  Source/WebCore/dom/TextEncoderStreamEncoder.idl
  Source/WebKitLegacy/mac/WebView/WebPreferenceKeysPrivate.h
  Source/WebKitLegacy/mac/WebView/WebPreferences.mm
  Source/WebKitLegacy/mac/WebView/WebPreferencesPrivate.h
Labels: merge-queue, DOM

#16690 [webkitbugspy] Set keywords on issues
  Tools/Scripts/libraries/webkitbugspy/setup.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/__init__.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/bugzilla.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/issue.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/mocks/bugzilla.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/mocks/radar.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/radar.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tests/bugzilla_unittest.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tests/radar_unittest.py
Labels: Tools / Tests, skip-ews

#19907 Optimize WTF::compactMap()
  Source/WTF/wtf/Vector.h
  Source/WebCore/css/StylePropertyShorthand.h
Labels: merge-queue

#19938 [WebGPU] Buffer synchronization is implemented incorrectly leading to data races between the CPU and GPU
  Source/WebGPU/WebGPU/Buffer.mm
  Source/WebGPU/WebGPU/Queue.h
  Source/WebGPU/WebGPU/Queue.mm
Labels: WebGPU

#19932 REGRESSION (267754@main): Unable to play embedded web videos in iWork apps
  Source/WTF/wtf/cocoa/RuntimeApplicationChecksCocoa.cpp
  Source/WTF/wtf/cocoa/RuntimeApplicationChecksCocoa.h
  Source/WTF/wtf/spi/darwin/dyldSPI.h
  Source/WebCore/loader/DocumentLoader.cpp
Labels: merge-queue, Page Loading

#19913 Add support for runtime.openOptionsPage() and new tab override URLs.
  Source/WebCore/en.lproj/Localizable.strings
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtension.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtension.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionContext.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionContext.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionContextPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionControllerDelegate.h
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIRuntimeCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtension.h
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.messages.in
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIRuntimeCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIRuntime.h
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPIRuntime.idl
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtension.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIRuntime.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionContext.mm
  Tools/TestWebKitAPI/cocoa/TestWebExtensionsDelegate.h
  Tools/TestWebKitAPI/cocoa/TestWebExtensionsDelegate.mm
Labels: unsafe-merge-queue, WebKit Extensions

#19946 Remove FetchAPIKeepAliveEnabled preference
  LayoutTests/http/wpt/beacon/beacon-legacy-code-path-expected.txt
  LayoutTests/http/wpt/beacon/beacon-legacy-code-path.html
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/Modules/fetch/FetchRequest.idl
  Source/WebCore/page/DeprecatedGlobalSettings.h
  Source/WebCore/testing/InternalSettings.cpp
  Source/WebCore/testing/InternalSettings.h
  Source/WebCore/testing/InternalSettings.idl
  Source/WebKit/UIProcess/API/C/WKPreferences.cpp
  Source/WebKit/UIProcess/API/C/WKPreferencesRefPrivate.h
  Source/WebKit/WebProcess/Network/WebLoaderStrategy.cpp
  Source/WebKit/WebProcess/Network/WebLoaderStrategy.h
  Source/WebKitLegacy/mac/WebView/WebPreferenceKeysPrivate.h
  Source/WebKitLegacy/mac/WebView/WebPreferences.mm
  Source/WebKitLegacy/mac/WebView/WebPreferencesPrivate.h
Labels: DOM

#19805 [iOS] Element Fullscreen does not respect viewport-fit
  LayoutTests/fast/viewport/ios/full-screen-safe-area-insets-expected.txt
  LayoutTests/fast/viewport/ios/full-screen-safe-area-insets.html
  LayoutTests/fast/viewport/ios/resources/viewport-fit-contain.html
  LayoutTests/fast/viewport/ios/resources/viewport-fit-cover.html
  LayoutTests/fullscreen/full-screen-document-background-color-expected.txt
  LayoutTests/fullscreen/full-screen-document-background-color.html
  LayoutTests/fullscreen/full-screen-test.js
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/FullscreenManager.cpp
  Source/WebCore/page/LocalFrameView.cpp
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/UIProcess/ios/WKScrollView.h
  Source/WebKit/UIProcess/ios/WKScrollView.mm
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenViewController.mm
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
Labels: merge-queue, Media

#19716 REGRESSION(268320@main): WebDriver fullscreen/input type=file tests failing
  Source/WebKit/WebProcess/Automation/WebAutomationSessionProxy.cpp
Labels: WebKit Misc.

#19972 [Gardening]: NEW TEST (266745@main): [ macOS iOS ] requestidlecallback/requestidlecallback-deadline-shortened-by-rendering-update.html is flaky.
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#19968 [JSC] ScopedArguments in-by-val should return true when it is lexical env's scoped one
  JSTests/stress/scoped-arguments-in-by-val.js
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#19964 Add support for runtime.reload() to Web Extensions.
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIRuntimeCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.messages.in
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIRuntimeCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIRuntime.h
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPIRuntime.idl
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIRuntime.mm
Labels: WebKit Extensions

#19965 Add support for runtime.getFrameId() in Web Extensions.
  Source/WebKit/Shared/Extensions/WebExtensionFrameIdentifier.h
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIRuntimeCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIRuntime.h
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPIRuntime.idl
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIRuntime.mm
Labels: unsafe-merge-queue, WebKit Extensions

#19616 Update comment to match current, expected behavior for layout list detection.
  Source/WebCore/accessibility/AccessibilityList.cpp
Labels: merge-queue

#19058 Don't apply canvas noise on drawImage/putImageData rects
  LayoutTests/TestExpectations
  LayoutTests/fast/canvas/canvas-noise-injection-expected.txt
  LayoutTests/fast/canvas/canvas-noise-injection.html
  Source/WebCore/html/CanvasBase.cpp
  Source/WebCore/html/CanvasNoiseInjection.cpp
  Source/WebCore/html/CanvasNoiseInjection.h
  Source/WebCore/html/canvas/CanvasRenderingContext2DBase.cpp
  Source/WebCore/html/canvas/CanvasRenderingContext2DBase.h
Labels: merge-queue, Canvas

#19967 [iOS] Add a run-webkit-tests option to use async UIKit interactions
  Tools/Scripts/webkitpy/layout_tests/run_webkit_tests.py
Labels: merge-queue, Tools / Tests

#19971 [Debug] Referencing `m_processPool` in `~WebProcessProxy()` causes a crash
  Source/WebKit/UIProcess/WebProcessProxy.cpp
Labels: WebKit Process Model

#19909 Avoid using a naked `delete` in PendingImageBitmap
  Source/WebCore/html/ImageBitmap.cpp
Labels: merge-queue, DOM

#19816 Adopt more smart pointers in DocumentThreadableLoader
  Source/WebCore/dom/SecurityContext.cpp
  Source/WebCore/dom/SecurityContext.h
  Source/WebCore/loader/DocumentThreadableLoader.cpp
  Source/WebCore/loader/DocumentThreadableLoader.h
  Source/WebCore/loader/ThreadableLoaderClient.h
  Source/WebCore/page/LocalDOMWindow.cpp
  Source/WebCore/page/LocalDOMWindow.h
Labels: merge-queue, DOM

#19650 Minor refactoring of assertion code, v2
  Source/WebKit/Platform/cocoa/XPCUtilities.mm
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.cpp
  Source/WebKit/UIProcess/Cocoa/AuxiliaryProcessProxyCocoa.mm
  Source/WebKit/UIProcess/Cocoa/ProcessAssertionCocoa.mm
  Source/WebKit/UIProcess/Cocoa/XPCConnectionTerminationWatchdog.h
  Source/WebKit/UIProcess/Cocoa/XPCConnectionTerminationWatchdog.mm
  Source/WebKit/UIProcess/GPU/GPUProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/ProcessAssertion.cpp
  Source/WebKit/UIProcess/ProcessAssertion.h
  Source/WebKit/UIProcess/ProcessThrottler.cpp
  Source/WebKit/UIProcess/ProcessThrottler.h
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
Labels: merge-queue, WebKit Misc.

#19963 [WebGPU] requestAdapterInfo test expects (r) to be removed from adapterInfo.vendor and adapterInfo.device
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/Modules/WebGPU/GPUAdapterInfo.h
Labels: merge-queue, WebGPU

#19893 [WTF] Switch to variadic templates for HashSet and HashMap
  Source/WTF/wtf/HashFunctions.h
  Source/WTF/wtf/HashTraits.h
Labels: WebCore Misc.

#19982 CrashOnOverflow in CharacterClassConstructor::compareUTF32Strings
  JSTests/stress/regexp-vflag-property-of-strings.js
  Source/JavaScriptCore/yarr/YarrPattern.cpp
Labels: unsafe-merge-queue

#19925 [merge-queue] Should remove safe-merge-queue label when landing
  Tools/CISupport/ews-build/steps.py
Labels: merge-queue, Tools / Tests

#19962 Add message checks for out-of-process logging
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
Labels: merge-queue, WebKit Misc.

#19933 Finish generating serialization of ScrollingStateNode subclasses
  Source/WebCore/page/scrolling/ScrollingStateFixedNode.cpp
  Source/WebCore/page/scrolling/ScrollingStateFixedNode.h
  Source/WebCore/page/scrolling/ScrollingStateFrameHostingNode.cpp
  Source/WebCore/page/scrolling/ScrollingStateNode.cpp
  Source/WebCore/page/scrolling/ScrollingStateNode.h
  Source/WebCore/page/scrolling/ScrollingStateOverflowScrollProxyNode.cpp
  Source/WebCore/page/scrolling/ScrollingStateOverflowScrollProxyNode.h
  Source/WebCore/page/scrolling/ScrollingStatePositionedNode.cpp
  Source/WebCore/page/scrolling/ScrollingStatePositionedNode.h
  Source/WebCore/page/scrolling/ScrollingStateScrollingNode.cpp
  Source/WebCore/page/scrolling/ScrollingStateStickyNode.cpp
  Source/WebCore/page/scrolling/ScrollingStateStickyNode.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteScrollingCoordinatorTransaction.cpp
  Source/WebKit/Shared/RemoteLayerTree/RemoteScrollingCoordinatorTransaction.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteScrollingCoordinatorTransaction.serialization.in
Labels: unsafe-merge-queue, WebKit Misc.

#19931 Serialize WebCore::Color instead of NSColor, UIColor, and CGColorRef in AttributedStrings
  Source/WebCore/editing/cocoa/AttributedString.h
  Source/WebCore/editing/cocoa/AttributedString.mm
  Source/WebKit/Shared/Cocoa/WebCoreArgumentCodersCocoa.serialization.in
Labels: unsafe-merge-queue, WebKit Misc.

#19966 [macOS] Toggling AX preferences does not update form control appearance
  Source/WebCore/PAL/pal/spi/mac/HIServicesSPI.h
  Source/WebKit/Shared/AuxiliaryProcess.h
  Source/WebKit/Shared/Cocoa/AuxiliaryProcessCocoa.mm
  Source/WebKit/WebProcess/WebProcess.h
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Labels: unsafe-merge-queue, Forms

#19980 Cherry-pick https://chromium.googlesource.com/webm/libvpx.git/+/51057f4ba894e13f9bba278905bacf6aaaecd992
  Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vp8/encoder/onyx_if.c
Labels: WebRTC

#19985 Move IPCSerialization from TestWebKitAPI to TestIPC
  Tools/TestWebKitAPI/Configurations/TestIPC.xcconfig
  Tools/TestWebKitAPI/SourcesCocoa.txt
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/IPC/IPCSerialization.mm
Labels: WebKit Misc.

#19887 [safe-merge-queue] Add Linux and Windows checks
  Tools/CISupport/ews-build/steps.py
Labels: Tools / Tests

#19976 Support content security policy in Web Extensions.
  Source/WebCore/en.lproj/Localizable.strings
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionURLSchemeHandlerCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtension.h
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIScriptingCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPITabsCocoa.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtension.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIScripting.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionContext.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionController.mm
Labels: merge-queue, WebKit Extensions

#19949 [TextureMapper] Pass size to BitmapTexture constructor
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/nicosia/NicosiaImageBufferPipe.cpp
  Source/WebCore/platform/graphics/texmap/BitmapTexture.cpp
  Source/WebCore/platform/graphics/texmap/BitmapTexture.h
  Source/WebCore/platform/graphics/texmap/BitmapTexturePool.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapper.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerBuffer.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperTile.cpp
Labels: unsafe-merge-queue, Platform

#19983 [GPU Process] Ensure that only supported image decoders run in the WebProcess
  Source/WebCore/platform/graphics/cg/UTIRegistry.cpp
  Source/WebCore/platform/graphics/cg/UTIRegistry.h
  Source/WebCore/platform/network/mac/UTIUtilities.h
  Source/WebCore/platform/network/mac/UTIUtilities.mm
  Source/WebKit/GPUProcess/GPUProcess.cpp
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Labels: Images

#19997 [CSS Highlight API] REGRESSION(270146@main): Crash trying to serialize `::highlight`
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-pseudo-parsing-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-pseudo-parsing.html
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/invalid-pseudo-elements-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/invalid-pseudo-elements.html
  Source/WebCore/css/parser/CSSSelectorParser.cpp
Labels: unsafe-merge-queue, CSS

#19995 WebXRSession should not hold a unique ptr to WebXRViewerSpace which is ref counted
  Source/WebCore/Modules/webxr/WebXRSession.cpp
  Source/WebCore/Modules/webxr/WebXRSession.h
  Source/WebCore/Modules/webxr/WebXRSpace.h
Labels: merge-queue, WebXR

#19977 REGRESSION (264419@main): [ Sonoma wk2 ] fast/clip/overflow-hidden-with-border-radius-overflow-clipping-parent.html is a constant failure
  LayoutTests/fast/clip/overflow-hidden-with-border-radius-overflow-clipping-parent.html
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: merge-queue, New Bugs

#19978 fast/scrolling/ios/body-overflow-hidden.html is a flaky Image failure
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/ios/TestExpectations
Labels: merge-queue, Tools / Tests

#19992 [Cocoa] Adopt -[AVSampleBufferDisplayLayer readyForDisplay]
  Source/WTF/wtf/RetainPtr.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.mm
  Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferPrivateAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferPrivateAVFObjC.mm
Labels: Media

#19990 [iOS] <option> elements outside of an <optgroup> are added to the preceding group
  LayoutTests/fast/forms/ios/select-multiple-options-after-optgroup-expected.txt
  LayoutTests/fast/forms/ios/select-multiple-options-after-optgroup.html
  LayoutTests/fast/forms/ios/select-options-after-optgroup-expected.txt
  LayoutTests/fast/forms/ios/select-options-after-optgroup.html
  Source/WebKit/UIProcess/ios/forms/WKFormSelectPicker.mm
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
Labels: unsafe-merge-queue, Forms
