Repository WebKit/WebKit, pull requests merged in 2023-06, with the labels that each got.

#14545 Selecting OptGroup label does not deselect selected item
  LayoutTests/fast/forms/select/optgroup-clicking-expected.txt
  LayoutTests/fast/forms/select/optgroup-clicking.html
  Source/WebCore/html/HTMLSelectElement.cpp
Labels: merge-queue, Forms

#14538 Unreviewed, reland 264697@main with fix
  JSTests/stress/global-is-nan-clobberize.js
  Source/JavaScriptCore/builtins/DatePrototype.js
  Source/JavaScriptCore/builtins/GlobalObject.js
  Source/JavaScriptCore/builtins/NumberConstructor.js
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGClobberize.h
  Source/JavaScriptCore/dfg/DFGDoesGC.cpp
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGNodeType.h
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/dfg/DFGOperations.h
  Source/JavaScriptCore/dfg/DFGPredictionPropagationPhase.cpp
  Source/JavaScriptCore/dfg/DFGSafeToExecute.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT32_64.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/ftl/FTLCapabilities.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/jit/ThunkGenerators.cpp
  Source/JavaScriptCore/jit/ThunkGenerators.h
  Source/JavaScriptCore/runtime/Intrinsic.h
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSGlobalObjectFunctions.cpp
  Source/JavaScriptCore/runtime/JSGlobalObjectFunctions.h
  Source/JavaScriptCore/runtime/NumberConstructor.cpp
  Source/JavaScriptCore/runtime/VM.cpp
  Source/WebCore/Modules/streams/ReadableByteStreamInternals.js
  Source/WebCore/Modules/streams/StreamInternals.js
  Source/WebCore/Modules/streams/WritableStreamInternals.js
Labels: unsafe-merge-queue, JavaScriptCore

#14329 EntityMask should be an enum class
  Source/WebCore/editing/MarkupAccumulator.cpp
  Source/WebCore/editing/MarkupAccumulator.h
Labels: unsafe-merge-queue, HTML Editing

#14530 Update TextBreakIterator's API to support prior context
  Source/WTF/wtf/text/TextBreakIterator.cpp
  Source/WTF/wtf/text/TextBreakIterator.h
  Source/WTF/wtf/text/cocoa/TextBreakIteratorInternalICUCocoa.cpp
  Source/WTF/wtf/text/icu/TextBreakIteratorICU.h
  Source/WebCore/platform/graphics/ComplexTextController.cpp
  Source/WebCore/platform/graphics/ComposedCharacterClusterTextIterator.h
  Source/WebCore/rendering/RenderText.cpp
  Tools/TestWebKitAPI/Tests/WTF/TextBreakIterator.cpp
Labels: merge-queue, Text

#14565 [Curl] Remove suspend/pause-related code in CurlRequest.
  Source/WebCore/platform/network/curl/CurlRequest.cpp
  Source/WebCore/platform/network/curl/CurlRequest.h
  Source/WebKit/NetworkProcess/curl/NetworkDataTaskCurl.cpp
Labels: merge-queue

#14570 Fix PS build following 264739@main
  Source/WebCore/Modules/highlight/Highlight.h
  Source/WebCore/Modules/highlight/HighlightRegister.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#14444 RemoteLayerTreeDisplayRefreshMonitor::displayNominalFramesPerSecond returns the preferred frames per secon
  Source/WebCore/page/Page.cpp
  Source/WebCore/platform/graphics/DisplayRefreshMonitorManager.h
  Source/WebKit/UIProcess/DrawingAreaProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteLayerTreeDrawingAreaProxyIOS.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteLayerTreeDrawingAreaProxyIOS.mm
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/ios/WKContentView.mm
  Source/WebKit/UIProcess/mac/TiledCoreAnimationDrawingAreaProxy.h
  Source/WebKit/UIProcess/mac/TiledCoreAnimationDrawingAreaProxy.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDisplayRefreshMonitor.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDisplayRefreshMonitor.mm
  Source/WebKitLegacy/mac/WebView/WebView.mm
Labels: merge-queue, Layout and Rendering

#14571 Fix PS build following 264739@main (part 2)
  Source/WebCore/Modules/highlight/HighlightRegister.cpp
Labels: unsafe-merge-queue, New Bugs

#14534 WebRTC backed media element rendering is slow to update to changes of layers (size or layer made hidden/visible)
  Source/WebCore/platform/graphics/avfoundation/objc/LocalSampleBufferDisplayLayer.h
  Source/WebCore/platform/graphics/avfoundation/objc/LocalSampleBufferDisplayLayer.mm
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaStreamAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaStreamAVFObjC.mm
Labels: merge-queue, Layout and Rendering

#14574 Unreviewed Build Fix for destroyExternalImage
  Source/WebCore/Modules/webxr/WebXROpaqueFramebuffer.cpp
Labels: unsafe-merge-queue, WebGPU

#14576 [Curl] Remove download-related code in CurlRequest
  Source/WebCore/platform/network/curl/CurlRequest.cpp
  Source/WebCore/platform/network/curl/CurlRequest.h
Labels: unsafe-merge-queue

#14577 Fix PS build following 264739@main (part 3)
  Source/WebCore/Modules/highlight/HighlightRegister.cpp
Labels: unsafe-merge-queue, New Bugs

#14495 [WGSL] AST::Visitor should visit attribute's children
  Source/WebGPU/WGSL/AST/ASTVisitor.cpp
  Source/WebGPU/WGSL/tests/valid/constants.wgsl
Labels: WebGPU

#14543 [WGSL] Make all types constant
  Source/WebGPU/WGSL/Constraints.cpp
  Source/WebGPU/WGSL/Constraints.h
  Source/WebGPU/WGSL/EntryPointRewriter.cpp
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
  Source/WebGPU/WGSL/Overload.cpp
  Source/WebGPU/WGSL/Overload.h
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/TypeStore.cpp
  Source/WebGPU/WGSL/TypeStore.h
  Source/WebGPU/WGSL/Types.cpp
  Source/WebGPU/WGSL/Types.h
Labels: merge-queue, WebGPU

#14537 [GStreamer][MediaStream] Crash in mock video capture source
  Source/WebCore/platform/mediastream/gstreamer/MockRealtimeVideoSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/MockRealtimeVideoSourceGStreamer.h
  Source/WebCore/platform/mock/MockRealtimeVideoSource.cpp
  Source/WebCore/platform/mock/MockRealtimeVideoSource.h
Labels: Platform

#14544 [WGSL] Type check user-defined function calls
  Source/WebGPU/WGSL/ContextProvider.h
  Source/WebGPU/WGSL/ContextProviderInlines.h
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/tests/invalid/function-call.wgsl
Labels: merge-queue, WebGPU

#14494 [Linux] Stale apache shm segments not always cleaned up
  Tools/Scripts/webkitpy/layout_tests/servers/apache_http_server.py
Labels: Tools / Tests

#14549 [WGSL] Fix serialization of promoted types
  Source/WebGPU/WGSL/AST/ASTExpression.h
  Source/WebGPU/WGSL/AST/ASTIdentityExpression.h
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
  Source/WebGPU/WGSL/Metal/MetalFunctionWriter.cpp
  Source/WebGPU/WGSL/tests/valid/type-promotion.wgsl
Labels: merge-queue, WebGPU

#14580 [GStreamer] Remove unused VideoTextureCopier
  Source/WebCore/platform/GStreamer.cmake
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.h
  Source/WebCore/platform/graphics/gstreamer/VideoTextureCopierGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/VideoTextureCopierGStreamer.h
Labels: unsafe-merge-queue, WebKitGTK

#14582 Fix !ENABLE(ACCESSIBILITY) build following 264762@main
  Source/WebCore/accessibility/AXObjectCache.h
Labels: New Bugs

#14535 [GStreamer] Make native DASH support opt-in, like HLS
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/platform/graphics/gstreamer/GStreamerRegistryScanner.cpp
Labels: Platform

#14585 Reimport css/css-scrollbars WPT tests.
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/css/css-scrollbars/input-scrollbar-color-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-scrollbars/input-scrollbar-color-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-scrollbars/input-scrollbar-color.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-scrollbars/scrollbar-color-parsing-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-scrollbars/scrollbar-color-parsing.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-scrollbars/w3c-import.log
Labels: merge-queue, Tools / Tests

#14450 Row byte count is not available in GraphicsContextGL::computeImageSizeBytes
  Source/WTF/wtf/StdLibExtras.h
  Source/WebCore/html/canvas/WebGL2RenderingContext.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
  Source/WebCore/platform/graphics/GraphicsContextGL.cpp
  Source/WebCore/platform/graphics/GraphicsContextGL.h
  Source/bmalloc/bmalloc/Algorithm.h
  Tools/TestWebKitAPI/CMakeLists.txt
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WTF/StdLibExtrasTests.cpp
Labels: WebGL

#14554 REGRESSION(264306@main) [Cocoa] Moving to next video on YouTube.com while in PiP resizes video contents incorrectly
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/html/HTMLMediaElement.h
  Source/WebCore/platform/graphics/MediaPlayer.cpp
  Source/WebCore/platform/graphics/MediaPlayer.h
  Source/WebCore/platform/graphics/VideoLayerManager.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/VideoLayerManagerObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/VideoLayerManagerObjC.mm
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxyConfiguration.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxyConfiguration.serialization.in
  Source/WebKit/GPUProcess/media/cocoa/RemoteMediaPlayerProxyCocoa.mm
  Source/WebKit/WebProcess/GPU/media/RemoteMediaPlayerManager.cpp
Labels: Media

#14433 Handle multiple fragments in the getCharNumberAtPosition SVGTextQuery
  LayoutTests/svg/text/getcharnumatposition-multiple-fragments-expected.txt
  LayoutTests/svg/text/getcharnumatposition-multiple-fragments.html
  Source/WebCore/rendering/svg/SVGTextQuery.cpp
Labels: SVG

#14579 [JSC] endSpecialCase should handle terminal case since handleIntrinsicCall might return InlinedTerminal for BoundFunctionCallIntrinsic
  JSTests/stress/bound-function-inline-terminal.js
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
Labels: JavaScriptCore

#13430 [WPE] Add new post-commit bots for performance tests with RPis
  Tools/CISupport/build-webkit-org/config.json
  Tools/CISupport/build-webkit-org/factories.py
  Tools/CISupport/build-webkit-org/factories_unittest.py
  Tools/CISupport/build-webkit-org/steps.py
  Tools/CISupport/build-webkit-org/steps_unittest.py
Labels: Tools / Tests

#14563 workers/opaque-origin.html WPT is failing in WebKit only
  LayoutTests/imported/w3c/web-platform-tests/workers/opaque-origin-expected.txt
  Source/WebCore/fileapi/BlobURL.cpp
  Source/WebCore/fileapi/ThreadableBlobRegistry.cpp
  Source/WebCore/page/SecurityOrigin.cpp
Labels: merge-queue, WebCore Misc.

#14588 [buildbot] Add watchos to test-result-archive
  Tools/CISupport/test-result-archive
Labels: unsafe-merge-queue, Tools / Tests

#14594 Add Jessica Cheung as Contributor
  metadata/contributors.json
Labels: merge-queue

#14578 REGRESSION(264722@main) ASSERTION FAILED: forward ? nativeIndex < nativeLength : nativeIndex <= nativeLength in WTF::textUTF16ContextAwareMoveInPrimaryContext
  Source/WTF/wtf/text/icu/UTextProviderLatin1.cpp
  Source/WTF/wtf/text/icu/UTextProviderUTF16.cpp
Labels: Text

#4390 [Filters] Limit the memory cost of FilterResults to 100MB
  LayoutTests/svg/filters/repeated-drop-shadow-effects-expected.svg
  LayoutTests/svg/filters/repeated-drop-shadow-effects.svg
  Source/WebCore/platform/graphics/coreimage/FilterImageCoreImage.mm
  Source/WebCore/platform/graphics/filters/FilterImage.cpp
  Source/WebCore/platform/graphics/filters/FilterImage.h
  Source/WebCore/platform/graphics/filters/FilterResults.cpp
  Source/WebCore/platform/graphics/filters/FilterResults.h
  Source/WebCore/svg/graphics/filters/SVGFilter.cpp
Labels: Layout and Rendering

#14604 Add Jasmine Mok as a contributer
  metadata/contributors.json
Labels: unsafe-merge-queue

#14606 [GTK][WPE] Gardening of flaky tests (WebGL2 and others) from May 2023
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
Labels: unsafe-merge-queue, Tools / Tests, skip-ews

#14431 [popover] Cache auto popover list to avoid unnecessarily iterating the top layer
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/html/HTMLElement.cpp
Labels: merge-queue, DOM

#14529 The update-angle script does not support updating to arbitrary commits
  Tools/Scripts/update-angle
Labels: ANGLE

#14596 [Filters] Loop through the SVGFilter unique effects instead of traversing the whole graph when possible
  Source/WebCore/svg/graphics/filters/SVGFilter.cpp
Labels: merge-queue, Layout and Rendering

#14599 REGRESSION(257658@main): Unable to exit fullscreen from video controls on bleacherreport.com
  LayoutTests/fullscreen/event-listener-prefixed-unprefixed-document-expected.html
  LayoutTests/fullscreen/event-listener-prefixed-unprefixed-document.html
  Source/WebCore/dom/FullscreenManager.cpp
Labels: merge-queue, DOM

#14086 [FreeType] Use builtin WOFF2 support
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/platform/graphics/WOFFFileFormat.cpp
  Source/WebCore/platform/graphics/WOFFFileFormat.h
  Source/WebCore/platform/graphics/freetype/FontCustomPlatformDataFreeType.cpp
  Source/WebKit/WebProcess/EntryPoint/playstation/WebProcessMain.cpp
  Source/cmake/OptionsPlayStation.cmake
  Source/cmake/WOFF2Checks.cmake
Labels: merge-queue, Platform

#14513 [JSC] Heap allocation during WebAudio rendering
  Source/JavaScriptCore/runtime/VM.cpp
  Source/JavaScriptCore/runtime/VM.h
  Source/WebCore/Modules/webaudio/AudioWorkletGlobalScope.cpp
  Source/WebCore/Modules/webaudio/AudioWorkletGlobalScope.h
Labels: merge-queue, Web Audio

#14572 Adjust ContextMenu animation
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Labels: merge-queue, Layout and Rendering

#14522 The caret color is sometimes incorrect when specifying `caret-color: auto`
  Source/WebCore/editing/FrameSelection.cpp
  Source/WebCore/editing/FrameSelection.h
  Source/WebCore/platform/CaretAnimator.cpp
  Source/WebCore/platform/CaretAnimator.h
Labels: HTML Editing

#14610 [WinCairo] Unreviewed test gardening
  LayoutTests/platform/wincairo/TestExpectations
Labels: unsafe-merge-queue

#14569 bugs.webkit.org internal server error when limiting search by 1 month
  Websites/bugs.webkit.org/Bugzilla/Search.pm
Labels: merge-queue, WebKit Website

#14611 [LibWebRTC] Remove non-existent file from sources after 264715@main
  Source/ThirdParty/libwebrtc/CMakeLists.txt
Labels: merge-queue

#14593 Web Inspector: REGRESSION(?): Storage: arrow key movement sometimes skips items
  Source/WebInspectorUI/UserInterface/Views/DOMStorageContentView.js
Labels: merge-queue, Web Inspector

#14605 Make sure ImageData objects are shared when doing structured cloning
  LayoutTests/imported/w3c/web-platform-tests/webmessaging/without-ports/028-expected.txt
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
Labels: merge-queue, WebCore Misc.

#14573 Migrate from LineBreakIteratorPool to TextBreakIteratorCache
  Source/WTF/WTF.xcodeproj/project.pbxproj
  Source/WTF/wtf/CMakeLists.txt
  Source/WTF/wtf/text/LineBreakIteratorPoolICU.cpp
  Source/WTF/wtf/text/LineBreakIteratorPoolICU.h
  Source/WTF/wtf/text/TextBreakIterator.cpp
  Source/WTF/wtf/text/TextBreakIterator.h
  Source/WTF/wtf/text/icu/TextBreakIteratorICU.h
  Source/WebCore/rendering/BreakLines.h
Labels: Text

#14586 [GStreamer] Do not activate and fill the gst GL context
  Source/WebCore/platform/graphics/PlatformDisplay.cpp
  Source/WebCore/platform/graphics/gstreamer/PlatformDisplayGStreamer.cpp
Labels: merge-queue, Media

#14618 [Curl] Simplify event handling in CurlRequest::invokeDidReceiveResponse()
  Source/WebCore/platform/network/curl/CurlRequest.cpp
  Source/WebCore/platform/network/curl/CurlRequest.h
Labels: unsafe-merge-queue

#14624 REGRESSION (259167@main): [ macOS ] webaudio/audiocontext-large-samplerate.html is a flaky failure
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/webaudio/audiocontext-large-samplerate.html
  LayoutTests/webaudio/audiocontext-low-samplerate.html
Labels: merge-queue, Web Audio

#14609 [Cocoa] Sometimes a YouTube video is incorrectly sized, and doesn't respond to window resize
  Source/WebCore/platform/cocoa/WebAVPlayerLayer.mm
  Source/WebCore/platform/graphics/FloatPoint.cpp
  Source/WebCore/platform/graphics/FloatPoint.h
  Source/WebCore/platform/graphics/FloatRect.cpp
  Source/WebCore/platform/graphics/FloatRect.h
  Source/WebCore/platform/graphics/avfoundation/objc/VideoLayerManagerObjC.mm
  Source/WebKit/UIProcess/Cocoa/VideoFullscreenManagerProxy.mm
Labels: merge-queue, Media

#14613 [iOS] Memory leak when long pressing images
  Source/WebKit/UIProcess/API/Cocoa/WKContextMenuElementInfo.mm
Labels: Platform

#14581 [WGSL] Global variable rewriter shouldn't record local reads
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
Labels: merge-queue, WebGPU

#14622 Always use no-quirks mode for CSS.supports()
  LayoutTests/css3/css-supports-document-parser-context-expected.txt
  LayoutTests/css3/css-supports-document-parser-context.html
  LayoutTests/css3/resources/css-supports-document-parser-context-nonstrict.html
  LayoutTests/imported/w3c/resources/import-expectations.json
  LayoutTests/imported/w3c/web-platform-tests/quirks/classname-query-after-sibling-adoption.html
  LayoutTests/imported/w3c/web-platform-tests/quirks/supports-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/quirks/text-decoration-doesnt-propagate-into-tables/standards-expected.html
  LayoutTests/imported/w3c/web-platform-tests/quirks/text-decoration-doesnt-propagate-into-tables/standards-ref.html
  LayoutTests/imported/w3c/web-platform-tests/quirks/text-decoration-doesnt-propagate-into-tables/standards.html
  LayoutTests/tests-options.json
  Source/WebCore/css/DOMCSSNamespace.cpp
Labels: merge-queue, CSS

#14619 [WebGPU] Update WebGPU.h to upstream ToT
  Source/WebCore/Modules/WebGPU/GPUDevice.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUAdapterImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUDeviceImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUDeviceImpl.h
  Source/WebCore/PAL/pal/graphics/WebGPU/WebGPUDevice.h
  Source/WebGPU/WebGPU/Adapter.mm
  Source/WebGPU/WebGPU/BindGroup.mm
  Source/WebGPU/WebGPU/BindGroupLayout.mm
  Source/WebGPU/WebGPU/Buffer.mm
  Source/WebGPU/WebGPU/CommandBuffer.mm
  Source/WebGPU/WebGPU/CommandEncoder.mm
  Source/WebGPU/WebGPU/ComputePassEncoder.mm
  Source/WebGPU/WebGPU/ComputePipeline.mm
  Source/WebGPU/WebGPU/Device.h
  Source/WebGPU/WebGPU/Device.mm
  Source/WebGPU/WebGPU/Instance.mm
  Source/WebGPU/WebGPU/PipelineLayout.mm
  Source/WebGPU/WebGPU/PresentationContext.mm
  Source/WebGPU/WebGPU/QuerySet.mm
  Source/WebGPU/WebGPU/Queue.mm
  Source/WebGPU/WebGPU/RenderBundle.mm
  Source/WebGPU/WebGPU/RenderBundleEncoder.mm
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
  Source/WebGPU/WebGPU/RenderPipeline.mm
  Source/WebGPU/WebGPU/Sampler.mm
  Source/WebGPU/WebGPU/ShaderModule.mm
  Source/WebGPU/WebGPU/Texture.mm
  Source/WebGPU/WebGPU/TextureView.mm
  Source/WebGPU/WebGPU/WebGPU.h
  Source/WebGPU/WebGPU/WebGPUExt.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteDevice.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteDevice.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteDevice.messages.in
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteDeviceProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteDeviceProxy.h
Labels: merge-queue, WebGPU

#14635 Add Lockdown Mode entitlement
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/Scripts/process-entitlements.sh
Labels: merge-queue, WebKit Misc.

#13938 WebXR: Severe aliasing in WebXR experiences (with WebGL1 contexts)
  Source/WebCore/Modules/webxr/WebXROpaqueFramebuffer.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/platform/graphics/GraphicsContextGL.h
  Source/WebCore/platform/graphics/angle/GraphicsContextGLANGLE.cpp
  Source/WebCore/platform/graphics/angle/GraphicsContextGLANGLE.h
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.mm
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGL.messages.in
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGLFunctionsGenerated.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxyFunctionsGenerated.cpp
Labels: WebGL

#14636 [JSC] Use RegExpObject::globalOrSticky in DFG strength reduction
  Source/JavaScriptCore/dfg/DFGStrengthReductionPhase.cpp
Labels: merge-queue, JavaScriptCore

#14641 Pass scaled layer dirty rect to CA in UIProcess
  Source/WebCore/PAL/pal/spi/cocoa/QuartzCoreSPI.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
Labels: Layout and Rendering

#14639 Fix unused function warning added in 264004@main
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
Labels: merge-queue

#14566 Viewport layout size is sometimes incorrect when a site specifies an initial scale
  Source/WebCore/page/ViewportConfiguration.cpp
  Source/WebCore/page/ViewportConfiguration.h
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/ios/Viewport.mm
Labels: merge-queue, Layout and Rendering

#14621 Remove superfluous call in RenderElement::clearChildNeedsLayout
  Source/WebCore/rendering/RenderElement.cpp
Labels: merge-queue, Layout and Rendering

#14647 Clean up contentsDirtyRect declaration
  Source/WebCore/PAL/pal/spi/cocoa/QuartzCoreSPI.h
Labels: merge-queue, Layout and Rendering

#14646 WebGL in the GPUP should be enabled for watchOS
  Source/WTF/wtf/PlatformEnable.h
Labels: unsafe-merge-queue, WebGL

#14592 [JSC] FTL should not load arguments twice for type check and use for non-full-64bit values
  JSTests/stress/force-string-array-or-string.js
  Source/JavaScriptCore/b3/B3EliminateCommonSubexpressions.cpp
  Source/JavaScriptCore/b3/testb3.h
  Source/JavaScriptCore/b3/testb3_1.cpp
  Source/JavaScriptCore/b3/testb3_8.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#14055 [WebGPU] Support VideoFrame as the source of GPUExternalTexture
  Source/WebCore/Modules/WebGPU/GPUExternalTextureDescriptor.h
  Source/WebCore/Modules/WebGPU/GPUExternalTextureDescriptor.idl
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUDeviceImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/WebGPUExternalTextureDescriptor.h
  Source/WebCore/platform/VideoFrame.h
  Source/WebCore/platform/VideoPixelFormat.cpp
  Source/WebGPU/WebGPU/BindGroup.mm
  Source/WebGPU/WebGPU/Device.mm
  Source/WebGPU/WebGPU/ExternalTexture.h
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteDevice.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteDevice.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteDevice.messages.in
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteGPU.h
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/Shared/WebGPU/WebGPUExternalTextureDescriptor.cpp
  Source/WebKit/Shared/WebGPU/WebGPUExternalTextureDescriptor.h
  Source/WebKit/Shared/WebGPU/WebGPUExternalTextureDescriptor.serialization.in
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteDeviceProxy.cpp
  Source/WebKit/WebProcess/GPU/media/RemoteVideoFrameProxy.cpp
  Source/WebKit/WebProcess/GPU/media/RemoteVideoFrameProxy.h
Labels: WebGPU

#14078 Take overflow: clip into account when computing table overflow
  LayoutTests/imported/w3c/web-platform-tests/css/css-overflow/overflow-clip-rounded-table-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-overflow/overflow-clip-rounded-table.html
  Source/WebCore/style/StyleAdjuster.cpp
Labels: CSS

#14638 Fix the build with older SDKs and newer Xcodes
  Source/JavaScriptCore/Configurations/JavaScriptCore.xcconfig
Labels: unsafe-merge-queue, JavaScriptCore

#14654 Make it possible to show data detectors highlights in MiniBrowser
  Tools/MiniBrowser/mac/SettingsController.h
  Tools/MiniBrowser/mac/SettingsController.m
  Tools/MiniBrowser/mac/WK1BrowserWindowController.m
  Tools/MiniBrowser/mac/WK2BrowserWindowController.m
Labels: merge-queue, Tools / Tests

#14248 Close explicitly the user media capture manager in GPUProcess when its WebProcess connection is closed
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.cpp
  Source/WebKit/UIProcess/Cocoa/UserMediaCaptureManagerProxy.cpp
  Source/WebKit/UIProcess/Cocoa/UserMediaCaptureManagerProxy.h
Labels: WebRTC

#14656 Fix !ENABLE(ACCESSIBILITY) build following 264852@main
  Source/WebCore/accessibility/AXObjectCache.h
Labels: unsafe-merge-queue, New Bugs

#14628 [GStreamer] Downrank dashdemux when native DASH has been disabled
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.cpp
Labels: Platform

#14660 Rename LazyLineBreakIterator to CachedTextBreakIteratorFactory
  Source/WTF/wtf/text/TextBreakIterator.h
  Source/WebCore/layout/formattingContexts/inline/InlineItemsBuilder.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineLineBuilder.cpp
  Source/WebCore/layout/formattingContexts/inline/text/TextUtil.cpp
  Source/WebCore/layout/formattingContexts/inline/text/TextUtil.h
  Source/WebCore/rendering/BreakLines.h
  Source/WebCore/rendering/LegacyLineLayout.cpp
  Source/WebCore/rendering/RenderBlockFlow.h
  Source/WebCore/rendering/RenderRubyBase.cpp
  Source/WebCore/rendering/RenderRubyBase.h
  Source/WebCore/rendering/RenderRubyRun.cpp
  Source/WebCore/rendering/RenderRubyRun.h
  Source/WebCore/rendering/RenderRubyText.cpp
  Source/WebCore/rendering/RenderRubyText.h
  Source/WebCore/rendering/RenderText.cpp
  Source/WebCore/rendering/line/BreakingContext.h
  Source/WebCore/rendering/line/LineBreaker.h
  Source/WebKitLegacy/ios/Misc/WebUIKitSupport.mm
  Tools/TestWebKitAPI/Tests/WTF/TextBreakIterator.cpp
Labels: merge-queue, Text

#14631 [WGSL] Use the metal compiler to validate wgslc tests
  Source/WebGPU/WGSL/Metal/MetalFunctionWriter.cpp
  Source/WebGPU/WGSL/tests/lit.cfg
  Source/WebGPU/WGSL/tests/valid/type-promotion.wgsl
  Source/WebGPU/WGSL/wgslc.cpp
Labels: merge-queue, WebGPU

#14584 [WGSL] Variables initializer shouldn't be a reference
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/tests/valid/var-initialization-with-var.wgsl
Labels: WebGPU

#14625 ThreadSafeObjectHeap should be part of IPC
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.h
  Source/WebKit/GPUProcess/media/RemoteVideoFrameObjectHeap.h
  Source/WebKit/Platform/IPC/ObjectIdentifierReferenceTracker.h
  Source/WebKit/Platform/IPC/ThreadSafeObjectHeap.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/GPU/graphics/RemoteSerializedImageBufferIdentifier.h
  Source/WebKit/WebProcess/GPU/media/RemoteVideoFrameIdentifier.h
  Source/WebKit/WebProcess/GPU/media/RemoteVideoFrameProxyIdentifier.h
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/IPC/ThreadSafeObjectHeapTests.cpp
Labels: merge-queue, WebKit2

#14208 Ensure we don't crash with calc(round())
  LayoutTests/fast/css/calc-parsing-expected.txt
  LayoutTests/fast/css/calc-parsing.html
  LayoutTests/fast/css/calc-with-round-crash-expected.txt
  LayoutTests/fast/css/calc-with-round-crash.html
  Source/WebCore/css/calc/CSSCalcValue.cpp
Labels: CSS

#14667 REGRESSION: [iOS] imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any.html?h264_avc is a flaky failure
  LayoutTests/platform/ios/TestExpectations
Labels: merge-queue, New Bugs

#14648 Fix guard of BitmapTextureGL::updatePendingContents
  Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerBuffer.cpp
Labels: merge-queue, Tools / Tests

#14668 [GStreamer] Switch to disable media disk cache does not need trimming
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
Labels: merge-queue, Media

#14664 [Curl] Enables proxy authentication processing during CONNECT requests
  Source/WebCore/platform/network/curl/CurlRequest.cpp
Labels: unsafe-merge-queue

#14454 [popover] Check for modal flag instead of open attribute
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-top-layer-combinations.html
  Source/WebCore/html/HTMLDialogElement.cpp
  Source/WebCore/html/HTMLElement.cpp
Labels: DOM

#14640 Add WKViewCreateWPE for PlayStation
  Source/WebKit/UIProcess/API/C/playstation/WKView.cpp
  Source/WebKit/UIProcess/API/C/playstation/WKView.h
  Source/WebKit/UIProcess/playstation/PageClientImpl.cpp
  Source/WebKit/UIProcess/playstation/PlayStationWebView.cpp
  Source/WebKit/UIProcess/playstation/PlayStationWebView.h
  Tools/MiniBrowser/playstation/CMakeLists.txt
  Tools/MiniBrowser/playstation/WebViewWindow.cpp
  Tools/MiniBrowser/playstation/WebViewWindow.h
Labels: unsafe-merge-queue, Platform

#14644 [PlayStation] Enable WebKitTestRunner
  Source/cmake/OptionsPlayStation.cmake
  Tools/WebKitTestRunner/InjectedBundle/playstation/ActivateFontsPlayStation.cpp
  Tools/WebKitTestRunner/InjectedBundle/playstation/InjectedBundlePlayStation.cpp
  Tools/WebKitTestRunner/InjectedBundle/playstation/TestRunnerPlayStation.cpp
  Tools/WebKitTestRunner/PlatformPlayStation.cmake
  Tools/WebKitTestRunner/TestController.cpp
  Tools/WebKitTestRunner/libwpe/PlatformWebViewLibWPE.cpp
  Tools/WebKitTestRunner/playstation/TestControllerPlayStation.cpp
  Tools/WebKitTestRunner/playstation/UIScriptControllerPlayStation.cpp
  Tools/WebKitTestRunner/playstation/UIScriptControllerPlayStation.h
  Tools/WebKitTestRunner/playstation/main.cpp
Labels: unsafe-merge-queue, Tools / Tests

#14684 [GPUP] Fix IOKit property sandbox violation
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
Labels: unsafe-merge-queue, WebKit Misc.

#14632 Safari may crash when tapping on video after returning to full screen from PiP
  Source/WebCore/platform/ios/VideoFullscreenInterfaceAVKit.mm
  Source/WebKit/UIProcess/Cocoa/VideoFullscreenManagerProxy.mm
Labels: Media

#14536 Set the colorspace of WebCodecs VideoFrame created from canvas source
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any.worker_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any.worker_h264_avc-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any.worker_vp8-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any.worker_vp9_p0-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_h264_avc-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_vp8-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_vp9_p0-expected.txt
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.cpp
  Source/WebCore/html/HTMLCanvasElement.cpp
  Source/WebCore/platform/VideoFrame.cpp
  Source/WebCore/platform/VideoFrame.h
  Source/WebCore/platform/graphics/cv/VideoFrameCV.h
  Source/WebCore/platform/graphics/cv/VideoFrameCV.mm
  Source/WebCore/platform/graphics/gstreamer/VideoFrameGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/VideoFrameGStreamer.h
Labels: Media

#14686 Fix Speedometer3 signpost patch
  Tools/Scripts/webkitpy/benchmark_runner/data/patches/signposts/Speedometer3.patch
Labels: unsafe-merge-queue, Tools / Tests

#14665 [Curl] Remove unused functions from CurlSSLHandle
  Source/WebCore/platform/network/curl/CurlContext.cpp
  Source/WebCore/platform/network/curl/CurlContext.h
  Source/WebCore/platform/network/curl/CurlSSLHandle.cpp
  Source/WebCore/platform/network/curl/CurlSSLHandle.h
Labels: unsafe-merge-queue

#14650 [WebGPU] Create and use WebGPUPtr in PAL/WebGPU/Impl
  Source/WebCore/PAL/PAL.xcodeproj/project.pbxproj
  Source/WebCore/PAL/pal/CMakeLists.txt
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUAdapterImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUAdapterImpl.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUBindGroupImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUBindGroupImpl.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUBindGroupLayoutImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUBindGroupLayoutImpl.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUBufferImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUBufferImpl.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUCommandBufferImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUCommandBufferImpl.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUCommandEncoderImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUCommandEncoderImpl.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUComputePassEncoderImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUComputePassEncoderImpl.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUComputePipelineImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUComputePipelineImpl.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUCreateImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUDeviceImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUDeviceImpl.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUDeviceWrapper.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUDeviceWrapper.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUExternalTextureImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUExternalTextureImpl.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUImpl.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUPipelineLayoutImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUPipelineLayoutImpl.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUPresentationContextImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUPresentationContextImpl.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUPtr.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUQuerySetImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUQuerySetImpl.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUQueueImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUQueueImpl.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPURenderBundleEncoderImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPURenderBundleEncoderImpl.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPURenderBundleImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPURenderBundleImpl.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPURenderPassEncoderImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPURenderPassEncoderImpl.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPURenderPipelineImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPURenderPipelineImpl.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUSamplerImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUSamplerImpl.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUShaderModuleImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUShaderModuleImpl.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUSwapChainWrapper.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUSwapChainWrapper.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUTextureImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUTextureImpl.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUTextureViewImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUTextureViewImpl.h
  Source/WebGPU/WebGPU/ExternalTexture.mm
  Source/WebGPU/WebGPU/PresentationContext.mm
  Source/WebGPU/WebGPU/WebGPUExt.h
Labels: merge-queue, WebGPU

#14642 Object replacement character (0xFFFC) generates null (0) glyph
  LayoutTests/TestExpectations
  LayoutTests/fast/text/zero-width-characters-complex-script.html
  LayoutTests/fast/text/zero-width-characters.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text-decor/text-combine-emphasis-expected-mismatch.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text-decor/text-combine-emphasis.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text/white-space/object-replacement-1-expected-mismatch.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text/white-space/object-replacement-1.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text/white-space/object-replacement-2-expected-mismatch.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text/white-space/object-replacement-2.html
  Source/WebCore/platform/graphics/FontCascade.h
Labels: merge-queue, Text

#14662 Imported html/user-activation WPT files contains redundant files
  LayoutTests/imported/w3c/web-platform-tests/html/user-activation/META.yml
  LayoutTests/imported/w3c/web-platform-tests/html/user-activation/consumption-crossorigin.sub.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/user-activation/consumption-crossorigin.sub.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/html/user-activation/consumption-sameorigin.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/user-activation/consumption-sameorigin.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/html/user-activation/w3c-import.log
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
  LayoutTests/tests-options.json
Labels: merge-queue, Tools / Tests

#14682 REGRESSION (262357@main): WebVTT subtitles with b, u, and i has no effect
  LayoutTests/media/resources/vtt-bold-expected.vtt
  LayoutTests/media/resources/vtt-bold.vtt
  LayoutTests/media/vtt-bold-expected.html
  LayoutTests/media/vtt-bold.html
  Source/WebCore/Modules/mediacontrols/mediaControlsApple.css
  Source/WebCore/Modules/mediacontrols/mediaControlsBase.css
  Source/WebCore/Modules/modern-media-controls/controls/text-tracks.css
  Source/WebCore/css/captions.css
  Source/WebCore/css/mediaControls.css
Labels: unsafe-merge-queue, Media

#14615 imported/w3c/web-platform-tests/screen-orientation/orientation-reading.html is no longer flaky on any platform
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: Tools / Tests

#14445 transforms/3d/hit-testing/overlapping-layers-hit-test.html is a constant text failure.
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/transforms/3d/hit-testing/overlapping-layers-hit-test-expected.txt
  LayoutTests/transforms/3d/hit-testing/overlapping-layers-hit-test.html
Labels: merge-queue, WebCore Misc.

#14614 imported/w3c/web-platform-tests/screen-orientation/lock-basic.html is incorrectly marked as flaky
  LayoutTests/platform/ios-wk2/TestExpectations
Labels: Tools / Tests

#14651 [WebGPU] Delete some unnecessary methods from WebGPUExt.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUAdapterImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUBufferImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUDeviceImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUQueueImpl.cpp
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
  Source/WebGPU/WebGPU/WebGPUExt.h
  Source/WebGPU/WebGPU/WebGPUInternal.h
  Source/WebGPU/WebGPU/config.h
Labels: merge-queue, WebGPU

#14681 Stop propagating text decorations on outermost SVG roots
  LayoutTests/svg/text/text-decoration-propagation-2-expected.html
  LayoutTests/svg/text/text-decoration-propagation-2.html
  LayoutTests/svg/text/text-decoration-propagation-expected.html
  LayoutTests/svg/text/text-decoration-propagation.html
  Source/WebCore/style/StyleAdjuster.cpp
Labels: SVG

#14653 [iOS] Add a layout test to verify that the selection is hidden while overflow scrolling
  LayoutTests/editing/selection/ios/hide-selection-when-scrolling-overflow-container-expected.txt
  LayoutTests/editing/selection/ios/hide-selection-when-scrolling-overflow-container.html
Labels: merge-queue, Tools / Tests

#14663 Add content-visibility perf tests
  PerformanceTests/ContentVisibility/div-container-width-changes-cv-auto-scrolling.html
  PerformanceTests/ContentVisibility/div-container-width-changes-cv-auto.html
  PerformanceTests/ContentVisibility/div-container-width-changes-scrolling.html
  PerformanceTests/ContentVisibility/div-container-width-changes.html
  PerformanceTests/ContentVisibility/div-item-width-changes-cv-auto-scrolling.html
  PerformanceTests/ContentVisibility/div-item-width-changes-cv-auto.html
  PerformanceTests/ContentVisibility/div-item-width-changes-scrolling.html
  PerformanceTests/ContentVisibility/div-item-width-changes.html
  PerformanceTests/ContentVisibility/fieldset-container-width-changes.html
  PerformanceTests/ContentVisibility/flex-container-width-changes-cv-auto-scrolling.html
  PerformanceTests/ContentVisibility/flex-container-width-changes-cv-auto.html
  PerformanceTests/ContentVisibility/flex-container-width-changes-scrolling.html
  PerformanceTests/ContentVisibility/flex-container-width-changes.html
  PerformanceTests/ContentVisibility/flex-item-width-changes-cv-auto-scrolling.html
  PerformanceTests/ContentVisibility/flex-item-width-changes-cv-auto.html
  PerformanceTests/ContentVisibility/flex-item-width-changes-scrolling.html
  PerformanceTests/ContentVisibility/flex-item-width-changes.html
  PerformanceTests/ContentVisibility/grid-container-width-changes-cv-auto-scrolling.html
  PerformanceTests/ContentVisibility/grid-container-width-changes-cv-auto.html
  PerformanceTests/ContentVisibility/grid-container-width-changes-scrolling.html
  PerformanceTests/ContentVisibility/grid-container-width-changes.html
  PerformanceTests/ContentVisibility/grid-item-width-changes-cv-auto-scrolling.html
  PerformanceTests/ContentVisibility/grid-item-width-changes-cv-auto.html
  PerformanceTests/ContentVisibility/grid-item-width-changes-scrolling.html
  PerformanceTests/ContentVisibility/grid-item-width-changes.html
Labels: Tools / Tests, skip-ews

#14673 Add PAC related entitlement to all processes
  Source/WebKit/Scripts/process-entitlements.sh
Labels: WebKit Misc.

#14697 Fix -Werror=unused-function when building LLIntData.cpp with cloop enabled
  Source/JavaScriptCore/llint/LLIntData.cpp
Labels: merge-queue, JavaScriptCore

#14685 Add nullability annotation to removeDataStoreForIdentifier
  Source/WebKit/UIProcess/API/Cocoa/WKWebsiteDataStore.h
Labels: merge-queue, WebKit API

#14695 Adjust preprocessor guards for bmalloc test in StdLibExtrasTests.cpp
  Tools/TestWebKitAPI/Tests/WTF/StdLibExtrasTests.cpp
Labels: merge-queue, WebGL

#14680 Upstream inline text predictions support for WebKit
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/spi/mac/NSSpellCheckerSPI.h
  Source/WebCore/loader/EmptyClients.cpp
  Source/WebCore/page/EditorClient.h
  Source/WebCore/page/Page.cpp
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewConfiguration.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewConfiguration.mm
  Source/WebKit/UIProcess/PageClient.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/mac/PageClientImplMac.h
  Source/WebKit/UIProcess/mac/PageClientImplMac.mm
  Source/WebKit/UIProcess/mac/ViewGestureControllerMac.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKit/WebProcess/WebCoreSupport/WebEditorClient.h
  Source/WebKit/WebProcess/WebCoreSupport/mac/WebEditorClientMac.mm
  Source/WebKitLegacy/mac/WebCoreSupport/WebEditorClient.h
Labels: Platform

#14700 [JSC] Use allocated scratch FPR for ARM64 countPopulation
  Source/JavaScriptCore/assembler/MacroAssemblerARM64.h
  Source/JavaScriptCore/assembler/MacroAssemblerX86Common.h
  Source/JavaScriptCore/assembler/MacroAssemblerX86_64.h
  Source/JavaScriptCore/wasm/WasmAirIRGeneratorBase.h
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
Labels: merge-queue, JavaScriptCore

#14703 Non-unified build fixes, early June 2023 edition
  Source/WebCore/accessibility/AccessibilityObject.cpp
  Source/WebCore/css/CSSToLengthConversionData.cpp
  Source/WebCore/display/DisplayTreeBuilder.cpp
  Source/WebCore/dom/Microtasks.cpp
  Source/WebCore/fileapi/ThreadableBlobRegistry.cpp
  Source/WebCore/html/HTMLFormControlElement.cpp
  Source/WebCore/html/HTMLImageElement.cpp
  Source/WebCore/html/HTMLPlugInElement.cpp
  Source/WebCore/html/HTMLTableElement.cpp
  Source/WebCore/html/parser/HTMLEntityParser.cpp
  Source/WebCore/layout/integration/inline/InlineIteratorLineBox.cpp
  Source/WebCore/loader/NavigationScheduler.h
  Source/WebCore/page/RemoteFrameClient.h
  Source/WebCore/rendering/BaselineAlignment.cpp
  Source/WebCore/rendering/BaselineAlignment.h
  Source/WebCore/rendering/EventRegion.cpp
  Source/WebCore/rendering/GridBaselineAlignment.cpp
  Source/WebCore/rendering/RenderDeprecatedFlexibleBox.cpp
  Source/WebCore/rendering/RenderDetailsMarker.cpp
  Source/WebCore/rendering/RenderFileUploadControl.cpp
  Source/WebCore/rendering/RenderFlexibleBox.cpp
  Source/WebCore/rendering/RenderFragmentContainer.cpp
  Source/WebCore/rendering/RenderFragmentContainerSet.cpp
  Source/WebCore/rendering/RenderFrame.cpp
  Source/WebCore/rendering/RenderFrameBase.cpp
  Source/WebCore/rendering/RenderFrameSet.cpp
  Source/WebCore/rendering/RenderHTMLCanvas.cpp
  Source/WebCore/rendering/RenderIFrame.cpp
  Source/WebCore/rendering/RenderImageResource.cpp
  Source/WebCore/rendering/RenderImageResourceStyleImage.cpp
  Source/WebCore/rendering/RenderInline.cpp
  Source/WebCore/rendering/RenderLayerFilters.cpp
  Source/WebCore/rendering/RenderLayoutState.cpp
  Source/WebCore/rendering/RenderLineBoxList.cpp
  Source/WebCore/rendering/RenderLineBreak.cpp
  Source/WebCore/rendering/RenderListItem.cpp
  Source/WebCore/rendering/RenderMarquee.cpp
  Source/WebCore/rendering/RenderMeter.cpp
  Source/WebCore/rendering/RenderMultiColumnFlow.cpp
  Source/WebCore/rendering/RenderMultiColumnSpannerPlaceholder.cpp
  Source/WebCore/rendering/RenderProgress.cpp
  Source/WebKit/GPUProcess/ShapeDetection/RemoteBarcodeDetector.cpp
  Source/WebKit/GPUProcess/ShapeDetection/RemoteFaceDetector.cpp
  Source/WebKit/GPUProcess/ShapeDetection/RemoteTextDetector.cpp
  Source/WebKit/GPUProcess/graphics/RemoteImageBuffer.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteDevice.h
  Source/WebKit/UIProcess/ProvisionalFrameProxy.cpp
  Source/WebKit/UIProcess/ProvisionalFrameProxy.h
  Source/WebKit/UIProcess/SuspendedPageProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteDisplayListRecorderProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebRemoteFrameClient.cpp
  Source/WebKit/WebProcess/WebPage/WebDocumentLoader.cpp
Labels: merge-queue, Tools / Tests

#14658 Add support to generate-serializers to generate serializers that take an rvalue.
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.cpp
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.h
  Source/WebKit/Scripts/webkit/tests/SerializedTypeInfo.cpp
  Source/WebKit/Scripts/webkit/tests/TestSerializedType.serialization.in
Labels: WebKit2

#14702 Arrow key keyboard scrolling in Safari doesn't work
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingTreeMac.mm
Labels: merge-queue, Scrolling

#13754 Use RenderAttachment for wide-layout attachments, with some modified layout and rendering
  LayoutTests/fast/attachment/cocoa/wide-attachment-save-event-expected.txt
  LayoutTests/fast/attachment/mac/wide-attachment-image-controls-basic-expected.txt
  LayoutTests/platform/ios-wk2/fast/attachment/cocoa/wide-attachment-rendering-expected.txt
  LayoutTests/platform/mac-wk2/fast/attachment/cocoa/wide-attachment-rendering-expected.txt
  Source/WebCore/html/HTMLAttachmentElement.cpp
  Source/WebCore/html/HTMLAttachmentElement.h
  Source/WebCore/html/shadow/attachmentElementShadow.css
  Source/WebCore/rendering/RenderAttachment.cpp
  Source/WebCore/rendering/RenderAttachment.h
  Source/WebCore/rendering/RenderThemeIOS.mm
  Source/WebCore/rendering/RenderThemeMac.mm
Labels: HTML Editing

#14711 Disable some Proxy API tests on the ios-simulator for now
  Tools/TestWebKitAPI/Tests/WebKitCocoa/Proxy.mm
Labels: merge-queue, WebKit Misc.

#14705 Make getName should return DOMString? instead of DOMString or undefined
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/CustomElementRegistry-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/CustomElementRegistry.html
  Source/WebCore/dom/CustomElementRegistry.cpp
  Source/WebCore/dom/CustomElementRegistry.h
  Source/WebCore/dom/CustomElementRegistry.idl
Labels: unsafe-merge-queue, DOM

#14720 Fix !ENABLE(ACCESSIBILITY) build following 264911@main
  Source/WebCore/accessibility/AXObjectCache.h
Labels: unsafe-merge-queue, New Bugs

#14716 Update GB-18030 encoding table
  LayoutTests/imported/w3c/web-platform-tests/encoding/legacy-mb-schinese/gb18030/gb18030-encoder-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/encoding/legacy-mb-schinese/gb18030/gb18030-encoder.html
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/text/EncodingTables.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#14327 Schedule rendering via RemoteLayerTreeDrawingArea directly, rather than using a 'fake' DisplayRefreshMonitor.
  Source/WebCore/page/ChromeClient.h
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebCore/page/RenderingUpdateScheduler.cpp
  Source/WebCore/page/RenderingUpdateScheduler.h
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.h
  Source/WebKit/WebProcess/WebPage/DrawingArea.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDisplayRefreshMonitor.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDisplayRefreshMonitor.mm
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDrawingArea.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDrawingArea.mm
Labels: Layout and Rendering

#14659 Make SharedMemory::Handle IPC encoding consume the object, and change all wrapping classes to expect to be moved.
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.h
  Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWOriginStore.cpp
  Source/WebKit/NetworkProcess/cache/NetworkCache.cpp
  Source/WebKit/NetworkProcess/cache/NetworkCache.h
  Source/WebKit/NetworkProcess/cache/NetworkCacheSpeculativeLoad.cpp
  Source/WebKit/Platform/IPC/SharedBufferReference.cpp
  Source/WebKit/Platform/IPC/StreamConnectionBuffer.cpp
  Source/WebKit/Platform/IPC/StreamConnectionBuffer.h
  Source/WebKit/Platform/IPC/StreamServerConnection.h
  Source/WebKit/Platform/SharedMemory.cpp
  Source/WebKit/Platform/SharedMemory.h
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/Shared/Cocoa/SharedCARingBuffer.h
  Source/WebKit/Shared/ContextMenuContextData.cpp
  Source/WebKit/Shared/ShareableBitmap.serialization.in
  Source/WebKit/Shared/ShareableResource.cpp
  Source/WebKit/Shared/ShareableResource.h
  Source/WebKit/Shared/UpdateInfo.cpp
  Source/WebKit/Shared/UpdateInfo.h
  Source/WebKit/Shared/UserData.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/WebProcess/Automation/WebAutomationSessionProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/PrepareBackingStoreBuffersData.serialization.in
  Source/WebKit/WebProcess/WebCoreSupport/gtk/WebDragClientGtk.cpp
  Source/WebKit/WebProcess/WebCoreSupport/mac/WebDragClientMac.mm
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.cpp
  Source/WebKit/WebProcess/WebPage/FindController.cpp
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/GraphicsLayerCARemote.mm
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Source/WebKit/WebProcess/WebPage/wc/WCBackingStore.h
Labels: WebKit Process Model

#14723 [WebXR] Fix compilation with MTLSHAREDEVENT_FOR_XR_FRAME_COMPLETION enabled
  Source/WebCore/Modules/webxr/WebXROpaqueFramebuffer.cpp
  Source/WebCore/Modules/webxr/WebXROpaqueFramebuffer.h
  Source/WebCore/platform/xr/PlatformXR.h
Labels: merge-queue, WebXR

#14725 [WebXR] Rename WebXROpaqueFramebuffer buffer binding helpers
  Source/WebCore/Modules/webxr/WebXROpaqueFramebuffer.cpp
  Source/WebCore/Modules/webxr/WebXROpaqueFramebuffer.h
Labels: merge-queue, WebXR

#14612 LayoutTests/imported/w3c/web-platform-tests/screen-orientation/active-lock.html is flaky
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/active-lock-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/active-lock.html
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/resources/nav_iframe.html
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/screen-orientation/active-lock-expected.txt
Labels: Tools / Tests

#14672 [WGSL] Constant rewriter should handle shadowing
  Source/WebGPU/WGSL/ConstantRewriter.cpp
  Source/WebGPU/WGSL/tests/lit.cfg
  Source/WebGPU/WGSL/tests/valid/shadowing.wgsl
Labels: merge-queue, WebGPU

#14670 [WGSL] GlobalRewriter reads and defs shouldn't leak between callees
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
  Source/WebGPU/WGSL/tests/valid/global-used-by-callee.wgsl
Labels: merge-queue, WebGPU

#14568 Make IPC::Connection::Handle move-only.
  Source/WebKit/Platform/IPC/Connection.cpp
  Source/WebKit/Platform/IPC/Connection.h
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/WebProcess/GPU/GPUProcessConnection.cpp
  Source/WebKit/WebProcess/Inspector/WebInspectorUI.cpp
  Source/WebKit/WebProcess/Network/NetworkProcessConnectionInfo.h
  Tools/TestWebKitAPI/Tests/IPC/ConnectionTests.cpp
  Tools/TestWebKitAPI/Tests/IPC/IPCTestUtilities.cpp
Labels: WebKit2

#14706 Expose Lockdown Mode as an option which can be passed to WebKitTestRunner
  Tools/WebKitTestRunner/Options.cpp
  Tools/WebKitTestRunner/Options.h
  Tools/WebKitTestRunner/cocoa/TestControllerCocoa.mm
Labels: Tools / Tests

#14696 LocalSampleBufferDisplayLayer crops frames with a rotation of 90 degrees
  Source/WebCore/platform/graphics/avfoundation/objc/LocalSampleBufferDisplayLayer.mm
Labels: merge-queue, WebRTC

#14671 [WGSL] Only rewrite globals in callees once
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
  Source/WebGPU/WGSL/tests/valid/global-used-by-callee.wgsl
Labels: WebGPU

#14690 Synchronize css/cssom WPT
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/CSSFontFeatureValuesRule-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/CSSFontFeatureValuesRule.html
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/adoptedstylesheets-observablearray.html
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/css-stylesheet-replaceSync-null-deref-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/css-stylesheet-replaceSync-null-deref.html
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-insets-absolute.html
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-insets-fixed.html
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-insets-nobox.html
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-insets-relative.html
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-insets-static.html
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-insets-sticky.html
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/support/getComputedStyle-insets.js
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/xml-stylesheet-pi-in-doctype-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/xml-stylesheet-pi-in-doctype.xhtml
Labels: Tools / Tests

#14693 RemoteSerializedImageBuffer tracks WP-side reads redundantly
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.cpp
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.h
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.messages.in
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.messages.in
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteSerializedImageBufferIdentifier.h
  Tools/TestWebKitAPI/Tests/IPC/ThreadSafeObjectHeapTests.cpp
Labels: Canvas

#14616 LayoutTests/imported/w3c/web-platform-tests/screen-orientation/lock-unlock-check.html is flaky
  LayoutTests/imported/w3c/web-platform-tests/screen-orientation/lock-unlock-check.html
  LayoutTests/platform/ios-wk2/TestExpectations
Labels: Tools / Tests

#14598 Fix scrollbar-gutter stable in vertical writing modes
  LayoutTests/imported/w3c/web-platform-tests/css/css-overflow/scrollbar-gutter-vertical-lr-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-overflow/scrollbar-gutter-vertical-rl-001-expected.txt
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderBoxModelObject.cpp
  Source/WebCore/rendering/RenderLayerScrollableArea.cpp
  Source/WebCore/rendering/RenderLayerScrollableArea.h
Labels: CSS

#14733 [WGSL] Assertion failure in call graph builder
  Source/WebGPU/WGSL/CallGraph.cpp
Labels: WebGPU

#14730 Use "enum class" instead of plain enum for ThemeTypes
  Source/WebCore/platform/ThemeTypes.cpp
  Source/WebCore/platform/ThemeTypes.h
Labels: merge-queue, WebCore Misc.

#14718 REGRESSION (263724@main): Jumpiness and jitteriness in scrolling on searchfox.org
  LayoutTests/fast/scrolling/scroll-anchoring-after-page-load-expected.html
  LayoutTests/fast/scrolling/scroll-anchoring-after-page-load.html
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/page/LocalFrameView.cpp
  Source/WebCore/page/LocalFrameView.h
Labels: unsafe-merge-queue, Scrolling

#14713 Address socket option telemetry
  Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.Networking.sb.in
Labels: unsafe-merge-queue, WebKit Misc.

#14750 Add Apple Vision Pro to acceptable targets for WebKitTestRunner.
  Tools/WebKitTestRunner/Configurations/WebKitTestRunnerApp.xcconfig
Labels: unsafe-merge-queue, Tools / Tests

#14754 Fixes crashes due to missing WebPrivacy framework on Ventura/Monterey downlevels after 264942@main
  Source/WebKit/Platform/cocoa/WebPrivacyHelpers.mm
Labels: unsafe-merge-queue, Platform

#14758 Fix the RLBS build
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
Labels: unsafe-merge-queue, WebKit Misc.

#14756 REGRESSION(??): Clicking ‘Next Episode’ on Netflix results in black video feed
  Source/WebKit/UIProcess/Cocoa/VideoFullscreenManagerProxy.h
  Source/WebKit/UIProcess/Cocoa/VideoFullscreenManagerProxy.messages.in
  Source/WebKit/UIProcess/Cocoa/VideoFullscreenManagerProxy.mm
  Source/WebKit/WebProcess/cocoa/VideoFullscreenManager.mm
Labels: merge-queue, Media

#14709 [Cocoa] Enable JPEG XL on 2023-aligned OSes
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/loader/cache/CachedResourceRequest.cpp
  Source/WebCore/platform/MIMETypeRegistry.cpp
  Source/WebCore/platform/graphics/cg/UTIRegistry.cpp
Labels: merge-queue, Images

#14708 [Cocoa] Move new LockdownMode Framework to Open Source
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/PAL.xcodeproj/project.pbxproj
  Source/WebCore/PAL/pal/cocoa/LockdownModeSoftLink.h
  Source/WebCore/PAL/pal/cocoa/LockdownModeSoftLink.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKSystemPreferences.mm
Labels: unsafe-merge-queue, WebKit Misc.

#14761 Add visionOS information to PlatformOS.h
  Source/WTF/wtf/PlatformOS.h
Labels: WebKit Misc.

#14766 Adopt PLATFORM(VISION) wherever PLATFORM(IOS) is used (Tools version)
  Tools/TestWebKitAPI/Tests/WebCore/CtapPinTest.cpp
  Tools/TestWebKitAPI/Tests/WebCore/cocoa/AVFoundationSoftLinkTest.mm
  Tools/TestWebKitAPI/Tests/WebKit/AGXCompilerService.mm
  Tools/TestWebKitAPI/Tests/WebKit/GetUserMedia.mm
  Tools/TestWebKitAPI/Tests/WebKit/GrantAccessToMobileAssets.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/AudioBufferSize.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/Coding.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/CookiePrivateBrowsing.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/DataDetection.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/EventAttribution.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/FullscreenVideoTextRecognition.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/GPUProcess.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IDBCheckpointWAL.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IDBIndexUpgradeToV2.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IndexedDBInPageCache.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IndexedDBMultiProcess.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IndexedDBPersistence.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IndexedDBSuspendImminently.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IndexedDBTempFileSize.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IndexedDBUserDelete.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/LocalStoragePersistence.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/NoPauseWhenSwitchingTabs.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/NotificationAPI.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ProcessSwapOnNavigation.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/QuickLook.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ResourceLoadStatistics.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SOAuthorizationTests.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ServiceWorkerBasic.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/StoreBlobThenDelete.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SystemPreview.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/UIDelegate.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKAttachmentTests.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKPDFView.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebViewCloseAllMediaPresentations.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebViewEvaluateJavaScript.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebsiteDatastore.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebCryptoMasterKey.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebProcessKillIDBCleanup.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebsiteDataStoreCustomPaths.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/_WKWebAuthenticationPanel.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/iOSMouseSupport.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/iOSStylusSupport.mm
  Tools/TestWebKitAPI/Tests/WebKitLegacy/ios/AudioSessionCategoryIOS.mm
  Tools/TestWebKitAPI/Tests/WebKitLegacy/ios/PreemptVideoFullscreen.mm
  Tools/TestWebKitAPI/Tests/WebKitLegacy/ios/ScrollingDoesNotPauseMedia.mm
  Tools/TestWebKitAPI/Tests/WebKitLegacy/ios/WebGLNoCrashOnOtherThreadAccess.mm
  Tools/TestWebKitAPI/Tests/ios/UIPasteboardTests.mm
  Tools/TestWebKitAPI/cocoa/DaemonTestUtilities.h
  Tools/TestWebKitAPI/cocoa/DaemonTestUtilities.mm
  Tools/TestWebKitAPI/config.h
  Tools/TestWebKitAPI/ios/UIKitSPI.h
  Tools/WebKitTestRunner/InjectedBundle/cocoa/ActivateFontsCocoa.mm
  Tools/WebKitTestRunner/TestController.cpp
  Tools/WebKitTestRunner/TestController.h
  Tools/WebKitTestRunner/ios/TestControllerIOS.mm
Labels: unsafe-merge-queue, Tools / Tests

#14765 Fix typo in WC class names
  Source/WebKit/GPUProcess/graphics/wc/RemoteWCLayerTreeHost.cpp
  Source/WebKit/GPUProcess/graphics/wc/RemoteWCLayerTreeHost.h
  Source/WebKit/GPUProcess/graphics/wc/RemoteWCLayerTreeHost.messages.in
  Source/WebKit/GPUProcess/graphics/wc/WCScene.cpp
  Source/WebKit/GPUProcess/graphics/wc/WCScene.h
  Source/WebKit/WebProcess/GPU/graphics/wc/RemoteWCLayerTreeHostProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/wc/RemoteWCLayerTreeHostProxy.h
  Source/WebKit/WebProcess/WebPage/wc/DrawingAreaWC.cpp
  Source/WebKit/WebProcess/WebPage/wc/DrawingAreaWC.h
  Source/WebKit/WebProcess/WebPage/wc/GraphicsLayerWC.cpp
  Source/WebKit/WebProcess/WebPage/wc/GraphicsLayerWC.h
  Source/WebKit/WebProcess/WebPage/wc/WCUpdateInfo.h
Labels: unsafe-merge-queue, Tools / Tests

#14767 [CMake] Support port specific serialization files
  Source/WebKit/CMakeLists.txt
Labels: unsafe-merge-queue, CMake

#14729 [WebXR] Use WebCore type for framebuffer size.
  Source/WebCore/Modules/webxr/WebXROpaqueFramebuffer.cpp
  Source/WebCore/Modules/webxr/WebXROpaqueFramebuffer.h
  Source/WebCore/Modules/webxr/WebXRWebGLLayer.cpp
Labels: merge-queue, WebXR

#14768 Generate serialization of WCUpdateInfo structures
  Source/WebKit/PlatformPlayStation.cmake
  Source/WebKit/PlatformWin.cmake
  Source/WebKit/WebProcess/WebPage/wc/WCUpdateInfo.h
  Source/WebKit/WebProcess/WebPage/wc/WCUpdateInfo.serialization.in
Labels: unsafe-merge-queue, WebKit Misc.

#14763 REGRESSION (264086@main): [iOS 17] Autocorrect highlight is sometimes incorrect in Mail compose
  Source/WebCore/dom/SimpleRange.h
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/DocumentEditingContext.mm
Labels: merge-queue, HTML Editing

#14710 [Cocoa] Enable HEIC
  LayoutTests/fast/canvas/toDataURL-unsupportedTypes-expected.txt
  LayoutTests/fast/canvas/toDataURL-unsupportedTypes.html
  LayoutTests/fast/forms/file/entries-api/image-no-transcode-drag-drop-expected.txt
  LayoutTests/fast/forms/file/entries-api/image-no-transcode-open-panel-expected.txt
  LayoutTests/fast/images/animated-heics-draw.html
  LayoutTests/fast/images/animated-heics-verify.html
  LayoutTests/fast/images/heic-as-background-image.html
  LayoutTests/http/tests/misc/heic-accept-header.html
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/loader/cache/CachedResourceRequest.cpp
  Source/WebCore/platform/MIMETypeRegistry.cpp
  Source/WebCore/platform/graphics/cg/UTIRegistry.cpp
Labels: merge-queue, Images

#14772 CSSOMViewScrollingAPIEnabled is "unstable" but enabled by default
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: merge-queue, CSS

#14737 bbc.co.uk: Video goes black with only audio playing when exiting PiP mode
  Source/WebCore/dom/FullscreenManager.cpp
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
Labels: merge-queue, Media
