Repository WebKit/WebKit, pull requests merged in 2023-02, with the labels that each got.

#9355 [ iOS BigSur+ ] fast/loader/stateobjects/popstate-does-not-fire-with-page-cache.html is a flaky failure.
  LayoutTests/fast/loader/stateobjects/popstate-does-not-fire-with-page-cache.html
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: merge-queue, New Bugs

#9416 Web Inspector: Add missing localizable strings after 259603@main
  Source/WebInspectorUI/Localizations/en.lproj/localizedStrings.js
Labels: unsafe-merge-queue, Web Inspector

#9036 [GLib] WebKitWebHitTestResult should use composition instead of subclassing
  Source/WebKit/Shared/API/glib/WebKitHitTestResult.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/glib/WebKitWebHitTestResult.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/glib/WebKitWebHitTestResult.h.in
  Source/WebKit/gtk/migrating-to-webkitgtk-6.0.md
Labels: merge-queue, WebKit API

#9402 Share TouchGestureController among USE(LIBWPE) ports
  Source/WebKit/PlatformWPE.cmake
  Source/WebKit/SourcesWPE.txt
  Source/WebKit/UIProcess/API/libwpe/TouchGestureController.cpp
  Source/WebKit/UIProcess/API/libwpe/TouchGestureController.h
  Source/WebKit/UIProcess/API/wpe/WPEView.cpp
  Source/WebKit/UIProcess/API/wpe/WPEView.h
Labels: merge-queue, Platform

#9277 Find on page intermittently fails to show results in PDFs in Safari
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/FindInPage.mm
Labels: merge-queue, Platform

#9397 Use CheckedPtr in CounterNode
  Source/WebCore/rendering/CounterNode.cpp
  Source/WebCore/rendering/CounterNode.h
  Source/WebCore/rendering/RenderCounter.cpp
  Source/WebCore/rendering/RenderCounter.h
Labels: unsafe-merge-queue, Layout and Rendering

#9367 CacheStorageCache should update size file when all records are removed
  LayoutTests/http/wpt/cache-storage/cache-quota-add.any-expected.txt
  LayoutTests/http/wpt/cache-storage/cache-quota-add.any.js
  Source/WebKit/NetworkProcess/storage/CacheStorageCache.cpp
Labels: merge-queue, Website Storage

#9410 Fork out Masonry into a separate layout function
  Source/WebCore/rendering/GridMasonryLayout.cpp
  Source/WebCore/rendering/GridTrackSizingAlgorithm.cpp
  Source/WebCore/rendering/GridTrackSizingAlgorithm.h
  Source/WebCore/rendering/RenderGrid.cpp
  Source/WebCore/rendering/RenderGrid.h
Labels: merge-queue, CSS

#9396 (REGRESSION(257434@main): https://readwise.io/read image squished
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/images/abs-pos-transferred-max-width-from-percentage-max-height-in-auto-height-containing-block-expected.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/images/abs-pos-transferred-max-width-from-percentage-max-height-in-auto-height-containing-block.html
  Source/WebCore/rendering/RenderBox.cpp
Labels: merge-queue, Layout and Rendering

#9433 Use Markable instead of std::optional when storing UUIDs in structs
  Source/WTF/wtf/UUID.h
  Source/WebCore/Modules/push-api/PushSubscriptionIdentifier.h
  Source/WebKit/NetworkProcess/NetworkSession.h
  Source/WebKit/NetworkProcess/NetworkSessionCreationParameters.cpp
  Source/WebKit/NetworkProcess/NetworkSessionCreationParameters.h
  Source/WebKit/Platform/IPC/DaemonCoders.h
  Source/WebKit/Shared/WebPushDaemonConnectionConfiguration.h
  Source/WebKit/Shared/WebPushDaemonConnectionConfiguration.serialization.in
  Source/WebKit/UIProcess/Extensions/WebExtensionControllerConfiguration.h
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStoreConfiguration.h
  Source/WebKit/webpushd/PushClientConnection.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebPushDaemon.mm
Labels: merge-queue, WebCore Misc.

#9159 Match SVGFEDropShadowElement and SVGFEGaussianBlurElement.setStdDeviation() with the specs
  LayoutTests/imported/w3c/web-platform-tests/css/filter-effects/idlharness.any-expected.txt
  LayoutTests/svg/dynamic-updates/SVGFEDropShadowElement-svgdom-stdDeviation-prop-expected.txt
  LayoutTests/svg/dynamic-updates/SVGFEDropShadowElement-svgdom-stdDeviation-prop.html
  LayoutTests/svg/dynamic-updates/SVGFEGaussianBlurElement-dom-stdDeviation-call-expected.txt
  LayoutTests/svg/dynamic-updates/SVGFEGaussianBlurElement-dom-stdDeviation-call.html
  Source/WebCore/svg/SVGFEDropShadowElement.idl
  Source/WebCore/svg/SVGFEGaussianBlurElement.idl
Labels: SVG

#9389 [WGSL] Ignore extraneous semicolons in statements and declarations
  Source/WebGPU/WGSL/Parser.cpp
Labels: WebGPU

#9428 [WebGPU] Connect PresentationContext and CompositorIntegration
  Source/WebCore/Modules/WebGPU/GPU.cpp
  Source/WebCore/Modules/WebGPU/GPU.h
  Source/WebCore/Modules/WebGPU/GPUPresentationContextDescriptor.h
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUImpl.cpp
  Source/WebCore/PAL/pal/graphics/WebGPU/Impl/WebGPUImpl.h
  Source/WebCore/PAL/pal/graphics/WebGPU/WebGPU.h
  Source/WebCore/PAL/pal/graphics/WebGPU/WebGPUPresentationContextDescriptor.h
  Source/WebCore/html/canvas/GPUCanvasContextCocoa.cpp
  Source/WebCore/html/canvas/GPUCanvasContextCocoa.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteGPU.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteGPU.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteGPU.messages.in
  Source/WebKit/Shared/WebGPU/WebGPUPresentationContextDescriptor.cpp
  Source/WebKit/Shared/WebGPU/WebGPUPresentationContextDescriptor.h
  Source/WebKit/Shared/WebGPU/WebGPUPresentationContextDescriptor.serialization.in
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteGPUProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteGPUProxy.h
Labels: merge-queue, WebGPU

#9390 [WGSL] Rename `ArgumentBuffer` roles to `BindGroup`
  Source/WebGPU/WGSL/AST/ASTParameterValue.h
  Source/WebGPU/WGSL/AST/ASTStructure.h
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
  Source/WebGPU/WGSL/Metal/MetalFunctionWriter.cpp
Labels: WebGPU

#9392 [GStreamer] Missing chain-ups to parent class constructed in custom GStreamer elements
  Source/WebCore/platform/audio/gstreamer/WebKitWebAudioSourceGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/VideoSinkGStreamer.cpp
  Source/WebCore/platform/gstreamer/VideoEncoderPrivateGStreamer.cpp
  Source/WebCore/platform/gstreamer/WebKitFliteSourceGStreamer.cpp
Labels: Platform

#9377 [WPE] Remove WebKitFaviconDatabase from new API
  Source/WebKit/PlatformWPE.cmake
  Source/WebKit/PlatformWPEDeprecated.cmake
  Source/WebKit/SourcesWPE.txt
  Source/WebKit/SourcesWPEDeprecated.txt
  Source/WebKit/UIProcess/API/glib/WebKitAutocleanups.h.in
  Source/WebKit/UIProcess/API/glib/WebKitNetworkSession.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebContext.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebView.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebsiteDataManager.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebsiteDataManager.h.in
  Source/WebKit/UIProcess/API/glib/webkit.h.in
Labels: WPE WebKit

#9444 [GStreamer][WebRTC] WebRTCProvider might be triggered on uninitialized GStreamer runtime
  Source/WebCore/platform/mediastream/gstreamer/GStreamerWebRTCProvider.cpp
Labels: merge-queue, Platform

#9349 Regression(ScreenOrientation API) Fullscreen exits right away on Youtube
  LayoutTests/TestExpectations
  LayoutTests/fast/dom/Orientation/no-orientation-change-event-when-unparenting-view-expected.txt
  LayoutTests/fast/dom/Orientation/no-orientation-change-event-when-unparenting-view.html
  LayoutTests/platform/ios/TestExpectations
  Source/WebCore/platform/ScreenOrientationProvider.cpp
  Source/WebCore/platform/ScreenOrientationProvider.h
  Source/WebCore/platform/ios/ScreenOrientationProviderIOS.mm
Labels: WebCore Misc.

#9405 [GTK] Simplify construction of injected bundle path
  Source/WebKit/PlatformGTK.cmake
  Source/WebKit/UIProcess/API/glib/WebKitWebContext.cpp
Labels: merge-queue, WebKitGTK

#9445 [GStreamer][WebRTC] Crash in statistics handling on RPi3
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerStatsCollector.cpp
Labels: merge-queue, Platform

#9450 [GLib] Missing documentation for webkit_web_view_run_async_javascript_function_in_world()
  Source/WebKit/UIProcess/API/glib/WebKitWebView.cpp
Labels: merge-queue, WebKitGTK

#9409 Change the default iPadOS simulator to one with a larger screen size
  Tools/Scripts/webkitpy/layout_tests/run_webkit_tests_integrationtest.py
  Tools/Scripts/webkitpy/port/ios_simulator.py
  Tools/Scripts/webkitpy/xcode/simulated_device_unittest.py
Labels: Tools / Tests

#9404 [GLib] Always mount injected bundle directory in sandbox
  Source/WebKit/UIProcess/API/glib/WebKitWebContext.cpp
Labels: merge-queue, WebKitGTK

#9398 [GTK] Remove on-demand hardware acceleration setting
  Source/WebKit/UIProcess/API/glib/WebKitProtocolHandler.cpp
  Source/WebKit/UIProcess/API/glib/WebKitSettings.cpp
  Source/WebKit/UIProcess/API/glib/WebKitSettings.h.in
  Source/WebKit/gtk/migrating-to-webkitgtk-6.0.md
  Tools/MiniBrowser/gtk/BrowserSettingsDialog.c
  Tools/TestWebKitAPI/Tests/WebKitGLib/TestWebKitSettings.cpp
Labels: merge-queue, WebKitGTK

#9424 Shrink Layout::ElementBox slightly
  Source/WebCore/layout/layouttree/LayoutBox.cpp
  Source/WebCore/layout/layouttree/LayoutBox.h
  Source/WebCore/layout/layouttree/LayoutElementBox.h
  Source/WebCore/rendering/style/RenderStyle.cpp
Labels: Layout and Rendering

#9023 Rename FileSystem::FileOpenMode::Write to FileSystem::FileOpenMode::Truncate
  Source/JavaScriptCore/jsc.cpp
  Source/JavaScriptCore/wasm/WasmStreamingParser.cpp
  Source/WTF/wtf/FileSystem.cpp
  Source/WTF/wtf/FileSystem.h
  Source/WTF/wtf/glib/FileSystemGlib.cpp
  Source/WTF/wtf/posix/FileSystemPOSIX.cpp
  Source/WTF/wtf/win/FileSystemWin.cpp
  Source/WebCore/Modules/webdatabase/OriginLock.cpp
  Source/WebCore/loader/appcache/ApplicationCacheStorage.cpp
  Source/WebCore/platform/network/BlobRegistryImpl.cpp
  Source/WebCore/platform/network/curl/CookieJarDB.cpp
  Source/WebCore/platform/network/curl/CurlCacheEntry.cpp
  Source/WebCore/platform/network/curl/CurlCacheManager.cpp
  Source/WebCore/workers/service/server/SWScriptStorage.cpp
  Source/WebKit/NetworkProcess/NetworkDataTaskBlob.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/ServiceWorkerDownloadTask.cpp
  Source/WebKit/NetworkProcess/cache/CacheStorageEngine.cpp
  Source/WebKit/NetworkProcess/cache/NetworkCache.cpp
  Source/WebKit/NetworkProcess/cache/NetworkCacheIOChannelCurl.cpp
  Source/WebKit/NetworkProcess/curl/NetworkDataTaskCurl.cpp
  Source/WebKit/NetworkProcess/storage/CacheStorageManager.cpp
  Source/WebKit/Shared/PersistencyUtils.cpp
  Source/WebKit/Shared/WebMemorySampler.cpp
  Source/WebKit/Shared/mac/AuxiliaryProcessMac.mm
  Source/WebKit/UIProcess/API/APIContentRuleListStore.cpp
  Source/WebKit/UIProcess/ios/WKModelView.mm
  Source/WebKit/WebProcess/Model/mac/ARKitInlinePreviewModelPlayerMac.mm
  Tools/TestWebKitAPI/Tests/WTF/FileSystem.cpp
  Tools/TestWebKitAPI/Tests/WebCore/FileMonitor.cpp
  Tools/TestWebKitAPI/Tests/WebCore/cocoa/DatabaseTrackerTest.mm
Labels: New Bugs

#9414 [webkitscmpy] Expose hash of HEAD commit
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/mocks/remote/bitbucket.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/mocks/remote/git_hub.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/pull_request.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/remote/bitbucket.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/remote/git_hub.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/pull_request_unittest.py
Labels: Tools / Tests

#9413 Inline FloatSize::FloatSize(WebCore::IntSize& const) constructor
  Source/WebCore/platform/graphics/FloatSize.cpp
  Source/WebCore/platform/graphics/FloatSize.h
Labels: merge-queue, Layout and Rendering

#9431 [ iOS ] http/wpt/css/css-animations/set-animation-play-state-to-paused-001.html is a flaky failure.
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue

#9427 Resync web-platform-tests/fs from upstream
  LayoutTests/imported/w3c/resources/import-expectations.json
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemDirectoryHandle-removeEntry.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemDirectoryHandle-removeEntry.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemFileHandle-move.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemFileHandle-move.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemSyncAccessHandle-read-write.https.tentative.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemSyncAccessHandle-read-write.https.tentative.worker.js
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemSyncAccessHandle-truncate.https.tentative.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemSyncAccessHandle-truncate.https.tentative.worker.js
  LayoutTests/imported/w3c/web-platform-tests/fs/resources/sandboxed-fs-test-helpers.js
  LayoutTests/imported/w3c/web-platform-tests/fs/script-tests/FileSystemBaseHandle-getUniqueId.js
  LayoutTests/imported/w3c/web-platform-tests/fs/script-tests/FileSystemBaseHandle-remove.js
  LayoutTests/imported/w3c/web-platform-tests/fs/script-tests/FileSystemDirectoryHandle-removeEntry.js
  LayoutTests/imported/w3c/web-platform-tests/fs/script-tests/FileSystemFileHandle-create-sync-access-handle.js
  LayoutTests/imported/w3c/web-platform-tests/fs/script-tests/FileSystemFileHandle-move.js
Labels: merge-queue, New Bugs

#9400 [css-scroll-snap] Have ScrollSnapAnimatorState calculate the HashSet of currently snapped boxes immediately
  LayoutTests/css3/scroll-snap/scroll-snap-remove-snap-area-expected.txt
  LayoutTests/css3/scroll-snap/scroll-snap-remove-snap-area.html
  Source/WebCore/platform/ScrollSnapAnimatorState.cpp
  Source/WebCore/platform/ScrollSnapAnimatorState.h
Labels: unsafe-merge-queue, New Bugs

#9446 Print JIT_COMMENT annotations on capstone
  Source/JavaScriptCore/disassembler/CapstoneDisassembler.cpp
Labels: merge-queue, JavaScriptCore

#9419 Ensure CacheStorageDiskStore make isolated copy of arguments when passing them between WorkQueues
  Source/WebKit/NetworkProcess/storage/CacheStorageDiskStore.cpp
Labels: merge-queue, New Bugs

#9464 [ Ventura EWS ] 2x AVIF tests are constant failures on EWS only
  LayoutTests/platform/mac-ventura-wk1/TestExpectations
  LayoutTests/platform/mac-ventura-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#9460 [JSC] Referenced function is functionIndexSpace
  JSTests/wasm/stress/only-referenced.js
  JSTests/wasm/stress/resources/only-referenced.wasm
  Source/JavaScriptCore/wasm/WasmBBQPlan.cpp
  Source/JavaScriptCore/wasm/WasmLLIntPlan.cpp
  Source/JavaScriptCore/wasm/WasmModuleInformation.h
  Source/JavaScriptCore/wasm/js/WebAssemblyModuleRecord.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#9455 [@property] Ensure style is up to date in ComputedStylePropertyMapReadOnly::entries
  LayoutTests/imported/w3c/web-platform-tests/css/css-properties-values-api/typedom-expected.txt
  Source/WebCore/css/typedom/ComputedStylePropertyMapReadOnly.cpp
Labels: merge-queue, CSS

#9425 Fix bug in VTTCue::toJSON() found by new libcpp assertions
  Source/WebCore/html/track/VTTCue.cpp
Labels: unsafe-merge-queue, Media

#9401 Prefix the SVGAnimationElement range setting methods with "set" instead of "calculate"
  Source/WebCore/svg/SVGAnimateElementBase.cpp
  Source/WebCore/svg/SVGAnimateElementBase.h
  Source/WebCore/svg/SVGAnimateMotionElement.cpp
  Source/WebCore/svg/SVGAnimateMotionElement.h
  Source/WebCore/svg/SVGAnimationElement.cpp
  Source/WebCore/svg/SVGAnimationElement.h
Labels: merge-queue, SVG

#9415 Expose WebCore::ContentExtensions::parseRuleList as WebKit SPI
  Source/WebKit/UIProcess/API/APIContentRuleList.cpp
  Source/WebKit/UIProcess/API/APIContentRuleList.h
  Source/WebKit/UIProcess/API/Cocoa/WKContentRuleList.mm
  Source/WebKit/UIProcess/API/Cocoa/WKContentRuleListPrivate.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ContentRuleListNotification.mm
Labels: WebKit Extensions

#9412 WPT: A subtest in shadow-dom/focus/focus-method-with-delegatesFocus.html fails
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus/focus-method-with-delegatesFocus-expected.txt
  Source/WebCore/dom/Element.cpp
Labels: DOM

#9472 [ews] API test results database integration isn't working
  Tools/CISupport/ews-build/steps.py
Labels: unsafe-merge-queue, Tools / Tests, skip-ews

#9297 Disable WebGL in worker threads.
  LayoutTests/platform/ios-wk2/TestExpectations
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WTF/wtf/PlatformEnableCocoa.h
Labels: merge-queue, Layout and Rendering

#9329 CFArrayGetCount not SecTrustGetCertificateCount
  Source/WebCore/platform/network/cf/CertificateInfoCFNet.cpp
  Source/WebCore/platform/network/cocoa/CertificateInfoCocoa.mm
Labels: merge-queue

#9478 wasm.yaml/wasm/lowExecutableMemory/imports-oom.js.default-wasm is a flaky failure
  JSTests/wasm/lowExecutableMemory/exports-oom.js
  JSTests/wasm/lowExecutableMemory/imports-oom.js
Labels: unsafe-merge-queue, JavaScriptCore

#9475 [JSC] ref.func in init-expr should be validated with function-index-space
  JSTests/wasm/stress/init-expr-ref-null-function-index-space-for-validation.js
  JSTests/wasm/stress/resources/init-expr-ref-null-function-index-space-for-validation.wasm
  Source/JavaScriptCore/wasm/WasmSectionParser.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#9408 [GTK] Remove webkit_web_context_[g,s]et_use_system_appearance_for_scrollbars()
  Source/WebKit/UIProcess/API/glib/WebKitWebContext.h.in
  Source/WebKit/gtk/migrating-to-webkitgtk-6.0.md
Labels: merge-queue, WebKitGTK

#9468 [ iOS ] imported/w3c/web-platform-tests/workers/baseurl/alpha/import-in-moduleworker.html is a flaky timeout.
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue

#9482 [ Ventura ] fast/images/avif-image-docu ment.html is a flaky crash (251099)
  LayoutTests/platform/mac-ventura/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#9480 Add Etienne Segonzac as contributor
  metadata/contributors.json
Labels: unsafe-merge-queue

#9485 [GARDNEING][Monterey+ wk2 ] svg/clip-path/clip-opacity-translate.svg is consistently failing
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#9420 Non-unified build fixes, early February 2023 edition
  Source/JavaScriptCore/bytecode/BytecodeBasicBlock.cpp
  Source/JavaScriptCore/bytecode/CallLinkStatus.cpp
  Source/JavaScriptCore/runtime/TemporalPlainDate.cpp
  Source/WebCore/Modules/WebGPU/GPUAdapter.cpp
  Source/WebCore/Modules/fetch/FetchBodyOwner.cpp
  Source/WebCore/Modules/push-api/PushPermissionState.h
  Source/WebCore/Modules/push-api/PushSubscription.cpp
  Source/WebCore/Modules/screen-wake-lock/WakeLockManager.cpp
  Source/WebCore/Modules/streams/WritableStream.cpp
  Source/WebCore/Modules/streams/WritableStreamSink.h
  Source/WebCore/Modules/web-locks/WebLockIdentifier.h
  Source/WebCore/Modules/web-locks/WebLockManager.cpp
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/bindings/js/JSServiceWorkerGlobalScopeCustom.cpp
  Source/WebCore/css/CSSCounterStyleRule.cpp
  Source/WebCore/css/CSSKeyframeRule.cpp
  Source/WebCore/css/CSSSupportsRule.cpp
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/DOMCSSNamespace.cpp
  Source/WebCore/css/DOMMatrixReadOnly.cpp
  Source/WebCore/css/PropertySetCSSStyleDeclaration.cpp
  Source/WebCore/css/StyleRule.cpp
  Source/WebCore/css/typedom/DeclaredStylePropertyMap.cpp
  Source/WebCore/dom/DOMImplementation.cpp
  Source/WebCore/dom/ElementData.cpp
  Source/WebCore/editing/FontAttributeChanges.cpp
  Source/WebCore/editing/FontAttributeChanges.h
  Source/WebCore/editing/FrameSelection.cpp
  Source/WebCore/fileapi/BlobURL.cpp
  Source/WebCore/html/HTMLElement.cpp
  Source/WebCore/html/HTMLFontElement.cpp
  Source/WebCore/html/HTMLTablePartElement.cpp
  Source/WebCore/inspector/agents/InspectorCanvasAgent.h
  Source/WebCore/loader/DocumentLoader.cpp
  Source/WebCore/page/EventHandler.cpp
  Source/WebCore/page/Frame.cpp
  Source/WebCore/platform/audio/PlatformMediaSession.cpp
  Source/WebCore/platform/graphics/DisplayRefreshMonitor.cpp
  Source/WebCore/platform/graphics/displaylists/DisplayListItems.cpp
  Source/WebCore/platform/graphics/displaylists/DisplayListRecorderImpl.cpp
  Source/WebCore/rendering/EventRegion.cpp
  Source/WebCore/rendering/GridLayoutFunctions.cpp
  Source/WebCore/rendering/RenderObject.cpp
  Source/WebCore/workers/service/context/ServiceWorkerFetch.cpp
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsDatabaseStore.cpp
  Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServerToContextConnection.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/WebProcess/WebProcess.cpp
Labels: merge-queue, Tools / Tests

#9241 [ews-build.webkit.org] Use Twisted requests in CloseBug
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/twisted_additions.py
Labels: unsafe-merge-queue, Tools / Tests

#9488 Remove #error added by mistake
  Source/WebCore/rendering/style/RenderStyle.cpp
Labels: unsafe-merge-queue, Layout and Rendering

#9422 Remove airplay code for Watch and ATV.
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebCore/Modules/modern-media-controls/controls/watchos-layout-traits.js
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/ios/forms/WKAirPlayRoutePicker.h
  Source/WebKit/UIProcess/ios/forms/WKAirPlayRoutePicker.mm
Labels: merge-queue, Media

#9359 Fix infinite recursion in propagateRepaintToParentWithOutlineAutoIfNeeded
  Source/WebCore/rendering/RenderObject.cpp
Labels: merge-queue, New Bugs

#9418 Make findPropertyIndex & findCustomPropertyIndex faster
  Source/WebCore/css/MutableStyleProperties.cpp
Labels: merge-queue, CSS

#9486 [GLib] Remove download-started vfunc from WebKitWebContextClass
  Source/WebKit/UIProcess/API/glib/WebKitWebContext.h.in
Labels: merge-queue, WebKitGTK

#9244 [ews-build.webkit.org] Convert RemoveFlagsOnPatch to Twisted asynchronous requests
  Tools/CISupport/ews-build/steps.py
Labels: unsafe-merge-queue, Tools / Tests

#9317 [ews-build.webkit.org] Convert SetCommitQueueMinusFlagOnPatch to Twisted asynchronous requests
  Tools/CISupport/ews-build/steps.py
Labels: unsafe-merge-queue, Tools / Tests

#9326 Create compile-time CFString instead of C literal https://bugs.webkit.org/show_bug.cgi?id=250937
  Source/JavaScriptCore/API/tests/testapi.c
Labels: merge-queue

#9430 Optimize padding in CachedRawResource
  Source/WebCore/loader/CrossOriginEmbedderPolicy.cpp
  Source/WebCore/loader/CrossOriginEmbedderPolicy.h
  Source/WebCore/loader/FetchOptions.h
  Source/WebCore/loader/ResourceLoaderOptions.h
  Source/WebCore/loader/cache/CachedRawResource.cpp
  Source/WebCore/loader/cache/CachedRawResource.h
  Source/WebCore/loader/cache/CachedResource.h
  Source/WebCore/platform/network/ResourceRequestBase.h
  Source/WebCore/platform/network/ResourceResponseBase.cpp
  Source/WebCore/platform/network/ResourceResponseBase.h
  Source/WebCore/platform/network/cf/ResourceError.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Labels: merge-queue, Page Loading

#9465 [GLib] Fix typo of cache_directory parameter to webkit_network_session_new
  Source/WebKit/UIProcess/API/glib/WebKitNetworkSession.cpp
  Source/WebKit/UIProcess/API/glib/WebKitNetworkSession.h.in
Labels: merge-queue, WebKitGTK

#9501 [WPE] Unreviewed test gardening, unexpected timeouts and crashes
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
Labels: unsafe-merge-queue

#9085 Trim collapsed margins at block-start and block-end when specified by margin-trim
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-collapsed-margins-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-collapsed-margins.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-self-collapsing-item-has-larger-block-end-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-self-collapsing-item-has-larger-block-end.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-self-collapsing-item-has-larger-block-start-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-end-self-collapsing-item-has-larger-block-start.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-start-collapsed-margins-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-start-collapsed-margins.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-start-self-collapsing-item-has-larger-block-end-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-start-self-collapsing-item-has-larger-block-end.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-start-self-collapsing-item-larger-block-start-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-box/margin-trim/block-container-block-start-self-collapsing-item-larger-block-start.html
  Source/WebCore/rendering/RenderBlockFlow.cpp
Labels: merge-queue, Layout and Rendering

#9454 [web-animations] ASSERT(node.isConnected()) reached in Style::Scope::forNode() in css/css-animations/CSSAnimation-getKeyframes-crash.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/CSSAnimation-getKeyframes-crash.html
  Source/WebCore/animation/KeyframeEffect.cpp
Labels: Animations

#9439 [web-animations] keyframes should be recomputed when the "currentcolor" value is used
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/responsive/column-rule-color-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/responsive/to-color-change-expected.txt
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/animation/KeyframeEffect.h
  Source/WebCore/animation/KeyframeEffectStack.cpp
  Source/WebCore/style/StyleResolver.cpp
  Source/WebCore/style/StyleResolver.h
Labels: Animations

#9447 [web-animations] keyframes should be recomputed if a custom property registration changes
  LayoutTests/imported/w3c/web-platform-tests/css/css-properties-values-api/at-property-animation-expected.txt
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/animation/KeyframeEffect.h
  Source/WebCore/style/CustomPropertyRegistry.cpp
  Source/WebCore/style/CustomPropertyRegistry.h
Labels: unsafe-merge-queue, Animations

#9437 imported/w3c/web-platform-tests/web-animations/responsive/baselineShift.html is a failure
  LayoutTests/imported/w3c/web-platform-tests/web-animations/responsive/baselineShift-expected.txt
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/style/StyleBuilderCustom.h
Labels: unsafe-merge-queue, CSS

#9453 [css-animations] composite operation of implicit keyframes for CSS Animations should be "replace"
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/KeyframeEffect-getKeyframes.tentative.html
  Source/WebCore/rendering/style/KeyframeList.cpp
Labels: unsafe-merge-queue, Animations

#9440 [web-animations] keyframes should be recomputed when "bolder" or "lighter" is used on a "font-weight" property
  LayoutTests/imported/w3c/web-platform-tests/web-animations/responsive/fontWeight-expected.txt
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/animation/KeyframeEffect.h
  Source/WebCore/animation/KeyframeEffectStack.cpp
  Source/WebCore/style/StyleResolver.cpp
  Source/WebCore/style/StyleResolver.h
Labels: Animations

#9451 texSubImage2D crashed on iOS16 + WebGL2 + large WASM memory
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
Labels: WebGL

#9438 [GTK][WPE] Move frame-name from WebKitNavigationPolicyDecision to WebKitNavigationAction
  Source/WebKit/UIProcess/API/glib/WebKitNavigationAction.cpp
  Source/WebKit/UIProcess/API/glib/WebKitNavigationAction.h.in
  Source/WebKit/UIProcess/API/glib/WebKitNavigationActionPrivate.h
  Source/WebKit/UIProcess/API/glib/WebKitNavigationPolicyDecision.cpp
  Source/WebKit/UIProcess/API/glib/WebKitNavigationPolicyDecision.h.in
  Tools/TestWebKitAPI/Tests/WebKitGLib/TestWebKitPolicyClient.cpp
Labels: unsafe-merge-queue, WebKitGTK, skip-ews

#9436 InvisibleAutoplay interruption should be lifted when unmuting a video element that was muted then made invisible
  LayoutTests/http/tests/webrtc/muted-video-mediastream-invisible-autoplay-expected.txt
  LayoutTests/http/tests/webrtc/muted-video-mediastream-invisible-autoplay.html
  Source/WebCore/html/HTMLMediaElement.cpp
Labels: Media

#9442 [ iOS Release ] imported/w3c/web-platform-tests/webcodecs/videoFrame-texImage.any.worker.html is a constant text only failure.
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/webcodecs/videoFrame-texImage.any.worker-expected.txt
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
Labels: merge-queue, New Bugs

#9236 Port ImageOrientation to the new serialization format
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/display/css/DisplayBoxDecorationPainter.cpp
  Source/WebCore/dom/DataTransfer.cpp
  Source/WebCore/html/ImageBitmap.cpp
  Source/WebCore/html/canvas/CanvasRenderingContext2DBase.cpp
  Source/WebCore/html/canvas/CanvasRenderingContext2DBase.h
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/loader/cache/CachedImage.cpp
  Source/WebCore/platform/cocoa/DragImageCocoa.mm
  Source/WebCore/platform/graphics/BifurcatedGraphicsContext.h
  Source/WebCore/platform/graphics/BitmapImage.cpp
  Source/WebCore/platform/graphics/BitmapImage.h
  Source/WebCore/platform/graphics/CrossfadeGeneratedImage.h
  Source/WebCore/platform/graphics/GeneratedImage.h
  Source/WebCore/platform/graphics/GraphicsContext.cpp
  Source/WebCore/platform/graphics/GraphicsContext.h
  Source/WebCore/platform/graphics/Image.cpp
  Source/WebCore/platform/graphics/Image.h
  Source/WebCore/platform/graphics/ImageFrame.h
  Source/WebCore/platform/graphics/ImageOrientation.h
  Source/WebCore/platform/graphics/ImagePaintingOptions.h
  Source/WebCore/platform/graphics/ImageSource.cpp
  Source/WebCore/platform/graphics/ImageSource.h
  Source/WebCore/platform/graphics/NullGraphicsContext.h
  Source/WebCore/platform/graphics/cairo/CairoOperations.cpp
  Source/WebCore/platform/graphics/cg/GraphicsContextCG.cpp
  Source/WebCore/platform/graphics/cg/ImageDecoderCG.cpp
  Source/WebCore/platform/graphics/cg/PDFDocumentImage.h
  Source/WebCore/platform/graphics/coretext/DrawGlyphsRecorderCoreText.cpp
  Source/WebCore/platform/graphics/cv/GraphicsContextGLCVCocoa.cpp
  Source/WebCore/platform/graphics/cv/VideoFrameCV.mm
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/VideoTextureCopierGStreamer.cpp
  Source/WebCore/platform/graphics/mac/controls/ControlMac.mm
  Source/WebCore/platform/image-decoders/ScalableImageDecoderFrame.h
  Source/WebCore/platform/image-decoders/jpeg/JPEGImageDecoder.cpp
  Source/WebCore/rendering/BackgroundPainter.cpp
  Source/WebCore/rendering/RenderElement.cpp
  Source/WebCore/rendering/RenderLayerBacking.cpp
  Source/WebCore/rendering/style/NinePieceImage.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/style/StyleBuilderConverter.h
  Source/WebCore/svg/graphics/SVGImage.h
  Source/WebCore/svg/graphics/SVGImageForContainer.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Labels: WebKit Process Model

#9441 [WGSL] Allow early compilation without hints
  Source/WebGPU/WebGPU/ShaderModule.mm
Labels: merge-queue, WebGPU

#9462 [WGSL] Factor out context logic from MangleNames pass
  Source/WebGPU/WGSL/ContextProvider.h
  Source/WebGPU/WGSL/ContextProviderInlines.h
  Source/WebGPU/WGSL/MangleNames.cpp
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
Labels: merge-queue, WebGPU

#9456 [WK2] Clean up IPC::Decoder class
  Source/WebKit/Platform/IPC/Decoder.cpp
  Source/WebKit/Platform/IPC/Decoder.h
Labels: merge-queue, WebKit2

#9510 REGRESSION(259108@main): [GStreamer] imported/w3c/web-platform-tests/html/canvas/element/manual/wide-gamut-canvas/canvas-display-p3-drawImage-ImageBitmap-video.html is crashing
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
  Source/WebCore/platform/graphics/gstreamer/WebKitWebSourceGStreamer.cpp
Labels: merge-queue, New Bugs

#9512 [css-animations] css/css-animations/responsive/column-width-001.html makes incorrect assumption about clamping
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/responsive/column-width-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/responsive/column-width-001.html
Labels: unsafe-merge-queue, Animations

#9449 [WebAuthn] Conditional passkey request presents conditional control even after AbortController.abort()
  Source/WebCore/Modules/webauthn/AuthenticatorCoordinator.cpp
  Source/WebCore/Modules/webauthn/AuthenticatorCoordinatorClient.h
  Source/WebKit/UIProcess/WebAuthentication/WebAuthenticatorCoordinatorProxy.cpp
  Source/WebKit/UIProcess/WebAuthentication/WebAuthenticatorCoordinatorProxy.h
  Source/WebKit/UIProcess/WebAuthentication/WebAuthenticatorCoordinatorProxy.messages.in
  Source/WebKit/WebProcess/WebAuthentication/WebAuthenticatorCoordinator.cpp
  Source/WebKit/WebProcess/WebAuthentication/WebAuthenticatorCoordinator.h
Labels: Forms

#9481 Use 'mature' instead of 'shipping' to represent stable features
  Source/WTF/Scripts/GeneratePreferences.rb
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/Scripts/GenerateSettings.rb
  Source/WebKit/UIProcess/API/APIFeatureStatus.h
  Source/WebKit/UIProcess/API/Cocoa/_WKFeature.mm
  Source/WebKitLegacy/mac/WebView/WebFeature.h
Labels: merge-queue, WebKit Misc.

#9503 Enable framework version mismatch check on Catalyst builds
  Source/WebKit/Shared/EntryPointUtilities/Cocoa/XPCService/XPCServiceMain.mm
  Source/WebKit/UIProcess/Launcher/cocoa/ProcessLauncherCocoa.mm
Labels: unsafe-merge-queue, WebKit Misc.

#9234 [ews-build.webkit.org] Convert remove_label to Twisted requests
  Tools/CISupport/ews-build/steps.py
Labels: Tools / Tests

#9457 [WPE] Minor fixes and spelling in cross-toolchain helper
  Tools/Scripts/cross-toolchain-helper
Labels: Tools / Tests

#9519 [Cocoa] Add "recording website" entitlement
  Source/WebKit/Scripts/process-entitlements.sh
Labels: merge-queue, Media

#9483 Further adjust some heuristics in Document::urlForBindings()
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/dom/ScriptExecutionContext.cpp
  Source/WebCore/dom/ScriptExecutionContext.h
Labels: Platform

#9507 [web-animations] animation of color list custom properties with iterationComposite is incorrect
  LayoutTests/imported/w3c/web-platform-tests/css/css-properties-values-api/animation/custom-property-animation-color-comma-list-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-properties-values-api/animation/custom-property-animation-color-space-list-expected.txt
  Source/WebCore/animation/CSSPropertyAnimation.cpp
Labels: unsafe-merge-queue, Animations

#9524 [JSC] Skip `wasm/stress/only-referenced.js` on 32-bit ARM
  JSTests/wasm/stress/only-referenced.js
Labels: JavaScriptCore

#9509 [WGSL] Remove duplicate AST nodes
  Source/WebGPU/WGSL/AST/ASTLiteralExpressions.h
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
Labels: merge-queue, WebGPU

#9491 Relax the checks of the alpha channel of the blurred stroke in fast/canvas/canvas-scale-strokePath-shadow.html
  LayoutTests/fast/canvas/canvas-scale-strokePath-shadow-expected.txt
  LayoutTests/fast/canvas/canvas-scale-strokePath-shadow.html
  LayoutTests/platform/ios/fast/canvas/canvas-scale-strokePath-shadow-expected.txt
  LayoutTests/platform/mac/fast/canvas/canvas-scale-strokePath-shadow-expected.txt
  LayoutTests/platform/win/fast/canvas/canvas-scale-strokePath-shadow-expected.txt
Labels: merge-queue, Canvas

#9417 Fix use-after-move in CacheStorageCache::putRecordsInStore
  Source/WebKit/NetworkProcess/storage/CacheStorageCache.cpp
  Source/WebKit/NetworkProcess/storage/CacheStorageManager.cpp
Labels: New Bugs

#9547 [media-controls] LayoutTraits.supportsAirPlay() and LayoutTraits.supportPiP() should reliably disable those features
  Source/WebCore/Modules/modern-media-controls/media/airplay-support.js
  Source/WebCore/Modules/modern-media-controls/media/media-controller.js
  Source/WebCore/Modules/modern-media-controls/media/pip-support.js
Labels: unsafe-merge-queue, Media

#9526 [ATSPI] Make the rest of Atspi enums enum classes
  Source/WebCore/accessibility/atspi/AccessibilityAtspiEnums.h
  Source/WebCore/accessibility/atspi/AccessibilityObjectAtspi.h
  Source/WebCore/accessibility/atspi/AccessibilityObjectCollectionAtspi.cpp
  Source/WebCore/accessibility/atspi/AccessibilityObjectComponentAtspi.cpp
  Source/WebCore/accessibility/atspi/AccessibilityObjectTextAtspi.cpp
  Source/WebCore/accessibility/atspi/AccessibilityRootAtspi.cpp
Labels: merge-queue, Accessibility

#9492 iOS-only revert of bug 249561 for causing memory regression
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
Labels: unsafe-merge-queue, Text

#9521 [ews-build.webkit.org] Convert LeaveComment to Twisted asynchronous request
  Tools/CISupport/ews-build/steps.py
Labels: unsafe-merge-queue, Tools / Tests, skip-ews

#9366 Move SVG conditional processing attributes to SVGElementRareData
  Source/WebCore/svg/SVGElement.cpp
  Source/WebCore/svg/SVGElement.h
  Source/WebCore/svg/SVGElementRareData.h
  Source/WebCore/svg/SVGTests.cpp
  Source/WebCore/svg/SVGTests.h
  Source/WebCore/svg/properties/SVGPropertyAccessorImpl.h
  Source/WebCore/svg/properties/SVGPropertyOwnerRegistry.h
Labels: SVG

#9544 [ews-build.webkit.org] Treat _addToLog as asynchronous in ValidateCommitterAndReviewer
  Tools/CISupport/ews-build/steps.py
Labels: unsafe-merge-queue, Tools / Tests

#9548 [ iOS BigSur+ ] fast/loader/stateobjects/popstate-does-not-fire-with-page-cache.html is a flaky failure.
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue

#9528 Fix bug in NetworkStorageSession::clientSideCookieCap() found by new libcpp assertions
  Source/WebCore/platform/network/NetworkStorageSession.cpp
Labels: merge-queue, WebCore Misc.

#9421 Make sure `Clear-Site-Data: "cache"` properly clears the last back/forward cache entry
  LayoutTests/http/wpt/clear-site-data/clear-back-forward-cache-expected.txt
  LayoutTests/http/wpt/clear-site-data/clear-back-forward-cache.html
  LayoutTests/http/wpt/clear-site-data/resources/clear-back-forward-cache-popup.html
  LayoutTests/http/wpt/clear-site-data/resources/logout.html
  LayoutTests/http/wpt/clear-site-data/resources/logout.html.headers
  Source/WebCore/history/BackForwardCache.cpp
  Source/WebCore/loader/DocumentLoader.cpp
  Source/WebCore/loader/DocumentLoader.h
  Source/WebCore/platform/network/HTTPParsers.cpp
  Source/WebCore/platform/network/HTTPParsers.h
  Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp
Labels: WebCore Misc.

#9506 [WGSL] Implement additive & multiplicative expression parsing
  Source/WebGPU/WGSL/AST/ASTForward.h
  Source/WebGPU/WGSL/Lexer.cpp
  Source/WebGPU/WGSL/Parser.cpp
  Source/WebGPU/WGSL/ParserPrivate.h
  Source/WebGPU/WGSL/Token.cpp
  Source/WebGPU/WGSL/Token.h
  Tools/TestWebKitAPI/Tests/WGSL/LexerTests.cpp
  Tools/TestWebKitAPI/Tests/WGSL/ParserTests.cpp
  Tools/TestWebKitAPI/Tests/WGSL/TestWGSLAPI.h
Labels: merge-queue, WebGPU

#9470 REGRESSION(249934@main): Captions fail to load on ESPN.com
  LayoutTests/http/tests/security/contentSecurityPolicy/resources/track.vtt.py
  LayoutTests/http/tests/security/contentSecurityPolicy/track-redirect-allowed.html
  LayoutTests/http/tests/security/contentSecurityPolicy/track-redirect-allowed2.html
  LayoutTests/http/tests/security/contentSecurityPolicy/track-redirect-blocked-expected.txt
  LayoutTests/http/tests/security/contentSecurityPolicy/track-redirect-blocked.html
  LayoutTests/http/tests/security/text-track-crossorigin-expected.txt
  LayoutTests/http/tests/security/text-track-crossorigin.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/media-elements/track/track-element/cloneNode-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/media-elements/track/track-element/track-data-url-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/service-workers/service-worker/webvtt-cross-origin.https-expected.txt
  Source/WebCore/loader/TextTrackLoader.cpp
Labels: merge-queue, Media

#9554 [ews-build.webkit.org] Treat _addLog as asynchronous in ValidateChange
  Tools/CISupport/ews-build/steps.py
Labels: unsafe-merge-queue, Tools / Tests

#9556 Unreviewed, add missing include to fix iOS build
  Source/WebCore/platform/ios/PlatformScreenIOS.mm
Labels: unsafe-merge-queue, WebCore Misc.

#9469 Add static assertions in generated serialization code to verify correct member ordering
  Source/WebCore/Modules/indexeddb/shared/IDBDatabaseInfo.cpp
  Source/WebCore/Modules/indexeddb/shared/IDBDatabaseInfo.h
  Source/WebCore/platform/graphics/Pattern.h
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.cpp
  Source/WebKit/Scripts/webkit/tests/TestSerializedType.serialization.in
  Source/WebKit/Shared/API/APIError.serialization.in
  Source/WebKit/Shared/API/APIFrameHandle.serialization.in
  Source/WebKit/Shared/API/APIGeometry.serialization.in
  Source/WebKit/Shared/API/APIPageHandle.serialization.in
  Source/WebKit/Shared/API/APIURL.serialization.in
  Source/WebKit/Shared/API/APIURLRequest.serialization.in
  Source/WebKit/Shared/API/APIURLResponse.serialization.in
  Source/WebKit/Shared/SessionState.serialization.in
  Source/WebKit/Shared/ShareableBitmap.serialization.in
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/Shared/mac/SecItemResponseData.h
Labels: WebKit Misc.

#9563 [ macOS ] media/media-source/media-source-video-renders.html is a constant ImageOnly failure. (251627)
  LayoutTests/media/media-source/media-source-video-renders.html
Labels: unsafe-merge-queue, New Bugs

#9533 Masonry Items being added to Incorrect Row
  Source/WebCore/rendering/RenderGrid.cpp
  Source/WebCore/rendering/RenderGrid.h
Labels: merge-queue, CSS

#9558 Disable CSS Nesting by default
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: unsafe-merge-queue

#9399 Don't use CG display lists for bitmap-image-only layers
  Source/WebCore/platform/graphics/GraphicsLayerClient.h
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.h
  Source/WebCore/platform/graphics/ca/PlatformCALayerClient.h
  Source/WebCore/rendering/RenderLayerBacking.cpp
  Source/WebCore/rendering/RenderLayerBacking.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemote.cpp
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemote.h
Labels: unsafe-merge-queue, WebKit Misc.

#9560 Regression(LazyIframeLoading): "MySize ASSIST" view is empty in UNIQLO app
  Source/WTF/wtf/cocoa/RuntimeApplicationChecksCocoa.h
  Source/WebCore/html/HTMLIFrameElement.cpp
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
  Source/WebCore/platform/RuntimeApplicationChecks.h
  Source/WebCore/platform/cocoa/RuntimeApplicationChecksCocoa.mm
Labels: merge-queue, WebCore Misc.

#9484 Importing an exported v128 global should be possible
  JSTests/wasm/stress/simd-import-global-2.js
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
  Source/JavaScriptCore/dfg/DFGStrengthReductionPhase.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/wasm/WasmGlobal.h
  Source/JavaScriptCore/wasm/js/JSWebAssemblyArray.h
  Source/JavaScriptCore/wasm/js/JSWebAssemblyGlobal.cpp
  Source/JavaScriptCore/wasm/js/JSWebAssemblyHelpers.h
  Source/JavaScriptCore/wasm/js/WebAssemblyFunction.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyGlobalConstructor.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyModuleRecord.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#9570 [perf.webkit.org] sync-commits.py should handle commits with multiple emails
  Websites/perf.webkit.org/tools/sync-commits.py
Labels: merge-queue, Tools / Tests

#9536 transientRegistry should be WeakHashSet instead of HashSet of raw pointers
  Source/WTF/wtf/WeakHashMap.h
  Source/WTF/wtf/WeakHashSet.h
  Source/WTF/wtf/WeakListHashSet.h
  Source/WTF/wtf/WeakPtr.h
  Source/WebCore/dom/Node.cpp
  Source/WebCore/dom/Node.h
  Source/WebCore/dom/NodeRareData.h
Labels: unsafe-merge-queue, DOM

#9541 Fix bug in MediaFormatReader::copyTrackArray() found by new libcpp assertions
  Source/WebCore/PAL/pal/spi/cocoa/MediaToolboxSPI.h
  Source/WebKit/Shared/mac/MediaFormatReader/MediaFormatReader.cpp
Labels: merge-queue, Media

#9530 [JSC] Disable import-assertion since TC39 decides bringing it back to stage-2
  LayoutTests/TestExpectations
  Source/JavaScriptCore/runtime/OptionsList.h
Labels: unsafe-merge-queue, JavaScriptCore

#9566 Fix DUMP_NODE_STATISTICS
  Source/WebCore/dom/ContainerNode.cpp
  Source/WebCore/dom/ElementRareData.h
  Source/WebCore/dom/Node.cpp
  Source/WebCore/dom/NodeRareData.h
Labels: unsafe-merge-queue, DOM

#9581 Fix the CG_DISPLAY_LIST_BACKED_IMAGE_BUFFER build
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.h
  Source/WebCore/platform/graphics/ca/PlatformCALayerClient.h
Labels: unsafe-merge-queue, WebKit Misc.

#9573 <attachment> should get an interaction region
  Source/WebCore/page/InteractionRegion.cpp
Labels: merge-queue, WebKit Misc.

#9331 Remove checks for A8 devices https://bugs.webkit.org/show_bug.cgi?id=251552
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.mm
  Source/WebCore/testing/Internals.mm
Labels: merge-queue

#9575 [JSC] Disable wasm tail-call because of several necessary things
  JSTests/wasm/stress/tail-call-should-not-clobber-caller-origin.js
  JSTests/wasm/v8/indirect-call-non-zero-table.js
  Source/JavaScriptCore/runtime/OptionsList.h
Labels: unsafe-merge-queue, JavaScriptCore

#9568 Don't terminate web process when showing content-filter-provided data that loads subresources
  Source/WebCore/loader/ContentFilter.cpp
  Source/WebCore/loader/ContentFilter.h
  Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ContentFiltering.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ContentFilteringPlugIn.mm
Labels: unsafe-merge-queue, WebKit Misc.

#9582 Exclude Parser.cpp from being built as part of a unified file.
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/Sources.txt
Labels: merge-queue, JavaScriptCore

#9434 storage/indexeddb/modern/leak-1.html is a flaky failure
  LayoutTests/storage/indexeddb/modern/leak-1-expected.txt
  LayoutTests/storage/indexeddb/modern/resources/leak-1.js
Labels: Tools / Tests

#9539 [WGSL] Add the type implementations to the type checker
  Source/WebGPU/WGSL/AST/ASTStringDumper.cpp
  Source/WebGPU/WGSL/AST/ASTStringDumper.h
  Source/WebGPU/WGSL/AST/ASTTypeName.h
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/Types.cpp
  Source/WebGPU/WGSL/Types.h
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
Labels: WebGPU

#9586 REGRESSION: [Ventura] 16 TestWebKitAPI.WebPushD tests failing/timing out
  Source/WebKit/Platform/IPC/DaemonCoders.h
  Source/WebKit/Shared/WebPushDaemonConnectionConfiguration.h
  Source/WebKit/Shared/WebPushDaemonConnectionConfiguration.serialization.in
Labels: merge-queue, New Bugs

#9508 [@property] Set registered initial values to RenderStyle
  LayoutTests/imported/w3c/web-platform-tests/css/css-properties-values-api/at-property-animation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-properties-values-api/typedom-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/cssstyledeclaration-registered-custom-properties-expected.txt
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/css/CSSVariableReferenceValue.cpp
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/typedom/ComputedStylePropertyMapReadOnly.cpp
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/StyleCustomPropertyData.h
  Source/WebCore/style/CustomPropertyRegistry.cpp
  Source/WebCore/style/CustomPropertyRegistry.h
  Source/WebCore/style/StyleBuilderCustom.h
  Source/WebCore/style/StyleResolver.cpp
  Source/WebCore/style/StyleTreeResolver.cpp
Labels: CSS

#9523 [web-animations] keyframes should be recomputed when the "currentcolor" value is used on a custom property
  LayoutTests/imported/w3c/web-platform-tests/css/css-properties-values-api/at-property-animation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-properties-values-api/at-property-animation.html
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/animation/KeyframeEffect.h
  Source/WebCore/css/CSSCustomPropertyValue.cpp
  Source/WebCore/css/CSSCustomPropertyValue.h
  Source/WebCore/style/StyleResolver.cpp
  Source/WebCore/style/StyleResolver.h
Labels: Animations

#9522 [css-properties-values-api] non-inherited custom property fails to inherit from parent when "inherit" is set
  LayoutTests/imported/w3c/web-platform-tests/css/css-properties-values-api/registered-properties-inheritance-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-properties-values-api/registered-properties-inheritance.html
  Source/WebCore/style/StyleBuilderCustom.h
Labels: CSS

#9535 [WGSL] Simplify type checking structure
  Source/WebGPU/WGSL/TypeCheck.cpp
Labels: merge-queue, WebGPU

#9383 Port remaining WebCore/loader types to the new serialization format
  Source/WebCore/loader/AttributionSecondsUntilSendData.h
  Source/WebCore/loader/CanvasActivityRecord.h
  Source/WebCore/loader/CrossOriginOpenerPolicy.h
  Source/WebCore/loader/CustomHeaderFields.h
  Source/WebCore/loader/DocumentLoader.cpp
  Source/WebCore/loader/HTTPHeaderField.h
  Source/WebCore/loader/NavigationRequester.h
  Source/WebCore/loader/PolicyContainer.h
  Source/WebCore/loader/SubstituteData.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/WebProcess/InjectedBundle/API/APIInjectedBundlePageLoaderClient.h
  Source/WebKit/WebProcess/InjectedBundle/InjectedBundlePageLoaderClient.cpp
  Source/WebKit/WebProcess/InjectedBundle/InjectedBundlePageLoaderClient.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Labels: WebKit Process Model

#9525 [web-animations] keyframes should be recomputed when a parent element changes value for a custom property set to "inherit"
  LayoutTests/imported/w3c/web-platform-tests/css/css-properties-values-api/at-property-animation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-properties-values-api/at-property-animation.html
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/animation/KeyframeEffect.h
  Source/WebCore/css/CSSCustomPropertyValue.h
  Source/WebCore/style/StyleResolver.cpp
  Source/WebCore/style/StyleResolver.h
Labels: Animations

#9592 [@property] Cache tokens in CSSCustomPropertyValue
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/css/CSSCustomPropertyValue.cpp
  Source/WebCore/css/CSSCustomPropertyValue.h
Labels: CSS

#9574 Fix bug in CSSCalcOperationNode::createHypot() found by new libcpp assertions
  Source/WebCore/css/calc/CSSCalcOperationNode.cpp
Labels: unsafe-merge-queue, CSS

#9555 Refactor cssText() to share more code between grouping at-rules
  Source/WebCore/css/CSSContainerRule.cpp
  Source/WebCore/css/CSSGroupingRule.cpp
  Source/WebCore/css/CSSGroupingRule.h
  Source/WebCore/css/CSSLayerBlockRule.cpp
  Source/WebCore/css/CSSMediaRule.cpp
  Source/WebCore/css/CSSSupportsRule.cpp
  Source/WebCore/css/parser/CSSParserImpl.cpp
Labels: WebCore Misc.

#9571 WPT sync css/css-nesting
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/js/001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/js/001.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/cssom-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/cssom.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/delete-other-rule-crash.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/invalid-inner-rules-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/invalid-inner-rules.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/nest-containing-forgiving-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/nest-containing-forgiving-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/nest-containing-forgiving.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/nesting-basic-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/nesting-basic-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/nesting-basic.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/parsing-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/parsing.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/serialize-group-rules-with-decls.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/serialize-group-rules-with-decls.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/top-level-is-scope-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/top-level-is-scope.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/w3c-import.log
Labels: WebCore Misc.

#9495 AVIF images do not render in iOS Simulator
  LayoutTests/platform/ios/TestExpectations
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/platform/graphics/cg/UTIRegistry.cpp
Labels: unsafe-merge-queue, Images

#9476 Web Inspector: Font Panel: Avoid needless refresh of FontStyles
  Source/WebInspectorUI/UserInterface/Views/FontDetailsPanel.js
  Source/WebInspectorUI/UserInterface/Views/FontVariationDetailsSectionRow.js
Labels: merge-queue, Web Inspector

#9426 web platform tests that build up keydown and keyup events using test_driver.Actions fail
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-scroll-snap/selection-target-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/forms/the-button-element/active-onblur-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/forms/the-input-element/checkable-active-onblur-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/interactive-elements/the-dialog-element/dialog-canceling-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/interactive-elements/the-dialog-element/inert-node-is-uneditable-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/pointerevents/compat/pointerevent_mouseevent_key_pressed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/pointerevents/pointerevent_touch-action-keyboard-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/resources/testdriver-vendor.js
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/accesskey.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus-navigation/delegatesFocus-highlight-sibling-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus-navigation/focus-navigation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus-navigation/focus-navigation-slot-fallback-default-tabindex-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus-navigation/focus-navigation-slot-fallback-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus-navigation/focus-navigation-slot-nested-2levels-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus-navigation/focus-navigation-slot-nested-delegatesFocus-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus-navigation/focus-navigation-slot-nested-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus-navigation/focus-navigation-slot-nested-fallback-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus-navigation/focus-navigation-slot-shadow-in-fallback-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus-navigation/focus-navigation-slot-shadow-in-slot-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus-navigation/focus-navigation-slot-with-tabindex-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus-navigation/focus-navigation-slots-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus-navigation/focus-navigation-slots-in-slot-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus-navigation/focus-navigation-web-component-input-type-radio-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus-navigation/focus-navigation-with-delegatesFocus-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus-navigation/focus-nested-slots-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus-navigation/focus-reverse-unassignable-slot-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus-navigation/focus-reverse-unassigned-slot-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus-navigation/focus-unassignable-slot-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/focus-navigation/focus-with-negative-index-expected.txt
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/html/semantics/forms/the-button-element/active-onblur-expected.txt
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/html/semantics/forms/the-input-element/checkable-active-onblur-expected.txt
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/html/semantics/forms/the-button-element/active-onblur-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/html/semantics/forms/the-input-element/checkable-active-onblur-expected.txt
Labels: unsafe-merge-queue, Tools / Tests

#9565 fast/css/calc-parsing.html is crashing after enabling new libc++ assertions
  LayoutTests/platform/glib/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#5268 WC shouldn't require ENABLE_WEBGL
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.cpp
  Source/WebKit/GPUProcess/graphics/wc/RemoteWCLayerTreeHost.cpp
  Source/WebKit/UIProcess/playstation/PageClientImpl.cpp
  Source/WebKit/UIProcess/playstation/PageClientImpl.h
  Source/WebKit/WebProcess/WebPage/wc/GraphicsLayerWC.cpp
Labels: Platform

#9552 Some data task signposts are not ended properly
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
Labels: merge-queue, WebKit Misc.

#9553 Change sensitivity level of webpushd diagnostic logs (take 2)
  Source/WTF/wtf/Assertions.h
  Source/WebCore/workers/service/server/SWServer.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/UIProcess/API/Cocoa/WKWebsiteDataStore.mm
  Source/WebKit/UIProcess/Notifications/WebNotificationManagerProxy.cpp
Labels: merge-queue, WebKit Misc.

#9614 Make Bri Harris a committer.
  metadata/contributors.json
Labels: unsafe-merge-queue

#9619 Revert [259780@main] [WGSL] Implement additive & multiplicative expression parsing
  Source/WebGPU/WGSL/AST/ASTForward.h
  Source/WebGPU/WGSL/Lexer.cpp
  Source/WebGPU/WGSL/Parser.cpp
  Source/WebGPU/WGSL/ParserPrivate.h
  Source/WebGPU/WGSL/Token.cpp
  Source/WebGPU/WGSL/Token.h
  Tools/TestWebKitAPI/Tests/WGSL/LexerTests.cpp
  Tools/TestWebKitAPI/Tests/WGSL/ParserTests.cpp
  Tools/TestWebKitAPI/Tests/WGSL/TestWGSLAPI.h
Labels: unsafe-merge-queue, WebGPU

#9612 [webkitscmpy] Handle dual-email commit messages
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/contributor.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/contributor_unittest.py
Labels: unsafe-merge-queue, Tools / Tests

#9620 Fix build failure in NetworkDataTaskCocoa signposts
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
Labels: merge-queue, unsafe-merge-queue, WebKit Misc.

#9606 ContextMenuTests.SharePopoverDoesNotClearSelection times out in some versions of macOS
  Tools/TestWebKitAPI/Tests/TestWebKitAPI/mac/AppKitSPI.h
  Tools/TestWebKitAPI/Tests/mac/ContextMenuTests.mm
Labels: merge-queue, Platform

#9597 Move SecItemShim to the Network Process subdirectory
  Source/WebKit/NetworkProcess/mac/SecItemShim.cpp
  Source/WebKit/NetworkProcess/mac/SecItemShim.h
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: merge-queue, WebKit Process Model

#9511 SVGLengthValue::fromCSSPrimitiveValue() doesn't have enough context to resolve font-relative units
  LayoutTests/imported/w3c/web-platform-tests/svg/painting/parsing/stroke-dasharray-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/responsive/strokeDasharray-expected.txt
  LayoutTests/svg/css/scientific-numbers-expected.txt
  LayoutTests/svg/css/scientific-numbers.html
  Source/WebCore/style/StyleBuilderConverter.h
  Source/WebCore/style/StyleBuilderCustom.h
  Source/WebCore/svg/SVGLengthValue.cpp
  Source/WebCore/svg/SVGLengthValue.h
Labels: unsafe-merge-queue, SVG
