Repository WebKit/WebKit, pull requests merged in 2023-10, with the labels that each got.

#18464 Skip non-text svg elements in Position [upstream | downstream]
  Source/WebCore/dom/Position.cpp
Labels: merge-queue, HTML Editing

#18458 [Hardening] Make Vector::uncheckedAppend() an alias to Vector::append()
  Source/JavaScriptCore/API/JSObjectRef.cpp
  Source/JavaScriptCore/dfg/DFGLivenessAnalysisPhase.cpp
  Source/JavaScriptCore/dfg/DFGSSAConversionPhase.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/runtime/IntlCollator.cpp
  Source/WTF/wtf/Liveness.h
  Source/WTF/wtf/Vector.h
  Source/WTF/wtf/WeakHashSet.h
  Source/WTF/wtf/WeakListHashSet.h
  Source/WTF/wtf/text/WTFString.cpp
  Source/WebCore/bindings/js/IDBBindingUtilities.cpp
  Source/WebCore/css/CSSFontFace.cpp
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/Node.cpp
  Source/WebCore/html/URLSearchParams.cpp
  Source/WebCore/html/parser/AtomHTMLToken.h
  Source/WebCore/loader/cache/MemoryCache.cpp
  Source/WebCore/rendering/RenderObject.cpp
Labels: merge-queue

#18460 [MMS] Add logging for `streaming` state changes and `streamingAllowed` timer
  Source/WebCore/Modules/mediasource/ManagedMediaSource.cpp
  Source/WebCore/Modules/mediasource/ManagedMediaSource.h
  Source/WebCore/Modules/mediasource/MediaSource.h
  Source/WebCore/Modules/mediasource/SourceBuffer.cpp
Labels: Media

#18443 Drop early-outs for "no boxes" in SVGTextQuery entrypoints
  Source/WebCore/rendering/svg/SVGTextQuery.cpp
Labels: merge-queue, SVG

#18465 [UnifiedPDF] Handle page rotation
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFDocumentLayout.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFDocumentLayout.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: PDF

#18353 Add myself (Ian Grunert) to contributors.json
  metadata/contributors.json
Labels: merge-queue

#18471 imported/w3c/web-platform-tests/css/css-nesting/cssom.html is failing in WebKit
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/cssom-expected.txt
  Source/WebCore/dom/CharacterData.cpp
Labels: merge-queue, DOM

#18468 Adopt more smart pointers in editing code
  Source/WebCore/editing/EditingStyle.cpp
  Source/WebCore/editing/Editor.cpp
  Source/WebCore/editing/EditorCommand.cpp
  Source/WebCore/editing/FormatBlockCommand.cpp
  Source/WebCore/editing/FormatBlockCommand.h
  Source/WebCore/editing/FrameSelection.cpp
  Source/WebCore/editing/FrameSelection.h
  Source/WebCore/editing/InsertIntoTextNodeCommand.cpp
  Source/WebCore/editing/InsertIntoTextNodeCommand.h
  Source/WebCore/editing/InsertLineBreakCommand.cpp
  Source/WebCore/editing/InsertNodeBeforeCommand.cpp
  Source/WebCore/editing/InsertNodeBeforeCommand.h
  Source/WebCore/editing/InsertParagraphSeparatorCommand.cpp
  Source/WebCore/editing/InsertParagraphSeparatorCommand.h
  Source/WebCore/editing/InsertTextCommand.cpp
  Source/WebCore/editing/MarkupAccumulator.cpp
  Source/WebCore/editing/MergeIdenticalElementsCommand.cpp
  Source/WebCore/editing/MergeIdenticalElementsCommand.h
  Source/WebCore/editing/MoveSelectionCommand.cpp
  Source/WebCore/editing/RemoveFormatCommand.cpp
  Source/WebCore/editing/RemoveNodeCommand.cpp
  Source/WebCore/editing/RemoveNodeCommand.h
  Source/WebCore/editing/RemoveNodePreservingChildrenCommand.cpp
  Source/WebCore/editing/RemoveNodePreservingChildrenCommand.h
  Source/WebCore/editing/RenderedPosition.cpp
  Source/WebCore/editing/RenderedPosition.h
  Source/WebCore/editing/ReplaceNodeWithSpanCommand.cpp
  Source/WebCore/editing/ReplaceNodeWithSpanCommand.h
  Source/WebCore/editing/ReplaceRangeWithTextCommand.cpp
  Source/WebCore/editing/ReplaceRangeWithTextCommand.h
  Source/WebCore/editing/ReplaceSelectionCommand.cpp
  Source/WebCore/editing/ReplaceSelectionCommand.h
  Source/WebCore/editing/SpellingCorrectionCommand.cpp
  Source/WebCore/editing/markup.cpp
  Source/WebCore/rendering/RenderObject.h
  Source/WebKitLegacy/mac/WebView/WebHTMLRepresentation.mm
Labels: HTML Editing

#18467 [MMS] MSE-related properties in VideoTrack and AudioTrack are not enabled with MMS
  LayoutTests/media/media-source/media-managedmse-idl-expected.txt
  LayoutTests/media/media-source/media-managedmse-idl.html
  LayoutTests/platform/ios/TestExpectations
  Source/WebCore/Modules/mediasource/AudioTrack+MediaSource.idl
  Source/WebCore/Modules/mediasource/SourceBufferList.idl
  Source/WebCore/Modules/mediasource/TextTrack+MediaSource.idl
  Source/WebCore/Modules/mediasource/VideoTrack+MediaSource.idl
  Source/WebCore/bindings/scripts/CodeGeneratorJS.pm
Labels: Media

#18472 [UnifiedPDF] Scale pages to fix the available width
  Source/WebCore/html/PluginDocument.cpp
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginBase.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginBase.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFDocumentLayout.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFDocumentLayout.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: PDF

#18422 [WGSL] Override initializers should not be serialized
  Source/WebGPU/WGSL/Metal/MetalFunctionWriter.cpp
Labels: WebGPU

#18423 [WGSL] Add code generation for textureSampleCompare
  Source/WebGPU/WGSL/Metal/MetalFunctionWriter.cpp
  Source/WebGPU/WGSL/tests/valid/overload.wgsl
Labels: WebGPU

#18334 GraphicsContext InterpolationQuality::Default is misleading name, add documentation
  Source/WebCore/html/CanvasBase.cpp
  Source/WebCore/platform/graphics/GraphicsTypes.h
  Source/WebCore/platform/graphics/cocoa/IconCocoa.mm
  Source/WebCore/platform/graphics/texmap/BitmapTexture.cpp
  Source/WebCore/platform/mock/MockRealtimeVideoSource.cpp
Labels: CSS

#18461 Use UNUSED_VARIADIC_PARAMS instead of UNUSED_FUNCTION for variadic arguments
  Source/WTF/wtf/AggregateLogger.h
  Source/WTF/wtf/Logger.h
Labels: unsafe-merge-queue

#17969 [WPE] Add a DisplayLink implementation
  Source/WTF/wtf/PlatformHave.h
  Source/WebKit/PlatformWPE.cmake
  Source/WebKit/Shared/CoordinatedGraphics/threadedcompositor/ThreadedCompositor.cpp
  Source/WebKit/Shared/CoordinatedGraphics/threadedcompositor/ThreadedCompositor.h
  Source/WebKit/SourcesWPE.txt
  Source/WebKit/UIProcess/API/wpe/WPEView.cpp
  Source/WebKit/UIProcess/CoordinatedGraphics/DrawingAreaProxyCoordinatedGraphics.cpp
  Source/WebKit/UIProcess/CoordinatedGraphics/DrawingAreaProxyCoordinatedGraphics.h
  Source/WebKit/UIProcess/DisplayLink.h
  Source/WebKit/UIProcess/DrawingAreaProxy.h
  Source/WebKit/UIProcess/glib/DisplayVBlankMonitorDRM.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.h
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHost.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHost.h
  Source/WebKit/WebProcess/WebPage/DrawingArea.h
  Source/WebKit/WebProcess/WebPage/DrawingArea.messages.in
Labels: WPE WebKit

#18412 [webkitpy] Update twisted and pyopenssl autoinstalled versions (fix issues with python-3.11 and WPE ARM32 perf bots)
  Tools/Scripts/webkitpy/autoinstalled/twisted.py
Labels: Tools / Tests

#18424 [WGSL] Merge constant rewriting into the type checker
  Source/WebGPU/WGSL/AST/ASTExpression.h
  Source/WebGPU/WGSL/AST/ASTVisitor.cpp
  Source/WebGPU/WGSL/AST/ASTVisitor.h
  Source/WebGPU/WGSL/ConstantFunctions.h
  Source/WebGPU/WGSL/ConstantRewriter.cpp
  Source/WebGPU/WGSL/ConstantRewriter.h
  Source/WebGPU/WGSL/ConstantValue.h
  Source/WebGPU/WGSL/EntryPointRewriter.cpp
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
  Source/WebGPU/WGSL/Metal/MetalFunctionWriter.cpp
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/WGSL.cpp
  Source/WebGPU/WGSL/tests/valid/global-constant-vector.wgsl
  Source/WebGPU/WGSL/tests/valid/global-used-by-callee.wgsl
  Source/WebGPU/WGSL/tests/valid/local-constant-vector.wgsl
  Source/WebGPU/WGSL/tests/valid/packing.wgsl
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
Labels: WebGPU

#18469 Add per-fragment early-out for getCharNumAtPosition
  Source/WebCore/rendering/svg/SVGTextQuery.cpp
Labels: SVG

#18449 [MediaStream] Add support for ImageCapture
  LayoutTests/fast/mediastream/image-capture-creation-expected.txt
  LayoutTests/fast/mediastream/image-capture-creation.html
  LayoutTests/fast/mediastream/image-capture-get-photo-capabilities-expected.txt
  LayoutTests/fast/mediastream/image-capture-get-photo-capabilities.html
  Source/WebCore/CMakeLists.txt
  Source/WebCore/DerivedSources-input.xcfilelist
  Source/WebCore/DerivedSources-output.xcfilelist
  Source/WebCore/DerivedSources.make
  Source/WebCore/Headers.cmake
  Source/WebCore/Modules/mediastream/FillLightMode.idl
  Source/WebCore/Modules/mediastream/ImageCapture.cpp
  Source/WebCore/Modules/mediastream/ImageCapture.h
  Source/WebCore/Modules/mediastream/ImageCapture.idl
  Source/WebCore/Modules/mediastream/MediaSettingsRange.idl
  Source/WebCore/Modules/mediastream/MediaStreamTrack.cpp
  Source/WebCore/Modules/mediastream/MediaStreamTrack.h
  Source/WebCore/Modules/mediastream/MeteringMode.h
  Source/WebCore/Modules/mediastream/PhotoCapabilities.idl
  Source/WebCore/Modules/mediastream/RedEyeReduction.idl
  Source/WebCore/Sources.txt
  Source/WebCore/bindings/js/WebCoreBuiltinNames.h
  Source/WebCore/platform/mediastream/FillLightMode.h
  Source/WebCore/platform/mediastream/MediaSettingsRange.h
  Source/WebCore/platform/mediastream/MediaStreamTrackPrivate.cpp
  Source/WebCore/platform/mediastream/MediaStreamTrackPrivate.h
  Source/WebCore/platform/mediastream/MeteringMode.h
  Source/WebCore/platform/mediastream/PhotoCapabilities.h
  Source/WebCore/platform/mediastream/RealtimeMediaSource.cpp
  Source/WebCore/platform/mediastream/RealtimeMediaSource.h
  Source/WebCore/platform/mediastream/RedEyeReduction.h
  Source/WebCore/platform/mediastream/mac/AVVideoCaptureSource.h
  Source/WebCore/platform/mediastream/mac/AVVideoCaptureSource.mm
  Source/WebCore/platform/mock/MockRealtimeVideoSource.cpp
  Source/WebCore/platform/mock/MockRealtimeVideoSource.h
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/Cocoa/UserMediaCaptureManagerProxy.cpp
  Source/WebKit/UIProcess/Cocoa/UserMediaCaptureManagerProxy.h
  Source/WebKit/UIProcess/Cocoa/UserMediaCaptureManagerProxy.messages.in
  Source/WebKit/WebProcess/cocoa/RemoteRealtimeMediaSource.cpp
  Source/WebKit/WebProcess/cocoa/RemoteRealtimeMediaSource.h
  Source/WebKit/WebProcess/cocoa/RemoteRealtimeMediaSourceProxy.cpp
  Source/WebKit/WebProcess/cocoa/RemoteRealtimeMediaSourceProxy.h
Labels: merge-queue, WebRTC

#18480 [UnifiedPDF] Implement two-up display mode
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFDocumentLayout.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFDocumentLayout.mm
Labels: merge-queue, PDF

#18445 Move program.branch.Branch.branch_point to Repository
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/branch.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/squash.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/branch_unittest.py
  Tools/Scripts/webkitpy/common/checkout/scm/git.py
Labels: Tools / Tests

#18497 Regression(268511@main?) 3% PLT regression on some iOS devices
  Source/WebCore/loader/FormState.h
  Source/WebCore/page/FrameDestructionObserver.h
  Source/WebCore/page/LocalDOMWindow.cpp
  Source/WebCore/page/LocalDOMWindow.h
  Source/WebCore/page/LocalFrame.cpp
  Source/WebCore/page/LocalFrame.h
  Source/WebCore/page/LocalFrameView.cpp
  Source/WebCore/page/LocalFrameView.h
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebCore/plugins/PluginInfoProvider.h
Labels: merge-queue, DOM

#16531 Make MediaKeysStorage directory name private
  Source/WebCore/Modules/encryptedmedia/CDM.cpp
  Source/WebCore/Modules/encryptedmedia/MediaKeySession.cpp
  Source/WebCore/Modules/encryptedmedia/legacy/WebKitMediaKeySession.cpp
  Source/WebCore/Modules/storage/DummyStorageProvider.h
  Source/WebCore/Modules/storage/StorageProvider.h
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebCore/storage/StorageUtilities.cpp
  Source/WebCore/storage/StorageUtilities.h
  Source/WebKit/Shared/WebProcessDataStoreParameters.h
  Source/WebKit/Shared/WebProcessDataStoreParameters.serialization.in
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.h
  Source/WebKit/WebProcess/WebCoreSupport/WebStorageProvider.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebProcess.cpp
  Source/WebKit/WebProcess/WebProcess.h
  Source/WebKitLegacy/mac/WebView/WebView.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebsiteDataStoreCustomPaths.mm
Labels: Website Storage

#18453 [update-test-expectations-from-bugzilla] move to parse_args
  Tools/Scripts/webkitpy/common/net/bugzilla/test_expectation_updater.py
Labels: Tools / Tests

#18482 Add template parameters to WTF::map() to specify resulting vector inlineCapacity / minCapacity
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
  Source/WTF/wtf/CrossThreadCopier.h
  Source/WTF/wtf/Vector.h
  Source/WTF/wtf/WeakHashSet.h
  Source/WTF/wtf/WeakListHashSet.h
Labels: merge-queue

#18324 [commits.webkit.org] Add ability to block user agents
  Tools/Scripts/libraries/reporelaypy/reporelaypy/__init__.py
  Tools/Scripts/libraries/reporelaypy/reporelaypy/checkoutroute.py
  Tools/Scripts/libraries/reporelaypy/reporelaypy/webserver.py
  Tools/Scripts/libraries/reporelaypy/run
  Tools/Scripts/libraries/reporelaypy/setup.py
  Tools/Scripts/libraries/webkitflaskpy/setup.py
  Tools/Scripts/libraries/webkitflaskpy/webkitflaskpy/__init__.py
  Tools/Scripts/libraries/webkitflaskpy/webkitflaskpy/authed_blueprint.py
Labels: Tools / Tests

#18502 Unreviewed, revert 267869@main, potential MotionMark regression
  Source/JavaScriptCore/assembler/LinkBuffer.h
  Source/JavaScriptCore/jit/JIT.cpp
  Source/JavaScriptCore/jit/JIT.h
  Source/JavaScriptCore/jit/JITArithmetic.cpp
  Source/JavaScriptCore/jit/JITCall.cpp
  Source/JavaScriptCore/jit/JITCode.cpp
  Source/JavaScriptCore/jit/JITInlines.h
  Source/JavaScriptCore/jit/JITOpcodes.cpp
  Source/JavaScriptCore/jit/JITOpcodes32_64.cpp
  Source/JavaScriptCore/jit/JITPropertyAccess.cpp
  Source/JavaScriptCore/runtime/Options.cpp
  Source/JavaScriptCore/runtime/OptionsList.h
Labels: JavaScriptCore

#18462 Stop using -_contextMenuInteraction:styleForMenuWithConfiguration: in WKActionSheetAssistant and WKFormSelectPicker
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/ios/CompactContextMenuPresenter.mm
  Source/WebKit/UIProcess/ios/WKActionSheetAssistant.mm
  Source/WebKit/UIProcess/ios/forms/WKFormSelectPicker.mm
  Source/WebKit/UIProcess/ios/forms/WKFormSelectPopover.mm
  Tools/WebKitTestRunner/cocoa/TestRunnerWKWebView.mm
Labels: Platform

#18483 [iOS] Stop using `-[NSURL _title]` and `-[NSURL _setTitle:]` when possible
  Source/WebCore/PAL/PAL.xcodeproj/project.pbxproj
  Source/WebCore/PAL/pal/PlatformMac.cmake
  Source/WebCore/PAL/pal/cocoa/LinkPresentationSoftLink.h
  Source/WebCore/PAL/pal/cocoa/LinkPresentationSoftLink.mm
  Source/WebCore/PAL/pal/spi/cocoa/LinkPresentationSPI.h
  Source/WebCore/PAL/pal/spi/ios/UIKitSPI.h
  Source/WebCore/SourcesCocoa.txt
  Source/WebCore/platform/cocoa/NSURLUtilities.h
  Source/WebCore/platform/cocoa/NSURLUtilities.mm
  Source/WebCore/platform/graphics/avfoundation/MediaSelectionGroupAVFObjC.h
  Source/WebCore/platform/ios/PlatformPasteboardIOS.mm
  Source/WebKit/Platform/spi/Cocoa/LinkPresentationSPI.h
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/Cocoa/WKShareSheet.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: Platform

#18459 [WebGPU] https://webgpu.github.io/webgpu-samples/samples/worker does not load
  Source/WebCore/Modules/WebGPU/GPU.h
  Source/WebCore/Modules/WebGPU/GPUCompositorIntegration.cpp
  Source/WebCore/Modules/WebGPU/GPUCompositorIntegration.h
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUCompositorIntegrationImpl.cpp
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUCompositorIntegrationImpl.h
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUImpl.cpp
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUImpl.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPU.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUCompositorIntegration.h
  Source/WebCore/html/canvas/GPUCanvasContextCocoa.mm
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteCompositorIntegration.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteCompositorIntegration.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteCompositorIntegration.messages.in
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteGPU.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteGPU.h
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteCompositorIntegrationProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteCompositorIntegrationProxy.h
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteGPUProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteGPUProxy.h
Labels: merge-queue, WebGPU

#18187 Ruby in WebVTT are not rendered correctly
  LayoutTests/media/track/captions-webvtt/ruby.vtt
  LayoutTests/media/track/webvtt-ruby-expected.txt
  LayoutTests/media/track/webvtt-ruby.html
  Source/WebCore/css/SelectorCheckerTestFunctions.h
  Source/WebCore/dom/Node.h
  Source/WebCore/html/RubyElement.h
  Source/WebCore/html/RubyTextElement.h
  Source/WebCore/html/track/VTTCue.cpp
  Source/WebCore/html/track/WebVTTElement.cpp
  Source/WebCore/html/track/WebVTTElement.h
  Source/WebCore/html/track/WebVTTParser.cpp
  Source/WebCore/page/CaptionUserPreferencesMediaAF.cpp
  Source/WebCore/style/ElementRuleCollector.cpp
Labels: Media

#18506 Web Extensions CodeGenerator needs to handle objects better.
  Source/WebKit/WebProcess/Extensions/Bindings/Cocoa/JSWebExtensionWrapperCocoa.mm
  Source/WebKit/WebProcess/Extensions/Bindings/JSWebExtensionWrapper.h
  Source/WebKit/WebProcess/Extensions/Bindings/Scripts/CodeGeneratorExtensions.pm
Labels: WebKit Extensions

#18485 [Win] Fix -Wundef and -Wnonportable-include-path compiler warnings
  Source/WTF/wtf/Brigand.h
  Source/WebCore/crypto/openssl/OpenSSLUtilities.h
  Source/WebCore/platform/network/curl/CookieJarDB.cpp
  Source/WebCore/platform/win/HWndDC.h
  Source/WebKit/UIProcess/Launcher/win/ProcessLauncherWin.cpp
  Source/cmake/WebKitCompilerFlags.cmake
  Tools/Scripts/webkitdirs.pm
  Tools/TestWebKitAPI/Tests/WebCore/CryptoDigest.cpp
Labels: unsafe-merge-queue

#18511 [git-webkit] Rely on cache when identifier and branch specified
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/local/git.py
Labels: unsafe-merge-queue, Tools / Tests, skip-ews

#18500 Simplify SVGTextQuery::modifyStartEndPositionsRespectingLigatures
  Source/WebCore/rendering/svg/SVGTextQuery.cpp
  Source/WebCore/rendering/svg/SVGTextQuery.h
Labels: SVG

#18504 Adjust logic for positioning the filename label in RenderFileUploadControl to use the font ascent
  Source/WebCore/rendering/RenderButton.cpp
  Source/WebCore/rendering/RenderButton.h
  Source/WebCore/rendering/RenderFileUploadControl.cpp
Labels: merge-queue, Forms

#18473 [iOS] Date picker is clipped in landscape mode on some narrower iPhone models
  LayoutTests/fast/forms/ios/show-and-dismiss-date-input-in-landscape-expected.txt
  LayoutTests/fast/forms/ios/show-and-dismiss-date-input-in-landscape.html
  LayoutTests/fast/forms/ios/time-picker-value-change.html
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/ios/forms/WKDatePickerPopoverController.h
  Source/WebKit/UIProcess/ios/forms/WKDatePickerPopoverController.mm
  Source/WebKit/UIProcess/ios/forms/WKDateTimeInputControl.h
  Source/WebKit/UIProcess/ios/forms/WKDateTimeInputControl.mm
Labels: merge-queue, Forms

#18518 Unreviewed, fix the internal tvOS build after 268744@main
  Source/WebCore/PAL/pal/cocoa/LinkPresentationSoftLink.h
  Source/WebCore/PAL/pal/cocoa/LinkPresentationSoftLink.mm
  Source/WebCore/PAL/pal/spi/cocoa/LinkPresentationSPI.h
Labels: unsafe-merge-queue, Platform

#18509 Fix build issue
  Source/WebKit/Shared/AuxiliaryProcessExtensions/NetworkingExtension-Info.plist
Labels: merge-queue, WebKit Misc.

#18487 formAssociated=true shouldn’t cause custom element to become focusable
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/form-associated/focusability-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/form-associated/focusability.html
  Source/WebCore/html/HTMLMaybeFormAssociatedCustomElement.cpp
Labels: merge-queue, DOM

#18522 REGRESSION(268723@main): Broke pyOpenSSL & Twisted
  Tools/Scripts/webkitpy/autoinstalled/twisted.py
Labels: unsafe-merge-queue, Tools / Tests

#18512 [Win] Generate VS project files with '-T ClangCL' if $CC is 'clang-cl'
  Tools/Scripts/webkitdirs.pm
Labels: unsafe-merge-queue, Tools / Tests

#18510 Expose WKSnapshotConfiguration._usesTransparentBackground as SPI
  Source/WebKit/UIProcess/API/Cocoa/WKSnapshotConfiguration.mm
  Source/WebKit/UIProcess/API/Cocoa/WKSnapshotConfigurationPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
Labels: WebKit API

#18508 Use StringView in CSSParserToken and simplify its code
  Source/WTF/wtf/text/StringView.cpp
  Source/WTF/wtf/text/StringView.h
  Source/WebCore/css/CSSVariableData.cpp
  Source/WebCore/css/parser/CSSParserToken.cpp
  Source/WebCore/css/parser/CSSParserToken.h
Labels: merge-queue, CSS

#18525 Remove unused DatePrototype.js
  Source/JavaScriptCore/builtins/DatePrototype.js
Labels: JavaScriptCore

#18516 [WebGPU][WGSL] Support @interpolate
  Source/WebGPU/WGSL/AST/ASTInterpolateAttribute.h
  Source/WebGPU/WGSL/AST/ASTVisitor.cpp
  Source/WebGPU/WGSL/AST/ASTVisitor.h
  Source/WebGPU/WGSL/Metal/MetalFunctionWriter.cpp
  Source/WebGPU/WGSL/Parser.cpp
Labels: merge-queue, WebGPU

#18476 More smart pointers in webcore/platform/graphics
  Source/WebCore/loader/cache/CachedResourceLoader.h
  Source/WebCore/platform/graphics/BitmapImage.cpp
  Source/WebCore/platform/graphics/GradientImage.cpp
  Source/WebCore/platform/graphics/WebMResourceClient.cpp
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/WebCoreAVFResourceLoader.mm
  Source/WebCore/platform/graphics/filters/FilterOperation.cpp
  Source/WebCore/platform/graphics/filters/software/FELightingSoftwareApplier.cpp
Labels: Platform

#18513 [WGSL] Implement constant function for subtraction
  Source/WebGPU/WGSL/ConstantFunctions.h
  Source/WebGPU/WGSL/ConstantValue.h
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/tests/valid/reordering.wgsl
Labels: WebGPU

#18538 [PlayStation] Update Safari Version in User Agent
  Source/WebCore/platform/playstation/UserAgentPlayStation.cpp
Labels: Platform

#18489 [GStreamer] Caps negotiation failure between webaudio source and audio mixer
  Source/WebCore/platform/graphics/gstreamer/GStreamerAudioMixer.cpp
Labels: Platform

#18520 [SVG2] Remove `SVGRenderingIntent` interface
  LayoutTests/fast/dom/Window/resources/window-properties.js
  LayoutTests/fast/dom/Window/window-lookup-precedence-expected.txt
  LayoutTests/platform/gtk/fast/dom/Window/window-lookup-precedence-expected.txt
  LayoutTests/platform/mac-wk2/fast/dom/Window/window-lookup-precedence-expected.txt
  LayoutTests/svg/custom/js-svg-constructors-expected.txt
  LayoutTests/svg/custom/js-svg-constructors.svg
  Source/WebCore/CMakeLists.txt
  Source/WebCore/DerivedSources-input.xcfilelist
  Source/WebCore/DerivedSources-output.xcfilelist
  Source/WebCore/DerivedSources.make
  Source/WebCore/Sources.txt
  Source/WebCore/svg/SVGRenderingIntent.h
  Source/WebCore/svg/SVGRenderingIntent.idl
Labels: SVG

#18339 Remove BBC radio player quirk leftovers
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: WebKit Misc.

#18543 Hook up willStartRenderingUpdateDisplay/didCompleteRenderingUpdateDisplay for Coordinated Graphics
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHost.cpp
Labels: unsafe-merge-queue, WebKitGTK

#18537 Clean up libwebrtc Xcode project
  Source/ThirdParty/libwebrtc/libwebrtc.xcodeproj/project.pbxproj
Labels: unsafe-merge-queue, WebRTC

#18550 Follow-up: Clean up libwebrtc Xcode project
  Source/ThirdParty/libwebrtc/libwebrtc.xcodeproj/project.pbxproj
Labels: unsafe-merge-queue, WebRTC

#18546 [visionOS] Mute button has the wrong shape on audio-only controls
  Source/WebCore/Modules/modern-media-controls/controls/vision-media-controls.js
Labels: merge-queue, Media

#18495 [GTK][WPE] LayoutTest media/video-layer-crash.html is consistently flaky
  LayoutTests/platform/glib/TestExpectations
Labels: Tools / Tests

#18404 link@rel=stylesheet: Don’t load if HTTP status isn’t an OK status
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/document-metadata/the-link-element/resources/302-no-Location-header-text-css.asis
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/document-metadata/the-link-element/stylesheet-non-OK-status-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/document-metadata/the-link-element/stylesheet-non-OK-status.html
  Source/WebCore/css/StyleSheetContents.cpp
  Source/WebCore/loader/cache/CachedCSSStyleSheet.cpp
  Source/WebCore/loader/cache/CachedCSSStyleSheet.h
Labels: DOM

#18541 Synthetic FetchResponse should populate their expected content length
  LayoutTests/imported/w3c/web-platform-tests/service-workers/service-worker/xhr-content-length.https.window-expected.txt
  Source/WebCore/Modules/fetch/FetchResponse.cpp
  Source/WebCore/platform/network/HTTPParsers.cpp
  Source/WebCore/platform/network/HTTPParsers.h
Labels: Service Workers

#18532 REGRESSION (267023@main): The language switching menu is broken on English Wikipedia
  LayoutTests/requestidlecallback/requestidlecallback-in-page-cache-with-pending-task-expected.txt
  LayoutTests/requestidlecallback/requestidlecallback-in-page-cache-with-pending-task.html
  LayoutTests/requestidlecallback/resources/page-cache-with-pending-task.html
  Source/WebCore/dom/EventLoop.cpp
  Source/WebCore/dom/EventLoop.h
Labels: unsafe-merge-queue, WebCore Misc.

#18549 Partial Sync 'CSSRule.idl' and 'CSSStyleRule.idl' to Web Specification
  LayoutTests/fast/dom/css-element-attribute-js-null-expected.txt
  LayoutTests/fast/dom/css-element-attribute-js-null.html
  Source/WebCore/css/CSSRule.idl
  Source/WebCore/css/CSSStyleRule.idl
Labels: CSS

#18552 Micro-optimize FontCascade::widthForSimpleText()
  Source/WebCore/platform/graphics/FontCascade.cpp
Labels: merge-queue, Layout and Rendering

#18544 Sync 'TextMetrics' to web specification by changing from 'unrestricted float' to 'double'
  Source/WebCore/html/TextMetrics.h
  Source/WebCore/html/TextMetrics.idl
Labels: DOM

#16848 WebVTT regions are not positioned according to the spec
  LayoutTests/media/track/captions-webvtt/regions.vtt
  LayoutTests/media/track/webvtt-region-position-expected.txt
  LayoutTests/media/track/webvtt-region-position.html
  Source/WebCore/Modules/modern-media-controls/controls/text-tracks.css
  Source/WebCore/html/shadow/MediaControlTextTrackContainerElement.cpp
  Source/WebCore/html/track/VTTCue.cpp
  Source/WebCore/html/track/VTTCue.h
  Source/WebCore/html/track/VTTRegion.cpp
Labels: WebCore Misc.

#18521 REGRESSION(268354@main): [ Ventura+ x86_64 wk2 ] imported/blink/css3/filters/effect-drop-shadow-clip-abspos.html is the constant ImageOnlyFailure
  LayoutTests/imported/blink/css3/filters/effect-drop-shadow-clip-abspos.html
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: CSS

#18527 Use WTF::map() in ScriptArguments::getArgumentsAsStrings() instead of uncheckedAppend()
  Source/JavaScriptCore/inspector/ScriptArguments.cpp
Labels: JavaScriptCore

#18336 Set expectedContentLength in ServiceWorkerDownloadTask didReceiveData callback
  LayoutTests/http/tests/workers/service/resources/service-worker-download-worker.js
  LayoutTests/http/tests/workers/service/service-worker-download-stream.https-expected.txt
  LayoutTests/http/tests/workers/service/service-worker-download-stream.https.html
  LayoutTests/http/wpt/service-workers/fetch-service-worker-preload-download-through-direct-preload.https-expected.txt
  LayoutTests/http/wpt/service-workers/fetch-service-worker-preload-download-through-direct-preload.https.html
  LayoutTests/platform/glib/http/tests/workers/service/service-worker-download-stream.https-expected.txt
  LayoutTests/platform/glib/http/wpt/service-workers/fetch-service-worker-preload-download-through-direct-preload.https-expected.txt
  LayoutTests/platform/ios/http/wpt/service-workers/fetch-service-worker-preload-download-through-direct-preload.https-expected.txt
  Source/WebKit/NetworkProcess/ServiceWorker/ServiceWorkerDownloadTask.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/ServiceWorkerDownloadTask.h
  Source/WebKit/NetworkProcess/ServiceWorker/ServiceWorkerFetchTask.cpp
  Tools/WebKitTestRunner/InjectedBundle/Bindings/TestRunner.idl
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.cpp
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.h
  Tools/WebKitTestRunner/TestController.cpp
  Tools/WebKitTestRunner/TestController.h
  Tools/WebKitTestRunner/TestInvocation.cpp
Labels: Service Workers

#18566 [Gardening]: REGRESSION(268433@main): [ iOS17 Sonoma ] 5 tests under http/wpt/mediarecorder are constantly crashing.
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, Media

#18428 [JSC] Account owner cell's color for extra memory allocation
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/bytecode/CodeBlock.h
  Source/JavaScriptCore/bytecode/UnlinkedCodeBlockGenerator.cpp
  Source/JavaScriptCore/heap/Heap.cpp
  Source/JavaScriptCore/heap/Heap.h
  Source/JavaScriptCore/heap/HeapInlines.h
  Source/JavaScriptCore/runtime/ArrayBuffer.cpp
  Source/JavaScriptCore/runtime/JSArrayBufferView.cpp
  Source/JavaScriptCore/runtime/JSString.cpp
  Source/JavaScriptCore/runtime/JSString.h
  Source/JavaScriptCore/runtime/JSStringInlines.h
  Source/JavaScriptCore/runtime/PropertyTable.cpp
  Source/JavaScriptCore/runtime/PropertyTable.h
  Source/JavaScriptCore/runtime/SparseArrayValueMap.cpp
  Source/JavaScriptCore/wasm/js/JSWebAssemblyInstance.cpp
  Source/JavaScriptCore/wasm/js/JSWebAssemblyMemory.cpp
  Source/WebCore/bindings/scripts/CodeGeneratorJS.pm
  Source/WebCore/bindings/scripts/test/JS/JSTestReportExtraMemoryCost.cpp
  Source/WebCore/html/CanvasBase.cpp
  Source/WebCore/xml/XMLHttpRequest.cpp
Labels: JavaScriptCore

#18568 [GARDENING]Add missing test expectations to Sonoma and iOS-17 platforms
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, Tools / Tests

#18523 Page document and frame loops should traverse from the remote main frame
  Source/WebCore/inspector/agents/InspectorApplicationCacheAgent.cpp
  Source/WebCore/inspector/agents/page/PageRuntimeAgent.cpp
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
Labels: unsafe-merge-queue, WebKit Process Model

#18554 Simplify SmallStringKey in the WidthCache
  Source/WebCore/platform/graphics/WidthCache.h
Labels: merge-queue, Layout and Rendering

#18560 Reenable requestIdleCallback by default in Apple's ports
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: unsafe-merge-queue, DOM

#18563 setSampleBufferAsDisplayImmediately should check that attachment array is not null
  Source/WebCore/platform/graphics/avfoundation/objc/LocalSampleBufferDisplayLayer.mm
Labels: merge-queue, WebRTC

#18559 Remove a bogus assert in restoreScrollPositionAndViewState
  Source/WebCore/loader/HistoryController.cpp
Labels: merge-queue, History

#18389 [css-grid] Start considering subgrid's margin, border, and padding for align-self baseline items.
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/subgrid/align-self-baseline-with-subgrid-mbp-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/subgrid/align-self-baseline-with-subgrid-mbp.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/subgrid/subgrid-baseline-005-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/subgrid/subgrid-baseline-006-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/subgrid/subgrid-baseline-007-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/subgrid/subgrid-baseline-008-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-grid/subgrid/align-self-baseline-with-subgrid-mbp-expected.txt
  Source/WebCore/rendering/GridBaselineAlignment.cpp
Labels: merge-queue, Layout and Rendering

#18524 Use HashMap::ensure() in FontCascadeFonts::glyphDataForCharacter()
  Source/WebCore/platform/graphics/FontCascadeFonts.cpp
  Source/WebCore/platform/graphics/FontCascadeFonts.h
Labels: merge-queue, Layout and Rendering

#18580 [Gardening]: REGRESSION (Sonoma): [ Sonoma ] editing/input/caret-at-the-edge-of-input.html is a consistent failure
  LayoutTests/platform/mac/editing/input/caret-at-the-edge-of-input-expected.txt
Labels: unsafe-merge-queue

#18478 Smart pointers in GPUProcess/graphics
  Source/WebKit/GPUProcess/graphics/RemoteDisplayListRecorder.cpp
Labels: Platform

#18573 [iOS] Stop overriding -[UIScrollView _rubberBandOffsetForOffset:maxOffset:minOffset:range:outside:]
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/ios/WKScrollView.mm
Labels: Platform

#18572 Remove Path::polygonPathFromPoints()
  Source/WebCore/platform/DictationCaretAnimator.cpp
  Source/WebCore/platform/graphics/Path.cpp
  Source/WebCore/platform/graphics/Path.h
Labels: merge-queue, Layout and Rendering

#18591 [JSC] Disable stress test sampling-profiler-microtasks.js for armv7
  JSTests/stress/sampling-profiler-microtasks.js
Labels: unsafe-merge-queue, JavaScriptCore

#18528 Add support for action, browserAction, and pageAction APIs.
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources-output.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionContext.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIActionCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionActionCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionAction.h
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.messages.in
  Source/WebKit/UIProcess/Extensions/WebExtensionWindow.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIActionCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPINamespaceCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPITabsCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIWindowsCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIAction.h
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPINamespace.h
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPITabs.h
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPIAction.idl
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPINamespace.idl
  Source/WebKit/WebProcess/Extensions/WebExtensionContextProxy.h
  Source/WebKit/WebProcess/Extensions/WebExtensionContextProxy.messages.in
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIAction.mm
  Tools/TestWebKitAPI/cocoa/WebExtensionUtilities.h
  Tools/TestWebKitAPI/cocoa/WebExtensionUtilities.mm
Labels: WebKit Extensions

#18146 animations/animation-delay-changed.html is randomly failing
  LayoutTests/animations/animation-delay-changed-expected.txt
  LayoutTests/animations/animation-delay-changed.html
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/wincairo/TestExpectations
Labels: unsafe-merge-queue, Tools / Tests

#18587 Update selenium version in autoinstall to 4.12.0 for python version >= 3.8
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/__init__.py
  Tools/Scripts/webkitpy/__init__.py
Labels: merge-queue, Tools / Tests

#18578 GraphicsLayer::removeAllChildren shouldn't be n^2
  Source/WebCore/platform/graphics/GraphicsLayer.cpp
  Source/WebCore/platform/graphics/GraphicsLayer.h
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.cpp
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.h
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedGraphicsLayer.cpp
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedGraphicsLayer.h
  Source/WebKit/WebProcess/WebPage/wc/GraphicsLayerWC.cpp
  Source/WebKit/WebProcess/WebPage/wc/GraphicsLayerWC.h
Labels: merge-queue, Compositing

#18593 [WebGPU] useResource: for render pipeline for resources from compute pipeline
  Source/WebGPU/WebGPU/BindGroup.h
  Source/WebGPU/WebGPU/BindGroup.mm
  Source/WebGPU/WebGPU/ComputePassEncoder.mm
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
Labels: WebGPU

#18590 Mixed content checker should not hang in site isolated iframes
  LayoutTests/http/tests/site-isolation/https-load-expected.txt
  LayoutTests/http/tests/site-isolation/https-load.html
  LayoutTests/http/tests/site-isolation/resources/fetch-https.html
  Source/WebCore/loader/MixedContentChecker.cpp
Labels: unsafe-merge-queue, WebKit Process Model

#18576 [iOS] Stop using UIKit IPI: `-[UIDragInteraction _initiationDriver]`
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Labels: merge-queue, Platform

#18602 [Gardening]: REGRESSION(Sonoma): [ Sonoma ] 2 lookup menu-related tests are constant text failures.
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue

#18597 WidthCache::SingleCharMap doesn't need to use 32 bits to store the key character
  Source/WebCore/platform/graphics/WidthCache.h
Labels: merge-queue, Layout and Rendering

#18604 REBASELINE: [ Sonoma ] 4 tests under fast/forms are constantly failing.
  LayoutTests/platform/mac-monterey/fast/forms/basic-inputs-expected.txt
  LayoutTests/platform/mac-monterey/fast/forms/input-disabled-color-expected.txt
  LayoutTests/platform/mac-monterey/fast/forms/number/number-appearance-spinbutton-disabled-readonly-expected.txt
  LayoutTests/platform/mac-monterey/fast/forms/placeholder-pseudo-style-expected.txt
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/mac/fast/forms/basic-inputs-expected.txt
  LayoutTests/platform/mac/fast/forms/input-disabled-color-expected.txt
  LayoutTests/platform/mac/fast/forms/number/number-appearance-spinbutton-disabled-readonly-expected.txt
  LayoutTests/platform/mac/fast/forms/placeholder-pseudo-style-expected.txt
Labels: unsafe-merge-queue, Forms

#18600 [iOS] Remove usages of `-[UIWKTextInteractionAssistant (show|hide)TextStyleOptions]`
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Labels: merge-queue, Platform

#18610 Skip http/tests/site-isolation/window-properties.html on pre-Sonoma debug builds
  LayoutTests/TestExpectations
  LayoutTests/platform/mac-monterey-wk2/TestExpectations
  LayoutTests/platform/mac-ventura-wk2/TestExpectations
Labels: unsafe-merge-queue, WebKit Process Model

#18598 Expand site isolation postMessage testing
  LayoutTests/http/tests/site-isolation/post-message-expected.txt
  LayoutTests/http/tests/site-isolation/post-message.html
Labels: WebKit Process Model

#18611 [Gardening]: REGRESSION(268820@main): [ macOS wk2 ] http/tests/media/video-webm-stall.html is constantly timing out.
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: Media

#18605 evaluateJavaScript:inFrame: doesn't work with site isolation
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
Labels: WebKit Process Model

#18606 Stop using -[UIScrollView handle(Pinch|Pan):] and -[UIGestureRecognizer _activeTouchesForEvent:]
  LayoutTests/platform/ios-wk2/TestExpectations
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/ios/WKScrollView.mm
Labels: merge-queue, Platform

#18558 [WGSL] constantMinus cannot assume both operands have the same type
  Source/WebGPU/WGSL/ConstantFunctions.h
  Source/WebGPU/WGSL/tests/valid/constants.wgsl
Labels: WebGPU

#18571 [WGSL] Initial plumbing for evaluating override expressions from the API
  Source/WebGPU/WGSL/EntryPointRewriter.cpp
  Source/WebGPU/WGSL/WGSL.cpp
  Source/WebGPU/WGSL/WGSL.h
  Source/WebGPU/WebGPU/ComputePipeline.mm
  Source/WebGPU/WebGPU/Pipeline.h
  Source/WebGPU/WebGPU/Pipeline.mm
  Source/WebGPU/WebGPU/RenderPipeline.mm
Labels: WebGPU

#18569 [WGSL] Add support for constant multiplication
  Source/WebGPU/WGSL/ConstantFunctions.h
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/tests/valid/constants.wgsl
Labels: WebGPU

#18556 [WGSL] Sort globals by binding
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/tests/valid/global-ordering.wgsl
Labels: WebGPU

#18555 [WGSL] Always initialize serialized variables
  Source/WebGPU/WGSL/Metal/MetalFunctionWriter.cpp
  Source/WebGPU/WGSL/tests/lit.cfg
  Source/WebGPU/WGSL/tests/valid/global-used-by-callee.wgsl
Labels: WebGPU

#18530 [ANGLE] update-angle script should ignore untracked files
  Tools/Scripts/update-angle
Labels: ANGLE, skip-ews

#18612 Getting function name that includes space return empty string.
  LayoutTests/js/dom/regress-157246-expected.txt
  LayoutTests/js/dom/regress-157246.html
  LayoutTests/js/dom/script-tests/regress-157246.js
  LayoutTests/platform/mac-wk1/TestExpectations
  Source/JavaScriptCore/runtime/JSFunction.cpp
  Source/JavaScriptCore/runtime/JSFunctionInlines.h
Labels: unsafe-merge-queue, JavaScriptCore

#18567 [content-visibility] Fix forced layout on absolutely positioned elements
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-092-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-092.html
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderElement.cpp
  Source/WebCore/rendering/RenderElement.h
Labels: CSS

#18613 [Nicosia] Notify async scrolling tree that a platform rendering update has completed
  Source/WebCore/page/scrolling/nicosia/ScrollingCoordinatorNicosia.cpp
  Source/WebCore/page/scrolling/nicosia/ScrollingCoordinatorNicosia.h
Labels: unsafe-merge-queue, WebKitGTK

#18615 [GTK] 2.42.0 doesn't support WebGL with GBM disabled under X11
  Source/WebCore/platform/graphics/x11/PlatformDisplayX11.cpp
Labels: unsafe-merge-queue, WebKitGTK

#18249 [MediaStream] Add support for torch
  LayoutTests/fast/mediastream/MediaStreamTrack-getCapabilities-expected.txt
  LayoutTests/fast/mediastream/mediastreamtrack-video-torch-expected.txt
  LayoutTests/fast/mediastream/mediastreamtrack-video-torch.html
  Source/WebCore/Modules/mediastream/MediaDevices.cpp
  Source/WebCore/Modules/mediastream/MediaStreamTrack.cpp
  Source/WebCore/Modules/mediastream/MediaStreamTrack.h
  Source/WebCore/Modules/mediastream/MediaStreamTrack.idl
  Source/WebCore/Modules/mediastream/MediaTrackCapabilities.cpp
  Source/WebCore/Modules/mediastream/MediaTrackCapabilities.h
  Source/WebCore/Modules/mediastream/MediaTrackCapabilities.idl
  Source/WebCore/Modules/mediastream/MediaTrackConstraints.cpp
  Source/WebCore/Modules/mediastream/MediaTrackConstraints.h
  Source/WebCore/Modules/mediastream/MediaTrackConstraints.idl
  Source/WebCore/Modules/mediastream/MediaTrackSupportedConstraints.h
  Source/WebCore/Modules/mediastream/MediaTrackSupportedConstraints.idl
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.mm
  Source/WebCore/platform/mediastream/MediaConstraints.cpp
  Source/WebCore/platform/mediastream/MediaConstraints.h
  Source/WebCore/platform/mediastream/RealtimeMediaSource.cpp
  Source/WebCore/platform/mediastream/RealtimeMediaSource.h
  Source/WebCore/platform/mediastream/RealtimeMediaSourceCapabilities.h
  Source/WebCore/platform/mediastream/RealtimeMediaSourceCenter.cpp
  Source/WebCore/platform/mediastream/RealtimeMediaSourceSettings.cpp
  Source/WebCore/platform/mediastream/RealtimeMediaSourceSettings.h
  Source/WebCore/platform/mediastream/RealtimeMediaSourceSupportedConstraints.cpp
  Source/WebCore/platform/mediastream/RealtimeMediaSourceSupportedConstraints.h
  Source/WebCore/platform/mediastream/mac/AVVideoCaptureSource.h
  Source/WebCore/platform/mediastream/mac/AVVideoCaptureSource.mm
  Source/WebCore/platform/mock/MockMediaDevice.h
  Source/WebCore/platform/mock/MockRealtimeMediaSourceCenter.cpp
  Source/WebCore/platform/mock/MockRealtimeVideoSource.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Labels: merge-queue, WebRTC

#18585 Activity state should be updated for each web process
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: unsafe-merge-queue, WebKit Process Model

#18596 webkitbot fails to run due to Autoinstall issues
  Tools/WebKitBot/src/WebKitBot.mjs
  Tools/WebKitBot/src/index.mjs
Labels: merge-queue, Tools / Tests

#18565 Fix most of test-webkitpy on Python 3.12
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/__init__.py
  Tools/Scripts/webkitpy/__init__.py
  Tools/Scripts/webkitpy/conftest.py
Labels: merge-queue, Tools / Tests

#18488 Fix cue ordering affected by TextTrackCue property mutation
  LayoutTests/imported/w3c/web-platform-tests/webvtt/api/VTTCue/snapToLines-expected.txt
  LayoutTests/media/track/texttrackcue/texttrackcue-order-expected.txt
  LayoutTests/media/track/texttrackcue/texttrackcue-order.html
  Source/WebCore/html/track/TextTrack.cpp
  Source/WebCore/html/track/TextTrack.h
  Source/WebCore/html/track/TextTrackCue.cpp
  Source/WebCore/html/track/TextTrackCue.h
  Source/WebCore/html/track/VTTCue.cpp
  Source/WebCore/html/track/VTTCue.h
Labels: Media

#18577 Save iframe resources to disk
  Source/WebCore/editing/MarkupAccumulator.cpp
  Source/WebCore/editing/MarkupAccumulator.h
  Source/WebCore/loader/archive/cf/LegacyWebArchive.cpp
  Source/WebCore/loader/archive/cf/LegacyWebArchive.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/CreateWebArchive.mm
Labels: merge-queue, WebKit API

#18562 [webkitscmpy] Capture logs in webkitscmpy.test.git_unittest.TestGit.test_alternative_default_branch
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/git_unittest.py
Labels: Tools / Tests

#18618 [IFC][Line grid] Implement -webkit-line-snap
  LayoutTests/platform/ios/fast/line-grid/line-grid-contains-value-expected.txt
  LayoutTests/platform/ios/fast/line-grid/line-grid-floating-expected.txt
  LayoutTests/platform/ios/fast/line-grid/line-grid-inside-columns-expected.txt
  LayoutTests/platform/ios/fast/line-grid/line-grid-into-columns-expected.txt
  LayoutTests/platform/ios/fast/line-grid/line-grid-into-floats-expected.txt
  LayoutTests/platform/ios/fast/line-grid/line-grid-positioned-expected.txt
  LayoutTests/platform/mac/fast/line-grid/line-grid-contains-value-expected.txt
  LayoutTests/platform/mac/fast/line-grid/line-grid-into-columns-expected.txt
  LayoutTests/platform/wpe/TestExpectations
  Source/WebCore/layout/formattingContexts/block/BlockLayoutState.h
  Source/WebCore/layout/formattingContexts/inline/InlineLineBoxBuilder.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineLineBoxBuilder.h
  Source/WebCore/layout/formattingContexts/inline/InlineQuirks.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineQuirks.h
  Source/WebCore/layout/formattingContexts/inline/TextOnlySimpleLineBuilder.cpp
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.cpp
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.h
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.cpp
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.h
  Source/WebCore/layout/integration/inline/LayoutIntegrationPagination.cpp
  Source/WebCore/layout/integration/inline/LayoutIntegrationPagination.h
Labels: merge-queue, Layout and Rendering

#18551 [git-webkit] Downgrade mode when publishing tags
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/publish.py
Labels: Tools / Tests, skip-ews

#18601 Avoid use of uncheckedAppend() in JSC::YarrBoyerMooreData
  Source/JavaScriptCore/yarr/YarrJIT.h
Labels: merge-queue, JavaScriptCore

#18623 Fix Clock offset bug for setPlayRate
  LayoutTests/media/media-controller-play-then-pause-expected.txt
  LayoutTests/media/media-controller-play-then-pause.html
  Source/WebCore/PAL/pal/system/ClockGeneric.cpp
  Source/WebCore/PAL/pal/system/ClockGeneric.h
Labels: merge-queue, Media

#18633 Make FloatRect etc. constexpr and adopt nanRect to make it usable for "not-filled" FloatRect purpose
  Source/WebCore/platform/graphics/FloatPoint.h
  Source/WebCore/platform/graphics/FloatRect.h
  Source/WebCore/platform/graphics/FloatSize.cpp
  Source/WebCore/platform/graphics/FloatSize.h
  Tools/TestWebKitAPI/Tests/WebCore/FloatRectTests.cpp
  Tools/TestWebKitAPI/Tests/WebCore/cg/DisplayListTestsCG.cpp
Labels: Platform

#18536 Partial revert: When releasing a resize in full screen video, the video content briefly flashes to its original size
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/UIProcess/PageClient.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
  Source/WebKit/UIProcess/ios/PageClientImplIOS.h
  Source/WebKit/UIProcess/ios/PageClientImplIOS.mm
  Source/WebKit/UIProcess/ios/WKContentView.h
  Source/WebKit/UIProcess/ios/WKContentView.mm
  Source/WebKit/UIProcess/ios/WebPageProxyIOS.mm
  Source/WebKit/UIProcess/mac/TiledCoreAnimationDrawingAreaProxy.mm
  Source/WebKit/WebProcess/WebPage/DrawingArea.h
  Source/WebKit/WebProcess/WebPage/DrawingArea.messages.in
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDrawingArea.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDrawingArea.mm
  Source/WebKit/WebProcess/WebPage/mac/TiledCoreAnimationDrawingArea.h
  Source/WebKit/WebProcess/WebPage/mac/TiledCoreAnimationDrawingArea.mm
Labels: Media

#18634 Remove unused decorations of encode & decode functions in EditorState
  Source/WebKit/Shared/EditorState.h
Labels: unsafe-merge-queue, WebKit2

#18628 Simplify HTMLTokenizer::isAppropriateEndTag()
  Source/WebCore/html/parser/HTMLTokenizer.cpp
Labels: merge-queue, DOM

#18450 Switch cookie accept policy when using managed domains
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
Labels: WebKit Misc.

#18466 [IPInt] Add support for the exceptions proposal (except rethrow)
  JSTests/wasm/stress/exception-simple-throw-catch.js
  JSTests/wasm/stress/exception-throw-from-function-returning-tuple.js
  Source/JavaScriptCore/interpreter/Interpreter.cpp
  Source/JavaScriptCore/interpreter/Interpreter.h
  Source/JavaScriptCore/jit/JITExceptions.cpp
  Source/JavaScriptCore/llint/InPlaceInterpreter.asm
  Source/JavaScriptCore/llint/InPlaceInterpreter.cpp
  Source/JavaScriptCore/llint/InPlaceInterpreter.h
  Source/JavaScriptCore/llint/LowLevelInterpreter.asm
  Source/JavaScriptCore/llint/LowLevelInterpreter64.asm
  Source/JavaScriptCore/llint/WebAssembly.asm
  Source/JavaScriptCore/offlineasm/arm64.rb
  Source/JavaScriptCore/offlineasm/x86.rb
  Source/JavaScriptCore/runtime/VM.h
  Source/JavaScriptCore/wasm/WasmCallee.cpp
  Source/JavaScriptCore/wasm/WasmFunctionIPIntMetadataGenerator.h
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Source/JavaScriptCore/wasm/WasmHandlerInfo.cpp
  Source/JavaScriptCore/wasm/WasmHandlerInfo.h
  Source/JavaScriptCore/wasm/WasmIPIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmIPIntSlowPaths.cpp
  Source/JavaScriptCore/wasm/WasmIPIntSlowPaths.h
Labels: WebAssembly

#18607 Reduce use of Vector::uncheckedAppend() throughout the code base
  Source/WTF/wtf/cf/LanguageCF.cpp
  Source/WebCore/Modules/ShapeDetection/Implementation/Cocoa/BarcodeDetectorImplementation.mm
  Source/WebCore/Modules/WebGPU/GPUQueue.cpp
  Source/WebCore/Modules/WebGPU/GPURenderPassEncoder.cpp
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUDeviceImpl.cpp
  Source/WebCore/Modules/entriesapi/DOMFileSystem.cpp
  Source/WebCore/Modules/gamepad/Gamepad.cpp
  Source/WebCore/Modules/highlight/Highlight.cpp
  Source/WebCore/Modules/mediastream/libwebrtc/LibWebRTCMediaEndpoint.cpp
  Source/WebCore/Modules/mediastream/libwebrtc/LibWebRTCRtpTransformableFrame.cpp
Labels: merge-queue, WebCore Misc.

#18635 Remove dead code "VertexPair::overlapsRect" in FloatPolygon.cpp
  Source/WebCore/platform/graphics/FloatPolygon.cpp
  Source/WebCore/platform/graphics/FloatPolygon.h
Labels: WebCore Misc.

#18583 Inject Web Extension bindings before the InjectedBundle.
  Source/WebKit/WebProcess/WebCoreSupport/WebLocalFrameLoaderClient.cpp
Labels: WebKit Extensions

#18603 Add Vector::appendList() function which takes in a std::initializer_list
  Source/WTF/wtf/URLParser.cpp
  Source/WTF/wtf/Vector.h
  Source/WebCore/PAL/pal/text/TextCodecCJK.cpp
  Source/WebCore/platform/graphics/cg/GradientRendererCG.cpp
  Source/WebCore/platform/graphics/gstreamer/eme/CDMThunder.cpp
  Source/WebCore/platform/mock/MockRealtimeVideoSource.cpp
  Source/WebCore/platform/text/LocaleNone.cpp
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCTCPSocketCocoa.mm
  Tools/TestWebKitAPI/Tests/WTF/Vector.cpp
Labels: unsafe-merge-queue

#18659 [Gardening]: REGRESSION(iOS17/Sonoma): 8 WebCryptoAPI tests are constantly crashing.
  LayoutTests/platform/ios-16/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue

#18619 REGRESSION (266680@main): iOS PLUM ~0.75% increased memory use
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/page/OpportunisticTaskScheduler.cpp
Labels: merge-queue, WebCore Misc.

#18636 Make InteractionInformationRequest use generated serialization
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Shared/ios/InteractionInformationRequest.cpp
  Source/WebKit/Shared/ios/InteractionInformationRequest.h
  Source/WebKit/Shared/ios/InteractionInformationRequest.serialization.in
Labels: unsafe-merge-queue, WebKit2

#18640 [WebGPU] built-in arrayLength is not supported
  Source/WebGPU/WGSL/WGSL.h
  Source/WebGPU/WebGPU/BindGroup.mm
  Source/WebGPU/WebGPU/BindGroupLayout.h
  Source/WebGPU/WebGPU/BindGroupLayout.mm
  Source/WebGPU/WebGPU/ShaderModule.mm
Labels: merge-queue, WebGPU

#18547 [WebTransport] Fix build of trimToValidUTF8Length1024() with -Wreturn-std-move
  Source/WebCore/Modules/webtransport/WebTransport.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#18648 Reduce size of RenderText from 128 to 120 bytes on 64-bit
  Source/WTF/wtf/Markable.h
  Source/WebCore/platform/graphics/FontSizeAdjust.h
  Source/WebCore/rendering/RenderText.cpp
  Source/WebCore/rendering/RenderText.h
Labels: Layout and Rendering

#18662 Add fastRepaintRectInLocalCoordinates
  Source/WebCore/rendering/RenderBox.h
  Source/WebCore/rendering/RenderObject.cpp
  Source/WebCore/rendering/RenderObject.h
  Source/WebCore/rendering/svg/RenderSVGContainer.h
  Source/WebCore/rendering/svg/RenderSVGForeignObject.h
  Source/WebCore/rendering/svg/RenderSVGGradientStop.h
  Source/WebCore/rendering/svg/RenderSVGImage.h
  Source/WebCore/rendering/svg/RenderSVGInline.h
  Source/WebCore/rendering/svg/RenderSVGRoot.h
  Source/WebCore/rendering/svg/RenderSVGShape.h
  Source/WebCore/rendering/svg/RenderSVGText.h
  Source/WebCore/rendering/svg/legacy/LegacyRenderSVGContainer.h
  Source/WebCore/rendering/svg/legacy/LegacyRenderSVGForeignObject.h
  Source/WebCore/rendering/svg/legacy/LegacyRenderSVGImage.h
  Source/WebCore/rendering/svg/legacy/LegacyRenderSVGRoot.h
  Source/WebCore/rendering/svg/legacy/LegacyRenderSVGShape.h
Labels: unsafe-merge-queue, SVG

#18667 [ANGLE] Fix update-angle after 268837@main
  Tools/Scripts/update-angle
Labels: unsafe-merge-queue, ANGLE, skip-ews

#18630 [JSC] Enable Promise.withResolvers
  JSTests/test262/config.yaml
  JSTests/test262/expectations.yaml
  Source/JavaScriptCore/runtime/OptionsList.h
Labels: JavaScriptCore

#18535 Protect StreamServerConnection::connection
  Source/WebKit/Platform/IPC/HandleMessage.h
  Source/WebKit/Platform/IPC/StreamServerConnection.h
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/Scripts/webkit/tests/TestWithStreamBatchedMessageReceiver.cpp
  Source/WebKit/Scripts/webkit/tests/TestWithStreamMessageReceiver.cpp
Labels: WebKit Process Model

#18608 Fix scrolling of RenderListBox in vertical writing mode
  LayoutTests/TestExpectations
  LayoutTests/fast/forms/vertical-writing-mode/listbox-drag-horizontal-scrollbar-expected.txt
  LayoutTests/fast/forms/vertical-writing-mode/listbox-drag-horizontal-scrollbar.html
  LayoutTests/fast/forms/vertical-writing-mode/listbox-horizontal-scrollbar-expected.html
  LayoutTests/fast/forms/vertical-writing-mode/listbox-horizontal-scrollbar.html
  LayoutTests/platform/ios/TestExpectations
  Source/WebCore/rendering/RenderBox.h
  Source/WebCore/rendering/RenderListBox.cpp
  Source/WebCore/rendering/RenderListBox.h
Labels: merge-queue, Forms

#18637 Make EditingRange use generated serialization
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Shared/EditingRange.cpp
  Source/WebKit/Shared/EditingRange.h
  Source/WebKit/Shared/EditingRange.serialization.in
Labels: unsafe-merge-queue, WebKit2

#18653 Make DebuggableInfoData use generated serialization
  Source/WebCore/inspector/InspectorDebuggableType.h
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Shared/DebuggableInfoData.cpp
  Source/WebKit/Shared/DebuggableInfoData.h
  Source/WebKit/Shared/DebuggableInfoData.serialization.in
Labels: unsafe-merge-queue, WebKit2

#18643 Make WebFoundTextRange use generalized serialization
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Shared/WebFoundTextRange.cpp
  Source/WebKit/Shared/WebFoundTextRange.h
  Source/WebKit/Shared/WebFoundTextRange.serialization.in
Labels: unsafe-merge-queue, WebKit2

#18663 [WebGPU] RenderPassEncoder::drawIndexed does not support firstIndex
  Source/WebGPU/WebGPU/RenderBundleEncoder.mm
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
Labels: WebGPU

#18617 Import WPT mst-content-hint tests up to dfda991
  LayoutTests/imported/w3c/web-platform-tests/mst-content-hint/RTCRtpSendParameters-degradationEffect-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mst-content-hint/RTCRtpSendParameters-degradationEffect.html
  LayoutTests/imported/w3c/web-platform-tests/mst-content-hint/RTCRtpSendParameters-degradationPreference-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mst-content-hint/RTCRtpSendParameters-degradationPreference.html
  LayoutTests/imported/w3c/web-platform-tests/mst-content-hint/idlharness.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mst-content-hint/idlharness.window.js
  LayoutTests/imported/w3c/web-platform-tests/mst-content-hint/w3c-import.log
  LayoutTests/tests-options.json
Labels: WebRTC

#18666 Follow up fix for 'selenium' version bump.
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/__init__.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/autoinstall.py
  Tools/Scripts/webkitpy/__init__.py
Labels: Tools / Tests

#18673 rename NativePromise resolveOrReject and createAndResolveOrReject
  Source/WTF/wtf/NativePromise.h
  Tools/TestWebKitAPI/Tests/WTF/NativePromise.cpp
Labels: merge-queue

#18620 [WGSL] Incomplete function visiting in name mangling and global rewriting
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
  Source/WebGPU/WGSL/MangleNames.cpp
Labels: merge-queue, WebGPU

#18621 [WGSL] Initial support for override default values
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
  Source/WebGPU/WGSL/WGSL.h
  Source/WebGPU/WebGPU/Pipeline.mm
Labels: WebGPU

#18626 [WGSL] Fix how globals are passed to callees
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
  Source/WebGPU/WGSL/Metal/MetalFunctionWriter.cpp
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/tests/valid/global-used-by-callee.wgsl
Labels: WebGPU
