Repository WebKit/WebKit, pull requests merged in 2023-12, with the labels that each got.

#21119 REGRESSION (268955@main): Accepting inline predictions breaks ability to change selection by tapping in Mail compose
  LayoutTests/editing/selection/ios/tap-to-change-selection-after-accepting-inline-prediction-expected.txt
  LayoutTests/editing/selection/ios/tap-to-change-selection-after-accepting-inline-prediction.html
  LayoutTests/resources/ui-helper.js
  Source/WebKit/UIProcess/ios/UIKitUtilities.h
  Source/WebKit/UIProcess/ios/UIKitUtilities.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Tools/TestRunnerShared/UIScriptContext/Bindings/UIScriptController.idl
  Tools/TestRunnerShared/UIScriptContext/UIScriptController.h
  Tools/TestRunnerShared/spi/UIKitSPIForTesting.h
  Tools/WebKitTestRunner/TestOptions.cpp
  Tools/WebKitTestRunner/TestOptions.h
  Tools/WebKitTestRunner/cocoa/TestControllerCocoa.mm
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.h
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.mm
Labels: Platform

#21124 Element.setAttributeNode() should not treat attribute names case insensitively
  LayoutTests/fast/dom/Attr/make-unique-element-data-while-replacing-attr.html
  LayoutTests/fast/dom/Element/setAttributeNode-overriding-lowercase-values-2-expected.txt
  LayoutTests/fast/dom/Element/setAttributeNode-overriding-lowercase-values-2.html
  LayoutTests/imported/w3c/web-platform-tests/dom/nodes/attributes-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/nodes/attributes.html
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/Element.h
Labels: unsafe-merge-queue, DOM

#21111 Lay the groundwork for computing a pair of repaint rects
  Source/WebCore/page/IntersectionObserver.cpp
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderBox.h
  Source/WebCore/rendering/RenderInline.cpp
  Source/WebCore/rendering/RenderInline.h
  Source/WebCore/rendering/RenderLayerModelObject.cpp
  Source/WebCore/rendering/RenderLayerModelObject.h
  Source/WebCore/rendering/RenderObject.cpp
  Source/WebCore/rendering/RenderObject.h
  Source/WebCore/rendering/RenderTableCell.cpp
  Source/WebCore/rendering/RenderTableCell.h
  Source/WebCore/rendering/RenderView.cpp
  Source/WebCore/rendering/RenderView.h
  Source/WebCore/rendering/svg/RenderSVGBlock.cpp
  Source/WebCore/rendering/svg/RenderSVGBlock.h
  Source/WebCore/rendering/svg/RenderSVGHiddenContainer.h
  Source/WebCore/rendering/svg/RenderSVGModelObject.cpp
  Source/WebCore/rendering/svg/RenderSVGModelObject.h
  Source/WebCore/rendering/svg/legacy/LegacyRenderSVGRoot.cpp
Labels: merge-queue, Layout and Rendering

#21126 Use Ref<MediaSample> in SampleMap
  Source/WebCore/Modules/mediasource/SampleMap.cpp
  Source/WebCore/Modules/mediasource/SampleMap.h
  Source/WebCore/platform/graphics/SourceBufferPrivate.cpp
  Source/WebCore/platform/graphics/TrackBuffer.cpp
  Source/WebCore/platform/graphics/avfoundation/objc/ImageDecoderAVFObjC.mm
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.mm
  Source/WebCore/platform/graphics/gstreamer/ImageDecoderGStreamer.cpp
  Source/WebKit/Shared/mac/MediaFormatReader/MediaSampleCursor.cpp
  Source/WebKit/Shared/mac/MediaFormatReader/MediaTrackReader.cpp
Labels: Media

#21127 ::backdrop is tree-abiding and should be allowed after ::slotted()
  LayoutTests/imported/w3c/web-platform-tests/css/css-position/backdrop-tree-abiding-slotted-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-position/backdrop-tree-abiding-slotted.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-position/w3c-import.log
  Source/WebCore/css/parser/CSSSelectorParser.cpp
Labels: merge-queue, CSS

#21132 Invalidate process object before destruction
  Source/WebKit/UIProcess/Launcher/cocoa/ProcessLauncherCocoa.mm
Labels: WebKit Misc.

#20970 Use faster alternatives to Vector::resize() when possible
  Source/JavaScriptCore/b3/B3EliminateDeadCode.cpp
  Source/JavaScriptCore/b3/B3ReduceStrength.cpp
  Source/JavaScriptCore/b3/air/AirAllocateRegistersByGraphColoring.cpp
  Source/JavaScriptCore/bytecode/BytecodeDumper.cpp
  Source/JavaScriptCore/bytecode/BytecodeGeneratorification.cpp
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.cpp
  Source/JavaScriptCore/dfg/DFGCPSRethreadingPhase.cpp
  Source/JavaScriptCore/dfg/DFGObjectAllocationSinkingPhase.cpp
  Source/JavaScriptCore/interpreter/ShadowChicken.cpp
  Source/JavaScriptCore/jit/CallFrameShuffleData.cpp
  Source/JavaScriptCore/jit/CallFrameShuffler.h
  Source/JavaScriptCore/runtime/ISO8601.cpp
  Source/JavaScriptCore/runtime/IntlObject.cpp
  Source/JavaScriptCore/runtime/JSGenericTypedArrayViewInlines.h
  Source/JavaScriptCore/runtime/JSGenericTypedArrayViewPrototypeFunctions.h
  Source/JavaScriptCore/runtime/ObjectConstructorInlines.h
  Source/JavaScriptCore/runtime/RegExp.cpp
  Source/JavaScriptCore/runtime/StringPrototype.cpp
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
  Source/JavaScriptCore/wasm/WasmFunctionIPIntMetadataGenerator.cpp
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
  Source/WTF/wtf/Liveness.h
  Source/WTF/wtf/NativePromise.h
  Source/WTF/wtf/text/StringView.h
  Source/WebCore/Modules/compression/CompressionStreamEncoder.cpp
  Source/WebCore/Modules/compression/DecompressionStreamDecoder.cpp
  Source/WebCore/Modules/fetch/FetchHeaders.cpp
  Source/WebCore/Modules/mediastream/RTCRtpSFrameTransformer.cpp
  Source/WebCore/Modules/mediastream/SFrameUtils.cpp
  Source/WebCore/Modules/webaudio/AudioWorkletNode.cpp
  Source/WebCore/PAL/pal/crypto/commoncrypto/CryptoDigestCommonCrypto.cpp
  Source/WebCore/contentextensions/DFABytecodeCompiler.cpp
  Source/WebCore/contentextensions/NFAToDFA.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLTransformFeedback.cpp
  Source/WebCore/html/canvas/WebGLVertexArrayObjectBase.cpp
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
  Source/WebCore/layout/formattingContexts/flex/FlexLayout.cpp
  Source/WebCore/platform/audio/Biquad.cpp
  Source/WebCore/platform/audio/ReverbConvolverStage.cpp
  Source/WebCore/platform/graphics/FloatPolygon.cpp
  Source/WebCore/platform/graphics/cocoa/SourceBufferParserWebM.cpp
  Source/WebCore/platform/graphics/opentype/OpenTypeUtilities.cpp
  Source/WebCore/platform/image-decoders/bmp/BMPImageReader.cpp
  Source/WebCore/platform/image-decoders/jpegxl/JPEGXLImageDecoder.cpp
  Source/WebCore/platform/mediarecorder/cocoa/AudioSampleBufferCompressor.mm
  Source/WebCore/rendering/GridMasonryLayout.cpp
  Source/WebCore/rendering/RenderTableSection.cpp
  Source/WebCore/rendering/shapes/RasterShape.cpp
  Source/WebCore/rendering/shapes/RasterShape.h
  Source/WebDriver/socket/HTTPParser.cpp
  Source/WebKit/NetworkProcess/Notifications/NetworkNotificationManager.cpp
  Source/WebKit/Shared/mac/AuxiliaryProcessMac.mm
  Source/WebKit/UIProcess/Gamepad/UIGamepad.cpp
  Source/WebKit/UIProcess/UserMediaProcessManager.cpp
  Source/WebKit/UIProcess/mac/WKTextFinderClient.mm
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
  Source/WebKit/WebProcess/Gamepad/WebGamepad.cpp
  Source/WebKit/WebProcess/Gamepad/WebGamepadProvider.cpp
Labels: WebCore Misc.

#21104 [GStreamer][MSE] media/media-source/media-source-webm-configuration-framerate.html is flaky crash
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
Labels: Platform

#21105 Various tests have incorrect webkit-test-runner option separator
  LayoutTests/editing/selection/character-granularity-select-text-with-click-handler.html
  LayoutTests/editing/selection/character-granularity-selected-range-after-dismissing-selection.html
  LayoutTests/editing/selection/ios/autoscroll-with-top-content-inset-2.html
  LayoutTests/editing/selection/ios/autoscroll-with-top-content-inset.html
  LayoutTests/fast/forms/ios/file-upload-panel-accept.html
  LayoutTests/fast/forms/ios/file-upload-panel-capture.html
  LayoutTests/fast/forms/ios/file-upload-panel.html
  LayoutTests/webgl/offscreen-webgl-errors-to-console.html
Labels: Tools / Tests

#21153 [WPE] Unreviewed, build fix for Ubuntu LTS after 271330@main
  Source/WebKit/WPEPlatform/wpe/drm/CMakeLists.txt
  Source/WebKit/WPEPlatform/wpe/drm/WPEDRMSessionLogind.cpp
Labels: unsafe-merge-queue

#20876 [Cocoa] Remote video codecs should surface any error happening during encoding to web pages
  LayoutTests/TestExpectations
  LayoutTests/http/wpt/webcodecs/encoder-task-failing-expected.txt
  LayoutTests/http/wpt/webcodecs/encoder-task-failing.html
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.exp
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/WebKit/WebKitEncoder.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/WebKit/WebKitEncoder.mm
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/base/RTCVideoEncoder.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoEncoderH264.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoEncoderH264.mm
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoEncoderH265.h
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoEncoderH265.mm
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.h
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.messages.in
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.mm
  Source/WebKit/WebProcess/GPU/media/RemoteVideoCodecFactory.cpp
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.cpp
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.h
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.messages.in
Labels: Media

#20922 Resync WPT webcodec tests up to 0808db6
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/META.yml
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/audio-encoder.https.any.js
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any.js
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any.worker_av1-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any.worker_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any.worker_h264_avc-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any.worker_h265_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any.worker_h265_hevc-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any.worker_vp8-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any.worker_vp9_p0-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any.worker_vp9_p2-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_av1-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_h264_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_h264_avc-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_h265_annexb-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_h265_hevc-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_vp8-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_vp9_p0-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_vp9_p2-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/transfering.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/transfering.https.any.html
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/transfering.https.any.js
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/transfering.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/transfering.https.any.worker.html
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-encoder-content-hint.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-encoder-content-hint.https.any.html
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-encoder-content-hint.https.any.js
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-encoder-content-hint.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/video-encoder-content-hint.https.any.worker.html
  LayoutTests/imported/w3c/web-platform-tests/webcodecs/w3c-import.log
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any.worker_vp9_p2-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_vp9_p2-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/webcodecs/transfering.https.any-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/webcodecs/transfering.https.any.worker-expected.txt
Labels: Tools / Tests

#21151 [GTK] Release unused buffers when the view is hidden
  Source/WebKit/WebProcess/WebPage/AcceleratedSurface.h
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHost.cpp
  Source/WebKit/WebProcess/WebPage/dmabuf/AcceleratedSurfaceDMABuf.cpp
  Source/WebKit/WebProcess/WebPage/dmabuf/AcceleratedSurfaceDMABuf.h
Labels: unsafe-merge-queue, WebKitGTK

#21145 Sync 'RTCRtpScriptTransform.idl' with WebIDL Specification
  LayoutTests/http/wpt/webrtc/no-options-transform-worker.js
  LayoutTests/http/wpt/webrtc/script-transform-no-options-expected.txt
  LayoutTests/http/wpt/webrtc/script-transform-no-options.html
  LayoutTests/imported/w3c/web-platform-tests/interfaces/webrtc-encoded-transform.idl
  LayoutTests/imported/w3c/web-platform-tests/webrtc-encoded-transform/idlharness.https.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webrtc-encoded-transform/idlharness.https.window.html
  LayoutTests/imported/w3c/web-platform-tests/webrtc-encoded-transform/idlharness.https.window.js
  Source/WebCore/Modules/mediastream/RTCRtpScriptTransform.h
  Source/WebCore/Modules/mediastream/RTCRtpScriptTransform.idl
  Source/WebCore/dom/EventTargetFactory.in
Labels: WebRTC

#21155 [GTK][a11y] /WebKitGTK/TestWebKitAccessibility:/webkit/WebKitAccessibility/accessible/children-changed is failing
  Tools/TestWebKitAPI/Tests/WebKitGtk/TestWebKitAccessibility.cpp
Labels: merge-queue, Accessibility

#21149 REGRESSION (270354@main?): [ macOS Release x86_64 wk2 ] media/media-source/mock-managedmse-bufferedchange.html is a flaky crash
  LayoutTests/platform/wk2/TestExpectations
  Source/WebCore/platform/graphics/MediaSourcePrivate.cpp
  Source/WebCore/platform/graphics/SourceBufferPrivate.cpp
  Source/WebCore/platform/graphics/SourceBufferPrivate.h
  Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferPrivateAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferPrivateAVFObjC.mm
Labels: New Bugs

#21154 [IFC][Ruby] Don't let display:ruby-text through to IFC if the parent box is not display:ruby
  Source/WebCore/layout/integration/LayoutIntegrationBoxTree.cpp
Labels: CSS

#21160 Address review feedback in https://github.com/WebKit/WebKit/pull/21133
  Source/WebKit/WebProcess/cocoa/LaunchServicesDatabaseManager.mm
Labels: WebKit Misc.

#21141 Remove a couple of clippedOverflowRect() overrides
  Source/WebCore/rendering/RenderLineBreak.h
  Source/WebCore/rendering/svg/RenderSVGGradientStop.h
  Source/WebCore/rendering/svg/SVGRenderSupport.cpp
Labels: Layout and Rendering

#21162 [WPE] WPE Platform: fix a typo in headless and DRM headers
  Source/WebKit/WPEPlatform/wpe/drm/WPEDisplayDRM.h
  Source/WebKit/WPEPlatform/wpe/drm/WPEViewDRM.h
  Source/WebKit/WPEPlatform/wpe/headless/WPEDisplayHeadless.h
  Source/WebKit/WPEPlatform/wpe/headless/WPEViewHeadless.h
Labels: unsafe-merge-queue, WPE WebKit

#20877 Fix WebLocalFrameLoaderClient debug build with gcc
  Source/WebKit/WebProcess/WebCoreSupport/WebLocalFrameLoaderClient.cpp
Labels: WebKit Misc.

#21168 Disable AX iOS code for Catalyst
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Labels: WebKit Misc.

#21159 [WPE] Fix build without journald after 271330@main
  Source/WTF/wtf/PlatformGTK.cmake
  Source/WTF/wtf/PlatformWPE.cmake
  Source/WebKit/WPEPlatform/wpe/drm/CMakeLists.txt
Labels: merge-queue, WPE WebKit

#21169 Fix Lexer build with -Werror=type-limits
  Source/JavaScriptCore/parser/Lexer.cpp
Labels: merge-queue, WebCore Misc.

#21163 Add com.apple.developer.kernel.extended-virtual-addressing entitlement explicitly.
  Source/WebKit/Scripts/process-entitlements.sh
Labels: unsafe-merge-queue, JavaScriptCore

#21143 [Wasm-GC] Fix subtyping for nullref
  JSTests/wasm/gc/subtyping.js
  Source/JavaScriptCore/wasm/WasmFormat.h
Labels: merge-queue, WebAssembly

#21082 [run-webkit-tests] Include test configuration in full_results.json
  Tools/Scripts/webkitpy/layout_tests/models/test_run_results.py
  Tools/Scripts/webkitpy/layout_tests/models/test_run_results_unittest.py
Labels: unsafe-merge-queue, Tools / Tests

#21166 [scroll-animations] WPT test scroll-animations/css/view-timeline-shorthand.html has incorrect contraction tests
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/view-timeline-shorthand-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/view-timeline-shorthand.html
Labels: unsafe-merge-queue, Animations

#21091 [WebGPU] webgpu:api,operation,resource_init,texture_zero:* does not pass
  LayoutTests/http/tests/webgpu/webgpu/api/operation/command_buffer/image_copy-expected.txt
  LayoutTests/http/tests/webgpu/webgpu/api/operation/resource_init/texture_zero-expected.txt
  Source/WebGPU/WebGPU/CommandEncoder.h
  Source/WebGPU/WebGPU/CommandEncoder.mm
  Source/WebGPU/WebGPU/PresentationContextCoreAnimation.mm
  Source/WebGPU/WebGPU/PresentationContextIOSurface.mm
  Source/WebGPU/WebGPU/Queue.h
  Source/WebGPU/WebGPU/Queue.mm
  Source/WebGPU/WebGPU/RenderPassEncoder.h
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
  Source/WebGPU/WebGPU/RenderPipeline.mm
  Source/WebGPU/WebGPU/Texture.h
  Source/WebGPU/WebGPU/Texture.mm
  Source/WebGPU/WebGPU/TextureView.h
  Source/WebGPU/WebGPU/TextureView.mm
Labels: WebGPU

#21139 Move some window functions from WebProcessProxy to WebPageProxy
  Source/WebKit/UIProcess/RemotePageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/UIProcess/WebProcessProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebRemoteFrameClient.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
  Source/WebKit/WebProcess/WebProcess.cpp
  Source/WebKit/WebProcess/WebProcess.h
  Source/WebKit/WebProcess/WebProcess.messages.in
Labels: WebKit Process Model

#21171 REGRESSION (270847@main): Typing three '.' adds extra periods instead of combining
  LayoutTests/editing/input/ios/autocorrection-replaces-three-dots-with-ellipsis-expected.txt
  LayoutTests/editing/input/ios/autocorrection-replaces-three-dots-with-ellipsis.html
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Labels: HTML Editing

#21144 [UnifiedPDF] Implement snapshotting
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginBase.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
  Source/WebKit/WebProcess/Plugins/PluginView.cpp
Labels: merge-queue, PDF

#21177 [Gardening]: NEW TEST (271377@main): [ Sonoma ] http/wpt/webcodecs/encoder-task-failing.html is constant failure
  LayoutTests/platform/mac/TestExpectations
Labels: New Bugs

#20767 Call into WKApplicationUtilities when handling certain types of links
  Source/WebKit/Configurations/WebKitSwift.xcconfig
  Source/WebKit/DerivedSources-output.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Shared/NavigationActionData.h
  Source/WebKit/Shared/NavigationActionData.serialization.in
  Source/WebKit/UIProcess/Cocoa/NavigationState.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebLocalFrameLoaderClient.cpp
Labels: WebKit Misc.

#21179 Mark http/tests/site-isolation/basic-iframe-render-output.html as flaky on iOS
  LayoutTests/platform/ios/TestExpectations
Labels: Tools / Tests

#21117 Hook up Web Extension context menus to WKWebView on macOS.
  Source/WebCore/platform/LocalizedStrings.cpp
  Source/WebCore/platform/LocalizedStrings.h
  Source/WebKit/Shared/Extensions/WebExtensionFrameIdentifier.h
  Source/WebKit/Shared/Extensions/WebExtensionMenuItem.serialization.in
  Source/WebKit/Shared/Extensions/WebExtensionMenuItemContextParameters.h
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionControllerCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionMenuItemCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/UIProcess/Extensions/WebExtensionController.h
  Source/WebKit/UIProcess/Extensions/WebExtensionMenuItem.cpp
  Source/WebKit/UIProcess/mac/WebContextMenuProxyMac.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIMenusCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPITestCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPITest.h
  Source/WebKit/WebProcess/Extensions/Cocoa/WebExtensionControllerProxyCocoa.mm
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPITest.idl
  Source/WebKit/WebProcess/Extensions/WebExtensionControllerProxy.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIMenus.mm
Labels: WebKit Extensions

#21135 Reduce exposure of ImageBuffer's backend implementation detail
  Source/WebCore/platform/graphics/ImageBuffer.cpp
  Source/WebCore/platform/graphics/ImageBuffer.h
  Source/WebKit/GPUProcess/graphics/ImageBufferShareableAllocator.cpp
  Source/WebKit/GPUProcess/graphics/RemoteImageBuffer.cpp
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerWithRemoteRenderingBackingStoreCollection.mm
  Source/WebKit/Shared/WebImage.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/GraphicsLayerCARemote.mm
  Source/WebKit/WebProcess/WebPage/wc/DrawingAreaWC.cpp
  Source/WebKit/WebProcess/WebPage/wc/WCBackingStore.h
Labels: WebCore Misc.

#21077 [run-webkit-tests] Avoid generating then deleting several JSON files
  Tools/Scripts/webkitpy/layout_tests/controllers/manager.py
  Tools/Scripts/webkitpy/layout_tests/layout_package/json_layout_results_generator.py
  Tools/Scripts/webkitpy/layout_tests/layout_package/json_results_generator.py
  Tools/Scripts/webkitpy/layout_tests/layout_package/json_results_generator_unittest.py
  Tools/Scripts/webkitpy/layout_tests/run_webkit_tests_integrationtest.py
Labels: unsafe-merge-queue, Tools / Tests

#21130 Implement declarativeNetRequest.updateEnabledRulesets
  Source/WebKit/Shared/Extensions/WebExtensionDeclarativeNetRequestConstants.h
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIDeclarativeNetRequestCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtension.h
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.messages.in
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIDeclarativeNetRequestCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIDeclarativeNetRequest.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIDeclarativeNetRequest.mm
Labels: merge-queue, WebKit Extensions

#21008 Add IPV6 support to built-in server for run-benchmarks
  Tools/Scripts/webkitpy/benchmark_runner/http_server_driver/http_server/builtin_http_server.py
Labels: Tools / Tests

#21192 [Gardening]: REGRESSION (271011@main): [ Ventura+ x86_64 wk2 ] webrtc/multi-video.html is a flaky failure
  LayoutTests/platform/wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#21189 Implement declarativeNetRequest.isRegexSupported
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIDeclarativeNetRequestCocoa.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIDeclarativeNetRequest.mm
Labels: WebKit Extensions

#21148 REGRESSION(265596@main): [Cocoa] In-band captions generate large, line-wrapped cues
  LayoutTests/media/content/test-inband-captions.mp4
  LayoutTests/media/track/track-in-band-layout-expected.txt
  LayoutTests/media/track/track-in-band-layout.html
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/html/track/InbandGenericTextTrack.cpp
  Source/WebCore/html/track/TextTrackCueGeneric.cpp
  Source/WebCore/html/track/TextTrackCueGeneric.h
  Source/WebCore/html/track/VTTCue.h
  Source/WebCore/platform/graphics/InbandGenericCue.cpp
  Source/WebCore/platform/graphics/InbandGenericCue.h
  Source/WebCore/platform/graphics/avfoundation/InbandTextTrackPrivateAVF.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Labels: Media

#21174 Fix shadow repaint issue in vertical-rl mode
  LayoutTests/fast/box-shadow/shadow-box-resize-expected.txt
  LayoutTests/fast/box-shadow/shadow-box-resize-writing-mode-expected.txt
  LayoutTests/fast/box-shadow/shadow-box-resize-writing-mode.html
  LayoutTests/fast/box-shadow/shadow-box-resize.html
  Source/WebCore/rendering/RenderBox.cpp
Labels: Layout and Rendering

#21188 [Wasm-GC] Add tests for 262863
  JSTests/wasm/gc/bug262863.js
Labels: merge-queue, WebAssembly

#21190 [Wasm-GC] Fix array.new_data & array.new_elem for recursive array types
  JSTests/wasm/gc/array_new_data.js
  JSTests/wasm/gc/array_new_elem.js
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Source/JavaScriptCore/wasm/WasmOperationsInlines.h
Labels: WebAssembly

#21185 Add outlineBoundsRect to RepaintRects
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderObject.cpp
  Source/WebCore/rendering/RenderObject.h
  Source/WebCore/rendering/svg/RenderSVGModelObject.cpp
Labels: Layout and Rendering

#20874 Add Element/ShadowRoot's setHTMLUnsafe() and Document.parseHTMLUnsafe() methods
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/Document-parseHTMLUnsafe-encoding-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/Document-parseHTMLUnsafe-encoding.html
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/Document-parseHTMLUnsafe-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/Document-parseHTMLUnsafe-style-attribute-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/Document-parseHTMLUnsafe-style-attribute.html
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/Document-parseHTMLUnsafe-url-base-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/Document-parseHTMLUnsafe-url-base-pushstate-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/Document-parseHTMLUnsafe-url-base-pushstate.html
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/Document-parseHTMLUnsafe-url-base.html
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/Document-parseHTMLUnsafe-url-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/Document-parseHTMLUnsafe-url-moretests-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/Document-parseHTMLUnsafe-url-moretests.html
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/Document-parseHTMLUnsafe-url-pushstate-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/Document-parseHTMLUnsafe-url-pushstate.html
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/Document-parseHTMLUnsafe-url.html
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/Document-parseHTMLUnsafe.html
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/Element-setHTMLUnsafe-04-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/Element-setHTMLUnsafe-04.html
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/resources/parseHTMLUnsafe-iframe-base-pushstate.html
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/resources/parseHTMLUnsafe-iframe-base.html
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/resources/parseHTMLUnsafe-iframe-pushstate.html
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/resources/parseHTMLUnsafe-iframe.html
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/resources/parseHTMLUnsafe-iframe.js
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/resources/parseHTMLUnsafe-url-tests.js
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/resources/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/setHTMLUnsafe-CEReactions-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/setHTMLUnsafe-CEReactions.html
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/setHTMLUnsafe-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/setHTMLUnsafe-xml-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/setHTMLUnsafe-xml.html
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/setHTMLUnsafe.html
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/dynamic-markup-insertion/html-unsafe-methods/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/declarative/declarative-shadow-dom-attachment-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/declarative/declarative-shadow-dom-basic-expected.txt
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/Headers.cmake
  Source/WebCore/dom/DOMImplementation.cpp
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/dom/Document.idl
  Source/WebCore/dom/DocumentFragment.h
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/Element.h
  Source/WebCore/dom/FragmentScriptingPermission.h
  Source/WebCore/dom/InnerHTML.idl
  Source/WebCore/dom/ParserContentPolicy.h
  Source/WebCore/dom/ScriptableDocumentParser.h
  Source/WebCore/dom/ShadowRoot.cpp
  Source/WebCore/dom/ShadowRoot.h
  Source/WebCore/dom/ShadowRootInit.idl
  Source/WebCore/editing/markup.cpp
  Source/WebCore/editing/markup.h
  Source/WebCore/html/HTMLTemplateElement.idl
  Source/WebCore/html/parser/HTMLConstructionSite.cpp
  Source/WebCore/html/parser/HTMLConstructionSite.h
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
  Source/WebCore/xml/DOMParser.cpp
  Source/WebCore/xml/parser/XMLDocumentParser.h
  Tools/TestWebKitAPI/Tests/WebCore/HTMLParserIdioms.cpp
Labels: DOM

#21204 Add test against Attr element leaks
  LayoutTests/fast/dom/Element/set-attribute-twice-and-gc-expected.txt
  LayoutTests/fast/dom/Element/set-attribute-twice-and-gc.html
Labels: merge-queue, DOM

#21186 [git-webkit pr] Make Terminal prompting more intuitive
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
Labels: merge-queue, Tools / Tests

#21206 [WPE] clang warnings
  Source/WebKit/WPEPlatform/wpe/drm/WPEDRM.h
  Source/WebKit/WPEPlatform/wpe/wayland/WPEViewWayland.cpp
  Source/WebKit/WebProcess/WebPage/dmabuf/AcceleratedSurfaceDMABuf.h
  Tools/PlatformWPE.cmake
Labels: merge-queue, WPE WebKit

#21136 [UnifiedPDF] Start creating context menu in UnifiedPDFPlugin.
  Source/WebCore/en.lproj/Localizable.strings
  Source/WebCore/platform/LocalizedStrings.cpp
  Source/WebCore/platform/LocalizedStrings.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: PDF

#21157 Cleanup node tree side of :checked and :indeterminate
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/selectors/pseudo-classes/checked-indeterminate.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/selectors/pseudo-classes/checked-indeterminate.window.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/selectors/pseudo-classes/checked-indeterminate.window.js
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/selectors/pseudo-classes/dir-dynamic-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/selectors/pseudo-classes/dir-dynamic.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/selectors/pseudo-classes/dir-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/selectors/pseudo-classes/dir.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/selectors/pseudo-classes/disabled-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/selectors/pseudo-classes/disabled.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/selectors/pseudo-classes/indeterminate-radio-group-expected.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/selectors/pseudo-classes/indeterminate-radio-group-ref.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/selectors/pseudo-classes/indeterminate-radio-group.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/selectors/pseudo-classes/readwrite-readonly.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/selectors/pseudo-classes/w3c-import.log
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/html/semantics/selectors/pseudo-classes/readwrite-readonly-expected.txt
  LayoutTests/platform/mac-wk2/imported/w3c/web-platform-tests/html/semantics/selectors/pseudo-classes/readwrite-readonly-expected.txt
  LayoutTests/platform/mac/imported/w3c/web-platform-tests/html/semantics/selectors/pseudo-classes/readwrite-readonly-expected.txt
  LayoutTests/platform/wpe/imported/w3c/web-platform-tests/html/semantics/selectors/pseudo-classes/readwrite-readonly-expected.txt
  Source/WebCore/accessibility/AccessibilityNodeObject.cpp
  Source/WebCore/css/SelectorCheckerTestFunctions.h
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/Element.h
  Source/WebCore/html/CheckboxInputType.cpp
  Source/WebCore/html/CheckboxInputType.h
  Source/WebCore/html/HTMLInputElement.cpp
  Source/WebCore/html/HTMLInputElement.h
  Source/WebCore/html/HTMLProgressElement.cpp
  Source/WebCore/html/HTMLProgressElement.h
  Source/WebCore/html/InputType.cpp
  Source/WebCore/html/InputType.h
  Source/WebCore/rendering/RenderTheme.cpp
Labels: DOM

#20844 Make <progress> use Page's preferredRenderingUpdateInterval()
  Source/WebCore/rendering/RenderProgress.cpp
  Source/WebCore/rendering/RenderProgress.h
  Source/WebCore/rendering/RenderTheme.cpp
  Source/WebCore/rendering/RenderTheme.h
  Source/WebCore/rendering/RenderThemeAdwaita.cpp
  Source/WebCore/rendering/RenderThemeAdwaita.h
  Source/WebCore/rendering/RenderThemeCocoa.h
  Source/WebCore/rendering/RenderThemeCocoa.mm
  Source/WebCore/rendering/RenderThemeIOS.h
  Source/WebCore/rendering/RenderThemeIOS.mm
  Source/WebCore/rendering/RenderThemeMac.h
  Source/WebCore/rendering/RenderThemeMac.mm
Labels: DOM

#21214 Fix the xcfilelists after 271428@main
  Source/WebCore/DerivedSources-output.xcfilelist
Labels: unsafe-merge-queue, Tools / Tests

#21219 [iOS] Fix the build after 271429@main
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: unsafe-merge-queue, PDF

#21209 Remove ParserContentPolicy::AllowPluginContent
  Source/WebCore/dom/DOMImplementation.cpp
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/DocumentFragment.h
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/ParserContentPolicy.h
  Source/WebCore/dom/Range.cpp
  Source/WebCore/dom/ScriptableDocumentParser.cpp
  Source/WebCore/dom/ShadowRoot.cpp
  Source/WebCore/editing/markup.cpp
  Source/WebCore/editing/markup.h
  Source/WebCore/html/parser/HTMLConstructionSite.cpp
  Source/WebCore/html/parser/HTMLDocumentParser.h
  Source/WebCore/html/parser/HTMLTreeBuilder.cpp
  Source/WebCore/xml/XMLHttpRequest.cpp
  Source/WebCore/xml/parser/XMLDocumentParser.h
  Source/WebKitLegacy/mac/WebView/WebFrame.mm
  Tools/TestWebKitAPI/Tests/WebCore/HTMLParserIdioms.cpp
Labels: DOM

#21230 Remove RenderProgress's m_animationDuration
  Source/WebCore/rendering/RenderProgress.cpp
  Source/WebCore/rendering/RenderProgress.h
Labels: unsafe-merge-queue, Layout and Rendering

#21233 Remove DeprecatedGlobalSettings::shouldUseHighResolutionTimers()
  Source/WebCore/page/DeprecatedGlobalSettings.cpp
  Source/WebCore/page/DeprecatedGlobalSettings.h
  Source/WebCore/platform/win/MainThreadSharedTimerWin.cpp
Labels: Platform

#20893 Fixed UGPRPair for big endian cpus
  Source/JavaScriptCore/runtime/UGPRPair.h
Labels: JavaScriptCore

#21234 Increase styleType bits to 5 on `RenderStyle::NonInheritedFlags`
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyle.h
Labels: CSS

#21222 [UIAsyncTextInput] Release assertion when dismissing the keyboard or changing focused element
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Labels: Platform

#21236 [Gardening] Remove orphaned platform specific test expectations for 'mediasource' tests
  LayoutTests/platform/gtk/http/tests/media/media-source/SourceBuffer-abort-expected.txt
  LayoutTests/platform/gtk/http/tests/media/media-source/SourceBuffer-abort-readyState-expected.txt
  LayoutTests/platform/gtk/http/tests/media/media-source/SourceBuffer-abort-removed-expected.txt
  LayoutTests/platform/gtk/http/tests/media/media-source/SourceBuffer-abort-updating-expected.txt
  LayoutTests/platform/mac/http/tests/media/media-source/SourceBuffer-abort-expected.txt
  LayoutTests/platform/mac/http/tests/media/media-source/SourceBuffer-abort-readyState-expected.txt
  LayoutTests/platform/mac/http/tests/media/media-source/SourceBuffer-abort-removed-expected.txt
  LayoutTests/platform/mac/http/tests/media/media-source/SourceBuffer-abort-updating-expected.txt
  LayoutTests/platform/mac/http/tests/media/media-source/mediasource-addsourcebuffer-expected.txt
  LayoutTests/platform/mac/http/tests/media/media-source/mediasource-is-type-supported-expected.txt
  LayoutTests/platform/mac/http/tests/media/media-source/mediasource-sourcebuffer-mode-expected.txt
Labels: Tools / Tests

#21235 Stop sending 2 Close frames from client-close_wsh
  LayoutTests/http/tests/websocket/tests/hybi/client-close_wsh.py
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: merge-queue, Tools / Tests

#21224 Deploy more smart pointers in WebMediaStrategy.cpp
  Source/WebKit/WebProcess/GPU/media/WebMediaStrategy.cpp
Labels: WebKit2

#21229 Enhance genericTypedArrayViewProtoFuncSortImpl to also handle an OutOfMemory case.
  JSTests/stress/typedarray-sort-out-of-memory.js
  Source/JavaScriptCore/runtime/JSGenericTypedArrayView.h
  Source/JavaScriptCore/runtime/JSGenericTypedArrayViewInlines.h
  Source/JavaScriptCore/runtime/JSGenericTypedArrayViewPrototypeFunctions.h
  Source/WTF/wtf/Vector.h
Labels: unsafe-merge-queue, JavaScriptCore

#21251 Gracefully handle OOM while trying to describing a Symbol when creating an Error.
  JSTests/stress/out-of-memory-while-describing-symbol-for-error.js
  Source/JavaScriptCore/runtime/ExceptionHelpers.cpp
  Source/JavaScriptCore/runtime/Symbol.cpp
  Source/JavaScriptCore/runtime/Symbol.h
Labels: unsafe-merge-queue, JavaScriptCore

#21258 error: '_setAllowsAsyncScrollEvent:' is deprecated
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
Labels: unsafe-merge-queue, UI Events

#21099 WebGLContextAttributes are used for GraphicsContextGL
  LayoutTests/webgl/webgl-fail-platform-context-creation-no-crash-expected.txt
  LayoutTests/webgl/webgl-fail-platform-context-creation-no-crash.html
  Source/WebCore/html/HTMLCanvasElement.cpp
  Source/WebCore/html/HTMLCanvasElement.h
  Source/WebCore/html/OffscreenCanvas.cpp
  Source/WebCore/html/canvas/WebGL2RenderingContext.cpp
  Source/WebCore/html/canvas/WebGL2RenderingContext.h
  Source/WebCore/html/canvas/WebGLContextAttributes.h
  Source/WebCore/html/canvas/WebGLContextAttributes.idl
  Source/WebCore/html/canvas/WebGLRenderingContext.cpp
  Source/WebCore/html/canvas/WebGLRenderingContext.h
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
  Source/WebCore/platform/graphics/GraphicsContextGLAttributes.h
  Source/WebCore/platform/graphics/angle/GraphicsContextGLANGLE.cpp
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.mm
  Source/WebCore/platform/graphics/gbm/GraphicsContextGLGBM.cpp
  Source/WebCore/platform/graphics/texmap/GraphicsContextGLTextureMapperANGLE.cpp
  Source/WebCore/testing/Internals.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Labels: WebGL

#21260 [scroll-animations] add initial parsing support for the `animation-timeline` property
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/parsing/animation-duration-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/parsing/animation-shorthand-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/all-prop-revert-layer-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/animation-shorthand-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/animation-timeline-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/animation-timeline-in-keyframe-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/animation-timeline-named-scroll-progress-timeline.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/animation-timeline-parsing-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/animation-timeline-scroll-functional-notation.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/animation-timeline-view-functional-notation.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/get-animations-inactive-timeline-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/named-range-keyframes-with-document-timeline.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/progress-based-animation-animation-longhand-properties.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/scroll-timeline-document-scroller-quirks-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/scroll-timeline-in-container-query-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/scroll-timeline-multi-pass.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/scroll-timeline-nearest-dirty-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/scroll-timeline-nearest-with-absolute-positioned-element-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/scroll-timeline-paused-animations-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/scroll-timeline-range-animation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/scroll-timeline-responsiveness-from-endpoint-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/scroll-timeline-root-dirty-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/timeline-range-name-offset-in-keyframes.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/view-timeline-animation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/view-timeline-animation-range-update.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/view-timeline-dynamic-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/view-timeline-inset-animation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/view-timeline-range-animation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/view-timeline-used-values-expected.txt
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/ipad/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/css/css-cascade/all-prop-revert-layer-expected.txt
  LayoutTests/platform/wpe/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/CSSToStyleMap.cpp
  Source/WebCore/css/CSSToStyleMap.h
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.h
  Source/WebCore/platform/animation/Animation.cpp
  Source/WebCore/platform/animation/Animation.h
  Source/WebCore/platform/animation/AnimationList.cpp
  Source/WebInspectorUI/UserInterface/Models/CSSKeywordCompletions.js
Labels: unsafe-merge-queue, Animations

#21263 [IFC][Ruby] Disable fast/ruby/ruby-line-height.html on WK1
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: CSS

#21158 [Cocoa] Enable VP9 profile 2 for WebCodecs and WebRTC
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: Media

#21279 [git-webkit pr] Make Terminal prompting more intuitive (Follow-up)
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
Labels: Tools / Tests

#20980 Generate IPC serialization for PlatformCAAnimation enums
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.cpp
  Source/WebCore/platform/graphics/ca/PlatformCAAnimation.cpp
  Source/WebCore/platform/graphics/ca/PlatformCAAnimation.h
  Source/WebCore/platform/graphics/ca/cocoa/PlatformCAAnimationCocoa.mm
  Source/WebKit/Shared/Cocoa/WebCoreArgumentCodersCocoa.serialization.in
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCAAnimationRemote.mm
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCAAnimationRemoteProperties.h
Labels: New Bugs

#20989 Remove redundant Cocoa-specific EnumTraits specializations under WebCore/platform
  Source/WebCore/platform/graphics/avfoundation/MediaPlayerPrivateAVFoundation.h
  Source/WebCore/platform/ios/SelectionGeometry.h
Labels: merge-queue, New Bugs

#21246 [WPE] Fix missing initializer warning for member wl_pointer_listener::axis_relative_direction and related issues
  Source/WebKit/WPEPlatform/wpe/wayland/WPEViewWayland.cpp
  Source/WebKit/WPEPlatform/wpe/wayland/WPEWaylandSeat.cpp
Labels: merge-queue, WPE WebKit

#21210 [WebRTC] RtpPacketizer::SplitAboutEqually() should return an empty std::vector when payload_len is 0
  Source/ThirdParty/libwebrtc/Source/webrtc/modules/rtp_rtcp/source/rtp_format.cc
  Source/ThirdParty/libwebrtc/WebKit/0001-WebRTC-RtpPacketizer-SplitAboutEqually-should-return-empty-std-vector.patch
Labels: WebRTC

#21244 [UIAsyncTextInput] Keyboard sometimes autocapitalizes incorrectly while typing an inline completion
  LayoutTests/editing/input/ios/typing-with-inline-predictions-expected.txt
  LayoutTests/editing/input/ios/typing-with-inline-predictions.html
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Labels: HTML Editing

#21202 Borders, backgrounds, and other table cell properties are lost when pasting tables into TextEdit
  Source/WebCore/PAL/PAL.xcodeproj/project.pbxproj
  Source/WebCore/PAL/pal/PlatformMac.cmake
  Source/WebCore/PAL/pal/spi/ios/UIKitSPI.h
  Source/WebCore/PAL/pal/spi/mac/NSTextTableSPI.h
  Source/WebCore/editing/cocoa/AttributedString.mm
  Tools/TestRunnerShared/spi/UIKitSPIForTesting.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebViewGetContents.mm
Labels: merge-queue, HTML Editing

#21265 Re-enable imported/w3c/html-templates/parsing-html-templates/creating-an-element-for-the-token/template-owner-document.html and friends
  LayoutTests/platform/ios-device/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, JavaScriptCore

#21232 Remove ServerTimingEnabled preference
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/loader/ResourceTiming.cpp
  Source/WebCore/page/DeprecatedGlobalSettings.h
  Source/WebCore/page/PerformanceResourceTiming.idl
  Source/WebCore/page/PerformanceServerTiming.idl
  Source/WebKit/UIProcess/API/C/WKPreferences.cpp
  Source/WebKit/UIProcess/API/C/WKPreferencesRefPrivate.h
  Source/WebKitLegacy/mac/WebView/WebPreferenceKeysPrivate.h
  Source/WebKitLegacy/mac/WebView/WebPreferences.mm
  Source/WebKitLegacy/mac/WebView/WebPreferencesPrivate.h
Labels: merge-queue, WebCore Misc.

#21220 Adopt alternatives for scroll view SPI: -_scrollView:asynchronouslyHandleScrollEvent:completion:
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/UIProcess/PageClient.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteLayerTreeViews.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteLayerTreeViews.mm
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeFrameScrollingNodeRemoteIOS.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeFrameScrollingNodeRemoteIOS.mm
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeOverflowScrollingNodeIOS.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeOverflowScrollingNodeIOS.mm
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreePluginScrollingNodeIOS.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreePluginScrollingNodeIOS.mm
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeScrollingNodeDelegateIOS.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeScrollingNodeDelegateIOS.mm
  Source/WebKit/UIProcess/ios/PageClientImplIOS.h
  Source/WebKit/UIProcess/ios/PageClientImplIOS.mm
  Source/WebKit/UIProcess/ios/WKBaseScrollView.h
  Source/WebKit/UIProcess/ios/WKBaseScrollView.mm
  Source/WebKit/UIProcess/ios/WKScrollView.mm
  Source/WebKit/UIProcess/ios/WKVelocityTrackingScrollView.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Tools/TestRunnerShared/spi/UIKitSPIForTesting.h
  Tools/TestWebKitAPI/Tests/ios/WKScrollViewTests.mm
Labels: unsafe-merge-queue, Platform

#21175 [WebGPU] API passing byte offsets for dynamic offsets to the compiler which assumed they were indices
  Source/WebGPU/WebGPU/ShaderModule.mm
Labels: merge-queue, WebGPU

#21199 Begin moving functions from LocalFrameView to FrameView
  Source/WebCore/Sources.txt
  Source/WebCore/page/Frame.cpp
  Source/WebCore/page/Frame.h
  Source/WebCore/page/FrameView.cpp
  Source/WebCore/page/FrameView.h
  Source/WebCore/page/InteractionRegion.cpp
  Source/WebCore/page/LocalFrame.cpp
  Source/WebCore/page/LocalFrame.h
  Source/WebCore/page/LocalFrameView.cpp
  Source/WebCore/page/LocalFrameView.h
  Source/WebCore/page/RemoteFrameView.cpp
  Source/WebCore/page/RemoteFrameView.h
Labels: unsafe-merge-queue, WebKit Process Model

#21284 Call into WKApplicationUtilities when handling certain types of links
  Source/WebKit/Configurations/WebKitSwift.xcconfig
  Source/WebKit/DerivedSources-output.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Shared/NavigationActionData.h
  Source/WebKit/Shared/NavigationActionData.serialization.in
  Source/WebKit/UIProcess/Cocoa/NavigationState.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebLocalFrameLoaderClient.cpp
Labels: merge-queue, WebKit Misc.

#21241 When repainting after layout, compute the outline bounds in the same pass as the clipped overflow rect
  LayoutTests/fast/repaint/hidpi-transform-on-subpixel-repaintrect-expected.txt
  LayoutTests/svg/repaint/mask-object-bounding-box-shrink-expected.txt
  Source/WebCore/rendering/LayoutRepainter.cpp
  Source/WebCore/rendering/LayoutRepainter.h
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderBox.h
  Source/WebCore/rendering/RenderElement.cpp
  Source/WebCore/rendering/RenderElement.h
  Source/WebCore/rendering/RenderInline.cpp
  Source/WebCore/rendering/RenderInline.h
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/RenderLayer.h
  Source/WebCore/rendering/RenderLineBreak.h
  Source/WebCore/rendering/RenderObject.cpp
  Source/WebCore/rendering/RenderObject.h
  Source/WebCore/rendering/RenderReplaced.cpp
  Source/WebCore/rendering/RenderReplaced.h
  Source/WebCore/rendering/RenderTableCell.cpp
  Source/WebCore/rendering/RenderTableCell.h
  Source/WebCore/rendering/RenderTableCol.cpp
  Source/WebCore/rendering/RenderTableCol.h
  Source/WebCore/rendering/RenderTableRow.cpp
  Source/WebCore/rendering/RenderTableRow.h
  Source/WebCore/rendering/RenderText.cpp
  Source/WebCore/rendering/RenderText.h
  Source/WebCore/rendering/svg/RenderSVGBlock.cpp
  Source/WebCore/rendering/svg/RenderSVGBlock.h
  Source/WebCore/rendering/svg/RenderSVGGradientStop.h
  Source/WebCore/rendering/svg/RenderSVGInline.cpp
  Source/WebCore/rendering/svg/RenderSVGInline.h
  Source/WebCore/rendering/svg/RenderSVGModelObject.cpp
  Source/WebCore/rendering/svg/RenderSVGModelObject.h
  Source/WebCore/rendering/svg/legacy/LegacyRenderSVGHiddenContainer.h
  Source/WebCore/rendering/svg/legacy/LegacyRenderSVGModelObject.cpp
  Source/WebCore/rendering/svg/legacy/LegacyRenderSVGModelObject.h
  Source/WebCore/rendering/svg/legacy/LegacyRenderSVGRoot.cpp
  Source/WebCore/rendering/svg/legacy/LegacyRenderSVGRoot.h
Labels: merge-queue, Layout and Rendering

#18645 CMSampleBufferGetSampleAttachmentsArray return value is not checked for nullptr
  Source/WebCore/platform/graphics/avfoundation/objc/MediaSampleAVFObjC.mm
Labels: merge-queue, Media

#21007 Have VTTCue use LoggerHelper
  Source/WebCore/html/track/VTTCue.cpp
  Source/WebCore/html/track/VTTCue.h
Labels: merge-queue, Media

#21176 [WGSL] Explicit type conversion should not check for overflow
  Source/WebGPU/WGSL/ConstantFunctions.h
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/tests/valid/overload.wgsl
Labels: WebGPU

#21272 [scroll-animations] some WPT tests fail due to `ReferenceError: Can't find variable: runAndWaitForFrameUpdate`
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/animation-timeline-ignored.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/animation-timeline-multiple-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/animation-timeline-named-scroll-progress-timeline.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/animation-timeline-none-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/animation-timeline-scroll-functional-notation.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/animation-timeline-view-functional-notation.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/progress-based-animation-animation-longhand-properties.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/progress-based-animation-timeline-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/scroll-timeline-axis-writing-mode-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/scroll-timeline-sampling-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/timeline-scope-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/view-timeline-lookup-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/view-timelines/animation-events-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/testcommon.js
Labels: unsafe-merge-queue, Animations

#21240 [UnifiedPDF] Implement pinch-zooming (macOS)
  Source/WebKit/UIProcess/ViewGestureController.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginBase.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginBase.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
  Source/WebKit/WebProcess/Plugins/PluginView.cpp
  Source/WebKit/WebProcess/Plugins/PluginView.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
  Source/WebKit/WebProcess/WebPage/mac/WebPageMac.mm
Labels: merge-queue, PDF

#21211 [Cocoa] MediaCapabilities spatial rendering checks fail on capable HW with built-in sound output
  Source/WebCore/PAL/pal/cf/AudioToolboxSoftLink.cpp
  Source/WebCore/PAL/pal/cf/AudioToolboxSoftLink.h
  Source/WebCore/PAL/pal/cf/CoreMediaSoftLink.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.mm
  Source/WebCore/PAL/pal/spi/cocoa/AudioToolboxSPI.h
  Source/WebCore/platform/audio/PlatformMediaSessionManager.cpp
  Source/WebCore/platform/audio/PlatformMediaSessionManager.h
  Source/WebCore/platform/audio/cocoa/MediaSessionManagerCocoa.h
  Source/WebCore/platform/audio/cocoa/MediaSessionManagerCocoa.mm
  Source/WebCore/platform/audio/ios/MediaSessionHelperIOS.h
  Source/WebCore/platform/audio/ios/MediaSessionHelperIOS.mm
  Source/WebCore/platform/audio/ios/MediaSessionManagerIOS.h
  Source/WebCore/platform/audio/ios/MediaSessionManagerIOS.mm
  Source/WebCore/platform/graphics/cocoa/MediaEngineConfigurationFactoryCocoa.cpp
  Source/WebKit/GPUProcess/media/ios/RemoteMediaSessionHelperProxy.cpp
  Source/WebKit/GPUProcess/media/ios/RemoteMediaSessionHelperProxy.h
  Source/WebKit/Shared/mac/MediaFormatReader/CoreMediaWrapped.cpp
  Source/WebKit/WebProcess/GPU/media/ios/RemoteMediaSessionHelper.cpp
  Source/WebKit/WebProcess/GPU/media/ios/RemoteMediaSessionHelper.h
  Source/WebKit/WebProcess/GPU/media/ios/RemoteMediaSessionHelper.messages.in
Labels: merge-queue, Media

#21183 Make has_json_wrapper and strip_json_wrapper private
  Tools/Scripts/webkitpy/common/net/resultsjsonparser.py
  Tools/Scripts/webkitpy/layout_tests/layout_package/json_results_generator.py
  Tools/Scripts/webkitpy/layout_tests/layout_package/json_results_generator_unittest.py
  Tools/Scripts/webkitpy/tool/servers/rebaselineserver_unittest.py
Labels: unsafe-merge-queue, Tools / Tests

#21197 Switch from textColorForCaretSelection to returning the information in the stylingDictionary to remove more SPI.
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Labels: WebKit Misc.

#21102 [CSS] :scope matching for multiple scoping roots
  LayoutTests/TestExpectations
  LayoutTests/fast/css/scope-at-rule-expected.html
  LayoutTests/fast/css/scope-at-rule.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/scope-container-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/scope-evaluation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/scope-focus-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/scope-hover-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/scope-implicit-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/scope-invalidation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/scope-layer-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/scope-media-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/scope-nesting-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/scope-supports-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/scope-visited-cssom-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/conditional-rules.html
  Source/WebCore/cssjit/SelectorCompiler.cpp
  Source/WebCore/style/ElementRuleCollector.cpp
  Source/WebCore/style/ElementRuleCollector.h
Labels: WebCore Misc.

#21299 REGRESSION(268561@main): generate-bindings-all.pl: [CMake] doesn't account for certain IDL changes
  Source/WebCore/bindings/scripts/generate-bindings-all.pl
Labels: unsafe-merge-queue, Tools / Tests

#21275 [WPE] Fix build with GLib older than 2.74
  Source/WebKit/WPEPlatform/wpe/drm/WPEDRMSessionLogind.cpp
Labels: unsafe-merge-queue, WPE WebKit

#21289 [iOS] Adopt API replacements for returning an "acting parent UIScrollView"
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeScrollingNodeDelegateIOS.mm
  Source/WebKit/UIProcess/ios/WKBaseScrollView.h
  Source/WebKit/UIProcess/ios/WKBaseScrollView.mm
Labels: merge-queue, Platform

#21181 Use Host Architecture as Fallback Architecture in JavascriptCore Tests
  Tools/Scripts/run-javascriptcore-tests
Labels: unsafe-merge-queue, Tools / Tests, safe-merge-queue

#21256 [MSE] Remove need for SourceBufferPrivate to query MediaSource duration
  Source/WebCore/Modules/mediasource/MediaSource.cpp
  Source/WebCore/Modules/mediasource/MediaSource.h
  Source/WebCore/platform/graphics/MediaSourcePrivate.cpp
  Source/WebCore/platform/graphics/MediaSourcePrivate.h
  Source/WebCore/platform/graphics/MediaSourcePrivateClient.h
  Source/WebCore/platform/graphics/SourceBufferPrivate.cpp
  Source/WebCore/platform/graphics/SourceBufferPrivate.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/MediaSourcePrivateAVFObjC.mm
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.h
  Source/WebCore/platform/graphics/gstreamer/mse/MediaSourcePrivateGStreamer.cpp
  Source/WebCore/platform/mock/mediasource/MockMediaPlayerMediaSource.cpp
  Source/WebCore/platform/mock/mediasource/MockMediaSourcePrivate.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaSourceProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaSourceProxy.h
Labels: merge-queue, Media

#21198 Switch from fontForCaretSelection to returning the information in the stylingDictionary to remove more SPI.
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Labels: merge-queue, WebKit Misc.

#21257 [MSE] remove MonitorSourceBuffer method from MediaSourcePrivateClient()
  Source/WebCore/Modules/mediasource/MediaSource.h
  Source/WebCore/platform/graphics/MediaSourcePrivateClient.h
  Source/WebKit/GPUProcess/media/RemoteMediaSourceProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaSourceProxy.h
Labels: Media

#20559 [scroll-anchoring] A scroll anchoring adjustment during a momentum scroll stops the scroll
  LayoutTests/fast/scrolling/ios/scroll-anchoring-momentum-scroll-expected.txt
  LayoutTests/fast/scrolling/ios/scroll-anchoring-momentum-scroll.html
  Source/WebCore/page/scrolling/ScrollAnchoringController.cpp
Labels: New Bugs

#21310 [WinCairo] Unreviewed test gardening
  LayoutTests/platform/wincairo/TestExpectations
Labels: unsafe-merge-queue

#21312 [Gardening]: REGRESSION (271426@main): [ Monterey / Ventura Debug ] ASSERTION FAILED with void WebCore::ViewTransition::callUpdateCallback() result of multiple tests constant crash
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#21247 `showRenderTreeForThis` should output `PseudoId`
  Source/WebCore/rendering/RenderObject.cpp
Labels: unsafe-merge-queue, Layout and Rendering

#21196 [WebAuthn] Start migrating to using modern AuthenticationServices API
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WTF/wtf/PlatformHave.h
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/AuthenticationServicesForwardDeclarations.h
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/AuthenticationServicesSoftLink.h
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/AuthenticationServicesSoftLink.mm
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/WebAuthenticatorCoordinatorProxy.mm
  Source/WebKit/UIProcess/WebAuthentication/WebAuthenticatorCoordinatorProxy.cpp
  Source/WebKit/UIProcess/WebAuthentication/WebAuthenticatorCoordinatorProxy.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: merge-queue, WebKit Misc.

#21303 Fix performance regression after 271209@main
  Source/WebKit/NetworkProcess/cache/NetworkCacheSpeculativeLoad.cpp
Labels: unsafe-merge-queue, WebKit Misc.

#21182 [Wasm-GC] Fix exception validation when using GC
  JSTests/wasm/gc/exception.js
  Source/JavaScriptCore/wasm/WasmFormat.h
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
Labels: merge-queue, WebAssembly

#21293 [UnifiedPDF] UnifiedPDFPlugin should be able to query PDFKit for annotations under a page point
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFDocumentLayout.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFDocumentLayout.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: merge-queue, PDF

#21131 RemoteLayerBackingStoreCollection doesn't support mixing remote rendering with in process rendering.
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStoreCollection.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStoreCollection.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerWithInProcessRenderingBackingStore.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerWithInProcessRenderingBackingStore.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerWithRemoteRenderingBackingStore.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerWithRemoteRenderingBackingStore.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerWithRemoteRenderingBackingStoreCollection.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerWithRemoteRenderingBackingStoreCollection.mm
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemote.mm
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeContext.mm
Labels: merge-queue, WebKit Process Model

#21315 [WinCairo] Unreviewed test gardening
  LayoutTests/platform/wincairo/TestExpectations
Labels: unsafe-merge-queue

#21249 Add menu item and keyCommand support to Web Extension commands.
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionCommand.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionCommand.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionCommandPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionContext.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionContext.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionCommandCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionMenuItemCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionCommand.h
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/UIProcess/Extensions/WebExtensionMenuItem.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPICommands.mm
Labels: unsafe-merge-queue, WebKit Extensions

#21320 [WinCairo] Unreviewed test gardening
  LayoutTests/platform/wincairo/TestExpectations
Labels: unsafe-merge-queue

#21291 Update rapidfuzz to 3.4.0
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/__init__.py
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/autoinstall.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
Labels: merge-queue, Tools / Tests

#20633 [iPad] Fullscreening a Youtube video while in Light Mode causes a white bar across the top and bottom of the screen
  LayoutTests/fullscreen/full-screen-document-background-color-expected.txt
  LayoutTests/fullscreen/full-screen-document-background-color.html
  LayoutTests/fullscreen/resources/backdrop-green.html
  LayoutTests/fullscreen/resources/backdrop-red-on-green.html
  Source/WebCore/page/LocalFrameView.cpp
Labels: Media

#21297 [Cocoa] Fullscreen on vice.com: CC font size is extremely large in portrait view
  Source/WebCore/Modules/modern-media-controls/controls/text-tracks.css
Labels: Media

#21317 [WebGPU] CTS test never completes - https://gpuweb.github.io/cts/standalone/?q=webgpu:api,validation,buffer,mapping:mapAsync,state,mappingPending:*
  Source/WebCore/Modules/WebGPU/GPUBuffer.cpp
Labels: merge-queue, WebGPU

#21296 [Cocoa] Fullscreen on dailymotion.com: Scrubbing on seekbar switches apps
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
Labels: Media

#21318 [WebGPU] Crash in Buffer::getMappedRange if size is 0
  Source/WebGPU/WebGPU/Buffer.mm
Labels: merge-queue, WebGPU

#21319 [WebGPU] Device::createRenderPipeline will crash (MTLReportFailure) if fragmentDescriptor.targetCount > 8
  Source/WebGPU/WebGPU/RenderPipeline.mm
Labels: WebGPU

#21300 RenderLayer::recursiveUpdateLayerPositions() no longer needs a RenderGeometryMap
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/RenderLayer.h
Labels: merge-queue, Layout and Rendering

#21156 Add <input type=checkbox switch> pointer tracking
  LayoutTests/fast/forms/switch/pointer-tracking-disabled-expected.html
  LayoutTests/fast/forms/switch/pointer-tracking-disabled.html
  LayoutTests/fast/forms/switch/pointer-tracking-expected-mismatch.html
  LayoutTests/fast/forms/switch/pointer-tracking-there-and-back-again-expected.html
  LayoutTests/fast/forms/switch/pointer-tracking-there-and-back-again-rtl-expected.html
  LayoutTests/fast/forms/switch/pointer-tracking-there-and-back-again-rtl.html
  LayoutTests/fast/forms/switch/pointer-tracking-there-and-back-again.html
  LayoutTests/fast/forms/switch/pointer-tracking.html
  Source/WebCore/html/CheckboxInputType.cpp
  Source/WebCore/html/CheckboxInputType.h
  Source/WebCore/html/HTMLInputElement.cpp
  Source/WebCore/html/HTMLInputElement.h
  Source/WebCore/html/InputType.cpp
  Source/WebCore/html/InputType.h
  Source/WebCore/html/RadioInputType.cpp
  Source/WebCore/html/RadioInputType.h
  Source/WebCore/html/RangeInputType.cpp
  Source/WebCore/platform/graphics/controls/SwitchThumbPart.h
  Source/WebCore/platform/graphics/controls/SwitchTrackPart.h
  Source/WebCore/platform/graphics/mac/controls/SwitchThumbMac.mm
  Source/WebCore/platform/graphics/mac/controls/SwitchTrackMac.mm
  Source/WebCore/rendering/RenderTheme.cpp
  Source/WebCore/rendering/RenderTheme.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Labels: Forms

#21313 [Site Isolation] Implement WKWebView `findString:`
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
Labels: WebKit Process Model

#21281 LibWebRTCCodecsProxy::releaseEncoder should call all encoding task completion handlers
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.mm
Labels: WebRTC

#21152 WebGL OffscreenCanvas returns previously created WebGL1 context when asking for WebGL2
  LayoutTests/imported/w3c/web-platform-tests/html/canvas/offscreen/manual/the-offscreen-canvas/offscreencanvas.getcontext.html
  LayoutTests/imported/w3c/web-platform-tests/html/canvas/offscreen/manual/the-offscreen-canvas/offscreencanvas.getcontext.worker.js
  Source/WebCore/html/OffscreenCanvas.cpp
  Source/WebCore/html/OffscreenCanvas.h
Labels: WebGL

#21334 [scroll-animations] garden WPT tests
  LayoutTests/TestExpectations
Labels: unsafe-merge-queue, Animations

#21302 Avoid integer overflow in LayoutUnit's unary minus operator
  Source/WebCore/platform/LayoutUnit.h
  Tools/TestWebKitAPI/Tests/WebCore/LayoutUnitTests.cpp
Labels: Layout and Rendering

#21307 RELEASE_ASSERT(!m_ptrCount) under ~Frame()
  Source/WTF/WTF.xcodeproj/project.pbxproj
  Source/WTF/wtf/CMakeLists.txt
  Source/WTF/wtf/Forward.h
  Source/WTF/wtf/WeakPtr.h
  Source/WTF/wtf/WeakRef.h
  Source/WebCore/editing/WebContentReader.h
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/loader/FrameLoader.h
  Source/WebCore/page/EventHandler.h
  Source/WebCore/page/Frame.h
  Source/WebCore/page/IntersectionObserver.cpp
  Source/WebCore/page/LocalFrameView.cpp
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
Labels: DOM

#21295 Replace bools in PDFContextMenuItem with enum classes.
  Source/WebKit/Shared/mac/PDFContextMenu.h
  Source/WebKit/Shared/mac/PDFContextMenuItem.serialization.in
  Source/WebKit/UIProcess/mac/WebPageProxyMac.mm
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: PDF

#21216 Generate everything needed regarding a WebKit Secure Coding type (and move DDScannerResult over to the generated format)
  Source/WebKit/DerivedSources-output.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.cpp
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.h
  Source/WebKit/Scripts/webkit/tests/GeneratedWebKitSecureCoding.cpp
  Source/WebKit/Scripts/webkit/tests/GeneratedWebKitSecureCoding.h
  Source/WebKit/Scripts/webkit/tests/SerializedTypeInfo.cpp
  Source/WebKit/Scripts/webkit/tests/TestSerializedType.serialization.in
  Source/WebKit/Scripts/webkit/tests/WebKitPlatformGeneratedSerializers.cpp
  Source/WebKit/Shared/Cocoa/CoreIPCDDScannerResult.h
  Source/WebKit/Shared/Cocoa/CoreIPCDDScannerResult.mm
  Source/WebKit/Shared/Cocoa/CoreIPCDDScannerResult.serialization.in
  Source/WebKit/Shared/Cocoa/CoreIPCDictionary.h
  Source/WebKit/Shared/Cocoa/CoreIPCDictionary.mm
  Source/WebKit/Shared/Cocoa/CoreIPCDictionary.serialization.in
  Source/WebKit/Shared/Cocoa/CoreIPCNSCFObject.mm
  Source/WebKit/Shared/Cocoa/CoreIPCSecureCoding.h
  Source/WebKit/Shared/Cocoa/CoreIPCSecureCoding.mm
  Source/WebKit/Shared/Cocoa/CoreIPCTypes.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: WebKit Misc.

#21203 [CSS] Respect proximity in the cascade
  LayoutTests/fast/css/scope-at-rule-expected.html
  LayoutTests/fast/css/scope-at-rule.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/scope-proximity-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/scope-specificity-expected.txt
  Source/WebCore/style/ElementRuleCollector.cpp
  Source/WebCore/style/ElementRuleCollector.h
Labels: WebCore Misc.

#21344 [WPE][GTK] Mark WebKitWebView/notification test flakiness
  Tools/TestWebKitAPI/glib/TestExpectations.json
Labels: unsafe-merge-queue, WPE WebKit

#21321 [WGSL] Type::alignment should return 1 for bool
  Source/WebGPU/WGSL/Types.cpp
Labels: merge-queue, WebGPU

#21314 Web Extensions: menuId and parentMenuId is wrong in the menus API.
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIMenusCocoa.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIMenus.mm
Labels: unsafe-merge-queue, WebKit Extensions

#21305 Implement declarativeNetRequest.setExtensionActionOptions
  Source/WebKit/UIProcess/Cocoa/NavigationState.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIDeclarativeNetRequestCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionActionCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionControllerCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionAction.h
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.messages.in
  Source/WebKit/UIProcess/Extensions/WebExtensionController.h
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIDeclarativeNetRequestCocoa.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIDeclarativeNetRequest.mm
Labels: merge-queue, WebKit Extensions

#21331 REGRESSION: Two editing/caret/color-span-inside-editable tests are constant image failures
  LayoutTests/editing/caret/color-span-inside-editable-background-expected.html
  LayoutTests/editing/caret/color-span-inside-editable-background.html
  LayoutTests/editing/caret/color-span-inside-editable-expected.html
  LayoutTests/editing/caret/color-span-inside-editable.html
  LayoutTests/platform/gtk/editing/caret/color-span-inside-editable-background-expected.html
  LayoutTests/platform/gtk/editing/caret/color-span-inside-editable-expected.html
  LayoutTests/platform/mac-monterey/editing/caret/color-span-inside-editable-background-expected.html
  LayoutTests/platform/mac-monterey/editing/caret/color-span-inside-editable-expected.html
  LayoutTests/platform/mac-ventura/editing/caret/color-span-inside-editable-background-expected.html
  LayoutTests/platform/mac-ventura/editing/caret/color-span-inside-editable-expected.html
  LayoutTests/platform/mac-wk2/editing/caret/caret-color-expected.png
  LayoutTests/platform/mac-wk2/editing/caret/color-span-inside-editable-background-expected.html
  LayoutTests/platform/mac-wk2/editing/caret/color-span-inside-editable-expected.html
  LayoutTests/platform/mac/TestExpectations
Labels: merge-queue, CSS

#21345 WebCoreObjCScheduleDeallocateOnMainRunLoop crashes in Web Extension ARC code.
  Source/WebCore/platform/mac/WebCoreObjCExtras.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtension.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionAction.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionCommand.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionContext.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionController.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionControllerConfiguration.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionMatchPattern.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionMessagePort.mm
Labels: unsafe-merge-queue, WebKit Extensions

#20715 Make a couple more http/tests/security tests use window.internals.isFullyActive(Document&)
  LayoutTests/http/tests/security/xss-DENIED-script-inject-into-inactive-window2-expected.txt
  LayoutTests/http/tests/security/xss-DENIED-script-inject-into-inactive-window2.html
  LayoutTests/http/tests/security/xss-DENIED-script-inject-into-inactive-window3-expected.txt
  LayoutTests/http/tests/security/xss-DENIED-script-inject-into-inactive-window3.html
Labels: Tools / Tests

#21308 [Cocoa] Fullscreen on dailymotion.com: Video zooms in landscape view when exiting fullscreen
  Source/WebCore/dom/Document.h
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.cpp
Labels: merge-queue, Media

#21348 Fix depencency cycle in build
  Source/WebKit/Modules/OSX_Private.modulemap
  Source/WebKit/Modules/iOS_Private.modulemap
  Source/WebKit/Platform/ExtraPrivateSymbolsForTAPI.h
  Source/WebKit/Shared/AuxiliaryProcessExtensions/AuxiliaryProcessExtensionBridge.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: merge-queue, unsafe-merge-queue, WebKit Misc.

#21354 [GTK][WPE] Garden crashing notification API test
  Tools/TestWebKitAPI/glib/TestExpectations.json
Labels: unsafe-merge-queue, WPE WebKit

#21191 [Wasm-GC] Add test for bug262862
  JSTests/wasm/gc/bug262862.js
Labels: WebAssembly

#21213 [Wasm-GC] Fix casts on larger type indices
  JSTests/wasm/gc/casts.js
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
Labels: merge-queue, WebAssembly

#21324 WebXROpaqueFramebuffer fails to restore textures and framebuffers
  Source/WebCore/html/canvas/WebGLUtilities.h
Labels: merge-queue, WebXR

#21309 Add a SQLite Interface for Web Extension storage
  Source/WebKit/Configurations/WebKit.xcconfig
  Source/WebKit/Platform/cocoa/CocoaHelpers.h
  Source/WebKit/Platform/cocoa/CocoaHelpers.mm
  Source/WebKit/Shared/Extensions/_WKWebExtensionSQLiteDatabase.h
  Source/WebKit/Shared/Extensions/_WKWebExtensionSQLiteDatabase.mm
  Source/WebKit/Shared/Extensions/_WKWebExtensionSQLiteDatatypeTraits.h
  Source/WebKit/Shared/Extensions/_WKWebExtensionSQLiteHelpers.h
  Source/WebKit/Shared/Extensions/_WKWebExtensionSQLiteRow.h
  Source/WebKit/Shared/Extensions/_WKWebExtensionSQLiteRow.mm
  Source/WebKit/Shared/Extensions/_WKWebExtensionSQLiteStatement.h
  Source/WebKit/Shared/Extensions/_WKWebExtensionSQLiteStatement.mm
  Source/WebKit/Shared/Extensions/_WKWebExtensionSQLiteStore.h
  Source/WebKit/Shared/Extensions/_WKWebExtensionSQLiteStore.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: unsafe-merge-queue, WebKit Extensions

#20957 Define _WKWebsiteDataStoreDelegate callback methods for WindowProxy property access
  Source/WebKit/UIProcess/API/Cocoa/_WKWebsiteDataStoreDelegate.h
Labels: merge-queue, WebKit Misc.

#21346 [WebGPU] Using fp16 as an override value will crash
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
  Source/WebGPU/WGSL/WGSL.h
  Source/WebGPU/WebGPU/Pipeline.mm
Labels: merge-queue, WebGPU

#21351 [WebGPU] rg11b10ufloat should only report true for multisampling when WGPUFeatureName_RG11B10UfloatRenderable is enabled
  Source/WebGPU/WebGPU/Device.h
  Source/WebGPU/WebGPU/Device.mm
  Source/WebGPU/WebGPU/Texture.mm
Labels: merge-queue, WebGPU

#21352 Prepare WebKit for several new UIKit SPI class and symbol names
  Source/WTF/wtf/PlatformHave.h
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Tools/TestRunnerShared/spi/UIKitSPIForTesting.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/DocumentEditingContext.mm
Labels: merge-queue, Platform
