Repository WebKit/WebKit, pull requests merged in 2023-08, with the labels that each got.

#16254 AR issues. Right after opening the USDZ and GLB file in the browser, it closes itself
  Source/WebKit/UIProcess/Cocoa/SystemPreviewControllerCocoa.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SystemPreview.mm
Labels: WebKit Misc.

#16122 [Xcode] Add WK_PRIVATE_SDK_DIR for determining which SDK has private frameworks
  Configurations/SDKAdditions.xcconfig
  Source/JavaScriptCore/Configurations/Base.xcconfig
  Source/WTF/Configurations/Base.xcconfig
  Source/WTF/Configurations/WTF.xcconfig
  Source/WebCore/Configurations/WebCore.xcconfig
  Source/WebCore/PAL/Configurations/PAL.xcconfig
  Source/WebCore/PAL/ThirdParty/libavif/Configurations/libavif.xcconfig
  Source/WebCore/PAL/ThirdParty/libavif/ThirdParty/dav1d/Configurations/dav1d.xcconfig
  Source/WebGPU/Configurations/WGSL.xcconfig
  Source/WebGPU/Configurations/WebGPU.xcconfig
  Source/WebGPU/Configurations/wgslc.xcconfig
  Source/WebInspectorUI/Configurations/Base.xcconfig
  Source/WebKit/Configurations/BaseTarget.xcconfig
  Source/WebKitLegacy/mac/Configurations/WebKitLegacy.xcconfig
  Tools/DumpRenderTree/mac/Configurations/Base.xcconfig
  Tools/TestWebKitAPI/Configurations/Base.xcconfig
  WebKitLibraries/SDKs/appletvos16.0-additions.sdk/SDKSettings.plist
  WebKitLibraries/SDKs/iphoneos16.0-additions.sdk/SDKSettings.plist
  WebKitLibraries/SDKs/macosx12.0-additions.sdk/SDKSettings.plist
  WebKitLibraries/SDKs/macosx12.0.internal-additions.sdk/SDKSettings.plist
  WebKitLibraries/SDKs/macosx13.0-additions.sdk/SDKSettings.plist
  WebKitLibraries/SDKs/macosx13.0.internal-additions.sdk/SDKSettings.plist
  WebKitLibraries/SDKs/macosx14.0-additions.sdk/SDKSettings.plist
  WebKitLibraries/SDKs/watchos9.0-additions.sdk/SDKSettings.plist
Labels: Tools / Tests

#16265 Intermittent removal of adoptedStyleSheet CSSStyleSheet instances when assigning adoptedStyleSheet array
  JSTests/stress/spread-for-runtime-array.js
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/runtime/CommonSlowPaths.cpp
  Source/JavaScriptCore/runtime/IteratorOperations.cpp
  Source/JavaScriptCore/runtime/JSGenericTypedArrayViewConstructorInlines.h
  Source/JavaScriptCore/runtime/JSGenericTypedArrayViewInlines.h
  Source/JavaScriptCore/runtime/JSGenericTypedArrayViewPrototypeFunctions.h
  Source/JavaScriptCore/tools/JSDollarVM.cpp
  Source/WebCore/bindings/js/JSObservableArray.h
  Source/WebCore/bridge/runtime_array.h
Labels: unsafe-merge-queue, New Bugs

#16003 window.postMessage with OffscreenCanvas is broken with isolated world message listener
  Source/WebCore/bindings/js/JSDOMWrapper.cpp
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
  Source/WebCore/bindings/js/SerializedScriptValue.h
  Source/WebCore/dom/MessageEvent.cpp
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKitCocoa/UserContentWorld.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/postMessage-various-types.html
Labels: WebKit API

#16268 [JSC] Atomize 2-character substrings
  Source/JavaScriptCore/heap/Heap.cpp
  Source/JavaScriptCore/heap/Heap.h
  Source/JavaScriptCore/heap/HeapInlines.h
  Source/JavaScriptCore/runtime/JSString.h
  Source/JavaScriptCore/runtime/JSStringInlines.h
Labels: JavaScriptCore

#16235 Remove the extra string allocation in RemoteLayerTreeDrawingArea::addRootFrame()
  Source/WebCore/platform/ProcessQualified.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDrawingArea.mm
Labels: WebKit Misc.

#16228 [GTK] Check EXT_image_dma_buf_import is available before using EGL_LINUX_DMA_BUF_EXT
  Source/WebKit/WebProcess/WebPage/gtk/AcceleratedSurfaceDMABuf.cpp
Labels: unsafe-merge-queue, WebKitGTK

#16271 Update WebGL conformance tests 2023-08-01 (3e71f3b643f8095babbd46cf4e7d34e4f1ddf7a8)
  LayoutTests/webgl/1.0.x/conformance/extensions/ext-clip-control-expected.txt
  LayoutTests/webgl/1.0.x/conformance/extensions/ext-clip-control.html
  LayoutTests/webgl/1.0.x/conformance/extensions/ext-depth-clamp-expected.txt
  LayoutTests/webgl/1.0.x/conformance/extensions/ext-depth-clamp.html
  LayoutTests/webgl/1.0.x/conformance/extensions/ext-texture-mirror-clamp-to-edge-expected.txt
  LayoutTests/webgl/1.0.x/conformance/extensions/ext-texture-mirror-clamp-to-edge.html
  LayoutTests/webgl/1.0.x/conformance/extensions/webgl-polygon-mode-expected.txt
  LayoutTests/webgl/1.0.x/conformance/extensions/webgl-polygon-mode.html
  LayoutTests/webgl/2.0.y/conformance/extensions/ext-clip-control-expected.txt
  LayoutTests/webgl/2.0.y/conformance/extensions/ext-clip-control.html
  LayoutTests/webgl/2.0.y/conformance/extensions/ext-depth-clamp-expected.txt
  LayoutTests/webgl/2.0.y/conformance/extensions/ext-depth-clamp.html
  LayoutTests/webgl/2.0.y/conformance/extensions/ext-texture-mirror-clamp-to-edge-expected.txt
  LayoutTests/webgl/2.0.y/conformance/extensions/ext-texture-mirror-clamp-to-edge.html
  LayoutTests/webgl/2.0.y/conformance/extensions/webgl-polygon-mode-expected.txt
  LayoutTests/webgl/2.0.y/conformance/extensions/webgl-polygon-mode.html
  LayoutTests/webgl/2.0.y/conformance2/extensions/ext-conservative-depth-expected.txt
  LayoutTests/webgl/2.0.y/conformance2/extensions/ext-conservative-depth.html
  LayoutTests/webgl/2.0.y/conformance2/extensions/ext-render-snorm-expected.txt
  LayoutTests/webgl/2.0.y/conformance2/extensions/ext-render-snorm.html
  LayoutTests/webgl/2.0.y/conformance2/extensions/nv-shader-noperspective-interpolation-expected.txt
  LayoutTests/webgl/2.0.y/conformance2/extensions/nv-shader-noperspective-interpolation.html
  LayoutTests/webgl/2.0.y/conformance2/extensions/oes-sample-variables-expected.txt
  LayoutTests/webgl/2.0.y/conformance2/extensions/oes-sample-variables.html
  LayoutTests/webgl/2.0.y/conformance2/extensions/oes-shader-multisample-interpolation-expected.txt
  LayoutTests/webgl/2.0.y/conformance2/extensions/oes-shader-multisample-interpolation.html
  LayoutTests/webgl/2.0.y/conformance2/extensions/webgl-render-shared-exponent-expected.txt
  LayoutTests/webgl/2.0.y/conformance2/extensions/webgl-render-shared-exponent.html
  LayoutTests/webgl/2.0.y/conformance2/extensions/webgl-shader-pixel-local-storage-expected.txt
  LayoutTests/webgl/2.0.y/conformance2/extensions/webgl-shader-pixel-local-storage.html
  LayoutTests/webgl/2.0.y/conformance2/extensions/webgl-stencil-texturing-expected.txt
  LayoutTests/webgl/2.0.y/conformance2/extensions/webgl-stencil-texturing.html
  LayoutTests/webgl/resources/webgl_test_files/conformance/extensions/ext-clip-control.html
  LayoutTests/webgl/resources/webgl_test_files/conformance/extensions/ext-depth-clamp.html
  LayoutTests/webgl/resources/webgl_test_files/conformance/extensions/ext-disjoint-timer-query.html
  LayoutTests/webgl/resources/webgl_test_files/conformance/extensions/ext-texture-mirror-clamp-to-edge.html
  LayoutTests/webgl/resources/webgl_test_files/conformance/extensions/webgl-polygon-mode.html
  LayoutTests/webgl/resources/webgl_test_files/conformance2/extensions/ext-conservative-depth.html
  LayoutTests/webgl/resources/webgl_test_files/conformance2/extensions/ext-disjoint-timer-query-webgl2.html
  LayoutTests/webgl/resources/webgl_test_files/conformance2/extensions/ext-render-snorm.html
  LayoutTests/webgl/resources/webgl_test_files/conformance2/extensions/nv-shader-noperspective-interpolation.html
  LayoutTests/webgl/resources/webgl_test_files/conformance2/extensions/oes-sample-variables.html
  LayoutTests/webgl/resources/webgl_test_files/conformance2/extensions/oes-shader-multisample-interpolation.html
  LayoutTests/webgl/resources/webgl_test_files/conformance2/extensions/webgl-render-shared-exponent.html
  LayoutTests/webgl/resources/webgl_test_files/conformance2/extensions/webgl-shader-pixel-local-storage.html
  LayoutTests/webgl/resources/webgl_test_files/conformance2/extensions/webgl-stencil-texturing.html
  LayoutTests/webgl/resources/webgl_test_files/deqp/framework/common/tcuTestCase.js
  LayoutTests/webgl/resources/webgl_test_files/js/webgl-test-harness.js
Labels: WebGL

#16267 unionRect(const Vector<LayoutRect>&) behaves incorrectly with empty rects
  Source/WebCore/platform/graphics/LayoutRect.cpp
Labels: Layout and Rendering

#16266 Rename PolicyAction::StopAllLoads to LoadWillContinueInAnotherProcess
  Source/WebCore/loader/DocumentLoader.cpp
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/loader/FrameLoaderTypes.h
  Source/WebCore/loader/PolicyChecker.cpp
  Source/WebCore/loader/PolicyChecker.h
  Source/WebKit/NetworkProcess/NetworkDataTaskBlob.cpp
  Source/WebKit/NetworkProcess/NetworkDataTaskDataURL.cpp
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.mm
  Source/WebKit/NetworkProcess/soup/NetworkDataTaskSoup.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: unsafe-merge-queue, WebKit Process Model

#16277 [CSS Math Functions] Correct mod() evaluation
  LayoutTests/imported/w3c/web-platform-tests/css/css-values/round-mod-rem-computed-expected.txt
  Source/WebCore/platform/calc/CalcOperator.h
Labels: merge-queue, CSS

#16251 Call all completion handlers in RemoteMediaResource
  Source/WebKit/GPUProcess/media/RemoteMediaResource.cpp
Labels: WebKit Misc.

#16284 Remove unnecessary headers including other headers
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.h
  Source/WebKit/NetworkProcess/NetworkLoad.h
  Source/WebKit/NetworkProcess/NetworkLoadChecker.h
  Source/WebKit/NetworkProcess/NetworkLoadClient.h
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
Labels: WebKit Misc.

#16282 setContentFrame() should be moved to the Frame constructor
  Source/WebCore/page/Frame.cpp
  Source/WebCore/page/LocalFrame.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
Labels: WebKit Misc.

#16252 [run-benchmarks] Use `ktrace artrace` for profiling browser benchmarks
  Tools/Scripts/webkitpy/benchmark_runner/benchmark_runner.py
  Tools/Scripts/webkitpy/benchmark_runner/browser_driver/browser_driver.py
  Tools/Scripts/webkitpy/benchmark_runner/browser_driver/osx_browser_driver.py
  Tools/Scripts/webkitpy/benchmark_runner/run_benchmark.py
  Tools/Scripts/webkitpy/benchmark_runner/webserver_benchmark_runner.py
Labels: merge-queue, Tools / Tests

#16242 [Apple Pay] Deprecate `enabled` in favor of `available` in ApplePayShippingContactEditingMode
  LayoutTests/http/tests/paymentrequest/paymentrequest-shippingContactEditingMode.https.html
  Source/WebCore/Modules/applepay/ApplePayShippingContactEditingMode.h
  Source/WebCore/Modules/applepay/ApplePayShippingContactEditingMode.idl
  Source/WebCore/Modules/applepay/PaymentCoordinator.cpp
  Source/WebKit/Shared/ApplePay/PaymentSetupConfiguration.mm
  Source/WebKit/Shared/ApplePay/cocoa/WebPaymentCoordinatorProxyCocoa.mm
Labels: Platform

#16264 Rename RenderObject::absoluteRects() to RenderObject::boundingRects()
  Source/WebCore/accessibility/AccessibilityRenderObject.cpp
  Source/WebCore/html/HTMLAnchorElement.cpp
  Source/WebCore/page/LocalFrameView.cpp
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderBlock.h
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderBox.h
  Source/WebCore/rendering/RenderInline.cpp
  Source/WebCore/rendering/RenderInline.h
  Source/WebCore/rendering/RenderLineBreak.cpp
  Source/WebCore/rendering/RenderLineBreak.h
  Source/WebCore/rendering/RenderObject.cpp
  Source/WebCore/rendering/RenderObject.h
  Source/WebCore/rendering/RenderText.cpp
  Source/WebCore/rendering/RenderText.h
  Source/WebCore/rendering/RenderView.cpp
  Source/WebCore/rendering/RenderView.h
  Source/WebCore/rendering/svg/LegacyRenderSVGModelObject.cpp
  Source/WebCore/rendering/svg/LegacyRenderSVGModelObject.h
  Source/WebCore/rendering/svg/RenderSVGBlock.cpp
  Source/WebCore/rendering/svg/RenderSVGBlock.h
  Source/WebCore/rendering/svg/RenderSVGHiddenContainer.h
  Source/WebCore/rendering/svg/RenderSVGModelObject.cpp
  Source/WebCore/rendering/svg/RenderSVGModelObject.h
  Source/WebCore/rendering/svg/RenderSVGRoot.cpp
  Source/WebCore/rendering/svg/RenderSVGRoot.h
Labels: Layout and Rendering

#16082 ProcessThrottler should use smart pointers instead of raw pointers
  Source/WebKit/UIProcess/ProcessThrottler.cpp
  Source/WebKit/UIProcess/ProcessThrottler.h
Labels: unsafe-merge-queue, WebKit2

#16153 Change compositing policy in response to memory pressure status
  Source/WTF/wtf/MemoryPressureHandler.h
  Source/WebCore/rendering/RenderLayerCompositor.cpp
Labels: Compositing

#16293 [Gardening]: [ macOS WK2 ] fast/mediastream/video-rotation-gpu-process-crash.html is a flaky crash/failure/timeout
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue

#16291 WebKit shouldn't be modifying the value of UIApplication.idleTimerDisabled
  Source/WebCore/PAL/pal/Logging.cpp
  Source/WebCore/PAL/pal/Logging.h
  Source/WebCore/PAL/pal/spi/ios/UIKitSPI.h
  Source/WebCore/PAL/pal/system/ios/SleepDisablerIOS.mm
Labels: merge-queue, WebCore Misc.

#16295 Use WeakPtr in VisitedLinkTableController
  Source/WebKit/WebProcess/WebPage/VisitedLinkTableController.cpp
  Source/WebKit/WebProcess/WebPage/VisitedLinkTableController.h
Labels: unsafe-merge-queue, WebKit2

#16299 Optimize Intersection Observer computations for inlines
  Source/WebCore/page/IntersectionObserver.cpp
Labels: DOM

#16301 Web Inspector: REGRESSION(?): Elements: background of color swatch is not checkered
  Source/WebInspectorUI/UserInterface/Views/DetailsSection.css
  Source/WebInspectorUI/UserInterface/Views/FontVariationDetailsSectionRow.css
  Source/WebInspectorUI/UserInterface/Views/InlineSwatch.css
  Source/WebInspectorUI/UserInterface/Views/SpreadsheetCSSStyleDeclarationEditor.css
Labels: Web Inspector

#16285 SerializedScriptValue could be faster by atomizing strings early in some cases
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
Labels: merge-queue, WebCore JavaScript

#16302 [CSS Math Functions] round() is incorrect when number is a multiple of step
  LayoutTests/imported/w3c/web-platform-tests/css/css-values/round-mod-rem-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-values/round-mod-rem-computed.html
  Source/WebCore/platform/calc/CalcOperator.h
Labels: CSS

#16274 VisibleSelection::nonBoundaryShadowTreeRootNode should return null when its anchor is a shadow root
  LayoutTests/fast/forms/ua-shadow-select-all-behavior-expected.txt
  LayoutTests/fast/forms/ua-shadow-select-all-behavior.html
  LayoutTests/fast/forms/ua-shadow-select-all-crash-expected.txt
  LayoutTests/fast/forms/ua-shadow-select-all-crash.html
  LayoutTests/platform/mac-wk1/TestExpectations
  Source/WebCore/editing/VisibleSelection.cpp
Labels: merge-queue, DOM

#16281 [GTK] The inspector web view should follow the hardware acceleration setting of inspected web view
  Source/WebKit/UIProcess/Inspector/gtk/RemoteWebInspectorUIProxyGtk.cpp
  Source/WebKit/UIProcess/Inspector/gtk/WebInspectorUIProxyGtk.cpp
Labels: unsafe-merge-queue, WebKitGTK

#16273 Remove superfluous updateStyleIfNeeded call
  Source/WebCore/page/LocalFrameView.cpp
Labels: CSS

#16074 We shouldn't free the DFG graph when verboseValiditionFailure is enabled
  Source/JavaScriptCore/ftl/FTLCompile.cpp
Labels: JavaScriptCore

#16275 REGRESSION(263118@main): [GTK] Web inspector does not paint reliably
  Source/WebKit/UIProcess/CoordinatedGraphics/DrawingAreaProxyCoordinatedGraphics.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.h
  Source/WebKit/WebProcess/WebPage/DrawingArea.h
  Source/WebKit/WebProcess/WebPage/DrawingArea.messages.in
Labels: Web Inspector

#16300 LocalFrameView::textFragmentIndicatorTimerFired() should not use RenderFlexibleBox::absoluteTextRects()
  Source/WebCore/page/LocalFrameView.cpp
Labels: DOM

#16315 [ macOS Debug WK2 ] ASSERT call in RenderVTTCue.cpp causing flaky crash (media/modern-media-controls/tracks-support/text-track-selected-via-media-api.html)
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebCore/rendering/RenderVTTCue.cpp
Labels: WebCore Misc.

#16292 Remove redundant FrameIdentifier parameter in decidePolicyForNavigationAction message
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/loader/NavigationRequester.cpp
  Source/WebCore/loader/NavigationRequester.h
  Source/WebKit/Shared/FrameInfoData.h
  Source/WebKit/Shared/FrameInfoData.serialization.in
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/API/APIFrameInfo.cpp
  Source/WebKit/UIProcess/Cocoa/NavigationState.mm
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.h
  Source/WebKit/UIProcess/RemotePageProxy.cpp
  Source/WebKit/UIProcess/RemotePageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebLocalFrameLoaderClient.cpp
Labels: WebKit Misc.

#16304 Remove comment implying we might be able to enable content filtering on tvOS.
  Source/WTF/wtf/PlatformEnableCocoa.h
Labels: WebKit Misc.

#15127 [JSC] Add op_call_ignore_result
  LayoutTests/platform/ios-wk2/fast/dom/focus-dialog-blur-input-type-change-crash-expected.txt
  Source/JavaScriptCore/bytecode/BytecodeList.rb
  Source/JavaScriptCore/bytecode/BytecodeOperandsForCheckpoint.h
  Source/JavaScriptCore/bytecode/BytecodeUseDef.cpp
  Source/JavaScriptCore/bytecode/CallLinkInfo.cpp
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/bytecode/Opcode.h
  Source/JavaScriptCore/bytecode/OpcodeInlines.h
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.h
  Source/JavaScriptCore/bytecompiler/NodesCodegen.cpp
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGGraph.cpp
  Source/JavaScriptCore/dfg/DFGNodeType.h
  Source/JavaScriptCore/dfg/DFGOSRExitCompilerCommon.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/ftl/FTLSlowPathCall.h
  Source/JavaScriptCore/jit/CallFrameShuffler.cpp
  Source/JavaScriptCore/jit/JIT.cpp
  Source/JavaScriptCore/jit/JIT.h
  Source/JavaScriptCore/jit/JITCall.cpp
  Source/JavaScriptCore/llint/LLIntOpcode.h
  Source/JavaScriptCore/llint/LLIntThunks.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter.asm
  Source/JavaScriptCore/llint/LowLevelInterpreter.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter32_64.asm
  Source/JavaScriptCore/llint/LowLevelInterpreter64.asm
  Source/JavaScriptCore/runtime/FileBasedFuzzerAgent.cpp
  Source/JavaScriptCore/runtime/Gate.h
  Source/JavaScriptCore/runtime/PredictionFileCreatingFuzzerAgent.cpp
Labels: JavaScriptCore

#16175 Add logging when SQLite transaction fails to start
  Source/WebCore/Modules/indexeddb/server/SQLiteIDBBackingStore.cpp
  Source/WebCore/platform/sql/SQLiteDatabase.cpp
  Source/WebCore/platform/sql/SQLiteDatabase.h
  Source/WebCore/platform/sql/SQLiteTransaction.cpp
Labels: Website Storage

#16323 [Gardening]: REGRESSION(265091@main): [ macOS ] http/tests/images/heic-as-heif.html is a flaky image failure
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue

#16317 [GTK][WPE] API test WebKitWebsiteData/appcache consistently passing
  Tools/TestWebKitAPI/glib/TestExpectations.json
Labels: merge-queue

#16318 Remove ENABLE_CONTENT_FILTERING_IN_NETWORKING_PROCESS
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebCore/loader/ContentFilter.cpp
  Source/WebCore/loader/ContentFilter.h
  Source/WebCore/loader/DocumentLoader.cpp
  Source/WebCore/loader/DocumentLoader.h
  Source/WebCore/platform/ContentFilterUnblockHandler.h
  Source/WebCore/platform/cocoa/ContentFilterUnblockHandlerCocoa.mm
  Source/WebCore/platform/cocoa/NetworkExtensionContentFilter.h
  Source/WebCore/platform/cocoa/NetworkExtensionContentFilter.mm
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.h
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.messages.in
  Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp
  Source/WebKit/NetworkProcess/NetworkResourceLoader.h
  Source/WebKit/NetworkProcess/ServiceWorker/ServiceWorkerFetchTask.cpp
  Source/WebKit/NetworkProcess/cocoa/NetworkProcessCocoa.mm
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.Networking.sb.in
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/Shared/Cocoa/LoadParametersCocoa.mm
  Source/WebKit/Shared/Cocoa/WebCoreArgumentCodersCocoa.serialization.in
  Source/WebKit/Shared/LoadParameters.h
  Source/WebKit/Shared/WebCoreArgumentCoders.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/WebProcess/Network/WebMockContentFilterManager.cpp
  Source/WebKit/WebProcess/Network/WebResourceLoader.cpp
  Source/WebKit/WebProcess/Network/WebResourceLoader.h
  Source/WebKit/WebProcess/Network/WebResourceLoader.messages.in
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
  Source/WebKit/WebProcess/WebProcess.cpp
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ContentFiltering.mm
Labels: WebKit Misc.

#15839 [git-webkit] no-issue should disable radar CC
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/pull_request_unittest.py
Labels: Tools / Tests, skip-ews

#15955 [prepare-commit-msg] Automatically de-duplicate cherry-pick messages
  Tools/Scripts/hooks/prepare-commit-msg
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/cherry_pick.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/cherry_pick_unittest.py
Labels: Tools / Tests, skip-ews

#16326 Use sendWithAsyncReply for navigation policy decisions
  Source/WebKit/Shared/PolicyDecision.h
  Source/WebKit/Shared/PolicyDecision.serialization.in
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.h
  Source/WebKit/UIProcess/RemotePageProxy.cpp
  Source/WebKit/UIProcess/RemotePageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebLocalFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
Labels: WebKit Process Model

#16329 Remove unnecessary headers including other headers
  Source/WebCore/platform/SleepDisablerIdentifier.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxyInternals.h
  Source/WebKit/UIProcess/mac/WKQuickLookPreviewController.mm
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundlePage.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/glib/WebKitWebEditor.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/glib/WebKitWebPage.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/mac/WKWebProcessPlugInBrowserContextController.mm
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebEditorClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebLocalFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebProgressTrackerClient.cpp
  Source/WebKit/WebProcess/WebPage/WebContextMenu.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/mac/WebPageMac.mm
Labels: WebKit Misc.

#16335 REGRESSION(256795@main): Fix typo on LD_LIBRARY_PATH variable name
  Tools/Scripts/webkitpy/port/glib.py
Labels: unsafe-merge-queue, Tools / Tests

#16334 Unreviewed, relanding 266466@main
  Source/JavaScriptCore/heap/Heap.cpp
  Source/JavaScriptCore/heap/Heap.h
  Source/JavaScriptCore/heap/HeapInlines.h
  Source/JavaScriptCore/runtime/JSString.h
  Source/JavaScriptCore/runtime/JSStringInlines.h
Labels: JavaScriptCore

#16211 Generate serialization for LayerProperties
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.cpp
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.h
  Source/WebKit/Scripts/webkit/tests/SerializedTypeInfo.cpp
  Source/WebKit/Scripts/webkit/tests/TestSerializedType.serialization.in
  Source/WebKit/Scripts/webkit/tests/WebKitPlatformGeneratedSerializers.cpp
  Source/WebKit/Shared/RemoteLayerTree/LayerProperties.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStoreCollection.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTree.serialization.in
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreePropertyApplier.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreeTransaction.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemote.mm
Labels: WebKit Misc.

#16305 WebGLRenderingContext classes have unused constructors
  Source/WebCore/html/canvas/WebGL2RenderingContext.cpp
  Source/WebCore/html/canvas/WebGL2RenderingContext.h
  Source/WebCore/html/canvas/WebGLRenderingContext.cpp
  Source/WebCore/html/canvas/WebGLRenderingContext.h
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
Labels: WebGL

#16339 [JSC] Use libpas' zeroed-allocation for zero-filling typed array allocations
  Source/JavaScriptCore/runtime/ArrayBuffer.cpp
  Source/JavaScriptCore/runtime/JSArrayBufferView.cpp
  Source/WTF/wtf/FastMalloc.cpp
  Source/WTF/wtf/Gigacage.cpp
  Source/WTF/wtf/Gigacage.h
  Source/bmalloc/bmalloc/bmalloc.h
Labels: JavaScriptCore

#16328 Unreviewed, relanding 266519@main
  LayoutTests/platform/ios-wk2/fast/dom/focus-dialog-blur-input-type-change-crash-expected.txt
  Source/JavaScriptCore/bytecode/BytecodeList.rb
  Source/JavaScriptCore/bytecode/BytecodeOperandsForCheckpoint.h
  Source/JavaScriptCore/bytecode/BytecodeUseDef.cpp
  Source/JavaScriptCore/bytecode/CallLinkInfo.cpp
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/bytecode/Opcode.h
  Source/JavaScriptCore/bytecode/OpcodeInlines.h
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.h
  Source/JavaScriptCore/bytecompiler/NodesCodegen.cpp
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGGraph.cpp
  Source/JavaScriptCore/dfg/DFGNodeType.h
  Source/JavaScriptCore/dfg/DFGOSRExitCompilerCommon.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/ftl/FTLSlowPathCall.h
  Source/JavaScriptCore/jit/CallFrameShuffler.cpp
  Source/JavaScriptCore/jit/JIT.cpp
  Source/JavaScriptCore/jit/JIT.h
  Source/JavaScriptCore/jit/JITCall.cpp
  Source/JavaScriptCore/llint/LLIntOpcode.h
  Source/JavaScriptCore/llint/LLIntThunks.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter.asm
  Source/JavaScriptCore/llint/LowLevelInterpreter.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter32_64.asm
  Source/JavaScriptCore/llint/LowLevelInterpreter64.asm
  Source/JavaScriptCore/runtime/FileBasedFuzzerAgent.cpp
  Source/JavaScriptCore/runtime/Gate.h
  Source/JavaScriptCore/runtime/PredictionFileCreatingFuzzerAgent.cpp
Labels: JavaScriptCore

#16322 [JSC] Use call_ignore_result when calling internal functions
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.h
  Source/JavaScriptCore/bytecompiler/NodesCodegen.cpp
Labels: JavaScriptCore

#16310 Fails to build with GCC 13 due to overloaded-virtual error in FilterEffect
  Source/WebCore/platform/graphics/filters/FELighting.h
Labels: merge-queue, Platform

#16337 [Cocoa] Add logging for Element Fullscreen path inside WebKit
  Source/WebKit/UIProcess/WebFullScreenManagerProxy.cpp
  Source/WebKit/UIProcess/WebFullScreenManagerProxy.h
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.cpp
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Labels: merge-queue, Media

#15959 Merge GraphicsContextState::m_dropShadow with ::m_style
  Source/WebCore/html/canvas/CanvasRenderingContext2DBase.cpp
  Source/WebCore/platform/DictationCaretAnimator.cpp
  Source/WebCore/platform/graphics/DrawGlyphsRecorder.h
  Source/WebCore/platform/graphics/GraphicsContext.cpp
  Source/WebCore/platform/graphics/GraphicsContext.h
  Source/WebCore/platform/graphics/GraphicsContextState.cpp
  Source/WebCore/platform/graphics/GraphicsContextState.h
  Source/WebCore/platform/graphics/GraphicsStyle.cpp
  Source/WebCore/platform/graphics/GraphicsStyle.h
  Source/WebCore/platform/graphics/GraphicsTypes.cpp
  Source/WebCore/platform/graphics/GraphicsTypes.h
  Source/WebCore/platform/graphics/ShadowBlur.cpp
  Source/WebCore/platform/graphics/ShadowBlur.h
  Source/WebCore/platform/graphics/cairo/CairoOperations.cpp
  Source/WebCore/platform/graphics/cairo/CairoOperations.h
  Source/WebCore/platform/graphics/cairo/FontCairo.cpp
  Source/WebCore/platform/graphics/cairo/GraphicsContextCairo.cpp
  Source/WebCore/platform/graphics/cg/GraphicsContextCG.cpp
  Source/WebCore/platform/graphics/cg/GraphicsContextCG.h
  Source/WebCore/platform/graphics/coretext/DrawGlyphsRecorderCoreText.cpp
  Source/WebCore/platform/graphics/coretext/FontCascadeCoreText.cpp
  Source/WebCore/platform/graphics/filters/FEDropShadow.cpp
  Source/WebCore/platform/graphics/nicosia/cairo/NicosiaCairoOperationRecorder.cpp
  Source/WebCore/rendering/TextDecorationPainter.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/WebProcess/WebPage/FindController.cpp
  Source/WebKit/WebProcess/WebPage/WebFoundTextRangeController.cpp
Labels: CSS

#16283 [WGSL] UAF in GlobalVariableRewriter
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
Labels: merge-queue, WebGPU

#16280 [WGSL] UAF in the StringTypeAdapter for Type
  Source/WebGPU/WGSL/Types.h
Labels: WebGPU

#16353 [visionOS] Crash when entering fullscreen on vimeo.com
  Source/WebCore/platform/ios/WebAVPlayerController.h
  Source/WebCore/platform/ios/WebAVPlayerController.mm
Labels: Media

#16354 visionOS build broken after 266533@main
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.cpp
  Source/WebKit/Shared/RemoteLayerTree/LayerProperties.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTree.serialization.in
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreePropertyApplier.mm
Labels: WebKit Misc.

#16131 [iOS 17] Build on the public SDK
  Source/WTF/wtf/PlatformHave.h
  Source/WebKit/NetworkProcess/cocoa/AppStoreDaemonSPI.h
  Tools/Scripts/configure-xcode-for-embedded-development
  Tools/Scripts/extract-tbds-from-internal-sdk
  Tools/Scripts/strip-tbd
  Tools/WebKitTestRunner/Configurations/Base.xcconfig
  WebKitLibraries/SDKs/iphoneos17.0-additions.sdk/SDKSettings.plist
  WebKitLibraries/SDKs/iphoneos17.0-additions.sdk/System/Library/PrivateFrameworks/AppServerSupport.framework/AppServerSupport.tbd
  WebKitLibraries/SDKs/iphoneos17.0-additions.sdk/System/Library/PrivateFrameworks/AppStoreDaemon.framework/AppStoreDaemon.tbd
  WebKitLibraries/SDKs/iphoneos17.0-additions.sdk/System/Library/PrivateFrameworks/AppSupport.framework/AppSupport.tbd
  WebKitLibraries/SDKs/iphoneos17.0-additions.sdk/System/Library/PrivateFrameworks/ApplePushService.framework/ApplePushService.tbd
  WebKitLibraries/SDKs/iphoneos17.0-additions.sdk/System/Library/PrivateFrameworks/AuthKit.framework/AuthKit.tbd
  WebKitLibraries/SDKs/iphoneos17.0-additions.sdk/System/Library/PrivateFrameworks/BackBoardServices.framework/BackBoardServices.tbd
  WebKitLibraries/SDKs/iphoneos17.0-additions.sdk/System/Library/PrivateFrameworks/CorePrediction.framework/CorePrediction.tbd
  WebKitLibraries/SDKs/iphoneos17.0-additions.sdk/System/Library/PrivateFrameworks/FontServices.framework/libFontParser.tbd
  WebKitLibraries/SDKs/iphoneos17.0-additions.sdk/System/Library/PrivateFrameworks/FrontBoardServices.framework/FrontBoardServices.tbd
  WebKitLibraries/SDKs/iphoneos17.0-additions.sdk/System/Library/PrivateFrameworks/GraphicsServices.framework/GraphicsServices.tbd
  WebKitLibraries/SDKs/iphoneos17.0-additions.sdk/System/Library/PrivateFrameworks/IOSurfaceAccelerator.framework/IOSurfaceAccelerator.tbd
  WebKitLibraries/SDKs/iphoneos17.0-additions.sdk/System/Library/PrivateFrameworks/InstallCoordination.framework/InstallCoordination.tbd
  WebKitLibraries/SDKs/iphoneos17.0-additions.sdk/System/Library/PrivateFrameworks/PrototypeTools.framework/PrototypeTools.tbd
  WebKitLibraries/SDKs/iphoneos17.0-additions.sdk/System/Library/PrivateFrameworks/RunningBoardServices.framework/RunningBoardServices.tbd
  WebKitLibraries/SDKs/iphoneos17.0-additions.sdk/System/Library/PrivateFrameworks/SafariSafeBrowsing.framework/SafariSafeBrowsing.tbd
  WebKitLibraries/SDKs/iphoneos17.0-additions.sdk/System/Library/PrivateFrameworks/URLFormatting.framework/URLFormatting.tbd
  WebKitLibraries/SDKs/iphoneos17.0-additions.sdk/System/Library/PrivateFrameworks/VisionKitCore.framework/VisionKitCore.tbd
  WebKitLibraries/SDKs/iphoneos17.0-additions.sdk/usr/local/include/AvailabilityProhibitedInternal.h
  WebKitLibraries/SDKs/iphonesimulator17.0-additions.sdk/SDKSettings.plist
  WebKitLibraries/SDKs/iphonesimulator17.0-additions.sdk/System/Library/PrivateFrameworks/AppServerSupport.framework/AppServerSupport.tbd
  WebKitLibraries/SDKs/iphonesimulator17.0-additions.sdk/System/Library/PrivateFrameworks/AppStoreDaemon.framework/AppStoreDaemon.tbd
  WebKitLibraries/SDKs/iphonesimulator17.0-additions.sdk/System/Library/PrivateFrameworks/AppSupport.framework/AppSupport.tbd
  WebKitLibraries/SDKs/iphonesimulator17.0-additions.sdk/System/Library/PrivateFrameworks/ApplePushService.framework/ApplePushService.tbd
  WebKitLibraries/SDKs/iphonesimulator17.0-additions.sdk/System/Library/PrivateFrameworks/AuthKit.framework/AuthKit.tbd
  WebKitLibraries/SDKs/iphonesimulator17.0-additions.sdk/System/Library/PrivateFrameworks/BackBoardServices.framework/BackBoardServices.tbd
  WebKitLibraries/SDKs/iphonesimulator17.0-additions.sdk/System/Library/PrivateFrameworks/CorePrediction.framework/CorePrediction.tbd
  WebKitLibraries/SDKs/iphonesimulator17.0-additions.sdk/System/Library/PrivateFrameworks/FontServices.framework/FontServices.tbd
  WebKitLibraries/SDKs/iphonesimulator17.0-additions.sdk/System/Library/PrivateFrameworks/FontServices.framework/libFontParser.tbd
  WebKitLibraries/SDKs/iphonesimulator17.0-additions.sdk/System/Library/PrivateFrameworks/FrontBoardServices.framework/FrontBoardServices.tbd
  WebKitLibraries/SDKs/iphonesimulator17.0-additions.sdk/System/Library/PrivateFrameworks/GraphicsServices.framework/GraphicsServices.tbd
  WebKitLibraries/SDKs/iphonesimulator17.0-additions.sdk/System/Library/PrivateFrameworks/InstallCoordination.framework/InstallCoordination.tbd
  WebKitLibraries/SDKs/iphonesimulator17.0-additions.sdk/System/Library/PrivateFrameworks/PrototypeTools.framework/PrototypeTools.tbd
  WebKitLibraries/SDKs/iphonesimulator17.0-additions.sdk/System/Library/PrivateFrameworks/RunningBoardServices.framework/RunningBoardServices.tbd
  WebKitLibraries/SDKs/iphonesimulator17.0-additions.sdk/System/Library/PrivateFrameworks/SafariSafeBrowsing.framework/SafariSafeBrowsing.tbd
  WebKitLibraries/SDKs/iphonesimulator17.0-additions.sdk/System/Library/PrivateFrameworks/URLFormatting.framework/URLFormatting.tbd
  WebKitLibraries/SDKs/iphonesimulator17.0-additions.sdk/System/Library/PrivateFrameworks/VisionKitCore.framework/VisionKitCore.tbd
  WebKitLibraries/SDKs/iphonesimulator17.0-additions.sdk/usr/local/include/AvailabilityProhibitedInternal.h
Labels: merge-queue, Tools / Tests

#16340 CSS Custom Highlights WPT painting 008 fail due to not initializing SetLike before removal
  LayoutTests/TestExpectations
  Source/WebCore/Modules/highlight/Highlight.idl
  Source/WebCore/bindings/js/JSDOMSetLike.h
Labels: merge-queue

#16357 Restore exact BitsInIncreasingOrder check in generated serializers
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.cpp
  Source/WebKit/Shared/RemoteLayerTree/LayerProperties.h
Labels: unsafe-merge-queue, WebKit Misc.

#16347 Migrate from TARGET_OS_XR to TARGET_OS_VISION
  Source/WTF/wtf/PlatformLegacy.h
  Source/WTF/wtf/PlatformOS.h
Labels: merge-queue, WebKit Misc.

#16325 Move function definitions in StorageUtilities.h to StorageUtilities.cpp
  Source/WebCore/Headers.cmake
  Source/WebCore/Sources.txt
  Source/WebCore/storage/Storage.idl
  Source/WebCore/storage/StorageUtilities.cpp
  Source/WebCore/storage/StorageUtilities.h
  Source/WebKit/NetworkProcess/storage/CacheStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/StorageUtilities.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: merge-queue, Website Storage

#16369 [ews] Add more logging to upload-file-to-url
  Tools/Scripts/upload-file-to-url
Labels: unsafe-merge-queue, Tools / Tests

#16370 REGRESSION (265825@main): Safari CPU usage in SurferJoannaProxy increased by 5.8%
  Source/WebCore/PAL/pal/spi/cocoa/QuartzCoreSPI.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
Labels: unsafe-merge-queue, WebKit Process Model

#16336 WebKit Media: Toggling fullscreen fails to work
  Source/WebKit/UIProcess/API/mac/WKView.mm
  Source/WebKit/UIProcess/API/mac/WKWebViewMac.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
Labels: Media

#16219 Compute the correct overflow-x and overflow-y values for table elements
  LayoutTests/fast/table/overflowScroll-display-block-expected.html
  LayoutTests/fast/table/overflowScroll-display-block.html
  LayoutTests/fast/table/overflowScroll-expected.html
  LayoutTests/fast/table/overflowScroll.html
  LayoutTests/fast/table/table-different-overflow-values-2-expected.txt
  LayoutTests/fast/table/table-different-overflow-values-2.html
  LayoutTests/fast/table/table-different-overflow-values-expected.txt
  LayoutTests/fast/table/table-different-overflow-values.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/overflow/computed-value-001-expected.txt
  Source/WebCore/style/StyleAdjuster.cpp
Labels: Layout and Rendering

#16374 Revert (266074@main): Arbitrary cookie access via NetworkConnectionToWebProcess::cookiesForDOM
  Source/WebCore/loader/PingLoader.cpp
  Source/WebCore/loader/cache/CachedResourceLoader.cpp
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/Shared/AuxiliaryProcess.cpp
  Source/WebKit/Shared/AuxiliaryProcess.h
  Source/WebKit/WebProcess/Network/WebLoaderStrategy.cpp
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
  Source/WebKit/WebProcess/Plugins/PluginView.cpp
  Source/WebKit/WebProcess/WebProcess.cpp
Labels: WebKit Process Model

#16368 Add memory warning simulation to the MemoryPressureHandler
  LayoutTests/memory/memory-warning-simulation-expected.txt
  LayoutTests/memory/memory-warning-simulation.html
  Source/WTF/wtf/MemoryPressureHandler.cpp
  Source/WTF/wtf/MemoryPressureHandler.h
  Source/WTF/wtf/cocoa/MemoryPressureHandlerCocoa.mm
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
Labels: Tools / Tests

#16365 [watchOS] Turning on lockdown mode should not cause certain web fonts to be enabled
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/LockdownModeFonts.mm
Labels: merge-queue, Text

#16360 Path::applyElements() should not trigger creation of a platform path for simple segments
  Source/WebCore/platform/graphics/Path.cpp
  Source/WebCore/platform/graphics/PathImpl.h
  Source/WebCore/platform/graphics/PathSegment.cpp
  Source/WebCore/platform/graphics/PathSegment.h
  Source/WebCore/platform/graphics/PathSegmentData.h
  Source/WebCore/platform/graphics/PathStream.cpp
  Source/WebCore/platform/graphics/PathStream.h
  Source/WebCore/platform/graphics/cairo/PathCairo.cpp
  Source/WebCore/platform/graphics/cairo/PathCairo.h
  Source/WebCore/platform/graphics/cg/PathCG.cpp
  Source/WebCore/platform/graphics/cg/PathCG.h
Labels: merge-queue, Layout and Rendering

#16351 [visionOS] WebGL content is empty in private browsing
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
Labels: WebGL

#16378 [JSC] Use probe instead of debugCall for speculation failure dump
  Source/JavaScriptCore/dfg/DFGOSRExit.cpp
  Source/JavaScriptCore/dfg/DFGOSRExit.h
  Source/JavaScriptCore/ftl/FTLOSRExitCompiler.cpp
  Source/JavaScriptCore/jit/AssemblyHelpers.cpp
  Source/JavaScriptCore/jit/AssemblyHelpers.h
Labels: JavaScriptCore

#16367 PaymentSetupConfiguration.mm is duplicated under WebKit/Shared/ApplePay/
  Source/WebKit/Shared/ApplePay/cocoa/PaymentSetupConfiguration.mm
  Source/WebKit/Shared/ApplePay/cocoa/PaymentSetupConfigurationCocoa.mm
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: Platform

#16345 update-angle fails when due to program version id update when upstream files are renamed
  Source/ThirdParty/ANGLE/ANGLE.xcodeproj/project.pbxproj
  Source/ThirdParty/ANGLE/CMakeLists.txt
  Source/ThirdParty/ANGLE/Configurations/ANGLE-dynamic.xcconfig
  Source/ThirdParty/ANGLE/WebKit/ANGLEShaderProgramVersion.h
  Source/ThirdParty/ANGLE/WebKit/angle_commit.h
  Source/ThirdParty/ANGLE/src/angle_code_affecting_program_serialize.xcfilelist
  Source/ThirdParty/ANGLE/src/angle_commit.h
  Source/ThirdParty/ANGLE/src/common/ANGLEShaderProgramVersion.h
  Tools/Scripts/update-angle
Labels: ANGLE

#16385 Unreviewed, revert test262 expectations for now
  JSTests/test262/config.yaml
  JSTests/test262/expectations.yaml
Labels: JavaScriptCore

#16387 REGRESSION(266544@main): Broke linux clang builds
  Source/WebCore/platform/graphics/cairo/GraphicsContextCairo.cpp
Labels: unsafe-merge-queue, WebKitGTK, skip-ews

#16388 REGRESSION(264514@main): [WPE] Lot of crashes when running layout tests on machines without a GPU
  Tools/buildstream/elements/freedesktop-sdk.bst
  Tools/buildstream/patches/fdo-0001-mesa-Bump-to-23.1.5.patch
Labels: WPE WebKit

#16332 [git-webkit] Avoid hardcoding working tree path in hooks
  Tools/Scripts/hooks/pre-commit
  Tools/Scripts/hooks/pre-push
  Tools/Scripts/hooks/prepare-commit-msg
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/install_hooks.py
Labels: Tools / Tests

#16389 [GTK] clang warning fix for DrawingAreaCoordinatedGraphics
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.h
Labels: merge-queue, WebKitGTK

#16312 WebGLRenderingContexts should initialize all context state in initializeNewContext()
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
  Source/WebCore/platform/graphics/GraphicsContextGL.h
  Source/WebCore/platform/graphics/angle/GraphicsContextGLANGLE.cpp
  Source/WebCore/platform/graphics/angle/GraphicsContextGLANGLE.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxy.h
Labels: merge-queue, WebGL

#16341 [Buildstream SDK] Include a couple more GStreamer patches from 1.22 branch
  Tools/buildstream/elements/freedesktop-sdk.bst
  Tools/buildstream/patches/fdo-0001-gst-plugins-base-Vendor-patches-scheduled-for-1.22.6.patch
Labels: Tools / Tests

#16380 InputDevice capabilities are not required until capture is active
  Source/WebKit/UIProcess/UserMediaPermissionRequestManagerProxy.cpp
Labels: WebRTC

#16331 [import-w3c-tests] Be stricter about argument parsing
  Tools/Scripts/webkitpy/w3c/test_importer.py
  Tools/Scripts/webkitpy/w3c/test_importer_unittest.py
Labels: Tools / Tests

#16348 [import-w3c-tests] Preserve variant expectations on import
  Tools/Scripts/webkitpy/w3c/test_importer.py
  Tools/Scripts/webkitpy/w3c/test_importer_unittest.py
Labels: Tools / Tests

#15978 [Gstreamer][WebRTC] webrtc/video-disabled-black.html fails
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/GStreamerMediaStreamSource.cpp
Labels: Platform

#16377 [JSC] Array#splice should skip result array creation if it is not used at all
  JSTests/stress/array-split-ignore-result.js
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGClobberize.h
  Source/JavaScriptCore/dfg/DFGDoesGC.cpp
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGNode.h
  Source/JavaScriptCore/dfg/DFGNodeType.h
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/dfg/DFGOperations.h
  Source/JavaScriptCore/dfg/DFGPredictionPropagationPhase.cpp
  Source/JavaScriptCore/dfg/DFGSafeToExecute.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT32_64.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/ftl/FTLCapabilities.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/runtime/ArrayPrototype.cpp
  Source/JavaScriptCore/runtime/ArrayPrototypeInlines.h
  Source/JavaScriptCore/runtime/Intrinsic.h
Labels: JavaScriptCore

#16376 Make web process run at foreground priority during initialization on macOS
  Source/WebKit/UIProcess/WebProcessPool.cpp
Labels: merge-queue, WebKit Process Model

#15954 Add support for `make LIBFUZZER=YES`
  Makefile.shared
Labels: Tools / Tests

#16375 Regression: NetworkDataTask's ThreadSafeWeakPtrControlBlock are leaking
  Source/WTF/wtf/ThreadSafeWeakHashSet.h
  Source/WTF/wtf/WeakHashMap.h
  Source/WTF/wtf/WeakHashSet.h
  Source/WTF/wtf/WeakListHashSet.h
  Source/WebKit/NetworkProcess/NetworkDataTask.cpp
  Source/WebKit/NetworkProcess/NetworkDataTaskBlob.cpp
  Source/WebKit/NetworkProcess/NetworkDataTaskDataURL.cpp
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/NetworkSession.h
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
  Source/WebKit/NetworkProcess/curl/NetworkDataTaskCurl.cpp
  Source/WebKit/NetworkProcess/soup/NetworkDataTaskSoup.cpp
  Tools/TestWebKitAPI/Tests/WTF/WeakPtr.cpp
Labels: merge-queue, WebKit2

#16330 [import-w3c-tests] Normalize test_paths sooner
  LayoutTests/imported/w3c/resources/import-expectations.json
  Tools/Scripts/webkitpy/common/system/filesystem_mock.py
  Tools/Scripts/webkitpy/common/system/filesystem_mock_unittest.py
  Tools/Scripts/webkitpy/w3c/test_downloader.py
  Tools/Scripts/webkitpy/w3c/test_importer.py
  Tools/Scripts/webkitpy/w3c/test_importer_unittest.py
Labels: Tools / Tests

#16247 [GTK] Implement the Ed25519 algorithm
  LayoutTests/platform/glib/TestExpectations
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/PAL/pal/crypto/tasn1/Utilities.cpp
  Source/WebCore/PAL/pal/crypto/tasn1/WebCrypto.asn
  Source/WebCore/crypto/algorithms/CryptoAlgorithmEd25519.cpp
  Source/WebCore/crypto/gcrypt/CryptoAlgorithmEd25519GCrypt.cpp
  Source/WebCore/crypto/gcrypt/CryptoAlgorithmRegistryGCrypt.cpp
  Source/WebCore/crypto/gcrypt/CryptoKeyOKPGCrypt.cpp
  Source/WebCore/crypto/gcrypt/GCryptUtilities.h
  Source/WebCore/crypto/keys/CryptoKeyOKP.cpp
  Source/WebCore/platform/SourcesGCrypt.txt
Labels: WebCore Misc.

#16297 Use thread safe weak pointers in RemoteMediaResourceManager
  Source/WebCore/platform/graphics/PlatformMediaResourceLoader.h
  Source/WebKit/GPUProcess/media/RemoteMediaResourceManager.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaResourceManager.h
Labels: Media

#16362 CSS Custom Highlights optimization for collecting markedText
  Source/WebCore/rendering/MarkedText.cpp
Labels: merge-queue

#16321 Dropping frames on visionOS while scrolling due to number of glow layers on some websites
  LayoutTests/interaction-region/interaction-layers-culling-expected.txt
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.cpp
  Source/WebCore/platform/graphics/ca/PlatformCALayer.h
  Source/WebCore/platform/graphics/ca/cocoa/PlatformCALayerCocoa.h
  Source/WebCore/platform/graphics/ca/cocoa/PlatformCALayerCocoa.mm
  Source/WebKit/Shared/RemoteLayerTree/LayerProperties.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTree.serialization.in
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreePropertyApplier.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreeTransaction.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeInteractionRegionLayers.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeNode.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemote.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemote.mm
Labels: merge-queue, Layout and Rendering

#16407 Only call CGImage restricting APIs once per process
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Labels: unsafe-merge-queue, WebKit Misc.

#16405 Move top-level Shared WebExtension files to Shared/Extensions.
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Shared/Extensions/WebExtensionContextIdentifier.h
  Source/WebKit/Shared/Extensions/WebExtensionContextParameters.h
  Source/WebKit/Shared/Extensions/WebExtensionContextParameters.serialization.in
  Source/WebKit/Shared/Extensions/WebExtensionControllerIdentifier.h
  Source/WebKit/Shared/Extensions/WebExtensionControllerParameters.h
  Source/WebKit/Shared/Extensions/WebExtensionControllerParameters.serialization.in
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: unsafe-merge-queue, WebKit Extensions

#16410 Media: Update fullscreen controls for 1360 PPM
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
Labels: unsafe-merge-queue, Media

#16397 Better handling of NetworkLoad lifecycle inside willPerformHTTPRedirection
  LayoutTests/http/tests/security/resources/network-load-sw.js
  LayoutTests/http/tests/security/resources/network-load-swasdf.py
  LayoutTests/http/tests/security/resources/network-load.js
  LayoutTests/http/tests/security/service-worker-network-load-expected.txt
  LayoutTests/http/tests/security/service-worker-network-load.html
  LayoutTests/platform/mac-wk1/TestExpectations
  Source/WebKit/NetworkProcess/NetworkLoad.cpp
Labels: Page Loading

#16412 Don't use atomic operations when determining whether to call CGImageSourceDisableHardwareDecoding or CGImageSourceEnableRestrictedDecoding
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Labels: unsafe-merge-queue, WebKit Misc.

#16406 CSS Custom Highlights add WPT painting-prioritization
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/painting/custom-highlight-painting-prioritization-003-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/painting/custom-highlight-painting-prioritization-003-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/painting/custom-highlight-painting-prioritization-003.html
Labels: merge-queue

#16358 Minor optimizations to SerializedScriptValue
  LayoutTests/fast/storage/serialized-script-value.html
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
Labels: WebCore Misc.

#16404 [Cocoa] memorialpress.com: Video not playing in iOS 17
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.mm
  Source/WebCore/platform/graphics/avfoundation/objc/AVAssetMIMETypeCache.mm
Labels: Media

#16421 REGRESSION(266606@main): Broke GTK and WPE builds
  Source/WebKit/PlatformGTK.cmake
  Source/WebKit/PlatformWPE.cmake
Labels: unsafe-merge-queue, WebKitGTK, skip-ews

#16356 Remove unnecessary includes from WebPage.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebColorChooser.h
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/cocoa/TextTrackRepresentationCocoa.mm
Labels: WebKit Misc.

#16422 Send PolicyAction::LoadWillContinueInAnotherProcess if the frame process is changing
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: WebKit Process Model

#16424 REGRESSION(266606@main): MessageArgumentDescriptions.cpp: Cannot open include file: 'WebExtensionContextIdentifier.h'
  Source/WebKit/CMakeLists.txt
Labels: WebKit Extensions

#16423 Remove redundant redirectResponse information in navigation action message
  Source/WebKit/Shared/NavigationActionData.h
  Source/WebKit/Shared/NavigationActionData.serialization.in
  Source/WebKit/UIProcess/API/APINavigation.h
  Source/WebKit/UIProcess/API/APINavigationAction.h
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebLocalFrameLoaderClient.cpp
Labels: WebKit Process Model

#16417 Integrate requestIdleCallback with HTML5 event loop and OpportunisticTaskScheduler
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/requestidlecallback/callback-idle-periods-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/requestidlecallback/callback-multiple-calls-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/requestidlecallback/callback-xhr-sync-expected.txt
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/requestidlecallback/requestidlecallback-in-page-cache-expected.txt
  LayoutTests/requestidlecallback/requestidlecallback-in-page-cache.html
  LayoutTests/requestidlecallback/requestidlecallback-is-called-expected.txt
  LayoutTests/requestidlecallback/requestidlecallback-is-called.html
  LayoutTests/requestidlecallback/requestidlecallback-is-not-called-when-canceled-expected.txt
  LayoutTests/requestidlecallback/requestidlecallback-is-not-called-when-canceled.html
  Source/WebCore/dom/EventLoop.h
  Source/WebCore/dom/IdleCallbackController.cpp
  Source/WebCore/dom/IdleCallbackController.h
  Source/WebCore/dom/Microtasks.h
  Source/WebCore/dom/WindowEventLoop.cpp
  Source/WebCore/dom/WindowEventLoop.h
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
Labels: DOM

#16427 Unreviewed, test262 ICU update gardening
  JSTests/test262/config.yaml
  JSTests/test262/expectations.yaml
Labels: JavaScriptCore

#16428 Unreviewed, update test262 intl baseline part 2
  JSTests/test262/config.yaml
Labels: JavaScriptCore

#16401 Minor Layout and Compositing logging improvements
  Source/WebCore/page/LocalFrameViewLayoutContext.cpp
  Source/WebCore/rendering/RenderLayer.cpp
Labels: Layout and Rendering

#16430 Replace DOMTimer's boolean oneShot argument with an enum class for clarity
  Source/WebCore/dom/AbortSignal.cpp
  Source/WebCore/page/DOMTimer.cpp
  Source/WebCore/page/DOMTimer.h
  Source/WebCore/page/LocalDOMWindow.cpp
  Source/WebCore/workers/WorkerGlobalScope.cpp
Labels: DOM

#16028 Avoid going back to the GPU process for canvas ImageData when possible
  LayoutTests/fast/canvas/canvas-ImageData-cache-expected.txt
  LayoutTests/fast/canvas/canvas-ImageData-cache.html
  LayoutTests/fast/canvas/imageData-consistency-expected.txt
  LayoutTests/fast/canvas/imageData-consistency.html
  LayoutTests/platform/gtk/fast/canvas/imageData-consistency-expected.txt
  LayoutTests/platform/wpe/fast/canvas/imageData-consistency-expected.txt
  Source/WebCore/html/ImageData.cpp
  Source/WebCore/html/ImageData.h
  Source/WebCore/html/canvas/CanvasRenderingContext2DBase.cpp
  Source/WebCore/html/canvas/CanvasRenderingContext2DBase.h
  Source/WebCore/platform/Timer.h
Labels: Canvas

#16308 [WGSL] Assertion failure when declarations have no type nor initializer
  Source/WebGPU/WGSL/Parser.cpp
  Tools/TestWebKitAPI/Tests/WGSL/ParserTests.cpp
Labels: WebGPU

#16307 [WGSL] Variable redeclaration should not assert
  Source/WebGPU/WGSL/ContextProvider.h
  Source/WebGPU/WGSL/ContextProviderInlines.h
  Source/WebGPU/WGSL/MangleNames.cpp
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/tests/invalid/redeclaration.wgsl
Labels: WebGPU

#16390 Allow inline style caching in shadow trees
  Source/WebCore/style/ElementRuleCollector.cpp
Labels: CSS

#16418 Update ImageBuffer to subclass ThreadSafeRefCountedAndCanMakeThreadSafeWeakPtr
  Source/WTF/wtf/ThreadSafeWeakPtr.h
  Source/WebCore/platform/graphics/ImageBuffer.cpp
  Source/WebCore/platform/graphics/ImageBuffer.h
  Source/WebKit/GPUProcess/graphics/RemoteDisplayListRecorder.cpp
  Source/WebKit/GPUProcess/graphics/RemoteDisplayListRecorder.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteDisplayListRecorderProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteDisplayListRecorderProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.h
Labels: WebCore Misc.

#16416 [macOS] Present SCKit picker with `-[SCContentSharingPicker presentPickerUsingContentStyle:]`
  Source/WebCore/platform/mediastream/mac/ScreenCaptureKitSharingSessionManager.mm
Labels: WebRTC

#16439 Crash under ProcessThrottlerActivity::isValid()
  Source/WebKit/UIProcess/ProcessThrottler.cpp
Labels: WebKit2

#16429 [JSC] Support Intl.NumberFormat's FormatApproximately operation
  JSTests/stress/intl-numberformat-approximately-sign.js
  Source/JavaScriptCore/runtime/IntlNumberFormat.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#16379 [UI-side compositing] Webpage going blank when navigating diffs in https://whatpr.org/html/9537/238086f...f400a41/canvas.html#drawing-state
  LayoutTests/fast/scrolling/programmatic-scroll-merge-delta-and-position-expected.html
  LayoutTests/fast/scrolling/programmatic-scroll-merge-delta-and-position.html
  LayoutTests/fast/scrolling/programmatic-scroll-merge-delta-expected.html
  LayoutTests/fast/scrolling/programmatic-scroll-merge-delta.html
  LayoutTests/fast/scrolling/programmatic-scroll-merge-position-and-delta-expected.html
  LayoutTests/fast/scrolling/programmatic-scroll-merge-position-and-delta.html
  Source/WebCore/page/scrolling/ScrollingCoordinatorTypes.cpp
Labels: New Bugs

#16359 Update TBA availability macros for iOS 17 and macOS Sonoma
  Source/WebKit/UIProcess/API/Cocoa/WKBackForwardListItemPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKErrorPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKFrameInfoPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKHTTPCookieStore.h
  Source/WebKit/UIProcess/API/Cocoa/WKMenuItemIdentifiersPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKPDFConfiguration.h
  Source/WebKit/UIProcess/API/Cocoa/WKPreferences.h
  Source/WebKit/UIProcess/API/Cocoa/WKPreferencesPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKUIDelegatePrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewConfigurationPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebpagePreferencesPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebsiteDataRecord.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebsiteDataStore.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebsiteDataStorePrivate.h
  Source/WebKit/UIProcess/API/Cocoa/_WKApplicationManifest.h
  Source/WebKit/UIProcess/API/Cocoa/_WKContextMenuElementInfo.h
  Source/WebKit/UIProcess/API/Cocoa/_WKFrameTreeNode.h
  Source/WebKit/UIProcess/API/Cocoa/_WKProcessPoolConfiguration.h
  Source/WebKit/UIProcess/API/Cocoa/_WKTextManipulationConfiguration.h
  Source/WebKit/UIProcess/API/Cocoa/_WKTextManipulationItem.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebAuthenticationPanel.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebsiteDataStoreConfiguration.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebsiteDataStoreDelegate.h
  Tools/Scripts/webkitpy/common/version_name_map.py
Labels: WebKit API

#16392 [CSS] Improve performance of visitAllSimpleSelectors()
  Source/WebCore/css/CSSSelector.cpp
  Source/WebCore/css/CSSSelector.h
Labels: merge-queue, WebCore Misc.

#16434 Add tracing points for incremental sweeps and opportunistically scheduled tasks
  Source/JavaScriptCore/heap/IncrementalSweeper.cpp
  Source/WTF/wtf/SystemTracing.h
  Source/WebCore/page/Page.cpp
  Source/WebKit/Resources/Signposts/SystemTracePoints.plist
Labels: JavaScriptCore

#16445 Remove Quirk needsSeekingSupportDisabled for Netflix.com
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/html/HTMLMediaElement.h
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
Labels: merge-queue, Media

#16415 REGRESSION (260398@main): DOFUS Touch app: Color palette canvas element is blank during character creation
  Source/WTF/wtf/cocoa/RuntimeApplicationChecksCocoa.cpp
  Source/WTF/wtf/cocoa/RuntimeApplicationChecksCocoa.h
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
  Source/WebCore/platform/RuntimeApplicationChecks.h
  Source/WebCore/platform/cocoa/RuntimeApplicationChecksCocoa.mm
  Source/WebCore/style/Styleable.cpp
Labels: unsafe-merge-queue, Animations

#16243 [WebAuthn] Do not end ceremony if plugged in U2F cannot fulfill the request.
  Source/WebKit/UIProcess/WebAuthentication/fido/U2fAuthenticator.cpp
Labels: merge-queue, WebKit Misc.

#16409 [JSC] IntrinsicGetter AccessCase should not use Equivalent condition
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.cpp
  Source/JavaScriptCore/bytecode/ObjectPropertyConditionSet.cpp
  Source/JavaScriptCore/bytecode/ObjectPropertyConditionSet.h
  Source/JavaScriptCore/bytecode/Repatch.cpp
Labels: JavaScriptCore

#16444 [macOS] Suppress the SCStream privacy alert
  Source/WebCore/platform/mediastream/mac/ScreenCaptureKitCaptureSource.mm
Labels: WebRTC

#15511 Cocoa: Improve backtrace logging for <redacted> symbols
  Source/WTF/wtf/PlatformHave.h
  Source/WTF/wtf/StackTrace.h
Labels: merge-queue

#16450 REGRESSION (iOS 16): Web content cannot capture Cmd+F keyboard events
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Labels: merge-queue, UI Events

#16435 Migrate use of SuspendableTimer to EventLoop
  Source/WebCore/dom/EventLoop.cpp
  Source/WebCore/dom/EventLoop.h
  Source/WebCore/editing/AlternativeTextController.cpp
  Source/WebCore/editing/AlternativeTextController.h
  Source/WebCore/html/ImageBitmap.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
  Source/WebCore/page/EventSource.cpp
  Source/WebCore/page/EventSource.h
Labels: DOM

#16443 [visionOS] AudioSession interruptions do not stop playback
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
Labels: Media

#16446 Compositing overlap testing is broken with filters in some configurations
  LayoutTests/compositing/layer-creation/overlap-transform-filter-contribution-expected.txt
  LayoutTests/compositing/layer-creation/overlap-transform-filter-contribution.html
  LayoutTests/compositing/layer-creation/overlap-transform-filter-expected.txt
  LayoutTests/compositing/layer-creation/overlap-transform-filter.html
  LayoutTests/platform/ios-wk2/compositing/layer-creation/overlap-transform-filter-contribution-expected.txt
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/RenderLayerBacking.cpp
Labels: Compositing

#16458 [Gardening]: REGRESSION(265506@Main): [ Monterey+ Release ] 10X fast/layoutformattingcontext (Layout-Tests) are a constant crash
  LayoutTests/TestExpectations
Labels: unsafe-merge-queue, Layout and Rendering

#16224 REGRESSION(227811@main): run-webkit-tests reports "perl: warning: Setting locale failed." on Windows
  Tools/Scripts/webkitpy/common/host.py
Labels: Tools / Tests

#16030 Path::transform() should not trigger creation of a platform path
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/platform/graphics/Path.cpp
  Source/WebCore/platform/graphics/PathImpl.h
  Source/WebCore/platform/graphics/PathSegment.cpp
  Source/WebCore/platform/graphics/PathSegment.h
  Source/WebCore/platform/graphics/PathSegmentData.cpp
  Source/WebCore/platform/graphics/PathSegmentData.h
  Source/WebCore/platform/graphics/PathStream.cpp
  Source/WebCore/platform/graphics/PathStream.h
  Source/WebCore/platform/graphics/cairo/PathCairo.cpp
  Source/WebCore/platform/graphics/cairo/PathCairo.h
  Source/WebCore/platform/graphics/cg/PathCG.cpp
  Source/WebCore/platform/graphics/cg/PathCG.h
Labels: merge-queue, Layout and Rendering

#16457 Update to Vision idiom.
  Source/WebCore/platform/ios/Device.cpp
  Source/WebCore/platform/ios/Device.h
  Source/WebCore/platform/ios/LocalCurrentTraitCollection.mm
  Source/WebKit/Shared/UserInterfaceIdiom.h
  Source/WebKit/Shared/UserInterfaceIdiom.mm
  Source/WebKit/Shared/UserInterfaceIdiom.serialization.in
  Source/WebKit/Shared/WebPreferencesDefaultValues.cpp
  Source/WebKit/UIProcess/Cocoa/WKShareSheet.mm
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
Labels: WebKit Misc.

#16463 Non-unified build fixes, early August 2023 edition
  Source/WebCore/dom/ContentVisibilityDocumentState.cpp
  Source/WebCore/dom/FullscreenManager.cpp
  Source/WebCore/fileapi/ThreadableBlobRegistry.cpp
  Source/WebCore/fileapi/ThreadableBlobRegistry.h
  Source/WebCore/html/track/InbandGenericTextTrack.cpp
  Source/WebCore/html/track/VTTCue.cpp
  Source/WebCore/layout/formattingContexts/flex/FlexFormattingContext.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingContext.cpp
  Source/WebCore/loader/MixedContentChecker.cpp
  Source/WebCore/page/IntersectionObserver.cpp
  Source/WebCore/page/ResizeObservation.h
  Source/WebCore/page/SecurityOriginData.cpp
  Source/WebCore/platform/network/curl/NetworkStorageSessionCurl.cpp
  Source/WebCore/rendering/RenderFlexibleBox.cpp
  Source/WebCore/rendering/svg/RenderSVGResourceContainer.cpp
  Source/WebCore/storage/StorageUtilities.cpp
  Source/WebCore/storage/StorageUtilities.h
  Source/WebCore/style/Styleable.cpp
  Source/WebKit/NetworkProcess/NetworkLoadChecker.h
  Source/WebKit/NetworkProcess/storage/SQLiteStorageArea.cpp
  Source/WebKit/Platform/IPC/Connection.cpp
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.cpp
  Source/WebKit/WebProcess/WebPage/playstation/WebPagePlayStation.cpp
Labels: merge-queue, Tools / Tests

#16462 [visionOS] Audio is still heard after closing Safari
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
Labels: Media

#16454 Use EventLoop in XMLHttpRequestProgressEventThrottle instead of SuspendableTimer
  Source/WebCore/dom/EventLoop.cpp
  Source/WebCore/dom/EventLoop.h
  Source/WebCore/page/SuspendableTimer.cpp
  Source/WebCore/page/SuspendableTimer.h
  Source/WebCore/xml/XMLHttpRequestProgressEventThrottle.cpp
  Source/WebCore/xml/XMLHttpRequestProgressEventThrottle.h
Labels: unsafe-merge-queue, DOM

#16466 Resync requestIdleCallback WPT tests
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/requestidlecallback/basic.html
  LayoutTests/imported/w3c/web-platform-tests/requestidlecallback/callback-idle-periods.html
  LayoutTests/imported/w3c/web-platform-tests/requestidlecallback/callback-invoked.html
  LayoutTests/imported/w3c/web-platform-tests/requestidlecallback/deadline-after-expired-timer-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/requestidlecallback/deadline-after-expired-timer.html
  LayoutTests/imported/w3c/web-platform-tests/requestidlecallback/deadline-max-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/requestidlecallback/deadline-max-rAF-dynamic-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/requestidlecallback/deadline-max-rAF-dynamic.html
  LayoutTests/imported/w3c/web-platform-tests/requestidlecallback/deadline-max-rAF-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/requestidlecallback/deadline-max-rAF.html
  LayoutTests/imported/w3c/web-platform-tests/requestidlecallback/deadline-max-timeout-dynamic-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/requestidlecallback/deadline-max-timeout-dynamic.html
  LayoutTests/imported/w3c/web-platform-tests/requestidlecallback/deadline-max.html
  LayoutTests/imported/w3c/web-platform-tests/requestidlecallback/resources/ric-utils.js
  LayoutTests/imported/w3c/web-platform-tests/requestidlecallback/resources/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/requestidlecallback/w3c-import.log
  LayoutTests/tests-options.json
Labels: Tools / Tests

#16468 Unreviewed, adjust JSONValues memoryCost function for debug build (because of RefCounted's additional fields)
  Tools/TestWebKitAPI/Tests/WTF/JSONValue.cpp
Labels: JavaScriptCore

#16232 [WebRTC] webrtc/video-remote-mute.html can be potentially flaky
  LayoutTests/webrtc/video-remote-mute.html
Labels: WebRTC

#16467 [JSC] Adjust CodeBlock::shouldOptimizeNow with retry count
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
Labels: JavaScriptCore

#16452 [Wasm-GC] Update wast.js test helper for GC
  JSTests/wasm/gc/any.js
  JSTests/wasm/gc/array_new_data.js
  JSTests/wasm/gc/array_new_elem.js
  JSTests/wasm/gc/array_new_fixed.js
  JSTests/wasm/gc/array_new_fixed_long.js
  JSTests/wasm/gc/arrays.js
  JSTests/wasm/gc/bug252538.js
  JSTests/wasm/gc/bug252719.js
  JSTests/wasm/gc/bug254226.js
  JSTests/wasm/gc/casts.js
  JSTests/wasm/gc/eq.js
  JSTests/wasm/gc/extern.js
  JSTests/wasm/gc/i31.js
  JSTests/wasm/gc/js-api.js
  JSTests/wasm/gc/packed-arrays.js
  JSTests/wasm/gc/rec.js
  JSTests/wasm/gc/structs.js
  JSTests/wasm/gc/wast.js
Labels: merge-queue, WebAssembly

#16474 Integrate requestIdleCallback with HTML5 event loop and OpportunisticTaskScheduler
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/requestidlecallback/callback-idle-periods-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/requestidlecallback/callback-multiple-calls-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/requestidlecallback/callback-xhr-sync-expected.txt
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/requestidlecallback/requestidlecallback-in-page-cache-expected.txt
  LayoutTests/requestidlecallback/requestidlecallback-in-page-cache.html
  LayoutTests/requestidlecallback/requestidlecallback-is-called-expected.txt
  LayoutTests/requestidlecallback/requestidlecallback-is-called.html
  LayoutTests/requestidlecallback/requestidlecallback-is-not-called-when-canceled-expected.txt
  LayoutTests/requestidlecallback/requestidlecallback-is-not-called-when-canceled.html
  Source/WebCore/dom/EventLoop.h
  Source/WebCore/dom/IdleCallbackController.cpp
  Source/WebCore/dom/IdleCallbackController.h
  Source/WebCore/dom/Microtasks.h
  Source/WebCore/dom/WindowEventLoop.cpp
  Source/WebCore/dom/WindowEventLoop.h
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
Labels: DOM

#16461 Regression(266594@main) Crash under NetworkSession::unregisterNetworkDataTask()
  Source/WebKit/NetworkProcess/NetworkDataTask.cpp
Labels: WebKit2

#16472 Remove Quirk shouldDispatchSimulatedMouseEvents for nba.com
  Source/WebCore/page/Quirks.cpp
Labels: WebCore Misc.
