Repository WebKit/WebKit, pull requests merged in 2023-05, with the labels that each got.

#13319 [WK2] Audio playing from closed tab (facebook.com)
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerManagerProxy.cpp
Labels: merge-queue, Media

#13322 [css-counter-styles] Various small cleanups
  Source/WebCore/css/CSSCounterStyle.cpp
  Source/WebCore/css/CSSCounterStyleDescriptors.cpp
  Source/WebCore/css/CSSCounterStyleRegistry.cpp
  Tools/DumpRenderTree/TestOptions.cpp
Labels: merge-queue, CSS

#13324 Remove redundant `CSSParserContext::counterStyleAtRuleEnabled`
  Source/WebCore/css/parser/CSSParserContext.cpp
  Source/WebCore/css/parser/CSSParserContext.h
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
Labels: merge-queue, unsafe-merge-queue, CSS

#13076 Fix Recovery OS check
  Source/WTF/wtf/spi/darwin/OSVariantSPI.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
Labels: WebKit Misc.

#13328 [Gardening]: REGRESSION (262544@main): [ iOS ] Assertion failure in Position::Position via computeEditableRootHasContentAndPlainText
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#11777 Address kernel MIG sandbox telemetry
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
  Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.GPU.sb.in
Labels: WebKit Misc.

#13307 Cleanup Source/.gitignore
  Source/.gitignore
Labels: merge-queue, Tools / Tests

#13310 Sanitize email input when multiple attribute is set
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/forms/the-input-element/email-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/forms/the-input-element/email.html
  Source/WebCore/html/EmailInputType.cpp
  Source/WebCore/html/EmailInputType.h
Labels: merge-queue, Forms

#13333 REGRESSION(259145@main): Crash when using 'currentcolor' with color-mix() in color property
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/color-mix-currentcolor-003-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/color-mix-currentcolor-003-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/color-mix-currentcolor-003.html
  Source/WebCore/style/StyleBuilderCustom.h
Labels: merge-queue, CSS

#13304 [JSC] Inline ClonedArguments allocation in DFG / FTL
  JSTests/microbenchmarks/create-cloned-arguments.js
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/dfg/DFGOperations.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT32_64.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/ftl/FTLAbstractHeapRepository.cpp
  Source/JavaScriptCore/ftl/FTLAbstractHeapRepository.h
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/ftl/FTLOperations.cpp
  Source/JavaScriptCore/jit/AssemblyHelpers.h
  Source/JavaScriptCore/runtime/ClonedArguments.cpp
  Source/JavaScriptCore/runtime/ClonedArguments.h
Labels: unsafe-merge-queue, JavaScriptCore

#13336 [JSC] definePropertyOnReceiver() doesn't account for put_by_val_with_this bytecode op
  JSTests/stress/define-property-on-receiver-slow-proxy-set-missing-trap.js
  JSTests/stress/define-property-on-receiver-slow-super-set-property-2.js
  JSTests/stress/define-property-on-receiver-slow-super-set-property.js
  JSTests/stress/ordinary-set-exceptions.js
  Source/JavaScriptCore/runtime/JSObject.cpp
Labels: unsafe-merge-queue, JavaScriptCore, skip-ews

#13337 Add myself to contributors.json
  metadata/contributors.json
Labels: unsafe-merge-queue, New Bugs

#13314 Re-express some ARM64E emitters using a NUMBER_OF_ADDRESS_ENCODING_INSTRUCTIONS parameter in ARM64Assembler
  Source/JavaScriptCore/assembler/ARM64Assembler.h
  Source/JavaScriptCore/assembler/ARM64EAssembler.h
  Source/JavaScriptCore/assembler/MacroAssemblerARM64.h
Labels: unsafe-merge-queue, JavaScriptCore

#13338 [IFC] Bail out from partial layout when intrusive float is present.
  LayoutTests/fast/inline/inline-content-with-intrusive-float-partial-layout-crash-expected.txt
  LayoutTests/fast/inline/inline-content-with-intrusive-float-partial-layout-crash.html
  Source/WebCore/layout/integration/LayoutIntegrationCoverage.cpp
Labels: merge-queue

#13278 [macOS] Disable suspension when local notifications are granted
  LayoutTests/imported/w3c/web-platform-tests/permissions/all-permissions-expected.txt
  Source/WebCore/Modules/permissions/PermissionName.h
  Source/WebCore/Modules/permissions/PermissionName.idl
  Source/WebCore/Modules/permissions/Permissions.cpp
  Source/WebKit/NetworkProcess/Notifications/NetworkNotificationManager.h
  Source/WebKit/Shared/Notifications/NotificationManagerMessageHandler.h
  Source/WebKit/Shared/Notifications/NotificationManagerMessageHandler.messages.in
  Source/WebKit/UIProcess/Cocoa/ProcessAssertionCocoa.mm
  Source/WebKit/UIProcess/Notifications/ServiceWorkerNotificationHandler.h
  Source/WebKit/UIProcess/Notifications/WebNotificationManagerMessageHandler.cpp
  Source/WebKit/UIProcess/Notifications/WebNotificationManagerMessageHandler.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/WebProcess/Notifications/WebNotificationManager.cpp
  Source/WebKit/WebProcess/Notifications/WebNotificationManager.h
  Source/WebKit/WebProcess/WebCoreSupport/WebNotificationClient.cpp
Labels: merge-queue, WebKit2

#13348 [GARDENIG] New-Test [ wk2 Debug iOS, Monterey+ x86_64] ASSERTION FAILED: decontaminate()
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, Media

#13345 Do not sort entries under "Products" group in xcodeproj
  Tools/Scripts/sort-Xcode-project-file
Labels: merge-queue, Tools / Tests

#13313 Fix testmasm, testair, testb3, etc. after 263139@main.
  Source/JavaScriptCore/Configurations/TestExecutable.xcconfig
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/Scripts/process-entitlements.sh
Labels: JavaScriptCore

#13347 [JSC] FTL should use constant-folded CreateClonedArguments butterfly allocation if it is inlined
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#13340 [Cocoa] Temporarily wake up remote process if outgoing IPC message queue becomes too large
  Source/WebKit/Platform/IPC/Connection.cpp
  Source/WebKit/Platform/IPC/Connection.h
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.cpp
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.h
Labels: merge-queue, WebKit2

#13349 [JSC] Skip ProxyObject's ICs trap result validation in the common case
  JSTests/microbenchmarks/proxy-get-miss-handler.js
  JSTests/microbenchmarks/proxy-get.js
  JSTests/microbenchmarks/proxy-has-hit.js
  JSTests/microbenchmarks/proxy-has-miss-handler.js
  JSTests/microbenchmarks/proxy-has-miss.js
  JSTests/microbenchmarks/proxy-set-miss-handler.js
  JSTests/microbenchmarks/proxy-set.js
  Source/JavaScriptCore/builtins/BuiltinNames.h
  Source/JavaScriptCore/builtins/ProxyHelpers.js
  Source/JavaScriptCore/bytecode/BytecodeIntrinsicRegistry.h
  Source/JavaScriptCore/bytecode/BytecodeList.rb
  Source/JavaScriptCore/bytecode/BytecodeUseDef.cpp
  Source/JavaScriptCore/bytecode/LinkTimeConstant.h
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.h
  Source/JavaScriptCore/bytecompiler/NodesCodegen.cpp
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGClobberize.h
  Source/JavaScriptCore/dfg/DFGConstantFoldingPhase.cpp
  Source/JavaScriptCore/dfg/DFGDoesGC.cpp
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGGraph.cpp
  Source/JavaScriptCore/dfg/DFGNode.h
  Source/JavaScriptCore/dfg/DFGNodeType.h
  Source/JavaScriptCore/dfg/DFGPredictionPropagationPhase.cpp
  Source/JavaScriptCore/dfg/DFGSafeToExecute.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT32_64.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/ftl/FTLCapabilities.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/jit/JIT.cpp
  Source/JavaScriptCore/jit/JIT.h
  Source/JavaScriptCore/jit/JITOpcodes.cpp
  Source/JavaScriptCore/llint/LLIntSlowPaths.cpp
  Source/JavaScriptCore/llint/LLIntSlowPaths.h
  Source/JavaScriptCore/llint/LowLevelInterpreter32_64.asm
  Source/JavaScriptCore/llint/LowLevelInterpreter64.asm
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSGlobalObjectFunctions.cpp
  Source/JavaScriptCore/runtime/JSGlobalObjectFunctions.h
  Source/JavaScriptCore/runtime/JSGlobalProxy.h
  Source/JavaScriptCore/runtime/JSTypeInfo.h
  Source/JavaScriptCore/runtime/PropertySlot.h
  Source/JavaScriptCore/runtime/ProxyObject.cpp
  Source/JavaScriptCore/runtime/ProxyObject.h
  Source/JavaScriptCore/runtime/Structure.cpp
  Source/JavaScriptCore/runtime/Structure.h
  Source/JavaScriptCore/runtime/StructureInlines.h
  Source/JavaScriptCore/wasm/js/WebAssemblyGCObjectBase.h
  Source/WebCore/bindings/js/JSDOMWindowProperties.h
Labels: unsafe-merge-queue, JavaScriptCore

#13261 RemoteImageBufferProxyFlushState::waitForDidFlushOnSecondaryThread blocks on a task running on the main thread.
  Source/WebKit/GPUProcess/graphics/RemoteDisplayListRecorder.cpp
  Source/WebKit/GPUProcess/graphics/RemoteDisplayListRecorder.h
  Source/WebKit/GPUProcess/graphics/RemoteDisplayListRecorder.messages.in
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteDisplayListRecorderProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteDisplayListRecorderProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.messages.in
Labels: merge-queue, Layout and Rendering

#13290 Strictly decode objects in WebExtensionContext::loadBackgroundPageListenersFromStorage
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
Labels: unsafe-merge-queue, WebKit Misc.

#13356 REGRESSION(263570@main) [Win] Connection.cpp: error C2121: '#': invalid character: possibly the result of a macro expansion
  Source/WebKit/Platform/IPC/Connection.cpp
Labels: unsafe-merge-queue, WebKit2

#13271 [GStreamer][WebRTC] Fix PCMU payload type handling
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerWebRTCUtils.cpp
Labels: Platform

#13276 [WGSL] Make Attribute nodes arena alocated
  Source/WebGPU/WGSL/AST/ASTAlignAttribute.h
  Source/WebGPU/WGSL/AST/ASTAttribute.h
  Source/WebGPU/WGSL/AST/ASTBindingAttribute.h
  Source/WebGPU/WGSL/AST/ASTBuiltinAttribute.h
  Source/WebGPU/WGSL/AST/ASTConstAttribute.h
  Source/WebGPU/WGSL/AST/ASTGroupAttribute.h
  Source/WebGPU/WGSL/AST/ASTIdAttribute.h
  Source/WebGPU/WGSL/AST/ASTInterpolateAttribute.h
  Source/WebGPU/WGSL/AST/ASTInvariantAttribute.h
  Source/WebGPU/WGSL/AST/ASTLocationAttribute.h
  Source/WebGPU/WGSL/AST/ASTParameter.h
  Source/WebGPU/WGSL/AST/ASTSizeAttribute.h
  Source/WebGPU/WGSL/AST/ASTStageAttribute.h
  Source/WebGPU/WGSL/AST/ASTWorkgroupSizeAttribute.h
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
  Source/WebGPU/WGSL/Parser.cpp
Labels: merge-queue, WebGPU

#13030 DisplayCaptureSourceCocoa::Capturer::setObserver should take a reference
  Source/WebCore/platform/mediastream/cocoa/DisplayCaptureSourceCocoa.cpp
  Source/WebCore/platform/mediastream/cocoa/DisplayCaptureSourceCocoa.h
Labels: WebRTC

#13352 [JSC] Use memset_patternN for JSStringJoiner
  JSTests/stress/array-join-16.js
  Source/JavaScriptCore/runtime/JSStringJoiner.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#13028 Remove no longer need RealtimeVideoCaptureSource related code
  Source/WebCore/platform/mediastream/RealtimeMediaSourceSettings.h
  Source/WebCore/platform/mediastream/RealtimeVideoCaptureSource.cpp
  Source/WebCore/platform/mediastream/RealtimeVideoCaptureSource.h
  Source/WebCore/platform/mediastream/RealtimeVideoSource.h
  Source/WebKit/UIProcess/Cocoa/UserMediaCaptureManagerProxy.cpp
  Source/WebKit/UIProcess/Cocoa/UserMediaCaptureManagerProxy.h
  Source/WebKit/UIProcess/Cocoa/UserMediaCaptureManagerProxy.messages.in
  Source/WebKit/WebProcess/cocoa/RemoteRealtimeMediaSource.cpp
  Source/WebKit/WebProcess/cocoa/RemoteRealtimeMediaSourceProxy.h
Labels: WebRTC

#13305 REGRESSION(263499@main): [GStreamer] Several webrtc tests timing out
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/platform/mediastream/RealtimeMediaSource.h
  Source/WebCore/platform/mediastream/gstreamer/GStreamerMediaStreamSource.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingSourceGStreamer.h
Labels: Platform

#13318 [GStreamer] Restore gstreamer-full 1.18 support
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.cpp
  Source/cmake/GStreamerChecks.cmake
Labels: merge-queue, Platform

#13360 Address kernel MIG sandbox telemetry
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
  Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.GPU.sb.in
Labels: WebKit Misc.

#13327 [GStreamer][WebRTC] Duplicate state change notifications in DataChannel handler
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerDataChannelHandler.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerDataChannelHandler.h
Labels: Platform

#13315 [GStreamer] Improvements regarding track configuration updates
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/platform/graphics/gstreamer/AudioTrackPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/AudioTrackPrivateGStreamer.h
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.h
  Source/WebCore/platform/graphics/gstreamer/TrackPrivateBaseGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/TrackPrivateBaseGStreamer.h
  Source/WebCore/platform/graphics/gstreamer/VideoTrackPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/VideoTrackPrivateGStreamer.h
Labels: Platform

#13267 [GStreamer][WebRTC] End-point and Transceiver interop improvements
  LayoutTests/platform/glib/fast/mediastream/RTCPeerConnection-inspect-answer-expected.txt
  LayoutTests/platform/glib/fast/mediastream/RTCPeerConnection-inspect-offer-expected.txt
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerRtpTransceiverBackend.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerWebRTCUtils.h
Labels: Platform

#13334 [macOS] Show more accurate names for child processes in Activity Monitor
  Source/WebKit/UIProcess/Launcher/cocoa/ProcessLauncherCocoa.mm
Labels: merge-queue, WebKit2

#13353 InteractionRegion layers should follow animations
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreePropertyApplier.mm
Labels: merge-queue, Layout and Rendering

#13351 WebContent crash: Invalid message dispatched virtual void WebKit::RemoteScrollingCoordinatorProxyIOS::establishLayerTreeScrollingRelations(const RemoteLayerTreeHost &)
  LayoutTests/scrollingcoordinator/scrolling-tree/scroller-with-proxy-nodes-loses-layer-expected.txt
  LayoutTests/scrollingcoordinator/scrolling-tree/scroller-with-proxy-nodes-loses-layer.html
  Source/WebCore/rendering/LayerAncestorClippingStack.cpp
  Source/WebCore/rendering/RenderLayerBacking.cpp
Labels: merge-queue, Scrolling

#13354 Fix debug build with assertions disabled
  Source/JavaScriptCore/bytecode/CodeBlock.h
  Source/WTF/wtf/RefCountedLeakCounter.cpp
  Source/WTF/wtf/RefCountedLeakCounter.h
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/layout/Verification.cpp
  Source/WebCore/loader/archive/cf/LegacyWebArchive.cpp
  Source/WebCore/page/LocalFrameViewLayoutContext.cpp
  Source/WebCore/platform/animation/AcceleratedEffect.cpp
  Source/WebCore/platform/mediastream/MediaConstraints.h
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/LocalAuthenticator.mm
Labels: unsafe-merge-queue, WebKit Misc.

#13344 [macOS] Declare notification names observed by WebKit in NSWindowSPI.h
  Source/WebCore/PAL/pal/spi/mac/NSWindowSPI.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKitLegacy/mac/WebView/WebViewData.mm
Labels: merge-queue, Platform

#13365 [ iOS ] http/tests/media/media-source/mediasource-rvfc.html is a constant text failure
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/ipad/TestExpectations
Labels: unsafe-merge-queue, WebRTC, skip-ews

#13364 Container query length units use border box instead of a content box
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/container-units-content-box-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/container-units-content-box.html
  Source/WebCore/css/CSSPrimitiveValue.cpp
Labels: merge-queue, CSS

#13296 Pass PageIdentifier to the page via PageConfiguration object
  Source/WebCore/dom/Document.cpp
  Source/WebCore/editing/markup.cpp
  Source/WebCore/html/HTMLAnchorElement.cpp
  Source/WebCore/loader/CookieJar.cpp
  Source/WebCore/loader/EmptyClients.cpp
  Source/WebCore/loader/EmptyClients.h
  Source/WebCore/loader/EmptyFrameLoaderClient.h
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/loader/FrameLoader.h
  Source/WebCore/loader/FrameLoaderClient.h
  Source/WebCore/loader/NavigationRequester.cpp
  Source/WebCore/loader/PolicyChecker.cpp
  Source/WebCore/page/Frame.cpp
  Source/WebCore/page/Frame.h
  Source/WebCore/page/LocalFrame.cpp
  Source/WebCore/page/LocalFrame.h
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebCore/page/PageConfiguration.cpp
  Source/WebCore/page/PageConfiguration.h
  Source/WebCore/svg/graphics/SVGImage.cpp
  Source/WebKit/WebProcess/Network/WebLoaderStrategy.cpp
  Source/WebKit/WebProcess/Storage/RemoteWorkerFrameLoaderClient.cpp
  Source/WebKit/WebProcess/Storage/RemoteWorkerFrameLoaderClient.h
  Source/WebKit/WebProcess/Storage/WebSWContextManagerConnection.cpp
  Source/WebKit/WebProcess/Storage/WebSharedWorkerContextManagerConnection.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.mm
  Source/WebKitLegacy/mac/WebView/WebView.mm
Labels: merge-queue, WebCore JavaScript

#13363 fast/scrolling/ios/click-events-during-momentum-scroll-in-main-frame.html is a flaky failure
  LayoutTests/fast/scrolling/ios/click-events-during-momentum-scroll-in-main-frame-expected.txt
  LayoutTests/fast/scrolling/ios/click-events-during-momentum-scroll-in-main-frame.html
  LayoutTests/fast/scrolling/ios/click-events-during-momentum-scroll-in-overflow-expected.txt
  LayoutTests/fast/scrolling/ios/click-events-during-momentum-scroll-in-overflow.html
Labels: merge-queue, Tools / Tests

#13366 Make sure IPC queue from NetworkProcess to WebProcess doesn't grow too large
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.h
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.cpp
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.messages.in
Labels: merge-queue, WebKit2

#13346 [JSC] Flush deallocation log of the current thread in incremental sweeper
  Source/JavaScriptCore/heap/IncrementalSweeper.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#13323 [css-counter-styles] Port ethiopic counter styles to new codepath
  Source/WebCore/css/CSSCounterStyleRegistry.cpp
  Source/WebCore/css/CSSCounterStyleRegistry.h
  Source/WebCore/css/counterStyles.css
  Source/WebCore/style/StyleBuilderConverter.h
Labels: CSS

#13277 Add SPI for getting notification when WebsiteDataStore is removed in network process
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkProcess.messages.in
  Source/WebKit/UIProcess/API/Cocoa/WKWebsiteDataStore.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebsiteDataStorePrivate.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebsiteDatastore.mm
Labels: merge-queue, WebKit2

#13097 Implement @font-face size-adjust descriptor (253062)
  LayoutTests/TestExpectations
  LayoutTests/platform/ios/size-adjust-interacts-with-text-size-adjust-auto-expected-mismatch.html
  LayoutTests/platform/ios/size-adjust-interacts-with-text-size-adjust-auto-notref.html
  LayoutTests/platform/ios/size-adjust-interacts-with-text-size-adjust-auto.html
  LayoutTests/platform/ios/size-adjust-interacts-with-text-size-adjust-percentage-expected.html
  LayoutTests/platform/ios/size-adjust-interacts-with-text-size-adjust-percentage-ref.html
  LayoutTests/platform/ios/size-adjust-interacts-with-text-size-adjust-percentage.html
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/css/FontFace.cpp
  Source/WebCore/css/FontFace.h
  Source/WebCore/css/FontFace.idl
  Source/WebCore/css/parser/CSSPropertyParserWorkerSafe.cpp
  Source/WebCore/css/parser/CSSPropertyParserWorkerSafe.h
  Source/WebCore/platform/graphics/FontDescription.cpp
  Source/WebCore/platform/graphics/FontDescription.h
  Source/WebCore/platform/graphics/FontPlatformData.cpp
  Source/WebCore/platform/graphics/FontPlatformData.h
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
  Source/WebCore/platform/graphics/cocoa/FontFamilySpecificationCoreText.cpp
  Source/WebCore/platform/graphics/freetype/FontCacheFreeType.cpp
  Source/WebCore/platform/graphics/freetype/FontCustomPlatformDataFreeType.cpp
  Source/WebCore/platform/graphics/mac/FontCustomPlatformDataMac.cpp
Labels: merge-queue, CSS

#13367 Paused background tabs should take advantage of background priority on machines that can handle it
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: merge-queue, WebKit2

#13375 REGRESSION (262847@main): [ iOS, macOS Debug ] TestWebKitAPI.IPCTestingAPI .CanInterceptHasStorageAcce ss is a constant failure.
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IPCTestingAPI.mm
Labels: unsafe-merge-queue, New Bugs

#12934 Add support for topOrigin and crossOrigin to [_WKWebAuthenticationPanel getClientDataJSONFor...]
  Source/WebCore/Modules/webauthn/WebAuthenticationUtils.cpp
  Source/WebCore/Modules/webauthn/WebAuthenticationUtils.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebAuthenticationPanel.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebAuthenticationPanel.mm
Labels: merge-queue, WebKit Misc.

#13342 REGRESSION (262853@main): Pan gestures that scroll should not dispatch synthetic clicks
  LayoutTests/fast/events/ios/scrolling-with-pan-gesture-should-not-trigger-click-expected.txt
  LayoutTests/fast/events/ios/scrolling-with-pan-gesture-should-not-trigger-click.html
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Labels: merge-queue, UI Events

#13357 REGRESSION (macOS Ventura 13.3, iOS 16.4) fast/shrink-wrap/rect-shrink-wrap.html is a constant ImageOnlyFailure
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/platform/graphics/PathUtilities.cpp
Labels: merge-queue, New Bugs

#13378 [css-counter-styles] Consolidate predefined counter style checks in parser
  Source/WebCore/css/CSSValueKeywords.in
  Source/WebCore/css/counterStyles.css
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
Labels: merge-queue, CSS

#13372 Move PKContact to secure mode
  Source/WebKit/Shared/Cocoa/ArgumentCodersCocoa.mm
Labels: merge-queue, WebKit Process Model

#13387 [GARDENING] [ Debug iOS, macOS ] imported/w3c/web-platform-tests/background-fetch/port-blocking.https.window.html is a flaky crash
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, Page Loading

#13284 [margin-trim] Refactor rendererCanHaveTrimmedMargin to remove incorrect uses of containingBlock
  Source/WebCore/css/ComputedStyleExtractor.cpp
Labels: merge-queue, Layout and Rendering

#13377 [JSC] Stringifier should quickly get names even if it involves accessors
  JSTests/stress/json-stringify-getter-call-complex.js
  Source/JavaScriptCore/runtime/JSONObject.cpp
  Source/JavaScriptCore/runtime/JSObject.cpp
  Source/JavaScriptCore/runtime/JSObjectInlines.h
  Source/JavaScriptCore/runtime/ObjectConstructorInlines.h
Labels: unsafe-merge-queue, JavaScriptCore

#13350 Assert that the scrolling tree is valid, and fix issues with negative z-index layers
  Source/WebCore/page/scrolling/ScrollingStateTree.cpp
  Source/WebCore/page/scrolling/ScrollingStateTree.h
  Source/WebCore/rendering/RenderLayerCompositor.cpp
  Source/WebCore/rendering/RenderLayerCompositor.h
Labels: merge-queue, Scrolling

#13380 Label elements should get InteractionRegions when associated to a control
  LayoutTests/interaction-region/labels-expected.txt
  LayoutTests/interaction-region/labels.html
  Source/WebCore/page/InteractionRegion.cpp
Labels: merge-queue, Layout and Rendering

#13391 Crashes under SystemPreviewController::loadFailed after 263479@main
  Source/WebKit/UIProcess/Cocoa/SystemPreviewControllerCocoa.mm
  Source/WebKit/UIProcess/SystemPreviewController.h
Labels: merge-queue, WebKit Misc.

#13359 [JSC] Make Weak::~Weak inlined
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/Sources.txt
  Source/JavaScriptCore/heap/Weak.cpp
  Source/JavaScriptCore/heap/Weak.h
  Source/JavaScriptCore/heap/WeakImpl.h
  Source/JavaScriptCore/heap/WeakSet.h
  Source/JavaScriptCore/runtime/ArrayBuffer.h
  Source/WebCore/bindings/js/ScriptWrappable.h
  Source/WebCore/bindings/js/ScriptWrappableInlines.h
Labels: JavaScriptCore

#12407 HTML parser: allow <hr> to be used inside <select> as a separator
  LayoutTests/html5lib/resources/webkit02.dat
  Source/WebCore/html/parser/HTMLTreeBuilder.cpp
Labels: Forms, skip-ews

#13228 Remove JavaScriptCore/bindings
  Source/JavaScriptCore/CMakeLists.txt
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/Sources.txt
  Source/JavaScriptCore/bindings/ScriptObject.cpp
  Source/JavaScriptCore/bindings/ScriptObject.h
  Source/JavaScriptCore/bindings/ScriptValue.cpp
  Source/JavaScriptCore/bindings/ScriptValue.h
  Source/JavaScriptCore/inspector/InjectedScript.cpp
  Source/JavaScriptCore/inspector/InjectedScript.h
  Source/JavaScriptCore/inspector/InjectedScriptBase.cpp
  Source/JavaScriptCore/inspector/InjectedScriptBase.h
  Source/JavaScriptCore/inspector/InjectedScriptManager.cpp
  Source/JavaScriptCore/inspector/InjectedScriptModule.cpp
  Source/JavaScriptCore/inspector/ScriptFunctionCall.cpp
  Source/JavaScriptCore/inspector/ScriptFunctionCall.h
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/inspector/CommandLineAPIHost.cpp
  Source/WebCore/inspector/InspectorFrontendHost.cpp
Labels: JavaScriptCore

#13358 [CSS Nesting] Add WPT for each nested at-rule
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/conditional-rules-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/conditional-rules-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/conditional-rules.html
Labels: WebCore Misc.

#13325 [GStreamer][WebRTC] Deadlock when closing PeerConnection
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerDtlsTransportBackend.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerDtlsTransportBackend.h
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerIceTransportBackend.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerIceTransportBackend.h
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerRtpReceiverBackend.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerRtpSenderBackend.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerSctpTransportBackend.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeOutgoingMediaSourceGStreamer.cpp
Labels: merge-queue, Platform

#13361 Remove internals.grabNextMediaStreamTrackFrame
  LayoutTests/fast/mediastream/captureStream/canvas3d.html
  Source/WebCore/platform/VideoFrame.cpp
  Source/WebCore/platform/VideoFrame.h
  Source/WebCore/platform/VideoFrame.mm
  Source/WebCore/platform/graphics/gstreamer/VideoFrameGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/VideoFrameGStreamer.h
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
Labels: WebRTC

#13316 [Buildstream SDK] Update to FDO 22.08.11 and GStreamer 1.22.2 releases
  Tools/buildstream/elements/freedesktop-sdk.bst
  Tools/buildstream/elements/sdk/gst-plugin-closedcaption.bst
  Tools/buildstream/elements/sdk/gst-plugin-dav1d.bst
  Tools/buildstream/elements/sdk/gst-plugin-rtp.bst
  Tools/buildstream/files/gst-plugin-closedcaption/Cargo.lock
  Tools/buildstream/files/gst-plugin-dav1d/Cargo.lock
  Tools/buildstream/files/gst-plugin-rtp/Cargo.lock
  Tools/buildstream/patches/fdo-0001-libnice-Bump-to-0.1.21.patch
  Tools/buildstream/patches/fdo-0005-GStreamer-Bump-to-1.22.2.patch
Labels: Tools / Tests

#13393 Re-import WPT css-counter-styles/counter-style-at-rule tests (256247)
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/descriptor-prefix-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/descriptor-prefix-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/descriptor-prefix.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/system-additive-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/system-additive-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/system-additive.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/system-alphabetic-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/system-alphabetic-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/system-alphabetic.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/system-extends-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/system-extends-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/system-extends.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/system-symbolic-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/system-symbolic-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-counter-styles/counter-style-at-rule/system-symbolic.html
Labels: CSS

#13386 [JSC] btoa should handle out of memory
  JSTests/stress/btoa-string-overflow.js
  Source/JavaScriptCore/jsc.cpp
  Source/WTF/wtf/text/Base64.cpp
  Source/WTF/wtf/text/Base64.h
Labels: JavaScriptCore

#13403 [ews-build.webkit.org] Set committer for multi-commit PRs
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: unsafe-merge-queue, Tools / Tests, skip-ews

#13401 REGRESSION (262691@main): [macOS] [WK1] Selection fails to repaint in Mail signature editor
  Source/WebKitLegacy/mac/WebCoreSupport/WebEditorClient.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebEditorClient.mm
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/mac/EditableLegacyWebView.mm
Labels: merge-queue, HTML Editing

#13370 Update WPT contain tests in css/motion/
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/motion/offset-path-ray-contain-001-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/motion/offset-path-ray-contain-001.html
  LayoutTests/imported/w3c/web-platform-tests/css/motion/offset-path-ray-contain-002-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/motion/offset-path-ray-contain-003-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/motion/offset-path-ray-contain-004-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/motion/offset-path-ray-contain-005-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/motion/offset-path-ray-contain-005.html
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#9572 StorageAreaMap should sync items again when removeItem fails in backend
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.h
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.messages.in
  Source/WebKit/WebProcess/WebStorage/StorageAreaMap.cpp
  Source/WebKit/WebProcess/WebStorage/StorageAreaMap.h
Labels: Website Storage

#13383 Eliminate redundant reloading of registers when calling functions in BBQ JIT
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
Labels: merge-queue, WebAssembly

#12414 [git-webkit] Cache filed bug
  Tools/Scripts/hooks/prepare-commit-msg
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/mocks/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/branch.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/cherry_pick.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/command.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/revert.py
Labels: unsafe-merge-queue, Tools / Tests

#13056 [ui-side compositing] Add check for layer after scaling CATransaction completed
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.mm
Labels: New Bugs

#13396 [popover] Update focus handling in hidePopover
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-focus-2-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-focus-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/html/semantics/popovers/popover-focus-expected.txt
  Source/WebCore/html/HTMLElement.cpp
Labels: merge-queue, DOM

#13392 Features specific to other ports should not be compiled in
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: merge-queue, WebKit Misc.

#13410 [JSC] LICM fuzzer should always try to hoist check nodes
  JSTests/stress/licm-fuzzer-check-node.js
  Source/JavaScriptCore/dfg/DFGLICMPhase.cpp
  Source/JavaScriptCore/dfg/DFGNode.h
Labels: merge-queue, JavaScriptCore

#13412 REGRESSION: iOS layout tests intermittently failing with TypeError: 'NoneType' object is not subscriptable in _test_passes_fuzzy_matching
  Tools/Scripts/webkitpy/layout_tests/controllers/single_test_runner.py
Labels: unsafe-merge-queue, Tools / Tests

#13409 [JSC] validateAIState should ignore EnumeratorNextUpdateIndexAndMode when asking for AbstractValue
  JSTests/stress/dfg-tuple-validate-ai-state.js
  Source/JavaScriptCore/dfg/DFGAbstractInterpreter.h
  Source/JavaScriptCore/dfg/DFGInPlaceAbstractState.h
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
Labels: merge-queue, JavaScriptCore

#13404 If a page changes its title while in the background, allow the page to run in the background
  Source/WebKit/UIProcess/ProcessThrottler.cpp
  Source/WebKit/UIProcess/ProcessThrottler.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxyInternals.h
Labels: merge-queue, WebKit2

#13408 [JSC] Skip ProxyObject's trap result validation in the common case (C++ code)
  JSTests/microbenchmarks/proxy-defineproperty.js
  JSTests/microbenchmarks/proxy-delete.js
  JSTests/microbenchmarks/proxy-gopd.js
  Source/JavaScriptCore/runtime/ProxyObject.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#13390 Add small margin around attachments
  LayoutTests/fast/attachment/mac/wide-attachment-image-controls-basic-expected.txt
  LayoutTests/platform/mac-wk2/fast/attachment/cocoa/wide-attachment-rendering-expected.txt
  Source/WebCore/html/shadow/attachmentElementShadow.css
Labels: merge-queue, HTML Editing

#13417 ASSERTION FAILED: isMainRunLoop() under RemoteRenderingBackend::releaseRemoteGPU()
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
Labels: merge-queue, WebGPU

#12925 [UI-side compositing] Scrollbar tests should use web process state for select elements
  LayoutTests/resources/ui-helper.js
Labels: New Bugs

#13381 [grid][masonry] Do not add extra grid gap at the bottom of masonry rows.
  LayoutTests/TestExpectations
  Source/WebCore/rendering/RenderGrid.cpp
Labels: merge-queue, Layout and Rendering

#13425 Adjust tolerance for fast/box-shadow/inset-spread-box-shadow-split-inline.html
  LayoutTests/fast/box-shadow/inset-spread-box-shadow-split-inline.html
Labels: unsafe-merge-queue, New Bugs

#13427 Fix Lint Warning in TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: merge-queue, Tools / Tests

#13341 The Document object is leaked on some pages using media (like YouTube.com)
  LayoutTests/media/media-session/actionHandler-no-document-leak-expected.txt
  LayoutTests/media/media-session/actionHandler-no-document-leak.html
  LayoutTests/media/media-session/resources/media-session-action-handler-document-leak-frame.html
  Source/WebCore/Modules/mediasession/MediaSessionActionHandler.h
  Source/WebCore/Modules/mediasession/MediaSessionActionHandler.idl
Labels: merge-queue, Media

#13431 Regression(262252@main) Flaky crash under ~CanMakeCheckedPtrBase() for ScriptExecutionContext
  Source/WebCore/bindings/js/ScriptModuleLoader.cpp
  Source/WebCore/bindings/js/ScriptModuleLoader.h
  Source/WebCore/dom/Document.cpp
  Source/WebCore/workers/WorkerOrWorkletGlobalScope.cpp
Labels: merge-queue, WebCore Misc.

#13433 Validation message should be repositioned in a update-the-rendering step
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/html/ValidationMessage.cpp
  Source/WebCore/html/ValidationMessage.h
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
Labels: unsafe-merge-queue, Forms

#13227 Flaky API Test: TestWTF.WTF_SynchronizedFixedQueue.ProduceOnly
  Tools/TestWebKitAPI/Tests/WTF/SynchronizedFixedQueue.cpp
Labels: Tools / Tests

#13434 Reveal focused input element in an event loop task instead of a post layout task
  Source/WebCore/html/HTMLInputElement.cpp
Labels: unsafe-merge-queue, Forms

#7439 [GStreamer] AV1 encoding support
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/fast/mediastream/RTCPeerConnection-inspect-answer-expected.txt
  LayoutTests/platform/glib/fast/mediastream/RTCPeerConnection-inspect-offer-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/media-capabilities/decodingInfo.webrtc-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/media-capabilities/encodingInfo.webrtc-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any.worker_av1-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/webcodecs/full-cycle-test.https.any_av1-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/webcodecs/reconfiguring-encoder.https.any.worker_av1-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/webcodecs/reconfiguring-encoder.https.any_av1-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/webcodecs/temporal-svc-encoding.https.any.worker_av1-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/webcodecs/temporal-svc-encoding.https.any_av1-expected.txt
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/platform/graphics/gstreamer/GStreamerRegistryScanner.cpp
  Source/WebCore/platform/graphics/gstreamer/VideoEncoderGStreamer.cpp
  Source/WebCore/platform/gstreamer/VideoEncoderPrivateGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeOutgoingVideoSourceGStreamer.cpp
Labels: Platform

#13231 [GTK] Split hardware acceleration information in webkit://gpu
  Source/WebCore/platform/graphics/PlatformDisplay.cpp
  Source/WebKit/UIProcess/API/glib/WebKitProtocolHandler.cpp
Labels: unsafe-merge-queue, WebKitGTK

#13395 Remove unused TextureMapperPlatformLayerDmabuf
  Source/WebCore/platform/TextureMapper.cmake
  Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerDmabuf.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerDmabuf.h
Labels: New Bugs

#13419 Address post (263049@main) feedback on svgtextcontentelement-equality-methods-parameters.html
  LayoutTests/svg/text/svgtextcontentelement-equality-methods-parameters.html
Labels: Tools / Tests

#13418 Use move semantics for UpdateInfo
  Source/WebKit/UIProcess/BackingStore.cpp
  Source/WebKit/UIProcess/BackingStore.h
  Source/WebKit/UIProcess/CoordinatedGraphics/DrawingAreaProxyCoordinatedGraphics.cpp
  Source/WebKit/UIProcess/CoordinatedGraphics/DrawingAreaProxyCoordinatedGraphics.h
  Source/WebKit/UIProcess/DrawingAreaProxy.h
  Source/WebKit/UIProcess/cairo/BackingStoreCairo.cpp
  Source/WebKit/UIProcess/wc/DrawingAreaProxyWC.cpp
  Source/WebKit/UIProcess/wc/DrawingAreaProxyWC.h
Labels: Platform

#13421 [Tools][CISupport] start-local-buildbot-server fails to start or detect the http config ports
  Tools/CISupport/start-local-buildbot-server
Labels: Tools / Tests

#13445 [ews] validate-change fails with exception sometimes
  Tools/CISupport/ews-build/steps.py
Labels: unsafe-merge-queue, Tools / Tests, skip-ews

#13442 [git-webkit] Exclude trailing . in commit regex for cherry-picks
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/trace.py
Labels: Tools / Tests

#13420 [iOS] Adjust `AVPlayerViewController` setup for fullscreen window effects
  Source/WebCore/platform/ios/VideoFullscreenInterfaceAVKit.mm
Labels: New Bugs

#13251 Use move semantics for ShareableResource::map
  Source/WebKit/NetworkProcess/cache/NetworkCacheEntry.cpp
  Source/WebKit/Shared/ShareableResource.cpp
  Source/WebKit/Shared/ShareableResource.h
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
  Source/WebKit/UIProcess/ios/WebPageProxyIOS.mm
  Source/WebKit/WebProcess/Network/NetworkProcessConnection.cpp
  Source/WebKit/WebProcess/Network/WebResourceLoader.cpp
Labels: Platform

#13382 [git-webkit] Use shared commit issue parsing in 'trace'
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/trace.py
Labels: Tools / Tests, skip-ews

#13384 [git-webkit] Correct --format in branch list
  Tools/Scripts/libraries/webkitscmpy/setup.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/mocks/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/publish.py
Labels: Tools / Tests, skip-ews

#13452 [git-webkit] Cache filed bug (Follow-up fix)
  Tools/Scripts/hooks/prepare-commit-msg
Labels: unsafe-merge-queue, Tools / Tests

#13292 Use move semantics for ShareableBitmap::create
  Source/WebKit/Shared/ShareableBitmap.cpp
  Source/WebKit/Shared/ShareableBitmap.h
  Source/WebKit/Shared/gtk/ArgumentCodersGtk.cpp
  Source/WebKit/UIProcess/BackingStore.cpp
Labels: merge-queue, Platform

#13443 [GStreamer] USE_GSTREAMER_TRANSCODER and USE_GSTREAMER_WEBRTC should be public
  Source/cmake/GStreamerDefinitions.cmake
Labels: unsafe-merge-queue, WebKitGTK

#13437 Delete LocalFrameView::queuePostLayoutCallback
  Source/WebCore/page/LocalFrameView.cpp
  Source/WebCore/page/LocalFrameView.h
Labels: unsafe-merge-queue, WebCore Misc.

#13411 [ macOS, iOS ] ASSERTION FAILED: remoteWorkerProcesses().contains(process) in WebKit::WebProcessPool::removeFromRemoteWorkerProcesses
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkProcess.messages.in
  Source/WebKit/Shared/RemoteWorkerType.h
  Source/WebKit/Shared/RemoteWorkerType.serialization.in
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.messages.in
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessPool.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebProcess.h
  Source/WebKit/WebProcess/WebProcess.messages.in
Labels: merge-queue, WebKit2

#13003 Refactor Canvas Post-Processing logic in CanvasBase
  Source/WebCore/html/CanvasBase.cpp
  Source/WebCore/html/CanvasBase.h
  Source/WebCore/html/CustomPaintCanvas.h
  Source/WebCore/html/HTMLCanvasElement.cpp
  Source/WebCore/html/HTMLCanvasElement.h
  Source/WebCore/html/OffscreenCanvas.cpp
  Source/WebCore/html/OffscreenCanvas.h
  Source/WebCore/html/canvas/CanvasRenderingContext.h
  Source/WebCore/html/canvas/CanvasRenderingContext2DBase.cpp
  Source/WebCore/html/canvas/CanvasRenderingContext2DBase.h
Labels: New Bugs

#13435 When the attachment "progress" is zero, show a placeholder icon
  LayoutTests/fast/attachment/cocoa/wide-attachment-rendering.html
  LayoutTests/platform/ios-wk2/fast/attachment/cocoa/wide-attachment-rendering-expected.txt
  LayoutTests/platform/mac-wk2/fast/attachment/cocoa/wide-attachment-rendering-expected.txt
  Source/WebCore/html/HTMLAttachmentElement.cpp
  Source/WebCore/html/HTMLAttachmentElement.h
  Source/WebCore/html/shadow/attachmentElementShadow.css
Labels: merge-queue, HTML Editing

#13455 Shuffle clobbers indirect call target in BBQ JIT
  JSTests/wasm/stress/call-indirect-argument-depends-on-load.js
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
Labels: merge-queue, WebAssembly

#13423 Running API tests often logs "Error while launching com.apple.WebKit.Networking: Connection invalid"
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
Labels: merge-queue, Tools / Tests

#13439 LocalFrameView::performPostLayoutTasks should not synchronously scroll to or focus an element
  Source/WebCore/page/LocalFrameView.cpp
  Source/WebCore/page/LocalFrameView.h
Labels: unsafe-merge-queue, Layout and Rendering

#13447 REGRESSION (GPU Process): Data detector border doesn't appear when hovering over text in Mail
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundlePageOverlay.cpp
Labels: merge-queue, Platform

#13469 Change status of djg to reviewer
  metadata/contributors.json
Labels: unsafe-merge-queue, Tools / Tests

#13444 [iOS] Cleanup MediaPlayerSPI.h
  Source/WebCore/PAL/pal/spi/ios/MediaPlayerSPI.h
Labels: Media

#13465 [JSC] Fix printEachOSRExit option
  Source/JavaScriptCore/ftl/FTLOSRExitCompiler.cpp
Labels: merge-queue

#13265 [GTK] Build fix for Debian stable after 263331@main
  Tools/MiniBrowser/gtk/main.c
Labels: unsafe-merge-queue

#13473 Document::updateStyleIfNeeded() should instantiate ScriptDisallowedScope::InMainThread for its entirety
  Source/WebCore/dom/Document.cpp
Labels: unsafe-merge-queue, Layout and Rendering

#13458 [grid][masonry] Update masonry items' offsets using HashMap's set() instead of add().
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/item-placement/masonry-rows-with-grid-width-changed-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/item-placement/masonry-rows-with-grid-width-changed-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/item-placement/masonry-rows-with-grid-width-changed.html
  Source/WebCore/rendering/GridMasonryLayout.cpp
Labels: merge-queue, CSS

#13441 check-webkit-style: enforce whitespace/end_of_line
  Tools/Scripts/webkitpy/style/checker.py
Labels: merge-queue, Tools / Tests

#13454 Ignore public suffixes when checking whether to apply adjustments in `Document::urlForBindings`
  Source/WebCore/dom/Document.cpp
Labels: Platform

#13464 CSS Masonry Ensure Grid Size Updates on Resize
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-check-grid-height-on-resize-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-check-grid-height-on-resize-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-check-grid-height-on-resize.html
  Source/WebCore/rendering/GridMasonryLayout.cpp
Labels: merge-queue, CSS

#13468 Hide the file icon when the progress or placeholder is visible.
  LayoutTests/platform/ios-wk2/fast/attachment/cocoa/wide-attachment-rendering-expected.txt
  LayoutTests/platform/mac-wk2/fast/attachment/cocoa/wide-attachment-rendering-expected.txt
  Source/WebCore/html/HTMLAttachmentElement.cpp
Labels: merge-queue, HTML Editing

#13460 [GLib] Audit and fix incorrect use of (closure) in WebKit
  Source/JavaScriptCore/API/glib/JSCClass.cpp
  Source/JavaScriptCore/API/glib/JSCContext.cpp
  Source/JavaScriptCore/API/glib/JSCValue.cpp
  Source/WebKit/UIProcess/API/glib/WebKitCookieManager.cpp
  Source/WebKit/UIProcess/API/glib/WebKitFaviconDatabase.cpp
  Source/WebKit/UIProcess/API/glib/WebKitNetworkSession.cpp
  Source/WebKit/UIProcess/API/glib/WebKitUserContentFilterStore.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebContext.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebResource.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebView.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebsiteDataManager.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/glib/WebKitWebExtension.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/glib/WebKitWebPage.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/glib/WebKitWebProcessExtension.cpp
Labels: merge-queue, WebKitGTK

#13477 REGRESSION (260800@main): attributedStringAppendWrapper() leaks an NSMutableAttributedString
  Source/WebCore/accessibility/cocoa/AccessibilityObjectCocoa.mm
Labels: unsafe-merge-queue, Accessibility

#13496 [Gardening]: REGRESSION (253865@main): [ iOS ] scrollingcoordinator/ios/fixed-in-frame-layer-reconcile-layer-position.html is a consistent failure
  LayoutTests/platform/ipad/scrollingcoordinator/ios/fixed-in-frame-layer-reconcile-layer-position-expected.txt
Labels: unsafe-merge-queue, New Bugs

#13497 [Gardening]: REGRESSION (253865@main): [ iOS ] scrollingcoordinator/ios/fixed-in-frame-layer-reconcile-layer-position.html is a consistent failure
  LayoutTests/platform/ios-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#13478 REGRESSION (252425@main): Leaks in CcidService::platformStartDiscovery() and CcidService::updateSlots()
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/CcidService.mm
Labels: unsafe-merge-queue, WebKit Misc.

#13422 Enable strict deserialization of DDActionContext behind a runtime flag
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/mac/DataDetectorsSoftLink.h
  Source/WebCore/PAL/pal/mac/DataDetectorsSoftLink.mm
  Source/WebCore/PAL/pal/spi/mac/DataDetectorsSPI.h
  Source/WebCore/editing/cocoa/DataDetection.h
  Source/WebCore/editing/cocoa/DataDetection.mm
  Source/WebKit/Platform/mac/MenuUtilities.mm
  Source/WebKit/Shared/Cocoa/ArgumentCodersCocoa.mm
  Source/WebKit/Shared/WebHitTestResultData.h
  Source/WebKit/Shared/mac/WebHitTestResultPlatformData.serialization.in
  Source/WebKit/UIProcess/API/APIHitTestResult.h
  Source/WebKit/UIProcess/mac/WKImmediateActionController.h
  Source/WebKit/UIProcess/mac/WKImmediateActionController.mm
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundlePageOverlay.cpp
  Source/WebKit/WebProcess/WebPage/WebPageOverlay.h
  Source/WebKitLegacy/mac/WebView/WebImmediateActionController.mm
Labels: WebKit Misc.

#13426 REGRESSION(263286@main): [ Debug ] ASSERTION FAILED: !m_scrollDimensionsDirty
  LayoutTests/fast/layers/scroll-dimentions-dirty-assertion-expected.txt
  LayoutTests/fast/layers/scroll-dimentions-dirty-assertion.html
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/RenderLayer.h
  Source/WebCore/rendering/RenderLayerCompositor.cpp
  Source/WebCore/rendering/RenderLayerCompositor.h
  Source/WebCore/rendering/RenderLayerScrollableArea.cpp
  Source/WebCore/rendering/RenderLayerScrollableArea.h
Labels: merge-queue, Compositing

#13483 LocalFrameViewLayoutContext::updateStyleForLayout() should instantiate ScriptDisallowedScope::InMainThread
  Source/WebCore/page/LocalFrameViewLayoutContext.cpp
Labels: unsafe-merge-queue, Layout and Rendering

#13485 LocalFrameView::performPostLayoutTasks should not synchronously scroll to or focus an element (2)
  LayoutTests/fast/dynamic/anchor-lock.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-scroll-anchoring/fragment-scrolling-anchors.html
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/page/LocalFrameView.cpp
Labels: unsafe-merge-queue, Layout and Rendering

#13500 Add value argument to URLSearchParams's has() and delete()
  LayoutTests/imported/w3c/web-platform-tests/url/a-element-origin-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/url/a-element-origin-xhtml-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/url/a-element-xhtml_exclude=(file_javascript_mailto)-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/url/a-element_exclude=(file_javascript_mailto)-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/url/resources/urltestdata.json
  LayoutTests/imported/w3c/web-platform-tests/url/url-constructor.any.worker_exclude=(file_javascript_mailto)-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/url/url-constructor.any_exclude=(file_javascript_mailto)-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/url/url-origin.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/url/url-origin.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/url/urlsearchparams-delete.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/url/urlsearchparams-delete.any.js
  LayoutTests/imported/w3c/web-platform-tests/url/urlsearchparams-delete.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/url/urlsearchparams-has.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/url/urlsearchparams-has.any.js
  LayoutTests/imported/w3c/web-platform-tests/url/urlsearchparams-has.any.worker-expected.txt
  Source/WebCore/html/URLSearchParams.cpp
  Source/WebCore/html/URLSearchParams.h
  Source/WebCore/html/URLSearchParams.idl
Labels: merge-queue, DOM

#13436 Assert that LocalFrameView::didLayout doesn't execute any author scripts
  Source/WebCore/page/LocalFrameView.cpp
Labels: unsafe-merge-queue, Layout and Rendering

#13475 REGRESSION (260364@main-260393@main): [ iOS , Ventura ] 2x TestWebKitAPI.GPUProcess tests are near constant failures
  Tools/TestWebKitAPI/Tests/WebKitCocoa/GPUProcess.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/audio-context-playing.html
Labels: merge-queue, New Bugs

#13424 CEReactions should always specify a value of Needed or NotNeeded
  Source/WebCore/Modules/pictureinpicture/HTMLVideoElement+PictureInPicture.idl
  Source/WebCore/accessibility/AriaAttributes.idl
  Source/WebCore/animation/WebAnimation.idl
  Source/WebCore/bindings/scripts/CodeGeneratorJS.pm
  Source/WebCore/bindings/scripts/IDLAttributes.json
  Source/WebCore/bindings/scripts/test/TestCEReactions.idl
  Source/WebCore/bindings/scripts/test/TestCEReactionsStringifier.idl
  Source/WebCore/bindings/scripts/test/TestDelegateToSharedSyntheticAttribute.idl
  Source/WebCore/bindings/scripts/test/TestDomainSecurity.idl
  Source/WebCore/css/CSSStyleDeclaration.idl
  Source/WebCore/css/process-css-properties.py
  Source/WebCore/dom/Attr.idl
  Source/WebCore/dom/ChildNode.idl
  Source/WebCore/dom/CustomElementRegistry.idl
  Source/WebCore/dom/DOMStringMap.idl
  Source/WebCore/dom/Document+HTML.idl
  Source/WebCore/dom/Document+HTMLObsolete.idl
  Source/WebCore/dom/Document.idl
  Source/WebCore/dom/Element+DOMParsing.idl
  Source/WebCore/dom/Element.idl
  Source/WebCore/dom/ElementContentEditable.idl
  Source/WebCore/dom/ElementInternals.idl
  Source/WebCore/dom/InnerHTML.idl
  Source/WebCore/dom/NamedNodeMap.idl
  Source/WebCore/dom/Node.idl
  Source/WebCore/dom/ParentNode.idl
  Source/WebCore/dom/Range+DOMParsing.idl
  Source/WebCore/dom/Range.idl
  Source/WebCore/html/DOMTokenList.idl
  Source/WebCore/html/HTMLAnchorElement.idl
  Source/WebCore/html/HTMLDialogElement.idl
  Source/WebCore/html/HTMLElement.idl
  Source/WebCore/html/HTMLFieldSetElement.idl
  Source/WebCore/html/HTMLFormElement.idl
  Source/WebCore/html/HTMLIFrameElement.idl
  Source/WebCore/html/HTMLImageElement.idl
  Source/WebCore/html/HTMLLinkElement.idl
  Source/WebCore/html/HTMLOptionElement.idl
  Source/WebCore/html/HTMLOptionsCollection.idl
  Source/WebCore/html/HTMLOrForeignElement.idl
  Source/WebCore/html/HTMLOutputElement.idl
  Source/WebCore/html/HTMLScriptElement.idl
  Source/WebCore/html/HTMLSelectElement.idl
  Source/WebCore/html/HTMLTableElement.idl
  Source/WebCore/html/HTMLTableRowElement.idl
  Source/WebCore/html/HTMLTableSectionElement.idl
  Source/WebCore/html/HTMLTitleElement.idl
  Source/WebCore/page/DOMSelection.idl
  Source/WebCore/xml/XSLTProcessor.idl
Labels: unsafe-merge-queue, Bindings

#13474 InteractionRegions: configure guard layers differently than occlusions
  LayoutTests/interaction-region/input-type-file-region-expected.txt
  LayoutTests/interaction-region/input-type-range-region-expected.txt
  LayoutTests/interaction-region/labels-expected.txt
  LayoutTests/interaction-region/layer-tree-expected.txt
  LayoutTests/interaction-region/paused-video-regions-expected.txt
  LayoutTests/interaction-region/tiny-regions-expected.txt
  LayoutTests/interaction-region/wrapped-inline-link-expected.txt
  Source/WebCore/page/InteractionRegion.cpp
  Source/WebCore/page/InteractionRegion.h
  Source/WebCore/rendering/EventRegion.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewTesting.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeInteractionRegionLayers.mm
Labels: merge-queue, Layout and Rendering

#11988 OffscreenCanvas rendering can hide the border from the element.
  LayoutTests/fast/canvas/offscreen-backing-store-attached-expected.html
  LayoutTests/fast/canvas/offscreen-backing-store-attached.html
  LayoutTests/fast/canvas/offscreen-border-expected.html
  LayoutTests/fast/canvas/offscreen-border.html
  LayoutTests/fast/canvas/offscreen-clipped-expected.html
  LayoutTests/fast/canvas/offscreen-clipped.html
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
  Source/WebCore/html/canvas/GPUCanvasContextCocoa.mm
  Source/WebCore/platform/graphics/GraphicsLayerContentsDisplayDelegate.h
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.cpp
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.h
  Source/WebCore/platform/graphics/ca/PlatformCALayer.mm
  Source/WebCore/platform/graphics/ca/PlatformCALayerDelegatedContents.h
  Source/WebCore/platform/graphics/ca/cocoa/GraphicsLayerAsyncContentsDisplayDelegateCocoa.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreePropertyApplier.mm
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.messages.in
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeHost.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeHost.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeNode.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/GPU/graphics/cocoa/RemoteGraphicsContextGLProxyCocoa.mm
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/GraphicsLayerCARemote.mm
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteScrollbarsController.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteScrollbarsController.mm
Labels: Layout and Rendering

#13407 [WGSL] Make AST type nodes arena allocated
  Source/WebGPU/WGSL/AST/ASTFunction.h
  Source/WebGPU/WGSL/AST/ASTTypeName.h
  Source/WebGPU/WGSL/AST/ASTVariable.h
  Source/WebGPU/WGSL/EntryPointRewriter.cpp
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
  Source/WebGPU/WGSL/Parser.cpp
Labels: WebGPU

#13512 Pass FrameIdentifier to WebFrame constructor
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Labels: unsafe-merge-queue, WebKit Process Model

#13510 [JSC] Remove linkRecordSourceComparator
  Source/JavaScriptCore/assembler/ARM64Assembler.h
  Source/JavaScriptCore/assembler/ARMv7Assembler.h
Labels: unsafe-merge-queue, JavaScriptCore

#13503 [CSS] Delete unused StyleRule::resolvedSelectorList
  Source/WebCore/css/StyleRule.h
Labels: merge-queue, WebCore Misc.

#13521 Fix PlayStation build after 263719@main
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/StyleMiscNonInheritedData.cpp
  Source/WebCore/rendering/style/StyleMultiColData.cpp
  Source/WebCore/rendering/svg/RenderSVGResource.cpp
  Source/WebCore/rendering/svg/RenderSVGTextPath.h
  Source/WebCore/rendering/svg/SVGTextLayoutEngine.cpp
Labels: unsafe-merge-queue, Tools / Tests

#13514 Refactor Masonry Initialization Logic to Separate Function
  Source/WebCore/rendering/GridMasonryLayout.cpp
  Source/WebCore/rendering/GridMasonryLayout.h
Labels: CSS
