Repository WebKit/WebKit, pull requests merged in 2024-10, with the labels that each got.

#34478 [Gardening]: [ Sonoma Debug arm64]: ASSERTION FAILED: m_clients.contains(client) in imported/w3c/web-platform-tests/media-source/URL-createObjectURL-null.html
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, Media

#34412 Add an experimental flag for WebRTC L4S support
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/Modules/mediastream/libwebrtc/LibWebRTCMediaEndpoint.cpp
  Source/WebCore/Modules/mediastream/libwebrtc/LibWebRTCPeerConnectionBackend.cpp
  Source/WebCore/Modules/mediastream/libwebrtc/LibWebRTCPeerConnectionBackend.h
  Tools/WebKitTestRunner/TestController.cpp
Labels: merge-queue

#34469 `-[WKWebViewConfiguration writingToolsBehavior]` not available when using a deployment target lower than iOS 18
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewConfiguration.h
Labels: unsafe-merge-queue, WebKit API

#34483 Unreviewed, fix some internal builds after 284472@main
  Source/WebKit/WebKitSwift/TextExtraction/WKWebView+TextExtraction.swift
Labels: unsafe-merge-queue

#34479 [Win] Stop using -Wno-sign-compare
  Source/WTF/wtf/Threading.h
  Source/WTF/wtf/win/FileSystemWin.cpp
  Source/WTF/wtf/win/ThreadingWin.cpp
  Source/WebCore/platform/graphics/win/MediaPlayerPrivateMediaFoundation.cpp
  Source/WebCore/platform/win/ClipboardUtilitiesWin.cpp
  Source/WebCore/platform/win/WebCoreTextRenderer.cpp
  Source/WebCore/platform/win/WheelEventWin.cpp
  Source/WebCore/platform/win/WindowsKeyNames.cpp
  Source/WebKit/Shared/win/WebEventFactory.cpp
  Source/WebKit/UIProcess/Inspector/win/WebInspectorUIProxyWin.cpp
  Source/WebKit/UIProcess/win/WebPopupMenuProxyWin.cpp
  Source/WebKit/UIProcess/win/WebView.cpp
  Source/WebKit/WebProcess/WebCoreSupport/win/WebPopupMenuWin.cpp
  Source/cmake/WebKitCompilerFlags.cmake
  Tools/MiniBrowser/win/WebKitBrowserWindow.cpp
Labels: unsafe-merge-queue, New Bugs

#34482 RE-BASELINE: fast/text/font-weights-zh.html
  LayoutTests/platform/ios/fast/text/font-weights-zh-expected.txt
Labels: merge-queue, Text

#34481 REGRESSION(284435@main) Broke CloseWebViewAfterEnterFullscreen tests.
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: merge-queue, Tools / Tests

#34459 Annotate Geolocation API message endpoints with feature flag
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/Modules/geolocation/Geolocation.idl
  Source/WebCore/Modules/geolocation/GeolocationCoordinates.idl
  Source/WebCore/Modules/geolocation/GeolocationPosition.idl
  Source/WebCore/Modules/geolocation/GeolocationPositionError.idl
  Source/WebCore/Modules/geolocation/Navigator+Geolocation.idl
  Source/WebCore/Modules/geolocation/PositionCallback.idl
  Source/WebCore/Modules/geolocation/PositionErrorCallback.idl
  Source/WebCore/bindings/js/WebCoreBuiltinNames.h
  Source/WebKit/UIProcess/WebGeolocationManagerProxy.cpp
  Source/WebKit/UIProcess/WebGeolocationManagerProxy.h
  Source/WebKit/UIProcess/WebGeolocationManagerProxy.messages.in
  Source/WebKit/UIProcess/WebPageProxy.messages.in
Labels: New Bugs

#34462 [GTK][WPE] Clicking 'Run Benchmark' button on MotionMark 1.3(.1) developer.html asserts with threaded CPU rendering
  Source/WebCore/platform/graphics/controls/ControlPart.cpp
  Source/WebCore/platform/graphics/controls/ControlPart.h
  Source/WebCore/platform/graphics/displaylists/DisplayListItems.cpp
Labels: merge-queue, WPE WebKit

#34449 [JSC] `Object.assign` shouldn't do batching when sources argument contains target object
  JSTests/stress/object-assign-self-assign.js
  Source/JavaScriptCore/runtime/ObjectConstructor.cpp
Labels: merge-queue, JavaScriptCore

#34492 Deploy smart pointers in AuxiliaryProcess.cpp and AuxiliaryProcessProxy.cpp
  Source/WebKit/Shared/AuxiliaryProcess.cpp
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.cpp
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.h
Labels: merge-queue, WebKit2

#34448 [WPE][GPUProcess] Unreviewed gardening.
  LayoutTests/platform/wpe/TestExpectations
Labels: merge-queue, WPE WebKit

#34475 [iOS] Unable to keyboard scroll until interacting with a webpage
  Source/WTF/wtf/PlatformHave.h
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/ios/WKContentView.mm
Labels: New Bugs

#34470 Annotate Device Orientation Permission message endpoint with feature flag
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebKit/UIProcess/WebPageProxy.messages.in
Labels: merge-queue, New Bugs

#34486 Log message name when message receiver is disabled
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/Scripts/webkit/tests/TestWithEnabledByAndConjunctionMessageReceiver.cpp
  Source/WebKit/Scripts/webkit/tests/TestWithEnabledByOrConjunctionMessageReceiver.cpp
  Source/WebKit/Scripts/webkit/tests/TestWithEnabledIfMessageReceiver.cpp
Labels: merge-queue, New Bugs

#34473 Adopt more smart pointers in GPUProcess/media (part 3)
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h
  Source/WebKit/GPUProcess/media/cocoa/RemoteMediaPlayerProxyCocoa.mm
Labels: WebKit Misc.

#34472 [css-anchor-position-1] Parse anchor argument as <percent> instead of <percent-token>
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/anchor-parse-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/anchor-parse-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/anchor-parse-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/anchor-parse-valid.html
  Source/WebCore/css/calc/CSSCalcTree+Copy.cpp
  Source/WebCore/css/calc/CSSCalcTree+Evaluation.cpp
  Source/WebCore/css/calc/CSSCalcTree+Evaluation.h
  Source/WebCore/css/calc/CSSCalcTree+Parser.cpp
  Source/WebCore/css/calc/CSSCalcTree+Serialization.cpp
  Source/WebCore/css/calc/CSSCalcTree+Simplification.cpp
  Source/WebCore/css/calc/CSSCalcTree.h
  Source/WebCore/style/AnchorPositionEvaluator.cpp
  Source/WebCore/style/AnchorPositionEvaluator.h
Labels: CSS

#34420 [JSC] Use build-id in Unix for versioning
  Source/JavaScriptCore/runtime/JSCBytecodeCacheVersion.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#34487 Adopt more smart pointers in GPUProcess/graphics (part 1)
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteBindGroup.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteBindGroup.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteBindGroupLayout.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteBindGroupLayout.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteQuerySet.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteQuerySet.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteRenderPassEncoder.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteRenderPassEncoder.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteSampler.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteSampler.h
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteBindGroupProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteRenderPassEncoderProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteRenderPassEncoderProxy.h
Labels: unsafe-merge-queue, WebKit Misc.

#34139 Handle JIT tier dependencies better at compile time
  Source/WTF/wtf/PlatformEnable.h
Labels: merge-queue, JavaScriptCore

#34515 [ Gardening ]New-test(284267@main)[ macOS ] TestWebKitAPI.Fullscreen.VideoPausesAfterExitingFullscreen is a flaky failure
  Tools/TestWebKitAPI/Tests/WebKitCocoa/FullscreenLifecycle.mm
Labels: unsafe-merge-queue, Media

#34467 Adopt more smart pointers in GPUProcess/media (part 2)
  Source/WebKit/GPUProcess/media/RemoteCDMInstanceSessionProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteCDMInstanceSessionProxy.h
  Source/WebKit/GPUProcess/media/RemoteLegacyCDMSessionProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteLegacyCDMSessionProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaResourceManager.cpp
  Source/WebKit/GPUProcess/media/RemoteSourceBufferProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteSourceBufferProxy.h
Labels: merge-queue, WebKit Misc.

#34437 [JSC] Avoid resolveRope when substring can be done in leaf of rope
  Source/JavaScriptCore/runtime/JSString.h
Labels: unsafe-merge-queue, JavaScriptCore

#34517 [ Gardening ][ Sonoma+ ] TestWebKitAPI.WebKit.ProcessSuspendMediaBuffering is a flaky timeout
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ProcessSuspendMediaBuffering.mm
Labels: unsafe-merge-queue, Media

#34493 Add site-isolation timeouts to TestExpectations 2024-10-01
  LayoutTests/platform/mac-site-isolation/TestExpectations
Labels: merge-queue, Tools / Tests

#34476 Adopt more smart pointers in GPUProcess/webrtc
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.h
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.mm
  Source/WebKit/GPUProcess/webrtc/RemoteAudioMediaStreamTrackRendererInternalUnitManager.cpp
  Source/WebKit/GPUProcess/webrtc/RemoteMediaRecorder.cpp
  Source/WebKit/GPUProcess/webrtc/RemoteSampleBufferDisplayLayer.cpp
  Source/WebKit/GPUProcess/webrtc/RemoteSampleBufferDisplayLayerManager.cpp
  Source/WebKit/GPUProcess/webrtc/RemoteSampleBufferDisplayLayerManager.h
Labels: WebKit Misc.

#34318 [JSC] Add a fast path for String.prototype.replace one char with a simple string
  JSTests/microbenchmarks/string-replace-one-char-long-string-string-string.js
  JSTests/microbenchmarks/string-replace-one-char-short-string-string-string.js
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/runtime/JSString.h
  Source/JavaScriptCore/runtime/JSStringInlines.h
  Source/JavaScriptCore/runtime/Operations.h
  Source/JavaScriptCore/runtime/StringPrototype.cpp
  Source/JavaScriptCore/runtime/StringPrototypeInlines.h
Labels: merge-queue, JavaScriptCore

#34521 [ Gardening ][ Sonoma+ ] TestWebKitAPI.IndexedDB.IndexedDBFileHashCollision is a flaky failure
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IndexedDBFileName.mm
Labels: unsafe-merge-queue, New Bugs

#34458 Adopt more smart pointers in GPUProcess/media (part 1)
  Source/WebKit/GPUProcess/media/RemoteCDMInstanceProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteLegacyCDMProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteLegacyCDMProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaSourceProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteVideoFrameObjectHeap.cpp
  Source/WebKit/GPUProcess/media/RemoteVideoFrameObjectHeap.h
  Source/WebKit/WebProcess/GPU/webrtc/RemoteVideoFrameObjectHeapProxy.h
  Source/WebKit/WebProcess/GPU/webrtc/RemoteVideoFrameObjectHeapProxyProcessor.cpp
  Source/WebKit/WebProcess/GPU/webrtc/RemoteVideoFrameObjectHeapProxyProcessor.h
Labels: WebKit Misc.

#34404 Implement `Element.currentCSSZoom`
  LayoutTests/imported/w3c/web-platform-tests/css/cssom-view/Element-currentCSSZoom-expected.txt
  Source/WebCore/dom/Element+CSSOMView.idl
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/Element.h
Labels: merge-queue, DOM

#20135 [JSC] Reduce the number of @generatorResume() parameters by 2
  Source/JavaScriptCore/builtins/GeneratorPrototype.js
Labels: JavaScriptCore

#34491 check-webkit-style: file path based skip rules don't work as expected in the diff mode with Windows Python
  Tools/Scripts/webkitpy/style/patchreader.py
  Tools/Scripts/webkitpy/style/patchreader_unittest.py
Labels: unsafe-merge-queue, Tools / Tests

#34526 Unreviewed fix WatchOS build after 284499@main
  Source/WTF/wtf/PlatformEnableCocoa.h
Labels: unsafe-merge-queue

#34510 AirPods unmuting should not unmute camera if website muted camera
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: merge-queue, WebRTC

#33744 RemoteLayerTreeDrawingAreaProxy needs to be made more robustly aware of multiple processes.
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/UIProcess/DrawingAreaProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeHost.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeHost.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeNode.mm
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteLayerTreeDrawingAreaProxyIOS.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteLayerTreeDrawingAreaProxyIOS.mm
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/ios/WKContentView.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/mac/TiledCoreAnimationDrawingAreaProxy.h
  Source/WebKit/UIProcess/mac/TiledCoreAnimationDrawingAreaProxy.mm
Labels: merge-queue, Layout and Rendering

#34305 Add plumbing to import WebGPU::Queue and WebGPU::Buffer into Swift as reference types
  Source/WTF/WTF.xcodeproj/project.pbxproj
  Source/WTF/wtf/RefCounted.h
  Source/WTF/wtf/RetainReleaseSwift.h
  Source/WTF/wtf/ThreadSafeRefCounted.h
  Source/WebGPU/Configurations/WebGPU.xcconfig
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
  Source/WebGPU/WebGPU/Buffer.h
  Source/WebGPU/WebGPU/Instance.h
  Source/WebGPU/WebGPU/Queue.h
  Source/WebGPU/WebGPU/Queue.mm
  Source/WebGPU/WebGPU/Queue.swift
  Source/WebGPU/WebGPU/WebGPUExt.h
  Source/bmalloc/libpas/src/libpas/pas_utils.h
Labels: WebGPU

#34516 Add `--sort` flag to compare-results
  Tools/Scripts/compare-results
Labels: unsafe-merge-queue, Tools / Tests

#33436 Some CA transforms animations jump back and forth instead of animating continuously (Poster Circle)
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.cpp
Labels: merge-queue, Layout and Rendering

#34530 [JSC] Do not perform String.replace(String, String) when it is not observable
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGMayExit.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#34536 Unreviewed, reverting 283970@main (94ca8797e759)
  Source/WTF/wtf/PlatformEnable.h
  Source/WebCore/Modules/webxr/XRSubImage.h
Labels: unsafe-merge-queue, WebGPU

#34520 REGRESSION(282394@main): [ Ventura ] Flaky ASSERTION FAILED: !users.contains(pageID) on TestWebKitAPI.ProcessSwap.ConcurrentHistoryNavigations
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ProcessSwapOnNavigation.mm
Labels: unsafe-merge-queue, WebKit Process Model

#34537 Unreviewed, reverting 284521@main (6b3844c9a62f)
  Source/WTF/wtf/PlatformEnable.h
  Source/WebCore/Modules/webxr/XRSubImage.h
Labels: unsafe-merge-queue, WebGPU

#32592 Adding propper waiting for async api to finish in layout tests.
  LayoutTests/compositing/geometry/fixed-position-composited-page-scale-smaller-than-viewport-expected.html
  LayoutTests/compositing/geometry/fixed-position-composited-page-scale-smaller-than-viewport.html
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/svg/as-background-image/tiled-background-image-expected.html
Labels: unsafe-merge-queue, Layout and Rendering

#34511 [TZone] Annotate more subclasses found during bench testing
  Source/WebCore/page/scrolling/ThreadedScrollingTree.cpp
  Source/WebCore/page/scrolling/ThreadedScrollingTree.h
  Source/WebCore/platform/audio/ios/MediaSessionManagerIOS.h
  Source/WebCore/platform/audio/ios/MediaSessionManagerIOS.mm
  Source/WebCore/platform/graphics/cocoa/SourceBufferParserWebM.cpp
  Source/WebCore/platform/graphics/cocoa/SourceBufferParserWebM.h
  Source/WebKit/Shared/API/Cocoa/RemoteObjectInvocation.h
  Source/WebKit/Shared/API/Cocoa/RemoteObjectInvocation.mm
  Source/WebKit/UIProcess/Cocoa/FullscreenClient.h
  Source/WebKit/UIProcess/Cocoa/FullscreenClient.mm
  Source/WebKit/UIProcess/Cocoa/NavigationState.h
  Source/WebKit/UIProcess/Cocoa/NavigationState.mm
  Source/WebKit/UIProcess/Cocoa/UIDelegate.h
  Source/WebKit/UIProcess/Cocoa/UIDelegate.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingTree.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingTree.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteScrollingCoordinatorProxyIOS.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteScrollingCoordinatorProxyIOS.mm
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteScrollingTreeIOS.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteScrollingTreeIOS.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingCoordinatorProxyMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingCoordinatorProxyMac.mm
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingTreeMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingTreeMac.mm
  Source/WebKit/WebProcess/Storage/WebSharedWorkerContextManagerConnection.cpp
  Source/WebKit/WebProcess/Storage/WebSharedWorkerContextManagerConnection.h
Labels: merge-queue, WebXR

#34525 Increase the priority of the DNR rule translation background thread
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
Labels: merge-queue, WebKit Extensions

#34527 Regression(284454@main?): [ Debug ] 30x TestWebKitAPI.WebPushD* (api-tests) are constant failures
  Source/WebKit/webpushd/PushService.mm
Labels: unsafe-merge-queue, New Bugs

#34507 Getting a storage key with a default value of null returns undefined.
  Source/WebKit/WebProcess/Extensions/Bindings/Cocoa/JSWebExtensionWrapperCocoa.mm
  Source/WebKit/WebProcess/Extensions/Bindings/JSWebExtensionWrapper.h
  Source/WebKit/WebProcess/Extensions/Bindings/Scripts/CodeGeneratorExtensions.pm
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPIStorageArea.idl
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIStorage.mm
Labels: WebKit Extensions

#34463 [ews-build] Bring up Safer-CPP-Checks queue!
  Tools/CISupport/ews-app/ews/common/github.py
  Tools/CISupport/ews-app/ews/views/statusbubble.py
  Tools/CISupport/ews-build/config.json
  Tools/CISupport/ews-build/factories_unittest.py
  Tools/CISupport/ews-build/steps.py
Labels: unsafe-merge-queue, Tools / Tests

#34528 ControlPart not contains a raw pointer to ControlFactory
  Source/WebCore/platform/graphics/controls/ControlPart.cpp
  Source/WebCore/platform/graphics/controls/ControlPart.h
Labels: unsafe-merge-queue, WebCore Misc.

#34069 Remove EventSendingController::scalePageBy.
  LayoutTests/compositing/fixed-with-fixed-layout.html
  LayoutTests/compositing/layer-creation/zoomed-clip-intersection.html
  LayoutTests/compositing/tiling/tile-cache-zoomed.html
  LayoutTests/fast/css/sticky/sticky-top-zoomed-expected.html
  LayoutTests/fast/css/sticky/sticky-top-zoomed.html
  LayoutTests/fast/dom/zoom-scroll-page-test.html
  LayoutTests/fast/events/ios/viewport-device-width-allows-double-tap-zoom-out.html
  LayoutTests/fast/repaint/fixed-in-page-scale.html
  LayoutTests/fast/repaint/fixed-right-bottom-in-page-scale.html
  LayoutTests/fast/repaint/fixed-right-in-page-scale.html
  LayoutTests/fast/repaint/zoomed-fixed-background.html
  LayoutTests/fast/visual-viewport/zoomed-scroll-into-view-fixed.html
  LayoutTests/fast/visual-viewport/zoomed-scroll-to-anchor-in-position-fixed.html
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/ios/compositing/tiling/tile-cache-zoomed-expected.txt
  LayoutTests/platform/mac-wk2/plugins/mouse-events-scaled.html
  LayoutTests/tiled-drawing/scrolling/fixed-background/fixed-body-background-zoomed-expected.txt
  LayoutTests/tiled-drawing/scrolling/fixed-background/fixed-body-background-zoomed.html
  LayoutTests/tiled-drawing/scrolling/fixed/four-bars-zoomed.html
  LayoutTests/tiled-drawing/scrolling/scroll-snap/scroll-snap-mandatory-mainframe-horizontal-with-keyboard-scaled.html
  LayoutTests/tiled-drawing/scrolling/scroll-snap/scroll-snap-mandatory-mainframe-vertical-with-keyboard-scaled.html
  LayoutTests/tiled-drawing/tile-size-slow-zoomed-expected.txt
  LayoutTests/tiled-drawing/tile-size-slow-zoomed.html
  LayoutTests/tiled-drawing/tiled-drawing-zoom-expected.txt
  LayoutTests/tiled-drawing/tiled-drawing-zoom-scrolled.html
  LayoutTests/tiled-drawing/tiled-drawing-zoom.html
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundlePage.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundlePagePrivate.h
  Tools/DumpRenderTree/mac/EventSendingController.mm
  Tools/WebKitTestRunner/InjectedBundle/Bindings/EventSendingController.idl
  Tools/WebKitTestRunner/InjectedBundle/EventSendingController.cpp
  Tools/WebKitTestRunner/InjectedBundle/EventSendingController.h
  Tools/WebKitTestRunner/InjectedBundle/InjectedBundlePage.cpp
Labels: Tools / Tests

#34529 [iOS] Selection is unnecessarily clipped in overflow scrolling areas when SelectionHonorsOverflowScrolling is enabled
  Source/WebKit/Shared/EditorState.cpp
  Source/WebKit/Shared/EditorState.h
  Source/WebKit/Shared/EditorState.serialization.in
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
Labels: merge-queue, HTML Editing

#34490 Further deployment of smart pointers in Source/WebKit/NetworkProcess
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.h
  Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/ServiceWorkerDownloadTask.cpp
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServerConnection.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCMonitor.cpp
  Source/WebKit/NetworkProcess/webrtc/RTCDataChannelRemoteManagerProxy.cpp
  Source/WebKit/NetworkProcess/webrtc/RTCDataChannelRemoteManagerProxy.h
Labels: merge-queue, WebKit2

#34545 [JSC] Add missing NodeMustGenerate clearing for newly added StringReplaceString
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#34551 Fix PlayStation build following 284495@main
  Source/JavaScriptCore/runtime/JSCBytecodeCacheVersion.cpp
Labels: New Bugs

#34335 [CSS] Fix nested setSelectorText() to prepend implicit selector
  LayoutTests/fast/css/cssom-insertrule-crash-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/nested-declarations-matching-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/nested-declarations-matching.html
  Source/WebCore/css/CSSGroupingRule.cpp
  Source/WebCore/css/CSSRule.cpp
  Source/WebCore/css/CSSRule.h
  Source/WebCore/css/CSSStyleRule.cpp
  Source/WebCore/css/parser/CSSParser.cpp
  Source/WebCore/css/parser/CSSParser.h
  Source/WebCore/css/parser/CSSParserEnum.h
  Source/WebCore/css/parser/CSSParserImpl.cpp
  Source/WebCore/css/parser/CSSParserImpl.h
  Source/WebCore/css/parser/CSSSelectorParser.cpp
  Source/WebCore/css/parser/CSSSelectorParser.h
  Source/WebCore/css/parser/CSSSupportsParser.cpp
  Source/WebCore/css/parser/CSSSupportsParser.h
  Source/WebCore/inspector/InspectorStyleSheet.cpp
Labels: merge-queue, WebCore Misc.

#34522 Adopt more smart pointers in GPUProcess/graphics (part 4)
  Source/WebKit/GPUProcess/graphics/RemoteImageBuffer.cpp
  Source/WebKit/GPUProcess/graphics/RemoteImageBufferSet.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteComputePassEncoder.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteComputePassEncoder.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemotePipelineLayout.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemotePipelineLayout.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteRenderPipeline.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteRenderPipeline.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteXRView.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferSetProxy.cpp
Labels: merge-queue, WebKit Misc.

#33639 [WebGPU] Debug assertion in RenderBundleEncoder::currentRenderCommand() fails when RenderBundle has zero commands
  LayoutTests/fast/webgpu/nocrash/fuzz-279693-expected.txt
  LayoutTests/fast/webgpu/nocrash/fuzz-279693.html
  Source/WebGPU/WebGPU/RenderBundleEncoder.mm
Labels: WebGPU

#34554 284523@main broke some visionOS build config
  Source/WTF/wtf/PlatformEnable.h
Labels: WebXR

#34484 [Writing Tools] Enable Writing Tools tests for some testing configurations
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WritingTools.mm
Labels: unsafe-merge-queue, HTML Editing

#34513 Adopt more smart pointers in GPUProcess/graphics (part 3)
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteCommandEncoder.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteCommandEncoder.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteCompositorIntegration.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteCompositorIntegration.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteQueue.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteQueue.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteTextureView.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteTextureView.h
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteCommandEncoderProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteCommandEncoderProxy.h
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteCompositorIntegrationProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteQueueProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteQueueProxy.h
Labels: merge-queue, WebKit Misc.

#34544 Fix smart pointer static analyzer warnings in RemoteLayerTreeDrawingAreaProxy.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
Labels: unsafe-merge-queue, WebKit2

#34504 [CoordinatedGraphics] Tiled backing store is not needed in paintTile()
  Source/WebCore/platform/graphics/skia/SkiaThreadedPaintingPool.cpp
  Source/WebCore/platform/graphics/skia/SkiaThreadedPaintingPool.h
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedGraphicsLayer.cpp
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedGraphicsLayer.h
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedGraphicsLayerCairo.cpp
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedGraphicsLayerSkia.cpp
Labels: unsafe-merge-queue, Platform

#34559 Fix PlayStation build following 284537@main
  Source/WebCore/css/parser/CSSParserEnum.h
Labels: New Bugs

#34494 Add site-isolation failures to TestExpectations 2024-10-01
  LayoutTests/platform/mac-site-isolation/TestExpectations
Labels: Tools / Tests

#34560 Fix smart pointer warnings in DrawControlPart::apply
  Source/WebCore/platform/graphics/controls/ControlPart.cpp
  Source/WebCore/platform/graphics/controls/ControlPart.h
Labels: merge-queue, WebCore Misc.

#34532 Some members of GPUCanvasContextCocoa can be `const Ref`
  Source/WebCore/html/canvas/GPUCanvasContextCocoa.h
  Source/WebCore/html/canvas/GPUCanvasContextCocoa.mm
Labels: merge-queue, WebGPU

#34059 Proper handling of HTTP 204 (No Content) status code
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/initial-empty-document/iframe-src-204-fragment-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-iframe-element/sandbox-inherit-to-blank-document-unsandboxed-frame-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigation-methods/return-value/navigate-204-205-download-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/ordering-and-transition/navigate-204-205-download-then-same-document-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/initial-empty-document/iframe-src-204-fragment-expected.txt
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/wk2/TestExpectations
  Source/WebCore/platform/network/HTTPStatusCodes.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKNavigationResponse.mm
  Tools/TestWebKitAPI/Tests/WebKitGLib/TestWebKitWebContext.cpp
Labels: merge-queue, WebKit Misc.

#34495 REGRESSION(284269@main) [WPE] Copy 'inspector.gresource' in generate bundle step
  Tools/Scripts/generate-bundle
  Tools/Scripts/webkitpy/binary_bundling/bundle.py
Labels: unsafe-merge-queue, Tools / Tests

#34498 [WPE] Assertion failure !isHashTraitsEmptyValue<KeyTraits>(key) in WPE/Debug/WTF/Headers/wtf/HashTable.h
  Source/WebKit/Shared/libwpe/WebEventFactory.cpp
Labels: merge-queue, DOM

#34349 Sync IPC message cancellation is not consistent
  Source/WebKit/Platform/IPC/Connection.cpp
  Source/WebKit/Platform/IPC/Connection.h
  Source/WebKit/Platform/IPC/Decoder.cpp
  Source/WebKit/Platform/IPC/Decoder.h
  Source/WebKit/Platform/IPC/Encoder.cpp
  Source/WebKit/Platform/IPC/Encoder.h
  Source/WebKit/Platform/IPC/HandleMessage.h
  Source/WebKit/Platform/IPC/StreamClientConnection.h
  Source/WebKit/Platform/IPC/StreamServerConnection.cpp
  Source/WebKit/Platform/IPC/StreamServerConnection.h
  Source/WebKit/Platform/IPC/SyncRequestID.h
  Source/WebKit/Scripts/webkit/model.py
  Source/WebKit/Scripts/webkit/tests/MessageNames.cpp
  Source/WebKit/Scripts/webkit/tests/MessageNames.h
  Source/WebKit/Shared/IPCStreamTester.cpp
  Source/WebKit/Shared/IPCStreamTester.h
  Source/WebKit/Shared/IPCStreamTester.messages.in
  Source/WebKit/Shared/WTFArgumentCoders.serialization.in
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebPage/IPCTestingAPI.cpp
  Tools/TestWebKitAPI/Tests/IPC/ConnectionTests.cpp
  Tools/TestWebKitAPI/Tests/IPC/StreamConnectionTests.cpp
Labels: merge-queue, WebKit2

#34497 [WPE][Debug] ASSERTION FAILED: canSafelyBeUsed()
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/libwpe/AcceleratedSurfaceLibWPE.cpp
  Source/WebKit/WebProcess/WebPage/libwpe/AcceleratedSurfaceLibWPE.h
Labels: unsafe-merge-queue, WPE WebKit

#34569 [Skia] Crashes on some webgl/2.0.0/conformance2/textures/video/ tests
  Source/WebCore/platform/graphics/nicosia/NicosiaBuffer.cpp
Labels: unsafe-merge-queue, WPE WebKit

#34561 [CoordinatedGraphics] Pass a FloatRect to paintGraphicsLayerContents()
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedGraphicsLayerSkia.cpp
Labels: unsafe-merge-queue, Platform

#34546 Use CheckedRef in QueryContainerUpdateContext
  Source/WebCore/style/StyleScope.cpp
  Source/WebCore/style/StyleScope.h
Labels: merge-queue, CSS

#34392 Provide more crash-info in when checking for runs of zero-bytes
  Source/JavaScriptCore/jit/ExecutableAllocator.h
Labels: JavaScriptCore

#34566 JSDOMPromiseDeferred.h:307:20: "error: use 'template' keyword to treat 'resolve' as a dependent template name" with some Clang versions
  Source/WebCore/bindings/js/JSDOMPromiseDeferred.h
Labels: WebCore Misc.

#34550 [ Gardening ][ Ventura ] imported/w3c/web-platform-tests/screen-orientation/active-lock.html is a flaky failure.
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: New Bugs

#34563 Add smart pointer to RenderScrollbarPart
  Source/WebCore/rendering/RenderScrollbarPart.h
Labels: merge-queue, WebCore Misc.

#34531 Fix bugs in IPInt metadata generation and execution
  JSTests/wasm/ipint-tests/ipint-test-call-add13.js
  Source/JavaScriptCore/llint/InPlaceInterpreter.h
  Source/JavaScriptCore/llint/InPlaceInterpreter32_64.asm
  Source/JavaScriptCore/llint/InPlaceInterpreter64.asm
  Source/JavaScriptCore/llint/WebAssembly.asm
  Source/JavaScriptCore/wasm/WasmIPIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmIPIntGenerator.h
  Source/JavaScriptCore/wasm/WasmIPIntSlowPaths.cpp
  Tools/lldb/debug_ipint.py
Labels: JavaScriptCore

#34565 [JSC] Make binary operation result proven value more tight
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
Labels: unsafe-merge-queue, JavaScriptCore

#34514 Make `FrameState` reference counted
  Source/WebKit/Shared/SessionState.cpp
  Source/WebKit/Shared/SessionState.h
  Source/WebKit/Shared/SessionState.serialization.in
  Source/WebKit/Shared/WebBackForwardListItem.cpp
  Source/WebKit/Shared/WebBackForwardListItem.h
  Source/WebKit/Shared/WebPageCreationParameters.h
  Source/WebKit/Shared/WebPageCreationParameters.serialization.in
  Source/WebKit/UIProcess/API/glib/WebKitWebViewSessionState.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.h
  Source/WebKit/UIProcess/WebBackForwardList.cpp
  Source/WebKit/UIProcess/WebBackForwardList.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/UIProcess/WebProcessProxy.messages.in
  Source/WebKit/UIProcess/mac/LegacySessionStateCoding.cpp
  Source/WebKit/WebProcess/WebCoreSupport/SessionStateConversion.cpp
  Source/WebKit/WebProcess/WebCoreSupport/SessionStateConversion.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
Labels: unsafe-merge-queue, History

#34575 [JSC] Rebaseline Intl implementation based on lowest dependency ICU 70
  Source/JavaScriptCore/runtime/IntlDateTimeFormat.cpp
  Source/JavaScriptCore/runtime/IntlDateTimeFormat.h
  Source/JavaScriptCore/runtime/IntlDateTimeFormatPrototype.cpp
  Source/JavaScriptCore/runtime/IntlDurationFormat.cpp
  Source/JavaScriptCore/runtime/IntlDurationFormat.h
  Source/JavaScriptCore/runtime/IntlListFormat.cpp
  Source/JavaScriptCore/runtime/IntlListFormat.h
  Source/JavaScriptCore/runtime/IntlNumberFormat.cpp
  Source/JavaScriptCore/runtime/IntlNumberFormat.h
  Source/JavaScriptCore/runtime/IntlNumberFormatPrototype.cpp
  Source/JavaScriptCore/runtime/IntlObject.cpp
  Source/JavaScriptCore/runtime/IntlPluralRules.cpp
  Source/JavaScriptCore/runtime/IntlPluralRules.h
  Source/JavaScriptCore/runtime/IntlPluralRulesPrototype.cpp
  Source/JavaScriptCore/runtime/IntlWorkaround.cpp
  Source/JavaScriptCore/runtime/JSDateMath.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#34578 [GARDENING]REGRESSION(Ventura 13.3): [ Ventura arm64 ] 2X imported/mozilla/svg/smil/style/anim-css-fontsize-1-from (layout-tests) are constant ImageOnlyFailures
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, SVG

#34501 [WGSL] Add mechanism to validate override values
  Source/WebGPU/WGSL/CompilationMessage.h
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/WGSL.cpp
  Source/WebGPU/WGSL/WGSL.h
  Source/WebGPU/WGSL/WGSLShaderModule.cpp
  Source/WebGPU/WGSL/WGSLShaderModule.h
  Source/WebGPU/WGSL/tests/invalid/override.wgsl
  Source/WebGPU/WGSL/wgslc.cpp
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
  Source/WebGPU/WebGPU/Pipeline.mm
  Source/WebGPU/WebGPU/ShaderModule.mm
  Tools/TestWebKitAPI/Tests/WGSL/MetalGenerationTests.cpp
Labels: merge-queue, WebGPU

#34584 Unreviewed, revert 284431@main since it broke PLT on iOS.
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
Labels: WebCore Misc.

#34549 [Static Analyzer CI] Add steps to download cmake and ninja on worker
  Tools/CISupport/Shared/download-and-install-build-tools
  Tools/CISupport/ews-build/factories.py
  Tools/CISupport/ews-build/factories_unittest.py
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: unsafe-merge-queue, Tools / Tests

#32972 Enable JIT and FTL by default on the Windows Port
  JSTests/stress/get-array-length-concurrently-change-mode.js
  Source/JavaScriptCore/bytecode/CodeBlock.h
  Source/WTF/wtf/PrintStream.cpp
  Source/cmake/OptionsMSVC.cmake
  Source/cmake/WebKitFeatures.cmake
Labels: unsafe-merge-queue, JavaScriptCore

#34573 Wasm tier up replacements should be fetched from the CalleeGroup
  Source/JavaScriptCore/wasm/WasmBBQPlan.cpp
  Source/JavaScriptCore/wasm/WasmCallee.h
  Source/JavaScriptCore/wasm/WasmCalleeGroup.h
  Source/JavaScriptCore/wasm/WasmIPIntSlowPaths.cpp
  Source/JavaScriptCore/wasm/WasmOMGPlan.cpp
  Source/JavaScriptCore/wasm/WasmOSREntryPlan.cpp
  Source/JavaScriptCore/wasm/WasmOperations.cpp
  Source/JavaScriptCore/wasm/WasmSlowPaths.cpp
Labels: WebAssembly

#34368 [Static Analyzer CI] Add step to update clang on worker
  Tools/CISupport/ews-build/factories.py
  Tools/CISupport/ews-build/factories_unittest.py
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: Tools / Tests

#34579 Crash under WebAutomationSession::platformSimulateMouseInteraction when running pointerevents/pointerevent_click_during_capture.html?mouse-auxclick WPT
  Source/WebKit/UIProcess/Automation/mac/WebAutomationSessionMac.mm
Labels: merge-queue, WebDriver

#34499 Annotate getNotifications endpoint with feature flags
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/workers/service/SWClientConnection.h
  Source/WebCore/workers/service/ServiceWorkerContainer.cpp
  Source/WebCore/workers/service/WorkerSWClientConnection.cpp
  Source/WebCore/workers/service/WorkerSWClientConnection.h
  Source/WebKit/UIProcess/WebProcessProxy.messages.in
  Source/WebKit/WebProcess/Storage/WebSWClientConnection.cpp
  Source/WebKit/WebProcess/Storage/WebSWClientConnection.h
Labels: New Bugs

#34500 Annotate SystemPreview endpoints with feature flags
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebKit/UIProcess/WebPageProxy.messages.in
Labels: New Bugs

#34595 Unreviewed follow-up fix: [Static Analyzer CI] Add steps to download cmake and ninja on worker
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: Tools / Tests

#32677 Deploy smart pointers in StyleAdjuster.cpp.
  Source/WebCore/style/StyleAdjuster.cpp
  Source/WebCore/style/StyleAdjuster.h
Labels: New Bugs

#34271 Remove duplicate copy of WebKitLegacy's umbrella header
  Source/WebKit/MigratedHeaders-input.xcfilelist
  Source/WebKit/MigratedHeaders-output.xcfilelist
  Source/WebKit/Shared/API/Cocoa/WebKitLegacy.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKitLegacy/scripts/xcfilelist-copy.py
Labels: unsafe-merge-queue, Tools / Tests

#34589 Avoid hit-testing to clipped regions of the selection highlight when SelectionHonorsOverflowScrolling is enabled
  LayoutTests/editing/selection/ios/selection-clip-rect-in-overflow-scroller.html
  LayoutTests/editing/selection/ios/selection-hit-testing-in-overflow-scroller-expected.txt
  LayoutTests/editing/selection/ios/selection-hit-testing-in-overflow-scroller.html
  Source/WebKit/UIProcess/ios/UIKitUtilities.h
  Source/WebKit/UIProcess/ios/UIKitUtilities.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.h
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.mm
Labels: HTML Editing

#34597 rememberthemilk.com: REGRESSION (280692@main): Clicking on the dropdown list doesn't expand to display its content
  LayoutTests/fast/css/attribute-selector-for-style-inline-invalidation-expected.html
  LayoutTests/fast/css/attribute-selector-for-style-inline-invalidation.html
  Source/WebCore/dom/StyledElement.cpp
  Source/WebCore/style/StyleScopeRuleSets.cpp
  Source/WebCore/style/StyleScopeRuleSets.h
Labels: CSS

#34593 text-spacing: text-autospace: fix element boundary style calculation
  Source/WebCore/layout/formattingContexts/inline/InlineItemsBuilder.cpp
Labels: merge-queue, Text

#34583 Adopt more smart pointers in UIProcess (part 1)
  Source/WebKit/UIProcess/Cocoa/VideoPresentationManagerProxy.h
  Source/WebKit/UIProcess/Cocoa/VideoPresentationManagerProxy.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIActionCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIDeclarativeNetRequestCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionControllerCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionController.cpp
  Source/WebKit/UIProcess/RemotePageVisitedLinkStoreRegistration.h
  Source/WebKit/UIProcess/VisitedLinkStore.cpp
  Source/WebKit/UIProcess/WebGeolocationManagerProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
Labels: WebKit Misc.

#34602 [Gardening]: [EWS] inspector/worker/debugger-pause-subworker.html is pre-existing failure in Sonoma EWS
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#34603 REGRESSION(283008@main): spotify.com crashes when loading an artist
  LayoutTests/fast/css/grid-span-calc-negative-crash-expected.txt
  LayoutTests/fast/css/grid-span-calc-negative-crash.html
  Source/WebCore/style/StyleBuilderConverter.h
Labels: merge-queue, CSS

#34489 Implement ClipboardItem.supports
  LayoutTests/editing/async-clipboard/clipboard-interfaces-expected.txt
  LayoutTests/editing/async-clipboard/clipboard-interfaces.html
  LayoutTests/editing/async-clipboard/clipboard-write-basic-expected.txt
  LayoutTests/editing/async-clipboard/clipboard-write-basic.html
  LayoutTests/imported/w3c/web-platform-tests/clipboard-apis/clipboard-item.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/clipboard-apis/clipboard-item.https.html
  LayoutTests/platform/mac-wk1/TestExpectations
  Source/WebCore/Modules/async-clipboard/ClipboardItem.cpp
  Source/WebCore/Modules/async-clipboard/ClipboardItem.h
  Source/WebCore/Modules/async-clipboard/ClipboardItem.idl
Labels: merge-queue, HTML Editing

#34590 Adopt more smart pointers in UIProcess (part 2)
  Source/WebKit/UIProcess/Automation/WebAutomationSession.cpp
  Source/WebKit/UIProcess/Automation/WebAutomationSession.h
  Source/WebKit/UIProcess/Cocoa/UserMediaCaptureManagerProxy.cpp
  Source/WebKit/UIProcess/Downloads/DownloadProxy.cpp
  Source/WebKit/UIProcess/Downloads/DownloadProxy.h
  Source/WebKit/UIProcess/Media/RemoteMediaSessionCoordinatorProxy.cpp
  Source/WebKit/UIProcess/Media/RemoteMediaSessionCoordinatorProxy.h
  Source/WebKit/UIProcess/ViewGestureController.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/mac/ViewGestureControllerMac.mm
Labels: merge-queue, WebKit Misc.

#34558 [Static Analyzer CI] Rename scripts and processes from smart pointer to safer CPP
  Tools/CISupport/build-webkit-org/config.json
  Tools/CISupport/build-webkit-org/factories.py
  Tools/CISupport/build-webkit-org/factories_unittest.py
  Tools/CISupport/build-webkit-org/steps.py
  Tools/CISupport/build-webkit-org/steps_unittest.py
  Tools/CISupport/ews-build/config.json
  Tools/CISupport/ews-build/events.py
  Tools/CISupport/ews-build/factories.py
  Tools/CISupport/ews-build/factories_unittest.py
  Tools/CISupport/ews-build/loadConfig.py
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
  Tools/Scripts/update-safer-cpp-expectations
Labels: Tools / Tests

#34418 [JSC] Complete the implementation of Iterator helpers proposal
  JSTests/stress/iterator-from.js
  JSTests/stress/iterator-prototype-map.js
  JSTests/test262/expectations.yaml
  Source/JavaScriptCore/CMakeLists.txt
  Source/JavaScriptCore/DerivedSources-input.xcfilelist
  Source/JavaScriptCore/DerivedSources-output.xcfilelist
  Source/JavaScriptCore/DerivedSources.make
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/Sources.txt
  Source/JavaScriptCore/builtins/JSIteratorConstructor.js
  Source/JavaScriptCore/builtins/JSIteratorHelperPrototype.js
  Source/JavaScriptCore/builtins/JSIteratorPrototype.js
  Source/JavaScriptCore/bytecode/BytecodeIntrinsicRegistry.cpp
  Source/JavaScriptCore/bytecode/BytecodeIntrinsicRegistry.h
  Source/JavaScriptCore/bytecode/BytecodeList.rb
  Source/JavaScriptCore/bytecode/BytecodeUseDef.cpp
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.h
  Source/JavaScriptCore/bytecompiler/NodesCodegen.cpp
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGObjectAllocationSinkingPhase.cpp
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/dfg/DFGOperations.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/ftl/FTLOperations.cpp
  Source/JavaScriptCore/heap/Heap.h
  Source/JavaScriptCore/heap/HeapSubspaceTypes.h
  Source/JavaScriptCore/jit/JIT.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter.asm
  Source/JavaScriptCore/runtime/CommonSlowPaths.cpp
  Source/JavaScriptCore/runtime/CommonSlowPaths.h
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.h
  Source/JavaScriptCore/runtime/JSIteratorHelper.cpp
  Source/JavaScriptCore/runtime/JSIteratorHelper.h
  Source/JavaScriptCore/runtime/JSIteratorHelperPrototype.cpp
  Source/JavaScriptCore/runtime/JSIteratorHelperPrototype.h
  Source/JavaScriptCore/runtime/JSIteratorHelperPrototypeInlines.h
  Source/JavaScriptCore/runtime/JSIteratorPrototype.cpp
  Source/JavaScriptCore/runtime/JSType.cpp
  Source/JavaScriptCore/runtime/JSType.h
Labels: unsafe-merge-queue, JavaScriptCore, skip-ews

#34582 [web-animations] Remove CSSNumberishTime::m_source
  Source/WebCore/animation/CSSNumberishTime.cpp
  Source/WebCore/animation/CSSNumberishTime.h
Labels: unsafe-merge-queue, Animations

#34587 [web-animations] make all CSSNumberishTime parameters const references
  Source/WebCore/animation/CSSNumberishTime.cpp
  Source/WebCore/animation/CSSNumberishTime.h
Labels: unsafe-merge-queue, Animations

#34614 Rename SmartPointerExpectations to SaferCPPExpectations
  Source/WebCore/SaferCPPExpectations/NoUncheckedPtrMemberCheckerExpectations
  Source/WebCore/SaferCPPExpectations/NoUncountedMemberCheckerExpectations
  Source/WebCore/SaferCPPExpectations/RefCntblBaseVirtualDtorExpectations
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedLocalVarsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/NoUncheckedPtrMemberCheckerExpectations
  Source/WebKit/SaferCPPExpectations/NoUncountedMemberCheckerExpectations
  Source/WebKit/SaferCPPExpectations/RefCntblBaseVirtualDtorExpectations
  Source/WebKit/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncountedLocalVarsCheckerExpectations
  Tools/Scripts/compare-static-analysis-results
  Tools/Scripts/update-safer-cpp-expectations
Labels: unsafe-merge-queue, Tools / Tests

#34319 Implement browser.storageArea.getKeys() for Web Extension Storage API.
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIStorageCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/_WKWebExtensionStorageSQLiteStore.h
  Source/WebKit/UIProcess/Extensions/Cocoa/_WKWebExtensionStorageSQLiteStore.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.messages.in
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIStorageAreaCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIStorageArea.h
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPIStorageArea.idl
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIStorage.mm
Labels: unsafe-merge-queue, WebKit Extensions

#34601 Fix even more smart pointer warnings in Source/WebKit
  Source/WebKit/Shared/ApplePay/WebPaymentCoordinatorProxy.cpp
  Source/WebKit/Shared/ApplePay/WebPaymentCoordinatorProxy.h
  Source/WebKit/Shared/ApplePay/mac/WebPaymentCoordinatorProxyMac.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewInternal.h
  Source/WebKit/UIProcess/Inspector/RemoteWebInspectorUIProxy.cpp
  Source/WebKit/UIProcess/Inspector/RemoteWebInspectorUIProxy.h
  Source/WebKit/UIProcess/Inspector/WebInspectorUIProxy.cpp
  Source/WebKit/UIProcess/Inspector/mac/RemoteWebInspectorUIProxyMac.mm
  Source/WebKit/UIProcess/Inspector/mac/WebInspectorUIProxyMac.mm
  Source/WebKit/UIProcess/UserContent/WebUserContentControllerProxy.cpp
  Source/WebKit/UIProcess/mac/TiledCoreAnimationDrawingAreaProxy.mm
Labels: unsafe-merge-queue, WebKit2

#34585 [WPE] Building the Qt6 support requires ENABLE_WPE_PLATFORM=ON
  Source/cmake/OptionsWPE.cmake
Labels: CMake, skip-ews

#34568 [CoordinatedGraphics] Simplify and cleanup CoordinatedBackingStore
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedBackingStore.cpp
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedBackingStore.h
  Source/WebKit/Shared/CoordinatedGraphics/CoordinatedGraphicsScene.cpp
Labels: unsafe-merge-queue, Platform

#34581 [WebGPU] 284345@main results in pipeline overrides failing to be computed in some sites
  Source/WebGPU/WGSL/CompilationScope.cpp
  Source/WebGPU/WGSL/CompilationScope.h
  Source/WebGPU/WGSL/WGSL.cpp
  Source/WebGPU/WGSL/WGSLShaderModule.h
  Source/WebGPU/WebGPU/ShaderModule.h
  Source/WebGPU/WebGPU/ShaderModule.mm
Labels: merge-queue, WebGPU

#34618 [web-animations] remove automatic conversion to and from double for CSSNumberishTime
  Source/WebCore/animation/AnimationEffect.cpp
  Source/WebCore/animation/AnimationPlaybackEvent.cpp
  Source/WebCore/animation/CSSNumberishTime.cpp
  Source/WebCore/animation/CSSNumberishTime.h
Labels: unsafe-merge-queue, Animations

#34622 Add missing `SecureContext` to `ClipboardItem` interface
  Source/WebCore/Modules/async-clipboard/ClipboardItem.idl
Labels: HTML Editing

#31831 [WTF] Open files with O_CLOEXEC by default to avoid file handles leak
  Source/WTF/wtf/cocoa/FileSystemCocoa.mm
  Source/WTF/wtf/posix/FileSystemPOSIX.cpp
Labels: merge-queue, GLib Suggested Backport - 2.46

#34468 AX: need to handle dynamically-created and nested aria-modal dialogs
  LayoutTests/accessibility/mac/dynamic-modal-expected.txt
  LayoutTests/accessibility/mac/dynamic-modal.html
  LayoutTests/accessibility/mac/nested-modal-expected.txt
  LayoutTests/accessibility/mac/nested-modal.html
  Source/WebCore/accessibility/AXObjectCache.cpp
Labels: merge-queue, Accessibility

#34612 [Static Analyzer CI] Temporarily disable blocking merging for Safer-CPP-Checks queue
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: Tools / Tests, skip-ews

#34576 Stop guessing the content type if there's X-Content-Type-Options: nosniff header.
  LayoutTests/http/tests/workers/service/resources/download-octet-stream.py
  LayoutTests/http/tests/workers/service/service-worker-download-octet-stream-nosniff.https-expected.txt
  LayoutTests/http/tests/workers/service/service-worker-download-octet-stream-nosniff.https.html
  Source/WebCore/platform/network/ResourceResponseBase.cpp
  Source/WebCore/platform/network/ResourceResponseBase.h
  Source/WebCore/workers/service/context/ServiceWorkerFetch.cpp
Labels: merge-queue, Service Workers

#34620 [JSC] Use `@argumentCount` instead of `arguments.length` in builtin JS
  Source/JavaScriptCore/builtins/ArrayConstructor.js
  Source/JavaScriptCore/builtins/ArrayPrototype.js
  Source/JavaScriptCore/builtins/FunctionPrototype.js
  Source/JavaScriptCore/builtins/PromiseConstructor.js
  Source/JavaScriptCore/builtins/StringConstructor.js
  Source/JavaScriptCore/builtins/StringPrototype.js
  Source/JavaScriptCore/builtins/TypedArrayConstructor.js
Labels: merge-queue, JavaScriptCore

#34632 [WPT] video-rvfc/* tests are flakey due to unmuted autoplay policies in Safari
  LayoutTests/imported/w3c/web-platform-tests/video-rvfc/request-video-frame-callback-before-xr-session.https.html
  LayoutTests/imported/w3c/web-platform-tests/video-rvfc/request-video-frame-callback-dom.html
  LayoutTests/imported/w3c/web-platform-tests/video-rvfc/request-video-frame-callback-during-xr-session.https.html
  LayoutTests/imported/w3c/web-platform-tests/video-rvfc/request-video-frame-callback-parallel.html
  LayoutTests/imported/w3c/web-platform-tests/video-rvfc/request-video-frame-callback-repeating.html
  LayoutTests/imported/w3c/web-platform-tests/video-rvfc/request-video-frame-callback.html
Labels: unsafe-merge-queue, Media

#34488 Adopt more smart pointers in GPUProcess/graphics (part 2)
  Source/WebKit/GPUProcess/graphics/RemoteImageBufferSet.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteCommandBuffer.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteCommandBuffer.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteComputePipeline.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteComputePipeline.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteExternalTexture.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteExternalTexture.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteTexture.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteTexture.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteXRProjectionLayer.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferSetProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteTextureProxy.cpp
Labels: WebKit Misc.

#34634 [ Gardening ][ Sonoma+ ] TestWebKitAPI.WebKit.AutoLayoutIntegration is a flaky timeout
  Tools/TestWebKitAPI/Tests/WebKitCocoa/AutoLayoutIntegration.mm
Labels: unsafe-merge-queue, Tools / Tests

#34638 [ GARDENING ][ Sequoia wk2 ] http/wpt/prefetch/link-prefetch-cross-origin-vary-cookie.html is a constant failure.
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: Page Loading

#34637 Unreviewed, update Safer CPP Expectations.
  Source/WebCore/SaferCPPExpectations/NoUncountedMemberCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncountedLocalVarsCheckerExpectations
Labels: skip-ews

#34607 Resync web-platform-tests/websockets from upstream of c8da6aef4858946f39fc0f526b267811b917713a (2023-07-14)
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/websockets/back-forward-cache-with-closed-websocket-connection-ccns.tentative.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/websockets/back-forward-cache-with-closed-websocket-connection-ccns.tentative.window.html
  LayoutTests/imported/w3c/web-platform-tests/websockets/back-forward-cache-with-closed-websocket-connection-ccns.tentative.window.js
  LayoutTests/imported/w3c/web-platform-tests/websockets/back-forward-cache-with-closed-websocket-connection.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/websockets/back-forward-cache-with-closed-websocket-connection.window.html
  LayoutTests/imported/w3c/web-platform-tests/websockets/back-forward-cache-with-closed-websocket-connection.window.js
  LayoutTests/imported/w3c/web-platform-tests/websockets/back-forward-cache-with-open-websocket-connection-ccns.tentative.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/websockets/back-forward-cache-with-open-websocket-connection-ccns.tentative.window.html
  LayoutTests/imported/w3c/web-platform-tests/websockets/back-forward-cache-with-open-websocket-connection-ccns.tentative.window.js
  LayoutTests/imported/w3c/web-platform-tests/websockets/back-forward-cache-with-open-websocket-connection.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/websockets/back-forward-cache-with-open-websocket-connection.window.html
  LayoutTests/imported/w3c/web-platform-tests/websockets/back-forward-cache-with-open-websocket-connection.window.js
  LayoutTests/imported/w3c/web-platform-tests/websockets/constants.sub.js
  LayoutTests/imported/w3c/web-platform-tests/websockets/handlers/receive-many-with-backpressure_wsh.py
  LayoutTests/imported/w3c/web-platform-tests/websockets/handlers/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/websockets/mixed-content.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/websockets/mixed-content.https.any.html
  LayoutTests/imported/w3c/web-platform-tests/websockets/mixed-content.https.any.js
  LayoutTests/imported/w3c/web-platform-tests/websockets/mixed-content.https.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/websockets/mixed-content.https.any.serviceworker.html
  LayoutTests/imported/w3c/web-platform-tests/websockets/mixed-content.https.any.sharedworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/websockets/mixed-content.https.any.sharedworker.html
  LayoutTests/imported/w3c/web-platform-tests/websockets/mixed-content.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/websockets/mixed-content.https.any.worker.html
  LayoutTests/imported/w3c/web-platform-tests/websockets/multi-globals/url-parsing/current/current.html
  LayoutTests/imported/w3c/web-platform-tests/websockets/multi-globals/url-parsing/current/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/websockets/multi-globals/url-parsing/incumbent/incumbent.html
  LayoutTests/imported/w3c/web-platform-tests/websockets/multi-globals/url-parsing/incumbent/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/websockets/multi-globals/url-parsing/url-parsing-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/websockets/multi-globals/url-parsing/url-parsing.html
  LayoutTests/imported/w3c/web-platform-tests/websockets/multi-globals/url-parsing/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/websockets/resources/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/websockets/resources/websockets-test-helpers.sub.js
  LayoutTests/imported/w3c/web-platform-tests/websockets/send-many-64K-messages-with-backpressure.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/websockets/send-many-64K-messages-with-backpressure.any.html
  LayoutTests/imported/w3c/web-platform-tests/websockets/send-many-64K-messages-with-backpressure.any.js
  LayoutTests/imported/w3c/web-platform-tests/websockets/send-many-64K-messages-with-backpressure.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/websockets/send-many-64K-messages-with-backpressure.any.serviceworker.html
  LayoutTests/imported/w3c/web-platform-tests/websockets/send-many-64K-messages-with-backpressure.any.serviceworker_wss-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/websockets/send-many-64K-messages-with-backpressure.any.sharedworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/websockets/send-many-64K-messages-with-backpressure.any.sharedworker.html
  LayoutTests/imported/w3c/web-platform-tests/websockets/send-many-64K-messages-with-backpressure.any.sharedworker_wss-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/websockets/send-many-64K-messages-with-backpressure.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/websockets/send-many-64K-messages-with-backpressure.any.worker.html
  LayoutTests/imported/w3c/web-platform-tests/websockets/send-many-64K-messages-with-backpressure.any.worker_wss-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/websockets/send-many-64K-messages-with-backpressure.any_wss-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/websockets/w3c-import.log
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: Tools / Tests

#34625 Sync `mathml/relations/text-and-math` from WPT upstream
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/text-and-math/mi-automatic-italic-with-default-font-expected-mismatch.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/text-and-math/mi-automatic-italic-with-default-font-ref.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/text-and-math/mi-automatic-italic-with-default-font.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/text-and-math/mo-glyph-height-with-default-font-expected.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/text-and-math/mo-glyph-height-with-default-font-ref.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/text-and-math/mo-glyph-height-with-default-font.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/text-and-math/w3c-import.log
Labels: MathML

#34547 [css-anchor-position-1] Implement parsing support for anchor-size()
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/anchor-fallback-invalidation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/anchor-invalid-fallback-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/anchor-parse-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/anchor-size-animation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/anchor-size-minmax-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/anchor-size-parse-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/anchor-size-replaced-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/anchor-transition-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/anchor-typed-om-expected.txt
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/CSSValueKeywords.in
  Source/WebCore/css/calc/CSSCalcTree+CalculationValue.cpp
  Source/WebCore/css/calc/CSSCalcTree+Evaluation.cpp
  Source/WebCore/css/calc/CSSCalcTree+Parser.cpp
  Source/WebCore/css/calc/CSSCalcTree+Serialization.cpp
  Source/WebCore/css/calc/CSSCalcTree+Simplification.cpp
  Source/WebCore/css/calc/CSSCalcTree+Simplification.h
  Source/WebCore/css/calc/CSSCalcTree.h
  Source/WebCore/css/parser/CSSPropertyParserConsumer+LengthPercentage.cpp
  Source/WebCore/css/parser/CSSPropertyParserConsumer+LengthPercentage.h
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/css/parser/CSSPropertyParserOptions.h
  Source/WebCore/css/process-css-properties.py
Labels: CSS

#34617 Deploy more smart pointers in NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/NetworkSession.h
Labels: unsafe-merge-queue, WebKit2

#34611 text-spacing: text-autospace: Extend implementation to ideograph-numeric
  LayoutTests/imported/w3c/web-platform-tests/css/css-text/text-autospace/text-autospace-ideograph-numeric-001-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text/text-autospace/text-autospace-ideograph-numeric-001-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text/text-autospace/text-autospace-ideograph-numeric-001.html
  Source/WebCore/platform/text/TextSpacing.cpp
Labels: merge-queue, Text

#34642 Speculative build fix for Debian Stable
  Source/WebCore/platform/graphics/ContentsFormat.h
Labels: WebCore Misc.

#34588 Rename KeyboardScrollingAnimator::rubberbandableDirections() to KeyboardScrollingAnimator::scrollingDirections()
  Source/WebCore/platform/KeyboardScrollingAnimator.cpp
  Source/WebCore/platform/KeyboardScrollingAnimator.h
Labels: merge-queue, Scrolling

#34387 [css-nesting] CSSNestedDeclarations inside @scope should resolve to :where(:scope)
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/nested-declarations-matching-expected.txt
  Source/WebCore/style/RuleSetBuilder.cpp
  Source/WebCore/style/RuleSetBuilder.h
Labels: merge-queue, WebCore Misc.

#34480 [scroll-animations] Implement view-timeline-inset property
  Source/WebCore/animation/ViewTimeline.cpp
Labels: unsafe-merge-queue, New Bugs

#34645 Implement i18n.getSystemUILanguage and i18n.getPreferredSystemLanguages.
  Source/WebKit/Platform/spi/Cocoa/FoundationSPI.h
  Source/WebKit/Shared/Extensions/WebExtensionUtilities.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPILocalizationCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPILocalization.h
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPILocalization.idl
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPILocalization.mm
Labels: unsafe-merge-queue, WebKit Extensions, safe-merge-queue

#34535 Swift Implementation for underlying Queue::writeBuffer
  Source/WTF/wtf/RefCounted.h
  Source/WTF/wtf/RetainReleaseSwift.h
  Source/WTF/wtf/ThreadSafeRefCounted.h
  Source/WTF/wtf/ThreadSafeWeakPtr.h
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
  Source/WebGPU/WebGPU/Buffer.h
  Source/WebGPU/WebGPU/Device.h
  Source/WebGPU/WebGPU/Queue.h
  Source/WebGPU/WebGPU/Queue.mm
  Source/WebGPU/WebGPU/Queue.swift
  Source/WebGPU/WebGPU/WebGPUExt.h
Labels: merge-queue, WebGPU

#34654 [ Gardening ]REGRESSION(284557@main?): [ Sequoia ] TestWebKitAPI.Fullscreen.Delegate is a flaky failure
  Tools/TestWebKitAPI/Tests/WebKitCocoa/FullscreenDelegate.mm
Labels: unsafe-merge-queue, Media

#34633 Forward `_UUID_.notification` notification from the UIProcess
  Source/WebKit/Resources/cocoa/NotificationAllowList/EmbeddedForwardedNotifications.def
Labels: unsafe-merge-queue, WebKit2

#34655 [ Gardening ][ Sonoma+ ] TestWebKitAPI.WKWebViewSuspendAllMediaPlayback.AfterLoading is a flaky timeout
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebViewSuspendAllMediaPlayback.mm
Labels: unsafe-merge-queue, Media

#34657 [ Gardening ][ Sonoma+ Debug ]TestWebKitAPI.WKWebViewCandidateTests.InsertCandidateFromPartiallyTypedPhraseWithSoftSpace is a flaky failure
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebViewCandidateTests.mm
Labels: unsafe-merge-queue, New Bugs

#34630 REGRESSION: 282146@main made text entry in a quip document very slow
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
Labels: unsafe-merge-queue, DOM

#34652 [ews-app] Status bubble layout breaks when mac-safer-cpp status has a newline
  Tools/CISupport/ews-build/events.py
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: unsafe-merge-queue, Tools / Tests, skip-ews

#34650 [JSC] Add defaultOffset from bytecode to SwitchTables
  Source/JavaScriptCore/bytecode/BytecodeDumper.cpp
  Source/JavaScriptCore/bytecode/BytecodeGeneratorification.cpp
  Source/JavaScriptCore/bytecode/BytecodeList.rb
  Source/JavaScriptCore/bytecode/PreciseJumpTargetsInlines.h
  Source/JavaScriptCore/bytecode/UnlinkedCodeBlock.h
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/jit/JIT.cpp
  Source/JavaScriptCore/jit/JITOpcodes.cpp
  Source/JavaScriptCore/llint/LLIntSlowPaths.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter32_64.asm
  Source/JavaScriptCore/llint/LowLevelInterpreter64.asm
  Source/JavaScriptCore/runtime/CachedTypes.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#34615 [JSC] Iterator.prototype.reduce() doesn't properly forward return() call to underlying iterator
  JSTests/stress/iterator-prototype-reduce.js
  Source/JavaScriptCore/builtins/JSIteratorPrototype.js
Labels: JavaScriptCore, skip-ews

#34659 Fix smart pointer warnings in FontCoreText.cpp
  Source/WebCore/platform/graphics/FontCustomPlatformData.h
  Source/WebCore/platform/graphics/FontPlatformData.h
  Source/WebCore/platform/graphics/coretext/FontCoreText.cpp
Labels: unsafe-merge-queue, Text

#34643 Adopt more smart pointers in media and webrtc files
  Source/WebCore/platform/graphics/MediaPlayer.cpp
  Source/WebCore/platform/graphics/MediaPlayer.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.cpp
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.mm
Labels: merge-queue, WebKit Misc.

#34653 Copy files provided by WKWebView clients on iOS that implement runOpenPanel instead of moving them
  Source/WebKit/UIProcess/Cocoa/UIDelegate.mm
  Source/WebKit/UIProcess/ios/forms/WKFileUploadPanel.h
  Source/WebKit/UIProcess/ios/forms/WKFileUploadPanel.mm
Labels: merge-queue, WebKit API

#34656 Make FrameLoader ref-counted
  Source/WebCore/bindings/js/ScriptController.cpp
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/DocumentFontLoader.cpp
  Source/WebCore/dom/EventDispatcher.cpp
  Source/WebCore/history/BackForwardCache.cpp
  Source/WebCore/history/CachedFrame.cpp
  Source/WebCore/history/CachedPage.cpp
  Source/WebCore/html/HTMLAnchorElement.cpp
  Source/WebCore/html/HTMLPlugInImageElement.cpp
  Source/WebCore/html/MediaDocument.cpp
  Source/WebCore/loader/CrossOriginPreflightChecker.cpp
  Source/WebCore/loader/DocumentLoader.cpp
  Source/WebCore/loader/DocumentLoader.h
  Source/WebCore/loader/DocumentThreadableLoader.cpp
  Source/WebCore/loader/DocumentWriter.cpp
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/loader/FrameLoader.h
  Source/WebCore/loader/HistoryController.cpp
  Source/WebCore/loader/LinkLoader.cpp
  Source/WebCore/loader/MediaResourceLoader.cpp
  Source/WebCore/loader/MixedContentChecker.cpp
  Source/WebCore/loader/NavigationScheduler.cpp
  Source/WebCore/loader/NetscapePlugInStreamLoader.cpp
  Source/WebCore/loader/PingLoader.cpp
  Source/WebCore/loader/PolicyChecker.cpp
  Source/WebCore/loader/ProgressTracker.cpp
  Source/WebCore/loader/ResourceLoadNotifier.cpp
  Source/WebCore/loader/ResourceLoader.cpp
  Source/WebCore/loader/ResourceLoader.h
  Source/WebCore/loader/SubframeLoader.cpp
  Source/WebCore/loader/appcache/ApplicationCacheGroup.cpp
  Source/WebCore/loader/cache/CachedResource.cpp
  Source/WebCore/loader/cache/CachedResourceLoader.cpp
  Source/WebCore/loader/mac/ResourceLoaderMac.mm
  Source/WebCore/mathml/MathMLElement.cpp
  Source/WebCore/page/Chrome.cpp
  Source/WebCore/page/ContextMenuController.cpp
  Source/WebCore/page/DOMWindow.cpp
  Source/WebCore/page/DOMWindowExtension.cpp
  Source/WebCore/page/DragController.cpp
  Source/WebCore/page/EventHandler.cpp
  Source/WebCore/page/LocalDOMWindow.cpp
  Source/WebCore/page/LocalFrame.cpp
  Source/WebCore/page/LocalFrame.h
  Source/WebCore/page/Navigation.cpp
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/ios/EventHandlerIOS.mm
  Source/WebCore/svg/SVGAElement.cpp
  Source/WebCore/svg/graphics/SVGImage.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebLocalFrameLoaderClient.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#34548 [site-isolation] Add support for remote subframes with layerTreeAsText.
  Source/WebCore/page/RemoteFrameClient.h
  Source/WebCore/platform/graphics/GraphicsLayer.cpp
  Source/WebCore/platform/graphics/GraphicsLayer.h
  Source/WebCore/platform/graphics/GraphicsLayerClient.h
  Source/WebCore/platform/graphics/LayerTreeAsTextOptions.h
  Source/WebCore/rendering/RenderLayerBacking.cpp
  Source/WebCore/rendering/RenderLayerBacking.h
  Source/WebCore/rendering/RenderLayerCompositor.cpp
  Source/WebCore/rendering/RenderLayerCompositor.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebRemoteFrameClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebRemoteFrameClient.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
Labels: merge-queue, Layout and Rendering

#34666 [JSC] Remove unnecessary ICU version checks
  Source/JavaScriptCore/runtime/IntlDurationFormat.cpp
  Source/JavaScriptCore/runtime/IntlNumberFormat.cpp
  Source/JavaScriptCore/runtime/IntlNumberFormatInlines.h
Labels: unsafe-merge-queue, JavaScriptCore
