Repository WebKit/WebKit, pull requests merged in 2024-03, with the labels that each got.

#25309 dataLogIf / dataLogLnIf should be macro
  Source/WTF/wtf/DataLog.h
Labels: unsafe-merge-queue

#25296 [results.webkit.org] Add concept of suite types
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/static/js/investigate.js
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/static/js/suites.js
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/static/js/timeline.js
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/templates/constants.js
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/templates/investigate.html
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/view_routes.py
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/view_routes_unittest.py
Labels: unsafe-merge-queue, Tools / Tests, skip-ews

#19023 [css-scroll-snap] Skip renderers with no element in updateSnapOffsetsForScrollableArea
  LayoutTests/imported/w3c/web-platform-tests/css/css-scroll-snap/snap-to-visible-areas-both-pseudo-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-scroll-snap/snap-to-visible-areas-both-pseudo.html
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/page/scrolling/ScrollSnapOffsetsInfo.cpp
Labels: New Bugs

#25326 [Gardening]: [ Sonoma+ WK1 ] 2X imported/w3c/web-platform-tests/dom/events/non-cancelable-when-passive/passive test are constant failures
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue

#25327 [Gardening]: REGRESSION (Sonoma23D56): [ macOS WK1 ] Two imported/w3c/web-platform-tests/html/semantics/interactive-elements/the-dialog-element tests are a consistent image failure
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#24905 Rebaseline negative-overflow-002.html on iOS due to RTL bugs
  LayoutTests/platform/ios-wk2/imported/w3c/web-platform-tests/css/css-flexbox/negative-overflow-002-expected.txt
Labels: merge-queue, New Bugs

#25319 The WebContent process should decode audio in-process
  Source/WebKit/Scripts/process-entitlements.sh
Labels: merge-queue, WebKit Misc.

#25315 Move ProcessThrottler to AuxiliaryProcessProxy
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.cpp
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.h
  Source/WebKit/UIProcess/GPU/GPUProcessProxy.cpp
  Source/WebKit/UIProcess/GPU/GPUProcessProxy.h
  Source/WebKit/UIProcess/Model/ModelProcessProxy.cpp
  Source/WebKit/UIProcess/Model/ModelProcessProxy.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/ProcessThrottler.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/UIProcess/ios/WebProcessProxyIOS.mm
Labels: unsafe-merge-queue, WebKit Misc.

#25299 Style cleanups after 275446@main
  Source/WebCore/page/Navigation.cpp
  Source/WebCore/page/Navigation.h
Labels: unsafe-merge-queue, WebCore Misc.

#25329 REGRESSION (Sonoma23B74 --> Sonoma23D56 ): [ macOS wk1 ] Multiple tests are failing with image diff(0.01%) in fast/ and composting/ tests
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#25158 [JSC] Bracket update expression should resolve property key at most once
  JSTests/test262/expectations.yaml
  Source/JavaScriptCore/bytecompiler/NodesCodegen.cpp
Labels: merge-queue, JavaScriptCore

#25306 [macOS] Fallback native <select> rendering is incorrect in dark mode
  Source/WebCore/platform/graphics/mac/controls/MenuListButtonMac.mm
Labels: unsafe-merge-queue, Forms

#25317 REGRESSION (275244@main): Crash in MediaCapability::MediaCapability when loading 'about:blank'
  Source/WebKit/Platform/cocoa/MediaCapability.h
  Source/WebKit/Platform/cocoa/MediaCapability.mm
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: merge-queue, Media

#25231 TypeChecker::visit should set zeroValue for arrays without arguments
  LayoutTests/fast/webgpu/type-checker-array-without-argument-expected.txt
  LayoutTests/fast/webgpu/type-checker-array-without-argument.html
  Source/WebGPU/WGSL/TypeCheck.cpp
Labels: unsafe-merge-queue, WebGPU

#25263 [WebGPU] Forbid bottom types as struct members
  LayoutTests/fast/webgpu/forbid-bottom-struct-member-expected.txt
  LayoutTests/fast/webgpu/forbid-bottom-struct-member.html
  Source/WebGPU/WGSL/TypeCheck.cpp
Labels: unsafe-merge-queue, WebGPU

#25334 [Build] Support running yasm on an OS that's older than the targeted version
  Source/ThirdParty/libwebrtc/Configurations/yasm.xcconfig
Labels: merge-queue

#25318 Remove unnecessary copy when checking if a page is running an extension
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
  Source/WebKit/UIProcess/Cocoa/NavigationState.mm
Labels: merge-queue, WebKit Extensions

#25320 [Lockdown Mode] Lockdown Mode Safe Font feature flag gets stuck, cannot be enabled in some cases
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Labels: merge-queue

#25289 [GTK] Crash in WebPageProxy::getLoadDecisionForIcon
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: unsafe-merge-queue, WebKitGTK

#25292 [Skia] Do not set synthetic bold offset
  Source/WebCore/platform/graphics/skia/FontSkia.cpp
Labels: unsafe-merge-queue, WPE WebKit

#25281 REGRESSION (275262@main): Unable to play games in PBS Kids Games app
  Source/WebCore/platform/audio/SharedAudioDestination.cpp
Labels: merge-queue, Media

#25287 [Skia] Implement patterns with spacing
  Source/WebCore/platform/graphics/skia/GraphicsContextSkia.cpp
Labels: unsafe-merge-queue, WPE WebKit

#25340 [WPE] WPE Platform: add API to get/set the primary display
  Source/WebKit/UIProcess/wpe/ScreenManagerWPE.cpp
  Source/WebKit/WPEPlatform/wpe/WPEDisplay.cpp
  Source/WebKit/WPEPlatform/wpe/WPEDisplay.h
Labels: unsafe-merge-queue, WPE WebKit

#25276 LibWebRTCCodecs's createRemoteEncoder is going through the main thread.
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.cpp
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.h
Labels: merge-queue, WebRTC

#25339 WebKit should never use CrashReporterClient.h from APPLE_INTERNAL_SDK
  Source/WTF/wtf/spi/cocoa/CrashReporterClientSPI.h
Labels: merge-queue

#25225 Remove duplicates of Acid1
  LayoutTests/css1/box_properties/acid_test.html
  LayoutTests/fast/block/basic/011.html
  LayoutTests/platform/mac/TestExpectations
Labels: Tools / Tests

#25200 Create IndexedDB version directory in network process
  Source/WebKit/NetworkProcess/storage/IDBStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/IDBStorageManager.h
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
Labels: merge-queue, Website Storage

#25331 [iOS] premierleague.com enters video fullscreen from element fullscreen on iPhone
  Source/WebCore/html/MediaElementSession.cpp
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
Labels: merge-queue, Media

#25312 [WGSL] Validate maximum array size
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/tests/invalid/array.wgsl
Labels: merge-queue, WebGPU

#25350 [WPE] Fix build in older platforms
  Source/WebKit/UIProcess/wpe/WebPageProxyWPE.cpp
Labels: unsafe-merge-queue, WPE WebKit

#25351 [Gardening]: REGRESSION (268639@main): [ macOS wk2 ] http/tests/navigation/keyboard-events-during-provisional-subframe-navigation.html is a flaky timeout
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#25345 REGRESSION(275267@main): [WPE][GTK][Debug] SHOULD NEVER BE REACHED in JSC::JSValue WebCore::toJSNewlyCreated()
  Source/WebCore/dom/TouchEvent.cpp
Labels: merge-queue, DOM

#25352 Disable element fullscreen on digitaltrends.com on iPhone
  Source/WebCore/page/Quirks.cpp
Labels: merge-queue, Media

#25253 Sever opener link for windows with an openee on manual navigation
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ProcessSwapOnNavigation.mm
Labels: merge-queue, WebKit Misc.

#25341 WebCore::AutoscrollType should be an enum class
  Source/WebCore/page/AutoscrollController.cpp
  Source/WebCore/page/AutoscrollController.h
Labels: merge-queue, WebCore Misc.

#25353 Use WeakPtr for members of GPUDeviceVideoFrameRequestCallback
  Source/WebCore/Modules/WebGPU/GPUDevice.cpp
  Source/WebCore/Modules/WebGPU/GPUDevice.h
Labels: unsafe-merge-queue, WebGPU

#25347 [WebGPU] Remove duplicate typeError when a bottom type is a member of a struct
  Source/WebGPU/WGSL/TypeCheck.cpp
Labels: unsafe-merge-queue, WebGPU

#25363 [Gardening]: REGRESSION (269807@main): [ MacOS Debug x86_64 ] fast/mediastream/microphone-change-while-muted.html is a flaky failure
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue

#25355 [JSC] Remove some hot CommonSlowPaths
  Source/JavaScriptCore/jit/JIT.cpp
  Source/JavaScriptCore/jit/JIT.h
  Source/JavaScriptCore/jit/JITInlines.h
  Source/JavaScriptCore/jit/JITOpcodes.cpp
  Source/JavaScriptCore/jit/JITOperations.cpp
  Source/JavaScriptCore/jit/JITOperations.h
  Source/JavaScriptCore/llint/LLIntSlowPaths.cpp
  Source/JavaScriptCore/llint/LLIntSlowPaths.h
  Source/JavaScriptCore/llint/LowLevelInterpreter.asm
  Source/JavaScriptCore/runtime/CommonSlowPaths.cpp
  Source/JavaScriptCore/runtime/CommonSlowPaths.h
Labels: unsafe-merge-queue, JavaScriptCore

#25361 Add JetStream2.2 plan file and make it default plan file for JestStream2
  Tools/Scripts/webkitpy/benchmark_runner/data/plans/jetstream2.2.plan
  Tools/Scripts/webkitpy/benchmark_runner/data/plans/jetstream2.plan
Labels: merge-queue, Tools / Tests

#25356 Address thread safety issue in log forwarding
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Labels: unsafe-merge-queue, WebKit Misc.

#25354 Crash under ScrollingStateFixedNode::reconcileLayerPositionForViewportRect
  Source/WebCore/page/scrolling/ScrollingStateFixedNode.cpp
Labels: unsafe-merge-queue, New Bugs

#25367 [Gardening]: REGRESSION (268354@main): [ macOS wk1 ] fast/hidpi/filters-drop-shadow.html is a consistent failure with image diff
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#25358 Get rid of downcast>() in ScopedEventQueue::enqueueEvent()
  Source/WebCore/dom/EventDispatcher.cpp
  Source/WebCore/dom/ScopedEventQueue.cpp
  Source/WebCore/dom/ScopedEventQueue.h
Labels: unsafe-merge-queue, DOM

#25328 IPC testing API tries to allocate JS objects during sweeping
  Source/WebKit/WebProcess/Storage/WebSWClientConnection.cpp
Labels: unsafe-merge-queue, Service Workers

#25303 [Skia] Implement FontPlatformData::openTypeTable
  Source/WebCore/platform/graphics/skia/FontPlatformDataSkia.cpp
Labels: merge-queue, WPE WebKit

#25359 Consecutive calls to `-insertTextAlternatives:` should not cause dictation underlines to disappear
  Source/WebCore/editing/Editor.cpp
  Source/WebCore/page/EditorClient.h
  Source/WebKit/WebProcess/WebCoreSupport/WebEditorClient.h
  Source/WebKit/WebProcess/WebCoreSupport/ios/WebEditorClientIOS.mm
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Tools/TestWebKitAPI/Tests/ios/TextAlternatives.mm
  Tools/TestWebKitAPI/cocoa/TestWKWebView.h
  Tools/TestWebKitAPI/cocoa/TestWKWebView.mm
Labels: merge-queue, Platform

#25369 [Gardening]: NEW TEST (269900@main): [ macOS wk1 ] fast/images/jpegxl-with-color-profile.html is a consistent image failure
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#25365 Assertion failure in ~CompletionHandler() via ImageBitmap::createCompletionHandler
  LayoutTests/fast/images/create-image-bitmap-after-stopping-script-execution-context-expected.txt
  LayoutTests/fast/images/create-image-bitmap-after-stopping-script-execution-context.html
  Source/WebCore/html/ImageBitmap.cpp
Labels: unsafe-merge-queue, Images

#25357 PresentationContextIOSurface::present should do nothing if there is no compute pipeline state
  LayoutTests/fast/webgpu/present-without-compute-pipeline-expected.txt
  LayoutTests/fast/webgpu/present-without-compute-pipeline.html
  LayoutTests/platform/mac-wk1/TestExpectations
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUCommandEncoderImpl.cpp
  Source/WebGPU/WebGPU/PresentationContextIOSurface.mm
Labels: unsafe-merge-queue, WebGPU

#25360 Add test using loadHTMLString with site isolation
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
Labels: unsafe-merge-queue, WebKit Process Model

#25364 Use smart pointers in Modules/WebGPU
  Source/WebCore/Modules/WebGPU/GPUBindGroupDescriptor.h
  Source/WebCore/Modules/WebGPU/GPUBindGroupLayout.h
  Source/WebCore/Modules/WebGPU/GPUBuffer.cpp
  Source/WebCore/Modules/WebGPU/GPUBuffer.h
  Source/WebCore/Modules/WebGPU/GPUBufferBinding.h
  Source/WebCore/Modules/WebGPU/GPUCanvasConfiguration.h
  Source/WebCore/Modules/WebGPU/GPUComputePassTimestampWrites.h
  Source/WebCore/Modules/WebGPU/GPUImageCopyBuffer.h
  Source/WebCore/Modules/WebGPU/GPUImageCopyTexture.h
  Source/WebCore/Modules/WebGPU/GPUPresentationContext.cpp
  Source/WebCore/Modules/WebGPU/GPUProgrammableStage.h
  Source/WebCore/Modules/WebGPU/GPUQuerySet.h
  Source/WebCore/Modules/WebGPU/GPURenderPassColorAttachment.h
  Source/WebCore/Modules/WebGPU/GPURenderPassDepthStencilAttachment.h
  Source/WebCore/Modules/WebGPU/GPURenderPassDescriptor.h
  Source/WebCore/Modules/WebGPU/GPURenderPassTimestampWrites.h
  Source/WebCore/Modules/WebGPU/GPUShaderModule.h
  Source/WebCore/Modules/WebGPU/GPUTexture.h
  Source/WebCore/Modules/WebGPU/GPUTextureView.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUBindGroupDescriptor.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUBindGroupLayout.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUBuffer.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUBufferBinding.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUCanvasConfiguration.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUComputePassTimestampWrites.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUDevice.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUImageCopyBuffer.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUImageCopyTexture.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUPipelineDescriptorBase.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUPipelineLayout.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUProgrammableStage.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUQuerySet.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPURenderPassColorAttachment.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPURenderPassDepthStencilAttachment.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPURenderPassDescriptor.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPURenderPassTimestampWrites.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUShaderModule.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUTexture.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUTextureView.h
  Source/WebKit/Shared/WebGPU/WebGPUBindGroupDescriptor.cpp
  Source/WebKit/Shared/WebGPU/WebGPUBufferBinding.cpp
  Source/WebKit/Shared/WebGPU/WebGPUCanvasConfiguration.cpp
  Source/WebKit/Shared/WebGPU/WebGPUComputePassTimestampWrites.cpp
  Source/WebKit/Shared/WebGPU/WebGPUImageCopyBuffer.cpp
  Source/WebKit/Shared/WebGPU/WebGPUImageCopyTexture.cpp
  Source/WebKit/Shared/WebGPU/WebGPUPipelineDescriptorBase.cpp
  Source/WebKit/Shared/WebGPU/WebGPUProgrammableStage.cpp
  Source/WebKit/Shared/WebGPU/WebGPURenderPassColorAttachment.cpp
  Source/WebKit/Shared/WebGPU/WebGPURenderPassTimestampWrites.cpp
Labels: unsafe-merge-queue, WebGPU

#25371 Unreviewed, reverting 275551@main
  Source/WebKit/Sources.txt
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.h
  Source/WebKit/UIProcess/BrowsingContextGroup.cpp
  Source/WebKit/UIProcess/BrowsingContextGroup.h
  Source/WebKit/UIProcess/FrameProcess.h
  Source/WebKit/UIProcess/ProvisionalFrameProxy.cpp
  Source/WebKit/UIProcess/ProvisionalFrameProxy.h
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.h
  Source/WebKit/UIProcess/RemotePageProxy.cpp
  Source/WebKit/UIProcess/RemotePageProxy.h
  Source/WebKit/UIProcess/RemotePageProxyState.h
  Source/WebKit/UIProcess/SuspendedPageProxy.cpp
  Source/WebKit/UIProcess/SuspendedPageProxy.h
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxyInternals.h
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessPool.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
Labels: unsafe-merge-queue, WebKit Process Model

#25305 Provide private relay information via the didExceedMemoryFootprintThreshold callback
  Source/WebKit/UIProcess/API/Cocoa/WKNavigationDelegatePrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebsiteDataStore.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebsiteDataStoreDelegate.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStoreClient.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/MemoryFootprintThreshold.mm
Labels: merge-queue, WebKit Misc.

#25239 Avoid updating hidden page timer throttling interval for suspended processes
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessPool.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/WebProcess/WebProcess.cpp
  Source/WebKit/WebProcess/WebProcess.h
  Source/WebKit/WebProcess/WebProcess.messages.in
Labels: merge-queue, WebKit Misc.

#25362 Reduce further use of downcast<>() in WebCore/
  Source/WebCore/dom/Position.cpp
  Source/WebCore/dom/PositionIterator.cpp
  Source/WebCore/rendering/LegacyLineLayout.cpp
  Source/WebCore/rendering/RenderLineBreak.h
  Source/WebCore/rendering/RenderObject.cpp
  Source/WebCore/rendering/RenderObject.h
  Source/WebCore/rendering/RenderTreeAsText.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#25242 Add fallback code for launching WebKit process extensions
  Source/WTF/wtf/PlatformUse.h
  Source/WebKit/Platform/cocoa/ExtensionCapability.h
  Source/WebKit/Platform/cocoa/ExtensionCapabilityGrant.h
  Source/WebKit/Platform/cocoa/ExtensionCapabilityGrant.mm
  Source/WebKit/UIProcess/Cocoa/ExtensionCapabilityGranter.mm
  Source/WebKit/UIProcess/Cocoa/ProcessAssertionCocoa.mm
  Source/WebKit/UIProcess/Launcher/cocoa/ExtensionProcess.h
  Source/WebKit/UIProcess/Launcher/cocoa/ExtensionProcess.mm
  Source/WebKit/UIProcess/Launcher/cocoa/ProcessLauncherCocoa.mm
  Source/WebKit/UIProcess/ProcessAssertion.h
Labels: unsafe-merge-queue, WebKit Misc.

#25380 [WebGPU] Fix bounds check with offset in Queue::writeTexture
  LayoutTests/fast/webgpu/queue-write-texture-offset-expected.txt
  LayoutTests/fast/webgpu/queue-write-texture-offset.html
  Source/WebGPU/WebGPU/Queue.mm
Labels: unsafe-merge-queue, WebGPU

#25376 VideoSourceIdentifier should contain std::optional<WebCore::MediaPlayerIdentifier>
  LayoutTests/fast/webgpu/optional-media-identifier-expected.txt
  LayoutTests/fast/webgpu/optional-media-identifier.html
  Source/WebCore/Modules/WebGPU/GPUExternalTextureDescriptor.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUExternalTextureDescriptor.h
  Source/WebCore/platform/VideoPixelFormat.cpp
  Source/WebKit/Shared/WebGPU/WebGPUExternalTextureDescriptor.cpp
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteAdapterProxy.cpp
Labels: unsafe-merge-queue, WebGPU

#25382 Give fast/webgpu/present-without-compute-pipeline.html extra time to run in debug builds
  LayoutTests/TestExpectations
  LayoutTests/platform/wincairo/TestExpectations
Labels: unsafe-merge-queue, Tools / Tests

#25379 Drop dead code in HTMLTreeBuilder::processTemplateEndTag()
  Source/WebCore/html/parser/HTMLTreeBuilder.cpp
Labels: merge-queue, DOM

#25381 Reduce use of downcast<>() in WebCore/
  Source/WebCore/dom/ComposedTreeIterator.cpp
  Source/WebCore/dom/ComposedTreeIterator.h
  Source/WebCore/loader/DocumentLoader.cpp
  Source/WebCore/loader/DocumentLoader.h
  Source/WebCore/loader/SubresourceLoader.cpp
  Source/WebCore/page/EventHandler.cpp
  Source/WebCore/page/FocusController.cpp
  Source/WebCore/page/Frame.cpp
  Source/WebCore/page/FrameSnapshotting.cpp
  Source/WebCore/page/FrameView.cpp
  Source/WebCore/page/ImageAnalysisQueue.cpp
  Source/WebCore/page/InteractionRegion.cpp
  Source/WebCore/page/ios/EventHandlerIOS.mm
  Source/WebCore/page/mac/EventHandlerMac.mm
  Source/WebCore/page/mac/ImageOverlayControllerMac.mm
Labels: merge-queue, WebCore Misc.

#25377 Drop unnecessary downcast<>() calls in InputType::isValidValue()
  Source/WebCore/html/InputType.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#25348 [contain-intrinsic-size] Element removed by parent should end up losing last remembered size
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/auto-006-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/contain-intrinsic-size/auto-006.html
  Source/WebCore/dom/ContainerNode.cpp
  Source/WebCore/dom/Element.cpp
Labels: merge-queue, CSS

#25183 [AVIF Downlevels] Allow pixi property to be missing in AVIF images
  Source/WebCore/platform/image-decoders/avif/AVIFImageReader.cpp
Labels: Images

#25393 [WinCairo] Unreviewed test gardening
  LayoutTests/platform/wincairo/TestExpectations
Labels: unsafe-merge-queue

#25396 Use `unsigned` instead of `unsigned int` in `Editor::selectionStartHasMarkerFor` aligning with WebKit Code Style
  Source/WebCore/editing/Editor.cpp
Labels: merge-queue, HTML Editing

#25401 Some media modules files are missing headers
  Source/WebCore/Modules/mediasession/MediaSessionCoordinator.cpp
  Source/WebCore/Modules/mediasource/MediaSourceHandle.cpp
  Source/WebCore/Modules/mediasource/MediaSourceHandle.h
Labels: WebCore Misc.

#25387 Adopt dynamicDowncast<> in some WebGPU code
  Source/WebGPU/WGSL/Metal/MetalFunctionWriter.cpp
  Source/WebGPU/WGSL/PointerRewriter.cpp
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/WGSL.cpp
  Source/WebGPU/WebGPU/ShaderModule.mm
Labels: WebGPU

#25390 Adopt dynamicDowncast<> and uncheckedDowncast<> in the remainder of WebGPU code
  Source/WebGPU/WGSL/AST/ASTVisitor.cpp
  Source/WebGPU/WGSL/AttributeValidator.cpp
  Source/WebGPU/WGSL/CallGraph.cpp
  Source/WebGPU/WGSL/EntryPointRewriter.cpp
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
Labels: WebGPU

#25388 REGRESSION(274689@main): [GTK][Debug] Triggers assert on WOFF2 tests
  Source/WebCore/loader/cache/CachedFont.cpp
Labels: merge-queue, WebKitGTK

#25389 REGRESSION(274824@main): [GStreamer][Debug] Triggers assert when running test http/tests/media/video-error-does-not-exist.html
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.cpp
Labels: Platform

#25288 Viewport unit conversion should work in empty frame
  LayoutTests/fast/css/viewport-unit-conversion-crash-expected.txt
  LayoutTests/fast/css/viewport-unit-conversion-crash.html
  Source/WebCore/css/CSSPrimitiveValue.cpp
Labels: CSS

#25403 NEW TEST[ MacOS arm64 ] media/mediacapabilities/vp9-hw.html is a constant failure
  LayoutTests/media/mediacapabilities/vp9-hw.html
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: merge-queue, Media

#25404 TestRunner addMockCameraDevice/addMockMicrophoneDevice should have its last parameter as optional
  Tools/WebKitTestRunner/InjectedBundle/Bindings/TestRunner.idl
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.cpp
Labels: WebRTC

#25405 REGRESSION (269807@main): [ MacOS Debug x86_64 ] fast/mediastream/microphone-change-while-muted.html is a flaky failure
  LayoutTests/fast/mediastream/microphone-change-while-muted.html
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: New Bugs

#25410 Display capture Safari muting UI is broken if UseSCContentSharingPicker is false
  Source/WebCore/platform/mediastream/cocoa/DisplayCaptureSourceCocoa.cpp
  Source/WebCore/platform/mediastream/cocoa/DisplayCaptureSourceCocoa.h
  Source/WebCore/platform/mediastream/mac/ScreenCaptureKitCaptureSource.h
  Source/WebCore/platform/mediastream/mac/ScreenCaptureKitCaptureSource.mm
  Source/WebCore/platform/mediastream/mac/ScreenCaptureKitSharingSessionManager.h
  Source/WebCore/platform/mediastream/mac/ScreenCaptureKitSharingSessionManager.mm
Labels: WebRTC

#25422 [resultsdb] rewrite JS unexpectedResults for clarity
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/static/js/expectations.js
Labels: unsafe-merge-queue, Tools / Tests

#25285 REGRESSION(IFC multicol): Satisfying `widows` can cause a floating image to overlap text
  LayoutTests/fast/multicol/multicol-intrusive-float-orphan-expected.html
  LayoutTests/fast/multicol/multicol-intrusive-float-orphan.html
  Source/WebCore/layout/formattingContexts/inline/invalidation/InlineDamage.h
  Source/WebCore/layout/formattingContexts/inline/invalidation/InlineInvalidation.cpp
  Source/WebCore/layout/formattingContexts/inline/invalidation/InlineInvalidation.h
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.cpp
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.h
  Source/WebCore/layout/integration/inline/LayoutIntegrationPagination.cpp
  Source/WebCore/layout/integration/inline/LayoutIntegrationPagination.h
Labels: Layout and Rendering

#25421 Build fix: WK_LIBFUZZER_COVERAGE should default to trace-pc-guard when Fuzzilli is enabled
  Configurations/Sanitizers.xcconfig
Labels: unsafe-merge-queue, JavaScriptCore

#25349 Make sure to unregister service worker client ID in case DocumentLoader::loadMainResource is called repeatedly
  Source/WebCore/loader/DocumentLoader.cpp
Labels: merge-queue, Service Workers

#25368 Ensure TrackingPreventionEnabled flag is correctly set before using WebsiteDataStore
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/NetworkSessionCreationParameters.h
  Source/WebKit/NetworkProcess/NetworkSessionCreationParameters.serialization.in
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.mm
  Source/WebKit/Shared/ResourceLoadStatisticsParameters.h
  Source/WebKit/Shared/ResourceLoadStatisticsParameters.serialization.in
  Source/WebKit/UIProcess/API/C/WKWebsiteDataStoreRef.cpp
  Source/WebKit/UIProcess/API/Cocoa/WKWebsiteDataStore.mm
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessPool.h
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.h
Labels: merge-queue, Website Storage

#25407 [web-animations] WPT test css/CSS2/visufx/animation/visibility-interpolation.html is a unique failure
  LayoutTests/imported/w3c/web-platform-tests/css/CSS2/visufx/animation/visibility-interpolation-expected.txt
  Source/WebCore/animation/CSSPropertyAnimation.cpp
Labels: unsafe-merge-queue, Animations

#25378 Return empty port with a delay if destination extension isn't found for externally_connectable.
  Source/WebKit/Platform/cocoa/CocoaHelpers.h
  Source/WebKit/Platform/cocoa/CocoaHelpers.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIPortCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIRuntimeCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionMessagePortCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.messages.in
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIEventCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIPortCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIRuntimeCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIObject.h
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIPort.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIRuntime.mm
Labels: WebKit Extensions

#25391 Context menu items for Action and Tab are not filtered by tab URL.
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionActionCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionMenuItem.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIMenus.mm
Labels: WebKit Extensions

#25435 Unreviewed build fix after 275627@main
  Source/WebCore/platform/mediastream/mac/ScreenCaptureKitSharingSessionManager.mm
Labels: unsafe-merge-queue, WebRTC

#25307 [git-webkit revert] Handle exception when trying to reopen a closed radar
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/revert.py
Labels: Tools / Tests

#25427 [threaded-animation-resolution] values passed to PlatformCALayer::setAcceleratedEffectsAndBaseValues() should be const-qualified
  Source/WebCore/platform/graphics/ca/PlatformCALayer.h
  Source/WebCore/platform/graphics/ca/PlatformCALayer.mm
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemote.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemote.mm
Labels: unsafe-merge-queue, Animations

#25394 Changing color scheme does not update gradients with system colors or `light-dark()`
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/gradient/color-scheme-dependent-color-stops-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/gradient/color-scheme-dependent-color-stops-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/gradient/color-scheme-dependent-color-stops.html
  Source/WebCore/css/StyleColor.cpp
  Source/WebCore/css/StyleColor.h
  Source/WebCore/css/color/CSSUnresolvedColor.cpp
  Source/WebCore/css/color/CSSUnresolvedColor.h
  Source/WebCore/style/StyleBuilderState.cpp
Labels: CSS

#25374 [EWS] Add WPE Skia queue to bubbles and safe-merge queue
  Tools/CISupport/ews-app/ews/common/github.py
  Tools/CISupport/ews-app/ews/views/statusbubble.py
  Tools/CISupport/ews-build/steps.py
Labels: Tools / Tests

#25333 Legacy EME WebKitMediaKeys createSessions unknown error
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/platform/graphics/MediaPlayer.cpp
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.mm
Labels: merge-queue

#25440 Extend test-groups API to be able to fetch test group information from a build request.
  Websites/perf.webkit.org/public/api/test-groups.php
  Websites/perf.webkit.org/server-tests/api-test-groups.js
Labels: merge-queue, Tools / Tests

#25452 [Gardening]: REGRESSION (274876@main?): [ iOS Debug ] accessibility/text-marker/text-marker-range-stale-node-crash.html is a constant crash
  LayoutTests/platform/ios-wk2/TestExpectations
Labels: unsafe-merge-queue

#25441 activeTab extension has access to page after turning the extension off, then back on
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
Labels: merge-queue, WebKit Extensions

#25438 [view-transitions] Address post-landing comments from 275156@main
  Source/WebCore/animation/DocumentTimeline.cpp
  Source/WebCore/animation/DocumentTimeline.h
  Source/WebCore/dom/ViewTransition.cpp
Labels: DOM

#25375 Sync `media-element-enqueue-event-crash.html` from Blink / Chromium upstream
  LayoutTests/media/track/media-element-enqueue-event-crash-expected.txt
  LayoutTests/media/track/media-element-enqueue-event-crash.html
Labels: Media

#25444 Pass the full host name to CoreTelephony when checking whether eSIM AutoFill should be allowed
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/spi/cocoa/CoreTelephonySPI.h
  Source/WebKit/UIProcess/Cocoa/CoreTelephonyUtilities.mm
  Tools/TestWebKitAPI/Tests/ios/KeyboardInputTestsIOS.mm
Labels: merge-queue, Platform

#25439 [WebAuthn] Add logging for authenticators
  Source/WebCore/Modules/webauthn/WebAuthenticationUtils.cpp
  Source/WebCore/Modules/webauthn/WebAuthenticationUtils.h
  Source/WebCore/Modules/webauthn/fido/AuthenticatorGetInfoResponse.cpp
  Source/WebKit/UIProcess/WebAuthentication/fido/CtapAuthenticator.cpp
  Source/WebKit/UIProcess/WebAuthentication/fido/CtapAuthenticator.h
  Source/WebKit/UIProcess/WebAuthentication/fido/FidoAuthenticator.cpp
  Source/WebKit/UIProcess/WebAuthentication/fido/FidoAuthenticator.h
  Source/WebKit/UIProcess/WebAuthentication/fido/U2fAuthenticator.cpp
Labels: merge-queue, WebKit Misc.

#25437 When Archiving Test Results, visionOS Should be a Supported Platform
  Tools/CISupport/test-result-archive
Labels: unsafe-merge-queue, Tools / Tests

#25463 Fix the macOS build after 275656@main
  Source/WebCore/PAL/pal/spi/cocoa/CoreTelephonySPI.h
Labels: unsafe-merge-queue, WebKit Misc.

#25464 [Gardening]: REGRESSION (274621@main-274598@main?): [ iOS Debug ]media/video-autoplay.html and media/video-element-other-namespace-crash.html are constant crashes
  LayoutTests/platform/ios-wk2/TestExpectations
Labels: unsafe-merge-queue

#25455 Check Texture::supportsBlending in addition to hasAlphaChannel
  LayoutTests/fast/webgpu/texture-supports-blending-expected.txt
  LayoutTests/fast/webgpu/texture-supports-blending.html
  Source/WebGPU/WebGPU/RenderPipeline.mm
Labels: unsafe-merge-queue, WebGPU

#25442 [WebGPU] getBindGroupLayout should return a non-null possibly-invalid layout
  LayoutTests/fast/webgpu/bind-group-layout-invalid-expected.txt
  LayoutTests/fast/webgpu/bind-group-layout-invalid.html
  Source/WebGPU/WebGPU/ComputePipeline.h
  Source/WebGPU/WebGPU/ComputePipeline.mm
  Source/WebGPU/WebGPU/RenderPipeline.h
  Source/WebGPU/WebGPU/RenderPipeline.mm
Labels: unsafe-merge-queue, WebGPU

#25372 [Skia] Fix support for custom cursors
  Source/WebCore/platform/graphics/skia/ShareableBitmapSkia.cpp
  Source/WebKit/UIProcess/API/wpe/WPEWebView.cpp
Labels: unsafe-merge-queue, WPE WebKit

#23997 Implement trusted types integration with execCommand
  LayoutTests/imported/w3c/web-platform-tests/trusted-types/block-Document-execCommand-expected.txt
  Source/WebCore/dom/Document+HTML.idl
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/dom/TrustedHTML.h
Labels: WebCore Misc.

#25454 Add EnabledIf to all Web Extensions messages.
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIActionCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIAlarmsCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPICommandsCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPICookiesCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIDeclarativeNetRequestCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIMenusCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIScriptingCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIStorageCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIWebNavigationCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.messages.in
  Source/WebKit/UIProcess/Extensions/WebExtensionController.messages.in
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIMenus.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPITabs.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionDataRecord.mm
  Tools/TestWebKitAPI/cocoa/WebExtensionUtilities.mm
Labels: unsafe-merge-queue, WebKit Extensions

#25465 imageBytesForSource should only copy the required bytes for images with more than 4 bytes per pixel
  LayoutTests/fast/webgpu/image-data-8-bytes-per-pixel-expected.txt
  LayoutTests/fast/webgpu/image-data-8-bytes-per-pixel.html
  Source/WebCore/Modules/WebGPU/GPUQueue.cpp
Labels: unsafe-merge-queue, WebGPU

#25471 WKWebExtensionTab and WKWebExtensionWindow tests are failing after 275651@main.
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionTab.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionWindow.mm
Labels: unsafe-merge-queue, WebKit Extensions

#25446 REGRESSION(273918@main): WebAuthn cancel completion handler is never called
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/WebAuthenticatorCoordinatorProxy.mm
Labels: unsafe-merge-queue, WebKit Misc.

#25459 Remove unnecessary telemetry from the iOS WebContent sandbox
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
Labels: WebKit Misc.

#25457 Allow syscall related to audio feature in the GPU process
  Source/WTF/wtf/PlatformHave.h
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
Labels: WebKit Misc.

#25385 [WebCore] Optimize Font::applyTransforms
  Source/WTF/wtf/Vector.h
  Source/WTF/wtf/text/StringView.h
  Source/WebCore/editing/cocoa/DataDetection.mm
  Source/WebCore/platform/graphics/GlyphBuffer.h
  Source/WebCore/platform/graphics/coretext/FontCoreText.cpp
  Source/WebCore/platform/text/cocoa/LocaleCocoa.h
  Source/WebCore/platform/text/cocoa/LocaleCocoa.mm
  Tools/TestWebKitAPI/Tests/WTF/Vector.cpp
Labels: unsafe-merge-queue, Text

#24797 [ iOS Debug ] fast/screen-orientation/natural-orientation.html and fast/events/ios/rotation/zz-no-rotation.html test are constant failures
  LayoutTests/fast/events/ios/rotation/zz-no-rotation-expected.txt
  LayoutTests/fast/events/ios/rotation/zz-no-rotation.html
  LayoutTests/platform/ios-wk2/TestExpectations
  LayoutTests/platform/ios/fast/events/ios/rotation/zz-no-rotation-expected.txt
  LayoutTests/platform/ipad/TestExpectations
  LayoutTests/platform/ipad/fast/events/ios/rotation/zz-no-rotation-expected.txt
  LayoutTests/platform/ipad/fast/screen-orientation/natural-orientation-expected.txt
Labels: New Bugs

#25417 Adopt dynamicDowncast<> in worker code
  Source/WebCore/workers/WorkerConsoleClient.cpp
  Source/WebCore/workers/WorkerGlobalScope.cpp
  Source/WebCore/workers/WorkerOrWorkletThread.cpp
  Source/WebCore/workers/WorkerScriptLoader.cpp
  Source/WebCore/workers/WorkerThread.cpp
  Source/WebCore/workers/service/SWClientConnection.cpp
  Source/WebCore/workers/service/ServiceWorker.cpp
  Source/WebCore/workers/service/ServiceWorkerClientData.cpp
Labels: WebCore Misc.

#25432 Adopt dynamicDowncast<> in JSC inspector code
  Source/JavaScriptCore/inspector/remote/RemoteConnectionToTarget.cpp
  Source/JavaScriptCore/inspector/remote/RemoteInspector.cpp
  Source/JavaScriptCore/inspector/remote/cocoa/RemoteConnectionToTargetCocoa.mm
  Source/JavaScriptCore/inspector/remote/cocoa/RemoteInspectorCocoa.mm
Labels: JavaScriptCore

#25474 [Crash in com.apple.WebKit.WebContent] WTF::Detail::CallableWrapper<WebKit::MediaSourcePrivateRemote::setMediaPlayerReadyState(WebCore::MediaPlayerReadyState)::$_0, void>::call
  Source/WebKit/WebProcess/GPU/media/MediaSourcePrivateRemote.cpp
Labels: merge-queue, Media

#24953 [LBSE] Support outlines
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/TestExpectations
  Source/WebCore/rendering/svg/RenderSVGContainer.cpp
  Source/WebCore/rendering/svg/RenderSVGImage.cpp
  Source/WebCore/rendering/svg/RenderSVGModelObject.cpp
  Source/WebCore/rendering/svg/RenderSVGModelObject.h
  Source/WebCore/rendering/svg/RenderSVGRoot.cpp
  Source/WebCore/rendering/svg/RenderSVGShape.cpp
Labels: SVG

#25191 [LBSE] Fix svg/repaint/image-with-clip-path.svg
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/TestExpectations
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/RenderLayer.h
  Source/WebCore/rendering/RenderLayerModelObject.cpp
Labels: SVG

#25431 Use InvalidStateError if user gesture is missing for getDisplayMedia
  LayoutTests/fast/mediastream/screencapture-user-gesture.html
  LayoutTests/imported/w3c/web-platform-tests/mediacapture-streams/MediaStreamTrack-iframe-audio-transfer.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mediacapture-streams/MediaStreamTrack-iframe-transfer.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mediacapture-streams/MediaStreamTrack-transfer.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mediacapture-streams/parallel-capture-requests.https-expected.txt
  Source/WebCore/Modules/mediastream/MediaDevices.cpp
Labels: WebRTC

#24408 Implement the `require-trusted-types-for` pre-navigation check
  LayoutTests/imported/w3c/web-platform-tests/trusted-types/support/navigation-report-only-support.html
  LayoutTests/imported/w3c/web-platform-tests/trusted-types/support/navigation-support.html
  LayoutTests/imported/w3c/web-platform-tests/trusted-types/trusted-types-navigation-expected.txt
  Source/WebCore/bindings/js/ScriptController.cpp
  Source/WebCore/dom/TrustedType.cpp
  Source/WebCore/dom/TrustedType.h
Labels: WebCore Misc.

#25482 [EWS] Skip upload of WPE Skia builds
  Tools/CISupport/ews-build/config.json
  Tools/CISupport/ews-build/factories.py
  Tools/CISupport/ews-build/loadConfig.py
Labels: Tools / Tests

#25478 [CSS Container Queries][Style queries] Resolve container units in style queries correctly
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/custom-property-style-queries-expected.txt
  Source/WebCore/css/query/ContainerQueryFeatures.cpp
Labels: CSS

#25449 [Cocoa] Tell AVFoundation to not log urls in private browsing mode
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.mm
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/platform/graphics/MediaPlayer.cpp
  Source/WebCore/platform/graphics/MediaPlayer.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.mm
Labels: Media

#25460 Create a faster cache of _WKWebExtensionTabs
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
Labels: WebKit Extensions

#25469 REGRESSION (274894@main): [ iOS Debug ] accessibility/text-marker/text-marker-range-stale-node-crash.html is a constant crash
  Source/WebCore/accessibility/AXObjectCache.cpp
Labels: merge-queue, New Bugs

#25472 [JSC] Destroy LinkBuffer in compiler thread
  Source/JavaScriptCore/assembler/LinkBuffer.cpp
  Source/JavaScriptCore/assembler/LinkBuffer.h
  Source/JavaScriptCore/dfg/DFGJITFinalizer.cpp
  Source/JavaScriptCore/dfg/DFGJITFinalizer.h
  Source/JavaScriptCore/dfg/DFGLazyJSValue.cpp
  Source/JavaScriptCore/dfg/DFGLazyJSValue.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/ftl/FTLCompile.cpp
  Source/JavaScriptCore/ftl/FTLJITFinalizer.cpp
  Source/JavaScriptCore/ftl/FTLJITFinalizer.h
  Source/JavaScriptCore/ftl/FTLLink.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/ftl/FTLPatchpointExceptionHandle.cpp
  Source/JavaScriptCore/ftl/FTLState.cpp
  Source/JavaScriptCore/ftl/FTLState.h
  Source/JavaScriptCore/jit/BaselineJITPlan.cpp
  Source/JavaScriptCore/jit/BaselineJITPlan.h
  Source/JavaScriptCore/jit/JIT.cpp
  Source/JavaScriptCore/jit/JIT.h
  Source/JavaScriptCore/jit/JITCode.cpp
  Source/JavaScriptCore/jit/JITPlan.cpp
  Source/JavaScriptCore/jit/JITPlan.h
  Source/JavaScriptCore/jit/JITSizeStatistics.cpp
  Source/JavaScriptCore/jit/JITSizeStatistics.h
  Source/JavaScriptCore/runtime/ScriptExecutable.cpp
Labels: JavaScriptCore

#25480 Adopt dynamicDowncast<> in even more accessibility code
  Source/WebCore/accessibility/AXCoreObject.h
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AccessibilityImageMapLink.cpp
  Source/WebCore/accessibility/AccessibilityImageMapLink.h
  Source/WebCore/accessibility/AccessibilityMathMLElement.cpp
  Source/WebCore/accessibility/AccessibilityMenuListPopup.h
  Source/WebCore/accessibility/AccessibilitySVGElement.cpp
  Source/WebCore/accessibility/AccessibilitySVGRoot.cpp
  Source/WebCore/accessibility/AccessibilitySlider.cpp
  Source/WebCore/accessibility/AccessibilitySpinButton.cpp
  Source/WebCore/accessibility/AccessibilityTableHeaderContainer.cpp
  Source/WebCore/accessibility/ios/AccessibilityObjectIOS.mm
  Source/WebCore/accessibility/ios/WebAccessibilityObjectWrapperIOS.mm
  Source/WebCore/accessibility/isolatedtree/mac/AXIsolatedObjectMac.mm
Labels: merge-queue, Accessibility

#25485 Add missing grid styling to HTML switch demo
  Websites/webkit.org/demos/html-switch/index.html
Labels: unsafe-merge-queue, WebKit Website

#25408 [css-transitions] imported/w3c/web-platform-tests/css/css-transitions/properties-value-001.html and imported/w3c/web-platform-tests/css/css-transitions/properties-value-inherit-001.html are flaky failures
  LayoutTests/TestExpectations
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-transitions/properties-value-inherit-001-expected.txt
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: Animations

#25488 Adjust byline styles to wrap author names and improve vertical rhythm
  Websites/webkit.org/wp-content/themes/webkit/style.css
Labels: unsafe-merge-queue, WebKit Website

#25492 Fix invisible scrollbars on webkit.org
  Websites/webkit.org/wp-content/themes/webkit/header.php
  Websites/webkit.org/wp-content/themes/webkit/style.css
Labels: unsafe-merge-queue, WebKit Website

#25118 [LBSE] Fix MotionMark repaint issues
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/custom/js-late-marker-and-object-creation-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/custom/js-late-marker-creation-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/custom/js-late-pattern-and-object-creation-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/custom/marker-orient-auto-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/custom/non-scaling-stroke-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/custom/pattern-deep-referencing-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/custom/pattern-incorrect-tiling-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/custom/pattern-referencing-preserve-aspect-ratio-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/custom/pattern-rotate-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/custom/pattern-scaled-pattern-space-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/custom/pattern-scaling-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/custom/pattern-skew-transformed-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/custom/pattern-with-transformation-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/custom/shapes-supporting-markers-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/custom/transformed-pattern-clamp-svg-root-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/repaint/foreign-object-repainting-after-modifying-container-transform-repaint-rects-expected.txt
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/repaint/foreign-object-repainting-after-modifying-transform-repaint-rects-expected.txt
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/repaint/image-repainting-after-modifying-container-transform-repaint-rects-expected.txt
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/repaint/image-repainting-after-modifying-transform-repaint-rects-expected.txt
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/repaint/shape-repainting-after-modifying-container-transform-repaint-rects-expected.txt
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/repaint/shape-repainting-after-modifying-transform-repaint-rects-expected.txt
  Source/WebCore/rendering/ReferencedSVGResources.cpp
  Source/WebCore/rendering/RenderElement.cpp
  Source/WebCore/rendering/RenderElement.h
Labels: merge-queue, SVG

#25313 [git-webkit pr] Should prompt user if radar and bugs do not match
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/bugzilla.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
Labels: Tools / Tests

#25430 [threaded-animation-resolution] explicitly obtain ref-counted properties as references when blending
  Source/WebCore/platform/animation/AcceleratedEffect.cpp
Labels: unsafe-merge-queue, Animations

#25470 Update trusted fonts in lockdown mode
  Source/WebCore/loader/cache/TrustedFonts.cpp
Labels: CSS

#25498 REGRESSION(275690@main): [webkitpy][Win] NameError: name '_winreg' is not defined
  Tools/Scripts/webkitpy/port/win.py
Labels: unsafe-merge-queue, Tools / Tests

#25448 PDFPlugin hangs in deallocation when data load contends with waiting for thread completion
  LayoutTests/compositing/plugins/pdf/pdf-plugin-hang-during-destruction-expected.txt
  LayoutTests/compositing/plugins/pdf/pdf-plugin-hang-during-destruction.html
  Source/WebKit/WebProcess/Plugins/PDF/PDFIncrementalLoader.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFIncrementalLoader.mm
Labels: merge-queue, PDF

#25450 REGRESSION(273523@main): A test case in html/semantics/forms/the-input-element/radio-disconnected-group-owner.html fails
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/forms/the-input-element/radio-disconnected-group-owner-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/forms/the-input-element/radio-disconnected-group-owner.html
  Source/WebCore/html/HTMLInputElement.cpp
Labels: unsafe-merge-queue, Forms

#25499 [WebAuthn] Navigator matches excludedCredentials for deleted passkeys in 30 day grace period
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/LocalAuthenticator.mm
Labels: merge-queue, WebCore JavaScript

#25503 Unified PDF: HUD zoom buttons don't work on embedded pdfs
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
  Source/WebKit/WebProcess/Plugins/PluginView.cpp
  Source/WebKit/WebProcess/Plugins/PluginView.h
Labels: PDF

#25505 [ Sonoma+ WK1 ] 2X imported/w3c/web-platform-tests/dom/events/non-cancelable-when-passive/passive test are constant failures
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#25493 build-and-collect-pgo-profiles script should be updated to use run-benchmarks' built-in HTTP server by default
  Tools/Scripts/build-and-collect-pgo-profiles
Labels: merge-queue, Tools / Tests

#25509 [Gardening]: REGRESSION ( Sonoma?): [ Sonoma wk1 ] Three compositing/repaint/iframes/compositing-iframe tests are consistent failures
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac-wk1/compositing/repaint/iframes/composited-iframe-with-fixed-background-doc-repaint-actual.txt
  LayoutTests/platform/mac-wk1/compositing/repaint/iframes/compositing-iframe-scroll-repaint-actual.txt
  LayoutTests/platform/mac-wk1/compositing/repaint/iframes/compositing-iframe-with-fixed-background-doc-repaint-actual.txt
Labels: unsafe-merge-queue, Compositing

#25506 ASSERTION FAILED: Unhandled message WebExtensionController_DidStartProvisionalLoadForFrame to 17.
  Source/WebKit/WebProcess/Extensions/Cocoa/WebExtensionControllerProxyCocoa.mm
  Source/WebKit/WebProcess/Extensions/WebExtensionControllerProxy.h
Labels: unsafe-merge-queue, WebKit Extensions

#25513 [Gardening]: REGRESSION ( Sonoma?): [ Sonoma wk1 ] Three compositing/repaint/iframes/compositing-iframe tests are consistent failures
  LayoutTests/platform/mac-wk1/compositing/repaint/iframes/composited-iframe-with-fixed-background-doc-repaint-expected.txt
  LayoutTests/platform/mac-wk1/compositing/repaint/iframes/compositing-iframe-scroll-repaint-expected.txt
  LayoutTests/platform/mac-wk1/compositing/repaint/iframes/compositing-iframe-with-fixed-background-doc-repaint-expected.txt
Labels: unsafe-merge-queue, Compositing

#25514 [Gardening]: REGRESSION ( Sonoma?): [ Sonoma wk1 ] Three compositing/repaint/iframes/compositing-iframe tests are consistent failures
  LayoutTests/platform/mac-wk1/compositing/repaint/iframes/composited-iframe-with-fixed-background-doc-repaint-actual.txt
  LayoutTests/platform/mac-wk1/compositing/repaint/iframes/compositing-iframe-scroll-repaint-actual.txt
  LayoutTests/platform/mac-wk1/compositing/repaint/iframes/compositing-iframe-with-fixed-background-doc-repaint-actual.txt
Labels: unsafe-merge-queue, Compositing

#25515 Proof-read German translation update
  Source/WebCore/platform/gtk/po/de.po
Labels: unsafe-merge-queue, WebKitGTK

#25468 [JSC] Use handler IC for single stateless AccessCase
  Source/JavaScriptCore/bytecode/AccessCase.cpp
  Source/JavaScriptCore/bytecode/AccessCase.h
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.cpp
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.h
  Source/JavaScriptCore/bytecode/Repatch.cpp
  Source/JavaScriptCore/bytecode/StructureStubInfo.cpp
  Source/JavaScriptCore/bytecode/StructureStubInfo.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/jit/JITInlineCacheGenerator.cpp
  Source/JavaScriptCore/jit/JITInlineCacheGenerator.h
  Source/JavaScriptCore/jit/JITPropertyAccess.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#25518 REGRESSION: [Ventura] http/tests/workers/service/shownotification-allowed.html is a flaky failure
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#25483 Always use process launch fallback for Simulator on older OS versions
  Source/WebKit/UIProcess/Launcher/cocoa/ProcessLauncherCocoa.mm
Labels: WebKit Misc.
