Repository WebKit/WebKit, pull requests merged in 2024-07, with the labels that each got.

#30313 Drop AudioFileReader::data() in favor of span()
  Source/WebCore/platform/audio/cocoa/AudioFileReaderCocoa.cpp
  Source/WebCore/platform/audio/cocoa/AudioFileReaderCocoa.h
Labels: unsafe-merge-queue, WebCore Misc.

#30315 Drop MappedFileData::data() in favor of span()
  Source/JavaScriptCore/runtime/CachePayload.cpp
  Source/WTF/wtf/FileSystem.cpp
  Source/WTF/wtf/FileSystem.h
  Source/WebCore/contentextensions/SerializedNFA.cpp
  Source/WebCore/platform/SharedBuffer.cpp
  Source/WebCore/platform/network/BlobRegistryImpl.cpp
  Source/WebKit/NetworkProcess/cache/NetworkCacheDataGLib.cpp
  Tools/TestWebKitAPI/Tests/WTF/FileSystem.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#30310 [Writing Tools] Writing Tools context menu item may still show up even when using UIWritingToolsBehaviorNone
  Source/WebCore/PAL/pal/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewInternal.h
  Source/WebKit/UIProcess/API/mac/WKWebViewMac.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/ios/WKExtendedTextInputTraits.h
  Source/WebKit/UIProcess/ios/WKExtendedTextInputTraits.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WritingTools.mm
Labels: unsafe-merge-queue, HTML Editing

#30327 REGRESSION(280517@main): [curl] NetworkCacheDataCurl.cpp(105,23): error: no member named 'data' in 'WTF::FileSystemImpl::MappedFileData'
  Source/WebKit/NetworkProcess/cache/NetworkCacheDataCurl.cpp
Labels: unsafe-merge-queue, Platform

#30264 [WPE] Split WPEWebView into Legacy and Platform implementations
  Source/WebKit/SourcesWPE.txt
  Source/WebKit/UIProcess/API/C/wpe/WKView.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebView.cpp
  Source/WebKit/UIProcess/API/wpe/PageClientImpl.cpp
  Source/WebKit/UIProcess/API/wpe/WPEWebView.cpp
  Source/WebKit/UIProcess/API/wpe/WPEWebView.h
  Source/WebKit/UIProcess/API/wpe/WPEWebViewLegacy.cpp
  Source/WebKit/UIProcess/API/wpe/WPEWebViewLegacy.h
  Source/WebKit/UIProcess/API/wpe/WPEWebViewPlatform.cpp
  Source/WebKit/UIProcess/API/wpe/WPEWebViewPlatform.h
  Source/WebKit/UIProcess/Gamepad/libwpe/UIGamepadProviderLibWPE.cpp
Labels: unsafe-merge-queue, WPE WebKit

#29575 [WebXR] Implement explicit resolve of WebXR MSAA Rendertarget
  Source/ThirdParty/ANGLE/Configurations/BaseTarget.xcconfig
  Source/ThirdParty/ANGLE/doc/ExtensionSupport.md
  Source/ThirdParty/ANGLE/include/GLES2/gl2ext_angle.h
  Source/ThirdParty/ANGLE/scripts/code_generation_hashes/GL_EGL_entry_points.json
  Source/ThirdParty/ANGLE/scripts/code_generation_hashes/interpreter_utils.json
  Source/ThirdParty/ANGLE/scripts/entry_point_packed_gl_enums.json
  Source/ThirdParty/ANGLE/scripts/gl_angle_ext.xml
  Source/ThirdParty/ANGLE/scripts/registry_xml.py
  Source/ThirdParty/ANGLE/src/common/entry_points_enum_autogen.cpp
  Source/ThirdParty/ANGLE/src/common/entry_points_enum_autogen.h
  Source/ThirdParty/ANGLE/src/libANGLE/Context.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/Context_gles_ext_autogen.h
  Source/ThirdParty/ANGLE/src/libANGLE/Framebuffer.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/Framebuffer.h
  Source/ThirdParty/ANGLE/src/libANGLE/capture/capture_gles_ext_autogen.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/capture/capture_gles_ext_autogen.h
  Source/ThirdParty/ANGLE/src/libANGLE/gles_extensions_autogen.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/gles_extensions_autogen.h
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/BUILD.gn
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/ContextMtl.mm
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/DisplayMtl.mm
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/FrameBufferMtl.h
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/FrameBufferMtl.mm
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/RenderTargetMtl.h
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/RenderTargetMtl.mm
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/mtl_command_buffer.mm
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/mtl_state_cache.h
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/mtl_state_cache.mm
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/mtl_utils.mm
  Source/ThirdParty/ANGLE/src/libANGLE/validationESEXT.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/validationESEXT_autogen.h
  Source/ThirdParty/ANGLE/src/libGLESv2/entry_points_gles_ext_autogen.cpp
  Source/ThirdParty/ANGLE/src/libGLESv2/entry_points_gles_ext_autogen.h
  Source/ThirdParty/ANGLE/src/libGLESv2/libGLESv2_autogen.cpp
  Source/ThirdParty/ANGLE/src/libGLESv2/libGLESv2_autogen.def
  Source/ThirdParty/ANGLE/src/libGLESv2/libGLESv2_no_capture_autogen.def
  Source/ThirdParty/ANGLE/src/libGLESv2/libGLESv2_vulkan_secondaries_autogen.def
  Source/ThirdParty/ANGLE/src/libGLESv2/libGLESv2_with_capture_autogen.def
  Source/ThirdParty/ANGLE/src/libGLESv2/opengl32_autogen.def
  Source/ThirdParty/ANGLE/src/libGLESv2/opengl32_with_wgl_autogen.def
  Source/ThirdParty/ANGLE/src/libGLESv2/proc_table_egl_autogen.cpp
  Source/ThirdParty/ANGLE/src/libGLESv2/proc_table_glx_autogen.cpp
  Source/ThirdParty/ANGLE/src/libGLESv2/proc_table_wgl_autogen.cpp
  Source/ThirdParty/ANGLE/src/tests/angle_end2end_tests.gni
  Source/ThirdParty/ANGLE/util/capture/frame_capture_replay_autogen.cpp
  Source/ThirdParty/ANGLE/util/capture/trace_gles_loader_autogen.cpp
  Source/ThirdParty/ANGLE/util/capture/trace_gles_loader_autogen.h
  Source/ThirdParty/ANGLE/util/capture/trace_interpreter_autogen.cpp
  Source/ThirdParty/ANGLE/util/gles_loader_autogen.cpp
  Source/ThirdParty/ANGLE/util/gles_loader_autogen.h
  Source/WebCore/Modules/webxr/WebXROpaqueFramebuffer.h
  Source/WebCore/Modules/webxr/WebXROpaqueFramebufferCocoa.cpp
  Source/WebCore/platform/graphics/GraphicsContextGL.cpp
  Source/WebCore/platform/graphics/GraphicsContextGL.h
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.h
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.mm
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGL.messages.in
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGLFunctionsGenerated.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxyFunctionsGenerated.cpp
Labels: unsafe-merge-queue, WebXR

#30321 [GStreamer] Registry scanner element filtering improvements
  Source/WebCore/platform/graphics/gstreamer/GStreamerRegistryScanner.cpp
Labels: Platform

#30318 [GStreamer][LibWebRTC] Fix format handling in video encoder/decoder factory
  Source/WebCore/platform/mediastream/libwebrtc/gstreamer/GStreamerVideoDecoderFactory.cpp
  Source/WebCore/platform/mediastream/libwebrtc/gstreamer/GStreamerVideoEncoderFactory.cpp
Labels: Platform

#29973 [Navigation] Abort ongoing navigation on window.stop()
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigate-event/signal-abort-detach-in-onnavigate-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigate-event/signal-abort-window-stop-in-onnavigate-expected.txt
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/page/Navigation.cpp
  Source/WebCore/page/Navigation.h
Labels: merge-queue, Page Loading

#30339 [WPE] WPE Platform: fix toplevel resize under wayland
  Source/WebKit/WPEPlatform/wpe/wayland/WPEToplevelWayland.cpp
Labels: unsafe-merge-queue, WPE WebKit

#30335 [GStreamer][EME][Thunder] Add AV1 to the list of supported types to decryptor
  Source/WebCore/platform/graphics/gstreamer/eme/WebKitThunderDecryptorGStreamer.cpp
Labels: merge-queue, Media

#30266 [WPE] WPE Platform: set application ID on toplevel under wayland
  Source/WebKit/WPEPlatform/wpe/wayland/WPEToplevelWayland.cpp
Labels: unsafe-merge-queue, WPE WebKit

#30341 [GTK][WPE] DRMDeviceNode needs to be ThreadSafeRefCounted
  Source/WebCore/platform/graphics/gbm/DRMDeviceManager.cpp
  Source/WebCore/platform/graphics/gbm/DRMDeviceNode.cpp
  Source/WebCore/platform/graphics/gbm/DRMDeviceNode.h
Labels: unsafe-merge-queue, WPE WebKit

#30338 [GStreamer] Support for serializing uint64_t values to JSON
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.cpp
  Tools/TestWebKitAPI/Tests/WebCore/gstreamer/GStreamerTest.cpp
Labels: merge-queue, Platform

#30331 [GStreamer] Use ASCIILiteral in registry scanner
  Source/WebCore/platform/graphics/gstreamer/GStreamerRegistryScanner.cpp
  Source/WebCore/platform/graphics/gstreamer/GStreamerRegistryScanner.h
Labels: Platform

#30334 [GStreamer] Use gstStructureGet helper in more places
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.cpp
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/AppendPipeline.cpp
  Source/WebCore/platform/gstreamer/VideoEncoderPrivateGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/GStreamerIncomingTrackProcessor.cpp
  Source/WebCore/platform/mediastream/gstreamer/GStreamerVideoCapturer.cpp
Labels: Platform

#30103 [WebDriver][WPE] Support creating new webviews from create-web-view signal
  Tools/MiniBrowser/wpe/main.cpp
Labels: merge-queue, WPE WebKit

#30271 Allow WebRTC network traffic on the interface used to load the document main resource even if it is not the default interface
  LayoutTests/http/wpt/webrtc/resources/cacheable-iframe.py
  LayoutTests/http/wpt/webrtc/rtcNetworkInterface-expected.txt
  LayoutTests/http/wpt/webrtc/rtcNetworkInterface.html
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/Modules/mediastream/RTCNetworkManager.h
  Source/WebCore/PAL/pal/spi/cf/CFNetworkSPI.h
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCProvider.cpp
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCProvider.h
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCProvider.messages.in
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCTCPSocketCocoa.h
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCTCPSocketCocoa.mm
  Source/WebKit/WebProcess/Network/webrtc/LibWebRTCNetworkManager.cpp
  Source/WebKit/WebProcess/Network/webrtc/LibWebRTCNetworkManager.h
Labels: merge-queue, WebRTC

#30276 [JSC] Use Data Call IC in FTL
  Source/JavaScriptCore/bytecode/CallLinkInfo.cpp
  Source/JavaScriptCore/bytecode/CallLinkInfo.h
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.cpp
  Source/JavaScriptCore/dfg/DFGJITCompiler.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/ftl/FTLState.cpp
  Source/JavaScriptCore/jit/PolymorphicCallStubRoutine.cpp
  Source/JavaScriptCore/jit/PolymorphicCallStubRoutine.h
  Source/JavaScriptCore/llint/LowLevelInterpreter32_64.asm
  Source/JavaScriptCore/llint/LowLevelInterpreter64.asm
Labels: unsafe-merge-queue, JavaScriptCore

#30346 Versioning.
  Configurations/Version.xcconfig
Labels: skip-ews

#30275 REGRESSION(276827@main): Prevent BitmapImageSource from accessing a null ImageDecoder
  Source/WebCore/platform/graphics/BitmapImageSource.cpp
Labels: Images

#30279 [Writing Tools] Quoted text in emails is rewritten (should be excluded from modification)
  Source/WebCore/editing/cocoa/HTMLConverter.h
  Source/WebCore/editing/cocoa/HTMLConverter.mm
  Source/WebCore/page/writing-tools/WritingToolsController.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WritingTools.mm
Labels: unsafe-merge-queue, HTML Editing

#30307 Setting allowsContentJavaScript=NO does not show <noscript> elements
  Source/WebCore/html/parser/HTMLParserOptions.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebViewEvaluateJavaScript.mm
Labels: DOM

#30353 Unreviewed, small-pool is too small
  Tools/Scripts/run-jsc-stress-tests
Labels: unsafe-merge-queue, JavaScriptCore

#30330 [JSC] Inline hot part of op_enter in Baseline JIT
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/bytecode/CodeBlock.h
  Source/JavaScriptCore/jit/AssemblyHelpers.h
  Source/JavaScriptCore/jit/BaselineJITRegisters.h
  Source/JavaScriptCore/jit/JITOpcodes.cpp
  Source/JavaScriptCore/jit/JITOperations.cpp
  Source/JavaScriptCore/runtime/VM.h
  Source/JavaScriptCore/runtime/VMTraps.h
Labels: unsafe-merge-queue, JavaScriptCore

#30357 GARDENING: REGRESSION (iOS 17.5?): [ iOS Debug ] 2 fast/events/ios/key-events-comprehensive/* tests are constantly failing.
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, Tools / Tests

#30350 Remove remaining code guarded by USE_KCTFONTVARIATIONAXESATTRIBUTE
  Source/WTF/wtf/PlatformUse.h
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
Labels: merge-queue, Text

#30288 REGRESSION(279794@main): [Win] The viewport doesn't fit into the window in non-GPU process mode
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHostTextureMapper.cpp
Labels: unsafe-merge-queue, WebKit2

#30348 grid-within-flexbox-indefinite.html now passing
  LayoutTests/TestExpectations
Labels: merge-queue, CSS

#30324 Remove and replace `WKBundleFrameClearOpener`
  Source/WebKit/UIProcess/API/C/WKPage.cpp
  Source/WebKit/UIProcess/API/C/WKPagePrivate.h
  Source/WebKit/UIProcess/WebPageProxyTesting.cpp
  Source/WebKit/UIProcess/WebPageProxyTesting.h
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundleFrame.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundleFramePrivate.h
  Source/WebKit/WebProcess/WebPage/WebPageTesting.cpp
  Source/WebKit/WebProcess/WebPage/WebPageTesting.h
  Source/WebKit/WebProcess/WebPage/WebPageTesting.messages.in
  Source/WebKit/mac/WebKit2.order
  Tools/WebKitTestRunner/InjectedBundle/InjectedBundlePage.cpp
  Tools/WebKitTestRunner/TestController.cpp
  Tools/WebKitTestRunner/TestInvocation.cpp
Labels: unsafe-merge-queue, WebKit API

#29934 [WebVTT] Cues should use white-space:pre-line
  LayoutTests/imported/w3c/web-platform-tests/webvtt/rendering/README.md
  LayoutTests/imported/w3c/web-platform-tests/webvtt/rendering/basic-cue-rendering-expected.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/rendering/basic-cue-rendering.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/rendering/basic-cue-rendering.webvtt
  LayoutTests/imported/w3c/web-platform-tests/webvtt/rendering/content/silence.m4a
  LayoutTests/imported/w3c/web-platform-tests/webvtt/rendering/content/silence.mp3
  LayoutTests/imported/w3c/web-platform-tests/webvtt/rendering/resources/reference.css
  LayoutTests/imported/w3c/web-platform-tests/webvtt/rendering/resources/webvtt-rendering-test.js
  LayoutTests/imported/w3c/web-platform-tests/webvtt/rendering/white-space-pre-line-expected.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/rendering/white-space-pre-line.html
  LayoutTests/imported/w3c/web-platform-tests/webvtt/rendering/white-space-pre-line.webvtt
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/Modules/modern-media-controls/controls/text-tracks.css
  Source/WebCore/css/mediaControls.css
Labels: merge-queue, Media

#30356 CRASH in HTMLMediaElement::setSpatialTrackingLabel()
  Source/WebCore/html/HTMLMediaElement.cpp
Labels: merge-queue, Media

#30364 [WPE][cross-toolchain-helper] Fix issue with the icu installation and long paths
  Tools/yocto/meta-openembedded_and_meta-webkit.patch
Labels: unsafe-merge-queue, Tools / Tests

#30292 [Site Isolation] Avoid skipping code on out-of-process frames in more places
  Source/WebCore/css/query/MediaQueryFeatures.cpp
  Source/WebCore/html/HTMLAnchorElement.cpp
  Source/WebCore/inspector/InspectorInstrumentation.cpp
  Source/WebCore/inspector/InspectorInstrumentation.h
  Source/WebCore/inspector/InspectorOverlay.cpp
  Source/WebCore/inspector/agents/InspectorTimelineAgent.cpp
  Source/WebCore/inspector/agents/InspectorTimelineAgent.h
  Source/WebCore/loader/DocumentLoader.cpp
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/loader/NavigationScheduler.cpp
  Source/WebCore/page/Chrome.cpp
  Source/WebCore/page/LocalFrame.cpp
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/PageConsoleClient.cpp
  Source/WebCore/page/ResourceUsageOverlay.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Labels: unsafe-merge-queue, WebKit Process Model

#30367 Revert 280405@main
  Source/WebKit/UIProcess/API/C/WKPage.cpp
  Source/WebKit/UIProcess/API/C/WKPagePrivate.h
  Source/WebKit/UIProcess/WebPageProxyTesting.cpp
  Source/WebKit/UIProcess/WebPageProxyTesting.h
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundlePage.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundlePage.h
  Source/WebKit/WebProcess/WebPage/WebPageTesting.cpp
  Source/WebKit/WebProcess/WebPage/WebPageTesting.h
  Source/WebKit/WebProcess/WebPage/WebPageTesting.messages.in
  Tools/WebKitTestRunner/InjectedBundle/EventSendingController.cpp
  Tools/WebKitTestRunner/TestController.cpp
Labels: unsafe-merge-queue, New Bugs

#30365 [iOS] Several editing-related layout tests are flaky on x86_64 simulator
  LayoutTests/editing/selection/ios/change-selection-by-tapping.html
  LayoutTests/fast/events/ios/key-command-delete-to-end-of-paragraph.html
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
Labels: Tools / Tests

#30363 [macOS] Disable shadows for `NSWindow`s created for testing
  Tools/TestWebKitAPI/cocoa/TestWKWebView.mm
  Tools/WebKitTestRunner/mac/PlatformWebViewMac.mm
Labels: merge-queue, Tools / Tests

#30360 SEGV YarrJIT.h:350:28 (275528)
  JSTests/stress/regexp-backreference-dangling-surrogate.js
  Source/JavaScriptCore/yarr/YarrInterpreter.cpp
  Source/JavaScriptCore/yarr/YarrJIT.cpp
Labels: merge-queue, JavaScriptCore

#30366 Remove code guarded by USE_CTFONTHASTABLE
  Source/WTF/wtf/PlatformUse.h
  Source/WebCore/platform/graphics/Font.h
  Source/WebCore/platform/graphics/coretext/FontCoreText.cpp
Labels: merge-queue, Text

#30323 Drop CachePayload::data() in favor of span()
  Source/JavaScriptCore/runtime/CachePayload.h
  Source/JavaScriptCore/runtime/CachedBytecode.h
  Source/JavaScriptCore/runtime/CachedTypes.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#30342 [WPE] WPE Platform: copy toplevel views values to a vector when iterating them
  Source/WebKit/WPEPlatform/wpe/WPEToplevel.cpp
Labels: unsafe-merge-queue, WPE WebKit

#30332 [WPE] Create the WebPageProxy after initializing activity state flags
  Source/WebKit/UIProcess/API/wpe/WPEWebView.cpp
  Source/WebKit/UIProcess/API/wpe/WPEWebView.h
  Source/WebKit/UIProcess/API/wpe/WPEWebViewLegacy.cpp
  Source/WebKit/UIProcess/API/wpe/WPEWebViewPlatform.cpp
  Source/WebKit/UIProcess/wpe/WebPreferencesWPE.cpp
Labels: unsafe-merge-queue, WPE WebKit

#30329 [WPE] WKWPE::View is refcounted
  Source/WebKit/UIProcess/API/C/wpe/WKView.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebView.cpp
  Source/WebKit/UIProcess/API/wpe/WPEWebViewLegacy.h
  Source/WebKit/UIProcess/API/wpe/WPEWebViewPlatform.h
  Tools/TestWebKitAPI/wpe/PlatformWebViewWPE.cpp
  Tools/WebKitTestRunner/libwpe/PlatformWebViewClient.h
Labels: unsafe-merge-queue, WPE WebKit

#30381 [WPE] Simplify WKWPE::ViewPlatform constructor
  Source/WebKit/UIProcess/API/wpe/WPEWebViewPlatform.cpp
  Source/WebKit/UIProcess/API/wpe/WPEWebViewPlatform.h
Labels: unsafe-merge-queue, WPE WebKit

#30340 [GStreamer][WebRTC] Log stats type as lower case in JSON
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.cpp
Labels: merge-queue, Platform

#30343 [WPE] Add --size / --maximized / --fullscreen parameters to MiniBrowser
  Tools/MiniBrowser/wpe/main.cpp
Labels: merge-queue, WPE WebKit

#30386 [WPE][GTK] Source links in generated API documentation are incorrect
  Source/WebKit/gtk/gtk3-webkitgtk.toml.in
  Source/WebKit/gtk/gtk4-webkitgtk.toml.in
  Source/WebKit/gtk/webkitgtk-web-process-extension.toml.in
  Source/WebKit/wpe/wpe-web-process-extension.toml.in
  Source/WebKit/wpe/wpewebkit.toml.in
Labels: merge-queue, WebKitGTK

#30232 Trusted Types default policy is wrongly collected by GC
  LayoutTests/fast/html/trusted-types-default-policy-gc-expected.txt
  LayoutTests/fast/html/trusted-types-default-policy-gc.html
  Source/WebCore/dom/TrustedTypePolicy.idl
Labels: New Bugs

#30333 Decouple wasm-omg test mode from isFTLPlatform
  Tools/Scripts/run-jsc-stress-tests
Labels: JavaScriptCore

#30384 Take libaom 52ba0aed29cccb1560d9dad41eefeede0ef28565 commit
  Source/ThirdParty/libwebrtc/Source/third_party/libaom/source/libaom/av1/encoder/pass2_strategy.c
  Source/ThirdParty/libwebrtc/Source/third_party/libaom/source/libaom/av1/encoder/ratectrl.c
Labels: merge-queue, WebRTC

#30354 [WGSL] Struct size computation can still overflow
  LayoutTests/fast/webgpu/regression/repro_130656572-expected.txt
  LayoutTests/fast/webgpu/regression/repro_130656572.html
  Source/WebGPU/WGSL/AttributeValidator.cpp
Labels: merge-queue, WebGPU

#30215 [WebGPU] water demo does not show water effect
  Source/WebGPU/WebGPU/CommandEncoder.mm
Labels: merge-queue, WebGPU

#30372 Forward notifications from the UI process to WebContent process
  Source/WebKit/Resources/cocoa/NotificationAllowList/EmbeddedForwardedNotifications.def
  Source/WebKit/Resources/cocoa/NotificationAllowList/ForwardedNotifications.def
  Source/WebKit/Resources/cocoa/NotificationAllowList/NonForwardedNotifications.def
Labels: unsafe-merge-queue, WebKit Process Model

#30361 String shows incorrectly in open model prompt
  Source/WebCore/en.lproj/Localizable.strings
  Source/WebKit/UIProcess/Cocoa/SystemPreviewControllerCocoa.mm
Labels: merge-queue, WebCore Misc.

#30376 [ApplePay] PaymentRequestValidator::validateTotal() imposes an arbitrary 8 digit limit on the total amount
  LayoutTests/http/tests/ssl/applepay/ApplePaySession-expected.txt
  LayoutTests/http/tests/ssl/applepay/ApplePaySession.html
  LayoutTests/http/tests/ssl/applepay/PaymentRequest.https-expected.txt
  LayoutTests/http/tests/ssl/applepay/PaymentRequest.https.html
  Source/WebCore/Modules/applepay/PaymentRequestValidator.mm
Labels: merge-queue, Platform

#30390 [browserperfdash-benchmark][run-benchmark] Add a method for getting the browser version and implement it for Chrome/Linux
  Tools/Scripts/webkitpy/benchmark_runner/browser_driver/browser_driver.py
  Tools/Scripts/webkitpy/benchmark_runner/browser_driver/linux_chrome_driver.py
  Tools/Scripts/webkitpy/browserperfdash/browserperfdash_runner.py
Labels: unsafe-merge-queue, Tools / Tests

#30391 [WPE] Switch WPE/MiniBrowser configuration to use new WPE platform API + maximized mode
  Tools/Scripts/webkitpy/benchmark_runner/browser_driver/linux_minibrowserwpe_driver.py
Labels: merge-queue, WPE WebKit

#30403 REGRESSION(Sonoma): [ Sonoma+ ] 2X lookup menu-related tests are constant text failures.
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue

#30375 [Site Isolation] Avoid returning early when using history.pushState() in an isolated iframe
  LayoutTests/platform/mac-site-isolation/TestExpectations
  Source/WebCore/loader/HistoryController.cpp
  Source/WebCore/page/History.cpp
Labels: unsafe-merge-queue, WebKit Process Model

#30358 Disable non-embedded authorization view controller for AppSSO on visionOS
  Source/WebKit/UIProcess/Cocoa/SOAuthorization/SOAuthorizationSession.mm
Labels: unsafe-merge-queue, WebKit Misc.

#30406 NEW TEST (279835@main): [ macOS Debug wk1 ] http/tests/security/block-popup-to-all-zero-address.html is a constant crash
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue

#30401 [JSC] IndexedProxyObjectLoad should be usable for GetByVal with Int32
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.cpp
  Source/JavaScriptCore/bytecode/Repatch.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#30407 Removing code guarded by USE_VARIABLE_OPTICAL_SIZING
  Source/WTF/wtf/PlatformUse.h
  Source/WebCore/platform/graphics/cocoa/UnrealizedCoreTextFont.cpp
Labels: merge-queue, Text

#30417 Revert 280502@main
  LayoutTests/http/tests/mime/html-with-nosniff-html-expected.txt
  LayoutTests/http/tests/mime/html-with-nosniff-html.html
  LayoutTests/http/tests/mime/resources/.htaccess
  LayoutTests/http/tests/mime/resources/nosniff-html.html
  LayoutTests/platform/glib/http/tests/mime/html-with-nosniff-html-expected.txt
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/wincairo/TestExpectations
  Source/WebCore/platform/network/ios/WebCoreURLResponseIOS.mm
  Source/WebCore/platform/network/mac/WebCoreResourceHandleAsOperationQueueDelegate.mm
  Source/WebCore/platform/network/mac/WebCoreURLResponse.h
  Source/WebCore/platform/network/mac/WebCoreURLResponse.mm
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.mm
Labels: unsafe-merge-queue, Page Loading

#30418 REGRESSION (280303@main): [ macOS Sonoma wk2 ] storage/indexeddb/database-transaction-cycle.html is a flaky failure
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue

#30411 Mitigate sporadic keyboard task queue deadlocks when pressing arrow keys when editing
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Labels: merge-queue, Platform

#30405 Deprecate WKBundlePageGetPDFDocumentInFrame
  Source/WebKit/WebProcess/InjectedBundle/API/c/mac/WKBundlePageMac.h
  Source/WebKit/WebProcess/InjectedBundle/API/c/mac/WKBundlePageMac.mm
Labels: unsafe-merge-queue, WebKit API

#30349 Crash under ServiceWorkerFetchTask::contextClosed()
  Source/WebKit/NetworkProcess/ServiceWorker/ServiceWorkerFetchTask.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/ServiceWorkerFetchTask.h
  Source/WebKit/NetworkProcess/ServiceWorker/ServiceWorkerFetchTask.messages.in
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerToContextConnection.cpp
  Source/WebKit/WebProcess/Storage/WebServiceWorkerFetchTaskClient.cpp
Labels: unsafe-merge-queue, WebKit2

#30393 Re-enable 3 API tests after 280501@main
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKAttachmentTests.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebContentProcessDidTerminate.mm
Labels: unsafe-merge-queue, WebKit Process Model

#30420 [WPE] Unreviewed, build fix for WPE-Linux-64-bit-Debug-Build after 280586@main
  Source/WebCore/PAL/pal/unix/LoggingUnix.cpp
Labels: unsafe-merge-queue

#30398 Fix a bug that a pruned file cannot be re-uploaded from UI.
  Websites/perf.webkit.org/public/include/uploaded-file-helpers.php
  Websites/perf.webkit.org/public/v3/components/instant-file-uploader.js
  Websites/perf.webkit.org/server-tests/privileged-api-upload-file-tests.js
Labels: merge-queue, WebKit Website

#30400 Cherry-pick bb685c487850. rdar://130987861
  Source/WebCore/Modules/webaudio/AudioBufferSourceNode.cpp
Labels: merge-queue, Media

#30378 [WebXR] imported/w3c/web-platform-tests/webxr/xrWebGLLayer_viewports.https.html is constant failure
  LayoutTests/platform/visionos/TestExpectations
  Source/WebCore/platform/xr/PlatformXR.h
  Source/WebCore/testing/WebFakeXRDevice.cpp
Labels: merge-queue, New Bugs

#30422 Fix !ENABLE(MODERN_MEDIA_CONTROLS) build following 280586@main
  Source/WebCore/style/UserAgentStyle.cpp
Labels: unsafe-merge-queue, New Bugs

#30425 Fix !ENABLE(MODERN_MEDIA_CONTROLS) build following 280586@main, round two
  Source/WebCore/style/UserAgentStyle.cpp
Labels: unsafe-merge-queue, New Bugs

#30408 [JSC] Implement IndexedProxyObjectIn and IndexedProxyObjectStore
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/Sources.txt
  Source/JavaScriptCore/builtins/ProxyHelpers.js
  Source/JavaScriptCore/bytecode/AccessCase.cpp
  Source/JavaScriptCore/bytecode/AccessCase.h
  Source/JavaScriptCore/bytecode/GetByStatus.cpp
  Source/JavaScriptCore/bytecode/GetByStatus.h
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.cpp
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.h
  Source/JavaScriptCore/bytecode/ProxyObjectAccessCase.cpp
  Source/JavaScriptCore/bytecode/ProxyObjectAccessCase.h
  Source/JavaScriptCore/bytecode/PutByStatus.cpp
  Source/JavaScriptCore/bytecode/Repatch.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.h
  Source/JavaScriptCore/runtime/JSGlobalObjectInlines.h
Labels: unsafe-merge-queue, JavaScriptCore

#30399 Remove deletePushAndNotificationRegistration IPC from webpushd
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkProcess.messages.in
  Source/WebKit/NetworkProcess/Notifications/NetworkNotificationManager.cpp
  Source/WebKit/NetworkProcess/Notifications/NetworkNotificationManager.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/Notifications/WebNotificationManagerProxy.cpp
  Source/WebKit/webpushd/PushClientConnection.h
  Source/WebKit/webpushd/PushClientConnection.messages.in
  Source/WebKit/webpushd/PushClientConnection.mm
  Source/WebKit/webpushd/WebPushDaemon.h
  Source/WebKit/webpushd/WebPushDaemon.mm
Labels: merge-queue, WebKit Misc.

#30404 Ref count Element in `resolveAnchorValue()` for safety
  Source/WebCore/style/AnchorPositionEvaluator.cpp
  Source/WebCore/style/AnchorPositionEvaluator.h
  Source/WebCore/style/StyleBuilderConverter.h
Labels: merge-queue, CSS

#30419 Improve window.styleMedia Warning Message
  LayoutTests/imported/w3c/web-platform-tests/WebIDL/ecmascript-binding/attributes-accessors-unique-function-objects-expected.txt
  Source/WebCore/css/StyleMedia.cpp
Labels: merge-queue, DOM

#30409 [Cocoa] Simplify AVSpeechSynthesis calls now that macOS 13 is our baseline
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/platform/cocoa/PlatformSpeechSynthesizerCocoa.mm
Labels: unsafe-merge-queue, WebKit Misc.

#30385 [GTK][WPE] Use a common timer to schedule activity state changes
  Source/WebKit/UIProcess/API/gtk/WebKitWebViewBase.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxyInternals.h
  Source/WebKit/UIProcess/glib/WebPageProxyGLib.cpp
Labels: unsafe-merge-queue, WebKitGTK

#30423 [WebXR] Many WPT tests crash in WebXROpaqueFramebuffer dtor
  LayoutTests/imported/w3c/web-platform-tests/webxr/xrSession_requestReferenceSpace_features.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webxr/xrWebGLLayer_framebuffer_draw.https-expected.txt
  LayoutTests/platform/visionos/TestExpectations
  Source/WebCore/Modules/webxr/WebXROpaqueFramebufferCocoa.cpp
Labels: WebXR

#30395 [Navigation] Detect early error in Navigation.navigate
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigate-event/signal-abort-window-stop-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigation-methods/return-value/navigate-204-205-download-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigation-methods/return-value/navigate-file-url-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigation-methods/return-value/navigate-pagehide-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigation-methods/return-value/navigate-rejection-order-invalidurl-pagehide-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigation-methods/return-value/navigate-rejection-order-pagehide-unserializablestate-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/ordering-and-transition/navigate-cross-document-double-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/ordering-and-transition/navigate-cross-document-event-order-expected.txt
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/page/Navigation.cpp
Labels: merge-queue, Page Loading

#30430 Revert 280553@main
  Source/WebKit/UIProcess/API/C/WKPage.cpp
  Source/WebKit/UIProcess/API/C/WKPagePrivate.h
  Source/WebKit/UIProcess/WebPageProxyTesting.cpp
  Source/WebKit/UIProcess/WebPageProxyTesting.h
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundleFrame.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundleFramePrivate.h
  Source/WebKit/WebProcess/WebPage/WebPageTesting.cpp
  Source/WebKit/WebProcess/WebPage/WebPageTesting.h
  Source/WebKit/WebProcess/WebPage/WebPageTesting.messages.in
  Source/WebKit/mac/WebKit2.order
  Tools/WebKitTestRunner/InjectedBundle/InjectedBundlePage.cpp
  Tools/WebKitTestRunner/TestController.cpp
  Tools/WebKitTestRunner/TestInvocation.cpp
Labels: unsafe-merge-queue, New Bugs

#30431 Use protectedConnection in LibWebRTCNetworkManager
  Source/WebKit/WebProcess/Network/webrtc/LibWebRTCNetworkManager.cpp
Labels: merge-queue, WebRTC

#30382 [GStreamer][WebRTC] Support for RTP2 payloaders
  Source/WebCore/platform/graphics/gstreamer/GStreamerRegistryScanner.cpp
  Source/WebCore/platform/graphics/gstreamer/GStreamerRegistryScanner.h
  Source/WebCore/platform/mediastream/gstreamer/RealtimeOutgoingAudioSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeOutgoingVideoSourceGStreamer.cpp
Labels: merge-queue, Platform

#30434 [svg] make `d` a presentation attribute
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/svg/path/property/getComputedStyle-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/svg/path/property/test_style_flush_on_dom_api_with_d_property-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/svg/styling/presentation-attributes-relevant-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/svg/styling/presentation-attributes-special-cases-expected.txt
  Source/WebCore/dom/StyledElement.cpp
  Source/WebCore/dom/StyledElement.h
  Source/WebCore/rendering/style/BasicShapes.h
  Source/WebCore/rendering/style/SVGRenderStyle.cpp
  Source/WebCore/style/StyleBuilderConverter.h
  Source/WebCore/svg/SVGElement.cpp
  Source/WebCore/svg/SVGElement.h
  Source/WebCore/svg/SVGFontFaceElement.cpp
  Source/WebCore/svg/SVGPathElement.cpp
  Source/WebCore/svg/SVGPathElement.h
Labels: SVG

#30435 [MediaStream][GStreamer] Hardware decoder/sinks do not have src pads
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
Labels: merge-queue, Media

#30437 [GTK] Fix pointer lock on X11
  Source/WebKit/UIProcess/gtk/PointerLockManager.cpp
  Source/WebKit/UIProcess/gtk/PointerLockManager.h
  Source/WebKit/UIProcess/gtk/PointerLockManagerX11.cpp
  Source/WebKit/UIProcess/gtk/PointerLockManagerX11.h
Labels: merge-queue, GLib Suggested Backport

#30427 EmberJS does not render with a dark theme in dark mode.
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIDevToolsPanelsCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIDevToolsPanels.h
  Source/WebKit/WebProcess/Extensions/WebExtensionContextProxy.h
Labels: unsafe-merge-queue, WebKit Extensions

#30274 Not possible to hide media controls by tapping on IOS
  Source/WebCore/Modules/modern-media-controls/controls/auto-hide-controller.js
  Source/WebCore/Modules/modern-media-controls/controls/macos-fullscreen-media-controls.js
Labels: unsafe-merge-queue, Media

#30441 REGRESSION (280518@main): [ios-simulator] WritingTools API behavior tests are constant failures
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WritingTools.mm
Labels: unsafe-merge-queue, HTML Editing

#30438 RtpPacketizerH265::RtpPacketizerH265 should check for empty nalus
  Source/ThirdParty/libwebrtc/Source/webrtc/modules/rtp_rtcp/source/rtp_packetizer_h265.cc
Labels: WebRTC

#30428 [JSC] Extend double string cache
  JSTests/microbenchmarks/double-to-string.js
  JSTests/stress/double-to-string.js
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/runtime/NumberPrototype.cpp
  Source/JavaScriptCore/runtime/NumericStrings.h
Labels: unsafe-merge-queue, JavaScriptCore

#30439 Rename BUILT_IN_NOTIFICATIONS compile time flag
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebCore/page/DeprecatedGlobalSettings.h
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcessCreationParameters.h
  Source/WebKit/NetworkProcess/NetworkProcessCreationParameters.serialization.in
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/NetworkSession.h
  Source/WebKit/NetworkProcess/Notifications/Cocoa/WebPushDaemonConnectionCocoa.mm
  Source/WebKit/NetworkProcess/Notifications/NetworkNotificationManager.cpp
  Source/WebKit/NetworkProcess/Notifications/NetworkNotificationManager.h
  Source/WebKit/NetworkProcess/Notifications/WebPushDaemonConnection.cpp
  Source/WebKit/NetworkProcess/Notifications/WebPushDaemonConnection.h
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerConnection.cpp
  Source/WebKit/Platform/IPC/DaemonConnection.cpp
  Source/WebKit/Platform/IPC/cocoa/DaemonConnectionCocoa.mm
  Source/WebKit/PlatformMac.cmake
  Source/WebKit/Shared/API/Cocoa/WKMain.mm
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/WebProcess/Notifications/NotificationPermissionRequestManager.cpp
  Source/WebKit/WebProcess/Notifications/WebNotificationManager.cpp
  Source/WebKit/webpushd/PushClientConnection.h
  Source/WebKit/webpushd/PushClientConnection.messages.in
  Source/WebKit/webpushd/PushClientConnection.mm
  Source/WebKit/webpushd/WebPushDaemon.h
  Source/WebKit/webpushd/WebPushDaemon.mm
  Source/WebKit/webpushd/WebPushDaemonMain.h
  Source/WebKit/webpushd/WebPushDaemonMain.mm
  Source/WebKit/webpushd/webpushtool/WebPushToolConnection.mm
Labels: merge-queue

#30359 [css-ui-4] Transparent accent colors (275767)
  LayoutTests/imported/w3c/web-platform-tests/css/css-ui/transparent-accent-color-001-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-ui/transparent-accent-color-001.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-ui/transparent-accent-color-002-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-ui/transparent-accent-color-002.html
  Source/WebCore/rendering/RenderTheme.cpp
  Source/WebCore/rendering/adwaita/RenderThemeAdwaita.cpp
  Source/WebCore/rendering/ios/RenderThemeIOS.mm
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyle.h
Labels: merge-queue, Forms

#30447 [iOS] WritingTools.WritingToolsBehaviorNonEditableWithSelection is a constant timeout
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WritingTools.mm
Labels: HTML Editing

#30449 RE-BASELINE: fast/repaint/fixed-move-after-keyboard-scroll.html
  LayoutTests/platform/mac-wk1/fast/repaint/fixed-move-after-keyboard-scroll-expected.txt
  LayoutTests/platform/mac/fast/repaint/fixed-move-after-keyboard-scroll-expected.txt
Labels: unsafe-merge-queue

#29848 [ews-build] ValidateCommitMessage incorrectly fails when contributors.json is accessed from disk
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: unsafe-merge-queue, Tools / Tests

#30450 Remove unintentionally commited file
  filenames
Labels: unsafe-merge-queue, skip-ews

#30426 WKTR installation on iOS devices is not working
  Tools/WebKitTestRunner/Configurations/WebKitTestRunnerApp-iOS-simulator.entitlements
  Tools/WebKitTestRunner/Configurations/WebKitTestRunnerApp-iOS.entitlements
  Tools/WebKitTestRunner/Configurations/WebKitTestRunnerApp.xcconfig
  Tools/WebKitTestRunner/WebKitTestRunner.xcodeproj/project.pbxproj
Labels: unsafe-merge-queue, WebKit Process Model

#30453 Revert accessibility pieces of 280352@main
  Source/WebKit/UIProcess/ios/WebPageProxyIOS.mm
  Source/WebKit/UIProcess/mac/WebPageProxyMac.mm
Labels: unsafe-merge-queue, Accessibility

#30394 Trusted Types violation sample clips incorrectly
  LayoutTests/imported/w3c/web-platform-tests/content-security-policy/reporting/report-clips-sample.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/content-security-policy/reporting/report-clips-sample.https.html
  Source/WebCore/page/csp/ContentSecurityPolicy.cpp
  Source/WebCore/page/csp/ContentSecurityPolicy.h
Labels: merge-queue, Tools / Tests

#30446 WebKitDOMEventTarget.h:95: Warning: WebKit2WebExtension: invalid "scope" annotation: only valid on callback parameters
  Source/WebKit/WebProcess/InjectedBundle/API/gtk/DOM/WebKitDOMEventTarget.h
Labels: merge-queue, WebKitGTK

#30456 [Genmoji] Inserting Genmoji via the keyboard does not always match the surrounding text size
  Source/WebCore/editing/cocoa/EditorCocoa.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/AdaptiveImageGlyph.mm
Labels: unsafe-merge-queue, New Bugs

#30461 Change _WKWebExtension creation methods to be asynchronous.
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtension.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtension.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionContext.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionController.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionMatchPattern.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionMessagePort.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionPrivate.h
Labels: WebKit Extensions

#30460 [iOS] Apple.com fullscreen captions show single blurry box
  Source/WebKit/WebProcess/cocoa/VideoPresentationManager.mm
Labels: merge-queue, Media

#30470 [GARDENING][ macOS WK2 ] compositing/plugins/pdf/pdf-in-embed-with-root-page-zoom.html is a constant text failure
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, Compositing

#30462 Demote WKWebView SPI that's are used only for testing to internal methods
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
  Source/WebKit/UIProcess/API/mac/WKWebViewMac.mm
  Source/WebKit/UIProcess/API/mac/WKWebViewPrivateForTestingMac.h
  Source/WebKit/UIProcess/API/mac/WKWebViewTestingMac.mm
Labels: WebKit Misc.

#30451 [macOS] Remove `respondsToSelector` checks for required AVPlayer method available since macOS 11 (276183)
  Source/WebCore/platform/mac/PlatformScreenMac.mm
Labels: WebCore Misc.

#30433 [WEBM] Seeking is broken
  LayoutTests/media/media-vp8-webm-seek-to-start-expected.html
  LayoutTests/media/media-vp8-webm-seek-to-start.html
  LayoutTests/platform/mac-site-isolation/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.mm
Labels: merge-queue, Media

#30463 Use smart pointers in WebPageTesting/WebPageProxyTesting
  Source/WebKit/UIProcess/WebPageProxyTesting.cpp
  Source/WebKit/UIProcess/WebPageProxyTesting.h
  Source/WebKit/WebProcess/WebPage/WebPageTesting.cpp
  Source/WebKit/WebProcess/WebPage/WebPageTesting.h
Labels: unsafe-merge-queue, WebKit Misc.

#30457 Add document leak tests for Geolocation callbacks
  LayoutTests/http/tests/geolocation/geolocation-get-current-position-does-not-leak.https-expected.txt
  LayoutTests/http/tests/geolocation/geolocation-get-current-position-does-not-leak.https.html
  LayoutTests/http/tests/geolocation/geolocation-watch-position-does-not-leak.https-expected.txt
  LayoutTests/http/tests/geolocation/geolocation-watch-position-does-not-leak.https.html
  LayoutTests/http/tests/geolocation/resources/geolocation-get-position-callback.html
  LayoutTests/http/tests/geolocation/resources/geolocation-watch-position-callback.html
Labels: merge-queue, DOM

#30254 remove webCryptoMasterKeyFetch from UI process main-thread
  Source/WebKit/UIProcess/API/APINavigationClient.h
  Source/WebKit/UIProcess/API/C/WKPage.cpp
  Source/WebKit/UIProcess/API/Cocoa/WKNavigationDelegatePrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebsiteDataStore.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebsiteDataStoreDelegate.h
  Source/WebKit/UIProcess/Cocoa/NavigationState.h
  Source/WebKit/UIProcess/Cocoa/NavigationState.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStoreClient.h
  Tools/WebKitTestRunner/cocoa/TestWebsiteDataStoreDelegate.h
  Tools/WebKitTestRunner/cocoa/TestWebsiteDataStoreDelegate.mm
Labels: WebKit Misc.

#30465 Refactor isGeneric as enum and rename it to isGenericFontFamily
  Source/WebCore/css/CSSFontFace.h
  Source/WebCore/css/CSSFontSelector.cpp
  Source/WebCore/platform/graphics/FontCascadeFonts.cpp
  Source/WebCore/platform/graphics/FontRanges.cpp
  Source/WebCore/platform/graphics/FontRanges.h
  Source/WebCore/platform/graphics/coretext/FontCascadeCoreText.cpp
  Source/WebCore/platform/graphics/skia/FontCascadeSkia.cpp
Labels: merge-queue, Text

#30129 Fix "supress" typos
  LayoutTests/dom/html/level2/html/HTMLTableCellElement21.js
  LayoutTests/dom/html/level2/html/HTMLTableCellElement22.js
  LayoutTests/dom/xhtml/level2/html/HTMLTableCellElement21.js
  LayoutTests/dom/xhtml/level2/html/HTMLTableCellElement22.js
  LayoutTests/fast/events/popup-blocking-click-in-iframe-expected.txt
  LayoutTests/fast/events/popup-blocking-click-in-iframe.html
  LayoutTests/fast/xsl/mozilla-tests.xsl
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.mm
  Source/WebCore/PAL/pal/spi/cocoa/AVFoundationSPI.h
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
Labels: merge-queue

#29039 [JSC] add support for `Uint8Array.prototype.toBase64` and `Uint8Array.prototype.toHex`
  JSTests/stress/uint8array-toBase64.js
  JSTests/stress/uint8array-toHex.js
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/Sources.txt
  Source/JavaScriptCore/runtime/CommonIdentifiers.h
  Source/JavaScriptCore/runtime/JSGenericTypedArrayViewPrototype.cpp
  Source/JavaScriptCore/runtime/JSGenericTypedArrayViewPrototype.h
  Source/JavaScriptCore/runtime/JSGenericTypedArrayViewPrototypeInlines.h
  Source/JavaScriptCore/runtime/OptionsList.h
Labels: merge-queue, JavaScriptCore

#30477 [text-box-edge] Make text-box-edge inherited
  LayoutTests/imported/w3c/web-platform-tests/css/css-inline/text-box-trim/inheritance-expected.txt
  Source/WebCore/css/CSSProperties.json
Labels: merge-queue, CSS

#30368 Parallelize Root Building in Performance Dashboard.
  Websites/perf.webkit.org/public/api/build-requests.php
  Websites/perf.webkit.org/public/api/test-groups.php
  Websites/perf.webkit.org/public/v3/models/build-request.js
  Websites/perf.webkit.org/server-tests/api-test-groups.js
  Websites/perf.webkit.org/server-tests/tools-buildbot-triggerable-tests.js
  Websites/perf.webkit.org/server-tests/tools-sync-buildbot-integration-tests.js
  Websites/perf.webkit.org/tools/js/buildbot-syncer.js
  Websites/perf.webkit.org/tools/js/buildbot-triggerable.js
Labels: merge-queue, Tools / Tests

#30442 [svg] WPT test svg/path/property/mpath.svg is a failure
  LayoutTests/TestExpectations
  Source/WebCore/rendering/svg/RenderSVGPath.cpp
  Source/WebCore/rendering/svg/RenderSVGPath.h
  Source/WebCore/rendering/svg/legacy/LegacyRenderSVGPath.cpp
  Source/WebCore/rendering/svg/legacy/LegacyRenderSVGPath.h
  Source/WebCore/svg/SVGPathElement.cpp
  Source/WebCore/svg/SVGPathElement.h
Labels: unsafe-merge-queue, SVG

#30472 [tvOS, visionOS, watchOS] Skip install step for WebKit process extensions
  Source/WebKit/Configurations/BaseExtension.xcconfig
Labels: unsafe-merge-queue, WebKit Process Model

#30475 [macOS] fast/canvas/canvas-drawImage-hdr-video.html is constantly failing on Sequoia
  LayoutTests/TestExpectations
  LayoutTests/fast/canvas/canvas-drawImage-hdr-video-expected.txt
  LayoutTests/fast/canvas/canvas-drawImage-hdr-video.html
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/wincairo/TestExpectations
Labels: merge-queue, Images

#30458 [run-benchmark] Add motionmark1.3 plan variant that enforces 15fps for low-end devices
  Tools/Scripts/webkitpy/benchmark_runner/benchmark_builder.py
  Tools/Scripts/webkitpy/benchmark_runner/benchmark_runner.py
  Tools/Scripts/webkitpy/benchmark_runner/data/patches/extra/MotionMark1.3-15FPS.patch
  Tools/Scripts/webkitpy/benchmark_runner/data/plans/motionmark1.3-15fps.plan
  Tools/Scripts/webkitpy/browserperfdash/browserperfdash_runner.py
Labels: unsafe-merge-queue, Tools / Tests

#30402 [WGSL] built-in functions should only be allowed in appropriate shader stages
  Source/WebGPU/WGSL/AST/ASTCallExpression.h
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/VisibilityValidator.cpp
  Source/WebGPU/WGSL/VisibilityValidator.h
  Source/WebGPU/WGSL/WGSL.cpp
  Source/WebGPU/WGSL/tests/invalid/visibility.wgsl
  Source/WebGPU/WGSL/tests/valid/overload.wgsl
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
Labels: merge-queue, WebGPU

#30487 [GStreamer] Build fix for registry scanner
  Source/WebCore/platform/graphics/gstreamer/GStreamerRegistryScanner.cpp
Labels: merge-queue, Media

#30485 Support border/margin/padding on mfrac and mspace elements
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/fractions/frac-1-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/mrow/no-spacing-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/not-participating-to-parent-layout-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/padding-border-margin/border-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/padding-border-margin/margin-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/padding-border-margin/margin-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/padding-border-margin/padding-002-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/mathml/relations/css-styling/padding-border-margin/border-002-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/mathml/relations/css-styling/padding-border-margin/margin-003-expected.txt
  LayoutTests/platform/glib/mathml/presentation/roots-expected.txt
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/mathml/relations/css-styling/not-participating-to-parent-layout-expected.txt
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/mathml/relations/css-styling/padding-border-margin/padding-002-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/mathml/relations/css-styling/padding-border-margin/padding-002-expected.txt
  LayoutTests/platform/ios/mathml/presentation/roots-expected.txt
  LayoutTests/platform/mac/imported/w3c/web-platform-tests/mathml/relations/css-styling/padding-border-margin/padding-002-expected.txt
  LayoutTests/platform/mac/mathml/presentation/roots-expected.txt
  Source/WebCore/rendering/mathml/RenderMathMLFraction.cpp
  Source/WebCore/rendering/mathml/RenderMathMLSpace.cpp
Labels: merge-queue, MathML

#24001 Restrict libwebrtc.dylib usage to WebKit clients
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.xcconfig
Labels: merge-queue, WebRTC

#30429 [Writing Tools] Disable editing while content is being processed
  Source/WebCore/editing/Editor.cpp
  Source/WebCore/editing/Editor.h
  Source/WebCore/page/writing-tools/WritingToolsController.h
  Source/WebCore/page/writing-tools/WritingToolsController.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WritingTools.mm
Labels: merge-queue, HTML Editing

#30492 [LibWebRTC] [WPE] Build fix for Linux after 280620@main
  Source/ThirdParty/libwebrtc/CMakeLists.txt
Labels: unsafe-merge-queue

#30493 [GStreamer] gstStructureGet<T> may return optionals with unitialized values on Clang 18
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.h
  Tools/TestWebKitAPI/Tests/WebCore/gstreamer/GStreamerTest.cpp
Labels: merge-queue, Platform

#30478 Make SIMD using table lookup
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
Labels: unsafe-merge-queue, DOM

#30496 Remove unneeded functions in RenderTreeAsText.cpp
  Source/WebCore/rendering/RenderTreeAsText.cpp
Labels: WebCore Misc.

#30483 When a layer size changes, recompute compositing from its stacking context down
  LayoutTests/compositing/shared-backing/update-backing-sharing-on-geometry-change-expected.html
  LayoutTests/compositing/shared-backing/update-backing-sharing-on-geometry-change.html
  LayoutTests/compositing/shared-backing/update-backing-sharing-on-size-change-expected.html
  LayoutTests/compositing/shared-backing/update-backing-sharing-on-size-change.html
  Source/WebCore/rendering/RenderLayer.cpp
Labels: merge-queue, Compositing

#30504 [JSC] Update test262 expectations.yaml
  JSTests/test262/expectations.yaml
Labels: unsafe-merge-queue, JavaScriptCore

#30482 [svg] WPT test `svg/path/property/test_style_flush_on_dom_api_with_d_property.html` has failures
  LayoutTests/imported/w3c/web-platform-tests/svg/path/property/test_style_flush_on_dom_api_with_d_property-expected.txt
  Source/WebCore/svg/SVGPathElement.cpp
  Source/WebCore/svg/SVGPathElement.h
Labels: unsafe-merge-queue, SVG

#30505 [VISIONOS] Audio from videos in Coursera through the Safari browser is just static noise
  Source/WTF/wtf/PlatformHave.h
Labels: merge-queue, Media

#30440 Cherry-pick libwebrtc "Allow for reordering around IRAPs."
  Source/ThirdParty/libwebrtc/Source/webrtc/modules/video_coding/h26x_packet_buffer.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/modules/video_coding/h26x_packet_buffer.h
  Source/ThirdParty/libwebrtc/Source/webrtc/modules/video_coding/h26x_packet_buffer_unittest.cc
Labels: merge-queue, WebRTC

#30488 [WPE] WPE Platform: make it possible to use headless platform with GPU buffers
  Source/WebKit/WPEPlatform/wpe/headless/WPEDisplayHeadless.cpp
Labels: unsafe-merge-queue, WPE WebKit

#30387 [GTK] Handle damage region when rendering with DMA-BUF renderer
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreDMABuf.cpp
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreDMABuf.h
Labels: unsafe-merge-queue, WebKitGTK

#30486 [WPE] WPE Platform: add WPEView:has-focus property and remove focus-in/out signals
  Source/WebKit/UIProcess/API/wpe/WPEWebViewPlatform.cpp
  Source/WebKit/WPEPlatform/wpe/WPEView.cpp
  Source/WebKit/WPEPlatform/wpe/WPEView.h
Labels: unsafe-merge-queue, WPE WebKit

#30511 [GStreamer] Fix uint structure field serialization to JSON
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.cpp
  Tools/TestWebKitAPI/Tests/WebCore/gstreamer/GStreamerTest.cpp
Labels: unsafe-merge-queue, Platform

#30513 [WPE] Remove wpe-webkit-1.0 API
  Source/cmake/OptionsWPE.cmake
Labels: unsafe-merge-queue

#30514 [GStreamer] Fix typo in X265 encoder options
  Source/WebCore/platform/gstreamer/VideoEncoderPrivateGStreamer.cpp
Labels: Platform

#30500 Add basic support to play or pause media playback for active (Now Playing) media
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
  Source/WebKit/UIProcess/WebPageProxy.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/VideoControlsManager.mm
Labels: merge-queue, Platform

#30413 [WPE] Undefined reference to `shm_open' in WPEWaylandSHMPool.cpp
  Source/WebKit/WPEPlatform/wpe/wayland/CMakeLists.txt
Labels: unsafe-merge-queue

#30519 RE-BASELINE: imported/w3c/web-platform-tests/html/semantics/embedded-content/media-elements/mime-types/canPlayType.html
  LayoutTests/platform/mac-ventura-wk1/imported/w3c/web-platform-tests/html/semantics/embedded-content/media-elements/mime-types/canPlayType-expected.txt
  LayoutTests/platform/mac-ventura/imported/w3c/web-platform-tests/html/semantics/embedded-content/media-elements/mime-types/canPlayType-expected.txt
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, Tools / Tests

#30414 AX: The Node pointer member of the TextMarkerData structure is no longer needed.
  LayoutTests/accessibility/mac/textmarker-routines.html
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AXObjectCache.h
  Source/WebCore/accessibility/AXTextMarker.cpp
  Source/WebCore/accessibility/AXTextMarker.h
  Source/WebCore/accessibility/cocoa/AXTextMarkerCocoa.mm
  Source/WebCore/accessibility/ios/WebAccessibilityObjectWrapperIOS.mm
  Source/WebCore/accessibility/isolatedtree/mac/AXIsolatedObjectMac.mm
  Source/WebCore/accessibility/mac/AXObjectCacheMac.mm
Labels: merge-queue, Accessibility

#29681 [WPE][GTK][WTF] Implement SystemTracing.h with Sysprof
  Source/JavaScriptCore/jit/JITPlan.cpp
  Source/WTF/wtf/PlatformGTK.cmake
  Source/WTF/wtf/PlatformWPE.cmake
  Source/WTF/wtf/SystemTracing.h
  Source/WTF/wtf/glib/SysprofAnnotator.h
  Source/WebCore/dom/Document.cpp
  Source/WebKit/GPUProcess/glib/GPUProcessMainGLib.cpp
  Source/WebKit/UIProcess/API/glib/WebKitInitialize.cpp
  Source/WebKit/UIProcess/Launcher/glib/ProcessLauncherGLib.cpp
  Source/WebKit/WebProcess/gtk/WebProcessMainGtk.cpp
  Source/WebKit/WebProcess/wpe/WebProcessMainWPE.cpp
  Tools/Scripts/webkitpy/common/system/abstractexecutive.py
  Tools/Scripts/webkitpy/common/system/executive.py
  Tools/Scripts/webkitpy/common/system/executive_mock.py
  Tools/Scripts/webkitpy/port/gtk.py
Labels: merge-queue, WPE WebKit

#30388 Cache results of selector matching (MatchResult)
  LayoutTests/fast/css/style-invalidation-inline-csstext.html
  Source/WebCore/dom/Node.h
  Source/WebCore/dom/StyledElement.cpp
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/style/StyleInvalidator.cpp
  Source/WebCore/style/StyleRelations.cpp
  Source/WebCore/style/StyleRelations.h
  Source/WebCore/style/StyleResolver.cpp
  Source/WebCore/style/StyleResolver.h
  Source/WebCore/style/StyleScope.cpp
  Source/WebCore/style/StyleScope.h
  Source/WebCore/style/StyleTreeResolver.cpp
  Source/WebCore/style/StyleTreeResolver.h
  Source/WebCore/style/StyleValidity.h
  Source/WebCore/testing/Internals.cpp
Labels: merge-queue, CSS

#30466 Forward more notifications from the UI process to the WebContent process
  Source/WebKit/Resources/cocoa/NotificationAllowList/ForwardedNotifications.def
Labels: unsafe-merge-queue, WebKit Process Model
