Repository WebKit/WebKit, pull requests merged in 2024-12, with the labels that each got.

#37279 Clear floats even when they are not tracked by a previous sibling
  LayoutTests/fast/block/float/block-with-negative-margin-clears-float-expected.txt
  LayoutTests/fast/block/float/block-with-negative-margin-clears-float.html
  Source/WebCore/rendering/RenderBlockFlow.cpp
Labels: merge-queue, Layout and Rendering

#37280 Make DrawingAreaProxy ref-counted as it is a MessageReceiver
  Source/WebKit/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/UIProcess/API/gtk/PageClientImpl.cpp
  Source/WebKit/UIProcess/API/gtk/PageClientImpl.h
  Source/WebKit/UIProcess/API/wpe/PageClientImpl.cpp
  Source/WebKit/UIProcess/API/wpe/PageClientImpl.h
  Source/WebKit/UIProcess/CoordinatedGraphics/DrawingAreaProxyCoordinatedGraphics.cpp
  Source/WebKit/UIProcess/CoordinatedGraphics/DrawingAreaProxyCoordinatedGraphics.h
  Source/WebKit/UIProcess/DrawingAreaProxy.cpp
  Source/WebKit/UIProcess/DrawingAreaProxy.h
  Source/WebKit/UIProcess/DrawingAreaProxy.messages.in
  Source/WebKit/UIProcess/PageClient.h
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.messages.in
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeHost.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeScrollingPerformanceData.mm
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteLayerTreeDrawingAreaProxyIOS.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteLayerTreeDrawingAreaProxyIOS.mm
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteLayerTreeHostIOS.mm
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/ios/PageClientImplIOS.h
  Source/WebKit/UIProcess/ios/PageClientImplIOS.mm
  Source/WebKit/UIProcess/ios/WKContentView.h
  Source/WebKit/UIProcess/ios/WKContentView.mm
  Source/WebKit/UIProcess/mac/PageClientImplMac.h
  Source/WebKit/UIProcess/mac/PageClientImplMac.mm
  Source/WebKit/UIProcess/mac/TiledCoreAnimationDrawingAreaProxy.h
  Source/WebKit/UIProcess/mac/TiledCoreAnimationDrawingAreaProxy.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKit/UIProcess/playstation/PageClientImpl.cpp
  Source/WebKit/UIProcess/playstation/PageClientImpl.h
  Source/WebKit/UIProcess/wc/DrawingAreaProxyWC.cpp
  Source/WebKit/UIProcess/wc/DrawingAreaProxyWC.h
  Source/WebKit/UIProcess/win/PageClientImpl.cpp
  Source/WebKit/UIProcess/win/PageClientImpl.h
Labels: unsafe-merge-queue, WebKit2

#37104 TestWTF.WTF_URLParser.ParserDifferences fails with ICU 76.1
  Tools/TestWebKitAPI/Tests/WTF/URLParser.cpp
Labels: unsafe-merge-queue, Tools / Tests

#37290 Unreviewed VisionOS Build Fix after 287188@main
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeHost.mm
Labels: unsafe-merge-queue, WebKit2

#37284 Further reduce use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in WebCore/platform
  Source/WebCore/platform/mock/mediasource/MockSourceBufferPrivate.cpp
  Source/WebCore/platform/network/BlobRegistryImpl.cpp
  Source/WebCore/platform/network/DNS.cpp
  Source/WebCore/platform/network/FormDataBuilder.cpp
  Source/WebCore/platform/network/HTTPHeaderMap.cpp
  Source/WebCore/platform/network/HTTPHeaderMap.h
  Source/WebCore/platform/network/HTTPParsers.cpp
  Source/WebCore/platform/network/RFC8941.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#37281 REGRESSION (276312@main): EventHandler::handleWheelEventInternal no longer defers scroll wheel event handling completion
  Source/WebCore/page/EventHandler.cpp
  Source/WebCore/page/WheelEventTestMonitor.h
Labels: Tools / Tests

#37273 Update spec links for File System API
  Source/WebCore/Modules/filesystemaccess/FileSystemFileHandle.idl
  Source/WebKit/NetworkProcess/storage/FileSystemStorageHandle.cpp
Labels: merge-queue, New Bugs

#37263 [macOS] open.spotify.com: unnecessary text selection when dragging various sliders
  LayoutTests/fast/events/mac/mouse-down-can-start-selection-quirk-expected.txt
  LayoutTests/fast/events/mac/mouse-down-can-start-selection-quirk.html
  Source/WebCore/page/EventHandler.cpp
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
  Source/WebCore/page/QuirksData.h
Labels: merge-queue, UI Events

#37287 Stop including AXObjectCache.h in ChromeClient.h
  Source/WebCore/page/ChromeClient.h
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundleFrame.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
Labels: merge-queue, Accessibility

#37048 ComputedStyleExtractor should query renderers for used margin values.
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-margins-roundtrip-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/pixel-length-attributes-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/html/rendering/pixel-length-attributes-expected.txt
  Source/WebCore/css/ComputedStyleExtractor.cpp
Labels: merge-queue, CSS

#37272 RefCounted should prevent ref()'s that escape the destructor
  Source/WTF/wtf/RefCounted.h
Labels: unsafe-merge-queue, WebKit Misc.

#37216 Update quirks.cpp to change twitter.com by x.com
  Source/WebCore/page/Quirks.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#37283 Reduce use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in WebCore/platform
  Source/WebCore/platform/sql/SQLiteStatement.cpp
  Source/WebCore/platform/text/DateTimeFormat.cpp
  Source/WebCore/platform/text/PlatformLocale.cpp
  Source/WebCore/platform/text/PlatformLocale.h
  Source/WebCore/platform/text/cocoa/LocalizedDateCache.mm
Labels: unsafe-merge-queue, WebCore Misc.

#37296 Non-unified source build fix of December 2024 (part 1)
  Source/WTF/wtf/UniqueRef.h
  Source/WebCore/css/query/MediaQueryEvaluator.cpp
  Source/WebCore/layout/Verification.cpp
  Source/WebCore/page/Chrome.cpp
  Source/WebCore/page/InteractionRegion.cpp
  Source/WebCore/page/LocalDOMWindow.cpp
  Source/WebCore/page/PageConfiguration.cpp
  Source/WebCore/rendering/TextBoxTrimmer.cpp
  Source/WebCore/rendering/line/LineBreaker.h
  Source/WebCore/rendering/svg/RenderSVGText.cpp
Labels: New Bugs

#37297 Fix PlayStation build following 287195@main
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AXObjectCache.h
  Source/WebCore/page/ChromeClient.h
Labels: unsafe-merge-queue, New Bugs

#37264 [Yarr] Fix and re-add non-BMP advancement by two from 276031@main
  JSTests/stress/regexp-advance-2-non-bmp.js
  Source/JavaScriptCore/yarr/YarrJIT.cpp
  Source/JavaScriptCore/yarr/YarrJITRegisters.h
  Source/WTF/wtf/PlatformEnable.h
Labels: unsafe-merge-queue, JavaScriptCore

#37295 Web Inspector: ASSERT(m_thread.ptr() == &Thread::current()); in incrementCheckedPtrCount
  Source/WebCore/inspector/agents/WebHeapAgent.cpp
Labels: unsafe-merge-queue, Web Inspector

#37198 Make AudioMediaStreamTrackRenderer ref counted
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedLocalVarsCheckerExpectations
  Source/WebCore/platform/mediastream/AudioMediaStreamTrackRenderer.cpp
  Source/WebCore/platform/mediastream/AudioMediaStreamTrackRenderer.h
  Source/WebCore/platform/mediastream/AudioTrackPrivateMediaStream.cpp
  Source/WebCore/platform/mediastream/AudioTrackPrivateMediaStream.h
  Source/WebCore/platform/mediastream/cocoa/AudioMediaStreamTrackRendererCocoa.cpp
  Source/WebCore/platform/mediastream/cocoa/AudioMediaStreamTrackRendererCocoa.h
Labels: merge-queue

#37192 Do not mute CoreAudioSharedUnit if capturing page is going away
  Source/WebCore/platform/mediastream/RealtimeMediaSource.cpp
  Source/WebCore/platform/mediastream/mac/CoreAudioCaptureSource.cpp
  Source/WebCore/platform/mediastream/mac/CoreAudioCaptureSource.h
  Source/WebCore/platform/mediastream/mac/CoreAudioSharedUnit.cpp
  Source/WebCore/platform/mediastream/mac/CoreAudioSharedUnit.h
  Source/WebKit/WebProcess/cocoa/RemoteRealtimeMediaSource.h
  Source/WebKit/WebProcess/cocoa/RemoteRealtimeVideoSource.cpp
  Source/WebKit/WebProcess/cocoa/RemoteRealtimeVideoSource.h
Labels: merge-queue

#37196 Fix AudioMediaStreamTrackRendererUnit::singleton never destroyed construction
  Source/WebCore/platform/mediastream/cocoa/AudioMediaStreamTrackRendererUnit.cpp
  Source/WebCore/platform/mediastream/cocoa/AudioMediaStreamTrackRendererUnit.h
Labels: merge-queue

#37252 [IFC][SVG text] Use iterator in RenderSVGText::layoutCharactersInTextBoxes
  Source/WebCore/layout/integration/inline/InlineIteratorInlineBox.cpp
  Source/WebCore/layout/integration/inline/InlineIteratorInlineBox.h
  Source/WebCore/rendering/svg/RenderSVGText.cpp
  Source/WebCore/rendering/svg/RenderSVGText.h
  Source/WebCore/rendering/svg/SVGTextChunkBuilder.h
  Source/WebCore/rendering/svg/SVGTextLayoutEngine.cpp
  Source/WebCore/rendering/svg/SVGTextLayoutEngine.h
Labels: merge-queue, New Bugs

#37310 [GStreamer] Fix leak in gstStructureGetters API test
  Tools/TestWebKitAPI/Tests/WebCore/gstreamer/GStreamerTest.cpp
Labels: merge-queue

#36769 [JSC] Implement `Array.prototype.fill` in C++
  JSTests/microbenchmarks/array-prototype-fill-contiguous.js
  JSTests/microbenchmarks/array-prototype-fill-double.js
  JSTests/microbenchmarks/array-prototype-fill-int32.js
  JSTests/microbenchmarks/array-prototype-fill-undecided.js
  JSTests/stress/array-prototype-fill-fast.js
  JSTests/stress/array-prototype-fill-side-effects.js
  Source/JavaScriptCore/builtins/ArrayPrototype.js
  Source/JavaScriptCore/runtime/ArrayPrototype.cpp
  Source/JavaScriptCore/runtime/CommonIdentifiers.h
  Source/JavaScriptCore/runtime/JSArray.cpp
  Source/JavaScriptCore/runtime/JSArray.h
  Source/JavaScriptCore/runtime/JSTypedArrayViewPrototype.cpp
Labels: merge-queue, JavaScriptCore

#37275 [iOS] Entering full screen may not work in web views even when `isElementFullscreenEnabled` is enabled
  Source/WebKit/UIProcess/Cocoa/FullscreenClient.h
Labels: Media

#37247 RealtimeMediaSource whenReady callback should be called asynchronously
  Source/WebCore/platform/mediastream/mac/ScreenCaptureKitCaptureSource.mm
Labels: merge-queue, WebRTC

#37167 [iOS] [Visual Bidi Selection] Support visually-contiguous selections in multiline bidi text
  LayoutTests/editing/selection/ios/bidi-visually-contiguous-selection-multiline-expected.txt
  LayoutTests/editing/selection/ios/bidi-visually-contiguous-selection-multiline.html
  Source/WebCore/rendering/RenderObject.cpp
Labels: HTML Editing

#37291 Generate aliases for Constant<CSSValueIDs> type used by CSS/Style values
  Source/WebCore/css/parser/CSSPropertyParserConsumer+ColorAdjust.cpp
  Source/WebCore/css/parser/CSSPropertyParserConsumer+Image.cpp
  Source/WebCore/css/parser/CSSPropertyParserConsumer+Motion.cpp
  Source/WebCore/css/parser/CSSPropertyParserConsumer+Position.cpp
  Source/WebCore/css/parser/CSSPropertyParserConsumer+Shapes.cpp
  Source/WebCore/css/process-css-values.py
  Source/WebCore/css/values/CSSValueTypes.h
  Source/WebCore/css/values/color-adjust/CSSColorScheme.cpp
  Source/WebCore/css/values/color-adjust/CSSColorScheme.h
  Source/WebCore/css/values/images/CSSGradient.cpp
  Source/WebCore/css/values/images/CSSGradient.h
  Source/WebCore/css/values/motion/CSSRayFunction.cpp
  Source/WebCore/css/values/motion/CSSRayFunction.h
  Source/WebCore/css/values/primitives/CSSPosition.cpp
  Source/WebCore/css/values/primitives/CSSPosition.h
  Source/WebCore/css/values/shapes/CSSCircleFunction.cpp
  Source/WebCore/css/values/shapes/CSSCircleFunction.h
  Source/WebCore/css/values/shapes/CSSEllipseFunction.cpp
  Source/WebCore/css/values/shapes/CSSEllipseFunction.h
  Source/WebCore/css/values/shapes/CSSFillRule.h
  Source/WebCore/css/values/shapes/CSSPathFunction.cpp
  Source/WebCore/css/values/shapes/CSSPolygonFunction.cpp
  Source/WebCore/css/values/shapes/CSSRectFunction.h
  Source/WebCore/css/values/shapes/CSSShapeFunction.cpp
  Source/WebCore/css/values/shapes/CSSShapeFunction.h
  Source/WebCore/rendering/MotionPath.cpp
  Source/WebCore/style/values/StyleValueTypes.h
  Source/WebCore/style/values/color-adjust/StyleColorScheme.h
  Source/WebCore/style/values/images/StyleGradient.cpp
  Source/WebCore/style/values/images/StyleGradient.h
  Source/WebCore/style/values/motion/StyleRayFunction.h
  Source/WebCore/style/values/primitives/StylePosition.cpp
  Source/WebCore/style/values/primitives/StylePosition.h
  Source/WebCore/style/values/shapes/StyleCircleFunction.cpp
  Source/WebCore/style/values/shapes/StyleEllipseFunction.cpp
  Source/WebCore/style/values/shapes/StyleFillRule.h
  Source/WebCore/style/values/shapes/StylePathFunction.cpp
  Source/WebCore/style/values/shapes/StylePolygonFunction.cpp
  Source/WebCore/style/values/shapes/StyleRectFunction.cpp
  Source/WebCore/style/values/shapes/StyleShapeFunction.cpp
  Source/WebCore/style/values/shapes/StyleShapeFunction.h
  Source/WebCore/svg/SVGPathElement.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Labels: CSS

#37103 Expose `WKPreferences/tabFocusesLinks` internally on iOS
  Source/WebCore/page/EventHandler.cpp
  Source/WebCore/page/ios/EventHandlerIOS.mm
  Source/WebCore/page/mac/EventHandlerMac.mm
  Source/WebKit/Modules/Internal/WebKitInternal.h
  Source/WebKit/UIProcess/API/Cocoa/WKPreferences.mm
  Source/WebKit/UIProcess/API/Cocoa/WKPreferencesInternal.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/Coding.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/Copying.mm
Labels: merge-queue, WebKit API

#37052 Clean-up Bugzilla login dialog
  Websites/bugs.webkit.org/skins/custom/global.css
  Websites/bugs.webkit.org/template/en/custom/account/auth/login-small.html.tmpl
Labels: WebKit Website

#37298 Stop WebExtensionLocalization from modifying the original input
  Source/WebKit/Shared/Extensions/WebExtensionLocalization.cpp
  Source/WebKit/Shared/Extensions/WebExtensionLocalization.h
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionCocoa.mm
Labels: unsafe-merge-queue, WebKit Extensions

#36919 [git-webkit] [pr] unable to create branches that match integration scheme via git-webkit pr
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
Labels: unsafe-merge-queue, Tools / Tests, skip-ews

#37261 Remove special handling of `xpointer(` as fragment url
  Source/WebCore/svg/SVGSVGElement.cpp
Labels: merge-queue, SVG

#37213 [git-webkit] Replace symbols with '-' when converting a bug title to a branch name
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/branch.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/branch_unittest.py
Labels: Tools / Tests

#36600 [ews-build] Add steps to support filtering safer-cpp-results with results.webkit.org
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: unsafe-merge-queue, Tools / Tests

#37339 Regression(287171@main) WKWebExtensionAPIDevTools API tests are crashing in debug
  Source/WebKit/WebProcess/Inspector/WebInspectorInterruptDispatcher.h
Labels: unsafe-merge-queue, Web Inspector

#37315 ARMv7: Lower Depend/Opaque
  Source/JavaScriptCore/assembler/MacroAssemblerARMv7.h
  Source/JavaScriptCore/b3/B3LowerInt64.cpp
  Source/JavaScriptCore/b3/B3LowerToAir32_64.cpp
  Source/JavaScriptCore/b3/air/AirOpcode.opcodes
  Source/JavaScriptCore/b3/testb3_failingArmV7Tests.inc
Labels: JavaScriptCore

#37312 Lower Int64 Get/Set in LowerInt64
  Source/JavaScriptCore/b3/B3LowerInt64.cpp
  Source/JavaScriptCore/b3/testb3_failingArmV7Tests.inc
Labels: merge-queue, JavaScriptCore

#37328 Reduce the size of bmalloc_heap_inlines.h
  Source/bmalloc/bmalloc.xcodeproj/project.pbxproj
  Source/bmalloc/bmalloc/IsoHeap.cpp
  Source/bmalloc/bmalloc/IsoHeapInlines.h
  Source/bmalloc/bmalloc/TZoneHeap.cpp
  Source/bmalloc/libpas/src/libpas/bmalloc_heap.c
  Source/bmalloc/libpas/src/libpas/bmalloc_heap_inlines.h
  Source/bmalloc/libpas/src/libpas/bmalloc_heap_innards.h
  Source/bmalloc/libpas/src/libpas/bmalloc_heap_internal.h
Labels: merge-queue, bmalloc

#37306 [macOS] Spurious ASSERT fails under WebCore::DictionaryLookup::stringForPDFSelection with empty selection
  Source/WebCore/editing/cocoa/DictionaryLookup.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKitCocoa/UnifiedPDFTests.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/metalSpecTOC.pdf
  Tools/TestWebKitAPI/Tests/mac/ImmediateActionTests.mm
  Tools/TestWebKitAPI/Tests/mac/WKWebViewForTestingImmediateActions.h
  Tools/TestWebKitAPI/Tests/mac/WKWebViewForTestingImmediateActions.mm
Labels: PDF

#37346 Compilation failure error: member access into incomplete type 'const WebCore::RenderStyle'
  Source/WebCore/platform/graphics/coretext/FontCascadeCoreText.cpp
Labels: unsafe-merge-queue, Layout and Rendering

#37340 Remove _WKWebExtensionLocalization.
  Source/WebKit/Shared/Extensions/WebExtensionContextParameters.h
  Source/WebKit/Shared/Extensions/WebExtensionContextParameters.serialization.in
  Source/WebKit/Shared/Extensions/WebExtensionLocalization.cpp
  Source/WebKit/Shared/Extensions/_WKWebExtensionLocalization.h
  Source/WebKit/Shared/Extensions/_WKWebExtensionLocalization.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebExtension.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtension.cpp
  Source/WebKit/UIProcess/Extensions/WebExtension.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/Extensions/Cocoa/WebExtensionContextProxyCocoa.mm
Labels: unsafe-merge-queue, WebKit Extensions

#37305 Import changes in the OKP import/export tests from the WebCryptoAPI test suite
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/ec_importKey_failures_ECDH.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/ec_importKey_failures_ECDH.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/ec_importKey_failures_ECDSA.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/ec_importKey_failures_ECDSA.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/ec_importKey_failures_fixtures.js
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/importKey_failures.js
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/okp_importKey.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/okp_importKey_failures_Ed25519.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/okp_importKey_failures_Ed25519.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/okp_importKey_failures_Ed448.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/okp_importKey_failures_Ed448.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/okp_importKey_failures_X25519.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/okp_importKey_failures_X25519.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/okp_importKey_failures_X448.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/okp_importKey_failures_X448.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/okp_importKey_failures_fixtures.js
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/rsa_importKey.https.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/rsa_importKey.https.worker.html
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: New Bugs

#37277 Update FileSystemSyncAccessHandle::truncate() to match spec
  LayoutTests/storage/filesystemaccess/resources/sync-access-handle-truncate.js
  LayoutTests/storage/filesystemaccess/sync-access-handle-truncate-worker-expected.txt
  LayoutTests/storage/filesystemaccess/sync-access-handle-truncate-worker.html
  Source/WebCore/Modules/filesystemaccess/FileSystemSyncAccessHandle.cpp
  Source/WebCore/Modules/filesystemaccess/FileSystemSyncAccessHandle.h
Labels: merge-queue, New Bugs

#37332 Make FontCascade loggable
  Source/WebCore/platform/graphics/FontCascade.cpp
  Source/WebCore/platform/graphics/FontCascade.h
  Source/WebCore/platform/graphics/FontCascadeDescription.cpp
  Source/WebCore/platform/graphics/FontCascadeDescription.h
  Source/WebCore/platform/graphics/FontCascadeFonts.cpp
  Source/WebCore/platform/graphics/FontCascadeFonts.h
  Source/WebCore/platform/graphics/FontSelector.cpp
  Source/WebCore/platform/graphics/FontSelector.h
  Source/WebCore/rendering/RenderElement.cpp
  Source/WebCore/rendering/style/StyleInheritedData.cpp
Labels: merge-queue, Text

#37204 generate-serializers.py: Removed dead code added by 269951@main
  Source/WebKit/Scripts/generate-serializers.py
Labels: unsafe-merge-queue, New Bugs

#37209 Use generate-serializers.py for sk_sp<SkColorSpace> and sk_sp<SkData>
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.cpp
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.h
  Source/WebKit/Scripts/webkit/tests/SerializedTypeInfo.cpp
  Source/WebKit/Scripts/webkit/tests/TestSerializedType.serialization.in
  Source/WebKit/Shared/WebCoreArgumentCoders.h
  Source/WebKit/Shared/skia/CoreIPCSkColorSpace.h
  Source/WebKit/Shared/skia/CoreIPCSkColorSpace.serialization.in
  Source/WebKit/Shared/skia/CoreIPCSkData.h
  Source/WebKit/Shared/skia/CoreIPCSkData.serialization.in
  Source/WebKit/Shared/skia/WebCoreArgumentCodersSkia.cpp
Labels: unsafe-merge-queue, WebKit2

#37326 REGRESSION(285421@main): Crash when restoring session state while a provisional history item is set
  Source/WebKit/UIProcess/WebBackForwardList.cpp
  Tools/TestWebKitAPI/Tests/WebKit/WKBackForwardListTests.mm
Labels: unsafe-merge-queue, New Bugs

#37353 Update James Savage's GitHub profile in contributors.json
  metadata/contributors.json
Labels: unsafe-merge-queue, New Bugs

#37352 [iOS] TouchEventTests.DestroyWebViewWhileHandlingTouchEnd crashes after 286448@main
  Tools/TestWebKitAPI/Tests/ios/TouchEventTests.mm
Labels: merge-queue, Tools / Tests

#37343 [css-masonry] Fix intrinsic sizing ref link in test cases
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-001-auto.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-001-fr.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-001-mix1.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-001-mix2.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-002-auto.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-002-fr.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-002-mix1.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-002-mix2.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-003-auto.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-003-fr.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-003-mix1.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-003-mix2.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-004-auto.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-004-fr.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-004-mix1.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-004-mix2.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-001-auto.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-001-fr.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-001-mix1.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-001-mix2.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-002-auto.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-002-fr.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-002-mix1.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-002-mix2.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-003-auto.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-003-fr.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-003-mix1.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-003-mix2.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-004-auto.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-004-fr.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-004-mix1.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-004-mix2.html
Labels: merge-queue, CSS

#37349 Reduce the size of bmalloc_heap_inlines.h (v2)
  Source/bmalloc/bmalloc.xcodeproj/project.pbxproj
  Source/bmalloc/bmalloc/IsoHeap.cpp
  Source/bmalloc/bmalloc/TZoneHeap.cpp
  Source/bmalloc/libpas/src/libpas/bmalloc_heap.c
  Source/bmalloc/libpas/src/libpas/bmalloc_heap_inlines.h
  Source/bmalloc/libpas/src/libpas/bmalloc_heap_internal.h
Labels: merge-queue, bmalloc

#37327 [Site Isolation] Use the GoToBackForwardItem message to load history state into iframe processes
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: unsafe-merge-queue, History

#37335 Web Inspector crashes due to using erroneous `PseudoElementIdentifier`
  LayoutTests/inspector/css/getMatchedStylesForNodeBackdropPseudoId.html
  LayoutTests/inspector/css/getMatchedStylesForNodeViewTransitionPseudoElements-expected.txt
  LayoutTests/inspector/css/getMatchedStylesForNodeViewTransitionPseudoElements.html
  Source/WebCore/inspector/agents/InspectorCSSAgent.cpp
Labels: unsafe-merge-queue, New Bugs

#37354 [rhythmic-sizing] Add block-step-align to CSS parser
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/parsing/block-step-align-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/parsing/block-step-align-computed.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/parsing/block-step-align-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/parsing/block-step-align-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/parsing/block-step-align-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/parsing/block-step-align-valid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/parsing/block-step-insert-computed.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/parsing/block-step-insert-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/parsing/block-step-insert-valid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/parsing/block-step-size-computed.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/parsing/block-step-size-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/parsing/block-step-size-valid.html
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/accumulation-per-property-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/addition-per-property-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/interpolation-per-property-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/property-list.js
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/ipad/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/css/CSSPrimitiveValueMappings.h
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/RenderStyleConstants.cpp
  Source/WebCore/rendering/style/RenderStyleConstants.h
  Source/WebCore/rendering/style/RenderStyleInlines.h
  Source/WebCore/rendering/style/RenderStyleSetters.h
  Source/WebCore/rendering/style/StyleRareNonInheritedData.cpp
  Source/WebCore/rendering/style/StyleRareNonInheritedData.h
Labels: unsafe-merge-queue, CSS

#37337 AX: Getting the selected text range for secure fields always returns an invalid range, breaking text editing for some assistive technologies
  LayoutTests/accessibility-isolated-tree/TestExpectations
  LayoutTests/accessibility/password-selected-text-range-expected.txt
  LayoutTests/accessibility/password-selected-text-range.html
  LayoutTests/platform/glib/accessibility/password-selected-text-range-expected.txt
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/ios/accessibility/password-selected-text-range-expected.txt
  Source/WebCore/accessibility/AXCoreObject.h
  Source/WebCore/accessibility/AccessibilityRenderObject.cpp
  Source/WebCore/accessibility/ios/WebAccessibilityObjectWrapperIOS.mm
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperMac.mm
Labels: Accessibility

#37051 [WebGPU] Loops are susceptible to UB optimizations
  LayoutTests/fast/webgpu/regression/repro_283595-for-expected.png
  LayoutTests/fast/webgpu/regression/repro_283595-for-expected.txt
  LayoutTests/fast/webgpu/regression/repro_283595-for.html
  LayoutTests/fast/webgpu/regression/repro_283595-loop-expected.png
  LayoutTests/fast/webgpu/regression/repro_283595-loop-expected.txt
  LayoutTests/fast/webgpu/regression/repro_283595-loop.html
  LayoutTests/fast/webgpu/regression/repro_283595-while-expected.png
  LayoutTests/fast/webgpu/regression/repro_283595-while-expected.txt
  LayoutTests/fast/webgpu/regression/repro_283595-while.html
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebGPU/WGSL/Metal/MetalFunctionWriter.cpp
Labels: merge-queue, WebGPU

#37342 [JSC] Should replace SameValue with CompareStrictEq since it cannot handle BooleanUse and Int32Use
  Source/JavaScriptCore/dfg/DFGStrengthReductionPhase.cpp
Labels: New Bugs

#37126 [visionOS] Layers that `containsBitmapOnly` should not use Dynamic Content Scaling
  Source/WebKit/GPUProcess/graphics/RemoteImageBufferSet.cpp
  Source/WebKit/GPUProcess/graphics/RemoteImageBufferSet.h
  Source/WebKit/GPUProcess/graphics/RemoteImageBufferSet.messages.in
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferSetProxy.cpp
Labels: merge-queue, Layout and Rendering

#37323 [css-masonry] Add subgrid tests to cover track sizing cases
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/subgrid/track-sizing/masonry-subgrid-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/subgrid/track-sizing/masonry-subgrid-flex-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/subgrid/track-sizing/masonry-subgrid-flex-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/subgrid/track-sizing/masonry-subgrid-flex.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/subgrid/track-sizing/masonry-subgrid-intrinsic-sizing-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/subgrid/track-sizing/masonry-subgrid-intrinsic-sizing-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/subgrid/track-sizing/masonry-subgrid-intrinsic-sizing.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/subgrid/track-sizing/masonry-subgrid-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/subgrid/track-sizing/masonry-subgrid.html
Labels: CSS

#37301 [WebRTC][GStreamer] A/V sync issues
  Source/WebCore/platform/mediastream/gstreamer/GStreamerMediaStreamSource.cpp
Labels: New Bugs, GLib Suggested Backport - 2.46

#37302 [GStreamer][WebRTC] Discard audio buffers on incoming tracks until the first video buffer was emitted
  Source/WebCore/platform/mediastream/gstreamer/GStreamerMediaStreamSource.cpp
Labels: New Bugs, GLib Suggested Backport - 2.46

#37303 [GStreamer][LibWebRTC] A/V sync issues
  Source/WebCore/platform/mediastream/gstreamer/GStreamerAudioCapturer.cpp
  Source/WebCore/platform/mediastream/libwebrtc/gstreamer/GStreamerVideoFrameLibWebRTC.cpp
  Source/WebCore/platform/mediastream/libwebrtc/gstreamer/RealtimeIncomingAudioSourceLibWebRTC.cpp
  Source/WebCore/platform/mediastream/libwebrtc/gstreamer/RealtimeIncomingAudioSourceLibWebRTC.h
  Source/WebCore/platform/mediastream/libwebrtc/gstreamer/RealtimeIncomingVideoSourceLibWebRTC.cpp
Labels: New Bugs, GLib Suggested Backport - 2.46

#37316 [OpenXR] Drop WTF_ALLOW_UNSAFE_BUFFER_USAGE from OpenXRInputSource
  Source/WebCore/platform/xr/openxr/OpenXRInputMappings.h
  Source/WebCore/platform/xr/openxr/OpenXRInputSource.cpp
Labels: unsafe-merge-queue, WPE WebKit

#36822 [JSC] MarkedBlock::dumpInfoAndCrashForInvalid: record subspace hash
  Source/JavaScriptCore/heap/Heap.cpp
  Source/JavaScriptCore/heap/MarkedBlock.cpp
  Source/JavaScriptCore/heap/Subspace.h
Labels: unsafe-merge-queue, JavaScriptCore

#37304 Remove m_clearFlushPromiseCount from AudioDecoder, AudioEncoder, VideoDecoder and VideoEncoder
  Source/WebCore/Modules/webcodecs/WebCodecsAudioDecoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsAudioDecoder.h
  Source/WebCore/Modules/webcodecs/WebCodecsAudioEncoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsAudioEncoder.h
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoder.h
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.h
Labels: WebRTC

#36184 Integrity check for the X25519 JWK import
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/okp_importKey_failures_X25519.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/okp_importKey_failures_X25519.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/wrapKey_unwrapKey/wrapKey_unwrapKey.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/wrapKey_unwrapKey/wrapKey_unwrapKey.https.any.worker-expected.txt
  Source/WebCore/crypto/keys/CryptoKeyOKP.cpp
Labels: merge-queue, Bindings

#36695 [Media] Avoid play() call during seek flow before the finishSeek()
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/html/HTMLMediaElement.h
Labels: Media

#37365 [XR] Fix a typo in a PlatformXR variable name
  Source/WebCore/Modules/webxr/WebXRInputSource.cpp
  Source/WebCore/Modules/webxr/WebXRInputSource.h
  Source/WebCore/platform/xr/PlatformXR.h
  Source/WebCore/platform/xr/openxr/OpenXRInput.cpp
  Source/WebCore/platform/xr/openxr/OpenXRInputSource.cpp
  Source/WebCore/platform/xr/openxr/OpenXRInputSource.h
  Source/WebCore/platform/xr/openxr/OpenXRUtils.h
  Source/WebCore/testing/WebFakeXRInputController.cpp
  Source/WebCore/testing/WebFakeXRInputController.h
  Source/WebKit/Shared/XR/PlatformXR.serialization.in
  Source/WebKit/UIProcess/XR/ios/WKARPresentationSession.mm
Labels: WebXR

#36994 Add partitionKey attribute on Cookie class
  Source/WebCore/platform/Cookie.h
  Source/WebCore/platform/network/cocoa/CookieCocoa.mm
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Labels: Website Storage

#37357 Web Inspector: Crash when opening the web inspector for the first time
  Source/WebKit/WebProcess/Inspector/WebInspectorUI.cpp
  Source/WebKit/WebProcess/Inspector/WebInspectorUI.h
Labels: merge-queue, Web Inspector

#37376 [TextureMapper] Drop WTF_ALLOW_UNSAFE_BUFFER_USAGE from TextureMapper
  Source/WebCore/platform/graphics/texmap/TextureMapper.cpp
Labels: unsafe-merge-queue, WPE WebKit

#37361 [rhythmic-sizing] Add block-step-round to CSS parser
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/parsing/block-step-round-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/parsing/block-step-round-computed.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/parsing/block-step-round-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/parsing/block-step-round-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/parsing/block-step-round-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/parsing/block-step-round-valid.html
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/accumulation-per-property-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/addition-per-property-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/interpolation-per-property-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/property-list.js
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/ipad/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/css/CSSPrimitiveValueMappings.h
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/RenderStyleConstants.cpp
  Source/WebCore/rendering/style/RenderStyleConstants.h
  Source/WebCore/rendering/style/RenderStyleInlines.h
  Source/WebCore/rendering/style/RenderStyleSetters.h
  Source/WebCore/rendering/style/StyleRareNonInheritedData.cpp
  Source/WebCore/rendering/style/StyleRareNonInheritedData.h
Labels: unsafe-merge-queue, CSS

#37318 [gtk] Unreviewed test gardening.
  Tools/TestWebKitAPI/glib/TestExpectations.json
Labels: merge-queue, Tools / Tests

#37380 Fix typo in WPT Test Exporter Script
  Tools/Scripts/webkitpy/w3c/test_exporter.py
Labels: Tools / Tests

#37230 [iOS] [SelectionHonorsOverflowScrolling] Overflow containers are unscrollable when text outside of the container is selected
  LayoutTests/editing/selection/ios/scroll-overflow-container-with-selection-expected.txt
  LayoutTests/editing/selection/ios/scroll-overflow-container-with-selection.html
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/ios/WKScrollView.mm
  Source/WebKit/UIProcess/ios/WKTextInteractionWrapper.h
  Source/WebKit/UIProcess/ios/WKTextInteractionWrapper.mm
Labels: HTML Editing

#37347 [WASM] Default-initialized fields of WASM GC struct should use Const32 if appropriate for storage type
  JSTests/wasm/stress/struct-new_default-small-members.js
  Source/JavaScriptCore/wasm/WasmOMGIRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmOMGIRGenerator32_64.cpp
Labels: merge-queue, WebAssembly

#36669 Remove unused webkitpy.common.version_check
  Tools/Scripts/webkitpy/common/version_check.py
Labels: unsafe-merge-queue, Tools / Tests

#37348 Crash when ResponsivenessTimer fires
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.cpp
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.h
  Source/WebKit/UIProcess/ResponsivenessTimer.cpp
  Source/WebKit/UIProcess/ResponsivenessTimer.h
Labels: unsafe-merge-queue, WebKit2

#37384 [ iOS ] imported/w3c/web-platform-tests/css/css-anchor-position/anchor-scroll-position-try-009.html is flakily failing.
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, CSS

#37388 [ iOS ] imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-070.html is flakily failing.
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, CSS

#37389 [Gardening] [ iOS ] 2 imported CSS content visibility scroll tests are flakily failing (image).
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, CSS

#37360 generate-serializers.py: Use more f-strings
  Source/WebKit/Scripts/generate-serializers.py
Labels: unsafe-merge-queue, WebKit2

#37359 [rhythmic-sizing] Add block-step shorthand to CSS parser
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/parsing/block-step-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/parsing/block-step-computed.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/parsing/block-step-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/parsing/block-step-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/parsing/block-step-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/parsing/block-step-valid.html
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/ShorthandSerializer.cpp
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/css/parser/CSSPropertyParser.h
Labels: merge-queue, CSS

#37390 [ Gardening ] New Test (286367@main): [ iOS ] 2 CSS grid sizing tests are constantly failing (image).
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, CSS

#37392 Move AuthenticationManager.h to NetworkProcess directory
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/NetworkProcess/Authentication/AuthenticationManager.cpp
  Source/WebKit/NetworkProcess/Authentication/AuthenticationManager.h
  Source/WebKit/NetworkProcess/Authentication/AuthenticationManager.messages.in
  Source/WebKit/NetworkProcess/Authentication/cocoa/AuthenticationManagerCocoa.mm
  Source/WebKit/NetworkProcess/cocoa/NetworkTaskCocoa.mm
  Source/WebKit/NetworkProcess/webtransport/cocoa/NetworkTransportReceiveStreamCocoa.mm
  Source/WebKit/Shared/Cocoa/RevealItem.h
  Source/WebKit/Sources.txt
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: unsafe-merge-queue, WebKit Misc.

#36668 Make the pre-push template be valid Python syntactically
  Tools/Scripts/hooks/pre-push
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/install_hooks.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/install_hooks_unittest.py
Labels: Tools / Tests

#37044 Various ThreadSafeRefCountedAndCanMakeThreadSafeWeakPtr cleanups
  Source/WTF/WTF.xcodeproj/project.pbxproj
  Source/WTF/wtf/AbstractThreadSafeRefCountedAndCanMakeWeakPtr.h
  Source/WTF/wtf/CMakeLists.txt
  Source/WTF/wtf/ThreadSafeWeakHashSet.h
  Source/WTF/wtf/ThreadSafeWeakPtr.h
  Source/WebCore/Modules/mediastream/CanvasCaptureMediaStreamTrack.h
  Source/WebCore/Modules/mediastream/VideoTrackGenerator.h
  Source/WebCore/Modules/webaudio/MediaStreamAudioSource.h
  Source/WebCore/platform/graphics/ImageBuffer.cpp
  Source/WebCore/platform/mediastream/RealtimeIncomingAudioSource.h
  Source/WebCore/platform/mediastream/RealtimeIncomingVideoSource.h
  Source/WebCore/platform/mediastream/RealtimeMediaSource.h
  Source/WebCore/platform/mediastream/RealtimeVideoCaptureSource.cpp
  Source/WebCore/platform/mediastream/RealtimeVideoCaptureSource.h
  Source/WebCore/platform/mediastream/cocoa/DisplayCaptureSourceCocoa.h
  Source/WebCore/platform/mediastream/gstreamer/GStreamerAudioCaptureSource.h
  Source/WebCore/platform/mediastream/gstreamer/RealtimeIncomingSourceGStreamer.h
  Source/WebCore/platform/mediastream/mac/CoreAudioCaptureSource.h
  Source/WebCore/platform/mock/MockRealtimeAudioSource.h
  Source/WebCore/platform/xr/PlatformXR.h
  Source/WebKit/UIProcess/SpeechRecognitionRemoteRealtimeMediaSource.h
  Source/WebKit/WebProcess/GPU/GPUProcessConnection.h
  Source/WebKit/WebProcess/GPU/graphics/wc/RemoteWCLayerTreeHostProxy.h
  Source/WebKit/WebProcess/GPU/media/RemoteAudioDestinationProxy.h
  Source/WebKit/WebProcess/GPU/media/RemoteAudioHardwareListener.h
  Source/WebKit/WebProcess/GPU/media/RemoteAudioSession.h
  Source/WebKit/WebProcess/GPU/media/RemoteImageDecoderAVFManager.h
  Source/WebKit/WebProcess/GPU/media/RemoteMediaPlayerManager.h
  Source/WebKit/WebProcess/GPU/media/RemoteRemoteCommandListener.h
  Source/WebKit/WebProcess/GPU/media/ios/RemoteMediaSessionHelper.h
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.h
  Source/WebKit/WebProcess/GPU/webrtc/RemoteVideoFrameObjectHeapProxyProcessor.h
  Source/WebKit/WebProcess/GPU/webrtc/SampleBufferDisplayLayer.h
  Source/WebKit/WebProcess/Model/ModelProcessConnection.h
  Source/WebKit/WebProcess/Model/ModelProcessModelPlayerManager.h
  Source/WebKit/WebProcess/cocoa/RemoteRealtimeMediaSource.h
  Tools/TestWebKitAPI/Tests/WTF/WeakPtr.cpp
Labels: merge-queue

#37379 Fix coalescing key annotation on certain IPC messages
  Source/WebKit/Shared/AuxiliaryProcess.messages.in
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
Labels: merge-queue, WebKit Misc.

#37351 [block-step-sizing] Add stubs for adjusting padding and content areas.
  Source/WebCore/rendering/RenderBlockFlow.cpp
  Source/WebCore/rendering/RenderBlockFlow.h
Labels: merge-queue, Layout and Rendering

#37396 [Gardening]: REGRESSION(286110@main?): [macOS] http/tests/workers/service/shownotification-allowed.html is a constant failure (flaky in EWS)
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#37393 Crash at API::getContentRuleListSourceFromMappedFile().
  Source/WebKit/UIProcess/API/APIContentRuleListStore.cpp
  Source/WebKit/UIProcess/API/APIContentRuleListStore.h
  Source/WebKit/UIProcess/API/Cocoa/WKContentRuleListStore.mm
  Source/WebKit/UIProcess/API/Cocoa/WKContentRuleListStorePrivate.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKContentExtensionStore.mm
Labels: WebKit Extensions

#36913 [WebGPUSwift] Replace copyBufferToTexture with a Swift implementation
  Source/WTF/wtf/RefCounted.h
  Source/WTF/wtf/RetainReleaseSwift.h
  Source/WTF/wtf/ThreadSafeRefCounted.h
  Source/WTF/wtf/ThreadSafeWeakPtr.h
  Source/WebGPU/Configurations/WebGPU.xcconfig
  Source/WebGPU/WebGPU/Buffer.h
  Source/WebGPU/WebGPU/CommandEncoder.h
  Source/WebGPU/WebGPU/CommandEncoder.mm
  Source/WebGPU/WebGPU/CommandEncoder.swift
  Source/WebGPU/WebGPU/Device.h
  Source/WebGPU/WebGPU/Internal/WebGPUSwiftInternal.h
  Source/WebGPU/WebGPU/QuerySet.h
  Source/WebGPU/WebGPU/Queue.h
  Source/WebGPU/WebGPU/Queue.swift
  Source/WebGPU/WebGPU/Texture.h
  Source/WebGPU/WebGPU/WebGPUExt.h
  Source/bmalloc/libpas/src/libpas/pas_darwin_spi.h
  Source/bmalloc/libpas/src/libpas/pas_lock.h
  Source/bmalloc/libpas/src/libpas/pas_malloc_stack_logging.h
Labels: unsafe-merge-queue, WebGPU

#36981 [WebGPUSwift] Swift Implementation of copyTextureToBuffer
  Source/WebGPU/WebGPU/CommandEncoder.h
  Source/WebGPU/WebGPU/CommandEncoder.mm
  Source/WebGPU/WebGPU/CommandEncoder.swift
  Source/WebGPU/WebGPU/Internal/WebGPUSwiftInternal.h
Labels: unsafe-merge-queue, WebGPU

#37403 Remove parse-gc-phase-timings
  Tools/Scripts/parse-gc-phase-timings
Labels: unsafe-merge-queue, Tools / Tests

#37383 Port WebExtension DeclarativeNetRequest Parsing
  Source/WebCore/en.lproj/Localizable.strings
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtension.cpp
  Source/WebKit/UIProcess/Extensions/WebExtension.h
Labels: WebKit Extensions

#37394 resolveForDocument() should explicitly set the FontCascade on the style
  Source/WebCore/platform/graphics/FontCascade.cpp
  Source/WebCore/platform/graphics/FontCascadeFonts.h
  Source/WebCore/platform/graphics/FontRanges.cpp
  Source/WebCore/platform/graphics/FontRanges.h
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/style/StyleResolveForDocument.cpp
Labels: merge-queue, CSS

#37358 Add primitive routines to perform Audio Sample format conversion.
  Source/WebCore/platform/AudioSampleFormat.h
  Tools/TestWebKitAPI/CMakeLists.txt
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebCore/AudioSampleFormat.cpp
Labels: merge-queue, Media

#37398 [block-step-sizing] Extra space to distribute for boxes with outer size of 0 is the specified step size.
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/zero-outer-size-rounded-up-to-block-step-size-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/zero-outer-size-rounded-up-to-block-step-size.html
  Source/WebCore/rendering/RenderBlockFlow.cpp
Labels: merge-queue, Layout and Rendering

#37385 Explicitly destroy the render tree in WebPage::close
  Source/WebCore/history/BackForwardCache.cpp
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Labels: unsafe-merge-queue, Layout and Rendering

#37317 Rename classes in URLParser's characterClassTable
  Source/WTF/wtf/URLParser.cpp
Labels: unsafe-merge-queue

#37356 [WebGPU] BindGroups with destroyed resources should result in dropping the command buffer submission
  LayoutTests/fast/webgpu/nocrash/fuzz-283943-expected.txt
  LayoutTests/fast/webgpu/nocrash/fuzz-283943.html
  Source/WebGPU/WebGPU/BindGroup.h
  Source/WebGPU/WebGPU/BindGroup.mm
  Source/WebGPU/WebGPU/ComputePassEncoder.mm
  Source/WebGPU/WebGPU/RenderBundle.h
  Source/WebGPU/WebGPU/RenderBundle.mm
  Source/WebGPU/WebGPU/RenderBundleEncoder.h
  Source/WebGPU/WebGPU/RenderBundleEncoder.mm
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
Labels: WebGPU

#37367 [GStreamer][WebRTC] rvfc metadata fixes
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/GStreamerIncomingTrackProcessor.cpp
  Source/WebCore/platform/mediastream/gstreamer/GStreamerIncomingTrackProcessor.h
  Source/WebCore/platform/mediastream/gstreamer/GStreamerVideoCapturer.cpp
Labels: Platform, GLib Suggested Backport - 2.46

#37417 [WPE][GTK] Drop WTF_ALLOW_UNSAFE_BUFFER_USAGE from PlatformSpeechSynthesizerSpiel
  Source/WebCore/platform/spiel/PlatformSpeechSynthesizerSpiel.cpp
Labels: unsafe-merge-queue, WPE WebKit

#37421 Unified compilation failure due to missing headers
  Source/WebCore/platform/graphics/ImageUtilities.h
  Source/WebCore/platform/graphics/cg/ImageUtilitiesCG.cpp
Labels: Images

#37424 Unified build failure in Source/WebCore/platform/ios/PlatformPasteboardIOS.mm
  Source/WebCore/platform/ios/PlatformPasteboardIOS.mm
Labels: unsafe-merge-queue, New Bugs

#37071 Compile a pathname component in URLPattern::create
  LayoutTests/fast/urlpattern/urlpattern-component-expected.txt
  LayoutTests/fast/urlpattern/urlpattern-component.html
  LayoutTests/imported/w3c/web-platform-tests/urlpattern/urlpattern.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/urlpattern/urlpattern.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/urlpattern/urlpattern.any.sharedworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/urlpattern/urlpattern.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/urlpattern/urlpattern.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/urlpattern/urlpattern.https.any.serviceworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/urlpattern/urlpattern.https.any.sharedworker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/urlpattern/urlpattern.https.any.worker-expected.txt
  Source/JavaScriptCore/runtime/RegExpObject.h
  Source/WebCore/Modules/url-pattern/URLPattern.cpp
  Source/WebCore/Modules/url-pattern/URLPattern.h
  Source/WebCore/Modules/url-pattern/URLPatternCanonical.cpp
  Source/WebCore/Modules/url-pattern/URLPatternComponent.cpp
  Source/WebCore/Modules/url-pattern/URLPatternComponent.h
  Source/WebCore/Modules/url-pattern/URLPatternParser.cpp
Labels: unsafe-merge-queue, New Bugs

#37400 imported/w3c/web-platform-tests/navigation-api/navigation-history-entry/entries-after-javascript-url-navigation.html is failing
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigation-history-entry/entries-after-javascript-url-navigation-expected.txt
  Source/WebCore/bindings/js/ScriptController.cpp
  Source/WebCore/bindings/js/ScriptController.h
  Source/WebCore/loader/FrameLoader.cpp
Labels: WebCore Misc.

#37381 Enable WebProcessCache with site isolation
  Source/WebKit/UIProcess/BrowsingContextGroup.cpp
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/UIProcess/FrameProcess.cpp
  Source/WebKit/UIProcess/RemotePageProxy.cpp
  Source/WebKit/UIProcess/RemotePageProxy.h
  Source/WebKit/UIProcess/SuspendedPageProxy.cpp
  Source/WebKit/UIProcess/WebProcessCache.cpp
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Labels: unsafe-merge-queue, WebKit Process Model

#37401 Reduce use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in wtf/text/icu
  Source/WTF/wtf/text/icu/TextBreakIteratorICU.h
  Source/WTF/wtf/text/icu/UTextProvider.cpp
  Source/WTF/wtf/text/icu/UTextProviderLatin1.cpp
Labels: unsafe-merge-queue

#37409 REGRESSION(287315@main): css-rhythm/parsing/block-step-computed crashing with ASSERT_NOT_IMPLEMENTED_YET
  Source/WebCore/rendering/RenderBlockFlow.cpp
Labels: Layout and Rendering

#37055 Add WKWebsiteDataStore SPI to fetch Local Storage data
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkProcess.messages.in
  Source/WebKit/NetworkProcess/storage/LocalStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/LocalStorageManager.h
  Source/WebKit/NetworkProcess/storage/MemoryStorageArea.h
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebsiteDataStore.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebsiteDataStorePrivate.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.h
  Tools/TestWebKitAPI/SourcesCocoa.txt
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKitCocoa/RestoreLocalStorage.mm
Labels: WebKit API

#37387 [WebGPU] Auto-generated layouts may result in buffer and its size being placed at the same index
  LayoutTests/fast/webgpu/nocrash/fuzz-283989-expected.txt
  LayoutTests/fast/webgpu/nocrash/fuzz-283989.html
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
  Source/WebGPU/WebGPU/BindGroupLayout.mm
Labels: WebGPU

#37413 [JSC] TimeZone Cache should be per-process level
  Source/JavaScriptCore/runtime/JSDateMath.cpp
Labels: JavaScriptCore

#36205 Adopt AdAttributionKit's private browsing verification protocol
  Source/WTF/wtf/PlatformHave.h
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkSession.h
  Source/WebKit/NetworkProcess/cocoa/AppStoreDaemonSPI.h
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.h
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.mm
Labels: unsafe-merge-queue, WebKit Misc.

#37438 [JSC] Track # of active JITPlan for compiler thread suspension
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/heap/Heap.cpp
  Source/JavaScriptCore/heap/Heap.h
  Source/JavaScriptCore/jit/JITPlan.cpp
  Source/JavaScriptCore/jit/JITPlan.h
  Source/JavaScriptCore/jit/JITWorklist.cpp
  Source/JavaScriptCore/jit/JITWorklist.h
  Source/JavaScriptCore/jit/JITWorklistInlines.h
  Source/JavaScriptCore/runtime/VM.h
Labels: JavaScriptCore

#35384 [Static Analyzer CI] Cannot tell what hash a warning is for on PRs with many force-pushes
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: unsafe-merge-queue, Tools / Tests, skip-ews

#37447 [iPad] docs.google.com: Clicking on “NO THANKS” or “GET THE APP” using trackpad does nothing
  Source/WebCore/page/ChromeClient.h
  Source/WebCore/page/EventHandler.cpp
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
  Source/WebCore/page/QuirksData.h
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.h
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
Labels: UI Events

#36340 [Static Analyzer CI] Filter unexpected results using results.webkit.org to reduce build times on EWS
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: unsafe-merge-queue, Tools / Tests

#37453 [resultsdbpy] Special case visionOS SDK strings (Follow-up)
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/static/js/configuration.js
Labels: unsafe-merge-queue, Tools / Tests, skip-ews

#37411 Extend AudioSampleBufferCompressor capabilities to allow for any CMSampleBuffer conversion
  Source/WebCore/platform/audio/cocoa/AudioFileReaderCocoa.cpp
  Source/WebCore/platform/audio/cocoa/AudioFileReaderCocoa.h
  Source/WebCore/platform/graphics/cocoa/CMUtilities.h
  Source/WebCore/platform/graphics/cocoa/CMUtilities.mm
  Source/WebCore/platform/mediarecorder/MediaRecorderPrivateEncoder.cpp
  Source/WebCore/platform/mediarecorder/cocoa/AudioSampleBufferCompressor.h
  Source/WebCore/platform/mediarecorder/cocoa/AudioSampleBufferCompressor.mm
Labels: Media

#37449 Add site isolation test for iframes with borders
  LayoutTests/http/tests/site-isolation/iframe-with-border-expected.html
  LayoutTests/http/tests/site-isolation/iframe-with-border.html
Labels: Tools / Tests

#37457 [TextureMapper] Remove orphaned VAO
  Source/WebCore/platform/graphics/texmap/TextureMapper.cpp
Labels: unsafe-merge-queue, WPE WebKit

#37405 Stop using WTF_ALLOW_UNSAFE_BUFFER_USAGE in WebCore/crypto/
  Source/WTF/wtf/CryptographicUtilities.cpp
  Source/WTF/wtf/CryptographicUtilities.h
  Source/WebCore/crypto/algorithms/CryptoAlgorithmAESCTR.cpp
  Source/WebCore/crypto/algorithms/CryptoAlgorithmAESGCM.cpp
  Source/WebCore/crypto/algorithms/CryptoAlgorithmX25519.cpp
  Source/WebCore/crypto/cocoa/CryptoAlgorithmAESCBCMac.cpp
  Source/WebCore/crypto/cocoa/CryptoAlgorithmAESCFBMac.cpp
  Source/WebCore/crypto/cocoa/CryptoAlgorithmAESGCMMac.cpp
  Source/WebCore/crypto/cocoa/CryptoAlgorithmECDSAMac.cpp
  Source/WebCore/crypto/cocoa/CryptoAlgorithmHMACMac.cpp
  Source/WebCore/crypto/cocoa/CryptoKeyECMac.cpp
  Source/WebCore/crypto/cocoa/CryptoKeyOKPCocoa.cpp
  Source/WebCore/crypto/cocoa/CryptoKeyRSAMac.cpp
  Source/WebCore/crypto/cocoa/CryptoUtilitiesCocoa.cpp
  Source/WebCore/crypto/cocoa/SerializedCryptoKeyWrapMac.mm
  Source/WebCore/crypto/gcrypt/CryptoAlgorithmAESGCMGCrypt.cpp
  Source/WebCore/crypto/gcrypt/CryptoAlgorithmHMACGCrypt.cpp
  Source/WebCore/crypto/openssl/CryptoAlgorithmHMACOpenSSL.cpp
Labels: WebCore Misc.

#37458 [Gardening]: New Test (284937@main): [ Sequoia wk1 ] http/tests/download/anchor-download-redirect-cross-origin.html is a consistent failure
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#36998 [WebGPUSwift] move internal headers to WebGPU_Internal module
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
  Source/WebGPU/WebGPU/Adapter.h
  Source/WebGPU/WebGPU/Buffer.h
  Source/WebGPU/WebGPU/CommandEncoder.h
  Source/WebGPU/WebGPU/Device.h
  Source/WebGPU/WebGPU/HardwareCapabilities.h
  Source/WebGPU/WebGPU/Internal/WebGPUSwiftInternal.h
  Source/WebGPU/WebGPU/QuerySet.h
  Source/WebGPU/WebGPU/Texture.h
  Source/WebGPU/WebGPU/WebGPUExt.h
Labels: unsafe-merge-queue, WebGPU

#37440 [WebGPU] Move HDR status to preview
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: merge-queue, WebGPU

#37441 Stop taking unbounded network assertion in host app for downloads
  Source/WebKit/NetworkProcess/Downloads/cocoa/DownloadCocoa.mm
  Source/WebKit/UIProcess/Downloads/DownloadProxy.cpp
  Source/WebKit/UIProcess/Downloads/DownloadProxy.h
  Source/WebKit/UIProcess/Downloads/DownloadProxy.messages.in
  Source/WebKit/UIProcess/Downloads/DownloadProxyCocoa.mm
  Source/WebKit/UIProcess/Downloads/DownloadProxyMap.cpp
Labels: merge-queue, WebKit Misc.

#36935 [WebGPU] Validation layer reports an error when using shared memory textures
  Source/WebGPU/WebGPU/Device.h
  Source/WebGPU/WebGPU/PresentationContextIOSurface.mm
Labels: WebGPU

#37461 [WKTR] [visionOS] run-webkit-tests --lint-test-files warns about missing paths 'geometry' and 'plugins'
  LayoutTests/platform/visionos/TestExpectations
Labels: Tools / Tests

#37463 Unreviewed build fix after 287342@main
  Source/WebCore/Modules/url-pattern/URLPatternComponent.cpp
  Source/WebCore/Modules/url-pattern/URLPatternComponent.h
Labels: New Bugs

#37462 Revert 287345@main
  Source/WebKit/UIProcess/BrowsingContextGroup.cpp
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/UIProcess/FrameProcess.cpp
  Source/WebKit/UIProcess/RemotePageProxy.cpp
  Source/WebKit/UIProcess/RemotePageProxy.h
  Source/WebKit/UIProcess/SuspendedPageProxy.cpp
  Source/WebKit/UIProcess/WebProcessCache.cpp
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
Labels: WebKit Process Model

#37164 [SwiftUI] Remove the original MiniBrowser SwiftUI prototype
  Tools/MiniBrowserSwiftUI/Configurations/Base.xcconfig
  Tools/MiniBrowserSwiftUI/Configurations/Debug.xcconfig
  Tools/MiniBrowserSwiftUI/Configurations/MiniBrowserSwiftUI.xcconfig
  Tools/MiniBrowserSwiftUI/Configurations/Release.xcconfig
  Tools/MiniBrowserSwiftUI/Configurations/WebKit_SwiftUI.xcconfig
  Tools/MiniBrowserSwiftUI/MiniBrowserSwiftUI.xcodeproj/project.pbxproj
  Tools/MiniBrowserSwiftUI/MiniBrowserSwiftUI.xcodeproj/xcshareddata/xcschemes/MiniBrowserSwiftUI.xcscheme
  Tools/MiniBrowserSwiftUI/MiniBrowserSwiftUI.xcodeproj/xcshareddata/xcschemes/_WebKit_SwiftUI.xcscheme
  Tools/MiniBrowserSwiftUI/Shared/Assets.xcassets/AccentColor.colorset/Contents.json
  Tools/MiniBrowserSwiftUI/Shared/Assets.xcassets/AppIcon.appiconset/Contents.json
  Tools/MiniBrowserSwiftUI/Shared/Assets.xcassets/Contents.json
  Tools/MiniBrowserSwiftUI/Shared/Assets.xcassets/URLFieldBackground.colorset/Contents.json
  Tools/MiniBrowserSwiftUI/Shared/BrowserApp.swift
  Tools/MiniBrowserSwiftUI/Shared/BrowserScene.swift
  Tools/MiniBrowserSwiftUI/Shared/BrowserTab.swift
  Tools/MiniBrowserSwiftUI/Shared/FoundationExtras.swift
  Tools/MiniBrowserSwiftUI/Shared/URLField.swift
  Tools/MiniBrowserSwiftUI/WebKit_SwiftUI/Dialog.swift
  Tools/MiniBrowserSwiftUI/WebKit_SwiftUI/JavaScriptDialogs.swift
  Tools/MiniBrowserSwiftUI/WebKit_SwiftUI/Navigation.swift
  Tools/MiniBrowserSwiftUI/WebKit_SwiftUI/SwiftUIExtras.swift
  Tools/MiniBrowserSwiftUI/WebKit_SwiftUI/WebKit_SwiftUI-Info.plist
  Tools/MiniBrowserSwiftUI/WebKit_SwiftUI/WebView.swift
  Tools/MiniBrowserSwiftUI/WebKit_SwiftUI/WebViewModifiers.swift
  Tools/MiniBrowserSwiftUI/WebKit_SwiftUI/WebViewState.swift
  Tools/MiniBrowserSwiftUI/iOS/Info.plist
  Tools/MiniBrowserSwiftUI/macOS/Info.plist
  Tools/MiniBrowserSwiftUI/macOS/macOS.entitlements
Labels: Tools / Tests

#37469 [Gardening]: New Test (286068@main): [ Sequoia ] http/tests/media/fairplay/legacy-fairplay-mse-muxed-nowait.html is a consistent failure
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#37451 [block-step-sizing] Add some tests to verify interaction between block-step-size and margins of various replaced elements.
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/computedstyle/block-level-replaced-elements-affected-by-block-step-size-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/computedstyle/block-level-replaced-elements-affected-by-block-step-size.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/computedstyle/inline-level-replaced-elements-not-affected-by-block-step-size-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/computedstyle/inline-level-replaced-elements-not-affected-by-block-step-size.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/replaced-elements/block-level-canvas-margins-affected-by-block-step-size-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/replaced-elements/block-level-canvas-margins-affected-by-block-step-size.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/replaced-elements/block-level-embed-margins-affected-by-block-step-size-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/replaced-elements/block-level-embed-margins-affected-by-block-step-size.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/replaced-elements/block-level-iframe-margins-affected-by-block-step-size-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/replaced-elements/block-level-iframe-margins-affected-by-block-step-size.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/replaced-elements/block-level-img-margins-affected-by-block-step-size-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/replaced-elements/block-level-img-margins-affected-by-block-step-size.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/replaced-elements/block-level-object-margins-affected-by-block-step-size-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/replaced-elements/block-level-object-margins-affected-by-block-step-size.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/replaced-elements/block-level-svg-margins-affected-by-block-step-size-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/replaced-elements/block-level-svg-margins-affected-by-block-step-size.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/replaced-elements/block-level-video-margins-affected-by-block-step-size-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-rhythm/replaced-elements/block-level-video-margins-affected-by-block-step-size.html
Labels: merge-queue, Layout and Rendering

#37471 Disconnect RemoteFrameView when destroying a Page with a RemoteFrame as the main frame
  Source/WebCore/page/Page.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
Labels: unsafe-merge-queue, WebKit Process Model

#37476 Unreviewed build fix after 287342@main
  Source/WebCore/Modules/url-pattern/URLPatternComponent.cpp
Labels: unsafe-merge-queue, New Bugs

#37475 Non-unified source build fix of December 2024 (part 2)
  Source/WebCore/css/CSSColorValue.cpp
  Source/WebCore/css/parser/CSSPropertyParserConsumer+Image.cpp
  Source/WebCore/layout/integration/inline/LayoutIntegrationInlineContent.cpp
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.cpp
  Source/WebCore/style/StyleBuilderState.cpp
  Source/WebCore/style/values/color/StyleColorMix.cpp
  Source/WebCore/style/values/color/StyleColorResolutionState.h
  Source/WebKit/NetworkProcess/NetworkLoad.cpp
  Source/WebKit/UIProcess/RemotePageVisitedLinkStoreRegistration.h
Labels: unsafe-merge-queue, New Bugs

#37470 Build failure - WebGPUHDREnabled Feature's status implies it should be on by default.
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebKit/Shared/WebPreferencesDefaultValues.h
Labels: unsafe-merge-queue, Tools / Tests

#37431 [WPE] Unreviewed test gardening
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
Labels: Tools / Tests

#37484 [Gardening] REGRESSION (286687@main): [ iOS 18 ] imported/w3c/web-platform-tests/scroll-animations/css/scroll-timeline-responsiveness-from-endpoint.html is consistently failing.
  LayoutTests/platform/ios-17/TestExpectations
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#37373 [GTK][WPE] Drop WTF_UNSAFE_BUFFER_USAGE from DRMDeviceManager
  Source/WebCore/platform/graphics/gbm/DRMDeviceManager.cpp
Labels: unsafe-merge-queue, WPE WebKit

#37430 RTCVideoDecoderH264 should report its last available frame as not reordered
  LayoutTests/http/tests/webcodecs/h264-reordering.html
  LayoutTests/http/tests/webcodecs/hevc-reordering.html
  Source/ThirdParty/libwebrtc/Source/webrtc/webkit_sdk/objc/components/video_codec/RTCVideoDecoderH264.mm
  Source/ThirdParty/libwebrtc/Source/webrtc/webkit_sdk/objc/components/video_codec/RTCVideoDecoderH265.mm
  Source/ThirdParty/libwebrtc/Source/webrtc/webkit_sdk/objc/components/video_codec/RTCVideoFrameReorderQueue.h
  Source/ThirdParty/libwebrtc/Source/webrtc/webkit_sdk/objc/components/video_codec/RTCVideoFrameReorderQueue.mm
Labels: WebRTC

#37464 [JSC] Simplify oneCharMatches
  JSTests/stress/substring-global-atom-cache.js
  Source/JavaScriptCore/runtime/RegExp.cpp
  Source/JavaScriptCore/runtime/RegExp.h
  Source/JavaScriptCore/runtime/RegExpGlobalData.h
  Source/JavaScriptCore/runtime/RegExpGlobalDataInlines.h
  Source/JavaScriptCore/runtime/RegExpInlines.h
  Source/JavaScriptCore/runtime/RegExpObjectInlines.h
  Source/JavaScriptCore/runtime/RegExpSubstringGlobalAtomCache.cpp
Labels: JavaScriptCore

#37477 [JSC] Update Intl.DurationFormat not to include grouping for 2-digit / numeric styles
  JSTests/stress/intl-durationformat-rounding-errors.js
  JSTests/test262/expectations.yaml
  Source/JavaScriptCore/runtime/IntlDurationFormat.cpp
Labels: JavaScriptCore

#37492 [JHBuild] Update minimal moduleset
  Tools/jhbuild/jhbuild-minimal.modules
  Tools/jhbuild/openxr-skip-experimental-filesystem-detection.patch
Labels: Tools / Tests

#37491 [GStreamer] imported/w3c/web-platform-tests/mediacapture-insertable-streams/VideoTrackGenerator.worker.html is a constant failure
  LayoutTests/platform/glib/TestExpectations
Labels: Media

#37497 [Skia] Unreviewed build fix for GLib platforms
  Source/WebCore/platform/graphics/skia/FontVariationsSkia.h
Labels: unsafe-merge-queue, WebKitGTK

#37460 [Navigation] Entry state can be lost during traversals
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/state/same-document-away-and-back-location-api-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/updateCurrentEntry-method/same-document-away-and-back-location-api-expected.txt
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/page/Navigation.cpp
  Source/WebCore/page/Navigation.h
  Source/WebCore/page/NavigationHistoryEntry.h
Labels: unsafe-merge-queue, WebCore Misc.

#37450 [WebGPU] onSubmittedWorkDone hangs when the device is destroyed
  LayoutTests/fast/webgpu/regression/repro_284053-expected.txt
  LayoutTests/fast/webgpu/regression/repro_284053.html
  Source/WebGPU/WebGPU/Device.mm
  Source/WebGPU/WebGPU/Queue.h
  Source/WebGPU/WebGPU/Queue.mm
Labels: WebGPU

#37386 Implement Wasm GC spec in IPInt
  JSTests/wasm/ipint-tests/ipint-test-array-simpleinit.js
  JSTests/wasm/ipint-tests/ipint-test-default-ref-local.js
  JSTests/wasm/ipint-tests/ipint-test-gc-starter.js
  JSTests/wasm/ipint-tests/ipint-test-struct-packed.js
  JSTests/wasm/ipint-tests/ipint-test-struct-set.js
  JSTests/wasm/ipint-tests/ipint-test-struct-simple.js
  JSTests/wasm/spec-harness/async_index.js
  JSTests/wasm/spec-harness/sync_index.js
  Source/JavaScriptCore/llint/InPlaceInterpreter.asm
  Source/JavaScriptCore/llint/InPlaceInterpreter.cpp
  Source/JavaScriptCore/llint/InPlaceInterpreter.h
  Source/JavaScriptCore/llint/InPlaceInterpreter32_64.asm
  Source/JavaScriptCore/llint/InPlaceInterpreter64.asm
  Source/JavaScriptCore/wasm/WasmIPIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmIPIntGenerator.h
  Source/JavaScriptCore/wasm/WasmIPIntSlowPaths.cpp
  Source/JavaScriptCore/wasm/WasmIPIntSlowPaths.h
  Tools/lldb/debug_ipint.py
Labels: JavaScriptCore
