Repository WebKit/WebKit, pull requests merged in 2024-02, with the labels that each got.

#23571 [ SonomaB wk2 Debug arm64 ] http/tests/inspector/dom/didFireEvent.html is a flaky crash
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebCore/html/HTMLMediaElement.h
  Source/WebCore/html/HTMLVideoElement.cpp
Labels: merge-queue, New Bugs

#23557 Remove local test copies `svg/dom` in favor of WPT Tests
  LayoutTests/svg/dom/SVGAnimatedBoolean-expected.txt
  LayoutTests/svg/dom/SVGAnimatedBoolean.html
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGClipPathElement-expected.txt
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGClipPathElement.html
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGComponentTransferFunctionElement-expected.txt
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGComponentTransferFunctionElement.html
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGFEBlendElement-expected.txt
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGFEBlendElement.html
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGFEColorMatrixElement-expected.txt
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGFEColorMatrixElement.html
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGFEConvolveMatrixElement-expected.txt
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGFEConvolveMatrixElement.html
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGFEDisplacementMapElement-expected.txt
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGFEDisplacementMapElement.html
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGFEMorphologyElement-expected.txt
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGFEMorphologyElement.html
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGFETurbulenceElement-expected.txt
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGFETurbulenceElement.html
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGFilterElement-expected.txt
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGFilterElement.html
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGGradientElement-expected.txt
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGGradientElement.html
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGMarkerElement-expected.txt
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGMarkerElement.html
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGMaskElement-expected.txt
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGMaskElement.html
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGPatternElement-expected.txt
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGPatternElement.html
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGTextContentElement-expected.txt
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGTextContentElement.html
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGTextPathElement-expected.txt
  LayoutTests/svg/dom/SVGAnimatedEnumeration-SVGTextPathElement.html
  LayoutTests/svg/dom/SVGAnimatedEnumeration-expected.txt
  LayoutTests/svg/dom/SVGAnimatedEnumeration.html
  LayoutTests/svg/dom/SVGAnimatedInteger-expected.txt
  LayoutTests/svg/dom/SVGAnimatedInteger.html
  LayoutTests/svg/dom/SVGAnimatedLength-expected.txt
  LayoutTests/svg/dom/SVGAnimatedLength.html
  LayoutTests/svg/dom/SVGAnimatedLengthList-expected.txt
  LayoutTests/svg/dom/SVGAnimatedLengthList.html
  LayoutTests/svg/dom/SVGAnimatedNumber-expected.txt
  LayoutTests/svg/dom/SVGAnimatedNumber.html
  LayoutTests/svg/dom/SVGAnimatedNumberList-expected.txt
  LayoutTests/svg/dom/SVGAnimatedNumberList.html
  LayoutTests/svg/dom/SVGAnimatedPreserveAspectRatio-expected.txt
  LayoutTests/svg/dom/SVGAnimatedPreserveAspectRatio.html
  LayoutTests/svg/dom/SVGAnimatedRect-expected.txt
  LayoutTests/svg/dom/SVGAnimatedRect.html
  LayoutTests/svg/dom/SVGLengthList-appendItem-expected.txt
  LayoutTests/svg/dom/SVGLengthList-appendItem.xhtml
  LayoutTests/svg/dom/SVGLengthList-basics-expected.txt
  LayoutTests/svg/dom/SVGLengthList-basics.xhtml
  LayoutTests/svg/dom/SVGLengthList-getItem-expected.txt
  LayoutTests/svg/dom/SVGLengthList-getItem.xhtml
  LayoutTests/svg/dom/SVGPoint-expected.txt
  LayoutTests/svg/dom/SVGPoint.html
Labels: merge-queue, SVG

#23554 Widget::root() should return a FrameView
  Source/WebCore/platform/Widget.cpp
  Source/WebCore/platform/Widget.h
Labels: unsafe-merge-queue, WebKit Process Model

#23593 [WebGPU] Queue::onSubmittedWorkDone may crash if device is destructed
  Source/WebGPU/WebGPU/Device.h
  Source/WebGPU/WebGPU/Queue.h
  Source/WebGPU/WebGPU/Queue.mm
Labels: merge-queue, WebGPU

#23520 [WebGPU] RemoteBuffer::destroy should always call unmap first
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteBuffer.cpp
Labels: WebGPU

#23633 [Gardening]: REGRESSION ( 273804@main?): [ Monterey+ wk2 Debug ] http/tests/media/video-useragent.html is a consistent crash
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#23634 Revert arm64 build fixes
  Source/JavaScriptCore/assembler/FastJITPermissions.h
  Source/JavaScriptCore/jit/ExecutableAllocator.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#23621 "Function could be declared with attribute 'noreturn'" warnings generated in some configurations when building GeneratedSerializers.mm
  Source/WebKit/Scripts/generate-serializers.py
Labels: Tools / Tests

#23536 [WebXR] Add state checking to WebXR IPC calls
  Source/WebCore/Modules/webxr/WebXRSystem.cpp
  Source/WebKit/Shared/XR/XRDeviceProxy.cpp
  Source/WebKit/UIProcess/XR/PlatformXRSystem.cpp
  Source/WebKit/UIProcess/XR/PlatformXRSystem.h
  Source/WebKit/UIProcess/XR/PlatformXRSystem.messages.in
  Source/WebKit/WebProcess/XR/PlatformXRSystemProxy.cpp
  Source/WebKit/WebProcess/XR/PlatformXRSystemProxy.h
Labels: merge-queue, WebXR

#23466 Drop custom IPC decoder / encoder for WTF::MachSendRight
  Source/WebKit/Platform/IPC/ArgumentCoders.h
  Source/WebKit/Platform/IPC/Connection.cpp
  Source/WebKit/Platform/IPC/Decoder.h
  Source/WebKit/Platform/IPC/Encoder.h
  Source/WebKit/Platform/IPC/cocoa/ConnectionCocoa.mm
  Source/WebKit/Platform/IPC/darwin/ArgumentCodersDarwin.h
  Source/WebKit/Platform/IPC/darwin/ArgumentCodersDarwin.mm
  Source/WebKit/Platform/SharedMemory.serialization.in
  Source/WebKit/Platform/SourcesCocoa.txt
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/Scripts/webkit/tests/TestWithLegacyReceiverMessageReceiver.cpp
  Source/WebKit/Scripts/webkit/tests/TestWithStreamMessageReceiver.cpp
  Source/WebKit/Scripts/webkit/tests/TestWithoutAttributesMessageReceiver.cpp
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: unsafe-merge-queue, WebKit2

#23540 Fix click x removed wrong url parameters
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/templates/search.html
Labels: merge-queue, Tools / Tests

#23582 Adopt more dynamicDowncast<> in XML code
  Source/WebCore/xml/XPathFunctions.cpp
  Source/WebCore/xml/XPathStep.cpp
  Source/WebCore/xml/parser/XMLDocumentParserLibxml2.cpp
Labels: merge-queue, XML

#23638 [Gardening]: REGRESSION(267840@main?):[ iOS 17 ] 2 imported/w3c/web-platform (layout-tests) are missing expected results
  LayoutTests/imported/w3c/web-platform-tests/fetch/api/basic/request-headers.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fetch/api/basic/request-headers.any.worker-expected.txt
Labels: unsafe-merge-queue

#23630 WebExtensionControllerProxy ASSERT in WebProcess when loading a page.
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.cpp
  Source/WebKit/UIProcess/Extensions/WebExtensionController.cpp
  Source/WebKit/WebProcess/Extensions/Cocoa/WebExtensionContextProxyCocoa.mm
  Source/WebKit/WebProcess/Extensions/WebExtensionControllerProxy.cpp
Labels: unsafe-merge-queue, WebKit Extensions

#23565 Adopt dynamicDowncast<> in editing's HTMLConverter
  Source/WebCore/editing/cocoa/HTMLConverter.mm
Labels: merge-queue, WebCore Misc.

#23598 [GTK] Check window focus with gtk_window_is_active()
  Source/WebKit/UIProcess/Gamepad/gtk/UIGamepadProviderGtk.cpp
Labels: merge-queue, WebKitGTK

#23613 [UnifiedPDF] Add a WebKit2 logging channel for PDF
  Source/WebKit/Platform/Logging.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFDocumentLayout.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: merge-queue, PDF

#23622 Expose `attachmentIdentifier` on `HTMLSourceElement` when attachment elements are enabled
  Source/WebCore/html/HTMLSourceElement.idl
Labels: unsafe-merge-queue, HTML Editing

#23627 CrashTracer: com.apple.WebKit.WebContent at WebCore: WebCore::Document::addTopLayerElement
  LayoutTests/fullscreen/fullscreen-add-disconnected-to-top-layer-expected.txt
  LayoutTests/fullscreen/fullscreen-add-disconnected-to-top-layer.html
  Source/WebCore/dom/Document.cpp
Labels: unsafe-merge-queue, DOM, safe-merge-queue

#23652 REGRESSION(273876@main): [Win] Received invalid message: 'WebProcess_InitializeWebProcess'
  Source/WebKit/Platform/IPC/Attachment.h
Labels: unsafe-merge-queue, WebKit2

#23568 Refactor HTMLConverter::_processText() to take a Text node
  Source/WebCore/editing/cocoa/HTMLConverter.mm
Labels: DOM

#23264 Re-enable and refresh Overlay Regions
  LayoutTests/TestExpectations
  LayoutTests/overlay-region/fixed-node-updates-expected.txt
  LayoutTests/overlay-region/fixed-node-updates.html
  LayoutTests/overlay-region/full-page-dynamic-expected.txt
  LayoutTests/overlay-region/full-page-dynamic.html
  LayoutTests/overlay-region/full-page-expected.txt
  LayoutTests/overlay-region/full-page-horizontal-expected.txt
  LayoutTests/overlay-region/full-page-horizontal.html
  LayoutTests/overlay-region/full-page-overflow-expected.txt
  LayoutTests/overlay-region/full-page-overflow-scrolling-expected.txt
  LayoutTests/overlay-region/full-page-overflow-scrolling.html
  LayoutTests/overlay-region/full-page-overflow.html
  LayoutTests/overlay-region/full-page-scrolling-expected.txt
  LayoutTests/overlay-region/full-page-scrolling.html
  LayoutTests/overlay-region/full-page.html
  LayoutTests/overlay-region/many-candidates-expected.txt
  LayoutTests/overlay-region/many-candidates.html
  LayoutTests/overlay-region/map-expected.txt
  LayoutTests/overlay-region/map-small-expected.txt
  LayoutTests/overlay-region/map-small.html
  LayoutTests/overlay-region/map.html
  LayoutTests/overlay-region/split-scrollers-expected.txt
  LayoutTests/overlay-region/split-scrollers.html
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreeTransaction.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/UIProcess/API/ios/WKWebViewTestingIOS.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeHost.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteScrollingCoordinatorProxyIOS.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteScrollingCoordinatorProxyIOS.mm
  Source/WebKit/UIProcess/ios/WKBaseScrollView.h
  Source/WebKit/UIProcess/ios/WKBaseScrollView.mm
  Source/WebKit/UIProcess/ios/WKScrollView.h
  Source/WebKit/UIProcess/ios/WKScrollView.mm
Labels: Layout and Rendering

#23567 [GTK] Use the new GTK API to create a GdkTexture from a DMA-BUF buffer
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreDMABuf.cpp
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreDMABuf.h
Labels: unsafe-merge-queue, WebKitGTK

#23631 Sync `WheelEvent` interface (deltaX, deltaY and deltaZ) with Web-Specification
  Source/WebCore/dom/WheelEvent.idl
Labels: merge-queue, UI Events

#23576 [LBSE] Fix clipping/masking related assertion failure in debug builds
  Source/WebCore/rendering/svg/SVGPaintServerHandling.h
Labels: merge-queue, SVG

#23654 [WPE] WPE Platform: don't check DPMS property in DRM platform initialization
  Source/WebKit/WPEPlatform/wpe/drm/WPEDRM.cpp
Labels: unsafe-merge-queue, WPE WebKit

#23657 [WPE] WPE Platform: make sure the DRM device selected is capable of modesetting
  Source/WebKit/WPEPlatform/wpe/drm/WPEDisplayDRM.cpp
Labels: unsafe-merge-queue, WPE WebKit

#23579 Google meet video effects have a low frame rate
  LayoutTests/fast/mediacapturefromelement/CanvasCaptureMediaStream-capture-out-of-DOM-canvas-webgl-expected.txt
  LayoutTests/fast/mediacapturefromelement/CanvasCaptureMediaStream-capture-out-of-DOM-canvas-webgl.html
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
Labels: merge-queue, WebRTC

#23658 REGRESSION ( 273804@main?): [ Monterey+ wk2 Debug ] http/tests/media/video-useragent.html is a consistent crash
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: merge-queue, New Bugs

#23606 [LBSE] Unskip svg/dynamic-updates
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/TestExpectations
Labels: SVG

#23577 Minor HTMLFrameOwnerElement cleanup
  Source/WebCore/dom/Node.cpp
  Source/WebCore/dom/Node.h
  Source/WebCore/html/HTMLFrameOwnerElement.h
  Source/WebCore/inspector/agents/InspectorDOMAgent.cpp
  Source/WebCore/page/FocusController.cpp
  Source/WebCore/page/SpatialNavigation.cpp
  Source/WebCore/page/SpatialNavigation.h
Labels: DOM

#23662 Fix ignoring return value warning in WPEDisplayDRM::findDevice()
  Source/WebKit/WPEPlatform/wpe/drm/WPEDisplayDRM.cpp
Labels: unsafe-merge-queue, WPE WebKit

#23585 Implement QP using H265BitstreamParser in RTCVideoEncoderH265.mm
  LayoutTests/webrtc/h265-expected.txt
  LayoutTests/webrtc/h265.html
  Source/ThirdParty/libwebrtc/Source/webrtc/common_video/h265/h265_pps_parser.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/common_video/h265/h265_pps_parser.h
  Source/ThirdParty/libwebrtc/Source/webrtc/modules/video_coding/h265_vps_sps_pps_tracker.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/sdk/objc/components/video_codec/RTCVideoEncoderH265.mm
  Source/ThirdParty/libwebrtc/libwebrtc.xcodeproj/project.pbxproj
Labels: merge-queue, WebRTC

#23666 [ews] Improve handling of case when PR breaks layout-test
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: unsafe-merge-queue, Tools / Tests

#23572 [GStreamer][WebRTC] Deadlock during re-negotiation
  Source/WebCore/platform/mediastream/gstreamer/RealtimeOutgoingAudioSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeOutgoingAudioSourceGStreamer.h
  Source/WebCore/platform/mediastream/gstreamer/RealtimeOutgoingMediaSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeOutgoingMediaSourceGStreamer.h
  Source/WebCore/platform/mediastream/gstreamer/RealtimeOutgoingVideoSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/RealtimeOutgoingVideoSourceGStreamer.h
Labels: Platform

#10310 [GTK] gdk_memory_texture_new: assertion 'width > 0' failed in cairoSurfaceToGdkTexture
  Source/WebCore/platform/graphics/gtk/GdkCairoUtilities.cpp
  Source/WebKit/UIProcess/API/glib/WebKitFaviconDatabase.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebView.cpp
Labels: WebKitGTK

#23641 Add target for h265_bitstream_parser_fuzzer
  Source/ThirdParty/libwebrtc/Configurations/h265_bitstream_parser_fuzzer.xcconfig
  Source/ThirdParty/libwebrtc/Source/webrtc/common_video/h265/h265_bitstream_parser.cc
  Source/ThirdParty/libwebrtc/libwebrtc.xcodeproj/project.pbxproj
Labels: unsafe-merge-queue, WebRTC

#23581 [WGSL] Fix broken tests
  Source/WebGPU/WGSL/tests/lit.cfg
  Source/WebGPU/WGSL/tests/valid/overload.wgsl
Labels: WebGPU

#23584 [WGSL] Break-if should not have a type
  Source/WebGPU/WGSL/TypeCheck.cpp
Labels: WebGPU

#23597 [WGSL] Check for maximum expression depth
  Source/WebGPU/WGSL/GlobalSorting.cpp
Labels: merge-queue, WebGPU

#23642 Increase LayoutTestFinder test coverage
  Tools/Scripts/webkitpy/common/system/filesystem.py
  Tools/Scripts/webkitpy/layout_tests/controllers/layout_test_finder_legacy.py
  Tools/Scripts/webkitpy/layout_tests/controllers/layout_test_finder_legacy_unittest.py
  Tools/Scripts/webkitpy/layout_tests/models/test.py
  Tools/Scripts/webkitpy/port/base.py
  Tools/Scripts/webkitpy/port/test.py
Labels: unsafe-merge-queue, Tools / Tests

#23583 [WGSL] Check for recursion depth in lhs expression
  Source/WebGPU/WGSL/Parser.cpp
Labels: WebGPU

#23647 Deprecate WKBundlePageFindStringMatches
  LayoutTests/editing/find/cocoa/find-and-replace-adjacent-words.html
  LayoutTests/editing/find/cocoa/find-and-replace-at-editing-boundary.html
  LayoutTests/editing/find/cocoa/find-and-replace-basic.html
  LayoutTests/editing/find/cocoa/find-and-replace-in-subframes.html
  LayoutTests/editing/find/cocoa/find-and-replace-noneditable-matches.html
  LayoutTests/editing/find/cocoa/find-and-replace-replacement-text-input-events.html
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundlePage.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundlePage.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.cpp
  Tools/WebKitTestRunner/TestInvocation.cpp
Labels: unsafe-merge-queue, WebKit Misc.

#23580 [WGSL] Functions should not be used as values
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/tests/invalid/bitcast.wgsl
Labels: merge-queue, WebGPU

#23660 Use dynamicDowncast<> for ScriptElement
  Source/WebCore/dom/ScriptElement.cpp
  Source/WebCore/dom/ScriptElement.h
  Source/WebCore/xml/parser/XMLDocumentParserLibxml2.cpp
Labels: merge-queue, WebCore Misc.

#22983 Allow WebAuthn .create() to wait for previous cancel requests to finish
  Source/WebCore/Modules/webauthn/AuthenticatorCoordinator.cpp
  Source/WebCore/Modules/webauthn/AuthenticatorCoordinator.h
  Source/WebCore/Modules/webauthn/AuthenticatorCoordinatorClient.h
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/WebAuthenticatorCoordinatorProxy.mm
  Source/WebKit/UIProcess/WebAuthentication/WebAuthenticatorCoordinatorProxy.cpp
  Source/WebKit/UIProcess/WebAuthentication/WebAuthenticatorCoordinatorProxy.h
  Source/WebKit/UIProcess/WebAuthentication/WebAuthenticatorCoordinatorProxy.messages.in
  Source/WebKit/WebProcess/WebAuthentication/WebAuthenticatorCoordinator.cpp
  Source/WebKit/WebProcess/WebAuthentication/WebAuthenticatorCoordinator.h
Labels: merge-queue, WebKit Misc.

#23615 [UnifiedPDF] pdfLog() is a misnomer since it logs for the incremental loader
  Source/WebKit/WebProcess/Plugins/PDF/PDFIncrementalLoader.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFIncrementalLoader.mm
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginBase.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginBase.mm
Labels: merge-queue, PDF

#23333 [UnifiedPDF] Support radio buttons, checkboxes, and choice annotations.
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: merge-queue, PDF

#17609 [GTK] Remove key event reinjection
  Source/WebKit/UIProcess/API/gtk/PageClientImpl.cpp
  Source/WebKit/UIProcess/API/gtk/WebKitWebViewBase.cpp
  Source/WebKit/UIProcess/API/gtk/WebKitWebViewBasePrivate.h
Labels: merge-queue, WebKitGTK

#21643 Add new experimental presentation mode for full-window video viewing
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/Modules/modern-media-controls/media/media-controller.js
  Source/WebCore/css/CSSPseudoSelectors.json
  Source/WebCore/css/SelectorChecker.cpp
  Source/WebCore/css/SelectorCheckerTestFunctions.h
  Source/WebCore/cssjit/SelectorCompiler.cpp
  Source/WebCore/dom/Element.h
  Source/WebCore/dom/FullscreenManager.cpp
  Source/WebCore/dom/FullscreenManager.h
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/html/HTMLMediaElement.h
  Source/WebCore/html/HTMLVideoElement.cpp
  Source/WebCore/html/HTMLVideoElement.h
  Source/WebCore/html/HTMLVideoElement.idl
  Source/WebCore/page/ChromeClient.h
  Source/WebCore/platform/graphics/MediaPlayerEnums.h
  Source/WebKit/UIProcess/WebFullScreenManagerProxy.cpp
  Source/WebKit/UIProcess/WebFullScreenManagerProxy.h
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.cpp
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.h
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.messages.in
  Source/WebKit/WebProcess/InjectedBundle/InjectedBundlePageFullScreenClient.cpp
  Source/WebKit/WebProcess/InjectedBundle/InjectedBundlePageFullScreenClient.h
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.h
  Source/WebKit/WebProcess/cocoa/VideoPresentationManager.mm
  Source/WebKitLegacy/mac/WebCoreSupport/WebChromeClient.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebChromeClient.mm
Labels: merge-queue, Media

#23590 [GStreamer][WebRTC] Potential critical warnings due to duplicate sink pads in webrtcbin
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.h
Labels: merge-queue, Platform

#23673 ARM64 build fix; Second attempt
  Source/JavaScriptCore/assembler/FastJITPermissions.h
  Source/JavaScriptCore/jit/ExecutableAllocator.cpp
  Source/WTF/wtf/PlatformUse.h
Labels: unsafe-merge-queue, JavaScriptCore

#23661 [GStreamer] imported/w3c/web-platform-tests/webaudio/the-audio-api/the-audioworklet-interface/audioworkletprocessor-promises.https.html is flaky crash
  Source/WebCore/platform/audio/gstreamer/AudioDestinationGStreamer.cpp
  Source/WebCore/platform/audio/gstreamer/WebKitWebAudioSourceGStreamer.cpp
Labels: merge-queue, Platform

#23681 [Gardening]: REGRESSION( 272208@main?): [ iOS 17 Debug ] http/wpt/webcodecs/h264-encoder-default-config.https.any.html (layout test) is a constant crash
  LayoutTests/platform/ios-wk2/TestExpectations
Labels: unsafe-merge-queue

#23677 Add Georges Basile Stavracas Neto to contributors.json
  metadata/contributors.json
Labels: unsafe-merge-queue

#23655 [threaded-animation-resolution] refactor code indicating whether two filter lists can be interpolated to be accessible outside of CSSPropertyAnimation
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/platform/graphics/filters/FilterOperations.cpp
  Source/WebCore/platform/graphics/filters/FilterOperations.h
Labels: unsafe-merge-queue, Animations

#23680 [WebGPU] wgpuSwapChainPresent should check for nullptr
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUPresentationContextImpl.cpp
Labels: merge-queue, WebGPU

#23632 FindStringMatches should use a completion handler
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebPage/FindController.cpp
  Source/WebKit/WebProcess/WebPage/FindController.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
Labels: unsafe-merge-queue, WebKit Process Model

#23639 updateRelativeLengthsInformation exhibits O(n^2) in SVGElement::insertedIntoAncestor
  Source/WebCore/svg/SVGElement.cpp
  Source/WebCore/svg/SVGElement.h
Labels: unsafe-merge-queue, SVG

#23679 browser.scripting.executeScript: Inject script in 'MAIN' world when specified.
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIScriptingCocoa.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIScripting.mm
Labels: unsafe-merge-queue, WebKit Extensions

#23649 Make the backing sharing logging more readable
  Source/WebCore/rendering/RenderLayerCompositor.cpp
  Source/WebCore/rendering/RenderLayerCompositor.h
Labels: merge-queue, Compositing

#23685 Unreviewed WatchOS build fix
  Source/WebCore/platform/graphics/WidthIterator.cpp
Labels: unsafe-merge-queue, Text

#23675 Fire onChanged events for Web Extension Storage API.
  Source/WebKit/Platform/cocoa/CocoaHelpers.h
  Source/WebKit/Platform/cocoa/CocoaHelpers.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIStorageCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIStorageCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIStorage.h
  Source/WebKit/WebProcess/Extensions/Cocoa/WebExtensionContextProxyCocoa.mm
  Source/WebKit/WebProcess/Extensions/WebExtensionContextProxy.h
  Source/WebKit/WebProcess/Extensions/WebExtensionContextProxy.messages.in
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIStorage.mm
Labels: unsafe-merge-queue, WebKit Extensions

#23559 Port ResourceError to the new IPC serialization format
  Source/WebCore/platform/network/cf/ResourceError.h
  Source/WebCore/platform/network/curl/ResourceError.h
  Source/WebCore/platform/network/curl/ResourceErrorCurl.cpp
  Source/WebCore/platform/network/mac/ResourceErrorMac.mm
  Source/WebCore/platform/network/soup/ResourceError.h
  Source/WebCore/platform/network/soup/ResourceErrorSoup.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/Shared/curl/WebCoreArgumentCodersCurl.cpp
  Source/WebKit/Shared/mac/WebCoreArgumentCodersMac.mm
  Source/WebKit/Shared/soup/WebCoreArgumentCodersSoup.cpp
Labels: merge-queue, WebCore Misc.

#23605 [LBSE] Fix pattern related assertion failure in debug builds
  LayoutTests/platform/glib/svg/custom/recursive-pattern-expected.png
  LayoutTests/platform/glib/svg/custom/recursive-pattern-expected.txt
  LayoutTests/platform/ios/svg/custom/recursive-pattern-expected.txt
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/custom/recursive-pattern-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/custom/recursive-pattern-expected.txt
  LayoutTests/platform/mac-sonoma-wk2-pixel/svg/custom/recursive-pattern-expected.png
  LayoutTests/platform/mac/svg/custom/recursive-pattern-expected.png
  LayoutTests/platform/mac/svg/custom/recursive-pattern-expected.txt
  LayoutTests/svg/custom/recursive-pattern.svg
  Source/WebCore/rendering/svg/RenderSVGResourcePattern.cpp
Labels: merge-queue, SVG

#23460 [Wasm-GC] Add test for bug 254414
  JSTests/wasm/gc/bug254414.js
Labels: merge-queue, JavaScriptCore

#23648 [iOS 17.4] Crash in -[WKScrollingNodeScrollViewDelegate actingParentScrollViewForScrollView:]
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeScrollingNodeDelegateIOS.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeScrollingNodeDelegateIOS.mm
Labels: merge-queue, Scrolling

#23620 [JSC] Redesign DirectCall
  Source/JavaScriptCore/bytecode/CallLinkInfo.cpp
  Source/JavaScriptCore/bytecode/CallLinkInfo.h
  Source/JavaScriptCore/bytecode/CallLinkInfoBase.cpp
  Source/JavaScriptCore/bytecode/CallLinkInfoBase.h
  Source/JavaScriptCore/bytecode/CallLinkStatus.cpp
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/bytecode/CodeBlock.h
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.cpp
  Source/JavaScriptCore/bytecode/Repatch.cpp
  Source/JavaScriptCore/bytecode/Repatch.h
  Source/JavaScriptCore/bytecode/RepatchInlines.h
  Source/JavaScriptCore/dfg/DFGCommonData.h
  Source/JavaScriptCore/dfg/DFGJITCode.h
  Source/JavaScriptCore/dfg/DFGJITCompiler.cpp
  Source/JavaScriptCore/dfg/DFGJITCompiler.h
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/dfg/DFGOperations.h
  Source/JavaScriptCore/dfg/DFGPlan.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT32_64.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/inspector/agents/InspectorDebuggerAgent.cpp
  Source/JavaScriptCore/jit/JITCall.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter32_64.asm
  Source/JavaScriptCore/llint/LowLevelInterpreter64.asm
  Source/JavaScriptCore/runtime/VM.h
  Source/JavaScriptCore/wasm/js/WasmToJS.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#23628 Use a mock git for most of SummarizedResultsTest
  Tools/Scripts/webkitpy/layout_tests/models/test_run_results_unittest.py
Labels: unsafe-merge-queue, Tools / Tests

#23691 Ghostery throws exception trying to use storageArea.set().
  Source/WebKit/Platform/cocoa/CocoaHelpers.mm
  Source/WebKit/Shared/Extensions/WebExtensionUtilities.h
  Source/WebKit/Shared/Extensions/WebExtensionUtilities.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIStorageAreaCocoa.mm
  Source/WebKit/WebProcess/Extensions/Bindings/Cocoa/JSWebExtensionWrapperCocoa.mm
  Source/WebKit/WebProcess/Extensions/Bindings/JSWebExtensionWrapper.h
  Source/WebKit/WebProcess/Extensions/Bindings/Scripts/CodeGeneratorExtensions.pm
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPIStorageArea.idl
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIStorage.mm
Labels: unsafe-merge-queue, WebKit Extensions

#23678 Adopt API for layer hosting
  Source/WebKit/GPUProcess/media/cocoa/RemoteMediaPlayerProxyCocoa.mm
  Source/WebKit/Platform/cocoa/LayerHostingContext.h
  Source/WebKit/Platform/cocoa/LayerHostingContext.mm
  Source/WebKit/Platform/spi/Cocoa/ExtensionKitSPI.h
  Source/WebKit/UIProcess/Cocoa/VideoPresentationManagerProxy.mm
Labels: unsafe-merge-queue, WebKit Process Model

#23697 Add telemetry to notifyd message filter
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
Labels: unsafe-merge-queue, WebKit Misc.

#23702 [Gardening][iOS 17] imported/w3c/web-platform-tests/html/dom/elements/global-attributes/the-anchor-attribute-003-crash.tentative.html is a constant crash
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, DOM

#23526 Convert IPC::Signal to the new IPC serialization format
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Platform/IPC/IPCEvent.h
  Source/WebKit/Platform/IPC/IPCEvent.serialization.in
  Source/WebKit/Platform/IPC/darwin/IPCEventDarwin.cpp
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/IPC/EventTests.cpp
Labels: unsafe-merge-queue, WebKit2

#23683 [Gardening]: [ iOS 17 Debug ] imported/w3c/web-platform-tests/html/dom/elements/global-attributes/the-anchor-attribute-003-crash.tentative.html is a constant crash
  LayoutTests/platform/ios-wk2/TestExpectations
Labels: unsafe-merge-queue

#22169 Change wasm calling convention; set callee from caller.
  JSTests/wasm/function-references/call_ref.js
  JSTests/wasm/stress/cc-int-to-int-cross-module.js
  JSTests/wasm/stress/cc-int-to-int-jit-to-llint.js
  JSTests/wasm/stress/cc-int-to-int.js
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/interpreter/CalleeBits.h
  Source/JavaScriptCore/jit/CCallHelpers.h
  Source/JavaScriptCore/llint/WebAssembly.asm
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
  Source/JavaScriptCore/wasm/WasmBBQJIT32_64.cpp
  Source/JavaScriptCore/wasm/WasmBBQJIT64.cpp
  Source/JavaScriptCore/wasm/WasmBBQPlan.cpp
  Source/JavaScriptCore/wasm/WasmBinding.cpp
  Source/JavaScriptCore/wasm/WasmCalleeGroup.cpp
  Source/JavaScriptCore/wasm/WasmCalleeGroup.h
  Source/JavaScriptCore/wasm/WasmCallsiteCollection.cpp
  Source/JavaScriptCore/wasm/WasmFormat.h
  Source/JavaScriptCore/wasm/WasmIPIntPlan.cpp
  Source/JavaScriptCore/wasm/WasmInstance.cpp
  Source/JavaScriptCore/wasm/WasmInstance.h
  Source/JavaScriptCore/wasm/WasmLLIntPlan.cpp
  Source/JavaScriptCore/wasm/WasmOMGPlan.cpp
  Source/JavaScriptCore/wasm/WasmOSREntryPlan.cpp
  Source/JavaScriptCore/wasm/WasmSlowPaths.cpp
  Source/JavaScriptCore/wasm/js/JSToWasm.cpp
  Source/JavaScriptCore/wasm/js/JSToWasm.h
  Source/JavaScriptCore/wasm/js/WebAssemblyFunction.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyFunction.h
  Source/JavaScriptCore/wasm/js/WebAssemblyFunctionBase.h
  Source/JavaScriptCore/wasm/js/WebAssemblyModuleRecord.cpp
Labels: JavaScriptCore

#23704 [Gardening]: [GPU Process] Test failures only affecting arm64 GPU Process bot
  LayoutTests/platform/ios-simulator-wk2/TestExpectations
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, WebKit Process Model

#23701 [JSC] Fix programming style for bitwise and in setExceptionPorts
  Source/WTF/wtf/threads/Signals.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#23706 [Gardening]: [iOS] 18 webgl/1.0.3/conformance/textures/* tests are consistently/flakily timing out.
  LayoutTests/platform/ios-wk2/TestExpectations
Labels: unsafe-merge-queue, WebGL

#23709 [Gardening]: [iOS] Assertion failure causing fast/forms/ios/file-upload-panel-capture.html to consistently crash.
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, Forms

#23682 Move more Local/RemoteDOMWindow functions to DOMWindow
  Source/WebCore/page/DOMWindow.cpp
  Source/WebCore/page/DOMWindow.h
  Source/WebCore/page/LocalDOMWindow.cpp
  Source/WebCore/page/LocalDOMWindow.h
  Source/WebCore/page/RemoteDOMWindow.cpp
  Source/WebCore/page/RemoteDOMWindow.h
Labels: WebKit Process Model

#23710 [Gardening]: REGRESSION (269833@main): [ macOS iOS17 Debug ] imported/w3c/web-platform-tests/requestidlecallback/callback-multiple-calls.html is flaky.
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#23690 [JSC] Tweak parseMemberExpression() to get rid of `baseIsNewTarget`
  Source/JavaScriptCore/parser/Parser.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#23715 Build fix for watchOS and tvOS.
  Source/WebKit/Platform/cocoa/CocoaHelpers.mm
Labels: unsafe-merge-queue

#23716 REGRESSION(273951@main): Unreviewed build fix for Windows port
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.h
Labels: unsafe-merge-queue

#23717 Unreviewed, fix build warning about CoreIPCSecCertificate.serialization.in
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: unsafe-merge-queue

#23723 Fix the build after 273920@main
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginBase.mm
Labels: unsafe-merge-queue

#23688 [WebGPU] decouple auto bind group layout group indices from vector size
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
  Source/WebGPU/WGSL/WGSL.h
  Source/WebGPU/WebGPU/RenderPipeline.mm
Labels: merge-queue, WebGPU

#23694 SVGTitleElement should only notify Document when it's a child of document element
  Source/WebCore/svg/SVGTitleElement.cpp
Labels: unsafe-merge-queue, SVG

#23729 Build fix for watchOS and tvOS.
  Source/WebKit/Platform/cocoa/CocoaHelpers.mm
Labels: unsafe-merge-queue, WebKit Extensions

#19221 [MSE][GStreamer] Pause after seek is not working
  LayoutTests/media/media-controller-play-then-pause-expected.txt
  LayoutTests/media/media-controller-play-then-pause.html
  LayoutTests/media/media-source/media-controller-media-source-play-then-pause-expected.txt
  LayoutTests/media/media-source/media-controller-media-source-play-then-pause.html
  LayoutTests/media/media-source/media-source-seek-and-play-expected.txt
  LayoutTests/media/media-source/media-source-seek-and-play.html
  LayoutTests/media/media-source/media-source-video-seek-pause-expected.txt
  LayoutTests/media/media-source/media-source-video-seek-pause.html
  LayoutTests/media/video-seek-pause-expected.txt
  LayoutTests/media/video-seek-pause.html
  LayoutTests/media/video-test.js
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.h
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.h
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
Labels: Media

#3824 Remove the support for JPEG2000
  LayoutTests/fast/images/image-formats-support-expected.txt
  LayoutTests/fast/images/image-formats-support.html
  LayoutTests/fast/images/resources/100x100-red-jp2-renamed.png
  LayoutTests/fast/images/resources/100x100-red.jp2
  Source/WebCore/platform/ImageDecoders.cmake
  Source/WebCore/platform/MIMETypeRegistry.cpp
  Source/WebCore/platform/graphics/cg/UTIRegistry.cpp
  Source/WebCore/platform/image-decoders/ScalableImageDecoder.cpp
  Source/WebCore/platform/image-decoders/jpeg2000/JPEG2000ImageDecoder.cpp
  Source/WebCore/platform/image-decoders/jpeg2000/JPEG2000ImageDecoder.h
  Source/cmake/OptionsGTK.cmake
  Source/cmake/OptionsWPE.cmake
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKitCocoa/100x100-red.jp2
  Tools/TestWebKitAPI/Tests/WebKitCocoa/AdditionalSupportedImageTypes.mm
  Tools/TestWebKitAPI/Tests/mac/AdditionalSupportedImageTypes.html
  Tools/TestWebKitAPI/Tests/mac/AdditionalSupportedImageTypes.mm
  Tools/gtk/jhbuild.modules
  Tools/wpe/jhbuild.modules
Labels: Images

#23718 [WebGPU] ThreeJS video samples fail MSL compilation
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
Labels: merge-queue, WebGPU

#23736 Unreviewed. Update OptionsGTK.cmake and NEWS for 2.43.4 release
  Source/WebKit/gtk/NEWS
  Source/cmake/OptionsGTK.cmake
Labels: unsafe-merge-queue

#23665 Generate Serialization for ObjectIdentifierReadReference
  Source/WebKit/Platform/IPC/ObjectIdentifierReference.serialization.in
  Source/WebKit/Platform/IPC/ObjectIdentifierReferenceTracker.h
Labels: merge-queue, WebKit Process Model

#23734 [LBSE] Fix pattern related dynamic-updates tests
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/TestExpectations
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/custom/pattern-size-bigger-than-target-size-expected.png
  Source/WebCore/rendering/svg/RenderSVGResourcePattern.cpp
  Source/WebCore/svg/SVGPatternElement.cpp
Labels: merge-queue, SVG

#23714 TestWebKitAPI.WKWebExtensionAPIScripting.World has a race condition
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIScripting.mm
Labels: merge-queue, WebKit Extensions

#23656 Deadlock under ~PluginView() with PDFPlugin.
  LayoutTests/compositing/plugins/pdf/pdf-plugin-hang-during-destruction-expected.txt
  LayoutTests/compositing/plugins/pdf/pdf-plugin-hang-during-destruction.html
  Source/WebKit/WebProcess/Plugins/PDF/PDFIncrementalLoader.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFIncrementalLoader.mm
Labels: unsafe-merge-queue

#23693 Port IPC::Connection::Handle to the new IPC serialization format
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Platform/IPC/Connection.cpp
  Source/WebKit/Platform/IPC/Connection.h
  Source/WebKit/Platform/IPC/ConnectionHandle.h
  Source/WebKit/Platform/IPC/ConnectionHandle.serialization.in
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: unsafe-merge-queue, WebKit2

#23737 [LBSE] Gardening - regenerate a few outdated baselines
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/TestExpectations
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/dynamic-updates/SVGMaskElement-dom-height-attr-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/dynamic-updates/SVGMaskElement-dom-maskContentUnits-attr-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/dynamic-updates/SVGMaskElement-dom-width-attr-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/dynamic-updates/SVGMaskElement-dom-x-attr-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/dynamic-updates/SVGMaskElement-dom-y-attr-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/dynamic-updates/SVGMaskElement-svgdom-height-prop-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/dynamic-updates/SVGMaskElement-svgdom-maskContentUnits-prop-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/dynamic-updates/SVGMaskElement-svgdom-width-prop-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/dynamic-updates/SVGMaskElement-svgdom-x-prop-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/dynamic-updates/SVGMaskElement-svgdom-y-prop-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/dynamic-updates/SVGTextElement-dom-lengthAdjust-attr-expected.png
  LayoutTests/platform/mac-sonoma-wk2-lbse-text/svg/dynamic-updates/SVGTextElement-svgdom-lengthAdjust-prop-expected.png
Labels: unsafe-merge-queue, SVG

#23609 [WGSL] Compiler passes have incorrect scoping
  Source/WebGPU/WGSL/AST/ASTScopedVisitor.h
  Source/WebGPU/WGSL/AST/ASTScopedVisitorInlines.h
  Source/WebGPU/WGSL/AST/ASTVisitor.cpp
  Source/WebGPU/WGSL/GlobalSorting.cpp
  Source/WebGPU/WGSL/MangleNames.cpp
  Source/WebGPU/WGSL/PointerRewriter.cpp
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
Labels: merge-queue, WebGPU

#23749 Remove unused m_isDoingServiceWorkerClientNavigation variable
  Source/WebKit/UIProcess/WebFrameProxy.h
Labels: unsafe-merge-queue, Service Workers

#23713 Port ControlPart to the new IPC serialization format
  Source/WebCore/platform/graphics/controls/ButtonPart.h
  Source/WebCore/platform/graphics/controls/ColorWellPart.h
  Source/WebCore/platform/graphics/controls/ImageControlsButtonPart.h
  Source/WebCore/platform/graphics/controls/InnerSpinButtonPart.h
  Source/WebCore/platform/graphics/controls/MenuListButtonPart.h
  Source/WebCore/platform/graphics/controls/MenuListPart.h
  Source/WebCore/platform/graphics/controls/SearchFieldCancelButtonPart.h
  Source/WebCore/platform/graphics/controls/SearchFieldPart.h
  Source/WebCore/platform/graphics/controls/SearchFieldResultsPart.h
  Source/WebCore/platform/graphics/controls/SliderThumbPart.h
  Source/WebCore/platform/graphics/controls/TextAreaPart.h
  Source/WebCore/platform/graphics/controls/TextFieldPart.h
  Source/WebCore/platform/graphics/controls/ToggleButtonPart.h
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Labels: merge-queue, WebKit2

#23724 REGRESSION(268028@main): Graphics artifacts when scrolling Heroku app
  LayoutTests/compositing/shared-backing/overflow-scroll/composite-via-negative-z-descendants-interrupts-sequence-expected.html
  LayoutTests/compositing/shared-backing/overflow-scroll/composite-via-negative-z-descendants-interrupts-sequence.html
  LayoutTests/compositing/shared-backing/overflow-scroll/zero-sized-fixed-interrupts-sharing-sequence-expected.txt
  LayoutTests/compositing/shared-backing/overflow-scroll/zero-sized-fixed-interrupts-sharing-sequence.html
  LayoutTests/platform/ios-wk2/compositing/shared-backing/overflow-scroll/zero-sized-fixed-interrupts-sharing-sequence-expected.txt
  Source/WebCore/rendering/RenderLayerCompositor.cpp
Labels: unsafe-merge-queue, Layout and Rendering

#23744 [WGSL] Resources without group or binding attributes should be rejected
  Source/WebGPU/WGSL/AttributeValidator.cpp
Labels: merge-queue, WebGPU

#23748 [WebGPU] Fix flaky crashing tests
  Source/WebGPU/WebGPU/PipelineLayout.h
  Source/WebGPU/WebGPU/PipelineLayout.mm
  Source/WebGPU/WebGPU/Queue.h
  Source/WebGPU/WebGPU/Queue.mm
  Source/WebGPU/WebGPU/RenderBundleEncoder.mm
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
  Source/WebGPU/WebGPU/RenderPipeline.h
  Source/WebGPU/WebGPU/RenderPipeline.mm
Labels: unsafe-merge-queue, WebGPU

#23743 Make LaunchServicesDatabaseManager::singleton() thread safe
  Source/WebKit/WebProcess/cocoa/LaunchServicesDatabaseManager.mm
Labels: unsafe-merge-queue, WebKit2

#23755 [UnifiedPDF] PDFPluginBase should notify the web page of selection changes
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginBase.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginBase.mm
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.h
Labels: merge-queue, PDF

#23727 Generate WKSecureCoding for PKPaymentMerchantSession
  Source/WebCore/PAL/pal/spi/cocoa/PassKitSPI.h
  Source/WebKit/Shared/Cocoa/ArgumentCodersCocoa.h
  Source/WebKit/Shared/Cocoa/ArgumentCodersCocoa.mm
  Source/WebKit/Shared/Cocoa/CoreIPCNSCFObject.h
  Source/WebKit/Shared/Cocoa/CoreIPCNSCFObject.mm
  Source/WebKit/Shared/Cocoa/CoreIPCPassKit.serialization.in
  Source/WebKit/Shared/Cocoa/WKKeyedCoder.mm
  Tools/TestWebKitAPI/Tests/IPC/IPCSerialization.mm
Labels: merge-queue, WebKit Misc.

#23767 [build.webkit.org] Replace shell.Test with shell.TestNewStyle (Follow-up)
  Tools/CISupport/build-webkit-org/steps.py
Labels: unsafe-merge-queue, Tools / Tests

#23712 Non-unified build fixes, early February 2024 edition
  Source/WebCore/dom/EventTargetConcrete.cpp
  Source/WebCore/fileapi/FileReader.cpp
  Source/WebCore/html/VoidCallback.h
  Source/WebCore/html/parser/HTMLResourcePreloader.cpp
  Source/WebCore/html/track/VideoTrackList.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineContentCache.h
  Source/WebCore/loader/LinkLoader.cpp
  Source/WebCore/loader/MediaResourceLoader.cpp
  Source/WebCore/loader/PingLoader.cpp
  Source/WebCore/loader/TextTrackLoader.cpp
  Source/WebCore/loader/cache/CachedResourceLoader.cpp
  Source/WebCore/rendering/svg/RenderSVGPath.cpp
  Source/WebCore/rendering/svg/RenderSVGResourcePattern.cpp
  Source/WebCore/style/StylePendingResources.cpp
  Source/WebCore/style/StyleScopeRuleSets.cpp
  Source/WebCore/style/StyleSheetContentsCache.cpp
  Source/WebCore/style/StyleSheetContentsCache.h
  Source/WebCore/svg/SVGTitleElement.cpp
  Source/WebCore/xml/XMLHttpRequestProgressEventThrottle.cpp
  Source/WebCore/xml/XMLHttpRequestUpload.cpp
  Source/WebCore/xml/XSLStyleSheetLibxslt.cpp
  Source/WebCore/xml/XSLTProcessorLibxslt.cpp
  Source/WebKit/GPUProcess/GPUProcess.cpp
  Source/WebKit/GPUProcess/graphics/RemoteImageBuffer.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaResourceLoader.h
  Source/WebKit/WebProcess/Cache/WebCacheStorageConnection.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteNativeImageBackendProxy.h
  Source/WebKit/WebProcess/GPU/media/RemoteMediaResourceProxy.cpp
  Source/WebKit/WebProcess/GPU/media/RemoteVideoFrameProxy.cpp
Labels: merge-queue, Tools / Tests

#23689 [JSC] Throw RangeError if Set methods are called on an object with negative "size" property
  JSTests/stress/set-prototype-difference.js
  JSTests/stress/set-prototype-intersection.js
  JSTests/stress/set-prototype-isDisjointfrom.js
  JSTests/stress/set-prototype-isSubsetOf.js
  JSTests/stress/set-prototype-isSupersetOf.js
  JSTests/stress/set-prototype-symmetricDifference.js
  JSTests/stress/set-prototype-union.js
  Source/JavaScriptCore/builtins/SetPrototype.js
Labels: unsafe-merge-queue, JavaScriptCore

#23773 REGRESSION(273934@main): [ Debug ] Multiple layout tests crashing.
  Source/WebCore/page/LocalDOMWindow.cpp
Labels: unsafe-merge-queue, CSS

#23596 REGRESSION (234750@main): [GTK][WPE] preferred language not passed to NetworkProcess if set in WebContext before creating WebView
  Source/WebKit/UIProcess/soup/WebProcessPoolSoup.cpp
Labels: merge-queue, WebKitGTK

#23695 Generate Serialization for ProcessQualified
  Source/WebCore/platform/ProcessQualified.h
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Shared/ProcessQualified.serialization.in
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: unsafe-merge-queue, WebKit Process Model

#23745 Null check scriptExecutionContext before using it in DOMCacheStorage.cpp
  Source/WebCore/Modules/cache/DOMCacheStorage.cpp
  Source/WebCore/Modules/cache/DOMCacheStorage.h
Labels: merge-queue, WebCore Misc.

#23777 [iOS 17.4] Undo/Redo edit action names are unlocalized in Mail and Safari
  Source/WebKit/Shared/AuxiliaryProcessExtensions/WebContentExtension-Info.plist
Labels: unsafe-merge-queue, Platform

#23746 Fix SharedMemoryUnix link with librt
  Source/WebCore/CMakeLists.txt
  Source/WebKit/CMakeLists.txt
Labels: merge-queue, WebCore Misc.

#23345 [iOS] Update SPI headers for iOS 17.4
  Source/WTF/wtf/PlatformHave.h
  Source/WTF/wtf/spi/cocoa/IOSurfaceSPI.h
  Source/WTF/wtf/spi/darwin/XPCSPI.h
  Source/WebCore/PAL/pal/spi/cocoa/AVFoundationSPI.h
  Source/WebCore/PAL/pal/spi/ios/BrowserEngineKitSPI.h
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Tools/TestRunnerShared/spi/UIKitSPIForTesting.h
Labels: merge-queue, Tools / Tests

#23671 Generate serialization for SecTrustRef
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Shared/cf/ArgumentCodersCF.cpp
  Source/WebKit/Shared/cf/ArgumentCodersCF.h
  Source/WebKit/Shared/cf/CFTypes.serialization.in
  Source/WebKit/Shared/cf/CoreIPCSecTrust.h
  Source/WebKit/Shared/cf/CoreIPCSecTrust.serialization.in
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/IPC/IPCSerialization.mm
Labels: unsafe-merge-queue, WebKit Process Model

#23778 New Tests(273949@main): [ Release ] API tests TestWebKitAPI.WKWebExtensionAPIStorage.* are constantly timing out or failing.
  Source/WebKit/Shared/Extensions/WebExtensionUtilities.mm
Labels: unsafe-merge-queue, WebKit Extensions

#23758 Add a Web Extension test for activeTab and action menus.
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIMenus.mm
Labels: unsafe-merge-queue, WebKit Extensions

#23780 Build fix for "[iOS] Update SPI headers for iOS 17.4"
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/spi/cocoa/AVFoundationSPI.h
Labels: unsafe-merge-queue, Tools / Tests

#23771 [GTK][WPE] Detect gamepad button 16
  Source/WebCore/platform/gamepad/manette/ManetteGamepad.cpp
  Source/WebCore/platform/gamepad/manette/ManetteGamepad.h
Labels: merge-queue

#23750 [WebAuthn] Use AS APIs passing clientData for WebAuthn
  Source/WebCore/Modules/webauthn/AuthenticatorCoordinator.cpp
  Source/WebCore/Modules/webauthn/AuthenticatorCoordinatorClient.h
  Source/WebCore/Modules/webauthn/AuthenticatorResponse.cpp
  Source/WebCore/Modules/webauthn/AuthenticatorResponseData.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/AuthenticationServicesForwardDeclarations.h
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/AuthenticationServicesSoftLink.h
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/WebAuthenticatorCoordinatorProxy.mm
  Source/WebKit/UIProcess/WebAuthentication/WebAuthenticatorCoordinatorProxy.cpp
  Source/WebKit/UIProcess/WebAuthentication/WebAuthenticatorCoordinatorProxy.h
  Source/WebKit/UIProcess/WebAuthentication/WebAuthenticatorCoordinatorProxy.messages.in
  Source/WebKit/WebProcess/WebAuthentication/WebAuthenticatorCoordinator.cpp
  Source/WebKit/WebProcess/WebAuthentication/WebAuthenticatorCoordinator.h
Labels: WebKit Misc.

#23768 [CMake] Centralize ShareableBitmapCairo.cpp build
  Source/WebCore/PlatformPlayStation.cmake
  Source/WebCore/PlatformWin.cmake
  Source/WebCore/SourcesGTK.txt
  Source/WebCore/SourcesWPE.txt
  Source/WebCore/platform/SourcesCairo.txt
Labels: merge-queue, CMake

#23757 [Site Isolation][iOS] Do not update WKContentView bounds when transaction comes from subframe process
  Source/WebKit/UIProcess/ios/WKContentView.mm
Labels: merge-queue, New Bugs

#23763 [Site Isolation][iOS] Do not recreate hosting layer when hosting identifier has no change
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.cpp
  Source/WebCore/platform/graphics/ca/PlatformCALayer.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemoteHost.h
Labels: merge-queue, New Bugs

#23761 [Site Isolation][iOS] Add hosted layer tree node as subview instead of sublayer
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeHost.mm
Labels: merge-queue, New Bugs

#23788 WebExtensionContext::handleContentRuleListNotificationForTab activeTab permission check is wrong
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
Labels: merge-queue, WebKit Extensions

#23766 [webkitdirs] Ambiguous destination when building for macOS internally
  Tools/Scripts/webkitdirs.pm
Labels: Tools / Tests

#23776 [UnifiedPDF] Track text selections on mouse drag
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: merge-queue, PDF

#23754 [WTF] Adopt adaptive string searching
  JSTests/stress/string-index-of-pathological.js
  JSTests/stress/v8-string-indexof-1.js
  JSTests/stress/v8-string-indexof-2.js
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/runtime/StringPrototype.cpp
  Source/JavaScriptCore/runtime/StringPrototypeInlines.h
  Source/JavaScriptCore/runtime/VM.cpp
  Source/JavaScriptCore/runtime/VM.h
  Source/WTF/WTF.xcodeproj/project.pbxproj
  Source/WTF/wtf/CMakeLists.txt
  Source/WTF/wtf/text/ASCIIFastPath.h
  Source/WTF/wtf/text/AdaptiveStringSearcher.h
  Source/WTF/wtf/text/StringView.cpp
  Source/WTF/wtf/text/StringView.h
Labels: unsafe-merge-queue

#23801 Unreviewed, fix the internal iOS build after 274016@main
  Source/WebCore/PAL/pal/spi/ios/BrowserEngineKitSPI.h
  Tools/TestRunnerShared/spi/UIKitSPIForTesting.h
Labels: unsafe-merge-queue

#23791 [iOS 17.4] Blink crashes on launch due to an unrecognized selector on WKExtendedTextInputTraits
  Source/WebKit/UIProcess/ios/WKExtendedTextInputTraits.h
  Source/WebKit/UIProcess/ios/WKExtendedTextInputTraits.mm
  Tools/TestWebKitAPI/Tests/ios/KeyboardInputTestsIOS.mm
Labels: merge-queue, Platform

#23786 Greek uppercase transforms fail for some characters
  LayoutTests/TestExpectations
  Source/WTF/wtf/text/StringImpl.cpp
Labels: merge-queue, CSS

#23653 REGRESSION(ExtensionKit): Video stops playing on mlb.com when entering PiP
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/Cocoa/VideoPresentationManagerProxy.mm
  Source/WebKit/UIProcess/PageClient.h
  Source/WebKit/UIProcess/ios/PageClientImplIOS.h
  Source/WebKit/UIProcess/ios/PageClientImplIOS.mm
  Source/WebKit/UIProcess/ios/WKContentView.h
  Source/WebKit/UIProcess/ios/WKContentView.mm
  Source/WebKit/UIProcess/ios/WKVisibilityPropagationView.h
  Source/WebKit/UIProcess/ios/WKVisibilityPropagationView.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: Media

#23626 [UnifiedPDF] Text annotation HTML inputs do not get repositioned or scaled when zooming
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginAnnotation.mm
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginBase.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: merge-queue, PDF

#23783 [UnifiedPDF] Add support for scaling to "Actual Size"
  Source/WebCore/PAL/pal/spi/cg/CoreGraphicsSPI.h
  Source/WebCore/platform/PlatformScreen.h
  Source/WebCore/platform/ScreenProperties.h
  Source/WebCore/platform/mac/PlatformScreenMac.mm
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: PDF

#23726 Ruby 3.2 removed File.exists?
  Tools/Scripts/check-for-inappropriate-macros-in-external-headers
  Tools/Scripts/run-jsc-stress-tests
  Tools/Scripts/run-testmem
  Tools/Scripts/webkitruby/jsc-stress-test-writer-playstation.rb
  Tools/Scripts/webkitruby/jsc-stress-test-writer-ruby.rb
Labels: Tools / Tests

#23747 [WPE] Remove unused WPE platform variables
  Source/WebKit/UIProcess/API/wpe/WPEWebView.h
  Tools/WebKitTestRunner/libwpe/EventSenderProxyClientLibWPE.h
Labels: merge-queue, WPE WebKit

#23707 _WKHitTestResult should expose an imageSuggestedFilename property
  Source/WebCore/rendering/HitTestResult.h
  Source/WebKit/Shared/API/Cocoa/_WKHitTestResult.h
  Source/WebKit/Shared/API/Cocoa/_WKHitTestResult.mm
  Source/WebKit/Shared/WebHitTestResultData.cpp
  Source/WebKit/Shared/WebHitTestResultData.h
  Source/WebKit/Shared/WebHitTestResultData.serialization.in
  Source/WebKit/UIProcess/API/APIHitTestResult.h
  Tools/TestWebKitAPI/Tests/mac/ContextMenuTests.mm
Labels: merge-queue, WebKit API

#23342 Generate serialization for SecKeychainItemRef
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Shared/cf/ArgumentCodersCF.cpp
  Source/WebKit/Shared/cf/ArgumentCodersCF.h
  Source/WebKit/Shared/cf/CFTypes.serialization.in
  Source/WebKit/Shared/cf/CoreIPCSecKeychainItem.h
  Source/WebKit/Shared/cf/CoreIPCSecKeychainItem.serialization.in
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/IPC/IPCSerialization.mm
Labels: WebKit Process Model

#23774 Port Image to the new IPC serialization format
  Source/WebCore/platform/graphics/Image.cpp
  Source/WebCore/platform/graphics/Image.h
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Labels: unsafe-merge-queue, WebCore Misc.

#23789 Port SharedBuffer to the new IPC serialization format
  Source/WebCore/platform/SharedBuffer.cpp
  Source/WebCore/platform/SharedBuffer.h
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Labels: unsafe-merge-queue, WebKit2

#23625 RemoteImageBufferSetProxy::didPrepareForDisplay can be blocked by other main thread task.
  Source/WebKit/Platform/IPC/StreamClientConnection.cpp
  Source/WebKit/Platform/IPC/StreamClientConnection.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerWithRemoteRenderingBackingStore.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerWithRemoteRenderingBackingStore.mm
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferSetProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferSetProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferSetProxy.messages.in
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.h
Labels: Layout and Rendering

#23802 Add some tests for CFArrayRef serialization
  Source/WebKit/Shared/cf/ArgumentCodersCF.cpp
  Tools/TestWebKitAPI/Tests/IPC/IPCSerialization.mm
Labels: unsafe-merge-queue, WebKit Misc.

#23806 REGRESSION (267163@main): Name for ::slotted pseudo element inside container query resolved against wrong scope
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/container-name-tree-scoped-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-contain/container-queries/container-name-tree-scoped.html
  Source/WebCore/style/ContainerQueryEvaluator.cpp
Labels: merge-queue, CSS

#23796 Port ScriptBuffer to the new IPC serialization format
  Source/WebCore/workers/ScriptBuffer.cpp
  Source/WebCore/workers/ScriptBuffer.h
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Labels: unsafe-merge-queue, WebCore Misc.

#23808 [UnifiedPDF] Drive-by style fixes under WebKit/WebProcess/Plugins/PDF
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginBase.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: merge-queue, PDF
