Repository WebKit/WebKit, pull requests merged in 2024-01, with the labels that each got.

#22255 Fix wide-attachment-image-controls-basic test
  LayoutTests/fast/attachment/mac/wide-attachment-image-controls-basic-expected.txt
  LayoutTests/fast/attachment/mac/wide-attachment-image-controls-basic.html
  LayoutTests/platform/mac-monterey/fast/attachment/mac/wide-attachment-image-controls-basic-expected.txt
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: merge-queue, New Bugs

#22276 Make pseudo attribute values of DateTimeFieldElements proper ShadowPseudoIds
  Source/WebCore/html/shadow/DateTimeFieldElement.cpp
  Source/WebCore/html/shadow/DateTimeFieldElement.h
  Source/WebCore/html/shadow/DateTimeFieldElements.cpp
  Source/WebCore/html/shadow/DateTimeNumericFieldElement.cpp
  Source/WebCore/html/shadow/DateTimeNumericFieldElement.h
  Source/WebCore/html/shadow/DateTimeSymbolicFieldElement.cpp
  Source/WebCore/html/shadow/DateTimeSymbolicFieldElement.h
  Source/WebCore/html/shadow/ShadowPseudoIds.cpp
  Source/WebCore/html/shadow/ShadowPseudoIds.h
Labels: merge-queue, WebCore Misc.

#22282 [GStreamer] Leak fixes for GL display, registries and video encoder
  Source/WebCore/platform/graphics/PlatformDisplay.h
  Source/WebCore/platform/graphics/gstreamer/GLVideoSinkGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.cpp
  Source/WebCore/platform/graphics/gstreamer/GStreamerRegistryScanner.cpp
  Source/WebCore/platform/graphics/gstreamer/GStreamerRegistryScanner.h
  Source/WebCore/platform/graphics/gstreamer/PlatformDisplayGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/GStreamerRegistryScannerMSE.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/GStreamerRegistryScannerMSE.h
  Source/WebCore/platform/gstreamer/VideoEncoderPrivateGStreamer.cpp
  Source/WebCore/platform/gstreamer/VideoEncoderPrivateGStreamer.h
Labels: merge-queue, Platform

#22122 [GStreamer] Crash after 10 seconds on watchdog thread due to hang in gst_deinit()
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.cpp
  Source/WebCore/platform/audio/gstreamer/AudioDestinationGStreamer.cpp
  Source/WebCore/platform/audio/gstreamer/AudioEncoderGStreamer.cpp
  Source/WebCore/platform/audio/gstreamer/AudioFileReaderGStreamer.cpp
  Source/WebCore/platform/audio/gstreamer/AudioSourceProviderGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/GStreamerAudioMixer.cpp
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.cpp
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.h
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/AppendPipeline.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/AppendPipeline.h
  Source/WebCore/platform/graphics/gstreamer/mse/SourceBufferPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/SourceBufferPrivateGStreamer.h
  Source/WebCore/platform/gstreamer/GStreamerElementHarness.cpp
  Source/WebCore/platform/gstreamer/PlatformSpeechSynthesizerGStreamer.cpp
  Source/WebCore/platform/mediarecorder/MediaRecorderPrivateGStreamer.cpp
  Source/WebCore/platform/mediastream/gstreamer/GStreamerCapturer.cpp
Labels: merge-queue, Media

#22286 [GStreamer] GRefPtr template specialization for GstObject
  Source/WebCore/platform/graphics/gstreamer/GRefPtrGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/GRefPtrGStreamer.h
Labels: merge-queue, Platform

#22280 `HasScope` should not be represented as a `PseudoClass` internally
  Source/WebCore/css/CSSSelector.cpp
  Source/WebCore/css/CSSSelector.h
  Source/WebCore/css/SelectorChecker.cpp
  Source/WebCore/css/parser/CSSSelectorParser.cpp
  Source/WebCore/cssjit/SelectorCompiler.cpp
  Source/WebCore/style/RuleSet.cpp
Labels: unsafe-merge-queue, CSS

#22265 Remove obsolete mediaControlsApple files
  Source/WebCore/Modules/mediacontrols/mediaControlsApple.css
  Source/WebCore/Modules/mediacontrols/mediaControlsApple.js
Labels: merge-queue, CSS

#22291 error: '_SECapabilities' is deprecated
  Source/WebKit/Platform/cocoa/AssertionCapability.h
  Source/WebKit/Platform/cocoa/AssertionCapability.mm
  Source/WebKit/Platform/cocoa/ExtensionCapability.h
  Source/WebKit/Platform/cocoa/MediaCapability.h
  Source/WebKit/Platform/cocoa/MediaCapability.mm
  Source/WebKit/Platform/spi/Cocoa/ExtensionKitSPI.h
  Source/WebKit/Shared/Cocoa/ExtensionKitSoftLink.h
  Source/WebKit/Shared/Cocoa/ExtensionKitSoftLink.mm
  Source/WebKit/UIProcess/Cocoa/ExtensionCapabilityGranter.mm
  Source/WebKit/UIProcess/Cocoa/ProcessAssertionCocoa.mm
  Source/WebKit/UIProcess/ProcessAssertion.h
Labels: merge-queue, Platform, skip-ews

#22284 Alias `:-webkit-full-screen` pseudo-class to `:fullscreen`
  LayoutTests/fast/selectors/selector-aliases-expected.txt
  LayoutTests/fast/selectors/selector-aliases.html
  LayoutTests/fullscreen/full-screen-css-expected.txt
  LayoutTests/fullscreen/full-screen-css.html
  Source/WebCore/css/CSSPseudoSelectors.json
  Source/WebCore/css/CSSSelector.cpp
  Source/WebCore/css/CSSSelector.h
  Source/WebCore/css/SelectorChecker.cpp
  Source/WebCore/css/SelectorCheckerTestFunctions.h
  Source/WebCore/cssjit/SelectorCompiler.cpp
Labels: merge-queue, CSS

#22283 Alias `:-webkit-any-link` and `:matches()` pseudo-classes
  LayoutTests/fast/css/css-selector-text-expected.txt
  LayoutTests/fast/css/css-selector-text.html
  LayoutTests/fast/css/css-set-selector-text-expected.txt
  LayoutTests/fast/css/css-set-selector-text.html
  LayoutTests/fast/css/parsing-css-attribute-case-insensitive-value-1-expected.txt
  LayoutTests/fast/css/parsing-css-attribute-case-insensitive-value-1.html
  LayoutTests/fast/css/parsing-css-matches-1-expected.txt
  LayoutTests/fast/css/parsing-css-matches-1.html
  LayoutTests/fast/css/parsing-css-matches-2-expected.txt
  LayoutTests/fast/css/parsing-css-matches-2.html
  LayoutTests/fast/css/parsing-css-matches-3-expected.txt
  LayoutTests/fast/css/parsing-css-matches-3.html
  LayoutTests/fast/css/parsing-css-matches-4-expected.txt
  LayoutTests/fast/css/parsing-css-matches-4.html
  LayoutTests/fast/css/parsing-css-not-1-expected.txt
  LayoutTests/fast/css/parsing-css-not-1.html
  LayoutTests/fast/css/parsing-css-not-2-expected.txt
  LayoutTests/fast/css/parsing-css-not-2.html
  LayoutTests/fast/selectors/selector-aliases-expected.txt
  LayoutTests/fast/selectors/selector-aliases.html
  Source/WebCore/css/CSSPseudoSelectors.json
  Source/WebCore/css/CSSSelector.cpp
  Source/WebCore/css/CSSSelector.h
  Source/WebCore/css/SelectorChecker.cpp
  Source/WebCore/css/SelectorChecker.h
  Source/WebCore/css/parser/CSSSelectorParser.cpp
  Source/WebCore/cssjit/SelectorCompiler.cpp
  Source/WebCore/dom/Element.cpp
  Source/WebCore/style/RuleSet.cpp
Labels: merge-queue, CSS, safe-merge-queue

#22074 [WebGPU] validation,render_pipeline,depth_stencil_state:* is failing
  LayoutTests/http/tests/webgpu/webgpu/api/validation/render_pipeline/depth_stencil_state-expected.txt
  LayoutTests/http/tests/webgpu/webgpu/api/validation/render_pipeline/depth_stencil_state.spec.js
  Source/WebCore/Modules/WebGPU/GPUDepthStencilState.h
  Source/WebCore/Modules/WebGPU/GPUDepthStencilState.idl
  Source/WebCore/Modules/WebGPU/GPUInternalError.h
  Source/WebCore/Modules/WebGPU/GPUInternalError.idl
  Source/WebCore/Modules/WebGPU/GPUPipelineError.h
  Source/WebCore/Modules/WebGPU/GPUPipelineError.idl
  Source/WebCore/Modules/WebGPU/GPUValidationError.h
  Source/WebCore/Modules/WebGPU/GPUValidationError.idl
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUDeviceImpl.cpp
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUDepthStencilState.h
  Source/WebGPU/WGSL/Parser.cpp
  Source/WebGPU/WGSL/WGSLShaderModule.h
  Source/WebGPU/WebGPU/RenderPipeline.mm
  Source/WebGPU/WebGPU/Texture.h
  Source/WebGPU/WebGPU/Texture.mm
  Source/WebGPU/WebGPU/WebGPU.h
  Source/WebKit/Shared/WebGPU/WebGPUDepthStencilState.h
  Source/WebKit/Shared/WebGPU/WebGPUDepthStencilState.serialization.in
Labels: merge-queue, WebGPU

#22296 Remove `PseudoElement::WebKitCustomLegacyPrefixed` custom serialization
  LayoutTests/fast/css/css-selector-text-expected.txt
  LayoutTests/fast/css/css-selector-text.html
  LayoutTests/fast/css/css-set-selector-text-expected.txt
  LayoutTests/fast/css/css-set-selector-text.html
  LayoutTests/fast/selectors/selector-aliases-expected.txt
  LayoutTests/fast/selectors/selector-aliases.html
  Source/WebCore/css/CSSSelector.cpp
Labels: unsafe-merge-queue, CSS

#22271 Simplify RenderLayer::setParent
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/RenderLayer.h
Labels: merge-queue, Layout and Rendering

#22268 [WGSL] Add tests for all numeric built-in functions
  Source/WebGPU/WGSL/ConstantFunctions.h
  Source/WebGPU/WGSL/Metal/MetalFunctionWriter.cpp
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/WGSLShaderModule.h
  Source/WebGPU/WGSL/tests/valid/overload.wgsl
Labels: merge-queue, WebGPU

#22254 Add early return in 'prepareWhitespaceAtPositionForSplit' if there is no richly editable position
  Source/WebCore/editing/CompositeEditCommand.cpp
Labels: merge-queue, HTML Editing

#22226 REGRESSION (271171@main): Unable to scroll web views using pan gesture in the 喜马拉雅 app
  Source/WTF/wtf/cocoa/RuntimeApplicationChecksCocoa.h
  Source/WebCore/platform/RuntimeApplicationChecks.h
  Source/WebCore/platform/cocoa/RuntimeApplicationChecksCocoa.mm
  Source/WebKit/UIProcess/ios/WKBaseScrollView.mm
Labels: merge-queue, Platform

#22307 Remove ADD_SOURCE_WEBCORE_DERIVED_DEPENDENCIES macro
  Source/WebCore/CMakeLists.txt
  Source/WebCore/WebCoreMacros.cmake
Labels: merge-queue, CMake

#22305 [GStreamer] Fix build without GStreamer debug
  Source/WebCore/platform/graphics/gstreamer/mse/AppendPipeline.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/WebKitMediaSourceGStreamer.cpp
Labels: merge-queue, Media

#22250 [JSC] Implement @toIntegerOrInfinity / @toLength in C++
  Source/JavaScriptCore/assembler/MacroAssemblerARMv7.h
  Source/JavaScriptCore/builtins/BuiltinNames.h
  Source/JavaScriptCore/builtins/GlobalOperations.js
  Source/JavaScriptCore/bytecode/LinkTimeConstant.h
  Source/JavaScriptCore/bytecode/PutByVariant.h
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGClobberize.h
  Source/JavaScriptCore/dfg/DFGDoesGC.cpp
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGNode.h
  Source/JavaScriptCore/dfg/DFGNodeType.h
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/dfg/DFGOperations.h
  Source/JavaScriptCore/dfg/DFGPredictionPropagationPhase.cpp
  Source/JavaScriptCore/dfg/DFGSafeToExecute.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT32_64.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/ftl/FTLCapabilities.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/jit/ThunkGenerators.cpp
  Source/JavaScriptCore/jit/ThunkGenerators.h
  Source/JavaScriptCore/runtime/Intrinsic.h
  Source/JavaScriptCore/runtime/JSCJSValue.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSGlobalObjectFunctions.cpp
  Source/JavaScriptCore/runtime/JSGlobalObjectFunctions.h
  Source/JavaScriptCore/runtime/MathObject.cpp
  Source/JavaScriptCore/runtime/MathObject.h
  Source/JavaScriptCore/runtime/VM.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#22315 [Gardening}: REGRESSION (272543@main): [ macOS iOS ] imported/w3c/web-platform-tests/css/css-pseudo/highlight-pseudos-computed.html is a consistent failure
  LayoutTests/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#22135 [WebGPU] CTS validation/render_pipeline/fragment_state.html is failing
  LayoutTests/http/tests/webgpu/webgpu/api/validation/render_pipeline/fragment_state-expected.txt
  LayoutTests/http/tests/webgpu/webgpu/api/validation/render_pipeline/fragment_state.spec.js
  LayoutTests/http/tests/webgpu/webgpu/compat/api/validation/render_pipeline/fragment_state.spec.js
  Source/WebCore/Modules/WebGPU/GPUColorWrite.h
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUConvertToBackingContext.cpp
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPU.serialization.in
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUColorTargetState.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUColorWrite.h
  Source/WebGPU/WGSL/Parser.cpp
  Source/WebGPU/WGSL/WGSLShaderModule.h
  Source/WebGPU/WebGPU/RenderPipeline.mm
  Source/WebGPU/WebGPU/ShaderModule.h
  Source/WebGPU/WebGPU/ShaderModule.mm
  Source/WebGPU/WebGPU/Texture.h
  Source/WebGPU/WebGPU/Texture.mm
  Source/WebKit/Shared/WebGPU/WebGPUColorTargetState.h
Labels: merge-queue, WebGPU

#22270 Source/JavaScriptCore/wasm/generateWasm.py: return value in int for memorybits
  Source/JavaScriptCore/wasm/generateWasm.py
Labels: merge-queue, WebAssembly

#22316 Unreviewed, reverting 272572@main
  Source/WebCore/CMakeLists.txt
  Source/WebCore/WebCoreMacros.cmake
Labels: unsafe-merge-queue, CMake

#22311 [css-grid] Rename GridBaselineAlignment's isBaselineAxis variables and GridBaselineAlignment::isHorizontalBaselineAxis.
  Source/WebCore/rendering/GridBaselineAlignment.cpp
  Source/WebCore/rendering/GridBaselineAlignment.h
Labels: merge-queue, Layout and Rendering

#22198 [JSC] Polymorphic Call DataIC
  JSTests/stress/v8-deltablue-strict.js
  PerformanceTests/SunSpider/shadow-chicken.yaml
  Source/JavaScriptCore/bytecode/CallLinkInfo.cpp
  Source/JavaScriptCore/bytecode/CallLinkInfo.h
  Source/JavaScriptCore/bytecode/CallLinkInfoBase.h
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/bytecode/CodeBlock.h
  Source/JavaScriptCore/bytecode/Repatch.cpp
  Source/JavaScriptCore/bytecode/Repatch.h
  Source/JavaScriptCore/bytecode/RepatchInlines.h
  Source/JavaScriptCore/heap/JITStubRoutineSet.cpp
  Source/JavaScriptCore/interpreter/FrameTracers.h
  Source/JavaScriptCore/interpreter/Interpreter.cpp
  Source/JavaScriptCore/jit/BaselineJITRegisters.h
  Source/JavaScriptCore/jit/GCAwareJITStubRoutine.cpp
  Source/JavaScriptCore/jit/GCAwareJITStubRoutine.h
  Source/JavaScriptCore/jit/JITCall.cpp
  Source/JavaScriptCore/jit/JITOperations.cpp
  Source/JavaScriptCore/jit/JITOperations.h
  Source/JavaScriptCore/jit/JITThunks.h
  Source/JavaScriptCore/jit/PolymorphicCallStubRoutine.cpp
  Source/JavaScriptCore/jit/PolymorphicCallStubRoutine.h
  Source/JavaScriptCore/jit/ThunkGenerators.cpp
  Source/JavaScriptCore/jit/ThunkGenerators.h
  Source/JavaScriptCore/llint/LLIntSlowPaths.cpp
  Source/JavaScriptCore/llint/LLIntThunks.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter.asm
  Source/JavaScriptCore/llint/LowLevelInterpreter32_64.asm
  Source/JavaScriptCore/llint/LowLevelInterpreter64.asm
  Source/JavaScriptCore/runtime/Options.cpp
  Source/WTF/wtf/ButterflyArray.h
Labels: unsafe-merge-queue, JavaScriptCore

#22310 Update to PDF.js v4.0.379
  Source/ThirdParty/pdfjs/PdfJSFiles.cmake
  Source/ThirdParty/pdfjs/README.webkit
  Source/ThirdParty/pdfjs/build/pdf.mjs
  Source/ThirdParty/pdfjs/build/pdf.sandbox.mjs
  Source/ThirdParty/pdfjs/build/pdf.worker.mjs
  Source/ThirdParty/pdfjs/web/images/toolbarButton-editorHighlight.svg
  Source/ThirdParty/pdfjs/web/locale/be/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/br/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/cs/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/cy/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/da/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/de/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/dsb/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/el/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/en-GB/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/en-US/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/es-AR/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/es-CL/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/es-ES/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/fi/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/fr/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/fur/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/fy-NL/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/gn/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/he/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/hsb/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/hu/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/ia/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/is/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/it/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/ja/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/ka/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/kab/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/kk/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/ko/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/nb-NO/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/nl/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/nn-NO/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/pa-IN/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/pl/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/pt-BR/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/rm/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/ru/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/sk/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/sl/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/sq/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/sv-SE/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/tg/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/tr/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/uk/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/vi/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/zh-CN/viewer.ftl
  Source/ThirdParty/pdfjs/web/locale/zh-TW/viewer.ftl
  Source/ThirdParty/pdfjs/web/viewer.css
  Source/ThirdParty/pdfjs/web/viewer.html
  Source/ThirdParty/pdfjs/web/viewer.mjs
Labels: merge-queue, PDF

#22301 Generate pseudo-class serialization and pseudo-element aliasing
  Source/WebCore/css/CSSSelector.cpp
  Source/WebCore/css/CSSSelector.h
  Source/WebCore/css/parser/CSSParserSelector.cpp
  Source/WebCore/css/process-css-pseudo-selectors.py
Labels: unsafe-merge-queue, CSS

#22183 Only use CheckedPtr on the stack with RemoteWebInspectorUIProxyClient
  Source/WebKit/UIProcess/Inspector/RemoteWebInspectorUIProxy.cpp
  Source/WebKit/UIProcess/Inspector/RemoteWebInspectorUIProxy.h
Labels: merge-queue, WebKit2

#22137 [Debug] ASSERTION FAILED: m_activeConnections.contains(connection)
  Source/WebKit/NetworkProcess/storage/CacheStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/CacheStorageManager.h
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/OriginStorageManager.cpp
Labels: merge-queue, New Bugs

#22322 Null check the ScrollingCoordinator in a few places
  Source/WebCore/rendering/RenderLayerCompositor.cpp
Labels: merge-queue, Scrolling

#21938 Implement history action user activation
  LayoutTests/fast/html/history-action-user-activation-expected.txt
  LayoutTests/fast/html/history-action-user-activation.html
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/wincairo/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
  Source/WebCore/page/LocalDOMWindow.cpp
  Source/WebCore/page/LocalDOMWindow.h
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
Labels: New Bugs

#22219 Refactor content distribution functions in Grid
  Source/WebCore/rendering/RenderFlexibleBox.cpp
  Source/WebCore/rendering/RenderGrid.cpp
  Source/WebCore/rendering/RenderGrid.h
Labels: merge-queue, Layout and Rendering, request-merge-queue

#22318 REGRESSION (271946@main): Netflix playback stops with error S7361-1253 once a renewing content key request is made
  Source/WebCore/platform/graphics/avfoundation/objc/CDMInstanceFairPlayStreamingAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/CDMInstanceFairPlayStreamingAVFObjC.mm
Labels: merge-queue, Media

#22334 Rename `WebKitCustom` and `WebKitCustomLegacyPrefixed` in `PseudoElement`
  Source/WebCore/css/CSSPseudoSelectors.json
  Source/WebCore/css/CSSSelector.cpp
  Source/WebCore/css/CSSSelector.h
  Source/WebCore/css/SelectorChecker.cpp
  Source/WebCore/css/parser/CSSParserSelector.cpp
  Source/WebCore/css/parser/CSSParserSelector.h
  Source/WebCore/css/parser/CSSSelectorParser.cpp
  Source/WebCore/css/process-css-pseudo-selectors.py
  Source/WebCore/cssjit/SelectorCompiler.cpp
  Source/WebCore/style/RuleSet.cpp
Labels: unsafe-merge-queue, CSS

#22325 [UIAsyncTextInput] Keyboard incorrectly autocapitalizes after deleting backwards
  LayoutTests/editing/deleting/ios/no-autoshift-after-deleting-character-in-word-expected.txt
  LayoutTests/editing/deleting/ios/no-autoshift-after-deleting-character-in-word.html
  Source/WebKit/Shared/DocumentEditingContext.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Tools/TestWebKitAPI/cocoa/TestWKWebView.mm
Labels: merge-queue, HTML Editing

#22333 Fix MSVC build
  Source/WebCore/PAL/pal/text/TextCodec.cpp
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Scripts/webkit/tests/GeneratedSerializers.cpp
  Tools/TestWebKitAPI/Tests/WTF/DragonBoxTest.cpp
Labels: unsafe-merge-queue, WebKit Misc.

#22209 rdar://120053975 ([WebGPU] writeBuffer and writeTexture should use noCopy variants when creating temporary buffers (266821))
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUQueueImpl.cpp
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUQueueImpl.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUQueue.h
  Source/WebGPU/WebGPU/Queue.h
  Source/WebGPU/WebGPU/Queue.mm
  Source/WebGPU/WebGPU/WebGPU.h
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteQueueProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteQueueProxy.h
Labels: WebGPU

#22332 Free up a bit in Node::TypeFlag
  Source/WebCore/dom/DocumentFragment.cpp
  Source/WebCore/dom/Node.h
  Source/WebCore/dom/Text.cpp
Labels: unsafe-merge-queue, DOM

#22184 [WebGPU] CTS validation/render_pipeline/overrides.html is failing
  LayoutTests/http/tests/webgpu/webgpu/api/validation/render_pipeline/overrides-expected.txt
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUDeviceImpl.cpp
  Source/WebGPU/WebGPU/ComputePipeline.mm
  Source/WebGPU/WebGPU/Pipeline.h
  Source/WebGPU/WebGPU/Pipeline.mm
  Source/WebGPU/WebGPU/RenderPipeline.mm
  Source/WebGPU/WebGPU/ShaderModule.h
  Source/WebGPU/WebGPU/ShaderModule.mm
Labels: merge-queue, WebGPU

#22319 _WKHitTestResult should expose a linkLocalDataMIMEType property
  Source/WebCore/rendering/HitTestResult.cpp
  Source/WebCore/rendering/HitTestResult.h
  Source/WebKit/Shared/API/Cocoa/_WKHitTestResult.h
  Source/WebKit/Shared/API/Cocoa/_WKHitTestResult.mm
  Source/WebKit/Shared/WebHitTestResultData.cpp
  Source/WebKit/Shared/WebHitTestResultData.h
  Source/WebKit/Shared/WebHitTestResultData.serialization.in
  Source/WebKit/UIProcess/API/APIHitTestResult.h
  Tools/TestWebKitAPI/Tests/mac/ContextMenuTests.mm
Labels: merge-queue, WebKit API

#22343 Generate code to check pseudo-class/element argument
  Source/WebCore/css/CSSPseudoSelectors.json
  Source/WebCore/css/CSSSelector.cpp
  Source/WebCore/css/CSSSelector.h
  Source/WebCore/css/parser/CSSSelectorParser.cpp
  Source/WebCore/css/process-css-pseudo-selectors.py
Labels: unsafe-merge-queue, CSS, safe-merge-queue

#21010 [LibWebRTC][WPE] Build fix for Ubuntu 20.04 after 271173@main
  Source/WebKit/Shared/RTCNetwork.serialization.in
Labels: WebRTC

#22346 Replace const char* with ASCIILiteral in CSSSelector
  Source/WebCore/css/CSSSelector.cpp
Labels: unsafe-merge-queue, CSS, request-merge-queue

#22344 Remove Element::userAgentPartId() in favor of pseudo()
  Source/WebCore/css/SelectorChecker.cpp
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/Element.h
  Source/WebCore/html/TextFieldInputType.cpp
  Source/WebCore/html/shadow/DateTimeEditElement.cpp
  Source/WebCore/html/shadow/YouTubeEmbedShadowElement.cpp
  Source/WebCore/rendering/RenderTheme.cpp
  Source/WebCore/style/ElementRuleCollector.cpp
  Source/WebCore/style/StyleAdjuster.cpp
  Source/WebCore/style/StyleInvalidator.cpp
  Source/WebCore/style/StyleResolver.cpp
  Source/WebCore/style/StyleSharingResolver.cpp
  Source/WebCore/testing/Internals.cpp
Labels: merge-queue, DOM

#22152 [MSE][GStreamer] Fix releasing Stream and GstStream objects
  Source/WebCore/platform/graphics/gstreamer/mse/WebKitMediaSourceGStreamer.cpp
Labels: merge-queue, Platform

#22345 [JHBuild] Disable 'python' and 'introspection' in module 'gstreamer'
  Tools/gstreamer/jhbuild.modules
Labels: merge-queue

#22347 WPT synchronize css/css-conditional & css/cssom
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/at-supports-048-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/at-supports-048-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/at-supports-selector-file-selector-button-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/at-supports-selector-file-selector-button.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/at-supports-selector-placeholder-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/at-supports-selector-placeholder.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/at-supports-selector-webkit-slider-thumb.tentative-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/at-supports-selector-webkit-slider-thumb.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/js/CSS-supports-CSSStyleDeclaration-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/js/CSS-supports-CSSStyleDeclaration.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-pseudo-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/getComputedStyle-pseudo.html
Labels: merge-queue, Tools / Tests

#22349 Clean-ups to CSSParserSelector
  Source/WebCore/css/parser/CSSParserSelector.cpp
  Source/WebCore/css/parser/CSSParserSelector.h
  Source/WebCore/css/parser/CSSSelectorParser.cpp
Labels: merge-queue, CSS

#22348 Only react to pseudoAttr changes inside a user agent shadow tree
  Source/WebCore/dom/Element.cpp
Labels: unsafe-merge-queue, DOM

#22341 [JSC] Put all offlineasm code under __TEXT,__jsc_int
  Source/JavaScriptCore/llint/LowLevelInterpreter.cpp
  Source/JavaScriptCore/offlineasm/arm.rb
Labels: unsafe-merge-queue, JavaScriptCore

#22188 [WebGPU] CTS validation/render_pipeline/shader_module.html is failing
  LayoutTests/http/tests/webgpu/webgpu/api/validation/render_pipeline/shader_module-expected.txt
  Source/WebGPU/WebGPU/RenderPipeline.mm
Labels: merge-queue, WebGPU

#22353 CSS linear() function not easing as expected
  LayoutTests/webanimations/combining-transform-animations-with-different-acceleration-capabilities-7-expected.txt
  LayoutTests/webanimations/combining-transform-animations-with-different-acceleration-capabilities-7.html
  Source/WebCore/animation/KeyframeEffect.cpp
Labels: unsafe-merge-queue, Animations

#22168 isStillValidAssumingImpurePropertyWatchpoint AbsenceOfSetEffect should check special property first
  Source/JavaScriptCore/bytecode/PropertyCondition.cpp
Labels: merge-queue, JavaScriptCore

#22309 Disable AES-CFB.
  LayoutTests/crypto/subtle/aes-cbc-cfb-decrypt-malformed-parameters.html
  LayoutTests/crypto/subtle/aes-cbc-cfb-encrypt-malformed-parameters.html
  LayoutTests/crypto/subtle/aes-cfb-generate-export-key-jwk-length-128.html
  LayoutTests/crypto/subtle/aes-cfb-generate-export-key-jwk-length-192.html
  LayoutTests/crypto/subtle/aes-cfb-generate-export-key-jwk-length-256.html
  LayoutTests/crypto/subtle/aes-cfb-generate-export-raw-key.html
  LayoutTests/crypto/subtle/aes-cfb-generate-key-encrypt-decrypt.html
  LayoutTests/crypto/subtle/aes-cfb-generate-key.html
  LayoutTests/crypto/subtle/aes-cfb-import-jwk-key-length-128.html
  LayoutTests/crypto/subtle/aes-cfb-import-jwk-key-length-192.html
  LayoutTests/crypto/subtle/aes-cfb-import-jwk-key-length-256.html
  LayoutTests/crypto/subtle/aes-cfb-import-key-decrypt.html
  LayoutTests/crypto/subtle/aes-cfb-import-key-encrypt.html
  LayoutTests/crypto/subtle/aes-cfb-import-key-unwrap-jwk-key.html
  LayoutTests/crypto/subtle/aes-cfb-import-key-unwrap-raw-key.html
  LayoutTests/crypto/subtle/aes-cfb-import-key-wrap-jwk-key.html
  LayoutTests/crypto/subtle/aes-cfb-import-key-wrap-raw-key.html
  LayoutTests/crypto/subtle/aes-cfb-import-raw-key.html
  LayoutTests/crypto/subtle/aes-export-key-malformed-parameters.html
  LayoutTests/crypto/subtle/aes-generate-key-malformed-parameters.html
  LayoutTests/crypto/subtle/aes-import-key-malformed-parameters.html
  LayoutTests/crypto/subtle/aes-kw-wrap-key-malformed-parameters.html
  LayoutTests/crypto/workers/subtle/aes-cfb-import-key-decrypt.html
  LayoutTests/crypto/workers/subtle/aes-cfb-import-key-encrypt.html
  LayoutTests/crypto/workers/subtle/aes-cfb-import-key-unwrap-key.html
  LayoutTests/crypto/workers/subtle/aes-cfb-import-key-wrap-key.html
  LayoutTests/crypto/workers/subtle/aes-ctr-import-key-decrypt.html
  LayoutTests/crypto/workers/subtle/resources/aes-cfb-import-key-unwrap-key.js
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/crypto/SubtleCrypto.cpp
Labels: merge-queue, Platform

#22324 [scroll-anchoring] Weird scrolling effect when scrolling YouTube transcript panel
  LayoutTests/imported/w3c/web-platform-tests/css/css-scroll-anchoring/focused-element-nested-anchor-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-scroll-anchoring/focused-element-nested-anchor.html
  Source/WebCore/page/scrolling/ScrollAnchoringController.cpp
  Source/WebCore/page/scrolling/ScrollAnchoringController.h
  Source/WebCore/rendering/RenderElement.cpp
  Source/WebCore/rendering/RenderObject.cpp
  Source/WebCore/rendering/RenderObject.h
Labels: unsafe-merge-queue, New Bugs

#22342 Introduce run-webkit-tests --site-isolation
  LayoutTests/platform/mac-site-isolation/TestExpectations
  Tools/Scripts/webkitpy/layout_tests/run_webkit_tests.py
Labels: unsafe-merge-queue, Tools / Tests

#22340 NEW TEST (271821@main): [ iOS17 macOS Debug ] TestWebKitAPI.ResourceLoadStatistics.StorageAccessOnRedirectSitesWithQuirk is a consistent timeout
  Source/WebCore/platform/network/OrganizationStorageAccessPromptQuirk.h
Labels: merge-queue, New Bugs

#22190 [WebGPU] CTS validation/render_pipeline/multisample_state.html is failing
  LayoutTests/http/tests/webgpu/webgpu/api/validation/render_pipeline/multisample_state-expected.txt
  Source/WebGPU/WebGPU/RenderPipeline.mm
Labels: merge-queue, WebGPU

#22357 Remove unused function `nodeFullyUnselected` from `ApplyStyleCommand.cpp|h`
  Source/WebCore/editing/ApplyStyleCommand.cpp
  Source/WebCore/editing/ApplyStyleCommand.h
Labels: merge-queue, HTML Editing

#22364 [JSC] Enable alt_entry for newer SDKs
  Source/JavaScriptCore/llint/LowLevelInterpreter.cpp
  Source/WTF/wtf/PlatformEnable.h
Labels: unsafe-merge-queue, JavaScriptCore

#22358 Remove unused inline function `smartDelete` in TypingCommand.h
  Source/WebCore/editing/TypingCommand.h
Labels: merge-queue, HTML Editing

#22356 Remove two unused functions definition in `DeleteSelectionCommand.h`
  Source/WebCore/editing/DeleteSelectionCommand.h
Labels: merge-queue, HTML Editing

#22366 browser.commands missing when action command has no description (breaks 1Password)
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionCocoa.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPICommands.mm
Labels: unsafe-merge-queue, WebKit Extensions

#21646 Only access NetworkStorageSession StorageAccess quirks on main thread
  Source/WebCore/platform/network/NetworkStorageSession.cpp
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsStore.cpp
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsStore.h
  Source/WebKit/NetworkProcess/Classifier/WebResourceLoadStatisticsStore.cpp
  Source/WebKit/NetworkProcess/Classifier/WebResourceLoadStatisticsStore.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ResourceLoadStatistics.mm
Labels: Page Loading

#22367 [css-animations] `animation` property should use shortest serialization rule
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/computed-style-animation-parsing-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/computed-style-animation-parsing.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/parsing/animation-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/parsing/animation-computed.html
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/animation-shorthand-expected.txt
  Source/WebCore/css/ComputedStyleExtractor.cpp
Labels: unsafe-merge-queue, Animations

#22338 [Xcode] Add support for setting CC/CPLUSPLUS variables when using make
  Makefile.shared
Labels: unsafe-merge-queue, Tools / Tests

#22321 [WebGPU] Render passes fail if they do not have a color attachment
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
Labels: merge-queue, WebGPU

#22313 [WebGPU] Changing bind groups during a render pass does not work as expected
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
Labels: merge-queue, WebGPU

#22317 Fix CSSSelectorParser.cpp dependency on CSSSelectorInlines.h
  Source/WebCore/CMakeLists.txt
Labels: merge-queue, CMake

#22368 Make most CSSSelector setters only available to MutableCSSSelector
  Source/WebCore/css/CSSSelector.h
  Source/WebCore/css/parser/CSSParserImpl.cpp
  Source/WebCore/css/parser/MutableCSSSelector.h
Labels: merge-queue, unsafe-merge-queue, CSS

#22365 Use MutableCSSSelectorList alias in more places
  Source/WebCore/css/CSSSelectorList.cpp
  Source/WebCore/css/CSSSelectorList.h
  Source/WebCore/css/parser/CSSParserImpl.cpp
  Source/WebCore/css/parser/CSSSelectorParser.h
  Source/WebCore/css/parser/MutableCSSSelector.cpp
  Source/WebCore/css/parser/MutableCSSSelector.h
Labels: unsafe-merge-queue, CSS

#22374 Versioning.
  Configurations/Version.xcconfig
Labels: merge-queue

#22371 [UIAsyncTextInput] Fix several failing iOS API tests when async text input is enabled
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Tools/TestWebKitAPI/Tests/ios/DragAndDropTestsIOS.mm
Labels: merge-queue, Tools / Tests

#22192 [WebGPU] CTS validation/render_pipeline/misc.html is failing
  LayoutTests/http/tests/webgpu/webgpu/api/validation/render_pipeline/misc-expected.txt
  Source/WebGPU/WebGPU/RenderPipeline.mm
Labels: merge-queue, WebGPU

#22375 Incremental build fix for "[Xcode] Add support for setting CC/CPLUSPLUS variables when using make"
  Makefile.shared
Labels: unsafe-merge-queue, Tools / Tests

#21926 [Wasm-GC] Inline Wasm array operations & allocation
  JSTests/wasm/gc/arrays.js
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
  Source/JavaScriptCore/wasm/WasmExceptionType.h
  Source/JavaScriptCore/wasm/WasmLimits.h
  Source/JavaScriptCore/wasm/WasmOperationsInlines.h
  Source/JavaScriptCore/wasm/WasmSlowPaths.cpp
  Source/JavaScriptCore/wasm/js/JSWebAssemblyArray.h
Labels: merge-queue, WebAssembly

#22361 _WKHitTestResult should expose a linkSuggestedFilename property
  Source/WebKit/Shared/API/Cocoa/_WKHitTestResult.h
  Source/WebKit/Shared/API/Cocoa/_WKHitTestResult.mm
  Source/WebKit/UIProcess/API/APIHitTestResult.h
  Tools/TestWebKitAPI/Tests/mac/ContextMenuTests.mm
Labels: merge-queue, WebKit API

#22329 [JSC] species getter should be C++
  JSTests/stress/species-getter-env.js
  JSTests/stress/species-getter-inlining.js
  Source/JavaScriptCore/builtins/GlobalOperations.js
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.cpp
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/runtime/Intrinsic.h
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSGlobalObjectFunctions.cpp
  Source/JavaScriptCore/runtime/JSGlobalObjectFunctions.h
Labels: unsafe-merge-queue, JavaScriptCore

#22323 Various minor RenderStyle::diff() optimizations
  Source/WebCore/platform/graphics/transforms/RotateTransformOperation.cpp
  Source/WebCore/rendering/style/BorderData.cpp
  Source/WebCore/rendering/style/RenderStyle.cpp
Labels: merge-queue, CSS

#22193 [WebGPU] CTS validation/render_pipeline/primitive_state.html is failing
  LayoutTests/http/tests/webgpu/webgpu/api/validation/render_pipeline/primitive_state-expected.txt
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUDeviceImpl.cpp
  Source/WebGPU/WebGPU/RenderPipeline.mm
Labels: merge-queue, WebGPU

#22354 [content-visibility] Remove scroll anchor workaround
  Source/WebCore/dom/ContentVisibilityDocumentState.cpp
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Element.cpp
Labels: merge-queue, CSS

#22352 Provide GraphicsContext::fillRect(const FloatRect&, Gradient&, const AffineTransform& gradientSpaceTransform) variant
  Source/WebCore/platform/graphics/BifurcatedGraphicsContext.cpp
  Source/WebCore/platform/graphics/BifurcatedGraphicsContext.h
  Source/WebCore/platform/graphics/GraphicsContext.h
  Source/WebCore/platform/graphics/NullGraphicsContext.h
  Source/WebCore/platform/graphics/cairo/CairoOperations.cpp
  Source/WebCore/platform/graphics/cairo/CairoOperations.h
  Source/WebCore/platform/graphics/cairo/GraphicsContextCairo.cpp
  Source/WebCore/platform/graphics/cairo/GraphicsContextCairo.h
  Source/WebCore/platform/graphics/cg/GraphicsContextCG.cpp
  Source/WebCore/platform/graphics/cg/GraphicsContextCG.h
  Source/WebCore/platform/graphics/displaylists/DisplayListItem.h
  Source/WebCore/platform/graphics/displaylists/DisplayListItems.cpp
  Source/WebCore/platform/graphics/displaylists/DisplayListItems.h
  Source/WebCore/platform/graphics/displaylists/DisplayListRecorder.cpp
  Source/WebCore/platform/graphics/displaylists/DisplayListRecorder.h
  Source/WebCore/platform/graphics/displaylists/DisplayListRecorderImpl.cpp
  Source/WebCore/platform/graphics/displaylists/DisplayListRecorderImpl.h
  Source/WebCore/platform/graphics/nicosia/cairo/NicosiaCairoOperationRecorder.cpp
  Source/WebCore/platform/graphics/nicosia/cairo/NicosiaCairoOperationRecorder.h
  Source/WebKit/GPUProcess/graphics/RemoteDisplayListRecorder.cpp
  Source/WebKit/GPUProcess/graphics/RemoteDisplayListRecorder.h
  Source/WebKit/GPUProcess/graphics/RemoteDisplayListRecorder.messages.in
  Source/WebKit/Shared/DisplayListArgumentCoders.serialization.in
  Source/WebKit/WebProcess/GPU/graphics/RemoteDisplayListRecorderProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteDisplayListRecorderProxy.h
Labels: merge-queue, SVG

#22378 Add documentation and validation for CSSPseudoSelectors.json
  Source/WebCore/css/CSSPseudoSelectors.json
  Source/WebCore/css/process-css-pseudo-selectors.py
Labels: unsafe-merge-queue, CSS

#22302 Remove setAncestorChainHasVisibleDescendant()
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/RenderLayer.h
Labels: merge-queue, Layout and Rendering

#22394 Unreviewed, fix the iOS build with some versions of the internal SDK
  Tools/TestWebKitAPI/cocoa/TestWKWebView.mm
Labels: unsafe-merge-queue

#22384 [iOS] WKContentView's paste configuration should only contain valid UTIs
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Tools/TestWebKitAPI/Tests/ios/UIPasteboardTests.mm
Labels: merge-queue, HTML Editing

#22388 Isolated iframes that crash during load should not delay load event of parent
  LayoutTests/http/tests/site-isolation/iframe-process-termination-expected.html
  LayoutTests/http/tests/site-isolation/iframe-process-termination.html
  LayoutTests/http/tests/site-isolation/resources/iframe-terminate-process-when-loaded.html
  LayoutTests/platform/ios/TestExpectations
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
  Source/WebKit/UIProcess/RemotePageProxy.cpp
  Source/WebKit/UIProcess/RemotePageProxy.h
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
Labels: unsafe-merge-queue, WebKit Process Model

#22369 [scroll-anchoring] Keyboard scrolling into a rubberband leaves the page stuck at a bad scroll offset
  LayoutTests/TestExpectations
  LayoutTests/fast/scrolling/mac/keyboard-rubberband-expected.txt
  LayoutTests/fast/scrolling/mac/keyboard-rubberband.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-scroll-anchoring/start-edge-in-block-layout-direction-expected.txt
  Source/WebCore/page/scrolling/ScrollAnchoringController.cpp
  Source/WebCore/platform/ScrollAnimator.cpp
Labels: unsafe-merge-queue, New Bugs

#22386 Remove unused function `userPreferredLanguagesOverride` from Language.cpp|h
  Source/WTF/wtf/Language.cpp
  Source/WTF/wtf/Language.h
Labels: merge-queue, WebCore Misc.

#22393 Avoid duplicate null check in ReplaceSelectionCommand::pastLastLeaf()
  Source/WebCore/editing/ReplaceSelectionCommand.h
Labels: merge-queue, HTML Editing

#22399 [Cocoa] Some WebKitPlatform sources are compiled twice
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerWithInProcessRenderingBackingStore.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerWithRemoteRenderingBackingStore.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerWithRemoteRenderingBackingStore.mm
  Source/WebKit/SourcesCocoa.txt
Labels: merge-queue, Tools / Tests

#22387 Serialize CSSSupportsRule with URL replacement
  Source/WebCore/css/CSSGroupingRule.cpp
  Source/WebCore/css/CSSGroupingRule.h
  Source/WebCore/css/CSSSupportsRule.cpp
  Source/WebCore/css/CSSSupportsRule.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/CreateWebArchive.mm
Labels: merge-queue, New Bugs

#22304 [WebGPU] CTS validation/render_pipeline/vertex_state.html is failing
  LayoutTests/http/tests/webgpu/webgpu/api/validation/render_pipeline/vertex_state-expected.txt
  Source/WebGPU/WebGPU/RenderPipeline.mm
  Source/WebGPU/WebGPU/ShaderModule.h
  Source/WebGPU/WebGPU/ShaderModule.mm
Labels: merge-queue, WebGPU

#20569 Change to use single test results file for jsc tests
  Tools/Scripts/run-jsc-stress-tests
  Tools/Scripts/webkitruby/jsc-stress-test-writer-default.rb
  Tools/Scripts/webkitruby/jsc-stress-test/executor.rb
Labels: merge-queue, Tools / Tests

#22400 Improve overflow handling ergonomics in StringBuilder::extendBufferForAppendingSlowCase.
  Source/WTF/wtf/text/StringBuilderInternals.h
Labels: unsafe-merge-queue, JavaScriptCore

#22411 [Gardening]: REGRESSION (272454@main): [ macOS iOS ] imported/w3c/web-platform-tests/css/css-writing-modes/mongolian-orientation-002.html is a consistent failure
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#21657 [JSC] Redeclaring parameter of a generator / async function makes it `undefined`
  JSTests/stress/regress-223533.js
  Source/JavaScriptCore/builtins/BuiltinExecutables.cpp
  Source/JavaScriptCore/bytecode/UnlinkedFunctionExecutable.cpp
  Source/JavaScriptCore/bytecode/UnlinkedFunctionExecutable.h
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.h
  Source/JavaScriptCore/runtime/CachedTypes.cpp
  Source/JavaScriptCore/runtime/CodeCache.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#22403 Handle empty title attribute tooltips
  LayoutTests/fast/html/a-tooltip-null-expected.txt
  LayoutTests/fast/html/a-tooltip-null.html
  Source/WebCore/rendering/HitTestResult.cpp
Labels: merge-queue, DOM

#22401 [content-visibility] Web Inspector: Account for skipped content in InspectorOverlay
  Source/WebCore/inspector/InspectorOverlay.cpp
Labels: merge-queue, Web Inspector

#22416 Validate that `-apple-` prefixed pseudos are gated behind a setting
  Source/WebCore/css/CSSPseudoSelectors.json
  Source/WebCore/css/process-css-pseudo-selectors.py
Labels: unsafe-merge-queue, CSS

#22385 Remove the isLoadingCustomFonts() check in FontCascade::operator==
  Source/WebCore/platform/graphics/FontCascade.cpp
Labels: merge-queue, Text

#22336 [WebGPU] CTS validation/render_pipeline/inter_stage.html is failing
  LayoutTests/http/tests/webgpu/webgpu/api/validation/render_pipeline/inter_stage-expected.txt
  Source/WebGPU/WGSL/Parser.cpp
  Source/WebGPU/WGSL/WGSLShaderModule.h
  Source/WebGPU/WebGPU/RenderPipeline.mm
  Source/WebGPU/WebGPU/ShaderModule.h
  Source/WebGPU/WebGPU/ShaderModule.mm
Labels: merge-queue, WebGPU

#22293 [iOS] Stop using AVSystemController and AVAudioSession SPIs when media capability grants are enabled
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/platform/audio/PlatformMediaSessionManager.cpp
  Source/WebCore/platform/audio/PlatformMediaSessionManager.h
  Source/WebCore/platform/audio/ios/MediaSessionHelperIOS.mm
  Source/WebKit/GPUProcess/GPUProcess.cpp
  Source/WebKit/GPUProcess/GPUProcessPreferences.cpp
  Source/WebKit/GPUProcess/GPUProcessPreferences.h
  Source/WebKit/GPUProcess/media/RemoteAudioSessionProxyManager.cpp
  Source/WebKit/UIProcess/API/Cocoa/WKPreferences.mm
  Source/WebKit/UIProcess/API/Cocoa/WKPreferencesPrivate.h
Labels: Media

#22417 Don't include Document.h and Quirks.h in EventNames.h
  Source/WebCore/Modules/mediastream/RTCDtlsTransport.cpp
  Source/WebCore/Modules/mediastream/RTCSctpTransport.cpp
  Source/WebCore/css/MediaQueryList.cpp
  Source/WebCore/dom/EventNames.h
  Source/WebCore/dom/Node.cpp
  Source/WebCore/dom/Node.h
  Source/WebCore/dom/PointerEvent.h
  Source/WebCore/html/HTMLCanvasElement.cpp
  Source/WebCore/html/shadow/TextControlInnerElements.cpp
  Source/WebCore/page/EventHandler.cpp
  Source/WebCore/page/LocalDOMWindow.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: unsafe-merge-queue, DOM

#20465 [Wasm-GC] Support bulk array instructions
  JSTests/wasm/gc-spec-tests/array_copy.wast.js
  JSTests/wasm/gc-spec-tests/array_fill.wast.js
  JSTests/wasm/gc-spec-tests/array_init_data.wast.js
  JSTests/wasm/gc-spec-tests/array_init_elem.wast.js
  JSTests/wasm/gc/array_new_elem.js
  JSTests/wasm/gc/arrays.js
  JSTests/wasm/gc/bulk-array.js
  JSTests/wasm/wasm.json
  Source/JavaScriptCore/bytecode/BytecodeList.rb
  Source/JavaScriptCore/llint/WebAssembly.asm
  Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
  Source/JavaScriptCore/wasm/WasmConstExprGenerator.cpp
  Source/JavaScriptCore/wasm/WasmConstExprGenerator.h
  Source/JavaScriptCore/wasm/WasmExceptionType.h
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Source/JavaScriptCore/wasm/WasmIPIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmInstance.cpp
  Source/JavaScriptCore/wasm/WasmInstance.h
  Source/JavaScriptCore/wasm/WasmLLIntBuiltin.h
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmOperations.cpp
  Source/JavaScriptCore/wasm/WasmOperations.h
  Source/JavaScriptCore/wasm/WasmOperationsInlines.h
  Source/JavaScriptCore/wasm/WasmSlowPaths.cpp
  Source/JavaScriptCore/wasm/WasmSlowPaths.h
  Source/JavaScriptCore/wasm/WasmTypeDefinition.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.h
  Source/JavaScriptCore/wasm/js/JSWebAssemblyArray.cpp
  Source/JavaScriptCore/wasm/js/JSWebAssemblyArray.h
  Source/JavaScriptCore/wasm/js/WebAssemblyModuleRecord.cpp
  Source/JavaScriptCore/wasm/wasm.json
Labels: WebAssembly

#22381 REGRESSION(268038@main): poor performance with :has(+ :not(.class)) pseudo-class selector
  Source/WebCore/css/SelectorChecker.cpp
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/Element.h
  Source/WebCore/dom/Node.cpp
  Source/WebCore/dom/Node.h
  Source/WebCore/style/ChildChangeInvalidation.cpp
  Source/WebCore/style/ChildChangeInvalidation.h
  Source/WebCore/style/RuleFeature.cpp
  Source/WebCore/style/StyleRelations.cpp
  Source/WebCore/style/StyleRelations.h
Labels: merge-queue, CSS

#22407 REGRESSION (270199@main): [iOS] Viewport units are incorrect in Safari after entering and exiting fullscreen
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewInternal.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/ios/FullscreenOverriddenLayoutParameters.mm
Labels: merge-queue, Layout and Rendering

#22420 [iOS] Remove unbalanced call to `-[WKWebView _endAnimatedResize]` in `WKFullScreenViewController`
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenViewController.mm
Labels: merge-queue, Media

#22426 [WPE][Debug] ASSERTION FAILED: m_wrapper
  LayoutTests/platform/wpe/TestExpectations
Labels: unsafe-merge-queue, Media

#22423 Rename some pseudo-class/element parsing functions
  Source/WebCore/animation/WebAnimationUtilities.cpp
  Source/WebCore/css/CSSSelector.cpp
  Source/WebCore/css/CSSSelector.h
  Source/WebCore/css/SelectorPseudoTypeMap.h
  Source/WebCore/css/parser/CSSSelectorParser.cpp
  Source/WebCore/css/parser/MutableCSSSelector.cpp
  Source/WebCore/css/process-css-pseudo-selectors.py
  Source/WebCore/page/LocalDOMWindow.cpp
Labels: merge-queue, CSS

#22428 [GStreamer] http/tests/webrtc/video-mediastream-invisible-autoplay-detached.html is flaky crash
  LayoutTests/platform/glib/TestExpectations
Labels: unsafe-merge-queue, Media

#22408 [WGSL] Add metal tests to all logic built-in functions
  Source/WebGPU/WGSL/tests/valid/overload.wgsl
Labels: merge-queue, WebGPU

#22409 [WGSL] quantizeToF16 generates invalid code for vectors
  Source/WebGPU/WGSL/Metal/MetalFunctionWriter.cpp
Labels: merge-queue, WebGPU

#22422 [WebGPU] dynamic bind group indices continue to be incorrect
  Source/WebGPU/WebGPU/BindGroupLayout.h
  Source/WebGPU/WebGPU/BindGroupLayout.mm
  Source/WebGPU/WebGPU/PipelineLayout.mm
Labels: merge-queue, WebGPU

#22424 Make ENABLE_DATE_AND_TIME_INPUT_TYPES a standalone directive
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/rendering/non-replaced-elements/form-controls/resets-expected.txt
  LayoutTests/platform/gtk/fast/forms/date/date-input-rendering-basic-expected.txt
  LayoutTests/platform/gtk/fast/forms/date/date-pseudo-elements-expected.txt
  LayoutTests/platform/gtk/fast/forms/time/time-input-rendering-basic-expected.txt
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/html/rendering/non-replaced-elements/form-controls/resets-expected.txt
  Source/WTF/wtf/PlatformEnable.h
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/cmake/OptionsGTK.cmake
  Source/cmake/OptionsMac.cmake
  Source/cmake/WebKitFeatures.cmake
Labels: unsafe-merge-queue, WebKit Misc.

#22404 isolated iframe processes should have origin name in Activity Monitor
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
Labels: unsafe-merge-queue, WebKit Process Model

#22360 Enable some RSA key import export related tests.
  LayoutTests/crypto/subtle/aes-cbc-import-key-wrap-jwk-rsa-key-private-expected.txt
  LayoutTests/crypto/subtle/aes-cbc-import-key-wrap-jwk-rsa-key-private.html
  LayoutTests/crypto/workers/subtle/rsa-postMessage-worker.html
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/crypto/mac/CryptoKeyRSAMac.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IndexedDBStructuredCloneBackwardCompatibility.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IndexedDBStructuredCloneBackwardCompatibilityRead.html
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IndexedDBStructuredCloneBackwardCompatibilityWrite.html
Labels: unsafe-merge-queue

#22330 Fix name collision in IPint
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/Sources.txt
  Source/JavaScriptCore/llint/LLIntSlowPaths.cpp
  Source/JavaScriptCore/wasm/WasmIPIntSlowPaths.cpp
  Source/JavaScriptCore/wasm/WasmIPIntSlowPaths.h
  Source/JavaScriptCore/wasm/WasmSlowPaths.cpp
Labels: merge-queue, JavaScriptCore

#22434 Input element with inherited display:ruby hits assert
  LayoutTests/fast/ruby/input-with-inherited-ruby-display-expected.txt
  LayoutTests/fast/ruby/input-with-inherited-ruby-display.html
  Source/WebCore/style/StyleAdjuster.cpp
Labels: merge-queue, CSS

#22419 Inline RenderBoxModelObject::computedCSSPadding()
  Source/WebCore/rendering/RenderBoxModelObject.cpp
  Source/WebCore/rendering/RenderBoxModelObject.h
  Source/WebCore/rendering/RenderBoxModelObjectInlines.h
Labels: merge-queue, Layout and Rendering

#22331 Optimize SVGRenderSupport::layoutDifferentRootIfNeeded()
  Source/WebCore/rendering/svg/SVGRenderSupport.cpp
  Source/WebCore/rendering/svg/SVGResources.cpp
  Source/WebCore/rendering/svg/SVGResources.h
Labels: merge-queue, SVG

#22435 [iOS] Write web archive data using the `com.apple.webarchive` UTI when copying/dragging
  Source/WebCore/platform/ios/PlatformPasteboardIOS.mm
  Tools/TestWebKitAPI/Tests/ios/DragAndDropTestsIOS.mm
Labels: merge-queue, HTML Editing

#22396 Allow essential syscalls for File System API in WebContent process sandbox
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Labels: merge-queue, Website Storage

#22438 REGRESSION (271761@main): Unable to start camera capture on bing.com
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: unsafe-merge-queue, Media, skip-ews

#22405 WorkerDedicatedRunLoop performs work outside of an autorelease pool
  Source/WebCore/workers/WorkerRunLoop.cpp
Labels: merge-queue, Service Workers

#22421 [iOS] Deactivate media capability support on iOS Simulator
  Source/WTF/wtf/PlatformEnable.h
Labels: merge-queue, Media

#22444 Fix the build after 272675@main
  Source/WebKit/GPUProcess/GPUProcessPreferences.serialization.in
Labels: unsafe-merge-queue, Media, skip-ews

#21508 Implement layer hosting for WebKit extension processes
  Source/WebKit/GPUProcess/media/cocoa/RemoteMediaPlayerProxyCocoa.mm
  Source/WebKit/Platform/ExtraPrivateSymbolsForTAPI.h
  Source/WebKit/Platform/cocoa/LayerHostingContext.h
  Source/WebKit/Platform/cocoa/LayerHostingContext.mm
  Source/WebKit/Platform/spi/Cocoa/ExtensionKitSPI.h
  Source/WebKit/Shared/Cocoa/ExtensionKitSoftLink.h
  Source/WebKit/Shared/Cocoa/ExtensionKitSoftLink.mm
  Source/WebKit/Shared/Cocoa/WKProcessExtension.mm
  Source/WebKit/UIProcess/Cocoa/VideoPresentationManagerProxy.mm
Labels: WebKit Misc.

#22300 Assertion delegate should be called on main thread
  Source/WebKit/UIProcess/Cocoa/ProcessAssertionCocoa.mm
Labels: unsafe-merge-queue, WebKit Misc.

#22391 Factor PDF JS evaluation out of PDFPlugin
  LayoutTests/compositing/plugins/pdf/pdf-plugin-printing-expected.txt
  LayoutTests/compositing/plugins/pdf/pdf-plugin-printing.html
  LayoutTests/resources/auto-print.pdf
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginBase.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginBase.mm
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginScriptEvaluator.mm
  Source/WebKit/WebProcess/Plugins/PDF/PDFScriptEvaluator.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFScriptEvaluator.mm
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemoteHost.mm
  Tools/MiniBrowser/mac/WK2BrowserWindowController.m
Labels: merge-queue, PDF

#22418 Add more LayoutUnit API tests for LayoutUnit::fromFloat*() behavior
  Tools/TestWebKitAPI/Tests/WebCore/LayoutUnitTests.cpp
Labels: unsafe-merge-queue, Layout and Rendering

#22446 Rename parserSelector variables to mutableSelector
  Source/WebCore/css/parser/CSSParserImpl.cpp
  Source/WebCore/css/parser/CSSSelectorParser.cpp
Labels: unsafe-merge-queue, CSS

#22395 [WebGPU] Texture sample type is unnecessarily generated against auto-generated layouts
  Source/WebGPU/WebGPU/BindGroup.mm
Labels: merge-queue, WebGPU

#22414 GC can run during B3::generate now, causing UAF in patchpoints
  JSTests/stress/gc-b3.js
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/dfg/DFGPlan.cpp
Labels: merge-queue, JavaScriptCore

#22448 [WebGPU] Calling GPUTexture.destroy() on the result of GPUCanvasContext.getCurrentTexture() is problematic
  Source/WebGPU/WebGPU/PresentationContextIOSurface.mm
  Source/WebGPU/WebGPU/Texture.h
  Source/WebGPU/WebGPU/Texture.mm
Labels: merge-queue, WebGPU

#22449 Generate EventNames.h and EventNames.cpp from a JSON file
  Source/WebCore/dom/make-event-names.py
Labels: unsafe-merge-queue, DOM

#22452 Remove duplicate PDFPluginScriptEvaluator.mm
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginScriptEvaluator.mm
Labels: unsafe-merge-queue, PDF

#22447 CRASH: Exception thrown from -[AVAssetResourceLoadingRequest finishLoading]
  Source/WebCore/platform/graphics/avfoundation/objc/WebCoreAVFResourceLoader.mm
Labels: merge-queue, Media

#22453 Rename *ShadowPseudoElement* to *UserAgentPart*
  Source/WebCore/style/ElementRuleCollector.cpp
  Source/WebCore/style/ElementRuleCollector.h
  Source/WebCore/style/RuleSet.cpp
  Source/WebCore/style/RuleSet.h
  Source/WebCore/style/StyleInvalidationFunctions.h
  Source/WebCore/style/StyleInvalidator.cpp
  Source/WebCore/style/StyleInvalidator.h
Labels: unsafe-merge-queue, CSS

#22454 Generate EventNames.h and EventNames.cpp from a JSON file
  Source/WebCore/dom/EventNames.json
Labels: unsafe-merge-queue, DOM

#21650 [Wasm-GC] Avoid spurious assertion in JSWebAssemblyArray::set
  JSTests/wasm/gc/bug266249.js
  Source/JavaScriptCore/wasm/WasmSlowPaths.cpp
  Source/JavaScriptCore/wasm/js/JSWebAssemblyArray.h
  Source/JavaScriptCore/wasm/js/JSWebAssemblyStruct.cpp
  Source/JavaScriptCore/wasm/js/JSWebAssemblyStruct.h
Labels: WebAssembly

#22450 Clean-up process-css-pseudo-selectors.py
  Source/WebCore/CMakeLists.txt
  Source/WebCore/DerivedSources.make
  Source/WebCore/css/CSSPseudoSelectors.json
  Source/WebCore/css/CSSSelector.h
  Source/WebCore/css/parser/MutableCSSSelector.cpp
  Source/WebCore/css/process-css-pseudo-selectors.py
Labels: unsafe-merge-queue, CSS

#22397 [WebGPU] webgpu:api,operation,resource_init,* does not pass
  LayoutTests/http/tests/webgpu/webgpu/api/operation/resource_init/buffer-expected.txt
  Source/WebGPU/WebGPU/CommandEncoder.h
  Source/WebGPU/WebGPU/CommandEncoder.mm
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
Labels: merge-queue, WebGPU

#22457 [iOS] -setSelectedTextRange: crashes with a nil range when async text input is enabled
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Tools/TestWebKitAPI/Tests/ios/KeyboardInputTestsIOS.mm
Labels: merge-queue, HTML Editing

#22437 Custom Highlights API painting does not invalidate properly when removing highlights
  LayoutTests/fast/repaint/highlight-removed-when-cleared-expected.txt
  LayoutTests/fast/repaint/highlight-removed-when-cleared.html
  Source/WebCore/Modules/highlight/HighlightRegistry.cpp
Labels: merge-queue, WebKit Misc.

#22327 Cache "containsOnlyASCIIWhitespace" on Node
  Source/WebCore/dom/CharacterData.cpp
  Source/WebCore/dom/CharacterData.h
  Source/WebCore/dom/Node.h
  Source/WebCore/html/HTMLObjectElement.cpp
  Source/WebCore/inspector/agents/InspectorDOMAgent.cpp
  Source/WebCore/rendering/updating/RenderTreeUpdater.cpp
  Source/WebCore/style/StyleTreeResolver.cpp
Labels: merge-queue, DOM

#21994 [WebGPU] CTS api,validation,texture,destroy test is failing
  LayoutTests/http/tests/webgpu/webgpu/api/validation/texture/destroy-expected.txt
  Source/WebGPU/WebGPU/CommandBuffer.h
  Source/WebGPU/WebGPU/CommandEncoder.h
  Source/WebGPU/WebGPU/CommandEncoder.mm
  Source/WebGPU/WebGPU/ComputePassEncoder.h
  Source/WebGPU/WebGPU/ComputePassEncoder.mm
  Source/WebGPU/WebGPU/RenderPassEncoder.h
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
  Source/WebGPU/WebGPU/Texture.h
  Source/WebGPU/WebGPU/Texture.mm
  Source/WebGPU/WebGPU/TextureView.h
  Source/WebGPU/WebGPU/TextureView.mm
Labels: WebGPU

#22462 REGRESSION(272726@main): Broke CMake builds
  Source/WebCore/CMakeLists.txt
Labels: unsafe-merge-queue, CMake

#22351 [cairo] freeze under WebCore::Cairo::fillRect at https://dev.orthologiq.net/
  LayoutTests/fast/gradients/conic-stop-with-offset-zero-in-middle-expected.html
  LayoutTests/fast/gradients/conic-stop-with-offset-zero-in-middle.html
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/platform/graphics/cairo/GradientCairo.cpp
Labels: merge-queue

#22432 RemoteGPUProxy uses GPUProcessConnection in thread-unsafe manner
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteGPUProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteGPUProxy.h
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebWorkerClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebWorkerClient.h
Labels: merge-queue, WebGPU
