Repository WebKit/WebKit, pull requests merged in 2024-08, with the labels that each got.

#31504 [masonry] Fix intrinsic sizing with fixed-size and auto
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-007-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-007-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-007.html
  Source/WebCore/rendering/GridTrackSizingAlgorithm.cpp
Labels: merge-queue, CSS

#31550 EnabledBy on a message erroneously applies to the entire receiver if it doesn't have any attribute
  Source/WebKit/Scripts/webkit/messages_unittest.py
  Source/WebKit/Scripts/webkit/parser.py
  Source/WebKit/Scripts/webkit/tests/Makefile
  Source/WebKit/Scripts/webkit/tests/MessageArgumentDescriptions.cpp
  Source/WebKit/Scripts/webkit/tests/MessageNames.cpp
  Source/WebKit/Scripts/webkit/tests/MessageNames.h
  Source/WebKit/Scripts/webkit/tests/TestWithEnabledBy.messages.in
  Source/WebKit/Scripts/webkit/tests/TestWithEnabledByMessageReceiver.cpp
  Source/WebKit/Scripts/webkit/tests/TestWithEnabledByMessages.h
Labels: unsafe-merge-queue, WebKit2

#31565 Add test case for floating object element
  LayoutTests/fast/block/crash-when-style-and-renderer-invalidated-for-floating-object-element-expected.txt
  LayoutTests/fast/block/crash-when-style-and-renderer-invalidated-for-floating-object-element.html
Labels: merge-queue

#31531 REGRESSION (281109@main?): [ Guard-Malloc ] media/media-source/media-managedmse-video-with-poster.html is constantly crashing.
  Source/WebCore/platform/cocoa/VideoPresentationModelVideoElement.h
  Source/WebKit/Platform/ios/VideoPresentationInterfaceLMK.mm
  Source/WebKit/UIProcess/Cocoa/PlaybackSessionManagerProxy.h
  Source/WebKit/UIProcess/Cocoa/PlaybackSessionManagerProxy.mm
  Source/WebKit/UIProcess/Cocoa/VideoPresentationManagerProxy.h
  Source/WebKit/UIProcess/Cocoa/VideoPresentationManagerProxy.mm
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenViewController.mm
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
  Source/WebKit/WebProcess/cocoa/PlaybackSessionManager.h
  Source/WebKit/WebProcess/cocoa/PlaybackSessionManager.mm
  Source/WebKit/WebProcess/cocoa/VideoPresentationManager.h
  Source/WebKit/WebProcess/cocoa/VideoPresentationManager.mm
Labels: Media

#31561 [WASM] Fix prefixed-opcode code origins for relaxed SIMD opcodes
  Source/JavaScriptCore/wasm/WasmOpcodeOrigin.h
Labels: merge-queue, WebAssembly

#31355 [WebGPU] three.js compute sample does not render on Intel Macs until window is resized
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUImpl.cpp
  Source/WebGPU/WebGPU/Buffer.h
  Source/WebGPU/WebGPU/Buffer.mm
  Source/WebGPU/WebGPU/CommandEncoder.h
  Source/WebGPU/WebGPU/CommandEncoder.mm
  Source/WebGPU/WebGPU/Device.mm
  Source/WebGPU/WebGPU/RenderBundle.h
  Source/WebGPU/WebGPU/RenderBundle.mm
  Source/WebGPU/WebGPU/RenderBundleEncoder.h
  Source/WebGPU/WebGPU/RenderBundleEncoder.mm
  Source/WebGPU/WebGPU/RenderPassEncoder.h
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
Labels: merge-queue, WebGPU

#31556 [JSC] Enable `Promise.try`
  Source/JavaScriptCore/runtime/OptionsList.h
Labels: merge-queue, JavaScriptCore

#31280 Avoid unaligned FP memory accesses on ARMv7
  Source/JavaScriptCore/assembler/CPU.h
  Source/JavaScriptCore/b3/B3LowerInt64.cpp
  Source/JavaScriptCore/b3/B3LowerToAir32_64.cpp
Labels: merge-queue, JavaScriptCore

#31574 REGRESSION(281024@main) LLInt return locations need to be added to JITOperationList
  Source/JavaScriptCore/assembler/JITOperationList.cpp
  Source/JavaScriptCore/llint/LLIntOpcode.h
  Source/JavaScriptCore/llint/LLIntThunks.cpp
Labels: merge-queue, JavaScriptCore

#31575 Remove unused CSSAtRuleViewport
  Source/WebCore/css/parser/CSSAtRuleID.cpp
  Source/WebCore/css/parser/CSSAtRuleID.h
Labels: unsafe-merge-queue, CSS

#30763 Deprecate injected bundle frame access interfaces
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundlePage.h
  Source/WebKit/WebProcess/InjectedBundle/API/glib/WebKitWebPage.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/glib/WebKitWebPage.h.in
  Source/WebKit/WebProcess/InjectedBundle/API/mac/WKWebProcessPlugInBrowserContextController.h
  Tools/TestWebKitAPI/Tests/WebKit/WebArchive_Bundle.cpp
  Tools/TestWebKitAPI/Tests/WebKitGLib/DOMElementTest.cpp
  Tools/TestWebKitAPI/Tests/WebKitGLib/EditorTest.cpp
  Tools/TestWebKitAPI/Tests/WebKitGLib/FrameTest.cpp
  Tools/TestWebKitAPI/Tests/WebKitGLib/WebProcessExtensionTest.cpp
  Tools/WebKitTestRunner/InjectedBundle/InjectedBundlePage.cpp
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.cpp
  Tools/WebKitTestRunner/InjectedBundle/atspi/AccessibilityNotificationHandler.cpp
Labels: unsafe-merge-queue, WebKit API

#31580 Fix TestWebKitAPI.IPCTestingAPI.SerializedTypeInfo after 280942@main
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Labels: Tools / Tests

#31567 /pointerevents/extension WPTs are outdated and missing from upstream
  LayoutTests/imported/w3c/web-platform-tests/pointerevents/extension/idlharness.window.js
  LayoutTests/imported/w3c/web-platform-tests/pointerevents/extension/pointerevent_constructor-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/pointerevents/extension/pointerevent_constructor.html
  LayoutTests/imported/w3c/web-platform-tests/pointerevents/extension/pointerevent_touch-action-verification-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/pointerevents/extension/pointerevent_touch-action-verification.html
Labels: unsafe-merge-queue, Tools / Tests

#31534 View stability should be updated for Overlay Regions
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewInternal.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
Labels: merge-queue, Scrolling

#31553 REGRESSION (280789@main?): [ Sonoma wk2 release ] http/tests/webgpu/webgpu/api/validation/encoding/cmds/render/draw.html is constant crash.
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
Labels: merge-queue, WebGPU

#31585 [UnifiedPDF] UnifiedPDF::setNeedsRepaintInDocumentRects() is not needed
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: unsafe-merge-queue, PDF

#31470 REGRESSION(279663@main): [GTK][WPE] layout-tests-repeat-failures step tries to run tests with unescaped filenames and that fails.
  Tools/CISupport/build-webkit-org/steps.py
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: unsafe-merge-queue, Tools / Tests

#29613 WebGLRenderingContextBase::hint validation is redundant
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
Labels: merge-queue, WebGL

#29396 WebGLRenderingContextBase::validateCompressedTexFormat is redundant
  Source/WebCore/html/canvas/WebGL2RenderingContext.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
Labels: merge-queue, WebGL

#29611 WebGLRenderingContextBase::depthRange validation is redundant
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
Labels: merge-queue, WebGL

#31590 [LibWebRTC] Build fix for Linux after 281618@main
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCMonitor.cpp
Labels: unsafe-merge-queue

#31524 REGRESSION(256273@main): Stopped remote audio destination is started when audio buffer changes
  Source/WebKit/GPUProcess/media/RemoteAudioDestinationManager.cpp
Labels: unsafe-merge-queue, Web Audio

#31577 Video Viewer: Exiting pip puts the video into inline and shrinks video content
  Source/WebCore/platform/cocoa/PlaybackSessionModel.h
  Source/WebCore/platform/cocoa/PlaybackSessionModelMediaElement.h
  Source/WebCore/platform/cocoa/PlaybackSessionModelMediaElement.mm
  Source/WebCore/platform/ios/WebVideoFullscreenControllerAVKit.mm
  Source/WebCore/platform/mac/PlaybackSessionInterfaceMac.h
  Source/WebCore/platform/mac/PlaybackSessionInterfaceMac.mm
  Source/WebCore/platform/mac/WebPlaybackControlsManager.h
  Source/WebCore/platform/mac/WebPlaybackControlsManager.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
  Source/WebKit/UIProcess/Cocoa/PlaybackSessionManagerProxy.h
  Source/WebKit/UIProcess/Cocoa/PlaybackSessionManagerProxy.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKit/WebProcess/cocoa/PlaybackSessionManager.h
  Source/WebKit/WebProcess/cocoa/PlaybackSessionManager.messages.in
  Source/WebKit/WebProcess/cocoa/PlaybackSessionManager.mm
  Tools/TestWebKitAPI/Tests/mac/InWindowFullscreen.mm
Labels: merge-queue, Media

#31587 [GTK] `hyphens: auto` text is not hyphenated when `lang` attribute is not set
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/gtk/fast/text/hyphenate-locale-expected.png
  LayoutTests/platform/gtk/fast/text/hyphenate-locale-expected.txt
  LayoutTests/platform/gtk/fast/text/simple-line-hyphens-with-text-align-expected.html
  LayoutTests/platform/gtk/fast/text/simple-line-hyphens-with-word-letter-spacing-expected.html
  LayoutTests/platform/gtk/fast/text/simple-line-layout-hyphen-limit-after-expected.html
  LayoutTests/platform/gtk/fast/text/simple-line-layout-hyphen-limit-before-expected.html
  LayoutTests/platform/gtk/fast/text/simple-line-layout-hyphen-limit-lines-expected.html
  LayoutTests/platform/wpe/fast/text/simple-line-hyphens-with-text-align-expected.html
  LayoutTests/platform/wpe/fast/text/simple-line-hyphens-with-word-letter-spacing-expected.html
  LayoutTests/platform/wpe/fast/text/simple-line-layout-hyphen-limit-after-expected.html
  LayoutTests/platform/wpe/fast/text/simple-line-layout-hyphen-limit-before-expected.html
  LayoutTests/platform/wpe/fast/text/simple-line-layout-hyphen-limit-lines-expected.html
  Source/WebCore/platform/text/hyphen/HyphenationLibHyphen.cpp
Labels: merge-queue, WebKitGTK

#31583 [ Sonoma Release ] 2 Storage API tests are flaky timeouts.
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IndexedDBTempFileSize.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/LocalStoragePersistence.mm
Labels: unsafe-merge-queue, Website Storage

#31566 ASAN_BUS | WebCore::CloneDeserializer::readTerminal; WebCore::CloneDeserializer::deserialize; WebCore::SerializedScriptValue::deserialize
  Tools/TestWebKitAPI/Tests/WebCore/SerializedScriptValue.cpp
Labels: merge-queue

#31576 Use more smart pointers in ComposedTreeIterator.h
  Source/WebCore/dom/ComposedTreeIterator.h
Labels: unsafe-merge-queue, DOM

#31562 [Grid] Plumb GridLayoutState through GridTrackSizingAlgorithm
  Source/WebCore/rendering/GridTrackSizingAlgorithm.cpp
  Source/WebCore/rendering/GridTrackSizingAlgorithm.h
  Source/WebCore/rendering/RenderGrid.cpp
Labels: merge-queue, Layout and Rendering

#29308 Drop process termination workaround landed in 277509@main
  Source/WTF/wtf/PlatformUse.h
  Source/WebKit/Platform/cocoa/XPCUtilities.h
  Source/WebKit/Platform/cocoa/XPCUtilities.mm
  Source/WebKit/Shared/Authentication/cocoa/AuthenticationManagerCocoa.mm
  Source/WebKit/Shared/Cocoa/XPCEndpoint.mm
  Source/WebKit/Shared/EntryPointUtilities/Cocoa/XPCService/XPCServiceMain.mm
Labels: unsafe-merge-queue, WebKit2

#31558 Rename WKSafeBrowsingWarning to WKWarningView
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewInternal.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/UIProcess/API/mac/WKWebViewMac.mm
  Source/WebKit/UIProcess/Cocoa/_WKWarningView.h
  Source/WebKit/UIProcess/Cocoa/_WKWarningView.mm
  Source/WebKit/UIProcess/mac/PageClientImplMac.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: unsafe-merge-queue, Page Loading

#31559 Enable wasm tail calls
  JSTests/wasm/stress/tail-call-indirect-parameters-on-stack.js
  JSTests/wasm/stress/tail-call-parameters-on-stack.js
  JSTests/wasm/stress/tail-call.js
  Source/JavaScriptCore/runtime/OptionsList.h
Labels: merge-queue, WebAssembly

#31325 [scrollbar-styling] Implement scrollbar-width for iOS
  LayoutTests/fast/scrolling/ios/scrollbar-width-expected.txt
  LayoutTests/fast/scrolling/ios/scrollbar-width-iframe-expected.txt
  LayoutTests/fast/scrolling/ios/scrollbar-width-iframe.html
  LayoutTests/fast/scrolling/ios/scrollbar-width.html
  LayoutTests/resources/ui-helper.js
  Source/WebCore/page/scrolling/ScrollingTree.cpp
  Source/WebCore/page/scrolling/ScrollingTree.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/UIProcess/API/ios/WKWebViewPrivateForTestingIOS.h
  Source/WebKit/UIProcess/API/ios/WKWebViewTestingIOS.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeFrameScrollingNodeRemoteIOS.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeFrameScrollingNodeRemoteIOS.mm
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeOverflowScrollingNodeIOS.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeOverflowScrollingNodeIOS.mm
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeScrollingNodeDelegateIOS.mm
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.h
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.mm
Labels: unsafe-merge-queue, New Bugs

#31557 [JSC] Enable `RegExp.escape`
  JSTests/ChakraCore/test/es5/RegExpStrictDelete.baseline-jsc
  LayoutTests/js/Object-getOwnPropertyNames-expected.txt
  LayoutTests/js/dom/regexp-caching-expected.txt
  LayoutTests/js/script-tests/Object-getOwnPropertyNames.js
  Source/JavaScriptCore/runtime/OptionsList.h
Labels: unsafe-merge-queue, JavaScriptCore

#31515 text-autospace: Parse ideograph-alpha, ideograph-numeric and normal
  LayoutTests/imported/w3c/web-platform-tests/css/css-text/parsing/text-autospace-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-text/parsing/text-autospace-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/accumulation-per-property-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/addition-per-property-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/interpolation-per-property-002-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/accumulation-per-property-002-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/addition-per-property-002-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/interpolation-per-property-002-expected.txt
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/CSSValueKeywords.in
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/platform/text/TextSpacing.h
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/style/StyleBuilderConverter.h
Labels: merge-queue, Text

#31594 [@page] `size` should only parse as a descriptor, not a global CSS property
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/js/CSS-supports-CSSStyleDeclaration-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-page/parsing/size-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-page/parsing/size-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/cssom-getPropertyValue-common-checks-expected.txt
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/parser/CSSParserImpl.cpp
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/css/parser/CSSPropertyParser.h
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/style/StyleBuilder.cpp
  Source/WebCore/style/StyleBuilder.h
  Source/WebCore/style/StyleBuilderCustom.h
Labels: merge-queue, CSS

#31549 Expose model bounding box to JS
  Source/WebCore/Modules/model-element/HTMLModelElement.cpp
  Source/WebCore/Modules/model-element/HTMLModelElement.h
  Source/WebCore/Modules/model-element/HTMLModelElement.idl
  Source/WebCore/Modules/model-element/ModelPlayerClient.h
  Source/WebCore/dom/DOMPointReadOnly.h
  Source/WebKit/ModelProcess/cocoa/ModelProcessModelPlayerProxy.h
  Source/WebKit/ModelProcess/cocoa/ModelProcessModelPlayerProxy.mm
  Source/WebKit/WebProcess/Model/ModelProcessModelPlayer.cpp
  Source/WebKit/WebProcess/Model/ModelProcessModelPlayer.h
  Source/WebKit/WebProcess/Model/ModelProcessModelPlayer.messages.in
Labels: merge-queue, WebCore Misc.

#31601 AX: lineTextMarkerRangeForTextMarker returns too much text for some blank lines
  LayoutTests/accessibility/mac/line-text-marker-range-for-text-marker-expected.txt
  LayoutTests/accessibility/mac/line-text-marker-range-for-text-marker.html
  Source/WebCore/accessibility/AccessibilityObject.cpp
Labels: Accessibility

#31604 [css-grid] Improve GridTrackSizingAlgorithm Architecture
  Source/WebCore/rendering/GridTrackSizingAlgorithm.cpp
  Source/WebCore/rendering/GridTrackSizingAlgorithm.h
  Source/WebCore/rendering/RenderGrid.cpp
Labels: merge-queue, CSS

#31609 Rename SafeBrowsingWarning to BrowsingWarning
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewInternal.h
  Source/WebKit/UIProcess/BrowsingWarning.h
  Source/WebKit/UIProcess/Cocoa/BrowsingWarningCocoa.mm
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
  Source/WebKit/UIProcess/Cocoa/_WKWarningView.h
  Source/WebKit/UIProcess/Cocoa/_WKWarningView.mm
  Source/WebKit/UIProcess/PageClient.h
  Source/WebKit/UIProcess/WebFramePolicyListenerProxy.cpp
  Source/WebKit/UIProcess/WebFramePolicyListenerProxy.h
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/ios/PageClientImplIOS.h
  Source/WebKit/UIProcess/ios/PageClientImplIOS.mm
  Source/WebKit/UIProcess/mac/PageClientImplMac.h
  Source/WebKit/UIProcess/mac/PageClientImplMac.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: unsafe-merge-queue, Page Loading

#31610 Rename PageLoadState's titleFromSafeBrowsingWarning to titleFromBrowsingWarning
  Source/WebKit/UIProcess/PageLoadState.cpp
  Source/WebKit/UIProcess/PageLoadState.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: unsafe-merge-queue, Page Loading

#31607 REGRESSION(278195@main): A bitmap image may get the size of a subsampled frame
  Source/WebCore/platform/graphics/BitmapImageDescriptor.cpp
  Source/WebCore/platform/graphics/BitmapImageDescriptor.h
  Source/WebCore/platform/graphics/BitmapImageSource.h
  Source/WebCore/platform/graphics/ImageSource.h
  Source/WebCore/platform/graphics/NativeImageSource.h
Labels: unsafe-merge-queue, Images

#31563 Add required additions to Networking process for intermediary
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.Networking.sb.in
Labels: unsafe-merge-queue

#31615 Fix build error from missing operation
  Source/JavaScriptCore/assembler/JITOperationList.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#31614 DNS filtering not flagging expected domains
  Source/WebCore/platform/network/mac/ResourceErrorMac.mm
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.mm
Labels: unsafe-merge-queue

#31611 Rename instances of SafeBrowsingWarning in PageClient and WKWebView
  Source/WebKit/UIProcess/API/C/WKPage.cpp
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewInternal.h
  Source/WebKit/UIProcess/PageClient.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/ios/PageClientImplIOS.h
  Source/WebKit/UIProcess/ios/PageClientImplIOS.mm
  Source/WebKit/UIProcess/mac/PageClientImplMac.h
  Source/WebKit/UIProcess/mac/PageClientImplMac.mm
Labels: unsafe-merge-queue, Page Loading

#31608 [Cocoa] Remove some dead code after 266523@main (277499)
  Source/WebCore/platform/cocoa/ParentalControlsContentFilter.h
  Source/WebCore/platform/cocoa/ParentalControlsContentFilter.mm
Labels: unsafe-merge-queue, WebKit Misc.

#31618 Raindrop extension doesn't seem to be able to authenticate.
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIPermissions.mm
Labels: unsafe-merge-queue, WebKit Extensions

#31617 [JSC] TaintedByWithScopeLexicallyScopedFeature should account for HTMLElement's event handler attributes
  Source/JavaScriptCore/bytecode/UnlinkedFunctionExecutable.cpp
  Source/JavaScriptCore/bytecode/UnlinkedFunctionExecutable.h
  Source/JavaScriptCore/runtime/FunctionConstructor.cpp
  Source/JavaScriptCore/runtime/FunctionConstructor.h
  Source/JavaScriptCore/runtime/FunctionExecutable.cpp
  Source/JavaScriptCore/runtime/FunctionExecutable.h
  Source/WebCore/bindings/js/JSLazyEventListener.cpp
  Source/WebCore/bindings/js/JSNodeCustom.cpp
  Source/WebCore/bindings/scripts/CodeGeneratorJS.pm
  Source/WebCore/bindings/scripts/IDLAttributes.json
  Source/WebCore/dom/Node.idl
  Source/WebCore/html/HTMLElement.idl
Labels: unsafe-merge-queue, JavaScriptCore

#31589 [UnifiedPDF] (nearest)pageIndexForDocumentPoint() should be exposed through the presentation controller
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFPresentationController.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFPresentationController.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: unsafe-merge-queue, PDF

#31591 [UnifiedPDF] Callers should be able to plumb layout row to AsyncPDFRenderer::pdfContentChangedInRect()
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/AsyncPDFRenderer.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/AsyncPDFRenderer.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFDiscretePresentationController.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFScrollingPresentationController.mm
Labels: unsafe-merge-queue, PDF

#31625 [Win] Unreviewed test gardening
  LayoutTests/platform/win/TestExpectations
Labels: unsafe-merge-queue

#31597 [GTK] Add support for explicit sync
  Source/WebKit/SourcesGTK.txt
  Source/WebKit/UIProcess/glib/FenceMonitor.cpp
  Source/WebKit/UIProcess/glib/FenceMonitor.h
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreDMABuf.cpp
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStoreDMABuf.h
  Source/WebKit/UIProcess/gtk/WebPageProxyGtk.cpp
Labels: unsafe-merge-queue, WebKitGTK

#31603 Remove unnecessary IDBStorageConnectionToClient::didGetResult
  Source/WebKit/NetworkProcess/storage/IDBStorageConnectionToClient.cpp
  Source/WebKit/NetworkProcess/storage/IDBStorageConnectionToClient.h
Labels: merge-queue, New Bugs

#31624 [JSC] Add teeLocal to wasm generators
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
  Source/JavaScriptCore/wasm/WasmBBQJIT.h
  Source/JavaScriptCore/wasm/WasmConstExprGenerator.cpp
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Source/JavaScriptCore/wasm/WasmIPIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmOMGIRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmOMGIRGenerator32_64.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#31599 Fix missing r in inactiveMediaCaptureSteamRepromptIntervalInMinutes preference
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebKit/UIProcess/API/C/WKPreferences.cpp
  Source/WebKit/UIProcess/API/C/WKPreferencesRefPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKPreferences.mm
  Source/WebKit/UIProcess/API/Cocoa/WKPreferencesPrivate.h
  Source/WebKit/UIProcess/UserMediaPermissionRequestManagerProxy.cpp
  Tools/TestWebKitAPI/Tests/WebKit/GetUserMedia.mm
  Tools/TestWebKitAPI/Tests/WebKit/GetUserMediaReprompt.mm
Labels: merge-queue, WebRTC

#31529 Introduce a MediaSessionCaptureToggleAPIEnabled flag
  LayoutTests/http/wpt/mediasession/disabledToggleCapture-expected.txt
  LayoutTests/http/wpt/mediasession/disabledToggleCapture.html
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/Modules/mediasession/MediaSession.cpp
  Source/WebCore/Modules/mediasession/MediaSession.h
Labels: merge-queue, WebRTC

#31633 [UnifiedPDF] UnifiedPDFPlugin::visibleRow() is an unnecessary declaration
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.h
Labels: unsafe-merge-queue, PDF

#31581 [Cocoa] Introduce a compile time flag for `WKShareSheet`
  Source/WTF/wtf/PlatformHave.h
  Source/WebKit/UIProcess/Cocoa/WKShareSheet.h
  Source/WebKit/UIProcess/Cocoa/WKShareSheet.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/ios/WKPDFView.h
  Source/WebKit/UIProcess/ios/WKPDFView.mm
Labels: merge-queue, New Bugs

#31619 Drop foreground and background NetworkProcess/GPUProcess token if WebProcess shuts down while in foreground or background state
  Source/WebKit/UIProcess/WebProcessProxy.cpp
Labels: merge-queue, WebKit Process Model

#31628 [JSC] Add more transfer functions to MacroAssembler
  Source/JavaScriptCore/assembler/MacroAssemblerARM64.h
  Source/JavaScriptCore/assembler/MacroAssemblerARMv7.h
  Source/JavaScriptCore/assembler/MacroAssemblerRISCV64.h
  Source/JavaScriptCore/assembler/MacroAssemblerX86_64.h
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
  Source/JavaScriptCore/wasm/WasmBBQJIT32_64.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#31564 Add a message check to WebPageProxy::SerializedAttachmentDataForIdentifiers
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: unsafe-merge-queue, WebKit2

#31647 [JSC] Remove unused argument in isMergeableValue from B3LowerToAir
  Source/JavaScriptCore/b3/B3LowerToAir.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#31648 [JSC] Rename isReflexiveBinaryUseKind to isSymmetricBinaryUseKind
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
  Source/JavaScriptCore/dfg/DFGDoesGC.cpp
  Source/JavaScriptCore/dfg/DFGMayExit.cpp
  Source/JavaScriptCore/dfg/DFGNode.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#31520 Filter IPC messages to WebProcessProxy
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebKit/UIProcess/Media/RemoteMediaSessionCoordinatorProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/SpeechRecognitionRemoteRealtimeMediaSourceManager.cpp
  Source/WebKit/UIProcess/SpeechRecognitionServer.cpp
  Source/WebKit/UIProcess/WebAuthentication/WebAuthenticatorCoordinatorProxy.cpp
  Source/WebKit/UIProcess/WebFullScreenManagerProxy.cpp
  Source/WebKit/UIProcess/WebLockRegistryProxy.h
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/UIProcess/WebProcessProxy.messages.in
  Source/WebKit/UIProcess/XR/PlatformXRSystem.cpp
Labels: unsafe-merge-queue, WebKit2

#31630 Notify WKNavigationDelegate when GPU process crashed too frequently
  Source/WebKit/Shared/ProcessTerminationReason.cpp
  Source/WebKit/Shared/ProcessTerminationReason.h
  Source/WebKit/UIProcess/API/C/WKAPICast.h
  Source/WebKit/UIProcess/API/Cocoa/WKNavigationDelegatePrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKProcessPool.mm
  Source/WebKit/UIProcess/API/glib/WebKitNavigationClient.cpp
  Source/WebKit/UIProcess/Cocoa/NavigationState.mm
  Source/WebKit/UIProcess/GPU/GPUProcessProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessPool.h
  Tools/TestWebKitAPI/Tests/WebKit/NetworkProcessCrashWithPendingConnection.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/GPUProcess.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/LoadAlternateHTMLString.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/LoadInvalidURLRequest.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ProcessPreWarming.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ProcessSwapOnNavigation.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKAttachmentTests.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebContentProcessDidTerminate.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WritingTools.mm
  Tools/TestWebKitAPI/Tests/ios/ActionSheetTests.mm
  Tools/TestWebKitAPI/Tests/ios/ScrollViewInsetTests.mm
  Tools/TestWebKitAPI/cocoa/TestNavigationDelegate.h
  Tools/TestWebKitAPI/cocoa/TestNavigationDelegate.mm
Labels: unsafe-merge-queue, WebKit2

#31606 [css-grid] Add FIXME about refactoring work to remove m_trackSizingAlgorithm from RenderGrid.h
  Source/WebCore/rendering/RenderGrid.h
Labels: merge-queue, CSS

#31568 [WASM] Add missing expand() when computing caller information in tail calls and OMG
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
  Source/JavaScriptCore/wasm/WasmLLIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmOMGIRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmOMGIRGenerator32_64.cpp
Labels: merge-queue, WebAssembly

#31637 Fix a few more type mismatches in WasmOMGIRGenerator32_64.cpp
  Source/JavaScriptCore/wasm/WasmOMGIRGenerator32_64.cpp
Labels: merge-queue, JavaScriptCore

#31635 [JSC] Aggressively Index form for WasmAddress
  Source/JavaScriptCore/b3/B3LowerToAir.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#31569 Remove and replace `Internals::setTopContentInset()`
  LayoutTests/fast/scrolling/latching/scroll-select-bottom-test.html
  LayoutTests/fast/scrolling/mac/async-scroll-overflow-top-inset.html
  LayoutTests/platform/mac-site-isolation/TestExpectations
  LayoutTests/platform/mac-wk1/fast/backgrounds/top-content-inset-fixed-attachment.html
  LayoutTests/platform/mac-wk2/accessibility/content-inset-scrollview-frame.html
  LayoutTests/platform/mac/fast/events/content-inset-hit-testing-in-frame.html
  LayoutTests/platform/mac/fast/events/content-inset-hit-testing.html
  LayoutTests/scrollingcoordinator/mac/top-content-inset-to-zero.html
  LayoutTests/tiled-drawing/scrolling/non-fast-region/top-content-inset-header.html
  LayoutTests/tiled-drawing/scrolling/non-fast-region/top-content-inset.html
  LayoutTests/tiled-drawing/top-content-inset-fixed-attachment-body.html
  LayoutTests/tiled-drawing/top-content-inset-fixed-attachment-cover-expected.html
  LayoutTests/tiled-drawing/top-content-inset-fixed-attachment-cover-local-expected.html
  LayoutTests/tiled-drawing/top-content-inset-fixed-attachment-cover-local.html
  LayoutTests/tiled-drawing/top-content-inset-fixed-attachment-cover.html
  LayoutTests/tiled-drawing/top-content-inset-fixed-attachment-expected.html
  LayoutTests/tiled-drawing/top-content-inset-fixed-attachment-local-expected.html
  LayoutTests/tiled-drawing/top-content-inset-fixed-attachment-local.html
  LayoutTests/tiled-drawing/top-content-inset-fixed-attachment-positioned-expected.html
  LayoutTests/tiled-drawing/top-content-inset-fixed-attachment-positioned.html
  LayoutTests/tiled-drawing/top-content-inset-fixed-attachment.html
  LayoutTests/tiled-drawing/visible-rect-content-inset.html
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
  Source/WebKit/UIProcess/API/C/WKPage.cpp
  Source/WebKit/UIProcess/API/C/WKPagePrivate.h
  Source/WebKit/UIProcess/WebPageProxyTesting.cpp
  Source/WebKit/UIProcess/WebPageProxyTesting.h
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
  Source/WebKit/WebProcess/WebPage/WebPageTesting.cpp
  Source/WebKit/WebProcess/WebPage/WebPageTesting.h
  Source/WebKit/WebProcess/WebPage/WebPageTesting.messages.in
  Source/WebKitLegacy/mac/WebView/WebView.mm
  Source/WebKitLegacy/mac/WebView/WebViewPrivate.h
  Tools/DumpRenderTree/TestRunner.cpp
  Tools/DumpRenderTree/TestRunner.h
  Tools/DumpRenderTree/mac/TestRunnerMac.mm
  Tools/WebKitTestRunner/InjectedBundle/Bindings/TestRunner.idl
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.cpp
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.h
  Tools/WebKitTestRunner/TestController.cpp
Labels: unsafe-merge-queue, Tools / Tests

#31659 Fix internal builds after 281757@main
  Source/WTF/wtf/PlatformHave.h
  Source/WebKit/UIProcess/Cocoa/WKShareSheet.h
  Source/WebKit/UIProcess/Cocoa/WKShareSheet.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/ios/WKPDFView.h
  Source/WebKit/UIProcess/ios/WKPDFView.mm
Labels: unsafe-merge-queue, New Bugs

#31645 Save the GraphicsLayer Tree to a file in addition to printing to stderr
  Source/WebCore/platform/graphics/GraphicsLayer.cpp
Labels: merge-queue, Compositing

#31627 [cocoa] Begin adding https navigation failure browsing warning
  Source/WebCore/en.lproj/Localizable.strings
  Source/WebKit/UIProcess/BrowsingWarning.h
  Source/WebKit/UIProcess/Cocoa/BrowsingWarningCocoa.mm
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
Labels: unsafe-merge-queue, Page Loading

#31632 [UnifiedPDF] PDFPresentationController::updateForCurrentScrollability() should use the scrollability provided by callers
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFDiscretePresentationController.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFScrollingPresentationController.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: unsafe-merge-queue, PDF

#31626 Handle setAppBadge in webpushd
  Source/WebKit/Configurations/WebKit.xcconfig
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkProcess.messages.in
  Source/WebKit/NetworkProcess/Notifications/NetworkNotificationManager.cpp
  Source/WebKit/NetworkProcess/Notifications/NetworkNotificationManager.h
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.webpushd.sb.in
  Source/WebKit/Scripts/process-entitlements.sh
  Source/WebKit/Shared/Notifications/NotificationManagerMessageHandler.h
  Source/WebKit/Shared/Notifications/NotificationManagerMessageHandler.messages.in
  Source/WebKit/UIProcess/API/Cocoa/WKWebsiteDataStore.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebsiteDataStorePrivate.h
  Source/WebKit/UIProcess/Notifications/ServiceWorkerNotificationHandler.h
  Source/WebKit/UIProcess/Notifications/WebNotificationManagerMessageHandler.h
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.h
  Source/WebKit/WebProcess/WebProcess.cpp
  Source/WebKit/webpushd/PushClientConnection.h
  Source/WebKit/webpushd/PushClientConnection.messages.in
  Source/WebKit/webpushd/PushClientConnection.mm
  Source/WebKit/webpushd/WebPushDaemon.h
  Source/WebKit/webpushd/WebPushDaemon.mm
  Source/WebKit/webpushd/_WKMockUserNotificationCenter.h
  Source/WebKit/webpushd/_WKMockUserNotificationCenter.mm
  Source/WebKit/webpushd/mac/com.apple.WebKit.webpushd.mac.sb.in
  Source/WebKit/webpushd/mac/com.apple.WebKit.webpushd.relocatable.mac.sb.in
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebPushDaemon.mm
  WebKitLibraries/SDKs/iphoneos17.0-additions.sdk/System/Library/PrivateFrameworks/UIKitServices.framework/UIKitServices.tbd
  WebKitLibraries/SDKs/iphoneos18.0-additions.sdk/System/Library/PrivateFrameworks/UIKitServices.framework/UIKitServices.tbd
  WebKitLibraries/SDKs/iphonesimulator17.0-additions.sdk/System/Library/PrivateFrameworks/UIKitServices.framework/UIKitServices.tbd
  WebKitLibraries/SDKs/iphonesimulator18.0-additions.sdk/System/Library/PrivateFrameworks/UIKitServices.framework/UIKitServices.tbd
Labels: merge-queue, WebKit Misc.

#31588 Adopt async eventSender mouse functions in animations/, compositing/, css3/, pointerevents/
  LayoutTests/accessibility/file-upload-button-stringvalue.html
  LayoutTests/animations/restart-after-scroll-nested.html
  LayoutTests/animations/restart-after-scroll.html
  LayoutTests/compositing/iframes/crash-mouse-event.html
  LayoutTests/compositing/iframes/layout-on-compositing-change.html
  LayoutTests/compositing/iframes/leave-compositing-iframe.html
  LayoutTests/compositing/iframes/resources/leave-compositing-subframe-click.html
  LayoutTests/compositing/no-compositing-when-full-screen-is-present.html
  LayoutTests/css3/scroll-snap/scroll-padding-overflow-paging.html
  LayoutTests/css3/scroll-snap/scroll-snap-click-scrollbar-gutter.html
  LayoutTests/css3/scroll-snap/scroll-snap-drag-scrollbar-thumb-with-relayouts.html
  LayoutTests/css3/scroll-snap/scroll-snap-drag-scrollbar-thumb-with-sticky.html
  LayoutTests/css3/scroll-snap/scroll-snap-drag-scrollbar-thumb.html
  LayoutTests/css3/scroll-snap/scroll-snap-wheel-event.html
  LayoutTests/css3/viewport-percentage-lengths/vh-resize.html
  LayoutTests/pointerevents/mouse/compatibility-mouse-events-prevention-mouse-pressed.html
  LayoutTests/pointerevents/mouse/compatibility-mouse-events-prevention-mouse-released.html
  LayoutTests/pointerevents/mouse/pointer-button-and-buttons.html
  LayoutTests/pointerevents/mouse/pointer-capture-element-removal.html
  LayoutTests/pointerevents/mouse/pointer-event-basic-properties.html
  LayoutTests/pointerevents/mouse/pointerdown-prevent-default.html
Labels: Tools / Tests

#31651 Clean up some radial-size logic in shapes and gradients
  Source/WebCore/platform/graphics/FloatQuad.cpp
  Source/WebCore/platform/graphics/GeometryUtilities.cpp
  Source/WebCore/platform/graphics/GeometryUtilities.h
  Source/WebCore/rendering/shapes/Shape.cpp
  Source/WebCore/rendering/style/BasicShapes.cpp
  Source/WebCore/rendering/style/BasicShapes.h
  Source/WebCore/rendering/style/StyleGradientImage.cpp
Labels: merge-queue, CSS

#30564 [Writing Tools] Make Table: Mail: Generated table has extra borderlines
  Source/WebCore/editing/CompositeEditCommand.cpp
  Source/WebCore/editing/CompositeEditCommand.h
  Source/WebCore/editing/WritingToolsCompositionCommand.cpp
  Source/WebCore/editing/WritingToolsCompositionCommand.h
  Source/WebCore/page/writing-tools/WritingToolsController.h
  Source/WebCore/page/writing-tools/WritingToolsController.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WritingTools.mm
Labels: merge-queue, HTML Editing

#31674 Notify WKNavigationDelegate when GPU process crashed too frequently
  Source/WebKit/UIProcess/Model/ModelProcessProxy.cpp
Labels: unsafe-merge-queue, WebKit2

#31679 Update merge-queue and commit-queue build architectures
  Tools/CISupport/ews-build/config.json
Labels: Tools / Tests, skip-ews

#31681 Fix a bug from `process-maintenance-backlog.py` in python3.
  Websites/perf.webkit.org/tools/process-maintenance-backlog.py
Labels: merge-queue, Tools / Tests

#31687 [Pointer Events] `pointerevent_click_is_a_pointerevent.html` needs to be updated to account for scrollbars
  LayoutTests/imported/w3c/web-platform-tests/pointerevents/pointerevent_click_is_a_pointerevent.html
Labels: unsafe-merge-queue, UI Events

#22476 lh unit is sometimes computed before line-height is resolved
  LayoutTests/imported/w3c/web-platform-tests/css/css-values/lh-unit-same-element-font-size-dependency-expected.xht
  LayoutTests/imported/w3c/web-platform-tests/css/css-values/lh-unit-same-element-font-size-dependency.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-values/lh-unit-same-element-line-height-dependency-expected.xht
  LayoutTests/imported/w3c/web-platform-tests/css/css-values/lh-unit-same-element-line-height-dependency.html
  Source/WebCore/style/StyleBuilder.cpp
Labels: merge-queue, CSS

#31507 [GLIB][WebDriver] Avoid assertion when modifying a collection being iterated
  Source/JavaScriptCore/inspector/remote/glib/RemoteInspectorServer.cpp
Labels: merge-queue, WebDriver

#31535 Sync `svg/linking` tests from WPT upstream
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/href-a-element-ref.html
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/href-feImage-element-ref.html
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/href-filter-element-ref.html
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/href-gradient-element-ref.html
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/href-image-element-ref.html
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/href-pattern-element-ref.html
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/href-textPath-element-ref.html
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/href-use-element-ref.html
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/support/green-random-rects.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/support/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/svgview-viewbox-override-multiple-expected.html
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/svgview-viewbox-override-multiple.html
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/url-processing-invalid-base-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/url-processing-invalid-base.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/url-processing-whitespace-001-expected.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/url-processing-whitespace-002-expected.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/url-processing-whitespace-003-expected.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/url-reference-local-textpath-expected.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/use-descendant-combinator-001-expected.html
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/use-descendant-combinator-002-expected.html
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/use-descendant-combinator-003-expected.html
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/use-descendant-combinator-ref.html
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/use-hidden-attr-change-expected.html
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/use-keyframes-ref.html
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/use-nested-symbol-001-expected.html
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/use-symbol-rendered-001-expected.html
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/use-template-expected.html
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/use-template-ref.html
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/use-template.html
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/view-viewbox-override-expected.html
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/view-viewbox-override.html
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/reftests/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/scripted/a.text-getter-01-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/scripted/a.text-getter-01.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/scripted/a.text-setter-01-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/scripted/a.text-setter-01.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/scripted/href-animate-element.html
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/scripted/href-mpath-element.html
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/scripted/testcommon.js
  LayoutTests/imported/w3c/web-platform-tests/svg/linking/scripted/w3c-import.log
Labels: merge-queue, SVG

#31649 Unprefix -webkit-ruby-position
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-ruby/inheritance-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-ruby/line-spacing-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-ruby/parsing/ruby-position-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/accumulation-per-property-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/addition-per-property-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/interpolation-per-property-002-expected.txt
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/css/CSSPrimitiveValueMappings.h
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/CSSToStyleMap.cpp
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/process-css-properties.py
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingUtils.cpp
  Source/WebCore/layout/formattingContexts/inline/ruby/RubyFormattingContext.cpp
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyleConstants.cpp
  Source/WebCore/rendering/style/RenderStyleConstants.h
  Source/WebCore/rendering/style/RenderStyleInlines.h
  Source/WebCore/style/PropertyCascade.cpp
  Tools/Scripts/webkitpy/style/checkers/jsonchecker.py
Labels: merge-queue, CSS

#31690 Delete concept of synonyms from process-css-properties.py
  Source/WebCore/css/process-css-properties.py
  Tools/Scripts/webkitpy/style/checkers/jsonchecker.py
Labels: merge-queue, CSS

#31678 Support closest-corner/farthest-corner in circle and ellipse shapes
  LayoutTests/imported/w3c/web-platform-tests/css/css-masking/clip-path/clip-path-circle-closest-corner-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-masking/clip-path/clip-path-circle-closest-corner.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-masking/clip-path/clip-path-circle-farthest-corner-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-masking/clip-path/clip-path-circle-farthest-corner.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-masking/clip-path/clip-path-ellipse-closest-farthest-corner-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-masking/clip-path/clip-path-ellipse-closest-farthest-corner.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-masking/clip-path/reference/clip-path-ellipse-2-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-shapes/shape-functions/circle-function-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-shapes/shape-functions/circle-function-computed.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-shapes/shape-functions/circle-function-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-shapes/shape-functions/circle-function-valid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-shapes/shape-functions/ellipse-function-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-shapes/shape-functions/ellipse-function-valid-expected.txt
  Source/WebCore/css/BasicShapeConversion.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/rendering/style/BasicShapes.cpp
  Source/WebCore/rendering/style/BasicShapes.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Labels: merge-queue, CSS

#31660 REGRESSION (281723@main):[ iOS ]: 22 API test are constantly crashing.
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtension.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtension.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionAction.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionCommand.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionContext.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionController.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionDataRecord.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionMatchPattern.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionMessagePort.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionTabCreationOptions.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionWindowCreationOptions.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: unsafe-merge-queue, WebKit Extensions

#31675 [JSC] Fix speculation for JSMap/SetIterator in DFG and FTL
  Source/JavaScriptCore/bytecode/SpeculatedType.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#31661 Crash under makeString() in TextResourceDecoder::decodeAndFlush()
  Source/WebCore/loader/TextResourceDecoder.cpp
  Source/WebCore/platform/Logging.h
Labels: unsafe-merge-queue, WebCore Misc.

#31621 Introduce C SPI WKPageEvaluateJavaScriptInMainFrame to avoid using WKSerializedScriptValueRef
  Source/WebKit/Shared/API/APIArray.cpp
  Source/WebKit/Shared/API/APIArray.h
  Source/WebKit/Shared/API/APIDictionary.cpp
  Source/WebKit/Shared/API/APIDictionary.h
  Source/WebKit/Shared/API/APISerializedScriptValue.cpp
  Source/WebKit/Shared/API/APISerializedScriptValue.h
  Source/WebKit/Shared/API/c/WKMutableArray.cpp
  Source/WebKit/Shared/API/c/WKMutableArray.h
  Source/WebKit/Shared/API/c/WKMutableDictionary.cpp
  Source/WebKit/Shared/API/c/WKMutableDictionary.h
  Source/WebKit/Shared/API/c/WKString.cpp
  Source/WebKit/Shared/API/c/WKString.h
  Source/WebKit/Sources.txt
  Source/WebKit/UIProcess/API/C/WKPage.cpp
  Source/WebKit/UIProcess/API/C/WKPage.h
  Source/WebKit/UIProcess/API/Cocoa/APISerializedScriptValueCocoa.mm
  Source/WebKit/UIProcess/API/Cocoa/WKUserContentController.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKInspectorExtension.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIDevToolsInspectedWindowCocoa.mm
  Tools/TestWebKitAPI/JavaScriptTest.cpp
  Tools/TestWebKitAPI/Tests/WebKit/DidAssociateFormControls.cpp
  Tools/TestWebKitAPI/Tests/WebKit/EvaluateJavaScript.cpp
  Tools/TestWebKitAPI/Tests/WebKit/PageLoadDidChangeLocationWithinPageForFrame.cpp
  Tools/TestWebKitAPI/Tests/WebKit/PreventEmptyUserAgent.cpp
  Tools/TestWebKitAPI/Tests/WebKit/ReloadPageAfterCrash.cpp
  Tools/TestWebKitAPI/Tests/WebKit/SpacebarScrolling.cpp
  Tools/TestWebKitAPI/Tests/WebKit/TextFieldDidBeginAndEndEditing.cpp
  Tools/TestWebKitAPI/Tests/WebKit/WKPageIsPlayingAudio.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/PictureInPictureDelegate.mm
  Tools/TestWebKitAPI/Tests/WebKitObjC/UserContentTest.mm
  Tools/WebKitTestRunner/WorkQueueManager.cpp
Labels: unsafe-merge-queue, WebKit API

#31694 Image decode failures should not be WebKit internal errors
  Source/WebKit/Shared/Cocoa/WebErrorsCocoa.mm
  Source/WebKit/Shared/WebErrors.cpp
  Source/WebKit/Shared/WebErrors.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/LoadAndDecodeImage.mm
Labels: unsafe-merge-queue, WebKit Misc.

#31696 [@page] Add support for jis-b4/jis-b5 sizes
  LayoutTests/imported/w3c/web-platform-tests/css/css-page/parsing/size-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-page/parsing/size-valid.html
  LayoutTests/printing/page-format-data-expected.txt
  LayoutTests/printing/page-format-data.html
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/CSSValueKeywords.in
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/style/StyleBuilder.cpp
Labels: unsafe-merge-queue, CSS

#31691 [JSC] Update outdated comments for `WasmModuleInformation`
  Source/JavaScriptCore/wasm/WasmModuleInformation.h
Labels: JavaScriptCore

#31692 Use cascade-alias instead of related-property in CSSProperties.json
  LayoutTests/fast/css/getComputedStyle/computed-style-expected.txt
  LayoutTests/fast/css/getComputedStyle/computed-style-without-renderer-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/svg/css/getComputedStyle-basic-expected.txt
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/process-css-properties.py
  Source/WebCore/dom/Document.cpp
  Source/WebCore/rendering/style/FillLayer.cpp
Labels: merge-queue, CSS

#24860 [SVG2] Remove non-standard `hasExtension`
  LayoutTests/imported/w3c/web-platform-tests/svg/historical-expected.txt
  LayoutTests/svg/dom/SVGTests-expected.txt
  LayoutTests/svg/dom/SVGTests.html
  Source/WebCore/svg/SVGTests.idl
Labels: merge-queue, SVG

#31704 Update Slovenian (sl) translation
  Source/WebCore/platform/gtk/po/sl.po
Labels: unsafe-merge-queue, WebKitGTK

#31705 Fix the DisplayLists log stream to log display list items
  Source/WebKit/GPUProcess/graphics/RemoteDisplayListRecorder.h
Labels: merge-queue, Tools / Tests

#31708 [Win WebKitTestRunner] Fails to capture a crash log if the crash happens before SetUnhandledExceptionFilter
  Tools/WebKitTestRunner/win/TestControllerWin.cpp
  Tools/WebKitTestRunner/win/WebKitTestRunnerWS.cpp
Labels: unsafe-merge-queue, Tools / Tests

#31639 REGRESSION(281640@main): [WPE] Do not try to use explicit sync with shared memory buffers
  Source/WebKit/WPEPlatform/wpe/wayland/WPEViewWayland.cpp
Labels: WPE WebKit

#31707 Use cascade alias for box-shadow/-webkit-box-shadow
  LayoutTests/fast/css/getComputedStyle/computed-style-expected.txt
  LayoutTests/fast/css/getComputedStyle/computed-style-without-renderer-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/svg/css/getComputedStyle-basic-expected.txt
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/CSSShadowValue.cpp
  Source/WebCore/css/CSSShadowValue.h
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.h
  Source/WebCore/style/StyleBuilderCustom.h
Labels: merge-queue, CSS

#31595 WebGLRenderingContextBase accesses CanvasBase::buffer()
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
  Source/WebCore/platform/graphics/GraphicsContextGLImageExtractor.cpp
  Source/WebCore/platform/graphics/GraphicsContextGLImageExtractor.h
  Source/WebCore/platform/graphics/cairo/GraphicsContextGLCairo.cpp
  Source/WebCore/platform/graphics/cg/GraphicsContextGLCG.cpp
  Source/WebCore/platform/graphics/skia/GraphicsContextGLSkia.cpp
Labels: merge-queue, WebGL

#31713 [Buildstream SDK] Update GStreamer recipes to 1.24.6 and gst-plugins-rs 0.13
  Tools/buildstream/elements/freedesktop-sdk.bst
  Tools/buildstream/elements/sdk/gst-plugin-audiofx.bst
  Tools/buildstream/elements/sdk/gst-plugin-closedcaption.bst
  Tools/buildstream/elements/sdk/gst-plugin-dav1d.bst
  Tools/buildstream/elements/sdk/gst-plugin-livesync.bst
  Tools/buildstream/elements/sdk/gst-plugin-rtp.bst
  Tools/buildstream/files/gst-plugin-audiofx/Cargo.lock
  Tools/buildstream/files/gst-plugin-closedcaption/Cargo.lock
  Tools/buildstream/files/gst-plugin-dav1d/Cargo.lock
  Tools/buildstream/files/gst-plugin-dav1d/dav1d-Cargo.toml
  Tools/buildstream/files/gst-plugin-livesync/Cargo.lock
  Tools/buildstream/files/gst-plugin-rtp/Cargo.lock
  Tools/buildstream/patches/fdo-0005-GStreamer-Bump-to-1.24.6.patch
  Tools/buildstream/patches/fdo-0010-gst-plugins-bad-webrtcbin-create-and-associate-trans.patch
  Tools/buildstream/patches/fdo-0011-gst-plugins-bad-webrtcbin-connect-transportreceivebi.patch
Labels: unsafe-merge-queue, Tools / Tests

#31709 [CSS] Initial value for -webkit-line-clamp can't be expressed with its grammar
  LayoutTests/imported/w3c/web-platform-tests/css/css-overflow/parsing/webkit-line-clamp-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/cssom-getPropertyValue-common-checks-expected.txt
  Source/WebCore/css/CSSPrimitiveValueMappings.h
  Source/WebCore/css/CSSProperties.json
Labels: merge-queue, CSS

#31662 Forward UIKit logging notification to the WebContent process
  Source/WebKit/Resources/cocoa/NotificationAllowList/ForwardedNotifications.def
Labels: WebKit Process Model

#31720 [WPE] Bump Cog version
  Tools/PlatformWPE.cmake
Labels: Tools / Tests

#31721 Fix Internal visionOS build
  Source/WebKit/UIProcess/WebAuthentication/Mock/MockNfcService.mm
Labels: unsafe-merge-queue, WebXR

#31644 More smart pointer adoption in DOM methods
  Source/WebCore/dom/AbortSignal.cpp
  Source/WebCore/dom/ActiveDOMObject.cpp
  Source/WebCore/dom/CustomElementRegistry.cpp
Labels: DOM

#26679 Add mechanism to automatically convert Enums to Strings for printing
  JSTests/wasm/wabt-wrapper.js
  Source/JavaScriptCore/bytecode/ExitKind.cpp
  Source/JavaScriptCore/bytecode/ExitKind.h
  Source/JavaScriptCore/bytecode/ExpressionInfo.cpp
  Source/JavaScriptCore/bytecode/ExpressionInfo.h
  Source/JavaScriptCore/bytecode/Watchpoint.h
  Source/JavaScriptCore/dfg/DFGArrayMode.cpp
  Source/JavaScriptCore/dfg/DFGArrayMode.h
  Source/JavaScriptCore/dfg/DFGBranchDirection.h
  Source/JavaScriptCore/dfg/DFGOSRExit.cpp
  Source/JavaScriptCore/ftl/FTLOSRExitCompiler.cpp
  Source/JavaScriptCore/heap/AbstractSlotVisitor.h
  Source/JavaScriptCore/heap/AlignedMemoryAllocator.h
  Source/JavaScriptCore/heap/GCLogging.cpp
  Source/JavaScriptCore/heap/GCLogging.h
  Source/JavaScriptCore/heap/GigacageAlignedMemoryAllocator.cpp
  Source/JavaScriptCore/jit/JITOpaqueByproduct.h
  Source/JavaScriptCore/jsc.cpp
  Source/JavaScriptCore/profiler/ProfilerOSRExit.cpp
  Source/JavaScriptCore/runtime/BufferMemoryHandle.cpp
  Source/JavaScriptCore/runtime/BufferMemoryHandle.h
  Source/JavaScriptCore/runtime/Options.cpp
  Source/JavaScriptCore/wasm/WasmWorklist.cpp
  Source/JavaScriptCore/wasm/WasmWorklist.h
  Source/WTF/wtf/EnumTraits.h
  Source/WTF/wtf/Gigacage.h
  Source/WTF/wtf/PrintStream.h
  Tools/TestWebKitAPI/Configurations/DebugRelease.xcconfig
  Tools/TestWebKitAPI/Tests/WTF/EnumTraits.cpp
Labels: unsafe-merge-queue

#31555 Enable CryptoKit for all releases
  LayoutTests/platform/ios-17/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-ventura/TestExpectations
  Source/WebCore/Configurations/WebCore.xcconfig
  Source/WebCore/Modules/webauthn/AuthenticatorAttestationResponse.cpp
  Source/WebCore/PAL/Configurations/PAL.xcconfig
  Tools/TestWebKitAPI/Tests/WebCore/CtapPinTest.cpp
Labels: unsafe-merge-queue, New Bugs

#24229 [JSC] Remove VarargsLength and LoadVarargs when it gets undefined / null
  JSTests/microbenchmarks/call-varargs-null.js
  JSTests/stress/call-varargs-null-length.js
  JSTests/stress/call-varargs-null.js
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
  Source/JavaScriptCore/dfg/DFGClobberize.h
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#31714 Remove related-property mechanism and rename deferred properties to logical group properties
  Source/WebCore/css/process-css-properties.py
  Source/WebCore/style/ElementRuleCollector.cpp
  Source/WebCore/style/PropertyCascade.cpp
  Source/WebCore/style/PropertyCascade.h
  Source/WebCore/style/StyleBuilder.cpp
Labels: CSS

#31703 [CSS shape function] Implement rendering for the shape function
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-masking/clip-path/clip-path-shape-003.html
  Source/WebCore/css/BasicShapeConversion.cpp
  Source/WebCore/rendering/style/BasicShapesShape.cpp
  Source/WebCore/rendering/style/BasicShapesShape.h
Labels: merge-queue, CSS

#31682 Update platforms from mac-monterey to mac-ventura
  Tools/CISupport/ews-build/config.json
Labels: merge-queue, Tools / Tests

#31673 [UnifiedPDF] Enable UnifiedPDF by default on certain platforms
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WTF/wtf/PlatformEnableCocoa.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/UnifiedPDFTests.mm
Labels: PDF

#31697 [fullscreen] Make "Esc" key check for prefixed & unprefixed APIs consistent
  LayoutTests/fullscreen/requestFullscreen-escape-key-expected.txt
  LayoutTests/fullscreen/requestFullscreen-escape-key.html
  LayoutTests/fullscreen/webkitRequestFullscreen-escape-key-expected.txt
  LayoutTests/fullscreen/webkitRequestFullscreen-escape-key.html
  Source/WebCore/dom/FullscreenManager.cpp
Labels: unsafe-merge-queue, DOM

#31434 webkitpy.common.checkout.scm.git should call git-clone with ignore-errors=False
  Tools/Scripts/webkitpy/common/checkout/scm/git.py
Labels: Tools / Tests

#31724 [JSC] Adjust FTL tierup counts
  Source/JavaScriptCore/runtime/OptionsList.h
Labels: unsafe-merge-queue, JavaScriptCore

#5266 Use OS_UNFAIR_LOCK_DATA_SYNCHRONIZATION and OS_UNFAIR_LOCK_ADAPTIVE_SPIN
  Source/bmalloc/libpas/src/libpas/pas_lock.h
  Source/bmalloc/libpas/src/libpas/pas_platform.h
Labels: unsafe-merge-queue, JavaScriptCore

#31741 Restore filtering logs to merge-queue after fixing layout test crashes
  Tools/CISupport/ews-build/steps.py
Labels: unsafe-merge-queue, Tools / Tests

#31528 [GTK][WPE] Add more WPE related trace points to better understand the graphics pipeline
  Source/WTF/wtf/SystemTracing.h
  Source/WTF/wtf/glib/SysprofAnnotator.h
  Source/WebKit/Resources/Signposts/SystemTracePoints.plist
  Source/WebKit/Shared/CoordinatedGraphics/threadedcompositor/ThreadedCompositor.cpp
  Source/WebKit/UIProcess/DisplayLink.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/CompositingCoordinator.cpp
  Source/WebKit/WebProcess/WebPage/dmabuf/AcceleratedSurfaceDMABuf.cpp
Labels: merge-queue, WebCore Misc.

#31699 [fullscreen] Improve error handling
  LayoutTests/imported/w3c/web-platform-tests/html/capability-delegation/delegate-fullscreen-request-subframe-cross-origin.https.sub.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/capability-delegation/delegate-fullscreen-request-subframe-same-origin.https.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-top-layer-nesting-anchor.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-top-layer-nesting-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-top-layer-nesting-hints.tentative-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/capability-delegation/delegate-fullscreen-request-popup-cross-origin.https.sub.tentative-expected.txt
  Source/WebCore/dom/FullscreenManager.cpp
Labels: merge-queue, DOM

#31731 [WebGPU] Validation error when instanceCount overflows
  LayoutTests/fast/webgpu/nocrash/fuzz-277642-expected.txt
  LayoutTests/fast/webgpu/nocrash/fuzz-277642.html
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
Labels: merge-queue, WebGPU

#31646 [WebGPU] Sampler::samplerState() will throw an exception if the device is nil
  LayoutTests/fast/webgpu/nocrash/fuzz-277552-expected.txt
  LayoutTests/fast/webgpu/nocrash/fuzz-277552.html
  Source/WebGPU/WebGPU/Sampler.mm
Labels: merge-queue, WebGPU

#31715 powerPreference "high-performance" causes bad performance
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.mm
Labels: merge-queue, WebGL

#31653 [WebGPU] setVertexBuffer causes validation error when offset == buffer length
  LayoutTests/fast/webgpu/nocrash/fuzz-277557-expected.txt
  LayoutTests/fast/webgpu/nocrash/fuzz-277557.html
  Source/WebGPU/WebGPU/RenderBundleEncoder.mm
Labels: merge-queue, WebGPU

#31554 [WebGPU] https://threejs.org/examples/?q=webgpu#webgpu_video_panorama jetsams iOS
  Source/WebCore/Modules/WebGPU/GPUBindGroup.cpp
  Source/WebCore/Modules/WebGPU/GPUBindGroup.h
  Source/WebCore/Modules/WebGPU/GPUBindGroupDescriptor.h
  Source/WebCore/Modules/WebGPU/GPUBindGroupEntry.h
  Source/WebCore/Modules/WebGPU/GPUDevice.cpp
  Source/WebCore/Modules/WebGPU/GPUDevice.h
  Source/WebCore/Modules/WebGPU/GPUExternalTextureDescriptor.h
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUBindGroupImpl.cpp
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUBindGroupImpl.h
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUDeviceImpl.cpp
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUDeviceImpl.h
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUExternalTextureImpl.cpp
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUExternalTextureImpl.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUBindGroup.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUDevice.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUExternalTexture.h
  Source/WebGPU/WebGPU/BindGroup.h
  Source/WebGPU/WebGPU/BindGroup.mm
  Source/WebGPU/WebGPU/Buffer.mm
  Source/WebGPU/WebGPU/CommandEncoder.h
  Source/WebGPU/WebGPU/CommandEncoder.mm
  Source/WebGPU/WebGPU/Device.h
  Source/WebGPU/WebGPU/Device.mm
  Source/WebGPU/WebGPU/ExternalTexture.h
  Source/WebGPU/WebGPU/ExternalTexture.mm
  Source/WebGPU/WebGPU/Queue.mm
  Source/WebGPU/WebGPU/RenderBundleEncoder.mm
  Source/WebGPU/WebGPU/WebGPUExt.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteBindGroup.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteBindGroup.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteBindGroup.messages.in
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteDevice.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteDevice.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteDevice.messages.in
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteBindGroupProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteBindGroupProxy.h
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteDeviceProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteDeviceProxy.h
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteExternalTextureProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteExternalTextureProxy.h
Labels: merge-queue, WebGPU

#31198 git webkit branch asks for a radar too late when one is already cc'd
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/bugzilla.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/radar.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/branch.py
Labels: unsafe-merge-queue, Tools / Tests

#31751 Make `css-text-decor/invalidation/text-decoration-thickness.html` independent of viewport size
  LayoutTests/imported/w3c/web-platform-tests/css/css-text-decor/invalidation/text-decoration-thickness-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text-decor/invalidation/text-decoration-thickness-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text-decor/invalidation/text-decoration-thickness.html
Labels: merge-queue, UI Events

#31747 Crash under Connection::enqueueIncomingMessage() due to recursive locking
  Source/WebKit/Platform/IPC/Connection.cpp
  Source/WebKit/Platform/IPC/Connection.h
Labels: merge-queue, WebKit2

#31670 Validate RemoteCDMInstanceProxy::setStorageDirectory()
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.cpp
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.h
  Source/WebKit/GPUProcess/GPUProcess.cpp
  Source/WebKit/GPUProcess/GPUProcess.h
  Source/WebKit/GPUProcess/GPUProcessSessionParameters.h
  Source/WebKit/GPUProcess/GPUProcessSessionParameters.serialization.in
  Source/WebKit/GPUProcess/media/RemoteCDMFactoryProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteCDMFactoryProxy.h
  Source/WebKit/GPUProcess/media/RemoteCDMInstanceProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h
  Source/WebKit/UIProcess/GPU/GPUProcessProxy.cpp
Labels: merge-queue, Media

#31672 heap-use-after-free | WebCore::RenderMenuList::setTextFromOption; WebCore::HTMLSelectElement::selectOption; WebCore::Element::didAddAttribute
  LayoutTests/fast/css/container-query-listbox-expected.html
  LayoutTests/fast/css/container-query-listbox.html
  LayoutTests/fast/forms/select-multiple-changed-with-containment-crash-expected.txt
  LayoutTests/fast/forms/select-multiple-changed-with-containment-crash.html
  LayoutTests/platform/ios/TestExpectations
  Source/WebCore/rendering/RenderListBox.cpp
  Source/WebCore/rendering/RenderMenuList.cpp
Labels: merge-queue, Forms

#31736 HeapBufferOverflow in computeSampleUsingLinearInterpolation
  LayoutTests/webaudio/crashtest/audiobuffer-sourcenode-resampler-crash-expected.txt
  LayoutTests/webaudio/crashtest/audiobuffer-sourcenode-resampler-crash.html
  Source/WebCore/Modules/webaudio/AudioBufferSourceNode.cpp
Labels: merge-queue, Media

#31680 [css-highlight-api] Export CSS highlights internal WPT
  LayoutTests/TestExpectations
  LayoutTests/fast/css/highlight-text-repaint-expected.txt
  LayoutTests/fast/css/highlight-text-repaint.html
  LayoutTests/http/wpt/css/css-highlight-api/highlight-text-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-image-expected-mismatch.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-image-notref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-image.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-text-across-elements-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-text-across-elements-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-text-across-elements.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-text-cascade-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-text-cascade-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-text-cascade.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-text-decorations-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-text-decorations-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-text-decorations.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-text-dynamic-expected-mismatch.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-text-dynamic-notref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-text-dynamic.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-text-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-text-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-text-replace-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-text-replace-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-text-replace.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-highlight-api/highlight-text.html
  LayoutTests/imported/w3c/web-platform-tests/images/blank-highlight.png
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/ios/fast/css/highlight-text-repaint-expected.txt
Labels: unsafe-merge-queue, CSS

#31737 Add a category-breakdown to compare-results
  Tools/Scripts/compare-results
Labels: unsafe-merge-queue, Tools / Tests

#31759 Fix PlayStation build following 281852@main
  Source/WebKit/Shared/CoordinatedGraphics/threadedcompositor/ThreadedCompositor.cpp
Labels: unsafe-merge-queue, New Bugs

#30424 Use sh -o pipefail for all shell commands in Buildbot
  Tools/CISupport/build-webkit-org/steps.py
  Tools/CISupport/build-webkit-org/steps_unittest.py
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: unsafe-merge-queue, Tools / Tests

#31755 [@property] Support `<string>` syntax
  LayoutTests/imported/w3c/web-platform-tests/css/css-properties-values-api/at-property-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-properties-values-api/at-property.html
  Source/WebCore/css/parser/CSSCustomPropertySyntax.cpp
  Source/WebCore/css/parser/CSSCustomPropertySyntax.h
  Source/WebCore/css/parser/CSSPropertyParser.cpp
Labels: merge-queue, CSS

#31752 Make InheritedFlags declaration more organized
  Source/WebCore/rendering/style/RenderStyle.h
Labels: merge-queue, CSS

#31772 [Gardening] Garden a few CSS tests after 281823@main
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/accumulation-per-property-002-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/addition-per-property-002-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/interpolation-per-property-002-expected.txt
Labels: unsafe-merge-queue, CSS

#31760 [Pointer Events] `pointerevent_releasepointercapture_events_to_original_target` WPT test is failing
  LayoutTests/imported/w3c/web-platform-tests/pointerevents/pointerevent_releasepointercapture_events_to_original_target_mouse-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/pointerevents/pointerevent_releasepointercapture_events_to_original_target_pen-expected.txt
  Source/WebCore/dom/DragEvent.cpp
  Source/WebCore/dom/MouseEvent.cpp
  Source/WebCore/dom/MouseEvent.h
  Source/WebCore/dom/MouseRelatedEvent.cpp
  Source/WebCore/dom/PointerEvent.cpp
  Source/WebCore/dom/PointerEvent.h
  Source/WebCore/dom/UIEvent.h
  Source/WebCore/dom/WheelEvent.cpp
Labels: UI Events

#31654 [Win] Enable UNIFIED_AND_FREEZABLE_CONFIG_RECORD
  Source/JavaScriptCore/jit/ExecutableAllocator.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter.asm
  Source/JavaScriptCore/llint/LowLevelInterpreter.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter32_64.asm
  Source/JavaScriptCore/llint/LowLevelInterpreter64.asm
  Source/JavaScriptCore/llint/WebAssembly.asm
  Source/JavaScriptCore/runtime/InitializeThreading.cpp
  Source/JavaScriptCore/runtime/JSCConfig.cpp
  Source/JavaScriptCore/runtime/JSCConfig.h
  Source/JavaScriptCore/runtime/Options.cpp
  Source/WTF/wtf/PlatformEnable.h
  Source/WTF/wtf/WTFConfig.cpp
  Source/WTF/wtf/WTFConfig.h
  Source/bmalloc/bmalloc/BPlatform.h
  Source/bmalloc/bmalloc/Gigacage.cpp
  Source/bmalloc/bmalloc/GigacageConfig.h
  Source/bmalloc/bmalloc/mbmalloc.cpp
  Source/cmake/OptionsWin.cmake
Labels: unsafe-merge-queue

#31749 [Text Directionality] Setting `.value =` sometimes doesn't update dir=auto inputs
  LayoutTests/imported/w3c/web-platform-tests/html/dom/elements/global-attributes/dir-auto-form-associated.window-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/html/dom/elements/global-attributes/dir-auto-form-associated.window-expected.txt
  LayoutTests/platform/wpe/imported/w3c/web-platform-tests/html/dom/elements/global-attributes/dir-auto-form-associated.window-expected.txt
  Source/WebCore/html/HTMLInputElement.cpp
Labels: merge-queue, DOM

#31767 Upstream remaining tests in http/wpt/css to WPT
  LayoutTests/http/wpt/css/css-images-4/conic-gradient-parsing-expected.txt
  LayoutTests/http/wpt/css/css-images-4/conic-gradient-parsing.html
  LayoutTests/http/wpt/css/css-images/image-orientation/image-orientation-none-cross-origin-canvas-expected.html
  LayoutTests/http/wpt/css/css-images/image-orientation/image-orientation-none-cross-origin-canvas.html
  LayoutTests/http/wpt/css/css-images/image-orientation/support/exif-orientation-1-ul.jpg
  LayoutTests/http/wpt/css/css-images/image-orientation/support/exif-orientation-3-lr.jpg
  LayoutTests/http/wpt/css/geometry/support/dommatrix-test-util.js
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/parsing/background-image-computed.sub-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-backgrounds/parsing/background-image-computed.sub.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/gradient/color-stops-parsing-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/gradient/color-stops-parsing.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/parse-calc-expressions-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/parse-calc-expressions.html
  LayoutTests/imported/w3c/web-platform-tests/css/cssom-view/scrollintoview-containingblock-chain-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/cssom-view/scrollintoview-containingblock-chain.html
  LayoutTests/imported/w3c/web-platform-tests/css/geometry/DOMMatrix-invertSelf-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/geometry/DOMMatrix-invertSelf.html
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-backgrounds/parsing/background-image-computed.sub-expected.txt
Labels: merge-queue, CSS

#31771 Convert PageSizeType to an enum class.
  Source/WebCore/dom/Document.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/RenderStyleSetters.h
  Source/WebCore/rendering/style/StyleRareNonInheritedData.cpp
  Source/WebCore/rendering/style/StyleRareNonInheritedData.h
  Source/WebCore/style/StyleBuilder.cpp
Labels: merge-queue

#31638 [WPE] WPE Platform: add explicit sync support on DRM platform
  Source/WebKit/WPEPlatform/wpe/drm/WPEDRM.cpp
  Source/WebKit/WPEPlatform/wpe/drm/WPEDRM.h
  Source/WebKit/WPEPlatform/wpe/drm/WPEDisplayDRM.cpp
  Source/WebKit/WPEPlatform/wpe/drm/WPEViewDRM.cpp
Labels: unsafe-merge-queue, WPE WebKit

#31684 Add WebExtensionSidebar object to UIProcess.
  Source/WebKit/Platform/cocoa/CocoaHelpers.h
  Source/WebKit/Shared/API/APIObject.h
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionSidebarCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtension.h
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/UIProcess/Extensions/WebExtensionSidebar.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: merge-queue, WebKit Extensions

#31710 Media controls not entirely visible when viewing YouTube fullscreen.
  LayoutTests/compositing/visibility/omitted-hidden-layers-made-visible-expected.html
  LayoutTests/compositing/visibility/omitted-hidden-layers-made-visible.html
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/RenderLayer.h
Labels: merge-queue, Layout and Rendering

#31712 [GTK] http/tests/storageAccess/has-storage-access-true-if-third-party-has-cookies-ephemeral.html is timing out after 280986@main
  LayoutTests/http/tests/storageAccess/has-storage-access-true-if-third-party-has-cookies-ephemeral.https.html
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue
