Repository WebKit/WebKit, pull requests merged in 2024-11, with the labels that each got.

#35962 Refactor WPT no-autospace test for no implicit initial value
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-text/text-autospace/text-autospace-no-001-expected-mismatch.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text/text-autospace/text-autospace-no-001-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text/text-autospace/text-autospace-no-001-mismatch-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text/text-autospace/text-autospace-no-001-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-text/text-autospace/text-autospace-no-001.html
Labels: merge-queue, Tools / Tests

#35200 [popover] Light dismiss doesn't work on iOS/iPadOS
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
Labels: merge-queue, DOM

#36024 Fix the open source macOS 15.1-and-above build after 284018@main
  Source/WebKit/Platform/spi/Cocoa/NearFieldSPI.h
  Source/WebKit/UIProcess/WebAuthentication/Mock/MockNfcService.mm
Labels: unsafe-merge-queue, New Bugs

#35564 [JSC] Refactor `Element` in `IntlDurationFormat`
  Source/JavaScriptCore/runtime/IntlDurationFormat.cpp
Labels: JavaScriptCore

#35949 [css-masonry] Fix intrinsic-sizing-cols-004-mix1/2
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-004-mix1-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-004-mix1-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-004-mix1.html
  Source/WebCore/rendering/GridTrackSizingAlgorithm.cpp
Labels: merge-queue, CSS

#36026 Enums in RenderBox should be enum classes
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderBlockFlow.cpp
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderBox.h
  Source/WebCore/rendering/RenderBoxInlines.h
  Source/WebCore/rendering/RenderBoxModelObject.cpp
  Source/WebCore/rendering/RenderGrid.cpp
  Source/WebCore/rendering/RenderImage.cpp
  Source/WebCore/rendering/RenderImage.h
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/RenderLayer.h
  Source/WebCore/rendering/RenderLayerScrollableArea.cpp
  Source/WebCore/rendering/RenderLayerScrollableArea.h
  Source/WebCore/rendering/RenderReplaced.cpp
  Source/WebCore/rendering/RenderReplaced.h
  Source/WebCore/rendering/RenderTable.h
  Source/WebCore/rendering/RenderVideo.h
  Source/WebCore/rendering/svg/RenderSVGForeignObject.h
  Source/WebCore/rendering/svg/RenderSVGModelObject.h
  Source/WebCore/rendering/svg/RenderSVGResourceMarker.h
  Source/WebCore/rendering/svg/RenderSVGRoot.cpp
  Source/WebCore/rendering/svg/RenderSVGRoot.h
  Source/WebCore/rendering/svg/RenderSVGViewportContainer.h
  Source/WebCore/rendering/svg/legacy/LegacyRenderSVGRoot.cpp
  Source/WebCore/rendering/svg/legacy/LegacyRenderSVGRoot.h
Labels: merge-queue, Layout and Rendering

#36032 REGRESSION (Safari 17): getRangeAt(0) returns the same JS object even after selection changes, differs from Chrome and Firefox
  LayoutTests/editing/selection/update-selection-with-find-dissociates-range-expected.txt
  LayoutTests/editing/selection/update-selection-with-find-dissociates-range.html
  LayoutTests/editing/selection/update-selection-with-modify-dissociates-range-expected.txt
  LayoutTests/editing/selection/update-selection-with-modify-dissociates-range.html
  Source/WebCore/editing/FrameSelection.cpp
  Source/WebCore/editing/FrameSelection.h
Labels: unsafe-merge-queue, HTML Editing

#35985 Use a HashTable for animationRareData.
  Source/WebCore/animation/ElementAnimationRareData.cpp
  Source/WebCore/animation/ElementAnimationRareData.h
  Source/WebCore/dom/ElementRareData.cpp
  Source/WebCore/dom/ElementRareData.h
  Source/WebCore/style/PseudoElementIdentifier.h
Labels: merge-queue, Animations

#35996 Reduce use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in PAL
  Source/WTF/WTF.xcodeproj/project.pbxproj
  Source/WTF/wtf/CMakeLists.txt
  Source/WTF/wtf/text/icu/UnicodeExtras.cpp
  Source/WTF/wtf/text/icu/UnicodeExtras.h
  Source/WebCore/PAL/pal/text/DecodeEscapeSequences.h
  Source/WebCore/PAL/pal/text/TextCodecLatin1.cpp
  Source/WebCore/PAL/pal/text/TextCodecUserDefined.cpp
  Source/WebCore/PAL/pal/text/TextEncoding.cpp
  Source/WebCore/PAL/pal/text/TextEncoding.h
  Source/WebCore/PAL/pal/text/TextEncodingDetector.h
  Source/WebCore/PAL/pal/text/TextEncodingDetectorICU.cpp
  Source/WebCore/PAL/pal/text/TextEncodingRegistry.cpp
  Source/WebCore/PAL/pal/text/TextEncodingRegistry.h
  Source/WebCore/inspector/agents/InspectorNetworkAgent.cpp
  Source/WebCore/loader/TextResourceDecoder.cpp
  Source/WebCore/loader/TextResourceDecoder.h
  Source/WebCore/loader/appcache/ApplicationCacheManifestParser.cpp
  Source/WebCore/page/EventSource.cpp
  Source/WebCore/workers/WorkerScriptLoader.cpp
  Source/WebCore/xml/XMLHttpRequest.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/ServiceWorkerSoftUpdateLoader.cpp
  Tools/TestWebKitAPI/Tests/WebCore/TextCodec.cpp
  Tools/TestWebKitAPI/Tests/WebCore/URLParserTextEncoding.cpp
Labels: merge-queue, Platform

#36039 [GLIB] Skip WPT tests that are timing out
  LayoutTests/platform/glib/TestExpectations
Labels: unsafe-merge-queue, WPE WebKit

#35735 [UnifiedPDF] mail.proton.me: Encrypted <object> PDF does not show "document is password protected" UI
  Source/WebCore/dom/Element.h
  Source/WebCore/html/HTMLObjectElement.cpp
  Source/WebCore/rendering/RenderAttachment.h
  Source/WebCore/rendering/RenderEmbeddedObject.cpp
  Source/WebCore/rendering/RenderEmbeddedObject.h
  Source/WebCore/rendering/RenderImage.cpp
  Source/WebCore/rendering/RenderImage.h
  Source/WebCore/rendering/RenderReplaced.cpp
  Source/WebCore/rendering/RenderReplaced.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginBase.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginBase.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: unsafe-merge-queue, PDF

#36003 [WebGPU] Allow bind groups with unused external textures to be used in a shader
  LayoutTests/fast/webgpu/regression/repro_282098-expected.txt
  LayoutTests/fast/webgpu/regression/repro_282098.html
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
Labels: WebGPU

#35925 AX: Implement TextUnit::Paragraph off the main thread
  LayoutTests/accessibility/ax-thread-text-apis/test.mp3
  LayoutTests/accessibility/ax-thread-text-apis/text-marker-paragraph-nav-expected.txt
  LayoutTests/accessibility/ax-thread-text-apis/text-marker-paragraph-nav.html
  Source/WebCore/accessibility/AXTextMarker.cpp
  Source/WebCore/accessibility/AXTextMarker.h
  Source/WebCore/accessibility/AXTextRun.h
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperMac.mm
Labels: merge-queue, Accessibility

#36044 Allow speculative parsing for poster attribute in `video` tag
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/speculative-parsing/generated/document-write/video-poster.tentative.sub-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/speculative-parsing/generated/page-load/video-poster.tentative-expected.txt
  Source/WebCore/html/parser/HTMLPreloadScanner.cpp
  Source/WebCore/html/parser/HTMLPreloadScanner.h
Labels: unsafe-merge-queue, DOM

#36047 [Linux] Fixes to the memory pressure monitor logging
  Source/WebKit/UIProcess/linux/MemoryPressureMonitor.cpp
Labels: unsafe-merge-queue, WPE WebKit

#36048 [GTK] Garden failing gstreamer API test
  Tools/TestWebKitAPI/glib/TestExpectations.json
Labels: unsafe-merge-queue, WebKitGTK

#36001 Progress reporting is not started for blob downloads
  Source/WebKit/NetworkProcess/Downloads/Download.cpp
  Source/WebKit/NetworkProcess/Downloads/Download.h
  Source/WebKit/NetworkProcess/Downloads/cocoa/DownloadCocoa.mm
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
Labels: unsafe-merge-queue, WebKit Process Model

#36034 [WebCore] Fix -Wunsafe-buffer-usage in PropertyCascade.h
  Source/WebCore/style/PropertyCascade.h
Labels: WebCore Misc.

#35986 Use a HashTable for cached pseudo styles.
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/updating/RenderTreeUpdater.cpp
  Source/WebCore/style/PseudoElementIdentifier.h
Labels: merge-queue, CSS

#36033 Have Timer protect the object it is calling the timeout function on when possible
  Source/WTF/wtf/RunLoop.h
  Source/WebCore/Modules/geolocation/GeoNotifier.cpp
  Source/WebCore/css/CSSFontFace.cpp
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/ScriptableDocumentParser.cpp
  Source/WebCore/html/HTMLPlugInElement.cpp
  Source/WebCore/page/LocalFrameView.cpp
  Source/WebCore/platform/Timer.h
Labels: unsafe-merge-queue, Platform

#36046 Timer lambdas should protect this before calling timeout function
  Source/WebCore/Modules/mediarecorder/MediaRecorder.cpp
  Source/WebCore/dom/Document.cpp
  Source/WebCore/page/ios/ContentChangeObserver.cpp
  Source/WebCore/page/ios/ContentChangeObserver.h
Labels: unsafe-merge-queue, WebCore Misc.

#36008 Make ScrollingTreeNode::m_scrollingTree ThreadSafeWeakPtr
  Source/WebCore/page/scrolling/ScrollingTree.cpp
  Source/WebCore/page/scrolling/ScrollingTree.h
  Source/WebCore/page/scrolling/ScrollingTreeFixedNode.cpp
  Source/WebCore/page/scrolling/ScrollingTreeFrameHostingNode.cpp
  Source/WebCore/page/scrolling/ScrollingTreeNode.cpp
  Source/WebCore/page/scrolling/ScrollingTreeNode.h
  Source/WebCore/page/scrolling/ScrollingTreeOverflowScrollProxyNode.cpp
  Source/WebCore/page/scrolling/ScrollingTreePositionedNode.cpp
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNode.cpp
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNodeDelegate.cpp
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNodeDelegate.h
  Source/WebCore/page/scrolling/ScrollingTreeStickyNode.cpp
  Source/WebCore/page/scrolling/ThreadedScrollingTreeScrollingNodeDelegate.cpp
  Source/WebCore/page/scrolling/cocoa/ScrollingTreeFixedNodeCocoa.h
  Source/WebCore/page/scrolling/cocoa/ScrollingTreeFixedNodeCocoa.mm
  Source/WebCore/page/scrolling/cocoa/ScrollingTreeStickyNodeCocoa.h
  Source/WebCore/page/scrolling/cocoa/ScrollingTreeStickyNodeCocoa.mm
  Source/WebCore/page/scrolling/mac/ScrollingTreeFrameScrollingNodeMac.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeFrameScrollingNodeMac.mm
  Source/WebCore/page/scrolling/mac/ScrollingTreeScrollingNodeDelegateMac.mm
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeScrollingNodeDelegateNicosia.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeFrameScrollingNodeRemoteIOS.mm
  Source/WebKit/UIProcess/RemoteLayerTree/ios/ScrollingTreeScrollingNodeDelegateIOS.mm
Labels: merge-queue, New Bugs

#35956 [css-masonry] Fix masonry-intrinsic-sizing-rows-002-mix2
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-002-mix2-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-002-mix2-ref.html
Labels: merge-queue, CSS

#35990 Guard dialog.showModal() and "check popover validity" with fully active checks
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/interactive-elements/the-dialog-element/dialog-active-document-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/interactive-elements/the-dialog-element/dialog-active-document.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/interactive-elements/the-dialog-element/dialog-showModal-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/interactive-elements/the-dialog-element/dialog-showModal.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-active-document-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-active-document.html
  Source/WebCore/html/HTMLDialogElement.cpp
  Source/WebCore/html/HTMLElement.cpp
Labels: merge-queue, DOM

#36021 Drop WTF_ALLOW_UNSAFE_BUFFER_USAGE use in _WKTouchEventGenerator.mm & WKContentViewInteraction.mm
  Source/WebKit/UIProcess/_WKTouchEventGenerator.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Labels: unsafe-merge-queue, WebKit2

#35966 com.apple.WebKit.WebContent at com.apple.WebCore: WebCore::LocalFrameViewLayoutContext::performLayout
  Source/WebCore/platform/mac/ScrollbarsControllerMac.h
  Source/WebCore/platform/mac/ScrollbarsControllerMac.mm
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebCore/cocoa/ScrollbarWidthCrash.mm
Labels: merge-queue, New Bugs

#36009 [WebGPU] Add tooling to selectively enable shader validation for debugging
  Source/WebCore/Modules/WebGPU/GPUComputePassTimestampWrites.h
  Source/WebCore/Modules/WebGPU/GPURenderPassTimestampWrites.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUComputePassTimestampWrites.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPURenderPassTimestampWrites.h
  Source/WebGPU/WebGPU/CommandEncoder.h
  Source/WebGPU/WebGPU/CommandEncoder.mm
  Source/WebGPU/WebGPU/ComputePassEncoder.h
  Source/WebGPU/WebGPU/ComputePipeline.mm
  Source/WebGPU/WebGPU/Device.h
  Source/WebGPU/WebGPU/Device.mm
  Source/WebGPU/WebGPU/HardwareCapabilities.mm
  Source/WebGPU/WebGPU/QuerySet.h
  Source/WebGPU/WebGPU/QuerySet.mm
  Source/WebGPU/WebGPU/Queue.mm
  Source/WebGPU/WebGPU/RenderPassEncoder.h
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
  Source/WebGPU/WebGPU/RenderPipeline.mm
  Source/WebKit/Shared/WebGPU/WebGPUComputePassTimestampWrites.h
  Source/WebKit/Shared/WebGPU/WebGPURenderPassTimestampWrites.h
Labels: merge-queue, WebGPU

#36040 Fix Neg lowering in LowerInt64
  Source/JavaScriptCore/b3/B3LowerInt64.cpp
  Source/JavaScriptCore/b3/testb3_failingArmV7Tests.inc
Labels: merge-queue, JavaScriptCore

#36000 Replace more use of MallocPtr with newer MallocSpan
  Source/JavaScriptCore/bytecode/ExpressionInfo.h
  Source/JavaScriptCore/jit/JITCodeMap.h
  Source/JavaScriptCore/runtime/VM.h
  Source/WTF/wtf/MallocSpan.h
  Source/WTF/wtf/Vector.h
  Source/WTF/wtf/cocoa/VectorCocoa.h
  Source/WTF/wtf/glib/GSpanExtras.cpp
  Source/WTF/wtf/glib/GSpanExtras.h
  Source/WTF/wtf/text/StringBuffer.h
  Source/WTF/wtf/text/StringImpl.cpp
  Source/WTF/wtf/text/StringImpl.h
  Source/WebCore/platform/network/cf/FormDataStreamCFNet.cpp
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCTCPSocketCocoa.mm
  Source/WebKit/NetworkProcess/webtransport/cocoa/NetworkTransportSendStreamCocoa.mm
  Source/WebKit/NetworkProcess/webtransport/cocoa/NetworkTransportSessionCocoa.mm
  Source/WebKit/Platform/IPC/unix/ConnectionUnix.cpp
  Source/WebKit/Shared/API/APIData.h
  Source/WebKit/Shared/Daemon/DaemonUtilities.mm
  Tools/TestWebKitAPI/NetworkConnection.h
  Tools/TestWebKitAPI/NetworkConnection.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/LoadAlternateHTMLString.mm
Labels: unsafe-merge-queue

#36066 Unreviewed WatchOS build fix after 286021@main
  Source/WebKit/UIProcess/_WKTouchEventGenerator.mm
Labels: unsafe-merge-queue, WebKit2

#36013 Enable -Wunsafe-buffer-usage in JavaScriptCore
  Source/JavaScriptCore/Configurations/Base.xcconfig
Labels: WebKit Misc.

#36014 Enable -Wunsafe-buffer-usage in WebCore
  Source/WebCore/Configurations/Base.xcconfig
Labels: unsafe-merge-queue, WebKit Misc.

#35981 Guard all site-isolation-only IPC endpoints
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebLocalFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebLocalFrameLoaderClient.h
Labels: unsafe-merge-queue, WebKit2

#36074 [WPE] API test gardening
  Tools/TestWebKitAPI/glib/TestExpectations.json
Labels: unsafe-merge-queue, WPE WebKit

#36063 Address post-landing review comments for 286021@main
  Source/WTF/wtf/IndexedRange.h
  Source/WebKit/UIProcess/_WKTouchEventGenerator.mm
Labels: merge-queue, WebKit2

#36064 Remove some WebPrivacy staging code
  Source/WebKit/Platform/cocoa/WebPrivacyHelpers.mm
Labels: unsafe-merge-queue, WebKit Misc.

#36075 [resultsdbpy] Special case visionOS SDK strings (Follow-up)
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/static/js/configuration.js
Labels: unsafe-merge-queue, Tools / Tests

#36053 BLOB download is not being moved to its final destination
  Source/WebKit/NetworkProcess/NetworkDataTaskBlob.cpp
Labels: unsafe-merge-queue, WebKit Process Model

#36056 Remove uses of "topDocument.hidden()"
  Source/WebCore/Modules/mediasession/MediaSession.cpp
  Source/WebCore/Modules/mediastream/MediaDevices.cpp
  Source/WebCore/dom/Document.cpp
Labels: merge-queue

#36079 [Gardening]: [macOS wk2 Debug ] fast/events/drag-and-drop-autoscroll-inner-frame.html is flaky failure (failure in EWS)
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#36059 [webkitpy] SimulatedDeviceManager.initialize_devices is not preferring booted simulators.
  Tools/Scripts/webkitpy/xcode/simulated_device.py
Labels: merge-queue, Tools / Tests

#36020 scrollbar-width update doesn't correctly relayout
  LayoutTests/fast/scrolling/mac/scrollbars/scrollbar-width-dynamic-expected.html
  LayoutTests/fast/scrolling/mac/scrollbars/scrollbar-width-dynamic.html
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderBlock.h
  Source/WebCore/rendering/RenderBox.h
Labels: merge-queue, Scrolling

#35984 bestbuy.com: [iPad] Cannot adjust page zoom on Bestbuy.com
  LayoutTests/fast/viewport/ios/constant-width-viewport-with-no-scale-after-changing-view-scale-expected.txt
  LayoutTests/fast/viewport/ios/constant-width-viewport-with-no-scale-after-changing-view-scale.html
  Source/WebCore/page/ViewportConfiguration.cpp
Labels: unsafe-merge-queue, Layout and Rendering

#36081 Unreviewed build fix with HAVE_SWIFT_CPP_INTEROP disabled
  Source/WebCore/crypto/cocoa/CryptoAlgorithmEd25519Cocoa.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#36070 IndexedRangeIterator should be safer
  Source/WTF/wtf/IndexedRange.h
Labels: merge-queue, WebKit Misc.

#36069 [Cocoa] REGRESSION(284617@main): wantsEDR should not be set for RGB10 pixel format
  Source/WebCore/platform/graphics/ca/cocoa/ContentsFormatCocoa.h
  Source/WebCore/platform/graphics/ca/cocoa/PlatformCALayerCocoa.mm
  Source/WebCore/platform/ios/LegacyTileGridTile.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreePropertyApplier.mm
Labels: merge-queue, Images

#36068 Revert 281143@main
  Source/JavaScriptCore/wasm/WasmOMGIRGenerator.cpp
Labels: WebAssembly

#36055 `pointerevent_capture_suppressing_mouse` WPT is timing out
  LayoutTests/imported/w3c/web-platform-tests/pointerevents/pointerevent_capture_suppressing_mouse-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/pointerevents/pointerevent_styles.css
  LayoutTests/imported/w3c/web-platform-tests/pointerevents/pointerlock/pointerevent_coordinates_when_locked-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/pointerevents/pointerevent_capture_suppressing_mouse-expected.txt
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, Tools / Tests

#34322 [Shrink-To-Fit] shrink-to-fit sizing should consider max-inline-size: min-content.
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/shrink-to-fit-sizing-max-width-min-content-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-sizing/shrink-to-fit-sizing-max-width-min-content.html
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderBox.h
Labels: merge-queue, Layout and Rendering

#36090 REGRESSION(286018@main) Fix Linux clang build
  Source/WebCore/page/scrolling/nicosia/ScrollingTreeFixedNodeNicosia.h
Labels: unsafe-merge-queue, WPE WebKit

#36078 REGRESSION(284872@main): GIF preview does not show up on x.com
  LayoutTests/compositing/overflow/negagtive-z-index-in-transformed-in-scroller-expected.html
  LayoutTests/compositing/overflow/negagtive-z-index-in-transformed-in-scroller.html
  LayoutTests/compositing/overflow/no-double-painted-outline-expected.html
  LayoutTests/compositing/overflow/no-double-painted-outline.html
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/RenderLayer.h
  Source/WebCore/rendering/RenderLayerBacking.cpp
Labels: merge-queue, Compositing

#36100 Unreviewed, reverting 286031@main (67602317a964)
  Source/WebCore/Configurations/Base.xcconfig
Labels: Tools / Tests

#36030 Dynamically switching from scrollbar-width:none to scrollbar-width:auto/thin doesn't bring back scrollbar
  LayoutTests/fast/scrolling/mac/scrollbars/scrollbar-width-dynamic-none-to-auto-expected.html
  LayoutTests/fast/scrolling/mac/scrollbars/scrollbar-width-dynamic-none-to-auto.html
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebCore/page/scrolling/mac/ScrollerMac.h
  Source/WebCore/page/scrolling/mac/ScrollerMac.mm
  Source/WebCore/page/scrolling/mac/ScrollingTreeScrollingNodeDelegateMac.mm
Labels: unsafe-merge-queue, New Bugs

#36097 AX: Many AXObjectCache methods and member variables specify Node where they could use Element
  Source/WebCore/accessibility/AXLogger.cpp
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AXObjectCache.h
  Source/WebCore/accessibility/AccessibilityRenderObject.cpp
  Source/WebCore/accessibility/AccessibilityRenderObject.h
  Source/WebCore/accessibility/atspi/AXObjectCacheAtspi.cpp
  Source/WebCore/accessibility/ios/AXObjectCacheIOS.mm
  Source/WebCore/accessibility/mac/AXObjectCacheMac.mm
  Source/WebCore/accessibility/playstation/AXObjectCachePlayStation.cpp
  Source/WebCore/accessibility/win/AXObjectCacheWin.cpp
Labels: Accessibility

#36094 A little bit more safety for BoundsCheckedIterator
  Source/WTF/wtf/IndexedRange.h
Labels: unsafe-merge-queue, WebKit Misc.

#36103 IndexedRange is unsafe to use with temporaries
  Source/WTF/wtf/IndexedRange.h
Labels: unsafe-merge-queue, WebKit Misc.

#36098 More span adoption in IPC MessageHandlers
  Source/WTF/wtf/MallocSpan.h
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGL.cpp
  Source/WebKit/GPUProcess/media/RemoteAudioDestinationManager.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.cpp
  Source/WebKit/Platform/IPC/ArrayReferenceTuple.h
Labels: unsafe-merge-queue, WebKit Misc.

#36105 Build fix for some Apple internal bots
  Source/WTF/wtf/IndexedRange.h
Labels: unsafe-merge-queue, WebKit Misc.

#35930 [css-values] Fix CSSAttrValue Fallback comparation
  Source/WebCore/css/CSSAttrValue.cpp
Labels: merge-queue, CSS

#36085 Provide wrappers for some ObjC Runtime functions that return a MallocSpan
  Source/JavaScriptCore/API/ObjcRuntimeExtras.h
  Source/WTF/WTF.xcodeproj/project.pbxproj
  Source/WTF/wtf/ObjCRuntimeExtras.h
  Source/WTF/wtf/ObjCRuntimeExtras.mm
  Source/WebCore/bridge/objc/objc_class.mm
  Source/WebCore/platform/ios/WebAVPlayerController.mm
  Source/WebKit/Shared/API/Cocoa/_WKRemoteObjectInterface.mm
Labels: unsafe-merge-queue

#36106 Partially re-landing 286031@main (67602317a964) & 286030@main (df3193fce7c7)
  Source/JavaScriptCore/Configurations/Base.xcconfig
  Source/WebCore/Configurations/Base.xcconfig
Labels: unsafe-merge-queue, WebKit Misc.

#36037 Refactor URLPattern's canonical and tokenizers modules to preemptively support URLPattern parser module
  Source/WebCore/Modules/url-pattern/URLPattern.cpp
  Source/WebCore/Modules/url-pattern/URLPatternCanonical.cpp
  Source/WebCore/Modules/url-pattern/URLPatternCanonical.h
  Source/WebCore/Modules/url-pattern/URLPatternTokenizer.cpp
  Source/WebCore/Modules/url-pattern/URLPatternTokenizer.h
Labels: merge-queue, New Bugs

#35667 Deploy more smart pointers in CompositeEditCommand
  Source/WebCore/SaferCPPExpectations/UncountedLocalVarsCheckerExpectations
  Source/WebCore/editing/CompositeEditCommand.cpp
Labels: HTML Editing

#36112 RemoteLayerTreeDrawingAreaProxy::connectionForIdentifier asserts when the web process has gone away.
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
Labels: merge-queue, Layout and Rendering

#35798 Build fixes for !ENABLE(VIDEO)
  Source/WebCore/Modules/WebGPU/GPUDevice.h
  Source/WebCore/css/SelectorChecker.cpp
  Source/WebCore/css/SelectorCheckerTestFunctions.h
  Source/WebCore/cssjit/SelectorCompiler.cpp
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/FullscreenManager.cpp
  Source/WebCore/page/DiagnosticLoggingKeys.cpp
  Source/WebCore/page/DiagnosticLoggingKeys.h
  Source/WebCore/page/ElementTargetingController.cpp
  Source/WebCore/rendering/updating/RenderTreeBuilder.cpp
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.cpp
  Source/WebKit/WebProcess/GPU/media/gstreamer/VideoLayerRemoteGStreamer.cpp
Labels: merge-queue, Media

#35120 [CMake] Update minimum ICU version to 70.1
  Source/cmake/OptionsGTK.cmake
  Source/cmake/OptionsJSCOnly.cmake
  Source/cmake/OptionsMac.cmake
  Source/cmake/OptionsPlayStation.cmake
  Source/cmake/OptionsWPE.cmake
  Source/cmake/OptionsWin.cmake
Labels: unsafe-merge-queue, CMake

#36091 [GStreamer] GStreamerTest.harnessParseMP4 is a constant API test failure
  Tools/TestWebKitAPI/Tests/WebCore/gstreamer/GstElementHarness.cpp
  Tools/TestWebKitAPI/glib/TestExpectations.json
Labels: merge-queue, WebKitGTK

#35856 [WPE] WPE Platform: add support for touch events in DRM
  Source/WebKit/WPEPlatform/wpe/drm/WPEDRMSeat.cpp
  Source/WebKit/WPEPlatform/wpe/drm/WPEDRMSeat.h
Labels: unsafe-merge-queue, WPE WebKit

#35409 [WebDriver] Add BiDi message handling support
  Source/WebDriver/WebDriverService.cpp
  Source/WebDriver/WebDriverService.h
  Source/WebDriver/WebSocketServer.cpp
  Source/WebDriver/WebSocketServer.h
  Source/WebDriver/soup/WebSocketServerSoup.cpp
Labels: merge-queue, WebDriver

#36010 [WPE][GTK] Increase fake Safari version in user agent header to 605.1.15
  Source/WebCore/platform/glib/UserAgentGLib.cpp
Labels: merge-queue, WebKitGTK

#36042 [JSC][armv7] Support for lowering B3 atomics to Air for armv7
  Source/JavaScriptCore/assembler/MacroAssemblerARMv7.h
  Source/JavaScriptCore/b3/B3LowerInt64.cpp
  Source/JavaScriptCore/b3/B3LowerToAir32_64.cpp
  Source/JavaScriptCore/b3/air/AirOpcode.opcodes
  Source/JavaScriptCore/b3/testb3_failingArmV7Tests.inc
Labels: JavaScriptCore

#35989 MediaRecorder shouldn't perform memory allocation on the thread it is receiving audio samples
  Source/WebCore/platform/audio/cocoa/WebAudioBufferList.cpp
  Source/WebCore/platform/audio/cocoa/WebAudioBufferList.h
  Source/WebCore/platform/mediarecorder/MediaRecorderPrivateEncoder.cpp
  Source/WebCore/platform/mediarecorder/MediaRecorderPrivateEncoder.h
Labels: WebRTC

#36077 Timer should hold a CheckedRef to the object before calling the timeout function on it, when possible
  Source/WTF/wtf/RunLoop.h
  Source/WTF/wtf/StdLibExtras.h
  Source/WTF/wtf/TypeTraits.h
  Source/WTF/wtf/UniqueRef.h
  Source/WebCore/dom/Document.cpp
  Source/WebCore/html/parser/HTMLDocumentParser.cpp
  Source/WebCore/loader/DocumentLoader.cpp
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/loader/NavigationScheduler.cpp
  Source/WebCore/loader/NavigationScheduler.h
  Source/WebCore/loader/SubframeLoader.cpp
  Source/WebCore/loader/appcache/ApplicationCacheGroup.cpp
  Source/WebCore/page/Frame.cpp
  Source/WebCore/page/Frame.h
  Source/WebCore/page/History.cpp
  Source/WebCore/page/LocalDOMWindow.cpp
  Source/WebCore/page/Location.cpp
  Source/WebCore/page/Navigation.cpp
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/RemoteDOMWindow.cpp
  Source/WebCore/platform/Timer.h
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.h
  Source/WebKit/NetworkProcess/NetworkSocketChannel.cpp
  Source/WebKit/NetworkProcess/NetworkSocketChannel.h
  Source/WebKit/NetworkProcess/cocoa/WebSocketTaskCocoa.h
  Source/WebKit/NetworkProcess/cocoa/WebSocketTaskCocoa.mm
  Source/WebKit/NetworkProcess/curl/WebSocketTaskCurl.cpp
  Source/WebKit/NetworkProcess/curl/WebSocketTaskCurl.h
  Source/WebKit/NetworkProcess/soup/WebSocketTaskSoup.cpp
  Source/WebKit/NetworkProcess/soup/WebSocketTaskSoup.h
Labels: unsafe-merge-queue, WebCore Misc.

#36110 Replace more use of MallocPtr with MallocSpan
  Source/JavaScriptCore/jit/ExecutableAllocator.cpp
  Source/JavaScriptCore/runtime/CachePayload.cpp
  Source/JavaScriptCore/runtime/CachePayload.h
  Source/JavaScriptCore/runtime/CachedBytecode.h
  Source/JavaScriptCore/runtime/CachedTypes.cpp
  Source/JavaScriptCore/runtime/CachedTypes.h
  Source/JavaScriptCore/wasm/js/JSWebAssemblyGlobal.h
  Source/JavaScriptCore/wasm/js/JSWebAssemblyStruct.cpp
  Source/JavaScriptCore/wasm/js/JSWebAssemblyTable.h
  Source/WTF/wtf/win/MemoryFootprintWin.cpp
  Source/WebCore/platform/Length.cpp
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedTileBuffer.cpp
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedTileBuffer.h
  Source/WebGPU/WGSL/AST/ASTBuilder.h
  Source/WebKit/Platform/IPC/unix/ConnectionUnix.cpp
  Source/WebKit/UIProcess/mac/LegacySessionStateCoding.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#35970 [Gardening][iOS macOS] `imported/w3c/web-platform-tests/xhr/getresponseheader-chunked-trailer.htm` no longer fails on iOS and macOS platforms.
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: Tools / Tests

#36117 Remove AcceleratedCompositedAnimationsEnabled setting and test
  LayoutTests/animations/transform-non-accelerated-expected.txt
  LayoutTests/animations/transform-non-accelerated.html
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/page/Settings.yaml
  Source/WebCore/rendering/RenderLayerBacking.cpp
Labels: Compositing

#36043 [Navigation] Abort traversal navigations properly
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigate-event/navigation-back-same-document-preventDefault-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigate-event/navigation-traverseTo-same-document-preventDefault-multiple-windows-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/ordering-and-transition/currententrychange-before-popstate-intercept-expected.txt
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/page/Navigation.cpp
  Source/WebCore/page/Navigation.h
Labels: Page Loading

#35839 WebCore's main thread scroll position is poorly synchronized with the UI-process scroll position
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingTree.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteScrollingCoordinatorProxyIOS.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteScrollingTreeIOS.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteScrollingTreeIOS.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteScrollingTreeMac.mm
Labels: merge-queue, Scrolling

#36102 [WebGPU] Texture::bytesPerRow does not handle textureWidth which are not divisible by the blockWidth
  LayoutTests/fast/webgpu/nocrash/fuzz-282499-expected.html
  LayoutTests/fast/webgpu/nocrash/fuzz-282499-expected.txt
  Source/WebGPU/WebGPU/Queue.mm
  Source/WebGPU/WebGPU/Texture.mm
Labels: WebGPU

#36028 Potential 'overflow' issue commited to upstream libwebrtc: vp8,calc_iframe_target_size: clamp kf_boost
  Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/test/encode_api_test.cc
  Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vp8/encoder/ratectrl.c
Labels: WebRTC

#36116 pointerevents/pointerevent_mouse_pointercapture_inactivate_pointer.html WPT is failing
  LayoutTests/imported/w3c/web-platform-tests/pointerevents/pointerevent_mouse_pointercapture_inactivate_pointer-expected.txt
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/page/PointerCaptureController.cpp
  Source/WebCore/page/PointerCaptureController.h
Labels: merge-queue, UI Events

#36051 [visionOS] Stop using AVCaptureDeviceRotationCoordinator
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: unsafe-merge-queue, WebRTC

#36129 Rename HasRefPtrMethods/HasCheckedPtrMethods to HasRefPtrMemberFunctions/HasCheckedPtrMemberFunctions
  Source/WTF/wtf/RunLoop.h
  Source/WTF/wtf/StdLibExtras.h
  Source/WTF/wtf/TypeTraits.h
  Source/WTF/wtf/UniqueRef.h
  Source/WTF/wtf/WeakPtr.h
  Source/WTF/wtf/WeakRef.h
  Source/WebCore/platform/Timer.h
Labels: unsafe-merge-queue

#36130 Move _WKTouchEventGenerator from WebKit/UIProcess to WebKit/UIProcess/API/Cocoa
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/API/Cocoa/_WKTouchEventGenerator.h
  Source/WebKit/UIProcess/API/Cocoa/_WKTouchEventGenerator.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: WebKit Misc.

#36057 Refactor VideoMediaSampleRenderer to support enqueuing decoded samples
  Source/WebCore/platform/graphics/avfoundation/objc/MediaSampleAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaSampleAVFObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferPrivateAVFObjC.mm
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.mm
  Source/WebCore/platform/graphics/cocoa/VideoMediaSampleRenderer.h
  Source/WebCore/platform/graphics/cocoa/VideoMediaSampleRenderer.mm
  Source/WebCore/platform/graphics/cocoa/WebCoreDecompressionSession.h
  Source/WebCore/platform/graphics/cocoa/WebCoreDecompressionSession.mm
  Source/WebCore/platform/libwebrtc/LibWebRTCVPXVideoDecoder.cpp
  Source/WebCore/platform/mediastream/libwebrtc/VideoFrameLibWebRTC.cpp
  Source/WebCore/platform/mediastream/libwebrtc/VideoFrameLibWebRTC.h
Labels: Media

#36038 Prepare to implement WebProcessCache for site isolation
  Source/WebCore/platform/Site.cpp
  Source/WebCore/platform/Site.h
  Source/WebCore/workers/service/server/SWServer.cpp
  Source/WebCore/workers/service/server/SWServer.h
  Source/WebCore/workers/service/server/SWServerDelegate.h
  Source/WebCore/workers/service/server/SWServerToContextConnection.cpp
  Source/WebCore/workers/service/server/SWServerToContextConnection.h
  Source/WebCore/workers/service/server/SWServerWorker.cpp
  Source/WebCore/workers/service/server/SWServerWorker.h
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.h
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.messages.in
  Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/NetworkSession.h
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerConnection.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerToContextConnection.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerToContextConnection.h
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorker.cpp
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorker.h
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServer.cpp
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServer.h
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServerToContextConnection.cpp
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServerToContextConnection.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.messages.in
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebProcessCache.cpp
  Source/WebKit/UIProcess/WebProcessCache.h
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessPool.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/WebProcess/Storage/WebSWContextManagerConnection.cpp
  Source/WebKit/WebProcess/Storage/WebSWContextManagerConnection.h
  Source/WebKit/WebProcess/Storage/WebSharedWorkerContextManagerConnection.cpp
  Source/WebKit/WebProcess/Storage/WebSharedWorkerContextManagerConnection.h
  Source/WebKit/WebProcess/WebProcess.cpp
  Source/WebKit/WebProcess/WebProcess.h
  Source/WebKit/WebProcess/WebProcess.messages.in
Labels: unsafe-merge-queue, WebKit Process Model

#36087 [WebGPU] computeMininumVertexInstanceCount() does not handle buffer sizes less than lastStride
  LayoutTests/fast/webgpu/nocrash/fuzz-282485-expected.txt
  LayoutTests/fast/webgpu/nocrash/fuzz-282485.html
  Source/WebGPU/WebGPU/RenderBundleEncoder.mm
  Source/WebGPU/WebGPU/RenderPassEncoder.h
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
Labels: merge-queue, WebGPU

#36073 WebCore::EffectiveRateChangedListener should use a weak observer with CFNotificationCenter
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
Labels: unsafe-merge-queue, WebCore Misc.

#36135 Build fix for MediaRecorderPrivateEncoder in recent clang toolchains
  Source/WebCore/platform/mediarecorder/MediaRecorderPrivate.h
  Source/WebCore/platform/mediarecorder/MediaRecorderPrivateAVFImpl.cpp
  Source/WebCore/platform/mediarecorder/MediaRecorderPrivateAVFImpl.h
  Source/WebCore/platform/mediarecorder/MediaRecorderPrivateEncoder.cpp
  Source/WebCore/platform/mediarecorder/MediaRecorderPrivateEncoder.h
  Source/WebCore/platform/mediarecorder/MediaRecorderPrivateGStreamer.cpp
  Source/WebCore/platform/mediarecorder/MediaRecorderPrivateGStreamer.h
  Source/WebCore/platform/mediarecorder/MediaRecorderPrivateMock.cpp
  Source/WebCore/platform/mediarecorder/MediaRecorderPrivateMock.h
Labels: unsafe-merge-queue, WebKit Misc.

#36108 Dynamically changing scrollbar-width causes horizontal scrollbars to be painted strangely
  LayoutTests/fast/scrolling/mac/scrollbars/scrollbar-width-paint-001-expected.html
  LayoutTests/fast/scrolling/mac/scrollbars/scrollbar-width-paint-001.html
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebCore/page/scrolling/mac/ScrollerMac.mm
Labels: New Bugs

#36124 [GTK] Make MiniBrowser use GtkGraphicsOffload if available
  Tools/MiniBrowser/gtk/BrowserTab.c
Labels: merge-queue, WebKitGTK

#35682 [WebGPU] Ensure pipeline state is set prior to executing draw command in RenderBundleEncoder
  LayoutTests/fast/webgpu/nocrash/fuzz-282052-expected.txt
  LayoutTests/fast/webgpu/nocrash/fuzz-282052.html
  Source/WebGPU/WebGPU/RenderBundleEncoder.mm
Labels: merge-queue, WebGPU

#36004 [Navigation] Fix cross-window replace navigations
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigate-event/cross-origin-traversal-redirect-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigation-activation/activation-replace-expected.txt
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/navigation-timing/nav2_test_redirect_xserver-expected.txt
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/navigation-timing/test_timing_xserver_redirect-expected.txt
  Source/WebCore/page/Navigation.cpp
Labels: merge-queue, WebCore Misc.

#36133 Update API::Data::createWithoutCopying() to stop promoting manual memory management
  Source/WebKit/Shared/API/APIData.h
  Source/WebKit/Shared/APIWebArchive.mm
  Source/WebKit/Shared/APIWebArchiveResource.mm
  Source/WebKit/Shared/Cocoa/APIDataCocoa.mm
  Source/WebKit/UIProcess/API/APIWebAuthenticationAssertionResponse.cpp
  Source/WebKit/UIProcess/mac/LegacySessionStateCoding.cpp
  Source/WebKit/WebProcess/InjectedBundle/InjectedBundlePageLoaderClient.cpp
Labels: unsafe-merge-queue, WebKit2

#36138 [JSC] Butterfly needs to initialize vector range
  JSTests/stress/vector-values-need-to-be-initialized-for-regexp-atom-fast-path.js
  Source/JavaScriptCore/runtime/JSGlobalObjectInlines.h
Labels: unsafe-merge-queue, JavaScriptCore

#36136 [visionOS] Add internal preference for spatial video playback
  Source/WebKit/UIProcess/API/Cocoa/WKPreferences.mm
  Source/WebKit/UIProcess/API/Cocoa/WKPreferencesPrivate.h
Labels: merge-queue, Media

#36144 Skip a few more unsafe buffer usage warnings
  Source/JavaScriptCore/generator/DSL.rb
  Source/WebCore/bindings/scripts/CodeGeneratorJS.pm
  Source/WebCore/bindings/scripts/test/JS/JSTestDefaultToJSONEnum.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestStandaloneEnumeration.cpp
  Source/WebCore/editing/cocoa/DataDetection.mm
Labels: unsafe-merge-queue, WebKit Misc.

#36089 [WebGPU] Transparent canvases are not supported in WebGPU
  Source/WebCore/html/canvas/GPUCanvasContextCocoa.mm
Labels: merge-queue, WebGPU

#33272 [Grid] REGRESSION (276633@main): Automatic minimum size of scrollable grid item is 0.
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/grid-items/overflow-hidden-min-content-contribution-in-abs-pos-grid-in-flexbox-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/grid-items/overflow-hidden-min-content-contribution-in-abs-pos-grid-in-flexbox.html
  Source/WebCore/rendering/GridTrackSizingAlgorithm.cpp
Labels: merge-queue, Layout and Rendering

#36152 [Gardening]: REGRESSION(286055@main): [macOS Debug] ASSERTION FAILED: !m_fragmentsInvalidated in imported/w3c/web-platform-tests/css/css-contain/content-visibility/locked-frame-crash.html (failure in EWS)
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#36128 [JSC] Fix Wasm::TypeInformation::tryCleanup() inconsistencies for Wasm GC types
  JSTests/wasm/stress/wasm-type-information-lifetimes.js
  Source/JavaScriptCore/wasm/WasmTypeDefinition.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.h
Labels: merge-queue, JavaScriptCore

#36155 [Gardening]: [Sequoia Debug] imported/w3c/web-platform-tests/css/css-writing-modes/text-combine-upright-sideways-001.html is a consistent image failure (failure in EWS)
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#35781 [Intelligence Effects] Support adding intelligence effects to Writing Tools Proofreading operations
  Source/WebCore/page/IntelligenceTextEffectsSupport.cpp
  Source/WebCore/page/IntelligenceTextEffectsSupport.h
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebCore/page/writing-tools/WritingToolsController.h
  Source/WebCore/page/writing-tools/WritingToolsController.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewInternal.h
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/WebKitSwift/WritingTools/PlatformIntelligenceTextEffectView.swift
  Source/WebKit/WebKitSwift/WritingTools/WKIntelligenceTextEffectCoordinator.h
  Source/WebKit/WebKitSwift/WritingTools/WKIntelligenceTextEffectCoordinator.swift
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WritingTools.mm
Labels: merge-queue, HTML Editing

#35683 noclip.website appears broken in Safari 18
  Source/ThirdParty/ANGLE/src/libANGLE/Framebuffer.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/Framebuffer.h
  Source/WebCore/Modules/webxr/WebXROpaqueFramebufferCocoa.cpp
Labels: merge-queue, WebGL

#36146 Ensure ReadOperation and WriteOperation store isolated copy of NetworkCache::Key
  Source/WebKit/NetworkProcess/cache/NetworkCacheKey.h
  Source/WebKit/NetworkProcess/cache/NetworkCacheStorage.cpp
  Source/WebKit/NetworkProcess/cache/NetworkCacheStorage.h
Labels: merge-queue, Website Storage

#36113 [visionOS] Tapping on "View Spatial" button does not work in first go.
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenViewController.mm
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
Labels: Media

#36158 Wasm CalleeGroup caller matrix should be sparse until its more efficient to be dense
  Source/JavaScriptCore/wasm/WasmCalleeGroup.cpp
  Source/JavaScriptCore/wasm/WasmCalleeGroup.h
  Source/WTF/wtf/BitVector.h
Labels: unsafe-merge-queue, WebAssembly

#36157 Convert `ContentData::Type` to an enum class
  Source/WebCore/rendering/style/ContentData.h
Labels: merge-queue, CSS

#36169 [JSC] CanonicalizationRange may include ASCII
  JSTests/stress/do-not-crash-due-to-sorted.js
  Source/JavaScriptCore/yarr/YarrPattern.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#36161 v2 Skip a few more unsafe buffer usage warnings
  Source/JavaScriptCore/KeywordLookupGenerator.py
  Source/WebCore/bindings/scripts/CodeGeneratorJS.pm
  Source/WebCore/bindings/scripts/test/JS/JSTestDerivedDictionary.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestDerivedDictionary2.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestDictionary.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestDictionaryNoToNative.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestDictionaryWithOnlyConditionalMembers.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestEmptyDictionary.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestInheritedDictionary.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestInheritedDictionary2.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestStandaloneDictionary.cpp
Labels: unsafe-merge-queue, WebKit Misc.

#36018 REGRESSION (283084@main): Document::visibilityStateChanged does not hold reference to callback clients
  LayoutTests/fast/dom/view-transition-lifetime-crash-expected.txt
  LayoutTests/fast/dom/view-transition-lifetime-crash.html
  Source/WebCore/Modules/screen-wake-lock/WakeLockManager.cpp
  Source/WebCore/Modules/screen-wake-lock/WakeLockManager.h
  Source/WebCore/Modules/screen-wake-lock/WakeLockSentinel.cpp
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/ViewTransition.cpp
  Source/WebCore/dom/ViewTransition.h
  Source/WebCore/dom/VisibilityChangeClient.h
Labels: DOM

#36114 Further reduce use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in Source/WebKit
  Source/WTF/wtf/StdLibExtras.h
  Source/WebKit/GPUProcess/EntryPoint/Cocoa/XPCService/GPUServiceEntryPoint.mm
  Source/WebKit/NetworkProcess/webtransport/cocoa/NetworkTransportReceiveStreamCocoa.mm
  Source/WebKit/Platform/IPC/ArgumentCoders.h
  Source/WebKit/Platform/IPC/DaemonCoders.cpp
  Source/WebKit/Platform/IPC/DaemonCoders.h
  Source/WebKit/Platform/IPC/DaemonDecoder.cpp
  Source/WebKit/Platform/IPC/Decoder.cpp
  Source/WebKit/Platform/IPC/Encoder.cpp
  Source/WebKit/Platform/IPC/Encoder.h
  Source/WebKit/Platform/IPC/StreamClientConnection.h
  Source/WebKit/Platform/IPC/StreamConnectionBuffer.h
  Source/WebKit/Platform/IPC/StreamConnectionEncoder.h
  Source/WebKit/Platform/IPC/StreamServerConnection.h
  Source/WebKit/Platform/IPC/cocoa/ConnectionCocoa.mm
  Source/WebKit/Platform/IPC/cocoa/DaemonConnectionCocoa.mm
  Source/WebKit/Platform/IPC/cocoa/MachMessage.h
  Tools/TestWebKitAPI/Tests/IPC/ArgumentCoderTests.cpp
  Tools/TestWebKitAPI/Tests/IPC/StreamConnectionEncoderTests.cpp
Labels: unsafe-merge-queue, WebKit2

#36163 RELEASE_ASSERT(checkedPtrCountWithoutThreadCheck()) is failing for Windows Release builds
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/dom/ScriptElement.cpp
  Source/WebCore/dom/ScriptRunner.cpp
  Source/WebCore/dom/ScriptRunner.h
Labels: unsafe-merge-queue, New Bugs

#36165 [JSC] Fix ref-counting issues with Wasm GC types
  Source/JavaScriptCore/wasm/WasmModuleInformation.h
  Source/JavaScriptCore/wasm/WasmParser.h
  Source/JavaScriptCore/wasm/WasmSectionParser.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.h
  Source/JavaScriptCore/wasm/WasmTypeDefinitionInlines.h
Labels: JavaScriptCore

#35664 Deploy more smart pointers in ApplyStyleCommand
  Source/WebCore/SaferCPPExpectations/UncountedLocalVarsCheckerExpectations
  Source/WebCore/editing/ApplyStyleCommand.cpp
Labels: unsafe-merge-queue, HTML Editing

#36162 Import updated web-platform-tests/navigation-api/scroll-behavior/scroll-after-preventDefault.html
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/scroll-behavior/scroll-after-preventDefault-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/scroll-behavior/scroll-after-preventDefault.html
Labels: Tools / Tests

#36125 CoreAudioCaptureSourceFactoryIOS does not need to register itself as an AudioSession observer
  Source/WebCore/platform/mediastream/ios/CoreAudioCaptureSourceIOS.h
  Source/WebCore/platform/mediastream/ios/CoreAudioCaptureSourceIOS.mm
Labels: merge-queue, WebRTC

#36118 [JHBuild] Replace download.gnome.org for GitHub mirror or gitlab.gnome.org
  Tools/jhbuild/jhbuild-minimal.modules
Labels: Tools / Tests

#36120 Regression(280901@main)? [WPE][TextureMapper] Incorrect extra hole punches with fixed body position
  Source/WebCore/platform/graphics/texmap/TextureMapperLayer.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperLayer.h
  Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayer.h
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedPlatformLayerBufferHolePunch.cpp
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedPlatformLayerBufferHolePunch.h
Labels: unsafe-merge-queue, WPE WebKit, GLib Suggested Backport - 2.46

#35912 Log to system console in AudioWorklet processor if setting enabled
  Source/WebCore/worklets/WorkletGlobalScope.cpp
Labels: unsafe-merge-queue

#36141 [iPad] Feedly App doesn't respond to left/right swipe gestures with trackpad
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewInternal.h
  Source/WebKit/UIProcess/API/Cocoa/_WKTouchEventGenerator.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKTouchEventGeneratorInternal.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/UIProcess/ios/PointerTouchCompatibilitySimulator.h
  Source/WebKit/UIProcess/ios/PointerTouchCompatibilitySimulator.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: Platform

#36131 [ARMv7] Update 32-bit generator with current 64-bit tail call code
  Source/JavaScriptCore/wasm/WasmOMGIRGenerator32_64.cpp
  Source/JavaScriptCore/wasm/WasmOpcodeOrigin.h
Labels: JavaScriptCore

#36168 REGRESSION(286055@main): [macOS Debug] ASSERTION FAILED: !m_fragmentsInvalidated in imported/w3c/web-platform-tests/css/css-contain/content-visibility/locked-frame-crash.html (failure in EWS)
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebCore/rendering/RenderLayer.cpp
Labels: merge-queue, New Bugs

#36159 [iOS] Rendering in Jupyter notebook (MathJAX.js converting LaTeX) is broken due to data detection
  LayoutTests/fast/dom/linkify-phone-numbers-expected.html
  LayoutTests/fast/dom/linkify-phone-numbers.html
  Source/WebCore/html/parser/HTMLTreeBuilder.cpp
Labels: Platform

#36183 [JHBuild] Add support for USE_AVIF
  Tools/glib/dependencies/apt
  Tools/jhbuild/jhbuild-minimal.modules
Labels: Tools / Tests

#36027 Refactor RenderReplaced::computeConstrainedLogicalWidth.
  Source/WebCore/rendering/RenderReplaced.cpp
  Source/WebCore/rendering/RenderReplaced.h
Labels: merge-queue, Layout and Rendering

#36190 Unreviewed, reverting 286126@main (fc0f18354ef6) and 286133@main (edf44684ba38)
  Source/WebCore/page/IntelligenceTextEffectsSupport.cpp
  Source/WebCore/page/IntelligenceTextEffectsSupport.h
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebCore/page/writing-tools/WritingToolsController.h
  Source/WebCore/page/writing-tools/WritingToolsController.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewInternal.h
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/WebKitSwift/WritingTools/PlatformIntelligenceTextEffectView.swift
  Source/WebKit/WebKitSwift/WritingTools/WKIntelligenceTextEffectCoordinator.h
  Source/WebKit/WebKitSwift/WritingTools/WKIntelligenceTextEffectCoordinator.swift
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WritingTools.mm
Labels: WebKit2

#36132 [Static Analyzer CI] Report Safer-CPP-Checks EWS results to results.webkit.org
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: Tools / Tests

#36154 Fix issue with suspension interval being too aggressive after reboot
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessPool.h
Labels: WebKit Misc.

#35998 Make SWServerToContextConnection RefCounted
  Source/WebCore/workers/service/server/SWServer.cpp
  Source/WebCore/workers/service/server/SWServerToContextConnection.h
  Source/WebCore/workers/service/server/SWServerWorker.cpp
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.h
  Source/WebKit/NetworkProcess/ServiceWorker/ServiceWorkerDownloadTask.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/ServiceWorkerFetchTask.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerConnection.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerToContextConnection.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerToContextConnection.h
Labels: Service Workers

#35738 Web Inspector: Elements tab DOM tree view reduces deeply-nested nodes to one character wide
  Source/WebInspectorUI/UserInterface/Views/DOMTreeOutline.css
Labels: merge-queue, Web Inspector

#36031 REGRESSION(284617@main): Some HDR images may be displayed as black boxes when converting to SDR
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/platform/graphics/DestinationColorSpace.cpp
  Source/WebCore/platform/graphics/DestinationColorSpace.h
  Source/WebCore/platform/graphics/cg/GraphicsContextCG.cpp
  Source/WebCore/platform/graphics/cg/GraphicsContextCG.h
  Source/WebCore/platform/graphics/cg/NativeImageCG.cpp
  Source/WebCore/platform/graphics/cg/ShareableBitmapCG.mm
  Source/WebCore/platform/graphics/cocoa/GraphicsContextCocoa.mm
Labels: Images

#35957 Provide more instructions when running git-webkit conflict
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/conflict.py
Labels: unsafe-merge-queue, Tools / Tests

#36142 Bring up post-commit iOS/iPadOS 18 release builders and testers.
  Tools/CISupport/build-webkit-org/config.json
  Tools/CISupport/build-webkit-org/factories_unittest.py
  Tools/CISupport/build-webkit-org/public_html/dashboard/Scripts/Dashboard.js
  Tools/CISupport/build-webkit-org/public_html/dashboard/Scripts/WebKitBuildbot.js
  Tools/CISupport/build-webkit-org/public_html/dashboard/Styles/Main.css
  Tools/CISupport/build-webkit-org/wkbuild.py
  Tools/CISupport/build-webkit-org/wkbuild_unittest.py
Labels: merge-queue, Tools / Tests

#36199 [l10n] Update Indonesian translation
  Source/WebCore/platform/gtk/po/id.po
Labels: unsafe-merge-queue, WebKitGTK

#36160 [Gardening][iOS] `animations/resume-after-page-cache.html` no longer fails on iOS
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, Animations

#36149 BBC iPlayer: PiP button doesn't work when in full screen
  Source/WebCore/dom/Document.cpp
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
Labels: Media

#36193 Re-land 286030@main (df3193fce7c7)
  Source/JavaScriptCore/Configurations/Base.xcconfig
Labels: unsafe-merge-queue, WebKit Misc.

#36178 Combining CSS clip-path with any property that creates a new stacking context makes img element disappear
  LayoutTests/compositing/masks/reference-clip-path-on-composited-image-expected.html
  LayoutTests/compositing/masks/reference-clip-path-on-composited-image.html
  Source/WebCore/rendering/RenderReplaced.cpp
Labels: merge-queue, CSS

#36204 Unreviewed fix, find-unexpected-static-analyzer-results failing with unrecognized arguments
  Tools/CISupport/ews-build/steps.py
Labels: unsafe-merge-queue, Tools / Tests

#36156 Forward TTS related notification to the WebContent process
  Source/WebKit/Resources/cocoa/NotificationAllowList/ForwardedNotifications.def
Labels: unsafe-merge-queue, WebKit Process Model

#36174 [Win][MediaFoundation] the video is black blank for https://www.w3.org/2010/05/video/mediaevents.html
  Source/WebCore/platform/graphics/win/MediaPlayerPrivateMediaFoundation.cpp
  Source/WebCore/platform/graphics/win/MediaPlayerPrivateMediaFoundation.h
Labels: Platform

#35905 [scroll-animations] Connect anonymous scroll and view timelines to originating element
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/animation-events-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/pseudo-on-scroller-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/scroll-timeline-document-scroller-quirks-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/scroll-timeline-nearest-with-absolute-positioned-element-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/scroll-timeline-paused-animations-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/scroll-timeline-with-percent-delay.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/view-timeline-dynamic-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/view-timeline-with-transform-on-subject-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/view-timelines/contain-alignment-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/view-timelines/svg-graphics-element-003-expected.txt
  Source/WebCore/animation/CSSAnimation.cpp
  Source/WebCore/animation/ScrollTimeline.cpp
  Source/WebCore/animation/ScrollTimeline.h
Labels: New Bugs

#36187 REGRESSION (286095@main): Child views no longer removed on scrolling
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.cpp
Labels: merge-queue, Scrolling

#36196 REGRESSION (285350@main): Unable to toggle edit menu in overflow scrollers with SelectionHonorsOverflowScrolling off
  LayoutTests/editing/selection/ios/toggle-callout-bar-after-tap-in-selected-non-editable-text.html
  LayoutTests/editing/selection/ios/toggle-edit-menu-after-tap-in-overflow-scroller-expected.txt
  LayoutTests/editing/selection/ios/toggle-edit-menu-after-tap-in-overflow-scroller.html
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Labels: HTML Editing

#36195 Re-land 286031@main (67602317a964)
  Source/WebCore/Configurations/Base.xcconfig
Labels: unsafe-merge-queue, WebKit Misc.

#35304 [Navigation] Improve cross-document traversal
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/currententrychange-event/navigation-back-forward-cross-doc-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigate-event/navigate-destination-after-detach-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigate-event/navigate-navigation-back-same-document-in-iframe-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigate-event/navigation-traverseTo-in-iframe-same-document-preventDefault-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigation-activation/activation-traverse-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigation-activation/activation-traverse-then-clobber-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigation-history-entry/entries-after-bfcache-in-iframe-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigation-history-entry/entries-after-cross-document-forward-pruning-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigation-history-entry/key-id-back-cross-document-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigation-history-entry/no-referrer-dynamic-url-censored-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigation-history-entry/sameDocument-after-navigate-restore-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigation-history-entry/state-after-navigate-restore-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigation-methods/back-forward-multiple-frames-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigation-methods/return-value/back-204-205-download-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigation-methods/return-value/forward-already-detached-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigation-methods/return-value/reload-unload-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigation-methods/return-value/traverseTo-cross-document-preventDefault-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigation-methods/return-value/traverseTo-detach-cross-document-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigation-methods/traverseTo-cross-document-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigation-methods/traverseTo-navigates-multiple-iframes-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/ordering-and-transition/back-cross-document-event-order-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/ordering-and-transition/transition-cross-document-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/per-entry-events/dispose-cross-document-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/per-entry-events/dispose-for-navigation-in-child-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/scroll-behavior/after-transition-reject-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/scroll-behavior/scroll-after-preventDefault.html
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/state/cross-document-away-and-back-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/updateCurrentEntry-method/cross-document-away-and-back-expected.txt
  Source/WebCore/loader/NavigationScheduler.cpp
  Source/WebCore/page/Navigation.cpp
Labels: merge-queue, Page Loading

#36109 compositingStatusChanged can set invalid repaint rects while backing sharing state is in-flight.
  LayoutTests/compositing/update-compositing-rects-with-sharing-descendants-expected.html
  LayoutTests/compositing/update-compositing-rects-with-sharing-descendants.html
  Source/WebCore/rendering/RenderLayerCompositor.cpp
Labels: merge-queue, Layout and Rendering

#36194 Crash under DownloadProxy::~DownloadProxy()
  Source/WebKit/UIProcess/Downloads/DownloadProxy.cpp
  Source/WebKit/UIProcess/Downloads/DownloadProxy.h
  Source/WebKit/UIProcess/Downloads/DownloadProxyMap.cpp
  Source/WebKit/UIProcess/Downloads/DownloadProxyMap.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
Labels: unsafe-merge-queue, WebKit2

#36198 Re-land [Intelligence Effects] Support adding intelligence effects to Writing Tools Proofreading operations
  Source/WebCore/page/IntelligenceTextEffectsSupport.cpp
  Source/WebCore/page/IntelligenceTextEffectsSupport.h
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebCore/page/writing-tools/WritingToolsController.h
  Source/WebCore/page/writing-tools/WritingToolsController.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewInternal.h
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/WebKitSwift/WritingTools/PlatformIntelligenceTextEffectView.swift
  Source/WebKit/WebKitSwift/WritingTools/WKIntelligenceTextEffectCoordinator.h
  Source/WebKit/WebKitSwift/WritingTools/WKIntelligenceTextEffectCoordinator.swift
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WritingTools.mm
Labels: HTML Editing
