Repository WebKit/WebKit, pull requests merged in 2024-09, with the labels that each got.

#32995 REGRESSION (253225@main): ASSERT_NOT_REACHED in ImageOverlay updateSubtree()
  Source/WebCore/dom/ImageOverlay.cpp
Labels: merge-queue, Platform

#32977 AX: Various AccessibilityObject and AXObjectCache helper methods take Node* or RenderObject* when they could take a reference
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AXObjectCache.h
  Source/WebCore/accessibility/AXTextMarker.cpp
  Source/WebCore/accessibility/AccessibilityObject.cpp
  Source/WebCore/accessibility/AccessibilityObject.h
  Source/WebCore/accessibility/AccessibilityRenderObject.cpp
  Source/WebCore/accessibility/atspi/AXObjectCacheAtspi.cpp
  Source/WebCore/accessibility/ios/AXObjectCacheIOS.mm
  Source/WebCore/accessibility/mac/AXObjectCacheMac.mm
  Source/WebCore/accessibility/playstation/AXObjectCachePlayStation.cpp
  Source/WebCore/accessibility/win/AXObjectCacheWin.cpp
  Source/WebCore/page/LocalFrameView.cpp
Labels: merge-queue, Accessibility

#32988 Minor MotionPath code cleanup
  Source/WebCore/rendering/MotionPath.cpp
  Source/WebCore/rendering/MotionPath.h
Labels: merge-queue, Layout and Rendering

#32844 Cannot use element fullscreen for video fullscreen when Fullscreen API is disabled
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/dom/FullscreenManager.cpp
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/html/HTMLVideoElement.cpp
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebKit/Shared/WebPreferencesDefaultValues.cpp
  Source/WebKit/Shared/WebPreferencesDefaultValues.h
  Source/WebKit/UIProcess/API/Cocoa/WKPreferences.mm
  Source/WebKit/UIProcess/API/Cocoa/WKPreferencesPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/WebFullScreenManagerProxy.messages.in
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.cpp
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.h
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/FullscreenLifecycle.mm
Labels: merge-queue, Media

#32909 Get hardware keyboard state off the main thread
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxyInternals.h
  Source/WebKit/UIProcess/WebProcessPool.h
  Source/WebKit/UIProcess/ios/WebPageProxyIOS.mm
Labels: unsafe-merge-queue, WebKit Process Model

#32989 Length CSSPrimitiveValue::resolveAsLength() casts to double then Length casts to float
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/css/CSSPrimitiveValue.cpp
  Source/WebCore/css/CSSPrimitiveValue.h
  Source/WebCore/style/StyleBuilderConverter.h
Labels: merge-queue, CSS

#32980 [JSC] Don't use destructuring assignment in builtin `PromiseConstructor.js`
  Source/JavaScriptCore/builtins/PromiseConstructor.js
Labels: unsafe-merge-queue, JavaScriptCore

#33002 Remove `deleted` file references from `.gitattributes`
  Source/WebCore/.gitattributes
Labels: merge-queue, WebCore Misc.

#32993 Adopt more smart pointers in the network process
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsStore.cpp
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsStore.h
  Source/WebKit/NetworkProcess/Classifier/WebResourceLoadStatisticsStore.h
  Source/WebKit/NetworkProcess/Downloads/Download.cpp
  Source/WebKit/NetworkProcess/Downloads/Download.h
  Source/WebKit/NetworkProcess/Downloads/DownloadManager.cpp
  Source/WebKit/NetworkProcess/Downloads/DownloadManager.h
  Source/WebKit/NetworkProcess/Downloads/DownloadMap.cpp
  Source/WebKit/NetworkProcess/Downloads/DownloadMap.h
  Source/WebKit/NetworkProcess/Downloads/DownloadMonitor.cpp
  Source/WebKit/NetworkProcess/Downloads/DownloadMonitor.h
  Source/WebKit/NetworkProcess/Downloads/cocoa/DownloadCocoa.mm
  Source/WebKit/NetworkProcess/NetworkSocketChannel.h
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorker.cpp
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorker.h
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServer.cpp
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServer.h
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServerConnection.cpp
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServerConnection.h
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServerToContextConnection.cpp
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServerToContextConnection.h
  Source/WebKit/NetworkProcess/cache/NetworkCache.cpp
  Source/WebKit/NetworkProcess/cache/NetworkCache.h
  Source/WebKit/NetworkProcess/cache/NetworkCacheSpeculativeLoadManager.cpp
  Source/WebKit/NetworkProcess/cache/NetworkCacheSpeculativeLoadManager.h
  Source/WebKit/NetworkProcess/cache/NetworkCacheStorage.h
  Source/WebKit/NetworkProcess/cocoa/WebSocketTaskCocoa.h
  Source/WebKit/NetworkProcess/cocoa/WebSocketTaskCocoa.mm
  Source/WebKit/NetworkProcess/curl/WebSocketTaskCurl.cpp
  Source/WebKit/NetworkProcess/curl/WebSocketTaskCurl.h
  Source/WebKit/NetworkProcess/soup/WebSocketTaskSoup.cpp
  Source/WebKit/NetworkProcess/soup/WebSocketTaskSoup.h
  Source/WebKit/NetworkProcess/storage/CacheStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/CacheStorageManager.h
  Source/WebKit/NetworkProcess/storage/CacheStorageRegistry.h
  Source/WebKit/NetworkProcess/storage/FileSystemStorageHandleRegistry.h
  Source/WebKit/NetworkProcess/storage/FileSystemStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/FileSystemStorageManager.h
  Source/WebKit/NetworkProcess/storage/IDBStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/IDBStorageManager.h
  Source/WebKit/NetworkProcess/storage/IDBStorageRegistry.cpp
  Source/WebKit/NetworkProcess/storage/IDBStorageRegistry.h
  Source/WebKit/NetworkProcess/storage/LocalStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/LocalStorageManager.h
  Source/WebKit/NetworkProcess/storage/SessionStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/SessionStorageManager.h
  Source/WebKit/NetworkProcess/storage/StorageAreaRegistry.h
  Source/WebKit/NetworkProcess/webrtc/LibWebRTCSocketClient.cpp
  Source/WebKit/NetworkProcess/webrtc/LibWebRTCSocketClient.h
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCMonitor.cpp
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCMonitor.h
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCProvider.h
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCTCPSocketCocoa.h
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCTCPSocketCocoa.mm
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCUDPSocketCocoa.h
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCUDPSocketCocoa.mm
Labels: unsafe-merge-queue, WebKit2

#33017 Fix PlayStation build following 283036@main
  Source/WebCore/platform/animation/TimingFunction.h
Labels: New Bugs

#33010 [UIProcess] Replace UITextWritingDirection with NSWritingDirection
  Source/WebKit/UIProcess/Cocoa/WKTextSelectionRect.mm
  Source/WebKit/UIProcess/ios/forms/WKFormSelectPicker.mm
  Source/WebKit/UIProcess/ios/forms/WKFormSelectPopover.mm
Labels: merge-queue

#32999 [JSC] Make shared wasm entrypoint succinct
  Source/JavaScriptCore/jit/AssemblyHelpers.h
  Source/JavaScriptCore/llint/WebAssembly.asm
  Source/JavaScriptCore/wasm/WasmCallee.cpp
  Source/JavaScriptCore/wasm/WasmCallee.h
  Source/JavaScriptCore/wasm/js/JSToWasm.cpp
  Source/JavaScriptCore/wasm/js/JSToWasm.h
Labels: unsafe-merge-queue, JavaScriptCore

#33019 Re-enable PS MiniBrowser build (following 279849@main)
  Source/cmake/OptionsPlayStation.cmake
Labels: unsafe-merge-queue, New Bugs

#33006 [JSC] Remove unnecessary nop in DFG
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#32938 [MSE] MediaSource playback rapidly loops after changing audio track
  LayoutTests/media/media-source/content/test-48kHz-new-track-id.m4a
  LayoutTests/media/media-source/content/test-48khz-new-track-id-manifest.json
  LayoutTests/media/media-source/media-source-audio-track-id-switch-play-expected.txt
  LayoutTests/media/media-source/media-source-audio-track-id-switch-play.html
  Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferPrivateAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferPrivateAVFObjC.mm
Labels: merge-queue, Media

#32822 REGRESSION(281966@main): [Win] `PageClient::didPerformDragOperation()` is never called
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: merge-queue, New Bugs

#33007 [GStreamer] Memory leak in GStreamerSinksWorkarounds
  Source/WebCore/platform/graphics/gstreamer/GStreamerSinksWorkarounds.cpp
Labels: Platform

#33025 [GTK][WPE] Unreviewed, fix build for Ubuntu 20.04 after 282468@main
  Tools/glib/dependencies/apt
Labels: unsafe-merge-queue

#33028 [GTK4] Skip gamepad tests as they are timing out
  LayoutTests/platform/gtk4/TestExpectations
Labels: unsafe-merge-queue, WebKitGTK

#32885 [build.webkit.org] [GTK] Switch GTK4 bot to GTK3
  Tools/CISupport/build-webkit-org/config.json
  Tools/CISupport/build-webkit-org/factories.py
  Tools/CISupport/build-webkit-org/factories_unittest.py
  Tools/Scripts/webkit-test-results
Labels: unsafe-merge-queue

#33031 REGRESSION(283042@main): Broke libwebrtc linux build
  Source/WebKit/NetworkProcess/webrtc/LibWebRTCSocketClient.cpp
Labels: unsafe-merge-queue

#33033 Unreviewed, reverting 283043@main (e3fcc5543b97)
  Source/WebKit/NetworkProcess/Downloads/Download.h
  Source/WebKit/NetworkProcess/Downloads/DownloadManager.cpp
  Source/WebKit/NetworkProcess/Downloads/DownloadManager.h
  Source/WebKit/NetworkProcess/Downloads/PendingDownload.cpp
  Source/WebKit/NetworkProcess/Downloads/PendingDownload.h
  Source/WebKit/NetworkProcess/Downloads/cocoa/DownloadCocoa.mm
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkProcess.messages.in
  Source/WebKit/Shared/API/Cocoa/WebKitPrivate.h
  Source/WebKit/UIProcess/API/APIDownloadClient.h
  Source/WebKit/UIProcess/API/Cocoa/WKDownload.mm
  Source/WebKit/UIProcess/API/Cocoa/WKDownloadDelegatePrivate.h
  Source/WebKit/UIProcess/API/Cocoa/_WKDownload.mm
  Source/WebKit/UIProcess/Downloads/DownloadProxy.cpp
  Source/WebKit/UIProcess/Downloads/DownloadProxy.h
  Source/WebKit/UIProcess/Downloads/DownloadProxy.messages.in
  Source/WebKit/UIProcess/Downloads/DownloadProxyCocoa.mm
  Source/WebKit/UIProcess/Downloads/UseDownloadPlaceholder.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKitCocoa/Download.mm
  Tools/TestWebKitAPI/cocoa/TestDownloadDelegate.h
  Tools/TestWebKitAPI/cocoa/TestDownloadDelegate.mm
Labels: WebKit Misc.

#32951 [WebDriver][GLIB] Segfault with connection being closed by empty SetTargetList not related to disconnection
  Source/WebDriver/glib/SessionHostGlib.cpp
Labels: WebDriver

#32952 Remove Quirk hasBrokenEncryptedMediaAPISupportQuirk for hulu.com
  Source/WebCore/page/Quirks.cpp
Labels: WebKit Misc.

#32978 [Mac] run-minibrowser won't accept url as an argument
  Tools/MiniBrowser/mac/AppDelegate.m
Labels: Tools / Tests

#33026 Adopt smart pointers to access DOMWindow
  Source/WebCore/animation/AcceleratedTimeline.cpp
  Source/WebCore/bindings/js/JSDocumentCustom.cpp
  Source/WebCore/bindings/js/JSEventListener.h
  Source/WebCore/bindings/js/ScriptController.cpp
  Source/WebCore/dom/Node.cpp
  Source/WebCore/inspector/agents/InspectorDOMAgent.cpp
  Source/WebCore/inspector/agents/InspectorIndexedDBAgent.cpp
  Source/WebCore/loader/DocumentLoader.cpp
  Source/WebCore/style/StyleAdjuster.cpp
  Source/WebCore/workers/service/ServiceWorkerClientData.cpp
Labels: WebCore Misc.

#32991 window.open with noopener should start using a new BrowsingContextGroup when site isolation is enabled
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
Labels: unsafe-merge-queue, WebKit Process Model

#32945 [JSC] Remove unnecessary VM association logic from Waiter and simplify WaiterListManager
  Source/JavaScriptCore/runtime/VM.cpp
  Source/JavaScriptCore/runtime/WaiterListManager.cpp
  Source/JavaScriptCore/runtime/WaiterListManager.h
Labels: JavaScriptCore

#32998 Adopt more smart pointers in the UIProcess
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/Automation/SimulatedInputDispatcher.cpp
  Source/WebKit/UIProcess/Automation/SimulatedInputDispatcher.h
  Source/WebKit/UIProcess/Cocoa/IconLoadingDelegate.h
  Source/WebKit/UIProcess/Cocoa/IconLoadingDelegate.mm
  Source/WebKit/UIProcess/Cocoa/ModelElementControllerCocoa.mm
  Source/WebKit/UIProcess/Cocoa/ResourceLoadDelegate.h
  Source/WebKit/UIProcess/Cocoa/ResourceLoadDelegate.mm
  Source/WebKit/UIProcess/Cocoa/TextCheckingController.h
  Source/WebKit/UIProcess/Cocoa/TextCheckingController.mm
  Source/WebKit/UIProcess/CoordinatedGraphics/DrawingAreaProxyCoordinatedGraphics.cpp
  Source/WebKit/UIProcess/CoordinatedGraphics/DrawingAreaProxyCoordinatedGraphics.h
  Source/WebKit/UIProcess/Downloads/DownloadProxy.cpp
  Source/WebKit/UIProcess/Downloads/DownloadProxy.h
  Source/WebKit/UIProcess/Downloads/DownloadProxyMap.h
  Source/WebKit/UIProcess/DrawingAreaProxy.h
  Source/WebKit/UIProcess/GeolocationPermissionRequestManagerProxy.cpp
  Source/WebKit/UIProcess/GeolocationPermissionRequestManagerProxy.h
  Source/WebKit/UIProcess/Inspector/Cocoa/InspectorExtensionDelegate.h
  Source/WebKit/UIProcess/Inspector/Cocoa/InspectorExtensionDelegate.mm
  Source/WebKit/UIProcess/Inspector/InspectorTargetProxy.cpp
  Source/WebKit/UIProcess/Inspector/InspectorTargetProxy.h
  Source/WebKit/UIProcess/Inspector/WebPageDebuggable.cpp
  Source/WebKit/UIProcess/Inspector/WebPageDebuggable.h
  Source/WebKit/UIProcess/Inspector/socket/RemoteInspectorClient.cpp
  Source/WebKit/UIProcess/Inspector/socket/RemoteInspectorClient.h
  Source/WebKit/UIProcess/Inspector/socket/RemoteInspectorProtocolHandler.cpp
  Source/WebKit/UIProcess/Inspector/socket/RemoteInspectorProtocolHandler.h
  Source/WebKit/UIProcess/Media/RemoteMediaSessionCoordinatorProxy.cpp
  Source/WebKit/UIProcess/Media/RemoteMediaSessionCoordinatorProxy.h
  Source/WebKit/UIProcess/MediaKeySystemPermissionRequestManagerProxy.cpp
  Source/WebKit/UIProcess/MediaKeySystemPermissionRequestManagerProxy.h
  Source/WebKit/UIProcess/ModelElementController.cpp
  Source/WebKit/UIProcess/ModelElementController.h
  Source/WebKit/UIProcess/Notifications/WebNotificationManagerMessageHandler.cpp
  Source/WebKit/UIProcess/Notifications/WebNotificationManagerMessageHandler.h
  Source/WebKit/UIProcess/PageLoadState.cpp
  Source/WebKit/UIProcess/PageLoadState.h
  Source/WebKit/UIProcess/PerActivityStateCPUUsageSampler.cpp
  Source/WebKit/UIProcess/PerActivityStateCPUUsageSampler.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeScrollingPerformanceData.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeScrollingPerformanceData.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteLayerTreeDrawingAreaProxyIOS.h
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteLayerTreeDrawingAreaProxyIOS.mm
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.mm
  Source/WebKit/UIProcess/mac/TiledCoreAnimationDrawingAreaProxy.h
  Source/WebKit/UIProcess/mac/TiledCoreAnimationDrawingAreaProxy.mm
  Source/WebKit/UIProcess/wc/DrawingAreaProxyWC.cpp
  Source/WebKit/UIProcess/wc/DrawingAreaProxyWC.h
Labels: unsafe-merge-queue, WebKit2

#33042 Clean-up in `computePositionedLogicalWidthUsing` to use shrink-to-fit in one step
  Source/WebCore/rendering/RenderBox.cpp
Labels: merge-queue, Layout and Rendering

#33008 CSS transform functions should not eagerly evaluate calc()
  LayoutTests/imported/w3c/web-platform-tests/css/css-properties-values-api/animation/custom-property-animation-transform-none.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-properties-values-api/animation/custom-property-transition-transform-list-none.tentative-expected.txt
  Source/WebCore/Sources.txt
  Source/WebCore/css/CSSCustomPropertyValue.h
  Source/WebCore/css/CSSPrimitiveValue.cpp
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/CSSValue.cpp
  Source/WebCore/css/CSSValue.h
  Source/WebCore/css/DOMMatrixReadOnly.cpp
  Source/WebCore/css/TransformFunctions.cpp
  Source/WebCore/css/TransformFunctions.h
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/css/parser/CSSPropertyParserConsumer+Transform.cpp
  Source/WebCore/css/parser/CSSPropertyParserConsumer+Transform.h
  Source/WebCore/css/parser/CSSPropertyParserHelpers.cpp
  Source/WebCore/css/parser/CSSPropertyParserHelpers.h
  Source/WebCore/css/process-css-properties.py
  Source/WebCore/style/FilterOperationsBuilder.cpp
  Source/WebCore/style/StyleBuilderConverter.h
  Source/WebCore/style/StyleBuilderState.cpp
  Source/WebCore/style/StylePendingResources.cpp
  Source/WebCore/style/TransformOperationsBuilder.cpp
  Source/WebCore/style/TransformOperationsBuilder.h
Labels: merge-queue, CSS

#33047 Unreviewed mac Catalyst build fix after 283070@main
  Source/WebKit/UIProcess/Cocoa/TextCheckingController.h
  Source/WebKit/UIProcess/Cocoa/TextCheckingController.mm
Labels: unsafe-merge-queue, WebKit2

#33011 Do more bounds checking in IPC::Encoder
  Source/WebKit/Platform/IPC/Encoder.cpp
  Source/WebKit/Platform/IPC/Encoder.h
Labels: unsafe-merge-queue, WebKit2

#32927 [WebXR] Pass depth buffers to PlatformXRCoordinator to be used for reprojection
  Source/WebCore/Modules/webxr/WebXROpaqueFramebuffer.h
  Source/WebCore/Modules/webxr/WebXROpaqueFramebufferCocoa.cpp
  Source/WebCore/Modules/webxr/WebXRSession.cpp
  Source/WebCore/Modules/webxr/WebXRSession.h
  Source/WebCore/Modules/webxr/WebXRSystem.cpp
  Source/WebCore/Modules/webxr/WebXRSystem.h
  Source/WebCore/platform/graphics/transforms/TransformationMatrix.h
  Source/WebCore/platform/xr/PlatformXR.h
  Source/WebCore/platform/xr/openxr/PlatformXROpenXR.cpp
  Source/WebCore/platform/xr/openxr/PlatformXROpenXR.h
  Source/WebCore/testing/WebFakeXRDevice.cpp
  Source/WebCore/testing/WebFakeXRDevice.h
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/Shared/XR/PlatformXR.serialization.in
  Source/WebKit/Shared/XR/XRDeviceProxy.cpp
  Source/WebKit/Shared/XR/XRDeviceProxy.h
  Source/WebKit/UIProcess/XR/PlatformXRCoordinator.h
  Source/WebKit/UIProcess/XR/PlatformXRSystem.cpp
  Source/WebKit/UIProcess/XR/PlatformXRSystem.h
  Source/WebKit/UIProcess/XR/PlatformXRSystem.messages.in
  Source/WebKit/UIProcess/XR/ios/PlatformXRARKit.h
  Source/WebKit/UIProcess/XR/ios/PlatformXRARKit.mm
  Source/WebKit/WebProcess/XR/PlatformXRSystemProxy.cpp
  Source/WebKit/WebProcess/XR/PlatformXRSystemProxy.h
Labels: unsafe-merge-queue, WebXR

#33048 fix typo customUserAgentAsSiteSpecificQuirk string test Quriks instead of Quirks
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebsitePolicies.mm
Labels: WebKit Misc.

#33052 Update Kiet Ho's email in contributors.json
  metadata/contributors.json
Labels: Tools / Tests

#33029 Fix select.add() with optgroups
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/forms/the-select-element/select-add-optgroup-expected.txt
  Source/WebCore/html/HTMLSelectElement.cpp
Labels: merge-queue, Forms

#33054 Remove wpe_buffer_dma_buf_formats_new from its header
  Source/WebKit/WPEPlatform/wpe/WPEBufferDMABufFormats.h
Labels: unsafe-merge-queue

#33022 Pack CSSFontFace bool members to bits
  Source/WebCore/css/CSSFontFace.h
Labels: merge-queue, New Bugs

#33056 Fix inlinLayout typo
  Source/WebCore/rendering/updating/RenderTreeBuilder.cpp
Labels: merge-queue, Layout and Rendering

#26191 [view-transitions] Skip view transition on hidden pages
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/transition-in-hidden-page-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/transition-in-hidden-page.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/window-resize-aborts-transition-before-ready.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/window-resize-aborts-transition.html
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/ViewTransition.cpp
  Source/WebCore/dom/ViewTransition.h
Labels: CSS

#33024 [ iOS MacOS ] http/tests/navigation/page-cache-shared-worker.html is a flaky timeout
  LayoutTests/http/tests/navigation/page-cache-shared-worker.html
  LayoutTests/http/tests/navigation/resources/page-cache-helper-for-sharedworker.html
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/ipad/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: merge-queue

#33049 REGRESSION (282319@main):[ wk1 and iOS] 3 tests in imported/w3c/web-platform-tests/mathml/presentation-markup are consistent failures.
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/operators/operator-dictionary-stretchy-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/operators/operator-dictionary-stretchy-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/operators/operator-dictionary-stretchy-003-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/operators/operator-dictionary-stretchy-004-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/operators/operator-dictionary-stretchy-005-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/operators/operator-dictionary-stretchy-006-expected.txt
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/ipad/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
  Source/WebCore/rendering/mathml/RenderMathMLOperator.cpp
Labels: unsafe-merge-queue, New Bugs

#33051 css-view-transitions/navigation/pageswap-ctor.html is (still) a flaky failure.
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/navigation/pageswap-ctor.html
Labels: unsafe-merge-queue, DOM

#33057 REGRESSION(281988@main): TestGraphicsContextGLCocoa fails to compile for macCatalyst
  Tools/TestWebKitAPI/Tests/WebCore/cocoa/TestGraphicsContextGLCocoa.mm
Labels: unsafe-merge-queue, WebGL

#13809 [WebRTC] Add support for legacy Offer options
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/resources/import-expectations.json
  LayoutTests/imported/w3c/web-platform-tests/webrtc/legacy/README.txt
  LayoutTests/imported/w3c/web-platform-tests/webrtc/legacy/RTCPeerConnection-createOffer-offerToReceive-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webrtc/legacy/RTCPeerConnection-createOffer-offerToReceive.html
  LayoutTests/imported/w3c/web-platform-tests/webrtc/legacy/RTCRtpTransceiver-with-OfferToReceive-options.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webrtc/legacy/RTCRtpTransceiver-with-OfferToReceive-options.https.html
  LayoutTests/imported/w3c/web-platform-tests/webrtc/legacy/munge-dont-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webrtc/legacy/munge-dont.html
  LayoutTests/imported/w3c/web-platform-tests/webrtc/legacy/onaddstream.https.html
  LayoutTests/imported/w3c/web-platform-tests/webrtc/legacy/simplecall_callbacks.https.html
  LayoutTests/imported/w3c/web-platform-tests/webrtc/legacy/w3c-import.log
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/tests-options.json
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/Modules/mediastream/PeerConnectionBackend.cpp
  Source/WebCore/Modules/mediastream/PeerConnectionBackend.h
  Source/WebCore/Modules/mediastream/RTCOfferOptions.h
  Source/WebCore/Modules/mediastream/RTCOfferOptions.idl
  Source/WebCore/Modules/mediastream/RTCPeerConnection.cpp
  Source/WebCore/Modules/mediastream/RTCPeerConnection.h
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.h
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerPeerConnectionBackend.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerPeerConnectionBackend.h
  Source/WebCore/Modules/mediastream/libwebrtc/LibWebRTCMediaEndpoint.cpp
  Source/WebCore/Modules/mediastream/libwebrtc/LibWebRTCMediaEndpoint.h
  Source/WebCore/Modules/mediastream/libwebrtc/LibWebRTCPeerConnectionBackend.cpp
  Source/WebCore/Modules/mediastream/libwebrtc/LibWebRTCPeerConnectionBackend.h
Labels: merge-queue, WebRTC

#33044 Use fewer raw pointers for data members in WebKit/WebProcess
  Source/WebCore/html/ColorInputType.h
  Source/WebCore/inspector/InspectorController.h
  Source/WebCore/platform/ColorChooserClient.h
  Source/WebCore/platform/PopupMenuClient.h
  Source/WebCore/rendering/RenderMenuList.h
  Source/WebCore/rendering/RenderSearchField.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTree.serialization.in
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreeTransaction.h
  Source/WebKit/Shared/WebEvent.h
  Source/WebKit/WebProcess/Inspector/WebInspectorClient.cpp
  Source/WebKit/WebProcess/Inspector/WebInspectorClient.h
  Source/WebKit/WebProcess/Inspector/WebInspectorUI.cpp
  Source/WebKit/WebProcess/Inspector/WebInspectorUI.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFIncrementalLoader.mm
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginAnnotation.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginChoiceAnnotation.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginPasswordForm.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginTextAnnotation.h
  Source/WebKit/WebProcess/WebCoreSupport/WebColorChooser.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebColorChooser.h
  Source/WebKit/WebProcess/WebCoreSupport/WebPopupMenu.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebPopupMenu.h
  Source/WebKit/WebProcess/WebPage/FindController.cpp
  Source/WebKit/WebProcess/WebPage/FindController.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemote.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemote.mm
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeContext.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/cocoa/PlaybackSessionManager.h
  Source/WebKit/WebProcess/cocoa/PlaybackSessionManager.mm
  Source/WebKit/webpushd/webpushtool/WebPushToolConnection.h
  Source/WebKit/webpushd/webpushtool/WebPushToolConnection.mm
Labels: unsafe-merge-queue, WebKit2

#32760 [GTK][WPE] Add user agent quirk for totale.rosettastone.com
  Source/WebCore/platform/glib/UserAgentQuirks.cpp
  Tools/TestWebKitAPI/Tests/WebCore/UserAgentQuirks.cpp
Labels: merge-queue, WebKitGTK, GLib Suggested Backport - 2.44, GLib Suggested Backport - 2.46

#32996 Port more identifiers from LegacyNullableObjectIdentifier to ObjectIdentifier
  Source/WebKit/Shared/Authentication/cocoa/AuthenticationManagerCocoa.mm
  Source/WebKit/Shared/IdentifierTypes.h
  Source/WebKit/Shared/MarkSurfacesAsVolatileRequestIdentifier.h
  Source/WebKit/Shared/UserContentControllerIdentifier.h
  Source/WebKit/Shared/WTFArgumentCoders.serialization.in
  Source/WebKit/Shared/WebPageCreationParameters.h
  Source/WebKit/UIProcess/Authentication/AuthenticationChallengeProxy.cpp
  Source/WebKit/UIProcess/GeolocationIdentifier.h
  Source/WebKit/UIProcess/PDF/WKPDFHUDView.mm
  Source/WebKit/UIProcess/UserContent/WebUserContentControllerProxy.cpp
  Source/WebKit/UIProcess/WebPageGroup.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferSetProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferSetProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.h
  Source/WebKit/WebProcess/Geolocation/GeolocationPermissionRequestManager.cpp
  Source/WebKit/WebProcess/Plugins/PDFPluginIdentifier.h
Labels: unsafe-merge-queue, WebKit2

#33066 [WebDriver][GTK] Fix MiniBrowser parameters
  Tools/Scripts/webkitpy/webdriver_tests/webdriver_driver_gtk.py
Labels: WebDriver

#32994 [WebGPU] Remove ICB workaround which is no longer needed
  Source/WebGPU/WebGPU/RenderBundleEncoder.h
  Source/WebGPU/WebGPU/RenderBundleEncoder.mm
Labels: merge-queue, WebGPU

#33064 [css-transitions] update CSS Transitions WPT checkout to a8d8c61
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/css/css-transitions/WEB_FEATURES.yml
  LayoutTests/imported/w3c/web-platform-tests/css/css-transitions/parsing/WEB_FEATURES.yml
  LayoutTests/imported/w3c/web-platform-tests/css/css-transitions/parsing/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-transitions/pseudo-element-transform-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transitions/pseudo-element-transform-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transitions/pseudo-element-transform.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transitions/reference/transition-test-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transitions/reference/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-transitions/starting-style-cascade-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-transitions/starting-style-cascade.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transitions/starting-style-size-container-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-transitions/starting-style-size-container.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transitions/transitions-retarget-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-transitions/transitions-retarget.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-transitions/w3c-import.log
Labels: Animations

#33061 Transitioning Unregistered Custom Properties cause a transition loop
  LayoutTests/imported/w3c/web-platform-tests/css/css-transitions/custom-property-and-allow-discrete-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-transitions/custom-property-and-allow-discrete.html
  Source/WebCore/animation/CSSPropertyAnimation.cpp
Labels: unsafe-merge-queue, Animations

#33012 [WTF] Remove master variations of main constants
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/platform/audio/mac/AudioHardwareListenerMac.cpp
  Source/WebCore/platform/audio/mac/AudioSessionMac.mm
  Source/WebCore/platform/graphics/mac/GraphicsChecksMac.cpp
  Source/WebCore/platform/mediastream/mac/CoreAudioCaptureDevice.cpp
  Source/WebCore/platform/mediastream/mac/CoreAudioCaptureDeviceManager.cpp
  Source/WebCore/platform/mediastream/mac/CoreAudioSharedUnit.cpp
  Tools/DumpRenderTree/mac/LayoutTestHelper.m
Labels: WebCore Misc.

#33037 [WebCore] Release rawBlockBuffer if CMSampleBufferSetDataBuffer fails
  Source/WebCore/platform/graphics/avfoundation/objc/ImageDecoderAVFObjC.mm
Labels: merge-queue, WebCore Misc.

#32971 PLT gets stuck in a nytimes article when enabling site isolation
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebLocalFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
Labels: unsafe-merge-queue, WebKit2

#32317 Update meeting registration to include attendance preference
  Websites/webkit.org/wp-content/plugins/meeting-registration/admin.php
  Websites/webkit.org/wp-content/plugins/meeting-registration/form.php
  Websites/webkit.org/wp-content/plugins/meeting-registration/plugin.php
Labels: unsafe-merge-queue, WebKit Website

#32315 Declare static calls for Table of Contents plugin
  Websites/webkit.org/wp-content/plugins/table-of-contents.php
Labels: WebKit Website

#33043 Don't show fullscreen phishing alert when Fullscreen API is disabled
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenViewController.mm
Labels: Media

#33073 [appearance: base] Parse CSS value behind preference
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/css/CSSPrimitiveValueMappings.h
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/CSSValueKeywords.in
  Source/WebCore/css/parser/CSSParserContext.cpp
  Source/WebCore/css/parser/CSSParserContext.h
  Source/WebCore/platform/StyleAppearance.cpp
  Source/WebCore/platform/StyleAppearance.h
  Source/WebCore/rendering/RenderTheme.cpp
  Source/WebCore/rendering/style/RenderStyleInlines.h
Labels: CSS

#33082 Unreviewed, reverting 282930@main (e90fa6cb1835)
  Source/JavaScriptCore/Configurations/Base.xcconfig
  Source/WebCore/Configurations/WebCore.xcconfig
Labels: unsafe-merge-queue

#33053 Plumb IsPerformingHTTPFallback through PSON
  Source/WebCore/loader/EmptyClients.cpp
  Source/WebCore/loader/EmptyFrameLoaderClient.h
  Source/WebCore/loader/FrameLoaderClient.h
  Source/WebCore/loader/PolicyChecker.cpp
  Source/WebKit/Shared/NavigationActionData.h
  Source/WebKit/Shared/NavigationActionData.serialization.in
  Source/WebKit/UIProcess/API/C/WKPage.cpp
  Source/WebKit/UIProcess/API/Cocoa/WKBrowsingContextController.mm
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/WebProcess/Network/WebLoaderStrategy.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.h
  Source/WebKit/WebProcess/WebCoreSupport/WebLocalFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebLocalFrameLoaderClient.h
  Source/WebKit/WebProcess/WebCoreSupport/WebRemoteFrameClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebRemoteFrameClient.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebFrameLoaderClient.mm
Labels: unsafe-merge-queue, Page Loading

#32908 [Writing Tools] Inline animation doesn’t look great in Mail smart reply
  Source/WebCore/page/ChromeClient.h
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebCore/page/writing-tools/WritingToolsController.h
  Source/WebCore/page/writing-tools/WritingToolsController.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.h
  Source/WebKit/WebProcess/WebPage/Cocoa/TextAnimationController.h
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WritingTools.mm
Labels: HTML Editing

#33013 _WKDownload client should be able to publish progress
  Source/WebKit/NetworkProcess/NetworkProcess.messages.in
  Source/WebKit/UIProcess/API/Cocoa/_WKDownload.mm
  Source/WebKit/UIProcess/Downloads/DownloadProxy.h
  Source/WebKit/UIProcess/Downloads/DownloadProxyCocoa.mm
Labels: unsafe-merge-queue, WebKit Process Model

#33083 [Gardening]: NEW TEST (283006@main): [iOS EWS] TestWebKitAPI.WKWebExtensionAPIRuntime.ConnectFromContentScriptWithImmediateMessage is a flaky timeout
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIRuntime.mm
Labels: merge-queue, New Bugs

#33050 css-view-transitions/navigation/pageswap-long-delay.html fails.
  LayoutTests/TestExpectations
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/ViewTransition.cpp
  Source/WebCore/dom/ViewTransition.h
Labels: merge-queue, DOM

#33015 [WebCore] Remove tertiarySystemFillColor selector check
  Source/WebCore/rendering/mac/RenderThemeMac.mm
Labels: merge-queue, WebCore Misc.

#33009 [WebCore] Replace alternateSelectedControlColor with selectedContentBackgroundColor
  Source/WebCore/rendering/mac/RenderThemeMac.mm
Labels: merge-queue, WebCore Misc.

#32970 Add support for icon_variants in Web Extensions.
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebCore/en.lproj/Localizable.strings
  Source/WebKit/Platform/cocoa/CocoaHelpers.h
  Source/WebKit/Platform/cocoa/CocoaHelpers.mm
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionActionCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionMenuItemCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtension.h
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/xcshareddata/xcschemes/TestWebKitAPI.xcscheme
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtension.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIAction.mm
  Tools/TestWebKitAPI/cocoa/WebExtensionUtilities.h
  Tools/TestWebKitAPI/cocoa/WebExtensionUtilities.mm
Labels: WebKit Extensions

#32796 [css-view-transitions-2] mismatched-snapshot-containing-block-size-skips fails.
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/navigation/mismatched-snapshot-containing-block-size-skips-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/navigation/mismatched-snapshot-containing-block-size-skips.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/navigation/skip-outbound-vt-before-reveal-expected.txt
  Source/WebCore/html/HTMLLinkElement.cpp
  Source/WebCore/html/HTMLLinkElement.h
Labels: merge-queue, DOM

#32464 rgb() colors that use none should use hex syntax for serialization in canvas
  LayoutTests/fast/canvas/canvas-color-serialization-expected.txt
  LayoutTests/fast/canvas/canvas-color-serialization.html
  Source/WebCore/platform/graphics/ColorSerialization.cpp
Labels: merge-queue, Canvas

#33089 [ Gardening ] [ Ventura ] fast/dom/intersection-observer-document-leak.html is a flaky failure
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, Layout and Rendering

#32878 Deploy more smart pointers in SelectorQuery.cpp
  Source/WebCore/dom/SelectorQuery.cpp
Labels: DOM

#33021 [21F90/iPad12,1] VSL tests do not play video when video is in a blob object but can be when streamed
  Source/WebCore/platform/graphics/avfoundation/objc/WebCoreAVFResourceLoader.h
  Source/WebCore/platform/graphics/avfoundation/objc/WebCoreAVFResourceLoader.mm
Labels: Media

#33096 [ GARDENING ][ macOS wk2 arm64 debug ] animations/stop-animation-on-suspend.html is a flaky text failure.
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, Animations

#33086 transform-interpolation-005.html has incorrect expectations.
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/animation/transform-interpolation-005-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-transforms/animation/transform-interpolation-005.html
Labels: Tools / Tests

#33078 [WebGPU] Remove unused member variables and member functions
  Source/WebCore/Modules/WebGPU/GPU.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUDevice.h
  Source/WebGPU/WebGPU/RenderPassEncoder.h
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteAdapterProxy.h
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteBufferProxy.h
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteDeviceProxy.h
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteGPUProxy.h
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteQueueProxy.h
Labels: WebGPU

#33075 Fix JavaScriptCore API headers to work with the Clang Module Verifier.
  Source/JavaScriptCore/API/JSContext.h
  Source/JavaScriptCore/API/JSExport.h
  Source/JavaScriptCore/API/JSManagedValue.h
  Source/JavaScriptCore/API/JSValue.h
  Source/JavaScriptCore/API/JSVirtualMachine.h
  Source/JavaScriptCore/API/JavaScriptCore.h
  Source/JavaScriptCore/Configurations/JavaScriptCore.xcconfig
  Source/JavaScriptCore/JavaScriptCore.modulemap
Labels: JavaScriptCore

#33080 REGRESSION (283015@main) : [ macOS wk2 Release ] fast/webgpu/nocrash/fuzz-277642.html is a constant crash.
  Source/WebGPU/WebGPU/CommandEncoder.mm
  Source/WebGPU/WebGPU/Queue.mm
Labels: WebGPU

#33018 [WebGPU] Attribute ICB memory to web process
  Source/WebGPU/WebGPU/RenderBundleEncoder.mm
Labels: merge-queue, WebGPU

#33092 Fix the iOS build after rdar://115866097
  Source/WebKit/UIProcess/ios/DragDropInteractionState.h
  Source/WebKit/UIProcess/ios/DragDropInteractionState.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Tools/TestRunnerShared/spi/UIKitSPIForTesting.h
  Tools/TestWebKitAPI/Tests/ios/DragAndDropTestsIOS.mm
  Tools/TestWebKitAPI/cocoa/DragAndDropSimulator.h
  Tools/TestWebKitAPI/ios/DragAndDropSimulatorIOS.mm
Labels: Tools / Tests

#33094 Fix NetworkProcess crash when Notification.close() is called early in notificationclick event handler
  Source/WebKit/Platform/IPC/cocoa/DaemonConnectionCocoa.mm
Labels: WebKit Misc.

#32702 Clamp setCurrentTimeFromBindings to prevent negative time
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/media-elements/seeking/seek-to-currentTime-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/media-elements/seeking/seek-to-negative-time-expected.txt
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/semantics/embedded-content/media-elements/audio_loop_seek_to_eos-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/semantics/embedded-content/media-elements/seeking/seek-to-negative-time-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/semantics/embedded-content/media-elements/video_loop_base-expected.txt
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
Labels: merge-queue, Media

#33074 Render background-clip effects with a transparency layer instead of a buffer
  LayoutTests/fast/backgrounds/background-clip-border-area-alpha-expected.html
  LayoutTests/fast/backgrounds/background-clip-border-area-alpha.html
  LayoutTests/fast/backgrounds/background-clip-text-alpha-expected.html
  LayoutTests/fast/backgrounds/background-clip-text-alpha.html
  Source/WebCore/rendering/BackgroundPainter.cpp
  Source/WebCore/rendering/RenderBoxModelObject.cpp
  Source/WebCore/rendering/RenderBoxModelObject.h
Labels: merge-queue, Layout and Rendering

#33101 [WebDriver][WPE] Garden webdriver failures
  WebDriverTests/TestExpectations.json
Labels: merge-queue, WebDriver

#32930 [GStreamer][webaudio] Rialto with WebKit audio sink
  Source/WebCore/platform/audio/gstreamer/AudioDestinationGStreamer.cpp
  Source/WebCore/platform/gstreamer/GStreamerQuirkRialto.cpp
Labels: merge-queue, Media

#33084 [JSC] Fix checkAliasOfEAX for AIR code generation and apply it for 64bit atomicStrongCAS
  JSTests/stress/atomics-strong-cas.js
  Source/JavaScriptCore/assembler/MacroAssemblerX86_64.h
Labels: unsafe-merge-queue, JavaScriptCore

#32635 Convert new scrollbar-gutter-root* tests from LayoutTests to wpts
  LayoutTests/imported/w3c/web-platform-tests/css/css-overflow/scrollbar-gutter-root-both-edges-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-overflow/scrollbar-gutter-root-both-edges-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-overflow/scrollbar-gutter-root-both-edges.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-overflow/scrollbar-gutter-root-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-overflow/scrollbar-gutter-root-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-overflow/scrollbar-gutter-root.html
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#33107 Add more signposts to JetStream2 to extract important regions
  Tools/Scripts/webkitpy/benchmark_runner/data/patches/signposts/JetStream2.patch
Labels: unsafe-merge-queue, JavaScriptCore

#33058 [CoordinatedGraphics] Add CoordinatedPlatformLayerBuffer to replace TextureMapperPlatformLayerBuffer
  Source/WebCore/platform/SourcesGStreamer.txt
  Source/WebCore/platform/TextureMapper.cmake
  Source/WebCore/platform/graphics/gstreamer/GStreamerVideoFrameHolder.cpp
  Source/WebCore/platform/graphics/gstreamer/GStreamerVideoFrameHolder.h
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/holepunch/MediaPlayerPrivateHolePunch.cpp
  Source/WebCore/platform/graphics/nicosia/NicosiaPlaceholderRenderingContextSource.cpp
  Source/WebCore/platform/graphics/skia/ImageBufferSkiaAcceleratedBackend.cpp
  Source/WebCore/platform/graphics/texmap/GraphicsContextGLTextureMapperANGLE.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperGCGLPlatformLayer.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerBuffer.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerBuffer.h
  Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerProxy.h
  Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerProxyGL.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerProxyGL.h
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedPlatformLayerBuffer.h
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedPlatformLayerBufferExternalOES.cpp
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedPlatformLayerBufferExternalOES.h
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedPlatformLayerBufferHolePunch.cpp
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedPlatformLayerBufferHolePunch.h
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedPlatformLayerBufferRGB.cpp
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedPlatformLayerBufferRGB.h
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedPlatformLayerBufferVideo.cpp
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedPlatformLayerBufferVideo.h
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedPlatformLayerBufferYUV.cpp
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedPlatformLayerBufferYUV.h
Labels: unsafe-merge-queue, Platform

#32902 Remove reference cycle from WebExtensionAction.
  Source/WebKit/UIProcess/API/Cocoa/WKWebExtensionAction.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionActionCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionAction.h
Labels: WebKit Extensions

#33003 [GStreamer][MediaStream] Reduce usage of the player's m_isPaused variable
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
Labels: merge-queue, Platform

#32936 Use NativePromise for WebCodecs encode/decode/flush methods
  Source/WebCore/Modules/webcodecs/WebCodecsAudioDecoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsAudioEncoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoEncoder.h
  Source/WebCore/platform/AudioDecoder.h
  Source/WebCore/platform/AudioEncoder.h
  Source/WebCore/platform/VideoDecoder.h
  Source/WebCore/platform/VideoEncoder.h
  Source/WebCore/platform/audio/gstreamer/AudioDecoderGStreamer.cpp
  Source/WebCore/platform/audio/gstreamer/AudioDecoderGStreamer.h
  Source/WebCore/platform/audio/gstreamer/AudioEncoderGStreamer.cpp
  Source/WebCore/platform/audio/gstreamer/AudioEncoderGStreamer.h
  Source/WebCore/platform/graphics/cocoa/WebCoreDecompressionSession.mm
  Source/WebCore/platform/graphics/gstreamer/VideoDecoderGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/VideoDecoderGStreamer.h
  Source/WebCore/platform/graphics/gstreamer/VideoEncoderGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/VideoEncoderGStreamer.h
  Source/WebCore/platform/libwebrtc/LibWebRTCVPXVideoDecoder.cpp
  Source/WebCore/platform/libwebrtc/LibWebRTCVPXVideoDecoder.h
  Source/WebCore/platform/libwebrtc/LibWebRTCVPXVideoEncoder.cpp
  Source/WebCore/platform/libwebrtc/LibWebRTCVPXVideoEncoder.h
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.h
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.messages.in
  Source/WebKit/GPUProcess/webrtc/LibWebRTCCodecsProxy.mm
  Source/WebKit/WebProcess/GPU/media/RemoteVideoCodecFactory.cpp
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.cpp
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.h
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.messages.in
Labels: merge-queue, Media

#32519 Digital Credentials API: handle mediation requirement
  LayoutTests/http/wpt/identity/identitycredentialscontainer-get-hidden.https.html
  LayoutTests/imported/w3c/web-platform-tests/digital-credentials/allow-attribute.https.html
  LayoutTests/imported/w3c/web-platform-tests/digital-credentials/dc-types.ts
  LayoutTests/imported/w3c/web-platform-tests/digital-credentials/default-permissions-policy.https.sub.html
  LayoutTests/imported/w3c/web-platform-tests/digital-credentials/disabled-by-permissions-policy.https.sub.html
  LayoutTests/imported/w3c/web-platform-tests/digital-credentials/enabled-on-self-origin-by-permissions-policy.https.sub.html
  LayoutTests/imported/w3c/web-platform-tests/digital-credentials/identity-get.tentative.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/digital-credentials/identity-get.tentative.https.html
  LayoutTests/imported/w3c/web-platform-tests/digital-credentials/support/helper.js
  LayoutTests/imported/w3c/web-platform-tests/permissions-policy/resources/digital-credentials-get.html
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/digital-credentials/identity-get.tentative.https-expected.txt
  Source/WebCore/Modules/identity/IdentityCredentialsContainer.cpp
Labels: merge-queue, WebCore Misc.

#33116 Ruby block style not inherited to anonymous ruby child on dynamic change
  LayoutTests/fast/ruby/ruby-block-style-propagation-expected.html
  LayoutTests/fast/ruby/ruby-block-style-propagation.html
  Source/WebCore/rendering/RenderBlock.cpp
  Source/WebCore/rendering/RenderElement.cpp
  Source/WebCore/rendering/RenderElement.h
Labels: merge-queue, CSS

#33120 [GTK] API test TestContextMenu reported as Crash in GTK4
  Tools/TestWebKitAPI/glib/PlatformGTK.cmake
Labels: unsafe-merge-queue

#33090 [Gardening]: [EWS] TestWebKitAPI.WebKit.AppHighlightsInImageOverlays is timing on iOS EWS queue
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKContentViewEditingActions.mm
Labels: New Bugs

#33118 Fix scrollIntoView(...) for SVG elements
  LayoutTests/imported/w3c/web-platform-tests/css/cssom-view/scrollIntoView-svg-shape-expected.txt
  Source/WebCore/rendering/RenderElement.cpp
Labels: merge-queue, CSS

#33055 Perform HTTP fallback in UIProcess and after redirect
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/Navigation.mm
Labels: Page Loading

#33081 Allow layout tests to load model content on visionOS with model process
  LayoutTests/model-element/model-element-bounding-box-expected.txt
  LayoutTests/model-element/model-element-bounding-box.html
  LayoutTests/model-element/model-element-camera.html
  LayoutTests/model-element/model-element-enter-fullscreen-crash.html
  LayoutTests/model-element/model-element-entity-transform-expected.txt
  LayoutTests/model-element/model-element-entity-transform.html
  LayoutTests/model-element/model-element-error-and-load-events.html
  LayoutTests/model-element/model-element-inline-preview-deletion-upon-source-change.html
  LayoutTests/model-element/model-element-interactive-dragging.html
  LayoutTests/model-element/model-element-interactive.html
  LayoutTests/model-element/model-element-ready.html
  LayoutTests/model-element/model-element-source.html
  LayoutTests/model-element/model-element.html
  LayoutTests/model-element/resources/2x2x2-at-100x50x200.usdz
  LayoutTests/model-element/resources/2x2x2-center.usdz
  LayoutTests/model-element/resources/2x2x2-positive.usdz
  LayoutTests/model-element/resources/model-utils.js
  Source/WebKit/Configurations/ModelService.xcconfig
  Source/WebKit/Resources/ios/ModelService-embedded-simulator.entitlements
Labels: WebKit Misc.

#33098 Video is sometimes mispositioned in element fullscreen window
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
Labels: Media

#32964 [MSE][Cocoa] Playback pauses when HTMLMediaElement renderer is destroyed
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
Labels: Media

#33100 Expose focusWebViewFromServiceWorker on iOS
  Source/WebKit/UIProcess/API/Cocoa/WKUIDelegatePrivate.h
  Source/WebKit/UIProcess/Cocoa/UIDelegate.h
  Source/WebKit/UIProcess/Cocoa/UIDelegate.mm
Labels: WebKit Misc.

#33123 [WPT] Sync css/css-nesting
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/contextually-invalid-selectors-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/nested-declarations-cssom-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/nested-declarations-cssom.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/nested-declarations-matching.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-nesting/w3c-import.log
Labels: Tools / Tests

#33110 [JSC] Use FixedVector / span directly instead of unlinkedValueProfile etc.
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/bytecode/CodeBlock.h
  Source/JavaScriptCore/bytecode/CodeBlockInlines.h
  Source/JavaScriptCore/bytecode/UnlinkedCodeBlock.h
  Source/JavaScriptCore/profiler/ProfilerBytecodeSequence.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#33113 Adopt more smart pointers in html
  Source/WebCore/html/BaseCheckableInputType.cpp
  Source/WebCore/html/HTMLAnchorElement.cpp
  Source/WebCore/html/HTMLButtonElement.cpp
  Source/WebCore/html/HTMLCanvasElement.cpp
  Source/WebCore/html/HTMLFormElement.cpp
  Source/WebCore/html/ImageInputType.cpp
  Source/WebCore/html/RangeInputType.cpp
Labels: WebCore Misc.

#32243 Make all elements in MathML namespace to be `display: block` and few other updates
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/parsing/html-integration-point-expected.txt
  Source/WebCore/css/mathml.css
Labels: MathML

#33125 [ews-build] Bugzillas enclosed in <> in commit messages do not get closed upon landing
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: Tools / Tests, skip-ews

#33102 [WebDriver][WPE] Segfault in MiniBrowser in some tests when the first window is closed and a new one is created
  Tools/MiniBrowser/wpe/main.cpp
Labels: merge-queue, WebDriver

#33137 [ GARDENING ] REGRESSION (283140@main): [ macOS wk2 ] fast/scrolling/mac/scrollbars/scrollbar-state.html is a constant failure
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, Scrolling

#32861 css-view-transitions/navigation/hide-before-reveal.html is a flaky failure.
  LayoutTests/TestExpectations
  Source/WebCore/dom/Document.cpp
Labels: unsafe-merge-queue, New Bugs

#33046 Fix ARMv7 clang build
  Source/JavaScriptCore/wasm/WasmBBQJIT32_64.cpp
  Source/WTF/wtf/Compiler.h
Labels: JavaScriptCore

#33146 Fix PlayStation build after 283142@main
  Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerProxyGL.cpp
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedPlatformLayerBufferHolePunch.cpp
Labels: Tools / Tests

#24932 run-webkit-tests --print-expectations -v lists all considered TextExpectations lines
  Tools/Scripts/webkitpy/layout_tests/controllers/manager.py
  Tools/Scripts/webkitpy/layout_tests/controllers/manager_unittest.py
  Tools/Scripts/webkitpy/layout_tests/models/test_expectations.py
  Tools/Scripts/webkitpy/layout_tests/models/test_expectations_unittest.py
  Tools/Scripts/webkitpy/layout_tests/run_webkit_tests.py
Labels: merge-queue, Tools / Tests

#33136 Try to fix the watchOS build
  Source/WebCore/platform/cocoa/VideoFullscreenCaptions.h
  Source/WebCore/platform/cocoa/VideoFullscreenCaptions.mm
Labels: Media

#33105 Fix possible integer overflow when calculating the image frame size in bytes
  LayoutTests/fast/images/image-size-unsigned-overflow-expected.txt
  LayoutTests/fast/images/image-size-unsigned-overflow.html
  LayoutTests/fast/images/resources/512752x256376.jpg
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/win/TestExpectations
  Source/WebCore/platform/graphics/BitmapImageDescriptor.cpp
  Source/WebCore/platform/graphics/BitmapImageSource.cpp
Labels: merge-queue, Images

#32976 Web Inspector: $event ReferenceError in Safari extension event listeners
  LayoutTests/inspector/dom-debugger/command-line-api-event-expected.txt
  LayoutTests/inspector/dom-debugger/command-line-api-event.html
  Source/WebCore/inspector/agents/InspectorDOMDebuggerAgent.cpp
Labels: merge-queue, Web Inspector

#33139 ASSERT in WebCore::RenderLayerCompositor::traverseUnchangedSubtree - provider == backingSharingState.backingProviderCandidateForLayer(layer, *this, overlapMap, layerExtent).
  LayoutTests/compositing/shared-backing/overlap-bounds-change-crash-expected.txt
  LayoutTests/compositing/shared-backing/overlap-bounds-change-crash.html
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/RenderLayer.h
Labels: merge-queue, Layout and Rendering

#33157 [visionOS] add support for MV-HEVC spatial video playback
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/html/HTMLMediaElement.h
  Source/WebCore/platform/cocoa/PlaybackSessionModel.h
  Source/WebCore/platform/cocoa/PlaybackSessionModelMediaElement.h
  Source/WebCore/platform/cocoa/PlaybackSessionModelMediaElement.mm
  Source/WebCore/platform/ios/VideoPresentationInterfaceIOS.h
  Source/WebCore/platform/ios/VideoPresentationInterfaceIOS.mm
  Source/WebKit/Platform/ios/PlaybackSessionInterfaceLMK.h
  Source/WebKit/Platform/ios/PlaybackSessionInterfaceLMK.mm
  Source/WebKit/Platform/ios/VideoPresentationInterfaceLMK.h
  Source/WebKit/Platform/ios/VideoPresentationInterfaceLMK.mm
  Source/WebKit/UIProcess/Cocoa/PlaybackSessionManagerProxy.h
  Source/WebKit/UIProcess/Cocoa/PlaybackSessionManagerProxy.messages.in
  Source/WebKit/UIProcess/Cocoa/PlaybackSessionManagerProxy.mm
  Source/WebKit/UIProcess/Cocoa/VideoPresentationManagerProxy.h
  Source/WebKit/UIProcess/Cocoa/VideoPresentationManagerProxy.messages.in
  Source/WebKit/UIProcess/Cocoa/VideoPresentationManagerProxy.mm
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenViewController.mm
  Source/WebKit/WebKitSwift/LinearMediaKit/LinearMediaPlayer.swift
  Source/WebKit/WebKitSwift/LinearMediaKit/LinearMediaTypes.swift
  Source/WebKit/WebKitSwift/LinearMediaKit/WKSLinearMediaPlayer.h
  Source/WebKit/WebProcess/cocoa/PlaybackSessionManager.h
  Source/WebKit/WebProcess/cocoa/PlaybackSessionManager.mm
  Source/WebKit/WebProcess/cocoa/VideoPresentationManager.mm
Labels: Media

#33142 Update remaining tests to conform to new SameSite=Lax by default cookie behavior
  LayoutTests/http/tests/privateClickMeasurement/send-attribution-conversion-request.https-expected.txt
  LayoutTests/http/tests/privateClickMeasurement/send-attribution-conversion-request.https.html
  LayoutTests/http/tests/resourceLoadStatistics/do-not-remove-blocking-in-redirect.https-expected.txt
  LayoutTests/http/tests/resourceLoadStatistics/do-not-remove-blocking-in-redirect.https.html
  LayoutTests/http/tests/resourceLoadStatistics/set-all-cookies-to-same-site-strict-expected.txt
  LayoutTests/platform/ios-17/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-site-isolation/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/wk2/TestExpectations
Labels: Tools / Tests

#33149 Add first visual layout timestamp to _WKPageLoadTiming
  Source/WebKit/UIProcess/API/Cocoa/_WKPageLoadTiming.h
  Source/WebKit/UIProcess/API/Cocoa/_WKPageLoadTiming.mm
  Source/WebKit/UIProcess/WebPageLoadTiming.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebLocalFrameLoaderClient.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/Navigation.mm
Labels: WebKit2

#33154 [WebDriver] pointerevents/mouse-pointer-boundary-events-for-shadowdom.html WPT is failing through WebDriver, but not through WKTR
  Source/WebKit/UIProcess/Automation/SimulatedInputDispatcher.cpp
Labels: UI Events

#33143 REGRESSION (282524@main) (iOS): Tap and click events unresponsive after closing Safari and coming back
  Source/WebCore/page/PointerCaptureController.cpp
  Source/WebCore/page/PointerCaptureController.h
Labels: HTML Editing

#33162 Don't return early from populateCommandsIfNeeded if the dictionary is empty
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionCommandCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPINamespaceCocoa.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtension.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPICommands.mm
Labels: WebKit Extensions

#33135 [WebGPU] Instance being retained longer than its corresponding RemoteGPU
  Source/WebGPU/WebGPU/Adapter.h
  Source/WebGPU/WebGPU/Adapter.mm
  Source/WebGPU/WebGPU/BindGroup.mm
  Source/WebGPU/WebGPU/ComputePipeline.mm
  Source/WebGPU/WebGPU/Device.h
  Source/WebGPU/WebGPU/Device.mm
  Source/WebGPU/WebGPU/ExternalTexture.mm
  Source/WebGPU/WebGPU/Instance.h
  Source/WebGPU/WebGPU/Queue.mm
  Source/WebGPU/WebGPU/RenderPipeline.mm
Labels: WebGPU

#32979 Enable YouTube plugin replacement for all of WebKit
  LayoutTests/security/contentSecurityPolicy/object-src-none-blocks-youtube-plugin-replacement.html
  LayoutTests/security/contentSecurityPolicy/plugins-types-allows-youtube-plugin-replacement.html
  LayoutTests/security/contentSecurityPolicy/plugins-types-blocks-youtube-plugin-replacement-without-mime-type.html
  LayoutTests/security/contentSecurityPolicy/plugins-types-blocks-youtube-plugin-replacement.html
  Source/WebCore/Modules/plugins/PluginReplacement.h
  Source/WebCore/Modules/plugins/YouTubePluginReplacement.cpp
  Source/WebCore/Modules/plugins/YouTubePluginReplacement.h
  Source/WebCore/html/HTMLPlugInElement.cpp
  Source/WebCore/page/Settings.yaml
Labels: merge-queue, Plug-ins

#33128 [WebGPU] Device lost and uncaptured errors callbacks were being retained too long
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUDeviceImpl.cpp
  Source/WebGPU/WebGPU/Device.mm
  Source/WebGPU/WebGPU/WebGPUExt.h
Labels: merge-queue, WebGPU

#33153 model portal should allow rectangular aspect ratio
  Source/WebKit/ModelProcess/cocoa/ModelProcessModelPlayerProxy.mm
Labels: WebKit Misc.

#33166 [WebDriver][WPE] Garden more Selenium failures
  WebDriverTests/TestExpectations.json
Labels: merge-queue, WebDriver

#33150 Gracefully handle guard-page mmap failures in OSAllocatorPOSIX
  Source/WTF/wtf/posix/OSAllocatorPOSIX.cpp
Labels: JavaScriptCore

#33155 [css-view-transitions-2] root-element-transition-iframe-with-startVT-on-main.html fails.
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/navigation/root-element-transition-iframe-with-startVT-on-main.html
Labels: merge-queue, Layout and Rendering

#33040 [Navigation] Provide better error reporting
  LayoutTests/http/wpt/navigation-api/transition-promises-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigate-event/signal-abort-window-stop-after-intercept-expected.txt
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
  Source/WebCore/bindings/js/SerializedScriptValue.h
  Source/WebCore/page/Navigation.cpp
Labels: Page Loading

#33027 [JSC] Improve TypeError message when WeakMap constructor takes an iterable that yields invalid entry
  JSTests/stress/weak-map-constructor.js
  Source/JavaScriptCore/runtime/WeakMapConstructor.cpp
Labels: merge-queue, JavaScriptCore

#33180 [Flatpak SDK] Update Mold, libjxl, libmanette and their dependencies
  Tools/buildstream/elements/sdk/highway.bst
  Tools/buildstream/elements/sdk/hwloc.bst
  Tools/buildstream/elements/sdk/libjxl.bst
  Tools/buildstream/elements/sdk/libmanette.bst
  Tools/buildstream/elements/sdk/mold.bst
  Tools/buildstream/elements/sdk/tbb.bst
Labels: Tools / Tests

#33172 Fix Debug build with recent GCC
  Source/WebCore/layout/formattingContexts/inline/InlineItemsBuilder.cpp
Labels: WebCore Misc.

#33141 AX: misspelling-range.html is pass crash flaky.
  LayoutTests/accessibility/misspelling-range.html
  Source/WebCore/accessibility/cocoa/AXTextMarkerCocoa.mm
Labels: Accessibility

#33173 [WPE] Add support for renamed WPEFramework to Thunder and ocdm to ClientOCDM
  Source/cmake/FindThunder.cmake
Labels: unsafe-merge-queue, WPE WebKit, GLib Suggested Backport - 2.46

#33176 [WPE] Fix build with touch events disabled
  Source/WebKit/UIProcess/API/wpe/PageClientImpl.cpp
Labels: unsafe-merge-queue, WPE WebKit, GLib Suggested Backport - 2.46

#33129 AX: Make accessibility/mixed-content editable-* not flakey
  LayoutTests/accessibility/mixed-contenteditable-double-br-visible-character-range-hang.html
  LayoutTests/accessibility/mixed-contenteditable-visible-character-range-hang.html
  LayoutTests/platform/ios/TestExpectations
Labels: Accessibility

#33112 Fix ptrauth build error in Source/WTF/wtf/BlockPtr.h
  Source/WTF/wtf/BlockPtr.h
Labels: merge-queue, WebCore Misc.

#33131 [WASM] Fix arrayNewElem with additional new element size check
  Source/JavaScriptCore/wasm/WasmOperationsInlines.h
Labels: JavaScriptCore

#33174 [GTK][WPE][GStreamer] Fix build with glib < 2.68
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.cpp
Labels: unsafe-merge-queue, WebKitGTK, GLib Suggested Backport - 2.46

#32212 [JSC] incorrectly reports SyntaxError when destructuring `let`
  LayoutTests/js/let-syntax-expected.txt
  LayoutTests/js/script-tests/let-syntax.js
  Source/JavaScriptCore/parser/Parser.cpp
Labels: JavaScriptCore

#33130 Add support for icon_variants and variants in menus and action APIs for Web Extensions.
  Source/WebKit/Shared/Extensions/WebExtensionMenuItem.serialization.in
  Source/WebKit/Shared/Extensions/WebExtensionMenuItemParameters.h
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIActionCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionActionCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionMenuItemCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionAction.h
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.messages.in
  Source/WebKit/UIProcess/Extensions/WebExtensionMenuItem.h
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIActionCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIMenusCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIAction.h
  Source/WebKit/WebProcess/Extensions/API/WebExtensionAPIMenus.h
  Source/WebKit/WebProcess/Extensions/Bindings/Scripts/CodeGeneratorExtensions.pm
  Source/WebKit/WebProcess/Extensions/Interfaces/WebExtensionAPIMenus.idl
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIAction.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIMenus.mm
Labels: unsafe-merge-queue, WebKit Extensions

#33132 Export GameController framework's symbols.
  Source/WebCore/platform/gamepad/cocoa/GameControllerSoftLink.mm
Labels: merge-queue

#32774 [Build] Forward-declare SPI of public Swift modules
  Configurations/CommonBase.xcconfig
  Source/WebKit/Platform/spi/visionos/QuickLook_SPI.swiftinterface
  Source/WebKit/WebKitSwift/Preview/PreviewWindowController.swift
Labels: Tools / Tests

#33140 [SVG2] Fix `presentational hints` special cases where supported
  LayoutTests/imported/w3c/web-platform-tests/svg/styling/presentation-attributes-relevant-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/svg/styling/presentation-attributes-special-cases-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/svg/styling/presentation-attributes-special-cases.html
  LayoutTests/imported/w3c/web-platform-tests/svg/styling/presentation-attributes.js
  LayoutTests/platform/glib/svg/batik/text/textProperties-expected.txt
  LayoutTests/platform/ios/svg/batik/text/textProperties-expected.txt
  LayoutTests/platform/mac/svg/batik/text/textProperties-expected.txt
  Source/WebCore/svg/SVGGElement.cpp
  Source/WebCore/svg/SVGGElement.h
  Source/WebCore/svg/SVGGradientElement.cpp
  Source/WebCore/svg/SVGGradientElement.h
  Source/WebCore/svg/SVGPatternElement.cpp
  Source/WebCore/svg/SVGPatternElement.h
Labels: merge-queue, SVG

#33197 Build fix for 283219@main.
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIActionCocoa.mm
Labels: unsafe-merge-queue, WebKit Extensions

#33133 [Site Isolation] WKWebView.themeColor should only be affected by transactions from the main frame
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
Labels: unsafe-merge-queue, WebKit Process Model

#33202 [ GARDENING ] REGRESSION (Sonoma): [ macOS Sonoma ] 3x http/tests/media/video-* is a constant failure.
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, Media
