Repository WebKit/WebKit, pull requests merged in 2024-05, with the labels that each got.

#27945 Begin implementing iframe provisional navigation failure handling with site isolation
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
Labels: unsafe-merge-queue, WebKit Process Model

#27964 Do not allocate WTF::Function in hot path
  Source/WebCore/bindings/js/JSCustomElementInterface.cpp
  Source/WebCore/bindings/js/JSCustomElementInterface.h
  Source/WebCore/bindings/js/JSValueInWrappedObject.h
Labels: unsafe-merge-queue, JavaScriptCore

#19378 [results.webkit.org] Handle bad commitRepresentation cookie
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/static/js/commit.js
Labels: Tools / Tests

#27950 [run-javascriptcore-tests] Add Sonoma, Ventura and Monterey
  Tools/Scripts/run-javascriptcore-tests
Labels: unsafe-merge-queue, Tools / Tests

#27144 [results.webkit.org] Fetch missing range commit on dashboard
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/static/js/commit.js
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/static/js/dashboard.js
Labels: Tools / Tests, skip-ews

#27954 Fetch all 4 border widths with one virtual function call in a few more places
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderBoxInlines.h
Labels: merge-queue, Layout and Rendering

#27951 [JSC] ASSERTION FAILED: pos >= negativePositionOffest in char32_t JSC::Yarr::Interpreter<unsigned char>::InputStream::readChecked(unsigned int)
  JSTests/stress/regexp-lookbehind.js
  Source/JavaScriptCore/yarr/YarrInterpreter.cpp
Labels: merge-queue, JavaScriptCore

#27957 REGRESSION (272891@main): [ Sonoma wk1 ] 3 tests in imported/w3c/web-platform-tests/css/filter-effects are constant failures
  LayoutTests/imported/w3c/web-platform-tests/css/filter-effects/css-filters-animation-grayscale.html
  LayoutTests/imported/w3c/web-platform-tests/css/filter-effects/css-filters-animation-sepia.html
  LayoutTests/imported/w3c/web-platform-tests/css/filter-effects/filters-grayscale-001-test.html
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: merge-queue, New Bugs

#27870 Adopt more smart pointers in LocalFrame
  Source/WebCore/page/LocalFrame.cpp
Labels: WebCore Misc.

#27932 Regression(278060@main): Unreviewed, build error with ENABLE_RELEASE_LOG=OFF and ENABLE_JOURNALD_LOG=OFF
  Source/WebCore/Modules/mediasource/MediaSource.cpp
Labels: New Bugs

#27939 Web Inspector: Top or bottom of Web Inspector is cut off on short viewports
  Source/WebInspectorUI/UserInterface/Views/ConsoleDrawer.js
  Source/WebInspectorUI/UserInterface/Views/QuickConsole.js
  Source/WebInspectorUI/UserInterface/Views/Variables.css
Labels: merge-queue, Web Inspector

#27879 Fix test indicator position for site-isolated performImmediateActionHitTestAtLocation
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
Labels: WebKit Misc.

#27958 [Site Isolation] Notify all web processes when a frame name has changed
  LayoutTests/platform/mac-site-isolation/TestExpectations
  Source/WebCore/loader/LocalFrameLoaderClient.h
  Source/WebCore/page/LocalDOMWindow.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebLocalFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebLocalFrameLoaderClient.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
Labels: unsafe-merge-queue, WebKit Process Model

#27973 [JSC] Threading Concurrency::MainThread in isWatchableAssumingImpurePropertyWatchpoint
  Source/JavaScriptCore/bytecode/AccessCase.cpp
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.cpp
  Source/JavaScriptCore/bytecode/ObjectPropertyCondition.cpp
  Source/JavaScriptCore/bytecode/ObjectPropertyCondition.h
  Source/JavaScriptCore/bytecode/PropertyCondition.cpp
  Source/JavaScriptCore/bytecode/PropertyCondition.h
Labels: unsafe-merge-queue, JavaScriptCore

#27495 [cocoa] Block response from localhost for mixed content if not loopback
  Source/WebCore/platform/network/DNS.cpp
  Source/WebCore/platform/network/DNS.h
  Source/WebKit/NetworkProcess/NetworkDataTask.cpp
  Source/WebKit/NetworkProcess/NetworkDataTask.h
  Source/WebKit/NetworkProcess/NetworkDataTaskBlob.cpp
  Source/WebKit/NetworkProcess/NetworkDataTaskDataURL.cpp
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
  Source/WebKit/NetworkProcess/curl/NetworkDataTaskCurl.cpp
  Source/WebKit/NetworkProcess/soup/NetworkDataTaskSoup.cpp
Labels: Page Loading

#27970 [iOS] Unable to autofill username-only pages in WKWebView
  Source/WebCore/editing/cocoa/AutofillElements.cpp
  Tools/TestWebKitAPI/Tests/ios/WKWebViewAutofillTests.mm
Labels: merge-queue, Forms

#27965 Deploy more smart pointers in Source/WebKit/GPUProcess/GPUProcess.cpp
  Source/WebKit/GPUProcess/GPUProcess.cpp
  Source/WebKit/Shared/AuxiliaryProcess.h
Labels: unsafe-merge-queue, WebKit2

#27941 Remove configure-xcode-for-embedded-development
  ReadMe.md
  Tools/Scripts/configure-xcode-for-embedded-development
  Websites/webkit.org/languages.md
Labels: unsafe-merge-queue, Tools / Tests

#27936 Decoupling from-font resolution from FontCascadeFonts::primaryFont
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/platform/graphics/FontCascade.h
  Source/WebCore/platform/graphics/FontCascadeDescription.cpp
  Source/WebCore/platform/graphics/FontCascadeDescription.h
  Source/WebCore/platform/graphics/FontCascadeFonts.h
  Source/WebCore/platform/graphics/FontSizeAdjust.h
Labels: merge-queue, Text

#17366 [PlayStation] Hook in rendering to GPU Process
  Source/WebCore/PlatformPlayStation.cmake
  Source/WebKit/GPUProcess/EntryPoint/playstation/GPUProcessMain.cpp
  Source/WebKit/GPUProcess/playstation/GPUProcessPlayStation.cpp
  Source/WebKit/UIProcess/playstation/PageClientImpl.cpp
  Source/WebKit/UIProcess/playstation/PageClientImpl.h
  Source/WebKit/UIProcess/playstation/WebPageProxyPlayStation.cpp
Labels: Platform

#27744 Select primary font for missing glyph for PUA characters
  LayoutTests/TestExpectations
  LayoutTests/platform/mac/fast/text/softbank-emoji-expected.txt
  LayoutTests/platform/wpe/fast/text/softbank-emoji-expected.txt
  Source/WebCore/platform/graphics/FontCascadeFonts.cpp
Labels: Text

#27942 [Site Isolation] Document::isTopDocument should return false for document of subframe
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
Labels: New Bugs

#27972 REGRESSION(278148@main): random crashes under JSC::WatchpointSet::fireAllWatchpoints
  Source/JavaScriptCore/jit/GCAwareJITStubRoutine.cpp
  Source/JavaScriptCore/jit/GCAwareJITStubRoutine.h
Labels: unsafe-merge-queue, JavaScriptCore

#27986 REGRESSION (278112@main): [ MacOS iOS ] TestWebKitAPI.Color.P3ConversionToSRGB is a consistent failure
  Tools/TestWebKitAPI/Tests/WebCore/ColorTests.cpp
Labels: merge-queue, New Bugs

#28006 [ Ventura WK1 ] http/tests/media/hls/track-webvtt-multitracks.html is a mostly timeout/crash
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#27971 Use an inline capacity 2 for the vector for LayerAndBounds
  Source/WebCore/rendering/LayerOverlapMap.cpp
  Source/WebCore/rendering/LayerOverlapMap.h
  Source/WebCore/rendering/RenderLayerCompositor.cpp
Labels: unsafe-merge-queue, Compositing

#27969 [view-transitions] https://spotify-astro-transitions.vercel.app glitches due to incorrect layer position with overflow:hidden ancestor.
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/new-content-ancestor-clipped-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/new-content-ancestor-clipped-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/new-content-ancestor-clipped.html
  Source/WebCore/rendering/RenderLayerBacking.cpp
Labels: merge-queue, Layout and Rendering

#27961 JSC cli should have a short option for useConcurrentJIT=0
  Source/JavaScriptCore/jsc.cpp
  Tools/Scripts/run-jsc-stress-tests
Labels: JavaScriptCore

#28008 Fix the MODEL_PROCESS build after 278224@main
  Source/WebKit/ModelProcess/ModelProcessModelPlayerManagerProxy.h
Labels: unsafe-merge-queue, DOM

#27991 remoteViewToRootView is sync and can return result directly
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
Labels: merge-queue, New Bugs

#28016 Forward availability notification from WebInspector daemon
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Labels: unsafe-merge-queue, WebKit Process Model

#28012 [ Ventura ] css3/filters/effect-drop-shadow-clip-abspos.html(layout-tests) is a constant IMAGE failure
  LayoutTests/css3/filters/effect-drop-shadow-clip-abspos.html
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: merge-queue, New Bugs

#27937 Harden JSLexicalEnvironment::getOwnPropertySlot by asserting the attribute's accessor status
  Source/JavaScriptCore/runtime/JSLexicalEnvironment.cpp
  Source/JavaScriptCore/runtime/PropertySlot.h
Labels: JavaScriptCore

#28002 Remove no longer needed testing infrastructure from post-commit OpenSource
  Tools/CISupport/build-webkit-org/config.json
  Tools/CISupport/build-webkit-org/factories_unittest.py
  Tools/CISupport/build-webkit-org/public_html/dashboard/Scripts/Dashboard.js
  Tools/CISupport/build-webkit-org/public_html/dashboard/Scripts/WebKitBuildbot.js
  Tools/CISupport/build-webkit-org/public_html/dashboard/Styles/Main.css
  Tools/CISupport/build-webkit-org/steps_unittest.py
Labels: unsafe-merge-queue

#27993 Safari crashes at WebKit::WebExtensionContext::openInspectors.
  Source/WebKit/UIProcess/API/Cocoa/_WKWebExtensionContext.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPICookiesCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
Labels: WebKit Extensions

#28026 [Gardening]: [macOS iOS] Multiple tests in imported/w3c/web-platform-tests/css* are constant failing
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#27947 Remove current macOS (mac-sonoma) from baseline search path
  Tools/Scripts/webkitpy/port/mac.py
  Tools/Scripts/webkitpy/port/mac_unittest.py
Labels: merge-queue, Tools / Tests

#28013 Crash in CheckedPtr::decrementPtrCount via SplitTextNodeContainingElementCommand::doApply
  LayoutTests/editing/style/apply-style-split-text-element-at-end-crash-expected.txt
  LayoutTests/editing/style/apply-style-split-text-element-at-end-crash.html
  Source/WebCore/editing/CompositeEditCommand.cpp
  Source/WebCore/editing/SplitTextNodeContainingElementCommand.cpp
Labels: unsafe-merge-queue, HTML Editing

#27948 strip-tbd: Always remove allowable client list
  Tools/Scripts/strip-tbd
Labels: Tools / Tests

#28000 [UnifiedPDF] Snapshots don't get the correct scroll offset
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: PDF

#25160 Log attachment editing operations
  Source/WTF/wtf/StackTrace.h
  Source/WebCore/html/HTMLAttachmentElement.cpp
Labels: HTML Editing

#27994 Moving Masonry to preview
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: merge-queue

#28011 REGRESSION (273393@main): Elevated CPU use in UIProcess and NetworkProcess due to always sending resource load messages to UIProcess.
  Source/WebKit/NetworkProcess/NetworkResourceLoadParameters.cpp
  Source/WebKit/NetworkProcess/NetworkResourceLoadParameters.h
  Source/WebKit/NetworkProcess/NetworkResourceLoadParameters.serialization.in
  Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp
  Source/WebKit/WebProcess/Extensions/WebExtensionControllerProxy.h
  Source/WebKit/WebProcess/Network/WebLoaderStrategy.cpp
Labels: unsafe-merge-queue, WebKit Extensions

#28020 Weak ref smart pointer check should be smarter
  Source/WTF/wtf/TypeTraits.h
  Source/WTF/wtf/WeakPtr.h
  Source/WTF/wtf/WeakRef.h
Labels: unsafe-merge-queue, DOM

#28027 Deploy smart pointers in GPUConnectionToWebProcess.cpp
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.cpp
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.h
Labels: unsafe-merge-queue, WebKit2

#28035 Unreviewed, follow-up after 278223@main
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#28032 [WebXR] Override compositor textures sRGB transfer function
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/ImageMtl.mm
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/mtl_format_utils.h
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/mtl_format_utils.mm
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/mtl_resources.h
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/mtl_resources.mm
  Source/WebCore/Modules/webxr/WebXROpaqueFramebuffer.cpp
Labels: WebXR

#28028 `UIScriptControllerIOS::sendEventStream` sometimes asserts on debug builds
  Tools/TestRunnerShared/Bindings/JSWrappable.h
Labels: Tools / Tests

#27966 Forward more notifications to the WebContent process
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/Scripts/process-entitlements.sh
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Labels: WebKit Process Model

#28033 Simplify allWorkers() in Worker.cpp
  Source/WebCore/workers/Worker.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#27927 [MSE][GStreamer] Avoid extra/circular refs between tracks/streams
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/SourceBufferPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/SourceBufferPrivateGStreamer.h
  Source/WebCore/platform/graphics/gstreamer/mse/WebKitMediaSourceGStreamer.cpp
Labels: Media, GLib Suggested Backport

#28018 Fix typo 'accessiblity' across test cases
  LayoutTests/accessibility/focus-new-element.html
  LayoutTests/http/tests/media/hls/hls-accessibility-describes-video-expected.txt
  LayoutTests/http/tests/media/hls/hls-accessibility-describes-video.html
  LayoutTests/media/accessibility-describes-video-expected.txt
  LayoutTests/media/accessibility-describes-video.html
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/accessibility/focus-new-element-expected.txt
  LayoutTests/platform/ios/accessibility/focus-new-element-expected.txt
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/platform/mac/accessibility/focus-new-element-expected.txt
Labels: Tools / Tests

#27988 [GTK] Don't notify cursor when cursorRect is default-initialized
  Source/WebKit/UIProcess/API/glib/InputMethodFilter.cpp
Labels: merge-queue

#28023 Fix build of GLFence.cpp for !USE(LIBEPOXY)
  Source/WebCore/PlatformPlayStation.cmake
  Source/WebCore/PlatformWin.cmake
  Source/WebCore/platform/graphics/egl/GLFence.cpp
Labels: Tools / Tests

#27979 [GStreamer] Memory leak fixes in GStreamerElementHarness tests
  Tools/TestWebKitAPI/Tests/WebCore/gstreamer/GStreamerTest.cpp
  Tools/TestWebKitAPI/Tests/WebCore/gstreamer/GStreamerTest.h
  Tools/TestWebKitAPI/Tests/WebCore/gstreamer/GstElementHarness.cpp
Labels: Tools / Tests

#27967 Further reduce use of const char* in <wtf/DateMath.h>
  Source/JavaScriptCore/runtime/JSDateMath.cpp
  Source/WTF/wtf/DateMath.cpp
  Source/WTF/wtf/DateMath.h
Labels: unsafe-merge-queue

#27871 [GStreamer] Video encoder configuration using codec strings
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/platform/graphics/gstreamer/GStreamerRegistryScanner.cpp
  Source/WebCore/platform/graphics/gstreamer/VideoEncoderGStreamer.cpp
  Source/WebCore/platform/gstreamer/GStreamerCodecUtilities.cpp
  Source/WebCore/platform/gstreamer/GStreamerCodecUtilities.h
  Source/WebCore/platform/gstreamer/VideoEncoderPrivateGStreamer.cpp
  Source/WebCore/platform/gstreamer/VideoEncoderPrivateGStreamer.h
  Source/WebCore/platform/mediarecorder/MediaRecorderPrivateGStreamer.cpp
  Source/WebCore/platform/mediarecorder/MediaRecorderPrivateGStreamer.h
  Source/WebCore/platform/mediastream/gstreamer/RealtimeOutgoingVideoSourceGStreamer.cpp
  Tools/TestWebKitAPI/Tests/WebCore/gstreamer/GStreamerTest.cpp
Labels: Platform, GLib Suggested Backport

#28017 fast/forms/select/mac-wk2/inactive-appearance.html doesn't produce results
  LayoutTests/fast/forms/select/mac-wk2/inactive-appearance.html
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: Tools / Tests, skip-ews

#28038 [JSC] Keeping Identifiers in PolymorphicAccessJITStubRoutine is not necessary
  Source/JavaScriptCore/jit/GCAwareJITStubRoutine.cpp
  Source/JavaScriptCore/jit/GCAwareJITStubRoutine.h
Labels: JavaScriptCore

#28031 Follow-up to "[visionOS] Add SPI module for LinearMediaKit"
  Source/WebKit/Configurations/WebKitSwift.xcconfig
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: merge-queue

#28019 Check that objects have inline storage before trying to copy it
  Source/JavaScriptCore/runtime/ObjectConstructorInlines.h
Labels: JavaScriptCore

#28025 [import-w3c-tests] references should be imported as their original filename too
  Tools/Scripts/webkitpy/w3c/test_importer.py
  Tools/Scripts/webkitpy/w3c/test_importer_unittest.py
  Tools/Scripts/webkitpy/w3c/test_parser.py
  Tools/Scripts/webkitpy/w3c/test_parser_unittest.py
Labels: unsafe-merge-queue, Tools / Tests

#27929 [GStreamer][EME] Reworked the reference counting of sessions
  Source/WebCore/platform/encryptedmedia/CDMProxy.cpp
  Source/WebCore/platform/encryptedmedia/CDMProxy.h
  Source/WebCore/platform/encryptedmedia/clearkey/CDMClearKey.cpp
  Source/WebCore/platform/graphics/gstreamer/eme/CDMThunder.cpp
Labels: Media

#19251 [WIP] Introduce BigInt Public C API in JavaScriptCore
  Source/JavaScriptCore/API/JSBase.h
  Source/JavaScriptCore/API/JSValue.h
  Source/JavaScriptCore/API/JSValue.mm
  Source/JavaScriptCore/API/JSValueRef.cpp
  Source/JavaScriptCore/API/JSValueRef.h
  Source/JavaScriptCore/API/tests/testapi.cpp
  Source/JavaScriptCore/API/tests/testapi.mm
Labels: JavaScriptCore

#28029 Allow text to be set to a transparency.
  Source/WebCore/dom/DocumentMarker.h
  Source/WebCore/dom/DocumentMarkerController.cpp
  Source/WebCore/rendering/MarkedText.cpp
  Source/WebCore/rendering/MarkedText.h
  Source/WebCore/rendering/RenderReplaced.cpp
  Source/WebCore/rendering/StyledMarkedText.cpp
  Source/WebCore/rendering/TextBoxPainter.cpp
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Tools/TestWebKitAPI/Tests/WebCore/MarkedText.cpp
Labels: unsafe-merge-queue, WebKit Misc., safe-merge-queue

#28037 Add site quirk that adjusts a request's same-site property
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
Labels: Page Loading

#27997 Remove nsStringFromWebCoreString in favor of String::operator NSString*
  Source/WebKit/NetworkProcess/mac/NetworkProcessMac.mm
  Source/WebKit/Platform/mac/StringUtilities.h
  Source/WebKit/Platform/mac/StringUtilities.mm
  Source/WebKit/UIProcess/API/C/mac/WKContextPrivateMac.mm
  Source/WebKit/UIProcess/Cocoa/WebPreferencesCocoa.mm
  Source/WebKit/UIProcess/ios/PageClientImplIOS.mm
  Source/WebKit/UIProcess/mac/PageClientImplMac.mm
  Source/WebKit/UIProcess/mac/WebPageProxyMac.mm
  Source/WebKit/UIProcess/mac/WebPopupMenuProxyMac.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKit/WebProcess/WebCoreSupport/WebPlatformStrategies.cpp
Labels: unsafe-merge-queue, WebKit Misc.

#28058 [ Sonoma wk2 release ] fast/forms/listbox-padding-clip-selected.html is a flaky image failure
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#28054 Remove `innerText` test directory since duplicate of `html/dom/elements/the-innertext-and-outertext-properties`
  LayoutTests/imported/w3c/resources/import-expectations.json
  LayoutTests/imported/w3c/web-platform-tests/innerText/getter-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/innerText/getter-tests.js
  LayoutTests/imported/w3c/web-platform-tests/innerText/getter.html
  LayoutTests/imported/w3c/web-platform-tests/innerText/setter-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/innerText/setter-tests.js
  LayoutTests/imported/w3c/web-platform-tests/innerText/setter.html
  LayoutTests/imported/w3c/web-platform-tests/innerText/w3c-import.log
Labels: unsafe-merge-queue, Tools / Tests

#27935 REGRESSION (274826@main): [ iOS ] imported/w3c/web-platform-tests/xhr/setrequestheader-case-insensitive.htm is a constant failure (attempt #2)
  LayoutTests/imported/w3c/web-platform-tests/xhr/setrequestheader-case-insensitive-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/xhr/setrequestheader-case-insensitive.htm
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/xhr/setrequestheader-case-insensitive-expected.txt
Labels: Tools / Tests

#28059 Unreviewed, reverting 278269@main (f33389c)
  Source/WebKit/Configurations/WebKitSwift.xcconfig
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: unsafe-merge-queue, Tools / Tests

#28055 [view-transitions] Make some ViewTransition class methods private
  Source/WebCore/dom/ViewTransition.h
Labels: CSS

#27702 [WebGPU] mapAsync shouldn't be calling getMappedRange on the entire buffer
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebCore/Modules/WebGPU/GPUBuffer.cpp
  Source/WebCore/Modules/WebGPU/GPUBuffer.h
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUBufferImpl.cpp
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUBufferImpl.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUBuffer.h
  Source/WebGPU/WebGPU/Buffer.h
  Source/WebGPU/WebGPU/Buffer.mm
  Source/WebGPU/WebGPU/WebGPU.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteBuffer.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteBuffer.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteBuffer.messages.in
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteBufferProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteBufferProxy.h
Labels: WebGPU

#28049 [Unified Text Replacement] Ensure resources are preserved when creating fragments
  Source/WebKit/WebProcess/WebPage/Cocoa/UnifiedTextReplacementController.mm
Labels: unsafe-merge-queue, New Bugs

#28030 [JSC] Start using limited variant of Handler IC
  Source/JavaScriptCore/bytecode/AccessCase.cpp
  Source/JavaScriptCore/bytecode/AccessCase.h
  Source/JavaScriptCore/bytecode/GetByStatus.cpp
  Source/JavaScriptCore/bytecode/GetterSetterAccessCase.cpp
  Source/JavaScriptCore/bytecode/GetterSetterAccessCase.h
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.cpp
  Source/JavaScriptCore/bytecode/PutByStatus.cpp
  Source/JavaScriptCore/jit/GCAwareJITStubRoutine.h
  Source/JavaScriptCore/runtime/StructureID.h
Labels: unsafe-merge-queue, JavaScriptCore

#28063 REGRESSION (273737@main): [ iOS 17 ] imported/w3c/web-platform-tests/css/css-flexbox/negative-overflow-002.html is a consistent text failure
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#28064 Use alt_entry on visionOS
  Source/WTF/wtf/PlatformEnable.h
Labels: unsafe-merge-queue, JavaScriptCore

#28072 Unreviewed, ASSERTION FAILED: cellsToMark.isEmpty() and crashes on 'neowin.net'
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#28022 Rename some "forceRepaint" functions for clarity
  Source/WebKit/UIProcess/API/C/WKPage.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebView.cpp
  Source/WebKit/UIProcess/ViewGestureController.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
  Source/WebKit/UIProcess/mac/WKFullScreenWindowController.mm
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundlePage.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.h
  Source/WebKit/WebProcess/WebPage/DrawingArea.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDrawingArea.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDrawingArea.mm
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
  Source/WebKit/WebProcess/WebPage/mac/TiledCoreAnimationDrawingArea.h
  Source/WebKit/WebProcess/WebPage/mac/TiledCoreAnimationDrawingArea.mm
  Source/WebKit/WebProcess/WebPage/wc/DrawingAreaWC.cpp
  Source/WebKit/WebProcess/WebPage/wc/DrawingAreaWC.h
Labels: merge-queue, WebKit Misc.

#28069 Remove StringBuilder calls in CacheStorageDiskStore
  Source/WebKit/NetworkProcess/storage/CacheStorageDiskStore.cpp
Labels: merge-queue, WebKit Misc.

#27614 Switch to use enum class for typesetterOptions() template in ComplexTextControllerCoreText.mm
  Source/WebCore/platform/graphics/mac/ComplexTextControllerCoreText.mm
Labels: Text

#28070 REGRESSION (278263@main): [UnifiedPDF] Error about ProcessCapabilities::canUseAcceleratedBuffers()
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: merge-queue, PDF

#28068 Clear text indicator styles when they are no longer needed
  Source/WebKit/WebProcess/WebPage/Cocoa/UnifiedTextReplacementController.mm
Labels: unsafe-merge-queue, New Bugs

#27813 [macOS] If you scroll the page without moving the mouse, we fail to update the cursor as things scroll underneath it
  Source/WebCore/PAL/pal/HysteresisActivity.h
  Source/WebCore/page/EventHandler.cpp
  Source/WebCore/page/EventHandler.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
  Tools/TestWebKitAPI/Tests/WebCore/HysteresisActivityTests.cpp
Labels: Scrolling

#28073 [UnifedPDF] Occasional crash at GraphicsLayerCA::setNeedsDisplayInRect() with slow-rendering PDFs
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: merge-queue, PDF

#28061 Fix PlayStation build of WebKitTestRunner after 278039@main
  Tools/WebKitTestRunner/InjectedBundle/playstation/AccessibilityUIElementPlayStation.cpp
Labels: unsafe-merge-queue, Tools / Tests

#27995 [WebGPU] useResources: should not be called on empty resource list
  LayoutTests/TestExpectations
  LayoutTests/fast/webgpu/fuzz-273505-expected.txt
  LayoutTests/fast/webgpu/fuzz-273505.html
  Source/WebGPU/WebGPU/BindGroup.mm
  Source/WebGPU/WebGPU/CommandEncoder.mm
  Source/WebGPU/WebGPU/ComputePassEncoder.mm
  Source/WebGPU/WebGPU/Queue.mm
  Source/WebGPU/WebGPU/RenderBundleEncoder.h
  Source/WebGPU/WebGPU/RenderBundleEncoder.mm
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
Labels: merge-queue, WebGPU

#27916 Add additional testing for NSTextSelectionRect/NSTextPlaceholder.
  Tools/TestWebKitAPI/Tests/WebKitCocoa/TextPlaceholderTests.mm
Labels: unsafe-merge-queue, WebKit Misc.

#27761 Non-unified build fixes, early May 2024 edition
  Source/JavaScriptCore/jit/ExecutableAllocator.cpp
  Source/JavaScriptCore/runtime/JSCBytecodeCacheVersion.cpp
  Source/WebCore/bindings/js/DOMWrapperWorld.cpp
  Source/WebCore/crypto/algorithms/CryptoAlgorithmHKDF.cpp
  Source/WebCore/crypto/algorithms/CryptoAlgorithmHMAC.cpp
  Source/WebCore/dom/WindowEventLoop.cpp
  Source/WebCore/layout/FormattingState.cpp
  Source/WebCore/layout/Verification.cpp
  Source/WebCore/layout/floats/FloatAvoider.cpp
  Source/WebCore/layout/formattingContexts/block/BlockFormattingState.cpp
  Source/WebCore/layout/formattingContexts/block/tablewrapper/TableWrapperBlockFormattingContext.cpp
  Source/WebCore/layout/formattingContexts/block/tablewrapper/TableWrapperBlockFormattingQuirks.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineItem.cpp
  Source/WebCore/layout/formattingContexts/table/TableFormattingState.cpp
  Source/WebCore/layout/formattingContexts/table/TableGrid.cpp
  Source/WebCore/layout/integration/LayoutIntegrationBoxTree.cpp
  Source/WebCore/layout/layouttree/LayoutInitialContainingBlock.cpp
  Source/WebCore/layout/layouttree/LayoutInlineTextBox.cpp
  Source/WebCore/page/ElementTargetingController.cpp
  Source/WebCore/page/ElementTargetingController.h
  Source/WebCore/platform/graphics/FontCascadeDescription.cpp
  Source/WebCore/platform/graphics/PixelFormatValidated.cpp
  Source/WebCore/svg/properties/SVGSharedPrimitiveProperty.h
  Source/WebCore/xml/parser/XMLDocumentParserScope.cpp
  Source/WebCore/xml/parser/XMLDocumentParserScope.h
  Source/WebKit/UIProcess/API/APITargetedElementRequest.cpp
  Source/WebKit/UIProcess/API/APITargetedElementRequest.h
Labels: Tools / Tests

#27998 [WebGPU] RenderBundleEncoder::endCurrentICB may fail validation when the bundle has zero draw calls
  LayoutTests/TestExpectations
  LayoutTests/fast/webgpu/fuzz-273566-expected.txt
  LayoutTests/fast/webgpu/fuzz-273566.html
  Source/WebGPU/WebGPU/RenderBundleEncoder.mm
Labels: merge-queue, WebGPU

#27807 Leaked 2D contexts might consume all OS global GPU resources
  LayoutTests/fast/canvas/image-buffer-backend-count-limit-expected.txt
  LayoutTests/fast/canvas/image-buffer-backend-count-limit.html
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/wincairo/TestExpectations
  Source/WebKit/GPUProcess/RemoteSharedResourceCache.cpp
  Source/WebKit/GPUProcess/RemoteSharedResourceCache.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
Labels: merge-queue, Canvas

#27980 [ARMv7] Fix concurrent BBQ repatching
  Source/JavaScriptCore/assembler/ARMv7Assembler.h
  Source/JavaScriptCore/assembler/AssemblerCommon.h
  Source/JavaScriptCore/assembler/MacroAssemblerARMv7.h
Labels: JavaScriptCore

#27987 [GStreamer][WebAudio] Misc improvements in playback pipeline
  Source/WebCore/platform/audio/gstreamer/AudioDestinationGStreamer.cpp
  Source/WebCore/platform/audio/gstreamer/WebKitWebAudioSourceGStreamer.cpp
Labels: Platform, GLib Suggested Backport

#28076 Re-import css/css-view-transitions WPT
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/hit-test-unpainted-element-from-point-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/hit-test-unpainted-element-from-point-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/iframe-transition-destroyed-document-crash.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/pseudo-with-classes-match-wildcard-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/pseudo-with-classes-match-wildcard.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/root-element-display-none-during-transition-crash.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/root-to-shared-animation-incoming-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/root-to-shared-animation-incoming-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/w3c-import.log
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: CSS

#28045 [ArmV7] proxy-is-array.js is a constant failure
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT32_64.cpp
Labels: JavaScriptCore

#27975 Adopt more smart pointers in History.cpp
  Source/WebCore/page/History.cpp
Labels: WebCore Misc.

#26565 Adjust <input type=checkbox switch> iOS animation
  Source/WebCore/html/CheckboxInputType.cpp
  Source/WebCore/html/CheckboxInputType.h
  Source/WebCore/html/HTMLInputElement.cpp
  Source/WebCore/html/HTMLInputElement.h
  Source/WebCore/platform/graphics/SpringSolver.h
  Source/WebCore/rendering/RenderTheme.h
  Source/WebCore/rendering/ios/RenderThemeIOS.h
Labels: Forms

#28050 Web Inspector: Scrollbar shows behind content in Console and Event badge popover
  Source/WebInspectorUI/UserInterface/Views/DOMTreeElement.css
  Source/WebInspectorUI/UserInterface/Views/LogContentView.css
Labels: merge-queue, Web Inspector

#27926 Adopt more smart pointers in IntersectionObserver
  Source/WebCore/page/IntersectionObserver.cpp
Labels: merge-queue, WebCore Misc.

#28088 [GLIB] Simplify the GTlsCertificate argument coders
  Source/WebKit/Shared/glib/ArgumentCodersGLib.cpp
  Source/WebKit/Shared/glib/ArgumentCodersGLib.h
Labels: unsafe-merge-queue, WebKitGTK

#28096 [GTK] Gardening a11y API tests
  Tools/TestWebKitAPI/glib/TestExpectations.json
Labels: unsafe-merge-queue, WebKitGTK

#27978 [WPE][Debug] ASSERTION FAILED: m_wrapper
  Source/WebCore/html/HTMLMediaElement.cpp
Labels: merge-queue, Media

#28094 [GTK] accessibility/aria-combobox-control-owns-elements.html timing out since added in r227144
  LayoutTests/platform/glib/TestExpectations
Labels: unsafe-merge-queue, WebKitGTK

#28075 Fix for UIProcess crash after 273330.
  Source/WebKit/UIProcess/mac/WKImmediateActionController.mm
Labels: unsafe-merge-queue, WebKit Misc.

#28052 [MacOS] WKWebView should have SPI to report whether a PDF is being displayed
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKPDFView.mm
Labels: unsafe-merge-queue, WebKit API

#27646 Unskip html/semantics/popover-light-dismiss.html WPT
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-light-dismiss-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-light-dismiss-scroll-within-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-light-dismiss-scroll-within.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/popovers/popover-light-dismiss.html
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/semantics/popovers/popover-light-dismiss-expected.txt
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/html/semantics/popovers/popover-light-dismiss-expected.txt
  LayoutTests/platform/mac-ventura-wk2/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: Tools / Tests

#27805 [WebGPU] Destroyed texture should not be used as depth stencil attachments
  LayoutTests/TestExpectations
  LayoutTests/fast/webgpu/fuzz-273323-expected.txt
  LayoutTests/fast/webgpu/fuzz-273323.html
  LayoutTests/fast/webgpu/fuzz-273573-expected.txt
  LayoutTests/fast/webgpu/fuzz-273573.html
  Source/WebGPU/WebGPU/CommandEncoder.mm
  Source/WebGPU/WebGPU/Device.h
  Source/WebGPU/WebGPU/Device.mm
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
  Source/WebGPU/WebGPU/Texture.mm
  Source/WebGPU/WebGPU/TextureView.h
  Source/WebGPU/WebGPU/TextureView.mm
Labels: WebGPU

#27390 [visionOS] Refine transition for Image Fullscreen
  Source/WebKit/UIProcess/WebFullScreenManagerProxy.cpp
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
Labels: Media

#28102 Unreviewed, reverting 278288@main (e67257693a4f)
  Source/JavaScriptCore/bytecode/AccessCase.cpp
  Source/JavaScriptCore/bytecode/AccessCase.h
  Source/JavaScriptCore/bytecode/GetByStatus.cpp
  Source/JavaScriptCore/bytecode/GetterSetterAccessCase.cpp
  Source/JavaScriptCore/bytecode/GetterSetterAccessCase.h
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.cpp
  Source/JavaScriptCore/bytecode/PutByStatus.cpp
  Source/JavaScriptCore/jit/GCAwareJITStubRoutine.h
  Source/JavaScriptCore/runtime/StructureID.h
Labels: unsafe-merge-queue, JavaScriptCore, skip-ews

#24976 REGRESSION (274409@main): [ macOS wk2 ] 2 tests in http/tests/navigation/ping-attribute are flaky
  LayoutTests/http/tests/navigation/ping-attribute/area-cross-origin-from-https-UpgradeMixedContent.html
  LayoutTests/http/tests/navigation/ping-attribute/area-cross-origin-from-https.html
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: New Bugs

#28092 Canvas/getImageDataFromImageCPU.html and Canvas/getImageDataFromImageGPU.html fail
  PerformanceTests/Canvas/getImageDataFromImageCPU.html
  PerformanceTests/Canvas/getImageDataFromImageGPU.html
Labels: merge-queue, Tools / Tests

#28105 LinearMediaKitSPI.h is installed as a private SDK header
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebKitSwift/WebKitSwift.h
Labels: merge-queue, Tools / Tests

#28108 [visionOS] Add SPI module for LinearMediaKit
  Source/WebKit/Configurations/WebKitSwift.xcconfig
  Source/WebKit/Platform/spi/visionos/LinearMediaKit.swiftinterface
  Source/WebKit/WebKitSwift/LinearMediaKit/WKSLinearMediaPlayer.h
Labels: merge-queue

#28067 Fix a typo in the name of setTransfrom-aliases-transform-expected.html and setTransfrom-aliases-transform.html
  LayoutTests/fast/canvas/setTransform-aliases-transform-expected.html
  LayoutTests/fast/canvas/setTransform-aliases-transform.html
Labels: Tools / Tests

#28082 Rename "computedCSSPadding()" to "resolveLengthPercentage()"
  Source/WebCore/rendering/RenderBoxInlines.h
  Source/WebCore/rendering/RenderBoxModelObject.h
  Source/WebCore/rendering/RenderBoxModelObjectInlines.h
Labels: merge-queue, Layout and Rendering

#28116 Unreviewed, reverting 278275@main (c97a08d)
  Source/JavaScriptCore/API/JSBase.h
  Source/JavaScriptCore/API/JSValue.h
  Source/JavaScriptCore/API/JSValue.mm
  Source/JavaScriptCore/API/JSValueRef.cpp
  Source/JavaScriptCore/API/JSValueRef.h
  Source/JavaScriptCore/API/tests/testapi.cpp
  Source/JavaScriptCore/API/tests/testapi.mm
Labels: unsafe-merge-queue, JavaScriptCore

#27999 [WebGPU] no need to clear destroyed textures
  LayoutTests/TestExpectations
  LayoutTests/fast/webgpu/fuzz-273570-expected.txt
  LayoutTests/fast/webgpu/fuzz-273570.html
  Source/WebGPU/WebGPU/Texture.mm
Labels: WebGPU

#28062 Add a hasTraps() check in B3::Value::effects()
  Source/JavaScriptCore/b3/B3EliminateDeadCode.cpp
  Source/JavaScriptCore/b3/B3Value.cpp
Labels: merge-queue, unsafe-merge-queue, JavaScriptCore

#28119 Add rounded corners to videos in in-window fullscreen mode
  Source/WebCore/css/fullscreen.css
Labels: unsafe-merge-queue, Media

#28110 [UnifiedPDF] Going between page layout modes doesn't rescale or center appropriately
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: merge-queue, PDF

#27601 [cocoa] Expand when new experimental network loader is enabled
  Source/WTF/wtf/cocoa/RuntimeApplicationChecksCocoa.h
  Source/WebCore/PAL/pal/spi/cocoa/NetworkSPI.h
  Source/WebKit/UIProcess/WebsiteData/Cocoa/WebsiteDataStoreCocoa.mm
Labels: Page Loading

#28122 [Unified Text Replacement] When a "rich text" text replacement session ends, the session should be undone if it is not accepted
  Source/WebKit/WebProcess/WebPage/Cocoa/UnifiedTextReplacementController.mm
  Source/WebKit/WebProcess/WebPage/UnifiedTextReplacementController.h
Labels: unsafe-merge-queue, HTML Editing

#28003 [WebGPU] CommandEncoder::beginRenderPass can fail metal validation for destroyed textures
  LayoutTests/TestExpectations
  LayoutTests/fast/webgpu/fuzz-273503-expected.txt
  LayoutTests/fast/webgpu/fuzz-273503.html
  Source/WebGPU/WebGPU/CommandEncoder.mm
Labels: WebGPU

#28126 [WebGPU] Destroyed texture should not be used as depth stencil attachments
  Source/WebGPU/WebGPU/Device.mm
Labels: unsafe-merge-queue, WebGPU

#28129 [Gardening][ Site-Isolation ] Enable more tests to run in site-isolation]
  LayoutTests/platform/mac-site-isolation/TestExpectations
Labels: unsafe-merge-queue, Tools / Tests

#28125 REGRESSION (iOS 17.4.1?): <video> tag fails to adjust its size according to changes in the parent element
  Source/WebKit/UIProcess/Cocoa/VideoPresentationManagerProxy.mm
Labels: merge-queue, Media

#28009 Avoid copying FontPalette and FontVariantAlternates
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/platform/graphics/FontDescription.h
  Source/WebCore/platform/text/TextFlags.cpp
  Source/WebCore/platform/text/TextFlags.h
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/RenderStyleInlines.h
  Source/WebCore/style/StyleBuilderCustom.h
Labels: WebCore Misc.

#28086 --only-smart-pointers should enable webkit.NoUncountedMemberChecker and webkit.RefCntblBaseVirtualDtor
  Tools/Scripts/build-and-analyze
Labels: Tools / Tests

#28132 REGRESSION: [ Ventura+ Release x86_64 ] fast/canvas/image-buffer-backend-variants.html is a flaky failure
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#28134 [ Sonoma+ wk2 Release ] inspector/console/console-screenshot.html is a flaky text failure
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#28135 [ iOS wk2 ] webgl/1.0.3/conformance/uniforms/out-of-bounds-uniform-array-access.html is a flaky/consistent timeout
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, WebGL

#28053 Refactor logic for muting autoplaying video elements in background tabs
  LayoutTests/fast/element-targeting/target-video-in-subframe-expected.txt
  LayoutTests/fast/element-targeting/target-video-in-subframe.html
  LayoutTests/resources/ui-helper.js
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/Element.h
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/html/HTMLMediaElement.h
  Source/WebCore/page/ElementTargetingController.cpp
  Source/WebCore/page/ElementTargetingController.h
  Source/WebCore/page/ElementTargetingTypes.h
  Source/WebCore/page/MediaProducer.h
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/API/APITargetedElementInfo.h
  Source/WebKit/UIProcess/API/Cocoa/_WKTargetedElementInfo.h
  Source/WebKit/UIProcess/API/Cocoa/_WKTargetedElementInfo.mm
  Tools/TestRunnerShared/UIScriptContext/Bindings/UIScriptController.idl
  Tools/TestRunnerShared/UIScriptContext/UIScriptController.h
  Tools/WebKitTestRunner/cocoa/UIScriptControllerCocoa.h
  Tools/WebKitTestRunner/cocoa/UIScriptControllerCocoa.mm
Labels: Platform

#28010 [WebGPU] RenderBundleEncoder::setPipeline replay command should call into RenderPassEncoder
  LayoutTests/TestExpectations
  LayoutTests/fast/webgpu/fuzz-273578-expected.txt
  LayoutTests/fast/webgpu/fuzz-273578.html
  Source/WebGPU/WebGPU/RenderBundleEncoder.mm
  Source/WebGPU/WebGPU/RenderPassEncoder.h
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
Labels: WebGPU

#28109 Replace potentially more confusing decltype() usage with template lambdas where possible
  Source/WebCore/Modules/cache/DOMCache.cpp
  Source/WebCore/Modules/cache/WorkerCacheStorageConnection.cpp
  Source/WebCore/Modules/entriesapi/FileSystemEntry.cpp
  Source/WebCore/Modules/fetch/WindowOrWorkerGlobalScopeFetch.cpp
  Source/WebCore/Modules/indexeddb/IDBKeyData.cpp
  Source/WebCore/Modules/mediastream/PeerConnectionBackend.cpp
  Source/WebCore/Modules/mediastream/libwebrtc/LibWebRTCMediaEndpoint.cpp
  Source/WebCore/bindings/js/JSDOMConvertUnion.h
  Source/WebCore/css/CSSGradientValue.cpp
  Source/WebCore/css/CSSValue.cpp
  Source/WebCore/css/DeprecatedCSSOMValue.cpp
  Source/WebCore/css/StyleRule.cpp
  Source/WebCore/css/color/CSSResolvedColorMix.cpp
  Source/WebCore/dom/Node.cpp
  Source/WebCore/loader/SubresourceIntegrity.cpp
  Source/WebCore/loader/appcache/ApplicationCacheManifestParser.cpp
  Source/WebCore/platform/Length.cpp
  Source/WebCore/platform/graphics/Color.cpp
  Source/WebCore/platform/graphics/ColorBlending.cpp
  Source/WebCore/platform/graphics/ColorConversion.cpp
  Source/WebCore/platform/graphics/ColorInterpolation.cpp
  Source/WebCore/platform/graphics/ColorInterpolationMethod.cpp
  Source/WebCore/platform/graphics/ColorInterpolationMethod.h
  Source/WebCore/platform/graphics/ColorSpace.h
  Source/WebCore/platform/graphics/PathSegment.cpp
  Source/WebCore/platform/graphics/cg/GradientRendererCG.cpp
  Source/WebCore/platform/graphics/displaylists/DisplayListItem.cpp
  Source/WebCore/rendering/RenderBox.h
  Source/WebCore/rendering/svg/SVGRenderSupport.cpp
  Source/WebCore/style/RuleFeature.cpp
  Source/WebCore/svg/SVGViewSpec.cpp
  Source/WebCore/workers/service/ServiceWorkerClients.cpp
  Source/WebCore/workers/service/context/ServiceWorkerFetch.cpp
Labels: merge-queue, New Bugs

#28118 Test fix: Test for parsing XML with WebCore and libxml2 in the same process
  Tools/TestWebKitAPI/Tests/WebCore/cocoa/XMLParsing.mm
Labels: unsafe-merge-queue, Tools / Tests

#28040 [Legacy line layout removal] Stop measuring text in BreakingContext
  LayoutTests/platform/glib/svg/batik/text/xmlSpace-expected.txt
  LayoutTests/platform/ios/svg/batik/text/xmlSpace-expected.txt
  LayoutTests/platform/mac/svg/batik/text/xmlSpace-expected.txt
  Source/WebCore/rendering/LegacyLineLayout.cpp
  Source/WebCore/rendering/LegacyLineLayout.h
  Source/WebCore/rendering/line/BreakingContext.h
  Source/WebCore/rendering/line/LineBreaker.cpp
  Source/WebCore/rendering/line/LineBreaker.h
Labels: merge-queue, Layout and Rendering

#28131 Replace plain enum's by enum class at FontCascade
  Source/WebCore/html/canvas/CanvasRenderingContext2DBase.cpp
  Source/WebCore/platform/graphics/BifurcatedGraphicsContext.h
  Source/WebCore/platform/graphics/FontCascade.cpp
  Source/WebCore/platform/graphics/FontCascade.h
  Source/WebCore/platform/graphics/GraphicsContext.h
  Source/WebCore/platform/graphics/NullGraphicsContext.h
Labels: merge-queue, Text

#28015 [WebGPU] Queue should not allow command buffer to be committed twice
  LayoutTests/TestExpectations
  LayoutTests/fast/webgpu/fuzz-273585-expected.txt
  LayoutTests/fast/webgpu/fuzz-273585.html
  Source/WebGPU/WebGPU/Queue.mm
Labels: merge-queue, WebGPU

#28124 REGRESSION (278276@main): Crash when collecting Transparent DocumentMarkers.
  Source/WebCore/dom/DocumentMarkerController.cpp
  Source/WebCore/rendering/MarkedText.cpp
  Source/WebCore/rendering/MarkedText.h
  Source/WebCore/rendering/RenderText.cpp
  Source/WebCore/rendering/RenderText.h
  Source/WebCore/rendering/TextBoxPainter.cpp
Labels: merge-queue, WebKit Misc., safe-merge-queue

#28115 [GPUP][macOS] Add read access to sysctl properties to match iOS
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
Labels: merge-queue, WebKit2

#28140 [Gardening] [site-isolation] Attempt #2 of enable more tests to run in site-isolation
  LayoutTests/platform/mac-site-isolation/TestExpectations
Labels: unsafe-merge-queue

#27803 Add more smart pointers to lazy load observers
  Source/WebCore/html/LazyLoadFrameObserver.cpp
  Source/WebCore/html/LazyLoadFrameObserver.h
  Source/WebCore/html/LazyLoadImageObserver.cpp
Labels: WebCore Misc.

#28106 [JSC] Reland Handler IC
  Source/JavaScriptCore/bytecode/AccessCase.cpp
  Source/JavaScriptCore/bytecode/AccessCase.h
  Source/JavaScriptCore/bytecode/CodeBlock.cpp
  Source/JavaScriptCore/bytecode/GetByStatus.cpp
  Source/JavaScriptCore/bytecode/GetterSetterAccessCase.cpp
  Source/JavaScriptCore/bytecode/GetterSetterAccessCase.h
  Source/JavaScriptCore/bytecode/InlineAccess.cpp
  Source/JavaScriptCore/bytecode/InlineAccess.h
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.cpp
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.h
  Source/JavaScriptCore/bytecode/PutByStatus.cpp
  Source/JavaScriptCore/bytecode/Repatch.cpp
  Source/JavaScriptCore/bytecode/SharedJITStubSet.h
  Source/JavaScriptCore/bytecode/StructureStubInfo.cpp
  Source/JavaScriptCore/bytecode/StructureStubInfo.h
  Source/JavaScriptCore/dfg/DFGJITCode.cpp
  Source/JavaScriptCore/heap/JITStubRoutineSet.cpp
  Source/JavaScriptCore/jit/GCAwareJITStubRoutine.cpp
  Source/JavaScriptCore/jit/GCAwareJITStubRoutine.h
  Source/JavaScriptCore/runtime/StructureID.h
  Source/WTF/wtf/FixedVector.h
  Source/WTF/wtf/HashCountedSet.h
Labels: unsafe-merge-queue, JavaScriptCore

#27895 [InteractionRegions] Generated clip paths are sometimes offset from their element
  LayoutTests/interaction-region/clip-path-expected.txt
  LayoutTests/interaction-region/clip-path.html
  LayoutTests/interaction-region/icon-masking-expected.txt
  LayoutTests/interaction-region/icon-masking.html
  LayoutTests/interaction-region/svg-expected.txt
  LayoutTests/interaction-region/svg.html
  Source/WebCore/page/InteractionRegion.cpp
  Source/WebCore/page/InteractionRegion.h
  Source/WebCore/rendering/EventRegion.cpp
  Source/WebCore/rendering/EventRegion.h
Labels: merge-queue, Layout and Rendering

#26952 ASAN_SEGV | WebCore::RenderFragmentedFlow::objectShouldFragmentInFlowFragment.
  LayoutTests/fast/css-grid-layout/out-of-flow-positioned-dialog-showModal-crash-expected.txt
  LayoutTests/fast/css-grid-layout/out-of-flow-positioned-dialog-showModal-crash.html
  Source/WebCore/dom/FullscreenManager.cpp
  Source/WebCore/html/HTMLDialogElement.cpp
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderElement.cpp
  Source/WebCore/rendering/RenderElement.h
Labels: Layout and Rendering

#28137 Add a few rules about spaces around lambdas and templates to the style guide
  Websites/webkit.org/code-style.md
Labels: merge-queue, WebKit Website

#28100 Fix find-in-page for words spanning display:contents
  LayoutTests/accessibility/display-contents/aria-grid-expected.txt
  LayoutTests/accessibility/display-contents/list-expected.txt
  LayoutTests/accessibility/display-contents/role-row-headers-expected.txt
  LayoutTests/accessibility/display-contents/table-expected.txt
  LayoutTests/accessibility/display-contents/tree-and-treeitems-expected.txt
  LayoutTests/accessibility/live-region-attributes-update-after-dynamic-change-expected.txt
  LayoutTests/accessibility/mac/aria-drag-drop-expected.txt
  LayoutTests/dom/html/document-renderobject-null-crash-expected.txt
  LayoutTests/fast/css/counters/findPlaceForCounter-display-content-sibling-crash-expected.txt
  LayoutTests/fast/events/ios/click-event-and-display-contents-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-display/accessibility/display-contents-role-and-label-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/dom/elements/the-innertext-and-outertext-properties/getter-expected.txt
  LayoutTests/platform/glib/accessibility/display-contents/aria-grid-expected.txt
  LayoutTests/platform/glib/accessibility/display-contents/table-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-display/accessibility/display-contents-role-and-label-expected.txt
  LayoutTests/platform/ios/accessibility/display-contents/table-expected.txt
  Source/WebCore/editing/TextIterator.cpp
Labels: merge-queue, HTML Editing

#28139 [UnifiedPDF] Text jiggles between the low-res page snapshots and high-resolution tiles
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/AsyncPDFRenderer.mm
Labels: merge-queue, PDF

#28146 When interpolating colors, analogous components must be carried forward
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-color-mix-function-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-computed-relative-color-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-color/parsing/color-valid-relative-color-expected.txt
  Source/WebCore/css/color/CSSResolvedColorMix.cpp
  Source/WebCore/css/parser/CSSPropertyParserConsumer+Color.cpp
  Source/WebCore/platform/graphics/Color.h
  Source/WebCore/platform/graphics/ColorBlending.cpp
  Source/WebCore/platform/graphics/ColorConversion.h
  Source/WebCore/platform/graphics/ColorInterpolation.cpp
  Source/WebCore/platform/graphics/ColorModels.h
  Source/WebCore/platform/graphics/ColorSerialization.cpp
  Source/WebCore/platform/graphics/cg/GradientRendererCG.cpp
Labels: merge-queue, CSS

#28120 HTMLMediaElement::ensureMediaControls() should handle its own exceptions.
  Source/WebCore/html/HTMLMediaElement.cpp
Labels: unsafe-merge-queue, Media
