Repository WebKit/WebKit, pull requests merged in 2024-06, with the labels that each got.

#29393 The selection bounding rect of the post-layout data does not contain the full selection if there are multiple lines
  Source/WebKit/WebProcess/WebPage/mac/WebPageMac.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebViewCandidateTests.mm
Labels: unsafe-merge-queue, HTML Editing

#29275 [Site Isolation] Allow navigating to a domain while a provisional navigation is pending to that same domain
  Source/WebKit/UIProcess/ProvisionalFrameProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
Labels: unsafe-merge-queue, WebKit Process Model

#29410 [Gardening]: [VisionOS] 3 tests in fast/events/pointer/iOS tests are timing out constantly
  LayoutTests/platform/visionos/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#29385 Use "= default" for constructor and destructor in JSC code
  Source/JavaScriptCore/API/ObjCCallbackFunction.mm
  Source/JavaScriptCore/b3/B3ArgumentRegValue.cpp
  Source/JavaScriptCore/b3/B3AtomicValue.cpp
  Source/JavaScriptCore/b3/B3BasicBlock.cpp
  Source/JavaScriptCore/b3/B3BlockInsertionSet.cpp
  Source/JavaScriptCore/b3/B3CCallValue.cpp
  Source/JavaScriptCore/b3/B3CheckSpecial.cpp
  Source/JavaScriptCore/b3/B3CheckValue.cpp
  Source/JavaScriptCore/b3/B3Const32Value.cpp
  Source/JavaScriptCore/b3/B3Const64Value.cpp
  Source/JavaScriptCore/b3/B3ConstDoubleValue.cpp
  Source/JavaScriptCore/b3/B3ConstFloatValue.cpp
  Source/JavaScriptCore/b3/B3ExtractValue.cpp
  Source/JavaScriptCore/b3/B3FenceValue.cpp
  Source/JavaScriptCore/b3/B3MemoryValue.cpp
  Source/JavaScriptCore/b3/B3PatchpointSpecial.cpp
  Source/JavaScriptCore/b3/B3PatchpointValue.cpp
  Source/JavaScriptCore/b3/B3PhiChildren.cpp
  Source/JavaScriptCore/b3/B3Procedure.cpp
  Source/JavaScriptCore/b3/B3PureCSE.cpp
  Source/JavaScriptCore/b3/B3SSACalculator.cpp
  Source/JavaScriptCore/b3/B3SlotBaseValue.cpp
  Source/JavaScriptCore/b3/B3StackmapSpecial.cpp
  Source/JavaScriptCore/b3/B3StackmapValue.cpp
  Source/JavaScriptCore/b3/B3SwitchValue.cpp
  Source/JavaScriptCore/b3/B3UpsilonValue.cpp
  Source/JavaScriptCore/b3/B3UseCounts.cpp
  Source/JavaScriptCore/b3/B3Variable.cpp
  Source/JavaScriptCore/b3/B3VariableLiveness.cpp
  Source/JavaScriptCore/b3/B3VariableValue.cpp
  Source/JavaScriptCore/b3/B3WasmAddressValue.cpp
  Source/JavaScriptCore/b3/B3WasmBoundsCheckValue.cpp
  Source/JavaScriptCore/b3/air/AirBlockInsertionSet.cpp
  Source/JavaScriptCore/b3/air/AirCCallSpecial.cpp
  Source/JavaScriptCore/b3/air/AirCode.cpp
  Source/JavaScriptCore/b3/air/AirPrintSpecial.cpp
  Source/JavaScriptCore/b3/air/AirSpecial.cpp
  Source/JavaScriptCore/b3/air/AirTmpWidth.cpp
  Source/JavaScriptCore/bytecode/CheckPrivateBrandVariant.cpp
  Source/JavaScriptCore/bytecode/DFGExitProfile.cpp
  Source/JavaScriptCore/bytecode/DeferredCompilationCallback.cpp
  Source/JavaScriptCore/bytecode/DeleteByVariant.cpp
  Source/JavaScriptCore/bytecode/GetByVariant.cpp
  Source/JavaScriptCore/bytecode/InlineCallFrameSet.cpp
  Source/JavaScriptCore/bytecode/SetPrivateBrandVariant.cpp
  Source/JavaScriptCore/bytecode/TrackedReferences.cpp
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
  Source/JavaScriptCore/debugger/Debugger.cpp
Labels: merge-queue, WebKit Misc.

#29354 When converting HTML that contains an attachment to an attributed string and back using `HTMLConverter::editingAttributedString`, the attachment is lost
  Source/WebCore/editing/TextIterator.cpp
  Source/WebCore/editing/TextIteratorBehavior.h
  Source/WebCore/editing/WebContentReader.h
  Source/WebCore/editing/cocoa/HTMLConverter.h
  Source/WebCore/editing/cocoa/HTMLConverter.mm
  Source/WebCore/editing/cocoa/WebContentReaderCocoa.mm
  Source/WebKit/WebProcess/WebPage/Cocoa/UnifiedTextReplacementController.mm
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/mac/WebPageMac.mm
  Source/WebKitLegacy/mac/WebView/WebImmediateActionController.mm
Labels: unsafe-merge-queue, HTML Editing

#29399 [Remote Inspection] Refactor some code for copying rendered text from selected elements
  Source/WebCore/page/ElementTargetingController.cpp
  Source/WebCore/page/ElementTargetingTypes.h
  Source/WebCore/page/text-extraction/TextExtraction.cpp
  Source/WebCore/page/text-extraction/TextExtraction.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/API/APITargetedElementInfo.h
  Source/WebKit/UIProcess/API/Cocoa/_WKTargetedElementInfo.h
  Source/WebKit/UIProcess/API/Cocoa/_WKTargetedElementInfo.mm
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ElementTargetingTests.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/element-targeting-9.html
Labels: merge-queue, Platform

#29404 [UnifiedPDF] Store Find rects in terms of PDFPageCoverage
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: merge-queue, PDF

#29329 Add more smart pointers to Length class
  Source/WebCore/platform/Length.cpp
  Source/WebCore/platform/Length.h
Labels: WebCore Misc.

#29402 [UnifiedPDF] Avoid painting page tiles outside the clipRect
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/AsyncPDFRenderer.mm
Labels: merge-queue, PDF

#29395 Assert availability of libwebrtc
  Source/WebCore/platform/mediastream/libwebrtc/LibWebRTCProviderCocoa.cpp
Labels: merge-queue, WebRTC

#29406 Replace ShareableResource::data() with span()
  Source/WebCore/platform/ShareableResource.cpp
  Source/WebCore/platform/ShareableResource.h
Labels: unsafe-merge-queue, WebCore Misc.

#29401 Remove WKConnection
  LayoutTests/ipc/argument-coders-crash-expected.txt
  LayoutTests/ipc/argument-coders-crash.html
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources-output.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Headers.cmake
  Source/WebKit/Modules/OSX_Private.modulemap
  Source/WebKit/Modules/iOS_Private.modulemap
  Source/WebKit/Shared/API/APIObject.h
  Source/WebKit/Shared/API/Cocoa/_WKRemoteObjectRegistry.mm
  Source/WebKit/Shared/API/c/WKBase.h
  Source/WebKit/Shared/API/c/WKConnectionRef.cpp
  Source/WebKit/Shared/API/c/WKConnectionRef.h
  Source/WebKit/Shared/API/c/WKSharedAPICast.h
  Source/WebKit/Shared/Cocoa/APIObject.mm
  Source/WebKit/Shared/WebConnection.cpp
  Source/WebKit/Shared/WebConnection.h
  Source/WebKit/Shared/WebConnection.messages.in
  Source/WebKit/Shared/WebConnectionClient.cpp
  Source/WebKit/Shared/WebConnectionClient.h
  Source/WebKit/Sources.txt
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/API/C/WKContext.cpp
  Source/WebKit/UIProcess/API/C/WKContext.h
  Source/WebKit/UIProcess/API/C/WKContextConnectionClient.h
  Source/WebKit/UIProcess/API/C/WebKit2_C.h
  Source/WebKit/UIProcess/API/Cocoa/WKConnection.h
  Source/WebKit/UIProcess/API/Cocoa/WKConnection.mm
  Source/WebKit/UIProcess/API/Cocoa/WKConnectionInternal.h
  Source/WebKit/UIProcess/API/Cocoa/WKProcessGroup.h
  Source/WebKit/UIProcess/API/Cocoa/WKProcessGroup.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewConfiguration.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKTargetedElementRequest.mm
  Source/WebKit/UIProcess/WebConnectionToWebProcess.cpp
  Source/WebKit/UIProcess/WebConnectionToWebProcess.h
  Source/WebKit/UIProcess/WebContextConnectionClient.cpp
  Source/WebKit/UIProcess/WebContextConnectionClient.h
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessPool.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/UIProcess/mac/SecItemShimProxy.cpp
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundle.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundle.h
  Source/WebKit/WebProcess/InjectedBundle/API/mac/WKWebProcessPlugIn.h
  Source/WebKit/WebProcess/InjectedBundle/API/mac/WKWebProcessPlugIn.mm
  Source/WebKit/WebProcess/InjectedBundle/InjectedBundle.cpp
  Source/WebKit/WebProcess/InjectedBundle/InjectedBundle.h
  Source/WebKit/WebProcess/WebConnectionToUIProcess.cpp
  Source/WebKit/WebProcess/WebConnectionToUIProcess.h
  Source/WebKit/WebProcess/WebProcess.cpp
  Source/WebKit/WebProcess/WebProcess.h
  Source/WebKit/WebProcess/cocoa/AudioSessionRoutingArbitrator.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/CancelFontSubresourcePlugIn.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/UserContentWorldPlugIn.mm
Labels: merge-queue, WebKit API

#29292 [Navigation] Add fully active document check to the "perform shared checks" algorithm
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigate-event/intercept-detach-expected.txt
  Source/WebCore/page/NavigateEvent.cpp
  Source/WebCore/page/NavigateEvent.h
  Source/WebCore/page/NavigateEvent.idl
Labels: merge-queue, Page Loading

#29414 Fix internal build after 279612@main
  Source/WebKit/UIProcess/WebProcessPool.cpp
Labels: unsafe-merge-queue, WebKit Misc.

#29398 Make it possible for TiledBacking clients to get a PlatformLayerIdentifier
  Source/WebCore/platform/graphics/TiledBacking.h
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.h
  Source/WebCore/platform/graphics/ca/PlatformCALayerClient.h
  Source/WebCore/platform/graphics/ca/TileController.cpp
  Source/WebCore/platform/graphics/ca/TileController.h
  Source/WebCore/platform/graphics/ca/TileCoverageMap.cpp
  Source/WebCore/platform/graphics/ca/TileCoverageMap.h
  Source/WebCore/platform/graphics/ca/TileGrid.cpp
  Source/WebCore/platform/graphics/ca/TileGrid.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/AsyncPDFRenderer.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/AsyncPDFRenderer.mm
  Source/WebKit/WebProcess/WebPage/wc/GraphicsLayerWC.cpp
Labels: merge-queue, Layout and Rendering

#29418 Compute and pass $platform to run-jsc-stress-tests to make it easier to skip tests for specific platforms.
  Tools/Scripts/run-javascriptcore-tests
  Tools/Scripts/run-jsc-stress-tests
Labels: unsafe-merge-queue, JavaScriptCore

#29386 REGRESSION(279321@main): js/dom/missing-exception-check-in-convertVariadicArguments.html is crashing : Unchecked exception detected at JSC::VM::verifyExceptionCheckNeedIsSatisfied : ASSERTION FAILED: !m_needExceptionCheck
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/bindings/js/JSDOMConvertAny.h
  Source/WebCore/bindings/js/JSDOMConvertVariadic.h
Labels: merge-queue, JavaScriptCore

#29419 Skip stress/sampling-profiler-should-not-sample-beyond-stack-bounds.js on tvOS.
  JSTests/stress/sampling-profiler-should-not-sample-beyond-stack-bounds.js
Labels: unsafe-merge-queue, JavaScriptCore

#29371 Request attachment icon again if needed
  LayoutTests/fast/attachment/attachment-icon-update-after-type-change-expected.html
  LayoutTests/fast/attachment/attachment-icon-update-after-type-change.html
  LayoutTests/fast/attachment/resources/attachment-test-utils.js
  LayoutTests/platform/mac-wk1/TestExpectations
  Source/WebCore/html/HTMLAttachmentElement.cpp
  Source/WebCore/html/HTMLAttachmentElement.h
  Source/WebCore/rendering/AttachmentLayout.mm
  Source/WebCore/rendering/mac/RenderThemeMac.mm
Labels: merge-queue, HTML Editing

#29376 Two files include <Timer.h> instead of "Timer.h"
  Source/WebCore/Modules/mediastream/libwebrtc/LibWebRTCMediaEndpoint.h
  Source/WebCore/platform/mediastream/RealtimeOutgoingVideoSource.h
Labels: merge-queue, WebKit Misc.

#29420 [tvOS] Start button incorrectly shown when entering fullscreen
  Source/WebCore/html/HTMLMediaElement.cpp
Labels: merge-queue, Media

#29411 [UnifiedPDF] Migrate from "scroll to" to "reveal" terminology in preparation for discrete mode
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: merge-queue, PDF

#29384 WebCore::WillChangeData::AnimatableFeature constructor does not always initialize m_cssPropertyID
  Source/WebCore/rendering/style/WillChangeData.h
Labels: unsafe-merge-queue, Animations

#29427 SIGTRAP in JIT'ed code
  JSTests/stress/regexp-constructor-input-stack-overflow.js
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#29429 Revert "Fire open and closed events when a tab is replaced."
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIRuntimeCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionTabCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPITabsCocoa.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPITabs.mm
  Tools/TestWebKitAPI/cocoa/WebExtensionUtilities.mm
Labels: unsafe-merge-queue

#29430 [WinCairo] Unreviewed test gardening
  LayoutTests/platform/wincairo/TestExpectations
Labels: unsafe-merge-queue

#29423 [css-anchor-position-1] Add parsing support for `anchor-name` and `position-anchor` properties
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/anchor-name-basics-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/position-anchor-basics-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/property-interpolations-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/ipad/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/css/css-cascade/all-prop-initial-xml-expected.txt
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/animation/CSSPropertyAnimation.cpp
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/RenderStyleInlines.h
  Source/WebCore/rendering/style/RenderStyleSetters.h
  Source/WebCore/rendering/style/StyleRareNonInheritedData.cpp
  Source/WebCore/rendering/style/StyleRareNonInheritedData.h
  Source/WebCore/style/StyleBuilderConverter.h
Labels: merge-queue, CSS

#29433 Fire open and closed events when a tab is replaced.
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIRuntimeCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionTabCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPITabsCocoa.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPITabs.mm
  Tools/TestWebKitAPI/cocoa/WebExtensionUtilities.mm
Labels: unsafe-merge-queue, WebKit Extensions

#29440 Post Accessibility notifications during composition contexts indicating start, end, and value change.
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, Accessibility

#29380 [JSC] `fractionalDigits` of `Intl.DurationFormat` should be treated as at most 9 digits if it is omitted
  JSTests/stress/intl-durationformat-digital.js
  JSTests/test262/expectations.yaml
  Source/JavaScriptCore/runtime/IntlDurationFormat.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#29432 Enable `HAVE_UI_EDIT_MENU_INTERACTION` on tvOS
  Source/WTF/wtf/PlatformHave.h
  Source/WebKit/UIProcess/API/Cocoa/WKUIDelegate.h
  Tools/WebKitTestRunner/cocoa/TestRunnerWKWebView.mm
Labels: merge-queue, Platform

#29436 Clean up selection of JSC stress tests for watchOS.
  JSTests/microbenchmarks/exceptions-simd.js
  JSTests/microbenchmarks/interpreter-wasm.js
  JSTests/microbenchmarks/memcpy-wasm-large.js
  JSTests/microbenchmarks/memcpy-wasm-medium.js
  JSTests/microbenchmarks/memcpy-wasm-small.js
  JSTests/microbenchmarks/memcpy-wasm.js
  JSTests/microbenchmarks/wasm-cc-int-to-int.js
  JSTests/stress/gc-b3.js
  JSTests/stress/hoist-get-wasm-exports.js
  JSTests/stress/shared-wasm-memory-with-zero-byte.js
  JSTests/wasm/stress/cc-int-to-int-cross-module-with-exception.js
  JSTests/wasm/stress/cc-int-to-int-jit-to-llint.js
  JSTests/wasm/stress/cc-int-to-int-no-jit.js
  Tools/Scripts/run-javascriptcore-tests
  Tools/Scripts/run-jsc-stress-tests
Labels: unsafe-merge-queue, JavaScriptCore

#29387 [tvOS] Enable context menu interactions
  Source/WTF/wtf/PlatformUse.h
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/API/Cocoa/_WKElementAction.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Labels: merge-queue, New Bugs

#29390 WebGLRenderingContextBase::validateBlendEquation is redundant
  Source/WebCore/html/canvas/WebGL2RenderingContext.cpp
  Source/WebCore/html/canvas/WebGL2RenderingContext.h
  Source/WebCore/html/canvas/WebGLRenderingContext.cpp
  Source/WebCore/html/canvas/WebGLRenderingContext.h
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
Labels: merge-queue

#29370 [WPE] WPE Platform: add close signal to WPEView
  Source/WebKit/UIProcess/API/glib/WebKitWebView.cpp
  Source/WebKit/WPEPlatform/wpe/WPEView.cpp
  Source/WebKit/WPEPlatform/wpe/WPEView.h
  Source/WebKit/WPEPlatform/wpe/wayland/WPEViewWayland.cpp
Labels: unsafe-merge-queue, WPE WebKit

#29369 Avoid extra lookup for text runs in GlyphDisplayListCache
  Source/WebCore/rendering/GlyphDisplayListCache.cpp
  Source/WebCore/rendering/GlyphDisplayListCache.h
Labels: merge-queue, Layout and Rendering

#29449 WebGLRenderingContextBase::validateStencilSettings is unused
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
Labels: merge-queue

#29447 [WPE][WebDriver] Support automation of touch events in the new WPE Platform API
  Source/WebKit/UIProcess/Automation/libwpe/WebAutomationSessionWPE.cpp
  Source/cmake/OptionsWPE.cmake
Labels: WebDriver

#29451 ScopedClearStencilAndMask is error-prone
  Source/WebCore/Modules/webxr/WebXROpaqueFramebuffer.cpp
  Source/WebCore/Modules/webxr/WebXROpaqueFramebufferCocoa.cpp
  Source/WebCore/html/canvas/WebGLUtilities.h
Labels: merge-queue, WebGL

#29366 Allow to easily convert IPC NativePromises
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.h
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.messages.in
  Source/WebKit/Platform/IPC/Connection.h
  Source/WebKit/Platform/IPC/MessageSenderInlines.h
  Source/WebKit/WebProcess/Cache/WebCacheStorageConnection.cpp
  Source/WebKit/WebProcess/Cache/WebCacheStorageConnection.h
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.cpp
  Source/WebKit/WebProcess/cocoa/RemoteRealtimeMediaSourceProxy.cpp
  Source/WebKit/WebProcess/cocoa/RemoteRealtimeMediaSourceProxy.h
  Tools/TestWebKitAPI/Tests/IPC/ConnectionTests.cpp
  Tools/TestWebKitAPI/Tests/IPC/MessageSenderTests.cpp
Labels: WebKit Process Model

#29446 [ MacOS Debug ] fast/text/emoji-num-glyphs.html is a constant timeout
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/rendering/updating/RenderTreeUpdater.cpp
  Source/WebCore/rendering/updating/RenderTreeUpdater.h
Labels: merge-queue, Text

#29377 [WPE][GTK] g_variant_builder_add_value: assertion 'GVSB(builder)->offset < GVSB(builder)->max_items' failed when encoding session state
  Source/WebKit/UIProcess/API/glib/WebKitWebViewSessionState.cpp
Labels: merge-queue, WebKitGTK, GLib Suggested Backport

#29458 Add Francisco Tolmasky to contributors.json
  metadata/contributors.json
Labels: unsafe-merge-queue, Tools / Tests

#29431 Use OSObjectPtr<> instead of RetainPtr<> for xpc_object_t types
  Source/WebKit/NetworkProcess/Notifications/WebPushDaemonConnection.h
  Source/WebKit/NetworkProcess/PrivateClickMeasurement/PrivateClickMeasurementConnection.h
  Source/WebKit/NetworkProcess/PrivateClickMeasurement/cocoa/PrivateClickMeasurementConnectionCocoa.mm
  Source/WebKit/Platform/IPC/DaemonConnection.h
  Source/WebKit/Platform/IPC/cocoa/DaemonConnectionCocoa.mm
  Source/WebKit/Shared/EntryPointUtilities/Cocoa/Daemon/PCMDaemonEntryPoint.mm
Labels: WebKit2

#29413 [WebXR] Add a reason for ending XRSessions
  Source/WebKit/UIProcess/API/APIUIClient.h
  Source/WebKit/UIProcess/API/Cocoa/WKUIDelegatePrivate.h
  Source/WebKit/UIProcess/Cocoa/UIDelegate.h
  Source/WebKit/UIProcess/Cocoa/UIDelegate.mm
  Source/WebKit/UIProcess/XR/PlatformXRSessionEnums.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: WebXR

#29409 [JSC] Implement CustomAccessor / CustomValue / Getter / Setter handlers
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.cpp
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.h
  Source/JavaScriptCore/jit/BaselineJITRegisters.h
  Source/JavaScriptCore/jit/GPRInfo.h
  Source/JavaScriptCore/jit/JITThunks.h
  Source/JavaScriptCore/runtime/StackAlignment.h
  Source/JavaScriptCore/runtime/StructureID.h
Labels: JavaScriptCore

#29426 Sync `SVGLength` with WebIDL specification
  LayoutTests/imported/w3c/web-platform-tests/svg/types/scripted/SVGLength-expected.txt
  LayoutTests/svg/dom/SVGLength-expected.txt
  LayoutTests/svg/dom/SVGLength.html
  Source/WebCore/svg/SVGLength.idl
Labels: SVG

#29382 Many subclasses of WebCore::RTCStatsReport::Stats fail to initialize timestamp field
  Source/WebCore/Modules/mediastream/RTCStatsReport.h
Labels: WebRTC

#29425 [WPE][WebDriver] Avoid leaking WPEKeymapEntry array
  Source/WebKit/UIProcess/Automation/libwpe/WebAutomationSessionWPE.cpp
Labels: merge-queue, WPE WebKit

#29412 [Unified Text Replacement] When receiving replacements, the text sometimes does not match style
  Source/WebKit/WebProcess/WebPage/Cocoa/UnifiedTextReplacementController.mm
  Source/WebKit/WebProcess/WebPage/UnifiedTextReplacementController.h
Labels: HTML Editing

#29188 [ews-build] Upload layout-test logs to S3
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: Tools / Tests

#29439 [Cocoa] Attributed string generation may add unexpected underlines
  Source/WebCore/editing/cocoa/HTMLConverter.mm
Labels: New Bugs

#27983 Local WebKit builds don't use locally-built WebKit process extensions
  Source/WebKit/Shared/Cocoa/DefaultWebBrowserChecks.mm
  Source/WebKit/UIProcess/Launcher/cocoa/ProcessLauncherCocoa.mm
  Tools/WebKitTestRunner/Configurations/WebKitTestRunnerApp-iOS.entitlements
  Tools/WebKitTestRunner/Configurations/WebKitTestRunnerApp.xcconfig
  Tools/WebKitTestRunner/WebKitTestRunner.xcodeproj/project.pbxproj
Labels: WebKit Process Model

#29441 [MultiRep HEIC] Add support for matching style via drag and drop
  Source/WebCore/page/DragController.cpp
  Source/WebCore/platform/DragData.h
  Source/WebCore/platform/cocoa/DragDataCocoa.mm
  Source/WebCore/platform/gtk/DragDataGtk.cpp
  Source/WebCore/platform/win/DragDataWin.cpp
Labels: New Bugs

#29428 Allow speculative parser to see inside Declarative Shadow DOM (DSD) templates
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/speculative-parsing/generated/document-write/template-shadowrootmode-img-src.tentative.sub-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/speculative-parsing/generated/document-write/template-shadowrootmode-link-stylesheet.tentative.sub-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/speculative-parsing/generated/document-write/template-shadowrootmode-script-src.tentative.sub-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/speculative-parsing/generated/page-load/template-shadowrootmode-img-src.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/speculative-parsing/generated/page-load/template-shadowrootmode-link-stylesheet.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/syntax/speculative-parsing/generated/page-load/template-shadowrootmode-script-src.tentative-expected.txt
  Source/WebCore/html/parser/HTMLPreloadScanner.cpp
Labels: merge-queue, DOM

#29467 Enable support for safe area insets on tvOS
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/UIProcess/RemoteLayerTree/ios/RemoteLayerTreeViews.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/ios/WKScrollView.h
  Source/WebKit/UIProcess/ios/WKScrollView.mm
  Tools/TestWebKitAPI/Tests/ios/OverflowScrollViewTests.mm
  Tools/WebKitTestRunner/cocoa/TestRunnerWKWebView.mm
Labels: Platform

#28948 Add more smart pointers to credential management
  Source/WebCore/Modules/credentialmanagement/BasicCredential.cpp
  Source/WebCore/Modules/credentialmanagement/CredentialsContainer.cpp
Labels: WebCore Misc.

#29261 [view-transitions] Back icon jiggles while animating on https://codepen.io/bramus/full/mdowgYX.
  LayoutTests/fast/css/view-transitions-scrolling-position-fixed-expected.html
  LayoutTests/fast/css/view-transitions-scrolling-position-fixed.html
  Source/WebCore/animation/CSSTransition.cpp
  Source/WebCore/animation/CSSTransition.h
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/animation/KeyframeEffect.h
  Source/WebCore/animation/KeyframeEffectStack.cpp
  Source/WebCore/animation/WebAnimation.cpp
  Source/WebCore/animation/WebAnimation.h
  Source/WebCore/dom/ViewTransition.cpp
Labels: Scrolling

#29391 Fix same-site cookie quirk for bing.com
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
Labels: unsafe-merge-queue, Page Loading

#29459 Fix page load time regression related to Web Audio
  Source/WebKit/WebProcess/GPU/media/RemoteAudioDestinationProxy.cpp
Labels: unsafe-merge-queue, WebKit Process Model

#29477 Un-do running site-isolation tests singly
  Tools/CISupport/build-webkit-org/config.json
Labels: unsafe-merge-queue, Tools / Tests

#29469 Replace static_assert with #error in DataLog.cpp
  Source/WTF/wtf/DataLog.cpp
Labels: JavaScriptCore

#29249 [WebGPU] copyExternalImageToTexture incorrectly copies images from HTMLImageElement
  Source/WebCore/Modules/WebGPU/GPUQueue.cpp
Labels: WebGPU

#29397 [WebGPU] RGB external textures read RRG channels instead of RGB
  LayoutTests/TestExpectations
  LayoutTests/fast/webgpu/regression/repro_274977-expected.txt
  LayoutTests/fast/webgpu/regression/repro_274977.html
  Source/WebGPU/WebGPU/BindGroup.mm
Labels: WebGPU

#29482 Fix operationCreateThis with exception return registers
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/jit/OperationResult.h
Labels: unsafe-merge-queue, JavaScriptCore

#29468 [iOS] Add a mechanism to override the current user interface idiom
  Source/WebCore/PAL/pal/system/ios/UserInterfaceIdiom.mm
Labels: unsafe-merge-queue, New Bugs

#29481 [Site Isolation] Ignore WebPageProxy::didFinishLoadForFrame message if a load has started in another process
  Source/WebKit/UIProcess/RemotePageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
Labels: unsafe-merge-queue, WebKit Process Model

#29483 Fix copy/paste error in WebPageProxy::stopLoading log message
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: WebKit Misc.

#29486 [WebXR] PlatformXR::FrameData::ExternalTexture constructor
  Source/WebCore/platform/xr/PlatformXR.h
Labels: unsafe-merge-queue, WebXR

#29307 [WebGPU] drawIndexed can bypass validation for repeated draw calls
  Source/WebGPU/WebGPU/RenderBundleEncoder.mm
  Source/WebGPU/WebGPU/RenderPassEncoder.h
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
Labels: WebGPU

#29478 [UnifiedPDF] Cannot zoom out on certain large documents
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: merge-queue, PDF

#29480 [Site Isolation] Begin to fix back forward navigations going to cross-origin iframes
  Source/WebKit/Shared/SessionState.cpp
  Source/WebKit/Shared/SessionState.h
  Source/WebKit/Shared/WebBackForwardListItem.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
Labels: unsafe-merge-queue, WebKit Process Model

#29454 WebGLRenderingContextBase::validateDrawMode is unused
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
Labels: merge-queue, WebGL

#29453 [GStreamer] Classify our custom video meta as such
  Source/WebCore/platform/graphics/gstreamer/VideoFrameMetadataGStreamer.cpp
Labels: Platform

#29173 WebGL context loss does not work in workers
  LayoutTests/ipc/restrictedendpoints/allow-access-webGPU.html
  LayoutTests/ipc/restrictedendpoints/deny-access-webGPU.html
  ManualTests/webgl/webgl-worker-context-lost-worker.js
  ManualTests/webgl/webgl-worker-context-lost.html
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.cpp
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.h
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.messages.in
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackendCreationParameters.h
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackendCreationParameters.serialization.in
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/GPU/GPUProcessConnection.cpp
  Source/WebKit/WebProcess/GPU/GPUProcessConnection.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteDisplayListRecorderProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteImageBufferSetProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteRenderingBackendProxy.h
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteGPUProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteGPUProxy.h
  Source/WebKit/WebProcess/GPU/graphics/cocoa/RemoteGraphicsContextGLProxyCocoa.mm
  Source/WebKit/WebProcess/GPU/graphics/gbm/RemoteGraphicsContextGLProxyGBM.cpp
  Source/WebKit/WebProcess/GPU/graphics/wc/RemoteGraphicsContextGLProxyWC.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebWorkerClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebWorkerClient.h
  Source/WebKit/WebProcess/WebPage/IPCTestingAPI.cpp
Labels: WebGL

#29455 Avoid unnecessary extra calls to `addIntrudingFloats`
  Source/WebCore/rendering/RenderBlockFlow.cpp
Labels: unsafe-merge-queue, Layout and Rendering

#29444 Get Upstream Commit reference for people using a local source
  Tools/Scripts/webkitpy/w3c/test_importer.py
Labels: Tools / Tests

#29416 Enable copy-pasting file lists to run-webkit-tests from EWS “Found N new test failures” output
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: Tools / Tests

#29475 Add occasional logging of all existing PlatformMediaSessions.
  Source/WebCore/Modules/webaudio/AudioContext.h
  Source/WebCore/Modules/webaudio/BaseAudioContext.h
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/html/MediaElementSession.cpp
  Source/WebCore/html/MediaElementSession.h
  Source/WebCore/platform/audio/PlatformMediaSession.cpp
  Source/WebCore/platform/audio/PlatformMediaSession.h
  Source/WebCore/platform/audio/PlatformMediaSessionManager.cpp
  Source/WebCore/platform/audio/PlatformMediaSessionManager.h
Labels: Media

#28665 Adopt CADisplayLink on macOS 14
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/spi/cocoa/QuartzCoreSPI.h
  Source/WebCore/platform/PlatformScreen.h
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/DisplayLink.h
  Source/WebKit/UIProcess/mac/DisplayLinkMac.cpp
  Source/WebKit/UIProcess/mac/DisplayLinkMac.mm
  Source/WebKit/UIProcess/mac/LegacyDisplayLinkMac.cpp
  Source/WebKit/UIProcess/mac/WKImmediateActionController.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: Layout and Rendering

#29479 Enable -Wvla when building WebKit
  Configurations/CommonBase.xcconfig
  Source/JavaScriptCore/API/tests/testapi.c
  Source/ThirdParty/libwebrtc/Configurations/Base.xcconfig
  Tools/DumpRenderTree/cg/PixelDumpSupportCG.cpp
  Tools/DumpRenderTree/mac/AccessibilityNotificationHandler.mm
  Tools/WebKitTestRunner/InjectedBundle/cocoa/AccessibilityCommonCocoa.mm
  Tools/WebKitTestRunner/ios/HIDEventGenerator.mm
Labels: WebKit Misc.

#29470 [WebGPU] white screen on noclip.website
  LayoutTests/fast/webgpu/regression/repro_275043-expected.txt
  LayoutTests/fast/webgpu/regression/repro_275043.html
  LayoutTests/fast/webgpu/regression/repro_275043b-expected.txt
  LayoutTests/fast/webgpu/regression/repro_275043b.html
  LayoutTests/fast/webgpu/regression/repro_275043c-expected.txt
  LayoutTests/fast/webgpu/regression/repro_275043c.html
  Source/WebGPU/WebGPU/RenderPipeline.mm
Labels: WebGPU

#26750 [webkitcorepy] Failed to install setuptools
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/autoinstall.py
Labels: Tools / Tests

#29509 [Gardening]: [ VisionOS ] imported/w3c/web-platform-tests/webxr/getInputPose_pointer.https.html is missing the results
  LayoutTests/platform/visionos/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#29197 Fix broken WebAuthn U2F test
  LayoutTests/http/wpt/webauthn/public-key-credential-get-success-u2f.https-expected.txt
  LayoutTests/http/wpt/webauthn/public-key-credential-get-success-u2f.https.html
Labels: Tools / Tests

#29500 Fix operationCreateThis with exception return registers
  Source/JavaScriptCore/dfg/DFGOperations.cpp
Labels: JavaScriptCore

#29490 HashTable should allow alignof(ValueType) to be 32
  Source/WTF/wtf/HashTable.h
Labels: merge-queue

#29511 [Regression] Spread of class should not inherit instanceof
  JSTests/stress/cloning-check-prototype.js
  Source/JavaScriptCore/runtime/ObjectConstructorInlines.h
Labels: unsafe-merge-queue, JavaScriptCore

#29508 [WebGPU] copyExternalImageToTexture incorrectly copies images from HTMLImageElement
  Source/WebCore/Modules/WebGPU/GPUQueue.cpp
Labels: merge-queue, WebGPU

#29487 Update Xcode project versions to be up to date and consistent.
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/ThirdParty/ANGLE/ANGLE.xcodeproj/project.pbxproj
  Source/ThirdParty/gmock/gmock.xcodeproj/project.pbxproj
  Source/ThirdParty/gtest/xcode/Samples/FrameworkSample/WidgetFramework.xcodeproj/project.pbxproj
  Source/ThirdParty/gtest/xcode/gtest.xcodeproj/project.pbxproj
  Source/ThirdParty/libwebrtc/libwebrtc.xcodeproj/project.pbxproj
  Source/WTF/WTF.xcodeproj/project.pbxproj
  Source/WebCore/PAL/PAL.xcodeproj/project.pbxproj
  Source/WebCore/PAL/ThirdParty/libavif/ThirdParty/dav1d/dav1d.xcodeproj/project.pbxproj
  Source/WebCore/PAL/ThirdParty/libavif/libavif.xcodeproj/project.pbxproj
  Source/WebInspectorUI/WebInspectorUI.xcodeproj/project.pbxproj
  Source/WebKit/SwiftOverlay/WebKitSwiftOverlay.xcodeproj/project.pbxproj
  Source/WebKitLegacy/WebKitLegacy.xcodeproj/project.pbxproj
  Source/bmalloc/bmalloc.xcodeproj/project.pbxproj
  Source/bmalloc/libpas/libpas.xcodeproj/project.pbxproj
  Tools/DumpRenderTree/DumpRenderTree.xcodeproj/project.pbxproj
  Tools/EditingHistory/EditingHistory.xcodeproj/project.pbxproj
  Tools/FontWithFeatures/FontWithFeatures.xcodeproj/project.pbxproj
  Tools/ImageDiff/ImageDiff.xcodeproj/project.pbxproj
  Tools/MiniBrowser/MiniBrowser.xcodeproj/project.pbxproj
  Tools/MiniBrowserSwiftUI/MiniBrowserSwiftUI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/WebEditingTester/WebEditingTester.xcodeproj/project.pbxproj
  Tools/WebGPUPlayground/WebGPUPlayground.xcodeproj/project.pbxproj
  Tools/WebKitTestRunner/WebKitTestRunner.xcodeproj/project.pbxproj
  Tools/lldb/lldbWebKitTester/lldbWebKitTester.xcodeproj/project.pbxproj
Labels: WebKit Misc.

#29518 Fix build break after 279710@main
  Source/WebCore/platform/graphics/BitmapImageDescriptor.cpp
Labels: unsafe-merge-queue, Images

#29485 REGRESSION (271254@main): Partial box-shadow left behind when resizing elements
  LayoutTests/fast/box-shadow/negative-shadow-box-expand-expected.txt
  LayoutTests/fast/box-shadow/negative-shadow-box-shrink-expected.txt
  LayoutTests/fast/repaint/4776765-expected.txt
  LayoutTests/fast/repaint/outline-bounds-repaint-expected.txt
  LayoutTests/fast/repaint/outline-bounds-repaint.html
  LayoutTests/platform/gtk/fast/repaint/4776765-expected.txt
  LayoutTests/platform/mac-ventura-wk2/fast/repaint/4776765-expected.txt
  LayoutTests/platform/mac-wk1/fast/repaint/4776765-expected.txt
  Source/WebCore/rendering/RenderBox.cpp
Labels: merge-queue, Layout and Rendering

#29514 Remove ObjCObjectGraph
  Source/WebKit/Shared/API/APIObject.h
  Source/WebKit/Shared/API/APIObject.serialization.in
  Source/WebKit/Shared/API/c/WKSharedAPICast.h
  Source/WebKit/Shared/API/c/mac/WKObjCTypeWrapperRef.h
  Source/WebKit/Shared/API/c/mac/WKObjCTypeWrapperRef.mm
  Source/WebKit/Shared/UserData.cpp
  Source/WebKit/Shared/mac/ObjCObjectGraph.h
  Source/WebKit/Shared/mac/ObjCObjectGraph.mm
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/API/Cocoa/WKBrowsingContextController.mm
  Source/WebKit/UIProcess/API/Cocoa/WKProcessGroup.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/Cocoa/WebProcessProxyCocoa.mm
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/InjectedBundle/mac/InjectedBundleMac.mm
  Source/WebKit/WebProcess/WebProcess.cpp
  Source/WebKit/WebProcess/WebProcess.h
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IPCTestingAPI.mm
Labels: unsafe-merge-queue, WebKit API

#29517 [Unified Text Replacement] Context range is sometimes incorrect
  Source/WebKit/Shared/UnifiedTextReplacement.serialization.in
  Source/WebKit/Shared/WebUnifiedTextReplacementSessionData.h
  Source/WebKit/WebProcess/WebPage/Cocoa/UnifiedTextReplacementController.mm
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/UnifiedTextReplacementController.h
  Source/WebKit/WebProcess/WebPage/WebPage.h
Labels: unsafe-merge-queue, HTML Editing

#29476 [BMalloc] Add macro check to BUSE_TZONE feature define
  Source/bmalloc/bmalloc/BPlatform.h
Labels: merge-queue, JavaScriptCore

#29516 [UnifiedPDF] Feature status should be preview on certain platforms
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebKit/Shared/WebPreferencesDefaultValues.h
Labels: merge-queue, PDF

#29526 REGRESSION(279720@main): [webkitscmpy] conflicting subparser: clean
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/__init__.py
Labels: unsafe-merge-queue, Tools / Tests

#29521 Add a setting to automatically adjust view scale when min. effective device width < view width
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebKit/Shared/WebPageCreationParameters.h
  Source/WebKit/Shared/WebPageCreationParameters.serialization.in
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/ios/WebPageProxyIOS.mm
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
Labels: merge-queue, Platform

#29492 WebGLRenderingContextBase::validateStencilFunc is redundant
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
Labels: merge-queue, WebGL

#29403 [WebGPU] out of bounds access in drawIndirect call
  LayoutTests/fast/webgpu/regression/repro_274994-expected.txt
  LayoutTests/fast/webgpu/regression/repro_274994.html
  LayoutTests/fast/webgpu/regression/repro_274994b-expected.txt
  LayoutTests/fast/webgpu/regression/repro_274994b.html
  Source/WebGPU/WebGPU/BindableResource.h
  Source/WebGPU/WebGPU/Buffer.h
  Source/WebGPU/WebGPU/Buffer.mm
  Source/WebGPU/WebGPU/Device.mm
  Source/WebGPU/WebGPU/RenderBundleEncoder.h
  Source/WebGPU/WebGPU/RenderBundleEncoder.mm
  Source/WebGPU/WebGPU/RenderPassEncoder.h
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
Labels: WebGPU

#29488 Add libwebrtc specific WebCore RTCStat object constructors
  Source/WebCore/Modules/mediastream/RTCStatsReport.h
  Source/WebCore/Modules/mediastream/libwebrtc/LibWebRTCStatsCollector.cpp
Labels: WebRTC

#29496 [GLib] Build broken with GPUProcess enabled
  Source/WebCore/Headers.cmake
  Source/WebCore/platform/graphics/gbm/DMABufFormat.h
  Source/WebCore/platform/graphics/gbm/DMABufObject.h
  Source/WebCore/platform/graphics/gbm/DMABufReleaseFlag.h
  Source/WebKit/PlatformGTK.cmake
  Source/WebKit/PlatformWPE.cmake
  Source/WebKit/Shared/glib/DMABufObject.serialization.in
Labels: Tools / Tests

#29220 [ macOS iOS ] crypto/crypto-random-values-oom.html is a flakey timeout
  LayoutTests/crypto/crypto-random-values-oom.html
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: WebCore Misc.

#29493 REGRESSION (279647@main): [ MacOS iOS ] 2K TestIPC.ConnectionTest/ConnectionRunLoopTest.SendWithConvertedPromisedReply are consistent crashes
  Tools/TestWebKitAPI/Tests/IPC/ConnectionTests.cpp
Labels: merge-queue

#29501 [Cocoa] Enable HAVE_DISPLAY_LAYER_BIPLANAR_SUPPORT
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/platform/mediastream/mac/AVVideoCaptureSource.mm
Labels: WebRTC

#29484 [JSC] Add Concurrent Sweeping Locking
  Source/JavaScriptCore/heap/BlockDirectory.cpp
  Source/JavaScriptCore/heap/BlockDirectory.h
  Source/JavaScriptCore/heap/BlockDirectoryBits.h
  Source/JavaScriptCore/heap/BlockDirectoryInlines.h
  Source/JavaScriptCore/heap/IncrementalSweeper.cpp
  Source/JavaScriptCore/heap/IsoCellSet.cpp
  Source/JavaScriptCore/heap/IsoCellSetInlines.h
  Source/JavaScriptCore/heap/LocalAllocator.cpp
  Source/JavaScriptCore/heap/MarkedBlock.cpp
  Source/JavaScriptCore/heap/MarkedBlock.h
  Source/JavaScriptCore/heap/MarkedBlockInlines.h
  Source/JavaScriptCore/heap/MarkedSpace.cpp
  Source/JavaScriptCore/llint/LLIntOffsetsExtractor.cpp
Labels: JavaScriptCore

#29448 [Navigation] Unskip some tests
  LayoutTests/TestExpectations
Labels: Tools / Tests

#29389 Replace duplicated code in LLIntSlowPaths with already defined macros
  Source/JavaScriptCore/llint/LLIntSlowPaths.cpp
Labels: WebCore Misc.

#29538 [WebRTC] Add debug logging of TransceiverStates
  Source/WebCore/Modules/mediastream/PeerConnectionBackend.cpp
  Source/WebCore/Modules/mediastream/PeerConnectionBackend.h
  Source/WebCore/platform/mediastream/RTCRtpTransceiverDirection.h
Labels: merge-queue, WebRTC

#29527 Update serialization for NSURLProtectionSpace
  Source/WebKit/Shared/Cocoa/CoreIPCNSURLProtectionSpace.serialization.in
Labels: WebKit Process Model

#29540 [ GLib Debug ] `TestJSC/jsc/options` API test is a constant crash
  Source/JavaScriptCore/API/glib/JSCOptions.cpp
Labels: merge-queue, Tools / Tests

#29542 [GStreamer][WebRTC] Missing a=msid in offer after setting codec preferences
  LayoutTests/webrtc/msid-setCodecPreferences-expected.txt
  LayoutTests/webrtc/msid-setCodecPreferences.html
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerRtpTransceiverBackend.cpp
Labels: merge-queue, WebRTC, GLib Suggested Backport

#29523 [Site Isolation] Clean up code from initial prototyping
  Source/WebKit/Shared/WebPageCreationParameters.h
  Source/WebKit/Shared/WebPageCreationParameters.serialization.in
  Source/WebKit/UIProcess/RemotePageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Labels: unsafe-merge-queue, WebKit Process Model

#29553 HeapIterationScope should require the JS API lock
  Source/JavaScriptCore/heap/HeapIterationScope.h
  Source/JavaScriptCore/inspector/agents/InspectorDebuggerAgent.cpp
  Source/WebCore/page/PerformanceLogging.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#29512 [WebGPU] After an invalid drawIndexed call, some valid draws can be discarded
  LayoutTests/fast/webgpu/regression/repro_275111-expected.txt
  LayoutTests/fast/webgpu/regression/repro_275111.html
  LayoutTests/fast/webgpu/regression/repro_275111b-expected.txt
  LayoutTests/fast/webgpu/regression/repro_275111b.html
  Source/WebGPU/WebGPU/Buffer.mm
Labels: WebGPU

#29556 [iOS] Add a mechanism to override deviceClassIsSmallScreen for testing
  Source/WebCore/PAL/pal/system/ios/Device.cpp
Labels: unsafe-merge-queue, New Bugs

#29528 Address more notifyd telemetry
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/Scripts/process-entitlements.sh
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Labels: unsafe-merge-queue, WebKit Process Model

#29541 dataLogIf should check the condition is a bool or enum
  Source/JavaScriptCore/wasm/WasmStreamingParser.cpp
  Source/WTF/wtf/DataLog.h
Labels: merge-queue

#29543 Use `LayoutViewportHeightExpansionFactor` when ENABLE(FLEXIBLE_VIEW_SCALE_FACTOR) is set
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: Platform

#29562 Unreviewed, skip cc- tests since the feature is not enabled & not mature yet
  JSTests/wasm/stress/cc-i32-kitchen-sink.js
  JSTests/wasm/stress/cc-int-to-int-cross-module-with-exception.js
  JSTests/wasm/stress/cc-int-to-int-cross-module.js
  JSTests/wasm/stress/cc-int-to-int-jit-to-llint.js
  JSTests/wasm/stress/cc-int-to-int-memory.js
  JSTests/wasm/stress/cc-int-to-int-no-jit.js
  JSTests/wasm/stress/cc-int-to-int.js
Labels: unsafe-merge-queue, JavaScriptCore

#29507 Reverse sendWithPromisedReply first and second template parameters
  Source/WebKit/Platform/IPC/Connection.h
  Source/WebKit/Platform/IPC/MessageSenderInlines.h
  Source/WebKit/WebProcess/Cache/WebCacheStorageConnection.cpp
  Source/WebKit/WebProcess/Cache/WebCacheStorageConnection.h
  Source/WebKit/WebProcess/GPU/webrtc/LibWebRTCCodecs.cpp
  Source/WebKit/WebProcess/cocoa/RemoteRealtimeMediaSourceProxy.cpp
  Source/WebKit/WebProcess/cocoa/RemoteRealtimeMediaSourceProxy.h
  Tools/TestWebKitAPI/Tests/IPC/ConnectionTests.cpp
  Tools/TestWebKitAPI/Tests/IPC/MessageSenderTests.cpp
Labels: Service Workers

#29505 Rebaseline 11X imported/w3c/web-platform-tests/css/css-text/i18n/* (layout-tests) are constant text failures
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-text/i18n/ja/css-text-line-break-ja-in-loose-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-text/i18n/ja/css-text-line-break-ja-pr-normal-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-text/i18n/ja/css-text-line-break-ja-pr-strict-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-text/i18n/other-lang/css-text-line-break-de-in-loose-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-text/i18n/unknown-lang/css-text-line-break-cj-loose-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-text/i18n/unknown-lang/css-text-line-break-cj-normal-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-text/i18n/unknown-lang/css-text-line-break-in-loose-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-text/i18n/unknown-lang/css-text-line-break-iteration-loose-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-text/i18n/zh/css-text-line-break-zh-in-loose-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-text/i18n/zh/css-text-line-break-zh-pr-normal-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-text/i18n/zh/css-text-line-break-zh-pr-strict-expected.txt
Labels: CSS

#29554 Cleanup LocalFrameViewLayoutContext calls to document
  Source/WebCore/page/LocalFrameViewLayoutContext.cpp
Labels: merge-queue, Layout and Rendering

#29561 [macOS] WKWebView should have SPI to report the minimum magnification
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
  Source/WebKit/UIProcess/API/mac/WKWebViewMac.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/PageZoom.mm
  Tools/WebKitTestRunner/mac/UIScriptControllerMac.h
  Tools/WebKitTestRunner/mac/UIScriptControllerMac.mm
Labels: merge-queue, WebKit API

#29532 Fix several warnings for the PlayStation build
  Source/JavaScriptCore/wasm/WasmIPIntPlan.cpp
  Source/JavaScriptCore/wasm/WasmLLIntPlan.cpp
  Source/WebCore/platform/graphics/nicosia/NicosiaImageBufferPipe.cpp
  Source/bmalloc/libpas/src/libpas/pas_utils.h
Labels: New Bugs

#29567 REGRESSION(279738@main): ASSERTION FAILED: heap.vm().currentThreadIsHoldingAPILock() || heap.worldIsStopped()
  Source/JavaScriptCore/debugger/Debugger.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#29568 REGRESSION(279760@main): ASSERTION FAILED: document()->inHitTesting() in WebCore::LocalFrameViewLayoutContext::setNeedsLayoutAfterViewConfigurationChange()
  Source/WebCore/page/LocalFrameViewLayoutContext.cpp
Labels: New Bugs

#25085 [WebDriver][socket] Titles containing multibyte characters cannot be retrieved correctly
  Source/WebDriver/socket/HTTPServerSocket.cpp
  WebDriverTests/imported/w3c/webdriver/tests/classic/get_title/get.py
Labels: WebDriver

#29536 Use PromiseConverter for Media IPC promises where useful
  Source/WebCore/Modules/mediasource/SourceBuffer.h
  Source/WebCore/platform/MediaPromiseTypes.h
  Source/WebCore/platform/graphics/SourceBufferPrivate.h
  Source/WebCore/testing/Internals.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaSourceProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteSourceBufferProxy.cpp
  Source/WebKit/Platform/IPC/Connection.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/SourceBufferPrivateRemote.h
  Tools/TestWebKitAPI/Tests/IPC/ConnectionTests.cpp
Labels: Media

#29533 HTMLCanvasElement inflates all invalidation rects with 2d context reasons
  Source/WebCore/html/HTMLCanvasElement.cpp
  Source/WebCore/html/canvas/CanvasRenderingContext2DBase.cpp
Labels: Canvas

#29563 [ews-build.webkit.org] Incorrect status bubble format
  Tools/CISupport/ews-app/ews/common/github.py
Labels: unsafe-merge-queue, Tools / Tests

#29230 AX Web Inspector Panel: Switch form controls report "Checked: true/false" rather than something like "State: on/off"
  LayoutTests/inspector/dom/getAccessibilityPropertiesForNode-expected.txt
  LayoutTests/inspector/dom/getAccessibilityPropertiesForNode.html
  Source/JavaScriptCore/inspector/protocol/DOM.json
  Source/WebCore/inspector/agents/InspectorDOMAgent.cpp
  Source/WebInspectorUI/Localizations/en.lproj/localizedStrings.js
  Source/WebInspectorUI/UserInterface/Models/DOMNode.js
  Source/WebInspectorUI/UserInterface/Views/DOMNodeDetailsSidebarPanel.js
Labels: Web Inspector

#29513 [WebGPU] shader accesses null texture when video frame is not available
  LayoutTests/TestExpectations
  LayoutTests/fast/webgpu/regression/repro_275108-expected.txt
  LayoutTests/fast/webgpu/regression/repro_275108.html
  Source/WebGPU/WebGPU/BindGroup.mm
Labels: WebGPU

#29534 Detached OffscreenCanvas should not transfer ImageBuffer
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
  Source/WebCore/html/OffscreenCanvas.cpp
  Source/WebCore/html/OffscreenCanvas.h
Labels: Canvas

#21558 Deploy more smart pointers in WebNotificationClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebNotificationClient.cpp
Labels: WebKit2

#29465 [Site Isolation][iOS] http/tests/site-isolation/draw-after-cross-origin-navigation-between-two-remote-frames.html is failing
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Labels: New Bugs

#29460 AX: Import WPT accname tests.
  LayoutTests/imported/w3c/web-platform-tests/accname/name/comp_label-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/accname/name/comp_label.html
  LayoutTests/imported/w3c/web-platform-tests/accname/name/comp_name_from_content-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/accname/name/comp_name_from_content.html
  LayoutTests/imported/w3c/web-platform-tests/accname/name/comp_name_from_content.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/accname/name/comp_name_from_content.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/accname/name/w3c-import.log
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/accname/name/comp_label-expected.txt
  Source/WebCore/testing/Internals.cpp
Labels: Accessibility

#29596 iOS API test EWS runs are experiencing Unable to parse API test results errors
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: unsafe-merge-queue, Tools / Tests

#29438 Further reduce IPC message queue size
  Source/WebKit/Platform/IPC/Connection.h
Labels: WebKit2

#29407 [git-webkit] Handle ambiguous GitHub PR branches
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/mocks/local/git.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/checkout_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/conflict_unittest.py
Labels: Tools / Tests

#29400 Log top origin of opener window when tracking cross-tab WindowProxy usage
  LayoutTests/TestExpectations
  LayoutTests/http/wpt/opener/cross-site-child-access-parent-iframe-via-windowproxy-expected.txt
  LayoutTests/http/wpt/opener/cross-site-child-access-parent-iframe-via-windowproxy.html
  LayoutTests/http/wpt/opener/resources/iframe-open-window.html
  LayoutTests/http/wpt/opener/resources/send-message-to-opener.html
  LayoutTests/http/wpt/opener/same-site-child-access-parent-iframe-via-windowproxy-expected.txt
  LayoutTests/http/wpt/opener/same-site-child-access-parent-iframe-via-windowproxy.html
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-site-isolation/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebCore/page/LocalFrame.cpp
Labels: WebKit Misc.

#29588 Include extension in filename of saved css resources
  Source/WebCore/loader/archive/cf/LegacyWebArchive.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/CreateWebArchive.mm
Labels: merge-queue, New Bugs

#29564 After closing a modal <dialog>, elements can be z-ordered incorrectly
  LayoutTests/fast/layers/layer-order-after-top-layer-expected.html
  LayoutTests/fast/layers/layer-order-after-top-layer.html
  Source/WebCore/rendering/RenderLayer.cpp
Labels: merge-queue, Layout and Rendering

#28582 [WebGL] Log KHR_debug messages to system console
  LayoutTests/fast/canvas/webgl/debug-messages-to-console-expected.txt
  LayoutTests/fast/canvas/webgl/debug-messages-to-console.html
  LayoutTests/fast/canvas/webgl/index-validation-with-subsequent-draws.html
  LayoutTests/fast/canvas/webgl/invalid-UTF-16.html
  LayoutTests/fast/canvas/webgl/largeBuffer-expected.txt
  LayoutTests/fast/canvas/webgl/largeBuffer.html
  LayoutTests/fast/canvas/webgl/webgl2-texStorage.html
  LayoutTests/fast/canvas/webgl/webgl2-texture-upload-enums.html
  LayoutTests/http/wpt/webxr/resources/webxr_util.js
  LayoutTests/imported/w3c/web-platform-tests/webxr/resources/webxr_util.js
  LayoutTests/platform/wpe/fast/canvas/webgl/simulated-vertexAttrib0-invalid-indicies-expected.txt
  LayoutTests/webgl/webgl-allow-shared-expected.txt
  LayoutTests/webgl/webgl-allow-shared.html
  LayoutTests/webgl/webgl-multi-draw-noop.html
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
  Source/WebCore/platform/graphics/GraphicsContextGL.h
  Source/WebCore/platform/graphics/angle/GraphicsContextGLANGLE.cpp
  Source/WebCore/platform/graphics/cocoa/GraphicsContextGLCocoa.mm
  Source/WebCore/platform/graphics/texmap/GraphicsContextGLTextureMapperANGLE.cpp
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGL.cpp
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGL.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxy.h
  Source/WebKit/WebProcess/GPU/graphics/RemoteGraphicsContextGLProxy.messages.in
  Tools/TestWebKitAPI/Tests/WebCore/cocoa/TestGraphicsContextGLCocoa.mm
Labels: WebGL

#29595 Debug assertions should print the stack trace again
  Source/WTF/wtf/Assertions.h
Labels: unsafe-merge-queue

#29566 Quirk news.ycombinator to skip TextAutoSizing
  Source/WebCore/page/LocalFrameViewLayoutContext.cpp
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
Labels: merge-queue, CSS

#29605 REGRESSION(279787@main): [Win, Linux] Debug assertions shouldn't print the stack trace twice
  Source/WTF/wtf/Assertions.cpp
Labels: unsafe-merge-queue

#29590 REGRESSION (iOS 17.5): Method call silently fails since iOS 17.5/ MacOS 14.5 after a warmup period
  JSTests/stress/ftl-uint32-array-out-of-bounds.js
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#29585 [Site Isolation] Add test for window.open to cross-site provisional navigation failure
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
Labels: unsafe-merge-queue, WebKit Process Model

#29549 Refactor TextIndicatorStyle to be seperate from UnifiedTextReplacementController.
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebPage/Cocoa/TextIndicatorStyleController.mm
  Source/WebKit/WebProcess/WebPage/Cocoa/UnifiedTextReplacementController.mm
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/TextIndicatorStyleController.h
  Source/WebKit/WebProcess/WebPage/UnifiedTextReplacementController.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
Labels: WebKit Misc.
