Repository WebKit/WebKit, pull requests merged in 2024-04, with the labels that each got.

#26664 CheckedPtr should require FastMalloc, Part 1
  Source/WTF/wtf/CheckedPtr.h
  Source/WTF/wtf/FastMalloc.h
  Source/WTF/wtf/StdLibExtras.h
  Source/WTF/wtf/UniqueRef.h
  Source/WebCore/platform/ScrollableArea.cpp
  Source/WebCore/platform/graphics/TextRun.cpp
  Source/WebCore/rendering/LegacyRootInlineBox.cpp
  Source/WebCore/rendering/MarkedText.h
  Source/WebCore/rendering/RegionContext.h
  Source/WebCore/rendering/RenderLayerCompositor.cpp
  Source/WebCore/rendering/RenderObject.cpp
  Source/WebKit/Shared/WebPreferencesStore.h
  Source/bmalloc/bmalloc/IsoHeap.h
  Source/bmalloc/bmalloc/IsoHeapInlines.h
  Source/bmalloc/bmalloc/TZoneHeap.h
  Source/bmalloc/bmalloc/TZoneHeapInlines.h
Labels: merge-queue, New Bugs

#26626 Make PublicSuffixStore::publicSuffix take URL as parameter
  Source/WebCore/platform/PublicSuffixStore.cpp
  Source/WebCore/platform/PublicSuffixStore.h
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Tools/TestWebKitAPI/Tests/WebCore/PublicSuffix.cpp
Labels: merge-queue, New Bugs

#26599 [Skia] Fix support for DragImage with GTK
  Source/WebCore/platform/gtk/DragImageGtk.cpp
  Source/WebKit/UIProcess/API/gtk/DragSourceGtk3.cpp
  Source/WebKit/WebProcess/WebCoreSupport/gtk/WebDragClientGtk.cpp
Labels: unsafe-merge-queue, WebKitGTK

#26456 [GStreamer][Quirks] Apply configureElement to every requested quirk
  Source/WebCore/platform/gstreamer/GStreamerQuirkAmLogic.cpp
  Source/WebCore/platform/gstreamer/GStreamerQuirkAmLogic.h
  Source/WebCore/platform/gstreamer/GStreamerQuirkBroadcom.cpp
  Source/WebCore/platform/gstreamer/GStreamerQuirkBroadcom.h
  Source/WebCore/platform/gstreamer/GStreamerQuirkRealtek.cpp
  Source/WebCore/platform/gstreamer/GStreamerQuirkRealtek.h
  Source/WebCore/platform/gstreamer/GStreamerQuirkWesteros.cpp
  Source/WebCore/platform/gstreamer/GStreamerQuirkWesteros.h
  Source/WebCore/platform/gstreamer/GStreamerQuirks.cpp
  Source/WebCore/platform/gstreamer/GStreamerQuirks.h
Labels: Platform

#26669 Unreviewed. [GTK] Fix the build after 276859@main
  Source/WebKit/UIProcess/API/gtk/DropTargetGtk4.cpp
Labels: unsafe-merge-queue

#26670 Unreviewed. [Skia] Fix build with clang after 276505@main
  Source/WebCore/platform/graphics/skia/PathSkia.cpp
Labels: unsafe-merge-queue

#26460 [WPE] Holepunch doesn't work when the video element has rounded corners
  Source/WebCore/platform/graphics/texmap/TextureMapper.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperShaderProgram.cpp
Labels: merge-queue, WPE WebKit

#26506 [GStreamer][LibWebRTC] Add quirks in decoder factory
  Source/WebCore/platform/gstreamer/GStreamerQuirkBroadcom.h
  Source/WebCore/platform/gstreamer/GStreamerQuirkRealtek.h
  Source/WebCore/platform/gstreamer/GStreamerQuirks.cpp
  Source/WebCore/platform/gstreamer/GStreamerQuirks.h
  Source/WebCore/platform/mediastream/libwebrtc/gstreamer/GStreamerVideoDecoderFactory.cpp
Labels: Platform

#26610 [IPC] Remove EnumTraits<WebExtensionDataType>
  Source/WebKit/Shared/Extensions/WebExtensionDataType.h
  Source/WebKit/Shared/Extensions/WebExtensionStorage.serialization.in
Labels: merge-queue, WebKit Extensions

#26665 Make run-jsc-stress-tests handle expected crashes correctly.
  JSTests/stress/ensure-crash.js
  JSTests/stress/incorrect-put-could-generate-invalid-ic-but-still-not-causing-bad-behavior-bad-transition-debug.js
  JSTests/stress/incorrect-put-could-generate-invalid-ic-but-still-not-causing-bad-behavior-bad-transition.js
  JSTests/stress/incorrect-put-could-generate-invalid-ic-but-still-not-causing-bad-behavior.js
  JSTests/stress/incorrect-put-could-generate-invalid-ic-involving-dictionary-flatten-debug.js
  Source/JavaScriptCore/Scripts/process-entitlements.sh
  Source/JavaScriptCore/jsc.cpp
  Source/WTF/wtf/Assertions.cpp
  Tools/Scripts/run-jsc-stress-tests
  Tools/Scripts/webkitruby/jsc-stress-test-writer-default.rb
Labels: unsafe-merge-queue, JavaScriptCore

#26674 [webkitpy] Delete SVNRepository
  Tools/Scripts/webkitpy/common/checkout/scm/git.py
  Tools/Scripts/webkitpy/common/checkout/scm/svn.py
Labels: unsafe-merge-queue, Tools / Tests

#26614 [WebGPU] WebGPU::PipelineLayout::errorValidatingBindGroupCompatibility should ensure bind group exists
  Source/WebGPU/WebGPU/PipelineLayout.mm
Labels: merge-queue, WebGPU

#26653 Use containsHTMLLineBreak more
  Source/WebCore/html/EmailInputType.cpp
  Source/WebCore/html/HTMLInputElement.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#26666 [Skia] Use gtk_widget_queue_draw_region() for PageClientImpl::setViewNeedsDisplay in GTK3
  Source/WebCore/platform/graphics/cairo/CairoUtilities.cpp
  Source/WebCore/platform/graphics/cairo/CairoUtilities.h
  Source/WebKit/UIProcess/API/gtk/PageClientImpl.cpp
Labels: merge-queue, WebKitGTK

#26648 [UnifiedPDF] Zoom out doesn't go out far enough with keyboard zoom
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: merge-queue, PDF

#26659 Remove unprefixed alias for `:-apple-has-attachment`
  Source/WebCore/css/CSSPseudoSelectors.json
Labels: unsafe-merge-queue, CSS

#26676 Remove ENABLE_AVF_CAPTIONS build flag
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/platform/graphics/avfoundation/MediaPlayerPrivateAVFoundation.cpp
  Source/WebCore/platform/graphics/avfoundation/MediaPlayerPrivateAVFoundation.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/OutOfBandTextTrackPrivateAVF.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxyConfiguration.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxyConfiguration.serialization.in
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.h
  Source/WebKit/WebProcess/GPU/media/RemoteMediaPlayerManager.cpp
Labels: merge-queue, Media

#26538 Security key doesn't show up when allowCredentials transports contain "Internal"
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/WebAuthenticatorCoordinatorProxy.mm
Labels: merge-queue, WebKit Misc.

#26657 REGRESSION (273461@main): The value attribute is not displayed in an input field with type="email" and multiple attributes
  LayoutTests/fast/forms/email-input-type-value-and-multiple-attributes-set-expected.html
  LayoutTests/fast/forms/email-input-type-value-and-multiple-attributes-set.html
  Source/WebCore/html/EmailInputType.cpp
Labels: merge-queue, Forms

#26685 [svn-apply-patch] Replace patch application with git
  Tools/Scripts/webkitpy/common/checkout/checkout.py
  Tools/Scripts/webkitpy/common/checkout/checkout_unittest.py
Labels: unsafe-merge-queue, Tools / Tests

#26616 [build.webkit.org] Upload webdriver-test logs to S3
  Tools/CISupport/build-webkit-org/steps.py
  Tools/CISupport/build-webkit-org/steps_unittest.py
Labels: unsafe-merge-queue, Tools / Tests, skip-ews

#26698 [Gardening]: [ iOS ] imported/w3c/web-platform-tests/css/css-transforms/transform3d-preserve3d-001.html is a consistent failure
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue

#26634 [Cocoa] Provide hints to CFNetwork for network traffic class
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
Labels: merge-queue, WebKit Misc.

#26688 REGRESSION (276827@main): When drawing a pattern, get the oriented image frame only if the orientation is not TopLeft
  Source/WebCore/platform/graphics/BitmapImageSource.cpp
Labels: merge-queue, Images

#26601 Clean up inline jit permissions macros (2)
  Source/JavaScriptCore/Configurations/Base.xcconfig
  Source/WTF/wtf/PlatformUse.h
  Source/WebCore/Configurations/WebCore.xcconfig
Labels: merge-queue, JavaScriptCore

#26660 [JSC] `Function.prototype.toString` should print `set` / `get` for accessor properties
  JSTests/stress/function-toString-for-accessor-properties.js
  LayoutTests/imported/w3c/web-platform-tests/html/dom/idlharness.https_include=(Document_Window)-expected.txt
  LayoutTests/js/basic-strict-mode-expected.txt
  LayoutTests/js/dom/native-bindings-descriptors-expected.txt
  LayoutTests/js/dom/native-bindings-descriptors.html
  LayoutTests/js/script-tests/basic-strict-mode.js
  LayoutTests/js/script-tests/function-toString-vs-name.js
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/dom/idlharness.https_include=(Document_Window)-expected.txt
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/html/dom/idlharness.https-expected.txt
  LayoutTests/platform/ipad/imported/w3c/web-platform-tests/html/dom/idlharness.https-expected.txt
  LayoutTests/platform/wpe/imported/w3c/web-platform-tests/html/dom/idlharness.https-expected.txt
  Source/JavaScriptCore/runtime/JSCustomGetterFunction.cpp
  Source/JavaScriptCore/runtime/JSCustomSetterFunction.cpp
Labels: merge-queue, JavaScriptCore

#26686 REGRESSION(276827@main) Retain frame request queue in ImageFrameWorkQueue::start
  LayoutTests/fast/images/protected-image-queue-expected.txt
  LayoutTests/fast/images/protected-image-queue.html
  Source/WebCore/platform/graphics/ImageFrameWorkQueue.cpp
Labels: unsafe-merge-queue, Images

#26699 [safe-merge-queue] Add JSC checks
  Tools/CISupport/ews-build/steps.py
Labels: Tools / Tests, skip-ews

#26633 VisibleContentRectIncludesScrollbars should be an enum class
  Source/WebCore/platform/ScrollView.cpp
  Source/WebCore/platform/ScrollView.h
  Source/WebCore/platform/ScrollableArea.cpp
  Source/WebCore/platform/ScrollableArea.h
  Source/WebCore/rendering/RenderLayerScrollableArea.cpp
Labels: merge-queue, WebCore Misc.

#26691 Add Options::maxHeapSizeAsRAMSizeMultiple() to limit max memory usage for testing.
  Source/JavaScriptCore/heap/CompleteSubspace.cpp
  Source/JavaScriptCore/jsc.cpp
  Source/JavaScriptCore/runtime/OptionsList.h
Labels: unsafe-merge-queue, JavaScriptCore

#26705 [Gardening]: NEW TEST(275838@main): [ MacOS ] media/media-source/media-managedmse-noresumeafterpause.html is a flaky failure
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue

#26693 Adding myself as committer.
  metadata/contributors.json
Labels: unsafe-merge-queue

#26673 WebCore::ViewportErrorCode should be an enum class
  Source/WebCore/dom/ViewportArguments.cpp
  Source/WebCore/dom/ViewportArguments.h
Labels: merge-queue, WebCore Misc.

#26681 [svn-unapply] Remove
  Tools/Scripts/svn-unapply
Labels: unsafe-merge-queue, Tools / Tests, skip-ews

#26706 Try to fix the visionOS build
  Source/WebKit/WebKitSwift/LinearMediaKit/LinearMediaKitExtras.swift
Labels: unsafe-merge-queue, Media, skip-ews

#26654 [JSC] Start sharing megamorphic ById JIT code
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/Sources.txt
  Source/JavaScriptCore/bytecode/AccessCase.h
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.cpp
  Source/JavaScriptCore/bytecode/SharedJITStubSet.cpp
  Source/JavaScriptCore/bytecode/SharedJITStubSet.h
  Source/JavaScriptCore/bytecode/StructureStubInfo.cpp
  Source/JavaScriptCore/bytecode/StructureStubInfo.h
  Source/JavaScriptCore/heap/Heap.cpp
  Source/JavaScriptCore/jit/GCAwareJITStubRoutine.cpp
  Source/JavaScriptCore/jit/GCAwareJITStubRoutine.h
  Source/JavaScriptCore/jit/PolymorphicCallStubRoutine.h
  Source/JavaScriptCore/runtime/CacheableIdentifier.h
  Source/JavaScriptCore/runtime/CacheableIdentifierInlines.h
  Source/JavaScriptCore/runtime/VM.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#26680 [Cocoa] Allow camera zoom above 2x
  Source/WebCore/platform/mediastream/mac/AVVideoCaptureSource.mm
Labels: merge-queue, WebRTC

#26696 [Site Isolation] `dumpChildFramesAsText()` should output the names of out-of-process frames
  LayoutTests/http/tests/site-isolation/notify-done-expected.txt
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
Labels: unsafe-merge-queue, WebKit Process Model

#26694 Fix typo Registeration -> Registration
  Source/JavaScriptCore/runtime/TZoneInit.cpp
  Source/JavaScriptCore/runtime/TZoneInit.h
  Source/WebKit/Shared/API/Cocoa/WKMain.mm
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/WebAuthenticatorCoordinatorProxy.mm
  Source/WebKit/UIProcess/WebAuthentication/WebAuthenticatorCoordinatorProxy.h
Labels: merge-queue, WebKit Misc.

#26702 Send WebPage::PreferencesDidChange to all processes with site isolation enabled
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
Labels: unsafe-merge-queue, WebKit Process Model

#26710 [Gardening]: REGRESSION (276636@main): [ macOS wk2 ] http/tests/workers/service/openwindow-from-notification-click.html is a consistent crash
  LayoutTests/platform/mac-monterey-wk2/http/tests/workers/service/openwindow-from-notification-click-expected.txt
Labels: unsafe-merge-queue, New Bugs

#26712 [WinCairo] Unreviewed test gardening
  LayoutTests/platform/wincairo/TestExpectations
Labels: unsafe-merge-queue

#26672 Linker error when logging ViewportConfiguration to TextStream in Release configuration
  Source/WebCore/page/ViewportConfiguration.cpp
  Source/WebCore/page/ViewportConfiguration.h
Labels: merge-queue, WebCore Misc.

#26602 [WebGPU] addPipelineLayouts should check if value exist in the map before taking its value
  Source/WebGPU/WebGPU/RenderPipeline.mm
Labels: merge-queue, WebGPU

#26491 Update the PreviewWindowController to use a PreviewConfiguration
  Source/WebKit/UIProcess/WebFullScreenManagerProxy.cpp
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
  Source/WebKit/WebKitSwift/Preview/PreviewWindowController.swift
  Source/WebKit/WebKitSwift/Preview/WKSPreviewWindowController.h
Labels: merge-queue, Media

#26704 Make default safety of align-content on block containers that are scroll containers unsafe.
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/blocks/align-content-block-overflow-000-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-align/blocks/align-content-block-overflow-000-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-overflow/overflow-alignment-block-001.html
  Source/WebCore/rendering/RenderBlockFlow.cpp
Labels: merge-queue, Layout and Rendering

#26553 Cleanup includes and forward-declarations in WebCoreArgumentCoders
  Source/WebCore/page/cocoa/DataDetectorElementInfo.h
  Source/WebKit/GPUProcess/media/RemoteImageDecoderAVFProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerManagerProxy.cpp
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/WebProcess/GPU/webrtc/RemoteVideoFrameObjectHeapProxyProcessor.cpp
  Source/WebKit/WebProcess/WebPage/wc/GraphicsLayerWC.cpp
Labels: WebKit2

#26715 [GTK4] Drop String::fromUTF8() overloads taking in a raw pointer and a size
  Source/WebKit/UIProcess/API/gtk/DropTargetGtk4.cpp
Labels: unsafe-merge-queue, WebKitGTK

#26711 Update charactersToDouble() / charactersToFloat() to take in a std::span
  Source/WTF/wtf/JSONValues.cpp
  Source/WTF/wtf/text/StringImpl.cpp
  Source/WTF/wtf/text/StringView.h
  Source/WTF/wtf/text/WTFString.cpp
  Source/WTF/wtf/text/WTFString.h
  Source/WebCore/css/parser/CSSParserFastPaths.cpp
  Source/WebCore/css/parser/CSSTokenizerInputStream.cpp
  Source/WebCore/dom/ViewportArguments.cpp
  Source/WebCore/html/track/VTTScanner.cpp
  Source/WebCore/platform/Length.cpp
Labels: unsafe-merge-queue

#26598 [GTK] Video alpha channel doesn't work
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
Labels: merge-queue

#26722 [WPE] Fix build failure after 273995@main
  Source/WebKit/UIProcess/wpe/AcceleratedBackingStoreDMABuf.cpp
Labels: unsafe-merge-queue, WPE WebKit

#26719 Remove Mac-specific keywords in ITP/SQLite release logs
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsStore.cpp
  Source/WebKit/NetworkProcess/storage/SQLiteStorageArea.cpp
Labels: merge-queue, Website Storage

#26713 Fix linter error in css/css-images/gradient/color-scheme-dependent-color-stops WPT
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/gradient/color-scheme-dependent-color-stops.html
Labels: unsafe-merge-queue, Tools / Tests

#25531 Implement trusted types integration with DOM node conversion APIs
  LayoutTests/imported/w3c/web-platform-tests/trusted-types/Node-multiple-arguments-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/trusted-types/block-Node-multiple-arguments-expected.txt
  Source/WebCore/dom/ChildNode.idl
  Source/WebCore/dom/ContainerNode.cpp
  Source/WebCore/dom/ContainerNode.h
  Source/WebCore/dom/Node.cpp
  Source/WebCore/dom/Node.h
  Source/WebCore/dom/ParentNode.idl
  Source/WebCore/dom/TrustedType.cpp
  Source/WebCore/dom/TrustedType.h
Labels: DOM

#26732 [Gardening]: NEW TEST(276866@main): [ MacOS WK2 ] requestidlecallback/requestidlecallback-is-called-even-when-event-loop-is-busy.html is a flaky timeout
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue

#26649 [UnifiedPDF] Maintain scroll position when zooming and resizing the window
  LayoutTests/http/tests/pdf/linearized-pdf-in-iframe.html
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFDocumentLayout.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFDocumentLayout.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: merge-queue, PDF

#26647 Switch CoreTelephony.framework to use delay-init linking
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/PAL/pal/cocoa/CoreTelephonySoftLink.h
  Source/WebCore/PAL/pal/cocoa/CoreTelephonySoftLink.mm
  Source/WebKit/Configurations/WebKit.xcconfig
  Source/WebKit/UIProcess/Cocoa/CoreTelephonyUtilities.mm
  Tools/TestWebKitAPI/Configurations/TestWebKitAPILibrary.xcconfig
  Tools/TestWebKitAPI/Tests/ios/KeyboardInputTestsIOS.mm
Labels: unsafe-merge-queue, WebKit Misc.

#26723 Add logging related to download expected content length
  Source/WebKit/NetworkProcess/Downloads/Download.cpp
  Source/WebKit/UIProcess/Downloads/DownloadProxy.cpp
Labels: merge-queue, Page Loading

#26675 gtk_widget_snapshot_child: assertion '_gtk_widget_get_parent (child) == widget' failed
  Source/WebKit/UIProcess/API/gtk/WebKitWebViewBase.cpp
Labels: merge-queue, WebKitGTK, GLib Suggested Backport

#26718 Enable MEDIA_STREAM compilation flag on TvOS
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebCore/platform/mediastream/cocoa/AudioMediaStreamTrackRendererCocoa.cpp
  Source/WebCore/platform/mediastream/cocoa/IncomingAudioMediaStreamTrackRendererUnit.cpp
  Source/WebCore/platform/mediastream/cocoa/IncomingAudioMediaStreamTrackRendererUnit.h
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.cpp
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.h
  Source/WebKit/GPUProcess/webrtc/RemoteMediaRecorder.cpp
  Source/WebKit/GPUProcess/webrtc/RemoteMediaRecorder.h
  Source/WebKit/GPUProcess/webrtc/RemoteMediaRecorder.messages.in
  Source/WebKit/GPUProcess/webrtc/RemoteMediaRecorderManager.cpp
  Source/WebKit/GPUProcess/webrtc/RemoteMediaRecorderManager.h
  Source/WebKit/GPUProcess/webrtc/RemoteMediaRecorderManager.messages.in
  Source/WebKit/WebProcess/GPU/webrtc/MediaRecorderPrivate.cpp
  Source/WebKit/WebProcess/GPU/webrtc/MediaRecorderPrivate.h
  Source/WebKit/WebProcess/GPU/webrtc/MediaRecorderProvider.cpp
  Source/WebKit/WebProcess/GPU/webrtc/MediaRecorderProvider.h
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
Labels: merge-queue, WebRTC

#26709 QuickLook sometimes shows broken images for image sources when loading web archives
  Source/WebCore/html/HTMLImageElement.cpp
  Source/WebCore/html/parser/HTMLSrcsetParser.cpp
  Source/WebCore/html/parser/HTMLSrcsetParser.h
  Source/WebCore/loader/DocumentLoader.h
  Source/WebCore/loader/ImageLoader.cpp
  Source/WebCore/loader/ImageLoader.h
  Tools/TestWebKitAPI/Tests/mac/LoadWebArchive.mm
  Tools/TestWebKitAPI/cocoa/TestWKWebView.h
  Tools/TestWebKitAPI/cocoa/TestWKWebView.mm
Labels: merge-queue, Platform

#26619 Revise sandbox to allow necessary sysctl calls
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
  Source/WebKit/NetworkProcess/mac/com.apple.WebKit.NetworkProcess.sb.in
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
  Source/WebKit/webpushd/mac/com.apple.WebKit.webpushd.mac.sb.in
  Source/WebKit/webpushd/mac/com.apple.WebKit.webpushd.relocatable.mac.sb.in
Labels: merge-queue, WebKit2

#26727 Fix build after drop of String constructor with raw pointer and length
  Source/JavaScriptCore/runtime/IntlPluralRules.cpp
  Source/WebCore/rendering/svg/SVGTextMetrics.cpp
Labels: unsafe-merge-queue

#26741 RE-BASELINE: REGRESSION (iOS 17.4): 3 imported Japanese language line break layout tests are constantly failing.
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-text/i18n/ja/css-text-line-break-ja-in-loose-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-text/i18n/ja/css-text-line-break-ja-pr-normal-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-text/i18n/ja/css-text-line-break-ja-pr-strict-expected.txt
Labels: unsafe-merge-queue, CSS

#26729 Turn ENABLE_CSS_PAINTING_API on for all ports
  Source/WTF/wtf/PlatformEnable.h
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/cmake/OptionsGTK.cmake
  Source/cmake/OptionsMac.cmake
  Source/cmake/OptionsPlayStation.cmake
  Source/cmake/OptionsWPE.cmake
  Source/cmake/OptionsWin.cmake
  Source/cmake/WebKitFeatures.cmake
Labels: merge-queue, Tools / Tests

#26582 REGRESSION (274826@main): [ iOS ] imported/w3c/web-platform-tests/xhr/setrequestheader-case-insensitive.htm is a constant failure
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/xhr/setrequestheader-case-insensitive-expected.txt
Labels: Tools / Tests

#26620 [build.webkit.org] Upload jscore-test logs to S3
  Tools/CISupport/build-webkit-org/steps.py
  Tools/CISupport/build-webkit-org/steps_unittest.py
Labels: unsafe-merge-queue, Tools / Tests

#26357 Tweak organization storage access prompt text
  Source/WebCore/en.lproj/Localizable.strings
  Source/WebKit/UIProcess/Cocoa/WKStorageAccessAlert.mm
Labels: Page Loading

#26583 Release assert in canExecuteScripts via Editor::setComposition through FrameSelection::willBeRemovedFromFrame
  LayoutTests/fast/forms/ios/focus-textarea.html
  LayoutTests/platform/mac/editing/pasteboard/drag-drop-dead-frame-expected.txt
  Source/WebCore/editing/FrameSelection.cpp
  Source/WebCore/editing/FrameSelection.h
  Source/WebKit/WebProcess/WebCoreSupport/WebLocalFrameLoaderClient.cpp
Labels: HTML Editing

#26730 [resultsdbpy] Add dashboard on landing page
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/static/css/search.css
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/static/js/commit.js
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/static/js/common.js
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/static/js/dashboard.js
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/static/js/expectations.js
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/static/js/timeline.js
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/templates/constants.js
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/templates/search.html
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/view_routes.py
Labels: unsafe-merge-queue, Tools / Tests, skip-ews

#26742 Handle EncodeRequestBody attribute when generating serialized type metadata
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Scripts/webkit/tests/SerializedTypeInfo.cpp
Labels: unsafe-merge-queue, WebKit Misc.

#26747 [ iOS ] Extra whitespace in test expectations disrupting automation.
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, Tools / Tests

#26748 [Gardening]: css3/filters/filter-repaint-shadow-layer-child.html is flaky Image only failure
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, CSS

#26749 [Gardening]: [iOS] 10 fast/forms/switch/click-animation*.html layout tests are passing
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue

#26682 [svn-create-patch] Remove
  Tools/Scripts/prepare-ChangeLog
  Tools/Scripts/svn-create-patch
Labels: unsafe-merge-queue, Tools / Tests, skip-ews

#26341 [visionOS] Audio-only playback does not appear to originate from its hosted window
  Source/WebCore/PAL/pal/spi/cocoa/AVFoundationSPI.h
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/html/HTMLMediaElement.h
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebCore/platform/cocoa/PlaybackSessionModel.h
  Source/WebCore/platform/cocoa/PlaybackSessionModelMediaElement.h
  Source/WebCore/platform/cocoa/PlaybackSessionModelMediaElement.mm
  Source/WebCore/platform/graphics/MediaPlayer.cpp
  Source/WebCore/platform/graphics/MediaPlayer.h
  Source/WebCore/platform/graphics/MediaPlayerPrivate.h
  Source/WebCore/platform/graphics/avfoundation/MediaPlayerPrivateAVFoundation.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaSourceAVFObjC.mm
  Source/WebCore/platform/ios/PlaybackSessionInterfaceIOS.h
  Source/WebCore/platform/ios/PlaybackSessionInterfaceIOS.mm
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.messages.in
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/UIProcess/Cocoa/PlaybackSessionManagerProxy.h
  Source/WebKit/UIProcess/Cocoa/PlaybackSessionManagerProxy.mm
  Source/WebKit/UIProcess/PageClient.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/ios/PageClientImplIOS.h
  Source/WebKit/UIProcess/ios/PageClientImplIOS.mm
  Source/WebKit/UIProcess/ios/WKContentView.h
  Source/WebKit/UIProcess/ios/WKContentView.mm
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.h
  Source/WebKit/WebProcess/GPU/media/RemoteAudioDestinationProxy.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
  Source/WebKit/WebProcess/cocoa/PlaybackSessionManager.h
  Source/WebKit/WebProcess/cocoa/PlaybackSessionManager.messages.in
  Source/WebKit/WebProcess/cocoa/PlaybackSessionManager.mm
Labels: Media

#26755 Build fix: Switch CoreTelephony.framework to use delay-init linking
  Tools/TestWebKitAPI/Configurations/TestWebKitAPI.xcconfig
  Tools/TestWebKitAPI/Configurations/TestWebKitAPILibrary.xcconfig
Labels: unsafe-merge-queue, WebKit Misc.

#26756 NEW TEST(276866@main): [ MacOS WK2 ] requestidlecallback/requestidlecallback-is-called-even-when-event-loop-is-busy.html is a flaky timeout
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/requestidlecallback/requestidlecallback-is-called-even-when-event-loop-is-busy-expected.txt
  LayoutTests/requestidlecallback/requestidlecallback-is-called-even-when-event-loop-is-busy.html
Labels: unsafe-merge-queue, New Bugs

#26760 [Gardening]: REGRESSION (276725@main): [ Ventura WK2 Release ] 2X inspector/canvas/recording tests are consistent failures
  LayoutTests/platform/mac-ventura-wk2/TestExpectations
  LayoutTests/platform/mac-ventura-wk2/inspector/canvas/recording-offscreen-webgl-full-expected.txt
  LayoutTests/platform/mac-ventura-wk2/inspector/canvas/recording-webgl-full-expected.txt
Labels: unsafe-merge-queue, New Bugs

#26735 Remove logging from 276439@main
  Source/WebCore/rendering/RenderLayerScrollableArea.cpp
Labels: merge-queue, New Bugs

#26651 REGRESSION: fix compilation if !ENABLE(VIDEO)
  Source/WebCore/Modules/WebGPU/GPUDevice.cpp
  Source/WebCore/Modules/WebGPU/GPUDevice.h
  Source/WebCore/css/SelectorChecker.cpp
  Source/WebCore/css/SelectorCheckerTestFunctions.h
  Source/WebCore/cssjit/SelectorCompiler.cpp
  Source/WebCore/dom/FullscreenManager.cpp
  Source/WebCore/dom/FullscreenManager.h
  Source/WebCore/inspector/agents/InspectorDOMAgent.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteDevice.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/WebFullScreenManagerProxy.h
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.h
  Source/WebKit/WebProcess/InjectedBundle/InjectedBundlePageFullScreenClient.h
Labels: merge-queue

#26758 [MultiRep HEIC] Fix debug test failures
  Source/WebCore/editing/cocoa/EditorCocoa.mm
Labels: unsafe-merge-queue, Tools / Tests

#26733 REGRESSION(275943@main): WebKit apps can crash on launch in ApplicationStateTracker::setScene()
  Source/WebKit/UIProcess/ApplicationStateTracker.mm
Labels: merge-queue, Media

#26751 Expose correct ProcessQualified metadata to IPC test API
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/Scripts/webkit/tests/MessageArgumentDescriptions.cpp
  Source/WebKit/Shared/ProcessQualified.serialization.in
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IPCTestingAPI.mm
Labels: unsafe-merge-queue, WebKit Misc.

#26590 [ iOS17 ] fast/scrolling/ios/scroll-anchoring-momentum-scroll.html(layout-tests) is a constant TEXT failure
  LayoutTests/fast/scrolling/ios/scroll-anchoring-momentum-scroll-expected.txt
  LayoutTests/fast/scrolling/ios/scroll-anchoring-momentum-scroll.html
  LayoutTests/platform/ios/TestExpectations
Labels: merge-queue, Scrolling

#26195 [JSC] Remove the redundant NodeResultInt32 check in addImmediateShouldSpeculateInt32
  Source/JavaScriptCore/dfg/DFGGraph.h
Labels: JavaScriptCore

#26752 [visionOS] WebContent process crashes when entering docked fullscreen on netflix.com
  Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferPrivateAVFObjC.mm
Labels: merge-queue, Media

#26708 Prevent locked files assertion from taking a power assertion
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/cocoa/NetworkProcessCocoa.mm
  Source/WebKit/UIProcess/Cocoa/ProcessAssertionCocoa.mm
  Source/WebKit/UIProcess/ProcessAssertion.cpp
  Source/WebKit/UIProcess/ProcessAssertion.h
  Source/WebKit/UIProcess/ProcessThrottler.cpp
Labels: merge-queue, WebKit Process Model

#26759 Expose correct enum values to IPC test API for negative values
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Scripts/webkit/tests/SerializedTypeInfo.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IPCTestingAPI.mm
Labels: unsafe-merge-queue, WebKit Misc.

#26606 Stop gathering RTC stats when WebRTC media endpoint is suspended
  Source/WebCore/Modules/mediastream/libwebrtc/LibWebRTCMediaEndpoint.cpp
Labels: merge-queue, WebRTC

#26607 [iOS] audio level switches to VC level when starting microphone capture even if audioSession type is set to 'play-and-record' before microphone capture
  Source/WebCore/platform/audio/cocoa/MediaSessionManagerCocoa.mm
Labels: merge-queue, WebRTC

#26762 [Remote Inspection] Add a way to immediately apply visibility adjustment based on CSS selectors when loading
  Source/WebCore/loader/DocumentLoader.h
  Source/WebCore/page/ElementTargetingController.cpp
  Source/WebCore/page/ElementTargetingController.h
  Source/WebCore/page/ElementTargetingTypes.h
  Source/WebCore/page/Page.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/Shared/WebsitePoliciesData.cpp
  Source/WebKit/Shared/WebsitePoliciesData.h
  Source/WebKit/Shared/WebsitePoliciesData.serialization.in
  Source/WebKit/UIProcess/API/APITargetedElementInfo.h
  Source/WebKit/UIProcess/API/APIWebsitePolicies.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebpagePreferences.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebpagePreferencesPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/_WKTargetedElementInfo.h
  Source/WebKit/UIProcess/API/Cocoa/_WKTargetedElementInfo.mm
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ElementTargetingTests.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/element-targeting-3.html
  Tools/TestWebKitAPI/cocoa/TestWKWebView.h
  Tools/TestWebKitAPI/cocoa/TestWKWebView.mm
Labels: Platform

#26564 [GTK] Port SelectionData to new IPC serialization format
  Source/WebCore/platform/gtk/PasteboardGtk.cpp
  Source/WebCore/platform/gtk/SelectionData.cpp
  Source/WebCore/platform/gtk/SelectionData.h
  Source/WebKit/PlatformGTK.cmake
  Source/WebKit/Shared/gtk/ArgumentCodersGtk.cpp
  Source/WebKit/Shared/gtk/ArgumentCodersGtk.h
  Source/WebKit/Shared/gtk/ArgumentCodersGtk.serialization.in
  Source/WebKit/UIProcess/API/gtk/DragSourceGtk3.cpp
  Source/WebKit/UIProcess/gtk/ClipboardGtk3.cpp
Labels: merge-queue, WebKitGTK

#26671 [iOS] 2 fast/viewport/viewport-legacy-xhtmlmp*.html layout tests are constantly failing.
  LayoutTests/fast/viewport/viewport-legacy-xhtmlmp-remove-and-add.html
  LayoutTests/fast/viewport/viewport-legacy-xhtmlmp.html
  LayoutTests/platform/ios/TestExpectations
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/dom/ViewportArguments.h
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
Labels: merge-queue, Layout and Rendering

#26780 [@starting-style] Style adjuster wrongly invoked with null element
  LayoutTests/imported/w3c/web-platform-tests/css/css-transitions/starting-style-adjustment-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-transitions/starting-style-adjustment.html
  Source/WebCore/style/StyleTreeResolver.cpp
Labels: merge-queue, CSS

#26513 [Skia] Fix GraphicsContextSkia::setLineDash when odd number of elements is provided
  Source/WebCore/platform/graphics/skia/GraphicsContextSkia.cpp
Labels: unsafe-merge-queue, WPE WebKit

#26305 [Skia] Fix background-size behavior when background repeats
  Source/WebCore/platform/graphics/skia/GraphicsContextSkia.cpp
Labels: unsafe-merge-queue, WPE WebKit

#26770 Build fix: Switch CoreTelephony.framework to use delay-init linking
  Source/WebKit/Configurations/WebKit.xcconfig
  Tools/TestWebKitAPI/Configurations/TestWebKitAPI.xcconfig
Labels: unsafe-merge-queue, WebKit Misc.

#25821 [Skia] Implement snapshots on GTK
  Source/WebKit/UIProcess/API/glib/WebKitWebView.cpp
Labels: WPE WebKit

#26609 Enable PopStateEvent's hasUAVisualTransition (UAVisualTransitionDetectionEnabled) by default
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: merge-queue, WebCore Misc.

#26788 Remove unused m_isValid private field in FragmentDirectiveGenerator
  Source/WebCore/dom/FragmentDirectiveGenerator.h
Labels: merge-queue, WebKit Misc.

#26728 [WGSL] Pointer rewriter should visit phony assignment
  Source/WebGPU/WGSL/PointerRewriter.cpp
  Source/WebGPU/WGSL/tests/valid/array-length.wgsl
  Source/WebGPU/WGSL/wgslc.cpp
Labels: merge-queue, WebGPU

#26779 REGRESSION (276787@main): [ MacOS WK1 ] http/tests/security/contentSecurityPolicy/block-all-mixed-content/insecure-script-in-iframe.html is a consistent failure
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac-wk1/http/tests/security/contentSecurityPolicy/block-all-mixed-content/insecure-script-in-iframe-expected.txt
Labels: merge-queue, New Bugs

#26736 CrashTracer: com.apple.WebKit.WebContent at WebCore: WebCore::ValidatedFormListedElement::updateValidity
  Source/WebCore/dom/RadioButtonGroups.cpp
Labels: merge-queue, CSS

#26738 Github api should not assume the current user as the fork owner.
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/remote/git_hub.py
Labels: unsafe-merge-queue, Tools / Tests

#26753 [JSC] Crash On JSC when open dir as input file
  Source/JavaScriptCore/jsc.cpp
Labels: merge-queue, JavaScriptCore

#26764 [resultsdbpy] Add dashboard on landing page (Follow-up)
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/static/js/configuration.js
  Tools/Scripts/libraries/resultsdbpy/resultsdbpy/view/static/js/dashboard.js
Labels: unsafe-merge-queue, Tools / Tests

#26774 [tvOS] Enable WEB_CODECS and other media related compilation flags
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/platform/mediarecorder/cocoa/AudioSampleBufferCompressor.h
  Source/WebCore/platform/mediarecorder/cocoa/AudioSampleBufferCompressor.mm
  Source/WebCore/platform/mediarecorder/cocoa/VideoSampleBufferCompressor.mm
  Source/WebKit/WebProcess/GPU/webrtc/MediaRecorderProvider.cpp
Labels: merge-queue, WebRTC

#19515 REGRESSION (UI-side compositing) overflow:scroll inside SVG foreignObject fails to render scrollbars
  LayoutTests/fast/scrolling/mac/scrollbars/svg-foreign-object-overlay-scrollbar-hovered-expected.txt
  LayoutTests/fast/scrolling/mac/scrollbars/svg-foreign-object-overlay-scrollbar-hovered.html
  LayoutTests/resources/ui-helper.js
  Source/WebCore/rendering/RenderLayerScrollableArea.cpp
  Source/WebCore/rendering/RenderLayerScrollableArea.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteScrollbarsController.mm
Labels: Scrolling

#26794 Functionally fix fast/loader/window-open-to-invalid-url-calls-policy-delegate.html with --site-isolation
  Source/WebCore/page/LocalDOMWindow.cpp
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
  Source/WebKit/UIProcess/Cocoa/WebProcessProxyCocoa.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
Labels: unsafe-merge-queue, WebKit Process Model

#25713 [content-visibility] ASSERTION FAILED: !renderer.needsLayout() causing imported/w3c/web-platform-tests/css/css-contain/content-visibility/content-visibility-video.html to constantly crash
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/wk2/TestExpectations
  Source/WebCore/rendering/RenderDescendantIterator.h
  Source/WebCore/rendering/RenderElement.cpp
  Source/WebCore/rendering/RenderIterator.h
Labels: Media

#26804 [Gardening]: [ Sonoma WK1 ] 7X imported/w3c/web-platform-tests/worklets tests are flaky failures
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue

#26778 Figure out how to tell if a Web Extension has been updated in WebKit.
  Source/WTF/wtf/spi/cocoa/SecuritySPI.h
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIScriptingCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtension.h
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
Labels: unsafe-merge-queue, WebKit Extensions

#26785 [JSC] Update `expectations.yaml` for `/built-ins/Function/prototype/toString/`
  JSTests/test262/expectations.yaml
Labels: unsafe-merge-queue

#26763 [view-transitions] Skip view transition when viewport size changes
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/window-resize-aborts-transition-before-ready-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/window-resize-aborts-transition-expected.txt
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
  Source/WebCore/dom/ViewTransition.cpp
  Source/WebCore/dom/ViewTransition.h
Labels: merge-queue, CSS

#26771 Adopt std::span in more places
  Source/WebCore/Modules/WebGPU/GPUQueue.cpp
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUQueueImpl.cpp
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUQueueImpl.h
  Source/WebCore/Modules/WebGPU/InternalAPI/WebGPUQueue.h
  Source/WebCore/Modules/mediastream/RTCRtpSFrameTransformerCocoa.cpp
  Source/WebCore/crypto/cocoa/CryptoAlgorithmHKDFMac.cpp
  Source/WebCore/crypto/cocoa/CryptoAlgorithmHMACMac.cpp
  Source/WebCore/crypto/cocoa/CryptoUtilitiesCocoa.cpp
  Source/WebCore/crypto/cocoa/CryptoUtilitiesCocoa.h
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteQueue.cpp
  Source/WebKit/NetworkProcess/cache/NetworkCacheData.h
  Source/WebKit/NetworkProcess/cache/NetworkCacheDataCocoa.mm
  Source/WebKit/NetworkProcess/cache/NetworkCacheDataCurl.cpp
  Source/WebKit/NetworkProcess/cache/NetworkCacheDataGLib.cpp
  Source/WebKit/NetworkProcess/cache/NetworkCacheEntry.cpp
  Source/WebKit/NetworkProcess/cache/NetworkCacheStorage.cpp
  Source/WebKit/NetworkProcess/cache/NetworkCacheSubresourcesEntry.cpp
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCUDPSocketCocoa.mm
  Source/WebKit/Platform/IPC/DaemonCoders.h
  Source/WebKit/Shared/Cocoa/SandboxExtensionCocoa.mm
  Source/WebKit/UIProcess/API/APIContentRuleListStore.cpp
  Source/WebKit/UIProcess/Cocoa/GPUProcessProxyCocoa.mm
  Source/WebKit/UIProcess/mac/LegacySessionStateCoding.cpp
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteQueueProxy.cpp
  Source/WebKit/WebProcess/GPU/graphics/WebGPU/RemoteQueueProxy.h
Labels: unsafe-merge-queue, WebCore Misc.

#26803 _WKWebExtensionDataRecord.errors shouldn't return a nil array
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionDataRecordCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionDataRecord.h
Labels: unsafe-merge-queue, WebKit Extensions

#26745 [JFC] Enable LTO for Apple Watch
  Source/JavaScriptCore/Configurations/Base.xcconfig
Labels: merge-queue, skip-ews

#26766 BBQ has spurious assertion for zero-frame leaf functions
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
Labels: merge-queue, JavaScriptCore

#26314 [Navigation] Process NavigateEvent earlier in FrameLoader::loadInSameDocument
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigate-event/navigate-anchor-fragment-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigate-event/navigate-destination-getState-back-forward-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/navigation-api/navigate-event/navigate-svg-anchor-fragment-expected.txt
  Source/WebCore/loader/FrameLoader.cpp
Labels: merge-queue, WebKit Misc.

#26809 [visionOS] After exiting docked fullscreen, element fullscreen window contains only a view snapshot
  Source/WebKit/UIProcess/Cocoa/PlaybackSessionManagerProxy.mm
Labels: unsafe-merge-queue, Media, skip-ews

#26726 Make WebCore::IDBSerializationContext testable
  Source/WebCore/Modules/indexeddb/IDBValue.h
  Source/WebCore/bindings/js/IDBBindingUtilities.h
Labels: unsafe-merge-queue, WebCore Misc.

#26636 Web Inspector: Console and code editor completion does not auto-scroll suggestion into view
  Source/WebInspectorUI/UserInterface/Views/CompletionSuggestionsView.js
Labels: merge-queue, Web Inspector

#26739 Thread safety warning: MediaFormatReader m_duration is unprotected by m_parseTracksLock
  Source/WebKit/Shared/mac/MediaFormatReader/MediaFormatReader.cpp
  Source/WebKit/Shared/mac/MediaFormatReader/MediaFormatReader.h
Labels: merge-queue, Media

#26811 [Gardening]: REGRESSION (274826@main): [ Sonoma WK1 ] 2X imported/w3c/web-platform-tests/mixed-content/tentative/autoupgrades tests are flaky failures
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue

#26773 [WebXR] WebXR should base its foveation on the app's setting
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/ContextMtl.mm
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/mtl_command_buffer.h
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/mtl_command_buffer.mm
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/mtl_render_utils.mm
  Source/WebCore/Modules/webxr/WebXROpaqueFramebuffer.cpp
  Source/WebCore/Modules/webxr/WebXROpaqueFramebuffer.h
  Source/WebCore/Modules/webxr/WebXRWebGLLayer.cpp
Labels: merge-queue, WebXR

#26787 [Remote Inspection] Frequent targeted element requests can break automatic visibility adjustment
  Source/WebCore/page/ElementTargetingController.cpp
  Source/WebCore/page/ElementTargetingController.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ElementTargetingTests.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/element-targeting-2.html
Labels: merge-queue, WebCore Misc.

#26639 disable i386 swift module compilation for watch simulator
  Source/WebCore/PAL/Configurations/PAL.xcconfig
Labels: merge-queue

#26820 [WebXR] Depth values are not correct
  Source/WebCore/Modules/webxr/WebXROpaqueFramebuffer.cpp
Labels: unsafe-merge-queue, WebXR

#26819 Any early attempt to load the background page should return early
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
Labels: unsafe-merge-queue, WebKit Extensions

#26806 Some API tests started crashing in CFRelease after macOS update
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IDBCheckpointWAL.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IDBIndexUpgradeToV2.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IndexedDBPersistence.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IndexedDBTempFileSize.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/StoreBlobThenDelete.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebsiteDataStoreCustomPaths.mm
Labels: unsafe-merge-queue, Tools / Tests

#26768 Use std::span more in WTFString
  Source/JavaScriptCore/runtime/IntlNumberFormat.cpp
  Source/WTF/wtf/text/AtomString.h
  Source/WTF/wtf/text/IntegerToStringConversion.h
  Source/WTF/wtf/text/StringBuilder.cpp
  Source/WTF/wtf/text/StringBuilder.h
  Source/WTF/wtf/text/StringImpl.cpp
  Source/WTF/wtf/text/StringImpl.h
  Source/WTF/wtf/text/StringView.h
  Source/WTF/wtf/text/WTFString.cpp
  Source/WTF/wtf/text/WTFString.h
Labels: unsafe-merge-queue, WebKit2

#26823 [Gardening]: REGRESSION (276827@main): [ MacOS wk1 Debug ] tables/mozilla/bugs/bug4576.html is a flaky crash
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue

#26817 [view-transitions] Add a timeout to the update callback
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/update-callback-timeout-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/update-callback-timeout.html
  Source/WebCore/dom/ViewTransition.cpp
  Source/WebCore/dom/ViewTransition.h
Labels: unsafe-merge-queue, DOM, safe-merge-queue

#26800 Subframe navigation is failing in extension popovers
  Source/WebKit/UIProcess/Cocoa/NavigationState.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIAction.mm
Labels: unsafe-merge-queue, WebKit Extensions

#26783 [web-animations] update WPT import for web-animations
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/accumulation-per-property-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/addition-per-property-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/interpolation-per-property-002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/property-list.js
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/resources/side-effects-common.js
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/resources/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/side-effects-of-animations-current-expected.html
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/side-effects-of-animations-current-ref.html
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/side-effects-of-animations-current.html
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/side-effects-of-animations-in-effect-expected.html
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/side-effects-of-animations-in-effect-ref.html
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/side-effects-of-animations-in-effect.html
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/side-effects-of-animations-none-expected.html
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/side-effects-of-animations-none-ref.html
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/side-effects-of-animations-none.html
  LayoutTests/imported/w3c/web-platform-tests/web-animations/animation-model/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/web-animations/crashtests/color-mix-crashtest.html
  LayoutTests/imported/w3c/web-platform-tests/web-animations/crashtests/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/web-animations/interfaces/Animation/progress.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/interfaces/Animation/progress.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/web-animations/interfaces/Animation/scroll-timeline-progress.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/interfaces/Animation/scroll-timeline-progress.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/web-animations/interfaces/Animation/style-change-events.html
  LayoutTests/imported/w3c/web-platform-tests/web-animations/interfaces/Animation/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/web-animations/responsive/background-position-responsive-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/responsive/background-position-responsive.html
  LayoutTests/imported/w3c/web-platform-tests/web-animations/responsive/box-shadow-responsive-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/responsive/box-shadow-responsive.html
  LayoutTests/imported/w3c/web-platform-tests/web-animations/responsive/neutral-keyframe-expected.html
  LayoutTests/imported/w3c/web-platform-tests/web-animations/responsive/neutral-keyframe-ref.html
  LayoutTests/imported/w3c/web-platform-tests/web-animations/responsive/neutral-keyframe.html
  LayoutTests/imported/w3c/web-platform-tests/web-animations/responsive/responsive-test.js
  LayoutTests/imported/w3c/web-platform-tests/web-animations/responsive/toggle-animated-iframe-visibility.html
  LayoutTests/imported/w3c/web-platform-tests/web-animations/responsive/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/web-animations/responsive/width-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/web-animations/responsive/width.html
  LayoutTests/imported/w3c/web-platform-tests/web-animations/testcommon.js
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/accumulation-per-property-002-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/addition-per-property-002-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/web-animations/animation-model/animation-types/interpolation-per-property-002-expected.txt
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, Animations

#26801 [JSC] Handle OutOfBounds GetByVal of TypedArray
  JSTests/microbenchmarks/uint8-clamped-array-out-of-bounds.js
  JSTests/stress/typed-array-out-of-bounds.js
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
  Source/JavaScriptCore/dfg/DFGArrayMode.cpp
  Source/JavaScriptCore/dfg/DFGClobberize.h
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGPredictionPropagationPhase.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#26782 [Skia] Convert SkScalar to HarfBuzz position without converting first to float/double
  Source/WebCore/platform/graphics/skia/SkiaHarfBuzzFont.cpp
Labels: unsafe-merge-queue, Platform

#26836 [LibWebRTC] Unreviewed, build fix for Linux after 277020@main
  Source/WebCore/platform/mediastream/libwebrtc/gstreamer/RealtimeOutgoingAudioSourceLibWebRTC.h
Labels: unsafe-merge-queue

#26831 Implement printNavigationErrorMessage with site isolation
  LayoutTests/fast/loader/window-open-to-invalid-url-calls-policy-delegate.html
  LayoutTests/platform/mac-site-isolation/TestExpectations
  Source/WebCore/dom/Document.cpp
  Source/WebCore/page/Frame.h
  Source/WebCore/page/LocalFrame.cpp
  Source/WebCore/page/LocalFrame.h
  Source/WebCore/page/RemoteFrame.cpp
  Source/WebCore/page/RemoteFrame.h
  Source/WebCore/page/RemoteFrameClient.h
  Source/WebKit/UIProcess/API/C/WKPageInjectedBundleClient.h
  Source/WebKit/UIProcess/WebPageInjectedBundleClient.cpp
  Source/WebKit/UIProcess/WebPageInjectedBundleClient.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundlePage.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundlePage.h
  Source/WebKit/WebProcess/WebCoreSupport/WebRemoteFrameClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebRemoteFrameClient.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Tools/DumpRenderTree/TestRunner.cpp
  Tools/WebKitTestRunner/InjectedBundle/Bindings/TestRunner.idl
  Tools/WebKitTestRunner/InjectedBundle/InjectedBundle.cpp
  Tools/WebKitTestRunner/InjectedBundle/InjectedBundle.h
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.cpp
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.h
  Tools/WebKitTestRunner/TestController.cpp
Labels: unsafe-merge-queue, WebKit Process Model

#26164 Change contributor status of Georges Basile Stavracas Neto from contributor to committer
  metadata/contributors.json
Labels: WebKit Misc.

#26833 Make NSLocale serialization more robust against new locale introduction
  Source/WebKit/Shared/Cocoa/CoreIPCLocale.mm
Labels: unsafe-merge-queue, WebKit Misc.

#26786 [cmake] Fix recompilation on rebuild without changes
  CMakeLists.txt
  Source/WebKit/InspectorGResources.cmake
  Source/WebKit/ModernMediaControlsGResources.cmake
  Source/WebKit/PdfJSGResources.cmake
  Source/WebKit/PlatformGTK.cmake
  Source/WebKit/PlatformWPE.cmake
  Source/cmake/FindGLibCompileResources.cmake
  Source/cmake/OptionsGTK.cmake
  Source/cmake/OptionsWPE.cmake
  Tools/TestWebKitAPI/glib/CMakeLists.txt
  Tools/glib/apply-build-revision-to-files.py
  Tools/glib/fix-glib-resources-depfile.pl
Labels: merge-queue, CMake

#26851 (Regression@277025@main) WebGPU crashes on loading https://webgpu.github.io/webgpu-samples/?sample=rotatingCube
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteQueue.cpp
Labels: unsafe-merge-queue, WebGPU

#26824 [iOS] Reland linkage of BrowserEngineKit now that it is available in internal SDKs
  Source/WebKit/Configurations/WebKit.xcconfig
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Tools/TestWebKitAPI/Configurations/TestWebKitAPI.xcconfig
  Tools/TestWebKitAPI/cocoa/TestWKWebView.mm
Labels: merge-queue

#26828 Drop AtomString constructors that take in a raw pointer and a length
  Source/JavaScriptCore/runtime/IntlDisplayNames.cpp
  Source/JavaScriptCore/runtime/JSString.cpp
  Source/WTF/wtf/text/AtomString.cpp
  Source/WTF/wtf/text/AtomString.h
  Source/WTF/wtf/text/StringConcatenate.h
  Source/WTF/wtf/text/StringView.cpp
  Source/WTF/wtf/text/StringView.h
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
  Source/WebCore/dom/DatasetDOMStringMap.cpp
  Source/WebCore/dom/SpaceSplitString.cpp
  Source/WebCore/html/parser/AtomHTMLToken.h
  Source/WebCore/html/parser/HTMLNameCache.h
  Source/WebCore/layout/formattingContexts/inline/text/TextUtil.cpp
  Source/WebCore/loader/appcache/ApplicationCacheStorage.cpp
  Source/WebCore/page/EventSource.cpp
  Source/WebCore/platform/graphics/FontCache.cpp
  Source/WebCore/rendering/style/RenderStyle.cpp
Labels: unsafe-merge-queue

#26793 [WebGPU] Attribute locations should be validated prior to invoking metal compiler
  Source/WebGPU/WebGPU/RenderPipeline.mm
  Source/WebGPU/WebGPU/ShaderModule.mm
Labels: merge-queue, WebGPU

#26791 A clonable ShadowRoot is always cloned
  LayoutTests/imported/w3c/web-platform-tests/shadow-dom/shadow-root-clonable-expected.txt
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/ShadowRoot.cpp
Labels: merge-queue, DOM

#26846 [JSC] run-jsc-stress-tests should set argv for crash reporter.
  Source/JavaScriptCore/jsc.cpp
  Tools/Scripts/run-jsc-stress-tests
Labels: merge-queue, JavaScriptCore

#26826 REGRESSION (276827@main): [ MacOS wk1 Debug ] tables/mozilla/bugs/bug4576.html is a flaky crash (272128)
  LayoutTests/platform/mac-wk1/TestExpectations
  Source/WebCore/platform/graphics/ImageFrameAnimator.cpp
Labels: merge-queue, New Bugs
