Repository WebKit/WebKit, pull requests merged in 2025-06, with the labels that each got.

#46173 [macOS] Content inset fill capture color sometimes fails to update when the page background changes
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewInternal.h
  Source/WebKit/UIProcess/Cocoa/PageClientImplCocoa.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ObscuredContentInsets.mm
Labels: merge-queue, New Bugs

#46172 Media playback can fail on some sites on Intel
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
Labels: unsafe-merge-queue, WebKit Process Model

#46147 Rename 'imageAndSize' and 'image' as 'iconAndSize' and 'icon'
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
Labels: merge-queue

#46127 Use more C++ Concepts in WebCore
  Source/WebCore/platform/graphics/Color.h
  Source/WebCore/platform/graphics/ColorModels.h
  Source/WebCore/platform/graphics/ColorTypes.h
  Source/WebCore/platform/graphics/ImagePaintingOptions.h
  Source/WebCore/platform/graphics/cairo/CairoOperationRecorder.cpp
Labels: merge-queue, WebCore Misc.

#46170 Save memory by moving more RenderStyle Vectors to FixedVector
  LayoutTests/ipc/serialized-type-info.html
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.cpp
  Source/WTF/wtf/EmbeddedFixedVector.h
  Source/WTF/wtf/FixedVector.h
  Source/WTF/wtf/TrailingArray.h
  Source/WTF/wtf/Vector.h
  Source/WTF/wtf/text/TextStream.h
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/css/scripts/process-css-properties.py
  Source/WebCore/css/scripts/test/TestCSSPropertiesResults/StyleBuilderGenerated.cpp
  Source/WebCore/dom/ViewTransition.cpp
  Source/WebCore/platform/graphics/DashArray.h
  Source/WebCore/platform/graphics/cairo/CairoOperations.cpp
  Source/WebCore/platform/graphics/cg/GraphicsContextCG.cpp
  Source/WebCore/platform/graphics/skia/GraphicsContextSkia.cpp
  Source/WebCore/platform/mock/MockRealtimeVideoSource.cpp
  Source/WebCore/rendering/BorderPainter.cpp
  Source/WebCore/rendering/ios/RenderThemeIOS.mm
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/RenderStyleInlines.h
  Source/WebCore/rendering/style/RenderStyleSetters.h
  Source/WebCore/rendering/style/SVGRenderStyle.h
  Source/WebCore/rendering/style/SVGRenderStyleDefs.h
  Source/WebCore/rendering/style/StyleGridData.h
  Source/WebCore/rendering/style/StyleRareNonInheritedData.h
  Source/WebCore/rendering/svg/SVGRenderSupport.cpp
  Source/WebCore/rendering/svg/SVGRenderTreeAsText.cpp
  Source/WebCore/style/StyleBuilderConverter.h
  Source/WebCore/style/StyleBuilderCustom.h
  Source/WebCore/style/StyleExtractorConverter.h
  Source/WebCore/style/StyleExtractorSerializer.h
  Source/WebCore/style/StyleInterpolationFunctions.h
  Source/WebCore/style/StyleInterpolationWrappers.h
  Source/WebKit/Platform/IPC/ArgumentCoders.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Labels: merge-queue, CSS

#46178 Drop WTF_ALLOW_UNSAFE_BUFFER_USAGE in Source/WebGPU
  Source/WebGPU/WebGPU/CommandEncoder.mm
  Source/WebGPU/WebGPU/RenderBundleEncoder.mm
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
  Source/WebGPU/WebGPU/RenderPipeline.mm
Labels: merge-queue, WebGPU

#46177 Drop WTF_ALLOW_UNSAFE_BUFFER_USAGE in XPCServiceMain.mm
  Source/WebKit/Shared/EntryPointUtilities/Cocoa/XPCService/XPCServiceMain.mm
Labels: merge-queue, WebKit2

#46194 Remove Quirk needsIPadMiniUserAgent for cctv.com
  Source/WebCore/page/Quirks.cpp
Labels: unsafe-merge-queue, WebKit Misc.

#46013 [JSC] Migrate DateTime code from WTF::TimeType enum to enum class TimeType
  Source/JavaScriptCore/runtime/DateConstructor.cpp
  Source/JavaScriptCore/runtime/DateInstance.cpp
  Source/JavaScriptCore/runtime/DatePrototype.cpp
  Source/JavaScriptCore/runtime/JSDateMath.cpp
  Source/JavaScriptCore/runtime/JSDateMath.h
  Source/WTF/wtf/DateMath.cpp
  Source/WTF/wtf/DateMath.h
  Tools/TestWebKitAPI/Tests/WTF/DateMath.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#46199 Drop workaround for unsupported libstdc++5
  Source/WTF/wtf/StdLibExtras.h
Labels: unsafe-merge-queue, Layout and Rendering

#46190 Reduce unsafeness by making more class member variables const
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/crypto/SubtleCrypto.h
  Source/WebCore/dom/BroadcastChannel.cpp
  Source/WebCore/dom/BroadcastChannel.h
  Source/WebCore/dom/ChildListMutationScope.cpp
  Source/WebCore/dom/ChildListMutationScope.h
  Source/WebCore/dom/ChildNodeList.h
  Source/WebCore/dom/ComposedTreeAncestorIterator.h
  Source/WebCore/dom/ComposedTreeIterator.h
  Source/WebCore/dom/EmptyScriptExecutionContext.h
  Source/WebCore/dom/EventPath.cpp
  Source/WebCore/dom/FormDataEvent.h
  Source/WebCore/dom/MutationObserver.cpp
  Source/WebCore/dom/MutationObserver.h
  Source/WebCore/dom/MutationObserverRegistration.cpp
  Source/WebCore/dom/MutationObserverRegistration.h
  Source/WebCore/dom/MutationRecord.cpp
  Source/WebCore/dom/NativeNodeFilter.h
  Source/WebCore/dom/NodeList.h
  Source/WebCore/html/URLSearchParams.h
  Source/WebCore/html/ValidatedFormListedElement.h
  Source/WebCore/inspector/DOMEditor.cpp
  Source/WebCore/loader/FormState.cpp
  Source/WebCore/loader/FormState.h
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/platform/graphics/CachedSubimage.h
Labels: unsafe-merge-queue, WebCore Misc.

#46202 [GStreamer][WebRTC] Fix build error in GStreamerWebRTCCommon.cpp
  Source/WebCore/platform/mediastream/gstreamer/GStreamerWebRTCCommon.cpp
Labels: unsafe-merge-queue, WebRTC

#46161 [JSC] Implement `AsyncDisposableStack` prototype methods
  JSTests/stress/async-disposable-stack-prototype-methods.js
  JSTests/test262/config.yaml
  Source/JavaScriptCore/CMakeLists.txt
  Source/JavaScriptCore/DerivedSources-input.xcfilelist
  Source/JavaScriptCore/DerivedSources.make
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/builtins/AsyncDisposableStackPrototype.js
  Source/JavaScriptCore/builtins/BuiltinNames.h
  Source/JavaScriptCore/builtins/DisposableStackPrototype.js
  Source/JavaScriptCore/bytecode/BytecodeIntrinsicRegistry.cpp
  Source/JavaScriptCore/bytecode/BytecodeIntrinsicRegistry.h
  Source/JavaScriptCore/bytecode/LinkTimeConstant.h
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.h
  Source/JavaScriptCore/bytecompiler/NodesCodegen.cpp
  Source/JavaScriptCore/runtime/AsyncDisposableStackPrototype.cpp
  Source/JavaScriptCore/runtime/CommonIdentifiers.h
  Source/JavaScriptCore/runtime/JSAsyncDisposableStack.cpp
  Source/JavaScriptCore/runtime/JSAsyncDisposableStack.h
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
Labels: merge-queue, JavaScriptCore

#46167 [JSC] Fix parsing unreachable `try_table`
  JSTests/wasm/stress/parse-unreachable-try-table.js
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
Labels: merge-queue, WebAssembly

#46183 [JSC] Implement `TypedArray#reduce` / `TypedArray#reduceRight` in C++
  Source/JavaScriptCore/builtins/TypedArrayPrototype.js
  Source/JavaScriptCore/runtime/JSGenericTypedArrayViewPrototypeFunctions.h
  Source/JavaScriptCore/runtime/JSTypedArrayViewPrototype.cpp
Labels: merge-queue, JavaScriptCore

#46201 [css-anchor-position-1] Support ::before and ::after as anchor-positioned elements
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/anchor-function-pseudo-element-basic-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/anchor-function-pseudo-element-basic.html
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/Element.h
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/updating/RenderTreeUpdater.cpp
  Source/WebCore/style/AnchorPositionEvaluator.cpp
  Source/WebCore/style/AnchorPositionEvaluator.h
  Source/WebCore/style/StyleBuilderState.cpp
  Source/WebCore/style/StyleResolver.cpp
  Source/WebCore/style/StyleTreeResolver.cpp
  Source/WebCore/style/StyleTreeResolver.h
  Source/WebCore/style/Styleable.cpp
Labels: merge-queue, New Bugs

#46114 [GStreamer][WebAudio] Assert when running mdn-bcd-collector test suite
  Source/WebCore/platform/audio/gstreamer/AudioFileReaderGStreamer.cpp
Labels: merge-queue, Platform

#45744 In WebGPU when calling copyExternalImageToTexture, the results are different if called in the 'load' event vs after
  LayoutTests/fast/webgpu/regression/noise-with-gama-and-chrm-chunks.png
  LayoutTests/fast/webgpu/regression/repro_293284-addEventListener-expected.txt
  LayoutTests/fast/webgpu/regression/repro_293284-addEventListener.html
  LayoutTests/fast/webgpu/regression/repro_293284-decode-expected.txt
  LayoutTests/fast/webgpu/regression/repro_293284-decode.html
  Source/WebCore/Modules/WebGPU/GPUQueue.cpp
Labels: merge-queue, WebGPU

#46104 [WebGPU] Metal compiler crash with some calls to log()
  Source/WebGPU/WGSL/Metal/MetalFunctionWriter.cpp
Labels: WebGPU

#46169 [WebGPU] abort() called during render bundle replay path
  LayoutTests/fast/webgpu/nocrash/fuzz-293854-expected.txt
  LayoutTests/fast/webgpu/nocrash/fuzz-293854.html
  Source/WebGPU/WebGPU/RenderBundleEncoder.mm
Labels: merge-queue, WebGPU

#46155 [JSC] Fix MultiGetByVal's condition for supported arrays
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGValueRepReductionPhase.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#45976 [Skia][GTK][WPE][Win] Extract DragImageSkia
  Source/WebCore/PlatformGTK.cmake
  Source/WebCore/PlatformWPE.cmake
  Source/WebCore/PlatformWin.cmake
  Source/WebCore/SourcesGTK.txt
  Source/WebCore/platform/DragImage.cpp
  Source/WebCore/platform/DragImage.h
  Source/WebCore/platform/cairo/DragImageCairo.cpp
  Source/WebCore/platform/mediastream/libwebrtc/gstreamer/GStreamerVideoEncoderFactory.cpp
  Source/WebCore/platform/skia/DragImageSkia.cpp
  Source/WebCore/platform/win/DragImageWin.cpp
  Source/WebCore/platform/win/cairo/DragImageWinCairo.cpp
Labels: merge-queue, WebKit2

#46176 Delete WebKitSwiftOverlay.xcodeproj
  Source/WebKit/SwiftOverlay/Configurations/Base.xcconfig
  Source/WebKit/SwiftOverlay/Configurations/WebKitSwiftOverlay-maccatalyst.xcconfig
  Source/WebKit/SwiftOverlay/Configurations/WebKitSwiftOverlay.xcconfig
  Source/WebKit/SwiftOverlay/Configurations/WebKitSwiftOverlayTests-maccatalyst.xcconfig
  Source/WebKit/SwiftOverlay/Configurations/WebKitSwiftOverlayTests.xcconfig
  Source/WebKit/SwiftOverlay/SwiftOverlay/install-swiftmodules.sh
  Source/WebKit/SwiftOverlay/WebKitSwiftOverlay.xcodeproj/project.pbxproj
  Source/WebKit/SwiftOverlay/WebKitSwiftOverlay.xcodeproj/xcshareddata/xcschemes/Everything (Catalyst).xcscheme
  Source/WebKit/SwiftOverlay/WebKitSwiftOverlay.xcodeproj/xcshareddata/xcschemes/Everything.xcscheme
Labels: merge-queue, Tools / Tests

#45372 `option` element should not trim label value
  LayoutTests/TestExpectations
  LayoutTests/fast/forms/HTMLOptionElement_label03-expected.html
  LayoutTests/fast/forms/HTMLOptionElement_label03.html
  Source/WebCore/html/HTMLOptionElement.cpp
Labels: merge-queue, DOM

#46163 Reduce unsafeness in Quirks and improve code
  Source/WebCore/SaferCPPExpectations/UncheckedLocalVarsCheckerExpectations
  Source/WebCore/page/Quirks.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#46211 [UnifiedPDF][iOS] Relative scroll position is not preserved when resizing web view
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/UnifiedPDFTests.mm
Labels: unsafe-merge-queue, New Bugs

#46214 [SwiftUI] Add support for visual identification for debugging
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewInternal.h
  Source/WebKit/UIProcess/Cocoa/WebPageWebView.swift
Labels: unsafe-merge-queue, New Bugs

#46198 Drop disable lldb-webkit-test code for unsupported version of macOS
  Tools/CISupport/build-webkit-org/factories.py
Labels: merge-queue, New Bugs

#46166 Reduce unsafeness in InputType classes even more
  Source/WebCore/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncheckedLocalVarsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedLocalVarsCheckerExpectations
  Source/WebCore/html/BaseButtonInputType.cpp
  Source/WebCore/html/BaseDateAndTimeInputType.cpp
  Source/WebCore/html/DateInputType.cpp
  Source/WebCore/html/DateTimeLocalInputType.cpp
  Source/WebCore/html/FileInputType.cpp
  Source/WebCore/html/ImageInputType.cpp
  Source/WebCore/html/InputType.cpp
  Source/WebCore/html/MonthInputType.cpp
  Source/WebCore/html/NumberInputType.cpp
  Source/WebCore/html/RangeInputType.cpp
  Source/WebCore/html/SearchInputType.cpp
  Source/WebCore/html/TextFieldInputType.cpp
  Source/WebCore/html/TimeInputType.cpp
  Source/WebCore/html/WeekInputType.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#46085 [Mac] Post a notification to the GPU process before taking a snapshot of the WKWebView when moving to or from fullscreen
  Source/WTF/wtf/LoggerHelper.h
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebKit/GPUProcess/GPUProcess.h
  Source/WebKit/GPUProcess/GPUProcess.messages.in
  Source/WebKit/GPUProcess/cocoa/GPUProcessCocoa.mm
  Source/WebKit/UIProcess/Cocoa/GPUProcessProxyCocoa.mm
  Source/WebKit/UIProcess/GPU/GPUProcessProxy.h
  Source/WebKit/UIProcess/mac/WKFullScreenWindowController.mm
Labels: merge-queue, Media

#46197 Adds Quirks for converting HEIC images to JPEG on canva.com
  Source/WebCore/page/Quirks.cpp
Labels: unsafe-merge-queue, WebKit Misc.

#46227 [Page Color Sampling] Top sampled color changes after focusing search field in Confluence
  LayoutTests/fast/page-color-sampling/color-sampling-fixed-popup-expected.txt
  LayoutTests/fast/page-color-sampling/color-sampling-fixed-popup.html
  LayoutTests/fast/page-color-sampling/color-sampling-ignores-modal-popup-expected.txt
  LayoutTests/fast/page-color-sampling/color-sampling-ignores-modal-popup.html
  LayoutTests/fast/page-color-sampling/color-sampling-ignores-transparent-pointer-events-none-container-expected.txt
  LayoutTests/fast/page-color-sampling/color-sampling-ignores-transparent-pointer-events-none-container.html
  Source/WebCore/page/LocalFrameView.cpp
Labels: merge-queue, New Bugs

#46171 [Swift in WebKit] The Swift implementation of intelligence text effects code is slightly incorrect
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/mac/WKWebViewMac.mm
  Source/WebKit/WebKitSwift/WritingTools/IntelligenceTextEffectViewManager.swift
  Source/WebKit/WebKitSwift/WritingTools/PlatformIntelligenceTextEffectView.swift
  Source/WebKit/WebKitSwift/WritingTools/WKIntelligenceReplacementTextEffectCoordinator.h
  Source/WebKit/WebKitSwift/WritingTools/WKIntelligenceReplacementTextEffectCoordinator.swift
  Source/WebKit/WebKitSwift/WritingTools/WKIntelligenceSmartReplyTextEffectCoordinator.h
  Source/WebKit/WebKitSwift/WritingTools/WKIntelligenceSmartReplyTextEffectCoordinator.swift
  Source/WebKit/WebKitSwift/WritingTools/WKIntelligenceTextEffectCoordinator.h
Labels: merge-queue, WebKit Misc.

#46200 Avoid terminating service worker processes for deleting website data
  Source/WebCore/workers/service/server/SWServer.cpp
  Source/WebCore/workers/service/server/SWServer.h
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.h
Labels: merge-queue, New Bugs

#46065 FileSystemFileHandle::createWritable should throw NotFoundError if file is removed
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemDirectoryHandle-removeEntry.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemDirectoryHandle-removeEntry.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemWritableFileStream.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemWritableFileStream.https.any.worker-expected.txt
  Source/WebKit/NetworkProcess/storage/FileSystemStorageHandle.cpp
Labels: merge-queue, New Bugs

#46054 FileSystemWritableFileStream::write should throw SyntaxError if data param is missing
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemWritableFileStream-write.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/fs/FileSystemWritableFileStream-write.https.any.worker-expected.txt
  Source/WebCore/Modules/filesystemaccess/FileSystemWritableFileStream.h
  Source/WebCore/Modules/filesystemaccess/FileSystemWritableFileStreamSink.cpp
Labels: merge-queue, New Bugs

#46216 Null check m_documentLoader in FrameLoader::commitProvisionalLoad
  Source/WebCore/loader/FrameLoader.cpp
Labels: unsafe-merge-queue, Page Loading

#46050 [build.webkit.org] Add post-commit test bot for WPE legacy API
  Tools/CISupport/build-webkit-org/config.json
  Tools/CISupport/build-webkit-org/factories.py
  Tools/CISupport/build-webkit-org/factories_unittest.py
Labels: unsafe-merge-queue, New Bugs

#46203 Use CheckedPtr with NetworkProcess:networkSession()
  Source/WebKit/NetworkProcess/Downloads/cocoa/DownloadCocoa.mm
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp
Labels: merge-queue, New Bugs

#46185 Reduce unsafeness in various node collections
  Source/WebCore/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncheckedLocalVarsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedLocalVarsCheckerExpectations
  Source/WebCore/dom/ClassCollection.cpp
  Source/WebCore/dom/LiveNodeList.h
  Source/WebCore/dom/NameNodeList.cpp
  Source/WebCore/dom/NodeRareData.h
  Source/WebCore/dom/NodeRareDataInlines.h
  Source/WebCore/dom/StaticNodeList.h
  Source/WebCore/dom/TagCollection.cpp
  Source/WebCore/html/HTMLCollection.cpp
  Source/WebCore/html/HTMLCollection.h
  Source/WebCore/html/HTMLCollectionInlines.h
  Source/WebCore/html/HTMLFormControlsCollection.cpp
  Source/WebCore/html/HTMLTableRowsCollection.cpp
  Source/WebCore/html/HTMLTableRowsCollection.h
  Source/WebCore/html/LabelsNodeList.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#46245 Update safer CPP expectations
  Source/WebCore/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UnretainedCallArgsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncountedLambdaCapturesCheckerExpectations
  Source/WebKitLegacy/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
Labels: unsafe-merge-queue, WebKit Misc.

#46247 [GTK][WPE] GTlsCertificate decoder fails to decode the private key
  Source/WebKit/Shared/glib/ArgumentCodersGLib.cpp
Labels: unsafe-merge-queue, WebKitGTK

#46253 REGRESSION(GStreamer 1.26.2): Critical warnings in MediaRecorder
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
Labels: unsafe-merge-queue, Platform

#46240 AX: Import role WPTs 06/02/2025
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/contextual-roles-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/contextual-roles.html
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/contextual-roles.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/contextual-roles.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/grid-roles-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/grid-roles.html
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/grid-roles.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/grid-roles.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/list-roles-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/list-roles.html
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/list-roles.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/list-roles.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/listbox-roles-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/listbox-roles.html
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/listbox-roles.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/listbox-roles.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/menu-roles-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/menu-roles.html
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/menu-roles.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/menu-roles.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/roles.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/roles.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/tab-roles-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/tab-roles.html
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/tab-roles.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/tab-roles.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/table-roles.html
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/tree-roles-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/tree-roles.html
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/tree-roles.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/tree-roles.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/wai-aria/role/w3c-import.log
Labels: merge-queue, Accessibility

#45971 The browser.tabs.create API allows index wraparound through integer overflow
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPITabsCocoa.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPITabs.mm
  Tools/TestWebKitAPI/cocoa/WebExtensionUtilities.mm
Labels: unsafe-merge-queue, WebKit Extensions

#45775 Web Inspector: Adding Lizette to contributors.json
  metadata/contributors.json
Labels: merge-queue, Tools / Tests

#46258 [contributors.json] Add various Apple contributors (follow-up fix)
  metadata/contributors.json
Labels: Tools / Tests

#46195 [Swift in WebKit] The Swift implementation of WKRKEntity is incorrect
  Source/WebKit/ModelProcess/cocoa/ModelProcessModelPlayerProxy.h
  Source/WebKit/ModelProcess/cocoa/ModelProcessModelPlayerProxy.mm
  Source/WebKit/UIProcess/Cocoa/WebKitSwiftSoftLink.h
  Source/WebKit/UIProcess/Cocoa/WebKitSwiftSoftLink.mm
  Source/WebKit/UIProcess/ios/WKPageHostedModelView.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebKitSwift/RealityKit/WKRKEntity.h
  Source/WebKit/WebKitSwift/RealityKit/WKRKEntity.swift
  Source/WebKit/WebKitSwift/StageMode/WKStageMode.h
  Source/WebKit/WebKitSwift/StageMode/WKStageMode.swift
  Source/WebKit/WebKitSwift/WebKitSwift.h
Labels: unsafe-merge-queue, WebKit Misc.

#46261 Improve error message when detecting a duplicate in contributors.json
  Tools/Scripts/webkitpy/common/config/committers.py
Labels: New Bugs, skip-ews

#46220 [WebGPU] Implement copyBufferToBuffer overload from https://github.com/gpuweb/gpuweb/pull/5098
  Source/WebCore/Modules/WebGPU/GPUCommandEncoder.cpp
  Source/WebCore/Modules/WebGPU/GPUCommandEncoder.h
  Source/WebCore/Modules/WebGPU/GPUCommandEncoder.idl
Labels: merge-queue, WebGPU

#46256 [macOS] Safari AutoFill should not trigger text replacement
  LayoutTests/editing/input/cocoa/untrusted-text-event-does-not-trigger-text-replacement-expected.txt
  LayoutTests/editing/input/cocoa/untrusted-text-event-does-not-trigger-text-replacement.html
  LayoutTests/editing/inserting/typing-space-to-trigger-smart-link.html
  Source/WebCore/editing/Editor.cpp
  Source/WebCore/editing/Editor.h
  Source/WebCore/editing/TypingCommand.cpp
Labels: merge-queue, New Bugs

#44703 WebDriver BiDi: support cookie-related commands (storage domain)
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Sources.txt
  Source/WebKit/UIProcess/Automation/BidiStorageAgent.cpp
  Source/WebKit/UIProcess/Automation/BidiStorageAgent.h
  Source/WebKit/UIProcess/Automation/WebDriverBidiProcessor.cpp
  Source/WebKit/UIProcess/Automation/WebDriverBidiProcessor.h
  Source/WebKit/UIProcess/Automation/protocol/BidiStorage.json
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: WebDriver

#46260 [libpas] Fix the libpas tests build
  Source/bmalloc/libpas/libpas.xcodeproj/project.pbxproj
  Source/bmalloc/libpas/src/libpas/pas_segregated_shared_view.h
Labels: merge-queue, bmalloc

#46106 [Web Inspector] Display "Navigated To:" in the Web Inspector Console when accessing a website
  Source/WebInspectorUI/Localizations/en.lproj/localizedStrings.js
  Source/WebInspectorUI/UserInterface/Views/ConsoleSession.js
Labels: Web Inspector

#46248 Address remaining safer CPP warnings in DownloadManager
  Source/WebKit/NetworkProcess/Downloads/DownloadManager.cpp
  Source/WebKit/SaferCPPExpectations/UncheckedLocalVarsCheckerExpectations
Labels: merge-queue, WebKit Misc.

#46279 [Gardening]: [macOS] imported/w3c/web-platform-tests/mimesniff/media/media-sniff.window.html is a constant failure
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#46250 Reduce incorrect usage of protectedX() more
  Source/WebGPU/WebGPU/Buffer.mm
  Source/WebGPU/WebGPU/CommandEncoder.mm
  Source/WebGPU/WebGPU/RenderBundleEncoder.mm
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
  Source/WebKit/GPUProcess/media/RemoteAudioSessionProxy.cpp
  Source/WebKit/GPUProcess/webrtc/RemoteSampleBufferDisplayLayerManager.cpp
  Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/ServiceWorkerFetchTask.cpp
  Source/WebKit/Platform/cocoa/PaymentAuthorizationPresenter.h
  Source/WebKit/Platform/cocoa/WKPaymentAuthorizationDelegate.mm
  Source/WebKit/Platform/ios/PaymentAuthorizationController.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStoreCollection.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerWithRemoteRenderingBackingStore.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerWithRemoteRenderingBackingStore.mm
  Source/WebKit/UIProcess/API/APITextRun.cpp
  Source/WebKit/UIProcess/API/C/WKPage.cpp
  Source/WebKit/UIProcess/API/Cocoa/_WKInspector.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKInspectorTesting.mm
  Source/WebKit/UIProcess/BackgroundProcessResponsivenessTimer.cpp
  Source/WebKit/UIProcess/Cocoa/PlaybackSessionManagerProxy.mm
  Source/WebKit/UIProcess/Cocoa/UserMediaCaptureManagerProxy.cpp
  Source/WebKit/UIProcess/Inspector/RemoteWebInspectorUIProxy.cpp
  Source/WebKit/UIProcess/Inspector/WebInspectorUIProxy.h
  Source/WebKit/UIProcess/Inspector/WebPageInspectorController.cpp
  Source/WebKit/UIProcess/Inspector/gtk/WebInspectorUIProxyGtk.cpp
  Source/WebKit/UIProcess/Inspector/win/WebInspectorUIProxyWin.cpp
  Source/WebKit/UIProcess/SpeechRecognitionPermissionManager.cpp
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIActionCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPICommandsCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIMenusCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPITestCocoa.mm
  Source/WebKit/WebProcess/cocoa/PlaybackSessionManager.mm
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Labels: merge-queue, WebCore Misc.

#46276 [CSS Tree Counting Functions] Enable in Safari Technology Preview
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: merge-queue, CSS

#46264 AX: Rename AXCoreObject::roleValue to AXCoreObject::role as the "Value" suffix is redundant
  Source/WebCore/accessibility/AXCoreObject.cpp
  Source/WebCore/accessibility/AXCoreObject.h
  Source/WebCore/accessibility/AXLogger.cpp
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AXSearchManager.cpp
  Source/WebCore/accessibility/AXTextMarker.cpp
  Source/WebCore/accessibility/AccessibilityLabel.cpp
  Source/WebCore/accessibility/AccessibilityList.cpp
  Source/WebCore/accessibility/AccessibilityNodeObject.cpp
  Source/WebCore/accessibility/AccessibilityObject.cpp
  Source/WebCore/accessibility/AccessibilityObject.h
  Source/WebCore/accessibility/AccessibilityRenderObject.cpp
  Source/WebCore/accessibility/AccessibilitySVGObject.cpp
  Source/WebCore/accessibility/AccessibilityTable.cpp
  Source/WebCore/accessibility/AccessibilityTableCell.cpp
  Source/WebCore/accessibility/atspi/AXObjectCacheAtspi.cpp
  Source/WebCore/accessibility/atspi/AccessibilityObjectAtspi.cpp
  Source/WebCore/accessibility/atspi/AccessibilityObjectTextAtspi.cpp
  Source/WebCore/accessibility/cocoa/AXCoreObjectCocoa.mm
  Source/WebCore/accessibility/ios/AccessibilityObjectIOS.mm
  Source/WebCore/accessibility/ios/WebAccessibilityObjectWrapperIOS.mm
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.cpp
  Source/WebCore/accessibility/mac/AccessibilityObjectMac.mm
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperBase.mm
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperMac.mm
Labels: merge-queue, Accessibility

#45794 Refactor LegacyWebArchive::create functions to take options parameter
  Source/WebCore/loader/archive/cf/LegacyWebArchive.cpp
  Source/WebCore/loader/archive/cf/LegacyWebArchive.h
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Source/WebKitLegacy/mac/DOM/WebDOMOperations.mm
  Source/WebKitLegacy/mac/WebView/WebHTMLView.mm
Labels: merge-queue, New Bugs

#46266 REGRESSION(295633@main-295637@main): Broke TestWebKitAPI.ActionSheetTests.DataDetectorsLinkIsNotPresentedAsALink
  Source/WebKit/UIProcess/ios/WKActionSheetAssistant.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
Labels: merge-queue, WebKit Misc.

#46241 Add Web Inspector description and auto-completion for dynamic-range-limit
  Source/WebInspectorUI/UserInterface/External/CSSDocumentation/CSSDocumentation-overrides.json
  Source/WebInspectorUI/UserInterface/External/CSSDocumentation/CSSDocumentation.js
  Source/WebInspectorUI/UserInterface/Models/CSSKeywordCompletions.js
Labels: merge-queue, Web Inspector

#46162 [Swift in WebKit] Fix Swift 6 concurrency issues in WKPreviewWindowController
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
  Source/WebKit/WebKitSwift/Preview/WKPreviewWindowController.h
  Source/WebKit/WebKitSwift/Preview/WKPreviewWindowController.swift
Labels: merge-queue, WebKit Misc.

#46271 Web Automation: convert Automation.closeBrowsingContext to be async
  Source/WebKit/UIProcess/Automation/Automation.json
  Source/WebKit/UIProcess/Automation/BidiBrowsingContextAgent.cpp
  Source/WebKit/UIProcess/Automation/WebAutomationSession.cpp
  Source/WebKit/UIProcess/Automation/WebAutomationSession.h
Labels: WebDriver

#46237 Sync `html/semantics/embedded-content/the-img-element` from WPT upstream
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/animated-image-update-ref.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/animated-image-update.tentative-expected.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/animated-image-update.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/decode/image-decode-path-changes-svg.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/decode/image-decode-with-quick-attach-svg.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/naturalWidth-naturalHeight-width-height.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/naturalWidth-naturalHeight-width-height.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/resources/animated.gif
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/resources/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-img-element/w3c-import.log
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: WebCore Misc.

#46235 [Safe CPP] Address Warnings in RenderFrame and HTMLFrameElement
  Source/WebCore/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncheckedLocalVarsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedLocalVarsCheckerExpectations
  Source/WebCore/html/HTMLFrameElement.cpp
  Source/WebCore/rendering/RenderFrame.cpp
Labels: merge-queue, WebCore Misc.

#46272 [Model Element] Update entity load method call
  Source/WebKit/WebKitSwift/RealityKit/WKRKEntity.swift
Labels: merge-queue, WebKit Misc.

#46014 [WebDriver] Driver segfault when a pointer move or scroll action is missing a coordinate
  Source/WebDriver/Session.cpp
  Source/WebDriver/WebDriverService.cpp
Labels: merge-queue, WebDriver

#46137 Sync dom/events/scrolling from WPT upstream
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/WEB_FEATURES.yml
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/overscroll-deltas-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/overscroll-deltas.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/overscroll-event-fired-to-document-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/overscroll-event-fired-to-document.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/overscroll-event-fired-to-element-with-overscroll-behavior-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/overscroll-event-fired-to-element-with-overscroll-behavior.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/overscroll-event-fired-to-scrolled-element-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/overscroll-event-fired-to-scrolled-element.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/overscroll-event-fired-to-window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/overscroll-event-fired-to-window.tentative.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/scroll-cross-origin-iframes-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/scroll-cross-origin-iframes.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/scroll-cross-origin-iframes.sub.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/scroll_support.js
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/scrollend-event-fired-for-programmatic-scroll-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/scrollend-event-fired-for-programmatic-scroll.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/scrollend-event-fired-for-scroll-attr-change.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/scrollend-event-fired-for-scrollIntoView-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/scrollend-event-fired-for-scrollIntoView.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/scrollend-event-fired-to-window.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/scrollend-event-fires-on-visual-viewport.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/scrollend-event-fires-to-iframe-inner-frame.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/scrollend-event-fires-to-iframe-window.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/scrollend-event-for-user-scroll.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/scrollend-event-not-fired-on-no-scroll.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/scrollend-fires-to-text-input.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/scrollend-user-scroll-common.js
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/scrollend-with-snap-on-fractional-offset.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/wheel-event-transactions-basic.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/wheel-event-transactions-basic_include=scroll-over-scrollable-child-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/wheel-event-transactions-basic_include=target-basic-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/wheel-event-transactions-multiple-action-chains-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/wheel-event-transactions-multiple-action-chains.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/wheel-event-transactions-target-display-change.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/wheel-event-transactions-target-display-change_include=contents-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/wheel-event-transactions-target-display-change_include=none-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/wheel-event-transactions-target-elements-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/wheel-event-transactions-target-elements.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/wheel-event-transactions-target-move-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/wheel-event-transactions-target-move.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/wheel-event-transactions-target-removal-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/wheel-event-transactions-target-removal.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/wheel-event-transactions-target-resize.html
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/wheel-event-transactions-target-resize_include=passive-false-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/dom/events/scrolling/wheel-event-transactions-target-resize_include=passive-true-expected.txt
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  LayoutTests/tests-options.json
Labels: merge-queue, Tools / Tests

#46263 Revert "[Safe CPP] Address Warnings in RenderTableCol.cpp"
  Source/WTF/wtf/CheckedPtr.h
  Source/WebCore/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncheckedLocalVarsCheckerExpectations
  Source/WebCore/rendering/AutoTableLayout.cpp
  Source/WebCore/rendering/FixedTableLayout.cpp
  Source/WebCore/rendering/RenderBlockFlow.cpp
  Source/WebCore/rendering/RenderElement.h
  Source/WebCore/rendering/RenderTable.cpp
  Source/WebCore/rendering/RenderTable.h
  Source/WebCore/rendering/RenderTableCell.cpp
  Source/WebCore/rendering/RenderTableCol.cpp
  Source/WebCore/rendering/RenderTableCol.h
  Source/WebCore/rendering/RenderTableSection.cpp
Labels: merge-queue, New Bugs

#46291 tabs.sendMessage() also sends the message to the tab's opener.
  Source/WebKit/Shared/Extensions/WebExtensionMessageTargetParameters.h
  Source/WebKit/Shared/Extensions/WebExtensionMessageTargetParameters.serialization.in
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPITabsCocoa.mm
  Source/WebKit/WebProcess/Extensions/API/Cocoa/WebExtensionAPIRuntimeCocoa.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIRuntime.mm
  Tools/TestWebKitAPI/cocoa/WebExtensionUtilities.h
Labels: unsafe-merge-queue, WebKit Extensions

#46009 REGRESSION(295342@main): [iOS] imported/w3c/web-platform-tests/css/cssom/stylesheet-same-origin.sub.html is constant failure (flaky failure in EWS)
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/stylesheet-same-origin.sub-expected.txt
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/cssom/stylesheet-same-origin.sub-expected.txt
  LayoutTests/platform/ios/TestExpectations
Labels: merge-queue

#46281 Sync `html/browsers/browsing-the-web/unloading-documents` from WPT upstream
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/unloading-documents/001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/unloading-documents/002-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/unloading-documents/beforeunload-canceling-1.html
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/unloading-documents/beforeunload-canceling-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/unloading-documents/beforeunload-canceling.html
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/unloading-documents/prompt/004-1.html
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/unloading-documents/support/001-1.html
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/unloading-documents/support/002-1.html
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/unloading-documents/support/002a.html
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/unloading-documents/unload/unload-main-frame-cross-origin.window.js
  LayoutTests/imported/w3c/web-platform-tests/html/browsers/browsing-the-web/unloading-documents/unload/unload-main-frame-same-origin.window.js
Labels: WebCore Misc.

#46290 MediaRecorder's MediaRecorderPrivateWriterWebM can still be instantiated in the GPUP process from CoreIPC
  Source/WebCore/platform/MediaStrategy.cpp
  Source/WebCore/platform/MediaStrategy.h
  Source/WebCore/platform/mediarecorder/MediaRecorderPrivateWriter.cpp
  Source/WebCore/platform/mediarecorder/MediaRecorderPrivateWriter.h
  Source/WebKit/GPUProcess/media/RemoteMediaRecorderPrivateWriterManager.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaRecorderPrivateWriterManager.h
  Source/WebKit/GPUProcess/media/RemoteMediaRecorderPrivateWriterManager.messages.in
  Source/WebKit/WebProcess/GPU/media/RemoteMediaRecorderPrivateWriter.cpp
  Source/WebKit/WebProcess/GPU/media/RemoteMediaRecorderPrivateWriter.h
  Source/WebKit/WebProcess/GPU/media/WebMediaStrategy.cpp
  Source/WebKit/WebProcess/GPU/media/WebMediaStrategy.h
Labels: Media

#46305 Video element with WebM Object URLs causes MediaError code 2
  LayoutTests/media/media-vp8-webm-with-blob-expected.txt
  LayoutTests/media/media-vp8-webm-with-blob.html
  LayoutTests/platform/mac-wk1/TestExpectations
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.h
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.mm
Labels: merge-queue, Media

#45875 [WebDriver][BiDi] Implement the browsingContext.getTree method
  Source/JavaScriptCore/inspector/scripts/codegen/generate_cpp_protocol_types_header.py
  Source/JavaScriptCore/inspector/scripts/codegen/models.py
  Source/JavaScriptCore/inspector/scripts/tests/expected/type-declaration-object-type.json-result
  Source/JavaScriptCore/inspector/scripts/tests/type-declaration-object-type.json
  Source/WebKit/UIProcess/Automation/BidiBrowsingContextAgent.cpp
  Source/WebKit/UIProcess/Automation/BidiBrowsingContextAgent.h
  Source/WebKit/UIProcess/Automation/WebAutomationSession.h
  Source/WebKit/UIProcess/Automation/protocol/BidiBrowsingContext.json
  WebDriverTests/TestExpectations.json
Labels: merge-queue, WebDriver

#46243 ANGLE: Typo in valdiatePixmap
  Source/ThirdParty/ANGLE/src/libANGLE/Display.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/Display.h
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/DisplayImpl.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/TextureMtl.h
  Source/ThirdParty/ANGLE/src/libANGLE/renderer/vulkan/vk_format_utils.cpp
  Source/ThirdParty/ANGLE/src/libANGLE/validationEGL.cpp
Labels: merge-queue, ANGLE

#46299 [Safe CPP] Address Warnings in WritableStream
  Source/WebCore/Modules/streams/WritableStream.h
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
Labels: merge-queue, WebCore Misc.

#45225 AX: Fix permitted values for aria-setsize, aria-posinset (both >= 1) and specify fallbacks
  LayoutTests/accessibility/aria-setsize-posinset-expected.txt
  LayoutTests/accessibility/aria-setsize-posinset.html
  Source/WebCore/accessibility/AccessibilityObject.cpp
Labels: merge-queue, Accessibility

#46296 [Safe CPP] Address Warnings in ReadableStreams
  Source/WebCore/Modules/streams/ReadableStream.h
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
Labels: merge-queue, WebCore Misc.

#46301 [Safe CPP] Address Warnings in Quad.h
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/css/CSSPropertyInitialValues.cpp
  Source/WebCore/css/RectBase.h
Labels: merge-queue, WebCore Misc.

#46023 Don't use CSSParserFastPaths to parse declarations inside at-rules
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/at-position-try-cssom-expected.txt
  Source/WebCore/css/parser/CSSParserFastPaths.cpp
Labels: CSS

#46302 [Swift in WebKit] The Swift implementation of intelligence text effects code is slightly incorrect (follow-up)
  Source/WebKit/WebKitSwift/WritingTools/WKIntelligenceSmartReplyTextEffectCoordinator.swift
Labels: merge-queue, WebKit Misc.

#46232 [Safe CPP] Address Warnings in RenderSlider
  Source/WebCore/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncheckedLocalVarsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedLocalVarsCheckerExpectations
  Source/WebCore/rendering/RenderSlider.cpp
  Source/WebCore/rendering/RenderSlider.h
Labels: WebCore Misc.

#46318 Import the latest Integrity-Policy tests
  LayoutTests/imported/w3c/web-platform-tests/subresource-integrity/integrity-policy/script.https.html
Labels: merge-queue, New Bugs

#46288 StructureTransitionStructureStubClearingWatchpoint and AdaptiveValueStructureStubClearingWatchpoint should hold an owner PolymorphicAccessJITStub and check if their owner is destroyed
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.cpp
  Source/JavaScriptCore/bytecode/StructureStubClearingWatchpoint.cpp
  Source/JavaScriptCore/bytecode/StructureStubClearingWatchpoint.h
  Source/JavaScriptCore/jit/GCAwareJITStubRoutine.cpp
  Source/JavaScriptCore/jit/GCAwareJITStubRoutine.h
  Source/JavaScriptCore/jit/PolymorphicCallStubRoutine.cpp
Labels: unsafe-merge-queue

#46212 Add setting to enable debug features in sandbox
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebKit/Shared/Sandbox/common.sb
Labels: unsafe-merge-queue, WebKit Process Model

#46269 REGRESSION(281090@main): Grid layout can be slow on pages with deeply nested grid and subgrid content.
  PerformanceTests/Layout/grid-with-nested-grid-and-subgrid-columns.html
  Source/WebCore/rendering/RenderGrid.cpp
Labels: merge-queue, Layout and Rendering

#46270 [JSC] Implement TypedArray#map / TypedArray#filter in C++
  Source/JavaScriptCore/builtins/BuiltinNames.h
  Source/JavaScriptCore/builtins/TypedArrayPrototype.js
  Source/JavaScriptCore/bytecode/LinkTimeConstant.h
  Source/JavaScriptCore/runtime/JSGenericTypedArrayViewPrototypeFunctions.h
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSTypedArrayViewPrototype.cpp
  Source/JavaScriptCore/runtime/JSTypedArrayViewPrototype.h
Labels: unsafe-merge-queue, JavaScriptCore

#46118 Rename `-prepareResouceMonitorRulesForStore:` to `-prepareResourceMonitorRulesForStore:`
  Source/WebCore/PAL/pal/spi/cocoa/WebPrivacySPI.h
  Source/WebKit/Platform/cocoa/WebPrivacyHelpers.mm
Labels: merge-queue, New Bugs

#46255 Address uncounted lambda captures in WebResourceLoadStatisticsStore
  Source/WebKit/NetworkProcess/Classifier/WebResourceLoadStatisticsStore.cpp
  Source/WebKit/NetworkProcess/Classifier/WebResourceLoadStatisticsStore.h
  Source/WebKit/SaferCPPExpectations/UncountedLambdaCapturesCheckerExpectations
Labels: merge-queue, WebKit Misc.

#46312 SWServer::registerServiceWorkerClient needs to call unregisterServiceWorkerClientInternal with the older id
  Source/WebCore/workers/service/server/SWServer.cpp
Labels: merge-queue, Service Workers

#46323 Update style script to mention m_foo as other alternative to protectedFoo()
  Tools/Scripts/webkitpy/style/checkers/cpp.py
  Tools/Scripts/webkitpy/style/checkers/cpp_unittest.py
Labels: unsafe-merge-queue, WebCore Misc.

#46345 ComplexTextController: Make CheckedRef members const
  Source/WebCore/platform/graphics/ComplexTextController.h
Labels: merge-queue, Text

#45907 [Fix] Clicking on the CSS resize handle doesn't trigger mouse down
  LayoutTests/fast/events/mouse-events-on-textarea-resize-expected.txt
  LayoutTests/fast/events/mouse_resizer_mousedown-expected.txt
  LayoutTests/fast/events/mouse_resizer_mousedown.html
  LayoutTests/platform/ios/TestExpectations
  Source/WebCore/page/EventHandler.cpp
Labels: unsafe-merge-queue, DOM

#45889 Add Test Case coverage for `dirty min/max on certain children` for inline and block layouts
  LayoutTests/fast/css-intrinsic-dimensions/fixed-height-stf-img-block-child-percent-height-expected.txt
  LayoutTests/fast/css-intrinsic-dimensions/fixed-height-stf-img-block-child-percent-height.html
  LayoutTests/fast/css-intrinsic-dimensions/fixed-height-stf-img-inline-child-percent-height-expected.txt
  LayoutTests/fast/css-intrinsic-dimensions/fixed-height-stf-img-inline-child-percent-height.html
Labels: merge-queue, Layout and Rendering

#46337 Generated methods in WebKitLogClientDeclarations.h/WebCoreLogClientDeclarations.h should not be marked virtual
  Source/WebKit/Scripts/generate-derived-log-sources.py
  Source/WebKit/Shared/LogStream.h
Labels: unsafe-merge-queue, New Bugs

#46354 [Gardening]: [macOS] platform/mac/fast/text/line-break-locale.html is constant failure
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#46018 [web-animations] `ASAN_ILL` in `AnimationEffectTiming::getBasicTiming()`
  LayoutTests/webanimations/asan-crash-in-animation-effect-timing-get-computed-timing-expected.txt
  LayoutTests/webanimations/asan-crash-in-animation-effect-timing-get-computed-timing.html
Labels: merge-queue, Animations

#46297 Use more C++ Concepts in WebCore
  Source/WebCore/dom/ScriptExecutionContext.h
  Source/WebCore/platform/graphics/ColorTypes.h
  Source/WebCore/svg/properties/SVGPropertyOwnerRegistry.h
Labels: merge-queue, WebCore Misc.

#46347 SystemFallbackFontCache.cpp: Avoid local unchecked pointer
  Source/WebCore/SaferCPPExpectations/UncheckedLocalVarsCheckerExpectations
  Source/WebCore/platform/graphics/SystemFallbackFontCache.cpp
Labels: merge-queue, Text

#46262 Fix repaint artifacts for animated SVG images with srcset descriptors
  LayoutTests/svg/repaint/image-srcset-transform-animation-expected.html
  LayoutTests/svg/repaint/image-srcset-transform-animation-zoom-expected.html
  LayoutTests/svg/repaint/image-srcset-transform-animation-zoom.html
  LayoutTests/svg/repaint/image-srcset-transform-animation.html
  LayoutTests/svg/resources/square-translate.svg
  Source/WebCore/rendering/RenderImage.cpp
Labels: SVG

#46303 Incorrect "extension" of CSS gradient with "longer hue" interpolation into regions beyond the first/last color stop
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-images/gradient/gradient-single-stop-longer-hue-hsl-002.html
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/platform/graphics/cg/GradientRendererCG.cpp
  Source/WebCore/platform/graphics/cg/GradientRendererCG.h
Labels: merge-queue, Layout and Rendering

#46360 Fix out-of-bounds array access for RewriteStructSamplers in ANGLE
  Source/ThirdParty/ANGLE/src/compiler/translator/tree_ops/RewriteStructSamplers.cpp
  Source/ThirdParty/ANGLE/src/tests/gl_tests/GLSLTest.cpp
Labels: WebGL

#46326 Address unchecked variable CPP warnings in WebResourceLoadStatisticsStore
  Source/WebKit/NetworkProcess/Classifier/WebResourceLoadStatisticsStore.cpp
  Source/WebKit/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncheckedLocalVarsCheckerExpectations
Labels: merge-queue, WebKit Misc.

#46363 [css-anchor-position-1] Support implicit anchor element for pseudo-elements with anchor functions
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/anchor-function-pseudo-element-implicit-anchor-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/anchor-function-pseudo-element-implicit-anchor.html
  LayoutTests/imported/w3c/web-platform-tests/html/dom/elements/global-attributes/the-anchor-attribute-003.tentative-expected.txt
  Source/WebCore/style/AnchorPositionEvaluator.cpp
Labels: merge-queue, CSS

#46358 ExpressionInfo should be retained with a unique_ptr rather than a MallocPtr.
  Source/JavaScriptCore/bytecode/ExpressionInfo.cpp
  Source/JavaScriptCore/bytecode/ExpressionInfo.h
  Source/JavaScriptCore/bytecode/UnlinkedCodeBlock.h
  Source/JavaScriptCore/runtime/CachedTypes.cpp
  Source/WTF/wtf/MallocPtr.h
Labels: merge-queue, JavaScriptCore

#46334 Introduce ignore-following-rules action type in WebKit Content Blockers
  Source/WebCore/contentextensions/ContentExtensionActions.h
  Source/WebCore/contentextensions/ContentExtensionCompiler.cpp
  Source/WebCore/contentextensions/ContentExtensionParser.cpp
  Source/WebCore/contentextensions/ContentExtensionsBackend.cpp
  Tools/TestWebKitAPI/Tests/WebCore/ContentExtensions.cpp
Labels: unsafe-merge-queue, WebKit Extensions

#46356 AX: Make various accessibility smart pointer member variables const to help prove memory safety to the safer-CPP static analysis tool
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/accessibility/AXGeometryManager.h
  Source/WebCore/accessibility/AXObjectCache.h
  Source/WebCore/accessibility/AccessibilityMenuList.h
  Source/WebCore/accessibility/AccessibilityObject.h
  Source/WebCore/accessibility/AccessibilitySVGObject.h
  Source/WebCore/accessibility/AccessibilityScrollbar.h
  Source/WebCore/accessibility/AccessibilitySpinButton.h
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.h
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.h
Labels: merge-queue, Accessibility

#46304 [Swift in WebKit] Fix concurrency issues in WKRKEntity
  Source/WebKit/WebKitSwift/RealityKit/WKRKEntity.h
  Source/WebKit/WebKitSwift/RealityKit/WKRKEntity.swift
Labels: WebKit Misc.

#46366 ANGLE: update dependency third_party/zlib to e8ff3f35551275330696606d7fef3a2a0f73a831
  Source/ThirdParty/ANGLE/third_party/zlib/google/compression_utils_portable.cc
  Source/ThirdParty/ANGLE/third_party/zlib/google/compression_utils_portable.h
Labels: New Bugs

#46359 Add more logging to MediaSessionHelperIOS::providePresentingApplicationPID
  Source/WebCore/platform/audio/ios/MediaSessionHelperIOS.mm
Labels: merge-queue, Media

#46371 [Safe CPP] Address Warnings in RenderTableSectionInlines
  Source/WebCore/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebCore/rendering/RenderTableSectionInlines.h
Labels: merge-queue, WebCore Misc.

#46355 AX: Avoid unnecessary main-thread hits when webpage is visible and active but hasn't yet been focused into
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Labels: merge-queue, Accessibility

#46381 Fix the builds with recent SDK
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.mm
Labels: unsafe-merge-queue, New Bugs

#46078 heap-use-after-free | WebCore::CanvasBase::setImageBuffer; WebCore::HTMLCanvasElement::createImageBuffer; WebCore::CanvasBase::buffer
  LayoutTests/fast/mediastream/canvas-capture-stream-crash-expected.txt
  LayoutTests/fast/mediastream/canvas-capture-stream-crash.html
  Source/WebCore/Modules/mediastream/CanvasCaptureMediaStreamTrack.cpp
Labels: Canvas

#46340 Restrict web extension IPC messages with more validation checks.
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/Shared/Extensions/WebExtensionContextParameters.h
  Source/WebKit/Shared/Extensions/WebExtensionContextParameters.serialization.in
  Source/WebKit/UIProcess/Extensions/API/WebExtensionContextAPIStorage.cpp
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIActionCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIAlarmsCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPICommandsCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPICookiesCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIDeclarativeNetRequestCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIMenusCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIScriptingCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPISidebarCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIWebNavigationCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionControllerCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.cpp
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.messages.in
  Source/WebKit/UIProcess/Extensions/WebExtensionController.cpp
  Source/WebKit/UIProcess/Extensions/WebExtensionController.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/WebProcess/Extensions/Cocoa/WebExtensionContextProxyCocoa.mm
  Source/WebKit/WebProcess/Extensions/WebExtensionContextProxy.h
  Source/WebKit/WebProcess/Extensions/WebExtensionControllerProxy.cpp
Labels: unsafe-merge-queue, WebKit Extensions

#46221 Determining that a character is Arabic may be wrong
  Source/WTF/wtf/URLHelpers.cpp
  Tools/TestWebKitAPI/Tests/WTF/cocoa/URLExtras.mm
Labels: unsafe-merge-queue, WebKit Misc.

#46382 [JSC] Check overflow of escaped string length in FastStringifier
  JSTests/stress/fast-stringifier-check-string-length.js
  Source/JavaScriptCore/runtime/JSONObject.cpp
Labels: unsafe-merge-queue

#46389 (New-test)TestWebKitAPI.WKWebExtensionAPITabs.CreateTabsOverflowIndex is a constant failure
  Tools/TestWebKitAPI/cocoa/WebExtensionUtilities.mm
Labels: unsafe-merge-queue, WebKit Extensions

#46372 WebKit::WebPageProxy::willSubmitForm() does not call completionHandler() in early return
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: unsafe-merge-queue, New Bugs

#46387 Update intl tests with newer ICU
  JSTests/stress/bigint-toLocaleString.js
  JSTests/stress/intl-datetimeformat.js
  JSTests/stress/intl-displaynames-v2.js
  JSTests/stress/intl-displaynames.js
  JSTests/stress/intl-locale-exceptions.js
  JSTests/stress/intl-long-locale-id-maximize-minimize.js
  JSTests/stress/intl-numberformat-unified.js
  JSTests/stress/number-toLocaleString.js
Labels: unsafe-merge-queue, JavaScriptCore

#45787 [HDR] Avoid colorSpace transformation and double caching when sharing an image with GPUProcess
  LayoutTests/fast/images/hdr-background-image.html
  LayoutTests/fast/images/hdr-basic-image-dynamic-range-limit.html
  LayoutTests/fast/images/hdr-basic-image.html
  LayoutTests/fast/images/hdr-border-image.html
  LayoutTests/fast/images/hdr-image-layer-sdr-dynamic-range-limit.html
  LayoutTests/fast/images/hdr-pseudo-before-image.html
  LayoutTests/fast/images/hdr-svg-inline-image.html
  LayoutTests/platform/ios/compositing/hdr/hdr-basic-image-dynamic-range-limit-expected.txt
  LayoutTests/platform/mac-wk2/compositing/hdr/hdr-basic-image-dynamic-range-limit-expected.txt
  Source/WebCore/platform/graphics/DestinationColorSpace.cpp
  Source/WebCore/platform/graphics/DestinationColorSpace.h
  Source/WebCore/platform/graphics/ShareableBitmap.cpp
  Source/WebCore/platform/graphics/ShareableBitmap.h
  Source/WebCore/platform/graphics/cg/GraphicsContextCG.cpp
  Source/WebCore/platform/graphics/cg/NativeImageCG.cpp
  Source/WebCore/platform/graphics/cg/ShareableBitmapCG.mm
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/WebProcess/GPU/graphics/RemoteResourceCacheProxy.cpp
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemote.mm
Labels: merge-queue, Images

#46377 [Single Tab mode] Safari UI flickers when scrolling with color-extension on the bottom edge
  LayoutTests/fast/page-color-sampling/color-sampling-includes-sides-that-had-insets-expected.txt
  LayoutTests/fast/page-color-sampling/color-sampling-includes-sides-that-had-insets.html
  Source/WebCore/platform/FixedContainerEdges.cpp
  Source/WebCore/platform/FixedContainerEdges.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewInternal.h
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/UIProcess/Cocoa/WKColorExtensionView.h
  Source/WebKit/UIProcess/Cocoa/WKColorExtensionView.mm
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
Labels: merge-queue, New Bugs

#46379 Js/Wasm engine produce an invalid ref.cast runtime fail for func.ref types in hot functions.
  JSTests/wasm/stress/resources/wasm-gc-ref-cast.wasm
  JSTests/wasm/stress/resources/wasm-gc-ref-cast.wat
  JSTests/wasm/stress/wasm-gc-ref-cast.mjs
  Source/JavaScriptCore/wasm/WasmFormat.h
  Source/JavaScriptCore/wasm/WasmOMGIRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmOMGIRGenerator32_64.cpp
Labels: unsafe-merge-queue, WebAssembly

#46322 Unify access to log streaming service in sandboxes
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.GPU.sb.in
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.Networking.sb.in
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/Shared/Sandbox/common.sb
Labels: unsafe-merge-queue, WebKit Process Model

#46401 Unreviewed, fix test262 failure
  Source/JavaScriptCore/runtime/JSGenericTypedArrayViewPrototypeFunctions.h
Labels: unsafe-merge-queue, JavaScriptCore

#46325 [Buildstream SDK] Add GStreamer patches scheduled for 1.26.3
  Tools/Scripts/bst-wrapper
  Tools/buildstream/elements/freedesktop-sdk.bst
  Tools/buildstream/patches/fdo-0010-Include-GStreamer-patches-scheduled-for-1.26.3.patch
Labels: unsafe-merge-queue, Tools / Tests

#46370 Sync `common` from WPT upstream
  LayoutTests/imported/w3c/web-platform-tests/WebIDL/ecmascript-binding/allow-resizable-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/common/META.yml
  LayoutTests/imported/w3c/web-platform-tests/common/__init__.py
  LayoutTests/imported/w3c/web-platform-tests/common/custom-cors-response.js
  LayoutTests/imported/w3c/web-platform-tests/common/dispatcher/README.md
  LayoutTests/imported/w3c/web-platform-tests/common/dispatcher/remote-executor-worker.js
  LayoutTests/imported/w3c/web-platform-tests/common/dispatcher/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/common/dummy.json
  LayoutTests/imported/w3c/web-platform-tests/common/object-association.js
  LayoutTests/imported/w3c/web-platform-tests/common/proxy-all.sub.pac
  LayoutTests/imported/w3c/web-platform-tests/common/redirect.py
  LayoutTests/imported/w3c/web-platform-tests/common/refresh.py
  LayoutTests/imported/w3c/web-platform-tests/common/sab.js
  LayoutTests/imported/w3c/web-platform-tests/common/security-features/__init__.py
  LayoutTests/imported/w3c/web-platform-tests/common/security-features/resources/common.sub.js
  LayoutTests/imported/w3c/web-platform-tests/common/security-features/scope/__init__.py
  LayoutTests/imported/w3c/web-platform-tests/common/security-features/scope/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/common/security-features/subresource/static-import.py
  LayoutTests/imported/w3c/web-platform-tests/common/security-features/subresource/video.py
  LayoutTests/imported/w3c/web-platform-tests/common/security-features/tools/generate.py
  LayoutTests/imported/w3c/web-platform-tests/common/security-features/tools/spec_validator.py
  LayoutTests/imported/w3c/web-platform-tests/common/security-features/tools/util.py
  LayoutTests/imported/w3c/web-platform-tests/common/security-features/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/common/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/registries/per-global-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/system-state-and-capabilities/the-navigator-object/per-global.window-expected.txt
Labels: merge-queue, Tools / Tests

#46187 [WPE] WPE Platform: Focus toplevel view on interaction
  Source/WebKit/UIProcess/API/wpe/WPEWebViewPlatform.cpp
Labels: unsafe-merge-queue, WPE WebKit

#46415 [css-anchor-position-1] Support implicit anchor element for pseudo-elements with position-area
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/position-area-pseudo-element-implicit-anchor-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/position-area-pseudo-element-implicit-anchor.html
  Source/WebCore/rendering/PositionedLayoutConstraints.cpp
  Source/WebCore/rendering/RenderElement.cpp
  Source/WebCore/rendering/RenderElement.h
  Source/WebCore/style/AnchorPositionEvaluator.cpp
  Source/WebCore/style/AnchorPositionEvaluator.h
  Source/WebCore/style/StyleTreeResolver.cpp
Labels: CSS

#46313 REGRESSION(GStreamer 1.26.2): Critical warnings in MediaRecorder
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
  Source/WebCore/platform/graphics/gstreamer/GRefPtrGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/GRefPtrGStreamer.h
  Source/WebCore/platform/mediarecorder/MediaRecorderPrivateGStreamer.cpp
  Source/WebCore/platform/mediarecorder/MediaRecorderPrivateGStreamer.h
Labels: Platform

#46384 [JSC] Extend JSOnlyStringsJoiner with Int32
  JSTests/stress/array-join-string-and-int32.js
  Source/JavaScriptCore/runtime/ArrayPrototype.cpp
  Source/JavaScriptCore/runtime/JSStringJoiner.cpp
  Source/JavaScriptCore/runtime/JSStringJoiner.h
Labels: unsafe-merge-queue, JavaScriptCore

#46280 Replace hard coded @"NSErrorFailingURLKey" in favor of the framework NSURLErrorFailingURLErrorKey symbol
  Source/WebCore/platform/network/mac/ResourceErrorMac.mm
  Source/WebKit/Shared/Cocoa/WebErrorsCocoa.mm
  Source/WebKitLegacy/mac/Misc/WebKitErrors.m
  Tools/DumpRenderTree/mac/ResourceLoadDelegate.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/LoadAlternateHTMLString.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/LoadInvalidURLRequest.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/Navigation.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SafeBrowsing.mm
  Tools/TestWebKitAPI/Tests/mac/LoadInvalidURLRequest.mm
Labels: unsafe-merge-queue, New Bugs

#46357 outlook.com: iPadOS: Have to tap twice to change text highlight / color when composing an email (overeager content change observer)
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/QuirksData.h
Labels: WebKit Misc.

#46378 [Text-Wrap][Balance][Pretty] Ignore out-of-flow elements when computing line constraints.
  LayoutTests/fast/css3-text/css3-text-wrap/text-wrap-balance-with-absolute-positioned-element-expected.html
  LayoutTests/fast/css3-text/css3-text-wrap/text-wrap-balance-with-absolute-positioned-element.html
  Source/WebCore/layout/formattingContexts/inline/InlineContentConstrainer.cpp
Labels: merge-queue, Layout and Rendering

#46434 [Gardening] REGRESSION(295356@main): [ iOS ] 2 accessibility/*.html tests are constant failures.
  LayoutTests/platform/ios/TestExpectations
Labels: Accessibility

#45450 Delete unused NSFontSPI.h: No longer used
  Source/WebCore/PAL/PAL.xcodeproj/project.pbxproj
  Source/WebCore/PAL/pal/PlatformMac.cmake
  Source/WebCore/PAL/pal/spi/mac/NSFontSPI.h
Labels: merge-queue, Text

#46418 Reduce unsafeness by adopting more smart pointers in WebCore
  Source/WebCore/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncheckedLocalVarsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedLocalVarsCheckerExpectations
  Source/WebCore/dom/BroadcastChannel.cpp
  Source/WebCore/dom/FragmentDirectiveGenerator.cpp
  Source/WebCore/dom/FragmentDirectiveRangeFinder.cpp
  Source/WebCore/html/CustomPaintImage.cpp
  Source/WebCore/html/HTMLAnchorElement.cpp
  Source/WebCore/html/HTMLFrameElementBase.cpp
  Source/WebCore/html/canvas/GPUCanvasContextCocoa.mm
  Source/WebCore/page/DOMWindow.cpp
  Source/WebCore/page/EventSource.cpp
  Source/WebCore/plugins/DOMPluginArray.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#46388 [visionOS] requestFullscreen() may show the wrong panoramic image
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.cpp
Labels: merge-queue, Images

#46394 ASAN_TRAP | WTF::HashTable::lookup; WebCore::LegacyRenderSVGResource::markForLayoutAndParentResourceInvalidation; WebCore::SVGResourcesCache::clientStyleChanged
  LayoutTests/css3/masking/shared-clip-path-reference-crash-expected.txt
  LayoutTests/css3/masking/shared-clip-path-reference-crash.html
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/RenderLayer.h
  Source/WebCore/rendering/svg/legacy/LegacyRenderSVGResourceContainer.cpp
Labels: unsafe-merge-queue, SVG

#46435 Silence sandbox violations in the WebContent process
  Source/WebKit/WebProcess/com.apple.WebProcess.sb.in
Labels: unsafe-merge-queue, WebKit Process Model

#46417 Disable nw-based monitoring of interface by default
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.exp
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.h
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCMonitor.cpp
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCMonitor.h
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCProvider.cpp
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCProvider.h
Labels: merge-queue, WebRTC

#46421 [JSC] Prevent SEGV triggered by exceptions from `Wasm::Global::get`
  JSTests/wasm/stress/exnref-global-get-segv.js
  Source/JavaScriptCore/wasm/js/WebAssemblyModuleRecord.cpp
Labels: JavaScriptCore

#46449 Move additional bots to macOS-Sequoia-Debug-WK2-Tests-EWS
  Tools/CISupport/ews-build/config.json
Labels: unsafe-merge-queue, New Bugs

#46448 [Build] Rename --webGpuSwift option to --webgpu-swift
  Tools/Scripts/build-webkit
  Tools/Scripts/webkitperl/FeatureList.pm
Labels: merge-queue, Tools / Tests

#46451 REGRESSION(295889@main): test-webkitpy failing at webkit.messages_unittest.GeneratedFileContentsTest.test_receiver
  Source/WebKit/Scripts/webkit/tests/TestWithValidatorMessageReceiver.cpp
Labels: unsafe-merge-queue, Tools / Tests

#46440 [JSC] Map#getOrInsert should always recompute index
  Source/JavaScriptCore/runtime/OrderedHashTable.h
Labels: unsafe-merge-queue, JavaScriptCore

#46419 [Safe CPP] Address Warnings in RenderLayerInlines.h
  Source/WebCore/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncheckedLocalVarsCheckerExpectations
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/RenderLayer.h
  Source/WebCore/rendering/RenderLayerInlines.h
Labels: merge-queue, WebCore Misc.

#46438 REGRESSION(295356@main): [ iOS ] 2 accessibility/*.html tests are constant failures.
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/ios/accessibility/dialog-slotted-content-expected.txt
  LayoutTests/platform/ios/accessibility/display-contents/element-roles-expected.txt
Labels: unsafe-merge-queue, Accessibility
