Repository WebKit/WebKit, pull requests merged in 2025-02, with the labels that each got.

#39620 Remove CORS restriction on mixed content upgrades
  LayoutTests/imported/w3c/web-platform-tests/mixed-content/gen/top.meta/opt-in/img-tag.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mixed-content/gen/top.meta/unset/img-tag.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/upgrade-insecure-requests/gen/iframe-blank-inherit.meta/unset/img-tag.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/upgrade-insecure-requests/gen/srcdoc-inherit.meta/unset/img-tag.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/upgrade-insecure-requests/gen/top.meta/unset/img-tag.https-expected.txt
  Source/WebCore/loader/MixedContentChecker.cpp
  Source/WebCore/loader/MixedContentChecker.h
  Source/WebCore/loader/cache/CachedResourceLoader.cpp
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
  Source/WebCore/page/QuirksData.h
Labels: Page Loading

#39828 Tracking domains can set partitioned cookies
  Source/WebKit/NetworkProcess/cocoa/NetworkTaskCocoa.mm
  Source/WebKit/Platform/cocoa/WebPrivacyHelpers.h
  Source/WebKit/Platform/cocoa/WebPrivacyHelpers.mm
  Tools/TestWebKitAPI/Tests/WebKit/AdvancedPrivacyProtections.mm
Labels: unsafe-merge-queue, Page Loading

#39833 Added a style checker for SAFE_PRINTF
  Tools/Scripts/webkitpy/style/checkers/cpp.py
  Tools/Scripts/webkitpy/style/checkers/cpp_unittest.py
Labels: WebKit Misc.

#39816 MediaRecorderPrivateEncoder can write frames out of order
  LayoutTests/http/wpt/mediarecorder/MediaRecorder-AV-audio-video-dataavailable.html
  LayoutTests/http/wpt/mediarecorder/MediaRecorder-webm-AV-audio-video-dataavailable-expected.txt
  LayoutTests/http/wpt/mediarecorder/MediaRecorder-webm-AV-audio-video-dataavailable.html
  Source/WebCore/platform/mediarecorder/MediaRecorderPrivateEncoder.cpp
  Source/WebCore/platform/mediarecorder/MediaRecorderPrivateEncoder.h
Labels: merge-queue, Media

#39834 [WebGPU] optional counter sample indices are not respected
  LayoutTests/fast/webgpu/nocrash/fuzz-286689-expected.txt
  LayoutTests/fast/webgpu/nocrash/fuzz-286689.html
  Source/WebGPU/WebGPU/CommandBuffer.mm
  Source/WebGPU/WebGPU/CommandEncoder.h
  Source/WebGPU/WebGPU/CommandEncoder.mm
  Source/WebGPU/WebGPU/HardwareCapabilities.mm
  Source/WebGPU/WebGPU/QuerySet.mm
  Source/WebGPU/WebGPU/Queue.h
  Source/WebGPU/WebGPU/Queue.mm
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
Labels: WebGPU

#39706 OOB crash under WebKit::dataProviderGetBytesAtPositionCallback during off-main-thread incremental PDF loading
  Source/WebKit/WebProcess/Plugins/PDF/PDFIncrementalLoader.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFIncrementalLoader.mm
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginBase.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginBase.mm
Labels: merge-queue, PDF

#39845 [Gardening]: REGRESSION:(289499@main)[macOS Debug] imported/w3c/web-platform-tests/screen-orientation/orientation-reading.html is flaky failure (failure in EWS)
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: New Bugs

#39643 [WASM] Tail calls should consume expression stack after call in BBQ
  JSTests/wasm/stress/tail-call-should-consume-stack-in-bbq.js
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
Labels: WebAssembly

#39848 [Gardening]: NEW TEST(289610@main): [macOS] fast/repaint/emoji-glyph-overflow-repaint-fail.html is a constant failure (failure in EWS)
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: New Bugs

#39829 Build failure when WK_WEB_EXTENSIONS_IN_WEBDRIVER flag is enabled
  Source/WebKit/UIProcess/Automation/WebAutomationSession.h
Labels: WebKit Extensions

#39764 webengineshackfest.org: 'close' button does not show 'emoji' inside on WebKit / Safari
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/matching/font-unicode-presented-as-emoji-outline-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/matching/font-unicode-presented-as-emoji-outline-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/matching/font-unicode-presented-as-emoji-outline.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/matching/resources/AhemCrossmarkSupport.otf
  Source/WebCore/platform/graphics/FontCascadeFonts.cpp
Labels: merge-queue, Text

#39703 [WASM GC] Reference instructions should consume arguments even when operand is constant null
  JSTests/wasm/stress/array-copy-with-constant-null.js
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
  Source/JavaScriptCore/wasm/WasmBBQJIT.h
  Source/JavaScriptCore/wasm/WasmBBQJIT32_64.cpp
  Source/JavaScriptCore/wasm/WasmBBQJIT64.cpp
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Source/JavaScriptCore/wasm/WasmIPIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.h
Labels: unsafe-merge-queue, WebAssembly

#39837 An infinite loop happens when drawing wavy underline for small text at a very large x-position
  LayoutTests/fast/text/text-large-x-small-size-wavy-style-expected.txt
  LayoutTests/fast/text/text-large-x-small-size-wavy-style.html
  Source/WebCore/rendering/TextDecorationPainter.cpp
Labels: merge-queue, Layout and Rendering

#39813 SharedBuffer: mark forEachSegment function's functor parameter as NOESCAPE
  Source/WebCore/platform/SharedBuffer.cpp
  Source/WebCore/platform/SharedBuffer.h
  Source/WebKit/SaferCPPExpectations/UncountedLambdaCapturesCheckerExpectations
Labels: WebCore Misc.

#39839 [visionOS] Context menu is automatically dismissed when previewing an image or attachment for the first time
  LayoutTests/fast/events/ios/dragstart-hang-does-not-dismiss-context-menu-expected.txt
  LayoutTests/fast/events/ios/dragstart-hang-does-not-dismiss-context-menu.html
  Source/WebKit/UIProcess/ios/UIKitUtilities.h
  Source/WebKit/UIProcess/ios/UIKitUtilities.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/ios/WKTextInteractionWrapper.mm
Labels: merge-queue, New Bugs

#39850 Drop use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in SandboxExtensionCocoa.mm
  Source/WebKit/Shared/Cocoa/SandboxExtensionCocoa.mm
  Source/WebKit/Shared/SandboxExtension.h
Labels: merge-queue, New Bugs

#39684 Release assertion failure in LegacyRenderSVGShape::strokeBoundingBox()
  LayoutTests/svg/crash-svg-filter-empty-viewport-expected.txt
  LayoutTests/svg/crash-svg-filter-empty-viewport.svg
  Source/WebCore/svg/SVGLengthContext.cpp
Labels: merge-queue, SVG

#39464 ciso646:46:4: warning: "<ciso646> is deprecated in C++17, use <version> to detect implementation-specific macros" [-W#warnings]
  Source/WebCore/PAL/config.h
  Source/WebCore/config.h
Labels: merge-queue, WebKitGTK

#39806 [CookieStoreAPI] If cookie name begins with "__Host-", passed-in domain must be null and path must be null or "/"
  LayoutTests/imported/w3c/web-platform-tests/cookie-store/cookieStore_special_names.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/cookie-store/cookieStore_special_names.https.any.js
  LayoutTests/imported/w3c/web-platform-tests/cookie-store/cookieStore_special_names.https.any.serviceworker-expected.txt
  Source/WebCore/Modules/cookie-store/CookieStore.cpp
Labels: unsafe-merge-queue, New Bugs

#39854 [GTK][WPE] Test gardening
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
Labels: unsafe-merge-queue, WebKitGTK

#39852 Adopt span for data member in StylePropertyShorthand.h
  Source/WebCore/css/StylePropertyShorthand.h
Labels: unsafe-merge-queue, CSS

#39748 Drop use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in CSSParserTokenRange.cpp
  Source/WebCore/css/CSSVariableData.h
  Source/WebCore/css/parser/CSSParserImpl.cpp
  Source/WebCore/css/parser/CSSParserTokenRange.cpp
  Source/WebCore/css/parser/CSSParserTokenRange.h
  Source/WebCore/css/parser/CSSPropertyParserConsumer+Font.cpp
  Source/WebCore/css/parser/CSSSelectorParser.cpp
  Source/WebCore/css/parser/CSSTokenizer.h
  Source/WebCore/css/parser/SizesAttributeParser.cpp
  Source/WebCore/css/query/MediaQueryParser.cpp
  Source/WebCore/css/typedom/CSSNumericValue.cpp
Labels: unsafe-merge-queue, CSS

#39843 Drop use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in UTF8Conversion.cpp
  Source/WTF/wtf/text/icu/UnicodeExtras.h
  Source/WTF/wtf/unicode/UTF8Conversion.cpp
Labels: unsafe-merge-queue

#39846 [WKTR] Remove workaround for kUTTypePNG in TestInvocationCG.cpp
  Tools/WebKitTestRunner/Configurations/WebKitTestRunner.xcconfig
  Tools/WebKitTestRunner/Configurations/WebKitTestRunnerApp.xcconfig
  Tools/WebKitTestRunner/WebKitTestRunner.xcodeproj/project.pbxproj
  Tools/WebKitTestRunner/cocoa/TestInvocationCocoa.mm
Labels: unsafe-merge-queue, Tools / Tests

#39851 Reduce use of strcmp() in the code base
  Source/WTF/wtf/ObjCRuntimeExtras.h
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperBase.mm
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperMac.mm
  Source/WebKit/Shared/API/Cocoa/WKRemoteObjectCoder.mm
  Source/WebKit/Shared/Cocoa/CoreIPCNSValue.mm
  Source/WebKit/Shared/Extensions/_WKWebExtensionSQLiteDatatypeTraits.h
  Source/WebKit/WebProcess/WebPage/mac/WKAccessibilityWebPageObjectMac.mm
  Source/WebKitLegacy/ios/Misc/WebUIKitSupport.mm
  Tools/DumpRenderTree/mac/AccessibilityNotificationHandler.mm
  Tools/WebKitTestRunner/InjectedBundle/cocoa/AccessibilityCommonCocoa.mm
Labels: unsafe-merge-queue, WebCore Misc.

#39440 [JSC] Add `constinit` specifier for generated JSC builtins C++ sources
  Source/JavaScriptCore/Scripts/tests/builtins/expected/JavaScriptCore-Builtin.Promise-Combined.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/JavaScriptCore-Builtin.Promise-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/JavaScriptCore-Builtin.prototype-Combined.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/JavaScriptCore-Builtin.prototype-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/JavaScriptCore-BuiltinConstructor-Combined.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/JavaScriptCore-BuiltinConstructor-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/JavaScriptCore-InternalClashingNames-Combined.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCore-AnotherGuardedInternalBuiltin-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCore-ArbitraryConditionalGuard-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCore-GuardedBuiltin-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCore-GuardedInternalBuiltin-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCore-UnguardedBuiltin-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCore-xmlCasingTest-Separate.js-result
  Source/JavaScriptCore/Scripts/wkbuiltins/builtins_generate_combined_header.py
  Source/JavaScriptCore/Scripts/wkbuiltins/builtins_generate_combined_implementation.py
  Source/JavaScriptCore/Scripts/wkbuiltins/builtins_generator.py
  Source/JavaScriptCore/create_hash_table
Labels: merge-queue, JavaScriptCore

#39306 Block Mach lookup in the WebContent sandbox
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
Labels: unsafe-merge-queue, WebKit Process Model

#39856 [GTK][WPE] Add implementations for PageClient::setFullScreenClientForTesting()
  Source/WebKit/UIProcess/API/gtk/PageClientImpl.cpp
  Source/WebKit/UIProcess/API/gtk/PageClientImpl.h
  Source/WebKit/UIProcess/API/wpe/PageClientImpl.cpp
  Source/WebKit/UIProcess/API/wpe/PageClientImpl.h
Labels: unsafe-merge-queue, WebKitGTK

#39270 [JSC] Cache FunctionExecutable from `new Function` constructor call with one-entry cache
  LayoutTests/inspector/debugger/sourceURL-repeated-identical-executions-expected.txt
  LayoutTests/inspector/debugger/sourceURL-repeated-identical-executions.html
  LayoutTests/js/script-tests/regress-150513.js
  Source/JavaScriptCore/parser/ParserModes.h
  Source/JavaScriptCore/parser/SourceCodeKey.h
  Source/JavaScriptCore/runtime/CodeCache.cpp
  Source/JavaScriptCore/runtime/FunctionConstructor.cpp
  Source/JavaScriptCore/runtime/FunctionConstructor.h
  Source/JavaScriptCore/runtime/FunctionExecutable.cpp
  Source/JavaScriptCore/runtime/FunctionExecutable.h
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.h
  Source/JavaScriptCore/runtime/SourceOrigin.h
Labels: JavaScriptCore

#39271 [JSC] Move OverridesGetPrototype to inline flags
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/jit/AssemblyHelpers.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter.asm
  Source/JavaScriptCore/llint/LowLevelInterpreter64.asm
  Source/JavaScriptCore/runtime/JSTypeInfo.h
Labels: unsafe-merge-queue, JavaScriptCore

#39278 [JSC] Add a bit adhoc Int52 <-> Int32 round-trip optimization
  Source/JavaScriptCore/b3/B3ReduceStrength.cpp
  Source/JavaScriptCore/b3/testb3.h
  Source/JavaScriptCore/b3/testb3_1.cpp
  Source/JavaScriptCore/b3/testb3_7.cpp
Labels: JavaScriptCore

#39281 [JSC] DFG GetGlobalLexicalVar / GetGlobalVar 's emptiness should be monotonic
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
Labels: unsafe-merge-queue, JavaScriptCore

#39778 Update command invokers to match spec changes
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/the-button-element/command-and-commandfor/button-event-dispatch.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/the-button-element/command-and-commandfor/event-dispatch-shadow.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/the-button-element/command-and-commandfor/event-interface.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/the-button-element/command-and-commandfor/idlharness.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/the-button-element/command-and-commandfor/on-dialog-behavior.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/the-button-element/command-and-commandfor/on-dialog-invalid-behavior.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/the-button-element/command-and-commandfor/on-popover-behavior.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/the-button-element/command-and-commandfor/on-popover-invalid-behavior.tentative-expected.txt
  Source/WebCore/CMakeLists.txt
  Source/WebCore/DerivedSources-input.xcfilelist
  Source/WebCore/DerivedSources.make
  Source/WebCore/dom/CommandEvent.cpp
  Source/WebCore/dom/CommandEvent.h
  Source/WebCore/dom/CommandEvent.idl
  Source/WebCore/dom/Document.cpp
  Source/WebCore/html/HTMLButtonElement.cpp
  Source/WebCore/html/HTMLButtonElement.h
  Source/WebCore/html/HTMLButtonElement.idl
  Source/WebCore/html/HTMLFormControlElement.cpp
  Source/WebCore/html/HTMLFormControlElement.h
  Source/WebCore/html/HTMLInputElement.cpp
  Source/WebCore/html/HTMLInputElement.idl
  Source/WebCore/html/InvokerElement.idl
Labels: merge-queue, DOM

#39309 [JSC] Clean up wasm initialization code
  Source/JavaScriptCore/dfg/DFGStrengthReductionPhase.cpp
  Source/JavaScriptCore/jit/Width.h
  Source/JavaScriptCore/wasm/WasmCallingConvention.h
  Source/JavaScriptCore/wasm/WasmFormat.h
  Source/JavaScriptCore/wasm/WasmFunctionIPIntMetadataGenerator.h
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Source/JavaScriptCore/wasm/WasmIPIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmOperations.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.h
  Source/JavaScriptCore/wasm/js/JSToWasm.cpp
  Source/JavaScriptCore/wasm/js/WasmToJS.cpp
Labels: JavaScriptCore

#39432 [JSC] Add Air MultiplyNegDouble / MultiplyNegFloat
  Source/JavaScriptCore/assembler/MacroAssemblerARM64.h
  Source/JavaScriptCore/b3/B3LowerToAir.cpp
  Source/JavaScriptCore/b3/air/AirOpcode.opcodes
  Source/JavaScriptCore/b3/testb3.h
  Source/JavaScriptCore/b3/testb3_2.cpp
  Source/JavaScriptCore/b3/testb3_3.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#38532 Block unused syscalls
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
Labels: unsafe-merge-queue, WebKit Process Model

#39859 Fix some crashes seen with site isolation
  Source/WebCore/page/EventHandler.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
Labels: unsafe-merge-queue, WebKit Process Model

#39442 [JSC] Add FTL PurifyNaN
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
  Source/JavaScriptCore/dfg/DFGBackwardsPropagationPhase.cpp
  Source/JavaScriptCore/dfg/DFGClobberize.h
  Source/JavaScriptCore/dfg/DFGConstantFoldingPhase.cpp
  Source/JavaScriptCore/dfg/DFGDoesGC.cpp
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGGraph.cpp
  Source/JavaScriptCore/dfg/DFGLoopUnrollingPhase.cpp
  Source/JavaScriptCore/dfg/DFGMayExit.cpp
  Source/JavaScriptCore/dfg/DFGNode.h
  Source/JavaScriptCore/dfg/DFGNodeType.h
  Source/JavaScriptCore/dfg/DFGPlan.cpp
  Source/JavaScriptCore/dfg/DFGPredictionPropagationPhase.cpp
  Source/JavaScriptCore/dfg/DFGSafeToExecute.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT32_64.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/dfg/DFGStrengthReductionPhase.cpp
  Source/JavaScriptCore/dfg/DFGValueRepReductionPhase.cpp
  Source/JavaScriptCore/ftl/FTLCapabilities.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#39098 [iPadOS] Swiping between articles in Feedly using a trackpad sometimes fails, or the transition animation sometimes stutters
  Source/WebKit/UIProcess/ios/PointerTouchCompatibilitySimulator.h
  Source/WebKit/UIProcess/ios/PointerTouchCompatibilitySimulator.mm
Labels: merge-queue, New Bugs

#39527 User installed fonts are not always registered
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
Labels: unsafe-merge-queue, WebKit Process Model

#39870 InlineLineBuilder: Remove left-over commented line
  Source/WebCore/layout/formattingContexts/inline/InlineLineBuilder.cpp
Labels: WebKit Misc.

#39233 [SOUP] Add support for the Cookie Store API
  LayoutTests/imported/w3c/web-platform-tests/cookies/samesite/multiple-samesite-attributes.https-expected.txt
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookie-store/change_eventhandler_for_document_cookie.https.window-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookie-store/change_eventhandler_for_http_cookie_and_set_cookie_headers.https.window-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookie-store/change_eventhandler_for_no_name_and_no_value.https.window-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookie-store/change_eventhandler_for_no_name_equals_in_value.https.window-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookie-store/change_eventhandler_for_no_name_multiple_values.https.window-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookie-store/cookieListItem_attributes.https.any-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookie-store/cookieListItem_attributes.https.any.serviceworker-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookie-store/cookieStore_delete_arguments.https.any-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookie-store/cookieStore_delete_arguments.https.any.serviceworker-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookie-store/cookieStore_event_delete.https.window-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookie-store/cookieStore_get_set_across_origins.sub.https-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookie-store/encoding.https.any-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookie-store/encoding.https.any.serviceworker-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookie-store/serviceworker_cookieStore_cross_origin.https.sub-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookies/attributes/attributes-ctl.sub-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookies/attributes/domain.sub-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookies/name/name-ctl-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookies/name/name-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookies/prefix/__host.document-cookie-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookies/prefix/__host.document-cookie.https-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookies/prefix/__host.header-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookies/prefix/__host.header.https-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookies/prefix/__secure.document-cookie-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookies/prefix/__secure.document-cookie.https-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookies/prefix/__secure.header-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookies/prefix/__secure.header.https-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookies/prefix/document-cookie.non-secure-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/cookies/samesite-none-secure/cookies-without-samesite-must-be-secure.https-expected.txt
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/cookies/attributes/domain.sub-expected.txt
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/platform/network/NetworkStorageSession.cpp
  Source/WebCore/platform/network/NetworkStorageSession.h
  Source/WebCore/platform/network/cf/NetworkStorageSessionCFNet.cpp
  Source/WebCore/platform/network/soup/NetworkStorageSessionSoup.cpp
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/PlatformWPE.cmake
  Source/WebKit/SourcesGTK.txt
  Source/WebKit/SourcesWPE.txt
  Source/WebKit/WebProcess/WebPage/WebCookieCache.cpp
  Source/WebKit/WebProcess/WebPage/soup/WebCookieCacheSoup.cpp
Labels: merge-queue, WebKitGTK

#39815 Add Style::BuilderConverter::requiredDowncast<> and use it
  Source/WebCore/animation/TimelineRange.cpp
  Source/WebCore/animation/TimelineRange.h
  Source/WebCore/css/CSSToStyleMap.cpp
  Source/WebCore/css/CSSToStyleMap.h
  Source/WebCore/platform/graphics/TabSize.h
  Source/WebCore/rendering/style/GridTrackSize.h
  Source/WebCore/rendering/style/TextDecorationThickness.h
  Source/WebCore/style/StyleBuilderConverter.h
  Source/WebCore/style/StyleBuilderState.h
Labels: CSS

#23332 Implement toggleevents for dialog open/close
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/interactive-elements/the-dialog-element/toggle-events.tentative-expected.txt
  Source/WebCore/html/HTMLDialogElement.cpp
  Source/WebCore/html/HTMLDialogElement.h
Labels: merge-queue, DOM

#39754 [JSC] Use `LIKELY` and `UNLIKELY` in `String#at`
  Source/JavaScriptCore/runtime/StringPrototype.cpp
Labels: JavaScriptCore

#39874 css-writing-modes tests gardening
  LayoutTests/TestExpectations
Labels: unsafe-merge-queue, CSS

#39857 Serialize `font-style: oblique 0` as `normal`
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/animations/font-style-interpolation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/animations/font-style-interpolation.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-style-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-style-computed.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-style-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/parsing/font-style-valid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/variations/font-style-parsing.html
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/css/CSSFontStyleWithAngleValue.cpp
  Source/WebCore/css/CSSFontStyleWithAngleValue.h
  Source/WebCore/css/ComputedStyleExtractor.cpp
  Source/WebCore/css/parser/CSSPropertyParserConsumer+Font.cpp
  Source/WebCore/editing/EditingStyle.cpp
  Source/WebCore/style/StyleResolveForFont.cpp
  Source/WebCore/style/StyleResolveForFont.h
Labels: CSS

#39862 Optimize comparing various RenderStyle properties
  Source/WebCore/rendering/RenderLayerModelObject.cpp
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/RenderStyleInlines.h
  Source/WebCore/rendering/style/StyleSurroundData.h
  Source/WebCore/style/StyleChange.cpp
  Source/WebCore/style/StyleChange.h
Labels: merge-queue, Layout and Rendering

#39868 Clean up RenderTableSection::paintObject()
  Source/WebCore/rendering/RenderTableSection.cpp
Labels: merge-queue, Layout and Rendering

#39831 [WebGPU] Infinite loop forward progress detection leads to problematic codegen
  LayoutTests/fast/webgpu/nocrash/fuzz-286820-expected.txt
  LayoutTests/fast/webgpu/nocrash/fuzz-286820.html
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebGPU/WGSL/Metal/MetalFunctionWriter.cpp
Labels: merge-queue, WebGPU

#39877 [GTK][WPE] compute-kind-widget-generated tests gardening
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
Labels: unsafe-merge-queue, WebKitGTK

#39872 Drop use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in WebKit/webpushd/webpushtool
  Source/WTF/WTF.xcodeproj/project.pbxproj
  Source/WTF/wtf/StdLibExtras.h
  Source/WTF/wtf/cocoa/NSStringExtras.h
  Source/WebKit/webpushd/webpushtool/WebPushToolConnection.mm
  Source/WebKit/webpushd/webpushtool/WebPushToolMain.mm
Labels: unsafe-merge-queue, WebKit2

#39858 Drop use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in RenderQuote.cpp
  Source/WebCore/rendering/RenderQuote.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#39871 Drop use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in ASCIIFastPath.h
  Source/WTF/wtf/StdLibExtras.h
  Source/WTF/wtf/text/ASCIIFastPath.h
  Source/WTF/wtf/text/ParsingUtilities.h
  Source/WebCore/Modules/indexeddb/server/IDBSerialization.cpp
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
  Source/WebKit/Platform/IPC/cocoa/ConnectionCocoa.mm
Labels: merge-queue

#39751 REGRESSION (279443@main): [ Sonoma Release ] WindowServer watchdog timeout on Intel machine
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: merge-queue, WebGPU

#39869 Fix current unexpected static-analysis failures
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFIncrementalLoader.mm
Labels: unsafe-merge-queue, New Bugs

#39887 Drop use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in _WKRemoteObjectRegistry.mm
  Source/WTF/wtf/ObjCRuntimeExtras.h
  Source/WebKit/Shared/API/Cocoa/_WKRemoteObjectRegistry.mm
Labels: WebKit2

#39888 Drop use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in XSLTProcessorLibxslt.cpp
  Source/WebCore/xml/XSLTProcessorLibxslt.cpp
Labels: XML

#39883 Drop use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in PCMDaemonEntryPoint.mm
  Source/WebKit/Shared/EntryPointUtilities/Cocoa/Daemon/PCMDaemonEntryPoint.mm
Labels: WebKit2

#39882 Drop use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in WebKitSwiftSoftLink.mm
  Source/WebKit/UIProcess/Cocoa/WebKitSwiftSoftLink.mm
Labels: unsafe-merge-queue, WebKit2

#39886 Drop use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in WKRemoteObjectCoder.mm
  Source/WTF/wtf/cocoa/NSStringExtras.h
  Source/WebKit/Shared/API/Cocoa/WKRemoteObjectCoder.mm
Labels: unsafe-merge-queue, WebKit2

#37185 CanvasRenderingContext2DBase::getImageData with ImageDataStorageFormat
  LayoutTests/fast/canvas/imagedata-storageformat-enabled-expected.txt
  LayoutTests/fast/canvas/imagedata-storageformat-enabled.html
  Source/WebCore/html/ImageData.cpp
  Source/WebCore/html/ImageData.h
  Source/WebCore/html/ImageDataArray.cpp
  Source/WebCore/html/ImageDataArray.h
  Source/WebCore/html/canvas/CanvasRenderingContext2DBase.cpp
Labels: merge-queue, Canvas

#39873 Drop use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in WebPageProxyMac.mm
  Source/WTF/wtf/FileSystem.h
  Source/WTF/wtf/cocoa/FileSystemCocoa.mm
  Source/WebKit/UIProcess/mac/WebPageProxyMac.mm
  Source/WebKitLegacy/mac/WebView/WebPDFView.mm
Labels: unsafe-merge-queue, WebKit2

#39893 Reduce use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in AuxiliaryProcessMac.mm
  Source/WTF/wtf/cocoa/FileSystemCocoa.mm
  Source/WTF/wtf/glib/SysprofAnnotator.h
  Source/WTF/wtf/text/ASCIILiteral.h
  Source/WTF/wtf/text/CString.cpp
  Source/WTF/wtf/text/CString.h
  Source/WTF/wtf/text/WTFString.cpp
  Source/WebCore/Modules/push-api/PushMessageCrypto.cpp
  Source/WebCore/bridge/objc/objc_class.mm
  Source/WebCore/platform/sql/SQLiteDatabase.cpp
  Source/WebCore/platform/xr/openxr/OpenXRInstance.cpp
  Source/WebKit/Shared/mac/AuxiliaryProcessMac.mm
Labels: WebKit2

#39894 Non-unified source build fix of February 2025 (part 1)
  Source/WebCore/css/CSSFontValue.cpp
Labels: New Bugs

#39823 AX: get rid of redundant definitions of Mac accessibility constants already found in system headers
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperMac.mm
Labels: merge-queue, Accessibility

#39889 [AVFoundation] Enable WebCodecs AudioDecoder by default
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: Media

#39818 Adopt smart pointer in Source/WebKit/UIProcess/API/APIDataTask.cpp
  Source/WebKit/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebKit/UIProcess/API/APIDataTask.cpp
  Source/WebKit/UIProcess/API/APIDataTask.h
Labels: New Bugs

#39895 ASAN_SEGV | JSArrayBufferView::ConstructionContext::ConstructionContext; JSArrayBufferView::ConstructionContext::ConstructionContext; JSC::JSGenericTypedArrayView::create
  Source/WebCore/Modules/webcodecs/WebCodecsAudioDecoder.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoDecoder.cpp
  Source/WebCore/platform/AudioDecoder.h
  Source/WebCore/platform/VideoDecoder.h
  Source/WebCore/platform/audio/cocoa/AudioDecoderCocoa.cpp
Labels: Media

#39876 [JSC] `AsyncFromSyncIterator` should close its sync-iterator when `throw` is null or undefined
  JSTests/stress/async-from-sync-iterator-prototype-throw-close-sync-iter.js
  JSTests/test262/expectations.yaml
  Source/JavaScriptCore/builtins/AsyncFromSyncIteratorPrototype.js
Labels: merge-queue, JavaScriptCore

#37638 Adopt dispatched(From|To) for UI<->(Networking|GPU|Model) interfaces
  Source/WebKit/GPUProcess/GPUProcess.messages.in
  Source/WebKit/ModelProcess/ModelProcess.messages.in
  Source/WebKit/NetworkProcess/Authentication/AuthenticationManager.messages.in
  Source/WebKit/NetworkProcess/Cookies/WebCookieManager.messages.in
  Source/WebKit/NetworkProcess/CustomProtocols/LegacyCustomProtocolManager.messages.in
  Source/WebKit/NetworkProcess/NetworkContentRuleListManager.messages.in
  Source/WebKit/NetworkProcess/NetworkProcess.messages.in
  Source/WebKit/UIProcess/GPU/GPUProcessProxy.messages.in
  Source/WebKit/UIProcess/Model/ModelProcessProxy.messages.in
  Source/WebKit/UIProcess/Network/CustomProtocols/LegacyCustomProtocolManagerProxy.messages.in
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.messages.in
  Source/WebKit/UIProcess/mac/SecItemShimProxy.messages.in
  Source/WebKit/WebProcess/Model/ModelProcessConnection.messages.in
  Source/WebKit/WebProcess/Model/ModelProcessModelPlayer.messages.in
Labels: New Bugs

#39207 [WebDriver][BiDi] Fix error response id, type, and error name fields
  Source/WebDriver/CommandResult.cpp
  Source/WebDriver/CommandResult.h
  Source/WebDriver/WebDriverService.cpp
  Source/WebDriver/WebSocketServer.cpp
Labels: WebDriver

#39773 [WGSL] Using UINT_MAX for location triggers a RELEASE_ASSERT
  Source/WebGPU/WGSL/AttributeValidator.cpp
Labels: WebGPU

#39900 [MediaStream] Fix build with release log disabled
  Source/WebCore/Modules/mediastream/ImageCapture.cpp
  Source/WebCore/Modules/mediastream/libwebrtc/LibWebRTCMediaEndpoint.cpp
  Source/WebKit/UIProcess/UserMediaPermissionRequestManagerProxy.cpp
Labels: merge-queue, WebRTC

#39898 [CoordinatedGraphics] Force repaint should not flush layers when still waiting for renderer
  LayoutTests/platform/glib/printing/print-with-media-query-destory-expected.txt
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHost.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHost.h
Labels: unsafe-merge-queue, WebKitGTK

#39821 Adopt smart pointers in WebKit/UIProcess/BrowsingContextGroup.cpp
  Source/WebKit/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebKit/UIProcess/BrowsingContextGroup.cpp
Labels: New Bugs

#39866 Avoid creating an InlineBoxPainter for root inline box if possible
  Source/WebCore/layout/integration/inline/LayoutIntegrationInlineContentPainter.cpp
Labels: merge-queue, Layout and Rendering

#39205 Disable mutation events by default
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: unsafe-merge-queue, New Bugs

#39919 [git-webkit] checkout failing with NameError: name 'path' is not defined
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/local/git.py
Labels: Tools / Tests

#39160 commits.webkit.org should have a UI to inter-convert revision/hash/commit-identifier
  Tools/Scripts/libraries/reporelaypy/reporelaypy/static/css/webkit.css
  Tools/Scripts/libraries/reporelaypy/reporelaypy/static/js/main.js
  Tools/Scripts/libraries/reporelaypy/reporelaypy/static/js/search.js
  Tools/Scripts/libraries/reporelaypy/reporelaypy/static/library/webkit.png
  Tools/Scripts/libraries/reporelaypy/reporelaypy/templates/compare.html
  Tools/Scripts/libraries/reporelaypy/reporelaypy/webserver.py
Labels: Tools / Tests

#39863 Minor TextBoxPainter optimizations
  Source/WebCore/rendering/TextBoxPainter.cpp
  Source/WebCore/rendering/TextBoxPainter.h
Labels: Layout and Rendering

#39913 Address Safer CPP failures in SQLiteStorageArea.cpp
  Source/WebKit/NetworkProcess/storage/SQLiteStorageArea.cpp
  Source/WebKit/NetworkProcess/storage/SQLiteStorageArea.h
  Source/WebKit/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
Labels: WebCore Misc.

#39571 A page with `overflow-y: hidden` can sometimes still be scrolled
  LayoutTests/fast/scrolling/mac/unscrollable-root-overflow-hidden-on-one-axis-expected.txt
  LayoutTests/fast/scrolling/mac/unscrollable-root-overflow-hidden-on-one-axis.html
  Source/WebCore/page/WheelEventTestMonitor.cpp
  Source/WebCore/page/WheelEventTestMonitor.h
  Source/WebCore/page/scrolling/ScrollingTree.cpp
  Source/WebCore/page/scrolling/ScrollingTreeGestureState.cpp
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNode.cpp
  Source/WebCore/page/scrolling/ScrollingTreeScrollingNode.h
  Source/WebCore/page/scrolling/mac/ScrollingTreeScrollingNodeDelegateMac.mm
  Source/WebCore/platform/ScrollingEffectsController.h
  Source/WebCore/platform/graphics/ca/TileController.cpp
  Source/WebCore/platform/mac/ScrollingEffectsController.mm
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
Labels: Scrolling

#39920 [iOS] [Visual Bidi Selection] Text sometimes becomes unselected after releasing selection handles
  LayoutTests/editing/selection/ios/bidi-visually-contiguous-selection-7-expected.txt
  LayoutTests/editing/selection/ios/bidi-visually-contiguous-selection-7.html
  LayoutTests/resources/ui-helper.js
  Source/WebCore/platform/ios/SelectionGeometry.h
  Source/WebCore/rendering/RenderObject.cpp
Labels: HTML Editing

#39927 [JSC] Optimize wasm compilation more
  JSTests/slowMicrobenchmarks/hashset-wasm-load.js
  Source/JavaScriptCore/wasm/WasmCallingConvention.h
  Source/JavaScriptCore/wasm/WasmFunctionIPIntMetadataGenerator.cpp
  Source/JavaScriptCore/wasm/WasmFunctionIPIntMetadataGenerator.h
  Source/JavaScriptCore/wasm/WasmIPIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.h
  Source/JavaScriptCore/wasm/WasmValueLocation.h
Labels: unsafe-merge-queue, JavaScriptCore

#39937 Make DocumentSyncData.h have deterministic contents
  Source/WebCore/Scripts/generate-process-sync-data.py
  Source/WebCore/Scripts/tests/ProcessSyncClient.h
Labels: unsafe-merge-queue, WebCore Misc.

#39946 REGRESSION(289748@main): Broke and Internal build
  Source/WebKit/UIProcess/Cocoa/PageClientImplCocoa.mm
Labels: WebKit Misc.

#39931 Add Style::BuilderConverter::requiredListDowncast<> and use it in BuilderConverter
  Source/WebCore/style/StyleBuilderConverter.h
Labels: merge-queue, CSS

#39864 Move AXObjectCache from Document to Page, take 2
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AXObjectCache.h
  Source/WebCore/accessibility/atspi/AccessibilityRootAtspi.cpp
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperMac.mm
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/page/LocalFrame.cpp
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundleFrame.cpp
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/WKAccessibilityWebPageObjectIOS.mm
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
  Source/WebKit/WebProcess/WebPage/mac/WKAccessibilityWebPageObjectBase.h
  Source/WebKit/WebProcess/WebPage/mac/WKAccessibilityWebPageObjectBase.mm
  Source/WebKit/WebProcess/WebPage/mac/WKAccessibilityWebPageObjectMac.mm
  Source/WebKitLegacy/mac/WebView/WebFrame.mm
Labels: WebKit Process Model

#39944 Fix crash in ASVInlinePreview
  Source/WebKit/UIProcess/Cocoa/ModelElementControllerCocoa.mm
Labels: unsafe-merge-queue, WebKit Misc.

#39838 AX: Implement off-main thread versions of NextWordEnd, PreviousWordStart, LeftWord, and RightWord APIs
  LayoutTests/TestExpectations
  LayoutTests/accessibility-isolated-tree/TestExpectations
  LayoutTests/accessibility/isolated-tree/editable-word-navigation-expected.txt
  LayoutTests/accessibility/isolated-tree/editable-word-navigation.html
  LayoutTests/accessibility/isolated-tree/simple-word-navigation-expected.txt
  LayoutTests/accessibility/isolated-tree/simple-word-navigation.html
  Source/WebCore/accessibility/AXTextMarker.cpp
  Source/WebCore/accessibility/AXTextMarker.h
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperMac.mm
Labels: merge-queue, Accessibility

#39704 Support CSS unit literals in Style numeric types
  Source/WebCore/css/values/primitives/CSSPrimitiveNumericUnits.h
  Source/WebCore/html/HTMLInputElement.cpp
  Source/WebCore/style/values/backgrounds/StyleBoxShadow.cpp
  Source/WebCore/style/values/primitives/StylePosition.cpp
  Source/WebCore/style/values/primitives/StylePrimitiveNumeric.h
  Source/WebCore/style/values/primitives/StylePrimitiveNumericTypes+Blending.h
  Source/WebCore/style/values/primitives/StylePrimitiveNumericTypes+Evaluation.h
  Source/WebCore/style/values/shapes/StyleRectFunction.cpp
  Tools/TestWebKitAPI/Tests/WebCore/StyleGradient.cpp
Labels: CSS

#39953 Unreviewed, reverting 289639@main (fc53eacf6a68)
  LayoutTests/imported/w3c/web-platform-tests/mixed-content/gen/top.meta/opt-in/img-tag.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mixed-content/gen/top.meta/unset/img-tag.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/upgrade-insecure-requests/gen/iframe-blank-inherit.meta/unset/img-tag.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/upgrade-insecure-requests/gen/srcdoc-inherit.meta/unset/img-tag.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/upgrade-insecure-requests/gen/top.meta/unset/img-tag.https-expected.txt
  Source/WebCore/loader/MixedContentChecker.cpp
  Source/WebCore/loader/MixedContentChecker.h
  Source/WebCore/loader/cache/CachedResourceLoader.cpp
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
  Source/WebCore/page/QuirksData.h
Labels: New Bugs

#39891 Reduce use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in XMLDocumentParserLibxml2.cpp
  Source/WebCore/xml/parser/XMLDocumentParser.h
  Source/WebCore/xml/parser/XMLDocumentParserLibxml2.cpp
Labels: XML

#39918 Fix most static analysis errors in Page.cpp
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedLambdaCapturesCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedLocalVarsCheckerExpectations
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
Labels: WebCore Misc.

#39921 Address static analysis issues found in WebCoreNSURLSession.mm
  Source/WebCore/SaferCPPExpectations/MemoryUnsafeCastCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/platform/graphics/PlatformMediaResourceLoader.h
  Source/WebCore/platform/network/cocoa/WebCoreNSURLSession.mm
Labels: unsafe-merge-queue, WebCore Misc.

#39950 Use Style::BuilderConverter::requiredDowncast<> when resolving font properties
  Source/WebCore/style/StyleBuilderConverter.h
  Source/WebCore/style/StyleResolveForFont.cpp
  Source/WebCore/style/StyleResolveForFont.h
Labels: CSS

#39956 Unreviewed, fix a couple of regression on the safer cpp bot
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/UIProcess/API/APIDataTask.cpp
Labels: merge-queue, WebKit2

#39928 Deploy more smart pointers in NavigationState.mm
  Source/WebKit/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebKit/UIProcess/API/APIPageConfiguration.cpp
  Source/WebKit/UIProcess/API/APIPageConfiguration.h
  Source/WebKit/UIProcess/Cocoa/NavigationState.h
  Source/WebKit/UIProcess/Cocoa/NavigationState.mm
Labels: unsafe-merge-queue, New Bugs

#39961 Make JSTests/stress/recursive-try-catch.js less flaky.
  JSTests/stress/recursive-try-catch.js
  Tools/Scripts/run-jsc-stress-tests
Labels: unsafe-merge-queue, New Bugs

#38526 Remove unnecessary fixme message in DOMStringList::contains()
  Source/WebCore/dom/DOMStringList.cpp
Labels: unsafe-merge-queue, DOM

#39899 WebGL: multiDrawBuffers, blitFramebuffer do not prepare for drawing buffer write
  Source/WebCore/platform/graphics/angle/GraphicsContextGLANGLE.cpp
Labels: New Bugs

#39691 Use smart pointers in GPUProcess
  Source/WebCore/svg/graphics/filters/SVGFilter.cpp
  Source/WebCore/svg/graphics/filters/SVGFilter.h
  Source/WebKit/GPUProcess/graphics/RemoteGraphicsContextGL.cpp
  Source/WebKit/GPUProcess/graphics/RemoteRenderingBackend.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteBuffer.cpp
  Source/WebKit/GPUProcess/graphics/WebGPU/RemoteGPU.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteSourceBufferProxy.cpp
  Source/WebKit/GPUProcess/webrtc/RemoteSampleBufferDisplayLayer.cpp
  Source/WebKit/GPUProcess/webrtc/RemoteSampleBufferDisplayLayerManager.cpp
  Source/WebKit/SaferCPPExpectations/UncountedLambdaCapturesCheckerExpectations
Labels: New Bugs

#39955 Deploy more smart pointers in RemoteLayerTreeHost
  Source/WebKit/SaferCPPExpectations/UncheckedLocalVarsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncountedLocalVarsCheckerExpectations
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeHost.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeHost.mm
Labels: New Bugs

#39683 [GTK][WPE] Crash loading https://webassembly.sh/ in CPU rendering mode
  Source/WebCore/html/HTMLCanvasElement.cpp
Labels: unsafe-merge-queue, WebKitGTK, GLib Suggested Backport - 2.46

#39825 [LibWebRTC] Fix Linux, GStreamer and unified build
  Source/ThirdParty/libwebrtc/CMakeLists.txt
  Source/WebCore/Modules/mediastream/libwebrtc/LibWebRTCMediaEndpoint.cpp
  Source/WebCore/platform/mediastream/libwebrtc/gstreamer/GStreamerVideoEncoderFactory.cpp
  Source/WebKit/WebProcess/Network/webrtc/WebRTCMonitor.cpp
Labels: merge-queue, WebRTC

#39970 hotels.com: clicking on "Shop Travel" causes the drop down UI to flicker
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
  Source/WebCore/page/QuirksData.h
  Source/WebCore/style/StyleAdjuster.cpp
Labels: Animations

#37941 [JSC] Apply atomization for small split string cache array as V8 is doing
  Source/JavaScriptCore/runtime/StringPrototype.cpp
Labels: JavaScriptCore

#39279 [JSC] Optimize 8bit string array search by `Array#indexOf` in DFG/FTL
  JSTests/microbenchmarks/array-prototype-indexOf-string-16.js
  JSTests/microbenchmarks/array-prototype-indexOf-string.js
  JSTests/stress/array-prototype-indexOf-string-16.js
  JSTests/stress/array-prototype-indexOf-string-8.js
  JSTests/stress/array-prototype-indexOf-string-obj.js
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
Labels: JavaScriptCore

#39977 Add support for ALAC and PCM audio in MediaRecorder
  LayoutTests/http/wpt/mediarecorder/MediaRecorder-AV-audio-video-dataavailable-expected.txt
  LayoutTests/http/wpt/mediarecorder/MediaRecorder-AV-audio-video-dataavailable.html
  Source/WebCore/platform/graphics/cocoa/CMUtilities.mm
  Source/WebCore/platform/mediarecorder/MediaRecorderPrivateAVFImpl.cpp
  Source/WebCore/platform/mediarecorder/MediaRecorderPrivateEncoder.cpp
  Source/WebKit/GPUProcess/media/RemoteTrackInfo.h
Labels: Media

#39809 [JSC] Add fast path in `Array#with` for `ArrayWithArrayStorage`
  JSTests/microbenchmarks/array-prototype-with-storage.js
  JSTests/stress/array-prototype-with-storage.js
  Source/JavaScriptCore/runtime/JSArray.cpp
Labels: merge-queue, JavaScriptCore

#39263 [GStreamer] Plumb audio sink ID support in MediaPlayer
  Source/WTF/wtf/glib/GSpanExtras.h
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.h
  Source/WebCore/platform/mediastream/CaptureDevice.h
  Source/WebCore/platform/mediastream/gstreamer/GStreamerAudioCaptureSource.cpp
  Source/WebCore/platform/mediastream/gstreamer/GStreamerCaptureDeviceManager.cpp
  Source/WebCore/platform/mediastream/gstreamer/GStreamerCaptureDeviceManager.h
Labels: Platform

#39984 [GTK][WPE] Build fails with RELEASE_LOG=ON
  Source/WebCore/platform/LogMessages.in
  Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp
  Source/WebKit/Platform/LogMessages.in
  Source/WebKit/UIProcess/API/APIPageConfiguration.cpp
  Source/WebKit/WebProcess/Storage/WebSWContextManagerConnection.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebFrameLoaderClient.cpp
Labels: Tools / Tests

#39903 [WPE][GTK] Add damage visualizer
  Source/WebCore/platform/TextureMapper.cmake
  Source/WebCore/platform/graphics/texmap/TextureMapperDamageVisualizer.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperDamageVisualizer.h
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/ThreadedCompositor.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/ThreadedCompositor.h
Labels: merge-queue, WPE WebKit

#39468 REGRESSION (276904@main): Breaks https://www.tax.ny.gov/online/.
  JSTests/stress/function-toString-for-accessor-properties.js
  JSTests/test262/expectations.yaml
  LayoutTests/imported/w3c/web-platform-tests/html/dom/idlharness.https_include=(Document_Window)-expected.txt
  LayoutTests/js/basic-strict-mode-expected.txt
  LayoutTests/js/dom/native-bindings-descriptors-expected.txt
  LayoutTests/js/dom/native-bindings-descriptors.html
  LayoutTests/js/script-tests/basic-strict-mode.js
  LayoutTests/js/script-tests/function-toString-vs-name.js
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/dom/idlharness.https_include=(Document_Window)-expected.txt
  Source/JavaScriptCore/runtime/JSCustomGetterFunction.cpp
  Source/JavaScriptCore/runtime/JSCustomSetterFunction.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#39958 Address static analysis errors in PageClientImplMac.mm
  Source/WebKit/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncountedLocalVarsCheckerExpectations
  Source/WebKit/UIProcess/mac/PageClientImplMac.mm
Labels: WebKit2

#39964 Fix errors reported by static analysis in MediaPlayerPrivateAVFoundationObjC
  Source/WebCore/SaferCPPExpectations/MemoryUnsafeCastCheckerExpectations
  Source/WebCore/SaferCPPExpectations/NoUncountedMemberCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedLambdaCapturesCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedLocalVarsCheckerExpectations
  Source/WebCore/platform/graphics/TrackPrivateBase.h
  Source/WebCore/platform/graphics/avfoundation/InbandTextTrackPrivateAVF.h
  Source/WebCore/platform/graphics/avfoundation/MediaPlayerPrivateAVFoundation.h
  Source/WebCore/platform/graphics/avfoundation/objc/InbandTextTrackPrivateAVFObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.mm
  Source/WebCore/platform/graphics/avfoundation/objc/OutOfBandTextTrackPrivateAVF.h
Labels: Media

#39990 Revert 289756@main
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AXObjectCache.h
  Source/WebCore/accessibility/atspi/AccessibilityRootAtspi.cpp
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperMac.mm
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/page/LocalFrame.cpp
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundleFrame.cpp
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/WKAccessibilityWebPageObjectIOS.mm
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
  Source/WebKit/WebProcess/WebPage/mac/WKAccessibilityWebPageObjectBase.h
  Source/WebKit/WebProcess/WebPage/mac/WKAccessibilityWebPageObjectBase.mm
  Source/WebKit/WebProcess/WebPage/mac/WKAccessibilityWebPageObjectMac.mm
  Source/WebKitLegacy/mac/WebView/WebFrame.mm
Labels: unsafe-merge-queue, WebKit Process Model

#39991 [Gardening]: REGRESSION (Sequoia 24A335): [ Sequoia wk2 ] 2x storageAccess/grant-storage-access-under-opener*.html and 2x storageAccess/request-and-grant-access-then-navigate*.html are a consistent failure
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#39992 Unreviewed, reverting 289641@main (48ce9a3d8430)
  Source/WebKit/NetworkProcess/cocoa/NetworkTaskCocoa.mm
  Source/WebKit/Platform/cocoa/WebPrivacyHelpers.h
  Source/WebKit/Platform/cocoa/WebPrivacyHelpers.mm
  Tools/TestWebKitAPI/Tests/WebKit/AdvancedPrivacyProtections.mm
Labels: New Bugs, skip-ews

#39959 Fix unsafe casts to JSVMClientData reported by static analysis
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCore-AnotherGuardedInternalBuiltin-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCore-ArbitraryConditionalGuard-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCore-GuardedBuiltin-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCore-GuardedInternalBuiltin-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCore-UnguardedBuiltin-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCore-xmlCasingTest-Separate.js-result
  Source/JavaScriptCore/Scripts/tests/builtins/expected/WebCoreJSBuiltins.h-result
  Source/JavaScriptCore/Scripts/wkbuiltins/builtins_generate_internals_wrapper_implementation.py
  Source/JavaScriptCore/Scripts/wkbuiltins/builtins_templates.py
  Source/JavaScriptCore/runtime/VM.h
  Source/WebCore/Modules/streams/TransformStream.cpp
  Source/WebCore/SaferCPPExpectations/MemoryUnsafeCastCheckerExpectations
  Source/WebCore/bindings/js/DOMWrapperWorld.cpp
  Source/WebCore/bindings/js/InternalReadableStream.cpp
  Source/WebCore/bindings/js/InternalWritableStream.cpp
  Source/WebCore/bindings/js/JSDOMBuiltinConstructorBase.cpp
  Source/WebCore/bindings/js/JSDOMConstructorBase.cpp
  Source/WebCore/bindings/js/JSDOMConstructorNotCallable.h
  Source/WebCore/bindings/js/JSDOMWindowBase.cpp
  Source/WebCore/bindings/js/JSDOMWindowProperties.cpp
  Source/WebCore/bindings/js/JSEventListener.cpp
  Source/WebCore/bindings/js/JSIDBSerializationGlobalObject.cpp
  Source/WebCore/bindings/js/JSObservableArray.cpp
  Source/WebCore/bindings/js/JSWindowProxy.cpp
  Source/WebCore/bindings/js/ReadableStreamDefaultController.cpp
  Source/WebCore/bindings/js/ScriptController.cpp
  Source/WebCore/bindings/js/WebCoreJSClientData.h
  Source/WebCore/bridge/runtime_array.cpp
  Source/WebCore/bridge/runtime_method.cpp
  Source/WebCore/bridge/runtime_object.cpp
  Source/WebCore/page/Page.cpp
  Source/WebCore/workers/service/ServiceWorkerGlobalScope.cpp
Labels: WebCore Misc.

#38192 Avoid text cursor from being applied if `-webkit-user-select: none` is set
  LayoutTests/editing/selection/user-select-none-02-expected.txt
  LayoutTests/editing/selection/user-select-none-02.html
  Source/WebCore/page/EventHandler.cpp
Labels: CSS

#39932 REGRESSION(289251@main): [Win] context menu pops up at wrong position
  Source/WebKit/UIProcess/win/WebContextMenuProxyWin.cpp
Labels: New Bugs

#39954 [WebAuthn] Compute autofill username if single field with webauthn
  Source/WebCore/editing/cocoa/AutofillElements.cpp
  Tools/TestWebKitAPI/Tests/ios/WKWebViewAutofillTests.mm
Labels: New Bugs

#39929 [site-isolation] Remove missing test expectation tests
  LayoutTests/platform/mac-site-isolation/TestExpectations
Labels: Tools / Tests

#39853 [macOS] `buttons` property is incorrect for mouse events generated through the EventSender interface
  LayoutTests/fast/events/fire-mousedown-while-pressing-mouse-button.html
  LayoutTests/fast/events/mouse-event-buttons-expected.txt
  LayoutTests/fast/events/mouse-event-buttons.html
  LayoutTests/imported/w3c/web-platform-tests/pointerevents/pointerevent_attributes_mouse-right-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/pointerevents/pointerevent_attributes_mouse-right-nonstandard-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/pointerevents/pointerevent_attributes_pen-right-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/pointerevents/pointerevent_attributes_pen-right-nonstandard-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/uievents/mouse/synthetic-mouse-enter-leave-over-out-button-state-after-target-removed.tentative_buttonType=MIDDLE&button=1&buttons=4-expected.txt
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk1/fast/events/mouse-event-buttons-expected.txt
  LayoutTests/platform/mac-wk1/imported/w3c/web-platform-tests/uievents/mouse/synthetic-mouse-enter-leave-over-out-button-state-after-target-removed.tentative_buttonType=MIDDLE&button=1&buttons=4-expected.txt
  LayoutTests/platform/win/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
  Source/WebCore/dom/MouseEvent.cpp
  Source/WebCore/dom/MouseEvent.h
  Tools/DumpRenderTree/mac/EventSendingController.mm
  Tools/WebKitTestRunner/EventSenderProxy.h
  Tools/WebKitTestRunner/InjectedBundle/ios/EventSenderProxyIOS.mm
  Tools/WebKitTestRunner/WebKitTestRunner.xcodeproj/project.pbxproj
  Tools/WebKitTestRunner/cocoa/EventSenderProxyCocoa.mm
  Tools/WebKitTestRunner/mac/EventSenderProxy.mm
Labels: Tools / Tests

#39741 [scroll-animations] Have ViewTimeline hold a Styleable subject
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/view-timeline-pseudo-on-scroller-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/view-timeline-pseudo-on-scroller.html
  Source/WebCore/animation/AnimationTimelinesController.cpp
  Source/WebCore/animation/AnimationTimelinesController.h
  Source/WebCore/animation/CSSAnimation.cpp
  Source/WebCore/animation/ScrollTimeline.h
  Source/WebCore/animation/ViewTimeline.cpp
  Source/WebCore/animation/ViewTimeline.h
Labels: New Bugs

#39631 Resuming an interrupted `git webkit pr` produces a commit message without links
  Tools/Scripts/hooks/prepare-commit-msg
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/commit.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/pull_request.py
Labels: unsafe-merge-queue

#39689 Adopt more smart pointers in the Network Process
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsStore.cpp
  Source/WebKit/NetworkProcess/Downloads/Download.cpp
  Source/WebKit/NetworkProcess/NetworkDataTask.cpp
  Source/WebKit/NetworkProcess/NetworkLoad.cpp
  Source/WebKit/NetworkProcess/NetworkLoadChecker.cpp
  Source/WebKit/NetworkProcess/PingLoad.cpp
  Source/WebKit/NetworkProcess/PrivateClickMeasurement/PrivateClickMeasurementManager.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWRegistrationStore.cpp
  Source/WebKit/NetworkProcess/cache/NetworkCache.cpp
  Source/WebKit/NetworkProcess/cache/NetworkCacheStorage.cpp
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
  Source/WebKit/NetworkProcess/cocoa/NetworkSessionCocoa.mm
  Source/WebKit/NetworkProcess/storage/CacheStorageManager.cpp
  Source/WebKit/SaferCPPExpectations/UncountedLambdaCapturesCheckerExpectations
Labels: WebKit2

#39982 REGRESSION(285181@main): UIP crash from CheckedPtr assertion under com.apple.WebKit: -[WKPaymentAuthorizationDelegate(Protected) _didFinish] when WP dies
  Source/WebKit/Platform/cocoa/PaymentAuthorizationPresenter.h
  Source/WebKit/Platform/cocoa/WKPaymentAuthorizationDelegate.mm
  Source/WebKit/Platform/ios/PaymentAuthorizationController.mm
  Source/WebKit/Shared/ApplePay/WebPaymentCoordinatorProxy.h
Labels: merge-queue, Platform

#39966 Fix the smart pointer static analyzer warning in ProcessAssertion.cpp
  Source/WebKit/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebKit/UIProcess/ProcessAssertion.cpp
Labels: New Bugs

#39973 Deploy more smart pointers in ImageBufferShareableMappedIOSurface*Backend.cpp
  Source/WebKit/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferShareableMappedIOSurfaceBackend.cpp
  Source/WebKit/WebProcess/GPU/graphics/cocoa/ImageBufferShareableMappedIOSurfaceBitmapBackend.cpp
Labels: New Bugs

#39972 Fix the smart pointer static analysis warning in ResourceRequestBase.cpp
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/platform/network/ResourceRequestBase.cpp
Labels: New Bugs

#39965 Fix smart pointer warnings in NetworkTaskCocoa.mm
  Source/WebKit/NetworkProcess/cocoa/NetworkTaskCocoa.mm
  Source/WebKit/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
Labels: unsafe-merge-queue, New Bugs

#38784 Make HAVE_MEDIA_VOLUME_PER_ELEMENT a runtime setting through volume locked
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/html/HTMLMediaElement.h
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/platform/graphics/MediaPlayer.cpp
  Source/WebCore/platform/graphics/MediaPlayer.h
  Source/WebCore/platform/graphics/MediaPlayerPrivate.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.h
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.mm
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.messages.in
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.cpp
  Source/WebKit/WebProcess/GPU/media/MediaPlayerPrivateRemote.h
Labels: merge-queue, Media

#39945 Make type casts in RemoteLayerTreePropertyApplier.mm safe
  Source/WebCore/PAL/pal/cocoa/CoreMaterialSoftLink.h
  Source/WebKit/SaferCPPExpectations/MemoryUnsafeCastCheckerExpectations
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreePropertyApplier.mm
Labels: unsafe-merge-queue, New Bugs

#39952 [WebGPU] https://threejs.org/examples/?q=webgpu#webgpu_struct_drawindirect discards calls when it could clamp
  Source/WebGPU/WebGPU/Device.mm
Labels: WebGPU

#39979 Remove BrowsingContextGroup::ensureProcessForConnection
  Source/WebKit/UIProcess/BrowsingContextGroup.cpp
  Source/WebKit/UIProcess/BrowsingContextGroup.h
Labels: WebKit Process Model

#39985 Offlineasm scripts should be inputs to the LLInt Xcode build stages
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
Labels: JavaScriptCore

#39963 [JSC] More sophisticated wasm worklist distribution
  JSTests/slowMicrobenchmarks/gcc-loops-wasm-load.js
  JSTests/slowMicrobenchmarks/quicksort-wasm-load.js
  JSTests/slowMicrobenchmarks/richards-wasm-load.js
  JSTests/slowMicrobenchmarks/tsf-wasm-load.js
  Source/JavaScriptCore/runtime/OptionsList.h
  Source/JavaScriptCore/wasm/WasmBBQPlan.cpp
  Source/JavaScriptCore/wasm/WasmBBQPlan.h
  Source/JavaScriptCore/wasm/WasmEntryPlan.cpp
  Source/JavaScriptCore/wasm/WasmEntryPlan.h
  Source/JavaScriptCore/wasm/WasmFunctionCodeBlockGenerator.cpp
  Source/JavaScriptCore/wasm/WasmFunctionCodeBlockGenerator.h
  Source/JavaScriptCore/wasm/WasmFunctionIPIntMetadataGenerator.cpp
  Source/JavaScriptCore/wasm/WasmFunctionIPIntMetadataGenerator.h
  Source/JavaScriptCore/wasm/WasmIPIntPlan.cpp
  Source/JavaScriptCore/wasm/WasmIPIntPlan.h
  Source/JavaScriptCore/wasm/WasmLLIntPlan.cpp
  Source/JavaScriptCore/wasm/WasmLLIntPlan.h
  Source/JavaScriptCore/wasm/WasmModuleInformation.h
  Source/JavaScriptCore/wasm/WasmOMGPlan.cpp
  Source/JavaScriptCore/wasm/WasmOMGPlan.h
  Source/JavaScriptCore/wasm/WasmOSREntryPlan.cpp
  Source/JavaScriptCore/wasm/WasmOSREntryPlan.h
  Source/JavaScriptCore/wasm/WasmPlan.h
  Source/JavaScriptCore/wasm/WasmStreamingParser.cpp
  Source/JavaScriptCore/wasm/WasmStreamingParser.h
  Source/JavaScriptCore/wasm/WasmStreamingPlan.cpp
  Source/JavaScriptCore/wasm/WasmStreamingPlan.h
  Source/JavaScriptCore/wasm/WasmWorklist.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#40001 Skip accessibility/mac/text-marker-for-bounds.html on site isolation bot
  LayoutTests/platform/mac-site-isolation/TestExpectations
Labels: unsafe-merge-queue, Tools / Tests

#39994 [iOS] REGRESSION(288610@main): Captions disappear in fullscreen mode
  Source/WebCore/platform/ios/VideoPresentationInterfaceAVKitLegacy.h
  Source/WebCore/platform/ios/VideoPresentationInterfaceAVKitLegacy.mm
Labels: unsafe-merge-queue, Media

#39968 [iOS] presentingApplicationBundleIdentifier is wrong in new web processes created after presentingApplicationAuditToken changes
  Source/WTF/wtf/cocoa/RuntimeApplicationChecksCocoa.h
  Source/WTF/wtf/cocoa/RuntimeApplicationChecksCocoa.mm
  Source/WebCore/html/MediaElementSession.cpp
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebCore/page/PageConfiguration.h
  Source/WebCore/page/cocoa/PageCocoa.mm
  Source/WebCore/platform/audio/cocoa/MediaSessionManagerCocoa.mm
  Source/WebKit/Shared/WebPageCreationParameters.h
  Source/WebKit/Shared/WebPageCreationParameters.serialization.in
  Source/WebKit/Shared/WebProcessCreationParameters.h
  Source/WebKit/Shared/WebProcessCreationParameters.serialization.in
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Labels: Media

#39978 [Site Isolation] ProvisionalPageProxy should not reuse the main frame when its process does not already have a RemotePageProxy
  Source/WebKit/Shared/ProvisionalFrameCreationParameters.h
  Source/WebKit/Shared/ProvisionalFrameCreationParameters.serialization.in
  Source/WebKit/Shared/WebPageCreationParameters.h
  Source/WebKit/Shared/WebPageCreationParameters.serialization.in
  Source/WebKit/UIProcess/BrowsingContextGroup.cpp
  Source/WebKit/UIProcess/BrowsingContextGroup.h
  Source/WebKit/UIProcess/FrameProcess.cpp
  Source/WebKit/UIProcess/FrameProcess.h
  Source/WebKit/UIProcess/ProvisionalFrameProxy.cpp
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
Labels: WebKit Process Model

#40000 Site isolation should correctly reuse processes for the same site for initial loads of pages in the same BrowsingContextGroup
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
Labels: unsafe-merge-queue, WebKit Process Model

#39996 Generate logical property group predicates for CSSProperties.h/cpp
  Source/WebCore/css/CSSProperty.cpp
  Source/WebCore/css/CSSProperty.h
  Source/WebCore/css/process-css-properties.py
Labels: CSS

#39661 [Gardening] [ Sequoia wk2 ] pdf/images/jpeg2000-embed-pdf.html is flakily failing.
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue

#39924 Refactor HDR related macros to be more specific
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WTF/wtf/PlatformEnable.h
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUCompositorIntegrationImpl.cpp
  Source/WebCore/html/ImageDataStorageFormat.h
  Source/WebCore/html/canvas/GPUCanvasContextCocoa.mm
  Source/WebCore/page/PageOverlayController.cpp
  Source/WebCore/platform/graphics/ContentsFormat.cpp
  Source/WebCore/platform/graphics/ContentsFormat.h
  Source/WebCore/platform/graphics/DestinationColorSpace.cpp
  Source/WebCore/platform/graphics/DestinationColorSpace.h
  Source/WebCore/platform/graphics/Float16ArrayPixelBuffer.cpp
  Source/WebCore/platform/graphics/Float16ArrayPixelBuffer.h
  Source/WebCore/platform/graphics/GraphicsLayer.h
  Source/WebCore/platform/graphics/GraphicsLayerClient.h
  Source/WebCore/platform/graphics/ImageBufferPixelFormat.h
  Source/WebCore/platform/graphics/PixelBuffer.cpp
  Source/WebCore/platform/graphics/PixelBuffer.h
  Source/WebCore/platform/graphics/PixelBufferConversion.cpp
  Source/WebCore/platform/graphics/PixelFormat.cpp
  Source/WebCore/platform/graphics/PixelFormat.h
  Source/WebCore/platform/graphics/ca/GraphicsLayerCA.h
  Source/WebCore/platform/graphics/ca/PlatformCALayer.mm
  Source/WebCore/platform/graphics/ca/PlatformCALayerClient.h
  Source/WebCore/platform/graphics/ca/cocoa/ContentsFormatCocoa.h
  Source/WebCore/platform/graphics/ca/cocoa/PlatformCALayerCocoa.mm
  Source/WebCore/platform/graphics/cg/GraphicsContextCG.cpp
  Source/WebCore/platform/graphics/cg/NativeImageCG.cpp
  Source/WebCore/platform/graphics/cocoa/IOSurface.h
  Source/WebCore/platform/graphics/cocoa/IOSurface.mm
  Source/WebCore/platform/ios/PlatformScreenIOS.mm
  Source/WebCore/platform/mac/PlatformScreenMac.mm
  Source/WebCore/rendering/RenderLayerBacking.cpp
  Source/WebCore/rendering/RenderLayerBacking.h
  Source/WebCore/rendering/RenderLayerCompositor.cpp
  Source/WebCore/rendering/RenderLayerCompositor.h
  Source/WebKit/GPUProcess/graphics/RemoteImageBufferSet.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreePropertyApplier.mm
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDrawingArea.h
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/RemoteLayerTreeDrawingArea.mm
Labels: merge-queue, Platform

#36498 [webkitscmpy] Make parsing of trailers stricter
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/commit.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/canonicalize/__init__.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/program/canonicalize/message.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/canonicalize_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/commit_unittest.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/trace_unittest.py
Labels: unsafe-merge-queue, Tools / Tests

#39999 [Build] Use source filters from WebKitAdditions
  .sourcefilters
  .submitproject
Labels: skip-ews
