Repository WebKit/WebKit, pull requests merged in 2025-07, with the labels that each got.

#47383 REGRESSION(296481@main): chatgpt.com: box-shadow does not have rounded corners on a div with border-radius set
  LayoutTests/fast/box-shadow/negative-spread-with-huge-radii-expected.html
  LayoutTests/fast/box-shadow/negative-spread-with-huge-radii.html
  Source/WebCore/platform/graphics/LayoutRoundedRect.cpp
Labels: merge-queue, Layout and Rendering

#47338 [JSC] Enable JIT compiling by DFG for `String#codePointAt` on ARMv7
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT32_64.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
Labels: JavaScriptCore

#47416 [UnifiedPDF] [iOS] Page number indicator label is too light
  Source/WebKit/UIProcess/PDF/WKPDFPageNumberIndicator.mm
Labels: unsafe-merge-queue, PDF

#46344 overflow:hidden should not clip filter: drop-shadow().
  LayoutTests/TestExpectations
  LayoutTests/css3/filters/clipping-overflow-scroll-with-pixel-moving-effect-on.html
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/RenderLayer.h
  Source/WebCore/rendering/RenderLayerCompositor.cpp
  Source/WebCore/rendering/RenderTreeAsText.cpp
Labels: merge-queue, Layout and Rendering

#47393 AX: Test gardening, text-marker-bidi-element-arabic.html and text-marker-bidi-element-hebrew.html are failing in ITM
  LayoutTests/accessibility-isolated-tree/TestExpectations
Labels: merge-queue, Accessibility

#47392 AX: Add a failsafe to the while loop in AXCoreObject::partialOrder
  Source/WebCore/accessibility/AXCoreObject.cpp
Labels: merge-queue, Accessibility

#47415 Include Element attributes in render tree output
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/Element.h
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/RenderObject.cpp
Labels: Tools / Tests

#47381 Intrinsic size of number inputs is incorrect when spin button width is a percentage value
  LayoutTests/fast/forms/number/number-min-max-spinbutton-appearance-none-percentage-width-expected.txt
  LayoutTests/fast/forms/number/number-min-max-spinbutton-appearance-none-percentage-width.html
  LayoutTests/platform/gtk/fast/forms/number/number-min-max-spinbutton-appearance-none-percentage-width-expected.txt
  LayoutTests/platform/ios/TestExpectations
  Source/WebCore/html/HTMLInputElement.cpp
  Source/WebCore/html/HTMLInputElement.h
  Source/WebCore/html/InputType.cpp
  Source/WebCore/html/InputType.h
  Source/WebCore/html/NumberInputType.cpp
  Source/WebCore/html/NumberInputType.h
  Source/WebCore/html/SearchInputType.cpp
  Source/WebCore/html/SearchInputType.h
  Source/WebCore/rendering/RenderTextControlSingleLine.cpp
Labels: unsafe-merge-queue, Forms

#47410 Remove _UIFindInteraction staging.
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Tools/TestRunnerShared/spi/UIKitSPIForTesting.h
Labels: merge-queue, WebKit Misc.

#47342 Reduce unsafeness in WebGPU module
  Source/WebCore/Modules/WebGPU/GPUBuffer.cpp
  Source/WebCore/Modules/WebGPU/GPUCommandBuffer.cpp
  Source/WebCore/Modules/WebGPU/GPUCommandEncoder.cpp
  Source/WebCore/Modules/WebGPU/GPUCommandEncoder.h
  Source/WebCore/Modules/WebGPU/GPUComputePassEncoder.cpp
  Source/WebCore/Modules/WebGPU/GPUComputePassEncoder.h
  Source/WebCore/Modules/WebGPU/GPUDevice.cpp
  Source/WebCore/Modules/WebGPU/GPUQuerySet.h
  Source/WebCore/Modules/WebGPU/GPUQueue.cpp
  Source/WebCore/Modules/WebGPU/GPURenderPassEncoder.cpp
  Source/WebCore/Modules/WebGPU/GPURenderPassEncoder.h
  Source/WebCore/Modules/WebGPU/GPUTexture.cpp
  Source/WebCore/Modules/WebGPU/GPUTexture.h
  Source/WebCore/SaferCPPExpectations/MemoryUnsafeCastCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedLocalVarsCheckerExpectations
Labels: merge-queue, WebCore Misc.

#47368 Adopt smart pointers in NetworkResourceLoader.cpp
  Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp
  Source/WebKit/NetworkProcess/NetworkResourceLoader.h
  Source/WebKit/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
Labels: WebCore Misc.

#47015 [JSC] Extract the skeleton builder update for `NumberFormat` notation option
  Source/JavaScriptCore/runtime/IntlNumberFormat.cpp
  Source/JavaScriptCore/runtime/IntlNumberFormatInlines.h
  Source/JavaScriptCore/runtime/IntlPluralRules.cpp
Labels: JavaScriptCore

#47435 Torch is switching off for a small delay when zooming in or out
  Source/WebCore/platform/mediastream/mac/AVVideoCaptureSource.mm
Labels: merge-queue, WebRTC

#47252 [GTK][Tools] re-location issues when running javascript-core tests
  Tools/Scripts/run-javascriptcore-tests
  Tools/Scripts/run-jsc-stress-tests
  Tools/Scripts/webkitdirs.pm
Labels: unsafe-merge-queue, WebKitGTK

#47430 Reduce unsafeness in highlight module again
  Source/WebCore/Modules/highlight/AppHighlightStorage.cpp
  Source/WebCore/Modules/highlight/Highlight.cpp
  Source/WebCore/Modules/highlight/HighlightRegistry.cpp
  Source/WebCore/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncheckedLocalVarsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/dom/Document.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#47414 [EWS] Swapping bots in EWS queues
  Tools/CISupport/ews-build/config.json
Labels: unsafe-merge-queue, New Bugs

#47390 Fix inheritance of type compactness in TZone type specification
  Source/bmalloc/bmalloc/TZoneHeap.h
  Source/bmalloc/bmalloc/TZoneHeapInlines.h
Labels: merge-queue, bmalloc

#47152 [WebGPU] Move GPUAdapter isFallbackAdapter attribute to GPUAdapterInfo
  Source/WebCore/Modules/WebGPU/GPUAdapterInfo.h
  Source/WebCore/Modules/WebGPU/GPUAdapterInfo.idl
Labels: WebGPU

#47402 Safari blocking extension redirect as "known tracker".
  Source/WebCore/Modules/websockets/ThreadableWebSocketChannel.cpp
  Source/WebCore/contentextensions/ContentExtensionsBackend.cpp
  Source/WebCore/contentextensions/ContentRuleListResults.h
  Source/WebCore/css/StyleSheetContents.cpp
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/loader/LinkLoader.cpp
  Source/WebCore/loader/PingLoader.cpp
  Source/WebCore/loader/ResourceLoader.cpp
  Source/WebCore/loader/cache/CachedResourceLoader.cpp
  Source/WebCore/page/LocalDOMWindow.cpp
  Source/WebKit/NetworkProcess/NetworkLoadChecker.cpp
Labels: WebKit Extensions

#47456 Unreviewed, reverting 296874@main (61146171877c)
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
Labels: unsafe-merge-queue, WebKit Misc.

#47322 Adopt smart pointers in RemoteWebInspectorUI.cpp
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebKit/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebKit/WebProcess/Inspector/RemoteWebInspectorUI.cpp
  Source/WebKit/WebProcess/Inspector/RemoteWebInspectorUI.h
Labels: WebKit Misc.

#47348 [Form control refresh] Text/decoration colors are incorrect for button-like controls in certain cases
  LayoutTests/TestExpectations
  LayoutTests/fast/forms/form-control-refresh/button-like-controls-text-color-matches-expected.txt
  LayoutTests/fast/forms/form-control-refresh/button-like-controls-text-color-matches.html
  LayoutTests/fast/forms/form-control-refresh/submit-button-appearance-matches-button-window-inactive-expected.html
  LayoutTests/fast/forms/form-control-refresh/submit-button-appearance-matches-button-window-inactive.html
  LayoutTests/fast/forms/form-control-refresh/submit-button-text-color-disabled-state-expected.html
  LayoutTests/fast/forms/form-control-refresh/submit-button-text-color-disabled-state.html
  Source/WebCore/rendering/RenderTheme.h
  Source/WebCore/rendering/TextPaintStyle.cpp
  Source/WebCore/rendering/cocoa/RenderThemeCocoa.h
  Source/WebCore/rendering/cocoa/RenderThemeCocoa.mm
  Source/WebCore/rendering/mac/RenderThemeMac.mm
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/RenderStyleInlines.h
  Source/WebCore/rendering/style/RenderStyleSetters.h
  Source/WebCore/rendering/style/StyleRareInheritedData.cpp
  Source/WebCore/rendering/style/StyleRareInheritedData.h
Labels: New Bugs

#47461 [WPE][cross-toolchain-helper] Update to recent meta-webkit
  Tools/yocto/riscv/manifest.xml
  Tools/yocto/rpi/manifest.xml
Labels: unsafe-merge-queue, WPE WebKit

#47450 Sync `css/css-font-loading` from WPT upstream
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/css/css-font-loading/WEB_FEATURES.yml
  LayoutTests/imported/w3c/web-platform-tests/css/css-font-loading/fontface-descriptor-updates-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-font-loading/fontface-override-descriptors-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-font-loading/fontface-size-adjust-descriptor-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-font-loading/fontfaceset-clear-css-connected-2-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-font-loading/fontfaceset-delete-css-connected-2-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-font-loading/fontfaceset-has.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-font-loading/fontfaceset-load-css-wide-keywords-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-font-loading/fontfaceset-load-css-wide-keywords.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-font-loading/fontfaceset-loading-worker-crash.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-font-loading/fontfaceset-worker-fontface-crash.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-font-loading/support/fontfaceset-loading-worker.js
  LayoutTests/imported/w3c/web-platform-tests/css/css-font-loading/support/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/css/css-font-loading/w3c-import.log
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-font-loading/fontfaceset-load-css-wide-keywords-expected.txt
  LayoutTests/tests-options.json
Labels: merge-queue, CSS

#47460 _WKWarningView build broken on watchOS because of unavailable UITextViewDelegate method
  Source/WebKit/UIProcess/Cocoa/_WKWarningView.mm
Labels: New Bugs

#47442 [webkitpy] List 'websocket' as a first class AutoInstall package
  Tools/Scripts/webkitpy/__init__.py
Labels: merge-queue, Tools / Tests

#47425 AX: accessibilityPerformEscape should return whether or not the escape event was handled
  LayoutTests/accessibility/dismiss-action-returns-whether-keyevent-handled-expected.txt
  LayoutTests/accessibility/dismiss-action-returns-whether-keyevent-handled.html
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/accessibility/AccessibilityNodeObject.cpp
  Tools/WebKitTestRunner/InjectedBundle/AccessibilityUIElement.cpp
  Tools/WebKitTestRunner/InjectedBundle/AccessibilityUIElement.h
  Tools/WebKitTestRunner/InjectedBundle/Bindings/AccessibilityUIElement.idl
  Tools/WebKitTestRunner/InjectedBundle/ios/AccessibilityUIElementIOS.mm
  Tools/WebKitTestRunner/InjectedBundle/mac/AccessibilityUIElementMac.mm
Labels: merge-queue, Accessibility

#47288 SaferCpp issues in ComputePassEncoder.mm
  Source/WebGPU/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebGPU/WebGPU/ComputePassEncoder.mm
  Source/WebGPU/WebGPU/PipelineLayout.h
  Source/WebGPU/WebGPU/PipelineLayout.mm
Labels: merge-queue, WebGPU

#47428 attachShadow should use the shadow host's registry when customElementRegistry is null
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/registries/ShadowRoot-init-customElementRegistry-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/custom-elements/registries/ShadowRoot-init-customElementRegistry.html
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/Element.h
Labels: unsafe-merge-queue, New Bugs

#47391 [iOS] msn.com videos exit from fullscreen immediately
  LayoutTests/media/fullscreen-content-offset-expected.txt
  LayoutTests/media/fullscreen-content-offset.html
  Source/WebKit/UIProcess/ios/fullscreen/WKFullScreenWindowControllerIOS.mm
Labels: New Bugs

#47469 Speculative fix for PS Debug following 296736@main
  Source/WebCore/style/values/primitives/StylePrimitiveNumericTypes+Logging.h
Labels: New Bugs

#47465 [Regression@296647@main] HDR canvas is no longer HDR
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
Labels: merge-queue, Layout and Rendering

#47467 REGRESSION (295636@main): Crashes in Books underneath `DictionaryLookup::showPopup`
  Source/WebCore/editing/cocoa/DictionaryLookup.mm
Labels: unsafe-merge-queue, New Bugs

#47422 Adds Quirk to remove a misleading message from Facebook (with their agreement)
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
  Source/WebCore/page/QuirksData.h
  Source/WebCore/style/StyleAdjuster.cpp
Labels: unsafe-merge-queue, WebKit Misc.

#47431 ANGLE: FindPreciseNodes is compiled but not used on Metal
  Source/ThirdParty/ANGLE/ANGLE.xcodeproj/project.pbxproj
Labels: ANGLE

#47367 More Cocoa HAVE directives cleanup
  Source/WTF/wtf/PlatformHave.h
  Source/WTF/wtf/RetainPtr.h
  Source/WebCore/PAL/pal/spi/cf/CFNetworkSPI.h
  Source/WebCore/PAL/pal/spi/cg/ImageIOSPI.h
  Source/WebCore/PAL/pal/spi/cocoa/AVFoundationSPI.h
  Source/WebCore/page/PageGroup.cpp
  Source/WebCore/platform/cocoa/CoreLocationGeolocationProvider.mm
  Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateAVFoundationObjC.mm
  Source/WebCore/platform/graphics/cg/ImageDecoderCG.cpp
  Source/WebCore/platform/mac/PlatformScreenMac.mm
  Source/WebCore/platform/network/mac/UTIUtilities.mm
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
  Source/WebKit/Platform/cocoa/CocoaImage.mm
  Source/WebKit/Platform/cocoa/ImageAnalysisUtilities.mm
  Source/WebKit/Shared/EntryPointUtilities/Cocoa/Daemon/PCMDaemonEntryPoint.mm
  Source/WebKit/Shared/EntryPointUtilities/Cocoa/XPCService/XPCServiceMain.mm
  Source/WebKit/Shared/mac/WebEventFactory.mm
  Source/WebKit/UIProcess/mac/WebContextMenuProxyMac.mm
  Source/WebKit/UIProcess/mac/WebDataListSuggestionsDropdownMac.mm
Labels: WebKit Misc.

#47440 [css-anchor-position-1] Scroll compensation should be determined per-axis
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/anchor-scroll-006-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/anchor-scroll-007-expected.txt
  Source/WebCore/platform/BoxSides.h
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/RenderStyleInlines.h
  Source/WebCore/rendering/style/RenderStyleSetters.h
  Source/WebCore/rendering/style/StyleRareNonInheritedData.cpp
  Source/WebCore/rendering/style/StyleRareNonInheritedData.h
  Source/WebCore/style/AnchorPositionEvaluator.cpp
  Source/WebCore/style/AnchorPositionEvaluator.h
  Source/WebCore/style/StyleTreeResolver.cpp
Labels: merge-queue, CSS

#46798 Web Inspector: Add Versioned Protocol for iOS 26.0 and macOS 26.0
  Source/WebInspectorUI/UserInterface/Controllers/AnimationManager.js
  Source/WebInspectorUI/UserInterface/Controllers/TimelineManager.js
  Source/WebInspectorUI/UserInterface/Models/Animation.js
  Source/WebInspectorUI/UserInterface/Models/Instrument.js
  Source/WebInspectorUI/UserInterface/Models/ScriptInstrument.js
  Source/WebInspectorUI/UserInterface/Models/SourceMapResource.js
  Source/WebInspectorUI/UserInterface/Protocol/AnimationObserver.js
  Source/WebInspectorUI/UserInterface/Protocol/Legacy/iOS/26.0/InspectorBackendCommands.js
  Source/WebInspectorUI/UserInterface/Protocol/Legacy/macOS/26.0/InspectorBackendCommands.js
  Source/WebInspectorUI/UserInterface/Views/DOMTreeContentView.js
  Source/WebInspectorUI/Versions/Inspector-iOS-26.0.json
  Source/WebInspectorUI/Versions/Inspector-macOS-26.0.json
Labels: merge-queue, Web Inspector

#47479 object-fit: scale-down is ignored when srcset attribute and w descriptor is used
  LayoutTests/fast/hidpi/image-srcset-fit-scale-down-expected.html
  LayoutTests/fast/hidpi/image-srcset-fit-scale-down.html
  Source/WebCore/rendering/RenderReplaced.cpp
Labels: merge-queue, Layout and Rendering

#47486 Adopt more UniqueRef in Source/WebKit
  Source/WebKit/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebKit/UIProcess/Inspector/Agents/InspectorBrowserAgent.cpp
  Source/WebKit/UIProcess/Inspector/Agents/InspectorBrowserAgent.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.h
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeDrawingAreaProxyMac.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/mac/WebViewImpl.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKit/WebProcess/Plugins/PDF/PDFIncrementalLoader.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFIncrementalLoader.mm
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemoteTiledBacking.cpp
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemoteTiledBacking.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
Labels: merge-queue, WebKit Misc.

#47451 AX: aria-controls and aria-activedescendant targets outside an aria-modal shouldn't be ignored
  LayoutTests/accessibility/linked-elements-outside-aria-modal-expected.txt
  LayoutTests/accessibility/linked-elements-outside-aria-modal.html
  Source/WebCore/accessibility/AccessibilityObject.cpp
Labels: Accessibility

#47379 Add autofilledAndObscured/autofilledAndViewable APIs for autofill content scripts
  Source/WebCore/html/HTMLInputElement.idl
Labels: unsafe-merge-queue, New Bugs

#47495 [JSC] Add runtime option for ObjectAllocationSinking verbosity
  Source/JavaScriptCore/dfg/DFGObjectAllocationSinkingPhase.cpp
  Source/JavaScriptCore/runtime/OptionsList.h
Labels: JavaScriptCore

#47411 Adopt smart pointers in WebFullScreenManagerProxy.cpp, WebInspectorClient.cpp, WebInspectorInternal.cpp
  Source/WebKit/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebKit/WebProcess/Inspector/WebInspectorClient.cpp
  Source/WebKit/WebProcess/Inspector/WebInspectorInternal.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
Labels: WebKit Misc.

#46694 Web Inspector: Elements: add support for `@starting-style`
  LayoutTests/inspector/css/getMatchedStylesForNode-expected.txt
  LayoutTests/inspector/css/getMatchedStylesForNode.html
  LayoutTests/inspector/css/getMatchedStylesForNodeStartingStyleGrouping-expected.txt
  LayoutTests/inspector/css/getMatchedStylesForNodeStartingStyleGrouping.html
  Source/JavaScriptCore/inspector/protocol/CSS.json
  Source/WebCore/inspector/InspectorStyleSheet.cpp
  Source/WebCore/style/InspectorCSSOMWrappers.cpp
  Source/WebInspectorUI/UserInterface/Models/CSSGrouping.js
  Source/WebInspectorUI/UserInterface/Models/CSSStyleDeclaration.js
  Source/WebInspectorUI/UserInterface/Models/DOMNodeStyles.js
  Source/WebInspectorUI/UserInterface/Views/SpreadsheetCSSStyleDeclarationSection.js
Labels: merge-queue, Web Inspector

#47494 Occasional crash in WKMouseDeviceObserver.connectedDeviceCount.setter due to precondition violation
  Source/WebKit/UIProcess/WKMouseDeviceObserver.swift
Labels: WebKit Misc.

#46349 Some backdrop-filter WPTs are fuzzy failures.
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/filter-effects/backdrop-filter-backdrop-root-filter.html
  LayoutTests/imported/w3c/web-platform-tests/css/filter-effects/backdrop-filter-boundary.html
  LayoutTests/imported/w3c/web-platform-tests/css/filter-effects/backdrop-filter-edge-behavior-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/filter-effects/backdrop-filter-edge-behavior-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/filter-effects/backdrop-filter-edge-behavior.html
  LayoutTests/imported/w3c/web-platform-tests/css/filter-effects/backdrop-filter-edge-mirror.html
  LayoutTests/imported/w3c/web-platform-tests/css/filter-effects/backdrop-filter-edge-pixels-2.html
  LayoutTests/imported/w3c/web-platform-tests/css/filter-effects/backdrop-filter-transform.html
  LayoutTests/imported/w3c/web-platform-tests/css/filter-effects/backdrop-filters-brightness.html
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: Tools / Tests

#47508 Skip some RegExp test262 tests due to UCD changes
  JSTests/test262/config.yaml
Labels: JavaScriptCore

#47499 Fix memory leak in WebProcessPool::registerUserInstalledFonts
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
Labels: unsafe-merge-queue, WebKit Process Model

#47511 Unreviewed, reverting 296822@main (7b40858ca529)
  LayoutTests/fast/css/css-typed-om/css-builder-converter-clip-viewport-dimension-without-renderview-crash-expected.txt
  LayoutTests/fast/css/css-typed-om/css-builder-converter-clip-viewport-dimension-without-renderview-crash.html
Labels: unsafe-merge-queue, CSS

#47482 StabilityTracer: com.apple.WebKit.GPU at WebCore: void std::__1::map<std::__1::pair<WTF::MediaTime, WTF::MediaTime>, WTF::Ref<WebCore::MediaSample, WTF::RawPtrTraits<WebCore::MediaSample>
  LayoutTests/media/media-source/media-source-append-overlapping-dts-expected.txt
  LayoutTests/media/media-source/media-source-append-overlapping-dts.html
  Source/WebCore/Modules/mediasource/SampleMap.cpp
  Source/WebCore/platform/graphics/SourceBufferPrivate.cpp
  Tools/TestWebKitAPI/Tests/WebCore/SampleMap.cpp
Labels: Media

#47333 Improve the output format of check-webkit-style
  Tools/Scripts/webkitpy/common/system/logtesting.py
  Tools/Scripts/webkitpy/style/checker.py
  Tools/Scripts/webkitpy/style/checker_unittest.py
  Tools/Scripts/webkitpy/style/error_handlers_unittest.py
  Tools/Scripts/webkitpy/style/main_unittest.py
Labels: WebKit Misc.

#45748 Convert export-w3c-test-changes to use webkitscmpy/webkitbugspy
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/mocks/local/git.py
  Tools/Scripts/webkitpy/tool/commands/upload_unittest.py
  Tools/Scripts/webkitpy/w3c/test_exporter.py
  Tools/Scripts/webkitpy/w3c/test_exporter_unittest.py
Labels: Tools / Tests

#47473 AX: [iOS] empty headings should not be accessibility elements
  LayoutTests/accessibility/ios-simulator/heading-is-ax-element-expected.txt
  LayoutTests/accessibility/ios-simulator/heading-is-ax-element.html
  Source/WebCore/accessibility/ios/WebAccessibilityObjectWrapperIOS.mm
Labels: Accessibility

#47513 [GARDENING][ Debug ] TestWebKitAPI.MemoryFootprintThreshold.TestDelegateMethod (api-tests) is a flaky timeout
  Tools/TestWebKitAPI/Tests/WebKitCocoa/MemoryFootprintThreshold.mm
Labels: merge-queue

#47384 Bifurcate megapage caches into compact and non-compact variants
  Source/bmalloc/libpas/src/libpas/pas_basic_heap_page_caches.h
  Source/bmalloc/libpas/src/libpas/pas_create_basic_heap_page_caches_with_reserved_memory.c
  Source/bmalloc/libpas/src/libpas/pas_heap_config_utils_inlines.h
  Source/bmalloc/libpas/src/libpas/pas_megapage_cache.h
Labels: merge-queue, bmalloc

#47505 REGRESSION(296903@main): failed debug assertion in `AnimationTimelinesController::cacheCurrentTime()`
  Source/WebCore/animation/AnimationTimelinesController.cpp
Labels: Animations

#47498 [Style] Remove exposure of the underlying LengthType in Style::LengthWrappers
  LayoutTests/fast/css/absolute-positioned-max-content-width-expected.html
  LayoutTests/fast/css/absolute-positioned-max-content-width.html
  LayoutTests/fast/css/absolute-positioned-min-content-width-expected.html
  LayoutTests/fast/css/absolute-positioned-min-content-width.html
  Source/WebCore/SaferCPPExpectations/UncountedLambdaCapturesCheckerExpectations
  Source/WebCore/rendering/AutoTableLayout.cpp
  Source/WebCore/rendering/AutoTableLayout.h
  Source/WebCore/rendering/RenderBlockFlow.cpp
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderBox.h
  Source/WebCore/rendering/RenderDeprecatedFlexibleBox.cpp
  Source/WebCore/rendering/RenderFlexibleBox.cpp
  Source/WebCore/rendering/RenderGrid.cpp
  Source/WebCore/style/values/primitives/StyleLengthWrapper.h
Labels: merge-queue, CSS

#47502 [Form Control Refresh] Debug assert may trigger crash during slider painting
  Source/WebCore/rendering/cocoa/RenderThemeCocoa.mm
Labels: merge-queue, New Bugs

#47523 Unreviewed, reverting 295690@main (b8888bb0a749)
  LayoutTests/fast/webgpu/regression/noise-with-gama-and-chrm-chunks.png
  LayoutTests/fast/webgpu/regression/repro_293284-addEventListener-expected.txt
  LayoutTests/fast/webgpu/regression/repro_293284-addEventListener.html
  LayoutTests/fast/webgpu/regression/repro_293284-decode-expected.txt
  LayoutTests/fast/webgpu/regression/repro_293284-decode.html
  Source/WebCore/Modules/WebGPU/GPUQueue.cpp
Labels: merge-queue, WebGPU

#47471 Drop WTF_ALLOW_UNSAFE_BUFFER_USAGE in WTF::BitVector
  Source/JavaScriptCore/runtime/CachedTypes.cpp
  Source/WTF/wtf/BitVector.h
  Source/WTF/wtf/FixedBitVector.h
Labels: merge-queue

#47423 [Form Control Refresh] Focus ring clipped for native <select> buttons
  LayoutTests/fast/forms/select/select-focus-ring-is-not-clipped-expected-mismatch.html
  LayoutTests/fast/forms/select/select-focus-ring-is-not-clipped.html
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderTheme.h
  Source/WebCore/rendering/cocoa/RenderThemeCocoa.h
  Source/WebCore/rendering/cocoa/RenderThemeCocoa.mm
Labels: merge-queue, New Bugs

#47436 Implement convertVideoPixelFormatToString for VideoPixelFormat logging purposes
  Source/WebCore/platform/VideoPixelFormat.cpp
  Source/WebCore/platform/VideoPixelFormat.h
  Source/WebCore/platform/graphics/gstreamer/VideoFrameGStreamer.cpp
Labels: Media

#47488 structuredClone should preserve Error.cause
  LayoutTests/imported/w3c/web-platform-tests/html/webappapis/structured-clone/structured-clone-battery-of-tests.js
  Source/JavaScriptCore/runtime/ErrorInstance.cpp
  Source/JavaScriptCore/runtime/ErrorInstance.h
  Source/WebCore/bindings/js/SerializedScriptValue.cpp
  Source/WebCore/bindings/js/SerializedScriptValue.h
Labels: Service Workers

#47531 Adopt UniqueRef in WebCore/bindings
  Source/WebCore/bindings/js/JSDOMGlobalObject.cpp
  Source/WebCore/bindings/js/JSDOMGlobalObject.h
  Source/WebCore/bindings/js/WebCoreJSClientData.cpp
  Source/WebCore/bindings/js/WebCoreJSClientData.h
Labels: WebCore Misc.

#47533 Adopt UniqueRef in WebCore/contentextensions
  Source/WebCore/contentextensions/CombinedURLFilters.cpp
  Source/WebCore/contentextensions/CombinedURLFilters.h
Labels: WebCore Misc.

#47536 Adopt UniqueRef in WebCore/inspector
  Source/WebCore/dom/EmptyScriptExecutionContext.h
  Source/WebCore/inspector/InspectorController.cpp
  Source/WebCore/inspector/InspectorController.h
  Source/WebCore/inspector/WorkerInspectorController.cpp
  Source/WebCore/inspector/WorkerInspectorController.h
  Source/WebCore/inspector/agents/InspectorAnimationAgent.cpp
  Source/WebCore/inspector/agents/InspectorAnimationAgent.h
  Source/WebCore/inspector/agents/InspectorCPUProfilerAgent.cpp
  Source/WebCore/inspector/agents/InspectorCPUProfilerAgent.h
  Source/WebCore/inspector/agents/InspectorCSSAgent.cpp
  Source/WebCore/inspector/agents/InspectorCSSAgent.h
  Source/WebCore/inspector/agents/InspectorCanvasAgent.cpp
  Source/WebCore/inspector/agents/InspectorCanvasAgent.h
  Source/WebCore/inspector/agents/InspectorDOMAgent.cpp
  Source/WebCore/inspector/agents/InspectorDOMAgent.h
  Source/WebCore/inspector/agents/InspectorDOMStorageAgent.cpp
  Source/WebCore/inspector/agents/InspectorDOMStorageAgent.h
  Source/WebCore/inspector/agents/InspectorLayerTreeAgent.cpp
  Source/WebCore/inspector/agents/InspectorLayerTreeAgent.h
  Source/WebCore/inspector/agents/InspectorMemoryAgent.cpp
  Source/WebCore/inspector/agents/InspectorMemoryAgent.h
  Source/WebCore/inspector/agents/InspectorNetworkAgent.cpp
  Source/WebCore/inspector/agents/InspectorNetworkAgent.h
  Source/WebCore/inspector/agents/InspectorPageAgent.cpp
  Source/WebCore/inspector/agents/InspectorPageAgent.h
  Source/WebCore/inspector/agents/InspectorTimelineAgent.cpp
  Source/WebCore/inspector/agents/InspectorTimelineAgent.h
  Source/WebCore/inspector/agents/WebHeapAgent.cpp
  Source/WebCore/inspector/agents/WebHeapAgent.h
  Source/WebCore/inspector/agents/page/PageRuntimeAgent.cpp
  Source/WebCore/inspector/agents/page/PageRuntimeAgent.h
Labels: WebCore Misc.

#46702 WebKit is failing to register a service worker if script fetch is not fetched when document is being reloaded
  LayoutTests/http/wpt/service-workers/register-then-reload-expected.txt
  LayoutTests/http/wpt/service-workers/register-then-reload.html
  LayoutTests/http/wpt/service-workers/resources/lengthy-worker.py
  LayoutTests/http/wpt/service-workers/resources/register-then-reload-iframe.html
  Source/WebCore/page/Location.cpp
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
  Source/WebCore/page/QuirksData.h
  Source/WebCore/workers/service/ServiceWorkerContainer.cpp
  Source/WebCore/workers/service/ServiceWorkerContainer.h
  Source/WebCore/workers/service/ServiceWorkerJob.cpp
  Source/WebCore/workers/service/ServiceWorkerJob.h
Labels: merge-queue

#47541 Adopt more UniqueRef in clipboard, webdatabase, and page
  Source/WebCore/Modules/async-clipboard/ClipboardItem.cpp
  Source/WebCore/Modules/async-clipboard/ClipboardItem.h
  Source/WebCore/Modules/webdatabase/Database.cpp
  Source/WebCore/Modules/webdatabase/Database.h
  Source/WebCore/Modules/webdatabase/DatabaseThread.cpp
  Source/WebCore/Modules/webdatabase/DatabaseThread.h
  Source/WebCore/Modules/webdatabase/SQLTransaction.cpp
  Source/WebCore/Modules/webdatabase/SQLTransactionBackend.cpp
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AccessibilityObject.cpp
  Source/WebCore/dom/Element.cpp
  Source/WebCore/editing/FrameSelection.cpp
  Source/WebCore/editing/cocoa/DictionaryLookup.mm
  Source/WebCore/history/CachedPage.cpp
  Source/WebCore/html/BaseDateAndTimeInputType.cpp
  Source/WebCore/inspector/InspectorFrontendHost.cpp
  Source/WebCore/page/DragController.cpp
  Source/WebCore/page/EventHandler.cpp
  Source/WebCore/page/EventHandler.h
  Source/WebCore/page/OpportunisticTaskScheduler.cpp
  Source/WebCore/page/OpportunisticTaskScheduler.h
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebCore/page/ios/EventHandlerIOS.mm
  Source/WebCore/page/mac/EventHandlerMac.mm
  Source/WebCore/page/mac/ServicesOverlayController.mm
  Source/WebCore/page/writing-tools/WritingToolsController.mm
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundleFrame.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundlePage.cpp
  Source/WebKit/WebProcess/Plugins/PluginView.cpp
  Source/WebKit/WebProcess/WebCoreSupport/mac/WebEditorClientMac.mm
  Source/WebKit/WebProcess/WebPage/Cocoa/TextAnimationController.mm
  Source/WebKit/WebProcess/WebPage/Cocoa/TextCheckingControllerProxy.mm
  Source/WebKit/WebProcess/WebPage/Cocoa/WebPageCocoa.mm
  Source/WebKit/WebProcess/WebPage/WebFoundTextRangeController.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPageTesting.cpp
  Source/WebKit/WebProcess/WebPage/ios/FindControllerIOS.mm
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Source/WebKitLegacy/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
Labels: WebCore Misc.

#47549 www.ricoh-imaging.co.jp: REGRESSION (293848@main): Images does not come into view while scrolling on product page
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/animation-name-inline-style-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/animation-name-inline-style.html
  Source/WebCore/css/CSSToStyleMap.cpp
  Source/WebCore/platform/animation/Animation.cpp
  Source/WebCore/platform/animation/Animation.h
  Source/WebCore/style/Styleable.cpp
Labels: merge-queue, CSS

#47556 [GARDENING][ macOS ] imported/w3c/web-platform-tests/xhr/send-redirect.htm is a flakey text failure
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue

#47559 [GARDENING][ macOS wk2 Debug ] media/media-vp8-webm-error.html is a flakey text failure
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue

#47534 REGRESSION (290813@main): Some videos on Amazon Prime have no audio
  LayoutTests/http/tests/media/hls/hls-audio-tracks-language-expected.txt
  LayoutTests/http/tests/media/hls/hls-audio-tracks-language.html
  Source/WebCore/platform/graphics/avfoundation/AVTrackPrivateAVFObjCImpl.mm
Labels: Media

#47408 [commits.webkit.org] "Copy Link" button feels slow due to its commit validation behavior
  Tools/Scripts/libraries/reporelaypy/reporelaypy/static/js/search.js
Labels: merge-queue

#47519 [WebGPU] synchronizeResource is not needed for UMA systems
  LayoutTests/fast/webgpu/nocrash/fuzz-295370-expected.txt
  LayoutTests/fast/webgpu/nocrash/fuzz-295370.html
  Source/WebGPU/WebGPU/CommandEncoder.h
  Source/WebGPU/WebGPU/CommandEncoder.mm
Labels: merge-queue, WebGPU

#47496 text-spacing: text-autospace: should not impact WidthIterator::calculateAdditionalWidth
  Source/WebCore/platform/graphics/WidthIterator.cpp
Labels: merge-queue, Text

#47535 The share sheet launches at the very top center of the Safari window when attempting to share text
  Source/WebCore/PAL/pal/spi/mac/NSSharingServicePickerSPI.h
  Source/WebKit/UIProcess/mac/WebContextMenuProxyMac.mm
Labels: merge-queue, WebCore Misc.

#47572 [GTK][Canary] Use LLVM flatpak extension from flathub-beta
  Tools/flatpak/flatpakutils.py
Labels: unsafe-merge-queue, Tools / Tests

#47568 [WPE][GTK] Fix documentation of WebKitDeviceInfoPermissionRequest
  Source/WebKit/UIProcess/API/glib/WebKitDeviceInfoPermissionRequest.cpp
Labels: merge-queue, WebKitGTK

#47578 Unreviewed, reverting 296984@main (84d86c9e712c)
  LayoutTests/fast/webgpu/nocrash/fuzz-295370-expected.txt
  LayoutTests/fast/webgpu/nocrash/fuzz-295370.html
  Source/WebGPU/WebGPU/CommandEncoder.h
  Source/WebGPU/WebGPU/CommandEncoder.mm
Labels: WebGPU

#47579 [GARDENING][ macOS ] compositing/layer-creation/overlap-animation-container.html is a flakey text failure
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue

#47581 [GARDENING][ macOS wk2 ] loader/navigation-policy/should-open-external-urls/subframe-navigated-programatically-by-main-frame.html is a flakey text failure
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue

#47582 Update jelee53 status to committer
  metadata/contributors.json
Labels: unsafe-merge-queue, WebKit Misc.

#47575 REGRESSION(296179@main): [iOS] imported/w3c/web-platform-tests/css/css-fonts/generic-family-keywords-002.html is a constant failure
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/css/css-fonts/generic-family-keywords-002-expected.txt
  LayoutTests/platform/gtk/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/css/css-fonts/generic-family-keywords-002-expected.txt
  LayoutTests/platform/wpe/TestExpectations
Labels: merge-queue, New Bugs

#47157 [css-grid] Align grid items hit-testing order with painting order
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/grid-model/grid-item-hit-test-expected.txt
  Source/WebCore/rendering/RenderGrid.cpp
  Source/WebCore/rendering/RenderGrid.h
Labels: merge-queue, Layout and Rendering

#47583 [GARDENING][ macOS wk2 ] media/video-unmuted-after-play-holds-sleep-assertion.html is a flakey text failure
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue

#47529 Add IPC plumbing for FocusController to continue "advance focus" operations in remote processes
  Source/WebCore/page/FocusController.cpp
  Source/WebCore/page/FocusController.h
  Source/WebCore/page/RemoteFrameClient.h
  Source/WebKit/SaferCPPExpectations/ForwardDeclCheckerExpectations
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.h
  Source/WebKit/UIProcess/WebFrameProxy.messages.in
  Source/WebKit/WebProcess/WebCoreSupport/WebRemoteFrameClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebRemoteFrameClient.h
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.h
  Source/WebKit/WebProcess/WebPage/WebFrame.messages.in
Labels: merge-queue

#47589 [GARDENING][ macOS wk2 Release ] fast/scrolling/mac/scrollbars/scrollbar-width-dynamic-none-to-auto.html is a flakey image failure
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue

#47569 Revert 294623@main (GraphicsContextFiltersEnabled removal)
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/page/Page.cpp
Labels: merge-queue, Tools / Tests

#47464 Adopt smart pointers in WebInspectorUI.cpp, WebProcessCache.cpp, WebPageProxy.cpp, WebPageInspectorController.cpp
  Source/WebKit/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncheckedLocalVarsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncountedLambdaCapturesCheckerExpectations
  Source/WebKit/Shared/WebEvent.h
  Source/WebKit/UIProcess/Inspector/WebPageInspectorController.cpp
  Source/WebKit/UIProcess/Inspector/WebPageInspectorController.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebProcessCache.cpp
  Source/WebKit/UIProcess/WebProcessCache.h
  Source/WebKit/WebProcess/Inspector/WebInspectorUI.cpp
Labels: unsafe-merge-queue, WebKit Misc.

#47580 Unreviewed, reverting 296996@main (da4cdb7daf77)
  LayoutTests/fast/webgpu/nocrash/fuzz-295370-expected.txt
  LayoutTests/fast/webgpu/nocrash/fuzz-295370.html
  Source/WebGPU/WebGPU/CommandEncoder.h
  Source/WebGPU/WebGPU/CommandEncoder.mm
Labels: merge-queue, WebGPU

#47586 AX: AXObjectCache::m_nodeObjectMapping stores Markable<AXID>s when it could just store AXIDs
  Source/WebCore/accessibility/AXObjectCache.h
Labels: merge-queue, Accessibility

#47590 Further drop WTF_ALLOW_UNSAFE_BUFFER_USAGE for linux/ResourceUsageThreadLinux
  Source/WebCore/page/linux/ResourceUsageThreadLinux.cpp
Labels: merge-queue, WebKitGTK

#47558 Adopt more UniqueRef in SVG
  Source/WebCore/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebCore/rendering/svg/RenderSVGImage.cpp
  Source/WebCore/rendering/svg/RenderSVGImage.h
  Source/WebCore/rendering/svg/legacy/LegacyRenderSVGImage.cpp
  Source/WebCore/rendering/svg/legacy/LegacyRenderSVGImage.h
  Source/WebCore/svg/SVGDocumentExtensions.cpp
  Source/WebCore/svg/SVGDocumentExtensions.h
  Source/WebCore/svg/SVGElement.cpp
  Source/WebCore/svg/SVGElement.h
  Source/WebCore/svg/SVGImageElement.cpp
Labels: unsafe-merge-queue, WebCore Misc., safe-merge-queue

#47552 [CMake][LibWebRTC] Update 'libwebrtc' sources after 296961@main
  Source/ThirdParty/libwebrtc/CMakeLists.txt
  Source/ThirdParty/libwebrtc/Source/webrtc/call/rtp_config.cc
  Source/ThirdParty/libwebrtc/Source/webrtc/common_audio/allocation_counter.cc
  Source/WebCore/CMakeLists.txt
  Source/WebCore/platform/mediastream/libwebrtc/gstreamer/GStreamerVideoDecoderFactory.cpp
  Source/WebCore/platform/mediastream/libwebrtc/gstreamer/GStreamerVideoEncoderFactory.cpp
  Source/WebKit/NetworkProcess/webrtc/LibWebRTCSocketClient.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#47603 [ Sequoia x86_64 ] webanimations/document-timeline-current-time-updates-without-running-animations.html is a constant failure
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, Animations

#47601 Reduce unsafeness in permissions module
  Source/WebCore/Modules/permissions/MainThreadPermissionObserver.cpp
  Source/WebCore/Modules/permissions/PermissionController.cpp
  Source/WebCore/Modules/permissions/PermissionController.h
  Source/WebCore/Modules/permissions/Permissions.cpp
  Source/WebCore/SaferCPPExpectations/UncheckedLocalVarsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/dom/BroadcastChannel.cpp
  Source/WebCore/workers/WorkerThread.cpp
  Source/WebCore/workers/WorkerThread.h
Labels: unsafe-merge-queue, WebCore Misc.

#47598 UniqueRef adoption in parsers, workers, and legacy StorageTracker
  Source/WebCore/html/parser/HTMLDocumentParser.cpp
  Source/WebCore/html/parser/HTMLDocumentParser.h
  Source/WebCore/workers/WorkerOrWorkletGlobalScope.cpp
  Source/WebCore/workers/WorkerOrWorkletGlobalScope.h
  Source/WebCore/xml/parser/XMLDocumentParser.h
  Source/WebCore/xml/parser/XMLDocumentParserLibxml2.cpp
  Source/WebKitLegacy/Storage/StorageTracker.cpp
  Source/WebKitLegacy/Storage/StorageTracker.h
Labels: unsafe-merge-queue, WebCore Misc.

#47605 webanimations/focus-accelerated-animated-element-initially-in-overflow.html is a flaky failure
  LayoutTests/webanimations/focus-accelerated-animated-element-initially-in-overflow.html
Labels: Animations

#47453 [WTF] Provide a type hint to debuggers for opaque bitfield values where supported
  Source/WTF/wtf/Compiler.h
  Source/WebCore/rendering/style/StyleBoxData.h
  Source/WebCore/rendering/style/StyleMiscNonInheritedData.h
  Source/WebCore/rendering/style/StyleMultiColData.h
  Source/WebCore/rendering/style/StyleRareInheritedData.h
  Source/WebCore/rendering/style/StyleRareNonInheritedData.h
  Source/WebCore/rendering/style/StyleSelfAlignmentData.h
Labels: merge-queue

#47594 [macOS] [Liquid Glass] Add a UI delegate method to let clients override top inset color based on a proposed default color
  Source/WebKit/UIProcess/API/Cocoa/WKUIDelegatePrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewInternal.h
  Source/WebKit/UIProcess/API/mac/WKWebViewMac.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ObscuredContentInsets.mm
  Tools/TestWebKitAPI/cocoa/TestUIDelegate.h
  Tools/TestWebKitAPI/cocoa/TestUIDelegate.mm
Labels: merge-queue, New Bugs

#47576 REGRESSION (294844@main): Choppy scrolling on kottke.org
  Source/WebCore/platform/graphics/cg/GradientRendererCG.cpp
Labels: merge-queue, Layout and Rendering

#47616 [macOS Tahoe] 8 editing/pasteboard tests consistently time out when creating NSDraggingItem
  Source/WTF/wtf/PlatformHave.h
  Tools/DumpRenderTree/mac/DumpRenderTreeDraggingInfo.mm
  Tools/TestRunnerShared/spi/AppKitTestSPI.h
  Tools/TestWebKitAPI/mac/TestDraggingInfo.mm
Labels: New Bugs

#47614 [WPE][run-benchmark] The temporary directory used as homedir is not always cleaned
  Tools/Scripts/webkitpy/benchmark_runner/browser_driver/linux_browser_driver.py
Labels: unsafe-merge-queue, New Bugs

#47420 Drop WTF_ALLOW_UNSAFE_BUFFER_USAGE in StringImpl.cpp
  Source/WTF/wtf/text/StringImpl.cpp
  Source/WTF/wtf/text/StringImpl.h
Labels: merge-queue

#47437 Reduce unsafeness in geolocation module
  Source/WebCore/Modules/geolocation/Geolocation.cpp
  Source/WebCore/Modules/geolocation/GeolocationClient.h
  Source/WebCore/Modules/geolocation/GeolocationController.cpp
  Source/WebCore/Modules/geolocation/GeolocationController.h
  Source/WebCore/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncheckedLocalVarsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedLocalVarsCheckerExpectations
  Source/WebCore/platform/mock/GeolocationClientMock.h
  Source/WebKit/WebProcess/WebCoreSupport/WebGeolocationClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebGeolocationClient.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKitLegacy/mac/WebCoreSupport/WebGeolocationClient.h
  Source/WebKitLegacy/mac/WebCoreSupport/WebGeolocationClient.mm
  Source/WebKitLegacy/mac/WebView/WebView.mm
Labels: WebCore Misc.

#47617 Fix static analyzer warnings in WKPage
  Source/WebKit/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebKit/UIProcess/API/C/WKPage.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
Labels: merge-queue, New Bugs

#47624 Drop IPC/Persistent coders for UncheckedKeyHashMap now that they are no longer needed
  Source/WTF/wtf/persistence/PersistentCoders.h
  Source/WebKit/Platform/IPC/ArgumentCoders.h
Labels: unsafe-merge-queue, WebKit2

#47587 [Gardening][iPadOS] 3 fast/forms/datalist/* tests progressed on iPadOS platform
  LayoutTests/platform/ipad/TestExpectations
Labels: unsafe-merge-queue, Tools / Tests

#47591 Placeholder canvas does not always propagate HDR content format correctly to the layer.
  Source/WebCore/html/OffscreenCanvas.cpp
  Source/WebCore/html/canvas/CanvasRenderingContext.cpp
  Source/WebCore/html/canvas/CanvasRenderingContext.h
  Source/WebCore/html/canvas/GPUCanvasContextCocoa.h
  Source/WebCore/html/canvas/GPUCanvasContextCocoa.mm
  Source/WebCore/html/canvas/PlaceholderRenderingContext.cpp
  Source/WebCore/html/canvas/PlaceholderRenderingContext.h
  Source/WebCore/html/canvas/WebGLRenderingContextBase.cpp
  Source/WebCore/html/canvas/WebGLRenderingContextBase.h
  Source/WebCore/platform/graphics/GraphicsLayerContentsDisplayDelegate.h
  Source/WebCore/platform/graphics/ImageBufferPixelFormat.h
  Source/WebCore/platform/graphics/ca/cocoa/GraphicsLayerAsyncContentsDisplayDelegateCocoa.h
  Source/WebCore/platform/graphics/ca/cocoa/GraphicsLayerAsyncContentsDisplayDelegateCocoa.mm
  Source/WebCore/platform/graphics/texmap/coordinated/GraphicsLayerAsyncContentsDisplayDelegateCoordinated.cpp
  Source/WebCore/platform/graphics/texmap/coordinated/GraphicsLayerAsyncContentsDisplayDelegateCoordinated.h
  Source/WebKit/Platform/IPC/JSIPCBinding.h
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/Shared/RemoteLayerTree/LayerProperties.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.h
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTree.serialization.in
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreePropertyApplier.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreeTransaction.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.messages.in
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeHost.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeHost.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeNode.h
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeNode.mm
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/GraphicsLayerCARemote.mm
  Source/WebKit/WebProcess/WebPage/RemoteLayerTree/PlatformCALayerRemote.mm
Labels: merge-queue, Canvas

#47599 Adopt UniqueRef in JavaScriptCore/inspector
  Source/JavaScriptCore/inspector/JSGlobalObjectInspectorController.cpp
  Source/JavaScriptCore/inspector/JSGlobalObjectInspectorController.h
  Source/JavaScriptCore/inspector/agents/InspectorAgent.cpp
  Source/JavaScriptCore/inspector/agents/InspectorAgent.h
  Source/JavaScriptCore/inspector/agents/InspectorAuditAgent.h
  Source/JavaScriptCore/inspector/agents/InspectorConsoleAgent.cpp
  Source/JavaScriptCore/inspector/agents/InspectorConsoleAgent.h
  Source/JavaScriptCore/inspector/agents/InspectorDebuggerAgent.cpp
  Source/JavaScriptCore/inspector/agents/InspectorDebuggerAgent.h
  Source/JavaScriptCore/inspector/agents/InspectorHeapAgent.cpp
  Source/JavaScriptCore/inspector/agents/InspectorHeapAgent.h
  Source/JavaScriptCore/inspector/agents/InspectorScriptProfilerAgent.cpp
  Source/JavaScriptCore/inspector/agents/InspectorScriptProfilerAgent.h
  Source/JavaScriptCore/inspector/agents/InspectorTargetAgent.cpp
  Source/JavaScriptCore/inspector/agents/InspectorTargetAgent.h
  Source/JavaScriptCore/inspector/agents/JSGlobalObjectRuntimeAgent.cpp
  Source/JavaScriptCore/inspector/agents/JSGlobalObjectRuntimeAgent.h
  Source/JavaScriptCore/inspector/augmentable/AlternateDispatchableAgent.h
  Source/WebCore/inspector/InspectorController.cpp
  Source/WebCore/inspector/WorkerInspectorController.cpp
  Source/WebCore/inspector/agents/InspectorAnimationAgent.h
  Source/WebCore/inspector/agents/InspectorCPUProfilerAgent.h
  Source/WebCore/inspector/agents/InspectorCSSAgent.h
  Source/WebCore/inspector/agents/InspectorCanvasAgent.h
  Source/WebCore/inspector/agents/InspectorDOMAgent.h
  Source/WebCore/inspector/agents/InspectorDOMDebuggerAgent.h
  Source/WebCore/inspector/agents/InspectorDOMStorageAgent.h
  Source/WebCore/inspector/agents/InspectorIndexedDBAgent.h
  Source/WebCore/inspector/agents/InspectorLayerTreeAgent.h
  Source/WebCore/inspector/agents/InspectorMemoryAgent.h
  Source/WebCore/inspector/agents/InspectorNetworkAgent.h
  Source/WebCore/inspector/agents/InspectorPageAgent.h
  Source/WebCore/inspector/agents/InspectorTimelineAgent.h
  Source/WebCore/inspector/agents/InspectorWorkerAgent.h
  Source/WebCore/inspector/agents/page/PageRuntimeAgent.h
  Source/WebCore/inspector/agents/worker/ServiceWorkerAgent.h
  Source/WebCore/inspector/agents/worker/WorkerRuntimeAgent.h
  Source/WebKit/UIProcess/Inspector/Agents/InspectorBrowserAgent.h
  Source/WebKit/UIProcess/Inspector/WebPageInspectorController.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#47649 USE(GRAPHICS_CONTEXT_FILTERS) should be unconditionally enabled on PLATFORM(COCOA)
  Source/WTF/wtf/PlatformUse.h
Labels: unsafe-merge-queue, WebKit Misc.

#47648 [WebXR][OpenXR] Add basic frame submission to the render loop
  Source/WebKit/UIProcess/XR/openxr/PlatformXROpenXR.cpp
  Source/WebKit/UIProcess/XR/openxr/PlatformXROpenXR.h
Labels: merge-queue, Accessibility

#47459 [GTK][WPE] Protect LayerTreeHost::flushLayers() from re-entrancy
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHost.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/LayerTreeHost.h
Labels: merge-queue, WPE WebKit

#47596 Remove RemoteMediaRecorderPrivateWriter and it's Manager
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/loader/LocalFrameLoaderClient.h
  Source/WebCore/platform/MediaStrategy.cpp
  Source/WebCore/platform/MediaStrategy.h
  Source/WebCore/platform/mediarecorder/MediaRecorderPrivateWriter.cpp
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources-output.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.cpp
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.h
  Source/WebKit/GPUProcess/media/RemoteMediaRecorderPrivateWriterManager.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaRecorderPrivateWriterManager.h
  Source/WebKit/GPUProcess/media/RemoteMediaRecorderPrivateWriterManager.messages.in
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/Scripts/webkit/tests/MessageArgumentDescriptions.cpp
  Source/WebKit/Shared/WTFArgumentCoders.serialization.in
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/GPU/media/RemoteMediaRecorderPrivateWriter.cpp
  Source/WebKit/WebProcess/GPU/media/RemoteMediaRecorderPrivateWriter.h
  Source/WebKit/WebProcess/GPU/media/RemoteMediaRecorderPrivateWriterIdentifier.h
  Source/WebKit/WebProcess/GPU/media/WebMediaStrategy.cpp
  Source/WebKit/WebProcess/GPU/media/WebMediaStrategy.h
  Source/WebKit/WebProcess/Inspector/WebInspectorUIExtensionController.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebLocalFrameLoaderClient.h
Labels: merge-queue, Media

#47632 A non-invertible gradient/patternTransform make the paintserver invalid
  LayoutTests/TestExpectations
  Source/WebCore/rendering/svg/legacy/LegacyRenderSVGResourceGradient.cpp
  Source/WebCore/rendering/svg/legacy/LegacyRenderSVGResourcePattern.cpp
  Source/WebCore/svg/GradientAttributes.h
  Source/WebCore/svg/PatternAttributes.h
Labels: merge-queue, SVG

#47468 elease Assert isInTopLayer() in Element::removeFromTopLayer()
  Source/WebCore/html/HTMLElement.cpp
Labels: merge-queue, New Bugs

#47609 Reduce unsafeness in encryptedmedia module
  Source/WebCore/Modules/encryptedmedia/CDM.cpp
  Source/WebCore/Modules/encryptedmedia/MediaKeySession.cpp
  Source/WebCore/Modules/encryptedmedia/MediaKeyStatusMap.cpp
  Source/WebCore/Modules/encryptedmedia/MediaKeyStatusMap.h
  Source/WebCore/Modules/encryptedmedia/MediaKeySystemRequest.cpp
  Source/WebCore/Modules/encryptedmedia/legacy/LegacyCDM.cpp
  Source/WebCore/Modules/encryptedmedia/legacy/LegacyCDMSessionClearKey.cpp
  Source/WebCore/Modules/encryptedmedia/legacy/WebKitMediaKeySession.cpp
  Source/WebCore/Modules/encryptedmedia/legacy/WebKitMediaKeySession.h
  Source/WebCore/Modules/encryptedmedia/legacy/WebKitMediaKeys.cpp
  Source/WebCore/Modules/encryptedmedia/legacy/WebKitMediaKeys.h
  Source/WebCore/SaferCPPExpectations/ForwardDeclCheckerExpectations
  Source/WebCore/SaferCPPExpectations/NoUncheckedPtrMemberCheckerExpectations
  Source/WebCore/SaferCPPExpectations/NoUncountedMemberCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncheckedLocalVarsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedLambdaCapturesCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedLocalVarsCheckerExpectations
Labels: WebCore Misc.

#47084 Add source taintedness support for Wasm
  JSTests/stress/taintedness-tracking-bind.js
  JSTests/stress/taintedness-tracking-wasm-proxying.js
  JSTests/stress/taintedness-tracking-wasm.js
  JSTests/stress/taintedness-tracking.js
  Source/JavaScriptCore/dfg/DFGConstantFoldingPhase.cpp
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/interpreter/Interpreter.cpp
  Source/JavaScriptCore/interpreter/StackVisitor.h
  Source/JavaScriptCore/parser/SourceTaintedOrigin.cpp
  Source/JavaScriptCore/runtime/FunctionPrototype.cpp
  Source/JavaScriptCore/runtime/IntlCollatorPrototype.cpp
  Source/JavaScriptCore/runtime/IntlDateTimeFormatPrototype.cpp
  Source/JavaScriptCore/runtime/IntlNumberFormatPrototype.cpp
  Source/JavaScriptCore/runtime/JSBoundFunction.cpp
  Source/JavaScriptCore/runtime/JSBoundFunction.h
  Source/JavaScriptCore/runtime/JSModuleLoader.cpp
  Source/JavaScriptCore/runtime/VM.cpp
  Source/JavaScriptCore/runtime/VM.h
  Source/JavaScriptCore/tools/JSDollarVM.cpp
  Source/JavaScriptCore/wasm/WasmOperations.cpp
  Source/JavaScriptCore/wasm/WasmStreamingCompiler.cpp
  Source/JavaScriptCore/wasm/WasmStreamingCompiler.h
  Source/JavaScriptCore/wasm/js/JSWebAssembly.cpp
  Source/JavaScriptCore/wasm/js/JSWebAssembly.h
  Source/JavaScriptCore/wasm/js/JSWebAssemblyInstance.cpp
  Source/JavaScriptCore/wasm/js/JSWebAssemblyInstance.h
  Source/JavaScriptCore/wasm/js/WebAssemblyFunction.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyFunction.h
  Source/JavaScriptCore/wasm/js/WebAssemblyInstanceConstructor.cpp
  Source/WebCore/bindings/js/JSDOMAsyncIterator.h
  Source/WebCore/bindings/js/JSDOMGlobalObject.cpp
Labels: merge-queue, New Bugs

#47593 REGRESSION (iOS 26): Scrubbing video on multiple sites causes back/forward navigation
  Source/WTF/wtf/PlatformHave.h
  Source/WebKit/Platform/spi/ios/UIKitSPI.h
  Source/WebKit/UIProcess/ios/ViewGestureControllerIOS.mm
Labels: unsafe-merge-queue, UI Events

#47483 Add size message checks for log messages
  Source/WebKit/Shared/LogStream.cpp
  Source/WebKit/Shared/LogStream.h
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Labels: unsafe-merge-queue, WebKit Process Model

#47439 Reduce accidental usage of publicly exported absl headers
  Source/ThirdParty/libwebrtc/Configurations/libabsl.xcconfig
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.xcconfig
  Source/ThirdParty/libwebrtc/libwebrtc.xcodeproj/project.pbxproj
Labels: merge-queue, WebRTC

#47563 Use UIDesignRequiresCompatibility in DumpRenderTree plist
  Tools/DumpRenderTree/mac/Info.plist
Labels: unsafe-merge-queue, New Bugs

#47630 Reduce unsafeness in PDF code a bit more
  Source/WebCore/platform/graphics/GraphicsLayer.h
  Source/WebCore/platform/mac/DataDetectorHighlight.h
  Source/WebKit/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UnretainedCallArgsCheckerExpectations
  Source/WebKit/WebProcess/Plugins/PDF/PDFAnnotationTypeHelpers.mm
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginBase.h
  Source/WebKit/WebProcess/Plugins/PDF/PDFPluginBase.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/AsyncPDFRenderer.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFDataDetectorItem.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFDataDetectorOverlayController.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFDiscretePresentationController.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFScrollingPresentationController.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
  Source/WebKit/WebProcess/Plugins/PDF/WKAccessibilityPDFDocumentObject.mm
  Source/WebKit/WebProcess/Plugins/PluginView.cpp
  Source/WebKit/WebProcess/Plugins/PluginView.h
Labels: WebKit Misc.

#47668 [WPT export friction] export script fails to create PR because of failing to get bugzilla data
  Tools/Scripts/webkitpy/w3c/test_exporter.py
  Tools/Scripts/webkitpy/w3c/test_exporter_unittest.py
Labels: Tools / Tests

#47660 Fix unified build
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUCreateImpl.cpp
  Source/WebCore/Modules/compression/DecompressionStreamDecoder.cpp
  Source/WebCore/Modules/compression/DecompressionStreamDecoder.h
  Source/WebCore/Modules/compression/cocoa/DecompressionStreamDecoderCocoa.mm
  Source/WebCore/Modules/streams/ReadableStreamSink.cpp
  Source/WebCore/Modules/streams/WritableStream.h
  Source/WebCore/Modules/url-pattern/URLPatternTokenizer.cpp
  Source/WebCore/Modules/webaudio/AudioBufferSourceNode.cpp
  Source/WebCore/Modules/webaudio/AudioParamTimeline.cpp
  Source/WebCore/Modules/webaudio/PeriodicWave.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsEncodedVideoChunk.cpp
  Source/WebCore/accessibility/AccessibilityObject.cpp
  Source/WebCore/accessibility/AccessibilityRenderObject.cpp
  Source/WebCore/accessibility/AccessibilityTableCell.cpp
  Source/WebCore/animation/AnimationTimelinesController.h
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/page/FocusController.cpp
  Source/WebCore/page/NavigatorLoginStatus.h
  Source/WebCore/page/UndoManager.cpp
  Source/WebCore/platform/graphics/cocoa/IOSurface.mm
  Source/WebCore/platform/graphics/cocoa/WebCoreDecompressionSession.mm
Labels: unsafe-merge-queue, WebCore Misc.

#47662 Actually move on from HAVE(CGSTYLE_CREATE_SHADOW2)
  Source/WebCore/platform/graphics/filters/FEDropShadow.cpp
Labels: merge-queue, WebCore Misc.

#47284 Implement `hidden=until-found` HTML attribute and `beforematch` event
  LayoutTests/TestExpectations
  LayoutTests/editing/find/cocoa/find-in-page-in-hidden-until-found-expected.txt
  LayoutTests/editing/find/cocoa/find-in-page-in-hidden-until-found.html
  LayoutTests/editing/text-iterator/find-in-page-in-hidden-until-found-expected.txt
  LayoutTests/editing/text-iterator/find-in-page-in-hidden-until-found.html
  LayoutTests/imported/w3c/web-platform-tests/html/editing/the-hidden-attribute/beforematch-element-fragment-navigation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/editing/the-hidden-attribute/hidden-ua-stylesheet-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/trusted-types/trusted-types-event-handlers-expected.txt
  LayoutTests/platform/mac-wk1/TestExpectations
  Source/WebCore/bindings/js/WebCoreBuiltinNames.h
  Source/WebCore/dom/EventNames.json
  Source/WebCore/dom/FindRevealAlgorithms.cpp
  Source/WebCore/dom/FindRevealAlgorithms.h
  Source/WebCore/dom/GlobalEventHandlers.idl
  Source/WebCore/html/HTMLAttributeNames.in
  Source/WebCore/html/HTMLElement.cpp
  Source/WebCore/html/HTMLElement.h
  Source/WebCore/page/LocalFrameView.cpp
  Source/WebCore/style/StyleAdjuster.cpp
  Source/WebKit/WebProcess/WebPage/FindController.cpp
  Source/WebKit/WebProcess/WebPage/WebFoundTextRangeController.cpp
  Source/WebKit/WebProcess/WebPage/ios/FindControllerIOS.mm
Labels: unsafe-merge-queue, DOM

#47665 [GARDENING] REGRESSION (296903@main): [ Darwin wk2 ] fast/animation/css-animation-resuming-when-visible-with-style-change2.html is a flakey text failure
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue

#47608 [GTK][WPE] Use mpark::variant to reduce built library sizes
  Source/WTF/wtf/Variant.h
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerDataChannelHandler.h
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerRtpSenderBackend.h
  Source/WebCore/Scripts/tests/ProcessSyncData.h
  Source/WebCore/Scripts/tests/ProcessSyncData.serialization.in
  Source/WebCore/accessibility/atspi/AccessibilityAtspi.h
  Source/WebCore/platform/audio/gstreamer/PlatformRawAudioDataGStreamer.cpp
  Source/WebCore/platform/audio/gstreamer/PlatformRawAudioDataGStreamer.h
  Source/WebCore/platform/generic/KeyedDecoderGeneric.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/network/curl/CurlProxySettings.h
  Source/WebCore/platform/network/curl/CurlSSLHandle.h
  Source/WebCore/platform/network/soup/CredentialSoup.h
  Source/WebCore/platform/network/soup/ResourceRequest.h
  Source/WebKit/NetworkProcess/cache/NetworkCacheDataCurl.cpp
  Source/WebKit/Shared/curl/WebCoreArgumentCodersCurl.serialization.in
  Source/WebKit/Shared/glib/UserMessage.h
  Source/WebKit/Shared/glib/UserMessage.serialization.in
  Source/WebKit/UIProcess/API/libwpe/TouchGestureController.h
  Source/WebKit/UIProcess/Automation/gtk/WebAutomationSessionGtk.cpp
  Source/WebKit/UIProcess/Automation/libwpe/WebAutomationSessionLibWPE.cpp
  Source/WebKit/UIProcess/Automation/libwpe/WebAutomationSessionLibWPE.h
  Source/WebKit/UIProcess/Automation/libwpe/WebAutomationSessionWPE.cpp
  Source/WebKit/UIProcess/Automation/win/WebAutomationSessionWin.cpp
  Source/WebKit/UIProcess/Notifications/glib/NotificationService.cpp
  Source/WebKit/UIProcess/gtk/ClipboardGtk4.cpp
  Source/WebKit/WPEPlatform/wpe/WPEEvent.cpp
  Source/WebKit/WebProcess/InjectedBundle/API/gtk/DOM/WebKitDOMHTMLSelectElement.cpp
  Source/WebKit/WebProcess/WebCoreSupport/gtk/WebEditorClientGtk.cpp
Labels: merge-queue, New Bugs

#47672 [kill-old-processes] Remove simctl workaround from kill-old-processes
  Tools/CISupport/kill-old-processes
Labels: merge-queue, Tools / Tests

#47664 Date/time input editable component tests are failing on macOS 26
  LayoutTests/fast/forms/date/date-editable-components/date-editable-components-mouse-events.html
  LayoutTests/fast/forms/datetimelocal/datetimelocal-editable-components/datetimelocal-editable-components-mouse-events.html
Labels: Tools / Tests

#47548 bmalloc header prerequisites for modularization
  Source/bmalloc/libpas/src/libpas/pas_darwin_spi.h
  Source/bmalloc/libpas/src/libpas/pas_scavenger.h
  Source/bmalloc/libpas/src/libpas/pas_system_heap.h
Labels: merge-queue

#47680 Narrow the scope of `autoRevealsWhenFound` bit for `<details>` element
  Source/WebCore/style/StyleAdjuster.cpp
Labels: DOM

#47683 Enable auto-expanding “details” element in Safari Technology Preview
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: DOM

#47686 Unreviewed, reverting 296878@main (2cf886ecf010)
  Source/bmalloc/bmalloc/TZoneHeap.h
  Source/bmalloc/bmalloc/TZoneHeapInlines.h
Labels: merge-queue, bmalloc

#47691 Add Phinehas Fuachie to contributors.json
  metadata/contributors.json
Labels: unsafe-merge-queue, Tools / Tests, skip-ews

#47633 [Model Element] Update stagemode transform subscription calls to use latest API
  Source/WebKit/WebKitSwift/StageMode/WKStageMode.swift
Labels: merge-queue, WebKit Misc.

#47678 Inline FontCascade::protectedFonts() and remove unnecessary calls to it
  Source/WebCore/platform/graphics/FontCascade.cpp
  Source/WebCore/platform/graphics/FontCascade.h
Labels: unsafe-merge-queue, Text

#47688 Reduce architecture-dependent types in IPC interface
  LayoutTests/ipc/serialized-type-info.html
  Source/WebCore/editing/cocoa/AttributedString.h
  Source/WebCore/page/csp/CSPViolationReportBody.cpp
  Source/WebCore/page/csp/CSPViolationReportBody.h
  Source/WebCore/testing/MockWebAuthenticationConfiguration.h
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerToContextConnection.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerToContextConnection.h
  Source/WebKit/NetworkProcess/ServiceWorker/WebSWServerToContextConnection.messages.in
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Scripts/webkit/tests/WebKitPlatformGeneratedSerializers.cpp
  Source/WebKit/Shared/Cocoa/WebCoreArgumentCodersCocoa.serialization.in
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/Shared/cf/CoreIPCNumber.h
  Source/WebKit/Shared/cf/CoreIPCNumber.mm
  Source/WebKit/Shared/cf/CoreIPCNumber.serialization.in
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.messages.in
Labels: unsafe-merge-queue, WebKit Misc.

#47682 Rendering SDR thumbnails of HDR images is slow.
  Source/WebKit/Shared/ImageOptions.h
  Source/WebKit/Shared/ImageOptions.serialization.in
  Source/WebKit/Shared/WebImage.cpp
  Source/WebKit/Shared/WebImage.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKThumbnailView.mm
  Source/WebKit/UIProcess/API/glib/WebKitWebView.cpp
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/mac/WKTextAnimationManagerMac.mm
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
Labels: New Bugs

#47677 REGRESSION (296901@main): Debug assertion under `ScrollingTreeStickyNode::findConstrainingRect` when opening Web Inspector
  LayoutTests/compositing/scrolling/async-overflow-scrolling/sticky-in-overflow-scroller-expected.html
  LayoutTests/compositing/scrolling/async-overflow-scrolling/sticky-in-overflow-scroller.html
  Source/WebCore/page/scrolling/ScrollingStateStickyNode.cpp
  Source/WebCore/page/scrolling/ScrollingTreeStickyNode.cpp
  Source/WebCore/page/scrolling/ScrollingTreeStickyNode.h
  Source/WebCore/page/scrolling/cocoa/ScrollingTreeStickyNodeCocoa.h
  Source/WebCore/page/scrolling/cocoa/ScrollingTreeStickyNodeCocoa.mm
  Source/WebCore/page/scrolling/coordinated/ScrollingTreeStickyNodeCoordinated.cpp
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.cpp
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteScrollingCoordinatorProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxyInternals.h
Labels: New Bugs

#47679 if-ancestor-frame-url won't work with site isolation
  Source/WebCore/contentextensions/ContentExtensionCompiler.cpp
  Source/WebCore/contentextensions/ContentExtensionParser.cpp
  Source/WebCore/contentextensions/ContentExtensionRule.h
  Source/WebCore/contentextensions/ContentExtensionsBackend.cpp
  Source/WebCore/loader/ResourceLoadInfo.h
  Source/WebKit/UIProcess/Extensions/Cocoa/_WKWebExtensionDeclarativeNetRequestRule.mm
  Tools/TestWebKitAPI/Tests/WebCore/ContentExtensions.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIDeclarativeNetRequest.mm
Labels: WebKit Extensions

#47666 [WebXR][OpenXR] XR_ERROR_SESSION_NOT_RUNNING issued sometimes when starting XR sessions
  Source/WebKit/UIProcess/XR/openxr/PlatformXROpenXR.cpp
  Source/WebKit/UIProcess/XR/openxr/PlatformXROpenXR.h
Labels: merge-queue, New Bugs

#47659 [WebXR][OpenXR] Make graphics binding creation more secure
  Source/WebKit/UIProcess/XR/openxr/PlatformXROpenXR.cpp
  Source/WebKit/UIProcess/XR/openxr/PlatformXROpenXR.h
Labels: merge-queue, New Bugs

#44915 Apply dynamic-range-limit to HDR WebGPU canvas
  LayoutTests/http/tests/webgpu/webgpu/web_platform/canvas/dynamic-range-limit-constrained-disabled-expected.txt
  LayoutTests/http/tests/webgpu/webgpu/web_platform/canvas/dynamic-range-limit-constrained-disabled.html
  LayoutTests/http/tests/webgpu/webgpu/web_platform/canvas/dynamic-range-limit-expected.txt
  LayoutTests/http/tests/webgpu/webgpu/web_platform/canvas/dynamic-range-limit.html
  Source/WebCore/html/HTMLCanvasElement.cpp
  Source/WebCore/html/HTMLCanvasElement.h
  Source/WebCore/html/canvas/CanvasRenderingContext.h
  Source/WebCore/html/canvas/GPUCanvasContextCocoa.h
  Source/WebCore/html/canvas/GPUCanvasContextCocoa.mm
  Source/WebCore/rendering/RenderHTMLCanvas.cpp
  Source/WebCore/rendering/RenderHTMLCanvas.h
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
Labels: merge-queue, WebGPU

#47294 [Skia] Variation selector should take precedence over font-variant-emoji
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/platform/graphics/FontCascade.cpp
  Source/WebCore/platform/graphics/FontCascade.h
  Source/WebCore/platform/graphics/skia/FontCascadeSkia.cpp
Labels: unsafe-merge-queue, Platform

#47713 Revert "REGRESSION (276904@main): Breaks https://www.tax.ny.gov/online/."
  JSTests/stress/function-toString-for-accessor-properties.js
  JSTests/test262/expectations.yaml
  LayoutTests/imported/w3c/web-platform-tests/html/dom/idlharness.https_include=(Document_Window)-expected.txt
  LayoutTests/js/basic-strict-mode-expected.txt
  LayoutTests/js/dom/native-bindings-descriptors-expected.txt
  LayoutTests/js/dom/native-bindings-descriptors.html
  LayoutTests/js/script-tests/basic-strict-mode.js
  LayoutTests/js/script-tests/function-toString-vs-name.js
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/dom/idlharness.https_include=(Document_Window)-expected.txt
  Source/JavaScriptCore/runtime/JSCustomGetterFunction.cpp
  Source/JavaScriptCore/runtime/JSCustomSetterFunction.cpp
Labels: merge-queue, JavaScriptCore

#47627 Reduce unsafeness in StreamClientConnection and WebViewImpl
  Source/WebKit/Platform/IPC/StreamClientConnection.cpp
  Source/WebKit/Platform/IPC/StreamClientConnection.h
  Source/WebKit/SaferCPPExpectations/NoUncheckedPtrMemberCheckerExpectations
  Source/WebKit/SaferCPPExpectations/NoUncountedMemberCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
Labels: WebKit Misc.

#47715 Unreviewed, reverting 297105@main (959ddfba0017)
  LayoutTests/http/tests/webgpu/webgpu/web_platform/canvas/dynamic-range-limit-constrained-disabled-expected.txt
  LayoutTests/http/tests/webgpu/webgpu/web_platform/canvas/dynamic-range-limit-constrained-disabled.html
  LayoutTests/http/tests/webgpu/webgpu/web_platform/canvas/dynamic-range-limit-expected.txt
  LayoutTests/http/tests/webgpu/webgpu/web_platform/canvas/dynamic-range-limit.html
  Source/WebCore/html/HTMLCanvasElement.cpp
  Source/WebCore/html/HTMLCanvasElement.h
  Source/WebCore/html/canvas/CanvasRenderingContext.h
  Source/WebCore/html/canvas/GPUCanvasContextCocoa.h
  Source/WebCore/html/canvas/GPUCanvasContextCocoa.mm
  Source/WebCore/rendering/RenderHTMLCanvas.cpp
  Source/WebCore/rendering/RenderHTMLCanvas.h
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
Labels: unsafe-merge-queue, WebGPU
