Repository WebKit/WebKit, pull requests merged in 2025-09, with the labels that each got.

#50004 [Skia] Implement font collection / fragment identifiers
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/svg/custom/glyph-transformation-with-hkern-expected.txt
  LayoutTests/platform/glib/svg/custom/svg-fonts-without-missing-glyph-expected.txt
  LayoutTests/platform/glib/svg/foreignObject/text-tref-02-b-expected.txt
  LayoutTests/platform/glib/svg/text/text-overflow-ellipsis-svgfont-expected.txt
  LayoutTests/platform/glib/svg/text/text-overflow-ellipsis-svgfont-kerning-ligatures-expected.txt
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1-SE/paths-dom-02-f-expected.txt
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1-SE/types-dom-04-b-expected.txt
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1/filters-light-04-f-expected.txt
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1/filters-turb-02-f-expected.txt
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1/fonts-elem-03-b-expected.txt
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1/fonts-elem-04-b-expected.txt
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1/fonts-elem-07-b-expected.txt
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1/text-intro-01-t-expected.txt
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1/text-intro-02-b-expected.txt
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1/text-intro-03-b-expected.txt
  LayoutTests/platform/gtk/svg/W3C-SVG-1.1/text-intro-04-t-expected.txt
  LayoutTests/platform/win/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
  LayoutTests/platform/wpe/svg/W3C-SVG-1.1-SE/paths-dom-02-f-expected.txt
  LayoutTests/platform/wpe/svg/W3C-SVG-1.1-SE/types-dom-04-b-expected.txt
  LayoutTests/platform/wpe/svg/W3C-SVG-1.1/filters-light-04-f-expected.txt
  LayoutTests/platform/wpe/svg/W3C-SVG-1.1/filters-turb-02-f-expected.txt
  LayoutTests/platform/wpe/svg/W3C-SVG-1.1/fonts-elem-03-b-expected.txt
  LayoutTests/platform/wpe/svg/W3C-SVG-1.1/fonts-elem-04-b-expected.txt
  LayoutTests/platform/wpe/svg/W3C-SVG-1.1/fonts-elem-07-b-expected.txt
  LayoutTests/platform/wpe/svg/W3C-SVG-1.1/text-intro-01-t-expected.txt
  LayoutTests/platform/wpe/svg/W3C-SVG-1.1/text-intro-02-b-expected.txt
  LayoutTests/platform/wpe/svg/W3C-SVG-1.1/text-intro-03-b-expected.txt
  LayoutTests/platform/wpe/svg/W3C-SVG-1.1/text-intro-04-t-expected.txt
  Source/WebCore/platform/graphics/skia/FontCustomPlatformDataSkia.cpp
Labels: unsafe-merge-queue, WebKitGTK, GLib Suggested Backport - 2.48, GLib Suggested Backport - 2.50

#49989 Adopt C++ Concepts in wtf/HashMap
  Source/WTF/wtf/CheckedPtr.h
  Source/WTF/wtf/GetPtr.h
  Source/WTF/wtf/HashMap.h
Labels: merge-queue

#48012 [WebRTC] Enable assembly optimizations in BoringSSL build
  LayoutTests/imported/w3c/web-platform-tests/webrtc/protocol/crypto-suite.https-expected.txt
  Source/ThirdParty/libwebrtc/Configurations/boringssl.xcconfig
  Source/ThirdParty/libwebrtc/libwebrtc.xcodeproj/project.pbxproj
Labels: merge-queue, WebRTC

#50125 [JSC] `Math.sumPrecise` Enforces Maximum Iterations and Throws `RangeError`
  Source/JavaScriptCore/runtime/MathObject.cpp
Labels: merge-queue, JavaScriptCore

#50115 [GStreamer][Debug] ASSERT in imported/w3c/web-platform-tests/webrtc/RTCDTMFSender-insertDTMF.https.html
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerRtpSenderBackend.h
Labels: merge-queue, Platform, GLib Suggested Backport - 2.50

#50123 [GStreamer] Propagate media element ID changes to pipeline name
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/platform/graphics/MediaPlayer.cpp
  Source/WebCore/platform/graphics/MediaPlayer.h
  Source/WebCore/platform/graphics/MediaPlayerPrivate.h
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.h
Labels: merge-queue, Platform

#50139 [WPE] DisplayWayland API tests not longer fail on the new infra
  Tools/TestWebKitAPI/glib/TestExpectations.json
Labels: unsafe-merge-queue, New Bugs

#50129 MediaControlsHost's lifetime can extend past its HTMLMediaElement
  Source/WebCore/Modules/mediacontrols/MediaControlsHost.cpp
  Source/WebCore/Modules/mediacontrols/MediaControlsHost.h
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/html/HTMLMediaElement.h
Labels: merge-queue, Media

#50140 [WPE][CMake] Disable MediaSession on Android
  Source/cmake/OptionsWPE.cmake
Labels: unsafe-merge-queue, Tools / Tests, GLib Suggested Backport - 2.48, GLib Suggested Backport - 2.50

#50143 Replace 'version 2,1' with 'version 2.1' in license headers
  Source/WebCore/crypto/algorithms/CryptoAlgorithmX25519.cpp
  Source/WebCore/crypto/algorithms/CryptoAlgorithmX25519.h
  Source/WebCore/crypto/cocoa/CryptoAlgorithmX25519Cocoa.cpp
  Source/WebCore/crypto/gcrypt/CryptoAlgorithmEd25519GCrypt.cpp
  Source/WebCore/crypto/gcrypt/CryptoAlgorithmX25519GCrypt.cpp
  Source/WebCore/crypto/gcrypt/CryptoKeyOKPGCrypt.cpp
  Source/WebCore/crypto/gcrypt/GCryptRFC7748.cpp
  Source/WebCore/crypto/gcrypt/GCryptRFC7748.h
  Source/WebCore/crypto/gcrypt/GCryptRFC8032.cpp
  Source/WebCore/crypto/gcrypt/GCryptRFC8032.h
  Source/WebCore/crypto/parameters/CryptoAlgorithmX25519Params.h
Labels: merge-queue, WebCore Misc., GLib Suggested Backport - 2.50

#45969 Refactor jitMemcpy into atomic and non-atomic versions
  Source/JavaScriptCore/assembler/ARM64Assembler.h
  Source/JavaScriptCore/assembler/ARMv7Assembler.h
  Source/JavaScriptCore/assembler/AbstractMacroAssembler.h
  Source/JavaScriptCore/assembler/AssemblerCommon.h
  Source/JavaScriptCore/assembler/LinkBuffer.cpp
  Source/JavaScriptCore/assembler/MacroAssemblerARM64.h
  Source/JavaScriptCore/assembler/MacroAssemblerARMv7.h
  Source/JavaScriptCore/assembler/MacroAssemblerRISCV64.h
  Source/JavaScriptCore/assembler/MacroAssemblerX86_64.h
  Source/JavaScriptCore/assembler/RISCV64Assembler.h
  Source/JavaScriptCore/assembler/X86Assembler.h
  Source/JavaScriptCore/bytecode/CallLinkInfo.cpp
  Source/JavaScriptCore/dfg/DFGOSRExit.cpp
  Source/JavaScriptCore/ftl/FTLLazySlowPath.cpp
  Source/JavaScriptCore/ftl/FTLOSRExitCompiler.cpp
  Source/JavaScriptCore/jit/ExecutableAllocator.h
  Source/JavaScriptCore/wasm/WasmBBQPlan.cpp
  Source/JavaScriptCore/wasm/WasmCalleeGroup.cpp
  Source/JavaScriptCore/wasm/WasmIPIntPlan.cpp
  Source/JavaScriptCore/wasm/WasmOMGPlan.cpp
  Source/JavaScriptCore/wasm/WasmOSREntryPlan.cpp
  Source/WTF/wtf/OptionSet.h
Labels: merge-queue, JavaScriptCore

#50066 More smart pointer adoption in WebViewImpl.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
Labels: merge-queue, New Bugs

#50013 [JSC] Adjust max length of wasm resizable buffer on 32-bit
  JSTests/wasm/js-api/memory-toResizableBuffer.js
  Source/JavaScriptCore/wasm/js/JSWebAssemblyMemory.cpp
Labels: merge-queue, JavaScriptCore

#50149 Resync `mathml` from WPT Upstream
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/mrow/semantics-005-expected.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/mrow/semantics-005-ref.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/mrow/semantics-005.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/operators/display-operator-min-height-default-font-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/operators/display-operator-min-height-default-font.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/operators/display-operator-min-height-no-workaround-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/operators/display-operator-min-height-no-workaround.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/operators/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/scripts/cramped-001-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/presentation-markup/scripts/cramped-001.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/parsing/math-depth-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/parsing/math-depth-computed.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/parsing/math-depth-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/parsing/math-depth-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/parsing/math-depth-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/parsing/math-depth-valid.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/parsing/math-shift-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/parsing/math-shift-computed.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/parsing/math-shift-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/parsing/math-shift-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/parsing/math-shift-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/parsing/math-shift-valid.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/parsing/math-style-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/parsing/math-style-computed.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/parsing/math-style-invalid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/parsing/math-style-invalid.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/parsing/math-style-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/parsing/math-style-valid.html
  LayoutTests/imported/w3c/web-platform-tests/mathml/relations/css-styling/parsing/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/mathml/tools/largeop.py
Labels: merge-queue, MathML

#49805 Incorrect handling of some PNG pixel formats in WebGPU
  Source/WebCore/Modules/WebGPU/GPUQueue.cpp
Labels: merge-queue, WebGPU

#50079 [WebGPU] Add mechanism for automatically generated reductions for compilation failures
  Source/WebGPU/WebGPU/ComputePipeline.mm
  Source/WebGPU/WebGPU/Pipeline.h
  Source/WebGPU/WebGPU/Pipeline.mm
  Source/WebGPU/WebGPU/RenderPipeline.mm
Labels: merge-queue, WebGPU

#50155 Resync `html/semantics/document-metadata` from WPT Upstream
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/document-metadata/the-link-element/link-multiple-error-events-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/document-metadata/the-link-element/link-multiple-error-events.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/document-metadata/the-link-element/link-multiple-load-events-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/document-metadata/the-link-element/link-multiple-load-events.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/document-metadata/the-link-element/stylesheet.py
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/document-metadata/the-link-element/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/document-metadata/the-title-element/title-multiple-elements-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/document-metadata/the-title-element/title-multiple-elements.html
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/document-metadata/the-title-element/w3c-import.log
Labels: unsafe-merge-queue, DOM

#49342 Resync `html/anonymous-iframe` from WPT upstream
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/anonymous-iframe-popup.tentative.https.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/anonymous-iframe-popup.tentative.https.window.js
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/anonymous-window.tentative.https.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/anonymous-window.tentative.https.window.js
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/cache-storage.tentative.https.window.js
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/cookie-store.tentative.https.window.js
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/cookie.tentative.https.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/cookie.tentative.https.window.js
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/embedding.tentative.https.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/embedding.tentative.https.window.js
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/fenced-frame-bypass.tentative.https.window.js
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/fenced-frame.tentative.https.window.js
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/hasStorageAccess.tentative.https.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/hasStorageAccess.tentative.https.window.html
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/hasStorageAccess.tentative.https.window.js
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/indexeddb.tentative.https.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/indexeddb.tentative.https.window.js
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/initial-empty-document.tentative.https.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/initial-empty-document.tentative.https.window.js
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/local-storage-initial-empty-document.tentative.https.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/local-storage-initial-empty-document.tentative.https.window.html
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/local-storage-initial-empty-document.tentative.https.window.js
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/local-storage.tentative.https.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/local-storage.tentative.https.window.js
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/requestStorageAccess.tentative.https.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/requestStorageAccess.tentative.https.window.html
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/requestStorageAccess.tentative.https.window.js
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/requestStorageAccessFor.tentative.https.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/requestStorageAccessFor.tentative.https.window.html
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/requestStorageAccessFor.tentative.https.window.js
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/require-corp-embed-anonymous-iframe.tentative.https.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/require-corp-embed-anonymous-iframe.tentative.https.window.js
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/resources/common.js
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/resources/embedding-test.js
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/serviceworker-partitioning.tentative.https.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/serviceworker-partitioning.tentative.https.window.js
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/session-storage.tentative.https.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/session-storage.tentative.https.window.js
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/sharedworker-partitioning.tentative.https.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/sharedworker-partitioning.tentative.https.window.js
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/web-lock.tentative.https.window.js
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/worker-cookies.tentative.https.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/worker-cookies.tentative.https.window.html
  LayoutTests/imported/w3c/web-platform-tests/html/anonymous-iframe/worker-cookies.tentative.https.window.js
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/html/anonymous-iframe/requestStorageAccess.tentative.https.window-expected.txt
  LayoutTests/platform/gtk/imported/w3c/web-platform-tests/html/anonymous-iframe/require-corp-embed-anonymous-iframe.tentative.https.window-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/html/anonymous-iframe/local-storage.tentative.https.window-expected.txt
  LayoutTests/platform/wpe/imported/w3c/web-platform-tests/html/anonymous-iframe/requestStorageAccess.tentative.https.window-expected.txt
  LayoutTests/platform/wpe/imported/w3c/web-platform-tests/html/anonymous-iframe/require-corp-embed-anonymous-iframe.tentative.https.window-expected.txt
Labels: unsafe-merge-queue, WebKit Misc.

#50146 REGRESSION(299386@main): [GLib] Do not cancel the connection when stopping the write socket monitor
  Source/WTF/wtf/glib/GSocketMonitor.cpp
  Source/WTF/wtf/glib/GSocketMonitor.h
Labels: unsafe-merge-queue, WebKitGTK

#49922 Skip setting content box dimensions.
  LayoutTests/fast/css-grid-layout/grid-crash-out-of-flow-positioned-element-002-expected.txt
  LayoutTests/fast/css-grid-layout/grid-crash-out-of-flow-positioned-element-002.html
  Source/WebCore/layout/integration/LayoutIntegrationBoxGeometryUpdater.cpp
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.cpp
Labels: merge-queue, New Bugs

#50159 [Gardening] Enable mathml tests now passing
  LayoutTests/TestExpectations
Labels: merge-queue, MathML

#50055 [WPE] WPE Platform: do not set the current mode on every frame
  Source/WebKit/WPEPlatform/wpe/drm/WPEDRM.cpp
  Source/WebKit/WPEPlatform/wpe/drm/WPEDRM.h
  Source/WebKit/WPEPlatform/wpe/drm/WPEScreenDRM.cpp
  Source/WebKit/WPEPlatform/wpe/drm/WPEScreenDRMPrivate.h
  Source/WebKit/WPEPlatform/wpe/drm/WPEViewDRM.cpp
Labels: unsafe-merge-queue, WPE WebKit

#49776 Part 4: Refactor implementation of TemporalPlainDate/prototype/add
  Source/JavaScriptCore/runtime/ISO8601.cpp
  Source/JavaScriptCore/runtime/ISO8601.h
  Source/JavaScriptCore/runtime/TemporalCalendar.cpp
  Source/JavaScriptCore/runtime/TemporalCalendar.h
  Source/JavaScriptCore/runtime/TemporalDuration.cpp
  Source/JavaScriptCore/runtime/TemporalDuration.h
  Source/JavaScriptCore/runtime/TemporalObject.h
  Source/JavaScriptCore/runtime/TemporalPlainDatePrototype.cpp
Labels: merge-queue, JavaScriptCore

#50019 [SPI Checking] Track staging API separately from temporary SPI
  Source/WTF/wtf/PlatformHave.h
  Source/WebCore/Configurations/AllowedSPI.toml
  Tools/Scripts/libraries/webkitapipy/webkitapipy/allow.py
Labels: unsafe-merge-queue, Tools / Tests

#50108 AX: Optimize hot functions AXObjectCache::{get(Node&), getOrCreate(Node&)} by inlining get inside getOrCreate and eliminating one hashmap lookup
  Source/WebCore/accessibility/AXListHelpers.cpp
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AXObjectCache.h
  Source/WebCore/accessibility/AXObjectCacheInlines.h
  Source/WebCore/accessibility/AXSearchManager.cpp
  Source/WebCore/accessibility/AccessibilityImageMapLink.cpp
  Source/WebCore/accessibility/AccessibilityListBoxOption.cpp
  Source/WebCore/accessibility/AccessibilityMathMLElement.cpp
  Source/WebCore/accessibility/AccessibilityMenuListOption.cpp
  Source/WebCore/accessibility/AccessibilityMenuListPopup.cpp
  Source/WebCore/accessibility/AccessibilityNodeObject.cpp
  Source/WebCore/accessibility/AccessibilityObject.cpp
  Source/WebCore/accessibility/AccessibilityRenderObject.cpp
  Source/WebCore/accessibility/AccessibilitySVGObject.cpp
  Source/WebCore/accessibility/AccessibilityScrollView.cpp
  Source/WebCore/accessibility/AccessibilityTableCell.cpp
  Source/WebCore/accessibility/cocoa/AccessibilityObjectCocoa.mm
  Source/WebCore/accessibility/ios/WebAccessibilityObjectWrapperIOS.mm
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.cpp
  Source/WebCore/accessibility/mac/AccessibilityObjectMac.mm
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperMac.mm
  Source/WebCore/dom/Document.cpp
  Source/WebCore/inspector/InspectorAuditAccessibilityObject.cpp
  Source/WebCore/inspector/InspectorOverlay.cpp
  Source/WebCore/inspector/agents/InspectorDOMAgent.cpp
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/PrintContext.cpp
  Source/WebCore/testing/Internals.cpp
  Source/WebKit/WebProcess/Automation/WebAutomationSessionProxy.cpp
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
  Source/WebKit/WebProcess/Plugins/PDF/WKAccessibilityPDFDocumentObject.mm
Labels: merge-queue, Accessibility

#49824 [macOS] Increase contrast setting requires Safari restart for colors to update, system accent color change does not trigger repaint
  LayoutTests/accessibility/mac/increase-contrast-system-color-changes-expected-mismatch.html
  LayoutTests/accessibility/mac/increase-contrast-system-color-changes.html
  LayoutTests/platform/mac-wk1/TestExpectations
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebCore/rendering/mac/RenderThemeMac.mm
  Source/WebKit/Shared/AuxiliaryProcess.h
  Source/WebKit/Shared/Cocoa/AuxiliaryProcessCocoa.mm
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Labels: unsafe-merge-queue, New Bugs

#50152 ShareableBitmap should be able to copy images with non-output color spaces
  Source/WebCore/PAL/pal/spi/cg/CoreGraphicsSPI.h
  Source/WebCore/platform/graphics/ShareableBitmap.h
  Source/WebCore/platform/graphics/cairo/ShareableBitmapCairo.cpp
  Source/WebCore/platform/graphics/cg/ImageUtilitiesCG.cpp
  Source/WebCore/platform/graphics/cg/ShareableBitmapCG.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKActivatedElementInfo.mm
  Source/WebKit/UIProcess/API/Cocoa/_WKTargetedElementInfo.mm
  Source/WebKit/UIProcess/Automation/cocoa/WebAutomationSessionCocoa.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/ios/PageClientImplIOS.mm
  Source/WebKit/UIProcess/ios/WKActionSheetAssistant.mm
  Source/WebKit/UIProcess/ios/WKContentView.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/mac/WebContextMenuProxyMac.mm
  Source/WebKit/UIProcess/mac/WebPageProxyMac.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKit/WebProcess/GPU/media/RemoteImageDecoderAVF.cpp
  Source/WebKit/mac/WebKit2.order
Labels: merge-queue, Canvas

#50196 [GARDENING][ macOS ] http/tests/media/modern-media-controls/time-control/less-than-10-minutes.html is a constant timeout
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue

#49841 Create new files for sandbox defines
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.GPU.sb.in
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.Networking.sb.in
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/Shared/Sandbox/iOS/gpu-defines.sb
  Source/WebKit/Shared/Sandbox/iOS/networking-defines.sb
  Source/WebKit/Shared/Sandbox/iOS/webcontent-defines.sb
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: unsafe-merge-queue, WebKit Process Model

#50103 [JSC] Wasm IPInt do not need to enter OSR from prologue
  Source/JavaScriptCore/wasm/WasmIPIntSlowPaths.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#50182 [JSC] Avoid dangling pointers in WeakBlock list
  Source/JavaScriptCore/heap/Heap.cpp
  Source/JavaScriptCore/heap/MarkedSpace.cpp
  Source/JavaScriptCore/heap/MarkedSpace.h
  Source/JavaScriptCore/heap/WeakBlock.cpp
  Source/JavaScriptCore/heap/WeakSet.cpp
  Source/WTF/wtf/DoublyLinkedList.h
Labels: merge-queue, JavaScriptCore

#50184 Enable by default Wasm JS String Builtins
  Source/JavaScriptCore/runtime/OptionsList.h
Labels: merge-queue, JavaScriptCore

#50070 dNR: make sure every rule ID is unique
  Source/WebCore/en.lproj/Localizable.strings
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/_WKWebExtensionDeclarativeNetRequestRule.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/_WKWebExtensionDeclarativeNetRequestTranslator.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIDeclarativeNetRequest.mm
Labels: WebKit Extensions

#50158 <view> elements should apply to the root element
  LayoutTests/svg/as-image/resources/view-in-inner-svg.svg
  LayoutTests/svg/as-image/view-in-inner-svg-expected.html
  LayoutTests/svg/as-image/view-in-inner-svg.html
  Source/WebCore/svg/SVGSVGElement.cpp
Labels: merge-queue, SVG

#49991 Reduce InjectedBundlePageUIClient API surface area
  Source/WebCore/loader/EmptyClients.h
  Source/WebCore/page/ChromeClient.h
  Source/WebCore/page/PageConsoleClient.cpp
  Source/WebKit/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebKit/UIProcess/API/Cocoa/WKUIDelegatePrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewConfiguration.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewConfigurationPrivate.h
  Source/WebKit/UIProcess/Cocoa/UIDelegate.h
  Source/WebKit/UIProcess/Cocoa/UIDelegate.mm
  Source/WebKit/WebProcess/InjectedBundle/API/APIInjectedBundlePageUIClient.h
  Source/WebKit/WebProcess/InjectedBundle/InjectedBundlePageUIClient.cpp
  Source/WebKit/WebProcess/InjectedBundle/InjectedBundlePageUIClient.h
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebChromeClient.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Tools/TestWebKitAPI/SourcesCocoa.txt
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKitCocoa/BundlePageConsoleMessage.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/BundlePageConsoleMessageWithDetails.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ConsoleMessageWithDetails.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/DidResignInputElementStrongPasswordAppearance.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/EventAttribution.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/FTP.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/LegacyPDFPluginTests.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/PDFTestHelpers.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/UIDelegate.mm
  Tools/TestWebKitAPI/cocoa/TestUIDelegate.h
  Tools/TestWebKitAPI/cocoa/TestUIDelegate.mm
Labels: unsafe-merge-queue, WebKit API

#50186 [JSC] Make WasmIPInt's tierSupportsSIMD a runtime option (useWasmIPIntSIMD)
  Source/JavaScriptCore/runtime/OptionsList.h
  Source/JavaScriptCore/wasm/WasmBBQJIT.h
  Source/JavaScriptCore/wasm/WasmConstExprGenerator.cpp
  Source/JavaScriptCore/wasm/WasmFunctionParser.h
  Source/JavaScriptCore/wasm/WasmIPIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmOMGIRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmOMGIRGenerator32_64.cpp
Labels: merge-queue, JavaScriptCore

#49970 Resync `html/rendering/replaced-elements` from WPT upstream
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-aspect-ratio-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-aspect-ratio.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-intrinsic-width-height-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-intrinsic-width-height.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/the-select-element/customizable-select/min-height-in-flex-expected.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/the-select-element/customizable-select/min-height-in-flex-ref.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/the-select-element/customizable-select/min-height-in-flex.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/the-select-element/customizable-select/min-size-empty-001-expected.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/the-select-element/customizable-select/min-size-empty-001-notref.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/the-select-element/customizable-select/min-size-empty-001-ref-expected.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/the-select-element/customizable-select/min-size-empty-001-ref.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/the-select-element/customizable-select/min-size-empty-001-ref2-expected-mismatch.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/the-select-element/customizable-select/min-size-empty-001-ref2.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/the-select-element/customizable-select/min-size-empty-001.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/the-select-element/customizable-select/min-size-empty-002-expected.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/the-select-element/customizable-select/min-size-empty-002-notref.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/the-select-element/customizable-select/min-size-empty-002-ref-expected.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/the-select-element/customizable-select/min-size-empty-002-ref.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/the-select-element/customizable-select/min-size-empty-002-ref2-expected-mismatch.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/the-select-element/customizable-select/min-size-empty-002-ref2.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/the-select-element/customizable-select/min-size-empty-002.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/the-select-element/customizable-select/min-width-in-flex-expected.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/the-select-element/customizable-select/min-width-in-flex-ref.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/the-select-element/customizable-select/min-width-in-flex.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/the-select-element/customizable-select/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/the-select-element/select-text-decoration-expected.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/the-select-element/select-text-decoration-ref.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/the-select-element/select-text-decoration.html
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/replaced-elements/the-select-element/w3c-import.log
Labels: merge-queue, DOM

#50180 [Build Speed] Remove NodeInlines.h from LiveNodeList.h
  Source/WebCore/dom/ClassCollection.h
  Source/WebCore/dom/LiveNodeList.h
  Source/WebCore/dom/LiveNodeListInlines.h
  Source/WebCore/html/CachedHTMLCollection.h
Labels: merge-queue

#50192 Convert testRunner.indicateFindMatch from testRunner.idl to testRunnerJS
  Tools/WebKitTestRunner/InjectedBundle/Bindings/TestRunner.idl
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.cpp
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.h
  Tools/WebKitTestRunner/TestController.cpp
  Tools/WebKitTestRunner/TestInvocation.cpp
Labels: merge-queue, Tools / Tests

#49936 [Win] Layout tests gardening
  LayoutTests/platform/win/TestExpectations
Labels: merge-queue, Tools / Tests

#50199 REGRESSION(298023@main): Newly enabled TestWebKitAPI.UnifiedPDF.PDFHUDMoveIFrame is broken
  Tools/TestWebKitAPI/Tests/WebKitCocoa/UnifiedPDFTests.mm
Labels: unsafe-merge-queue, New Bugs

#50210 [JSC] Use more StringView in String prototype functions
  Source/JavaScriptCore/runtime/StringPrototype.cpp
  Source/WTF/wtf/text/StringView.cpp
  Source/WTF/wtf/text/StringView.h
Labels: unsafe-merge-queue, JavaScriptCore

#50222 REGRESSION (299364@main): [ Sequoia WK2 ] http/tests/webgpu/webgpu/api/operation/sampling/sampler_texture.html is a consistent crash
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#50215 [JSC] Remove boxedWasmCalleeLoadLocation
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/jit/CCallHelpers.h
  Source/JavaScriptCore/llint/InPlaceInterpreter.asm
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
  Source/JavaScriptCore/wasm/WasmBBQJIT32_64.cpp
  Source/JavaScriptCore/wasm/WasmBBQJIT64.cpp
  Source/JavaScriptCore/wasm/WasmBinding.cpp
  Source/JavaScriptCore/wasm/WasmCallee.cpp
  Source/JavaScriptCore/wasm/WasmCallee.h
  Source/JavaScriptCore/wasm/WasmFormat.cpp
  Source/JavaScriptCore/wasm/WasmFormat.h
  Source/JavaScriptCore/wasm/WasmIPIntSlowPaths.cpp
  Source/JavaScriptCore/wasm/WasmOMGIRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmOMGIRGenerator32_64.cpp
  Source/JavaScriptCore/wasm/WasmTable.cpp
  Source/JavaScriptCore/wasm/WasmTable.h
  Source/JavaScriptCore/wasm/js/JSToWasm.cpp
  Source/JavaScriptCore/wasm/js/JSWebAssemblyInstance.cpp
  Source/JavaScriptCore/wasm/js/JSWebAssemblyInstance.h
  Source/JavaScriptCore/wasm/js/WebAssemblyFunction.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyFunction.h
  Source/JavaScriptCore/wasm/js/WebAssemblyFunctionBase.h
  Source/JavaScriptCore/wasm/js/WebAssemblyModuleRecord.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyWrapperFunction.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#50164 [JSC] Optimize `@asyncFromSyncIteratorCreate` in DFG/FTL
  JSTests/microbenchmarks/async-from-sync-iterator.js
  JSTests/stress/async-from-sync-iterator-jit.js
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGObjectAllocationSinkingPhase.cpp
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/dfg/DFGOperations.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/runtime/Intrinsic.h
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.h
Labels: merge-queue, JavaScriptCore

#48314 [JSC] Add async stack traces behind the flag
  JSTests/stress/async-stack-trace-basic.js
  JSTests/stress/async-stack-trace-bound-functions-basic.js
  JSTests/stress/async-stack-trace-nested-deep.js
  JSTests/stress/async-stack-trace-nested.js
  JSTests/stress/async-stack-trace-switch.js
  JSTests/stress/never-inlined-functions.js
  Source/JavaScriptCore/builtins/PromiseOperations.js
  Source/JavaScriptCore/interpreter/Interpreter.cpp
  Source/JavaScriptCore/interpreter/Interpreter.h
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.h
  Source/JavaScriptCore/runtime/OptionsList.h
  Source/JavaScriptCore/runtime/StackFrame.cpp
  Source/JavaScriptCore/runtime/StackFrame.h
  Source/JavaScriptCore/tools/JSDollarVM.cpp
Labels: merge-queue, JavaScriptCore

#50223 [JSC] Rename JSSet / JSMap butterfly to storage
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/ftl/FTLAbstractHeapRepository.h
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/runtime/OrderedHashTable.h
Labels: unsafe-merge-queue, JavaScriptCore

#50221 [WPE] Unskip imported/w3c/web-platform-tests/css/{css-color,css-multicol} layout tests
  LayoutTests/platform/wpe/TestExpectations
Labels: unsafe-merge-queue, WPE WebKit

#50051 [WebGPU + Swift] Add runtime feature flag for Swift backend
  Source/WebGPU/WebGPU/Buffer.mm
  Source/WebGPU/WebGPU/CommandEncoder.h
  Source/WebGPU/WebGPU/CommandEncoder.mm
  Source/WebGPU/WebGPU/HardwareCapabilities.h
  Source/WebGPU/WebGPU/HardwareCapabilities.mm
  Source/WebGPU/WebGPU/Internal/WebGPUSwiftInternal.h
  Source/WebGPU/WebGPU/Queue.mm
Labels: merge-queue, WebGPU

#50177 [GStreamer][WebAudio] Garbled rendering when the internal audio mixer is enabled
  Source/WebCore/platform/audio/gstreamer/AudioDestinationGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/GStreamerAudioMixer.cpp
  Source/WebCore/platform/graphics/gstreamer/GStreamerAudioMixer.h
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.cpp
  Source/WebCore/platform/graphics/gstreamer/WebKitAudioSinkGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/WebKitAudioSinkGStreamer.h
  Source/WebCore/platform/gstreamer/GStreamerQuirkRialto.cpp
  Source/WebCore/platform/gstreamer/GStreamerQuirks.cpp
Labels: merge-queue, Platform, GLib Suggested Backport - 2.50

#50170 [JSC][ARMv7] Make use of isNullable in OMG
  Source/JavaScriptCore/wasm/WasmOMGIRGenerator32_64.cpp
Labels: JavaScriptCore

#50062 [Soup] Replace MIMETypeRegistry::mimeTypeForPath for known resources
  Source/WebCore/loader/soup/ResourceLoaderSoup.cpp
Labels: merge-queue, WebKitGTK, GLib Suggested Backport - 2.50

#49711 Use smart pointers in DatabaseUtilities.cpp
  Source/WebKit/NetworkProcess/DatabaseUtilities.cpp
  Source/WebKit/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
Labels: merge-queue, New Bugs

#49650 Invariant attribute not transpiled to resulting Metal shader
  LayoutTests/fast/webgpu/nocrash/fuzz-279453.html
  LayoutTests/fast/webgpu/nocrash/fuzz-286564-expected.txt
  LayoutTests/fast/webgpu/nocrash/fuzz-286564.html
  LayoutTests/fast/webgpu/nocrash/fuzz-292525.html
  LayoutTests/fast/webgpu/nocrash/fuzz-293750.html
  LayoutTests/fast/webgpu/regression/repro_290739.html
  Source/WebGPU/WGSL/AST/ASTArrayTypeExpression.h
  Source/WebGPU/WGSL/AST/ASTStructure.h
  Source/WebGPU/WGSL/EntryPointRewriter.cpp
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
  Source/WebGPU/WGSL/Metal/MetalFunctionWriter.cpp
  Source/WebGPU/WGSL/WGSL.h
  Source/WebGPU/WGSL/WGSLShaderModule.h
  Source/WebGPU/WebGPU/Pipeline.mm
  Source/WebGPU/WebGPU/RenderPipeline.mm
  Source/WebGPU/WebGPU/ShaderModule.h
  Source/WebGPU/WebGPU/ShaderModule.mm
  Tools/TestWebKitAPI/Tests/WGSL/MetalCompilationTests.mm
  Tools/TestWebKitAPI/Tests/WGSL/MetalGenerationTests.cpp
Labels: merge-queue, WebGPU

#50225 [JSC] Use WasmToJSCallee singleton
  Source/JavaScriptCore/wasm/WasmCallee.cpp
  Source/JavaScriptCore/wasm/WasmCallee.h
  Source/JavaScriptCore/wasm/WasmTable.cpp
  Source/JavaScriptCore/wasm/WasmTable.h
  Source/JavaScriptCore/wasm/js/JSWebAssemblyInstance.cpp
  Source/JavaScriptCore/wasm/js/JSWebAssemblyInstance.h
  Source/JavaScriptCore/wasm/js/WebAssemblyWrapperFunction.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#50241 Unreviewed, reverting 299482@main as it is 4% regression in JetStream3/doxbee-async
  JSTests/stress/async-stack-trace-basic.js
  JSTests/stress/async-stack-trace-bound-functions-basic.js
  JSTests/stress/async-stack-trace-nested-deep.js
  JSTests/stress/async-stack-trace-nested.js
  JSTests/stress/async-stack-trace-switch.js
  JSTests/stress/never-inlined-functions.js
  Source/JavaScriptCore/builtins/PromiseOperations.js
  Source/JavaScriptCore/interpreter/Interpreter.cpp
  Source/JavaScriptCore/interpreter/Interpreter.h
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.h
  Source/JavaScriptCore/runtime/OptionsList.h
  Source/JavaScriptCore/runtime/StackFrame.cpp
  Source/JavaScriptCore/runtime/StackFrame.h
  Source/JavaScriptCore/tools/JSDollarVM.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#50234 [ews] Convert GetTestExpectationsBaseline to new style buildstep
  Tools/CISupport/ews-build/steps.py
Labels: unsafe-merge-queue, New Bugs

#50213 REGRESSION(269351@main): strokeBoundBox and repaintBoundingBox of the SVG renderers should never be NaN rects
  Source/WebCore/rendering/svg/SVGRenderSupport.cpp
Labels: merge-queue, SVG

#50197 [Site Isolation] Add unit test covering safe browsing with site isolation
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SafeBrowsing.mm
Labels: merge-queue, Tools / Tests

#50231 [GLib] Update the libsysprof-capture source tree to version 48.1
  Source/ThirdParty/libsysprof-capture/README.WebKit
  Source/ThirdParty/libsysprof-capture/mapped-ring-buffer.c
  Source/ThirdParty/libsysprof-capture/sysprof-collector.c
  Source/ThirdParty/libsysprof-capture/sysprof-version-macros.h
  Source/ThirdParty/libsysprof-capture/sysprof-version.h
Labels: merge-queue, Tools / Tests

#50047 Memory cache callbacks sometimes don't fire when Site Isolation is enabled
  Source/WebCore/style/StyleTreeResolver.cpp
Labels: merge-queue, CSS

#50194 CSSStyleDeclaration+PropertyNames.idl: 1 input keys have identical hash values, examine output carefully...
  Source/WebCore/css/scripts/process-css-properties.py
Labels: unsafe-merge-queue, CSS

#50258 [ews] Convert SetBuildSummary to new style buildstep - Follow up
  Tools/CISupport/Shared/steps.py
Labels: unsafe-merge-queue, New Bugs

#50212 Migrate postPageMessage functions with boolean param from testRunner.idl to testRunnerJS
  Tools/WebKitTestRunner/InjectedBundle/Bindings/TestRunner.idl
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.cpp
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.h
  Tools/WebKitTestRunner/TestController.cpp
  Tools/WebKitTestRunner/TestInvocation.cpp
Labels: unsafe-merge-queue, New Bugs

#49599 AX: Fix safer-cpp violations for WebAccessibilityObjectWrapperMac
  Source/WebCore/SaferCPPExpectations/NoUnretainedMemberCheckerExpectations
  Source/WebCore/SaferCPPExpectations/RetainPtrCtorAdoptCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncheckedLocalVarsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedLambdaCapturesCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedLocalVarsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UnretainedLambdaCapturesCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UnretainedLocalVarsCheckerExpectations
  Source/WebCore/accessibility/AXCoreObject.h
  Source/WebCore/accessibility/cocoa/AXCoreObjectCocoa.mm
  Source/WebCore/accessibility/ios/WebAccessibilityObjectWrapperIOS.mm
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperBase.mm
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperMac.mm
Labels: merge-queue, Accessibility

#50246 [Build Speed] Don't include EventTargetInlines.h in generated JS headers
  Source/WebCore/bindings/scripts/CodeGeneratorJS.pm
  Source/WebCore/bindings/scripts/test/JS/JSDOMWindow.h
  Source/WebCore/bindings/scripts/test/JS/JSExposedStar.h
  Source/WebCore/bindings/scripts/test/JS/JSTestEventTarget.h
  Source/WebCore/bindings/scripts/test/JS/JSWorkerGlobalScope.h
  Source/WebCore/bindings/scripts/test/JS/JSWorkletGlobalScope.h
Labels: merge-queue

#50240 [WebGPU Swift] https://webgpu.github.io/webgpu-samples/?sample=helloTriangle crashes on launch
  Source/WebCore/Modules/WebGPU/Implementation/WebGPUCommandEncoderImpl.cpp
  Source/WebGPU/WebGPU/CommandEncoder.mm
  Source/WebGPU/WebGPU/CommandEncoder.swift
  Source/WebGPU/WebGPU/Device.mm
  Source/WebGPU/WebGPU/QuerySet.h
  Source/WebGPU/WebGPU/WebGPU.h
Labels: merge-queue, WebGPU

#50224 Null pointer dereference in SQLiteIDBBackingStore::addIndex
  Source/WebCore/Modules/indexeddb/server/SQLiteIDBBackingStore.cpp
Labels: merge-queue, New Bugs

#50263 AX: Fast-path exit from AXObjectCache::onTextRunsChanged for common renderer types that will never produce text runs
  Source/WebCore/accessibility/AXNotifications.h
  Source/WebCore/accessibility/AXObjectCache.cpp
Labels: merge-queue, Accessibility

#50227 REGRESSION(298480@main): [ macOS wk2 ] http/tests/navigation/ping-attribute/anchor-cookie.html is a flaky text failure.
  LayoutTests/http/tests/navigation-api/form-submission-post-request-iframe.html
  LayoutTests/http/tests/navigation/ping-attribute/resources/utilities.js
  LayoutTests/platform/mac-wk2/TestExpectations
  Tools/WebKitTestRunner/InjectedBundle/EventSendingController.cpp
  Tools/WebKitTestRunner/InjectedBundle/EventSendingController.h
  Tools/WebKitTestRunner/InjectedBundle/InjectedBundle.cpp
  Tools/WebKitTestRunner/InjectedBundle/InjectedBundle.h
  Tools/WebKitTestRunner/TestController.cpp
  Tools/WebKitTestRunner/TestInvocation.cpp
  Tools/WebKitTestRunner/TestInvocation.h
Labels: merge-queue, Page Loading

#50205 Convert testRunner stopLoading and dumpFullScreenCallbacks from testRunner.idl to testRunnerJS
  Tools/WebKitTestRunner/InjectedBundle/Bindings/TestRunner.idl
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.cpp
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.h
  Tools/WebKitTestRunner/TestController.cpp
  Tools/WebKitTestRunner/TestInvocation.cpp
Labels: merge-queue, New Bugs

#50268 Remove the redundant nullability comparison in Wasm::Type::operator==()
  Source/JavaScriptCore/wasm/generateWasmOpsHeader.py
Labels: merge-queue, JavaScriptCore

#50270 [JSC] Remove duplicate m_instance field
  Source/JavaScriptCore/llint/InPlaceInterpreter.asm
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
  Source/JavaScriptCore/wasm/WasmBBQJIT32_64.cpp
  Source/JavaScriptCore/wasm/WasmBBQJIT64.cpp
  Source/JavaScriptCore/wasm/WasmFormat.cpp
  Source/JavaScriptCore/wasm/WasmFormat.h
  Source/JavaScriptCore/wasm/WasmIPIntSlowPaths.cpp
  Source/JavaScriptCore/wasm/WasmOMGIRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmOMGIRGenerator32_64.cpp
  Source/JavaScriptCore/wasm/WasmTable.cpp
  Source/JavaScriptCore/wasm/WasmTable.h
  Source/JavaScriptCore/wasm/js/JSToWasm.cpp
  Source/JavaScriptCore/wasm/js/JSWebAssemblyInstance.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyFunction.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyFunctionBase.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyFunctionBase.h
  Source/JavaScriptCore/wasm/js/WebAssemblyModuleRecord.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyWrapperFunction.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyWrapperFunction.h
Labels: unsafe-merge-queue, JavaScriptCore

#50229 [JSC] Make more use of constant() in WasmOMGIRGenerator32_64
  Source/JavaScriptCore/wasm/WasmOMGIRGenerator32_64.cpp
Labels: merge-queue, JavaScriptCore

#49692 Web Automation: implement Set Storage Access endpoint
  Source/WebKit/CMakeLists.txt
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Sources.txt
  Source/WebKit/UIProcess/Automation/Automation.json
  Source/WebKit/UIProcess/Automation/BidiPermissionsAgent.cpp
  Source/WebKit/UIProcess/Automation/BidiPermissionsAgent.h
  Source/WebKit/UIProcess/Automation/WebAutomationSession.cpp
  Source/WebKit/UIProcess/Automation/WebAutomationSession.h
  Source/WebKit/UIProcess/Automation/WebDriverBidiProcessor.cpp
  Source/WebKit/UIProcess/Automation/WebDriverBidiProcessor.h
  Source/WebKit/UIProcess/Automation/protocol/BidiPermissions.json
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: merge-queue, New Bugs

#50293 [glib] Skip imported/w3c/web-platform-tests/css/css-multicol/crashtests/inline-float-parallel-flow.html
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/gtk/TestExpectations
Labels: unsafe-merge-queue, WebKitGTK

#50272 Remove use of AVSBDL prerollDecodeWithCompletionHandler SPI
  Source/WebCore/Configurations/AllowedSPI-legacy.toml
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.h
  Source/WebCore/PAL/pal/cocoa/AVFoundationSoftLink.mm
  Source/WebCore/PAL/pal/spi/cocoa/AVFoundationSPI.h
  Source/WebCore/platform/graphics/avfoundation/WebAVSampleBufferListener.mm
  Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferPrivateAVFObjC.mm
  Source/WebCore/platform/graphics/cocoa/WebSampleBufferVideoRendering.h
Labels: merge-queue, Media

#50173 [GLIB] WebKit doesn't build with -DENABLE_MALLOC_HEAP_BREAKDOWN=ON
  Source/WebCore/Modules/fetch/FetchLoader.cpp
  Source/WebCore/Modules/fetch/FetchLoader.h
  Source/WebCore/Modules/notifications/NotificationResourcesLoader.cpp
  Source/WebCore/Modules/notifications/NotificationResourcesLoader.h
  Source/WebCore/css/CSSSelector.h
  Source/WebCore/css/parser/CSSTokenizer.cpp
  Source/WebCore/css/parser/CSSTokenizerInputStream.cpp
  Source/WebCore/fileapi/FileReaderLoader.cpp
  Source/WebCore/fileapi/FileReaderLoader.h
  Source/WebCore/loader/LoaderMalloc.cpp
  Source/WebCore/loader/ResourceLoader.cpp
  Source/WebCore/loader/ResourceLoader.h
  Source/WebCore/page/PerformanceEntry.cpp
  Source/WebCore/style/StyleInterpolation.cpp
  Source/WebCore/style/StyleInterpolationWrapperBase.h
  Source/WebCore/style/StyleTreeResolver.h
  Source/bmalloc/bmalloc/SystemHeap.cpp
  Source/bmalloc/bmalloc/SystemHeap.h
Labels: merge-queue, WPE WebKit

#50294 [WPE][CMake] Do not set library shared object versions on Android
  Source/WebKit/CMakeLists.txt
Labels: merge-queue, CMake

#50291 [ARMv7] Inline WasmGC object allocations in WasmOMGIRGenerator32_64.cpp
  Source/JavaScriptCore/wasm/WasmOMGIRGenerator32_64.cpp
Labels: merge-queue, JavaScriptCore

#50276 [JSC] WASM IPInt SIMD: use the standard entry point when --useWasmIPIntSIMD
  Source/JavaScriptCore/wasm/WasmBBQJIT64.cpp
  Source/JavaScriptCore/wasm/WasmIPIntPlan.cpp
  Source/JavaScriptCore/wasm/WasmIPIntSlowPaths.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#48965 [CSS] Support :visited as the scoping root selectors
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/scope-visited-cssom-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/scope-visited-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/scope-visited-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-cascade/scope-visited.html
  Source/WebCore/css/CSSSelector.cpp
  Source/WebCore/css/CSSSelector.h
  Source/WebCore/css/SelectorChecker.cpp
  Source/WebCore/css/SelectorChecker.h
  Source/WebCore/style/ElementRuleCollector.cpp
  Source/WebCore/style/ElementRuleCollector.h
  Source/WebCore/style/RuleData.cpp
  Source/WebCore/style/RuleData.h
  Source/WebCore/style/RuleSet.cpp
Labels: merge-queue, New Bugs

#50284 [JSC] Stop looking into replacement in entry tierup in BBQ
  Source/JavaScriptCore/wasm/WasmOperations.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#50286 [JSC] Use RTT for IPInt call_indirect type checks
  Source/JavaScriptCore/wasm/WasmCallee.cpp
  Source/JavaScriptCore/wasm/WasmCallee.h
  Source/JavaScriptCore/wasm/WasmFunctionIPIntMetadataGenerator.cpp
  Source/JavaScriptCore/wasm/WasmFunctionIPIntMetadataGenerator.h
  Source/JavaScriptCore/wasm/WasmIPIntGenerator.cpp
  Source/JavaScriptCore/wasm/WasmIPIntGenerator.h
  Source/JavaScriptCore/wasm/WasmIPIntSlowPaths.cpp
  Source/JavaScriptCore/wasm/WasmTable.cpp
  Source/JavaScriptCore/wasm/WasmTable.h
  Source/JavaScriptCore/wasm/WasmTypeDefinition.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#50239 Service worker downloads are not being saved to Downloads folder
  Source/WebKit/NetworkProcess/Downloads/cocoa/DownloadCocoa.mm
  Source/WebKit/NetworkProcess/Downloads/cocoa/WKDownloadProgress.h
  Source/WebKit/NetworkProcess/Downloads/cocoa/WKDownloadProgress.mm
Labels: unsafe-merge-queue, WebKit Process Model

#50306 [WPE][GTK] API test runner using wrong key when shutdown fails
  Tools/glib/glib_test_runner.py
Labels: merge-queue, Tools / Tests

#50256 [WebGPU] https://threejs.org/examples/?q=webgpu#webgpu_video_panorama does not open
  Source/WebCore/Modules/WebGPU/GPUQueue.cpp
Labels: merge-queue, WebGPU

#50247 [Style] Convert the list-style-image property to strong style types
  Source/WebCore/accessibility/AccessibilityNodeObject.cpp
  Source/WebCore/css/CSSProperties.json
  Source/WebCore/rendering/RenderBoxModelObject.h
  Source/WebCore/rendering/RenderElement.h
  Source/WebCore/rendering/RenderLayer.cpp
  Source/WebCore/rendering/RenderListMarker.cpp
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/RenderStyleInlines.h
  Source/WebCore/rendering/style/RenderStyleSetters.h
  Source/WebCore/rendering/style/StyleRareInheritedData.cpp
  Source/WebCore/rendering/style/StyleRareInheritedData.h
  Source/WebCore/rendering/updating/RenderTreeBuilderList.cpp
  Source/WebCore/style/StyleBuilderConverter.h
  Source/WebCore/style/StyleExtractorConverter.h
  Source/WebCore/style/StyleExtractorSerializer.h
  Source/WebCore/style/StyleInterpolationWrappers.h
  Source/WebCore/style/StylePendingResources.cpp
Labels: merge-queue, CSS

#50311 pointerevent_pointercapture_in_frame.html WPT is unnecessarily skipped
  LayoutTests/imported/w3c/web-platform-tests/pointerevents/pointerevent_pointercapture_in_frame_mouse-expected.txt
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, Tools / Tests

#50316 [JSC] Just store RTT via RefPtr
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
  Source/JavaScriptCore/wasm/WasmBBQJIT64.cpp
  Source/JavaScriptCore/wasm/WasmOMGIRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmOMGIRGenerator32_64.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.cpp
  Source/JavaScriptCore/wasm/WasmTypeDefinition.h
  Source/JavaScriptCore/wasm/js/WebAssemblyGCStructure.h
Labels: unsafe-merge-queue, JavaScriptCore

#50275 ViewTransitions access layout state on RenderFragmentedFlow without flushing layout.
  LayoutTests/fast/css/view-transitions-layout-fragments-expected.txt
  LayoutTests/fast/css/view-transitions-layout-fragments.html
  Source/WebCore/dom/ViewTransition.cpp
Labels: merge-queue, New Bugs

#50278 Eliminate nearly duplicated code for table-row-group border calculation
  Source/WebCore/rendering/RenderTableSection.cpp
  Source/WebCore/rendering/RenderTableSection.h
Labels: merge-queue, Layout and Rendering

#50325 [Gardening]: REGRESSION(299374@main): [ macOS Debug ] imported/w3c/web-platform-tests/eventsource/eventsource-constructor-empty-url.any.html is a consistent failure
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#49946 AX: Ensure native HTML radio buttons on macOS maintain accurate group count when group membership changes
  LayoutTests/accessibility/radio-button-group-dynamic-changes-expected.txt
  LayoutTests/accessibility/radio-button-group-dynamic-changes.html
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/accessibility/AXLogger.cpp
  Source/WebCore/accessibility/AXNotifications.h
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AXObjectCache.h
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.h
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.h
  Source/WebCore/dom/RadioButtonGroups.cpp
Labels: merge-queue, Accessibility

#50321 [JSC] Remove unused wasm operations
  Source/JavaScriptCore/wasm/WasmOperations.cpp
  Source/JavaScriptCore/wasm/WasmOperations.h
Labels: unsafe-merge-queue, JavaScriptCore

#50322 [SPI Checking] Fix cookie partitioning SPI in WebKit's allowlist
  Source/WebKit/Configurations/AllowedSPI.toml
Labels: unsafe-merge-queue, Tools / Tests

#50279 [JSC] WASM IPInt SIMD: implement extract opcodes
  JSTests/wasm/stress/simd-instructions-extract-lanes.js
  Source/JavaScriptCore/llint/InPlaceInterpreter64.asm
Labels: merge-queue, JavaScriptCore

#50277 REGRESSION(298691@main): [ macOS wk2, iOS ] imported/w3c/web-platform-tests/navigation-api/navigate-event/navigate-history-back-bfcache.html
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/common/dispatcher/dispatcher.js
  LayoutTests/imported/w3c/web-platform-tests/common/dispatcher/remote-executor.html
Labels: merge-queue, Page Loading

#50290 [JSC] Add async stack traces behind the flag
  JSTests/stress/async-stack-trace-basic.js
  JSTests/stress/async-stack-trace-bound-functions-basic.js
  JSTests/stress/async-stack-trace-nested-deep.js
  JSTests/stress/async-stack-trace-nested.js
  JSTests/stress/async-stack-trace-switch.js
  JSTests/stress/never-inlined-functions.js
  Source/JavaScriptCore/builtins/PromiseOperations.js
  Source/JavaScriptCore/interpreter/Interpreter.cpp
  Source/JavaScriptCore/interpreter/Interpreter.h
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.h
  Source/JavaScriptCore/runtime/OptionsList.h
  Source/JavaScriptCore/runtime/StackFrame.cpp
  Source/JavaScriptCore/runtime/StackFrame.h
  Source/JavaScriptCore/tools/JSDollarVM.cpp
Labels: merge-queue, JavaScriptCore

#50318 [JSC] Use RTT more for function type check
  JSTests/wasm/function-tests/exceptions.js
  JSTests/wasm/ipint-tests/ipint-error-check-call-null.js
  JSTests/wasm/references/func_ref.js
  JSTests/wasm/references/multitable.js
  Source/JavaScriptCore/wasm/WasmBBQJIT.cpp
  Source/JavaScriptCore/wasm/WasmFormat.h
  Source/JavaScriptCore/wasm/WasmIPIntSlowPaths.cpp
  Source/JavaScriptCore/wasm/WasmOMGIRGenerator.cpp
  Source/JavaScriptCore/wasm/WasmOMGIRGenerator32_64.cpp
  Source/JavaScriptCore/wasm/js/JSToWasm.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyFunction.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyFunctionBase.h
  Source/JavaScriptCore/wasm/js/WebAssemblyWrapperFunction.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#48152 Use a memory reader to properly grab PGM version
  Source/bmalloc/libpas/src/libpas/pas_report_crash.c
  Source/bmalloc/libpas/src/libpas/pas_report_crash_pgm_report.h
  Source/bmalloc/libpas/src/libpas/pas_root.c
  Source/bmalloc/libpas/src/libpas/pas_root.h
Labels: merge-queue, New Bugs

#50299 http/tests/security/service-worker-network-load.html is randomly timing out since the beginning
  LayoutTests/TestExpectations
  LayoutTests/http/tests/security/service-worker-network-load.html
Labels: merge-queue, Service Workers

#50312 AX: WebKit can sometimes fail to expose content within dynamically expanded details elements in the accessibility tree
  LayoutTests/accessibility/missing-content-inside-expanded-details-expected.txt
  LayoutTests/accessibility/missing-content-inside-expanded-details.html
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AccessibilityObject.cpp
  Source/WebCore/accessibility/AccessibilityObject.h
Labels: merge-queue, Accessibility

#50334 REGRESSION (291055@main): Buttons with box shadow are broken
  LayoutTests/fast/box-shadow/inset-shadow-large-spread-expected.html
  LayoutTests/fast/box-shadow/inset-shadow-large-spread.html
  Source/WebCore/rendering/BackgroundPainter.cpp
Labels: merge-queue, Forms

#50244 [WebGPU] Don't unconditionally set supportIndirectCommandBuffers to YES
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebGPU/WebGPU/Pipeline.h
  Source/WebGPU/WebGPU/Pipeline.mm
  Source/WebGPU/WebGPU/RenderBundleEncoder.mm
  Source/WebGPU/WebGPU/RenderPipeline.h
  Source/WebGPU/WebGPU/RenderPipeline.mm
Labels: merge-queue, WebGPU

#50257 Remove redundant sandbox rules in the Networking process on iOS
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.Networking.sb.in
  Source/WebKit/Shared/Sandbox/iOS/networking-defines.sb
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: unsafe-merge-queue, WebKit Process Model

#50344 When choosing "Request Mobile Website", visionOS returns 16_3_1 OS version number instead of 18_6 like iPad
  Source/WTF/wtf/PlatformEnable.h
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebCore/platform/ios/UserAgentIOS.mm
Labels: merge-queue

#50348 [WPE] Unreviewed layout test gardening 2025-09-05
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/editing/execCommand/selectAll-expected.png
  LayoutTests/platform/glib/editing/execCommand/selectAll-expected.txt
  LayoutTests/platform/glib/fast/repaint/text-selection-rect-in-overflow-expected.png
  LayoutTests/platform/glib/fast/repaint/text-selection-rect-in-overflow-expected.txt
  LayoutTests/platform/wpe/TestExpectations
  LayoutTests/platform/wpe/fast/repaint/text-selection-rect-in-overflow-expected.txt
Labels: unsafe-merge-queue, WPE WebKit

#50341 REGRESSION (r264522): [ macOS release wk2 macOS wk1 ] imported/w3c/web-platform-tests/css/cssom/stylesheet-same-origin.sub.html is a flaky failure
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/stylesheet-same-origin.sub-expected.txt
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: merge-queue, New Bugs

#50337 [Mac OS & iOS] imported/w3c/web-platform-tests/html/semantics/embedded-content/the-embed-element/embed-network-error.sub.html is a flaky failure
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/embedded-content/the-embed-element/embed-network-error.sub-expected.txt
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: merge-queue, New Bugs

#50232 [GTK][WPE] Rename DMABufFormat to BufferFormat
  Source/WebCore/platform/graphics/PlatformDisplay.cpp
  Source/WebCore/platform/graphics/PlatformDisplay.h
  Source/WebCore/platform/graphics/egl/GLDisplay.cpp
  Source/WebCore/platform/graphics/egl/GLDisplay.h
  Source/WebCore/platform/graphics/gbm/GraphicsContextGLTextureMapperGBM.cpp
  Source/WebCore/platform/graphics/gbm/MemoryMappedGPUBuffer.cpp
  Source/WebCore/platform/graphics/gbm/MemoryMappedGPUBuffer.h
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.cpp
  Source/WebKit/UIProcess/XR/openxr/OpenXRLayer.cpp
  Source/WebKit/UIProcess/gtk/AcceleratedBackingStore.cpp
  Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/AcceleratedSurface.cpp
Labels: merge-queue, Platform

#50248 Keyboard closes after typing one character in gif search field on x.com
  LayoutTests/editing/selection/ios/tap-to-change-selection-after-accepting-inline-prediction.html
  LayoutTests/fast/forms/ios/keyboard-restoration-after-element-replacement-expected.txt
  LayoutTests/fast/forms/ios/keyboard-restoration-after-element-replacement.html
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.h
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Labels: merge-queue, New Bugs

#50163 gamepad/gamepad-visibility-1.html is failing
  LayoutTests/gamepad/gamepad-visibility-1.html
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebCore/testing/MockGamepad.cpp
  Source/WebCore/testing/MockGamepad.h
  Source/WebCore/testing/MockGamepadProvider.cpp
  Source/WebCore/testing/MockGamepadProvider.h
  Source/WebCore/testing/js/WebCoreTestSupport.cpp
  Source/WebCore/testing/js/WebCoreTestSupport.h
  Tools/WebKitTestRunner/InjectedBundle/Bindings/TestRunner.idl
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.cpp
  Tools/WebKitTestRunner/InjectedBundle/TestRunner.h
  Tools/WebKitTestRunner/TestInvocation.cpp
Labels: unsafe-merge-queue, New Bugs, Tools / Tests

#49322 [GTK][WPE][OpenXR] Add immersive mode API test
  Tools/TestWebKitAPI/Tests/WebKitGLib/TestWebKitImmersiveMode.cpp
  Tools/TestWebKitAPI/glib/CMakeLists.txt
  Tools/TestWebKitAPI/glib/TestExpectations.json
Labels: merge-queue, WebKitGTK

#50366 [GARDENING] media/track/track-kind.html is a flakey timeout
  LayoutTests/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#50342 [WKCI] Add more MacPro7,1 hardware to build.webkit.org.
  Tools/CISupport/build-webkit-org/config.json
Labels: unsafe-merge-queue, Tools / Tests

#50370 [JSC] Skip more test in 32-bit JSC.
  JSTests/wasm/lowExecutableMemory/executable-memory-oom.js
  JSTests/wasm/stress/cc-int-to-int-cross-module-with-exception.js
  JSTests/wasm/stress/cc-int-to-int-jit-to-llint.js
  JSTests/wasm/stress/wasm-js-string-builtins.js
Labels: merge-queue

#50305 KeyError: '8e2703a62c3ac7282b9f96744a53646a89b59c9a' when running 'git-webkit pr'
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/local/git.py
Labels: unsafe-merge-queue, Tools / Tests

#50381 [tvOS] Try to fix the build
  Source/WebCore/Modules/applepay/PaymentCoordinator.cpp
Labels: Platform

#50218 [ macOS Tahoe ] TestWebKitAPI.WebKit.MobileAssetSandboxCheck (api-test) is a constant failure
  Tools/TestWebKitAPI/Tests/WebKit/MobileAssetSandboxCheck.mm
Labels: unsafe-merge-queue, Tools / Tests

#50385 [Gardening] REGRESSION(296692@main): Caused fast/frames to time out
  LayoutTests/TestExpectations
Labels: New Bugs

#50329 [Gardening]: REGRESSION (272231@main): [ macOS wk1 ] Two fonts tests are a flaky failure
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue, Text

#50133 [WPE] Register inspector resources in Internals::openDummyInspectorFrontend
  Source/JavaScriptCore/PlatformWPE.cmake
  Source/JavaScriptCore/inspector/remote/glib/RemoteInspectorUtils.cpp
  Source/WTF/wtf/PlatformWPE.cmake
  Source/WTF/wtf/glib/GResources.cpp
  Source/WTF/wtf/glib/GResources.h
  Source/WebCore/testing/Internals.cpp
  Source/WebKit/PlatformWPE.cmake
  Source/WebKit/WebProcess/Inspector/wpe/WebInspectorUIWPE.cpp
  Tools/CISupport/built-product-archive
Labels: unsafe-merge-queue, WPE WebKit

#50382 WASM IPInt SIMD: implement some arithmetic
  JSTests/wasm/stress/simd-instructions-arithmetic.js
  JSTests/wasm/stress/simd-instructions-comparisons.js
  JSTests/wasm/stress/simd-instructions-lib.js
  Source/JavaScriptCore/llint/InPlaceInterpreter64.asm
  Source/JavaScriptCore/wasm/WasmIPIntGenerator.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#50347 AX: Auto-expand details and hidden="until-found" elements containing search text provided in a AXUIElementsForSearchPredicate request
  LayoutTests/accessibility/mac/text-search-auto-expands-revealable-elements-expected.txt
  LayoutTests/accessibility/mac/text-search-auto-expands-revealable-elements.html
  Source/WebCore/accessibility/AXCoreObject.cpp
  Source/WebCore/accessibility/AXCoreObject.h
  Source/WebCore/accessibility/AXLogger.cpp
  Source/WebCore/accessibility/AXNotifications.h
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AXSearchManager.cpp
  Source/WebCore/accessibility/AXSearchManager.h
  Source/WebCore/accessibility/AXUtilities.cpp
  Source/WebCore/accessibility/AXUtilities.h
  Source/WebCore/accessibility/AccessibilityNodeObject.cpp
  Source/WebCore/accessibility/AccessibilityNodeObject.h
  Source/WebCore/accessibility/AccessibilityObject.cpp
  Source/WebCore/accessibility/AccessibilityObject.h
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.h
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.h
Labels: merge-queue, Accessibility

#50378 (New-Test) [ iOS Debug ] TestWebKitAPI.WKDownload.PlaceholderPolicyDisable is a constant timeout
  Tools/TestWebKitAPI/Tests/WebKitCocoa/Download.mm
  Tools/TestWebKitAPI/cocoa/TestDownloadDelegate.h
  Tools/TestWebKitAPI/cocoa/TestDownloadDelegate.mm
Labels: unsafe-merge-queue, Tools / Tests

#50373 [iOS] fast/forms/ios/remove-view-after-focus.html is a constant crash
  Tools/TestRunnerShared/UIScriptContext/UIScriptContext.cpp
Labels: unsafe-merge-queue, Tools / Tests

#50399 [Liquid Glass] [iOS] github.com: visible gap above sticky top header while scrolling on PRs with long branch names
  LayoutTests/fast/page-color-sampling/color-sampling-horizontal-overflow-with-viewport-meta-expected.txt
  LayoutTests/fast/page-color-sampling/color-sampling-horizontal-overflow-with-viewport-meta.html
  Source/WebCore/page/LocalFrameView.cpp
Labels: merge-queue, New Bugs

#50406 Remove local `networkState_during_progress.html` in favor of WPT Testcase
  LayoutTests/TestExpectations
  LayoutTests/media/W3C/video/networkState/networkState_during_progress-expected.txt
  LayoutTests/media/W3C/video/networkState/networkState_during_progress.html
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: merge-queue, Media

#50387 [Win] Enable PermissionsAPI to fix speedometer
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: merge-queue

#50343 Remove redundant sandbox rule in the WebContent process on iOS
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/Shared/Sandbox/iOS/webcontent-defines.sb
Labels: unsafe-merge-queue, WebKit Process Model

#50357 Remove redundant sandbox rules in the GPU process
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.GPU.sb.in
  Source/WebKit/Shared/Sandbox/iOS/gpu-defines.sb
Labels: unsafe-merge-queue, WebKit Process Model

#50394 TZoneHeapManager::init() should use CC_SHA256_DIGEST_LENGTH for its CC_SHA256 seed size.
  Source/bmalloc/bmalloc/TZoneHeapManager.cpp
Labels: unsafe-merge-queue, bmalloc

#50238 [JSC] Implement `Set.prototype.isSupersetOf` in C++
  JSTests/stress/set-prototype-isSupersetOf-empty-sets.js
  JSTests/stress/set-prototype-isSupersetOf-generic-object.js
  JSTests/stress/set-prototype-isSupersetOf-iterator-effects.js
  JSTests/stress/set-prototype-isSupersetOf-large-sets.js
  JSTests/stress/set-prototype-isSupersetOf-property-access-order.js
  JSTests/stress/set-prototype-isSupersetOf-reference.js
  JSTests/stress/set-prototype-isSupersetOf-special-values.js
  Source/JavaScriptCore/builtins/SetPrototype.js
  Source/JavaScriptCore/runtime/SetPrototype.cpp
Labels: merge-queue, JavaScriptCore

#50418 [JSC] Add `async` prefix for async function frame on stack trace
  JSTests/stress/async-stack-trace-basic.js
  JSTests/stress/async-stack-trace-bound-functions-basic.js
  JSTests/stress/async-stack-trace-nested-deep.js
  JSTests/stress/async-stack-trace-nested.js
  JSTests/stress/async-stack-trace-switch.js
  Source/JavaScriptCore/interpreter/Interpreter.cpp
  Source/JavaScriptCore/runtime/StackFrame.cpp
  Source/JavaScriptCore/runtime/StackFrame.h
Labels: merge-queue, JavaScriptCore

#50424 [GTK MiniBrowser] Fix clang warnings after 299591@main
  Tools/MiniBrowser/gtk/BrowserTab.c
Labels: unsafe-merge-queue, New Bugs

#50340 Layout Test security/contentSecurityPolicy/plugins-types-allows-youtube-plugin-replacement.html is flaky
  LayoutTests/platform/wpe/TestExpectations
  LayoutTests/security/contentSecurityPolicy/plugins-types-allows-youtube-plugin-replacement.html
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/page/PageConsoleClient.cpp
  Source/WebCore/page/PageConsoleClient.h
  Source/WebCore/testing/Internals.cpp
Labels: merge-queue, New Bugs

#50433 [JSC] Do not use Strong<> for JSGlobalObject field
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.h
  Source/JavaScriptCore/runtime/JSGlobalObjectInlines.h
Labels: unsafe-merge-queue, JavaScriptCore

#50416 [JSC] Clean up Wasm CalleeSave registers handling
  Source/JavaScriptCore/b3/air/AirCode.cpp
  Source/JavaScriptCore/bytecode/BytecodeRewriter.h
  Source/JavaScriptCore/bytecompiler/BytecodeGenerator.cpp
  Source/JavaScriptCore/dfg/DFGJITCode.h
  Source/JavaScriptCore/interpreter/Interpreter.cpp
  Source/JavaScriptCore/jit/GPRInfo.h
  Source/JavaScriptCore/jit/RegisterAtOffsetList.cpp
  Source/JavaScriptCore/jit/RegisterAtOffsetList.h
  Source/JavaScriptCore/jit/RegisterSet.cpp
  Source/JavaScriptCore/jit/RegisterSet.h
  Source/JavaScriptCore/llint/InPlaceInterpreter.asm
  Source/JavaScriptCore/llint/InPlaceInterpreter64.asm
  Source/JavaScriptCore/runtime/Completion.cpp
  Source/JavaScriptCore/runtime/SamplingProfiler.cpp
  Source/JavaScriptCore/wasm/WasmBBQPlan.h
  Source/JavaScriptCore/wasm/WasmCallee.cpp
  Source/JavaScriptCore/wasm/WasmCallee.h
  Source/JavaScriptCore/wasm/WasmCalleeGroup.cpp
  Source/JavaScriptCore/wasm/WasmCalleeGroup.h
  Source/JavaScriptCore/wasm/WasmCallingConvention.h
  Source/JavaScriptCore/wasm/WasmCompilationContext.h
  Source/JavaScriptCore/wasm/WasmCompilationMode.h
  Source/JavaScriptCore/wasm/WasmIPIntPlan.cpp
  Source/JavaScriptCore/wasm/WasmIPIntPlan.h
  Source/JavaScriptCore/wasm/WasmOperations.cpp
  Source/JavaScriptCore/wasm/WasmOperations.h
  Source/JavaScriptCore/wasm/WasmTypeDefinition.h
  Source/JavaScriptCore/wasm/js/JSToWasm.cpp
  Source/JavaScriptCore/wasm/js/JSToWasm.h
  Source/JavaScriptCore/wasm/js/JSWebAssemblyInstance.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyBuiltin.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyBuiltin.h
  Source/JavaScriptCore/wasm/js/WebAssemblyBuiltinTrampoline.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyFunction.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyFunction.h
  Source/JavaScriptCore/wasm/js/WebAssemblyModuleRecord.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#50429 Address Safer CPP unexpected failures on the bot
  Source/WebCore/SaferCPPExpectations/NoUncheckedPtrMemberCheckerExpectations
  Source/WebCore/rendering/LayoutScope.cpp
  Source/WebCore/rendering/LayoutScope.h
  Source/WebCore/rendering/line/BreakingContext.h
  Source/WebCore/rendering/line/LineBreaker.cpp
Labels: merge-queue, WebCore Misc.

#50430 Netflix playback will error
  Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferPrivateAVFObjC.mm
Labels: merge-queue, New Bugs

#50292 REGRESSION (287736@main?): [ iOS ] fast/mediastream/microphone-interruption-and-audio-session.html is constantly failing.
  LayoutTests/fast/mediastream/microphone-interruption-and-audio-session.html
  LayoutTests/platform/ios/TestExpectations
  Source/WebCore/platform/audio/AudioSession.cpp
Labels: merge-queue, WebRTC

#49811 Repaint rects for slider controls are incorrect for RTL vertical block writing modes
  LayoutTests/fast/forms/range/slider-repaint-vertical-rl-expected.txt
  LayoutTests/fast/forms/range/slider-repaint-vertical-rl.html
  LayoutTests/platform/ios-18/fast/forms/range/slider-repaint-vertical-rl-expected.txt
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/ios/fast/forms/range/slider-repaint-vertical-rl-expected.txt
  LayoutTests/platform/mac-sequoia/fast/forms/range/slider-repaint-vertical-rl-expected.txt
  LayoutTests/platform/mac-sonoma/fast/forms/range/slider-repaint-vertical-rl-expected.txt
  LayoutTests/platform/mac/fast/forms/range/slider-repaint-vertical-rl-expected.txt
  Source/WebCore/html/shadow/SliderThumbElement.cpp
  Source/WebCore/rendering/cocoa/RenderThemeCocoa.h
  Source/WebCore/rendering/cocoa/RenderThemeCocoa.mm
  Source/WebCore/rendering/mac/RenderThemeMac.h
  Source/WebCore/rendering/mac/RenderThemeMac.mm
Labels: merge-queue, New Bugs

#50401 [JSC] WASM IPInt SIMD: reformat instruction test input
  JSTests/wasm/stress/simd-instructions-arithmetic.js
  JSTests/wasm/stress/simd-instructions-comparisons.js
  JSTests/wasm/stress/simd-instructions-lib.js
Labels: unsafe-merge-queue, JavaScriptCore

#50414 ASSERT fires when calling CanvasRenderingContext2D::reset() after beginning a layer with a filter
  LayoutTests/fast/canvas/canvas-reset-layer-filter-no-end-expected.txt
  LayoutTests/fast/canvas/canvas-reset-layer-filter-no-end.html
  Source/WebCore/html/canvas/CanvasRenderingContext2DBase.cpp
Labels: merge-queue, Canvas

#50466 REGRESSION(297270@main): Typing a dead key + e results in é to be typed twice in Google docs
  Source/WebCore/page/Quirks.cpp
Labels: unsafe-merge-queue, New Bugs

#50408 [JSC] Refactor `IteratorOperations.h`
  Source/JavaScriptCore/runtime/IteratorOperations.h
  Source/JavaScriptCore/runtime/JSSet.cpp
  Source/JavaScriptCore/runtime/JSSet.h
  Source/JavaScriptCore/runtime/JSSetInlines.h
Labels: merge-queue, JavaScriptCore

#50280 Implement _WKSerializedNode of DocumentFragment, template elements, and shadow roots
  Source/WebCore/dom/ContainerNode.cpp
  Source/WebCore/dom/DocumentFragment.cpp
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/Element.h
  Source/WebCore/dom/SerializedNode.cpp
  Source/WebCore/dom/SerializedNode.h
  Source/WebCore/dom/ShadowRoot.cpp
  Source/WebCore/dom/ShadowRoot.h
  Source/WebCore/dom/SlotAssignmentMode.h
  Source/WebCore/dom/TemplateContentDocumentFragment.cpp
  Source/WebCore/dom/TemplateContentDocumentFragment.h
  Source/WebCore/html/HTMLTemplateElement.cpp
  Source/WebCore/html/HTMLTemplateElement.h
  Source/WebCore/page/WebKitNamespace.cpp
  Source/WebCore/page/WebKitNamespace.h
  Source/WebKit/Shared/SerializedNode.serialization.in
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SerializedNode.mm
Labels: unsafe-merge-queue, WebKit API

#50437 Address Safer CPP warnings under Modules/ShapeDetection
  Source/WebCore/Modules/ShapeDetection/BarcodeDetector.cpp
  Source/WebCore/Modules/ShapeDetection/FaceDetector.cpp
  Source/WebCore/Modules/ShapeDetection/Implementation/Cocoa/BarcodeDetectorImplementation.mm
  Source/WebCore/Modules/ShapeDetection/Implementation/Cocoa/FaceDetectorImplementation.mm
  Source/WebCore/Modules/ShapeDetection/Implementation/Cocoa/TextDetectorImplementation.mm
  Source/WebCore/Modules/ShapeDetection/Implementation/Cocoa/VisionUtilities.mm
  Source/WebCore/Modules/ShapeDetection/TextDetector.cpp
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UnretainedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UnretainedLocalVarsCheckerExpectations
Labels: merge-queue, WebCore Misc.

#50476 Consider invalid Vector capacities as OOM in StringImpl::tryGetUTF8
  Source/WTF/wtf/text/StringImpl.h
Labels: merge-queue, JavaScriptCore
