Repository WebKit/WebKit, pull requests merged in 2025-05, with the labels that each got.

#44579 [Viewport Clipping] [Part 4/4] Add the ability to clip fixed and sticky elements to the viewport
  LayoutTests/TestExpectations
  LayoutTests/compositing/cocoa/clip-fixed-element-to-viewport-expected.html
  LayoutTests/compositing/cocoa/clip-fixed-element-to-viewport.html
  LayoutTests/compositing/cocoa/clip-sticky-element-to-viewport-expected.html
  LayoutTests/compositing/cocoa/clip-sticky-element-to-viewport.html
  LayoutTests/compositing/ios/immediate-scrolling-clip-fixed-element-to-viewport-expected.html
  LayoutTests/compositing/ios/immediate-scrolling-clip-fixed-element-to-viewport.html
  LayoutTests/compositing/ios/immediate-scrolling-clip-sticky-element-to-viewport-expected.html
  LayoutTests/compositing/ios/immediate-scrolling-clip-sticky-element-to-viewport.html
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebCore/rendering/RenderLayerBacking.cpp
  Source/WebCore/rendering/RenderLayerBacking.h
  Source/WebCore/rendering/RenderLayerCompositor.cpp
  Source/WebCore/rendering/RenderLayerCompositor.h
  Tools/WebKitTestRunner/ios/TestControllerIOS.mm
  Tools/WebKitTestRunner/ios/UIScriptControllerIOS.mm
Labels: New Bugs

#44762 Use inline capacity in IncludedProperties.ids
  Source/WebCore/style/PropertyCascade.h
Labels: merge-queue, CSS

#44773 WritingTools.IntelligenceTextEffectCoordinatorDelegate_RectsForProofreadingSuggestionsInRange API test is failing on iOS
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WritingTools.mm
Labels: unsafe-merge-queue, New Bugs

#44746 Revert WebWheelEvent changes of 294180@main
  Source/WebKit/SaferCPPExpectations/UncountedLambdaCapturesCheckerExpectations
  Source/WebKit/Shared/WebEvent.h
  Source/WebKit/WebProcess/WebPage/EventDispatcher.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#44778 Unreviewed. Catalyst build fix after 294370@main.
  Source/WebKit/WebProcess/WebPage/Cocoa/TextCheckingControllerProxy.mm
Labels: unsafe-merge-queue

#44764 [Grid] Properly handle calc values when computing auto track sizes in computeAutoRepeatTracksCount.
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/grid-definition/grid-auto-fit-with-calc-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/grid-definition/grid-auto-fit-with-calc.html
  Source/WebCore/rendering/RenderGrid.cpp
Labels: merge-queue, CSS

#44770 Remove unnecessary includes from WebFrameProxy.h
  Source/WebKit/UIProcess/API/gtk/WebKitPrintOperation.cpp
  Source/WebKit/UIProcess/FindStringCallbackAggregator.cpp
  Source/WebKit/UIProcess/Gamepad/ios/UIGamepadProviderIOS.mm
  Source/WebKit/UIProcess/ProvisionalFrameProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebFrameProxy.h
  Source/WebKit/UIProcess/gstreamer/WebPageProxyGStreamer.cpp
  Source/WebKit/UIProcess/ios/forms/WKFormColorControl.mm
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
Labels: unsafe-merge-queue, WebKit Misc.

#44745 JSToWasm non-IC entrypoints should load the entry point the same way as the IC.
  JSTests/wasm/stress/js-to-wasm-calls-wrong-memory-mode.js
  Source/JavaScriptCore/interpreter/CalleeBits.h
  Source/JavaScriptCore/jit/CCallHelpers.h
  Source/JavaScriptCore/jsc.cpp
  Source/JavaScriptCore/llint/WebAssembly.asm
  Source/JavaScriptCore/offlineasm/arm64.rb
  Source/JavaScriptCore/offlineasm/cloop.rb
  Source/JavaScriptCore/offlineasm/instructions.rb
  Source/JavaScriptCore/offlineasm/x86.rb
  Source/JavaScriptCore/runtime/NativeCallee.h
  Source/JavaScriptCore/wasm/WasmBBQPlan.cpp
  Source/JavaScriptCore/wasm/WasmCallee.cpp
  Source/JavaScriptCore/wasm/WasmCallee.h
  Source/JavaScriptCore/wasm/WasmCalleeGroup.cpp
  Source/JavaScriptCore/wasm/WasmFormat.cpp
  Source/JavaScriptCore/wasm/WasmFormat.h
  Source/JavaScriptCore/wasm/WasmIPIntSlowPaths.cpp
  Source/JavaScriptCore/wasm/WasmMemory.cpp
  Source/JavaScriptCore/wasm/WasmMemory.h
  Source/JavaScriptCore/wasm/WasmOMGPlan.cpp
  Source/JavaScriptCore/wasm/WasmOperations.cpp
  Source/JavaScriptCore/wasm/WasmSlowPaths.cpp
  Source/JavaScriptCore/wasm/js/JSToWasm.cpp
  Source/JavaScriptCore/wasm/js/JSWebAssemblyInstance.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyFunction.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyFunction.h
  Source/JavaScriptCore/wasm/js/WebAssemblyFunctionBase.h
  Source/JavaScriptCore/wasm/js/WebAssemblyMemoryConstructor.cpp
  Source/JavaScriptCore/wasm/js/WebAssemblyMemoryConstructor.h
  Source/JavaScriptCore/wasm/js/WebAssemblyModuleRecord.cpp
Labels: merge-queue

#44791 Fix internal build after 294375@main
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewInternal.h
Labels: unsafe-merge-queue, WebKit Misc.

#44627 [JSC] Add MultiPutByVal
  JSTests/stress/multi-put-by-val-does-not-use-cow.js
  JSTests/stress/multi-put-by-val.js
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
  Source/JavaScriptCore/dfg/DFGClobberize.h
  Source/JavaScriptCore/dfg/DFGDoesGC.cpp
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGGraph.h
  Source/JavaScriptCore/dfg/DFGNode.h
  Source/JavaScriptCore/dfg/DFGNodeType.h
  Source/JavaScriptCore/dfg/DFGPredictionPropagationPhase.cpp
  Source/JavaScriptCore/dfg/DFGSafeToExecute.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT32_64.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/dfg/DFGTypeCheckHoistingPhase.cpp
  Source/JavaScriptCore/ftl/FTLCapabilities.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#44390 Support alternative configurations for web content restrictions
  Source/WebCore/PAL/pal/spi/cocoa/WebContentRestrictionsSPI.h
  Source/WebCore/loader/ContentFilter.cpp
  Source/WebCore/loader/ContentFilterClient.h
  Source/WebCore/loader/DocumentLoader.cpp
  Source/WebCore/loader/DocumentLoader.h
  Source/WebCore/platform/ContentFilterUnblockHandler.h
  Source/WebCore/platform/PlatformContentFilter.h
  Source/WebCore/platform/cocoa/ContentFilterUnblockHandlerCocoa.mm
  Source/WebCore/platform/cocoa/ParentalControlsContentFilter.h
  Source/WebCore/platform/cocoa/ParentalControlsContentFilter.mm
  Source/WebCore/platform/cocoa/ParentalControlsURLFilter.h
  Source/WebCore/platform/cocoa/ParentalControlsURLFilter.mm
  Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp
  Source/WebKit/NetworkProcess/NetworkResourceLoader.h
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/NetworkSession.h
  Source/WebKit/NetworkProcess/NetworkSessionCreationParameters.h
  Source/WebKit/NetworkProcess/NetworkSessionCreationParameters.serialization.in
  Source/WebKit/UIProcess/API/Cocoa/WKErrorPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebsiteDataStoreConfiguration.h
  Source/WebKit/UIProcess/API/Cocoa/_WKWebsiteDataStoreConfiguration.mm
  Source/WebKit/UIProcess/WebFrameProxy.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStoreConfiguration.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStoreConfiguration.h
  Tools/TestWebKitAPI/SourcesCocoa.txt
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebContentRestrictions.mm
Labels: merge-queue

#44786 [Page color sampling] Avoid color-extending small fixed elements on the left/right sides of the viewport
  LayoutTests/fast/page-color-sampling/page-color-sampling-skips-small-elements-expected.txt
  LayoutTests/fast/page-color-sampling/page-color-sampling-skips-small-elements.html
  Source/WebCore/page/LocalFrameView.cpp
Labels: merge-queue, New Bugs

#44792 Add committer status for Pedro Varangot
  metadata/contributors.json
Labels: unsafe-merge-queue

#44077 Use bash -o pipefail for all shell commands in Buildbot
  Tools/CISupport/Shared/steps.py
  Tools/CISupport/Shared/steps_unittest.py
  Tools/CISupport/build-webkit-org/steps.py
  Tools/CISupport/build-webkit-org/steps_unittest.py
  Tools/CISupport/ews-build/steps.py
  Tools/CISupport/ews-build/steps_unittest.py
Labels: unsafe-merge-queue, Tools / Tests

#44705 [JSC] Use double -> float copyElements
  JSTests/stress/typed-array-copy-double-to-float.js
  Source/JavaScriptCore/runtime/JSGenericTypedArrayViewInlines.h
  Source/WTF/wtf/text/StringCommon.h
Labels: unsafe-merge-queue, JavaScriptCore

#44771 [Xcode] Use CLANG_ADDRESS_SANITIZER_CONTAINER_OVERFLOW instead of -U_LIBCPP_HAS_NO_ASAN
  Configurations/CommonBase.xcconfig
  Configurations/Sanitizers.xcconfig
Labels: Tools / Tests

#44488 Stopping an ImageCapture may execute javascript on stop and ActiveDOMObject doesn't allow this
  LayoutTests/fast/mediastream/stopping-image-capture-heap-collect-crash-expected.txt
  LayoutTests/fast/mediastream/stopping-image-capture-heap-collect-crash.html
  Source/WebCore/Modules/mediastream/ImageCapture.cpp
  Source/WebCore/Modules/mediastream/ImageCapture.h
Labels: merge-queue, DOM

#44795 Unreviewed, fix the internal macOS build after 294381@main
  Source/WebCore/platform/cocoa/ParentalControlsURLFilter.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WritingTools.mm
Labels: unsafe-merge-queue, New Bugs

#43958 [HDR] Implement reliable way to detect an image hasHDRContent() or not
  Source/WebCore/platform/graphics/BitmapImageDescriptor.cpp
  Source/WebCore/platform/graphics/BitmapImageDescriptor.h
  Source/WebCore/platform/graphics/BitmapImageSource.h
  Source/WebCore/platform/graphics/DestinationColorSpace.cpp
  Source/WebCore/platform/graphics/DestinationColorSpace.h
  Source/WebCore/platform/graphics/ImageSource.h
  Source/WebCore/platform/graphics/NativeImageSource.h
Labels: merge-queue, Images

#42968 [WebDriver][BiDi] Add support to relay commands with new processBidiMessage and bidiMessageSent in Source/WebDriver
  Source/WebDriver/Session.cpp
  Source/WebDriver/Session.h
  Source/WebDriver/SessionHost.cpp
  Source/WebDriver/SessionHost.h
  Source/WebDriver/WebDriverService.cpp
  Source/WebDriver/WebDriverService.h
  Source/WebDriver/WebSocketServer.cpp
  Source/WebDriver/WebSocketServer.h
  Source/WebDriver/soup/WebSocketServerSoup.cpp
  Source/WebKit/UIProcess/Automation/Automation.json
  Source/WebKit/UIProcess/Automation/WebAutomationSession.cpp
  Source/WebKit/UIProcess/Automation/WebDriverBidiProcessor.cpp
  WebDriverTests/TestExpectations.json
Labels: WebDriver

#44766 Two clicks required to resume playback at premierleague.com after returning from back-forward cache
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/html/HTMLMediaElement.h
  Source/WebCore/html/MediaElementSession.cpp
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/QuirksData.h
Labels: merge-queue, Media

#44790 Unify WebContent log prefix and subsystem
  Source/WebKit/Scripts/generate-derived-log-sources.py
  Source/WebKit/Shared/LogStream.cpp
Labels: unsafe-merge-queue, WebKit Process Model

#44785 Bucket the physical and logical properties of logical property groups separately for more efficient classification
  Source/WebCore/css/CSSProperty.h
  Source/WebCore/css/scripts/process-css-properties.py
  Source/WebCore/css/scripts/test/TestCSSPropertiesResults/CSSPropertyNames.gperf
  Source/WebCore/css/scripts/test/TestCSSPropertiesResults/CSSPropertyNames.h
  Source/WebCore/css/scripts/test/TestCSSPropertiesResults/CSSPropertyParsing.cpp
  Source/WebCore/css/scripts/test/TestCSSPropertiesResults/StyleBuilderGenerated.cpp
  Source/WebCore/css/scripts/test/TestCSSPropertiesResults/StyleInterpolationWrapperMap.cpp
Labels: merge-queue, CSS

#44789 Web Extension content scripts stop receiving messages after back/forward navigation.
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPITabsCocoa.mm
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionTabCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.cpp
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPITabs.mm
  Tools/TestWebKitAPI/cocoa/TestNavigationDelegate.mm
Labels: unsafe-merge-queue, WebKit Extensions

#44763 [macOS] Allow VTDecompressionSession to use VTDecoderXPCService
  Source/WebKit/Scripts/process-entitlements.sh
Labels: Media

#44801 [Gardening]: [macOS Debug]]: ASSERTION FAILED: !layer || !layer->hasAncestor(this) in imported/w3c/web-platform-tests/css/css-view-transitions/transition-in-hidden-page.html
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, Layout and Rendering

#44336 [Writing Tools] Support compiling ENABLE_WRITING_TOOLS on the public SDK (Part 6)
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebCore/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncheckedLocalVarsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedLambdaCapturesCheckerExpectations
  Source/WebKit/SaferCPPExpectations/NoUnretainedMemberCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncheckedLocalVarsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UnretainedCallArgsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UnretainedLocalVarsCheckerExpectations
  Source/WebKit/UIProcess/mac/WebContextMenuProxyMac.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Labels: merge-queue, New Bugs

#44805 [webkitscmpy] Support creating Contributors using one email
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/commit.py
  Tools/Scripts/libraries/webkitscmpy/webkitscmpy/test/commit_unittest.py
Labels: unsafe-merge-queue, Tools / Tests, skip-ews

#44463 Canvas with relative width does not repaint correctly on parent resize
  LayoutTests/compositing/tiling/huge-layer-canvas-resize-expected.txt
  LayoutTests/compositing/tiling/huge-layer-canvas-resize.html
  LayoutTests/compositing/tiling/huge-layer-img-resize-expected.txt
  LayoutTests/compositing/tiling/huge-layer-img-resize.html
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/ios/compositing/tiling/huge-layer-canvas-resize-expected.txt
  LayoutTests/platform/ios/compositing/tiling/huge-layer-img-resize-expected.txt
  LayoutTests/platform/win/TestExpectations
  Source/WebCore/rendering/RenderReplaced.cpp
Labels: merge-queue, Canvas

#44809 [ Gardening] REGRESSION(294276@main) [iOS] http/tests/site-isolation/draw-after-cross-origin-navigation-between-two-remote-frames.html is failing with image diff (flaky in EWS)
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#44811 [GARDENING][ Mac Debug WK1 ] fast/picture/viewport-resize.html is a flaky crash
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue

#44799 Adopt std::ranges in even more places
  Source/WebCore/rendering/RenderTableSection.cpp
  Source/WebCore/rendering/style/GridPositionsResolver.cpp
  Source/WebCore/style/AnchorPositionEvaluator.cpp
  Source/WebCore/style/ElementRuleCollector.cpp
  Source/WebCore/style/PageRuleCollector.cpp
  Source/WebCore/style/PropertyCascade.cpp
  Source/WebCore/style/RuleSet.cpp
  Source/WebCore/style/RuleSetBuilder.cpp
  Source/WebCore/style/StyleBuilderConverter.h
  Source/WebCore/svg/SVGToOTFFontConversion.cpp
  Source/WebCore/svg/animation/SMILTimeContainer.cpp
  Source/WebCore/testing/InternalsMapLike.cpp
  Source/WebCore/testing/WebFakeXRInputController.cpp
  Source/WebCore/workers/service/ServiceWorkerClients.cpp
  Source/WebCore/workers/service/server/SWServer.cpp
  Source/WebCore/xml/XMLHttpRequest.cpp
  Source/WebDriver/WebDriverService.cpp
  Source/WebDriver/WebSocketServer.cpp
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
  Source/WebGPU/WebGPU/Adapter.mm
  Source/WebGPU/WebGPU/BindGroup.mm
  Source/WebGPU/WebGPU/BindGroupLayout.mm
  Source/WebGPU/WebGPU/Device.mm
  Source/WebGPU/WebGPU/HardwareCapabilities.mm
  Source/WebKit/NetworkProcess/Classifier/ResourceLoadStatisticsStore.cpp
  Source/WebKit/NetworkProcess/storage/CacheStorageCache.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/NetworkProcess/webrtc/NetworkRTCMonitor.cpp
  Source/WebKit/Shared/API/APIClient.h
  Source/WebKit/Shared/API/Cocoa/_WKRemoteObjectInterface.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreeTransaction.mm
  Source/WebKit/Shared/SharedStringHashStore.cpp
  Source/WebKit/UIProcess/API/ios/WKWebViewIOS.mm
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.cpp
  Source/WebKit/UIProcess/Cocoa/WKStorageAccessAlert.mm
  Source/WebKit/UIProcess/Extensions/WebExtension.cpp
  Source/WebKit/UIProcess/Notifications/WebNotificationManagerProxy.cpp
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/WebAuthenticatorCoordinatorProxy.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFDocumentLayout.mm
  Source/WebKit/WebProcess/WebPage/ViewGestureGeometryCollector.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKitLegacy/mac/History/WebHistory.mm
  Tools/FontWithFeatures/FontWithFeatures/FontCreator.cpp
  Tools/TestWebKitAPI/Tests/WTF/Condition.cpp
  Tools/TestWebKitAPI/Tests/WTF/FileSystem.cpp
  Tools/TestWebKitAPI/Tests/WTF/HashCountedSet.cpp
  Tools/TestWebKitAPI/Tests/WTF/PriorityQueue.cpp
  Tools/TestWebKitAPI/Tests/WTF/Vector.cpp
  Tools/TestWebKitAPI/Tests/WebCore/PushDatabase.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/DocumentEditingContext.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/MediaSession.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKAttachmentTests.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WebPushDaemon.mm
Labels: merge-queue, WebCore Misc.

#44797 WritingTools.PDFTextSelections API test crashes on debug iOS simulator configuration
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/UnifiedPDFTests.mm
Labels: merge-queue, PDF

#44829 Fix internal visionOS build after 294407@main
  Source/WebCore/editing/cocoa/HTMLConverter.mm
  Source/WebCore/html/shadow/SpatialImageControls.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#44768 Limit number of changed layers committed in transactions to CoreAnimation
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeDrawingAreaProxy.mm
Labels: merge-queue, New Bugs

#44775 [Swift in WebKit] Stop accidentally exposing WebKitSwift as SPI
  Source/WebKit/SaferCPPExpectations/NoUnretainedMemberCheckerExpectations
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebKitSwift/TextExtraction/WKTextExtractionItem.h
  Source/WebKit/WebKitSwift/WebKitSwift.h
  Source/WebKit/WebKitSwift/module.modulemap
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WritingTools.mm
  Tools/WebKitTestRunner/cocoa/WKTextExtractionTestingHelpers.mm
Labels: WebKit Misc.

#44815 FontCascadeCoreText.cpp: Avoid unsafe unretained references
  Source/WebCore/SaferCPPExpectations/UnretainedCallArgsCheckerExpectations
  Source/WebCore/platform/graphics/coretext/FontCascadeCoreText.cpp
Labels: merge-queue, Text

#44819 [visionOS] Some videos aren't playing in immersive mode.
  Source/WebCore/PAL/pal/cf/CoreMediaSoftLink.cpp
  Source/WebCore/PAL/pal/cf/CoreMediaSoftLink.h
  Source/WebCore/platform/graphics/avfoundation/FormatDescriptionUtilities.cpp
Labels: merge-queue, Media

#44808 [JSC] DFGLoopUnrollingPhase: Refactor material node tracking and add per-op node type stats
  Source/JavaScriptCore/dfg/DFGLoopUnrollingPhase.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#44816 Use optional soft-linking for WCRBrowserEngineClient
  Source/WebCore/PAL/pal/cocoa/WebContentRestrictionsSoftLink.mm
Labels: merge-queue

#43742 [GStreamer][1.26] Critical warnings in volume element
  Source/WebCore/platform/graphics/gstreamer/WebKitWebSourceGStreamer.cpp
Labels: merge-queue, Platform

#44812 AX: content-visibility change from hidden to visible ignored by VoiceOver
  LayoutTests/accessibility/dynamic-content-visibility-expected.txt
  LayoutTests/accessibility/dynamic-content-visibility.html
  LayoutTests/platform/glib/TestExpectations
  Source/WebCore/accessibility/AXObjectCache.cpp
Labels: merge-queue, Accessibility

#44776 WebCoreDecompressionSession should be using asynchronous decoding
  Source/WebCore/platform/graphics/cocoa/VideoMediaSampleRenderer.mm
  Source/WebCore/platform/graphics/cocoa/WebCoreDecompressionSession.h
  Source/WebCore/platform/graphics/cocoa/WebCoreDecompressionSession.mm
Labels: merge-queue, Media

#43452 run-jsc-stress-tests --treat-failing-as-flaky should also limit total runtime
  Tools/Scripts/run-javascriptcore-tests
  Tools/Scripts/run-jsc-stress-tests
  Tools/Scripts/webkitruby/jsc-stress-test/executor.rb
Labels: merge-queue, JavaScriptCore

#44818 [Gardening] Update test expectations for `svg` WPT tests passing now
  LayoutTests/TestExpectations
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac/TestExpectations
Labels: merge-queue, Tools / Tests

#44693 The `WKInteractionRegionDebugFill` user default should be cached like the others
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeInteractionRegionLayers.mm
Labels: merge-queue, Layout and Rendering

#44822 AX: [AX Thread Text APIs] RightWord/LeftWorld shouldn't return a range that ends/starts with the current marker
  LayoutTests/accessibility/isolated-tree/editable-word-navigation-expected.txt
  LayoutTests/accessibility/isolated-tree/simple-word-navigation-expected.txt
  LayoutTests/accessibility/mac/right-word-range-at-boundary-expected.txt
  LayoutTests/accessibility/mac/right-word-range-at-boundary.html
  Source/WebCore/accessibility/AXTextMarker.cpp
Labels: merge-queue, Accessibility

#44837 WebCoreDecompressionSession should be using asynchronous decoding
  Source/WebCore/platform/graphics/cocoa/WebCoreDecompressionSession.h
  Source/WebCore/platform/graphics/cocoa/WebCoreDecompressionSession.mm
Labels: merge-queue, Media

#44830 [clang] Explicitly enable -Wpointer-to-int-cast and -Wunused-but-set-variable warnings
  Configurations/CommonBase.xcconfig
Labels: unsafe-merge-queue, WebKit Misc.

#44416 Reduce unsafe lambdas in WebKit/NetworkProcess & UIProcess
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/NetworkProcess/ServiceWorker/ServiceWorkerNavigationPreloader.cpp
  Source/WebKit/NetworkProcess/SharedWorker/WebSharedWorkerServer.cpp
  Source/WebKit/NetworkProcess/cocoa/WebSocketTaskCocoa.mm
  Source/WebKit/NetworkProcess/storage/OriginStorageManager.cpp
  Source/WebKit/SaferCPPExpectations/UncountedLambdaCapturesCheckerExpectations
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
Labels: unsafe-merge-queue, WebKit Misc.

#44732 Reserve capacity for the EventRegionContext's InteractionRegions Vector
  Source/WebCore/rendering/EventRegion.cpp
  Source/WebCore/rendering/EventRegion.h
  Source/WebCore/rendering/RenderLayerBacking.cpp
Labels: merge-queue, Layout and Rendering

#44779 Add missing stdint.h header
  Source/WTF/wtf/Forward.h
Labels: merge-queue

#44487 AX: Fix for accessibility/password-selected-text-range.html in ITM.
  LayoutTests/accessibility-isolated-tree/TestExpectations
  LayoutTests/accessibility/mac/input-replacevalue-userinfo-expected.txt
  LayoutTests/accessibility/mac/input-replacevalue-userinfo.html
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AXObjectCache.h
  Source/WebCore/accessibility/AXTextStateChangeIntent.h
  Source/WebCore/accessibility/atspi/AXObjectCacheAtspi.cpp
  Source/WebCore/accessibility/mac/AXObjectCacheMac.mm
Labels: Accessibility

#44777 -[WKWebView _hasActiveNowPlayingSession] can return a stale value in some cases
  Source/WebCore/Modules/webaudio/AudioContext.cpp
  Source/WebCore/html/HTMLMediaElement.cpp
  Source/WebCore/page/Page.cpp
  Source/WebCore/page/Page.h
  Source/WebCore/platform/audio/cocoa/MediaSessionManagerCocoa.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKitCocoa/NowPlayingSession.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/now-playing-session-test.html
Labels: merge-queue, Media

#44828 Forward `com.apple.system.console_mode_changed` from libnotifyd to WebContent on embedded platforms.
  Source/WebKit/Resources/cocoa/NotificationAllowList/EmbeddedForwardedNotifications.def
Labels: unsafe-merge-queue, Tools / Tests, safe-merge-queue

#44846 Add myself (Rahim Abdi) to WebKit contributors
  metadata/contributors.json
Labels: unsafe-merge-queue, skip-ews

#44858 [JSC] Add BaseIndex extend logging in Air
  Source/JavaScriptCore/b3/air/AirArg.cpp
  Source/JavaScriptCore/b3/air/AirArg.h
Labels: JavaScriptCore

#44831 [Swift in WebKit] The Swift implementation of TextExtraction types is incorrect
  Source/WebKit/Configurations/WebKitSwift.xcconfig
  Source/WebKit/WebKitSwift/TextExtraction/WKTextExtractionItem.h
  Source/WebKit/WebKitSwift/TextExtraction/WKTextExtractionItem.swift
  Source/WebKit/WebKitSwift/TextExtraction/WKWebView+TextExtraction.swift
Labels: merge-queue, WebKit Misc.

#44847 visionOS is missing from build-webkit --help options
  Tools/Scripts/build-webkit
Labels: Tools / Tests

#44645 git webkit appears to be incorrectly using the first radar link in bugzilla instead of the last one
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/bugzilla.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tests/bugzilla_unittest.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tests/radar_unittest.py
  Tools/Scripts/libraries/webkitbugspy/webkitbugspy/tracker.py
Labels: unsafe-merge-queue, Tools / Tests

#44813 [GTK][WPE] Enable CSS Overscroll Behavior by default
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: unsafe-merge-queue, WebKitGTK, WPE WebKit

#44862 Unable to get past the login view for TurboTax 2024
  Source/WTF/wtf/cocoa/RuntimeApplicationChecksCocoa.h
  Source/WTF/wtf/cocoa/RuntimeApplicationChecksCocoa.mm
Labels: unsafe-merge-queue, WebKit Misc.

#44800 BBC - Viewer size is not correct when exiting full screen
  Source/WebKit/WebProcess/FullScreen/WebFullScreenManager.cpp
Labels: unsafe-merge-queue, Media

#44825 [GTK][WPE] Enable Cookie Store API by default
  Source/WTF/wtf/PlatformEnableGlib.h
Labels: unsafe-merge-queue, WPE WebKit

#44863 [JSC] Micro-cleanup for Int52 detection in JIT
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/jit/AssemblyHelpers.h
Labels: JavaScriptCore

#44804 Add thread safety assertion in EventListenerMap
  Source/WebCore/dom/EventListenerMap.cpp
  Source/WebCore/dom/EventListenerMap.h
Labels: unsafe-merge-queue, New Bugs

#44852 Forward `com.apple.coreaudio.audioanalytics.tailspin.defaultsChanged` from libnotifyd to WebContent on embedded platforms.
  Source/WebKit/Resources/cocoa/NotificationAllowList/EmbeddedForwardedNotifications.def
Labels: unsafe-merge-queue, Tools / Tests

#44757 [Site Isolation] Add support for text manipulation in cross-site frames
  Source/WebCore/editing/TextManipulationController.cpp
  Source/WebCore/editing/TextManipulationController.h
  Source/WebCore/editing/TextManipulationControllerManipulationFailure.h
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
  Source/WebKit/WebProcess/WebPage/WebPage.messages.in
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
Labels: merge-queue, New Bugs

#44848 [WTF] Remove remaining use of LIKELY / UNLIKELY except for headers used in C
  Source/WTF/wtf/FastMalloc.h
  Source/WTF/wtf/SystemTracing.h
  Source/WTF/wtf/text/AtomString.cpp
  Source/WTF/wtf/text/StringImpl.cpp
  Source/WTF/wtf/text/WYHash.h
Labels: unsafe-merge-queue

#44854 Leverage std::ranges support for projections to simplify our code
  Source/WTF/wtf/IndexSparseSet.h
  Source/WTF/wtf/SortedArrayMap.h
  Source/WebCore/Modules/mediasession/MediaMetadata.cpp
  Source/WebCore/animation/AnimationTimelinesController.cpp
  Source/WebCore/animation/BlendingKeyframes.cpp
  Source/WebCore/animation/KeyframeEffect.cpp
  Source/WebCore/animation/KeyframeEffectStack.cpp
  Source/WebCore/contentextensions/ContentExtensionsBackend.cpp
  Source/WebCore/css/calc/CSSCalcTree+Serialization.cpp
  Source/WebCore/css/calc/CSSCalcTree+Simplification.cpp
  Source/WebCore/css/parser/CSSPropertyParserConsumer+Ident.h
  Source/WebCore/html/URLSearchParams.cpp
  Source/WebCore/html/URLSearchParams.h
  Source/WebCore/layout/formattingContexts/flex/FlexFormattingContext.cpp
  Source/WebCore/page/ElementTargetingController.cpp
  Source/WebCore/page/PageColorSampler.cpp
  Source/WebCore/page/text-extraction/TextExtraction.cpp
  Source/WebCore/platform/encryptedmedia/clearkey/CDMClearKey.cpp
  Source/WebCore/platform/graphics/FloatSegment.h
  Source/WebCore/platform/graphics/GradientColorStops.h
  Source/WebCore/platform/graphics/PathUtilities.cpp
  Source/WebCore/platform/mediastream/VideoPreset.h
  Source/WebCore/platform/text/SuffixTree.h
  Source/WebCore/plugins/DOMPlugin.cpp
  Source/WebCore/style/StyleTreeResolver.cpp
  Source/WebCore/style/values/images/StyleGradient.cpp
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
  Source/WebGPU/WebGPU/BindGroup.mm
  Source/WebGPU/WebGPU/BindGroupLayout.mm
  Source/WebKit/NetworkProcess/storage/CacheStorageCache.cpp
  Source/WebKit/NetworkProcess/storage/NetworkStorageManager.cpp
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreeTransaction.mm
  Source/WebKit/Shared/SharedStringHashStore.cpp
  Source/WebKit/UIProcess/AuxiliaryProcessProxy.cpp
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/WebAuthenticatorCoordinatorProxy.mm
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
  Source/WebKit/WebProcess/WebPage/ViewGestureGeometryCollector.cpp
Labels: merge-queue, WebCore Misc.

#44793 [UnifiedPDF] [iPad] Unable to tap on first page for VoiceOver to read
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
  Source/WebKit/WebProcess/Plugins/PDF/WKAccessibilityPDFDocumentObject.mm
Labels: merge-queue

#44849 Unreviewed, reverting 294430@main (ad212dd0260a)
  Source/WebGPU/WGSL/Metal/MetalFunctionWriter.cpp
Labels: merge-queue, WebGPU

#44855 AX: To avoid confusing ATs, WebKit should avoid exposing listboxes as listboxes if they don't have any option descendants
  LayoutTests/accessibility/mac/invalid-list-box-expected.txt
  LayoutTests/accessibility/mac/invalid-list-box.html
  Source/WebCore/accessibility/AXCoreObject.cpp
  Source/WebCore/accessibility/AXCoreObject.h
  Source/WebCore/accessibility/AXLogger.cpp
  Source/WebCore/accessibility/cocoa/AXCoreObjectCocoa.mm
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.h
Labels: merge-queue, Accessibility

#44807 Make sure all classes used in PackedRefPtr and CompactUniquePtrTuple tests are compact-allocated
  Tools/TestWebKitAPI/Tests/WTF/CompactUniquePtrTuple.cpp
  Tools/TestWebKitAPI/Tests/WTF/PackedRefPtr.cpp
Labels: merge-queue

#44866 [UnifiedPDF] PDFPageNumberIndicator cannot use UIVisualEffectView in all configurations
  Source/WebKit/Configurations/WebKit.xcconfig
  Source/WebKit/DerivedSources-output.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Modules/Internal/WebKitInternal.h
  Source/WebKit/UIProcess/PDF/WKPDFPageNumberIndicator.h
  Source/WebKit/UIProcess/PDF/WKPDFPageNumberIndicator.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: unsafe-merge-queue, PDF

#44871 FontCacheCoreText: Lazy initialize WorkQueue (m_prewarmQueue)
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/platform/graphics/FontCache.h
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
Labels: Text

#44835 Reduce header includes in Document.h
  Source/WebCore/Modules/WebGPU/GPUQueue.cpp
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/dom/DocumentInlines.h
  Source/WebCore/page/IntersectionObserver.h
  Source/WebCore/page/Page.h
  Source/WebCore/platform/graphics/ca/cocoa/GraphicsLayerAsyncContentsDisplayDelegateCocoa.h
  Source/WebCore/rendering/BackgroundPainter.h
  Source/WebKit/WebProcess/WebCoreSupport/WebProcessSyncClient.cpp
Labels: unsafe-merge-queue, New Bugs

#44879 Fix the build after 294442@main
  Source/WebKit/WebKitSwift/TextExtraction/WKWebView+TextExtraction.swift
Labels: unsafe-merge-queue, New Bugs

#44715 [JSC] Enable partial loop unrolling with inlining-aware code size exclusion
  Source/JavaScriptCore/dfg/DFGBasicBlock.h
  Source/JavaScriptCore/dfg/DFGCloneHelper.h
  Source/JavaScriptCore/dfg/DFGCriticalEdgeBreakingPhase.cpp
  Source/JavaScriptCore/dfg/DFGLoopUnrollingPhase.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/runtime/Options.cpp
  Source/JavaScriptCore/runtime/OptionsList.h
Labels: New Bugs

#44880 REGRESSION(294465@main): Broke the internal iOS build
  Source/WebCore/dom/Document.h
Labels: unsafe-merge-queue, New Bugs

#44864 AX: Named hidden elements are being announced with VoiceOver
  LayoutTests/accessibility/mac/hidden-related-object-exposure-expected.txt
  LayoutTests/accessibility/mac/hidden-related-object-exposure.html
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AXObjectCache.h
  Source/WebCore/accessibility/AccessibilityImageMapLink.cpp
  Source/WebCore/accessibility/AccessibilityImageMapLink.h
  Source/WebCore/accessibility/AccessibilityNodeObject.cpp
  Source/WebCore/rendering/updating/RenderTreeUpdater.cpp
Labels: merge-queue, Accessibility

#44836 [Buildstream SDK] Bump to latest releases of gst-plugins-rs
  Tools/buildstream/elements/sdk/gst-plugin-audiofx.bst
  Tools/buildstream/elements/sdk/gst-plugin-closedcaption.bst
  Tools/buildstream/elements/sdk/gst-plugin-livesync.bst
  Tools/buildstream/elements/sdk/gst-plugin-rtp.bst
  Tools/buildstream/files/gst-plugin-closedcaption/Cargo.lock
  Tools/buildstream/files/gst-plugin-rtp/Cargo.lock
Labels: Tools / Tests

#44884 HTMLElement.h doesn't need to include ColorTypes.h
  Source/WebCore/html/HTMLElement.h
Labels: unsafe-merge-queue, New Bugs

#44870 [JSC] Fix incorrect early return in isNodeCloneable and add debug cycle check
  Source/JavaScriptCore/dfg/DFGCloneHelper.cpp
  Source/JavaScriptCore/dfg/DFGCloneHelper.h
  Source/JavaScriptCore/dfg/DFGLoopUnrollingPhase.cpp
Labels: JavaScriptCore

#44838 Set the opcode origin correctly on Wasm OMG IR Generator for 32bit CPUs
  Source/JavaScriptCore/wasm/WasmOMGIRGenerator32_64.cpp
Labels: merge-queue, JavaScriptCore

#44876 Optimize RenderStyle::changeRequiresRepaint() cases where currentColor differs
  Source/WebCore/rendering/style/BorderData.cpp
  Source/WebCore/rendering/style/BorderData.h
  Source/WebCore/rendering/style/SVGRenderStyle.cpp
  Source/WebCore/rendering/style/StyleBackgroundData.cpp
  Source/WebCore/rendering/style/StyleBackgroundData.h
Labels: merge-queue, Layout and Rendering

#44889 Do further adoption of [[likely]] / [[unlikely]] in JSC
  Source/JavaScriptCore/jit/JITPlan.cpp
  Source/JavaScriptCore/jit/JITPlan.h
  Source/JavaScriptCore/jit/JITWorklistThread.cpp
  Source/JavaScriptCore/jit/RegisterSet.h
  Source/JavaScriptCore/jit/ThunkGenerators.cpp
  Source/JavaScriptCore/jsc.cpp
  Source/JavaScriptCore/llint/LLIntData.cpp
  Source/JavaScriptCore/llint/LLIntExceptions.cpp
  Source/JavaScriptCore/llint/LLIntSlowPaths.cpp
  Source/JavaScriptCore/llint/LowLevelInterpreter.cpp
  Source/JavaScriptCore/parser/Lexer.cpp
  Source/JavaScriptCore/parser/Lexer.h
  Source/JavaScriptCore/parser/ModuleAnalyzer.cpp
  Source/JavaScriptCore/parser/Parser.cpp
  Source/JavaScriptCore/parser/Parser.h
  Source/JavaScriptCore/parser/ParserArena.h
  Source/JavaScriptCore/parser/SourceProvider.cpp
  Source/JavaScriptCore/runtime/AggregateError.cpp
  Source/JavaScriptCore/runtime/ArgList.cpp
  Source/JavaScriptCore/runtime/ArgList.h
  Source/JavaScriptCore/runtime/ArrayBuffer.cpp
  Source/JavaScriptCore/runtime/ArrayBufferView.h
  Source/JavaScriptCore/runtime/ArrayConstructor.cpp
  Source/JavaScriptCore/runtime/ArrayPrototypeInlines.h
  Source/JavaScriptCore/runtime/AtomicsObject.cpp
  Source/JavaScriptCore/runtime/BooleanPrototype.cpp
  Source/JavaScriptCore/runtime/ButterflyInlines.h
  Source/JavaScriptCore/runtime/CallData.cpp
  Source/JavaScriptCore/runtime/CatchScope.h
  Source/JavaScriptCore/runtime/ClonedArguments.cpp
  Source/JavaScriptCore/runtime/ClonedArguments.h
  Source/JavaScriptCore/runtime/CodeCache.cpp
  Source/JavaScriptCore/runtime/CodeCache.h
  Source/JavaScriptCore/runtime/CommonSlowPaths.cpp
  Source/JavaScriptCore/runtime/CommonSlowPaths.h
  Source/JavaScriptCore/runtime/CommonSlowPathsInlines.h
  Source/JavaScriptCore/runtime/Completion.cpp
  Source/JavaScriptCore/runtime/ConstructData.cpp
  Source/JavaScriptCore/runtime/DirectArguments.cpp
  Source/JavaScriptCore/runtime/DirectArguments.h
  Source/JavaScriptCore/runtime/ExceptionFuzz.h
  Source/JavaScriptCore/runtime/ExceptionHelpers.cpp
  Source/JavaScriptCore/runtime/ExceptionScope.h
  Source/JavaScriptCore/runtime/FinalizationRegistryPrototype.cpp
  Source/JavaScriptCore/runtime/FunctionPrototype.cpp
Labels: merge-queue, JavaScriptCore

#44885 Teach the style script about [[likely]] / [[unlikely]]
  Tools/Scripts/webkitpy/style/checkers/cpp.py
  Tools/Scripts/webkitpy/style/checkers/cpp_unittest.py
Labels: merge-queue, Tools / Tests

#44850 [iOS] Remove obsolete sandbox extension
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
Labels: unsafe-merge-queue, WebKit Process Model

#44892 [visionOS] LinearMediaPlayer contentType is required for external presentation
  Source/WebKit/WebKitSwift/LinearMediaKit/LinearMediaPlayer.swift
Labels: merge-queue, Media

#44906 Rename user facing strings for spatial backdrop to be website environments
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: merge-queue, WebKit Misc.

#44904 [WTF] Fix ASan poisoning in move constructor and move assignment operator for WTF::Vector
  Source/WTF/wtf/Vector.h
Labels: unsafe-merge-queue

#44898 [Viewport Clipping] REGRESSION (294368@main): washingtonpost.com front page is blank
  LayoutTests/compositing/cocoa/clip-nested-sticky-elements-expected.html
  LayoutTests/compositing/cocoa/clip-nested-sticky-elements.html
  LayoutTests/compositing/cocoa/clip-sticky-element-with-overflow-clip-on-root-expected.html
  LayoutTests/compositing/cocoa/clip-sticky-element-with-overflow-clip-on-root.html
  LayoutTests/compositing/ios/clip-sticky-element-with-no-anchor-expected.html
  LayoutTests/compositing/ios/clip-sticky-element-with-no-anchor.html
  LayoutTests/resources/ui-helper.js
  Source/WebCore/page/scrolling/ScrollingConstraints.cpp
  Source/WebCore/rendering/RenderLayerBacking.cpp
  Source/WebCore/rendering/RenderLayerCompositor.cpp
  Source/WebCore/rendering/RenderLayerCompositor.h
Labels: merge-queue, New Bugs

#44888 Use unfair lock in log forwarding
  Source/WebKit/Platform/LogClient.h
Labels: unsafe-merge-queue, WebKit Process Model

#44875 [Swift in WebKit] Move TextExtraction code from WebKitSwift to WebKit
  Source/WebKit/Configurations/WebKit.xcconfig
  Source/WebKit/Modules/Internal/WebKitInternal.h
  Source/WebKit/SaferCPPExpectations/NoUnretainedMemberCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UnretainedCallArgsCheckerExpectations
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/Cocoa/TextExtraction/WKTextExtractionItem.h
  Source/WebKit/UIProcess/Cocoa/TextExtraction/WKTextExtractionItem.swift
  Source/WebKit/UIProcess/Cocoa/TextExtraction/WKTextExtractionUtilities.h
  Source/WebKit/UIProcess/Cocoa/TextExtraction/WKTextExtractionUtilities.mm
  Source/WebKit/UIProcess/Cocoa/TextExtraction/WKWebView+TextExtraction.swift
  Source/WebKit/UIProcess/Cocoa/WebKitSwiftSoftLink.h
  Source/WebKit/UIProcess/Cocoa/WebKitSwiftSoftLink.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebKitSwift/WebKitSwift.h
Labels: merge-queue, WebKit Misc.

#44914 [iOS] Adopt API alternatives for -selectionContainerView and -_selectionContainerViewAboveText
  Source/WebKit/UIProcess/ios/WKContentViewInteraction.mm
Labels: merge-queue, HTML Editing

#44917 Remove FALLTHROUGH use in WebKit
  Tools/MiniBrowser/gtk/main.c
Labels: unsafe-merge-queue, JavaScriptCore

#44916 [JSC] Remove remaining LIKELY / UNLIKELY
  Source/JavaScriptCore/KeywordLookupGenerator.py
  Source/JavaScriptCore/assembler/LinkBuffer.h
  Source/JavaScriptCore/assembler/MacroAssemblerX86_64.h
  Source/JavaScriptCore/bytecode/ArrayAllocationProfile.h
  Source/JavaScriptCore/dfg/DFGPlan.cpp
  Source/JavaScriptCore/heap/Heap.cpp
  Source/JavaScriptCore/heap/HeapInlines.h
  Source/JavaScriptCore/parser/Lexer.cpp
  Source/JavaScriptCore/parser/Parser.h
  Source/JavaScriptCore/parser/ParserArena.h
  Source/JavaScriptCore/runtime/CommonSlowPaths.h
  Source/JavaScriptCore/runtime/IteratorOperations.cpp
  Source/JavaScriptCore/runtime/ObjectInitializationScope.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#44924 Unreviewed, missing one place use of LIKELY
  Source/JavaScriptCore/parser/Lexer.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#44841 MediaSession needs to wait for SVG icons with subresources
  LayoutTests/fast/mediasession/metadata/artworkdownload-svg-expected.html
  LayoutTests/fast/mediasession/metadata/artworkdownload-svg.html
  LayoutTests/fast/mediasession/metadata/artworkdownload.html
  Source/WebCore/Modules/mediasession/MediaMetadata.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.cpp
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.h
  Source/WebCore/Modules/webcodecs/WebCodecsVideoFrame.idl
  Source/WebCore/SaferCPPExpectations/UncountedLambdaCapturesCheckerExpectations
  Source/WebCore/testing/Internals.cpp
  Source/WebCore/testing/Internals.h
  Source/WebCore/testing/Internals.idl
Labels: unsafe-merge-queue, Media

#44555 [WPE][GTK] Release crash in WebCore::Region
  Source/WebCore/platform/graphics/Damage.h
Labels: merge-queue, WebKitGTK

#44146 [GStreamer][WebRTC] imported/w3c/web-platform-tests/webrtc/protocol/rtp-headerextensions.html fails
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/glib/fast/mediastream/RTCPeerConnection-inspect-answer-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/webrtc/protocol/rtp-headerextensions-expected.txt
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.h
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerWebRTCUtils.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerWebRTCUtils.h
  Source/WebCore/platform/graphics/gstreamer/GStreamerRegistryScanner.cpp
  Source/WebCore/platform/graphics/gstreamer/GStreamerRegistryScanner.h
  Source/WebCore/platform/graphics/gstreamer/GUniquePtrGStreamer.h
Labels: merge-queue, Platform

#44893 REGRESSION(294106@main): [GStreamer][MSE] Introduced flaky crashes in builds with ASSERT enabled
  Source/WebCore/platform/graphics/gstreamer/mse/AppendPipeline.cpp
Labels: merge-queue, Platform

#44900 Deflake `font-size-using-ems.html`
  LayoutTests/TestExpectations
  LayoutTests/animations/font-size-using-ems-expected.txt
  LayoutTests/animations/font-size-using-ems.html
Labels: merge-queue, Animations

#44743 [WPE] WPE Platform: add clipboard support
  Source/WebKit/Shared/wpe/GRefPtrWPE.cpp
  Source/WebKit/Shared/wpe/GRefPtrWPE.h
  Source/WebKit/UIProcess/API/wpe/PageClientImpl.cpp
  Source/WebKit/UIProcess/wpe/WebPasteboardProxyWPE.cpp
  Source/WebKit/WPEPlatform/CMakeLists.txt
  Source/WebKit/WPEPlatform/wpe/WPEClipboard.cpp
  Source/WebKit/WPEPlatform/wpe/WPEClipboard.h
  Source/WebKit/WPEPlatform/wpe/WPEDisplay.cpp
  Source/WebKit/WPEPlatform/wpe/WPEDisplay.h
  Source/WebKit/WPEPlatform/wpe/wpe-platform.h
  Tools/WebKitTestRunner/wpe/UIScriptControllerWPE.cpp
Labels: unsafe-merge-queue, WPE WebKit

#44927 [GStreamer] fix deadlock when seeking
  Source/WebCore/platform/graphics/gstreamer/GStreamerCommon.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp
  Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.h
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.cpp
  Source/WebCore/platform/graphics/gstreamer/mse/MediaPlayerPrivateGStreamerMSE.h
Labels: merge-queue, GLib Suggested Backport - 2.48

#44721 Use C++ 20's Concepts in csp/ContentSecurityPolicy
  Source/WebCore/page/csp/ContentSecurityPolicy.cpp
  Source/WebCore/page/csp/ContentSecurityPolicy.h
Labels: merge-queue, DOM

#44941 AdaptiveImageGlyph.InsertWKAttachmentsCopyFromWebViewPasteToWebView is a flaky failure
  Tools/TestWebKitAPI/Tests/WebKitCocoa/AdaptiveImageGlyph.mm
Labels: unsafe-merge-queue, New Bugs

#44928 REGRESSION(294462@main): UI process may crash with 'NSInvalidArgumentException': -[WKPDFPageNumberIndicator canUseVisualEffectViewForBackdrop] :: unrecognized selector
  Source/WebKit/UIProcess/PDF/WKPDFPageNumberIndicator.mm
Labels: unsafe-merge-queue, PDF

#44817 [webkitpy] Change VisionOSSimulatorPort's method of determining the default device type.
  Tools/Scripts/webkitpy/port/visionos_simulator.py
Labels: unsafe-merge-queue, Tools / Tests

#44890 [JSC] Make ValueToInt32 and MultiGetByVal static information solid
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
  Source/JavaScriptCore/dfg/DFGMayExit.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#44897 build-and-analyze: add --enable-checkers and --disable-checkers switches to provide more granularity
  Tools/Scripts/build-and-analyze
Labels: unsafe-merge-queue, Tools / Tests

#44939 Drop remaining use of LIKELY() / UNLIKELY() in WebCore/
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerWebRTCUtils.cpp
  Source/WebCore/Scripts/SettingsTemplates/Settings.cpp.erb
  Source/WebCore/accessibility/AccessibilityRenderObject.cpp
  Source/WebCore/bindings/scripts/test/JS/JSTestStringContext.cpp
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/EventContext.cpp
  Source/WebCore/dom/make_names.pl
  Source/WebGPU/WGSL/AttributeValidator.cpp
  Source/WebKit/WPEPlatform/wpe/wayland/WPEViewWayland.cpp
  Source/WebKit/WebProcess/Extensions/Bindings/Scripts/CodeGeneratorExtensions.pm
  Source/bmalloc/bmalloc/BCompiler.h
  Source/bmalloc/bmalloc/TZoneHeap.cpp
  Source/bmalloc/bmalloc/TZoneHeap.h
  Source/bmalloc/bmalloc/TZoneHeapInlines.h
  Tools/Scripts/generate-gpup-webgl
  Tools/Scripts/webkitpy/style/checkers/cpp_unittest.py
Labels: merge-queue, WebCore Misc.

#44953 [macOS] Media playback can fail on some sites on Intel
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
Labels: WebKit Process Model

#44686 Remove `cross-origin-worker-indexeddb-allowed.html` in favor of equivalent WPT
  LayoutTests/http/tests/security/cross-origin-worker-indexeddb-allowed-expected.txt
  LayoutTests/http/tests/security/cross-origin-worker-indexeddb-allowed.html
Labels: merge-queue, Website Storage

#44913 Update compare-results to support MotionMark 1.3.1
  Tools/Scripts/compare-results
Labels: merge-queue, New Bugs

#44699 Reduce the amount of String allocations in `updateLayersForInteractionRegions`
  Source/WebKit/UIProcess/RemoteLayerTree/RemoteLayerTreeInteractionRegionLayers.mm
Labels: merge-queue, Layout and Rendering

#44956 [Xcode] Necessary platform-args.resp outputs not declared for watchOS/tvOS builds
  Source/WTF/Scripts/generate-platform-args
  Source/WebCore/PAL/PAL.xcodeproj/project.pbxproj
  Source/WebGPU/WebGPU.xcodeproj/project.pbxproj
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
Labels: unsafe-merge-queue, Tools / Tests

#44918 [JSC] Use [[noreturn]] in C++
  Source/JavaScriptCore/b3/air/AirPrintSpecial.cpp
  Source/JavaScriptCore/b3/air/AirPrintSpecial.h
  Source/JavaScriptCore/disassembler/Disassembler.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/jit/JIT.h
  Source/JavaScriptCore/jit/JITOpcodes.cpp
  Source/JavaScriptCore/jsc.cpp
  Source/JavaScriptCore/testRegExp.cpp
  Source/JavaScriptCore/wasm/WasmSlowPaths.h
Labels: merge-queue

#44947 Remove CSSLightDarkEnabled preference
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/css/parser/CSSParserContext.cpp
  Source/WebCore/css/parser/CSSParserContext.h
  Source/WebCore/css/parser/CSSPropertyParserConsumer+Color.cpp
Labels: merge-queue, CSS

#44921 REGRESSION(286329@main?): [ macOS wk2 Release x86_64 ] media/media-vp8-hiddenframes.html is a flaky failure.
  LayoutTests/media/media-vp8-hiddenframes.html
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebCore/platform/graphics/cocoa/MediaPlayerPrivateWebM.mm
Labels: merge-queue, Media

#44873 AX: Add test exposing missing space in RTL text after ENABLE(AX_THREAD_TEXT_APIS)
  LayoutTests/accessibility-isolated-tree/TestExpectations
  LayoutTests/accessibility/text-marker/text-marker-bidi-inline-cite-expected.txt
  LayoutTests/accessibility/text-marker/text-marker-bidi-inline-cite.html
Labels: merge-queue

#44948 Update WTF::roundUpToPowerOfTwo() to leverage C++20's std::bit_ceil
  Source/JavaScriptCore/runtime/CachedTypes.cpp
  Source/JavaScriptCore/runtime/PropertyTable.h
  Source/JavaScriptCore/runtime/Structure.h
  Source/JavaScriptCore/wasm/WasmTable.cpp
  Source/JavaScriptCore/yarr/YarrJIT.cpp
  Source/WTF/wtf/HashTable.h
  Source/WTF/wtf/MathExtras.h
  Source/WTF/wtf/RobinHoodHashTable.h
  Source/WebCore/platform/audio/cocoa/CARingBuffer.cpp
  Source/WebCore/platform/audio/cocoa/MediaSessionManagerCocoa.mm
  Source/WebCore/platform/graphics/texmap/TextureMapper.cpp
  Source/WebCore/platform/mediastream/gstreamer/MockRealtimeAudioSourceGStreamer.cpp
  Source/WebCore/platform/mediastream/mac/MockAudioSharedUnit.mm
  Source/WebGPU/WebGPU/HardwareCapabilities.mm
  Source/WebKit/Shared/Cocoa/SharedCARingBuffer.cpp
  Source/WebKit/Shared/SharedStringHashStore.cpp
  Tools/TestWebKitAPI/Tests/WTF/MathExtras.cpp
  Tools/TestWebKitAPI/Tests/WTF/RobinHoodHashSet.cpp
Labels: merge-queue

#44954 Drop LIKELY() / UNLIKELY() macros
  Source/WTF/wtf/Assertions.h
  Source/WTF/wtf/Compiler.h
Labels: merge-queue, New Bugs

#44971 Add Fady Farag as a committer
  metadata/contributors.json
Labels: unsafe-merge-queue, WebKit Website

#44966 Set light blending distance to non zero value
  Source/WebKit/UIProcess/ios/WKPageHostedModelView.mm
Labels: merge-queue

#44650 [SwiftUI] Update the set of supported view modifiers on WebView (part 4)
  Source/WebKit/_WebKit_SwiftUI/API/View+WebViewModifiers.swift
Labels: unsafe-merge-queue, New Bugs

#44894 [JSC] Optimize `Math.hypot` branch prediction with `likely` for 2 and 3 argument cases
  Source/JavaScriptCore/runtime/MathObject.cpp
Labels: JavaScriptCore

#44943 [macOS][Writing Tools] Add support for top-level context menu items
  Source/WebCore/PAL/pal/spi/mac/NSMenuSPI.h
  Source/WebCore/en.lproj/Localizable.strings
  Source/WebCore/page/ContextMenuController.cpp
  Source/WebCore/platform/ContextMenuItem.cpp
  Source/WebCore/platform/ContextMenuItem.h
  Source/WebCore/platform/LocalizedStrings.cpp
  Source/WebCore/platform/LocalizedStrings.h
  Source/WebKit/Platform/mac/MenuUtilities.mm
  Source/WebKit/Shared/API/c/WKContextMenuItemTypes.h
  Source/WebKit/Shared/API/c/WKSharedAPICast.h
  Source/WebKit/UIProcess/API/Cocoa/WKMenuItemIdentifiers.mm
  Source/WebKit/UIProcess/API/Cocoa/WKMenuItemIdentifiersPrivate.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/mac/WebContextMenuProxyMac.mm
  Source/WebKit/UIProcess/mac/WebPageProxyMac.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WritingTools.mm
Labels: unsafe-merge-queue, New Bugs

#44965 [Swift in WebKit] Improve Swift implementation of some TextExtraction code
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewInternal.h
  Source/WebKit/UIProcess/Cocoa/TextExtraction/WKTextExtractionItem.h
  Source/WebKit/UIProcess/Cocoa/TextExtraction/WKTextExtractionItem.swift
  Source/WebKit/UIProcess/Cocoa/TextExtraction/WKWebView+TextExtraction.swift
Labels: merge-queue, WebKit Misc.

#44978 REGRESSION (294079@main): [ MacOS iOS WK2 ] 3X imported/w3c/web-platform-tests/navigation-api/navigate-event/navigate-form are consistent failures
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#44803 CoreIPCCFDictionary::createCFDictionary() doesn't validate key/value type
  Source/WebKit/Shared/cf/CoreIPCCFDictionary.h
  Source/WebKit/Shared/cf/CoreIPCCFDictionary.mm
  Source/WebKit/Shared/cf/CoreIPCCFDictionary.serialization.in
  Tools/TestWebKitAPI/Tests/IPC/IPCSerialization.mm
Labels: merge-queue, New Bugs

#44976 [WebGPU] HDR should use extended color space
  Source/WebCore/html/canvas/GPUCanvasContextCocoa.mm
  Source/WebCore/platform/graphics/DestinationColorSpace.cpp
  Source/WebCore/platform/graphics/DestinationColorSpace.h
Labels: merge-queue, WebGPU

#44964 REGRESSION(294316@main): Broke lldb-webkit-test
  Tools/lldb/lldb_webkit_unittest.py
Labels: merge-queue, New Bugs

#43814 Add call to animate model to center of portal on drag
  Source/WebCore/Modules/model-element/HTMLModelElement.cpp
  Source/WebCore/Modules/model-element/HTMLModelElement.h
  Source/WebCore/Modules/model-element/ModelPlayer.cpp
  Source/WebCore/Modules/model-element/ModelPlayer.h
  Source/WebCore/page/ios/EventHandlerIOS.mm
  Source/WebKit/ModelProcess/cocoa/ModelProcessModelPlayerProxy.h
  Source/WebKit/ModelProcess/cocoa/ModelProcessModelPlayerProxy.messages.in
  Source/WebKit/ModelProcess/cocoa/ModelProcessModelPlayerProxy.mm
  Source/WebKit/WebProcess/Model/ModelProcessModelPlayer.cpp
  Source/WebKit/WebProcess/Model/ModelProcessModelPlayer.h
  Source/WebKit/WebProcess/Model/ModelProcessModelPlayer.messages.in
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
Labels: merge-queue, WebKit Misc.

#44937 MediaCapabilitiesDecodingInfo does not need to define constructors
  Source/WebCore/platform/MediaCapabilitiesDecodingInfo.h
  Source/WebCore/platform/MediaCapabilitiesEncodingInfo.h
  Source/WebCore/platform/mediastream/WebRTCProvider.cpp
  Source/WebCore/platform/mock/MediaEngineConfigurationFactoryMock.cpp
Labels: merge-queue, Media

#44934 [WPE] Implement PlatformWebView::focus() on new API
  Tools/WebKitTestRunner/libwpe/PlatformWebViewClient.h
  Tools/WebKitTestRunner/libwpe/PlatformWebViewLibWPE.cpp
  Tools/WebKitTestRunner/wpe/PlatformWebViewClientWPE.cpp
  Tools/WebKitTestRunner/wpe/PlatformWebViewClientWPE.h
Labels: unsafe-merge-queue, WPE WebKit

#44973 Remove print from catch-from-function-inlining-simd-function.js test
  JSTests/stress/catch-from-function-inlining-simd-function.js
Labels: merge-queue, JavaScriptCore

#45002 Unreviewed, reverting 294236@main
  Source/WebCore/platform/graphics/Damage.h
  Source/WebCore/platform/graphics/texmap/TextureMapperDamageVisualizer.cpp
  Source/WebCore/platform/graphics/texmap/TextureMapperLayer.cpp
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedBackingStore.cpp
  Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedPlatformLayer.cpp
  Source/WebKit/WebProcess/WebPage/dmabuf/AcceleratedSurfaceDMABuf.cpp
  Tools/TestWebKitAPI/Tests/WebCore/glib/Damage.cpp
Labels: unsafe-merge-queue

#44982 Leverage C++20's std::midpoint() where appropriate
  Source/JavaScriptCore/b3/B3LowerMacros.cpp
  Source/JavaScriptCore/bytecode/ExpressionInfo.cpp
  Source/JavaScriptCore/heap/HeapSnapshot.cpp
  Source/JavaScriptCore/jit/BinarySwitch.cpp
  Source/JavaScriptCore/runtime/StableSort.h
  Source/JavaScriptCore/yarr/YarrInterpreter.cpp
  Source/WTF/wtf/HashTable.h
  Source/WTF/wtf/RobinHoodHashTable.h
  Source/WebCore/accessibility/AccessibilityNodeObject.cpp
  Source/WebCore/accessibility/AccessibilityObject.cpp
  Source/WebCore/dom/ImageOverlay.cpp
  Source/WebCore/html/HTMLFormElement.cpp
  Source/WebCore/html/HTMLMeterElement.cpp
  Source/WebCore/html/RangeInputType.cpp
  Source/WebCore/html/parser/HTMLEntitySearch.cpp
  Source/WebCore/html/track/TextTrack.cpp
  Source/WebCore/layout/formattingContexts/inline/text/TextUtil.cpp
  Source/WebCore/platform/graphics/ColorConversion.cpp
  Source/WebCore/platform/graphics/ColorConversion.h
  Source/WebCore/platform/graphics/GeometryUtilities.cpp
  Source/WebCore/platform/graphics/PlatformTimeRanges.cpp
  Source/WebCore/platform/graphics/cocoa/GraphicsContextCocoa.mm
  Source/WebCore/rendering/BorderPainter.cpp
  Source/WebKit/Platform/cocoa/WebPrivacyHelpers.mm
  Source/WebKitLegacy/mac/History/WebHistory.mm
Labels: merge-queue, WebCore Misc.

#44967 Have isPowerOfTwo() call std::has_single_bit() and move it to MathExtras.h
  Source/JavaScriptCore/heap/FreeList.h
  Source/JavaScriptCore/wasm/WasmBBQJIT64.h
  Source/WTF/wtf/MathExtras.h
  Source/WTF/wtf/PageBlock.h
  Source/WTF/wtf/StdLibExtras.h
  Source/WebCore/platform/audio/cocoa/CARingBuffer.cpp
Labels: merge-queue

#44963 [Content Filtering] Make ParentalControlsContentFilter::finishedAddingData wait for decision before returning
  Source/WebCore/loader/ContentFilter.cpp
  Source/WebCore/loader/ContentFilter.h
  Source/WebCore/platform/PlatformContentFilter.h
  Source/WebCore/platform/cocoa/NetworkExtensionContentFilter.h
  Source/WebCore/platform/cocoa/NetworkExtensionContentFilter.mm
  Source/WebCore/platform/cocoa/ParentalControlsContentFilter.h
  Source/WebCore/platform/cocoa/ParentalControlsContentFilter.mm
  Source/WebCore/platform/cocoa/ParentalControlsURLFilter.h
  Source/WebCore/platform/cocoa/ParentalControlsURLFilter.mm
  Source/WebCore/testing/MockContentFilter.cpp
  Source/WebCore/testing/MockContentFilter.h
Labels: merge-queue, New Bugs

#45012 Fix the build after 294542@main
  Source/WebKit/UIProcess/Cocoa/TextExtraction/WKWebView+TextExtraction.swift
Labels: WebKit Misc.

#44985 [visionOS] unable to use docking mode on youtube and hulu
  Source/WebKit/WebKitSwift/LinearMediaKit/LinearMediaPlayer.swift
Labels: merge-queue, Media

#44861 [Xcode] Some targets accessing /System/Library/PrivateFrameworks through non-system include paths
  Source/WebInspectorUI/Configurations/Base.xcconfig
  Tools/DumpRenderTree/mac/Configurations/Base.xcconfig
  Tools/TestWebKitAPI/Configurations/Base.xcconfig
  Tools/TestWebKitAPI/Configurations/TestWebKitAPIBase.xcconfig
  Tools/WebKitTestRunner/Configurations/Base.xcconfig
Labels: merge-queue, Tools / Tests

#44990 GPUP: Drawing paths spends time in Path related constructors
  Source/WebCore/platform/graphics/Path.cpp
  Source/WebCore/platform/graphics/Path.h
  Source/WebCore/platform/graphics/PathSegment.cpp
  Source/WebCore/platform/graphics/PathSegment.h
Labels: merge-queue, Canvas

#45017 [JSC] Adjust FTL inlining ratio and add more non-code-gen nodes
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/runtime/OptionsList.h
Labels: JavaScriptCore

#45008 Some minor style resolution optimizations
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/Element.h
  Source/WebCore/dom/ElementRareData.h
  Source/WebCore/rendering/RenderBoxModelObject.cpp
  Source/WebCore/rendering/RenderObject.h
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/updating/RenderTreeUpdater.cpp
  Source/WebCore/rendering/updating/RenderTreeUpdaterGeneratedContent.cpp
  Source/WebCore/rendering/updating/RenderTreeUpdaterGeneratedContent.h
  Source/WebCore/style/StyleChange.cpp
  Source/WebCore/style/StyleTreeResolver.cpp
Labels: merge-queue, CSS

#45014 SimpleFontDataCoreText: Avoid leak of CT object
  Source/WebCore/SaferCPPExpectations/RetainPtrCtorAdoptCheckerExpectations
  Source/WebCore/platform/graphics/coretext/SimpleFontDataCoreText.cpp
Labels: merge-queue, Text

#45016 [Page color sampling] Fixed element background color extension views should animate
  LayoutTests/compositing/cocoa/clip-sticky-element-to-viewport-expected.html
  LayoutTests/compositing/cocoa/clip-sticky-element-to-viewport.html
  LayoutTests/resources/ui-helper.js
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewInternal.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivateForTesting.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewTesting.mm
  Source/WebKit/UIProcess/Cocoa/WKColorExtensionView.h
  Source/WebKit/UIProcess/Cocoa/WKColorExtensionView.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Tools/TestRunnerShared/UIScriptContext/Bindings/UIScriptController.idl
  Tools/TestRunnerShared/UIScriptContext/UIScriptController.h
  Tools/WebKitTestRunner/cocoa/UIScriptControllerCocoa.h
  Tools/WebKitTestRunner/cocoa/UIScriptControllerCocoa.mm
Labels: New Bugs
