Repository WebKit/WebKit, pull requests merged in 2025-01, with the labels that each got.

#38445 Refuse to break inside replaced content
  LayoutTests/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  Source/WebCore/rendering/RenderBox.cpp
  Source/WebCore/rendering/RenderBox.h
  Source/WebCore/rendering/RenderTableSection.cpp
Labels: merge-queue, Layout and Rendering

#38431 Reduce the size of, and padding in, StyleRareNonInheritedData
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyle.h
  Source/WebCore/rendering/style/RenderStyleInlines.h
  Source/WebCore/rendering/style/RenderStyleSetters.h
  Source/WebCore/rendering/style/StyleRareNonInheritedData.cpp
  Source/WebCore/rendering/style/StyleRareNonInheritedData.h
Labels: merge-queue, New Bugs

#38428 WebHistoryItemClient should send IPC to WebPageProxy instead of WebProcessProxy
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/UIProcess/WebProcessProxy.messages.in
  Source/WebKit/WebProcess/WebPage/WebHistoryItemClient.cpp
  Source/WebKit/WebProcess/WebPage/WebHistoryItemClient.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
Labels: unsafe-merge-queue, History

#37896 Implement multiple import maps
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/import-maps/acquiring/dynamic-import-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/acquiring/script-tag-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/acquiring/script-tag-inline-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/bare-specifiers.sub-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/csp/applied-to-target-dynamic.sub-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/csp/applied-to-target.sub-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/csp/hash-failure-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/csp/nonce-failure-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/data-driven/resolving_data-url-prefix.json-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/data-driven/resolving_empty-import-map.json-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/data-driven/resolving_overlapping-entries.json-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/data-driven/resolving_packages-via-trailing-slashes.json-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/data-driven/resolving_resolving-null.json-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/data-driven/resolving_scopes-exact-vs-prefix.json-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/data-driven/resolving_scopes.json-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/data-driven/resolving_tricky-specifiers.json-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/data-driven/resolving_url-specifiers-schemes.json-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/data-driven/resolving_url-specifiers.json-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/data-url-specifiers.sub-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/http-url-like-specifiers.sub-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/multiple-import-maps/basic-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/multiple-import-maps/conflict-first-persists-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/multiple-import-maps/resolution-consistency-in-module-tree-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/multiple-import-maps/resolution-consistency-in-module-tree-inline-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/multiple-import-maps/resolution-consistency-in-module-tree.html
  LayoutTests/imported/w3c/web-platform-tests/import-maps/multiple-import-maps/with-errors-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/not-overridden/external-script-bare-descendent-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/not-overridden/external-script-descendent-with-scope-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/import-maps/not-overridden/failed-resolution-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/resources/out-of-scope-test.js
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/import-maps/bare-specifiers.sub-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/import-maps/csp/applied-to-target-dynamic.sub-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/import-maps/csp/applied-to-target.sub-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/import-maps/data-url-specifiers.sub-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/import-maps/http-url-like-specifiers.sub-expected.txt
  LayoutTests/platform/win/imported/w3c/web-platform-tests/import-maps/bare-specifiers.sub-expected.txt
  LayoutTests/platform/win/imported/w3c/web-platform-tests/import-maps/csp/applied-to-target-dynamic.sub-expected.txt
  LayoutTests/platform/win/imported/w3c/web-platform-tests/import-maps/csp/applied-to-target.sub-expected.txt
  LayoutTests/platform/win/imported/w3c/web-platform-tests/import-maps/data-url-specifiers.sub-expected.txt
  LayoutTests/platform/win/imported/w3c/web-platform-tests/import-maps/http-url-like-specifiers.sub-expected.txt
  Source/JavaScriptCore/builtins/BuiltinNames.h
  Source/JavaScriptCore/builtins/ModuleLoader.js
  Source/JavaScriptCore/bytecode/LinkTimeConstant.h
  Source/JavaScriptCore/runtime/ImportMap.cpp
  Source/JavaScriptCore/runtime/ImportMap.h
  Source/JavaScriptCore/runtime/JSGlobalObject.cpp
  Source/JavaScriptCore/runtime/JSGlobalObject.h
  Source/JavaScriptCore/runtime/JSGlobalObjectFunctions.cpp
  Source/JavaScriptCore/runtime/JSGlobalObjectFunctions.h
  Source/WebCore/bindings/js/ScriptController.cpp
  Source/WebCore/bindings/js/ScriptController.h
  Source/WebCore/bindings/js/ScriptModuleLoader.cpp
  Source/WebCore/dom/ScriptElement.cpp
  Source/WebCore/dom/ScriptType.h
Labels: unsafe-merge-queue, WebCore Misc.

#38451 [JSC] Make `memcpy` for butterfly safer in `Array#toReversed` fast path
  Source/JavaScriptCore/runtime/JSArray.cpp
Labels: merge-queue, JavaScriptCore

#38429 [JSC] Implement `Array.prototype.with` in C++
  JSTests/microbenchmarks/array-prototype-with-contiguous.js
  JSTests/microbenchmarks/array-prototype-with-double.js
  JSTests/microbenchmarks/array-prototype-with-int32.js
  JSTests/stress/array-prototype-with-fast.js
  Source/JavaScriptCore/builtins/ArrayPrototype.js
  Source/JavaScriptCore/runtime/ArrayPrototype.cpp
  Source/JavaScriptCore/runtime/CommonIdentifiers.h
  Source/JavaScriptCore/runtime/JSArray.cpp
  Source/JavaScriptCore/runtime/JSArray.h
Labels: merge-queue, JavaScriptCore

#38263 UnifiedPDF: Use page coverage for PDF content invalidation
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/AsyncPDFRenderer.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/AsyncPDFRenderer.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFDiscretePresentationController.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFDiscretePresentationController.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFPageCoverage.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFPresentationController.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFPresentationController.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFScrollingPresentationController.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFScrollingPresentationController.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: merge-queue, PDF

#38452 Remove unnecessary code from `RenderTextControl::computeIntrinsicLogicalWidths()`
  Source/WebCore/rendering/RenderTextControl.cpp
Labels: merge-queue, Layout and Rendering

#38375 AX: Remove unnecessary AXProperty::SelectedChildren
  LayoutTests/accessibility/combobox/combobox-active-element-selected-children-expected.txt
  LayoutTests/accessibility/combobox/combobox-active-element-selected-children.html
  LayoutTests/accessibility/combobox/mac/aria-combobox-activedescendant-expected.txt
  LayoutTests/accessibility/combobox/mac/aria-combobox-activedescendant.html
  LayoutTests/accessibility/list/list-active-element-selected-children-expected.txt
  LayoutTests/accessibility/list/list-active-element-selected-children.html
  LayoutTests/accessibility/list/listbox-active-element-selected-children-expected.txt
  LayoutTests/accessibility/list/listbox-active-element-selected-children.html
  LayoutTests/resources/accessibility-helper.js
  Source/WebCore/accessibility/AXCoreObject.cpp
  Source/WebCore/accessibility/AXCoreObject.h
  Source/WebCore/accessibility/AXLogger.cpp
  Source/WebCore/accessibility/AXObjectCache.cpp
  Source/WebCore/accessibility/AccessibilityListBox.cpp
  Source/WebCore/accessibility/AccessibilityListBox.h
  Source/WebCore/accessibility/AccessibilityMenuListPopup.cpp
  Source/WebCore/accessibility/AccessibilityMenuListPopup.h
  Source/WebCore/accessibility/AccessibilityNodeObject.cpp
  Source/WebCore/accessibility/AccessibilityObject.cpp
  Source/WebCore/accessibility/AccessibilityObject.h
  Source/WebCore/accessibility/atspi/AccessibilityObjectSelectionAtspi.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.h
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.h
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperMac.mm
  Source/WebCore/inspector/InspectorAuditAccessibilityObject.cpp
  Source/WebCore/inspector/agents/InspectorDOMAgent.cpp
Labels: Accessibility

#38440 [Remote Inspection] youtube.com: targeting 'Try searching to get started' selects the entire app
  LayoutTests/fast/element-targeting/target-container-with-visual-overflow-expected.txt
  LayoutTests/fast/element-targeting/target-container-with-visual-overflow.html
  Source/WebCore/page/ElementTargetingController.cpp
  Source/WebCore/page/ElementTargetingController.h
Labels: New Bugs

#38374 [ Debug Sequoia ] TestWebKitAPI.WKWebViewCandidateTests.SoftSpaceReplacementAfterCandidateInsertionWithoutReplacement is a constant failure
  Source/WebKit/UIProcess/PageClient.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/UIProcess/mac/PageClientImplMac.h
  Source/WebKit/UIProcess/mac/PageClientImplMac.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Source/WebKit/WebProcess/WebPage/mac/WebPageMac.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebViewCandidateTests.mm
Labels: merge-queue, WebKit API

#38402 [macOS] Double clicking over UI in store.steampowered.com, beta.maps.apple.com, and other sites triggers unexpected text selection
  LayoutTests/editing/selection/double-click-does-not-expand-selection-over-empty-div-expected.txt
  LayoutTests/editing/selection/double-click-does-not-expand-selection-over-empty-div.html
  LayoutTests/platform/mac/fast/events/objc-event-api-expected.txt
  Source/WebCore/editing/TextIterator.cpp
  Source/WebCore/editing/TextIterator.h
  Source/WebCore/page/EventHandler.cpp
  Source/WebCore/page/EventHandler.h
Labels: merge-queue, HTML Editing

#38460 [PlayStation] Fix unused warnings after 288097@main
  Source/WebKit/UIProcess/Launcher/playstation/ProcessLauncherPlayStation.cpp
Labels: unsafe-merge-queue, WebKit2

#38446 Fix isLineInverted to handle sideways-lr correctly
  Source/WebCore/platform/text/WritingMode.h
  Tools/TestWebKitAPI/Tests/WebCore/WritingModeTests.cpp
Labels: merge-queue, CSS

#38447 Teach IFC input to convert margin/padding/border for writing-mode: sideways-lr
  Source/WebCore/layout/integration/LayoutIntegrationBoxGeometryUpdater.cpp
Labels: unsafe-merge-queue, CSS

#38448 Cosmetic improvements to InlineDisplay*Builder coordinate mapping
  Source/WebCore/layout/formattingContexts/inline/display/InlineDisplayContentBuilder.cpp
  Source/WebCore/layout/formattingContexts/inline/display/InlineDisplayContentBuilder.h
  Source/WebCore/layout/formattingContexts/inline/display/InlineDisplayLineBuilder.cpp
Labels: unsafe-merge-queue, Layout and Rendering

#38449 Convert (non-bidi) inline content coordinates for writing-mode: sideways-lr
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/css/css-writing-modes/sideways-inline-001-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-writing-modes/sideways-inline-001-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-writing-modes/sideways-inline-001.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-writing-modes/sideways-inline-002-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-writing-modes/sideways-inline-002-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-writing-modes/sideways-inline-002.html
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingConstraints.h
  Source/WebCore/layout/formattingContexts/inline/display/InlineDisplayContentBuilder.cpp
  Source/WebCore/layout/formattingContexts/inline/display/InlineDisplayContentBuilder.h
  Source/WebCore/layout/formattingContexts/inline/display/InlineDisplayLineBuilder.cpp
  Source/WebCore/layout/integration/LayoutIntegrationBoxGeometryUpdater.cpp
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.cpp
Labels: unsafe-merge-queue, CSS

#38450 Convert coordinates properly for floats in writing-mode: sideways-lr
  LayoutTests/imported/w3c/web-platform-tests/css/css-writing-modes/sideways-inline-003-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-writing-modes/sideways-inline-003-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-writing-modes/sideways-inline-003.html
  Source/WebCore/layout/integration/inline/LayoutIntegrationLineLayout.cpp
Labels: unsafe-merge-queue, CSS

#38455 Switch border/background fragmentation to accommodate sideways-lr
  LayoutTests/imported/w3c/web-platform-tests/css/css-writing-modes/sideways-inline-002-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-writing-modes/sideways-inline-002.html
  Source/WebCore/layout/integration/inline/InlineIteratorInlineBox.cpp
  Source/WebCore/layout/integration/inline/InlineIteratorInlineBox.h
  Source/WebCore/platform/RectEdges.h
  Source/WebCore/platform/graphics/RoundedRect.cpp
  Source/WebCore/platform/graphics/RoundedRect.h
  Source/WebCore/rendering/BackgroundPainter.cpp
  Source/WebCore/rendering/BackgroundPainter.h
  Source/WebCore/rendering/BorderEdge.cpp
  Source/WebCore/rendering/BorderEdge.h
  Source/WebCore/rendering/BorderPainter.cpp
  Source/WebCore/rendering/BorderPainter.h
  Source/WebCore/rendering/BorderShape.cpp
  Source/WebCore/rendering/BorderShape.h
  Source/WebCore/rendering/InlineBoxPainter.cpp
  Source/WebCore/rendering/RenderBoxModelObject.cpp
  Source/WebCore/rendering/RenderBoxModelObject.h
  Source/WebCore/rendering/style/RenderStyle.cpp
  Source/WebCore/rendering/style/RenderStyle.h
Labels: unsafe-merge-queue, CSS

#38293 Web content process gets killed when loading apartments.com
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.h
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.h
  Source/WebKit/NetworkProcess/NetworkProcess.messages.in
  Source/WebKit/NetworkProcess/NetworkProcessCreationParameters.h
  Source/WebKit/NetworkProcess/NetworkProcessCreationParameters.serialization.in
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/WebPreferences.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.h
Labels: merge-queue, New Bugs

#38270 Enable Wasm IPInt
  Source/JavaScriptCore/llint/InPlaceInterpreter.cpp
  Source/JavaScriptCore/llint/InPlaceInterpreter.h
  Source/JavaScriptCore/llint/InPlaceInterpreter64.asm
  Source/JavaScriptCore/runtime/Options.h
  Source/JavaScriptCore/runtime/OptionsList.h
Labels: unsafe-merge-queue, JavaScriptCore

#38481 Fix font-style-interpolation.html WPT to expect `oblique 0deg` instead of `normal`
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/animations/font-style-interpolation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-fonts/animations/font-style-interpolation.html
Labels: unsafe-merge-queue, CSS

#38479 [iOS]: TestWebKitAPI.GPUProcess.ExitsUnderMemoryPressureGetUserMediaVideoCase is a flaky failure ( flaky in EWS)
  Tools/TestWebKitAPI/Tests/WebKitCocoa/GPUProcess.mm
Labels: New Bugs

#38475 [Gardening] filter() function doesn't work with CSS gradients
  LayoutTests/TestExpectations
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, CSS

#38466 Drop contradictory condition in min-width clamping
  Source/WebCore/rendering/RenderBox.cpp
Labels: merge-queue, Layout and Rendering

#38459 Reduce use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in Source/WebCore/platform
  Source/WebCore/platform/libwebrtc/LibWebRTCVPXVideoDecoder.cpp
  Source/WebCore/platform/libwebrtc/LibWebRTCVPXVideoEncoder.cpp
  Source/WebCore/platform/mediacapabilities/MediaEngineConfigurationFactory.cpp
  Source/WebCore/platform/mediastream/RealtimeMediaSource.cpp
  Source/WebCore/platform/mediastream/RealtimeMediaSourceSettings.cpp
  Source/WebCore/platform/mediastream/cocoa/AudioMediaStreamTrackRendererInternalUnit.cpp
  Source/WebCore/platform/mediastream/libwebrtc/LibWebRTCDav1dDecoder.cpp
  Source/WebCore/platform/mediastream/mac/CoreAudioCaptureDeviceManager.cpp
  Source/WebCore/platform/mediastream/mac/CoreAudioSharedUnit.cpp
  Source/WebCore/platform/mediastream/mac/MockAudioSharedUnit.mm
  Source/WebCore/platform/mediastream/mac/RealtimeOutgoingAudioSourceCocoa.cpp
Labels: WebCore Misc.

#38468 Enforce maxAgeCacheCap when partitioned cookies are allowed
  Source/WebCore/platform/network/NetworkStorageSession.cpp
Labels: unsafe-merge-queue, Page Loading

#38487 `FrameLoader::loadURLIntoChildFrame` should take a LocalFrame reference
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/loader/FrameLoader.h
  Source/WebCore/loader/SubframeLoader.cpp
Labels: Page Loading

#38461 Remove unneeded ENABLE_UNIFIED_PDF_SELECTION_LAYER
  Source/WTF/wtf/PlatformEnableCocoa.h
  Source/WebKit/Platform/spi/Cocoa/PDFKitSPI.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFDiscretePresentationController.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFDiscretePresentationController.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFScrollingPresentationController.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/PDFScrollingPresentationController.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: merge-queue, PDF

#38467 Cookie partitioning quirk doesn't handle redirects
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
  Source/WebKit/NetworkProcess/cocoa/NetworkTaskCocoa.h
  Source/WebKit/NetworkProcess/cocoa/NetworkTaskCocoa.mm
Labels: unsafe-merge-queue, Page Loading

#38470 Only propagate partitioned cookies setting when tracking prevention is enabled
  Source/WebKit/NetworkProcess/NetworkSession.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
Labels: unsafe-merge-queue, Page Loading

#38474 WKDownloadDelegate.decideDestinationUsingResponse indicating a file that already exists should cancel instead of crashing network process
  Source/WebKit/UIProcess/API/Cocoa/WKDownload.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/Download.mm
Labels: unsafe-merge-queue, Page Loading

#38495 [css-anchor-position-1] `position-try-fallbacks` should work with `transition: all`
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/property-interpolations-expected.txt
  Source/WebCore/rendering/style/RenderStyle.cpp
Labels: merge-queue, New Bugs

#38473 Haptic feedback for <input type=checkbox switch> should require user activation
  Source/WebCore/html/CheckboxInputType.cpp
  Tools/TestWebKitAPI/SourcesCocoa.txt
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SwitchInputTests.mm
Labels: unsafe-merge-queue, Forms

#38484 [css-animations] Fix serialization and parsing of `animation-name` strings
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/parsing/animation-name-computed-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/parsing/animation-name-computed.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/parsing/animation-name-valid-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-animations/parsing/animation-name-valid.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/animation-name-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-typed-om/the-stylepropertymap/properties/animation-name.html
  Source/WebCore/css/parser/CSSPropertyParserConsumer+Animations.cpp
Labels: unsafe-merge-queue, New Bugs

#38485 Child extension frames randomly treated as the main frame
  Source/WebKit/Shared/Extensions/WebExtensionFrameIdentifier.cpp
Labels: unsafe-merge-queue, WebKit Extensions

#38482 Drop unnecessary WTF_ALLOW_UNSAFE_BUFFER_USAGE around header includes
  Source/WTF/wtf/HashMap.h
  Source/WTF/wtf/ObjectIdentifier.h
  Source/WTF/wtf/RefCounted.h
  Source/WTF/wtf/Threading.h
  Source/WTF/wtf/text/WTFString.h
  Source/WebCore/accessibility/AXObjectCache.h
  Source/WebCore/bindings/IDLTypes.h
  Source/WebCore/bindings/js/BufferSource.h
  Source/WebCore/bindings/js/DOMWrapperWorld.h
  Source/WebCore/bindings/js/JSDOMConvertBase.h
  Source/WebCore/bindings/js/JSDOMGlobalObject.h
  Source/WebCore/bindings/js/JSDOMWrapper.h
  Source/WebCore/page/StructuredSerializeOptions.h
  Source/WebCore/platform/libwebrtc/LibWebRTCVPXVideoDecoder.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#38500 Re-enable TZoneHeap.
  Source/WTF/wtf/PlatformUse.h
Labels: unsafe-merge-queue, New Bugs

#38476 Use more const and strong references on stack in WebResourceLoader
  Source/WebKit/SaferCPPExpectations/UncountedLocalVarsCheckerExpectations
  Source/WebKit/WebProcess/Network/WebResourceLoader.cpp
  Source/WebKit/WebProcess/Network/WebResourceLoader.h
Labels: unsafe-merge-queue, WebKit Misc.

#38498 Remove site isolation error logs in Document::topDocument
  Source/WebCore/dom/Document.cpp
Labels: unsafe-merge-queue, WebKit Process Model

#38497 Fix site isolation frame process management when loading main frame content with cross-origin-opener-policy
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
Labels: unsafe-merge-queue, WebKit Process Model

#38496 [cocoa] Change the opt-in cookie partitioning support to stable
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WTF/wtf/PlatformHave.h
Labels: unsafe-merge-queue, Page Loading

#38159 [WebGPUSwift] implement beginRenderPass in Swift
  Source/WebGPU/WebGPU/CommandEncoder.h
  Source/WebGPU/WebGPU/CommandEncoder.mm
  Source/WebGPU/WebGPU/CommandEncoder.swift
  Source/WebGPU/WebGPU/Internal/WebGPUSwiftInternal.h
  Source/WebGPU/WebGPU/RenderPassEncoder.h
  Source/WebGPU/WebGPU/TextureView.h
Labels: merge-queue, WebGPU

#38507 Unreviewed build fix post 288407@main or 288408@main
  Source/WebKit/Shared/Cocoa/CoreIPCNSURLProtectionSpace.h
  Source/WebKit/Shared/Cocoa/CoreIPCNSURLProtectionSpace.mm
Labels: unsafe-merge-queue, Tools / Tests

#38490 [UnifiedPDF] Make UnifiedPDFEnabled a defaults-overridable preference
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: PDF

#38501 [view-transitions] animation-name set from user agent dynamic stylesheet has extra quotes
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/dynamic-stylesheet-animations-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-view-transitions/dynamic-stylesheet-animations.html
  Source/WebCore/dom/ViewTransition.cpp
Labels: unsafe-merge-queue, New Bugs

#37721 [WebGPUSwift] Swift Implementation of beginComputePass
  Source/WebGPU/WebGPU/CommandEncoder.h
  Source/WebGPU/WebGPU/CommandEncoder.mm
  Source/WebGPU/WebGPU/CommandEncoder.swift
  Source/WebGPU/WebGPU/ComputePassEncoder.h
  Source/WebGPU/WebGPU/Internal/WebGPUSwiftInternal.h
Labels: unsafe-merge-queue, WebGPU

#38502 Regression(288156@main): http/tests/security/contentSecurityPolicy/connect-src-star-websocket-allowed.html is flakily crashing
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.cpp
  Source/WebKit/NetworkProcess/NetworkConnectionToWebProcess.messages.in
  Source/WebKit/NetworkProcess/NetworkSocketChannel.cpp
  Source/WebKit/NetworkProcess/NetworkSocketChannel.h
  Source/WebKit/NetworkProcess/NetworkSocketChannel.messages.in
Labels: merge-queue, New Bugs

#38506 Enable sideways writing modes on stable
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: unsafe-merge-queue, Layout and Rendering

#38511 Actually enable key validation for HashMap
  Source/WTF/wtf/HashMap.h
  Source/WTF/wtf/HashSet.h
  Source/WTF/wtf/HashTable.h
  Source/WTF/wtf/RobinHoodHashTable.h
Labels: unsafe-merge-queue

#37582 [GTK] Create WebKitWebExtensionMatchPattern
  Source/WebKit/PlatformGTK.cmake
  Source/WebKit/SourcesGTK.txt
  Source/WebKit/UIProcess/API/glib/WebKitError.cpp
  Source/WebKit/UIProcess/API/glib/WebKitError.h.in
  Source/WebKit/UIProcess/API/glib/WebKitPrivate.cpp
  Source/WebKit/UIProcess/API/glib/WebKitPrivate.h
  Source/WebKit/UIProcess/API/glib/WebKitWebExtensionMatchPattern.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebExtensionMatchPattern.h.in
  Source/WebKit/UIProcess/API/glib/WebKitWebExtensionMatchPatternPrivate.h
  Source/WebKit/UIProcess/API/glib/webkit.h.in
  Tools/Scripts/webkitpy/style/checker.py
  Tools/TestWebKitAPI/Tests/WebKitGLib/TestWebKitWebExtensionMatchPattern.cpp
  Tools/TestWebKitAPI/glib/CMakeLists.txt
Labels: merge-queue, WebKit Extensions

#37598 Remove sandbox extension to fonts service
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebKit/DerivedSources-input.xcfilelist
  Source/WebKit/DerivedSources.make
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.WebContent.sb.in
  Source/WebKit/Scripts/webkit/messages.py
  Source/WebKit/Shared/AdditionalFonts.h
  Source/WebKit/Shared/AdditionalFonts.serialization.in
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebProcessPool.h
  Source/WebKit/UIProcess/ios/WebProcessProxyIOS.mm
  Source/WebKit/UIProcess/mac/WebProcessProxyMac.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Source/WebKit/WebProcess/WebProcess.h
  Source/WebKit/WebProcess/WebProcess.messages.in
  Source/WebKit/WebProcess/cocoa/WebProcessCocoa.mm
Labels: unsafe-merge-queue, WebKit Process Model

#38509 Reduce use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in HTMLDocumentParserFastPath.cpp
  Source/WebCore/html/parser/HTMLDocumentParserFastPath.cpp
Labels: unsafe-merge-queue, DOM

#38520 [SwiftUI] Support context menu configuration (macOS)
  Source/WebKit/UIProcess/API/Swift/View+WebViewModifiers.swift
  Source/WebKit/UIProcess/API/Swift/WKUIDelegateAdapter.swift
  Source/WebKit/UIProcess/API/Swift/WebPage+ElementInfo.swift
  Source/WebKit/UIProcess/API/Swift/WebPage.swift
  Source/WebKit/UIProcess/API/Swift/WebView/WebViewRepresentable.swift
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Tools/SwiftBrowser/Source/Views/ContentView.swift
Labels: unsafe-merge-queue, New Bugs

#38517 Make the flag for ResourceMonitor testable.
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/loader/ResourceMonitor.cpp
  Source/WebCore/loader/ResourceMonitor.h
  Tools/WebKitTestRunner/TestOptions.cpp
Labels: New Bugs

#38123 Add SPI to disable media playback related features
  Source/WTF/Scripts/GeneratePreferences.rb
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebKit/Scripts/PreferencesTemplates/WebPreferencesFeatures.cpp.erb
  Source/WebKit/UIProcess/API/Cocoa/WKPreferences.mm
  Source/WebKit/UIProcess/API/Cocoa/WKPreferencesPrivate.h
  Source/WebKit/UIProcess/WebPreferences.h
Labels: merge-queue, New Bugs

#38516 AX: [Site Isolation][iOS] Hit testing should return platform elements
  Source/WebCore/accessibility/ios/WebAccessibilityObjectWrapperIOS.mm
Labels: Accessibility

#38510 Remove dead code in RenderFlexibleBox::cacheFlexItemMainSize
  Source/WebCore/rendering/RenderFlexibleBox.cpp
Labels: merge-queue, Layout and Rendering

#38515 [JSC] DataViewSet should initialize tempFPR when the data byte size is less than 8
  JSTests/stress/data-view-float-16.js
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
Labels: unsafe-merge-queue, New Bugs

#38530 [GTK] Unreviewed, build fix for Debian 12
  Source/WebKit/PlatformGTK.cmake
Labels: unsafe-merge-queue

#38531 [GTK] Unreviewed, build fix for Debian 12
  Source/WebKit/UIProcess/API/glib/WebKitWebExtensionMatchPattern.cpp
Labels: unsafe-merge-queue

#38521 [iOS] Document context requests with attributed string should include adaptive image glyphs as attributes
  Source/WebCore/editing/cocoa/HTMLConverter.h
  Source/WebCore/editing/cocoa/HTMLConverter.mm
  Source/WebKit/WebProcess/WebPage/ios/WebPageIOS.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/AdaptiveImageGlyph.mm
Labels: merge-queue, Platform

#38525 Provisional frames for site isolation should start with about:blank as their URL
  Source/WebCore/dom/Document.h
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
Labels: unsafe-merge-queue, WebKit Process Model

#38512 Update message endpoint annotation using MediaPlaybackEnabled
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebKit/GPUProcess/GPUConnectionToWebProcess.messages.in
  Source/WebKit/GPUProcess/graphics/RemoteDisplayListRecorder.messages.in
  Source/WebKit/GPUProcess/media/RemoteAudioSessionProxy.messages.in
  Source/WebKit/GPUProcess/media/RemoteMediaEngineConfigurationFactoryProxy.messages.in
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerManagerProxy.messages.in
  Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.messages.in
  Source/WebKit/GPUProcess/media/RemoteRemoteCommandListenerProxy.messages.in
  Source/WebKit/GPUProcess/media/ios/RemoteMediaSessionHelperProxy.messages.in
  Source/WebKit/GPUProcess/webrtc/RemoteAudioMediaStreamTrackRendererInternalUnitManager.messages.in
  Source/WebKit/GPUProcess/webrtc/RemoteSampleBufferDisplayLayer.messages.in
  Source/WebKit/GPUProcess/webrtc/RemoteSampleBufferDisplayLayerManager.messages.in
  Source/WebKit/UIProcess/Cocoa/UserMediaCaptureManagerProxy.messages.in
  Source/WebKit/UIProcess/Media/AudioSessionRoutingArbitratorProxy.messages.in
  Source/WebKit/UIProcess/WebPageProxy.messages.in
Labels: New Bugs

#38203 .measureText() returns TextMetrics object with rounded values for bounding box
  LayoutTests/fast/canvas/canvas-measureText-2-expected.txt
  LayoutTests/fast/canvas/canvas-measureText-2.html
  LayoutTests/imported/w3c/web-platform-tests/html/canvas/element/text/2d.text.measure.baselines-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/canvas/offscreen/text/2d.text.measure.baselines-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/canvas/offscreen/text/2d.text.measure.baselines.worker-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/canvas/element/text/2d.text.measure.baselines-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/canvas/offscreen/text/2d.text.measure.baselines-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/html/canvas/offscreen/text/2d.text.measure.baselines.worker-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/html/canvas/element/text/2d.text.measure.baselines-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/html/canvas/offscreen/text/2d.text.measure.baselines-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/html/canvas/offscreen/text/2d.text.measure.baselines.worker-expected.txt
  Source/WebCore/html/canvas/CanvasRenderingContext2DBase.cpp
  Source/WebCore/platform/graphics/FontCascade.cpp
Labels: merge-queue, Layout and Rendering

#38518 Reduce use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in Source/WebCore/platform/graphics
  Source/WebCore/platform/graphics/mac/ColorMac.mm
  Source/WebCore/platform/graphics/mac/controls/ButtonMac.mm
  Source/WebCore/platform/graphics/mac/controls/InnerSpinButtonMac.mm
  Source/WebCore/platform/graphics/mac/controls/MenuListButtonMac.mm
  Source/WebCore/platform/graphics/mac/controls/MenuListMac.mm
  Source/WebCore/platform/graphics/mac/controls/ProgressBarMac.mm
  Source/WebCore/platform/graphics/mac/controls/SearchFieldCancelButtonMac.mm
  Source/WebCore/platform/graphics/mac/controls/SliderTrackMac.mm
  Source/WebCore/platform/graphics/mac/controls/SwitchMacUtilities.mm
  Source/WebCore/platform/graphics/mac/controls/ToggleButtonMac.mm
  Source/WebCore/platform/graphics/opentype/OpenTypeCG.cpp
  Source/WebCore/platform/graphics/opentype/OpenTypeMathData.cpp
  Source/WebCore/platform/graphics/opentype/OpenTypeTypes.h
  Source/WebCore/platform/graphics/opentype/OpenTypeVerticalData.cpp
  Source/WebCore/platform/graphics/transforms/TransformOperation.cpp
  Source/WebCore/platform/graphics/transforms/TransformationMatrix.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#38541 [GTK] Fix build for disabled WebKitWebExtensionMatchPattern API
  Source/WebKit/PlatformGTK.cmake
  Source/WebKit/UIProcess/API/glib/webkit.h.in
Labels: unsafe-merge-queue, WebKitGTK

#38542 REGRESSION(288441@main): Broke WPE build
  Source/WebKit/UIProcess/API/glib/webkit.h.in
Labels: unsafe-merge-queue, WebKitGTK

#38537 Make CSSPageRule derive from CSSGroupingRule
  LayoutTests/imported/w3c/web-platform-tests/css/cssom/idlharness-expected.txt
  Source/WebCore/css/CSSPageRule.cpp
  Source/WebCore/css/CSSPageRule.h
  Source/WebCore/css/CSSPageRule.idl
  Source/WebCore/css/StyleRule.cpp
  Source/WebCore/css/StyleRule.h
Labels: merge-queue, CSS

#38540 Reduce use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in ParsingUtilities.h
  Source/WTF/wtf/text/ParsingUtilities.h
  Source/WebCore/html/parser/HTMLSrcsetParser.cpp
Labels: unsafe-merge-queue

#38503 Convert (bidi) inline content coordinates for writing-mode: sideways-lr
  LayoutTests/imported/w3c/web-platform-tests/css/css-writing-modes/sideways-inline-004-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-writing-modes/sideways-inline-004-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-writing-modes/sideways-inline-004.html
  Source/WebCore/layout/formattingContexts/inline/display/InlineDisplayContentBuilder.cpp
Labels: unsafe-merge-queue, New Bugs

#38384 [SVG2] Add support for the 'lh' length type
  LayoutTests/imported/w3c/web-platform-tests/svg/types/scripted/SVGLength-lh-expected.txt
  Source/WebCore/svg/SVGLength.h
  Source/WebCore/svg/SVGLengthContext.cpp
  Source/WebCore/svg/SVGLengthContext.h
  Source/WebCore/svg/SVGLengthValue.cpp
  Source/WebCore/svg/SVGLengthValue.h
Labels: merge-queue, SVG

#38369 Hover state lost when moving from input[type=checkbox] to parent label and back again
  Source/WebCore/dom/Document.cpp
  Source/WebCore/html/HTMLLabelElement.cpp
Labels: merge-queue, Forms

#38548 Reduce use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in Source/WebCore/platform/graphics (Follow-up)
  Source/WebCore/platform/graphics/mac/controls/InnerSpinButtonMac.mm
Labels: unsafe-merge-queue, WebCore Misc.

#38536 Reduce use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in WebCore/platform/image-decoders
  Source/WebCore/platform/image-decoders/ScalableImageDecoder.h
  Source/WebCore/platform/image-decoders/bmp/BMPImageReader.cpp
  Source/WebCore/platform/image-decoders/bmp/BMPImageReader.h
  Source/WebCore/platform/image-decoders/gif/GIFImageDecoder.cpp
  Source/WebCore/platform/image-decoders/gif/GIFImageReader.cpp
  Source/WebCore/platform/image-decoders/ico/ICOImageDecoder.cpp
  Source/WebCore/platform/image-decoders/jpeg/JPEGImageDecoder.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#38480 [JSC] Handle int32 for `fromIndex` in `Array#lastIndexOf`
  Source/JavaScriptCore/runtime/ArrayPrototype.cpp
Labels: merge-queue, JavaScriptCore

#38535 Drop WTF_ALLOW_UNSAFE_BUFFER_USAGE use in TextCodecUTF16::decode()
  Source/WebCore/PAL/pal/text/TextCodecUTF16.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#38538 Adopt more spans in ImageBackingStore.h
  Source/WebCore/platform/graphics/ImageBackingStore.h
  Source/WebCore/platform/graphics/cg/ImageBackingStoreCG.cpp
  Source/WebCore/platform/image-decoders/avif/AVIFImageReader.cpp
  Source/WebCore/platform/image-decoders/cairo/ImageBackingStoreCairo.cpp
  Source/WebCore/platform/image-decoders/gif/GIFImageDecoder.cpp
  Source/WebCore/platform/image-decoders/jpeg/JPEGImageDecoder.cpp
  Source/WebCore/platform/image-decoders/jpegxl/JPEGXLImageDecoder.cpp
  Source/WebCore/platform/image-decoders/png/PNGImageDecoder.cpp
  Source/WebCore/platform/image-decoders/skia/ImageBackingStoreSkia.cpp
  Source/WebCore/platform/image-decoders/webp/WEBPImageDecoder.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#38550 Drop WTF_ALLOW_UNSAFE_BUFFER_USAGE use in HTMLEntityParser.cpp
  Source/WebCore/html/parser/HTMLEntityParser.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#38549 fast/text/text-underline-vertical-first-line-decoration.html is passsing after 288381@main
  LayoutTests/TestExpectations
Labels: New Bugs

#38555 ASSERTION FAILED: !input->userAgentShadowRoot() when cloning a switch input
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/forms/the-input-element/input-type-checkbox-switch.tentative.window-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/html/semantics/forms/the-input-element/input-type-checkbox-switch.tentative.window.js
  Source/WebCore/html/CheckboxInputType.cpp
  Source/WebCore/html/HTMLInputElement.cpp
Labels: unsafe-merge-queue, DOM

#38557 REGRESSION(288091@main?): [macOS Debug wk2] Crash in WebCore::MediaRecorderPrivateWriterAVFObjC::writeFrame
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WebKit/GPUProcess/media/RemoteMediaRecorderPrivateWriterManager.cpp
  Source/WebKit/GPUProcess/media/RemoteMediaRecorderPrivateWriterManager.h
Labels: merge-queue

#38556 [GStreamer][WebRTC] REGRESSION(286800@main) Crash when sending streams with GStreamer < 1.24
  Source/WebCore/platform/mediastream/gstreamer/GStreamerRTPPacketizer.cpp
Labels: Platform, GLib Suggested Backport - 2.46

#38553 Reduce use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in LinkHeader.cpp
  Source/WebCore/loader/LinkHeader.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#38552 Reduce use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in html/parser
  Source/WebCore/html/parser/HTMLFormattingElementList.cpp
  Source/WebCore/html/parser/HTMLParserIdioms.cpp
  Source/WebCore/html/parser/HTMLSrcsetParser.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#38547 Assertion when using non-absolute / non-font-relative units in ctx.letterSpacing/ctx.wordSpacing
  LayoutTests/fast/canvas/canvas-letterSpacing-wordSpacing-units-expected.txt
  LayoutTests/fast/canvas/canvas-letterSpacing-wordSpacing-units.html
  LayoutTests/imported/w3c/web-platform-tests/html/canvas/element/text/2d.text.drawing.style.invalid.spacing.html
  Source/WebCore/html/canvas/CanvasRenderingContext2DBase.cpp
Labels: merge-queue, New Bugs

#38539 Pass WebTransportSessionClient as parameter to WebTransportSession constructors
  Source/WebCore/Modules/webtransport/WebTransport.cpp
  Source/WebCore/Modules/webtransport/WebTransportSession.cpp
  Source/WebCore/Modules/webtransport/WebTransportSession.h
  Source/WebCore/Modules/webtransport/WorkerWebTransportSession.cpp
  Source/WebCore/Modules/webtransport/WorkerWebTransportSession.h
  Source/WebCore/loader/EmptyClients.cpp
  Source/WebCore/page/SocketProvider.h
  Source/WebKit/WebProcess/Network/WebSocketProvider.cpp
  Source/WebKit/WebProcess/Network/WebSocketProvider.h
  Source/WebKit/WebProcess/Network/WebTransportSession.cpp
  Source/WebKit/WebProcess/Network/WebTransportSession.h
  Source/WebKitLegacy/WebCoreSupport/LegacySocketProvider.cpp
  Source/WebKitLegacy/WebCoreSupport/LegacySocketProvider.h
Labels: unsafe-merge-queue, WebCore Misc.

#38488 Internal clients unable to set context menu images
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/PAL/pal/spi/mac/NSMenuSPI.h
  Source/WebCore/platform/LocalizedStrings.h
  Source/WebKit/Platform/mac/MenuUtilities.h
  Source/WebKit/Platform/mac/MenuUtilities.mm
  Source/WebKit/Shared/mac/PDFContextMenu.h
  Source/WebKit/Shared/mac/PDFContextMenuItem.serialization.in
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionContextCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtensionContext.h
  Source/WebKit/UIProcess/mac/WebContextMenuProxyMac.mm
  Source/WebKit/UIProcess/mac/WebPageProxyMac.mm
  Source/WebKit/WebProcess/Plugins/PDF/PDFPlugin.mm
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.h
  Source/WebKit/WebProcess/Plugins/PDF/UnifiedPDF/UnifiedPDFPlugin.mm
Labels: UI Events

#38505 [Screen Time Refactoring] Ensure donations are scoped to an identifier
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/ScreenTime.mm
Labels: unsafe-merge-queue, WebKit Misc.

#38246 Add hardened-process entitlement to JSC/WebKit processes on macOS
  Source/JavaScriptCore/Scripts/process-entitlements.sh
  Source/WebKit/Scripts/process-entitlements.sh
Labels: merge-queue, WebKit Process Model

#38569 Fix OS availability version for WKUIDelegate.showLockdownModeFirstUseMessage
  Source/WebKit/UIProcess/API/Cocoa/WKUIDelegate.h
Labels: merge-queue, WebKit API

#38545 [GStreamer] Reduce use of WTF_ALLOW_UNSAFE_BUFFER_USAGE in CodecUtilities
  Source/WebCore/platform/gstreamer/GStreamerCodecUtilities.cpp
Labels: Platform

#38546 text-emphasis: Do not paint emphasis marks on unicode punctuations
  LayoutTests/TestExpectations
  Source/WTF/wtf/unicode/CharacterNames.h
  Source/WebCore/platform/graphics/FontCascade.cpp
Labels: merge-queue, CSS

#38566 Reduce use of WTF_ALLOW_UNSAFE_BUFFER_USAGE_BEGIN in ParsingUtilities.h
  Source/WTF/wtf/text/ParsingUtilities.h
Labels: merge-queue

#38408 AX: ENABLE(AX_THREAD_TEXT_APIS) should utilize ignored objects provided by ENABLE(INCLUDE_IGNORED_IN_CORE_AX_TREE)
  Source/WebCore/accessibility/AXCoreObject.cpp
  Source/WebCore/accessibility/AXCoreObject.h
  Source/WebCore/accessibility/AXLogger.cpp
  Source/WebCore/accessibility/AXTextMarker.cpp
  Source/WebCore/accessibility/AccessibilityObject.cpp
  Source/WebCore/accessibility/AccessibilityObject.h
  Source/WebCore/accessibility/AccessibilityRenderObject.cpp
  Source/WebCore/accessibility/ios/WebAccessibilityObjectWrapperIOS.mm
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.h
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.h
  Source/WebCore/accessibility/isolatedtree/mac/AXIsolatedObjectMac.mm
Labels: Accessibility

#38568 [JSC] iterationCount should not be zero in LoopUnrollingPhase
  JSTests/stress/loop-unrolling-with-zero-iterations.js
  Source/JavaScriptCore/dfg/DFGLoopUnrollingPhase.cpp
Labels: unsafe-merge-queue, New Bugs

#38585 Add 10 more unified source cpp files for JSC
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/Scripts/generate-unified-sources.sh
  Source/JavaScriptCore/UnifiedSources-output.xcfilelist
Labels: merge-queue, JavaScriptCore

#38575 Re-baseline OverlayRegions tests
  LayoutTests/overlay-region/fixed-node-updates-expected.txt
  LayoutTests/overlay-region/fixed-overlay-drawn-rect-expected.txt
  LayoutTests/overlay-region/full-page-dynamic-expected.txt
  LayoutTests/overlay-region/full-page-expected.txt
  LayoutTests/overlay-region/full-page-horizontal-expected.txt
  LayoutTests/overlay-region/full-page-overflow-expected.txt
  LayoutTests/overlay-region/full-page-overflow-scrolling-expected.txt
  LayoutTests/overlay-region/full-page-overflow-snapping-expected.txt
  LayoutTests/overlay-region/full-page-scrolling-expected.txt
  LayoutTests/overlay-region/many-candidates-expected.txt
  LayoutTests/overlay-region/map-expected.txt
  LayoutTests/overlay-region/map-small-expected.txt
  LayoutTests/overlay-region/merging-expected.txt
  LayoutTests/overlay-region/no-merging-expected.txt
  LayoutTests/overlay-region/overlay-background-expected.txt
  LayoutTests/overlay-region/overlay-element-expected.txt
  LayoutTests/overlay-region/overlay-element-overflow-expected.txt
  LayoutTests/overlay-region/snapping-expected.txt
  LayoutTests/overlay-region/split-scrollers-expected.txt
Labels: merge-queue, Scrolling

#38601 [WebGPUSwift] buildFix plus an issue in beginRenderPass
  Source/WebGPU/WebGPU/CommandEncoder.swift
Labels: unsafe-merge-queue, WebGPU

#38586 Reduce use of WTF_ALLOW_UNSAFE_BUFFER_USAGE_BEGIN in SVGParserUtilities.cpp
  Source/WebCore/svg/SVGParserUtilities.cpp
Labels: unsafe-merge-queue, New Bugs

#38583 Drop WTF_ALLOW_UNSAFE_BUFFER_USAGE use in WebFakeXRInputController.cpp
  Source/WebCore/testing/WebFakeXRInputController.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#38578 [Cleanup] Refactor RenderTreeBuilderMultiColumn 1/2.
  Source/WebCore/rendering/updating/RenderTreeBuilder.cpp
  Source/WebCore/rendering/updating/RenderTreeBuilderMultiColumn.cpp
  Source/WebCore/rendering/updating/RenderTreeBuilderMultiColumn.h
Labels: merge-queue, Layout and Rendering

#38607 [Site Isolation] WKWebView.underPageBackgroundColor should only be updated from the main frame layer transaction
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
Labels: unsafe-merge-queue, WebKit Process Model

#38581 REGRESSION(288409@main): Tripped assertion in TestWebKitAPI.SOAuthorizationSubFrame.AuthorizationOptions
  Source/WebKit/UIProcess/WebFrameProxy.cpp
Labels: unsafe-merge-queue, New Bugs

#38572 Stop compiling NEAR_FIELD for tvOS
  Source/WTF/wtf/PlatformHave.h
Labels: merge-queue

#38596 Drop WTF_ALLOW_UNSAFE_BUFFER_USAGE use in RenderThemeIOS.mm
  Source/WebCore/rendering/ios/RenderThemeIOS.mm
Labels: unsafe-merge-queue, Platform

#38614 REGRESSION(288409@main): Assertion failure in TestWebKitAPI.WKBackForwardList.BackForwardListRemoveAndAddSubframes
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Labels: unsafe-merge-queue, New Bugs

#38599 Remove some unused page color change SPI
  Source/WebKit/UIProcess/API/Cocoa/WKViewPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
  Source/WebKit/UIProcess/API/mac/WKView.mm
  Source/WebKit/UIProcess/Cocoa/PageClientImplCocoa.h
  Source/WebKit/UIProcess/Cocoa/PageClientImplCocoa.mm
  Source/WebKit/UIProcess/PageClient.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
Labels: unsafe-merge-queue, WebKit API

#38617 Non-unified source build fix of January 2025 (part 1)
  Source/JavaScriptCore/runtime/ImportMap.h
  Source/WebCore/Modules/push-api/PushMessageCrypto.cpp
  Source/WebCore/Modules/webtransport/WebTransportBidirectionalStreamConstructionParameters.h
  Source/WebCore/bindings/js/ScriptModuleLoader.cpp
  Source/WebCore/css/DOMCSSPaintWorklet.cpp
  Source/WebCore/css/parser/CSSPropertyParserConsumer+Animations.cpp
  Source/WebCore/layout/formattingContexts/inline/InlineFormattingConstraints.h
  Source/WebCore/platform/graphics/filters/software/FEColorMatrixSoftwareApplier.h
  Source/WebCore/rendering/LegacyRootInlineBox.cpp
  Source/WebCore/rendering/TextDecorationPainter.cpp
  Source/WebCore/svg/SVGResourceElementClient.h
  Source/WebCore/svg/SVGTZoneImpls.cpp
  Source/WebKit/WebProcess/Network/WebTransportSendStreamSink.cpp
  Source/WebKit/WebProcess/WebPage/WebHistoryItemClient.cpp
Labels: unsafe-merge-queue, New Bugs

#38608 Drop WTF_ALLOW_UNSAFE_BUFFER_USAGE use in RTCVideoDecoderVTBAV1.mm
  Source/WebCore/platform/video-codecs/cocoa/RTCVideoDecoderVTBAV1.mm
Labels: unsafe-merge-queue, WebRTC

#38621 [WebGPUSwift] Fix a guard check. Also cleanup some guard conditions.
  Source/WebGPU/WebGPU/CommandEncoder.swift
Labels: unsafe-merge-queue, WebGPU

#38584 [iOS] DOM nodes can be leaked when searching for text in Safari
  Source/WebKit/WebProcess/WebPage/WebFoundTextRangeController.cpp
  Source/WebKit/WebProcess/WebPage/WebFoundTextRangeController.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
Labels: New Bugs

#38592 ObjectAllocationSinking shouldn't produce Phis to the values it's about to phantom.
  JSTests/stress/phantom-put-by-offset-to-self-over-control-flow.js
  Source/JavaScriptCore/dfg/DFGObjectAllocationSinkingPhase.cpp
  Source/JavaScriptCore/dfg/DFGSSACalculator.h
Labels: unsafe-merge-queue, JavaScriptCore

#38624 [WebGPUSwift] Fixing guard checks for error handlers.
  Source/WebGPU/WebGPU/CommandEncoder.swift
Labels: unsafe-merge-queue, WebGPU

#38603 [JSC] Loop unrolling phase should inverse the condition if needed before computing the iteration count
  JSTests/stress/loop-unrolling-branch.js
  Source/JavaScriptCore/dfg/DFGLoopUnrollingPhase.cpp
Labels: unsafe-merge-queue, New Bugs

#38616 REGRESSION (286043@main): [iOS] Adjusting page zoom with -/+ causes page to become too wide or too narrow
  LayoutTests/fast/viewport/ios/no-unnecessary-horizontal-scrolling-after-changing-view-scale-expected.txt
  LayoutTests/fast/viewport/ios/no-unnecessary-horizontal-scrolling-after-changing-view-scale.html
  Source/WebCore/page/ViewportConfiguration.cpp
Labels: New Bugs

#38434 Sync `input` specific unicode-bidi rendering from Web Specification
  LayoutTests/imported/w3c/web-platform-tests/html/rendering/bidi-rendering/unicode-bidi-ua-rules-expected.txt
  Source/WebCore/css/html.css
  Source/WebCore/html/HTMLElement.cpp
Labels: merge-queue, CSS

#38626 Fix outstanding unexpected safer C++ failures
  Source/WebCore/loader/ResourceMonitor.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebLocalFrameLoaderClient.cpp
Labels: unsafe-merge-queue, New Bugs

#38561 Checking for presence of request body in Service Worker causes body to be dropped from request
  LayoutTests/imported/w3c/web-platform-tests/service-workers/service-worker/fetch-with-body.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/service-workers/service-worker/fetch-with-body.https.html
  LayoutTests/imported/w3c/web-platform-tests/service-workers/service-worker/resources/fetch-with-body-worker.js
  LayoutTests/imported/w3c/web-platform-tests/service-workers/service-worker/resources/fetch-with-body-worker.py
  Source/WebCore/Modules/fetch/FetchBody.cpp
  Source/WebCore/Modules/fetch/FetchBody.h
  Source/WebCore/Modules/fetch/FetchBodyOwner.h
  Source/WebCore/Modules/fetch/FetchResponse.cpp
Labels: merge-queue, Service Workers

#38562 [WebRTC] Increase logging instrumentation around track and transceivers updates
  Source/WebCore/Modules/mediastream/PeerConnectionBackend.cpp
  Source/WebCore/Modules/mediastream/RTCPeerConnection.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerMediaEndpoint.cpp
  Source/WebCore/Modules/mediastream/gstreamer/GStreamerPeerConnectionBackend.cpp
  Source/WebCore/Modules/mediastream/libwebrtc/LibWebRTCMediaEndpoint.cpp
  Source/WebCore/Modules/mediastream/libwebrtc/LibWebRTCPeerConnectionBackend.cpp
Labels: merge-queue, WebRTC

#38558 [Buildstream SDK] Fix openh264 support
  Tools/buildstream/elements/flatpak/platform.bst
  Tools/buildstream/elements/flatpak/sdk.bst
  Tools/buildstream/elements/freedesktop-sdk.bst
  Tools/buildstream/elements/sdk-platform.bst
  Tools/buildstream/elements/sdk/libopenh264.bst
Labels: Tools / Tests

#38577 Commit provisional history items that are not cancelled during policy decision
  Source/WebCore/history/BackForwardClient.h
  Source/WebCore/history/BackForwardController.cpp
  Source/WebCore/history/BackForwardController.h
  Source/WebCore/loader/EmptyClients.cpp
  Source/WebCore/loader/FrameLoader.cpp
  Source/WebCore/loader/HistoryController.cpp
  Source/WebCore/loader/HistoryController.h
  Source/WebKit/UIProcess/WebBackForwardList.cpp
  Source/WebKit/UIProcess/WebBackForwardList.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.messages.in
  Source/WebKit/WebProcess/WebPage/WebBackForwardListProxy.cpp
  Source/WebKit/WebProcess/WebPage/WebBackForwardListProxy.h
  Source/WebKitLegacy/mac/History/BackForwardList.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/DecidePolicyForNavigationAction.mm
Labels: History

#38567 Move groupId handling from MediaStreamTrack to RealtimeMediaSource
  LayoutTests/imported/w3c/web-platform-tests/mediacapture-streams/MediaDevices-getUserMedia.https-expected.txt
  Source/WebCore/Modules/mediastream/InputDeviceInfo.cpp
  Source/WebCore/Modules/mediastream/MediaDevices.cpp
  Source/WebCore/Modules/mediastream/MediaDevices.h
  Source/WebCore/Modules/mediastream/MediaStreamTrack.cpp
  Source/WebCore/Modules/mediastream/MediaStreamTrack.h
  Source/WebCore/Modules/mediastream/MediaTrackCapabilities.cpp
  Source/WebCore/Modules/mediastream/MediaTrackCapabilities.h
  Source/WebCore/platform/mediastream/RealtimeMediaSource.cpp
  Source/WebCore/platform/mediastream/RealtimeMediaSource.h
  Source/WebCore/platform/mediastream/mac/AVVideoCaptureSource.mm
  Source/WebCore/platform/mediastream/mac/CoreAudioCaptureSource.cpp
  Source/WebCore/platform/mock/MockRealtimeAudioSource.cpp
  Source/WebCore/platform/mock/MockRealtimeVideoSource.cpp
Labels: merge-queue, WebRTC

#37909 Fix missing includes and guards when certain features are disabled
  Source/WebCore/dom/Document.cpp
  Source/WebCore/loader/LinkLoader.cpp
  Source/WebCore/loader/SubresourceLoader.cpp
  Source/WebCore/loader/cache/CachedResource.h
  Source/WebCore/loader/cache/CachedResourceLoader.cpp
  Source/WebCore/loader/cache/CachedResourceLoader.h
  Source/WebCore/loader/cache/CachedTextTrack.cpp
  Source/WebCore/loader/cache/CachedTextTrack.h
  Source/WebCore/platform/audio/PlatformMediaSessionManager.cpp
  Source/WebCore/platform/audio/PlatformRawAudioData.cpp
  Source/WebCore/platform/audio/PlatformRawAudioData.h
  Source/WebKit/Platform/IPC/unix/ConnectionUnix.cpp
  Source/WebKit/UIProcess/API/glib/WebKitProtocolHandler.cpp
  Source/WebKit/UIProcess/API/glib/WebKitWebView.cpp
  Source/WebKit/UIProcess/Automation/libwpe/WebAutomationSessionWPE.cpp
  Source/WebKit/UIProcess/wpe/WebContextMenuProxyWPE.h
  Source/WebKit/WebProcess/GPU/ShapeDetection/RemoteBarcodeDetectorProxy.h
  Source/WebKit/WebProcess/GPU/ShapeDetection/RemoteFaceDetectorProxy.h
  Source/WebKit/WebProcess/GPU/ShapeDetection/RemoteTextDetectorProxy.h
  Source/WebKit/WebProcess/Network/WebLoaderStrategy.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Source/WebKit/WebProcess/WebPage/WebPage.h
Labels: New Bugs

#38622 [css-conditional] Negative cqmin/cqmax units are inverted
  LayoutTests/imported/w3c/web-platform-tests/css/css-conditional/container-queries/container-units-selection.html
  Source/WebCore/style/values/primitives/StyleLengthResolution.cpp
Labels: merge-queue, CSS

#38609 Drop WTF_ALLOW_UNSAFE_BUFFER_USAGE use in HTTPHeaderMap.h
  Source/WebCore/platform/network/HTTPHeaderMap.h
Labels: unsafe-merge-queue, WebCore Misc.

#38613 REGRESSION (283118@main): Safari makes my extension icon blurry.
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtension.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtension.mm
Labels: unsafe-merge-queue, WebKit Extensions

#38618 Drop WTF_ALLOW_UNSAFE_BUFFER_USAGE use in SVGParserUtilities.cpp
  Source/WebCore/svg/SVGParserUtilities.cpp
Labels: unsafe-merge-queue, SVG

#38524 Remove unused code from `FloatPolygon.cpp|h`
  Source/WebCore/platform/graphics/FloatPolygon.cpp
  Source/WebCore/platform/graphics/FloatPolygon.h
  Source/WebCore/rendering/shapes/LayoutShape.cpp
  Source/WebCore/rendering/shapes/PolygonLayoutShape.h
Labels: Layout and Rendering

#38606 [WebGPU] Error from RenderPassEncoder and ComputePassEncoder is not propagating to the CommandEncoder
  Source/WebGPU/WebGPU/ComputePassEncoder.mm
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
Labels: WebGPU

#38471 [WebGPU] CommandEncoder is set to nullptr on a different thread
  LayoutTests/fast/webgpu/nocrash/fuzz-285311-expected.txt
  LayoutTests/fast/webgpu/nocrash/fuzz-285311.html
  Source/WebGPU/WebGPU/CommandBuffer.mm
Labels: WebGPU

#38639 Remove FetchPriorityEnabled preference
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/Modules/fetch/FetchLoader.cpp
  Source/WebCore/Modules/fetch/FetchRequestInit.idl
  Source/WebCore/html/HTMLImageElement.cpp
  Source/WebCore/html/HTMLImageElement.idl
  Source/WebCore/html/HTMLLinkElement.cpp
  Source/WebCore/html/HTMLLinkElement.idl
  Source/WebCore/html/HTMLScriptElement.cpp
  Source/WebCore/html/HTMLScriptElement.idl
  Source/WebCore/html/parser/HTMLPreloadScanner.cpp
  Source/WebCore/loader/LinkLoader.cpp
Labels: unsafe-merge-queue, WebCore Misc.

#38659 Temporarily disable Wasm IPInt
  Source/JavaScriptCore/runtime/OptionsList.h
Labels: JavaScriptCore

#38644 [scroll-animations] borders on the source should not affect a view timeline subject's offset
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/animation-range-ignored-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/animation-range-normal-matches-cover-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/view-timeline-animation-range-update.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/view-timeline-range-animation-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/css/view-timeline-with-transform-on-subject-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/view-timelines/block-view-timeline-current-time.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/view-timelines/change-animation-range-updates-play-state-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/view-timelines/fieldset-source-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/view-timelines/inline-view-timeline-current-time.tentative-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/view-timelines/timeline-offset-in-keyframe-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/view-timelines/view-timeline-get-set-range-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/view-timelines/view-timeline-inset-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/view-timelines/view-timeline-range-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/view-timelines/view-timeline-range-large-subject-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/view-timelines/view-timeline-snapport-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/scroll-animations/view-timelines/view-timeline-subject-size-changes-expected.txt
  Source/WebCore/animation/ViewTimeline.cpp
Labels: unsafe-merge-queue, Animations

#38650 [scroll-animations] `ViewTimeline::source()` should return a `const` value
  Source/WebCore/animation/AnimationTimelinesController.cpp
  Source/WebCore/animation/ViewTimeline.h
Labels: unsafe-merge-queue, Animations

#38648 [scroll-animations] `ViewTimeline::sourceScrollerRenderer()` should return a `const` value
  Source/WebCore/animation/ViewTimeline.cpp
  Source/WebCore/animation/ViewTimeline.h
Labels: unsafe-merge-queue, Animations

#37751 Web Inspector: support `DOMRect` in `console.screenshot`
  LayoutTests/inspector/console/console-screenshot-expected.txt
  LayoutTests/inspector/console/console-screenshot.html
  Source/WebCore/page/PageConsoleClient.cpp
Labels: Web Inspector

#38660 Web Extensions: executeScript() should cache the files to avoid repeated disk access.
  Source/WebKit/UIProcess/Extensions/Cocoa/WebExtensionDynamicScriptsCocoa.mm
Labels: WebKit Extensions

#38598 [Site Isolation] Avoid reusing the main frame after cross-site navigation
  Source/WebKit/Shared/WebBackForwardListFrameItem.cpp
  Source/WebKit/Shared/WebBackForwardListFrameItem.h
  Source/WebKit/UIProcess/ProvisionalPageProxy.cpp
  Source/WebKit/UIProcess/WebBackForwardList.cpp
  Source/WebKit/UIProcess/WebPageProxy.cpp
Labels: unsafe-merge-queue, WebKit Process Model

#38478 [AutoInstall] Always load default CA certificates
  Tools/Scripts/libraries/webkitcorepy/webkitcorepy/autoinstall.py
Labels: unsafe-merge-queue, Tools / Tests

#38646 [scroll-animations] getters for `startOffset` and `endOffset` properties of `ViewTimeline` should be const
  Source/WebCore/animation/ViewTimeline.cpp
  Source/WebCore/animation/ViewTimeline.h
Labels: Animations

#38664 REGRESSION(288477@main): Broke TestWebKitAPI.IPCTestingAPI.SerializedTypeInfo
  Source/WebKit/Scripts/generate-serializers.py
  Source/WebKit/Scripts/webkit/tests/SerializedTypeInfo.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/IPCTestingAPI.mm
Labels: unsafe-merge-queue, New Bugs

#38649 [libpas] libpas.xcodeproj build fix
  Source/bmalloc/libpas/libpas.xcodeproj/project.pbxproj
  Source/bmalloc/libpas/src/test/LargeFreeHeapTests.cpp
Labels: merge-queue, bmalloc

#38645 Have ListHashSet validate its keys in release builds
  Source/WTF/wtf/ListHashSet.h
Labels: unsafe-merge-queue

#38663 [ Gardening]: [MacOS Debug WK1]: fast/editing/recursive-reapply-edit-command-crash.html is a constant failure (Flaky in EWS)
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#38570 walmart.com/wallet focuses phone number field when attempting to add a credit card
  LayoutTests/editing/async-clipboard/resources/async-clipboard-helpers.js
  LayoutTests/editing/deleting/5290534.html
  LayoutTests/editing/inserting/4960120-1.html
  LayoutTests/editing/inserting/insert-text-into-text-field.html
  LayoutTests/editing/pasteboard/data-transfer-get-data-on-drop-plain-text.html
  LayoutTests/editing/pasteboard/data-transfer-get-data-on-paste-plain-text.html
  LayoutTests/editing/pasteboard/drag-drop-input-textarea.html
  LayoutTests/editing/pasteboard/drag-drop-url-text.html
  LayoutTests/editing/pasteboard/pasting-tabs.html
  LayoutTests/editing/selection/4975120.html
  LayoutTests/editing/selection/5497643-expected.txt
  LayoutTests/editing/selection/5497643.html
  LayoutTests/editing/selection/delete-selection-with-disconnected-extent.html
  LayoutTests/editing/selection/delete-word-granularity-text-control.html
  LayoutTests/editing/selection/deleteFromDocument-shadow-tree-crash.html
  LayoutTests/editing/selection/programmatic-selection-on-mac-is-directionless.html
  LayoutTests/editing/selection/select-iframe-focusin-document-crash.html
  LayoutTests/editing/selection/selection-setSelectionRange-frameselection-expected.txt
  LayoutTests/editing/selection/selection-setSelectionRange-frameselection.html
  LayoutTests/editing/selection/setSelectionRange-no-frame-crash-expected.txt
  LayoutTests/editing/selection/setSelectionRange-no-frame-crash.html
  LayoutTests/editing/selection/setting-selection-does-not-focus-unless-selected-expected.txt
  LayoutTests/editing/selection/setting-selection-does-not-focus-unless-selected.html
  LayoutTests/editing/selection/shrink-selection-after-shift-pagedown.html
  LayoutTests/fast/css/content/content-on-focus-change.html
  LayoutTests/fast/events/context-no-deselect.html
  LayoutTests/fast/forms/datalist/datalist-idTargetChanged-crash.html
  LayoutTests/fast/forms/input-appearance-selection.html
  LayoutTests/fast/forms/input-delete.html
  LayoutTests/fast/forms/input-placeholder-visibility-2-expected.html
  LayoutTests/fast/forms/paste-into-textarea.html
  LayoutTests/fast/forms/textarea-arrow-navigation.html
  LayoutTests/fast/rendering/render-compositor-null-layer-crash.html
  LayoutTests/fast/text-extraction/basic-text-extraction.html
  LayoutTests/fast/text/out-of-flow-line-break-crash.html
  LayoutTests/imported/w3c/web-platform-tests/html/interaction/focus/processing-model/textarea-scroll-selection-expected.txt
  LayoutTests/resources/accessibility-helper.js
  Source/WTF/wtf/cocoa/RuntimeApplicationChecksCocoa.h
  Source/WebCore/accessibility/AccessibilityRenderObject.cpp
  Source/WebCore/html/HTMLTextFormControlElement.cpp
Labels: merge-queue, New Bugs

#38612 [WebGPU] Retain references used during executeBundles until command buffer completes
  Source/WebGPU/WebGPU/CommandEncoder.h
  Source/WebGPU/WebGPU/CommandEncoder.mm
  Source/WebGPU/WebGPU/RenderPassEncoder.mm
Labels: merge-queue, WebGPU

#38595 Fix various -Werror=unsafe-buffer-usage build failures
  Source/WebCore/platform/SharedBufferChunkReader.cpp
  Source/WebCore/platform/graphics/opentype/OpenTypeMathData.cpp
  Source/WebCore/platform/graphics/skia/ImageBufferUtilitiesSkia.cpp
  Source/WebCore/platform/image-decoders/gif/GIFImageDecoder.cpp
  Source/WebCore/platform/image-decoders/gif/GIFImageReader.cpp
  Source/WebCore/platform/image-decoders/jpeg/JPEGImageDecoder.cpp
Labels: merge-queue, WebKitGTK

#38628 [SVG2] Add support for the 'ch' length type (except upright vertical ch)
  LayoutTests/imported/w3c/web-platform-tests/svg/types/scripted/SVGLength-ch-expected.txt
  LayoutTests/platform/glib/imported/w3c/web-platform-tests/svg/types/scripted/SVGLength-ch-expected.txt
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/svg/types/scripted/SVGLength-ch-expected.txt
  Source/WebCore/svg/SVGLengthContext.cpp
  Source/WebCore/svg/SVGLengthContext.h
  Source/WebCore/svg/SVGLengthValue.cpp
  Source/WebCore/svg/SVGLengthValue.h
Labels: merge-queue, SVG

#38668 Fix missing popFloat64's in IPInt and re-enable IPInt
  JSTests/wasm/ipint-tests/ipint-test-type-conversion.js
  Source/JavaScriptCore/llint/InPlaceInterpreter64.asm
  Source/JavaScriptCore/runtime/OptionsList.h
Labels: JavaScriptCore
