Repository WebKit/WebKit, pull requests merged in 2025-04, with the labels that each got.

#43361 [Gardening] REGRESSION(280414@main?): [ iOS Debug ] imported/w3c/web-platform-tests/fetch/api/crashtests/huge-fetch.any.worker.html is a flaky crash.
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#43367 [SwiftUI] Remove unused initial download support implementation
  Source/WebKit/UIProcess/API/Swift/DownloadCoordinator.swift
  Source/WebKit/UIProcess/API/Swift/WebPage+Download.swift
  Source/WebKit/UIProcess/API/Swift/WebPage.swift
  Source/WebKit/UIProcess/Cocoa/WKDownloadDelegateAdapter.swift
  Source/WebKit/UIProcess/Cocoa/WKNavigationDelegateAdapter.swift
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
  Tools/SwiftBrowser/Source/SwiftBrowser.swift
  Tools/SwiftBrowser/Source/ViewModel/BrowserViewModel.swift
  Tools/SwiftBrowser/Source/ViewModel/DownloadCoordinator.swift
  Tools/SwiftBrowser/Source/ViewModel/Downloadable.swift
  Tools/SwiftBrowser/Source/Views/ContentView.swift
  Tools/SwiftBrowser/Source/Views/DownloadsView.swift
  Tools/SwiftBrowser/SwiftBrowser.xcodeproj/project.pbxproj
Labels: unsafe-merge-queue, New Bugs

#43334 Fix iOS version for libswiftWebKit in WebKitSwiftOverlayMacros.h
  Source/WebKit/UIProcess/Cocoa/WebKitSwiftOverlayMacros.h
Labels: unsafe-merge-queue, WebKit API

#43339 [Page color sampler] Reduce time spent under Document::isTopDocument() when painting snapshots
  Source/WebCore/dom/Document.h
  Source/WebCore/rendering/RenderLayer.cpp
Labels: New Bugs

#43180 [css-anchor-position-1] Fix various bugs in position-try shorthand parser and serializer
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/parsing/position-try-parsing-expected.txt
  Source/WebCore/css/ShorthandSerializer.cpp
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/css/parser/CSSPropertyParserConsumer+PositionTry.cpp
Labels: merge-queue, CSS

#42874 [css-anchor-position-1] Adjust anchor()/anchor-size() for viewport and CSS zoom
  LayoutTests/fast/css/css-anchor-position/anchor-page-zoom-expected.html
  LayoutTests/fast/css/css-anchor-position/anchor-page-zoom.html
  LayoutTests/fast/css/css-anchor-position/anchor-size-page-zoom-expected.html
  LayoutTests/fast/css/css-anchor-position/anchor-size-page-zoom.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/anchor-css-zoom-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/anchor-css-zoom.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/anchor-size-css-zoom-expected.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/anchor-size-css-zoom.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/reference/anchor-css-zoom-ref.html
  LayoutTests/imported/w3c/web-platform-tests/css/css-anchor-position/reference/anchor-size-css-zoom-ref.html
  Source/WebCore/style/AnchorPositionEvaluator.cpp
Labels: merge-queue, Layout and Rendering

#43250 [iOS][GPUP] Address sandbox telemetry for IOKit user client IOSurfaceAcceleratorClient
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.GPU.sb.in
Labels: unsafe-merge-queue, WebKit Process Model

#43358 [libpas] Remove dead code
  Source/bmalloc/libpas/src/libpas/pas_internal_config.h
  Source/bmalloc/libpas/src/libpas/pas_root.c
  Source/bmalloc/libpas/src/libpas/pas_segregated_page_config.h
  Source/bmalloc/libpas/src/libpas/pas_small_medium_bootstrap_free_heap.h
Labels: merge-queue, New Bugs

#43327 [macOS] Add a version of `-_setCustomSwipeViewsTopContentInset:` that supports all 4 rect edges
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
  Source/WebKit/UIProcess/API/mac/WKWebViewMac.mm
  Source/WebKit/UIProcess/API/mac/WKWebViewPrivateForTestingMac.h
  Source/WebKit/UIProcess/API/mac/WKWebViewTestingMac.mm
  Source/WebKit/UIProcess/ViewGestureController.h
  Source/WebKit/UIProcess/mac/ViewGestureControllerMac.mm
  Source/WebKit/UIProcess/mac/WebViewImpl.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
  Tools/TestWebKitAPI/SourcesCocoa.txt
  Tools/TestWebKitAPI/TestWebKitAPI.xcodeproj/project.pbxproj
  Tools/TestWebKitAPI/Tests/mac/CustomSwipeViewTests.mm
Labels: merge-queue, New Bugs

#43251 [iOS][GPUP] Address sandbox telemetry for IOKit user client IOSurfaceRootUserClient
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.GPU.sb.in
Labels: WebKit Process Model

#43353 apple-visual-effects/apple-visual-effect-parsing.html is a constant text failure when hosted materials are enabled
  Source/WebCore/rendering/style/StyleRareNonInheritedData.h
Labels: unsafe-merge-queue, New Bugs

#43173 Web Inspector: Timelines: support exporting and importing data from worker targets
  LayoutTests/inspector/timeline/timeline-recording-expected.txt
  LayoutTests/inspector/timeline/timeline-recording.html
  Source/WebInspectorUI/UserInterface/Controllers/DebuggerManager.js
  Source/WebInspectorUI/UserInterface/Main.html
  Source/WebInspectorUI/UserInterface/Models/HeapAllocationsTimelineRecord.js
  Source/WebInspectorUI/UserInterface/Models/ImportedTarget.js
  Source/WebInspectorUI/UserInterface/Models/ScriptTimeline.js
  Source/WebInspectorUI/UserInterface/Models/ScriptTimelineRecord.js
  Source/WebInspectorUI/UserInterface/Models/TimelineRecording.js
  Source/WebInspectorUI/UserInterface/Protocol/Target.js
  Source/WebInspectorUI/UserInterface/Proxies/HeapSnapshotNodeProxy.js
  Source/WebInspectorUI/UserInterface/Proxies/HeapSnapshotProxy.js
  Source/WebInspectorUI/UserInterface/Proxies/HeapSnapshotWorkerProxy.js
  Source/WebInspectorUI/UserInterface/Test.html
  Source/WebInspectorUI/UserInterface/Views/HeapAllocationsTimelineView.js
  Source/WebInspectorUI/UserInterface/Views/HeapSnapshotDataGridTree.js
  Source/WebInspectorUI/UserInterface/Views/HeapSnapshotInstanceDataGridNode.js
  Source/WebInspectorUI/UserInterface/Views/ProfileDataGridNode.js
  Source/WebInspectorUI/UserInterface/Views/ScriptClusterTimelineView.js
  Source/WebInspectorUI/UserInterface/Workers/HeapSnapshot/HeapSnapshot.js
  Source/WebInspectorUI/UserInterface/Workers/HeapSnapshot/HeapSnapshotWorker.js
Labels: merge-queue, Web Inspector

#43371 [Gardening] REGRESSION(iOS 18): [ iOS ] fast/events/autoscroll-with-software-keyboard.html is a flaky failure.
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#43012 [Grid] Allow extrinsically sized grid to perform simplified layout when grid items are mutated.
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/grid-extrinsically-sized-mutations-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/grid-extrinsically-sized-mutations.html
  Source/WebCore/rendering/RenderGrid.cpp
  Source/WebCore/rendering/RenderGrid.h
  Source/WebCore/rendering/RenderObject.cpp
  Source/WebCore/rendering/updating/RenderTreeBuilder.cpp
Labels: merge-queue, Layout and Rendering

#43348 [JSC] Lower GlobalIsNaN to NumberIsNaN when input is DoubleRepUse
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
  Source/JavaScriptCore/dfg/DFGClobberize.h
  Source/JavaScriptCore/dfg/DFGDoesGC.cpp
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGSafeToExecute.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#43160 Web Inspector: Debugger: blackboxing should default to case sensitive
  LayoutTests/inspector/debugger/resources/blackbox.js
  LayoutTests/inspector/debugger/setBlackboxBreakpointEvaluations-expected.txt
  LayoutTests/inspector/debugger/setBlackboxBreakpointEvaluations.html
  LayoutTests/inspector/debugger/setShouldBlackboxURL-exact-case-insensitive.html
  LayoutTests/inspector/debugger/setShouldBlackboxURL-exact-case-sensitive-expected.txt
  LayoutTests/inspector/debugger/setShouldBlackboxURL-exact-case-sensitive.html
  LayoutTests/inspector/debugger/setShouldBlackboxURL-regex-case-insensitive.html
  LayoutTests/inspector/debugger/setShouldBlackboxURL-regex-case-sensitive-expected.txt
  LayoutTests/inspector/debugger/setShouldBlackboxURL-regex-case-sensitive.html
  Source/JavaScriptCore/inspector/agents/InspectorDebuggerAgent.cpp
  Source/JavaScriptCore/inspector/agents/InspectorDebuggerAgent.h
  Source/JavaScriptCore/inspector/protocol/Debugger.json
Labels: merge-queue, Web Inspector

#43333 Address Safer CPP warning in RemoteLayerTreeEventDispatcher.cpp about CALayer forward declaration
  Source/WebKit/SaferCPPExpectations/ForwardDeclCheckerExpectations
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeEventDispatcher.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: unsafe-merge-queue, WebKit2

#42994 [JSC] Optimize searching untyped element from int32 array for `indexOf` and `includes`
  JSTests/microbenchmarks/array-prototype-includes-untyped-int32.js
  JSTests/microbenchmarks/array-prototype-indexOf-untyped-int32.js
  JSTests/stress/array-prototype-includes-untyped-int32-double.js
  JSTests/stress/array-prototype-includes-untyped-int32-hole.js
  JSTests/stress/array-prototype-indexOf-untyped-int32-double.js
  JSTests/stress/array-prototype-indexOf-untyped-int32-hole.js
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/dfg/DFGOperations.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
Labels: merge-queue, JavaScriptCore

#43182 [GTK][WPE] Optimize the case of adding Damage to an empty Damage
  Source/WebCore/platform/graphics/Damage.h
  Tools/TestWebKitAPI/Tests/WebCore/glib/Damage.cpp
Labels: unsafe-merge-queue, Platform

#43381 [GTK][WPE] Damage should reset should unite when made full or a rect containing the bounding box is added
  Source/WebCore/platform/graphics/Damage.h
  Tools/TestWebKitAPI/Tests/WebCore/glib/Damage.cpp
Labels: Platform

#42332 Address Safer CPP warnings in CanvasCaptureMediaStreamTrack
  Source/WebCore/Modules/mediastream/CanvasCaptureMediaStreamTrack.cpp
  Source/WebCore/Modules/mediastream/CanvasCaptureMediaStreamTrack.h
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedLocalVarsCheckerExpectations
Labels: Media

#43373 [TestWTF] Work around compiler bug in TypeCastsCocoa.mm test
  Tools/TestWebKitAPI/Tests/WTF/cocoa/TypeCastsCocoa.mm
Labels: Tools / Tests

#42798 [WebInspector] make customizable limit for content resources kept for network page of WebInspector
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/inspector/NetworkResourcesData.cpp
  Source/WebCore/inspector/NetworkResourcesData.h
  Source/WebCore/inspector/agents/InspectorNetworkAgent.cpp
  Source/WebCore/inspector/agents/InspectorNetworkAgent.h
  Source/WebCore/inspector/agents/page/PageNetworkAgent.cpp
  Source/WebCore/inspector/agents/worker/WorkerNetworkAgent.cpp
Labels: merge-queue, New Bugs

#43097 [WGSL] wgslc should compile all entry points by default
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
  Source/WebGPU/WGSL/wgslc.cpp
Labels: merge-queue, WebGPU

#43354 [Cocoa] Enable PictureInPicturePlaybackStateEnabled by default
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: Media

#43340 Yarr generatePatternCharacterOnce should limit how far away it coalesces characters
  JSTests/stress/regexp-dont-merge-far-apart-characters.js
  Source/JavaScriptCore/yarr/YarrJIT.cpp
Labels: JavaScriptCore

#42417 Address Safer CPP warnings in screen capture
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UncountedLambdaCapturesCheckerExpectations
  Source/WebCore/SaferCPPExpectations/UnretainedLocalVarsCheckerExpectations
  Source/WebCore/platform/mediastream/cocoa/DisplayCaptureSourceCocoa.cpp
  Source/WebCore/platform/mediastream/cocoa/DisplayCaptureSourceCocoa.h
  Source/WebCore/platform/mediastream/mac/ScreenCaptureKitCaptureSource.mm
  Source/WebCore/platform/mediastream/mac/ScreenCaptureKitSharingSessionManager.h
  Source/WebCore/platform/mediastream/mac/ScreenCaptureKitSharingSessionManager.mm
Labels: merge-queue, Media

#43253 [macOS][GPUP] Enforce IOKit user client filtering for AppleIntelMEUserClient
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
  Source/WebKit/Shared/Sandbox/common.sb
Labels: unsafe-merge-queue, WebKit Process Model

#43158 [ResourceMonitor] Add feature flag for testing setup.
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebKit/UIProcess/Cocoa/WebProcessPoolCocoa.mm
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebProcessPool.cpp
  Source/WebKit/UIProcess/WebProcessPool.h
  Source/WebKit/UIProcess/WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.h
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
Labels: New Bugs

#43370 Address more Safer CPP failures in WebKit/Shared
  Source/WebKit/Platform/cocoa/PaymentAuthorizationPresenter.mm
  Source/WebKit/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncountedLocalVarsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UnretainedLocalVarsCheckerExpectations
  Source/WebKit/Shared/API/Cocoa/WKRemoteObject.mm
  Source/WebKit/Shared/API/Cocoa/WKRemoteObjectCoder.mm
  Source/WebKit/Shared/ApplePay/ApplePayPaymentSetupFeatures.mm
  Source/WebKit/Shared/ApplePay/cocoa/DeferredPaymentRequestCocoa.mm
  Source/WebKit/Shared/ApplePay/cocoa/PaymentSetupConfigurationCocoa.mm
  Source/WebKit/Shared/ApplePay/cocoa/WebPaymentCoordinatorProxyCocoa.h
  Source/WebKit/Shared/ApplePay/cocoa/WebPaymentCoordinatorProxyCocoa.mm
  Source/WebKit/Shared/ApplePay/mac/WebPaymentCoordinatorProxyMac.mm
  Source/WebKit/Shared/JavaScriptEvaluationResult.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreePropertyApplier.mm
  Source/WebKit/Shared/cf/CoreIPCSecKeychainItem.h
Labels: WebKit2

#36123 [WPE][GTK][WTF] Add support for tracing counters with Sysprof
  Source/WTF/wtf/SystemTracing.h
  Source/WTF/wtf/glib/SysprofAnnotator.h
  Source/WebCore/platform/graphics/texmap/TextureMapperFPSCounter.cpp
Labels: merge-queue, WPE WebKit

#43392 [Gardening] REGRESSION(291552@main?): [ iOS ] imported/w3c/web-platform-tests/css/css-anchor-position/position-try-switch-from-fixed-anchor.html is a flaky failure.
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, CSS

#43368 Reduce use of WebPageProxy.m_legacyMainFrameProcess
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
Labels: unsafe-merge-queue, WebKit Process Model

#43384 [iOS] MSE videos receive decoding errors when app enters background with MediaSourcePrefersDecompressionSession enabled
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
Labels: unsafe-merge-queue, Media

#43241 [JSC] Use libpas for Structure Heap
  Source/JavaScriptCore/CMakeLists.txt
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/Sources.txt
  Source/JavaScriptCore/heap/Heap.cpp
  Source/JavaScriptCore/heap/IsoMemoryAllocatorBase.cpp
  Source/JavaScriptCore/heap/IsoMemoryAllocatorBase.h
  Source/JavaScriptCore/heap/StructureAlignedMemoryAllocator.cpp
  Source/JavaScriptCore/heap/StructureAlignedMemoryAllocator.h
Labels: unsafe-merge-queue, JavaScriptCore

#43256 [macOS][GPUP] Enforce IOKit user client sandbox filter for AppleSNBFBUserClient
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
Labels: unsafe-merge-queue, WebKit Process Model

#43218 Unreviewed, reverting 291948@main (1368da9ddded)
  LayoutTests/fast/events/mouse-cursor-change-02-expected.txt
  LayoutTests/fast/events/mouse-cursor-change-02.html
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/win/TestExpectations
  LayoutTests/platform/wpe/TestExpectations
  Source/WebCore/dom/Document.cpp
Labels: merge-queue, New Bugs

#43365 Build sanitizer roots with -Wno-error
  Configurations/Sanitizers.xcconfig
Labels: unsafe-merge-queue, New Bugs

#43193 [JSC] optimize `Number.isFinite()` by rewriting in C++
  JSTests/microbenchmarks/number-isFinite.js
  LayoutTests/js/script-tests/Number-isFinite.js
  Source/JavaScriptCore/CMakeLists.txt
  Source/JavaScriptCore/DerivedSources-input.xcfilelist
  Source/JavaScriptCore/DerivedSources.make
  Source/JavaScriptCore/JavaScriptCore.xcodeproj/project.pbxproj
  Source/JavaScriptCore/builtins/NumberConstructor.js
  Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h
  Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp
  Source/JavaScriptCore/dfg/DFGClobberize.h
  Source/JavaScriptCore/dfg/DFGDoesGC.cpp
  Source/JavaScriptCore/dfg/DFGFixupPhase.cpp
  Source/JavaScriptCore/dfg/DFGNodeType.h
  Source/JavaScriptCore/dfg/DFGOperations.cpp
  Source/JavaScriptCore/dfg/DFGOperations.h
  Source/JavaScriptCore/dfg/DFGPredictionPropagationPhase.cpp
  Source/JavaScriptCore/dfg/DFGSafeToExecute.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.h
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT32_64.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT64.cpp
  Source/JavaScriptCore/dfg/DFGStrengthReductionPhase.cpp
  Source/JavaScriptCore/ftl/FTLCapabilities.cpp
  Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp
  Source/JavaScriptCore/jit/ThunkGenerators.cpp
  Source/JavaScriptCore/jit/ThunkGenerators.h
  Source/JavaScriptCore/runtime/Intrinsic.h
  Source/JavaScriptCore/runtime/NumberConstructor.cpp
  Source/JavaScriptCore/runtime/VM.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#43385 Fix a typo in Lookup.h
  Source/JavaScriptCore/runtime/Lookup.h
Labels: unsafe-merge-queue, JavaScriptCore

#43257 [macOS][GPUP] Enforce IOKit user client filtering for AppleUpstreamUserClient
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
Labels: unsafe-merge-queue, WebKit Process Model

#43406 [ Gardening ] [ wk2 ] imported/w3c/web-platform-tests/css/css-viewport/zoom/background-image.html is a flaky timeout.
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, CSS

#43402 [WebKit CI] Double the timeout for site isolation layout testing queues.
  Tools/CISupport/build-webkit-org/steps.py
  Tools/CISupport/build-webkit-org/steps_unittest.py
Labels: unsafe-merge-queue, New Bugs

#43372 Track cookies version in WebsiteDataStore instead of NetworkProcessProxy
  Source/WebCore/platform/network/NetworkStorageSession.cpp
  Source/WebCore/platform/network/NetworkStorageSession.h
  Source/WebCore/platform/network/cocoa/NetworkStorageSessionCocoa.mm
  Source/WebCore/platform/network/curl/NetworkStorageSessionCurl.cpp
  Source/WebCore/platform/network/soup/NetworkStorageSessionSoup.cpp
  Source/WebKit/NetworkProcess/Cookies/WebCookieManager.cpp
  Source/WebKit/NetworkProcess/NetworkProcess.cpp
  Source/WebKit/NetworkProcess/NetworkSessionCreationParameters.h
  Source/WebKit/NetworkProcess/NetworkSessionCreationParameters.serialization.in
  Source/WebKit/NetworkProcess/cocoa/NetworkDataTaskCocoa.mm
  Source/WebKit/UIProcess/API/APIHTTPCookieStore.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.cpp
  Source/WebKit/UIProcess/Network/NetworkProcessProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKHTTPCookieStore.mm
Labels: unsafe-merge-queue, New Bugs

#43410 [ Gardening ] [New-Test][ iOS ] TestWebKitAPI.WritingTools.IntelligenceTextEffectCoordinatorDelegate_RectsForProofreadingSuggestionsInRange (api-tests) is a constant failure
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WritingTools.mm
Labels: unsafe-merge-queue

#43400 Provide a Monospace comments preference for WebKit Bugzilla
  Websites/bugs.webkit.org/skins/contrib/Monospace/admin.css
  Websites/bugs.webkit.org/skins/contrib/Monospace/buglist.css
  Websites/bugs.webkit.org/skins/contrib/Monospace/bugs.css
  Websites/bugs.webkit.org/skins/contrib/Monospace/global.css
  Websites/bugs.webkit.org/skins/contrib/Monospace/index.css
Labels: unsafe-merge-queue, WebKit Website

#43404 Unreviewed, reverting 293018@main (c7fe97d2cc87)
  Source/WebKit/Platform/cocoa/PaymentAuthorizationPresenter.mm
  Source/WebKit/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncountedLocalVarsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UnretainedLocalVarsCheckerExpectations
  Source/WebKit/Shared/API/Cocoa/WKRemoteObject.mm
  Source/WebKit/Shared/API/Cocoa/WKRemoteObjectCoder.mm
  Source/WebKit/Shared/ApplePay/ApplePayPaymentSetupFeatures.mm
  Source/WebKit/Shared/ApplePay/cocoa/DeferredPaymentRequestCocoa.mm
  Source/WebKit/Shared/ApplePay/cocoa/PaymentSetupConfigurationCocoa.mm
  Source/WebKit/Shared/ApplePay/cocoa/WebPaymentCoordinatorProxyCocoa.h
  Source/WebKit/Shared/ApplePay/cocoa/WebPaymentCoordinatorProxyCocoa.mm
  Source/WebKit/Shared/ApplePay/mac/WebPaymentCoordinatorProxyMac.mm
  Source/WebKit/Shared/JavaScriptEvaluationResult.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreePropertyApplier.mm
  Source/WebKit/Shared/cf/CoreIPCSecKeychainItem.h
Labels: unsafe-merge-queue, WebKit2

#43258 [macOS][GPUP] Enforce IOKit user client filtering for RootDomainUserClient
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
Labels: unsafe-merge-queue

#43412 [Gardening] [ iOS Debug ] imported/w3c/web-platform-tests/navigation-api/scroll-behavior/after-transition-reject.html is a flaky failure.
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, Scrolling

#43413 [ Gardening ][ iOS Debug ] 16x TestWebKitAPI.WKWebExtensionAPI* (api-tests) are flaky timeouts
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIRuntime.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIStorage.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPITabs.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionDataRecord.mm
Labels: unsafe-merge-queue

#43414 [build-webkit] JSC tests with '*** Warning' in logs breaks the filtering
  Tools/Scripts/filter-test-logs
Labels: unsafe-merge-queue, Tools / Tests

#43418 [GARDENING] REGRESSION(291808@main): fast/text/international/generic-font-family-language-traditional.html is a constant ImageOnlyFailure
  LayoutTests/platform/mac/TestExpectations
Labels: unsafe-merge-queue, Text

#43419 [Gardening] New Test(292363@main): [ iOS ] imported/w3c/web-platform-tests/trusted-types/DedicatedWorker-constructor-from-SharedWorker.html is a flaky failure.
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#43259 [macOS][GPUP] Address sandbox telemetry for IOKit user client IOAudioControlUserClient
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
Labels: unsafe-merge-queue, WebKit Process Model

#43415 Unreviewed non-unified source build fix 2025-04 (part 1)
  Source/JavaScriptCore/heap/StructureAlignedMemoryAllocator.cpp
  Source/WebCore/css/CSSBorderImage.h
  Source/WebCore/css/CSSStyleRule.cpp
  Source/WebCore/css/DOMMatrixReadOnly.cpp
  Source/WebCore/css/parser/CSSParserFastPaths.cpp
  Source/WebCore/css/parser/CSSParserImpl.cpp
  Source/WebCore/css/parser/CSSPropertyParser.cpp
  Source/WebCore/css/parser/CSSPropertyParserConsumer+AngleDefinitions.h
  Source/WebCore/css/parser/CSSPropertyParserConsumer+Animations.h
  Source/WebCore/css/parser/CSSPropertyParserConsumer+Easing.h
  Source/WebCore/css/parser/CSSPropertyParserConsumer+Font.h
  Source/WebCore/css/parser/CSSPropertyParserConsumer+LengthDefinitions.h
  Source/WebCore/html/canvas/CanvasStyle.cpp
  Source/WebCore/rendering/style/DropShadowFilterOperationWithStyleColor.cpp
  Source/WebCore/svg/properties/SVGAnimatedPrimitiveProperty.h
Labels: unsafe-merge-queue, New Bugs

#43364 [JSC] Add signpost intervals for compiler queued and ready time
  Source/JavaScriptCore/jit/JITPlan.cpp
  Source/JavaScriptCore/jit/JITPlan.h
  Source/JavaScriptCore/jit/JITWorklist.cpp
  Source/WTF/wtf/SystemTracing.h
Labels: JavaScriptCore

#43360 Web Inspector: Replace uses of var(--console-prompt-min-height) in styles unrelated to the Console Prompt
  Source/WebInspectorUI/UserInterface/Views/LayerDetailsSidebarPanel.css
  Source/WebInspectorUI/UserInterface/Views/LayerTreeDetailsSidebarPanel.css
  Source/WebInspectorUI/UserInterface/Views/NavigationSidebarPanel.css
  Source/WebInspectorUI/UserInterface/Views/Variables.css
Labels: merge-queue, Web Inspector

#43425 [ Gardening ][ iOS MacOS ] TestWebKitAPI.URLSchemeHandler.Exceptions (api-tests) is a flaky timeout
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKURLSchemeHandler-1.mm
Labels: unsafe-merge-queue

#43359 Web Inspector: Elements: show a badge for nodes to quickly jump to the assigned `<slot>`
  LayoutTests/inspector/css/nodeLayoutFlagsChanged-SlotAssigned-expected.txt
  LayoutTests/inspector/css/nodeLayoutFlagsChanged-SlotAssigned.html
  LayoutTests/inspector/dom/requestAssignedSlot-expected.txt
  LayoutTests/inspector/dom/requestAssignedSlot.html
  Source/JavaScriptCore/inspector/protocol/CSS.json
  Source/JavaScriptCore/inspector/protocol/DOM.json
  Source/WebCore/dom/Node.cpp
  Source/WebCore/dom/ShadowRoot.h
  Source/WebCore/dom/SlotAssignment.cpp
  Source/WebCore/dom/SlotAssignment.h
  Source/WebCore/inspector/InspectorInstrumentation.cpp
  Source/WebCore/inspector/InspectorInstrumentation.h
  Source/WebCore/inspector/agents/InspectorCSSAgent.cpp
  Source/WebCore/inspector/agents/InspectorCSSAgent.h
  Source/WebCore/inspector/agents/InspectorDOMAgent.cpp
  Source/WebCore/inspector/agents/InspectorDOMAgent.h
  Source/WebInspectorUI/Localizations/en.lproj/localizedStrings.js
  Source/WebInspectorUI/UserInterface/Models/DOMNode.js
  Source/WebInspectorUI/UserInterface/Views/DOMTreeContentView.js
  Source/WebInspectorUI/UserInterface/Views/DOMTreeElement.js
Labels: Web Inspector

#43350 AX: Store AXIsolatedObject properties in a vector rather than a hashmap
  Source/WebCore/accessibility/AXLogger.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.h
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.h
  Source/WebCore/accessibility/isolatedtree/mac/AXIsolatedObjectMac.mm
Labels: Accessibility

#43427 Unreviewed, reverting 292998@main (3c0f4f4c663a)
  Source/WebKit/SaferCPPExpectations/ForwardDeclCheckerExpectations
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeEventDispatcher.cpp
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: unsafe-merge-queue, WebKit2

#43376 [Model Element] Enable stereo content rendering for simulator
  Source/WebKit/UIProcess/ios/WKPageHostedModelView.mm
Labels: merge-queue, WebKit Misc.

#43393 [ResourceMonitor] Add telemetry to measure unloading events.
  Source/WebCore/loader/ResourceMonitor.cpp
  Source/WebCore/page/DiagnosticLoggingKeys.cpp
  Source/WebCore/page/DiagnosticLoggingKeys.h
  Source/WebCore/page/LocalFrame.cpp
Labels: merge-queue, New Bugs

#43431 [Gardening]: [Sequoia Debug EWS] ipc/send-gpu-GetShareableBitmap-RemoteRenderingBackend.html is timing out
  LayoutTests/platform/mac-wk2/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#43433 [Gardening] [ iOS ] fast/loader/redirect-to-invalid-url-using-meta-refresh-calls-policy-delegate.html is a flaky failure.
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#43270 [macOS][GPU] Enforce IOKit restrictions on IOAudioEngineUserClient
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
Labels: unsafe-merge-queue, WebKit Process Model

#43162 AX: [AX Thread Text APIs] atLineBoundaryForDirection doesn't return true for positions right before <br> tags
  LayoutTests/accessibility/mac/line-boundary-at-br-expected.txt
  LayoutTests/accessibility/mac/line-boundary-at-br.html
  LayoutTests/platform/mac-wk1/TestExpectations
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/accessibility/AXCoreObject.h
  Source/WebCore/accessibility/AXTextMarker.cpp
Labels: merge-queue, Accessibility

#42993 Synchronize WPT svg/embedded
  LayoutTests/TestExpectations
  LayoutTests/imported/w3c/resources/resource-files.json
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-crossorigin.sub.html
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-embedding-nested-data-url-expected.html
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-embedding-nested-data-url-png-expected.html
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-embedding-nested-data-url-png.html
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-embedding-nested-data-url.html
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-embedding-nested-external-data-url-png-expected.html
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-embedding-nested-external-data-url-png.html
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-embedding-nested-http-url.sub-expected-mismatch.html
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-embedding-nested-http-url.sub.html
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-embedding-nesteder-data-url-expected.html
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-embedding-nesteder-data-url.html
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-embedding-svg-viewref-with-viewbox-expected.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-embedding-svg-with-auto-height-expected.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-embedding-svg-with-auto-height.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-embedding-svg-with-fractional-viewbox-expected.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-embedding-svg-with-fractional-viewbox.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-embedding-svg-with-near-integral-width-expected.html
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-embedding-svg-with-near-integral-width-ref.html
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-embedding-svg-with-near-integral-width.html
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-embedding-svg-with-viewport-units-expected.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-embedding-svg-with-viewport-units-inline-style-expected.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-fractional-width-vertical-fidelity-expected.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-fractional-width-vertical-fidelity-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-modify-href-1-expected.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-modify-href-1.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-modify-href-2-expected.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-modify-href-2.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-modify-href-3-expected.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-modify-href-3.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-remove-href-1-expected.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-remove-href-1.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-remove-href-2-expected.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-remove-href-2.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-remove-href-3-expected.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/image-remove-href-3.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/support/external-with-data-url.svg
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/support/w3c-import.log
  LayoutTests/imported/w3c/web-platform-tests/svg/embedded/w3c-import.log
  LayoutTests/platform/mac/imported/w3c/web-platform-tests/svg/embedded/image-embedding-svg-viewref-with-viewbox-expected.txt
  LayoutTests/platform/mac/imported/w3c/web-platform-tests/svg/embedded/image-embedding-svg-with-viewport-units-expected.txt
  LayoutTests/platform/mac/imported/w3c/web-platform-tests/svg/embedded/image-embedding-svg-with-viewport-units-inline-style-expected.txt
Labels: merge-queue, SVG

#43417 Fix smart pointer warnings in ScreenCaptureKitCaptureSource
  Source/WebCore/platform/mediastream/mac/ScreenCaptureKitCaptureSource.mm
Labels: merge-queue, New Bugs

#43265 [macOS][GPUP] Enforce IOKit user client filtering for IOAudioControlUserClient
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
Labels: unsafe-merge-queue, WebKit Process Model

#43436 Adding Utku Uckun to contributor's list
  metadata/contributors.json
Labels: unsafe-merge-queue

#43421 Address Safer CPP warnings in WebProcessProxy.cpp
  Source/WebKit/UIProcess/WebProcessProxy.cpp
Labels: merge-queue, New Bugs

#43438 AX: Utku Uckun is only a contributor, not a reviewer
  metadata/contributors.json
Labels: unsafe-merge-queue, Accessibility

#43440 Import Logging.h in WKBaseScrollView to avoid a unified sources snafu
  Source/WebKit/UIProcess/ios/WKBaseScrollView.mm
Labels: WebKit Misc.

#43271 [macOS][GPUP] Enforce IOKit restrictions on user client AudioAUUC
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
Labels: unsafe-merge-queue, WebKit Process Model

#43420 Omit CertificateInfo from FrameInfoData unless requested
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
  Source/WebKit/WebProcess/WebPage/WebFrame.h
  Source/WebKit/WebProcess/WebPage/WebPage.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
Labels: unsafe-merge-queue, WebKit Misc.

#43332 AX: Stop caching AXProperty::AncestorFlags and remove support for ancestor-flags powered APIs, NSAccessibilityHasDocumentRoleAncestorAttribute and NSAccessibilityHasWebApplicationAncestorAttribute
  LayoutTests/accessibility/ancestor-computation-expected.txt
  LayoutTests/accessibility/display-contents/role-row-headers-expected.txt
  LayoutTests/accessibility/image-link-expected.txt
  LayoutTests/accessibility/image-map2-expected.txt
  LayoutTests/accessibility/internal-link-anchors2-expected.txt
  LayoutTests/accessibility/ios-simulator/ancestor-computation-expected.txt
  LayoutTests/accessibility/ios-simulator/ancestor-computation.html
  LayoutTests/accessibility/mac/aria-columnrowheaders-expected.txt
  LayoutTests/accessibility/mac/bounds-for-range-expected.txt
  LayoutTests/accessibility/mac/document-attributes-expected.txt
  LayoutTests/accessibility/mac/document-links-expected.txt
  LayoutTests/accessibility/mac/internal-link-anchors-expected.txt
  LayoutTests/accessibility/table-attributes-expected.txt
  LayoutTests/accessibility/table-cell-spans-expected.txt
  LayoutTests/accessibility/table-cells-expected.txt
  LayoutTests/accessibility/table-multiple-tbodies-expected.txt
  LayoutTests/accessibility/table-one-cell-expected.txt
  LayoutTests/accessibility/table-thead-tfoot-expected.txt
  LayoutTests/accessibility/table-with-rules-expected.txt
  LayoutTests/accessibility/transformed-element-expected.txt
  LayoutTests/platform/glib/TestExpectations
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  LayoutTests/platform/mac/accessibility/lists-expected.txt
  LayoutTests/platform/mac/accessibility/math-multiscript-attributes-expected.txt
  Source/WebCore/accessibility/AXCoreObject.h
  Source/WebCore/accessibility/AXLogger.cpp
  Source/WebCore/accessibility/AccessibilityObject.cpp
  Source/WebCore/accessibility/AccessibilityObject.h
  Source/WebCore/accessibility/ios/WebAccessibilityObjectWrapperIOS.mm
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.cpp
  Source/WebCore/accessibility/isolatedtree/AXIsolatedObject.h
  Source/WebCore/accessibility/isolatedtree/AXIsolatedTree.h
  Source/WebCore/accessibility/mac/CocoaAccessibilityConstants.h
  Source/WebCore/accessibility/mac/WebAccessibilityObjectWrapperMac.mm
  Tools/DumpRenderTree/AccessibilityUIElement.cpp
  Tools/DumpRenderTree/AccessibilityUIElement.h
  Tools/DumpRenderTree/ios/AccessibilityUIElementIOS.mm
  Tools/DumpRenderTree/mac/AccessibilityUIElementMac.mm
  Tools/WebKitTestRunner/InjectedBundle/AccessibilityUIElement.cpp
  Tools/WebKitTestRunner/InjectedBundle/AccessibilityUIElement.h
  Tools/WebKitTestRunner/InjectedBundle/Bindings/AccessibilityUIElement.idl
  Tools/WebKitTestRunner/InjectedBundle/ios/AccessibilityUIElementIOS.mm
  Tools/WebKitTestRunner/InjectedBundle/mac/AccessibilityUIElementMac.mm
Labels: merge-queue, Accessibility

#43156 Repeated querySelector('[attrib=values]') calls are slow.
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Document.h
  Source/WebCore/dom/Element.cpp
  Source/WebCore/dom/SelectorQuery.cpp
Labels: merge-queue, New Bugs

#43429 Remove an impossible error case in Document::urlForBindings()
  Source/WebCore/dom/Document.cpp
Labels: merge-queue

#43273 [macOS][GPUP] Enforce IOKit filter for user client related to camera
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
Labels: unsafe-merge-queue, WebKit Process Model

#43442 Unreviewed, reverting 293057@main (7db7879d3a86)
  Source/WebKit/SaferCPPExpectations/ForwardDeclCheckerExpectations
  Source/WebKit/SourcesCocoa.txt
  Source/WebKit/UIProcess/RemoteLayerTree/mac/RemoteLayerTreeEventDispatcher.mm
  Source/WebKit/WebKit.xcodeproj/project.pbxproj
Labels: merge-queue, WebKit2

#43172 HDR suppression: All windows the same, suppress when entire app goes to background
  Source/WebKit/UIProcess/mac/WebViewImpl.h
  Source/WebKit/UIProcess/mac/WebViewImpl.mm
Labels: merge-queue, Layout and Rendering

#43426 Give GPUProcess the extended VA entitlement
  Source/WebKit/Scripts/process-entitlements.sh
Labels: merge-queue, WebKit Misc.

#43396 'color' shouldn't be a high-priority property
  Source/WebCore/css/CSSProperties.json
Labels: merge-queue, CSS

#43439 [JSC] Not using libpas when DebugHeap is enabled
  Source/JavaScriptCore/heap/StructureAlignedMemoryAllocator.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#43289 REGRESSION (281882@main): LayoutTests/fast/repaint/content-visibility-hidden-container-with-abs-pos-c-v-auto-child.html fails.
  LayoutTests/fast/repaint/content-visibility-hidden-container-with-abs-pos-c-v-auto-child-reftest-expected.html
  LayoutTests/fast/repaint/content-visibility-hidden-container-with-abs-pos-c-v-auto-child-reftest.html
  LayoutTests/fast/repaint/incorrect-repaint-when-child-layer-overflows-expected.txt
  Source/WebCore/rendering/RenderElement.cpp
  Source/WebCore/rendering/RenderLayer.cpp
Labels: merge-queue, New Bugs

#43449 REGRESSION(293083@main): StructureAlignedMemoryAllocator.cpp(189,10): error: private field 'm_useDebugHeap' is not used [-Werror,-Wunused-private-field]
  Source/JavaScriptCore/heap/StructureAlignedMemoryAllocator.cpp
Labels: unsafe-merge-queue, New Bugs

#43316 Consider exposing CSRC information for RTCEncodedVideoStream
  LayoutTests/http/wpt/webrtc/audio-video-transform.js
  LayoutTests/http/wpt/webrtc/audiovideo-script-transform-expected.txt
  LayoutTests/http/wpt/webrtc/audiovideo-script-transform.html
  LayoutTests/imported/w3c/web-platform-tests/webrtc-encoded-transform/script-metadata-transform.https-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/webrtc-encoded-transform/w3c-import.log
  Source/ThirdParty/libwebrtc/Configurations/libwebrtc.exp
  Source/WebCore/Configurations/WebCore.xcconfig
  Source/WebCore/Modules/mediastream/RTCEncodedAudioFrame.idl
  Source/WebCore/Modules/mediastream/RTCEncodedVideoFrame.idl
  Source/WebCore/Modules/mediastream/RTCRtpTransformableFrame.h
  Source/WebCore/Modules/mediastream/libwebrtc/LibWebRTCRtpTransformBackend.cpp
  Source/WebCore/Modules/mediastream/libwebrtc/LibWebRTCRtpTransformableFrame.cpp
  Source/WebCore/Modules/mediastream/libwebrtc/LibWebRTCRtpTransformableFrame.h
Labels: WebRTC

#42258 Changes in the "alg" JWK member for Ed25519
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/ec_importKey_failures_ECDH.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/ec_importKey_failures_ECDH.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/ec_importKey_failures_ECDSA.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/ec_importKey_failures_ECDSA.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/importKey_failures.js
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/okp_importKey_Ed25519.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/okp_importKey_Ed25519.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/okp_importKey_failures_Ed25519.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/okp_importKey_failures_Ed25519.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/okp_importKey_failures_Ed448.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/okp_importKey_failures_Ed448.https.any.worker-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/okp_importKey_failures_X448.https.any-expected.txt
  LayoutTests/imported/w3c/web-platform-tests/WebCryptoAPI/import_export/okp_importKey_failures_X448.https.any.worker-expected.txt
  Source/WebCore/crypto/keys/CryptoKeyOKP.cpp
Labels: merge-queue, WebCore Misc.

#43453 Unreviewed, fix build for Debian Stable after 293020@main
  Source/WTF/wtf/glib/SysprofAnnotator.h
Labels: unsafe-merge-queue, WPE WebKit

#43456 [GTK] Fix build after recent breakage
  Tools/TestRunnerShared/PlatformGTK.cmake
Labels: unsafe-merge-queue, WebKitGTK

#43277 [macOS][GPUP] Enforce IOKit user client filtering for camera related user client
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
Labels: unsafe-merge-queue, WebKit Process Model

#43408 Update fast/encoding/idn-security.html for new ICU versions
  LayoutTests/fast/encoding/idn-security-expected.txt
  LayoutTests/fast/encoding/idn-security.html
  LayoutTests/platform/mac-wk1/TestExpectations
Labels: merge-queue, Tools / Tests

#43460 Introduce OS(ANDROID) to simplify preprocessor guards
  Source/WTF/wtf/PlatformOS.h
  Source/WebCore/platform/graphics/angle/PlatformDisplayANGLE.cpp
  Source/WebCore/platform/graphics/skia/FontCacheSkia.cpp
Labels: merge-queue, Platform

#43279 [macOS][GPUP] Enforce IOKit user client filtering for AppleAVDUserClient
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
Labels: unsafe-merge-queue, WebKit Process Model

#43464 [GTK] Fix clang-18 build in wkdev-sdk
  Source/WebKit/WebProcess/WebPage/gtk/WebPrintOperationGtk.cpp
Labels: unsafe-merge-queue, WebKitGTK

#43441 Address more Safer CPP failures in WebKit/Shared
  Source/WebKit/Platform/cocoa/PaymentAuthorizationPresenter.mm
  Source/WebKit/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncountedLocalVarsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UnretainedLocalVarsCheckerExpectations
  Source/WebKit/Shared/API/Cocoa/WKRemoteObject.mm
  Source/WebKit/Shared/API/Cocoa/WKRemoteObjectCoder.mm
  Source/WebKit/Shared/ApplePay/ApplePayPaymentSetupFeatures.mm
  Source/WebKit/Shared/ApplePay/cocoa/DeferredPaymentRequestCocoa.mm
  Source/WebKit/Shared/ApplePay/cocoa/PaymentSetupConfigurationCocoa.mm
  Source/WebKit/Shared/ApplePay/cocoa/WebPaymentCoordinatorProxyCocoa.h
  Source/WebKit/Shared/ApplePay/cocoa/WebPaymentCoordinatorProxyCocoa.mm
  Source/WebKit/Shared/ApplePay/mac/WebPaymentCoordinatorProxyMac.mm
  Source/WebKit/Shared/JavaScriptEvaluationResult.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerBackingStore.mm
  Source/WebKit/Shared/RemoteLayerTree/RemoteLayerTreePropertyApplier.mm
  Source/WebKit/Shared/cf/CoreIPCSecKeychainItem.h
Labels: WebKit2

#42982 Add Quirks for UA on iPad for tiktok.com
  Source/WebCore/page/Quirks.cpp
  Source/WebCore/page/Quirks.h
  Source/WebKit/UIProcess/ios/WebPageProxyIOS.mm
Labels: WebKit Misc.

#43443 hotels.com: images only appear after scrolling past obscured content inset areas
  LayoutTests/TestExpectations
  LayoutTests/fast/css/cocoa/content-visibility-with-obscured-insets-expected.txt
  LayoutTests/fast/css/cocoa/content-visibility-with-obscured-insets.html
  LayoutTests/platform/ios/TestExpectations
  LayoutTests/platform/mac-wk2/TestExpectations
  Source/WTF/Scripts/Preferences/UnifiedWebPreferences.yaml
  Source/WebCore/dom/ContentVisibilityDocumentState.cpp
  Source/WebCore/page/IntersectionObserver.cpp
  Source/WebCore/page/IntersectionObserver.h
  Source/WebCore/page/LocalFrameView.cpp
  Source/WebCore/page/LocalFrameView.h
  Source/WebKit/Shared/Cocoa/WebPreferencesDefaultValuesCocoa.mm
  Source/WebKit/Shared/WebPreferencesDefaultValues.cpp
  Source/WebKit/Shared/WebPreferencesDefaultValues.h
Labels: New Bugs

#43281 [macOS][GPUP] Enforce IOKit user client filtering for IOSurfaceAcceleratorClient
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
Labels: WebKit Process Model

#43282 [macOS][GPUP] Enforce IOKit user client filtering for AppleVideoToolboxParavirtualizationUserClient
  Source/WebKit/GPUProcess/mac/com.apple.WebKit.GPUProcess.sb.in
Labels: WebKit Process Model

#43398 "excludeMatches" array in scripting.registerContentScripts() API is ignored
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIScriptingCocoa.mm
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIScripting.mm
Labels: unsafe-merge-queue, WebKit Extensions

#43291 [iOS][GPUP] Enforce IOKit user client filtering for IOSurfaceAcceleratorClient
  Source/WebKit/Resources/SandboxProfiles/ios/com.apple.WebKit.GPU.sb.in
Labels: unsafe-merge-queue, WebKit Process Model

#43451 [JSC] Add convertUInt32ToDouble / convertUInt32ToFloat
  Source/JavaScriptCore/assembler/MacroAssembler.cpp
  Source/JavaScriptCore/assembler/MacroAssembler.h
  Source/JavaScriptCore/assembler/MacroAssemblerARM64.h
  Source/JavaScriptCore/assembler/MacroAssemblerX86_64.h
  Source/JavaScriptCore/b3/B3LowerToAir.cpp
  Source/JavaScriptCore/b3/air/AirOpcode.opcodes
  Source/JavaScriptCore/b3/testb3.h
  Source/JavaScriptCore/b3/testb3_1.cpp
  Source/JavaScriptCore/b3/testb3_3.cpp
  Source/JavaScriptCore/bytecode/InlineCacheCompiler.cpp
  Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp
  Source/JavaScriptCore/wasm/WasmBBQJIT64.cpp
Labels: unsafe-merge-queue, JavaScriptCore

#43437 AX: Make accessibility/mac/basic-embed-pdf-accessibility.html more resilient to unimportant PDFKit behavior differences
  LayoutTests/accessibility/mac/basic-embed-pdf-accessibility-expected.txt
  LayoutTests/accessibility/mac/basic-embed-pdf-accessibility.html
Labels: merge-queue, Accessibility

#43224 Navigation to a different text fragment on a page leaves the first highlighted.
  LayoutTests/http/tests/scroll-to-text-fragment/clear-on-new-fragment-navigation-expected.html
  LayoutTests/http/tests/scroll-to-text-fragment/clear-on-new-fragment-navigation.html
  LayoutTests/platform/gtk/http/tests/scroll-to-text-fragment/clear-on-new-fragment-navigation-expected.html
  LayoutTests/platform/mac-wk1/http/tests/scroll-to-text-fragment/clear-on-new-fragment-navigation-expected.html
  LayoutTests/platform/win/http/tests/scroll-to-text-fragment/clear-on-new-fragment-navigation-expected.html
  LayoutTests/platform/wpe/http/tests/scroll-to-text-fragment/clear-on-new-fragment-navigation-expected.html
  Source/WebCore/page/LocalFrameView.cpp
Labels: merge-queue, WebKit Misc.

#43459 [JSC] Replace layout test for `Number.isFinite` with regular stress tests
  JSTests/stress/Number-isNumber-basic.js
  LayoutTests/js/script-tests/Number-isFinite.js
Labels: unsafe-merge-queue, JavaScriptCore

#43465 Web Inspector: Update User Agent string overrides aligned with Safari 18.4
  Source/WebInspectorUI/UserInterface/Views/OverrideDeviceSettingsPopover.js
Labels: merge-queue, Web Inspector

#43397 Invalidate FontCascadeCache on SVGTextMetrics
  LayoutTests/platform/mac/TestExpectations
  Source/WebCore/rendering/svg/SVGTextMetricsBuilder.cpp
Labels: merge-queue, SVG

#43434 Invalidate element when added as touch event handler
  Source/WebCore/dom/Document.cpp
Labels: unsafe-merge-queue, New Bugs

#43374 Reduce use of memcpy/memset in CryptoAlgorithmAESCFBOpenSSL.cpp
  Source/WebCore/crypto/openssl/CryptoAlgorithmAESCFBOpenSSL.cpp
Labels: unsafe-merge-queue, New Bugs

#43461 Reuse hasPendingActivity() in ImageLoader
  Source/WebCore/loader/ImageLoader.cpp
Labels: merge-queue, Images

#43328 http/tests/security/wrong-global-object-after-javascript-url.html hits an assertion
  Source/WebCore/loader/LocalFrameLoaderClient.h
  Source/WebCore/page/LocalFrameView.cpp
  Source/WebCore/page/LocalFrameView.h
  Source/WebKit/WebProcess/WebCoreSupport/WebLocalFrameLoaderClient.cpp
  Source/WebKit/WebProcess/WebCoreSupport/WebLocalFrameLoaderClient.h
Labels: unsafe-merge-queue, Page Loading

#43469 Add more smart pointers to UIProcess/WebAuthentication
  Source/WebKit/SaferCPPExpectations/UnretainedLocalVarsCheckerExpectations
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/CcidService.mm
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/LocalAuthenticator.mm
  Source/WebKit/UIProcess/WebAuthentication/Cocoa/WebAuthenticatorCoordinatorProxy.mm
  Source/WebKit/UIProcess/WebAuthentication/Mock/MockLocalConnection.mm
Labels: unsafe-merge-queue, New Bugs

#43473 AX: Attachment elements don't emit an attachment character with ENABLE(AX_THREAD_TEXT_API)
  LayoutTests/accessibility-isolated-tree/TestExpectations
  LayoutTests/accessibility/mac/attachment-element-replacement-character-expected.txt
  LayoutTests/accessibility/mac/attachment-element-replacement-character.html
  Source/WebCore/accessibility/AccessibilityRenderObject.cpp
Labels: merge-queue, Accessibility

#43470 [JSC] Fix inverted condition in partial loop unrolling and clarify logic with shouldFullyUnroll()
  JSTests/stress/loop-unrolling-variable-with-inverted-condition.js
  Source/JavaScriptCore/dfg/DFGLoopUnrollingPhase.cpp
Labels: merge-queue, New Bugs

#43475 Use explicit line-height in recently added grid test.
  LayoutTests/imported/w3c/web-platform-tests/css/css-grid/grid-extrinsically-sized-mutations.html
Labels: New Bugs

#43445 FontCacheCoreText.cpp: Avoid unsafe forward declaration
  Source/WebCore/SaferCPPExpectations/ForwardDeclCheckerExpectations
  Source/WebCore/platform/graphics/cocoa/FontCacheCoreText.cpp
Labels: Text

#43483 New Test(292677@main): [ iOS ] editing/selection/ios/caret-rect-after-inserting-newlines-in-textarea.html is a constant failure.
  LayoutTests/editing/selection/ios/caret-rect-after-inserting-newlines-in-textarea.html
  LayoutTests/platform/ios/TestExpectations
Labels: merge-queue, New Bugs

#43424 Use mach_vm_map and copy instead of mach_vm_remap in setPermissionsOfConfigPage
  Source/WTF/wtf/WTFConfig.cpp
Labels: merge-queue

#43493 [Gardening] REGRESSION(290131@main - 290177@main): [ iOS Debug ] fast/viewport/ios/width-is-device-width-overflowing-body-overflow-hidden.html is a flaky crash.
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#42756 Minor cleanups identified during review of ComplexTextController
  Source/WebCore/Headers.cmake
  Source/WebCore/SourcesCocoa.txt
  Source/WebCore/platform/Cairo.cmake
  Source/WebCore/platform/Skia.cmake
  Source/WebCore/platform/graphics/ComplexTextController.cpp
  Source/WebCore/platform/graphics/FontCascade.cpp
  Source/WebCore/platform/graphics/FontCascade.h
  Source/WebCore/platform/graphics/FontCascadeInlines.h
  Source/WebCore/platform/graphics/WidthIterator.cpp
  Source/WebCore/platform/graphics/cairo/FontCairoHarfbuzzNG.cpp
  Source/WebCore/platform/graphics/cairo/FontCascadeCairoInlines.h
  Source/WebCore/platform/graphics/cocoa/FontCascadeCocoa.cpp
  Source/WebCore/platform/graphics/cocoa/FontCascadeCocoaInlines.h
  Source/WebCore/platform/graphics/coretext/FontCascadeCoreText.cpp
  Source/WebCore/platform/graphics/coretext/FontPlatformDataCoreText.cpp
  Source/WebCore/platform/graphics/skia/FontCascadeSkia.cpp
  Source/WebCore/platform/graphics/skia/FontCascadeSkiaInlines.h
  Source/WebCore/platform/graphics/win/FontCascadeWinInlines.h
  Source/WebCore/platform/graphics/win/FontWin.cpp
Labels: merge-queue, New Bugs

#43496 [Gardening] New Test(270856@main): [ iOS Debug ] imported/w3c/web-platform-tests/navigation-api/scroll-behavior/manual-scroll-after-resolve.html is a flaky failure.
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#43498 Updating test expectations for supposedly flakey scroll to text fragment test.
  LayoutTests/platform/ios/imported/w3c/web-platform-tests/scroll-to-text-fragment/scroll-to-text-fragment-expected.txt
Labels: unsafe-merge-queue, WebKit Misc.

#43362 Return the correct origins in permissions.getAll() if all urls and/or hosts match pattern(s) have been granted
  Source/WebKit/UIProcess/Extensions/Cocoa/API/WebExtensionContextAPIPermissionsCocoa.mm
  Source/WebKit/UIProcess/Extensions/WebExtension.h
  Tools/TestWebKitAPI/Tests/WebKitCocoa/WKWebExtensionAPIPermissions.mm
Labels: unsafe-merge-queue, WebKit Extensions

#43491 Unreviewed non-unified source build fix 2025-04 (part 2)
  Source/WebCore/Modules/mediastream/RTCRtpTransformableFrame.h
  Source/WebCore/style/MatchResultCache.h
Labels: unsafe-merge-queue, New Bugs

#43482 Revert 'Use NSStepperCell to draw spin buttons rather than CoreUI'
  Source/WebCore/PAL/PAL.xcodeproj/project.pbxproj
  Source/WebCore/PAL/pal/spi/cocoa/NSStepperCellSPI.h
  Source/WebCore/platform/graphics/mac/controls/ControlFactoryMac.h
  Source/WebCore/platform/graphics/mac/controls/ControlFactoryMac.mm
  Source/WebCore/platform/graphics/mac/controls/InnerSpinButtonMac.h
  Source/WebCore/platform/graphics/mac/controls/InnerSpinButtonMac.mm
  Source/WebCore/platform/mac/ThemeMac.mm
Labels: unsafe-merge-queue, Forms

#43485 Address more Safer CPP failures in WebKit/UIProcess
  Source/WebKit/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UnretainedLocalVarsCheckerExpectations
  Source/WebKit/Shared/WebContextMenuItemData.cpp
  Source/WebKit/Shared/WebContextMenuItemData.h
  Source/WebKit/UIProcess/Cocoa/WebPageProxyCocoa.mm
  Source/WebKit/UIProcess/Downloads/DownloadProxy.cpp
  Source/WebKit/UIProcess/RemotePageDrawingAreaProxy.cpp
  Source/WebKit/UIProcess/WebContextMenuProxy.h
  Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp
  Source/WebKit/UIProcess/mac/WebColorPickerMac.mm
  Source/WebKit/UIProcess/mac/WebContextMenuProxyMac.h
  Source/WebKit/UIProcess/mac/WebContextMenuProxyMac.mm
  Source/WebKit/UIProcess/mac/WebDataListSuggestionsDropdownMac.mm
  Source/WebKit/UIProcess/mac/WebDateTimePickerMac.mm
  Source/WebKit/UIProcess/mac/WebPageProxyMac.mm
  Source/WebKit/UIProcess/mac/WebPopupMenuProxyMac.mm
Labels: unsafe-merge-queue, WebKit2

#43450 Adjust the easyjet Quirk for fencing it with needsQuirk
  Source/WebCore/loader/FrameLoader.cpp
Labels: merge-queue, WebKit Misc.

#43508 [Gardening] REGRESSION(291064@main - 291088@main): [ iOS Debug ] imported/w3c/IndexedDB-private-browsing/idbcursor_iterating.html is a flaky crash.
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, New Bugs

#43407 AX: [AX Thread Text APIs] Soft line breaks trim "space" from text runs
  LayoutTests/accessibility/isolated-tree/soft-line-breaks-include-space-expected.txt
  LayoutTests/accessibility/isolated-tree/soft-line-breaks-include-space.html
  LayoutTests/accessibility/mac/line-range-at-soft-breaks-expected.txt
  LayoutTests/accessibility/mac/line-range-at-soft-breaks.html
  LayoutTests/accessibility/mac/line-requests-starting-after-first-line-expected.txt
  LayoutTests/accessibility/mac/line-requests-starting-after-first-line.html
  LayoutTests/accessibility/mac/text-marker-range-across-soft-break-includes-space-expected.txt
  LayoutTests/accessibility/mac/text-marker-range-across-soft-break-includes-space.html
  Source/WebCore/accessibility/AXTextRun.h
  Source/WebCore/accessibility/AccessibilityRenderObject.cpp
Labels: merge-queue, Accessibility

#43501 CSSSegmentedFontFace: Avoid uncounted rerence to ref-counted member
  Source/WebCore/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebCore/css/CSSSegmentedFontFace.cpp
Labels: merge-queue, CSS

#43489 [Gardening] Mark input-date-field-labels-and-value-changes.html as a flaky failure
  LayoutTests/accessibility-isolated-tree/TestExpectations
Labels: merge-queue, Accessibility

#43500 AX: WebKit fails to emit text inside images and doesn't emit attachment characters for ARIA image with ENABLE(AX_THREAD_TEXT_APIS)
  LayoutTests/accessibility-isolated-tree/TestExpectations
  LayoutTests/accessibility/mac/object-replacement-with-no-rendered-children-at-node-start-expected.txt
  LayoutTests/accessibility/mac/object-replacement-with-no-rendered-children-at-node-start.html
  LayoutTests/accessibility/mac/object-replacement-with-rendered-children-at-node-start-expected.txt
  LayoutTests/accessibility/mac/object-replacement-with-rendered-children-at-node-start.html
  Source/WebCore/accessibility/AXTextMarker.cpp
  Source/WebCore/accessibility/AccessibilityRenderObject.cpp
Labels: Accessibility

#43502 ASSERTION FAILED: Unsafe to ref/deref from different threads : m_isOwnedByMainThread == isMainThread() : under WebCore::JSTrustedTypePolicy::visitAdditionalChildren<JSC::SlotVisitor>
  Source/WebCore/dom/CreateHTMLCallback.h
  Source/WebCore/dom/CreateScriptCallback.h
  Source/WebCore/dom/CreateScriptURLCallback.h
Labels: unsafe-merge-queue, DOM

#43516 [Page color sampling] hulu.com: bottom fixed container is incorrectly treated as fixed container edge
  LayoutTests/fast/page-color-sampling/color-sampling-ignores-backdrop-filters-expected.txt
  LayoutTests/fast/page-color-sampling/color-sampling-ignores-backdrop-filters.html
  LayoutTests/fast/page-color-sampling/color-sampling-ignores-empty-container-expected.txt
  LayoutTests/fast/page-color-sampling/color-sampling-ignores-empty-container.html
  Source/WebCore/page/LocalFrameView.cpp
  Source/WebCore/page/PageColorSampler.cpp
  Source/WebCore/page/PageColorSampler.h
  Source/WebCore/platform/BoxSides.h
  Source/WebCore/platform/FixedContainerEdges.h
  Source/WebKit/Shared/WebCoreArgumentCoders.serialization.in
  Source/WebKit/UIProcess/API/Cocoa/WKWebView.mm
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivate.h
  Source/WebKit/UIProcess/API/Cocoa/WKWebViewPrivateForTesting.h
  Tools/WebKitTestRunner/cocoa/UIScriptControllerCocoa.mm
Labels: merge-queue, New Bugs

#43490 Fix up autofocus candidate appending steps
  LayoutTests/imported/w3c/web-platform-tests/html/interaction/focus/the-autofocus-attribute/same-origin-autofocus-expected.txt
  Source/WebCore/dom/Document.cpp
  Source/WebCore/dom/Element.cpp
Labels: merge-queue

#43481 [WGSL] Resolve ambiguities in parsing minus minus tokens
  Source/WebGPU/WGSL/Lexer.cpp
  Source/WebGPU/WGSL/Parser.cpp
  Source/WebGPU/WGSL/ParserPrivate.h
  Source/WebGPU/WGSL/tests/minus-minus-ambiguity.wgsl
Labels: WebGPU

#43479 [WGSL] Structs containing runtime-sized arrays should not be nested
  LayoutTests/fast/webgpu/array-length-pointer-parameter-expected.txt
  LayoutTests/fast/webgpu/array-length-pointer-parameter.html
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/tests/array-length-pointer2.wgsl
  Source/WebGPU/WGSL/tests/struct-errors.wgsl
Labels: merge-queue, WebGPU

#43480 [WGSL] Validate that function call expressions must return a value
  Source/WebGPU/WGSL/TypeCheck.cpp
  Source/WebGPU/WGSL/tests/aliases.wgsl
  Source/WebGPU/WGSL/tests/phony-assignment.wgsl
  Source/WebGPU/WGSL/tests/var-initialization-with-var.wgsl
Labels: merge-queue, WebGPU

#43488 [WGSL] Should not unpack values from pointers to non-resources
  Source/WebGPU/WGSL/GlobalVariableRewriter.cpp
  Source/WebGPU/WGSL/tests/packing-pointer-arguments.wgsl
Labels: merge-queue, WebGPU

#42388 Move `CanvasRenderingContext2DBase::drawText` to `OffscreenCanvasRenderingContext2D`
  Source/WebCore/html/canvas/CanvasRenderingContext2DBase.cpp
  Source/WebCore/html/canvas/CanvasRenderingContext2DBase.h
  Source/WebCore/html/canvas/OffscreenCanvasRenderingContext2D.cpp
  Source/WebCore/html/canvas/OffscreenCanvasRenderingContext2D.h
Labels: New Bugs

#43363 Address Safer CPP warnings in WebFrame.cpp
  Source/WebKit/SaferCPPExpectations/UncheckedCallArgsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncountedCallArgsCheckerExpectations
  Source/WebKit/SaferCPPExpectations/UncountedLocalVarsCheckerExpectations
  Source/WebKit/WebProcess/WebPage/WebFrame.cpp
Labels: merge-queue, New Bugs

#43484 Have ASSERTs fail using __builtin_trap on ASAN builds.
  Source/WTF/wtf/Assertions.cpp
  Source/WTF/wtf/Assertions.h
Labels: merge-queue, New Bugs

#43541 [Gardening] Re-import html/editing/the-hidden-attribute WPT
  LayoutTests/platform/ios/TestExpectations
Labels: unsafe-merge-queue, Tools / Tests, skip-ews

#43515 Address more Safer CPP failures in WebKit/UIProcess/Cocoa
  Source/WebKit/SaferCPPExpectations/UnretainedLocalVarsCheckerExpectations
  Source/WebKit/UIProcess/Cocoa/AutomationClient.mm
  Source/WebKit/UIProcess/Cocoa/AuxiliaryProcessProxyCocoa.mm
  Source/WebKit/UIProcess/Cocoa/BrowsingWarningCocoa.mm
  Source/WebKit/UIProcess/Cocoa/GPUProcessProxyCocoa.mm
  Source/WebKit/UIProcess/Cocoa/LegacyCustomProtocolManagerClient.mm
  Source/WebKit/UIProcess/Cocoa/LegacyDownloadClient.mm
  Source/WebKit/UIProcess/Cocoa/MediaPermissionUtilities.mm
  Source/WebKit/UIProcess/Cocoa/NavigationState.mm
  Source/WebKit/UIProcess/Cocoa/PageClientImplCocoa.mm
  Source/WebKit/UIProcess/Cocoa/PreferenceObserver.mm
  Source/WebKit/UIProcess/Cocoa/SOAuthorization/SOAuthorizationSession.mm
  Source/WebKit/UIProcess/Cocoa/VideoPresentationManagerProxy.mm
  Source/WebKit/UIProcess/Cocoa/WKFullKeyboardAccessWatcher.mm
  Source/WebKit/UIProcess/Cocoa/WebInspectorPreferenceObserver.mm
  Source/WebKit/UIProcess/Cocoa/WebPagePreferencesLockdownModeObserver.mm
  Source/WebKit/UIProcess/MediaPermissionUtilities.h
Labels: merge-queue, WebKit2

#43504 WebPageProxy::loadData should use baseURL to help decide what site the initial process should contain
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Tools/TestWebKitAPI/Tests/WebKitCocoa/SiteIsolation.mm
Labels: unsafe-merge-queue, WebKit Process Model

#43523 Simplify RemotePageProxy
  Source/WebKit/UIProcess/RemotePageProxy.cpp
  Source/WebKit/UIProcess/RemotePageProxy.h
  Source/WebKit/UIProcess/WebPageProxy.cpp
  Source/WebKit/UIProcess/WebPageProxy.h
Labels: unsafe-merge-queue, WebKit Process Model

#43513 [SVG2] Sync `SVGSVGElement` interface to have `getElementById` nullable
  Source/WebCore/svg/SVGSVGElement.idl
Labels: merge-queue, SVG

#43422 Reduce use of memcpy in CryptoAlgorithmRSA_OAEPOpenSSL.cpp
  Source/WebCore/crypto/openssl/CryptoAlgorithmRSA_OAEPOpenSSL.cpp
Labels: merge-queue, WebCore Misc.
